<template>
  <div class="home" style="background: white">
    <img style="width: 50%" alt="Vue logo" src="../assets/atexo.png">
    <div style="font-size: xxx-large">Concentrateur annonces</div>
  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
