@import "styles";
.datePickBtn {
  background-color: lightgrey;
  color: grey;
  border: 10px solid lightgrey;
  width: auto;
  height: auto;
  height: 45px;
}

.heightValue {
  height: 40px;
}

.center {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left !important;
}
