<div *ngIf="message && contexteFound()" class="container-fluid msv2">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-default mb-4">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 control-label fsize-16" for="templateCritere">Type de message :</label>
            <div class="col-md-9">
              <ng-select (change)="onChangeTemplate()" [(ngModel)]="selectedTemplate" [clearable]="false"
                         [disabled]="message.templateFige"
                         [closeOnSelect]="true" [items]="templates" bindLabel="mailType.label" id="templateCritere"
                         [clearAllText]="'Tout effacer'"
                         name="templateCritere"
                         placeholder="Sélectionnez">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="information d-inline-block w-100">
        <em class="information-icon fas fa-exclamation fa-2x txt-blue p-4 mr-2"></em>
        <span class="txt-blue p-2">Les champs avec une <span style="color: red;font-weight: bold">*</span> sont obligatoires</span>
      </div>
      <div class="card card-default mb-4">
        <div class="card-header">
          Options d'envoi et de réponse
        </div>
        <div class="card-body">
          <h5 class="card-title">Options d'envoi</h5>
          <hr/>
          <fieldset class="form-group">
            <div class="row">
              <legend class="control-label col-md-3 pt-0">Modalité d'envoi :</legend>
              <div class="col-md-9">
                <div class="checkbox">
                  <input [(ngModel)]="message.typeMessage" [disabled]="envoiModaliteFigee" checked
                         class="checkbox-input" id="gridRadios1" name="gridRadios1" type="radio" value="TypeMessage4">
                  <label class="checkbox-label" for="gridRadios1"
                         title="Un courriel contenant un lien d'accès sera envoyé à l'adresse mail du destinataire. Au clic sur ce lien, un accusé de réception est généré, et le destinataire accède au contenu du message.">
                    Courrier électronique avec accusé de réception généré lors de l'accès au contenu du courrier
                  </label>
                  <span class="fas fa-info-circle" style="color:blue; margin-left: 1em;"
                        tooltip="Un courriel contenant un lien d'accès sera envoyé à l'adresse mail du destinataire. Au clic sur ce lien, un accusé de réception est généré, et le destinataire accède au contenu du message."></span>
                </div>
                <div class="checkbox">
                  <input [(ngModel)]="message.typeMessage" [disabled]="envoiModaliteFigee" class="checkbox-input"
                         id="gridRadios2"
                         name="gridRadios2" type="radio" value="TypeMessage1">
                  <label class="checkbox-label" for="gridRadios2"
                         title="Le message et les pièces jointes seront envoyés directement à l'adresse mail du destinataire. La somme des pièces jointes ne doit pas excéder {{ getMaxTailleFichierByType('TypeMessage1') }} Mo.">
                    Courrier électronique simple sans accusé de réception
                  </label>
                  <span class="fas fa-info-circle" style="color:blue; margin-left: 1em;"
                        tooltip="Le message et les pièces jointes seront envoyés directement à l'adresse mail du destinataire. La somme des pièces jointes ne doit pas excéder {{ getMaxTailleFichierByType('TypeMessage1') }} Mo."></span>
                </div>
                <!--
                <div class="alert alert-primary mt-3" role="alert">
                  La modalité d'envoi <strong>Courrier électronique avec accusé de réception généré lors de l'accès au
                  contenu du courrier</strong> vous permet de joindre un dossier volumineux à votre courrier
                </div>
                -->
              </div>
            </div>
          </fieldset>
          <h5 class="card-title">Options de réponse</h5>
          <hr/>
          <fieldset class="form-group">
            <div *ngIf="message.typeMessage == 'TypeMessage4'" class="row">
              <legend class="control-label col-md-3 pt-0">Le destinataire doit pouvoir répondre à ce message :
              </legend>
              <div class="col-md-9 d-inline-flex">
                <div class="checkbox checkbox-inline">
                  <input [(ngModel)]="message.reponseAttendue" [disabled]="reponseAttendueFigee" [value]="false"
                         class="checkbox-input" id="gridRadios3" name="gridRadios3" type="radio"/>
                  <label class="checkbox-label" for="gridRadios3">
                    Non
                  </label>
                </div>
                <div class="checkbox checkbox-inline ml-2">
                  <input [(ngModel)]="message.reponseAttendue" [disabled]="reponseAttendueFigee" [value]="true"
                         class="checkbox-input" id="gridRadios4" name="gridRadios4" type="radio">
                  <label class="checkbox-label" for="gridRadios4">
                    Oui
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="message.typeMessage == 'TypeMessage4' && message.reponseAttendue" class="row">
              <legend class="control-label col-md-3 pt-0">Définir une date limite de réponse :
              </legend>
              <div class="col-md-9 d-inline-flex">
                <div class="checkbox checkbox-inline">
                  <input [(ngModel)]="message.dateLimiteReponseAttendue" [disabled]="dateLimiteAttendueFigee"
                         [value]="false"
                         class="checkbox-input" id="dateLimiteReponseAttendue1" name="dateLimiteReponseAttendue1"
                         type="radio"/>
                  <label class="checkbox-label" for="dateLimiteReponseAttendue1">
                    Non
                  </label>
                </div>
                <div class="checkbox checkbox-inline ml-2">
                  <input (change)="setDateTime()" [(ngModel)]="message.dateLimiteReponseAttendue"
                         [disabled]="dateLimiteAttendueFigee" [value]="true"
                         class="checkbox-input" id="gridRadiosDateReponse2" name="gridRadiosDateReponse2" type="radio">
                  <label class="checkbox-label" for="gridRadiosDateReponse2">
                    Oui
                  </label>
                </div>
              </div>
            </div>
            <div
              *ngIf="message.typeMessage == 'TypeMessage4' && message.dateLimiteReponseAttendue == true && message.reponseAttendue"
              class="form-group row center">
              <legend class="control-label col-md-3 pt-0">Date limite de réponse : <span style="color:red">*</span>
              </legend>
              <div class="col-md-9 col center" style="padding-left: 2.5em;">
                <input [(bsValue)]="message.dateLimiteReponseAsDate"
                       [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', isAnimated: true, initCurrentTime: false}"
                       bsDatepicker
                       #dateLimitePicker="bsDatepicker"
                       [minDate]="minDate"
                       [ngClass]="{ 'is-invalid': hasErrors('dateLimiteReponse') }"
                       class="form-control form-control-lg col-md-2 text-center" readonly
                       placeholder="Date limite de réponse"
                       style="width: 120px !important;"
                       type="text">
                <span (click)="dateLimitePicker.toggle()" class="btn  btn-md btn-outline-secondary"><i
                  class="fas fa-calendar-alt"></i></span>
                <span class="col-md-1 text-center" style="width: 16px !important;">à</span>
                <span class="col-md-2"><timepicker #timePicker [(ngModel)]="dateLimiteTime" name="timePcker"
                                                   [showMeridian]="false"></timepicker></span>
              </div>
              <div *ngIf="hasErrors('dateLimiteReponse')" class="text-danger">Champ obligatoire</div>
            </div>
            <div
              *ngIf="message.typeMessage == 'TypeMessage4' && message.dateLimiteReponseAttendue == true && message.reponseAttendue"
              class="row">
              <legend class="control-label col-md-3 pt-0">L'accès par les agents au contenu de la réponse du
                destinataire est bloqué jusqu'à cette date :
              </legend>
              <div class="col-md-9 d-inline-flex">
                <div class="checkbox checkbox-inline">
                  <input [(ngModel)]="message.reponseBloque" [disabled]="agentBloqueFigee" [value]="false"
                         class="checkbox-input" id="agentContenueBloque1" name="agentContenueBloque1" type="radio"/>
                  <label class="checkbox-label" for="agentContenueBloque1">
                    Non
                  </label>
                </div>
                <div class="checkbox checkbox-inline ml-2">
                  <input [(ngModel)]="message.reponseBloque" [disabled]="agentBloqueFigee" [value]="true"
                         class="checkbox-input" id="agentContenueBloque2" name="agentContenueBloque2" type="radio">
                  <label class="checkbox-label" for="agentContenueBloque2">
                    Oui
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div *ngIf="message.typeMessage == 'TypeMessage1'" class="row">
            <div class="alert alert-primary mt-3 col-md-12 d-inline-block">
              <em class="fas fa-exclamation-triangle fa-2x p-0"></em>
              <span>
                <p>Le destinataire ne peut pas répondre à un courrier électronique simple sans accusé de réception.</p>
                <p>Les options de réponse ne sont disponibles que pour les <strong>Courriers électroniques avec accusé
                  de réception généré lors de l'accès au contenu du courrier.</strong></p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-default mb-4">
        <div class="card-header">
          Message à envoyer
        </div>
        <div class="card-body">
          <h5 class="card-title">Message</h5>
          <hr/>
          <div class="row">
            <legend class="control-label col-md-3 pt-0">Destinataire(s) :<span class="p-1 required">*</span></legend>
            <div class="col-md-9">
              <ng-select #destinatairesSelect [(ngModel)]="destinatairesSelectionnes"
                         [addTagText]="'Appuyez sur la touche Entrée pour ajouter'"
                         (paste)="onPaste($event,destinatairesSelect)" [addTag]="onAddFreeText" [groupBy]="'type'"
                         [ngClass]="{ 'is-invalid': hasErrors('destinataires') }"
                         [notFoundText]="'Aucun resultat. Appuyez sur la touche Entrée pour ajouter.'"
                         [searchWhileComposing]="true" [selectableGroupAsModel]="false"
                         [items]="allDestinataires" [multiple]="true" [selectableGroup]="true"
                         [clearAllText]="'Tout effacer'"
                         [searchFn]="searchByNomPrenomMail"
                         bindLabel="nomContactDest" id="contactsOptions" name="contactsOptions"
                         placeholder="Sélectionnez">
                <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                  <span class="ng-value-label">{{ item | destinataireLabel}}</span>
                  <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">X</span>
                </ng-template>
                <ng-template let-item="item" ng-option-tmp>
                  {{item.disabled}}
                  <span class="ng-value-label">{{item | destinataireLabel }}</span>
                </ng-template>
              </ng-select>
              <em class="text-italic">Les adresses mail peuvent être copiées et collées dans ce champ, séparées par un
                espace, une virgule, ou un point-virgule.</em>
              <div *ngIf="hasErrors('destinataires')" class="text-danger">Champ obligatoire</div>
            </div>
          </div>
          <div class="form-group row">
            <legend class="col-form-label col-md-3 pt-0">Objet du message :<span class="p-1 required">*</span></legend>
            <div class="col-md-9">
              <input [(ngModel)]="message.objet" class="form-control form-control-lg" id="messageObjet" maxlength="120"
                     [ngClass]="{ 'is-invalid': hasErrors('objet') }" name="messageObjet"
                     type="text"/>
              <div class="text-danger" *ngIf="hasErrors('objet')">Champ obligatoire</div>
            </div>
          </div>
          <div class="row">
            <legend class="control-label col-md-3 pt-0">Corps du message :<span class="p-1 required">*</span></legend>
            <div class="col-md-9">
              <messagerie-editeur-html [hasErrors]="hasErrors('contenu')" [maxlength]="message?.maxCaracteresContenu"
                                       [message]="message"></messagerie-editeur-html>
              <div class="text-danger" *ngIf="hasErrors('contenu')">Champ obligatoire</div>
              <br/>
              <div>
                <b>Le bloc contextuel suivant est automatiquement intégré dans votre message :</b>
              </div>
              <div [innerHTML]="message.cartouche | safeHtml"></div>
            </div>
          </div>
          <h5 class="card-title">Pièces jointes</h5>
          <hr/>
          <div class="row">
            <legend class="control-label col-md-3 pt-0">Pièce(s) à joindre au message :</legend>
            <div class="col-md-9">
              <messagerie-document-upload
                (onOpenEspaceDocumentaire)="onOpenEspaceDocumentaire.emit()" (onPieceJointeRemoved)="onPieceJointeRemoved.emit($event)"
                [piecesJointes]="message.piecesJointes"
                (sizeChange)="uploadedFileSizeChange($event)" [message]="message"
              ></messagerie-document-upload>
            </div>
          </div>
          <div *ngIf="message?.dossiersVolumineux?.length > 0" class="row">
            <legend class="control-label col-md-3 pt-0">Dossier volumineux à joindre au courrier :</legend>
            <div class="col-md-9">
              <div *ngIf="message.typeMessage != 'TypeMessage4'" class="alert alert-primary mt-3 col-md-12"
                   role="alert">
                <p>Les options relatives aux dossiers volumineux ne sont disponibles que pour les <strong>Courriers
                  électroniques avec accusé de réception généré lors de l'accès au contenu du courrier.</strong></p>
              </div>
              <ng-select *ngIf="message.typeMessage == 'TypeMessage4'" [(ngModel)]="message.dossierVolumineux"
                         [clearAllText]="'Tout effacer'" [items]="message.dossiersVolumineux">
                <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                  <span class="ng-value-label">{{ item.nom }} (Identifiant: {{ item.uuidReference }}
                    - Taille: {{ item.taille | fileSize }}
                    - Ajouté le: {{ item.dateCreationAsDate | date:'dd/MM/yyyy - HH:mm' }})</span>
                  <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">X</span>
                </ng-template>
                <ng-template let-item="item" ng-option-tmp>
                  {{item.disabled}}
                  <span class="ng-value-label">{{ item.nom }} (Identifiant: {{ item.uuidReference }}
                    - Taille: {{ item.taille | fileSize }}
                    - Ajouté le: {{ item.dateCreationAsDate | date:'dd/MM/yyyy - HH:mm' }})</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-default mb-4">
        <div class="card-body d-flex">
          <button (click)="annulerMessage()" class="btn  btn-md btn-outline-secondary mr-auto" type="button"><i
            class="fa fa-angle-double-left m-r-1"></i>Retour
          </button>
          <button (click)="enregistrer()" class="btn  btn-md btn-outline-secondary m-r-4" type="button"><i
            class="fa fa-save m-r-1"></i>Enregistrer
          </button>
          <button (click)="confirmer()" class="btn  btn-md btn-primary" type="button"><i
            class="fa fa-envelope m-r-1"></i>Envoyer
            le message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
