<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{titre | translate}} <span *ngIf="!!reference"> {{reference}}</span>
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>

  <div class="modal-body pr-0 pl-0 pb-0">
    <div class="col-12" *ngFor="let message of messages">
      {{message | translate}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-sm"
            (click)="closeModal()">
      <i class="ft-x"></i> {{"creationClause.btn.annuler" | translate}}
    </button>
    <button (click)="submit()"
            class="btn btn-success btn-sm ml-1">
      <i class="ft-check"></i>
      {{"creationClause.btn.valider" | translate}}
    </button>
  </div>
</div>

