<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><%=Prado::localize('DEFINE_TEXT_CONSULTATIONS')%></a>&gt; <a href="#"><%=Prado::localize('TEXT_FICHE_MARCHE')%></a> &gt; <%=Prado::localize('TEXT_AVENANT')%></div>
		<!--Debut Bloc Avenant-->
		
		<com:TPanel ID="erreur" cssClass="form-bloc-erreur" Attributes.style="display:none" Visible="<%=$this->_showErreurSurFormat%>">
        	<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            <div class="content">
            	<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-erreur.gif" class="picto-erreur" alt="Erreur" />
				<div class="message bloc-700">
					<!--Debut Message type d'erreur general-->
					<span><com:TLabel ID="labelMessage" Attributes.style="color:red" Text=""/></span>
					<!--Fin Message type d'erreur general-->
				</div>
                <div class="breaker"></div>
            </div>
        <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</com:TPanel>
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><%=Prado::localize('TEXT_CARACTERISTIQUES_GENERALES_AVENANT')%></span></div>

			<div class="content">
				<!--  -->
				<div class="line">
					<div class="intitule-180"><label for="numAvenant"><%=Prado::localize('TEXT_N_AVENANT')%></label> :</div>
					<com:TTextBox ID="numAvenant" ToolTip="<%=Prado::localize('TEXT_N_AVENANT')%>" CssClass="input-250" />
				</div>
				<!--  -->

				<div class="line">
					<div class="intitule-180"><label for="typeAvenant"><%=Prado::localize('TEXT_TYPE_AVENANT')%></label> :</div>
					<com:TDropDownList ID="typeAvenant" ToolTip="<%=Prado::localize('TEXT_TYPE_AVENANT')%>" CssClass="select-250"/>
				</div>
				<!--  -->
				<div class="line">
					<div class="intitule-180"><label for="objetAvenant"><%=Prado::localize('TEXT_OBJET_AVENANT')%></label> :</div>
					<com:TTextBox ID="objetAvenant" ToolTip="<%=Prado::localize('TEXT_OBJET_AVENANT')%>" CssClass="long-550" />
				</div>
				<!--  -->
				<div class="line">
					<div class="intitule-180"><label for="montantAvenantHt"><%=Prado::localize('TEXT_MONTANT_AVENANT_HT')%></label> :</div>
					<div class="content-bloc-auto">
						<com:TTextBox ID="montantAvenantHt" ToolTip="<%=Prado::localize('TEXT_MONTANT_AVENANT_HT')%>" CssClass="input-70 float-left-fix" />
						<div class="intitule-bloc"><%=Prado::localize('DEFINE_EURO_HT')%></div>
						<span id="montantAvenantHt" style="display:none" title='Champ numérique' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ numérique' /></span>
					</div>
				</div>
				<!--  -->
				<div class="line">
					<div class="intitule-180"><label for="montantAvenantTtc"><%=Prado::localize('TEXT_MONTANT_AVENANT_TTC')%></label> :</div>

					<div class="content-bloc-auto">
						<com:TTextBox ID="montantAvenantTtc" ToolTip="<%=Prado::localize('TEXT_MONTANT_AVENANT_TTC')%>" CssClass="input-70 float-left-fix" />
						<div class="intitule-bloc">EUR TTC</div>
						<span id="montantAvenantTtc" style="display:none" title='Champ numérique' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ numérique' /></span>
					</div>
				</div>
				<!--  -->
				<div class="spacer"></div>
				<div class="line">

					<div class="intitule-bloc intitule-300"><label for="pourcentAugmentationMarcheInitial"><%=Prado::localize('TEXT_POURCENTAGE_AUGMENTATION_MARCHE_INITIAL')%></label> :</div>
					<div class="content-bloc-auto">
						<com:TTextBox ID="pourcentAugmentationMarcheInitial" ToolTip="<%=Prado::localize('TEXT_POURCENTAGE_AUGMENTATION_MARCHE_INITIAL')%>" CssClass="input-70 float-left-fix" />
						<div class="intitule-bloc">%</div>
						<span id="pourcentAugmentationMarcheInitial" style="display:none" title='Champ numérique' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ numérique' /></span>
					</div>
				</div>

				<!--  -->
				<div class="line">
					<div class="intitule-bloc intitule-300"><label for="pourcentAugmentationCumul"><%=Prado::localize('TEXT_POURCENTAGE_AUGMENTATION_CUMULE')%></label> :</div>
					<div class="content-bloc-auto">
						<com:TTextBox ID="pourcentAugmentationCumul" ToolTip="<%=Prado::localize('TEXT_POURCENTAGE_AUGMENTATION_CUMULE')%>" CssClass="input-70 float-left-fix"  />
						<div class="intitule-bloc">%</div>
						<span id="pourcentAugmentationCumul" style="display:none" title='Champ numérique' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ numérique' /></span>
					</div>
				</div>
				<!--  -->
				<div class="line">
					<div class="intitule-bloc intitule-300"><label for="montantAvenantCumulHt"><%=Prado::localize('TEXT_MONTANT_TOTAL_MARCHE_TOUS_AVENANTS_CUMULES')%></label> :</div>
					<div class="content-bloc-auto">
						<com:TTextBox ID="montantAvenantCumulHt" ToolTip="<%=Prado::localize('TEXT_MONTANT_TOTAL_MARCHE_TOUS_AVENANTS_CUMULES')%>" CssClass="input-70 float-left-fix" />
						<div class="intitule-bloc"><%=Prado::localize('DEFINE_EURO_HT')%></div>
						<span id="montantAvenantCumulHt" style="display:none" title='Champ numérique' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ numérique' /></span>
					</div>
				</div>
				<div class="spacer"></div>
          </div>
          <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
       </div>
            
				<!--Debut Bloc-->
				<div class="form-field">
					<div class="top">
						<span class="left">&nbsp;</span>
						<span class="right">&nbsp;</span>
						<span class="title italique"><%=Prado::localize('TEXT_OPERATIONS_VALIDATION_DECISION_SERVICE_VALIDATEUR')%></span>
					</div>
					<div class="content">
								<div class="line">
									<div class="intitule-bloc bloc-300"><label for="dateReceptionProjet"><%=Prado::localize('TEXT_DATE_RECEPTION_PROJET_PRESENTATION_AVENANT_SECRETARIAT_CAO')%></label> :</div>
									<div class="content-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateReceptionProjet" ToolTip="<%=Prado::localize('TEXT_DATE_RECEPTION_PROJET_PRESENTATION_AVENANT_SECRETARIAT_CAO')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateReceptionProjet'),'dd/mm/yyyy','');" />
											<span id="dateReceptionProjet" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="dateReceptionRapportAvenantSV"><%=Prado::localize('TEXT_DATE_RECEPTION_PROJET_PRESENTATION_AVENANT_CHARG_ETUDES_SERVICE_VALIDATEUR')%></label> :</div>
		
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateReceptionRapportAvenantSV" ToolTip="<%=Prado::localize('TEXT_DATE_RECEPTION_PROJET_PRESENTATION_AVENANT_CHARG_ETUDES_SERVICE_VALIDATEUR')%>"  />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateReceptionRapportAvenantSV'),'dd/mm/yyyy','');" />
											<span id="dateReceptionRapportAvenantSV" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
		
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="dateObservationsSVProjetRapport_Avenant"><%=Prado::localize('TEXT_DATE_FORMULATIONS_PREMIERES_OBSERVATIONS_SERVICE_VALIDATEUR')%></label> :</div>
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateObservationsSVProjetRapportAvenant" ToolTip="<%=Prado::localize('TEXT_PREMIERES_FORMULATIONS_SERVICE_VALIDATEUR_PROJET')%>"/>
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateObservationsSVProjetRapportAvenant'),'dd/mm/yyyy','');" />
											<span id="dateObservationsSVProjetRapportAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
		
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="dateRetourProjetRapport_Avenant"><%=Prado::localize('TEXT_DATE_RETOUR_PROJET_FINALISE')%></label> :</div>
		
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateRetourProjetRapportAvenant" ToolTip="<%=Prado::localize('TEXT_DATE_RETOUR_PROJET_FINALISE')%>"  />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateRetourProjetRapportAvenant'),'dd/mm/yyyy','');" />
											<span id="dateRetourProjetRapportAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
		
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="validationProjetRapport_Avenant"><%=Prado::localize('TEXT_DATE_VALIDATION_PROJET_RAPPORT_SERVICE_VALIDATEUR')%></label> :</div>
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="validationProjetRapportAvenant" ToolTip="<%=Prado::localize('TEXT_DATE_VALIDATION_PROJET_RAPPORT_SERVICE_VALIDATEUR')%>"  />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_validationProjetRapportAvenant'),'dd/mm/yyyy','');" />
											<span id="validationProjetRapportAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
		
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
								<div class="line">
									<div class="intitule-300"><label for="validationProjetRapportAvenantVuPar"><%=Prado::localize('TEXT_VU_PAR')%></label> :</div>
									<com:TDropDownList ID="validationProjetRapportAvenantVuPar" ToolTip="<%=Prado::localize('TEXT_VU_PAR')%>" CssClass="select-160"/>
								</div>
								
								<div class="breaker"></div>
								
								
					</div>
					<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</div>
				<div class="form-field">
					<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><%=Prado::localize('DEFINE_INFORMATIONS_COMPLEMENTAIRES')%></span></div>
						<div class="content">
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="dateCao"><%=Prado::localize('TEXT_DATE_CAO')%></label> :</div>
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateCao" ToolTip="<%=Prado::localize('TEXT_DATE_CAO')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateCao'),'dd/mm/yyyy','');" />
											<span id="dateCao" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->

								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="avisCAO"><%=Prado::localize('TEXT_AVIS_CAO')%></label> :</div>
									<com:TDropDownList ID="avisCAO" ToolTip="<%=Prado::localize('TEXT_AVIS_CAO')%>" CssClass="select-160"/>
								</div>                            
								<!--  -->
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="dateCp"><%=Prado::localize('TEXT_DATE_CP')%></label> :</div>
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateCp" ToolTip="<%=Prado::localize('TEXT_DATE_CP')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateCp'),'dd/mm/yyyy','');" />
											<span id="dateCp" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
								<div class="line">
									<div class="intitule-bloc intitule-300 red bold"><label for="dateSignatureAvenantParPA"><%=Prado::localize('TEXT_DATE_SIGNATURE_AVENANT_POUVOIR_ADJUDICATEUR')%></label> :</div>
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateSignatureAvenantParPA" ToolTip="<%=Prado::localize('TEXT_DATE_SIGNATURE_AVENANT_POUVOIR_ADJUDICATEUR')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateSignatureAvenantParPA'),'dd/mm/yyyy','');" />
											<span id="dateSignatureAvenantParPA" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								<!--  -->
								<div class="breaker"></div>
								
								
					</div>
					<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</div>
								
				<div class="form-field">
					<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title italique"><%=Prado::localize('TEXT_OPERATIONS_VALIDATION_CONTROLE_SERVICE_VALIDATEUR')%></span></div>
						<div class="content">
									<div class="line">
										<div class="intitule-bloc intitule-300"><label for="dateReceptionDossierCLParSV"><%=Prado::localize('TEXT_DATE_RECEPTION_DOSSIER_CONTROLE_LEGALITE_SERVICE_VALIDATEUR')%></label> :</div>
										<div class="intitule-bloc">
											<div class="calendar">
												<com:TTextBox ID="dateReceptionDossierCLParSV" ToolTip="<%=Prado::localize('TEXT_DATE_RECEPTION_DOSSIER_CONTROLE_LEGALITE_SERVICE_VALIDATEUR')%>"/>
												<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateReceptionDossierCLParSV'),'dd/mm/yyyy','');" />
												<span id="dateReceptionDossierCLParSV" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
											</div>
			
											<div class="info-aide-right">( jj/mm/aaaa )</div>
										</div>
									</div>
									<!--  -->
									<div class="line">
										<div class="intitule-bloc intitule-300"><label for="dateObservationsSVDossier_Avenant"><%=Prado::localize('TEXT_DATE_FORMULATIONS_PREMIERES_OBSERVATIONS_SERVICE')%></label> :</div>
			
										<div class="intitule-bloc">
											<div class="calendar">
												<com:TTextBox ID="dateObservationsSVDossierAvenant" ToolTip="<%=Prado::localize('TEXT_DATE_FORMULATIONS_PREMIERES_OBSERVATIONS_SERVICE')%>" />
												<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateObservationsSVDossierAvenant'),'dd/mm/yyyy','');" />
												<span id="dateObservationsSVDossierAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
											</div>
											<div class="info-aide-right">( jj/mm/aaaa )</div>
										</div>
									</div>
									<!--  -->

									<div class="line">
										<div class="intitule-bloc intitule-300"><label for="dateRetourDossierFinal_Avenant"><%=Prado::localize('TEXT_DATE_RETOUR_DOSSIER_FINALISE')%></label> :</div>
										<div class="intitule-bloc">
											<div class="calendar">
												<com:TTextBox ID="dateRetourDossierFinalAvenant" ToolTip="<%=Prado::localize('TEXT_DATE_RETOUR_DOSSIER_FINALISE')%>" />
												<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateRetourDossierFinalAvenant'),'dd/mm/yyyy','');" />
												<span id="dateRetourDossierFinalAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
											</div>
			
											<div class="info-aide-right">( jj/mm/aaaa )</div>
										</div>
									</div>
									<!--  -->
									<div class="line">
										<div class="intitule-bloc intitule-300"><label for="dateValidationDossierFinalise_Avenant"><%=Prado::localize('TEXT_DATE_VALIDATION_DOSSIER_FINALISE_SERVICE')%></label> :</div>
			
										<div class="intitule-bloc">
											<div class="calendar">
												<com:TTextBox ID="dateValidationDossierFinaliseAvenant" ToolTip="<%=Prado::localize('TEXT_DATE_VALIDATION_DOSSIER_FINALISE_SERVICE')%>" />
												<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateValidationDossierFinaliseAvenant'),'dd/mm/yyyy','');" />
												<span id="dateValidationDossierFinaliseAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
											</div>
											<div class="info-aide-right">( jj/mm/aaaa )</div>
										</div>
									</div>
									<!--  -->

									<div class="line">
										<div class="intitule-bloc intitule-300 red bold"><label for="dateTransmissionPrefectureAvenant"><%=Prado::localize('TEXT_DATE_TRANSMISSION_PREFECTURE')%></label> :</div>
										<div class="intitule-bloc">
											<div class="calendar">
												<com:TTextBox ID="dateTransmissionPrefectureAvenant" ToolTip="<%=Prado::localize('TEXT_DATE_TRANSMISSION_PREFECTURE')%></label> :</div>" />
												<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateTransmissionPrefectureAvenant'),'dd/mm/yyyy','');" />
												<span id="dateTransmissionPrefectureAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
											</div>
			
											<div class="info-aide-right">( jj/mm/aaaa )</div>
										</div>
									</div>
									<!--  -->
                                    <div class="line">
										<div class="intitule-300"><label for="dateNotification_AvenantVuPar"><%=Prado::localize('TEXT_VU_PAR')%></label> :</div>
										<com:TDropDownList ID="dateNotificationAvenantVuPar" ToolTip="<%=Prado::localize('TEXT_VU_PAR')%>" CssClass="select-160"/>
									</div>
									<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Debut Bloc Operations de validation Control Legalite-->
			
					<!--Debut Bloc Notification-->
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><%=Prado::localize('DESCRIPTION_NOTIFICATION')%></span></div>
						<div class="content">
								<div class="line">
									<div class="intitule-bloc intitule-300"><label for="dateNotificationAvenant"><%=Prado::localize('DATE_NOTIFICATION')%></label> :</div>
		
									<div class="intitule-bloc">
										<div class="calendar">
											<com:TTextBox ID="dateNotificationAvenant" ToolTip="<%=Prado::localize('DATE_NOTIFICATION')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateNotificationAvenant'),'dd/mm/yyyy','');" />
											<span id="dateNotificationAvenant" style="display:none" title='format erroné' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='format erroné' /></span>
										</div>
										<div class="info-aide-right">( jj/mm/aaaa )</div>
									</div>
								</div>
								
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>

		</div>
		<!--Fin Bloc Avenant-->
		<!--Debut Bloc Commentaires-->	
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><%=Prado::localize('DEFINE_TEXT_COMMENTAIRES')%></span></div>
			<div class="content">
				<div class="line">
					<div class="intitule-bloc bloc-180"><label for="commentairesAvenant"><%=Prado::localize('DEFINE_TEXT_COMMENTAIRES')%></label> :</div>
					<com:TTextBox TextMode="MultiLine" ID="commentairesAvenant" CssClass="long-550" ToolTip="<%=Prado::localize('DEFINE_TEXT_COMMENTAIRES')%>"/>
					<div class="breaker"></div>
				</div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Commentaires-->	
		<!--Debut line boutons-->
		<div class="boutons-line">

			<input type="button" class="bouton-annulation float-left" value="Annuler" title="<%=Prado::localize('TEXT_ANNULER_RETOUR_FICHE_MARCHE')%>" onclick="window.location.href='index.php?page=Agent.FicheMarche&idDE=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['idDE'])%>&idLot=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['idLot'])%>';" />
			<com:TButton CssClass="bouton-validation float-right" Text="Enregistrer" ToolTip="<%=Prado::localize('TEXT_ENREGISTRER_RETOUR_FICHE_MARCHE')%>" onclick="EnregistrerAvenant" Attributes.onclick="return verifierAjoutAvenant('Veuillez vérifier le format des champs suivants : ')" />
		</div>
		<!--Fin line boutons-->
    	<div class="breaker"></div>
    </div>
	<!--Fin colonne droite-->
</com:TContent>