<com:TContent ID="CONTENU_PAGE">
	<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_AIDE</com:TTranslate></a>&gt; <com:TTranslate>TEXT_OUTILS_INFORMATIQUES</com:TTranslate></div>

		<!--Debut Bloc Utilitaire telechargement des dossiers volumineux-->
		<com:TPanel cssclass="form-field" visible="<%=Application\Service\Atexo\Atexo_Module::isEnvolModuleActive()%>">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<div class="line">
					<div class="content-bloc bloc-450 blue bold"><com:TTranslate>UTILITAIRE_DOWNLOAD_DV</com:TTranslate></div>
					<div class="content-bloc bloc-300 blue bold center"><com:TTranslate>TELECHARGEMENT</com:TTranslate></div>
				</div>
				<div class="spacer-small"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer"></div><a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_UTILITAIRE_DOWNLOAD_DV_WINDOWS')%>" target="_blank"><com:TTranslate>UTILITAIRE_DOWNLOAD_DV_WINDOWS</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_UTILITAIRE_DOWNLOAD_DV_WINDOWS')%>" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/java.gif" alt="<com:TTranslate>UTILITAIRE_DOWNLOAD_DV_WINDOWS</com:TTranslate>" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="spacer"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer"></div><a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_UTILITAIRE_DOWNLOAD_DV_MAC')%>" target="_blank"><com:TTranslate>UTILITAIRE_DOWNLOAD_DV_MAC</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_UTILITAIRE_DOWNLOAD_DV_MAC')%>" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/java.gif" alt="<com:TTranslate>UTILITAIRE_DOWNLOAD_DV_MAC</com:TTranslate>" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="spacer"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer"></div><a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_UTILITAIRE_DOWNLOAD_DV_LINUX')%>" target="_blank"><com:TTranslate>UTILITAIRE_DOWNLOAD_DV_LINUX</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_UTILITAIRE_DOWNLOAD_DV_LINUX')%>" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/java.gif" alt="<com:TTranslate>UTILITAIRE_DOWNLOAD_DV_LINUX</com:TTranslate>" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</com:TPanel>
		<!--Fin Bloc  Utilitaire telechargement des dossiers volumineux-->
		<!--Debut Bloc Outils bureautique-->
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<div class="line">
					<div class="content-bloc bloc-450 blue bold"><com:TTranslate>TEXT_OUTILS_BUREAUTIQUE</com:TTranslate></div>
					<div class="content-bloc bloc-300 blue bold center"><com:TTranslate>TELECHARGEMENT</com:TTranslate></div>
				</div>
				<div class="spacer-small"></div>
				<div class="line">
					<div class="content-bloc bloc-450">
						<div class="spacer-small"></div>
						<a href="http://www.7-zip.org/download.html" target="_blank"><com:TTranslate>FILE_COMPRESSION_DECOMPRESSION_ZIP</com:TTranslate></a>
					</div>
					<div class="content-bloc bloc-300 center outil-col">
						<a href="http://www.7-zip.org/download.html" target="_blank">
							<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/logo-7zip.png" alt="Logo 7-zip" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" />
						</a>
					</div>
				</div>
				<div class="spacer"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer-small"></div><a href="http://www.adobe.com/fr/" target="_blank"><com:TTranslate>FILE_LECTURE_DOCUMENT_PDF</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="http://www.adobe.com/fr/" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/doc-pdf.gif" alt="Logo PDF" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="spacer"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer-small"></div><a href="http://www.pdfforge.org/products/pdfcreator/download" target="_blank"><com:TTranslate>FILE_GENERATION_DOCUMENT_PDF</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="http://www.pdfforge.org/products/pdfcreator/download" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/doc-pdf.gif" alt="Logo PDF" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="spacer"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer"></div><a href="http://fr.libreoffice.org/" target="_blank"><com:TTranslate>SUITE_OPEN_OFFICE</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="http://fr.libreoffice.org/" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/logo-libre-office.png" alt="Logo LibreOffice" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="spacer"></div>
				<div class="line">
					<div class="content-bloc bloc-450"><div class="spacer-small"></div><a href="http://www.autodesk.com/designreview-download" target="_blank"><com:TTranslate>TEXT_LECTURE_DOC_DWF</com:TTranslate></a></div>
					<div class="content-bloc bloc-300 center outil-col"><a href="http://www.autodesk.com/designreview-download" target="_blank"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dwf.gif" alt="Logo DWF" title="<com:TTranslate>TELECHARGEMENT</com:TTranslate>" /></a></div>
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Outils bureautique-->
		<div class="breaker"></div>
	</div>
</com:TContent>
