<com:TContent ID="CONTENU_PAGE">
<div id="container"></div>
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TTranslate>MODIFICATION_APRES_VALIDATION</com:TTranslate></div>
		<com:PanelMessageErreur ID="PanelNotAuthorizedToAccessThePage" />
		<com:TPanel ID="PanelAuthorizedToAccessThePage">
			<!--Debut Bloc Recap Consultation-->
			<com:AtexoValidationSummary  ValidationGroup="validateInfosConsultation" ID="divValidationSummary" />
				<com:PanelMessageErreur ID="panelMessageErreur"/>
				<com:ConsultationSummary ID="idConsultationSummary"/>
	            <com:TRadioButton Display="None" GroupName="allotissement" id="marcheUnique" CssClass="radio"  />
	            <com:TRadioButton  Display="None" 	GroupName="allotissement" id="alloti" CssClass="radio"  	/>
			<!--Fin Bloc Recap Consultation-->
			<!--Debut Bloc Modification de la consultation-->
			<h2><com:TTranslate>MODIFICATION_CONSULTATION</com:TTranslate></h2>
			<!--Debut Bloc Adresse de retrait des dossiers-->
			<com:TPanel ID="panelAdresseRetraitDossiers" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('ADRESSE_RETRAIT_DOSSIERS')%>"
							id="retraitDossierCheck" Attributes.title="<%=Prado::localize('ADRESSE_RETRAIT_DOSSIERS')%>"
							Attributes.class="check"
							Attributes.onclick="toggleMenu('divRetraitDossier');" />
					</span>
				</div>
				<div class="content">
					<div id="divRetraitDossier" style="display:none;">
						<!--Debut Ligne -->
						<div class="line">
							<div class="intitule-130 indent-20"><label for="add_RetraitDossier"><com:TTranslate>ADRESSE_RETRAIT_DOSSIERS</com:TTranslate> </label><span class="champ-oblig">*</span>  :</div>
							<com:TTextBox TextMode="MultiLine" ID="retraitDossiers"  Attributes.title="<%=Prado::localize('ADRESSE_RETRAIT_DOSSIERS')%>" cssClass="long" />
							<com:TCustomValidator
										ClientValidationFunction="validateRetraitDossierChanging"
										ID="validatorRetraitDossiers"
										ControlToValidate="retraitDossiers"
										ValidationGroup="validateInfosConsultation"
										Display="Dynamic"
										ErrorMessage="<%=Prado::localize('ADRESSE_RETRAIT_DOSSIERS')%>"
										EnableClientScript="true"
							 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
										<prop:ClientSide.OnValidationError>
			   				 				document.getElementById('divValidationSummary').style.display='';
			 							</prop:ClientSide.OnValidationError>
			         				</com:TCustomValidator>
						</div>
						<!--Fin Ligne -->
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Adresse de retrait des dossiers-->
			<!--Debut Bloc Adresse de depot des offres-->
			<com:TPanel ID="panelAdresseDepot" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span>
					<span class="right">&nbsp;</span><span class="title">
						<com:TCheckBox Text="<%=Prado::localize('ADRESSE_DEPOT_OFFRE')%>"
							id="depotOffresCheck" Attributes.title="<%=Prado::localize('ADRESSE_DEPOT_OFFRE')%>"
							cssClass="check" Attributes.onclick="toggleMenu('divDepotOffres');" />
					</span>
				</div>
				<div class="content">
					<div id="divDepotOffres" style="display:none;">
						<!--Debut Ligne -->
						<div class="line">
							<div class="intitule-130 indent-20"><label for="add_depotOffres"><com:TTranslate>ADRESSE_DEPOT_BR_OFFRE</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
							<com:TTextBox TextMode="MultiLine" ID="addDepotDossiers"  Attributes.title="<%=Prado::localize('ADRESSE_DEPOT_OFFRE')%>" cssClass="long" />
							<com:TCustomValidator
								ClientValidationFunction="validateAddDepotDossiersChanging"
								ID="validateDepotDossiersChanging"
								ControlToValidate="addDepotDossiers"
								ValidationGroup="validateInfosConsultation"
								Display="Dynamic"
								ErrorMessage="<%=Prado::localize('ADRESSE_DEPOT_OFFRE')%>"
								EnableClientScript="true"
					 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
								<prop:ClientSide.OnValidationError>
	   				 				document.getElementById('divValidationSummary').style.display='';
	 							</prop:ClientSide.OnValidationError>
	         				</com:TCustomValidator>
						</div>
						<!--Fin Ligne -->
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Adresse de depot des offres-->
			<!--Debut Bloc Lieu ouverture des plis-->
			<com:TPanel ID="panelLieuOuverturePlis" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span>
				<span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('LIEU_OUVERTURE_PLIS')%>"
							id="ouverturePlis" Attributes.title="<%=Prado::localize('LIEU_OUVERTURE_PLIS')%>"
							cssClass="check" Attributes.onclick="toggleMenu('divOuverturePlis');" />
					</span>
				</div>
				<div class="content">
					<div id="divOuverturePlis" style="display:none;">
						<!--Debut Ligne -->
						<div class="line">
							<div class="intitule-130 indent-20"><label for="add_ouverturePlis"><com:TTranslate>LIEU_OUVERTURE_PLIS</com:TTranslate></label><span class="champ-oblig">*</span>:</div>
							<com:TTextBox TextMode="MultiLine" ID="lieuOuverturePlis"  Attributes.title="<%=Prado::localize('LIEU_OUVERTURE_PLIS')%>" cssClass="long" />
							<com:TCustomValidator
								ClientValidationFunction="validateOuverturePlisChanging"
								ID="validatorOuverturePlisChanging"
								ControlToValidate="lieuOuverturePlis"
								ValidationGroup="validateInfosConsultation"
								Display="Dynamic"
								ErrorMessage="<%=Prado::localize('LIEU_OUVERTURE_PLIS')%>"
								EnableClientScript="true"
					 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
								<prop:ClientSide.OnValidationError>
	   				 				document.getElementById('divValidationSummary').style.display='';
	 							</prop:ClientSide.OnValidationError>
	         				</com:TCustomValidator>
						</div>
						<!--Fin Ligne -->
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Lieu ouverture des plis-->
			<!--Debut Bloc prix Aquisitaion Plans-->
				<com:TPanel ID="panelPrixAquisition" cssClass="form-field">
					<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
						<span class="title">
							<com:TCheckBox Text="<%=Prado::localize('PRIX_ACQUISITION_DES_PLANS')%>"
								id="prixAquisitaionPlansCheck" Attributes.title="<%=Prado::localize('PRIX_ACQUISITION_DES_PLANS')%>"
								cssClass="check"
								Attributes.onclick="toggleMenu('divPrixAquisition');" />
						</span>
					</div>
					<div class="content">
						<div id="divPrixAquisition" style="display:none;">
							<!--Debut Ligne -->
							<div class="line">
								<div class="intitule-150 indent-20"><label for="prixAquisitaionPlans"><com:TTranslate>PRIX_ACQUISITION_DES_PLANS</com:TTranslate> :</label></div>
									<div class="content-bloc-auto">
										<com:TTextBox ID="prixAquisitaionPlans" cssClass="montant float-left" Attributes.title="<%=Prado::localize('PRIX_ACQUISITION_DES_PLANS')%>" />
										<div class="intitule-bloc"><com:TTranslate>DEFINE_UNITE</com:TTranslate></div>
										<com:TCustomValidator
											ClientValidationFunction="validatePrixAquisitionChanging"
											ID="validatorPrixAquisitionChanging"
											ControlToValidate="prixAquisitaionPlans"
											ValidationGroup="validateInfosConsultation"
											Display="Dynamic"
											ErrorMessage="<%=Prado::localize('PRIX_ACQUISITION_DES_PLANS')%>"
											EnableClientScript="true"
								 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
											<prop:ClientSide.OnValidationError>
				   				 				document.getElementById('divValidationSummary').style.display='';
				 							</prop:ClientSide.OnValidationError>
				         				</com:TCustomValidator>
									</div>
							</div>
							<!--Fin Ligne -->
						</div>
						<div class="breaker"></div>
					</div>
					<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</com:TPanel>
			<!--Fin Bloc prix Aquisitaion Plans-->
			<!--Debut Bloc Caution Provisoire-->
			<com:TPanel ID="panelCautionProvisoire" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('CAUTION_PROVISOIRE')%>"
							id="cautionProvisoireCheck" Attributes.title="<%=Prado::localize('CAUTION_PROVISOIRE')%>"
							cssClass="check"
							Attributes.onclick="toggleMenu('divCautionProvisoire');" />
					</span>
				</div>
				<div class="content">
					<div id="divCautionProvisoire" style="display:none;">
						<!--Debut Ligne -->
						<com:TPanel ID="panelCautionProvisoireCons"cssClass="line">
							<div class="intitule-130 indent-20"><label for="cautionProvisoire"><com:TTranslate>CAUTION_PROVISOIRE</com:TTranslate> </label> :</div>
								<div class="content-bloc-auto">
									<com:TTextBox ID="cautionProvisoire" cssClass="montant float-left" Attributes.title="<%=Prado::localize('CAUTION_PROVISOIRE')%>" />
									<div class="intitule-bloc"><com:TTranslate>DEFINE_UNITE</com:TTranslate></div>
									<com:TCustomValidator
										ClientValidationFunction="validateCuationProvChanging"
										ID="validatorCuationProvChanging"
										ControlToValidate="cautionProvisoire"
										ValidationGroup="validateInfosConsultation"
										Display="Dynamic"
										ErrorMessage="<%=Prado::localize('CAUTION_PROVISOIRE')%>"
										EnableClientScript="true"
							 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
										<prop:ClientSide.OnValidationError>
			   				 				document.getElementById('divValidationSummary').style.display='';
			 							</prop:ClientSide.OnValidationError>
			         				</com:TCustomValidator>
								</div>
						</com:TPanel>
						<!--Fin Ligne -->
						<!--Debut Bloc caution Provisoire Lot-->
							<com:TRepeater ID="cautionProvisoireRepeater">
								<prop:ItemTemplate>
									<!--  *********** Debut LOT  ***************  -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-auto indent-20"><strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate> <com:TLabel ID="numLot" Text="<%#$this->Data->getLot()%>" /></strong></div>
									</div>
									<!--Fin Ligne -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-130 indent-20"><label for="cautionProvisoire"><com:TTranslate>CAUTION_PROVISOIRE</com:TTranslate></label> :</div>
										<div class="calendar indent-15">
											<com:TTextBox ID="cautionProvisoire"
												Text ="<%#$this->Data->getDonneComplementaire()? $this->Data->getDonneComplementaire()->getCautionProvisoire() : ''%>"
												cssClass="montant float-left"
												Attributes.title="<%=Prado::localize('CAUTION_PROVISOIRE')%>" />
												<div class="intitule-bloc indent-15"><com:TTranslate>DEFINE_UNITE</com:TTranslate></div>
										</div>
									</div>
									<!--Fin Ligne -->
									<div class="indent-25">
										<div class="separator bloc-740">&nbsp;</div>
									</div>
									<!--  *********** Fin LOT ***************  -->
								</prop:ItemTemplate>
							</com:TRepeater>
							<com:TCustomValidator
							 	ID="validatorCautionProvisoireLot"
								ValidationGroup="validateInfosConsultation" ControlToValidate="alloti"
								ClientValidationFunction="validateCautionLotChanging" Display="Dynamic"
								ErrorMessage="<%=Prado::localize('CAUTION_PROVISOIRE').' '.Prado::localize('DU_LOT')%>"
								EnableClientScript="true"  Text=" ">
								<prop:ClientSide.OnValidationError>
			 						document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							 </com:TCustomValidator>
						<!--Fin Bloc caution Provisoire Lot-->
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Caution Provisoire-->
			<!--Debut Bloc Qualification-->
			<com:TPanel ID="panelQualification" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('TEXT_QUALIFICATIONS')%>"
							id="qualificationCheck" Attributes.title="<%=Prado::localize('TEXT_QUALIFICATIONS')%>"
							cssClass="check"
							Attributes.onclick="toggleMenu('divQualification');" />
					</span>
				</div>
				<div class="content">
					<div id="divQualification" style="display:none;">
						<!--Debut Ligne -->
						<com:TPanel ID="panelQualifCons" cssClass="line">
								<div class="intitule-130 indent-20"><com:TTranslate>TEXT_QUALIFICATIONS</com:TTranslate> :</div>
								<div class="content-bloc-auto">
									<com:AtexoQualification  ID="qualification" />
								</div>
						</com:TPanel>
						<!--Fin Ligne -->
						<!--Debut Bloc qualification Lot-->
							<com:TRepeater ID="qualificationRepeater">
								<prop:ItemTemplate>
									<!--  *********** Debut LOT  ***************  -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-auto indent-20"><strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate> <com:TLabel ID="numLot" Text="<%#$this->Data->getLot()%>" /></strong></div>
									</div>
									<!--Fin Ligne -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-130 indent-20"><label for="qualification"><com:TTranslate>TEXT_QUALIFICATIONS</com:TTranslate></label> :</div>
										<div class="content-bloc-auto">
											<com:AtexoQualification IdsQualification="<%#base64_encode($this->Data->getQualification())%>" ID="qualification" />
										</div>
									</div>
									<!--Fin Ligne -->
									<div class="indent-25">
										<div class="separator bloc-740">&nbsp;</div>
									</div>
									<!--  *********** Fin LOT ***************  -->
								</prop:ItemTemplate>
							</com:TRepeater>
						<!--Fin Bloc qualification Lot-->
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Qualification-->
			<!--Debut Bloc Qualification-->
			<com:TActivePanel ID="panelAgrement" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('TEXT_AGREMENT')%>"
							id="agrementsCheck" Attributes.title="<%=Prado::localize('TEXT_AGREMENT')%>"
							cssClass="check"
							Attributes.onclick="toggleMenu('divAgrements');" />
					</span>
				</div>
				<div class="content">
					<div id="divAgrements" style="display:none;">
						<!--Debut Ligne -->
						<com:TPanel ID="panelAgrementsLot" cssClass="line">
								<div class="intitule-130 indent-20"><com:TTranslate>TEXT_AGREMENT</com:TTranslate> :</div>
								<div class="content-bloc-auto">
									<com:PanelAgrements ID="agrements" />
								</div>
						</com:TPanel>
						<!--Fin Ligne -->
						<!--Debut Bloc agrements Lot-->
							<com:TRepeater ID="agrementsRepeater">
								<prop:ItemTemplate>
									<!--  *********** Debut LOT  ***************  -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-auto indent-20"><strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate><com:TLabel ID="numLot" Text="<%#$this->Data->getLot()%>" /></strong></div>
									</div>
									<!--Fin Ligne -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-130 indent-20"><label for="agrements"><com:TTranslate>TEXT_AGREMENT</com:TTranslate></label> :</div>
										<div class="content-bloc-auto">
											<com:PanelAgrements IdsSelectedAgrements="<%#$this->Data->getAgrements()%>" ID="agrements" />
										</div>
									</div>
									<!--Fin Ligne -->
									<div class="indent-25">
										<div class="separator bloc-740">&nbsp;</div>
									</div>
									<!--  *********** Fin LOT ***************  -->
								</prop:ItemTemplate>
							</com:TRepeater>
						<!--Fin Bloc agrements Lot-->
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TActivePanel>
			<!--Fin Bloc Qualification-->
			<!--Debut Bloc Echantillons-->
			<com:TPanel cssClass="form-field" ID="panelEchantillonsDemandes">
				<div class="top"><span class="left">&nbsp;</span>
					<span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('ECHANTILLONS_DEMANDES')%>"
							 id="echantillion" Attributes.title="<%=Prado::localize('ECHANTILLONS_DEMANDES')%>"
							cssClass="check" Attributes.onclick="toggleMenu('divEchantillon');" />
						<com:TCustomValidator
							ClientValidationFunction="validateEchantillonsChanging"
							ID="validatorEchantillonsChanging"
							ControlToValidate="echantillion"
							ValidationGroup="validateInfosConsultation"
							Display="Dynamic"
							ErrorMessage="<%=Prado::localize('ECHANTILLONS_DEMANDES')%>"
							EnableClientScript="true"
				 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
							<prop:ClientSide.OnValidationError>
				 				document.getElementById('divValidationSummary').style.display='';
							</prop:ClientSide.OnValidationError>
	     				</com:TCustomValidator>
	     				<span id="spanErrorEchantillon" style="display:none" title='Champ obligatoire' ><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>
					</span>
				</div>
				<com:TPanel ID="echantillonConsultation" cssClass="content">
					<div id="divEchantillon" style="display:none;">
					<div class="intitule-auto bloc-700 indent-20">
							<div class="line">
									<com:TRadioButton
										cssClass="radio"
										GroupName="echantillon"
										Checked="true"
										ID="echantillonNon"
										Attributes.onclick="hideDiv('<%=$this->echantillonLayer->getClientId()%>');"
										Text="<%=Prado::localize('TEXT_NON')%>"
										Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
							</div>
							<div class="line">
								<com:TRadioButton
									cssClass="radio"
									GroupName="echantillon"
									ID="echantillonOui"
									Attributes.onclick="showDiv('<%=$this->echantillonLayer->getClientId()%>');"
									Text="<%=Prado::localize('FCSP_OUI')%>"
									Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
							</div>
						</div>
					<com:TActivePanel ID="echantillonLayer" Style="display:none;">
						<!--Debut Ligne -->
						<com:TPanel ID="panelAddEchantillion" cssClass="line">
							<div class="intitule-130 indent-30"><label for="addEchantillion"><com:TTranslate>ADRESSE_DE_DEPOT</com:TTranslate> </label> <span class="champ-oblig">*</span>:</div>
							<com:TTextBox TextMode="MultiLine" ID="addEchantillion"  Attributes.title="<%=Prado::localize('ADRESSE_DE_DEPOT')%>" cssClass="long" />
						</com:TPanel>
						<!--Fin Ligne -->
						<!--Debut Ligne -->
						<com:TPanel ID="panelDateLimiteEchantillion" cssClass="line">
							<div class="intitule-130 indent-30"><label for="dateLimiteEchantillion"><com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
							<div class="calendar indent-15">
								<com:TTextBox cssClass="heure" ID="dateLimiteEchantillion" Attributes.title="<%=Prado::localize('DEFINE_DATE_HEURE_LIMITE')%>" />
								<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif"
									Attributes.alt="<%=Prado::localize('DEFINE_CALENDRIER')%>"
									Attributes.title="<%=Prado::localize('DEFINE_CALENDRIER')%>"
									Attributes.onclick="popUpCalendar(this,document.getElementById('<%=$this->dateLimiteEchantillion->getClientId()%>'),'dd/mm/yyyy 10:30','');" />
							</div>
							<div class="info-aide-right">( jj/mm/aaaa hh:mm )</div>
							<com:TCustomValidator
								ClientValidationFunction="validateEchantillonsDateComapare"
								ID="validatorEchantillionCompare"
								ControlToValidate="dateLimiteEchantillion"
								ValidationGroup="validateInfosConsultation"
								Display="Dynamic"
								ErrorMessage="<%=Prado::localize('DATE_ECHANTILLON_POSTERIEUR_DATE_FIN')%>"
								EnableClientScript="true"
					 			Text=" ">
								<prop:ClientSide.OnValidationError>
	   				 				document.getElementById('divValidationSummary').style.display='';
	 							</prop:ClientSide.OnValidationError>
	         				</com:TCustomValidator>
					  </com:TPanel>
						<!--Fin Ligne -->
					</com:TActivePanel>
					</div>
					<div class="breaker"></div>
				</com:TPanel>
				<!--Debut Bloc Echantillons Lot-->
					<com:TPanel ID="echantillonLot" cssClass="content">
						<div id="divEchantillon" style="display:none;">
							<com:TRepeater ID="echantillonLotRepeater">
								<prop:ItemTemplate>
									<!--  *********** Debut LOT  ***************  -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-auto indent-20">
											<strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate> <com:TLabel ID="numLot" Text="<%#$this->Data->getLot()%>" /></strong>
											<span id="echantillion_<%#($this->ItemIndex)%>" title="Champ obligatoire" style="check-invalide;display:none;"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif" alt="Champ obligatoire"></span>
										</div>
									</div>
									<!--Fin Ligne -->
									<div class="content-bloc bloc-400">
									<div class="line">
											<com:TRadioButton
												cssClass="radio"
												GroupName="echantillonLot"
												Checked="<%#($this->Data->getDonneComplementaire() instanceof Application\Propel\Mpe\CommonTDonneeComplementaire && $this->Data->getDonneComplementaire()->getEchantillon()=='0')?true:false%>"
												ID="echantillonNonLot"
												Attributes.onclick="hideDiv('<%=$this->echantillonLayerLot->getClientId()%>');"
												Text="<%=Prado::localize('TEXT_NON')%>"
												Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
									</div>
									<div class="line">
										<com:TRadioButton
											cssClass="radio"
											GroupName="echantillonLot"
											ID="echantillonOuiLot"
											Attributes.onclick="showDiv('<%=$this->echantillonLayerLot->getClientId()%>');"
											Checked="<%#($this->Data->getDonneComplementaire() instanceof Application\Propel\Mpe\CommonTDonneeComplementaire && $this->Data->getDonneComplementaire()->getEchantillon()=='1')?true:false%>"
											Text="<%=Prado::localize('FCSP_OUI')%>"
											Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
									</div>
								</div>
								<com:TActivePanel ID="echantillonLayerLot" Style="<%#($this->Data->getDonneComplementaire() instanceof Application\Propel\Mpe\CommonTDonneeComplementaire && $this->Data->getDonneComplementaire()->getEchantillon()=='1')?'display:block':'display:none'%>">
									<!--Debut Ligne -->
									<com:TPanel cssClass="line">
										<div class="intitule-130 indent-20"><label for="add_Echantillion_lot1"><com:TTranslate>ADRESSE_DE_DEPOT</com:TTranslate> </label> <span class="champ-oblig">*</span>:</div>
										<com:TTextBox TextMode="MultiLine" Text ="<%#($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire) ? $this->Data->getDonneComplementaire()->getAddEchantillon() : '' %>" ID="addEchantillion"  Attributes.title="<%=Prado::localize('ADRESSE_DE_DEPOT')%>" cssClass="long" />
									</com:TPanel>
									<!--Fin Ligne -->
									<!--Debut Ligne -->
									<com:TPanel cssClass="line">
										<div class="intitule-130 indent-20"><label for="dateLimite_Echantillion_lot1"><com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
										<div class="calendar indent-15">
											<com:TTextBox Text ="<%#($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire) ?  Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDonneComplementaire()->getDateLimiteEchantillon()) : ''%>" cssClass="heure" ID="dateLimiteEchantillion" Attributes.title="<%=Prado::localize('DEFINE_DATE_HEURE_LIMITE')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif"
											Attributes.alt="<%=Prado::localize('DEFINE_CALENDRIER')%>"
											Attributes.title="<%=Prado::localize('DEFINE_CALENDRIER')%>"
											Attributes.onclick="popUpCalendar(this,document.getElementById('<%=$this->dateLimiteEchantillion->getClientId()%>'),'dd/mm/yyyy 10:30','');" />
										</div>
										<com:TCustomValidator
											enabled="<%#(Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationEchantillonsDemandes'))?true:false%>"
										 	ID="validatorCompareEchantillonsDemandesLot"
											ValidationGroup="validateInfosConsultation" ControlToValidate="dateLimiteEchantillion"
											ClientValidationFunction="dateInferieureDateLimite" Display="Dynamic"
											ErrorMessage="<%=Prado::localize('DATE_ECHANTILLON_POSTERIEUR_DATE_FIN')%>" EnableClientScript="true"  Text=" ">
											<prop:ClientSide.OnValidationError>
												document.getElementById("spanErrorEchantillon").style.display = '';
								 				document.getElementById('divValidationSummary').style.display='';
											</prop:ClientSide.OnValidationError>
										 </com:TCustomValidator>
										<div class="info-aide-right">( jj/mm/aaaa hh:mm )</div>
									</com:TPanel>
								</com:TActivePanel>
									<!--Fin Ligne -->
									<div class="indent-25">
										<div class="separator bloc-740">&nbsp;</div>
									</div>
									<!--  *********** Fin LOT ***************  -->
								</prop:ItemTemplate>
							</com:TRepeater>
							<com:TCustomValidator
							 	ID="validatorEchantillonLot"
								ValidationGroup="validateInfosConsultation" ControlToValidate="alloti"
								ClientValidationFunction="validateEchantillonLotChanging" Display="Dynamic"
								ErrorMessage="<%=Prado::localize('ECHANTILLONS_DEMANDES').' '.Prado::localize('DU_LOT')%>"
								EnableClientScript="true"  Text=" ">
								<prop:ClientSide.OnValidationError>
			 						document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							 </com:TCustomValidator>
						</div>
						<div class="breaker"></div>
					</com:TPanel>
					<!--Fin Bloc Echantillons Lot-->
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Echantillons-->
			<!--Debut Bloc Reunions-->
			<com:TPanel cssClass="form-field" ID="panelReunion">
				<div class="top"><span class="left">&nbsp;</span>
					<span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox id="reunion" cssClass="check" Text="<%=Prado::localize('REUNION')%>"
							 Attributes.title="<%=Prado::localize('REUNION')%>"
							Attributes.onclick="toggleMenu('divReunion');" />
							<com:TCustomValidator
								ClientValidationFunction="validateReunionChanging"
								ID="validatorReunionChanging"
								ControlToValidate="reunion"
								ValidationGroup="validateInfosConsultation"
								Display="Dynamic"
								ErrorMessage="<%=Prado::localize('REUNION')%>"
								EnableClientScript="true"
					 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
								<prop:ClientSide.OnValidationError>
					 				document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
		     				</com:TCustomValidator>
		     				<span id="spanErrorReunion" style="display:none" title='Champ obligatoire' ><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>
					</span>
				</div>
				<com:TPanel ID="reunionConsultation" cssClass="content">
					<div id="divReunion" style="display:none;">

						<div class="intitule-auto bloc-700 indent-20">
							<div class="line">
								<com:TRadioButton GroupName="reunion"
								Checked="true"
								ID="reunionNon"
								Text="<%=Prado::localize('TEXT_NON')%>"
								Attributes.onclick="hideDiv('<%=$this->reunionLayer->getClientId()%>');"
								Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
							</div>
							<div class="line">
								<com:TRadioButton
								GroupName="reunion"
								ID="reunionOui"
								Text="<%=Prado::localize('FCSP_OUI')%>"
								Attributes.onclick="showDiv('<%=$this->reunionLayer->getClientId()%>');"
								Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
							</div>
						</div>
						<com:TActivePanel ID="reunionLayer" Style="display:none;">
						<!--Debut Ligne -->
						<com:TPanel ID="paneladdReunion" cssClass="line">
							<div class="intitule-130 indent-30"><label for="add_reunion"><com:TTranslate>TEXT_ADRESSE</com:TTranslate> </label><span class="champ-oblig">*</span> :</div>
							<com:TTextBox TextMode="MultiLine" ID="addReunion"  Attributes.title="<%=Prado::localize('TEXT_ADRESSE')%>" cssClass="long" />
						</com:TPanel>
						<!--Fin Ligne -->
						<!--Debut Ligne -->
						<com:TPanel ID="paneldateReunion" cssClass="line">
							<div class="intitule-130 indent-30"><label for="dateLimite_reunion"><com:TTranslate>DEFINE_DATE_HEURE</com:TTranslate></label> <span class="champ-oblig">*</span>:</div>
							<div class="calendar indent-15">
								<com:TTextBox cssClass="heure" id="dateReunion" Attributes.title="<%=Prado::localize('DEFINE_DATE_HEURE')%>" />
								<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="<%=Prado::localize('DEFINE_CALENDRIER')%>" Attributes.title="<%=Prado::localize('DEFINE_CALENDRIER')%>" Attributes.onclick="popUpCalendar(this,document.getElementById('<%=$this->dateReunion->getClientId()%>'),'dd/mm/yyyy 10:30','');" />
							</div>
							<div class="info-aide-right">( jj/mm/aaaa hh:mm )</div>
							<com:TCustomValidator
								ClientValidationFunction="validateReunionDateComapare"
								ID="validatorReunionDateCompare"
								ControlToValidate="dateReunion"
								ValidationGroup="validateInfosConsultation"
								Display="Dynamic"
								ErrorMessage="<%=Prado::localize('DATE_REUNION_POSTERIEUR_DATE_FIN')%>"
								EnableClientScript="true"
					 			Text=" ">
								<prop:ClientSide.OnValidationError>
	   				 				document.getElementById('divValidationSummary').style.display='';
	 							</prop:ClientSide.OnValidationError>
	         				</com:TCustomValidator>
						</com:TPanel>

						<!--Fin Ligne -->
						</com:TActivePanel>
					</div>
					<div class="breaker"></div>
				</com:TPanel>
				<!--Debut Bloc REUNION Lot-->
					<com:TPanel ID="reunionLot" cssClass="content">
						<div id="divReunion" style="display:none;">
							<com:TRepeater ID="reunionLotRepeater">
								<prop:ItemTemplate>
									<!--  *********** Debut LOT  ***************  -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-auto indent-20">
											<strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate> <com:TLabel ID="numLot" Text="<%#$this->Data->getLot()%>" /></strong>
											<span id="reunion_<%#($this->ItemIndex)%>" title="Champ obligatoire" style="check-invalide;display:none;"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif" alt="Champ obligatoire"></span>
										</div>
									</div>
									<!--Fin Ligne -->
									<div class="content-bloc bloc-400">
										<div class="line">
											<com:TRadioButton
											GroupName="reunionLot"
											ID="reunionNonLot"
											Checked="<%#(($this->Data->getDonneComplementaire() instanceof Application\Propel\Mpe\CommonTDonneeComplementaire) && $this->Data->getDonneComplementaire()->getReunion()=='0')?true:false%>"
											Text="<%=Prado::localize('TEXT_NON')%>"
											Attributes.onclick="hideDiv('<%=$this->reunionLayer->getClientId()%>');"
											Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
										</div>
										<div class="line">
											<com:TRadioButton
											GroupName="reunionLot"
											ID="reunionOuiLot"
											Checked="<%#(($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire) && $this->Data->getDonneComplementaire()->getReunion()=='1')?true:false%>"
											Text="<%=Prado::localize('FCSP_OUI')%>"
											Attributes.onclick="showDiv('<%=$this->reunionLayer->getClientId()%>');"
											Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
										</div>
									</div>
									<com:TActivePanel ID="reunionLayer" Style="<%#(($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire) && $this->Data->getDonneComplementaire()->getReunion()=='1')?'display:block':'display:none'%>">
									<!--Debut Ligne -->
									<com:TPanel cssClass="line">
										<div class="intitule-130 indent-20"><label for="add_reunion"><com:TTranslate>TEXT_ADRESSE</com:TTranslate> </label><span class="champ-oblig">*</span> :</div>
										<com:TTextBox TextMode="MultiLine" Text ="<%#($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire)?$this->Data->getDonneComplementaire()->getAddReunion() : ''%>" ID="addReunion"  Attributes.title="<%=Prado::localize('ADRESSE_DE_DEPOT')%>" cssClass="long" />
									</com:TPanel>
									<!--Fin Ligne -->
									<!--Debut Ligne -->
									<com:TPanel cssClass="line">
										<div class="intitule-130 indent-20"><label for="dateLimite_reunion"><com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
										<div class="calendar indent-15">
											<com:TTextBox Text ="<%#($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire)? Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDonneComplementaire()->getDateReunion()):''%>" cssClass="heure" ID="dateReunion" Attributes.title="<%=Prado::localize('DEFINE_DATE_HEURE_LIMITE')%>" />
											<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif"
											Attributes.alt="<%=Prado::localize('DEFINE_CALENDRIER')%>"
											Attributes.title="<%=Prado::localize('DEFINE_CALENDRIER')%>"
											Attributes.onclick="popUpCalendar(this,document.getElementById('<%=$this->dateReunion->getClientId()%>'),'dd/mm/yyyy 10:30','');" />
										</div>
										<com:TCustomValidator
										enabled="<%#(Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationEchantillonsDemandes'))?true:false%>"
									 	 ID="validatorCompareDateReunionLot"
										ValidationGroup="validateInfosConsultation" ControlToValidate="dateReunion"
										ClientValidationFunction="dateInferieureDateLimite" Display="Dynamic"
										ErrorMessage="<%=Prado::localize('DATE_REUNION_POSTERIEUR_DATE_FIN')%>" EnableClientScript="true"  Text=" ">
										<prop:ClientSide.OnValidationError>
	   				 						document.getElementById('divValidationSummary').style.display='';
	   				 						document.getElementById("spanErrorReunion").style.display = '';
	 									</prop:ClientSide.OnValidationError>
									 	</com:TCustomValidator>
										<div class="info-aide-right">( jj/mm/aaaa hh:mm )</div>
									</com:TPanel>
									<!--Fin Ligne -->
									</com:TActivePanel>
									<div class="indent-25">
										<div class="separator bloc-740">&nbsp;</div>
									</div>
									<!--  *********** Fin LOT ***************  -->
								</prop:ItemTemplate>
							</com:TRepeater>
							<com:TCustomValidator
							 	ID="validatorReunionLot"
								ValidationGroup="validateInfosConsultation" ControlToValidate="alloti"
								ClientValidationFunction="validateReunionLotChanging" Display="Dynamic"
								ErrorMessage="<%=Prado::localize('REUNION').' '.Prado::localize('DU_LOT')%>"
								EnableClientScript="true"  Text=" ">
								<prop:ClientSide.OnValidationError>
			 						document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							 </com:TCustomValidator>

						</div>
						<div class="breaker"></div>
					</com:TPanel>
					<!--Fin Bloc REUNION Lot-->
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Reunions-->

			<!--Debut Bloc Visites des lieux-->
			<com:TActivePanel ID="panelVisiteLieux" cssClass="form-field">
				<div class="top">
					<span class="left">&nbsp;</span>
					<span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('VISITE_DES_LIEUX')%>"
							 id="visite" Attributes.title="<%=Prado::localize('VISITE_DES_LIEUX')%>"
							 Attributes.class="check" Attributes.onclick="toggleMenu('<%=($this->Page->isConsultationAllotie()) ? 'ctl0_CONTENU_PAGE_visiteLayerLot':'divVisitesLieux' %>');" />
							 	<com:TCustomValidator
								 	ID="validateVisitesChanging"
									ValidationGroup="validateInfosConsultation"
									ControlToValidate="alloti"
									ClientValidationFunction="validateVisitesChanging" Display="Dynamic"
									ErrorMessage="<%=Prado::localize('VISITE_DES_LIEUX')%>"
									EnableClientScript="true"  Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
									<prop:ClientSide.OnValidationError>
				 						document.getElementById('divValidationSummary').style.display='';
									</prop:ClientSide.OnValidationError>
								 </com:TCustomValidator>
								 <com:TCustomValidator
									ClientValidationFunction="dateVisiteLieuxCompare"
									ID="validatorVisiteDesLieuxDateCompare"
									ControlToValidate="visiteLotOui"
									ValidationGroup="validateInfosConsultation"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('DATE_VISITE_LIEUX_POSTERIEUR_DATE_FIN')%>"
									EnableClientScript="true"
						 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
									<prop:ClientSide.OnValidationError>
		   				 				document.getElementById('divValidationSummary').style.display='';
		 							</prop:ClientSide.OnValidationError>
		         				</com:TCustomValidator>
					 </span>
					 <span id="spanErrorVisite" style="display:none" title='Champ obligatoire' ><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>
				 </div>
				 <div id="divVisitesLieux" Class="content" style="display:none;">
					<div class="intitule-auto bloc-700 indent-20">
						<div class="line">
							<com:TRadioButton GroupName="visiteCons"
							Checked="true"
							ID="visiteLotNon"
							Text="<%=Prado::localize('TEXT_NON')%>"
							Attributes.onclick="hideDiv('<%=$this->visiteLayer->getClientId()%>');"
							Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
						</div>
						<div class="line">
							<com:TRadioButton
							GroupName="visiteCons"
							ID="visiteLotOui"
							Text="<%=Prado::localize('FCSP_OUI')%>"
							Attributes.onclick="showDiv('<%=$this->visiteLayer->getClientId()%>');"
							Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
						</div>
					</div>
					<com:TActivePanel  ID="visiteLayer" Style="display:none;">

								<div>
										<com:TTextBox Display="None" ID="infoVisite" />
										<com:TTextBox Display="None" ID="addVisite" />
										<com:TTextBox Display="None" ID="deletingAllVisite" />
										<com:TActiveButton
											  Display="None"
											  ID="infoVisiteButton"
								              OnCallBack="Page.onCallBackLieuxVisiteCons"
								        />
										<!--Debut tableau lieux de visite-->
										<div class="table-bloc">
											<table class="table-results" summary="Visites des lieux">
													<com:TRepeater ID="visiteRepeater">
						                                 	<prop:HeaderTemplate>
																<caption><com:TTranslate>VISITE_DES_LIEUX</com:TTranslate></caption>
																<thead>
																	<tr>
																	<th class="top" colspan="3"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
																	</tr>
																	<tr>
																		<th class="col-350" id="nomDirigeant"><com:TTranslate>TEXT_ADRESSE</com:TTranslate></th>
																		<th class="col-150" id="prenomDirigeant"><com:TTranslate>TEXT_DATE_HEURE</com:TTranslate></th>
																		<th class="actions" id="suppDirigeant"><com:TTranslate>TEXT_ACTIONS</com:TTranslate></th>
																	</tr>
																</thead>
															</prop:HeaderTemplate>
								                            <prop:ItemTemplate>
																<tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
																	<td class="col-350" headers="nomDirigeant"><%#$this->Data['adresse']%>
																		<com:THiddenField ID="adresseValue" Value="<%#$this->Data['adresse']%>"/>
																	 </td>
																	<td class="col-150" headers="prenomDirigeant"><%#Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data['date'])%>
																		<com:THiddenField ID="dateValue" Value="<%#$this->Data['date']%>"/>
																	</td>
																	<com:AtexoHiddenLangue id="visiteLieuxLang"    />
																	<td class="actions" headers="suppDirigeant">
																	<com:PictoEdit
									        							Clickable="true"
									        							Attributes.onClick="javascript:popUp('index.php?page=Agent.PopupAjoutLieuxVisites&clientId=<%=$this->getClientId()%>&data=<%#base64_encode($this->Data['adresse'].'#_#'.$this->Data['date'].'#_#'.$this->Data['id'])%>','yes');return false;"
									        							Activate="true"
									        							AlternateText="<%=Prado::localize('DEFINE_TEXT_MODIFIER')%>"
									        							Attributes.title="<%=Prado::localize('DEFINE_TEXT_MODIFIER')%>" />

																	<com:PictoDeleteActive
									        							OnCommand="Page.deleteVisiteLieuxCons"
									        							onCallBack="Page.onCallBackDeleteVisiteCons"
									        							CommandName = "<%#$this->Data['id']%>"
									        							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
									        							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_ALERTE_SUPPRESSION_VISITE_LIEUX')%>"))return false;'
									                					/>
																	</td>
																</tr>
															</prop:ItemTemplate>
													</com:TRepeater>
												</table>
												<com:TActiveHyperLink
												Text="<%=Prado::localize('AJOUTER_UNE_VISITE')%>"
												Attributes.href="javascript:popUp('index.php?page=Agent.PopupAjoutLieuxVisites&clientId=<%=$this->getClientId()%>','yes');"
												cssClass="ajout-el float-left" />
												<!--Fin tableau lieux de visite-->
											</div>
									</div>
							<div class="breaker"></div>
						</com:TActivePanel>
						</div>

						<!--Debut Bloc visiteLayer Lot-->
						<com:TActivePanel ID="visiteLayerLot" cssClass="content" Style="display:none;">
									<com:TRepeater ID="visiteLotRepeater">
										<prop:ItemTemplate>
											<!--  *********** Debut LOT  ***************  -->
											<com:TTextBox Display="None"  ID="infoVisite" />
											<com:TTextBox Display="None" ID="addVisite"/>
											<com:TTextBox Display="None" ID="haveVisite" Text="<%#$this->Data['haveVisite']%>"/>
											<com:TTextBox Display="None" ID="deletingAllVisite" />
											<com:TActiveButton
												  Display="None"
												  ID="infoVisiteButton"
									              OnCallBack="Page.onCallBackVisiteLot"
									        />
											<!--Debut Ligne -->
											<div class="line">
												<div class="intitule-auto indent-20"><strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate><com:TLabel ID="numLot" Text="<%#$this->Data['numLot']%>" /></strong></div>
												<span id="visiteChamp"
													title="Champ obligatoire"
													style="check-invalide;display:none;">
													<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif" alt="Champ obligatoire">
												</span>

												<div class="intitule-auto bloc-700 indent-20">
													<div class="line">
														<com:TRadioButton GroupName="visiteCons"
														Checked="true"
														ID="visiteLotNon"
														Text="<%=Prado::localize('TEXT_NON')%>"
														Attributes.onclick="hideDiv('<%=$this->visiteLayerPourUnLot->getClientId()%>');"
														Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
													</div>
													<div class="line">
														<com:TRadioButton
														GroupName="visiteCons"
														ID="visiteLotOui"
														Text="<%=Prado::localize('FCSP_OUI')%>"
														Attributes.onclick="showDiv('<%=$this->visiteLayerPourUnLot->getClientId()%>');"
														Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
													</div>
												</div>



											</div>
											<!--Fin Ligne -->



											<!--Debut tableau lieux de visite-->
												<com:TPanel ID="visiteLayerPourUnLot"  cssClass="indent-20">
													<div class="table-bloc">
														<table class="table-results" summary="Visites des lieux">
																<com:TRepeater ID="visiteRepeater">
								                                 	<prop:HeaderTemplate>
																		<caption><com:TTranslate>VISITE_DES_LIEUX</com:TTranslate></caption>
																		<thead>
																			<tr>
																				<th class="top" colspan="3"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
																			</tr>
																			<tr>
																				<th class="col-350" id="nomDirigeant"><com:TTranslate>TEXT_ADRESSE</com:TTranslate></th>
																				<th class="col-150" id="prenomDirigeant"><com:TTranslate>TEXT_DATE_HEURE</com:TTranslate></th>
																				<th class="actions" id="suppDirigeant"><com:TTranslate>TEXT_ACTIONS</com:TTranslate></th>
																			</tr>
																		</thead>
																	</prop:HeaderTemplate>
														        	 <prop:ItemTemplate>

																		<tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
																				<td class="col-400" headers="nomDirigeant"><%#$this->Data['adresse']%>
																					<com:THiddenField ID="adresseValue" Value="<%#$this->Data['adresse']%>"/>
																				 </td>
																				<td class="col-170" headers="prenomDirigeant"><%#Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data['date'])%>
																					<com:THiddenField ID="dateValue" Value="<%#$this->Data['date']%>"/>
																					<com:TActiveHiddenField id="dateValuefr" value="<%#Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data['date'])%>"/>
																				</td>
																				<com:AtexoHiddenLangue id="visiteLieuxLotLang"  />
																				<td class="actions" headers="suppDirigeant">
																				<com:PictoEdit
												        							Clickable="true"
												        							Attributes.onClick="javascript:popUp('index.php?page=Agent.PopupAjoutLieuxVisites&clientId=<%#$this->getClientId()%>&data=<%#base64_encode($this->Data['adresse'].'#_#'.$this->Data['date'].'#_#'.$this->Data['id'])%>','yes');return false;"
												        							Activate="true"
												        							AlternateText="<%=Prado::localize('DEFINE_TEXT_MODIFIER')%>"
												        							Attributes.title="<%=Prado::localize('DEFINE_TEXT_MODIFIER')%>" />
																				<com:PictoDeleteActive
												        							OnCommand="Page.deleteVisiteLieuxLot"
														        				    onCallBack="Page.onCallBackVisiteLot"
												        							CommandName = "<%#$this->Data['id'] .'-'.$this->Parent->Parent->Parent->ItemIndex%>"
												        							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
												        							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_ALERTE_SUPPRESSION_VISITE_LIEUX')%>"))return false;'
												                					/>
																				</td>

																		</tr>

																</prop:ItemTemplate>
																</com:TRepeater>
															</table>
														<com:TActiveHyperLink
														Attributes.style="cursor: pointer"
														Text="<%=Prado::localize('AJOUTER_UNE_VISITE')%>"
														Attributes.onclick="javascript:popUp('index.php?page=Agent.PopupAjoutLieuxVisites&clientId=<%#$this->getClientId()%>','yes');"
														cssClass="ajout-el float-left" />
													</div>
												</com:TPanel>
												<!--Fin tableau lieux de visite-->
												<div class="indent-25">
													<div class="separator bloc-740">&nbsp;</div>
												</div>
											<!--  *********** Fin LOT ***************  -->
										</prop:ItemTemplate>
									</com:TRepeater>
							</com:TActivePanel>
							<com:TCustomValidator
							 	ID="validatorVisitesLot"
								ValidationGroup="validateInfosConsultation" ControlToValidate="alloti"
								ClientValidationFunction="validateVisitesLotChanging" Display="Dynamic"
								ErrorMessage="<%=Prado::localize('VISITE_DES_LIEUX').' '.Prado::localize('DU_LOT')%>"
								EnableClientScript="true"  Text=" ">
								<prop:ClientSide.OnValidationError>
			 						document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							 </com:TCustomValidator>
							 <com:TCustomValidator
								enabled="<%#(Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationVisiteDesLieux'))?true:false%>"
							  	ID="validatorVisitesLieuxDateComapreLot"
								ValidationGroup="validateInfosConsultation" ControlToValidate="alloti"
								ClientValidationFunction="validateDateVisitesLot" Display="Dynamic"
								ErrorMessage="<%=Prado::localize('DATE_VISITE_LIEUX_POSTERIEUR_DATE_FIN')%>" EnableClientScript="true"  Text=" ">
								<prop:ClientSide.OnValidationError>
						 			document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							 </com:TCustomValidator>
						<!--Fin Bloc visiteLayer Lot-->

				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TActivePanel>
			<!--Fin Bloc Visites des lieux-->
			<!--Debut Bloc panelVariantesAutorisees-->
			<com:TPanel ID="panelVariantesAutorisees" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('VARIANTES_AUTORISEES')%>"
							id="variantesCheck" Attributes.title="<%=Prado::localize('VARIANTES_AUTORISEES')%>"
							cssClass="check"
							Attributes.onclick="toggleMenu('divVariantesAutorisees');" />
					</span>
				</div>
				<com:TPanel ID="variantesConsultation" cssClass="content">
					<div  class="line" id="divVariantesAutorisees" style="display:none;">
						<div class="intitule-130 indent-20"><label for="variantes"><com:TTranslate>VARIANTES_AUTORISEES</com:TTranslate></label><span class="champ-oblig">*</span> :
									<div class="line" >
										<com:TRadioButton GroupName="variantes" ID="variantesNon" Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
										<label for="variantesNon"><com:TTranslate>TEXT_NON</com:TTranslate></label>
									</div>
									<div class="line" >
										<com:TRadioButton GroupName="variantes"  ID="variantesOui"  Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
										<label for="variantesOui"><com:TTranslate>FCSP_OUI</com:TTranslate></label>
									</div>
						</div>
					</div>
					<div class="breaker"></div>
				</com:TPanel>
					<!--Debut Bloc variantes Lot-->
				<com:TPanel ID="variantesLot" cssClass="content">
						<div  class="line" id="divVariantesAutorisees" style="display:none;">
							<com:TRepeater ID="variantesRepeater">
								<prop:ItemTemplate>
									<!--  *********** Debut LOT  ***************  -->
									<!--Debut Ligne -->
									<div class="line">
										<div class="intitule-auto indent-20"><strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate><com:TLabel ID="numLot" Text="<%#$this->Data->getLot()%>" /></strong></div>
									</div>
									<!--Fin Ligne -->
									<!--Debut Ligne -->
									<div class="line" >
										<div class="calendar indent-15">
											<com:TRadioButton GroupName="variantes" Checked="<%#(($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire) && $this->Data->getDonneComplementaire()->getVariantes()=='0') ? true:false%>" ID="variantesNon" Attributes.title="<%=Prado::localize('TEXT_NON')%>"/>
											<label for="variantesNon"><com:TTranslate>TEXT_NON</com:TTranslate></label>
										</div>
									</div>
									<div class="line" >
										<div class="calendar indent-15">
											<com:TRadioButton GroupName="variantes"  Checked="<%#( ($this->Data->getDonneComplementaire() instanceof CommonTDonneeComplementaire) && $this->Data->getDonneComplementaire()->getVariantes()=='1') ? true:false%>" ID="variantesOui"  Attributes.title="<%=Prado::localize('FCSP_OUI')%>"/>
											<label for="variantesOui"><com:TTranslate>FCSP_OUI</com:TTranslate></label>
										</div>
									</div>
									<!--Fin Ligne -->
									<div class="indent-25">
										<div class="separator bloc-740">&nbsp;</div>
									</div>
									<!--  *********** Fin LOT ***************  -->
								</prop:ItemTemplate>
							</com:TRepeater>
						</div>
					</com:TPanel>
					<!--Fin Bloc variantes Lot-->
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc panelVariantesAutorisees-->

			<!--Debut Bloc Date et heure de remise des plis-->
			<div class="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
				<span class="title">
					<com:TCheckBox id="modifiDateRemisePlis" Attributes.onClick="toggleMenu('<%= $this->divDateRemisePlis->getClientId() %>');" Attributes.title="<%=Prado::localize('DEFINE_DATE_LIMITE_REMISE_PLI')%>" cssClass="check" />
				<label for="modifiDateRemisePlis"><com:TTranslate>DEFINE_DATE_LIMITE_REMISE_PLI</com:TTranslate></label></span></div>
				<div class="content">
					<com:TPanel ID="divDateRemisePlis" CssClass="line" Attributes.style="display:none">
						<div class="intitule-230 indent-20"><label for="dateRemisePlis"><com:TTranslate>DEFINE_DATE_LIMITE_REMISE_PLI</com:TTranslate></label> :</div>
						<div class="calendar indent-15">
							<div class="intitule-auto"><com:TTranslate>TEXT_LE</com:TTranslate></div>
							<com:TActiveTextBox
								id="dateRemisePlis"
								Attributes.title="<%=Prado::localize('DEFINE_DATE_LIMITE_REMISE_PLI')%>"
								cssClass="heure"
								AutoPostBack="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('FuseauHoraire', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()) && $this->Page->getActivationFuseauHoraire()) ? true:false%>"
								OnTextChanged="Page.remplirDateLimiteRemisePlisLocale"
							/>
							<com:TActiveButton id="bouttonRemplissageDateLimiteRemisePlisLocale" Attributes.style="display:none;" OnClick="Page.remplirDateLimiteRemisePlisLocale"/>
							<com:THiddenField ID="etatActivationFuseauHoraire" value="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('FuseauHoraire', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()) && $this->Page->getActivationFuseauHoraire())? true:false%>"/>
							<com:THiddenField ID="datemiseEnLigne"/>
							<com:THiddenField ID="dateAujourdhui" value="<%= date('d/m/Y h:i')%>"/>
							<com:TCustomValidator
								ValidationGroup="validateInfosConsultation"
								ControlToValidate="dateRemisePlis"
								ClientValidationFunction="checkDateTime"
	                        	Display="Dynamic"
								ErrorMessage="<%=Prado::localize('DEFINE_DATE_LIMITE_REMISE_PLI_NON_VALIDE')%>"
	                            Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
								EnableClientScript="true" >
								<prop:ClientSide.OnValidationError>
			 						document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							</com:TCustomValidator>
							<com:TCustomValidator
								ValidationGroup="validateInfosConsultation"
								ControlToValidate="dateRemisePlis"
								ClientValidationFunction="dateAnterieurAujourdhui"
	                        	Display="Dynamic"
								visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('validationFormatChampsStricte'))?'true' : 'false'%>"
								ErrorMessage="<%=Prado::localize('DATE_FIN_POSTERIEURE_AUJOURDHUI_ET_DATE_MISE_EN_LIGNE')%>"
	                            Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
								EnableClientScript="true" >
								<prop:ClientSide.OnValidationError>
			 						document.getElementById('divValidationSummary').style.display='';
								</prop:ClientSide.OnValidationError>
							</com:TCustomValidator>
							<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateRemisePlis'),'dd/mm/yyyy <%= Application\Service\Atexo\Atexo_Config::getParameter('HEURE_CLOTURE_DEFAUT')%>','');" />
						</div>
						<div class="info-aide-right"><%=Prado::localize('DATE_TIME_FORMAT')%></div>

						<com:TPanel ID="divDateRemisePlisLocale" CssClass="line" Attributes.style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('FuseauHoraire', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()) && $this->Page->getActivationFuseauHoraire())? 'block':'none'%>">
							<div class="intitule-200 indent-15"><label for="dateRemisePlisLocale"><com:TTranslate>TEXT_DATE_HEURE_LIMITE_REMISE_PLIS_LOCALE</com:TTranslate></label> :</div>
							<div class="calendar indent-15">
								<div class="intitule-auto"><com:TTranslate>TEXT_LE</com:TTranslate></div>
								<com:TActiveTextBox
									id="dateRemisePlisLocale"
									Attributes.title="<%=Prado::localize('TEXT_DATE_HEURE_LIMITE_REMISE_PLIS_LOCALE')%>"
									cssClass="heure"
								/>
								<com:THiddenField id="decalageFuseauHoraireService" />
								<com:THiddenField id="dateLimiteFuseauHoraire" />
								<com:TCustomValidator
									ValidationGroup="validateInfosConsultation"
									ControlToValidate="dateRemisePlisLocale"
									ClientValidationFunction="checkDateTimeDateLimiteRemisePlisLocale"
		                        	Display="Dynamic"
		                        	visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('FuseauHoraire', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()) && $this->Page->getActivationFuseauHoraire())?'true' : 'false'%>"
									ErrorMessage="<%=Prado::localize('DEFINE_DATE_LIMITE_REMISE_PLI_LOCALE_NON_VALIDE')%>"
		                            Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
									EnableClientScript="true" >
									<prop:ClientSide.OnValidationError>
				 						document.getElementById('divValidationSummary').style.display='';
									</prop:ClientSide.OnValidationError>
								</com:TCustomValidator>
								<com:TCustomValidator
									ValidationGroup="validateInfosConsultation"
									ControlToValidate="dateRemisePlisLocale"
									ClientValidationFunction="dateLimiteRemisePlisLocaleAnterieurAujourdhui"
		                        	Display="Dynamic"
									visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('FuseauHoraire', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()) && $this->Page->getActivationFuseauHoraire() && Application\Service\Atexo\Atexo_Module::isEnabled('validationFormatChampsStricte'))?'true' : 'false'%>"
									ErrorMessage="<%=Prado::localize('DATE_FIN_POSTERIEURE_AUJOURDHUI_ET_DATE_MISE_EN_LIGNE')%>"
		                            Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
									EnableClientScript="true" >
									<prop:ClientSide.OnValidationError>
				 						document.getElementById('divValidationSummary').style.display='';
									</prop:ClientSide.OnValidationError>
								</com:TCustomValidator>
								<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="Calendrier" Attributes.title="Calendrier" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateRemisePlisLocale'),'dd/mm/yyyy <%= Application\Service\Atexo\Atexo_Config::getParameter('HEURE_CLOTURE_DEFAUT')%>','');" />
							</div>
							<div class="info-aide-right"><%=Prado::localize('DATE_TIME_FORMAT')%></div>
							<div class="line">
								<div class="intitule-200 indent-10"><label for="lieuResidence"><com:TTranslate>DEFINE_LIEU_RESIDENCE</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
								<com:TTextBox Attributes.title="<%=Prado::localize('DEFINE_LIEU_RESIDENCE')%>" Text="" id="lieuResidence" cssclass="auto"/>
		   						<com:TCustomValidator
									ValidationGroup="validateInfosConsultation"
									ControlToValidate="lieuResidence"
									id="validateurLieuResidence"
									ClientValidationFunction="validerLieuResidenceModifConsApresValidation"
		                        	Display="Dynamic"
		                        	visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('FuseauHoraire', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()) && $this->Page->getActivationFuseauHoraire())?'true' : 'false'%>"
									ErrorMessage="<%=Prado::localize('DEFINE_LIEU_RESIDENCE')%>"
		                            Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
									EnableClientScript="true" >
									<prop:ClientSide.OnValidationError>
				 						document.getElementById('divValidationSummary').style.display='';
									</prop:ClientSide.OnValidationError>
								</com:TCustomValidator>
						 	</div>
						</com:TPanel>
					</com:TPanel>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</div>
			<div class="spacer-mini"></div>
			<!--Fin Bloc Date et heure de remise des plis-->

			<!--Debut Bloc Affichage prolonge-->
			<com:TPanel ID="divModifAffichage"  Attributes.style="display:none">
			<div class="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title">
				<com:TCheckBox id="modifAffichage" Attributes.onClick="toggleMenu('<%= $this->divInterrompreAffichage->getClientId()%>');" Attributes.title="<%=Prado::localize('AFFICHAGE_PROLONGE')%>" cssClass="check" />
					 <label for="modifAffichage"><com:TTranslate>AFFICHAGE_PROLONGE</com:TTranslate></label></span></div>
	            		<div class="content" >
	            			<com:TPanel ID="divInterrompreAffichage"  Attributes.style="display:none">
	            				<!--Debut Line Interrompre-->
	            				<div class="line" >
	            					<div class="intitule-auto bloc-700 indent-20">
	            						<com:TRadioButton id="interrompreAffichage" GroupName="RadioGroup" Attributes.title="<%=Prado::localize('INTERROMPRE_AFFICHAGE_PROLONGE')%>" cssClass="radio" />
	            						<label for="interrompreAffichage"><com:TTranslate>INTERROMPRE_AFFICHAGE_PROLONGE</com:TTranslate></label>
	            					</div>
	            				</div>
	            				<!--Fin Line Interrompre-->

	            				<!--Debut Line Pourusivre-->
	            				<div class="line" >
	            					<div class="intitule-auto indent-20">
	            						<com:TRadioButton id="poursuivreAffichage" GroupName="RadioGroup" Attributes.title="<%=Prado::localize('DEFINE_POURSUIVRE_AFFICHAGE_ENTREPRISE')%>" cssClass="check" />
	            						<label for="poursuivreAffichage"><com:TTranslate>DEFINE_POURSUIVRE_AFFICHAGE_ENTREPRISE</com:TTranslate></label>
	            					</div>
	            					<div class="intitule-auto"><com:TTranslate>TEXT_PENDANT</com:TTranslate><label for="poursuivreAffichageNbJour" style="display:none;"><com:TTranslate>DEFINE_NOMBRE_JOURS</com:TTranslate></label></div>
	                                <div class="intitule-auto"><label for="poursuivreAffichageNbJour" style="display:none;"><com:TTranslate>DEFINE_NOMBRE_JOURS</com:TTranslate></label></div>
										<com:TDropDownList id="poursuivreAffichageNbJour" Attributes.title="<%=Prado::localize('DEFINE_NOMBRE_JOURS')%>" CssClass="float-left"/>
	                                <div class="intitule-auto"><com:TTranslate>DEFINE_APRES_DATE_LIMITE_REMISE_PLIS</com:TTranslate></div>
	            				</div>
	        				<!--Fin Line Pourusivre-->
	        				<div class="breaker"></div>
	        			  	</com:TPanel>
	        			</div>
	        			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</div>
			</com:TPanel>
			<div class="spacer-mini"></div>
			<!--Fin Bloc Affichage prolonge-->

			<!--Debut Bloc Pieces de la consultation-->
			<div class="form-field" >
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title">
				<com:TCheckBox id="piecesConsultation" Attributes.onClick="toggleMenu('<%= $this->divpiecesConsultation->getClientId() %>');" Attributes.title="<%=Prado::localize('PIECES_DE_LA_CONSULTATION')%>" cssClass="check" />
				 <label for="piecesConsultation"><com:TTranslate>PIECES_DE_LA_CONSULTATION</com:TTranslate></label></span></div>
				<div class="content" >
				<com:TPanel ID="divpiecesConsultation"  Attributes.style="display:none">
					<div class="spacer-small"></div>
					<!--Debut line DCE-->
					<com:THiddenField id="idMessage"/>
					<com:THiddenField id="changed"/>
					<com:THiddenField id="result"/>
                    <com:TPanel id="blocDceModif" visible="<%=!(Application\Service\Atexo\Atexo_Module::isEnabled('InterfaceModuleRsem'))||(Application\Service\Atexo\Atexo_Module::isEnabled('InterfaceModuleRsem')&&(Application\Service\Atexo\Atexo_Config::getParameter('CONFIG_REDAC') != '1'))%>">
                        <com:AtexoDCE id="blocDce" />
					</com:TPanel>
					<com:TPanel id="blocDceRedac" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('InterfaceModuleRsem') &&(Application\Service\Atexo\Atexo_Config::getParameter('CONFIG_REDAC') == '1')%>">
                        <com:DCEComposant id="dceComposant" />
					</com:TPanel>
					<com:THiddenField ID="hasDce" visible="false"/>
					<com:TCustomValidator
						id="dceVerifyIntegrity"
						ControlToValidate="hasDce"
						ValidationGroup="validateInfosConsultation"
						Display="Dynamic"
						onServerValidate="verifiyDce"
						ErrorMessage="<%=Prado::localize("MSG_ERREUR_ZIP_DCE_INVALIDE")%>"
						Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
					>
		 			</com:TCustomValidator>
					<!--Fin Line DCE-->
					<com:AnnexeTechniqueDCE id="annexeTechniqueDCE" visible="<%=$this->isDossierVolumineuxEnabled()%>" />
					<!--Debut Line Modifier Dossier En savoir plus sur l'operation-->
					<com:TPanel id="AutrePieceCons" cssclass="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>MODIFIER_LE_DOSSIER</com:TTranslate></span></div>
						<div class="content">
							<div class="line">
								<div class="intitule-180"><label for="nouveauDossierOperation"><com:TTranslate>CHOIX__AUTRES_NOUVEAU_DOC</com:TTranslate></label> :</div>
								<div class="content-bloc bloc-570">
								<com:AtexoQueryFileUpload
										id="nouveauDossierOperation"
										CssClass="file-550"
										size="90"
										afficherProgress="1"
								/>
								</div>
							</div>
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</com:TPanel>
					<!--Fin Line Dossier En savoir plus sur l'operation-->
					<div class="breaker"></div>
				</div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc Pieces de la consultation-->

			<!--Debut Bloc panelVariantesAutorisees-->
			<com:TPanel ID="panelModuleAutrePiece" cssClass="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox Text="<%=Prado::localize('PIECES_DES_DOSSIERS')%>"
							id="moduleAutrePieceCheck" Attributes.title="<%=Prado::localize('PIECES_DES_DOSSIERS')%>"
							cssClass="check"
							Attributes.onclick="toggleMenu('moduleAutrePiece');" />
					</span>
				</div>
				<div id="moduleAutrePiece" class="content" style="display:none">
					<!--Debut Bloc pieces des dossiers-->
							<!--Debut Ligne piece-->
							<div class="line">
								<div class="intitule-180"><label for="piecesDossierAdmin"><com:TTranslate>PIECES_DOSSIERS_ADMINISTRATIF</com:TTranslate></label> :</div>
								<com:TTextBox TextMode="MultiLine" ID="piecesDossierAdmin"  Attributes.title="<%=Prado::localize('PIECES_DOSSIERS_ADMINISTRATIF')%>" cssClass="long-550" />
							</div>
							<!--Fin Ligne piece-->
							<!--Debut Ligne piece-->
							<div class="line">
								<div class="intitule-180"><label for="piecesDossierTech"><com:TTranslate>PIECES_DOSSIERS_TECHNIQUE</com:TTranslate></label> :</div>
								<com:TTextBox TextMode="MultiLine" ID="piecesDossierTech"  Attributes.title="<%=Prado::localize('PIECES_DOSSIERS_TECHNIQUE')%>" cssClass="long-550" />
							</div>
							<!--Fin Ligne piece-->
							<!--Debut Ligne piece-->
							<div class="line">
								<div class="intitule-180"><label for="piecesDossierAdditif"><com:TTranslate>PIECES_DOSSIERS_ADDITIF</com:TTranslate></label> :</div>
								<com:TTextBox TextMode="MultiLine" ID="piecesDossierAdditif"  Attributes.title="<%=Prado::localize('PIECES_DOSSIERS_ADDITIF')%>" cssClass="long-550" />
							</div>
							<!--Fin Ligne piece-->
					<!--Fin Bloc pieces des dossiers-->
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</com:TPanel>
			<!--Fin Bloc panelVariantesAutorisees-->

			 <!--Debut Bloc Referentiel checkBox-->
		          <com:AtexoReferentielCheck id="idReferentielCheck" consultation="1"  obligatoire="1" validationGroup="validateInfosConsultation" validationSummary="divValidationSummary" cssClass="intitule-150" mode="1" Type="1"/>
	              <com:AtexoReferentielCheck id="idReferentielCheckLot" lot="1" cssClass="intitule-140 indent-10" mode="1" validationGroup="validateInfosConsultation" validationSummary="divValidationSummary" obligatoire="1" Type="1"/>

	              <com:AtexoRefetielRadioCheck id="idReferentielRadio" consultation="1"  obligatoire="1" validationGroup="validateInfosConsultation" validationSummary="divValidationSummary" cssClass="intitule-150" mode="1" Type="2"/>
	              <com:AtexoRefetielRadioCheck id="idReferentielRadioLot" lot="1"        obligatoire="1" validationGroup="validateInfosConsultation" validationSummary="divValidationSummary" cssClass="intitule-150" mode="1" Type="2"/>
	        <!--Fin Bloc Referentiel checkBox-->

			<!--Debut Bloc DUME Acheteur Publie-->
			<com:TPanel ID="panelDumeAcheteurPublie" cssClass="form-field" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('InterfaceDume') && ($this->_consultation->getDumeDemande() == 1) && (!empty($this->_dumeContexte) && $this->_dumeContexte->getIsStandard() == 0)%>">
				<div class="top">
					<span class="left">&nbsp;</span>
					<span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox id="dumeAcheteurPublie" Attributes.onClick="toggleMenu('<%= $this->bloc_etapeDumeAcheteur->bloc_etapeDumeAcheteur->getClientId() %>');" Attributes.title="<%=Prado::localize('PIECES_DE_LA_CONSULTATION')%>" cssClass="check" />
						<label for="dumeAcheteurPublie">
							<com:TTranslate>DUME_ACHETEUR_PUBLIE</com:TTranslate>
						</label>
					</span>
				</div>
				<div class="content" >
					<com:AtexoDumeAcheteur id="bloc_etapeDumeAcheteur" Visible="display:none;"/>
				</div>
				<div class="bottom">
					<span class="left">&nbsp;</span>
					<span class="right">&nbsp;</span>
				</div>
			</com:TPanel>
			<!--Fin Bloc DUME Acheteur Publie-->

			<div class="spacer-mini"></div>
			<div class="spacer-small"></div>
			<div class="breaker"></div>

			<com:TPanel ID="panelSendMessage">
				<div class="form-field">
					<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span>
					<span class="title">
						<com:TCheckBox id="envoiMail" Checked="true" Attributes.title="<%=Prado::localize('TEXT_ENVOI_INFORMATION_MODIF_ENTREPRISE')%>" cssClass="check" />
					<label for="modifiDateRemisePlis"><com:TTranslate>TEXT_ENVOI_INFORMATION_MODIF_ENTREPRISE</com:TTranslate></label></span></div>
					<div class="content">
						<div class="breaker"></div>
					</div>
					<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</div>
			</com:TPanel>
			<!--Fin Bloc Modification de la consultation-->
            <com:TActiveHiddenField id="fileRc"/>
            <com:TActiveHiddenField id="fileInDce"/>
			<!--Debut line boutons-->
			<div class="boutons-line">
				<com:TActiveButton ID="buttonRefresh" Display="None" oncallBack="Page.refreshComposants"/>
	    		<com:TButton cssClass="bouton-annulation float-left"
	        			Text="<%=Prado::localize('DEFINE_ANNULER')%>"
	        			ID="buttonAnnuler"
	        			Attributes.title="<%=Prado::localize('TEXT_ANNULER_ET_RETOUR')%>"
	        			onclick="actionBouttonAnnuler" />
	    		<com:TActiveButton
	    			id="buttonSave"
	    			ValidationGroup="validateInfosConsultation"
	    			CssClass="bouton-validation float-right"
	    			Attributes.value="<%=Prado::localize('TEXT_VALIDER')%>"
	    		 	Attributes.title="<%=Prado::localize('TEXT_VALIDER')%>"
					attributes.onClick="this.style.display='none'; saveDumeAcheteurWithoutEtapeFrom();"
					onClick="onValider"
	    		 >
					<prop:ClientSide.OnLoading>showLoader();</prop:ClientSide.OnLoading>
					<prop:ClientSide.OnFailure>showLoader();</prop:ClientSide.OnFailure>
					<prop:ClientSide.OnSuccess>
                        showLoader();
                        addFileUploadedMessecV2LocalStorage();
                    </prop:ClientSide.OnSuccess>
					<prop:ClientSide.RequestTimeOut><%= Application\Service\Atexo\Atexo_Config::getParameter('TIMEOUT_FORMULAIRE_MODIFICATION_CONSULTATION_EN_LIGNE')%></prop:ClientSide.RequestTimeOut>
				</com:TActiveButton>
			</div>
			<com:TLabel ID="dsplayBloc"/>
			<!--Fin line boutons-->
			<div class="breaker"></div>
		</com:TPanel>
	</div>
	<com:TActiveLabel ID="javascript" style="display:none" Text=""/>
	<com:TActiveLabel id="scriptJs" />
	<!--Fin colonne droite-->
</com:TContent>
