<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	
	<com:TPanel CssClass="main-part" ID="errorPart">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <a href="#"><com:TTranslate>TEXT_OUVERTURE_ANALYSE</com:TTranslate></a> &gt; <com:TTranslate>TEXT_DETAIL_PLI</com:TTranslate></div>
		<com:PanelMessageErreur ID="panelMessageErreur"/>
	</com:TPanel>
	<com:TPanel Cssclass="main-part" ID="mainPart">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <a href="#"><com:TTranslate>TEXT_OUVERTURE_ANALYSE</com:TTranslate></a> &gt; <com:TTranslate>TEXT_DETAIL_PLI</com:TTranslate></div>
		<!--Debut Bloc Recap Consultation-->
		<com:ConsultationSummary ID="consultationSummury"/>
		<!--Fin Bloc Recap Consultation-->
		
		<!--Debut Bloc Infos detail pli-->
		<com:DetailPli ID="detailPli"/>
		<!--Fin Bloc Infos detail pli-->

		<!-- detail dans le cas mode enveloppe unique debut -->
		<com:TPanel id="PanelFichiersDossiersEtSiganture" >
			<com:TRepeater ID="idRepeaterFichiers" EnableViewState="true" >
				  <prop:ItemTemplate>
						<com:FichiersDetailPli 
							id="Fichierscandidature" 
							enveloppe = "<%#$this->Data%>"
						/>
			     </prop:ItemTemplate>
			</com:TRepeater>
		</com:TPanel>
		<!-- detail dans le cas mode enveloppe unique fin -->
		<div class="link-line">
			<a href="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>" class="bouton-retour" title="<%=Prado::localize('TEXT_RETOUR')%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></a>

		</div>
		<div class="breaker"></div>
	</com:TPanel>
	<!--Fin colonne droite-->
</com:TContent>
