<com:TContent ID="CONTENU_PAGE">	
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TTranslate>DECISION</com:TTranslate></div>
		<!--Debut Barre etape-->
		<com:TPanel CssClass="etapes-5-process" ID="etape3">
		<com:TPanel ID="etatConsultationElaboration" ><span><com:TTranslate>DEFINE_ELABORATION</com:TTranslate></span></com:TPanel>
			<span><com:TTranslate>DEFINE_PREPARATION</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_CONSULTATION</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_OUVERTURE_ANALYSE</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_DECISION</com:TTranslate></span>
		</com:TPanel>
		<!--Fin Barre etape-->
		<com:ConsultationSummary ID="consultationSummary"/>
		
		<com:PanelMessageErreur ID="panelMessageErreur"/>
		<com:AtexoValidationSummary  ValidationGroup="validationAnalyse" />

		<!--Debut Bloc Identification de l'enchere-->
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
			
				<h3><com:TTranslate>DEFINE_RESULTAT_ANALYSE_PLIS</com:TTranslate></h3>
				<!--Debut Line resultats analyse-->
				<div class="line" style="display:<%=(( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['lot']))? '':'none')%>">
					<div class="intitule-60">
						<strong><com:TTranslate>LOT</com:TTranslate> <%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['lot'])%> :</strong>
					</div>
					<div class="content-bloc bloc-590"><com:TLiteral ID="intituleLot"/></div>
				</div>
				<div class="spacer-small"></div>
				<div class="line">
					<div class="intitule-120 intitule-bloc"><com:TTranslate>RESULTAT_ANALYSE</com:TTranslate> :</div>
					<div class="content-bloc bloc-600">
						<div class="intitule-auto clear-both">
							<com:TRadioButton GroupName="Attribution" ID="aDefinir" ToolTip="<%=Prado::localize('A_DEFINIR')%>"/>
							<label for="ctl0_CONTENU_PAGE_aDefinir"><com:TTranslate>A_DEFINIR</com:TTranslate></label>
						</div>
						<div class="intitule-auto clear-both">
							<com:TRadioButton GroupName="Attribution" ID="attribue" ToolTip="<%=Prado::localize('ATTRIBUTION_PROPOSEE')%>"/>
							<label for="ctl0_CONTENU_PAGE_aDefinir"><com:TTranslate>ATTRIBUTION_PROPOSEE</com:TTranslate></label>
						</div>
						<div class="intitule-auto clear-both">
							<com:TRadioButton GroupName="Attribution" ID="infructueux" ToolTip="<%=Prado::localize('MARCHE_INFRUCTUEUX')%>" />
							<label for="ctl0_CONTENU_PAGE_Attribution"><com:TTranslate>MARCHE_INFRUCTUEUX</com:TTranslate></label>
						</div>
						<div class="intitule-auto clear-both">
							<com:TRadioButton GroupName="Attribution" ID="autre"  ToolTip="<%=Prado::localize('AUTRE_A_PRECISER')%>"/>
							<label for="ctl0_CONTENU_PAGE_annulee"><com:TTranslate>AUTRE_A_PRECISER</com:TTranslate> :</label>
							&nbsp;<com:TTextBox  ID="precisionAutre" Attributes.title="<%=Prado::localize('AUTRE_PERECISER')%>" />
						</div>
					</div>
				</div>
				<div class="spacer-small"></div>
				<!--Fin Line resultats analyse-->
				<!--Debut Ligne Date fin analyse-->
				<div class="line">
					<div class="intitule-120"><label for="dateFinAnalyse"><com:TTranslate>DATE_FIN_ANALYSE</com:TTranslate></label> :</div>

					<div class="calendar">
						<com:TTextBox ID="dateDecision" Attributes.title="<%=Prado::localize('DATE_FIN_ANALYSE')%>" CssClass="heure"  />
						<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" alt="<%=Prado::localize('DEFINE_CALENDRIER')%>" title="<%=Prado::localize('DEFINE_CALENDRIER')%>" onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateDecision'),'dd/mm/yyyy 16:00','');"/>
						 
						<com:TCustomValidator
							ValidationGroup="validationAnalyse"
							ControlToValidate="dateDecision"
							ClientValidationFunction="validateDateTime"
                        	Display="Dynamic"
							ErrorMessage="<%=Prado::localize('FORMAT_DATE')%> <%=Prado::localize('DATE_TIME_FORMAT')%>"
                            Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
							EnableClientScript="true" > 						 					 
							<prop:ClientSide.OnValidationError>
		 						document.getElementById('divValidationSummary').style.display='';
							</prop:ClientSide.OnValidationError>
						 </com:TCustomValidator>
						 
						 <%=Prado::localize('DATE_TIME_FORMAT')%>
					</div>
				</div>
				<!--Fin Ligne Date fin analyse-->
				<!--Debut Ligne Commentaire-->
				<div class="line">
					<div class="intitule-120"><label for="commentaire"><com:TTranslate>DEFINE_COMMENTAIRE</com:TTranslate></label> :</div>
					<com:TTextBox ID="commentaire" Attributes.title="<%=Prado::localize('DEFINE_COMMENTAIRE')%>" CssClass="long-630" TextMode="MultiLine" />
				</div>
				<div class="spacer"></div>
				
				 
				<!--Debut Tableau Liste des attributaires-->
				<com:TActivePanel ID="panelEntrepriseAttributaire">
							<com:TRepeater ID="entreprisesAttributaire" 
									 AllowCustomPaging="true">
								<prop:HeaderTemplate>
										<table summary="<%=Prado::localize('LISTE_CANDIDATS')%>" class="table-results">
											<caption><com:TTranslate>INFORMATIONS_CANDIDATS</com:TTranslate></caption>
											<thead>
						
												<tr><th class="top" colspan="3"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th></tr>
												<tr>
													<th class="col-80" id="numPli"><a href="#"><com:TTranslate>NUM_PLI</com:TTranslate><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri-off.gif" alt="Trier" title="Trier" /></a></th>
													<th class="col-130" id="nomEntreprise"><a href="#" ><com:TTranslate>TEXT_ENTREPRISE</com:TTranslate><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri-off.gif" alt="Trier" title="Trier" /></a></th>
													<th class="col-500" id="infosCandidat"><com:TTranslate>INFORMATION_CANDIDAT</com:TTranslate></th>
												</tr>
											</thead>
								</prop:HeaderTemplate>
								<prop:ItemTemplate>
										<tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
												<td class="col-80" headers="numPli">
												<com:THiddenField ID="idOffre" Value="<%#$this->Data->getId()%>"/>
												<com:THiddenField ID="idProposition" Value="<%#$this->Data->getResultatAnalyse()->getId()%>"/>
												<com:THiddenField ID="typeEnveloppe" Value="<%#$this->Data->getTypeEnveloppe()%>"/>
												<com:TLabel Text="<%#($this->Data->getTypeEnveloppe()== Application\Service\Atexo\Atexo_Config::getParameter('DEPOT_ELECTRONIQUE') ? 'EL' : 'PA')%>"/>
												<%#$this->Data->getNumPli()%>
												<br /></td>
												<td class="col-130" headers="nomEntreprise">
													<span class="blue"><%#$this->Data->getNomEntreprise()%></span>
													<br />
													<a href="index.php?page=Agent.CoffreFortElectronique&id=<%#($this->Data->getTypeEnveloppe()== Application\Service\Atexo\Atexo_Config::getParameter('DEPOT_ELECTRONIQUE') ? $this->Data->getEntrepriseId(): base64_encode($this->Data->getSiret()))%>&idO=<%#$this->Data->getId()%>&idC=<%#$this->Data->getConsultationId()%>&type=<%#($this->Data->getTypeEnveloppe()== Application\Service\Atexo\Atexo_Config::getParameter('DEPOT_ELECTRONIQUE') ? 'E' : 'P')%>">
														<com:TImage Attributes.onclick="return <%#($this->Data->getTypeEnveloppe()== Application\Service\Atexo\Atexo_Config::getParameter('DEPOT_ELECTRONIQUE')) ? 'true': Application\Service\Atexo\Entreprise\Atexo_Entreprise_CoffreFort::enabelCoffreFort($this->Data->getSiret()) %>" ImageUrl="<%#($this->Data->getTypeEnveloppe()== Application\Service\Atexo\Atexo_Config::getParameter('DEPOT_ELECTRONIQUE')) ? Application\Service\Atexo\Controller\Atexo_Controller_Front::t().'/images/picto-coffre-fort.gif' : ((Application\Service\Atexo\Entreprise\Atexo_Entreprise_CoffreFort::enabelCoffreFort($this->Data->getSiret())=='true')? Application\Service\Atexo\Controller\Atexo_Controller_Front::t().'/images/picto-coffre-fort.gif':t().'/images/picto-coffre-fort-inactive.gif')%>" Visible=<%#Application\Service\Atexo\Atexo_Module::isEnabled('AccesAgentsCfeOuvertureAnalyse', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism())%> ToolTip="<%#($this->Data->getTypeEnveloppe()== Application\Service\Atexo\Atexo_Config::getParameter('DEPOT_ELECTRONIQUE') ? Application\Service\Atexo\Entreprise\Atexo_Entreprise_CoffreFort::getToolTip($this->Data->getEntrepriseId(),  Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']), Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism()): Application\Service\Atexo\Entreprise\Atexo_Entreprise_CoffreFort::getToolTipBySiret($this->Data->getSiret(),  Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']), Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism() ))%>"/>
													</a>
												</td>
												<td class="col-500" headers="infosCandidat">
													<!--Debut Bloc Formulaire Infos Candidats-->
													<div style="display:block;">
														<!--Debut Bloc Montant-->
														<div class="line no-indent">
						
															<div class="intitule-150"><label for="montant"><com:TTranslate>MONTANT_OFFRE</com:TTranslate></label> :</div>
																<com:TTextBox ID="montant" Attributes.title="Montant" CssClass="input-100 float-left-fix" Text="<%#$this->Data->getResultatAnalyse()->getMontantOffre()%>" />
																<com:TRegularExpressionValidator 
																		ID="montantControl"
																		ValidationGroup="validationAnalyse"
																	    ControlToValidate="montant"
																	    RegularExpression="\d*[\,|\.]?\d*"	
																	    ErrorMessage="<%=Prado::localize('FORMAT_MONTANT_OFFRE')%>"
															 			Text="<span title='<%=Prado::localize('FORMAT_INCORRECTE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('FORMAT_INCORRECTE')%>' /></span>">
																		<prop:ClientSide.OnValidationError>
									           				 				document.getElementById('divValidationSummary').style.display='';
									         							</prop:ClientSide.OnValidationError>
							         							</com:TRegularExpressionValidator>	
																<com:TTranslate>DEFINE_UNITE_HT</com:TTranslate>
															
														</div>
														<div class="spacer-mini"></div>
														<!--Fin Bloc Montant-->
						
														<!--Debut Ligne Note-->
														<div class="line no-indent">
															<div class="intitule-150"><label for="note"><com:TTranslate>NOTE</com:TTranslate></label>:</div>
															<com:TTextBox ID="note" Text="<%#$this->Data->getResultatAnalyse()->getNote()%>"  Attributes.title="<%= Prado::localize('DEFINE_NOTE')%>" CssClass="input-50" />
														</div>
														<!--Fin Ligne Note-->
														<!--Debut Ligne Classement-->
														<div class="line no-indent">
						
															<div class="intitule-150"><label for="classement"><com:TTranslate>DEFINE_CLASSEMENT</com:TTranslate></label>:</div>
															<com:TTextBox ID="classement" Text="<%#$this->Data->getResultatAnalyse()->getClassement()%>" Attributes.title="<%=Prado::localize('DEFINE_CLASSEMENT')%>" CssClass="input-50"/>
														</div>
														<!--Fin Ligne Classement-->
														<!--Debut Bloc Observations-->
														<div class="line no-indent">
															<div class="intitule-150"><label for="observations"><%=Prado::localize('OBSERVATIONS')%></label> :</div>
															<com:TTextBox ID="observation" Attributes.title="<%=Prado::localize('OBSERVATIONS')%>" CssClass="bloc-320 high-120" TextMode="MultiLine" Text="<%#$this->Data->getResultatAnalyse()->getObservation()%>"/>
														</div>
														<!--Fin Ligne Bloc Observations-->
													</div>
													<!--Fin Bloc Formulaire Infos Candidats-->						
												</td>
											</tr>
										
								</prop:ItemTemplate>
								<prop:FooterTemplate>
								  </table>
						   </prop:FooterTemplate>
						</com:TRepeater>
					 </com:TActivePanel>
					 <span style="display:none;">
						<com:TActiveButton id="refreshEnreprises" onCallBack="onCallBackRefresh" />	
					</span>
				<!--Fin Tableau Liste des attributaires-->					
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Identification de l'enchere-->
		<div class="link-line">
			<a href="index.php?page=Agent.resultatAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>" class="bouton-retour" title="<%=Prado::localize('RETOUR_TAB_DECISION')%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></a>
			<com:TButton ID="boutonEnregistrer" CssClass="bouton-moyen float-right" Text="<%=Prado::localize('TEXT_ENREGISTER')%>" Attributes.title="<%=Prado::localize('TEXT_ENREGISTER')%>" onClick="saveProposition" ValidationGroup="validationAnalyse"/>
		</div>
	<!--Debut Infos-Bulles-->
	<!--div id="infosPmePmi" class="info-bulle" onmouseover="mouseOverBulle();" onmouseout="mouseOutBulle();"><div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	</div-->
	</div>
	<!--Fin Infos-Bulles-->
</com:TContent>