<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
	<div class="breadcrumbs">
		<a href="<%=( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['archive']))? '?page=Agent.ArchiveTableauDeBord&id='. Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']):'?page=Agent.TableauDeBord&WithCritere&id='. Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt;
		<com:TTranslate>TEXT_DETAIL</com:TTranslate>
	</div>
	  <com:TPanel id="errorPanel" Visible="false">
        <div id="divValidationSummary" style="display:" class="form-bloc-erreur">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
			<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-erreur.gif" class="picto-erreur" alt="<%['TEXT_ERREUR']%>" />
			<div class="message bloc-700">
			<com:TLabel id="panelErrorLabel"></com:TLabel>
			<div class="spacer-small"></div>

			</div>
			<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</div>
	   </com:TPanel>
	    <!--Debut message avertissement-->
		 	<com:PanelMessageAvertissement ID="panelMessageAvertTraduction" Visible="false"/>
		 <!--Fin message avertissement-->
	   <com:TPanel id="panelDetailsConsultation" visible="true">
		<div class="link-line">
		<a
			href="<%=( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['archive']))? '?page=Agent.ArchiveTableauDeBord&id='. Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']):'?page=Agent.TableauDeBord&WithCritere&id='. Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"
			class="bouton-retour"
			title="<%=Prado::localize('RETOUR_TABLEAU_DE_BORD')%>"
		>
			<com:TTranslate>TEXT_RETOUR</com:TTranslate>
		</a>

		<div class="file-link">
			<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-pdf.gif" alt="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_PDF')%>" title="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_PDF')%>" />
			<com:TLinkButton onClick="printConsultationPdf" Text="<%=Prado::localize('DEFINE_VERSION_IMPRIMABLE')%>" />
		</div>
		<div class="breaker"></div>
		<div class="file-link">
			<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-rtf.gif" alt="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_RTF')%>" title="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_RTF')%>" />
			<com:TLinkButton onClick="printConsultationRtf" Text="<%=Prado::localize('DEFINE_VERSION_IMPRIMABLE')%>" />
		</div>

		</div>
		<!--Debut Bloc Identification de la consultation-->

		<div class="form-field">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
			<com:ConsultationSummary ID="IdConsultationSummary"/>
				<!--Debut Bloc Infos Complementaires-->
					<com:ConsultationAdditionalInformations ID="consultationAdditionalInformations"/>
				<!--Fin Bloc Infos Complementaires-->
				<com:ConsultationValidationModalities ID="consultationValidationEnLigne" />
				<!--Debut Bloc Calendrier reel-->
				<com:CalendrierReel ID="calendrierReel"/>
				<!--Fin Bloc Calendrier reel -->
				<!--Debut Bloc Modalites de reponse-->
				   <com:ConsultationReplyTerms ID="consultationReplyTerms"/>
				<!--Fin Bloc Modalites de reponse-->
				<!--Debut Bloc Alertes -->
				   <com:ConsultationAlertes ID="consultationAlertes"/>
				<!--Fin Bloc Alertes -->
				<!--Debut Bloc Suivi des messages échangés et documents joints-->
				<div class="form-bloc recap-infos-consultation">
					<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
						<div class="content">
							<div class="title-toggle" data-tnr="suiviEchangesAgent" onclick="togglePanel(this,'suiviEchanges');"><h2 class="pos-rb-4"><com:TTranslate>DEFINE_SUIVI_MESSAGES_ECHANGES_ET_DOC_JOINTS</com:TTranslate></h2></div>
							<div class="form-bloc" style="display:none;" id="suiviEchanges">
							<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
							<div class="content">
								<div class="picto-link inline indent-10" style="display:<%=(Application\Service\Atexo\Atexo_CurrentUser::hasHabilitation('SuivreMessage'))? '':'none'%>" >
									<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-e-courrier.gif" alt="<%=Prado::localize('TEXT_SUIVI_MESSAGES')%>" title="<%=Prado::localize('TEXT_SUIVI_MESSAGES')%>" />
									<com:THyperLink id="idSuiviEchanges">
										<com:TTranslate>DEFINE_SUIVI_MESSAGES</com:TTranslate>
									</com:THyperLink>
								</div>
								<com:TPanel Cssclass="picto-link inline indent-10" visible="<%=Application\Service\Atexo\Atexo_CurrentUser::hasHabilitation('EnvoyerMessage') && !$this->_consultation->getCurrentUserReadOnly()%>">
									<div class="picto-link inline indent-10"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-envoi-message.gif" alt="<%=Prado::localize('TEXT_ENVOYER_MESSAGE')%>" title="<%=Prado::localize('TEXT_ENVOYER_MESSAGE')%>" />
										<com:THyperLink id="idMessageSimple">
											<%=Prado::localize('TEXT_ENVOYER_MESSAGE')%>
										</com:THyperLink>
									</div>
								</com:TPanel>
								<com:TPanel Cssclass="picto-link inline indent-10" visible="<%=Application\Service\Atexo\Atexo_CurrentUser::hasHabilitation('EnvoyerMessage') && !$this->_consultation->getCurrentUserReadOnly()%>">
									<div class="picto-link inline indent-10">
										<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-envoi-message.gif" alt="<%=Prado::localize('DEFINE_TEXT_ENVOYER_INVITATION_CONCOURIR')%>" title="<%=Prado::localize('DEFINE_TEXT_ENVOYER_INVITATION_CONCOURIR')%>" />
										<com:THyperLink id="idMessageInvitationConcourir" >
											<%=Prado::localize('DEFINE_TEXT_ENVOYER_INVITATION_CONCOURIR')%>
										</com:THyperLink>
									</div>
								</com:TPanel>
								<div class="breaker"></div>
								<com:TPanel ID="suiviDoc">
									<div class="picto-link inline indent-10"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-ajout-doc-link.gif" alt="<%=Prado::localize('TEXT_SUIVI_DOCUMENTS_EXTERNE')%>" title="<%=Prado::localize('TEXT_SUIVI_DOCUMENTS_EXTERNE')%>" /><a href="?page=Agent.ArchiveSuiviDocsExterne&id=<%=$this->_refConsultation%>&detail=1"><com:TTranslate>TEXT_SUIVI_DOCUMENTS_EXTERNE</com:TTranslate></a></div>
									<div class="picto-link inline indent-20"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-metadonnees-link.gif" alt="<%=Prado::localize('TEXT_DESCRIPTION_MOTSCLES_ARCHIVES')%>" title="<%=Prado::localize('TEXT_DESCRIPTION_MOTSCLES_ARCHIVES')%>" /><a href="?page=Agent.ArchiveMetadonnee&id=<%=$this->_refConsultation%>&detail=1"><com:TTranslate>TEXT_DESCRIPTION_MOTSCLES_ARCHIVES</com:TTranslate></a></div>
								</com:TPanel>

								<!--  Lien de telechargement de la version imprimable Pdf -->

								<com:TPanel
										Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('espaceDocumentaire') == '1' && Application\Service\Atexo\Atexo_CurrentUser::hasHabilitation('EspaceDocumentaireConsultation') == '1' )? true:false %>">
									<div class="picto-link inline indent-10">
										<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-documents-consultation.gif" height="12"
											alt="<%=Prado::localize('DOCUMENT_CONSULTATION')%>"
											title="<%=Prado::localize('DOCUMENT_CONSULTATION')%>" />
										<a href="javascript:popUpSetSize('agent/espace-documentaire-consultation/<%=$this->_refConsultation%>','850px','800px','yes');">
											<com:TTranslate>DOCUMENT_CONSULTATION</com:TTranslate>
										</a>
									</div>
								</com:TPanel>

								<div class="breaker"></div>
							</div>
							<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
						</div>
					</div>
					<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</div>
				<!--Fin Bloc Suivi des messages échangés et documents joints-->
				<!--Debut Bloc Suivi des messages échangés et documents joints-->
				<div class="form-bloc recap-infos-consultation">
					<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					<div class="content">
					<div class="title-toggle" onclick="togglePanel(this,'droitAcces');"><h2 class="pos-rb-4"><com:TTranslate>DEFINE_DROIT_ACCES</com:TTranslate></h2></div>
					</div>
					<div style="display:none;" id="droitAcces">
						<com:DroitsAcces id="DroitsAcces" ParentPage="DetailConsultation" Reference="<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"/>
						<com:THiddenField ID="invites"/>
						<com:THiddenField id="nbrInviteAvant"/>
					</div>
					<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</div>
				<!--Fin Bloc Suivi des messages échangés et documents joints-->
				<div class="breaker"></div>

			</div>


		</div>
		<div class="spacer-small"></div>
		<!--Fin Bloc Identification de la consultation-->
		<!--Debut Bloc Mes actions-->

		<div class="toggle-panel">

			<div class="content">

				<div class="title-toggle" onclick="togglePanel(this,'panel_MesActions');"><com:TTranslate>DEFINE_MES_ACTIONS</com:TTranslate></div>
				<div class="float-right-10">
					<com:TCheckBox checked='true' attributes.name="showActionsComp" id="showActionsComp" attributes.title="<%['DEFINE_AFFICHER_ACTIONS_COMPLEMENTAIRES']%>" cssclass="check" attributes.onclick="isCheckedShowDiv(this,'panel_MesActionsComp');isCheckedShowDiv(this,'panel_MesActionsComp3');isCheckedShowDiv(this,'panel_MesActionsComp4');isCheckedShowDiv(this,'panel_MesActionsComp3Bis');" />
					<label for="showActionsComp"><com:TTranslate>DEFINE_AFFICHER_ACTIONS_COMPLEMENTAIRES</com:TTranslate>
					</label>
				</div>

				<div class="panel mes-actions" style="display: block;" id="panel_MesActions" >

					<com:TPanel CssClass="etapes-5-process" ID="etape1">
						<com:TPanel ID="etatConsultationElaboration" ><span><com:TTranslate>DEFINE_ELABORATION</com:TTranslate></span></com:TPanel>
						<span><com:TTranslate>DEFINE_PREPARATION</com:TTranslate></span>
						<span><com:TTranslate>DEFINE_CONSULTATION</com:TTranslate></span>
						<span><com:TTranslate>DEFINE_OUVERTURE_ANALYSE</com:TTranslate></span>
						<span><com:TTranslate>DEFINE_DECISION</com:TTranslate></span>
					</com:TPanel>
					<!--Debut Bloc Actions Elaboration-->
					<com:TPanel ID="actionPanelConsultationElaboration"  >
					<div class="column-action-140">

						<com:TPanel ID="panelModifierElaboration" CssClass="picto-link inactive-text">
							<com:PictoEdit Clickable="false" Activate="false" ID="ImageModifierElaboration" CommandName="<%=Application\Service\Atexo\Atexo_Config::getParameter('ACTIVE_ELABORATION_V2') ? '/agent/consultation/modification/' . $this->_consultation->getUuid() : 'index.php?page=Agent.FormulaireConsultation&id=' . base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkModifierElaboration" visible="false" NavigateUrl="<%=Application\Service\Atexo\Atexo_Config::getParameter('ACTIVE_ELABORATION_V2') ? '/agent/consultation/modification/' . $this->_consultation->getUuid() : 'index.php?page=Agent.FormulaireConsultation&id=' . base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelModifierElaboration"  ><com:TTranslate>BOUTON_MODIFIER</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelRedactionElaboration" CssClass="picto-link inactive-text action-redac" Visible="<%=$this->redactionIsVisible()%>">
							<com:THyperLink ID="linkRedactionElaboration"  visible="false" NavigateUrl="<%=Application\Service\Atexo\Atexo_Util::getSfService(App\Service\Routing\RouteBuilderInterface::class)->getRoute('agent_consultations_redaction_pieces_get_by_id', ['id' => Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])])%>">
								<com:PictoRedactionImage  Clickable="false" ID="ImageRedactionElaboration" />
								<com:TTranslate>TEXTE_REDACTION_PIECES_MARCHE</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelRedactionElaboration"  >
								<com:PictoRedactionImage  Clickable="false" ID="ImageRedactionElaborationIactif" />
								<com:TTranslate>TEXTE_REDACTION_PIECES_MARCHE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelPubliciteElaboration" cssClass="picto-link inactive-text action-mpe" Visible="true" >
							<com:PictoAdvertizeMol Clickable="false" Activate="false" ID="ImagePubliciteElaboration" CommandName="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true"  OnCommand="redirectTo"/>
							<com:THyperLink ID="linkPubliciteElaboration" visible="false" NavigateUrl="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true"> <com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:THyperLink>
								<com:TLabel ID="labelPubliciteElaboration"><com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
								</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelFormulaireEtCriteresElaboration" cssClass="picto-link action-mpe"  Style="display:none;">
							<com:pictoFormsEtCriteres Clickable="true"  Activate="true" ID="ImageFormulairesEtCriteresElaboration" OnClick="redirectToGetionFormulairesEtCriteres" />
    						<com:THyperLink ID="linkFormulaireEtCriteresElaboration"
    						visible="true"
    						NavigateUrl="index.php?page=Agent.GestionFormulairesEtCriteres&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>">
    							<com:TTranslate>TEXT_FORMULAIRE_ET_CRITERES</com:TTranslate>
    						</com:THyperLink>
    					 </com:TPanel>


						<div id="panel_MesActionsComp3Bis" style="display:block;">

    					<com:TPanel ID="panelCreerSuiteElaboration" CssClass="picto-link inactive-text">
							<com:PictoCreerSuite  Clickable="false" Activate="false" ID="imageCreerSuiteElaboration" OnClick="redirectToCreerSuite" />
							 <com:THyperLink ID="linkCreerSuiteElaboration" visible="false" NavigateUrl="/agent/consultation/creation?consultationParentId=<%=Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>">
							 	<com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate>
							 </com:THyperLink>
							 <com:TLabel ID="labelCreerSuiteElaboration">
								<com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TRepeater ID="repeaterTraduireElaboration" EnableViewState="true">
							<prop:ItemTemplate>
								<com:TPanel ID="panelTraduire" CssClass="picto-link inactive-text action-mpe">
									<com:THiddenField ID="langue" Value="<%#$this->Data->getLangue()%>"/>
									<com:PictoTraduire id="ImageTraduire" Activate="false" Clickable="false" />
									<com:THyperLink id="linkTraduire" visible="false" NavigateUrl=<%="index.php?page=Agent.TraduireConsultation&id=". Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])."&langue=".$this->Data->getLangue()%>>
										<com:TTranslate>DEFINE_TRADUIRE_EN</com:TTranslate> <%#$this->Data->getLibelle()%>
									</com:THyperLink>
									<com:TLabel ID="labelTraduire">
										<com:TTranslate>DEFINE_TRADUIRE_EN</com:TTranslate> <%#$this->Data->getLibelle()%>
									</com:TLabel>
								</com:TPanel>
							</prop:ItemTemplate>
                        </com:TRepeater>

						<com:TPanel ID="panelDeleteConsultationElaboration" CssClass="picto-link inactive-text">
							<com:PictoDelete ID="ImageDeleteConsultationElaboration" ParentPage="DetailConsultation" Clickable="false" Activate="false" OnClick="deleteConsultation"/>
							<com:TLinkButton ID="linkDeleteConsultationElaboration" Visible="false" OnClick="deleteConsultation">
								<com:TTranslate>TEXT_SUPPRIME_ANNONCE</com:TTranslate>
							</com:TLinkButton>
							<com:TLabel ID="labelDeleteConsultationElaboration">
								<com:TTranslate>TEXT_SUPPRIME_ANNONCE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>
						</div>

					</div>
					</com:TPanel>
					<!--Fin Bloc Actions Elaboration-->

					<!--Debut Bloc Actions Preparation-->
					<div class="column-action-140">

						<com:TPanel ID="panelModifierPreparation" CssClass="picto-link inactive-text">
							<com:PictoEdit Clickable="false" Activate="false" ID="ImageModifierPreparation" CommandName="<%=Application\Service\Atexo\Atexo_Config::getParameter('ACTIVE_ELABORATION_V2') ? '/agent/consultation/modification/' . $this->_consultation->getUuid() : 'index.php?page=Agent.FormulaireConsultation&id=' . base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkModifierPreparation" visible="false" NavigateUrl="<%=Application\Service\Atexo\Atexo_Config::getParameter('ACTIVE_ELABORATION_V2') ? '/agent/consultation/modification/' . $this->_consultation->getUuid() : 'index.php?page=Agent.FormulaireConsultation&id=' . base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelModifierPreparation"  ><com:TTranslate>BOUTON_MODIFIER</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelRedactionPreparation" CssClass="picto-link inactive-text action-redac" Visible="<%=$this->redactionIsVisible()%>">
							<com:THyperLink ID="linkRedactionPreparation"  visible="false" NavigateUrl="<%=Application\Service\Atexo\Atexo_Util::getSfService(App\Service\Routing\RouteBuilderInterface::class)->getRoute('agent_consultations_redaction_pieces_get_by_id', ['id' => Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])])%>">
								<com:PictoRedactionImage  Clickable="false" ID="ImageRedactionPreparation" />
								<com:TTranslate>TEXTE_REDACTION_PIECES_MARCHE</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelRedactionPreparation"  >
								<com:PictoRedactionImage  Clickable="false" ID="ImageRedactionPreparationInactif" />
								<com:TTranslate>TEXTE_REDACTION_PIECES_MARCHE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelPublicitePreparation" cssClass="picto-link inactive-text action-mpe" Visible="true" >
							<com:PictoAdvertizeMol Clickable="false" Activate="false" ID="ImagePublicitePreparation" CommandName="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true"  OnCommand="redirectTo"/>
							<com:THyperLink ID="linkPublicitePreparation" visible="false" NavigateUrl="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true"> <com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:THyperLink>
								<com:TLabel ID="labelPublicitePreparation"><com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
								</com:TLabel>
						</com:TPanel>
						 <com:TPanel ID="panelFormulaireEtCriteres" cssClass="picto-link action-mpe"  Style="display:none;">
							<com:pictoFormsEtCriteres Clickable="true"  Activate="true" ID="ImageFormulairesEtCriteres" OnClick="redirectToGetionFormulairesEtCriteres" />
    						<com:THyperLink ID="linkFormulaireEtCriteres"
    						visible="true"
    						NavigateUrl="index.php?page=Agent.GestionFormulairesEtCriteres&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>">
    							<com:TTranslate>TEXT_FORMULAIRE_ET_CRITERES</com:TTranslate>
    						</com:THyperLink>
    					 </com:TPanel>

                        <com:TPanel ID="panelValidate" CssClass="picto-link inactive-text action-mpe"  Visible="false">
                            <com:PictoApproveValidate Activate="true" ID="ImageValidate" Clickable="false" OnClick="redirectToApprouverValider" />
							<com:THyperLink ID="linkValidate" visible="false" NavigateUrl="index.php?page=Agent.ValiderConsultation&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>DEFINE_APPROUVER_VALIDER</com:TTranslate>
							</com:THyperLink>
                            <com:TLabel ID="labelValidate"><com:TTranslate>DEFINE_APPROUVER_VALIDER</com:TTranslate></com:TLabel>
						</com:TPanel>

						<div id="panel_MesActionsComp3" style="display:block;">

    					<com:TPanel ID="panelCreerSuitePreparation" CssClass="picto-link inactive-text">
							<com:PictoCreerSuite  Clickable="false" Activate="false" ID="imageCreerSuitePreparation" OnClick="redirectToCreerSuite" />
							 <com:THyperLink ID="linkCreerSuitePreparation" visible="false" NavigateUrl="/agent/consultation/creation?consultationParentId=<%=Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>">
							 	<com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate>
							 </com:THyperLink>
							 <com:TLabel ID="labelCreerSuitePreparation">
								<com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

                        <com:TRepeater ID="repeaterTraduirePreparation" EnableViewState="true">
							<prop:ItemTemplate>
								<com:TPanel ID="panelTraduire" CssClass="picto-link inactive-text action-mpe">
									<com:THiddenField ID="langue" Value="<%#$this->Data->getLangue()%>"/>
									<com:PictoTraduire id="ImageTraduire" Activate="false" Clickable="false" />
									<com:THyperLink id="linkTraduire" visible="false" NavigateUrl=<%="index.php?page=Agent.TraduireConsultation&id=". Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])."&langue=".$this->Data->getLangue()%>>
										<com:TTranslate>DEFINE_TRADUIRE_EN</com:TTranslate> <%#$this->Data->getLibelle()%>
									</com:THyperLink>
									<com:TLabel ID="labelTraduire">
										<com:TTranslate>DEFINE_TRADUIRE_EN</com:TTranslate> <%#$this->Data->getLibelle()%>
									</com:TLabel>
								</com:TPanel>
							</prop:ItemTemplate>
                        </com:TRepeater>

						<com:TPanel ID="panelDeleteConsultation" CssClass="picto-link inactive-text">
							<com:PictoDelete ID="ImageDeleteConsultation" ParentPage="DetailConsultation" Clickable="false" Activate="false" OnClick="deleteConsultation"/>
							<com:TLinkButton ID="linkDeleteConsultation" Visible="false" OnClick="deleteConsultation">
								<com:TTranslate>TEXT_SUPPRIME_ANNONCE</com:TTranslate>
							</com:TLinkButton>
							<com:TLabel ID="labelDeleteConsultation">
								<com:TTranslate>TEXT_SUPPRIME_ANNONCE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>
						</div>
					</div>

					<!--Fin Bloc Actions Preparation-->

					<!--Debut Bloc Actions Consultation-->
					<div class="column-action-140">

						<com:TPanel ID="panelModifierConsultation" CssClass="picto-link inactive-text">
							<com:PictoEdit  Clickable="false"  Activate="false" ID="ImageModifierConsultation" CommandName="index.php?page=Agent.FormulaireConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkModifierConsultation" visible="false" NavigateUrl="index.php?page=Agent.FormulaireConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelModifierConsultation"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelRedactionConsultation" CssClass="picto-link inactive-text action-redac" Visible="<%=$this->redactionIsVisible()%>">
							<com:THyperLink ID="linkRedactionConsultation"  visible="false" NavigateUrl="<%=Application\Service\Atexo\Atexo_Util::getSfService(App\Service\Routing\RouteBuilderInterface::class)->getRoute('agent_consultations_redaction_pieces_get_by_id', ['id' => Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])])%>">
								<com:PictoRedactionImage  Clickable="false" ID="ImageRedactionConsultation" />
								<com:TTranslate>TEXTE_REDACTION_PIECES_MARCHE</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelRedactionConsultation"  >
								<com:PictoRedactionImage  ID="ImageRedactionConsultationInactif" />
								<com:TTranslate>TEXTE_REDACTION_PIECES_MARCHE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>


						<com:TPanel ID="panelPubConsultation"  CssClass="picto-link inactive-text action-mpe" Visible="true" >
							<com:PictoAdvertizeMol  Clickable="false"  Activate="false" ID="ImagePubConsultation" CommandName="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkPubConsultation" visible="false" NavigateUrl="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true">
							<com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelPubConsultation"><com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelRegistreRetraitsConsultation" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreRetraits Activate="false" Clickable="false" ID="ImageRegistreRetraitsConsultation" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=1" OnCommand="redirectTo"/>&nbsp;&nbsp;:</span>
							<com:THyperLink ID="linkRegistreRetraitsConsultation" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=1">
							</com:THyperLink>
							<com:TLabel ID="labelRegistreRetraitsConsultation"/>
							</com:TPanel>

						<com:TPanel ID="panelQuestionsConsultation" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreQuestions Clickable="false" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=3" OnCommand="redirectTo" Activate="false" ID="ImageQuestionsConsultation" />&nbsp;&nbsp;:</span>
							 <com:THyperLink ID="linkQuestionsConsultation" visible="false"  NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=3">
							 </com:THyperLink>
							 <com:TLabel ID="labelQuestionsConsultation"/>
							 </com:TPanel>

						<com:TPanel ID="panelRegistreDepot" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreDepot Activate="false" ID="ImagepanelRegistreDepot" Clickable="false" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=5" OnCommand="redirectTo"/>&nbsp;&nbsp;:</span>
							<com:THyperLink ID="linkRegistreDepot" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=5">
							</com:THyperLink>
							 <com:TLabel ID="labelRegistreDepot"/>
							 </com:TPanel>

						<com:TPanel ID="panelCreerSuite" CssClass="picto-link inactive-text">
							<com:PictoCreerSuite  Clickable="false" Activate="false" ID="ImageCreerSuite" OnClick="redirectToCreerSuite" />
							<com:THyperLink ID="linkCreerSuite" visible="false" NavigateUrl="/agent/consultation/creation?consultationParentId=<%=Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>DEFINE_CREER_SUITE</com:TTranslate></com:THyperLink>
							 <com:TLabel ID="labelCreerSuite"><com:TTranslate>DEFINE_CREER_SUITE</com:TTranslate></com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelAnnulerConsultation" CssClass="picto-link inactive-text action-mpe" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('AnnulerConsultation')%>">
							<com:PictoAnnulerConsultation ID="ImageAnnulerConsultation" ParentPage="DetailConsultation" Clickable="false" Activate="false" OnClick="annulerConsultation"/>
							<com:TLinkButton ID="linkAnnulerConsultation" Visible="false" OnClick="annulerConsultation">
								<com:TTranslate>ICONE_ANNULER</com:TTranslate>
							</com:TLinkButton>
							<com:TLabel ID="labelAnnulerConsultation">
								<com:TTranslate>ICONE_ANNULER</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<div id="panel_MesActionsComp4" style="display:block;">


						<com:TRepeater ID="repeaterTraduireConsultation" EnableViewState="true">
							<prop:ItemTemplate>
								<com:TPanel ID="panelTraduire" CssClass="picto-link inactive-text action-mpe" >
									<com:THiddenField ID="langue" Value="<%#$this->Data->getLangue()%>"/>
									<com:PictoTraduire id="ImageTraduire" Activate="false" Clickable="false" />
									<com:THyperLink id="linkTraduire" visible="false" NavigateUrl=<%#"index.php?page=Agent.TraduireConsultation&id=". Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])."&langue=".$this->Data->getLangue()%>>
										<com:TTranslate>DEFINE_TRADUIRE_EN</com:TTranslate> <%#$this->Data->getLibelle()%>
									</com:THyperLink>
									<com:TLabel ID="labelTraduire">
										<com:TTranslate>DEFINE_TRADUIRE_EN</com:TTranslate> <%#$this->Data->getLibelle()%>
									</com:TLabel>
								</com:TPanel>
							</prop:ItemTemplate>
                        </com:TRepeater>
						</div>

					</div>
					<!--Fin Bloc Actions Consultation-->

					<!--Debut Bloc Actions Ouverture et analyse-->
					<div class="column-action-140">

						<com:TPanel ID="panelModifierOuverture" CssClass="picto-link inactive-text" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AutoriserModificationApresPhaseConsultation', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism())) ? true:false%>">
							<com:PictoEdit  Clickable="false" Activate="false"  ID="ImageModifierOuverture" CommandName="index.php?page=Agent.FormulaireConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkModifierOuverture" visible="false" NavigateUrl="index.php?page=Agent.FormulaireConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate></com:THyperLink>
							 <com:TLabel ID="labelModifierOuverture"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate></com:TLabel>
						</com:TPanel>

                        <com:TPanel ID="panelPubOuverture"  CssClass="picto-link inactive-text action-mpe" Visible="true" >
							<com:PictoAdvertizeMol  Clickable="false"  Activate="false" ID="ImagePubOuverture" CommandName="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkPubOuverture" visible="false" NavigateUrl="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true">
							<com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelPubOuverture"><com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelAccesRepOuverture" CssClass="picto-link inactive-text action-mpe">
							<com:PictoDepouiller ParentPage="DetailConsultation"  Clickable="false"  Activate="false" ID="imageAccesRepOuverture" CommandName="?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkAccesRepOuverture" visible="false" NavigateUrl="?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>DEFINE_ACCES_AU_REPONCES</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelAccesRepOuverture"><com:TTranslate>DEFINE_ACCES_AU_REPONCES</com:TTranslate></com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelRegistreRetraisOuverture" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreRetraits Activate="false" Clickable="false" ID="imageRegistreRetraisOuverture" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=1" OnCommand="redirectTo"/>&nbsp;&nbsp;:</span>
							<com:THyperLink ID="linkRegistreRetraisOuverture" visible="false"NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=1"/>
							<com:TLabel ID="labelRegistreRetraisOuverture"/>
							</com:TPanel>

						<com:TPanel ID="panelQuestionsOuverture" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreQuestions Activate="false"  ID="ImageQuestionsOuverture" Clickable="false" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=3" OnCommand="redirectTo"/>&nbsp;&nbsp;:</span>
							<com:THyperLink ID="linkQuestionsOuverture" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=3"/>
							<com:TLabel ID="labelQuestionsOuverture"/>
						</com:TPanel>

						<com:TPanel ID="panelRegistreDepotOuverture" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreDepot Activate="false" ID="ImageRegistreDepotOuverture" Clickable="false" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=5" OnCommand="redirectTo" />&nbsp;&nbsp;:</span>
							<com:THyperLink ID="linkRegistreDepotOuverture" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=5"/>
								<com:TLabel ID="labelRegistreDepotOuverture"/>

						</com:TPanel>

						<com:TPanel ID="panelResultatAnalyseOuverture" CssClass="picto-link inactive-text action-mpe" Visible="<%=Application\Service\Atexo\Atexo_CurrentUser::hasHabilitation('ResultatAnalyse') && Application\Service\Atexo\Atexo_Module::isEnabled('ResultatAnalyseAvantDecision')%>">
							<com:PictoResultatAnalyse Clickable="false" Activate="false" ID="imageResultatAnalyseOuverture"/>
							<com:THyperLink ID="linkResultatAnalyseOuverture" visible="false" NavigateUrl="?page=Agent.resultatAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>RESULTAT_ANALYSE</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelResultatAnalyseOuverture"><com:TTranslate>RESULTAT_ANALYSE</com:TTranslate></com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelOrganiserOuverture" CssClass="picto-link inactive-text action-mpe" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('Encheres')%>">
							<com:PictoOrganierEnchere Clickable="false"  Activate="false"  ID="ImageOrganiserOuverture" OnClick="redirectToEnchere"/>
								<com:THyperLink ID="linkOrganiserOuverture" visible="false" NavigateUrl="index.php?page=Agent.GererEnchere&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>"><com:TTranslate>DEFINE_ORGANISER_UNE_ENCHERE</com:TTranslate></com:THyperLink>
								<com:TLabel ID="labelOrganiserOuverture"><com:TTranslate>DEFINE_ORGANISER_UNE_ENCHERE</com:TTranslate></com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelCreerSuiteOuverture" CssClass="picto-link inactive-text">
							<com:PictoCreerSuite Clickable="false" Activate="false"  ID="ImageCreerSuiteOuverture" OnClick="redirectToCreerSuite"/>
							<com:THyperLink ID="linkCreerSuiteOuverture" visible="false" NavigateUrl="/agent/consultation/creation?consultationParentId=<%=Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelCreerSuiteOuverture"><com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate></com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelTelechargerPli" CssClass="picto-link inactive-text action-mpe">
							<com:PictoDepouiller Clickable="false" Activate="false"  ID="ImageTelechargerPli" OnClick="redirectToTelechargerPli"/>
							<com:THyperLink ID="linkTelechargerPli" visible="false" NavigateUrl="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&telechargerOffres"><com:TTranslate>TELECHARGER_PLI_PAR_PLI</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelTelechargerPli"><com:TTranslate>TELECHARGER_PLI_PAR_PLI</com:TTranslate></com:TLabel>
						</com:TPanel>

					    <com:TPanel ID="panelCreerExtraitPv" CssClass="picto-link inactive-text action-mpe" style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('AutreAnnonceExtraitPv')))? 'block':'none'%>">
							<com:PictoNewExtraitPv Clickable="false" Activate="false"  ID="ImageCreerExtraitPv" OnClick="redirectToCreateExtraitPv"/>
							<com:THyperLink ID="linkCreerExtraitPv" visible="false" NavigateUrl="index.php?page=Agent.FormulaireAnnonce&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&newExtraitPv"><com:TTranslate>TEXT_CREER_ANNONCE_EXTRAIT_PV</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelCreerExtraitPv"><com:TTranslate>TEXT_CREER_ANNONCE_EXTRAIT_PV</com:TTranslate></com:TLabel>
						</com:TPanel>
						<com:TPanel ID="panelAnnulerConsultationOuverture" CssClass="picto-link inactive-text action-mpe" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('AnnulerConsultation')%>">
							<com:PictoAnnulerConsultation ID="ImageAnnulerConsultationOuverture" ParentPage="DetailConsultation" Clickable="false" Activate="false" OnClick="annulerConsultation"/>
							<com:TLinkButton ID="linkAnnulerConsultationOuverture" Visible="false" OnClick="annulerConsultation">
								<com:TTranslate>ICONE_ANNULER</com:TTranslate>
							</com:TLinkButton>
							<com:TLabel ID="labelAnnulerConsultationOuverture">
								<com:TTranslate>ICONE_ANNULER</com:TTranslate>
							</com:TLabel>
						</com:TPanel>
					    <!--div id="panel_MesActionsComp2" style="display:none;">
							<div class="picto-link inactive-text action-mpe"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier-inative.gif" alt="Télécharger les candidatures chiffrées" title="Télécharger les candidatures chiffrées" />Télécharger candidatures</div>
							<div class="picto-link inactive-text action-mpe"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier-admis-inactif.gif" alt="Télécharger les offres admissibles chiffrées" title="Télécharger les offres admissibles chiffrées" />Télécharger offres</div>
						</div-->
					</div>
					<!--Fin Bloc Actions Ouverture et analyse-->

					<!--Debut Bloc Actions Decision-->
					<div class="column-action-140">

						<com:TPanel ID="panelModiferDecision" CssClass="picto-link inactive-text" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AutoriserModificationApresPhaseConsultation', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism())) ? true:false%>">
							<com:PictoEdit Clickable="false" Activate="false" ID="ImageModifierDecision" CommandName="index.php?page=Agent.FormulaireConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkModifierDecision" visible="false" NavigateUrl="index.php?page=Agent.FormulaireConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelModifierDecision"><com:TTranslate>BOUTON_MODIFIER</com:TTranslate></com:TLabel>
						</com:TPanel>

                        <com:TPanel ID="panelPubDecision"  CssClass="picto-link inactive-text action-mpe" Visible="true"  >
							<com:PictoAdvertizeMol  Clickable="false"  Activate="false" ID="ImagePubDecision" CommandName="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true" OnCommand="redirectTo"/>
							<com:THyperLink ID="linkPubDecision" visible="false" NavigateUrl="index.php?page=Agent.PubliciteConsultation&id=<%=base64_encode( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&fullWidth=true">
							<com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:THyperLink>
							<com:TLabel ID="labelPubDecision"><com:TTranslate>DEFINE_PUBLICITE</com:TTranslate>
							</com:TLabel>
						</com:TPanel>


						<com:TPanel ID="panelResultatAnalyseDecision" CssClass="picto-link inactive-text action-mpe" Visible="<%=Application\Service\Atexo\Atexo_CurrentUser::hasHabilitation('ResultatAnalyse') && Application\Service\Atexo\Atexo_Module::isEnabled('ResultatAnalyseAvantDecision')%>">
							<com:PictoResultatAnalyse Clickable="false" Activate="false" ID="imageResultatAnalyseDecision"/>
							<com:THyperLink ID="linkResultatAnalyseDecision" visible="false" NavigateUrl="?page=Agent.resultatAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>"><com:TTranslate>RESULTAT_ANALYSE</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelResultatAnalyseDecision"><com:TTranslate>RESULTAT_ANALYSE</com:TTranslate></com:TLabel>
						</com:TPanel>

						<com:TPanel ID="panelAttribuerDecision" CssClass="picto-link inactive-text action-mpe">
							<com:PictoAttributeNotify Clickable="false" Activate="false" ID="imageAttriberDecision"/>
							<com:THyperLink ID="linkAttriberDecision" visible="false" NavigateUrl="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&decision"><com:TTranslate>DEFINE_ATTRIBUER_NOTIFIER</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelAttriberDecision"><com:TTranslate>DEFINE_ATTRIBUER_NOTIFIER</com:TTranslate></com:TLabel>
						</com:TPanel>

						<!--com:TPanel ID="panelFicheDecision" CssClass="picto-link inactive-text action-mpe">
							<com:PictoFicheRecensement Clickable="false" Activate="false"  ID="imageFicheDecision" />
							<com:THyperLink ID="linkFicheDecision" visible="false" NavigateUrl="#"><com:TTranslate>DEFINE_FICHE_RECENSEMENT</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelFicheDecision"><com:TTranslate>DEFINE_FICHE_RECENSEMENT</com:TTranslate></com:TLabel>
						</com:TPanel-->

						<com:TPanel ID="panelRegistreRetaitsDecision" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
								<com:PictoRegistreRetraits Activate="false" Clickable="false" ID="imageRegitreRetaitsDecision" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=1" OnCommand="redirectTo" />&nbsp;&nbsp;:
							</span>
							<com:THyperLink ID="linkRegitreRetaitsDecision" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=1"/>
							<com:TLabel ID="labelRegitreRetaitsDecision"/>
						</com:TPanel>

						<com:TPanel ID="panelQuestionDecision" CssClass="registre-line inactive-text action-mpe">
							<span class="intitule-small">
							<com:PictoRegistreQuestions Activate="false" Clickable="false" ID="imageQuestionDecision" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=3" OnCommand="redirectTo"/>&nbsp;&nbsp;:</span>
							<com:THyperLink ID="linkQuestionDecision" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=3"/>
							<com:TLabel ID="labelQuestionDecision"/>

							</com:TPanel>

						<com:TPanel ID="panelRegistreDepotDecision" CssClass="registre-line inactive-text action-mpe">
						<span class="intitule-small">
						<com:PictoRegistreDepot Activate="false" ID="imageRegistreDepotDecision" Clickable="false" CommandName="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=5" OnCommand="redirectTo"/>&nbsp;&nbsp;:</span>
						<com:THyperLink ID="linkRegistreDepotDecision" visible="false" NavigateUrl="index.php?page=Agent.GestionRegistres&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&type=5"/>
						<com:TLabel ID="labelRegistreDepotDecision"/>
						</com:TPanel>

						<com:TPanel ID="panelTelechargerPliDecision" CssClass="picto-link inactive-text action-mpe">
							<com:PictoDepouiller Clickable="false" Activate="false"  ID="ImageTelechargerPliDecision" OnClick="redirectToTelechargerPli"/>
							<com:THyperLink ID="linkTelechargerPliDecision" visible="false" NavigateUrl="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&telechargerOffres"><com:TTranslate>TELECHARGER_PLI_PAR_PLI</com:TTranslate></com:THyperLink>
							<com:TLabel ID="labelTelechargerPliDecision"><com:TTranslate>TELECHARGER_PLI_PAR_PLI</com:TTranslate></com:TLabel>
						</com:TPanel>
						<com:TPanel ID="panelAnnulerConsultationDecision" CssClass="picto-link inactive-text action-mpe" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('AnnulerConsultation')%>">
							<com:PictoAnnulerConsultation ID="ImageAnnulerConsultationDecision" ParentPage="DetailConsultation" Clickable="false" Activate="false" OnClick="annulerConsultation"/>
							<com:TLinkButton ID="linkAnnulerConsultationDecision" Visible="false" OnClick="annulerConsultation">
								<com:TTranslate>ICONE_ANNULER</com:TTranslate>
							</com:TLinkButton>
							<com:TLabel ID="labelAnnulerConsultationDecision">
								<com:TTranslate>ICONE_ANNULER</com:TTranslate>
							</com:TLabel>
						</com:TPanel>

						<div id="panel_MesActionsComp" style="display:block;">

							 <com:TPanel ID="panelSansSuiteDecision" CssClass="picto-link inactive-text action-mpe">
								<com:PictoSansSuite Clickable="false" Activate="false"  ID="imageSansSuiteDecision" />
							 	<com:THyperLink ID="linkSansSuiteDecision" visible="false" NavigateUrl="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&decision"><com:TTranslate>DEFINE_DECLARER_SANS_SUITE</com:TTranslate></com:THyperLink>
							 	<com:TLabel ID="labelSansSuiteDecision"><com:TTranslate>DEFINE_DECLARER_SANS_SUITE</com:TTranslate></com:TLabel>
							</com:TPanel>
							 <com:TPanel ID="panelDeclarerInfrucuteuxDecision" CssClass="picto-link inactive-text action-mpe">
								<com:PictoDeclarerDecisionInfructeuse Clickable="false" Activate="false" ID="imageDeclarerInfructeuxDecision" CommandName="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&decision" OnCommand="redirectTo"/>
								<com:THyperLink ID="linkDeclarerInfrucuteuxDecision" visible="false" NavigateUrl="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&decision">
										<com:TTranslate>DEFINE_DECLARER_INFRUCTUEUX</com:TTranslate>
								</com:THyperLink>
								<com:TLabel ID="labelDeclarerInfrucuteuxDecision">
									<com:TTranslate>DEFINE_DECLARER_INFRUCTUEUX</com:TTranslate>
								</com:TLabel>
							</com:TPanel>

							<com:TPanel ID="panelCreerSuiteDecision" CssClass="picto-link inactive-text">
								<com:PictoCreerSuite  Clickable="false" Activate="false" ID="imageCreerSuiteDecision" OnClick="redirectToCreerSuite" />
								 <com:THyperLink ID="linkCreerSuiteDecision" visible="false" NavigateUrl="/agent/consultation/creation?consultationParentId=<%=Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>">
								 	<com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate>
								 </com:THyperLink>
								 <com:TLabel ID="labelCreerSuiteDecision">
									<com:TTranslate>DEFINE_CREER_UNE_SUITE</com:TTranslate>
								</com:TLabel>
							</com:TPanel>

							<com:TPanel ID="panelCreerAnnonceAttributionDecision" CssClass="picto-link inactive-text action-mpe">
								<com:PictoCreerAnnonceAttribution   Clickable="false" Activate="false" ID="imageAnnonceAttributionDecision" OnClick="redirectToAnnonceAttribution" />
								 <com:THyperLink ID="linkAnnonceAttributionDecision" visible="false" NavigateUrl="index.php?page=Agent.FormulaireAnnonce&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&newAttribution">
									<com:TTranslate>TEXT_CREER_ANNONCE_ATTRIBUTION</com:TTranslate>
								 </com:THyperLink>
								 <com:TLabel ID="labelAnnonceAttributionDecision">
									<com:TTranslate>TEXT_CREER_ANNONCE_ATTRIBUTION</com:TTranslate>
								</com:TLabel>
							</com:TPanel>

						    <com:TPanel ID="panelCreerExtraitPvDecision" CssClass="picto-link inactive-text action-mpe" style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('AutreAnnonceExtraitPv')))? 'block':'none'%>">
								<com:PictoNewExtraitPv Clickable="false" Activate="false"  ID="ImageCreerExtraitPvDecision" OnClick="redirectToCreateExtraitPvDecision"/>
								<com:THyperLink ID="linkCreerExtraitPvDecision" visible="false" NavigateUrl="index.php?page=Agent.FormulaireAnnonce&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&newExtraitPv"><com:TTranslate>TEXT_CREER_ANNONCE_EXTRAIT_PV</com:TTranslate></com:THyperLink>
								<com:TLabel ID="labelCreerExtraitPvDecision"><com:TTranslate>TEXT_CREER_ANNONCE_EXTRAIT_PV</com:TTranslate></com:TLabel>
							</com:TPanel>

							<com:TPanel ID="panelRapportAchevementDecision" CssClass="picto-link inactive-text action-mpe" style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('AutreAnnonceRapportAchevement')))? 'block':'none'%>">
								<com:PictoNewRapportAchevement Clickable="false" Activate="false"  ID="ImageRapportAchevementDecision" OnClick="redirectToRapportAchevementDecision"/>
								<com:THyperLink ID="linkRapportAchevementDecision" visible="false" NavigateUrl="index.php?page=Agent.FormulaireAnnonce&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&newRapportAchevement"><com:TTranslate>TEXT_CREER_ANNONCE_RAPPORT_ACHEVEMENT</com:TTranslate></com:THyperLink>
								<com:TLabel ID="labelRapportAchevementDecision"><com:TTranslate>TEXT_CREER_ANNONCE_RAPPORT_ACHEVEMENT</com:TTranslate></com:TLabel>
							</com:TPanel>

							<com:TPanel ID="panelDecisionResiliation" CssClass="picto-link inactive-text action-mpe" style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('AutreAnnonceDecisionResiliation')))? 'block':'none'%>">
								<com:PictoNewRapportAchevement Clickable="false" Activate="false"  ID="ImageDecisionResiliation" OnClick="redirectToDecisionResiliation"/>
								<com:THyperLink ID="linkDecisionResiliation" visible="false" NavigateUrl="index.php?page=Agent.FormulaireAnnonce&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&newDecisionResiliation"><com:TTranslate>TEXT_CREER_DECISION_RESILIATION</com:TTranslate></com:THyperLink>
								<com:TLabel ID="labelDecisionResiliation"><com:TTranslate>TEXT_CREER_DECISION_RESILIATION</com:TTranslate></com:TLabel>
							</com:TPanel>
							<com:TPanel ID="panelStatutChorus"  CssClass="picto-link inactive-text action-mpe" Visible="<%=((new Application\Service\Atexo\Atexo_Module)->isChorusAccessActivate(Application\Service\Atexo\Atexo_CurrentUser::getIdServiceAgentConnected())) ? true:false%>">
								<com:PictoStatutChorus  Clickable="false"  Activate="false" ID="ImageStatutChorus" CommandName="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&decision" OnCommand="redirectTo"/>
								<com:THyperLink ID="linkStatutChorus" visible="false" NavigateUrl="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>&decision">
								<com:TTranslate>STATUT_CHORUS</com:TTranslate>
								</com:THyperLink>
								<com:TLabel ID="labelStatutChorus"><com:TTranslate>STATUT_CHORUS</com:TTranslate>
								</com:TLabel>
							</com:TPanel>
							<com:TPanel ID="panelMiseDisposition" CssClass="picto-link inactive-text action-mpe" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('MiseDispositionPiecesMarche', Application\Service\Atexo\Atexo_CurrentUser::getCurrentOrganism())) ? true:false%>">
								<com:PictoMiseDispositionPiecesMarche
									Clickable="false"
									Activate="false"
									ID="ImagePiecesMarches"
									OnClick="redirectToMiseDispositionPieces"/>
								<com:THyperLink ID="linkPieceMarches" visible="false" NavigateUrl="index.php?page=Agent.MiseDispositionPiecesMarche&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>">
									<com:TTranslate>TEXT_PIECES_DU_MARCHE</com:TTranslate>
								</com:THyperLink>
								<com:TLabel ID="labelPieceMarche"><com:TTranslate>TEXT_PIECES_DU_MARCHE</com:TTranslate>
								</com:TLabel>
							</com:TPanel>
						</div>

					</div>
					<!--Fin Bloc Actions Decision-->

				</div>
				<!--Fin Bloc Gestion des envois postaux complementaires-->
				<div class="breaker"></div>

			</div>

			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>

		</div>
		<!--Fin Bloc Mes actions-->

		<div class="link-line">
			<a
    			href="<%=( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['archive']))? '?page=Agent.ArchiveTableauDeBord&id='. Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']):'?page=Agent.TableauDeBord&WithCritere&id='. Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']) %>"
    			class="bouton-retour"
    			title="<%=Prado::localize('RETOUR_TABLEAU_DE_BORD')%>"
			>
				<com:TTranslate>TEXT_RETOUR</com:TTranslate>
			</a>

			<div class="file-link">
				<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-pdf.gif" alt="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_PDF')%>" title="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_PDF')%>" />
				<com:TLinkButton onClick="printConsultationPdf" Text="<%=Prado::localize('DEFINE_VERSION_IMPRIMABLE')%>" />
			</div>
			<div class="breaker"></div>
			<div class="file-link">
				<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-rtf.gif" alt="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_RTF')%>" title="<%=Prado::localize('TEXT_VERSION_IMPROMABLE_RTF')%>" />
				<com:TLinkButton onClick="printConsultationRtf" Text="<%=Prado::localize('DEFINE_VERSION_IMPRIMABLE')%>" />
			</div>

		</div>
		<div class="breaker"></div>
     </com:TPanel>
	</div>
	<!--Fin colonne droite-->
	<span style="display:none">
	<com:TActiveButton id="refreshButton" onCallBack="Page.DroitsAcces.updateGuests" />
	</span>
	<script language="JavaScript" type="text/JavaScript" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/js/detailsConsultation.js?k=<%= Application\Service\Atexo\Atexo_Config::getParameter('MEDIA_CACHE_KEY')%>"></script>
	<com:TLabel id="TextJs" />
	<com:TLabel id="TextJsSuivi" />

<div class="modal" id="modal_demande_telechargement_confirmation" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="bloc-message form-bloc msg-confirmation" style="margin: 10px;">
				<div class="top"><span class="left"></span><span class="right"></span></div>
				<div class="content">
					<div class="message bloc-500">
						<p><com:TTranslate>MESSAGE_CONFIRMATION_DEMANDE_TELECHARGEMENT_PRISE_EN_COMPTE_1</com:TTranslate></p>
						<p><com:TTranslate>MESSAGE_CONFIRMATION_DEMANDE_TELECHARGEMENT_PRISE_EN_COMPTE_2</com:TTranslate></p>
					</div>
				</div>
				<div class="bottom"><span class="left"></span><span class="right"></span></div>
			</div>
			<div class="modal-footer">
				<input type="button" class="bouton-moyen float-left"
					   value="<%=Prado::localize('FERMER')%>"
					   title="<%=Prado::localize('FERMER')%>"
					   onclick="J('#modal_demande_telechargement_confirmation').modal('hide');" />
			</div>
		</div>
	</div>
</div>




</com:TContent>