 <com:TContent ID="CONTENU_PAGE">

<!--Debut colonne droite-->
	<com:TPanel CssClass="main-part" ID="errorPart" Visible="false">
		<com:PanelMessageErreur ID="panelMessageErreur"/>
	</com:TPanel>
</com:TContent>