<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
    <div class="main-part" id="main-part">
        <div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TTranslate>DEFINE_TEXT_ENVOI_COURRIER_ELECTRONIQUE</com:TTranslate></div>
        <com:ConsultationSummary ID="IdConsultationSummary" />
    <com:TemplateEnvoiCourrierElectroniqueAgent ID="TemplateEnvoiCourrierElectronique" CalledFrom="agent" mailOffre="1"/>
    </div>
<!--Fin colonne droite-->
</com:TContent>