<com:TContent ID="CONTENU_PAGE">

	<input style="display:none" id="certificate_create" name="mode_certificate" value="0" type="radio" checked="checked" />
	<input type="hidden" name="country" id="country" value="<%=strtoupper( $this->OterAccents($this->_organisme->getPays()))%>" />
	<input type="hidden" name="city" id="city" value="<%=strtoupper( $this->OterAccents($this->_organisme->getVille()))%>" />
	<input type="hidden" name="company_name" id="company_name" value="<%=strtoupper( $this->OterAccents($this->_organisme->getDenominationOrg()))%>" />
	<input type="hidden" name="company_id" id="company_id" value="<%=strtoupper( $this->OterAccents($this->displayLibelleService()));%>" />
	<input type="hidden" name="email" id="email" value="<%=strtoupper($this->_agent->getEmail())%>" />
	<input type="hidden" name="titre" id="titre" value="<%=strtoupper( $this->OterAccents($this->_agent->getPrenom().' '.$this->_agent->getNom()))%>" />
	<input type="hidden" name="pkcs10_req" id="pkcs10_req" />
	<input type="hidden" name="user_certificate" id="user_certificate" />
	<input type="hidden" name="cmd" id="cmd" />
	<input type="hidden" name="install_result" id="install_result" />
	<input type="hidden" name="keysize" id="keysize" value="1024" />
	<com:THiddenField ID="certificate" value=""/>
	<com:TLabel ID="vbScript" style="display:none"/>
	<com:TLabel ID="javaScript" style="display:none"/>
	
<!--Debut colonne droite-->
<div class="main-part" id="main-part">
		<div id="divValidationSummary" class="form-bloc-erreur" style="display:none">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		<div class="content">

			<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-erreur.gif" class="picto-erreur" alt="Erreur" />
			<div class="message bloc-700">
				<!--Debut Message type d'erreur general-->
				<span>Erreur :</span>
				<!--Fin Message type d'erreur general-->
				<div class="spacer-small"></div>
				<!--Debut Message type d'erreur specifique-->
				<div id="erreurSaisie" class="message-left"><com:TTranslate>DEFINE_VERIFIER_CHAMPS_OBLIGATOIRES</com:TTranslate></div>
				<ul>
					<div id="sslError" style="display:none"><li><com:TLabel ID="error"/></li></div>
					<div id="nameError" style="display:none"><li><com:TLabel ID="NameRequired" Text="<%=Prado::localize('NOM_BI_CLE')%>"/></li></div>
					<div id="cnError" style="display:none"><li><com:TLabel ID="cnRequired" Text="<%=Prado::localize('CN_BI_CLE')%>"/></li></div>
					<div id="fileError" style="display:none"><li><com:TLabel ID="fileError" Text="<%=Prado::localize('FILE_PATH')%>"/></li></div>
				</ul>
				<div class="message-left" id="noChoiceMadeError" style="display:none"><br><com:TLabel ID="ChoiceRequired" Text="<%=Prado::localize('TYPE_BI_CLE')%>"/></div>
				<div class="message-left" id="noPkcs10" style="display:none"><br><com:TLabel ID="erreurPkcs10" Text="<%=Prado::localize('REQUETE_CERT_INTROUVABLE')%>"/></div>
				<!--Fin Message type d'erreur specifique-->
			</div>
			<div class="breaker"></div>
			</div>

			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<div class="breadcrumbs"><span class="normal"><com:TTranslate>DEFINE_ADMINISTRATION_PMI</com:TTranslate> &gt; <com:TTranslate>DEFINE_GERER_CERTIFICAT_AGENT</com:TTranslate></span> &gt; <com:TTranslate>DEFINE_TEXT_CREER</com:TTranslate></div>
		
		<!--Debut Bloc Identification du porteur du certificat-->
		<div class="form-field" style="display:block;">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>IDENTIFICATION_DU_PORTEUR_DU_CERTIFICAT</com:TTranslate></span></div>
			<div class="content">
				<div class="spacer-mini"></div>
				<!-- -->
				<div class="line">
					<div class="intitule-120"><label for="prenomPerso"><com:TTranslate>DEFINE_NOM</com:TTranslate></label> :</div>
					<div class="bloc-650"><com:TLabel ID="nomInscrit" /></div>
				</div>
				<!-- -->
				<div class="line">
					<div class="intitule-120"><com:TTranslate>DEFINE_PRENOM</com:TTranslate> :</div>
					<div class="bloc-650"><com:TLabel ID="prenomInscrit" /></div>
				</div>
				<!-- -->
				<div class="line">
					<div class="intitule-120"><com:TTranslate>TEXT_EMAIL</com:TTranslate> :</div>
					<div class="bloc-650"><com:TLabel ID="emailInscrit" /></div>
				</div>
				<!-- -->
				
				<div class="line">
					<div class="intitule-120"><com:TTranslate>DEFINE_ENTITE_ACHAT</com:TTranslate> :</div>
					<div class="bloc-650"><com:TLabel ID="service" /></div>
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Identification du porteur du certificat-->
		<!--Debut Bloc Proprietes du certificat-->
		<div class="form-field" style="display:block;">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>PROPRIETES_DU_CERTIFICATS</com:TTranslate></span></div>
			<div class="content">
				<div class="spacer-mini"></div>
				<!-- -->
				<div class="line">
					<div class="intitule-120"><label for="prenomPerso"><com:TTranslate>DUREE_DU_CERTIFICAT</com:TTranslate></label> :</div>
					<div class="bloc-650"><com:TTranslate>DUREE_CERTIFICAT_ENTREPRISE</com:TTranslate></div>
				</div>
				<!-- -->
				<div class="line">
					<div class="intitule-120"><label for="csp"><com:TTranslate>CSP</com:TTranslate></label> :</div>
						<select name="lbCSP" onChange="handleCSPChange()" language="VBSCRIPT" title="CSP" class="long">
								<option id="locLoading" selected><com:TTranslate>TEXT_CHARGEMENT</com:TTranslate></option>
						</select>
					<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-info.gif" onmouseover="afficheBulle('infosCSP', this)" onmouseout="cacheBulle('infosCSP')" class="picto-info" alt="Info-bulle" title="Info-bulle" />
					<div id="infosCSP" class="info-bulle" onmouseover="mouseOverBulle();" onmouseout="mouseOutBulle();"><div><com:TTranslate>TEXTEZ_INFO_BULLE_CSP</com:TTranslate></div></div>
				</div>
				<!-- -->
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Proprietes du certificat-->
		<!--Debut line boutons-->
		<div class="boutons-line">
			<com:THyperLink
				 cssClass="bouton-annulation float-left" Text="<%=Prado::localize('DEFINE_ANNULER')%>" Attributes.title="<%=Prado::localize('ANNULER_ET_RETOUR_AU_TABLEAU')%>"
				 NavigateUrl="index.php?page=Agent.GestionCertificatsAgents&idService=<%=$this->_agent->getServiceId()%>&acronyme=<%=$this->_agent->getOrganisme()%>"
			 />
			<com:TButton CssClass="bouton-validation float-right" Text="<%=Prado::localize('TEXT_VALIDER')%>" ID="Valider2" Attributes.OnClick="TriggerAddCertificate()" OnClick="generateCert"/><!-- -->
			<span Style="display:none">
				<com:TButton CssClass="bouton-moyen float-right" Text="<%=Prado::localize('TEXT_VALIDER')%>" ID="Valider3Masque"  OnClick="generateCert"/>
			</span>
		</div>
		<!--Fin line boutons-->
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->

</com:TContent>