<com:TContent ID="CONTENU_PAGE">

<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_ADMINISTRATION_PMI</com:TTranslate></a>&gt; <com:TTranslate>DEFINE_TEXT_GESTION_GROUPE_MONITEUR</com:TTranslate></div>
		
		<!--Debut Bloc Choix Entite d'achat-->
			<com:ChoixEntiteAchat ID="ChoixEntiteAchat" />
		<!--Fin Bloc Choix Entite d'achat-->
		
		<!--Debut Bloc Gestion des comptes Groupe Moniteur-->
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<h3><com:TTranslate>DEFINE_LISTE_COMPTE</com:TTranslate></h3>
				<div class="table-bloc">
				<com:TActivePanel ID="ApRepeaterMoniteur">
				 <com:TRepeater ID="RepeaterMoniteur"  EnableViewState="true">
				  <prop:HeaderTemplate>
					<table class="table-results" summary="Liste des comptes Groupe Moniteur">
						<caption><com:TTranslate>DEFINE_TEXT_LISTE_COMPTES_GROUPE_MONITEUR</com:TTranslate></caption>
						<thead>
							<tr>
								<th class="top" colspan="7"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
							</tr>
							<tr>
								<th class="col-120" id="idGroupeMoniteur"><com:TTranslate>TEXT_IDENTIFIANT_SANS_POINTS</com:TTranslate></th>
								<th class="col-120" id="passwordGroupeMoniteur"><com:TTranslate>TEXT_PASSWORD</com:TTranslate></th>
								<th class="col-120" id="numAbonneGroupeMoniteur"><com:TTranslate>DEFINE_TEXT_NUMERO_ABONNE</com:TTranslate></th>
								<!--th class="col-90" id="numAbonnementGroupeMoniteur"><com:TTranslate>DEFINE_TEXT_NUMERO_ABONNEMENT</com:TTranslate></th-->
								<th class="col-150" id="lienAccesDirect"><com:TTranslate>DEFINE_TEXT_LIENS_ACCES_DIRECT</com:TTranslate></th>
								<th class="actions" id="modifGroupeMoniteur"><com:TTranslate>DEFINE_TEXT_MODIFIER</com:TTranslate></th>
								<th class="actions" id="suppGroupeMoniteur"><com:TTranslate>DEFINE_SUPPRIMER</com:TTranslate></th>
							</tr>
						</thead>
			      </prop:HeaderTemplate>
				  <prop:ItemTemplate>
						<tr <%#($this->ItemIndex%2)?'':'on'%>>
							<td class="col-120" headers="idGroupeMoniteur"><%#$this->Data->getIdentifiant()%></td>
							<td class="col-120" headers="passwordGroupeMoniteur"><%#$this->Data->getMdp()%></td>
							<td class="col-120" headers="numAbonneGroupeMoniteur"><%#$this->Data->getNumAbonne()%> </td>
							<!--td class="col-90" headers="numAbonnementGroupeMoniteur"><%#$this->Data->getNumAbonnement()%></td-->
							<td class="col-150" headers="lienAccesDirect">
								<a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('LIEN_ACCES_MONITEUR')%>" class="lien-ext" target="_blank" title="<com:TTranslate>TEXT_LIEN_ACCES_AU_MONITEUR</com:TTranslate>"><com:TTranslate>TEXT_LIEN_ACCES_AU_MONITEUR</com:TTranslate></a>
								<br />
								<a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('LIEN_ACCES_COMPTE_PACK')%>" class="lien-ext" target="_blank" title="<com:TTranslate>TEXT_LIEN_ACCES_MON_COMPTE_ONLINE</com:TTranslate>"><com:TTranslate>TEXT_LIEN_ACCES_MON_COMPTE_ONLINE</com:TTranslate></a>
							</td>
							<td class="actions" headers="modifGroupeMoniteur"><com:TActiveHyperLink ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-edit.gif" NavigateUrl="javascript:popUp('index.php?page=Agent.PopUpGroupeMoniteur&idService=<%#$this->Data->getServiceId()%>&id=<%#$this->Data->getId()%>','yes')"  Attributes.title="<%=Prado::localize('DEFINE_TEXT_MODIFIER')%>" /></td>
							<td class="actions" headers="suppGroupeMoniteur"><com:TActiveImageButton ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-supprimer-big.gif" onCallBack="Page.refreshRepeaterMoniteur" Attributes.onclick='return confirm("<%=Prado::localize('MESSAGE_CONFIRME_SUPPRIMER_GROUPE_MONITEUR')%>")' OnCommand="Page.onDeleteClick" CommandParameter="<%#$this->Data->getId()%>"  AlternateText="<%=Prado::localize('DEFINE_SUPPRIMER')%>" Attributes.title="<%=Prado::localize('DEFINE_SUPPRIMER')%>"/></td>
						</tr>
			      </prop:ItemTemplate>	
				  <prop:FooterTemplate>
				   </table>
				  </prop:FooterTemplate>								 
			     </com:TRepeater>
					<com:TActiveHyperLink id="lienAjouterCompte" CssClass="ajout-el float-left"><com:TTranslate>DEFINE_TEXT_AJOUTER_COMPTE</com:TTranslate></com:TActiveHyperLink>
					<span style ="display:none;">
									<com:TActiveButton 
										Id="validateGroupe"							  
										onCallBack = "Page.refreshRepeaterMoniteur"
										ActiveControl.CallbackParameter=<%=$this->getViewState('idService')%>							
										/>
								</span>
				</com:TActivePanel>				
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Gestion des comptes Groupe Moniteur-->
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>	