<com:TContent ID="CONTENU_PAGE">
	<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<com:AtexoValidationSummary  ValidationGroup="validateInfosOrganisme" />
		<com:TPanel ID="confirmationPart" Visible="false">
			<com:PanelMessage ID="panelMessage" />
			<com:PanelMessageErreur ID="panelMessageErreur" Visible="false"/>
		</com:TPanel>
		
		<div class="form-field">
			
				<div class="top">
					<span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>GESTION_ORGANISME</com:TTranslate></span>
				</div>
				
				<div class="content">

					<div class="line">
						<div class="intitule-150"><label for="acronyme"><com:TTranslate>ACRONYME</com:TTranslate></label> : </div>
						<com:TLabel id="acronyme"></com:TLabel>
					</div>
	
					<div class="line">
						<div class="intitule-150"><label for="objet"><com:TTranslate>DEFINE_TEXT_SIGLE_EA_PMI</com:TTranslate></label><span class="champ-oblig">*</span> : </div>
						<com:TTextBox id="sigle" CssClass="long" Attributes.title="<%=Prado::localize('DEFINE_TEXT_SIGLE_EA_PMI')%>"></com:TTextBox>
						<com:TRequiredFieldValidator 
									ID="validateur_sigle"
									ControlToValidate="sigle"
									ValidationGroup="validateInfosOrganisme"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('DEFINE_TEXT_SIGLE_EA_PMI')%>"
									EnableClientScript="true"  						 					 
						 			Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>">
						 			<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
         		  		</com:TRequiredFieldValidator>
					</div>

					<div class="line">
						<div class="intitule-150"><label for="annonceType"><com:TTranslate>ARTICLE</com:TTranslate></label><span class="champ-oblig">*</span> : </div>
						<com:TDropDownList ID="article" CssClass="long" Attributes.title="<%=Prado::localize('ARTICLE')%>"></com:TDropDownList>
						<com:TCustomValidator
    						ValidationGroup="validateInfosOrganisme"
    						ControlToValidate="article"
    						ClientValidationFunction="controlValidationListArticle"
    	                	Display="Dynamic"
    						ErrorMessage="<%=Prado::localize('ARTICLE')%>"
    	                    Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
    						EnableClientScript="true" > 						 					 
    						<prop:ClientSide.OnValidationError>
    	 						document.getElementById('divValidationSummary').style.display='';
    						</prop:ClientSide.OnValidationError>
					 </com:TCustomValidator>
					</div>
		
					<div class="line">
						<div class="intitule-150"><label for="denomination"><com:TTranslate>DENOMINATION</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
						<com:TTextBox id="denomination" CssClass="long" Attributes.title="<%=Prado::localize('DENOMINATION')%>"></com:TTextBox>
						<com:TRequiredFieldValidator 
									ControlToValidate="denomination"
									ValidationGroup="validateInfosOrganisme"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('DENOMINATION')%>"
									EnableClientScript="true"  						 					 
						 			Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>">
						 			<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
         		  		</com:TRequiredFieldValidator>  						
					</div>

					<com:TPanel CssClass="line" id="panel_denomination_ar" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('TraduireOrganismeArabe')) ? true:false%>">
						<div class="intitule-150"><label for="denomination"><com:TTranslate>DENOMINATION_AR</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
						<com:TTextBox id="denomination_ar" CssClass="long" Attributes.title="<%=Prado::localize('DENOMINATION_AR')%>"></com:TTextBox>
						<com:TRequiredFieldValidator 
									ID="validateur_denomination_ar"
									ControlToValidate="denomination_ar"
									ValidationGroup="validateInfosOrganisme"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('DENOMINATION_AR')%>"
									EnableClientScript="true"  						 					 
						 			Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>">
						 			<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
         		  		</com:TRequiredFieldValidator>						
					</com:TPanel>

					<div class="line">
						<div class="intitule-150"><label for="description"><com:TTranslate>FCSP_DESCRIPTION</com:TTranslate></label><span class="champ-oblig">*</span> : </div>
						<com:TTextBox TextMode="MultiLine" Rows="3" Columns="60" id="description" CssClass="long" Attributes.title="<%=Prado::localize('FCSP_DESCRIPTION')%>"></com:TTextBox>
						<com:TRequiredFieldValidator 
									ControlToValidate="description"
									ValidationGroup="validateInfosOrganisme"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('FCSP_DESCRIPTION')%>"
									EnableClientScript="true"  						 					 
						 			Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>">
						 			<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
         		  		</com:TRequiredFieldValidator>
					</div>

					<com:TPanel CssClass="line" id="panel_description_ar" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('TraduireOrganismeArabe')) ? true:false%>">
						<div class="intitule-150"><label for="description"><com:TTranslate>FCSP_DESCRIPTION_AR</com:TTranslate></label><span class="champ-oblig">*</span> : </div>
						<com:TTextBox TextMode="MultiLine" Rows="3" Columns="60" id="description_ar" CssClass="long" Attributes.title="<%=Prado::localize('FCSP_DESCRIPTION_AR')%>"></com:TTextBox>
						<com:TRequiredFieldValidator 
									ID="validateur_description_ar"
									ControlToValidate="description_ar"
									ValidationGroup="validateInfosOrganisme"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('FCSP_DESCRIPTION_AR')%>"
									EnableClientScript="true"  						 					 
						 			Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>">
						 			<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
         		  		</com:TRequiredFieldValidator>
					</com:TPanel>

					<div class="line">
						<div class="intitule-150"><label for="categorie"><com:TTranslate>TEXT_CATEGORIE_JURIDIQUE</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
						<com:TDropDownList ID="categorie" CssClass="long" Attributes.title="Catégorie juridique"></com:TDropDownList>
						<com:TCustomValidator
    						ValidationGroup="validateInfosOrganisme"
    						ControlToValidate="categorie"
    						ClientValidationFunction="controlValidationListCategorieJuridique"
    	                	Display="Dynamic"
    						ErrorMessage="<%=Prado::localize('TEXT_CATEGORIE_JURIDIQUE')%>"
    	                    Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
    						EnableClientScript="true" > 						 					 
    						<prop:ClientSide.OnValidationError>
    	 						document.getElementById('divValidationSummary').style.display='';
    						</prop:ClientSide.OnValidationError>
					 </com:TCustomValidator>
					</div>
					
					<div class="line">
						<div class="intitule-150"><label for="email"><com:TTranslate>TEXT_E_MAIL</com:TTranslate></label> :</div>
						<com:TTextBox id="email" CssClass="long" Attributes.title="E-mail"></com:TTextBox>	
					<com:TCustomValidator
			       			ControlToValidate="email" 
			       			ValidationGroup="validateInfosOrganisme" 
			       			Display="Dynamic" 
			       			EnableClientScript="true"
			       			ID="emailValidator"
			       			ErrorMessage="<%=Prado::localize('MSG_ERROR_FORMAT_EMAIL')%>"
			       			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
			       			ClientValidationFunction="validatorEmailNonObligatoire"
			       			>
			             	<prop:ClientSide.OnValidationError>
			                	 document.getElementById('divValidationSummary').style.display='';
				            </prop:ClientSide.OnValidationError>   
                	</com:TCustomValidator>					
					</div>	
	
					<div class="line">
						<div class="intitule-150"><label for="url"><com:TTranslate>TEXT_DEFINE_SITE_INTERNET</com:TTranslate></label> :</div>
						<com:TTextBox id="url" CssClass="long" Attributes.title="URL"></com:TTextBox>						
					</div>	
				
					<div class="line">
						<div class="intitule-150"><label for="adresse"><com:TTranslate>ADRESSE</com:TTranslate></label> :</div>
						<com:TTextBox id="adresse" CssClass="long" Attributes.title="<%=Prado::localize('ADRESSE')%>"></com:TTextBox>
					</div>
					
					<com:TPanel CssClass="line" id="panel_adresse_ar" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('TraduireOrganismeArabe')) ? true:false%>">
						<div class="intitule-150"><label for="adresse"><com:TTranslate>ADRESSE_AR</com:TTranslate></label> :</div>
						<com:TTextBox id="adresse_ar" CssClass="long" Attributes.title="<%=Prado::localize('ADRESSE_AR')%>"></com:TTextBox>
					</com:TPanel>

					<div class="line">
						<div class="intitule-150"><label for="adresse2"><com:TTranslate>TEXT_ADRESSE_SUITE</com:TTranslate></label> :</div>
						<com:TTextBox id="adresse2" CssClass="long" Attributes.title="<%=Prado::localize('TEXT_ADRESSE_SUITE')%>"></com:TTextBox>
					</div>
					
					<com:TPanel CssClass="line" id="panel_adresse2_ar" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('TraduireOrganismeArabe')) ? true:false%>">
						<div class="intitule-150"><label for="adresse2"><com:TTranslate>TEXT_ADRESSE_SUITE_AR</com:TTranslate></label> :</div>
						<com:TTextBox id="adresse2_ar" CssClass="long" Attributes.title="<%=Prado::localize('TEXT_ADRESSE_SUITE_AR')%>"></com:TTextBox>
					</com:TPanel>
					
					<div class="line">
						<div class="intitule-150"><label for="cp"><com:TTranslate>TEXT_CP</com:TTranslate></label> :</div>
						<com:TTextBox id="cp" CssClass="cp" Attributes.title="Code Postal"></com:TTextBox>						
					</div>
					
					<div class="line">
						<div class="intitule-150"><label for="ville"><com:TTranslate>TEXT_VILLE</com:TTranslate></label> :</div>
						<com:TTextBox id="ville" CssClass="moyen" Attributes.title="<%=Prado::localize('TEXT_VILLE')%>"></com:TTextBox>
					</div>
					
					<com:TPanel CssClass="line" id="panel_ville_ar" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('TraduireOrganismeArabe')) ? true:false%>">
						<div class="intitule-150"><label for="ville"><com:TTranslate>TEXT_VILLE_AR</com:TTranslate></label> :</div>
						<com:TTextBox id="ville_ar" CssClass="moyen" Attributes.title="<%=Prado::localize('TEXT_VILLE_AR')%>"></com:TTextBox>
					</com:TPanel>
					
					<div class="line">
						<div class="intitule-150"><label for="pays"><com:TTranslate>TEXT_PAYS</com:TTranslate></label> :</div>
						<com:TTextBox id="pays" CssClass="moyen" Attributes.title="<%=Prado::localize('TEXT_PAYS')%>"></com:TTextBox>
					</div>	
					
					<com:TPanel CssClass="line" id="panel_pays_ar" Visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('TraduireOrganismeArabe')) ? true:false%>">
						<div class="intitule-150"><label for="pays"><com:TTranslate>TEXT_PAYS_AR</com:TTranslate></label> :</div>
						<com:TTextBox id="pays_ar" CssClass="moyen" Attributes.title="<%=Prado::localize('TEXT_PAYS_AR')%>"></com:TTextBox>
					</com:TPanel>
					
					<div class="line">
						<div class="intitule-150"><label for="tel"><com:TTranslate>TEXT_TEL</com:TTranslate></label> :</div>
						<com:TTextBox id="tel" CssClass="moyen" Attributes.title="Téléphone"></com:TTextBox>						
					</div>
					
					<div class="line">
						<div class="intitule-150"><label for="telecopie"><com:TTranslate>TEXT_FAX</com:TTranslate></label> :</div>
						<com:TTextBox id="telecopie" CssClass="moyen" Attributes.title="Fax"></com:TTextBox>						
					</div>
					
					<com:TPanel ID="panelAjoutPetiteImage" CssClass="line" Visible="false">
						<div class="intitule-150"><label for="telecopie"><com:TTranslate>TEXT_LOGO_ORGANISME_PETIT</com:TTranslate></label> :</div>
						<div class="content-bloc bloc-580">
							<com:AtexoFileUpload id="petitLogo" CssClass="long" Attributes.title="Petit logo" Attributes.size='95'/>
							<span class="info-aide-small"><com:TTranslate>TEXT_DIMENSIONS_H_L_50X50_PIXELS</com:TTranslate></span>
						</div>
					</com:TPanel>	
					
					<com:TPanel ID="panelModifierPetiteImage" CssClass="line" Visible="false">
						<div class="intitule-150"><label for="logoOrganismeSmall"><com:TTranslate>TEXT_LOGO_ORGANISME_PETIT</com:TTranslate></label> : </div>
						<div class="content-bloc bloc-570">
							<div class="border-bloc-logo bloc-500 float-left">
								<com:TImage ID="smallLogo"  Attributes.alt="Logo Organisme petit" Attributes.title="Logo Organisme petit" />
							</div>
							<a title="Editer le logo" class="bouton-edit float-right" href="javascript:popUp('index.php?page=Agent.PopupEditionLogo&small&org=<%=$this->getOrganisme()%>','yes');">Editer</a>
							<div class="breaker"></div>
							<span class="info-aide-small"><com:TTranslate>TEXT_DIMENSIONS_H_L_50X50_PIXELS</com:TTranslate></span>
						</div>
					</com:TPanel>
					
					<com:TPanel ID="panelAjoutGrandeImage" CssClass="line" Visible="false">
						<div class="intitule-150"><label for="telecopie"><com:TTranslate>TEXT_LOGO_ORGANISME_GRAND</com:TTranslate></label> :</div>
						<div class="content-bloc bloc-580">
							<com:AtexoFileUpload id="grandLogo" CssClass="long" Attributes.title="Petit logo" Attributes.size='95'/>
							<span class="info-aide-small"><com:TTranslate>TEXT_DIMENSIONS_H_L_50X50_PIXELS</com:TTranslate></span>
						</div>
					</com:TPanel>	
					
					<com:TPanel ID="panelModifierGrandeImage" CssClass="line" Visible="false">
						<div class="intitule-150"><label for="logoOrganismeBig"><com:TTranslate>TEXT_LOGO_ORGANISME_GRAND</com:TTranslate></label> : </div>
						<div class="content-bloc bloc-570">
							<div class="border-bloc-logo bloc-500 float-left">
								<com:TImage ID="bigLogo" Attributes.alt="Logo Organisme grand" Attributes.title="Logo Organisme grand" />
							</div>
							<a title="Editer le logo" class="bouton-edit float-right" href="javascript:popUp('index.php?page=Agent.PopupEditionLogo&big&org=<%=$this->getOrganisme()%>','yes');">Editer</a>
							<div class="breaker"></div>
							<span class="info-aide-small"><com:TTranslate>TEXT_DIMENSIONS_HXL_92X100_PIXELS</com:TTranslate></span>
						</div>
					</com:TPanel>	
					
					
					<div id="typeOrganisme" class="line">
						<div class="intitule-150"><label for="typeOrganisme"><com:TTranslate>MODE_ORGANISME</com:TTranslate> : </label> <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-info.gif" onmouseover="afficheBulle('infosReponses', this)" onmouseout="cacheBulle('infosReponses')" class="picto-info-intitule" alt="Info-bulle" title="Info-bulle" /> </div>
						<div class="content-bloc bloc-580">
							<div class="intitule-auto clear-both">
								<com:TRadioButton  
										id="actif" 
										GroupName="typeOrganisme" 
										CssClass="radio"
										Attributes.title="<%=Prado::localize('MODE_ACTIVE')%>"
								/>
								<label for="validationDate">
									<com:TTranslate>MODE_ACTIVE</com:TTranslate> 
								</label>
							</div>
							<div class="spacer-mini"></div>
							<div class="intitule-auto clear-both">
								<com:TActiveRadioButton  
										id="nonActif" 
										GroupName="typeOrganisme" 
										CssClass="radio" 
										Attributes.title="<%=Prado::localize('MODE_NON_ACTIVE')%>"
								/>
								<label for="dateEnvoiBOAMP">
									<com:TTranslate>MODE_NON_ACTIVE</com:TTranslate>
								</label>
							</div>
						</div>
					</div>	
							

				
				<com:TPanel ID="panelSiret" Cssclass="line">
						<div class="intitule-150"><label for="siren"><com:TTranslate>TEXT_SIREN</com:TTranslate></label>
						<com:TTranslate>TEXT_SLASH</com:TTranslate></label>
        								<label for="siret"><com:TTranslate>TEXT_SIRET</com:TTranslate></label> :</div>
						<com:TTextBox id="siren" CssClass="siren" MaxLength="9" Attributes.title="<%=Prado::localize('TEXT_SIREN')%>"></com:TTextBox>
						<com:TTextBox ID="siret" MaxLength="5" Width="60px" Attributes.title="SIRET" CssClass="siret" ></com:TTextBox>
					        <com:TCustomValidator
		                    	ValidationGroup="validateInfosOrganisme"
		                    	ClientValidationFunction="validateSirenForService"
		                    	ControlToValidate="siren"
		                    	ErrorMessage="<%=Prado::localize('SIRET_INVALIDE')%>"
		                    	Display="Dynamic"
		                    	Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
		                    	EnableClientScript="true">
		                    	<prop:ClientSide.OnValidationError>
		    	 						document.getElementById('divValidationSummary').style.display='';
		    					</prop:ClientSide.OnValidationError>
	         		        </com:TCustomValidator>
				</com:TPanel>
					<com:TPanel ID="panelCodeAcheteur" cssClass="line">
					<div class="intitule-150">
						<div class="float-left">
							<label for="codeAcheteur"><com:TTranslate>CODE_ACHETEUR</com:TTranslate></label> :
						</div>
					</div>
					<com:TTextBox ID="codeAcheteur"  CssClass="siren"  />
				 
				
 				</com:TPanel>
					<!--Debut Bloc Services Metiers accessibles-->
						<com:ServicesMetiersAccessibles  ID="servicesMetiersAccessibles" afficherProfil="false" />
					<!--Fin Bloc Services Metiers accessibles-->
				</div>
				
				<div class="breaker"></div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>


				</div>
    <div class="form-field">
				<div class="top">
                    <span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_PARAMETRAGE_ORGANISME</com:TTranslate></span>
                </div>

                <div class="content">

                    <div class="line">
                        <div class="intitule-250"><label for="<%=$this->heureRemisDesPlisParDefaut->getClientId()%>"><com:TTranslate>TEXT_HEURE_LIMITE_DE_REMISE_DE_PLIS_PAR_DEFAUT</com:TTranslate></label> : </div>
                        <com:TTextBox id="heureRemisDesPlisParDefaut" CssClass="cp" Attributes.title="<com:TTranslate>TEXT_HEURE_LIMITE_DE_REMISE_DE_PLIS_PAR_DEFAUT</com:TTranslate>"></com:TTextBox> <com:TTranslate>TEXT_FORMAT_HEURE_MINUTE</com:TTranslate>

                        <com:TCustomValidator
                            ValidationGroup="validateInfosOrganisme"
                            ClientValidationFunction="validateHeureDeRemiseDePlisParDefaut"
                            ControlToValidate="heureRemisDesPlisParDefaut"
                            ErrorMessage="<%=Prado::localize('TEXT_HEURE_LIMITE_DE_REMISE_DE_PLIS_PAR_DEFAUT_INVALIDE')%>"
                            Display="Dynamic"
                            Text="<span title='<%=Prado::localize('TEXT_HEURE_LIMITE_DE_REMISE_DE_PLIS_PAR_DEFAUT_INVALIDE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('TEXT_HEURE_LIMITE_DE_REMISE_DE_PLIS_PAR_DEFAUT_INVALID')%>' /></span>"
                            EnableClientScript="true">
                            <prop:ClientSide.OnValidationError>
                                    document.getElementById('divValidationSummary').style.display='';
                            </prop:ClientSide.OnValidationError>
                        </com:TCustomValidator>
                    </div>
                </div>

				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</div>
		
		<div class="boutons-line">
			<com:TButton CssClass="bouton-annulation float-left" Text="<%=Prado::localize('TEXT_ANNULER')%>"  Attributes.title="<%=Prado::localize('TEXT_ANNULER')%>" onclick="annuler" />
			<com:TButton id="updateForm" Visible="false" CssClass="bouton-validation float-right" Text="<%=Prado::localize('MODIFIER')%>"  Attributes.title="<%=Prado::localize('MODIFIER')%>" onclick="update" ValidationGroup="validateInfosOrganisme"/>
			<com:TButton id="refresh" Attributes.style="display:none"/>
		</div>
		
	</div>
	<com:TLabel id="script" />

<div id="infosReponses" class="info-bulle" onmouseover="mouseOverBulle();" onmouseout="mouseOutBulle();"><div><com:TTranslate>CHOIX_NON_ACTIF</com:TTranslate></div></div>
</com:TContent>	
