<com:TContent ID="CONTENU_PAGE">
	<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TTranslate>DEFINE_GROUPEMENT</com:TTranslate></div>
		<!--Debut Bloc Recap Consultation-->
		<com:ConsultationSummary  ID="consultationSummary"/>
		<!--Fin Bloc Recap Consultation-->

		<!--Debut Bloc groupement-->
		<com:AtexoBlocGroupementEntreprise ID="blocGroupementEntreprise" modeAgent="true"/>
		<!--Fin Bloc groupement--


		<!--Debut line boutons-->
		<div class="link-line">
			<a title="<%=Prado::Localize('TEXT_RETOUR_CONSULTATION')%>" class="bouton-retour"  href="index.php?page=Agent.ouvertureEtAnalyse&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities(base64_decode($_GET['id']))%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></a>
		</div>
		<!--Fin line boutons-->
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>	