<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#">Accueil</a>&gt; <com:TTranslate>TEXT_LISTE_SRA</com:TTranslate></div>
		<div class="spacer-mini"></div>
			<com:AtexoTableauSyntheseRapportAudit CalledFromAgent="true" ID="tableauSRA" ServiceId="<%=Application\Service\Atexo\Atexo_CurrentUser::getIdServiceAgentConnected()%>"/>
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>
