<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#">Accueil</a>&gt; <com:TTranslate>TEXT_ADD_LISTE_MARCHES</com:TTranslate></div>
		<div class="spacer-mini"></div>
			<com:TableauListeMarches CalledFromAgent="true" ID="tableauListeMarches"/>
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>