<com:TContent ID="CONTENU_PAGE">
    <style>
        .wysihtml5-sandbox{
            height: 418px !important;
        }
    </style>
    <div class="main-part" id="main-part">
        <div class="breadcrumbs">
            <a href="#"><com:TTranslate>ADMINISTRATION_PLATE_FORME</com:TTranslate></a>&gt; <com:TTranslate>MENU_ADMINISTRATION_MESSAGE_ACCUEIL</com:TTranslate>
        </div>
        <com:TActivePanel id="panelBlocMessages" style="display:none">
            <com:PanelMessage ID="messageConfirmationEnregistrement" message="<%=Prado::localize('TEXT_CONFIRMATION_ENREGISTREMENT_MESSAGE_ACCUEIL')%>"/>
        </com:TActivePanel>
        <div id="tabNav">
            <div class="nav-onglet" id="form-nav">
                <com:TActivePanel cssClass="tab-on" id="onglet1"><span class="border-left">&nbsp;</span><a class="tab-5item" onclick="showHideLayer('ongletLayer1',this,3);"><com:TTranslate>AGENTS_AUTHENTIFIES</com:TTranslate></a><span class="border-right">&nbsp;</span></com:TActivePanel>
                <com:TActivePanel cssClass="tab" id="onglet2"><span class="border-left">&nbsp;</span><a class="tab-5item" onclick="showHideLayer('ongletLayer2',this,3);"><com:TTranslate>AGENTS_NON_AUTHENTIFIES</com:TTranslate></a><span class="border-right">&nbsp;</span></com:TActivePanel>
                <com:TActivePanel cssClass="tab action-mpe" id="onglet3"><span class="border-left">&nbsp;</span><a class="tab-5item" onclick="showHideLayer('ongletLayer3',this,3);"><com:TTranslate>ENTREPRISES</com:TTranslate></a><span class="border-right">&nbsp;</span></com:TActivePanel>
            </div>


            <div class="ongletLayer" id="ongletLayer1" style="display:block; height: 490px !important;">
                <div class="spacer-mini"></div>
                <div class="line">
                    <span class="intitule intitule-130"><com:TTranslate> DEFINE_TYPE_MESSAGE_ACCUEIL</com:TTranslate>:</span>
                    <com:TActiveDropDownList id="comboTypeMessageAccueilO2" cssClass="bloc-200" />
                </div>
                <div class="line">
                    <div class="bootstrap">
                        <com:TActiveTextBox id="agent_messageBody" CssClass="form-control text-editor" rows="0" Columns="0" TextMode="MultiLine"/>
                    </div>
                </div>
            </div>

            <div class="ongletLayer" id="ongletLayer2" style="display:none; height: 490px">
                <div class="spacer-mini"></div>
                <div class="line">
                    <span class="intitule intitule-130"><com:TTranslate>DEFINE_TYPE_MESSAGE_ACCUEIL</com:TTranslate>:</span>
                    <com:TActiveDropDownList id="comboTypeMessageAccueilO3" cssClass="bloc-200" />
                </div>
                <div class="line">
                    <div class="bootstrap">
                        <com:TActiveTextBox id="agentNonAuthentifie_messageBody"  CssClass="form-control text-editor" rows="0" Columns="0" TextMode="MultiLine"/>
                    </div>
                </div>
            </div>
            <div class="ongletLayer action-mpe" id="ongletLayer3" style="display:none; height: 490px !important;">
                <div class="spacer-mini"></div>
                <div class="line">
                    <span class="intitule intitule-130"><com:TTranslate> DEFINE_TYPE_MESSAGE_ACCUEIL</com:TTranslate> :</span>
                    <com:TActiveDropDownList id="comboTypeMessageAccueilO1" cssClass="bloc-200"  />
                </div>
                <div class="line">
                    <div class="bootstrap">
                        <com:TActiveTextBox id="entreprise_messageBody"  CssClass="form-control text-editor" rows="0" Columns="0" TextMode="MultiLine"/>
                    </div>
                </div>
            </div>
            <com:TActiveLinkButton
                    CssClass="bouton-moyen-120 float-right m-t-3"
                    Text="<%=Prado::localize('DEFINE_PUBLIER')%>"
                    Attributes.title="<%=Prado::localize('PUBLICATION_MESSAGE_ACCUEIL')%>"
                    Attributes.OnClick ="openModal('demander-publication','popup-small2',this);"
            >
             </com:TActiveLinkButton>
    </div>




        <!--Debut Modal-->
        <div class="demander-publication" style="display:none;">
            <!--Debut Formulaire-->
            <div class="form-bloc">
                <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
                <div class="content">
                    <p><com:TTranslate>MESSAGE_CONFIRMATION_PUBLICATION</com:TTranslate></p>
                </div>
                <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>

            </div>
            <!--Fin Formulaire-->
            <!--Debut line boutons-->
            <div class="boutons-line">
                <input type="button" class="bouton-moyen float-left" value="<%=Prado::localize('DEFINE_ANNULER')%>" title="<%=Prado::localize('DEFINE_ANNULER')%>" onclick="J('.demander-publication').dialog('destroy');" />
                <com:TActiveLinkButton
                        CssClass="bouton-moyen-120 float-right"
                        Text="<%=Prado::localize('ICONE_VALIDER')%>"
                        Attributes.title="<%=Prado::localize('ICONE_VALIDER')%>"
                        OnCallBack="onSaveClick"
                >
                    <prop:ClientSide.OnLoading>showLoader();</prop:ClientSide.OnLoading>
                    <prop:ClientSide.OnFailure>hideLoader();</prop:ClientSide.OnFailure>
                    <prop:ClientSide.OnSuccess>
                        hideLoader();
                        document.getElementById('ctl0_CONTENU_PAGE_panelBlocMessages').style.display = '';
                        setTimeout(function(){ document.getElementById('ctl0_CONTENU_PAGE_panelBlocMessages').style.display = 'none';}, 5000);
                    </prop:ClientSide.OnSuccess>
                </com:TActiveLinkButton>

            </div>
            <!--Fin line boutons-->
        </div>
        <!--Fin Modal-->

        <com:TActiveLabel ID="javascriptLabel" />
    <script type="text/javascript">
        J(document).ready(function() {
            //wysihtml5 text editor
            J('.text-editor').wysihtml5({
                "stylesheets": ["<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/responsive/css/wysiwyg-color.css"], // CSS stylesheets to load
                "color": false, // enable text color selection
                "size": 'sm', // buttons size
                "html": true, // enable button to edit HTML
                "format-code" : true, // enable syntax highlighting
                "locale": 'fr-FR',
                "link": false,
                "image": false
            });

            J('#ctl0_CONTENU_PAGE_ctl10').click(function(){
                J('.demander-publication').dialog('destroy');
            });
        });
    </script>
</com:TContent>
