<%@ MasterClass="Application.layouts.PopUpLayout" %>
<com:TContent ID="CONTENU_PAGE">
<div class="popup-large popup-prix" id="container">
	<com:TLabel id="labelServerSide"/>
	<h1><com:TTranslate>TEXT_CRITERES_EVALUATION</com:TTranslate></h1>
	<!--Debut Bloc Recap Consultation-->
	<com:ConsultationSummary ID="IdConsultationSummary"/>
	<!--Fin Bloc Recap Consultation-->
	<!--Bloc infos critères-->
	<div class="form-bloc margin-0">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		<div class="content">
			<div class="line">
				<div class="intitule-160">
					<com:TPanel id="panelAvecLot">
						<strong><com:TTranslate>TEXT_LOT</com:TTranslate> <com:TLabel ID="numLot" /> - <com:TLabel ID="enveloppeFormulaireLot"/></strong>
					</com:TPanel>
					<com:TPanel id="panelSansLot">
						<strong><com:TLabel ID="enveloppeFormulaire"/></strong>
					</com:TPanel>
				</div>
			</div>
		</div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</div>
	<!--Fin infos critères-->
	
        <!--Debut Iframe Critères évaluation -->
        <iframe 
			id="iframeAtexoForms" 
			frameborder="0" 
			width="100%" 
			src="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_FORMS_PF')%>index.php?page=frame.CriteresEvaluation&uid=<%= $this->builUidPlateforme( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id']))%>&typeEnv=<%=$this->Page->getTypeEnveloppe()%>">
		</iframe>
        <!--Fin IIframe Critères évaluation -->
	
	<com:TCustomValidator
		id="validateurPonderationCpa"
		ClientValidationFunction="validatePonderationCPA"
		ControlToValidate="validation"
		ValidationGroup="validateItemsCriteresEvaluation"
		Display="Dynamic"
		ErrorMessage="<%=Prado::localize('DEFINE_PONDERATION_CP')%>"
		EnableClientScript="true"  	
		Text=" ">  
		<prop:ClientSide.OnValidationError>
			document.getElementById('divValidationSummary').style.display='';
		</prop:ClientSide.OnValidationError>
	</com:TCustomValidator>	
	
	<com:TCustomValidator
		id="validateurPonderationCca"
		ClientValidationFunction="validatePonderationCCA"
		ControlToValidate="validation"
		ValidationGroup="validateItemsCriteresEvaluation"
		Display="Dynamic"
		ErrorMessage="<%=Prado::localize('DEFINE_PONDERATION_CC')%>"
		EnableClientScript="true"  	
		Text=" ">  
		<prop:ClientSide.OnValidationError>
			document.getElementById('divValidationSummary').style.display='';
		</prop:ClientSide.OnValidationError>
	</com:TCustomValidator>	
	
	<com:TCustomValidator
		id="test"
		ClientValidationFunction="validateDescriptionCPA"
		ControlToValidate="validation"
		ValidationGroup="validateItemsCriteresEvaluation"
		Display="Dynamic"
		ErrorMessage="<%=Prado::localize('DEFINE_DESCRIPTION_CP')%>"
		EnableClientScript="true"  	
		Text=" ">  
		<prop:ClientSide.OnValidationError>
			document.getElementById('divValidationSummary').style.display='';
		</prop:ClientSide.OnValidationError>
	</com:TCustomValidator>									
	<com:TCustomValidator
		ClientValidationFunction="validateDescriptionCCA"
		ControlToValidate="validation"
		ValidationGroup="validateItemsCriteresEvaluation"
		Display="Dynamic"
		ErrorMessage="<%=Prado::localize('DEFINE_DESCRIPTION_CC')%>"
		EnableClientScript="true"  	
		Text=" ">  
		<prop:ClientSide.OnValidationError>
			document.getElementById('divValidationSummary').style.display='';
		</prop:ClientSide.OnValidationError>
	</com:TCustomValidator>	
	
	<com:TTextBox id="validation" style="display:none" />
	<span style="display:none;">
		<com:TButton id="buttonSaveValidate" onClick="updateCriteresEvaluation"/>	
	</span>
</div>
</div>
<script type="text/javascript">popupResize();</script>
<com:THiddenField id="statutCritereEvaluation" />
<com:THiddenField id="uidCritereEvaluation" />
<com:TLabel id="script" />
</com:TContent>