<%@MasterClass="Application.layouts.PopUpLayout"%>
<com:TContent id="CONTENU_PAGE">
<div class="popup-moyen" id="container">
<!--Debut Modal Acces esapce collaboratif-->
	<!--Debut message de avertissement-->
	<com:TPanel id="msgErreurEspaceCollaboratif" cssClass="bloc-message form-bloc-conf msg-erreur"  style="display:none;">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		<div class="content">
			<div class="message bloc-700"> 
				<!--Debut Message type d'avertissement general--> 
				<span id="ctl0_CONTENU_PAGE_panelMessageAvertTraduction_labelMessage"><span>Erreur de saisie</span><br/>
				<com:TTranslate>DEFINE_VERIFIER_CHAMPS_OBLIGATOIRES</com:TTranslate><br /><br />
				<com:TTranslate>TEXT_NOM_SITE</com:TTranslate>: <com:TTranslate>TEXT_NON_SITE_EXISTE_DEJA</com:TTranslate>.
				</span>
				<!--Fin Message type d'avertissement general--> 
			</div>
			<div class="breaker"></div>
		</div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</com:TPanel>
	<!--Fin  message de avertissement--> 
	<!--Debut Formulaire-->
	<div class="form-bloc">
		<div class="top"><span class="left"></span><span class="right"></span></div>
		<div class="content">
			<p><strong><com:TTranslate>TEXT_CONSULTATION_SANS_ESPACE_COLLABORATIF</com:TTranslate>.</strong><br />
			<com:TTranslate>TEXT_CREER_ESPACE_COLLABORATIF</com:TTranslate>.</p>
			<div class="line">
				<div class="intitule-auto"><label for="nameEspaceCollaboratif"><com:TTranslate>TEXT_NOM_SITE</com:TTranslate></label> :</div>
				<com:TActiveTextBox 
					id="nameEspaceCollaboratif" 
					cssClass="bloc-450"  
					Attributes.title="<%=Prado::localize('TEXT_NOM_SITE')%>"
				/>
			</div>
		</div>
		<div class="bottom"><span class="left"></span><span class="right"></span></div>
	</div>
	<!--Fin Formulaire-->
	<!--Debut line boutons-->
	<div class="boutons-line">
		<com:PictoAnnuler />
		<com:PictoValidateButton 
		Attributes.title="<%=Prado::localize('VALIDER_SELECTION')%>"
		ID="validateButton"  
		onClick="onValider"
	/>
	 </div>
	<!--Fin line boutons-->
	<com:TLabel ID="script" />
<!--Fin Modal Acces esapce collaboratif-->
</div>
<script type="text/javascript">popupResize();</script>
</com:TContent>