<%@ MasterClass="Application.layouts.PopUpLayout" %>
	<com:TContent ID="CONTENU_PAGE">
		<div class="popup-moyen" id="container">
	 			<!--Debut Bloc Lot postules-->
	 			<com:TLabel ID="panelErreur" Visible="false">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
								<com:PanelMessageErreur ID="panelMessageErreur"/>
						<div class="breaker"></div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
				</com:TLabel>
				<com:TPanel ID="panelSuccess" CssClass="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
						<com:TPanel ID="panelAdmissibilie" CssClass="content">
								<h3><com:TTranslate>LOTS_POSTULES</com:TTranslate></h3>
								<div class="line">
										<div class="intitule-100"><com:TTranslate>DEFINE_TEXT_STATISTIQUES_ENTREPRISE</com:TTranslate> :</div><span class="blue bold"><com:TLabel ID="nonEntreprise"/></span>
								</div>
								<div class="line">
										<div class="intitule-100"><label for="statut"><com:TTranslate>DEFINE_STATUS</com:TTranslate></label> :</div>
										<com:TLabel ID="stautEnveloppe"/>
								</div>
								<div class="spacer-small"></div>
								<!--Debut Tableau Lots-->
								<div class="table-bloc">
										<com:TRepeater ID="repeaerAdmissibilite" EnableViewState="true" >
												<prop:HeaderTemplate>
														<table summary="<%=Prado::localize('DEFINE_LOTS')%>" class="table-results">
																	<caption><com:TTranslate>DEFINE_LOTS</com:TTranslate></caption>
																	<thead>
																		<tr><th class="top" colspan="6"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th></tr>
																		<tr>
																			<th class="col-180" id="lot"><%#$this->Page->isConsultationAlloti()%></th>
																			<th class="col-80 center" id="admissible"><com:TTranslate>ADMISSIBLE</com:TTranslate></th>
																			<th class="col-80 center" id="nonAdmissible"><com:TTranslate>NON_ADMISSIBLE</com:TTranslate></th>
												
																			<th class="col-80 center" id="aTraiter"><com:TTranslate>A_TRAITER</com:TTranslate></th>
																			<th class="col-300" id="commentaire"><com:TTranslate>DEFINE_COMMENTAIRE</com:TTranslate></th>
																		</tr>
																	</thead>
												</prop:HeaderTemplate>
												<prop:ItemTemplate>
															<tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
																	<td class="col-180" headers="lot">
																				<%#$this->Page->moreThanOnLOt($this->Data)%><%#$this->Data->getIntiuleLot()%>
																				<com:THiddenField ID="sousPli" Value="<%#$this->Data->getSousPli()%>"/>
																	</td>
																	<td class="col-80 center" headers="admissible">
																			<label for="admissible_Lot1" style="display:none;">
																					<com:TTranslate>ADMISSIBLE</com:TTranslate>
																			</label>
																			<com:TRadioButton ID="lotAdmis" GroupName="admissibillite" Enabled="<%#$this->Data->getOffreCrypte()%>" Checked="<%#$this->Page->isLotAdmis($this->Data->getAdmissibilite())%>" Attributes.title="<%=Prado::localize('ADMISSIBLE')%>" ></com:TRadioButton>
																	</td>
																	<td class="col-80 center" headers="nonAdmissible">
																			<label for="non_admissible_Lot1" style="display:none;">
																					<com:TTranslate>NON_ADMISSIBLE</com:TTranslate>
																			</label>
																			<com:TRadioButton ID="lotNonAdmis" GroupName="admissibillite" Enabled="<%#$this->Data->getOffreCrypte()%>" Checked="<%#$this->Page->isLotNonAdmis($this->Data->getAdmissibilite())%>" Attributes.title="<%=Prado::localize('NON_ADMISSIBLE')%>"></com:TRadioButton>
																	</td>
																	<td class="col-80 center" headers="aTraiter">
																			<label for="aTraiter_Lot1" style="display:none;">
																					<com:TTranslate>A_TRAITER</com:TTranslate>
																			</label>
																			<com:TRadioButton ID="lotATraiter" GroupName="admissibillite" Enabled="<%#$this->Data->getOffreCrypte()%>" Checked="<%#$this->Page->isLotATraiter($this->Data->getAdmissibilite())%>" Attributes.title="<%=Prado::localize('A_TRAITER')%>" ></com:TRadioButton>
																	</td>
																	<td class="col-300" headers="commentaire">
																			<label for="commentaire_Lot1" style="display:none;">
																					<com:TTranslate>DEFINE_COMMENTAIRE</com:TTranslate>
																			</label>
																			<com:TTextBox ID="commentaireLot" TextMode="MultiLine" Text="<%#$this->Data->getCommentaire()%>" Attributes.title="<%=Prado::localize('DEFINE_COMMENTAIRE')%>" CssClass="bloc-300"/>
																	</td>
															</tr>
												</prop:ItemTemplate>
								    			<prop:FooterTemplate>
															</table>
												</prop:FooterTemplate>
									   </com:TRepeater>
								</div>
								<div class="spacer-small"></div>
								<!--Fin Tableau Lots-->
								<div class="spacer-small"></div>
						</com:TPanel>
						<div class="breaker"></div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>

	</com:TPanel>
	<!--Fin Bloc Lot postules-->
	<!--Debut line boutons-->
	<com:TPanel ID="panelBouton" CssClass="boutons-line">
		<input type="button" class="bouton-moyen float-left" value="<%=Prado::localize('DEFINE_ANNULER')%>" title="<%=Prado::localize('DEFINE_ANNULER')%>" onclick="window.close();" />
		<com:TButton CssClass="bouton-moyen float-right" Text="<%=Prado::localize('TEXT_VALIDER')%>" Attributes.title="<%=Prado::localize('VALIDER_PASSER_LA_SAISIE')%>" onclick="saveAdmissibilite" />
		<com:TLabel ID="javascript"/>
	</com:TPanel>
	<!--Fin line boutons-->
</div>
<script type="text/javascript">popupResize();</script>
</com:TContent>