<%@ MasterClass="Application.layouts.PopUpLayout" %>
<com:TContent ID="CONTENU_PAGE">
<div class="popup-moyen" id="container">
	<h1><com:TTranslate>REGLEMENT_DE_CONSULTATION</com:TTranslate></h1>
	<com:PanelMessageErreur ID="panelMessageErreur" visible="false"/>
	<com:DCEComposantAjouter id="composantAjouter" isRadio="true" isDocRC="true"  />
	<!--Debut line boutons-->
	<div class="boutons-line">
		<com:PictoAnnuler />
        <com:TButton cssClass="bouton-moyen float-right"  
        			Text="<%=Prado::localize('TEXT_VALIDER')%>"
        			ID="buttonValider"
        			Attributes.title="<%=Prado::localize('TEXT_VALIDER')%>"
        			onclick="onValide" />
		
	</div>
	<!--Fin line boutons-->
</div>
<com:TLabel id="scriptJS" />
<script type="text/javascript">popupResize();</script>
</com:TContent>