<%@ MasterClass="Application.layouts.PopUpLayout" %>
<com:TContent ID="CONTENU_PAGE">

<div class="popup-moyen" id="container">
	<h1><com:TLabel ID="titrePopup" /></h1>
	
	<com:AtexoValidationSummary id="divValidationSummary" ValidationGroup="validateMarche" />
	<com:PanelMessageErreur ID="panelMessageErreur" Visible="false"/>
	<!--Debut Bloc Identification-->
	<div class="form-field">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		<div class="content">
			<h3 class="float-left"><com:TTranslate>IDENTIFICATION_MARCHE</com:TTranslate></h3><div class="float-right margin-fix"><com:TTranslate>DEFINE_SYMBOLE</com:TTranslate> <span class="champ-oblig">*</span> <com:TTranslate>DEFINE_INDIQUE_CHAMPS_OBLIGATOIRES</com:TTranslate></div>
			<div class="spacer-small"></div>
			<!--Debut Ligne Attributaire-->
			<div class="line">
				<div class="intitule-150"><label for="nomAttributaire"><com:TTranslate>NOM_ATTRIBUTAIRE</com:TTranslate></label> <span class="champ-oblig">*</span>:</div>
				<com:TTextBox 
					ID="nomAttributaire" 
					Attributes.title="<%=Prado::localize('NOM_ATTRIBUTAIRE')%>"
					CssClass="small" />
				<com:TRequiredFieldValidator 
					ValidationGroup="validateMarche"
					ControlToValidate="nomAttributaire"
					Display="Dynamic"
					ErrorMessage="<%=Prado::localize('NOM_ATTRIBUTAIRE')%>"
                    Text='<span title=<%=Prado::localize('NOM_ATTRIBUTAIRE')%>" class="check-invalide"><img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif" alt="<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>" /></span>' >
					<prop:ClientSide.OnValidationError>
						document.getElementById('divValidationSummary').style.display='';
						popupResize();
					</prop:ClientSide.OnValidationError>
			     </com:TRequiredFieldValidator>		
			</div>
			<!--Fin Ligne Attributaire-->
			<div class="spacer-small"></div>
			<com:BlocIdentificationEntreprise id="blocEntreprise" ValidationGroup="validateMarche" enabled="true"/>
			<div class="spacer-small"></div>
			<!--Debut Ligne Code postal-->
			<div class="line">
				<div class="intitule-150"><label for="cp"><com:TTranslate>CODE_POSTAL</com:TTranslate></label><span class="champ-oblig">*</span>/ <label for="ville"><com:TTranslate>TEXT_VILLE</com:TTranslate></label> <span class="champ-oblig">*</span>:</div>
				<com:TTextBox 
					ID="cp" 
					Attributes.title="<%=Prado::localize('CODE_POSTAL')%>"
					CssClass="<%=$this->getCssCp()%>" " />
				  <com:TCustomValidator 
					ValidationGroup="validateMarche"
					ControlToValidate="cp"
					Display="Dynamic"
					ClientValidationFunction="isEntrepriseNationale"
					ErrorMessage="<%=Prado::localize('CODE_POSTAL')%>"
					Text="<span title='<%=Prado::localize('CODE_POSTAL')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>" >
					<prop:ClientSide.OnValidationError>
						document.getElementById('divValidationSummary').style.display='';
						popupResize();
					</prop:ClientSide.OnValidationError>
			     </com:TCustomValidator>	
			      <com:TTextBox ID="ville" Attributes.title="Ville" CssClass="ville"  />
					<com:TRequiredFieldValidator 
						ControlToValidate="ville"
						ValidationGroup="validateMarche"
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('TEXT_VILLE')%>"
						EnableClientScript="true"  						 					 
			 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
						<prop:ClientSide.OnValidationError>
        						document.getElementById('divValidationSummary').style.display='';
      					</prop:ClientSide.OnValidationError>
         		</com:TRequiredFieldValidator>
			</div>
			<!--Fin Ligne Code postal-->
			<!--Debut Ligne Date de notification-->
			<div class="line">
				<div class="intitule-150"><label for="dateNotification"><com:TTranslate>DATE_NOTIFICATION</com:TTranslate></label> <span class="champ-oblig">*</span>:</div>
				<div class="calendar">
					<com:TActiveTextBox 
						ID="dateNotification" 
						AutoPostBack="true"
						OnTextChanged="page.getTrancheBudgetaire"
						Attributes.title="<%=Prado::localize('DATE_NOTIFICATION')%>" 
						CssClass="heure" >
								<prop:ClientSide.OnLoading>showLoader();</prop:ClientSide.OnLoading>
		                		<prop:ClientSide.OnFailure>showLoader();</prop:ClientSide.OnFailure>
		                		<prop:ClientSide.OnSuccess>showLoader();</prop:ClientSide.OnSuccess>
		             </com:TActiveTextBox>		
					<com:TImage
						Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateNotification'),'dd/mm/yyyy','');"
						ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="<%=Prado::localize('DATE_NOTIFICATION')%>"
						Attributes.title="<%=Prado::localize('DATE_NOTIFICATION')%>" 
						 />
					<com:TRequiredFieldValidator 
						ValidationGroup="validateMarche"
						ControlToValidate="dateNotification"
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('DATE_NOTIFICATION')%>"
						Text="<span title='<%=Prado::localize('DATE_NOTIFICATION')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>" >
						<prop:ClientSide.OnValidationError>
							document.getElementById('divValidationSummary').style.display='';
							popupResize();
						</prop:ClientSide.OnValidationError>
				     </com:TRequiredFieldValidator>	
					 <com:TDateValidator
					 	Display="Dynamic"
					    ValidationGroup="validateMarche"
					    ControlToValidate="dateNotification"
					    ErrorMessage="<%=Prado::localize('DATE_NOTIFICATION')%>"
					    Text="<span title='<%=Prado::localize('DATE_NOTIFICATION')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>" >
						<prop:ClientSide.OnValidationError>
							document.getElementById('divValidationSummary').style.display='';
							popupResize();
						</prop:ClientSide.OnValidationError>
					 </com:TDateValidator>
				</div>
			</div>
			<!--Fin Ligne Date de notification-->
			<!--Debut Ligne Tranche budgetaire-->
			<div class="line">
				<div class="intitule-150"><label for="trancheBudgetaire"><com:TTranslate>TRANCHE_BUDGETAIRE</com:TTranslate></label> <span class="champ-oblig">*</span>:</div>
				<com:TActiveDropDownList 
					ID="trancheBudgetaire" 
					Attributes.title="<%=Prado::localize('TRANCHE_BUDGETAIRE')%>"
					OnSelectedIndexChanged="setBornsTrancheBudgetaire"
					CssClass="small" >
				</com:TActiveDropDownList>  
				
				<com:TActiveHiddenField id="bornSuperieur"/>
				<com:TActiveHiddenField id="bornInferieur"/>  
				<com:TCompareValidator 
					ControlToValidate="trancheBudgetaire"
	                ValueToCompare="0"
	                DataType="String"
	                Operator="NotEqual"
					ValidationGroup="validateMarche"
					Display="Dynamic"
					ErrorMessage="<%=Prado::localize('TRANCHE_BUDGETAIRE')%>"
					EnableClientScript="true"  						 					 
		 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
					<prop:ClientSide.OnValidationError>
		 				document.getElementById('divValidationSummary').style.display='';
		 				popupResize();
					</prop:ClientSide.OnValidationError>
				</com:TCompareValidator>
			</div>
			<!--Fin Ligne Tranche budgetaire-->
			<!--Debut Ligne Nature prestations-->
			<div class="line">
				<div class="intitule-150"><label for="naturePrestations"><com:TTranslate>NATURE_DES_PRESTATIONS</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
				<com:TDropDownList 
					ID="naturePrestations" 
					Attributes.title="<%=Prado::localize('NATURE_DES_PRESTATIONS')%>"
					CssClass="small" />
				<com:TCompareValidator 
					ControlToValidate="naturePrestations"
	                ValueToCompare="0"
	                DataType="String"
	                Operator="NotEqual"
					ValidationGroup="validateMarche"
					Display="Dynamic"
					ErrorMessage="<%=Prado::localize('NATURE_DES_PRESTATIONS')%>"
					EnableClientScript="true"  						 					 
		 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
					<prop:ClientSide.OnValidationError>
		 				document.getElementById('divValidationSummary').style.display='';
		 				popupResize();
					</prop:ClientSide.OnValidationError>
				</com:TCompareValidator>
			</div>
			<!--Fin Ligne Nature prestations-->
			<!--Debut Bloc Objet-->
			<div class="spacer"></div>
			<div class="line">
				<div class="intitule-150"><label for="objetMarche"><com:TTranslate>DEFINE_OBJET_MARCHE</com:TTranslate></label> <span class="champ-oblig">*</span>:</div>
				<com:TTextBox 
					ID="objetMarche"
					CssClass="bloc-600 input-propre"
					TextMode="MultiLine" 
					Attributes.title="<%=Prado::localize('DEFINE_OBJET_MARCHE')%>" />
				<com:TRequiredFieldValidator 
					ValidationGroup="validateMarche"
					ControlToValidate="objetMarche"
					Display="Dynamic"
					ErrorMessage="<%=Prado::localize('DEFINE_OBJET_MARCHE')%>"
					Text="<span title='<%=Prado::localize('DEFINE_OBJET_MARCHE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>" >
					<prop:ClientSide.OnValidationError>
						document.getElementById('divValidationSummary').style.display='';
						popupResize();
					</prop:ClientSide.OnValidationError>
			     </com:TRequiredFieldValidator>
			</div>
			<!--Fin LigneBloc Objet-->
			<!--Debut Bloc Montant-->
			<div class="line">
				<div class="intitule-150"><label for="montant"><com:TTranslate>MONTANT</com:TTranslate></label><span class="champ-oblig"> *</span> :</div>
				<div class="content-bloc-auto">
					<com:TTextBox 
						ID="montant"
						Attributes.title="<%=Prado::localize('MONTANT')%>" 
						Attributes.onblur ="formatterMontant('<%=$this->montant->getClientId()%>');"
						CssClass="input-100 float-left-fix"/>
					<div class="intitule-bloc"><com:TTranslate>DEFINE_EURO_HT</com:TTranslate></div>
					<com:TImage id="ImgError"  ImageUrl='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif'  Attributes.alt='Champ obligatoire' Style="display:none" />
				</div>
			</div>
		    <com:TRequiredFieldValidator 
					ValidationGroup="validateMarche"
					ControlToValidate="montant"
					Display="Dynamic"
					ErrorMessage="<%=Prado::localize('MONTANT')%>"
					Text="<span title='<%=Prado::localize('MONTANT')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>" >
					<prop:ClientSide.OnValidationError>
						document.getElementById('divValidationSummary').style.display='';
						popupResize();
					</prop:ClientSide.OnValidationError>
			</com:TRequiredFieldValidator>
			
			
			<com:TCustomValidator 
				ValidationGroup="validateMarche" 
				ControlToValidate="montant" 
				Display="Dynamic"
				ErrorMessage="<%=Prado::localize('MESSAGE_ERREUR_VALEUR_SAISIE_ENTRE_LES_BORNES')%>"
				ClientValidationFunction="validateMontantWithBorns"
				EnableClientScript="true" 
				Text = " "
			> 						 					 
				<prop:ClientSide.OnValidationError>
						document.getElementById('divValidationSummary').style.display='';
						popupResize();
				</prop:ClientSide.OnValidationError>
   			 </com:TCustomValidator>
			<com:TLabel ID="labelServerSide"/>
			<div class="spacer-mini"></div>
			<!--Fin Bloc Montant-->
			<!--Debut Bloc PME PMI-->
			<div class="line">
				<div class="intitule-150"><label for="pmiPmeList"><com:TTranslate>PME_SLASH_PMI</com:TTranslate></label> :</div>
				<com:TDropDownList 
					ID="pmiPmeList" 
					Attributes.title="<%=Prado::localize('PME_SLASH_PMI')%>"
					CssClass="select-100" />
			</div>
			<!--Fin Bloc PME PMI-->
			<div class="spacer"></div>
		</div>
		<div class="breaker"></div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</div>
	<!--Fin Bloc Identification-->
	<!--Debut line boutons-->
	<div class="boutons-line">
		<com:TButton 
			ID="valider" 
			ValidationGroup="validateMarche"
			onClick="Page.valider"
			CssClass="bouton-moyen float-right"
			Attributes.title="<%=Prado::localize('VALIDER_SELECTION')%>"
			Text="<%=Prado::localize('TEXT_VALIDER')%>" />
		<input type="button" class="bouton-moyen float-left" value="<%=Prado::localize('TEXT_ANNULER')%>" title="<%=Prado::localize('TEXT_ANNULER')%>" onclick="window.close();" />
	</div>
	<!--Fin line boutons-->
</div>
<script type="text/javascript">popupResize();</script>
<com:TLabel id="script" />
<com:TActiveButton id="btRemplissageListeTranche" OnClick="page.getTrancheBudgetaire" style="display:none">
			<prop:ClientSide.OnLoading>showLoader();</prop:ClientSide.OnLoading>
   			<prop:ClientSide.OnFailure>showLoader();</prop:ClientSide.OnFailure>
   			<prop:ClientSide.OnSuccess>showLoader();</prop:ClientSide.OnSuccess>
</com:TActiveButton>
</com:TContent>