<%@ MasterClass="Application.layouts.PopUpLayout" %>
<com:TContent ID="CONTENU_PAGE">
	<div class="popup-moyen" id="container">
		<h1><com:TTranslate>AJOUTER_MODIFIER_UTILISATEUR</com:TTranslate></h1>
		<!--Debut Bloc Informations Utilisateurs-->
		<div class="float-right"><com:TTranslate>DEFINE_SYMBOLE</com:TTranslate> <span class="champ-oblig">*</span><com:TTranslate>DEFINE_INDIQUE_CHAMPS_OBLIGATOIRES</com:TTranslate></div>
		<div class="form-field">
		 	<com:AtexoValidationSummary  ValidationGroup="validateCreateCompte" />
		 	<com:PanelMessageErreur ID="panelMessageErreur"/>
		 	<com:TLabel id="labelServerSide"/>
				<com:AtexoIdentificationUser ID="panelInscrit"/>
				<!--Debut line boutons-->
				<div class="boutons-line">
					<input type="button" class="bouton-annulation float-left" value="<%=Prado::localize('ICONE_ANNULER')%>" title="<%=Prado::localize('ICONE_ANNULER')%>" onclick="window.close();" />
						<com:TButton cssClass="bouton-validation float-right"  
			    			Text="<%=Prado::localize('TEXT_ENREGISTER')%>"
			    			ID="buttonEnregistrer"
			    			ValidationGroup="validateCreateCompte" 
			    			Attributes.title="<%=Prado::localize('TEXT_ENREGISTER')%>"
			    			onclick="saveChange" />
				</div>
				<!--Fin line boutons-->
				<com:TLabel ID="labelClose"/>
	  </div>
</div>
<script type="text/javascript">popupResize();</script>

</com:TContent>
