<%@MasterClass="Application.layouts.PopUpLayout"%>
<com:TContent id="CONTENU_PAGE">
<div class="popup-moyen" id="container">
	<h1><com:TTranslate>TEXT_AJOUTER_AGENT</com:TTranslate></h1>
	<!--Debut Bloc Identification Agent-->
	<div class="float-right margin-fix"><com:TTranslate>DEFINE_SYMBOLE</com:TTranslate> <span class="champ-oblig">*</span> <com:TTranslate>DEFINE_INDIQUE_CHAMPS_OBLIGATOIRES</com:TTranslate></div>
	<div class="form-field">
	 <com:AtexoValidationSummary  ValidationGroup="validateInfoAccount" />
	 <com:TLabel id="labelServerSide"/>
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_IDENTIFICATION_AGENT</com:TTranslate></span></div>
		<div class="content">
			<div class="spacer-small"></div>
			<div class="line">
				<div class="intitule-150"><label for="nomAgent"><com:TTranslate>TEXT_NOM_MAJ</com:TTranslate> : </label><span class="champ-oblig">*</span> </div>
				<com:TTextBox id="nomAgent" Attributes.title="<%=Prado::localize('TEXT_NOM_MAJ')%>" CssClass="small" />
				<com:TRequiredFieldValidator 
						ControlToValidate="nomAgent"
						ValidationGroup="validateInfoAccount"
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('TEXT_NOM_MAJ')%>"
						EnableClientScript="true"  						 					 
						 Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
						>   
				<prop:ClientSide.OnValidationError>
           				 document.getElementById('divValidationSummary').style.display='';
         		</prop:ClientSide.OnValidationError>
         		</com:TRequiredFieldValidator> 
			</div>
			<div class="line">
				<div class="intitule-150"><label for="prenomAgent"><com:TTranslate>TEXT_PRENOM_SANS_POINTS</com:TTranslate> : </label><span class="champ-oblig">*</span> </div>
				<com:TTextBox  id="prenomAgent" Attributes.title="<%=Prado::localize('TEXT_PRENOM_SANS_POINTS')%>" CssClass="small"/>
			    <com:TRequiredFieldValidator 
						ControlToValidate="prenomAgent"
						ValidationGroup="validateInfoAccount"
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('TEXT_PRENOM_SANS_POINTS')%>"
						EnableClientScript="true"  						 					 
						 Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
						>   
				<prop:ClientSide.OnValidationError>
           				 document.getElementById('divValidationSummary').style.display='';
         		</prop:ClientSide.OnValidationError>
         		</com:TRequiredFieldValidator> 
			</div>
			<div class="line">
				<div class="intitule-150"><label for="tel"><com:TTranslate>TEXT_TELEPHONE</com:TTranslate> </label> :</div>
				<com:TTextBox  id="tel" Attributes.title="<%=Prado::localize('TEXT_TELEPHONE')%>" CssClass="small"  />
				<com:TCustomValidator 
                	ID= "nombreCaracteresNumTel"
                	ValidationGroup="validateInfoAccount" 
                	ControlToValidate="tel" 
                	ClientValidationFunction="validerNombreCaracteresNumTelFax" 
                	Display="Dynamic" 
                	ErrorMessage="<%=str_replace('XXX',  Application\Service\Atexo\Atexo_Config::getParameter('NOMBRE_CARACTERES_MAX_AUTORISES_SAISIE_TELEPHONE_FAX'), Prado::localize('MESSAGE_NOMBRE_CARACTERES_AUTORISES_NUMERO_TEL'))%>"
                	Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
                	EnableClientScript="true" 
                > 						 					 
                	<prop:ClientSide.OnValidationError>
                		document.getElementById('divValidationSummary').style.display='';
                	</prop:ClientSide.OnValidationError>
                </com:TCustomValidator>		
                <com:TRegularExpressionValidator 
                		ID="formattelephone"
                		Display="Dynamic"
                		ValidationGroup="validateInfoAccount"
                		ControlToValidate="tel"
                		Enabled="<%=Application\Service\Atexo\Atexo_Module::isEnabled('ValidationFormatChampsStricte')%>"
                		RegularExpression="<%= Application\Service\Atexo\Atexo_Config::getParameter('EXPRESSION_REGULIERE_VALIDATION_TELEPHONE_FAX')%>"
                		ErrorMessage="<%=Prado::localize('MESSAGE_FORMAT_TELEPHONE')%>"
                		Text="<span title='<%=Prado::localize('FORMAT_INCORRECTE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('FORMAT_INCORRECTE')%>' /></span>">
                		<prop:ClientSide.OnValidationError>
                			document.getElementById('divValidationSummary').style.display='';
                		</prop:ClientSide.OnValidationError>
                </com:TRegularExpressionValidator>
			</div>
			<div class="line">
				<div class="intitule-150"><label for="fax"><com:TTranslate>TEXT_TELECOPIEUR</com:TTranslate> </label> :</div>
				<com:TTextBox id="fax" Attributes.title="<%=Prado::localize('TEXT_TELECOPIEUR')%> " CssClass="small" />
				<com:TCustomValidator 
         			    ID= "nombreCaracteresNumFax"
         				ValidationGroup="validateInfoAccount" 
         				ControlToValidate="fax" 
         				ClientValidationFunction="validerNombreCaracteresNumTelFax" 
         				Display="Dynamic" 
         				ErrorMessage="<%=str_replace('XXX',  Application\Service\Atexo\Atexo_Config::getParameter('NOMBRE_CARACTERES_MAX_AUTORISES_SAISIE_TELEPHONE_FAX'), Prado::localize('MESSAGE_NOMBRE_CARACTERES_AUTORISES_NUMERO_TELECOPIEUR'))%>"
         				Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
         				EnableClientScript="true" 
         			> 						 					 
        				<prop:ClientSide.OnValidationError>
        	   				document.getElementById('divValidationSummary').style.display='';
        	 			</prop:ClientSide.OnValidationError>
        			</com:TCustomValidator>		
         			  <com:TRegularExpressionValidator 
						ID="formatfax"
						Display="Dynamic"
						ValidationGroup="validateInfoAccount"
					    ControlToValidate="fax"
					    Enabled="<%=Application\Service\Atexo\Atexo_Module::isEnabled('ValidationFormatChampsStricte')%>"
					    RegularExpression="<%= Application\Service\Atexo\Atexo_Config::getParameter('EXPRESSION_REGULIERE_VALIDATION_TELEPHONE_FAX')%>"
					    ErrorMessage="<%=Prado::localize('MESSAGE_FORMAT_TELECOPIEUR')%>"
			 			Text="<span title='<%=Prado::localize('FORMAT_INCORRECTE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=Prado::localize('FORMAT_INCORRECTE')%>' /></span>">
						<prop:ClientSide.OnValidationError>
			 				document.getElementById('divValidationSummary').style.display='';
						</prop:ClientSide.OnValidationError>
 					</com:TRegularExpressionValidator>		
			</div>
			<div class="line">
				<div class="intitule-150"><label for="email"><com:TTranslate>TEXT_ADRESSE_ELECTRONIQUE</com:TTranslate> </label> :<span class="champ-oblig">*</span></div>
				<com:TTextBox  id="email" Attributes.title="<%=Prado::localize('TEXT_ADRESSE_ELECTRONIQUE')%> " CssClass="small" />
				 <com:TRequiredFieldValidator 
						ControlToValidate="email"
						ValidationGroup="validateInfoAccount"
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('TEXT_ADRESSE_ELECTRONIQUE')%>"
						EnableClientScript="true"  						 					 
						 Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
						>   
				<prop:ClientSide.OnValidationError>
           				 document.getElementById('divValidationSummary').style.display='';
         		</prop:ClientSide.OnValidationError>
         		</com:TRequiredFieldValidator> 
         		<com:TCustomValidator
    						ControlToValidate="email" 
    						ValidationGroup="validateInfoAccount" 
    						Display="Dynamic" 
    						EnableClientScript="true"
    						ID="loginCreationValidatorEmail"
    						onServerValidate="Page.verifyMailCreation"
    						Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
 				</com:TCustomValidator>
			</div>
			<div class="spacer-small"></div>
			<div class="line">
				<div class="intitule-150"><label for="entiteAchat"><com:TTranslate>TEXT_ENTITE_ACHAT</com:TTranslate></label> :</div>
				<com:TLabel  id="entiteAchat" Attributes.title="<%=Prado::localize('TEXT_ENTITE_ACHAT')%> "></com:TLabel>
			</div>
			<com:TPanel CssClass="line" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('PresenceElu')%>">
				<div class="intitule-150"><com:TTranslate>TEXT_TYPE_COMPTE</com:TTranslate> :</div>
				<div class="content-bloc bloc-600">
					<div class="line"><com:TRadioButton GroupName="compteType" id="agent"  Attributes.title="<%=Prado::localize('TEXT_AGENT')%>" CssClass="radio" checked="true" /><label for="agent"><com:TTranslate>TEXT_AGENT</com:TTranslate></label></div>
					<div class="line"><com:TRadioButton  GroupName="compteType" id="elu" Attributes.title="<%=Prado::localize('TEXT_ELU')%>" CssClass="radio" /><label for="elu"><com:TTranslate>TEXT_ELU</com:TTranslate></label></div>
				</div>
			</com:TPanel>
		</div>
		<div class="breaker"></div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</div>
	<!--Fin Bloc Identification Agent-->
	<!--Debut Bloc Coordonnées d'authentification-->
	<div class="form-field">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_COORDONNEES_AUTHENTIFICATION</com:TTranslate></span></div>
		<div class="content">
			<div class="spacer-small"></div>
			<com:TPanel visible="<%=((new Application\Service\Atexo\Atexo_Module())->isSaisieManuelleActive($this->page->organisme))? true:false%>">
				<div class="line">
					<div class="intitule-150"><label for="idExterneSSO"><com:TTranslate>ID_EXTERNE_SSO</com:TTranslate> :</label> <span class="champ-oblig">*</span></div>
					<com:TTextBox id="idExterneSSO" Attributes.title="<%=Prado::localize('ID_EXTERNE_SSO')%>" CssClass="small" />
					<com:TRequiredFieldValidator
							ControlToValidate="idExterneSSO"
							ValidationGroup="validateInfoAccount"
							Display="Dynamic"
							ErrorMessage="<%=Prado::localize('ID_EXTERNE_SSO')%>"
							EnableClientScript="true"
							Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
					>
						<prop:ClientSide.OnValidationError>
							document.getElementById('divValidationSummary').style.display='';
						</prop:ClientSide.OnValidationError>
					</com:TRequiredFieldValidator>
					<com:TCustomValidator
							ControlToValidate="idExterneSSO"
							ValidationGroup="validateInfoAccount"
							Display="Dynamic"
							EnableClientScript="true"
							ID="IdExterneSSOCreationValidator"
							onServerValidate="Page.verifyIdExterneSsoCreation"
							Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
					</com:TCustomValidator>
				</div>
			</com:TPanel>
			<com:TPanel id='authentificationLoginMdp' visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AuthenticateAgentByLogin'))?true:false%>">
			<div class="line">
				<div class="intitule-150"><label for="idAgent"><com:TTranslate>TEXT_IDENTIFIANT_SANS_POINTS</com:TTranslate> :</label> <span class="champ-oblig">*</span></div>
				<com:TTextBox id="idAgent" Attributes.title="<%=Prado::localize('TEXT_IDENTIFIANT_SANS_POINTS')%>" CssClass="small" />
				<com:TRequiredFieldValidator 
						ControlToValidate="idAgent"
						ValidationGroup="validateInfoAccount"
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('TEXT_IDENTIFIANT_SANS_POINTS')%>"
						EnableClientScript="true"  						 					 
						 Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
						>   
				<prop:ClientSide.OnValidationError>
           				 document.getElementById('divValidationSummary').style.display='';
         		</prop:ClientSide.OnValidationError>
         		</com:TRequiredFieldValidator> 
         		<com:TCustomValidator
    						ControlToValidate="idAgent" 
    						ValidationGroup="validateInfoAccount" 
    						Display="Dynamic" 
    						EnableClientScript="true"
    						ID="loginCreationValidator"
    						onServerValidate="Page.verifyLoginCreation"
    						Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
 				</com:TCustomValidator>
			</div>
					
			<com:TPanel cssClass="line" visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('GenerationAutomatiqueMdpAgent'))? true:false%>">
				<div class="intitule-150"><label for="passwordAgent"><com:TTranslate>TEXT_MOT_PASSE</com:TTranslate></label> <span class="champ-oblig">*</span>
					<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-info.gif" style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AgentControleFormatMotDePasse'))?'':'none'%>" onmouseover="afficheBulle('infosMdp', this)" onmouseout="cacheBulle('infosMdp')" class="picto-info" alt="Info-bulle" title="Info-bulle" />
				</div>
				<div class="content-bloc bloc-600">
					<div class="line">
						<com:TRadioButton GroupName="genererPwd" id="pwdManuel" checked="true" CssClass="radio" Attributes.onclick="isCheckedShowDiv(this,'panel_PwdManuel');" Attributes.title="<%=Prado::localize('SAISIE_MANUELLE_PWD')%>"   />
						<label for="actif"><com:TTranslate>SAISIE_MANUELLE_PWD</com:TTranslate></label>
					</div>
					<div class="line">
						<com:TRadioButton  GroupName="genererPwd" id="pwdAutomatique" CssClass="radio" Attributes.onclick="isCheckedHideDiv(this,'panel_PwdManuel');document.getElementById('ctl0_CONTENU_PAGE_passwordAgent').value='';"Attributes.title="<%=Prado::localize('GENERATION_ALEATOIRE_PWD')%>"  />
						<label for="verouille"><com:TTranslate>GENERATION_ALEATOIRE_PWD</com:TTranslate></label>
					</div>
				</div>
			</com:TPanel>
			<div id="panel_PwdManuel">
				<div class="line">
					<com:TPanel visible="<%= ! Application\Service\Atexo\Atexo_Module::isEnabled('GenerationAutomatiqueMdpAgent')%>">
						<div class="intitule-150"><label for="passwordAgent"><com:TTranslate>TEXT_MOT_PASSE</com:TTranslate></label> <span class="champ-oblig">*</span>
						<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-info.gif" style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AgentControleFormatMotDePasse'))?'':'none'%>" onmouseover="afficheBulle('infosMdp', this)" onmouseout="cacheBulle('infosMdp')" class="picto-info" alt="Info-bulle" title="Info-bulle" /></div>
					</com:TPanel>
					<com:TPanel visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('GenerationAutomatiqueMdpAgent'))? true:false%>">
						<div class="intitule-150">&nbsp;</div>
					</com:TPanel>
					<com:TTextBox  id="passwordAgent" TextMode="Password" Attributes.placeholder="<%=Prado::localize('SAISIR_MOT_DE_PASSE')%>" Attributes.title="<%=Prado::localize('SAISIR_MOT_DE_PASSE')%>" CssClass="small"  />
					<com:TRequiredFieldValidator 
							ControlToValidate="passwordAgent"
							ValidationGroup="validateInfoAccount"
							Display="Dynamic"
							visible="DisableValidatorPwd('<%=$this->pwdAutomatique->getClientId()%>')"
							ErrorMessage="<%=Prado::localize('TEXT_MOT_PASSE_SANS_POINT')%>"
							EnableClientScript="true"  						 					 
							 Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
							>   
					<prop:ClientSide.OnValidationError>
	           				 document.getElementById('divValidationSummary').style.display='';
	         		</prop:ClientSide.OnValidationError>
	         		</com:TRequiredFieldValidator>
	         		<com:TCustomValidator
					    ValidationGroup="validateInfoAccount"
				   		ControlToValidate="passwordAgent"
					    ClientValidationFunction="verifierMdp"
					    ErrorMessage="<%=Prado::localize('REGLE_VALIDATION_MDP')%>"
					    Enabled="<%#$this->Page->DisableValidatorPwd()%>"
						visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AgentControleFormatMotDePasse'))? true:false%>"
					    Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>"
					 >
					 	<prop:ClientSide.OnValidationError>
	           				 document.getElementById('divValidationSummary').style.display='';
	         			</prop:ClientSide.OnValidationError>
	         		</com:TCustomValidator>
				</div>
				<div class="line">
					<div class="intitule-150">&nbsp;</div>
					<com:TTextBox  id="confirmePasswordAgent" TextMode="Password" Attributes.placeholder="<%=Prado::localize('TEXT_CONFIRME_MOT_PASSE_SANS_POINTS')%>" Attributes.title="<%=Prado::localize('TEXT_CONFIRME_MOT_PASSE_SANS_POINTS')%>" CssClass="small"  />
	                <com:TCompareValidator
				    ValidationGroup="validateInfoAccount"
				    ControlToValidate="passwordAgent"
				    Enabled="<%#$this->Page->DisableValidatorPwd()%>"
				    ControlToCompare="confirmePasswordAgent"
				    ErrorMessage="<%=Prado::localize('DEFINE_ERREUR_SAISIE_MDP')%>"
				    Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>	"
				   	>   
					<prop:ClientSide.OnValidationError>
		          				 document.getElementById('divValidationSummary').style.display='';
		     		</prop:ClientSide.OnValidationError>
		        	</com:TCompareValidator> 				
				</div>
			</div>
			</com:TPanel>
			<com:AuthentificationByCert id="authentificationByCer" visible="<%=(Application\Service\Atexo\Atexo_Module::isEnabled('AuthenticateAgentByCert'))? true:false%>"/>
			<div class="line">
				<div class="intitule-150"><com:TTranslate>TEXT_ETAT_COMPTE</com:TTranslate> :</div>
				<div class="content-bloc bloc-600">
					<div class="line"><com:TRadioButton GroupName="compteStatus" id="actif" checked="true" Attributes.title="<%=Prado::localize('TEXT_ACTIF')%>" CssClass="radio"  /><label for="actif"><com:TTranslate>TEXT_ACTIF</com:TTranslate></label></div>
					<div class="line"><com:TRadioButton  GroupName="compteStatus" id="verouille" Attributes.title="<%=Prado::localize('TEXT_VERROUILLE')%>" CssClass="radio" /><label for="verouille"><com:TTranslate>TEXT_VERROUILLE</com:TTranslate></label></div>
				</div>
			</div>
		</div>
		<div class="breaker"></div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</div>
	<!--Fin Bloc Coordonnées d'authentification-->
	<com:AtexoReferentielAgent ID="AtexoReferentielAgent" />
	<com:ServicesMetiersAccessibles ID="servicesMetiersAccessibles"/>
	<!--Debut line boutons-->
	<div class="boutons-line">
		<com:PictoAnnuler />
		<span data-tnr="validationAjoutPopupAgent">
		    <com:PictoValidateButton onClick="updateAgentAccountInformation" ValidationGroup="validateInfoAccount"/>
		</span>
	</div>
	<!--Fin line boutons-->
</div>
<script type="text/javascript">popupResize();</script>
<!--Debut Infos-Bulles-->
<div id="infosProfil" class="info-bulle" onmouseover="mouseOverBulle();" onmouseout="mouseOutBulle();"><div><com:TTranslate>TEXT_CHOIX_PROFIL_HABILITATIONS_DEFAUT</com:TTranslate></div></div>
<div id="infosMdp" class="info-bulle" onmouseover="mouseOverBulle();" onmouseout="mouseOutBulle();"><div><com:TTranslate>REGLE_VALIDATION_MDP</com:TTranslate></div></div>
<!--Fin Infos-Bulles-->
<com:TLabel id="script" />
</com:TContent>