<com:TContent ID="CONTENU_PAGE">
    <div class="main-part" id="main-part">
        <div class="breadcrumbs"><a href="#"><com:TTranslate>TEXT_STATISTIQUES</com:TTranslate></a>&gt; <com:TTranslate>DOCUMENTS_PAR_ORGANISMES</com:TTranslate></div>
        <com:AtexoCriteresStatistiques ID="criteresStatistiques" />
        <div class="breaker"></div>
    </div>
</com:TContent>
