<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
<div class="main-part" id="main-part">
	<com:TPanel ID="mainPanel">
		<div class="breadcrumbs"><a href="#"><com:TLabel Id="titre1" Text="<%=$this->getTitre()%>"></com:TLabel></a>&gt; <com:TLabel Id="titre2" Text="<%=$this->getSousTitre()%>"></com:TLabel></div>
		<com:TPanel ID="errorPart" visible="false">
			<com:PanelMessageErreur ID="panelMessageErreur" />
		</com:TPanel>
		<com:TPanel id="frameRedac">
				<iframe onload="hideLoader();" frameborder="0" title="<%=Prado::localize('TEXTE_GERER_DOCUMENTS')%>" scrolling="auto" id="iframeRedac" width="100%" src="<%=$this->getUrl()%>" class="iframe-redac"></iframe>
				<div class="breaker"></div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</com:TPanel>
		<div class="breaker"></div>
	 </com:TPanel>	
</div>
<com:TLabel id="scriptJs" />
</com:TContent>
