<com:TContent ID="CONTENU_PAGE">
<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TTranslate>RESULTAT_ANALYSE</com:TTranslate></div>

		<!--Debut Barre etape-->
		<com:TPanel CssClass="etapes-5-process" ID="etape3">
			<com:TPanel ID="etatConsultationElaboration" ><span><com:TTranslate>DEFINE_ELABORATION</com:TTranslate></span></com:TPanel>
			<span><com:TTranslate>DEFINE_PREPARATION</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_CONSULTATION</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_OUVERTURE_ANALYSE</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_DECISION</com:TTranslate></span>
		</com:TPanel>
		<!--Fin Barre etape-->
			
			<com:ConsultationSummary  ID="ConsultationSummary"/>
		
		<!-- bloc erreurs -->
		<com:PanelMessageErreur ID="panelMessageErreur" Visible="false"/>
		<!--fin bloc erreur-->
		<com:PanelMessage ID="panelMessage" Visible="false"/>
		
				<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<h3 class="no-indent"><%#Prado::localize('RESULTAT_ANALYSE')%></h3>
				<!--Debut Tableau Resultat de l'analyse par lot-->
				<com:TRepeater ID="lots" EnableViewState="true" >
					<prop:HeaderTemplate>
							<table summary="Résultat de l'analyse" class="table-results">
								<caption><%#Prado::localize('RESULTAT_ANALYSE')%></caption>
								<thead>
			
									<tr><th class="top" colspan="3"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
									</tr>
									<tr>
										<th class="col-180" id="lot">
											<com:THyperLink Visible="<%#($this->Data instanceof CommonCategorieLot)%>"><%#Prado::localize('N_LOT')%><img src="<#Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri-off.gif" alt="<%#Prado::localize('DEFINE_TRIER')%>" title="<%#Prado::localize('DEFINE_TRIER')%>" /></com:THyperLink>
										</th>
										<th class="col-300" id="lot_decision"><a href="#"><%#Prado::localize('DEFINE_PROPOSITION')%></a></th>
										<th class="actions" id="lot_decision_actions"><%#Prado::localize('DEFINE_DETAIL')%></th>
									</tr>
			
								</thead>
					</prop:HeaderTemplate>
					<prop:ItemTemplate>
						<tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
							<td class="col-180" headers="lot">
								<%#($this->Data instanceof CommonCategorieLot)? Prado::localize('TEXT_LOT').$this->Data->getLot():''%>
								<br /><%#$this->Data->getDescription(Application\Service\Atexo\Atexo_CurrentUser::readFromSession("lang"))%></td>
							<td class="col-300" headers="lot_decision"><%#$this->Page->infosProposition($this->Data)%></td>
							<td class="actions" headers="lot_decision_actions"><a href="?page=Agent.DetailAnalyse&id=<%#$this->Data->getConsultationId()%>&lot=<%#$this->Data->getLot()%>"><img src="<%#Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-details.gif" alt="<%#Prado::localize('DEFINE_DETAIL_RESULTAT_ANALYSE')%>" title="<%#Prado::localize('DEFINE_DETAIL_RESULTAT_ANALYSE')%>" /></a></td>
						</tr>
					</prop:ItemTemplate>
					<prop:FooterTemplate>
						</table>
					</prop:FooterTemplate>
				</com:TRepeater>
				<!--Fin Tableau Resultat de l'analyse par lot-->
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>

		</div>
		<div class="link-line">
			<a href="index.php?page=Agent.TableauDeBord&id=<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['id'])%>" class="bouton-retour" title="<%=Prado::localize('RETOUR_TAB_DECISION')%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></a>
		</div>


</com:TContent>