<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><span class="normal"><com:TTranslate>TEXT_ADMINISTRATION_METIER</com:TTranslate> &gt; <com:TTranslate>TEXT_MESURE_AVANCEMENT_DEMATERIALISATION</com:TTranslate> </span>&gt; <com:TTranslate>TEXT_MODIFICATION</com:TTranslate></div>
		<!--Debut Bloc formulaire avec onglets-->
		<com:PanelMessage ID="panelMessage" visible="false"/>
		<com:PanelMessageErreur  ID="panelMessageErreur" visible="false"/>
		 
		<div id="tabNav">
			<form id="creationConsultation" action="">
			<!--Debut navigation onglets-->
			<div class="nav-onglet" id="form-nav">
				<!--IMPORTANT, Pour rendre un onglet inactif, utiliser class="tab-inactive" au lieu de class="tab" et supprimer la fonction onclick="showHide();"-->
				<div class="tab-on"><span class="border-left">&nbsp;</span><a href="#" class="tab-5item" onclick="showHideLayer('ongletLayer1',this,5);">AAPC</a><span class="border-right">&nbsp;</span></div>
				<div class="tab"><span class="border-left">&nbsp;</span><a href="#" class="tab-5item" onclick="showHideLayer('ongletLayer2',this,5);">DCE</a><span class="border-right">&nbsp;</span></div>
				<div class="tab"><span class="border-left">&nbsp;</span><a href="#" class="tab-5item" onclick="showHideLayer('ongletLayer3',this,5);">Candidatures</a><span class="border-right">&nbsp;</span></div>

				<div class="tab"><span class="border-left">&nbsp;</span><a href="#" class="tab-5item" onclick="showHideLayer('ongletLayer4',this,5);">Offres</a><span class="border-right">&nbsp;</span></div>
				<div class="tab"><span class="border-left">&nbsp;</span><a href="#" class="tab-5item" onclick="showHideLayer('ongletLayer5',this,5);">Notifications</a><span class="border-right">&nbsp;</span></div>
			</div>
			<!--Fin navigation onglets-->
			<!--Debut Layer 1-->
			<div class="ongletLayer" id="ongletLayer1" style="display:block;">
				<div class="top"></div>
				<com:TActivePanel ID="layer1" CssClass="content">

					<!--Debut Line Type Marche-->
					<div class="line no-indent">
						<!-- div class="intitule-120"><label for="aap_marcheType"><strong>Type de Marché :</strong></label></div-->
						<!-- com:TActiveDropDownList ID="typeMarche1" AutoPostBack="true" OnTextChanged="retreiveDataAAPC" onCallBack="refreshRepeaterAAPC" Attributes.title="Type de Marché" CssClass="select-160" /-->
					</div>
					<div class="spacer"></div>
					<!--Fin Line Type Marche-->
					<!--Debut Tableau Synthese AAPC-->
					<com:TRepeater ID="TRepeaterAAPC"  >
					<prop:HeaderTemplate>
					<table summary="Synthèse AAPC" class="table-statistique">
						<caption><com:TTranslate>TEXT_SYNTHESE_AAPC</com:TTranslate></caption>
						<thead>

							<tr>
								<th class="empty" colspan="2"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
								<th class="top" colspan="4"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
							</tr>
							<tr>
								<th class="empty border col-130">&nbsp;</th>
								<th class="empty border col-70">&nbsp;</th>
								<th class="border col-130"><com:TTranslate>DEFINE_NBRE_PROCEDURES</com:TTranslate></th>

								<th class="border col-130"><com:TTranslate>FCSP_NOMBRE_LOTS</com:TTranslate></th>
								<th class="border col-130"><com:TTranslate>TEXT_NOMBRE_AVIS_PAPIER</com:TTranslate></th>
								<th class="border col-130"><com:TTranslate>TEXT_NOMBRE_AVIS_DEMATERIALISES</com:TTranslate></th>
							</tr>
						</thead>
						</prop:HeaderTemplate>
						<prop:ItemTemplate>
						<!--Debut Ligne 1-->
						<tr>
							<td class="left" ><com:TLabel ID="AAPCTypeProcedure"  CssClass="left" Text="<%#utf8_decode($this->Data['MesureAchatPublicTypeProcedure'])%>" /></td>
							<td class="left"><com:TLabel ID="AAPCTypeMarche"  Text="<%#$this->Data['MesureAchatPublicTypeMarche']%>" /></td>
							<td>
								<com:TTextBox ID="AAPCNombreProcedure" CssClass="input-50 align-right" Text="<%#$this->Data['Avis']['MesureAchatPublicNombreProcedure']%>" />
							</td>
							<td>
								<com:TTextBox ID="AAPCNombreLot" CssClass="input-50 align-right" Text="<%#$this->Data['Avis']['MesureAchatPublicNombreLot']%>" />
							</td>
							<td>
								<com:TTextBox ID="AAPCNombreAvisPapier"  CssClass="input-50 align-right" Text="<%#$this->Data['Avis']['MesureAchatPublicNombreAvisPapier']%>" />
							</td>	
							<td><com:TTextBox ID="AAPCNombreAvisDemat" CssClass="input-50 align-right" Text="<%#$this->Data['Avis']['MesureAchatPublicNombreAvisDemat']%>" />
								
							</td>
						</tr>
				
						<!--Fin Ligne 1-->
	
						</prop:ItemTemplate>
					<prop:FooterTemplate>
					</table>
					</prop:FooterTemplate>
					</com:TRepeater>
					<!--Fin Tableau Synthese AAPC-->
					<div class="breaker"></div>
				</com:TActivePanel>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 1-->

			<!--Debut Layer 2-->
			<div class="ongletLayer" id="ongletLayer2" style="display:none;">
				<div class="top"></div>
				<com:TActivePanel ID="layer2" CssClass="content">
					<!--Debut Line Type Marche-->
					<div class="line no-indent">
						<!--div class="intitule-120"><label for="dce_marcheType"><strong>Type de Marché :</strong></label></div-->
						<!--com:TActiveDropDownList ID="typeMarche2" OnSelectedIndexChanged="retreiveDataDCE" OnCallBack="refreshRepeaterDCE" AutoPostBack="true" Attributes.title="Type de Marché" CssClass="select-160"/-->
					</div>
					<div class="spacer"></div>
					<!--Fin Line Type Marche-->

					<!--Debut Tableau Synthese DCE-->
				<com:TRepeater ID="TRepeaterDCE"  >
				<prop:HeaderTemplate>
					<table summary="Synthèse DCE" class="table-statistique">
						<caption><com:TTranslate>TEXT_SYNTHESE_DCE</com:TTranslate></caption>
						<thead>
							<tr>
								<th class="empty col-200" colspan="2"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
								<th class="top" colspan="5"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
							</tr>

							<tr>
								<th class="empty border col-130">&nbsp;</th>
								<th class="empty border col-70">&nbsp;</th>
								<th class="col-100 border"><com:TTranslate>DEFINE_NBRE_PROCEDURES</com:TTranslate></th>
								<th class="col-100 border"><com:TTranslate>FCSP_NOMBRE_LOTS</com:TTranslate></th>
								<th class="col-100 border"><com:TTranslate>TEXT_NOMBRE_RETRAITS_PAPIER</com:TTranslate></th>
								<th class="col-100 border"><com:TTranslate>TEXT_NOMBRE_TELECHARGEMENTS</com:TTranslate></th>

								<th class="border col-100"><com:TTranslate>TEXT_NOMBRE_RETRAITS_MIXTES</com:TTranslate></th>
							</tr>
						</thead>
					</prop:HeaderTemplate>
					<prop:ItemTemplate>
						<!--Debut Ligne 1-->
						<tr>
							<td class="left" ><com:TLabel ID="DCETypeProcedure"   Text="<%#utf8_decode($this->Data['MesureAchatPublicTypeProcedure'])%>" /></td>
							<td class="left"><%#$this->Data['MesureAchatPublicTypeMarche']%></td>
							<td>
								<com:TTextBox ID="DCENombreProcedure" CssClass="input-50 align-right" Text="<%#$this->Data['DossierConsultationEntreprise']['MesureAchatPublicNombreProcedure']%>" />
							</td>
							<td>
								<com:TTextBox ID="DCENombreLot" CssClass="input-50 align-right" Text="<%#$this->Data['DossierConsultationEntreprise']['MesureAchatPublicNombreLot']%>" />
							</td>
							<td>
								<com:TTextBox ID="DCENombreDossierPapier" CssClass="input-50 align-right" Text="<%#$this->Data['DossierConsultationEntreprise']['MesureAchatPublicNombreDossierPapier']%>" />
							</td>
							<td>
								<com:TTextBox ID="DCENombreDossierDemat" CssClass="input-50 align-right" Text="<%#$this->Data['DossierConsultationEntreprise']['MesureAchatPublicNombreDossierDemat']%>" />
							</td>
							<td>
								<com:TTextBox ID="DCENombreDossierMixte" CssClass="input-50 align-right" Text="<%#$this->Data['DossierConsultationEntreprise']['MesureAchatPublicNombreDossierMixte']%>" />
							</td>

						</tr>
						<!--Fin Ligne 1-->
						</prop:ItemTemplate>
					<prop:FooterTemplate>
						</table>
					</prop:FooterTemplate>
					</com:TRepeater>
					<!--Fin Tableau Synthese DCE-->
					<div class="breaker"></div>
				</com:TActivePanel>

				<div class="bottom"></div>
			</div>
			<!--Fin Layer 2-->
			<!--Debut Layer 3-->
			<div class="ongletLayer" id="ongletLayer3" style="display:none;">
				<div class="top"></div>
				<div class="content">
					<!--Debut Line Type Marche-->
					<com:TActivePanel ID="layer3" CssClass="line no-indent">

						<!-- div class="intitule-120"><label for="cand_marcheType"><strong>Type de Marché :</strong></label></div-->
						<!-- com:TActiveDropDownList ID="typeMarche3"  OnSelectedIndexChanged="retreiveDataCand" OnCallBack="refreshRepeaterCand" AutoPostBack="true" Attributes.title="Type de Marché" CssClass="select-160"/-->
					</div>

					<div class="spacer"></div>
					<!--Fin Line Type Marche-->
					<!--Debut Tableau Synthese Candidatures-->
				<com:TRepeater ID="TRepeaterCand"  >
				<prop:HeaderTemplate>
					<table summary="Synthèse Candidatures" class="table-statistique">
						<caption><com:TTranslate>TEXT_SYNTHESE_CANDIDATURES</com:TTranslate></caption>
						<thead>
							<tr>
								<th class="empty col-200" colspan="2"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>

								<th class="top" colspan="4"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
							</tr>
							<tr>
								<th class="empty border col-130">&nbsp;</th>
								<th class="empty border col-70">&nbsp;</th>
								<th class="col-130 border"><com:TTranslate>DEFINE_NBRE_PROCEDURES</com:TTranslate></th>
								<th class="col-130 border"><com:TTranslate>FCSP_NOMBRE_LOTS</com:TTranslate></th>
								<th class="col-130 border"><com:TTranslate>TEXT_NOMBRE_CANDIDATURES_PAPIER</com:TTranslate></th>

								<th class="border col-130"><com:TTranslate>TEXT_NOMBRE_CANDIDATURES_DEMATERIALISEES</com:TTranslate></th>
							</tr>
						</thead>
					</prop:HeaderTemplate>
					<prop:ItemTemplate>						
						<!--Debut Ligne 1-->
						<tr>
							<td class="left" ><com:TLabel ID="CandTypeProcedure"  CssClass="input-50 align-right" Text="<%#utf8_decode($this->Data['MesureAchatPublicTypeProcedure'])%>" /></td>
							<td class="left"><%#$this->Data['MesureAchatPublicTypeMarche']%></td>
							<td>
								<com:TTextBox ID="CandNombreProcedure" CssClass="input-50 align-right" Text="<%#$this->Data['Candidature']['MesureAchatPublicNombreProcedure']%>" />
							</td>
							<td>
								<com:TTextBox ID="CandNombreLot" CssClass="input-50 align-right" Text="<%#$this->Data['Candidature']['MesureAchatPublicNombreLot']%>" />
							</td>
							<td>
								<com:TTextBox ID="CandNombreAvisPapier" CssClass="input-50 align-right" Text="<%#$this->Data['Candidature']['MesureAchatPublicNombreCandidaturePapier']%>" />
							</td>	
							<td>
								<com:TTextBox ID="CandNombreAvisDemat" CssClass="input-50 align-right" Text="<%#$this->Data['Candidature']['MesureAchatPublicNombreCandidatureDemat']%>" />
							</td>
						</tr>
						<!--Fin Ligne 1-->
						</prop:ItemTemplate>
						<prop:FooterTemplate>
							</table>
						</prop:FooterTemplate>
					</com:TRepeater>						
					<!--Fin Tableau Synthese Candidatures-->
					<div class="breaker"></div>
				</com:TActivePanel>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 3-->
			<!--Debut Layer 4-->
			<div class="ongletLayer" id="ongletLayer4" style="display:none;">
				<div class="top"></div>

				<com:TActivePanel ID="layer4" CssClass="content">
					<!--Debut Line Type Marche-->
					<div class="line no-indent">
						<!-- div class="intitule-120"><label for="offre_marcheType"><strong>Type de Marché :</strong></label></div-->
						<!-- com:TActiveDropDownList ID="typeMarche4"  OnSelectedIndexChanged="retreiveDataOffre" OnCallBack="refreshRepeaterOffre" AutoPostBack="true" Attributes.title="Type de Marché" CssClass="select-160"/-->
					</div>
					<div class="spacer"></div>
					<!--Fin Line Type Marche-->
					<!--Debut Tableau Synthese Offres-->
				<com:TRepeater ID="TRepeaterOffre"  >
					<prop:HeaderTemplate>					
					<table summary="Synthèse Offres" class="table-statistique">
						<caption><com:TTranslate>TEXT_SYNTHESE_OFFRES</com:TTranslate></caption>

						<thead>
							<tr>
								<th class="empty col-200" colspan="2"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
								<th class="top" colspan="4"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
							</tr>
							<tr>
								<th class="empty border col-130">&nbsp;</th>
								<th class="empty border col-70">&nbsp;</th>
								<th class="col-130 border"><com:TTranslate>DEFINE_NBRE_PROCEDURES</com:TTranslate></th>

								<th class="col-130 border"><com:TTranslate>FCSP_NOMBRE_LOTS</com:TTranslate></th>
								<th class="col-130 border"><com:TTranslate>TEXT_NOMBRE_OFFRES_PAPIER</com:TTranslate></th>
								<th class="border col-130"><com:TTranslate>TEXT_NOMBRE_OFFRES_DEMATERIALISES</com:TTranslate></th>
							</tr>
						</thead>
					</prop:HeaderTemplate>
					<prop:ItemTemplate>		
						<!--Debut Ligne 1-->
						<tr>
							<td class="left" ><com:TLabel ID="OffreTypeProcedure"  Text="<%#utf8_decode($this->Data['MesureAchatPublicTypeProcedure'])%>" /></td>
							<td class="left"><%#$this->Data['MesureAchatPublicTypeMarche']%></td>
							<td>
								<com:TTextBox ID="OffreNombreProcedure" CssClass="input-50 align-right" Text="<%#$this->Data['Offre']['MesureAchatPublicNombreProcedure']%>" />
							</td>
							<td>
								<com:TTextBox ID="OffreNombreLot" CssClass="input-50 align-right" Text="<%#$this->Data['Offre']['MesureAchatPublicNombreLot']%>" />
							</td>
							<td>
								<com:TTextBox ID="OffreNombreAvisPapier" CssClass="input-50 align-right" Text="<%#$this->Data['Offre']['MesureAchatPublicNombreOffrePapier']%>" />
							</td>	
							<td>
								<com:TTextBox ID="OffreNombreAvisDemat" CssClass="input-50 align-right" Text="<%#$this->Data['Offre']['MesureAchatPublicNombreOffreDemat']%>" />
							</td>
						</tr>
						<!--Fin Ligne 1-->
					</prop:ItemTemplate>
					<prop:FooterTemplate>
							</table>
					</prop:FooterTemplate>
				</com:TRepeater>	
					<!--Fin Tableau Synthese Offres-->
					<div class="breaker"></div>
				</com:TActivePanel>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 4-->

			<!--Debut Layer 5-->
			<div class="ongletLayer" id="ongletLayer5" style="display:none;">
				<div class="top"></div>
				<com:TActivePanel ID="layer5" CssClass="content">
					<!--Debut Line Type Marche-->
					<div class="line no-indent">
						<!-- div class="intitule-120"><label for="notif_marcheType"><strong>Type de Marché :</strong></label></div-->
						<!-- com:TActiveDropDownList ID="typeMarche5"  OnSelectedIndexChanged="retreiveDataNotifie" OnCallBack="refreshRepeaterNotifie" AutoPostBack="true" Attributes.title="Type de Marché" CssClass="select-160"/-->
					</div>
					<div class="spacer"></div>
					<!--Fin Line Type Marche-->

					<!--Debut Tableau Synthese notification-->
					<com:TRepeater ID="TRepeaterNotifie"  >
					<prop:HeaderTemplate>				
					<table summary="Synthèse notification" class="table-statistique">
						<caption>Synthèse notification</caption>
						<thead>
							<tr>
								<th class="empty col-200" colspan="2"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
								<th class="top" colspan="4"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
							</tr>

							<tr>
								<th class="empty border col-130">&nbsp;</th>
								<th class="empty border col-70">&nbsp;</th>
								<th class="col-120 border"><com:TTranslate>DEFINE_NBRE_PROCEDURES</com:TTranslate></th>
								<th class="col-120 border"><com:TTranslate>FCSP_NOMBRE_LOTS</com:TTranslate></th>
								<th class="col-120 border"><com:TTranslate>TEXT_NOMBRE_MARCHES_NOTIFIES_SUPPOR_PAPIER</com:TTranslate></th>

								<th class="border col-120"><com:TTranslate>TEXT_NOMBRE_MARCHES_NOTIFIES_VOIE_DEMATERIALISEES</com:TTranslate></th>
							</tr>
						</thead>
					 </prop:HeaderTemplate>
					 <prop:ItemTemplate>	
						<!--Debut Ligne 1-->
						<tr>
							<td class="left" ><com:TLabel ID="OffreTypeProcedure"  Text="<%#utf8_decode($this->Data['MesureAchatPublicTypeProcedure'])%>" /></td>
							<td class="left"><%#$this->Data['MesureAchatPublicTypeMarche']%></td>
							<td>
								<com:TTextBox ID="OffreNombreProcedure" CssClass="input-50 align-right" Text="<%#$this->Data['MarcheNotifie']['MesureAchatPublicNombreProcedure']%>" />
							</td>
							<td>
								<com:TTextBox ID="OffreNombreLot" CssClass="input-50 align-right" Text="<%#$this->Data['MarcheNotifie']['MesureAchatPublicNombreLot']%>" />
							</td>
							<td>
								<com:TTextBox ID="OffreNombreAvisPapier" CssClass="input-50 align-right" Text="<%#$this->Data['MarcheNotifie']['MesureAchatPublicNombreMarcheNotifiePapier']%>" />
							</td>	
							<td>
								<com:TTextBox ID="OffreNombreAvisDemat" CssClass="input-50 align-right" Text="<%#$this->Data['MarcheNotifie']['MesureAchatPublicNombreMarcheNotifieDemat']%>" />
							</td>
						</tr>
						<!--Fin Ligne 1-->
					</prop:ItemTemplate>
					<prop:FooterTemplate>
							</table>
					</prop:FooterTemplate>
				</com:TRepeater>	
					<!--Fin Tableau Synthese notification-->
					<div class="breaker"></div>
				</com:TActivePanel>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 5-->
			<!--Debut line boutons-->
			<div class="boutons-line">
				<com:TButton id="IdAnnuler" CssClass="bouton-annulation float-left" Text="Annuler" ToolTip="Annuler" OnClick="onAnnulerClick" />
				<com:TButton CssClass="bouton-validation-long float-right margin-left-10" Text="Enregistrer et envoyer" ToolTip="Enregistrer et envoyer" OnClick="onEnregistrerEnvoyerClick"  />
				<com:TButton CssClass="bouton-validation-long float-right" Text="Enregistrer brouillon" ToolTip="Enregistrer brouillon" OnClick="onEnregistrerBrouillonClick" />
			</div>
			<!--Fin line boutons-->
			</form>
			<div class="breaker"></div>
		</div>
		<!--Fin Bloc formulaire avec onglets-->
		<div class="breaker"></div>
	<com:TLabel ID="scriptEnregister"/>
	
	</div>
	<!--Fin colonne droite-->
</com:TContent>