<com:TContent ID="CONTENU_PAGE">	
	<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<com:PanelMessageErreur id="erreurMessage" />
		<div class="breadcrumbs"><a href="#">Accueil</a>&gt; <com:TTranslate>LISTE_VERSIONS_PLATEFORME</com:TTranslate></div>
			<com:TRepeater ID="repeaterProduits"
			   EnableViewState="false"
			   OnItemDataBound="dataBindRepeaterVersion">
						<prop:ItemTemplate>
			<!--Debut Bloc Liste des marches-->
			<div class="form-field">
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><%#(($this->Data['title'])? $this->Data['title']:'') %></span></div>
				<div class="content">
					<div class="table-bloc">
						<table class="table-results" summary="<%#(($this->Data['title'])? $this->Data['title']:'') %>">
						<caption><%#(($this->Data['title'])? $this->Data['title']:'') %></caption>
						<thead>
						<tr>
							<th class="top" colspan="3"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
						</tr>
						<tr>
							<th class="col-180" id="numVersion"><com:TTranslate>TEXT_NUMERO_VERSION_INTERMEDIAIRE</com:TTranslate></th>
							<th class="col-180" id="dateSortie"><com:TTranslate>TEXT_DATE_SORTIE_SOUS_FORME_TRIMESTRE_ANNEE</com:TTranslate></th>
							<th class="actions" id="telechargerNotePublication"><com:TTranslate>TEXT_ACTIONS</com:TTranslate></th>
						</tr>
						</thead>
						<com:TRepeater ID="repeaterVersion"
						   EnableViewState="false">
						<prop:ItemTemplate>
							<tr>
								<td class="col-180" headers="numVersion"><%#($this->Data['numeroVersion'])? $this->Data['numeroVersion']:'-' %></td>
								<td class="col-180" headers="dateSortie"><%#($this->Data['dateSortieVersion'])? $this->Data['dateSortieVersion']:'-' %></td>
								<td class="actions" headers="telechargerNotePublication">
								<a href="<%#($this->Data['url_access'])? $this->Data['url_access']:'javascript:void(0)' %>" target="_blank">
									<img title="<%=Prado::localize('TEXT_TELECHARGER_NOTE_PUBLICATION')%>" alt="<%=Prado::localize('TEXT_TELECHARGER_NOTE_PUBLICATION')%>" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif" />
								</a>
								</td>
							</tr>
						</prop:ItemTemplate>
						</com:TRepeater>
					</table>
					</div>
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</div>
						</prop:ItemTemplate>
	</com:TRepeater>
		<!--Fin Bloc Liste des marches-->
		<div class="breaker"></div>
		<a href="?page=Agent.AgentHome" class="bouton-retour" title="<%=Prado::localize('DEFINE_TEXT_RETOUR_ACCUEIL')%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></a>
	</div>
	<!--Fin colonne droite-->
</com:TContent>