<com:TContent ID="CONTENU_PAGE">
    <com:TPanel ID="rechercheAvancee" CssClass="float-left">
        <com:TActiveButton ID="buttonRefresh" Display="None" oncallBack="refreshComposants"/>
        <com:AdvancedSearch ID="AdvancedSearch" calledFrom="agent"/>
    </com:TPanel>
    <com:TPanel ID="TableauDeBord" CssClass="float-left">

        <!--Debut colonne droite-->
        <div class="main-part" id="main-part">
            <div class="breadcrumbs"><a href="#">
                <com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate>
            </a>&gt; <%= $this->ResultSearch->getVisionRma() ?
                Prado::localize('DEFINE_TABLEAU_DE_BORD_RMA'):Prado::localize('DEFINE_TABLEAU_DE_BORD');%>
            </div>
            <!--Debut message erreur-->
            <com:PanelMessageErreur ID="messageErreur"/>
            <!--Debut message de confirmation-->
            <com:PanelMessage ID="messageConfirmationEnregistrement" visible="false"/>
            <!--Fin message de confirmation-->
            <!--Debut message d'erreur-->
            <com:PanelMessageAvertissement ID="panelMessageAvertissement" Visible="false"/>
            <com:PanelMessageAvertissement ID="panelMessageAvertTraduction" Visible="false"/>
            <!--Fin message d'erreur-->
            <!-- Début Legende -->
            <div class="toggle-panel" id="legende">
                <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
                <div class="content">
                    <div class="title-toggle" onclick="togglePanel(this,'legendPanel');">
                        <com:TTranslate>LEGENDE</com:TTranslate>
                    </div>
                    <div class="panel" style="display:none;" id="legendPanel">

                        <div class="column bloc-235">
                            <h2>
                                <com:TTranslate>DEFINE_STATUS</com:TTranslate>
                                :
                            </h2>
                            <com:TPanel id="statusConsultationSurCinq">
                                <div class="consult-etape0sur5" title="<%=Prado::localize('ETAPE_ELABORATION')%>">
                        </div>
                        <div class="intitule-legende">&nbsp;:
                            <com:TTranslate>ETAPE_ELABORATION</com:TTranslate>
                        </div>
                        <div class="consult-etape1sur5" title="<%=Prado::localize('DEFINE_ATTENTE_VALIDATION')%>">
                    </div>
                    <div class="intitule-legende">&nbsp;:
                        <com:TTranslate>DEFINE_ATTENTE_VALIDATION</com:TTranslate>
                    </div>
                    <div class="consult-etape2sur5" title="<%=Prado::localize('ETAPE_CONSULTATION')%>">
                </div>
                <div class="intitule-legende">&nbsp;:
                    <com:TTranslate>ETAPE_CONSULTATION</com:TTranslate>
                </div>
                <div class="consult-etape3sur5" title="<%=Prado::localize('ETAPE_OUVERTURE_ET_ANALYSE')%>">
            </div>
            <div class="intitule-legende">&nbsp;:
                <com:TTranslate>ETAPE_OUVERTURE_ET_ANALYSE</com:TTranslate>
            </div>
            <div class="consult-etape4sur5" title="<%=Prado::localize(" ETAPE_DECISION
            ")%>">
        </div>
        <div class="intitule-legende">&nbsp;:
            <com:TTranslate>ETAPE_DECISION</com:TTranslate>
        </div>
    </com:TPanel>
    </div>
    <!-- les img ont été gardées (à la place des templates Picto) pour respecter le niveau d'accessibilité Bronze.
         si on met un input (traduction des templates Picto) à la place de la balise <img> dans la légende,
         il va l'interpréter comme un élément de formulaire input ce qui n'est pas bon pour l'accéssibilité (Source : Carine)-->
    <div class="column bloc-200">
        <com:TPanel ID="legendePanelClause" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationClause')%>">
            <h2>
                <com:TTranslate>TEXT_MENU_CLAUSES</com:TTranslate>
                :
            </h2>
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-clause-sociale.gif" alt="<%=Prado::localize(" CLAUSES_SOCIALES")%>"
            title="<%=Prado::localize("DEFINE_CLAUSES_SOCIALES_INSERTION_ART")%>" />
            <div class="intitule-legende">&nbsp;:
                <com:TTranslate>DEFINE_CLAUSES_SOCIALES_INSERTION</com:TTranslate>
            </div>
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-clause-environnementale.gif" alt="<%=Prado::localize("
                 CLAUSES_ENVIRONNEMENTALES")%>" title="<%=Prado::localize("CLAUSES_ENVIRONNEMENTALES")%>" />
            <div class="intitule-legende">&nbsp;:
                <com:TTranslate>CLAUSES_ENVIRONNEMENTALES</com:TTranslate>
            </div>
            <div class="spacer-small"></div>
        </com:TPanel>
        <com:TPanel ID="legendePanelMPS" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('MarchePublicSimplifie')%>">
            <h2>
                <%=(Application\Service\Atexo\Atexo_Module::isEnabled('MasquerElementsMps'))? Prado::localize("DEFINE_DUME") : Prado::localize("MARCHE_PUBLIC_SIMPLIFIE_MAJ") %>
                :
            </h2>
            <img title="<%=Prado::localize('DEFINE_MPS')%>" alt="" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/logo-mps-small.png"style="display:<%= (Application\Service\Atexo\Atexo_Module::isEnabled('MasquerElementsMps'))? 'none': 'block'%>"/>
            <div class="intitule-legende"style="display:<%= (Application\Service\Atexo\Atexo_Module::isEnabled('MasquerElementsMps'))? 'none': 'block'%>">&nbsp;:
                <com:TTranslate>DEFINE_MARCHE_PUBLIC_SIMPLIFIE</com:TTranslate>
            </div>
            <div class="spacer-small"></div>
        </com:TPanel>
        <com:TPanel ID="legendePanelDUME" visible="<%=Application\Service\Atexo\Atexo_Module::isEnabled('InterfaceDume')%>">
            <img title="<%=Prado::localize('DEFINE_DUME_ACHETEUR_PUBLIE')%>" alt=""
                 src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/logo-dume-publie.png"/>
            <div class="intitule-legende">&nbsp;:
                <com:TTranslate>DEFINE_DUME_ACHETEUR_PUBLIE</com:TTranslate>
            </div>
            <div class="spacer-small"></div>
            <img title="<%=Prado::localize('DEFINE_DUME_ACHETEUR_NON_PUBLIE')%>" alt=""
                 src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/logo-dume-non-publie.png"/>
            <div class="intitule-legende">&nbsp;:
                <com:TTranslate>DEFINE_DUME_ACHETEUR_NON_PUBLIE</com:TTranslate>
            </div>
            <div class="spacer-small"></div>
        </com:TPanel>
        <h2>
            <com:TTranslate>DEFINE_REGISTRES</com:TTranslate>
            :
        </h2>
        <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-retrait.gif" alt="<%=Prado::localize(" REGISTRE_DES_RETRAITS")%>"
        title="<%=Prado::localize("REGISTRE_DES_RETRAITS")%>" />
        <div class="intitule-legende">&nbsp;:
            <com:TTranslate>REGISTRE_DES_RETRAITS</com:TTranslate>
        </div>
        <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-questions.gif" alt="<%=Prado::localize(" REGISTRE_DES_QUESTIONS")%>"
        title="<%=Prado::localize("REGISTRE_DES_QUESTIONS")%>" />
        <div class="intitule-legende">&nbsp;:
            <com:TTranslate>REGISTRE_DES_QUESTIONS</com:TTranslate>
        </div>
        <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-depot.gif" alt="<%=Prado::localize(" REGISTRE_DES_DEPOTS")%>"
        title="<%=Prado::localize("REGISTRE_DES_DEPOTS")%>" />
        <div class="intitule-legende">&nbsp;:
            <com:TTranslate>REGISTRE_DES_DEPOTS</com:TTranslate>
        </div>
    </div>

    <div class="column bloc-280 bloc-actions">
        <h2>
            <com:TTranslate>DEFINE_ACTIONS</com:TTranslate>
            :
        </h2>
        <com:TPanel visible="<%=(strtolower(Application\Service\Atexo\Atexo_CurrentUser::getRole())=='agent') ? true:false%>">
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-edit.gif" alt="<%=Prado::localize(" ICONE_MODIFIER")%>"
            title="<%=Prado::localize("ICONE_MODIFIER")%>" />
            <div class="intitule-legende">&nbsp;: <%=Prado::localize("ICONE_MODIFIER")%></div>
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-MOL.gif" alt="<%=Prado::localize(" ICONE_PUB_MOL")%>"
            title="<%=Prado::localize("ICONE_PUB_MOL")%>"
            style="display:block"/>
            <div class="intitule-legende"
                 style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('PubliciteFormatXml'))? 'block':none%>">&nbsp;:
                <%=Prado::localize("ICONE_PUB_MOL")%>
            </div>
            <div class="btn-action">
                <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-demander-validation.gif" alt="<%=Prado::localize("
                     DEMANDER_LA_VALIDATION")%>" title="<%=Prado::localize("DEMANDER_LA_VALIDATION")%>"/>
            </div>
            <div class="intitule-legende">&nbsp;: <%=Prado::localize("DEMANDER_LA_VALIDATION")%></div>
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-approuver-valider.gif" alt="<%=Prado::localize(" ICONE_APPROUVER_VALIDER")%>"
            title="<%=Prado::localize("ICONE_APPROUVER_VALIDER")%>" />
            <div class="intitule-legende">&nbsp;: <%=Prado::localize("ICONE_APPROUVER_VALIDER")%></div>
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-depouiller.gif" alt="<%=Prado::localize(" ICONE_ACCES_AUX_REPONSES")%>"
            title="<%=Prado::localize("ICONE_ACCES_AUX_REPONSES")%>" />
            <div class="intitule-legende">&nbsp;: <%=Prado::localize("ICONE_ACCES_AUX_REPONSES")%></div>
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-attribuer-notifier.gif" alt="<%=Prado::localize(" ICONE_ATTRIBUER_NOTIFIER")%>"
            title="<%=Prado::localize("ICONE_ATTRIBUER_NOTIFIER")%>" />
            <div class="intitule-legende">&nbsp;: <%=Prado::localize("ICONE_ATTRIBUER_NOTIFIER")%></div>
        </com:TPanel>
        <com:TPanel visible="<%=(strtolower(Application\Service\Atexo\Atexo_CurrentUser::getRole())=='agenthelios') ? true:false%>">
            <img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-acces-consultation.gif" alt="<%=Prado::localize("
                 TEXT_CREER_TELETRANSMISSION")%>" title="<%=Prado::localize("TEXT_CREER_TELETRANSMISSION")%>" />
            <div class="intitule-legende">&nbsp;:
                <com:TTranslate>TEXT_CREER_TELETRANSMISSION</com:TTranslate>
            </div>
        </com:TPanel>
    </div>
    </div>
    <div class="breaker"></div>
    </div>
    <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
    </div>
    <!-- Fin Legende -->
    <!--Debut Bloc formulaire avec onglets-->
    <div id="tabNav">
        <!--Debut navigation onglets-->
        <div class="nav-onglet" id="form-nav">
            <!--IMPORTANT, Pour rendre un onglet inactif, utiliser class="tab-inactive" au lieu de class="tab" et supprimer la fonction onclick="showHide();"-->
            <com:TPanel ID="firstDiv" Cssclass="tab-on"><span class="border-left">&nbsp;</span>
                <com:TLinkButton Attributes.class="tab-6item" ID="firstTab" OnClick="changeActiveTabAndDataForRepeater">
                    <com:TTranslate>DEFINE_TOUS_STATUS</com:TTranslate>
                </com:TLinkButton>
                <span class="border-right">&nbsp;</span></com:TPanel>
            <com:TPanel ID="firstBisDiv" Cssclass="tab"><span class="border-left">&nbsp;</span>
                <com:TLinkButton Attributes.class="tab-6item" ID="firstBisTab"
                                 OnClick="changeActiveTabAndDataForRepeater">
                    <com:TTranslate>DEFINE_ELABORATION</com:TTranslate>
                </com:TLinkButton>
                <span class="border-right">&nbsp;</span></com:TPanel>
            <com:TPanel ID="secondDiv" Cssclass="tab"><span class="border-left">&nbsp;</span>
                <com:TLinkButton Attributes.class="tab-6item" ID="secondTab"
                                 OnClick="changeActiveTabAndDataForRepeater">
                    <com:TTranslate>DEFINE_ATTENTE_VALIDATION</com:TTranslate>
                </com:TLinkButton>
                <span class="border-right">&nbsp;</span></com:TPanel>
            <com:TPanel ID="thirdDiv" Cssclass="tab"><span class="border-left">&nbsp;</span>
                <com:TLinkButton Attributes.class="tab-6item" ID="thirdTab" OnClick="changeActiveTabAndDataForRepeater">
                    <com:TTranslate>DEFINE_TEXT_CONSULTATION</com:TTranslate>
                </com:TLinkButton>
                <span class="border-right">&nbsp;</span></com:TPanel>
            <com:TPanel ID="fourthDiv" Cssclass="tab"><span class="border-left">&nbsp;</span>
                <com:TLinkButton Attributes.class="tab-6item" ID="fourthTab"
                                 OnClick="changeActiveTabAndDataForRepeater">
                    <com:TTranslate>DEFINE_OUVERTURE_ANALYSE</com:TTranslate>
                </com:TLinkButton>
                <span class="border-right">&nbsp;</span></com:TPanel>
            <com:TPanel ID="fifthDiv" Cssclass="tab"><span class="border-left">&nbsp;</span>
                <com:TLinkButton Attributes.class="tab-6item" ID="fifthTab" OnClick="changeActiveTabAndDataForRepeater">
                    <com:TTranslate>DEFINE_DECISION</com:TTranslate>
                </com:TLinkButton>
                <span class="border-right">&nbsp;</span></com:TPanel>
        </div>

        <!--Fin navigation onglets-->
        <!--Debut Layer 1-->
        <div class="ongletLayer" id="ongletLayer1" style="display:block;">
            <div class="top"></div>
            <div class="content">

                <com:ResultSearch ID="ResultSearch" TypeConsultation="consultation"/>

                <div class="breaker"></div>
            </div>
            <div class="bottom"></div>
        </div>
        <!--Fin Layer 1-->
        <!--Fin Bloc formulaire avec onglets-->

    </div>
    <div class="breaker"></div>
    </div>
    <!--Fin colonne droite-->
    <com:TLabel ID="activateTab" Text=""/>
    <!--Debut Infos-Bulles-->
    <!--Fin Infos-Bulles-->
    </com:TPanel>
</com:TContent>