<com:TContent ID="CONTENU_PAGE">
<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TTranslate>TABLEAU_DECISION</com:TTranslate></div>
		<com:TPanel CssClass="etapes-5-process" ID="etape3">
		<com:TPanel ID="etatConsultationElaboration" ><span><com:TTranslate>DEFINE_ELABORATION</com:TTranslate></span></com:TPanel>
			<span><com:TTranslate>DEFINE_PREPARATION</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_CONSULTATION</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_OUVERTURE_ANALYSE</com:TTranslate></span>
			<span><com:TTranslate>DEFINE_DECISION</com:TTranslate></span>
		</com:TPanel>
			
			<com:ConsultationSummary  ID="ConsultationSummary"/>
            <com:ConsultationReplyTerms ID="consultationReplyTerms"/>
		
		<com:PanelMessageErreur ID="panelMessageErreur"/>

		<!-- Debut bloc : tableau de decision chorus -->
		<com:TPanel cssClass="form-field" ID="BlocTableauDecisionsChorus">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<h3><com:TTranslate>DEFINE_TABLEAU_ECHANGES_CHORUS</com:TTranslate></h3>
				<div class="table-bloc table-bloc-detail">
					<div class="toggle-details-line float-left" style="display: <%=($this->getDataSource()) ? 'block':'none'%>">
						<a class="collapse-all" href="#" onclick="J('.panel').show();"><com:TTranslate>DEFINE_TOUT_AFFICHER</com:TTranslate></a> / <a class="toggle-all" href="#" onclick="J('.panel').hide();"><com:TTranslate>DEFINE_TOUT_CACHER</com:TTranslate></a>
					</div>
					<com:TRepeater ID="tableauDecisionsChorus">
						<prop:ItemTemplate>
							<!--Debut Tableau-->
							<table summary="Sélection des attributaires" class="table-results tableau-reponse tableau-flux">
								<thead>
								<tr class="row-title">
									<th colspan="3" class="col-530"><a class="title-toggle-open" onclick="togglePanelClass(this,'panelListeFlux_contrat_<%#$this->Data->getIdContratTitulaire()%>');" href="javascript:void(0);"><com:TTranslate>TEXT_CONTRAT</com:TTranslate> <%#$this->Data->getReferenceLibre()%> | <%#$this->Data->getObjetContrat()%></a></th>
									<th class="col-160">
										<div class="attributaire">
											<a title="" data-original-title="" href="#" class="popover-detail" tabindex="0" data-toggle="popover" data-popover-content="#detail_contrat_<%#$this->Data->getIdContratTitulaire()%>_attributaire" data-placement="top">
												<%#$this->Data->getNomTitulaireContrat()%>
											</a> - <%#$this->Data->getCodePostalEtablissementContrat()%> <%#$this->Data->getVilleEtablissementContrat()%>
										</div>

										<!-- Debut pop in infos attributaire -->
										<com:PopinInfosAttributaire id="idPopinInfosAttributaire"
											Etablissement="<%#$this->Data->getTitulaireEtablissementContrat()%>"
											Contact="<%#$this->Data->getCommonTContactContrat()%>"
											Entreprise="<%#$this->Data->getTitulaireContrat()%>"
											IdOffre="<%#$this->Data->getIdOffre()%>"
											RefConsultation="<%#$this->Data->getRefConsultation()%>"
											TypeReponse="<%#$this->Data->getTypeDepotReponse()%>"
											IdDiv="detail_contrat_<%#$this->Data->getIdContratTitulaire()%>_attributaire"
											RefreshComposant="DOIT ETRE DERNIER ELEMENT POUR CHARGER LE COMPOSANT <%#$this->Data->getIdContratTitulaire()%>"
										/>
										<!-- Fin pop in infos attributaire -->

									</th>
									<th class="col-100 align-right">
										<abbr title="<%#$this->SourceTemplateControl->getTitreDateNotification($this->Data)%>"><%#$this->SourceTemplateControl->getDateNotification($this->Data)%></abbr>
										<br/>
										<a style="display: <%#($this->SourceTemplateControl->getActionAccesDetailsEchangeChorus($this->data))? 'block':'none'%>" href="<%#$this->SourceTemplateControl->getLienPageEchangesChorus($this->Data)%>"> <img src="<%#Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-details.gif" alt="<%=Prado::localize('TEXT_ACCEDER_ECHANGE_CHORUS')%>"> </a>
									</th>
								</tr>
								</thead>
								<com:TConditional condition="!$this->Page->isContratAcSad($this->Data->getIdContratTitulaire())">
									<prop:trueTemplate>
										<tbody>
										<tr class="on row-title-2 panelListeFlux_contrat_<%#$this->Data->getIdContratTitulaire()%> panel" style="display: table-row;">
											<td scope="col"><com:TTranslate>DEFINE_FLUX</com:TTranslate></td>
											<td scope="col"><com:TTranslate>TEXT_NUMERO_EJ</com:TTranslate> </td>
											<td scope="col"><com:TTranslate>TEXT_STATUT_EJ</com:TTranslate> </td>
											<td scope="col"><com:TTranslate>DEFINE_DATE_MISE_JOUR</com:TTranslate> </td>
											<td class="actions" scope="col">&nbsp;</td>
										</tr>
										<com:AtexoInformationsChorus
												ID="blocInformationsChorus"
												idContrat="<%#$this->Data->getIdContratTitulaire()%>"
												classeCssTrBody="panelListeFlux_contrat_<%#$this->Data->getIdContratTitulaire()%> panel"
												classeCssTrHead=""
												afficherFichierFso="<%=false%>"
												afficherHeader="<%=false%>"
												afficherFooter="<%=false%>"
												afficherColAction="<%=true%>"
												/>
										</tbody>
									</prop:trueTemplate>
								</com:TConditional>
							</table>
							<!--Fin Tableau -->
						</prop:ItemTemplate>
					</com:TRepeater>
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</com:TPanel>
		<!-- Fin bloc : tableau de decision chorus -->

		<div class="link-line">
			<com:THyperLink
				cssClass="bouton-retour"
				Attributes.title="<%=Prado::localize('TEXT_RETOUR')%>"
				Text="<%=Prado::localize('TEXT_RETOUR')%>"
				ID="linkRetour"
			/>
		</div>

	<div class="breaker"></div>
	</div>
	<div id="infosReponses" class="info-bulle" onmouseover="mouseOverBulle();" onmouseout="mouseOutBulle();"><div><com:TTranslate>SELECTION_ANTERIEURE</com:TTranslate></div></div>
	<com:TActiveHiddenField ID="actionToDo"/>
	<com:TActiveHiddenField ID="idEnveloppeToOpen"/>
	<com:TActiveHiddenField ID="idOffre"/>
	<com:TActiveHiddenField ID="typeEnv"/>
	<com:TActiveHiddenField ID="sousPli"/>
	<com:TActiveHiddenField ID="formatEnveloppe"/>
	<com:TActiveLabel ID="javascript"/>
</com:TContent>