<com:TContent ID="CONTENU_PAGE">
	<com:TPanel CssClass="main-part" ID="errorPart" Visible="false">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate></a>&gt; <com:TLabel id="labelConsultationError" /></div>
		<com:PanelMessageErreur ID="panelMessageErreur"/>
	</com:TPanel>
	<com:TPanel CssClass="main-part" ID="mainPart">
	<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_CONSULTATIONS</com:TTranslate></a> &gt; <com:TTranslate>DEFINE_TRADUIRE</com:TTranslate></div>
   <com:AtexoValidationSummary  ValidationGroup="validateInfosConsultation" />
   <com:ConsultationSummary id="resumeConsultation" />  
<!--Debut Bloc formulaire avec onglets-->
		<div id="tabNav" class="clear-both">
			<!--form id="creationConsultation" action=""-->
			<!--Debut navigation langue-->
			<div class="nav-onglet" id="form-nav">
				<div class="tab-on"><span class="border-left">&nbsp;</span><a href="#" class="tab-6item"><%=$this->getLangueLibelle( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['langue']))%></a><span class="border-right">&nbsp;</span></div>
			</div>
			<!--Fin navigation langue-->
			<!--Debut Layer 1-->
			<div class="ongletLayer" id="ongletLayer1" style="display:block;">
				<div class="top"></div>
				<div class="content">
					<div class="spacer-small"></div>
					<!--Debut Bloc Identification de la consultation Langue 1-->
					<div class="form-field" style="display:block;">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TImage ImageUrl=<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t() . '/images/' .$this->Page->getFlag( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['langue']))%> Attributes.alt=<%=$this->Page->getLanguageAbbreviationMaj( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['langue']))%> Attributes.title=<%=$this->Page->getLanguageAbbreviationMaj( Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['langue']))%> /> <com:TTranslate>IDENTIF_CONS</com:TTranslate></span></div>
						<div class="content">
							<div class="spacer-small"></div>
							<!--Debut Ligne Intitule de la consultation-->
							<com:TPanel id="divIntituleConsultation" cssClass="line">
								<div class="intitule-150"><com:TTranslate>DEFINE_INTITULE_CONSULTATION</com:TTranslate> :</div>
								<div class="content-bloc bloc-560"><com:TLabel id="idIntituleConsultation" /></div>
							</com:TPanel>
							<!--Fin Ligne Intitule de la consultation-->
							<!--Debut Ligne Traduction Intitule de la consultation-->
							<com:TPanel id="divIntituleConsultationTra" cssClass="line">
								<div class="intitule-150"><label for="intituleConsultation_langue"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :</div>
								<com:TTextBox id="intituleConsultation_langue" CssClass="long" Attributes.title="<%=Prado::localize('DEFINE_TRADUCTION_INTITULE_CONSULTATION')%>" />
							</com:TPanel>
							<!--Fin Ligne Traduction  Intitule de la consultation-->
							<div class="spacer"></div>
							<!--Debut Ligne Objet de la consultation-->
							<com:TPanel id="divObjConsultation" cssClass="line">
								<div class="intitule-150"><com:TTranslate>DEFINE_OBJET_CONSULTATION</com:TTranslate> 
								 :</div>
								<div class="content-bloc bloc-560"><com:TLabel id="idObjetConsultation" /> </div>
							</com:TPanel>
							<!--Fin Ligne Objet de la consultation-->
							
							<!--Debut Ligne Traduction Objet de la consultation-->
							<com:TPanel id="divObjConsultationTra" cssClass="line">
								<div class="intitule-150"><label for="objetConsultation_langue"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label>
								<com:TLabel CssClass="champ-oblig" Visible="<%=$this->_langueObligatoire%>">*</com:TLabel> :</div>
								<com:TTextBox id="objetConsultation_langue" TextMode="MultiLine"  CssClass="long" Attributes.title="<%=Prado::localize('DEFINE_TRADUCTION_OBJET_CONSULTATION')%>"></com:TTextBox>
								<com:TRequiredFieldValidator 
								    ID="controlObjet"
									ControlToValidate="objetConsultation_langue"
									ValidationGroup="validateInfosConsultation"
									Display="Dynamic"
									ErrorMessage="<%=Prado::localize('DEFINE_OBJET_CONSULTATION')%>"
									EnableClientScript="true"  						 					 
						 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
									<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
         						</com:TRequiredFieldValidator>
							</com:TPanel>
							<!--Fin Ligne Traduction Objet de la consultation-->
							<!--Debut Ligne Detail de l'annonce-->
							<com:TPanel CssClass="line" Visible="false" ID="panelTraduireAnnonce1">
								<div class="intitule-150"><com:TTranslate>DEFINE_TEXT_DETAIL_ANNONCE</com:TTranslate> :</div>
								<div class="content-bloc bloc-560">
									<com:TLiteral ID="detailAnnonce"/>
								</div>
							</com:TPanel>
							<!--Fin Ligne Detail de l'annonce-->
							<!--Debut Ligne Traduction Detail de l'annonce-->
							<com:TPanel CssClass="line" ID="panelTraduireAnnonce2" Visible="false">
								<div class="intitule-150"><label for="detailAnnonce_langue_1"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :</div>
								<com:TTextBox id="detailAnnonceTraduction" TextMode="MultiLine"  CssClass="long" Attributes.title="<%=Prado::localize('TRADUCTION_DETAIL_ANNONCE')%>" />
							</com:TPanel>
							<!--Fin Ligne Traduction Detail de l'annonce-->
							<div class="spacer"></div>
							
							<com:TLabel ID="panelAdresseRetrait" Visible="false">
									<!--Debut Ligne Adresse de retrait des dossiers-->
									<div class="line">
										<div class="intitule-bloc intitule-150"><com:TTranslate>ADRESSE_RETRAIT_DOSSIERS</com:TTranslate> :</div>
										<div class="content-bloc bloc-560">
											<com:TLiteral ID="adresseRetrait"/>
										</div>
									</div>
									<!--Fin Ligne Adresse de retrait des dossiers-->
									<!--Debut Ligne Traduction Adresse de retrait des dossiers-->
									<div class="line">
										<div class="intitule-bloc intitule-150"><label for="add_retraitDossiers_langue_1"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
										<com:TLabel CssClass="champ-oblig" Visible="<%=$this->_langueObligatoire%>">*</com:TLabel> :</div>										
										<com:TTextBox  TextMode="MultiLine" ID="traductionAdresseRetraitDossiers" CssClass="long" ToolTip="<%=Prado::localize('ADRESSE_RETRAIT_DOSSIERS')%>"/>
										<com:TRequiredFieldValidator 
											ControlToValidate="traductionAdresseRetraitDossiers"
											ValidationGroup="validateInfosConsultation"
											Display="Dynamic"
											ErrorMessage="<%=Prado::localize('ADRESSE_RETRAIT_DOSSIERS')%>"
											EnableClientScript="true"  						 					 
								 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
											<prop:ClientSide.OnValidationError>
		           				 				document.getElementById('divValidationSummary').style.display='';
		         							</prop:ClientSide.OnValidationError>
		         						</com:TRequiredFieldValidator>
									</div>
									<!--Fin Ligne Traduction Adresse de retrait des dossiers-->
							</com:TLabel> 
							<div class="spacer-small"></div>
							<!--Debut Ligne Adresse de depot des offres-->
							<com:TLabel ID="panelAdresseDepotOffre" Visible="false">
							<div class="line">

								<div class="intitule-150"><com:TTranslate>ADRESSE_DEPOT_OFFRE</com:TTranslate> :</div>
								<div class="content-bloc bloc-560"><com:TLiteral ID="adresseDepotOffre"/></div>
							</div>
							<!--Fin Ligne Adresse de depot des offres-->
							<!--Debut Ligne Traduction Adresse de depot des offres-->
							<div class="line">
								<div class="intitule-150"><label for="add_depotDossiers_langue_1"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
								<com:TLabel CssClass="champ-oblig" Visible="<%=$this->_langueObligatoire%>">*</com:TLabel> :</div>
								<com:TTextBox  TextMode="MultiLine" ID="traductionAdresseDepotOffre" CssClass="long" ToolTip="<%=Prado::localize('ADRESSE_DEPOT_OFFRE')%>"/>
								<com:TRequiredFieldValidator 
											ControlToValidate="traductionAdresseDepotOffre"
											ValidationGroup="validateInfosConsultation"
											Display="Dynamic"
											ErrorMessage="<%=Prado::localize('ADRESSE_DEPOT_OFFRE')%>"
											EnableClientScript="true"  						 					 
								 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
											<prop:ClientSide.OnValidationError>
		           				 				document.getElementById('divValidationSummary').style.display='';
		         							</prop:ClientSide.OnValidationError>
		         						</com:TRequiredFieldValidator>
							</div>
							</com:TLabel> 
							<!--Fin Ligne Traduction Adresse de depot des offres-->
							<div class="spacer-small"></div>
							<!--Debut Ligne Lieu ouverture des plis-->
							<com:TLabel ID="panelLieuOuverturePlis" Visible="false">
							<div class="line">
								<div class="intitule-bloc intitule-150"><com:TTranslate>LIEU_OUVERTURE_PLIS</com:TTranslate> :</div>
								<div class="content-bloc bloc-560"><com:TLiteral ID="lieuOuverturePlis"/></div>

							</div>
							<!--Fin Ligne Lieu ouverture des plis-->
							<!--Debut Ligne Lieu ouverture des plis-->
							<div class="line">
								<div class="intitule-150"><label for="lieu_ouverturePlis_langue_1"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
								<com:TLabel CssClass="champ-oblig" Visible="<%=$this->_langueObligatoire%>">*</com:TLabel> :</div>
								<com:TTextBox  TextMode="MultiLine" ID="traductionLieuOuverturePlis" CssClass="long" ToolTip="<%=Prado::localize('LIEU_OUVERTURE_PLIS')%>"/>
								<com:TRequiredFieldValidator 
											ControlToValidate="traductionLieuOuverturePlis"
											ValidationGroup="validateInfosConsultation"
											Display="Dynamic"
											ErrorMessage="<%=Prado::localize('LIEU_OUVERTURE_PLIS')%>"
											EnableClientScript="true"  						 					 
								 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
											<prop:ClientSide.OnValidationError>
		           				 				document.getElementById('divValidationSummary').style.display='';
		         							</prop:ClientSide.OnValidationError>
         						</com:TRequiredFieldValidator>
							</div>
							</com:TLabel>
							<!--Fin Ligne Traduction Lieu ouverture des plis-->
							<div class="spacer"></div>
							
							
							<com:TLabel ID="blocNonAlloti">
							
										<!--Debut Ligne Adresse de depot des echantillons-->
										<com:TLabel ID="panelEchantillonsDemandes" Visible="false">
										<div class="line">
											<div class="intitule-bloc intitule-150"><com:TTranslate>ECHANTILLONS_DEMANDES</com:TTranslate></div>
											<div class="content-bloc bloc-560">&nbsp;</div>
										</div>
										<div class="line">
			
											<div class="intitule-140 indent-15">- <com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate> :</div>
											<div class="calendar indent-15"><com:TLiteral ID="dateLimiteEchantillon" /> </div>
										</div>	
										<div class="line">
											<div class="intitule-140 indent-15">- <com:TTranslate>ADRESSE_DE_DEPOT</com:TTranslate> :</div>
											<div class="content-bloc bloc-560"><com:TLiteral ID="adresseDepotEchantillon"/></div>
										</div>
										<!--Fin Ligne Adresse de depot des echantillons-->
										<!--Debut Ligne Traduction Adresse de depot des echantillons-->
										<div class="line">
											<div class="intitule-140 indent-15"><label for="add_Echantillion_langue_1">- <com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
											<com:TLabel CssClass="champ-oblig" Visible="<%=$this->_langueObligatoire%>">*</com:TLabel> :</div>
											<com:TTextBox  TextMode="MultiLine" ID="traductionAdresseDepotEchantillon" CssClass="long" ToolTip="<%=Prado::localize('ADRESSE_DEPOT_ECHANTILLONS')%>"/>
											<com:TRequiredFieldValidator 
											ControlToValidate="traductionAdresseDepotEchantillon"
											ValidationGroup="validateInfosConsultation"
											Display="Dynamic"
											ErrorMessage="<%=Prado::localize('ECHANTILLONS_DEMANDES')%>"
											EnableClientScript="true"  						 					 
								 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
											<prop:ClientSide.OnValidationError>
		           				 				document.getElementById('divValidationSummary').style.display='';
		         							</prop:ClientSide.OnValidationError>
         						</com:TRequiredFieldValidator>
										</div>
										</com:TLabel>
										<!--Fin Ligne Traduction Adresse de depot des echantillons-->
			
										
										
										
										<!--Debut Ligne Adresse Reunion-->
										<com:TLabel ID="panelReunion" Visible="false">
										<div class="line">
											<div class="intitule-bloc intitule-150"><com:TTranslate>REUNION</com:TTranslate></div>
											<div class="content-bloc bloc-560">&nbsp;</div>
										</div>
										<div class="line">
											<div class="intitule-140 indent-15">- <com:TTranslate>DEFINE_DATE_HEURE</com:TTranslate> :</div>
											<div class="calendar indent-15"><com:TLiteral ID="dateReunion"/></div>
			
										</div>	
										<div class="line">
											<div class="intitule-140 indent-15">- <com:TTranslate>TEXT_ADRESSE</com:TTranslate> :</div>
											<div class="content-bloc bloc-560"><com:TLiteral ID="adresseReunion"/></div>
										</div>
										<!--Fin Ligne Adresse Reunion-->
										<!--Debut Ligne Traduction Adresse Reunion-->
										<div class="line">
			
											<div class="intitule-140 indent-15"><label for="add_Reunion_langue_1">- <com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
											<com:TLabel CssClass="champ-oblig" Visible="<%=$this->_langueObligatoire%>">*</com:TLabel> :</div>
											<com:TTextBox  TextMode="MultiLine" ID="traductionAdresseReunion" CssClass="long" ToolTip="<%=Prado::localize('ADRESSE_REUNION')%>"/>
											<com:TRequiredFieldValidator 
											ControlToValidate="traductionAdresseReunion"
											ValidationGroup="validateInfosConsultation"
											Display="Dynamic"
											ErrorMessage="<%=Prado::localize('REUNION')%>"
											EnableClientScript="true"  						 					 
								 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
											<prop:ClientSide.OnValidationError>
		           				 				document.getElementById('divValidationSummary').style.display='';
		         							</prop:ClientSide.OnValidationError>
         						</com:TRequiredFieldValidator>
										</div>
										</com:TLabel>
										<!--Fin Ligne Traduction Adresse Reunion-->
										
										<!--Debut Ligne Visites des lieux-->
										<com:TLabel ID="panelVisiteLieux" Visible="false">
											<div class="line">
												<div class="intitule-bloc intitule-150"><com:TTranslate>VISITE_DES_LIEUX</com:TTranslate></div>
				
												<div class="content-bloc bloc-560">&nbsp;</div>
											</div>
											
											<!--Debut adresse 1-->
											<com:TRepeater ID="RepeaterVisiteLieux" EnableViewState="true" >
												<prop:ItemTemplate>
													<div class="line">
														<div class="intitule-140 indent-15">- <com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate> :</div>
														<div class="calendar indent-15"><%# Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDate())%></div>
													</div>	
													<div class="line">
						
														<div class="intitule-140 indent-15">- <com:TTranslate>TEXT_ADRESSE</com:TTranslate> :</div>
														<div class="content-bloc bloc-560"><%#$this->Data->getAdresse()%></div>
													</div>
													<div class="line">
														<div class="intitule-140 indent-15"><label for="add_1_visiteLieux_langue_1">- <com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
														<com:TLabel CssClass="champ-oblig" Visible="<%=$this->Page->_langueObligatoire%>">*</com:TLabel> :</div>
														<com:TTextBox Text="<%#$this->Page->getAdresseVisiteLieux($this->Data)%>" TextMode="MultiLine" ID="traductionAdresseReunion" CssClass="long" ToolTip="<%=Prado::localize('ADRESSE_VISITE_LIEUX')%>"/>
														<com:THiddenField ID="idVisite" Value="<%#$this->Data->getId()%>"/>
														<com:TRequiredFieldValidator 
																ControlToValidate="traductionAdresseReunion"
																ValidationGroup="validateInfosConsultation"
																Display="Dynamic"
																ErrorMessage="<%=Prado::localize('VISITE_DES_LIEUX')%>"
																EnableClientScript="true"  						 					 
													 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
																<prop:ClientSide.OnValidationError>
							           				 				document.getElementById('divValidationSummary').style.display='';
							         							</prop:ClientSide.OnValidationError>
					         						</com:TRequiredFieldValidator>
													</div>
													<!--Fin adresse 1-->
													<div class="spacer-small"></div>
												</prop:ItemTemplate>
											</com:TRepeater>
										</com:TLabel>
										<!--Fin Ligne Visites des lieux-->
							</com:TLabel>
							
							<com:TPanel id="panelPiecesDossierse" cssClass="form-field" Visible="false">
							<!--Debut Traduction Ligne piece-->
							<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>PIECES_DES_DOSSIERS</com:TTranslate></span></div>
							<div class="content">
								<div class="line">
									<div class="intitule-180"><label for="piecesDossierAdmin"><com:TTranslate>PIECES_DOSSIERS_ADMINISTRATIF</com:TTranslate></label> :</div>
									<div class="content-bloc bloc-560"><com:TLabel id="idpiecesDossierAdmin" /></div>
								</div>
								<div class="line">
									<div class="intitule-150"><label for="piecesDossierAdmin_langue"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :</div>
									<com:TTextBox TextMode="MultiLine" ID="piecesDossierAdmin_langue"  Attributes.title="<%=Prado::localize('PIECES_DOSSIERS_ADMINISTRATIF')%>" cssClass="long-550 high-150" />
								</div>
								<!--Fin Traduction Ligne piece-->
								<!--Debut Traduction Ligne piece-->
								<div class="line">
									<div class="intitule-180"><label for="piecesDossierTech"><com:TTranslate>PIECES_DOSSIERS_TECHNIQUE</com:TTranslate></label> :</div>
									<div class="content-bloc bloc-560"><com:TLabel id="idpiecesDossierTech" /></div>
								</div>
								<div class="line">
									<div class="intitule-150"><label for="piecesDossierTech_langue"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :</div>
									
									<com:TTextBox TextMode="MultiLine" ID="piecesDossierTech_langue"  Attributes.title="<%=Prado::localize('PIECES_DOSSIERS_TECHNIQUE')%>" cssClass="long-550 high-150" />
								</div>
								<!--Fin Traduction Ligne piece-->
								<!--Debut Traduction Ligne piece-->
								<div class="line">
									<div class="intitule-180"><label for="piecesDossierAdditif"><com:TTranslate>PIECES_DOSSIERS_ADDITIF</com:TTranslate></label> :</div>
									<div class="content-bloc bloc-560"><com:TLabel id="idpiecesDossierAdditif" /></div>
								</div>
								<div class="line">
									<div class="intitule-150"><label for="piecesDossierAdditif_langue"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :</div>
									
									<com:TTextBox TextMode="MultiLine" ID="piecesDossierAdditif_langue"  Attributes.title="<%=Prado::localize('PIECES_DOSSIERS_ADDITIF')%>" cssClass="long-550 high-120" />
								</div>
								<div class="breaker"></div>
							</div>
							<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
							<!--Fin Traduction Ligne piece-->
							</com:TPanel>
							
							<!--Debut Bloc Details Lot-->
							<com:TPanel id="blocDetailLots" CssClass="form-field" Attributes.style="display:block;">
								<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>DEFINE_DETAIL_LOTS</com:TTranslate></span></div>
								<div class="content">
								<com:TRepeater ID="lotsRepeater" EnableViewState="true">
                                    <prop:HeaderTemplate>
                                    </prop:HeaderTemplate>
                                    <prop:ItemTemplate>
									<!--Debut Lot 1-->
									<div class="bloc-lot">
										<!--Debut Ligne N° Lot-->
										<div class="line">
											<div class="intitule-auto"><strong><com:TTranslate>DEFINE_LOT_NUMERO</com:TTranslate> <com:TLabel id="numLot" Text="<%#$this->Data->getLot()%>" /></strong></div>
										</div>
										<!--Fin Ligne N° Lot-->
										<!--Debut Ligne Intitule Lot 1-->
										<div class="line">
											<div class="intitule-140 indent-10"><com:TTranslate>DEFINE_INTITULE_LOT</com:TTranslate> :</div>
											<div class="content-bloc bloc-560"><%#$this->Data->getDescription(Application\Service\Atexo\Atexo_CurrentUser::readFromSession("lang"))%></div>
										</div>
										<!--Fin Ligne Intitule Lot 1-->
										<!--Debut Ligne Intitule Lot 1 Traduction-->
										<div class="line">
											<div class="intitule-140 indent-10"><label for="intituleConsultation_lot_1_langue_1"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> 
											<com:TLabel CssClass="champ-oblig" Visible="<%#$this->Page->_langueObligatoire%>">*</com:TLabel> :</div>
											<com:TTextBox id="intituleConsultation_lot_1_langue_1" CssClass="long" Attributes.title="<%=Prado::localize('DEFINE_TRADUCTION_INTITULE_LOT')%>" Text="<%#Application\Service\Atexo\Atexo_Traduction::getTraduction($this->Data->getIdTrDescription(),  Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['langue']))%>"/>
											<com:TRequiredFieldValidator 
												ID="validationObjLot"
												ControlToValidate="intituleConsultation_lot_1_langue_1"
												ValidationGroup="validateInfosConsultation"
												Display="Dynamic"
												Enabled="<%#$this->Page->_langueObligatoire%>"
												ErrorMessage="<%=Prado::localize('INTITULE_LOT_OBLIGATOIRE')%>"
												EnableClientScript="true"  						 					 
									 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
												<prop:ClientSide.OnValidationError>
			           				 				document.getElementById('divValidationSummary').style.display='';
			         							</prop:ClientSide.OnValidationError>
			         						</com:TRequiredFieldValidator>
										</div>
										<!--Fin Ligne Intitule Lot 1 Traduction-->
										<div class="spacer"></div>
										<!--Debut Ligne Description Lot-->
										<div class="line">
											<div class="intitule-140 indent-10"><com:TTranslate>DEFINE_DESCRIPTION</com:TTranslate> :</div>
											<div class="content-bloc bloc-560"><%#$this->Data->getDescriptionDetail(Application\Service\Atexo\Atexo_CurrentUser::readFromSession("lang"))%></div>
										</div>
										<!--Fin Ligne Description Lot Traduction-->
										<!--Debut Ligne Description Lot Traduction-->
										<div class="line">
											<div class="intitule-140 indent-10"><label for="Description_lot_1_langue_1"><com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :</div>
											<com:TTextBox id="Description_lot_1_langue_1" TextMode="MultiLine"  CssClass="long" Attributes.titles="<%=Prado::localize('DEFINE_TRADUCTION_DESCRIPTION')%>" Text="<%#Application\Service\Atexo\Atexo_Traduction::getTraduction($this->Data->getIdTrDescriptionDetail(),  Application\Service\Atexo\Atexo_Util::atexoHtmlEntities($_GET['langue']))%>"></com:TTextBox>
										</div>
										<!--Fin Ligne Description Lot Traduction-->
										<!--Debut Ligne Adresse de depot des echantillons-->
										<com:TLabel Visible="<%#Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationEchantillonsDemandes') && $this->Data->getEchantillon()%>">
											<div class="line">
												<div class="intitule-140 indent-10"><com:TTranslate>ECHANTILLONS_DEMANDES</com:TTranslate></div>
												<div class="content-bloc bloc-560">&nbsp;</div>
											</div>
											<div class="line">
												<div class="intitule-120 indent-25">- <com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate> :</div>
	
												<div class="calendar indent-15"><%# Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDateLimiteEchantillion())%>  </div>
											</div>	
											<div class="line">
												<div class="intitule-120 indent-25">- <com:TTranslate>ADRESSE_DE_DEPOT</com:TTranslate> :</div>
												<div class="content-bloc bloc-560"><%#$this->Data->getAddEchantillion()%></div>
											</div>
											<!--Fin Ligne Adresse de depot des echantillons-->
											<!--Debut Ligne Traduction Adresse de depot des echantillons-->
	
											<div class="line">
												<div class="intitule-120 indent-25"><label for="add_Echantillion_lot_1_langue_1">- <com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
												<com:TLabel CssClass="champ-oblig" Visible="<%=$this->Page->_langueObligatoire%>">*</com:TLabel> :</div>
												<com:TTextBox Text="<%#$this->Page->getAdresseEchantillon($this->Data)%>" id="traductionAdresseEchantillon" TextMode="MultiLine"  CssClass="long" Attributes.titles="<%=Prado::localize('ADRESSE_DEPOT_ECHANTILLONS')%>"></com:TTextBox>
												<com:TRequiredFieldValidator 
																ControlToValidate="traductionAdresseEchantillon"
																ValidationGroup="validateInfosConsultation"
																Display="Dynamic"
																ErrorMessage="<%=Prado::localize('ECHANTILLONS_DEMANDES')%>"
																EnableClientScript="true"  						 					 
													 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
																<prop:ClientSide.OnValidationError>
							           				 				document.getElementById('divValidationSummary').style.display='';
							         							</prop:ClientSide.OnValidationError>
					         						</com:TRequiredFieldValidator>
											</div>
										</com:TLabel>
										<!--Fin Ligne Traduction Adresse de depot des echantillons-->
										<!--Debut Ligne Adresse Reunion-->
										<com:TLabel Visible="<%#Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationReunion') && $this->Data->getReunion()%>">
											<div class="line">
	
												<div class="intitule-140 indent-10"><com:TTranslate>REUNION</com:TTranslate></div>
												<div class="content-bloc bloc-560">&nbsp;</div>
											</div>
											<div class="line">
												<div class="intitule-120 indent-25">- <com:TTranslate>DEFINE_DATE_HEURE</com:TTranslate> :</div>
												<div class="calendar indent-15"><%# Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDateReunion())%></div>
											</div>	
											<div class="line">
	
												<div class="intitule-120 indent-25">- <com:TTranslate>TEXT_ADRESSE</com:TTranslate> :</div>
												<div class="content-bloc bloc-560"><%#$this->Data->getAddReunion()%></div>
											</div>
											<!--Fin Ligne Adresse Reunion-->
											<!--Debut Ligne Traduction Adresse Reunion-->
											<div class="line">
												<div class="intitule-120 indent-25"><label for="add_Reunion_lot_1_langue_1">- <com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
												<com:TLabel CssClass="champ-oblig" Visible="<%=$this->Page->_langueObligatoire%>">*</com:TLabel> :</div>
												<com:TTextBox Text="<%#$this->Page->getAdresseReunion($this->Data)%>" id="traductionAdresseReunion" TextMode="MultiLine"  CssClass="long" Attributes.titles="<%=Prado::localize('ADRESSE_REUNION')%>"></com:TTextBox>
												<com:TRequiredFieldValidator 
																ControlToValidate="traductionAdresseReunion"
																ValidationGroup="validateInfosConsultation"
																Display="Dynamic"
																ErrorMessage="<%=Prado::localize('REUNION')%>"
																EnableClientScript="true"  						 					 
													 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
																<prop:ClientSide.OnValidationError>
							           				 				document.getElementById('divValidationSummary').style.display='';
							         							</prop:ClientSide.OnValidationError>
					         						</com:TRequiredFieldValidator>
											</div>
										</com:TLabel>
										<!--Fin Ligne Traduction Adresse Reunion-->
										
										<!--Debut Ligne Visites des lieux-->
										<com:TLabel Visible="<%#Application\Service\Atexo\Atexo_Module::isEnabled('ConsultationVisiteDesLieux')  && $this->Data->getVisitesLieux()%>">
											<div class="line">
												<div class="intitule-140 indent-10"><com:TTranslate>VISITE_DES_LIEUX</com:TTranslate></div>
												<div class="content-bloc bloc-560">&nbsp;</div>
											</div>
											
											
											<com:TRepeater ID="RepeaterVisiteLieuxLots" EnableViewState="true" DataSource="<%#$this->Data->getColVisitesLieux()%>" >
													<prop:ItemTemplate>
														<div class="line">
															<div class="intitule-140 indent-15">- <com:TTranslate>DEFINE_DATE_HEURE_LIMITE</com:TTranslate> :</div>
															<div class="calendar indent-15"><%# Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDate())%></div>
														</div>	
														<div class="line">
							
															<div class="intitule-140 indent-15">- <com:TTranslate>TEXT_ADRESSE</com:TTranslate> :</div>
															<div class="content-bloc bloc-560"><%#$this->Data->getAdresse()%></div>
														</div>
														<div class="line">
															<div class="intitule-140 indent-15"><label for="add_1_visiteLieux_langue_1">- <com:TTranslate>DEFINE_TRADUCTION</com:TTranslate></label> :
															<com:TLabel CssClass="champ-oblig" Visible="<%=$this->Page->_langueObligatoire%>">*</com:TLabel> :</div>
															<com:TTextBox Text="<%#$this->Page->getAdresseVisiteLieux($this->Data)%>"  TextMode="MultiLine" ID="traductionAdresseVisite" CssClass="long" ToolTip="<%=Prado::localize('ADRESSE_VISITE_LIEUX')%>"/>
															<com:THiddenField ID="idVisite" Value="<%#$this->Data->getId()%>"/>
															<com:TRequiredFieldValidator 
																ControlToValidate="traductionAdresseVisite"
																ValidationGroup="validateInfosConsultation"
																Display="Dynamic"
																ErrorMessage="<%=Prado::localize('VISITE_DES_LIEUX')%>"
																EnableClientScript="true"  						 					 
													 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
																<prop:ClientSide.OnValidationError>
							           				 				document.getElementById('divValidationSummary').style.display='';
							         							</prop:ClientSide.OnValidationError>
					         								</com:TRequiredFieldValidator>
														</div>
														<!--Fin adresse 1-->
														<div class="spacer-small"></div>
													</prop:ItemTemplate>
											</com:TRepeater>
										</com:TLabel>
										<div class="breaker"></div>
									</div>
									<!--Fin Lot 1-->
									<div class="separator">&nbsp;</div>
									</prop:ItemTemplate>
                                <prop:FooterTemplate>
                        		</prop:FooterTemplate>
                          	</com:TRepeater>
									<div class="spacer"></div>
								</div>
								<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
							</com:TPanel>
							<!--Fin Bloc Details Lot-->
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc Identification de la consultation Langue 2-->
					<div class="spacer-small"></div>
					<!--Debut Line Rendre visible Entreprise-->
					<div class="link-line">
						<span class="intitule-auto indent-10">
							<com:TCheckBox id="visibleEntreprise_langue_1"  CssClass="check" Attributes.title="<%=Prado::localize('DEFINE_ACCESSIBLITE_OPERATEURS')%>" />
							<label for="visibleEntreprise_langue_1"><com:TLabel id="idLabelAccessibiliteLangue" Text="<%=Prado::localize('DEFINE_ACCESSIBLITE_OPERATEURS')%>" /> </label>
						</span>
					</div>
					
					<div class="link-line">
						<span class="intitule-auto indent-10" style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('PublicationProcure'))? 'block':'none'%>">
							<com:TCheckBox id="visiblePortailEntreprise"  CssClass="check" Attributes.title="<%=Prado::localize('DEFINE_ACCESSIBLITE_PORTAIL_EUROPEEN')%>" Attributes.onClick='if(this.checked) bootbox.alert("<%=Prado::localize('ATTENTION_PORTAIL_EUROPE')%>");' />
							<label for="visibleEntreprise_langue_1"><com:TLabel id="idLabelAccessiblePortail" Text="<%=Prado::localize('DEFINE_ACCESSIBLITE_PORTAIL_EUROPEEN')%>" /> </label>
						</span>
					</div>
					<!--Fin Line Rendre visible Entreprise-->
					<div class="breaker"></div>
				</div>
				<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			</div>
			<!--Fin Layer 1-->
			<div class="link-line">
				<com:THyperLink ID="retour"  CssClass="bouton-retour" Attributes.title="<%=Prado::localize('DEFINE_RETOUR_DETAIL_CONSULTATION')%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></com:THyperLink>
				<com:TButton id="enregistrer" CssClass="bouton-validation float-right" Attributes.value="<%=Prado::localize('DEFINE_ENREGISTRER')%>" Attributes.title="<%=Prado::localize('DEFINE_ENREGISTRER')%>" onClick="save" ValidationGroup="validateInfosConsultation"/>
			</div>
			<!--/form-->
		</div>			
		<!--Fin Bloc formulaire avec onglets-->
    </com:TPanel>
</com:TContent>
