<div>
  <label>{{"clauseValeurHeritee.txt.texteFixeAvant" | translate}}</label>
  <quill-editor
    [readOnly]="disabled" [style]="{'color': defaultTextColor}"
    placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig"
    [(ngModel)]="clause.clauseValeurHeritee.textFixeAvant" (ngModelChange)="cleanTexteAvant()"></quill-editor>
  <div class="text-right">
    <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
    <fieldset class="form-group">
      <ui-switch size="small"
                 class="switch-small"
                 [(ngModel)]="sautLigne1"
                 (ngModelChange)="updateSautLigne1()"
                 [disabled]="disabled"
                 [switchColor]="sautLigne1?'green':'red'"
                 color="#dedede"
                 name="sautLigne1"
      >
      </ui-switch>
    </fieldset>
  </div>
</div>
<hr>
<div>
  <h5><label>{{"clauseValeurHeritee.txt.referenceValeurHeritee" | translate}}</label><span class="redStar">*</span></h5>
  <fieldset class="form-group">
    <ng-select
      #valeurHeritee
      (blur)="valeurHeritee.close()"
      name="valeursHeritees"
      [disabled]="disabled"
      [items]="refValeurHeritee$ | async"
      [(ngModel)]="clause.clauseValeurHeritee.idRefValeurTypeClause"
      [ngClass]="{'is-invalid':submitted && valeurHeritee.selectedItems.length==0}"
      bindLabel="label"
      bindValue="id"
      [notFoundText]="'redaction.txt.aucun' | translate"
    >
    </ng-select>
    <p *ngIf="submitted && valeurHeritee.selectedItems.length==0"
       class="block-tag text-left">
      <small class="badge badge-danger">{{"clauseTexteHeritee.txt.referenceObligatoire" | translate}}</small>
    </p>
  </fieldset>

  <div class="text-right">
    <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
    <fieldset class="form-group">
      <ui-switch size="small"
                 class="switch-small"
                 [disabled]="disabled"
                 [(ngModel)]="sautLigne2"
                 (ngModelChange)="updateSautLigne2()"
                 [switchColor]="sautLigne2?'green':'red'"
                 color="#dedede"
                 name="sautLigne2"
      >
      </ui-switch>
    </fieldset>
  </div>
</div>
<hr>
<div>
  <label>{{"clauseValeurHeritee.txt.texteFixeApres" | translate}}</label>
  <quill-editor [readOnly]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig"
                [(ngModel)]="clause.clauseValeurHeritee.textFixeApres" (ngModelChange)="cleanTexteApres()">

  </quill-editor>
</div>
