<!DOCTYPE html>
<html class="loading" lang="fr" data-textdirection="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <title>Portail des marchés publics</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
        {{ encore_entry_link_tags('error-page') }}
    </head>
    <body>
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 box-shadow-2">
            <div class="card border-grey border-lighten-3 px-2 my-0 row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>