{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% block content %}
    <h1 class="text-center text-danger mb-2 mt-5">
        <i class="far fa-fw fa-lg fa-times-circle"></i>
    </h1>
    <h3 class="text-center mt-3">Une erreur est survenue.</h3>
    <h5 class="text-center">Nous nous excusons pour la gêne occasionnée.</h5>
    <div class="row py-5">
        <div class="col-12 text-center">
            <a href="{{ path('redirect-user') }}">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}