/* CSS Document */

/**************************************GENERAL***************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: #666666;
    text-align: center;
    background-image: url(../images/body-bk.png);
    margin: 0px;
    padding: 0px;
}

div, p, ul, li, a, img, form {
    margin: 0px;
    padding: 0px;
}

sup {
    line-height: 0
}

* html div {
    height: 0.1% /*ie6 ifx*/;
}

img {
    border: 0px;
    margin-right: 3px;
}

a {
    color: #3d83c1; /*outline:none*/
}

a:hover {
    color: #3d83c1;
    text-decoration: none;
}

a.lien-ext {
    background: url(../images/picto-lien-ext.gif) no-repeat right;
    padding: 0 15px 0 0;
    white-space: nowrap;
}

a.lien-ext-indirect {
    background: url(../images/picto-lien-ext.gif) no-repeat right;
    padding: 0 15px 0 0;
}

a.lien-ext-left {
    background: url(../images/picto-lien-ext.gif) no-repeat;
    padding: 0 0px 0 18px;
}

/*:focus { -moz-outline-style: none; }*/
ul li {
    list-style-type: none;
}

input, textarea {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    left: 0px;
    margin: 0px;
}

textarea {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-vertical;
    margin: 0px;
    margin-right: 3px
}

select {
    margin-bottom: 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3px
}

* html select.float-left {
    margin-left: 3px;
    margin-bottom: 3px
}

fieldset {
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

.checked-fieldset {
    padding-left: 12px;
}

legend {
    color: #666;
    font-weight: bold;
    margin: 0;
    margin-left: 0px !important;
/ margin-left: - 8 px !important;
}

caption {
    display: none;
}

label {
    display: inline;
}

p {
    margin-bottom: 10px;
    line-height: normal;
    margin-left: 5px;
    margin-right: 5px
}

abbr {
    cursor: help;
    background: url(../images/abbr.gif) bottom repeat-x;
    border: 0 !important;
}

.italique {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.no-bg {
    background: none !important;
}

.no-border {
    border: 0 !important;
}

.line-height-normal {
    line-height: normal !important;
    padding-top: 3px;
    padding-bottom: 5px;
}

.breaker {
    clear: both;
    overflow: hidden;
    height: 0px;
    font-size: 1px
}

.spacer-mini {
    clear: both !important;
    height: 5px;
}

.spacer-small {
    clear: both !important;
    height: 10px;
}

.spacer-hight {
    clear: both !important;
    height: 40px;
}

* html .spacer-mini {
    float: none;
    overflow: hidden
}

* + html .spacer-mini {
    float: none;
    overflow: hidden
}

* html .spacer-small {
    float: none;
    overflow: hidden
}

* + html .spacer-small {
    float: none;
    overflow: hidden
}

* html .spacer-hight {
    float: none;
    overflow: hidden
}

* + html .spacer-hight {
    float: none;
    overflow: hidden
}

.spacer {
    clear: both;
    height: 20px;
}

.separator {
    clear: both;
    overflow: hidden;
    height: 1px;
    border-bottom: 1px dotted #d7d7d7;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
}

* html .margin-fix {
    margin-bottom: -10px
}

* html input.left-margin-fix {
    margin-left: -1.5pt
}

* html .margin-left-5 {
    margin-left: 5px
}

* html .margin-left-10 {
    margin-left: 10px
}

* html .text-dup-fix {
    margin-right: -1px;
}

/*fixes duplicated text bug in IE6*/
.float-left-fix {
    float: left;
    overflow: visible;
}

h1 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    line-height: 22px;
    color: #3B83C3;
    margin-bottom: 10px
}

h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    line-height: 22px;
    color: #716a6a;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    line-height: 22px;
    color: #3B83C3;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 5px
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: left;
    text-align: left;
    line-height: 22px;
    color: #3B83C3;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 0px
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: left;
    text-align: left;
    color: #666;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.clear-none {
    clear: none !important;
}

.clear-both {
    clear: both;
}

.center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
    padding-right: 5px
}

.float-right {
    float: right !important
}

.float-left {
    float: left !important
}

.float-none {
    float: none !important
}

.inline {
    display: inline
}

.float-right-10 {
    float: right;
    padding-right: 10px
}

.champ-oblig {
    color: #ff0000;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: normal
}

.asterique {
    color: #666;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: normal
}

.blue {
    color: #3B83C3
}

.red {
    color: #ff0000
}

.green {
    color: #21A121
}

.orange {
    color: orange
}

.normal {
    font-weight: normal;
}

.disabled {
    background-color: #ebebe4;
}

.disabled-txt {
    color: #aca899;
}

.text-big {
    font-size: 1.3em;
    font-weight: bold;
}

.text-small {
    font-size: 0.9em;
}

/*Pagination tableau resultats*/
.line-partitioner {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    overflow: visible;
    color: #6f6f6f;
    overflow: hidden;
}

.line-partitioner h2 {
    float: left;
    margin: 6px 10px 0 0;
}

.line-partitioner h4 {
    float: left;
    margin: 6px 10px 0 0;
}

.partitioner {
    float: right;
    width: auto;
    text-align: right;
    height: 22px;
    padding-top: 4px;
}

.partitioner .nb-total {
    float: left;
    padding-top: 4px;
    border: 0px
}

.partitioner select {
    display: block;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    width: 50px;
}

.partitioner input {
    width: 25px;
    text-align: right;
    margin-right: 2px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-top: 1px;
    margin-left: 2px;
    vertical-align: middle;
}

.partitioner .input-page {
    float: left;
    padding: 0 8px;
}

.partitioner .intitule {
    float: left;
    width: auto;
    padding-top: 4px;
}

.partitioner .intitule strong {
    font-weight: normal;
}

.partitioner .liens {
    padding-left: 15px;
    float: left;
    margin-top: -1px;
}

.partitioner .liens span {
    display: block;
    float: left;
    overflow: hidden
}

.partitioner .liens img {
    vertical-align: middle;
    margin-top: 8px
}

.partitioner .liens span img {
    vertical-align: middle;
    margin-top: 8px
}

.partitioner .liens span span {
    margin-right: 3px;
    margin-left: 3px;
    display: block;
    float: left;
    height: 18px
}

.partitioner .liens span a {
    margin-right: 3px;
    margin-left: 3px;
    display: block;
    float: left;
    overflow: hidden;
    height: 18px
}

.partitioner .liens span a img {
    margin-top: 8px
}

.partitioner a {
    margin-right: 3px;
    margin-left: 3px;
    text-decoration: none;
    display: block;
    float: left;
}

.partitioner a:hover {
    text-decoration: underline;
}

/*Rubriques formulaire*/
.form-field {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    text-align: left
}

.form-field .top {
    height: 13px;
    background: url(../images/toggle-panel-border.gif) repeat-x 0 7px;
    overflow: hidden
}

.form-field .top .left {
    display: block;
    float: left;
    background: url(../images/toggle-panel-top-left.gif) no-repeat 0 7px;
    height: 13px;
    width: 7px
}

.form-field .top .right {
    display: block;
    float: right;
    background: url(../images/toggle-panel-top-right.gif) no-repeat 0 7px;
    height: 13px;
    width: 7px;
}

.form-field .top .title {
    color: #3b83c3;
    font-weight: bold;
    position: relative;
    background-color: #fff;
    z-index: 10;
    margin-top: 0px;
    padding-right: 5px;
    left: 0px;
    padding-left: 5px;
    float: left;
    line-height: normal;
}

.form-field .top .title .check input {
    display: block;
    float: left;
    z-index: 10000;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

* html .form-field .top .title .check input {
    margin-top: -4px !important;
    margin-left: -3px;
    margin-right: 0;
}

* + html .form-field .top .title .check input {
    margin-top: -4px !important;
    margin-left: -3px;
    margin-right: 3px;
}

.form-field .top .grey {
    color: #666666;
    font-weight: bold;
}

.form-field .content {
    width: auto;
    clear: both;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    padding: 5px;
    overflow: hidden;
}

.form-field .bottom {
    height: 7px;
    background: url(../images/toggle-panel-border.gif) repeat-x 0 6px;
    clear: both;
}

.form-field .bottom .left {
    display: block;
    float: left;
    background: url(../images/toggle-panel-bottom-left.gif) no-repeat;
    height: 7px;
    width: 7px;
}

.form-field .bottom .right {
    display: block;
    float: right;
    background: url(../images/toggle-panel-bottom-right.gif) no-repeat;
    height: 7px;
    width: 7px;
}

.form-field h1 {
    font-size: 1.2em;
    margin-left: 5px;
}

.form-field input {
    margin-bottom: 5px;
    margin-right: 3px;
}

.form-field textarea {
    margin-bottom: 5px;
    height: 60px
}

.form-field .bloc-warning {
    margin-left: 0;
}

.bloc-warning {
    background: url(../images/picto-warning.gif) no-repeat 8px 8px;
}

.bloc-warning .content {
    padding-left: 34px !important;
    margin-bottom: 10px;
}

.bloc-warning .content p {
    margin-bottom: 0px;
}

.msg-important {
    float: left;
    padding: 5px;
}

.msg-important h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10px 0 !important;
    padding: 0 0 0 34px !important;
    display: block;
    text-align: left;
    line-height: normal;
    color: #f00;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    _margin-left: 30px
}

.msg-important p {
    margin: 0;
}

.msg-important ul.default-list {
    margin: 5px 5px 5px 0;
}

.msg-important ul.default-list li {
    line-height: normal;
}

/*Tableaux de resultats*/
.table-results {
    clear: both;
    border-collapse: collapse;
    border: 0px;
    color: #666666;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #edebeb;
}

.table-results thead {
    border-collapse: collapse;
    border: 0px;
    background-color: #cdcdcd;
}

.table-results th.top {
    padding: 0px;
    height: 7px;
    line-height: 0px;
    position: relative;
    border: 0;
    background-color: #cdcdcd;
    z-index: 1
}

.table-results th.top span.left {
    background: url(../images/table-results-top-left.gif) no-repeat !important;
    display: block;
    float: left;
    height: 7px;
    width: 7px;
    position: relative
}

.table-results th.top span.right {
    background: url(../images/table-results-top-right.gif) no-repeat !important;
    display: block;
    float: right;
    height: 7px;
    width: 7px;
    position: relative;
    right: 0px
}

.table-results th.top div.left {
    background: url(../images/table-results-top-left.gif) no-repeat !important;
    display: block;
    float: left;
    height: 7px;
    width: 7px;
    position: relative
}

.table-results th.top div.right {
    background: url(../images/table-results-top-right.gif) no-repeat !important;
    display: block;
    float: right;
    height: 7px;
    width: 7px;
    position: relative;
    right: 0px
}

.table-results th {
    padding-left: 3px;
    padding-right: 3px;
    color: #666666;
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 2px;
    text-align: left;
}

.table-results th a {
    color: #666666 !important;
    text-decoration: none;
    font-weight: normal;
}

.table-results th a.on {
    font-weight: bold;
}

.table-results th a img {
    vertical-align: middle;
    margin-left: 2px;
}

.table-results td {
    padding: 5px 3px;
    vertical-align: top;
}

.table-results tr.on {
    background-color: #edebeb;
}

.table-results .valeur-right {
    text-align: right;
    padding-right: 10px
}

.table-results .actions {
    width: 60px;
    text-align: center
}

.table-results .actions a {
    display: block;
    margin-bottom: 5px;
    width: auto
}

.table-results .actions a img, .table-results .actions-moyen a img {
    margin-right: 0px;
    margin-bottom: 0 \9;
}

.table-results a img {
    margin-bottom: 5px \9;
}

.table-results .actions input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.table-results .actions-moyen {
    width: 100px;
    text-align: center
}

.table-results .actions-moyen a {
    display: block;
    margin-bottom: 5px
}

.table-results .actions-moyen input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.table-results .actions-long {
    width: 190px;
    text-align: left
}

.table-results br {
    display: block;
}

.table-results .actions-inline {
    clear: both;
}

.table-results .actions-inline a {
    display: block;
    float: left;
    margin-top: 3px
}

.table-results .actions-inline input {
    display: block;
    float: left;
    margin-top: 3px
}

.table-results .actions-small {
    text-align: center;
}

.table-results td a.detail {
    display: block;
    margin-bottom: 5px;
    width: auto
}

.table-results .check-col {
    width: 25px;
    text-align: center
}

* html .table-results .check-col input {
    margin-top: -3px
}

* + html .table-results .check-col input {
    margin-top: -3px
}

.table-results .check-col-mini {
    width: 10px;
    text-align: center
}

* html .table-results .check-col-mini input {
    margin-top: -3px;
}

* + html .table-results .check-col-mini input {
    margin-top: -3px
}

.table-results .check-col-moyen {
    width: 45px;
    text-align: center
}

* html .table-results .check-col-moyen input {
    margin-top: -3px;
}

* + html .table-results .check-col-moyen input {
    margin-top: -3px
}

.table-results tr.total {
    background-color: #CDCDCD;
}

.table-results tr.total td {
    font-weight: bold
}

.tableau-choix-destinataires {
    width: 100%;
    border-collapse: collapse;
}

.tableau-choix-destinataires .check-col {
    width: 25px;
    text-align: center
}

.tableau-choix-destinataires th {
    background: #AFAEAE;
    color: #fff;
    padding: 2px;
    text-align: left;
}

.tableau-choix-destinataires td {
    width: 50%;
    padding: 2px;
}

.tableau-choix-destinataires tr.on {
    background: #F3F1F2;
}

/*taille colonne*/
.col-30 {
    width: 30px
}

.col-40 {
    width: 40px
}

.col-50 {
    width: 50px
}

.col-60 {
    width: 60px
}

.col-70 {
    width: 70px
}

.col-80 {
    width: 80px
}

.col-90 {
    width: 90px
}

.col-100 {
    width: 100px
}

.col-110 {
    width: 110px
}

.col-120 {
    width: 120px
}

.col-130 {
    width: 130px
}

.col-140 {
    width: 140px
}

.col-150 {
    width: 150px
}

.col-160 {
    width: 160px
}

.col-170 {
    width: 170px
}

.col-180 {
    width: 180px
}

.col-200 {
    width: 200px
}

.col-220 {
    width: 220px
}

.col-250 {
    width: 250px
}

.col-260 {
    width: 260px
}

.col-280 {
    width: 280px
}

.col-300 {
    width: 300px
}

.col-320 {
    width: 320px
}

.col-325 {
    width: 325px
}

.col-350 {
    width: 350px
}

.col-360 {
    width: 360px
}

.col-380 {
    width: 380px
}


.col-400 {
    width: 400px
}

.col-450 {
    width: 450px
}

.col-460 {
    width: 460px
}

.col-470 {
    width: 470px
}

.col-480 {
    width: 480px
}

.col-500 {
    width: 500px
}

.col-550 {
    width: 550px
}

.col-530 {
    width: 530px
}

.col-535 {
    width: 535px
}

.col-630 {
    width: 630px
}

.col-690 {
    width: 690px
}

.col-700 {
    width: 700px
}

.col-auto {
    width: auto !important;
}

/*Element de formulaire generaux*/
.line {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    clear: both;
    line-height: 22px;
    text-align: left;
}

.line-50pourcent {
    width: 49%;
    float: left;
    line-height: 22px;
    margin-right: 0px;
    padding-left: 5px;
}

.intitule-auto {
    display: block;
    float: left;
    width: auto;
    padding-right: 5px;
}

.intitule-bloc {
    display: block;
    float: left;
    padding-right: 5px;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 5px
}

.intitule-40 {
    display: block;
    float: left;
    width: 40px;
    padding-right: 5px;
}

.intitule-60 {
    display: block;
    float: left;
    width: 60px;
    padding-right: 5px;
}

.intitule-70 {
    display: block;
    float: left;
    width: 70px;
    padding-right: 5px;
    background: pink;
}

.intitule-80 {
    display: block;
    float: left;
    width: 80px;
    padding-right: 5px;
}

.intitule-90 {
    display: block;
    float: left;
    width: 90px;
    padding-right: 5px;
}

.intitule-100 {
    display: block;
    float: left;
    width: 100px;
    padding-right: 5px;
}

.intitule-110 {
    display: block;
    float: left;
    width: 110px;
    padding-right: 5px;
}

.intitule-115 {
    display: block;
    float: left;
    width: 115px;
    padding-right: 5px;
}

.intitule-120 {
    display: block;
    float: left;
    width: 120px;
    padding-right: 5px;
}

.intitule-130 {
    display: block;
    float: left;
    width: 130px;
    padding-right: 5px;
}

.intitule-140 {
    display: block;
    float: left;
    width: 135px;
    padding-right: 5px;
}

.intitule-150 {
    display: block;
    float: left;
    width: 150px;
    padding-right: 5px;
}

.intitule-160 {
    display: block;
    float: left;
    width: 160px;
    padding-right: 5px;
}

.intitule-165 {
    display: block;
    float: left;
    width: 165px;
    padding-right: 5px;
}

.intitule-180 {
    display: block;
    float: left;
    width: 180px;
    padding-right: 5px;
}

.intitule-200 {
    display: block;
    float: left;
    width: 200px;
    padding-right: 5px;
}

.intitule-220 {
    display: block;
    float: left;
    width: 220px;
    padding-right: 5px;
}

.intitule-240 {
    display: block;
    float: left;
    width: 240px;
    padding-right: 5px;
}

.intitule-250 {
    display: block;
    float: left;
    width: 250px;
    padding-right: 5px;
}

.intitule-280 {
    display: block;
    float: left;
    width: 285px;
    padding-right: 5px;
}

.intitule-300 {
    display: block;
    float: left;
    width: 300px;
    padding-right: 5px;
}

.intitule-315 {
    display: block;
    float: left;
    width: 315px;
    padding-right: 5px;
}

.intitule-select {
    display: block;
    float: left;
    width: auto;
    padding-right: 5px;
    line-height: 16px;
    padding-bottom: 5px
}

.column {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    line-height: 22px;
    margin-right: 5px
}

.column-auto {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    line-height: 22px;
}

.content-bloc {
    float: left;
    width: auto;
    margin-bottom: 3px;
    line-height: normal;
    padding-top: 4px;
}

.content-bloc .line {
    margin-top: -4px
}

* + html .content-bloc {
    padding-top: 5px;
}

* html .content-bloc {
    margin-left: 2pt !important
}

* html .content-bloc .line {
    margin-left: -2pt !important;
}

* html .content-bloc textarea {
    margin-left: -3px
}

* html .content-bloc input {
    margin-left: -2pt
}

* html .content-bloc select {
    margin-left: -2pt
}

* html .content-bloc input.montant {
    margin-left: 2pt
}

* html select.float-left {
    margin-left: 0px !important
}

* html input.float-left {
    margin-left: 0px !important
}

.content-bloc .check {
    margin-top: 4px
}

* html .content-bloc .check {
    margin-top: 0px
}

* + html .content-bloc .check {
    margin-top: auto
}

* html .content-bloc-auto {
    float: left;
    padding-left: 3px;
    width: auto;
    margin-bottom: 3px;
    line-height: normal;
    padding-top: 4px;
}

.bloc-150 {
    width: 150px;
}

.bloc-180 {
    width: 180px;
}

.bloc-155 {
    width: 155px;
}

.bloc-190 {
    width: 190px;
}

.bloc-200 {
    width: 200px;
}

.bloc-225 {
    width: 225px;
}

.bloc-235 {
    width: 235px;
}

.bloc-240 {
    width: 240px;
}

.bloc-250 {
    width: 250px;
}

.bloc-280 {
    width: 280px;
}

.bloc-300 {
    width: 300px;
}

.bloc-320 {
    width: 320px;
}

.bloc-350 {
    width: 350px;
}

.bloc-355 {
    width: 355px;
}

.bloc-360 {
    width: 360px;
}

.bloc-370 {
    width: 370px;
}

.bloc-380 {
    width: 380px;
}

.bloc-400 {
    width: 400px;
}

.bloc-450 {
    width: 450px;
}

.bloc-460 {
    width: 460px;
}

.bloc-500 {
    width: 480px;
}

.bloc-505 {
    width: 505px;
}

.bloc-520 {
    width: 520px;
}

.bloc-550 {
    width: 550px;
}

.bloc-560 {
    width: 560px;
}

.bloc-570 {
    width: 573px;
}

.bloc-580 {
    width: 580px;
}

.bloc-585 {
    width: 585px;
}

.bloc-590 {
    width: 590px;
}

.bloc-595 {
    width: 595px;
}

.bloc-600 {
    width: 600px;
}

.bloc-605 {
    width: 605px;
}

.bloc-610 {
    width: 610px;
}

.bloc-630 {
    width: 630px;
}

.bloc-660 {
    width: 660px;
}

.bloc-700 {
    width: 700px;
}

.bloc-740 {
    width: 740px;
}

.bloc-760 {
    width: 760px;
}

.bloc-775 {
    width: 775px;
}

.bloc-630-long {
    width: 630px;
    padding-bottom: 300px;
}

.pj .content {
    border: 0;
    clear: none;
}

a.retour-top {
    margin-left: 5px !important;
    background: url(../images/small-arrow-top.png) no-repeat 0 4px;
    padding-left: 10px;
    float: right;
    color: #A29E9E;
    font-weight: bold;
    text-decoration: none;
}

a:hover.retour-top {
    text-decoration: underline;
}

#site-map h2 {
    font-size: 1.1em;
    margin-top: 10px;
    display: block;
}

.bloc-50pourcent {
    width: 49%;
    float: left;
    line-height: 22px;
    margin-right: 0px;
}

.bloc-1-colum {
    width: 98.6%;
    float: left;
    margin-right: 0px;
    clear: none;
    margin-bottom: 5px;
}

.bloc-2-colums {
    width: 49%;
    float: left;
    margin-right: 0px;
    clear: none;
}

.border-bloc {
    border: 1px solid #7f9db9;
    padding: 1px
}

.border-bloc-logo {
    border: 1px solid #7f9db9;
    padding: 10px
}

.picto-link {
    margin-top: 5px;
    margin-bottom: 10px;
    clear: left;
}

.picto-link img {
    vertical-align: top;
    margin-right: 3px
}

.picto-link input {
    vertical-align: top;
    margin-right: 3px
}

.inactive-text {
    color: #9ac5dc;
}

.inactive-text input {
    cursor: default;
}

.link-line {
    float: left;
    clear: none;
    margin-bottom: 5px;
    vertical-align: bottom;
    width: 100%
}

.link-line a {
    vertical-align: top;
    display: block;
    float: left;
    margin-top: 2px
}

.file-link {
    float: right;
    clear: none;
}

.file-link img {
    display: block;
    float: left;
}

.file-link input {
    display: block;
    float: left;
    -margin-right: 2px;
}

.inline-file-link {
    margin-left: 5px;
}

.inline-file-link img {
    margin: 0px;
    vertical-align: middle
}

.inline-file-link input {
    margin: 0px;
    vertical-align: middle;
    -margin-right: 0px;
}

.download-link {
    float: left;
    clear: none;
}

.download-link img {
    display: block;
    float: left;
}

.download-link input {
    display: block;
    float: left;
    -margin-right: 0px;
}

a.ajout-el {
    display: inline;
    background: url(../images/picto-ajout-element.gif) no-repeat;
    padding-left: 25px;
    color: #3b83c3;
    text-align: left;
    height: 23px;
    text-decoration: none;
    font-weight: bold
}

a:hover.ajout-el {
    text-decoration: underline;
    cursor: pointer;
}

a.suppr-el {
    display: inline;
    background: url(../images/picto-supprimer.gif) no-repeat;
    padding-left: 25px;
    color: #3b83c3;
    text-align: left;
    height: 23px;
    text-decoration: none;
    line-height: normal;
    font-weight: bold
}

a:hover.suppr-el {
    text-decoration: underline;
    cursor: pointer;
}

a.ajout-file {
    display: block;
    float: left;
    margin-top: 3px;
}

a.gerer-el {
    display: inline;
    background: url(../images/picto-gerer.gif) no-repeat;
    padding-left: 35px;
    color: #3b83c3;
    text-align: left;
    height: 23px;
    text-decoration: none;
    font-weight: bold
}

a:hover.gerer-el {
    text-decoration: underline;
    cursor: pointer;
}

/*Tailles champs*/
input.radio {
    margin-right: 5px;
    vertical-align: middle;
    margin-left: -3px \9;
}

* html input.radio {
    margin: 0px;
    margin-left: -4px;
    vertical-align: baseline;
}

* + html input.radio {
    margin: 0px;
    margin-left: -5px;
    vertical-align: baseline;
}

input.check {
    margin-right: 5px;
    vertical-align: middle;
    margin-left: -3px \9;
}

* html input.check {
    margin: 0px;
    margin-left: -4px;
    vertical-align: middle;
    margin-bottom: 2px
}

* + html input.check {
    margin: 0px;
    margin-left: -5px;
    vertical-align: middle;
    margin-bottom: 2px
}

span.radio input {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    vertical-align: top;
    margin-top: 2px;;
    margin-left: -3px \9;
}

* html span.radio input {
    margin: 0px;
    margin-left: -4px;
    vertical-align: baseline;
}

* + html span.radio input {
    margin: 0px;
    margin-left: -5px;
    vertical-align: baseline;
}

span.check input {
    margin-right: 5px;
    vertical-align: middle;
    margin-left: -3px \9;
}

* html span.check input {
    margin: 0px;
    margin-left: -4px;
    vertical-align: middle;
    margin-bottom: 2px
}

* + html span.check input {
    margin: 0px;
    margin-left: -5px;
    vertical-align: middle;
    margin-bottom: 2px
}


.radio-bloc {
    display: block;
    float: left;
    margin-top: 2px;
    padding-bottom: 2px;
}

.radio-bloc input {
    margin-right: 5px
}

* + html span.radio-bloc {
    padding-bottom: 0px;
    margin-top: 0px;
}

* + html span.radio-bloc input {
    margin-left: -3px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 0px
}

* html span.radio-bloc {
    margin-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

* html span.radio-bloc input {
    margin-top: -4px;
    margin-right: 0px
}

.check-bloc {
    display: block;
    float: left;
    padding-bottom: 2px;
    margin-top: 3px;
}

.check-bloc input {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
}

.check-bloc img {
    margin-right: 3px !important;
}

* + html span.check-bloc {
    padding-bottom: 0px;
    margin-top: 0px;
}

* + html span.check-bloc input {
    margin-left: -3px;
    vertical-align: middle;
    margin-right: 0px;
}

* + html span.check-bloc img {
    margin-top: 5px !important;
}

* html span.check-bloc {
    margin-left: 0px;
    padding-bottom: 2px;
    margin-top: 5px;
}

* html span.check-bloc input {
    margin-top: -4px;
    margin-right: 0px;
}

* html span.check-bloc img {
    margin-right: 0px !important;
}

.radio-col {
    float: left;
}

.radio-col input {
    height: 13px;
    width: 16px;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
}

ul.indent-ss-cat {
    overflow: hidden;
    margin-left: 15px !important;
}

ul.qualification-liste img {
    margin-right: 3px !important;
}

ul.noeud-bloc {
    float: left;
    width: auto;
    margin-bottom: 3px;
    line-height: normal;
    padding-top: 0px;
}


input.default {
    width: 150px
}

input.input-20 {
    width: 20px;
    margin-left: 2px !important
}

input.input-30 {
    width: 30px;
}

input.input-50 {
    width: 50px;
}

input.input-70 {
    width: 70px
}

input.input-90 {
    width: 90px
}

input.input-100 {
    width: 100px
}

input.input-40 {
    width: 40px
}

input.input-150 {
    width: 150px
}

input.input-160 {
    width: 160px
}

input.input-185 {
    width: 185px
}

input.input-200 {
    width: 200px
}

input.input-250 {
    width: 250px
}

input.input-350 {
    width: 350px
}

input.input-400 {
    width: 400px
}

input.input-500 {
    width: 500px
}

input.small {
    width: 250px
}

input.moyen {
    width: 340px
}

input.long {
    width: 570px
}

input.long-550 {
    width: 550px
}

input.long-580 {
    width: 580px
}

input.long-630 {
    width: 630px;
}

input.long-700 {
    width: 705px;
}

input.cp {
    width: 50px
}

input.cp-long {
    width: 90px
}

input.montant {
    width: 90px;
    text-align: right
}

input.quantite {
    width: 60px;
    text-align: right
}

input.siren {
    width: 110px
}

input.siret {
    width: 65px
}

* html input.siret {
    width: 63px
}

* + html input.siret {
    width: 63px
}

.file-405 {
    width: 405px;
}

.file-525 {
    width: 525px;
}

.file-540 {
    width: 535px;
}

.file-550 {
    width: 550px;
}

.file-580 {
    width: 585px;
}

.file-630 {
    width: 635px;
}


* html .file-upload {
    margin-left: 3px;
}

select.default {
    width: 155px;
}

select.small {
    width: 254px
}

* html select.small {
    width: 256px
}

* + html select.small {
    width: 256px
}

select.small-150 {
    width: 154px;
}

* html select.small-150 {
    width: 156px
}

* + html select.small-150 {
    width: 156px
}

select.select-70 {
    width: 76px;
    max-width: 74px
}

select.select-90 {
    width: 96px;
    max-width: 94px
}

select.select-100 {
    width: 106px;
}

select.select-160 {
    width: 166px;
}

select.select-185 {
    width: 191px;
    max-width: 189px
}

select.select-200 {
    width: 206px !important;
}

select.select-250 {
    width: 256px
}

select.select-320 {
    width: 326px
}

select.select-350 {
    width: 356px
}

select.select-440 {
    width: 444px;
}

select.select-500 {
    width: 506px;
}

select.select-550 {
    width: 556px;
    max-width: 554px
}

select.select-490 {
    width: 490px !important;
}

textarea.select-490 {
    width: 484px !important;
}

* html select.select-320 {
    width: 326px
}

* + html select.select-320 {
    width: 326px
}

select.moyen {
    width: 344px
}

* html select.moyen {
    width: 346px
}

* + html select.moyen {
    width: 346px
}

select.long {
    width: 576px
}

select.long-550 {
    width: 550px;
}

select.long-580 {
    width: 580px;
}

select.long-590 {
    width: 590px;
}

* html select.long {
    width: 576px
}

* + html select.long {
    width: 576px
}

select.liste-entites {
    width: 500px
}

select.candidatures-actions {
    width: 145px;
/ width: 148 px
}

select.liste-admins {
    display: block;
    float: left;
    margin: 0px;
    margin-top: -2px;
    margin-right: 3px;
}

textarea.small-150 {
    width: 150px;
}

textarea.small-160 {
    width: 160px;
}

textarea.moyen {
    width: 340px;
}

textarea.moyen-350 {
    width: 350px;
}

textarea.moyen-440 {
    width: 440px;
}

textarea.long {
    width: 570px;
}

textarea.long-550 {
    width: 548px;
}

textarea.long-580 {
    width: 580px;
}

textarea.long-570 {
    width: 567px;
}

textarea.long-630 {
    width: 630px;
}

textarea.long-650 {
    width: 650px;
}

textarea.long-660 {
    width: 660px;
}

textarea.long-750 {
    width: 750px;
}

textarea.high-60 {
    height: 60px;
}

textarea.high-120 {
    height: 120px;
}

textarea.high-150 {
    height: 150px;
}

textarea.high-360 {
    height: 360px;
}

iframe.small-150 {
    width: 150px;
}

iframe.small-160 {
    width: 160px;
}

iframe.moyen {
    width: 340px;
}

iframe.moyen-350 {
    width: 350px;
}

iframe.moyen-440 {
    width: 440px;
}

iframe.long {
    width: 570px;
}

iframe.long-550 {
    width: 548px;
}

iframe.long-580 {
    width: 580px;
}

iframe.long-570 {
    width: 567px;
}

iframe.long-630 {
    width: 630px;
}

iframe.long-650 {
    width: 650px;
}

iframe.long-660 {
    width: 660px;
}

iframe.long-750 {
    width: 750px;
}

iframe.high-60 {
    height: 60px;
}

iframe.high-120 {
    height: 120px;
}

iframe.high-150 {
    height: 150px;
}

iframe.high-360 {
    height: 360px;
}

iframe.lightborder {
    border: 1px gray solid;
}


.radio-choice {
    padding-right: 45px;
}

/*Boutons*/
a.bouton-small {
    display: inline;
    float: left;
    background: url(../images/bouton-small.png) no-repeat;
    height: 17px;
    width: 61px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px
}

* html a.bouton-small {
    margin-left: 3px;
    background: url(../images/bouton-small.gif) no-repeat;
}

a.bouton-small-inactif {
    display: inline;
    float: left;
    background: url(../images/bouton-small-inactif.gif) no-repeat;
    height: 17px;
    width: 61px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    cursor: default
}

* html a.bouton-small-inactif {
    margin-left: 3px;
}

a.bouton-moyen-edit {
    display: inline;
    float: left;
    background: url(../images/bouton-moyen-editer.png) no-repeat;
    height: 17px;
    width: 110px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 5px
}

a.bouton-moyen {
    display: inline;
    float: left;
    background: url(../images/bouton-moyen.png) no-repeat;
    height: 17px;
    width: 90px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px
}

a.bouton-moyen-120 {
    display: inline;
    float: left;
    background: url(../images/bouton-moyen-120.png) no-repeat;
    height: 17px;
    width: 120px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px
}

a.bouton-details-edit {
    display: inline;
    float: left;
    background: url(../images/bouton-details-edit.png) no-repeat;
    height: 17px;
    width: 85px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 25px;
}

a.bouton-edit {
    display: inline;
    float: left;
    background: url(../images/bouton-small-editer-80.gif) no-repeat;
    height: 17px;
    width: 58px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 22px;
}

a.bouton-suivant {
    display: inline;
    background: url(../images/arrow-suivant-gris.png) no-repeat right;
    color: #a29e9e;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-right: 12px;
    float: right;
}

a:hover.bouton-suivant {
    background: url(../images/arrow-suivant-bleu.png) no-repeat right;
    color: #3b83c3;
}

a.bouton-retour {
    display: inline;
    background: url(../images/arrow-retour-gris.png) no-repeat left;
    color: #a29e9e;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 12px;
    float: left;
}

a:hover.bouton-retour {
    background: url(../images/arrow-retour-bleu.png) no-repeat left;
    color: #3b83c3;
}

a.bouton-retour-top {
    display: inline;
    background: url(../images/arrow-retour-top-gris.png) no-repeat left;
    color: #a29e9e;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 12px;
    float: right;
}

a:hover.bouton-retour-top {
    background: url(../images/arrow-retour-top-bleu.png) no-repeat left;
    color: #3b83c3;
}

.boutons-line {
    clear: both;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
    padding: 0px
}

input.bouton-small {
    display: block;
    background: url(../images/bouton-small.gif) no-repeat bottom;
    border: 0;
    width: 61px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

input.bouton-moyen {
    display: block;
    background: url(../images/bouton-moyen.png) no-repeat bottom;
    border: 0;
    width: 90px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

input.bouton-validation {
    display: block;
    background: url(../images/bouton-validation.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em
}

input.bouton-enregistrer {
    display: block;
    background: url(../images/bouton-validation.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px
}

input.bouton-ajouter-panier {
    display: block;
    background: url(../images/bouton-ajouter-panier.gif) no-repeat;
    border: 0;
    width: 140px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    padding-left: 23px;
    margin-bottom: 5px;
}

input.bouton-validation-long {
    display: block;
    background: url(../images/bouton-validation-long.gif) no-repeat;
    border: 0;
    width: 160px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em
}

input.bouton-annulation {
    display: block;
    background: url(../images/bouton-annuler.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em
}

input.bouton-moyen-120 {
    display: block;
    background: url(../images/bouton-moyen-120.png) no-repeat bottom;
    border: 0;
    width: 120px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

button.bouton-moyen-120 {
    display: block;
    background: url(../images/bouton-moyen-120.png) no-repeat bottom;
    border: 0;
    width: 120px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

input.bouton-moyen-140 {
    display: block;
    background: url(../images/bouton-moyen-140.png) no-repeat bottom;
    border: 0;
    width: 140px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

input.bouton-long-190 {
    display: block;
    background: url(../images/bouton-long-190.png) no-repeat bottom;
    border: 0 !important;
    width: 190px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

input.bouton-arrow-long-190 {
    display: block;
    background: url(../images/bouton-arrow-long-190.png) no-repeat bottom;
    border: 0 !important;
    width: 190px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

a.bouton-arrow-100 {
    display: inline;
    float: left;
    background: url(../images/bouton-arrow-100.png) no-repeat;
    height: 17px;
    width: 95px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 5px;
}

a.bouton-annulation {
    display: block;
    outline-style: none;
    text-decoration: none;
    background: url(../images/bouton-annuler.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    line-height: 18px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em
}

button.bouton-annulation {
    display: block;
    outline-style: none;
    text-decoration: none;
    background: url(../images/bouton-annuler.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    line-height: 18px;
    color: #3b83c3;
    cursor: pointer;
    font-size: 1em;
}


a.bouton-arrow-long-120 {
    display: inline;
    float: left;
    background: url(../images/bouton-arrow-long-120.png) no-repeat;
    height: 17px;
    width: 120px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 20px;
}

a.bouton-arrow-long-160 {
    display: inline;
    float: left;
    background: url(../images/bouton-arrow-long-160.png) no-repeat;
    height: 17px;
    width: 150px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 10px;
}

a.bouton-test-config-160 {
    display: inline;
    float: left;
    background: url(../images/bouton-test-config.png) no-repeat;
    height: 17px;
    width: 140px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 30px;
}

a.bouton-arrow-long-220 {
    display: inline;
    float: left;
    background: url(../images/bouton-arrow-long-220.png) no-repeat;
    height: 17px;
    width: 210px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 10px;
}

a.bouton-question-long-160 {
    display: inline;
    float: left;
    background: url(../images/bouton-question-160.png) no-repeat;
    height: 17px;
    width: 138px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 23px;
}

a.bouton-repondre-long-160 {
    display: inline;
    float: left;
    background: url(../images/bouton-repondre-long-160.png) no-repeat;
    height: 17px;
    width: 145px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 15px;
}

a.bouton-details-190 {
    display: inline;
    float: left;
    background: url(../images/bouton-details-190.png) no-repeat;
    height: 17px;
    width: 165px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 25px;
}

a.bouton-repondre-long-190 {
    display: inline;
    float: left;
    background: url(../images/bouton-arrow-long-160.png) no-repeat;
    height: 17px;
    width: 145px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 15px;
}

input.bouton-valider-200 {
    display: block;
    background: url(../images/bouton-valider-200.png) no-repeat bottom;
    border: 0;
    width: 200px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    min-height: 18px;
}

input.bouton-devalider-220 {
    display: block;
    background: url(../images/bouton-devalider-220.png) no-repeat bottom;
    border: 0;
    width: 220px;
    height: 17px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    min-height: 18px;
}

a.bouton-suspendre {
    display: block;
    clear: none;
    float: right;
    background: url(../images/bouton-suspendre.png) no-repeat;
    height: 17px;
    width: 130px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-right: 10px;
}

a.bouton-reprendre {
    display: block;
    clear: none;
    float: right;
    background: url(../images/bouton-reprendre.png) no-repeat;
    height: 17px;
    width: 130px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-right: 10px;
}

a.bouton-validation {
    display: block;
    background: url(../images/bouton-validation.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

button.bouton-validation {
    display: block;
    background: url(../images/bouton-validation.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

a.bouton-validation-moyen {
    display: block;
    background: url(../images/bouton-validation-moyen.gif) no-repeat;
    border: 0;
    width: 130px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

a.bouton-validation-long {
    display: block;
    background: url(../images/bouton-validation-long.gif) no-repeat;
    border: 0;
    width: 140px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
    text-decoration: none;
    line-height: 20px;
    padding-right: 20px;
}

a.bouton-validation-190 {
    display: block;
    background: url(../images/bouton-validation-190.gif) no-repeat;
    border: 0;
    width: 170px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
    text-decoration: none;
    line-height: 20px;
    padding-right: 20px;
}

a.bouton-validation-200 {
    display: block;
    background: url(../images/bouton-validation-200.gif) no-repeat;
    border: 0;
    width: 200px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

a.bouton-validation-250 {
    display: block;
    background: url(../images/bouton-validation-250.gif) no-repeat;
    border: 0;
    width: 250px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

a.bouton-enregistrer {
    display: block;
    background: url(../images/bouton-validation.gif) no-repeat;
    border: 0;
    width: 102px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

a.bouton-telecharger-long {
    display: inline;
    float: left;
    background: url(../images/bouton-telecharger-long.png) no-repeat;
    height: 17px;
    width: 175px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 25px
}

a.bouton-telecharger-long230 {
    display: inline;
    float: left;
    background: url(../images/bouton-telecharger-long230.png) no-repeat;
    height: 17px;
    width: 205px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 25px
}

a.bouton-telecharger-long330 {
    display: inline;
    float: left;
    background: url(../images/bouton-telecharger-long330.png) no-repeat;
    height: 17px;
    width: 305px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 25px
}

a.bouton-archivage {
    display: inline;
    float: right;
    background: url(../images/bouton-archivage-long200.png) blue no-repeat;
    height: 17px;
    width: 170px;
    color: #fff !important;
    text-align: left;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
    padding-left: 30px
}

input.bouton-imprimer {
    display: block;
    background: url(../images/bouton-imprimer.gif) no-repeat;
    border: 0;
    width: 161px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 20px;
}

button.bouton-imprimer {
    display: block;
    background: url(../images/bouton-imprimer.gif) no-repeat;
    border: 0;
    width: 161px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-size: 1em;
    padding-left: 20px;
}

input.bouton-imprimer-small {
    display: block;
    background: url(../images/bouton-imprimer-small.gif) no-repeat;
    border: 0;
    width: 110px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-size: 1em;
    text-align: center
}

input.bouton-repondre-message {
    display: block;
    background: url(../images/bouton-repondre-message.gif) no-repeat;
    border: 0;
    width: 165px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 20px;
}

button.bouton-repondre-message {
    display: block;
    background: url(../images/bouton-repondre-message.gif) no-repeat;
    border: 0;
    width: 165px;
    height: 20px;
    color: #3b83c3;
    cursor: pointer;
    font-size: 1em;
    padding-left: 20px;
}

a.bouton-acceder-120 {
    display: block;
    float: right;
    background: url(../images/bouton-acceder-120.png) no-repeat;
    height: 17px;
    width: 120px;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 5px;
}

/*Message d'erreur*/
.form-bloc-erreur {
    width: auto;
    clear: both;
    margin-bottom: 15px;
    background-color: #fff !important;
    overflow: visible;
}

.form-bloc-erreur .top {
    height: 10px;
    overflow: hidden;
    background: url(../images/erreur-box-top-bk.png) repeat-x
}

.form-bloc-erreur .top .left {
    display: block;
    float: left;
    background: url(../images/erreur-box-top-left.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-erreur .top .right {
    display: block;
    float: right;
    background: url(../images/erreur-box-top-right.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-erreur .bottom {
    height: 10px;
    overflow: hidden;
    clear: both;
    background: url(../images/erreur-box-bottom-bk.png) repeat-x
}

.form-bloc-erreur .bottom .left {
    display: block;
    float: left;
    background: url(../images/erreur-box-bottom-left.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-erreur .bottom .right {
    display: block;
    float: right;
    background: url(../images/erreur-box-bottom-right.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-erreur .content {
    background-image: none !important;
    overflow: hidden;
    overflow: hidden;
    text-align: left;
    border-left: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
    padding: 0 10px;
}

.form-bloc-erreur .content .erreur {
    color: #FF0000;
    text-align: center
}

.form-bloc-erreur .content .message {
    color: #ff0000;
    text-align: left;
    margin-bottom: 5px;
    padding-top: 3px;
    float: left
}

.form-bloc-erreur .content ul {
    color: #ff0000;
    text-align: left
}

.form-bloc-erreur .content ul li {
    list-style-type: disc !important;
    list-style-position: inside;
    padding-left: 0px
}

.form-bloc-erreur .content a {
    color: #FF0000;
}

img.picto-erreur {
    display: inline;
    vertical-align: middle;
    margin-bottom: 2px;
    display: block;
    float: left
}

.form-field .form-bloc-erreur {
    margin-left: 5px;
    margin-right: 5px;
}

.form-bloc-erreur .message-erreur {
    color: #ff0000;
    background: url(../images/picto-erreur.gif) no-repeat;
    padding-left: 25px;
}

.form-bloc-erreur .message-erreur .content-bloc {
    float: none;
}


/*Message de confirmation*/
.form-bloc-conf {
    width: auto;
    clear: both;
    margin-bottom: 15px;
    background-color: #fff !important;
    overflow: visible;
}

.form-bloc-conf .top {
    height: 10px;
    overflow: hidden;
    background: url(../images/conf-box-top-bk.png) repeat-x;
}

.form-bloc-conf .top .left {
    display: block;
    float: left;
    background: url(../images/conf-box-top-left.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-conf .top .right {
    display: block;
    float: right;
    background: url(../images/conf-box-top-right.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-conf .bottom {
    height: 10px;
    overflow: hidden;
    clear: both;
    background: url(../images/conf-box-bottom-bk.png) repeat-x
}

.form-bloc-conf .bottom .left {
    display: block;
    float: left;
    background: url(../images/conf-box-bottom-left.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-conf .bottom .right {
    display: block;
    float: right;
    background: url(../images/conf-box-bottom-right.png) no-repeat !important;
    height: 10px;
    width: 10px;
}

.form-bloc-conf .content {
    background-image: none !important;
    overflow: hidden;
    text-align: left;
    border-left: 1px solid #3d82c3;
    border-right: 1px solid #3d82c3;
    padding: 0 10px;
}

.form-bloc-conf .content .message {
    color: #3d83c1;
    text-align: left;
    margin-bottom: 5px;
    padding-top: 3px;
    float: left
}

img.picto-confirmation {
    display: inline;
    vertical-align: middle;
    margin-bottom: 2px;
    display: block;
    float: left;
    margin-right: 8px;
}

.form-field .form-bloc-conf {
    margin-left: 5px;
    margin-right: 5px;
}

.form-bloc-conf .message-ok {
    color: #3d83c1;
    background: url(../images/picto-check-ok-big.gif) no-repeat;
    padding-left: 25px;
}

.form-bloc-conf .message-ok .content-bloc {
    float: none;
}


/*Erreur validation de formulaire*/
.check-invalide {
    vertical-align: top;
    height: 11px
}

.check-invalide img {
    margin-top: 2px
}

* + html .check-invalide img {
    margin-top: 0px
}

.iframe {
    border: 0;
    margin: 0;
    padding: 0 0 10px 5px;
    width: 770px;
    height: 1300px;
}

/*Iframe Messagerie Securisee*/
#iframe-messagerie {
    background: transparent;
}

/***************************************************Styles specifiques****************************************************/

h1, h3 {
    color: #3D6BA6;
}

h4 {
    color: #666;
}

a, a:hover {
    color: #3D6BA6;
}

.form-field .top .title {
    color: #666;
}

.form-bloc-conf .content {
    border-color: #666;
}

.form-bloc-conf .content .message {
    color: #666 !important;
}

.table-results .liste-destinataires .title {
    color: #666;
}

.table-results .liste-destinataires table {
    border-top: 1px solid #999;
    border-bottom: 1px solid #ccc;
}

.table-results .liste-destinataires table thead {
    color: #666;
}

.table-results .liste-destinataires table th {
    color: #666 !important;
}

.table-results {
    border-bottom: 0;
}

.table-results th.top div.left, .table-results th.top div.right, .table-results th.top {
    display: none;
}

.table-results th {
    border-bottom: 1px solid #3D6BA6;
    color: #3D6BA6;
    background: #ffffff;
}

.table-results th a {
    color: #3D6BA6 !important;
}

.table-results tr.on {
    background-color: #F6F4F4;
}

/*Boutons*/
button.bouton-annulation, button.bouton-validation {
    border: 0;
    width: 84px;
    height: 18px;
    line-height: 18px;
    color: #ffffff !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#iframeMessage, #iframeReponse {
    height: 600px !important;
}
