.customClass {
  background-color: deeppink;
}

.fa-custom {
  font-size: 1.3em;
}

.bs-callout {
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-primary {
  border-left-color: #007bff ;
  h3 {
    color: #007bff ;
  }
}

.vertical-divider {
  position:absolute;
  border-left:1px solid #eeeeee;
  height:100%;
}

.horizontal-divider {
  border-bottom: 1px solid #eeeeee;
  margin: 18px -22px 10px 0;
}