
<div class="bs-callout bs-callout-primary">
  <div class="row">
    <div class="col-md-5">
      <h3 class="h5 p-l-0">{{criteria.shortName}}</h3>
      <div [innerHtml]="criteria.description"></div>
      <div *ngIf="criteria.enableECertis" class="pull-left-lg">
        <a style="cursor: pointer" (click)="onECertisSelected()"><i class="fa fa-balance-scale"></i>Références légales
          et preuves liées (eCertis)</a>
      </div>
    </div>
    <div class="col-md-7 text-justify">
      <div class="vertical-divider"></div>
      <ng-container *ngFor="let reqG of criteria.requirementGroupList; index as i">
        <div *ngIf="reqG.unbounded" class="btn-group btn-group-toggle pull-right m-b-1" data-toggle="buttons">

          <div class="btn-group  btn-group-sm" role="group" aria-label="">
            <button type="button" class="btn btn-primary btn-sm" (click)="addReqG(reqG, i)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="deleteReqG(i)" *ngIf="numberUnbounded() > 1">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <dume-requirement-group [requirementGroup]="reqG" [mainIndex]="reqG.instanceNumber"></dume-requirement-group>
        <div class="horizontal-divider"></div>
      </ng-container>
    </div>
  </div>
</div>



