ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label {
  font-weight: bold;
}

td {
  border: 1px solid #adc4db;
  padding: 12px;
}

thead {
  background: #ebf1f7;
}

.modal-header {
  background: transparent;
  display: flex;
  justify-content: flex-end;
}

img {
  width: 100%;
  max-width: 300px;
}

.modal-body {
  margin-bottom: 48px;

  .copyright {
    margin: 0 48px;

    @media screen and (max-width: 1040px) {
      width: 33%;
    }
  }



  .build {
    line-height: 2.2rem;

    h1 {
      margin-bottom: 8px;
    }
  }
}
