<div class="modal-content" xmlns="http://www.w3.org/1999/html">

    <div class="modal-header">
        <button (click)="close()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" style="display: flex; flex-direction: row">
        <aside class="copyright">
            <img [src]="contextualiser()" alt="logo">
        </aside>
        <article>
            <section class="build">
                <h1>Outil de rédaction des pièces de marché</h1>
                <ul>
                    <li>
                        Version {{build?.version}} <i>({{build?.codename}})</i>
                    </li>
                    <li>
                        Créée le {{build?.time | fr_date }}
                    </li>
                </ul>
            </section>
        </article>
    </div>
</div>
