<div class="card card-item">
    <div id="detail" class="card-body" *ngIf="notice">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active"
                 id="account-vertical-general"
                 aria-labelledby="account-pill-general"
                 aria-expanded="true">
                <div class="row">
                    <div class="col-md-9">
                        <h5>{{notice.intituleConsultation }}
                            <div class="badge badge-success status-badge"
                                 [title]="'details-notice.last-modif-date' | translate">
                                <i class="la la-edit"></i>
                                {{notice?.dateModification | date}}
                            </div>
                            <div class="badge badge-success"
                                 *ngIf="notice.publicationDate"
                                 [title]="'details-notice.publication-date' | translate"
                                 style="margin-bottom:7px;">
                                <i class="la la-clock-o font-medium-2"></i>
                                <span>{{notice.publicationDate | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </h5>
                    </div>
                    <div class="col-md-3">
                        <div class="float-md-right">
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.description-consultation" | translate}}
                                    : </strong>{{ notice?.referenceConsultation  }}
                            </h6>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.type-notice" | translate}}
                                    : </strong>{{('notice|name|' + notice?.idNotice) | translate  }}
                            </h6>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.uuid" | translate}}
                                    : </strong>{{notice?.uuid  }}
                            </h6>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.version" | translate}}
                                    : </strong>{{notice?.noticeVersion  }}
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.version-sdk" | translate}}
                                    : </strong>{{notice?.versionSdk  }}
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.id-publication" | translate}}
                                    : </strong>{{notice?.publicationId  }}
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h6>
                                <strong>{{"details-notice.statut" | translate}}
                                    : </strong>{{notice?.statut | translate  }}
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h6 style="text-align: justify">
                            <strong>{{"details-notice.organisme" | translate}}: </strong>{{notice.descriptionOrganisme}}
                            |
                            <div class="badge badge-success status-badge"
                                 [title]="'details-notice.creation-date' | translate"
                                 style="margin-left: 4px;">
                                <i class="la la-save"></i>
                                {{notice?.dateCreation | date}}
                            </div>
                        </h6>
                    </div>

                </div>
                <hr/>
                <div class="float-right">
                    <button type="button"
                            class="btn btn-outline-warning btn-sm mr-1"
                            *ngIf="notice.statut === 'DRAFT' || notice.statut === 'CONCENTRATEUR_VALIDATED'"
                            (click)="openModal(false)"
                    ><i
                            class="la la-edit"
                    ></i>
                        {{"modify" | translate}}
                    </button>
                    <button (click)="openModal(true)" class="btn btn-primary primary-client-bg-border btn-sm mr-1"
                            *ngIf="notice.statut !== 'DRAFT'"><i
                            class="la la-eye"
                    ></i>{{'details' | translate}}
                    </button>
                    <button (click)="exportNotice()"  class="btn btn-primary primary-client-bg-border btn-sm mr-1"
                            type="submit"><i
                            class="la la-file-excel-o"
                    ></i>{{'export' | translate}}
                    </button>
                    <button (click)="validate()"
                            class="btn btn-outline-success btn-sm mr-1">
                        <i
                                class="la la-check"
                        ></i>{{'validate' | translate}}
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
