<div class="modal-content modal-confirmation">
    <div class="modal-header">
        <h4 class="modal-title pull-left modal-confirmation-txt">{{title}}</h4>
        <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right"
                type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="vcenter">
            <div [innerHTML]="message | safeHtml"></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button (click)="modalRef.hide()" class="btn btn-sm btn-default" data-dismiss="modal"
                    type="button">Non
            </button>
            <button (click)="conifrmer()" class="btn btn-primary" data-dismiss="modal" type="button">
                Oui
            </button>
        </div>
    </div>
</div>
