::ng-deep {
    .modal-error {
        ol, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                &:before {
                    content: '- ';
                }
            }

            ol, ul {
                padding-left: 2rem;
            }
        }
    }

}



