<!-- Debut Modal erreur -->
<div class="modal-content modal-error">
    <div class="modal-header">
        <h4 class="modal-title pull-left modal-error-txt">{{title}}</h4>
        <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="vcenter"><span [innerHTML]="message"></span></div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button (click)="modalRef.hide()"
                    class="btn btn-sm btn-default" data-dismiss="modal" type="button">
                Fermer
            </button>
        </div>
    </div>
</div>
