<div class="modal-content modal-success">
    <div class="modal-header">
        <h4 class="modal-title pull-left modal-success-txt">{{title}}</h4>
        <button (click)="close()" aria-label="Close" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="vcenter">{{message}}</div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button (click)="close()"
                    class="btn btn-sm btn-default" data-dismiss="modal" type="button">
                Fermer
            </button>
        </div>
    </div>
</div>
