<div class="eforms modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <strong>{{typeAvis?typeAvis.offreRacine.libelle:'Information de l\'avis'}}</strong>
        </h4>
    </div>
    <div class="modal-body pr-1 pl-1" style="background: #efefef;" *ngIf="configuration">
        <div class="row">
            <div [ngClass]="{'col-7': !typeAvis || (showFacturation && !onlyJals), 'col-12': typeAvis && (!showFacturation && onlyJals)}">
                <div>
                    <div class="card border-left-primary" *ngIf="!typeAvis">
                        <div class="card-body">
                            <div class="controls">
                                <h5><label>Choix du type d'avis</label><span class="obligatoire">*</span></h5>
                                <fieldset class="form-group">
                                    <ng-select
                                            [clearable]="true"
                                            bindLabel="libelle"
                                            [items]="offres"
                                            [(ngModel)]="selectedOffre"
                                            (ngModelChange)="changeOffre($event)"
                                            [notFoundText]="'aucun' | translate"
                                    >
                                    </ng-select>

                                </fieldset>
                            </div>

                        </div>
                    </div>
                    <div class="card border-left-primary" *ngIf="showFacturation && !onlyJals">
                        <div class="card-header pb-0">
                            <h5><label>Adresse de facturations</label><span class="obligatoire">*</span></h5>
                            <hr class="border-top-black"/>
                        </div>
                        <div class="card-body pt-0 scrollable">
                            <div *ngFor="let facturation of configuration.facturationList; let i = index;">
                                <div class="d-flex">
                                    <ui-switch size="small"
                                               class="switch-small pl-1 pr-1 margin-horizontal-auto"
                                               [checked]="selectedFacturationIndex === i"
                                               [switchColor]="selectedFacturationIndex === i?'green':'white'"
                                               (change)="changePrecochee(i,$event)"
                                               color="#DEDEDE"
                                               name="preCoche"
                                    >
                                    </ui-switch>
                                    <div class="margin-center">
                                        <div><i class="la la-envelope"></i>{{facturation?.address}}</div>
                                        <div>@ {{facturation?.email}} <span>|</span> <i class="la la-check-circle"></i>
                                            Validation
                                            SIP:{{ facturation?.sip ? 'Oui' : 'Non' }} </div>
                                    </div>
                                </div>
                                <hr/>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div [ngClass]="{'col-5': !typeAvis || (showFacturation && !onlyJals), 'col-12': typeAvis &&  onlyJals}">
                <div class="card border-left-primary">
                    <div class="card-header pb-0">
                        <h5><label>Support(s) de publicité<span class="obligatoire">*</span></label></h5>
                        <hr class="border-top-black"/>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <div class="d-flex">
                                <ui-switch size="small"
                                           class="switch-small pl-1 pr-1 margin-horizontal-auto"
                                           disabled="true"
                                           [switchColor]="'green'"
                                           [checked]="true"
                                           color="#DEDEDE"
                                           name="preCoche"
                                >
                                </ui-switch>
                                <div class="margin-center">
                                    <i class="la la-desktop"></i>Portail des marchés publics
                                </div>
                            </div>
                            <hr/>
                        </div>
                        <div *ngIf="configuration.europeen">
                            <div class="d-flex">
                                <ui-switch size="small"
                                           class="switch-small pl-1 pr-1 margin-horizontal-auto"
                                           disabled="true"
                                           [checked]="true"
                                           [switchColor]="'green'"
                                           color="#DEDEDE"
                                           name="preCoche"
                                >
                                </ui-switch>
                                <div class="margin-center">
                                    <i class="la la-globe"></i>TED eNotices
                                </div>
                            </div>
                            <hr/>
                        </div>
                        <div *ngIf="configuration.jalList && showJal" class="scrollable">
                            <div *ngFor="let jal of configuration.jalList let index=index">
                                <div class="d-flex">
                                    <ui-switch size="small"
                                               class="switch-small pl-1 pr-1 margin-horizontal-auto"
                                               [switchColor]="jalList.get(index)?'green':'white'"
                                               [checked]="jalList.get(index)"
                                               (change)="changeJal(index,$event)"
                                               color="#DEDEDE"
                                               name="preCoche"
                                    >
                                    </ui-switch>
                                    <div class="margin-center">
                                        <i class="la la-flag"></i>{{jal.nom}} ({{jal.email}})
                                    </div>
                                </div>
                                <hr/>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer form-actions">
        <div class="float-right">


            <button type="button" (click)="closeModal()"
                    class="btn btn-outline-warning btn-sm mr-1">
                <i class="la la-close"></i>
                {{"close" | translate}}
            </button>

            <button type="button"  class="btn btn-primary primary-client-bg-border btn-sm"
                    [disabled]="validation || !isFormulaireValid()"
                    (click)="typeAvis?modifySelectedAvis():addSelectedAvis()">
                <i *ngIf="!validation && !typeAvis" class="la la-plus"></i>
                <i *ngIf="!validation && typeAvis" class="la la-edit"></i>
                <i *ngIf="validation" class="la la-spin la-spinner"></i> Valider
            </button>

        </div>
    </div>
</div>
