<div *ngIf="messageValide != null" class="alert alert-success">
    <p><i class="fa fa-check fa-2x"></i> {{messageValide}} </p>
</div>

<div *ngIf="messageError != null" class="alert alert-danger">
    <p><i class="fa fa-exclamation-circle fa-2x"></i> {{messageError}} </p>
    <ul>
        <li *ngFor="let message of messages">{{message}}</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-title">Contractants à importer</h3>

        <ng-template [ngIf]="fichier != null ">
            <div id="preview-ng-template">
                <table class="table bordered-table table-suivi zebra-striped table-uploads table-hover check-list">
                    <caption class="sr-only">Fichiers</caption>
                    <thead>
                    <tr>
                        <th colspan="5" class="col-check"> Fichiers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="dz-filename"><span data-dz-name="">  <span
                                    *ngIf="fichier != null"> </span>  <a
                                    style="cursor: pointer;"
                                    (click)="downlaodPieceJointe(fichier)"
                                    title="Télécharger le document {{fichier.nom}} {{fichier.taille | fileSize}}"><i
                                    class="fa fa-download"></i> {{fichier.nom}}</a></span></div>
                        </td>
                        <td class="col-size"><span class="sr-only">Poids</span>
                            <div class="dz-size"><span
                                    data-dz-size=""><strong>{{fichier.taille |  fileSize}}</strong></span></div>
                        </td>
                        <td class="col-progress">
                            <div aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar"
                                 class="progress active">
                                <div data-dz-uploadprogress="" [style.width]="fichier.progress+'%'"
                                     class="progress-bar progress-bar-success"></div>
                            </div>
                            <div class="dz-error-message error text-danger"><span data-dz-errormessage></span></div>
                        </td>
                        <td class="actions col-md-1">
                            <button type="button" (click)="deletePieceJointe(fichier)" data-dz-remove=""
                                    class="dz-remove btn btn-primary btn-xs btn-action"
                                    title="Supprimer la pièce jointe"><span class="fa fa-trash"></span></button>
                        </td>

                    </tr>

                    </tbody>
                </table>
                <!--button type="button" class="btn btn-sm btn-default">Signer les pièces sélectionnées</button-->
            </div>
        </ng-template>

        <div id="dummyPreviewsContainer"></div>

        <form [style.display]="fichier == null ?'block' : 'none'" class="dropzone" id="piecesJointes-dropzone"
              method="POST" enctype="multipart/form-data">
            <div class="dz-default dz-message">
                <span>Déposer le fichier </span>
            </div>
            <button class="btn btn-default btn-sm dz-clickable" onclick=" blur(); return false; " id="dz-button"><i
                    class="fa fa-file"></i> Mes documents
            </button>
        </form>
        <!-- //Fin Modal Selection Documents Execution-->
    </div>
    <div class="panel-footer">
        <button class="btn btn-sm btn-primary" (click)="downloadModel()"><i
                class="fa fa-th"></i> Modèle d'import
        </button>

        <div class="pull-right">
            <button class="btn btn-sm btn-primary" [disabled]="fichier == null" (click)="testImport(fichier)"><i
                    class="fa fa-check"></i> Tester import
            </button>

            <button class="btn btn-sm btn-primary" [disabled]="fichier == null" (click)="importFichier(fichier)"><i
                    class="fa fa-upload"></i> Importer
            </button>
        </div>
    </div>
</div>
