<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div class="row">
        <div class="col-md-4 col-12 mb-2 ">
          <div class="blocGauche">
            <div class="card primary-client-bg-border">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="media-body text-white text-left">

                      <div class="welcomeBloc">
                        <div>
                          <div class="welcomeText">{{'welcome' | translate}},</div>
                          <div class="welcomeText">{{agent.prenom}} {{agent.nom}}</div>
                          <div class="mailText">{{agent.identifiant}}</div>
                        </div>
                        <div class="photo">
                          <img class="rounded-circle img-border box-shadow-1"
                               [src]="'assets/images/portrait/small/default.png' | imageUrl"
                               alt="avatar">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" style="background-color: dimgrey">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-white text-left">
                    <p><u>{{'plateforme' | translate}}</u> {{agent.mpeUrl}}</p>
                    <p><u>{{'organisme' | translate}}</u> {{agent.service.organisme.codeExterne}}
                      - {{agent.service.organisme.libelle }}</p>
                    <p><u>{{'service' | translate}}</u> {{agent.service.libelle }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 mb-2">
          <section id="description" class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h2><i class="la la-certificate"
                           style="font-size: 2rem"></i>{{'habilitations' | translate}}</h2>
                  </div>
                </div>
                <hr>
                <ul *ngIf="agent?.roles?.length>0;else alert">
                  <h4 class="card-title"> {{'accueil.legende'| translate}}</h4>
                  <li *ngFor="let role of agent.roles">{{ role | translate }}</li>
                </ul>
                <ng-template #alert>
                  <div class="alert alert-danger font-weight-bold">
                    {{'accueil.no-habilitation' | translate}}
                  </div>
                </ng-template>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
