<main>
    <ng-select
        [items]="etablissements | async"
        [(ngModel)]="etablissement"
        [multiple]="false"
        [hideSelected]="false"
        [searchable]="true"
        (change)="onSelected.emit(etablissement)"
        [minTermLength]="3"
        [typeahead]="input"
        placeholder="Choisissez un établissement"
        typeToSearchText="Entrez au moins trois caractères."
        bindLabel="description"
        required

    >
        <ng-template ng-notfound-tmp>
            <section class="actions">
                <span class="ng-option disabled">
                    Aucun résultat
                </span>
                <button (click)="onNouveeauFournisseur()" class="btn btn-sm btn-secondary m-l-2"
                        data-dismiss="modal" type="button">
                    Créer la fiche fournisseur
                </button>
            </section>
        </ng-template>
    </ng-select>
</main>
<!-- Modales -->
<div #creationFournisseurModal="bs-modal" (onHidden)="isModaleCreationForunisseurShown=false"
     *ngIf="isModaleCreationForunisseurShown" [config]="{ show: true }" aria-labelledby="dialog-creation-fournisseur"
     bsModal class="modal fade" role="dialog" tabindex="1">
    <div class="modal-dialog custom-modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Titre de la modale -->
                <h4 class="modal-title" id="dialog-creation-fournisseur">Création d'un nouveu fournisseur</h4>
            </div>
            <div class="modal-body">
                <ltexec-cree-fournisseur (onSave)="etablissement=$event;onSelected.emit($event);isModaleCreationForunisseurShown=false"
                                         [hideBackButton]="true"
                                         [navigateOnNewEtablissement]="false" (onClose)="etablissement=$event;isModaleCreationForunisseurShown=false"></ltexec-cree-fournisseur>
            </div>
            <div class="modal-footer">
                <!-- Boutons de la modale -->
                <button (click)="isModaleCreationForunisseurShown=false" class="btn btn-default" type="button">Annuler
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modales -->
