<div class="alert bg-success alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
    <span class="alert-icon"><i class="la la-check"></i></span>
    {{ 'TEXT_MOT_PASSE_UNIQUE' |trans}}
</div>