{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    {{ parent() }}
    <link href='{{ asset('themes/css/ng-style.css') }}?k={{ MEDIA_CACHE_KEY }}' rel='stylesheet'>
{% endblock %}

{% block content %}

    <div class="main-part" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('accueil_entreprise') }}">
                        {{ 'TEXT_ACCUEIL' |trans }}
                    </a>
                </li>
                <li>
                    {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
                </li>
            </ul>
        </div>

        <div id="infoErrone" class="m-t-7">
                <div class="panel-user-infos alert alert-danger container">
                    <i class="fa fa-exclamation-triangle fa-lg m-r-1"></i>
                    {{ 'TOKEN_RESET_PASSWORD_EXPIRED' | trans | raw}}
                </div>
        </div>
    </div>

{% endblock content %}
