{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    {{ parent() }}
    <link href='{{ asset('themes/css/ng-style.css') }}?k={{ MEDIA_CACHE_KEY }}' rel='stylesheet'>
{% endblock %}

{% block content %}

    <div class="pwd-forgotten">
        <ul class="breadcrumb">
            <li>{{ 'TEXT_ACCUEIL' |trans  }}</li>
        </ul>
        {% if form is defined %}
        <div id="panelEnvoiLogin" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="h4 m-0">{{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}</h2>
                </div>
                <div class="panel-body">
                    <div id="panelMotPasseOublie" >
                        <p>{{ 'TEXT_INFOS_MOT_PASSE_OUBLIE' |trans }}</p>
                    </div>
                    <!--Debut Bloc Login Identifiant Mot de passe-->
                    <div class="col-md-offset-2 col-md-9 m-t-2">
                        <div class="form-group form-group-sm clearfix">
                            <label for="emailUser" class="col-md-3 control-label">{{ 'TEXT_ADRESSE_ELECTRONIQUE' |trans }} :</label>
                            <div class="col-md-9">
                                <div class="col-md-9">
                                    {{ form_start(form) }}
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <input type="submit" class="btn btn-sm btn-primary col-md-3" value="{{ 'DEFINE_TEXT_ENVOYER' |trans }}" />
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                    <!--Fin Bloc Login Identifiant Mot de passe-->
                </div>
                <div class="panel-footer">
                    <a id="lienRetour" class="btn btn-sm btn-default" href="{{ path('accueil_entreprise') }}">
                        {{ 'DEFINE_TEXT_RETOUR_ACCUEIL' |trans }}
                    </a>
                </div>
            </div>
        </div>
        {% else %}
            <div id="reset-password-message-alert" class="alert alert-success  mb-2" role="alert">
                <span class="alert-icon"><i class="la la-check"></i></span>
                {{ 'TEXT_MOT_PASSE_UNIQUE' |trans}}
            </div>
        {% endif %}
    </div>

{% endblock content %}

{% block javascripts_content %}
    {{ parent() }}
{% endblock javascripts_content %}
