{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    {{ parent() }}
    <link href='{{ asset('themes/css/ng-style.css') }}?k={{ MEDIA_CACHE_KEY }}' rel='stylesheet'>
{% endblock %}

{% block content %}

    <div class="main-part" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('accueil_entreprise') }}">
                        {{ 'TEXT_ACCUEIL' |trans }}
                    </a>
                </li>
                <li>
                    {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
                </li>
            </ul>
        </div>

        <!-- Debut messages validation -->

        <!-- Fin messages validation -->
        <!--Debut Bloc Modification du mot de passe-->
        <div id="updateMdp" cssClass="form-field" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">{{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}</div>
                </div>
                <div class="panel-body">
                    <div class="top-title clearfix">
                        <div class="pull-right small">
                            {{ 'DEFINE_SYMBOLE' |trans }}
                            <span class="champ-oblig text-danger">*</span>
                            {{ 'DEFINE_INDIQUE_CHAMPS_OBLIGATOIRES' |trans }}
                        </div>
                        <p>{{ 'VEUILLEZ_RENSEIGNER_LES_CHAMPS' |trans }} :</p>
                    </div>
                    <!--Debut Bloc Login Identifiant Mot de passe-->
                    {{ form_start(form) }}
                    <div class="content form-horizontal">
                        <div class="form-group form-group-sm clearfix">
                            <label for="password" class="control-label col-md-3">
                                {{ 'DEFINE_ADRESSE_ELECTRONIQUE' |trans }}
                                <span class="champ-oblig text-danger">* </span> :
                            </label>
                            <div class="col-md-8">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="col-md-1 p-l-0">


                            </div>
                        </div>
                        <!--  -->
                        <div class="form-group form-group-sm clearfix">
                            <label for="confPassword" class="control-label col-md-3">
                                {{ 'TEXT_NOUVEAU_MOT_PASSE' |trans }}
                                <span class="champ-oblig text-danger">* </span> :
                            </label>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                            <div class="col-md-1">
                                <i class="fa p-t-1 fa-question-circle text-info" data-toggle="tooltip" data-placement="left"
                                   title="{{ 'REGLE_VALIDATION_MDP_INFO_BULLE' |trans }}" ></i>
                            </div>
                        </div>

                        <div class="form-group form-group-sm clearfix">
                            <label for="emailPersonnel" class="control-label col-md-3">
                                {{ 'TEXT_CONFIRMATION_MOT_PASSE' |trans}}
                                <span class="champ-oblig text-danger">* </span> :
                            </label>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.second) }}
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                    <!--Fin Bloc Login Identifiant Mot de passe-->
                </div>
                <div class="panel-footer clearfix">
                    <input type="submit" class="btn btn-sm btn-primary pull-right" value="{{ 'OK' |trans}}"  id="save" />
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!--Fin Bloc Modification du mot de passe-->
    </div>

{% endblock content %}

{% block javascripts_content %}
    {{ parent() }}
    <script>
        J('.text-info').tooltip();
    </script>
{% endblock javascripts_content %}
