{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            <a href="{{ path('atexo_agent_accueil_index') }}">{{ 'TEXT_ACCUEIL' |trans  }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section id="description" class="card ">
        <div class="card-content">
            <div class="card-body">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <h4>
                    {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
                </h4>
                <hr>
                {% if form is defined %}
                    <p>{{ 'TEXT_INFOS_MOT_PASSE_OUBLIE' |trans }}</p>

                    {{ form_start(form) }}

                    <fieldset>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary white" id="mail">@</span>
                            </div>
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary pull-right" style="margin: 12px 0;">
                        {{ 'DEFINE_TEXT_ENVOYER' |trans }}
                    </button>
                    {{ form_end(form) }}
                    {% else %}
                        {% include 'reset_password/_check_email.html.twig' %}
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
