{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            <a href="{{ path('atexo_agent_accueil_index') }}">{{ 'TEXT_ACCUEIL' |trans }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="infoErrone" class="m-t-7">
        <div class="alert bg-danger alert-arrow-left alert-dismissible">
            <i class="fa fa-exclamation-triangle fa-lg m-r-1"></i>
            {{ 'TOKEN_RESET_PASSWORD_EXPIRED' | trans | raw}}
        </div>
    </div>
{% endblock %}
