{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    {{ parent() }}
    <link href='{{ asset('themes/css/ng-style.css') }}?k={{ MEDIA_CACHE_KEY }}' rel='stylesheet'>
{% endblock %}

{% block content %}

    <div class="main-part" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('accueil_entreprise') }}">
                        {{ 'TEXT_ACCUEIL' |trans }}
                    </a>
                </li>
                <li>
                    {{ 'TEXT_MOT_PASSE_OUBLIE' |trans }}
                </li>
            </ul>
        </div>
        <!--Debut message de confirmation-->
        <div class="bloc-message form-bloc msg-confirmation alert alert-success msg-confirmation">
            <div class="content">
                <div class="message bloc-700">
                    <!--Debut Message type d'erreur general-->
                    <span>
                    {{ 'MOT_DE_PASSE_MODIFIER_AVEC_SUCCES' | trans | raw }}
                </span>
                    <!--Fin Message type d'erreur general-->
                </div>
            </div>
        </div>
        <!--Fin  message de confirmation-->
        <a
                title="{{ 'DEFINE_TEXT_RETOUR_ACCUEIL' | trans }}"
                class="bouton-retour btn btn-sm btn-default"
                href="{{ link }}"
        >
            {{ 'DEFINE_TEXT_RETOUR_ACCUEIL' | trans }}
        </a>
    </div>

{% endblock content %}

{% block javascripts_content %}
    {{ parent() }}
    <script>
        J('.text-info').tooltip();
    </script>
{% endblock javascripts_content %}
