<div class="container-fluid msv2">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered" id="tableDashboardEchange">
        <thead>
        <tr>
          <th colspan="4">
            <messagerie-pagination (paginationChange)="paginationChange($event)" [currentPage]="currentPage"
                                   [pageSize]="pageSize"
                                   [pagination]="messages" class="pager"></messagerie-pagination>
          </th>
        </tr>
        <tr>
          <th class="tableDashboardEchange_col_1" scope="col"></th>
          <th class="tableDashboardEchange_col_2" scope="col"><span>Statut</span><br/><span>Evénements</span></th>
          <th class="tableDashboardEchange_col_3" scope="col">
            <span>Type de courrier | Objet</span><br/><span>Destinataire</span></th>
          <th class="tableDashboardEchange_col_4" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages.content; let i = index">
          <td class="h-60">
            <div class="events">
              <div *ngIf="message.typeMessage==='TypeMessage4'" class="fas fa-vote-yea" placement="right"
                   tooltip="Modalité d'envoi : courrier avec accusé de réception">
              </div>
              <div *ngIf="message.typeMessage==='TypeMessage1'" class="fas fa-comment-slash" placement="right"
                   tooltip="Courrier sans accusé de réception, ni réponse attendue du destinataire">
              </div>
              <div *ngIf="message.reponseAttendue" class="fab fa-replyd fa-md" placement="right"
                   tooltip="Modalité de réponse : une réponse du destinataire est attendue">
              </div>
            </div>
          </td>
          <td><span [ngClass]="getStatus().cssClass" class="badge mb-2 w-100 p-3">{{ getStatus().label }}</span>
            <ul class="list-time">
              <li><span
                class="tag draft">{{'statut.brouillon.code' | surchargeLibelle:'B'}}</span>
                <time>{{ message.dateModification | date:'dd/MM/yyyy - HH:mm:ss'}}</time>
              </li>
            </ul>
            <ul class="list-time">
            </ul>
          </td>
          <td>
            <span class="badge badge-info badge-pill"><em
              class="fas fa-tag m-r-1"></em>{{message?.objet}}</span>
            <strong class="txt-blue m-l-1">{{message.objet}}</strong>
            <div class="mt-2">
              <div class="float-left m-r-2 recipient"><em class="fas fa-address-card"></em><span
                class="m-l-1">{{message.nbDestinataires}} destinataire(s)</span></div>
              <ul class="message mt-2">
                <li class="truncate">{{message.contenu | newlineToBreakline | stripHtml}}</li>
              </ul>
            </div>
          </td>
          <td class="h-100 align-items-center">
            <div class="h-100 p-3 d-flex" style="flex-direction: column">
            <button (click)="modifierMessage(message)" *ngIf="canEditMessage()"
                    class="btn  btn-md btn-primary mt-1" title="Modifier un brouillon" type="button"><em
              class="fas fa-pencil-alt"></em></button>
            <button (click)="supprimerEmail(message)"
                    *ngIf="canEditMessage()"
                    class="btn  btn-md btn-danger mt-1" title="Supprimer un courrier" type="button"><em
              class="fa fa-trash"></em></button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <messagerie-pagination (paginationChange)="paginationChange($event)" [currentPage]="currentPage"
                                   [pageSize]="pageSize"
                                   [pagination]="messages" class="pager"></messagerie-pagination>
          </td>
        </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>
<!-- //Fin Form actions-->
