{% extends 'base.html.twig' %}

{% block title %}
    {{ titre_page }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}" media="all"/>
    <link rel="stylesheet" href="{{ asset('app/css/messagerieSecurisee.css') }}">
    {{ encore_entry_link_tags('echange-document') }}
{% endblock %}

{% block body %}
    {{ include('messagerie/header-consultation.html.twig',
        { 'consultation': consultation,
            'title': titre_page,
            'DEFINE_TEXT_REFERENCE': 'REFERENCE_DE_LA_CONSULTATION',
            'DEFINE_INTITULE': 'DEFINE_INTITULE_CONSULTATION',
            'OBJET': 'DEFINE_OBJET_CONSULTATION'
        })
    }}

    <div class="container-fluid msv2">
        <div class="row">
            <div class="col-sm-12">
                {{ include('echangeDocumentaire/bloc/filters.html.twig') }}
            </div>
        </div>
    </div>

    <div class="container-fluid msv2">
        <div class="row">
            <div class="col-sm-12" id="table-echange-ajax">
                {{ include('echangeDocumentaire/bloc/listeEchanges.html.twig', {'echanges': echanges}) }}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>

    <div class="container-fluid msv2 form-bloc ">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn create-echange"
                   title="{{ 'CREER_ECHANGE' | trans }}"
                   href="{{ path('echange_documentaire_new', {'consultationId': encryptedId }) }}">
                    {{ 'CREER_ECHANGE' | trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>

    <!-- Modal -->
    {{ include('echangeDocumentaire/bloc/modalEchange.html.twig', { 'titre': 'DETAIL_ECHANGE' | trans }) }}
{% endblock %}

{% block javascripts %}
    <script>
        var urlPutEchange = '{{ path('echange_documentaire_put_statut_echange') }}';
        var urlAjax = "{{ path('echange_documentaire_ajax_filter_echange', {'consultationId': encryptedId}) }}";
        var TEXT_A_ENVOYER = '{{ 'A_ENVOYER' | trans }}'
    </script>
    {{ encore_entry_script_tags('echange-document') }}

{% endblock %}