{% extends 'base.html.twig' %}

{% block title %}
    {{ titre_page }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('themes/css/ng-style.css?k=')~ MEDIA_CACHE_KEY }}" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('app/css/messagerieSecurisee.css') }}">
    <link href="{{ asset('themes/css/css/styles.css?k=')~ MEDIA_CACHE_KEY }}" media="all" rel="stylesheet" type="text/css">
    {{ encore_entry_link_tags('echange-document') }}
    {{ encore_entry_link_tags('espace-documentaire') }}
{% endblock %}

{% block javascripts_header %}
    <script>
        var saveUrl="{{ path('echange_documentaire_save', {'consultationId': encryptedId })  }}";
        var pastel="{{ path('echange_documentaire_get_cheminement_pastell', {'consultationId': encryptedId, 'applicationDistante': 'appsDist' })  }}";
        var ajaxTypageDocument="{{ path('echange_documentaire_ajax_typage_document', {'idEchangeDocApplicationClient': 'idEchangeDocApplicationClient' })  }}";
        var typeNonRenseigne = "{{ 'TYPE_NON_RENSEIGNE' | trans }}"
        var jetonSignatureElectronique = "{{ 'JETON_SIGNATURE_ELECTRONIQUE' | trans }}"
        var informationsEnvoiDicStep2 = "{{ 'ECHANGE_DOCUMENTAIRE_STEP_2_INFORMATIONS_DAC' | trans }}"
        var informationsEnvoiDicStep4 = "{{ 'ECHANGE_DOCUMENTAIRE_STEP_4_INFORMATIONS_DAC' | trans }}"
    </script>
    <script src="{{ asset('app/js/filesize.min.js') }}"></script>
    <script src="{{ asset('themes/js/atexoScript.fr.js?k=')~ MEDIA_CACHE_KEY }} }}"></script>
{% endblock %}

{% block body %}

    {{ include('messagerie/header-consultation.html.twig', {
        'consultation': consultation,
        'title': titre_page,
        'hide': true,
        'DEFINE_TEXT_REFERENCE': 'REFERENCE_DE_LA_CONSULTATION',
        'DEFINE_INTITULE': 'DEFINE_INTITULE_CONSULTATION',
        'OBJET': 'DEFINE_OBJET_CONSULTATION'
    })
    }}

    <div class="form-bloc form-horizontal container-fluid" id="root_espace_doc" data-locale="{{ app.request.locale }}">
        <div class="row">
            <div class="col-xs-12" id="stepwizard-echange-doc" data-multi-docs-principaux="0">
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel stepwizard-row1">

                        <div class="stepwizard-step col-xs-3">
                            <a href="#step-1" type="button" class="btn btn-primary btn-circle not-active" id="step1">
                                <i class="fa fa-info"></i>
                            </a>
                            <p class="stepwizard-text-actif" id="step1-text">{{ 'ETAPE_1_INFORMATIONS_ET_APPLICATION_DISTANTE' | trans }}</p>
                        </div>

                        <div class="stepwizard-step col-xs-3">
                            <a href="#step-2" type="button" class="btn btn-default btn-circle not-active" disabled="disabled"  id="step2">
                                <i class="fa fa-file"></i>
                            </a>
                            <p class="stepwizard-text-inactif" id="step2-text">{{ 'ETAPE_2_DOCUMENTS_A_ENVOYER' | trans }}</p>
                        </div>

                        <div class="stepwizard-step col-xs-3">
                            <a href="#step-3" type="button" class="btn btn-default btn-circle not-active" disabled="disabled"  id="step3">
                                <i class="fa fa-tags"></i>
                            </a>
                            <p class="stepwizard-text-inactif" id="step3-text">{{ 'ETAPE_3_ANNEXES_ET_TYPAGE_DES_PIECES' | trans }}</p>
                        </div>

                        <div class="stepwizard-step col-xs-3">
                            <a href="#step-4" type="button" class="btn btn-default btn-circle not-active" disabled="disabled"  id="step4">
                                <i class="fa fa-check"></i>
                            </a>
                            <p class="stepwizard-text-inactif" id="step4-text">{{ 'ETAPE_4_CONFIRMATION_AVANT_ENVOI' | trans }}</p>
                        </div>

                    </div>
                </div>
                <br>
                <div class="panel  setup-content" id="step-1">
                    <div class="panel-heading">
                        {{ include('echangeDocumentaire/bloc/etape.html.twig', {
                            'title': 'TITRE_ETAPE_1_SELECTION_APPS', 'texte':
                            'TEXT_ETAPE_1_SELECTION_APPS'
                        }) }}
                    </div>
                    <div class="panel-body">
                        {{ include('echangeDocumentaire/bloc/formulaire.html.twig') }}
                    </div>
                </div>
                <div class="panel  setup-content" id="step-2">
                    <div class="panel-heading">
                        {{ include('echangeDocumentaire/bloc/etape.html.twig', {
                            'title': 'TITRE_ETAPE_2_SELECTION_DOCS',
                            'texte': 'TEXT_ETAPE_2_SELECTION_DOCS'
                        }) }}
                    </div>
                    <div class="panel-body">
                        <div id="echangeDocumentaireStep2Body">
                            {{ include('EspaceDocumentaire/bloc/structures.html.twig', {
                                'consultation': consultation,
                                'hide': true,
                                'step': 'etape2',
                                'numberByBlock': number_of_files_by_block
                            }) }}
                        </div>
                        {{ include('echangeDocumentaire/bloc/footerbar.html.twig', {'currentStep': 2}) }}
                    </div>
                </div>
                <div class="panel setup-content" id="step-3">
                    <div class="panel-heading">
                        {{ include('echangeDocumentaire/bloc/etape3.html.twig', {
                            'title': 'TITRE_ETAPE_3_RESUME',
                            'texte': 'TEXT_ETAPE_3_ANNEXES_TYPAGE'
                        }) }}
                    </div>
                    <div class="panel-heading">
                        {{ include('echangeDocumentaire/bloc/fichierPrincipal.html.twig',{
                            'consultation': consultation,
                            'encryptedAgentId' : encryptedAgentId,
                            'base_dir': base_dir,
                            'numberByBlock': number_of_files_by_block})
                        }}
                    </div>
                </div>
                <div class="panel  setup-content" id="step-4">
                    <div class="panel-heading">
                        {{ include('echangeDocumentaire/bloc/etape.html.twig', {
                            'title': 'TITRE_ETAPE_4_RESUME'
                        }) }}
                    </div>
                    <div class="panel-body">
                        {{ include('echangeDocumentaire/bloc/etape4.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        const elVues = ['#consultation', '#consultationModal'];
    </script>
    {{ encore_entry_script_tags('echange-document') }}
    {{ encore_entry_script_tags('espace-documentaire') }}
    {{ include('EspaceDocumentaire/bloc/dce-script.html.twig', {'consultation': consultation, 'encryptedAgentId': encryptedAgentId, 'loadJs': true, 'step': 'etape2' }) }}
{% endblock %}