<div (window:resize)="onResize()"></div>
<app-navigation></app-navigation>
<div class="content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-body ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="sidenav-overlay d-none" id="sidenav-overlay" (click)="rightbar($event)"></div>
