<div *ngIf="!parametrageAgent">
    <label>{{"clauseValeurHeritee.txt.texteFixeAvant" | translate}}</label>
    <quill-editor [readOnly]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig"
                  [(ngModel)]="clause.clauseListeChoixExclusif.textFixeAvant" (ngModelChange)="cleanTexteAvant()"></quill-editor>
    <div class="text-right">
        <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
        <fieldset class="form-group">
            <ui-switch size="small"
                       class="switch-small"
                       [disabled]="disabled"
                       [(ngModel)]="sautLigne1"
                       (ngModelChange)="updateSautLigne1()"
                       [switchColor]="sautLigne1?'green':'red'"
                       color="#DEDEDE"
                       name="sautLigne1"
            >
            </ui-switch>
        </fieldset>
    </div>
</div>
<hr *ngIf="!parametrageAgent">
<div>
    <atx-callouts class="mt-1" *ngIf="!disabled && !parametrageAgent" [header]="'Information'" [icone]="'la la-arrows'" [message]="'Pour déplacer les formulations, utiliser par glissement les icônes de déplacements'">

    </atx-callouts>
    <div class="table-responsive mt-1">
        <table class="table table-bordered">
            <tr class="font-size-xsmall">
                <th>{{"clauseListeChoixCumulatif.txt.valeurParDefaut" | translate}}<span class="redStar">*</span></th>
                <th class="table-fit">{{"clauseListeChoixCumulatif.txt.precochee" | translate}}</th>
                <th class="table-fit" *ngIf="!disabled && !parametrageAgent">{{"redaction.actions" | translate}}</th>
            </tr>
            <tr *ngFor="let item of clause.clauseListeChoixExclusif.formulaires; let i = index;" class="font-size-xsmall"



            >
                 <td>
                    <quill-editor [disabled]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer"
                                  [modules]="disabled?quillConfigReadOnly:quillConfig"
                                  [(ngModel)]="item.defaultValeur"></quill-editor>
                </td>
                <td>
                    <ui-switch size="small"
                               class="switch-small"
                               [disabled]="disabled"
                               [(ngModel)]="item.precochee"
                               [switchColor]="item.precochee?'green':'red'"
                               (ngModelChange)="changePrecochee(i,$event)"
                               color="#DEDEDE"
                               name="preCoche"
                    >
                    </ui-switch>
                </td>
                <td *ngIf="!disabled && !parametrageAgent">
                    <button type="button"
                            class="btn btn-danger btn-sm"
                            (click)="removeFormulation(i)">
                        <i
                                class="la la-trash"></i>
                    </button>
                    <button type="button"
                            class="btn btn-secondary btn-sm mt-2" title="Déplacer"
                            [ngClass]="{'to-replace':i === draggedIndexFormulation && draggedIndexFormulation !== draggingIndexFormulation,
                  'is-dragging':i === draggedIndexFormulation && draggedIndexFormulation !== draggingIndexFormulation}"
                            [draggable]="!disabled && !parametrageAgent"
                            [class.dragging]="i === this.draggingIndexFormulation"
                            (dragexit)="draggedIndexFormulation=undefined"
                            (dragstart)="draggingIndexFormulation = i"
                            (dragenter)="draggedIndexFormulation =i"
                            (dragend)="onDragEnd(clause.clauseListeChoixExclusif.formulaires, draggingIndexFormulation, draggedIndexFormulation);draggedIndexFormulation=undefined;draggingIndexFormulation=undefined"
                            >
                      <i
                        class="la la-arrows"></i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!disabled && !parametrageAgent">
                <td class="newline">
                    <quill-editor [readOnly]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig"
                                  [(ngModel)]="formulation.defaultValeur"></quill-editor>
                </td>
                <td class="newline">
                    <fieldset class="form-group">
                        <ui-switch size="small"
                                   class="switch-small"
                                   [(ngModel)]="formulation.precochee"
                                   [switchColor]="formulation.precochee?'green':'red'"
                                   color="#DEDEDE"
                                   name="preCoche"
                        >
                        </ui-switch>
                    </fieldset>
                </td>
                <td class="newline">
                    <button data-repeater-create
                            class="btn btn-primary primary-client-bg-border btn-sm"
                            (click)="addEtape()">
                        <i class="feather ft-plus"></i>
                    </button>
                </td>
            </tr>
        </table>
        <p *ngIf="submitted && clause.clauseListeChoixExclusif?.formulaires?.length < 2">
          <small class="badge badge-danger">{{"clauseListeChoixCumulatif.txt.formulationObligatoire" | translate}}</small>
        </p>
    </div>
    <div class="row" *ngIf="!parametrageAgent">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h5><label>{{"clauseListeChoixExclusif.txt.formulationModifiable" | translate}}</label></h5>
            <fieldset class="form-group">
                <ui-switch size="small"
                           class="switch-small"
                           color="#DEDEDE"
                           [disabled]="disabled"
                           [(ngModel)]="clause.clauseListeChoixExclusif.modifiable"
                           [switchColor]="clause.clauseListeChoixExclusif.modifiable?'green':'red'"
                           name="formulationModifiable"
                >
                </ui-switch>
            </fieldset>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12"  *ngIf="!fromEcranSurcharge && editeur">
            <h5><label>{{"clauseTextePrevaloriser.txt.parametrableDirection" | translate}}</label></h5>
            <fieldset class="form-group">
                <ui-switch size="small"
                           class="switch-small"
                           color="#DEDEDE"
                           [disabled]="disabled"
                           [(ngModel)]="paramDirection"
                           (ngModelChange)="updateParamDirection()"
                           [switchColor]="paramDirection?'green':'red'"
                           name="paramDirection"
                >
                </ui-switch>
            </fieldset>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="!fromEcranSurcharge  && editeur">
            <h5><label>{{"clauseTextePrevaloriser.txt.parametrableAgent" | translate}}</label></h5>
            <fieldset class="form-group">
                <ui-switch size="small"
                           class="switch-small"
                           color="#DEDEDE"
                           [disabled]="disabled"
                           [(ngModel)]="paramAgent"
                           (ngModelChange)="updateParamAgent()"
                           [switchColor]="paramAgent?'green':'red'"
                           name="paramAgent"
                >
                </ui-switch>
            </fieldset>
        </div>
    </div>
    <div class="text-right" *ngIf="!parametrageAgent">
        <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
        <fieldset class="form-group">
            <ui-switch size="small"
                       class="switch-small"
                       color="#DEDEDE"
                       [(ngModel)]="sautLigne2"
                       [disabled]="disabled"
                       (ngModelChange)="updateSautLigne2()"
                       [switchColor]="sautLigne2?'green':'red'"
                       name="sautLigne2"
            >
            </ui-switch>
        </fieldset>
    </div>
</div>
<hr *ngIf="!parametrageAgent">
<div *ngIf="!parametrageAgent">
    <label>{{"clauseValeurHeritee.txt.texteFixeApres" | translate}}</label>
    <quill-editor [disabled]="readOnly" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig" [style]="{'color': defaultTextColor}"
                  [(ngModel)]="clause.clauseListeChoixExclusif.textFixeApres" (ngModelChange)="cleanTexteApres()"></quill-editor>
</div>
