.redStar {
  color: red;
  font-size: 18px;
  font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
}
label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.newline {
  background-color: #E3E3E3!important;
}
