<ng-container *ngIf="surchargeFooter">
    <link rel="stylesheet" type="text/css" href="/app/css/css-footer-exec.css"/>

    <div [innerHTML]="footerContent" class="footer"></div>
</ng-container>
<ng-container *ngIf="!surchargeFooter">
    <footer class="container-fluid" id="footer">
        <p>Version : PROJECT_VERSION</p>
    </footer>
</ng-container>
