@font-face {
    font-family: read-regular;
    src: url('../fonts/read-regular.ttf') format('truetype');
}
@font-face {
    font-family: italic-regular;
    src: url('../fonts/italic-regular.ttf') format('truetype');
}
body,
html {
    margin: 0 auto;
}
body {
    font-family: 'read-regular', serif;
}
a {
    text-decoration: none;
}
.container {
    width: 95%;
    margin: 0 auto;
    padding: 1.1em;
    display: grid;
    grid-template-columns: 15% auto;
}
.container a {
    color: white;
}
section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-15-px {
    padding-left: 15px;
}
.padding-top-30 {
    padding-top: 30px;
}
.margin-top-auto {
    margin-top: auto !important;
}
.margin-bottom-auto {
    margin-bottom: auto !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.height-50-px {
    height: 50px;
}
.height-85 {
    height: 85%;
}
.width-auto {
    width: auto !important;
}
.width-1-px {
    width: 1px;
}
.width-320-px {
    width: 320px;
}
.width-700 {
    width: 700px;
}
.width100 {
    width: 100%;
}
.width96 {
    width: 96%;
}
.width95 {
    width: 95%;
}
.width75 {
    width: 75%;
}
.width60 {
    width: 60%;
}
.width53 {
    width: 53%;
}
.width50 {
    width: 50%;
}
.width40 {
    width: 40%;
}
.width30 {
    width: 30%;
}
.width25 {
    width: 25%;
}
.width15 {
    width: 15%;
}
.width12 {
    width: 12%;
}
.width10 {
    width: 10%;
}
.width8 {
    width: 8%;
}
.width7 {
    width: 7%;
}
.width6 {
    width: 6%;
}
.width5 {
    width: 5%;
}
.width3 {
    width: 3%;
}
.ui-widget.ui-button,
.ui-widget.ui-button:enabled:hover,
.ui-widget.ui-button:focus,
.ui-button,
.ui-button:enabled:hover,
.ui-button:focus {
    border: 1px solid #fecb02;
    background: #fecb02;
    outline: 0 none;
    color: #000000;
}
.ui-widget .ui-button {
    font-family: 'read-regular' !important;
    font-size: 1.2em !important;
}
.ui-dropdown .ui-dropdown-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.25em;
    background-color: #p;
    color: #000000;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.5em 0;
    background: white !important;
    border: #ffffff;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
    background-color: #ffffff;
    color: #53565a;
    font-weight: normal;
}
.ui-datepicker .ui-datepicker-buttonbar {
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    border: #ffffff;
    padding: 0.5em;
    background: #ffffff !important;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar td {
    border-bottom: 1px solid transparent;
}
.ui-datepicker .ui-datepicker-header a {
    border-radius: 25px;
    color: #212121;
    margin-left: 9px;
    margin-right: 9px;
}
.ui-datepicker td > span,
.ui-datepicker td > a {
    display: block;
    padding: 0;
    text-decoration: none;
    border: 0 none;
    text-align: center;
    font-family: 'read-regular';
    font-weight: bold;
}
.ui-state-highlight {
    background-color: rgba(254, 203, 2, 0.51);
    color: #ffffff;
}
.loader {
    margin: auto;
    border: 4px solid black;
    border-radius: 50%;
    border-top: 4px solid #fecb02;
    width: 30px;
    height: 30px;
    color: transparent;
    /* 15% from the top and centered */
    padding: 15px;
    -webkit-animation: spin 0.7s linear infinite;
    /* Safari */
    animation: spin 0.7s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader-overlay {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
}
body .ui-overlaypanel {
    color: #333333;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 0;
}
.border-bottom-f1f1f2 {
    border-bottom: 1px solid #f1f1f2;
}
.background-007396 {
    background: #007396 !important;
}
.background-002280 {
    background: #002280 !important;
}
.background-34465d {
    background: #34465d;
}
.background-color-000000 {
    background-color: #000000;
}
.background-color-eeeeee {
    background-color: #eeeeee;
}
.background-color-ffffff {
    background-color: #ffffff;
}
.background-color-ffcc33 {
    background-color: #ffcc33;
}
.background-color-f8f8f8 {
    background-color: #f8f8f8;
}
.background-color-faf9f8 {
    background-color: #faf9f8;
}
.background-color-333333 {
    background-color: #333333;
}
.background-color-f1f1f2 {
    background-color: #f1f1f2;
}
.bottom-3-px {
    bottom: 3px;
}
.bottom-43-px {
    bottom: 43px;
}
.color-002280 {
    color: #002280 !important;
}
.color-0033a0 {
    color: #0033a0;
}
.color-53565a {
    color: #53565a !important;
}
.color-bbbcbc {
    color: #bbbcbc !important;
}
.color-black {
    color: #000000 !important;
}
.color-white {
    color: #ffffff !important;
}
.cursor-pointer {
    cursor: pointer;
}
.display-inline-block {
    display: inline-block;
}

.display-inline-flex {
    display: inline-flex;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.font-size-9 {
    font-size: 9px;
}
.font-size-11 {
    font-size: 11px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px;
}
.font-weight-bold {
    font-weight: bold;
}
.font-weight-normal {
    font-weight: normal;
}
.font-weight-500 {
    font-weight: 500;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-300 {
    font-weight: 300;
}
.justify-content-space-between {
    justify-content: space-between;
}
.line-height-30-px {
    line-height: 30px !important;
}
.padding-5 {
    padding: 5px;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-left-13 {
    padding-left: 13px !important;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-right-16 {
    padding-right: 16px !important;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-20 {
    padding-top: 20px;
}
.text-align-center {
    text-align: center;
}
.padding-top-85 {
    padding-top: 85px;
}
.text-align-justify {
    text-align: justify;
}
.text-align-left {
    text-align: left;
}
.text-decoration-underline-000000 {
    text-decoration: underline;
}
.text-decoration-underline-a6a6a6 {
    display: inline-block;
    border-bottom: 1px solid #a6a6a6;
    padding-bottom: 2px;
    font-weight: bold;
}
.text-decoration-underline-editable {
    display: inline-block;
    border-bottom: 1.5px solid #a6a6a6;
    padding-bottom: 1.5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
.text-decoration-underline-editable:hover {
    display: inline-block;
    border-bottom: 1.5px solid #ffcc33;
    padding-bottom: 1.5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
.text-decoration-underline-white {
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2px;
    font-weight: bold;
}
.margin-30 {
    margin: 30px;
}
.margin-auto {
    margin: auto;
}
.margin-bottom-auto {
    margin-bottom: auto;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-right-32 {
    margin-right: 32px;
}
.margin-right-70 {
    margin-right: 70px !important;
}
.margin-top-auto {
    margin-top: auto;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-25 {
    margin-top: 25px !important;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-50 {
    margin-top: 50px;
}
.max-height-250px {
    max-height: 250px;
}
.opacity-0-3 {
    opacity: 0.3;
}
.padding-bottom-6-px {
    padding-bottom: 6px;
}
.padding-top-5-px {
    padding-top: 7px;
}
.padding-left-10px {
    padding-left: 10px !important;
}
.padding-left-16px {
    padding-left: 16px !important;
}
.padding-top-6-px {
    padding-top: 6px;
}
.padding-top-7-px {
    padding-top: 7px;
}
.source-container {
    width: fit-content;
    height: 24px;
    border-radius: 3px;
    color: #000000;
    text-align: center;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
}
.source-type {
    color: #000000 !important;
    margin: auto !important;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(84em);
}
.ui-overlaypanel::after,
.ui-overlaypanel::before {
    bottom: 100%;
    left: 20.25em;
    border: solid transparent;
    border-top-color: transparent;
    border-top-width: medium;
    border-right-color: transparent;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-width: medium;
    border-left-color: transparent;
    border-left-width: medium;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.white-space-pre-wrap {
    white-space: pre-wrap;
}
p,
b {
    font-size: 14px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.toolbar .box-tabs .extra {
    background: #6286b6 !important;
}
.toolbar .tabs {
    position: relative;
    overflow: hidden;
    display: flex;
    background: #6286b6 !important;
}
.onlyoffice {
    height: calc(100vh - 40px);
}
.quill-editor {
    height: fit-content;
    width: 100%;
    margin-bottom: 30px;
}
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
    position: absolute;
}
#create .v-btn--floating {
    position: relative;
}
.v-speed-dial--bottom {
    bottom: 38px
}
.v-speed-dial--left {
    left: 16px
}
.v-speed-dial--right {
    right: 49px
}
.redaction-progress {
    width: 200px;
    background: #FFFFFF;
    padding: 7px;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-top: 4px;
}
.v-dialog:not(.v-dialog--fullscreen) {
    max-height: 60%;
    max-width: 60%;
}

.group-box {
    -webkit-box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
    padding: 20px;
}
