<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->

<template>
    <div class="card" :id="'attributaire' + this.node.offre">
        <div class="card-header panel-heading" :id="'detailAttributaire' + this.node.offre">
            <h2 class="mb-0">
                <button :aria-controls="'collapseDetailAttributaire'+ this.node.offre" aria-expanded="false" class="btn accordion-toggle font-weight-bold"
                        :data-target="'#collapseDetailAttributaire' + this.node.offre"
                        :data-url="baseDir"
                        data-toggle="collapse"
                        type="button"
                        v-on:click="loadData(this.baseUrl, this.consultationId, this.node.offre)">
                    {{ lang['TEXT_ENTREPRISE'] }} : {{ node.entreprise }} | {{ lang['NUMERO_DE_PLI'] }} : {{ node.pli }}
                </button>
            </h2>
        </div>
        <div :aria-labelledby="'detailAttributaire' + node.offre"
             class="collapse" :data-parent="'#attributaire' + node.offre"
             :id="'collapseDetailAttributaire' + node.offre">
            <div class="card-body">
                <div v-if="elements && elements.listes.dume_entreprise">
                    <h3 class="title">{{ lang['DUME'] }}</h3>
                    <div class="table tableEspaceDocumentaire">
                        <div class="table-header">
                            <span class="col col-12" v-if="!step.length">
                               <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                      value="checkboxManager" data-target-checkbox="checkboxAttributaireDUMEOE">
                                    {{ lang['FICHIERS_DOSSIERS'] }}
                            </span>
                        </div>
                        <div class="table-body">
                            <ul class="list-group">
                                <li v-for="node in elements.listes.dume_entreprise" class="list-group-item">
                                    <span class="form-check">
                                    <input class="form-check-input" :class="step" type="checkbox"
                                           name="checkboxAttributaireDUMEOE"
                                           v-if="step == 'jetonSelect'"
                                           :id="getId(node)"
                                           :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                                           :extension="getExtension(node)"
                                           :value="getValueForDumeOE(node)"
                                           :data-json="getJson(node, this.baseUrl, this.consultationId, this.encryptedAgentId, node.id,'DUMEOE')">
                                     <input class="form-check-input" :class="step" type="checkbox"
                                            name="checkboxAttributaireDUMEOE"
                                            v-if="step != 'jetonSelect'"
                                            :id="getId(node)"
                                            :value="getValueForDumeOE(node)"
                                            :data-json="getJson(node, this.baseUrl,this.consultationId,this.encryptedAgentId,node.id, 'DUMEOE')">
                                    <label class="form-check-label">
                                         <a :href="getDownloadUrl(this.baseUrl, this.consultationId, this.encryptedAgentId, node.id,'DUMEOE')">
                                             {{ truncate(node.name) }} ({{ getSize(node.poids) }}  )
                                         </a>
                                    </label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="title">{{ lang['ENVELOPPES_DOSSIER_REPONSE'] }}</h3>

                <div v-if="elements">
                    <enveloppe inline-template v-if="displayCandidature"
                               :indexNode="0"
                               :node="elements.listes.enveloppe_candidature"
                               :alloti="0"
                               :consultationId="consultationId"
                               :encrypted-agent-id="encryptedAgentId"
                               :titre="'DEFINE_DOSSIER_CANDIDATURE'"
                               :nomEnveloppe="'ENVELOPPE_CANDIDATURE'"
                               :color="'green'"
                               :lang="lang"
                               :step="step"
                               :id-div="getIdDiv(node.offre,0,'CANDIDATURE')">
                    </enveloppe>

                    <div v-if="elements.alloti == 1">
                        <enveloppe inline-template v-for="(element,idx) in elements.listes.enveloppe_offre"
                                   :indexNode="getIndex(idx)"
                                   :node="element"
                                   :consultationId="consultationId"
                                   :encrypted-agent-id="encryptedAgentId"
                                   :alloti="elements.alloti"
                                   :titre="'DEFINE_DOSSIER_OFFRES'"
                                   :nomEnveloppe="'ENVELOPPE_OFFRE'"
                                   :color="'blue'"
                                   :lang="lang"
                                   :step="step"
                                   :id-div="getIdDiv(node.offre,idx,'OFFRE')">
                        </enveloppe>

                        <enveloppe inline-template v-for="(element,idx) in elements.listes.enveloppe_anonymat"
                                   :indexNode="getIndex(idx)"
                                   :node="element"
                                   :consultationId="consultationId"
                                   :encrypted-agent-id="encryptedAgentId"
                                   :alloti="elements.alloti"
                                   :titre="lang['DEFINE_TROISIEME_ENVELOPPE']"
                                   :nomEnveloppe="'ENVELOPPE_ANONYMA'"
                                   :color="'red'"
                                   :lang="lang"
                                   :step="step"
                                   :id-div="getIdDiv(this.node.offre,idx,'ANONYME')">
                        </enveloppe>
                    </div>
                    <div v-else>
                        <enveloppe inline-template v-if="elements.listes.enveloppe_offre"
                                   :indexNode="0"
                                   :consultationId="consultationId"
                                   :encrypted-agent-id="encryptedAgentId"
                                   :node="elements.listes.enveloppe_offre"
                                   :alloti="elements.alloti"
                                   :titre="'DEFINE_DOSSIER_OFFRES'"
                                   :nomEnveloppe="'ENVELOPPE_OFFRE'"
                                   :color="'blue'"
                                   :id-div="getIdDiv(node.offre,0,'OFFRE')"
                                   :lang="lang"
                                   :step="step">
                        </enveloppe>
                        <enveloppe inline-template v-if="elements.listes.enveloppe_anonymat"
                                   :indexNode="0"
                                   :consultationId="consultationId"
                                   :encrypted-agent-id="encryptedAgentId"
                                   :node="elements.listes.enveloppe_anonymat"
                                   :alloti="elements.alloti"
                                   :titre="'DEFINE_TROISIEME_ENVELOPPE'"
                                   :nomEnveloppe="'ENVELOPPE_ANONYMA'"
                                   :color="'red'"
                                   :id-div="getIdDiv(node.offre,0,'ANONYME')"
                                   :lang="lang"
                                   :step="step">
                        </enveloppe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import $ from "jquery";
import Enveloppe from "../espace-documentaire/enveloppe";
import utilsService from "../../services/utils.service";

export default {
    name: "Attributaire",
    props: {
        node                : Object,
        step                : String,
        lang                : Object,
        baseDir             : String,
        baseUrl             : String,
        consultationId      : Number,
        encryptedAgentId    : String
    },
    data: function () {
        return {
            isLoaded: false,
            elements: "",
            composantType: 'ATTRIBUTAIRE'
        }
    },
    components: {
        'enveloppe': Enveloppe,
    },
    computed: {
        displayCandidature: function () {
            let candidature = false;
            if (this.elements.listes.enveloppe_candidature != undefined) {
                candidature = this.elements.listes.enveloppe_candidature.length == undefined
            }

            return candidature;

        }
    },
    methods: {
        ...utilsService,
        getExtension(data) {
            return data.extension;
        },
        getJson(data, url, consultationId, encryptedAgentId, encryptedPath, type) {
            url = url + '/agent/direct-download/' + encryptedAgentId + '/' + consultationId + '/' + type + '-' + this.masterId + '-' + encryptedPath;
            let json = {
                base: data.base,
                extension: data.extension,
                fichier: data.fichier,
                id: data.id,
                nom: data.nom,
                poids: data.poids,
                type: data.type,
                url_telechargement: url
            }
            return JSON.stringify(json);
        },
        getIdDiv(offre, idx, type) {
            return offre + type + idx + '-etape2';
        },
        isArray(data) {
            return this.$parent.isArray(data);
        },
        getIndex(idx) {
            return idx.toString();
        },
        getName(data) {
            return data.type + '_' + data.id;
        },
        getId(data) {
            return data.type + '_' + data.id + '-etape2';
        },
        getValueForDumeOE(data) {
            return this.composantType + '##DUMEOE##' + data.type + '##' + data.id_blob;
        },
        getSize(octet) {
            return this.$parent.getSize(octet);
        },
        getNomPli(tradEntreprise, tradPli) {
            return tradEntreprise + ' ' + this.node.entreprise + ' | ' + tradPli + ' : ' + this.node.pli;
        },
        isAlloti() {
            if (this.elements.alloti && this.elements.alloti == 1) {
                return true;
            }

            return false;
        },
        getDownloadUrl(url, consultationId, encryptedAgentId, id, type) {
            return url + '/agent/direct-download/' + encryptedAgentId + '/' + consultationId + '/' + type + '-' + id;
        },
        checkboxManager(event) {
            $('input[name ="' + event.target.dataset.targetCheckbox + '"]').prop('checked', event.target.checked);
        },
        loadData(baseUrl, id, idOffre) {
            let apiUrl = baseUrl + '/agent/espace-documentaire/';

            if (!this.isLoaded) {
                apiUrl = apiUrl.concat('pieces-plis-attributaires/', idOffre, '/', id, '.json');
                axios.get(apiUrl).then(response => {
                    if (!response.data.mpe.reponse.data.message) {
                        this.elements = response.data.mpe.reponse.data;
                    }
                });
                this.isLoaded = true;
            }
        },
    }
};
</script>
<style lang="scss" scoped>
@import '../../css/espace-documentaire.scss';
@import '../../css/espace-documentaire-etape2.scss';
@import '../../css/espace-documentaire-jeton.scss';
.form-check{
    padding-left: 2em;
}
</style>