<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <ul class="list-group">
            <span v-if="isDirectory" class="lineWithoutCheckbox" :style="getStyle">
                <span>{{ node.nom }}</span>
            </span>
        <li v-else class="list-group-item">
                <span :style="getStyle" class="form-check">
                     <input :class="getClassNames()" type="checkbox" name="checkboxDCE"
                            v-if="step == 'jetonSelect'"
                            :id="getId(node)"
                            :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                            :extension="getExtension(node)"
                            :value="getValue(node)"
                            :data-json="getJson(node, node.fichier, 'DCE')">
                     <input :class="getClassNames()" type="checkbox" name="checkboxDCE"
                            v-if="step != 'jetonSelect'"
                            :id="getId(node)"
                            :value="getValue(node)"
                            :data-json="getJson(node, node.fichier, 'DCE')">
                    <label class="form-check-label">
                        <a :href="getDownloadUrl(node.fichier,'DCE')">
                        {{ node.nom }} ({{ getSize(node.poids) }})
                        </a>
                    </label>
                </span>
        </li>
        <li class="list-group-item">
            <dce v-for="nodechild in node.noeuds" :node="nodechild" :depth="depth + 2" :master-id="masterId" :step="step" :consultation-id="consultationId" :encrypted-agent-id="encryptedAgentId"></dce>
        </li>
    </ul>
</template>
<script>
    export default {
        template: '#dce-template',
        name: "dce",
        props: ['node', 'step', 'masterId', 'consultationId', 'depth', 'encryptedAgentId'],
        data: function () {
            return {
                composantType: 'PIECESDCE##DCE'
            }
        },
        computed: {
            isDirectory() {
                return this.node.type === 'dossier';
            },
            getStyle() {
                return 'padding-left:' + (this.depth) + 'em;';
            }
        },
        methods: {
            getExtension(data) {
                return data.extension;
            },
            getJson(data, encryptedPath,type) {
                var url = '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + this.masterId + '-' + encryptedPath;
                var json = {
                    base: data.base,
                    extension: data.extension,
                    fichier: data.fichier,
                    id: data.id,
                    nom:  data.nom,
                    poids: data.poids,
                    type: data.type,
                    url_telechargement: url
                }
                return JSON.stringify(json);
            },
            getName(data) {
                return 'DCE_' + data.id + '_' + data.nom;
            },
            getId(data) {
                return 'DCE_' + data.id + '_' + data.nom;
            },
            getValue(data) {
                return this.composantType + '##' + this.masterId + '##' + data.fichier;
            },
            getSize(octet) {
                return this.$parent.getSize(octet);
            },
            getDownloadUrl(encryptedPath, type) {
                return '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + this.masterId + '-' + encryptedPath;
            },
            getClassNames() {
                return 'form-check-input '+ this.step
            }
        }
    };
</script>
<style lang="scss">
    @import '../../css/espace-documentaire.scss';
    @import '../../css/espace-documentaire-etape2.scss';
    @import '../../css/espace-documentaire-jeton.scss';
</style>