<!--
   - Copyright (C) Atexo - All Rights Reserved
   - Unauthorized copying of this file, via any medium is strictly prohibited
   - Proprietary and confidential
   -->
<template>
    <div class="card" :id="'depot' + node.offre">
        <div class="card-header panel-heading" :id="'detailDepot' + node.offre">
            <h2 class="mb-0">
                <button :aria-controls="'collapseDetailDepot'+ node.offre" aria-expanded="false" class="btn accordion-toggle font-weight-bold"
                        :data-target="'#collapseDetailDepot' + node.offre" data-toggle="collapse" type="button" v-on:click="loadData(consultationId, node.offre)">
                    {{ lang['TEXT_ENTREPRISE'] }} : {{ node.entreprise }} | {{ lang['NUMERO_DE_PLI'] }} : {{ node.pli }}
                    <span class="badge badge-dark d-inline-block float-right counter">{{ node.counter }}</span>
                </button>
            </h2>
        </div>
        <div :aria-labelledby="'detailDepot' + node.offre" class="collapse" :data-parent="'#depot' + node.offre" :id="'collapseDetailDepot' + node.offre">
            <div class="card-body">
                <div v-if="enveloppes && enveloppes.listes.dume_entreprise">
                    <h3 class="title">{{ lang['DUME'] }} </h3>
                    <div  class="table tableEspaceDocumentaire">
                        <div class="table-header">
                     <span class="col col-12" v-if="step == 'etape3'">
                     <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                            value="checkboxManager" data-target-checkbox="checkboxDepotDUMEOE">
                     {{ lang['FICHIERS_DOSSIERS'] }}</span>
                            {% if  step is empty or step == 'etape2' %}
                            <span class="col col-12" v-if="step == '' || step == 'etape2'">
                     <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                            value="checkboxManager" data-target-checkbox="checkboxDepotDUMEOE">
                     {{ lang['FICHIERS_DOSSIERS'] }}
                     </span>
                        </div>
                        <div class="table-body">
                            <ul class="list-group">
                                <li v-for="node in enveloppes.listes.dume_entreprise" class="list-group-item">
                           <span class="form-check" style="padding-left:2em;">
                           <input class="form-check-input" :class="step" type="checkbox"
                                  name="checkboxDepotDUMEOE"
                                  v-if="step == 'jetonSelect'"
                                  :id="getId(node)"
                                  :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                                  :extension="getExtension(node)"
                                  :value="getValueForDumeOE(node)"
                                  :data-json="getJson(node, node.id,'DUMEOE')">

                           <input class="form-check-input" :class="step" type="checkbox"
                                  name="checkboxDepotDUMEOE"
                                  v-if="step != 'jetonSelect'"
                                  :id="getId(node)"
                                  :value="getValueForDumeOE(node)"
                                  :data-json="getJson(node, node.id,'DUMEOE')">
                           <label class="form-check-label">
                           <a :href="getDownloadUrl(node.id,'DUMEOE')" >
                           {{ node.nom  }}
                           ({{ getSize(node.poids)}})</a></label>
                           </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="title">{{ lang['ENVELOPPES_DOSSIER_REPONSE'] }}</h3>
                <div v-if="enveloppes">
                    <enveloppe inline-template :indexNode="0" v-if="enveloppes.listes.enveloppe_candidature"
                               :node="enveloppes.listes.enveloppe_candidature"
                               :alloti="0"
                               :step="step"
                               :titre="'DEFINE_DOSSIER_CANDIDATURE'"
                               :nomenveloppe="'ENVELOPPE_CANDIDATURE'"
                               :color="'green'"
                               :lang="lang"
                               :consultation-id="consultationId"
                               :encrypted-agent-id="encryptedAgentId"
                               :id-div="getIdDiv(node.offre,0,'DEPOTCANDIDATURE')" >
                    </enveloppe>
                    <div v-if="enveloppes.alloti == 1">
                        <enveloppe  inline-template v-for="(element,idx) in enveloppes.listes.enveloppe_offre"
                                    :indexNode="getIndex(idx)"
                                    :node="element"
                                    :step="step"
                                    :alloti="enveloppes.alloti"
                                    :titre="'DEFINE_DOSSIER_OFFRES'"
                                    :nomenveloppe="'ENVELOPPE_OFFRE'"
                                    :color="'blue'"
                                    :lang="lang"
                                    :consultation-id="consultationId"
                                    :encrypted-agent-id="encryptedAgentId"
                                    :id-div="getIdDiv(node.offre,idx,'DEPOTOFFRE')" >
                        </enveloppe>
                        <enveloppe  inline-template v-for="(element,idx) in enveloppes.listes.enveloppe_anonymat"
                                    :indexNode="getIndex(idx)"
                                    :node="element"
                                    :step="step"
                                    :alloti="enveloppes.alloti"
                                    :titre="'DEFINE_TROISIEME_ENVELOPPE'"
                                    :nomenveloppe="'ENVELOPPE_ANONYMA'"
                                    :color="'red'"
                                    :lang="lang"
                                    :consultation-id="consultationId"
                                    :encrypted-agent-id="encryptedAgentId"
                                    :id-div="getIdDiv(node.offre,idx,'DEPOTANONYME')" >
                        </enveloppe>
                    </div>
                    <div v-else>
                        <enveloppe  inline-template v-if="enveloppes.listes.enveloppe_offre"
                                    :indexNode="0"
                                    :step="step"
                                    :node="enveloppes.listes.enveloppe_offre"
                                    :alloti="enveloppes.alloti"
                                    :titre="'DEFINE_DOSSIER_OFFRES'"
                                    :nomenveloppe="'ENVELOPPE_OFFRE'"
                                    :color="'blue'"
                                    :lang="lang"
                                    :consultation-id="consultationId"
                                    :encrypted-agent-id="encryptedAgentId"
                                    :id-div="getIdDiv(node.offre,0,'DEPOTOFFRE')" >
                        </enveloppe>
                        <enveloppe inline-template v-if="enveloppes.listes.enveloppe_anonymat"
                                   :indexNode="0"
                                   :step="step"
                                   :node="enveloppes.listes.enveloppe_anonymat"
                                   :alloti="enveloppes.alloti"
                                   :titre="'DEFINE_TROISIEME_ENVELOPPE'"
                                   :nomenveloppe="'ENVELOPPE_ANONYMA'"
                                   :color="'red'"
                                   :lang="lang"
                                   :consultation-id="consultationId"
                                   :encrypted-agent-id="encryptedAgentId"
                                   :id-div="getIdDiv(node.offre,0,'DEPOTANONYME')" >
                        </enveloppe>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['ENVELOPPE_ACTUELLEMENT_FERMEE'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import $ from "jquery";
import Enveloppe from "../espace-documentaire/enveloppe";

export default {
    components: {
        'enveloppe': Enveloppe,
    },
    props: ['translations','node', 'step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId'],
    data() {
        return {
            isLoaded: false,
            enveloppes: "",
            composantType: 'PLI'
        }
    },
    methods: {
        getExtension(data) {
            return data.extension;
        },
        getJson(data, id, type) {
            let url = '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
            let json = {
                base: data.base,
                extension: data.extension,
                fichier: data.fichier,
                id: data.id,
                nom:  data.nom,
                poids: data.poids,
                type: data.type,
                url_telechargement: url
            }
            return JSON.stringify(json);
        },
        getIdDiv(offre, idx, type) {
            return offre + type + idx;
        },
        isArray(data) {
            return this.$parent.isArray(data);
        },
        getIndex(idx) {
            return idx.toString();
        },
        getName(data) {
            return data.type + '_' + data.id;
        },
        getId(data) {
            return data.type + '_' + data.id;
        },
        getValueForDumeOE(data) {
            return this.composantType + '##DUMEOE##' + data.type + '##' + data.id_blob;
        },
        getSize(octet) {
            return this.$parent.getSize(octet);
        },
        getNomPli(tradEntreprise, tradPli) {

            return tradEntreprise + ' ' + this.node.entreprise + ' | ' + tradPli + ' : ' + this.node.pli;
        },
        isAlloti() {
            if (this.enveloppes.alloti && this.enveloppes.alloti === 1) {
                return true;
            }
            return false;
        },
        getDownloadUrl(id, type){
            return '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
        },
        checkboxManager(event){
            $('input[name ="'+event.target.dataset.targetCheckbox+'"]').prop('checked', event.target.checked);
        },
        loadData(id, idOffre) {
            let apiUrl = '/agent/espace-documentaire/';
            if (!this.isLoaded) {
                let url = apiUrl + 'pieces-du-depots/' + idOffre + '/' + id + '.json'
                axios.get(url).then(response => {
                    if (!response.data.mpe.reponse.data.message) {
                        this.enveloppes = response.data.mpe.reponse.data;
                    }
                });
                this.isLoaded = true;
            }
        }
    }
};
</script>
<style lang="scss" scoped>
@import '../../css/espace-documentaire.scss';
</style>