<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->

<template>
    <div :class='color' class="card" :id="'enveloppe' + idDiv">
        <div class="card-header panel-heading" :id="'detailEnveloppe' + idDiv">
            <h2 :class='color' class="mb-0">
                <button :class='color' :aria-controls="'collapseEnveloppe'+ idDiv" aria-expanded="false" class="btn accordion-toggle"
                        :data-target="'#collapseEnveloppe' + idDiv" data-toggle="collapse" type="button">
                    {{ lang[titre] }} <span v-if="alloti == 1">| {{ node.label }} </span>
                    <span class="badge badge-dark d-inline-block float-right counter">{{ getCountFile(node) }}</span>
                </button>
            </h2>
        </div>
        <div :aria-labelledby="'detailEnveloppe' + idDiv" class="collapse" :data-parent="'#enveloppe' + idDiv" :id="'collapseEnveloppe' + idDiv">
            <div class="card-body">
                <div v-if="node && node.open == true" class="table tableEspaceDocumentaire">
                    <div class="table-header">
                         <span class="col col-12" v-if="step == 'etape3'">
                               <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                      value="checkboxManager" :data-target-checkbox="idDiv">
                                 {{ lang['FICHIERS_DOSSIERS'] }}
                         </span>
                        <span class="col col-12" v-if="step == '' || step == 'etap2'">
                            <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                   value="checkboxManager" :data-target-checkbox="idDiv">
                             {{ lang['FICHIERS_DOSSIERS'] }}
                        </span>
                    </div>
                    <div class="table-body">
                        <ul v-if="alloti == 1" class="list-group">
                            <li v-for="fichier in node.fichiers" class="list-group-item">
                                <span class="form-check" style="padding-left:2em;">
                                     <input class="form-check-input" :class="step" type="checkbox" :name="idDiv"
                                            :id="getId(fichier)"
                                            v-if="step == 'jetonSelect'"
                                            :disabled="getExtension(fichier) !== 'xml' && getExtension(fichier) !== 'p7s'"
                                            :extension="getExtension(fichier)"
                                            :value="getValue(fichier,titre,node.label)"
                                            :data-json="getJson(node, node.id,'ENV')">
                                    <input class="form-check-input" :class="step" type="checkbox" :name="idDiv"
                                           :id="getId(fichier)"
                                           v-if="step != 'jetonSelect'"
                                           :value="getValue(fichier,titre,node.label)"
                                           :data-json="getJson(node, node.id,'ENV')">

                                    <label class="form-check-label">
                                        <a :href="getDownloadUrl(fichier.id_blob,'ENV')">
                                       {{ fichier.nom }}
                                ({{ fichier.poids }})</a></label>
                                </span>
                            </li>
                        </ul>
                        <ul v-else class="list-group">
                            <li v-for="fichier in node" class="list-group-item">
                                <template v-if="fichier.id_blob">
                                    <span class="form-check" style="padding-left:2em;">
                                         <input class="form-check-input" :class="step" type="checkbox" :name="idDiv"
                                                :data-json="getJson(node, node.id,'ENV')"
                                                :id="getId(fichier)"
                                                v-if="step == 'jetonSelect'"
                                                :disabled="getExtension(fichier) !== 'xml' && getExtension(fichier) !== 'p7s'"
                                                :extension="getExtension(fichier)"
                                                :value="getValue(fichier,titre)">
                                         <input class="form-check-input" :class="step" type="checkbox" :name="idDiv"
                                                :data-json="getJson(node, node.id,'ENV')"
                                                :id="getId(fichier)"
                                                v-if="step != 'jetonSelect'"
                                                :value="getValue(fichier,titre)">
                                        <label class="form-check-label">
                                            <a :href="getDownloadUrl(fichier.id_blob,'ENV')">{{ fichier.nom }}({{ fichier.poids }})</a>
                                        </label>
                                    </span>
                                </template>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['ENVELOPPE_ACTUELLEMENT_FERMEE'] }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import $ from "jquery";

export default {
    props: ['node', 'nomenveloppe', 'alloti', 'titre', 'color', 'idDiv', 'step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId'],
    data() {
        return {
            isLoaded: false,
            elements: "",
        }
    },
    methods: {
        getExtension(data) {
            return data.extension;
        },
        getJson(data, id, type) {
            let url = '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
            let json = {
                base: data.base,
                extension: data.extension,
                fichier: data.fichier,
                id: data.id,
                nom:  data.nom,
                poids: data.poids,
                type: data.type,
                url_telechargement: url
            }
            return JSON.stringify(json);
        },
        isArray(data) {
            return this.$parent.isArray(data);
        },
        decoder(str) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = str;
            return textArea.value;
        },
        getName(data) {
            return 'checkbox'+data.type;
        },
        getId(data) {
            return data.type + '_' + data.id_blob;
        },
        getSize(octet) {
            return this.$parent.getSize(octet);
        },
        getValue(data) {
            var parent = this.$parent.node;
            var value = this.$parent.composantType + '##' + parent.pli + '-' + parent.entreprise + '##' + this.nomenveloppe + '##';

            if(this.alloti == 1){
                value+=this.node.labelLot+ '##';
            }
            value+=data.id_blob;
            return value;
        },
        isAlloti() {
            if (this.elements.alloti && this.elements.alloti == 1) {
                return true;
            }

            return false;
        },
        getDownloadUrl(id, type){
            return '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
        },
        checkboxManager(event){
            $('input[name ="'+event.target.dataset.targetCheckbox+'"]').prop('checked', event.target.checked);
        },
        loadData(baseUrl, id, idOffre) {
            let apiUrl = baseUrl + '/agent/espace-documentaire/';

            if (!this.isLoaded) {
                apiUrl = apiUrl.concat('pieces-plis-attributaires/', idOffre, '/', id, '.json');
                axios.get(apiUrl).then(response => {
                    if (!response.data.mpe.reponse.data.message) {
                        this.elements = response.data.mpe.reponse.data;
                    }
                });
                this.isLoaded = true;
            }
        },
        getCountFile(node) {
            let count = 0;
            if(node.fichiers != undefined && node.open == true) {
                count = node.fichiers.length;
            } else if(node.open) {
                count = Object.values(node).length - 1 ;
            }

            return count;
        }
    },
};
</script>
<style lang="scss" scoped>
@import '../../css/espace-documentaire.scss';
@import '../../css/espace-documentaire-etape2.scss';
@import '../../css/espace-documentaire-jeton.scss';
</style>