<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="card" id="dce">
    <div class="card-header panel-heading" id="detailDCE">
        <h2 class="mb-0">
            <button aria-controls="collapseDetailDCE" aria-expanded="false" class="btn accordion-toggle collapsed"
                    data-target="#collapseDetailDCE" data-toggle="collapse" type="button" v-on:click="loadData(consultationId)">
                {{ lang['TEXT_PIECES_DCE'] }}
                <span class="badge badge-light d-inline-block float-right counter">{{ globalCounter }}</span>
            </button>
            <svg aria-hidden="true" class="picto" data-icon="layer-group" data-prefix="fas" focusable="false"
                 role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.41 148.02l232.94 105.67c6.8 3.09 14.49 3.09 21.29 0l232.94-105.67c16.55-7.51 16.55-32.52 0-40.03L266.65 2.31a25.607 25.607 0 0 0-21.29 0L12.41 107.98c-16.55 7.51-16.55 32.53 0 40.04zm487.18 88.28l-58.09-26.33-161.64 73.27c-7.56 3.43-15.59 5.17-23.86 5.17s-16.29-1.74-23.86-5.17L70.51 209.97l-58.1 26.33c-16.55 7.5-16.55 32.5 0 40l232.94 105.59c6.8 3.08 14.49 3.08 21.29 0L499.59 276.3c16.55-7.5 16.55-32.5 0-40zm0 127.8l-57.87-26.23-161.86 73.37c-7.56 3.43-15.59 5.17-23.86 5.17s-16.29-1.74-23.86-5.17L70.29 337.87 12.41 364.1c-16.55 7.5-16.55 32.5 0 40l232.94 105.59c6.8 3.08 14.49 3.08 21.29 0L499.59 404.1c16.55-7.5 16.55-32.5 0-40z"
                      fill="currentColor"></path>
            </svg>
        </h2>
    </div>
    <div aria-labelledby="detailDCE" class="collapse" data-parent="#dce" id="collapseDetailDCE">
        <div class="card-body">
            <h3 class="title">{{ lang['DEFINE_RC'] }}</h3>
            <div v-if="rc" class="table tableEspaceDocumentaire">
                <!-- RC -->
                <div class="table-header"><span class="col col-12">{{ lang['FICHIERS_DOSSIERS'] }}</span></div>
                <div  class="table-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                                            <span class="form-check" style="padding-left:2em;">
                                                 <input class="form-check-input" :class="step" type="checkbox" :name="getName(rc)"
                                                        v-if="step == 'jetonSelect'"
                                                        :id="getId(rc)"
                                                        :disabled="getExtension(rc) !== 'xml' && getExtension(rc) !== 'p7s'"
                                                        :extension="getExtension(rc)"
                                                        :value="getValue(rc)">
                                                 <input class="form-check-input" :class="step" type="checkbox" :name="getName(rc)"
                                                        v-if="step != 'jetonSelect'"
                                                        :id="getId(rc)"
                                                        :value="getValue(rc)"
                                                        :data-json="getJson(rc, rc.id, 'RC')">
                                                <label class="form-check-label" >
                                                 <a   :href="getDownloadUrl(rc.id,rc.type)" >
                                                {{ rc.nom }}
                                    ({{ getSize(rc.poids) }}  )</a></label>
                                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-else>
                <div class="alert alert-warning">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                </div>
            </div>
            <!-- FIN RC -->
            <!-- DCE -->
            <h3 class="title">{{ lang['DEFINE_DCE'] }}</h3>
            <div v-if="dce && dce.listes" class="table tableEspaceDocumentaire">
                <div class="table-header">
                    <span class="col col-12" v-if="step == 'jetonSelect'">

                                {{ lang['FICHIERS_DOSSIERS'] }}
                    </span>
                    <span class="col col-12" v-if="step == 'etape3'">
                                <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                       name="checkboxManagerDCE" id="checkboxManagerDCE" value="checkboxManager">
                                {{ lang['FICHIERS_DOSSIERS'] }}
                    </span>
                    <span class="col col-12"  v-if="step == ''">
                                <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                       name="checkboxManagerDCE" id="checkboxManagerDCE" value="checkboxManager">
                                {{ lang['FICHIERS_DOSSIERS'] }}
                    </span>
                </div>
                <div v-if="dce" class="table-body">
                    <dce v-for="child in dce.listes" :node="child" :depth="2" :master-id="dce.id" :step="step" :consultation-id="consultationId" :encrypted-agent-id="encryptedAgentId">
                    </dce>
                </div>
            </div>
            <div v-else>
                <div class="alert alert-warning">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                </div>
            </div>
            <!-- FIN DCE -->
            <!-- AUTRES PIECES -->
            <h3 class="title">{{ lang['DEFINE_AUTRES_PIECES_TELECHARGEABLES'] }}</h3>
            <div v-if="autresPieces" class="table tableEspaceDocumentaire">
                <div class="table-header"><span class="col col-12">{{ lang['FICHIERS_DOSSIERS'] }}</span></div>
                <div class="table-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                                            <span class="form-check" style="padding-left:2em;">
                                            <input class="form-check-input" :class="step" type="checkbox"
                                                   v-if="step == 'jetonSelect'"
                                                   :name="getName(autresPieces)" :id="getId(autresPieces)"
                                                   :disabled="getExtension(autresPieces) !== 'xml' && getExtension(autresPieces) !== 'p7s'"
                                                   :extension="getExtension(autresPieces)"
                                                   :value="getValue(autresPieces)"
                                                   :data-json="getJson(autresPieces, autresPieces.id, autresPieces.type)">
                                                <input class="form-check-input" :class="step" type="checkbox" v-if="step != 'jetonSelect'"
                                                       :name="getName(autresPieces)" :id="getId(autresPieces)"
                                                       :value="getValue(autresPieces)" :data-json="getJson(autresPieces, autresPieces.id, autresPieces.type)">
                                            <label class="form-check-label">
                                                <a   :href="getDownloadUrl(autresPieces.id,autresPieces.type)" >
                                                {{ autresPieces.nom }}
                                    ({{ getSize(autresPieces.poids) }} )</a></label>
                                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-else>
                <div class="alert alert-warning">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                </div>
            </div>
            <!-- FIN AUTRES PIECES -->
            <!-- DUME ACHETEUR -->
            <h3 class="title">{{ lang['TEXT_DUME_ACHETEUR'] }}</h3>
            <div v-if="dumeAcheteur" class="table tableEspaceDocumentaire">
                <div class="table-header"><span class="col col-12">
                           <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                  v-if="step != 'jetonSelect'"
                                  value="checkboxManager" data-target-checkbox="checkboxDUMEACHETEUR">
                                {{ lang['FICHIERS_DOSSIERS'] }}</span></div>
                <div  class="table-body">
                    <ul class="list-group">
                        <li v-for="node in dumeAcheteur.fichiers" class="list-group-item">
                                            <span class="form-check" style="padding-left:2em;">
                                                 <input class="form-check-input" type="checkbox" name="checkboxDUMEACHETEUR"
                                                        v-if="step == 'jetonSelect'"
                                                        :id="getId(node)"
                                                        :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                                                        :extension="getExtension(node)"
                                                        :data-json="getJson(node, node.id,'DUME')"
                                                        :value="getValue(node, dumeAcheteur.type+'##'+node.format)">
                                                <input class="form-check-input" type="checkbox" name="checkboxDUMEACHETEUR"
                                                       v-if="step != 'jetonSelect'"
                                                       :id="getId(node)"
                                                       :data-json="getJson(node, node.id,'DUME')"
                                                       :value="getValue(node, dumeAcheteur.type+'##'+node.format)">
                                                <label class="form-check-label">
                                                    <a :href="getDownloadUrl(node.id,'DUME')" >
                                                    {{ node.nom }}
                                            ({{ getSize(node.poids)  }})</a></label>
                                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-else>
                <div class="alert alert-warning">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                </div>
            </div>
            <!-- FIN DUME ACHETEUR -->
        </div>
    </div>
    </div>
</template>
<script>
    import axios from "axios";
    import $ from "jquery";
    import dce from "./dce";

    export default {
        props: ['step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId'],
        data() {
            return {
                isLoaded: false,
                rc: "",
                autresPieces: "",
                dumeAcheteur: "",
                dce: "",
                composantType: 'PIECESDCE',
            }
        },
        components: {
            'dce': dce,
        },
        methods: {
            getName(data) {
                return data.type + '_' + data.id;
            },
            getId(data, type = null) {
                if (type) {
                    return type + '_' + data.id;
                }
                return data.type + '_' + data.id;
            },
            getExtension(data) {
                return data.extension;
            },
            getValue(data, type = null) {
                if (type) {
                    data.type = type;
                }
                return this.composantType + '##' + data.type + '##' + data.id;
            },
            getSize(octet) {
                return this.$parent.getSize(octet);
            },
            getDownloadUrl(id, type){
                return '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
            },
            checkboxManager(event){
                $('input[name ="checkboxDCE"]').prop('checked', event.target.checked);
            },
            loadData(id) {
                const apiUrl = '/agent/espace-documentaire/';

                if (!this.isLoaded) {
                    const urlRc = apiUrl + 'rc/' + id + '.json'
                    const urlOther = apiUrl + 'dce/autres-pieces/' + id + '.json';
                    const urLDumeAcheteur = apiUrl + 'dume/dume-acheteur/' + id + '.json';
                    const urlDce = apiUrl + 'dce/' + id + '.json';
                    axios.get(urlRc).then(response => {
                        if (response.data.mpe.reponse.data.id) {
                            this.rc = response.data.mpe.reponse.data;
                        }
                    });
                    axios.get(urlOther).then(response => {
                        if (response.data.mpe.reponse.data.id) {
                            this.autresPieces = response.data.mpe.reponse.data;
                        }
                    });
                    axios.get(urLDumeAcheteur).then(response => {
                        if (response.data.mpe.reponse.data.fichiers) {
                            this.dumeAcheteur = response.data.mpe.reponse.data;
                        }
                    });
                    axios.get(urlDce).then(response => {
                        if (response.data.mpe.reponse.data) {
                            this.dce = response.data.mpe.reponse.data;
                        }
                    });
                    this.isLoaded = true;
                }
            },
            getJson(data, id, type) {
                let url = '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
                let json = {
                    base: data.base,
                    extension: data.extension,
                    fichier: data.fichier,
                    id: data.id,
                    nom:  data.nom,
                    poids: data.poids,
                    type: data.type,
                    url_telechargement: url
                }
                return JSON.stringify(json);
            }
        }
    };
</script>
<style lang="scss">
    @import '../../css/espace-documentaire.scss';
    @import '../../css/espace-documentaire-etape2.scss';
    @import '../../css/espace-documentaire-jeton.scss';
</style>

