<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="card" id="pub">
        <div class="card-header panel-heading" id="detailPub">
            <h2 class="mb-0">
                <button aria-controls="collapseDetailPub" aria-expanded="false" class="btn accordion-toggle collapsed"
                        data-target="#collapseDetailPub" data-toggle="collapse" type="button" v-on:click="loadData(consultationId)">
                    {{ lang['TEXT_PIECES_ENTREPRISES'] }}
                    <span class="badge badge-light d-inline-block float-right counter">{{ globalCounter }}</span>
                </button>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="newspaper"
                     class="picto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor"
                          d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z"></path>
                </svg>
            </h2>
        </div>
        <div aria-labelledby="detailPub" class="collapse" data-parent="#pub" id="collapseDetailPub">
            <div class="card-body">
                <h3 class="title">{{ lang['FICHIERS_JOINTS_PUB_FORMAT_LIBRE'] }}</h3>
                <div v-if="pub" class="table tableEspaceDocumentaire">
                    <div class="table-header">
                     <span class="col col-12">
                           <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                  v-if="step != 'jetonSelect'"
                                  value="checkboxManager" data-target-checkbox="checkboxPUB">
                                {{ lang['FICHIERS_DOSSIERS'] }}</span>

                    </div>
                    <div  class="table-body">
                        <ul class="list-group">
                            <li v-for="node in pub.fichiers" class="list-group-item">
                                            <span class="form-check" style="padding-left:2em;">
                                                 <input class="form-check-input" :class="step" type="checkbox" name="checkboxPUB"
                                                        v-if="step == 'jetonSelect'"
                                                        :id="getId(node)"
                                                        :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                                                        :extension="getExtension(node)"
                                                        :value="getValue(node)"
                                                        :data-json="getJson(node, node.id,'PUB')">
                                                <input class="form-check-input" :class="step" type="checkbox" name="checkboxPUB"
                                                       v-if="step != 'jetonSelect'"
                                                       :id="getId(node)"
                                                       :value="getValue(node)"
                                                       :data-json="getJson(node, node.id,'PUB')">
                                                <label class="form-check-label">
                                                    <a :href="getDownloadUrl(node.id,'PUB')" >
                                                    {{ node.nom }}
                                            ({{ getSize(node.poids)  }})</a></label>
                                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    import $ from "jquery";

    export default {
        name: "PiecePub",
        props: ['step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId'],
        data: function () {
            return {
                isLoaded: false,
                pub: ""
            }
        },
        methods: {
            getName(data) {
                return data.type + '_' + data.id;
            },
            getExtension(data) {
                return data.extension;
            },
            getId(data) {
                return data.type + '_' + data.id;
            },
            getSize(octet) {
                return this.$parent.getSize(octet);
            },
            getValue(data) {
                return this.pub.type + '##' + data.id;
            },
            getDownloadUrl(id,type){
                return '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
            },
            checkboxManager(event){
                $('input[name ="checkboxPUB"]').prop('checked', event.target.checked);
            },
            loadData(id) {
                var apiUrl = '/agent/espace-documentaire/';

                if (!this.isLoaded) {
                    var url = apiUrl + 'publicite/' + id + '.json';
                    axios.get(url).then(response => {
                        if (response.data.mpe.reponse.data.fichiers) {
                            this.pub = response.data.mpe.reponse.data;
                        }
                    });
                    this.isLoaded = true;
                }
            },
            getJson(data, url,consultationId,encryptedAgentId,id,type) {
                var url = '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
                var json = {
                    base: data.base,
                    extension: data.extension,
                    fichier: data.fichier,
                    id: data.id,
                    nom:  data.nom,
                    poids: data.poids,
                    type: data.type,
                    url_telechargement: url
                }
                return JSON.stringify(json);
            }
        }
    };
</script>
<style lang="scss" scoped>
    @import '../../css/espace-documentaire.scss';
    @import '../../css/espace-documentaire-etape2.scss';
    @import '../../css/espace-documentaire-jeton.scss';
</style>