<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="card" id="depot">
        <div class="card-header panel-heading" id="detailDepot">
            <h2 class="mb-0">
                <button aria-controls="collapseDetailDepot" aria-expanded="false" class="btn accordion-toggle collapsed"
                        data-target="#collapseDetailDepot" data-toggle="collapse" type="button" v-on:click="loadData(consultationId)">
                    {{ lang['PIECES_DEPOTS'] }}
                    <span class="badge badge-light d-inline-block float-right counter">{{ globalCounter }}</span>
                </button>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="boxes" class="picto"
                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor"
                          d="M560 288h-80v96l-32-21.3-32 21.3v-96h-80c-8.8 0-16 7.2-16 16v192c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16V304c0-8.8-7.2-16-16-16zm-384-64h224c8.8 0 16-7.2 16-16V16c0-8.8-7.2-16-16-16h-80v96l-32-21.3L256 96V0h-80c-8.8 0-16 7.2-16 16v192c0 8.8 7.2 16 16 16zm64 64h-80v96l-32-21.3L96 384v-96H16c-8.8 0-16 7.2-16 16v192c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16V304c0-8.8-7.2-16-16-16z"></path>
                </svg>
            </h2>
        </div>
        <div aria-labelledby="detailDepot" class="collapse" data-parent="#depot" id="collapseDetailDepot">
            <div class="card-body">
                <div v-if="depots">
                    <depot v-for="node in depots" :node="node" :step="step" :lang="lang" :consultationId="consultationId" :encrypted-agent-id="encryptedAgentId"></depot>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['AUCUN_PLIS'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    import Depot from "../espace-documentaire/depot";

    export default {
        props: ['step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId'],
        components: {
            'depot': Depot,
        },
        data() {
            return {
                isLoaded: false,
                depots: ""
            }
        },
        methods: {
            getJson(data, url,consultationId,encryptedAgentId,id,type) {
                var url = '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
                var json = {
                    base: data.base,
                    extension: data.extension,
                    fichier: data.fichier,
                    id: data.id,
                    nom:  data.nom,
                    poids: data.poids,
                    type: data.type,
                    url_telechargement: url
                }
                return JSON.stringify(json);
            },
            isArray(data) {
                return this.$parent.isArray(data);
            },
            getName(data) {
                return data.type + '_' + data.id;
            },
            getExtension(data) {
                return data.extension;
            },
            getId(data) {
                return data.type + '_' + data.id;
            },
            getSize(octet) {
                return this.$parent.getSize(octet);
            },
            getDownloadUrl(id,type){
                return '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
            },
            loadData(id) {
                var apiUrl = '/agent/espace-documentaire/';

                if (!this.isLoaded) {
                    var url = apiUrl + 'plis/' + id + '.json';
                    axios.get(url).then(response => {
                        if (response.data.mpe.reponse.data.plis) {
                            this.depots = response.data.mpe.reponse.data.plis;
                        }
                    });
                    this.isLoaded = true;
                }
            }
        }
    };
</script>
<style lang="scss" scoped>
    @import '../../css/espace-documentaire.scss';
    @import '../../css/espace-documentaire-etape2.scss';
    @import '../../css/espace-documentaire-jeton.scss';
</style>