<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <notifications width="20%" style="margin-top: 50px; margin-right: 30px"/>
    <div class="card" id="model">
        <div class="card-header panel-heading" id="detailModel">
            <h2 class="mb-0">
                <button aria-controls="collapseDetailModel"
                        aria-expanded="false"
                        id="btnDatailModel"
                        class="btn accordion-toggle btnDatailModel"
                         type="button" v-on:click="loadData(this.urlload)">
                    <span class="title-card">
                        {{ lang['TEXT_RAPPORT_COURRIER_PIECES_GENEREES_MODELE'] }}
                    </span>
                    <span class="badge badge-light d-inline-block float-right counter">{{ counterBadge }}</span>
                </button>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-text-o"
                     class="picto ml-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path fill="currentColor"
                          d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"></path>
                </svg>
            </h2>
        </div>
        <div aria-labelledby="detailModel" class="collapse" data-parent="#model" id="collapseDetailModel">
            <div class="card-body">
                <div v-if="autres.fichiers.length" class="table tableEspaceDocumentaire">
                    <div class="table-header">
                        <span class="col col-8" v-if="step == 'etape3'">
                               <input v-on:click="checkboxManager"
                                      class="form-check-input tableEspaceDocumentaire__headerTableInput"
                                      type="checkbox"
                                      value="checkboxModel"
                                      data-target-checkbox="checkboxPIECESMODELS"
                                      if="piecesModelsInput"
                               >
                                <label for="piecesModelsInput">
                                    {{ lang['FICHIERS_DOSSIERS'] }}
                                </label>
                        </span>
                        <span class="col col-8" v-if="step == ''">
                               <input v-on:click="checkboxManager"
                                      class="form-check-input tableEspaceDocumentaire__headerTableInput"
                                      type="checkbox"
                                      value="checkboxModel"
                                      data-target-checkbox="checkboxPIECESMODELS"
                                      if="piecesModelsInput"
                               >
                            <label for="piecesModelsInput">
                                   {{ lang['FICHIERS_DOSSIERS'] }}
                            </label>
                        </span>
                        <span class="col col-8" v-if="step == 'etape2'">
                            {{ lang['FICHIERS_DOSSIERS'] }}
                        </span>
                        <span class="col col-2 date">{{ lang['AJOUTER_LE'] }}</span>
                        <span class="col col-2 action" v-if="step == ''">{{ lang['DEFINE_ACTIONS'] }}</span>
                    </div>
                    <div  class="table-body">
                        <ul class="list-group">
                            <li v-for="(node, index) in autres.fichiers" class="list-group-item row">

                            <span class="form-check col col-8">
                                <input class="form-check-input form-check-input--tableInput" :class="step"
                                       type="checkbox"
                                       name="checkboxPIECESMODELS"
                                       v-if="step == 'jetonSelect'"
                                       :id="getId(node)"
                                       :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                                       :extension="getExtension(node)"
                                       :value="getValue(node)"
                                       :data-json="getJson(node, node.id,'AUTRES')"
                                >

                                <input class="form-check-input form-check-input--tableInput file" :class="step"
                                        type="checkbox"
                                        name="checkboxPIECESMODELS"
                                        v-if="step != 'jetonSelect'"
                                        :id="getId(node)"
                                        :value="getValue(node)"
                                        :data-json="getJson(node, node.id,'AUTRES')"
                                >
                                <label class="form-check-label">
                                                    <a :href="getDownloadUrl(node.id,'AUTRES')" >
                                                    {{ node.nom }}
                                                    ({{ getSize(node.poids)  }})</a>
                                </label>
                            </span>
                                <span class="col col-2 date">{{ node.created_at }}</span>
                                <span class="col col-2">
                                    <span class="modele_action col-12 d-contents" v-if="!node.checkEchangeDocumentaire">
                                        <button name="modifier"
                                                class="btn btn-secondary"
                                                type="button"
                                                :title="lang['MODIFIER']"
                                                v-if="(node.uploaded && !isAnalyseOffreFile(node.nom)) && (!node.generatePdf && getExtension(node) != 'pdf')"
                                                v-on:click="updateFile(index, this.urlupdatefile)">
                                                <i class="fas fa-pencil-alt fa-sm"></i></button>

                                        <a name="modifier"
                                           class="btn btn-secondary"
                                           :title="lang['MODIFIER']"
                                           target="_blank"
                                           v-if="node.uploaded && isAnalyseOffreFile(node.nom)"
                                           :href="this.urlopenfile">
                                                <i class="fas fa-pencil-alt fa-sm"></i></a>


                                          <button :name="lang['CONVERTIR_PDF']"
                                                  class="btn btn-secondary"
                                                  :title="lang['CONVERTIR_PDF']"
                                                  v-if="node.uploaded && getExtension(node) === 'docx'"
                                                  v-on:click="downloadPdfFile(index, this.urldownload)">
                                              <em class="fas fa-file-pdf fa-sm"></em>
                                          </button>

                                         <button name="supprimer"
                                                 class="btn btn-danger"
                                                 :title="lang['DEFINE_SUPPRIMER']"
                                                 v-if="node.uploaded"
                                                 v-on:click="deleteFile(index, this.urldelete, 'Êtes-vous sûr de vouloir supprimer ce fichier ?')">
                                                <i class="fas fa-trash fa-sm"></i></button>
                                    </span>
                                    <span  class="col action" v-else>
                                        <button name="supprimer" type="button" class="no-delete" :title="lang['SUPPRESSION_IMPOSSIBLE']">
                                                <i class="fas fa-trash fa-sm"></i>
                                        </button>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                    </div>
                </div>
                <button type="button" class="btn btn-primary m-b-1 create" data-toggle="modal" data-target="#modal_add_doc" v-if="!this.hide">
                    <i class="fas fa-plus-square m-r-1"></i>
                    {{ lang['TEXT_CREATION_DOC'] }}
                </button>
            </div>
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="modal_add_doc" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">{{ lang['AJOUTER_DOC_PRE_REMPLI'] }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="id_model" class="col-form-label">{{ lang['TEXT_MODELE'] }}
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <div class="dropdown">
                                    <button class="custom-select text-left form-control w-100" type="button" id="dropdown-modeles" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        {{ selectedModele }}
                                    </button>
                                    <div id="select-lots" class="dropdown-menu w-100" aria-labelledby="dropdown-modeles">
                                        <div v-for="name in fileNames" class="bg-orange" v-on:click="setNameModele(name.libelle, name.libelle, name.code, name.extension)">
                                            <span class="ml-4">{{ name.code }} - {{ name.libelle }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 m-t-2 text-danger" v-bind:style="{display: displayRequired}">
                                <img
                                    src="/themes/images/picto-check-not-ok.gif"
                                    alt="{{ lang['CHAMPS_OBLIGATOIRE'] }}"/> {{ lang['CHAMPS_OBLIGATOIRE'] }}
                            </div>

                            <div v-if="lots.length > 0" class="col-sm-12">
                                <label class="col-form-label">{{ lang['TEXT_LOT'] }}</label>
                                <multiselect
                                    v-model="selectedLots"
                                    :options="lots"
                                    :multiple="true"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :preserve-search="true"
                                    :show-labels="false"
                                    placeholder=""
                                    label="numero"
                                    :custom-label="customLabelLot"
                                    track-by="numero"
                                    :preselect-first="false"
                                    @select="handleSelectAllLots"
                                >
                                </multiselect>
                            </div>

                            <div class="col-sm-3 mt-3" v-if="displayFieldEntrepise">
                                <label class="col-form-label">{{ lang['TEXT_ENTREPRISE'] }}</label>
                            </div>
                            <div class="col-sm-9 mt-3" v-if="displayFieldEntrepise">
                                <multiselect
                                    v-model="selectedEntreprises"
                                    :options="entreprises"
                                    :multiple="true"
                                    :close-on-select="false"
                                    :clear-on-select="false"
                                    :preserve-search="true"
                                    :show-labels="false"
                                    placeholder=""
                                    label="nomEntrepriseInscrit"
                                    track-by="entrepriseId"
                                    :preselect-first="false"
                                    @select="handleSelectAllEntreprises"
                                >
                                </multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer clearfix" id="modal_add_doc_footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ lang['TEXT_ANNULER'] }}</button>
                        <button type="button" class="btn btn-primary pull-right create"
                                v-on:click="generate(this.urlgenerate)">
                            {{ lang['TEXT_VALIDER'] }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import axios from "axios";
    import $ from "jquery";
    import tokenService from "../../services/token.service";
    import lotsService from "../../services/lot.service";
    import offresService from "../../services/offre.service";
    import Multiselect from "vue-multiselect";
    import 'vue-multiselect/dist/vue-multiselect.css';

    export default {
        components: {
            Multiselect
        },
        props: [
            'step',
            'urlupdatefile',
            'urlopenfile',
            'urldownload',
            'urldelete',
            'urlgenerate',
            'urlload',
            'urlGetModels',
            'globalCounter',
            'consultationId',
            'lang',
            'encryptedAgentId'
        ],
        name: "PieceModele",
        data() {
            return {
                isLoaded: false,
                models: [],
                autres: {
                    fichiers: []
                },
                consultation: {
                    offres: [],
                    lots: []
                },
                file: '',
                fileNameSelected: '',
                fileNames: '',
                displayRequired: 'none',
                lotSelected: '',
                numberLot: '',
                entrepriseSelected: '',
                idEntreprise: '',
                candidats: [],
                selectedCandidatByLot: false,
                selectedModele: '',
                displayFieldEntrepise: false,
                generatePdf: false,
                hide: false,
                codeSelected: '',
                extensionSelected: '',
                lots : [],
                offres : [],
                entreprises : [],
                selectedLots : [],
                selectedEntreprises : [],
                candidaturesByLots : [],
                localCounter : 0
            }
        },
        methods: {
            getExtension(data) {
                return data.extension;
            },
            getId(data) {
                return data.type + '_' + data.id;
            },
            getValue(data) {
                return this.autres.type + '##' + data.id;
            },
            getSize(octet) {
                return this.$parent.getSize(octet);
            },
            getDownloadUrl(id,type){
                return '/agent/direct-download/' + this.encryptedAgentId + '/' + this.consultationId + '/' + type + '-' + id;
            },
            checkboxManager(event){
                $('input[name ="'+event.target.dataset.targetCheckbox+'"]').prop('checked', event.target.checked);
            },
            getModele() {
                axios.get(this.urlGetModels).then(response => {
                    this.fileNames = response.data;
                });
            },
            consultationSubmitCloseModal(modalId) {
              let modal = document.getElementById(modalId);

              modal.classList.remove('show');
              modal.setAttribute('aria-hidden', 'true');
              modal.setAttribute('style', 'display: none');

              let modalBackdrops = document.getElementsByClassName('modal-backdrop');

              document.body.removeChild(modalBackdrops[0]);
              let element = document.querySelector('.modal-backdrop.fade.show');
              if (element) {
                  element.style.display = 'none';
              }
            },
            loadData(url) {
                if (!this.isLoaded) {
                    axios.get(url).then(response => {
                        if (response.data.statut == 200) {
                            this.autres = response.data;
                        }
                    });
                    this.isLoaded = true;
                }
                $('#collapseDetailModel').collapse('toggle');
                if($('.btnDatailModel').attr('id') == 'btnDatailModelDeplie') {
                    $('.btnDatailModel').attr('class', 'btn accordion-toggle btnDatailModel');
                    $('.btnDatailModel').attr('id', 'btnDatailModel');
                } else {
                    $('.btnDatailModel').addClass('collapsed');
                    //$('.btnDatailModel').attr('class', 'btn collapsed accordion-toggle btnDatailModel');
                    $('.btnDatailModel').attr('id', 'btnDatailModelDeplie');
                }
            },
            getFileName(numberLot, nomEntrepriseInscrit) {
                let name = this.fileNameSelected.replace(/\.[^/.]+$/, "");
                name = this.replaceCharacters(name);
                let extension = '.' + this.extensionSelected;

                if (numberLot > 0) {
                    name += '_lot_' + numberLot;
                }

                if (nomEntrepriseInscrit !== '') {
                    // Replace empty strings with "_", and escape special characters
                    nomEntrepriseInscrit = this.replaceCharacters(nomEntrepriseInscrit);
                    name += '_' + nomEntrepriseInscrit;
                }

                return name + extension;
            },
            generate(url) {
                if(this.fileNameSelected != '') {
                    this.displayRequired = 'none';
                    let name = '';

                    if (this.selectedLots.length > 0 && this.selectedEntreprises.length > 0 ) {
                        // Téléchargement multiple :
                        // génération de fichers en faisant un croisement de chaque lot avec chaque entreprise

                        const candidatureKeys = new Set(
                            this.candidaturesByLots.map(
                                (candidatLot) => `${candidatLot.numLot}-${candidatLot.idEntreprise}`
                            )
                        );

                        // Iterate through selectedLots and selectedEntreprises
                        this.selectedLots.forEach((lot) => {
                            this.selectedEntreprises.forEach((candidat) => {
                                const key = `${lot.numero}-${candidat.entrepriseId}`;
                                if (candidatureKeys.has(key)) {
                                    name = this.getFileName(lot.numero, candidat.nomEntrepriseInscrit);
                                    this.generateFile(url, name, lot.numero, candidat.entrepriseId);
                                }
                            });
                        });
                    } else if (this.selectedLots.length > 0) {
                        // Téléchargement multiple, génération pour chaque lot
                        this.selectedLots.forEach((lot) => {
                            name = this.getFileName(lot.numero, '');
                            this.generateFile(url, name, lot.numero, '');
                        });
                    } else if (this.selectedEntreprises.length > 0) {
                        // Téléchargement multiple, génération pour chaque entreprise
                        this.selectedEntreprises.forEach(candidat => {
                            name = this.getFileName('', candidat.nomEntrepriseInscrit);
                            this.generateFile(url, name, '', candidat.entrepriseId);
                        });
                    } else {
                        // Téléchargement simple, génération sans lot ou entreprise
                        name = this.getFileName('', '');
                        this.generateFile(url, name, '', '');
                    }

                    this.selectedLots = [];
                    this.selectedEntreprises = [];
                    this.selectedModele = '';
                    this.numberLot = '';
                    this.codeSelected = '';
                    this.extension = '';
                    this.extensionSelected = '';

                    $('#dropdown-entreprises').val('');
                    $('#modal_add_doc').modal('toggle');
                } else {
                   this.displayRequired = 'block';
                }
            },
            generateFile(url, name, numberLot, idEntreprise) {
                let data = {
                    'id': '',
                    'nom': name,
                    'poids': null,
                    'created_at': '',
                    'uploaded': false
                }
                this.autres.fichiers.push(data);
                let dataIndex = this.autres.fichiers.length - 1;

                const options = {
                    template: this.fileNameSelected,
                    lotNumber: numberLot,
                    entrepriseId: idEntreprise,
                    fileCode: this.codeSelected,
                    extension: this.extensionSelected
                };

                axios.post(url, options).then(response => {
                    if (response.data.statut == 200) {
                        this.autres.fichiers[dataIndex] = {
                            id : response.data.fichier.id,
                            nom : response.data.fichier.nom,
                            extension : response.data.fichier.extension,
                            uploaded : response.data.fichier.uploaded,
                            created_at : response.data.fichier.created_at,
                            poids : response.data.fichier.poids,
                        };

                        this.localCounter++;
                        this.consultationSubmitCloseModal('modal_add_doc');
                    } else {
                        console.log('Error while uploading new file');
                        if (response.data.statut === 404) {
                            alert(response.data.message);
                        }
                    }
                });
            },
            updateFile(index, url, message) {
                let data = this.autres.fichiers[index];
                let apiUrl = url.replace('blod_index_replace', data.id);

                axios.get(apiUrl)
                    .then(response => { window.open(response.data);});

                if (this.autres.fichiers.length == 0) {
                    this.autres.fichiers = null;
                }
            },
            deleteFile(index, url, message) {
                if (confirm(message)) {
                    let data = this.autres.fichiers[index];
                    let apiUrl = url.replace('blod_index_replace', data.id);
                    axios.delete(apiUrl)
                        .then(() => {
                            this.autres.fichiers.splice(index, 1);
                            this.localCounter--;
                        })
                        .catch(function (response) {
                            console.log('Error while deleting file');
                            console.log(response);
                        });

                    if (this.autres.fichiers.length == 0) {
                        this.autres.fichiers = null;
                    }
                }
            },
            getJson(data,id,type) {
                var url = '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
                var json = {
                    base: data.base,
                    extension: data.extension,
                    fichier: data.fichier,
                    id: data.id,
                    nom:  data.nom,
                    poids: data.poids,
                    type: data.type,
                    url_telechargement: url
                }
                return JSON.stringify(json);
            },
            getCandidatLot(consultationId) {
                let url = '/agent/consultation/lot/' + this.numberLot + '/candidature/' + consultationId;
                axios.get(url)
                    .then(response => {
                        this.candidats = response.data;
                        this.selectedCandidatByLot = true;
                    });
            },
            isAnalyseOffreFile(nameFile) {
                var matches = nameFile.trim().match(/^analyse-des-offres/);
                if (matches) {
                    return true;
                }
                return false;
            },
            setNameModele(modeleName, fileName, codeFile, extensionSelected) {
                this.fileNameSelected = fileName
                this.selectedModele = modeleName;
                this.codeSelected = codeFile;
                this.extensionSelected = extensionSelected;
                var matches = fileName.trim().match(/NOTI4|annexe_financiere|OUV[3-9]|OUV10/);

                if (matches) {
                    this.displayFieldEntrepise = false;
                } else {
                    this.displayFieldEntrepise = true;
                }
            },
            downloadPdfFile(index, url) {
                const data = this.autres.fichiers[index];

                if(typeof data != undefined) {
                    const urlGeneratePdf = url.replace('blod_index_replace', data.id);
                    const utc = new Date().toJSON().slice(0,10).replace(/-/g,'');
                    const name = data.nom.replace(/\.[^/.]+$/, "_") + utc + '....';
                    const dataIndex = this.initNewData(name);

                    axios.get(urlGeneratePdf).then(response => {
                        if (response.data.statut == 200) {
                            this.autres.fichiers[dataIndex].generatePdf = true;
                            this.autres.fichiers[dataIndex].id = response.data.fichier.id;
                            this.autres.fichiers[dataIndex].nom = response.data.fichier.nom;
                            this.autres.fichiers[dataIndex].extension = response.data.fichier.extension;
                            this.autres.fichiers[dataIndex].uploaded = response.data.fichier.uploaded;
                            this.autres.fichiers[dataIndex].created_at = response.data.fichier.created_at;
                            this.autres.fichiers[dataIndex].poids = response.data.fichier.poids;
                            this.localCounter++;
                        } else {
                            if (response.data.statut === 404) {
                                alert(response.data.message);
                            }
                        }
                    });
                }
            },
            initNewData(name) {
                const data = {
                    'id': '',
                    'nom': name,
                    'poids': null,
                    'created_at': '',
                    'uploaded': false
                }
                this.autres.fichiers.push(data);
                return this.autres.fichiers.length - 1;
            },
            getLots() {
                const options = {
                    headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'},
                    params: {
                        itemsPerPage : 100,
                        consultation: this.consultationId
                    },
                };
                lotsService.getLots(options).then((response) => {
                    if (response.data['hydra:totalItems'] > 0) {
                        this.lots = response.data['hydra:member'];

                        // Ajout d'une option permettant de sélectionner tous les lots
                        this.lots.unshift({ id: -1, label: 'Tous les lots' });
                    }
                }).catch((error) => {
                    console.log("Une erreur s'est produite lors du chargement des lots");
                });
            },
            getOffres() {
                const options = {
                    headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'},
                    params: {
                        itemsPerPage : 100,
                        consultation: this.consultationId
                    },
                };
                offresService.getOffres(options).then((response) => {
                    if (response.data['hydra:totalItems'] > 0) {
                        let dataOffres = response.data['hydra:member'];
                        this.offres = dataOffres;
                        this.entreprises = this.getListEntreprises(dataOffres);

                        // Ajout d'une option permettant de sélectionner toutes les entreprises
                        this.entreprises.unshift({ id: -1, nomEntrepriseInscrit: 'Toutes les entreprises' });
                    }
                }).catch(() => {
                    this.$notify({
                        text:   "Une erreur s'est produite lors du chargement des lots",
                        type:   "error"
                    });
                });
            },
            getCandidatureByLots() {
                const options = {
                    params: {
                        consultation: this.consultationId
                    },
                };

                let urlCandidat = '/agent/consultations/' + this.consultationId + '/candidature';
                axios.get(urlCandidat, options).then(response => {
                    this.candidaturesByLots = response.data;
                });
            },
            customLabelLot: function (lot) {
                let numeroLot = lot.numero;
                return numeroLot ? numeroLot.concat(" - ", lot.intitule) : lot.label;
            },
            getListEntreprises(listeOffre) {
                let entrepriseList = [];
                let existingdIds = [];
                for (const obj of listeOffre) {
                    if (!existingdIds.includes(obj.entrepriseId)) {
                        entrepriseList.push(obj);
                        existingdIds.push(obj.entrepriseId);
                    }
                }

                return entrepriseList;
            },
            replaceCharacters(inputField) {
                const replacements = [
                    { search: "'", replace: "" },
                    { search: "’", replace: "" },
                    { search: "_", replace: "_" },
                ];

                replacements.forEach(replacement => {
                    inputField = inputField.replace(new RegExp(replacement.search, 'g'), replacement.replace);
                });

                return inputField;
            },
            handleSelectAllLots(option) {
                if (option.id === -1) {
                    if (this.selectedLots.length < this.lots.length) {
                        const lots = this.lots.filter(lot => lot.id !== -1);
                        this.selectedLots = [...lots];
                    } else {
                        this.selectedLots = [];
                    }
                }
            },
            handleSelectAllEntreprises(option) {
                if (option.id === -1) {
                    if (this.selectedEntreprises.length < this.entreprises.length) {
                        const entreprises = this.entreprises.filter(entreprise => entreprise.id !== -1);
                        this.selectedEntreprises = [...entreprises];
                    } else {
                        this.selectedEntreprises = [];
                    }
                }
            },
        },
        computed: {
            counterBadge() {
                return this.globalCounter + this.localCounter;
            },
        },
        mounted () {
            this.getModele();
        },
        created() {
            tokenService.getToken().then((responseToken) => {
                this.token = responseToken.data;

                this.getLots();
                this.getOffres();
                this.getCandidatureByLots();
            });
        }
    };
</script>
<style lang="scss" scoped>
    @import '../../css/espace-documentaire.scss';
    @import '../../css/espace-documentaire-etape2.scss';
    @import '../../css/espace-documentaire-jeton.scss';
</style>
