<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="card" id="other">
        <div class="card-header panel-heading" id="detailOther">
            <h2 class="mb-0">
                <button aria-controls="collapseDetailOther" aria-expanded="false" class="btn accordion-toggle collapsed"
                        data-target="#collapseDetailOther"  data-toggle="collapse" type="button" v-on:click="loadData(consultationId)">
                    {{ lang['DEFINE_PIECES_LIBRES_CONSULTATION'] }}
                    <span class="badge badge-light d-inline-block float-right counter">{{ counterBadge }}</span>
                </button>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-upload"
                     class="picto ml-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path fill="currentColor"
                          d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm65.18 216.01H224v80c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16v-80H94.82c-14.28 0-21.41-17.29-11.27-27.36l96.42-95.7c6.65-6.61 17.39-6.61 24.04 0l96.42 95.7c10.15 10.07 3.03 27.36-11.25 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z"></path>
                </svg>
            </h2>
        </div>
        <div aria-labelledby="detailOther" class="collapse" data-parent="#other" id="collapseDetailOther">
            <div class="card-body">
                <div v-if="autres.fichiers.length" class="table tableEspaceDocumentaire">
                    <div class="table-header">
                     <span class="col col-8" v-if="step == 'etape3'">
                               <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                      value="checkboxManager" data-target-checkbox="checkboxPIECESAUTRES">
                                {{ lang['FICHIERS_DOSSIERS'] }}
                     </span>
                        <span class="col col-8" v-if="step == ''">
                               <input v-on:click="checkboxManager" class="form-check-input" type="checkbox"
                                      value="checkboxManager" data-target-checkbox="checkboxPIECESAUTRES">
                            {{ lang['FICHIERS_DOSSIERS'] }}
                        </span>
                        <span class="col col-8" v-if="step == 'etape2'">
                            {{ lang['FICHIERS_DOSSIERS'] }}
                        </span>
                        <span class="col date">{{ lang['AJOUTER_LE'] }}</span>
                        <span class="col action" v-if="step == ''">{{ lang['DEFINE_ACTIONS'] }}</span>
                    </div>
                    <div  class="table-body">
                        <ul class="list-group">
                            <li v-for="(node, index) in autres.fichiers" class="list-group-item row">
                                            <span class="form-check col col-8">
                                                 <input class="form-check-input" :class="step" type="checkbox" name="checkboxPIECESAUTRES"
                                                        v-if="step == 'jetonSelect'"
                                                        :id="getId(node)"
                                                        :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                                                        :extension="getExtension(node)"
                                                        :value="getValue(node)"
                                                        :data-json="getJson(node, node.id,'AUTRES')">

                                                <input class="form-check-input" :class="step" type="checkbox" name="checkboxPIECESAUTRES"
                                                       v-if="step != 'jetonSelect'"
                                                       :id="getId(node)"
                                                       :value="getValue(node)"
                                                       :data-json="getJson(node, node.id,'AUTRES')">
                                                <label class="form-check-label">
                                                    <a :href="getDownloadUrl(node.id,'AUTRES')" >
                                                    {{ node.nom }}
                                                    ({{ getSize(node.poids)  }})</a></label>
                                            </span>
                                <span class="col date">{{ node.created_at}}</span>
                                <span>
                                     <span class="col action" v-if="!node.checkEchangeDocumentaire">
                                        <button name="supprimer"
                                                type="button"
                                                :title="lang['DEFINE_SUPPRIMER']"
                                                v-if="node.uploaded"
                                                v-on:click="deleteFile(index, consultationId, node, 'Êtes-vous sûr de vouloir supprimer ce fichier ?')">
                                                <i class="fas fa-trash"></i></button>
                                    </span>
                                    <span  class="col action" v-else>
                                        <button name="supprimer" type="button" class="no-delete" :title="lang['SUPPRESSION_IMPOSSIBLE']">
                                                <i class="fas fa-trash fa-sm"></i>
                                        </button>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['AUCUN_FICHIER_RENSEIGNE'] }}
                    </div>
                </div>
                <div  v-if="!hide">
                <label for="autres_fichiers_upload" class="btn btn-primary m-b-1"><i class="fas fa-plus-square m-r-1"></i>
                   {{ lang['TEXT_IMPORT_DOC'] }}</label>
                <input type="file" id="autres_fichiers_upload" style="display: none;" v-on:change="uploadNewFile(consultationId)" ref="file">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    import $ from "jquery";

    export default {
        props: ['step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId'],
        name: "PieceLibre",
        data: function () {
            return {
                localCounter : 0,
                isLoaded: false,
                autres: {
                    fichiers: []
                },
                file: ''
            }
        },
        methods: {
            getJson(data, id, type) {
                var url = '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
                var json = {
                    base: data.base,
                    extension: data.extension,
                    fichier: data.fichier,
                    id: data.id,
                    nom:  data.nom,
                    poids: data.poids,
                    type: data.type,
                    url_telechargement: url
                }
                return JSON.stringify(json);
            },
            getName(data) {
                return data.type + '_' + data.id;
            },
            getExtension(data) {
                return data.extension;
            },
            getId(data) {
                return data.type + '_' + data.id;
            },
            getValue(data) {
                return this.autres.type + '##' + data.id;
            },
            getSize(octet) {
                return this.$parent.getSize(octet);
            },
            getDownloadUrl(id,type){
                return '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
            },
            checkboxManager(event){
                $('input[name ="'+event.target.dataset.targetCheckbox+'"]').prop('checked', event.target.checked);
            },
            loadData(id) {
                let apiUrl = '/agent/espace-documentaire/';
                if (!this.isLoaded) {
                    let url = apiUrl + 'autres-pieces-consultation/' + id + '.json'
                    axios.get(url).then(response => {
                        if (response.data.mpe.reponse.data.fichiers) {
                            this.autres = response.data.mpe.reponse.data;
                        }
                    });
                    this.isLoaded = true;
                }
            },
            uploadNewFile(id) {
                this.file = this.$refs.file.files[0];
                let data = {
                    'id': '',
                    'nom': this.file.name,
                    'poids': this.file.size,
                    'created_at': '',
                    'uploaded': false
                }
                this.autres.fichiers.push(data);
                let dataIndex = this.autres.fichiers.length - 1;

                let formData = new FormData();
                formData.append('file[]', this.file);
                let apiUrl =  '/agent/espace-documentaire/autres-pieces-consultation/' +
                    id +
                    '.json';

                axios.post(apiUrl,
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                    .then(function (response) {
                        if (response.data.mpe.reponse.data.fichier) {
                            this.autres.fichiers[dataIndex].id = response.data.mpe.reponse.data.fichier.id;
                            this.autres.fichiers[dataIndex].uploaded = response.data.mpe.reponse.data.fichier.uploaded;
                            this.autres.fichiers[dataIndex].created_at = response.data.mpe.reponse.data.fichier.created_at;
                            this.localCounter++;
                        }
                    }.bind(this))
                    .catch(function () {
                        console.log('Error while uploading new file');
                        console.log(response);
                    });

            },
            deleteFile(index, consultationId, baseUrl, message) {
                if (confirm(message)) {

                    let data = this.autres.fichiers[index];

                    let apiUrl = '/agent/espace-documentaire/autres-pieces-consultation/' + consultationId + '/' +
                        data.id +'.json';

                    axios.delete(apiUrl)
                        .then(function () {
                            this.autres.fichiers.splice(index, 1);
                            this.localCounter--;
                        }.bind(this))
                        .catch(function (response) {
                            console.log('Error while deleting file');
                            console.log(response);
                        });

                    if (this.autres.fichiers.length == 0) {
                        this.autres.fichiers = null;
                    }
                }
            }
        },
        computed : {
            counterBadge() {
                return parseInt(this.globalCounter) + parseInt(this.localCounter);
            }
        }
    };
</script>
<style lang="scss" scoped>
    @import '../../css/espace-documentaire.scss';
    @import '../../css/espace-documentaire-etape2.scss';
    @import '../../css/espace-documentaire-jeton.scss';
</style>