<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="card" id="attributaire">
        <div class="card-header panel-heading" id="detailAttributaire">
            <h2 class="mb-0">
                <button aria-controls="collapseDetailAttributaire"
                        aria-expanded="false"
                        class="btn accordion-toggle collapsed"
                        data-target="#collapseDetailAttributaire"
                        data-toggle="collapse"
                        type="button"
                        v-on:click="loadData(consultationId)">
                    {{ lang['PIECES_DU_DES_ATTRIBUTAIRES'] }}
                    <span class="badge badge-light d-inline-block float-right counter">{{ globalCounter }}</span>
                </button>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="medal" class="picto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm92.52 157.26l-37.93 36.96 8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64 23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39 4.11 0 8.22 2.14 10.33 6.39l23.43 47.52 52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"></path></svg>
            </h2>
        </div>
        <div aria-labelledby="detailAttributaire" class="collapse" data-parent="#attributaire" id="collapseDetailAttributaire">
            <div class="card-bone">
                <div v-if="attributaires">
                    <attributaire
                        v-for="(node) in attributaires"
                        :node="node"
                        :step="step"
                        :lang="lang"
                        :consultationId="consultationId"
                        :encryptedAgentId="encryptedAgentId"
                        :base-url="baseUrl"
                        :base-dir="baseDir"
                    >
                    </attributaire>
                </div>
                <div v-else>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        {{ lang['AUCUN_ATTRIBUTAIRE'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import Attributaire from "../espace-documentaire/attributaire";

export default {
    props: ['step', 'globalCounter', 'consultationId', 'lang', 'encryptedAgentId', 'baseUrl', 'baseDir'],
    name: "PliAttributaire",
    data: function () {
        return {
            isLoaded: false,
            attributaires: ""
        }
    },
    components: {
        'attributaire': Attributaire,
    },
    methods: {
        getJson(data, url,consultationId,encryptedAgentId,encryptedPath,type) {
            var url = url+ '/agent/direct-download/'+encryptedAgentId+'/'+consultationId+'/'+type+'-'+this.masterId+'-'+encryptedPath;
            var json = {
                base: data.base,
                extension: data.extension,
                fichier: data.fichier,
                id: data.id,
                nom:  data.nom,
                poids: data.poids,
                type: data.type,
                url_telechargement: url
            }
            return JSON.stringify(json);
        },
        isArray(data){
            return this.$parent.isArray(data);
        },
        getName(data){
            return data.type+'_'+data.id;
        },
        getExtension(data) {
            return data.extension;
        },
        getId(data){
            return data.type+'_'+data.id;
        },
        getSize(octet){
            return this.$parent.getSize(octet);
        },
        getDownloadUrl(id,type){
            return '/agent/direct-download/'+this.encryptedAgentId+'/'+this.consultationId+'/'+type+'-'+id;
        },
        loadData(id){
            var apiUrl = '/agent/espace-documentaire/';

            if(!this.isLoaded){
                var url= apiUrl+ 'plis-attributaires/'+ id +'.json'
                axios.get(url).then(response => {
                    if(response.data.mpe.reponse.data.plis){
                        this.attributaires=response.data.mpe.reponse.data.plis;
                    }
                });
                this.isLoaded=true;
            }
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../../css/espace-documentaire.scss';
@import '../../css/espace-documentaire-etape2.scss';
@import '../../css/espace-documentaire-jeton.scss';
</style>