<footer class="footer-place">
    <div>
        <div class="left-part">
            <a href="#">
                <img src="{{ absolute_url(asset('app/img/header_place.png')) }}" style="width: 300px; margin-left: 4.5em;" role="img" alt="{{ 'PLACE_MARCHE_PUBLIC_INTERMINISTERE'|trans }}" aria-label="{{ 'PLACE_MARCHE_PUBLIC_INTERMINISTERE'|trans }}">
            </a>
        </div>
        <div class="versionPart">
            <p>
                <span>
                    {{ 'VERSION_PLACE'|trans }} :
                </span>
                {{ version }}
            </p>

            {% if showLanguage() and (called_from == 'entreprise' and product_name == 'mpe') %}
                <div>
                    <div class="select_wrap">
                        <label for="lang-select"></label>
                        <ul name="lan" id="lang-select">
                            {% for langue in langues() %}
                                <li data-value="{{ langue.langue }}"id="{{ 'lang_' ~ langue.langue }}">
                                    <img src="{{ absolute_url(asset('app/img/id_lang_' ~ langue.id ~ '.svg')) }}" alt="{{ langue.langue }}"/>
                                    {{ langue.langue }}
                                </li>
                            {% endfor %}
                        </ul>
                        <input type="hidden" name="lang" value="" />
                    </div>
                </div>
                {% include 'choice-langage.html.twig' %}

                <script language="JavaScript" type="text/JavaScript" >
                    var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
                    if(isIE11) {
                        function language(lang) {
                            J('.select_wrap label').html(J('#lang_' + lang).html());

                            J('.select_wrap').click(function() {
                                J('.select_wrap ul').slideToggle(200);
                                J("html, body").animate({ scrollTop: J(document).height() }, 1000);
                            });
                            J('.select_wrap ul li').click(function() {
                                var affichage = J(this).html();
                                var valeur = J(this).attr('data-value');
                                J('.select_wrap label').html(affichage);
                                J('.select_wrap input').val(valeur);
                            });
                        }
                    }
                    language('{{ lang }}');
                </script>
            {% endif %}
        </div>
    </div>


    <div class="footer-place__menuContainer">
        <div style="padding-right: 2rem;  width: 25%;">
            <h2>{{ 'KNOW_US'|trans }}</h2>
            <ul style="list-style: none; padding: 0px; text-align: left;">
                {% if app.user and called_from == 'agent' %}
                    <li>
                        <a href="{{ absolute_url(path('ecrans_plan_site', {'calledFrom': called_from})) }}">
                            {{ 'SITEMAP'|trans }}
                        </a>
                    </li>
                {% elseif called_from == 'entreprise' %}
                    <li>
                        <a href="{{ absolute_url(path('ecrans_plan_site', {'calledFrom': called_from})) }}" aria-label="{{'SITEMAP'|trans }}">
                            {{ 'SITEMAP'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#" data-toggle="modal" data-target="#modal-contact" aria-label="{{'CONTACT'|trans }}">
                        {{ 'CONTACT'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ absolute_url(path('ecrans_nos_partenaires', {'calledFrom': called_from})) }}" aria-label="{{'NOS_PARTENAIRES'|trans }}">
                        {{ 'NOS_PARTENAIRES'|trans|raw }}
                    </a>
                </li>
            </ul>
        </div>
        <div style="padding-right: 2rem; width: 25%;">
            <h2>{{ 'OUR_ENGAGEMENTS'|trans }}</h2>
            <ul style="list-style: none; padding: 0px; text-align: left;">
                <li>
                    <a href="{{ absolute_url(path('ecrans_accessibilite', {'calledFrom': called_from})) }}" aria-label="{{'INFO_RGAA'|trans }}">
                        {{ 'INFO_RGAA'|trans|raw }} : {{ msg_accessibility }}
                    </a>
                </li>
                <li>
                    <a href="{{ absolute_url(path('ecrans_info_site', {'calledFrom': called_from})) }}" aria-label="{{'INFOSITE'|trans }}">
                        {{ 'INFOSITE'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ absolute_url(path('ecrans_condition_generales_utilisation', {'calledFrom': called_from})) }}" aria-label="{{ 'CONDITION_UTILISATION'|trans }}">
                        {{ 'CONDITION_UTILISATION'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ absolute_url(path('ecrans_protection_donnees', {'calledFrom': called_from})) }}" aria-label="{{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL'|trans }}">
                        {{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ absolute_url(path('ecrans_info_rgs', {'calledFrom': called_from})) }}" aria-label="{{ 'INFO_RGS'|trans }}">
                        {{ 'INFO_RGS'|trans|raw }}
                    </a>
                </li>
            </ul>
        </div>
        <div style="padding-right: 2rem; padding: 0px; width: 25%;">
            <h2>{{ 'TECHNICAL_INFORMATIONS'|trans }}</h2>
            <ul style="list-style: none; padding: 0px; text-align: left">
                <li>
                    <a href="{{ absolute_url(path('ecrans_prerequis_techniques', {'calledFrom': called_from})) }}" aria-label="{{ 'PREREQUIS_TECHNIQUE'|trans }}">
                        {{ 'PREREQUIS_TECHNIQUE'|trans|raw }}
                    </a>
                </li>
                <li>
                    <a href="{{ absolute_url(path('ecrans_info_acrgs', {'calledFrom': called_from})) }}" aria-label="{{ 'LISTE_DES_CERTIFICATS_EUROPEEN'|trans }}">
                        {{ 'LISTE_DES_CERTIFICATS_EUROPEEN'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div style="padding-right: 2rem; padding: 0px; width: 25%;">
            <h2>{{ 'SITES_CONNEXES'|trans }}</h2>
            <ul style="list-style: none; padding: 0px; text-align: left">
                <li>
                    <a href="https://www.service-public.fr/" target="_blank">
                        {{ 'LABEL_SERVICE_PUBLIC'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.legifrance.gouv.fr/" target="_blank">
                        {{ 'LABEL_LEGIFRANCE'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.gouvernement.fr/" target="_blank">
                        {{ 'LABEL_GOUVERNEMENT'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://chorus-pro.gouv.fr/" target="_blank">
                        {{ 'LABEL_CHORUS_PRO'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.economie.gouv.fr/dae" target="_blank">
                        {{ 'LABEL_ECONOMIE_GOUV'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://aife.economie.gouv.fr/" target="_blank">
                        {{ 'LABEL_AIFE_ECONOMIE'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://projets-achats.marches-publics.gouv.fr" target="_blank">
                        {{ 'LABEL_APPROCH'|trans }}
                        <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="external-link-alt" role="img" viewBox="0 0 512 512"
                             class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x">
                            <path fill="currentColor"
                                  d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'PLACE_SUPPORT_MESSAGE'|trans|raw }}
            </div>
        </div>
    </div>
</div>
{%  if displayRgpd() %}
    <script src="{{ asset('consultation_depot/assets/js/bootstrap.js') }}" type="text/javascript"></script>
{% endif %}