<div class="logo-client">
    <a href="{{ link_redirect }}">
        <img src="{{ absolute_url(asset('/themes/images/logo.gif')) }}"
             alt="{{ title }}{{ altTitle|trans }}" role="img" aria-label="{{ title }}"
             style="min-height: 20px; margin-left: 4px; margin-top: 2px; height: 138px;">
    </a>
</div>
