<div class="row mb-2">
  <div class="content-header-left col-12 breadcrumb-new"
       *ngIf="breadcrumb">
    <h3 class="content-header-title mb-0 d-inline-block ">{{breadcrumb.mainlabel | translate}}</h3>
    <div class="row breadcrumbs-top d-inline-block">
      <div class="breadcrumb-wrapper col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"
              *ngFor="let linkItem of breadcrumb.links">
            <a *ngIf="linkItem.isLink" class="breadcrumb-link"
               (click)="navigateTo(linkItem.link)">{{linkItem.name | translate}}</a>
            <span *ngIf="!linkItem.isLink">{{linkItem.name | translate}}</span>
          </li>
          <!--a *ngIf="isWebComponent" class="ml-1" [title]="'external-open' | translate"
             (click)="openLink()">
            <i class="ft-external-link"></i>
          </a-->
        </ul>


      </div>
    </div>
    <div class="float-right">
      <button *ngIf="create" [authorizedRoles]="creationRoles" type="button"
              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
              [disabled]="loadingActivation && createLabel==='creerVersion'"
              (click)="navigateTo(creationLink)"><i class="ft-plus"></i>
        {{createLabel | translate}}
      </button>
      <button *ngIf="import" type="button"
              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
              (click)="importer()"><i
        class="ft-upload"></i>
        {{"importer" | translate}}
      </button>
      <button *ngIf="export" type="button"
              [disabled]="loadingExport"
              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
              (click)="exporter()"><i
        [ngClass]="{'ft-download':!loadingExport ,'fa fa-spin fa-spinner':loadingExport}"></i>
        {{"exporter" | translate}}
      </button>
    </div>
  </div>

</div>
