{% set codeValueQuery = app.request.query.get('code') %}
<div class="modal fade{% if codeValueQuery %} in {% endif %}" id="code-dce_restreint-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ 'TELECHARGEMENT_DCE_SAISIE_CODE'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ liensConsult.dce.lien }}" id="target" method="get">
                <div class="modal-body">
                    {% if codeValueQuery %}
                        <div class="alert alert-danger" role="alert">
                           {{ 'CODE_ACCES_ERRONE'|trans }}.
                        </div>
                    {% endif %}
                    <div class="alert alert-info" role="alert">
                       {{ 'CODE_ACCES_NECESSAIRE_TELECHARGEMENT_DCE'|trans }}.
                    </div>

                    <div class="form-group row">
                        <label for="code-acces" class="col-sm-4 col-form-label">
                            {{ 'CODE_ACCES'|trans }}
                            <span data-v-de41f93a="" class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="code-acces" name="code" required value="{{ codeValueQuery }}">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">{{ 'FERMER' | trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'TEXT_VALIDER' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>