<!--Début Bloc Bourse Cotraitance-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header clearfix m-t-0">
            <h2 class="h4 pull-left">
                {{ 'DEFINE_BOURSE_COTRAITANCE'|trans }}
                <i data-toggle="tooltip" data-placement="right" title="{{ 'TEXT_INFOS_BULLE_BOURSE_COTRAITANCE'|trans }}"
                   class="fa fa-question-circle text-info" aria-hidden="true"></i>
            </h2>
            <div class="boutons">
                {% if messageBourse['cas'] == 'cas1' or messageBourse['cas'] == 'cas4' %}
                    <!--DEBUT BTN S'INSCRIRE-->
                    <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseInscriptionBourseCotraitance&id={{ consultation.getId() }}&orgAcronyme={{ consultation.getAcronymeOrg() }}&inscription"
                       type="button" class="btn btn-primary btn-sm pull-right m-t-1">
                        <i class="fa fa-user m-r-1"></i> {{ 'DEFINE_SINSCRIRE'|trans }}
                    </a>
                    <!--FIN BTN S'INSCRIRE-->
                {% elseif messageBourse['cas'] == 'cas2' or messageBourse['cas'] == 'cas3' %}
                    <!--DEBUT BTN SE DESINSCRIRE-->
                    <button class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#modalDesinscription">
                        <i class="fa fa-times m-r-1" aria-hidden="true"></i> {{ 'DEFINE_SE_DESINSCRIRE'|trans }}
                    </button>

                    <!--FIN BTN SE DESINSCRIRE-->
                {% endif %}
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-left">
                <img src="{{ url_mpe }}themes/images/{{ messageBourse['image'] }}"  alt="" />
            </div>
            <div class="pull-left m-l-1">
                {{ messageBourse['message']|raw }}
            </div>
        </div>
        <div class="clearfix">
            {% if messageBourse['cas'] == 'cas2' or messageBourse['cas'] == 'cas3' %}
                <ul class="list-unstyled m-t-1 m-l-1">
                    <li>
                        <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseInscriptionBourseCotraitance&id={{ consultation.getId() }}&orgAcronyme={{ consultation.getAcronymeOrg() }}" type="button">
                            <i class="fa fa-pencil m-r-1" aria-hidden="true"></i> {{ 'DEFINE_MODIFIER_INFOS_INSCRIPTION'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseRechercheBourseCotraitance&id={{ consultation.getId() }}&orgAcronyme={{ consultation.getAcronymeOrg() }}" type="button">
                            <i class="fa fa-search m-r-1" aria-hidden="true"></i> {{ 'DEFINE_AFFICHER_ENTREPRISE'|trans }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<!--Debut Modal Confirmation-Suppression-->
<div class="modal fade" id="modalDesinscription" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-danger" id="gridSystemModalLabel">
                    {{ 'TEXT_ALERTE_DESINSCRIRE_BOURSE_COTRAITANCE'|trans }}
                </div>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">{{ 'TEXT_ANNULER'|trans }}</button>
                    {% if inscrit.getEntrepriseId() is defined %}
                        <a href="{{ path('atexo_consultation_delete') }}?id_consultation={{ consultation.getId() }}&id_entreprise={{ inscrit.getEntrepriseId() }}"
                           type="button" class="btn btn-primary btn-sm">Poursuivre</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal  Confirmation-Suppression-->
<!--Fin Bloc Bourse Cotraitance-->