<link rel="stylesheet" href="{{ asset('/themes/css/leaflet.css') }}" />
<link rel="stylesheet" href="{{ asset('/themes/css/MarkerCluster.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('/themes/css/leaflet.awesome-markers.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('/themes/css/upload/jquery.fileupload-ui-noscript.css') }}" type="text/css"
      media="all"/>
<link rel="stylesheet" href="{{ asset('/themes/css/upload/jquery.fileupload-ui.css') }}" type="text/css"
      media="all"/>
<link rel="stylesheet" href="{{ asset('/themes/css/vue-multiselect.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>

<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('/themes/css/ng-style.css') }}" type="text/css"  media="all"/>
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/atx-bloc-highlighted-popup.css') }}"/>
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/modal-code-dce-access.css') }}"/>
