<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/jquery-compatibility.js') }}"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/jquery-ui.js') }}"></script>
<!-- FOSJsRoutingBundle -->
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- /FOSJsRoutingBundle -->
<script type="text/javascript" src="{{ asset('/themes/js/vue.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/upload/vendor/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/upload/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/upload/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.numberformatter-1.2.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.treeTable.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/chosen.jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/leaflet.awesome-markers.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/leaflet.markercluster.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.tagsinput.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.dotdotdot.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.placeholder.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/codeCpv.' ~ app.request.locale ~ '.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/atexoRef.' ~ app.request.locale ~ '.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/atexoScript.' ~ app.request.locale ~ '.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/popup.inc.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/scripts-eval.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/atexoFileUpload.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.maskedinput-1.3.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/tab.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/loader.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/atexoApplet.' ~ app.request.locale ~ '.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/jquery.autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/data.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ asset('/themes/js/printThis/printThis.js') }}"></script>
