<div class="panel panel-default panel-default">
    <div class="panel-heading">
        <h2 class="h4 panel-title">
            {{ 'CONDITION_UTILISATION'|trans }}
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <input id="accepter-conditions-utilisation" class="check-box" type="checkbox" value="">
                <label class="checkbox-inline" for="accepter-conditions-utilisation">
                    {{ 'CONDITIONS_REPONSE'|trans({'%URL_MPE%': url_mpe})|raw }}</label>
            </div>
        </div>
    </div>
</div>
<script>
    var conditionsUtilisationError = "{{ 'ERREUR_CONDITION_UTILISATION'|trans|raw }}";
</script>
