<!--Début Bloc Infos Temps-->
<div class="panel panel-default">
    <div class="panel-body">
        <p><strong>{{ 'TEMPS_RESTANT_REPONSE'|trans }}</strong> {{ 'DELAI_ACHEMNINEMENT_INCLUS'|trans }} : {{ consultation.dateFin|date_diff }}</p>
        <span><strong>{{ 'TEMPS_ACHEMINEMENT'|trans }}</strong> {{ 'RAPPORT_DEBIT_TEMPS_REPONSE'|trans }} </span>
        <a href="#" class="pull-right" data-toggle="modal" data-target="#ModalInfosFichiers" ><i
                    class="fa fa-caret-right m-r-1" title="{{ 'EN_SAVOIR_PLUS_SUR_TEMPS_ACHEMINEMENT'|trans }}"></i>{{ 'DEFINE_SAVOIR_PLUS'|trans }}</a>
    </div>
</div>

<div class="modal fade"  id="ModalInfosFichiers"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'INFORMATIONS_TEMPS_ACHEMINENEMENT'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p class="text-left">{{ 'TAILLE_FICHIERS_EXPRIMES_EN_OCTET'|trans|raw }}.</p>
                <p>{{ 'INFOS_BANDE_PASSANTE'|trans }}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">{{ 'FERMER' | trans }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Fin Bloc Infos Temps-->