<div class="modal fade" tabindex="-1" role="dialog"  id="modal-deselection-lot">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-body">
                <h5 class="modal-title" id="myModalLabel">{{ 'DEFINE_DESELECTION_LOT_1'|trans }} <br>{{ 'DEFINE_DESELECTION_LOT_2'|trans }}  </h5>
            </div>
            <div class="modal-footer">
                <!--Debut line boutons-->
                <div class="btn-group pull-right">
                    <input class="btn btn-primary btn-lg" value="{{ 'FERMER'|trans }}" title="{{ 'FERMER'|trans }}" type="button" onclick="J('#modal-deselection-lot').modal('hide');"/>
                </div>
                <!--Fin line boutons-->
            </div>
        </div>
    </div>
</div>
