<div class="col-md-12">
    <div class="row">
        <a class="btn  btn-sm btn-default pull-left atx-btn atx-btn--blue atx-btn--type-reset annuler-reponse-consultation"
           href="javascript:void(0)" title="{{ 'ANNNULER_REPONSES'|trans }}"
           id="annuler-reponse-consultation" data-langue="{{ app.session.get('_locale') }}" data-code="{% if app.session.get('contexte_authentification_' ~ consultation.id).codeAcces is defined %}{{ app.session.get('contexte_authentification_' ~ consultation.id).codeAcces }}{% endif %}">
            <span class="text">{{ 'TEXT_ANNULER'|trans }}</span>
        </a>
        <button class="btn btn-sm btn-primary pull-right atx-btn atx-btn--blue atx-btn--type-submit"
                value="Valider" title="{{ 'ENVOIE_SECURISE_ENTITE'|trans }}" id="valider-reponse-consultation">
            <span class="text">{{ 'TEXT_VALIDER'|trans }}</span>
        </button>
    </div>
</div>