{% extends 'layout.html.twig' %}

{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/atx-bloc-highlighted-popup.css') }}"/>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}
{% block javascripts_footer %}
    <!-- JS ?? -->
    {#{% include 'consultation/consultation-depot-template-upload.html.twig' %}#}
    <script type="text/javascript">

        var journeeDeLAnnee = {{ getJourneeDeLAnnee() }}
        var time = {{ getTime() }}
        var jetonForm = null;
        //dateBandeau({#{{ getDateFoisMille()  }}#},{#{{ getDateZ() }}#});
    </script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/tmpl.js') }}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/load-image.all.min.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
    <!-- The File Upload validation plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
    <!-- The File Upload user interface plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <!-- The main application script -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.events.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.jeton.js') }}"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
    <!-- Chosen Module -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atx-bloc-highlighted-popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/ServerDate.js') }}"></script>
{% endblock %}
{% block title %}
    {{ parent() }} - {{ 'DEFINE_TEXT_CONSULTATIONS'|trans }} - {{ consultation.referenceUtilisateur }} {% if  consultation.titre  is not empty %}| {{ consultation.titre }}{% endif %}
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{{ 'CG76_DEFINE_TEXT_ACCUEIL'|trans }}</a> /
        <a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a> / {{ 'DEFINE_REPONDRE'|trans }}</div>
{% endblock %}
{% block content %}
    <script type="application/javascript">
        var consulation_ref='{{ consultation.id }}';
        var organisme = '{{ consultation.organisme }}';
        var depotAutomatique = 0;
        var pageTransmissionAffichee = 0;
        {#var jetonSignatureMaxFileSize = {{ jeton_signature_max_file_size }};#}
    </script>
    {% include 'consultation/consultation-message-details.html.twig' %}

    <div class="link-line clearfix">
        <a href="{{ path('atexo_consultation_index', { 'id': consultation.id }) }}" type="button" class="btn btn-sm btn-default pull-left">
            {{ 'TEXT_RETOUR'|trans }}
        </a>
        <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseAdvancedSearch&searchAnnCons" type="button" class="btn btn-sm btn-primary pull-right">
            {{ 'DEFINE_NOUVELLE_RECHERCHE'|trans }}
        </a>
    </div>
{% endblock %}