<!-- Start bloc phase -->
<script>
    {% if inscrit.getId() is defined %}
        J(document).ready(function () {
            function updateModeCandidature(phaseSelected) {
                J.ajax(Routing.generate('atexo_consultation_mode_candidature_changed'),{
                    method: "POST",
                    data: {
                        organisme: '{{ consultation.getAcronymeOrg() }}',
                        consultation: '{{ consultation.getId() }}',
                        idInscrit: '{{ inscrit.getId() }}',
                        idEntreprise: '{{ inscrit.getEntrepriseId() }}',
                        idEtablissement: '{{ inscrit.getIdEtablissement() }}',
                        phase: phaseSelected
                    }
                }).done(function(result) {
                    var res = jQuery.parseJSON(result);

                    if (res.error === 1) {
                        J('#error_message').innerHTML = res.message;
                    }
                });
            }

            function updateModeCandidatureDume(dumeSelected) {
                J.ajax(Routing.generate('atexo_consultation_mode_candidature_dume_changed'),{
                    method: "POST",
                    data: {
                        organisme: '{{ consultation.getAcronymeOrg() }}',
                        consultation: '{{ consultation.getId() }}',
                        idInscrit: '{{ inscrit.getId() }}',
                        idEntreprise: '{{ inscrit.getEntrepriseId() }}',
                        idEtablissement: '{{ inscrit.getIdEtablissement() }}',
                        choice: dumeSelected
                    }
                }).done(function(result) {
                    var res = jQuery.parseJSON(result);

                    if (res.error === 1) {
                        J('#error_message').innerHTML = res.message;
                    }
                });
            }

            var modalConfirm = function(callback){
                J("#radioPhase").on("click", function(){
                    J("#mi-modal").modal('show');
                });

                J("#modal-btn-si").on("click", function(){
                    callback(true);
                    J("#modalChangementModalite").modal('hide');
                });

                J("#modal-btn-no").on("click", function(){
                    callback(false);
                    updateModeCandidature(J("input[name='radioPhase']:checked")[0].id);
                    J("#modalChangementModalite").modal('hide');
                });
            };

            modalConfirm(function(confirm){
                if (confirm) {
                    dumeSelected();
                    J('#phase-choice').empty();
                    prev.value = null;
                } else {
                    document.getElementById("dume").checked = true;
                    dumeSelected();
                    prev.value = "dume";
                    dumeChoiceSelected();
                }
            });

            var rad = document.mainForm.radioPhase;
            var prev = null;


            function dumeSelected() {
                J('#phase-choice').html(
                    '<HR>' +
                    {% if inscrit.entreprise is defined and
                        inscrit.entreprise.sirenetranger != null and
                        (
                            tvaIntracommunautaire == null or
                            tvaIntracommunautaire == ''
                        )
                    %}
                    '<div class="bloc-title h3"><strong>{{ 'DEFINE_JE_SOUHAITE'|trans }} :</strong></div>' +
                    '<div class="alert alert-warning m-b-0">' +
                    '<i class="fa fa-exclamation-triangle"></i> ' +
                    '<span>{{ 'TEXT_ERREUR_SANS_TVA_INTRACOMMUNAUTAIRE'| trans }}</span>' +
                    '</div>' +
                    '<div class="spacer"></div>' +
                    '<div class="bloc opacity-bloc">' +
                    '<div class="phase-bloc">' +
                    '<div class="radio m-0">' +
                    '<input type="radio" name="radio-dume" id="online" value="renseigner" disabled>' +
                    '<span><label class="p-l-0" for="online"><strong>{{ 'DEFINE_RENSIGNER_DUME_EN_LIGNE'|trans }}</strong></label> ' +
                    '<i data-placement="right" title="{{ 'TEXT_INFOS_BULLE_DUME'|trans }}"' +
                    'class="fa fa-info-circle m-l-1" aria-hidden="true"></i>' +
                    '</span>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div id="dume-choice-online"></div>' +
                    {% elseif inscrit.entreprise is defined
                        and isStandard is defined
                        and contexteLtDumeId is defined
                        and isEnabled.interfaceDume == 1
                        and (dumeInProgress is not defined or dumeInProgress is empty)
                    %}
                        '<div class="bloc-title h4">{{ 'DEFINE_JE_SOUHAITE'|trans }} :</div>' +
                        '<div class="bloc">' +
                        '<div class="phase-bloc">' +
                        '<div class="radio m-0">' +
                        '<input type="radio" name="radio-dume" id="online" value="renseigner">' +
                        '<span><label class="p-l-0" for="online"><strong>{{ 'DEFINE_RENSIGNER_DUME_EN_LIGNE'|trans }}</strong></label> ' +
                        '<i data-placement="right" data-toggle="tooltip" title="{{ 'TEXT_INFOS_BULLE_DUME'|trans }}"' +
                        'class="fa fa-info-circle fa-lg text-info m-l-1" aria-hidden="true"></i>' +
                        '</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div id="dume-choice-online"></div>' +
                    {% endif %}
                    '<div class="bloc" id="fournirBloc">' +
                    '<div class="phase-bloc">' +
                    '<div class="radio m-0">' +
                    '<input type="radio" name="radio-dume" id="fournir" value="fournir">' +
                    '<span><label class="p-l-0" for="fournir"><strong>{{ 'DEFINE_FOURNIR_DUME_EN_PIECE_LIBRE'|trans }}</strong></label></span>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div id="dume-choice-fournir"></div>'
                );
                if (J('#cotraitant')){
                    if (J('#cotraitant').is(':checked')){
                        J('#fournirBloc').hide();
                    }
                }

                if (J('#mandataire')) {
                    if (J('#mandataire').is(':checked')) {
                        J('#fournirBloc').show();
                    }
                }

                J('[data-toggle="tooltip-dume"]').tooltip();
            }

            function dumeChoiceOnlineSelected() {
                {% if status is defined and status == 3 %}
                    {% if validateDume is defined and validateDume == 'VALIDE' %}
                        J('#dume-choice-online').append(
                            '<div class="alert alert-success clearfix" id="validate-dume" value="ok">' +
                            '<div class="pull-left">' +
                            '<i class="fa fa-check-circle m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'TEXT_FORMULAIRE_DUME_ONT_TOUS_ETE_RENSEIGNES'|trans|escape('js') }}' +
                            '</div>' +
                            '<a href="" class="btn btn-sm btn-primary pull-right"' +
                            'id="edit_dume">' +
                            '<i class="fa fa-pencil m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'MODIFIER_MON_DUME'|trans|escape('js') }}</a>' +
                            '</div>'
                        );
                    {% elseif validateDume is defined and validateDume == 'LT_DUME_DOWN' %}
                        J('#dume-choice-online').append(
                            '<div class="alert alert-danger clearfix" id="validate-dume" value="ko">' +
                            '<div class="pull-left">' +
                            '<i class="fa fa-times-circle m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'TEXT_LT_DUME_NE_REPOND_PAS'|trans|escape('js')|raw }}' +
                            '</div>' +
                            '</div>'
                        );
                    {% elseif validateDume is defined and validateDume == 'SN_DOWN' %}
                    J('#dume-choice-online').append(
                        '<div class="alert alert-danger clearfix" id="validate-dume" value="sn_down">' +
                        '<div class="pull-left">' +
                        '<i class="fa fa-times-circle m-r-1" aria-hidden="true"></i> ' +
                        '{{ 'TEXT_SN_INDISPO'|trans|escape('js')|raw }}' +
                        '</div>' +
                        '</div>'
                    );
                    {% elseif validateDume is defined and validateDume == "NON_VALIDE" and contexteLtDumeId is defined  %}
                        J('#dume-choice-online').append(
                            '<div class="alert alert-warning clearfix" id="validate-dume" value="undefined">' +
                            '<div class="pull-left">' +
                            '<i class="fa fa-exclamation-triangle m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'MSG_INFORMATIONS_DUME_BROUILLON'|trans|escape('js')|raw }}' +
                            '</div>' +
                            '<a href="" class="btn btn-sm btn-primary pull-right"' +
                            'id="edit_dume">' +
                            '<i class="fa fa-pencil m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'DEFINE_EDITER_MON_DUME'|trans|escape('js') }}</a>' +
                            '</div>'
                        );
                    {% else %}
                        J('#dume-choice-online').append(
                            '<div class="alert alert-warning clearfix" id="validate-dume" value="undefined">' +
                            '<div class="pull-left">' +
                            '<i class="fa fa-exclamation-triangle m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'TEXT_FORMULAIRE_DUME_N_ONT_PAS_TOUS_ETE_RENSEIGNES'|trans|escape('js')|raw }}' +
                            '</div>' +
                            '<a href="" class="btn btn-sm btn-primary pull-right"' +
                            'id="edit_dume">' +
                            '<i class="fa fa-pencil m-r-1" aria-hidden="true"></i> ' +
                            '{{ 'DEFINE_EDITER_MON_DUME'|trans|escape('js') }}</a>' +
                            '</div>'
                        );
                    {% endif %}
                {% else %}
                    J('#dume-choice-online').append(
                        '<div class="alert alert-danger clearfix" id="validate-dume" value="ko">' +
                        '<div class="pull-left">' +
                        '<i class="fa fa-times-circle m-r-1" aria-hidden="true"></i> ' +
                        '{{ 'TEXT_DUME_EN_COURS_PUBLICATION'|trans|escape('js')|raw }}' +
                        '</div>' +
                        '</div>'
                    );
                {% endif %}

                J('#edit_dume').click(function (e){
                    e.preventDefault();

                    var urlDume = '{{ path('atexo_consultation_dume_depot') }}?id_consultation={{ consultation.getId() }}' +
                        '&acronyme={{ consultation.getAcronymeOrg() }}&lotsNum=' + lotsNumParam +
                        '&phase=dume&choice=online&alloti={{ consultation.getAlloti() }}';

                    {% if consultationInfo['alloti'] == 1 %}
                        if (typeof listLotNum == 'undefined') {
                            listLotNum = firstListLotNum;
                        }

                        if (!(typeof listLotNum !== 'undefined' && listLotNum.length > 0)) {
                            J("#error_message").empty();
                            var danger = J("#error_message").html();
                            var heightMenu = J("#horizonatal-menu").height();
                            var position = J("#error_message").position().top - heightMenu ;
                            J("html, body").animate({scrollTop: position},"slow");
                            if (danger.length <= 5) {
                                J("#error_message").addClass("alert alert-danger");
                                J("#error_message").append('<i class="fa fa-times-circle" aria-hidden="true"></i> {{ 'MESSAGE_ERREUR_SELECTION_LOTS_CANDIDATURE_MPS'|trans|escape('js') }}');
                            }
                        } else {
                            {% if multiDepot is defined and multiDepot.isDumePublier == 'true' %}
                                popinSecondDepot(urlDume);
                            {%  else %}
                                window.location = urlDume;
                            {% endif %}
                        }
                    {% else %}
                        {% if multiDepot is defined and multiDepot.isDumePublier == true %}
                            popinSecondDepot(urlDume)
                        {%  else %}
                            window.location = urlDume;
                        {% endif %}

                    {% endif %}
                });
            }

            function popinSecondDepot(urlDume) {
                J('#modalMultiDepot').modal('show');
                J("#modal-btn-no-valid").on("click", function(){
                    J("#modalMultiDepot").modal('hide');
                    window.location = urlDume;
                });

                J("#modal-btn-valid").on("click", function(){
                    J("#modalMultiDepot").modal('hide');
                    {% if multiDepot is defined and multiDepot.isDumePublier == true %}
                    window.location = urlDume+'&numSn={{ multiDepot.numSN }}';
                    {% endif %}
                });
            }

            function dumeChoiceFournirSelected() {
                J('#dume-choice-fournir').append(
                    '<div class="alert alert-info m-b-0"><i class="fa fa-info-circle m-r-1" aria-hidden="true"></i> ' +
                    '{{ 'TEXT_MERCI_DE_RENSEIGNER_DUME_PIECE_JOINTE'|trans|escape('js') }}</div>'
                );
            }

            function dumeChoiceSelected() {
                J("input[name='radio-dume']").change(function () {
                    updateModeCandidatureDume(J("input[name='radio-dume']:checked")[0].id);

                    J('#dume-choice-online').empty();
                    J('#dume-choice-fournir').empty();

                    if (J('#online').is(':checked')) {
                        dumeChoiceOnlineSelected();
                    }

                    if (J('#fournir').is(':checked')) {
                        dumeChoiceFournirSelected();
                    }
                });
            }

            function displayPhase() {
                J("input[name='radioPhase']").change(function () {
                    updateModeCandidature(J("input[name='radioPhase']:checked")[0].id);

                    J('#phase-choice').empty();
                    if (J('#dume').is(':checked')) {
                        dumeSelected();
                        dumeChoiceSelected();
                    }
                });
                J("input[name=radioPhase]").attr('checked', false);

                {% if candidature.getTypeCandidature() is defined %}
                    prev = '{{ candidature.getTypeCandidature() }}';
                    {% if candidature.getTypeCandidature() == 'dume' %}
                        J('#dume').prop('checked', true);
                        dumeSelected();
                        {% if candidature.getTypeCandidatureDume() == 'online' %}
                            J('#online').prop('checked', true);
                            dumeChoiceOnlineSelected();
                        {% elseif candidature.getTypeCandidatureDume() == 'fournir' %}
                            J('#fournir').prop('checked', true);
                            dumeChoiceFournirSelected();
                        {% endif %}
                        dumeChoiceSelected();
                    {% elseif candidature.getTypeCandidature() == 'mps' %}
                        J('#mps').prop('checked', true);
                    {% elseif candidature.getTypeCandidature() == 'std' %}
                        J('#std').prop('checked', true);
                    {% endif %}
                {% endif %}


                var checkDefault = null;
                if (J('#dume').is(':checked')) {
                    checkDefault = true;
                }

                for (var i = 0; i < rad.length; i++) {
                    rad[i].onclick = function () {
                        if (prev) {
                            if ((prev.value === "dume" || checkDefault === true ) && !J('#dume').is(':checked')) {
                                checkDefault = null;
                                J('#modalChangementModalite').modal('show');
                            }
                        } else {
                            null;
                        }

                        if (this !== prev) {
                            prev = this;
                        }
                    };
                }

            }




            {% if consultation.getAlloti() %}
            J('#select-lot').on('chosen:ready', function () {
                displayPhase();
            });
            {% else %}
                displayPhase();
            {% endif %}
        });
    {% endif %}
</script>

<div class="{% if app.user == null %}opacity-bloc{% endif %} m-t-3">
    <form name="mainForm">
        <div class="panel panel-default panel-step">
            <div class="panel-heading ">
                <h2 class="h4 panel-title">
                    {{ 'ETAPE'|trans }} {{ etape }} : {{ 'DEFINE_SELECTION_MODE_CANDIDATURE'|trans }}
                </h2>
            </div>
            <div class="clearfix phase-bloc panel-body p-t-0" id="select_phase">
                <div class="p-1">
                    {% if consultationInfo['dume'] == 1 %}
                        <div class="radio">
                            <input type="radio" name="radioPhase" id="dume" value="dume" {{ (inscrit.getId() is defined) ? '' : 'disabled' }} class="m-t-3">
                            <div class="bloc">
                                <div class="bloc-title h5 m-t-0 m-l-1">
                                    <label class="p-l-0" for="dume">
                                        <strong>
                                            {{ 'DEFINE_UTILISATION_PHASE_DUME'|trans }}
                                        </strong>
                                        <img src="{{ asset('consultation_depot/assets/images/logo-dume.png') }}"
                                             class="m-l-1" alt="{{ 'DUME'|trans }}">
                                    </label>
                                </div>

                                {% if dumeInProgress is defined %}
                                    {% if  dumeInProgress is empty %}
                                        <p>
                                            {{ 'DEFINE_COMMENTAIRE_PHASE_DUME'|trans|raw }}
                                        </p>
                                    {% else %}
                                        <div class="alert alert-danger">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            {{ 'TEXT_DUME_DEJA_EN_COURS_PUBLICATION'|trans|raw }}
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if isStandard is defined and isStandard == 0 and isEnabled.interfaceDume == 1 %}
                                    <div class="alert alert-info m-b-2">
                                        <img width="16px" src="{{ asset('consultation_depot/assets/images/informations.svg') }}"
                                             alt="{{ 'TEXT_INFORMATION'|trans|raw }}"/>
                                        {{ 'ENTREGISTRER_DUME_BROUILLON_AVANT_DE_LE_VALIDER'|trans }}
                                    </div>
                                    <div>
                                        <strong>
                                            <img width="17px" src="{{ asset('consultation_depot/assets/images/award.svg') }}"
                                                 alt="{{ 'TEXT_CERTIFICAT'|trans }}" />
                                            {{ 'DEFINE_DUME_PROPOSE_CADRE_CONSULTATION'|trans }}
                                        </strong>
                                    </div>
                                {% endif %}
                                <div id="phase-choice"></div>
                            </div>
                        </div>
                    {% endif %}

                    {% if (isEnabled.masquerElementsMps == 0 and consultationInfo['mps'] == 1)%}
                        <div class="radio">
                            <input type="radio" name="radioPhase" id="mps" value="mps" {{ (inscrit.getId() is defined) ? '' : 'disabled' }} class="m-t-3">
                            <div class="bloc clearfix">
                                <div class="bloc-title h5 m-t-0 m-l-1">
                                    <label class="p-l-0"  for="mps">
                                        <strong>{{ 'CANDIDATURE_VIA_MPS'|trans }}</strong>
                                        <img src="{{ asset('consultation_depot/assets/images/logo-mps-small.png') }}"
                                             class="m-l-1" alt="{{ 'DEFINE_CONSULTATION_MARCHE_PUBLIC_SIMPLIFIE'|trans }}">
                                    </label>
                                </div>
                                <p>
                                    {{ 'DESCRIPTION_CANDIDATURE_VIA_MPS'|trans }}
                                    <a href="http://www.modernisation.gouv.fr/les-services-publics-se-simplifient-et-innovent/par-des-simplifications-pour-les-entreprises/marche-public-simplifie"
                                       target="_blank"
                                       title="Lien externe"
                                       class="m-l-1">
                                        {{ 'DEFINE_SAVOIR_PLUS'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="radio">
                        <input type="radio" name="radioPhase" id="std" value="std" {{ (inscrit.getId() is defined) ? '' : 'disabled' }} class="m-t-3">
                        <div class="bloc">
                            <div class="bloc-title h5 m-t-0 m-l-1">
                                <label class="p-l-0" for="std">
                                    <strong>
                                        {{ 'CANDIDATURE_STANDARD'|trans }}
                                    </strong>
                                </label>
                            </div>
                            <p>{{ 'DESCRIPTION_CANDIDATURE_STANDARD'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- End bloc phase -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalChangementModalite">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">{{ 'NOTE_IMPORTANTE'|trans }}</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{ 'CHANGEMENT_MODALITE_CANDIDATURE_BROUILLON_DUME'|trans }}
                </div>
                {{ 'MSG_SOUHAITEZ_VOUS_CONTINUER'|trans }}
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-default pull-left" id="modal-btn-no" data-dismiss="modal">{{ 'TEXT_ANNULER'|trans }}</button>
                <button type="button" class="btn btn-primary pull-right" id="modal-btn-si">{{ 'CONTINUER'|trans }}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalMultiDepot">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">{{ 'NOTE_SECOND_DEPOT'|trans }}</h3>
            </div>
            <div class="modal-body">
                {{ 'NOTE_SECOND_DEPOT_REPRISE'|trans }}
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-default pull-left" id="modal-btn-no-valid" data-dismiss="modal">{{ 'TEXT_ANNULER'|trans }}</button>
                <button type="button" class="btn btn-primary pull-right" id="modal-btn-valid">{{ 'CONTINUER'|trans }}</button>
            </div>
        </div>
    </div>
</div>
