<!-- Debut Bloc details infos signature -->
<div class="alert alert-info">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4"><strong>{{ 'SIGNATURE_ELECTRO_DES_PLIS'|trans }} :</strong></div>
            <div class="col-md-8">
                <span>
                    {% if consultation.signatureOffre == 1 %}
                        {{ 'WORKSTATION_CERTIFICATE'|trans }}
                    {% elseif consultation.signatureOffre == 2 %}
                        {{ 'DEFINE_AUTORISEE'|trans }}
                    {% else %}
                        {{ 'DEFINE_NON_REQUISE'|trans }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4"><strong>{{ 'DEFINE_CHIFFREMENT_PLIS'|trans }}</strong></div>
                <div class="col-md-8">
                    <span>{% if consultation.chiffrementOffre %}{{ 'TEXT_OUI'|trans ~ ' (' ~'DEFINE_SERVEUR'|trans ~ ')'}}{% else %}{{ 'DEFINE_NON'|trans }}{% endif %}</span>
                </div>
            </div>
        </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4"><strong>{{ 'TRANSMISSION_SECURISE_PLI'|trans }} :</strong></div>
            <div class="col-md-8">
                <span>{{ 'DEFINE_OUI'|trans }}</span>
            </div>
        </div>
    </div>
</div>
<!-- End Block détails  infos signature -->
