<!-- JS ?? -->
{% include 'consultation/consultation-depot-template-upload.html.twig' %}
<script type="text/javascript">
    J(document).ready(function () {
        J('[data-toggle="tooltip"]').tooltip();
    });
    //use for page : consultation-phase-tab.html.twig
    var lotsNumParam = "";
    var journeeDeLAnnee = {{ getJourneeDeLAnnee() }}
    var time = {{ getTime() }}
    var jetonForm = null;
    //dateBandeau({#{{ getDateFoisMille()  }}#},{#{{ getDateZ() }}#});
    {% if consultation.signatureOffre %}
    jetonForm = '<div class="templ-fileupload template-upload template-container-upload-jeton">' +
        '<div class="container-fluid">' +
        '<div class="row row-jeton">' +
        '<div class="col-md-12">'+
        '<div class="fileupload-table table table-striped"><div role="presentation"></div></div>' +
        '<div class="fileupload-buttonbar">' +
        '<form action="#" method="POST" enctype="multipart/form-data" class="form-jeton-upload"'+
        'data-upload-template-id="template-upload-jeton"' +
        'data-download-template-id="template-download-jeton"' +
        'data-drop-zone="null"' +
        'data-url="{{ path('atexo_consultation_depot_upload', {'id': consultation.id}) }}"' +
        'data-type="SIG" '+
        '>'+
        '<input type="hidden" name="type_enveloppe" value="0"/>' +
        '<input type="hidden" name="files_collections" value=""/> ' +
        '<input type="hidden" name="info_index_enveloppe" value=""/>' +
        '<input type="hidden" name="enveloppe" value="0"/>' +
        '<input type="hidden" name="offre_id" value="0"/>' +
        '<input type="hidden"  name="type_fichier" value="{{ obscure_data_management.getObscureData("SIG", uid_response) }}"/>' +
        '<input type="hidden"  name="fichier" value="0"/>' +
        '<input type="hidden" name="uid_response" value="{{ uid_response }}"/>'+
        '<input type="hidden" name="pere_deleted" value="0"/>'+
        '<div class="row">' +
        '<div class="col-md-5">' +
        '<span class="btn btn-primary btn-xs fileinput-button pull-right">' +
        '<i class="fa fa-tag" style="margin-right:3px"><i class="fa fa-plus"></i></i>' +
        '<span>{{ 'AJOUTER_JETON_SIGNATURE'|trans }}</span>' +
        '<input class="fileupload" type="file" name="file_jeton_lot" />' +
        '</span>' +
        '</div>' +
        '</div>'+
        '</form>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>';
    {% else %}
    jetonForm = '';
    {% endif %}
</script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/tmpl.js') }}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/load-image.all.min.js') }}"></script>
<!-- The File Upload processing plugin -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload validation plugin -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
<!-- The main application script -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.events.js') }}"></script>
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.js') }}"></script>
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.jeton.js') }}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
<!-- Chosen Module -->
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atx-bloc-highlighted-popup.js') }}"></script>
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/ServerDate.js') }}"></script>
<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/modal-code-dce-access.js') }}"></script>