{% if dumeNumero is defined %}
<div id="blocMessageConfirmation" class="alert alert-success" style="display: block;">
    <div class="clearfix m-b-1">
        <strong>
            <i class="fa fa-check-circle m-r-1"></i>
            {{ 'CANDIDATURE_DUME_VALIDEE'|trans }}.
        </strong>
    </div>
    <div id="blocHorodatage" class="clearfix m-l-1">
        <label class="col-md-2 control-label">
            {{ 'REFERENCE_DUME'|trans }} :
        </label>
        <div id="horodatage">
            <span id="labelDumeNumero">{{ dumeNumero }}</span>
        </div>
    </div>
</div>
{% endif %}