{% for message in app.session.flashbag.get('info-depot-confirmation') %}
<div id="blocMessageConfirmation" class="alert alert-success" style="display: block;">
    <div class="clearfix m-b-1">
        <strong>
            <i class="fa fa-check-circle m-r-1"></i>
            {{ 'REPONSE_BIEN_ENREGISTRE'|trans }}.
        </strong>
    </div>
    <div id="blocHorodatage" class="clearfix m-l-1">
        <label class="col-md-4 control-label">
            {{ 'HORODATAGE_DEPOT'|trans }} :
        </label>
        <div id="horodatage" class="col-md-8">
            <span id="labelHorodatage">{{ message }}</span>
        </div>
    </div>
</div>
{% endfor %}