<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{'ACTE_ENGAGEMENT_NON_RENSEIGNE'|trans}}" id="modal-acte-engagement-non-renseigne">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'PIECE_NON_RENSEIGNER'|trans }}</h4>
            </div>

            <div class="modal-body" id="content-modal-acte-engagement-non-renseigne">
                <div class="alert alert-warning">
                    <strong>{{ 'WARNING_PIECE_NON_RENSEIGNER'|trans|raw }}</strong>
                    <ul>
                        {%  if consultation.signatureActeEngagement == true  %}</li>
                        <li id="acte-engagement-absent">{{ 'ACTE_ENGAGEMENT_TEXT'|trans|raw }}</li>
                        {% endif %}
                        {%  if consultation.annexeFinanciere == true  %}</li>
                        <li id="annexe-financiere-absent">{{ 'DEFINE_ANNEXE_FINANCIER'|trans|raw }}</li>
                        {% endif %}
                    </ul>
                    {{ 'COMPLETUDE_REPONSE_TEXT'|trans|raw }}
                </div>
            </div>

            <div class="modal-footer">
                <!--Debut line boutons-->
                <div class="btn-group pull-left">
                    <input id="annuler-modal-acte-engagement-non-renseigne" class="btn btn-default btn-sm" value="{{ 'TEXT_ANNULER'|trans }}" title="{{ 'TEXT_ANNULER'|trans }}" data-dismiss="modal" type="button"/>
                </div>
                <div class="btn-group pull-right">
                    <input id="valider-modal-acte-engagement-non-renseigne" class="btn btn-primary btn-sm" value="{{ 'POURSUIVRE_ET_DEPOSER_MA_REPONSE_TEXT'|trans }}" title="{{ 'POURSUIVRE_ET_DEPOSER_MA_REPONSE_TEXT'|trans }}" type="button" />
                </div>
                <!--Fin line boutons-->
            </div>
        </div>
    </div>
</div>