<!--Debut Layer 2-->
<div class="section bloc-rmc">
    {% if actionPossible %}
    <!--Debut Bloc Poser question-->
    <div class="section-heading page-header clearfix m-t-1 p-b-0">
        <h3 class="h4 pull-left">
            {{ 'DEFINE_LISTE_QUESTION_POSEE'|trans }}
        </h3>
        <div class="pull-right">
            <a href="/index.php?page=Entreprise.EntrepriseFormulairePoserQuestion&id={{ consultation.getId() }}&orgAcronyme={{ consultation.getOrganisme().getAcronyme() }}&questions"
               class="btn btn-primary btn-sm">
                <i class="fa fa-comments"></i>
                {{ 'DEFINE_POSER_QUESTION'|trans }}
            </a>
        </div>
    </div>
    <!--Fin Bloc Poser question-->
    {% endif %}
    <!--Debut Bloc questions posees-->
    <div class="bloc m-b-0">
        <div class="table-bloc">
            {% if pagination is defined and pagination is not empty %}

                <div class="line-partitioner clearfix">
                    <div class="h6 pull-left m-b-0">
                        <strong>
                            {{ 'DEFINE_NOMBRE_RESULTAT'|trans }}
                            {{ pagination.getTotalItemCount }}
                        </strong>
                    </div>
                    <div class="partitioner pull-right m-t-2">
                        <strong>
                            {{ knp_pagination_render(pagination) }}
                        </strong>
                    </div>
                </div>

                <table class="table table-results table-striped m-t-2" summary="{{ 'DEFINE_LISTE_PIECES_TELECHARGEES'|trans }}">
                    <thead class="panel-heading">
                    <tr>
                        <th class="col-md-2" id="questions_col_01">
                            <a href="#">
                                {{ 'DATE'|trans }} / {{ 'DEFINE_HEURE'|trans }}
                                {{ 'DEFINE_QUESTION'|trans }}
                                <span class="caret" data-toggle="tooltip" data-placement="right" title="{{ 'DEFINE_TRIER'|trans }}"></span>
                            </a>
                        </th>
                        <th class="col-md-8" id="questions_col_02">
                            <a href="#">
                                {{ 'DEFINE_QUESTION'|trans }}
                                <span class="caret" data-toggle="tooltip" data-placement="right" title="{{ 'DEFINE_TRIER'|trans }}"></span>
                            </a>
                        </th>
                        <th class="col-md-2" id="questions_col_03">
                            <a href="#">
                                {{ 'DEFINE_DATE_SLASH_HEURE'|trans }}
                                {{ 'DEFINE_REPONSE'|trans }}
                                <span class="caret" data-toggle="tooltip" data-placement="right" title="{{ 'DEFINE_TRIER'|trans }}"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in pagination %}
                        <tr>
                            <td headers="questions_col_01">
                                {{ question.dateDepot|date('d/m/Y') }}<br/>
                                {{ question.dateDepot|date('H:i:s') }}
                            </td>
                            <td headers="questions_col_02">
                                <div class="line-break text-justify">
                                    {{ question.question|raw }} <br/>
                                    <a href="/index.php?page=Entreprise.EntrepriseDownloadQuestions&id={{ consultation.id }}&orgAcronyme={{ consultation.organisme }}&idQuestion={{ question.id }}">
                                        {{ question.nomFichier}}
                                    </a>
                                </div>
                            </td>
                            <td headers="questions_col_03" class="text-center">
                                {% if question.dateEnvoi is defined and question.dateEnvoi is not empty %}
                                    {{ question.dateEnvoi|date('d/m/Y') }} -
                                    {{ question.dateEnvoi|date('H:i:s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning text-center m-b-0 m-t-3">{{ 'DEFINE_AUCUN_RESULTAT'|trans }}</div>
            {% endif %}
        </div>
    </div>
    <!--Fin Bloc questions posees-->
</div>
<!--Fin Layer 2-->