<!-- Début modal details signature -->
<div class="modal fade" id="modal-details-signature" tabindex="-1" role="dialog"
     aria-labelledby="{{ 'DEFINE_DETAIL_SIGNATURE'|trans }}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'DEFINE_DETAIL_SIGNATURE'|trans }}</h4>
            </div>
            <div class="modal-body" id="content-details-signature">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ 'FERMER'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal details signature -->