<div class="clearfix">
    <div id="tabNav" class="content-advancedSearch">
        <!--Debut navigation onglets-->
        <div class="content-detailConsult" id="form-nav">
            <div id="error_message">
                {% for message in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <i class="fa fa-times-circle" aria-hidden="true"></i> {{ message|raw }}
                    </div>
                {% endfor %}
            </div>
            <!--SELECT FOR MOBILE VIEW-->
            <form>
                <select id="selectDetailConsultation--m" class="form-control m-b-2">
                    <option value='0'>{{ 'DEFINE_PUBLICITE'|trans }} / {{ 'TEXT_TELECHARGEMENT'|trans }}</option>
                    <option value='1'>{{ 'DEFINE_QUESTION'|trans }}</option>
                    <option value='2'>{{ 'DEPOT'|trans }}</option>
                    <option value='3'>{{ 'DEFINE_MESSAGERIE_SECURISEE'|trans }}</option>
                </select>
            </form>
            <ul class="nav nav-tabs" id="targetDetailConsultation--m" role="tablist">
                <li class="active" role="tab">
                    <a id="pub-tab" data-toggle="tab" href="#pub"
                       aria-controls="pub-tab" aria-selected="true">
                        <i class="fa fa-upload m-r-1" aria-hidden="true"></i>
                        {{ 'ICONE_PUBLICICTE'|trans }} / {{ 'TEXT_TELECHARGEMENT'|trans }}
                    </a>
                </li>
                <li role="tab">
                    <a id="question-tab" data-toggle="tab" href="#question"
                       aria-controls="question-tab" aria-selected="false">
                        <i class="fa fa-question-circle m-r-1" aria-hidden="true"></i>
                        {{ 'DEFINE_QUESTION'|trans }}
                    </a>
                </li>
                <li role="tab">
                    <a id="depot-tab" data-toggle="tab" href="#depot"
                       aria-controls="depot-tab" aria-selected="false">
                        <i class="fa fa-download m-r-1" aria-hidden="true"></i>
                        {{ 'DEPOT'|trans }}
                    </a>
                </li>
                <li  role="tab">
                    <a id="messagerie-tab" data-toggle="tab" href="#messagerie"
                       aria-controls="messagerie-tab" aria-selected="false">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        {{ 'DEFINE_MESSAGERIE_SECURISEE'|trans }}
                    </a>
                </li>
            </ul>
            <div class="form-field form-horizontal">
                <div class="tab-content" id="tab-consultation-content">
                    <!--BEGIN LAYER 1-->
                    <div class="panel panel-default panel-content tab-pane fade in active" id="pub" role="tabpanel" aria-labelledby="publicite-tab">
                        <div class="panel-body">
                            {% include 'consultation/consultation-pub-telechargements.html.twig' %}
                        </div>
                    </div>
                    <!--END LAYER 1-->

                    <!--BEGIN LAYER 2-->
                    <div class="panel panel-default panel-content tab-pane fade in" id="question" role="tabpanel" aria-labelledby="question-tab">
                        <div class="panel-body">
                            {% include 'consultation/consultation-questions-tab.html.twig' %}
                        </div>
                    </div>
                    <!--END LAYER 2-->

                    <!--BEGIN LAYER 3-->
                    <div class="panel panel-default panel-content entreprise-etape-depot tab-pane fade in" id="depot" role="tabpanel" aria-labelledby="depot-tab">
                        <div class="panel-body">
                            <div class="section bloc-rmc panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                {% if consultation.autoriserReponseElectronique == 0 %}
                                    <div class="alert alert-info m-b-0">
                                        <span >{{ 'TEXT_REPONSE_ELECTRONIQUE_REFUSEE'| trans }}</span>
                                    </div>
                                {% else %}
                                    {% if actionPossible %}
                                    {% set etape = 1 %}

                                        {% if consultation.codeExterne is not empty and get_parameter('URL_PAGE_DEPOT_EXTERNE') is not empty %}
                                            <div class="m-b-3">
                                                <a href="{{ get_parameter('URL_PAGE_DEPOT_EXTERNE') }}?idExterne={{ consultation.codeExterne }}" target="_blank" class="btn btn-primary" style="width: 100%">
                                                    {{ 'EXTERNAL_ACCESS_CONSULTATION' | trans }}
                                                </a>
                                            </div>
                                        {% else %}
                                            {% if app.user == null %}
                                                <div class="alert alert-danger">
                                                    <span class="bold">{{ 'TEXT_MESSAGE_ACTION_DEPOT'| trans }}</span>
                                                </div>
                                            {% endif %}

                                            <!-- Vérifier les informations Etablissement et Entreprise de l'inscrit -->
                                            {% if isEtablissementExists is not defined %}
                                                {% include 'entreprise/verification-infos.html.twig' %}
                                                {% set etape = etape + 1 %}
                                            {% endif %}

                                            {% if isEnabled.interfaceDume and isEnabled.groupement and consultationInfo['dume'] == 1 %}
                                                {% include 'consultation/consultation-role-inscrit-tab.html.twig' %}
                                                {% set etape = etape + 1 %}
                                            {% endif %}

                                            {% if consultationInfo['alloti'] == 1 %}
                                                {% include 'consultation/consultation-depot-tab-lot.html.twig' %}
                                                {% set etape = etape + 1 %}
                                            {% endif %}

                                            {% if consultationInfo['phase'] == 1 or
                                                ( consultationInfo['phase'] == 0 and
                                                ( consultationInfo['mps'] == 1 or consultationInfo['dume'] == 1 )
                                                ) %}
                                                {% set phase_test = "" %}

                                                {% include 'consultation/consultation-phase-tab.html.twig' %}
                                                {% set etape = etape + 1 %}
                                            {% else %}
                                                {% set phase_test = "std" %}
                                            {% endif %}

                                            {% if isEnabled.groupement == 1 %}
                                                {% include 'groupement/groupement-depot.html.twig' %}
                                                {% set etape = etape + 1 %}
                                            {% endif %}

                                            {% include 'consultation/consultation-repondre-tab.html.twig' %}
                                        {% endif %}
                                    {% endif %}
                                    {% if consultation.getSignatureOffre() == 1 %}
                                        {% include 'consultation/consultation-legend-tab.html.twig' %}
                                    {% endif %}

                                    {% include 'consultation/consultation-contenus-transmis.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--END LAYER 3-->

                    <!--BEGIN LAYER 4-->
                    <div class="panel panel-default panel-content tab-pane fade in" id="messagerie" role="tabpanel" aria-labelledby="messagerie-tab">
                        <div class="panel-body">
                            {%  if consultation.versionMessagerie == 2 %}
                                {% include 'messagerie/entreprise/dashboard.html.twig' %}
                            {% else %}
                                {% include 'consultation/consultation-messages-tab.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                    <!--END LAYER 4-->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    label.normal {
        font-weight: normal;
    }
</style>
<script>
    J(function() {
        var anchorName = getUrlHash();
        if (anchorName == "question") {
            J("#question-tab").trigger("click");
        }
        if (anchorName == "depot") {
            J("#depot-tab").trigger("click");
        }
        if (anchorName == "messagerie") {
            J("#messagerie-tab").trigger("click");
        }
    });
</script>
