<!--Debut Layer 2-->
<div class="bloc-rmc">
    <div class="section clearfix">
        <div class="section-heading page-header m-t-1 p-b-0">
            <h2 class="h4">
                {{ 'TEXT_TELECHARGEMENT'|trans }}
            </h2>
        </div>
        <div class="section-body clearfix">
            <!--Debut Bloc documents Avis-->
            <div class="col-md-6">
                <div class="content">
                    <h3 class="page-header m-t-0">
                        {{ 'AVIS_DE_PUBLICITE'|trans }}
                    </h3>
                    {# MESSAGE ERREUR PUBLICITE ENTREPRISE #}
                    <div>
                        {% set messages =  app.flashes('error-publicite') %}

                        {% for message in messages %}
                            <div class="panel-user-infos alert alert-danger">
                                <i class="fa fa-exclamation-triangle fa-lg m-r-1"></i>
                                {{ message | raw}}
                            </div>
                        {% endfor %}
                    </div>
                    {# FIN MESSAGE ERREUR PUBLICITE ENTREPRISE #}
                    {% if listePub is not empty or listePubLibre is not empty %}
                        <ul class="list-unstyled">
                            {% for avis in listePubLibre %}

                                <li class="picto-link">
                                    {% if typeFormatAvis.TYPE_FORMAT_LIBRE_FICHIER_JOINT == avis.type %}
                                        <i class="fa fa-external-link text-primary m-r-1"></i>
                                        <a id="linkDownloadAvis"
                                           title="{{ avis.libelle }}"
                                           href="{{ path('atexo_consultation_avis_telechargement', {
                                               'id': consultation.id,
                                               'idAvis': avis.id,
                                               'idTypeAvis': avis.type
                                           })}}">
                                            {{ avis.libelle }}
                                        </a>
                                    {% else %}
                                        <span class="fa fa-external-link text-primary m-r-1"></span>
                                        <a class="lien-ext-left" target="_blank"
                                           title="{{ avis.libelle }}"
                                           href="{{ avis.url }}">
                                            {{ avis.libelle}}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% for avis in listePub %}
                                {% if avis.lienTelechargement is defined %}
                                    <li class="picto-link">
                                    <span class="fa fa-external-link text-primary m-r-1"></span>
                                    <a class="lien-ext-left" target="_blank"
                                       href="{{ avis.lienTelechargement }}">
                                        {{ 'TEXT_FICHIER_JOINT_AVIS_COMPLEMENTAIRE'|trans }}
                                    </a>
                                    </li>
                                {% endif %}
                                {% if avis.support.code == 'ENOTICES' and avis.lienPublication is defined %}
                                    <li class="picto-link">
                                    <span class="fa fa-external-link text-primary m-r-1"></span>
                                    <a class="lien-ext-left" target="_blank"
                                       href="{{ avis.lienPublication }}">
                                        {{ 'NOM_LIEN_AVIS_TED'|trans }}
                                    </a>
                                    </li>
                                {% endif %}
                                {% if avis.support.code == 'ENOTICES' and avis.dateEnvoi is defined %}
                                    {{ 'DATE_ENVOI_AVIS_OFFICE'|trans }} {{ avis.dateEnvoi |date("d/m/Y H:i") }}
                                {% endif %}
                                <br><br>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <!--Fin Bloc documents Avis-->

            <!--Debut Bloc documents Avis-->
            <div class="col-md-6 p-0">
                <div id="panelPieces">
                    <!--Debut Bloc Pieces Consultation-->
                    <h3 id="divPiecesConsultation" class="page-header m-t-0">
                        {{ 'TEXT_PIECES_CONSULTATION'|trans }}
                    </h3>

                    {% if liensConsult.complement is not defined
                        and liensConsult.rg is not defined
                        and liensConsult.dce is not defined
                        and liensConsult.dume is not defined
                        and liensConsult.dossierVolumineux is not defined
                    %}
                        <div class="alert alert-warning m-b-0">
                            <span>{{ 'DEFINE_AUCUNE_PIECE_JOINTE_CONSULTATION'|trans }}</span>
                        </div>
                    {% else %}
                        <ul class="list-unstyled">
                            {% if liensConsult.rg is defined and liensConsult.rg is not empty %}
                                <li class="picto-link">
                                    <i class="fa fa-download text-primary m-r-1"></i>
                                    <a id="linkDownloadReglement" class="ltr" href="{{ liensConsult.rg.lien }}">
                                        {{ liensConsult.rg.taille }}
                                    </a>
                                </li>
                            {% endif %}

                            {% if liensConsult.dce is defined and liensConsult.dce is not empty %}
                                <li class="picto-link">
                                    <i class="fa fa-download text-primary m-r-1"></i>
                                    <span class="ltr">
                                        {% if consultation.codeDceRestreint is defined and consultation.codeDceRestreint is not empty %}
                                            <a href="#" id="linkDownloadDce" data-toggle="modal" data-target="#code-dce_restreint-modal">{{ liensConsult.dce.taille }}</a>
                                            {% else %}
                                            <a href="{{ liensConsult.dce.lien }}" id="linkDownloadDce">{{ liensConsult.dce.taille }}</a>
                                        {% endif %}
                                    </span>
                                </li>
                            {% elseif liensConsult.dossierVolumineux is defined and liensConsult.dossierVolumineux is not empty %}
                                <li class="picto-link">
                                    <i class="fa fa-download text-primary m-r-1"></i>
                                    <span class="ltr">
                                        <a href="{{ liensConsult.dossierVolumineux.lienConsul }}" id="linkDownloadDce">{{ liensConsult.dossierVolumineux.tailleConsul }}</a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if liensConsult.complement is defined and  liensConsult.complement is not empty %}
                                <li class="picto-link">
                                    <i class="fa fa-download text-primary m-r-1"></i>
                                    <a id="linkDownloadComplement" href="{{ liensConsult.complement.lien }}">
                                        {{ liensConsult.complement.taille }}
                                    </a>
                                </li>
                            {% endif %}

                            {% if liensConsult.dume is defined and liensConsult.dume is not empty %}
                                <li class="picto-link">
                                    {% if liensConsult.dume.dumePublie is defined and liensConsult.dume.dumePublie is not empty %}
                                            <i class="fa fa-download text-primary m-r-1"></i>
                                            <a id="linkDownloadDume" href="{{ path('atexo_consultation_contenus_transmis_dume_telechargement_zip', { 'idNumero':liensConsult.dume.idNumero,'idConsultation':liensConsult.dume.idConsultation,'acronymeOrganisme':liensConsult.dume.acronymeOrganisme,'format':liensConsult.dume.format }) }}">
                                                {{ liensConsult.dume.dumePublie }}
                                            </a>
                                    {% elseif  liensConsult.dume.dumeStandard == false %}
                                        {{ 'DUME_ACHETEUR_EN_COURS_PUBLICATION'|trans }}
                                    {% endif %}

                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <!--Fin Bloc Pieces Consultation-->
                </div>
            </div>
            <!--Fin Bloc documents Avis-->
        </div>
    </div>
    <!--Debut Bloc Pieces telechargees-->
    <div class="section clearfix">
        <div class="section-heading page-header p-b-0 m-t-2">
            <h2 class="h4">
                {{ 'DEFINE_LISTE_PIECES_TELECHARGEES'|trans }}
            </h2>
        </div>
        <div class="section-body">
            {% if piecesPagination is defined and piecesPagination is not empty %}
                <div class="item_depot table-bloc" id="panelMoreThanOneElementFoundTelechargement">
                    <!--Debut partitionneur-->
                    <div class="line-partitioner m-t-2">
                        <div class="clearfix m-t-2">
                            <div class="col-md-3">
                                <strong>
                                    {{ 'DEFINE_NOMBRE_RESULTAT'|trans }}
                                    <span id="nombreElementTelechargement">
                                        {{ piecesPagination.getTotalItemCount }}
                                    </span>
                                </strong>
                            </div>
                            <div class="form-inline col-md-9" id="panel1">
                                <div class="form-group-sm text-right">
                                    {{ knp_pagination_render(piecesPagination) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin partitionneur-->

                    <table class="table table-results table-striped listePieceTelechargees--m" summary="{{ 'DEFINE_LISTE_PIECES_TELECHARGEES'|trans }}">
                        <thead class="hidden-xs">
                            <tr>
                                <th class="col-md-2" id="pub_col_01">
                                    {{ 'DATE'|trans }} / {{ 'DEFINE_HEURE'|trans }}
                                    <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}" />
                                </th>
                                <th class="col-md-10" id="pub_col_02">
                                    {{ 'DEFINE_FICHIER_TELECHARGE'|trans }}
                                    <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for piece in piecesPagination %}
                            <tr>
                                <td class="col-md-2 col-xs-12" headers="pub_col_01">
                                    {{ piece.dateTelechargement|date('d/m/Y') }}<br />
                                    {{ piece.dateTelechargement|date('H:i:s') }}
                                </td>
                                <td class="col-md-10 col-xs-12" headers="pub_col_02">
                                    {{ piece.nomsFichiersDce|trim('#')|replace({'#': '<b>|</b>'})|raw }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning text-black" id="panelNoElementFoundTelechargement">
                    <b >{{ 'DEFINE_AUCUN_RESULTAT'|trans }}</b>
                </div>
            {% endif %}
        </div>
        <input type="submit" name="ctl0$CONTENU_PAGE$refreshRepeaterTelechargement" value=""
               id="ctl0_CONTENU_PAGE_refreshRepeaterTelechargement" style="display:none">
        <span id="ctl0_CONTENU_PAGE_javascriptTelechargement"></span>
    </div>
    <!--Fin Bloc Pieces telechargees-->
</div>
{% if (liensConsult.dce is defined and liensConsult.dce is not empty) and (consultation.codeDceRestreint is defined and consultation.codeDceRestreint is not empty) %}
    <!-- Modal -->
    {% include 'consultation/_code_dce_acces_restreint.html.twig' %}
{% endif %}
