<!-- Start bloc contenus transmis -->
<script>
    J(document).ready(function () {
        {% if inscrit.getId() is defined %}
            var load = false;

            J("#contenus-transmis").click(function(event){
                event.preventDefault();

                if( !load ) {
                    J.ajax({
                        method: "POST",
                        url: "{{ path('atexo_consultation_contenus_transmis_depot') }}",
                        data: {
                            "consultation": "{{ cryptage(consultation.id) }}",
                        },
                        success: function (data) {
                            if ('' == data) {
                                J('#id-collapse-bloc-contenus-transmis').append(
                                    '<div class="alert alert-warning text-center m-b-0">' +
                                    '{{ 'TEXT_PAS_REPONDU_CONSULTATION'|trans }}' +
                                    '<div/>'
                                );
                            } else {
                                obj = JSON.parse(data);
                                
                                J('#id-collapse-bloc-contenus-transmis').append(
                                    obj['content']
                                );
                            }
                        }
                    });

                    load = true;
                }
            });
        {% else %}
            J('#id-collapse-bloc-contenus-transmis').append(
                '<div class="alert alert-danger text-center m-b-0">' +
                '{{ 'TEXT_VOUS_ETES_PAS_CONNECTE'|trans }}' +
                '<div/>'
            );
        {% endif %}
    });
</script>

<div class="panel panel-default">
    <div class="bloc-header panel-heading atx-btn-toggle" data-toggle="collapse" data-target="#id-collapse-bloc-contenus-transmis" role="button"
         aria-expanded="false" aria-controls="id-collapse-bloc-contenus-transmis" id="contenus-transmis">
           {{ 'DEFINE_CONTENUS_TRANSMIS'|trans }}
    </div>
    <div class="bloc-body collapse panel-body" id="id-collapse-bloc-contenus-transmis"></div>
</div>
<!-- End bloc contenus transmis -->