{% if consultation.signatureOffre %}
    {% set templateAjoutJetonSignature='
            <div class="row row-jeton"{% if (file.fichier) { %} data-fichier-source="{%=file.fichier%}"{% } %}>
                <div class="col-md-12">
                            <!-- The table listing the files available for upload/download -->
                            <div class="fileupload-table table table-striped">
                                <div id="jeton-file-{%=file.numlot%}_{%=file.organisme%}_{%=file.fichier%}">
                                </div>
                            </div>
                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="fileupload-buttonbar">
                            <form id="form-fileupload-jeton-lot{%=file.numlot%}-{%=file.organisme%}-{%=file.fichier%}"
                                  action="#"
                                  method="POST" enctype="multipart/form-data" class="form-jeton-upload"
                                  data-files-container="#jeton-file-{%=file.numlot%}_{%=file.organisme%}_{%=file.fichier%}"
                                  data-max-number-of-files="1"
                                  data-upload-template-id="template-upload-jeton"
                                  data-download-template-id="template-download-jeton"
                                  data-drop-zone="null"
                                  data-url="'~ path('atexo_consultation_depot_upload', {'id': consultation.id})~'"
                            >
                            <input type="hidden" id="form_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_type_enveloppe"
                               name="type_enveloppe" value="{%=file.type_enveloppe %}"/>
                        <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_files_collections"
                               name="files_collections" value="[]"/>
                       <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_info_index_enveloppe"
                               name="info_index_enveloppe" value="{%=file.numlot%}_{%=file.type_enveloppe %}"/>
                        <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_uid_response" name="uid_response" value="{%=file.uid_response%}"/>
                        <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_enveloppe"
                               name="enveloppe"
                               value="env_lot-{%=file.numlot%}_{%=file.acronyme_enveloppe%}"/>
                        <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_offre_id"
                               name="offre_id"
                               value="{%=file.offre%}"/>
                        <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_type_piece"
                               name="type_fichier"
                               value="'~ obscure_data_management.getObscureData("SIG", uid_response) ~'"/>
                        <input type="hidden" id="form_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}_fichier"
                               name="fichier"
                               value="{%=file.fichier%}"/>
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-primary btn-xs fileinput-button pull-right">
                                            <i class="fa fa-tag"><i class="fa fa-plus"></i></i>
                                            <span>'~ 'AJOUTER_JETON_SIGNATURE'|trans ~'</span>
                                            <input class="fileupload"
                                                   type="file"
                                                   name="file_jeton_lot{%=file.numlot%}_{%=file.acronyme_enveloppe%}_{%=file.fichier%}"
                                                   />
                                        </span>
                                        <!-- The global file processing state -->
                                    </div>
                                </div>
                                </form>
                            </div>
                </div>
             </div>
' %}
    {% set columnSignature='

    <div class="col-md-4 row-file_signature">
    {% if(file.infos_certificat && file.infos_certificat.signatureValide != null && file.infos_certificat.emetteur != null && file.infos_certificat.periodiciteValide != null) { %}
    <div class="statut pull-left">
        <span><img src="' ~ asset('consultation_depot/assets/images/picto-signature.gif') ~ '" alt="'~'TEXT_SIGNATURE_ELECTRONIQUE'|trans~'" title="'~'TEXT_SIGNATURE_ELECTRONIQUE'|trans~'"></span>
        {% if(surchargeReferentiels) { %}
        {% if(file.infos_certificat.signatureValide && file.infos_certificat.repertoiresChaineCertification != null && typeof(file.infos_certificat.repertoiresChaineCertification[0].statut) != "undefined" && file.infos_certificat.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ok") ~'" && file.infos_certificat.periodiciteValide && file.infos_certificat.absenceRevocationCRL == 0) { %}
        <i class="fa fa-check-circle text-success" title="'~ 'DEFINE_SIGNATURE_VALIDE'|trans ~' - '~ 'TEXT_VERIFICATION_OK'|trans ~'"></i>
        {% }else if(file.infos_certificat.signatureValide  == false || (file.infos_certificat.repertoiresChaineCertification != null && typeof(file.infos_certificat.repertoiresChaineCertification[0].statut) != "undefined" && file.infos_certificat.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ko") ~'") || !file.infos_certificat.periodiciteValide || file.infos_certificat.absenceRevocationCRL == 2) { %}
        <i class="fa fa-times-circle text-danger" title="'~ 'DEFINE_SIGNATURE_INVALIDE_DETAIL_PLI'|trans ~' - '~ 'TEXT_VERIFICATION_KO'|trans ~'"></i>
        {% }else{ %}
        <i class="fa fa-times-circle text-warning" title="'~ 'DEFINE_FICHIER_SIGNATURE_INCERTAINE'|trans ~' - '~ 'TEXT_VERIFICATION_INCERTAINE'|trans ~'"></i>
        {% } %}
        {% } else { %}
        {% if(file.infos_certificat.signatureValide && file.infos_certificat.chaineDeCertificationValide == 0 && file.infos_certificat.periodiciteValide && file.infos_certificat.absenceRevocationCRL == 0) { %}
        <i class="fa fa-check-circle text-success" title="'~ 'DEFINE_SIGNATURE_VALIDE'|trans ~' - '~ 'TEXT_VERIFICATION_OK'|trans ~'"></i>
        {% }else if(file.infos_certificat.signatureValide  == false || file.infos_certificat.chaineDeCertificationValide == 2 || !file.infos_certificat.periodiciteValide || file.infos_certificat.absenceRevocationCRL == 2) { %}
        <i class="fa fa-times-circle text-danger" title="'~ 'DEFINE_SIGNATURE_INVALIDE_DETAIL_PLI'|trans ~' - '~ 'TEXT_VERIFICATION_KO'|trans ~'"></i>
        {% }else{ %}
        <i class="fa fa-times-circle text-warning" title="'~ 'DEFINE_FICHIER_SIGNATURE_INCERTAINE'|trans ~' - '~ 'TEXT_VERIFICATION_INCERTAINE'|trans ~'"></i>
        {% } %}
        {% } %}
    </div>
         <div class="name col--fixed-width pull-left p-l-1">
             <a href="javascript:void(0)" title="' ~ 'DEFINE_VOIR_DETAILS_SIGNATURE'|trans ~ '" data-infos-signature="{%=JSON.stringify(file.infos_certificat)%}">
                 <i class="fa fa-search-plus"></i>
                 CN : {%=file.infos_certificat.signatairePartiel%} ( AC :  {%=file.infos_certificat.emetteur.split(",")[0]%})</a>
         </div>
             {% }else{ %}
         <div class="statut">
         </div>
             {% } %}
     </div>
'  %}
{% else %}
    {% set templateAjoutJetonSignature='' %}
    {% set columnSignature='' %}
{% endif %}
{% set sizeRowFileName = (consultation.signatureOffre)?5:7 %}
{% set sizeRowFileProgress = (consultation.signatureOffre)?2:4 %}

<script id="template-upload-piece-libre" type="text/x-tmpl">
 {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %} {% else %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %} {% endif %}
    {% set templateUploadPieceLibre = scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="templ-fileupload template-upload piece-libre">
        <div class="container-fluid">
            <div class="row row-piece">
                <div class="col-md-'~ sizeRowFileName ~' row-file_name name">
                    <div class="pull-left options">
                        <i class="pull-left fa fa-file-text-o atx-text-success icon"></i>
                        <span class="type-piece">' ~ 'PIECE_LIBRE'|trans ~ ' :</span>
                    </div>
                    <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                    <strong class="error text-danger"></strong>
                   {% if (file.doublon) { %}
                        <div class="error-area" attr-error="1"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                    {% } %}
                    {% if (file.tailleDepasse) { %}
                        <div class="error-area" attr-error="0"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_DEPASSE_TAILLE'|trans ~ '</div>
                    {% } %}
                </div>
                <div class="col-md-'~ sizeRowFileProgress ~' row-file_progress">
                    <div class="progress progress-striped {% if (file.doublon || file.maxFileSizeSize || file.tailleDepasse) { %}{% }else{ %}active{% } %}" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar {% if (file.error || file.errorDoublon || file.doublon || file.tailleDepasse) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}"
                        style="width:{% if (file.doublon || file.maxFileSizeSize || file.tailleDepasse) { %}100{% }else{ %}0{% } %}%;"></div>
                    </div>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                ' ~ columnSignature ~ '
                <div class="col-md-1  row-file_actions text-right">
                    <div class="actions center">
                        {% if (!i) { %}
                            <a href="#" title="Annuler le téléchargement" class="btn btn-sm btn-default atx-text-warning atx-btn-icon atx-btn-circle cancel">
                                <i class="fa fa-ban atx-text-warning"></i>
                            </a>
                        {% } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% } %}
' %}
{{ templateUploadPieceLibre|raw }}
</script>

<!--DEBUT PIECE AVEC BOUTON AJOUTER UN JETON DE SIGNATURE-->
<script id="template-download-piece-libre" type="text/x-tmpl">
 {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %} {% else %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %} {% endif %}
    {% set templateDownloadPieceLibre=scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div data-lot="lot-{%=file.lot%}" class="templ-fileupload template-download piece-libre">
        <div class="container-fluid">
            <div class="row row-piece"style="padding: 0 !important;"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}><div class="list-group-item clearfix">
                <div class="col-md-'~ sizeRowFileName ~' row-file_name"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}><div class="">
                    <div class="pull-left optionsm-r-1">
                        <i class="m-r-1 fa fa-file-text-o atx-text-success icontext-success"></i>
                        <span class="type-piece">' ~ 'PIECE_LIBRE'|trans ~ ' :</span>
                    </div>
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" class="name name-link" download="{%=file.name%}" {%=file.thumbnailUrl?"data-gallery":""%}>{%=file.name%}</a>
                    {% } else { %}
                        <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                    {% } %}
                    {% if (file.error) { %}
                        <div class="error-area"  attr-error="0"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'RELANCER_CHARGEMENT'|trans ~ '</div>
                    {% } %}
                {% if (file.errorDoublon || file.doublon) { %}
                        <div class="error-area" attr-error="1"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                    {% } %}
                    {% if (file.tailleDepasse) { %}
                        <div class="error-area" attr-error="0"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_DEPASSE_TAILLE'|trans ~ '</div>
                    {% } %}</div>
                    </div>
                <div class="col-md-'~ sizeRowFileProgress ~' row-file_progress">
                    <div class="progress progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">
                    <div class="progress-bar {% if (file.error || file.errorDoublon || file.tailleDepasse) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}" style="width:100%;"></div>
                    </div>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                ' ~ columnSignature ~ '
                <div class="col-md-1  row-file_actions text-right">
                    <div class="actions center">
                        {% if (file.deleteUrl) { %}
                            <a href="#"
                                title="' ~ 'TEXT_SUPPRIMER_PIECE'|trans ~ '"
                                class="btn btn-primary btn-sm delete"
                                data-type-fichier="PRI"
                                data-type="{%=file.deleteType%}"
                                id="{%=file.id_blob%}"
                                data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %}
                                data-xhr-fields="{"withCredentials":true}"{% } %}>
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% } else { %}
                            <a href="#" title="annuler le téléchargement" class="cancel">
                                <i class="fa fa-ban text-warning"></i>
                            </a>
                        {% } %}
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
{% } %}
' %}
{{ templateDownloadPieceLibre|raw }}
</script>

{% include 'consultation/forms/template-script/template-acte-engaement.html.twig' %}

{% include 'consultation/forms/template-script/template-annexe-financiere.html.twig' %}

{% if consultation.signatureOffre %}
    <script id="template-upload-jeton" type="text/x-tmpl">
    {% set templateUploadJeton='
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="templ-fileupload jeton template-upload-jeton template-upload">
        <div class="row row-piece">
            <div class="col-md-5 row-file_name">
                <div class="name col--fixed-width-long">
                <div class="pull-left options">
                    <span class="type-piece m-r-1">' ~ 'TEXT_JETON'|trans ~ ' : </span>
                </div>
                <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                <br/>
                <strong class="error text-danger"></strong>
              </div>
                 {% if (file.doublon) { %}
                        <div class="error-area" attr-error="1"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                 {% } %}
                 {% if (file.tailleDepasse) { %}
                        <div class="error-area" attr-error="0"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_DEPASSE_TAILLE'|trans ~ '</div>
                 {% } %}
            </div>
            <div class="col-md-2 row-file_progress">
                <div class="progress progress-striped {% if (file.doublon || file.maxFileSizeSize || file.tailleDepasse) { %}{% }else{ %}active{% } %}" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar {% if (file.error|| file.errorDoublon || file.doublon || file.tailleDepasse) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}" style="width:{% if (file.doublon || file.maxFileSizeSize || file.tailleDepasse) { %}100{% }else{ %}0{% } %}%;"></div>
                </div>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </div>
            <div class="col-md-4 row-file_signature">
                <div class="statut pull-left m-r-1">
                    <i  class="fa fa-ban " title="'~ 'DEFINE_MESSAGE_JETON_EN_COURS_RECEPTION'|trans ~'"></i>
                </div>
                <div class="name col--fixed-width">
                    <span class="atx-text-default">'~ 'DEFINE_MESSAGE_JETON_EN_COURS_RECEPTION'|trans ~'</span>
                </div>
            </div>
            <div class="col-md-1  row-file_actions text-right">
                <div class="actions center">

                {% if (!i && !o.options.autoUpload) { %}
                <a href="#" title="Démarrer" class="btn btn-primary start start-sending-token hidden">
                    <i class="glyphicon glyphicon-upload"></i>
                </a>
                {% } %}
                {% if (!i) { %}
                <a href="#" title="Annuler le téléchargement" class="btn atx-text-warning atx-btn-icon atx-btn-circle cancel">
                    <i class="fa fa-ban atx-text-warning"></i>
                </a>
                {% } %}
            </div>
        </div>
    </div>
</div>
{% } %}
' %}
{{ templateUploadJeton|raw }}
</script>

    <script id="template-download-jeton" type="text/x-tmpl">
    {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %} {% else %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %} {% endif %}
    {% set  templateDownloadJeton = scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
<div data-lot="lot-{%=file.lot%}" class="templ-fileupload jeton template-download template-download-jeton"{% if (file.fichier_source) { %} data-fichier="{%=file.fichier%}"{% } %}>
 <div class="row"{% if (file.fichier_source) { %} data-fichier="{%=file.fichier%}" data-is-jeton="true"{% } %}>
    <div class="list-group-item clearfix">
        <div class="col-md-5 row-file_name"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}>
            <div class="name col--fixed-width-long">
                <div class="pull-left options">
                    <span class="type-piece">' ~ 'TEXT_JETON'|trans ~ ' : </span>
                </div>

                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" class="name name-link" download="{%=file.name%}" {%=file.thumbnailUrl?"data-gallery":""%}>{%=file.name%}</a>
                {% } else { %}
                <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
            {% } %}
            {% if (file.error) { %}
               <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'RELANCER_CHARGEMENT'|trans ~ '</div>
            {% } %}
     {% if (file.errorDoublon|| file.doublon ) { %}
                <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
            {% } %}
            {% if (file.tailleDepasse) { %}
                <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_DEPASSE_TAILLE'|trans ~ '</div>
            {% } %}</div>
     </div>
        <div class="col-md-2 row-file_progress">
        <div class="progress progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">
            <div class="progress-bar {% if (file.error|| file.errorDoublon || file.tailleDepasse) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}" style="width:100%;"></div>
        </div>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </div>
     <div class="col-md-4 row-file_signature">
         {% if(file.infos_certificat && file.infos_certificat.signatureValide != null && file.infos_certificat.emetteur != null && file.infos_certificat.periodiciteValide != null) { %}
         <div class="statut pull-left m-r-1">
             <span><img src="' ~ asset('consultation_depot/assets/images/picto-signature.gif') ~ '" alt="'~'TEXT_SIGNATURE_ELECTRONIQUE'|trans~'" title="'~'TEXT_SIGNATURE_ELECTRONIQUE'|trans~'"></span>
             {% if(surchargeReferentiels) { %}
                 {% if(file.infos_certificat.signatureValide && file.infos_certificat.repertoiresChaineCertification != null && typeof(file.infos_certificat.repertoiresChaineCertification[0].statut) != "undefined" && file.infos_certificat.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ok") ~'" && file.infos_certificat.periodiciteValide && file.infos_certificat.absenceRevocationCRL == 0) { %}
                 <i class="fa fa-check-circle text-success" data-tnr="succesSignature" title="'~ 'DEFINE_SIGNATURE_VALIDE'|trans ~' - '~ 'TEXT_VERIFICATION_OK'|trans ~'"></i>
                 {% }else if(file.infos_certificat.signatureValide  == false || (file.infos_certificat.repertoiresChaineCertification != null && typeof(file.infos_certificat.repertoiresChaineCertification[0].statut) != "undefined" && file.infos_certificat.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ko") ~'") || !file.infos_certificat.periodiciteValide || file.infos_certificat.absenceRevocationCRL == 2) { %}
                 <i class="fa fa-times-circle text-danger" title="'~ 'DEFINE_SIGNATURE_INVALIDE_DETAIL_PLI'|trans ~' - '~ 'TEXT_VERIFICATION_KO'|trans ~'"></i>
                 {% }else{ %}
                 <i class="fa fa-times-circle text-warning" title="'~ 'DEFINE_FICHIER_SIGNATURE_INCERTAINE'|trans ~' - '~ 'TEXT_VERIFICATION_INCERTAINE'|trans ~'"></i>
                 {% } %}
             {% } else { %}
                 {% if(file.infos_certificat.signatureValide && file.infos_certificat.chaineDeCertificationValide == 0 && file.infos_certificat.periodiciteValide && file.infos_certificat.absenceRevocationCRL == 0) { %}
                 <i class="fa fa-check-circle text-success" title="'~ 'DEFINE_SIGNATURE_VALIDE'|trans ~' - '~ 'TEXT_VERIFICATION_OK'|trans ~'"></i>
                 {% }else if(file.infos_certificat.signatureValide  == false || file.infos_certificat.chaineDeCertificationValide == 2 || !file.infos_certificat.periodiciteValide || file.infos_certificat.absenceRevocationCRL == 2) { %}
                 <i class="fa fa-times-circle text-danger" title="'~ 'DEFINE_SIGNATURE_INVALIDE_DETAIL_PLI'|trans ~' - '~ 'TEXT_VERIFICATION_KO'|trans ~'"></i>
                 {% }else{ %}
                 <i class="fa fa-times-circle text-warning" title="'~ 'DEFINE_FICHIER_SIGNATURE_INCERTAINE'|trans ~' - '~ 'TEXT_VERIFICATION_INCERTAINE'|trans ~'"></i>
                 {% } %}
             {% } %}
         </div>
         <div class="name col--fixed-width">
             <a href="javascript:void(0)" title="' ~ 'DEFINE_VOIR_DETAILS_SIGNATURE'|trans ~ '" data-infos-signature="{%=JSON.stringify(file.infos_certificat)%}">
                 <i class="fa fa-search-plus"></i>
                 CN : {%=file.infos_certificat.signatairePartiel%} ( AC :  {%=file.infos_certificat.emetteur.split(",")[0]%})</a>
         </div>
             {% }else{ %}
         <div class="statut pull-left m-r-1">
             <span><img src="' ~ asset('consultation_depot/assets/images/picto-aucune-signature.gif') ~ '" alt="' ~ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans ~'" title="' ~ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans ~ '"></span>
             <i class="fa fa-ban " title="' ~ 'TEXT_AUCUNE_SIGNATURE'|trans ~ '"></i>
         </div>
         <div class="name">
             <span class="atx-text-default">Validité de la signature non vérifiable</span>
         </div>
             {% } %}
     </div>
     <div class="col-md-1  row-file_actions text-right">
        <div class="actions center">
            {% if (file.deleteUrl) { %}
                <a href="#"
                    title="' ~ 'TEXT_SUPPRIMER_PIECE'|trans ~ '"
                    class="btn btn-primary btn-sm delete"
                    data-type-fichier="SIG"
                    id="{%=file.id_blob%}"
                    data-type="{%=file.deleteType%}"
                    data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %}
                    data-xhr-fields="{"withCredentials":true}"{% } %}
                    >
                    <i class="fa fa-trash-o"></i>
                </a>
                {% } else {  %}
                <a href="#" title="Annuler le téléchargement" class="btn text-warning atx-btn-icon atx-btn-circle cancel">
                    <i class="fa fa-ban text-warning"></i>
                </a>
                {% } %}
            </div>
        </div>
    </div>
</div>
</div>

{% } %}
' %}
{{ templateDownloadJeton|raw }}
</script>
{% endif %}
<script id="template-popin-details-signature" type="text/x-tmpl">
    {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %}
    {% set nomReferentielCertificat = '<div class="indent-arrow">' ~ 'DEFINE_REFERENTIEL_DERTIFICAT'|trans ~ ' :   <span class="" >{% if(o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].nom) != "undefined") { %}{%= o.repertoiresChaineCertification[0].nom  %}{% } else { %}' ~ 'DEFINE_CERTIFICAT_INCONNU'|trans ~ '{% } %}</span></div>' %}
    {% set pictoStatutChaineCertification = '
            {% if(o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].statut) != "undefined" && o.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ok") ~'") { %}
                <img src="' ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '" id="chaine" title="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '"/>
            {% } else if(o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].statut) != "undefined" && o.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ko") ~'") { %}
                <img src="' ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '" id="chaine" title="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '"/>
            {% } else { %}
                <img src="' ~ asset('consultation_depot/assets/images/picto-validation-incertaine.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_INCERTAINE'|trans ~ '" id="chaine" title="' ~ 'TEXT_VERIFICATION_INCERTAINE'|trans ~ '"/>
            {% } %}'
    %}
    {% set statutChaineCertification = '
            {%
                if(o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].statut) != "undefined" && o.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ko") ~'") {
                   $resNok = 1;
                } else if((o.repertoiresChaineCertification == null) || (o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].statut) != "undefined" && o.repertoiresChaineCertification[0].statut != "'~ parameter("statut_referentiel_certificat_ok") ~'")) {
                   $resUnkown = 1;
                }
            %}
            '
    %}
    {% set messageStatutChaineCertification = '
            {% if(o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].statut) != "undefined" && o.repertoiresChaineCertification[0].statut == "'~ parameter("statut_referentiel_certificat_ko") ~'") { %}
                <p>' ~ 'DEFINE_REFERENTIEL_CERTIFICAT_NOK'|trans ~ '</p>
            {% } else if((o.repertoiresChaineCertification == null) || (o.repertoiresChaineCertification != null && typeof(o.repertoiresChaineCertification[0].statut) != "undefined" && o.repertoiresChaineCertification[0].statut != "'~ parameter("statut_referentiel_certificat_ok") ~'")) { %}
                <p>' ~ 'DEFINE_REFERENTIEL_CERTIFICAT_UNKNOWN'|trans ~ '</p>
            {% } %}'
    %}
{% else %}
{% set nomReferentielCertificat = '' %}
{% set pictoStatutChaineCertification = '{%  if(o.chaineDeCertificationValide == 0) { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '" id="chaine" title="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '"/> {% } else { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '" id="chaine" title="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '"/>{% } %}' %}
{% set statutChaineCertification = '
            {%
                if(o.chaineDeCertificationValide == 2) {
                    $resNok = 1;
                } else if(o.chaineDeCertificationValide != 0) {
                    $resUnkown = 1;
                }
            %}'
%}
{% set messageStatutChaineCertification = '
            {% if(o.chaineDeCertificationValide == 2) { %}
                <p>' ~ 'DEFINE_REFERENTIEL_CERTIFICAT_NOK'|trans ~ '</p>
            {% } else if(o.chaineDeCertificationValide != 0) { %}
                <p>' ~ 'DEFINE_REFERENTIEL_CERTIFICAT_UNKNOWN'|trans ~ '</p>
            {% } %}'
%}
    {% endif %}
    {% set  templatePopinDetailsSignature = '
<!--Debut Message-->
{%
    var $resNok = 0;
    var $resUnkown = 0;

    %} '~ statutChaineCertification ~' {%
    if(o.absenceRevocationCRL == 2) {
        $resNok = 1;
    } else if(o.absenceRevocationCRL != 0) {
        $resUnkown = 1;
    }
    if(o.signatureValide == false) {
        $resNok = 1;
    } else if(o.signatureValide != true) {
        $resUnkown = 1;
    }
    if(!o.periodiciteValide) {
        $resNok = 1;
    }

    if($resNok == 1) {
        var statut = 1;
    } else if($resUnkown == 1) {
        var statut = 2;
    } else {
        var statut = 3;
    }
%}

<div id="divMsgPopin" class="bloc-message form-bloc-conf {% if($resNok == 1) { %}msg-erreur{% } else if($resUnkown == 1) { %}msg-avertissement{% } else { %}msg-confirmation{% } %}">
    <div class="content">
        <div class="message bloc-700">
            <!--Debut Message-->
            <span>
                {%
                    if(statut == 3) { %}
                    <div class="alert alert-success">
                    <i class="fa fa-check-circle m-r-1"></i>
                    '~ 'CONTROLE_SIGNATURE_SUCCES'|trans  ~'</div>
                    {% } else { %}
                    ' ~ messageStatutChaineCertification ~ '
                    {%    if(o.absenceRevocationCRL == 2) { %}
                    <p>' ~ 'DEFINE_NON_REVOCATION_NOK'|trans ~ '</p>
                    {% } else if(o.absenceRevocationCRL != 0) { %}
                    <p>' ~ 'DEFINE_LISTE_NON_REVOCATION_AUTORITE'|trans ~ '</p>
                    {% }
                        if(o.signatureValide == false) { %}
                    <div class="alert alert-danger"><i class="fa fa-times-circle m-r-1"></i>' ~ 'DEFINE_NON_REPUDIATION_NOK'|trans ~ '</div>
                    {% } else if(o.signatureValide != true) { %}
                    <p>' ~ 'DEFINE_NON_REPUDIATION_UNKNOWN'|trans ~ '</p>
                    {% }
                        if(!o.periodiciteValide) { %}
                    <p>' ~ 'DEFINE_PERIODE_VALIDITE_NOK'|trans ~ '</p>
                    {% }
                    }
                %}
            </span>
            <!--Fin Message-->
        </div>
    </div>
</div>

<!--Fin Message-->
<div class="bloc" {% if (o.isSignaturePADES){ %}style="display:none" {% } %}>
    <p>
        <strong>' ~ 'DEFINE_JETON_SIGNATURE'|trans ~ ' :</strong>
        <span id="pathFileJeton">{%=o.name%}</span>
</div>
<div class="bloc">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="title">' ~ 'DEFINE_CERTIFICAT_SIGNATURE'|trans ~ '
                <i class="fa fa-question-circle m-l-1 text-info" data-toggle="tooltip" title="' ~ 'DEFINE_INFO_BULLE_CERTIFICAT_SIGNATURE'|trans ~ '"></i>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>' ~ 'DEFINE_CERTIFICAT_EMIS_A'|trans ~ ' :</strong><br/>
                    <span id="detailSignataire">
                        {% var $signataireComplet = o.signataireDetails; %}
                        {%  if($signataireComplet.alternativeName) { %}
                            {%=$signataireComplet.alternativeName%}</br>
                        {% } %}
                        CN={%=$signataireComplet.cn%}</br>
                        {%
                            if ($signataireComplet.ou) {
                                var $ou = $signataireComplet.ou.split(",");
                                for (var i=0; i<$ou.length; i++)
                                {
                        %}
                                    OU={%=$ou[i]%}</br>
                        {%
                                }
                            }
                        %}
                        O={%=$signataireComplet.o%}</br>
                        C={%=$signataireComplet.c%}</br>
                    </span>
                </div>
                <div class="col-md-6">
                    <strong>' ~ 'CERTIFICAT_EMIS_PAR'|trans ~ ' :</strong><br/>
                    <span id="detailEmisPar">
                        {% var $emetteur = o.emetteur.split(",");
                        for (var i=0; i<$emetteur.length; i++) { %}
                        {%=$emetteur[i]%}</br>
                        {% } %}
                    </span>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <strong>' ~ 'TEXT_DATE_DE_VALIDITE'|trans ~ '
                    <com:TLabel id="dateControlevaliditeCr"/>
                    :</strong><br/>
                ' ~ 'TEXT_DU'|trans ~ ' : <span id="date_Du">{% $dateValiditeDu = new Date(o.dateValiditeDu); print(formatIsoDate($dateValiditeDu)); %}</span><br/>
                ' ~ 'TEXT_AU'|trans ~ ' : <span id="date_Au">{% $dateValiditeAu = new Date(o.dateValiditeAu); print(formatIsoDate($dateValiditeAu)); %}</span><br/>
            </div></div>
        </div>
    </div>
</div>
<div class="bloc row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="title">
                    ' ~ 'DEFINE_CONTROLE_VALIDITATION_CERTIF'|trans ~ '
                    <i class="fa fa-question-circle m-l-1 text-info" data-toggle="tooltip" title="' ~ 'DEFINE_INFO_BULLE_CONTROLE_VALIDITE'|trans ~ '"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="clearfix">

                    ' ~ 'DEFINE_CONTROLE_REALISES_LE'|trans ~ ' : {% $dateControle = new Date(); var $dateControleIso = addZero($dateControle.getDate()) + "/" + addZero($dateControle.getMonth()+1) + "/" +
                    $dateControle.getFullYear() + " " + addZero($dateControle.getHours()) + ":" + addZero($dateControle.getMinutes()) + ":" + addZero($dateControle.getSeconds());print($dateControleIso); %}<br/>
                    ' ~ 'PERIODE_VALIDITE'|trans ~ ' : {% if(o.periodiciteValide) { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') ~ '"
                                                                                           alt="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '" id="periodeValidite" title="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '"/> {% } else
                    { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '" id="periodeValidite"
                             title="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '"/>{% } %}<br/>
                    ' ~ 'CHAINE_CERTIFICATION'|trans ~ ' : ' ~ pictoStatutChaineCertification ~ '<br/>
                    ' ~ nomReferentielCertificat ~ '
                    ' ~ 'DEFINE_NON_REVOCATION'|trans ~ ' : {% if(o.absenceRevocationCRL == 0) { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') ~ '"
                                                                                                        alt="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '" id="CRL" title="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '"/> {% } else
                    { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '" id="CRL"
                             title="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '"/>{% } %}<br/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="title">
                    ' ~ 'DEFINE_INTERGRITE_FICHIER_SIGNE'|trans ~ '
                    <i class="fa fa-question-circle m-l-1 text-info" data-toggle="tooltip" title="' ~ 'DEFINE_INFO_BULLE_INTEGRITE_FICHIER'|trans ~ '"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="clearfix">
                    ' ~ 'DEFINE_CONTROLE_REALISES_LE'|trans ~ ' : {% print($dateControleIso); %}<br/>
                    ' ~ 'DEFINE_NON_REPUDIATION'|trans ~ ' {% if(o.signatureValide) { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') ~ '"
                                                                                             alt="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '" id="periodeValidite" title="' ~ 'TEXT_VERIFICATION_OK'|trans ~ '"/> {% }
                    else { %}<img src="' ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') ~ '" alt="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '" id="periodeValidite"
                                  title="' ~ 'TEXT_VERIFICATION_NOK'|trans ~ '"/>{% } %} <br/>
                </div>
            </div>
        </div>
    </div>
</div>
' %}
{{ templatePopinDetailsSignature|raw }}
</script>

<script id="template-popin-confirmation-depot-reponse-electronique" type="text/x-tmpl">
    {% set  templatPopinConfirmationDepotReponseElectronique = '
        <!--Debut bloc detail-->
        <div class="bloc-detail">
            <div class="alert alert-warning">
                <div class="content">
                    <div class="message bloc-700">
                        <!--Debut Message-->
                        <div class="max-height-overflow max-height-400">
                        <div id="ctl0_CONTENU_PAGE_panelMessagePbSignature">

                            {% if (typeof o.infoSignature != "undefined") { %}
                                {% if (o.signatureOffre == "1") { %}
                                <p>' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_DEPOT_REPONSE'|trans ~ '</p>
                                {% } else { %}
                                    <p>INFORMATION : ' ~ 'DEFINE_MESSAGE_INFORMATION_SIGNATURE_DEPOT_REPONSE'|trans ~ '</p>
                                {% } %}
                                <div class="spacer-small"></div>
                                {% if (typeof o.infoSignature.infoSignatureInvalide != "undefined" && o.infoSignature.infoSignatureInvalide.length > 0) { %}
                                    {% if (o.signatureOffre == "2") { %}
                                    <p><strong>ATTENTION : ' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_INVALIDE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } else { %}
                                        <p><strong>INFORMATION : ' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_INVALIDE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } %}
                                    <div class="spacer-mini"></div>
                                    <ul>
                                        {% for (var i=0; i<o.infoSignature.infoSignatureInvalide.length; i++) { %}
                                            <li>{%=o.infoSignature.infoSignatureInvalide[i]%}</li>
                                        {% } %}
                                    </ul>
                                {% } %}
                                {% if (typeof o.infoSignature.infoSignatureUnknown != "undefined" && o.infoSignature.infoSignatureUnknown.length > 0) { %}
                                    {% if (o.signatureOffre == "1") { %}
                                    <p><strong>ATTENTION : ' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_INCERTAINE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } else { %}
                                        <p><strong>INFORMATION : ' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_INCERTAINE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } %}
                                    <div class="spacer-mini"></div>
                                    <ul>
                                        {% for (var i=0; i<o.infoSignature.infoSignatureUnknown.length; i++) { %}
                                            <li>{%=o.infoSignature.infoSignatureUnknown[i]%}</li>
                                        {% } %}
                                    </ul>
                                {% } %}
                                {% if (typeof o.infoSignature.infoSignatureNonVerifiable != "undefined" && o.infoSignature.infoSignatureNonVerifiable.length > 0) { %}
                                    {% if (o.signatureOffre == "1") { %}
                                    <p><strong>ATTENTION : ' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_NON_VERIFIABLE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } else { %}
                                        <p><strong>INFORMATION : ' ~ 'DEFINE_MESSAGE_PROBLEME_SIGNATURE_NON_VERIFIABLE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } %}
                                    <div class="spacer-mini"></div>
                                    <ul>
                                        {% for (var i=0; i<o.infoSignature.infoSignatureNonVerifiable.length; i++) { %}
                                            <li>{%=o.infoSignature.infoSignatureNonVerifiable[i]%}</li>
                                        {% } %}
                                    </ul>
                                {% } %}
                                {% if (typeof o.infoSignature.infoSignatureVide != "undefined" && o.infoSignature.infoSignatureVide.length > 0) { %}
                                    {% if (o.signatureOffre == "1") { %}
                                    <p><strong>ATTENTION : ' ~ 'DEFINE_MESSAGE_PROBLEME_AUCUNE_SIGNATURE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } else { %}
                                        <p><strong>INFORMATION : ' ~ 'DEFINE_MESSAGE_PROBLEME_AUCUNE_SIGNATURE_DEPOT_REPONSE'|trans ~ ' :</strong></p>
                                    {% } %}
                                    <div class="spacer-mini"></div>
                                    <ul>
                                        {% for (var i=0; i<o.infoSignature.infoSignatureVide.length; i++) { %}
                                            <li>{%=o.infoSignature.infoSignatureVide[i]%}</li>
                                        {% } %}
                                    </ul>
                                {% } %}
                            {% } %}

                            {% if (typeof o.emptyFile != "undefined" && o.emptyFile.length > 0) { %}
                                <p>ATTENTION : ' ~ 'DEFINE_MESSAGE_PROBLEME_FICHIER_VIDE_DEPOT_REPONSE'|trans ~ ' :</p>
                                <div class="spacer-small"></div>
                                <ul>
                                    {% for (var i=0; i<o.emptyFile.length; i++) { %}
                                        <li>{%=o.emptyFile[i]%}</li>
                                    {% } %}

                                </ul>
                            {% } %}

                        </div>
                    </div>
                    <!--Fin Message-->
                </div>
            </div>
        </div>
        <!--Fin bloc detail-->' %}
{{ templatPopinConfirmationDepotReponseElectronique|raw }}
</script>

