<!-- Start bloc link line -->
<div class="link-line clearfix">


</div>

<!-- End bloc link line -->

<!--BEGIN BTN RETOUR / NOUVELLE RECHERCHE / AJOUTER AU PANIER TOP-->
<div class="actions-page-fixed">

    <div class="relative">
        <button class="btn-link dropdown-toggle" type="button" aria-label="dropdownButton" id="dropdownSecondMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="btn btn-success btn-lg btn-nav" title="Menu Recherche">
                <i class="fa fa-bars"></i>
            </div>
        </button>


        <ul class="list-unstyled clearfix m-t-2 dropdown-toggle-menu" aria-labelledby="dropdownSecondMenu">
            <li class="clearfix">
                <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseAdvancedSearch&WithCritere&searchAnnCons"
                   class="btn-link">
                    <div class='btn btn-default' title='{{ 'TEXT_RETOUR'|trans }}'>
                        <i class="fa fa-arrow-left"></i>
                        <span class="sr-only">{{ 'TEXT_RETOUR'|trans }}</span>
                    </div>
                </a>
            </li>

            {% if inscrit.getId() is defined %}

                <li class="clearfix">
                    <a href="{{ path('atexo_consultation_ajout_panier') }}?id_consultation={{ consultation.getId() }}&id_entreprise={{ inscrit.getEntrepriseId() }}"
                       type="button" title="{{ 'DEFINE_AJOUTER_PANIER'|trans }}" id="addPanierRedirect"
                       class="btn-link" data-toggle="ajaxmodal" data-json='{
																		"ajaxmodal":{
																			"callback":"KTJS.pages_entreprise_advancedsearch.consultation.callback.addToBasket"
																		},
																		"data":{
																			"btnAddBasket":"#addPanierRedirect"
																		}
																	}'>
                        <div class='btn btn-primary'  title='{{ 'DEFINE_AJOUTER_PANIER'|trans }}'>
                            <i class="fa fa-cart-arrow-down"></i>
                            <span class="sr-only">{{ 'DEFINE_AJOUTER_PANIER'|trans }}</span>
                        </div>
                    </a>
                </li>
            {% endif %}

            <li class="clearfix">
                <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseAdvancedSearch&searchAnnCons"
                   title="{{ 'DEFINE_FAIRE_NOUVELLE_RECHERCHE'|trans }}" class="btn-link">
                    <div class='btn btn-default'  title='{{ 'DEFINE_FAIRE_NOUVELLE_RECHERCHE'|trans }}'>
                        <i class="fa fa-arrow-right"></i>
                        <span class="sr-only">{{ 'DEFINE_FAIRE_NOUVELLE_RECHERCHE'|trans }}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
<!--END BTN RETOUR / NOUVELLE RECHERCHE / AJOUTER AU PANIER TOP-->