<div class="blue piece-type">
    <!-- <i class="pull-left fa fa-file-text-o atx-text-success icon" title="{{ 'TEXT_JETON'|trans }}"></i> -->
    <span class="intitule-piece">{{ 'TEXT_JETON'|trans }} :</span>
    <abbr title="{{ 'TEXT_NOM_DU_DOCUMENT'|trans }} : {{ fichierEnveloppeSignature.nomFichier }}">
        {{ fichierEnveloppeSignature.nomFichier }}
    </abbr>
</div>