<!--Debut Bloc Mes coordonnees-->
<div class="panel panel-default">
    <div class="panel-heading" role="button" data-toggle="collapse" href="#id-collapse-bloc-mes-coordonnees" aria-expanded="false" aria-controls="id-collapse-bloc-mes-coordonnees">
        <h2 class="h4 panel-title">
            {{ 'TEXT_MES_COORDONNEES'|trans }}
        </h2>
    </div>
    <div class="panel-body collapse" id="id-collapse-bloc-mes-coordonnees">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 atx-static-label">{{ 'TEXT_ENTREPRISE'|trans }} :</div>
                <div class="col-md-8 atx-static-info">{% if inscrit.entreprise is not empty %}{{ inscrit.entreprise.nom }}{% else %}Indisponible{% endif %}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 atx-static-label">{{ 'NOM'|trans }} :</div>
                <div class="col-md-8 atx-static-info"> {{ inscrit.nom }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 atx-static-label">{{ 'DEFINE_PRENOM'|trans }} :</div>
                <div class="col-md-8 atx-static-info">{{ inscrit.prenom }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 atx-static-label">{{ 'ADRESSE_ELECTRONIQUE'|trans }} :</div>
                <div class="col-md-8 atx-static-info">{{ inscrit.email }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="inputEmail" class="col-md-4 control-label">{{ 'ADRESSE_ACCUSE'|trans }} :</label>
                <div class="col-md-8">
                    <input type="email" id="inputEmail" value="{{ inscrit.email }}" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Bloc Mes coordonnees-->