{# Initialisation de variable pour eviter le bloquage #}
{# TODO supprimer cette initialisation avant la MEP #}
{% set codesNuts = [] %}
{% set codesCpvs = [] %}
{% set domainesActivites = [] %}
{% set donneesComplementaire = { 'prixAquisitionPlans' : '', 'cautionProvisoire' :''} %}
<div class="form-bloc form-horizontal recap-infos-consultation" id="recap-consultation">
    <div class="panel panel-default" id="collapseHeading">
        <div class="panel-heading clearfix" role="button" data-toggle="collapse" href="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
            <h1 class="h4 panel-title">
                {{ 'DETAIL_DE_LA_CONSULTATION'|trans }}
            </h1>
        </div>

        <div class="panel-body">
            <div class="recap-bloc">
                <div class="clearfix item_consultation">
                    <!--BEGIN DATE LIMITE REMISE DES PLIS-->
                    <div class="col-md-10">
                        <div class="row">
                            <label class="col-md-4 col-xs-12 spacing-helper-m">
                                {{ 'DEFINE_DATE_HEURE_LIMITE_REMISE_PLIS'|trans }} :
                            </label>
                            <span class="col-md-8 col-xs-12">
                                <span class="green bold">{{ consultation.datefin|date("d/m/Y H:i") }}</span>
                                {% if 'DEFINE_HEURE_LOCALISATION'|trans != 'DEFINE_HEURE_LOCALISATION' %}{{ 'DEFINE_HEURE_LOCALISATION'|trans }}{% endif %}

                                {% if not consultation.autoriserReponseElectronique %}<img
                                    src="{{ asset('consultation_depot/assets/images/reponse-elec-non.gif') }}"
                                    alt="{{ 'TEXT_PAS_REPONSE_POUR_CONSULTATION'|trans }}"
                                    class="certificat indent-10">
                                {% else %}
                                    {% if consultation.signatureOffre and consultation.reponseObligatoire %}<img
                                        src="{{ asset('consultation_depot/assets/images/reponse-elec-oblig-avec-signature.gif') }}"
                                        alt="{{ 'TEXT_REPONSE_OBLIGATOIRE_POUR_CONSULTATION_AVEC_SIGNATURE'|trans }}"
                                        class="certificat indent-10">{% endif %}
                                    {% if consultation.signatureOffre and not consultation.reponseObligatoire %}<img
                                        src="{{ asset('consultation_depot/assets/images/reponse-elec-avec-signature.gif') }}"
                                        alt="{{ 'TEXT_REPONSE_NON_OBLIGATOIRE_POUR_CONSULTATION_AVEC_SIGNATURE'|trans }}"
                                        class="certificat indent-10">{% endif %}
                                    {% if not consultation.signatureOffre and consultation.reponseObligatoire %}<img
                                        src="{{ asset('consultation_depot/assets/images/reponse-elec-oblig.gif') }}"
                                        alt="{{ 'TEXT_REPONSE_OBLIGATOIRE_POUR_CONSULTATION_SANS_SIGNATURE'|trans }}"
                                        class="certificat indent-10">{% endif %}
                                    {% if not consultation.signatureOffre and not consultation.reponseObligatoire %}<img
                                        src="{{ asset('consultation_depot/assets/images/reponse-elec.gif') }}"
                                        alt="{{ 'TEXT_REPONSE_NON_OBLIGATOIRE_POUR_CONSULTATION_SANS_SIGNATURE'|trans }}"
                                        class="certificat indent-10">{% endif %}
                                {% endif %}

                                {% if (atexo_configuration.getConfigurationPlateforme().masquerElementsMps == 0 and consultation.marchePublicSimplifie) %}<img
                                    src="{{ asset('consultation_depot/assets/images/logo-mps-small.png') }}"
                                    alt="{{ 'DEFINE_MARCHE_PUBLIC_SIMPLIFIE'|trans }}"
                                    class="certificat indent-10">{% endif %}
                                {% if atexo_configuration.getConfigurationPlateforme().interfaceDume and consultation.dumeDemande and dume is not empty  %}<img
                                    src="{{ asset(dume.image) }}"
                                    alt="{{ dume.message }}"  class="certificat indent-10">{% endif %}
                                {% if consultation.consultationAnnulee %}<img
                                    src="{{ asset('consultation_depot/assets/images/picto-cons-annulee.gif') }}"
                                    alt="{{ 'CONSULTATION_ANNULEE'|trans }}"  class="certificat indent-10">{% endif %}

                            </span>
                        </div>
                    </div>
                    <!--END DATE LIMITE REMISE DES PLIS-->

                    <!--BEGIN REFERENCE-->
                    <div class="col-md-10 text-justify">
                        <div class="row">
                            <label class="col-md-4 col-xs-12 spacing-helper-m">
                                {{ 'REFERENCE'|trans }} :
                            </label>
                            <span class="col-md-8 col-xs-12">
                                {{ consultation.referenceUtilisateur|raw }}
                            </span>
                        </div>
                    </div>
                    <!--END REFERENCE-->

                    <!--BEGIN INTITULE-->
                    <div class="col-md-10 text-justify">
                        <div class="row">
                            <label class="col-md-4 col-xs-12 spacing-helper-m">
                                {{ 'DEFINE_INTITULE'|trans }} :
                            </label>
                            <div class="col-md-8 col-xs-12">
                                <span class="words-break-and-wrap">{{ consultation.intitule|raw }}</span>
                            </div>
                        </div>
                    </div>
                    <!--END INTITULE-->

                    <!--BEGIN OBJET-->
                    <div class="col-md-10 text-justify">
                        <div class="row">
                            <label class="col-md-4 col-xs-12 spacing-helper-m">{{ 'OBJET'|trans }} :</label>
                            <div class="col-md-8 col-xs-12">
                                <span class="words-break-and-wrap">{{ consultation.objet|raw }}</span>
                            </div>
                        </div>
                    </div>
                    <!--END OBJET-->

                    <!--BEGIN ORGANISME-->
                    <div class="col-md-10 text-justify">
                        <div class="row">
                            <label class="col-md-4 col-xs-12 spacing-helper-m">{{ 'ORGANISME'|trans }} :</label>
                            <span class="col-md-8 col-xs-12">
                                {{ consultation.orgDenomination|raw }}
                            </span>
                        </div>
                    </div>
                    <!--END ORGANISME-->

                    {% if consultation.datefinlocale is not empty and consultation.datefinlocale != '0000-00-00 00:00:00' %}
                        <div class="col-md-10 text-justify">
                            <div class="row">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">{{ 'MESSAGE_HEURE_LOCALE'|trans }} :</label>
                                <div class="col-md-8 col-xs-12">
                                    {% if date(consultation.datefinlocale) < date() %}
                                        <span class="text-danger">
                                    <strong><abbr
                                                title="{{ 'MESSAGE_DATE_LIMITE_DEPASSEE'|trans }}"> {{ consultation.datefinlocale | date("d/m/Y H:i") }} </abbr></strong>
                                </span>
                                    {% else %}
                                        <span class="text-success">
                                    <strong>
                                        {{ consultation.datefinlocale | date("d/m/Y H:i") }}
                                    </strong>
                                </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}


                </div>
            </div>
            <ul class="panel-collapse collapseBody list-unstyled clearfix collapse" id="collapseInfo" role="tabpanel" aria-labelledby="collapseInfo" aria-expanded="false">
                <li>
                    <hr/>
                </li>
                <div class="row">
                    <li class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="clearfix">
                                {% if consultation.lieuResidence is not empty %}
                                    <div class="col-md-10 text-justify">
                                        <label class="col-md-4 col-xs-12 spacing-helper-m">{{ 'DEFINE_LIEU_RESIDENCE'|trans }} :</label>
                                        <div class="col-md-8 col-xs-12">
                                            {{ consultation.lieuResidence }}
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                            <li class="clearfix">
                                {% if atexo_configuration.getConfigurationPlateforme().annulerConsultation == '1' and consultation.dateDecisionAnnulation is not empty %}
                                    <div class="col-md-10 text-justify">
                                        <label class="col-md-4 col-xs-12 spacing-helper-m">{{ 'DEFINE_DATE_D_ANNULATION'|trans }} :</label>
                                        <div class="col-md-8 col-xs-12">
                                            {{ consultation.dateDecisionAnnulation }}
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                            <li class="clearfix">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">
                                    {{ 'DEFINE_ENTITE_PUBLIQUE'|trans }}
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    {{ consultation.organisme.denominationOrg|raw }}
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">
                                    {{ 'DEFINE_ENTITE_ACHAT'|trans }} :
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    {% if  consultation.service %}
                                        {{ consultation.service.cheminComplet }}
                                    {% else %}
                                        {{ consultation.organisme.sigle }} - {{ consultation.organisme.denominationOrg }}
                                    {% endif %}
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">
                                    {{ 'TYPE_ANNONCE'|trans }} :
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    {{ consultation.avisType.intituleAvis|raw }}
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">
                                    {{ 'DEFINE_PROCEDURE'|trans }} :
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    {% if  consultation.typeProcedure.libelleTypeProcedure is not empty %}
                                        {{ consultation.typeProcedure.libelleTypeProcedure }}
                                    {% else %}
                                        Procédure Inconnue
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="clearfix">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">
                                    {{ 'DEFINE_CATEGORIE_PRINCIPALE'|trans }} :
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    {{ consultation.categorieConsultation.libelle|raw }}
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="col-md-4 col-xs-12 spacing-helper-m">
                                    {{ 'TEXT_ALLOTISSEMENT'|trans }} :
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    {% if  consultation.alloti %}
                                        <span>
                                            <a href="javascript:popUpSetSize('{{ lienDetailLots }}','800','275','yes');">
                                                <i class="fa fa-cubes text-warning m-r-1"></i>
                                                {{ consultation.lots|length }}
                                                {% if consultation.lots|length <= 1  %}
                                                    {{ 'TEXT_LOT' | trans }}
                                                {% else    %}
                                                    {{ 'TEXT_LOTS' | trans }}
                                                {% endif %}
                                            </a>
                                        </span>
                                    {% else %}
                                        {{ 'DEFINE_NON'|trans }}
                                    {% endif %}
                                </div>
                            </li>
                            <!-- TODO if module lieux d'execution activé -->
                            {% if lieuxExecutions is defined and atexo_configuration.getConfigurationPlateforme().lieuxExecution == '1' and lieuxExecutions is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'DEFINE_LIEUX_EXECUTION'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">
                                        {{ lieuxExecutions|join(', ') }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module CodeNutLtReferentiel activé Cf atexo.referentiels -->
                            {% if atexo_configuration.getConfigurationPlateforme().codeNutLtReferentiel == '1' and codesNuts is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'CODE_NUTS'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">
                                        {{ codesNuts|join(', ') }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module AffichageCodeCpv activé Cf atexo.referentiels -->
                            {% if atexo_configuration.getConfigurationPlateforme().affichageCodeCpv == '1' and consultation.codeCpv1 is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_CODE_CPV'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">
                                        <span data-code-cpv="{{ consultation.codeCpv1 }}">{{ consultation.codeCpv1 }} {{ 'DEFINE_CODE_PRINCIPAL'|trans }}</span>
                                        {% if consultation.codeCpv2 is not empty %}
                                            <br/>
                                            {% set codesCpvsSecondaire = consultation.codeCpv2|trim('#')|split('#') %}
                                            {% for codeCpvSecondaire in codesCpvsSecondaire %}
                                                <span data-code-cpv="{{ codeCpvSecondaire }}">{{ codeCpvSecondaire|trim('#') }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationDomainesActivites ou ConsultationDomainesActivitesLtReferentiel activé Cf atexo.referentiels -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationDomainesActivites == '1' and domainesActivites is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_DOMAINES_ACTIVITE'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ domainesActivites|join(', ') }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationDomainesActivites ou ConsultationDomainesActivitesLtReferentiel activé Cf atexo.referentiels -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationDomainesActivitesLtReferentiel == '1' and domainesActivites is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_DOMAINES_ACTIVITE'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ domainesActivites|join(', ') }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationAdresseRetraisDossiers active -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationAdresseRetraisDossiers == '1' and consultation.adresseRetraisDossiers is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'ADRESSE_RETRAIT_DOSSIERS'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ consultation.adresseRetraisDossiers|raw }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationPrixAcquisition active -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationPrixAcquisition == '1' and consultation.adresseDepotOffres is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_ADRESSE_DEPOT_OFFRES'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ consultation.adresseDepotOffres|raw }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationLieuOuverturePlis active -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationLieuOuverturePlis == '1' and consultation.lieuOuverturePlis is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'LIEU_OUVERTURE_PLIS'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ consultation.lieuOuverturePlis|raw }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationPrixAcquisition active + recuperer TDonneesCompletementaire -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationPrixAcquisition == '1' and atexo_configuration.getConfigurationOrganisme(consultation.organisme).donneesComplementaires == '1' and donneesComplementaire.prixAquisitionPlans is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'PRIX_ACQUISITION_DES_PLANS'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ donneesComplementaire.prixAquisitionPlans }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationCautionProvisoire active + recuperer TDonneesCompletementaire -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationCautionProvisoire == '1' and atexo_configuration.getConfigurationOrganisme(consultation.organisme).donneesComplementaires == '1' and donneesComplementaire.cautionProvisoire is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'CAUTION_PROVISOIRE'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ donneesComplementaire.cautionProvisoire }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationQualification active  -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationQualification == '1' and consultation.qualification is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_QUALIFICATIONS'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ consultation.qualification|join(', ') }}
                                    </div>
                                </li>
                            {% endif %}
                            <!-- TODO if module ConsultationAgrement active  -->
                            {% if atexo_configuration.getConfigurationPlateforme().consultationAgrement == '1' and consultation.agrements is not empty %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_AGREMENT'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{{ consultation.agrements }}
                                    </div>
                                </li>
                            {% endif %}
                            {% if atexo_configuration.getConfigurationPlateforme().consultationVariantesAutorisees == '1' and atexo_configuration.getConfigurationOrganisme(consultation.organisme).donneesComplementaires == '1' %}
                                <li class="clearfix">
                                    <label class="col-md-4 col-xs-12 spacing-helper-m">
                                        {{ 'TEXT_VARIANTE'|trans }} :
                                    </label>
                                    <div class="col-md-8 col-xs-12">{% if(consultation.variantes) %}{{ 'TEXT_OUI'|trans }}{% else %}{{ 'TEXT_NON'|trans }}{% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>