<div class="{% if app.user == null %} opacity-bloc{% endif %} m-t-3 m-b-2">
    <script>
        {% if inscrit.getId() is defined %}
        J(document).ready(function () {
            function updateroleInscrit(role) {
                J.ajax(Routing.generate('atexo_consultation_role_inscrit_changed'), {
                    method: "POST",
                    data: {
                        organisme: '{{ consultation.getAcronymeOrg() }}',
                        consultation: '{{ consultation.getId() }}',
                        idInscrit: '{{ inscrit.getId() }}',
                        idEntreprise: '{{ inscrit.getEntrepriseId() }}',
                        idEtablissement: '{{ inscrit.getIdEtablissement() }}',
                        role: role
                    }
                });

            }
            {% if candidature is defined and candidature.getRoleInscrit() == 2 %}
            J('#cotraitant').prop('checked', true);
            J("#groupement").hide();
            J("#repondre_consultation").hide();
            {% else %}
            J('#mandataire').prop('checked', true);
            J("#groupement").show();
            J("#repondre_consultation").show();
            {% endif %}
            J("input[name='radioRole']").change(function () {
                var role = 1;
                if (J("input[name='radioRole']:checked")[0].id == 'cotraitant') {
                    role = 2;
                    J("#groupement").hide();
                    J("#repondre_consultation").hide();
                    J('#fournirBloc').hide();
                } else {
                    J("#groupement").show();
                    J("#repondre_consultation").show();
                    J('#fournirBloc').show();
                }
                updateroleInscrit(role);
            });

        });
        {% endif %}
    </script>
    <div class="panel panel-default panel-step" id="role_inscrit">
        <div class="panel-heading">
            <h2 class="h4 panel-title">
                {{ 'ETAPE'|trans }} {{ etape }} : {{ 'SELECTION_ROLE_INSCRIT'|trans }}
            </h2>
        </div>
        <div class="clearfix phase-bloc panel-body p-t-0">
            <div class="p-1">
                <div class="radio">
                    <input type="radio" name="radioRole" id="mandataire"
                           value="mandataire" {{ (inscrit.getId() is defined) ? '' : 'disabled' }} class="m-t-3">
                    <div class="bloc">
                        <div class="bloc-title h5 m-t-0 m-l-1">
                            <label class="p-l-0" for="mandataire">
                                <strong>
                                    {{ 'ROLE_INSCRIT_MANDATAIRE'|trans }}
                                </strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="radio">
                    <input type="radio" name="radioRole" id="cotraitant"
                           value="cotraitant" {{ (inscrit.getId() is defined) ? '' : 'disabled' }} class="m-t-3">
                    <div class="bloc">
                        <div class="bloc-title h5 m-t-0 m-l-1">
                            <label class="p-l-0" for="cotraitant">
                                <strong>
                                    {{ 'ROLE_INSCRIT_COTRAITANT'|trans }}
                                </strong>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>