<div class="alert alert-info">
    <div>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {{ 'TEXT_MERCI_RENSEIGNER_DUME_CI_DESSOUS_DUME'|trans }}
    </div>
    <div>{{ 'TEXT_PENSER_RENSEIGNER_TROIS_ONGLETS_DUME'|trans }}</div>
    <div>{{ 'TEXT_APRES_RENSEIGNEMENT_CONFIRMATION_GENERE_FORMAT_PDF_DUME'|trans }}</div>
    <div>{{ 'TEXT_VOUS_POUVEZ_ENREGISTRER_BROUILLON_DUME'|trans }}</div>
    <div>{{ 'TEXT_UNE_FOIS_DUME_COMPLETE_VALIDE'|trans }}</div>
</div>

<script>
    var MPE_ID_CONTEXTE = {{ idContextDume.idContexteOE is defined ? idContextDume.idContexteOE : -1 }};
    var TOKEN_ACCESS = "{{ accessToken != false ? accessToken : -1 }}";
    var LANGUE = '{{ locale  }}';
    if ('du' == LANGUE) {
        LANGUE = 'de';
    }


    J(document).ready(function () {
        J("#saveDumeEntreprise").click(function () {
            if (J("#saveDume").is(":disabled")) {
                J("#error_message").addClass("alert alert-danger");
                J("#error_message").append('<i class="fa fa-exclamation-circle"></i> {{ 'TEXT_DUME_OE_CHAMPS_NON_VALIDE'|trans }}');
            } else {
                J("#error_message").removeClass("alert alert-danger");
                J("#error_message").html('');
                J("#saveDume").trigger('click');
            }

            remonter();
        });
    });
</script>

{% if validateDume is defined and validateDume == 'LT_DUME_DOWN' %}
    <div class="alert alert-danger clearfix">
        <div class="pull-left">
            <i class="fa fa-times-circle m-r-1" aria-hidden="true"></i>
            {{ 'TEXT_LT_DUME_NE_REPOND_PAS'|trans|raw }}
        </div>
    </div>
{% endif %}
<div class="clearfix">
    <div id="error_message"></div>
    <div id="error_message_validation" class="alert alert-danger" style="display: none">{{ 'ECHEC_DEMANDE_VALIDATION_DUME'|trans|raw }}</div>
    <dume-response  langue="{{ app.request.locale  }}"></dume-response>
</div>

<div class="actions-page-fixed">

    <div class="relative">
        <button class="btn-link dropdown-toggle" type="button" id="dropdownSecondMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="btn btn-success btn-lg btn-nav" data-toggle="tooltip" title="Actions" data-placement="left">
					<i class="fa fa-bars"></i>
				</span>
        </button>


        <ul class="list-unstyled clearfix m-t-2 dropdown-toggle-menu" aria-labelledby="dropdownSecondMenu">
            <li class="clearfix">
                <a href="{{ path('atexo_consultation_index', { 'id': consultation.getId() }) }}#depot"
                   data-toggle="tooltip" title="{{ 'TEXT_RETOUR_VERS_DETAIL'|trans }}" type="button" class="btn btn-default">
                    <i class='fa fa-arrow-left'></i>
                </a>
            </li>
            <li class="clearfix">
                <button type="button" id="saveDumeEntrepriseEtRetour"
                        data-toggle="tooltip" title="{{msgBoutonDume }}"
                        onclick="saveAndBackToDepot('{{ 'TEXT_DUME_OE_CHAMPS_NON_VALIDE'|trans }}', true);" class="btn btn-primary btn-save">
                    <i class="fa fa-share-square-o fa-flip-horizontal m-r-1" aria-hidden="true"></i>
                </button>
            </li>
            <li class="clearfix">
                <button type="button" id="saveDumeEntreprise" class="btn btn-primary btn-save"
                        onclick="saveAndBackToDepot('{{ 'TEXT_DUME_OE_CHAMPS_NON_VALIDE'|trans }}', false);"
                        data-toggle="tooltip" title="{{ 'TEXT_ENREGISTER_RESTER_SUR_LA_PAGE'|trans }}">
                    <i class="fa fa-save m-r-1" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>

</div>

<div class="clearfix m-b-10">
    <hr>
    <div class="col-md-12 p-l-0 p-r-0">
        <a href="{{ path('atexo_consultation_index', { 'id': consultation.getId() }) }}#depot" type="button"
           data-toggle="tooltip" title="{{ 'TEXT_RETOUR_VERS_DEPOT'|trans }}" class="btn btn-sm btn-default pull-left">
            {{ 'TEXT_RETOUR'|trans }}
        </a>
        <button type="button" id="saveDumeEntrepriseEtRetourBas"
                onclick="saveAndBackToDepot('{{ 'TEXT_DUME_OE_CHAMPS_NON_VALIDE'|trans }}', true);"
                data-toggle="tooltip" title="{{msgBoutonDume }}" class="btn btn-sm btn-primary pull-right btn-save m-l-1">
            <i class="fa fa-save m-r-1" aria-hidden="true"></i> {{ msgBoutonDume }}
        </button>
        <button type="button" id="saveDumeEntrepriseBas"
                onclick="saveAndBackToDepot('{{ 'TEXT_DUME_OE_CHAMPS_NON_VALIDE'|trans }}', false);"
                data-toggle="tooltip" title="{{ 'TEXT_ENREGISTER_RESTER_SUR_LA_PAGE'|trans }}" class="btn btn-sm btn-primary pull-right btn-save">
            <i class="fa fa-save m-r-1" aria-hidden="true"></i> {{ 'TEXT_ENREGISTER'|trans }}
        </button>
    </div>
</div>
<input id="urlRedirectDepot" name="urlRedirectDepot" type="hidden" value="{{ path('atexo_consultation_index', { 'id': consultation.getId() }) }}#depot">
<input id="idCandidature" name="idCandidature" type="hidden" value="{{ idCandidature }}">
<input id="urlPageDepotDume" name="idCandidature" type="hidden" value="{{ path('atexo_consultation_dume_depot', { 'id_consultation': consultation.getId() }) }}">

<!--Start Modal validation non autorisée-->
<div class="modal fade" id="modalDumeNotValid" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="goBackAfterSaveDume = false;"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> {{ 'VALIDATION_NON_AUTORISEE'|trans }}</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="alert alert-warning">
                    {{ 'ECHEC_VALIDATION_DUME'|trans }}
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-sm btn-default pull-left"
                        data-dismiss="modal" onclick="goBackAfterSaveDume = false;">{{ 'FERMER'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal validation non autorisée-->

