<div class="bloc-body" id="bloc-lot{{ num_lot|default('0') }}-{{ type.acronyme }}"{% if num_lot is not empty %} data-lot="{{ num_lot|default('0') }}"{% endif %}>
    <div class="component-file-upload panel panel-default">
        <!-- The table header -->
        <div class="fileupload-header panel-heading" data-toggle="collapse"
             href="#id-collapse-bloc-fileupload-lot{{ num_lot|default('0') }}-{{ type.acronyme }}" aria-expanded="true"
             aria-controls="id-collapse-bloc-fileupload-lot{{ num_lot|default('0') }}-{{ type.acronyme }}">
            <div class="clearfix">
                <div class="col-md-{% if consultation.signatureOffre %}5{% else %}11{% endif %} row-file_name p-0">
                    {% if num_lot is not empty %}{{ 'LOT'|trans }} {{ num_lot }} - {% endif %}{{ type.libelle|trans }}{% if enveloppe.description is not empty %} : {{ unescape(enveloppe.description) | raw }}{% endif %}
                </div>
                {% if consultation.signatureOffre %}
                <div class="col-md-2">
                </div>
                {% endif %}
                {% if consultation.signatureOffre %}
                    <div class="col-md-4 row-file_signature">
                        {{ 'DEFINE_TEXT_SIGNATURE'|trans }}
                    </div>
                {% endif %}
                <div class="col-md-1  row-file_actions text-right p-r-0">
                    {{ 'TEXT_ACTIONS'|trans }}
                </div>
            </div>
        </div>


        <div class="fileupload-body collapse in"
             id="id-collapse-bloc-fileupload-lot{{ num_lot|default('0') }}-{{ type.acronyme }}">
            <!-- The table listing the files available for upload/download -->
            <div class="fileupload-table table-striped">
                <div class="clearfix files m-0" id="files_container_lot{{ num_lot|default('0') }}_{{ type.acronyme }}">
                    {% if type.acronyme == 'OFFRE' and  dossiersVolumineux is not empty %}

                        <div class="alert alert-warning clearfix text-justify" style="margin:15px;">
                            <p>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{ 'DOSSIER_VOLUMINEUX_WARNING_DEPOT'|trans({'%link_tag_start%': '<a href='~ path('dossier_volumineux_entreprise_gestion') ~'>','%link_tag_end%': '</a>'})|raw }}
                                <br>
                                {{ 'DOSSIER_VOLUMINEUX_WARNING_DEPOT_PARTIE2'|trans }}
                            </p>
                        </div>

                        <div class="form-group form-group-sm clearfix m-t-3">

                            <div class="col-md-4 col-xs-12 spacing-helper-m">
                                <i class="fa fa-folder-open m-r-1"></i>
                                {{ 'DOSSIER_VOLUMINEUX_DOSSIER_OFFRE'|trans }} : </div>
                            <div class="col-md-8 col-xs-12">
                                <select  class="chzn-select form-control dv-select" data-dvlot="{{ num_lot|default('0') }}">
                                    <option value=''>{{ 'TEXT_AUCUN'|trans }}</option>
                                    {% for  dossierVolumineux in dossiersVolumineux %}
                                        <option value='{{ dossierVolumineux.id }}'>{{ dossierVolumineux.nom }} ({{ 'TEXT_IDENTIFIANT'|trans }} : {{ dossierVolumineux.uuidReference }} - {{ 'TEXT_TAILLE'|trans }} : {{ dossierVolumineux.taille | fileSize }} - {{ 'AJOUTE_LE'|trans }} {{ dossierVolumineux.dateCreation | date("d/m/Y - H:i") }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="p-t-1 p-l-2 p-r-2 p-b-1">
                            <div class="heading-1">
                                <span>
                                    <i class="fa fa-plus-circle fa-lg text-gray"></i>
                                </span>
                            </div>
                        </div>
                    {% endif %}

                    {% if type.acronyme == 'OFFRE' and consultation.signatureActeEngagement %}
                        <div id="ae-file-{{ num_lot|default('0') }}-{{ type.acronyme }}">

                        </div>
                        <!-- The file upload form used as target for the file upload widget -->
                        <form id="form-ae-fileupload-lot{{ num_lot|default('0') }}-{{ type.acronyme }}"
                              action="#"
                              method="POST" enctype="multipart/form-data" class="form-file-upload"
                              data-type="acte"
                              data-upload-template-id="template-upload-acte-engagement"
                              data-download-template-id="template-download-acte-engagement"
                              data-files-container="#ae-file-{{ num_lot|default('0') }}-{{ type.acronyme }}"
                              data-max-number-of-files="1"
                              data-drop-zone="null"
                              data-url="{{ path('atexo_consultation_depot_upload', {'id': consultation.id}) }}"
                        >
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_enveloppe"
                                   name="type_enveloppe" value="{{ obscure_data_management.getObscureData(type.id, uid_response) }}"/>
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_files_collections"
                                   name="files_collections" value="[]"/>
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_info_index_enveloppe"
                               name="info_index_enveloppe" value="{{ num_lot|default('0') }}_{{ type.id }}"/>
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_uid_response" name="uid_response" value="{{ uid_response }}"/>
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_enveloppe"
                                   name="enveloppe"
                                   value="env_lot-{{ obscure_data_management.getObscureData(num_lot|default('0'), uid_response) }}_{{ obscure_data_management.getObscureData(type.acronyme, uid_response) }}"/>
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_offre_id"
                                   name="offre_id"
                                   value="{{ obscure_data_management.getObscureData(offre.id|default('0'), uid_response) }}"/>
                            <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_piece"
                                   name="type_fichier"
                                   value="{{ obscure_data_management.getObscureData('ACE', uid_response) }}"/>
                            <!-- Acte engagement bloc -->
                            <div class="clearfix row-acte">
                                <div class="col-md-11">
                                <span><img src="{{ asset('consultation_depot/assets/images/picto-piece-typee.png') }}"
                                           alt="{{ 'DEFINE_DC3_ACTE_ENGAGEMENT'|trans }}"/></span>&nbsp;{{ 'DEFINE_DC3_ACTE_ENGAGEMENT'|trans }}
                                    &nbsp;<span><img
                                                src="{{ asset('consultation_depot/assets/images/picto-piece-non-renseignee.png') }}"
                                                alt="{{ 'DEFINE_AUCUN_FICHIER_RENSEIGNE'|trans }}"></span>
                                </div>
                                <div class="col-md-1 row-file_actions text-right">
                                    <div class="actions center">
                                        <a class="btn btn-primary btn-sm fileinput-button" title="Ajouter un acte d'engagement">
                                            <i class="fa fa-plus"></i>
                                            <input class="fileupload"
                                                   type="file"
                                                   name="file_ae_lot{{ num_lot|default('0') }}_{{ type.acronyme }}"
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Acte engagement bloc -->
                    {% endif %}

                    {% if type.acronyme == 'OFFRE' and consultation.annexeFinanciere %}
                        {% include 'consultation/forms/consultation-annexe-financier.html.twig' %}
                    {% endif %}
                </div>
            </div>
            <!-- The file upload form used as target for the file upload widget -->
            <form id="form-fileupload-lot{{ num_lot|default('0') }}-{{ type.acronyme }}"
                  action="#"
                  method="POST" enctype="multipart/form-data" class="form-file-upload"
                  data-upload-template-id="template-upload-piece-libre"
                  data-download-template-id="template-download-piece-libre"
                    {# data-drop-zone="fileupload-drop-zone-envelope-lot{{ num_lot|default('0') }}-{{ type.acronyme }}" #}
                  data-url="{{ path('atexo_consultation_depot_upload', {'id': consultation.id}) }}"
            >
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_enveloppe"
                       name="type_enveloppe" value="{{ obscure_data_management.getObscureData(type.id, uid_response) }}"/>
                {# <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_fichier" name="type_fichier" value="PRI"/> #}
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_uid_response" name="uid_response" value="{{ uid_response }}"/>
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_files_collections"
                       name="files_collections" value="[]"/>
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_info_index_enveloppe"
                       name="info_index_enveloppe" value="{{ num_lot|default('0') }}_{{ type.id }}"/>
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_enveloppe"
                       name="enveloppe"
                       value="env_lot-{{ obscure_data_management.getObscureData(num_lot|default('0'), uid_response) }}_{{ obscure_data_management.getObscureData(type.acronyme, uid_response) }}"/>
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_offre_id"
                       name="offre_id"
                       value="{{ obscure_data_management.getObscureData(offre.id|default('0'), uid_response) }}"/>
                <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_piece"
                       name="type_fichier"
                       value="{{ obscure_data_management.getObscureData('PRI', uid_response) }}"/>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="fileupload-buttonbar drag-zone" id="fileupload-drop-zone-envelope-lot{{ num_lot|default('0') }}-{{ type.acronyme }}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-7 upload-piece-bloc">
                                <span class="upload-piece-label">{{ 'DEFINE_DRAG_DROP_FICHIER_MESSAGE'|trans }}</span>
                            </div>
                            <div class="col-md-3">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-default fileinput-button upload-btn-piece">
                              <span>{{ 'DEFINE_SELECTIONNER_FICHIER'|trans }}</span>

                              <input class="fileupload"
                                     type="file"
                                     name="files_lot{{ num_lot|default('0') }}_{{ type.acronyme }}"
                                     multiple="mulitple"/>
                          </span>
                                <!-- The global file processing state -->
                                {# <span class="fileupload-process"></span> #}
                            </div>
                            <div class="col-md-1"></div>
                            <!-- The global progress state -->
                            {# <div class="col-md-3 fileupload-progress">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>#}
                        </div>
                    </div>
                </div>
            </form>


            <input type="hidden" id="names_all_files"  name="names_all_files" value=""/>
        </div>
    </div>
</div>
