<!--Début Bloc Containter-->
<div class="bloc">
    <!--Debut Bloc Ma reponse-->
    <div class="container-fluid">
        <h3 class="bloc_title h3 pull-left">{{ 'MA_REPONSE'|trans }}</h3>
    </div>
    <!-- End Block détails  infos signature -->
    <div class="bloc not-border bg-info bloc-message bloc-info">
        <div class="form-group">
            <div class="row">
                <div class="col-md-11">
                    <div>
                        {{ 'MESSAGE_FORMULAIRE_DEPOT_AOF_RETRAIT_APPLET'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Début Bloc Pièce De Réponse -->
    <div class="bloc">
        <h3 class="bloc-title h4">{{ 'DEFINE_PIECES_REPONSE'|trans }}</h3>

        {% if consultation.envCandidature is not empty and consultation.envCandidature %}
        {% include 'consultation/consultation-depot-enveloppe-aof.html.twig' with { 'num_lot':enveloppe.lot??'','type':{'id':'1','libelle':'DEFINE_DOSSIER_CANDIDATURE','acronyme':'CANDIDATURE', 'libelleFormulaire':'DEFINE_FORMULAIRE_CANDIDATURE'}, 'enveloppe' : consultation, 'dossier':dossiersSub[1][0] } %}
        {% endif %}
        {% for enveloppe in enveloppes %}
            {% for typeEnveloppe in typeEnveloppeLot %}
                {%  set lot = enveloppe.lot|default('0') %}
                {%  set dossierSub = attribute(attribute(dossiersSub, typeEnveloppe.id), lot) %}
                {% if dossierSub is not empty %}
                    {% include 'consultation/consultation-depot-enveloppe-aof.html.twig' with { 'num_lot':enveloppe.lot??'','type':{'id':typeEnveloppe.id,'libelle':typeEnveloppe.libelle,'acronyme':typeEnveloppe.acronyme, 'libelleFormulaire':typeEnveloppe.libelleFormulaire}, 'enveloppe':enveloppe, 'dossier':dossierSub } %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <!-- End Bloc Pièce De Réponse -->
    {% include 'consultation/consultation-depot-details-infos-signature.html.twig' %}

    <!-- Début modal details signature -->
    {% include 'consultation/consultation-depot-confirmation-modal-infos-signature.html.twig' %}
    <!-- Fin modal details signature -->

    <!-- Début modal depot infos status fichiers -->
    {% include 'consultation/consultation-depot-confirmation-modal-infos-statuts-fichiers.html.twig' %}
    <!-- Fin modal depot infos status fichiers -->
    {% include 'consultation/consultation-depot-modal-acte-engagement-non-renseigne.html.twig' with { 'consultation': consultation}  %}
    {% include 'consultation/consultation-depot-modal-taille-fichier-depasse-limite.html.twig' %}
<script>
    var hasSelectedLotError = "{{ 'MESSAGE_ERREUR_SELECTION_DES_LOTS'|trans|raw }}";
    var ajoutFichierReponseError = "{{ 'MESSAGE_ERREUR_AJOUT_FICHIER_REPONSE'|trans|raw }}";
    var consultationAlloti = "{{ consultation.alloti and consultation.lots|length >= 1 and not (typeEnveloppeLot is empty) }}";
    var fromCandidatureMPS = "{{ fromCandidatureMPS }}";
    var interfaceModuleSub = "{{ interfaceModuleSub }}";
</script>
</div>
<!-- Bouton annuler -->
<div class="form-group atx-is-uploading-return-btn">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <a class="btn btn-default pull-left atx-btn atx-btn--blue atx-btn--type-reset atx-btn-return-upload"
                           title="Annuler et retour à la fiche Détail"><i
                                    class="fa fa-angle-left"></i><span class="text">Annuler</span></a>
                    </div>
                </div>
            </div>
        </div>
<!-- Fin bouton annuler. -->
<!--End Bloc Containter-->