<!--Début Bloc Containter-->
<div class="panel panel-default panel-body atx-is-highlighted">
    <!--Debut Bloc Ma reponse-->
    <div class="clearfix section-heading page-header m-t-0 p-b-0">
        <h3 class="h4 pull-left">
            {{ 'MA_REPONSE'|trans }}
        </h3>
        <a class="pull-right m-t-1" data-toggle="modal" data-target="#id-modal-legende" href="#">
            <i class="fa fa-question-circle fa-lg" data-toggle="tooltip" data-placement="top" title="{{ 'LEGENDE' | trans }}"></i>
        </a>
    </div>
    <!-- End Block détails  infos signature -->
    <div class="alert alert-warning clearfix text-justify">
                        {{ 'DEFINE_MESSAGE_SE_CONFORMER_REGLEMENT_CONSULTATION_POUR_CONNAITRE_LISTE_PIECES_A_TRANSMETTRE'|trans }}
                        {% if consultation.signatureOffre != 2 %}
                        <br/>
                        {{ 'DEFINE_ATTENTION_PIECES_EXIGEANT_SIGNATURE_ELECTRONIQUE_DOIVENT_ETRE_SIGNES'|trans }}
                        {% endif %}
                        <br/>
                        {{ 'FORMAT_VERIFIABLE'|trans }}
        <a class="with-tooltip tooltip--display-block" data-toggle="modal" data-target="#id-modal-savoir-plus-format-signature" href="#">
            <u>
                <i data-toggle="tooltip" title=" {{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE'|trans }}">
                    {{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE'|trans }}
                </i>
            </u>
                        </a>
                    </div>
    {% if  consultation.signatureOffre != 0 and afficher_message_info == 1 %}
        <!-- Debut Bloc details infos signature -->
        <div class="alert alert-info clearfix text-justify">
                            {{ 'CONDITIONS_POUR_DEPOSER_PIECES_SIGNEES' |trans }}
                            <ul>
                                <li><a target="_blank" href="{{ path('entreprise_signer_document') }}">{{ 'LANCER_OUTIL_SIGNATURE_HREF' | trans }}</a>
                                    {{ 'LANCER_OUTIL_SIGNATURE_DESC' | trans }} {{ 'DEPOSER_PIECES_SIGNEES_DESC' | trans}}
                                    <a target="_blank" href="{{ path('ecrans_prerequis_techniques', { 'calledFrom': 'entreprise'}) }}">{{ 'DEPOSER_PIECES_SIGNEES_HREF' |trans }}.</a>
                                </li>
                                <li>{{ 'SIGNATURE_XADES_DEPOSER_PIECES_SIGNEES' |trans }}</li>
                                <li>{{ 'AJOUTER_PIECES_RESPECTIFS_DEPOSER_PIECES_SIGNEES' |trans }}</li>
                                {% if afficher_mode_operatoire %}
                                    {{ 'TELECHARGER_LE_MODE_OPERATOIRE_DEPOT' | trans | raw }}
                                {% endif %}
                            </ul>
                        </div>
    {% endif %}

    {% include 'consultation/consultation-depot-legende-modal.html.twig' %}
    {% include 'consultation/consultation-depot-savoir-plus-format-signature-modal.html.twig' %}

    <!-- Début Bloc Pièce De Réponse -->
    <div class="panel panel-default panel-body">
        {% if  consultation.alloti and consultation.lots|length >= 1 and (consultation.envOffre or consultation.envAnonymat) %}
        <div class="panel panel-default panel-body border-primary">
            <div class="m-b-2 text-primary">
                {{ msgSelectionLot }}
            </div>
            <!-- Début Bloc Filtre-->
            <!-- single dropdown -->
            <div class="row">
                <div class="col-md-3 text-primary">
                    {{ 'DEFINE_SELECTION_DES_LOTS'|trans|raw }}
                </div>
                <div class="col-md-9 filter-field">
                    <select class="chzn-select" multiple="true" name="faculty" style="width:100%;" id="select-lot" {% if fromCandidatureMPS or atexo_configuration.getConfigurationPlateforme().interfaceDume %}disabled="disabled"{% endif %}>
                            <option
                                    value="0"
                                    data-index="0"
                                    >
                                {{ 'TOUS_LES_LOTS'|trans }}
                            </option>
                        {% for enveloppe in enveloppes %}
                            {% if enveloppe.lot is not empty %}
                                <option
                                    value="{{ enveloppe.lot|default('0') }}"
                                    data-index="{{ loop.index }}" {% if fromCandidatureMPS %}selected="selected"{% endif %}
                                    {% if enveloppe.lot in lots %}
                                        selected
                                    {% endif %}
                                >
                                    {{ 'LOT'|trans }} {{ enveloppe.lot }} {% if enveloppe.description is not empty %} - {{ unescape(enveloppe.description) | raw }}{% endif %}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Fin Bloc Filtre-->
        </div>
        {% endif %}
        <div class="section-heading page-header m-t-0 p-b-0">
            <h3 class="bloc-title h4">
                {{ 'DEFINE_PIECES_REPONSE'|trans }}
            </h3>
        </div>
        <!-- Début Bloc DUME validé et renseigné -->
        {% if contexteLtDumeId is defined %}
            <div class="dume-valide">
                <div class="header">
                    {{ 'DUME'|trans }}
                    <img src="{{ asset('consultation_depot/assets/images/logo-dume.png') }}"
                         class="inline-img"
                         alt="{{ 'DUME'|trans }}">
                </div>
                <div class="body">
                    <div>
                        <img width="17px"
                            src="{{ asset('consultation_depot/assets/images/award.svg') }}"
                            alt="{{ 'TEXT_CERTIFICAT'|trans }}">
                        {{ 'DEFINE_FORMULAIRE_DUME_RENSEIGNE_VALIDE'|trans }}
                    </div>
                    <div>
                        <i class="pull-left fa fa-file-text-o atx-text-success m-l-1 m-t-1 m-r-2"></i>
                        {{ inscrit.entreprise.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': numeroSN, '%format%': 'XML'}) }}
                    </div>
                    <div>
                        <i class="pull-left fa fa-file-text-o atx-text-success m-l-1 m-t-1 m-r-2"></i>
                        {{ inscrit.entreprise.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': numeroSN, '%format%': 'PDF'}) }}
                    </div>

                    {% if dumeGroupements is defined %}
                        {% for dumeGroupement in dumeGroupements %}
                            <div>
                                <i class="pull-left fa fa-file-text-o atx-text-success m-l-1 m-t-1 m-r-2"></i>
                                {{ dumeGroupement.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': dumeGroupement.numeroDumeNational, '%format%': 'XML'}) }}
                            </div>
                            <div>
                                <i class="pull-left fa fa-file-text-o atx-text-success m-l-1 m-t-1 m-r-2"></i>
                                {{  dumeGroupement.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': dumeGroupement.numeroDumeNational, '%format%': 'PDF'}) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <!-- Fin Bloc DUME validé et renseigné -->
        {% if consultation.envCandidature is not empty and consultation.envCandidature %}
        {% include 'consultation/consultation-depot-enveloppe.html.twig' with { 'num_lot':enveloppe.lot??'','type':{'id':'1','libelle':'DEFINE_DOSSIER_CANDIDATURE','acronyme':'CANDIDATURE'}, 'enveloppe':consultation } %}
        {% endif %}
        {% for enveloppe in enveloppes %}
            {% for typeEnveloppe in typeEnveloppeLot %}
                {% include 'consultation/consultation-depot-enveloppe.html.twig' with { 'num_lot':enveloppe.lot??'','type':{'id':typeEnveloppe.id,'libelle':typeEnveloppe.libelle,'acronyme':typeEnveloppe.acronyme}, 'enveloppe':enveloppe,'dossiersVolumineux':dossiersVolumineux } %}
            {% endfor %}

        {% endfor %}
    </div>

    <!-- End Bloc Pièce De Réponse -->

    {% if atexo_configuration.getConfigurationPlateforme().saisiePartFranceUeDepot %}
        {% include 'consultation/consultation-depot-taux-production.html.twig' %}
    {% endif %}

    {% include 'consultation/consultation-depot-details-infos-signature.html.twig' %}

    <!-- Début modal details signature -->
    {% include 'consultation/consultation-depot-confirmation-modal-infos-signature.html.twig' %}
    <!-- Fin modal details signature -->

    <!-- Début modal depot infos status fichiers -->
    {% include 'consultation/consultation-depot-confirmation-modal-infos-statuts-fichiers.html.twig' %}
    <!-- Fin modal depot infos status fichiers -->
    {% include 'consultation/consultation-depot-modal-acte-engagement-non-renseigne.html.twig' %}
    {% include 'consultation/consultation-depot-modal-taille-fichier-depasse-limite.html.twig' %}
    {% include 'consultation/consultation-depot-deselection-lot.html.twig' %}
<script>
    var hasSelectedLotError = "{{ 'MESSAGE_ERREUR_SELECTION_DES_LOTS'|trans|noLineBreak|raw }}";
    var ajoutFichierReponseError = "{{ 'MESSAGE_ERREUR_AJOUT_FICHIER_REPONSE'|trans|noLineBreak|raw }}";
    var consultationAlloti = "{{ consultation.alloti and consultation.lots|length >= 1 and not (typeEnveloppeLot is empty) }}";
    var fromCandidatureMPS = "{{ fromCandidatureMPS }}";
    var interfaceModuleSub = "{{ interfaceModuleSub }}";

    J(document).ready(function () {
        J('#modal-information-importantes').modal('show');
    })

</script>
    <!-- Afficher le boutton retour quand la un fichier lourd est en cours de téléchargement -->
    <div class="col-md-12 atx-is-uploading-return-btn">
        <div class="row">
            <a class="btn btn-sm btn-default pull-left atx-btn atx-btn--blue atx-btn--type-reset annuler-reponse-consultation"
               href="javascript:void(0)" title="{{ 'ANNNULER_REPONSES'|trans }}"
               id="annuler-reponse-consultation" data-langue="{{ app.session.get('_locale') }}"  data-code="{% if app.session.get('contexte_authentification_' ~ consultation.id).codeAcces is defined %}{{ app.session.get('contexte_authentification_' ~ consultation.id).codeAcces }} {% endif %}">
                <span class="text">{{ 'TEXT_ANNULER'|trans }}</span>
            </a>
</div>
    </div>
</div>
{#<!-- Bouton annuler -->
<div class="form-group atx-is-uploading-return-btn">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <a class="btn btn-default pull-left atx-btn atx-btn--blue atx-btn--type-reset atx-btn-return-upload"
                           title="Annuler et retour à la fiche Détail"><i
                                    class="fa fa-angle-left"></i><span class="text">Annuler</span></a>
                    </div>
                </div>
            </div>
        </div>
<!-- Fin bouton annuler. -->#}
<!--End Bloc Containter-->

<!--Debut Modal Repondre à la consultation-->
<div class="modal fade" id="modal-information-importantes" tabindex="-1" role="dialog">
    <div id="modal-information-importantes-position" class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{ 'INFORMATIONS_IMPORTANTES'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix">
                            <div class="pull-left">
                                {{ (consultation.getControleTailleDepot() != null ? 'INFORMATIONS_IMPORTANTE_TAILLE_DEPOT' : 'INFORMATIONS_IMPORTANTES_TEXT')|trans|raw}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" data-tnr="boutonComprisModaleInfoDocumentConsultation">
                    {{ 'COMPRIS'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Repondre à la consultation-->
<script>var timePing = {{ timePing }};</script>
