<div class="col--fixed-width col-fixed-width-large">
    {# <img src="{{ asset('consultation_depot/assets/images/picto-type-libre.png') }}" title="{{ 'PIECE_LIBRE'|trans }}" alt="{{ 'PIECE_LIBRE'|trans }}"> #}
    <i class="pull-left fa fa-file-text-o atx-text-success icon" title="{{ 'PIECE_LIBRE'|trans }}"></i>
    <span class="intitule-piece">{{ 'PIECE_LIBRE'|trans }} :</span>
    <abbr title="{{ 'TEXT_NOM_DU_DOCUMENT'|trans }} : {{ fichierEnveloppe.nomFichier }}">
        {{ fichierEnveloppe.nomFichier }}
    </abbr>
</div>