{% if fichierEnveloppe.typeFichier == constant('TYPE_FICHIER_ACE', fichierEnveloppe ) %}
    <div class="blue piece-type">
        <img src="{{ asset('consultation_depot/assets/images/picto-piece-typee.png') }}" title="{{ 'DEFINE_DC3'|trans }} - {{ 'AE'|trans }}" alt="{{ 'DEFINE_DC3'|trans }} - {{ 'AE'|trans }}">
        <span class="intitule-piece">{{ 'DEFINE_DC3'|trans }} - {{ 'AE'|trans }} :</span>
        <abbr title="{{ 'TEXT_NOM_DU_DOCUMENT'|trans }} : {{ fichierEnveloppe.nomFichier }}">
            {{ fichierEnveloppe.nomFichier }}
        </abbr>
    </div>
{% elseif fichierEnveloppe.typeFichier == constant('TYPE_FICHIER_AFI', fichierEnveloppe ) %}
    <div class="blue piece-type">
        <img src="{{ asset('consultation_depot/assets/images/picto-piece-typee-AF.png') }}"
             title="{{ 'DEFINE_ANNEXE_FINANCIER'|trans }} - {{ 'AFI'|trans }}"
             alt="{{ 'DEFINE_ANNEXE_FINANCIER'|trans }} - {{ 'AFI'|trans }}">
        <span class="intitule-piece">{{ 'DEFINE_ANNEXE_FINANCIER'|trans }} - {{ 'AFI'|trans }} :</span>
        <abbr title="{{ 'TEXT_NOM_DU_DOCUMENT'|trans }} : {{ fichierEnveloppe.nomFichier }}">
            {{ fichierEnveloppe.nomFichier }}
        </abbr>
    </div>
{% endif %}
