<div class="col--fixed-width col-fixed-width-large">

    <i class="pull-left fa fa-file-text-o atx-text-success icon" title="{{ 'DOSSIER_VOLUMINEUX'|trans }}"></i>
    <span class="intitule-piece">{{ 'DOSSIER_VOLUMINEUX'|trans }} :</span>
    <abbr title="{{ 'TEXT_NOM_DU_DOCUMENT'|trans }} : {{ enveloppe.dossierVolumineux.nom }}">
        {{ enveloppe.dossierVolumineux.nom }}  {{ enveloppe.dossierVolumineux.dateCreation | date('d/m/y') }}  (  {{ enveloppe.dossierVolumineux.uuidReference }} )
    </abbr>
</div>