<div class="statut-signature clearfix">
    {% if fichierEnveloppe.getFichierSignature() is not null and fichierEnveloppe.getFichierSignature() != ''%}
        {% set objetInfosSignature = fichierEnveloppe.signatureInfos|json_decode %}

        {% if objetInfosSignature is not null and objetInfosSignature.signatureValide is defined and objetInfosSignature.signatureValide is not null and objetInfosSignature.emetteur is defined and objetInfosSignature.emetteur is not null and objetInfosSignature.periodiciteValide is defined and objetInfosSignature.periodiciteValide is not null %}
            <div class="statut col-md-1 p-0">
                <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}"> :
                <img src="{{ picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) }}" alt="{{ libelle_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) }}" title="{{ libelle_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) }}">
            </div>

            <a href="javascript:void(0)" class="col-md-11 text-primary"
                 title="{{ 'DETAIL_SIGNATURE'|trans }}"
                 data-infos-signature="{{ fichierEnveloppe.signatureInfos }}"
            >
                <i class="fa fa-search-plus"></i>
                {{ infos_signature(fichierEnveloppe) }}
            </a>
        {% else %}
            <div class="statut">
                <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}"> :
                <img src="{{ asset('consultation_depot/assets/images/picto-vide.gif') }}" alt="{{ 'VALIDITE_NON_VERIFIABLE'|trans }}" title="{{ 'VALIDITE_NON_VERIFIABLE'|trans }}">
            </div>
            <div class="detail-statut">
                {{ 'VALIDITE_SIGNATURE_NON_VERIFIABLE'|trans }}
            </div>
        {% endif %}

    {% else %}
        <div class="statut">
            <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}"> :
            <img src="{{ asset('consultation_depot/assets/images/picto-vide.gif') }}" alt="{{ 'SANS'|trans }}" title="{{ 'SANS'|trans }}">
        </div>
        <div class="detail-statut">
            {{ 'TEXT_AUCUNE_SIGNATURE'|trans }}
        </div>
    {% endif %}

</div>