{# Bloc uniquement présent afin de calculer le nombre des différents statuts des jetons de signature #}
{% if candidaturesCoTraitant is defined %}
{% for candidatureCoTraitant in  candidaturesCoTraitant%}
    <div id="idBlocContenusTransmis" class="table table-striped list-group m-t-2 m-b-8">
        <div id="panel_contenu_01" class="panel panel-primary small">
            <div class="panel-heading">
                <div>
                    <i class="fa fa-info-circle fa-lg m-r-1" aria-hidden="true"></i>
                    {{ 'INFOS_DEPOT'|trans }}
                </div>
            </div>
            <div class="panel-body">
                <div class="item_depot clearfix panel-body info_panelLots m-b-1" id="info_panelLots">
                    <div class="col-md-6">

                        <div class="clearfix">
                            <label class="col-md-3">
                                {{ 'DEFINE_DEPOSE_LE'|trans }} :
                            </label>
                            <div class="col-md-9">
                                {% if candidatureCoTraitant.dateDerniereValidationDume != null %}
                                    {{ candidatureCoTraitant.dateDerniereValidationDume|date("d/m/Y H:i:s") }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix">
                            <label class="col-md-3">
                                {{ 'PAR'|trans }} :
                            </label>
                            <div class="col-md-9">
                                {{ user.nom }} {{ user.prenom }} ({{ user.email }})
                            </div>
                        </div>
                        <div class="clearfix">
                            <label class="col-md-3">
                                {{ 'TEXT_ENTREPRISE'|trans }} :
                            </label>
                            <div class="col-md-9">
                                {{ entreprise.nom }}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Debut tableau dossiers/pieces -->
                {% if candidatureCoTraitant.idDumeContexte  is defined and candidatureCoTraitant.idDumeContexte.dumeNumeros is defined  %}
                    <div class="table-bloc">
                        <table summary="{{ 'DEFINE_CONTENUS_TRANSMIS'|trans }}" class="table-results tableau-reponse table table-striped panel panel-default">
                            <thead class="panel-heading">
                            <tr class="row-title">
                                <th>
                                    {{ 'DUME'|trans }}
                                    <img src="{{ asset('consultation_depot/assets/images/logo-dume.png') }}"
                                         class="inline-img"
                                         alt="{{ 'DUME'|trans }}">
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for oneDumeNumero in candidatureCoTraitant.idDumeContexte.dumeNumeros %}
                                <tr>
                                    <td class="col-piece ellipsis">
                                        <i class="fa fa-file-text-o atx-text-success icon m-r-1"></i>
                                         {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': oneDumeNumero.numeroDumeNational, '%format%': 'XML'}) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-piece ellipsis">
                                        <i class="fa fa-file-text-o atx-text-success icon m-r-1"></i>
                                        {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': oneDumeNumero.numeroDumeNational, '%format%': 'PDF'}) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    <!--Fin tableau pieces Offre lot -->
                </div>
                {% endif %}
                <!--Fin tableau dossiers/pieces -->
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}