<!-- Start bloc select lot -->
<link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>

<script type="text/javascript" src="{{ asset('consultation_depot/assets/js/chosen.jquery.js') }}"></script>

<script>
    var lotsNumParam = "";

    function retrieveLot(data) {
        var lots = "";
        for (var i = 0; i < data.length; i++) {
            lots = lots + data[i] + ',';
        }
        return lots.substr(0, lots.length - 1);
    }

    J(document).ready(function () {
        firstListLotNum = [];
        firstListLotInfo = [];

        J('#select-lot').on('chosen:ready', function () {
            for (var info in J('.chosen-choices .search-choice span')) {
                if (J('.chosen-choices .search-choice span')[info].innerHTML != undefined) {
                    firstListLotNum[info] = J('.chosen-choices .search-choice span')[info].innerHTML.trim().split(' | ')[0].trim().replace('{{ 'LOT'|trans }} ', '');
                    firstListLotInfo[info] = J('.chosen-choices .search-choice span')[info].innerHTML.trim();
                }
            }

            if (firstListLotInfo.length > 0) {
                J('#select_lot').append(
                    '<table class="table  panel panel-default" summary="{{ 'TEXT_LISTE_LOTS'|trans }}">' +
                    '<thead class="panel-heading"><tr><th class="col-md-12">{{ 'DEFINE_LOTS_SELECTIONNES'|trans }}</th></tr></thead>' +
                    '<tbody>'
                );

                J(firstListLotInfo).each(function(info) {
                    J('#select_lot tbody').append(
                        '<tr><td value="' + firstListLotNum[info] + '">' + firstListLotInfo[info] + '</td></tr>'
                    );
                });

                J('#select_lot').append(
                    '</tbody></table>'
                );

                lotsNumParam = retrieveLot(firstListLotNum);
            }
        });

        J("#addLot").click(function (event) {
            listLotNum = [];
            listLotInfo = [];
            event.preventDefault();

            // To retrieve all selected lot on the modal. It's return an array
            for (var info in J('.chosen-choices .search-choice span')) {
                if (J('.chosen-choices .search-choice span')[info].innerHTML != undefined) {
                    listLotNum[info] = J('.chosen-choices .search-choice span')[info].innerHTML.trim().split(' | ')[0].trim().replace('{{ 'LOT'|trans }} ', '');
                    listLotInfo[info] = J('.chosen-choices .search-choice span')[info].innerHTML.trim();
                }
            }

            J.ajax({
                method: "POST",
                url: "{{ path('atexo_consultation_ajout_lot_depot') }}",
                data: {
                    "id_consultation": "{{ consultation.getId() }}",
                    "id_organisme": "{{ consultation.getOrganisme() }}",
                    "list_lot": listLotNum,
                    "id_dume_contexte": "{{ idDumeContexte.id is defined ? idDumeContexte.id : -1 }}"
                },
                success: function (data) {
                    J('#select_lot').empty();
                    if (listLotInfo.length > 0) {
                        J('#select_lot').append(
                            '<table class="table panel panel-default" summary="{{ 'TEXT_LISTE_LOTS'|trans }}">' +
                            '<thead class="panel-heading"><tr><th>{{ 'DEFINE_LOTS_SELECTIONNES'|trans }}</th></tr></thead>' +
                            '<tbody>'
                        );

                        J(listLotInfo).each(function(info) {
                            J('#select_lot tbody').append(
                                '<tr><td value="' + listLotNum[info] + '">' + listLotInfo[info] + '</td></tr>'
                            );
                        });

                        J('#select_lot').append(
                            '</tbody></table>'
                        );

                        lotsNumParam = retrieveLot(listLotNum);
                    }
                }
            });
        });
    });
</script>

<div class="{% if app.user == null %}opacity-bloc{% endif %} panel panel-default">
    <div class="panel-heading">
        <h2 class="h4 panel-title">
            {{ 'ETAPE'|trans }} {{ etape }} : {{ 'DEFINE_SELECTION_DES_LOTS'|trans }}
        </h2>
    </div>
    <div class="panel-body clearfix phase-bloc p-t-0">
        <p class="m-t-2">{{ 'DEFINE_SELECTION_LOTS_DEPOT_REPONSE'|trans }}</p>
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle m-r-1"></i>
            {{ 'DEFINE_ATTENTION_SELECTION_DES_LOTS_NON_MODIFIABLE_DEPOT_REPONSE'|trans }}
        </div>
        <div id="select_lot" class="m-b-2"></div>
        <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#modal-select-lot"
                title="{{ 'DEFINE_SELECTIONNER_LES_LOTS'|trans }}"
                {{ (inscrit.getId() is defined) ? '' : 'disabled' }}>
            {{ 'DEFINE_SELECTIONNER_LES_LOTS'|trans }}
        </button>
    </div>
</div>

<!--Start Modal select-lot-->
<div class="modal fade" id="modal-select-lot" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> {{ 'DEFINE_SELECTION_DES_LOTS'|trans }}</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="alert alert-info">
                    {{ 'DEFINE_SELECTIONNER_LES_LOTS_REPONSE'|trans }} :
                </div>
                <div class="form-group form-group-sm">
                    <label for="select-lot" class="col-md-3">
                        {{ 'DEFINE_SELECTION_DES_LOTS'|trans|raw }}
                    </label>
                    <div class="col-md-9">
                        <select class="chzn-select form-control" multiple="true" name="faculty" id="select-lot">
                            <option value="0" data-index="0">
                                {{ 'TOUS_LES_LOTS'|trans }}
                            </option>
                            {% for lot in listLotJson %}
                                <option
                                        value="{{ lot.lot }}"
                                        data-index="{{ lot.description }}"
                                        {% if idLots is defined and lot.lot in idLots %}
                                            selected
                                        {% endif %}
                                >
                                    {{ 'LOT'|trans }} {{ lot['lot'] }} | {{ lot['description']|raw }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-sm btn-default pull-left"
                        data-dismiss="modal">{{ 'TEXT_ANNULER'|trans }}</button>
                <button type="button" class="btn btn-sm btn-primary pull-right" id="addLot"
                        data-dismiss="modal">{{ 'TEXT_VALIDER'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal select-lot-->
<!-- End bloc select lot -->
