{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script type="text/javascript">
        var journeeDeLAnnee = {{ getJourneeDeLAnnee() }}
        var time = {{ getTime() }}
    </script>
    {% include 'consultation/consultation-depot-template-upload.html.twig' %}

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/tmpl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.scripts.js') }}"></script>
{% endblock %}
{% block title %}
    {{ parent() }} - {{ 'DEPOT_DE_LA_CANDIDATURE_SUR_CONSULTATION'|trans }} {{ consultation.referenceUtilisateur }} {% if  consultation.titre  is not empty %}| {{ consultation.titre }}{% endif %}
{% endblock %}
{% block breadcrumbs %}
    <div class="container clearfix">
        <nav role="navigation">
        <ul class="breadcrumb">
            <li>
                <a href="#">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'DEFINE_REPONDRE'|trans }}</a>
            </li>
            <li>
                {{ 'TEXT_CONFIRMATION'|trans }}
            </li>
        </ul>
        </nav>
    </div>
{% endblock %}
{% block content %}
    {% include 'consultation/consultation-details.html.twig' %}
    {% include 'consultation/consultation-depot-confirmation-message-confirmation.html.twig' %}
    {% include 'consultation/consultation-depot-confirmation-legende-infos-signature.html.twig' %}
    {% include 'consultation/consultation-depot-dume-confirmation-infos-recap.html.twig' %}
    {% include 'consultation/consultation-depot-confirmation-infos-recap.html.twig' %}
    <!-- Début modal details signature -->
    {% include 'consultation/consultation-depot-confirmation-modal-infos-signature.html.twig' %}
    <!-- Fin modal details signature -->
{% endblock %}