<div class="alert alert-success"><i class="fa fa-check-circle-o"></i> {{ 'DEFINE_TEXT_MESSAGE_CONFIRMATION'|trans }}</div>
<!--Debut colonne droite-->
<div class="panel panel-default accuseReception--m">
    <div class="panel-heading">
        {{ 'DEFINE_TEXT_ACCUSE_RECEPTION'|trans }}
    </div>
    <div class="panel-body">
        <div class="clearfix">
            <label class="col-md-2 col-xs-12 spacing-helper-m">
                {{ 'DEFINE_TEXT_DE'|trans }}
            </label>
            <span class="col-md-10 col-xs-12">
                             {{ message.emailExpediteur }}
                        </span>
        </div>
        <div class="clearfix">
            <label class="col-md-2 col-xs-12 spacing-helper-m">
                {{ 'DEFINE_TEXT_A'|trans }}
            </label>
            <span class="col-md-10 col-xs-12">
                            {{ mailUser }}
                        </span>
        </div>
        <div class="clearfix">
            <label class="col-md-2 col-xs-12 spacing-helper-m">
                {{ 'DEFINE_TEXT_DATE_ENVOI'|trans }}
            </label>
            <span class="col-md-10 col-xs-12">
                            {{ message.dateMessage|date('d/m/Y H:i') }}
                        </span>
        </div>
        <div class="clearfix">
            <label class="col-md-2 col-xs-12 spacing-helper-m">
                {{ 'OBJET'|trans }}
            </label>
            <span class="col-md-10 col-xs-12">
                            {{ message.objet }}
                        </span>
        </div>
        <div class="clearfix">
            <label class="col-md-2 col-xs-12 spacing-helper-m">
                {{ 'TEXT_MESSAGE'|trans }}
            </label>
            <span class="col-md-10 col-xs-12">
                            {{ message.corps|nl2br }}
                        </span>
        </div>
        <div class="clearfix">
            <label class="col-md-2 col-xs-12 spacing-helper-m">
                {{ 'DEFINE_TEXT_PIECE_JOINTE'|trans }}
            </label>
            <span class="col-md-10 col-xs-12">
                            {{ message.nomFichier }}
                        </span>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-sm btn-default" onclick="javascript:window.print();">
            {{ 'DEFINE_TEXT_IMPRESSION_MESSAGE'|trans }}
        </a>
    </div>
</div>
<!--Fin colonne droite-->