{# Bloc uniquement présent afin de calculer le nombre des différents statuts des jetons de signature #}
{% if isDetailConsultation is defined %}
    {% set ok = 0 %}
    {% set nok = 0 %}
    {% set unknow = 0 %}
    {% set unverified = 0 %}
    {% set sans = 0 %}

    {% for liste in listeFichiers %}
        {% set enveloppes = liste.enveloppe %}
        {% for enveloppe in enveloppes %}
            {% set FichiersEnveloppe = enveloppe.fichiers %}
            {% set indexFichier = 0 %}
            {% for fichierEnveloppe in FichiersEnveloppe %}
                {% if fichierEnveloppe.typePiece == constant('TYPE_PIECE_TYPEE', fichierEnveloppe )
                    or fichierEnveloppe.typePiece == constant('TYPE_PIECE_AFI', fichierEnveloppe ) %}
                    {% if consultation.signatureOffre != 0 %}
                        {% if fichierEnveloppe.getIdFichierSignature() == fichierEnveloppe.getIdFichier() %}
                            {% if fichierEnveloppe.getFichierSignature() is not null and fichierEnveloppe.getFichierSignature() != '' %}
                                {% set objetInfosSignature = fichierEnveloppe.signatureInfos|json_decode %}
                                {% if objetInfosSignature is not null and objetInfosSignature.signatureValide is defined and objetInfosSignature.signatureValide is not null and objetInfosSignature.emetteur is defined and objetInfosSignature.emetteur is not null and objetInfosSignature.periodiciteValide is defined and objetInfosSignature.periodiciteValide is not null %}
                                    {% if 'picto-check-ok-small.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set ok = ok + 1 %}
                                    {% elseif 'picto-check-not-ok.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set nok = nok + 1 %}
                                    {% elseif 'picto-validation-incertaine.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set unverified = unverified + 1 %}
                                    {% elseif 'picto-vide.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set sans = sans + 1 %}
                                    {% endif %}
                                {% else %}
                                    {% set unverified = unverified + 1 %}
                                {% endif %}
                            {% else %}
                                {% set unknow = unknow + 1 %}
                            {% endif %}
                        {% else %}
                            {% if fichierEnveloppe.getIdFichierSignature() == null %}
                                {% set sans = sans + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if fichierEnveloppe.typePiece == 3 or fichierEnveloppe.typePiece == 2 %}
                    {% if consultation.signatureOffre != 0 %}
                        {% if fichierEnveloppe.getIdFichierSignature() == fichierEnveloppe.getIdFichier() %}
                            {% if fichierEnveloppe.getFichierSignature() is not null and fichierEnveloppe.getFichierSignature() != '' %}
                                {% set objetInfosSignature = fichierEnveloppe.signatureInfos|json_decode %}
                                {% if objetInfosSignature is not null and objetInfosSignature.signatureValide is defined and objetInfosSignature.signatureValide is not null and objetInfosSignature.emetteur is defined and objetInfosSignature.emetteur is not null and objetInfosSignature.periodiciteValide is defined and objetInfosSignature.periodiciteValide is not null %}
                                    {% if 'picto-check-ok-small.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set ok = ok + 1 %}
                                    {% elseif 'picto-check-not-ok.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set nok = nok + 1 %}
                                    {% elseif 'picto-validation-incertaine.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set unverified = unverified + 1 %}
                                    {% elseif 'picto-vide.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                        {% set sans = sans + 1 %}
                                    {% endif %}
                                {% else %}
                                    {% set unverified = unverified + 1 %}
                                {% endif %}
                            {% else %}
                                {% set unknow = unknow + 1 %}
                            {% endif %}
                        {% else %}
                            {% if fichierEnveloppe.getIdFichierSignature() == null %}
                                {% set sans = sans + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if consultation.signatureOffre != 0 %}
                    {% set fichierEnveloppeSignature = fichierEnveloppe.getFichierSignature() %}
                    {% if fichierEnveloppeSignature is not null and fichierEnveloppeSignature != '' and fichierEnveloppe.getIdFichierSignature() != fichierEnveloppeSignature.getIdFichierSignature() %}
                        {% if fichierEnveloppe.getFichierSignature() is not null and fichierEnveloppe.getFichierSignature() != '' %}
                            {% set objetInfosSignature = fichierEnveloppe.signatureInfos|json_decode %}
                            {% if objetInfosSignature is not null and objetInfosSignature.signatureValide is defined and objetInfosSignature.signatureValide is not null and objetInfosSignature.emetteur is defined and objetInfosSignature.emetteur is not null and objetInfosSignature.periodiciteValide is defined and objetInfosSignature.periodiciteValide is not null %}
                                {% if 'picto-check-ok-small.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                    {% set ok = ok + 1 %}
                                {% elseif 'picto-check-not-ok.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                    {% set nok = nok + 1 %}
                                {% elseif 'picto-validation-incertaine.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                    {% set unverified = unverified + 1 %}
                                {% elseif 'picto-vide.gif' in picto_statut_signature(fichierEnveloppe, fichierEnveloppe.signatureInfos) %}
                                    {% set sans = sans + 1 %}
                                {% endif %}
                            {% else %}
                                {% set unverified = unverified + 1 %}
                            {% endif %}
                        {% else %}
                            {% set unknow = unknow + 1 %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endif %}

<div id="idBlocContenusTransmis" class="table table-striped list-group m-t-2 m-b-8">
    <div id="panel_contenu_01" class="panel panel-primary small">
        <div class="panel-heading">
            <div>
                <i class="fa fa-info-circle fa-lg m-r-1" aria-hidden="true"></i>
                {{ 'INFOS_DEPOT'|trans }}
            </div>
        </div>
        <div class="panel-body">
            <div class="item_depot clearfix panel-body info_panelLots m-b-1" id="info_panelLots">
                <div class="col-md-6">
                    <div class="clearfix">
                        <label class="col-md-3">
                            {{ 'DEFINE_DEPOSE_LE'|trans }} :
                        </label>
                        <div class="col-md-9">
                            {{ offre.untrusteddate|date("d/m/Y H:i:s") }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <label class="col-md-3">
                            {{ 'PAR'|trans }} :
                        </label>
                        <div class="col-md-9">
                            {{ user.nom }} {{ user.prenom }} ({{ user.email }})
                        </div>
                    </div>

                    <div class="clearfix">
                        <label class="col-md-3">
                            {{ 'TEXT_ENTREPRISE'|trans }} :
                        </label>
                        <div class="col-md-9">
                            <span data-tnr="nomEntrepriseDepot">
                                {{ entreprise.nom }}
                            </span>
                        </div>
                    </div>
                    {% if reception is defined %}
                    <div class="clearfix">
                        <label class="col-md-3">
                            {{ 'ACCUSE_RECEPTION_ENTREPRISE'|trans }} :
                        </label>
                        <div class="col-md-9">
                            <a href="{{ reception }}">
                                <img src="{{ asset('consultation_depot/assets/images/picto-pdf.gif') }}">
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div>
                {% if isDetailConsultation is defined %}
                    <div class="col-md-6 text-right p-0">
                        <label class="col-md-4 p-0">
                            {{ 'TEXT_RECAPITULATIF'|trans }} {{ 'TEXT_DES_SIGNATURES'|trans }} :
                        </label>
                        <div class="col-md-8 small p-0">
                            <ul class="list-unstyled list-inline">
                                <li class="m-l-1">
                                    <div class="statut-signature">
                                        <div class="statut ">
                                            <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                                 data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}"/>
                                            <i class="fa fa-check-circle fa-lg m-l-1 text-success" data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_OK'|trans }}"></i> :
                                            <strong>{{ ok }}</strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-l-1">
                                    <div class="statut-signature">
                                        <div class="statut ">
                                            <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}" data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}"/>
                                            <i class="fa fa-lg m-l-1 fa-times-circle text-danger" data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_KO'|trans }}"></i> :
                                            <strong>
                                                {{ nok }}
                                            </strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-l-1">
                                    <div class="statut-signature">
                                        <div class="statut ">
                                            <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}" data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}"/>
                                            <i class="fa fa-lg m-l-1 fa-exclamation-circle text-warning" data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}"></i> :
                                            <strong>
                                                {{ unknow }}
                                            </strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-l-1">
                                    <div class="statut-signature">
                                        <div class="statut ">
                                            <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}"
                                                 data-toggle="tooltip" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_NON_VERIFIABLE'|trans }}"/>
                                            <i class="fa fa-lg m-l-1 fa-ban" data-toggle="tooltip" title="{{ 'VALIDITE_NON_VERIFIABLE'|trans }}"></i> :
                                            <strong>
                                                {{ unverified }}
                                            </strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="m-l-1">
                                    <div class="statut-signature">
                                        <div class="statut ">
                                            <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}"
                                                 data-toggle="tooltip" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}"/>
                                            &nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;:
                                            <strong>
                                                {{ sans }}
                                            </strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% block contenu_recap_info_signature_offre %}
                {% include 'consultation/consultation-depot-confirmation-recap-infos-signature-offre.html.twig' %}
            {% endblock %}

            <!--Debut tableau dossiers/pieces -->
            <div class="table-bloc">
                {% if
                candidature is defined and
                candidature != null and
                candidature.typeCandidature == "dume" and
                candidature.typeCandidatureDume == "online" and
                numeroSN is defined
                %}
                    <table summary="{{ 'DEFINE_CONTENUS_TRANSMIS'|trans }}" class="table-results tableau-reponse table table-striped panel panel-default">
                        <thead class="panel-heading">
                        <tr class="row-title">
                            <th>
                                {{ 'DUME'|trans }}
                                <img src="{{ asset('consultation_depot/assets/images/logo-dume.png') }}"
                                     class="inline-img"
                                     alt="{{ 'DUME'|trans }}">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-piece ellipsis">
                                    <i class="fa fa-file-text-o atx-text-success icon m-r-1"></i>
                                    {{ entreprise.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': numeroSN, '%format%': 'XML'}) }}
                                    {% if fileXml is defined  %}
                                        {% if fileXml != null   %}
                                            <a href="{{ path('atexo_consultation_contenus_transmis_dume_telechargement_xml', { 'id': offre.id }) }}">
                                                <img src="{{ asset('consultation_depot/assets/images/picto-compresse.gif') }}"
                                                     alt="Téléchargement XML du DUME"
                                                     class="m-l-2">
                                                {{ 'DEFINE_TELECHARGER'|trans }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-piece ellipsis">
                                    <i class="fa fa-file-text-o atx-text-success icon m-r-1"></i>
                                    {{ entreprise.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': numeroSN, '%format%': 'PDF'}) }}
                                    {% if filePdf is defined  %}
                                        {% if filePdf != null %}
                                            <a href="{{ path('atexo_consultation_contenus_transmis_dume_telechargement_pdf', { 'id': offre.id }) }}">
                                                <img src="{{ asset('consultation_depot/assets/images/picto-compresse.gif') }}"
                                                     alt="Téléchargement XML du DUME"
                                                     class="m-l-2">
                                                {{ 'DEFINE_TELECHARGER'|trans }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% if dumeGroupements is defined %}
                            {% for dumeGroupement in dumeGroupements %}
                                <tr>
                                    <td class="col-piece ellipsis">
                                        <i class="pull-left fa fa-file-text-o atx-text-success icon"></i>
                                        {{  dumeGroupement.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': dumeGroupement.numeroDumeNational, '%format%': 'XML'}) }}
                                        {% if dumeGroupement['blobIdXml'] is defined  %}
                                            {% if dumeGroupement['blobIdXml'] != null %}
                                                <a href="{{ path('atexo_consultation_contenus_transmis_dume_telechargement_file', { 'id': offre.id,'idNumero':dumeGroupement.id,'format':'xml' }) }}">
                                                    <img src="{{ asset('consultation_depot/assets/images/picto-compresse.gif') }}"
                                                         alt="Téléchargement XML du DUME"
                                                         class="m-l-2">
                                                    {{ 'DEFINE_TELECHARGER'|trans }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td class="col-piece ellipsis">
                                        <i class="pull-left fa fa-file-text-o atx-text-success icon"></i>
                                        {{  dumeGroupement.nom }} - {{ 'DUME_FORMAT_VIA_SN'|trans({'%numero%': dumeGroupement.numeroDumeNational, '%format%': 'PDF'}) }}
                                        {% if dumeGroupement['blobId'] is defined  %}
                                            {% if dumeGroupement['blobId'] != null %}
                                                <a href="{{ path('atexo_consultation_contenus_transmis_dume_telechargement_file', { 'id': offre.id,'idNumero':dumeGroupement.id,'format':'pdf' }) }}">
                                                    <img src="{{ asset('consultation_depot/assets/images/picto-compresse.gif') }}"
                                                         alt="Téléchargement PDF du DUME"
                                                         class="m-l-2">
                                                    {{ 'DEFINE_TELECHARGER'|trans }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                {% endif %}
                <div id="idBlocContenusTransmisPanelLots">
                    <!-- debut dossiers enveloppe/lot -->
                    {% for liste in listeFichiers %}
                        {% set enveloppes = liste.enveloppe %}
                        {% for enveloppe in enveloppes %}

                            <table summary="{{ 'DEFINE_CONTENUS_TRANSMIS'|trans }}" class="table-results tableau-reponse table table-striped panel panel-default">
                                <thead class="panel-heading">
                                <tr class="row-title">
                                    <th class="col-piece">
                                        {{ nom_enveloppe_offre(liste.lot, enveloppe.typeEnv)|raw }}
                                    </th>
                                    <th class="col-50 center" style="display:none">
                                        {{ 'DEFINE_STATUS'|trans }}
                                    </th>
                                    {% if consultation.signatureOffre != 0 %}
                                        <th class="col-180">
                                            {{ 'DEFINE_TEXT_SIGNATURE'|trans }}
                                        </th>
                                    {% endif %}
                                    <th class="actions">{{ 'DEFINE_ACTIONS'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="on row-title-2" style="display:none">
                                    <td class="col-piece" colspan="2"><strong>{{ 'DEFINE_FORMULAIRE_OFFRE'|trans }}</strong></td>
                                    <td class="col-50 center"><img src="/themes/" alt="" title="" class="statut"></td>
                                    <td class="actions">
                                        <a href="#" style="display:none" title="{{ 'TEXT_VISUALISER_FORMULAIRE'|trans }}"
                                           onclick="document.cookie = 'JSESSIONID=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/sub'; popUpFormulaireSub('?page=Entreprise.PopUpFormulaireEnveloppe','yes');">
                                            <img alt="{{ 'TEXT_VISUALISER_FORMULAIRE'|trans }}" src="{{ asset('consultation_depot/assets/images/picto-details.gif') }}">
                                        </a>
                                    </td>
                                </tr>
                                {% set FichiersEnveloppe = enveloppe.fichiers %}
                                {% set indexFichier = 0 %}
                                {% for fichierEnveloppe in FichiersEnveloppe %}
                                    {% if fichierEnveloppe.typePiece == constant('TYPE_PIECE_TYPEE', fichierEnveloppe )
                                        or fichierEnveloppe.typePiece == constant('TYPE_PIECE_AFI', fichierEnveloppe ) %}
                                        <tr class="{% if indexFichier%2 != 0 %}on{% endif %}">
                                            <td class="col-piece ellipsis">
                                                {% block contenu_piece_typee %}
                                                    {% include 'consultation/consultation-depot-confirmation-piece-typee.html.twig' %}
                                                {% endblock %}
                                            </td>
                                            <td class="col-180 ellipsis" style="display:{% if consultation.signatureOffre == 0 %}none{% endif %}">
                                                {% if consultation.signatureOffre != 0 %}
                                                    {% if fichierEnveloppe.getIdFichierSignature() == fichierEnveloppe.getIdFichier() %}
                                                        {% block contenu_signature_ae %}
                                                            {{ include ('consultation/consultation-depot-confirmation-piece-signature.html.twig', {'fichierEnveloppe':fichierEnveloppe, 'offre': offre}) }}
                                                        {% endblock %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="actions"></td>
                                        </tr>
                                    {% endif %}
                                    {% if fichierEnveloppe.typePiece == 3 or fichierEnveloppe.typePiece == 2 or fichierEnveloppe.typePiece == 1 %}
                                        <tr class="{% if indexFichier%2 != 0 %}on{% endif %}">
                                            <td class="col-piece ellipsis">
                                                {% block contenu_piece_libre %}
                                                    {% include 'consultation/consultation-depot-confirmation-piece-libre.html.twig' %}
                                                {% endblock %}
                                            </td>
                                            <td class="col-180 ellipsis" style="display:{% if consultation.signatureOffre == 0 %}none{% endif %}">
                                                {% if consultation.signatureOffre != 0 %}
                                                    {% if fichierEnveloppe.getIdFichierSignature() == fichierEnveloppe.getIdFichier() %}
                                                        {% block contenu_signature %}
                                                            {{ include ('consultation/consultation-depot-confirmation-piece-signature.html.twig', {'fichierEnveloppe':fichierEnveloppe, 'offre': offre}) }}
                                                        {% endblock %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="actions"></td>
                                        </tr>
                                    {% endif %}
                                    {% block block_piece_signature %}
                                        {% include 'consultation/consultation-depot-confirmation-block-signature.html.twig' %}
                                    {% endblock %}
                                    {% set indexFichier = indexFichier + 1 %}
                                {% endfor %}

                                {% if enveloppe.dossierVolumineux is defined %}

                                    <tr class="on">
                                        <td class="col-piece ellipsis">
                                            {% block contenu_dossier_volumineux %}
                                                {% include 'consultation/consultation-depot-confirmation-dossier-volumineux.html.twig' %}
                                            {% endblock %}
                                        </td>
                                        <td class="actions"></td>
                                    </tr>
                                {% endif %}

                                </tbody>

                            </table>
                        {% endfor %}
                    {% endfor %}
                    <!-- Fin dossiers enveloppe/lot -->
                </div>
                <!--Fin tableau pieces Offre lot -->
            </div>
            <!--Fin tableau dossiers/pieces -->
        </div>
    </div>
</div>

{% if lienRetour is defined %}
    <div class="link-line" style="margin-bottom: 6%">
        <a data-tnr="lienRetourConfirmationDepot" href="{{ path('atexo_consultation_index', {'id': consultation.id }) }}" class="btn btn-sm btn-default" title="{{ 'TEXT_RETOUR_VERS_DETAIL'|trans }}" data-toggle="tooltip">{{ 'TEXT_RETOUR'|trans }}</a>
    </div>
{% endif %}
