<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE'|trans}}" id="modal-taille-fichier-depasse">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE'|trans }}</h4>
            </div>
            <div class="modal-body" id="content-modal-taille-fichier-depasse">
                <div class="alert alert-danger">
                    {{ 'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE_ERROR_MESSAGE_FIRST'|trans|raw }}
                    <div id="listeFichiersTailleDepasseLimite"></div>
                    {{ 'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE_ERROR_MESSAGE_SECOND'|trans|raw }}
                </div>
            </div>

            <div class="modal-body" id="content-modal-doublon">
                <div class="alert alert-danger">
                    {{ 'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE_ERROR_MESSAGE_FIRST_DOUBLON'|trans|raw }}
                    <div id="listeFichiersDoublon"></div>
                    {{ 'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE_ERROR_MESSAGE_SECOND_DOUBLON'|trans|raw }}
                </div>
            </div>

            <div class="modal-body">
                {{ 'ERREUR_LORS_DE_LA_VALIDATION_DU_DEPOT_D_UNE_REPONSE_ELECTRONIQUE_ERROR_MESSAGE_THIRD'|trans|raw }}
            </div>

            <div class="modal-footer">
                <!--Debut line boutons-->
                <div class="btn-group pull-left">
                    <input id="annuler-modal-taille-fichier-depasse" class="btn btn-default btn-sm" value="{{ 'TEXT_RETOUR'|trans }}" title="{{ 'TEXT_RETOUR'|trans }}" data-dismiss="modal" type="button"/>
                </div>
                <!--Fin line boutons-->
            </div>
        </div>
    </div>
</div>