<div class="modal fade" id="id-modal-savoir-plus-format-signature" tabindex="-1" role="dialog"
     aria-labelledby=" {{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE'|trans }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE'|trans | capitalize }}</h4>
            </div>
            <div class="modal-body">
                <div class="bloc not-border bloc-message" style="display: block;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-11">
                                <div>
                                    <ul>
                                        <li>
                                            {{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE_XADES'|trans |raw }}
                                        </li>
                                        <li>
                                            {{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE_CADES'|trans |raw }}
                                        </li>
                                        <li>
                                            {{ 'EN_SAVOIR_PLUS_SUR_FORMAT_SIGNATURE_PADES'|trans |raw}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'FERMER'|trans }}</button>
            </div>
        </div>
    </div>
</div>