<!--Début Bloc Test Config-->
<div class="bloc-preparation clearfix alert alert-info">
    <div class="h5 pull-left text-info-consultation" style="color: black;">
        <p class="m-b-0"><strong> {{ 'SE_PREPARER_A_L_AVANCE'|trans }}</strong></p>
        <a href="javascript:popUpOpen('{{ url_mpe }}index.php?page=Entreprise.ConditionsUtilisation&calledFrom=entreprise','yes');"
           class="p-l-1 text-primary">
            <span data-toggle="tooltip" title="{{ 'EN_SAVOIR_PLUS'|trans }}">
                {{ 'DEFINE_SAVOIR_PLUS'|trans }}
            </span>
        </a>
    </div>

    <a href="{{ path('ecrans_diagnostic_poste', {'calledFrom': 'entreprise'}) }}" class="btn btn-primary btn-sm pull-right">
        <i class="fa fa-cog p-r-1"></i>
        {{ 'TESTER_MA_CONFIGURATION'|trans }}
    </a>
    <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseAdvancedSearch&AllCons&orgTest" class="btn btn-primary btn-sm pull-right m-r-2">
        <i class="fa fa-forward p-r-1"></i>
        {{ 'CONSULTATION_DE_TEST'|trans }}
    </a>
</div>
<!--Fin Bloc Test Config-->
