{% if consultation.signatureOffre != 0 %}
    {% set fichierEnveloppeSignature = fichierEnveloppe.getFichierSignature() %}
    {% if fichierEnveloppeSignature is not null and fichierEnveloppeSignature != '' and fichierEnveloppe.getIdFichierSignature() != fichierEnveloppeSignature.getIdFichierSignature()%}
        <tr class="{% if indexFichier%2 != 0%}on{% endif %}">
            <td class="col-piece ellipsis">
                {% block contenu_piece_signature %}
                    {% include 'consultation/consultation-depot-confirmation-signature-piece.html.twig' %}
                {% endblock %}
            </td>
            <td style="display:none" class="col-180"></td>
            <td class="col-180 ellipsis">
                {% block contenu_signature %}
                    {{ include ('consultation/consultation-depot-confirmation-piece-signature.html.twig', {'fichierEnveloppe':fichierEnveloppe, 'offre': offre}) }}
                {% endblock %}
            </td>
            <td class="actions">
                {% set objetInfosSignature = fichierEnveloppe.signatureInfos|json_decode %}
                {% if objetInfosSignature is not null and objetInfosSignature.signatureValide is defined and objetInfosSignature.signatureValide is not null and objetInfosSignature.emetteur is defined and objetInfosSignature.emetteur is not null and objetInfosSignature.periodiciteValide is defined and objetInfosSignature.periodiciteValide is not null %}
                    <div>
                        <a href="{{ path('atexo_download_fichier_signature', {'id_fichier': fichierEnveloppe.idFichier}) }}"><img alt="{{ 'DEFINE_TELECHARGER_SIGNATURE'|trans }}" src="{{ asset('consultation_depot/assets/images/picto-dl-dossier.gif') }}"></a>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endif %}