<div class="modal kt-ajaxmodal fade" id="modalBasket" tabindex="-1" role="dialog" aria-labelledby="modalBasket">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-body">
                <!-- Start bloc panier -->
                <div class="bloc" id="bloc-panier">
                    <div class="row">
                        <div class="col-md-12 remove-spacing text-center">
                            {{ message }}
                        </div>

                    </div>
                </div>
                <!-- End bloc panier -->
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <div class="pull-left">
                        <a href="{{ url_mpe }}index.php{{ url_panier }}" type="button"
                           title="{{ 'DEFINE_VOIR_MON_PANIER'|trans }}" class="btn btn-sm btn-primary" style="float:left;">
                            {{ 'DEFINE_VOIR_MON_PANIER'|trans }}
                        </a>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-primary btn-submit" data-dismiss="modal">{{ 'TEXT_POURSUIVRE'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>