<!-- modal legende -->
<div class="modal fade" id="id-modal-legende" tabindex="-1" role="dialog"
     aria-labelledby="Popup Légende">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'LEGENDE'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="column-statut-signature">
                    <h6><b>{{ 'DETAIL_SIGNATURE'|trans }}</b></h6>
                    <!-- Debut verification KO -->
                    <div class="pull-left statut-signature m-r-1">
                        <img src="{{ asset('consultation_depot/assets/images/picto-signature.gif') }}" alt="" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE'|trans }}"/> :
                        <img src="{{ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }}" alt="" title="{{ 'TEXT_VERIFICATION_OK'|trans }}"/>
                    </div>
                    <div class="intitule-legende">
                        <p> <strong>{{ 'TEXT_VERIFICATION_OK'|trans }}</strong>: {{ 'DEFINE_MESSAGE_VERIFICATION_OK'|trans }} </p>
                    </div>
                    <!-- Fin verification OK -->
                    <!-- Debut verification KO -->
                    <div class="pull-left statut-signature m-r-1">
                        <img src="{{ asset('consultation_depot/assets/images/picto-signature.gif') }}" alt="" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE'|trans }}"/> :
                        <img src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}" alt="" title="{{ 'TEXT_VERIFICATION_KO'|trans }}"/>
                    </div>
                    <div class="intitule-legende">
                        <p><strong>{{ 'TEXT_VERIFICATION_KO'|trans }}</strong>: {{ 'DEFINE_MESSAGE_VERIFICATION_KO'|trans }}</p>
                    </div>
                    <!-- Fin verification KO -->
                    <!-- Debut verification INCERTAINE -->
                    <div class="pull-left statut-signature m-r-1">
                        <img src="{{ asset('consultation_depot/assets/images/picto-signature.gif') }}" alt="" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE'|trans }}"/> :
                        <img src="{{ asset('consultation_depot/assets/images/picto-validation-incertaine.gif') }}" alt="" title="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}"/></div>
                    <div class="intitule-legende">
                        <p><strong>{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}</strong>: {{ 'DEFINE_MESSAGE_VERIFICATION_INCERTAINE'|trans }}</p>
                    </div>
                    <!-- Fin verification INCERTAINE -->
                    <!-- Debut signature INTROUVABLE -->
                    <div class="pull-left statut-signature m-r-1">
                        <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}" alt="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}" /> :
                        &nbsp;<img src="{{ asset('consultation_depot/assets/images/picto-vide.gif') }}" alt="{{ 'TEXT_AUCUNE_SIGNATURE'|trans }}">
                    </div>
                    <div class="intitule-legende">
                        <p>
                            <strong>{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}</strong>: {{ 'DEFINE_MESSAGE_SIGNATURE_INTROUVABLE'|trans }}
                        </p>
                    </div>
                    <!-- Fin signature INTROUVABLE -->
                </div>
                <div class="column-actions">
                    <h6><b>Actions</b></h6>
                    <div class="pull-left actions m-r-1">
                        <span class="btn btn-primary btn-xs fileinput-button" title="{{ 'DEFINE_AJOUTER_PIECE_ATTENDUE'|trans }}">
                            <i class="fa fa-plus"></i>
                        </span> :
                    </div>
                    <div class="intitule-legende bloc-600">
                        <p><strong>{{ 'DEFINE_AJOUTER_PIECE_ATTENDUE'|trans }}</strong>. {{ 'DEFINE_MESSAGE_AJOUT_PIECE_TYPEE_ATTENDUE_FORMULAIRE'|trans }}</p>
                    </div>
                    <div class="pull-left actions m-r-1">
                        <span href="#" title="{{ 'TEXT_SUPPRIMER_PIECE'|trans  }}" class="btn btn-primary btn-xs delete" >
                        <i class="fa fa-trash-o"></i>
                        </span> :
                    </div>
                    <div class="intitule-legende bloc-600">
                        <p><strong>{{ 'DEFINE_RETIRER_PIECE_JOINTE_FORMULAIRE'|trans }}</strong> {{ 'DEFINE_MESSAGE_AJOUT_PIECE_LIBRE_ACTION_SUPPRIME_JAMAIS_FICHIER_POSTE'|trans }}</p>
                    </div>
                    {% if atexo_configuration.getConfigurationPlateforme().interfaceModuleSub%}
                    <div class="actions">
                        <i class="fa fa-search-plus" title="{{ 'DEFINE_VISUALISER_CONTENU'|trans }}"></i> :
                    </div>
                    <div class="intitule-legende bloc-600">
                        <p><strong>{{ 'DEFINE_VISUALISER_CONTENU_FORMULAIRE'|trans }}</strong> {{ 'DEFINE_MESSAGE_MODIFICATION_FORMULAIRE_N_EST_PLUS_POSSIBLE'|trans }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'FERMER'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<!-- fin modal legende -->