<!--Debut Layer 4-->
<div class="section bloc-rmc messagerieSecurisee--m">
    <div class="section-heading page-header clearfix m-t-1 p-b-0">
        <h3 class="h4 pull-left">
            {{ 'DEFINE_LISTE_MESSAGES'|trans }}
        </h3>
    </div>
    <div class="bloc m-b-0">
        <div class="table-bloc">
            {% if messagesPagination is defined and messagesPagination is not empty %}
                <div class="line-partitioner clearfix">
                    <div class="h6 pull-left m-b-0">
                        <strong>
                            {{ 'DEFINE_NOMBRE_RESULTAT'|trans }}
                            {{ messagesPagination.getTotalItemCount }}
                        </strong>
                    </div>
                    <div class="partitioner pull-right m-t-2">
                        <strong>
                            {{ knp_pagination_render(messagesPagination) }}
                        </strong>
                    </div>
                </div>

                <table class="table table-results table-striped m-t-2" summary="{{ 'DEFINE_LISTE_MESSAGES'|trans }}">

                    <thead class="panel-heading hidden-xs">
                    <tr>
                        <th class="col-md-2" id="msg_col_01">
                            {#<com:TActiveLinkButton cssClass="on" onCommand="Page.critereTriMessagerie" onCallBack="Page.TrierMessagerie" CommandName="expediteur">#}
                            {{ 'DEFINE_TEXT_DE'|trans }}
                            <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}"/>
                            {#</com:TActiveLinkButton>#}
                        </th>
                        <th class="col-md-2" id="msg_col_02">
                            {#<com:TActiveLinkButton onCommand="Page.critereTriMessagerie" onCallBack="Page.TrierMessagerie" CommandName="destinataire">#}
                            {{ 'DEFINE_TEXT_A'|trans }}
                            <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}"/>
                            {#</com:TActiveLinkButton>#}
                        </th>
                        <th class="col-md-2" id="msg_col_03">
                            {{ 'OBJET'|trans }} / {{ 'DEFINE_PJ'|trans }}
                            <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}"/>
                        </th>
                        <th class="col-md-2" id="msg_col_04">
                            {#<com:TActiveLinkButton onCommand="Page.critereTriMessagerie" onCallBack="Page.TrierMessagerie" CommandName="date_heure_messagerie">#}
                            {{ 'DEFINE_DATE_SLASH_HEURE'|trans }}
                            <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}"/>
                            {#</com:TActiveLinkButton>#}
                        </th>
                        <th class="col-md-2" id="msg_col_05">
                            {{ 'DEFINE_TEXT_AR'|trans }}
                            <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}"/>
                        </th>
                        <th class="col-md-2" id="msg_col_06">
                            {{ 'DEFINE_TEXT_FORMAT'|trans }}
                            <img src="{{ asset('consultation_depot/assets/images/arrow-tri.gif') }}" alt="{{ 'DEFINE_TRIER'|trans }}" title="{{ 'DEFINE_TRIER'|trans }}"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messagesPagination %}
                        <tr>
                            <td headers="msg_col_01" class="col-md-3 col-xs-12">
                                {{ message.expediteur }}
                            </td>
                            <td headers="msg_col_02" class="col-md-2 col-xs-12">
                                {{ inscrit.email }}
                            </td>
                            <td headers="msg_col_03" class="col-md-2 col-xs-12">
                                {{ message.objet }}<br/>
                                <a href="{{ url_mpe }}index.php?page=Entreprise.EntrepriseDetailEchangeMail&num_ar={{ message.uid }}&orgAcronyme={{ consultation.acronymeOrg }}">
                                    {{ 'DEFINE_TEXT_VISUALISATION_MESSAGE'|trans }}
                                </a>
                            </td>
                            <td headers="msg_col_04" class="col-md-2 col-xs-12">
                                {{ message.dateMessage|date('d/m/Y') }}<br/>
                                {{ message.dateMessage|date('H:i') }}
                            </td>
                            <td headers="msg_col_05" class="col-md-1 col-xs-12">
                                {{ message.dateAr is empty ? "-" : message.dateAr|date('d/m/Y') }}<br/>
                                {{ message.dateAr is empty ? "" : message.dateAr|date('H:i') }}
                            </td>
                            <td headers="msg_col_06" class="col-md-2 col-xs-12">
                                {{ message.libelle_format }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="partitioner clearfix">
                    <div class="partitioner pull-right">
                        {{ knp_pagination_render(messagesPagination) }}
                    </div>
                </div>

            {% else %}
                <div class="alert alert-warning h5">
                    {{ 'DEFINE_AUCUN_RESULTAT'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!--Fin Layer 4-->