<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{'CONFIRMATION_DEPOT_REPONSE_ELECTRONIQUE'|trans}}" id="modal-confirmation-depot-reponse-electronique">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">{{ 'CONFIRMATION_DEPOT_REPONSE_ELECTRONIQUE'|trans }}</h4>
            </div>
            <div class="modal-body" id="content-popin-confirmation-depot-reponse-electronique"></div>
            <div class="modal-footer">
                <p class="text-center"><strong>{{ 'DEFINE_SUR_DE_VOULOIR_POURSUIVRE'|trans }}</strong></p>
                <!--Debut line boutons-->
                <div class="btn-group pull-left">
                        <input id="annuler-popin-confirmation-reponse-consultation" class="btn btn-default btn-sm" value="{{ 'TEXT_ANNULER'|trans }}" title="{{ 'TEXT_ANNULER'|trans }}" type="button"/>
                </div>
                <div class="btn-group pull-right">
                    <input id="valider-popin-confirmation-reponse-consultation" class="btn btn-primary btn-sm" value="{{ 'TEXT_POURSUIVRE'|trans }}" title="{{ 'TEXT_POURSUIVRE'|trans }}" type="button"/>
                </div>
                <!--Fin line boutons-->
            </div>
        </div>
    </div>
</div>
