<div class="toggle-panel clearfix m-b-2" id="legende">
    {% if consultation.signatureOffre != 0 %}
        {% include is_module_enabled('donnerAvisDepotEntreprise', null, 'is') ? 'consultation/bloc/avis.html.twig': '' ignore missing %}
        <div class="content pull-right">
            <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
               data-target="#panelLegend">{{ 'LEGENDE'|trans }} <i class="fa fa-question m-l-1"></i></a>
            <div class="modal fade panelLegend in" id="panelLegend" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content clearfix">
                        <div class="modal-header">
                            <div class="modal-title">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h2 class="h4 modal-title">
                                    {{ 'LEGENDE'|trans }}
                                </h2>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6">
                                <div class="clearfix">
                                    <div class="statut-signature">
                                        <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                             alt="{{ 'TEXT_CERTIFICAT'|trans }}"> :
                                        <img src="{{ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }}"
                                             alt="{{ 'TEXT_VERIFICATION_OK'|trans }}">
                                    </div>
                                    <div class="intitule-legende">
                                        <p>
                                            <strong>{{ 'TEXT_VERIFICATION_OK'|trans }}</strong>. {{ 'DEFINE_MESSAGE_VERIFICATION_OK'|trans }}
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="statut-signature">
                                        <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                             alt="{{ 'TEXT_CERTIFICAT'|trans }}"> :
                                        <img src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}"
                                             alt="{{ 'TEXT_VERIFICATION_KO'|trans }}">
                                    </div>
                                    <div class="intitule-legende">
                                        <p>
                                            <strong>{{ 'TEXT_VERIFICATION_KO'|trans }}</strong>. {{ 'DEFINE_MESSAGE_VERIFICATION_KO'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="statut-signature">
                                    <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                         alt="{{ 'TEXT_CERTIFICAT'|trans }}"> :
                                    <img src="{{ asset('consultation_depot/assets/images/picto-validation-incertaine.gif') }}"
                                         alt="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}">
                                </div>
                                <div class="intitule-legende">
                                    <p>
                                        <strong>{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}</strong>. {{ 'DEFINE_MESSAGE_VERIFICATION_INCERTAINE'|trans }}
                                    </p>
                                </div>
                                <div class="statut-signature">
                                    <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}"
                                         alt="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}"/> :
                                    &nbsp;<img src="{{ asset('consultation_depot/assets/images/picto-vide.gif') }}"
                                               alt="{{ 'TEXT_AUCUNE_SIGNATURE'|trans }}">
                                </div>
                                <div class="intitule-legende">
                                    <p>
                                        <strong>{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}</strong>. {{ 'DEFINE_MESSAGE_SIGNATURE_INTROUVABLE'|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="h4 page-header m-t-2 m-b-1">Actions</div>
                                <div class="column-actions">
                                    <div class="actions"><img alt="Télécharger la signature"
                                                              src="{{ asset('consultation_depot/assets/images/picto-dl-dossier.gif') }}">
                                        :
                                    </div>
                                    <div class="intitule-legende bloc-600">
                                        <p>{{ 'TEXT_DWNLD_TOKEN_SIGNATURE'|trans|raw }}
                                        </p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include is_module_enabled('donnerAvisDepotEntreprise', null, 'is') ? 'consultation/bloc/avis.html.twig': '' ignore missing %}
    {% endif %}
</div>