<!-- Start bloc legende -->
<div class="toggle-panel clearfix m-b-2" id="legende">
    <div class="content pull-right">
        <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".panelLegend">
            {{ 'LEGENDE'|trans }}
            <i class="fa fa-question"></i>
        </a>
        <div class="modal fade panelLegend" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="panelLegend">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h2 class="h4 modal-title">
                            {{ 'LEGENDE'|trans }}
                        </h2>
                    </div>
                    <div class="modal-body clearfix">
                        <h3 class="h4 page-header m-t-0">
                            {{ 'DEFINE_DETAIL_SIGNATURE'|trans }}
                        </h3>
                        <ul class="list-unstyled">
                            <li>
                                <div>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}"/> :
                                    <img src="{{ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_OK'|trans }}" alt="{{ 'TEXT_VERIFICATION_OK'|trans }}"/>
                                    <strong>{{ 'TEXT_VERIFICATION_OK'|trans }}</strong>
                                </div>
                                <div class="col-md-offset-1">
                                    {{ 'DEFINE_MESSAGE_VERIFICATION_OK'|trans }}
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}"/> :
                                    <img src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_KO'|trans }}" alt="{{ 'TEXT_VERIFICATION_KO'|trans }}"/>
                                    <strong>{{ 'TEXT_VERIFICATION_KO'|trans }}</strong>
                                </div>
                                <div class="col-md-offset-1">
                                    {{ 'DEFINE_MESSAGE_VERIFICATION_KO'|trans }}
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}"/> :
                                    <img src="{{ asset('consultation_depot/assets/images/picto-validation-incertaine.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}" alt="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}"/>
                                    <strong>{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}</strong>
                                </div>
                                <div class="col-md-offset-1">
                                    {{ 'DEFINE_MESSAGE_VERIFICATION_INCERTAINE'|trans }}
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_CERTIFICAT'|trans }}" alt="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_NON_VERIFIABLE'|trans }}"/> :
                                    <img src="{{ asset('consultation_depot/assets/images/picto-vide.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}" alt="{{ 'VALIDITE_NON_VERIFIABLE'|trans }}"/>
                                    <strong>{{ 'VALIDITE_NON_VERIFIABLE'|trans }}</strong>
                                </div>
                                <div class="col-md-offset-1">
                                    {{ 'DEFINE_MESSAGE_SIGNATURE_NON_VERIFIABLE'|trans }}
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}"
                                         data-toggle="tooltip" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}" alt="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}"/>
                                    <strong>{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}</strong>
                                </div>
                                <div class="col-md-offset-1">
                                    {{ 'DEFINE_MESSAGE_SIGNATURE_INTROUVABLE'|trans }}
                                </div>
                            </li>
                        </ul>
                        <h3 class="h4 page-header m-t-0">
                            {{ 'TEXT_ACTIONS'|trans }}
                        </h3>
                        <ul class="list-unstyled">
                            <li>
                                <div>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-dl-dossier.gif') }}"
                                         data-toggle="tooltip" title="{{ 'DEFINE_TELECHARGER_SIGNATURE'|trans }}" alt="{{ 'DEFINE_TELECHARGER_SIGNATURE'|trans }}"/>
                                    {{ 'TEXT_DWNLD_TOKEN_SIGNATURE'|trans|raw }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End bloc legende -->