{% extends 'layout.html.twig' %}

{% if inscrit.getId() is not defined %}
    {% set inscrit = app.user %}
{% endif %}

{% block title %}
    {% if displayErrorMessage is not defined or displayErrorMessage is empty %}
        {{ parent() }} - {{ 'DEFINE_TEXT_CONSULTATIONS'|trans }} - {{ consultation.referenceUtilisateur }}
        {% if  consultation.titre  is not empty %}| {{ consultation.titre }}{% endif %}
    {% endif %}
{% endblock %}

{% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'consultation/consultation-css.html.twig' %}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}

{% block javascripts_footer %}
    {% if displayErrorMessage is not defined or displayErrorMessage is empty %}
        {% include 'consultation/consultation-footer-js.html.twig' %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
        <div class="container clearfix">
            <nav role="navigation">
                <div class="breadcrumb">
                    <a href="/">{{ 'CG76_DEFINE_TEXT_ACCUEIL'|trans }}</a> /
                    <a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a>
                    {% if displayErrorMessage is not defined or displayErrorMessage is empty %}
                        / {{ 'DEFINE_REPONDRE'|trans }}
                    {% endif %}
                </div>
            </nav>
        </div>
{% endblock %}
{% block content %}
    {% if displayErrorMessage is not defined or displayErrorMessage is empty %}
        <script type="application/javascript">
            var consulation_ref='{{ consultation.id }}';
            var organisme = '{{ consultation.organisme }}';
            var depotAutomatique = 0;
            var pageTransmissionAffichee = 0;
            var jetonSignatureMaxFileSize = {{ jeton_signature_max_file_size }};
        </script>
        {% include 'consultation/consultation-details.html.twig' %}
        {% include 'consultation/consultation-calendrier.html.twig' %}
        {% include 'consultation/consultation-test-config.html.twig' %}
        {% if isEnabled.bourseCotraitance == 1 %}
            {% include 'consultation/consultation-bourse-cotraitance.html.twig' %}
        {% endif %}
        <!-- LES ONGLETS -->
        {% include 'consultation/consultation-depot-tab.html.twig' %}
        <!-- FIN DES ONGLETS -->
        {% include 'consultation/consultation-link-line.html.twig' %}
    {% endif %}
{% endblock %}
