{% if consultation.signatureOffre == 1 %}
    <div class="line-50pourcent">
        <div class="line">
            <div class="intitule-100 bold" style="display:none">
                {{ 'TEXT_RECAPITULATIF'|trans }} :
            </div>
            <div class="content-bloc" style="display:none">
                <div class="line">
                    <div class="statut-signature">
                        <div class="statut">
                            <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}">
                            <img data-tnr="statutSignatureOk" src="{{ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }}" alt="{{ 'TEXT_VERIFICATION_OK'|trans }}" title="{{ 'TEXT_VERIFICATION_OK'|trans }}">: <strong><span id="contenus_transmis_total_ok">0</span></strong>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="statut-signature">
                        <div class="statut">
                            <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}">
                            <img src="{{ asset('consultation_depot/assets/images/picto-validation-incertaine.gif') }}" alt="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}" title="{{ 'TEXT_VERIFICATION_INCERTAINE'|trans }}">: <strong><span id="contenus_transmis_total_unknown">0</span></strong>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="statut-signature">
                        <div class="statut">
                            <img src="{{ asset('consultation_depot/assets/images/picto-certificat-small.gif') }}" alt="{{ 'TEXT_CERTIFICAT'|trans }}">
                            <img src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}" alt="{{ 'TEXT_VERIFICATION_KO'|trans }}" title="{{ 'TEXT_VERIFICATION_KO'|trans }}">: <strong><span id="contenus_transmis_total_ko">0</span></strong>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="statut-signature">
                        <div class="statut">
                            <img src="{{ asset('consultation_depot/assets/images/picto-aucune-signature.gif') }}" alt="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}" title="{{ 'TEXT_SIGNATURE_ELECTRONIQUE_MANQUANTE'|trans }}" />
                            &nbsp;<img src="{{ asset('consultation_depot/assets/images/picto-vide.gif') }}" alt="{{ 'TEXT_AUCUNE_SIGNATURE'|trans }}" title="{{ 'TEXT_AUCUNE_SIGNATURE'|trans }}" />: <strong><span id="contenus_transmis_total_unsigned">7</span></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}