{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/atx-bloc-highlighted-popup.css') }}"/>
{% endblock %}
{% block stylesheet_lt_dume %}
    <link rel="stylesheet" href="{{ url_dume }}/styles.bundle.css"/>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}
{% block javascripts_footer %}
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/tmpl.js') }}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/load-image.all.min.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
    <!-- The File Upload validation plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
    <!-- The File Upload user interface plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <!-- The main application script -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.events.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.jeton.js') }}"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
    <!-- Chosen Module -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atx-bloc-highlighted-popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/ServerDate.js') }}"></script>
{% endblock %}
{% block javascripts_lt_dume_footer %}
    <script type="text/javascript" src="{{ url_dume }}/inline.bundle.js"></script>
    <script type="text/javascript" src="{{ url_dume }}/polyfills.bundle.js"></script>
    <script type="text/javascript" src="{{ url_dume }}/scripts.bundle.js"></script>
    <script type="text/javascript" src="{{ url_dume }}/vendor.bundle.js"></script>
    <script type="text/javascript" src="{{ url_dume }}/main.bundle.js"></script>
    <script type="text/javascript" src="/themes/js/ng-script.js"></script>
{% endblock %}
{% block title %}
    {{ parent() }} - {{ 'DEFINE_TEXT_CONSULTATIONS'|trans }} - {{ consultation.referenceUtilisateur }} {% if  consultation.titre  is not empty %}| {{ consultation.titre }}{% endif %}
{% endblock %}
{% block breadcrumbs %}
    <div class="container clearfix">
        <nav role="navigation">
            <ul class="breadcrumb">
                <li>
                    <a href="/">{{ 'CG76_DEFINE_TEXT_ACCUEIL'|trans }}</a>
                </li>
                <li>
                    <a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a>
                </li>
                <li>
                    {{ 'DEFINE_REPONDRE'|trans }}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <script type="application/javascript">
        var consulation_ref='{{ consultation.id }}';
        var organisme = '{{ consultation.organisme }}';
    </script>
    {% include 'consultation/consultation-details.html.twig' %}
    {% include 'consultation/consultation-creation-dume.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('app/js/ng-script.js') }}"></script>
{% endblock %}