{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/atx-bloc-highlighted-popup.css') }}"/>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}

    {% include 'consultation/consultation-depot-template-upload.html.twig' %}
    {% set maxSizeFile = 0 %}
    {% if consultation.controleTailleDepot != null %} {% set maxSizeFile = consultation.controleTailleDepot %} {% endif %}
    <script type="text/javascript">
        var maxSizeUpload = {{ maxSizeFile }} * 1000000;
        var journeeDeLAnnee = {{ getJourneeDeLAnnee() }}
        var time = {{ getTime() }}
        var jetonForm = null;
        //dateBandeau({#{{ getDateFoisMille()  }}#},{#{{ getDateZ() }}#});
        {% if consultation.signatureOffre %}
        jetonForm = '<div class="templ-fileupload template-upload template-container-upload-jeton">' +
                            '<div class="container-fluid">' +
                                    '<div class="row row-jeton">' +
                                        '<div class="col-md-12">'+
                                            '<div class="fileupload-table table table-striped"><div role="presentation"></div></div>' +
                                                '<div class="fileupload-buttonbar">' +
                                                    '<form action="#" method="POST" enctype="multipart/form-data" class="form-jeton-upload"'+
                                                        'data-upload-template-id="template-upload-jeton"' +
                                                        'data-download-template-id="template-download-jeton"' +
                                                        'data-drop-zone="null"' +
                                                        'data-url="{{ path('atexo_consultation_depot_upload', {'id': consultation.id}) }}"' +
                                                        'data-type="SIG" '+
                                                    '>'+
                                                        '<input type="hidden" name="type_enveloppe" value="0"/>' +
                                                        '<input type="hidden" name="files_collections" value="[]"/>' +
                                                        '<input type="hidden" name="info_index_enveloppe" value=""/>' +
                                                        '<input type="hidden" name="enveloppe" value="0"/>' +
                                                        '<input type="hidden" name="offre_id" value="0"/>' +
                                                        '<input type="hidden"  name="type_fichier" value="{{ obscure_data_management.getObscureData("SIG", uid_response) }}"/>' +
                                                        '<input type="hidden"  name="fichier" value="0"/>' +
                                                        '<input type="hidden" name="uid_response" value="{{ uid_response }}"/>'+
                                                        '<input type="hidden" name="pere_deleted" value="0"/>'+

                                                            '<div class="col-md-5">' +
            '<span class="btn btn-primary btn-sm fileinput-button pull-right">' +
                                                                '<i class="fa fa-tag" style="margin-right:3px"><i class="fa fa-plus"></i></i>' +
                                                                '<span>{{ 'AJOUTER_JETON_SIGNATURE'|trans }}</span>' +
                                                                    '<input class="fileupload" type="file" name="file_jeton_lot" />' +
                                                                '</span>' +
                                                        '</div>'+
                                                    '</form>' +
                                                '</div>' +
                                            '</div>' +
                                    '</div>' +
                            '</div>' +
                '</div>';
        {% else %}
        jetonForm = '';
        {% endif %}
    </script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/tmpl.js') }}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/load-image.all.min.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
    <!-- The File Upload validation plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
    <!-- The File Upload user interface plugin -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <!-- The main application script -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.events.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.jquery.upload.jeton.js') }}"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/modules/jquery-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
    <!-- Chosen Module -->
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atexo.scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/atx-bloc-highlighted-popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/ServerDate.js') }}"></script>
{% endblock %}
{% block title %}
    {{ 'TITRE_DEPOT'|trans }}
{% endblock %}

{% block breadcrumbs %}
    <div class="container clearfix">
        <nav role="navigation">
        <ul class="breadcrumb">
            <li>
                {{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}
            </li>
            <li>
                {{ 'DEFINE_REPONDRE'|trans }}
            </li>
        </ul>
        </nav>
    </div>
{% endblock %}
{% block content %}
<main id="middle" class="atx-middle">
    <div class="repondre-consultation detailConsultaion">
        <div class="container">
            <script type="application/javascript">
                var consulation_ref='{{ consultation.id }}';
                var organisme = '{{ consultation.organisme }}';
                var depotAutomatique = 0;
                var pageTransmissionAffichee = 0;
                var validationAnticipee = 0;
                var jetonSignatureMaxFileSize = {{ jeton_signature_max_file_size }};
            </script>
            {% include 'consultation/consultation-details.html.twig' %}
            {% include 'consultation/consultation-calendrier.html.twig' %}
            {% include 'consultation/consultation-coordonnees.html.twig' %}
            <div class="panel panel-default panel-body">
                {% if interfaceModuleSub is defined and  interfaceModuleSub == 1 %}
                    {% include 'consultation/consultation-depot-aof.html.twig' %}
                {% else %}
                    {% include 'consultation/consultation-depot.html.twig' %}
                {% endif %}
            </div>
            <form id="form-reponse">
                <input type="hidden" id="isActeEngagementExists" name="isActeEngagementExists" value="{{ consultation.signatureActeEngagement  }}"/>
                <input type="hidden" id="isAnnexeFinanciereExists" name="isAnnexeFinanciereExists" value="{{ consultation.annexeFinanciere }}"/>
                <input type="hidden" id="form_offre_id" name="reponse[offre_id]" value="{{ obscure_data_management.getObscureData(offre.id|default('0'), uid_response) }}"/>
                <input type="hidden" id="form_adresse_ar" name="reponse[adresse_ar]" value="{{ inscrit.email|default('') }}"/>
                <input type="hidden" id="form_fichiers" name="reponse[fichiers]" value=""/>
                <input type="hidden" id="form_uid_response" name="reponse[uid_response]" value="{{ uid_response }}"/>
                {% if moduleGroupement is defined and  moduleGroupement == 1 %}
                <input type="hidden" id="form_groupement_id" name="reponse[groupement_id]" value="{{ inscrit.email|default('') }}"/>
                {% endif %}
                {% include 'consultation/consultation-depot-cgu.html.twig' %}
            {% include 'consultation/consultation-depot-actions.html.twig' %}
            </form>

            <div class="modal fade atx-upload-modal atx-show-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="bs-exemple modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="modal-title" id="myModalLabel">
                                {{ 'MSG_INFORMATION_DEPOT_ANTICIPE' | trans | raw }}
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <!--Debut line boutons-->
                            <div class="btn-group pull-left">
                                <input id="annuler-depot-automatique" class="btn btn-default pull-left" value="{{ 'DEFINE_ANNULER' | trans }}" title="{{ 'DEFINE_ANNULER' | trans }}"
                                       data-dismiss="modal" type="button">
                            </div>
                            <div id="activer-depot-automatique" class="btn-group pull-right">
                                <button type="button"
                                        class="btn btn-default pull-right atx-hide-content-on-upload"
                                        value="{{ 'TEXT_POURSUIVRE' | trans }}" title="Validation"><span
                                            class="text">{{ 'TEXT_POURSUIVRE' | trans }}</span><i class="fa fa-angle-right"></i>
                                </button>
                            </div>
                            <!--Fin line boutons-->
                        </div>
                    </div>
                    <!-- DES_271 popup -->

                </div>
            </div>
            <div class="custom-overlay"></div>
        </div>
    </div>
</main>
{% endblock %}


{% block footer %} {{ get_footer('mpe')|raw }} {% endblock %}

