<div class="panel panel-default panel-step" id="role_inscrit">
    <div class="panel-heading">
        <h2 class="h4 panel-title">
            {{ 'ETAPE'|trans }} {{ etape }} : {{ 'VERIFICATION_INFORMATION_ENTREPRISE'|trans }}
        </h2>
    </div>

    <div class="clearfix phase-bloc panel-body p-t-0" id="select_phase">
        <div class="modal-body">

            {% if typeAlert == 'info' %}
                <div class="alert alert-info" role="info">
                    {{ msg | trans | format('/?page=Entreprise.FormulaireCompteEntreprise&action=ChangingUser')|raw }}
                </div>

            {% elseif typeAlert == 'danger' %}
                <div class="alert alert-danger" role="danger">
                    {{ msg | trans | format('/?page=Entreprise.FormulaireCompteEntreprise&action=ChangingUser')|raw }}
                </div>
            {% elseif typeAlert == 'warning' %}
                <div class="alert alert-warning" role="warning">
                    {{ msg | trans | format('/?page=Entreprise.FormulaireCompteEntreprise&action=ChangingUser')|raw }}
                </div>
            {% endif %}

            <div class="fa fa-bank verif"><label class="label-verif">{{ 'TEXT_MY_ENTREPRISE' | trans }}</label>
            </div>
            <hr class="line-verif">

            <table width="80%">
                {% if isSirenVisible %}
                    <tr>
                        <td width="30%"><label>{{ 'TEXT_SIREN' | trans }}:</label></td>
                        <td>{{ siren }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> &nbsp;</td>
                    </tr>
                {% endif %}
                <tr>
                    <td width="30%"><label>{{ 'TEXT_RAISON_SOCIAL' | trans }}:</label></td>
                    <td>{{ raisonSocial }}</td>
                </tr>
            </table>
            <div>&nbsp;</div>

            <div class="fa fa-building verif"><label
                        class="label-verif">{{ 'TEXT_MON_ETABLISSEMENT'| trans }}</label></div>
            <hr class="line-verif">
            <table width="80%">
                {% if isSirenVisible %}
                    <tr>
                        <td width="30%"><label>{{ 'TEXT_SIRET' | trans }}:</label></td>
                        <td>{{ siret }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> &nbsp;</td>
                    </tr>
                {% endif %}
                <tr>
                    <td width="30%"><label>{{ 'TEXT_ADRESSE' | trans }}:</label></td>
                    <td>{{ adresse }}</td>
                </tr>
                <tr>
                    <td colspan="2"> &nbsp;</td>
                </tr>
                <tr>
                    <td width="30%"><label>{{ 'TEXT_CP' | trans }} - {{ 'TEXT_VILLE' | trans }}:</label></td>
                    <td>{{ codePostalVille }}</td>
                </tr>
            </table>
            <div>&nbsp;</div>
        </div>
    </div>
</div>
