<ng-template [ngIf]="contrat != null">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <fa-icon [icon]="['fas','envelope']"></fa-icon>
                Messagerie sécurisée
            </h3>
        </div>
        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="messages_all" role="tabpanel">
                    <div *ngIf="contrat.messageStatus !=null" class="list-group">
                        <a *ngIf="contrat.messageStatus.nombreMessageNonDelivre > 0"
                           [routerLink]="['/messages', contrat.id, {nonDelivre:'true', favoris:favoriActive+''}]"
                           class="list-group-item">
                            Non délivrés
                            <span class="badge badge-danger">{{contrat.messageStatus.nombreMessageNonDelivre}}</span>
                        </a>
                        <span *ngIf="contrat.messageStatus.nombreMessageNonDelivre === 0"
                              class="list-group-item">
                            Non délivrés
                            <span class="badge badge-danger">0</span>
                        </span>
                        <a *ngIf="contrat.messageStatus.nombreMessageEnAttenteReponse > 0"
                           [routerLink]="['/messages', contrat.id, {enAttenteDeReponse:'true', favoris:favoriActive+''}]"
                           class="list-group-item">
                            En attente de réponse
                            <span class="badge">{{contrat.messageStatus.nombreMessageEnAttenteReponse}}</span>
                        </a>
                        <span *ngIf="contrat.messageStatus.nombreMessageEnAttenteReponse === 0"
                              class="list-group-item">
                            En attente de réponse
                            <span class="badge">0</span>
                        </span>
                        <a *ngIf="contrat.messageStatus.nombreMessageNonLu > 0"
                           [routerLink]="['/messages', contrat.id, {reponseNonLue:'true', favoris:favoriActive+''}]"
                           class="list-group-item">
                            Réponse non lue
                            <span class="badge badge-success">{{contrat.messageStatus.nombreMessageNonLu}}</span>
                        </a>
                        <span *ngIf="contrat.messageStatus.nombreMessageNonLu === 0"
                              class="list-group-item">
                            Réponse non lue
                            <span class="badge badge-success">0</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a (click)="nouveauMessage()" class="btn btn-xs btn-primary">Nouveau message</a>
            <span class="pull-right">
                        <a [routerLink]="['/messages', contrat.id]">
                            Tous les messages <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </span>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //Fin Form actions-->
</ng-template>
