<div *ngFor="let chapitre of chapitres; let index=index;let last=last;let first=first">
  <div class="option">
    <a class="vertical-center">
              <span class="font-weight-bold"
                    style="margin-left: {{chapitreMarginLeft}}px">
                {{prefix + (index + 1)}} {{chapitre.titre}}
              </span>

    </a>
    <div class="d-flex m-t-5px m-b-5px">
      <a class="margin-right-5px vertical-center"
         *ngIf="chapitre.infoBulle && isNotEmptyInfoBulle(chapitre.infoBulle) && chapitre.infoBulle.actif"
         (click)="openUrl(chapitre.infoBulle.lien)">
        <i class="fa fa-question-circle fa-2x" [title]=getInfoBulleTitle(chapitre.infoBulle)></i>
      </a>

    </div>
  </div>
  <div>

    <div *ngIf="chapitre.clausesDocument?.length>0">
      <div class="clause"
           *ngFor="let clause of chapitre.clausesDocument;"
           style="margin-left: {{clauseMarginLeft}}px">
        <div class="option">
          <div class="vertical-center">
            {{clause.ref}} <span *ngIf="!!clause.texteConditions" [innerHTML]="getTexteConditions(clause)"></span></div>
          <div class="d-flex m-t-5px m-b-5px">
            <a class="margin-right-5px vertical-center"
               *ngIf="clause.infoBulle && isNotEmptyInfoBulle(clause.infoBulle) && clause.infoBulle.actif"
               (click)="openUrl(clause.infoBulle.lien)"
            >
              <i class="fa fa-question-circle fa-2x" [title]=getInfoBulleTitle(clause.infoBulle)></i>
            </a>

          </div>
        </div>
        <hr *ngIf="!!clause.ref"/>
        <div>
          <atx-preview-clause [clauseDocument]="clause" [editeur]="editeur" [isCanevasPreview]="true"></atx-preview-clause>
        </div>

      </div>
    </div>
    <div>
      <atx-preview-chapitre-treeview *ngIf="chapitre.sousChapitres?.length>0"
                                     [niveau]="niveau+1"
                                     [prefix]="prefix+(index+1)+'.'"
                                     [chapitres]="chapitre.sousChapitres"
                                     [editeur]="editeur"
      ></atx-preview-chapitre-treeview>
    </div>

  </div>

</div>
