.option {
  display: flex;
  justify-content: space-between;
}

.p-5px {
  padding: 5px;
}

.m-t-5px {
  margin-top: 5px;
}

.m-b-5px {
  margin-botton: 5px;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.clause {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px dotted black;
  border-radius: 5px;
}
