<form #contratForm="ngForm">

    <!--Debut Panel Entités Eligibles-->
    <div class="panel panel-default recap-fiche-contrat" *ngIf="contrat?.type?.entiteEligibleActif">
        <div class="panel-heading">
            <h3 class="panel-title">Entités éligibles aux marchés issus de cette première phase
                <button *ngIf="editionMode || isCreation" type="button" (click)="isModaleEntiteEligibleShown = true"
                        class="btn btn-sm btn-success" value="Valider"><i class="fa fa-edit"></i> Editer
                </button>
            </h3>
        </div>
        <div class="panel-body flex-column">
            <div class="form-group flex-row">
                <div class="col-12 flex-column">
                    <label>{{ getLibelleEntiteEligible(confirmedOption) }} :
                    </label>
                    <div class="m-checkbox-list">
                        <ul>
                            <li *ngFor="let organisme of contrat.organismesEligibles">
                                {{ organisme.acronyme }} - {{ organisme.nom }}
                            </li>
                            <li *ngFor="let service of contrat.servicesEligibles">
                                {{ service.nomCourt }} - {{ service.nom }}
                            </li>
                            <li *ngIf="confirmedOption==='defaut'">
                                {{ userOrganisme.acronyme }} - {{ userOrganisme?.nom }}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


<!-- Modales -->
<div #autoShownModal="bs-modal" (onHidden)="isModaleEntiteEligibleShown=false"
     *ngIf="isModaleEntiteEligibleShown" [config]="{ show: true }" aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Titre de la modale -->
                <h4 class="modal-title" id="modal-contrat-label">Attribution de l'Accord cadre</h4>
            </div>
            <div class="modal-body">

                <h5 class="modal-title">Entités éligibles aux marchés issus de cette première phase</h5>
                <br/>
                <div class="card">

                    <div class="col-12">
                        <input class="form-check-input" type="radio"
                               [value]="'defaut'"
                               [ngModel]="selectOption"
                               (ngModelChange)="selectOption='defaut'"
                               name="defaut"
                               (change)="contrat.organismesEligibles=[];contrat.servicesEligibles=[]"
                               id="defaut">
                        <span
                            [title]="getLibelleEntiteEligible('defaut')">   {{ getLibelleEntiteEligible('defaut') }}
                            :</span>
                        <div class="m-checkbox-list">
                            <ul>
                                <li>
                                    {{ userOrganisme.acronyme }} -{{ userOrganisme?.nom }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="col-12 ">
                        <input class="form-check-input" type="radio"
                               [value]="'services'"
                               (ngModelChange)="selectOption='services'"
                               [ngModel]="selectOption"
                               name="services"
                               (change)="contrat.organismesEligibles=[];contrat.servicesEligibles=[]"
                               id="services">
                        <span
                            [title]="getLibelleEntiteEligible('services')">   {{ getLibelleEntiteEligible('services') }}</span>
                        <div class="m-checkbox-option">
                            <ltexec-service-arbre [services]="servicesOptions"
                                           (onServiceSelected)="updateServicesEligibles($event)"></ltexec-service-arbre>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="col-12">
                        <input class="form-check-input" type="radio"
                               [value]="'organismes'"
                               [ngModel]="selectOption"
                               name="organismes"
                               (ngModelChange)="selectOption='organismes'"
                               (change)="contrat.organismesEligibles=[];contrat.servicesEligibles=[]"
                               id="organismes">
                        <span
                            [title]="getLibelleEntiteEligible('organismes')">   {{ getLibelleEntiteEligible('organismes') }}</span>
                        <div class="m-checkbox-list m-checkbox-option">
                            <div *ngFor="let organisme of organismesOptions" for="organismes_{{organisme.id}}"
                                 class="m-checkbox">
                                <input id="organismes_{{organisme.id}}" type="checkbox"
                                       name="organismes_{{organisme.acronyme}}" [(ngModel)]="organisme.selected"
                                       (ngModelChange)="updateOrganismesEligibles()"
                                >
                                {{ organisme.acronyme }} - {{ organisme.nom }}
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" (click)="isModaleEntiteEligibleShown=false;selectOption=confirmedOption"
                            class="btn btn-sm btn-default"
                            data-dismiss="modal">
                        Annuler
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="isModaleEntiteEligibleShown=false;updateContrat()"
                            class="btn btn-sm btn-default btn-primary"
                            data-dismiss="modal">Valider
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin modales -->
