{% import "module_autoformation/macros.html.twig" as macros %}
<div class="col-sm-12 autoformation">
    <div class="col-sm-12 line-create-rubrique">
        {% if show_btn %}
            <h1>
                {% if page is defined and page == 'agent' %}
                    {{ 'ADMINISTRATION_DES_MODULES_AUTOFORMATION_AGENT'|trans }}
                {% else %}
                    {{ 'ADMINISTRATION_DES_MODULES_AUTOFORMATION_ENTREPRISE'|trans }}
                {% endif %}

            </h1>
            <a href="{{ PF_URL }}?page=Agent.ModuleAutoformationRubrique&access={{ page }}&methode=ajouter" class="btn autoformation-outline-primary">{{ 'AJOUT_RUBRIQUE'|trans }}</a>
            <a href="{{ PF_URL }}?page=Agent.ModuleAutoformationModule&access={{ page }}&methode=ajouter" class="btn autoformation-outline-primary">{{ 'AJOUT_MODULE'|trans }}</a>
        {% endif %}
    </div>
    <hr>
    {% for message in get_flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

{% for rubrique in rubriques %}
    <div class="col-sm-12 line-update-rubrique" id="rubrique-{{ rubrique.id }}">
        <h2>{{ macros.get_name_rubrique(locale, rubrique) }}</h2>
        <span>- {{ rubrique.moduleAutoformations|length }} modules</span>
        {% if show_btn %}
            <a href="{{ PF_URL }}?page=Agent.ModuleAutoformationRubrique&access={{ page }}&methode=modifier&id={{ rubrique.id }}"
               class="btn autoformation-outline-primary" title="{{ 'ACCES_MODIFICATION_RUBRIQUE'|trans ~ ' ' ~ macros.get_name_rubrique(locale, rubrique)|trim(side='left') }}">
                {{ 'MODIFICATION_RUBRIQUE'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="row module-container">
        {% for module in rubrique.moduleAutoformations|sort((a, b) => a.position <=> b.position) %}
            {% set link_video_module = macros.get_path_video_module(module)|trim %}
            <div class="col-sm-3">
                <article class="col-item">
                    {% if show_btn %}
                        <div class="options">
                            <button class="btn btn-default btn-circle" type="button" data-toggle="tooltip" data-placement="top" title="{{ 'DEFINE_SUPPRIMER'|trans }}" data-toggle="modal" data-target="#delete-module" v-on:click="setData('{{ module.id }}', '{{ page }}')">
                                <img src="{{ asset('app/img/poubelle.svg') }}" data-toggle="modal" data-target="#delete-module">
                            </button>
                            <a href="{{ PF_URL }}?page=Agent.ModuleAutoformationModule&access={{ page }}&methode=modifier&id={{ module.id }}" class="btn btn-default btn-circle" type="button" data-toggle="tooltip" data-placement="top" title="{{ 'DEFINE_TEXT_MODIFIER'|trans }}">
                                <img src="{{ asset('app/img/crayon.svg') }}">
                            </a>
                        </div>
                    {% endif %}
                    <div class="photo">
                        <img src="{{ asset(module.pathPicture) }}" class="img-responsive" alt="{{ macros.get_name_module(locale, module)|trim }}" role="presentation">
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="info-details col-md-6">
                                <h3>{{ macros.get_name_module(locale, module) }}</h3>
                                <h4 class="details">
                                    {{ macros.get_description_module(locale, module) }}
                                </h4>
                                <div class="approx-time-access">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <span class="approx">{{ 'DUREE_APPROXIMATIVE'|trans }}: </span>
                                            <span class="time-approx">{{ macros.get_duration_video_module(module) }}</span>
                                        </div>
                                        <div class="col-md-5">
                                         <span class="access">
                                              {% if file_asset_exists(absolute_url(link_video_module)) %}
                                                  <a class="link-video-module-autoformation"
                                                     title="{{ 'ACCESS_MODULE_AUTOFORMATION'|trans }}"
                                                     href="{{ link_video_module }}"
                                                     target="_blank"
                                                  >
                                                       {{ 'ACCEDER'|trans }}
                                                  </a>
                                                  <a class="link-video-module-autoformation-icon"
                                                     title="{{ 'ACCESS_MODULE_AUTOFORMATION'|trans }}"
                                                     href="{{ link_video_module }}"
                                                     target="_blank"
                                                  >
                                                      {{ macros.get_icon(module) }}
                                                  </a>
                                              {% else %}
                                                  <span>{{ 'MESSAGE_FICHIER_INTROUVABLE'|trans }}</span>
                                              {% endif %}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}

    </div>
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="delete-module" tabindex="-1" role="dialog" aria-labelledby="delete-module" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="position: relative; top: 50%; transform: translateY(-50%);">
        <div class="modal-content">
            <div class="modal-body">
                <strong>{{ 'CONFIRMATION_SUPPRESSION_MODULE_AUTOFORMATION'|trans }}</strong>
                <div class="btn-actions">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'TEXT_ANNULER'|trans }}</button>
                    <button type="button" class="btn btn-primary" v-on:click="confirmDelete">{{ 'DEFINE_SUPPRIMER'|trans }}</button>
                </div>
            </div>

        </div>
    </div>
</div>