{% import "module_autoformation/macros.html.twig" as macros %}

{% for rubrique in rubriques %}
    <li class="off action-mpe"><a href="{{ PF_URL }}?page=Agent.AgentAutoformation#rubrique-{{ rubrique.id }}">{{ macros.get_name_rubrique(locale, rubrique) }}</a></li>
{% endfor %}