{% extends 'layout.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('app/css/autoformation.css') }}" rel="stylesheet">
 {% endblock %}

{% block content %}
    <div class="clearfix">
        <ul class="breadcrumb">
            <li>
                <a href="{{ PF_URL }}?page=Entreprise.AccueilEntreprise">
                    {{ 'TEXT_ACCUEIL'|trans }}
                </a>
            </li>
            <li>
                {{ 'DEFINE_TEXT_AIDE'|trans }}
            </li>
            <li>
                {{ 'TEXT_AUTOFORMATION'|trans }}
            </li>
        </ul>
    </div>
    <h1 class="title-autoformation">{{ 'TEXT_AUTOFORMATION'|trans }}</h1>
    {% include 'module_autoformation/_content.html.twig' %}
{% endblock %}