{% macro get_name_rubrique(locale, rubrique) %}
    {% for langue_rubrique in rubrique.langueRubriques %}
        {% if langue_rubrique.langue.langue == locale %}
            {{ langue_rubrique.nom }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro get_name_module(locale, module) %}
    {% for langue_module in module.langueModuleAutoformations %}
        {% if langue_module.langue.langue == locale %}
            {{ langue_module.nom }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro get_description_module(locale, module) %}
    {% for langue_module in module.langueModuleAutoformations %}
        {% if langue_module.langue.langue == locale %}
            {{ langue_module.description }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro get_path_video_module(module) %}
    {% if module.urlExterne == module.pathVideo %}
        {{ module.urlExterne }}
    {% else %}
        {{ asset(module.pathVideo) }}
    {% endif %}
{% endmacro %}

{% macro get_icon(module) %}
    {% if module.urlExterne == module.pathVideo %}
        <img src="{{ asset('app/img/lien-externe.svg') }}">
    {% endif %}
{% endmacro %}

{% macro get_duration_video_module(module) %}
    {% if module.duree == 1 %}
        5 minutes
    {% elseif module.duree == 2 %}
        10 minutes
    {% elseif module.duree == 3 %}
        plus de 10 minutes
    {% endif %}
{% endmacro %}