/* CSS Document */

/*header*/
#header { margin:0 auto; width:984px; background-color:#fff; background-image:url(../images/bandeau.jpg); background-repeat:no-repeat; }
#header .top { width:100%; height:53px; background-image:none; background-repeat:repeat-x; color:#1E82BE; line-height:14px; }
#header .top .date { float:left; padding:0px 10px; color:#1E82BE; width:964px; text-align:right; font-size:9px; line-height:normal; margin-top:23px}
#header .top .user-infos { float:right; padding:2px 10px }
#header .top .user-infos span { margin-left:5px }
#header .top .user-infos a { color:#1E82BE; text-decoration:none }
#header .top .user-infos a:hover { text-decoration:underline }
#header .top .user-infos img { margin-left:5px; vertical-align:top;}
#header .middle { width:984px; background-image:none; background-repeat:repeat-x; padding:0px; overflow:hidden }
#header .middle img { margin:0px; display:none }
#header .nav { width:984px; height:23px; background-image:url(../images/nav-bk.gif); background-repeat:repeat-x; padding:0px; overflow:hidden }
#header .nav a { color:#fff; text-transform:uppercase; text-decoration:none; font-weight:bold }
#header .nav a:hover { color:#ff913a; text-transform:uppercase; text-decoration:none}
#header .nav a.on { color:#ff913a; text-transform:uppercase }
#header .nav .accueil { float:left; height:23px; padding-top:5px; padding-left:7px }
#header .nav .accueil a { display:block; background-image:url(../images/picto-accueil.gif); background-repeat:no-repeat; background-position:0 3px; padding-left:14px; line-height:18px }
#header .nav .accueil a.on { background-image:url(../images/picto-accueil-on.gif) }
#header .nav .accueil a:hover { background-image:url(../images/picto-accueil-on.gif) }
#header .nav .links { float:right; height:23px; overflow:hidden }
#header .nav .links a { display:block; float:left; height:16px; padding-left:10px; padding-right:10px; text-decoration:none; text-transform:uppercase; padding-top:7px }
#header .nav .links a:hover { background-repeat:no-repeat; background-position:top center; background-color:#46adea; color:#fff }
#header .nav .links a.on { background-image:url(../images/nav-link-on-bk.gif); background-repeat:no-repeat; background-position:top center; background-color:#46adea; color:#fff }


/*bloc erreur*/
.form-bloc-erreur { background:#fff; margin-bottom:20px }
.form-bloc-erreur .top { background:url(../images/erreur-box-top-bk.png) no-repeat; background-repeat:repeat-x }
.form-bloc-erreur .top .left { background:url(../images/erreur-box-top-left.png) no-repeat; display:block; width:10px; float:left }
.form-bloc-erreur .top .right { background:url(../images/erreur-box-top-right.png) no-repeat; display:block; width:10px; float:right }
.form-bloc-erreur .bottom { background:url(../images/erreur-box-bottom-bk.png) no-repeat; background-repeat:repeat-x }
.form-bloc-erreur .bottom .left { background:url(../images/erreur-box-bottom-left.png) no-repeat; display:block; width:10px; float:left }
.form-bloc-erreur .bottom .right { background:url(../images/erreur-box-bottom-right.png) no-repeat; display:block; width:10px; float:right }
.form-bloc-erreur .top span, .form-bloc-erreur .top, .form-bloc-erreur .bottom span, .form-bloc-erreur .bottom { height:10px; font-size:1px }
.form-bloc-erreur .content { padding:0 10px; width:auto; text-align:left; border-left:1px solid #ff0000; border-right:1px solid #ff0000; overflow:hidden; }
.form-bloc-erreur .content .erreur { color:#FF0000; text-align:center }
.form-bloc-erreur .content .message { color:#ff0000; text-align:center }
.form-bloc-erreur .content .message-left { color:#ff0000; text-align:left }
.form-bloc-erreur .content ul { color:#ff0000; text-align:left }
.form-bloc-erreur .content ul li { list-style-type:disc !important; list-style-position:inside; padding-left:0px }

.msg-erreur .content { padding:5px 10px 0 35px; width:auto; text-align:left; border-left:1px solid #ff0000; border-right:1px solid #ff0000; overflow:hidden; background:url(../images/croix-rouge.gif) 10px top no-repeat; color:#ff0000; }
.msg-erreur .content .title { color:#ff0000; text-align:left; margin-bottom:10px; }

.msg-conf .content .title { color:#3D83C1; margin-bottom:10px; }
.msg-conf .content { padding:5px 10px 0 35px !important; background:url(../images/coche-vert.gif) 10px top no-repeat; color:#3D83C1;  }

.info-bulle { text-align:left; display: inline; position: absolute; width:180px; line-height:11px; color:#979797; font-size:10px; display:none }
.info-bulle div { background-color:#fff;padding:3px 5px; z-index:1; border:1px solid #999;}
.info-bulle div a { color:#979797!important; text-decoration:underline !important;}
.info-bulle-Iframe { position:absolute; z-index:-1; background-color:#fff }



/*footer*/
#footer { clear:both; margin:0 auto; width:984px; height:18px; color:#fff; background-image:url(../images/footer-bk.gif); line-height:18px }
#footer a { color:#fff; margin-left:5px; margin-right:5px; margin-top:0px; text-decoration:none }
#footer a:hover { text-decoration:underline }
#footer img { margin:0px }

/*Validation erreur*/
.error-border {background-color: #ff6d6d}
.error-border-auto {background-color: #ff6d6d; width:auto !important}
