.column-min-width {
  width: 70px;
  vertical-align: middle;
}
.vertical-header {
  writing-mode: vertical-rl;
  transform: rotate(-160deg);
  text-align: center;
  height: -moz-max-content;
  height: max-content;
  font-size: 0.7rem;
}
