body {
    background-color: #f4f5fa;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

a {
    color: #2660A4;
}

form label {
    font-weight: normal;
    margin-bottom: 0;
}

form .form-group {
    margin-bottom: 0;
}

form .form-control {
    height: auto;
    padding: 8px 14px;
}

form .form-group .input-group-prepend + .form-group input {
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

form .form-group .input-group-prepend + .form-group {
    flex: 1 1 auto;
    margin-bottom: 0 !important;
}

form .input-group-text {
    font-size: 14px;
    padding: 5px 14px;
    background-color: #f4f5fa;
}

.bg-primary {
    background-color: #2660A4 !important;
}

.input-group {
    display: flex;
}

.modal-header {
    justify-content: flex-start;
}

.modal-header h4 {
    color: #FFF;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    font-size: 22px;
}
.accordion .card-header.collapsed:after {
    content: "\f067";
}

.card-header {
    color: #fff!important;
    background-color: #2660a4!important;
    cursor: pointer;
}

a.card-title {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: robotobold,Arial,sans-serif;
}

div.card-body {
    background-color: #fafafa;
}

h1 {
    font-size: 2.4rem;
    font-family: robotolight,Arial,sans-serif;
    font-weight: 400;
    margin-top: 2rem;
}

figcaption {
    color: #6c757d;
    margin-bottom: 1rem;
}

button.accordion-toggle, button.create {
    background-color: #2660a4!important;
}

button.accordion-toggle, button.accordion-toggle:hover {
    padding: .75rem 1.25rem;
}

button.accordion-toggle span {
    font-size: 1.6rem;
    font-weight: 700;
}

.row {
    margin-bottom: 4px;
}

.analyse-offres {
    padding: 0 28px;
}

.panel-body {
    padding-top: 0;
}

#detailModel svg {
    display: none;
}

button.accordion-toggle span.counter {
    top: 0px !important;
}

button.btn, a.btn, .btn:hover {
    color: #fff!important;
}

#modal_add_doc_footer button.btn-default {
    color: initial !important;
}

.modal-footer {
    border-top: 1px solid #626e82;
}

#consultation .card-header:not(#detailConsultation) .accordion-toggle {
    padding-left: 1.4rem !important;
}

#collapseDetailModel .form-check-input.form-check-input--tableInput {
    position: relative;
    margin-left: 0 !important;
}

#collapseDetailModel .form-check-input.form-check-input--tableInput + label {
    position: relative;
    left: 4px;
    bottom: 1px;
}

#collapseDetailModel .tableEspaceDocumentaire .tableEspaceDocumentaire__headerTableInput {
    position: relative;
    margin-left: 0 !important;
}

#collapseDetailModel .tableEspaceDocumentaire .tableEspaceDocumentaire__headerTableInput + label {
    font-size: 11px;
    position: relative;
    bottom: 2px;
    left: 3px;
}

#collapseDetailModel {

}

.tableEspaceDocumentaire .form-check-input:first-child{
    margin-left: -4.5rem !important;
}

.tableEspaceDocumentaire .form-check-input:first-child{
    margin-left: -4.5rem !important;
}

.tableEspaceDocumentaire .form-check-input.file{
    margin-left: -3rem !important;
}

#detailModel {
    padding: 0.49rem 0rem !important;
}

#recap-consultation, #analyse-offre {
    font-size: 15px;
}

#tableau-analyse {
    margin-left: 0.2em;
}

#model button,
#model a.btn,
div.dropdown-menu,
#popin,
#model label{
    font-size: 1.7rem;
}

#model h4,
#popin h4 {
    font-size: 2rem;
}

#model label {
    font-weight: normal;
}

#model, #model .card-header:first-child {
    border-radius: 4px 4px 0 0 !important;
}

#analyse-offre-gendoc select#id_model {
    height: calc(3.5rem + 2px);
    font-size: 1.7rem;
    padding-left: 14px;
}

#forms-import-annexe-financiere label.required:not(.form-check-label):before, legend.required:before {
    color: red;
    content: "* ";
}

#collapseAnalyseFianciere .alert {
    font-size: 15px;
}

#collapseAnalyseFianciere .alert .alert-icon {
    font-size: 17px;
    width: 32px;
    left: -43px;
}

#collapseAnalyseFianciere .alert.alert-icon-left {
    border-left-width: 56px;
}

#collapseAnalyseFianciere table td,
#collapseAnalyseFianciere table th {
    padding: 10px 28px;
}

#collapseAnalyseFianciere table.dataTable tfoot th,
#collapseAnalyseFianciere .dataTables_wrapper tfoot th {
    border-top: transparent;
}

#collapseAnalyseFianciere .page-item.disabled .page-link {
    border-color: #626e82;
}

#collapseAnalyseFianciere div.dataTables_wrapper div.dataTables_info {
    margin-bottom: 22px;
}

#collapseAnalyseFianciere {
    display: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

#collapseAnalyseFianciere .custom-select {
    padding-left: 10px;
    padding-right: 28px;
}
#consultation .card-header .accordion-toggle[data-v-de41f93a]:after {
    font-size: 22px;
    content: "\f067";
}

#consultation .card-header .accordion-toggle[data-v-de41f93a].collapsed:after {
    content: "\f068";
}
#model .tableEspaceDocumentaire span.form-check {
    height: 0px;
}
#model #collapseDetailModel .form-check-input.form-check-input--tableInput + label {
    bottom: 28px;
    left: 10px;
}
#model .tableEspaceDocumentaire .table-header .col[data-v-de41f93a]:first-child {
    padding-left: 30px;
}
#model #collapseDetailModel .tableEspaceDocumentaire .tableEspaceDocumentaire__headerTableInput + label {
    bottom: 0px;
    left: 13px
}

#analyse-offre-gendoc .card .title-card {
    font-weight: 700;
    line-height: 3rem;
    font-size: 17px;
}

#analyse-offre-gendoc .table-header label,
#analyse-offre-gendoc .table-header span {
    font-size: 1.4em;
}

#analyse-offre-gendoc label.form-check-label,
#analyse-offre-gendoc span.date {
    font-size: 1.4em;
}

#analyse-offre-gendoc .modele_action button {
    font-size: 1.2em;
}

#analyse-offre-gendoc .card-header button.accordion-toggle:after {
    float: right;
    content: "\f068";
}