#recap-consultation .card .card-title,
#tableau-analyse-financiere .card .card-title,
#analyse-offre-gendoc .card .card-title,
#analyse-offre .card .card-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
}

#tableau-analyse-financiere .card .alert-color-blue {
    background-color: #1e9ff2 !important;
    padding-bottom: 10.5px;
    padding-left: 14px;
    padding-right: 49px;
    padding-top: 10.5px
}

#tableau-analyse-financiere .card {
    margin-bottom: 0;
}

#collapseAnalyseFianciere {
    padding: 0rem;
    font-size: 15px;
}

#tableau-analyse-financiere #analyse-offre-list {
    color: #6b6f82;
}

#tableau-analyse-financiere select.custom-select {
    font-size: 15px;
    min-height: 3rem;
}

#tableau-analyse-financiere button.btn {
    font-size: 15px;
    padding: 1.2rem 1rem;
    line-height: 1.25;
}

#tableau-analyse-financiere button.btn-analyse-financiere {
    border-color: #2660A4;
    background-color: #2660A4;
}

#tableau-analyse-financiere button.btn-analyse-financiere:hover {
    background-color: #666ee8;
    border-color: #666ee8;
}

#tableau-analyse-financiere button.btn-import {
    font-size: 15px;
    border-color: #6b6f82;
    background-color: #FAFAFA;
    color: #6b6f82 !important;
}

#tableau-analyse-financiere button.btn-import:hover {
    color: #fff !important;
    background-color: #6b6f82;
    border-color: #6b6f82;
}

#tableau-analyse-financiere .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2660A4;
    border-color: #2660A4;
}

#tableau-analyse-financiere .badge {
    border-radius: 0.25rem;
}

#tableau-analyse-financiere td > a.danger {
    color: #ff4961;
}

#collapseAnalyseFianciere table tfoot th {
    border-top: 0;
}

#modalImport .custom-file,
#modalImport .custom-file-label,
#modalImport .custom-file-input {
    height: 36px;
}

#modalImport .custom-file-label::after {
    height: 34px;
    line-height: 1.8;
    cursor: pointer;
}

#modalImport .custom-file-label {
    line-height: 1.8;
}

#modalImport form .form-group {
    margin-bottom: 10px;
}

#modalImport form .form-group.form-group--btn,
#modalImport form .form-group.form-group--btn + .form-group {
    margin-bottom: 0;
}

#modalImport label {
    color: #464855;
}

#modalImport h5 {
    margin-bottom: 12px;
}

#modalImport .modal-body {
    padding-top: 6px;
}

#modalImport small i {
    font-size: 13px;
}

/* Temporary fix. Need to fix that better soon. */

.swal2-container.swal2-center.swal2-fade.swal2-shown .swal2-popup.swal2-modal.swal2-show {
    width: 448px;
    padding: 17px;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown .swal2-header,
.swal2-container.swal2-center.swal2-fade.swal2-shown .swal2-input {
    zoom: 1.3;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown #swal2-content {
    font-size: 16px;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown .btn-danger {
    margin-left: 14px !important;
    background-color: #ff4961 !important;
    border-color: #ff4961 !important;
}

.custom-file-label[aria-describedby="inputGroupFile02"] {
    display: none;
}
.custom-file-input.form-group {
    opacity: 1;
}
