.col-item {
    border: 1px solid #E1E1E1;
    background: #FFF;
    margin-bottom:26px;
}
.col-item .options {
    position:absolute;
    top:6px;
    right:22px;
}
.col-item .photo {
    overflow: hidden;
}
.col-item .photo .options {
    display:none;
}
.col-item .photo img {
    margin: 0 auto;
    width: 100%;
    height: 125px;
}
.options .fa {
    color: #9496a3;
    font-size: 16px;
}
.btn-actions {
    margin-top: 20px;
}

.btn-actions .btn-primary {
    float: right;
}
.modal strong {
    text-align: center;
    font-size: 15px;
    display: inherit;
}

.col-item .options-cart {
    position:absolute;
    left:22px;
    top:6px;
    display:none;
}
.col-item .photo:hover .options,
.col-item .photo:hover .options-cart {
    display:block;
    -webkit-animation: fadeIn .5s ease;
    -moz-animation: fadeIn .5s ease;
    -ms-animation: fadeIn .5s ease;
    -o-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
    position:absolute;
    left:42%;
    top:22%;
    display:none;
}
.col-item .options-cart-round button {
    border-radius: 50%;
    padding:14px 16px;

}
.col-item .options-cart-round button .fa {
    font-size:22px;
}
.col-item .photo:hover .options-cart-round {
    display:block;
    -webkit-animation: fadeInDown .5s ease;
    -moz-animation: fadeInDown .5s ease;
    -ms-animation: fadeInDown .5s ease;
    -o-animation: fadeInDown .5s ease;
    animation: fadeInDown .5s ease;
}
.col-item .info {
    padding: 16px 10px 10px 10px;
    margin-top: 1px;
    background-color: #f7f8f3;
}
.col-item .info-details {
    width: 100%;
    margin-top: 5px;
    padding-right: 30px;
    padding-left: 12px;
    text-align: left;
}
.col-item .info-details .details {
    margin-bottom: 18px;
    font-size:12px;
    margin-left: 8px;
    margin-right: 8px;
    height: 42px;
    display: block;
    overflow: hidden;
    color: #000;
    font-weight: 400;
    padding: 0;
}
.col-item .info-details .access {
    float:right;
}
.col-item .info-details .access,
.col-item .info-details .time {
    font-size:16px;
}
.col-item .info-details .price-old {
    font-size:18px;
    text-decoration:line-through;
}
.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.col-item .clear-left {
    clear: left;
}
.col-item .separator a {
    text-decoration:none;
}
.col-item .separator p {
    margin-bottom: 0;
    margin-top: 6px;
    text-align: center;
}

.col-item .separator p i {
    margin-right: 5px;
}
.col-item .btn-add {
    width: 60%;
    float: left;
}
.col-item .btn-add a {
    display:inline-block !important;
}
.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
    width: 40%;
    float: left;
    padding-left: 10px;
}
.col-item .btn-details a {
    display:inline-block !important;
}
.col-item .btn-details a:first-child {
    margin-right:12px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    background: #FFF;
    color: #000;
    margin-right: 8px;
}
.line-update-rubrique {
    text-align: left;
    padding: 0 15px 20px 0 ;
}
.line-create-rubrique {
    float: none;
    text-align: left;
    display: flex;
    padding: initial;
}
.autoformation-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    text-decoration: none;
    margin-left: 15px;
    height: 35px;
}

.line-update-rubrique h2 {
    display: inline-block;
    font-weight: 900;
    font-size: 16px;
    margin-top: 14px;
}
article h4 {
    line-height:initial;
}
.info-details h3 {
    color: #000;
    padding: 0;
    margin: 0 8px;
    font-size: 12px;
    font-weight: 600;
}
.time-approx {
    color: #000;
}
.approx {
    color: #000;
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    top: 13px;
    font-weight: bold;
}
.access a {
    font-size: 13px;
    color: #000091 !important;
    text-decoration: underline;
}

.access a:hover { color: #000091 !important; line-height: 1.5rem; text-decoration: none; cursor: pointer; }
.access a:visited { color: #40605B !important; }
.fa { display: inherit; }

.access {
    position: relative;
    top: 22px;
}
.approx-time-access {
    height: 60px;
    display: block;
    overflow: hidden;
}
.title-autoformation {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
}
.line-create-rubrique + hr {
    display: none;
}

.line-update-rubrique span {
    font-size: 17px;
}
.module-container {
    margin-bottom: 24px;
}

