.footer-place {
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 38%;
    flex-direction: row;
    font-family: "Marianne", Arial;
    font-display: optional;
    font-weight: 400;
    text-align: left;
    background: #FFF;
    border-top: 1px solid #E6E6E6;
  }
  .footer-place a {
    color: #000091 !important;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
  }
  .footer-place a:hover {
    color: #000091 !important;
    text-decoration: none;
  }
  .footer-place a:visited {
    color: #40605B !important;
    text-decoration: underline;
  }
  .footer-place h2 {
    font-size: 2em;
  }
  .footer-place .left-part {
    padding-right: 4.4rem;
    margin-right: 4.4rem;
  }
  .footer-place__menuContainer {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding-left: 2px;
  }
  .footer-place .versionPart {
    margin: 2rem 0 0 4.5em;
    text-align: left;
  }