.bootstrap-switch-null.bootstrap-switch-animate {
    height: 32px !important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #5DB856 !important;
}