/*!
    * Popin consultation_espace_documentaire
    */

#consultation .card {
    position: relative;
    margin-bottom: 10px;
    border-radius: .50rem;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 12px;
    overflow: hidden;
}

#consultation .card[id*="enveloppe"]{
    border-left: solid 4px;
}

#consultation .card[id*="enveloppe"] > .card-header{
    background-color: #ffffff;
    height: 40px;
}

#consultation .card:nth-child(2) .card-header .accordion-toggle{
    padding: .375rem .75rem;
}

#consultation >.card .card-header {
    padding: 0;
    border: none;
}

#consultation >.card .card-header > h2 {
    position: relative;
    font-size: 0;
    margin-top: 0;
}

#consultation >.card .card-header > h2 > .picto{
    position: absolute;
    z-index: 1;
    left: 10px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#consultation .card-header .accordion-toggle {
    width: 100%;
    text-align: left;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

#consultation .card-header .accordion-toggle:after {
    right: 10px;
    left: unset;
}

#consultation .card-header .accordion-toggle[aria-expanded='true'] {
    background-color: transparent;
}

#consultation .card-header .accordion-toggle[aria-expanded='false'] {
    color: rgba(255,255,255);
    background: #767676;
}

#consultation .card[id*="enveloppe"] .card-header .accordion-toggle[aria-expanded='false'],
#consultation .card-header .accordion-toggle[aria-expanded='true']{
    color: inherit !important;
}

#consultation .card[id*="enveloppe"] .card-header .accordion-toggle[aria-expanded='false'],
#consultation .card-header .accordion-toggle[aria-expanded='true'] {
    height: 39px;
    color: inherit !important;
}

#consultation .card-header .accordion-toggle[aria-expanded='false'] + .picto {
    color: #ffffff;
}

#consultation .card-body {
    background-color: rgba(255,255,255);
    border-radius: 0 0 .25rem .25rem;
}

#consultation #detailConsultation + div .card-body{
    background-color: rgba(0,0,0,.03);
    text-align: left;
}

#consultation .title {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 5px;
    font-size: 1.4rem;
}

.tableEspaceDocumentaire .padding-pas1 {
    padding-left: 30px !important;
}

.tableEspaceDocumentaire .padding-pas2{
    padding-left: 45px !important;
}

.tableEspaceDocumentaire .padding-pas3{
    padding-left: 60px !important;
}

.tableEspaceDocumentaire {
    margin-bottom: 10px;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.tableEspaceDocumentaire .table-header{
    background-color: rgba(0,0,0,.03);
    color: #333333;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.tableEspaceDocumentaire .table-header .fa-check-square{
    position: absolute;
    left: 10px;
    top: 10px;
}

.tableEspaceDocumentaire .list-group {
    margin-bottom: 0;
}

.tableEspaceDocumentaire .list-group-item{
    border: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0,0,0,.125);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: left;
}

.tableEspaceDocumentaire .list-group-item:not(:first-child){
    border-top: 1px solid rgba(0,0,0,.125);
}

.tableEspaceDocumentaire span.col.form-check,
.tableEspaceDocumentaire .lineWithoutCheckbox {
    padding-left: 30px;
}

.tableEspaceDocumentaire .lineWithoutCheckbox {
    display: block;
}

.tableEspaceDocumentaire .table-header > span,
.tableEspaceDocumentaire .lineWithoutCheckbox > span {
    padding-left: 15px;
}

.tableEspaceDocumentaire .lineWithoutCheckbox,
.tableEspaceDocumentaire .table-header {
    position: relative;
    text-align: left;
    height: 30px;
    display: flex;
    align-items: center;
    color: #000;
}

.tableEspaceDocumentaire .table-header .col:first-child {
    padding-left: 45px;
}

.tableEspaceDocumentaire .form-check-input {
    transform: translate(8px, 4px);
}

.tableEspaceDocumentaire .form-check::after,
.tableEspaceDocumentaire .lineWithoutCheckbox::after,
.tableEspaceDocumentaire .table-header::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    top: 0;
    left: 30px;
    background-color: rgba(0,0,0,.125);
}

.tableEspaceDocumentaire .form-check-label{
    position: relative;
    display: block;
    text-align: left;
    height: 100%;
    line-height: 28px;
    color: #3c83c3;
    padding-left: 15px;
    font-weight: normal;
    cursor: pointer;
}

.tableEspaceDocumentaire .lineWithoutCheckbox span::before {
    content: "\f07c";
    font-family: "FontAwesome";
    padding-right: 2px;
}

.tableEspaceDocumentaire .form-check-label::before {
    content: "\f15b";
    font-family: "FontAwesome";
    padding-right: 2px;
}

.tableEspaceDocumentaire .lineWithoutCheckbox + .list-group-item .form-check-label::after{
    content:'';
    position: absolute;
    top: -15px;
    left: -6px;
    width: 10px;
    height: 30px;
    border-left: dotted 1px #666666;
    border-bottom: dotted 1px #666666;
    z-index: 1;
}

.tableEspaceDocumentaire span.col {
    border: none;
    margin: 0;
    padding-right: 0;
    float: left;
    line-height: 29px;
    height: 30px;
    border-radius: 0;
}

.tableEspaceDocumentaire span.col.action {
    padding: 0;
}

.tableEspaceDocumentaire span.col:not(:first-child) {
    border-left: solid 1px rgba(0,0,0,.125);
}

.tableEspaceDocumentaire .date {
    text-align: left;
    width: 25%;
}

.tableEspaceDocumentaire .action {
    text-align: center;
    width: 8.333333%;
}

.tableEspaceDocumentaire .list-group-item .action button{
    position: relative;
    background-color: orangered;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    overflow: hidden;
    margin: 3px auto;
    display: block;
}

.tableEspaceDocumentaire .list-group-item .action button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.modal-dialog {
    padding-top: 115px;
}