.messageAccueilAgent .collapse, .messageAccueilAgent .collapsing {
    max-height: 200px;
}

.messageAccueilAgent .collapse {
    position: relative;
    display: block;
    overflow: hidden;
}

.messageAccueilAgent .collapse.show {
    height: auto;
    max-height: fit-content;
}

.messageAccueilAgent .collapse.show:before {
    display: none;
}

.footerMessageAccueilAgent button.collapsed:after {
    content: '+ Afficher plus';
}

.footerMessageAccueilAgent button:not(.collapsed):after {
    content: '- Afficher moins';
}

.btn-secondary {
    border-color: #6b6f82 !important;
    background-color: #FAFAFA !important;
    color: #6b6f82;
}
.btn-secondary:hover {
    border-color: #777b8f !important;
    background-color: #777b8f !important;
    color: #FFF !important;
}
.btn-secondary:focus, .btn-secondary:active {
    border-color: #484b58 !important;
    background-color: #484b58 !important;
    color: #FFF !important;
}
.btn-secondary.btn-glow {
    box-shadow: 0px 1px 20px 1px rgba(107, 111, 130, 0.6);
}

.btn-outline-secondary {
    border-color: #6b6f82;
    background-color: transparent;
    color: #6b6f82;
}
.btn-outline-secondary:hover {
    background-color: #6b6f82;
    color: #FFF !important;
}
.btn-outline-secondary.btn-glow {
    box-shadow: 0px 1px 20px 1px rgba(107, 111, 130, 0.6);
}

.btn.btn-round {
    border-radius: 2rem;
}

.btn-float {
    padding: 15px;
    white-space: normal;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.pt-0, .py-0 {
    padding-top : 0 !important;
}