body {
    font-size: 14px !important;
    line-height: 1.32857 !important;
}
h5 {
    padding-left: 0;
}
.recap-infos-consultation{
    margin-bottom: 15px !important;
}
.container-fluid.msv2 {
margin-bottom: 0px !important;
padding-top: 0px !important;

}
label {
    margin-bottom: 0 !important;
}
.modal {
    background: rgba(0,0,0,0.6);
}
.container-fluid.msv2 {
    border: 0px;
}
.msv2 .accordion > .panel .panel-heading {
    padding: 0;
    background-color: #2660a4;
}
.msv2 .accordion > .panel .panel-heading .btn {
    position: relative;
    width: 100%;
    text-decoration: none;
    padding: 0.65rem 1.25rem;
    text-align: left;
    color: #ffffff !important;
    background-color: transparent;
}
.msv2 .accordion > .panel .panel-heading .btn:after {
    font-family: "fontawesome";
    content: "";
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    right: 1rem;
}
#espace-doc-modal .modal-footer {
    display: block;
    width: 95%;
}
#espace-doc-modal .modal-header {
    background-color:  #DCDCDC;
}
#espace-doc-modal .modal-header button {
    font-size: 30px;
    position: relative;
    right: 1.2rem;
}
#espace-doc-modal h4 {
    color: #212529;
    margin-left: 0.6rem !important;
    margin-top: 4px;
}
#espace-doc-modal p {
    margin-left: 1.2rem !important;
    font-size: 1.3rem !important;
}
#espace-doc-modal .popup-moyen, #espace-doc-modal .modal-content {
    border: none;
}
#espace-doc-modal button {
    padding: 8px;
}
#espace-doc-modal .card-header .accordion-toggle:after {
    font-size: 14px !important;
}
#espace-doc-modal .card-header:not(#detailConsultation) .accordion-toggle {
    padding-left: 40px !important;
    font-size: 14px !important;
}
#espace-doc-modal button .badge {
    position: absolute;
    right: 42px;
    top: 9px;
    padding: 4px 5px;
    font-size: 11px;
}
#espace-doc-modal #consultation>.card .card-header>h2>.accordion-toggle + .picto {
    color: #007bff !important;
}
#espace-doc-modal #consultation>.card .card-header>h2>.picto,
#espace-doc-modal #consultation>.card .card-header>h2>.accordion-toggle.collapsed + .picto, #espace-doc-modal .btn {
    color: #FFF !important;
    font-size: 1.3rem;
}
#espace-doc-modal .accordion-toggle[aria-expanded=true] {
    color: #000 !important;
}
#espace-doc-modal .modal-content {
    width: 821px;
}
#espace-doc-modal .modal-footer .btn-default {
    background-color: #DCDCDC !important;
    margin-left: 3em;
    color: #000 !important;
}
#espace-doc-modal  #consultation #collapseDetailDepot .card-header [aria-controls^=collapseDetailDepot],
#espace-doc-modal #consultation .card .card-header[id^=detailEnveloppe] .accordion-toggle {
    color: #666 !important;
}
.form-bloc#recap-consultation .recap-bloc {
    margin-left: 26px !important;
}

.repondre-consultation.detailConsultaion .form-bloc#recap-consultation .recap-bloc {
    margin-left:0px !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 821px !important;

        &.msv2 {
            max-width: 900px !important;
            width: 900px;
         }
    }
}
#root_espace_doc .accordion > .panel .panel-heading {
    padding: 0;
    background-color: #f3f1f2;
}

#consultation .row>div .panel .panel-heading h2 button[aria-expanded=false] {
    color: #fff!important;
    background-color: #2660a4!important;
}

#root_espace_doc .accordion > .panel .panel-heading {
    padding: 0;
    background-color: #f3f1f2;
}
#root_espace_doc .accordion > .panel .panel-heading h2 button[aria-expanded=true],
#root_espace_doc .accordion > .panel .panel-heading h2 button[aria-expanded=true]::after
{
    color: #000!important;
}

#consultation .row>div .panel .panel-heading h2 button[aria-expanded=false] {
    color: #fff!important;
    background-color: #2660a4!important;
}

.loader { background-color: #f7f7f7; color: #777777; padding: 30px 0; }

#headingOne h2 { width:100%; margin-left:0; margin-bottom:0; }

.fade {
    opacity: 1 !important;
}
#espace-doc-modal {
    overflow-y: auto;
}

#recap-consultation #collapseHeading {
    line-height: 1.5;
}

#modal-envol .modal-header {
    display: block;
}

#modal-envol .alert-info {
    background-color: rgba(105, 219, 255, 0.2) !important;
}
#modal-envol {
    z-index: 1052 !important;
}

h1.header-consultation { color: #000000; }

.green { color:#21A121 }

.bold { font-weight:bold; }

#table-echange-ajax .badge.alert-color-progress,
#tableDashboardEchange .badge.alert-color-progress {
    color: #f4a547;
    border-color: #f4a547;
}

#consultationModal .card {
    position: relative;
    margin-bottom: 15px;
    border-radius: .50rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 12px;
    overflow: hidden;
}

#consultationModal .card .card-header .accordion-toggle {
    width: 100%;
    text-align: left;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #007bff;
}

#consultationModal .card .card-header .accordion-toggle:after {
    height: 11px !important;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

#consultationModal .card .card-header .accordion-toggle[aria-expanded='true'] {
    background-color: transparent;
}

#consultationModal .card .card-header .accordion-toggle .accordion-toggle[aria-expanded='false'] {
    color: #FFF;
}

#consultationModal .card .card-header .accordion-toggle .accordion-toggle[aria-expanded='false'] + .picto {
    color: #FFF !important;
}

#consultationModal .card .card-header:not(#detailConsultation) .accordion-toggle {
    padding-left: 4.6rem !important;
}

#consultationModal .card .card-header[id^="detailEnveloppe"] .accordion-toggle {
    background-color: #ffffff;
    height: 40px;
    padding-left: 1.2rem !important;
}

#consultationModal .card .card-body {
    background-color: white;
    border-radius: 0 0 .25rem .25rem;
    padding: 0.5rem 1rem;
}

#consultationModal .card .card, #consultationModal .card .alert {
    margin-bottom: 5px;
    margin-top: 5px;
}

#consultationModal .card[id*="enveloppe"] {
    border-left: solid 4px;
}

#consultationModal > .card .card-header {
    padding: 0;
    border: none;
}

#consultationModal > .card .card-header > h2 {
    position: relative;
    font-size: inherit;
    margin-top: 0;
}

#consultationModal > .card .card-header > h2 > .picto {
    position: absolute;
    z-index: 1;
    left: 10px;
    height: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#consultationModal #headingOne {
    background-color: transparent;
}

#consultationModal #collapseDetailDepot .card-header [aria-controls^="collapseDetailDepot"] {
    padding-left: 1rem;
    background-color: #f7f7f7;
    color: #666;
}

#consultationModal #collapseDetailAttributaire .card-header [aria-controls^="collapseDetailAttributaire"] {
    padding-left: 1rem;
    background-color: #f7f7f7;
    color: #666;
}

#consultationModal .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 5px;
    font-size: .9rem;
}

#consultationModal #detailConsultation + div .card-body {
    background-color: rgba(0, 0, 0, 0.03);
    text-align: left;
}

#consultationModal .card[id*="enveloppe"] .card-header .accordion-toggle[aria-expanded='false'],
#consultationModal .card-header .accordion-toggle[aria-expanded='true'] {
    color: inherit !important;
}

#recap-consultation #collapseHeading {
    line-height: 1.5;
}

.footer .footer-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.footer .footer-menu ul {
    display: flex;
    flex-direction: row;
}

.footer .footer-menu li {
    margin-left: 12px;
}



