/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

.alert-success {
    background-color: rgba(107, 214, 107, 0.21) !important;
    border-color: rgba(107, 208, 87, 0.21) !important;
    color: #5cb85c !important; }
.alert-success hr {
    border-top-color: rgba(90, 203, 67, 0.21)  !important; }
.alert-success .alert-link {
    color: #449d44 !important; }

.alert-danger {
    background-color: rgba(255, 108, 105, 0.2) !important;
    border-color: rgba(255, 80, 105, 0.2) !important;
    color: #d9534f !important; }
.alert-danger hr {
    border-top-color: rgba(255, 54, 83, 0.2) !important; }
.alert-danger .alert-link {
    color: #c9302c !important; }