<div class="eforms modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <strong>{{'type-avis.historiques.titre' | translate}}</strong>
    </h4>
  </div>
  <div class="modal-body pr-1 pl-1 modal-revision-body">

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <div *ngIf="revisions?.length>0" class="timeline">
      <div *ngFor="let revision of revisions; let i=index"
           class="timeline__event  animated fadeInUp delay-3s {{getClass(revision)}}">
        <div class="timeline__event__content">
          <div class="timeline__event__title"
               *ngIf="revision.agent && revision.agent.toUpperCase() !=='ANONYME ANONYME'">
            Agent : {{revision.agent}}
          </div>
          <div class="timeline__event__description">
            <div>
              <strong>{{getPrefix(revision)}}</strong> {{('type-avis.historiques.statuts.' + revision.statut) | translate}}
            </div>
            <div *ngIf="revision.motifRejet">
              <strong>Motif de rejet : {{revision.motifRejet}}</strong>
            </div>
            <div *ngIf="revision.support">
              <strong>Support :</strong> {{revision.support}}
            </div>

          </div>
        </div>
        <div class="timeline__event__date">
          <div>{{revision.date | date :'le dd/MM/yyyy - HH:mm'}}</div>
        </div>

        <div class="timeline__event__icon">
          <i class="la {{getRevisionIcon(revision)}}"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer form-actions">
    <div class="float-right">
      <button type="button" (click)="closeModal()"
              class="btn btn-outline-warning btn-sm mr-1">
        <i class="la la-close"></i>
        {{"close" | translate}}
      </button>
    </div>
  </div>
</div>
