$content-width: 100%;
$margin: 10px;
$spacing: 10px;
$bdrs: 3px;
$circle-size: 20px;
$icon-size: 20px;
$bdrs-icon: 100%;

$color1: #2660a4;
$color2: #87bbfe;

$color3: #24b47e;
$color4: #aff1b6;

$color5: #dc3545;
$color6: #f8d7da;


$color7: #ff9149;
$color8: #fadcca;


h2 {
  margin: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: $margin auto;
  position: relative;

  &__event {
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    margin: $spacing 0;
    border-radius: $bdrs;
    align-self: center;
    width: 90%;
    flex-direction: row-reverse;

    &:nth-child(2n + 1) {
      flex-direction: row;

      .timeline__event__date {
        border-radius: 0 $bdrs $bdrs 0;
      }

      .timeline__event__content {
        border-radius: $bdrs 0 0 $bdrs;
      }

      .timeline__event__icon {
        &:before {
          content: "";
          width: 2px;
          height: 100%;
          background: $color2;
          position: absolute;
          top: 0%;
          left: 50%;
          right: auto;
          z-index: -1;
          transform: translateX(-50%);
          animation: fillTop 1s forwards 1s ease-in-out;
        }

        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: $color2;
          position: absolute;
          right: 0;
          z-index: -1;
          top: 50%;
          left: auto;
          transform: translateY(-50%);
          animation: fillLeft 1s forwards 1s ease-in-out;
        }
      }
    }

    &__title {
      font-size: 1rem;
      line-height: 1.2;
      text-transform: uppercase;

      font-weight: 600;
      color: $color1;
      letter-spacing: 1.5px;
    }

    &__content {
      border: 1px solid #e3e6f0;
      padding: $spacing;
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      background: #fff;
      width: $content-width;
      border-radius: 0 $bdrs $bdrs 0;
    }

    &__date {
      color: white;
      font-size: 0.8rem;
      font-weight: 600;
      background: $color1;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 0 $spacing;
      border-radius: $bdrs 0 0 $bdrs;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color1;
      padding: $spacing;
      align-self: center;
      margin: 0 $spacing;
      background: $color2;
      border-radius: $bdrs-icon;
      width: $circle-size;
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      padding: 20px;
      height: $circle-size;
      position: relative;

      i {
        font-size: $icon-size;
      }

      &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: $color2;
        position: absolute;
        top: 0%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        animation: fillTop 1s forwards 1s ease-in-out;
      }

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: $color2;
        position: absolute;
        left: 0%;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        animation: fillLeftOdd 1s forwards 1s ease-in-out;
      }
    }

    &__description {
      flex-basis: 60%;
    }

    &--type2 {
      &:after {
        background: $color3;
      }

      .timeline__event__date {
        color: white;
        background: $color3;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color4;
          }
        }
      }

      .timeline__event__icon {
        background: $color4;
        color: $color3;

        &:before,
        &:after {
          background: $color4;
        }
      }

      .timeline__event__title {
        color: $color3;
      }

      .timeline__event__title {
      }
    }

    &--type3 {
      &:after {
        background: $color5;
      }

      .timeline__event__date {
        color: white;
        background-color: $color5;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color6;
          }
        }
      }

      .timeline__event__icon {
        background: $color6;
        color: $color5;

        &:before,
        &:after {
          background: $color6;
        }
      }

      .timeline__event__title {
        color: $color5;
      }

      .timeline__event__title {
      }
    }

    &--type4 {
      &:after {
        background: $color7;
      }

      .timeline__event__date {
        color: white;
        background-color: $color7;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color8;
          }
        }
      }

      .timeline__event__icon {
        background: $color8;
        color: $color7;

        &:before,
        &:after {
          background: $color8;
        }
      }

      .timeline__event__title {
        color: $color7;
      }

      .timeline__event__title {
      }
    }

    &:last-child {
      .timeline__event__icon {
        &:before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;

    &__content {
      width: 100%;
    }

    &__icon {
      border-radius: $bdrs $bdrs 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }
    }

    &__date {
      border-radius: 0;
      padding: $spacing;
    }

    &:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;

      .timeline__event__date {
        border-radius: 0;
        padding: $spacing;
      }

      .timeline__event__icon {
        border-radius: $bdrs $bdrs 0 0;
        margin: 0;
      }
    }
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

.modifications-champs {
  margin-left: 4px;
}

.modal-revision-body {
  background: #efefef;
  max-height: 75vh;
  overflow: auto;
}
