<div class="eforms modal-dialog modal-dialog-scrollable modal-full-width">
  <div class="eforms modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <strong>{{subNotice?._label | translate}}</strong>

      </h4>
      <i class="la la-times"
         style="margin-top: auto;margin-bottom: auto; cursor: pointer"
         (click)="closeModal()"></i>
    </div>
    <div class="modal-body pr-0 pl-0">
      <div style="display: flex; flex-direction: column">
        <div class="d-inline-block custom-control custom-radio mr-1">
          <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 "
                 *ngIf="subNotice?.metadata">


              <atx-group-field-form
                class="card-body row col-12 m-0 p-0"
                [group]="subNotice.metadata"
                [parentNode]="'ND-Root'"
                [niveau]="0"
                [noticeType]="subNotice?.subTypeId"
                [selectedError]="selectedError"
                              [errors]                              ="messages"
                [formulaire]="formulaire"
              ></atx-group-field-form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer form-actions">
      <div class="float-right">


        <button type="button" (click)="closeModal()"
                class="btn btn-outline-warning btn-sm mr-1"
        ><i
          class="la la-close"
        ></i>
          {{"close" | translate}}
        </button>

      </div>
    </div>
  </div>
</div>
