
.text {
    margin: 0 1000px 2px;
    font-size: 20px;
}

p {
    margin-left: 18px;
    color: #1d4b86;
    font-weight: 700;
    padding: 16px;
    font-size: 16px;
}


#drop {
    position: absolute;
    right: -1px;
    width: 80px;
    height: 50px;
    outline: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}


.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.modal-dialog-scrollable {
    display: contents;
}

.scrollable {
    height: 100%;
    overflow: auto;
}

#legende td {
    height: 40px;
    padding-left: 5px;
}


#legende2 td {
    height: 40px;
    padding-left: 5px;
}

.cadre {
    height: 30px;
    width: 50px;
}
