{% set page_login_atexo = true %}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block main_content %}
    {% include 'nav.html.twig' %}
    <!-- Main content -->
    <main id="main" class="container" role="main">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form" action="{{ path('login') }}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nom d'utilisateur : </label>
                <input type="text" class="form-control" id="username" name="_username"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="_password"/>
            </div>
            <button type="submit" class="btn btn-primary">Entrer</button>
        </form>
    </main>
    <!-- /Main content -->
{% endblock %}
