<!DOCTYPE html>
<html lang="fr" th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suivi</title>
</head>
<body>
<div id="content">
    <div class="row">
        <div class="col-md-12 col-12 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Messagerie Sécurisée de passation</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><h6><i>Mis à jour le 20/05/2021 - 14:24</i></h6></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body overflow-hidden row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-6 col-md-6 col-12 ">

                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-info bg-darken-2 rounded-left">
                                                    <i class="la la-inbox font-large-2 text-white"></i>
                                                </div>
                                                <div class="p-2 bg-info text-white media-body rounded-right">
                                                    <h3 class="text-white" th:text="${statuts.nombreMessages}"></h3>
                                                    <h5 class="text-white text-bold-400">Courriers émis</h5>
                                                    <span class="mt-3 text-white"><a class="text-white"
                                                                                     th:href="@{/agent/suivi/transverse}">Voir <i
                                                            class="la la-arrow-right"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-6 col-md-6 col-12 ">
                                    <div class="card ">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-danger bg-darken-2 rounded-left">
                                                    <i class="la la-times font-large-2 text-white"></i>
                                                </div>
                                                <div class="p-2 bg-danger text-white media-body rounded-right">
                                                    <h3 class="text-white"
                                                        th:text="${statuts.nombreMessageNonDelivre}"></h3>
                                                    <h5 class="text-white text-bold-400">Courriers émis non délivrés au
                                                        destinataire</h5>
                                                    <span class="mt-3 text-white"><a class="text-white"
                                                                                     th:href="@{/agent/suivi/transverse/NON_DELIVRE}">Voir <i
                                                            class="la la-arrow-right"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-md-6 col-12 ">

                                    <div class="card ">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-warning bg-darken-2 rounded-left">
                                                    <i class="la la-hourglass-half font-large-2 text-white"></i>
                                                </div>
                                                <div class="p-2 bg-warning text-white media-body rounded-right">
                                                    <h3 class="text-white"
                                                        th:text="${statuts.nombreMessageEnAttenteReponse}"></h3>
                                                    <h5 class="text-white text-bold-400">Courriers émis en attente de
                                                        réponse du destinataire</h5>
                                                    <span class="mt-3 text-white"><a class="text-white"
                                                                                     th:href="@{/agent/suivi/transverse/REPONSE_ATTENDUE}">Voir <i
                                                            class="la la-arrow-right"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-6 col-md-6 col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-warning bg-darken-2 rounded-left">
                                                    <i class="la la-mail-reply font-large-2 text-white"></i>
                                                </div>
                                                <div class="p-2 bg-warning text-white media-body rounded-right">
                                                    <h3 class="text-white" th:text="${statuts.nombreMessageNonLu}"></h3>
                                                    <h5 class="text-white text-bold-400">Courriers émis ayant une
                                                        réponse reçue non lue</h5>
                                                    <span class="mt-3 text-white"><a class="text-white"
                                                                                     th:href="@{/agent/suivi/transverse/NON_LU}">Voir <i
                                                            class="la la-arrow-right"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>
