{% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
{#            {{ message|markdown }}#}
        </div>
    {% endfor %}
{% endfor %}
