{% if categories is defined and categories is not empty %}
    <div class="form-group form-group-sm row">
        <label for="{{ id }}" class="col-sm-2 col-form-label">{{ label }}{% if required is defined and required %} <abbr
                    title="Champ obligatoire" class="required">*</abbr>{% endif %}</label>
        <div class="col-sm-10">
            <select class="form-control" id="{{ id }}" required>
                <option value="none">Sélectionnez</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}
