{% if suggestions is defined and suggestions is not empty %}
    <!--Debut card Suggestion de la FAQ-->
    <div class="card mb-3">
        <div class="card-header bg-blue text-white">Sélectionner une des questions proposées ci-dessous pour afficher la réponse correspondante</div>
        <div class="card-body">
            {% for suggestion in suggestions %}
                <a class="btn btn-caret collapsed link-primary"
                   data-bs-toggle="collapse"
                   onClick='window.parent.trackQuestionMatomo( "{{ suggestion.title|replace({"\n":'', "\r":'', "\"":''}) }}",
                           "{{ rubrique.nom|replace({"\n":'', "\r":'', "\"":''}) }}");
                           window.parent.setSessionSousCategorie("{{ suggestion.id}}")'
                   href="#panel_FAQ_readmore_{{ suggestion.id }}"
                   aria-controls="panel_FAQ_readmore_{{ suggestion.id }}"
                   aria-expanded="false">
                    <i class="fas fa-caret-up triangle"></i>
                    <span>{{ suggestion.title }}</span>
                </a>
                <div id="panel_FAQ_readmore_{{ suggestion.id }}" class="collapse" aria-expanded="false">
                    <p class="text-reponse">
                        {{ suggestion.content|replace({'"nepasrepondre@marches-publics.gouv.fr"': '"' ~ emailPlateforme ~ '".'}) }}
                    </p>
                    {% if complements[suggestion.id] is defined %}
                        <span>
                            {{ complements[suggestion.id] }}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <!--//Fin card Suggestion de la FAQ-->
{% endif %}
