<div style="color: #757575; background-color: #fafafa; box-shadow: 1px 2px 2px #c0c0c0; border: 1px solid #dedede; border-radius: 3px; padding: 15px 15px 0 15px;">
    <h2 style=" font-size: 18px; color: #333333; font-weight: normal; margin-top: 5px;">{{ 'CONSULTATION_CONCERNEE_PAR_CET_ECHANGE' | trans }}</h2>
    <hr style="border-top: solid 1px #e5e5e5;"/>
    <ul style="list-style-type: none; padding-left: 0px;  font-size: 14px;">
        <li style="margin-bottom: 10px; line-height: 20px;">
            <img style="vertical-align: top;" src="{{ url_img }}img/tag.png" alt="{{ 'REFERENCE_INTITULE_CONSULTATION' | trans }}">
            <b>{{ 'REFERENCE_INTITULE_CONSULTATION' | trans }} :</b>
            {{ consultation.referenceUtilisateur }} | {{ consultation.intitule }}
        </li>
        <li style="margin-bottom: 10px; line-height: 20px;">
            <img style="vertical-align: top;" src="{{ url_img }}img/quote.png" alt="{{ 'DEFINE_OBJET' | trans }}">
            <b>{{ 'DEFINE_OBJET' | trans }} :</b> {{ consultation.objet }}
        </li>
        <li>
            <hr style="border-top: solid 1px #e5e5e5;"/>
        </li>
        <li style="margin-bottom: 10px; line-height: 20px;">
            <img style="vertical-align: top;" src="{{ url_img }}img/calendar.png" alt="{{ 'DEFINE_DATE_HEURE_LIMITE_REMISE_PLIS' | trans }}">
            <b>{{ 'DEFINE_DATE_HEURE_LIMITE_REMISE_PLIS' | trans }} :</b>
            {% if consultation.datefin|date("Y")|number_format > 0 %}
                {{ consultation.datefin|date("d/m/Y H:i") }}
            {% endif %}
        </li>
        <li style="margin-bottom: 10px; line-height: 20px;">
            <img style="vertical-align: top;" src="{{ url_img }}img/bank.png" alt="{{ 'ORGANISME_ENTITE_ACHAT' | trans }}">
            <b>{{ 'ORGANISME_ENTITE_ACHAT' | trans }} :</b>
            {{ consultation.organisme.denominationOrg }}
            {% if consultation.service %}
            | {{ consultation.service.libelle }}
            {% endif %}
        </li>
        <li>
            <hr style="border-top: solid 1px #e5e5e5;"/>
        </li>
        {% if show_dlro %}
        <li style="margin-bottom: 10px; line-height: 20px;">
            <img style="vertical-align: top;" src="{{ url_img }}img/sign.png" alt="{{ 'LIEN_DIRECT' | trans }}">
            <b>{{ 'LIEN_DIRECT' | trans }} :</b> <a style="color: #004494;" href="{{ url_direct }}">{{ url_direct }}</a>
        </li>
        {% endif %}
        {% if consultation.codeProcedure is defined and consultation.codeProcedure != '' %}
        <li style="margin-bottom: 10px; line-height: 20px;">
            <img style="vertical-align: top;" src="{{ url_img }}img/key.png" alt="{{ 'CODE_ACCES' | trans }}">
            <b>{{ 'CODE_ACCES' | trans }} :</b> {{ consultation.codeProcedure }}
        </li>
        {% endif %}
    </ul>
</div>
