{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ERROR_MESSAGE'|trans }}
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts_header %}
{% endblock %}

{% block body %}
    ERROR
    <div class="danger">
        {{ error }}
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}