{% extends 'layout.html.twig' %}

{% if inscrit.getId() is not defined %}
    {% set inscrit = app.user %}
{% endif %}

{% block title %}
    {% if displayErrorMessage is not defined or displayErrorMessage is empty %}
        {{ parent() }} - {{ 'DEFINE_TEXT_CONSULTATIONS_ERROR'|trans }}
    {% endif %}
{% endblock %}

{% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'consultation/consultation-css.html.twig' %}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}

{% block javascripts_footer %}

{% endblock %}

{% block breadcrumbs %}
    <div class="container clearfix">
        <nav role="navigation">
            <div class="breadcrumb">
                <a href="/">{{ 'CG76_DEFINE_TEXT_ACCUEIL'|trans }}</a> /
                <a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a>
                {% if displayErrorMessage is not defined or displayErrorMessage is empty %}
                    / {{ 'DEFINE_VISUALISATION_MESSAGERIE'|trans }}
                {% endif %}
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        {{ 'DEFINE_ERROR_VISUALISATION_MESSAGE'|trans }}
    </div>
{% endblock %}
