{% if DEFINE_TEXT_REFERENCE is not defined %}
    {%  set DEFINE_TEXT_REFERENCE = 'DEFINE_TEXT_REFERENCE' %}
{% endif %}

{% if DEFINE_INTITULE is not defined %}
    {%  set DEFINE_INTITULE = 'DEFINE_INTITULE' %}
{% endif %}

{% if OBJET is not defined %}
    {%  set OBJET = 'OBJET' %}
{% endif %}

<div class="form-horizontal recap-infos-consultation container-fluid msv2" {% if hide is not defined %}id="recap-consultation" {% endif %}>
    {% if app.request.attributes.get('_route') != 'espace_documentaire_consultation' %}
        <h1 class="h1 m-l-3">
            {{ title | trans }}
        </h1>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="accordion m-b-4">
                <div class="panel panel-default" id="collapseHeading">
                    <div class="panel-heading" id="headingOne">
                        <div class="m-b-0 m-t-0">
                            <button class="btn accordion-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{ 'DETAIL_DE_LA_CONSULTATION' | trans }}
                            </button>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div>
                                <div class="clearfix item_consultation">
                                    <!--BEGIN REFERENCE-->
                                    <div class="row">
                                        <label class="col-md-3 col-xs-12">
                                            {{ DEFINE_TEXT_REFERENCE | trans }} :
                                        </label>
                                        <div class="col-md-9 col-xs-12">
                                            {{ consultation.referenceUtilisateur }}
                                        </div>
                                    </div>
                                    <!--END REFERENCE-->

                                    <!--BEGIN INTITULE-->
                                    <div class="row">
                                        <label class="col-md-3 col-xs-12">
                                            {{ DEFINE_INTITULE | trans }} :
                                        </label>
                                        <div class="col-md-9 col-xs-12">
                                            {{ consultation.intitule }}
                                        </div>
                                    </div>
                                    <!--END INTITULE-->

                                    <!--BEGIN OBJET-->
                                    <div class="row">
                                        <label class="col-md-3 col-xs-12">{{ OBJET | trans }} :</label>
                                        <div class="col-md-9 col-xs-12">
                                            {{ consultation.objet }}
                                        </div>
                                    </div>
                                    <!--END OBJET-->

                                    <!--BEGIN DATE LIMITE REMISE DES PLIS-->
                                    <div class="row">
                                        <label class="col-md-3 col-xs-12 spacing-helper-m">
                                            {{ 'DEFINE_DATE_HEURE_LIMITE_REMISE_PLIS' | trans }} :
                                        </label>
                                        {% if consultation.datefin|date("Y")|number_format > 0 %}
                                            <span class="col-md-9 col-xs-12">
                                                <span class="green bold">{{ consultation.datefin|date("d/m/Y H:i") }}</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                    <!--END DATE LIMITE REMISE DES PLIS-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
