<div class="container-fluid msv2">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5"></div>
            <div class="text-center col-md-2 loader">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loader-circle"></i>
                <span class="sr-only">Loading...</span>
                <br/><br/>
                <div class="loader-text">
                    {{ 'CHARGEMENT_EN_COURS' | trans }}
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ asset('/consultation_depot/assets/css/loader.css') }}" />