<!-- Modal -->
<div class="modal" id="espace-doc-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ml-5">{{ 'JOINDRE_UNE_PIECE_ESPACE_DOC'|trans }}</h4>
                <button type="button" class="close" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'VEUILLEZ_SELECTIONNER_LES_PIECES_A_JOINDRE'|trans }}
                </p>
                {{ render(controller(
                    'App\\Controller\\Agent\\EspaceDocumentaireController::indexAction',
                    { 'id': consultation.id, 'etape': 'etape3', 'hide': true }
                )) }}
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" onclick="closeModal()">{{ 'TEXT_ANNULER'|trans }}</button>
                <button type="button" class="btn btn-primary pull-right" onclick="saveInStorage()">{{ 'TEXT_VALIDER'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->