<!-- Modal -->
<div class="modal fade" id="modal-envol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="h4 modal-title" id="exampleModalLabel">{{ 'TELECHARGER_ANNEXES_TECHNIQUES_DCE'|trans }}</h2>
            </div>
            <div class="modal-body clearfix">

                {{ 'INFO_TELECHARGER_ANNEXES_TECHNIQUES_DCE'|trans|raw }}
                <div class="text-center clearfix">
                    <a href="{{ path('dossier_volumineux_download_by_uuid_reference',{'uuidReference': 'uuidReference' }) }}"
                       class="btn btn-sm btn-primary"
                       id="download"
                       target="_blank"
                       data-toggle="tooltip" >
                        <i class="fa fa-download m-r-1"></i>
                        {{ 'TEXT_TELECHARGEMENT_FICHIER_ATEXO'|trans }}
                    </a>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal">{{ 'TEXT_RETOUR'|trans }}</button>
            </div>
        </div>
    </div>
</div>