{% extends 'base.html.twig' %}

{% block title %}
    {{ titre_page }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}"
          media="all"/>

    <link rel="stylesheet" href="{{ asset('app/css/messagerieSecurisee.css') }}">
    <link rel="stylesheet" href="{{ url_front }}front/styles.css?k={{ MEDIA_CACHE_KEY }}">
{% endblock %}
{% block javascripts_header %}
    <script src="{{ url_front }}front/runtime-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/runtime-es5.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
    <script src="{{ url_front }}front/polyfills-es5.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
    <script src="{{ url_front }}front/polyfills-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/scripts.js?k={{ MEDIA_CACHE_KEY }}" defer></script>
    <script src="{{ url_front }}front/main-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/main-es5.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
    <script>
        {%  if id_template_selectionne is defined %}
            var ms_contexte = {
                "token": "{{ token }}",
                "url_suivi": "{{ suivi_url}}",
                "id_template_selectionne": "{{ id_template_selectionne }}",
                "access_token": "{{ messec_access_token() }}"
            }
        {% else %}
            var ms_contexte = {
                "token": "{{ token }}",
                "url_suivi": "{{ suivi_url}}",
                "access_token": "{{ messec_access_token() }}"
            }
        {% endif %}
        {%  if url_callback_reponse_a_question is defined %}
            ms_contexte['url_callback_reponse_a_question'] = "{{ url_callback_reponse_a_question }}";
        {% endif %}
        {% if espace_doc is defined and espace_doc == true %}
        ms_contexte['id_espace_doc_modal'] = "espace-doc-modal";
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    {{ include('messagerie/header-consultation.html.twig', { 'consultation': consultation,'title': titre_page }) }}
    <div class="atx-body">
        <messagerie-redaction>{% include 'messagerie/loader.html.twig' %}</messagerie-redaction>
    </div>
    {% if espace_doc is defined and espace_doc == true %}
        {% include 'messagerie/modalEspacedoc.html.twig' %}
    {% endif %}
{% endblock %}
