{% extends 'base.html.twig' %}

{% block title %}
    {{ 'SUIVI_TRANSVERSE_DES_MESSAGES'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}"
          media="all"/>
    <link rel="stylesheet" href="{{ asset('app/css/messagerieSecurisee.css') }}">
    <link rel="stylesheet" href="{{ url_front }}front/styles.css?k={{ MEDIA_CACHE_KEY }}">
{% endblock %}

{% block javascripts_header %}
    <script src="{{ url_front }}front/messec-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/messec.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
{% endblock %}

{% block body %}
    <h1 class="header-consultation m-l-2">
        {{ 'SUIVI_TRANSVERSE_DES_MESSAGES'|trans }}
    </h1>
    <messagerie-suivi contexte="{{ contexte }}">
        {% include 'messagerie/loader.html.twig' %}
    </messagerie-suivi>
{% endblock %}