{% extends 'base.html.twig' %}

{% block title %}
   {{ titre_page }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}"
          media="all"/>

    <link rel="stylesheet" href="{{ asset('app/css/messagerieSecurisee.css') }}">
    <link rel="stylesheet" href="{{ url_front }}front/styles.css?k={{ MEDIA_CACHE_KEY }}">
{% endblock %}
{% block javascripts_header %}
    <script src="{{ url_front }}front/runtime-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/runtime-es5.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
    <script src="{{ url_front }}front/polyfills-es5.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
    <script src="{{ url_front }}front/polyfills-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/scripts.js?k={{ MEDIA_CACHE_KEY }}" defer></script>
    <script src="{{ url_front }}front/main-es2015.js?k={{ MEDIA_CACHE_KEY }}" type="module"></script>
    <script src="{{ url_front }}front/main-es5.js?k={{ MEDIA_CACHE_KEY }}" nomodule defer></script>
    <script>
        var ms_contexte = {
            "token": "{{ token }}",
            "url_retour_consultation": "",
            "access_token": "{{ messec_access_token() }}"
        }
        {%  if url_nouveau_message  is not empty %}
        ms_contexte['url_nouveau_message'] = "{{ url_nouveau_message }}";
        {% endif %}

        {%  if url_modification_message  is not empty %}
        ms_contexte['url_modification_message'] = "{{ url_modification_message }}";
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    {{ include('messagerie/header-consultation.html.twig', { 'consultation': consultation,'title': titre_page }) }}
    <div class="atx-body">
         <messagerie-suivi>{% include 'messagerie/loader.html.twig' %}</messagerie-suivi>
    </div>

    {% include 'messagerie/modalEnvol.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('app/js/envol-in-messec-v2.js') }}"></script>
{% endblock %}
