<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">
          {{"navigation.sessionExpiree" | translate}}
        </h4>
      <i class="la la-times"
         style="margin-top: auto;margin-bottom: auto; cursor: pointer"
         (click)="closeModal()"></i>
    </div>
    <div class="modal-body pr-0 pl-0 pb-0"
         style="display: inline-flex; width: 100%">
        <div class="errors-page">
            <div class="errors-page-container">
                <div class="errors-page-content">
                    <h1>{{"navigation.sessionExpiree2" | translate}}</h1>
                    <br/>
                    <p style="font-weight: bold; font-size: 15px">
                      {{"navigation.renouvelerSession" | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

