<p align="center">
    <img src="{{ path ~ 'img/image.png' }}" />
</p>

Bonjour,
<br><br>
Votre compte <b>PLACE (Plateforme des Achats de l’État)</b> comporte un numéro de SIRET invalide.
<br>
Cette situation peut ralentir le traitement de vos réponses lors d’appels d’offre, et retarder la facturation en votre faveur en cas de marchés conclus.
<br>
Afin de régulariser votre situation, nous vous invitons à vous connecter sur PLACE et vous rendre sur la page « Mon Compte » pour renseigner un SIRET valide.
<br><br>
Cordialement.
<br><br>
<a href="https://www.marches-publics.gouv.fr">https://www.marches-publics.gouv.fr</a>