<div *ngIf="context">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="col-md-10">
        Je souhaite renseigner dans le DUME les critères de sélection des candidatures attendus pour cette procédure
        (recommandé)
      </div>
      <div class="pull-right">
        <dume-checkbox-toggle [pressed]="!context?.default" (onPressed)="onDefault($event)"></dume-checkbox-toggle>
      </div>
    </div>
  </div>
  <div class="panel panel-primary dume-renseigne">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <div class="panel-title m-t-2">
          DUME Acheteur
        </div>
      </div>
      <div class="pull-right btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
          <i class="fa fa-align-justify m-r-1"></i>
          Options avancées <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" (click)="downloadPDF()">
              <i class="fa fa-file-pdf-o"></i>&nbsp;Télécharger mon DUME au format PDF
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <ng-container *ngIf="!context.default">
        <tabset>
          <tab class="panel panel-default">
            <ng-template tabHeading>
            <span>
              <i class="fa fa-info-circle m-r-1"></i>
              Informations sur la procédure
            </span>
            </ng-template>
            <div class="panel-body">

              <div class="panel panel-default">
                <div class="panel-heading">
                  Identité de l'acheteur
                </div>
                <div class="panel-body">
                  <div class="form-group form-group-sm clearfix">
                    <label class="col-sm-2 col-md-3">Nom officiel :</label>
                    <div class="col-sm-10 col-md-9">
                      {{context.nomOfficiel}}
                    </div>
                  </div>
                  <div class="form-group form-group-sm clearfix m-b-0">
                    <label class="col-sm-2 col-md-3">Pays :</label>
                    <div class="col-sm-10 col-md-9">
                      {{context.pays}}
                    </div>
                  </div>
                </div>
              </div>


              <div class="panel panel-default m-b-0">
                <div class="panel-heading">
                  Informations relatives à la procédure de passation de marché
                </div>
                <div class="panel-body">
                  <div class="form-group form-group-sm clearfix">
                    <label class="col-sm-2 col-md-4">Référence :</label>
                    <div class="col-sm-10 col-md-8">
                      {{context.referenceConsultation}}
                    </div>
                  </div>
                  <div class="form-group form-group-sm clearfix">
                    <label class="col-sm-2 col-md-4">Type de procédure :</label>
                    <div class="col-sm-10 col-md-8">
                      {{context.typeProcedure}}
                    </div>
                  </div>
                  <div class="form-group form-group-sm clearfix">
                    <label class="col-sm-2 col-md-4">Intitulé de la consultation :</label>
                    <div class="col-sm-10 col-md-8">
                      {{context.intitule}}
                    </div>
                  </div>
                  <div class="form-group form-group-sm clearfix">
                    <label class="col-sm-2 col-md-4">Objet de la consultation :</label>
                    <div class="col-sm-10 col-md-8">
                      {{context.objet}}
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </tab>
          <tab class="panel panel-default">
            <ng-template tabHeading>
            <span>
              <i class="fa fa-warning m-r-1"></i>
              Motifs d'exclusion
            </span>
            </ng-template>
            <div class="panel-body">
              <div class="alert alert-info">
                <i class="fa fa-info-circle m-r-1"></i>Vous pouvez prendre connaissance ci-dessous des motifs d’exclusion
                qui sont tous obligatoires dans le droit français, et seront donc intégrés dans votre DUME.
              </div>
              <accordion *ngIf="categoriesExculsion?.length > 0">
                <accordion-group *ngFor="let categorie of categoriesExculsion" heading="{{categorie.titre}}"
                                 [isOpen]="false">
                  <div class="alert alert-info">
                    <i class="fa fa-book m-r-1"></i>{{categorie.description}}
                  </div>

                  <ul class="list-group">
                    <dume-checkbox-criteria class="list-group-item" *ngFor="let criteria of categorie.criterias"
                                            [criteria]="criteria"
                                            [desactive]="true"></dume-checkbox-criteria>
                  </ul>
                </accordion-group>
              </accordion>
            </div>
          </tab>
          <tab class="panel panel-default">
            <ng-template tabHeading>
            <span>
              <i class="fa fa-check-square m-r-1"></i>
              Critères de sélection de la candidature
            </span>
            </ng-template>
            <div class="panel-body">
              <div class="alert alert-info" role="alert">
                Souhaitez-vous autoriser le candidat à compléter ce DUME en déclarant simplement sur l’honneur qu’il
                satisfait à tous les critères de sélection exigés dans le RC (ou autre document pertinent) ?
                <div class="radio-inline m-l-1">
                  <label><input type="radio" name="optradio" (click)="select()" [checked]="selectAll">Oui</label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="optradio" (click)="unselect()" [checked]="!selectAll">Non</label>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="checkbox m-0">
                    <label class="btn-block"><input (change)="applyMarketFilter($event)"
                                                    [(ngModel)]="context.applyMarketFilter" type="checkbox">Me présenter
                      uniquement les critères de sélection compatibles avec la catégorie principale ({{marketType}})</label>
                  </div>
                </div>
              </div>
              <accordion *ngIf="selectAll">
                <accordion-group [isOpen]="true">
                  <div accordion-heading [innerHTML]="categorieSelectAll.titre">
                  </div>
                  {{categorieSelectAll.description}}
                  <dume-checkbox-criteria *ngFor="let criteria of categorieSelectAll.criterias"
                                          (clicked)="devalidate($event)"
                                          [criteria]="criteria" [desactive]="true"></dume-checkbox-criteria>
                </accordion-group>
              </accordion>
              <accordion *ngIf="categoriesSelection?.length > 0 && !selectAll">
                <accordion-group *ngFor="let categorie of categoriesSelection"
                                 [isOpen]="true">
                  <div accordion-heading>
                    {{categorie.titre}}
                  </div>
                  <div class="alert alert-info">
                    <i class="fa fa-book m-r-1"></i>{{categorie.description}}
                  </div>
                  <ul class="list-group">
                    <dume-checkbox-criteria [showLot]="uselot && context.lots.length !== 0" [lots]="context.lots"
                                            (clicked)="devalidate($event)"
                                            class="list-group-item" *ngFor="let criteria of categorie.criterias"
                                            [criteria]="criteria"></dume-checkbox-criteria>
                  </ul>
                </accordion-group>
              </accordion>
            </div>
          </tab>
        </tabset>
        <div class="panel" [ngClass]="{'panel-success': context.dumeAcheteurs[0].confirmed,'panel-default': !context.dumeAcheteurs[0].confirmed}">
          <div class="panel-heading">
            <div class="checkbox m-0">
              <label class="btn-block"><input type="checkbox" (click)="affichModalConfirmation($event)" [(ngModel)]="context.dumeAcheteurs[0].confirmed">Je valide les
                critères de sélection des candidatures du DUME Acheteur ci-dessus</label>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="context.default">
        <div class="alert alert-warning">
          <strong><i class="fa fa-lg fa-exclamation-triangle m-r-1"></i></strong> Attention : dans le cas où
          l'opérateur économique sélectionnerait le mode de candidature DUME, ce dernier aura tout de même la
          possibilité de renseigner en ligne un DUME contenant tous les critères de sélection.
        </div>
      </ng-container>
    </div>
  </div>
</div>

<button id="UpdateDumeAcheteur" style="display: none" type="button" class="btn btn-sm btn-success btn-reload pull-right"
        (click)="updateDumeRequest()">
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Mise à jour
</button>

<!-- modals -->
<div class="modal fade" bsModal #templateSelectionCriteria="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left" id="modalConfirmation">Note importante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="templateSelectionCriteria.hide()">&times;</span>
        </button>
      </div>
      <ng-container>
        <div class="modal-body">
          <div class="alert alert-danger">
            <strong><i class="fa fa-lg fa-exclamation-triangle m-r-1"></i></strong>Merci de sélectionner au moins un critère de sélection dans votre DUME Acheteur.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
                  (click)="templateSelectionCriteria.hide()">Fermer
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>





