.card-body {
  border: 1px solid #dee2e6;
  border-top: none;

  .card-block {
    margin-top: 8px;
  }

  .atx-label{
    font-size: 14px;
    font-weight: 500;
  }
  fieldset {
    margin-bottom: 16px;
  }
  accordion-group.panel{
    cursor: pointer;
    margin-top: 5px;
  }

}

.btn-reload{
  margin-top: 8px;
}
.panel {
  &.panel-default,&.panel-success{
    .panel-heading {
      font-size: 13px;
    }
  }
}

.alert {
  &.alert-info {
    font-size: 12px;
  }
  &.alert-warning {
    font-size: 13px;
  }
}
