<div class="content">
  <div class="content-wrapper">
    <div class="content-body mt-1">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="card profile-card-with-cover m-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
