/* Toggle */
input[type='checkbox'].switch, input[type='radio'].switch {
  opacity : 0;
}

/* Switchery */
.switchery {
  bottom : 4px;
  margin-top : 5px;
}

.float-right .switchery, .switchery-large.switchery {
  margin-bottom : 0.35rem;
}

.switchery-xsmall.switchery {
  height : 16px;
  width : 28px;
}

.switchery-xsmall.switchery > small {
  height : 16px;
  width : 16px;
}

.switch ~ .btn-group .btn {
  box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.switch ~ .btn-group .btn.active {
  box-shadow : inset 0 1px 5px -1px rgba(0, 0, 0, 0.5);
  color : #FFFFFF;
}
.switch ~ .btn-group .btn.active:not(.dropdown-toggle) {
  border-bottom-left-radius : 0.25rem;
  border-top-left-radius : 0.25rem;
  border-top-right-radius : 0.25rem;
  border-bottom-right-radius : 0.25rem;
}
.switch ~ .btn-group .btn:hover {
  z-index : 1;
}

.switch ~ .btn-group:focus {
  outline : none;
}

.switch ~ .btn-group.btn-group-vertical .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius : 0.25rem;
  border-top-right-radius : 0.25rem;
}

.switch ~ .btn-group.btn-group-vertical .btn:last-child:not(:first-child):not(.dropdown-toggle) {
  border-bottom-left-radius : 0.25rem;
  border-bottom-right-radius : 0.25rem;
}

.bootstrap-switch.bootstrap-switch-animate.bootstrap-switch-on .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-animate.bootstrap-switch-on .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-animate.bootstrap-switch-on .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-animate.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-animate.bootstrap-switch-off .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-animate.bootstrap-switch-off .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-handle-on {
  padding : 5px 10px;
}

.checkbox-input-group .input-group .input-group-prepend .custom-control-label {
  top : 0;
}


.switch.switch-small {
  min-width: 33px
}

.switch.switch-medium {
  min-width: 50px
}

.switch.switch-large {
  min-width: 60px
}

.switch.switch-small>.switch-pane>span {
  font-size: 9px
}

.switch.switch-large>.switch-pane>span,.switch.switch-medium>.switch-pane>span {
  font-size: 16px
}

.switch {
  border: 1px solid #dfdfdf;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #dfdfdf;
  white-space: nowrap
}

.switch,.switch small {
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out
}

.switch small {
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  right: calc(100% - 30px);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center
}

.switch.switch-small {
  height: 20px;
  border-radius: 20px
}

.switch.switch-small small {
  width: 20px;
  height: 20px;
  right: calc(100% - 20px)
}

.switch.switch-small>.switch-pane>span {
  line-height: 20px
}

.switch.switch-small>.switch-pane .switch-label-checked {
  padding-right: 25px;
  padding-left: 10px
}

.switch.switch-small>.switch-pane .switch-label-unchecked {
  padding-left: 25px;
  padding-right: 10px
}

.switch.switch-medium {
  height: 30px;
  border-radius: 30px
}

.switch.switch-medium small {
  width: 30px;
  height: 30px;
  right: calc(100% - 30px)
}

.switch.switch-medium>.switch-pane>span {
  line-height: 30px
}

.switch.switch-medium>.switch-pane .switch-label-checked {
  padding-right: 35px;
  padding-left: 15px
}

.switch.switch-medium>.switch-pane .switch-label-unchecked {
  padding-left: 35px;
  padding-right: 15px
}

.switch.switch-large {
  height: 40px;
  border-radius: 40px
}

.switch.switch-large small {
  width: 40px;
  height: 40px;
  right: calc(100% - 40px)
}

.switch.switch-large>.switch-pane>span {
  line-height: 40px
}

.switch.switch-large>.switch-pane .switch-label-checked {
  padding-right: 45px;
  padding-left: 20px
}

.switch.switch-large>.switch-pane .switch-label-unchecked {
  padding-left: 45px;
  padding-right: 20px
}

.switch.checked {
  background: #64bd63
}

.switch.checked small {
  right: 0;
  left: auto
}

.switch.checked .switch-pane {
  top: 0
}

.switch.checked .switch-pane .switch-label-checked {
  opacity: 1
}

.switch.checked .switch-pane .switch-label-unchecked {
  opacity: 0
}

.switch.disabled {
  opacity: .5;
  cursor: not-allowed
}

.switch .switch-pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  justify-content: flex-start;
  align-items: center;
  top: -100%;
  position: relative;
  pointer-events: none
}

.switch .switch-pane>span {
  display: block;
  min-height: 100%
}

.switch .switch-pane .switch-label {
  color: #000
}

.switch .switch-pane .switch-label-checked {
  opacity: 0
}

.switch .switch-pane .switch-label-unchecked {
  opacity: 1
}

.switch.loading {
  background-color: #f1f1f1
}

.switch.loading small {
  background-color: transparent;
  border: none;
  box-shadow: none;
  right: 50%;
  transform: translateX(50%)
}
