<div class="bs-callout-info callout-bordered">
    <div class="media align-items-stretch">
        <div class="media-body p-1">
            <strong>{{header}}</strong>
            <div [innerHTML]="message" class="font-italic"></div>
        </div>
        <div class="d-flex align-items-center media-right media-middle bg-info p-2">
            <i class="la la-info white font-medium-5"></i>
        </div>
    </div>
</div>
