<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="clearfix">
			<ul class="breadcrumb">
				<li>
					<a href="/entreprise">
						<com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                    </a>
				</li>
				<li>
					<com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate>
				</li>
				<li>
					<com:TTranslate>DEFINE_TEXT_ACCUSE_RECEPTION</com:TTranslate>
				</li>
			</ul>
		</div>
		<com:TPanel id="contenuEchange">
			<com:PanelMessage ID="messageconfirm" />
			<com:DetailEchangeMail ID="accusereception" CalledFrom="entreprise"/>
			<hr/>
		</com:TPanel>
		<com:PanelMessageErreur id="errorMsg" Visible="false"/>
		<div class="clearfix">
			<div class="link-line pull-left">
				<com:THyperLink
						ID="idretourConsultation"
						visible = "false";
						CssClass="btn btn-sm btn-default"
						Attributes.title="<%=Prado::localize('TEXT_RETOUR_CONSULTATION')%>"
						Text="<%=Prado::localize('TEXT_RETOUR_CONSULTATION')%>"
				/>
				<com:THyperLink
						ID="idretour"
						CssClass = "btn btn-sm btn-default"
						Attributes.title="<%=Prado::localize('DEFINE_TEXT_RETOUR_ACCUEIL')%>"
						Text="<%=Prado::localize('DEFINE_TEXT_RETOUR_ACCUEIL')%>"
				/>
			</div>
			<div class="link-line pull-right">
				<com:TButton
						CssClass="btn btn-sm btn-primary"
						Attributes.value="<%=Prado::localize('DEFINE_TEXT_IMPRESSION_MESSAGE')%>"
						Attributes.title="<%=Prado::localize('DEFINE_TEXT_IMPRESSION_MESSAGE')%>"
						Attributes.onclick="javascript:window.print();"
				/>
			</div>
		</div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>