<com:TContent ID="CONTENU_PAGE">
    <!--Debut colonne droite-->
    <div class="mon-compte">
        <div class="main-part" id="main-part">
            <div class="clearfix">
                <nav role="navigation">
                <ul class="breadcrumb">
                    <li>
                        <a href="/entreprise" data-tnr="retourAccueilEntreprise">
                            <com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                        </a>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_TEXT_MON_COMPTE</com:TTranslate>
                    </li>
                </ul>
                </nav>
            </div>
            <com:PanelMessageErreur ID="panelMessageErreur"/>
            <com:PanelMessage ID="panelMessage"/>

            <div class="clearfix">
                <h1><com:TTranslate>DEFINE_TEXT_MON_COMPTE</com:TTranslate></h1>
            </div>

            <div class="form-field form-horizontal monCompte" id="message-accueil">
                <div class="alert alert-info">
                    <com:TPanel ID="labelAccueil" visible="<%= (Prado::localize('MSG_ENTREPRISE') != 'MSG_ENTREPRISE') ? true: false%>">
                        <com:TTranslate>MSG_ENTREPRISE</com:TTranslate>
                    </com:TPanel>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="h3 panel-title">
                            <com:TTranslate>TEXT_BIENVENUE</com:TTranslate>
                            <strong class="text-uppercase">
                                <com:TLabel ID="name"/>
                            </strong>
                        </h2>
                    </div>
                    <div class="panel-body container-fluid">
                        <!--BEGIN BLOC RATTACHEMENT-->
                        <div>
                            <p>
                                <com:TTranslate>TEXT_VOUS_ETES</com:TTranslate>
                                <strong>
                                    <com:TLabel ID="profil"/>
                                </strong>
                                <com:TTranslate> TEXT_DE_ENTREPRISE</com:TTranslate>
                                <strong>
                                    <com:TLabel ID="nameEntreprise"/>
                                </strong>
                            </p>
                            <div class="clearfix m-b-2">
                                <div class="pull-left">
                                    <com:TTranslate>TEXT_RATTACHEMENT_ETABLISSEMENT</com:TTranslate>
                                    <strong>
                                        <com:TLabel ID="codeEtablissement"/>
                                    </strong>
                                </div>
                                <div class="pull-left m-l-1">
                                    <com:TLabel ID="adressEtablissement"/>
                                </div>
                            </div>
                            <p>
                                <com:TTranslate>TEXT_NON_RATTACHEMENT_ETABLISSEMENT</com:TTranslate>
                                "<com:TLinkButton ID="MES_COORDONNEES_ETABLISSEMENT_ID" OnClick="gotoUpdateProfile" CssClass="btn-link">
                                    <com:TTranslate>TEXT_MES_COORDONNEES</com:TTranslate>
                                </com:TLinkButton>".
                            </p>
                        </div>
                        <div class="informations informations-y">
                            <p style="display:<%=(((Application\Service\Atexo\Atexo_Module::isEnabled('SocleExternePpp')) && Application\Service\Atexo\Atexo_CurrentUser::isATES())? 'block':'none')%>">
                                <com:TTranslate>TEXT_INFOS_DROITS</com:TTranslate>
                            </p>
                            <p style="display:<%=(((Application\Service\Atexo\Atexo_Module::isEnabled('SocleExternePpp')) && !Application\Service\Atexo\Atexo_CurrentUser::isATES())? 'block':'none')%>">
                                <com:TTranslate>TEXT_INFOS_DROITS_UES</com:TTranslate>
                            </p>
                            <p style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('SocleExternePpp'))? 'block':'none')%>">
                                <com:TTranslate>TEXT_INFOS_DROITS2</com:TTranslate>
                            </p>
                        </div>
                        <!--ENDO BLOC RATTACHEMENT-->
                    </div>
                </div>
                <div class="row match-height-container">
                    <div class="col-md-6">
                        <div class="panel panel-primary match-height">
                            <div class="panel-heading">
                                <h2 class="h3 panel-title">
                                    <com:TTranslate>TEXT_GESTION_DES_COMPTES</com:TTranslate>
                                </h2>
                            </div>
                            <div class="panel-body">

                                <!-- BEGIN SECTION COMPTE PERSONNEL -->
                                <section class="section">
                                    <div class="section-heading page-header m-t-0 m-b-1">
                                        <h3 class="h4 m-0">
                                            <i class="fa fa-user p-r-1" aria-hidden="true"></i>
                                            <com:TLabel ID="titreBlocMonCompte"/>
                                        </h3>
                                    </div>
                                    <div class="section-body m-l-2">
                                        <com:TPanel ID="panelUserCompte">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <com:TLinkButton OnClick="gotoUpdateProfile"  CssClass="btn-link btn-link-account">
                                                        <com:TTranslate>TEXT_MES_COORDONNEES</com:TTranslate>
                                                    </com:TLinkButton>
                                                </li>
                                                <li style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('SocleExternePpp'))? 'none':'block')%>">
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <a id="modal_suppression_compte_id"
                                                       href="#modalSuppressionCompte"
                                                       class="btn-link btn-link-account"
                                                       data-toggle="modal"
                                                       data-target="#modalSuppressionCompte">
                                                        <com:TTranslate>TEXT_SUPPRIMER_MON_COMPTE_PERSONNEL</com:TTranslate>
                                                    </a>
                                                </li>

                                                <!-- Debut Modal Message suppression compte personnel -->
                                                <div class="modal fade" id="modalSuppressionCompte" tabindex="-1" role="dialog" aria-labelledby="modalSuppressionCompte">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <div class="text-danger">
                                                                    <com:TTranslate>CONFIRM_DELETE_ACCOUNT</com:TTranslate>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button id="ANNULER_ID" type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">
                                                                    <%=Prado::localize('TEXT_ANNULER')%>
                                                                </button>
                                                                <com:TButton
                                                                        ID="POURSUIVRE_ID"
                                                                        CssClass="btn btn-danger btn-sm btn-link-account"
                                                                        OnCommand="deleteCompteInscrit"
                                                                        Attributes.OnClick="J('.modal-msg-confirmation-suppression-compte').dialog('close');"
                                                                        Text="<%=Prado::localize('TEXT_POURSUIVRE')%>"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fin Modal Message suppression compte personnel -->
                                            </ul>
                                        </com:TPanel>
                                    </div>
                                </section>
                                <!-- END SECTION COMPTE PERSONNEL -->

                                <!-- BEGIN SECTION COMPTE DE MON ENTREPRISE -->
                                <com:TPanel ID="panelCompanyCompte">
                                    <section class="section">
                                        <div class="section-heading page-header m-t-3 m-b-1">
                                            <h3 class="h4 m-0">
                                                <i class="fa fa-building p-r-1" aria-hidden="true"></i>
                                                <com:TTranslate>TEXT_COMPTE_DE_MON_ENTREPRISE</com:TTranslate>
                                            </h3>
                                        </div>
                                        <div class="section-body m-l-2">
                                            <ul class="list-unstyled">
                                                <li style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('SocleExternePpp'))? 'none':'')%>" data-tnr="userProfileIdentificationSiegeSocial">
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <com:TButton ID="IDENTIFICATION_DU_DIEGE_ID" onClick="goToChangingCompnay" Text="<%=Prado::localize('TEXT_IDENTIFICATION_DU_DIEGE')%>" CssClass="btn-link"/>
                                                </li>
                                                <li data-tnr="userProfileDescriptionActivite">
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <com:TButton ID="DESCRIPTION_ACTIVITE_ID" onClick="goToDescriptionActivity" Text="<%=Prado::localize('TEXT_DESCRIPTION_ACTIVITE')%>" CssClass="btn-link"/>
                                                </li>
                                                <li style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('CompteEntrepriseDonneesComplementaires'))? 'block':'none')%>">
                                                    <com:TButton id="DONNEES_COMPLEMENTAIRES_ID" OnClick="gotoDonneeComplementaire" CssClass="btn-link">
                                                        <span class="fa fa-chevron-right"></span>
                                                        <com:TTranslate>CG76_DEFINE_TEXT_DONNEES_COMPLEMENTAIRES</com:TTranslate>
                                                    </com:TButton>
                                                </li>
                                                <li class="horizentalAlign--M">
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <com:TButton ID="ESPACE_DOC_COFFRE_FORT_ID" onClick="gotoEspaceDocumentaire" Text="<%=Prado::localize('TEXT_ESPACE_DOC_COFFRE_FORT')%>" CssClass="btn-link"/>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                    <!-- BEGIN SECTION UTILISATEUR DE MON ENTREPRISE -->
                                    <section class="section" style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('SocleExternePpp'))? 'none':'')%>">
                                        <div class="section-heading page-header m-t-3 m-b-1">
                                            <h3 class="h4 m-0">
                                                <i class="fa fa-users p-r-1" aria-hidden="true"></i>
                                                <com:TTranslate>TEXT_USERS_MY_COMPANY</com:TTranslate>
                                            </h3>
                                        </div>
                                        <div class="section-body m-l-2">
                                            <ul class="list-unstyled">
                                                <li data-tnr="userProfileListeUtilisateursEntreprise">
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <com:TButton ID="LISTE_UTILISATEUR_ID" onClick="gotoGestionUsers" Text="<%=Prado::localize('DEFINE_LISTE_UTILISATEUR')%>" CssClass="btn-link"/>
                                                </li>
                                                <li>
                                                    <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                    <com:TButton ID="LISTE_EVENEMENTS_UTILISATEURS_ID" onClick="gotoEvenementsAdmin" Text="<%=Prado::localize('TEXT_LISTE_EVENEMENTS_UTILISATEURS')%>" CssClass="btn-link"/>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                    <!-- END SECTION UTILISATEUR DE MON ENTREPRISE -->
                                </com:TPanel>
                                <!-- END SECTION COMPTE DE MON ENTREPRISE -->

                                <!-- BEGIN SECTION UTILISATEUR DE MON ENTREPRISE -->

                                    <com:TPanel CssClass="form-field bloc-services float-none" Visible="<%=(new Application\Service\Atexo\Entreprise\Atexo_Entreprise_Inscrit)->isInscritAnnuaireDefense(Application\Service\Atexo\Atexo_CurrentUser::getIdInscrit())%>">
                                    <div class="section-heading page-header m-t-3 m-b-1">
                                        <h3 class="h4 m-0">
                                            <i class="fa fa-bank p-r-1" aria-hidden="true"></i>
                                            <com:TTranslate>PORTAIL_DEFENSE</com:TTranslate>
                                        </h3>
                                    </div>
                                    <div class="section-body m-l-2">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                <a target="_blank" class="btn-link"
                                                   id="ACCEDER_DEFENSE_ID"
                                                   href="index.php?page=Entreprise.PortailDefense&type=<%= Application\Service\Atexo\Atexo_Config::getParameter('TYPE_COMPTE_DEFENSE_INSCRIT')%>">
                                                    <com:TTranslate>ACCEDER_DEFENSE</com:TTranslate>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    </com:TPanel>
                                <!-- END SECTION UTILISATEUR DE MON ENTREPRISE -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary match-height">
                            <div class="panel-heading">
                                <h2 class="h3 panel-title">
                                    Options
                                </h2>
                            </div>
                            <div class="panel-body">
                                <!-- BEGIN SECTION SERVICES-->
                                <section class="section">
                                    <div class="section-heading page-header m-t-0 m-b-1">
                                        <h3 class="h4 m-0">
                                            <i class="fa fa-desktop p-r-1" aria-hidden="true"></i>
                                            <com:TTranslate>TEXT_SERVICE_DEMATERIALISATION_MARCHE_PUBLICS</com:TTranslate>
                                        </h3>
                                    </div>
                                    <div class="section-body m-l-2">
                                        <ul class="list-unstyled">
                                            <li style="display:<%=((Application\Service\Atexo\Atexo_Module::isEnabled('RecherchesFavorites')))? 'block':'none'%>">
                                                <a id="ALERTES_RECHERCHES_SAUVEGARDEES_ID" href="?page=Entreprise.EntrepriseGestionRecherches">
                                                    <span class="fa fa-chevron-right m-r-1"></span>
                                                    <com:TTranslate>TEXT_ALERTES_RECHERCHES_SAUVEGARDEES</com:TTranslate>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="MES_REPONSES_ID" href="?page=Entreprise.MesReponses">
                                                    <span class="fa fa-chevron-right m-r-1"></span>
                                                    <com:TTranslate>TEXT_MES_REPONSES</com:TTranslate>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="FLUX_RSS_ID" href="?page=Entreprise.FluxRss">
                                                    <span class="fa fa-chevron-right m-r-1"></span>
                                                    <com:TTranslate>FLUX_RSS</com:TTranslate>
                                                </a>
                                            </li>
                                            <li style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('PanierEntreprise')) ? 'block' : 'none'%>">
                                                <a id="MON_PANIER_ID" href="?page=Entreprise.EntrepriseAdvancedSearch&panierEntreprise">
                                                    <span class="fa fa-chevron-right m-r-1"></span>
                                                    <com:TTranslate>DEFINE_MON_PANIER</com:TTranslate>
                                                </a>
                                            </li>
                                            <com:TPanel ID="linkDossierVolumineux" visible="false">
                                                <li>
                                                    <a id="DOSSIER_VOLUMINEUX_AUTHENTIFIE_LINK_ID" href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_LT_MPE_SF');%>/entreprise/dossier-volumineux/gestion">
                                                        <span class="fa fa-chevron-right m-r-1"></span>
                                                        <com:TTranslate>DOSSIER_VOLUMINEUX_AUTHENTIFIE_LINK</com:TTranslate>
                                                    </a>
                                                </li>
                                            </com:TPanel>
                                        </ul>
                                    </div>
                                </section>
                                <!-- END SECTION SERVICES-->

                                <!-- BEGIN SECTION CO-TRAITANCE-->
                                <section class="section" style="display:<%=(Application\Service\Atexo\Atexo_Module::isEnabled('BourseALaSousTraitance')) ? '' : 'none'%>">
                                    <div class="section-heading page-header m-t-3 m-b-1">
                                        <h3 class="h4 m-0">
                                            <i class="fa fa-money p-r-1" aria-hidden="true"></i>
                                            <com:TTranslate>TEXT_BOURSE_A_LA_CO_SOUS_TRAITANCE</com:TTranslate>
                                        </h3>
                                    </div>
                                    <div class="section-body m-l-2">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                <a  class="btn-link btn-link-account" href="index.php?page=Entreprise.RechercheCollaborateur">
                                                    <com:TTranslate>TEXT_RECHERCHE_COLLABORATION</com:TTranslate>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <!-- END SECTION CO-TRAITANCE-->

                                <!-- BEGIN SECTION REPONDRE-->
                                <section class="section">
                                    <div class="section-heading page-header m-t-3 m-b-1">
                                        <h3 class="h4 m-0">
                                            <i class="fa fa-cog p-r-1" aria-hidden="true"></i>
                                            <com:TTranslate>SE_PREPARER_A_REPONDRE</com:TTranslate>
                                        </h3>
                                    </div>
                                    <div class="section-body m-l-2">
                                        <com:TPanel id="breakerServicesSePreparerARepondre" CssClass="breaker" Visible="false"/>
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                <a  class="btn-link btn-link-account" href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_LT_MPE_SF')%>/entreprise/footer/diagnostic-poste">
                                                    <com:TTranslate>TESTER_CONFIGURATION_MON_POSTE</com:TTranslate>
                                                </a>
                                            </li>
                                            <li>
                                                <span class="fa fa-chevron-right text-primary btn-link-black"></span>
                                                <a class="btn-link btn-link-account" href="index.php?page=Entreprise.EntrepriseAdvancedSearch&AllCons&orgTest">
                                                    <com:TTranslate>CONSULTATION_DE_TEST</com:TTranslate>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <!-- END SECTION REPONDRE-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Fin colonne droite-->
    <com:TActiveLabel ID="scriptJs"/>
    <com:TConditional condition="$this->isSiretAlertEntrepriseAccueilAuthentifie()">
        <prop:trueTemplate>
            <script language="JavaScript"
                    type="text/JavaScript"
                    src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/js/entreprise.js?k=<%=Application\Service\Atexo\Atexo_Config::getParameter('MEDIA_CACHE_KEY')%>"
                    url="/app.php/entreprise/verification"
            ></script>
        </prop:TrueTemplate>
    </com:TConditional>
</com:TContent>