<com:TContent ID="CONTENU_PAGE">
    <com:TPanel ID="etapeConnection" CssClass="clearfix">

        <div class="main-part" id="main-part">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li>
                        <a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('PF_URL_ENTREPRISE')%>?page=Entreprise.AccueilEntreprise">
                            <com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                        </a>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_ANNONCES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_TEXT_ENCHERES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_PARTICIPATION</com:TTranslate>
                    </li>
                </ul>
            </div>
            <com:AtexoValidationSummary ValidationGroup="login"/>
            <com:TLabel ID="labelServerSide"/>

            <!--Debut Bloc Choix offre-->
            <div class="form-field form-horizontal">
                <h1 class="hide-calendar h2 m-t-0 m-b-2">
                    <com:TTranslate>DEFINE_PARTICIPATION</com:TTranslate>
                </h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="h3 panel-title">
                            <com:TTranslate>ENCHERE_INVERSEE</com:TTranslate>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            <com:TTranslate>VEUILLEZ_ENTRER_REF_ENCHERE</com:TTranslate>
                        </p>
                        <div class="form-group form-group-sm">
                            <label class="control-label col-md-2" for="ctl0_CONTENU_PAGE_organismeAcronyme">
                                <com:TTranslate>ENTITE_PUBLIQUE</com:TTranslate>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-10">
                                <com:TDropDownList CssClass="form-control" ID="organismeAcronyme"/>
                            </div>
                            <com:TCompareValidator
                                    ControlToValidate="organismeAcronyme"
                                    ValueToCompare="0"
                                    DataType="String"
                                    Operator="NotEqual"
                                    ValidationGroup="login"
                                    Display="Dynamic"
                                    ErrorMessage="<%=Prado::localize('ENTITE_PUBLIQUE')%>"
                                    EnableClientScript="true"
                                    Text="<span title='Champ obligatoire' class='check-invalide'></span>">
                                <prop:ClientSide.OnValidationError>
                                    document.getElementById('divValidationSummary').style.display='';
                                </prop:ClientSide.OnValidationError>
                            </com:TCompareValidator>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-4 control-label" for="ctl0_CONTENU_PAGE_refEnchere">
                                        <com:TTranslate>REFERENCE_ENCHERE</com:TTranslate>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <com:TTextBox ID="refEnchere" CssClass="form-control"
                                                      Attributes.title="<%=Prado::localize('REFERENCE_ENCHERE')%>"/>
                                        <com:TCustomValidator
                                                ID="refEnchereValid"
                                                ValidationGroup="login"
                                                ControlToValidate="passwordEnchere"
                                                OnServerValidate="Page.loginEntreprise"
                                                Text="<span title='Champ obligatoire' class='check-invalide'></span>">
                                            EnableClientScript="true"
                                            >
                                        </com:TCustomValidator>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-4 control-label" for="ctl0_CONTENU_PAGE_passwordEnchere">
                                        <com:TTranslate>TEXT_PASSWORD</com:TTranslate>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <com:TTextBox ID="passwordEnchere" PersistPassword="true"
                                                      TextMode="Password"
                                                      CssClass="form-control"/>
                                        <com:TCustomValidator
                                                ID="passwordEnchereValid"
                                                ValidationGroup="login"
                                                ControlToValidate="passwordEnchere"
                                                ErrorMessage="<%=Prado::localize('DEFINE_PASS_INCORRECT')%>"
                                                OnServerValidate="Page.loginEntreprise"
                                                Text="<span title='Champ obligatoire' class='check-invalide'></span>">
                                            EnableClientScript="true"
                                            >
                                        </com:TCustomValidator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="col-md-offset-10 col-md-2">
                            <com:TButton ValidationGroup="login" CssClass="btn btn-sm btn-block btn-primary"
                                         Attributes.value="<%=Prado::localize('TEXT_VALIDER')%>"
                                         onClick="etapeParticipation"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Bloc Choix offre-->
        </div>
        <!--Fin colonne droite-->
    </com:TPanel>

    <!--BEGIN RESULTAT ENCHERE PARTICIPATION-->
    <com:TPanel ID="etapeParticipation" CssClass="clearfix">
        <div class="main-part" id="main-part">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li>
                        <a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('PF_URL_ENTREPRISE')%>?page=Entreprise.AccueilEntreprise">
                            <com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                        </a>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_ANNONCES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_TEXT_ENCHERES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_PARTICIPATION</com:TTranslate>
                    </li>
                </ul>
            </div>
            <com:AtexoValidationSummary ValidationGroup="login"/>

            <com:RecapEnchere ID="RecapEnchere" Reference="<%=$this->getEnchere()->getReferenceutilisateur() %>"
                              Objet="<%=$this->getEnchere()->getObjet() %>"
                              EntiteAchat="<%=$this->getLibelleEntiteAssocie()%>"/>


            <!--Debut Bloc Infos Enchere-->
            <div class="panel panel-primary m-t-3">
                <div class="panel-heading">
                    <h2 class="panel-title">Ench&egrave;res</h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 form-group">
                        <label class="col-md-3">
                            <com:TTranslate>DATE_DEBUT</com:TTranslate>
                            :</label>
                        <span class="col-md-9"><com:TLabel ID="dateDebut"/></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-md-5">
                            <com:TTranslate>DATE_FIN_PREVISIONNELLE</com:TTranslate>
                            :</label>
                        <span class="col-md-7"><com:TLabel ID="dateFinPrev"/></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-md-3">
                            <com:TTranslate>DEFINE_STATUS</com:TTranslate>
                            :</label>
                        <strong class="col-md-9 text-warning">
                            <com:TLabel ID="statusLabel"/>
                        </strong>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-md-5">
                            <com:TTranslate>TEMPS_RESTANT</com:TTranslate>
                            : </label>
                        <strong class="col-md-7 text-danger">
                            <com:TLabel ID="timeLeft"/>
                        </strong>
                    </div>
                </div>
            </div>
            <!--Fin Bloc Infos Enchere-->

            <!--Debut Bloc Reglement de l'Enchere-->
            <div class="form-field">
                <div class="alert alert-info">
                    <com:TCustomValidator
                            ValidationGroup="validateAcceptReglement"
                            ControlToValidate="accepterReglement"
                            ClientValidationFunction="validateEnchereReglement"
                            Display="Dynamic"
                            ErrorMessage="<%=Prado::localize('VOUS_DEVEZ_ACCEPTER_REGLEMENT_ENCHERE')%>"
                            Text="<span title='<%=Prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'></span>"
                            EnableClientScript="true">
                        <prop:ClientSide.OnValidationError>
                            document.getElementById('divValidationSummary').style.display='';
                        </prop:ClientSide.OnValidationError>
                    </com:TCustomValidator>
                    <label for="ctl0_CONTENU_PAGE_accepterReglement">
                        <com:TCheckBox ID="accepterReglement" CssClass="check"
                                       Attributes.title="<%=Prado::localize('J_ACCEPTE_REGLEMENT_ENCHERE')%>"/>
                        <com:TTranslate>J_ACCEPTE_REGLEMENT_ENCHERE</com:TTranslate>
                    </label>
                </div>
            </div>
            <!--Fin Bloc Reglement de l'Enchere-->
            <div class="clearfix">
                <com:TLinkButton
                        onClick="Page.etapeConnection"
                        CssClass="btn btn-sm btn-default pull-left"
                        Text="<%=Prado::localize('TEXT_RETOUR')%>"/>
                <com:TButton ValidationGroup="validateAcceptReglement" CssClass="btn btn-sm btn-primary pull-right"
                             Attributes.value="<%=Prado::localize('TEXT_VALIDER')%>" onClick="etapeSuivi"/>
            </div>
        </div>
        <!--Fin colonne droite-->
    </com:TPanel>
    <!--END RESULTAT ENCHERE PARTICIPATION-->

    <!--BEGIN ETAPE SUIVANTE-->
    <com:TPanel ID="etapeSuivi" CssClass="clearfix">
        <div class="main-part" id="main-part">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li>
                        <a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('PF_URL_ENTREPRISE')%>?page=Entreprise.AccueilEntreprise">
                            <com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                        </a>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_ANNONCES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_TEXT_ENCHERES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_PARTICIPATION</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>SUIVI</com:TTranslate>
                    </li>
                </ul>
            </div>

            <com:AtexoValidationSummary ValidationGroup="login"/>
            <com:AtexoValidationSummary id="divValidationSummaryEnvoiOffre" ValidationGroup="validateOffre"/>

            <!-- D?but de l'ent?te de messages d'erreurs -->
            <com:TPanel ID="erreurEnvoieEncherePanel">
                <div id="divMessagesEnchere" class="form-bloc-erreur" style="display:none">
                    <div class="content">
                        <div class="alert alert-danger" role="alert">
                            <h2 class="h4">
                                <com:TTranslate>DEFINE_ERREUR_SAISIE</com:TTranslate>
                            </h2>
                            <com:TPanel ID="panelMessage" cssClass="bloc-message">
                                <div>
                                    <i class="fa fa-exclamation-triangle m-r-1"></i>
                                    <com:TActiveLabel ID="erreurEnvoieEnchere"/>
                                </div>
                            </com:TPanel>
                        </div>
                    </div>
                </div>
            </com:TPanel>
            <!-- Fin du footer du sommateur de messages d'erreurs -->

            <com:RecapEnchere ID="RecapEnchere2" Reference="<%=$this->getEnchere()->getReferenceutilisateur() %>"
                              Objet="<%=$this->getEnchere()->getObjet() %>"
                              EntiteAchat="<%=$this->getLibelleEntiteAssocie()%>"/>

            <!--Debut Bloc Infos Enchere-->
            <com:TActivePanel ID="infosEnchere" ActiveControl.EnableUpdate="true">
                <div class="form-field">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h2 class="panel-title">Ench&egrave;res</h2>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="section">
                                <div class="col-md-6 form-group">
                                    <label class="col-md-3">
                                        <com:TTranslate>DATE_DEBUT</com:TTranslate>
                                        :</label>
                                    <span class="col-md-9"><com:TLabel ID="dateDebutSuivi"/></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="col-md-5">
                                        <com:TTranslate>DATE_FIN_PREVISIONNELLE</com:TTranslate>
                                        :</label>
                                    <span class="col-md-7"><com:TLabel ID="dateFinPrevSuivi"/></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="col-md-3">
                                        <com:TTranslate>DEFINE_STATUS</com:TTranslate>
                                        :</label>
                                    <strong class="col-md-9 text-warning">
                                        <com:TLabel ID="statusLabelSuivi"/>
                                    </strong>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label class="col-md-5">
                                        <com:TTranslate>TEMPS_RESTANT</com:TTranslate>
                                        : </label>
                                    <strong class="col-md-7 text-danger">
                                        <com:TLabel ID="timeLeftSuivi"/>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <com:TActivePanel ID="infosAccessiblilite">
                            <div class="intitule-auto">
                                <com:TTranslate>CETTE_PAGE_SERA_ACCESSIBLE</com:TTranslate>
                                :
                                <com:TLabel ID="dateLimiteAccessible"/>
                            </div>
                        </com:TActivePanel>
                    </div>
                </div>
            </com:TActivePanel>
            <!--Fin Bloc Infos Enchere-->

            <!--Debut Bloc Mon Offre-->
            <div class="panel-group" id="accordion" role="button" aria-multiselectable="true">
                <div class="panel panel-primary">
                    <div class="panel-heading collapsed" role="tab" id="headingOne" class="collapsed" role="button"
                         data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                         aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="panel-title">
                            <com:TTranslate>MON_OFFRE</com:TTranslate>
                            <span class="pull-right">
								<i class="fa fa-chevron-down pull-right arrow-position"></i>
							</span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="clearfix">
                                <label class="col-md-2">
                                    <com:TTranslate>MESSAGE_ACHETEUR</com:TTranslate>
                                    :
                                </label>
                                <div class="col-md-10 text-justify">
                                    <com:TActiveLabel ID="msgAcheteur"/>
                                </div>
                            </div>

                            <div class="clearfix">
                                <com:TPanel DefaultButton="envoyerMonOffre">
                                    <div class="section">

                                        <div class="page-header clearfix">
                                            <label class="col-md-1 m-0 p-0">
                                                <com:TTranslate>DEFINE_NOM</com:TTranslate>
                                                :
                                            </label>
                                            <div class="col-md-10 text-primary">
                                                <com:TTranslate>MON_OFFRE</com:TTranslate>
                                            </div>
                                        </div>

                                        <com:TRepeater ID="repeaterReference" EnableViewState="true">
                                            <prop:ItemTemplate>
                                                <div class="col-md-6 form-group form-group-sm clearfix" id="libelleRef1" abbr="Ref 1">
                                                    <label class="col-md-3" for="ctl0_CONTENU_PAGE_repeaterReference_ctl0_valeurRef">
                                                        <com:TLabel ID="nomRef1" Attributes.title="<%# $this->Data->getLibelle() . ' (' . $this->Data->getUnite() . ')' %>"
                                                                    Text="<%# $this->Data->getLibelle() . ' (' . $this->Data->getUnite() . ')' %>"/>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <com:THiddenField ID="idRef" Value="<%# $this->Data->getId() %>"/>
                                                        <com:TTextBox ID="valeurRef" Attributes.Title="<%# $this->Data->getLibelle() %>" CssClass="form-control"/>
                                                        <!--  <com:TDataTypeValidator
                                                        ID="validateOffreFloat"
                                                        ControlToValidate="valeurRef"
                                                        DataType="Float"
                                                        Display="Dynamic"
                                                        ValidationGroup="validateOffre"
                                                        ErrorMessage="<%# $this->Data->getLibelle() %>"
                                                        Text="<span title='Champ obligatoire' class='check-invalide'></span>">
                                                        EnableClientScript="true">
                                                        <prop:ClientSide.OnValidationError>
                                                                document.getElementById('divValidationSummary').style.display='none';
                                                                document.getElementById('divValidationSummaryEnvoiOffre').style.display='';
                                                         </prop:ClientSide.OnValidationError>
                                                    </com:TDataTypeValidator>
                                                    <com:TRequiredFieldValidator
                                                        ID="validateOffreRequired"
                                                        ControlToValidate="valeurRef"
                                                        Display="Dynamic"
                                                        ValidationGroup="validateOffre"
                                                        ErrorMessage="<%# $this->Data->getLibelle() %>"
                                                        Text="<span title='Champ obligatoire' class='check-invalide'></span>">
                                                        EnableClientScript="true">
                                                        <prop:ClientSide.OnValidationError>
                                                                document.getElementById('divValidationSummary').style.display='none';
                                                                document.getElementById('divValidationSummaryEnvoiOffre').style.display='';
                                                         </prop:ClientSide.OnValidationError>
                                                    </com:TRequiredFieldValidator> -->
                                                    </div>
                                                </div>
                                            </prop:ItemTemplate>
                                        </com:TRepeater>

                                        <div id="" class="table-bloc">
                                            <div class="table table-striped table-results list-group m-t-2">
                                                <!-- Tableau de l'offre -->
                                                <div class="list-group-item kt-vertical-align header">
                                                    <div class="col-md-4" id="referenceEnchere">
                                                        <div>
                                                            <com:TTranslate>DEFINE_REFERENCE_ENCHERE</com:TTranslate>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 text-right" id="monOffre">
                                                        <com:TTranslate>MON_OFFRE</com:TTranslate>
                                                    </div>
                                                </div>


                                                <com:TRepeater ID="repeaterReferenceMonOffre" EnableViewState="true">
                                                    <prop:ItemTemplate>
                                                        <div class="list-group-item kt-callout left kt-vertical-align ">
                                                            <div class="col-md-4">
                                                                <ul class="list-unstyled">
                                                                    <li>
                                                                        <strong>
                                                                            <%# $this->Data->getLibelle() %>
                                                                            (<%# $this->Data->getUnite() %>)
                                                                        </strong>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <com:THiddenField ID="idRef" Value="<%# $this->Data->getId() %>" />
                                                                <com:TTextBox ID="valeurRef"
                                                                              Attributes.Title="<%# $this->Data->getLibelle() %>"
                                                                              CssClass="form-control enchere-saisie text-right"
                                                                              Text="<%# $this->Page->getValeurInitialOffre($this->Data->getId()) %>"
                                                                />
                                                            </div>
                                                        </div>
                                                    </prop:ItemTemplate>
                                                </com:TRepeater>

                                                <!-- fin tableau -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="pull-left">
                                            <com:TActiveLinkButton
                                                    ID="simulerMonOffre"
                                                    CssClass="btn btn-sm btn-primary"
                                                    OnCallBack="Page.simulerNote"
                                                    Attributes.Title="<%=Prado::localize('SIMULER_MA_NOTE')%>"
                                                    Text="<%=Prado::localize('SIMULER_MA_NOTE')%>"/>
                                            <com:TActiveLabel ID="noteSimulee"/>
                                        </div>
                                        <com:TActivePanel ID="apEnvoyerOffre" cssClass="clearfix">
                                            <com:TActiveLinkButton
                                                    ID="envoyerMonOffre"
                                                    CssClass="btn btn-primary btn-sm pull-right"
                                                    OnCallBack="Page.envoyerOffre"
                                                    Attributes.Title="<%=Prado::localize('ENVOYER_MON_OFFRE')%>"
                                                    Text="<%=Prado::localize('ENVOYER_MON_OFFRE')%>"
                                                    ValidationGroup="validateOffre"
                                            />
                                            <com:TLinkButton
                                                    ID="chiffrerMonOffre"
                                                    Visible="false"
                                                    CssClass="bouton-arrow-long-120 float-right"
                                                    OnClick="Page.chiffrerMonOffre"
                                                    Attributes.Title="<%=Prado::localize('SIGNER_MON_OFFRE')%>"
                                                    Text="<%=Prado::localize('SIGNER_MON_OFFRE')%>"
                                            />
                                        </com:TActivePanel>
                                    </div>
                                </com:TPanel>

                                <!-- tableau de suivi des enchère -->
                                <div class="page-header clearfix">
                                    <label class="col-md-5 m-0 p-0">
                                        <com:TTranslate>SUIVI_ENCHERE</com:TTranslate>
                                    </label>
                                </div>


                                    <div id="id_suivi_enchere" class="table-bloc">
                                        <div class="table table-striped table-results list-group m-t-2">

                                            <div class="list-group-item header kt-vertical-align">

                                                    <div class="col-md-4">
                                                        <com:TTranslate>DEFINE_ENRICHISSEUR</com:TTranslate>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <com:TTranslate>DEFINE_RANG</com:TTranslate>
                                                        <com:PictoSort Visible="true"/>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <com:TTranslate>NOTE</com:TTranslate>

                                                    </div>

                                            </div>

                                            <com:TActivePanel ID="apRepeaterOffres"
                                                              ActiveControl.EnableUpdate="true">

                                                <com:TRepeater ID="repeaterOffres" DataKeyField="Id"
                                                               EnableViewState="true" AllowPaging="true"
                                                               PageSize="10">
                                                    <prop:ItemTemplate>
                                                        <div class="list-group-item kt-callout left kt-vertical-align ">
                                                            <!-- Offre -->
                                                            <div class="col-md-4">
                                                                <ul class="list-unstyled">
                                                                    <li>
                                                                        <strong>
                                                                            <com:TLabel ID="NomOuAnonyme"
                                                                                        Text="<%# strcmp($this->Data->getCommonEnchereEntreprisePmi($this->Page->getConnexionCom())->getId(), $this->Page->getIdEntrepriseConnectee()) == 0 ? Prado::localize('MON_OFFRE') . ' (' . $this->Data->getCommonEnchereEntreprisePmi($this->Page->getConnexionCom())->getNom() . ')' : ($this->Page->isListeCandidats() ? 'Entreprise ' . $this->Data->getCommonEnchereEntreprisePmi($this->Page->getConnexionCom())->getNumeroanonyme() : Prado::localize('MEILLEUR_OFFRE')) %>"/>
                                                                        </strong>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- Rang -->
                                                            <div class="col-md-2 text-right">
                                                                <com:TLabel ID="rangOffre"
                                                                            Text="<%# $this->Data->getRang() == '0' ? '-' : $this->Data->getRang() %>"/>
                                                            </div>

                                                            <!-- Note -->
                                                            <div class="col-md-2 text-right">
                                                                <com:TLabel ID="valRef"
                                                                            Text="<%# number_format($this->Data->getValeurngc(), 2,',',' ')%>"/>

                                                            </div>
                                                        </div>
                                                    </prop:ItemTemplate>
                                                </com:TRepeater>
                                                <com:TLabel ID="aucuneOffre"
                                                            Text="<%=Prado::localize('AUCUNE_OFFRE_SUR_ENCHERE')%>"
                                                            visible="false"/>
                                            </com:TActivePanel>

                                        </div>
                                    </div>


                                <!-- Fin du tableau -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Fin Bloc Mon Offre-->

            <div class="clearfix">
                <com:TLinkButton
                        onClick="Page.etapeConnection"
                        CssClass="btn btn-sm btn-default pull-left"
                        Attributes.Title="<%=Prado::localize('TEXT_RETOUR')%>"
                        Text="<%=Prado::localize('TEXT_RETOUR')%>"/>
            </div>
        </div>
        <!--Fin colonne droite-->
        <com:TTimeTriggeredCallback
                ID="timeTrigger"
                Interval="<%=  Application\Service\Atexo\Atexo_Config::getParameter('PERIODE_MISE_A_JOUR_ENCHERE') %>"
                StartTimerOnLoad="true"
                OnCallback="Page.updateEnchere"/>


    </com:TPanel>
    <!--END ETAPE SUIVANTE-->

    <com:TPanel ID="pageNonAccessible" CssClass="float-left">

        <div class="main-part" id="main-part">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li>
                        <a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('PF_URL_ENTREPRISE')%>?page=Entreprise.AccueilEntreprise">
                            <com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                        </a>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_ANNONCES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_TEXT_ENCHERES</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>DEFINE_PARTICIPATION</com:TTranslate>
                    </li>
                    <li>
                        <com:TTranslate>SUIVI</com:TTranslate>
                    </li>
                </ul>
            </div>
            <!--Debut message de confirmation-->
            <div class="alert alert-danger">
                <com:TTranslate>L_ENCHERE</com:TTranslate>
                <strong class="m-r-1 m-l-1">
                    "
                    <com:TLabel ID="refEnchereNonAccessible"/>
                    "
                </strong>
                <com:TTranslate>PLUS_ACCESSIBLE</com:TTranslate>
            </div>
            <!--Fin  message de confirmation-->
            <div class="link-line clearfix">
                <com:TLinkButton
                        onClick="Page.actionBouttonRetour"
                        CssClass="btn btn-sm btn-default pull-left"
                        Attributes.Title="<%=Prado::localize('RETOUR')%>"
                        Text="<%=Prado::localize('TEXT_RETOUR')%>"/>
            </div>
        </div>

    </com:TPanel>

    <script>
        J(document).ready(function(){
            J('.enchere-saisie').blur(function(){
                valeur = J(this).val();
                var valeur = valeur.replace(' ','');
                var newValeur = arrondirEspace(valeur,2,' ',0);
                var mt = newValeur.replace('.',',');
                if (newValeur == 'NaN.NaN'){
                    mt =  "0,00";
                }
                J(this).val(mt);
            });
        })
    </script>

</com:TContent>

