<com:TContent ID="CONTENU_PAGE">
	<div class="entreprise-gw">
		<div class="main-part" id="main-part">
			<div class="clearfix">
				<ul class="breadcrumb">
					<li>
						<a href="/entreprise">
						<com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                    </a>
					</li>
					<li>
						<com:TTranslate>DEFINE_TEXT_AIDE</com:TTranslate>
					</li>
					<li>
						<com:TTranslate>DEFINE_TEXT_ASSISTANCE_GUIDE</com:TTranslate>
					</li>
				</ul>
			</div>

			<!--BEGIN GUIDE D'UTILISATION -->
			<div class="form-field ">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="h3 panel-title">
							<com:TTranslate>DEFINE_TEXT_ASSISTANCE_GUIDE</com:TTranslate>
						</h1>
					</div>
					<div class="panel-body">
						<p>
							<com:TTranslate>TEXT_MSG_AIDE_ASSISTANCE_ENTREPRISE</com:TTranslate>
							<a href="index.php?page=Entreprise.EntrepriseAdvancedSearch&AllCons&orgTest">
								<com:TTranslate>CONSULTATIONS_DE_TEST_DISPONIBLE</com:TTranslate>
							</a>
						</p>
					</div>
					<div class="panel-footer">
						<!--BEGIN BTN GUIDES -->
						<div id="listeGuides">
							<div class="">
								<a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_DOCS_GUIDE_UTILISATEUR_ENTREPRISE')%>"
								   data-toggle="tooltip" data-placement="top"
								   title="<%=Prado::localize('TELECHARGER_GUIDE')%> <%=Prado::localize('NOUVELLE_FENETRE')%>"
								   class="btn btn-sm btn-primary">
									<i class="fa fa-download m-r-1" aria-hidden="true"></i>
									<com:TTranslate>TEXT_GUIDE_UTILISATION_ECO</com:TTranslate>
								</a>
								<span style="display:<%=(Prado::Localize('FILMS_D_AUTOFORMATION')== 'FILMS_D_AUTOFORMATION')? 'none':''%>;">
									<a href="<%= Application\Service\Atexo\Atexo_Config::getParameter('URL_DOCS_GUIDE_AUTOFORMATION_ENTREPRISE')%>"
									   data-toggle="tooltip" data-placement="top"
									   title="<%=Prado::localize('DEFINE_TELECHARGER').' ' .Prado::Localize('FILMS_D_AUTOFORMATION')%> <%=Prado::localize('NOUVELLE_FENETRE')%>"
									   class="btn btn-sm btn-primary">
										<i class="fa fa-download m-r-1" aria-hidden="true"></i>
										<com:TTranslate>FILMS_D_AUTOFORMATION</com:TTranslate>
									</a>
								</span>
							</div>
						</div>
						<!--END BTN GUIDES -->
					</div>
				</div>
			</div>
			<!--END GUIDE D'UTILISATION -->
		</div>
	</div>
</com:TContent>
