<com:TConditional Condition="preg_match('/(^agent)/i', $_GET['page']) || preg_match('/(^agent)/i', $_GET['calledFrom'])">
    <prop:TrueTemplate>

    </prop:TrueTemplate>
    <prop:FalseTemplate>

    </prop:FalseTemplate>
</com:TConditional>

<com:TContent ID="CONTENU_PAGE">
    <!--Debut colonne droite-->
    <div class="main-part listeAc" id="main-part">
        <div class="clearfix">
            <nav role="navigation">
            <ul class="breadcrumb">
                <li>
                    <a href="/entreprise">
						<com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
                    </a>
                </li>
                <li>
                    <com:TTranslate>LISTE_DES_CERTIFICATS_EUROPEEN</com:TTranslate>
                </li>
            </ul>
            </nav>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <com:TTranslate>TITRE_LISTE_DES_CERTIFICATS_EUROPEEN</com:TTranslate>
                </h1>
            </div>
            <div class="panel-body text-justify">
                <p>
                    <com:TTranslate>LIEN_LISTE_CERTIFICATS_CONFORMES_EUROPEEN</com:TTranslate>
                </p>
                <div class="clearfix">
                    <!--BEGIN TOUT AFFICHER / TOUT CACHER TOP-->
                    <div class="toggle-ac" style="display: none;">
                        <a class="collapse-all" href="#">
                            <com:TTranslate>DEFINE_TOUT_AFFICHER</com:TTranslate>
                        </a> /
                        <a class="toggle-all" href="#">
                            <com:TTranslate>DEFINE_TOUT_CACHER</com:TTranslate>
                        </a>
                    </div>
                    <!--END TOUT AFFICHER / TOUT CACHER TOP-->

                    <!--BEGIN TABLE RESULTS-->
                    <div class="table tableAc">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <com:TRepeater ID="repeaterRacineCertifRGS">
                                <prop:ItemTemplate>
                                    <div class="panel panel-default">
                                        <!--BEGIN LINE RACINE-->
                                        <div class="panel-heading clearfix relative" role="tab" id="heading_panel_<%#$this->Data['Index']%>')" colspan="6">
                                            <div class="panel-title">
                                                <a href="<%#$this->Data['InformationURI']%>" target="_blank" class="informationUrl relative">
                                                    <h2><%#$this->Data['TSPName']%></h2>
                                                </a>
                                                <a href="#panel_<%#$this->Data['Index']%>"
                                                   role="button" data-toggle="collapse"
                                                   aria-expanded="true" aria-controls="panel_<%#$this->Data['Index']%>"
                                                   class="racineInfo collapsed">
                                                    <i class="more-less glyphicon glyphicon-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!--END LINE RACINE-->
                                        <!--BEGIN CHILD-->
                                        <div id="panel_<%#$this->Data['Index']%>" class="panel-collapse clearfix collapse" role="tabpanel" aria-labelledby="heading_panel_<%#$this->Data['Index']%>')">
                                            <com:TActiveRepeater ID="repeaterFilleCertifRGS" DataSource="<%#$this->Data['ACFilles']%>">
                                                <prop:ItemTemplate>
                                                    <div class="panel-body">
                                                        <div class="panel_<%#$this->Data['IndexPere']%> clearfix" data-serial-number="<%#$this->Data['SerialNumber']%>">
                                                            <div class="col-md-5">
                                                                <h3>
                                                                    <com:TTranslate>AC_FILLE</com:TTranslate>
                                                                    :
                                                                </h3>
                                                                <p><%#$this->Data['CN']%></p>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="intitule-auto">
                                                                    <h3>
                                                                        <com:TTranslate>NOM_COMMERCIAL</com:TTranslate>
                                                                        :
                                                                    </h3>
                                                                </div>
                                                                <p>
                                                                    <%#$this->Data['ServiceName']%>
                                                                </p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="pull-right btn-group">
                                                                    <a class="btn btn-default btn-sm" onclick="togglePanelClass(this,'panel_detail_<%#$this->Data['Index']%>');"
                                                                       href="javascript:void(0);">
                                                                        <com:TTranslate>TEXT_VOIR_DETAIL</com:TTranslate>
                                                                    </a>
                                                                    <div class="btn btn-sm btn-primary" data-toggle="tooltip" title="<%=Prado::localize('TELECHARGER_CLE_PIBLIQUE_AC_FILLE')%>">
                                                                        <com:TLinkButton
                                                                                onCommand="Page.downloadCertificat"
                                                                                cssClass=""
                                                                                CommandParameter="<%#$this->Data['IndexPere'].'#'.$this->Data['Index']%>"
                                                                        ><i class="fa fa-download" style="height: 16px; color: #fff;"></i>
                                                                        </com:TLinkButton>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel_detailAC_01 panel_detail_<%#$this->Data['Index']%>" style="display:none;">
                                                            <div colspan="4" class="detail-fichier">
                                                                <!--Debut bloc detail-->
                                                                <div class="list-group-item listDetails m-t-2">
                                                                    <div class="clearfix">
                                                                        <label class="control-label col-md-4">
                                                                            <com:TTranslate>VALIDE_A_PARTIR</com:TTranslate>
                                                                            :
                                                                        </label>
                                                                        <div class="col-md-8">
                                                                            <%#$this->Data['ValidityNotBefore']%>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <label class="control-label col-md-4">
                                                                            <com:TTranslate>VALABLE_JUSQU_AU</com:TTranslate>
                                                                            :
                                                                        </label>
                                                                        <div class="col-md-8">
                                                                            <%#$this->Data['ValidityNotAfter']%>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <label class="control-label col-md-4">
                                                                            <com:TTranslate>LISTE_CERTIFICATS_REVOQUE</com:TTranslate>
                                                                            :
                                                                        </label>
                                                                        <div class="col-md-8">
                                                                            <a href="<%#($this->Data['CrlDistributionPoints'][0])?$this->Data['CrlDistributionPoints'][0]:'#'%>"
                                                                               class="<%#($this->Data['CrlDistributionPoints'][0])?" lien-ext":""%>"
                                                                            target="_blank"><%#($this->Data['CrlDistributionPoints'][0])?$this->Data['CrlDistributionPoints'][0]:" - "%>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <label class="control-label col-md-4">
                                                                            <com:TTranslate>POLITIQUE_DE_CERTIFICATION</com:TTranslate>
                                                                            :
                                                                        </label>
                                                                        <div class="col-md-8">
                                                                            <a href="<%#($this->Data['CertificatPolicies'][0]['URI'])?$this->Data['CertificatPolicies'][0]['URI']:" #"%>"
                                                                            class="<%#($this->Data['CertificatPolicies'][0]['URI'])?"lien-ext":""%>"
                                                                            target="_blank">
                                                                            <%#($this->Data['CertificatPolicies'][0]['URI'])?$this->Data['CertificatPolicies'][0]['URI']:" - "%>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <label class="control-label col-md-4">
                                                                            <com:TTranslate>IDENTIFIANT_POLITIQUE_DE_CERTIFICATION</com:TTranslate>
                                                                            :
                                                                        </label>
                                                                        <div class="col-md-8">
                                                                            <%#$this->Data['CertificatPolicies'][0]['PolicyIdentifier']%>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--Fin bloc detail-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </prop:ItemTemplate>
                                            </com:TActiveRepeater>
                                        </div>
                                        <!--END CHILD-->
                                    </div>
                                </prop:ItemTemplate>
                            </com:TRepeater>
                        </div>
                    </div>
                    <!--END TABLE RESULTS-->

                    <!--BEGIN TOUT AFFICHER / TOUT CACHER BOTTOM-->
                    <div class="toggle-ac" style="display: none;">
                        <a class="collapse-all" href="#">
                            <com:TTranslate>DEFINE_TOUT_AFFICHER</com:TTranslate>
                        </a> /
                        <a class="toggle-all" href="#">
                            <com:TTranslate>DEFINE_TOUT_CACHER</com:TTranslate>
                        </a>
                    </div>
                    <!--END TOUT AFFICHER / TOUT CACHER BOTTOM-->
                </div>
            </div>
        </div>

    </div>
    <!--Fin colonne droite-->
</com:TContent>