<div *ngIf="page != null" class="repeater-pagination">
    <select
        class="form-control repeater-secondaryPaging active"
        [(ngModel)]= "page.size"
        (ngModelChange)="fetchPageSize()"
    >
        <option *ngFor="let value of [{ size: 10 },{ size: 20},{ size: 50 },{ size: 100 }]" [ngValue]="value.size" [selected]="value.size === page.size" >{{value.size}}</option>
    </select>
    <span> résultats par page</span>
</div>

<div class="repeater-pagination" *ngIf="page != null">
    <button class="btn btn-default btn-xs repeater-prev" type="button" [disabled]="page.first"
            (click)="fetchPreviousPage()">
        <fa-icon [icon]="['fas','chevron-left']"></fa-icon>
    </button>
    <span>Page</span>
    <input (change)="fetchPageNumber($event)"
           [value]="page.number+1"
           [style.width.ch]="(page.totalPages ? page.totalPages.toString().length : 0) + 5"
           class="form-control repeater-secondaryPaging active"
           type="number"
           min="1"
           [max]="page.totalPages"
           (keydown)="check($event)"
    >
    <span>sur <span class="repeater-pages"> {{page.totalPages}} </span></span>
    <button class="btn btn-default btn-xs repeater-next" type="button" [disabled]="page.last"
            (click)="fetchNextPage()">
        <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
    </button>
</div>
