<div class="repeater-itemization" *ngIf="page != null">
    <div data-resize="auto" class="btn-group selectlist">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
            <span class="selected-label">{{page.size}}</span>
            <span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu">
            <li *ngFor="#itemsPerPage of [5,10,20,50,100]">
                <a (click)="fetchPageSize(itemsPerPage)">{{itemsPerPage}}</a>
            </li>
        </ul>
        <input type="text" aria-hidden="true" readonly name="itemsPerPage" class="hidden hidden-field">
    </div>
    <span> Résultats par Pages</span>
</div>

<div class="repeater-pagination" *ngIf="page != null">
    <button class="btn btn-default btn-xs repeater-prev" type="button" [disabled]="page.first"
            (click)="fetchPreviousPage()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <span>Page</span>
    <input type="text" class="form-control repeater-secondaryPaging active" [value]="page.number+1"
           (keyup)="fetchPageNumber($event)">
    <span>sur <span class="repeater-pages"> {{page.totalPages}} </span></span>
    <button class="btn btn-default btn-xs repeater-next" type="button" [disabled]="page.last"
            (click)="fetchNextPage()">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>