{% extends 'layout-agent.html.twig' %}

{% block title %}
    {{ 'TEXT_CONTRAT'|trans }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    <script src="{{ asset('themes/lib/moment/moment.min.js') }}"></script>
    <script src="/execution/exec.js?k={{ MEDIA_CACHE_KEY }}" type="application/javascript" defer></script>
{% endblock %}

{%- block assistance -%}{%- endblock assistance -%}

{% block content %}
    <exec-saisir-contrat sso="{{ sso }}" pf-uid="{{ pf_uid }}"></exec-saisir-contrat>
{% endblock %}