{% extends 'layout-agent.html.twig' %}

{% block title %}
    {{ 'TEXT_CONTRAT'|trans }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    <script src="{{ asset('themes/lib/moment/moment.min.js') }}"></script>
    <script src="/execution/exec.js?k={{ MEDIA_CACHE_KEY }}" type="application/javascript" defer></script>
{% endblock %}

{%- block assistance -%}{%- endblock assistance -%}

{% block content %}
    {% set uuidExec = uuid_exec is defined ? uuid_exec : '' %}
    <exec-liste-fournisseurs sso="{{ sso }}" pf-uid="{{ pf_uid }}" {{ uuidExec }}></exec-liste-fournisseurs>
{% endblock %}