div.module legend{
    width: auto;
    text-align: left;
    color: #666;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}
div.module fieldset{
    display:block;
    border-radius: 5px;
    padding: 15px;
}
div.module .form-group, div.module .file-upload {
    text-align: left;
}
div.module textarea {
    width: 100%;
}
.version {
    margin-top: 10px;
    display: block;
    text-decoration: underline;
}
label {
    margin-bottom: 10px;
    display: inline-block;
}

.file-upload {
    background-color: #ffffff;
    margin: 5px auto;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 4px dashed #ddd;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #ddd;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
    margin: 60px 20px;
    background-color: #ddd;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}
button.add {
    float: right;
}
div.btn-actions {
    text-align: left;
}
div.btn-actions .btn-default {
    float: left;
    padding: 6px 12px;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #337ab7;
    text-decoration: none;
}
#rubrique .alert {
    padding: 15px;
    margin-bottom: 20px;
}
#rubrique .alert-dismissable .close, #rubrique .alert-dismissible .close {
    right: 0;
}