.version {
    margin-top: 10px;
    display: block;
    text-decoration: underline;
}
label {
    margin-bottom: 10px;
    display: inline-block;
}
button.add {
    float: right;
}
div.btn-actions {
    text-align: left;
}
div.btn-actions .btn-default {
    float: left;
    padding: 6px 12px;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #337ab7;
    text-decoration: none;
}