<ng-template [ngIf]="categorieConsultation != null">
    <div>
    <abbr title="{{categorieConsultation.label}}" class="categorie">
        {{categorieConsultation.label}}
        <fa-icon *ngIf="categorieConsultation.label == 'Travaux'" [icon]="['fas','hammer']"
                 style="color: grey"></fa-icon>
        <fa-icon *ngIf="categorieConsultation.label == 'Fournitures'" [icon]="['fas','cart-shopping']"
                 style="color: grey"></fa-icon>
        <fa-icon *ngIf="categorieConsultation.label == 'Services'" [icon]="['fas','users-gear']"
                 style="color: grey"></fa-icon>
    </abbr>
    </div>
</ng-template>
