<ng-template [ngIf]="contrat != null">
    <div>
        <div class="intitule-abbr"><abbr title="Notification">Notif. : </abbr> <span
            *ngIf="contrat.dateNotification != null"> {{contrat.dateNotification  | formatDate: "DD/MM/YYYY" }}</span>
        </div>
    </div>

    <div>
        <div class="intitule-abbr"><abbr title="Fin actuelle">F. act. : </abbr> <span
            *ngIf="contrat.dateFinContrat != null"> {{ contrat.dateFinContrat  | formatDate:"DD/MM/YYYY"}} </span>
        </div>
    </div>

    <div>
        <div class="intitule-abbr"><abbr title="Fin max. de contrat">F. max. : </abbr><span
            *ngIf="contrat.dateMaxFinContrat != null"> {{contrat.dateMaxFinContrat  | formatDate: "DD/MM/YYYY"}} </span>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="contrat != null && contrat.chapeau">
    <a [routerLink]="['/contrats']"
       [queryParams]="{motsCles: contrat.referenceLibre,chapeau: false, perimetre: tousContrats ? 'TOUT' : 'SERVICE_ET_SOUS_SERVICES'}"
       tabindex="-1"
       role="menuitem">Voir chaque contrat</a>
</ng-template>
