<div *ngIf="!resultat"  class="panel-body text-primary text-center text-md">
    <i class="fas fa-hourglass-start txt-undelivered m-r-10"></i>
    <span>Merci de patienter pendant le chargement du contrat n<sup>o</sup>{{idExterne}}
    </span>
</div>

<div *ngIf="resultat" class="text-primary  text-center text-md">
    <span [innerHTML]="resultat.message"></span>
</div>
