<ng-template [ngIf]="contrat != null">
    <div>
        <span class="ref">{{contrat.objet }}</span>
    </div>

    <div *ngIf="contrat.service != null" class="voffset1">
        {{contrat.service.nomCourtArborescence ? contrat.service.nomCourtArborescence + ' - ' : ''}}
        {{contrat.service.nom}}
    </div>
    <ng-template [ngIf]="contrat.chapeau">
            <span *ngFor="let contratLie of contratsLies">
                <ltexec-etablissement-link *ngIf="contratLie.attributaire != null"
                                           [etablissement]="contratLie.attributaire.etablissement"></ltexec-etablissement-link>
                <br>
            </span>
    </ng-template>
    <ng-template [ngIf]="!contrat.chapeau">
        <ltexec-etablissement-link *ngIf="contrat.attributaire != null"
                                   [etablissement]="contrat.attributaire.etablissement"></ltexec-etablissement-link>

    </ng-template>

    <div *ngIf="contrat.idContratChapeau != null" class="voffset1">Dans le cadre du contrat {{
        contrat.referenceContratChapeau }}
    </div>

    <ng-template [ngIf]="contrat != null && !contrat.chapeau">
        <div class="line-actions clearfix">
            <div *ngIf="attributaires" class="btn-notif">
                <a [routerLink]="['/attributaires', contrat.id]"
                   class="btn  btn-default text-info  btn-xs btn-action"
                   title="Données des attributaires et des contractants">
                    <fa-icon [icon]="['fas', 'users']" class="text-info"></fa-icon>
                    <div class="labels">
                            <span *ngIf="contrat.groupement && contrat.montant + contrat.montantTotalAvenants != contrat.montantTotalAttributaires"
                                  class="badge badge-danger"
                                  tooltip="en attente de répartition des montants">!
                                <div class="sr-only">en attente de répartition des montants</div></span>
                    </div>
                </a>
            </div>

            <div *ngIf="documents && isHabiliteExec" class="btn-notif">
                <a [routerLink]="['/documents', contrat.id]"
                   class="btn  btn-default text-info  btn-xs btn-action"
                   type="button"
                   title="Documents d'exécution">
                    <fa-icon [icon]="['fas', 'file-alt']" class="text-info"></fa-icon>
                    <div class="labels">
                        <span *ngIf="contrat.documentsCount > 0" class="badge badge-success" data-toggle="tooltip"
                              title=""
                              data-original-title="documents">{{contrat.documentsCount}}
                            <div
                                class="sr-only">documents
                        </div></span>
                    </div>
                </a>
            </div>

            <div *ngIf="messages && isHabiliteExec" class="btn-notif">
                <a [routerLink]="['/messages', contrat.id]" [queryParams]="{ from: currentUrl() }" class="btn  btn-default text-info  btn-xs btn-action"
                   type="button"
                   title="Messagerie sécurisée">
                    <fa-icon [icon]="['fas', 'envelope']" class="text-info"></fa-icon>
                    <div class="labels">
                        <span *ngIf="contrat !=null && contrat.messageStatus !=null">
                            <span class="badge badge-success" title="messages non lus" data-toggle="tooltip"
                                  data-original-title="4 non lus"
                                  *ngIf="contrat.messageStatus.nombreMessageNonLu !=0">
                                {{contrat.messageStatus.nombreMessageNonLu}}
                                <div class="sr-only">non lus</div>
                            </span>
                        </span>
                        <span *ngIf="contrat !=null && contrat.messageStatus !=null">
                            <span class="badge badge-warning" title="messages non délivrés" data-toggle="tooltip"
                                  data-original-title="1 non délivré"
                                  *ngIf="contrat.messageStatus.nombreMessageNonDelivre !=0">
                                {{contrat.messageStatus.nombreMessageNonDelivre}}
                                <div class="sr-only">non délivré</div>
                            </span>
                        </span>
                    </div>
                </a>
            </div>

            <div *ngIf="calendrier && !gestionActes && isHabiliteExec" class="btn-notif">
                <a [routerLink]="['/calendrier-execution', contrat.id]" [queryParams]="{ from: currentUrl() }"
                   class="btn  btn-default text-info  btn-xs btn-action"
                   title="Calendrier d'exécution">
                    <fa-icon [icon]="['fas', 'calendar']" class="text-info"></fa-icon>
                    <div class="labels">
                        <span *ngIf="contrat.evenementsEnAttenteCount > 0" class="badge badge-secondary"
                              data-toggle="tooltip"
                              data-original-title="événements en attente">{{contrat.evenementsEnAttenteCount}}
                            <div
                                class="sr-only">événements en attente
                        </div></span>
                    </div>
                </a>
            </div>
            <div *ngIf="actes" class="btn-notif">
                <a [ngClass]="contrat.statut === 'ANotifier'?'disabled':''" [routerLink]="['/actes', contrat.id]"
                   class="btn  btn-default text-info  btn-xs btn-action"
                   title="Actes liés à l'exécution">
                    <fa-icon [icon]="['fas', 'file-signature']" class="text-info"></fa-icon>
                </a>
            </div>
        </div>
    </ng-template>
</ng-template>
