<ng-template [ngIf]="contrat != null">
    <h2>Tableau de bord du contrat</h2>
    <!--Debut Panel Contrat-->

    <ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>

    <!--Fin Panel Contrat-->

    <!--Debut structure 2 columns-->
    <div class="row" id="sortable">
        <!--Debut column-->
        <div class="column col-md-6">
            <!--Debut Panel Attributaires-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <fa-icon icon="users"></fa-icon>
                        Attributaires et contractants
                    </h3>
                </div>
                <div class="panel-body">
                    <!--Debut Tableau Attributaires-->
                    <ng-template [ngIf]="contrat != null && !contrat.chapeau">
                        <ltexec-arborescence-attributaires [contratId]="contratId" [contrat]="contrat"
                                                           [visualisation]="true"></ltexec-arborescence-attributaires>
                    </ng-template>
                    <ng-template [ngIf]="contrat != null && !contrat.chapeau">

                    </ng-template>
                    <!--// Fin Tableau Attributaires-->

                </div>
                <div class="panel-footer">
                    <span class="pull-right"><a (click)="goToAttributaires()">Tous les attributaires et contractants <i class="fa fa-arrow-circle-right"></i></a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Fin Panel Attributaires-->

            <!--Debut Panel Document d'exécution-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <fa-icon icon="file-alt"></fa-icon>
                        Documents d'exécution
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item" [routerLink]="['/documents', contrat.id]">
                            Documents d'exécution
                            <span *ngIf="contrat.documentsCount > 0"
                                  class="badge badge-success">{{contrat.documentsCount}}</span>
                        </a>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-right"><a [routerLink]="['/documents', contrat.id]">Tous les documents<fa-icon
                        icon="arrow-circle-right"></fa-icon>
                    </a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Fin Panel Document d'exécution-->
            <!--Panel Messagerie sécurisée -->
            <ltexec-message-tableau-bord [contrat]="contrat"></ltexec-message-tableau-bord>

        </div>
        <!--//Fin column-->
        <div class="column col-md-6">
            <!-- Panel Bon de Commande -->
            <!-- evenements-->
            <div *ngIf="!actesActif" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <fa-icon icon="shopping-cart"></fa-icon>
                        Bons de commande
                    </h3>
                </div>
                <div class="panel-body">
                    <ltexec-gauge *ngIf="contrat && contrat.borneMaximale" [listBondeCommandes]="listBonCommandes" [contrat]="contrat"></ltexec-gauge>
                    <div *ngIf="listBonCommandes.length == 0">
                        <p> Aucun bon de commande sur ce contrat </p>
                    </div>

                    <table *ngIf="listBonCommandes.length > 0"
                           class="table table-condensed bordered-table zebra-striped table-hover">
                        <caption class="sr-only">Bon de Commandes</caption>
                        <thead>
                        <tr>
                            <th class="col-md-2 col-dates" scope="col">
                                Date
                            </th>
                            <th class="col-md-5" scope="col">
                                Bon de commande
                            </th>
                            <th class="col-md-2 col-montants" scope="col">
                                <span>EUR HT</span>
                            </th>
                            <th class="col-md-2 col-montants" scope="col">
                                <span>EUR TTC</span>
                            </th>
                            <th class="col-md-1 col-actions" scope="col"><a>Actions</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let bonCommande of listBonCommandes">
                            <td class="col-md-2 col-dates">
                                {{(bonCommande.etatEvenement == etatEvenement[etatEvenement.VALIDE] ?
                                bonCommande.dateDebutReel : bonCommande.dateDebut)
                                | formatDate: "DD/MM/YYYY"}}
                            </td>
                            <td class="col-md-5">
                                <strong>{{bonCommande?.bonCommandeTypeDTO?.numero}}</strong> - {{bonCommande?.libelle}}<br>
                                <div *ngIf="bonCommande.documentsCount > 0">
                                    <a (click)="onClickDownloadFile(bonCommande.documents[0]?.id)"
                                       style="cursor: pointer"
                                       title="Télécharger">
                                        <i class="fa fa-download"></i> {{bonCommande.documents[0].fichier.nom}}
                                        <small>{{bonCommande.documents[0].fichier.taille | fileSize }}</small>
                                    </a>&nbsp;<a *ngIf="bonCommande.documentsCount > 1"
                                                 [routerLink]="['/evenement/documents/',contratId,bonCommande.id]"
                                                 href="" title="">({{bonCommande.documentsCount -
                                1}} autre{{(bonCommande.documentsCount - 1) > 1 ? "s" : ""}})</a>
                                </div>
                            </td>
                            <td class="col-md-2 col-montants">
                                {{bonCommande.bonCommandeTypeDTO.montantHT | currencyEuro}}
                            </td>
                            <td class="col-md-2 col-montants">
                                {{bonCommande.bonCommandeTypeDTO.montantHT + bonCommande.bonCommandeTypeDTO.montantTVA  | currencyEuro}}
                            </td>
                            <td class="col-md-1 col-actions">
                                <a [routerLink]="['/calendrier-execution', contratId, 'evenement', bonCommande.id]"
                                   class="btn btn-primary btn-sm btn-action"
                                   title="Accéder a bon de commande n°{{bonCommande?.bonCommandeTypeDTO?.numero}}">
                                    <fa-icon [icon]="['fas','external-link-alt']"><span class="sr-only">Détail</span></fa-icon>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr class="row-total">
                            <td class="text-right" colspan="2">Montant total commandé</td>
                            <td class="col-md-2 col-montants">
                                {{montantTotalHT | currencyEuro}}
                            </td>
                            <td class="col-md-2 col-montants">
                                {{montantTotalHT + montantTotalTVA | currencyEuro}}
                            </td>
                            <td></td>
                        </tr>
                        <tr *ngIf="contrat.borneMaximale"
                            class="{{contrat.borneMaximale - montantTotalHT > 0 ? 'text-success' : 'text-danger'}}">
                            <td class="text-right" colspan="2">Montant disponible</td>
                            <td class="col-md-2 col-montants">
                                <ng-template [ngIf]="contrat.borneMaximale - montantTotalHT > 0">
                                    {{contrat.borneMaximale - montantTotalHT | currencyEuro}}
                                </ng-template>
                                <ng-template [ngIf]="contrat.borneMaximale - montantTotalHT < 0">
                                    {{0 | currencyEuro}}
                                </ng-template>
                            </td>
                            <td class="col-md-2 col-montants">

                            </td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="panel-footer">
                    <a [routerLink]="['/calendrier-execution',contratId,'ajouterEvenement',{bonCommand:true}]"
                       class="btn btn-sm btn-primary"> Ajouter un bon de commande</a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Fin Panel Calendrier d'exécution-->
            <!-- actes-->
            <div *ngIf="contrat.statut !== 'ANotifier'" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <fa-icon icon="calendar"></fa-icon>
                        Actes liés à l'exécution
                    </h3>
                </div>
                <div class="panel-body">
                    <div *ngIf="actes?.length == 0">Aucun acte en attente</div>
                    <table *ngIf="actes?.length > 0" class="table bordered-table zebra-striped table-highlight table-hover table-evenements">
                        <thead>
                        <tr>
                            <th scope="col" class="col-fixed-3">Date de notification</th>
                            <th scope="col" class="col-fixed-6"></th>
                            <th scope="col" class="col-fixed-6">Actes / titulaires</th>
                            <th scope="col" class="col-fixed-2 nowrap">Détail</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let acte of actes">
                            <td>
                                <div>
                                    {{acte.dateNotification }}
                                </div>
                            </td>
                            <td>
                                <span [tooltip]="getLibelleStatut(acte)"><i
                                    class="{{acte.statut.toString() | lowercase}}"></i>&nbsp;{{getLibelleStatut(acte)}}</span>
                            </td>
                            <td>
                                <strong>{{acte.objet}}</strong>
                                <br>
                                {{acte?.titulaire?.etablissement?.fournisseur?.prenom}} {{acte?.titulaire?.etablissement?.fournisseur?.nom}}
                            </td>

                            <td>
                                <a [routerLink]="['/actes/afficher', contratId, acte.id]"
                                   title="Accéder a l'acte"
                                   class="btn btn-primary btn-sm btn-action">
                                    <fa-icon icon="external-link-alt"><span
                                        class="sr-only">Accéder à l'acte</span></fa-icon>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a [routerLink]="['/actes/ajouter/', contrat.id]"
                       class="pull-left btn btn-sm btn-primary">Ajouter un acte </a>
                    <span class="pull-right"><a [routerLink]="['/actes', contrat.id]">Tous les actes ({{ nbActes }})
                        <fa-icon icon="arrow-circle-right"></fa-icon>
                        </a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Fin actes -->
            <!-- evenements -->
            <div *ngIf="!actesActif" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <fa-icon icon="calendar"></fa-icon>
                        Événements d'exécution
                    </h3>
                </div>
                <div class="panel-body">
                    <div *ngIf="listEvenementEnAttente?.length == 0">Aucun événement en attente</div>
                    <table *ngIf="listEvenementEnAttente?.length > 0"
                           class="table bordered-table zebra-striped table-highlight table-hover table-evenements">
                        <caption class="sr-only">
                            Liste des mandataires légaux
                        </caption>
                        <thead>
                        <tr>
                            <th class="col-fixed-6" scope="col">Date</th>
                            <th scope="col"></th>
                            <th scope="col">Événement / Contractant</th>
                            <th class="col-fixed-2 nowrap" scope="col">Détail</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let evenement of listEvenementEnAttente">
                            <td>
                                <div>{{evenement.dateDebut  | formatDate: "DD/MM/YYYY" }}
                                    <span *ngIf="!evenement.ponctuel">
                                        au {{evenement.dateFin  | formatDate: "DD/MM/YYYY" }}
                                    </span>
                                </div>

                                <div *ngIf="evenement.alerte" class="preavis">
                                    <fa-icon icon="bell" data-toggle="tooltip"
                                             title="Délai de préavis"></fa-icon>
                                    <span class="sr-only">Délai de préavis</span> {{evenement.delaiPreavis}} jours avant
                                </div>
                            </td>
                            <td>
                                <div class="state-list" *ngIf="evenement.suiviRealisation">
                                    <div class="pull-left">
                                        <i class="fa fa-question fa-2x state-pictogrammes state-en_attente ">
                                            <span class="sr-only">En attente de validation ou de rejet</span>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="evenement.typeEvenement!=null">
                                    <strong>{{afficheLabelEvenement(evenement)}}</strong>
                                </div>
                                <ltexec-etablissement-link *ngIf="evenement.contractant!=null"
                                                           [etablissement]="evenement.contractant"></ltexec-etablissement-link>
                            </td>

                            <td>
                                <a [routerLink]="['/calendrier-execution', contratId, 'evenement', evenement.id]"
                                   class="btn btn-primary btn-sm btn-action"
                                   title="Accéder a l'evenement">
                                    <fa-icon icon="external-link-alt"><span class="sr-only">Détail</span>
                                    </fa-icon>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a [routerLink]="['/calendrier-execution', contrat.id,'ajouterEvenement']" [queryParams]="{ from: currentUrl() }"
                       class="pull-left btn btn-sm btn-primary">Ajouter un événement </a>
                    <span class="pull-right"><a [routerLink]="['/calendrier-execution', contrat.id]">Tous les événements <i
                        class="fa fa-arrow-circle-right"></i></a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Debut structure 2 columns-->
    <div *ngIf="contrat?.service?.echangesChorus" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fas fa-exchange-alt"></i> Liste des échanges réalisés avec CHORUS pour ce contrat</h3>
        </div>
        <div class="panel-body">
            <div *ngIf="echangesCHORUS?.length == 0">Aucun échange CHORUS</div>
            <table *ngIf="echangesCHORUS?.length > 0"
                   class="table bordered-table zebra-striped table-highlight table-hover table-evenements">
                <thead>
                <tr>
                    <th class="col-fixed-3" scope="col">Numéro échange /<br>Agent</th>
                    <th class="col-fixed-1" scope="col">Numéro de l'acte</th>
                    <th class="col-fixed-2" scope="col">Statut de l'échange</th>
                    <th class="col-fixed-1" scope="col">Acquittement CHORUS</th>
                    <th class="col-fixed-1" scope="col">Contenu</th>
                    <th class="col-fixed-1" scope="col">Type d'acte</th>
                    <th class="col-fixed-3" scope="col">Organisation d'achat (OA) /<br>Groupe d'acheteurs (GA) /<br>Type
                        de marché
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let echangeChorus of echangesCHORUS;let index = index">
                    <td>
                        <div>
                            Echange N° {{ index + 1 }}<br>
                            <ltexec-utilisateur-link *ngIf="echangeChorus?.agent"
                                [utilisateur]="echangeChorus?.agent"></ltexec-utilisateur-link>
                        </div>
                    </td>
                    <td>
                        <div>{{ echangeChorus?.acte?.numero }}</div>
                    </td>
                    <td>
                        <div [ngSwitch]="echangeChorus?.statut?.value" class="text-center">
                            <div *ngSwitchCase="'1'">{{ echangeChorus?.statut?.label }} <i class="m-l-1 fas fa-check fa-lg txt-delivered"></i></div>
                            <div *ngSwitchCase="'2'">{{ echangeChorus?.statut?.label }} <i [tooltip]="echangeChorus?.erreurPublication"
                                                             class="m-l-1 fas fa-times-circle fa-lg txt-undelivered"></i>
                            </div>
                            <div *ngSwitchCase="'EN_COURS'">{{ echangeChorus?.statut?.label }} <i
                                class="m-l-1 fas fa-clock fa-lg"></i></div>
                            <div *ngSwitchDefault><i class="fas fa-question fa-lg"></i></div>
                        </div>

                    </td>
                    <td>
                        <!-- Retour chorus calculé  p-e -->
                        {{ echangeChorus?.retourChorus?.label }}
                    </td>
                    <td><a (click)="downloadChorusZip(echangeChorus)" *ngIf="echangeChorus != null"
                           class="text-center"
                           tooltip="Télécharger la fiche modificative"><i class="fas fa-file-archive fa-2x"></i></a>
                    </td>
                    <td> {{ echangeChorus?.acte?.type?.label }} </td>
                    <td>
                        <div *ngIf="echangeChorus?.acte?.titulaire">{{ echangeChorus?.acte?.titulaire?.etablissement?.description }} /</div>
                        <br>
                        <div *ngIf="echangeChorus">{{ echangeChorus?.organisationAchat }}
                            <br> {{ echangeChorus?.groupementAchat }}</div>
                        <br>
                        <div> {{ contrat?.type?.value }} - {{ contrat?.type?.label}} </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Debut structure 2 columns-->

    <!-- Debut Form actions-->
    <div class="form-group form-actions">
        <div class="pull-left">
            <button type="button" (click)="onBackClick()" class="btn btn-default btn-sm" value="Retour à la recherche"
                    data-toggle="modal"
                    data-target=".modal-confirmationRetour"><i class="fa fa-angle-double-left"></i> Retour à la
                recherche
            </button>
        </div>
    </div>
    <!-- //Fin Form actions-->
</ng-template>
