<h2>Tableau de suivi des contrats</h2>

<accordion [isAnimated]="true">
    <accordion-group [heading]="'Filtrer par'" [isOpen]="rechercheavanceeouverte">
        <form class="form-horizontal" role="form">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="inputKeyword">Mots-clés
                    <abbr class="icon"
                          data-placement="top"
                          data-toggle="tooltip"
                          tabindex="0"
                          title="Rechercher (3 caractères minimum) sur l'objet, le numéro ou l'agent responsable du contrat">
                        <i class="fa fa-question-circle"><span class="sr-only">Aide</span></i></abbr></label>
                <div class="col-sm-10">
                    <input
                        (blur)="updateSearchByMotsCles($event)"
                        [(ngModel)]="filtres.motsCles" class="form-control"
                        id="inputKeyword" name="motsCles"
                        placeholder="Rechercher (3 caractères minimum) sur l'objet, le numéro ou l'agent responsable du contrat" type="text">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Contrats de</label>

                <form class="col-sm-10">
                    <div *ngIf="!hideCheckBox" [(ngModel)]="monPerimetre" btnCheckbox class="btn-group"
                         name="perimetreCheckBtn">
                        <label (click)="perimetreClick()" btnCheckbox
                               class="btn btn-default" title="Moi">
                            <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        </label>
                    </div>
                    <div *ngIf="hideCheckBox" [(ngModel)]="perimetre" btnRadioGroup class="btn-group"
                         name="perimetreRadioBtn">

                        <label (click)="perimetreClick()" [class.active]="isPerimetreActive('MOI')"
                               btnRadio="MOI"
                               class="btn btn-default" title="Moi">
                            <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        </label>
                        <label (click)="perimetreClick()" *ngIf="hasPerimetre('SERVICE')"
                               [class.active]="isPerimetreActive('SERVICE')"
                               btnRadio="SERVICE"
                               class="btn btn-default" title="Mon service">
                            <fa-icon [icon]="['fas', 'users']"></fa-icon>
                        </label>
                        <label (click)="perimetreClick()" *ngIf="hasPerimetre('SERVICE_ET_SOUS_SERVICES')"
                               [class.active]="isPerimetreActive('SERVICE_ET_SOUS_SERVICES')"
                               btnRadio="SERVICE_ET_SOUS_SERVICES"
                               class="btn btn-default"
                               title="Mon service et les services dépendants de mon service">
                            <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
                        </label>
                        <label (click)="perimetreClick()" *ngIf="hasPerimetre('TOUT')"
                               [class.active]="isPerimetreActive('TOUT')"
                               btnRadio="TOUT"
                               class="btn btn-default" title="Toute l'entité publique">
                            <fa-icon [icon]="['fas', 'university']"></fa-icon>
                        </label>
                    </div>
                    <div class="btn-group" data-toggle="" role="group">
                        <label (click)="favorisClick()" [class.active]="filtres.favoris"
                               class="btn btn-default" title="Mes favoris">
                            <fa-icon [icon]="['far', 'star']"></fa-icon>
                        </label>
                    </div>
                </form>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Statut</label>

                <div class="col-sm-10">
                    <div class="btn-group btn-statut" data-toggle="">
                        <label (click)="statutANotifierClick()" [class.active]="filtres.statutANotifier"
                               class="btn btn-default filtre">
                            A notifier
                        </label>
                        <label (click)="statutNotifieClick()" [class.active]="filtres.statutNotifie"
                               class="btn btn-default filtre">
                            Notifié
                        </label>
                        <label (click)="statutEnCoursClick()" [class.active]="filtres.statutEnCours"
                               class="btn btn-default filtre">
                            En cours
                        </label>
                        <label (click)="statutClosClick()" [class.active]="filtres.statutClos"
                               class="btn btn-default filtre">
                            Clos
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <hr/>
        <form>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputKeyword">Type de contrat
                    </label>
                    <div>
                        <ng-select (change)="updateSearch()" [(ngModel)]="filtres.typesContrat"
                                   [clearable]="false"
                                   [items]="typesContrat" [multiple]="true"
                                   [searchable]="true" name="typesContrat"
                                   placeholder="Sélectionner un type de contrat"></ng-select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputKeyword">Catégorie principale
                    </label>
                    <div>
                        <ng-select (change)="updateSearch()" [(ngModel)]="filtres.categories"
                                   [clearable]="false"
                                   [items]="categories" [multiple]="true"
                                   [searchable]="true" name="categories"
                                   placeholder="Sélectionner une catégorie"></ng-select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Contrat chapeau</label>
                    <div>
                        <ui-switch (change)="filtres.chapeau=$event;updateSearch()"
                                   [(ngModel)]="filtres.chapeau"
                                   name="chapeau"></ui-switch>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Considération(s) sociale(s)
                    </label>
                    <div>
                        <ui-switch (change)="filtres.considerationsSociales=$event;updateSearch()"
                                   [(ngModel)]="filtres.considerationsSociales"
                                   name="considerationsSociales"></ui-switch>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Considération(s) environnementale(s)
                    </label>
                    <div>
                        <ui-switch (change)="filtres.considerationsEnvironnementales=$event;updateSearch()"
                                   [(ngModel)]="filtres.considerationsEnvironnementales"
                                   name="considerationsEnvironnementales"></ui-switch>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Date prévisionnelle de notification
                    </label>
                    <div>
                        <input (bsValueChange)="filtres.datePrevisionnelleNotification=$event;updateSearch()"
                               [bsConfig]="{ isAnimated: true}"
                               bsDaterangepicker
                               class="form-control"
                               name="datePrevisionnelleNotification" placeholder="Choisissez une date ..."
                               type="text">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Date définitive de notification
                    </label>
                    <div>
                        <input (bsValueChange)="filtres.dateNotification=$event;updateSearch()"
                               [bsConfig]="{ isAnimated: true}"
                               bsDaterangepicker
                               class="form-control"
                               name="dateNotification" placeholder="Choisissez une date ..."
                               type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Date définitive de fin de marché
                </label>
                    <div>
                        <input (bsValueChange)="filtres.dateFinContrat=$event;updateSearch()"
                           [bsConfig]="{ isAnimated: true}"
                           bsDaterangepicker
                           class="form-control"
                           name="dateFinContrat" placeholder="Choisissez une date ..."
                           type="text">
                </div>
            </div>
                <div class="form-group col-md-4">
                    <label>Date définitive de fin maximale de marché
                </label>
                    <div>
                        <input (bsValueChange)="filtres.dateMaxFinContrat=$event;updateSearch()"
                           [bsConfig]="{ isAnimated: true}"
                           bsDaterangepicker
                           class="form-control"
                           name="dateMaxFinContrat" placeholder="Choisissez une date ..."
                           type="text">
                </div>
            </div>
            </div>
        </form>
    </accordion-group>
</accordion>
<!--Fin Panel Filtres-->
<!--Debut Tableau resultats-->

<div *ngIf="contrats.totalElements == 0 && showCustomEmptyMessage" class="panel-table">
    <div class="panel-body">
        <h4><i
            class="fas fa-hourglass-start fa-2x txt-undelivered m-r-10"></i><span class="text-danger">Votre contrat est actuellement en cours
            de synchronisation dans le module de gestion administrative des contrats. Merci de réessayer
            ultérieurement.</span></h4>
    </div>
</div>
<br>

<ltexec-tableau-contrats (onSelectContrat)="onSelectContrat($event)" [contrats]="contrats" [filtres]="filtres" [sort]="sort"></ltexec-tableau-contrats>
<!--Fin Tableau resultats-->
