<ng-template [ngIf]="contrat != null && contrat.chapeau">
    <div class="montant-item montant">
        <span class="unwrap full"><abbr title="Attribué">MAX&nbsp;</abbr> <span *ngIf="contrat.montant != null">{{contrat.montant | currencyEuro}}</span></span>
    </div>
</ng-template>
<ng-template [ngIf]="contrat != null && contrat.idContratChapeau == null && !contrat.chapeau">
    <div class="montant-item montant">
        <div class="intitule-abbr col-10"><abbr title="Attribué">A :</abbr></div>
        <span class="unwrap" *ngIf="contrat.montant != null"> {{contrat.montant + contrat.montantTotalAvenants | currencyEuro}}</span>
    </div>
    <div class="montant-item montant-facture">
        <div class="intitule-abbr col-10"><abbr title="Facturé">F :</abbr></div>
        <span class="unwrap" *ngIf="contrat.montantFacture != null"> {{contrat.montantFacture | currencyEuro}}</span>
    </div>
    <div class="montant-item montant-mandate">
        <div class="intitule-abbr col-10"><abbr title="Mandaté">M :</abbr></div>
        <span class="unwrap" *ngIf="contrat.montantMandate != null"> {{contrat.montantMandate | currencyEuro}}</span>
    </div>
</ng-template>
<ng-template [ngIf]="contrat != null && contrat.idContratChapeau != null">
    <a [routerLink]="['/ficheContrat', contrat.idContratChapeau]"
       tabindex="-1" role="menuitem">Voir le contrat chapeau</a>
</ng-template>
