<ng-template [ngIf]="contrat != null">

    <accordion [isAnimated]="true">
        <accordion-group [isOpen]="isOpen" (isOpenChange)="isOpen=$event" heading="Contrat :Marché N° {{contrat.referenceLibre}} - {{contrat.objet}}">
            <h3 class="panel-title fixed-height row">
                <div class="col-md-2">Contrat :</div>
                <div class="col-md-8 overflow-string">Marché N° {{contrat.referenceLibre}} - {{contrat.objet}}</div>
                <div class="col-md-2 panel-nav">
                    <ul class="list-inline pull-right">
                        <li *ngIf="moduleExecution"><button [routerLink]="['/tableauDeBord', contrat.id]" class="btn btn-primary btn-chart"
                               title="Tableau de bord">
                            <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
                        </button>
                        </li>
                        <li><button [routerLink]="['/ficheContrat', contrat.id]" class="btn btn-primary btn-action"
                               title="Fiche Contrat">
                            <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
                        </button></li>
                    </ul>
                </div>
            </h3>
            <table class="table table-bordered table-striped table-suivi table-contrats table-hover">
                <caption class="sr-only">Détail du contrat</caption>
                <thead>
                <tr>
                    <th class="col-refs">N° contrat<br>N° consultation<br>Type de contrat / Catégorie<br>Statut<br>Agent
                        gestionnaire<br></th>
                    <th>Objet du
                        contrat<br><span>Direction/Service</span><br>{{ 'contrat.attributaire' | surchargeLibelle :'Attributaire' }}
                        (s)<br></th>
                    <th class="col-dates"><strong>Dates :</strong><br>Notification<br>Fin max. de contrat<br>Fin
                        actuelle
                    </th>
                    <th class="col-montants"><strong>Montants EUR HT :</strong><br>Attribué<br>Facturé<br>Mandaté
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-refs">
                        <ltexec-contrat-infos-references [contrat]="contrat"></ltexec-contrat-infos-references>
                    </td>
                    <td>
                        <ltexec-contrat-infos-description [contrat]="contrat"></ltexec-contrat-infos-description>
                    </td>
                    <td class="col-dates">
                        <ltexec-contrat-infos-dates [contrat]="contrat"></ltexec-contrat-infos-dates>
                    </td>
                    <td class="col-montants" headers="header_5">
                        <ltexec-contrat-infos-montants [contrat]="contrat"></ltexec-contrat-infos-montants>
                    </td>

                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</ng-template>
