<ng-template [ngIf]="contrat != null">

    <a (click)="onSelect.emit(contrat)" class="ref">{{ contrat.referenceLibre }}</a>

    <ng-template [ngIf]="contrat.consultation != null">
        <div class="num-consultation">{{ contrat.consultation.numero }}</div>
        <div>{{ contrat.numeroLong }}/{{ contrat.numero }}</div>
        <div>
            {{ contrat?.type?.label }}
        </div>
        <ltexec-categorie-consultation
            [categorie-consultation]="contrat.categorie"></ltexec-categorie-consultation>
    </ng-template>

    <div class="btn-group">
        <label [ngClass]="contrat.statut == 'ANotifier'? 'alert-warning ' : 'text-hide '" class="label-statut"
               tooltip="A notifier">AN</label>
        <label [ngClass]="contrat.statut == 'Notifie'? 'alert-warning ' : 'text-hide '" class="label-statut"
               tooltip="Notifié">N</label>
        <label [ngClass]="contrat.statut == 'EnCours'? 'alert-warning ' : 'text-hide'" class="label-statut"
               tooltip="En cours">EC</label>
        <label [ngClass]="contrat.statut == 'Clos'? 'alert-warning ' : 'text-hide'" class="label-statut"
               tooltip="Clos">C</label>
    </div>
    <div *ngIf="contrat.createur != null">{{ contrat.createur.prenom }} {{ contrat.createur.nom | uppercase }}
    </div>

</ng-template>

