
<h2 class="text-primary">Fiche Contrat</h2>

<!--Debut Panel Contrat-->
<ltexec-contrat-recap *ngIf="!masquerNavigation" [contrat]="contrat"></ltexec-contrat-recap>
<!--Fin Panel Contrat-->


<div *ngIf="!contrat">
    <div class="panel-body">
        <h4><i
            class="fas fa-hourglass-start fa-2x txt-undelivered m-r-10"></i><span class="text-danger">Votre contrat est actuellement en cours
            de synchronisation dans le module de gestion administrative des contrats. Merci de réessayer
            ultérieurement.</span></h4>
    </div>
</div>

<div *ngIf="contrat != null">
    <ltexec-fiche-contrat-nouveau (editionModeEvent)="onBlocEditionMode($event)" (onExport)="exporter($event)"
                                  (onSave)="onSave.emit($event)" [masquerNavigation]="masquerNavigation"
                                  [contrat]="contrat"
                                  [isCreation]="false"></ltexec-fiche-contrat-nouveau>


    <!-- // Début Panel Attributaires-->
    <div *ngIf="!masquerNavigation" class="panel panel-default bloc-toggle">
        <div class="panel-heading" role="tab" id="headingAttributaires">
            <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseAttributaires"
                                       aria-expanded="true"
                                       aria-controls="collapseAttributaires"><i class="fa"></i>Titulaire /
                Groupement</a></h3>
        </div>
        <div id="collapseAttributaires" class="panel-collapse collapse in" role="tabpanel"
             aria-labelledby="headingAttributaires">
            <div class="panel-body">
                <ng-template [ngIf]="contrat != null && !contrat.chapeau">
                    <ltexec-arborescence-attributaires [contratId]="contratId" [contrat]="contrat"
                                                       [visualisation]="true"></ltexec-arborescence-attributaires>

                    <a (click)="goToAttributaires()" class="btn btn-sm btn-primary voffset2"><i
                            class="fa fa-search-plus fa-flip-horizontal"></i> Détail des contractants</a>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- actes -->
    <div class="panel panel-default bloc-toggle" *ngIf="contrat?.publicationDonneesEssentielles">
        <div class="panel-heading" id="headingDonneesEssentielles" role="tab">
            <h3 class="panel-title"><a aria-controls="collapseDonneesEssentielles" aria-expanded="true"
                                       data-parent="#accordion"
                                       data-toggle="collapse" href="#collapseDonneesEssentielles"><i class="fa"></i>Données
                essentielles</a></h3>
            <!-- Nav tabs -->
            <div class="clearfix"></div>
            <!-- // FinNav tabs -->
        </div>
        <div aria-labelledby="headingDonneesEssentielles" class="panel-collapse collapse in"
             id="collapseDonneesEssentielles" role="detabpanel">
            <div class="panel-body">
                <div class="panel-body">
                    <label>Publication du contrat
                    </label>
                    <div class="controls" style="width: 100%" [ngSwitch]="contrat.donneesEssentielles?.statut">
                        <p *ngSwitchCase="'PUBLIE'" title="Publié" class="text-success">Publié
                                <fa-icon icon="check"></fa-icon>
                            </p>
                            <p *ngSwitchCase="'NON_PUBLIE'" title="Non publié"
                               class="text-info">Non publié
                                <fa-icon icon="times-circle"
                                         [tooltip]="contrat.donneesEssentielles?.erreurPublication"></fa-icon>
                            </p>
                            <p *ngSwitchCase="'EN_COURS'" title="EN cours" class="text-info"> En cours de publication
                                <fa-icon icon="clock"></fa-icon>
                            </p>
                            <p *ngSwitchCase="'A_PUBLIER'" title="À publier" class="text-info">
                                À publier
                                <fa-icon icon="clock"></fa-icon>
                            </p>
                        <p *ngSwitchCase="'ERROR'" title="Non publié"
                           class="text-info">Non publié
                            <fa-icon icon="times-circle"
                                     [tooltip]="contrat.donneesEssentielles?.erreurPublication"></fa-icon>
                        </p>
                    </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Tab -->
                    <div class="tab-pane fade in active" role="detabpanel">

                        <table *ngIf="actes.length > 0"
                               class="table table-condensed bordered-table zebra-striped table-hover">
                            <caption class="sr-only">Données essentielles des actes</caption>
                            <thead>
                            <tr>
                                <th scope="col" style="width: 10%">Notification</th>
                                <th scope="col" style="width: 20%">Type d'acte</th>
                                <th class="text-center" data-fixed-columns="true" scope="col" style="width: 30%;">Statut de la publication aux données essentielles</th>
                                <th class="text-center" data-fixed-columns="true" scope="col" style="width: 30%">Date de publication aux données essentielles</th>
                                <th class="text-center" scope="col" style="width: 10%"><a>Actions</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let acte of actes">
                                <td>{{acte.dateNotification}}</td>
                                <td>{{acte?.type?.label}}</td>
                                <ng-container *ngIf="acte.donneesEssentielles">
                                    <td [ngSwitch]="acte.donneesEssentielles?.statut" class="text-center">
                                        <div *ngSwitchCase="'PUBLIE'" title="Publié">
                                            <fa-icon icon="check" size="2x"></fa-icon>
                                        </div>
                                        <div *ngSwitchCase="'NON_PUBLIE'" title="Non publié"
                                             class="form-control-static">
                                            <fa-icon icon="times-circle" size="2x"
                                                     [tooltip]="acte.donneesEssentielles?.erreurPublication"></fa-icon>
                                        </div>
                                        <div *ngSwitchCase="'EN_COURS'" title="EN cours" class="form-control-static">
                                            <fa-icon icon="clock" size="2x"></fa-icon>
                                        </div>
                                        <div *ngSwitchCase="'A_PUBLIER'" title="À publier" class="form-control-static">
                                            <fa-icon icon="clock" size="2x"></fa-icon>
                                        </div>
                                        <div *ngSwitchCase="'ERROR'" title="Non publié"
                                             class="form-control-static">
                                            <fa-icon icon="times-circle" size="2x"
                                                     [tooltip]="acte.donneesEssentielles?.erreurPublication"></fa-icon>
                                        </div>
                                    </td>
                                    <td [ngSwitch]="acte.donneesEssentielles?.statut" class="text-center">
                                        <div
                                            *ngSwitchCase="'PUBLIE'">{{ acte.donneesEssentielles?.datePublication | date: 'dd/MM/yyyy' }}</div>
                                        <div *ngSwitchCase="'NON_PUBLIE'"
                                             class="form-control-static">{{ acte.donneesEssentielles?.datePublication | date: 'dd/MM/yyyy' }}
                                        </div>
                                        <div *ngSwitchCase="'EN_COURS'" class="form-control-static">-</div>
                                        <div *ngSwitchCase="'ERROR'"
                                             class="form-control-static">{{ acte.donneesEssentielles?.datePublication | date: 'dd/MM/yyyy' }}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="!acte.donneesEssentielles">
                                    <td class="text-center">
                                        <div class="form-control-static"><i class="m-l-1 fas fa-clock fa-lg"></i></div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-control-static">-</div>
                                    </td>
                                </ng-container>

                                <td class="col-actions text-center">
                                    <a [routerLink]="['/actes/afficher', contratId, acte.id]"
                                       class="btn btn-primary btn-sm btn-action" title="Accéder à l'acte">
                                        <i class="fas fa-external-link-alt"><span class="sr-only">Détail</span></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <!-- Debut Modal Avenant-->
                        <!-- // Fin Modal Avenant-->
                    </div>
                    <!-- // Fin Tab -->
                </div>
            </div>
        </div>
    </div>
    <ltexec-confirmation-retour-modale (onResolve)="onConfirmResolve($event)"
                                       [display]="displayConfirm"></ltexec-confirmation-retour-modale>
</div>


<!-- Debut Form actions-->
<div *ngIf="!masquerNavigation" class="form-group form-actions">
    <div class="pull-left">
        <button type="button" (click)="onBackClick()" class="btn btn-default btn-sm" value="Retour à la recherche"
                data-toggle="modal"
                data-target=".modal-confirmationRetour"><i class="fa fa-angle-double-left"></i> Retour à la recherche
        </button>
    </div>
</div>
<!-- //Fin Form actions-->
