<div class="card border-left-primary border-left-3" [ngClass]="{'card-inactif':!_model.actif}" *ngIf="model">
  <div class="card-content">
    <div class="card-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="account-vertical-general"
             aria-labelledby="account-pill-general" aria-expanded="true">
          <div class="row">
            <div class="col-md-8">
              <h4><span style="font-weight: 600;"> {{model.version}}

                <div *ngIf="model.actif"
                     class="badge badge-pill badge-glow badge-success margin-left-5px badge-sm">
                  Actif
                </div>
                <div *ngIf="!model.actif"
                     class="badge badge-pill badge-glow badge-danger margin-left-5px badge-sm">
                  Inactif
                </div>
              </span>
              </h4>

            </div>
            <div class="col-md-4">


              <div class="float-md-right">
                <span [title]="'publicationClausier.listPublicationClausier.datePublication' | translate"><i
                  class="la la-save"></i>
                  {{model.datePublication | date: 'dd/MM/yyyy HH:mm' : 'fr-FR'}}</span>
                <span *ngIf="!!model.dateActivation"
                      [title]="'publicationClausier.listPublicationClausier.dateActivation' | translate">| <i
                  class="la la-toggle-on"></i>
                  {{model.dateActivation | date: 'dd/MM/yyyy HH:mm' : 'fr-FR'}}</span>
              </div>


              <br/>

            </div>
          </div>
          <hr>
          <div *ngIf="showDetails">
            <div class="row ">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                  <h6>
                    <strong>{{"publicationClausier.listPublicationClausier.gestionLocale" | translate}}
                      :</strong>
                    <span> {{model.gestionLocal | valueFromBoolean }}</span>
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div>
                  <h6><strong>Editeur :</strong>
                    <span> {{model.editeur }}</span>
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <h6><strong>Créée par :</strong>
                  <span class="avatar pl-1">
                                    <img
                                      [src]="'assets/images/portrait/small/default.png' | imageUrl"
                                      alt="avatar"></span> {{model.nomCompletUtilisateur}}</h6>
              </div>

              <div class="col-12">
                <h6><strong>{{"publicationClausier.listPublicationClausier.commentaires" | translate}}
                  :</strong>
                  {{model.commentaire}}
                </h6>
              </div>
            </div>
            <hr>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div>
                <a>
              <span (click)="showDetails=true" *ngIf="!showDetails">
                <i class="ft-plus"></i> {{'plus-info' | translate}}
              </span>
                  <span (click)="showDetails=false" *ngIf="showDetails">
                <i class="ft-minus"></i>  {{'moins-info' | translate}}
              </span>

                </a>
                <div class="float-md-right">
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          (click)="openModalModif()">
                    <i class="ft-edit-1"></i>
                    Modifier le commentaire
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          *ngIf="!!model.idClausierFile && !!model.idReferentielFile" (click)="download()"
                  ><i
                    [ngClass]="{'ft-download':!loadingExport ,'fa fa-spin fa-spinner':loadingExport}"></i>
                    Télécharger
                  </button>
                  <button type="button"
                          class="btn btn-success success-client-bg-border btn-sm margin-right-5px"
                          [disabled]="loadingActivation || loadingActivationVersion"
                          *ngIf="!model.actif && !!model.idClausierFile && !!model.idReferentielFile"
                          (click)="activate()"
                  ><i [ngClass]="{'ft-toggle-right':!loadingActivationVersion ,'fa fa-spin fa-spinner':loadingActivationVersion}"></i>

                    Activer
                  </button>


                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


