/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

// Variables


// Paths

$font-path:                   "../fonts/";
$img-path:                   "../img/";

// Typography

$font-family-sans-serif:  	   Arial, Helvetica, sans-serif !default;
$fontAwesome:                  'FontAwesome' !default;

// Color

$color-base:           		   #333 !default;
$color-primary:        		   #3d6ba6 !default;
$color-secondary:        	   #fbb045 !default;
$color-danger:        	       #d43f3a !default;
$color-warning:        	       #ff0000 !default;
$color-success:        	       #398439 !default;
$color-info:        	       #689fd1 !default;
$color-off:        	           #ddd !default;


// Buttons

$btn-default-color:    		   $color-primary !default;
$btn-default-border-color:     darken($color-primary, 15%) !default;
$btn-hover-color:       	   lighten($btn-default-color, 15%) !default;
$btn-hover-border-color:       lighten($btn-default-border-color, 15%) !default;

// Links
$link-default-color:    	   $color-primary !default;
$link-hover-color:      	   darken($link-default-color, 15%) !default;

// Panels
$panel-bg:                     #eee !default;
$panel-title-color:            $color-primary !default;
$panel-bg-highlight:           #689fd1 !default;
$panel-table-border:           1px solid #ddd !default;
$panel-table-header-footer-bg: #f9f9f9 !default;

//Sidebar
$menu-bg:                      #f5f5f5 !default;
$menu-border:                  1px solid #ddd !default;
$menu-actif-bg:                #689fd1 !default;
$menu-actif-border:            #ddd !default;
$sous-menu-border:             1px solid #ddd !default;

// Tables
$bordered-table-thead-bg:      #eee !default;
$table-hover-color:            #fff7d8 !default;



