/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/* Scss Document */

@import "mixins";
@import "variables";

/*General*/

@font-face {
  font-family: 'custom';
  src: url('#{$font-path}custom/custom.eot?xz6fpr');
  src: url('#{$font-path}custom/custom.eot?#iefixxz6fpr') format("embedded-opentype"), url('#{$font-path}custom/custom.ttf?xz6fpr') format("truetype"), url('#{$font-path}custom/custom.woff?xz6fpr') format("woff"), url('#{$font-path}custom/custom.svg?xz6fpr#custom') format("svg");
  font-weight: normal;
  font-style: normal;
}


body {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

abbr {
  &.btn-link, &.icon {
    border: 0;
  }
}

.off {
  color: $color-off !important; 
}

a {
  color: $link-default-color;
  &:hover, &:focus {
    color: $link-hover-color;
  }
  &.btn-link {
    &:hover {
      text-decoration:none;
    }
	&.off:hover {
	  .fa { 
        color: $link-hover-color !important;
      }
	}
  } 
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-top: 2px;
}

label.normal {
  font-weight: normal;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  color: $panel-title-color;
}

.voffset {
  margin-top: 2px !important;
}

.voffset1 {
  margin-top: 5px !important;
}

.voffset2 {
  margin-top: 10px !important;
}

.voffset3 {
  margin-top: 15px !important;
}

.voffset4 {
  margin-top: 30px !important;
}

.voffset5 {
  margin-top: 40px !important;
}

.voffset6 {
  margin-top: 60px !important;
}

.voffset7 {
  margin-top: 80px !important;
}

.voffset8 {
  margin-top: 100px !important;
}

.voffset9 {
  margin-top: 150px !important;
}

div.inline {
  display:inherit;
}

#bloc-loader {
  height: 100%;
  width: 100%;
  top:0;
  position: fixed;
  z-index: 9999999;
  text-align: center;
  opacity: 0.7;
  display: none;
  .loader {
    background: url(../img/ajax-loader.gif) #767676 no-repeat center 10px;
    width: 120px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    top: 30%;
    color: #fff;
    left: 50%;
    margin-left: -60px;
    padding: 50px 0 10px;
  }
  i {
	font-size:2.5em;
    display:block;
	margin-bottom:20px;
  }
}

.text-xl {
  font-size: 2em;
  font-weight: 400;
}

.row {
  padding: 5px 0;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-inverse {
  .navbar-toggle {
    border: 0;
    background: none;
    &:hover, &:focus {
      border: 0;
      background: none;
    }
    .icon-bar {
      background-color: $color-primary;
    }
  }
  @include gradient-vertical($start-color: #fefefe, $end-color: #e8e8e8, $start-percent: 0%, $end-percent: 100%);
  border-color: #e3e3e3;
}

.navbar-toggle {
  margin-top: 0;
}

.navbar-inverse {
  .container {
    width: auto;
  }
  .navbar-nav > .open > a {
    background: none;
    &:hover, &:focus {
      background: none;
    }
  }
}

.navbar-collapse {
  border-top: 0 !important;
  &.in ul, &.collapsing ul {
    background: #fff;
  }
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background: none;
}

.navbar-header {
  padding-top: 9px;
  height: 50px;
}

.navbar-brand {
  background: url(../img/icon-logo-big.png) no-repeat;
  text-indent: -99999px;
  line-height: 0;
  font-size: 0;
  height: 30px;
  margin: 0 0 0 0 !important;
  width: 165px;
  h1 {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
    display: block;
    float: left;
    font-size: 1.3em;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-weight: normal;
    line-height: normal;
  }
  .dropdown-menu a {
    color: #999;
  }
}

.navbar-header .navbar-collapse {
  float: right;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.sidebar {
  width: 180px;
  float: left;
}

.content {
  margin-left: 200px;
}

.container-fluid {
  min-width: 984px;
  .content > h2 {
    margin-bottom: 20px;
  }
}

.sidebar {
  .glyphicon {
    display: none;
  }
  ul {
    padding: 0;
    > li {
      list-style-type: none;
      a {
        &.collapsed {
          margin-bottom: 5px;
          border-bottom-width: 1px;
          @include border-radius(4px);
          margin-bottom: 5px;
        }
        padding: 10px;
        display: block;
        background: $menu-bg;
        border: $menu-border;
		@include border-radius(4px 4px 0 0);
        margin-bottom: 0;
        border-bottom-width: 0;
        text-decoration: none;
      }
    }
    ul {
      border: $sous-menu-border;
      margin-bottom: 5px;
      padding: 10px;
	  @include border-radius(0 0 4px 4px);
      a {
        background: none;
        padding: 0;
        border: 0;
        &:hover {
          text-decoration: underline;
        }
      }
      ul {
        border: 0 !important;
        padding: 0 !important;
      }
      li {
        padding: 5px 0;
      }
    }
  }
}

.quick-search .input-group-btn .fa {
  font-size: 1.2em;
}

.sidebar ul li.active > a {
  background: $menu-actif-bg;
  color: #fff;
}

.chosen-container {
  width: 100% !important;
}

div.tagsinput {
  width: 100% !important;
  @include border-radius(3px);
  padding: 3px 5px 0;
  input {
    color: #999;
  }
}

.daterange {
  width: 200px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
  position: absolute;
  left: 0;
}

.message-preview {
  color: #999;
  position: relative;
  margin-bottom: 20px;
  *zoom: 1;
}

.btn-statut {
  .btn-primary {
    background-color: #fff;
    color: #666;
  }
  .active {
    background-color: $color-secondary;
    color: #fff;
    text-shadow: none;
  }
}

.btn-group {
  margin-right: 10px;
  .icone {
    display: inline-block;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    background-position: center;
    overflow: visible;
    position: relative;
    top: 2px;
  }
}

.btn-group .icone, .add-favorite .icone, .btn-group .fa-star {
  display: inline-block;
  background-repeat: no-repeat;
  height: 15px;
  width: 16px;
  background-position: center;
  overflow: visible;
  position: relative;
  top: 2px;
}

.btn-group {
  .fa-star {
    background-image: url(../img/empty-star.png);
	margin-bottom:-2px;
	top:0;
	&:before {
	  content:'' !important;
	}
  }
  .active .fa-star  {
    background-image: url(../img/full-star.png);
  }
}

.icone-mon-service {
  background-image: url(../img/icone-mon-service.png);
}

.icone-services-dependants {
  background-image: url(../img/icone-services-dependants.png);
}

.desc-activite {
  height: 2.91em;
}

.desc-objet {
  height: 2.91em;
  margin-bottom: 0.7em;
}

.desc-consultation, .desc-naf {
  height: 1.5em;
}

.desc-reponse {
  height: 1.5em;
  .message-preview {
    padding-left: 15px;
    box-sizing: border-box;
    &:before {
      content: "\f112";
      font-family: $fontAwesome;
      padding-right: 5px;
      color: #333;
    }
  }
}

.read-more {
  &.box.opened {
    height: auto;
  }
  a {
    font-size: 0.9em;
  }
  .toggle {
    display: none;
    .close-btn {
      display: none;
    }
  }
  &.opened .toggle .open {
    display: none;
  }
  .toggle .opened {
    display: inline;
  }
  &.opened {
    .toggle .close-btn, a {
      display: inline;
    }
  }
}

.desc-objet .toggle, .desc-reponse .toggle {
  display: none !important;
}

.add-favorite {
  .btn {
    padding: 0;
    box-shadow: none;
  }
  display: inline-block;
  width: 20px;
  height: 20px;
  .icone {
    background-image: url(../img/empty-star.png);
  }
  .active .icone {
    background-image: url(../img/full-star.png);
  }
}

/*Panels*/

.panel {
  .panel-title {
    padding: 0 10px 15px 0;
    font-size: 1.2em;
    font-weight: 600;
    color: $panel-title-color;
  }
  h3.panel-title {
    font-size: 1em;
  }
  h5.panel-title {
    font-size: 1em;
  }
  .panel-heading {
    position: relative;
    .dropdown-toggle {
      position: absolute;
      top: 4px;
      right: 10px;
    }
	.panel-title {
	  padding-bottom:0;
	}
  }
  .row.container-fluid {
    min-width: inherit;
    div:nth-of-type(even) {
      float: none;
    }
  }
  
  &.panel-info, &.panel-success, &.panel-warning, &.panel-danger {
    .panel-heading {
	  padding:10px 15px;
	  .panel-title, .panel-title a:hover, .panel-title a:focus {
		padding:0;
		font-size:1em !important;
		color:inherit !important;
		.fa {
		  padding-right:10px;
		  vertical-align:sub;
		}
	  }
	}
	.panel-body {
      background:#fff;
      @include border-radius(3px);
      color: $color-base;  
    }	  
  }
  .panel.panel-attributaires, & .list-group {
    margin-bottom:0;
  }
}

.bloc-toggle {
  .panel-heading {
    padding: 0;
  }
  .panel-title {
    overflow: auto;
    padding: 10px !important;
    a {
      display: block;
      text-decoration: none;
      color: $color-primary;
      .fa {
        font-family: $fontAwesome;
        width: 0.8em;
        float: left;
        &:before {
          content: "\f0d7";
        }
      }
      &:hover.website {
        text-decoration: underline;
      }
    }
    .collapsed .fa:before {
      content: "\f0da";
    }
  }
  h3 {
    font-size: 1em;
    font-weight: 600;
  }
  h4 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 0;
  }
  .col-statut > div {
    margin-bottom: 0.5em;
  }
  .col-actions {
    > div {
      margin-bottom: 0.5em;
    }
    .btn {
      margin-right: 10px;
    }
  }
  .barre-etape {
    margin-right: 10px;
    float: left;
    margin-top: 2px;
  }
}

.bloc-recap {
  .row > div {
    display: table-cell !important;
    vertical-align: top;
  }
  .panel-title {
    div {
      display: table-cell !important;
      vertical-align: top;
    }
    .col-md-2 {
      float: left;
      width: 190px;
      padding: 0;
    }
    .col-md-10 {
      float: none;
      padding: 0;
    }
  }
  .panel-body {
    padding: 10px 15px 15px;
    display: block;
    .col-md-2 {
      width: 200px;
    }
  }
}

.panel .panel-body + .panel-body {
  border-top: 1px solid;
}

.panel-filtres {
  margin-bottom: 20px;
  color: inherit;
  background-color: $panel-bg;
  .panel-heading {
    background: $panel-bg;
    border: 0;
  }
  .panel-body {
    padding: 10px 10px 0;
  }
  .form-horizontal {
    display: inline-block;
    width: 100%;
  }
  .panel-body {
    overflow: inherit;
  }
}

.panel-body {
  display: inline-block !important;
  width: 100%;
  &:after {
    display: none;
  }
}

.recap-fournisseur {
  .panel-heading {
    width: 100%;
    background: $panel-bg-highlight !important;
  }
  .panel-title {
    font-size: 1.3em !important;
    font-weight: normal;
    display: table-cell;
    color: #fff;
    a {
      color: #fff;
      display: inline-block;
    }
  }
  .panel-footer .fa {
    font-size: 1.2em;
    height: 10px;
  }
  > a {
    display: table;
    width: 100%;
  }
  .panel-body .col-md-2 {
    width: 120px;
    float: left;
  }
}

.panel-message {
  .panel-heading .panel-title {
	padding:10px;
  }
  &.bloc-toggle {
    .panel-heading .panel-title {
      border:0;
      padding:0 5px !important;
      a {
	    padding:10px;
  	    display:block;
      }
    }
   .panel-collapse {
	  height:45px;
	  min-height:45px !important;
	  overflow:hidden;
	  .cover { 
	    @include gradient-directional(transparent, #fff, 180deg);
	    position:absolute; 
		display:block;
	    top:0; 
	    width:100%; 
	    height:45px;
      }
	  &.in , &.collapsing { 
	    height:auto;
		.cover { display:none; }
	  }
    }
    .collapse {
   	  display:block;
	  visibility:visible;
    }
  }
  .panel-heading {
	 /*background:none;*/
	 border-bottom:0;
	 padding:0;
   }
   .panel-body {
	 padding: 10px 15px 15px;
     position:relative;
	 .panel-title {
	   padding:0 0 15px;
     }
   }
   .panel-heading span {
     font-style:italic;
	 font-weight:normal;
     float:right;
   }
  .title-reponse:before {
    content: "\f112";
	font-family: $fontAwesome;
	padding-right: 5px;
  }
  div[class^="bloc-"]+div[class^="bloc-"] {
    padding-top:30px;
  }
}

.notifications {
  display: table-cell;
  text-align: right;
  .badge {
    background: $color-primary !important;
    min-height: 10px;
  }
  .glyphicon {
    font-size: 0.8em;
  }
}

.intitule-abbr {
  display: block;
  clear: both;
  float: left;
  text-align: left;
}

.panel-table {
  border: $panel-table-border;
  @include border-radius(4px);
}

.panel-header, .repeater-footer {
  background: #f9f9f9;
  min-height: 50px;
  padding: 8px;
  *zoom: 1;
}

.panel-table {
  .repeater-header-title {
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
  }
  .repeater-pagination, .repeater-itemization {
    float: left;
  }
  .repeater-pagination {
    margin-left: 20px;
      .repeater-primaryPaging {
		display: none;
		vertical-align: middle;
		width: 116px;
		&.active {
		  display: inline-block;
		}
		ul.dropdown-menu {
		  min-width: 116px;
		}
      }
      .repeater-secondaryPaging {
		display: none;
		width: 50px;
		&.active {
	    display: inline-block;
      }
	}
  }
  .repeater-header, .repeater-footer {
    background: $panel-table-header-footer-bg;
    min-height: 50px;
    padding: 8px;
    *zoom: 1;
    @include border-radius(4px);
  }
  .repeater-header-right, .repeater-footer-right {
    float: right;
  }
  .repeater-header-left, .repeater-footer-left {
    float: left;
  }
  table {
    thead > tr > th:first-child, tbody td:first-child {
      border-left: none;
    }
  }
}

.panel-table .table-bordered {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      border-right: 0;
    }
    thead > tr {
      background: $bordered-table-thead-bg;
    }
  }
}

.repeater-itemization .btn-group {
  margin-right: 0;
}

.repeater-pagination .form-control, .repeater-itemization .btn, .repeater-pagination .btn {
  height: auto;
  padding: 1px 6px;
  vertical-align: middle;
}

/*Table + Pagination*/

.pagination {
  margin: 10px 0 10px;
}

.table {
  margin-bottom: 10px;
  thead a {
    margin: 0 5px 0 0;
    &:hover {
      text-decoration: none;
    }
    .fa {
      margin: 3px 0 0 2px;
    }
    .caret {
      margin-left: 0;
    }
  }
  .col-favori {
    width: 30px;
  }
  caption {
    padding: 0 0 8px 0;
	font-weight:bold;
	a {
	  font-weight:normal; 		
	}
  }
  .col-dates {
    width: 120px;
  }
  .fa-sort {
    opacity: 0.5;
  }
  
  .col-check input {
    &[type="checkbox"], &[type="radio"] {
      margin-top: 0;
	}
  }
  .actions .btn {
    padding: 1px 10px;
  }
	
  .table .col-actions {
    text-align: center;
  }
	
  .line-actions {
    padding-top:10px;
    .btn, > div {
	  float:left;
	  margin-right:10px;
    }
  }
  .user, .commentaire-link {
    white-space: nowrap;
  }
}

.col-actions .btn-action {
  margin-right: 5px;
}

.btn-action {
  padding: 2px 10px;
}

.data-infos-top {
  padding: 1em 0 0;
}

.col-break {
  word-break: break-all;
}

.col-total {
  background: #f3f1f2 !important;
}

.row-total {
  background: #f3f1f2 !important;
  td {
    background: #f3f1f2 !important;
    font-weight: bold;
  }
}

.col-md-1.col-actions {
  width: 30px;
}

.col-md-2.col-actions {
  width: 110px;
}

.table-hover > tbody > tr:hover {
  background-color: $table-hover-color !important;
  td {
    background-color: $table-hover-color !important;
  }
}

.line-highlight td {
  background-color: $table-hover-color !important;
}

.table-suivi {
  .actions .btn  {
    margin-bottom: 0.5em;
  }
  .categorie {
    margin-left: 0.5em;
    img {
      vertical-align: baseline;
      margin-top: 2px;
    }
  }
  .objet-line {
    margin-top: 5px;
  }
  a.ref {
    font-weight: bold;
  }
}

.ref {
  font-weight: bold;
}

.table-suivi .col-montants {
  text-align: right;
}

.btn-add-favorite {
  border: 0;
  background: none;
}

.liste-contrats {
  h3 {
    font-size: 1.2em;
    margin: 0;
  }
  li {
    list-style-type: none;
    background: #f9f9f9;
    display: table;
    width: 100%;
    padding: 10px;
  }
}

.table-contrats {
  thead a:hover {
    text-decoration: underline !important;
  }
  .small {
    font-weight: normal;
  }
  .indent {
    padding-left: 20px;
  }
  .col-refs {
    width: 200px;
  }
  .col-dates {
    width: 140px;
  }
  .col-montants {
    width: 130px;
    text-align: right;
  }
  .col-dates .intitule-abbr {
    width: 4.2em;
  }
  .col-montants .intitule-abbr {
    width: 1.7em;
  }
  .auteur {
    clear: both;
    float: left;
  }
  .actions {
   /*width: 50px;*/
  }
  .badge-warning {
    background: $color-warning;
  }
}

.detail-activite {
  margin: 0 0 10px;
  &.well {
    padding:20px;
  }
  ul {
    margin: -15px 0 20px;
    padding: 0;
    min-width: 700px;
  }
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
  }
  .fa {
    font-size: 2.5em;
    color: #337ab7;
    vertical-align: top;
    margin: 2px 5px 2px;
  }
  li {
    &:first-child:before {
      content: inherit;
      display: none;
    }
    &:before {
      content: '\f105';
      font-family: $fontAwesome;
      color: #ddd;
      padding-right: 20%;
      font-size: 4em;
      position: absolute;
      margin-left: 0;
      left: -6px;
      top: -19px;
    }
  }
}

.table-consultations {
  .auteur {
    padding-top: 0.5em;
  }
  .detail-activite {
    display: inline-block;
    margin: 10px 5px 0;
    ul {
      min-width: inherit;
      width: 90px;
    }
    .fa {
      font-size: 1.8em;
      margin-left: -23px;
      top: -3px;
      cursor: default;
    }
    li:before {
      font-size: 2em;
      top: -10px;
      left: -12px;
      display: none;
    }
  }
  .col-dates {
    width: 100px;
  }
}

.line-prestation, .line-total {
  display: table;
  width: 100%;
}

.role {
  width: 200px;
  padding-bottom: 0.4em;
}

.line-prestation div, .line-total div {
  display: table-cell;
}

.line-prestation .montant {
  width: 55%;
  font-weight: 600;
}

.line-total {
  font-size: 0.9em;
  color: #999;
}

.line-prestation div:first-child {
  font-size: 0.9em;
}

.detail-activite {
  li {
    width: 33.3333% !important;
    float: left !important;
  }
}

.bloc-recap .table-contrats .col-refs {
  width: 215px;
}

.recap-contrat {
  .panel-body {
    padding: 0;
  }
  .table-contrats {
    margin-bottom: 0;
    border: 0;
    tr:first-child > {
      td, th {
        border-left: 0;
      }
    }
    th:last-child, td:last-child {
      border-right: 0;
    }
  }
}

.table-messages {
  .col-users {
    width: 190px;
  }
  .col-dates {
    width: 160px;
  }
  .emetteur {
    padding-bottom: 0.5em;
  }
  .type-msg {
    padding-bottom: 0.5em;
    font-weight: bold;
  }
}

.objet-msg + .tagsinput {
  min-height: auto !important;
  height: auto !important;
}

.workflow-dates {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  li {
    color: #999;
    height: 1.4em;
  }
  abbr {
    background: $color-secondary;
    display: inline-block;
    width: 1.4em;
    text-align: center;
    color: #fff;
    border: 0;
    margin: 0 1em 0 0;
    height: 1.3em;
    line-height: 1.3em;
  }
  .active {
    font-weight: bold;
    color: #333;
    abbr {
      background: $color-secondary;
      position: relative;
      font-weight: normal;
      &:before {
        color: $color-secondary;
        font-size: 2.2em !important;
        position: absolute;
        /*top:-0.2em; left:0.6em;*/
        line-height: 0;
        right: -51%;
        top: 0.3em;
        content: "\f0da";
        font-family: $fontAwesome;
      }
    }
    &.envoye {
      color: #ff0000;
      + li {
        color: #999;
      }
      abbr {
        background: #ff0000;
        &:before {
          color: #ff0000;
        }
      }
    }
    &.non-lu {
      color: #398439;
      + li {
        color: #398439;
      }
      abbr {
        background: #398439;
        &:before {
          color: #398439;
        }
      }
    }
  }
}

.table-uploads {
  .col-check {
    width: 20px;
    padding-right: 0;
  }
  .col-size {
    width: 90px;
  }
  .col-progress {
    width: 200px;
  }
  tr {
    border-bottom: 2px solid #fff;
  }
  td {
    border-left: 0 !important;
    background: #ededed;
  }
  tr .actions {
    text-align: right;
  }
  .progress {
    margin-bottom: 0;
    height: 10px;
    margin-bottom: 5px;
  }
  .line-signature {
    width: 100%;
    > div {
      width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
	i {
      vertical-align: middle;
    }
  }
  th.col-check input {
    margin: 4px 5px 5px 0;
  }
}

/*Tableau Contacts*/

.table-contacts {
  .indent-n1 td:first-child {
    padding-left: 30px;
  }
  .child {
    span[class^="treegrid"] {
      display: none;
    }
    .col-user {
      padding-left: 40px;
      .glyphicon {
        padding: 0 0.5em 0 0;
      }
      div {}
    }
    .col-tel {
      min-width: 130px;
    }
  }
  .col-actions {
    width: 120px;
  }
  th.col-actions {
    text-align: center;
  }
  .indent-n1 {
    background: #f3f1f2;
    .col-actions {
      border-left: 0;
      text-align: center;
    }
  }
  .radie {
    color: #999;
  }
  .col-contact {
    width: 200px;
  }
  .col-tel {
    width: 100px;
  }
  .col-contact {
    abbr {
      display: inline-block;
      float: left;
      clear: left;
    }
    .fa {
      width: 1.3em;
    }
  }
  .indent-n1:not(:first-child) td {
    border-top-width: 2px;
  }
}

.table-consultations .objet {
  clear: both;
  padding-top: 0.5em;
}

.table-fournisseurs {
  .desc {
    clear: both;
    padding-top: 0.5em;
  }
  .text-primary {
    margin-right: 10px !important;
  }
}

/*Tableau Attributaires*/

.table-attributaires {
  font-size: 0.9em;
  .actions {
    width: 60px;
	vertical-align:top;
  }
  .col-montants {
    padding-right: 20px;
  }
  .icon i {
    font-size: 1.2em;
  }
  .glyphicon-plus {
    font-size: 0.8em;
    font-weight: normal;
    float: left;
    display: block;
    width: 20px;
  }
  .icon {
    display: block;
    min-height: 20px;
    background: url(../img/icone-titulaire-groupement-solidaire.png) no-repeat;
    padding: 0 0 10px 36px;
    margin-bottom: -8px;
	margin-left:0px;
  }
  .row-attributaire .icon {
    margin-bottom: -9px;
  }
  .row-attributaire .icon-mandataire {
    background-position: 1px top;
  }
    th {
      background: #e4e4e4;
      font-weight: normal;
      vertical-align: top;
    }
    .row-attributaire th {
      background: #cdcdcd;
      border-bottom-width: 1px;
      font-weight: normal;
    }
  
  .icon strong {
    display: block;
    margin-bottom: 0.5em;
  }
  .indent-n1 {
    &:nth-child(odd) {
      background-color: #f3f1f2 !important;
    }
    background: #f9f9f9;
    &:not(:first-child) td {
      border-top-width: 2px;
    }
    &:nth-child(odd):hover {
      background-color: $table-hover-color !important;
    }
    td:first-child {
      padding-left: 30px;
    }
  }
  .child td:first-child {
    padding-left: 45px;
	
  }  
  .treegrid-expander-expanded {
    background: url(../img/btn-moins.png) no-repeat 14px 5px !important;
  }
  .treegrid-expander-collapsed {
    background: url(../img/btn-plus.png) no-repeat 14px 5px !important;
  }
  .treegrid-expander {
    margin-left: -15px;
  }
  .treegrid-expander-expanded, .treegrid-expander {
    background-position: 11px 2px;
    width: 27px;
  }
  .treegrid-expanded td:first-child {
    background: url(../img/tree-line.png) no-repeat 16px top !important;
  }
  .child {
    background: url(../img/tree-line.png) no-repeat 16px top !important;
    &:not(:last-child) td:first-child {
      background: url(../img/tree-node.png) no-repeat 47px top !important;
    }
	td {
	  	background-color: #fff;	
    }
  }
  .row-attributaire th { 
    border-color:#cdcdcd !important; 
  }
  .row-attributaire th:first-child {
    background: url(../img/tree-line.png) #cdcdcd no-repeat 16px 20px !important;
  }
  tbody + tbody { border-top :0  !important; }
  tbody + tbody .row-attributaire th:first-child {
    background: url(../img/tree-line.png) #cdcdcd no-repeat 16px top !important;
  }
  tbody + tbody .row-attributaire.last th:first-child {
    background-position:16px -80px !important;
  }
  .indent-n1 td:first-child {
    background: url(../img/tree-node.png) no-repeat 16px top !important;
  }
  .indent-n1.no-child td:first-child {
    background: url(../img/tree-child.png) no-repeat 16px top !important;
  }
  .child {
    ~ .indent-n1.last td:first-child {
      background: url(../img/tree-node-last.png) no-repeat 16px top !important;
    }
    &:last-child td:first-child, &.last td:first-child {
      background: url(../img/tree-node-last.png) no-repeat 47px top !important;
    }
  }
  .indent-n1.last ~ tr {
    background-image: none !important;
  }
  .treegrid {
	&:not(:last-child) td:first-child {
	  background:url(../img/tree-node-long.png) no-repeat 16px top !important;
	}
	&.last td:first-child {
	 background:url(../img/tree-node-long-last.png) no-repeat 16px top !important;
	}
	&:last-child {
	  background-image:url(../img/tree-node-long-last.png) !important;	
	}
  } 
  > tbody > tr:hover td:first-child { 
  	  background-color:transparent !important;
  }
}

.groupement-solidaire {
  .icon-mandataire {
    background-image: url(../img/icone-mandataire.png);
  }
  .icon-sous-traitant {
    background-image: url(../img/icone-sous-traitant.png);
    background-position: 14px top;
  }
  .icon-co-traitant {
    background-image: url(../img/icone-co-traitant.png);
  }
  .treegrid-expanded {
    .icon-mandataire {
      background-image: url(../img/icone-mandataire-expanded.png);
    }
    .icon-co-traitant {
      background-image: url(../img/icone-co-traitant-expanded.png);
    }
  }
  .icon-mandataire, .icon-co-traitant {
    background-position: 10px top;
  }
}

.col-md-6 .table-attributaires  {
  .col-montants {
	min-width:150px; 
  }
  .icon {
	padding:0 0 10px 26px !important;
  }
  &.groupement-solidaire .icon-sous-traitant {
	 background-position:4px top !important;
  }
}

.statut-doc {
  margin: 5px 0 0;
  img {
    vertical-align: top;
    &.non-disponible {
      opacity: 0.4;
      filter: alpha(opacity = 40);
    }
  }
}

/*Added from http://lightglitch.github.io/bootstrap-xtra/bootstrap.css*/

.bordered-table {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */
  @include border-radius(4px);
  th + th, td + td, th + td {
    border-left: 1px solid #ddd;
  }
  thead {
    background: $bordered-table-thead-bg;
    tr:first-child th {
      &:first-child {
		@include border-radius(4px 0 0 0);
      }
      &:last-child {
		@include border-radius(0 4px 0 0);
      }
    }
  }
  tbody tr:last-child td {
    &:first-child {
	  @include border-radius(0 0 0 4px);
    }
    &:last-child {
	  @include border-radius(0 0 4px 0);
    }
  }
}

.zebra-striped tbody tr {
  &:nth-child(odd) {
    td, th {
      background-color: #f9f9f9;
    }
  }
  &:hover {
    td, th {
      background-color: #f5f5f5;
    }
  }
}

/*Tabs*/
.nav-tabs {
  &.btn-group { 
    margin-bottom:10px; 
	border:0;
  }
}

/*Sortable*/
.column {
  float: left;
  padding-bottom: 50px;
}
.ui-sortable .panel .panel-heading {
  cursor:move;
}
.portlet-placeholder {
  margin-bottom:20px;
  height:50px;
  @extend .dropzone
}


/*Forms*/

.radio label {
  padding-left: 5px;
}

.form-horizontal {
  div.control-label {
    font-weight: bold;
  }	
  .control-label {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
    padding-right: 5px;
  }
  &.form-readonly {
	div.form-control {
	  height: auto;
	  border:0 !important;
	  box-shadow:none !important;
	  background:none;
	}
	.form-group {
	  margin-bottom:0;
	  background:inherit; 
	}
  }
}


.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
  .pull-right {
    button, input {
      margin-left: 10px;
    }
  }
}

.row-actions {
  padding-top: 20px;
}

.well {
  padding:15px; 	
  &.text-muted {
	color: #777 !important;
	background: #efefef;
  }
  p:last-of-type {
    margin-bottom:0;  
  }
}
 
.input-inline {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  float: left;
}

.input-siren {
  width: 130px;
}

.input-code-etab {
  width: 60px;
}

.infos-fournisseur {
  padding-left: 0;
}

.logo-fournisseur {
  margin: 1.5em 0 0 0;
  img {
    width: 180px;
  }
}

.modal-ajout-logo .thumbnail {
  width: 240px;
  height: 160px;
  img {
    vertical-align: top;
  }
}

.modal legend {
  font-size: 1.4em;
  color: #999;
}

.col-echanges abbr {
  margin-left: 0.4em;
}

.icon-echange {
  .fa {
    font-size: 1.3em;
  }
  .fa-arrow-right {
    font-size: 0.8em;
    position: absolute;
    margin: 0.4em 0 0 -1.2em;
  }
  .fa-arrow-left {
    font-size: 0.8em;
    position: absolute;
    margin: 0.4em 0 0 -1.3em;
  }
  .fa-arrow-up {
    font-size: 0.65em;
    position: absolute;
    margin: 0.9em 0 0 -1.2em;
  }
  .fa-arrow-down {
    font-size: 0.65em;
    position: absolute;
    margin: 0.9em 0 0 -1.1em;
  }
}

.echange-vide {
  opacity: 0.2;
}

.gauge-contrats-en-cours h5 {
  position: absolute;
  top: 0;
  width: 180px;
  color: #999;
  font-weight: bold;
  text-align: center;
}

.bloc-legende {
  .panel-body {
    padding: 0 0 15px;
  }
  .col-actions .btn {
    padding: 1px 10px;
  }
}

.num-consultation {
  margin-bottom: 0.5em;
}

/*Etapes Contrat*/
/*.contrat-etape1sur4 { clear:left; float:left; width:71px; height:11px; background:url(../img/etape-contrat.gif) no-repeat; margin-top:5px; overflow:hidden; margin-bottom:5px }
.contrat-etape2sur4 { clear:left; float:left; width:71px; height:11px; background:url(../img/etape-contrat.gif) no-repeat; margin-top:5px; background-position:0 -11px; overflow:hidden; margin-bottom:5px; }
.contrat-etape3sur4 { clear:left; float:left; width:71px; height:11px; background:url(../img/etape-contrat.gif) no-repeat; margin-top:5px; background-position:0 -22px; overflow:hidden;  margin-bottom:5px; }
.contrat-etape4sur4 { clear:left; float:left;  width:71px; height:11px; background:url(../img/etape-contrat.gif) no-repeat; margin-top:5px; background-position:0 -33px; overflow:hidden; margin-bottom:5px; }*/

.barre-etape {
  color: #fff;
  display: block;
  height: 11px;
  font-size: 10px;
  line-height: 0;
  padding-top: 6px;
  abbr {
    border-bottom: 0 !important;
  }
}

.etape-contrat {
  width: 71px;
  background: url(../img/etape-contrat.png);
  margin: 10px 0 5px !important;
}

.contrat-etape1sur4 {
  padding-left: 5px;
}

.contrat-etape2sur4 {
  background-position: 0 -11px;
  padding-left: 20px;
}

.contrat-etape3sur4 {
  background-position: 0 -22px;
  padding-left: 40px;
  padding-top: 5px;
}

.contrat-etape4sur4 {
  background-position: 0 -33px;
  padding-left: 59px;
}

h2, .text-primary, a, .recap-fournisseur h3, a.ref, caption, caption i {
  color: $color-primary;
}

.btn-primary {
  background: $color-primary;
  text-shadow : none;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #fff;
    background-color: $btn-hover-color !important;
    border-color: $btn-hover-border-color;
  }
}

.open > .dropdown-toggle.btn-primary, .notifications a:hover .badge {
  color: #fff;
  background-color: $menu-actif-bg !important;
  border-color: #689fd1;
}

.btn-notif {
  float:left;
  .btn {
    position: relative;
  }
  .labels {
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 13px;
    .badge {
      font-size: 0.75em;
      margin-right: -2px;
    }
  }
}
.btn-ajout-document {
	.fa-stack {
	  height:19px;
	  font-size:0.8em;
	}
	.fa-stack-1x { left:0.4em; top:0.15em; font-size:12px; }
	&.btn-action .fa-stack {
	  font-size:0.75em;
	  margin-left:-5px;
	  .fa-stack-1x {
		top:0.35em;
	    left:0.5em;
		font-size:1.1em;
	  }
	}
}

.badge-danger {
  background-color: $color-danger !important;
}

.badge-warning {
  background-color: $color-warning !important;
}

.badge-success {
  background-color: $color-success !important;
}

.badge-info {
  background-color: $color-info !important;
}

.navbar-inverse .navbar-nav {
  > {
    li > a {
      color: $color-primary;
      text-shadow: none;
    }
    .open > a {
      color: $color-primary;
      text-shadow: none;
      &:hover, &:focus {
        color: $link-hover-color;
      }
    }
    li > a {
      &:hover, &:focus {
        color: $link-hover-color;
      }
    }
  }
  .open .dropdown-menu {
    > li > a {
      &:hover, &:focus {
        color: $link-hover-color;
      }
    }
    > li > a {
      &:hover, &:focus {
        color: $link-hover-color;
      }
    }
  }
  > li > a:hover, > li > a:hover {
    color: $link-hover-color;
  }
}

.treegrid-indent {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  float: left;
}

.treegrid-expander {
  @extend .treegrid-indent;
  cursor: pointer;
  margin-left: -20px;
}

.treegrid-expander-expanded, .treegrid-expander-collapsed {
  background-repeat: no-repeat;
}

.treegrid-expander-expanded {
  background-image: url(../img/collapse.png);
}

.treegrid-expander-collapsed {
  background-image: url(../img/expand.png);
}

.text-notation {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  padding: 0.3em 0 0 0;
  opacity: 0.5;
  color:initial !important;
}

.help-block {
  font-style: italic;
}
.fa-activite {
  margin-bottom:-5px;
	}

.fa-activite:before {
  font-family: custom;
  content: "\e600";
  font-size: 1.4em;
  vertical-align: middle;
}

.liens-rapides {
  float: right;
  margin-right: 0;
  a {
    position: relative;
    min-height: 32px;
    padding: 5px 12px 1px;
    i, .fa-activite:before {
      font-size: 1.2em;
    }
    ~ a {
      border-left-color: #fff;
    }
  }
}

.alert > i {
  display: table-cell;
  + p {
    display: table-cell;
  }
  padding-right: 1em;
  &.fa-2x {
    padding-right: 0.5em;
    line-height: 0.7em;
    vertical-align: top;
  }
}

/*Datepicker*/

.datepicker-group {
  width: 150px;
}

.input-group-addon {
  padding: 6px 12px;
}

.input-group-montant {
  width: 187px;
}

.montant {
  text-align: right;
}

.montant-min-max {
  width: 235px;
}

/*wysihtml5 Text-editor*/

.text-editor {
  min-height: 200px;
}

.bootstrap-wysihtml5-insert-link-url + label {
  margin-left: 20px;
}


/********************Plugin resets********************/
/*chosen.js*/

.chosen-container {
  font-size: 1em;
}

.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices {
  border-color: #ccc;
  @include border-radius(3px);
  padding: 3px 10px 0;
  height: 30px;
  line-height: normal;
  box-shadow: none;
}

.chosen-container-single .chosen-single {
  padding: 5px 10px 0;
}

.chosen-container-active .chosen-single {
  border: 1px solid #66afe9;
  box-shadow: none;
}

.chosen-container-single .chosen-single {
  div b {
    background-position: 3px 5px;
  }
  background: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-multi .chosen-choices {
  background: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -15px 5px;
}

/*.chosen-container-single .chosen-drop { @include border-radius(0); }*/

.chosen-container .chosen-results li.highlighted {
  background: #7d8797;
}

.chosen-container-multi .chosen-choices {
  padding-left: 5px;
  .default {
    padding-left: 5px !important;
  }
  li.search-choice {
    margin-top: 2px;
  }
}

div.tagsinput span.tag {
  margin-top: 2px;
}

.search-choice {}

/*justgage.js*/

.gauge {
  width: 180px;
  height: 120px;
  display: inline-block;
  margin-left: -25px;
}

.star-detail {
  display: table-row;
  div:first-child {
    width: 130px;
  }
  .star {
    background: url(../img/all-star.png) no-repeat;
    width: 99px;
  }
  .star-1 {
    background-position: 0 -1px;
  }
  .star-2 {
    background-position: 0 -19px;
  }
  .star-3 {
    background-position: 0 -37px;
  }
  .star-4 {
    background-position: 0 -55px;
  }
  .star-5 {
    background-position: 0 -73px;
  }
  div {
    display: table-cell;
  }
}

ul.notes-echelle {
  display: inline-block;
  margin: 0;
  padding: 0 0.5em 0 0;
  vertical-align: middle;
  li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    label {
      display: block;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
      float: right;
    }
  }
  &.js li label, &.disabled li label {
    background: url(../img/etoiles.png) center top no-repeat;
  }
  &.js label {
    font-size: 0;
  }
  li {
    &.note-off label {
      background-position: center -60px;
    }
    &.note-reset label {
      background-position: center -102px;
    }
    &.note-checked {
      font-weight: bold;
    }
    min-width: 20px;
    min-height: 20px;
  }
  label {
    min-width: 20px;
    min-height: 20px;
  }
  &.js {
    li label {
      float: none;
    }
    input {
      position: absolute;
      left: -999%;
    }
    li.note-focus {
      outline: 1px dotted #000;
    }
  }
}

* html ul.notes-echelle.js li {
  width: 20px;
  height: 20px;
}

.controls .notes-echelle {
  margin-top: 7px;
}

ul.notes-echelle.disabled li label {
  cursor: default !important;
  font-size: 0;
}

a ul.notes-echelle.disabled li label {
  cursor: pointer !important;
}

.detail-graph:hover {
  text-decoration: none !important;
}

.table-evaluation {
  .col-detail {
    width: 250px;
  }
  .auteur {
    float: right;
  }
}

table .notes-echelle {
  float: left;
  clear: both;
  &.disabled input {
    display: none;
  }
}

.panel-heading .notes-echelle input {
  display: none;
}

table {
  .notes-echelle.js {
    display: block;
  }
  .commentaire {
    clear: both;
    padding-top: 10px;
  }
  .auteur {
    color: #999;
    font-style: italic;
    .popover {
      font-style: normal !important;
      color: #000 !important;
      i {
        font-style: normal !important;
        color: #000 !important;
      }
    }
  }
}

.popover-title {
  font-weight: normal !important;
}

.popover  {
  a.btn {
    width: 100%;
  }
  &.popover-confirmation a.btn {
    width: auto;
  }
}

table .text-notation {
  vertical-align: top;
  float: left;
}

.detail-graph {
  float: left;
  display: inline-block;
}

.panel-heading {
  .notes-echelle {
    margin: -4px 0 0 10px;
  }
  .text-notation {
    display: inline-block;
    font-size: 0.9em;
    vertical-align: top;
    padding: 0;
    font-weight: normal;
  }
  ul.notes-echelle label {
    margin: 0;
  }
}

#paper {
  text-align: center;
}

.dropzone {
  border: 2px dashed #ccc;
  @include border-radius(4px);
  position: relative;
  text-align: center;
  padding: 0 20px 20px;
  .dz-message {
    color: #ccccd3;
    font-size: 1.8em;
    margin: 1em 0;
  }
}

#preview-template, .entete-message {
  margin-bottom: 30px;
}

.dropzone .dz-clickable + span {
  padding: 0 10px;
  color: #ccccd3;
  font-size: 1.4em;
  vertical-align: middle;
}

.dz-preview {
  display: table;
  width: 100%;
  div, a {
    display: table-cell !important;
    position: relative !important;
    padding: 5px 5px;
    vertical-align: top;
  }
}

.dz-upload {
  display: block;
  background-color: red;
  height: 10px;
  width: 0%;
}

.dz-preview {
  .dz-remove {
    visibility: hidden !important;
  }
  &:hover {
    background: #f0f0f0;
    .dz-remove {
      visibility: visible !important;
    }
  }
}

.dz-remove {
  width: 30px;
}

.dropzone .dz-preview .dz-image {
  width: 50px;
  height: 50px;
  @include border-radius(0);
}

/***Retour haut de page on scroll***/

#BackToTop {
  z-index: 99999999999;
  float: left;
  display: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: url(../img/top.png) 0 0 no-repeat #666666;
  span {
    opacity: 0;
    filter: alpha(opacity = 0);
  }
  &:hover {
    opacity: 1 !important;
  }
}


footer {
  clear: both;
  border-top: 1px solid #eee;
  margin: 50px 0 0;
}


@media screen and (max-width: 320px) {
  /*.navbar-brand { background-size:100%; width:180px; background-position:0 6px; }*/
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 15px !important;
  }
  .navbar-inverse .container {
    width: auto;
  }
}

@media (max-width: 767px) {
  #paper svg {
    width: 100%;
    height: 100%;
  }
}