<div class="row mb-2">
  <div class="content-header-left col-12 breadcrumb-new"
       *ngIf="breadcrumb">
    <h3 class="content-header-title mb-0 d-inline-block ">{{breadcrumb.mainlabel | translate}}</h3>
    <div class="row breadcrumbs-top d-inline-block">
      <div class="breadcrumb-wrapper col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"
              *ngFor="let linkItem of breadcrumb.links">
            <a *ngIf="linkItem.isLink" class="breadcrumb-link"
               (click)="navigateTo(linkItem.link)">{{linkItem.name | translate}}</a>
            <span *ngIf="!linkItem.isLink && !isForOpenUrl">{{linkItem.name | translate}}</span>
            <span *ngIf="!linkItem.isLink && isForOpenUrl">{{linkItem.name}}</span>
          </li>
          <a *ngIf="isWebComponent && !!this.openUrl" class="ml-1" [title]="'breadcrumb.external-link' | translate"
             (click)="openLink()">
            <i class="ft-external-link"></i>
          </a>
        </ul>


      </div>
    </div>
    <div class="float-right">
      <button *ngIf="export" type="button"
              [disabled]="loadingExport"
              class="btn btn-primary primary-client-bg-border btn-sm ml-1"
              (click)="exporter()"><i
        [ngClass]="{'ft-download':!loadingExport ,'fa fa-spin fa-spinner':loadingExport}"></i>
        {{"exporter" | translate}}
      </button>
      <button *ngIf="import" type="button"
              [disabled]="loadingImport"
              class="btn btn-primary primary-client-bg-border btn-sm ml-1"
              (click)="openDialog()"><i
        [ngClass]="{'ft-upload':!loadingImport ,'fa fa-spin fa-spinner':loadingImport}"></i>
        {{"impoter" | translate}}
      </button>
      <input (change)="importer($event)" id="fileInput" style="display:none;" type="file" accept=".xlsx"/>

    </div>
  </div>

</div>
