{% block javascriptAgent %}
    <!-- FOSJsRoutingBundle -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block content %}
    {% if app.user and is_module_enabled('NotificationsAgent', app.user.organisme) %}
        <a type="button" class="nav-link nav-link-label" id="notification_button">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-danger badge-up badge-glow" id="notification_counter">
                0
            </span>
        </a>
        <div id="notification_list" style="display: none;"></div>
    {% endif %}

    <!-- Notifications -->
    <script>
        //Definition of AJAX const
        const AJAX = new XMLHttpRequest();

        refreshNotification();
        setInterval(refreshNotification, {{ TIME_AJAX_REFRESH_NOTIFICATIONS }});


        function getParentsByClassName(el, parentSelector) {
            if (parentSelector === undefined) {
                parentSelector = document;
            }

            while ((el = el.parentElement) && !el.classList.contains(parentSelector));
            return el;
        }

        // View list

        if (document.querySelectorAll('#notification_button').length != 0) {
            document.querySelector('#notification_button').addEventListener('click', function (e) {
                let listDiv = document.querySelector('#notification_list');

                //check if element is not already visible
                if (listDiv.style.display === 'none') {
                    loadNotificationList();
                    listDiv.style.display = 'block';
                } else {
                    listDiv.style.display = 'none';
                }

            }, false);
        }


        // Read notification
        if (document.querySelectorAll('.notification-read').length != 0) {
            document.querySelectorAll('.notification-read').addEventListener('click', function(e) {
                e.preventDefault();
                readNotification(e.target);
            },false);
        }

        // Disable notification
        function disableNotificationEvent() {

            let notificationDisableHTMLNode = document.querySelectorAll('.notification-disable');

            for (var i = 0, len = notificationDisableHTMLNode.length; i < len; i++) {
                notificationDisableHTMLNode[i].addEventListener('click', function(e) {
                    e.preventDefault();
                    readNotification(e.target);
                }, false);
            }
        }


        // Refresh notification counter
        function refreshNotification()
        {
            if (document.querySelector('#notification_counter') != null && document.querySelector('#notification_counter').length != 0) {
                const notificationCounterHTMLNode = document.querySelector('#notification_counter');

                AJAX.open('POST', Routing.generate('agent_notification_count'), true);
                AJAX.onload = function () {
                    if (this.status >= 200 && this.status < 400 && this.getResponseHeader("Content-Type") === 'application/json') {
                        if (this.response != undefined && this.response != '') {
                            notificationCounterHTMLNode.innerHTML = this.response;
                        }
                    }
                };
                AJAX.send();
            }
        }

        // Load notification list
        function loadNotificationList()
        {
            const notificationListHTMLNode = document.querySelector('#notification_list');

            AJAX.open('POST', Routing.generate('agent_notification_list'), true);
            AJAX.onload = function() {
                if (this.status >= 200 && this.status < 400) {
                    if (this.response != undefined && this.response != '') {
                        notificationListHTMLNode.innerHTML = JSON.parse(this.response);
                        refreshNotification();
                    }
                }
            };
            AJAX.send();
        }

        // Read notification
        function readNotification(e)
        {
            const notificationId = getParentsByClassName(e.target, 'notification-item').getAttribute('data-id');
            const notificationUrl = '/' + getParentsByClassName(e.target, 'notification-item').getAttribute('data-url');

            AJAX.open('POST', Routing.generate('agent_notification_read', { id: notificationId }));
            AJAX.onload = function() {
                if (this.status >= 200 && this.status < 400) {
                    if (this.response != undefined && this.response != '') {
                        window.location.href = notificationUrl;
                    }
                }
            };
            AJAX.send();
        }

        // Disable notification
        function disableNotification(e)
        {
            let notificationId = getParentsByClassName(e.target, 'notification-item').getAttribute('data-id');

            AJAX.open('POST', Routing.generate('agent_notification_disable', { id: notificationId }));
            AJAX.onload = function() {
                if (this.status >= 200 && this.status < 400) {
                    if (this.response != undefined && this.response != '') {
                        refreshNotification();
                        loadNotificationList();
                    }
                }
            };
            AJAX.send();
        }

    </script>
{% endblock %}