{% if app.user %}
    <a class="dropdown-toggle nav-link dropdown-user-link" href="#">
        <span class="mr-1 user-name text-bold-700">
            {{ app.user.prenom }} {{ app.user.nom }}
        </span>
        <span class="avatar-container">
            <i class="fa fa-user"></i>
            <i class="roundBadge"></i>
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-user-widget" style="display: none;">
        <div class="dropdown-menu-header">
            <h6 class="dropdown-header m-0">
                <span class="user-name grey darken-2 user-name-dropdown">
                    <strong>
                        {{ app.user.prenom }} {{ app.user.nom }}
                    </strong>
                </span>
            </h6>
            {% if app.user.organisme %}
            <h6 class="dropdown-header m-0">
                <span class="grey darken-2 organisme">
                    {{ app.user.organisme.sigle }} - {{ app.user.organisme.denominationOrg }}
                </span>
            </h6>
            {% endif %}
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header dropdown-menu-header">
            {% if atexo_menu.isAgentConnect() == true %}
            <a class="btn btn-sm mr-1 mb-1 btn-primary btn-block primary-client-bg-border" href="{{ PF_URL }}agent" data-tnr="lienUtilisateur">
                <i class="fa fa-user"></i>
                {{- 'DEFINE_TEXT_MON_COMPTE'|trans -}}
            </a>
            {% endif %}

            {% if atexo_menu.isPortailVisible() != 'false' %}
                {% set urlPortail = atexo_menu.isPortailVisible() %}
                <a class="btn btn-sm mr-1 mb-1 btn-primary btn-block" href="{{ urlPortail }}">
                    <i class="fa fa-external-link-alt"></i>
                    {{ 'TEXT_PORTAIL'|trans }}
                </a>
            {% endif %}

            {% if
                atexo_menu.isAuthentificationAgentMultiOrganismes()
                and (atexo_menu.getComptesAgentsAssocies() | length > 0)
                and (atexo_menu.getCompteAgentAssocieIsPrimaryAndActive() | length > 0)
            %}
                <a class="btn btn-sm mr-1 mb-1 btn-primary btn-block" href="{{ path('atexo_agent_accueil_account_choice_login') }}">
                    <i class="fas fa-random"></i>
                    {{- 'CHANGER_DE_COMPTE'|trans -}}
                </a>
            {% endif %}

            {% set logoutUrl = (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN'))
                ? path('mpe_logout_admin')
                : path('mpe_logout_agent') %}
            <a class="btn btn-sm mr-1 mb-1 btn-danger btn-block"
               href="{{ logoutUrl }}">
                <i class="fa fa-power-off"></i>
                {{- 'DEFINE_TEXT_SE_DECONNECTER'|trans -}}
            </a>
        </div>
        <div class="dropdown-divider"></div>
    </div>

    <script>
        document.querySelector('.dropdown-user-link').addEventListener('click', function(e) {
            let userWidgetDropdown = document.querySelector('.dropdown-user-widget');

            if (userWidgetDropdown.style.display === 'none') {
                userWidgetDropdown.style.display = 'block';
            } else {
                userWidgetDropdown.style.display = 'none';
            }
        });
    </script>
{% endif %}