//card

.card {
  @include border-radius(0.30);
  @include box-shadow(#{ 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) });

  .card-header {
    font-weight: bold;
    background-color: $light-grey;
    font-size: 16px;
    &.big {
      height: 50px;
      line-height: 3rem;
    }
  }

  .card-body {
    background-color: $lightest-grey;
  }

  .row {
    margin-bottom: 1rem;

    & > [class*="col"]:first-child {
      font-weight: unset !important;
    }
  }
}

