//discussion thread

.discussion-thread-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}

.discussion-thread {
  list-style: none;
  padding: 20px 40px;
  position: relative;

  &.full-width {
    &::before {
      left: 40px;
    }

    .discussion-thread-item {
      padding-left: 50px;

      .discussion-thread-badge {
        left: 0;
      }

      .discussion-thread-card {
        width: 100%;
        float: right;

        &::before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -14px;
          right: auto;
        }

        &::after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -13px;
          right: auto
        }
      }
    }
  }

  &::before {
    background-color: $grey2;
    bottom: 0;
    content: " ";
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
    top: 50px;
    width: 2px;
  }
}

.discussion-thread-item {
  margin-bottom: 2rem;
  position: relative;

  &::after,
  &::before {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }

  &:last-child {
    position: relative;

    &::after {
      content: "";
      position: absolute;
    }
  }

  &:first-child .discussion-thread-badge:after {
    display: none;
  }

  .discussion-thread-card {
    display: block;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: .5rem;
    @include box-shadow(0 1px 6px rgba(0, 0, 0, .175));
    float: left;
    padding: 1.3rem;
    position: relative;
    width: 44%;
    min-height: 80px;

    &::before {
      border-bottom: 15px solid transparent;
      border-left: 15px solid $grey;
      border-right: 0 solid $grey;
      border-top: 15px solid transparent;
      content: " ";
      display: inline-block;
      position: absolute;
      right: -14px;
      top: 27px;
    }

    &::after {
      border-bottom: 14px solid transparent;
      border-left: 14px solid $white;
      border-right: 0 solid $white;
      border-top: 14px solid transparent;
      content: " ";
      display: inline-block;
      position: absolute;
      right: -13px;
      top: 27px;
    }

    .btn-add {
      position: absolute;
      right: 15px;
      color: $blue !important;
    }
  }

  .discussion-thread-badge {
    position: relative;
    border-radius: 100%;
    @include box-shadow(#{ 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) });
    color: $white;
    @include font-size(20);
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 50px;
    z-index: 100;

    &:after {
      position: absolute;
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 0 5px;
      border-color: $grey2 transparent transparent transparent;
      top: -10px;
      left: 20px;
    }
  }

  &:last-child .discussion-thread-badge:before {
    display: none;
  }

  .discussion-thread-badge--small {
    height: 1.5rem;
    left: 51.75%;
    top: 2.5rem;
    width: 1.5rem
  }

  &.discussion-thread-inverted .discussion-thread-card {
    float: right;

    &::before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -14px;
      right: auto;
    }

    &::after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -13px;
      right: auto
    }
  }
}


.discussion-thread-badge {
  background-color: #9e9e9e !important;
}

.discussion-thread-badge.info {
  background-color: $info !important;

  & + .discussion-thread-card .discussion-thread-title {
    color: $info;
  }
}

.discussion-thread-badge.error {
  background-color: $error !important;

  & + .discussion-thread-card .discussion-thread-title {
    color: $error;
  }
}

.discussion-thread-badge.delivered {
  background-color: $delivered !important;

  & + .discussion-thread-card .discussion-thread-title {
    color: $delivered;
  }
}

.discussion-thread-badge.readed {
  background-color: $readed !important;

  & + .discussion-thread-card .discussion-thread-title {
    color: $readed;
  }
}

.discussion-thread-header {
  .discussion-thread-heading {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    align-items: center !important;
  }

  .discussion-thread-title {
    color: #004494;
    font-size: 16px;
  }

  .discussion-thread-time {
    display: block;
    margin: .5rem 0;
    font-size: 16px;
  }
}

.discussion-thread-header {
  .discussion-thread-time {
    font-size: 14px;
  }
}

.discussion-thread-body {
  p,
  span {
    font-size: 14px;
  }
}

