//form

input[type="checkbox"],
input[type="radio"] {
  display: none;
  + label {
    cursor: pointer;
    line-height: 1rem;
    position: relative;
    padding: 0.35rem 0 0 2.5rem;
    margin-bottom: 1rem;
    user-select: none;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      border: 2px solid $grey;
      border-radius: 0.25rem;
      background: $white;
      text-align: center;
      transition: background 200ms ease-out;
      box-sizing: content-box;
    }
    &:after {
      content: "";
      position: absolute;
      transform: scale(0);
      transition: transform 200ms ease-out;
    }
  }
}

input[type="checkbox"] {
  + label {
    &:before {
      background-color: $blue;
    }

    &:after {
      background-color: transparent;
      content: "";
      display: block;
      position: absolute;
      left: 0.65rem;
      top: 0.25rem;
      width: 0.5rem;
      height: 1rem;
      opacity: 0.2;
      border-bottom: 3px solid $white;
      border-right: 3px solid $white;
      transform: rotate(45deg);
      transition: border-color 0.3s ease;
    }
  }

  &:checked {
    + label {
      &:after {
        content: "";
        opacity: 1;
      }
    }
  }
}

input[type="radio"] {
  + label {
    &:before,
    &:after {
      border-radius: 50%;
    }

    &:after {
      left: 2px;
      top: 2px;
      width: 14px;
      height: 14px;
    }
  }

  &:checked {
    + label {
      &:before {
        animation: borderscale 300ms ease-in;
      }

      &:after {
        background: $blue;
        transform: scale(1);
      }
    }
  }

  &:disabled {
    + label {
      &:after {
        background: grey;
        opacity: 0.8;
      }
    }
  }
}

select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-position: calc(100% - .75rem) center;
  background-repeat: no-repeat;
  background-size: 8px 10px;
  padding: .5rem 1.75rem .5rem .75rem;
}

select option {
  display: block;
  min-height: 1.2rem;
  padding: 0 2px 1px;
  white-space: pre;
}

.mark-questionMark:after {
  font-family: "Font Awesome 5 Free";
  content: '\f059';
  @include vertical-align;
  width: 20px;
  height: 20px;
  color: $black;
}

.form-label-vertical-align {
  height: 20px;
  align-self: center;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{
  pointer-events: none;
}

.is-invalid {
  border: 2px solid $alert-danger;
}

#quill-editor.is-invalid .ql-editor {
  border: 2px solid $alert-danger;
}

.required {
  color: red;
}

//progress
//.progress-bar {
//  font-size: $font-size-lg;
//}

legend {
  border-bottom: unset;
  @include font-size(18);
}

