.m-r-1 {
  margin-right: 1px;
}

.m-r-2 {
  margin-right: 2px;
}

.m-r-3 {
  margin-right: 3px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-t-1 {
  margin-top: 8px;
}

.m-l-1 {
  margin-left: 1px;
}

.m-l-2 {
  margin-left: 2px;
}

.m-l-3 {
  margin-left: 3px;
}

.m-l-4 {
  margin-left: 4px;
}

.mb-4 {
  margin-bottom: 15px;
}

.m-r-4 {
  margin-right: 32px;
}

.m-r-1 {
  margin-right: 8px;
}

.m-l-1 {
  margin-left: 8px;
}
