//mixins

@mixin roboto-light {
  font-family: 'robotolight', Arial, sans-serif;
}

@mixin robotoregular {
  font-family: 'robotoregular', Arial, sans-serif;
}

@mixin roboto-bold {
  font-family: 'robotobold', Arial, sans-serif;
  font-weight: 700;
}

@mixin font-size($sizeValue) {
  font-size: ($sizeValue * 10) + px;
  //font-size: $sizeValue + rem;
}

@mixin border-radius($radiusValue) {
  border-radius: ($radiusValue * 10) + px;
  border-radius: $radiusValue + rem;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin horizontal-align {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Transform Origin
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

