//variables
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

//colors
$white: #ffffff;
$black: #000000;
$black2: #333333;
$darker-blue: #004494;
$darker-blue_hover: #2660a4;
$dark-blue: #006fb4;
$blue: #2660a4;
$darker-grey: #212121;
$dark-grey2: #616161;
$dark-grey: #757575;
$grey: rgba(0, 0, 0, .125);
$grey2: #D2D2D2;
$light-grey: #eeeeee;
$lighter-grey: #ececec;
$lightest-grey: #fafafa;
$lightest-grey2: #f5f5f5;
$darker-orange: #ee821d;
$orange: #f4a547;
$yellow: #FFCB00;

//alert colors
$alert-info: #2685bf;
$alert-info-border: #4d9acb;
$alert-info-dark-border: #004494;
$alert-success: #628e57;
$alert-success-border: #7ea274;
$alert-warning: #f4a547;
$alert-warning-border: #f6b568;
$alert-danger: #e0424f;
$alert-danger-border: #e5646e;
$tag-alert-info-border: #006fb4;
$tag-alert-info: #005ca4;

$bg-danger: #da2130;
$bg-danger--hover: #e0424f;
$border-danger: #da2130;


//discussion thread colors
$delivered: #5CB85C;
$readed: #5BC0DE;
$info: #056D9F;
$error: #da2130;

