//common

*[class*="mark"]:after {
  margin-left: 3px;
}

//titres

h5 {
  color: $darker-blue;
}


a, a:not([href]):not([tabindex]) {
  color: $darker-blue !important;
  cursor: pointer !important;
}

b, optgroup, strong {
  font-family: 'robotobold', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

.txt-black {
  color: $black2;
}

.txt-blue {
  color: $darker-blue;
}

.txt-delivered {
  color: $delivered;
}

.txt-undelivered {
  color: $alert-danger;
}

.txt-draft {
  color: $alert-warning;
}

.txt-send {
  color: $darker-blue;
}

.txt-response-awaited {
  color: $darker-orange;
}

.txt-acknowledgment {
  color: $dark-blue;
}

hr {
  margin: 1.5rem 0;
}

.fsize-12 {
  @include font-size(12);
}

.fsize-16 {
  @include font-size(16);
}

// Page rédaction message
//#redactionMessage {
//  .card:nth-child(2) .card-body {
//    background-color: $light-grey;
//  }
//}

// Page dashboard échange
.tableDashboardEchange_col_1 {
  position: relative;
  width: 35px;
}

.tableDashboardEchange_col_2 {
  width: 210px;
}

.tableDashboardEchange_col_4 {
  width: 70px;
}

#tableDashboardEntreprise {
  th {
    background-color: #ffffff !important;
  }

  .tableDashboardEntreprise_col-1 {
    width: 210px;
  }

  .tableDashboardEntreprise_col-3 {
    width: 70px;
  }
}

.hidden {
  display: none;
}

.truncate {
  width: auto !important;
  text-overflow: unset !important;
  white-space: normal !important;
}

.ng-optgroup {
  font-weight: bold;
  font-size: 1.6rem;
}

.ql-snow {
  background-color: #ffffff !important;
}

.tooltip {
  font-size: 15px;
}

.checkbox {
  margin: 0px;
}

.d-flex {
  display: -webkit-box !important;
  display: flex !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.progress-bar {
  font-size: 1.25rem;
  font-weight: bold;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}

.vcenter {
  display: flex;
  align-items: center;
  padding: 0px;
}

.ng-select-container .ng-value-container .ng-value {
  border: 1px solid $darker-blue;
  padding: 3px;
  border-radius: 5px !important;
}

