{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('elaboration-consultation') }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('elaboration-consultation') }}
{% endblock %}

{% block content %}
    <div id="elaboration-consultation">
        <elaboration-consultation
                consultation-id="{{ consultationId ?? null }}"
                consultation-parent-id="{{ consultationParentId ?? null }}"
                contrat-id="{{ contratId ?? null }}"
                contrat-uuid="{{ contratUuid ?? null }}"
                organism-acronym="{{ organismAcronym ?? null }}"
                step="identification"
                consultation-uuid="{{ consultationUuid ?? null }}"
        ></elaboration-consultation>
    </div>
{% endblock %}
