{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ urlPf }}/concentrateur-annonces/consultation-formulaire/consultationFormulaire.css" rel="stylesheet" type="text/css"/>
    {{ encore_entry_link_tags('elaboration-consultation') }}
    {{ encore_entry_link_tags('consultation-validation-buttons') }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/themes/js/vue.min.js') }}"></script>
    <script type="text/javascript" src="{{ urlPf }}/concentrateur-annonces/consultation-formulaire/consultationFormulaire.umd.js"></script>
    <script type="text/javascript" src="{{ urlPf }}/concentrateur-annonces/consultationFormulaireVue.js"></script>
    {{ encore_entry_script_tags('elaboration-consultation') }}
    {{ encore_entry_script_tags('consultation-validation-buttons') }}
{% endblock %}

{% block content %}
    <div id="elaboration-consultation">
        <elaboration-consultation
                consultation-id="{{ consultationId ?? null }}"
                :contrat-id="null"
                organism-acronym="{{ organismAcronym ?? null }}"
                step="publicite"
                consultation-uuid="{{ consultationUuid ?? null }}"
        ></elaboration-consultation>
    </div>
    <div id="error-list" class="mb-2" style="display: none">
        <div class="card-body" style="background-color: #ffe6e6;border-radius: 5px;">
            <h5 style="font-weight: bold;color: #dd6060">{{ 'DEFINE_VERIFIER_CHAMPS_OBLIGATOIRES' |trans }}</h5>
            <span id="error-container">

            </span>
        </div>
    </div>
    {% if error == true %}
        <div class="alert alert-danger">{{ 'CONCENTRATEUR_SERVICE_INDISPONIBLE'|trans|raw }}</div>
    {% else %}
        <div id="consultation-formulaire">
            <consultation-formulaire
                    plateforme="{{ uidPf }}"
                    id-consultation="{{ consultationId }}"
                    access-token="{{ accesToken }}"
                    traductions="{{ traductions }}"
                    />
        </div>
    {% endif %}
    <div class="row">
        <div class="col-6 col-lg-6 col-md-6 float-left">
            <button type="button" class="btn btn-primary primary-client-bg-border"  id="back-to-dashboard">
                {{ 'DEFINE_ENREGISTRER_ALLER_TABLEAU_BORD' |trans }}
            </button>

            <button id="save-stay-page" type="button" id="form_saveAndQuitte" class="btn btn-primary primary-client-bg-border">
                {{ 'DEFINE_ENREGISTRER_RESTER_PAGE' |trans }}
            </button>
        </div>
        <div class="col-6 col-lg-6 col-md-6 float-right">
            <button id="show-modal-consultation" type="button" class="btn btn-primary primary-client-bg-border btnValidation">
                {{ 'TEXT_DEMANDE_VALIDATION' |trans }}
            </button>
        </div>
    </div>
    <div class="dialog-component-mask" id="vailder-consultation-modal" style="display: none">
        <div class="dialog-component-container">
            <div class="modal-header">{{ 'TEXT_DEMANDE_VALIDATION' |trans }}</div>
            <div class="modal-body dialog-component-body">{{ 'MSG_CONFIRMATION_VALIDATION_ELABORATION' |trans }}</div>
            <div class="modal-footer" style="border-top: medium;">
                <button id="hide-modal-consultation" class="btn btn-light">{{ 'DEFINE_ANNULER' |trans }}</button>
                <button id="valider-consultation" class="btn btn-primary">{{ 'TEXT_VALIDER' |trans }}</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="consultation-id" value="{{ consultationId }}">
{% endblock %}
