
<div id="uploaded-dce" class="mt-n3 mb-3"
     {% if dce is not defined and dce_uploaded is not defined %}style="display: none"{% endif %}>
    <ul class="list-group">
        {% if dce is defined and dce is not null %}
            <li class="list-group-item
                    {% if dce_uploaded is defined and dce_uploaded is not null -%}
                        list-group-item-danger
                    {%- endif -%}">
                <i class="fa fa-folder"></i>
                {{ 'DEFINE_TELECHARGER_VERSION_ACTUELLE'|trans }} :
                <a href="{{ dce_url }}">{{ dce.nomDce }}</a>
                ({{ dce.tailleDce | sizeFormat('mo') }})
            </li>
        {% endif %}
        {% if dce_uploaded is defined and dce_uploaded is not null -%}
            <li class="list-group-item list-group-item-success">
                <i class="fa fa-folder"></i>
                {{ dce_uploaded.nomDce }}
                ({{ dce_uploaded.tailleDce | sizeFormat('mo') }})
            </li>
        {% endif %}
    </ul>
</div>
