<!DOCTYPE html>

<html class="bootstrap">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{{ message['import'] }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/upload.css') }}" type="text/css"/>
        <script src="{{ asset('consultation_depot/assets/js/jquery.min-1.9.1.js') }}" type="text/javascript"></script>
        <script src="{{ asset('consultation_depot/assets/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('consultation_depot/assets/js/fileupload.component.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <form method="post" class="form-upload-lots" action="" enctype="multipart/form-data">
                <div class="modal fade in bs-example-modal-lg" tabindex="-1" role="dialog" style="display: block;">
                    <div class="modal-dialog modal-lg" role="document" style="width: 98%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">{{ message['import'] }}</h4>
                            </div>
                            <div class="modal-body">
                                {% if codeProb == 0 %}
                                    <div class="alert alert-success" role="alert">
                                        {{ messageProb['lot_correctement_importes'] }}
                                    </div>
                                {% elseif codeProb == 1 %}
                                    <div class="alert alert-danger" role="alert">
                                        <div>{{ messageProb['format_fichier_non_respecte'] }}</div>
                                        <div>{{ messageProb['format_ecceptes'] }}
                                            <ul>
                                                <li>{{ messageProb['format_xlsx'] }}</li>
                                                <li>{{ messageProb['format_xls'] }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% elseif codeProb == 2 %}
                                    <div class="alert alert-danger" role="alert">
                                        <div>{{ messageProb['n_lots_importes'] }}</div>
                                        <div>{{ messageProb['lots_suivants_avec_des_erreurs'] }}<br />
                                            <ul>
                                                <li>{{ messageProb['liste_des_lots'] }}</li>
                                            </ul>
                                        </div>
                                        <div><strong>{{ messageProb['veuillez_verifier_le_format_du_fichier'] }}</strong></div>
                                        <div><strong>{{ messageProb['aucun_numero_lot_en_double'] }}</strong></div>
                                    </div>
                                {% elseif codeProb == 3 %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ messageProb['aucune_donnee_trouvee'] }}
                                    </div>
                                {% endif %}
                                {% if codeProb == 4 %}
                                <div class="alert alert-danger" role="alert">
                                    <div>{{ messageProb['import_lots_non_autorisee'] }}</div>
                                </div>
                                {% else %}
                                <div class="form-group files fileupload-component">
                                    <label class="fileupload-component-label" >{{ message['message'] }}</label>

                                    <div class="">

                                        <span class="btn btn-default fileinput-button upload-btn-piece">
                                          <span>{{ message['select'] }}</span>
                                          <input type="file" id="form_attachement" name="form[attachement]" class="fileupload-component-input">
                                      </span>
                                    </div>

                                    <div class="clearfix">&nbsp;</div>

                                    <div class="fileupload-component-file">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><strong>{{ message['file'] }}</strong></div>
                                            <div class="panel-body">
                                                <div class="clearfix">
                                                    <div class="col-xs-6">
                                                        <div class="file-name">
                                                            <i class="fa fa-download"></i>
                                                            <span class="name" data-binding="name"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="file-size" data-binding="size"></div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="file-progressbar">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                                    <span class="sr-only"><span class="valuenow" data-binding="valuenow">0</span>{{ 'TEXT_COMPLET_POURCENTAGE' | trans }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <div class="file-actions pull-right">
                                                            <button class="btn btn-sm btn-primary js-btn-delete"><i class="fa fa-trash-o"></i> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <a href="{{ urlModele }}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span> {{ 'TEXT_MODELE' | trans }}
                                    </a>
                                </div>
                                <div class="pull-right">
                                    {%
                                        if configurationPlateforme.getInterfaceDume() == 0
                                        or consultationObj.getDumeDemande() is empty
                                        or consultationObj.getDumeDemande() == 0
                                    %}
                                        <button type="submit" class="btn btn-primary js-btn-import">
                                            <span class="glyphicon glyphicon-open" aria-hidden="true"></span> {{ 'TEXT_IMPORTER'|trans }}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary js-btn-import" data-toggle="modal" data-target="#importerModal">
                                            <span class="glyphicon glyphicon-open" aria-hidden="true"></span> {{ 'TEXT_IMPORTER'|trans }}
                                        </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary" id="btn-close-popup-import-lot" data-refresh="{{ refresh }}">
                                        {{ 'FERMER'|trans }}
                                    </button>
                                </div>
                            </div>
                            <!-- Modal -->
                            {% if configurationPlateforme.getInterfaceDume() == 1 and consultationObj.getDumeDemande() == 1 %}
                            <div class="modal fade" id="importerModal" tabindex="-1" role="dialog" aria-labelledby="importerModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="importerModal">{{ 'DEMANDER_DE_VALIDATION'|trans }}
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'MSG_POPIN_MODIFICATION_LOT_DUME'|trans }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'FERMER'|trans }}</button>
                                            <button type="submit" class="btn btn-primary js-btn-import">
                                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span> {{ 'TEXT_IMPORTER'|trans }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!-- fin Modal -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
