<!-- Modale demande de confirmation -->
<div class="modal animated bounceInDown text-left"
     id="modaleSucces" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel48" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title white" id="myModalLabel48">
                    <i class="fa fa-question"></i> {{ 'DEMANDE_CONFIRMATION_VALIDATION' | trans }}
                </h4>
            </div>
            <div class="modal-body">
                <h5>{{ 'DEMANDE_CONFIRMATION_VALIDATION_QUESTION' | trans }}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modaleAnnuler" data-dismiss="modal">
                    {{ 'DEMANDE_CONFIRMATION_VALIDATION_ANNULER' | trans }}
                </button>
                <button type="button" class="btn btn-primary" id="modaleConfirmer">
                    {{ 'DEMANDE_CONFIRMATION_VALIDATION_CONFIRMER' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>