{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXTE_REDACTION_PIECES_MARCHE' | trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('consultation_search_index', {'id': consultationId, 'search': true }) }}">
                                {{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}
                            </a>
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            <a href="{{ path('consultation_search_index', {'id': consultationId, 'search': true }) }}">
                                {{ reference }}
                            </a>
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'TEXTE_REDACTION_PIECES_MARCHE' | trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div>
        <iframe title="Gérer les documents" id="iframeRedac" width="100%" height="700" class="iframe-redac"
                src="/index.php?page=Agent.PopupAccesRedaction&id={{ consultationId|base64_encode }}"
                style="border: none;"></iframe>
    </div>
{% endblock %}
