{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('consultation-simplifiee') }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('consultation-simplifiee') }}
{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'CREATION_CONSULTATION_SIMPLIFIEE' | trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_CONSULTATIONS' | trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'CREATION_CONSULTATION_SIMPLIFIEE' | trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert bg-{{ type }} alert-icon-left alert-arrow-left alert-dismissible">
                <span class="alert-icon">
                    {% if type == 'danger' %}
                        <i class="fa fa-times"></i>
                    {% else %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                </span>
                {{- message|raw -}}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form, { 'attr': { 'id': 'forms-consulation-simplifiee'}}) }}
        <div class="card mb-26">
            <div class="card-body">
                <h4>
                    {{ 'TEXT_IDENTIFICATION_CONS' | trans }}
                </h4>
                <hr>
                <div class="row">
                    <div class="col-6">
                        {# Type d'avis #}
                        {{ form_row(form.avisType) }}
                    </div>
                    <div class="col-6">
                        {# Type de contrat/marché #}
                        {{ form_row(form.typeMarche) }}
                    </div>
                    <div class="col-4">
                        {# Type de procédure #}
                        <div class="form-group">
                            {{ form_label(form.typeProcedureOrganisme) }}
                            <div id="divTypeProcedureOrganisme" data-selected="{{ typeProcedureOrganismeSelected }}">
                                {{ form_widget(form.typeProcedureOrganisme) }}
                            </div>
                            {{ form_errors(form.typeProcedureOrganisme) }}
                        </div>
                    </div>
                    <div class="col-4">
                        {# Type de consultation #}
                        {{ form_row(form.categorieConsultation) }}
                    </div>
                    <div class="col-4">
                        {# Réference de la consultation #}
                        {{ form_row(form.referenceUtilisateur) }}
                    </div>
                    <div class="col-4">
                    {% if actionType is defined %}
                        {{ form_widget(form.actionType,{'value' : actionType}) }}
                    {% endif %}
                    </div>
                </div>


                {# Intitule de la consultation #}
                {{ form_row(form.intitule) }}
                {# Objet de la consultation #}
                {{ form_row(form.objet) }}
                {# Commentaire interne de la consultation #}
                {{ form_row(form.champSuppInvisible) }}
                {# Lieux d'execution #}
                {{ form_row(form.lieuExecution) }}
                {# Lieu d'execution #}
                <div class="form-group form-group--inline">
                    <div class="row">
                        <div class="col-10">
                            {{ form_row(form.lieuxExecutionSelect) }}
                        </div>
                        <div class="col-2 form-group__selectLieuxBtnContainer">
                            <button type="button" class="btn btn-primary primary-client-bg-border" id="selectLieuxExecution">
                                {{ 'DEFINE_TEXT_EDITER' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-26">
            <div class="card-body">
                <h4>
                    {{ 'DEFINE_CALENDRIER' | trans }}
                </h4>
                <hr>
                {# Date de fin (remise des plis) #}
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label for="form_datefinDate" class="required">
                            {{ 'DEFINE_DATE_LIMITE_REMIS_PLIS'|trans() }}
                        </label>
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(form.datefinDate) }}
                        {{ form_errors(form.datefinDate) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(form.datefinHeure) }}
                        {{ form_errors(form.datefinHeure) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-26">
            <div class="card-body">
                <h4>
                    {{ 'PIECES_ET_MODALITES_ACCES' | trans }}
                </h4>
                <hr>
                <div class="row mt-2">
                    <div class="col-md-4">
                        {# Upload DCE #}
                        {{ form_row(form.dce) }}
                        {{ include('consultation/Agent/dce.html.twig') }}
                    </div>
                    <div class="col-md-4" id="type-acces">
                        {# Accès DCE #}
                        {{ form_row(form.typeAcces) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.codeProcedureInput) }}
                        {{ form_row(form.codeProcedure) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-header-right col-md-12 col-12">
                <div role="group" aria-label="Button group with nested dropdown"
                     class="btn-group float-md-right mt-1">
                    <div role="group" class="btn-group">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary primary-client-bg-border btn--borderedWhite'}}) }}
                        {{ form_widget(form.saveAndQuitte, {'attr': {'class': 'btn btn-primary primary-client-bg-border btn--borderedWhite'}}) }}
                        {{ form_widget(form.saveAndValidate, {'attr': {'class': 'btn btn-success btn--borderedWhite'}}) }}
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    {% include 'consultation/Agent/modale.html.twig' %}
{% endblock %}