<div class="content pull-left">
    <a href="https://voxusagers.numerique.gouv.fr/Demarches/756?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=4f425b95dcfd757d6f6fde024075d09b"
       target="_blank">
        <img src="https://voxusagers.numerique.gouv.fr/static/bouton-blanc.svg"
             alt="Je donne mon avis"
             style="max-width: 65%"
             title="Je donne mon avis sur cette démarche" />
    </a>
</div>