/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte bleu-gris*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#51585e !important; border:0; }

/* style Fiche WEKA bleu-gris */
#ficheConseil .fiche-header { background:#999; }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #51585e; background:#51585e; background:-webkit-gradient(linear, left top, left bottom, from(#51585e), to(#51585e)); background:-webkit-linear-gradient(top, #51585e, #51585e); background:-moz-linear-gradient(top, #51585e, #51585e); background:-ms-linear-gradient(top, #51585e, #51585e); background:-o-linear-gradient(top, #51585e, #51585e); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#51585e; background:#ff9328; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#51585e; background:#51585e !important; }