/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
#user-infos.user-toogle-infos,
.user-toogle-infos{
  background: none;
  margin-right: 3px;
  margin-top: -1px;
}

#user-infos .legacy input {
    line-height: normal;
    margin-top: 2px;
}

#user-infos .legacy input.ok {
    margin-top: 3px;
}

#user-infos .legacy .trigger {
    margin-top: 4px;
}

#user-infos .legacy .panel-user-infos {
    top: 23px;
    right: 0px;
}

#user-infos .bootstrap .panel-user-infos-login .compte {
    margin-left: 15px;
}

#user-infos .bootstrap .panel-user-infos-login .deconnexion {
    margin-right: 15px;
}
#user-infos .legacy .atx-popover-markup-login-usr .btn-toggle-info_user,
#user-infos .bootstrap .atx-popover-markup-login-usr .btn-toggle-info_user {
  position: relative;
  margin: 0 0 0 15px;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0 30px 0px 0px;
  background-image: url('../images/user-infos-bk-right-100.png');
  background-repeat:no-repeat;
  background-position: 100% 0;
  display: inline-block;
  background-color: transparent;
}
#user-infos .legacy .atx-popover-markup-login-usr .btn-toggle-info_user .text,
#user-infos .bootstrap .atx-popover-markup-login-usr .btn-toggle-info_user .text {
  background-image: url('../images/user-infos-bk-left.png');
  background-repeat:no-repeat;
  background-position: 0 0;
  padding: 0 0 0 30px;
  height:23px;
  display: inline-block;
  line-height:21px;
  min-width: 95px;
}
#user-infos .legacy .popover-content,
#user-infos .bootstrap .popover-content {
    padding: 9px 14px;
    color: #0c6187;
}

#user-infos .legacy .atx-popover-markup-login-usr .popover.bottom,
#user-infos .bootstrap .atx-popover-markup-login-usr .popover.bottom {
  margin-top: 12px;
  margin-left: 25px;
}

#user-infos .legacy .atx-popover-markup-login-usr .trigger-btn .trigger-btn:focus,
#user-infos .bootstrap .atx-popover-markup-login-usr .trigger-btn .trigger-btn:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}


#user-infos .legacy .atx-popover-markup-login-usr .trigger:focus,
#user-infos .bootstrap .atx-popover-markup-login-usr .trigger:focus{
 background:none;
}

#user-infos .legacy .atx-popover-markup-login-usr .margin,
#user-infos .bootstrap .atx-popover-markup-login-usr .margin {
 margin: 10px 0px 10px 0px;
}

#user-infos .legacy .atx-popover-markup-login-usr .content,
#user-infos .bootstrap .atx-popover-markup-login-usr .content {
 text-align: center;
}

#user-infos .legacy .atx-popover-markup-login-usr .arrow-down-login,
#user-infos .bootstrap .atx-popover-markup-login-usr .arrow-down-login {
 font-size: 9px;
 margin-left: 5px;
}

#user-infos .legacy .atx-popover-markup-login-usr .popover-body .popover-content .submit-login-btn,
#user-infos .bootstrap .atx-popover-markup-login-usr .popover-body .popover-content .submit-login-btn {
 background: #0c6187;
 color: #ffffff;
 padding: 10px;
}

#user-infos .legacy .atx-popover-markup-login-usr .line-separator,
#user-infos .bootstrap .atx-popover-markup-login-usr .line-separator {
 height: 2px;
 background: rgba(124, 124, 124, 0.16);
 position: relative;
 margin: 35px 0px 35px 0;
}

#user-infos .legacy .atx-popover-markup-login-usr .line-separator-text,
#user-infos .bootstrap .atx-popover-markup-login-usr .line-separator-text {
 background: #e9e9e9;
 color: #000;
 padding: 7px;
 border-radius: 15px;
 position: absolute;
 top: -15px;
 left: 50%;
 margin-left: -20px;
}

.atx-login-usr-home {
    width: 427px;
    height: 23px;
}

.panel-user-infos .france-connect-infos .fc-en-savoir-plus-link {
    display: inline;
    float: none;
}

[id*=bandeauAgent] #user-infos {
    margin: -7px 3px 0 0;
    background-image: none;
}

[id*=bandeauAgent] #user-infos .bootstrap .panel-user-infos-login .compte {
    margin-left: 0px;
}

[id*=bandeauAgent] #user-infos .bootstrap .panel-user-infos-login .deconnexion {
    margin-right: 0px;
}

#user-infos .bootstrap .atx-popover-markup-login-usr .popover.fade.bottom {
    display: none;
    top: 100%;
    left: -65px;
}
#user-infos .bootstrap .atx-popover-markup-login-usr .popover.fade.bottom.in {
    display: block;
}