/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/* Give the image 3px of space to breathe. */
.chosenImage-container .chosen-results li,
.chosenImage-container .chosen-single span {
  background: none 3px top / 25px 25px no-repeat;
  padding-left: 28px;
}

/* Make the image fit nicely to the left of the dropdown. */
.chosenImage-container .chosen-single {
  padding-left: 2px;
}

.chosenImage-container .chosen-single span {
  background-position: left 0;
}

/* Let the "No results match" text fill the whole width. */
.chosenImage-container .chosen-results .no-results {
  padding-left: inherit;
}
