/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/* Marianne-100 - latin */
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Marianne-Thin.woff'); /* IE9 Compat Modes */
    src: local('Marianne Thin'), local('Marianne-Thin'),
    url('../fonts/Marianne-Thin.otf') format('opentype'); /* IE6-IE8 */
}

/* Marianne-300 - latin */
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Marianne-Light.woff'); /* IE9 Compat Modes */
    src: local('Marianne Medium'), local('Marianne-Medium'),
    url('../fonts/Marianne-Light.otf') format('opentype'); /* IE6-IE8 */
}

/* Marianne-regular - latin */
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Marianne-Regular.woff'); /* IE9 Compat Modes */
    src: local('Marianne Regular'), local('Marianne-Regular'),
    url('../fonts/Marianne-Regular.otf') format('opentype'); /* IE6-IE8 */
}

/* Marianne-700 - latin */
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Marianne-Bold.woff'); /* IE9 Compat Modes */
    src: local('Marianne Bold'), local('Marianne-Bold'),
    url('../fonts/Marianne-Bold.otf') format('opentype'); /* IE6-IE8 */
}

/* Marianne-900 - latin */
@font-face {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Marianne-ExtraBold.woff'); /* IE9 Compat Modes */
    src: local('Marianne Black'), local('Marianne-Black'),
    url('../fonts/Marianne-Black.otf') format('opentype'); /* IE6-IE8 */
}
