/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte gris*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#666666 !important; border:0; }

/* style Fiche WEKA gris */
#ficheConseil .fiche-header { background:#999; }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #666666; background:#666666; background:-webkit-gradient(linear, left top, left bottom, from(#666666), to(#969696)); background:-webkit-linear-gradient(top, #666666, #969696); background:-moz-linear-gradient(top, #666666, #969696); background:-ms-linear-gradient(top, #666666, #969696); background:-o-linear-gradient(top, #666666, #969696); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#666666; background:#ff9328; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#666666; background:#666666 !important; }