/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte lagon*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#0c5476 !important; }

/* style Fiche WEKA lagon */
#ficheConseil .fiche-header { background:#0c648c; background:-webkit-gradient(linear, left top, left bottom, from(#0c648c), to(#0c5a7e)); background:-webkit-linear-gradient(top, #0c648c, #0c5a7e); background:-moz-linear-gradient(top, #0c648c, #0c5a7e); background:-ms-linear-gradient(top, #0c648c, #0c5a7e); background:-o-linear-gradient(top, #0c648c, #0c5a7e); }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #0c648c; background:#0c648c; background:-webkit-gradient(linear, left top, left bottom, from(#0c648c), to(#0c5a7e)); background:-webkit-linear-gradient(top, #0c648c, #0c5a7e); background:-moz-linear-gradient(top, #0c648c, #0c5a7e); background:-ms-linear-gradient(top, #0c648c, #0c5a7e); background:-o-linear-gradient(top, #0c648c, #0c5a7e); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#666666; background:#ff9328; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#0c5a7e; background:#0c5a7e !important; }