/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Ajax Loader*/
#pageLoader {
    position:absolute;
    z-index:999999;
    top:0px;
    left:0px;
    background-color:#fff;
    text-align:center;
    color:#666666;
    width:170px;
    border: 15px solid #efefef;
}
#pageLoader img { margin:5px; margin-bottom:10px }
#pageLoader #loaderIframe { position:absolute; left: 0px; top: 0px; z-index:-1; background-color:red; width:165px; height:80px; margin:0px; }
#pageLoader div {
    background-color:#fff;
    border:5px solid #cccccc;
    min-height: 70px;
}
#progressbar {
    text-align:center;
   /* background:#D4E1EE;
    font-weight:bold;
    color:#0052A0;*/
}
.AFSPagerWidget {
margin: 4pt 0;
text-align: center;
display: none;
margin-bottom: 20px;
}
.AFSPagerWidget-Set {
display: block;
}
.AFSPagerWidget_PreviousPage, .AFSPagerWidget_NextPage,
.AFSPagerWidget_PagesBefore, .AFSPagerWidget_PagesAfter,
.AFSPagerWidget_CurrentPage, .AFSPagerWidget_Page {
display: inline;
margin: 0 3pt;
}
.AFSPagerWidget_Page-Current a {
color: #FF0000;
font-weight: bold;
}
.AFSPagerWidget_PreviousPage, .AFSPagerWidget_NextPage {
margin-right: 20pt;
}
.AFSResultsWidget_Title {
font-weight: bold;
}
.AFSResultsWidget_Description {
padding-right: 10px;
}
.AFSResultsWidget_URL a {
font-style: italic;
font-size: 9pt;
text-decoration: none;
color: #777777;
}
.AFSResultsWidget_WordMatch {
font-style: italic;
font-weight: bold;
}