/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

#barre-modules { /*border:1px solid #cfd2d1;*/ border-top:0; background:none; text-align:left; margin-bottom:0px; height:26px; padding-top:5px; float:left; z-index:1; position:relative; padding-right:10px; }
#barre-modules ul { padding:12px 0 0 0; float:left; }
#barre-modules ul li { display:inline; margin-right:10px; }

#list-modules a { text-decoration:none; }
#list-modules .jqDockLabelLink { background:url(../images/module-tip-arrow.png) no-repeat center top transparent; padding-top:4px; }
#list-modules .jqDockLabel { font-weight:bold; text-transform:uppercase; font-size:0.8em; white-space:nowrap; color:#666; cursor:default; position:absolute; top:26px !important; }
#list-modules .jqDockLabelText  { border:1px solid #cdcdcd; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:5px; background:#fff; }

#list-modules a { background:none; }
#list-modules a.on img { opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); }

div.bloc-site-plan > ul > li:not(:first-child) { margin-top: 1.5em; }
div.bloc-site-plan > ul > li > ul > li > a { padding: 6px 15px; }