/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte bleu-gris*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#000 !important; border:0; }

/* style Fiche WEKA bleu-gris */
#ficheConseil .fiche-header { background:#999; }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #000; background:#000; background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#000)); background:-webkit-linear-gradient(top, #000, #000); background:-moz-linear-gradient(top, #000, #000); background:-ms-linear-gradient(top, #000, #000); background:-o-linear-gradient(top, #000, #000); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#000; background:#ff9328; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#000; background:#000 !important; }