/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte ocre*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#E97031 !important; }

/* style Fiche WEKA ocre */
#ficheConseil .fiche-header { background:#e97031; }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #e97031; background:#e97031; }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#e97031; background:#e97031; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#eb7d44; background:#eb7d44 !important; }