/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte orange*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#ff7f00 !important; }

/* style Fiche WEKA orange */
#ficheConseil .fiche-header { background:#ff7f00; }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #ff7f00; background:#ff7f00; }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#ff7f00; background:#ff7f00; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#ff8e1e; background:#ff8e1e !important; }
