/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte orange fonce*/
.blue { color:#666 !important; }
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#ff8252 !important; }

/* style Fiche WEKA orange-fonce */
#ficheConseil .fiche-header { background:#ff8252; background:-webkit-gradient(linear, left top, left bottom, from(#ff8252), to(#ff4f0a)); background:-webkit-linear-gradient(top, #ff8252, #ff4f0a); background:-moz-linear-gradient(top, #ff8252, #ff4f0a); background:-ms-linear-gradient(top, #ff8252, #ff4f0a); background:-o-linear-gradient(top, #ff8252, #ff4f0a); }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #ff8252; background:#ff8252; background:-webkit-gradient(linear, left top, left bottom, from(#ff8252), to(#ff4f0a)); background:-webkit-linear-gradient(top, #ff8252, #ff4f0a); background:-moz-linear-gradient(top, #ff8252, #ff4f0a); background:-ms-linear-gradient(top, #ff8252, #ff4f0a); background:-o-linear-gradient(top, #ff8252, #ff4f0a); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#ff8252; background:#ff9328; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#ff4f0a; background:#ff4f0a !important; }
