/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte rose*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#f37f9b !important; }

/* style Fiche WEKA rose */
#ficheConseil .fiche-header { background:#f25981; background:-webkit-gradient(linear, left top, left bottom, from(#f25981), to(#f37f9b)); background:-webkit-linear-gradient(top, #f25981, #f37f9b); background:-moz-linear-gradient(top, #f25981, #f37f9b); background:-ms-linear-gradient(top, #f25981, #f37f9b); background:-o-linear-gradient(top, #f25981, #f37f9b); }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #f25981; background:#f25981; background:-webkit-gradient(linear, left top, left bottom, from(#f25981), to(#f37f9b)); background:-webkit-linear-gradient(top, #f25981, #f37f9b); background:-moz-linear-gradient(top, #f25981, #f37f9b); background:-ms-linear-gradient(top, #f25981, #f37f9b); background:-o-linear-gradient(top, #f25981, #f37f9b); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#f25981; background:#f37f9b; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#f25981; background:#f25981 !important; }