/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

.bloc-login .form-field .top-title .login-info {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}

.bloc-login .form-field .top-title .line-separator {
  height: 2px;
  background: rgba(124, 124, 124, 0.16);
  position: relative;
  margin-top: 26px;
  margin-bottom: 32px;
}

.bloc-login .form-field .top-title .line-separator .line-separator-text {
  background: #7c7c7c;
  color: #ffffff;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -20px;
}
