/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte vert-pomme*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#000 !important; border:0; }

/* style Fiche WEKA vert-pomme */
#ficheConseil .fiche-header { background:#999; }
#ficheConseil .fiche-content .acces-fiche, #ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { background:#aec900; border:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
