/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/*Styles communs charte violet*/
a.bouton-validation, a.bouton-validation-long, a.bouton-validation-190, .bouton-validation-200, .bouton-validation-moyen, input.bouton-ajouter-panier, a.bouton-ajouter-panier { color:#641566 !important; }

/* style Fiche WEKA violet */
#ficheConseil .fiche-header { background:#641566; background:-webkit-gradient(linear, left top, left bottom, from(#641566), to(#943996)); background:-webkit-linear-gradient(top, #641566, #943996); background:-moz-linear-gradient(top, #641566, #943996); background:-ms-linear-gradient(top, #641566, #943996); background:-o-linear-gradient(top, #641566, #943996); }
#ficheConseil .fiche-content .acces-fiche { border-top:1px solid #641566; background:#f25981; background:-webkit-gradient(linear, left top, left bottom, from(#641566), to(#943996)); background:-webkit-linear-gradient(top, #641566, #943996); background:-moz-linear-gradient(top, #641566, #943996); background:-ms-linear-gradient(top, #641566, #943996); background:-o-linear-gradient(top, #641566, #943996); }
#ficheConseil .fiche-content .acces-fiche:hover { border-top-color:#641566; background:#641566; }
#ficheConseil .fiche-content .acces-fiche:hover, #ficheConseil .fiche-content .acces-fiche:active { border-top-color:#641566; background:#641566 !important; }