/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

// Core variables and mixins
@import "scss/bootstrap/functions";
@import "scss/bootstrap/mixins";
@import "scss/bootstrap-extended";

@import "scss/core/variables/variables";
@import "scss/bootstrap/variables";

a {
  font-family: $font-family-monospace;
}

.modal-dialog .btn-default {
  background-color: $white;
}
