<ng-container *ngIf="sessionManager.ok">
    <article id="component__container">
        <section id="component__content">
            <router-outlet></router-outlet>

            <footer class="main-footer">
                <ol>
                    <li>
                        <a id="opener" (click)="open()"><i class="fa-solid fa-external-link-alt"></i></a>
                    </li>
                    <li>
                        <a (click)="credentials()"><i class="fa-solid fa-circle-question"></i></a>
                    </li>
                </ol>
            </footer>
        </section>
    </article>
</ng-container>


