.main-footer {
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1040px) {
  .main-footer {
    display: flex;
    width: 100%;
    min-height: 36px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    color: #2660a4;
    position: fixed;
    top: 0;
    right: 8px;
    z-index: 2;
    background: #fff;

    ol {
      display: flex;
      flex-direction: row;
      width: 34px;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1040px) {
  .main-footer {
    display: flex;
    width: 100%;
    max-width: 1480px;
    min-height: 42px;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    color: #2660a4;
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
    margin-left: -12px;
    z-index: 2;

    #opener {
      display: none;
    }
  }
}




