<meta charset="utf-8">
<title>AnnonceRecap</title>


<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/vue-multiselect.min.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/toggle-switch.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/chosen-gwt.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/chosen.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/nav-modules.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/jquery.treeTable.css"  media="all" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/loader.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/print.css" type="text/css" media="print" />

<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/bootstrap-custom.css" type="text/css" media="all" />

<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/jquery.tagsinput.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/styles.css"  media="all" />
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/responsive/css/bootstrap-wysihtml5.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/responsive/css/wysiwyg-color.css" type="text/css" media="all" />
<!--bloc added since MPE-2865-->
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/atx-popover-markup-login-usr.css" media="all"/>
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/sign-in-bloc.css" media="all">
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/bootstrap-ng.css" type="text/css" media="all">
<link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/bootstrap-iso.css" type="text/css" media="all"/>
<!-- end bloc -->

<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/bootboxjs.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/jquery-compatibility.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/upload/vendor/jquery.ui.widget.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/upload/jquery.iframe-transport.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/upload/jquery.fileupload.js"></script>

<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/upload/jquery.fileupload-ui-noscript.css" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/upload/jquery.fileupload-ui.css" media="all" />
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/jquery-ui.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.numberformatter-1.2.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.treeTable.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.jqdock.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/chosen.jquery.js"></script>
<script type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/leaflet.js"></script>
<script type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/leaflet.awesome-markers.js"></script>
<script type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/leaflet.markercluster.js"></script>
<script type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.tagsinput.js"></script>
<script type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.dotdotdot.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.placeholder.js"></script>

<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/scripts.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/codeCpv.fr.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/atexoRef.fr.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/calendrier.fr.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/atexoScript.fr.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/popup.inc.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/scripts-eval.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/atexoFileUpload.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/jquery.maskedinput-1.3.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/tab.js"></script>

<script type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/loader.js"></script>
<script language="JavaScript" type="text/javascript" src="https://www.marches-publics.gouv.fr/themes/js/atexoApplet.fr.js"></script>

<script language="JavaScript" type='text/javascript' src="https://www.marches-publics.gouv.fr/themes/js/jquery.autocomplete.js"></script>
<script language="JavaScript" type='text/javascript' src="https://www.marches-publics.gouv.fr/themes/js/data.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/modernizr.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/printThis/printThis.js"></script>
<script language="JavaScript" type="text/JavaScript" src="https://www.marches-publics.gouv.fr/themes/js/placeholder.js"></script>



<script src="https://unpkg.com/vue"></script>

<link rel="stylesheet" href="./annonce-suivi/annonceSuivi.css">


<style>

  .custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #0495c9;
    background-color: #0495c9;
  }
  .btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
  }

</style>

<script src="./annonce-suivi/annonceSuivi.umd.min.js"></script>


<div style="text-align: left">
  <h1>Page MPE :</h1> <br>

  <br>
  <br>  <br>
  <br>
  <br>
  <br>  <br>
  <br>  <br>
  <br>
  <br>
  <br>
</div>

<h1>Composant :</h1> <br>
<div id="annonce-suivi">
  <annonce-suivi
          access-token=""
          xml-annonce="PHJvb3Q+Cgo8aW5mb0Fubm9uY2VzPm9rIHRlc3Q8L2luZm9Bbm5vbmNlcz4KCjwvcm9vdD4K"
          plateforme="MPE_place_recette"
          basic-token="TVBFX3BsYWNlX3JlY2V0dGU6Q29udmVyZ2VuY2Uh"
          id-consultation="508127"
          traductions='{

                "TEXT_SELECTION_OFFRE_ECHOS": "Sélectionner",
                "TEXT_SELECTION_OFFRE_ECHOS": "attente de publication",
                "DATES": "Dates",
                "STATUT_ANNONCE_A_COMPLETER": "Brouillon",
                "STATUT_PUBLICATION": "Statut publication",
                "ACTIONS_PUBLICATION": "Actions",
                "STATUT_ANNONCE_EN_ATTENTE_PUBLICATION": "En attente de publication",
                "DATE_ANNONCE_A_COMPLETER": "Date de création",
                "STATUT_ANNONCE_COMPLET": "Complet",
                "DATE_ANNONCE_EN_ATTENTE_PUBLICATION": "Date Publication"
              }'

  ></annonce-suivi>
</div>

<script src="./annonceSuiviVue.js"></script>
