<div class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="nav navbar-nav float-left">
                {% set logo = atexo_menu.isPanelLogo() %}
                {% if logo['logo'] == 'true' %}
                    <a href="/agent">
                        <div class="logo-client">
                            {% if design is defined %}
                            <img src="/themes/{{ design }}/images/logo.gif" class="logo"
                                alt="{{ 'PLACE_MARCHE_PUBLIC_INTERMINISTERE'|trans }}"
                                title="{{ 'PLACE_MARCHE_PUBLIC_INTERMINISTERE'|trans }}"/>
                            {% endif %}
                        </div>
                    </a>
                {% else %}
                    <div class="logo-client">
                        <h1>
                            {% if design is defined %}
                            <a href="{{ logo['logo'] }}" class="left" target="_blank"><img src="/themes/{{ design }}/images/logo.gif"
                                                                                           class="logo"
                                                                                           alt="{{ logo['alt'] }}"
                                                                                           title="{{ logo['title'] }}"/></a>
                            {% endif %}
                        </h1>
                    </div>
                {% endif %}
                {% if atexo_menu.isPanelLogoBoamp() == true %}
                    <div class="logo-right">
                        <a href="http://www.boamp.fr" target="_blank">
                            <img src="/themes/images/logo-right.png"
                                 alt="Le site du Bulletin Officiel des Annonces de March&eacute;s Publics"
                                 title="Acc&eacute;der au site www.boamp.fr (nouvelle fen&ecirc;tre)"/></a>
                    </div>
                {% endif %}
                {% if app.user
                    and atexo_menu.getAfficherImageOrganisme() == true
                    and atexo_menu.getUrlLogoOrganisme(atexo_menu.getAcroOrganisme(), true) != false
                %}
                    {% set acro = atexo_menu.getAcroOrganisme() %}
                    <div class="logo-organisme">
                        <img src="{{ atexo_menu.getUrlLogoOrganisme(acro, true) }}" class="logo" alt="Logo Organisme" title="Logo Organisme"/>
                    </div>
                {% endif %}
            <!-- début bloc user info -->
            {% if atexo_menu.getMultiLinguismeAgent() == true %}
                <div class="choix-langue">
                    <span>{{ 'DEFINE_LANGUE_NAVIGATION'|trans }} : </span>
                    {% for langue in langues() %}
                        {% set flag = atexo_menu.selectFlag(langue.langue) %}
                        <a onclick="selectFlag(this);" class="{{ flag }}" href="{{ path('switcher-language', {'_locale': langue.langue}) }}">
                            <input type="image"
                                   src="/themes/images/flag-{{ langue.langue }}.png"
                                   alt="{{ langue.langue|upper }}"
                                   title="{{ langue.langue|upper }}"
                                   value="{{ langue.langue }}"
                                   class="language-choice flage-{{ langue.langue|upper }}"
                            />
                        </a>
                    {% endfor %}
                    &nbsp;&nbsp;
                </div>
            {% endif %}
            <!-- fin bloc user info -->
        </div>
        <ul class="nav navbar-nav float-right">
            {% if atexo_menu.isAgentConnect() == true %}
                {% if atexo_menu.isAccessSpaserGranted() %}
                    <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label d-flex align-items-center spaser-item"
                           href="{{ path('agent_spaser_objet_metier_dashboard') }}" target="_blank">
                            <i class="la la-leaf"></i>
                            <span class="spaser-text">{{ 'TEXT_SPASER'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if atexo_menu.hasStatisticsMenu() == true %}
                    <div id="agentHeaderStatistics">
                        <header-statistics lang-statistics="{{ 'TEXT_STATISTIQUES'|trans }}" lang-statistics-reports="{{ 'STATISTICS_REPORTS'|trans }}" lang-no-statistics-reports="{{ 'NO_STATISTICS_REPORT_TO_DISPLAY'|trans }}">
                        </header-statistics>
                    </div>
                {% endif %}
                <li class="dropdown dropdown-notification nav-item">
                    <a class="nav-link nav-link-label d-flex align-items-center" href="{{ path('agent_administration_index') }}">
                        <i class="fa fa-cog"></i>
                        {{ 'ADMINISTRATION_AGENT'|trans }}
                    </a>
                </li>
                <li class="dropdown dropdown-notification nav-item">
                    <!-- include du component de notifications -->
                    {% include  'agent/notification.html.twig' %}
                    <!-- fin include du component de notifications -->
                </li>
            {% endif %}
            <li class="dropdown dropdown-user-link nav-item">
                {% include  'agent/user-widget.html.twig' %}
            </li>
        </ul>
    </div>
</div>
