<!--Debut header-->
<!--Bandeau Agent Socle Interne-->
<div id="MPE-nav" class="horizontal-layout horizontal-menu 2-columns menu-expanded pace-done">
    {% include 'menuAgent/bandeau-header-navbar.html.twig' %}

    <nav class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow"
         id="main-nav-MPE"
         role="navigation" data-menu="menu-wrapper">
        {% if atexo_menu.isAgentConnect() == true %}
            <div class="navbar-container main-menu-content sticky-content" data-menu="menu-container">
                {{ knp_menu_render('socle_interne_accueil', {}) }}
            </div>
        {% endif %}
    </nav>
</div>
<!--Fin header-->