<!--Debut header-->
<!--BandeauAgent-->
<div id="MPE-nav" class="horizontal-layout horizontal-menu 2-columns menu-expanded pace-done">
    {% include 'menuAgent/bandeau-header-navbar.html.twig' %}

    <nav class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow"
         id="main-nav-MPE"
         role="navigation" data-menu="menu-wrapper">
        {% if atexo_menu.isAgentConnect() == true %}
            <div class="navbar-container main-menu-content sticky-content" data-menu="menu-container">
                {{ knp_menu_render('agent', {}, 'cached_menu') }}
            </div>
        {% endif %}
    </nav>
</div>
<!--Fin header-->

{% if atexo_menu.isAgentConnect() == true %}
<script>
    var headerNavHTMLNode = document.getElementById('main-nav-MPE');
    var headerNavContentHTMLNode = document.querySelector('.sticky-content')

    window.onscroll = function() {
        var windowScrollTop = window.pageYOffset;

        if (windowScrollTop > headerNavHTMLNode.offsetTop) {
            headerNavContentHTMLNode.classList.add('is_stuck');
        } else if (windowScrollTop < headerNavHTMLNode.offsetTop && headerNavContentHTMLNode.classList.contains('is_stuck')) {
            headerNavContentHTMLNode.classList.remove('is_stuck');
        }
    }
</script>
{% endif %}
