{#
Quand les messages d'erreur doivent s'afficher ailleurs dans la page
il suffit d'ajouter
    {% set doNotDisplayFlashMessagesGlobally = true %}
dans le template et d'y gérer spécifiquement l'affichage des messages.
Cf. exemple dans security/login.html.twig
#}
{% if doNotDisplayFlashMessagesGlobally is not defined or not doNotDisplayFlashMessagesGlobally %}
<div id="infoErrone" class="mt-2">
    {% set messages =  app.flashes('error') %}

    {% for message in messages %}
        <div class="container">
            <div class="alert bg-danger alert-icon-left alert-arrow-left alert-dismissible">
            <span class="alert-icon">
                <i class="fa fa-times"></i>
            </span>
                {{ message | raw}}
            </div>
        </div>
    {% endfor %}
</div>

{# MESSAGE SUCCESS ACCUEIL ENTREPRISE #}
<div class="mt-2">
{% set messages =  app.flashes('success') %}

    {% for message in messages %}
        <div class="container">
            <div class="alert bg-success alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                <span class="alert-icon"><i class="fa fa-check"></i></span>
                {{ message |trans}}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
