// Palettes
// --------------------------------------------------------------------------------

// Red
$list-red: #fde0dc, #f9bdbb, #f69988, #f36c60, #e84e40,
#e51c23, #dd191d, #d01716, #c41411, #b0120a,
#ff7997, #ff5177, #ff2d6f, #e00032;

// Pink
$list-pink: #fce4ec, #f8bbd0, #f48fb1, #f06292, #ec407a,
#e91e63, #d81b60, #c2185b, #ad1457, #880e4f,
#ff80ab, #ff4081, #f50057, #c51162;

// Purple
$list-purple: #f3e5f5, #e1bee7, #ce93d8, #ba68c8, #ab47bc,
#9c27b0, #8e24aa, #7b1fa2, #6a1b9a, #4a148c,
#ea80fc, #e040fb, #d500f9, #aa00ff;

// Deep Purple
$list-deep-purple: #ede7f6, #d1c4e9, #b39ddb, #9575cd, #7e57c2,
#673ab7, #5e35b1, #512da8, #4527a0, #311b92,
#b388ff, #7c4dff, #651fff, #6200ea;

// Indigo
$list-indigo: #e8eaf6, #c5cae9, #9fa8da, #7986cb, #5c6bc0,
#3f51b5, #3949ab, #303f9f, #283593, #1a237e,
#8c9eff, #536dfe, #3d5afe, #304ffe;

// Blue
$list-blue: #e7e9fd, #d0d9ff, #afbfff, #91a7ff, #738ffe,
#5677fc, #4e6cef, #455ede, #3b50ce, #2a36b1,
#a6baff, #6889ff, #4d73ff, #4d69ff;

// Light Blue
$list-light-blue: #e1f5fe, #b3e5fc, #81d4fa, #4fc3f7, #29b6f6,
#03a9f4, #039be5, #0288d1, #0277bd, #01579b,
#80d8ff, #40c4ff, #00b0ff, #0091ea;

// Cyan
$list-cyan: #e0f7fa, #b2ebf2, #80deea, #4dd0e1, #26c6da,
#00bcd4, #00acc1, #0097a7, #00838f, #006064,
#84ffff, #18ffff, #00e5ff, #00b8d4;

// Teal
$list-teal: #e0f2f1, #b2dfdb, #80cbc4, #4db6ac, #26a69a,
#009688, #00897b, #00796b, #00695c, #004d40,
#a7ffeb, #64ffda, #1de9b6, #00bfa5;

// Green
$list-green: #d0f8ce, #a3e9a4, #72d572, #42bd41, #2baf2b,
#259b24, #0a8f08, #0a7e07, #056f00, #0d5302,
#a2f78d, #5af158, #14e715, #12c700;

// Light Green
$list-light-green: #f1f8e9, #dcedc8, #c5e1a5, #aed581, #9ccc65,
#8bc34a, #7cb342, #689f38, #558b2f, #33691e,
#ccff90, #b2ff59, #76ff03, #64dd17;

// Lime
$list-lime: #f9fbe7, #f0f4c3, #e6ee9c, #dce775, #d4e157,
#cddc39, #c0ca33, #afb42b, #9e9d24, #827717,
#f4ff81, #eeff41, #c6ff00, #aeea00;

// Yellow
$list-yellow: #fffde7, #fff9c4, #fff59d, #fff176, #ffee58,
#ffeb3b, #fdd835, #fbc02d, #f9a825, #f57f17,
#ffff8d, #ffff00, #ffea00, #ffd600;

// Amber
$list-amber: #fff8e1, #ffecb3, #ffe082, #ffd54f, #ffca28,
#ffc107, #ffb300, #ffa000, #ff8f00, #ff6f00,
#ffe57f, #ffd740, #ffc400, #ffab00;

// Orange
$list-orange: #fff3e0, #ffe0b2, #ffcc80, #ffb74d, #ffa726,
#ff9800, #fb8c00, #f57c00, #ef6c00, #e65100,
#ffd180, #ffab40, #ff9100, #ff6d00;

// Deep Orange
$list-deep-orange: #fbe9e7, #ffccbc, #ffab91, #ff8a65, #ff7043,
#ff5722, #f4511e, #e64a19, #d84315, #bf360c,
#ff9e80, #ff6e40, #ff3d00, #dd2c00;

// Brown
$list-brown: #efebe9, #d7ccc8, #bcaaa4, #a1887f, #8d6e63,
#795548, #6d4c41, #5d4037, #4e342e, #3e2723;

// Grey
$list-grey: #fafafa, #f5f5f5, #eeeeee, #e0e0e0, #bdbdbd,
#9e9e9e, #757575, #616161, #424242, #212121,
#000000;

// Blue Grey
$list-blue-grey: #eceff1, #cfd8dc, #b0bec5, #90a4ae, #78909c,
#607d8b, #546e7a, #455a64, #37474f, #263238;

// Definitions
// --------------------------------------------------------------------------------

// Red
$palette-red: nth($list-red, 6);

$palette-red-50: nth($list-red, 1);
$palette-red-100: nth($list-red, 2);
$palette-red-200: nth($list-red, 3);
$palette-red-300: nth($list-red, 4);
$palette-red-400: nth($list-red, 5);
$palette-red-500: nth($list-red, 6);
$palette-red-600: nth($list-red, 7);
$palette-red-700: nth($list-red, 8);
$palette-red-800: nth($list-red, 9);
$palette-red-900: nth($list-red, 10);
$palette-red-A100: nth($list-red, 11);
$palette-red-A200: nth($list-red, 12);
$palette-red-A400: nth($list-red, 13);
$palette-red-A700: nth($list-red, 14);

// Pink
$palette-pink: nth($list-pink, 6);

$palette-pink-50: nth($list-pink, 1);
$palette-pink-100: nth($list-pink, 2);
$palette-pink-200: nth($list-pink, 3);
$palette-pink-300: nth($list-pink, 4);
$palette-pink-400: nth($list-pink, 5);
$palette-pink-500: nth($list-pink, 6);
$palette-pink-600: nth($list-pink, 7);
$palette-pink-700: nth($list-pink, 8);
$palette-pink-800: nth($list-pink, 9);
$palette-pink-900: nth($list-pink, 10);
$palette-pink-A100: nth($list-pink, 11);
$palette-pink-A200: nth($list-pink, 12);
$palette-pink-A400: nth($list-pink, 13);
$palette-pink-A700: nth($list-pink, 14);

// Purple
$palette-purple: nth($list-purple, 6);

$palette-purple-50: nth($list-purple, 1);
$palette-purple-100: nth($list-purple, 2);
$palette-purple-200: nth($list-purple, 3);
$palette-purple-300: nth($list-purple, 4);
$palette-purple-400: nth($list-purple, 5);
$palette-purple-500: nth($list-purple, 6);
$palette-purple-600: nth($list-purple, 7);
$palette-purple-700: nth($list-purple, 8);
$palette-purple-800: nth($list-purple, 9);
$palette-purple-900: nth($list-purple, 10);
$palette-purple-A100: nth($list-purple, 11);
$palette-purple-A200: nth($list-purple, 12);
$palette-purple-A400: nth($list-purple, 13);
$palette-purple-A700: nth($list-purple, 14);

// Deep Purple
$palette-deep-purple: nth($list-deep-purple, 6);

$palette-deep-purple-50: nth($list-deep-purple, 1);
$palette-deep-purple-100: nth($list-deep-purple, 2);
$palette-deep-purple-200: nth($list-deep-purple, 3);
$palette-deep-purple-300: nth($list-deep-purple, 4);
$palette-deep-purple-400: nth($list-deep-purple, 5);
$palette-deep-purple-500: nth($list-deep-purple, 6);
$palette-deep-purple-600: nth($list-deep-purple, 7);
$palette-deep-purple-700: nth($list-deep-purple, 8);
$palette-deep-purple-800: nth($list-deep-purple, 9);
$palette-deep-purple-900: nth($list-deep-purple, 10);
$palette-deep-purple-A100: nth($list-deep-purple, 11);
$palette-deep-purple-A200: nth($list-deep-purple, 12);
$palette-deep-purple-A400: nth($list-deep-purple, 13);
$palette-deep-purple-A700: nth($list-deep-purple, 14);

// Indigo
$palette-indigo: nth($list-indigo, 6);

$palette-indigo-50: nth($list-indigo, 1);
$palette-indigo-100: nth($list-indigo, 2);
$palette-indigo-200: nth($list-indigo, 3);
$palette-indigo-300: nth($list-indigo, 4);
$palette-indigo-400: nth($list-indigo, 5);
$palette-indigo-500: nth($list-indigo, 6);
$palette-indigo-600: nth($list-indigo, 7);
$palette-indigo-700: nth($list-indigo, 8);
$palette-indigo-800: nth($list-indigo, 9);
$palette-indigo-900: nth($list-indigo, 10);
$palette-indigo-A100: nth($list-indigo, 11);
$palette-indigo-A200: nth($list-indigo, 12);
$palette-indigo-A400: nth($list-indigo, 13);
$palette-indigo-A700: nth($list-indigo, 14);

// Blue
$palette-blue: nth($list-blue, 6);

$palette-blue-50: nth($list-blue, 1);
$palette-blue-100: nth($list-blue, 2);
$palette-blue-200: nth($list-blue, 3);
$palette-blue-300: nth($list-blue, 4);
$palette-blue-400: nth($list-blue, 5);
$palette-blue-500: nth($list-blue, 6);
$palette-blue-600: nth($list-blue, 7);
$palette-blue-700: nth($list-blue, 8);
$palette-blue-800: nth($list-blue, 9);
$palette-blue-900: nth($list-blue, 10);
$palette-blue-A100: nth($list-blue, 11);
$palette-blue-A200: nth($list-blue, 12);
$palette-blue-A400: nth($list-blue, 13);
$palette-blue-A700: nth($list-blue, 14);

// Light Blue
$palette-light-blue: nth($list-light-blue, 6);

$palette-light-blue-50: nth($list-light-blue, 1);
$palette-light-blue-100: nth($list-light-blue, 2);
$palette-light-blue-200: nth($list-light-blue, 3);
$palette-light-blue-300: nth($list-light-blue, 4);
$palette-light-blue-400: nth($list-light-blue, 5);
$palette-light-blue-500: nth($list-light-blue, 6);
$palette-light-blue-600: nth($list-light-blue, 7);
$palette-light-blue-700: nth($list-light-blue, 8);
$palette-light-blue-800: nth($list-light-blue, 9);
$palette-light-blue-900: nth($list-light-blue, 10);
$palette-light-blue-A100: nth($list-light-blue, 11);
$palette-light-blue-A200: nth($list-light-blue, 12);
$palette-light-blue-A400: nth($list-light-blue, 13);
$palette-light-blue-A700: nth($list-light-blue, 14);

// Cyan
$palette-cyan: nth($list-cyan, 6);

$palette-cyan-50: nth($list-cyan, 1);
$palette-cyan-100: nth($list-cyan, 2);
$palette-cyan-200: nth($list-cyan, 3);
$palette-cyan-300: nth($list-cyan, 4);
$palette-cyan-400: nth($list-cyan, 5);
$palette-cyan-500: nth($list-cyan, 6);
$palette-cyan-600: nth($list-cyan, 7);
$palette-cyan-700: nth($list-cyan, 8);
$palette-cyan-800: nth($list-cyan, 9);
$palette-cyan-900: nth($list-cyan, 10);
$palette-cyan-A100: nth($list-cyan, 11);
$palette-cyan-A200: nth($list-cyan, 12);
$palette-cyan-A400: nth($list-cyan, 13);
$palette-cyan-A700: nth($list-cyan, 14);

// Teal
$palette-teal: nth($list-teal, 6);

$palette-teal-50: nth($list-teal, 1);
$palette-teal-100: nth($list-teal, 2);
$palette-teal-200: nth($list-teal, 3);
$palette-teal-300: nth($list-teal, 4);
$palette-teal-400: nth($list-teal, 5);
$palette-teal-500: nth($list-teal, 6);
$palette-teal-600: nth($list-teal, 7);
$palette-teal-700: nth($list-teal, 8);
$palette-teal-800: nth($list-teal, 9);
$palette-teal-900: nth($list-teal, 10);
$palette-teal-A100: nth($list-teal, 11);
$palette-teal-A200: nth($list-teal, 12);
$palette-teal-A400: nth($list-teal, 13);
$palette-teal-A700: nth($list-teal, 14);

// Green
$palette-green: nth($list-green, 6);

$palette-green-50: nth($list-green, 1);
$palette-green-100: nth($list-green, 2);
$palette-green-200: nth($list-green, 3);
$palette-green-300: nth($list-green, 4);
$palette-green-400: nth($list-green, 5);
$palette-green-500: nth($list-green, 6);
$palette-green-600: nth($list-green, 7);
$palette-green-700: nth($list-green, 8);
$palette-green-800: nth($list-green, 9);
$palette-green-900: nth($list-green, 10);
$palette-green-A100: nth($list-green, 11);
$palette-green-A200: nth($list-green, 12);
$palette-green-A400: nth($list-green, 13);
$palette-green-A700: nth($list-green, 14);

// Light Green
$palette-light-green: nth($list-light-green, 6);

$palette-light-green-50: nth($list-light-green, 1);
$palette-light-green-100: nth($list-light-green, 2);
$palette-light-green-200: nth($list-light-green, 3);
$palette-light-green-300: nth($list-light-green, 4);
$palette-light-green-400: nth($list-light-green, 5);
$palette-light-green-500: nth($list-light-green, 6);
$palette-light-green-600: nth($list-light-green, 7);
$palette-light-green-700: nth($list-light-green, 8);
$palette-light-green-800: nth($list-light-green, 9);
$palette-light-green-900: nth($list-light-green, 10);
$palette-light-green-A100: nth($list-light-green, 11);
$palette-light-green-A200: nth($list-light-green, 12);
$palette-light-green-A400: nth($list-light-green, 13);
$palette-light-green-A700: nth($list-light-green, 14);

// Lime
$palette-lime: nth($list-lime, 6);

$palette-lime-50: nth($list-lime, 1);
$palette-lime-100: nth($list-lime, 2);
$palette-lime-200: nth($list-lime, 3);
$palette-lime-300: nth($list-lime, 4);
$palette-lime-400: nth($list-lime, 5);
$palette-lime-500: nth($list-lime, 6);
$palette-lime-600: nth($list-lime, 7);
$palette-lime-700: nth($list-lime, 8);
$palette-lime-800: nth($list-lime, 9);
$palette-lime-900: nth($list-lime, 10);
$palette-lime-A100: nth($list-lime, 11);
$palette-lime-A200: nth($list-lime, 12);
$palette-lime-A400: nth($list-lime, 13);
$palette-lime-A700: nth($list-lime, 14);

//Yellow
$palette-yellow: nth($list-yellow, 6);

$palette-yellow-50: nth($list-yellow, 1);
$palette-yellow-100: nth($list-yellow, 2);
$palette-yellow-200: nth($list-yellow, 3);
$palette-yellow-300: nth($list-yellow, 4);
$palette-yellow-400: nth($list-yellow, 5);
$palette-yellow-500: nth($list-yellow, 6);
$palette-yellow-600: nth($list-yellow, 7);
$palette-yellow-700: nth($list-yellow, 8);
$palette-yellow-800: nth($list-yellow, 9);
$palette-yellow-900: nth($list-yellow, 10);
$palette-yellow-A100: nth($list-yellow, 11);
$palette-yellow-A200: nth($list-yellow, 12);
$palette-yellow-A400: nth($list-yellow, 13);
$palette-yellow-A700: nth($list-yellow, 14);

// Amber
$palette-amber: nth($list-amber, 6);

$palette-amber-50: nth($list-amber, 1);
$palette-amber-100: nth($list-amber, 2);
$palette-amber-200: nth($list-amber, 3);
$palette-amber-300: nth($list-amber, 4);
$palette-amber-400: nth($list-amber, 5);
$palette-amber-500: nth($list-amber, 6);
$palette-amber-600: nth($list-amber, 7);
$palette-amber-700: nth($list-amber, 8);
$palette-amber-800: nth($list-amber, 9);
$palette-amber-900: nth($list-amber, 10);
$palette-amber-A100: nth($list-amber, 11);
$palette-amber-A200: nth($list-amber, 12);
$palette-amber-A400: nth($list-amber, 13);
$palette-amber-A700: nth($list-amber, 14);

// Orange
$palette-orange: nth($list-orange, 6);

$palette-orange-50: nth($list-orange, 1);
$palette-orange-100: nth($list-orange, 2);
$palette-orange-200: nth($list-orange, 3);
$palette-orange-300: nth($list-orange, 4);
$palette-orange-400: nth($list-orange, 5);
$palette-orange-500: nth($list-orange, 6);
$palette-orange-600: nth($list-orange, 7);
$palette-orange-700: nth($list-orange, 8);
$palette-orange-800: nth($list-orange, 9);
$palette-orange-900: nth($list-orange, 10);
$palette-orange-A100: nth($list-orange, 11);
$palette-orange-A200: nth($list-orange, 12);
$palette-orange-A400: nth($list-orange, 13);
$palette-orange-A700: nth($list-orange, 14);

// Deep Orange
$palette-deep-orange: nth($list-deep-orange, 6);

$palette-deep-orange-50: nth($list-deep-orange, 1);
$palette-deep-orange-100: nth($list-deep-orange, 2);
$palette-deep-orange-200: nth($list-deep-orange, 3);
$palette-deep-orange-300: nth($list-deep-orange, 4);
$palette-deep-orange-400: nth($list-deep-orange, 5);
$palette-deep-orange-500: nth($list-deep-orange, 6);
$palette-deep-orange-600: nth($list-deep-orange, 7);
$palette-deep-orange-700: nth($list-deep-orange, 8);
$palette-deep-orange-800: nth($list-deep-orange, 9);
$palette-deep-orange-900: nth($list-deep-orange, 10);
$palette-deep-orange-A100: nth($list-deep-orange, 11);
$palette-deep-orange-A200: nth($list-deep-orange, 12);
$palette-deep-orange-A400: nth($list-deep-orange, 13);
$palette-deep-orange-A700: nth($list-deep-orange, 14);

// Brown
$palette-brown: nth($list-brown, 6);

$palette-brown-50: nth($list-brown, 1);
$palette-brown-100: nth($list-brown, 2);
$palette-brown-200: nth($list-brown, 3);
$palette-brown-300: nth($list-brown, 4);
$palette-brown-400: nth($list-brown, 5);
$palette-brown-500: nth($list-brown, 6);
$palette-brown-600: nth($list-brown, 7);
$palette-brown-700: nth($list-brown, 8);
$palette-brown-800: nth($list-brown, 9);
$palette-brown-900: nth($list-brown, 10);

// Grey
$palette-grey: nth($list-grey, 6);

$palette-grey-50: nth($list-grey, 1);
$palette-grey-100: nth($list-grey, 2);
$palette-grey-200: nth($list-grey, 3);
$palette-grey-300: nth($list-grey, 4);
$palette-grey-400: nth($list-grey, 5);
$palette-grey-500: nth($list-grey, 6);
$palette-grey-600: nth($list-grey, 7);
$palette-grey-700: nth($list-grey, 8);
$palette-grey-800: nth($list-grey, 9);
$palette-grey-900: nth($list-grey, 10);
$palette-grey-1000: nth($list-grey, 11);

// Blue Grey
$palette-blue-grey: nth($list-blue-grey, 6);

$palette-blue-grey-50: nth($list-blue-grey, 1);
$palette-blue-grey-100: nth($list-blue-grey, 2);
$palette-blue-grey-200: nth($list-blue-grey, 3);
$palette-blue-grey-300: nth($list-blue-grey, 4);
$palette-blue-grey-400: nth($list-blue-grey, 5);
$palette-blue-grey-500: nth($list-blue-grey, 6);
$palette-blue-grey-600: nth($list-blue-grey, 7);
$palette-blue-grey-700: nth($list-blue-grey, 8);
$palette-blue-grey-800: nth($list-blue-grey, 9);
$palette-blue-grey-900: nth($list-blue-grey, 10);

// UI Color Application
// --------------------------------------------------------------------------------

// Typography
$ui-display-4: $palette-grey-600;
$ui-display-3: $palette-grey-600;
$ui-display-2: $palette-grey-600;
$ui-display-1: $palette-grey-600;
$ui-headline: $palette-grey-900;
$ui-title: $palette-grey-900;
$ui-subhead-1: $palette-grey-900;
$ui-body-2: $palette-grey-900;
$ui-body-1: $palette-grey-900;
$ui-caption: $palette-grey-600;
$ui-menu: $palette-grey-900;
$ui-button: $palette-grey-900;