// Trends Sections
// Copyright Reserved AA - 2017
// --------------------------------------------------

//
// Summary
// --------------------------------------------------
/*
[1. Sections]
  [1.1 Body]
  [1.2 Header]
  [1.3 Page Container]
  [1.4 Footer]
  [1.5 SideBar]
  [1.6 Horizontal Menu]
  [1.7 Secondary SideBar]
*/

/* [1.1] Body
--------------------------------------------------
*/

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: $atx-base-font-size;
  color: #666666;
  background: $body-bg;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

// Variable
// --------------------------------------------------

// Making
// --------------------------------------------------

/* [1.2] Header
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_header";

/* [1.3] Page Container
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_container";

/* [1.4] Footer
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_footer";

/* [1.5] SideBar
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_sidebar";

/* [1.6] Horizontal Menu
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/_horizontal_menu";

/* [1.7] Secondary SideBar
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/secondary_sidebar";


/* [1.7] Body
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sections/body";
