// Trends Default Theme
// Copyright Reserved AA - 2017
// --------------------------------------------------

//
// Legend
// --------------------------------------------------
/**
  kt    : Kite Trends
  ktv   : Kite Trends Variable
 */

//
// Summary
// --------------------------------------------------
/**
  [1. CONST]
  [2. Variables]
*/

//
// [1.] CONST
// --------------------------------------------------
$CONST-NAMESPACE: "kt" !default;
$CONST-AUTO-GENERATE: false !default;
$CONST-ING-URL: "../img" !default;
$CONST-ASSETS-URL: "../../assets" !default;
$CONST-NBSP: "\00a0";

// Const Shade
$CONST-SHADE-light: 16% !default;
$CONST-SHADE-lighter: 9.5% !default;
$CONST-SHADE-lightest: 3% !default;

// Const Darker Percent
$CONST-SHADE-dark: 45% !default;
$CONST-SHADE-darker: 27% !default;
$CONST-SHADE-darkest: 18% !default;

// Const Shade
$CONST-MIX-light: 80% !default;
$CONST-MIX-lighter: 60% !default;
$CONST-MIX-lightest: 20% !default;

// Const Darker Percent
$CONST-MIX-dark: 80% !default;
$CONST-MIX-darker: 60% !default;
$CONST-MIX-darkest: 20% !default;

//
$CONST-FONT: 'Open Sans', sans-serif;
$CONST-FONT-ICONS: "FontAwesome" !default;

//
// [2.] Variables
// --------------------------------------------------
// Base
// --------------------------------------------------
$ktv-prefix-class: #{$CONST-NAMESPACE}- !default;
$ktv-base-unit: 8px !default;
$ktv-transition: all 0.1s linear 0s !default;
$ktv-link-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s, width 0.2s linear 0s,  padding 0.2s linear 0s, box-shadow 0.2s linear 0s  !important !default;

// Header
// --------------------------------------------------
$ktv-header-height: $ktv-base-unit*8 !default; // 8*8 = 64px

// SideBar
// --------------------------------------------------
$ktv-sidebar-width: $ktv-base-unit*35 !default; // 8*35 = 280px
$ktv-sidebar-width--pin: $ktv-base-unit*33 !default; // 8*38 = 304px
$ktv-sidebar-offset: $ktv-base-unit*9 !default; // 8*9 = 72px

// Secondary SideBar
// --------------------------------------------------
$ktv-secondary-sidebar-width: $ktv-base-unit*31 !default; // 8*31 = 248px

// Z-index Scale
// --------------------------------------------------
$ktv-zIndex-1: 100 !default;
$ktv-zIndex-2: 200 !default;
$ktv-zIndex-3: 300 !default;
$ktv-zIndex-4: 400 !default;
$ktv-zIndex-5: 500 !default;
$ktv-zIndex-6: 600 !default;
$ktv-zIndex-7: 700 !default;
$ktv-zIndex-8: 800 !default;
$ktv-zIndex-9: 900 !default;
$ktv-zIndex-10: 1000 !default;

// Z-index widget
// --------------------------------------------------
$ktv-zIndex-sidebar: $ktv-zIndex-10 !default;
$ktv-zIndex-tooltips: $ktv-zIndex-10 !default;
$ktv-zIndex-notifications: $ktv-zIndex-9 !default;
$ktv-zIndex-navbar: $ktv-zIndex-8 !default;
$ktv-zIndex-dropdown: $ktv-zIndex-7 !default;
$ktv-zIndex-dropdownMask: $ktv-zIndex-6 !default;
$ktv-zIndex-portlet: $ktv-zIndex-6 !default;
$ktv-zIndex-topUserProfile: $ktv-zIndex-10 !default;

// Font Weight
// --------------------------------------------------
$ktv-font-weight-thin: 100;
$ktv-font-weight-light: 300;
$ktv-font-weight-regular: 400;
$ktv-font-weight-medium: 500;
$ktv-font-weight-bold: 700;
$ktv-font-weight-black: 900;

// Hero Section
// --------------------------------------------------
$ktv-hero-section-transition: height 0.2s linear 0s, box-shadow 0.2s linear 0s, padding 0.2s linear 0s, !default;

// Horizontal Menu
// --------------------------------------------------
$ktv-horizontal-menu-transition: height 0.1s linear 0s, box-shadow 0.2s linear 0s, padding 0.2s linear 0s, !default;







/* ************************************
Ol Version
************************************** */

//
// Variables
// --------------------------------------------------

/**
 **
 ** Auto generator
 **
 */

$atx-auto-generate: false !default;

// extend font-awesome
$fa-font-path: "../fonts/awesome" !default;

/**
 **
 ** Base
 **
 */

$atx-base-unit: 8px !default;
$atx-base-color: #1976D2 !default;
$atx-base-padding-vertical: 8px !default;
$atx-base-padding-horizontal: 8px !default;
$atx-base-font-size: 12px !default;
$atx-base-line-height: 20px !default;
$atx-base-border-radius: 3px !default;
$atx-base-btn-background-color: $atx-base-color !default;
$atx-base-btn-background-color_hover: darken($atx-base-color, 30%) !default;
$atx-base-darken: 10% !default;

$atx-gradient: false !default;
$atx-gradient_color-mix: #0000ff !default;
$atx-gradient_directional-start_color: mix(darken($atx-base-color, 20%), $atx-gradient_color-mix) 0% !default;
$atx-gradient_directional-end_color: mix($atx-base-color, $atx-gradient_color-mix) 20% !default;
$atx-gradient_directional-deg: 45deg !default;

$atx-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s, width 0.2s linear 0s,  padding 0.2s linear 0s, box-shadow 0.2s linear 0s  !important !default;

/**
 **
 ** Bootstrap
 **
 */
$brand-primary: $atx-base-color !default; // #2f7aba
$brand-success: #10cfbd !default;
$brand-info: #48b0f7 !default;
$brand-warning: #f8d053 !default;
$brand-danger: #f55753 !default;

$state-success-text:             #10cfbd !default;
$state-info-text:                #48b0f7 !default;
$state-warning-text:             #f8d053 !default;
$state-danger-text:              #f55753 !default;

//$line-height-computed: $atx-base-unit * 2 !default;
$border-radius-base: 3px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;



