/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/* CSS Document */

body { background:none; font-size:0.7em; padding:0px !important; margin:0px; }

#form-saisie { clear:both; width:auto; overflow:visible; margin:0 auto; }

.form-envoi-pub { width:640px !important; background-color:transparent }
.form-envoi-pub .content { padding:0px !important; margin:0px; width:640px !important; border:0px; background-color:transparent }
.form-envoi-pub .gwt-TabPanelBottom { border:0px; padding:0px } 
.form-envoi-pub fieldset { width:640px !important; border:0px !important }

.form-envoi-pub fieldset fieldset { width:auto  !important }
.form-envoi-pub fieldset fieldset fieldset { width:auto  !important }

.form-envoi-pub table.rubrique fieldset  { border:1px solid #ccc  !important }

.form-envoi-pub .gwt-TabPanelBottom { width:640px !important;}
.form-envoi-pub table.rubrique div.textarea-wide { width:590px !important }
.form-envoi-pub table.rubrique textarea.textarea-wide { width:590px !important }

.form-envoi-pub .top span, .form-envoi-pub .top, .form-envoi-pub .bottom span, .form-envoi-pub .bottom { visibility:hidden }

.form-envoi-pub table { width:auto; border: thin solid #fff; overflow:visible; border-collapse:separate; }
.form-envoi-pub table tr, form-envoi-pub table td { page-break-after:auto}

table,td  { height: auto; }
#boutons { display:none; }