<div class="app-content content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <atx-breadcrumb class="col-12" [breadcrumb]="param"></atx-breadcrumb>
        </div>
        <div class="content-body" *ngIf="model">
            <form #clauseForm="ngForm">
                <div class="form-body">
                    <section id="form-canevas">
                        <div class="row">

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="card height-97-per">
                                    <div class="card-body mb-0">
                                        <div>
                                            <h5 class="font-weight-bold">{{"creationClause.txt.proprietes" | translate}}
                                            </h5>
                                        </div>
                                        <hr>
                                        <atx-form-clause-proprietes
                                                [clause]="model"
                                                [action]="action"
                                                [form]="clauseForm"
                                                (isPotentiellementConditionnee1)="updatePotentiellementConditionnee1($event)"
                                                (isPotentiellementConditionnee2)="updatePotentiellementConditionnee2($event)"
                                                (changeTypeClause)="updateForm($event)"
                                                [submitted]="submitted"
                                                [editeur]="editeur"
                                        >
                                        </atx-form-clause-proprietes>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="card height-97-per">
                                    <div class="card-body mb-0">
                                        <div>
                                            <h5 class="font-weight-bold">{{"creationClause.txt.contenu" | translate}}
                                            </h5>
                                        </div>
                                        <hr>
                                        <atx-form-clause-contenu
                                                [clause]="model"
                                                [submitted]="submitted"
                                                [idTypeClause]="idTypeClause"
                                                [editeur]="editeur"
                                                [action]="action"
                                        >
                                        </atx-form-clause-contenu>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <hr>
                </div>
                <div class="form-actions text-right">
                    <button type="button" class="btn btn-warning btn-sm margin-right-5px" (click)="back()"><i
                            class="fa fa-close"></i> {{"creationCanevas.txt.annuler" | translate}}
                    </button>
                    <button type="button" class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                            (click)="preview()"><i
                            class="fa fa-eye"></i>
                        {{"blocRecapClause.btn.previsualiser" | translate}}
                    </button>
                    <button type="button" class="btn btn-primary primary-client-bg-border margin-right-5px btn-sm"
                            [disabled]="loadingSave || loadingSaveAndQuit || loadingSaveValidationRequest || loadingSaveValidation"
                            (click)="createOrUpdateOrCloneClause(1, false,'loadingSave')">
                        <i *ngIf="!loadingSave" class="ft-check"></i>
                        <i *ngIf="loadingSave" class="fa fa-spin fa-spinner"></i>
                        {{"creationCanevas.txt.enregistrer" | translate}}
                    </button>
                    <button type="button" class="btn btn-primary primary-client-bg-border margin-right-5px btn-sm"
                            [disabled]="loadingSave || loadingSaveAndQuit || loadingSaveValidationRequest || loadingSaveValidation"
                            (click)="createOrUpdateOrCloneClause(1, true,'loadingSaveAndQuit')">
                        <i *ngIf="loadingSaveAndQuit" class="fa fa-spin fa-spinner"></i>
                        <i *ngIf="!loadingSaveAndQuit" class="ft-save"></i>
                        {{"creationCanevas.btn.enregistrerQuitter" | translate}}
                    </button>
                    <button type="button" class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                            [disabled]="loadingSave || loadingSaveAndQuit || loadingSaveValidationRequest || loadingSaveValidation"
                            (click)="createOrUpdateOrCloneClause(2, true,'loadingSaveValidationRequest')">
                        <i *ngIf="!loadingSaveValidationRequest" class="ft-user-check"></i>
                        <i *ngIf="loadingSaveValidationRequest" class="fa fa-spin fa-spinner"></i>
                        {{"creationCanevas.btn.demanderValidation" | translate}}
                    </button>
                    <button type="button" class="btn btn-success btn-sm "
                            [disabled]="loadingSave || loadingSaveAndQuit || loadingSaveValidationRequest || loadingSaveValidation"
                            (click)="createOrUpdateOrCloneClause(3, true, 'loadingSaveValidation')">
                        <i *ngIf="!loadingSaveValidation" class="ft-check"></i>
                        <i *ngIf="loadingSaveValidation" class="fa fa-spin fa-spinner"></i>
                        {{"creationCanevas.btn.valider" | translate}}
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


