<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-8 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0">
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>
                    {{((connecting$ | async) ? 'login.connecting' : 'login.not-connected') | translate }}
                                </span>
                                </h6>

                            </div>
                          <ngx-loading [show]="connecting$ | async"  [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
