{{ form_start(form, {'attr': {'class': 'form-horizontal form-simple form-main-login pt-1'}}) }}
    <fieldset class="form-group position-relative has-icon-left mb-0">
        {% set usernameInputLabel = 'LOGIN'|trans %}
        {% set usernameInputHolder = 'DEFINE_USER_INPUT'|trans %}
        {{ form_label(form._password, usernameInputLabel) }} :
        {{ form_widget(form._username, {'attr': {'class' : 'mb-1', 'title': usernameInputHolder }}) }}
        <div class="form-control-position">
            <i class="la la-user"></i>
        </div>
    </fieldset>
    <fieldset class="form-group position-relative has-icon-left {% if specifiquePlace %}mb-0{% endif %}">
        {% set passwordInputLabel = 'PASSWORD'|trans %}
        {% set passwordInputHolder = 'DEFINE_PASSWORD_INPUT'|trans %}
        {{ form_label(form._password, passwordInputLabel) }} :
        {{ form_widget(form._password, {'attr': {'class': 'mb-0', 'title' : passwordInputHolder }}) }}
        <div class="form-control-position">
            <i class="la la-key"></i>
        </div>
    </fieldset>
    <div id="showPasswordAction" type="button" role="button" class="text-right mb-1">
        <span class="showPassword">
            <span class="la la-eye"></span> {{ 'SHOW_PASSWORD'|trans }}
        </span>
        <span class="hidePassword" style="display: none;">
            <span class="la la-eye-slash"></span> {{ 'HIDE_PASSWORD'|trans }}
        </span>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {% if specifiquePlace %}
        <p class="float-xl-right text-center mb-2">
            <a href="{{ path('atexo_forgot_password_request',{'calledFrom': 'agent'}) }}" class="card-link">
                {{ 'TEXT_MOT_PASSE_OUBLIE'|trans }}
            </a>
        </p>
    {% endif %}

    {{ form_widget(form.login, {'attr': {'class': 'btn btn-info btn-block primary-client-bg-border'}}) }}

{{ form_end(form) }}