{% extends 'layout-agent.html.twig' %}

{% block javascriptAgent %}
	{{ encore_entry_script_tags('authentification') }}
{% endblock %}

{% set doNotDisplayFlashMessagesGlobally = true %}

{% block content %}
<h3 class="line-on-side text-muted text-center pt-2">
    <span style="background-color:#F4F5FA;">{{ 'TEXT_BIENVENU_SUR_SITE'|trans }} {{ 'TEXT_MARCHES_PUBLICS_ETAT'|trans }}</span>
</h3>

<div class="row pt-3 justify-content-md-center">
    {% if message_accueil is defined and message_accueil is not null %}
    <div class="col-md-6 mb-2 mb-md-0" id="msgAccueilAgent">
        {% set typeMessage = message_accueil.typeMessage %}
        <div class="alert {{ typeMessage == 'erreur' ? 'bg-danger' : (typeMessage == 'avertissement' ? 'bg-warning' : 'bg-info') }} alert-dismissible mb-2" role="alert">
            {{ message_accueil.contenu|raw }}
        </div>
    </div>
    {% endif %}
    <div class="col-md-6 mb-2 mb-md-0">
        <section id="description" class="card ">
            <div class="card-content">
                <div class="card-body">
                    <h5 class="line-on-side text-muted text-center"><span>{{ 'TEXT_CONNECTION'|trans }}</span></h5>
                    {% for message in app.flashes('error') %}
                        <div class="alert bg-danger alert-icon-left alert-arrow-left alert-dismissible" role="alert">
                            <span class="alert-icon"><i class="la la-times"></i></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert bg-success alert-icon-left alert-arrow-left alert-dismissible" role="alert">
                            <span class="alert-icon"><i class="la la-check"></i></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if login_by_certif is defined and login_by_certif == true %}
                        <a href="{{ path('login-by-certificate') }}" class="btn btn-info btn-block primary-client-bg-border">
                            <i class=""></i>
                                {{ 'CERTIFICAT_ELECTRONIQUE_LOGIN'|trans }}
                            <i class=""></i>
                        </a>
                    {% elseif login_by_saml is defined and login_by_saml == true %}
                        <a href="{{ path('saml_login') }}" class="btn btn-info btn-block primary-client-bg-border">
                            {{ 'TEXT_CONNECTION'|trans }}
                        </a>
                    {% else %}
                        {% include 'security/form.html.twig' %}
                    {% endif %}
                </div>
            </div>
            {% if app.request.attributes.get('_route') == 'mpe_agent_auth' and form is defined %}
                {% if specifiquePlace == 0 or specifiquePlace is not defined %}
                    <div class="card-footer">
                        <div class="">
                            <p class="float-xl-right text-center m-0"><a href="{{ path('atexo_forgot_password_request',{'calledFrom': 'agent'}) }}" class="card-link">{{ 'TEXT_MOT_PASSE_OUBLIE'|trans }}</a></p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
