<h2>Tableau de suivi des messages</h2>

<ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>
<div *ngIf="contexte" [innerHTML]="getMessecHtml('messagerie-suivi') | safeHtml"></div>
<!-- Debut Form actions-->
<div class="form-group form-actions">
    <div class="pull-left">
        <button type="button" (click)="onBackClick()" class="btn btn-default btn-sm"><i
            class="fa fa-angle-double-left"></i> Retour
        </button>
    </div>
</div>
<!-- //Fin Form actions-->
