/* CSS Document */

body { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; text-align:center; margin:0px; padding:0px; padding-top:15px; background:#EEEEEE; }
div, ul, li, a, img { margin:0px; padding:0px }
img { border:0px; margin-right:3px }
a {color:#666666}
:focus { -moz-outline-style: none }
ul li { list-style-type:none }
input { font-size:10px; font-family:Arial, Helvetica, sans-serif }
.spacer { clear:both; overflow:hidden; height:20px }
.breaker { clear:both; overflow:hidden; height:0px }
.separator { clear:both; overflow:hidden; height:1px; border-bottom:1px dotted #7f7f7f; width:100%; margin-bottom:10px; padding-top:10px }


/*Codes CPV*/
.champ-cpv { float:left; margin:0px; padding-right:10px }
.champ-cpv input { width:75px; margin:0px }
.champ-cpv img { margin:0px; margin-left:2px }

#ref-code { margin:0 auto; width:95%; background-color:#fff; padding:10px; border:1px solid #cccccc }
#ref-code .top { height:30px }

#ref-code h1 { font-size:16px; font-weight:bold; margin:0px; padding:0px; display:block; line-height:22px; color:#3D6BA6; margin-bottom:10px }
#ref-code h2 { color:#3D6BA6; margin:0px; padding:0px; margin-bottom:10px }
#ref-code h3 { color:#666; margin:0px; padding:0px; font-weight:bold; font-size:11px; float:left }

#ref-code .form-bloc { background:#fff; margin-bottom:0px }
#ref-code .form-bloc .top { background-color:none; border:0px; border-bottom:1px solid #D7D7D7; overflow:hidden; height:25px !important; background-image:none; padding-left:5px; }

#ref-code .form-bloc .top .tab a { height:16px; background-color:none; font-size:11px; text-align:left; padding-left:5px; line-height:16px; float:left; text-align:center; margin-right:1px; min-width:150px; text-decoration:none; }
#ref-code .form-bloc .top .tab a.on  { color:#fff; text-decoration:none;  background:url(../images/nav-tab-on.gif) no-repeat right #999999; padding-right:10px; height:25px; line-height:25px }
#ref-code .form-bloc .top .tab a.off { background:url(../images/nav-tab.gif) no-repeat right #fff; margin-top:9px; border-left:1px solid #999999; padding-right:10px; }
#ref-code .form-bloc .bottom { display:none;}

#ref-code .form-bloc .top span, #ref-code .form-bloc .top, #ref-code .form-bloc .bottom span, #ref-code .form-bloc .bottom { height:10px; font-size:1px }
#ref-code .form-bloc .content { clear:left; width:auto !important; text-align:left; border:1px solid #D7D7D7; border-top:0px; padding:20px 10px 10px; }
#ref-code .form-bloc .content .erreur { color:#FF0000; text-align:center }
#ref-code .form-bloc .bottom { clear:left }


/*Recherche par mots cles*/
#ref-code .form-bloc .content .line { width:auto; clear:left; line-height:22px }
#ref-code .form-bloc .content .intitule { display:block; float:left; width:auto; padding-right:5px; line-height:22px; font-weight:bold }
#ref-code .form-bloc .content .infos-recherche { clear:both; background-image:url(../images/picto-infos.gif); padding-left:20px; background-repeat:no-repeat; float:left }
#ref-code .form-bloc .content input.mots-clefs { width:200px !important; float:left }

#ref-code .form-bloc a.rechercher-code { display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; float:left !important; width:88px; height:18px; background-image:url(../images/bouton-rechercher.gif); margin-right:0px; text-align:center; padding-left:7px; margin-left:10px; line-height:16px }

#ref-code .results-list { clear:both; float:left; margin-top:0px; width:100%; padding-top:0px; border-collapse:collapse }
#ref-code .results-list table { clear:left; border-collapse:collapse; border:0px; margin-bottom:10px; width:100%; text-align:left; margin-top:0px ; background-color:#F6F4F4 }
#ref-code .results-list table th.top { height:3px; background-color:transparent; width:100% ; padding:0px; background-color:#CDCDCD; height:3px !important; border:0px }
#ref-code .results-list table th.top img.left { float:left; margin:0px; width:5px; height:3px }
#ref-code .results-list table th.top img.right { float:right; margin:0px; width:5px; height:3px }
#ref-code .results-list table th { font-weight:bold; padding:0px; padding-left:3px; font-weight:normal; color:#666666; height:16px; background-color:#CDCDCD; padding-right:3px; overflow:visible }
#ref-code .results-list table th a { color:#666666; text-decoration:none }
#ref-code .results-list table th a img { vertical-align:middle; margin-left:3px}

#ref-code .results-list table tr.on { background-color:#dcd7d7 }
#ref-code .results-list table tr.off { background-color:#f6f4f4 }
#ref-code .results-list table tr.off td { background-color:#f6f4f4; color:#666 }
#ref-code .results-list table td { vertical-align:top; overflow:visible; cursor:pointer; border-bottom:1px solid #EBE9E9 }

#ref-code .results-list table .code a { display:block; width:100px }

#ref-code .results-list table .libelle { width:100% }
#ref-code .results-list table .actions { width:80px; text-align:center }

#ref-code .results-list table a.selectionner { display:block; clear:both; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; width:95px; height:18px; background-image:url(../images/bouton-moyen-bk.gif); margin:0 auto; text-align:center; margin-top:3px }

#ref-code a.bouton-ajouter { display:block; clear:both; float:right; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; width:143px; height:18px; background-image:url(../images/bouton-add.gif); margin:0 auto; text-align:center; margin-top:10px; padding-left:7px; margin-bottom:10px }

/*Navigation par codes*/
#ref-code .liste-codes { background-color:#F6F4F4; padding:10px 5px; overflow:hidden }
#ref-code .liste-codes table { border-collapse:collapse }
#ref-code .liste-codes table td { padding:0px }
#ref-code .liste-codes table td div { padding:0px; margin-bottom:0px }

#ref-code .codes-bloc { height:200px; border:1px solid #cccccc !important; background-color:#F6F4F4; width:auto; overflow:auto; position:relative }

/*Partitioner*/
#ref-code .partitioner { float:right; width:auto; text-align:right; color:#666; margin:0px }
#ref-code .partitioner select { display:block; float:left; margin-left:3px; margin-right:3px; width:auto }
#ref-code .partitioner a { margin-right:3px; margin-left:3px; line-height:12px; text-decoration:none }
#ref-code .partitioner img { margin-top:6px }


#annuler { float:left;overflow:hidden; width:95px  }
#selectionner { float:right; overflow:hidden; width:95px   }

#annuler a.annuler { float:left; width:95px; height:18px; background-image:url(../images/bouton-moyen-bk.gif); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }
#selectionner a.bouton-right { float:left; width:95px; height:18px; background-image:url(../images/bouton-moyen-bk.gif); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }

/*Ma selection*/
#ref-code .selection-box { background:#fff; clear:left; float:left; margin-top:20px; width:100%; margin-bottom:20px }
#ref-code .selection-box .top { background:url(../images/selection-box-top-bk.png) repeat-x !important; border-bottom:0px !important; height:10px !important; overflow:hidden; padding:0; }
#ref-code .selection-box .top .left { background:url(../images/selection-box-top-left.png) no-repeat !important; display:block; width:10px; float:left }
#ref-code .selection-box .top .right { background:url(../images/selection-box-top-right.png) no-repeat !important; display:block; width:10px; float:right }
#ref-code .selection-box .bottom { background:url(../images/selection-box-bottom-bk.png) repeat-x !important; height:10px !important; margin:0px !important; width:100%; display:block; }
#ref-code .selection-box .bottom .left { background:url(../images/selection-box-bottom-left.png) no-repeat !important; display:block; width:10px; float:left }
#ref-code .selection-box .bottom .right { background:url(../images/selection-box-bottom-right.png) no-repeat !important; display:block; width:10px; float:right }
#ref-code .selection-box .top span, #ref-code .selection-box .top, #ref-code .selection-box .bottom span, #ref-code .selection-box .bottom { height:10px; font-size:1px }
#ref-code .selection-box .content { padding:0 10px; width:770px; text-align:left; border-left:1px solid #DADADA; border-right:1px solid #DADADA; border-bottom:0px }

#ref-code .selection-box h3 { margin-bottom:10px; color:#3D6BA6 }
#ref-code .selection-box table { clear:both; width:100%; border-collapse:collapse }
#ref-code .selection-box table th { font-weight:normal; padding:0px; padding-left:3px; font-weight:normal; height:16px; padding-right:3px; overflow:visible; border-bottom:1px solid #3D6BA6; color:#3D6BA6 }
#ref-code .selection-box table .code { width:86px !important; }
#ref-code .selection-box table .code div { width:86px }
#ref-code .selection-box table .libelle {  width:100% !important }
#ref-code .selection-box table .principal {  width:100px; text-align:center }
#ref-code .selection-box table .principal div {  width:100px; text-align:center }
#ref-code .selection-box table .actions { width:70px; text-align:center }
#ref-code .selection-box table .actions div { width:70px; text-align:center }
#ref-code .selection-box table tr.on { background-color:#EDEBEB }

#ref-code .selection-box .entete { color:#575757; background:url(../images/table-results-top-left.gif) #CDCDCD top left no-repeat; }
#ref-code .selection-box .entete .actions { background:url(../images/table-results-top-right.gif) #CDCDCD top right no-repeat; }
#ref-code .selection-box .entete, #ref-code .selection-box .entete .actions { /background:#CDCDCD; }

/*Guillaume*/
.gwt-TreeItem div strong  { color:#666; font-weight:bold }

.on { background-color:#dcd7d7 }

.intitule { display:block; float:left; width:auto; padding-right:5px; line-height:22px; font-weight:bold }
input.mots-clefs { width:200px !important; float:left } 
div, td, .intitule, .rechercher-code { font-family:Arial, Helvetica, sans-serif; font-size:11px;}

.results-list td.code, td.libelle { padding-left:0px; marging-left:0px }
.results-list td.code div { padding-left:2px; }
.results-list th.libelle { padding-left:0px !important; }
#ref-code .results-list table .code { padding-right:0px } /* Enlève l'espace entre les blocs code et libellé */
#ref-code .selection-box td { padding-left:2px; }