<ul *ngIf="sectionsDisplay.length>0"
    class="nav nav-tabs _bottom nav-underline tabsborder">
  <ngb-tabset [destroyOnHide]="true" class="width-100-per"

              [activeId]="activeId" (tabChange)="onchangeTab($event)">
    <ngb-tab *ngFor="let itemGroup of sectionsDisplay;let index=index" [id]="index+''">
      <ng-template
        ngbTabTitle><span> <span
        *ngIf="getFailedAssertFromElements(errors,itemGroup,null).length>0"
        class="badge badge-danger truncate status-badge mr-1">
            <i class="la la-close"></i>
          </span>{{itemGroup._label | translate}}</span>
        <i *ngIf="itemGroup?._repeatable"
           class="la la-plus"></i>
      </ng-template>
      <ng-template ngbTabContent>
        <atx-group-field-form
          [chemin]="chemin+itemGroup.id+'/'"
          [sdkVersion]="sdkVersion"
          [showOnlyRequired]="showOnlyRequired"
          [group]="itemGroup.content"
          [parentNode]="getNodeId(itemGroup)?getNodeId(itemGroup):parentNode"
          [readOnly]="readOnly"
          [reset]="refresh"
          [noticeId]="noticeId"
          [noticeType]="noticeType"
          [selectedError]="selectedError"
          [errors]="getFailedAssertFromElements(errors,itemGroup,null)"
          class="card-body row col-12 m-0 p-0 pt-1"
          [formulaire]="getFormulaire(itemGroup)"
          (onChangeGroupObject)="changeGroupObject($event,itemGroup)"
          (onModifyGroupList)="modifyGroupList(itemGroup,$event)"
        ></atx-group-field-form>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</ul>
