<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>FAQ - {% block title %}Page sans titre{% endblock %}</title>

    {% block head_stylesheet %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block head_javascript %}
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "{{ MATOMO_URL | trim('/', 'right') }}/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', '{{ MATOMO_GLOBAL_ID }}']);

                {% if app.session and app.session.get('matomoId') is not null %}
                var secondaryTrackerUrl = u + 'matomo.php';
                var secondaryWebsiteId = {{ app.session.get('matomoId') }};
                // Also send all of the tracking data to this other Matomo server, in website ID 77
                _paq.push(['addTracker', secondaryTrackerUrl, secondaryWebsiteId]);
                {% endif %}

                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.async = true;
                g.src = '//cdn.matomo.cloud/{{ MATOMO_URL | replace({'https://': ''}) | trim('/') }}/matomo.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <!-- End Matomo Code -->

    {% endblock %}
</head>

<body id="page-top">
{% block body %}{% endblock %}
{% if is_granted('ROLE_AGENT_SUPPORT') %}
    <ul class="list-group list-admin">
        {% if app.user.clients is not empty  %}
            {% set isDisplayMenuStat = false %}
            {% for client in app.user.clients %}
                {% if client.matomoId is not null %}
                    {% if isDisplayMenuStat == false %}
                        <li class="list-group-item list-admin-title">Statistiques</li>
                        {% set isDisplayMenuStat = true %}
                    {% endif %}
                    <li class="list-group-item list-admin-item list-admin-item-final">
                        <a href="{{ path('statistique_faq', {'id' : client.id}) }}"
                           class="list-admin-link">{{ client.nom }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="list-group-item list-admin-title">Administrations</li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="list-group-item list-admin-item list-admin-item-final">
                <a href="{{ path('administration_categorie') }}" class="list-admin-link">Catégories</a>
            </li>
                {% endif %}
            <li class="list-group-item list-admin-item list-admin-item-final">
                <a href="{{ path('administration_faq') }}" class="list-admin-link">Question/Réponse - FAQ</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
{% block main_content %}
{% endblock %}

{% include 'footer.html.twig' %}

<!-- FOSJsRoutingBundle -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<!-- Page JavaScript -->
{% block body_javascript %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('tracking-matomo') }}
{% endblock %}
</body>
</html>
