{% extends 'base.html.twig' %}

{% block title %}Erreur de contexte{% endblock %}

{% block main_content %}
    {% include 'nav.html.twig' %}
    <div id="main" class="container" role="main">
        <div class="row">
            <fieldset>
                <legend>Erreur</legend>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <p>
                        {{ message_erreur | nl2br }}
                    </p>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}
