{% extends 'base.html.twig' %}
{% block title %}Créer une demande{% endblock %}
{% block body %}

<style>
    .header .navbar-section .header-top .header-img {
        height: 75px;
    }
    .header .navbar-section {

        background: url(https://www.marches-publics.gouv.fr/themes/images/bandeau-replace.png) #ffffff no-repeat center;
        position: relative;
    }

    .header .navbar-section .header-top {
        padding: 20px 0px;
        background: transparent;
    }

    .container:before, .container:after {
        content: " ";
        display: table;
    }

</style>

    <!-- Main content -->
    <main id="main" class="container" role="main">
            <div class="">

ERROR

            </div>
    </main>





{% endblock %}
