<!-- Footer -->
{% if place_environment == "true" or place_environment == "1" %}
    <style>
        {{ footerStylePlace()|raw }}
    </style>
    {{ footerPlace()|raw }}
{% else %}
    {% set date = "now"|date("Y") %}
    <footer>
        <div class="container">
            {% if is_granted('ROLE_AGENT_SUPPORT')%}
                <p>© {{ date }} ATEXO</p>
            {% elseif client is defined and client != null %}
                <p>{{ client.nom }}</p>
            {% else %}
                <span class="baseline">FAQ - Foire Aux Questions</span>
            {% endif %}
        </div>
    </footer>
{% endif %}
<!-- /Footer -->