{% extends 'base.html.twig' %}
{% block title %}Créer une demande{% endblock %}

   {% block head_stylesheet %}
       {{ encore_entry_link_tags('app') }}
   {% endblock %}

{% block body %}
    <!-- Main content -->
    <main id="main" class="container" role="main">

        <script>var emailPlateforme = '{{ client.emailNotif }}';</script>
        {% include 'nav.html.twig' %}

        <div class="row">
            <!--Debut col gauche-->
            <div class="col-md-4 order-md-2" style="display:none;">
                <div class="accordion" id="accordion">
                    {% for contexte in contextes %}
                        {{ render(controller('App\\Controller\\ContexteController:widgetAction',
                            {'contexte': contexte})) }}
                    {% endfor %}
                </div>
            </div>
            <!--//Fin col gauche-->
            <!--Debut col droite-->
            <div class="col-md-20 order-md-1">

                <fieldset>
                    <legend>Votre demande</legend>
                    <hr>

                    <p>L'espace "FAQ et support en ligne" vous permet de consulter les réponses aux questions les
                        plus fréquemment posées sur la plateforme et de vous accompagner dans vos démarches.</p>
                    <p>Veuillez sélectionner l'objet de votre demande dans la liste des catégories ci-dessous.</p>
                    <p> Si vous n'avez pas trouvé la réponse à votre question, vous pouvez <strong>créer une demande
                            d'assistance en ligne</strong> en cliquant sur le bouton « Je n'ai pas trouvé de réponse
                        à ma recherche, je souhaite saisir une demande d'assistance en ligne.».</p><br/>

                    <div id="alert_resolu" class="alert alert-success" style="display:none">
                        <p><b>Vous avez résolu votre problème par la FAQ.</b></p>

                        <p>Vous pouvez effectuer une nouvelle recherche ou fermer cette page.</p>
                    </div>
                    {% include 'fragments/alerts.frag.html.twig' %}

                    <!--Debut panel-->
                    <div class="card">
                        <div class="card-body">
                            <div class="form-horizontal">
                                {{ render(controller('App\\Controller\\CategorieController:dropdownWidgetAction', {
                                    'id': 'dropdown_demande',
                                    'label': 'Catégorie',
                                    'acteur': acteur,
                                    'client': client,
                                    'progiciels': progiciels,
                                    'autre' : true,
                                    'required' : true
                                })) }}
                                <div id="dropdown_objet">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//Fin panel-->

                    <!-- Widget de suggestions FAQ -->
                    <div id="widget_faq">

                    </div>
                    <!-- /Widget de suggestions FAQ -->

                    <!--Debut panel Question résolution FAQ-->
                    <div class="card card-body" id="panel_cfaq">
                        <div class="mb-3">
                            <div onclick="window.parent.trackBtnResolvedMatomo()">
                                <label for="cfaq_oui">
                                    <button class="btn btn-primary" type="submit" name="cfaq" id="cfaq_oui">
                                        La FAQ m'a permis de résoudre mon problème.</button>
                                </label>
                            </div>
                            <br/>
                            <div onclick="window.parent.trackBtnNotResolvedMatomo()">
                                <label for="cfaq_non">
                                    <button class="btn btn-primary" type="submit" name="cfaq" id="cfaq_non"
                                            data-url-utah="{{ urlUtah }}" data-token="{{ token }}">
                                        Je n'ai pas trouvé de réponse à ma recherche, je souhaite saisir une demande
                                        d'assistance en ligne.</button>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--//Fin panel Question résolution FAQ-->

                </fieldset>

                <div id="errors_tips" style="display: none">
                    <div class='alert alert-danger'>
                        <div>
                            <p><strong>
                                    <span id="error_msg">un message d'erreur</span>
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
