<!-- Navbar -->
{% if place_environment == "true" or place_environment == "1" %}
    {{ encore_entry_link_tags('navbar-place') }}

<nav class="navbar fixed-top">
    <div class="container">
        <div class="navbar-header">
            {% if is_granted('ROLE_AGENT_SUPPORT') %}
                <a href="{{ path('statistique_index') }}">
                    <img src="{{ asset('faq/encore/images/logo-rf-place.png') }}" alt="PLACE" class="navbar-logo"/>
                </a>
            {% else %}
                <img src="{{ asset('faq/encore/images/logo-rf-place.png') }}" alt="PLACE" class="navbar-logo"/>
            {% endif %}
        </div>
        {% set cssClass = is_granted('ROLE_AGENT_SUPPORT') ? 'col-lg-7 col-md-7 col-sm-7' : '' %}
        <form class="navbar-form ms-auto"
              id="suivi_ticket_form"
              onsubmit="suivreTicketByNumSuivi()"
              method="post"
              action="#"
        >
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('sonata_admin_dashboard') }}"
                   class="deconnexion">
                    <i class="fas fa-tools"></i>
                    Configuration
                </a>
            {% endif %}
            {% if is_granted('ROLE_AGENT_SUPPORT') %}
                <a href="{{ path('logout') }}"
                   class="deconnexion">
                    <i class="fa fa-sign-out-alt"></i>
                    Déconnexion
                </a>
            {% endif %}
        </form>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-inverse fixed-top">
    <div class="container">
        <div class="navbar-header">

            <h1>
                {% if is_granted('ROLE_AGENT_SUPPORT') %}
                    <a class="navbar-brand" href="{{ path('statistique_index') }}" title="Accueil">
                        <span class="baseline">FAQ - Foire Aux Questions</span>
                    </a>
                {% elseif client is defined and client != null
                    and client.nom is defined and client.LogoSrc is defined
                    and (client.nom == 'PLACE' or client.nom == 'PLACE-INTEG' or client.nom == 'PLACE-RECETTE' or client.nom == 'ORME')
                    and client.LogoSrc != null %}
                    <img src="{{ client.LogoSrc }}" height="30px" alt="{{ client.nom }}" class="navbar-logo"/>
                    <span class="baseline">{{ client.nom }}</span>
                {% else %}
                    <span class="baseline">FAQ - Foire Aux Questions</span>
                {% endif %}
            </h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% set cssClass = is_granted('ROLE_AGENT_SUPPORT') ? 'col-lg-7 col-md-7 col-sm-7' : '' %}
            <form class="d-flex ms-auto" id="suivi_ticket_form" onsubmit="suivreTicketByNumSuivi()" method="post" action="#">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-link me-2">
                        Configuration <i class="fas fa-tools"></i>
                    </a>
                {% endif %}
                {% if is_granted('ROLE_AGENT_SUPPORT') %}
                    <a href="{{ path('logout') }}" class="btn btn-link">
                        Déconnexion <i class="fa fa-sign-out-alt"></i>
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
{% endif %}
<!--/Navbar -->
