    {% extends 'base.html.twig' %}

    {% block title %}Statistique FAQ{% endblock %}

    {% block main_content %}
        {% include 'nav.html.twig' %}
        {% if clientAgentSupport is not null %}
            <div class="container">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <p>Cette page vous permet d'afficher les statistiques de la page FAQ de votre client :
                        <strong><a href="{{ client.host }}" target="_blank"> {{ client.nom }}</a></strong>.</p>
                    <p>Les différents widgets ci-dessous vous permettent d'affiner vos statistiques.</p>

                    <p><strong>Pour ajouter des widgets, </strong>veuillez cliquez sur "▼ TABLEAU DE BORD", sélectionnez les
                        widgets dont vous avez besoin.</p>
                </div>
                <iframe style="margin-left: 50px" src="{{ MATOMO_URL | trim('/', 'right') }}/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite={{ client.matomoId }}&period=week&date=yesterday&language=fr" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="680px"></iframe>
            </div>
        {% endif %}
        <!--/Navbar -->
    {% endblock %}
