{% extends 'base.html.twig' %}

    {% block title %}Statistique FAQ{% endblock %}

    {% block main_content %}
        {% include 'nav.html.twig' %}
        <div class="container">
        </div>
    {% endblock %}
