/* CSS Document */

body { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; text-align:center; background-image:url(../images/body-bk.gif);margin:0px; padding:0px; padding-top:15px }
div, ul, li, a, img { margin:0px; padding:0px }
img { border:0px; margin-right:3px }
a {color:#666666}
:focus { -moz-outline-style: none }
ul li { list-style-type:none }
input { font-size:10px; font-family:Arial, Helvetica, sans-serif }
.spacer { clear:both; overflow:hidden; height:20px }
.spacer-small { clear:both; overflow:hidden; height:10px }
.breaker { clear:both; overflow:hidden; height:0px }
.separator { clear:both; overflow:hidden; height:1px; border-bottom:1px dotted #7f7f7f; width:100%; margin-bottom:10px; padding-top:10px }


/*Codes NAV*/
.champ-nav { float:left; margin:0px; padding-right:10px }
.champ-nav input { width:75px; margin:0px }
.champ-nav img { margin:0px; margin-left:2px }

#nav-code { margin:0 auto; width:95%; background-color:#fff; padding:10px; border:1px solid #cccccc }
#nav-code .top { height:30px }

#nav-code h1 { font-size:16px; font-weight:bold; margin:0px; padding:0px; display:block; line-height:22px; color:#FF7200; margin-bottom:10px }
#nav-code h2 { color:#FF7200; margin:0px; padding:0px; margin-bottom:10px }
#nav-code h3 { color:#FF7200; margin:0px; padding:0px; font-weight:bold; font-size:11px; float:left }

#nav-code .form-bloc { background:#fff; margin-bottom:20px }
#nav-code .form-bloc .top { background-color:none; border:0px; border-bottom:1px solid #F7BC87; overflow:hidden; height:16px !important; background-image:none }
#nav-code .form-bloc .top .tab1 a { background:url(../images/nav-tab1-on.gif) no-repeat; height:16px; background-color:none ; font-weight:bold; font-size:11px; text-align:left; padding-left:5px; line-height:16px; float:left; width:245px; color:#FF7200; text-decoration:none; }
#nav-code .form-bloc .top .tab1 a.off { background:url(../images/nav-tab1.gif) no-repeat;  color:#FF7200; text-decoration:none}
#nav-code .form-bloc .top .tab1 a.on, #nav-code .form-bloc .top .tab2 a.on  { color:#fff; text-decoration:none; background-color:#fff;}
#nav-code .form-bloc .top .tab2 a.on { color:#FF7200; text-decoration:none }
#nav-code .form-bloc .top .tab2 a { background:url(../images/nav-tab2-on.gif) no-repeat; height:16px; background-color:none ; font-weight:bold; font-size:11px; text-align:left; padding-left:5px; line-height:16px; float:left; width:175px; color:#FF7200; text-decoration:none }
#nav-code .form-bloc .top .tab2 a.off { background:url(../images/nav-tab2.gif) no-repeat; }
#nav-code .form-bloc .top .tab2 a.on {  color:#fff; text-decoration:none }

#nav-code .form-bloc .top .tab3 { background:url(../images/nav-tab3.gif) no-repeat; height:16px; background-color:none ; font-weight:bold; font-size:11px; text-align:left; padding-left:5px; line-height:16px; float:left; width:245px; color:#fff; text-decoration:none; }

#nav-code .form-bloc .bottom { background:url(../images/box-bottom-bk.png) no-repeat; background-repeat:repeat-x }
#nav-code .form-bloc .bottom .left { background:url(../images/box-bottom-left.png) no-repeat; display:block; width:10px; float:left }
#nav-code .form-bloc .bottom .right { background:url(../images/box-bottom-right.png) no-repeat; display:block; width:10px; float:right }

#nav-code .form-bloc .top span, #nav-code .form-bloc .top, #nav-code .form-bloc .bottom span, #nav-code .form-bloc .bottom { height:10px; font-size:1px }
#nav-code .form-bloc .content { clear:left; width:auto !important; text-align:left; border:1px solid #F7BC87; border-top:0px; border-bottom:0px; padding:20px 10px; padding-bottom:0px }
#nav-code .form-bloc .content .erreur { color:#FF0000; text-align:center }
#nav-code .form-bloc .bottom { clear:left }


/*Recherche par mots cles*/
#nav-code .form-bloc .content .line { width:auto; clear:left; line-height:22px }
#nav-code .form-bloc .content .intitule { display:block; float:left; width:auto; padding-right:5px; line-height:22px; font-weight:bold }
#nav-code .form-bloc .content .intitule-auto { display:block; float:left; width:auto; padding-right:5px; line-height:normal; font-weight:bold; padding-top:5px; }
#nav-code .form-bloc .content .intitule-150 { display:block; float:left; width:160px; padding-right:5px; line-height:22px; font-weight:bold }
#nav-code .form-bloc .content .infos-recherche { clear:both; background-image:url(../images/picto-infos.gif); padding-left:20px; background-repeat:no-repeat; float:left; min-height:30px; }
#nav-code .form-bloc .content input.mots-clefs { width:200px !important; float:left }

table.ligne td { vertical-align:top; }
table.ligne input { margin-left:0px; }

#nav-code .form-bloc a.rechercher-code { display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; float:left !important; width:95px; height:18px; background-image:url(../images/bouton-rechercher.gif); margin-right:0px; text-align:center; padding-left:7px; margin-left:10px }

#nav-code .results-list { clear:both; float:left; margin-top:0px; width:100%; padding-top:0px }
#nav-code .results-list table { clear:left; border-collapse:collapse; border:0px; margin-bottom:10px; width:100%; text-align:left; margin-top:0px ; background-color:#F6F4F4 }
#nav-code .results-list table th.top { height:3px; background-color:transparent; width:100% ; padding:0px; background-image:url(../images/table-results-top-bk.gif); background-repeat:repeat-x; height:3px !important; border:0px }
#nav-code .results-list table th.top img.left { float:left; margin:0px; width:5px; height:3px }
#nav-code .results-list table th.top img.right { float:right; margin:0px; width:5px; height:3px  }
#nav-code .results-list table th { font-weight:bold; padding:0px; padding-left:3px; font-weight:normal; color:#fff; height:16px; background-image:url(../images/table-results-top-middle-bk.gif); background-repeat:repeat-x; padding-right:3px; overflow:visible }
#nav-code .results-list table th a { color:#fff; text-decoration:none }

#nav-code .results-list table tr { cursor:pointer; }
#nav-code .results-list table th { cursor:default; }
#nav-code .results-list table tr.on { background-color:#dcd7d7 }
#nav-code .results-list table tr.off { background-color:#f6f4f4 }
#nav-code .results-list table tr.off td { background-color:#f6f4f4; color:#666 }
#nav-code .results-list table td { vertical-align:top; border-bottom:1px solid #ebe9e9; overflow:visible; cursor:pointer }


#nav-code .results-list table .code { padding-right:20px; width:120px; min-width:120px; }
#nav-code .results-list table .libelle { width:730px; }
#nav-code .results-list table .actions { text-align:center; width:80px; }


#nav-code .results-list table a.selectionner { display:block; clear:both; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; width:95px; height:18px; background-image:url(../images/bouton-moyen-bk.gif); margin:0 auto; text-align:center; margin-top:3px }

#nav-code a.bouton-ajouter { display:block; clear:both; float:right; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; width:143px; height:18px; background-image:url(../images/bouton-add.gif); margin:0 auto; text-align:center; margin-top:10px; padding-left:7px }

/*Navigation par codes*/
#nav-code .liste-codes { background-color:#F6F4F4; padding:10px 5px; overflow:hidden }
#nav-code .liste-codes table { border-collapse:collapse }
#nav-code .liste-codes table td { padding:0px }
#nav-code .liste-codes table td div { padding:0px; margin-bottom:0px }

#nav-code .codes-bloc { height:200px; border:1px solid #cccccc !important; background-color:#F6F4F4; width:auto; overflow:auto; position:relative }


/*Partitioner*/
#nav-code .partitioner { float:right; width:auto; text-align:right; color:#FF7200; margin:0px }
#nav-code .partitioner select { display:block; float:left; margin-left:3px; margin-right:3px; width:auto }
#nav-code .partitioner a { margin-right:3px; margin-left:3px; line-height:12px; text-decoration:none }
#nav-code .partitioner img { margin-top:6px }


#annuler { float:left;overflow:hidden; width:84px  }
#selectionner { float:right; overflow:hidden; width:84px   }

#annuler a.annuler { float:left; width:84px; height:18px; background-image:url(../images/bouton-short-bk.gif); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }
#selectionner a.bouton-right { float:left; width:84px; height:18px; background-image:url(../images/bouton-short-bk.gif); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }

/*Ma selection*/
#nav-code .selection-box { background:#FDF4ED; clear:left; float:left; margin-top:20px; width:100%; margin-bottom:20px }
#nav-code .selection-box .top { background:url(../images/orange-box-top-bk.png) repeat-x !important; border-bottom:0px !important; height:10px !important; overflow:hidden }
#nav-code .selection-box .top .left { background:url(../images/orange-box-top-left.png) no-repeat !important; display:block; width:10px; float:left }
#nav-code .selection-box .top .right { background:url(../images/orange-box-top-right.png) no-repeat !important; display:block; width:10px; float:right }
#nav-code .selection-box .bottom { background:url(../images/orange-box-bottom-bk.png) repeat-x !important; height:10px !important; margin:0px !important; width:100% }
#nav-code .selection-box .bottom .left { background:url(../images/orange-box-bottom-left.png) no-repeat !important; display:block; width:10px; float:left }
#nav-code .selection-box .bottom .right { background:url(../images/orange-box-bottom-right.png) no-repeat !important; display:block; width:10px; float:right }
#nav-code .selection-box .top span, #nav-code .selection-box .top, #nav-code .selection-box .bottom span, #nav-code .selection-box .bottom { height:10px; font-size:1px }
#nav-code .selection-box .content { padding:0 10px; width:770px; text-align:left; border-left:1px solid #f7bc87; border-right:1px solid #f7bc87 }

#nav-code .selection-box h3 { margin-bottom:10px; color:#FF7200 }
#nav-code .selection-box table { clear:both; width:100%; border-collapse:collapse }
#nav-code .selection-box table .entete { font-weight:normal; padding:0px; padding-left:3px; font-weight:normal; height:16px; padding-right:3px; overflow:visible }
#nav-code .selection-box table .entete td { border-bottom:1px solid #F7BC87; color:#FF7200 }
#nav-code .selection-box table .code { width:86px !important }
#nav-code .selection-box table .code div  { width:86px }
#nav-code .selection-box table .libelle {  width:100% !important }
#nav-code .selection-box table .principal {  width:100px; text-align:center }
#nav-code .selection-box table .principal div  {  width:100px; text-align:center }
#nav-code .selection-box table .actions { width:70px; text-align:center }
#nav-code .selection-box table .actions div  { width:70px; text-align:center }
#nav-code .selection-box table tr.on { background-color:#fff; cursor:pointer; }
#nav-code .selection-box table tr.off { cursor:pointer; }

/*Guillaume*/
.gwt-TreeItem *{ cursor:default !important} 
.gwt-TreeItem div strong  { color:#FF7200; font-weight:normal }

#panneau .on { background-color:#dcd7d7 ; cursor:pointer; }


.intitule { display:block; float:left; width:auto; padding-right:5px; line-height:22px; font-weight:bold }
input.mots-clefs { width:200px !important; float:left } 
div, td, .intitule, .rechercher-code { font-family:Arial, Helvetica, sans-serif; font-size:11px;}

td.code, td.code div, td.libelle, td.libelle div { padding-right:0px; marging-right:0px ; }
td.code, td.libelle { padding-left:3px; marging-left:0px }
td.libelle div, td.code div { width:100% }
#nav-code .results-list table .code { padding-right:0px } /* Enlève l'espace entre les blocs code et libellé */