.tooltip-inner {
  max-width: 400px !important;
}

.bootstrap .panel-default {
  padding: 0;
}

tab.panel.panel-default.tab-pane {
  border-top: none;
  border-radius: 0;
}

.bootstrap .radio-inline,
.bootstrap .checkbox-inline {
  padding-left: 0 !important;
  margin-left: 35px !important;
}

a.nav-link > span {
  font-size: 12.5px;
}

.panel {
  &.panel-default, .panel-success {
    .panel-heading {
      font-size: 13px;
    }
    .alert.alert-info {
      font-size: 12px;
    }
  }
}

.panel-collapse {
  &.collapse {
    .panel-body {
      &.card-block {
        &.card-body {
          .alert.alert-info {
            font-size: 12px;
            padding: 6px 15px;
          }
        }
      }
    }
  }
}

.alert {
  &.alert-warning, &.alert-success, &.alert-info {
    font-size: 12px;
  }
}

.pagination {
  margin: 0;
}

.m-top {
  position: relative;
  top: -11px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 0;
  position: relative;
  .ng-placeholder {
    top: 0;
    line-height: 17px;
  }
  .ng-value {
    margin-bottom: 0;
    font-size: 1rem;
    padding: 4px;
  }
}

.bootstrap-iso dume-checkbox-criteria {
  .radio-inline, .form-horizontal .radio-inline {
    padding-top: 0;
    padding-left: 16px;
  }
  .radio-inline input[type="radio"], .form-horizontal .radio-inline input[type="radio"] {
    margin: 0;
  }
}

#middle dume-request.bootstrap-iso dume-checkbox-criteria {
  .radio-inline input[type="radio"], .form-horizontal .radio-inline input[type="radio"] {
    margin: 0;
  }
}

.dropdown-menu > li > a {
  cursor: pointer;
}


.label {
  letter-spacing: 0.5px;
  font-size: 13px;
  &.label-success {
    background-color: #b1b1b1;
  }
}

.m-t-1.collapse.in.show {
  border: solid 1px #dddddd;
  border-top: none;
  margin-bottom: 8px;
}

span.ng-value-label {
  font-size: 11px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  padding: 1px !important;
  margin-left: 3px;
}

.m-b-1 {
  margin-bottom: 8px;
}
