/* CSS Document */

/**************************************Styles specifiques client***************************************/
body { background:#EEEEEE; }
h2 { color:#3D6BA6; }
.form-envoi-pub legend { color:#3D6BA6; }
.form-envoi-pub .gwt-TabBarItem { color:#3D6BA6; }
.form-envoi-pub .gwt-TabBarItem-selected { color:#fff; }
.form-envoi-pub table.rubrique fieldset { border:1px solid #68A2D6 !important; }
.boutons { border-color:#68a2d6; _width:770px }
.form-envoi-pub .content { background:#fff !important; }