{% extends ('entreprise' in app.request.get('_route')) ? 'layout.html.twig' : 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }} 
	{% if 'entreprise' in app.request.get('_route') %}
		{{ encore_entry_link_tags('modern-admin-entreprise', 'encore') }}
	{% endif %}
	{{ encore_entry_link_tags('verification-signature') }}


{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
	{{ encore_entry_script_tags('verification-signature') }}
{% endblock %}

{% block javascripts_header %}
	{% if 'entreprise' in app.request.get('_route') %}
		{{ parent() }}
		{{ encore_entry_script_tags('verification-signature') }}
	{% endif %}
{% endblock %}

{% form_theme form _self %}
{% block file_widget %}
	{{ block('form_widget_simple') }}
{% endblock %}

{% block content %}
	{% if 'entreprise' in app.request.get('_route') %}
		<ul class="breadcrumb m-l-4 m-r-4">
			<li>
				<a href="/entreprise">
					{{ 'TEXT_ACCUEIL'|trans }}
				</a>
			</li>
			<li>
				{{ 'DEFINE_TEXT_OUTILS_DE_SIGNATURE'|trans }}
			</li>
			<li>
				{{ 'VERIFIER_SIGNATURE'|trans }}
			</li>
		</ul>
	{% endif %}
	<div class="content-header row">
		<div class="content-header-left col-md-6 col-12 mb-2 m-l-4 m-r-4">
			<h1 class="content-header-title">
				{{ 'VERIFIER_SIGNATURE'|trans }}
			</h1>
		</div>
	</div>
	<div id="VerificationSignature" class="m-l-4 m-r-4">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<section class="card h-100">
					<div class="card-content">
						<div class="card-body">
							{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
								<div class="row">
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 border-right">
										{{ 'VERIFIER_VALIDITE_SIGNATURE'|trans|raw }}
									</div>
									<div class="col-12 col-sm-12 col-md-6 col-lg-6">
										<p>{{ form_errors(form.fileToVerify) }}</p>
										<div class="row mb-1">
											<div class="col-12">
												{{ form_widget(form.fileToVerify) }}
											</div>
										</div>
										<div class="row mb-1">
											<div class="col-12">
												{{ form_widget(form.signingFile) }}
											</div>
										</div>
										<div class="row mb-1">
											<div class="col-12">
												<button class="btn btn-success">
													<span class="ft-edit"></span> {{ 'VERIFIER_SIGNATURE'|trans }}
												</button>
											</div>
										</div>
									</div>
								</div>
							{{ form_end(form) }}
						</div>
					</div>
				</section>
			</div>
		</div>
		{% if certificates is not null %}
		<div class="row mt-3">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<section class="card h-100">
					<div class="card-content">
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<h4>
										{{ 'RESULTAT_VERIFICATION'|trans }}
									</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right mb-1">
									<a class="h1 danger darken-4"
									   href="{% if 'entreprise' in app.request.get('_route') %}
											{{ path('verification_signature_entreprise_download', {'hash': cacheHash}) }}
										{% else %}{{ path('verification_signature_download', {'hash': cacheHash}) }} {% endif %}">
										<span class="la la-file-pdf-o"></span>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<div class="card">
										<div class="card-content">
											<div class="card-body">
												<div class="row">
													<div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<h5>
															{{ 'TEXT_NOM_FICHIER_PRINCIPAL'|trans }}
                                                        </h5>
														<hr>
													</div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<h5>
															{{ 'DEFINE_RESULAT_CONTROLE_SIFNATURE'|trans }}
                                                        </h5>
														<hr>
													</div>
												</div>
                                                <div class="row">
													<div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<a href="#" class="primary">
                                                            {{ certificates.0.fileName }}
                                                        </a>
													</div>
													{% set nbCertificateKo = 0 %}
													{% for certificate in certificates  %}
														{% if certificate.isValidCertificate == false %}
															{% set nbCertificateKo = nbCertificateKo + 1 %}
														{% endif %}
													{% endfor %}
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<p class="{% if nbCertificateKo == 0 %}success {% else %}red{% endif %}">
															{{ certificates | length}} {{ 'NOMBRE_SIGNATURE_DETECTEES'|trans }} {% if nbCertificateKo > 0 %} {{ 'TEXT_DONT'|trans }} {{ nbCertificateKo }} {{ 'TEXT_KO'|trans }} {% endif %}
                                                            <br>
                                                            <span class="{% if nbCertificateKo == 0 %}fa fa-check-circle {% else %}fa fa-times-circle{% endif %}"></span>
															{% if nbCertificateKo == 0 %}{{ 'DEFINE_FICHIER_SIGNE_SIGNATURE_VALIDE'|trans }} {% else %} {{ 'DEFINE_FICHIER_SIGNATURE_INVALIDE'|trans }} {% endif %}
                                                        </p>
													</div>
												</div>
											</div>
										</div>
									</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
											<p class="h5">
												{{ 'DEFINE_JETON_SIGNATURE'|trans }} :
												<span class="badge badge-pill badge-success">
													{{ certificates.0.jetonName }}
												</span>
											</p>
                                        </div>
                                    </div>
									<hr>
									{% for key, certificate in certificates %}
									<p class="h5 mb-2 font-weight-bold">
										<span class="ft-send"></span> {{ 'DEFINE_TEXT_SIGNATURE'|trans }} {{ key + 1}} :
									</p>
                                    <div class="card card--noBorderShadow card--borderGreen">
										<div class="card-content">
											<div class="card-body">
												<div class="row">
													<div class="col-12 col-sm-12 col-md-12 col-lg-12">
														<h5>
															<span class=ft-file></span> {{ 'DEFINE_CERTIFICAT_SIGNATURE'|trans }} <span class="fa fa-question-circle tooltip-evt"></span>
														</h5>
														<div class="tooltip">
															{{ 'DEFINE_INFO_BULLE_CERTIFICAT_SIGNATURE'|trans }}
														</div>
													<hr>
													</div>
												</div>
												<div class="row">
													<div class="col-4 col-sm-4 col-md-4 col-lg-4">
														<h5>
															{{ 'DEFINE_CERTIFICAT_EMIS_A'|trans }} :
                                                        </h5>
														<hr>
													</div>
                                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
														<h5>
                                                            {{ 'CERTIFICAT_EMIS_PAR'|trans }} :
                                                        </h5>
														<hr>
													</div>
													<div class="col-4 col-sm-4 col-md-4 col-lg-4">
														<h5>
															{{ 'TEXT_DATE_DE_VALIDITE'|trans }} :
                                                        </h5>
														<hr>
													</div>
												</div>
                                                <div class="row">
													<div class="col-4 col-sm-4 col-md-4 col-lg-4">
														<p>
															{% for info in certificate.certificateFor %}
                                                            	{{ info }}<br>
															{% endfor %}
                                                        </p>
													</div>
                                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
														<p>
															{% for info in certificate.certificateBy %}
																{{ info }}<br>
															{% endfor %}
                                                        </p>
													</div>
													<div class="col-4 col-sm-4 col-md-4 col-lg-4">
														<p>     	  
															<span class="mr-1">{{ 'TEXT_DU'|trans }} :</span>
															{{ certificate.validFrom | date('d/m/Y h:i')}}
															<br>
															<span class="mr-1">{{ 'DEFINE_AU'|trans }} :</span>
															{{ certificate.validTo | date('d/m/Y h:i')}}
                                                        </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<h5>
                                                            {{ 'DEFINE_CONTROLE_VALIDITATION_CERTIF'|trans }} <span class="fa fa-question-circle tooltip-evt"></span>
                                                        </h5>
														<div class="tooltip">
															{{ 'DEFINE_INFO_BULLE_CONTROLE_VALIDITE'|trans }}
														</div>
														<hr>
													</div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<h5>
															{{ 'DEFINE_INTERGRITE_FICHIER_SIGNE'|trans }} <span class="fa fa-question-circle tooltip-evt"></span>
                                                        </h5>
														<div class="tooltip">
															{{ 'DEFINE_INFO_BULLE_INTEGRITE_FICHIER'|trans }}
														</div>
														<hr>
													</div>
												</div>
                                                <div class="row">
													<div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<p>
															{{ 'DEFINE_CONTROLE_REALISES_LE'|trans }} {{ "now" | date('d/m/Y H:i') }}<br>
															{{ 'PERIODE_VALIDITE'|trans }} :
															<span class="{% if certificate.isPeriodValid == true %} fa fa-check-circle success {% else %}fa fa-times-circle red{% endif %}"></span><br>
															{{ 'CHAINE_CERTIFICATION'|trans }} : <span class="{% if certificate.isChainValid  == true %}fa fa-check-circle success {% else %}fa fa-times-circle red{% endif %}"></span><br>
															<span class="ft-corner-down-right"></span>{{ 'DEFINE_REFERENTIEL_DERTIFICAT'|trans }} : {{ certificate.certificateReference }}<br>
															{{ 'DEFINE_NON_REVOCATION'|trans }} : <span class="{% if certificate.isRevocation == false %}fa fa-check-circle success {% else %}fa fa-times-circle red{% endif %}">
															</span>
															{% if  certificate.dateRevocation is not null%}
														   	({{'ORDRE_A_REVOCATION'|trans }} {{  (certificate.dateRevocation | date('d/m/Y H:i'))}} )
															{% endif %}
                                                        </p>
													</div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
														<p>
                                                            {{ 'DEFINE_CONTROLE_REALISES_LE'|trans }} {{ "now" | date('d/m/Y H:i') }}<br>
															{{ 'DEFINE_NON_REPUDIATION'|trans }}
																<span class="{% if certificate.isRepudiation == true %}fa fa-check-circle success {% else %}fa fa-times-circle red{% endif %}"></span>

                                                        </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-12 col-sm-12 col-md-12 col-lg-12">
														<h5>
															{{ 'INFOROMATIONS_COMPLEMANTAIRES_SIGNATURE'|trans }}
                                                        </h5>
														<hr>
													</div>
												</div>
                                                <div class="row">
													<div class="col-12 col-sm-12 col-md-12 col-lg-12">
														<p class="mb-0">
															{{ 'CERTIFICAT_SIGNATURE'|trans }} : {{ 'CERTIFICAT_SIGNATURE_QUALIFIE'|trans }} <span class="fa fa-question-circle tooltip-evt"></span>
														</p>
														<div class="tooltip">
															{{ 'CERTIFICAT_SIGNATURE_NON_QUALIFIE_INFO_BULLE'|trans }}
														</div>
														<p>
															{{ 'FORMAT_SIGNATURE'|trans }} : {{ certificate.certificateFormat }}<br>
															{{ 'DATE_INDICATIVE'|trans }} : {{ certificate.dateSignature | date('d/m/Y h:i:s') }}<br>
															{{ 'JETON_SIGNATURE_HORODATE'|trans }} :
															{% if certificate.isTimestamp == true %}
																{{ 'TEXT_OUI'|trans }} ({{ certificate.timestamp | date('d/m/Y h:i:s') }})
															{% else %}
																{{ 'TEXT_NON'|trans }}
															{% endif %}
                                                        </p>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
                            <div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right">
									<a class="h1 danger darken-4"
									   href="{% if 'entreprise' in app.request.get('_route') %}
											{{ path('verification_signature_entreprise_download', {'hash': cacheHash}) }}
										{% else %}{{ path('verification_signature_download', {'hash': cacheHash}) }} {% endif %}">
										<span class="fa fa-file-pdf-o"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		{% endif %}
	</div>
    {% endblock %}
