<template>
    <div>
        <div class="row">
            <div class="col-12">
                <p>{{ lang['CRITERIA_ATTRIBUTION_BAREME_INTRO_ANALYSE_OFFRE'] }}</p>
            </div>
        </div>
        <hr style="margin-bottom: 22px">

        <div class="row">
            <div class="col-10">
                <p>{{ lang['CRITERIA_ATTRIBUTION_BAREME_ANALYSE_OFFRE'] }}</p>
            </div>
            <div class="col-2" >
                <fieldset class="radio">
                    <label>
                        <div class="iradio_square " v-bind:class="{ checked: isIdentical }" v-on:click="setIsIdentical(true)" style="position: relative;"><ins class="iCheck-helper"></ins></div>
                        {{ lang['DEFINE_OUI'] }}
                    </label>
                </fieldset>
                <fieldset class="radio">
                    <label>
                        <div class="iradio_square " v-bind:class="{ checked: (isIdentical === false) }" v-on:click="setIsIdentical(false)" style="position: relative;"><ins class="iCheck-helper"></ins></div>
                        {{ lang['DEFINE_NON'] }}
                    </label>
                </fieldset>
            </div>
        </div>
    </div>
</template>
<script>

export default {
  name: "DefineBaremeAllotie",
  props: [
    'isAllotie', 'lang'
  ],
  data() {
    return {
      isIdentical: null
    };
  },
  components: {

  },
  methods: {
    setIsIdentical: function (value) {
      this.isIdentical = value;
      this.dispatchIsIdenticalRateToParent();
    },
    dispatchIsIdenticalRateToParent: function() {
      this.$emit('dispatch-is-identical-rate-event', { identical: this.isIdentical })
    },
  }
};
</script>

