<template>
    <div>
        <div class="row" v-if="!isAllotie">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12">
                        <p class="alert "
                           role="alert"
                           v-html="lang['CRITERIA_ATTRIBUTION_PONDERATION_ANALYSE_OFFRE']"
                           v-bind:class="{ 'alert-danger': showAlertMessageCriteria}"></p>
                    </div>
                </div>
                <hr style="margin-bottom: 22px">
                <div class="row" v-for="(criteria, index) in criteriaList">
                    <div class="col-md-7">
                        <span>
                        <p>
                            <i class="fas fa-arrow-alt-circle-right text-primary"></i>
                            {{ criteria.name }} <strong class="badge badge-lg bg-secondary">/{{ criteria.rate }}</strong>
                        </p>
                      </span>
                    </div>
                    <div class="col-md-4">
                        <a href="#" v-on:click="addSubCriteria(index)">{{ lang['CRITERIA_ATTRIBUTION_DEFINE_SUB_ANALYSE_OFFRE'] }}</a>
                    </div>
                    <div class="col-md-1 pl-1">
                        <i class="fas fa-trash btn-danger btn-lg" v-on:click="deleteCriteria(index)"></i>
                    </div>

                    <define-sub-criteria v-bind:index-criteria-selected="index"
                                         v-bind:criteria-list="criteriaList"
                                         @dispatch-total-sub-rate-event="setTotalSubRate"
                                         @dispatch-change-show-save-button="setShowSaveButton"
                                         :lang="lang"
                    >
                    </define-sub-criteria>
                </div>
                <div class="row" v-if="(totalRateNumber < 100) && showFormCriteria">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_NAME_ANALYSE_OFFRE']" aria-invalid="false" v-model="currCriteria">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" min="1" max="100" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-if="currCriteria.length > 0" v-model="currRate">
                            <input type="number" min="1" max="100" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-else v-model="currRate" disabled>
                        </div>
                    </div>
                    <div class="col-md-3 text-left" v-if="currCriteria != '' && currRate > 0">
                        <i class="fa fa-check btn btn-success btn-lg" v-if="!isAllotie || (isAllotie && identical)" v-on:click="addCriteriaToList(consultationId)"></i>
                        <i class="fa fa-check btn btn-success btn-lg" v-if="isAllotie && !identical" v-on:click="addCriteriaToList(consultationId, lot.id, indexLot)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-if="isAllotie">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-12">
                        <p class="alert "
                           role="alert"
                           v-html="lang['CRITERIA_ATTRIBUTION_PONDERATION_ANALYSE_OFFRE']"
                           v-bind:class="{ 'alert-danger': showAlertMessageCriteria}"></p>
                    </div>
                </div>
                <hr style="margin-bottom: 22px">

                <!-- Allotie et barème différent pour chaque lot -->
                <div class="row" v-for="(lot, indexLot) in lots" v-if="!identical">
                    <div class="col-md-7">
                        <span>
                            <p>
                                <i class="fas fa-arrow-alt-circle-right text-primary"></i>
                                {{ lot.name }}
                            </p>
                          </span>
                    </div>
                    <div class="col-md-4">
                        <a href="#" v-on:click="showFormCriteriaForLot(indexLot)" v-if="!identical && lot.criteria === null">Définir des critères</a>
                    </div>

                    <div class="col-md-12" v-for="(criteria, index) in criteriaList">
                        <div v-if="lot.id == criteria.id_lot">
                            <div class="col-md-7">
                                <span>
                                    <p>
                                        <i class="fa fa-reply fa-rotate-180"></i>
                                        {{ criteria.name }} <strong class="badge badge-lg bg-secondary">/{{ criteria.rate }}</strong>
                                    </p>
                                  </span>
                            </div>
                            <div class="col-md-4">
                                <a href="#" v-on:click="addSubCriteria(index)" v-if="!formSubCriteriaIsActive && (criteria.sub_criteria === null)">{{ lang['CRITERIA_ATTRIBUTION_DEFINE_SUB_ANALYSE_OFFRE'] }}</a>
                            </div>
                            <div class="text-right">
                                <i class="fas fa-trash btn-danger btn-lg" v-if="identical" v-on:click="deleteCriteria(index)"></i>
                                <i class="fas fa-trash btn-danger btn-lg" v-if="!identical" v-on:click="deleteCriteria(index, indexLot)"></i>
                            </div>

                            <define-sub-criteria v-bind:index-criteria-selected="index"
                                                 v-bind:criteria-list="criteriaList"
                                                 @dispatch-total-sub-rate-event="setTotalSubRate"
                                                 @dispatch-change-show-save-button="setShowSaveButton"
                                                 :lang="lang"
                            >
                            </define-sub-criteria>
                        </div>
                    </div>

                    <div class="col-md-12" v-if="!identical && lot.criteria !== null && lot.total < 100">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_NAME_ANALYSE_OFFRE']" aria-invalid="false" v-model="currCriteria">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="number" min="1" max="100" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-if="currCriteria.length > 0" v-model="currRate">
                                <input type="number" min="1" max="100" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-else v-model="currRate" disabled>
                            </div>
                        </div>
                        <div class="col-md-3 text-left" v-if="currCriteria != '' && currRate > 0">
                            <i class="fa fa-check btn btn-success btn-lg" v-if="!isAllotie || (isAllotie && identical)" v-on:click="addCriteriaToList(consultationId)"></i>
                            <i class="fa fa-check btn btn-success btn-lg" v-if="isAllotie && !identical" v-on:click="addCriteriaToList(consultationId, lot.id, indexLot)"></i>
                        </div>
                    </div>
                </div>
                <!-- END : Allotie et barème différent pour chaque lot -->

                <!-- Allotie et barème identique pour chaque lot -->
                <p class="alert alert-primary" role="alert" v-if="identical">{{ lang['CRITERIA_ATTRIBUTION_COMMUN_ANALYSE_OFFRE'] }}</p>
                <div class="row" v-for="(criteria, index) in criteriaList" v-if="identical">
                    <div class="col-md-7">
                        <span>
                        <p>
                            <i class="fa fa-reply fa-rotate-180"></i>
                            {{ criteria.name }}<strong class="badge badge-lg bg-secondary">/{{ criteria.rate }}</strong>
                        </p>
                      </span>
                    </div>
                    <div class="col-md-4">
                        <a href="#" v-on:click="addSubCriteria(index)" v-if="!formSubCriteriaIsActive && (criteria.sub_criteria === null)">{{ lang['CRITERIA_ATTRIBUTION_DEFINE_SUB_ANALYSE_OFFRE'] }}</a>
                    </div>
                    <div class="col-md-1 pl-1">
                        <i class="fas fa-trash btn-danger btn-lg" v-on:click="deleteCriteria(index)"></i>
                    </div>

                    <define-sub-criteria v-bind:index-criteria-selected="index" v-bind:criteria-list="criteriaList"
                                         @dispatch-total-sub-rate-event="setTotalSubRate"
                                         @dispatch-change-show-save-button="setShowSaveButton"
                                         :lang="lang"
                    >
                    </define-sub-criteria>
                </div>
                <!-- END : Allotie et barème identique pour chaque lot -->

                <div class="row" v-if="((totalRateNumber < 100) && showFormCriteria && identical) ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_NAME_ANALYSE_OFFRE']" aria-invalid="false" v-model="currCriteria">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" min="1" max="100" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-if="currCriteria.length > 0" v-model="currRate">
                            <input type="number" min="1" max="100" class="form-control" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-else v-model="currRate" disabled>
                        </div>
                    </div>
                    <div class="col-md-3 text-left" v-if="currCriteria != '' && currRate > 0">
                        <i class="fa fa-check btn btn-success btn-lg" v-if="!isAllotie || (isAllotie && identical)" v-on:click="addCriteriaToList(consultationId)"></i>
                        <i class="fa fa-check btn btn-success btn-lg" v-if="isAllotie && !identical" v-on:click="addCriteriaToList(consultationId, lot.id, indexLot)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import DefineSubCriteria from './define-sub-criteria.vue';

export default {
  props: [
      'isAllotie', 'criteriaList', 'lots', 'identical', 'lang', 'consultationId'
  ],
  data() {
    return {
      currCriteria: '',
      currRate: null,
      totalRateNumber: 0,
      showAlertMessageCriteria: false,
      showFormCriteria: true,
      formSubCriteriaIsActive: false,
      allLotCriteriaReady: false
    };
  },
  components: {
    'define-sub-criteria': DefineSubCriteria
  },
  methods: {
    addCriteriaToList: function(idConsultation, idLot = '', indexLot = null) {
      let criteriaObj = {
        "id_consultation" : idConsultation,
        "id_lot" : idLot,
        "name": this.currCriteria,
        "rate": this.currRate,
        "sub_criteria": null,
        "identical_bareme": (this.identical) ? this.identical : null
      };

      if (this.currRate > 0 && this.currCriteria !== "") {
        this.criteriaList.push(criteriaObj);
        this.totalRateNumberCount(idLot);

        if (indexLot !== null) {
          this.lots[indexLot].total = this.totalRateNumber;
          this.handleRate(this.lots[indexLot].total, idLot, indexLot);
          this.handleLotCriteriaReady();
        } else {
          this.handleRate(this.totalRateNumber);
        }
      }
    },
    totalRateNumberCount: function(idLot = '') {
      this.totalRateNumber = 0;
      if (idLot !== '') {
        for (let i = 0; i < this.criteriaList.length; i++) {
          if (this.criteriaList[i].id_lot == idLot) {
            this.totalRateNumber = this.totalRateNumber + parseInt(this.criteriaList[i].rate)
          }
        }
      } else {
        for (let i = 0; i < this.criteriaList.length; i++) {
          this.totalRateNumber = this.totalRateNumber + parseInt(this.criteriaList[i].rate)
        }
      }

    },
    deleteCriteria: function(currItemId, indexLot = null) {
      let rateToDelete = this.criteriaList[currItemId].rate;
      this.criteriaList.splice(currItemId, 1);
      this.totalRateNumberCount();

      this.dispatchChangeShowSaveButton(false);
      if (this.totalRateNumber == 100) {
        this.dispatchChangeShowSaveButton(true);
      }

      if (indexLot !== null) {
        this.lots[indexLot].total = this.lots[indexLot].total - rateToDelete;
        if (this.lots[indexLot].total == 0) {
          this.lots[indexLot].criteria = null
        }
        this.handleLotCriteriaReady();
      }
    },
    addSubCriteria: function(currItemId) {
      this.formSubCriteriaIsActive = true;
      this.criteriaList[currItemId].sub_criteria = [];
      this.showFormCriteria = false;
    },
    dispatchTotalRateToParent: function() {
      this.$emit('dispatch-total-rate-event', { total: this.totalRateNumber })
    },
    dispatchChangeShowSaveButton: function(show) {
      this.$emit('dispatch-change-show-save-button', { showSaveButton: show })
    },
    setShowSaveButton: function (payload) {
      this.dispatchChangeShowSaveButton(payload.showSaveButton);
    },
    setTotalSubRate: function(payload) {
      this.formSubCriteriaIsActive = false;
      this.showFormCriteria = true;
      this.dispatchChangeShowSaveButton(true);
    },
    showFormCriteriaForLot: function(index) {
      this.lots[index].criteria = [];
    },
    handleRate: function (total, idLot = '', indexLot = null) {
      if (total > 100) {
        this.showAlertMessageCriteria = true;
        this.criteriaList.pop();
        this.totalRateNumberCount(idLot);
      }
      else {
        this.showAlertMessageCriteria = false;
        this.dispatchTotalRateToParent();
        this.currCriteria = '';
        this.currRate = '';
        this.dispatchChangeShowSaveButton(true);
      }

      if (indexLot !== null) {
        this.lots[indexLot].total = this.totalRateNumber;
      }
    },
    handleLotCriteriaReady: function () {
      let criteriaLotNotReady = [];
      for (let i = 0; i < this.lots.length; i++) {
        if (this.lots[i].total < 100) {
          criteriaLotNotReady.push(this.lots[i].id)
        }
      }
      this.allLotCriteriaReady = (criteriaLotNotReady.length == 0) ? true : false;
      this.dispatchLotCriteriaReadyToParent();
    },
    dispatchLotCriteriaReadyToParent: function() {
      this.$emit('dispatch-lot-criteria-ready-event', { lotCriteriaReady: this.allLotCriteriaReady })
    },
  }
};
</script>

