<template>
    <div class="col-md-12" id="block-sub-criteria">
        <div class="row m-t-1">
            <div class="col-md-12 pr-0" v-for="(subCriteria, index) in criteriaList[indexCriteriaSelected]['sub_criteria']">
                <div class="col-md-10">
                    <p class="form-group">
                        <i class="fa fa-reply fa-rotate-180"></i> {{ subCriteria.name }} <strong class="badge bg-secondary">/{{ subCriteria.rate }}</strong>
                    </p>
                </div>
                <div class="col-md-2 pr-0 text-right">
                    <i class="fas fa-trash btn-danger btn-lg" v-on:click="deleteSubCriteria(index, indexCriteriaSelected)"></i>
                </div>
            </div>
        </div>

        <div class="row m-t-1" v-if="(totalSubRateForCriteria < criteriaList[indexCriteriaSelected].rate)
        && (criteriaList[indexCriteriaSelected]['sub_criteria'] != null)"
        >
            <div class="col-md-6 offset-md-1">
                <div class="form-group">
                    <i class="fa fa-reply fa-rotate-180"></i>
                    <input type="text" class="form-control input-required subcriteriaInput" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_NAME_SUB_ANALYSE_OFFRE']" aria-invalid="false" v-model="currSubCriteria">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="number" min="1" max="100" class="form-control input-required" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-if="currSubCriteria.length > 0" v-model="currSubRate">
                    <input type="number" min="1" max="100" class="form-control input-required" :placeholder="lang['CRITERIA_ATTRIBUTION_FORM_INPUT_RATE_ANALYSE_OFFRE']" v-else v-model="currSubRate" disabled>
                </div>
            </div>
            <div class="col-md-1 text-center" v-if="currSubCriteria != '' && currSubRate > 0">
                <i class="fa fa-check btn btn-success btn-lg" v-on:click="addSubCriteriaToList"></i>
            </div>
        </div>

        <p v-if="showAlertMessageSubCriteria" class="alert alert-warning" role="alert">
            {{ lang['CRITERIA_ATTRIBUTION_SUB_CRITERIA_ANALYSE_OFFRE'] }}
        </p>
    </div>
</template>
<script>

export default {
  name: "DefineSubCriteria",
  props: [
      'indexCriteriaSelected', 'criteriaList', 'lang'
  ],
  data() {
    return {
      currSubCriteria: '',
      currSubRate: null,
      subCriteriaList: [],
      totalSubRateForCriteria: 0,
      showAlertMessageSubCriteria: false
    };
  },
  components: {

  },
  methods: {
    dispatchChangeShowSaveButton: function(show) {
      this.$emit('dispatch-change-show-save-button', { showSaveButton: show })
    },
    addSubCriteriaToList: function() {
      this.dispatchChangeShowSaveButton(false);
      let subCriteriaObj = {
        "name": this.currSubCriteria,
        "rate": this.currSubRate
      };

      if (this.currSubRate > 0 && this.currSubCriteria !== "") {
        this.subCriteriaList.push(subCriteriaObj);
        let rateCriteria = this.criteriaList[this.indexCriteriaSelected].rate
        this.totalSubRateForCriteriaCount();

        if (this.totalSubRateForCriteria > rateCriteria) {
          this.showAlertMessageSubCriteria = true;
          this.subCriteriaList.pop();
          this.totalSubRateForCriteriaCount();
        }
        else {
          this.showAlertMessageSubCriteria = false;
          this.dispatchTotalSubRateToParent(rateCriteria);
          this.currSubCriteria = '';
          this.currSubRate = '';
        }

        this.criteriaList[this.indexCriteriaSelected]['sub_criteria'] = this.subCriteriaList;
      }
    },
    deleteSubCriteria: function (indexSubCriteriaSelected, indexCriteria = null) {
      this.subCriteriaList.splice(indexSubCriteriaSelected, 1);
      this.totalSubRateForCriteriaCount();
      this.dispatchChangeShowSaveButton(false);
      if (this.totalSubRateForCriteria == 0) {
        this.dispatchChangeShowSaveButton(true);
      }
      if (indexCriteria !== null) {
        if (this.totalSubRateForCriteria == 0) {
          this.criteriaList[indexCriteria].sub_criteria = null
        }
      }

    },
    totalSubRateForCriteriaCount: function() {
      this.totalSubRateForCriteria = 0;
      for (let i = 0; i < this.subCriteriaList.length; i++) {
        this.totalSubRateForCriteria = this.totalSubRateForCriteria + parseInt(this.subCriteriaList[i].rate)
      }
    },
    dispatchTotalSubRateToParent: function(rateCriteria) {
      if (this.totalSubRateForCriteria == rateCriteria) {
        this.$emit('dispatch-total-sub-rate-event', { 'subTotal': this.totalSubRateForCriteria })
      }
    }
  }
};
</script>

