<div id="root-modal" class="eforms modal-dialog modal-dialog-scrollable modal-full-width">
  <div class="eforms modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <strong>{{subNotice?._label | translate}}</strong>
        <atx-more-information (onClickInformation)="openMetaData()"></atx-more-information>
      </h4>
      <div class="d-flex">
        <i class="flag-icon flag-icon-{{selectedLang}} flag mr-1"></i>

        <select [ngModel]="selectedLang" style="width: 80%"
                (ngModelChange)="changeLang($event)"
                class="custom-select">
          <option
            [value]="item"
            *ngFor="let item of langList">
            <div>
              <i class="flag-icon flag-icon-{{item}} flag mr-1"></i><span>{{item | translate}}</span>
            </div>
          </option>
        </select>

        <i class="la la-times"
           style="margin-top: auto;margin-bottom: auto; cursor: pointer"
           (click)="closeModal()"></i>
      </div>
    </div>
    <div class="modal-body pr-1 pl-1">
      <div style="display: flex; flex-direction: column">
        <div class="d-inline-block custom-control custom-radio mr-1">
          <div class="row">
            <atx-group-field-form *ngIf="subNotice?.content && showFormulaire"
                                  class="col-12 p-0"
                                  [readOnly]="readOnly"
                                  [parentNode]="'ND-Root'"
                                  [niveau]="0"
                                  [group]="subNotice.content"
                                  [selectedError]="selectedError"
                              [errors]                              ="errors"
                                  [noticeType]="subNotice?.subTypeId"
                                  [formulaire]="formulaireObject['ND-Root']"
                                  (onChangeGroupObject)="changeGroupObject($event)"
                                  (onModifyGroupList)="modifyList($event)"
                                  (onSave)="save()"
            ></atx-group-field-form>
            <hr/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer form-actions" *ngIf="savedNotice">
      <div class="float-right">


        <button (click)="closeModal()"
                class="btn btn-outline-warning btn-sm mr-1">
          <i class="la la-close"></i>
          {{"close" | translate}}
        </button>
        <button *ngIf="savedNotice.previousId" class="btn btn-primary primary-client-bg-border btn-sm mr-1"
                (click)="routingInterneService.navigateFromContexte('/agent/avis/'+savedNotice.previousId)">
          <i class="la la-chevron-left"></i> {{'avis-precedent' | translate}}
        </button>
        <button *ngIf="savedNotice.nextId" class="btn btn-primary primary-client-bg-border btn-sm mr-1"
                (click)="routingInterneService.navigateFromContexte('/agent/avis/'+savedNotice.nextId)">
          {{'avis-suivant' | translate}}<i class="la la-chevron-right"></i>
        </button>
        <button (click)="save()" class="btn btn-primary primary-client-bg-border btn-sm mr-1"
                *ngIf="savedNotice.statut === 'DRAFT' || savedNotice.statut === 'CONCENTRATEUR_VALIDATED'"
                type="submit"><i
          class="la la-save"
        ></i>{{'save' | translate}}
        </button>
        <button (click)="exportNotice()" class="btn btn-primary primary-client-bg-border btn-sm mr-1"
                type="submit"><i
          class="la la-file-excel-o"
        ></i>{{'export' | translate}}
        </button>
        <button (click)="validate()" class="btn btn-outline-success btn-sm mr-1"
                type="submit"><i
          class="la la-check"
        ></i>{{'validate' | translate}}
        </button>
        <button (click)="submit()" class="btn btn-outline-success btn-sm"
                *ngIf="savedNotice.statut === 'DRAFT' || savedNotice.statut === 'CONCENTRATEUR_VALIDATED' "
                type="submit"><i
          class="la la-paper-plane"
        ></i>{{'submit' | translate}}
        </button>
        <button (click)="stop()" class="btn btn-outline-danger btn-sm"
                *ngIf="savedNotice.statut === 'SUBMITTED' || savedNotice.statut === 'PUBLISHING'"><i
          class="la la-trash"
        ></i>{{'stop-publication' | translate}}
        </button>
        <button (click)="changer()" class="btn btn-outline-success btn-sm"
                *ngIf="!savedNotice.nextId && savedNotice.statut === 'PUBLISHED' && !savedNotice.nextId"
                type="submit"><i
          class="la la-paper-plane"
        ></i>{{'Créer un avis de changement' | translate}}
        </button>
        <button (click)="reprendre()" class="btn btn-outline-success btn-sm"
                *ngIf="!savedNotice.nextId && (savedNotice.statut === 'VALIDATION_FAILED' ||savedNotice.statut === 'NOT_PUBLISHED')  "
                type="submit"><i
          class="la la-paper-plane"
        ></i>{{'Reprendre une nouvelle version de l\'avis' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>




