{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>
                {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}
            </h4>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <p>
                        {% if get_parameter('UTILISER_FAQ') == '1' %}
                            {{ 'TEXT_ASSISTANCE_LIGNE'|trans|raw }}
                        {% else %}
                            {{ 'TEXT_AIDE_ASSISTANCE_AGENT'|trans|raw }}
                        {% endif %}
                    </p>
                    <div class="d-flex justify-content-center flex-column">
                        {{ 'TEXT_LOGO_ASSISTANCE_ENTREPRISE'|trans|raw }}
                    </div>
                    {% if get_parameter('SPECIFIQUE_PLACE') is empty %}
                        <div class="col-lg-12 col-md-12 col-12 text-left">
                        <span class="mt-1">
                            {{ 'TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE'|trans }} :
                        </span>
                            <ul class="list-unstyled mt-2">
                                <li>
                                    <span class="la la-windows"></span> {{ 'POUR_WINDOWS'|trans }}
                                    <a href="{{ info['outils'] }}/PMAD-MPE.exe">{{ 'CLIQUER_ICI'|trans }}</a>
                                </li>
                                <li>
                                    <span class="la la-apple"></span> {{ 'POUR_MAC'|trans }}
                                    <a href="{{ info['outils'] }}/PMAD-MPE.dmg">{{ 'CLIQUER_ICI'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
