{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'MENU_AGENT_OUTILS_AIDE_DOCUMENTS_DE_REFERENCE'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'MENU_AGENT_OUTILS_AIDE_DOCUMENTS_DE_REFERENCE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>
                {{ 'MENU_AGENT_OUTILS_AIDE_DOCUMENTS_DE_REFERENCE'|trans }}
            </h4>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-primary">
                    {{ 'TEXT_MSG_DOCUMENTS_REFERENCE'|trans }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <a href="http://www.economie.gouv.fr" target="_blank">
                        http://www.economie.gouv.fr <span class="la la-external-link"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
