{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'ABREVIATIONS'|trans }} / {{ 'GLOSSAIRE'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'ABREVIATIONS'|trans }} / {{ 'GLOSSAIRE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h4>
            {{ 'ABREVIATIONS'|trans }}
        </h4>
        <hr>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'TEXT_AAPC'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'AVIS_PUBLIC_CONCURRENCE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_AC'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'AUTORITE_CERTIFICATION'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'AOO'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'TEXT_APPEL_OFFRE_OUVERT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'AOR'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'APPEL_OFFRES_RESTREINT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_TEXT_AR'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'TEXT_ACCUSE_RECEPTION'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'BOAMP'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'BULLETIN_OFFICIEL_ANNONCES_MARCHES_PUBLICS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CCAP'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CAHIER_CLAUSES_ADMINISTRATIVES_PARTICULIERES'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CCTP'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CAHIER_CLAUSES_TECHNIQUES_PARTICULIERES'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CMP'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CODE_MARCHES_PUBLICS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CN'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CHAMP_PRINCIPAL_DESIGNATION_CERTIFICAT_NUMERIQUE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CO'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CONCOURS_OUVERT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CPE'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CONTRAT_PARTENARIAT_ETAT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'TEXT_CPV'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'VOCABULAIRE_COMMUN_MARCHES_PUBLICS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CR'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'CONCOURS_RESTREINT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'CRL'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'LISTE_REVOCATION_CERTIFICAT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DC'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DEFINE_TEXT_DC'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DC'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DEFINE_TEXT_DC'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DC_4_AND_5'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'FORMULAIRE_DE_CANDIDATURE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_DCE'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DEFINE_DOSSIER_CONSULTATION_ENTREPRISES'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DIC'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DOSSIER_INTEGRAL_CONSULTATION'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DSD'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DECRETS_SPECIFIQUE_DEFENSE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'FAQ'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'FOIRE_AUX_QUESTIONS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'JAL'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'JOURNAL_ANNONCES_LEGALES'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'JOUE'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'JOURNAL_OFFICIEL_UNION_EUROPEENNE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'FORMULAIRE_MAPA'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'MARCHE_A_PROCEDURE_ADAPTEE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'MN'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'TEXT_MN'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'ACCUSE_RECEPTION_NA'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'NON_APPLICABLE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'OEAP'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'OBSERVATOIRE_ECONOMIQUE_ACHAT_PUBLIC'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_PDF'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'ABBREVIATION_PORTABLE_DOCUMENT_FORMAT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_PLACE'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'PLATEFORME_ACHAT_ETAT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_RC'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DEFINE_TEXTE_REGLEMENT_CONSULTATION'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_RPA'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'DEFINE_REPRESENTANT_POUVOIR_ADJUDICATEUR'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'TEXT_SIREN'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'SYSTEME_IDENTIFICATION_REPERTOIRE_ENTREPRISE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'TEXT_SIRET'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'SYSTEME_IDENTIFICATION_REPERTOIRE_ETABLISSEMENTS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-1 col-md-1 col-1 text-primary">
                {{ 'DEFINE_URL'|trans }} :
            </div>
            <div class="col-lg-11 col-md-11 col-11">
                {{ 'UNIFORM_RESOURCE_LOCATOR'|trans }}
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4>
            {{ 'GLOSSAIRE'|trans }}
        </h4>
        <hr>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_ACCES_RESTREINT'|trans }} :
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_MESSAGE_CARACTERISTIQUE_CONSULTATION_PHASE_RESTREINTE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_AUTHENTIFICATION'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'PROCESSUS_RECONNAISSANCE_UTILISATEUR_CONNECTE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'TEXT_AVIS_INFORMATION'|trans }} :
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_CARACTERISTIQUES_AVIS_PRE_INFORMATION'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'BI_CLE_CHIFFREMENT_ET_DECHIFFREMENT'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_CARACTERISTIQUES_COUPLE_CLES_PERSONNE_PUBLIQUE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_BI_CLE_SERCOURS'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_CARACTERISTIQUES_BI_CLE_ENTITE_ACHAT'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_CERTIFICAT_VALIDE'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_CARACTERISTIQUES_CERTIFICAT_ELECTRONIQUE_VALIDE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_CHIFFREMENT_ENVELOPPES_ELECTRONIQUES'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'TEXTE_PROCEDE_INFORMATIQUE_ENCRYPTAGE_FICHIERS_REPONSE_SOUMISSIONNAIRE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'CODE_ACCES_CONSULTATION_RESTREINTE'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_CODE_A_SAISIR_POUR_LES_ENTREPRISES'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_HABILITATION'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'APTITUDE_A_ACCEDER_FONCTIONNALITE_APPLICATION'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_ENTITE_ACHAT'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'ORGANISME_ADMINISTRATIF_DOTE_CAPACITE_PASSER_MARCHES_PUBLICS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'LISTE_MARCHES_ARTICLE_133'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'LISTE_MARCHES_ATTRIBUES_AU_SENS_ARTICLE_133_CODE_MARCHES_PUBLICS'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_NOTIFICATION_ELECTRONIQUE'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'NOTIFICATION_MARCHE_SOUS_FORME_ELECTRONIQUE'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_TEXTE_OUTILS_ZIP'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                {{ 'DEFINE_TEXTE_UTILITAIRE_COMPRESSION_DECOMPRESSION_FORMAT_ZIP'|trans }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 col-md-2 col-2 text-primary">
                {{ 'DEFINE_SITE_BOAMP_PRINCIPAL'|trans }}
            </div>
            <div class="col-lg-10 col-md-10 col-10">
                <a href="https://saisie.boamp.fr/" target="_blank">https://saisie.boamp.fr/ <span class="la la-external-link" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
