{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'DEFINE_TEXT_ASSISTANCE_GUIDE'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'DEFINE_TEXT_ASSISTANCE_GUIDE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h4>
            {{ 'DEFINE_TEXT_ASSISTANCE_GUIDE'|trans }}
        </h4>
        <hr>
        <p>
            {{ 'TEXT_MSG_AIDE_ASSISTANCE'|trans|raw}}
        </p>
        <ul class="list-unstyled">
            <li>
                <a href="{{ get_parameter('URL_DOCS_GUIDE') }}/GuideUtilisateurAgent.zip" title="{{ 'TELECHARGER_GUIDE'|trans }}">
                    <span class="fa fa-file"></span> {{ 'TEXT_GUIDE_UTILISATION_AGENT'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ get_parameter('URL_DOCS_GUIDE') }}/GuideUtilisateurAdmin.zip" title="{{ 'TELECHARGER_GUIDE'|trans }}">
					<span class="fa fa-file"></span> {{ 'TEXT_GUIDE_UTILISATION_ADMINISTRATEUR'|trans }}
				</a>
            </li>
        </ul>
        </div>
    </div>
{% endblock %}
