{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXT_OUTILS_FORMATION'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'TEXT_OUTILS_FORMATION'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>
                {{ 'TEXT_OUTILS_FORMATION'|trans }}
            </h4>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 disable-bloc">
                    <p class="text-primary">
                        {{ 'TEXT_PLATEFORME_ECOLE'|trans }} <a href="https://ecole.marches-publics.gouv.fr/agent">https://ecole.marches-publics.gouv.fr/agent</a>.
                        <br>
                        {{ 'TEXT_PLATEFORME_ECOLE_TO_ACCESS'|trans }}
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-12 text-left mt-1">
                    <p>
                        {{ 'DEFINE_KIT_CONSULTATION'|trans }}<br>
                        <a href="{{ get_parameter('URL_DOCS_FORMATION') }}/Kit Consultation.zip"><span class="fa fa-file-download"></span> Kit Consultation.zip</a>
                    </p>
                    <p>
                        {{ 'DEFINE_KIT_CERTIFICATS'|trans }}<br>
                        <a href="{{ get_parameter('URL_DOCS_FORMATION') }}/Kit Certificats Entreprises et Agents.zip"><span class="fa fa-file-download"></span> Kit Certificats Entreprises et Agents.zip</a>
                    </p>
                    <p>
                        {{ 'DEFINE_COMPTES_TESTS'|trans }}<br>
                        <a href="{{ get_parameter('URL_DOCS_FORMATION') }}/Comptes de test.xls"><span class="fa fa-file-download"></span> Comptes de test.xls</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <p class="text-primary">
                        {{ 'TEXT_FORMATION_AGENT'|trans }}
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-12 text-left mt-1">
                    <p>
                        {{ 'TEXT_SUPPORT_FORMATION_ACHETEUR'|trans }} :<br>
                        <a href="{{ get_parameter('URL_DOCS_FORMATION') }}/Cycle_Acheteurs.zip"><span class="fa fa-file-download"></span> Cycle_Acheteurs.zip</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <p class="text-primary">
                        {{ 'TEXT_FORMATION_ADMIN'|trans }}
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-12 text-left mt-1">
                    <p>
                        {{ 'TEXT_SUPPORT_FORMATION_ADMIN'|trans }} :<br>
                        <a href="{{ get_parameter('URL_DOCS_FORMATION') }}/Cycle_Administrateurs.zip"><span class="fa fa-file-download"></span> Cycle_Administrateurs.zip</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <p class="text-primary">
                        {{ 'TEXT_FORMATION_FORMATEUR'|trans }}
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-12 text-left mt-1">
                    <p>
                        {{ 'TEXT_SUPPORT_FORMATION_FORMATEUR'|trans }} :<br>
                        <a href="{{ get_parameter('URL_DOCS_FORMATION') }}/Cycle_Formateurs.zip"><span class="fa fa-file-download"></span> Cycle_Formateurs.zip</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
