{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
{% if(app.user != null and atexo_configuration.getConfigurationOrganisme(app.user.organisme).isModuleEnvol()) %}
	<div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXT_OUTILS_INFORMATIQUES'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'TEXT_OUTILS_INFORMATIQUES'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>
                {{ 'UTILITAIRE_DOWNLOAD_DV'|trans }}
            </h4>
            <hr>
            <div class="row mb-2">
                <div class="col-lg-10 col-md-10 col-10 d-flex align-items-center">
                    <a href="/installeur/dossier-volumineux-windows.zip" target="_blank">
                        {{ 'UTILITAIRE_DOWNLOAD_DV_WINDOWS'|trans }}
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-2">
                    <a href="/installeur/dossier-volumineux-windows.zip" target="_blank">
                        <img src="/themes/images/java.gif" alt="{{ 'UTILITAIRE_DOWNLOAD_DV_WINDOWS'|trans }}">
                    </a>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-10 col-md-10 col-10 d-flex align-items-center">
                    <a href="/installeur/dossier-volumineux-mac.zip" target="_blank">
                        {{ 'UTILITAIRE_DOWNLOAD_DV_MAC'|trans }}
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-2">
                    <a href="/installeur/dossier-volumineux-mac.zip" target="_blank">
                        <img src="/themes/images/java.gif" alt="{{ 'UTILITAIRE_DOWNLOAD_DV_MAC'|trans }}">
                    </a>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-10 col-md-10 col-10 d-flex align-items-center">
                    <a href="/installeur/dossier-volumineux-linux.zip" target="_blank">
                        {{ 'UTILITAIRE_DOWNLOAD_DV_LINUX'|trans }}
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-2">
                    <a href="/installeur/dossier-volumineux-linux.zip" target="_blank">
                        <img src="/themes/images/java.gif" alt="{{ 'UTILITAIRE_DOWNLOAD_DV_LINUX'|trans }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="card">
        <div class="card-body">
        <h4>
            {{ 'OUTILS_BUREAUTIQUE'|trans }}
        </h4>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6 border-right">
                <div class="row mb-2">
                    <div class="col-lg-8 col-md-8 col-8 d-flex align-items-start">
                        <a href="http://www.7-zip.org/download.html" target="_blank">
                            {{ 'FILE_COMPRESSION_DECOMPRESSION_ZIP'|trans }}
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 d-flex align-items-center">
                        <a href="http://www.7-zip.org/download.html" target="_blank">
                            <img src="/themes/images/logo-7zip.png">
                        </a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-lg-8 col-md-8 col-8 d-flex align-items-start">
                        <a href="http://www.adobe.com/fr/" target="_blank">
                            {{ 'FILE_LECTURE_DOCUMENT_PDF'|trans }}
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 d-flex align-items-center">
                        <a href="http://www.adobe.com/fr/" target="_blank">
                            <img src="/themes/images/doc-pdf.gif">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-8 d-flex align-items-start">
                        <a href="http://www.pdfforge.org/products/pdfcreator/download" target="_blank">
                            {{ 'FILE_GENERATION_DOCUMENT_PDF'|trans }}
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 d-flex align-items-center">
                        <a href="http://www.pdfforge.org/products/pdfcreator/download" target="_blank">
                            <img src="/themes/images/doc-pdf.gif">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <div class="row mb-2">
                    <div class="col-lg-8 col-md-8 col-8 d-flex align-items-start">
                        <a href="http://fr.libreoffice.org/" target="_blank">
                            {{ 'SUITE_OPEN_OFFICE'|trans }}
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 d-flex align-items-center">
                        <a href="http://fr.libreoffice.org/" target="_blank">
                            <img src="/themes/images/logo-libre-office.png">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-8 d-flex align-items-start">
                        <a href="http://www.autodesk.com/designreview-download" target="_blank">
                            {{ 'TEXT_LECTURE_DOC_DWF'|trans }}
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4 d-flex align-items-center">
                        <a href="http://www.autodesk.com/designreview-download" target="_blank">
                            <img src="/themes/images/picto-dwf.gif">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
