<!--Debut footer-->
<footer class="footer footer-static footer-light navbar-shadow">
    <div class="footer__separatorContent">
        <p class="clearfix text-sm-center mb-0 px-2">
            <span class="float-md-center d-block d-md-inline-block">
                <a href="{{ path('ecrans_info_site', {'calledFrom': 'agent'}) }}">
                    {{ 'INFOSITE'|trans|raw }}
                </a>
                <a href="{{ path('ecrans_condition_generales_utilisation', {'calledFrom': 'agent'}) }}">
                    {{ 'CONDITION_UTILISATION'|trans|raw }}
                </a>
                <a href="{{ path('ecrans_prerequis_techniques', {'calledFrom': 'agent'}) }}">
                    {{ 'PREREQUIS_TECHNIQUE'|trans|raw }}
                </a>
                {% if visibleLink('INFO_RGS') == true %}
                    <a href="{{ path('ecrans_info_rgs', {'calledFrom': 'agent'}) }}">
                        {{ 'INFO_RGS'|trans|raw }}
                    </a>
                {% endif %}
                {% if visibleLink('INFO_RGAA') == true %}
                    <a href="{{ path('ecrans_accessibilite', {'calledFrom': 'agent'}) }}">
                        {{ 'INFO_RGAA'|trans|raw }}
                    </a>
                {% endif %}
                {% if visibleLink('ListeACRgs') == true %}
                    <a href="{{ path('ecrans_info_acrgs', {'calledFrom': 'agent'}) }}">
                        {{ 'LISTE_DES_CERTIFICATS_EUROPEEN'|trans|raw }}
                    </a>
                {% endif %}
                {% if visibleLink('NOS_PARTENAIRES') == true %}
                    <a href="{{ path('ecrans_nos_partenaires', {'calledFrom': 'agent'}) }}">
                        {{ 'NOS_PARTENAIRES'|trans|raw }}
                    </a>
                {% endif %}
                {% if atexo_menu.afficherFooterAgent() != 'false' %}
                    {% set version = atexo_menu.afficherFooterAgent() %}
                    {{ 'VERSION_NUMERO'|trans|raw }} {{ version }}
                {% endif %}
            </span>
        </p>
    </div>
    <script type="text/javascript" src="{{ asset('app/js/bootstrap.5.0.1.bundle.min.js') }}"></script>
</footer>
<!--Fin footer-->
