{%  if calledFromPrado is not defined %}
    {% set calledFromPrado = false %}
{% endif %}

{% if calledFromPrado %}
    {{ encore_entry_link_tags('layout-agent-prado', 'encore') }}
    <link rel="stylesheet" type="text/css" href="/themes/{{ design }}/css/styles.css?k={{ MEDIA_CACHE_KEY }}" media="all">
{% else %}
    {{ encore_entry_link_tags('modern-admin', 'encore') }}
{% endif %}

<link rel="stylesheet" type="text/css" href="/themes/{{ design }}/css/mpe-new-client.css?k={{ MEDIA_CACHE_KEY }}" media="all">

{{ encore_entry_link_tags('layout-agent-shared', 'encore') }}

{{ encore_entry_link_tags('layout-agent-fonts', 'encore') }}
