<script language="JavaScript" type="text/javascript" src="/themes/js/jquery.min.js?k={{ MEDIA_CACHE_KEY }}"></script>
<script language="JavaScript" type="text/javascript" src="/themes/js/bootboxjs.js?k={{ MEDIA_CACHE_KEY }}"></script>
<script language="JavaScript" type="text/javascript" src="/themes/js/jquery-compatibility.js?k={{ MEDIA_CACHE_KEY }}"></script>
<script language="JavaScript" type="text/javascript" src="/themes/js/upload/vendor/jquery.ui.widget.js?k={{ MEDIA_CACHE_KEY }}"></script>
<script language="JavaScript" type="text/javascript" src="/themes/js/upload/jquery.iframe-transport.js?k={{ MEDIA_CACHE_KEY }}"></script>
<script language="JavaScript" type="text/javascript" src="/themes/js/upload/jquery.fileupload.js?k={{ MEDIA_CACHE_KEY }}"></script>
