<div class="row">
    <div class="col-md-12 mb-md-0">
        <div class="card mb-1">
            <div class="card-content">
                {{ form_start(form, { 'attr': { 'id': 'forms-consulation-simplifiee'}}) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="controls">
                                <h5>
                                    <label>{{ form_label(form.keyWord) }}</label>
                                    <i
                                        class="ft-info"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="{{ 'TEXT_TEXT_RECHERCHE_MOT_CLE' | trans }}"
                                    >
                                    </i>
                                </h5>
                                {{ form_widget(form.keyWord) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>
                                <label>
                                    {{ form_label(form.referenceUtilisateur) }}
                                </label>
                            </h5>
                            {{ form_widget(form.referenceUtilisateur) }}
                        </div>
                    </div>

                    <div id="accordionWrap2" role="tablist" class="mt-2" aria-multiselectable="true">
                        <div class=" accordion">
                            <hr>
                            <div id="accordion21" role="tabpanel" data-parent="#accordionWrap2" aria-labelledby="heading21" class="collapse {% if displayCriteria %} show {% endif %}">
                                <div class="">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="controls">
                                                    <h5><label>{{ 'DEFINE_CATEGORIE_PRINCIPAL' | trans }}</label></h5>
                                                    {{ form_widget(form.categorie) }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="controls">
                                                    <h5>
                                                        <label>
                                                            {{ 'TEXT_TYPE_PROCEDURE' | trans }}
                                                        </label>
                                                    </h5>
                                                    <fieldset class="form-group">
                                                        <span class="arrow-down"></span>
                                                        {{ form_widget(form.typeProcedureOrganisme) }}
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="controls">
                                                    <h5>
                                                        <label>
                                                            {{ 'TEXT_TYPE_AVIS' | trans }}
                                                        </label>
                                                    </h5>
                                                    <fieldset class="form-group">
                                                        <span class="arrow-down"></span>
                                                        {{ form_widget(form.typeAvis) }}
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-b-2">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>
                                                            <label>
                                                                {{ 'DEFINE_DATE_LIMITE_REMIS_PLIS' | trans }}
                                                            </label>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">
                                                                    {{ 'TEXT_APRES_LE' | trans }}
                                                                </span>
                                                            </div>
                                                            {{ form_widget(form.dlroApres) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">
                                                                    {{ 'TEXT_AVANT_LE' | trans }}
                                                                </span>
                                                            </div>
                                                            {{ form_widget(form.dlroAvant) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>
                                                            <label>
                                                                {{ 'DEFINE_DATE_MISE_LIGNE' | trans }}
                                                            </label>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon1">
                                                                            {{ 'TEXT_APRES_LE' | trans }}
                                                                        </span>
                                                            </div>
                                                            {{ form_widget(form.miseEnLigneApres) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon1">
                                                                            {{ 'TEXT_AVANT_LE' | trans }}
                                                                        </span>
                                                            </div>
                                                            {{ form_widget(form.miseEnLigneAvant) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="controls">
                                                    <h5><label>{{ form_label(form.form_lieuxExecutionSelect) }}</label></h5>
                                                    <div class="row">
                                                        <div class="col-md-10 col-12 mb-2">
                                                            {{ form_widget(form.form_lieuxExecutionSelect) }}
                                                        </div>
                                                        <div class="col-2 form-group__selectLieuxBtnContainer">
                                                            <button type="button" class="btn btn-primary primary-client-bg-border" id="selectLieuxExecution">
                                                                {{ 'DEFINE_TEXT_EDITER' | trans }}
                                                            </button>
                                                        </div>
                                                        {{ form_widget(form.form_lieuxExecution) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 content-bloc">
                                                <div class="row">
                                                    <div id="multiTreeContainer" class="recherche-referentiel col-md-12">
                                                        <input id="typeSelectTreeView" type="hidden" value="arborescence">
                                                        <div id="cpv">
                                                            <multiselect
                                                                    v-model="selectedCpv"
                                                                    label="name"
                                                                    track-by="code"
                                                                    placeholder="{{ 'MOTS_CLES_OU_CODE_CPV'|trans }}"
                                                                    open-direction="bottom"
                                                                    :max="4"
                                                                    :options="listeCpv"
                                                                    :preserveSearch="true"
                                                                    :multiple="true"
                                                                    :searchable="true"
                                                                    :loading="isLoading"
                                                                    :internal-search="false"
                                                                    :clear-on-select="true"
                                                                    :close-on-select="true"
                                                                    :options-limit="300"
                                                                    :max-height="600"
                                                                    :show-no-results="true"
                                                                    :custom-label="customLabel"
                                                                    :hide-selected="false"
                                                                    :show-labels="false"
                                                                    @search-change="asyncFind"
                                                                    @select="onSelectOption"
                                                                    @remove="onRemoveOption"
                                                                    data-tnr="multiselectCPV">
                                                                <template slot="tag" slot-scope="slotProps"><span class="multiselect__tag"><span>{% verbatim %}{{ slotProps.option.code }} - {{ slotProps.option.label }}{% endverbatim %}</span><i @click="slotProps.remove(slotProps.option)" aria-hidden="true" tabindex="1" class="multiselect__tag-icon"></i></span></template>
                                                                <template slot="option" slot-scope="props"><span :style="props.option.style">{% verbatim %}{{ props.option.code }} - {{ props.option.label }}{% endverbatim %}</span></template>
                                                                <template slot="clear" slot-scope="props">
                                                                    <div class="multiselect__clear" v-if="selectedCpv.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
                                                                </template>
                                                                <span slot="noResult" ><span v-if="!isCategorySelected">{{ 'ERROR_CATEGORY_NOT_SELECT'|trans }}</span><span v-else>{{ 'ERROR_INVALID_REQUEST'|trans }}{% verbatim %}{{ searchquery }}{% endverbatim %}</span></span>
                                                            </multiselect>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="mt-2">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 content-bloc mt-2">
                                                <div class="row mb-1">
                                                    <div class="col-4 col-md-4 col-lg-4">
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'CLAUSES_SOCIALES' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.clauseSociale) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-md-4 col-lg-4">
                                                        <span class="mentionMarcheReserve">
                                                            {{ 'DEFINE_TEXT_MARCHE_RESERVE' | trans }} :
                                                        </span>
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'ESAT_EA' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.clauseSocialeAteliersProteges) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-md-4 col-lg-4">
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'SIAE' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.clauseSocialeSiae) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3 col-md-3 col-lg-3">
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'EESS' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.clauseSocialeEss) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-md-3 col-lg-3">
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'CLAUSES_COMMERCE_EQUITABLE' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.socialeCommerceEquitable) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-md-3 col-lg-3">
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'CLAUSES_INSERTION_ACTIVITER_ECONOMIQUE' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.socialeInsertionActiviterEconomique) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-md-3 col-lg-3">
                                                        <div class="controls">
                                                            <h5>
                                                                <label>
                                                                    {{ 'CLAUSES_ENVIRONNEMENTALES' | trans }}
                                                                </label>
                                                            </h5>
                                                            <fieldset class="form-group">
                                                                {{ form_widget(form.clauseEnvironnementale) }}
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <a id="heading21" class="primary-client" data-toggle="collapse" href="#accordion21" aria-expanded="true" aria-controls="accordion21">
                                <span class="showPlusCriterias" style="{% if displayCriteria %}display:none;{% endif %}">
                                    <i class="ft-plus"></i> {{ 'TEXT_AFFICHER_PLUS_CRITERES_RECHERCHE' | trans }}
                                </span>
                                <span class="showMinusCriterias" style="{% if displayCriteria %}display:block;{% else %}display:none;{% endif %}">
                                    <i class="ft-minus"></i> {{ 'TEXT_AFFICHER_MOINS_CRITERES_RECHERCHE' | trans }}
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="float-md-right">
                                {{ form_widget(form.search, { 'attr': {'class': 'btn btn-primary primary-client-bg-border'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
