<div class="row">
    <div class="col-md-12 mb-md-0">
        <div class="card mb-1">
            <div class="card-content">
                <form action="{{ path('entreprise_consultation_search_index_restreinte') }}" method="get">
                    <label for="reference">Reference:</label>
                    <input type="text" id="reference" name="reference"/>

                    <label for="code">Code:</label>
                    <input type="text" id="code" name="code"/>
                    <button type="submit">Rechercher</button>
                </form>
            </div>
        </div>
    </div>
</div>
