{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('modern-admin-entreprise', 'encore') }}
    <link rel="stylesheet" type="text/css" href="/themes/lib/select2/select2.min.css" >
    <link rel="stylesheet" href="/themes/css/vue-multiselect.min.css">
    {{ encore_entry_link_tags('recherche-avancee-consultation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modern-admin') }}
    {{ encore_entry_script_tags('recherche-avancee-consultation') }}
    <script src="/themes/js/vue-multiselect.min.js"></script>
    {{ encore_entry_script_tags('entreprise-search-multiselect-cpv') }}
{% endblock %}

{# This block is setting the flash message handling empty from the layout to use a customed one for Dashboard #}
{% block flashMessageBlock %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-12 col-12 mb-2">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/entreprise">
                                {{ 'TEXT_MESSAGERIE_ACCUEIL'|trans }}
                            </a>
                        </li>
                        <li>
                            {{ 'RECHERCHE_AVANCE_CONS'|trans }}
                        </li>
                    </ul>
                </div>
            </div>

            <div id="consultation-recherche-flashbag">
                <div class="row">
                    <div class="col-md-12 mb-md-0">
                        {# Success #}
                        {% for message in app.flashes('success') %}
                            <div class="alert bg-success alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                                <span class="alert-icon"><i class="la la-check"></i></span>
                                {{ message | raw }}
                            </div>
                        {% endfor %}

                        {# Warning #}
                        {% set warningMessages = app.flashes('warning') %}
                        {% if warningMessages %}
                            <div class="alert bg-warning alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                                <span class="alert-icon"><i class="la la-exclamation"></i></span>
                                {% for message in warningMessages %}
                                    {{ message | raw }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {# Error #}
                        {% set errorMessages = app.flashes('error') %}
                        {% for message in errorMessages %}
                            <div class="alert bg-danger alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                                <span class="alert-icon"><i class="la la-exclamation"></i></span>
                                {{ message | raw }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- account setting page start -->
            <section id="page-account-settings">
                {{ include('consultation/Entreprise/search/form.html.twig') }}
                {% if consultations is empty and searchLaunched %}
                    <div class="row" id="no-result-message">
                        <div class="col-md-12 col-12 mb-2">
                            <div class="alert bg-warning alert-dismissible mb-2 text-center pt-2 pb-2" role="alert">
                                {{ 'DEFINE_NO_RESULTS' | trans }}
                            </div>
                        </div>
                    </div>
                {% elseif consultations is not empty %}
                    <div class="row mt-2">
                        <div class="col-md-3 mb-2 mb-md-0">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="p-2 text-center bg-primary primary-client-bg rounded-left">
                                            <i class="ft-search font-large-2 text-white"></i>
                                        </div>
                                        <div class="py-1 px-2 media-body">
                                            <div class="row">
                                                <div class="col-md-10 mb-2 mb-md-0">
                                                    <h3 class="primary primary-client">
                                                        {{ paginator.total|thousand_separator }}
                                                    </h3>
                                                    <span>
                                                        {{ 'RESULTATS_DE_RECHERCHE' | trans }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 mb-2 mb-md-0">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="py-1 px-2 media-body">
                                            <div class="row">
                                                <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                                <li class="mr-1">
                                                                    {{ 'RESULTATS_PAR_PAGE' | trans }} :
                                                                </li>
                                                                <li class="page-item {% if not paginator.itemsPerPage20isActive %}active{% endif %}">
                                                                    <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage10 }}">
                                                                        10
                                                                    </a>
                                                                </li>
                                                                <li class="page-item {% if paginator.itemsPerPage20isActive %}active{% endif %}">
                                                                    <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage20 }}">
                                                                        20
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                    <div class="detailsFilter">
                                                        <ul class="nav nav-pills justify-content-center">
                                                            <li class="nav-item">
                                                                <a class="nav-link primary-client-bg active hideDetails">
                                                                    {{ 'VUE_LISTE' | trans }}
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link primary-client-bg showDetails">
                                                                    {{ 'VUE_DETAILLEE' | trans }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                                <li class="page-item">
                                                                    {% if paginator.previous is defined %}
                                                                        <a class="page-link" href="{{ paginator.previous }}" aria-label="{{ 'DEFINE_PRECEDENT' | trans }}">
                                                                            <span aria-hidden="true">«</span>
                                                                            <span class="sr-only">{{ 'DEFINE_PRECEDENT' | trans }}</span>
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                                <li class="page-item">{{ 'PAGE' | trans }} </li>
                                                                <li class="page-item ml-1 mr-1"><input type="text" style="width:50px;" class="form-control input-sm" value="{{ paginator.current }}" data-link="{{ paginator.goto }}" data-last-page="{{ paginator.last }}"></li>
                                                                <li class="page-item active">{{ 'TEXT_SUR' | trans }} {{ paginator.last }}</li>
                                                                <li class="page-item">
                                                                    {% if paginator.next is defined %}
                                                                        <a class="page-link" href="{{ paginator.next }}" aria-label="{{ 'DEFINE_SUIVANT' | trans }}">
                                                                            <span aria-hidden="true">»</span>
                                                                            <span class="sr-only">{{ 'DEFINE_SUIVANT' | trans }}</span>
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- right content section -->
                        <div class="col-md-9" style="max-width: 100%">

                            {% for consultation in consultations %}
                                <div class="card border-left-primary border-left-3">
                                    <div class="card-content">
                                        <div class="card-body consultation-block">
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <h5>
                                                                {% set logo = atexo_menu.getUrlLogoOrganisme(consultation.organisme) %}
                                                                {% if logo != false %}
                                                                    <img src="{{ logo }}">
                                                                {% endif %}
                                                                <span style="font-weight: 600;">
                                                                    {{ consultation.referenceUtilisateur }} | {{ consultation.intitule }}
                                                                </span>
                                                            </h5>
                                                            <a id="heading21" class="primary-client details-info" data-toggle="collapse" href="#detailConsultationResultat_{{ loop.index }}" aria-expanded="true" aria-controls="accordion21">
                                                                <span class="collapsedDetails">
                                                                    <i class="ft-minus"></i> {{ 'TEXT_MOINS_INFORMATION' | trans }}
                                                                </span>
                                                                        <span class="hiddenDetails">
                                                                    <i class="ft-plus"></i> {{ 'TEXT_PLUS_INFORMATION' | trans }}
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="float-md-right font-weight-bold font-medium-5" data-toggle="tooltip" data-placement="left" title="{{ 'DEFINE_DATE_LIMITE_AR' | trans }}" data-original-title="{{ 'DEFINE_DATE_LIMITE_AR' | trans }}">
                                                                        <i class="ft-calendar"></i>
                                                                        {% if (consultation.datefin | date("Y")) < 1000 %}
                                                                            -
                                                                        {% else %}
                                                                            {{ consultation.datefin | date("d/m/Y H:i") }}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row detailConsultationResultat collapse" id="detailConsultationResultat_{{ loop.index }}">
                                                        <div class="col-md-12">
                                                            <div>
                                                                <h6>
                                                                    <strong>{{ 'OBJET'|trans }} :</strong> {{ consultation.objet }}
                                                                </h6>
                                                            </div>
                                                            {% if consultation.champSuppInvisible %}
                                                                <div>
                                                                    <h6>
                                                                        <strong>{{ 'DEFINE_COMMENTAIRE'|trans }} :</strong> {{ consultation.champSuppInvisible }}
                                                                    </h6>
                                                                </div>
                                                            {% endif %}
                                                            <div>
                                                                {% if consultation.referenceConsultationParent is not null
                                                                    and consultation.referenceConsultationParent.id is not empty
                                                                    and consultation.referenceConsultationParent.id != 0
                                                                %}
                                                                    <h6>
                                                                        <strong>{{ 'DEFINE_PROCEDURE_AMONT' | trans }} :</strong> <a href="?id={{ consultation.referenceConsultationParent.id }}">{{ consultation.referenceConsultationParent.referenceUtilisateur }}</a>
                                                                    </h6>
                                                                {% endif %}
                                                                {% if consultation.referenceConsultationsChildren is not empty %}
                                                                    <h6>
                                                                        <strong>{{ 'DEFINE_PROCEDURE_AVAL' | trans }} :</strong>
                                                                        {% for consultationAval in consultation.referenceConsultationsChildren %}
                                                                            {% if loop.index0 > 0 %}
                                                                                ,
                                                                            {% endif %}
                                                                            <a href="?id={{ consultationAval.id }}">{{ consultationAval.referenceUtilisateur }}</a>
                                                                        {% endfor %}
                                                                    </h6>
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <h6>
                                                                    <i class="ft-tag"></i>{% if consultation.typeProcedureOrg is not null %} {{ consultation.typeProcedureOrg.libelleTypeProcedure }} {% endif%} |
                                                                    {% if consultation.categorieConsultation.id == 1 %}
                                                                        <i class="la la-wrench"></i>
                                                                    {% elseif consultation.categorieConsultation.id == 2 %}
                                                                        <i class="ft-shopping-cart"></i>
                                                                    {% elseif consultation.categorieConsultation.id == 3 %}
                                                                        <i class="ft-briefcase"></i>
                                                                    {% endif %}
                                                                    {{ consultation.categorieConsultation.libelle }} |
                                                                    <i class="ft-grid"></i> {% if consultation.alloti == 1 %} {{ 'TEXT_ALLOTIE' | trans }} {% else %} {{ 'TEXT_NON_ALLOTIE_MAJ' | trans }} {% endif %} |
                                                                    {% if is_module_enabled('BourseCotraitance', null) and consultation.consultationExterne == '0'%}
                                                                        <img src="/themes/images/{{ get_bourse_picto(consultation) }}" data-placement="top" data-toggle="modal" data-target="#modalBourseCo{{ consultation.id }}">
                                                                        <div class="modal fade" id="modalBourseCo{{ consultation.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-body">
                                                                                        {% if bourse_cotraitance.gererActionBourseCotraitance(consultation) == 'nouveau' %}
                                                                                            <p>{{ 'TEXT_AUCUN_CANDIDAT_INSCRIT' | trans }}</p>
                                                                                            <a href="?page=Entreprise.EntrepriseInscriptionBourseCotraitance&id={{ consultation.id }}&orgAcronyme={{ consultation.organisme }}&inscription"
                                                                                                class="btn btn-primary"
                                                                                            >
                                                                                                <i class="fa fa-user-plus"></i>{{ 'DEFINE_SINSCRIRE' | trans }}
                                                                                            </a>
                                                                                        {% endif %}
                                                                                        {% if bourse_cotraitance.gererActionBourseCotraitance(consultation) == 'inscrit' %}
                                                                                            <a href="?page=Entreprise.EntrepriseRechercheBourseCotraitance&id={{ consultation.id }}&orgAcronyme={{ consultation.organisme }}&GME"
                                                                                               class="btn btn-primary"
                                                                                            >
                                                                                                <i class="fa fa-search-plus"></i>{{ 'DEFINE_DETAILS' | trans }}
                                                                                            </a>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if consultation.dumeDemande == 1 %}
                                                                        <img src="/themes/images/logo-dume.png" data-toggle="tooltip" data-placement="top" title="{{ 'CANDIDATURE_DUME' | trans }}" data-original-title="{{ 'CANDIDATURE_DUME' | trans }}">
                                                                    {% endif %}
                                                                    {% if consultation.clauseSociale == 1 %}
                                                                        <img src="/themes/images/picto-clause-sociale.gif" data-toggle="tooltip" data-placement="top" title="{{ 'CONSIDERATIONS_SOCIALES' | trans }}" data-original-title="{{ 'CONSIDERATIONS_SOCIALES' | trans }}">
                                                                    {% endif %}
                                                                    {% if consultation.clauseEnvironnementale == 1 %}
                                                                        <img src="/themes/images/picto-clause-environnementale.gif" data-toggle="tooltip" data-placement="top" title="{{ 'CONSIDERATIONS_ENVIRONNEMENTALES' | trans }}" data-original-title="{{ 'CONSIDERATIONS_ENVIRONNEMENTALES' | trans }}">
                                                                    {% endif %}
                                                                    {% if consultation_tags_service.getTagByConsultationId(consultation.id, 'typageJo') is not null %}
                                                                        | <img src="/app/img/logo-jo2024.png" title="{{ 'TYPAGE_JO_2024' | trans }}" alt="{{ 'TYPAGE_JO_2024' | trans }}" style="width: 1.8em">
                                                                    {% endif %}
                                                                </h6>
                                                            </div>
                                                            <div>
                                                                <h6><i class="fa fa-map-marker-alt"></i>{{ intituleLieuxExecution(consultation.lieuExecution) }}</h6>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div>
                                                                <div class="float-md-right">
                                                                    {% set menuItem = knp_menu_get('entreprise_buttons', [], {'consultation': consultation}) %}
                                                                    {{ knp_menu_render(menuItem, {'template': 'consultation/Entreprise/search/knp/button-menu.html.twig'}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="card">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="py-1 px-2 media-body">
                                            <div class="row">
                                                <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                                <li class="mr-1">{{ 'RESULTATS_PAR_PAGE' | trans }} : </li>
                                                                <li class="page-item {% if not paginator.itemsPerPage20isActive %}active {% endif %}">
                                                                    <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage10 }}">10</a>
                                                                </li>
                                                                <li class="page-item {% if paginator.itemsPerPage20isActive %} active {% endif %}">
                                                                    <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage20 }}">20</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                    <div class="detailsFilter">
                                                        <ul class="nav nav-pills justify-content-center">
                                                            <li class="nav-item">
                                                                <a class="nav-link primary-client-bg active hideDetails">
                                                                    {{ 'VUE_LISTE' | trans }}
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link primary-client-bg showDetails">
                                                                    {{ 'VUE_DETAILLEE' | trans }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <nav aria-label="Page navigation">
                                                            <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                                <li class="page-item">
                                                                    {% if paginator.previous is defined %}
                                                                        <a class="page-link" href="{{ paginator.previous }}" aria-label="{{ 'DEFINE_PRECEDENT' | trans }}">
                                                                            <span aria-hidden="true">«</span>
                                                                            <span class="sr-only">{{ 'DEFINE_PRECEDENT' | trans }}</span>
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                                <li class="page-item page-item--txt">Page </li>
                                                                <li class="page-item ml-1 mr-1"><input type="text" style="width:50px;" class="form-control input-sm" value="{{ paginator.current }}" data-link="{{ paginator.goto }}" data-last-page="{{ paginator.last }}"></li>
                                                                <li class="page-item page-item--txt active">{{ 'TEXT_SUR' | trans }} {{ paginator.last }}</li>
                                                                <li class="page-item">
                                                                    {% if paginator.next is defined %}
                                                                        <a class="page-link" href="{{ paginator.next }}" aria-label="{{ 'DEFINE_SUIVANT' | trans }}">
                                                                            <span aria-hidden="true">»</span>
                                                                            <span class="sr-only">{{ 'DEFINE_SUIVANT' | trans }}</span>
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </section>
            <!-- account setting page end -->
        </div>
    </div>
{% endblock %}
