<?xml version="1.0" encoding="UTF-8" ?>
<mpe xmlns="http://www.atexo.com/epm/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.atexo.com/epm/xml ATEXO%20-%20LOCAL%20TRUST%20MPE%20-%20WebServices.xsd">
    <reponse statutReponse="KO">
        <messageErreur>{{ error | raw }}</messageErreur>
    </reponse>
</mpe>