<?xml version="1.0" encoding="UTF-8"?>
<mpe xmlns="http://www.atexo.com/epm/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.atexo.com/epm/xml ATEXO%20-%20LOCAL%20TRUST%20MPE%20-%20WebServices.xsd">
<reponse>
    <referentiels>
        <procedures>
{% for procedure in procedures %}
                <procedure>
                    <codeExterne>{{ procedure.getIdExterne() }}</codeExterne>
                    <libelle><![CDATA[{{ procedure.getLibelleTypeProcedure() | raw }}]]></libelle>
                    <abreviation>{{ procedure.getAbbreviation() }}</abreviation>
                     <associationOrganisme>
{% for codeOrg in procedure.getOrganismes() %}
                            <codeOrganisme>{{ codeOrg.organisme }}</codeOrganisme>
{% endfor %}
                    </associationOrganisme>
                </procedure>
{% endfor %}
        </procedures>
        <contrats>
{% for contrat in contrats %}
                <contrat>
                    <codeExterne>{{ contrat.getIdExterne() }}</codeExterne>
                    <libelle><![CDATA[{{ contrat.getLibelleTypeContrat() | raw }}]]></libelle>
                    <abreviation>{{ contrat.getAbreviationTypeContrat() }}</abreviation>
                    <associationProcedures>
{% for codeProcedure in contrat.getProcedureCodes() %}
                            <associationProcedure>
                                <codeOrganisme>{{ codeProcedure.organisme }}</codeOrganisme>
                                <codeExterneProcedure>{{ codeProcedure.id_externe }}</codeExterneProcedure>
                            </associationProcedure>
{% endfor %}
                    </associationProcedures>
                </contrat>
{% endfor %}
        </contrats>
    </referentiels>
</reponse>
</mpe>