<ng-container *ngIf="!email.emailEntreprise">
  <td class="h-60">
    <div (click)="toggleFavori()" [ngClass]="email.favori?'on':''" class="fa star" role="button"><i
      class="fa fa-star"></i></div>
    <hr/>
    <div class="events">
      <div *ngIf="email.message.typeMessage==='TypeMessage4'" class="fas fa-vote-yea" placement="right"
           tooltip="Modalité d'envoi : courrier avec accusé de réception">
      </div>
      <div *ngIf="email.message.typeMessage==='TypeMessage1'" class="fas fa-comment-slash" placement="right"
           tooltip="Courrier sans accusé de réception, ni réponse attendue du destinataire">
      </div>
      <div *ngIf="email.message.reponseAttendue" class="fab fa-replyd fa-md" placement="right"
           tooltip="Modalité de réponse : une réponse du destinataire est attendue">
      </div>
      <div *ngIf="email.message.dateLimiteReponseAttendue" class="fa fa-clock-o" placement="right"
           tooltip="Date limite de réponse : {{email.message.dateLimiteReponseAsDate | date:'dd/MM/yyyy - HH:mm'}}">
      </div>
      <div *ngIf="email.message.reponseBloque" class="fa fa-lock" placement="right"
           tooltip="L'accès par les agents au contenu de la réponse du destinataire est bloqué jusqu'au : {{email.message.dateLimiteReponseAsDate | date:'dd/MM/yyyy - HH:mm'}}">
      </div>
    </div>
  </td>
  <td><span [ngClass]="getStatus(email).cssClass"
            class="badge mb-2 w-100 p-2">{{ getStatus(email).code | surchargeLibelle:getStatus(email).label }}</span>
    <ul class="list-time">
      <li>
                <span [ngClass]="email?.enAttenteEnvoi?'draft':''" class="tag">
                <span
                  tooltip="{{'statut.envoi.titre'|surchargeLibelle:'Envoi'}}">{{'statut.en-cours-envoi.code'|surchargeLibelle:'E'}}</span>
                  </span>
        <time>{{ email.dateDemandeEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email?.delivre"><span
        [ngClass]="email?.delivre && email?.reponse == null && (!email?.lu)?'send':''"
        class="tag"><span
        tooltip="{{'statut.delivre.titre'|surchargeLibelle:'Délivré'}}">{{'statut.delivre.code'|surchargeLibelle:'D'}}</span></span>
        <time>{{ email.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email?.echecEnvoi">
        <span class="tag undelivered"><span
          tooltip="{{'statut.non-delivre.titre'|surchargeLibelle:'Non Délivré'}}">{{'statut.non-delivre.code'|surchargeLibelle:'ND'}}</span></span>
        <time>{{'statut.non-delivre.titre'|surchargeLibelle:'Non Délivré'}}</time>
      </li>
      <li *ngIf="email?.traite">
        <span class="tag undelivered"><span
          tooltip="{{'statut.traite.titre'|surchargeLibelle:'Traité dans un autre envoi'}}">{{'statut.traite.code'|surchargeLibelle:'TE'}}</span></span>
        <time>{{'statut.traite.titre'|surchargeLibelle:'Traité dans un autre envoi'}}</time>
      </li>
      <li *ngIf="email?.lu">
                <span [ngClass]="email.reponse !=null?'':'readed'" class="tag"><span
                  tooltip="{{'statut.lu-destinataire.titre'|surchargeLibelle:'Lu par le destinataire'}}">{{'statut.lu-destinataire.code'|surchargeLibelle:'L'}}
                  </span></span>
        <time>{{ email.dateARAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email.message.reponseAttendue && email?.reponse != null"><span
        [ngClass]="email.reponseExpiree?'undelivered':'response-available'" class="tag"><span
        tooltip="{{'statut.reponse-destinataire.titre'|surchargeLibelle:'Réponse du destinataire'}}">{{'statut.reponse-destinataire.code'|surchargeLibelle:'R'}}</span></span>
        <time>{{ email.reponse.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
    </ul>
  </td>
  <td>
    <div *ngIf="visionTransverse" class="cartouche-transverse w-100 d-flex">
      <div class="child-transverse reference-transverse">{{ getObjetMetier(email)?.reference }}</div>
      <div class="child-transverse m-r-4">{{ getObjetMetier(email)?.objet }}</div>
      <div class="child-transverse ml-auto p-2"><a [href]="getObjetMetier(email)?.urlSuivi"><i
        class="fas fa-external-link-alt mr-1"></i>Suivi des courriers de cette consultation</a></div>
    </div>
    <div>
            <span class="badge badge-info badge-pill"><em
              class="fas fa-tag m-r-1"></em>{{email?.template?.objet}}</span>
      <strong class="txt-blue m-l-1">{{email.message.objet}}</strong>
      <div class="mt-2">
        <div class="float-left m-r-2 recipient"><em class="fas fa-address-card"></em><span
          class="m-l-1">{{email | emailLabel}}</span></div>
        <ul class="message mt-2">
          <li class="truncate">{{email.message.contenu | newlineToBreakline | stripHtml}}</li>
          <li
            *ngIf="email.reponse  && !email.reponseMasquee"
            class="reponse truncate"><span *ngIf="email?.toutesLesReponses?.length > 1">
                    <span
                      class="txt-nb-reponses">{{ email?.toutesLesReponses?.length }}
                      réponses</span> | </span>{{email.reponse.message.contenu | newlineToBreakline | stripHtml}}
          </li>
          <li *ngIf="email.reponse && email.reponseMasquee" class="reponse truncate"><i>Le contenu de la réponse
            sera accessible après le {{email.message.dateLimiteReponseAsDate | date:'dd/MM/yyyy - HH:mm'}}</i>
          </li>

        </ul>
      </div>
    </div>
  </td>
  <td class="h-100 align-items-center">
    <div class="h-100 p-2 d-flex" style="flex-direction: column">
      <button (click)="showDetails()" class="btn  btn-md btn-primary" title="Visualiser le courrier" type="button"><em
        class="fa fa-search"></em></button>
    <button (click)="relancer()"
            *ngIf="email?.echecEnvoi || (email?.delivre && (!email.lu && email.reponse == null ))"
            class="btn  btn-md btn-primary mt-2" title="Relancer le courrier" type="button"><em
      class="fas fa-redo"></em></button>
    <button (click)="supprimerEmail()"
            *ngIf="email?.echecEnvoi"
            class="btn  btn-md btn-danger mt-2" title="Supprimer un courrier" type="button"><em
      class="fa fa-trash"></em></button>
    <button (click)="changerStatutTraite()"
            *ngIf="email?.echecEnvoi || email?.traite"
            class="btn  btn-md btn-primary mt-2" title="Modifier le statut" type="button"><em
      class="fa fa-exchange-alt"></em></button>
    </div>
  </td>
</ng-container>
<ng-container *ngIf="email.emailEntreprise">
  <td class="h-60">
    <div (click)="toggleFavori()" [ngClass]="email.favori?'on':''" class="fa star" role="button"><i
      class="fa fa-star"></i></div>
    <hr>
  </td>
  <td><span [ngClass]="getStatusEntreprise(email).cssClass"
            class="badge mb-2 w-100 p-2">{{ getStatusEntreprise(email).label }}</span>
    <ul class="list-time">
      <li *ngIf="email?.delivre"><span
        [ngClass]="email?.delivre && email?.reponse == null ?'send':''"
        class="tag"><span tooltip="{{'statut.envoye.titre'|surchargeLibelle:'Envoyé'}}">{{'statut.envoye.code'|surchargeLibelle:'E'}}</span></span>
        <time>{{ email.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email.message.reponseAttendue && email?.reponse != null"><span
        [ngClass]="email?.reponse?.lu ? '': 'response-available'" class="tag"><span
        tooltip="{{'statut.reponse-destinataire.titre'|surchargeLibelle:'Réponse du destinataire'}}">{{'statut.reponse-destinataire.code'|surchargeLibelle:'R'}}</span></span>
        <time>{{ email.reponse.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email.message.reponseAttendue && email?.reponse != null && email?.reponse?.lu"><span
        [ngClass]="'response-available'" class="tag"><span
        tooltip="{{'statut.reponse-destinataire-lu.titre'|surchargeLibelle:'Réponse du destinataire'}}">{{'statut.reponse-destinataire-lu.code'|surchargeLibelle:'LR'}}</span></span>
        <time>{{ email.reponse.dateARAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
    </ul>
  </td>
  <td>
    <div *ngIf="visionTransverse" class="cartouche-transverse w-100 d-flex">
      <div class="child-transverse reference-transverse">{{ getObjetMetier(email)?.reference }}</div>
      <div class="child-transverse">{{ getObjetMetier(email)?.objet }}</div>
      <div class="child-transverse mr-1 ml-auto p-2"><a [href]="getObjetMetier(email)?.urlSuivi"><i
        class="fas fa-external-link-alt"></i>Suivi des courriers de cette consultation</a></div>
    </div>
    <div>
            <span class="badge badge-info badge-pill"><em
              class="fas fa-tag m-r-1"></em>{{email?.template?.objet}}</span>
      <strong class="txt-blue m-l-1">{{email.message.objet}}</strong>
      <div class="mt-2">
        <div class="float-left m-r-2 recipient"><em class="fas fa-address-card"></em><span
          class="m-l-1">{{ email?.message?.emailExpediteur }}</span></div>
        <ul class="message mt-2">
          <li class="truncate">{{email.message.contenu | newlineToBreakline | stripHtml}}</li>
          <li
            *ngIf="email.reponse  && !email.reponseMasquee"
            class="reponse truncate"><span *ngIf="email?.toutesLesReponses?.length > 1">
                    <span
                      class="txt-nb-reponses">{{ email?.toutesLesReponses?.length }}
                      réponses</span> | </span>{{email.reponse.message.contenu | newlineToBreakline | stripHtml}}
          </li>
          <li *ngIf="email.reponse && email.reponseMasquee" class="reponse truncate"><i>Le contenu de la réponse
            sera accessible après le {{email.message.dateLimiteReponseAsDate | date:'dd/MM/yyyy - HH:mm'}}</i>
          </li>

        </ul>
      </div>
    </div>
  </td>
  <td class="text-center">
    <button (click)="showDetails()" class="btn  btn-md btn-primary"
            data-target="#detailMessage" data-toggle="modal" title="Visualiser le courrier" type="button"><i
      class="fa fa-search"></i></button>
  </td>
</ng-container>
