<div class="connected-steps">
  <div class="timeline-circle primary-client-bg">
  </div>
  <div class="connector"></div>
  <ng-container *ngFor="let event of events">
    <div class="d-flex timeline-item" [title]="event.date | date:'dd/MM/yyyy HH:mm'">
      <div class="timeline-item-text">{{event.title | translate }}</div>
      <div class="timeline-item-badge badge {{event.badge}}">
        <i class="{{event.icon}} font-medium-2"></i> <span>{{event.date | date:'dd/MM/yyyy'}}</span>
      </div>
    </div>
    <div class="connector"></div>
  </ng-container>
  <i class="la la-chevron-circle-right font-large-1 primary-client"></i>
</div>
