.connected-steps {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step {
    color: white;
    background-color: #dedede;
    display: block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.selected-step {
    color: white;
    background-color: #666ee8;
    display: block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.connector {
    flex-grow: 1;
    width: 10px;
    content: "";
    display: block;
    height: 1px;
    background-color: #dedede;
}

.timeline-item {
    flex-direction: column;
    margin-top: -20px
}

.timeline-item-text {
    text-align: center;
    font-weight: bold;
    font-size: smaller;
}

.timeline-item-badge {
    width: fit-content;
    margin: auto;
}

.timeline-circle {
    border-radius: 50%;
    background: #6286b6;
    width: 25px;
    height: 25px;
}
