<template>
  <v-app>
    <v-navigation-drawer permanent>
      <sub-menu-component title="Serveur Admin"
                          description="ATEXO"
                          :items="itemsTop"/>
      <sub-menu-component v-if="isLoggedIn" title="Outils fonctionnels"
                          description="Applications et outils fonctionnels d'administration"
                          :items="itemsApplication"/>
      <sub-menu-component v-if="isLoggedIn" title="Outils techniques"
                          description="Applications et outils techniques d'administration"
                          :items="itemsExternApplication"/>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
<script>
import SubMenuComponent from "./components/SubMenuComponent.vue";

export default {
  name: "App",
  components: {
    SubMenuComponent
  },
  data: () => {
    return {
      itemsApplication: [
        {
          title: 'Simulateur MPE',
          icon: 'double_arrow',
          router: 'simulateur'
        }, {
          title: 'Envoie Kafka',
          icon: 'double_arrow',
          router: 'kafka-sender'
        }
      ],
      itemsExternApplication: [
        {
          title: 'Swagger',
          icon: 'fingerprint',
          router: 'swagger'
        },
        {
          title: 'JavaMelody',
          icon: 'trending_up',
          router: 'javamelody',

        },
        {
          title: 'Sonar',
          icon: 'bar_chart',
          router: 'https://sonar.local-trust.com/',
          newTab: true
        },
        {
          title: 'Liste des logs',
          icon: 'list',
          router: 'logs',

        }
      ],
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.auth.token;
    },
    itemsTop() {
      if (this.isLoggedIn) {
        return [{title: 'Dashboard', icon: 'home', router: 'dashboard'},
          {title: 'Se deconnecter', icon: 'logout', router: 'login'}];
      } else {
        return [{title: 'Se connecter', icon: 'login', router: 'login'}];
      }
    }
  },
  created() {
    this.$store.dispatch('auth/whoami', this.user).then(() => {
      if (this.$route.name === 'login')
        setTimeout(() => {
          this.$router.push(this.$route.query.redirectUrl ? this.$route.query.redirectUrl : '/')
        }, 200)
    }, () => this.$router.push('/login'))
  }

};
</script>
<style scoped>
@import "assets/css/atx-app.css";
@import "assets/css/styles.css";
</style>
