<form method="post" action="{{ path('superadmin_configsclients_delete', {'id': configClient.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ configClient.parameter) }}">

    <a href="{{ path('superadmin_configsclients_index') }}" class="btn btn-dark">Retour</a>
    <button class="btn btn-danger">Supprimer</button>
</form>
