
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Interface ADMIN - {% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}"
          type="text/css"/>
    <script type="text/javascript"
            src="{{ asset('consultation_depot/assets/js/jquery.min-1.9.1.js') }}"></script>

    <style type="text/css">
        .pagination {
            display: inline-block;
        }

        .pagination span {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        .pagination a {
            color: black;
        }

        .pagination span.current {
            background-color: dodgerblue;
            color: white;
            border-radius: 5px;
        }

        .pagination span:hover:not(.current) {
            background-color: #ddd;
            border-radius: 5px;
        }
    </style>
    {% block body_javascript %}


    {% endblock %}
</head>
<body class="bootstrap">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Administration MPE</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item {% if app.request.attributes.get('_route') == 'superadmin_configsclients_index' %}active{% endif %}">
                <a
                        href="{{ path('superadmin_configsclients_index') }}">Configuration paramètre
                    client</a></li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'superadmin_traduction_index' %}active{% endif %}">
                <a
                        href="{{ path('superadmin_traduction_index') }}">Configuration message et
                    traduction</a></li>
        </ul>


        {% if app.request.attributes.get('_route') == 'superadmin_configsclients_index' or  app.request.attributes.get('_route') == 'superadmin_traduction_index' %}
            <form class="navbar-form" role="search" method="POST">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Recherche..." name="term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}

    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>

</body>
</html>