{% extends 'administration.html.twig' %}
{% block title %}Modifier Configuration {% endblock %}

{% block body %}
    <h1>Modifier configuration</h1>

    {{ include('superadmin/configclient/_form.html.twig') }}

    {{ include('superadmin/configclient/_delete_form.html.twig') }}
{% endblock %}
