{% extends 'administration.html.twig' %}


{% block body %}
    {% if configsclients is empty %}
        <h4>Aucune configuration client.</h4>
    {% else %}
        <table class="table configClient">
            <thead>
            <tr>
                <th>id</th>
                <th>Parameter</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for configclient in configsclients %}
                <tr>
                    <td>{{ configclient.id }}</td>
                    <td>{{ configclient.parameter }}</td>
                    <td>{{ configclient.value }}</td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ path('superadmin_configsclients_edit', { 'id':  configclient.id }) }}"
                           role="button">
                            Modifier
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="justify-content-center">{{ knp_pagination_render(configsclients) }}</div>
        <a class="btn btn-primary pull" href="{{ path('superadmin_configsclients_new') }}" role="button">
            Ajouter
        </a>
        <div class="clearfix"></div>
    {% endif %}
{% endblock %}
