{% extends 'administration.html.twig' %}

{% block title %}Nouvelle configuration{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle configuration</h1>

    {{ include('superadmin/configclient/_form.html.twig') }}

    <a href="{{ path('superadmin_configsclients_index') }}" class="btn btn-dark">Retour</a>
{% endblock %}
