.form-actions {
  border-top: 1px solid #d1d5ea;
  padding: 20px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  left: 0;
  right: 0;
  z-index: 1030;
}

.content-body {
  margin-bottom: 80px;
}
