// Margin
$ktv-spacing-unit: $atx-base-unit !default;

@mixin clear-margin() {
  margin: 0;
}

.clear-margin,
.no-margin {
  @include clear-margin;
}

@mixin clear-padding() {
  padding: 0;
}

.clear-padding,
.no-padding {
  @include clear-padding;
}

@mixin clear-offset() {
  @include clear-margin;
  @include clear-padding;
}

.clear-offset,
.no-offset {
  @include clear-margin;
  @include clear-padding;
}

@mixin generate-margin($n, $j:0) {
  @if $j <= $n {

    $spacing-list: padding margin;
    $spacing-abbreviation-list: p m;
    $direction-list: top right bottom left;
    $direction-abbreviation-list: t r b l;

    @for $i from $j through $n {

      $step: $i * $ktv-spacing-unit;
      $iclass: "";
      @if $i != -1 {
        $iclass: -#{$i};
      }

      @each $current-spacing in $spacing-list {
        $cs: index($spacing-list, $current-spacing);
        $current-spacing-abbreviation: nth($spacing-abbreviation-list, $cs);
        .#{$current-spacing-abbreviation}#{$iclass} {
          #{$current-spacing}: $step;
        }
        @each $current-direction in $direction-list {
          $cd: index($direction-list, $current-direction);
          $current-direction-abbreviation: nth($direction-abbreviation-list, $cd);
          .#{$current-spacing-abbreviation}-#{$current-direction-abbreviation}#{$iclass} {
            #{$current-spacing}-#{$current-direction}: $step;
          }
        }
      }

    }
  }
}

/**

  @name Generate margin
  @exemple m-r-1 / m-t-1 / p-r-1 / p-t-1
  @param total_repeat
  @param index_start
  @example generate-margin(total_repeat, index_start);
  */
@include generate-margin(20);



/* ***************************
    Old Spacing
 *************************** */


@mixin spacing() {
  $spacing-list: padding margin;
  $spacing-abbreviation-list: p m;
  $direction-list: top right bottom left;
  $direction-abbreviation-list: t r b l;
  @for $x from 0 through 4 {
    @each $current-spacing in $spacing-list {
      $i: index($spacing-list, $current-spacing);
      $current-spacing-abbreviation: nth($spacing-abbreviation-list, $i);
      @if $x == 1 {
        .s-#{$current-spacing-abbreviation},
        .#{$current-spacing-abbreviation}-#{$x}{
          #{$current-spacing}: $atx-base-unit;
        }
      } @else {
        .s-#{$current-spacing-abbreviation}-#{$x}x,
        .#{$current-spacing-abbreviation}-#{$x}{
          #{$current-spacing}: $atx-base-unit * $x;
        }
      }

      @each $current-direction in $direction-list {
        $j: index($direction-list, $current-direction);
        $current-direction-abbreviation: nth($direction-abbreviation-list, $j);
        @if $x == 1 {
          .s-#{$current-spacing-abbreviation}#{$current-direction-abbreviation},
          .#{$current-spacing-abbreviation}-#{$current-direction-abbreviation}-#{$x}{
            #{$current-spacing}-#{$current-direction}: $atx-base-unit;
          }
        } @else {
          .s-#{$current-spacing-abbreviation}#{$current-direction-abbreviation}-#{$x}x,
          .#{$current-spacing-abbreviation}-#{$current-direction-abbreviation}-#{$x}{
            #{$current-spacing}-#{$current-direction}: $atx-base-unit * $x;
          }
        }
      }
    }
  }

}

@include spacing;