// full
@mixin full() {
  @include size(100%, 100%)
}

.full {
  @include full;
}

@mixin full-width() {
  width: 100%;
}

.full-width {
  @include full-width;
}

@mixin full-height() {
  height: 100%;
}

.full-height {
  @include full-height;
}

// no-border / clear-border
.no-border,
.clear-border {
  border: none !important;
}

// no-box-shadow
.no-box-shadow,
.clear-box-shadow,
.no-shadow,
.clear-shadow {
  @include box-shadow(none);
}

// btn-clear
@mixin btn-clear($margin: $ktv-base-unit, $padding: $ktv-base-unit, $height: auto, $width: auto, $text-align: center) {
  @if $height {
    height: $height;
  }
  @if $width {
    width: $width;
  }
  margin: $margin;
  padding: $padding;
  @if $height != auto {
    @if $padding == 0 {
      line-height: $height;
    } @else {
      line-height: $height - $padding*2;
    }
  } @else {
    line-height: 0;
  }
  text-align: $text-align;
  border: 0;
  outline: none;
}

.btn-clear {
  @include btn-clear(0, 0);
}

// None Outline
.none-outline,
.no-outline {
  &:focus {
    outline: none;
  }

}

// Container Fluid LG
@mixin container-fluid-lg() {
  width: 90%;
  margin: 0 5%;
}

.container-fluid-lg {
  @include container-fluid-lg;
}

// Offset SideBar
@mixin offset-sidebar() {
  .sidebar--floating & {
    @include transition(all 0.3s ease);
    margin-left: $ktv-sidebar-offset;
  }

  .sidebar--pin & {
    @include transition(all 0.3s ease);
    margin-left: $ktv-sidebar-width--pin;
  }
}

// Offset Secondary SideBar
@mixin offset-secondary-sidebar() {
  .secondary-sidebar--pin & {
    @include transition(all 0.3s ease);
    margin-left: $ktv-secondary-sidebar-width;
  }
}