<div (window:resize)="onResize($event)">
  <app-header></app-header>
  <ng-container *ngIf="layout === 'horizontal' && !isMobile && !isWebComponent">
    <app-horizontalnav></app-horizontalnav>
  </ng-container>
</div>
