<div id="tableau-analyse-financiere" class="accordion mt-4">
    <div class="card mb-0">
        <div class="card-header analyseFianciere collapsed"  id="analyseFianciere">
            <a class="card-title">
                {{ 'ANALYSE_ANNEXE_FINANCIERE' | trans }}
            </a>
        </div>
        <div id="collapseAnalyseFianciere" class="card-body" data-parent="#tableau-analyse-financiere" >
            <div class="panel-body">
                <div class="content-wrapper">
                    <div class="content-body">
                        <section class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="alert bg-info alert-icon-left alert-arrow-left alert-dismissible mb-2 alert-color-blue" role="alert">
                                                <span class="alert-icon"><i class="ft-info"></i></span>
                                                {{ 'ANALYSE_FINANCIERE_DESCRIPTION_TABLEAU' | trans | raw }}
                                            </div>
                                            <br>

                                            <div class="table-responsive">
                                                <table id="analyse-offre-list" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" class="input-chk-all"></th>
                                                            <th>{{ 'TEXT_ENTREPRISE' | trans }}</th>
                                                            <th>{{ 'DEFINE_PLI' | trans }} #</th>
                                                            <th>{{ 'TEXT_LOT' | trans }} #</th>
                                                            <th>{{ 'ANALYSE_FINANCIERE_DATE_HEURE_REMISE' | trans }}</th>
                                                            <th>{{ 'ANALYSE_FINANCIERE_REPONSE_SOURCE' | trans }}</th>
                                                            <th>{{ 'TEXT_ACTIONS' | trans }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% if annexeFinanciereReponses|length > 0 %}
                                                        {% for enveloppeFichier in annexeFinanciereReponses %}
                                                            <tr>
                                                                <td><input type="checkbox" class="input-chk" value="{{ enveloppeFichier.idBlob }}"></td>
                                                                <td><strong>{{ enveloppeFichier.enveloppe.offre.nomEntrepriseInscrit }}</strong></td>
                                                                <td>{{ 'DEFINE_PLI' | trans }} {{ enveloppeFichier.enveloppe.offre.numeroReponse }}</td>
                                                                <td>
                                                                    {% if consultation.isAlloti %}
                                                                        {{ 'TEXT_LOT' | trans }} {{ enveloppeFichier.enveloppe.sousPli }}
                                                                    {% else %}
                                                                       -
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <div class="badge {% if consultation.datefin > date() %} badge-success {% else %} badge-danger {% endif %}">
                                                                        {{ consultation.datefin | date("d/m/Y H:i") }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="badge badge-secondary">
                                                                        {{ 'ANALYSE_FINANCIERE_REPONSE_SOURCE_AUTOMATIQUE' | trans }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('analyse_financiere_download', { idAgent: encryptedAgentId, idConsultation: consultation.id, blobId: enveloppeFichier.idBlob }) }}">
                                                                        <i class="ft-download"></i> {{ 'DEFINE_TELECHARGER' | trans }}
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if consultation.annexesFinanciereManuel is not null %}
                                                        {% for afi in consultation.annexesFinanciereManuel %}
                                                            <tr>
                                                                <td><input type="checkbox" class="input-chk" value="{{ afi.blob.id }}"></td>
                                                                <td><strong>{{ afi.entreprise }}</strong></td>
                                                                <td>
                                                                    {% if afi.numeroPli %}
                                                                        {{ 'DEFINE_PLI' | trans }} {{ afi.numeroPli }}
                                                                    {% else %}
                                                                        -
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if afi.numeroLot %}
                                                                        {{ 'TEXT_LOT' | trans }} {{ afi.numeroLot }}
                                                                    {% else %}
                                                                        -
                                                                    {% endif %}
                                                                </td>

                                                                <td>
                                                                    <div class="badge {% if afi.dateRemise > date() %} badge-success {% else %} badge-danger {% endif %}">
                                                                        {{ afi.dateRemise | date("d/m/Y H:i") }}
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="badge badge-secondary">
                                                                        {{ 'ANALYSE_FINANCIERE_REPONSE_SOURCE_IMPORTEE_MANUELLEMENT' | trans }}
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <a href="{{ path('analyse_financiere_download', { idAgent: encryptedAgentId, idConsultation: consultation.id, blobId: afi.blob.id }) }}">
                                                                        <i class="ft-download"></i> {{ 'DEFINE_TELECHARGER' | trans }}
                                                                    </a> |
                                                                    <a href="{{ path('analyse_financiere_delete', { idAgent: encryptedAgentId, idConsultation: consultation.id, annexeFinanciereId: afi.id }) }}" class="danger">
                                                                        <i class="ft-trash"></i> {{ 'DEFINE_SUPPRIMER' | trans }}
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th><input type="checkbox" class="input-chk-all"></th>
                                                            <th>{{ 'TEXT_ENTREPRISE' | trans }}</th>
                                                            <th>{{ 'DEFINE_PLI' | trans }} #</th>
                                                            <th>{{ 'TEXT_LOT' | trans }} #</th>
                                                            <th>{{ 'ANALYSE_FINANCIERE_DATE_HEURE_REMISE' | trans }}</th>
                                                            <th>{{ 'ANALYSE_FINANCIERE_REPONSE_SOURCE' | trans }}</th>
                                                            <th>{{ 'TEXT_ACTIONS' | trans }}</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!--/ Invoices table -->

                                            <button type="button" class="btn btn-primary btn-analyse-financiere" id="open-modal" disabled data-url="{{ path('analyse_financiere_annexe_financiere-tableau-comparaison', {id: consultation.id}) }}">
                                                <i class="la la-bar-chart"></i> {{ 'ANALYSE_FINANCIERE_ANALYSER_ET_NOTER' | trans }}
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-import" data-toggle="modal" data-target="#modalImport">
                                                <i class="la la-upload"></i> {{ 'ANALYSE_FINANCIERE_IMPORTER_MANUELLEMENT' | trans }}
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="sidenav-overlay"></div>
            <div class="drag-target"></div>
        </div>
    </div>
</div>
</div>

{# Bloc modale import #}
{% include 'analyseOffre/bloc/analyse-financiere-import.html.twig' %}


<script>
    $(document).ready(function() {
        $('.analyseFianciere').on('click', function () {

            $('#collapseAnalyseFianciere').collapse('toggle');
            if($(this).attr('id') == 'analyseFianciereDeplie') {
                $(this).addClass('collapsed');
                $(this).attr('id', 'analyseFianciere');
            } else {
                $(this).attr('class', 'card-header');
                $(this).attr('id', 'analyseFianciereDeplie');
            }
        })
    })
</script>