<div class="row">
    <div class="col-sm-12">
        <div id="recap-consultation" class="accordion mt-4">
            <div class="card mb-0">
                <div class="card-header headerConsultationAnalyseOffre"  id="headerConsultationAnalyseOffreDeplie">
                    <a class="card-title">
                        {{ 'DETAIL_DE_LA_CONSULTATION' | trans }}
                    </a>
                </div>
                <div id="collapseOne" class="card-body collapse show" data-parent="#recap-consultation">
                    <div class="panel-body">
                        <div>
                            <div class="clearfix item_consultation">
                                <!--BEGIN REFERENCE-->
                                <div class="row">
                                    <label class="col-md-3 col-xs-12">
                                        {{ 'REFERENCE_DE_LA_CONSULTATION'| trans }} :
                                    </label>
                                    <div class="col-md-9 col-xs-12">
                                        {{ consultation.referenceUtilisateur }}
                                    </div>
                                </div>
                                <!--END REFERENCE-->

                                <!--BEGIN INTITULE-->
                                <div class="row">
                                    <label class="col-md-3 col-xs-12">
                                        {{ 'DEFINE_INTITULE_CONSULTATION'| trans }} :
                                    </label>
                                    <div class="col-md-9 col-xs-12">
                                        {{ consultation.intitule }}
                                    </div>
                                </div>
                                <!--END INTITULE-->

                                <!--BEGIN OBJET-->
                                <div class="row">
                                    <label class="col-md-3 col-xs-12">{{ 'DEFINE_OBJET_CONSULTATION'| trans }} :</label>
                                    <div class="col-md-9 col-xs-12">
                                        {{ consultation.objet }}
                                    </div>
                                </div>
                                <!--END OBJET-->

                                <!--BEGIN DATE LIMITE REMISE DES PLIS-->
                                <div class="row">
                                    <label class="col-md-3 col-xs-12 spacing-helper-m">
                                        {{ 'DEFINE_DATE_HEURE_LIMITE_REMISE_PLIS' | trans }} :
                                    </label>
                                    <span class="col-md-9 col-xs-12">
                                            <span class="green bold">{{ consultation.datefin|date("d/m/Y H:i") }}</span>
                                        </span>
                                </div>
                                <!--END DATE LIMITE REMISE DES PLIS-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.headerConsultationAnalyseOffre').on('click', function () {
            $('#collapseOne').collapse('toggle');
            if($(this).attr('id') == 'headerConsultationAnalyseOffreDeplie') {
                $(this).addClass('collapsed');
                $(this).attr('id', 'headerConsultationAnalyseOffre');
            } else {
                $(this).attr('class', 'card-header');
                $(this).attr('id', 'headerConsultationAnalyseOffreDeplie');
            }
        })
    })
</script>