<div class="modal fade" id="modalCriteriaAttributionToDefine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    {{ 'DEFINE_CRITERES_ATTRIBUTION'|trans }}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% set infoLotForFront = (info_lot_for_front|length > 0) ? info_lot_for_front : info_lot_for_front|json_encode %}
                <input name="lot-info-front" id="lot-info-front" type="hidden" v-bind:value="setDataAllotie('{{ infoLotForFront }}')">

                <define-criteria v-bind:is-allotie="isAllotie"
                                 v-bind:criteria-list="criteriaList"
                                 v-if="!isAllotie"
                                 @dispatch-total-rate-event="setTotalRate"
                                 @dispatch-change-show-save-button="setShowSaveButton"
                                 :lang="{{ lang }}"
                                 :consultation-id="{{ consultation.id }}"
                >
                </define-criteria>

                <define-bareme-allotie
                        v-bind:is-allotie="isAllotie"
                        v-if="isAllotie && lots.length == 0"
                        @dispatch-is-identical-rate-event="setIdentical"
                        :lang="{{ lang }}"
                >
                </define-bareme-allotie>
                <define-criteria
                        v-bind:is-allotie="isAllotie"
                        v-bind:criteria-list="criteriaList"
                        v-bind:identical="identical"
                        v-bind:lots="lots"
                        v-if="lots.length > 0"
                        :lang="{{ lang }}"
                        :consultation-id="{{ consultation.id }}"
                        @dispatch-total-rate-event="setTotalRate"
                        @dispatch-change-show-save-button="setShowSaveButton"
                        @dispatch-lot-criteria-ready-event="setLotCriteriaReady"
                >
                </define-criteria>
            </div>

            <div class="modal-footer">
                <p v-if="serverError" class="alert alert-danger">{{ 'ERROR_TECHNIQUE'|trans }}</p>
                <button type="button" class="btn btn-primary" v-bind:data-dismiss="{ modal: !serverError}" id="save-criteria"
                        v-if="
                            (totalRateNumber === 100 && showSaveButton)
                            && ( !isAllotie
                                 || (isAllotie && identical)
                                 || (isAllotie && !identical && lotCriteriaReady)
                               )
                        "
                        v-on:click="saveCriterias()"
                >
                    <i class="fas fa-save"></i>
                    {{ 'TEXT_ENREGISTER'|trans }}
                </button>

                <button type="button" class="btn btn-primary"  id="save-criteria"
                        v-if="identical !== null && showNextButton"
                        v-on:click="goNextStepDefineCriteriaAllotie({{ info_lot_for_front|json_encode }})"
                >
                    {{ 'NEXT'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
