<div class="modal fade" id="modalCriteriaAttributionDefined" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ 'DEFINE_CRITERES_ATTRIBUTION'|trans }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            {% set break = false %}

                            {% if identical_bareme %}
                                <p class="alert alert-primary col-md-8 m-l-1" role="alert">{{ 'CRITERIA_ATTRIBUTION_COMMUN_ANALYSE_OFFRE'|trans }}</p>
                            {% endif %}

                            {% for data in list_criterias_attribution  %}
                                {% if not break %}
                                    {% set lotExist = (data.lot is defined) ? true : false %}
                                    {% for criteria in data.criteria %}
                                        <div class="col-md-8">
                                            {% if lotExist and loop.index == 1 and identical_bareme == 0 %}
                                                <p>
                                                    <i class="fas fa-arrow-alt-circle-right text-primary"></i>
                                                    {{ data.lot.description }}
                                                </p>
                                            {% endif %}
                                            <p class="{{ (lotExist and identical_bareme == 0) ? 'offset-md-1' : '' }}">
                                                {% set class = (lotExist and identical_bareme == 0) ? 'fa fa-reply fa-rotate-180' : 'fas fa-arrow-alt-circle-right text-primary' %}
                                                <i class="{{ class }}"></i>
                                                {{ criteria.enonce }}
                                                <strong class="badge badge-lg bg-secondary">/{{ criteria.ponderation|number_format }}</strong>
                                            </p>

                                            <div class="row">
                                                {% if criteria.sousCritereAttribution is not empty %}
                                                {% for sub_criteria in criteria.sousCritereAttribution %}
                                                    <div class="{{ (lotExist and identical_bareme == 0) ? 'col-md-8 offset-md-2' : 'col-md-9 offset-md-1' }}">
                                                        <span>
                                                            <p><i class="fa fa-reply fa-rotate-180"></i>{{ sub_criteria.enonce }}</p>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p>{{ sub_criteria.ponderation|number_format }}</p>
                                                    </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if identical_bareme %}
                                        {% set break = identical_bareme %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>