<div id="consultation">
    <piece-modele
            v-bind:step="''"
            :urlupdatefile="'{{ path('agent_espace_documentaire_document_consultation_edition', {'idConsultation':  consultation.id, 'blobId': 'blod_index_replace'}) }}'"
            :urlopenfile="'{{ path('analyse_offre_open_file', {'id':  consultation.id}) }}'"
            :urldownload="'{{ path('agent_espace_documentaire_document_consultation_download_to_pdf', {'id':  consultation.id, 'blobId': 'blod_index_replace'}) }}'"
            :urldelete="'{{ path('agent_espace_documentaire_document_consultation_delete', {'idConsultation':  consultation.id, 'blobId': 'blod_index_replace'}) }}'"
            :urlgenerate="'{{ path('agent_espace_documentaire_document_generate', {'idConsultation':  consultation.id}) }}'"
            :urlload="'{{ path('agent_espace_documentaire_document_consultation', {'idConsultation':  consultation.id}) }}'"
            v-bind:url-get-models="'{{ path('agent_espace_documentaire_document_template') }}'"
            v-bind:global-counter="{{ (number_docs is defined) ? number_docs : 0 }}"
            :consultation-id="{{ consultation.id }}"
            :lang="{{ lang }}"
            :encrypted-agent-id="'{{ encryptedAgentId }}'">
    </piece-modele>
</div>