{% extends 'base.html.twig' %}
{% block title %}
    {{ 'ANALYSE_OFFRES'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="/themes/css/mpe-new.css?k={{ MEDIA_CACHE_KEY }}" media="all">
    {{ encore_entry_link_tags('espace-documentaire') }}
    <link rel="stylesheet" href="{{ asset('app/css/analyse-offre.css') }}">

    <!-- ICheck -->
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/icheck/icheck.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/icheck/custom.css') }}">

    <!-- Datatable Analyse financiere -->
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/vendors.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/sweetalert2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/bootstrap-extended.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/loaders.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/analyse-financiere.css') }}">

    {{ encore_entry_link_tags('critere-attribution-analyse-offre') }}
{% endblock %}

{% block javascripts_header %}
    <script src="{{ asset('app/js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('app/js/filesize.min.js') }}"></script>
    <script src="{{ asset('themes/js/atexoScript.fr.js?k=')~ MEDIA_CACHE_KEY }} }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid analyse-offres">
        <h1>
            {{ 'ANALYSE_OFFRES'|trans }}
        </h1>
        {% include 'analyseOffre/bloc/header-consultation.html.twig' %}

        {% include 'analyseOffre/bloc/analyse-financiere.html.twig' %}

        <div id="analyse-offre" class="accordion mt-4">
            <div class="card mb-0">
                <div class="card-header analyseOffre">
                    <a class="card-title">
                        {{ 'ANALYSE_ET_CLASSEMENT_OFFRE'|trans }}
                    </a>
                </div>
                <div id="collapseTwo" class="card-body collapse show" data-parent="#analyse-offre" >
                    <div class="row">
                        <div class="col-12">
                            {% if path_opening_analysis_file == '#' %}
                                <div class="alert alert-warning" role="alert">
                                    <div class="row">
                                        <div class="col-8 d-flex align-items-center">
                                            <i class="fas fa-exclamation-triangle p-3" style="font-size: 25px;"></i>
                                            {{ 'CRITERIA_ATTRIBUTION_ANALYSE_OFFRE_NOT_DEFINED'|trans }}
                                        </div>
                                        <div class="col-4 d-flex align-items-center justify-content-end">
                                            <a href="#" data-toggle="modal" data-target="#modalCriteriaAttributionToDefine">{{ 'CRITERIA_ATTRIBUTION_ANALYSE_OFFRE_DEFINE'|trans }}</a>
                                            <input name="lot-info-front" id="lot-info-front" type="hidden" value="{{ info_lot_for_front|json_encode }}">
                                            <input name="consultation-id-info-front" id="consultation-id-info-front" type="hidden" value="{{ consultation.id }}">
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-success" role="alert">
                                    <div class="row">
                                        <div class="col-8 d-flex align-items-center">
                                            <i class="fas fa-check p-3" style="font-size: 25px;"></i>
                                            {{ 'CRITERIA_ATTRIBUTION_ANALYSE_OFFRE_DEFINED'|trans }}
                                            {{ type_criteria_attribution|trans }}
                                        </div>
                                        {% if 'LIBELLE_CRITERE_ATTRIBUTION_PONDERATION' in label_criteria_attribution %}
                                            <div class="col-4 d-flex align-items-center justify-content-end" >
                                                <a href="#"
                                                   data-toggle="modal"
                                                   class="btn btn-primary"
                                                   data-target="#modalCriteriaAttributionDefined">
                                                    {{ 'SEE_CRITERIA_ATTRIBUTION_ANALYSE_OFFRE'|trans }}
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-6">
                            <div class="media">
                                <div class="media-body">
                                    <p class="mt-4 font-weight-bold">
                                        <i class="fa fa-list mr-3" aria-hidden="true"></i>
                                        {{ 'ANALYSE_OFFRES_SELON_CRITERES'|trans }}</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <p class="mt-4 font-weight-bold">
                                        <i class="fa fa-trophy mr-3" aria-hidden="true"></i>
                                        {{ 'OFFRES_LOT_PAR_LOT'|trans }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="media">
                                <figure>
                                    {% set constCriteriaAttribution = constant('App\\Controller\\Agent\\AnalyseOffreController::LIBELLE_CRITERE_ATTRIBUTION_ORDRE_PRIO_DESC') %}
                                    <a href="{{ path_opening_analysis_file }}" id="tableau-analyse"
                                            {% if
                                                path_opening_analysis_file == "#"
                                                or type_criteria_attribution == constCriteriaAttribution
                                            %}
                                                data-toggle="modal" data-target="#popin"
                                            {% else %}
                                                target="_blank"
                                            {% endif %}
                                    >
                                        <figcaption class="text-center">{{ 'OUVRIR_TABLEAU_ANALYSE'|trans }}</figcaption>
                                        <img src="{{ asset('app/img/excel.png') }}" alt="" width="310">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="root_espace_doc" class="mt-4" data-locale="{{ app.request.locale }}">
            <div id="analyse-offre-gendoc">
                {% include 'analyseOffre/bloc/rapports.html.twig' %}
            </div>
        </div>
    </div>
    {% include 'analyseOffre/bloc/pop-in.html.twig' %}

    {% if path_opening_analysis_file != '#' and ('LIBELLE_CRITERE_ATTRIBUTION_PONDERATION' in label_criteria_attribution) %}
        {% include 'analyseOffre/bloc/modal_criteria_attribution_defined.html.twig' %}
    {% endif %}

    {% include 'analyseOffre/bloc/modal_criteria_attribution_to_define.html.twig' %}

    <script>
        $(document).ready(function() {
            $('.analyseOffre').on('click', function () {
                $('#collapseTwo').collapse('toggle');
                if($(this).attr('id') == 'analyseOffreDeplie') {
                    $(this).attr('class', 'card-header');
                    $(this).attr('id', 'analyseOffre');
                } else {
                    $(this).addClass('collapsed');

                    $(this).attr('id', 'analyseOffreDeplie');
                }
            })
        })
    </script>
{% endblock %}
{% block javascripts %}
    <!-- JS Datatable Analyse financiere-->
    <script src="{{ asset('app/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('app/js/jquery.dataTables-fr.min.js') }}"></script>
    <script src="{{ asset('app/js/popper.min.js') }}"></script>
    <script src="{{ asset('app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('app/assets/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('app/js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('app/js/datatable-list.js') }}"></script>
    <script src="{{ asset('app/js/icheck.min.js') }}"></script>
    <script src="{{ asset('app/js/ex-component-sweet-alerts.js') }}"></script>


    {{ encore_entry_script_tags('espace-documentaire') }}
    {{ encore_entry_script_tags('annexe-financiere') }}
    {{ encore_entry_script_tags('criteria-attribution-analyse-offre') }}
{% endblock %}
