<div class="modal-content modal-confirmation">
    <div class="modal-header">
        <h4 class="modal-title pull-left modal-confirmation-txt">Envoi à CHORUS</h4>
        <button (click)="onClose.emit()" aria-label="Close" class="close pull-right"
                type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div *ngIf="echangeChorus">
        <div class="modal-body">
            <div *ngIf="erreur" class="alert alert-danger alert-box">
                <i class="fa fa-warning"></i> {{ erreur }}
            </div>
            <div *ngIf="echangeChorus.dateNotificationPrevisionnelle == null" class="alert alert-primary">
                L’envoi à CHORUS ne peut pas avoir lieu car certains champs obligatoires du formulaire de l’acte ne sont pas remplis
            </div>
            <div class="form-group form-group-sm p-15">
                <label class="control-label col-md-7">
                    Date prévisionnelle de notification
                    <ltexec-asterisk></ltexec-asterisk>
                    :
                </label>
                <div class="controls col-md-5">
                    <div class="input-group datepicker-group">
                        <input
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',  displayOneMonthRange: true,containerClass: 'theme-dark-blue' }"
                            [(ngModel)]="echangeChorus.dateNotificationPrevisionnelle"
                            bsDatepicker
                            class="form-control"
                            name="dateNotificationPrevisionnelle"
                            required>
                        <span class="input-group-addon"><fa-icon [icon]="['fas','calendar']"></fa-icon></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button (click)="fermer()" class="btn btn-primary" data-dismiss="modal" type="button">Annuler</button>
            <button (click)="soumettre()" [disabled]="!estValide()" class="btn btn-primary" data-dismiss="modal" type="button">Envoyer</button>
        </div>
    </div>
</div>
