/* CSS Document */

/********************************************************STYLES COMMUN**********************************************************************/

/*******************************General*******************************/
body { font-family:Arial, Helvetica, sans-serif; font-size:0.7em; color:#666666; text-align:center; background-image:url(../images/body-bk.png); margin:0px; padding:0px; padding-top:15px; padding-bottom:15px; margin-top:0px !important }

div, p, ul, li, a, img, form { margin:0px; padding:0px }
img { border:0px; margin-right:3px }
a {color:#666666}
:focus { -moz-outline-style: none }
ul li { list-style-type:none }
input, textarea { font-size:10px; font-family:Arial, Helvetica, sans-serif }
textarea { overflow: scroll; overflow-y: scroll; overflow-x: hidden; overflow:-moz-scrollbars-vertical }

.italique  { font-style:italic }
.strong { font-weight:bold }
.underline { text-decoration:underline }
.center { text-align:center }
.disabled { background-color:#ebebe4 }

.clear { clear:both }
.float-left { float:left !important}
.float-right { float:right !important}

.align-left { text-align:left !important}

select { font-size:10px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif }
fieldset {border:1px solid #c0c0c0; padding:5px; margin:0px; }
legend { color:#666; font-weight:bold }

caption { display:none }

.indent-15 { padding-left:15px !important}

.breaker { clear:both; overflow:hidden; height:0px }
.breaker-moyen { clear:both; overflow:hidden; height:200px }
.breaker-high { clear:both; overflow:hidden; height:300px }
.spacer-mini { clear:both; overflow:hidden; height:5px }
.spacer-small { clear:both; overflow:hidden; height:10px }
.spacer { clear:both; height:20px }
.separator { clear:both; overflow:hidden; height:1px; border-bottom:1px dotted #7f7f7f; width:100%; margin-bottom:10px; padding-top:10px }
.lot-separator { clear:both; overflow:hidden; height:1px; border-top:1px dotted #aca7a4; width:100%; margin:0px }
.hori-spacer { display:block; float:left; width:50px; overflow:visible }
.hori-spacer-small { display:block; float:left; width:5px; overflow:visible }

h2 { font-size:1.455em; margin:0px; padding:0px; text-align:center; line-height:22px; color:#3b83c3 }

.clear-none { clear:none !important}


/*******************************bloc erreur*******************************/
.form-bloc-erreur { background:#fff; margin-bottom:20px }
.form-bloc-erreur .top { background:url(../images/erreur-box-top-bk.png) no-repeat; background-repeat:repeat-x }
.form-bloc-erreur .top .left { background:url(../images/erreur-box-top-left.png) no-repeat; display:block; width:10px; float:left }
.form-bloc-erreur .top .right { background:url(../images/erreur-box-top-right.png) no-repeat; display:block; width:10px; float:right }
.form-bloc-erreur .bottom { background:url(../images/erreur-box-bottom-bk.png) no-repeat; background-repeat:repeat-x }
.form-bloc-erreur .bottom .left { background:url(../images/erreur-box-bottom-left.png) no-repeat; display:block; width:10px; float:left }
.form-bloc-erreur .bottom .right { background:url(../images/erreur-box-bottom-right.png) no-repeat; display:block; width:10px; float:right }
.form-bloc-erreur .top span, .form-bloc-erreur .top, .form-bloc-erreur .bottom span, .form-bloc-erreur .bottom { height:10px; font-size:1px }
.form-bloc-erreur .content { padding:0 10px; width:770px; text-align:left; border-left:1px solid #ff0000; border-right:1px solid #ff0000 }
.form-bloc-erreur .content .erreur { color:#FF0000; text-align:center }
.form-bloc-erreur .content .message { color:#ff0000; text-align:center }
.form-bloc-erreur .content .message-left { color:#ff0000; text-align:left }
.form-bloc-erreur .content ul { color:#ff0000; text-align:left }
.form-bloc-erreur .content ul li { list-style-type:disc !important; list-style-position:inside; padding-left:0px }


/*******************************Validation erreur*******************************/
.error-border { background-color: #ff6d6d; }
.error-border-auto {background-color: #ff6d6d; width:auto !important; }

.error { color:#ff0000; margin-bottom:20px; text-align:left; float:left }
.error p { color:#ff0000; }
.error ul { margin:auto; padding-left:15px }
.error ul li { margin:auto; list-style-type:disc; line-height:11px; margin-bottom:3px; }

.valide { color:#009933; margin-bottom:20px; text-align:left; float:left; }

/*******************************Pour la previsu*******************************/
.form-envoi-pub table.rubrique td .gwt-HTML { margin:0; padding:0; overflow:hidden; }
.form-envoi-pub table.rubrique td .gwt-HTML br { display:none; }

.form-envoi-pub table.rubrique .ou { font-weight:bold; }

.form-envoi-pub table.rubrique div.fakeTextarea { border:1px solid #C0C0C0 !important; padding:2px; width:200px; clear:both; float:left; background-color:#fff; color:#000 }

.form-envoi-pub table.rubrique div.long { width:350px; border:1px solid #C0C0C0 !important }
.form-envoi-pub table.rubrique div.textarea-wide { width:700px; border:1px solid #C0C0C0 !important }

/* textbox verysmall */
.form-envoi-pub table.rubrique div.fakeTextVerySmall { border:1px solid #C0C0C0 !important; padding:3px; width:30px; clear:both; float:left }
.form-envoi-pub table.rubrique div.very-small { width:30px ; border:1px solid #C0C0C0 !important}

.form-envoi-pub table.rubrique div.fakeTextSmall { border:1px solid #C0C0C0 !important; padding:3px; width:70px; clear:both; float:left }
.form-envoi-pub table.rubrique div.small { width:70px; border:1px solid #C0C0C0 !important }

.form-envoi-pub table.rubrique div.fakeTextLong { border:1px solid #C0C0C0 !important; padding:3px; width:300px; clear:both; float:left }
.form-envoi-pub table.rubrique div.long { width:300px ; border:1px solid #C0C0C0 !important}

.form-envoi-pub table.rubrique select.select-350 { width:350px }
.form-envoi-pub table.rubrique input.nuts-182 { width:182px; }

/*******************************Bloc formulaire********************************/
#form-saisie { clear:both; width:800px; overflow:hidden; margin:0 auto; }

/*Formulaire Preparation AAPC*/
.form-envoi-pub { background:#fff; width:792px; _width:770px; margin:0 auto; }
.form-envoi-pub .top { display:none; }
.form-envoi-pub .bottom { display:none; }
.form-envoi-pub .top span, .form-envoi-pub .top, .form-envoi-pub .bottom span, .form-envoi-pub .bottom { width:100%; height:10px; font-size:1px }
.form-envoi-pub .content { padding:10px; width:770px; text-align:left; border:1px solid #ccc; border-bottom:0; }

.form-envoi-pub fieldset { margin-bottom:10px; width:760px !important; text-align:left }
.form-envoi-pub fieldset fieldset { width:750px !important; }
.form-envoi-pub fieldset fieldset fieldset { width:730px !important; }

.form-envoi-pub table fieldset { border:0px !important; padding:0px !important}
.form-envoi-pub table.rubrique fieldset { border:1px solid #3d82c3 !important; padding:5px !important; }
.form-envoi-pub table.rubrique fieldset fieldset { border:1px solid #3d82c3 !important; padding:5px !important; width:98% !important; }

.gwt-TabPanelBottom table.rubrique fieldset { width:740px !important; }

.form-envoi-pub legend { color:#3b83c3; }
.form-envoi-pub legend img { vertical-align:top; cursor:pointer; margin:0px; margin-right:3px }
.form-envoi-pub legend em { font-weight:normal; color:#666 }

.form-envoi-pub table { font-size:1em; border-collapse:collapse; }
.form-envoi-pub table.produits-associes { border-collapse:collapse }
.form-envoi-pub table.produits-associes td { padding-top:2px; padding-bottom:2px; line-height:18px }
.form-envoi-pub table.produits-associes input { display:block; float:left }
.form-envoi-pub table.produits-associes b { display:block; float:left; padding-right:2px; width:24px; text-align:right }
.form-envoi-pub table.produits-associes .content-bloc { display:block; float:left; width:320px; line-height:12px; padding-top:2px }
.form-envoi-pub .orange-bk { background-color:#fae7d8 }

.form-envoi-pub table.rubrique { width:100%; text-align:left !important; }
.form-envoi-pub table.rubrique input { width:200px }
.form-envoi-pub table.rubrique textarea { width:200px }
.form-envoi-pub table.rubrique select { width:auto }

.form-envoi-pub table.rubrique span.check input { width:auto }
.form-envoi-pub table.rubrique input.very-small { width:30px }
.form-envoi-pub table.rubrique input.small { width:70px }
.form-envoi-pub table.rubrique input.long { width:300px }

.form-envoi-pub table.rubrique textarea.long { width:350px  }

.form-envoi-pub table.rubrique textarea.textarea-wide { width:700px; }
.form-envoi-pub table.rubrique .espace25px { width:25px}

.form-envoi-pub .gwt-TabBar { }
.form-envoi-pub .gwt-TabBarItem { background-image:url(../images/mini-tab-off.gif); background-repeat:no-repeat; margin-right:2px; width:30px; height:14px; overflow:hidden; text-align:center; color:#2dafcf; cursor:pointer; line-height:14px; }
.form-envoi-pub .gwt-TabBarItem-selected { background-image:url(../images/mini-tab-on.gif); color:#fff !important; width:30px; height:25px; line-height:25px; }
.form-envoi-pub .gwt-TabPanelBottom { border:1px solid #d7d7d7; padding:0px; padding-top:10px; padding-bottom:10px; text-align:center !important; width:763px; display:block !important; padding-left:7px; }
*html .form-envoi-pub .gwt-TabPanelBottom { width:768px; padding-left:0; }
*+html .form-envoi-pub .gwt-TabPanelBottom { width:770px; padding-left:0; }


/*taille colonne*/
.col-200 { width:200px; }
.champ-long6-erreur { width:585px !important; background-color: #ff6d6d; }
.champ-moyen-erreur { width:70px !important; background-color: #ff6d6d; }

/*******************************Boutons*******************************/
a.button-small { width:55px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-short.png); text-align:center; text-decoration:none }
a.button-moyen { width:90px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-moyen.png); text-align:center; text-decoration:none }
a.button-moyen2 { width:125px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-moyen-3.png); text-align:center; text-decoration:none }
a.button-moyen3 { width:105px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-moyen-2.png); text-align:center; text-decoration:none }

a.button-long { width:160px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-long-5.png); text-align:center; text-decoration:none }
a.button-supprimer { width:125px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-supprimer.gif); text-align:center; text-decoration:none }
a.button-supprimer-moyen { width:150px; height:17px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-supprimer-moyen.gif); text-align:center; text-decoration:none; padding-left:2px; }
a.button-supprimer-long { width:175px; height:18px; display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; background-image:url(../images/bouton-supprimer-long.gif); text-align:center; text-decoration:none; padding-left:5px }
a.supprimerdepartement { float:right; width:11px; height:15px; background:url(../images/picto-poubelle.gif) no-repeat; line-height:15px; margin-left:2px; }

.boutons { width:770px; _width:776px ;margin:0 auto; border:1px solid #ccc; border-top:0; background-color:#fff; padding-top:10px; padding-bottom:5px; padding-left:10px; padding-right:10px; overflow:hidden; }

.boutons a { display:block; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; margin-bottom:5px }
.boutons a.annuler { float:left; width:90px; height:17px; background-image:url(../images/bouton-moyen.png) }
.boutons a.valider { float:right; width:90px; height:17px; background-image:url(../images/bouton-moyen.png) }
.boutons a.valider-modif { float:right; width:145px; height:17px; background-image:url(../images/bouton-long.png); margin-right:20px }
.boutons a.enregistrer { float:right; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); margin-right:20px }
.boutons a.enregistrer-right { float:right; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); margin-right:10px}
.boutons a.etape-back { float:left; width:125px; height:17px; background-image:url(../images/bouton-moyen-back.gif);padding-right:10px; text-align:right }
.boutons a.previsualiser { float:left; width:105px; height:17px; background-image:url(../images/bouton-moyen-2.png); margin-left:234px }
.boutons a.previsualiser-left { float:left; width:105px; height:17px; background-image:url(../images/bouton-moyen-2.png) }
.boutons a.nouvelle-clause { float:right; width:160px; height:17px; background-image:url(../images/bouton-long-5.png) }
.boutons a.valider-preinscription { float:right; width:160px; height:17px; background-image:url(../images/bouton-long-5.png) }

.boutons .left { float:left; width:33%; text-align:left }
.boutons .middle { float:left; width:33%; text-align:center }
.boutons .right { float:right; width:33%; text-align:right }

a.info-link { color:#FF7200 }
a.ajout-clause { float:right; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }
a.annuler { float:left; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }
a.ajout-el { background-image:url(../images/picto-arrow-small-grey.gif); background-repeat:no-repeat; background-position:0 3px; padding-left:12px; color:#897f7d; line-height:25px; text-align:left }
a:hover.ajout-el { color:#FF7200; background-image:url(../images/picto-arrow-small-orange.gif) }

a.selectionner-url { display:block; float:left; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); margin:0 auto; text-align:center; margin-left:5px }
a.searchButton { display:block; float:left; margin-left:3px }

.boutons a.imprimer { float:right; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); margin-right:0px; }
.boutons a.imprimer-right { float:right; width:85px; height:18px; background-image:url(../images/bouton-imprimer.gif); padding-left:10px }

a.modifier-file { display:block; background-repeat:no-repeat; color:#fff !important; text-decoration:none; line-height:18px; font-weight:bold; float:left; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); text-align:center; cursor:pointer; margin-left:5px }
a.consulter-doc { background-image:url(../images/picto-details.gif); background-repeat:no-repeat; height:16px; padding:0px; padding-left:18px; text-decoration:underline; background-position:0px -1px }
a:hover.consulter-doc { color:#FF7200 }

a.generer-code { float:left; width:105px; height:17px; background-image:url(../images/bouton-moyen-2.png); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px; margin-left:5px }
a.creer-nouveau-el { display:block; float:right; background-repeat:no-repeat; color:#fff; text-decoration:none; line-height:18px; font-weight:bold; float:right; width:145px; height:17px; background-image:url(../images/bouton-long.png); margin-right:0px; margin-top:20px; text-align:center }
a.modif-titulaire { float:right; width:125px; height:17px; background-image:url(../images/bouton-moyen-3.png); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px; margin-left:5px }
a.modif-link { background-image:url(../images/picto-arrow-small-grey.gif); background-repeat:no-repeat; background-position:0 3px; padding-left:12px; color:#897f7d; margin-left:5px }
a:hover.modif-link { color:#FF7200; background-image:url(../images/picto-arrow-small-orange.gif) }
a.enregistrer-right { float:right; width:90px; height:17px; background-image:url(../images/bouton-moyen.png); color:#fff; font-weight:bold; text-align:center; text-decoration:none; line-height:18px }
