/* the div that holds the date picker calendar */
.dpDiv {
	}

/* the table (within the div) that holds the date picker calendar */
table.dpTable {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #666666;
	background-color: #fff;
	border: 2px solid #a0a0a0;
	position:absolute;
	z-index:20000;
	overflow:visible;
	width:200px !important;
	border-collapse:separate !important;
	clear:none !important;
	margin:0px !important; 
	padding:0px !important;
	}

table.dpTable td { text-align:center; line-height:15px !important; padding:0px !important }

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	background-color:#a0a0a0 !important;
	color:#fff !important
	}

.dpTitleTR td {
	vertical-align:middle !important;
	text-align:center !important; 
	color:#fff !important;
	}



/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #fff;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #fff;
	border: 1px solid #888888;
	cursor: pointer;
	color: #505050;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	color: #666666;
	font-weight:bold;
	width:25px;
	line-height:15px
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 11px;
	color: #fff !important;
	font-weight: bold;
	width:136px;
	display:block;
	line-height:15px
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: #666666;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff !important;
	text-decoration:none !important;
	background-color: #A0A0A0;
	font-weight: bold;
	padding: 0px;
	cursor:pointer;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButtonLeft {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray !important;
	text-decoration:none !important;
	background-color: #e6e6e7;
	font-weight: bold;
	padding: 0 5px; 
	display:block; 
	float:left;
	border:1px solid #aaa;
	cursor:pointer;
	}
	
.dpTodayButtonRight {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray !important;
	text-decoration:none !important;
	background-color: #e6e6e7;
	font-weight: bold;
	padding: 0 5px; 
	display:block; 
	float:right;
	border:1px solid #aaa;
	cursor:pointer;
	}