<section id="loader" class="loader">
    <ng-container>
        <section class="book-container">
            <section class="book-container-inner">
                <div class="book">
                    <div class="inner">
                        <div class="left"></div>
                        <div class="middle"></div>
                        <div class="right"></div>
                    </div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </section>
            <span class="book-container-legend">{{message}}</span>
        </section>
    </ng-container>
</section>
