<span *ngIf="agent" [title]="agent.prenom + ' ' + agent?.nom?.toUpperCase() +' ('+agent.identifiantExterne+')'"
      class="mr-1 user-name text-bold-700">{{agent.prenom + ' ' + agent?.nom?.toUpperCase()}}</span>
<span class="avatar avatar-online">
                <img
                     [src]="'assets/images/portrait/small/default.png' | imageUrl"
                     alt="avatar">
                <i></i>
              </span>
