.badge-type {
  width: 150px;
  border: none;
  margin-right: 12px;
  background-color: #CDCACA;
}
.element-select {
  font-size: 16px;
  margin-bottom: 20px;
}
.content-wrapper {
  min-height: 500px!important;
}
.margin-right-5px {
  margin-right: 5px;
}
