<template>
  <alert-dialog-component :show="dialog"
                          type="warning"
                          icon="warning"
                          header="alert.clause.header"
                          button="alert.clause.button"
                          message="alert.clause.message"
                          @close-alert="$emit('close')">
  </alert-dialog-component>
</template>

<script>
import AlertDialogComponent from './AlertDialogComponent'

export default {
  name: "ClauseAlertComponent",
  components: {AlertDialogComponent},
  props: {dialog: Boolean},

}
</script>

<style scoped>

</style>
