<template>
    <alert-dialog-component :show="dialog"
                            header="Information"
                            type="info"
                            icon="info"
                            max-width="800"
                            @close-alert="dialog=false;$emit('close-legende',true)"
    >
        <template v-slot:message>
            <div style="font-size: .8rem;">
                <div style="background: #F8D7DA;text-align: justify;">
                    {{ $t('alert.legend.red') }}
                </div>
                <br/>
                <div style="background: #F5EBA4;text-align: justify;">
                    {{ $t('alert.legend.yellow') }}
                </div>
                <br/>
                <div style="text-align: justify;">
                    {{ $t('alert.legend.white') }}

                </div>
                <br/>
                <div style="background: #D4EDDA;text-align: justify;">
                    {{ $t('alert.legend.green') }}
                </div>
            </div>
        </template>
        <template v-slot:button>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            color="info"
                            text
                            @click="dialog=false;$emit('close-legende',true)"
                            v-bind="attrs"
                            v-on="on"
                    >
                        {{ $t('alert.legend.close') }}
                    </v-btn>
                </template>
                <span>{{
            $t('alert.legend.close-title')
          }}</span>
            </v-tooltip>
        </template>
    </alert-dialog-component>
</template>

<script>
import AlertDialogComponent from './AlertDialogComponent'

export default {
        name: "LegendeComponent",
        components: {AlertDialogComponent},
        props: {dialog: Boolean}
    }
</script>

<style scoped>

</style>
