<template>
  <alert-dialog-component :show="dialog"
                          header="alert.suspended-session.header"
                          type="warning"
                          icon="warning"
                          message="alert.suspended-session.message"
                          button="alert.suspended-session.button"
                          @close-alert="reload"></alert-dialog-component>
</template>

<script>
import AlertDialogComponent from './AlertDialogComponent'

export default {
  name: "SessionSuspendue",
  components: {AlertDialogComponent},
  props: {dialog: Boolean},
  methods: {
    reload() {
      window.location.reload()
    },
  }
}
</script>

<style scoped>

</style>
