<template>
  <alert-dialog-component :show="dialog"
                          header="alert.session.header"
                          type="warning"
                          icon="warning"
                          message="alert.session.message"
                          button="alert.session.button"
                          @close-alert="closeAlert($event)"></alert-dialog-component>
</template>

<script>
import AlertDialogComponent from './AlertDialogComponent'

export default {
  name: "SessionAlertComponent",
  components: {AlertDialogComponent},
  props: {dialog: Boolean},
  methods: {
    closeAlert(event) {
      this.$emit('close-session-alerte', event);
    }
  }
}
</script>

<style scoped>

</style>
