<template>
  <alert-dialog-component :show="dialog"
                          type="error"
                          icon="error"
                          header="alert.expired-session.header"
                          button="alert.expired-session.button"
                          message="alert.expired-session.message"
                          @close-alert="close">
  </alert-dialog-component>
</template>

<script>
import AlertDialogComponent from './AlertDialogComponent'

export default {
  name: "SessionExpiree",
  components: {AlertDialogComponent},
  props: {dialog: Boolean},
  methods: {
    close() {
      window.close();
    }
  }
}
</script>

<style scoped>

</style>
