<template>
  <alert-dialog-component :show="dialog"
                          type="warning"
                          icon="warning"
                          header="alert.suppression.header"
                          message="alert.suppression.message"
                          @close-alert="$emit('cancel')">
      <template v-slot:button>
          <v-btn
              color="primary"
              text
              @click="$emit('cancel')"
          >
              {{ $t('template.variables.cancel') }}
          </v-btn>
          <v-btn
              @click="$emit('delete')"
              tile
              color="primary"
          >
              <v-icon left>
                  check
              </v-icon>
              {{
                  $t('alert.suppression.button')
              }}
          </v-btn>
      </template>

  </alert-dialog-component>
</template>

<script>
import AlertDialogComponent from './AlertDialogComponent'

export default {
  name: "SuppressionAlertComponent",
  components: {AlertDialogComponent},
  props: {dialog: Boolean},

}
</script>

<style scoped>

</style>
