<div class="modal-content modal-confirmation">
  <div class="modal-header">
    <h4 class="modal-title pull-left modal-confirmation-txt">{{title}}</h4>
    <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="vcenter"><em class="fas fa-question text-primary fa-4x p-r-5 p-l-3"></em>{{message}}</div>
  </div>
<div class="modal-footer">
  <div class="pull-right">
    <button (click)="modalRef.hide()" class="btn btn-md  btn-secondary" data-dismiss="modal"
            type="button">Non
    </button>
    <button (click)="conifrmer()" class="btn btn-md btn-primary" data-dismiss="modal" type="button">
      Oui
    </button>
  </div>
</div>
</div>
