<div class="modal-content modal-success">
  <div class="modal-header">
    <h4 class="modal-title pull-left modal-success-txt">{{title}}</h4>
    <button (click)="close()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="vcenter"><em class="fas fa-check text-success fa-4x p-r-5 p-l-3"></em>{{message}}</div>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button (click)="close()"
              class="btn btn-md btn-secondary" data-dismiss="modal" type="button">
        Fermer
      </button>
    </div>
  </div>
</div>
