/*------------------------------------------------------------------
[1.4 Body]
*/

$atx-body_footer-group-border-top: 1px solid #DEDEDE !default;
$atx-body_footer-group-border-bottom: 1px solid $atx-base-color !default;

.atx-body {
  margin: 0 3% $atx-base-unit*4 3%;

  min-height: 100%;

  padding-top: $atx-header-base-height;
  margin-top: -($atx-header-base-height + 1);
  padding-bottom: $atx-footer-base-height;
  margin-bottom: -$atx-footer-base-height;

  .affix-header & {
    margin-top: $atx-base-unit*4;
  }

  .administration:not(.hide-sidebar) &,
  .statistiques & {
    * {
      @include box-sizing(initial);
    }
    margin-left: 0;
    margin-right: 0;

    .main-part {
      margin-left: 182px;
      margin-right: 10px;
    }

  }

  .atx-page-login & {
    padding-top: $atx-base-unit*9;
    margin-top: -($atx-base-unit*9);
    height: 100%;
  }

  .atx-message-warning {
    padding: 10px;
    font-size: 14px;
  }

  .jumbotron .page-header {
    border-bottom: 1px solid #ccc;
  }

  .atx-body_footer {

    &.affix {

      @include transition(all 0.3s ease);

      position: fixed !important;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      box-shadow: 0 2px $atx-base-unit*2 0 rgba(0, 0, 0, 0.26);
      background: #fff;

      .atx-body_footer-wrap {
        margin: 0 5%;
      }
    }

    &.affix-bottom {
      top: inherit !important;
      position: inherit !important;
    }

    .atx-body_footer-group {
      padding-top: $atx-base-unit;
      margin-top: $atx-base-unit;
      padding-bottom: $atx-base-unit;
    }

    .atx-body_footer-group + .atx-body_footer-group {
      border-top: $atx-body_footer-group-border-top;
      margin-top: 0;
    }
  }

}
