@mixin table-btn-styles() {
  display: block;
  width: $atx-base-unit*4;
  height: $atx-base-unit*4;
  line-height: $atx-base-unit*4;
  text-align: center;
  padding: 0;
  margin: 0;
  .fa {
    line-height: $atx-base-unit*4;
  }
}

.table-results {

  .btn-ico {
    @include table-btn-styles()
  }

}