<div class="card border-left-primary border-left-3" [ngClass]="{'card-inactif':!_model.actif}"
     *ngIf="model && model.etat !== 2">
  <div class="card-content">
    <div class="card-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="account-vertical-general"
             aria-labelledby="account-pill-general" aria-expanded="true">
          <div class="row-between">
            <div>
              <h4><span style="font-weight: 600;"> {{model.referenceClause}}
                <div title="Type de clause"
                     class="badge badge-pill badge-primary primary-client-bg-border margin-left-5px badge-sm">
                  {{model.labelTypeClause}}
                </div>
                <div [title]="'blocRecapClause.txt.version' | translate" *ngIf="!!_model.lastVersion; else elseBlock"
                     class="badge badge-pill badge-primary primary-client-bg-border margin-left-5px badge-sm">
                    {{model.lastVersion}}
                </div>
                <ng-template #elseBlock>
                  <div [title]="'blocRecapClause.txt.version' | translate"
                       class="badge badge-pill badge-primary primary-client-bg-border margin-left-5px badge-sm">
                    NA
                </div>
                </ng-template>
             <div title="Etat" *ngIf="_model.actif"
                  class="badge badge-pill badge-glow badge-success margin-left-5px badge-sm">
                  Actif
                </div>
                <div title="Etat" *ngIf="!_model.actif"
                     class="badge badge-pill badge-glow badge-danger margin-left-5px badge-sm">
                  Inactif
                </div>
              </span>
                <br/>
                <div class="badge-top">
                  <div *ngFor="let nature of refNature" [title]="nature.label"
                       class="badge badge-pill badge-glow {{getPrestationClass(nature.id)}}  badge-square margin-right-5px badge-sm">
                    <i [class]="getPrestationsIcons(nature.id)"></i>
                  </div>
                </div>
              </h4>

            </div>

            <div class="date-statut">
              <div>
                <span [title]="'selectionCanevas.txt.dateCreation' | translate">
                  <i class="la la-save"></i>
                  {{model.dateCreation | date: 'dd/MM/yyyy HH:mm' : 'fr-FR'}}</span> <br/>
                <span [title]="'selectionCanevas.txt.dateModification2' | translate"><i class="la la-edit"></i>
                  {{model.dateModification | date: 'dd/MM/yyyy HH:mm' : 'fr-FR'}}</span>
              </div>
              <div class="badge-top">
                <span *ngFor="let statut of refStatut">
                  <span [ngClass]="getStatutBadge(statut.id)"
                        [title]="statut.label">{{getStatutBadgeCode(statut.id)}}
                  </span>
                </span>
              </div>
            </div>
          </div>
          <hr>
          <div *ngIf="showDetails">
            <div class="row " *ngIf="showDetails">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div>
                  <h6><strong>{{"blocRecapClause.txt.theme" | translate}}</strong>
                    <span *ngIf="!!model.labelThemeClause; else emptyThemeBlock"> {{model.labelThemeClause}}</span>
                    <ng-template
                      #emptyThemeBlock> {{"redaction.toutTheme" | translate}}</ng-template>
                  </h6>
                </div>

              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div>
                  <h6><strong>{{"blocRecapClause.txt.typeAuteur" | translate}}</strong>
                    <span> {{model.labelTypeAuteur}}</span>
                  </h6>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="!!model.motsCles">
                <div>
                  <h6><strong>{{"blocRecapClause.txt.motsCles" | translate}}</strong>
                    <span> {{model.motsCles}}</span>
                  </h6>
                </div>
              </div>
              <div class="col-12" *ngIf="hasInfobulle()">
                <div>
                  <h6><strong>Infos bulles:</strong>
                    <span> {{model.infoBulleText}}</span>
                    <a *ngIf="!!model.infoBulleUrl && model.infoBulleUrl.length > 0" [href]="model.infoBulleUrl"
                       target="_blank"
                       class="ml-1" [title]="'external-open' | translate"
             >
            <i class="ft-external-link"></i>
          </a>

                  </h6>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <h6><strong>{{"creationCanevas.txt.typeContrat" | translate}}</strong>
                  <ng-container *ngIf="!!model.typesContrat && model.typesContrat.length > 0; else emptyContratBlock">
                    <span *ngFor="let typeContrat of model.typesContrat; let last = last"> {{typeContrat.label}} <span *ngIf="!last"> - </span></span>
                  </ng-container>
                  <ng-template
                    #emptyContratBlock> {{"redaction.toustypeContrat" | translate}}</ng-template>
                </h6>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <h6><strong>{{"ParametrageClause.txt.procPass" | translate}}</strong>
                  <span *ngIf="!!model.procedure; else emptyProcedureBlock"> {{model.procedure.label}} ({{model.procedure.shortLabel}})
                  </span>
                  <ng-template
                    #emptyProcedureBlock> {{"redaction.toutesProcedure" | translate}}</ng-template>
                </h6>
              </div>

              <div class="col-12">
                <div>
                  <h6 ><strong>Contexte:</strong>
                    <span container="body"
                          [ngbTooltip]="tipContent" triggers="click:blur"> {{model.context}}</span>
                    <ng-template #tipContent>
                      <div [innerHTML]="model.contextHtml"></div>
                    </ng-template>
                  </h6>

                </div>
              </div>
            </div>
            <hr>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <a>
              <span (click)="showDetails=true" *ngIf="!showDetails">
                <i class="ft-plus"></i> {{'plus-info' | translate}}
              </span>
                  <span (click)="showDetails=false" *ngIf="showDetails">
                <i class="ft-minus"></i>  {{'moins-info' | translate}}
              </span>

                </a>
                <div class="float-md-right">
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          (click)="showHistoric()"
                          *ngIf="model.clauseEditeur && model.idLastPublication"><i
                    class="ft-clock"></i>
                    {{"gabarit.modeles.list.historique" | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          (click)="preview()"><i
                    class="fa fa-eye"></i>
                    {{"blocRecapClause.btn.previsualiser" | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          [authorizedRoles]="administrationRoles"
                          *ngIf="!readOnly && isModifiable()"
                          (click)="modify()">
                    <i class="ft-edit-1"></i>
                    {{"blocRecapClause.btn.modifier" | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          [authorizedRoles]="administrationRoles"
                          *ngIf="!readOnly && isOverloadeable()"
                          (click)="overload()"><i
                    class="fa fa-wrench"></i>
                    {{"redaction.action.surcharger" | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          *ngIf="!readOnly && isParametrable()"
                          (click)="configureClause()"><i
                    class="fa fa-wrench"></i>
                    {{"ParametrageClause.txt.parametrer" | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          [authorizedRoles]="administrationRoles"
                          *ngIf="!readOnly"
                          (click)="duplicate()"><i
                    class="fa fa-copy"></i>
                    {{"blocRecapClause.btn.dupliquer" | translate}}
                  </button>
                  <button type="button" class="btn btn-warning btn-sm color-white margin-right-5px"
                          *ngIf="!readOnly && isModifiable() && (model.idStatutRedactionClausier === 2 || model.idStatutRedactionClausier === 3)"
                          (click)="updateStatut(1)"><i class="ft-alert-triangle"></i>
                    {{"blocRecapClause.btn.refuser" | translate}}
                  </button>
                  <button type="button" class="btn btn-danger btn-sm color-white margin-right-5px"
                          *ngIf="!readOnly && isModifiable()"
                          (click)="delete()"
                  >
                    <i class="fa fa-trash"></i>
                    {{"blocRecapClause.btn.supprimer" | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                          *ngIf="!readOnly && isModifiable() && model.idStatutRedactionClausier === 1"
                          (click)="updateStatut(2)"><i class="ft-user-check"></i>
                    {{"blocRecapClause.btn.demanderValidation" | translate}}
                  </button>
                  <button type="button" class="btn btn-success color-white btn-sm margin-right-5px"
                          *ngIf="!readOnly && isModifiable() && model.idStatutRedactionClausier === 2 "
                          (click)="updateStatut(3)"><i class="ft-check"></i>
                    {{"blocRecapClause.btn.valider" | translate}}
                  </button>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

