label {
  margin-top: 10px;
}

.date-statut {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

badge-top {
  margin-top: 5px;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-custom-class {
  width: 50vw;
}
