<h2>Rédaction d'un message</h2>

<ltexec-contrat-recap *ngIf="!masquerNavigation" [contrat]="contrat"></ltexec-contrat-recap>
<div *ngIf="contexte" [innerHTML]="getMessecHtml('messagerie-redaction') | safeHtml"></div>

<div #autoShownModal="bs-modal" (onHidden)="showEspaceDocumentaire=false" *ngIf="showEspaceDocumentaire" [config]="{ show: true }"
     aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
<ltexec-document-selection (selection)="onSelectedDocs($event)" *ngIf="documents.length > 0" [contratId]="contratId"
                           (onClodeModal)="showEspaceDocumentaire=false"
                           [documents]="documents"></ltexec-document-selection>
</div>
