<div *ngIf="alert" class="alert show alert-icon-left mb-2 alert-{{alert.type}} fade alert-dismissible">
  <span class="alert-icon" *ngIf="alert.icon">
    <i class="la {{alert.icon}}"></i>
  </span>
  <div *ngFor="let message of alert.messages; let index=index">
    <div *ngIf="!alert.clickable" [innerHTML]="(message | translate)"></div>
    <a *ngIf="alert.clickable" [innerHTML]="(message | translate)" (click)="selectMessage(index)"></a>
  </div>
  <button type="button" aria-label="Close" class="btn btn-close" (click)="close()">
    <i class="la la-close"></i>
  </button>
</div>
