<ng-template #popper>
    <div *ngIf="etablissement">
        <!-- Content for Popover Entreprise -->
        <div>
            <div class="popover-body">
                <div>{{ etablissement?.adresse?.adresse }},
                    <br>
                    {{ etablissement?.adresse?.codePostal }} {{ etablissement?.adresse?.commune }}
                </div>

                <ng-template>
                    <div>
                        <abbr>
                            <fa-icon [icon]="['fas','user']">
                                <span class="sr-only">Contact</span>
                            </fa-icon>
                        </abbr>
                        Contact : {{ etablissement?.fournisseur?.prenom }} {{ etablissement?.fournisseur?.nom }}
                    </div>
                </ng-template>

                <ng-template [ngIf]="etablissement?.fournisseur?.email != null">
                    <div class="voffset1">
                        <abbr>
                            <fa-icon [icon]="['fas','envelope']">
                                <span class="sr-only">Email</span>
                            </fa-icon>
                        </abbr>
                        <a href="mailto:{{etablissement?.fournisseur?.email}}">{{ etablissement?.fournisseur?.email }}</a>
                    </div>
                </ng-template>

                <ng-template [ngIf]="etablissement.fournisseur?.telephone != null">
                    <div>
                        <abbr>
                            <fa-icon [icon]="['fas','phone']">
                                <span class="sr-only">Téléphone</span>
                            </fa-icon>
                        </abbr>
                        {{ etablissement?.fournisseur?.telephone }}
                    </div>
                </ng-template>
                <ng-template [ngIf]="etablissement?.siret != null">
                    <div>
                        <abbr>
                            <fa-icon [icon]="['fas','building']">
                                <span class="sr-only">SIRET</span>
                            </fa-icon>
                        </abbr>
                        {{ etablissement?.siret }}
                    </div>
                </ng-template>
                <a (click)="ouvrirFicheFournisseur(etablissement.fournisseur.uuid)"
                   class="btn btn-primary btn-xs voffset2">
                    <fa-icon [icon]="['fas','search']"></fa-icon>
                    Voir la Fiche Fournisseur
                </a>
            </div>
        </div>
    </div>
</ng-template>
<a #pop="bs-popover" *ngIf="etablissement" [outsideClick]="true"
   [popoverTitle]="etablissement?.fournisseur?.raisonSociale" [popover]="popper">
    {{etablissement.fournisseur?.raisonSociale}}
    - {{etablissement.adresse?.codePostal}} {{etablissement.adresse?.commune}}
</a>
<!-- Modales -->
<!-- Modales -->
<div #autoShownModal="bs-modal" (onHidden)="isModaleFicheForunisseurShown=false"
     *ngIf="isModaleFicheForunisseurShown" [config]="{ show: true, backdrop: 'static'}"
     aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Titre de la modale -->
                <h4 class="modal-title" id="modal-contrat-label">Création d'un nouveu fournisseur</h4>
            </div>
            <div class="modal-body">
                <ltexec-fournisseur-fiche [hideNavigation]="true"
                                          [uuid]="etablissement?.uuidFournisseur"></ltexec-fournisseur-fiche>
            </div>
            <div class="modal-footer">
                <!-- Boutons de la modale -->
                <button (click)="isModaleFicheForunisseurShown=false" class="btn btn-default" type="button">Annuler
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modales -->


