<div style="font-family: Verdana, sans-serif; color: #333; padding: 15px 0;">
    <div>
        <img src="https://simap-prep.b2g-test.etat.lu/themes/images/bandeau-email.jpg">
        <br/>
        <strong>Communication à utiliser pour la facturation</strong>
        <div>
            << Avis no : 2300099, Fresque murale 2 >>
        </div>
        <div> Veuillez faire parvenir la facture à l'adresse suivante :</div>
        <div> 9 rue de vintimilles</div>
        <div> ismail.atitallah@atexo.com</div>
        <div>Logo à publier A Compléter</div>
        <div><strong> En cas de problème, veuillez contacter :</strong></div>
        <div>DURANT Pierre</div>
        <div> e-mail 11362@atexo.com</div>
        <div> Téléphone 0123456789</div>
        <div> Fax 0123456789</div>
        <div> Organe de presse Kévin Journal</div>
        <div> Mesdames, Messieurs,

            Veuillez trouver ci-joint un Avis national de marché à faire publier dans votre prochaine édition.
        </div>
        <br/>

        <div>Cordialement,</div>
        <div> Portail des Marchés Publics Merci de votre intérêt pour ce marché. Portail des
            Marchés Publics Internet: http://www.marches.public.lu
        </div>
    </div>


</div>
