<ng-template #popper>
    <div *ngIf="utilisateur!=null">
        <div *ngIf="utilisateur.service != null && utilisateur.service.nom != null">
            <fa-icon [icon]="['fas','sitemap']"
            ><span
                class="sr-only">Direction/Service</span></fa-icon>
            {{utilisateur.service.nom }}
        </div>
        <div *ngIf="utilisateur.email != null">
            <fa-icon [icon]="['fas','envelope']"><span
                class="sr-only">Email</span></fa-icon>
            <a href="mailto:{{utilisateur.email}}">{{utilisateur.email}}</a>
        </div>
        <div *ngIf="utilisateur.telephone != null">
            <fa-icon [icon]="['fas','phone']"><span
                class="sr-only">Téléphone</span></fa-icon>
            {{utilisateur.telephone}}
        </div>
    </div>
    <!-- // Fin Content for Popover Agent -->

</ng-template>
<a [outsideClick]="true" [popover]="popper" popoverTitle="{{utilisateur.prenom}} {{utilisateur.nom | uppercase }}">
    {{utilisateur.prenom}} {{utilisateur.nom | uppercase }}
</a>
