/*------------------------------------------------------------------
[6.1 Table theme offers]
  [6.1.1 Scope Variable]
  [6.1.2 Table theme offers]
*/

// [6.1.1 Scope Variable]

$atx-table-theme_bloc-table_header-color: $atx-base-color !default;
$atx-table-theme_bloc-table_header-background: #fff !default;
$atx-table-theme_bloc-table_header-border_bottom: none !default; //1px solid #f4f4f4 !default;
$atx-table-theme_bloc-row_pli-analysis-border-color: #f7f7f7 !default;
$atx-table-theme_bloc-row_pli-title-color: $atx-base-color !default;
$atx-table-theme_bloc-row_pli-background-color_even: #f9f9f9 !default;

$atx-table-theme_bloc-atx-lot_status-border_left: 1px solid #ffffff !default;
$atx-table-theme_bloc-atx-lot_status-border_right: 1px solid #e0e0e0 !default;

// [6.1.2 Table theme offers]
.atx-table.atx-table-bloc {

  .atx-table_options {
    &[atx-select-candidates="false"] {
      .deselected-candidates-all {
        display: none;
      }
    }
    &[atx-select-candidates="true"] {
      .select-candidates-all {
        display: none;
      }
    }

    a,
    a:hover,
    a:active,
    a:visited,
    a:focus {
      text-decoration: none;
    }
  }

  .atx-table_options-top {
    .affix-table_options-top & {
      position: fixed !important;
      top: $atx-header-base-height-affix;

      z-index: 8;
      box-shadow: 0 2px $atx-base-unit*2 0 rgba(0, 0, 0, 0.26);
      background: #fff;
      left: 0;
      right: 0;
      padding: $atx-base-unit ($atx-base-unit * 3);
      border-bottom: 1px solid #DEDEDE;
    }
    .affix-table_options-top.affix-etapes-process & {
      top: $atx-header-base-height-affix + ($atx-base-unit * 6 );
    }

  }

  .atx-table-row {

    .atx-icon-lock,
    .atx-icon-loading,
    .atx-icon-failure,
    .atx-icon-save {
      display: none;
    }
    .atx-icon-lock {
      display: block;
    }

    > .atx-table {
      //padding: 0;
      position: relative;
      > .atx-table_header {

        .atx-table_header-cols {
          background: $atx-table-theme_bloc-table_header-background;
          //border-bottom: $atx-table-theme_bloc-table_header-border_bottom;
          border: 1px solid #e0e0e0;
          position: relative;

          &:before {
            content: "";
            width: 6px;
            background-color: $atx-base-color;
            top: -1px;
            bottom: -1px;
            left: -1px;
            position: absolute;

          }

          .atx-table_header-cols_summary {
            .cell_reference {
              width: 45%;
            }
            .cell_type_date {
              width: 40%;
            }
            .cell_lots {
              //width: 10%;
              //float: left;
            }
          }
        }

        .candidate-name,
        .fold-reference {
          color: $atx-table-theme_bloc-table_header-color;
        }

        .fold-date {
          font-size: 90%;
        }

      }
      > .atx-table_row-loader.top {
        top: $atx-base-unit;
      }
      > .atx-table_body {
        display: none;

        .panel-group {
          margin-bottom: 0;
        }

        .panel-attachment,
        .panel-analysis {

          .panel-heading {
            background: #f5f5f5;
            color: #666666;
          }

          .panel-collapse {
            .panel-body {
              padding-top: 0;
            }
          }
        }

        .panel {
          border-radius: 0;
          @include box-shadow(none);
          border: 0;
          border-bottom: 1px solid #fff;
        }
        .panel + .panel {
          margin-top: 0;
          border-top: 1px solid $atx-table-theme_bloc-table_header-background;
        }

        .panel-attachment {
          table {
            &.table .table-thead {
              //background-color: #f7f7f7;
            }

            &.table .table .table-thead {
              background-color: inherit;
            }

            .sub-table th[colspan] {
              background-color: #f7f7f7;
              color: #1976D2;
              border: 0;
            }
            .sub-table .sub-table th[colspan] {
              background-color: #fbfbfb;
              color: #1976D2;
              border: 0;
            }
            td {
              padding-left: 24px;
              border-top: 0;
              &[colspan] {
                padding-top: 0;
                padding-bottom: 0;
              }
            }
          }
        }

      }
    }

    &.failure {
      .atx-icon-lock,
      .atx-icon-loading,
      .atx-icon-failure,
      .atx-icon-save {
        display: none;
      }
      .atx-icon-failure {
        display: block;
      }
    }

    &.loading {
      .atx-table_row-loader {
        display: block;
      }

      .atx-icon-lock,
      .atx-icon-loading,
      .atx-icon-failure,
      .atx-icon-save {
        display: none;
      }
      .atx-icon-loading {
        display: block;
      }

    }

    &.loaded:hover {
      background-color: transparent;
    }

    &.loaded {

      .atx-icon-lock,
      .atx-icon-loading,
      .atx-icon-failure,
      .atx-icon-save,
      .cell_select {
        display: none;
      }
      .atx-icon-save {
        display: block;
      }

      .atx-table_header-cols_summary {
        .cell_lots {
          //display: block;
        }
      }

      .atx-list_pli-status {
        display: block;

        .items {
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-property: all;
          transition-property: all;
        }

        .btn-nav {
          position: absolute;
          top: 50%;
          margin-top: -6px;
          display: none;
          &.btn-prev {
            left: 3%;
          }
          &.btn-next {
            right: 3%;
          }
        }

        &.first {
          .btn-prev {
            display: none !important;
          }
        }
        &.last {
          .btn-next {
            display: none !important;
          }
        }
      }

    }

    .table.table-striped {
      margin-bottom: $atx-base-unit;
    }
  }

  .btn-group-status {
    .btn {
      //width: $atx-base-unit*20;
    }
  }

  .atx-list_pli-status {

    display: none;

    &.list {
      margin: auto;
      overflow: hidden;
    }

    .items {
      margin: 0 auto;
      padding: 0;
    }

    .atx-lot_status {
      float: left;
      padding: 0 $atx-base-unit;

      border-left: $atx-table-theme_bloc-atx-lot_status-border_left;
      border-right: $atx-table-theme_bloc-atx-lot_status-border_right;

      // update
      width: 337px;

      &.active{
        position: relative;

        &:after, &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
        }
        &:after {
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent #e0e0e0 transparent;
          z-index: 10;
          top: -6px;
          right: 50%;
        }
        &:before {
          border-width: 0 5px 5px 5px;
          border-color: transparent transparent #fff transparent;
          position: absolute;
          z-index: 11;
          top: -5px;
          right: 50%;
          margin-right: 1px;
        }

        .atx-lot_status-header {
          color: $atx-table-theme_bloc-row_pli-title-color;
        }
      }


      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      .atx-lot_status-header {
        color: #b0b0b0;
        font-weight: bold;
        text-align: center;
        padding-bottom: $atx-base-unit/2;
      }
      .atx-lot_status-body {
        font-size: 10px;

        .btn-status-progress {
          $btn-status-progress-color_default: #333333 !default;
          $btn-status-progress-background-color_default: #FFFFFF !default;
          $btn-status-progress-border-color_default: #CCCCCC !default;

          color: $btn-status-progress-color_default;
          background-color: $btn-status-progress-background-color_default;
          border-color: $btn-status-progress-border-color_default;
        }

        .btn {
          text-align: center;
          @include box-shadow(none); // Redeclare so transitions work
          cursor: default;
        }

        .status-group {
          overflow: hidden;
          .status {
            float: left;
            .btn {
              display: none;
              &.active {
                display: block;
              }
            }

          }
        }

      }

      .btn-status-progress {
        display: none;
      }
      .btn-group-status {
        display: block;
      }

      .inline-block {
        display: inline-block;
      }

      &[atx-status="progress"] {
        .btn-status-progress {
          display: block;
        }
        .btn-group-status {
          display: none;
        }

      }

      &.md {
        width: 306px;
      }

      &.sm {
        width: 206px;
      }

      &.xs {
        width: 106px;
      }

    }
  }

  .atx-list_pli-analysis {
    .atx-row_pli-header,
    .atx-row_pli-title {
      display: none;
    }

    &.list {

      .atx-row_pli {
        padding-left: $atx-base-unit*2;
        padding-right: $atx-base-unit*2;
        padding-top: $atx-base-unit;
      }

      .atx-row_pli-header {
        display: block;
        background: #f9f9f9;
        border-bottom: 1px solid $atx-table-theme_bloc-row_pli-analysis-border-color;
        //margin-top: -15px;
      }

      .atx-row_pli-title {
        display: block;
        color: $atx-table-theme_bloc-row_pli-title-color;
        font-weight: bold;
        font-size: 120%;
        margin-bottom: 8px;
        margin-left: 0;
      }

      .atx-row_pli-body {
        .atx-row_pli-header {
          border-bottom: none;
        }
        .atx-row_pli {
          border-top: 1px solid $atx-table-theme_bloc-row_pli-analysis-border-color;
          &:first-child {
            border-color: lighten($atx-table-theme_bloc-row_pli-analysis-border-color, 10%);
          }
        }

        .atx-row_pli + .atx-row_pli {
          padding-bottom: 0;

          &:nth-child(even) {
            background: $atx-table-theme_bloc-row_pli-background-color_even;
          }
        }
      }

    }

  }

}

