<div class="row">
  <div class="col-md-12 mb-md-0">
    <div class="card mb-1">
      <div class="card-content">
        <div class="card-body">
          <div class="row mb-1">
            <div class="col-12 critere">
              <h5 [title]="'publicationClausier.listPublicationClausier.title' | translate"><label>{{"RechercherClause.txt.motsCles" | translate}}</label></h5>
              <input [(ngModel)]="filter.version" class="form-control" type="text" name="version" style="width: 100%"
                     >
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore" style="padding-left: 0px!important;">
              <div class="controls">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <h5><label>{{"publicationClausier.listPublicationClausier.datePublication" | translate}}</label></h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                              Après le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filter.datePublicationMin"
                          type="date"
                          class="form-control"
                          name="datePublicationMin"
                          id="datePublicationMin"
                          max="{{maxDate | date:'yyyy-MM-dd'}}"
                          min="{{minDate | date:'yyyy-MM-dd'}}"
                          ngModel
                          style="display:inline;">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon2">
                              Avant le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filter.datePublicationMin"
                          type="date"
                          class="form-control"
                          name="datePublicationMax"
                          id="datePublicationMax"
                          max="{{maxDate | date:'yyyy-MM-dd'}}"
                          min="{{minDate | date:'yyyy-MM-dd'}}"
                          style="display:inline;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"publicationClausier.listPublicationClausier.gestionLocale" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="gestionSelect" name="selectGestion" [(ngModel)]="filter.gestionLocale">
                    <option *ngFor="let item of choixGestion"
                            [value]="item.id">{{item.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

          </div>

          <hr/>
          <div class="row d-flex align-items-center">
            <div class="col-md-6 col-sm-12" >
              <a class="primary-client">
                              <span *ngIf="!showMore"  (click)="showMore= true"><i class="la la-plus"></i>
                                {{"redaction.plusCriteres" | translate}}
            </span>
                <span *ngIf="showMore" (click)="showMore= false"><i class="la la-minus"></i>
                  {{"redaction.moinsCriteres" | translate}}
            </span>
              </a>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="float-md-right">
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px" (click)="reInitFilter()"><i class="fa fa-eraser"></i>
                  {{"rechercherCanevas.txt.initRecherche" | translate}}
                </button>
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm" (click)="rechercher()"><i class="ft-search"></i>
                  {{"rechercherCanevas.txt.rechercherVersion" | translate}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


