//modals
.modal {
    overflow: auto !important;
}
.modal-title {
  font-weight: bold;
  overflow: hidden;
  font-family: 'robotobold', "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  border-bottom: none;
}

.modal-header {
  padding: 1rem;
  min-height: 40px;
  overflow: visible;

  &:before,
  &:after {
    display: none;
  }

  .close {
    box-shadow: none;
    color: $dark-grey2;
    font-size: 2.4rem;
    font-family: 'robotolight', "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    opacity: 1;
    height: 20px;
  }
}

.modal-body {
  padding: 1.55rem;
}

.modal-footer {
  background-color: $lightest-grey2;
  border-top: 1px solid $light-grey;
  padding: 1.55rem;
}

.modal-dialog {
  max-width: 900px !important;
  top: 150px;
}

.modal-backdrop {
  background-color: rgba(138, 145, 138, 0.5)
}


.modal-large {
  .modal-dialog {
    height: auto;
    max-width: 55%;
    margin: 3% auto;
  }
}

.modal-error {
  border: 3px solid $border-danger;
}

.modal-error-txt {
  color: $border-danger;
  font-weight: bold;
}

.modal-confirmation {
  border: 3px solid $alert-info-dark-border;
}

.modal-confirmation-txt {
  color: $alert-info-dark-border;
  font-weight: bold;
}

.modal-success {
  border: 3px solid $alert-success;
}

.modal-success-txt {
  color: $alert-success;
  font-weight: bold;
}

.modal-dialog-scrollable {
    max-height: calc(100vh - 7.5rem);
    margin-bottom: 30px !important;
}

.modal-full-width {
    horizontal-align: center;
    min-width: 90vw;
    max-height: 95vh;
    width: 90vw !important;
}

.modal-xxl {
    horizontal-align: center;
    width: 90vw !important;
    max-height: 90vh;
}
