// Variables
:root {
    --color-primary: #3d6ba6;
    --color-link: #3d6ba6;
    --color-secondary: #fbb045;
    --color-danger: #d43f3a;
    --color-warning: #ff0000;
    --color-success: #398439;
    --color-info: #689fd1;
    --color-default: #777777;
    --color-off: #ddd;
    --color-base: #333;
    --font-family-sans-serif: Arial, Helvetica, sans-serif;
}


// Paths
$font-path: "../assets/fonts/";
$img-path: "../assets/img/";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";

// Typography
$font-family-sans-serif: var(--font-family-sans-serif);
//$font-family-sans-serif: 'Marianne', Arial, Helvetica, sans-serif !default;
$fontAwesome: 'Font Awesome 5 Free' !default;

// Color
$color-base: var(--color-base);
$color-link: #3d6ba6 !default;
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-danger: #d43f3a !default;
$color-warning: #ff0000 !default;
$color-success: #398439 !default;
$color-info: #689fd1 !default;
$color-default: #777777 !default;
$color-off: #ddd !default;
$white: #ffffff;
$black: #000000;
$black2: #333333;
$darker-blue: #004494;
$darker-blue_hover: #2660a4;
$dark-blue: #006fb4;
$blue: #2660a4;
$darker-grey: #212121;
$dark-grey2: #616161;
$dark-grey: #757575;
$grey: rgba(0, 0, 0, .125);
$grey2: #D2D2D2;
$light-grey: #eeeeee;
$lighter-grey: #ececec;
$lightest-grey: #fafafa;
$lightest-grey2: #f5f5f5;
$darker-orange: #ee821d;
$orange: #f4a547;
$yellow: #FFCB00;

//alert colors
$alert-info: #2685bf;
$alert-info-border: #4d9acb;
$alert-info-dark-border: #004494;
$alert-success: #628e57;
$alert-success-border: #7ea274;
$alert-warning: #f4a547;
$alert-warning-border: #f6b568;
$alert-danger: #e0424f;
$alert-danger-border: #e5646e;
$tag-alert-info-border: #006fb4;
$tag-alert-info: #005ca4;

$bg-danger: #da2130;
$bg-danger--hover: #e0424f;
$border-danger: #da2130;

// Buttons
$btn-default-color: $color-primary !default;
$btn-default-border-color: color-mix(in srgb, $color-primary, #000 15%);
$btn-hover-color: color-mix(in srgb, $color-primary, #ddd 15%);
$btn-hover-border-color: color-mix(in srgb, $color-primary, #ddd 15%) !default;
$btn-border-color: $color-primary !default;
$btn-disabled-color: #ddd !default;
$btn-disabled-border-color: #ddd !default;
$btn-box-shadow-top: default;
$btn-box-shadow-left: default;
$btn-box-shadow-blur: default;
$btn-box-shadow-color: default;
$btn-box-shadow-inset: default;

// Border-radius
$border-radius-flat: 0 !default;
$border-radius-default: default;
$border-radius: default;

// Links
$link-default-color: $color-link !default;
$link-hover-color: color-mix(in srgb, $link-default-color, #000 15%) default;

// Panels
$panel-bg: #eee !default;
$panel-title-color: $color-primary !default;
$panel-bg-highlight: $color-primary !default;
$panel-table-border: 1px solid #ddd !default;
$panel-table-header-footer-bg: #f9f9f9 !default;

// Sidebar
$menu-color: $color-primary !default;
$menu-bg: #f5f5f5 !default;
$menu-border-color: #dddddd;
$menu-border-size: 1px;
$menu-border: $menu-border-size solid $menu-border-color !default;
$menu-actif-bg: #689fd1 !default;
$menu-actif-color: #fff !default;
$menu-actif-border: #ddd !default;
$sous-menu-border: 1px solid #d6d3ce !default;
$sous-menu-background: #fff !default;
$menu-link-color: $color-primary !default;

// Navbar
$navbar-header-height: 50px !default;
$navbar-brand-height: 30px !default;
$navbar-brand-width: 500px !default;

$navbar-start-color: #fefefe !default;
$navbar-end-color: #e8e8e8 !default;
$navbar-start-percent: 0% !default;
$navbar-end-percent: 100% !default;

$navbar-box-shadow-top: 0 !default;
$navbar-box-shadow-left: 0 !default;
$navbar-box-shadow-blur: 0 !default;
$navbar-box-shadow-color: $color-off !default;
$navbar-box-shadow-inset: false !default;

// Tables
$bordered-table-thead-bg: #eee !default;
$table-hover-color: #fff7d8 !default;

// Body
$body-bg-color: #ffffff !default;

// Modals
$action-button-width: 42px;
$action-button-height: 42px;
$action-button-gap: 2px;
