/*General*/
@import "./variables";

@font-face {
    font-family: 'Marianne';
    font-weight: normal;
    font-style: normal;
    src: url("#{$font-path}/marianne/Marianne-Regular.woff") format("woff"),
    url("#{$font-path}/marianne/Marianne-Regular.woff2") format("woff2")
}

@font-face {
    font-family: 'Marianne';
    font-weight: normal;
    font-style: italic;
    src: url("#{$font-path}/marianne/Marianne-Regular_Italic.woff") format("woff"),
    url("#{$font-path}/marianne/Marianne-Regular_Italic.woff2") format("woff2")
}

@font-face {
    font-family: 'Marianne';
    font-weight: bold;
    font-style: normal;
    src: url("#{$font-path}/marianne/Marianne-Bold.woff") format("woff"),
    url("#{$font-path}/marianne/Marianne-Bold.woff2") format("woff2")
}

@font-face {
    font-family: 'Marianne';
    font-weight: bold;
    font-style: italic;
    src: url("#{$font-path}/marianne/Marianne-Bold_Italic.woff") format("woff"),
    url("#{$font-path}/marianne/Marianne-Bold_Italic.woff2") format("woff2")
}

@font-face {
    font-family: 'custom';
    src: url('#{$font-path}custom/custom.eot?xz6fpr');
    src: url('#{$font-path}custom/custom.eot?#iefixxz6fpr') format("embedded-opentype"), url('#{$font-path}custom/custom.ttf?xz6fpr') format("truetype"), url('#{$font-path}custom/custom.woff?xz6fpr') format("woff"), url('#{$font-path}custom/custom.svg?xz6fpr#custom') format("svg");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

* {
    font-family: $font-family-sans-serif $fontAwesome;
}

@-moz-document url-prefix() {
    abbr[title]:not(.categorie) {
        border: 0;
    }
}

abbr {
    &.btn-link, &.icon {
        border: 0;
    }
}

.completer-limit .completer-dropdown {
    overflow-y: auto;
    max-height: 20rem;
    width: 95% !important;
    border-color: #ccc;
    @include border-radius(3px);
    padding: 3px 10px 0;
    line-height: normal;
    box-shadow: none;

    .completer-selected-row {
        background: #7d8797;
    }

}

.noResult {
    color: #0f0f0f;
    font-weight: normal !important;
}

.off {
    color: $color-off !important;
}

.matchCompleter {
    text-decoration: underline !important;
}

a {
    cursor: pointer !important;
    color: $link-default-color;

    &:hover, &:focus {
        color: $link-hover-color;
    }

    &.btn-link {
        &:hover {
            text-decoration: none;
            color: $link-hover-color;
        }

        &.off:hover {
            color: $link-hover-color !important;
        }
    }
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top: 2px;
}

.normal {
    font-weight: normal;
}

h4 {
    font-size: 1em;
    font-weight: 600;
    color: $panel-title-color;
}

div[class^="voffset"] {
    clear: both;
}

.voffset {
    margin-top: 2px !important;
}

.voffset1 {
    margin-top: 5px !important;
}

.voffset2 {
    margin-top: 10px !important;
}

.voffset3 {
    margin-top: 15px !important;
}

.voffset4 {
    margin-top: 30px !important;
}

.voffset5 {
    margin-top: 40px !important;
}

.voffset6 {
    margin-top: 60px !important;
}

.voffset7 {
    margin-top: 80px !important;
}

.voffset8 {
    margin-top: 100px !important;
}

.voffset9 {
    margin-top: 150px !important;
}

.indent-1 {
    padding-left: 10px !important;
}

div[class^="col-fixed"] {
    display: inline-block;
}

.col-fixed-1 {
    width: 30px;
}

.col-fixed-2 {
    width: 60px;
}

.col-fixed-3 {
    width: 90px;
}

.col-fixed-4 {
    width: 120px;
}

.col-fixed-5 {
    width: 150px;
}

.col-fixed-6 {
    width: 180px;
}

.col-fixed-7 {
    width: 210px;
}

.col-fixed-8 {
    width: 240px;
}

.col-fixed-9 {
    width: 270px;
}

.col-fixed-10 {
    width: 300px;
}

.col-fixed-11 {
    width: 330px;
}

.col-fixed-12 {
    width: 360px;
}

div.inline {
    display: inherit;
}

.form-condensed .form-group {
    margin-top: 0;
    margin-bottom: 5px;
}

.text-danger {
    color: #d43f3a;
}

.form-horizontal .bloc .form-group {
    padding-top: 7px;
}

#bloc-loader {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 9999999;
    text-align: center;
    opacity: 0.7;
    display: none;

    .loader {
        background: url(#{$img-path}ajax-loader.gif) #767676 no-repeat center 10px;
        width: 120px;
        @include border-radius(4px);
        opacity: 1;
        position: relative;
        top: 30%;
        color: #fff;
        left: 50%;
        margin-left: -60px;
        padding: 50px 0 10px;
    }

    i {
        font-size: 2.5em;
        display: block;
        margin-bottom: 20px;
    }
}

.text-xl {
    font-size: 2em;
    font-weight: 400;
}

.text-md {
    font-size: 1.4em;
    font-weight: 400;
}

.row {
    padding: 5px 0;
}

.row.no-gutter {
    padding: 0;
}

.sidebar {
    width: 180px;
    float: left;
}

.container-fluid {
    max-width: 1366px;
    min-width: 984px;

    .content > h2, .content > h2 + .btn {
        margin-bottom: 20px;
    }
}

.sidebar {
    .glyphicon {
        display: none;
    }

    ul {
        padding: 0;

        > li {
            list-style-type: none;
            margin-bottom: 5px;

            a {
                color: $menu-color;

                &.collapsed {
                    border-bottom-width: 1px;
                    @include border-radius(4px);
                }

                padding: 10px;
                display: block;
                background: $menu-bg;
                border-style: solid;
                border-color: $menu-border-color;
                border-width: 1px 1px 0 1px;
                @include border-radius(4px 4px 0 0);
                margin-bottom: 0;
                text-decoration: none;
            }
        }

        ul {
            border: $sous-menu-border;
            background: $sous-menu-background;
            margin-bottom: 5px;
            @include border-radius(0 0 4px 4px);

            a {
                background: none;
                padding: 0;
                border: 0;

                &:hover {
                    text-decoration: underline;
                }
            }

            ul {
                border: 0 !important;
                padding: 0 !important;
            }

            li {
                padding: 5px 10px;

                a {
                    color: $menu-link-color;
                }
            }
        }
    }
}

.quick-search .input-group-btn .fa {
    font-size: 1.2em;
}

.sidebar ul li.active > a {
    background: $menu-actif-bg;
    color: $menu-actif-color;
}

div.tagsinput {
    width: 100% !important;
    @include border-radius(3px);
    padding: 3px 5px 0;

    input {
        color: #999;
    }
}

.daterange {
    width: 200px;
}

.message-preview {
    color: #999;
    position: relative;
    margin-bottom: 20px;
    zoom: 1;
}

.btn-statut {
    .btn-primary {
        background-color: #fff;
        color: #666;
    }

    .active {
        background-color: $color-secondary;
        color: #fff;
        text-shadow: none;
    }
}

.btn-group {
    margin-right: 10px;

    .icone {
        display: inline-block;
        background-repeat: no-repeat;
        height: 15px;
        width: 16px;
        background-position: center;
        overflow: visible;
        position: relative;
        top: 2px;
    }
}

.btn-group .icone, .add-favorite .icone, .btn-group .fa-star {
    display: inline-block;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    background-position: center;
    overflow: visible;
    position: relative;
    top: 2px;
}

.btn-group {
    .fa-star {
        background-image: url(#{$img-path}empty-star.png);
        margin-bottom: -2px;
        top: 0;

        &:before {
            content: '' !important;
        }
    }

    .active .fa-star {
        background-image: url(#{$img-path}full-star.png);
    }

    &.liens-rapides .fa-star {
        background-image: url(#{$img-path}star.png);
    }

    div.btn label {
        margin: 0;
        font-weight: normal;
    }
}

.icone-mon-service {
    background-image: url(#{$img-path}icone-mon-service.png);
}

.icone-services-dependants {
    background-image: url(#{$img-path}icone-services-dependants.png);
}

.add-favorite {
    .btn {
        padding: 0;
        box-shadow: none;
    }

    display: inline-block;
    width: 20px;
    height: 20px;

    .icone {
        background-image: url(#{$img-path}empty-star.png);
    }

    .active .icone {
        background-image: url(#{$img-path}full-star.png);
    }
}

/*Panels*/
.panel-group .panel {
    margin-bottom: 10px;
}

.panel {
    .panel-title {
        padding: 0 10px 15px 0;
        font-size: 1.2em;
        font-weight: 600;
        color: $panel-title-color;
    }

    h3.panel-title {
        font-size: 1em;
    }

    h5.panel-title {
        font-size: 1em;
    }

    .panel-heading {
        position: relative;

        .dropdown-toggle {
            position: absolute;
            top: 4px;
            right: 10px;
        }

        .panel-title {
            padding-bottom: 0;

            .accordion-toggle {
                margin-left: -15px;
            }

            label.radio {
                margin: 0 0 0 30px;

                input {
                    margin-top: 0;
                    pointer-events: none;
                }
            }
        }

        & .no-toggle {
            padding-top: 15px !important;
        }
    }

    .row.container-fluid {
        min-width: inherit;

        div:nth-of-type(even) {
            float: none;
        }
    }

    .panel-indent {
        padding-left: 10px;
    }

    &.panel-info, &.panel-success, &.panel-warning, &.panel-danger {
        .panel-heading {
            padding: 10px 15px;

            .panel-title, .panel-title a:hover, .panel-title a:focus {
                padding: 0;
                font-size: 1em !important;
                color: inherit !important;

                .fa {
                    padding-right: 10px;
                    vertical-align: sub;
                }
            }
        }

        .panel-body {
            background: #fff;
            @include border-radius(3px);
            color: $color-base;
        }
    }

    .panel.panel-attributaires, & .list-group {
        margin-bottom: 0;
    }
}

.panel {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.panel-edit {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.bloc-toggle {
    .panel-heading {
        padding: 0;
    }

    .panel-title {
        position: relative;
        overflow: auto;
        padding: 0 15px !important;

        a {
            display: block;
            text-decoration: none;
            color: $color-primary;
            padding: 10px 0;

            .ng-fa-icon {
                left: 0.4em;
                font-size: 1.35rem;
                color: white !important;
            }

            &:hover.website {
                text-decoration: underline;
            }
        }

        .collapsed .fa:before {
            transform: rotate(-90deg);
            left: 0.5em;
        }
    }

    h3 {
        font-size: 1em;
        font-weight: 600;
    }

    h4 {
        font-size: 1em;
        font-weight: 600;
        margin-top: 0;
    }

    .col-statut > div {
        margin-bottom: 0.5em;
    }

    .col-actions {
        > div {
            margin-bottom: 0.5em;
        }

        .btn {
            margin-right: 10px;
        }
    }

    .barre-etape {
        margin-right: 10px;
        float: left;
        margin-top: 2px;
    }
}

.bloc-recap {
    .row > div {
        display: table-cell !important;
        vertical-align: top;
    }

    .panel-title {
        div {
            display: table-cell !important;
            vertical-align: top;
        }

        .col-md-2 {
            float: left;
            width: 190px;
            padding: 0;
        }

        .col-md-10 {
            float: none;
            padding: 0;
        }
    }

    .panel-body {
        padding: 10px 15px 15px;
        display: block;

        .col-md-2 {
            width: 200px;
        }
    }
}

.panel .panel-body + .panel-body {
    border-top: 1px solid;
}

.margin-class {
    margin-left: -103px;
}

.separate {
    border-bottom: 1px solid #c1c1c1;
}

.panel-filtres {
    margin-bottom: 20px;
    color: inherit;
    background-color: $panel-bg;

    .panel-heading {
        background: $panel-bg;
        border: 0;
    }

    .panel-body {
        padding: 10px 15px;
    }

    .form-horizontal {
        display: inline-block;
        width: 100%;
    }

    .panel-body {
        overflow: inherit;
    }

    h4.panel-title a {
        font-size: 0.8em;
    }
}

.panel-body {
    /*display: inline-block !important;*/
    width: 100%;

    &:after {
        display: none;
    }
}

.panel-body:before,
.panel-body:after {
    content: "";
    display: table;
}

.recap-fournisseur, .recap-fiche-contrat {
    .panel-heading {
        width: 100%;
        background: $panel-bg-highlight !important;
    }

    .panel-title {
        font-size: 1.3em !important;
        font-weight: normal;
        display: table-cell;
        color: #fff;

        a {
            color: #fff;
            display: inline-block;
        }
    }

    .panel-footer .fa {
        font-size: 1.2em;
        height: 10px;
    }

    > a {
        display: table;
        width: 100%;
    }

    .panel-body .col-md-2 {
        width: 120px;
        float: left;
    }
}

.recap-fiche-contrat {
    .panel-title + .btn-group {
        display: inline-block !important;
        position: absolute;
        top: 4px;
    }
}

.panel-message {
    .panel-heading .panel-title {
        padding: 10px 15px;
    }

    &.bloc-toggle {
        .panel-heading .panel-title {
            border: 0;
            padding: 0 5px !important;

            a {
                padding: 10px;
                display: block;
            }
        }

        .panel-collapse {
            height: 45px;
            min-height: 45px !important;
            overflow: hidden;

            .cover {
                @include gradient-directional(transparent, #fff, 180deg);
                position: absolute;
                display: block;
                top: 0;
                width: 100%;
                height: 45px;
            }

            &.in, &.collapsing {
                height: auto;

                .cover {
                    display: none;
                }
            }
        }

        .collapse {
            display: block;
            visibility: visible;
        }
    }

    .panel-heading {
        /*background:none;*/
        border-bottom: 0;
        padding: 0;
    }

    .panel-body {
        padding: 10px 15px 15px;
        position: relative;

        .panel-title {
            padding: 0 0 15px;
        }
    }

    .panel-heading span {
        font-style: italic;
        font-weight: normal;
        float: right;
    }

    .title-reponse:before {
        content: "\f112";
        font-family: $fontAwesome;
        padding-right: 5px;
    }

    div[class^="bloc-"] + div[class^="bloc-"] {
        padding-top: 30px;
    }

    .bloc-message {
        p {
            white-space: pre-wrap;
        }
    }
}

.notifications {
    display: table-cell;
    text-align: right;

    .badge {
        background: $color-primary !important;
        min-height: 10px;
    }

    .glyphicon {
        font-size: 0.8em;
    }
}

.intitule-abbr {
    display: block;
    clear: both;
    float: left;
    text-align: left;
}

.panel-table {
    border: $panel-table-border;
    @include border-radius(4px);
}

.panel-header, .repeater-footer {
    background: #f9f9f9;
    min-height: 50px;
    padding: 8px;
    zoom: 1;
}

.panel-table {
    .repeater-header-title {
        font-size: 1em;
        font-weight: 600;
        margin-top: 10px;
    }

    .repeater-pagination, .repeater-itemization {
        float: left;
    }

    .repeater-pagination {
        margin-left: 20px;

        .repeater-primaryPaging {
            display: none;
            vertical-align: middle;
            width: 116px;

            &.active {
                display: inline-block;
            }

            ul.dropdown-menu {
                min-width: 116px;
            }
        }

        .repeater-secondaryPaging {
            display: none;
            width: 50px;

            &.active {
                display: inline-block;
            }
        }
    }

    .repeater-header, .repeater-footer {
        background: $panel-table-header-footer-bg;
        min-height: 50px;
        padding: 8px;
        zoom: 1;
        @include border-radius(4px);
    }

    .repeater-header-right, .repeater-footer-right {
        float: right;
    }

    .repeater-header-left, .repeater-footer-left {
        float: left;
    }

    table {
        thead > tr > th:first-child, tbody td:first-child {
            border-left: none;
        }
    }
}

.panel-table .table-bordered {
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;

    > {
        thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
            border-right: 0;
        }

        thead > tr {
            background: $bordered-table-thead-bg;
        }
    }
}

.repeater-itemization .btn-group {
    margin-right: 0;
}

.repeater-pagination .form-control, .repeater-itemization .btn, .repeater-pagination .btn {
    height: auto;
    padding: 1px 6px;
    vertical-align: middle;
}

/*Table + Pagination*/

.pagination {
    margin: 10px 0 10px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    border-color: $btn-border-color;
    background-color: $color-primary;
}

.pagination > li > a, .pagination > li > span {
    color: $color-primary;
}

.table {
    margin-bottom: 10px;

    thead > a {
        margin: 0 5px 0 0;

        &:hover {
            text-decoration: none;
        }

        .fa {
            margin: 3px 0 0 2px;
        }

        .caret {
            margin-left: 0;
        }
    }

    .col-favori {
        width: 30px;
    }

    .fa-paperclip {
        font-size: 1.3em;
    }

    .fa-link {
        font-size: 1.3em;
    }

    .fa-link, .fa-chain-broken {
        transform: rotate(90deg);
    }

    .col-message {
        padding-left: 16px;

        .fa-paperclip {
            position: relative;
            float: left;
            margin-left: -.9em;
            font-size: 1.3em;
        }
    }

    caption {
        padding: 0 0 8px 0;
        font-weight: bold;

        a {
            font-weight: normal;
        }
    }

    .col-dates {
        width: 120px;
    }

    .fa-sort {
        opacity: 0.5;
    }

    .col-check {
        width: 30px;
    }

    .col-check input {
        &[type="checkbox"], &[type="radio"] {
            margin-top: 0;
        }
    }

    .actions .btn {
        padding: 1px 10px;
    }

    .col-actions {
        text-align: center;

        &.text-left {
            text-align: left !important;
        }

        &.text-right {
            text-align: right !important;
        }
    }

    .btn-empty {
        display: inline-block;
        width: 3em;
        margin-right: 5px;
    }

    .line-actions {
        padding-top: 10px;

        .btn, > div {
            float: left;
            margin-right: 10px;
        }
    }

    tr.total td {
        background: #ddd;
        text-align: right;
    }

    .user, .commentaire-link, .nowrap {
        white-space: nowrap;
    }

    a + .commentaire-link, &.table-evenements .commentaire-link {
        display: inline-block;
    }

    .form-montants {
        float: right !important;
    }
}

.preavis {
    font-size: 1rem;
    margin: 0.3rem 0 0 0;

    i {
        color: $color-warning !important;
    }
}

.truncated-text i {
    display: inline;
    margin: 0 5px 0 0;
}

.col-actions .btn-action, .table a {
    margin-right: 5px;
}

.col-actions .btn-notif {
    display: inline-block !important;
    float: none;
}

.data-infos-top {
    padding: 1em 0 0;
}

.col-break {
    word-break: break-all;
}

.col-total {
    background: #f3f1f2 !important;
}

.row-total {
    background: #f3f1f2 !important;

    td {
        background: #f3f1f2 !important;
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.col-md-1.col-actions {
    width: 30px;
}

.col-md-2.col-actions {
    width: 110px;
}

.col-md-2.col-size {
    width: 80px;
}

.table-hover > tbody > tr:hover {
    background-color: $table-hover-color !important;
    @include transition(background-color 0.3s .1s);

    td {
        background-color: $table-hover-color !important;
        @include transition(background-color 0.3s .1s);
    }
}

.table-hover > tbody > tr, .table-hover > tbody > tr td {
    @include transition(background-color 0.3s .1s);
}

.line-highlight td {
    @include transition(background-color 0.3s .1s);
    background-color: $table-hover-color !important;
}

.table-suivi {
    .actions .btn {
        margin-bottom: 0.5em;
    }

    .objet-line {
        margin-top: 5px;
    }

    a.ref {
        font-weight: bold;
    }
}

.ref {
    font-weight: bold;
}

.table .col-montants, .form-montants, .form-montants input {
    text-align: right;
}

.btn-add-favorite {
    border: 0;
    background: none;
}

.toggle-check {
    margin: 0 0 10px 0;
    padding: 0;

    button label {
        font-weight: normal;
        margin-bottom: 0;
    }
}

.liste-contrats {
    h3 {
        font-size: 1.2em;
        margin: 0;
    }

    li {
        list-style-type: none;
        background: #f9f9f9;
        display: table;
        width: 100%;
        padding: 10px;
    }
}

.table-contrats {
    thead a:hover {
        text-decoration: underline !important;
    }

    .small {
        font-weight: normal;
    }

    .indent {
        padding-left: 20px;
    }

    .col-refs {
        width: 220px;
    }

    .col-dates {
        width: 140px;
    }

    .col-montants {
        width: 130px;
    }

    .col-dates .intitule-abbr {
        width: 8.9em;
    }

    .col-montants .intitule-abbr {
        width: 1.7em;
    }

    .auteur {
        clear: both;
        float: left;
    }

    .actions {
        width: calc( calc( $action-button-width + 2px ) * 2 );
    }

    .badge-warning {
        background: $color-warning;
    }
}

.detail-activite {
    margin: 0 0 10px;

    &.well {
        padding: 20px;
    }

    ul {
        margin: -15px 0 20px;
        padding: 0;
        min-width: 700px;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        text-align: center;
    }

    .fa {
        font-size: 2.5em;
        color: $color-primary;
        vertical-align: top;
        margin: 2px 5px 2px;
    }

    li {
        &:first-child:before {
            content: inherit;
            display: none;
        }

        &:before {
            content: '\f105';
            font-family: $fontAwesome;
            color: #ddd;
            padding-right: 20%;
            font-size: 4em;
            position: absolute;
            margin-left: 0;
            left: -6px;
            top: -19px;
        }
    }
}

.table-consultations {
    .auteur {
        padding-top: 0.5em;
    }

    .detail-activite {
        display: inline-block;
        margin: 10px 5px 0;

        ul {
            min-width: inherit;
            width: 90px;
        }

        .fa {
            font-size: 1.8em;
            margin-left: -23px;
            top: -3px;
            cursor: default;
        }

        li:before {
            font-size: 2em;
            top: -10px;
            left: -12px;
            display: none;
        }
    }

    .col-dates {
        width: 100px;
    }
}

.line-prestation, .line-total {
    display: table;
    width: 100%;
}

.role {
    width: 200px;
    padding-bottom: 0.4em;
}

.line-prestation div, .line-total div {
    display: table-cell;
}

.line-prestation .montant {
    width: 55%;
    font-weight: 600;
}

.line-total {
    font-size: 0.9em;
    color: #999;
}

.line-prestation div:first-child {
    font-size: 0.9em;
}

.detail-activite {
    li {
        width: 33.3333% !important;
        float: left !important;
    }
}

.bloc-recap .table-contrats .col-refs {
    width: 215px;
}

.recap-contrat {
    .panel-body {
        padding: 0;
    }

    .table-contrats {
        margin-bottom: 0;
        border: 0;

        tr:first-child > {
            td, th {
                border-left: 0;
            }
        }

        th:last-child, td:last-child {
            border-right: 0;
        }
    }
}

.table-messages {
    .col-users {
        width: 190px;
    }

    .col-dates {
        width: 160px;
    }

    .emetteur {
        padding-bottom: 0.5em;
    }

    .type-msg {
        padding-bottom: 0.5em;
        font-weight: bold;
    }
}

.objet-msg + .tagsinput {
    min-height: auto !important;
    height: auto !important;
}

.workflow-dates {
    list-style-type: none !important;
    margin: 0;
    padding: 0;

    li:not(.active) {
        color: #999;
        height: 1.4em;
    }

    abbr {
        background: $color-default;
        display: inline-block;
        width: 1.4em;
        text-align: center;
        color: #fff;
        border: 0;
        margin: 0 1em 0 0;
        height: 1.3em;
        line-height: 1.3em;
        opacity: 0.3;
    }

    .active {
        font-weight: bold;

        abbr {
            /*background: $color-secondary;*/
            opacity: 1;
            position: relative;
            font-weight: normal;

            &:before {
                /*color: $color-secondary;*/
                font-size: 2.2em !important;
                position: absolute;
                /*top:-0.2em; left:0.6em;*/
                line-height: 0;
                right: -51%;
                top: 0.3em;
                content: "\f0da";
                font-family: $fontAwesome;
            }
        }

        &.envoye {
            color: #ff0000;

            + li {
                color: #999;
            }

            abbr {
                background: #ff0000;

                &:before {
                    color: #ff0000;
                }
            }
        }

        &.non-lu {
            color: #398439;

            + li {
                color: #398439;
            }

            abbr {
                background: #398439;

                &:before {
                    color: #398439;
                }
            }
        }
    }
}

/*.date-1 abbr {
  background:$color-default;
}
.date-2 abbr {
  background:$color-info;
}
.date-3 abbr {
  background:$color-default;
}
.date-4 abbr {
  background:$color-danger;
}
.date-5 abbr {
  background:$color-danger;
}*/
.date-1 {
    color: #777;

    abbr {
        background: #777;

        &:before {
            color: #777;
        }
    }
}

.date-2 {
    color: #f0ad4e;

    abbr {
        background: #f0ad4e;

        &:before {
            color: #f0ad4e;
        }
    }
}

.date-2-alt {
    color: $color-danger;

    abbr {
        background: $color-danger;

        &:before {
            color: $color-danger;
        }
    }
}

.date-3 {
    color: #337ab7;

    abbr {
        background: #337ab7;

        &:before {
            color: #337ab7;
        }
    }
}

.date-3-alt {
    color: $color-danger;

    abbr {
        background: $color-danger;

        &:before {
            color: $color-danger;
        }
    }
}

.date-4 {
    color: #5bc0de;

    abbr {
        background: #5bc0de;

        &:before {
            color: #5bc0de;
        }
    }
}

.date-5 {
    color: #5cb85c;

    abbr {
        background: #5cb85c;

        &:before {
            color: #5cb85c;
        }
    }
}

.textPercent {
    text-decoration: underline !important;
    text-decoration-style: dashed !important;
    float: left;
}

.moins-value {
    color: #FF0000;
}

.plus-value {
    color: #00FF00;
}

.montant-total,
.montant-operateur,
.montant-input-form {
    float: left;
}

.define-size {
    font-size: 14px;
}

.montant-label {
    color: #cccccc;
}

.montant-total,
.montant-operateur {
    font-weight: bold;
    height: 26px;
    margin-top: 33px;
    padding: 0 20px 0 10px;
    line-height: 26px;
}

.align-text {
    margin-top: 29px;
}

.montant-label {
    font-weight: bold;
    margin-bottom: 6px;
}

.label-tauxTVA {
    margin-right: 77px;
    margin-top: -4px;
}

.realign {
    margin-top: 32px;
}

.montant-label,
.montant-valeur {
    width: 260px;
    //overflow: hidden;
    height: 26px;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}

/*Tableau Contacts*/

.table-contacts {
    .indent-n1 td:first-child {
        padding-left: 30px;
    }

    .child {
        span[class^="treegrid"] {
            display: none;
        }

        .col-user {
            padding-left: 40px;

            .glyphicon {
                padding: 0 0.5em 0 0;
            }

            div {
            }
        }

        .col-tel {
            min-width: 130px;
        }
    }

    .col-actions {
        width: 140px;
    }

    th.col-actions {
        text-align: center;
    }

    .indent-n1 {
        background: #f3f1f2;

        .col-actions {
            border-left: 0;
            text-align: center;
        }
    }

    .radie {
        color: #999;
    }

    .col-contact {
        width: 200px;
    }

    .col-tel {
        width: 100px;
    }

    .col-contact {
        abbr {
            display: inline-block;
            float: left;
            clear: left;
        }

        .fa {
            width: 1.3em;
        }
    }

    .indent-n1:not(:first-child) td {
        border-top-width: 2px;
    }
}

.table-evenements .commentaire-link + a {
    display: block;
}

.table-evenements .col-actions a + .btn-notif {
    margin-left: 10px;
}

.table-attestations {
    .indent-n1 td:first-child {
        padding-left: 30px;
    }

    .child td:first-child {
        padding-left: 24px;
    }
}

.table-consultations .objet {
    clear: both;
    padding-top: 0.5em;
}

.table-fournisseurs {
    .desc {
        clear: both;
        padding-top: 0.5em;
    }

    .text-primary, .text-primary + .desc {
        margin-right: 0.5em !important;
    }

    .size {
        display: inline-block;
    }
}

.selection-contacts tbody tr.child:hover, .selection-contacts tbody tr.child:focus {
    cursor: pointer;
}

.selection-contacts tbody tr.child:hover td:first-child {
    border: 2px solid #99ccff;
    border-right: 0;
}

.selection-contacts tbody tr.child:hover td {
    border-style: solid;
    border-color: #99ccff;
    border-width: 2px 0 2px 0;
}

.selection-contacts tbody tr.child:hover td:last-child {
    border: 2px solid #99ccff;
    border-left: 0;
}

.selection-contacts tbody tr.child:hover, .selection-contacts tbody tr.child:focus td {
    background-color: #fff7d8;
}

/*Tableau Attributaires*/

.table-attributaires {
    font-size: 0.9em;

    .actions {
        width: 125px;
        vertical-align: top;
    }

    .col-montants {
        padding-right: 20px;

        .label-prefix {
            font-style: italic;
            font-weight: bold;
        }
    }

    .icon i {
        font-size: 1.2em;
    }

    .glyphicon-plus {
        font-size: 0.8em;
        font-weight: normal;
        float: left;
        display: block;
        width: 20px;
    }

    .icon {
        display: block;
        min-height: 20px;
        background: url(#{$img-path}icone-titulaire-groupement-solidaire.png) no-repeat;
        padding: 0 0 10px 36px;
        margin-bottom: -8px;
        margin-left: 0;
    }

    .row-attributaire .icon {
        margin-bottom: -9px;
    }

    .row-attributaire .icon-mandataire {
        background-position: 1px top;
    }

    th {
        background: #e4e4e4;
        font-weight: normal;
        vertical-align: top;
    }

    .row-attributaire th {
        background: #dedede;
        border-bottom-width: 1px;
        font-weight: normal;
    }

    .icon strong {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    .indent-n1 {
        &:nth-child(odd) {
            background-color: #f3f1f2 !important;
        }

        background: #f9f9f9;

        &:not(:first-child) td {
            border-top-width: 2px;
        }

        &:nth-child(odd):hover {
            background-color: $table-hover-color !important;
        }

        td:first-child {
            padding-left: 30px;
        }
    }

    .child td:first-child {
        padding-left: 45px;

    }

    .treegrid-expander-expanded {
        background: url(#{$img-path}btn-moins.png) no-repeat 14px 5px !important;
    }

    .treegrid-expander-collapsed {
        background: url(#{$img-path}btn-plus.png) no-repeat 14px 5px !important;
    }

    .treegrid-expander {
        margin-left: -15px;
    }

    .treegrid-expander-expanded, .treegrid-expander {
        background-position: 11px 2px;
        width: 27px;
    }

    .treegrid-expanded td:first-child {
        background: url(#{$img-path}tree-line.png) no-repeat 16px top !important;
    }

    .child {
        background: url(#{$img-path}tree-line.png) no-repeat 16px top !important;

        &:not(:last-child) td:first-child {
            background: url(#{$img-path}tree-node.png) no-repeat 47px top !important;
        }

        td {
            background-color: #fff;
        }
    }

    .row-attributaire th {
        border-color: #dedede !important;
    }

    .row-attributaire th:first-child {
        background: url(#{$img-path}tree-line.png) #dedede no-repeat 16px 20px !important;
    }

    .row-attributaire.last th:first-child {
        /*background-image: none !important;*/
    }

    tbody + tbody {
        border-top: 0 !important;
    }

    tbody + tbody .row-attributaire th:first-child {
        background: url(#{$img-path}tree-line.png) #dedede no-repeat 16px top !important;
    }

    tbody + tbody .row-attributaire.last th:first-child {
        background-position: 16px -80px !important;
    }

    .indent-n1 td:first-child {
        background: url(#{$img-path}tree-node.png) no-repeat 16px top !important;
    }

    .indent-n1.last td:first-child {
        background: url(#{$img-path}tree-node-last.png) no-repeat 16px top !important;
    }

    .indent-n1.no-child td:first-child {
        background: url(#{$img-path}tree-child.png) no-repeat 16px top !important;
    }

    .child {
        ~ .indent-n1.last td:first-child {
            background: url(#{$img-path}tree-node-last.png) no-repeat 16px top !important;
        }

        &:last-child td:first-child, &.last td:first-child {
            background: url(#{$img-path}tree-node-last.png) no-repeat 47px top !important;
        }
    }

    .indent-n1.last ~ tr {
        background-image: none !important;
    }

    .treegrid {
        &:not(:last-child) td:first-child {
            background: url(#{$img-path}tree-node-long.png) no-repeat 16px top !important;
        }

        &.last td:first-child {
            background: url(#{$img-path}tree-node-long-last.png) no-repeat 16px top !important;
        }

        &:last-child {
            background-image: url(#{$img-path}tree-node-long-last.png) !important;
        }
    }

    > tbody > tr:hover td:first-child {
        background-color: transparent !important;
    }
}

.groupement-solidaire {
    .icon-mandataire {
        background-image: url(#{$img-path}icone-mandataire.png);
    }

    .icon-sous-traitant {
        background-image: url(#{$img-path}icone-sous-traitant.png);
        background-position: 14px top;
    }

    .icon-co-traitant {
        background-image: url(#{$img-path}icone-co-traitant.png);
    }

    .treegrid-expanded {
        .icon-mandataire {
            background-image: url(#{$img-path}icone-mandataire-expanded.png);
        }

        .icon-co-traitant {
            background-image: url(#{$img-path}icone-co-traitant-expanded.png);
        }
    }

    .icon-mandataire, .icon-co-traitant {
        background-position: 10px top;
    }
}

.col-md-6 .table-attributaires {
    .col-montants {
        min-width: 150px;
    }

    /*.icon {
      padding:0 0 10px 26px !important;
    }*/
    /*&.groupement-solidaire .icon-sous-traitant {
       background-position:4px top !important;
    }*/
}

.statut-doc {
    margin: 5px 0 0;

    img {
        vertical-align: top;

        &.non-disponible {
            opacity: 0.4;
            filter: alpha(opacity=40);
        }
    }
}

.fa-paperclip {
    transform: rotate(45deg);
}

/*Added from http://lightglitch.github.io/bootstrap-xtra/bootstrap.css*/

.bordered-table {
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    /* IE7, collapse table to remove spacing */
    @include border-radius(4px);

    > th + > th, > td + > td, > th + > td {
        border-left: 1px solid #ddd;
    }

    > thead {
        background: $bordered-table-thead-bg;

        tr:first-child th {
            &:first-child {
                @include border-radius(4px 0 0 0);
            }

            &:last-child {
                @include border-radius(0 4px 0 0);
            }
        }
    }

    tbody tr:last-child td {
        &:first-child {
            @include border-radius(0 0 0 4px);
        }

        &:last-child {
            @include border-radius(0 0 4px 0);
        }
    }
}

.zebra-striped > tbody > tr {
    &:nth-child(odd) {
        > td, > th {
            background-color: #f9f9f9;
        }
    }

    &:hover {
        > td, > th {
            background-color: #f5f5f5;
        }
    }
}

.table-uploads {
    .col-check {
        width: 20px;
        padding-right: 0;
    }

    .col-size {
        width: 90px;
        text-align: right;
        padding-right: 10px;
    }

    .col-progress {
        width: 150px;
    }

    tr {
        border-bottom: 2px solid #fff;
    }

    td {
        border-left: 0 !important;
        background: #ededed;
    }

    tr .actions {
        text-align: right;
    }

    .progress {
        height: 10px;
        margin-bottom: 5px;
    }

    .line-signature {
        width: 100%;

        > div {
            width: 95%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        i {
            vertical-align: middle;
        }
    }

    th.col-check input {
        margin: 4px 5px 5px 0;
    }

    tbody tr:last-child td {
        &:first-child {
            @include border-radius(0 0 0 0);
        }

        &:last-child {
            @include border-radius(0 0 0 0);
        }
    }
}

/*Tabs*/

.nav-tabs {
    &.btn-group {
        margin-bottom: 10px;
        border: 0;
    }

    .state {
        left: -10000px;
        position: absolute;
    }
}

.panel-heading {
    .nav-tabs {
        position: absolute;
        right: 3px;
        top: 2px;
        border: 0;
    }

    .btn-group {
        margin-right: 0;
    }
}

.bloc-recap {
    .nav-tabs {
        right: 5px;
        top: 4px;
    }
}

/*Sortable*/
.column {
    float: left;
    padding-bottom: 50px;
}

.ui-sortable .panel .panel-heading {
    cursor: move;
}

.portlet-placeholder {
    margin-bottom: 20px;
    height: 50px;
    @extend .dropzone
}

/*Forms*/

.radio label {
    padding-left: 5px;
}

.form-horizontal {
    div.control-label {
        font-weight: bold;
    }

    .control-label {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
        padding-right: 5px;
    }

    &.form-readonly {
        div.form-control {
            height: auto;
            border: 0 !important;
            box-shadow: none !important;
            background: none;
        }

        .form-group {
            margin-bottom: 0;
            background: inherit;
        }
    }
}

.form-inline input[class^="col-fixed"].form-control {
    width: 400px !important;

}

.Nlign-truncate {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 18px;
    text-align: -webkit-center !important;
}

.txt-truncate {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.truncate {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-height {
    line-height: 26px !important;
}

.alignIcon {
    float: right;
    margin-right: -20px;
    margin-top: -17px;
    cursor: pointer;
}

.marginRedefine {
    margin-left: 37px;
}

.form-group-sm .form-control-static {
    height: auto;
    padding-top: 6px;
    text-align: justify;

    .list-unstyled {
        margin-bottom: 0;
    }
}

.form-column-plus {
    float: left;
}

.form-column {
    margin-left: 0;

    &.form-control-static {
        min-height: inherit;
        padding: 0 15px;
    }

    &.form-control-static {
        margin-left: -5px;

        .form-group {
            margin-bottom: 0;
        }

        .input-group {
            padding: 0 35px 0 10px;
        }
    }

    .form-control-static {
        min-height: inherit;
        height: inherit;
        padding: 6px 0 0 !important;
    }

    .control-label {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.form-actions {
    clear: both;
    padding: 9px 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    zoom: 1;

    &:before {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both;
    }

    .pull-right {
        button, input {
            margin-left: 10px;
        }
    }

    &.panel-footer {
        margin: 0;
    }
}

.controls {
    float: left;
}

.row-actions {
    padding-top: 20px;
}


.form-group {
    input.ng-touched.ng-invalid,
    input.ng-touched.ng-invalid + .input-group-addon,
    textarea.ng-touched.ng-invalid,
    .ng-touched.ng-invalid .chosen-default,
    .ng-touched.ng-invalid .form-control,
    .ng-touched.ng-invalid .input-group-addon {
        border: 1px solid $color-danger;
    }
}

/*
input.ng-touched.ng-invalid , textarea.ng-touched.ng-invalid, .ng-touched.ng-invalid + .input-group-addon {
    border: 1px solid $color-danger;
}
.ng-touched.ng-invalid + .input-group-addon, .ng-touched.ng-invalid .input-group-addon {
  border-left:0;
}
*/

abbr.required {
    font-weight: bold;
  margin-left: 0.4rem;
}

.with-errors, abbr.required {
    color: $color-danger;
}

.input-group .with-errors, show-error {
    caption-side: bottom;
    display: table-caption;
    text-align: left;
}

show-error .help-block.with-errors {
    display: inline-block;
}

ltexec-datetimepicker + show-error {
    display: table;
}

.input-group .ng-touched.ng-invalid + .input-group-addon,
.ng-touched.ng-invalid .input-group .input-group-addon {
    @include border-radius(0 4px 4px 0);
}

.well {
    padding: 15px;

    &.text-muted {
        color: #777 !important;
        background: #efefef;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.input-inline {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    float: left;
}

.input-siren {
    width: 130px;

    &.input-group {
        width: 180px !important;
    }
}

.input-raison {
    width: 300px;

    &.input-group {
        width: 350px !important;
    }
}

.input-code-etab {
    width: 60px;
}

.infos-fournisseur {
    padding-left: 0;
}

.logo-fournisseur {
    margin: 1.5em 0 0 0;

    img {
        width: 180px;
    }
}

.modal-ajout-logo .thumbnail {
    width: 240px;
    height: 160px;

    img {
        vertical-align: top;
    }
}

.modal legend {
    font-size: 1.4em;
    color: #999;
}

.col-echanges abbr {
    margin-left: 0.4em;
}

.icon-echange {
    .fa {
        font-size: 1.3em;
    }

    .fa-arrow-right {
        font-size: 0.8em;
        position: absolute;
        margin: 0.4em 0 0 -1.2em;
    }

    .fa-arrow-left {
        font-size: 0.8em;
        position: absolute;
        margin: 0.4em 0 0 -1.3em;
    }

    .fa-arrow-up {
        font-size: 0.65em;
        position: absolute;
        margin: 0.9em 0 0 -1.2em;
    }

    .fa-arrow-down {
        font-size: 0.65em;
        position: absolute;
        margin: 0.9em 0 0 -1.1em;
    }
}

.echange-vide {
    opacity: 0.2;
}

.gauge-contrats-en-cours h5 {
    position: absolute;
    top: 0;
    width: 180px;
    color: #999;
    font-weight: bold;
    text-align: center;
}

.bloc-legende {
    .panel-body {
        padding: 0 0 15px;
    }

    .col-actions .btn {
        padding: 1px 10px;
    }
}

.num-consultation {
    margin-bottom: 0.5em;
}

/*Etapes Contrat*/
/*.contrat-etape1sur4 { clear:left; float:left; width:71px; height:11px; background:url(#{$img-path}etape-contrat.gif) no-repeat; margin-top:5px; overflow:hidden; margin-bottom:5px }
.contrat-etape2sur4 { clear:left; float:left; width:71px; height:11px; background:url(#{$img-path}etape-contrat.gif) no-repeat; margin-top:5px; background-position:0 -11px; overflow:hidden; margin-bottom:5px; }
.contrat-etape3sur4 { clear:left; float:left; width:71px; height:11px; background:url(#{$img-path}etape-contrat.gif) no-repeat; margin-top:5px; background-position:0 -22px; overflow:hidden;  margin-bottom:5px; }
.contrat-etape4sur4 { clear:left; float:left;  width:71px; height:11px; background:url(#{$img-path}etape-contrat.gif) no-repeat; margin-top:5px; background-position:0 -33px; overflow:hidden; margin-bottom:5px; }*/

.barre-etape {
    color: #fff;
    display: block;
    height: 11px;
    font-size: 10px;
    line-height: 0;
    padding-top: 6px;

    abbr {
        border-bottom: 0 !important;
    }
}

.etape-contrat {
    width: 71px;
    background: url(#{$img-path}etape-contrat.png);
    margin: 10px 0 5px !important;
}

.contrat-etape1sur4 {
    padding-left: 5px;
}

.contrat-etape2sur4 {
    background-position: 0 -11px;
    padding-left: 20px;
}

.contrat-etape3sur4 {
    background-position: 0 -22px;
    padding-left: 40px;
    padding-top: 5px;
}

.contrat-etape4sur4 {
    background-position: 0 -33px;
    padding-left: 59px;
}

a, a.ref {
    color: $color-link;
}

h2, .text-primary, .recap-fournisseur h3, caption, caption i {
    color: $color-primary;
}

.btn-default {
    &.active {
        color: orange !important;
        border-color: $btn-hover-border-color;
    }
}

.filtre {
    &.active {
        color: #333333 !important;
        background-color: orange !important;
        border-color: $btn-hover-border-color;
    }
}

.open > .dropdown-toggle.btn-primary, .notifications a:hover .badge {
    color: #fff;
    background-color: $menu-actif-bg !important;
    border-color: $btn-hover-border-color !important;
}

.btn-notif {
    float: left;

    .btn {
        position: relative;
    }

    .labels {
        position: absolute;
        z-index: 1;
        left: 18px;
        top: 13px;

        .badge {
            font-size: 0.75em;
            margin-right: -2px;
            color: #ffffff;

            .fa {
                color: #ffffff;
            }
        }
    }

    .labels-info {
        position: absolute;
        z-index: 1;
        left: 25px;
        top: 19px;

        .badge {
            font-size: 0.75em;
            margin-right: -2px;

            .fa {
                color: #ffffff;
            }
        }
    }
}

.btn-ajout-document,
.panel-table .table-suivi .actions .btn-action.btn-ajout-document {
    .fa-stack {
        height: 19px;
        font-size: 0.8em;
    }

    .fa-stack-1x {
        left: 0.4em;
        top: 0.15em;
        font-size: 12px;
    }

    &.btn-action .fa-stack {
        font-size: 0.75em;
        margin-left: -5px;

        .fa-stack-1x {
            top: 0.35em;
            left: 0.5em;
            font-size: 1.1em;
        }
    }
}

.btn-contact {
    float: none;
    display: inline-block;
}

.badge-danger {
    background-color: $color-danger !important;
}

.badge-warning {
    background-color: $color-warning !important;
}

.badge-success {
    background-color: $color-success !important;
}

.badge-info {
    background-color: $color-info;
}

.badge-secondary {
    background-color: $color-secondary !important;
}

.navbar-inverse .navbar-nav {
    > {
        li > a {
            color: $color-primary;
            text-shadow: none;
        }

        .open > a {
            color: $color-primary;
            text-shadow: none;

            &:hover, &:focus {
                color: $link-hover-color;
            }
        }

        li > a {
            &:hover, &:focus {
                color: $link-hover-color;
            }
        }
    }

    .open .dropdown-menu {
        > li > a {
            &:hover, &:focus {
                color: $link-hover-color;
            }
        }

        > li > a {
            &:hover, &:focus {
                color: $link-hover-color;
            }
        }
    }

    > li > a:hover, > li > a:hover {
        color: $link-hover-color;
    }
}

.treegrid-indent {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    float: left;
}

.table-contacts .treegrid-indent, .table-attestations .treegrid-indent {
    height: 80%;
    display: block;
    position: absolute !important;
    width: 25%;
}

.table-contacts .treegrid-collapsed td, .table-contacts .treegrid-expanded td, .table-attestations .treegrid-collapsed td, .table-attestations .treegrid-expanded td {
    position: relative;
}

.treegrid-expander {
    @extend .treegrid-indent;
    cursor: pointer;
    margin-left: -20px;
}

.treegrid-expander-expanded, .treegrid-expander-collapsed {
    background-repeat: no-repeat;
}

.treegrid-expander-expanded {
    background-image: url(#{$img-path}collapse.png);
}

.treegrid-expander-collapsed {
    background-image: url(#{$img-path}expand.png);
}

.text-notation {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 0.3em 0 0 0;
    opacity: 0.5;
    color: initial !important;
}

.help-block {
    font-style: italic;
}

.fa-custom {
    font-family: "custom", sans-serif;
    font-size: 1.7rem;
    vertical-align: middle;
}

.fa-activite:before {
    content: "\e600";
}

.fa-contact:before {
    content: "\e900";
    font-size: 1.4rem;
    vertical-align: top;
}

.siege-social:before {
    font-size: 0.9em;
}

.siege-social:after {
    content: "\f024";
    position: absolute;
    margin: -0.8em 0 0 -0.7em;
    font-size: 0.7em;
}

.liens-rapides {
    float: right;
    margin-right: 0;

    a {
        position: relative;
        min-height: 32px;
        padding: 5px 12px 1px;

        i, .fa-activite:before {
            font-size: 1.2em;
        }

        ~ .btn-primary {
            border-left-color: #fff;
        }
    }

    .btn-group {
        margin-left: 10px;
    }
}

.dropdown-with-check > li > a > .fa {
    visibility: hidden;
}

.dropdown-with-check > li > a.selected span {
    font-weight: bold;
}

.dropdown-with-check > li > a.selected > .fa {
    visibility: visible;
}

.alert > i {
    display: table-cell;

    + p {
        display: table-cell;
    }

    padding-right: 1em;

    &.fa-2x {
        padding-right: 0.5em;
        line-height: 0.7em;
        vertical-align: top;
    }
}

/*Datepicker*/

.datepicker-group {
    width: 150px;
}

.input-group-addon {
    padding: 6px 12px;
    border-left: 0;
    border-radius: 0 4px 4px 0 !important;

    & i {
        width: 12px;
    }
}

.input-group-montant {
    width: 187px;
}

.montant {
    text-align: right;
}

.montant-min-max {
    width: 235px;
}

/*wysihtml5 Text-editor*/

.text-editor {
    min-height: 200px;
}

.bootstrap-wysihtml5-insert-link-url + label {
    margin-left: 20px;
}


.desc-objet {
    height: 2.91em;
    margin-bottom: 0.7em;
}

.desc-consultation, .desc-naf {
    height: 1.5em;
}

.desc-reponse, .desc-tranche, .desc-evenement {
    height: 1.5em;

    .message-preview {
        background: url(#{$img-path}tree-child-last.png) no-repeat 8px -2px;
        padding: 8px 0 0 40px;
        box-sizing: border-box;

        .fa-paperclip {
            vertical-align: middle;
            color: $color-base;
            top: 0.4em;
            margin-left: -0.9em;
        }

        /* &:before {
           content: "\f112";
           font-family: $fontAwesome;
           padding-right: 5px;
           color: #333;
         }*/
    }
}

.desc-evenement {
    display: inline-block;
    clear: both;
}

.desc-objet .toggle, .desc-reponse .toggle, .desc-tranche .toggle, .desc-fournisseur .toggle, .desc-evenement .toggle {
    display: none !important;
}

/********************Plugin resets********************/
/*jquery.dotdotdot.js*/
.read-more {
    &.box.opened {
        height: auto;
    }

    a {
        font-size: 0.9em;
    }

    .toggle {
        display: none;

        .close-btn {
            display: none;
        }
    }

    &.opened .toggle .open {
        display: none;
    }

    .toggle .opened {
        display: inline;
    }

    &.opened {
        .toggle .close-btn, a {
            display: inline;
        }
    }
}

/*jquery.simplecolorpicker.js*/
.simplecolorpicker span {
    font-size: 1.2em;
    padding: 0 3px;
}

div.tagsinput span.tag {
    margin-top: 2px;
}

/*justgage.js*/

.gauge {
    width: 180px;
    height: 120px;
    display: inline-block;
    margin-left: -25px;
}

.star-detail {
    display: table-row;

    div:first-child {
        width: 130px;
    }

    .star {
        background: url(#{$img-path}all-star.png) no-repeat;
        width: 99px;
    }

    .star-1 {
        background-position: 0 -1px;
    }

    .star-2 {
        background-position: 0 -19px;
    }

    .star-3 {
        background-position: 0 -37px;
    }

    .star-4 {
        background-position: 0 -55px;
    }

    .star-5 {
        background-position: 0 -73px;
    }

    div {
        display: table-cell;
    }
}

ul.notes-echelle {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em 0 0;
    vertical-align: middle;

    li {
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;

        label {
            display: block;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
            float: right;
        }
    }

    &.js li label, &.disabled li label {
        background: url(#{$img-path}etoiles.png) center top no-repeat;
    }

    &.js label {
        font-size: 0;
    }

    li {
        &.note-off label {
            background-position: center -60px;
        }

        &.note-reset label {
            background-position: center -102px;
        }

        &.note-checked {
            font-weight: bold;
        }

        min-width: 20px;
        min-height: 20px;
    }

    label {
        min-width: 20px;
        min-height: 20px;
    }

    &.js {
        li label {
            float: none;
        }

        input {
            position: absolute;
            left: -999%;
        }

        li.note-focus {
            outline: 1px dotted #000;
        }
    }
}

* html ul.notes-echelle.js li {
    width: 20px;
    height: 20px;
}

.controls .notes-echelle {
    margin-top: 7px;
}

ul.notes-echelle.disabled li label {
    cursor: default !important;
    font-size: 0;
}

a ul.notes-echelle.disabled li label {
    cursor: pointer !important;
}

.detail-graph:hover {
    text-decoration: none !important;
}

.table-evaluation {
    .col-detail {
        width: 250px;
    }

    .auteur {
        float: right;
    }

    .etab {
        clear: both;
        padding: 0.2em 0;
    }
}

table .notes-echelle {
    float: left;
    clear: both;

    &.disabled input {
        display: none;
    }
}

.panel-heading .notes-echelle input {
    display: none;
}

table {
    .notes-echelle.js {
        display: block;
    }

    .commentaire {
        clear: both;
        padding-top: 10px;
        margin-bottom: 10px;
        font-style: italic;
        color: #666;
    }

    .commentaire p {
        display: initial;
    }

    .commentaire:before, .commentaire:after {
        color: #ccc;
        content: open-quote;
        font-size: 3em;
        margin-right: 0.1em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }

    .commentaire:before {
        content: open-quote;
    }

    .commentaire:after {
        content: close-quote;
    }

    .auteur, .groupement, .desc-fournisseur .desc-activite {
        color: #999;
        font-style: italic;

        .popover {
            font-style: normal !important;
            color: #000 !important;

            i {
                font-style: normal !important;
                color: #000 !important;
            }
        }
    }
}

.popover-title {
    font-weight: normal !important;
}

.popover {
    .popover-title {
        a.btn {
            float: right;
            margin: -3px -8px -3px 0;
        }
    }

    .popover-content {
        a.btn {
            width: 100%;
        }
    }

    &.popover-confirmation a.btn {
        width: auto;
    }
}

table .text-notation {
    vertical-align: top;
    float: left;
}

.detail-graph {
    float: left;
    display: inline-block;
}

.panel-heading {
    .notes-echelle {
        margin: -4px 0 0 10px;
    }

    .text-notation {
        display: inline-block;
        font-size: 0.9em;
        vertical-align: top;
        padding: 10px 0 0;
        font-weight: normal;
    }

    ul.notes-echelle label {
        margin: 0;
    }
}

#paper {
    text-align: center;
}

.dropzone {
    border: 2px dashed #ccc;
    @include border-radius(4px);
    position: relative;
    text-align: center;
    padding: 0 20px 20px;

    .dz-message {
        color: #ccccd3;
        font-size: 1.8em;
        margin: 1em 0;
    }
}

#preview-template table + .btn, .entete-message {
    margin-bottom: 30px;
}

.dropzone .dz-clickable + span {
    padding: 0 10px;
    color: #ccccd3;
    font-size: 1.4em;
    vertical-align: middle;
}

.dz-preview {
    display: table;
    width: 100%;

    div, a {
        display: table-cell !important;
        position: relative !important;
        padding: 5px 5px;
        vertical-align: top;
    }
}

.dz-upload {
    display: block;
    background-color: red;
    height: 10px;
    width: 0;
}

.dz-preview {
    .dz-remove {
        visibility: hidden !important;
    }

    &:hover {
        background: #f0f0f0;

        .dz-remove {
            visibility: visible !important;
        }
    }
}

.dz-remove {
    width: 30px;
}

.dropzone .dz-preview .dz-image {
    width: 50px;
    height: 50px;
    @include border-radius(0);
}

.panel, .panel-heading, .panel-table, .form-control, .btn, .sidebar ul > li a, .sidebar ul > li a.collapsed, .sidebar ul ul, .breadcrumb, .alert, .well, .bordered-table, .list-group-item:first-child, .list-group-item:last-child, .modal-content, .input-group-addon, .chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices, .form-group-sm .form-control, .pagination > li a {
    @include border-radius($border-radius !important);
}

footer {
    clear: both;
    border-top: 1px solid #eee;
    margin: 50px 0 0;
}

@media screen and (max-width: 320px) {
    /*.navbar-brand { background-size:100%; width:180px; background-position:0 6px; }*/
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 15px !important;
    }
    .navbar-inverse .container {
        width: auto;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
        box-shadow: none;
    }
    .dropdown a {
        line-height: 20px !important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        @include gradient-vertical($start-color: $navbar-start-color, $end-color: $navbar-end-color, $start-percent: $navbar-start-percent, $end-percent: $navbar-end-percent);
        border: 0;
    }

    .dropdown {
        &.dropdown-search .dropdown-toggle {
            display: none;
        }

        .dropdown-menu {
            display: block !important;
            position: relative !important;
            float: none;
            border: 0;
            box-shadow: none !important;

            > li > a {
                padding: 5px 15px 5px 25px;
            }

            .divider {
                height: 0;
            }
        }

        .dropdown-toggle {
            font-weight: bold;

            .caret {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    #paper svg {
        width: 100%;
        height: 100%;
    }
}

@media print {
    .navbar, .sidebar, .breadcrumb, .liens-rapides, .form-actions, .col-check, .col-actions, .btn {
        display: none !important;
    }
    body .container-fluid {
        min-width: inherit !important;
    }
    body .container-fluid > .content {
        margin-left: 0;
    }
    .read-more.box.opened {
        height: auto !important;
    }
}

/* Pour faire un composant dropdown qui s'affiche comme un popover */
.dropdown {
    display: inline-block;
}

.dropdown-menu-popover {
    padding: 9px 14px;

    &.dropdown-menu {
        font-weight: normal;
        font-size: 12px;
        padding: 0 0 8px 0;
        border-radius: 5px;

        .popover-heading {
            padding: 8px 14px;
            background-color: #f7f7f7;
            border-bottom: 1px solid #ebebeb;
            border-radius: 5px 5px 0 0;
        }

        .popover-body {
            padding: 8px 14px 0 14px;
        }
    }
}

.modal-edition-repartition {

    .control-label {
        .dropdown {
            font-size: 11px;
            margin-top: -8px;
            display: inline-block;
        }
    }

    .input-group-addon {
        min-width: 78px;
        text-align: left;
    }

    .amount-total,
    .amount-todo {
        .form-control {
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 0 5px 0 0;
            font-size: 14px;
            line-height: 30px;

            &.text-danger {
                color: #F44336;
            }
        }

        .input-group-addon {
            border: 0;
            background: transparent;
            padding: 0 12px;
            line-height: 30px;
            font-size: 14px;

            &.text-danger {
                color: #F44336;
            }
        }
    }

    .amount-total {
        .form-control,
        .input-group-addon {
            font-size: 14px;
            font-weight: bold;
        }

        .form-control {
            font-size: 15px;
        }
    }

}

.bloc {
    //border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;

    &.odd {
        background: rgba(250, 250, 250, .5);
    }

    &.end {
        border-bottom: 0;
    }
}

.header-tab-date-contrat {
    color: #ccc;
    margin-bottom: 5px;
}

.state-list {
    .state-en_attente {
        color: #8a6d3b;
    }

    .state-a_venir {
        color: #999999;
    }

    .state-valide {
        color: #3c763d;
    }

    .state-rejete {
        color: #a94442;
    }
}

.read-more {
    text-decoration: underline;
}

.bloc-commentaire {
    clear: both;
    padding-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: #666;

    .content {
        display: initial;
    }

    &:before,
    &:after {
        color: #ccc;
        content: open-quote;
        font-size: 3em;
        margin-right: 0.1em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}

.prenomInput {
    margin-bottom: 25px !important;
}

/* composant gauge */

$exec-gauge-height: 50px;
$exec-gauge-value_width: 130px;

.gauge-frame {
    border: 1px dashed #ddd;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 17px;
    margin-right: 15px;


    .gauge-depassement {

        position: relative;
        margin-right: 50px;
        margin-left: 50px;

        * {
            font-size: 13px;
        }

        .in, .out {
            height: $exec-gauge-height;
            border-radius: 5px;
            position: relative;
            margin-bottom: 50px;
            background: repeating-linear-gradient(45deg, #ffffff, #ffffff 10px, #a6a6a6 10px, #a6a6a6 18px);
        }

        .out {
            background: repeating-linear-gradient(45deg, #ffffff, #ffffff 10px, #ff332e 10px, #ff332e 18px);
        }

        .border_max,
        .border_min {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-right: 3px dotted black;

            .value {
                z-index: 1;
                position: absolute;
                top: 100%;
                right: 0;
                width: 130px;
                text-align: center;
                margin-right: -65px;
                margin-top: 20px;
                padding: 6px;
                background: #007bff;
                border-radius: 3px;
                color: #fff;
                line-height: 18px;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, .157);

                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 6px 6px 6px;
                    border-color: transparent transparent #007bff transparent;
                    position: absolute;
                    top: -6px;
                    left: 50%;
                    margin-left: -3px;
                }
            }
        }

        .border_min {
            z-index: 4;
        }

        .border_max {
            background: rgba(255, 255, 255, .92);
        }

        .out .border_max {
            background: transparent;
            z-index: 4;
            border-right: 3px dotted #f00;
        }

        .out .border_max .value {
            background: #ff0000;

            &:before {
                border-color: transparent transparent #ff0000 transparent;
            }
        }

        .amount_total {
            background: #6cba7d;
            width: 0;
            height: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            &.border-radius-none {
                border-radius: 5px 0 0 5px;
            }
        }

        .amount_current {
            background: #215292;
            width: 0;
            border-radius: 0 5px 5px 0;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
        }

        .amount_total,
        .amount_current {
            -webkit-transition: width .4s ease-out; /* Safari */
            transition: width .4s ease-out;

            .value {
                width: 100%;
                margin: 0;
                text-align: center;
                font-weight: bold;
                color: #F9F9F9;
                line-height: $exec-gauge-height;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .axis {
            position: absolute;
            left: 0;
            right: 5px;
            top: 58px;
            height: 1px;
            background: #007bff;

            &:before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 8px;
                border-color: transparent transparent transparent #007bff;
                position: absolute;
                top: -5px;
                right: -8px;
            }
        }

        .ladder {
            position: absolute;
            top: 100%;
            right: 10px;
            width: 130px;
            text-align: center;
            margin-right: -65px;
            margin-top: 20px;
            padding: 6px;
            border-radius: 3px;
            color: #007bff;
            line-height: 18px;
        }

    }


    .gauge-other {

        position: relative;
        margin-right: 50px;
        margin-left: 50px;

        * {
            font-size: 13px;
        }

        .in, .out {
            height: $exec-gauge-height;
            border-radius: 5px;
            position: relative;
            margin-bottom: 50px;

        }

        .out {
            background: rgba(255, 255, 255, .92);
        }

        .border_max,
        .border_min {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-right: 3px dotted black;

            .value {
                z-index: 1;
                position: absolute;
                top: 100%;
                right: 0;
                width: 130px;
                text-align: center;
                margin-right: -65px;
                margin-top: 20px;
                padding: 6px;
                background: #007bff;
                border-radius: 3px;
                color: #fff;
                line-height: 18px;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, .157);

                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 6px 6px 6px;
                    border-color: transparent transparent #007bff transparent;
                    position: absolute;
                    top: -6px;
                    left: 50%;
                    margin-left: -3px;
                }
            }
        }

        .border_min {
            z-index: 4;
        }

        .border_max {
            background: rgba(255, 255, 255, .92);
        }

        .out .border_max {
            background: transparent;
            z-index: 4;
            border-right: 3px dotted #f00;
        }

        .out .border_max .value {
            background: #ff0000;

            &:before {
                border-color: transparent transparent #ff0000 transparent;
            }
        }

        .amount_total {
            background: #6cba7d;
            width: 0;
            height: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            &.border-radius-none {
                border-radius: 5px 0 0 5px;
            }
        }

        .amount_current {
            background: #215292;
            width: 0;
            border-radius: 0 5px 5px 0;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
        }

        .amount_total,
        .amount_current {
            -webkit-transition: width .4s ease-out; /* Safari */
            transition: width .4s ease-out;

            .value {
                width: 100%;
                margin: 0;
                text-align: center;
                font-weight: bold;
                color: #F9F9F9;
                line-height: $exec-gauge-height;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .axis {
            position: absolute;
            left: 0;
            right: 5px;
            top: 58px;
            height: 1px;
            background: #007bff;

            &:before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 8px;
                border-color: transparent transparent transparent #007bff;
                position: absolute;
                top: -5px;
                right: -8px;
            }
        }

        .ladder {
            position: absolute;
            top: 100%;
            right: 10px;
            width: 130px;
            text-align: center;
            margin-right: -65px;
            margin-top: 20px;
            padding: 6px;
            border-radius: 3px;
            color: #007bff;
            line-height: 18px;
        }
    }
}

.autoMargin {
    margin: auto;
}


/* *****  Style page d'accueil loader ******* */
.atx-loader-text {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    margin-left: -55px;
    color: #ccc;
    font-size: 15px;
}

.atx-loader,
.atx-loader:before,
.atx-loader:after {
    //border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.atx-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    color: #3d6ba6;
    font-size: 10px;
    margin: -95px auto 80px auto;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.atx-loader:before,
.atx-loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.atx-loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.atx-loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.atx-error-style {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    margin-left: -200px;
    color: #FF5252;
    font-size: 15px;
    text-align: center;
}

.form-control-select {
    width: 72px;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -5px;
}

.control-label-gauge {
    color: #ccc;
    font-weight: bold;
}

.alignClass {
    padding-top: 0 !important;
}

/*DES-347*/
.bloc-toggle .panel-title.fixed-height {
    line-height: 25px;
    position: relative;
    height: 45px;
    overflow: hidden;
    padding-right: 0 !important;

    .overflow-string {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.bloc-toggle .panel-title.fixed-height .reveal-block {
    height: 45px;
}

.bloc-toggle .panel-title.fixed-height .panel-nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 10px;
}

.bloc-toggle .panel-title.fixed-height a .fa {
    line-height: 22px;
}

.bloc-toggle .panel-title.fixed-height .panel-nav .fa {
    color: #fff;
    line-height: 10px;
    padding: 0 9px;
    font-family: "custom", sans-serif !important;
    position: initial;
}

.bloc-toggle .panel-title.fixed-height .panel-nav .fa:before {
    content: "\e600";
    transform: rotate(0deg);
}

.btn-chart {
    background: #4caf50;
    border-color: #4caf50;
}

.btn-chart:hover,
.btn-chart:active,
.btn-chart:focus {
    background: #1b951f !important;
    border-color: #1b951f !important;
}

.panel-table .table-suivi .actions .btn {
    padding: 10px;
}

.panel-table .table-suivi .actions .btn-event {
    padding: 2px 10px;
}

.panel-table .table-suivi .actions .btn-action {
    display: block;
    margin: 0 auto;
}

.panel-table .table-suivi .actions .btn-action .fa {
    font-size: 21px;
    height: 20px;
    width: 20px;
    border: #3d6ba6;
}

.border {
    border: 1px dashed #ddd;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 17px;
    margin-right: 15px;
}

#montantTvaAutre {
    margin-top: -5px;
    padding-left: 5px;
}

#etablissement label {
    padding-top: 0;
}

.buttons-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 64px;
    align-items: center;

    li:last-child {
        margin-right: 0;
    }

    li {
        margin-right: 4px;

        button {
            width: 36px;
            height: 30px;
            padding: 0 !important;
        }
    }
}


.brouillon {
    @extend .fas;
    @extend .fa-pencil-alt;
    color: #4d9acb;
}

.en_attente_validation {
    @extend .fas;
    @extend .fa-user-clock;
    color: #f4a547;
}

.en_attente_accuse {
    @extend .fas;
    @extend .fa-hourglass-half;
    color: #f4a547;
}

.valide {
    @extend .fas;
    @extend .fa-check;
    color: #3988f6;
}

.en_erreur {
    @extend .fas;
    @extend .fa-exclamation-circle;
    color: #d12c26;
}

.notifie {
    @extend .fas;
    @extend .fa-user-check;
    color: #5cb85c;
}

.annule {
    @extend .fas;
    @extend .fa-ban;
    color: #988f8f;
}

.m-r-10 {
    margin-right: 10px;
}

.m-t-1 {
    margin-top: 10px;
}

.m-b-2 {
    margin-bottom: 5px !important;
}

.m-t-1 {
    margin-top: 5px !important;
}

.actions {
    .btn {
        min-width: 42px;
    }
}

.modal-lg {
    width: 50vw;
    max-width: 960px;
}

.modal-confirmation-txt {
    color: #3d6ba6;
}

.vcenter {
    display: flex;
}

.btn:focus {
    outline: none !important;
}

.support {
    background: #f1f7ff;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid #e4ebff;
    margin: 0 auto;
    width: fit-content;
    min-width: 600px;

    table {
        width: 100%;
    }

    .key {
        font-weight: bold;
        text-align: left;
        padding: 12px;
    }

    .value {
        text-align: left;
        white-space: nowrap;
    }
}

.warning {
    font-size: 1.2rem;
    color: #aaa;
    margin: 12px 0;
    display: inline-block;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    top: 10px !important;
}

.fade {
    opacity: 1 !important;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.accordion-toggle[aria-expanded="true"]:before {
    margin-left: 10px;
    content: '\f151';
    font: normal normal normal 16px/1 $fontAwesome;
}

.accordion-toggle[aria-expanded="false"]:before {
    margin-left: 10px;
    content: '\f150';
    font: normal normal normal 16px/1 $fontAwesome;
}


.label-statut {
    padding: 5px 10px;
    font-size: 10px;
    line-height: 0.5;
    border-radius: 1px;
    border: 1px solid silver;
}

.text-white {
    color: white;
}

.alert-warning {
    background-color: $darker-orange !important;
    color: white;
}

.d-flex {
    display: flex;
}

.bs-datepicker-body table td.week span
{
    color: $color-primary !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover
{
    background-color: $color-primary !important;
}

.fa fa-exclamation {
    ::before {
        content: '!' !important;
    }
}

.ligne-separatrice {
    border: solid $color-primary 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-r-1 {
    margin-right: 4px !important;
}

.ng-select-container .ng-value-container .ng-value {
    border: 1px solid $darker-blue;
    padding: 3px;
    border-radius: 5px !important;
}

.cpv-principal {
    color: green !important;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px !important;
}

a .disabled {
    pointer-events: none;
    cursor: not-allowed !important;
}

.unwrap {
    white-space: nowrap;

    &.full {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
}

.p-2 {
    padding: 2rem;
}
