svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg-inline--fa.fa-2xs {
    vertical-align: 0.1em;
}

.svg-inline--fa.fa-xs {
    vertical-align: 0em;
}

.svg-inline--fa.fa-sm {
    vertical-align: -0.0714285705em;
}

.svg-inline--fa.fa-lg {
    vertical-align: -0.2em;
}

.svg-inline--fa.fa-xl {
    vertical-align: -0.25em;
}

.svg-inline--fa.fa-2xl {
    vertical-align: -0.3125em;
}

.svg-inline--fa.fa-pull-left {
    margin-right: var(--fa-pull-margin, 0.3em);
    width: auto;
}

.svg-inline--fa.fa-pull-right {
    margin-left: var(--fa-pull-margin, 0.3em);
    width: auto;
}

.svg-inline--fa.fa-li {
    width: var(--fa-li-width, 2em);
    top: 0.25em;
}

.svg-inline--fa.fa-fw {
    width: var(--fa-fw-width, 1.25em);
}
