<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row" *ngIf="param">
      <atx-breadcrumb class="col-12" [creationLink]="linkCreation" [breadcrumb]="param" [create]="true" createLabel="creerClause"
                      [export]="false"
                      [creationRoles]="administrationRoles"></atx-breadcrumb>
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center" *ngIf="existingUrl()">
                  <img height="70px"
                       [src]="getLogoUrl()"
                       alt="branding logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>
                   {{(loadingExport ? 'client.clause.export-en-cours' : 'client.clause.export-fini') | translate }}
                                </span>

                </h6>

                <div class="d-flex justify-content-center">
                  <button (click)="save(data)" type="button" *ngIf="data"
                          class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                    <i class="fa fa-save"></i> {{'client.clause.export-save' | translate}}
                  </button>
                </div>
              </div>
              <ngx-loading [show]="loadingExport" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

            </div>
          </div>
        </div>
      </section>

    </div>

  </div>
</div>
