
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$error-color: red;

.error{
  color: $error-color;
}

.cell {
  margin: 5px;
  float: left;
  width: 130px;

}
.cell .sm {

}

.cell.large {

  width: 230px;
}
.clear {
  clear: both;
}

input.error {
  color: white;
  background-color: $error-color;
}


ul {
  list-style-type: none;
  padding: 0;
}
li {
  //display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.header{
  font-weight: bold;
}