<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      Attention
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>
  <div class="modal-body pr-0 pl-0 pb-0">
    <div class="col-12">


      <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
        <div class="card-header border-0">
          <div class="card-title text-center">
            <img height="70px"
                 src="{{'assets/images/logo/atexo.png' | imageUrl}}"
                 alt="branding logo">
          </div>
          <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                  <span>
                    {{message }}
                </span>
          </h6>
          <div  class="card-subtitle text-muted text-center font-small-3 pt-2">
            Veuillez contacter un administrateur de votre plateforme
          </div>


        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" (click)="closeModal()"
              class="btn btn-warning btn-sm ml-1">
        <i class="fa fa-close"></i>
        {{"retour" | translate}}
      </button>
    </div>
  </div>
</div>
