<h5 class="form-section">
    {{ 'TEXT_ALERTES_CONSULTATIONS_FAVORITES'|trans }}
</h5>

{% if form.alerteReponseElectronique is defined %}
    {{ form_widget(form.alerteReponseElectronique) }}
{% endif %}
{% if form.alerteClotureConsultation is defined %}
    {{ form_widget(form.alerteClotureConsultation) }}
{% endif %}
{% if form.alerteReceptionMessage is defined %}
    {{ form_widget(form.alerteReceptionMessage) }}
{% endif %}
{% if form.alerteQuestionEntreprise is defined %}
    {{ form_widget(form.alerteQuestionEntreprise) }}
{% endif %}
{% if form.alertePublicationBoamp is defined %}
    {{ form_widget(form.alertePublicationBoamp) }}
{% endif %}
{% if form.alerteEchecPublicationBoamp is defined %}
    {{ form_widget(form.alerteEchecPublicationBoamp) }}
{% endif %}
{% if form.alerteValidationConsultation is defined %}
    {{ form_widget(form.alerteValidationConsultation) }}
{% endif %}