<h5 class="form-section mt-2">
    {{ 'TEXT_ALERTES_CONSULTATIONS_PHASE_ELABORATION'|trans }}
</h5>

{% if form.alerteMesConsultations is defined %}
    {{ form_widget(form.alerteMesConsultations) }}
{% endif %}
{% if form.alerteConsultationsMonEntite is defined %}
    {{ form_widget(form.alerteConsultationsMonEntite) }}
{% endif %}
{% if form.alerteConsultationsDesEntitesDependantes is defined %}
    {{ form_widget(form.alerteConsultationsDesEntitesDependantes) }}
{% endif %}
{% if form.alerteConsultationsMesEntitesTransverses is defined %}
    {{ form_widget(form.alerteConsultationsMesEntitesTransverses) }}
{% endif %}