<div class="row">
    <div class="col-md-12 mb-md-0">
        <div class="card mb-1">
            <div class="card-content">
                {{ form_start(form, { 'attr': { 'id': 'forms-organisme'}}) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" id="keyword">
                            <div class="controls">
                                <h5>
                                    <label>{{ form_label(form.keyword) }}</label>
                                    <i
                                            class="ft-info"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            data-original-title="{{ 'TEXT_TEXT_RECHERCHE_MOT_CLE' | trans }}"
                                    >
                                    </i>
                                </h5>
                                {{ form_widget(form.keyword) }}
                            </div>
                        </div>
                        <div class="col-md-6" id="entitePublique">
                            <div class="controls">
                                <h5>
                                    <label>{{ 'MODE_RECHERCHE_ENTITE' | trans }}</label>
                                </h5>
                                <fieldset class="form-group">
                                    <span class="arrow-down"></span>
                                    {{ form_widget(form.entitePublique) }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="float-md-right">
                                {{ form_widget(form.search, { 'attr': {'id': 'search', 'class': 'btn btn-primary primary-client-bg-border'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>