{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/themes/lib/select2/select2.min.css" >
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/datatable/dataTables.bootstrap4.min.css') }}">
    {{ encore_entry_link_tags('recherche-organisme') }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {#    {{ encore_entry_script_tags('recherche-organisme') }}#}
{% endblock %}

{# This block is setting the flash message handling empty from the layout to use a customed one for Dashboard #}
{% block flashMessageBlock %}{% endblock %}

{% block content %}
    <div class="search-organisme-page">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title">{{'BREADCRUMB_RECHERCHE_ORGANISME' | trans}}</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                {{'PARAMETRAGES' | trans}}
                            </li>
                            <li class="breadcrumb-item item-chevron active">
                                {{ 'DEFINE_GESTION_ORGANISMES' | trans }} des organismes
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div id="consultation-recherche-flashbag">
            <div class="row">
                <div class="col-md-12 mb-md-0">
                    {# Success #}
                    {% for message in app.flashes('success') %}
                        <div class="alert bg-success alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                            <span class="alert-icon"><i class="la la-check"></i></span>
                            {{ message | raw }}
                        </div>
                    {% endfor %}

                    {# Warning #}
                    {% set warningMessages = app.flashes('warning') %}
                    {% if warningMessages %}
                        <div class="alert bg-warning alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                            <span class="alert-icon"><i class="la la-exclamation"></i></span>
                            {% for message in warningMessages %}
                                {{ message | raw }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {# Error #}
                    {% set errorMessages = app.flashes('error') %}
                    {% for message in errorMessages %}
                        <div class="alert bg-danger alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                            <span class="alert-icon"><i class="la la-exclamation"></i></span>
                            {{ message | raw | nl2br }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <section id="page-account-settings">
            {{ include('agent/administration/organisme/form.html.twig') }}
            {% if organismes is empty and searchLaunched %}
                <div class="row" id="no-result-message">
                    <div class="col-md-12 col-12 mb-2">
                        <div class="alert bg-warning alert-dismissible mb-2 text-center pt-2 pb-2" role="alert">
                            {{ 'DEFINE_NO_RESULTS' | trans }}
                        </div>
                    </div>
                </div>
            {% elseif organismes is not empty %}
                <div class="row mt-2">
                    <div class="col-md-3 mb-2 mb-md-0">
                        <div class="card results">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-2 text-center bg-primary primary-client-bg rounded-left">
                                        <i class="ft-search font-large-2 text-white"></i>
                                    </div>
                                    <div class="py-1 px-2 media-body">
                                        <div class="row">
                                            <div class="col-md-10 mb-2 mb-md-0">
                                                <h3 class="primary primary-client">
                                                    {{ paginator.total|thousand_separator }}
                                                </h3>
                                                <span>
                                             {{ 'RESULTATS_DE_RECHERCHE' | trans }}
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 mb-2 mb-md-0">
                        {{ include('agent/administration/organisme/navigator.html.twig') }}
                    </div>
                </div>

                <!-- block results -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="organismes-table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'DENOMINATION' | trans }}</th>
                                <th>{{ 'ACRONYME' | trans }}</th>
                                <th>{{ 'DEFINE_SIGLE' | trans }}</th>
                                <th>{{ 'SERVICES_ACCESSIBLES' | trans }}</th>
                                <th>{{ 'TEXT_LOGO' | trans }}</th>
                                <th class="action-col">{{ 'ACTIONS' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for organisme in organismes %}
                                <tr>
                                    <td>{{ organisme.name }}</td>
                                    <td>{{ organisme.acronyme }}</td>
                                    <td>{{ organisme.sigle }}</td>
                                    <td>{{ organisme.serviceAccessible }}</td>
                                    <td><img src="{{ atexo_menu.getUrlLogoOrganisme(organisme.acronyme) }}" class="logo" alt="Logo Organisme" title="Logo Organisme"/></td>
                                    <td>
                                        <a href="{{ app.request.getSchemeAndHttpHost() ~ '/index.php?page=Agent.GestionOrganisme&org=' ~ organisme.acronyme }}"
                                           class="btn btn-info button-link" role="button"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    {{ include('agent/administration/organisme/navigator.html.twig') }}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
