<div class="card navigator">
    <div class="card-content">
        <div class="media align-items-stretch">
            <div class="py-1 px-2 media-body">
                <div class="row">
                    <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
                        <div class="">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                    <li class="mr-1">
                                        {{ 'RESULTATS_PAR_PAGE' | trans }} :
                                    </li>
                                    <li class="page-item {% if not paginator.itemsPerPage20isActive %}active{% endif %}">
                                        <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage10 }}">
                                            10
                                        </a>
                                    </li>
                                    <li class="page-item {% if paginator.itemsPerPage20isActive %}active{% endif %}">
                                        <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage20 }}">
                                            20
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                <li class="page-item">
                                    {% if paginator.previous is defined %}
                                        <a class="page-link" href="{{ paginator.previous }}" aria-label="{{ 'DEFINE_PRECEDENT' | trans }}">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">{{ 'DEFINE_PRECEDENT' | trans }}</span>
                                        </a>
                                    {% endif %}
                                </li>
                                <li class="page-item">{{ 'PAGE' | trans }} </li>
                                <li class="page-item ml-1 mr-1"><input type="text" style="width:50px;" class="form-control input-sm" value="{{ paginator.current }}" data-link="{{ paginator.goto }}" data-last-page="{{ paginator.last }}"></li>
                                <li class="page-item active">{{ 'TEXT_SUR' | trans }} {{ paginator.last }}</li>
                                <li class="page-item">
                                    {% if paginator.next is defined %}
                                        <a class="page-link" href="{{ paginator.next }}" aria-label="{{ 'DEFINE_SUIVANT' | trans }}">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">{{ 'DEFINE_SUIVANT' | trans }}</span>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>