<template>
  <ul>
    <li class="dropdown dropdown-notification nav-item dropdown-chartBI" :class="{show:hasClick}">
        <a id="statistique-getReports" class="nav-link nav-link-label d-flex align-items-center" href="#" data-toggle="dropdown" v-on:click.self="getReports()">
            <i class="fa fa-chart-bar"></i>
            {{ langStatistics }}
        </a>
        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
            <li class="dropdown-menu-header p-0">
                <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">
                        {{ langStatisticsReports }}
                    </span>
                </h6>
            </li>
            <li v-if="loading" class="scrollable-container media-list w-100" style="text-align: center">
                <i class="fas fa-duotone fa-spinner fa-spin fa-3x" title="Chargement"></i>
            </li>
            <li v-if="hasStatistics && !loading" class="scrollable-container media-list w-100">
                <div class="media-body">
                    <div class="row text-center">
                        <div v-for="(report, index) in reports" class="col-md-6 justify-content-md-center" v-bind:class="index < 2 ? 'mb-2' : ''">
                            <a class="text-center mb-2 mb-lg-3"
                               v-bind:href="'/agent/statistiques/reports/' + report['id']">
                                <i v-bind:class="report['icone']" class="font-medium-5 mr-0"></i>
                                <p class="font-medium-1 mt-25 mb-0">
                                    {{ report['name'] }}
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li v-if="!hasStatistics && !loading" class="scrollable-container media-list w-100">
                {{ langNoStatisticsReports }}
                <i v-if="error" class="fas fa-info-circle" v-bind:title="error"></i>
            </li>
        </ul>
    </li>
  </ul>
</template>

<script>
import axios from "axios";

export default {
    props: {
        langStatistics          : String,
        langStatisticsReports   : String,
        langNoStatisticsReports : String
    },
    data() {
        return {
            loading         : true,
            hasStatistics   : false,
            reports         : {},
            error           : null,
            hasClick        : false,
        }
    },
    methods: {
        getReports: function () {
            this.hasClick = !this.hasClick;
            if (this.loading) {
                axios.get(
                    '/agent/statistiques/reports',
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                ).then((response) => {
                    this.hasStatistics = response.data['hasStatistics'];
                    this.reports = response.data['reports'];
                    this.error = response.data['error'];
                    this.loading = false;
                }).catch((error) => {
                    this.error = error;
                    this.loading = false;
                    console.log(error);
                });
            }
        }
    }
};
</script>
