{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('recherche-avancee-consultation') }}
{% endblock %}
{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXT_MES_RECHERCHES_SAUVEGARDEES'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'TEXT_MES_RECHERCHES'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'TEXT_GESTION_RECHERCHES_SAUVEGARDEES'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <h4 class="float-left">
                    {{ 'MENU_AGENT_PASSATION_MES_RECHERCHES_SAUVEGARDEES'|trans }}
                </h4>
                <a href="{{ path('consultation_search_index', {'search': 'true'}) }}">
                    <button class="float-right btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i>{{ 'DEFINE_TEXT_CREER'|trans }}
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body">
            {% if recherches %}
            <table class="table table-striped">
                <thead>
                <tr class="text-center" >
                    <th scope="col"></th>
                    <th scope="col">{{ 'TEXT_TYPE_AVIS'|trans }}</th>
                    <th scope="col" class="text-center">{{ 'TEXT_ACTIONS'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for recherche in recherches %}
                    <tr id="lineToHide{{ recherche.id }}">
                        <th>{{ recherche.denomination }}</th>
                        <td class="text-center">Consultation</td>
                        <td class="text-center">
                            <a href="{{ path('consultation_search_index', {'search': 'true'}) }}">
                                <button class="btn btn-xs btn-success"><i class="fa fa-edit"></i></button>
                            </a>
                            <button class="btn btn-xs btn-danger deleteRechecheBtn" data-id="{{ recherche.id }}"><i class="fa fa-trash"></i></button>
                            <a href="{{ recherche.url }}">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-search"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-warning">
                <i class="fa fa-exclamation-circle"></i> {{ 'DEFINE_TEXT_AUCUNE_RECHERCHE_SAUVEGARDEE'|trans }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
