
.text {
    margin: 0 1000px 2px;
    font-size: 20px;
}

p {
    margin-left: 18px;
    color: #1d4b86;
    font-weight: 700;
    padding: 16px;
    font-size: 16px;
}


#drop {
    position: absolute;
    right: -1px;
    width: 80px;
    height: 50px;
    outline: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.modal-dialog-scrollable {
    display: contents;
}

.scrollable {
    height: 100%;
    overflow: auto;
}


.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
    overflow-x: hidden !important;
}
