<div *ngIf="avisPub" class="modal-content">
    <form #invalidateForm="ngForm"
          (ngSubmit)="invalidateForm.valid && invalidate()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">
                <strong>Rejet de </strong>
                {{avisPub.offreRacine.libelle}}
            </h4>
            <i (click)="closeModal()"
               class="la la-times"
               style="margin-top: auto;margin-bottom: auto; cursor: pointer"></i>
        </div>
        <div class="modal-body pb-0">
            <div class="row">
                <div class="form-group col-12">
                    <div>
                        <h5>
                            <label>Commentaire
                            </label>
                        </h5>
                    </div>
                    <div class="controls">
                         <textarea
                             #commentaireStatut="ngModel"
                             [(ngModel)]="commentaire"
                             [ngClass]="{ 'is-invalid': invalidateForm.submitted && commentaireStatut.invalid }"
                             class="form-control mb-1"
                             id="commentaireStatut"
                             name="commentaireStatut"
                             required
                             rows="10"
                         >
                         </textarea>
                        <p *ngIf="invalidateForm.submitted && !commentaire"
                           class="block-tag text-left">
                            <small class="badge badge-danger truncate">{{"form.required" | translate}}</small>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button (click)="closeModal()" class="btn btn-warning btn-sm"
                    type="button">
                <i class="la la-times"></i> Annuler
            </button>
            <button
                    [disabled]="invalidateForm.invalid"
                    class="btn btn-danger btn-sm ml-1"
                    type="submit"><i
                    class="la feather ft-slash"></i>
                Rejeter
            </button>
        </div>
    </form>
</div>
