{% if echangeDocApplicationClient.echangeDocApplication.primoSignature %}
    <script>
        var primoSignature = true;
        var openModalJeton = document.getElementById("openModalJeton");
        if (typeof openModalJeton != 'undefined' && openModalJeton != null) {
            openModalJeton.style.visibility = "visible";
        }
    </script>
{% else %}
    <script>
        var primoSignature = false;
        var openModalJeton = document.getElementById("openModalJeton");
        if (typeof openModalJeton != 'undefined' && openModalJeton != null) {
            openModalJeton.style.visibility = "hidden";
        }
    </script>
{% endif %}
{% if isEchangeDocApplicationClient == true %}
    <label for="application" class="col-sm-4 col-form-label">
        {{ 'CHEMINEMENT_PASTELL' | trans }}
        <span class="m-l-1 text-danger">*</span>
    </label>
    <div class="col-sm-8" id="cheminement-pastell">
        {% if echangeDocApplicationClient.isCheminementSignature() %}
            <div id="div_cheminement_signature">
                <input type="checkbox" name="cheminement_signature" class="checkbox_pastell" id="cheminement_signature">
                <label for="cheminement_signature" class="label-inherit">{{ 'ECHANGE_PARAPHEUR' | trans }}</label>
            </div>
        {% endif %}

        {% if echangeDocApplicationClient.isCheminementSae() %}
            <div id="div_cheminement_sae">
                <input type="checkbox" name="cheminement_sae" class="checkbox_pastell" id="cheminement_sae">
                <label for="cheminement_sae" class="label-inherit">{{ 'ARCHIVAGE' | trans }}</label>
            </div>
        {% endif %}

        {% if echangeDocApplicationClient.isCheminementGed() %}
            <div id="div_cheminement_ged">
                <input type="checkbox" name="cheminement_ged" class="checkbox_pastell" id="cheminement_ged">
                <label for="cheminement_ged" class="label-inherit">{{ 'GED' | trans }}</label>
            </div>
        {% endif %}

        {% if echangeDocApplicationClient.isCheminementTdt() %}
            <div id="div_cheminement_tdt">
                <input type="checkbox" name="cheminement_tdt" class="checkbox_pastell" id="cheminement_tdt">
                <label for="cheminement_tdt" class="label-inherit">{{ 'CONTROLE_LEGALITE' | trans }}</label>
            </div>
        {% endif %}

        <small id="cheminementError" class="form-text text-danger">{{ 'CHAMP_OBLIGATOIRE' | trans }}</small>
    </div>
{% else %}
    <script>
        var pasttell = document.getElementById("pastell");
        if (typeof pasttell != 'undefined' && pasttell != null) {
            pasttell.style.visibility = "none";
        }
    </script>
{% endif %}

<script>
    var sectionTexte = document.querySelector('#step-2 div.section-texte');
    var multiDocs =  document.getElementById("stepwizard-echange-doc");
    {% if echangeDocApplicationClient.multiDocsPrincipaux %}
       multiDocs.setAttribute("data-multi-docs-principaux", "1");
        sectionTexte.textContent = "{{ 'ECHANGE_DOC_ETAPE_2_SELECTION_MULTI_DOCS'|trans|e('js') }}";
    {% else %}
        multiDocs.setAttribute("data-multi-docs-principaux", "0");
        sectionTexte.textContent = "{{ 'TEXT_ETAPE_2_SELECTION_DOCS'|trans|e('js') }}";
    {% endif %}
</script>