{{ echange.contratTitulaire.numeroContrat }}
{% if echange.raisonSocialeTitulaire is not null %}
    | {{ 'DEFINE_ATTRIBUTAIRE' | trans }}: {{ echange.raisonSocialeTitulaire }}
{% endif %}
{% if echange.montantContrat is not null %}
    | {{ 'MONTANT' | trans }}: {{ echange.montantContrat | format_currency('EUR') }}
{% endif %}
