<li class="discussion-thread-item">
        <span class="discussion-thread-badge info">
            <i class="fas fa-envelope"></i>
        </span>
    <span class="discussion-thread-panel">
            <span class="discussion-thread-header">
                <span class="discussion-thread-title">{{ 'ENVOI_ECHANGE_VERS_APPS_DISTANCE' | trans }}</span>
                <span class="discussion-thread-time label-info-custom">{{ echange.createdAt|date(frenchFullDateTimeFormat) }}</span>
            </span>
            <hr>
            <div class="entete-echange">
                <span class="badge badge-primary badge-pill">{{ echange.echangeDocApplicationClient.libelle }}</span>
                {{ include('echangeDocumentaire/bloc/info-app.html.twig', { 'echange': echange }) }}
                <div class="m-t-1 m-b-1">
                    <span class="badge badge-info badge-pill">
                        <i class="fa fa-sign-out-alt"></i>
                        {{ 'ECHANGE_SORTANT'|trans }}
                    </span>
                    <strong class="badge badge-info-complement badge-pill">
                        {{ 'TITRE' |trans }}
                        <i class="fas fa-long-arrow-alt-right"></i>
                        {{ echange.echangeDocApplicationClient.libelle }}
                    </strong>
                </div>
            </div>
            <div class="mt-2">
                <div class="panel-body">
                    <div class="p-2">
                        <span class="text-bold">{{ 'LABEL_OBJET_ECHANGE' | trans }}</span> {{ echange.objet }}
                    </div>
                    <div class="p-2">
                        <span class="text-bold"> {{ 'DEFINE_DESCRIPTION' | trans }} : </span>
                        <span>{{ echange.description }}</span>
                    </div>
                    {# TODO : EXEC -  A supprimer quand le module EXEC sera activé #}
                    {% if echange.contratTitulaire is not null %}
                        <div class="p-2">
                            <span class="text-bold"> {{ 'LABEL_CONCERNE_CONTRAT_ECHANGE' | trans }} </span>
                            <span>
                                {{ include('echangeDocumentaire/bloc/contrat-echange-info.html.twig', { 'echange':  echange }) }}
                            </span>
                        </div>
                    {% endif %}
                    {# ENDTODO #}

                    {% if echange.uuidExterneExec %}
                        <div class="p-2">
                            <span class="text-bold"> {{ 'LABEL_CONCERNE_CONTRAT_ECHANGE' | trans }} </span>
                            <span>
                                {{ include('echangeDocumentaire/bloc/contrat-echange-info-exec.html.twig', { 'echange':  echange }) }}
                            </span>
                        </div>
                    </p>
                    {% endif %}
                    <span class="files-echange p-2">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="tableDashboardEchange_col-3">
                                           <span class="label-info-custom">{{ 'DOCUMENT_S_JOINT_S_ECHANGE'|trans }}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set codeCategoriePrincipal = constant('App\\Entity\\EchangeDocumentaire\\EchangeDocBlob::FICHIER_PRINCIPAL') %}
                                {% set codeCategorieJeton = constant('App\\Entity\\EchangeDocumentaire\\EchangeDocBlob::FICHIER_JETON') %}
                                {% set codeCategorieAnnexe = constant('App\\Entity\\EchangeDocumentaire\\EchangeDocBlob::FICHIER_ANNEXE') %}

                                {% for echangeDocBlob in echange.echangeDocBlobs %}
                                    {% if echangeDocBlob.categoriePiece != codeCategorieJeton and echangeDocBlob.echangeTypeActes is not null and echangeDocBlob.echangeDoc.echangeDocApplicationClient.echangeDocApplication.fluxActes == '1'%}
                                        {% set label = echangeDocBlob.echangeTypeActes.libelle %}
                                    {% endif %}
                                    {% if  echangeDocBlob.categoriePiece != codeCategorieJeton and echangeDocBlob.echangeTypeStandard is not null and echangeDocBlob.echangeDoc.echangeDocApplicationClient.echangeDocApplication.fluxActes == '0' %}
                                        {% if echange.echangeDocApplicationClient.echangeDocApplication.envoiDic == 1 %}
                                            {% set label = echangeDocBlob.echangeTypeStandard.code %}
                                        {% else %}
                                            {% set label = echangeDocBlob.echangeTypeStandard.libelle %}
                                        {% endif %}
                                    {% endif %}
                                    {% if echangeDocBlob.categoriePiece == codeCategoriePrincipal %}
                                        {% set picto = 'fa-star' %}
                                        {% set cssClass = 'category-doc-principal' %}
                                        {% set tree = "" %}
                                    {% elseif echangeDocBlob.categoriePiece == codeCategorieJeton %}
                                        {% set picto = 'fa-certificate' %}
                                        {% set tree = "display-tree" %}
                                        {% set label = 'JETON_SIGNATURE_ELECTRONIQUE' | trans() %}
                                        {% set cssClass = 'category-jeton' %}
                                    {% else %}
                                        {% set picto = '' %}
                                        {% set tree = '' %}
                                    {% endif %}

                                    {% if echangeDocBlob.categoriePiece == codeCategoriePrincipal %}
                                        {# Affichage du document principal #}
                                        {{ _self.echangeDocBlobRow(echangeDocBlob, tree, picto, cssClass, label) }}

                                        {% if echangeDocBlob.annexes|length > 0 %}
                                            {# Affichage des doc echange annexes et jeton lié au document principal #}
                                            {% for echangeDocBlobAnnexe in echangeDocBlob.annexes %}
                                                {% set label = '' %}
                                                {%  if echangeDocBlobAnnexe.echangeTypeStandard.libelle is defined %}
                                                    {% set label = echangeDocBlobAnnexe.echangeTypeStandard.libelle %}
                                                {% endif %}

                                                {% if echangeDocBlobAnnexe.categoriePiece == codeCategorieJeton %}
                                                    {% set picto = 'fa-certificate' %}
                                                    {% set tree = "display-tree" %}
                                                    {% set label = 'JETON_SIGNATURE_ELECTRONIQUE' | trans() %}
                                                    {% set cssClass = 'category-jeton' %}
                                                {% else %}
                                                    {% set picto = 'fa-paperclip' %}
                                                    {% set tree = "display-tree" %}
                                                    {% set cssClass = 'category-fichier-annexe' %}
                                                {% endif %}

                                                {{ _self.echangeDocBlobRow(echangeDocBlobAnnexe, tree, picto, cssClass, label) }}
                                            {% endfor %}
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                                {% if echange.statut == get_parameter('ECHANGE_DOC_STATUT_GENERATION_DIC') %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-star category-doc-principal"></i>
                                            <span style="color: #1183ff">
                                                {{ 'ECHANGE_DOCUMENTAIRE_STEP_4_INFORMATIONS_DAC' | trans }}
                                                <span class="badge badge-info-jeton-fichier badge-pill">
                                                    <i class="fa fa-tag space-font"></i>
                                                    DAC
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                     </span>
                </div>
            </div>
        </span>
</li>

{% macro echangeDocBlobRow(echangeDocBlob, tree, picto, cssClass, label) %}
    <tr>
        <td>
            {% if tree is defined %}
                <span class="{{ tree }}">&nbsp;</span>
            {% endif %}
            <i class="fa {{ picto }} {{ cssClass }}"></i>
            <a
                class="download-link download-link-echange"
                href="{{ path('echange_documentaire_get_file_echange',
                {
                    'echangeDocBlobId': cryptage(echangeDocBlob.id) ,
                    'blobId': cryptage(echangeDocBlob.echangeDoc.id)
                })
                }}">
                {% if echangeDocBlob.echangeDoc.echangeDocApplicationClient.echangeDocApplication.envoiDic == 1 %}
                    {{ 'ECHANGE_DOCUMENTAIRE_STEP_4_INFORMATIONS_DAC' | trans }}
                    ({{ echangeDocBlob.poids | readable_filesize }})
                {% elseif echangeDocBlob.chemin != '' %}
                    {% if '/' in echangeDocBlob.chemin %}
                        {% set chemin = echangeDocBlob.chemin|split('/') %}
                        {% set nombre = chemin|length %}
                        {% if nombre > 1 %}
                            {% set nombre = nombre - 1 %}
                        {% endif %}

                        {% set chemin = chemin[nombre] %}
                    {% else %}
                        {% set chemin = echangeDocBlob.chemin %}
                    {% endif %}

                    {{ chemin }}
                    ({{ echangeDocBlob.poids | readable_filesize }})
                {% else %}
                    {{ echangeDocBlob.blobOrganisme.name }}
                    ({{ echangeDocBlob.poids | readable_filesize }})
                {% endif %}
                {% if label is not null %}
                    <span class="badge badge-info-jeton-fichier badge-pill">
                        <i class="fa fa-tag space-font"></i>
                        {{ label }}
                    </span>
                {% endif %}
            </a>
        </td>
    </tr>
{% endmacro %}
