{% set color = 'success' %}
{% set picto = '' %}
{% set colorRetour = '' %}
{% set pictoTimeLine = 'fa-check' %}
{% set titre = '' %}
{% if echangeHistorique.statut == 'A_ENVOYER' %}
    {% set colorRetour = 'relance' %}
    {% set pictoTimeLine = 'fa-redo' %}
    {% set titre = 'RELANCE_ENVOI_ECHANGE_DISTANCE' %}
{% elseif echangeHistorique.statut == 'ENVOYE' %}
    {% set colorRetour = 'relance' %}
    {% set pictoTimeLine = 'fa-long-arrow-alt-right' %}
    {% set titre = 'ECHANGE_RECUPERE_EN_COURS_TR_APP_DISTANTE' %}
{% elseif echangeHistorique.statut == 'ECHEC' or echangeHistorique.statut == 'REJETE' %}
    {% set color = 'error' %}
    {% set picto = 'question-mark-picto' %}
    {% set colorRetour = 'error' %}
    {% set pictoTimeLine = 'fa-times' %}
    {% set titre = 'ECHEC_ENVOI_ECHANGE_DISTANCE' %}
    {% if echangeHistorique.statut == 'REJETE' %}
        {% set pictoTimeLine = 'fa-ban' %}
        {% set titre = 'REJETE_ENVOI_ECHANGE_DISTANCE' %}
    {% endif %}
{% elseif echangeHistorique.statut == 'RECEPTIONNE' %}
    {% set color = 'delivered' %}
    {% set colorRetour = 'delivered' %}
    {% set titre = 'DELIVRE_ENVOI_ECHANGE_DISTANCE' %}
{% endif %}
<li class="discussion-thread-item">
    <span class="discussion-thread-badge {{ colorRetour }}">
        <i class="fas {{ pictoTimeLine }}"></i>
    </span>
    <span class="discussion-thread-panel">
        <span class="discussion-thread-header">
            <span class="discussion-thread-title">{{ titre | trans }}</span>
            <span class="discussion-thread-time">
                {{ echangeHistorique.createdAt|date(frenchFullDateTimeFormat) }}
            </span>
        </span>
        {% if ( echangeHistorique.messageFonctionnel and echangeHistorique.statut in ['ENVOYE','RECEPTIONNE', 'ECHEC', 'REJETE']) %}
            <hr>
            <div class="mt-2">
                <div class="panel-body">
                    <div class="objet-echange">
                        <div>
                            <a class="show-detail-echange" data-id="sde-{{ cryptage(echangeHistorique.id) }}">
                                <i class="fa fa-plus-circle"></i> {{ "AFFICHER_DETAIL" | trans }}
                            </a>
                        </div>
                    </div>

                    <div class="detail-echange-fonctionnel" id="sde-{{ cryptage(echangeHistorique.id) }}">
                        <hr/>
                        <div class="bloc-detail-message-echange">
                            {{ echangeHistorique.messageFonctionnel }}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
    </span>
</li>