{% if echange.numeroContrat and echange.numeroContrat %}
    {{ echange.numeroContrat }}
{% endif %}

{% if echange.raisonSocialeTitulaire is not null %}
    | {{ 'DEFINE_ATTRIBUTAIRE' | trans }}: {{ echange.raisonSocialeTitulaire }}
{% endif %}

{% if echange.montantContrat is not null %}
    | {{ 'MONTANT' | trans }}: {{ echange.montantContrat | format_currency('EUR') }}
{% endif %}
