<tr>
    <td class="fsize-12">
        <div class="entete-echange">
            <div class="d-flex">
                <span class="badge badge-primary badge-pill">{{ echange.echangeDocApplicationClient.libelle }}</span>
                {{ include('echangeDocumentaire/bloc/info-app.html.twig', { 'echange': echange }) }}
            </div>
            <div class="m-t-1 m-b-1">
                <span class="badge badge-info badge-pill">
                    <i class="fa fa-sign-out-alt"></i>
                    {{ 'ECHANGE_SORTANT'|trans }}
                </span>
                <strong class="badge badge-info-complement badge-pill">
                    {{ 'TITRE' |trans }}
                    <i class="fas fa-long-arrow-alt-right"></i>
                    {{ echange.echangeDocApplicationClient.libelle }}
                </strong>
            </div>
        </div>
        <div class="mt-2">
            <div class="panel-body">
                <div class="objet-echange text-bold">
                    {{ echange.objet }}
                </div>
                <p class="description-echange">
                    {% if echange.description != '' %}
                        <i class="fa fa-quote-left"></i>
                        <span>{{ echange.description }}</span>
                    {% endif %}
                </p>

                {# TODO : EXEC -  A supprimer quand le module EXEC sera activé #}
                {% if echange.contratTitulaire %}
                    <p class="description-echange">
                        <i class="fa fa-handshake-o"></i>
                        {{ include('echangeDocumentaire/bloc/contrat-echange-info.html.twig', { 'echange':  echange }) }}
                    </p>
                {% endif %}
                {# ENDTODO #}

                {% if echange.uuidExterneExec and echange.numeroContrat %}
                    <p class="description-echange">
                        <i class="fa fa-handshake-o"></i>
                        {{ include('echangeDocumentaire/bloc/contrat-echange-info-exec.html.twig', { 'echange':  echange }) }}
                    </p>
                {% endif %}

                <span class="files-echange">
                        <i class="fa fa-paperclip"></i>
                        {{ echange.echangeDocBlobs | length }} {{ 'DOCUMENT_S' | trans }}
                    </span>
            </div>
        </div>
    </td>
    <td class="align-baseline">
        {% set color = 'success' %}
        {% set picto = '' %}
        {% set colorRetour = '' %}
        {% set question = '' %}

        {% if echange.statut == 'A_ENVOYER' or echange.statut == get_parameter('ECHANGE_DOC_STATUT_GENERATION_DIC') %}
            {% set color = 'progress' %}
            {% set picto = 'fa-envelope' %}
        {% elseif echange.statut == 'ENVOYE' %}
            {% set color = 'primary' %}
            {% set picto ='fa-arrow-right' %}
            {% set colorRetour = 'ENVOYE' %}
        {% elseif echange.statut == 'ECHEC' %}
            {% set color = 'danger' %}
            {% set picto = 'fa-times' %}
            {% set question = 'question-mark-picto' %}
            {% set colorRetour = 'ECHEC' %}
        {% elseif echange.statut == 'RECEPTIONNE' %}
            {% set color = 'success' %}
            {% set picto = 'fa-check' %}
            {% set colorRetour = 'RECEPTIONNE' %}
        {% elseif echange.statut == 'REJETE' %}
            {% set color = 'danger' %}
            {% set picto = 'fa-ban' %}
            {% set question = 'question-mark-picto' %}
            {% set colorRetour = 'REJETE' %}
        {% endif %}
        <span class="badge alert-color-{{ color }} {{ question }}" id="badge-echange-{{ echange.id }}">
            {{ echange.statut | trans }}
        </span>
        <ul class="list-time mt-3">
            {% if echange.statut != 'A_ENVOYER' and echange.statut != get_parameter('ECHANGE_DOC_STATUT_GENERATION_DIC') %}
                {% set defaultPicto = 'fa-envelope' %}
                <li>
                        <span class="tag" id="date-echange-{{ echange.id }}">
                            <i class="fa {{ defaultPicto }}"></i>
                        </span>
                    <time datetime="{{ echange.createdAt|date(frenchFullDateTimeFormat) }}">
                        {{ echange.createdAt|date(frenchFullDateTimeFormat) }}
                    </time>
                </li>
                {% for echangeHistory in echange.echangeDocHistoriques %}

                    {% if echangeHistory.statut == 'ENVOYE' %}
                        {% set picto ='fa-arrow-right' %}
                    {% elseif echangeHistory.statut == 'ECHEC' %}
                        {% set picto = 'fa-times' %}
                    {% elseif echangeHistory.statut == 'RECEPTIONNE' %}
                        {% set picto = 'fa-check' %}
                    {% elseif echangeHistory.statut == 'REJETE' %}
                        {% set picto = 'fa-ban' %}
                    {% endif %}
                    {% if (echange.statut == 'ECHEC' or echange.statut == 'RECEPTIONNE' or echange.statut == 'REJETE') and
                        (echangeHistory.statut == 'ENVOYE') %}
                        <li>
                            <span class="tag" id="date-echange-{{ echange.id }}">
                                <i class="fa {{ picto }}"></i>
                            </span>
                            <time datetime="{{ echangeHistory.createdAt|date(frenchFullDateTimeFormat) }}">
                                {{ echangeHistory.createdAt|date(frenchFullDateTimeFormat) }}
                            </time>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set color = 'success' %}
            {% set picto = '' %}
            {% set colorRetour = '' %}
            {% set question = '' %}

            {% if echange.statut == 'A_ENVOYER' or echange.statut == get_parameter('ECHANGE_DOC_STATUT_GENERATION_DIC')%}
                {% set color = 'progress' %}
                {% set picto = 'fa-envelope' %}
            {% elseif echange.statut == 'ENVOYE' %}
                {% set color = 'primary' %}
                {% set picto ='fa-arrow-right' %}
                {% set colorRetour = 'ENVOYE' %}
            {% elseif echange.statut == 'ECHEC' %}
                {% set color = 'danger' %}
                {% set picto = 'fa-times' %}
                {% set question = 'question-mark-picto' %}
                {% set colorRetour = 'ECHEC' %}
            {% elseif echange.statut == 'RECEPTIONNE' %}
                {% set color = 'success' %}
                {% set picto = 'fa-check' %}
                {% set colorRetour = 'RECEPTIONNE' %}
            {% elseif echange.statut == 'REJETE' %}
                {% set color = 'danger' %}
                {% set picto = 'fa-ban' %}
                {% set question = 'question-mark-picto' %}
                {% set colorRetour = 'REJETE' %}
            {% endif %}

            <li>
                <span class="tag {{ color }}"
                      id="date-echange-{{ echange.id }}">
                    <i class="fa {{ picto }}"></i></span>
                <time datetime="{{ echange.updatedAt|date(frenchFullDateTimeFormat) }}">
                    {{ echange.updatedAt|date(frenchFullDateTimeFormat) }}
                </time>
            </li>
        </ul>
    </td>

    <td class="align-baseline">
        <div class="action-echange" style="height: 40px;">
            <button type="button"
                    class="btn btn-primary table-action-button detail-echange"
                    data-toggle="modal"
                    data-target="#myModal"
                    data-id-echange="{{ path('echange_documentaire_modal_detail_echange', {'idEchange': cryptage(echange.id) }) }}"
                    title="{{ 'DETAIL_ECHANGE' | trans }}"
                    alt="{{ 'DETAIL_ECHANGE' | trans }}">
                <i class="fas fa-search"></i>
            </button>
        </div>
        {% if echange.statut == 'ECHEC' or echange.statut == 'REJETE' %}
            <div>
                <button type="button"
                        class="btn btn-primary table-action-button relance-echange"
                        data-id-echange="{{ echange.id }}"
                        title="{{ 'RELANCE_ECHANGE' | trans }}" alt="">
                    <i class="fas fa-redo"></i>
                </button>
            </div>
        {% endif %}
    </td>
</tr>
