<li class="discussion-thread-item">
    <span class="discussion-thread-badge error">
        <i class="fas fa-exclamation-triangle"></i>
    </span>
    <span class="discussion-thread-panel">
        <span class="discussion-thread-header">
            <span class="discussion-thread-title">{{ ERREUR | trans }}</span>
        </span>
    </span>
</li>