<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header no-underline m-t-0">
                    <div class="titre-souligne">
                        <h3 class="style-echange--title m-t-0">
                            {{ 'APPLICATION_DISTANTE' | trans }}
                        </h3>
                    </div>
                </div>
                <div class="page-header m-t-0">
                    <h4 class="style-echange">{{ 'LABEL_APPLICATION_DISTANTE' | trans }}</h4>
                </div>
                <div>
                    <p id="syntheseApplication" class="card-text style-text"></p>
                </div>
                <br>
                <div class="pastell">
                    <div class="page-header m-t-0 pastell">
                        <h4 class="style-echange">{{ 'CHEMINEMENT_PASTELL' | trans }}</h4>
                    </div>
                    <div id="cheminement_signature_synthese">
                        <div id="cheminement_signature_oui_synthese" class="card-text style-text">
                            <i class="fas fa-check-circle"></i>
                            {{ "PARAPHEUR_TEXT" | trans ~ ' : ' ~ 'TEXT_OUI' | trans }}
                        </div>
                        <div id="cheminement_signature_non_synthese" class="card-text style-text">
                            <i class="far fa-circle"
                              ></i> {{ "PARAPHEUR_TEXT" | trans ~ ' : ' ~ 'TEXT_NON' | trans }}
                        </div>
                    </div>

                    <div id="cheminement_tdt_synthese">
                        <div id="cheminement_tdt_oui_synthese" class="card-text style-text">
                            <i class="fas fa-check-circle"
                               ></i> {{ "CONTROLE_DE_LEGALITE_TEXT" | trans ~ ' : ' ~ 'TEXT_OUI' | trans }}
                        </div>
                        <div id="cheminement_tdt_non_synthese" class="card-text style-text">
                            <i class="far fa-circle"
                               ></i> {{ "CONTROLE_DE_LEGALITE_TEXT" | trans ~ ' : ' ~ 'TEXT_NON' | trans }}
                        </div>
                    </div>

                    <div id="cheminement_ged_synthese">
                        <div id="cheminement_ged_oui_synthese" class="card-text style-text">
                            <i class="fas fa-check-circle"
                              ></i> {{ "GED_TEXT" | trans ~ ' : ' ~ 'TEXT_OUI' | trans }}
                        </div>
                        <div id="cheminement_ged_non_synthese" class="card-text style-text">
                            <i class="far fa-circle"
                               ></i> {{ "GED_TEXT" | trans ~ ' : ' ~ 'TEXT_NON' | trans }}
                        </div>
                    </div>

                    <div id="cheminement_sae_synthese">
                        <div id="cheminement_sae_oui_synthese" class="card-text style-text">
                            <i class="fas fa-check-circle"
                               ></i> {{ "ARCHIVAGE_TEXT" | trans ~ ' : ' ~ 'TEXT_OUI' | trans }}
                        </div>
                        <div id="cheminement_sae_non_synthese" class="card-text style-text">
                            <i class="fas fa-check-circle"
                               s></i> {{ "ARCHIVAGE_TEXT" | trans ~ ' : ' ~ 'TEXT_NON' | trans }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="page-header no-underline m-t-0">
                    <div class="titre-souligne">
                        <h3 class="style-echange--title m-t-0">{{ 'IDENTIFICATION_ECHANGE' | trans }}</h3>
                    </div>
                </div>
                <div class="page-header m-t-0">
                    <h4 class="style-echange">{{ 'LABEL_OBJET_ECHANGE' | trans }} </h4>
                </div>
                <div>
                    <p id="syntheseObjet" class="card-text style-text"></p>
                </div>
                <br>
                <div class="page-header m-t-0">
                    <h4 class="style-echange">{{ 'LABEL_DESCRIPTION_ECHANGE' | trans }}</h4>
                </div>
                <div>
                    <p id="syntheseDescription" class="card-text style-text"></p>
                </div>
                <br>
                <div class="page-header m-t-0 bloc-contrat">
                    <h4 class="style-echange">{{ 'LABEL_CONCERNE_CONTRAT_ECHANGE' | trans }}</h4>
                </div>
                <div class="bloc-contrat">
                    <p id="syntheseContrat" class="card-text style-text"></p>
                </div>
            </div>

            <div class="col-md-12">
                <br>
                <div class="page-header m-t-0">
                    <h4 class="style-echange">{{ 'DOCUMENT_S_JOINT_S' | trans }}</h4>
                </div>
                <div>
{#                    <ul id="syntheseDocumentsJoints" class="style-text"></ul>#}
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th class="col-xs-11">{{ 'TEXT_DOCUMENT' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody id="listFileSynthese">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('echangeDocumentaire/bloc/footerbar.html.twig', {'currentStep': 4}) }}

{{ include('echangeDocumentaire/bloc/modalSucces.html.twig',
    {
        'titre': 'SUCCES' | trans,
        'message':'ECHANGE_DOC_CREATION_SUCCES' | trans,
        'labelRedirect':'RETOUR_TABLEAU_SUIVI_ECHANGES' | trans,
        'urlRedirect': path('echange_documentaire_index', {'consultationId': encryptedId })
    }) }}

{{ include('echangeDocumentaire/bloc/modalErreur.html.twig',
    {
        'titre': 'ERREUR' | trans,
        'message':'ECHANGE_DOC_CREATION_ERREUR' | trans,
        'labelRedirect':'FERMER' | trans,
        'urlRedirect': path('echange_documentaire_index', {'consultationId': encryptedId })
    }) }}