<div class="form-bloc form-horizontal recap-infos-consultation container-fluid m-0">
    <div class="row">
        <div class="col-xs-12 p-0">
            <h3 class="section-title big phase custom-title-step">{{ title | trans }}</h3>
            <hr class="m-0"/>
            <div style="display: none" id="step1Error" class="" role="alert">
                <div class="d-flex mt-3">
                    <div class="alert alert-danger-left"><i class="glyphicon glyphicon-remove"></i></div>
                    <div class="alert alert-danger-right">{{ 'VEUILLEZ_VERIFIER_SAISIE_CHAMPS' | trans }}</div>
                </div>
            </div>

            <div class="warning-no-doc-selectionne" role="alert" style="display: none">
                <div class="d-flex mt-3">
                    <div class="alert alert-danger-left"><i class="glyphicon glyphicon-remove"></i></div>
                    <div class="alert alert-danger-right">{{ 'WARNING_AUCUN_DOC_SELECTIONNE' | trans }}</div>
                </div>
            </div>

            {% if texte is defined %}
                <div class="section-texte m-t-1">{{ texte | trans }}</div>
            {% endif %}
        </div>
    </div>
</div>