<div class="m-t-4 custom-fichier-principal">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th class="col-xs-7">{{ 'TEXT_PIECES_A_ENVOYER' | trans }}</th>
            <th class="col-xs-3">{{ 'TEXT_TYPE' | trans }}</th>
            <th class="col-xs-1">{{ 'DEFINE_ACTIONS' | trans }}</th>
        </tr>
        </thead>
        <tbody id="listFileEtape3">
        </tbody>
    </table>
</div>
<div class="clearfix">&nbsp;</div>

{{ include('echangeDocumentaire/bloc/modalData.html.twig',
    {
        'consultation': consultation,
        'hide': true,
        'nomPage': 'Modal',
        'encryptedAgentId': encryptedAgentId,
        'base_dir': base_dir
    })
}}

{{ include('echangeDocumentaire/bloc/modalDataJeton.html.twig',
    {
        'consultation': consultation,
        'hide': true,
        'nomPage': 'ModalJeton',
        'encryptedAgentId': encryptedAgentId,
        'base_dir': base_dir,
        'numberByBlock': number_of_files_by_block
    })
}}

{{ include('echangeDocumentaire/bloc/footerbar.html.twig', {'currentStep': 3}) }}