<div class="panel panel-default mb-4">
    <div class="panel-heading">
        {{ 'FILTRES' | trans }}
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <div class="row mb-4">
                <div class="col-md-3 form-label-vertical-align">
                    {{ 'STATUT' | trans }}
                </div>
                <div class="col-md-9">
                    <div id="filter-buttons">
                        <div aria-label="Large button group" class="btn-group btn-group-lg" role="group">
                            <label class="btn btn-outline-secondary" role="button">
                                <input type="checkbox" name="statut" id="status_a_envoyer"
                                       value="A_ENVOYER" class="statut">
                                {{  'A_ENVOYER' | trans  }}
                            </label>
                            <label class="btn btn-outline-secondary" role="button">
                                <input type="checkbox" name="statut" id="status_envoye"
                                       value="ENVOYE" class="statut">
                                {{  'ENVOYE' | trans  }}
                            </label>
                            <label class="btn btn-outline-secondary" role="button">
                                <input type="checkbox" name="statut" id="status_receptionne"
                                       value="RECEPTIONNE" class="statut">
                                {{  'RECEPTIONNE' | trans  }}
                            </label>
                            <label class="btn btn-outline-secondary" role="button">
                                <input type="checkbox" name="statut" id="status_rejete"
                                       value="REJETE" class="statut">
                                {{  'REJETE' | trans  }}
                            </label>
                            <label class="btn btn-outline-secondary" role="button">
                                <input type="checkbox" name="statut" id="status_echec"
                                       value="ECHEC" class="statut">
                                {{  'ECHEC' | trans  }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="motsCles">
                        {{ 'MOTS_CLES' | trans }}
                        <i class="fas fa-question-circle ml-2" title="{{ 'FILTRE_OBJET_ECHANGE_DESCRIPTION_APPS_CIBLE' | trans }}"></i>
                    </label>
                    <div class="col-md-9">
                        <input class="form-control objet-msg"
                               id="motsClesEchange"
                               placeholder="{{ 'RECHERCHE_ECHANGE' | trans }}"
                               name="motsCles"
                               type="text">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
