{% if currentStep == 4 %}
    {% set iconNext = 'fa-long-arrow-alt-right' %}
    {% set labelNext = 'ENVOYER_ECHANGE' %}
{% else %}
    {% set iconNext = 'fa-angle-right' %}
    {% set labelNext = 'ETAPE_SUIVANTE' %}
{% endif %}
<br>
<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="panel-body d-flex custom-footer">
                <a class="btn rollback mr-auto" title="{{ 'RETOUR_TABLEAU_SUIVI_ECHANGES' | trans }}"
                   href="{{ path('echange_documentaire_index', {'consultationId': encryptedId }) }}"><i
                            class="fa fa-angle-double-left m-r-1"></i>{{ 'RETOUR_TABLEAU_SUIVI_ECHANGES' | trans }}
                </a>
                {% if currentStep != 1 %}
                    <button class="btn callback previousBtn m-r-4" data-step="step-{{ currentStep }}"
                            type="button"><i
                                class="fa fa-angle-left m-r-1"></i>{{ 'ETAPE_PRECEDENTE' | trans }}
                    </button>
                {% endif %}
                <button class="btn nextStep nextBtn m-r-4 custom-next-step-btn" data-step="step-{{ currentStep }}"
                        type="button">{{ labelNext | trans }} <i
                            class="fa fa-angle-right {{ iconNext }} m-r-1"></i></button>
            </div>
        </div>
    </div>
</div>
