<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <label for="application"
                   class="col-sm-12 col-form-label phase">{{ 'APPLICATION_DISTANTE' | trans }}
            <hr/>
            </label>
        </div>

        <div class="form-group row">
            <label for="application"
                   class="col-sm-4 col-form-label">{{ 'LABEL_APPLICATION_DISTANTE' | trans }}<span class="m-l-1 text-danger">*</span></label>
            <div class="col-sm-8">
                <select id="application" class="form-control form-control-sm" required>
                    <option value="">{{ 'SELECTIONNER_APPLICATION_DISTANTE' | trans }}</option>
                    {% for application in applicationsClients %}
                        <option value="{{ application.id }}" data-envoi-dic="{{ application.getEchangeDocApplication().isEnvoiDic() }}">{{ application.libelle }}</option>
                    {% endfor %}
                </select>
                <small id="applicationError" class="form-text text-danger">{{ 'CHAMP_OBLIGATOIRE' | trans }}</small>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="form-group row" id="pastell"></div>

        <div class="clearfix">&nbsp;</div>

        <div class="form-group row" id="bloc-sous-type-parapheur">
            <label for="sous-type-parapheur"
                   class="col-sm-4 col-form-label">{{ 'SOUS_TYPE_PARAPHEUR' | trans }}<span class="m-l-1 text-danger">*</span></label>
            <div class="col-sm-8">
                <select id="sous-type-parapheur" class="form-control form-control-sm">
                    <option value="">{{ 'SELECT_SOUS_TYPE_PARAPHEUR' | trans }}</option>
                    {% for parapheur in sousTypeParapheurs %}
                        <option value="{{ parapheur.id }}">{{ parapheur.label }}</option>
                    {% endfor %}
                </select>
                <small id="sous-type-parapheur-error" class="form-text text-danger">{{ 'CHAMP_OBLIGATOIRE' | trans }}</small>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>


        <div class="form-group row">

            <label for="application"
                   class="col-sm-12 col-form-label phase">{{ 'IDENTIFICATION_ECHANGE' | trans }}
                <hr/>
            </label>
        </div>

        <div class="form-group row">
            <label for="objet" class="col-sm-4 col-form-label">{{ 'LABEL_OBJET_ECHANGE' | trans }}<span class="m-l-1 text-danger">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="objet" maxlength="100" required>
                <small id="objetError" class="form-text text-danger">{{ 'CHAMP_OBLIGATOIRE' | trans }}</small>
                <small id="objetHelp" class="form-text text-muted">100 {{ 'CARACTERES_MAXIMUM' | trans }}</small>
            </div>

        </div>

        <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">
                {{ 'LABEL_DESCRIPTION_ECHANGE' | trans }}
            </label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" id="description" maxlength="500" ></textarea>
                <small id="descriptionHelp" class="form-text text-muted">500 {{ 'CARACTERES_MAXIMUM' | trans }}</small>
            </div>
        </div>
        {% if contracts %}
            <div class="form-group row">

                <label for="application"
                       class="col-sm-12 col-form-label phase">
                    {{ 'RATTACHEMENT_ECHANGE_CONTRAT' | trans }}
                    <hr/>
                </label>
            </div>

            <div class="form-group row">
                <label for="label-convcerne-contrat" class="col-sm-4 col-form-label">
                    {{ 'LABEL_CONCERNE_CONTRAT' | trans }}
                </label>
                <div class="col-sm-8">

                    <div class="custom-control-inline">
                        <input type="radio" name="concerneContrat[]" id="concerne-contrat-non" class="" value="0" checked>
                        <label for="concerne-contrat-non" class="label-inherit">&nbsp;{{ 'TEXT_NON' |trans }}</label>
                    </div>
                    <div class="custom-control-inline">
                        <input type="radio" name="concerneContrat[]" id="concerne-contrat-oui" class="" value="1">
                        <label for="concerne-contrat-oui" class="label-inherit">&nbsp;{{ 'TEXT_OUI' |trans }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group row hide" id="etape1-list-contrat">
                <label for="contrat-echange" class="col-sm-4 col-form-label">
                    {{ 'LABEL_CONCERNE_CONTRAT_ECHANGE' | trans }} <span class="m-l-1 text-danger">*</span>
                </label>
                <div class="col-sm-8">
                    <select name="contrat" id="contrat-echange" class="form-control">
                        <option value="">{{ 'CONTRAT_NON_RENSEIGNE' | trans }}</option>
                        {% for contract in contracts %}
                            {% if get_parameter('ACTIVE_EXEC_V2') == '1' %}
                                {% set contratId = contract.uuid %}
                                {% set numeroContrat = contract.numero is defined ? contract.numero : '' %}

                                {% set montantContrat = 0 %}
                                {% if contract.montant is defined %}
                                    {% set montantContrat = contract.montant %}
                                {% endif %}

                                {% set attributaire = '' %}
                                {% if contract.etablissementTitulaire.fournisseur.raisonSociale is defined %}
                                    {% set attributaire = contract.etablissementTitulaire.fournisseur.raisonSociale %}
                                {% endif %}
                            {% else %}
                                {# TODO : EXEC -  A supprimer quand le module EXEC sera activé #}
                                {% set contratId = contract.idContratTitulaire %}
                                {% set numeroContrat = contract.numeroContrat %}

                                {% set montantContrat = 0 %}
                                {% if contract.montantContrat is not empty %}
                                    {% set montantContrat = contract.montantContrat %}
                                {% endif %}

                                {% set attributaire = contract.nom %}
                                {# ENDTODO #}
                            {% endif %}

                            <option value="{{ contratId }}">
                                {{ numeroContrat ~ ' | ' ~ 'DEFINE_ATTRIBUTAIRE' | trans ~ ' : ' ~ attributaire ~ ' | ' ~  'DEFINE_MONTANT' | trans ~ ' : ' ~  montantContrat | formatCurrency('EUR') }}
                            </option>
                        {% endfor %}
                    </select>

                    <small id="ContratError" class="form-text text-danger">{{ 'CHAMP_OBLIGATOIRE' | trans }}</small>
                </div>
            </div>
        {% endif %}

    </div>
</div>

{{ include('echangeDocumentaire/bloc/footerbar.html.twig', {'currentStep': 1}) }}
