{% if echange.echangeDocApplicationClient.cheminementSignature or
    echange.echangeDocApplicationClient.cheminementTdt or
    echange.echangeDocApplicationClient.cheminementGed or
    echange.echangeDocApplicationClient.cheminementSae %}
    <strong class="badge badge-cheminement cheminement-border">
        {% if echange.echangeDocApplicationClient.cheminementSignature %}
            <i class="fa-circle{% if not echange.cheminementSignature %} far no-display{% else %} fa yes-display {% endif %}"></i>
            <abbr title="{{ 'PARAPHEUR_TEXT' | trans }}">{{ 'ABBR_PARAPHEUR_TEXT' | trans }}</abbr> |
        {% endif %}

        {% if echange.echangeDocApplicationClient.cheminementTdt %}
            <i class="fa-circle{% if not echange.cheminementTdt %} far no-display{% else %} fa yes-display {% endif %}"></i>
            <abbr title="{{ 'CONTROLE_DE_LEGALITE_TEXT' | trans }}">{{ 'ABBR_CONTROLE_DE_LEGALITE_TEXT' | trans }}</abbr> |
        {% endif %}

        {% if echange.echangeDocApplicationClient.cheminementGed %}
            <i class="fa-circle{% if not echange.cheminementGed %} far no-display{% else %}  fa yes-display {% endif %}"></i>
            <abbr title="{{ 'GED_TEXT' | trans }}">{{ "GED_TEXT" | trans }}</abbr> |
        {% endif %}
        {% if echange.echangeDocApplicationClient.cheminementSae %}
            <i class="fa-circle{% if not echange.cheminementSae %} far no-display{% else %} fa yes-display {% endif %}"></i>
            <abbr title="{{ 'ARCHIVAGE_TEXT' | trans }}">{{ 'ABBR_ARCHIVAGE_TEXT' | trans }}</abbr>
        {% endif %}
    </strong>
{% endif %}







