<table
        data-locale="fr-FR"
        data-pagination="true"
        data-pagination-v-align="both"
        class="table table-bordered"
        data-search="true"
        data-classes="table table-bordered"
        id="tableDashboardEchange">
    <thead>

    <tr>
        <th class="tableDashboardEchange_col-3">
            <span>{{ 'APPLICATION_DISTANTE'|trans }}</span>
            <br/>
            <span>{{ 'CONTENU_ECHANGE'|trans }}</span>
        </th>

        <th class="tableDashboardEchange_col-2">
            <span>{{ 'STATUT'|trans }}</span>
            <br/>
            <span>{{ 'EVENEMENTS'|trans }}</span>
        </th>

        <th class="tableDashboardEchange_col-4 align-text-top">
            {{ 'ACTIONS'|trans }}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for echange in echanges %}
        {{ include('echangeDocumentaire/bloc/echange.html.twig', { 'echange':  echange }) }}
    {% endfor %}
    </tbody>
</table>
<script>
    var afficherEchangeFonctionnel =  '{{ "AFFICHER_DETAIL" | trans }}';
    var masquerEchangeFonctionnel =  '{{ "MASQUER_DETAIL" | trans }}';
</script>