<div id="modalSucces" class="modal fade in" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
    <div role="document" class="modal-dialog msv2 modal-lg ">
        <div class="modal-content ">
            <div class="modal-content">
                <div class="modal-header modal-header-background">
                    <h3 class="modal-title pull-left text-bold">
                        {{ titre }}
                    </h3>
                </div>
                <div class="modal-body">

                    <div class="panel-body">
                        <div class="discussion-thread-wrapper">
                            <ul class="discussion-thread full-width" id="detail-echange-ajax">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default label-info-custom" data-dismiss="modal" id="modal-detail-echange">
                        {{ 'FERMER' |trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
