<div id="modalEspaceDoc" class="modal fade in" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'JOINDRE_UNE_PIECE_ESPACE_DOC' | trans }}</h4>
                <button type="button" class="close" id="closeModalEspaceDoc">&times;</button>
            </div>
            <div class="modal-body">

                {{ 'VEUILLEZ_SELECTIONNER_LES_PIECES_A_JOINDRE' | trans }}:
                <div id="">
                    {{ include('EspaceDocumentaire/bloc/structures.html.twig', {
                        'consultation': consultation,
                        'hide': true,
                        'nomPage': 'Modal',
                        'step': 'etape3'
                    }) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeModalEspaceDocBtn">{{ 'TEXT_ANNULER' | trans }}</button>
                <button type="button" class="btn nextStep nextBtn" id="btn-modal">{{ 'TEXT_VALIDER' | trans }}</button>
            </div>
        </div>
    </div>
</div>