{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}

    {# Contenu du bloc d'échange initial #}
    {{ include('echangeDocumentaire/bloc/contenuEchangeInitiale.html.twig',
        {
            'echange': echange
        })
    }}

    {# Contenu des blocs historiques #}
    {% if echangeHistoriques %}
        {% for echangeHistorique in echangeHistoriques%}
            {{ include('echangeDocumentaire/bloc/contenuEchangeHistorique.html.twig',
                {
                    'echangeHistorique': echangeHistorique
                })
            }}
        {% endfor %}
    {% endif %}

{% endblock %}
{% block javascripts %}{% endblock %}