<div id="modalErreur" class="modal fade in" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
    <div role="document" class="modal-dialog msv2">
        <div class="modal-content">
            <div class="modal-content alert-color-danger">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{ titre }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-color-danger">{{ message }}</div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button id="closeModal" aria-label="{{ labelRedirect }}" class=" pull-right btn btn-sm btn-default" type="button">
                           {{ labelRedirect }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>