<div id="modalSucces" class="modal fade in" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
    <div role="document" class="modal-dialog msv2">
        <div class="modal-content">
            <div class="modal-content alert-color-success">
                <div class="modal-header">
                    <h4 class="modal-title pull-left text-success">{{ titre }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-color-success">{{ message }}</div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-defaul" title="{{ labelRedirect }}"
                           href="{{ urlRedirect }}">
                            {{ labelRedirect | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>