<div id="modalEspaceDocJeton" class="modal fade in" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'JOINDRE_UNE_PIECE_ESPACE_DOC' | trans }}</h4>
                <button type="button" class="close" id="closeModalEspaceDocJeton">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="" role="alert">
                        <div class="row">
                            <div class="info alert-info-left"><i class="glyphicon glyphicon-info-sign"></i></div>
                            <div class="alert alert-info-right">{{ 'MESSAGE_FORMAT_SIGNATURE' | trans }}</div>
                        </div>
                    </div>
                </div>

                {{ 'VEUILLEZ_SELECTIONNER_LES_PIECES_A_JOINDRE' | trans }}:
                <div id="">
                    {{ include('EspaceDocumentaire/bloc/structures.html.twig', {
                        'consultation': consultation,
                        'hide': true,
                        'nomPage': 'Modal',
                        'step': 'jetonSelect',
                        'numberByBlock': number_of_files_by_block
                    }) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeModalEspaceDocBtnJeton">{{ 'TEXT_ANNULER' | trans }}</button>
                <button type="button" class="btn nextStep nextBtn" id="btn-modal-jeton">{{ 'TEXT_VALIDER' | trans }}</button>
            </div>
        </div>
    </div>
</div>