<div *ngIf="message && contexteFound()" class="container-fluid msv2">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-default mb-4">
        <div class="card-header">
          Courrier à envoyer
        </div>
        <div class="card-body">
          <h5 class="card-title">Courrier</h5>
          <hr/>
          <div class="row">
            <legend class="control-label col-md-3 pt-0">Objet du courrier :<span class="p-1 required">*</span></legend>
            <div class="col-md-9">
              <input [(ngModel)]="message.objet" [ngClass]="{ 'is-invalid': hasErrors('objet') }"
                     class="form-control form-control-lg"
                     id="messageObjet"
                     maxlength="120" name="messageObjet"
                     type="text"/>
              <div *ngIf="hasErrors('objet')" class="text-danger">Champ obligatoire</div>
            </div>
          </div>
          <div class="row">
            <legend class="control-label col-md-3 pt-0">Corps du courrier :<span class="p-1 required">*</span></legend>
            <div class="col-md-9">
              <quill-editor [(ngModel)]="message.contenu" [modules]="modules"
                            [ngClass]="{ 'is-invalid': hasErrors('contenu') }"
                            [placeholder]="'Renseignez ici le corps de votre message'"
                            [style]="{height: '200px', width: '100%'}" id="quill-editor"
                            name="quill-editor"></quill-editor>
              <div *ngIf="hasErrors('contenu')" class="text-danger">Champ obligatoire</div>
              <br/>
              <div>
                <b>Le bloc contextuel suivant est automatiquement intégré dans votre courrier :</b>
              </div>
              <div [innerHTML]="message.cartouche | safeHtml"></div>
            </div>
          </div>
          <h5 class="card-title">Pièces jointes</h5>
          <hr/>
          <div class="row">
            <legend class="control-label col-md-3 pt-0">Pièce(s) à joindre au courrier :</legend>
            <div class="col-md-9">
              <messagerie-document-upload
                (sizeChange)="uploadedFileSizeChange($event)"
                [message]="message" [piecesJointes]="message.piecesJointes"
              ></messagerie-document-upload>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-default mb-4">
        <div class="card-body d-flex">
          <button (click)="annulerMessage()" class="btn  btn-md btn-secondary mr-auto" type="button"><i
            class="fa fa-angle-double-left m-r-1"></i>Retour
          </button>
          <button (click)="confirmer()" class="btn  btn-md btn-primary" type="button"><i
            class="fa fa-envelope m-r-1"></i>Envoyer
            le courrier
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
