label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
#compatibiliteCheck {
  margin-left: 10px;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #777b8f !important;
}

.redStar {
  color: red;
  font-size: 18px;
  font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
}
