.label-verif {
    font-size: 16px;
    font-weight: 200;
    font-family: Arial;
    margin-left: 15px;
}
.verif {
    font-size: 16px;
}

.line-verif {
    margin: 0px 0px 10px;
}

.alignerLabels{
    vertical-align:initial;
}

div#accessibilite > h3 {
    color:#0c5476;
}

div#accessibilite ol.website-pages li {
    margin-bottom: 10px;
}

h1.title-blue { color:#0c5476 !important; }

#reset-password-message-alert {
    color: #5cb85c;
    border-color: rgba(107, 208, 87, 0.21);
}
