<div class="bs-callout-info callout-bordered">
    <div class="media align-items-stretch">
      <div class="d-flex align-items-center media-right media-middle bg-info p-2">
        <i class="la la-info white font-medium-5"></i>
      </div>
        <div class="media-body p-1">
            <strong>{{header}}</strong>
            <div class="font-italic" [innerHTML]="message"> <span *ngIf="!!icone"><i [class]="icone"></i></span></div>
        </div>

    </div>
</div>
