{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

<div class="col-md-4 col-xs-12 m-b-1 home-card card-aide">
    <div class="card-wrapper">
        <div class="card-body">
            <div class="card-body-header">
                <h2 class="h4"><i class="fa fa-question m-r-1"></i>
                    {{ 'DEFINE_TEXT_ASSISTANCE'|trans|e }}
                </h2>
            </div>
            <div class="card-body-content">
                <ul class="list-unstyled">
                    {% if isLibelleValide('DEFINE_GUIDES_USER') == true %}
                            <li class="{{ info['menu_css_guide'] }}">
                                <a class="link single-link fa-arrow-right"
                                   href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseGuide" aria-label="{{ 'DEFINE_GUIDES_USER'|trans|e }}">
                                    <i class="fa fa-phone fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'DEFINE_GUIDES_USER'|trans|e }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ info['pf_url'] }}entreprise/aide/assistance-telephonique" class="link single-link fa-arrow-right" aria-label="{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans|e }}">
                                    <i class="fa fa-comments fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans|e }}
                                </a>
                            </li>
                    {% endif %}
                    {% if isEnabled('AnnoncesMarches') == false and isLibelleValide('TESTER_MA_CONFIGURATION') == true %}
                        <li class="{{ info['menu_css_test_config'] }}">
                            <a class="link single-link fa-arrow-right"
                               href="{{ info['pf_url'] }}entreprise/footer/diagnostic-poste" aria-label="{{ 'TESTER_MA_CONFIGURATION'|trans|e }}">
                                <i class="fa fa-cog fa-lg m-r-1" aria-hidden="true"></i>
                                {{ 'TESTER_MA_CONFIGURATION'|trans|e }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseAdvancedSearch&AllCons&orgTest" class="link single-link fa-arrow-right" aria-label="{{ 'CONSULTATION_DE_TEST'|trans|e }}">
                                <i class="fa fa-flag-checkered fa-lg m-r-1" aria-hidden="true"></i>
                                {{ 'CONSULTATION_DE_TEST'|trans|e }}
                            </a>
                        </li>
                    {% endif %}
                    {% if isEnabled('AnnoncesMarches') == false and isLibelleValide('ACCUEIL_ENTREPRISE_TEXT_OUTILS_INFORMATIQUES') == true %}
                        <li class="{{ info['menu_css_outils'] }}">
                            {{ getInfoLien('MENU_URL_OUTILS','ACCUEIL_ENTREPRISE_TEXT_OUTILS_INFORMATIQUES')|raw }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
