{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

<div class="col-md-4 col-xs-12 m-b-1 home-card card-services">
    <div class="card-wrapper">
        <div class="card-body">
            <div class="card-body-header">
                <h2 class="h4">
                    <i class="fa fa-feed m-r-1"></i>
                    {{ 'DEFINE_SERVICES'|trans|e }}
                </h2>
            </div>
            <div class="card-body-content">
                <ul class="list-unstyled">
                    {% if isLibelleValide('DEFINE_RECHERCHE_AVIS_MARCHE') %}
                            <li class="{{ 'MENU_CSS_RECHERCHE_AVIS_MARCHE'|trans|e }}">
                                <strong>{{ getInfoLien('MENU_URL_RECHERCHE_AVIS_MARCHE','DEFINE_RECHERCHE_AVIS_MARCHE')|raw }}</strong>
                                <div class="text-description">
                                    {{ 'DEFINE_RECHERCHE_AVIS_DIFF_TYPE'|trans|e }}
                                </div>
                            </li>
                    {% endif %}
                    {% if isLibelleValide('DEFINE_SERVICES_ALERTES') %}
                            <li>
                                <a class="link fa-arrow-right" href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseGestionRecherches" aria-label="{{ 'DEFINE_SERVICES_ALERTES'|trans|e }}">
                                    <i class="fa fa-exclamation-circle fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'DEFINE_SERVICES_ALERTES'|trans|e }}
                                </a>
                                <div class="text-description">
                                    {{ 'DEFINE_ALERTES_NOUVEAU_MARCHE_SELON_CRITERES'|trans|e }}
                                </div>
                            </li>
                    {% endif %}
                    {% if isEnabled('PanierEntreprise') and isLibelleValide('TEXT_GESTION_DE_PANIER') %}
                            <li class="{{ info['menu_css_panier_entreprise'] }}">
                                <a class="link fa-arrow-right" href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseAdvancedSearch&panierEntreprise" aria-label="{{ 'TEXT_GESTION_DE_PANIER'|trans|e }}">
                                    <i class="fa fa-shopping-cart fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'TEXT_GESTION_DE_PANIER'|trans|e }}
                                </a>
                                <div class="text-description">
                                    {{ 'DEFINE_GERER_CONS_DEPUIS_PANIER'|trans|e }}
                                </div>
                            </li>
                    {% endif %}
                    {% if (isEnabled('Article133UploadFichier') or isEnabled('Article133GenerationPf'))
                            and (isEnabled('AnnoncesMarches') == false) and isLibelleValide('ACCUEIL_ENTREPRISE_TEXT_LISTE_MARCHES') %}
                            <li class="{{ info['menu_css_cahier_charge'] }}">
                                <strong>{{ getInfoLien('MENU_URL_CAHIER_CHARGE','ACCUEIL_ENTREPRISE_TEXT_LISTE_MARCHES')|raw }}</strong>
                            </li>
                    {% endif %}
                    {% if isEnabled('EncheresEntreprise') and (isEnabled('AnnoncesMarches') == false) and isLibelleValide('DEFINE_TEXT_ENCHERES_EN_LIGNE') %}
                            <li class="{{ 'MENU_CSS_ENCHERES'|trans|e }}">
                                <div id="enchereEntreprise">
                                    <strong>{{ getInfoLien('MENU_URL_ENCHERES','DEFINE_TEXT_ENCHERES_EN_LIGNE')|raw }}</strong>
                                </div>
                            </li>
                    {% endif %}
                    {% if isEnabled('MarchePublicSimplifieEntreprise') and isLibelleValide('MSG_ACCUEIL_MPS') and (isEnabled('MasquerElementsMps') == false) %}
                        <li class="{{ info['menu_css_mps'] }}">
                            <a class="link fa-arrow-right" href="{{ info['pf_url'] ~ info['menu_url_mps'] }}" target="_blank" aria-label="{{ 'MSG_ACCUEIL_MPS'|trans|e }}">
                                <i class="s s-mps s-18 m-r-1"></i>
                                {{ 'MSG_ACCUEIL_MPS'|trans|e }}
                            </a>
                            <div class="text-description">
                                {{ 'MSG_ACCUEIL_MPS_DESCRIPTION'|trans|e }}
                            </div>
                        </li>
                    {% endif %}
                    {% if (isEnabled('BourseALaSousTraitance') or isEnabled('BourseCotraitance')) and isLibelleValide('BOURSE_CO_TRAITANCE_ET_SOUS_TRAITANCE') %}
                        <li class="{{ info['menu_css_bource_cotraitance'] }}">
                            <span class="link fa-arrow-right">
                                <i class="fa fa-money fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ getInfoLien('MENU_URL_BOURCE_COTRAITANCE','BOURSE_CO_TRAITANCE_ET_SOUS_TRAITANCE',
                                                    'MENU_NOUVEAU_ONGLET_BOURCE_CO_TRAITANCE', 'MENU_URL_TITLE_BOURCE_CO_TRAITANCE')|raw }}
                            </span>
                            <div class="text-description">
                                {{ 'RECHERCHER_COMPETENCES_ET_QUALIFICATIONS_POUR_REPONDRE_MARCHES'|trans|e }}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
