{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

<div class="col-md-4 col-xs-12 m-b-1 home-card card-outils">
    <div class="card-wrapper">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="card-body-header">
                <h2 class="h4"><i class="fa fa-cogs m-r-1"></i>
                    {{ 'ACCUEIL_ENTREPRISE_TEXT_OUTILS_DE_SIGNATURE'|trans|e }}
                </h2>
            </div>
            <div class="card-body-content">
                <ul class="list-unstyled">
                    <li class="link {{ 'MENU_CSS_RECHERCHE_SIGNER'|trans|e }}">
                        {% if isLibelleValide('SIGNER_UN_DOCUMENT') %}
                                <a class="link single-link fa-arrow-right"
                                   href="{{ info['pf_url'] }}entreprise/signer-document" aria-label="{{ 'SIGNER_UN_DOCUMENT'|trans|e }}">
                                    <i class="fa fa-file-text-o fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'SIGNER_UN_DOCUMENT'|trans|e }}
                                </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if isLibelleValide('VERIFIER_SIGNATURE') %}
                                <a class="link single-link fa-arrow-right" href="{{ path('verification_signature_entreprise') }}" aria-label="{{ 'VERIFIER_SIGNATURE'|trans|e }}">
                                    <i class="fa fa-check-square fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'VERIFIER_SIGNATURE'|trans|e }}
                                </a>
                        {% endif %}
                    </li>
                    {% if isLibelleValide('TEXT_OUTILS_INFORMATIQUES_2') %}
                            <li class="{{ info['menu_css_outils'] }}">
                                <a class="link single-link fa-arrow-right"
                                   href="{{ info['pf_url'] }}entreprise/aide/outils-informatiques" aria-label="{{ 'TEXT_OUTILS_INFORMATIQUES_2'|trans|e }}">
                                    <i class="fa fa-desktop fa-lg m-r-1" aria-hidden="true"></i>
                                    {{ 'TEXT_OUTILS_INFORMATIQUES_2'|trans|e }}
                                </a>
                            </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
