{% block form_row %}
    <div class="form-group row">
        {{ form_label(form, null, {'label_attr': {'class': 'col-md-3 label-control' }}) }}
        <div class="col-md-9 mx-auto">
            {{ form_widget(form, {'attr': { 'class': 'form-control' }}) }}
            <fieldset class="form-group">
                {{ form_errors(form, {'attr': {'class': 'badge-danger block-tag text-center'}}) }}
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block choice_widget_expanded %}
    <div class="input-group" {{ block('widget_container_attributes') }}>
        {% for child in form.children %}
            <div class="d-inline-block custom-control custom-radio mr-1">
                {{ form_widget(child, { 'attr': {'name': 'options'}}) }}
                {{ form_label(child, null, {label_attr: {'class': 'custom-control-label'}}) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block file_widget %}
    {% set size_logo = attr['data-size']|default('small') %}
    <label class="file center-block">
        {{ size_logo == 'small' ? 'TEXT_DIMENSIONS_H_L_50X50_PIXELS'|trans : 'TEXT_DIMENSIONS_HXL_92X100_PIXELS'|trans }}
        {{ form_widget(form, {'attr': { 'class': 'file' }}) }}

        <span class="file-custom"></span>
    </label>
    {% set directory = attr['data-path']|default('') %}
    <div>
        {{ block('imagePreview') }}
    </div>
{% endblock %}

{% block imagePreview %}
    {% set folder_logo_small = asset(get_file_in_nas(directory, 'logo-organisme-petit.jpg')) %}
    {% set folder_logo_big = asset(get_file_in_nas(directory, 'logo-organisme-grand.jpg')) %}
    {% if size_logo == 'small' and file_asset_exists(absolute_url(folder_logo_small)) %}
        <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{{ folder_logo_small }}" alt="{{ 'TEXT_LOGO_ORGANISME_PETIT'|trans }}">
    {% elseif(size_logo == 'big' and file_asset_exists(absolute_url(folder_logo_big))) %}
        <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{{ folder_logo_big }}" alt="{{ 'TEXT_LOGO_ORGANISME_GRAND'|trans }}">
    {% endif %}
{% endblock %}
