<ul class="nav nav-tabs nav-linetriangle no-hover-bg nav-justified">
    <li class="nav-item">
        <a class="nav-link active" id="active-tab3" data-toggle="tab" href="#active3" aria-controls="active3" aria-expanded="true">
            {{ 'TEXT_SERVICES_METIERS_ACCESSIBLES'|trans }}
        </a>
    </li>
</ul>
<div class="tab-content px-1 pt-1">
    <div role="tabpanel" class="tab-pane active" id="active3" aria-labelledby="active-tab3" aria-expanded="true">
        <div class="row skin skin-square">
            {% for key,servive in services %}
                {% set id = 'organisme_serviceMetier_' ~ key %}
                <div class="col-sm-12">
                    <fieldset class="form-group">
                        <input type="checkbox" name="organisme[serviceMetier]" id="{{ id }}" {% if servive['checked'] %} checked="checked" {% endif %}
                               {% if servive['activate'] == false %} disabled="disabled" {% endif %}>
                        <label for="{{ id }}">{{ servive['sigle'] ~ ' : ' ~ servive['denomination']|trans }}</label>
                    </fieldset>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
