{% extends 'administration.html.twig' %}

{% block title %}
    {{ 'TITRE'|trans }}
{% endblock %}
{% block nav %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('app/css/admin_gestion_organisme.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    {% form_theme form 'admin/organisme/_custom_form_field.html.twig' %}
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header">
                        <label class="card-title" for="inputText6">{{ 'GESTION_ORGANISME'|trans }}</label>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            {{ form_start(form, { 'attr' : { 'class' : 'form form-horizontal' } }) }}
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="acronyme">{{ 'ACRONYME'|trans }}</label>
                                    <div class="col-md-9 mx-auto">
                                      <span>{{ acronyme }}</span>
                                    </div>
                                </div>
                                {{form_widget(form)}}
                                {% include 'admin/organisme/_service_metiers.html.twig' %}
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> {{ "MODIFIER"|trans }}
                                    </button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
