.item-card-container {
  background-color: #efefef;
  border: #dedede solid 1px;
  box-shadow: 0 1px 15px 1px rgb(62 57 107 / 7%);
  padding: 3px;
}

.item-card-title {
  font-size: large;
  font-weight: bold;
  color: #838080;
}
