<div *ngIf="!isArray">
  <atx-item-view [item]="items"></atx-item-view>

</div>
<div *ngIf="isArray && items?.length>0" style="padding: 5px">
  <div *ngFor="let item of items; let i=index" class="item-card-container">
    <div class="d-flex justify-content-between" >
      <div class="item-card-title" style="margin-left: 15px">{{(i + 1)}} élément</div>
      <div>
        <a (click)="delete(i)"
        ><i class="la la-trash"></i>
        </a>
        <a (click)="extended[i] = !extended[i]" style="margin-left: 5px"
        ><i class="la {{extended[i]?'la-chevron-up':'la-chevron-down'}}"></i>
        </a>
      </div>
    </div>
    <atx-item-view  *ngIf="extended[i]" [item]="item"></atx-item-view>

  </div>
</div>
