<div class="row">
  <div class="col-md-12 mb-md-0">
    <div class="card mb-1">
      <div class="card-content">
        <div class="card-body">
          <div class="row mb-1">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 critere">
              <h5><label>{{"rechercherCanevas.txt.natPres" | translate}}</label></h5>
              <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" role="group" aria-label="Basic example">
                <label class="btn btn-secondary"
                       [ngClass]="{'active':filter.idNaturePrestation===0}"
                       (click)="changeNatureFilter(0)">
                  <i [ngClass]="getNatureIcon(0)" class="col-12"></i><span class="col-12">{{"redaction.toutes" | translate}}</span>

                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active':nature.id===filter.idNaturePrestation}"
                       *ngFor="let nature of refNature$ | async"
                       (click)="changeNatureFilter(nature.id)">
                  <i [ngClass]="getNatureIcon(nature.id)" class="col-12"></i><span class="col-12">{{nature.label}}</span>
                </label>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 critere">
              <h5><label>{{"rechercherCanevas.txt.Statut" | translate}}</label></h5>
              <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" role="group" aria-label="Basic example">
                <label class="btn btn-secondary"
                       [ngClass]="{'active':filter.idStatutRedactionClausier===0}"
                       (click)="changeStatutFilter(0)">
                  <i [ngClass]="getStatutIcon(0)" class="col-12"></i><span class="col-12">{{"redaction.tous" | translate}}</span>

                </label>
                <label class="btn btn-secondary"
                       [ngClass]="getBackgroundStatut(statut.id)"
                       *ngFor="let statut of refStatut$ | async"
                       (click)="changeStatutFilter(statut.id)">
                  <i  [ngClass]="getStatutIcon(statut.id)" class="col-12"></i><span class="col-12">{{statut.label}}</span>
                </label>
              </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 critere" *ngIf="showMore">
              <h5><label>{{"redaction.canevas.afficherActif" | translate}}</label></h5>
              <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" role="group" aria-label="Basic example">
                <label class="btn btn-secondary"
                       [ngClass]="{'active':filter.actif===null}"
                       (click)="changeActivationFilter(0)">
                  <i class="fa fa-list-alt"></i> {{"redaction.tous" | translate}}
                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active-success':filter.actif===true}"
                       (click)="changeActivationFilter(1)">
                  <i class="fa fa-toggle-on"></i> {{"redaction.actifs" | translate}}
                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active-error':filter.actif===false}"
                       (click)="changeActivationFilter(2)">
                  <i class="fa fa-toggle-off"></i> {{"redaction.inactifs" | translate}}
                </label>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 critere" *ngIf="showMore">
              <h5><label>{{"redaction.canevas.referenceCanevas" | translate}}</label></h5>
              <input class="form-control" type="text" name="refCanevas" style="width: 100%"
                     [(ngModel)]="filter.referenceCanevas" (keydown.enter)="rechercher()">
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 critere" *ngIf="showMore">
              <h5><label>{{"redaction.canevas.referenceClause" | translate}}</label></h5>
              <input class="form-control" type="text" name="refClause" style="width: 100%"
                     [(ngModel)]="filter.referenceClause" (keydown.enter)="rechercher()">
            </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 critere" *ngIf="showMore">
              <h5><label>{{"redaction.canevas.titreCanevas" | translate}}</label></h5>
              <input class="form-control width-100-per" type="text" name="titreCanevas" style="width: 100%"
                     [(ngModel)]="filter.titreCanevas" (keydown.enter)="rechercher()">
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.canevas.typeDocument" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control" id="documentSelect" [(ngModel)]="filter.idTypeDocument">
                    <option *ngFor="let typeDoc of refTypeDocument$ | async"
                            [value]="typeDoc.id">{{typeDoc.externalCode}} - {{typeDoc.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.clause.typeContrat" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="contratSelect" [(ngModel)]="filter.idTypeContrat">
                    <option selected="" value ="0">{{"redaction.tous" | translate}}</option>
                    <option *ngFor="let typeContrat of refTypeContrat$ | async"
                            [value]="typeContrat.id">{{typeContrat.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"ParametrageClause.txt.procPass" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="procedureSelect" [(ngModel)]="filter.idProcedure">
                    <option selected="" value ="0">{{"redaction.toutes" | translate}}</option>
                    <option *ngFor="let typeProcedure of refProcedure$ | async"
                            [value]="typeProcedure.id">{{typeProcedure.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore" style="padding-left: 0px!important;">
              <div class="controls">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <h5><label>{{"redaction.canevas.dateValidation" | translate}}</label></h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                              Après le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filter.dateModificationMin"
                          type="date"
                          class="form-control"
                          name="dateModificationMin"
                          id="dateModificationMin"
                          max="{{maxDate | date:'yyyy-MM-dd'}}"
                          min="{{minDate | date:'yyyy-MM-dd'}}"
                          ngModel
                          style="display:inline;">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon2">
                              Avant le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filter.dateModificationMax"
                          type="date"
                          class="form-control"
                          name="dateModificationMax"
                          id="dateModificationMax"
                          max="{{maxDate | date:'yyyy-MM-dd'}}"
                          min="{{minDate | date:'yyyy-MM-dd'}}"
                          style="display:inline;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"creationCanevas.txt.ccag" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="ccagSelect" [(ngModel)]="filter.idCCAG">
                    <option selected="" value ="0">{{"redaction.tous" | translate}}</option>
                    <option *ngFor="let ccag of refCCAG$ | async"
                            [value]="ccag.id">{{ccag.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="!editeur && showMore">
              <div class="controls">
                <h5><label>{{"rechercherCanevas.txt.auteur" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="acteurSelect" [(ngModel)]="filter.typeAuteur">
                    <option selected="" [value]="0">{{"redaction.tous" | translate}}</option>
                    <option *ngFor="let typeActeur of refTypeActeur$ | async"
                            [value]="typeActeur.id">{{typeActeur.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

          </div>

          <hr/>
          <div class="row d-flex align-items-center">
            <div class="col-md-6 col-sm-12" >
              <a class="primary-client">
                              <span *ngIf="!showMore"  (click)="showMore= true"><i class="la la-plus"></i>
                                {{"redaction.plusCriteres" | translate}}
            </span>
                <span *ngIf="showMore" (click)="showMore= false"><i class="la la-minus"></i>
                  {{"redaction.moinsCriteres" | translate}}
            </span>
              </a>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="float-md-right">
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px" (click)="reInitFilter()"><i class="fa fa-eraser"></i>
                  {{"rechercherCanevas.txt.initRecherche" | translate}}
                </button>
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm" (click)="rechercher()"><i class="ft-search"></i>
                  {{"rechercherCanevas.txt.rechercherCanevas" | translate}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


