<div class="modal-content modal-lg modal-extra-large">

    <div class="modal-header">
        <h1>{{surcharge?.nom}}</h1>

        <button (click)="fermeture.emit()" aria-label="Close" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <atexo-redacdocument-gabarit-preview
          [surcharge]="surcharge"
          (erreur)="erreur.emit($event)"
        ></atexo-redacdocument-gabarit-preview>
    </div>
</div>
