<section>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="card atexo-background primary-client-bg" *ngIf="configuration else noSession">
    <div class="card-content">
      <div class="card-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="account-vertical-general"
               aria-labelledby="account-pill-general" aria-expanded="true">
            <div class="row">
              <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                <h5><span
                  class="font-weight-bold text-white"> Suivi des avis de publicité</span>
                </h5>
              </div>
            </div>
            <hr class="border-top-color-white">

            <div *ngIf="avisPubDTOS.length> 0">
              <atx-type-avis-formulaire-details *ngFor="let avisPubDTO of avisPubDTOS"
                                                [model]="avisPubDTO"
                                                [configuration]="configuration"
                                                [showDetails]="expandedMap.get(avisPubDTO.id)"
                                                (onExpandTypeAvisAnnonce)="expandedMap.set(avisPubDTO.id,!expandedMap.get(avisPubDTO.id) )"
                                                (onRefreshTypeAvisAnnonce)="getAnnonces()"
                                                (onEditAnnonce)="openTypeAvis(avisPubDTO)"


              ></atx-type-avis-formulaire-details>
            </div>
            <div *ngIf="avisPubDTOS.length === 0">
              <div class="alert show alert-icon-left alert-info background-white fade">
  <span class="alert-icon">
    <i class="la la-info"></i>
  </span>
                Aucun avis n'a été choisi.
              </div>

            </div>

            <label type="button" class="btn atexo-btn primary-client btn-sm"
                   (click)="openTypeAvis(null)"><i class="la la-plus"></i>
              Créer un nouvel avis
            </label>


          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noSession>
    <div class="alert show alert-icon-left alert-info background-white fade">
  <span class="alert-icon">
    <i class="la la-info"></i>
  </span>
      Aucune session de consultation est liée à l'agent. Veuillez contacter l'administrateur.
    </div>

  </ng-template>


</section>

