.atexo-background {
    background-color: #007bff;
    display: inherit !important;
}


.border-top-color-white {
    border-top-color: white !important;
}

.atexo-btn {
    background-color: white !important;
    color: #007bff;
    font-weight: bold;

}

.background-white {
    background-color: white !important;
}
