<com:TContent ID="CONTENU_PAGE">
<com:AtexoAppletObject MainClass="MpeChiffrementApplet"  ClassIdApplet="mpe.MpeChiffrementApplet" Params="<%=$this->getParamsMpeChiffrementApplet()%>"/>
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><span class="normal"><com:TTranslate>TEXT_TRANSMISSION</com:TTranslate></span> &gt; <com:TTranslate>TEXT_NOUVELLE_TRANSMISSION</com:TTranslate></div>
		<!--Debut Bloc Recap Consultation-->
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<div class="line">
					<div class="intitule-auto"><com:TTranslate>NUMERO_DE_LA_TRANSMISSION</com:TTranslate> :</div><strong><com:TLabel ID="nuremoTrans"/></strong>
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<img ID="loading" src='themes/images/loader.gif' alt="<%=Prado::localize('CHARGEMENT_APPLET')%>" title="<%=Prado::localize('CHARGEMENT_APPLET')%>" />
		<com:AtexoValidationSummary  ValidationGroup="validateCreateTrans" />
		<com:AtexoValidationSummary  ValidationGroup="validateCreateTrans" />
		<!--Debut Bloc Recap Consultation-->
		<com:ConsultationSummary ID="IdConsultationSummary"/>
		<!--Fin Bloc Recap Consultation-->
		
		<!--Debut Bloc formulaire avec onglets-->
		<div id="tabNav" class="clear-both">
			<!--Debut navigation onglets-->
			<div class="nav-onglet" id="form-nav">
				<!--IMPORTANT, Pour rendre un onglet inactif, utiliser class="tab-inactive" au lieu de class="tab" et supprimer la fonction onclick="showHideLayer();"-->
				<div class="tab-on" id="onglet1"><span class="border-left">&nbsp;</span><a  style="cursor: pointer" class="tab-5item" onclick="showHideLayer('ongletLayer1',this,3);"><com:TTranslate>TEXT_META_DONNES_DCE</com:TTranslate></a><span class="border-right">&nbsp;</span></div>
				<div class="tab" id="onglet2"><span class="border-left">&nbsp;</span><a  style="cursor: pointer" class="tab-5item" onclick="showHideLayer('ongletLayer2',this,3);"><com:TTranslate>DEFINE_TEXT_PJ</com:TTranslate> </a><span class="border-right">&nbsp;</span></div>
				<div class="tab" id="onglet3"><span class="border-left">&nbsp;</span><a  style="cursor: pointer" class="tab-5item" onclick="showHideLayer('ongletLayer3',this,3);"><com:TTranslate>TEXT_PIECES_ENTREPRISE</com:TTranslate> </a><span class="border-right">&nbsp;</span></div>
			</div>
			<!--Fin navigation onglets-->
			<!--Debut Layer 1-->
			<div class="ongletLayer" id="ongletLayer1" style="display:block;">
				<div class="top"></div>
				<div class="content">
					<div class="float-right margin-fix"><com:TTranslate>DEFINE_SYMBOLE </com:TTranslate><span class="champ-oblig">*</span><com:TTranslate>TEXT_INDIQUE_CHAMPS_OBLIGATOIRES</com:TTranslate></div>
					<div class="spacer-small"></div>
					<!--Debut Bloc Objet et commentaire-->
					<div class="form-field" style="display:block;">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_OBJET_COMMENTAIRE</com:TTranslate></span></div>
						<div class="content">
							<!--Debut Ligne Objet-->
							<div class="line">
								<div class="intitule-80"><label for="objet"><com:TTranslate>OBJET</com:TTranslate></label><span class="champ-oblig">*</span> :</div>
								<com:TTextBox id="objet" cssClass="long-650" Attributes.Title="Objet" TextMode="MultiLine" Rows="100" />
								<com:TRequiredFieldValidator 
        							ControlToValidate="objet"
        							ValidationGroup="validateCreateTrans" 
        							Display="Dynamic"
        							ErrorMessage="<%=Prado::localize('OBJET')%>"
        							EnableClientScript="true"  						 					 
        				 			Text="<span title='Champ obligatoire' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
        							<prop:ClientSide.OnValidationError>
           				 				document.getElementById('divValidationSummary').style.display='';
         							</prop:ClientSide.OnValidationError>
                 				</com:TRequiredFieldValidator>
							</div>
							<!--Fin Ligne Objet-->
							<!--Debut Ligne Commentaire-->
							<div class="line">
								<div class="intitule-80"><label for="commentaire"><com:TTranslate>DEFINE_COMMENTAIRE</com:TTranslate></label> :</div>
								<com:TTextBox id="commentaire" cssClass="long-650" Attributes.Title="Commentaire" TextMode="MultiLine" Rows="100" />
							</div>
							<!--Fin Ligne Commentaire-->
							<div class="spacer-small"></div>
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc Objet et commentaire-->
					
					<!--Debut Bloc Pieces de publicite-->
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_PIECES_ENTREPRISES</com:TTranslate></span></div>
						<div class="content">
							<div class="line">
								<span class="check-bloc">
									<com:TCheckBox id="piecePublicite" Attributes.title="<%=Prado::localize('TEXT_PIECES_ENTREPRISES')%>" Attributes.onclick="isCheckedShowDiv(this,'infosPubublicite');" />
								</span>
								<div class="bloc-740 float-left">
									<label for="envelopCandidature"><com:TTranslate>TEXT_JOINDRE_PIECES_REGROUPANT_PUBLICITE</com:TTranslate> :</label>
									<div class="spacer-mini"></div>
									<!--Debut Bloc Infos publicite-->
									<div  id="infosPubublicite" style="display:<%=($this->_lastTrans->getPubliciteCons()) ? 'block':'none';%>" >
									<div class="form-bloc margin-0" id="infosPubublicite" >
										<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
										<div class="content">
											<div class="line no-indent">
												<div class="intitule-280 bold"><com:TTranslate>TEXT_MISE_ENLIGNE_SUR_LA_PLATE_FORME </com:TTranslate>:</div>
												<div class="content-bloc bloc-300"><com:TLabel ID="dateMiseEnLigne"/></div>
											</div>
											<div class="line no-indent">
												<div class="intitule-280 bold"><com:TTranslate>TEXT_PUBLICATION_BOAMP</com:TTranslate>	:</div>
												<div class="content-bloc bloc-300"><com:TLabel ID="annonceBoamp"/>
    												<br/>
    												<com:TRepeater ID="repeaterAnnonceBoamp" >
        												<prop:ItemTemplate>
        													<%#substr(strstr($this->Data->getReferentieltypexml()->getLibelleType(),'-'),1).' '%>
        													Publié le 
        													<%# Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDatepub())%>
        													<br/>
        												</prop:ItemTemplate>
    												</com:TRepeater>
												</div>
											</div>
											<div class="line no-indent">
												<div class="intitule-280 bold"><com:TTranslate>TEXT_PUBLICATION_JAL	</com:TTranslate>:</div>
												<div class="content-bloc bloc-300"><com:TLabel ID="annonceJal"/>
    												<br/>
    												<com:TRepeater ID="repeaterAnnonceJal" >
        												<prop:ItemTemplate>
        													Annonce-extrait plate-forme
        													envoyé le
        													<%# Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data->getDateEnvoi())%>
        													<br/>
        												</prop:ItemTemplate>
    												</com:TRepeater>
												</div>
											</div>
											
											<div class="breaker"></div>
										</div>
										
										<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
									</div>
									
									<div class="breaker"></div>
									<!-- Fichier annance -->
										<div class="form-field">
                    						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_FICHIER_ANNONCE_AVIS</com:TTranslate> :</span></div>
                    						<div class="content">
                    							<div class="spacer-small"></div>
                    							<!--Debut bloc liste PJ-->
                    							<com:TActivePanel ID="panelPiecePub" cssClass="liste-pj">
                    								<p><com:TActiveLabel Text ="<%=Prado::localize('TEXT_AUCUN_DOCUMENT_AJOUTER')%>" ID="labelPiecePub"/></p>
                    								<com:TRepeater ID="repeaterPiecesPub" >
    													<prop:HeaderTemplate>
                            								<table summary="Fichiers d'annonces" class="table-results table-720">
                            									<caption>Liste des pièces</caption>
                            								</prop:HeaderTemplate>
															<prop:ItemTemplate>
                            									<tr class="<%#(($this->ItemIndex%2==0)? 'on':'')%>"> 
                            										<td class="file-col"><%#$this->Data->getNomFichier()%> <span class="info-aide">(<%# Application\Service\Atexo\Atexo_Util::arrondirSizeFile($this->Data->getTaille()/1024)%>)</span></td>
                            										<td class="actions">
                            											<com:TImageButton 
                            												cssClass="indent-5"
                            												ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
                            												Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
                            												Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>"
                            												Attributes.onClick="javascript:popUp('?page=helios.PopupDownloadDocument&type=piece_publicite&id=<%#$this->Data->getId()%>','yes');return false;"/>
                            										</td>
                            										<td class="actions">
                            										<com:PictoDeleteActive
                            											cssClass="indent-5" 
                            											onCommand="Page.deletePiecePublicite" 
                                            							onCallBack="Page.onCallBackRefreshPiecePub" 
                                            							CommandName = "<%#$this->Data->getId()%>"
                                            							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
                                            							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_CONFIRMATION_SUPRESSION_DOCUMENT')%>"))return false;'/>
                            										</td>
                            									</tr>
                            								</prop:ItemTemplate>
                                								<prop:FooterTemplate>
        														</table>
        														</prop:FooterTemplate>
    													</com:TRepeater>	
                    								<a href="javascript:popUp('index.php?page=helios.PopupAddFile&idTrans=<%=$this->_lastTrans->getId()%>&type=piece_publicite&id=<%=$this->_consultation->getId()%>','yes');" class="ajout-el clear-both" title="Editer la liste des pièces jointes"><com:TTranslate>TEXT_AJOUTER_PIECE</com:TTranslate></a>
                    							</com:TActivePanel>
                    							<span style="display:none;">
                        							<com:TActiveButton 
                                                    ID="buttonRefreshPiecePub" 
                                                    Text="buttonRefreshPiecePub" 
                                                    OnCallBack="Page.onCallBackRefreshPiecePub"/>
                                                </span>
                    							<!--Fin bloc liste PJ-->
                    							<div class="breaker"></div>
                    						</div>
                    						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
                    					</div>
										<!-- Fin fichier annonce -->
										</div><!--  -->
										<div class="spacer-small"></div>
									<!--Fin Bloc Infos publicite-->		
								</div>
							</div>
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc Pieces de publicite-->
					
					<!--Debut Bloc Pieces du DCE-->		
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_PIECES_DCE</com:TTranslate></span></div>
						<div class="content">
							<div class="spacer-small"></div>
							<p><com:TLabel ID="labelDce"/></p>
							<com:TActivePanel ID="panelDCE" cssClass="arbo-dce">
								<!-- Fonction qui affiche l'arbo du DCE -->
								<com:TLabel ID="scriptDce"/>
		         				
								<com:TLinkButton ID="linkdownloadDce" 
									Attributes.onClick="javascript:if(DownloadPartialDCE()) {return true;}else {bootbox.alert('<%=Prado::localize('VOUS_DEVEZ_SELECTIONNEZ_UNE_PIECE_A_TELECHARGER')%>');return false}"
									CssClass="bouton-telecharger-long230" 
									Text="<%=Prado::localize('TEXT_BOUTON_TELECHARGER_PIECE')%>"
									onClick="downloadSelectedFilesForDce" >
									<comTImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/bouton-telecharger-long230.png"/>
								</com:TLinkButton>
								
								<div class="breaker"></div>
							</com:TActivePanel>	
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc Pieces du DCE-->		
					<a href="#" class="bouton-suivant" title="Passer à l'onglet suivant" onclick="showNextTab();"><com:TTranslate>DEFINE_SUIVANT</com:TTranslate></a>
					<div class="breaker"></div>
				</div>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 1-->
			<!--Debut Layer 2-->
			<div class="ongletLayer" id="ongletLayer2" style="display:none;">
				<div class="top"></div>
				<div class="content">
					<!--Debut Bloc PV de CAO / PV de Commission-->		
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_PV_CAO_COMMISSION</com:TTranslate></span></div>
						<com:TActivePanel ID="panelPiecePv" cssClass="content">
							<div class="spacer-small"></div>
							
							<!--Debut bloc liste PJ-->
    							<p><com:TActiveLabel ID="labelPiecesPv" Text="<%=Prado::localize('TEXT_AUCUN_DOCUMENT_AJOUTER')%>"/></p>
    								<com:TRepeater ID="repeaterPiecesPv" >
    									<prop:HeaderTemplate>
            								<table summary="" class="table-results">
            									<caption><com:TTranslate>TEXT_PV_CAO_COMMISSION</com:TTranslate></caption>
            								</prop:HeaderTemplate>
    										<prop:ItemTemplate>
            									<tr class="<%#(($this->ItemIndex%2==0)? 'on':'')%>"> 
            										<td class="file-col"><%#$this->Data->getNomFichier()%> <span class="info-aide">(<%# Application\Service\Atexo\Atexo_Util::arrondirSizeFile($this->Data->getTaille()/1024)%>)</span>
            										</td>
            										<td class="actions">
            											<com:TImageButton 
                            												cssClass="indent-5"
                            												ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
                            												Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
                            												Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>"
                            												Attributes.onClick="javascript:popUp('?page=helios.PopupDownloadDocument&type=pv&id=<%#$this->Data->getId()%>','yes');return false;"/>
            										</td>
            										<td class="actions">
            										<com:PictoDeleteActive
                											cssClass="indent-5" 
                											onCommand="Page.deletePiecePvConsultation" 
                                							onCallBack="Page.onCallBackRefreshPiecePv" 
                                							CommandName = "<%#$this->Data->getId()%>"
                                							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
                                							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_CONFIRMATION_SUPRESSION_DOCUMENT')%>"))return false;'/>
            										
            										</td>
            									</tr>
            								</prop:ItemTemplate>
                								<prop:FooterTemplate>
    											</table>
    											</prop:FooterTemplate>
    									</com:TRepeater>	
    								<a href="javascript:popUp('index.php?page=helios.PopupAddFile&idTrans=<%=$this->_lastTrans->getId()%>&type=pv&id=<%=$this->_consultation->getId()%>','yes');" class="ajout-el clear-both" title="Editer la liste des pièces jointes"><com:TTranslate>TEXT_AJOUTER_PIECE</com:TTranslate></a>
							<!--Fin bloc liste PJ-->
														
							<div class="breaker"></div>
						</com:TActivePanel>
    						<span style="display:none;">
    							<com:TActiveButton 
                                ID="buttonRefreshPiecePv" 
                                Text="buttonRefreshPiecePv" 
                                OnCallBack="Page.onCallBackRefreshPiecePv"/>
                            </span>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc PV de CAO / PV de Commission-->		

					<!--Debut Bloc Rapport de presentation au préfet (ART. 75)-->		
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_RAPPORT_PRESENTATION_PREFET</com:TTranslate></span></div>
						<div class="content">
							<div class="spacer-small"></div>
							<!--Debut bloc liste PJ-->
							<com:TActivePanel ID="panelPiecesRapport" cssClass="liste-pj">
								<p><com:TActiveLabel ID="labelPiecesRapport" Text ="<%=Prado::localize('TEXT_AUCUN_DOCUMENT_AJOUTER')%>"/></p>
    								<com:TRepeater ID="repeaterPiecesRapport" >
    									<prop:HeaderTemplate>
            								<table summary="" class="table-results">
            									<caption><com:TTranslate>TEXT_RAPPORT_PRESENTATION_PREFET</com:TTranslate></caption>
            								</prop:HeaderTemplate>
    										<prop:ItemTemplate>
            									<tr class="<%#(($this->ItemIndex%2==0)? 'on':'')%>"> 
            										<td class="file-col"><%#$this->Data->getNomFichier()%> <span class="info-aide">(<%# Application\Service\Atexo\Atexo_Util::arrondirSizeFile($this->Data->getTaille()/1024)%>)</span>
            										</td>
            										<td class="actions">
            											<com:TImageButton 
            												cssClass="indent-5"
            												ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
            												Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
            												Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>"
            												Attributes.onClick="javascript:popUp('?page=helios.PopupDownloadDocument&type=rapport_prefet&id=<%#$this->Data->getId()%>','yes');return false;"/>
            										</td>
            										<td class="actions">
            										<com:PictoDeleteActive
                											cssClass="indent-5" 
                											onCommand="Page.deletePieceRapport" 
                                							onCallBack="Page.onCallBackRefreshPiecesRapport" 
                                							CommandName = "<%#$this->Data->getId()%>"
                                							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
                                							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_CONFIRMATION_SUPRESSION_DOCUMENT')%>"))return false;'/>
            									</tr>
            								</prop:ItemTemplate>
                								<prop:FooterTemplate>
    											</table>
    											</prop:FooterTemplate>
    									</com:TRepeater>	
    								<a href="javascript:popUp('index.php?page=helios.PopupAddFile&idTrans=<%=$this->_lastTrans->getId()%>&type=rapport_prefet&id=<%=$this->_consultation->getId()%>','yes');" class="ajout-el clear-both" title="Editer la liste des pièces jointes"><com:TTranslate>TEXT_AJOUTER_PIECE</com:TTranslate></a>
							</com:TActivePanel>
    						<span style="display:none;">
    							<com:TActiveButton 
                                ID="buttonRefreshPiecesRapport" 
                                Text="buttonRefreshPiecesRapport" 
                                OnCallBack="Page.onCallBackRefreshPiecesRapport"/>
                            </span>
							<!--Fin bloc liste PJ-->
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc Rapport de presentation au préfet (ART. 75)-->	

					<!--Debut Bloc Tableau de reception des AR-->		
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_TABLEAU_RECEPTION_AR</com:TTranslate></span></div>
						<div class="content">
							<div class="spacer-small"></div>
							<!--Debut bloc liste PJ-->
								<com:TActivePanel ID="panelPiecesAr" cssClass="liste-pj">
    								<com:TRepeater ID="repeaterPiecesAr" >
    									<prop:HeaderTemplate>
            								<table summary="" class="table-results">
            									<caption><com:TTranslate>TEXT_TABLEAU_RECEPTION_AR</com:TTranslate></caption>
            								</prop:HeaderTemplate>
    										<prop:ItemTemplate>
            									<tr class="<%#(($this->ItemIndex%2==0)? 'on':'')%>"> 
            										<td class="file-col"><%#$this->Data->getNomFichier()%> <span class="info-aide">(<%# Application\Service\Atexo\Atexo_Util::arrondirSizeFile($this->Data->getTaille()/1024)%>)</span>
            										<div class="intitule-auto float-none">
													</div>
													<com:TTranslate>FCSP_DESCRIPTION</com:TTranslate> : <%#$this->Data->getDescription()%>
            										</td>
            										<td class="actions">
            											<com:TImageButton 
            												cssClass="indent-5"
            												ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
            												Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
            												Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>"
            												Attributes.onClick="javascript:popUp('?page=helios.PopupDownloadDocument&type=tableau_ar&id=<%#$this->Data->getId()%>','yes');return false;"/>
            										</td>
            										<td class="actions">
            										<com:PictoDeleteActive
                											cssClass="indent-5" 
                											onCommand="Page.deletePieceAr" 
                                							onCallBack="Page.onCallBackRefreshPieceAr" 
                                							CommandName = "<%#$this->Data->getId()%>"
                                							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
                                							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_CONFIRMATION_SUPRESSION_DOCUMENT')%>"))return false;'/>
            										</td>
            									</tr>
            								</prop:ItemTemplate>
                								<prop:FooterTemplate>
    											</table>
    											</prop:FooterTemplate>
    									</com:TRepeater>	
    								 <com:TActivePanel ID="linkTableauAr" >
    								  <p><com:TLabel Text ="<%=Prado::localize('TEXT_AUCUN_DOCUMENT_AJOUTER')%>"/></p>
    								  <a
        								href="javascript:popUp('index.php?page=helios.PopupAddFile&idTrans=<%=$this->_lastTrans->getId()%>&type=tableau_ar&id=<%=$this->_consultation->getId()%>','yes');"
        								class="ajout-el clear-both" >
        								<com:TTranslate>TEXT_AJOUTER_PIECE</com:TTranslate>
        							</a>
        							</com:TActivePanel>
								</com:TActivePanel>
            						<span style="display:none;">
            							<com:TActiveButton 
                                        ID="buttonRefreshPiecesAr" 
                                        Text="buttonRefreshPiecesAr" 
                                        OnCallBack="Page.onCallBackRefreshPieceAr"/>
                           			 </span>
							<!--Fin bloc liste PJ-->
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
					</div>
					<!--Fin Bloc Tableau de reception des AR-->		


					<!--Debut Bloc Pieces optionnelles-->		
					<div class="form-field">
						<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>TEXT_PIECES_OPTIONNELLES</com:TTranslate></span></div>
						<div class="content">
							<div class="spacer-small"></div>
							<!--Debut bloc liste PJ-->
							<com:TActivePanel ID="panelPiecesOptionnelles" cssClass="liste-pj">
							<p><com:TActiveLabel Text ="<%=Prado::localize('TEXT_AUCUN_DOCUMENT_AJOUTER')%>" ID="labelPiecesOptionnelles"/></p>
    							<com:TRepeater ID="repeaterPiecesOptionnelles" >
        						 	<prop:HeaderTemplate>
    								<table summary="" class="table-results">
    									<caption><com:TTranslate>TEXT_PIECES_OPTIONNELLES</com:TTranslate></caption>
    								</prop:HeaderTemplate>
        							<prop:ItemTemplate>
									<tr class="<%#(($this->ItemIndex%2==0)? 'on':'')%>">
										<td class="file-col">
											<div class="nom-pj-optionnelle"><%#$this->Data['nom_piecej']%> (<%# Application\Service\Atexo\Atexo_Util::arrondirSizeFile($this->Data['taille_piecej']/1024)%>)</div>
											<div class="intitule-auto float-none">
											</div>
												<com:TTranslate>FCSP_DESCRIPTION</com:TTranslate> : <%#$this->Data['desc_piecej']%>
										</td>
										<td class="actions">
    										<com:TImageButton 
												cssClass="indent-5"
												ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
												Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
												Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>"
												Attributes.onClick="javascript:popUp('?page=helios.PopupDownloadDocument&piece=<%#$this->ItemIndex%>&type=piece_optionnelle&id=<%#$this->Data['id']%>','yes');return false;"/>
    										
										</td>
										<td class="actions">
										 <com:PictoDeleteActive
											cssClass="indent-5" 
											onCommand="Page.deletePieceOptionnelle" 
                							onCallBack="Page.onCallBackRefreshPiecesOptionnelles" 
                							CommandName = "<%#$this->Data['piece']%>"
                							AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
                							Attributes.onclick='javascript:if(!confirm("<%=Prado::localize('TEXT_CONFIRMATION_SUPRESSION_DOCUMENT')%>"))return false;'/>
									   </td>
									</tr>
								</prop:ItemTemplate>
								<prop:FooterTemplate>
								</table>
								</prop:FooterTemplate>
								</com:TRepeater>
									<com:THyperLink visible="<%=(($this->_lastTrans->getNomPiecej1()=='')||($this->_lastTrans->getNomPiecej2()=='')) ? true:false %>" NavigateUrl="javascript:popUp('index.php?page=helios.PopupAddFile&type=piece_optionnelle&idTrans=<%=$this->_lastTrans->getId()%>','yes');" cssClass="ajout-el clear-both" Attributes.title="Editer la liste des pièces jointes" Text ="<%=Prado::localize('TEXT_AJOUTER_PIECE')%>"/>
							</com:TActivePanel>
        						<span style="display:none;">
        							<com:TActiveButton 
                                    ID="buttonRefreshPiecesOptionnelles" 
                                    Text="buttonRefreshPiecesOptionnelles" 
                                    OnCallBack="Page.onCallBackRefreshPiecesOptionnelles"/>
                                </span>
							<!--Fin bloc liste PJ-->
							<div class="breaker"></div>
						</div>
						<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>

					</div>
					<!--Fin Bloc Pieces optionnelles-->
					
					
					<a href="#" class="bouton-suivant" title="Passer à l'onglet suivant" onclick="showNextTab();"><com:TTranslate>DEFINE_SUIVANT</com:TTranslate></a>
					<div class="breaker"></div>
				</div>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 2-->
			
			<!--Debut Layer 3-->
			<com:TLabel ID="script"/>
			<div class="ongletLayer" id="ongletLayer3" style="display:none;">
				<div class="top"></div>
				<com:TActivePanel ID="panelPiecesEntreprise" cssClass="content">
					<!--Debut Bloc Pieces des entreprises-->	
					
					<h2 class="indent-5"><com:TTranslate>TEXT_PIECES_ELECTRONIQUE_ATTRIBUTAIRE</com:TTranslate></h2>
					<div class="table-bloc">
						<com:TRepeater ID="PiecesEntreprises" EnableViewState="true" >
							<prop:HeaderTemplate>
								<table class="table-results" summary="Pièces électroniques des attributaires">
									<caption><com:TTranslate>TEXT_LISTE_PIECES</com:TTranslate></caption>
									<thead>
										<tr>
											<th class="top" colspan="3"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
										</tr>
										<tr>
											<th class="col-70" id="lot"><com:TTranslate>DEFINE_DESCRIPTION</com:TTranslate></th>
											<th class="col-450" id="intituleLot"></th>
											<th class="col-100" id="dateAttributionLot"><a href="#"><com:TTranslate>TEXT_DATE_ATTRIBUTION</com:TTranslate></a></th>
										</tr>
									</thead>
							</prop:HeaderTemplate>
							<!--Debut Ligne Formulaire 1-->
							<prop:ItemTemplate>
								<tr class="doc-on-first">
									<td rowspan="2" class="col-50" headers="lot">
											<com:THiddenField ID="lot" Value="<%#$this->Data->getLot()%>"/>
											<com:TCheckBox  ID="choixLot" 
													Checked="<%#$this->Page->checkedLot($this->Data->getLot())%>"
													CssClass="<%#($this->Data->getDecision()=='1')? 'check':'check disabled'%>"
													Attributes.title="Sélectionner ce lot" 
													Attributes.onclick="isCheckedShowDiv(this,'attributaires_lot<%#$this->ItemIndex%>');" 
													Enabled="<%#($this->Data->getDecision()=='1' && $this->Data->hasAttributaires())%>"/>
	    									<label for="choixLot_1">
    											<span class="attributaire"><%#$this->Data->getLot()? 'Lot '.$this->Data->getLot() : ''%></span>
    										</label>
									</td>
									<td class="col-450" headers="intituleLot"><%#$this->Data->getDescription()%>
									</td>
									<td class="col-100" headers="dateAttributionLot">
										<%#$this->Page->getDateAttributionLot($this->Data)%>
									</td>
								</tr>
								<com:TLabel  Visible="<%#$this->Data->hasAttributaires()%>">
										<tr class="<%#(($this->ItemIndex%2==0)? 'doc-on-first':'doc-off-first')%>">
										<td colspan="2">
										<div id="attributaires_lot<%#$this->ItemIndex%>" style="display:<%#($this->Page->checkedLot($this->Data->getLot())) ? 'block':'none'%>">
											<!--Debut Bloc Attributaire 1-->
												<com:TRepeater ID="PieceAttibutaires" EnableViewState="true" DataSource="<%#$this->Data->getAttributaires()%>">
													<prop:ItemTemplate>
														<div class="liste-destinataires">	
															<div class="title"><%#utf8_decode($this->Data['nom_entreprise'])%></div>
															<div id="numMarche" class="num-marche" style="display:block;">
    															<com:THiddenField ID="idEnveloppe" Value="<%#$this->Data['id_enveloppe']%>"/>
    															<com:THiddenField ID="typeEnveloppe" Value="<%#$this->Data['type_enveloppe']%>"/>
    															<com:THiddenField ID="lot" Value="<%#$this->Data['lot']%>"/>
    															<com:TActiveCheckBox 
                                                						Checked="<%#$this->Page->checkednumeroMarche($this->Parent->Parent->Parent->Data->getLot(),$this->Data['numero_marche'])%>"
                                                						id="checkNumMarche" 
                                                						Attributes.title="Sélectionner" 
                                                						OnCallBack ="Page.onCallBackdisplayPiecesEle" 
                                                						/>
    															
    															<label for="numMarcheLot_2">&nbsp<strong><com:TTranslate>TEXT_NUMERO_MARCHE</com:TTranslate></strong></label>
    																:
    																<com:THiddenField ID="numeroMarche" Value="<%#$this->Data['numero_marche']%>"/>
    																<com:TLabel Text="<%#($this->Data['numero_marche']!='') ? $this->Data['numero_marche']:'-'%>" cssclass="small-150" />
    														</div>
    														<com:TActivePanel ID="panelAttributaire">
															<com:TRepeater ID="repeaterPiecesEle" >
                                                            	<prop:HeaderTemplate>
                                                            		<table summary="Pièces électroniques des attributaires">
                                                            		<caption><com:TTranslate>TEXT_LISTE_PIECES</com:TTranslate></caption>
                                                            		<thead>
                                                            			<tr>
                                                            				<th class="col-doc" id="nomDocument_Lot2"><com:TTranslate>TEXT_DOCUMENTS</com:TTranslate></th>
                                                            				<th class="col-doc-desc" id="descriptionDoc_Lot2"><com:TTranslate>DEFINE_DESCRIPTION</com:TTranslate></th>
                                                            				<th class="actions" id="actionsDoc_Lot2"><com:TTranslate>DEFINE_ACTIONS</com:TTranslate></th>
                                                            			</tr>
                                                            		</thead>
                                                            	</prop:HeaderTemplate>
                                                            	<prop:ItemTemplate>
                                                            		<tr class="<%#(($this->ItemIndex%2==0)? 'on':'')%>">
                                                            			<td class="col-doc" headers="nomDocument_Lot2">
                                                            				<%# ($this->Data['TYPE_FICHIER']=='ACE') ? Prado::localize('AE'):Prado::localize('TEXT_ENV_OFFRE') %>
                                                            			</td>
                                                            			<td class="col-doc-desc" headers="descriptionDoc_Lot2">										
                                                            				<div class="choix-docs-attributaire">
                                                            				<com:THiddenField ID="nameFichier" Value="<%#$this->Data['NOM_FICHIER']%>"/>
                                                            				<com:THiddenField ID="idFichier" Value="<%#$this->Data['ID_FICHIER']%>"/>
                                                            				<com:THiddenField ID="idBlob" Value="<%#$this->Data['ID_BLOB']%>"/>
                                                            					<com:THiddenField ID="typeFichier" Value="<%#$this->Data['TYPE_FICHIER']%>"/>
                                                            					<span class="check-bloc" style="display:<%# ($this->Data['TYPE_FICHIER']=='ACE') ? 'block':'none' %>">
                                                            						<com:TCheckBox 
                                                                						Checked="<%#$this->Page->checkedActeEngagement($this->Data['ID_FICHIER'],$this->Data['LOT'])%>"
                                                                						id="checkPieceEnv" 
                                                                						Attributes.title="Sélectionner" />
                                                            					</span>
                                                            					<div class="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? 'content-bloc':'arbo-dce' %>">
                                                                					<com:TLabel visible="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? true:false %>">
                                                                						<com:TLabel  id="nomFichier" attributes.for="doc_1_Lot2" text="<%#$this->Data['NOM_FICHIER']%>"/>
                                                                					</com:TLabel>
                                                                					<com:TLabel visible="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? false:true %>">
                                                                						<span style="display:<%#(Application\Service\Atexo\Atexo_Zip::verifyZipExtension($this->Data['NOM_FICHIER']))? 'block':'none' %>">
                                                                							<label for="doc_1_Lot2"><%#$this->Page->getArborescenceEnveloppe($this->Data['LOT'],$this->Data['ID_BLOB'],$this->Data['ID_FICHIER'])%></label>
                                                                						</span>
                                                                						<span  class="check-bloc" style="display:<%#(Application\Service\Atexo\Atexo_Zip::verifyZipExtension($this->Data['NOM_FICHIER']))? 'none':'block' %>">
                                                        								<label for="doc_1_Lot2">
                                                            								<com:TCheckBox 
                                                            								Checked="<%#$this->Page->checkedFileEnveloppe($this->Data['ID_FICHIER'],$this->Data['LOT'])%>"
                                                            								 id="checkFileEnv" 
                                                            								 Attributes.title="Sélectionner" />
                                                            								 <%#$this->Data['NOM_FICHIER']%>
                                                        								 </label>
                                                            							</span>
                                                                					</com:TLabel>
                                                            					</div>
                                                            					<div class="breaker"></div>
                                                            				</div>											
                                                            				<com:TActivePanel ID="cosignaturePanel" visible="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? true:false %>" cssClass="choix-docs-attributaire">
                                                            					<com:THiddenField ID="hashFile" Value="<%#Application\Service\Atexo\Atexo_Crypto::hashBlobFile($this->Data['ID_BLOB'])%>"/>
                                                            					<span style="display:none;">
                                                                               		<com:TTextBox TextMode="MultiLine" Rows="20" ID="signature"  />
                                                                               		<com:TTextBox  ID="wishOne"  />
                                                                        			<com:TActiveButton 
                                                                        				CommandName="<%#$this->Data['NOM_FICHIER'].'#_#'.$this->Data['LOT']%>"
        																				OnCommand="Page.doAddCoSignature" 
                                                                                        ID="buttonAddCosignature" 
                                                                                        Text="AddCosignature" 
                                                                                        OnCallBack="Page.onCallBackdisplayPiecesEle"/>
                                                                           		</span>
                                                            					<div class="content-bloc">
                                                            						<label for="doc_2_Lot2"><com:TTranslate>TEXT_SIGNATURE_ENTREPRISE</com:TTranslate> :</label>
                                                            						<%#$this->Data['CN_SUBJECT']%>
                                                            					</div> 
                                                            					<com:TActivePanel ID="panelPeiceEle" cssClass="content-bloc">
                                                            						<com:TRepeater ID="repeaterCosignature"  DataSource="<%#$this->Page->displayCoSignatureAr($this->Data['ID_FICHIER'])%>">
																						<prop:ItemTemplate>
																						  <label for="doc_2_Lot2"><com:TTranslate>TEXT_COSIGNATURE</com:TTranslate> :</label> <%#$this->Data%>
																						  <br/>
																						</prop:ItemTemplate>
                                                                                    </com:TRepeater>
                                                            					</com:TActivePanel>	
                                                            					<div class="breaker"></div>
                                                            				</com:TActivePanel>	
                                                            			</td>
                                                            			<td class="actions" headers="actionsDoc_Lot2">
                                                            				<com:TActiveImageButton 
                                                            					visible="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? true:false %>"
                                                            					Attributes.onClick="javascript:popUp('?page=helios.PopupDownloadDocument&id=<%#$this->Data['ID_FICHIER']%>&type=acte_engagement','yes');return false;"
                                                                				cssClass="indent-5"
                                                                				ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
                                                                				Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
                                                                    			Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>" />
                                                                			<com:TImageButton     
	                                                        					 ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-dl-dossier.gif"
	                                                        					OnCommand="Page.downloadEnveloppeOffre"
	                                                        					CommandName="<%#$this->Data['ID_FICHIER'].'#'.$this->Data['ID_BLOB'].'#'.$this->Data['NOM_FICHIER'].'#'.$this->Data['LOT']%>"
	                                                            				cssClass="indent-5"
	                                                            				visible="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? false:true %>"
	                                                            				Attributes.alt="<%=Prado::localize('DEFINE_TELECHARGER')%>"
	                                                                			Attributes.title="<%=Prado::localize('DEFINE_TELECHARGER')%>"
	                                                                			Attributes.onClick="javascript:if(downloadPartialEnveloppeOffre('<%#$this->Data['LOT']%>','<%#$this->Data['ID_BLOB']%>')) {return true;}else {bootbox.alert('<%=Prado::localize('VOUS_DEVEZ_SELECTIONNEZ_UNE_PIECE_A_TELECHARGER')%>');return false}"
	                                                                			>
	                                                                			</com:TImageButton>
                                                            				<com:TActiveImageButton  
                                                                				ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-co-signer.gif"
                                                                				Attributes.onclick="initialiserCoSignHeliosApplet('<%#$this->hashFile->getClientId()%>',
                                                                																	'<%#$this->Data['NOM_FICHIER']%>',
                                                                																	'<%#$this->getClientId()%>',
                                                                																	' <%= Application\Service\Atexo\Atexo_Config::getParameter('URL_MODULE_VALIDATION_SIGNATURE')%>');"
                                                            					Attributes.style="cursor: pointer"
                                                            					visible="<%# ($this->Data['TYPE_FICHIER']=='ACE') ? true:false %>"
                                                                				Attributes.alt="Cosigner" 
                                                                				Attributes.title="Cosigner" 
                                                                				cssClass="indent-5" />
                                                            			</td>
                                                            		</tr>
                                                            	</prop:ItemTemplate>
                                                            	<prop:FooterTemplate>
                                                            	</table>
                                                            	</prop:FooterTemplate>
                                                            </com:TRepeater>
                                                            </com:TActivePanel>
														</div>
														<div class="spacer"></div>
													</prop:ItemTemplate>
												</com:TRepeater>
											<!--Fin Bloc Attributaire 1-->
										</div>
										</td>
									</tr>
								</com:TLabel>
								<com:TLabel Visible="<%#!$this->Data->hasAttributaires()%>">
									<tr class="doc-on-first">
										<td colspan="2"></td>
									</tr>	
								</com:TLabel>
							</prop:ItemTemplate>
							<prop:FooterTemplate>
								</table>
							</prop:FooterTemplate>
						</com:TRepeater>
						</div>
					<!--Fin Bloc Pieces des entreprises-->
						
					<a href="#" class="bouton-suivant" title="Passer à l'onglet suivant" onclick="showNextTab();">Suivant</a>
					<div class="breaker"></div>
				</com:TActivePanel>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 3-->
			<!--Debut line boutons-->
    		<com:TButton cssClass="bouton-annulation float-left"  
        			Text="Annuler" 
        			ID="buttonAnnuler"
        			Attributes.title="<%=Prado::localize('TEXT_ANNULER_ET_RETOUR')%>"
        			onclick="actionBouttonAnnuler" />
			<com:TPanel visible="true" cssClass="boutons-line">
				<com:TButton
					ValidationGroup="validateCreateTrans"  
					cssClass="bouton-validation float-right" 
					Attributes.value="Valider" 
					Attributes.title="Enregistrer et télétransmettre maintenant" 
					onClick="validateTransmission" />
				<com:TButton  
					ValidationGroup="validateCreateTrans" 
					onClick="saveTransmission" 
					CssClass="bouton-enregistrer float-right" 
					Attributes.value="<%=Prado::localize('DEFINE_ENREGISTRER')%>" 
					Attributes.title="Enregistrer"/> 
			</com:TPanel>
			<!--Fin line boutons-->
		</div>			
		<!--Fin Bloc formulaire avec onglets-->
		<div class="breaker"></div>
	</div>
	<com:TLabel ID="labelClose"/>
	<!--Fin colonne droite-->
	<com:THiddenField ID="logAppletSignature" />
</com:TContent>