<com:TContent ID="CONTENU_PAGE">
<div class="main-part" id="main-part">
<div class="breadcrumbs">&gt; Accueil</div>
<!--Debut Bloc Message d'accueil-->
	<div class="form-field" id="message-accueil">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		<div class="content">
			<h1><com:TTranslate>TEXT_SERVICE_TELETRANSMISSION_HELIOS</com:TTranslate></h1>
			<div class="bloc-accueil">
				<div class="breaker"></div>
				<span class="message-big"><com:TTranslate>TEXT_BIENVENUE</com:TTranslate> </span><span class="message-bigger"><com:TLabel ID="nomPrenom"/></span>
				<!--Debut Bloc Infos entite-->
					<div class="infos-entites-line">
						<div class="intitule-120"><com:TTranslate>DEFINE_TEXT_ENTITE_PUBLIC</com:TTranslate> :</div>
						<div class="content-bloc bloc-600"><com:TLabel id="idMonEntitePublic"  /></div>
						<div class="breaker"></div>
						<div class="intitule-120"><com:TTranslate>DEFINE_ENTITE_ACHAT</com:TTranslate> :</div>
						<div class="content-bloc bloc-600"><com:TLabel id="idMonEntiteAchat"  /></div>
					</div>
				<!--Fin Bloc Infos entite-->
				<div class="spacer-small"></div>
				<p><com:TTranslate>TEXT_ACCEUIL_HELIOS</com:TTranslate></p>
				<p><com:TTranslate>TEXT_SERVICE_PERMET_DE</com:TTranslate> : </p>
				<ul>
					<li><com:TTranslate>TEXT_ACCEUIL_HELIOS_SUITE1</com:TTranslate></li>
					<li><com:TTranslate>TEXT_ACCEUIL_HELIOS_SUITE2</com:TTranslate></li>
				</ul>
				<div class="spacer-small"></div>
				<span class="message-big gestion-compte-title"><com:TTranslate>TEXT_MON_COMPTE_PERSONNEL</com:TTranslate></span>
				<ul class="liste-actions">
					<li><com:TLinkButton OnClick="gotoUpdateProfil"><com:TTranslate>TEXT_MES_COORDONNEES</com:TTranslate></com:TLinkButton></li>
				</ul>
				<div class="breaker"></div>
			</div>
			<div class="breaker"></div>
		</div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</div>
	<!--Fin Bloc Message d'accueil-->
	<div class="breaker"></div>
</div>
</com:TContent>