<com:TContent ID="CONTENU_PAGE">
<com:TPanel ID="advancedSearch">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><span class="normal"><com:TTranslate>TEXT_TRANSMISSION</com:TTranslate></span> &gt; <com:TTranslate>DEFINE_RECHERCHE</com:TTranslate></div>
		<!--Debut Bloc Recherche avancee-->
		<form id="rechercheAvancee" action="">
		<div class="form-field" style="display:block;">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<h4><com:TTranslate>FORMULAIRE_DE_RECHERCHE</com:TTranslate></h4>
				<div class="spacer-mini"></div>
				<!--Debut Ligne Numero de la teletransmission-->
				<div class="line">
					<div class="intitule-150"><label for="numTeletransmission"><com:TTranslate>NUMERO_DE_LA_TRANSMISSION</com:TTranslate></label> :</div>
					<com:TTextBox ID="numTeletransmission" CssClass="moyen" Attributes.title="Numéro de la télétransmission"/>
				</div>
				<!--Fin Ligne Numero de la teletransmission-->
				<!--Debut Ligne Reference-->
				<div class="line">
					<div class="intitule-150"><label for="referenceConsultation"><com:TTranslate>REFERENCE_CONSULTATION</com:TTranslate></label> :</div>
					<com:TTextBox ID="referenceConsultation" CssClass="moyen" Attributes.title="Référence de la consultation"/>
				</div>
				<!--Fin Ligne Reference-->
				<!--Debut Ligne Numero du marche-->
				<div class="line">
					<div class="intitule-150"><label for="numMarche"><com:TTranslate>NUMERO_MARCHE</com:TTranslate></label> :</div>
					<com:TTextBox ID="numMarche" CssClass="moyen" Attributes.title="Numéro du marché"/>
				</div>
				<!--Fin Ligne Numero du marche-->
				<!--Debut Ligne Statut de l'envoi-->
				<div class="line">
					<div class="intitule-150"><label for="statutEnvoi"><com:TTranslate>STATUT_ENVOI</com:TTranslate></label> :</div>
					<com:TDropDownList ID="statutEnvoi" CssClass="moyen" Attributes.title="Statut" >
						<com:TListItem Text="--- Tous ---" Selected="1" Value="0"/>
	          			<com:TListItem Text="En cours de traitement" Value="1"/>
	          			<com:TListItem Text="Achevé" Value="2" />
          			</com:TDropDownList>
				</div>
				
				<!--Fin Ligne Statut de l'envoi-->
				<!--Debut Ligne Recherche par date-->
				<div class="line">
					<div class="intitule-150"><com:TTranslate>TEXT_DATE_ENVOI</com:TTranslate> :</div>
					<div class="intitule-auto"><label for="dateEnvoiStart"><com:TTranslate>DEFINE_ENTRE_LE</com:TTranslate> </label></div>
					<div class="calendar">
						<com:TTextBox ID="dateEnvoiStart" CssClass="heure" Attributes.title="Entre le" Attributes.value=""/>
						<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="<%=Prado::localize('DEFINE_CALENDRIER')%>" Attributes.title="<%=Prado::localize('DEFINE_CALENDRIER')%>" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateEnvoiStart'),'dd/mm/yyyy 09:00','');" />
					</div>
					<div class="intitule-auto indent-10"><label for="dateEnvoiEnd"><com:TTranslate>TEXT_ET_LE</com:TTranslate> </label></div>
					<div class="calendar">
						<com:TTextBox ID="dateEnvoiEnd" CssClass="heure" Attributes.title="Et le" Attributes.value=""/>
						<com:TImage ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-calendar.gif" Attributes.alt="<%=Prado::localize('DEFINE_CALENDRIER')%>" Attributes.title="<%=Prado::localize('DEFINE_CALENDRIER')%>" Attributes.onclick="popUpCalendar(this,document.getElementById('ctl0_CONTENU_PAGE_dateEnvoiEnd'),'dd/mm/yyyy 09:00','');"/>
					</div>
					<div class="info-aide-right">( jj/mm/aaaa hh:mm )</div>
				</div>
				<!--Fin Ligne Recherche par date-->
				<div class="spacer"></div>
				<!--Debut Line bouton recherche multi-criteres-->
				<div class="spacer"></div>
				<div class="boutons-line">
					<input type="reset" class="bouton-long-190 float-left" value="<%=Prado::localize('DEFINE_EFFACER_CRITERE_RECHERCHE')%>" title="<%=Prado::localize('DEFINE_EFFACER_CRITERE_RECHERCHE')%>" />
					<com:TButton id="buttonSave" CssClass="bouton-validation float-right" Attributes.value="Valider" Attributes.title="Valider" onclick="doSearchTeletransmition"/>
				</div>
				<!--Fin Line bouton recherche multi-criteres-->
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		</form>
		<!--Fin Bloc Recherche avancee-->
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TPanel>

<com:TPanel ID="resultSearch">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><span class="normal"><com:TTranslate>TEXT_TRANSMISSION</com:TTranslate></span> &gt; Suivi : Tableau de bord</div>
		<!--Debut legende-->
		<div class="toggle-panel" id="legende">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<div class="title-toggle" onclick="togglePanel(this,'legendPanel');"><com:TTranslate>LEGENDE</com:TTranslate></div>
				<div class="panel" style="display:none;" id="legendPanel">
					<div class="column bloc-235">
						<h2>Statut :</h2>
						<div class="teletransmission-etape1sur2" title="Etape En cours de traitement"></div><div class="intitule-legende">&nbsp;: En cours de traitement</div>
						<div class="teletransmission-etape2sur2" title="Etape Achevé"></div><div class="intitule-legende">&nbsp;: Achevé</div>
					</div>
					<div class="column bloc-280">
						<h2>Actions :</h2>
						<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-edit.gif" alt="Modifier" title="Modifier" /><div class="intitule-legende">&nbsp;: Modifier</div>
						<img src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-supprimer-big.gif" alt="Supprimer" title="Supprimer" /><div class="intitule-legende">&nbsp;: Supprimer</div>
					</div>
				</div>
				<div class="breaker"></div>
			</div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin legende-->
		<!--Debut Bloc formulaire avec onglets-->
		<div id="tabNav">
			<!--Debut navigation onglets-->
			<div class="nav-onglet" id="form-nav">
				<!--IMPORTANT, Pour rendre un onglet inactif, utiliser class="tab-inactive" au lieu de class="tab" et supprimer la fonction onclick="showHide();"-->
				<com:TPanel ID="firstDiv" Cssclass="tab-on"><span class="border-left">&nbsp;</span><com:TLinkButton Attributes.class="tab-5item" ID="firstTab" OnClick="changeActiveTabAndDataForRepeater"><com:TTranslate>DEFINE_TOUS_STATUS</com:TTranslate></com:TLinkButton><span class="border-right">&nbsp;</span></com:TPanel>
				<com:TPanel ID="secondDiv" Cssclass="tab"><span class="border-left">&nbsp;</span><com:TLinkButton Attributes.class="tab-5item" ID="secondTab" OnClick="changeActiveTabAndDataForRepeater">En cours de traitement</com:TLinkButton><span class="border-right">&nbsp;</span></com:TPanel>
				<com:TPanel ID="thirdDiv" Cssclass="tab"><span class="border-left">&nbsp;</span><com:TLinkButton Attributes.class="tab-5item" ID="thirdTab" OnClick="changeActiveTabAndDataForRepeater"><com:TTranslate>TEXT_ACHEVE</com:TTranslate></com:TLinkButton><span class="border-right">&nbsp;</span></com:TPanel>
			</div>
			
			
			<!--Fin navigation onglets-->
			<!--Debut Layer 1-->
			<div class="ongletLayer" id="ongletLayer1" style="display:block;">
				<div class="top"></div>
				<div class="content">
					<!--Debut partitionneur-->
					<com:TPanel ID="panelNoElementFound">
						<h2><com:TTranslate>DEFINE_AUCUN_RESULTAT</com:TTranslate>&nbsp;</h2>
					</com:TPanel>	
					<com:TPanel ID="panelMoreThanOneElementFound">
					<div class="line-partitioner">
						<h2><com:TTranslate>DEFINE_NOMBRE_RESULTAT</com:TTranslate>&nbsp;<com:TLabel ID="nombreElement"/></h2>
						<div class="partitioner">
							<div class="intitule"><strong><label for="allCons_nbResultsTop"><com:TTranslate>DEFINE_TEXT_AFFICHER</com:TTranslate></label></strong></div> 
								<com:TDropDownList ID="nombreResultatAfficherTop" AutoPostBack="true" onSelectedIndexChanged="changePagerLenght" Attributes.title='<%=Prado::localize("NOMBRE_DE_RESULTAT_PAR_PAGE")%>'>
					  				<com:TListItem Text="10" Selected="10"/>
					  				<com:TListItem Text="20" Value="20"/>
					  				<com:TListItem Text="50" Value="50" />
					  				<com:TListItem Text="100" Value="100" />
					  				<com:TListItem Text="500" Value="500" />
					  			</com:TDropDownList>
								<div class="intitule"><com:TTranslate>DEFINE_RESULTATS_PAGE</com:TTranslate></div> 
								<label style="display:none;" for="allCons_pageNumberTop">Aller à la page</label>
								<com:TPanel ID="panelBouttonGotoPageTop" DefaultButton="DefaultButtonTop" CssClass="float-left">
									<com:TTextBox ID="numPageTop" Attributes.title='<%=Prado::localize("N_DE_LA_PAGE")%>' Text="1"/>
									<div class="nb-total ">/ <com:TLabel ID="nombrePageTop"/></div>
									<com:TButton ID="DefaultButtonTop" OnClick="goToPage" Attributes.style="display:none"/>
								</com:TPanel>
							<div class="liens">
								<com:TPager ID="PagerTop"
					           			ControlToPaginate="repeaterTeleTransmission"
						           		FirstPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-premier.gif' alt='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' />"
							            LastPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-dernier.gif' alt='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' />"
						     	        Mode="NextPrev"
						          		NextPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-suivant.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' />"
							            PrevPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-precedent.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' />"
					   	                OnPageIndexChanged="pageChanged"/>
							</div>
							
			   	       	</div>
					</div>
                    <!--Fin partitionneur-->
					<!--Debut Tableau teletransmissions-->
					<com:TRepeater ID="repeaterTeleTransmission"
			           AllowPaging="true"
					   PageSize="10"
		  			   EnableViewState="true"
		  			   AllowCustomPaging="true"
					>
					<prop:HeaderTemplate>
					<table summary="Toutes les télétransmissions" class="table-results">
						<caption>Toutes les télétransmissions</caption>
						<thead>
							<tr><th class="top" colspan="8">
							<span class="left">&nbsp;</span><span class="right">&nbsp;</span></th></tr>
							<tr>
								<th class="col-90" id="all_transRef">
									<%#$this->Page->elementSortedWith('id_teletransmission','open')%>
									<com:TTranslate>NUMERO_DE_LA_TRANSMISSION</com:TTranslate>
									<%#$this->Page->elementSortedWith('id_teletransmission','close')%>
									<com:PictoSort CommandName="id_teletransmission" OnCommand="Page.Trier" />
								</th>
								<th class="col-110" id="all_consRef">
									<%#$this->Page->elementSortedWith('consultation_id','open')%>
									<com:TTranslate>REFERENCE_CONSULTATION</com:TTranslate>
									<%#$this->Page->elementSortedWith('consultation_id','close')%>
									<com:PictoSort CommandName="consultation_id" OnCommand="Page.Trier" />
								</th>
								<th class="col-30" id="all_transLot">Lot</th>
								<th class="col-90" id="all_transStatut">
									<%#$this->Page->elementSortedWith('statut_envoi','open')%>
									Statut
									<%#$this->Page->elementSortedWith('statut_envoi','close')%>
									<com:PictoSort CommandName="statut_envoi" OnCommand="Page.Trier" />
								</th>
								<th class="col-90" id="all_numMarche">
									<%#$this->Page->elementSortedWith('numero_marche','open')%>
									<com:TTranslate>TEXT_NUM_MARCHE</com:TTranslate>
									<%#$this->Page->elementSortedWith('numero_marche','close')%>
									<com:PictoSort CommandName="numero_marche" OnCommand="Page.Trier" />
								</th>
								<th class="col-80" id="all_dateEnvoi">
									<%#$this->Page->elementSortedWith('date_envoi','open')%>
									Date d'envoi
									<%#$this->Page->elementSortedWith('date_envoi','close')%>
									<com:PictoSort CommandName="date_envoi" OnCommand="Page.Trier" />
								</th>
								<th class="col-90" id="all_envoiPar">
									<%#$this->Page->elementSortedWith('id_agent_creation','open')%>
									<com:TTranslate>ENVOYE_PAR</com:TTranslate>
									<%#$this->Page->elementSortedWith('id_agent_creation','close')%>
									<com:PictoSort CommandName="id_agent_creation" OnCommand="Page.Trier" />
								</th>
								<th class="actions" id="all_actions">Actions</th>
							</tr>
						</thead>
						</prop:HeaderTemplate>
						<prop:ItemTemplate>
							<tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
								<td class="col-90" headers="all_ref">
									<com:TLabel ID="reference" Attributes.class="ref" Text="<%#$this->Data['num_teletransmission']%>"/>
								</td>
								<td class="col-110" headers="all_consRef">
									<com:TLabel ID="ref_cons" Attributes.class="consRef" Text="<%#$this->Data['reference_utilisateur']%>"/>
								</td>
								<td class="col-30" headers="all_transRef">
									<com:TRepeater DataSource="<%#$this->Data['TransLot']%>" ID="repeaterTeleTransmissionLot" >
									<prop:ItemTemplate>
											<com:TLabel ID="lot" Attributes.class="transLot" Text="<%#($this->Data->getLot()=='0') ?'-':$this->Data->getLot()%>"/>
											<br/>
									</prop:ItemTemplate>
									</com:TRepeater>
								</td>
								<td class="col-90" headers="all_transStatut">
    								<div class="statut-lot">
    								<com:TRepeater DataSource="<%#$this->Data['TransLot']%>" ID="repeaterTeleTransmissionStatut" >
    									<prop:ItemTemplate>
        									<div class="teletransmission-etape<%#$this->Data->getStatutEnvoi()%>sur2" title="<%#($this->Data->getStatutEnvoi()=='1') ? Prado::localize('TEXT_EN_COURS_DE_TRAITEMENT') :Prado::localize('TEXT_ACHEVE')%>"></div>
        								</prop:ItemTemplate>
									</com:TRepeater>
								</td>
								<td class="col-90" headers="all_numMarche">
								<com:TRepeater DataSource="<%#$this->Data['TransLot']%>" ID="repeaterTeleTransmissionNumMarche" >
									<prop:ItemTemplate>
										<%# trim($this->Page->truncate($this->Data->getNumeroMarche()),';')%>
        								<span style="<%#$this->Page->isTruncated($this->Data->getNumeroMarche())%>" onmouseover="afficheBulle('<%#($this->getClientId())%>_infosNumeroMarche', this)" onmouseout="cacheBulle('<%#($this->getClientId())%>_infosNumeroMarche')" class="info-suite">...</span>
        									<com:TPanel ID="infosNumeroMarche" CssClass="info-bulle" ><div><%#trim($this->Data->getNumeroMarche(),';')%></div></com:TPanel>
									<br/>
									</prop:ItemTemplate>
									</com:TRepeater>
								</td>
								<td class="col-80" headers="all_dateEnvoi">
									<com:TLabel ID="date" Attributes.class="dateEnvoi" Text="<%#$this->Data['date_envoi']%>"/>
								</td>
								<td class="col-90" headers="all_envoiPar">
									<com:TLabel ID="agent" Attributes.class="envoiPar" Text="<%#$this->Data['agent']%>"/>
								</td>
								<td class="actions" headers="all_actions">
								 <com:PictoDelete
                                      	cssClass="indent-5" 
               							onCommand="Page.deleteTeletransmission" 
                                        CommandName = "<%#$this->Data['id']%>"
                                        AlternateText="<%=Prado::localize('TEXT_SUPPRIMER')%>"
                                        Attributes.onclick='javascript:if(!confirm("Etes-vous sûr de vouloir supprimer cette télétransmission?"))return false;'/>
								<com:PictoEdit
									Clickable="true" 
									Activate="true" 
        							AlternateText="<%=Prado::localize('BOUTON_MODIFIER')%>"
        							Attributes.title="<%=Prado::localize('BOUTON_MODIFIER')%>"
									cssClass="indent-5" 
           							onCommand="Page.editTeletransmission" 
                                    CommandName = "<%#$this->Data['id']%>"/>
								</td>
							</tr>
						</prop:ItemTemplate>
					<prop:FooterTemplate>
					</table>
					</prop:FooterTemplate>
					</com:TRepeater>
					<!--Fin Tableau teletransmissions-->
					
					<!--Debut partitionneur-->
					<div class="line-partitioner">
						<div class="partitioner">
							<div class="intitule"><strong><label for="all_nbResultsBottom">Afficher</label></strong></div> 
							<com:TDropDownList ID="nombreResultatAfficherBottom" AutoPostBack="true" onSelectedIndexChanged="changePagerLenght" Attributes.title='<%=Prado::localize("NOMBRE_DE_RESULTAT_PAR_PAGE")%>'>
					  			<com:TListItem Text="10" Selected="10"/>
					  			<com:TListItem Text="20" Value="20"/>
					  			<com:TListItem Text="50" Value="50" />
					  			<com:TListItem Text="100" Value="100" />
					  			<com:TListItem Text="500" Value="500" />
					  		</com:TDropDownList>
							<div class="intitule"><com:TTranslate>DEFINE_RESULTATS_PAGE</com:TTranslate></div> 
								<label style="display:none;" for="allCons_pageNumberBottom">Aller à la page</label>
								<com:TPanel ID="panelBouttonGotoPageBottom" DefaultButton="DefaultButtonBottom" CssClass="float-left">
									<com:TTextBox ID="numPageBottom" Attributes.title='<%=Prado::localize("N_DE_LA_PAGE")%>' Text="1"/>
									<div class="nb-total ">/ <com:TLabel ID="nombrePageBottom"/></div>
									<com:TButton ID="DefaultButtonBottom" OnClick="goToPage" Attributes.style="display:none"/>
								</com:TPanel>
							<div class="liens">
								<com:TPager ID="PagerBottom"
				           			ControlToPaginate="repeaterTeleTransmission"
					           		FirstPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-premier.gif' alt='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' />"
						            LastPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-dernier.gif' alt='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' />"
					     	        Mode="NextPrev"
					          		NextPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-suivant.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' />"
						            PrevPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-precedent.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' />"
				   	                OnPageIndexChanged="pageChanged"/>
							</div>
						</div>
					</div>
					</com:TPanel>
                    <!--Fin partitionneur-->
					<div class="breaker"></div>
				</div>
				<div class="bottom"></div>
			</div>
			<!--Fin Layer 1-->
		</div>
		<!--Fin Bloc formulaire avec onglets-->
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TPanel>
</com:TContent>
