// Variables


// Paths
$font-path: "../assets/fonts/";
$img-path: "../assets/img/";

// Typography
$font-family-sans-serif: Arial, Helvetica, sans-serif !default;
$fontAwesome: 'FontAwesome' !default;

// Color
$color-base: #333 !default;
$color-link: #ba0001 !default;
$color-primary: #424242 !default;
$color-secondary: #fbb045 !default;
$color-danger: #d43f3a !default;
$color-warning: #ff0000 !default;
$color-success: #398439 !default;
$color-info: #689fd1 !default;
$color-default: #777777 !default;
$color-off: #ddd !default;

// Buttons
$btn-default-color: $color-primary !default;
$btn-default-border-color: darken($color-primary, 15%) !default;
$btn-hover-color: lighten($btn-default-color, 15%) !default;
$btn-hover-border-color: lighten($color-primary, 15%) !default;
$btn-border-color: $color-primary !default;
$btn-disabled-color: #ddd !default;
$btn-disabled-border-color: #ddd !default;

$btn-box-shadow-top: 0 !default;
$btn-box-shadow-left: 0 !default;
$btn-box-shadow-blur: 0 !default;
$btn-box-shadow-color: $color-off !default;
$btn-box-shadow-inset: false !default;

// Border-radius
$border-radius-flat: 0 !default;
$border-radius-default: default;
$border-radius: $border-radius-flat !default;

// Links
$link-default-color: $color-link !default;
$link-hover-color: darken($link-default-color, 15%) !default;

// Panels
$panel-bg: #eee !default;
$panel-title-color: $color-primary !default;
$panel-bg-highlight: #ba0001 !default;
$panel-table-border: 1px solid #ddd !default;
$panel-table-header-footer-bg: #f9f9f9 !default;

// Sidebar
$menu-color: #fff !default;
$menu-bg: #bb0000 !default;
$menu-border: 1px solid #bb0000 !default;
$menu-actif-bg: #bb0000 !default;
$menu-actif-color: #fff !default;
$menu-actif-border: #ddd !default;
$sous-menu-border: 1px solid #d6d3ce !default;
$sous-menu-background: #d6d3ce !default;
$menu-link-color: $color-primary !default;

// Navbar
$navbar-display: inherit;
$navbar-header-height: 50px !default;
$navbar-brand-height: 38px !default;
$navbar-brand-width: 138px !default;

$navbar-start-color: #fff !default;
$navbar-end-color: #fff !default;
$navbar-start-percent: 0% !default;
$navbar-end-percent: 100% !default;

$navbar-box-shadow-top: 0 !default;
$navbar-box-shadow-left: 2px !default;
$navbar-box-shadow-blur: 4px !default;
$navbar-box-shadow-color: $color-off !default;
$navbar-box-shadow-inset: false !default;

// Tables
$bordered-table-thead-bg: #eee !default;
$table-hover-color: #fff7d8 !default;

