<div *ngIf="sectionsVerticalDisplay?.length>0" class="full-width">
  <app-verticalnav *ngIf="items.length>0" [items]="items"
                   [sdkVersion]="sdkVersion"
                   [readOnly]="readOnly"
                   (onChangeSection)="changeSection($event)"
                   (onChangeRequired)="showOnlyRequired=$event;setHidden(group)"
  ></app-verticalnav>
  <div class="vertical-section-content pl-3 pr-3 pt-1 pb-1" *ngIf="selectedGroup">
    <h2 class="font-weight-bolder primary-client mb-1" style="color: #2660a4">
      <i class="la la-folder"></i>
      Section {{selectedIndex + 1}} : {{selectedGroup.itemGroup._label | translate}}</h2>
    <hr style="border-color: #2660a4;"/>
    <atx-group-field-form
      [chemin]="getChemin()"
      [sdkVersion]="sdkVersion"
      [niveau]="niveau+1"
      [group]="selectedGroup.itemGroup.content"
      [parentNode]="getNodeId(selectedGroup.itemGroup)?getNodeId(selectedGroup.itemGroup):parentNode"
      [reset]="refresh"
      [showOnlyRequired]="showOnlyRequired"
      [readOnly]="readOnly"
      [noticeId]="noticeId"
      [noticeType]="noticeType"
      [selectedError]="selectedError"
      [errors]="selectedGroup.errors" class="row"
      [activeId]="selectedSubIndex+''"
      [formulaire]="selectedFormulaire"
      (onChangeGroupObject)="changeVerticalGroupObject($event)"
      (onModifyGroupList)="modifyGroupList($event)"
      style="box-shadow: 10px 15px 30px 1px rgb(0 0 0 / 10%);"
    ></atx-group-field-form>
  </div>

</div>
<div *ngFor="let itemGroup of fieldsDisplay" class="col-12 p-0">
  <atx-field-form
    [chemin]="chemin+itemGroup.id"
    [field]="itemGroup"
    [sdkVersion]="sdkVersion"
    [showOnlyRequired]="showOnlyRequired"
    [noticeId]="noticeId"
    [noticeType]="noticeType"
    [selectedError]="selectedError"
    [errors]="getFailedAssertFromElements(errors,itemGroup,null)"
    [parentNode]="getNodeId(itemGroup)?getNodeId(itemGroup):parentNode"
    [reset]="refresh"
    [readOnly]="readOnly"
    [formulaire]="getFormulaire(itemGroup)"
    (onChangeFieldObject)="changeFieldObject($event,itemGroup )"
  >
  </atx-field-form>
</div>

<div *ngFor="let itemGroup of groupDisplay" class="full-width">
  <div *ngIf="hasContent(itemGroup)" [ngClass]="{'mt-1':groupDisplay.length>0}">
    <div class="card p-1"
         *ngIf="itemGroup._repeatable && (!readOnly ||(readOnly && getFormulaire(itemGroup)&& getFormulaire(itemGroup)?.length>0) )">
      <div class="font-weight-bold pl-1 pr-1 font-size-large mb-1">
        <i class="la la-list la-3x"></i><span
        *ngIf="errors?.length>0" class="badge badge-danger truncate status-badge">
            <i class="la la-close la-3x"></i>
          </span> Liste de {{ itemGroup.nodeId }} : {{ itemGroup._label | translate }}
      </div>
      <div class="mt-1"
           *ngIf="objectList[chemin+itemGroup.id]?.length > 0 && getFormulaire(itemGroup)&& getFormulaire(itemGroup)?.length>0">
        <atx-card-field-form *ngFor="let formulaire of getFormulaire(itemGroup);let index = index"
                             class="card col-12"
                             [chemin]="chemin+itemGroup.id+'['+(index+1)+']/'"
                             [sdkVersion]="sdkVersion"
                             [index]="index"
                             [showOnlyRequired]="showOnlyRequired"
                             [readOnly]="readOnly"
                             [itemGroup]="itemGroup"
                             [parentNode]="getNodeId(itemGroup)?getNodeId(itemGroup):parentNode"
                             [reset]="refresh"
                             [noticeId]="noticeId"
                             [noticeType]="noticeType"
                             [nextIndex]="null"
                             [selectedError]="selectedError"
                             [errors]="getFailedAssertFromElements(errors,itemGroup,getFormulaire(itemGroup).length === 1?null:index)"
                             [formulaire]="formulaire"
                             (onChangeCardObject)="changeElementObject($event,itemGroup,index)"
                             (onDeleteElement)="delete(index, itemGroup)"
                             (onShowAddContent)="changeShowAddBloc($event, itemGroup)"
        ></atx-card-field-form>
      </div>

      <atx-card-field-form
        *ngIf="(showAddBloc || getNextIndex(itemGroup) === 1)  && !readOnly && (!showOnlyRequired || !getFormulaire(itemGroup) || getFormulaire(itemGroup).length ===0 )"
        class="card col-12"
        style="border: 1px dashed rgb(0 0 0);"
        [id]="chemin+itemGroup.id"
        [chemin]="chemin+itemGroup.id+'['+getNextIndex(itemGroup)+']/'"
        [sdkVersion]="sdkVersion"
        [showOnlyRequired]="showOnlyRequired"
        [readOnly]="readOnly"
        [itemGroup]="itemGroup"
        [parentNode]="getNodeId(itemGroup)?getNodeId(itemGroup):parentNode"
        [reset]="refresh"
        [noticeId]="noticeId"
        [noticeType]="noticeType"
        [nextIndex]="getNextIndex(itemGroup)"
        [selectedError]="selectedError"
        [errors]="!getFormulaire(itemGroup) || getFormulaire(itemGroup).length ===0?getFailedAssertFromElements(errors,itemGroup,null):[]"
        (onChangeCardObject)="ajouterList(itemGroup,$event)"
        (onShowAddContent)="showAddBloc = $event"
      ></atx-card-field-form>
    </div>
    <atx-card-field-form *ngIf="!itemGroup._repeatable"
                         class="card col-12"
                         [chemin]="chemin+itemGroup.id+'/'"
                         [sdkVersion]="sdkVersion"
                         [showOnlyRequired]="showOnlyRequired"
                         [readOnly]="readOnly"
                         [itemGroup]="itemGroup"
                         [parentNode]="getNodeId(itemGroup)?getNodeId(itemGroup):parentNode"
                         [reset]="refresh"
                         [noticeId]="noticeId"
                         [noticeType]="noticeType"
                         [selectedError]="selectedError"
                         [errors]="getFailedAssertFromElements(errors,itemGroup,null)"
                         [nextIndex]="null"
                         [formulaire]="getFormulaire(itemGroup)"
                         (onChangeCardObject)="changeCardObject($event,itemGroup)"
    ></atx-card-field-form>
  </div>
</div>
<atx-section-field-form *ngIf="sectionsDisplay.length>0"
                        [chemin]="chemin"
                        [sdkVersion]="sdkVersion"
                        [activeId]="activeId"
                        class="col-12"
                        [showOnlyRequired]="showOnlyRequired"
                        [group]="sectionsDisplay"
                        [readOnly]="readOnly"
                        [parentNode]="parentNode"
                        [reset]="refresh"
                        [noticeId]="noticeId"
                        [noticeType]="noticeType"
                        [selectedError]="selectedError"
                              [errors]                              ="errors"
                        [formulaire]="formulaire"
                        (onChangeSectionObject)="changeSectionObject($event)"
></atx-section-field-form>
