.vertical-section-content {
  box-shadow: 10px 15px 30px 1px rgb(0 0 0 / 10%);
  margin-left: 450px;
  background: white;
  border: 5px;
}

.card {
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.35rem;
}
