<div class="content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <img height="70px"
                                         src="{{'assets/images/logo/atexo.png' | imageUrl}}"
                                         alt="branding logo">
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><div class="errors-page">
                                    <div class="errors-page-container">
                                        <div class="errors-page-content">
                                            <h1>Session expirée !</h1>

                                        </div>

                                    </div>
                                </div>
                                </h6>
                                <p style="font-weight: bold; font-size: 15px; text-align:center">
                                    Veuillez fermer l'onglet et renouveler votre session !
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
