{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('app/css/message-checker.css') }}">
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('themes/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('app/js/jquery-compatibility.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content-body">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">
                    {{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
                </h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                {{ 'SE_PREPARER_A_REPONDRE'|trans }}
                            </li>
                            <li class="breadcrumb-item item-chevron active">
                                {{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {% if (mamp) %}
            <div id="assistance-status-checker"
                 data-path_modal="javascript:showModalAssistance()"
                 data-translations="{{ translations }} "
            >
                <atx-assistance-status-checker></atx-assistance-status-checker>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4>
                    {{ 'TEST_CONFIGURATION_POSTE'|trans }}
                </h4>
                <hr>
                <div class="mb-1">
                    {{ 'TEXT_TEST_CONFIGURATION_AGENT_CRYPTO'|trans|raw }}
                </div>
                <ul>
                    <li>
                        {{ 'SYSTEME_EXPLOITATION'|trans }}
                    </li>
                    <li>
                        {{ 'PRESENCE_ENVIRONNEMENT_PRESENT'|trans }}
                    </li>
                    <li>
                        {{ 'ACCES_MAGASIN_CERTIFICATS'|trans }}
                    </li>
                    <li>
                        {{ 'VERSION_NAVIGATEUR_WEB'|trans }}
                    </li>
                    <li>
                        {{ 'COMMUNICATION_AVEC_SERVEUR'|trans }}
                    </li>
                </ul>
                <hr>

                {% if (mamp) %}
                    <div class="panel-footer clearfix" id="assistance-launch"
                         data-plateform="{{ plateform }}"
                         data-url-crypto="{{ url_crypto }}">
                        <a class="btn btn-primary btn-sm btn-footer pull-right bouton"
                           href="#"
                           v-on:click.prevent="verifyConnection(true)"
                           title="{{ 'LANCER_TEST_CONFIG'|trans }}">
                            <i class="fa fa-cogs m-r-1 hide-agent"></i>
                            {{ 'LANCER_TEST_CONFIG'|trans }}
                        </a>
                        <a href="javascript:window.history.back();" class="btn btn-default btn-sm btn-footer bouton-retour"
                           title="{{ 'TEXT_RETOUR'|trans }}">
                            {{ 'TEXT_RETOUR'|trans }}
                        </a>
                    </div>
                {% else %}
                    <div class="pull-right">
                        <a href="/agent/footer/test-config" class="btn btn-primary">
                            <span class="fa fa-cog"></span>
                            {{ 'LANCER_TEST_CONFIG'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'agent/diagnostic-poste/modal.html.twig' %}

{% endblock %}


{% block javascriptsChecker %}
    <script src="{{ asset('app/js/assistance-marche-public.js') }}"></script>
    {{ encore_entry_script_tags('assistance-status-checker') }}
    {{ encore_entry_script_tags('assistance-launch') }}

    <script>
        J('#close').on('click', function () {
            J("#modal-assistant-marche-public").modal("toggle");
        });

        J('#close-cross').on('click', function () {
            J("#modal-assistant-marche-public").modal("toggle");
        });
    </script>
{% endblock %}
