<div class="modal fade text-left" id="modal-assistant-marche-public" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">
                    {{ 'INFOS_MARCHE_PUBLICS'|trans }}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  id="close-cross">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"  id="content-assistant-marche-public">
                <div class="alert alert-icon-left alert-arrow-left alert-primary mb-2" role="alert">
                    <span class="alert-icon"><span class="ft-info"></span></span>
                    <p class="text-white mb-0">
                        {{ 'TEXT_MESSAGE_INFO_ASSISTANT_MARCHES_PUBLICS'|trans|raw }}
                    </p>
                </div>
                <h5 class="font-weight-bold mb-1">
                    <span class="ft-chevron-down"></span>
                    {{ 'TEXT_CAS_1_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}
                </h5>
                <p class="ml-2">
                    {{ 'TEXT_CAS_1_TELECHARGER_APPLICATION'|trans|raw }}
                </p>
                <ul class="ml-2">
                    <li>
                        <a class="primary" href="https://ressources-release.local-trust.com/telechargements-int/mon-assistant-marche-public-int.exe">
                            <span class="la la-windows"></span> {{ 'TEXT_CAS_1_TELECHARGER_WINDOWS'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="primary" href="https://ressources-release.local-trust.com/telechargements-int/mon-assistant-marche-public-int.dmg">
                            <span class="la la-apple"></span> {{ 'TEXT_CAS_1_TELECHARGER_MACOS'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="primary" href="https://ressources-release.local-trust.com/telechargements-int/mon-assistant-marche-public-int.AppImage">
                            <span class="la la-linux"></span> {{ 'TEXT_CAS_1_TELECHARGER_LINUX'|trans }}
                        </a>
                    </li>
                </ul>
                <p class="ml-2">
                    {{ 'TEXT_CAS_1_RESUME'|trans|raw }} <span class="badge badge-pill badge-success">{{ 'CONNECTE'|trans|raw }}</span>
                </p>
                <hr>
                <h5 class="font-weight-bold mb-1">
                    <span class="ft-chevron-down"></span>
                    {{ 'TEXT_CAS_2_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}
                </h5>
                <p class="ml-2 mb-2">
                    {{ 'TEXT_CAS_2_RESUME_1'|trans|raw }} <span class="badge badge-pill badge-danger">{{ 'NON_CONNECTE'|trans }}</span>
                    {{ 'TEXT_CAS_2_RESUME_2'|trans }}
                </p>
                <p class="ml-2 mb-2">
                    {{ 'TEXT_CAS_2_RESUME_3'|trans|raw }} <span class="badge badge-pill badge-success">{{ 'CONNECTE'|trans }}</span>
                </p>
                <p class="ml-2">
                    {{ 'TEXT_CAS_2_RESUME_4'|trans }} <span class="badge badge-pill badge-danger">{{ 'NON_CONNECTE'|trans }}</span>
                    {{ 'TEXT_CAS_2_RESUME_5'|trans|raw }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="close" data-dismiss="modal">
                    {{ 'FERMER'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>