<!-- ------------------------------ -->
<!-- Template du filtre de document -->
<!-- ------------------------------ -->
<ng-template #template_filtre_liste_canevas>
    <section class="filtre">
        <i class="fa-solid fa-filter"></i>
        <label for="canevas-filter" class="hidden">Filtrer les résultats</label>
        <input
                [(ngModel)]="filtre"
                (keyup)="filtrer()"
                placeholder="Filtrer les résultats"
                class="form-control canevas-filter"
                id="canevas-filter"
        >
    </section>
</ng-template>

<!-- -------------------------------- -->
<!-- Template de la table des canevas -->
<!-- -------------------------------- -->
<ng-template #template_table_canevas>
    <table *ngIf="resultats?.filled()" class="table table-cards">
        <thead>
        <tr>
            <th scope="col" class="canevas-column-reference">Référence<br/>Auteur<br/>Statut</th>
            <th scope="col" class="canevas-column-titre">Titre du canevas<br/>Nature des prestations</th>
            <th scope="col" class="canevas-column-types">Procédure de passation<br/>Type de contrat</th>
            <th scope="col" class="canevas-column-dates">Créé le<br/>Modifié le<br/>Version</th>
            <th scope="col" class="canevas-column-action"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let resultat of resultats">
            <tr class="table-divider" [class.active]="choix === resultat" (click)="selectionner(resultat)">
                <td class="canevas-column-reference">
                    <strong>{{ resultat?.reference }}</strong>
                    <br/>
                    <span class="canevas-agent"><em class="fa fa-lg fa-address-card text-primary"></em> {{ resultat.auteur }}</span>
                    <br/>
                    <img [alt]="resultat?.statut?.libelle" [src]="iconifier(resultat)"/>
                </td>
                <td class="canevas-column-types">
                    <span class="canevas-titre">{{ resultat.titre }}</span>
                    <br/>
                    <span class="badge badge-primary canevas-badge-colour-{{ resultat?.naturePrestation ?  resultat?.naturePrestation?.id : 0}}">{{ resultat?.naturePrestation?.libelle ? resultat?.naturePrestation?.libelle : 'Toutes natures'}}</span>
                </td>
                <td class="canevas-column-titre">
                    <div *ngIf="resultat?.procedures?.length > 0">
                        <div *ngIf="resultat?.procedures?.length > 1">
                          <span *ngFor="let p of resultat.procedures;let index=index">
                            <span *ngIf="index > 0">, </span>
                            <span [tooltip]="p.libelle">{{ p.acronyme }}</span>
                          </span>
                        </div>
                        <div *ngIf="resultat?.procedures?.length == 1">
                            <span [tooltip]="resultat.procedures[0].libelle">{{ resultat.procedures[0].acronyme }}</span>
                        </div>
                    </div>
                    <div *ngIf="!resultat.procedures || resultat?.procedures?.empty()">
                        <span>Tous types de procédures</span>
                    </div>
                      <div *ngIf="resultat?.contrats?.length > 0">
                        <div *ngIf="resultat?.contrats?.length > 1">
                          <span *ngFor="let p of resultat.contrats; let index=index">
                            <span *ngIf="index > 0">, </span>
                            <span [tooltip]="p.libelle">{{ p.libelle }}</span>
                          </span>
                        </div>
                        <div *ngIf="resultat?.contrats?.length == 1">
                          <span [tooltip]="resultat.contrats[0].libelle">{{ resultat.contrats[0].libelle }}</span>
                        </div>
                      </div>
                      <!-- tous types de contrats -->
                      <div *ngIf="!resultat.contrats || resultat?.contrats?.empty()">
                        <span>Tous types de contrats</span>
                      </div>
                </td>
                <td class="canevas-column-dates">
                    <span class="text-nowrap"><i class="fa-solid fa-xs fa-calendar me-2 text-primary"></i>{{ resultat.dateCreation | fr_date }}</span>
                    <br/>
                    <span class="text-nowrap"><i class="fa-solid fa-xs fa-calendar me-2 text-primary"></i>
            <span *ngIf="resultat.dateModification">
               {{ resultat.dateModification | fr_date }}
            </span>
            <span *ngIf="!resultat.dateModification">
               Non modifié
            </span>
          </span>
                    <br/>
                    <span class="text-nowrap"><i class="fas fa-xs fa-tags me-2 text-primary"></i>{{ resultat.version ? resultat.version : 'Non versionné' }}</span>
                </td>
                <td class="canevas-column-action">
                    <div class="ticker">
                        <i *ngIf="choix === resultat" class="fa-solid fa-check"></i>
                    </div>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</ng-template>

<!-- ------------------ -->
<!-- Template du loader -->
<!-- ------------------ -->
<ng-template #template_loader>
    <section id="loader" class="loader-container">
        <atexo-redacdocument-loader></atexo-redacdocument-loader>
    </section>
</ng-template>

<!-- ---------------------- -->
<!-- Template des resultats -->
<!-- ---------------------- -->
<ng-template #template_resultats>
    <div class="canevas-badge-resultat">
        <span class="badge badge-primary">{{resultats?.length}}</span>&nbsp; canevas
    </div>
</ng-template>

<!-- -------------------- -->
<!-- Template des erreurs -->
<!-- -------------------- -->
<ng-template #template_erreurs>
    <div class="messages" *ngIf="messages?.filled()">
        <ng-container *ngFor="let message of messages">
            <alert type="{{message?.type}}">{{message?.value}}</alert>
        </ng-container>
    </div>
</ng-template>

<!-- ------------------ -->
<!-- Template principal -->
<!-- ------------------ -->
<ng-container [ngTemplateOutlet]="template_erreurs"></ng-container>

<ng-container>
    <ng-container *ngIf="action === Actions.RECHERCHE">
        <ng-container [ngTemplateOutlet]="template_loader"></ng-container>
    </ng-container>
    <ng-container *ngIf="action !== Actions.RECHERCHE">
        <ng-container *ngIf="canevas?.filled()">
            <ng-container [ngTemplateOutlet]="template_filtre_liste_canevas"></ng-container>
            <ng-container [ngTemplateOutlet]="template_resultats"></ng-container>
            <ng-container [ngTemplateOutlet]="template_table_canevas"></ng-container>
        </ng-container>
    </ng-container>
</ng-container>
