<div class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>Nouveau document</h1>
        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [style.overflow]="categorie == Categories.MODELE_DAJ ? 'visible' : 'auto'">
        <atexo-redacdocument-document-create
            [consultation]="consultation"
            [categorie]="categorie"
            (annulation)="fermeture.emit($event)"
            (acceptation)="fermeture.emit($event)"
            (sauvegarde)="sauvegarde.emit($event)"
            (erreur)="erreur.emit($event)"
        >
        </atexo-redacdocument-document-create>
    </div>
</div>
