<!-- --------------------------- -->
<!-- Template du nom du document -->
<!-- --------------------------- -->
<ng-template #template_nom>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="nom">Nom du document <i class="fa-solid fa-asterisk asterisk"></i></label>
        <div class="col-sm-9">
            <input
                    [(ngModel)]="document.nom"
                    [required]="true"
                    (keyup)="verifier()"
                    class="form-control"
                    id="nom"
                    placeholder="Nom du fichier"
                    type="text"
            >
        </div>
    </div>
</ng-template>

<!-- ------------------------------- -->
<!-- Template du fichier du document -->
<!-- ------------------------------- -->
<ng-template #template_fichier>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="fichier">Fichier <i class="fa-solid fa-asterisk asterisk"></i></label>
        <div class="col-sm-9">
            <atexo-redacdocument-file-upload
                    (ajout)="ajouter($event)"
                    (suppression)="supprimer($event)"
                    id="fichier"
            ></atexo-redacdocument-file-upload>
        </div>
    </div>
</ng-template>

<!-- --------------- -->
<!-- Template du lot -->
<!-- --------------- -->
<ng-template #template_lot>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Lot :<span class="p-1 required">*</span></label>
        <div class="col-sm-9">
            <ng-select
                (change)="changer($event)"
                [(ngModel)]="document.lot"
                [clearable]="false"
                [disabled]="!consultation?.lots?.filled()"
                [items]="consultation.lots"
                [placeholder]="consultation?.lots?.filled() ? 'Sélectionner' : 'Aucun lot'"
                [required]="consultation?.lots?.filled()"
                dropdownPosition="bottom"
                notFoundText="Aucun résultat"
                appendTo="#form"
                id="lots"
            >
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    <strong class="text-primary"><span *ngIf="item.numero">{{ item.numero }} - </span>{{item.libelle}}</strong>
                    <br/>{{item.description}}
                    <span *ngFor="let cpv of item.cpv">
                      <br/><i class="cpv-label">{{ cpv.code}} - {{ cpv.libelle  }}</i>
                    </span>
                </ng-template>
            </ng-select>
        </div>
    </div>
</ng-template>

<!-- ---------------------------- -->
<!-- Template du type de document -->
<!-- ---------------------------- -->
<ng-template #template_modele>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Type de document <i class="fa-solid fa-asterisk asterisk"></i></label>
        <div class="col-sm-9" style="display: flex; justify-content: space-between">
            <ng-select
                    (change)="changerModele($event, consultation)"
                    [(ngModel)]="document.modele"
                    [clearable]="false"
                    [required]="true"
                    [items]="modeles"
                    [searchFn]="rechercher"
                    notFoundText="Aucun résultat"
                    placeholder="Choisissez votre type de document"
                    id="types"
                    appendTo="#form"
                    dropdownPosition="bottom"
                    style="width: 100%"
            >
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    <span class="badge me-1 badge-type badge-type-{{ item?.type?.code | lowercase }}">{{ item.type.code }}</span>{{item.libelle}}
                </ng-template>
            </ng-select>
            <ng-container *ngIf="document?.modele && categorie !== CategoriesModeles.DOCUMENT_LIBRE">
                <button (click)="previsualiser(document.modele)" tooltip="Voir le gabarit utilisé" class="btn btn-primary fa-solid fa-eye ms-2"></button>
            </ng-container>
        </div>
    </div>
</ng-template>

<!-- ------------------ -->
<!-- Template principal -->
<!-- ------------------ -->
<article class="form document-create" id="form">
    <ng-container>
        <div class="workflow-wrapper">
            <ul class="workflow full-width">
                <!-- ----------- -->
                <!-- STEP MODELE -->
                <!-- ----------- -->
                <li class="workflow-item"
                    [class.workflow-step-active]="step == Steps.MODELE"
                    [class.workflow-step-todo]="step < Steps.MODELE"
                    [class.workflow-step-done]="step > Steps.MODELE"
                >
          <span class="workflow-badge text-white">
            <em class="workflow-badge-icon fa-solid fa-magnifying-glass"></em>
          </span>
                    <div class="workflow-panel">
                        <header class="titre">Type de document</header>
                        <article>
                            <ng-container *ngIf="step >= Steps.MODELE" [ngTemplateOutlet]="template_modele"></ng-container>
                        </article>
                    </div>
                </li>
                <!-- -------- -->
                <!-- STEP LOT -->
                <!-- -------- -->
                <ng-container *ngIf="categorie === CategoriesModeles.DOCUMENT_CANEVAS">
                    <li *ngIf="consultation?.lots && !consultation?.lots?.empty()" class="workflow-item"
                        [class.workflow-step-active]="step == Steps.LOT"
                        [class.workflow-step-todo]="step < Steps.LOT"
                        [class.workflow-step-done]="step > Steps.LOT"
                    >
                        <span class="workflow-badge text-white">
                          <em class="workflow-badge-icon fa-solid fa-list"></em>
                        </span>
                        <div class="workflow-panel">
                            <header class="titre">S&eacute;lection du lot</header>
                            <article>
                                <ng-container *ngIf="step >= Steps.LOT" [ngTemplateOutlet]="template_lot"></ng-container>
                            </article>
                        </div>
                    </li>
                </ng-container>
                <!-- ------------ -->
                <!-- STEP FICHIER -->
                <!-- ------------ -->
                <ng-container *ngIf="categorie === CategoriesModeles.DOCUMENT_LIBRE">
                    <li class="workflow-item"
                        [class.workflow-step-active]="step == Steps.FICHIER"
                        [class.workflow-step-todo]="step < Steps.FICHIER"
                        [class.workflow-step-done]="step > Steps.FICHIER"
                    >
          <span class="workflow-badge text-white">
            <em class="workflow-badge-icon fa-solid fa-list"></em>
          </span>
                        <div class="workflow-panel">
                            <header class="titre">Choix du fichier</header>
                            <article>
                                <ng-container [ngTemplateOutlet]="template_fichier"></ng-container>
                            </article>
                        </div>
                    </li>
                </ng-container>

                <!-- ------------------ -->
                <!-- STEP LISTE CANEVAS -->
                <!-- ------------------ -->
                <ng-container *ngIf="categorie === CategoriesModeles.DOCUMENT_CANEVAS">
                    <li class="workflow-item"
                        [class.workflow-step-active]="step == Steps.CANEVAS"
                        [class.workflow-step-todo]="step < Steps.CANEVAS"
                        [class.workflow-step-done]="step > Steps.CANEVAS"
                        [class.workflow-step-error]="step == Steps.CANEVAS && canevas.resultats?.empty() && ( !canevas.filtre || canevas.filtre?.empty() ) && canevas.action !== canevas.Actions.RECHERCHE"
                    >
            <span class="workflow-badge text-white">
              <em class="workflow-badge-icon fa-solid fa-list"></em>
            </span>
                        <div class="workflow-panel">
                            <header class="titre">S&eacute;lection du canevas</header>
                            <article>
                                <atexo-redacdocument-canevas-list (selection)="selectionner($event)"></atexo-redacdocument-canevas-list>
                            </article>
                        </div>
                    </li>
                </ng-container>
                <!-- ------------ -->
                <!-- STEP NOMMAGE -->
                <!-- ------------ -->
                <li class="workflow-item workflow-item-last"
                    [class.workflow-step-active]="step == Steps.NOMMAGE"
                    [class.workflow-step-todo]="step < Steps.NOMMAGE"
                    [class.workflow-step-done]="step > Steps.NOMMAGE"
                >
          <span class="workflow-badge text-white info">
            <em class="workflow-badge-icon fa-solid fa-pen"></em>
          </span>
                    <div class="workflow-panel">
                        <header class="titre">Choix du nom du document</header>
                        <article>
                            <ng-container *ngIf="step >= Steps.NOMMAGE" [ngTemplateOutlet]="template_nom"></ng-container>
                        </article>
                    </div>
                </li>
            </ul>
        </div>
    </ng-container>
</article>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" type="button">Annuler</button>
    <button (click)="valider()" [disabled]="step != Steps.VALIDATION" class="btn btn-primary" type="button"><i class="fa fa-save me-2"></i>Enregistrer</button>
</footer>
