:host {
  height: 100%;
  display: grid;
}

canvas {
  height: 150px !important;
}

.align-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

td {
  border: 1px solid #000;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

.page-active {
  padding: 0.5rem 0.75rem;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  padding: 0;
}
