<accordion [isAnimated]="false">
    <accordion-group [heading]="'Filtrer par'" [isOpen]="true">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="col-sm-5 control-label" for="idDonneeEssentielle">Id Donnée Essentielle</label>
                    <div class="col-sm-6">
                        <input id="idDonneeEssentielle" [(ngModel)]="filtres.idDonneeEssentielle"
                               (change)="fetchPage(0, donneesEssentielles.size, sort)"
                               class="form-control"
                               name="idDonneeEssentielle" type="text">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-sm-3 control-label" for="idContrat">Id Contrat</label>
                    <div class="col-sm-6">
                        <input id="idContrat" [(ngModel)]="filtres.idContrat"
                               (change)="fetchPage(0, donneesEssentielles.size, sort)"
                               class="form-control"
                               name="idContrat" type="text">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-sm-3 control-label">Type Contrat</label>
                    <div class="col-sm-9">
                        <ng-select
                            [clearable]="false" [(ngModel)]="filtres.typesContrat"
                            (change)="fetchPage(0, donneesEssentielles.size, sort)"
                            [items]="typesContrat" [multiple]="true"
                            [searchable]="true" name="typesContrat"
                            placeholder="Sélectionner un type de contrat"></ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="col-sm-5 control-label">Date de notification du contrat</label>
                    <div class="col-sm-6">
                        <input
                            (bsValueChange)="filtres.dateNotification=$event;fetchPage(0, donneesEssentielles.size, sort)"
                            [bsConfig]="{ isAnimated: true}"
                            bsDaterangepicker
                            class="form-control"
                            name="dateNotification" placeholder="Choisissez une date ..."
                            type="text">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-sm-3 control-label">Date d'envoi</label>
                    <div class="col-sm-6">
                        <input (bsValueChange)="filtres.dateEnvoi=$event;fetchPage(0, donneesEssentielles.size, sort)"
                               [bsConfig]="{ isAnimated: true}"
                               bsDaterangepicker
                               class="form-control"
                               name="dateEnvoi" placeholder="Choisissez une date ..."
                               type="text">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-sm-3 control-label">Statut données essentielles</label>

                    <div class="col-sm-9">
                        <div class="btn-group btn-statut" data-toggle="">
                            <label (click)="statutEnCoursClick()" [class.active]="filtres.statutEnCours"
                                   class="btn btn-default filtre">
                                En Cours
                            </label>
                            <label (click)="statutAPublierClick()" [class.active]="filtres.statutAPublier"
                                   class="btn btn-default filtre">
                                A Publier
                            </label>
                            <label (click)="statutPublieClick()" [class.active]="filtres.statutPublie"
                                   class="btn btn-default filtre">
                                Publié
                            </label>
                            <label (click)="statutErrorClick()" [class.active]="filtres.statutError"
                                   class="btn btn-default filtre">
                                Erreur
                            </label>
                            <label (click)="statutNonPublieClick()" [class.active]="filtres.statutNonPublie"
                                   class="btn btn-default filtre">
                                Non Publié
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </accordion-group>
</accordion>
<div class="panel-table">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <ltexec-table-elements-count [page]="donneesEssentielles"></ltexec-table-elements-count>
        </div>
        <div class="repeater-header-right">
            <!--Debut Pagnination top-->
            <ltexec-table-pagination [page]="donneesEssentielles" [table]="self"
                                     (change)="changePageSize($event)"></ltexec-table-pagination>
            <!--Fin Pagnination top-->
        </div>
    </div>

    <div class="repeater-viewport">
        <table class="table table-bordered table-striped table-suivi table-donneesEssentielles table-hover">
            <thead>
            <tr>
                <th class="actions col-md-1 text-center" style="width:1%"><input type="checkbox"
                                                                                 class="form-check-input"
                                                                                 [(ngModel)]="selectAllBoolean"
                                                                                 (change)="selectAllDonneesEssentielles()"/>
                </th>
                <th class="actions col-md-1 text-center">ID Donnée Essentielle</th>
                <th class="actions col-md-1 text-center">ID Contrat</th>
                <th class="actions col-md-1 text-center">Type Contrat</th>
                <th class="actions col-md-1 text-center">ID Acte</th>
                <th class="actions col-md-1 text-center">Type Acte</th>
                <th class="actions col-md-1 text-center">Date de notification du contrat</th>
                <th class="actions col-md-1 text-center">Date de notification de l'acte</th>
                <th class="actions col-md-1 text-center">Date d’envoi</th>
                <th class="actions col-md-1 text-center">Statut données essentielles</th>
                <th class="actions col-md-1 text-center">Message</th>
                <th class="actions col-md-1 text-center">Fichier json</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donneeEssentielle of donneesEssentielles?.content">
                <td class="actions col-md-1 text-center" style="width:1%">
                    <input type="checkbox" class="form-check-input" *ngIf="donneeEssentielle.statut !=='A_PUBLIER'"
                           [checked]="idsDonneesEssentielles.indexOf(donneeEssentielle.idDonneeEssentielle) != -1"
                           (change)="selectDonneeEssentielle($event, donneeEssentielle.idDonneeEssentielle)"/>
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.idDonneeEssentielle }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.idContrat }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.typeContrat }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.idActe }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.typeActe }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.dateNotificationContrat | formatDate: "DD/MM/YYYY" }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.dateNotificationActe | formatDate: "DD/MM/YYYY" }}
                </td>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.dateEnvoi | formatDate: "DD/MM/YYYY" }}
                </td>
                <ng-container>
                    <td [ngSwitch]="donneeEssentielle?.statut" class="actions col-md-1 text-center">
                        <div *ngSwitchCase="'PUBLIE'" title="Publié">
                            <span class="badge badge-success">   Publié</span>
                        </div>
                        <div *ngSwitchCase="'NON_PUBLIE'" title="Non publié"
                             class="form-control-static">
                            <span class="badge badge-danger">   Non publié</span>
                        </div>
                        <div *ngSwitchCase="'EN_COURS'" title="EN cours" class="form-control-static">
                            <span class="badge badge-secondary">   En cours</span>
                        </div>
                        <div *ngSwitchCase="'A_PUBLIER'" title="À publier" class="form-control-static">
                            <span class="badge badge-info">À publier</span>
                        </div>
                        <div *ngSwitchCase="'ERROR'" title="Erreur" class="form-control-static">
                            <span class="badge badge-danger">  Erreur</span>
                        </div>
                    </td>
                </ng-container>
                <td class="actions col-md-1 text-center">
                    {{ donneeEssentielle.message }}
                </td>
                <td class="actions col-md-1 text-center">
                    <button type="button" class="btn btn-sm btn-success" value="Télécharger"
                            *ngIf="donneeEssentielle.statut === 'ERROR'"
                            title="Télécharger le fichier"
                            (click)="telechargerJson(donneeEssentielle)">
                        <fa-icon icon="download"></fa-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="repeater-footer">
        <div class="repeater-footer-right">
            <button type="button" class="btn btn-sm btn-primary" value="Valider" *ngIf="habilitationRepublication"
                    (click)="republierDonneesEssentielles()"><i
                class="fa fa-check"></i> Republier les données essentielles
            </button>
        </div>
    </div>
</div>
