<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Session expirée
        </h4>
    </div>
    <div class="modal-body pr-0 pl-0 pb-0"
         style="display: inline-flex">
        <div class="errors-page">
            <div class="errors-page-container">

                <img class="errors-page-illustration" src="assets/img/it_support.svg">
                <div class="errors-page-content">
                    <h1>Session expirée !</h1>
                    <br/>
                    <p style="font-weight: bold; font-size: 15px">
                        Veuillez fermer l'onglet et renouveler votre session !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

