<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% set design = '' %}
    {% if app.request.cookies.get('design') is not null %}
        {% set design = app.request.cookies.get('design')~'/' %}
    {% endif %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ 'CONSOLE_ADMIN'|trans }}{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {% include 'menuAgent/css-javascript-layout-agent/css-agent.html.twig' %}
        {{ encore_entry_link_tags('daterangepicker') }}
        {{ encore_entry_link_tags('icheck') }}
        {{ encore_entry_link_tags('select2') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('app/assets/css/datatables.min.css') }}" type="text/css"/>

    {% block head_javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="administration" class="bootstrap">

<!--Debut Bandeau-->
{% include 'menuAgent/bandeau-agent.html.twig' %}
<!--Fin Bandeau-->

{% block nav %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand"><h3>{{ 'ADMIN_MPE'|trans }}</h3></span>
            </div>
            <ul class="nav nav-tabs nav-topline">

                {# Gestion du menu selon l'habilitation #}
                {%
                    if app.user.hasHabilitationAdministrateur(
                        constant('App\\Entity\\HabilitationAdministrateur::ACCESS_ADMINISTRATION_PANELS')
                    )
                %}
                    <li class="nav-item">
                        <a href="{{ path('superadmin_configsclients_index') }}"
                           class="nav-link {% if app.request.attributes.get('_route') starts with 'superadmin_configsclients_' %}active{% endif %}"
                        >Configuration paramètre client</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('superadmin_traduction_index') }}"
                           class="nav-link {% if app.request.attributes.get('_route') starts with 'superadmin_traduction_' %}active{% endif %}"
                        >Configuration message et traduction</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('superadmin_agenttechnique_administration') }}"
                           class="nav-link {% if app.request.attributes.get('_route') starts with 'superadmin_agenttechnique_' %}active{% endif %}"
                        >Agents techniques</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a href="{{ path('superadmin_interface_suivi') }}"
                       class="nav-link {% if app.request.attributes.get('_route') starts with 'superadmin_interface_suivi' %}active{% endif %}"
                    >Interface suivi</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('vendor') }}
    {{ encore_entry_script_tags('modern-admin') }}
    {{ encore_entry_script_tags('daterangepicker') }}
    {{ encore_entry_script_tags('icheck') }}
    {{ encore_entry_script_tags('select2') }}
{% endblock %}
{{ SCRIPT_JS_CLIENT|htmlspecialchars_decode }}
</body>
</html>
