<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts_header %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="text-left">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ PIWIK_SCRIPT|htmlspecialchars_decode }}
        <script type="text/javascript">
            let localeCalendar = '{{ agent_locale ?? 'fr' }}';
        </script>
        {{ SCRIPT_JS_CLIENT|htmlspecialchars_decode }}
    </body>
</html>
