<script>
    var J = jQuery.noConflict();
    J(document).ready(function () {
        J('#lang-select > li').click(function () {
            var url = "{{ path('switcher-language') }}" + "/" + J(this).attr('data-value');
            J.ajax({
                url: url
            }).done(function () {
                window.location.reload();
            });
        })
    })
</script>