<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% set design = '' %}
    {% if app.request.cookies.get('design') is not null %}
        {% set design = app.request.cookies.get('design')~'/' %}
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ 'TITRE'|trans }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {% include 'menuAgent/css-javascript-layout-agent/css-agent.html.twig' %}
    {% endblock %}
    <script>
        var pfUrl = "{{ PF_URL }}";
        var isAgent = true;
    </script>
</head>

<body class="horizontal-layout horizontal-menu 1-column" data-open="hover" data-menu="horizontal-menu" data-col="1-column">

    <!--Debut Bandeau-->
    {% include 'menuAgent/bandeau-agent.html.twig' %}
    <!--Fin Bandeau-->


    {%- block assistance -%}
        {% include 'utah/btn-assistance.html.twig'  with {'calledFrom': 'agent'} %}
    {%- endblock assistance -%}


    {% block flashMessageBlock %}
        {% include 'menuAgent/error.html.twig' %}
    {% endblock %}

    <!--Debut partie centrale-->
    <div class="app-content content {% if isFullWidth is not defined or isFullWidth == false %}container{% endif %} center-layout mt-2">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-body">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!--Fin partie centrale-->
    </div>
    {{ get_footer('mpe', 'agent')|raw }}
    {{ PIWIK_SCRIPT|htmlspecialchars_decode }}
{#
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !! necessite la traduction de la connexion cote agent de prado vers SF !!
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    #}
    {% block javascriptAgent %}
        {{ encore_entry_script_tags('vendor') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('modern-admin') }}
        {{ encore_entry_script_tags('agent-header-statistics') }}
        {%  if displayRgpd() %}
            {{ encore_entry_script_tags('rgpd') }}
        {% endif %}
        {{ encore_entry_script_tags('menu-agent-action') }}

        {% if atexo_menu.getPartagerConsultation() == true %}
        <script type="text/javascript" src="/themes/js/sdk.js?k={{ MEDIA_CACHE_KEY }}"></script>
        {% endif %}
    {% endblock %}
    {% block javascriptsChecker %}{% endblock %}

    {{ SCRIPT_JS_CLIENT|htmlspecialchars_decode }}

</body>
</html>
