<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% set design = '' %}
        {% if app.request.cookies.get('design') is not null %}
            {% set design = app.request.cookies.get('design')~'/' %}
        {% endif %}
        {% set isAgent = not(userType is not defined or (userType is defined and userType != 'agent')) %}

        {% set locale = locale()  %}
        <meta charset="UTF-8"/>
        <meta name="description" content="entreprise">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <title>{% block title %}{{ 'TITRE'|trans }}{% endblock %}</title>
        {% block head %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('themes/' ~ design ~ 'css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('app/assets/css/entreprise.css') }}">
            <link rel="stylesheet" href="{{ asset('/themes/' ~ design ~ 'css/ng-style-mpe.css') }}">
            <link rel="stylesheet" href="{{ asset('/themes/' ~ design ~ 'css/ng-style.css') }}">
            {% if calledFromPrado is not defined %}
                <link rel="stylesheet" href="/themes/{{ design }}/css/mpe-new-client.css?k={{ MEDIA_CACHE_KEY }}">
            {% endif %}
        {% endblock %}
        {% block stylesheet_sf1 %}{% endblock %}
        {% block stylesheet_sf2 %}{% endblock %}
        {% block stylesheet_lt_dume %}{% endblock %}
        {% block javascripts_header %}
            <script type="text/javascript" src="{{ asset('themes/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/js/jquery-compatibility.js') }}"></script>
            <script type="text/javascript" src="{{ asset('themes/js/bootstrap.min.js') }}"></script>
            <!-- FOSJsRoutingBundle -->
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <!-- /FOSJsRoutingBundle -->
            <script type="text/javascript" src="{{ asset('app/js/atexo.common.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <script>
            var lang = "{{ locale }}";
            var pfUrl = "{{ PF_URL }}";
            var isAgent = false;
        </script>
    </head>
    <body>

        {% include 'entreprise/menu/menu.html.twig' %}
        {% include 'utah/btn-assistance.html.twig'  with {'calledFrom': 'entreprise'}  %}

        {% block breadcrumbs %}{% endblock %}

        <div class="m-b-10 {% if isFullWidth is not defined or not isFullWidth %}container container--690-sm{% endif %}" id="layout-entreprise">
            {% block content %}{% endblock %}
        </div>

        {#
            Gestion des Footer place / ROADMAP
        #}
        {% if not specifiquePlace %}
            {% include 'entreprise/menu/footer.html.twig'  with {'calledFrom': 'entreprise'} %}
        {% else %}
            {% if withoutFooter is not defined %}
                {{ get_footer('mpe')|raw }}
            {% endif %}
        {% endif %}
        {% block javascripts %}
            <script src="{{ asset('app/js/ng-script.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
            {%  if displayRgpd() %}
                {{ encore_entry_script_tags('rgpd') }}
            {% endif %}
        {% endblock %}
        {% block javascripts_content %}{% endblock %}
        {% block javascripts_footer %}{% endblock %}
        {% block javascripts_lt_dume_footer %}{% endblock %}

        {{ SCRIPT_JS_CLIENT|htmlspecialchars_decode }}
        {{ PIWIK_SCRIPT|htmlspecialchars_decode }}
    </body>
</html>
