<link href="/themes/css/bootstrap-toggle.min.css" rel="stylesheet">

<div class="modal fade " id="verificationRgpdModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog rgpd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5><b>{{ 'ENTREPRISE_VERIFICATION_RGPD' | trans }} </b></h5>
            </div>
           <div class="modal-body">
               <div class="row margin-bottom-15 padding-left-10 padding-right-10">
                   {{ 'RGPD_TEXTE' | trans  }}
               </div>
                <div class="row margin-bottom-10 rgpd-entete-popup">
                    <div class="col-xs-10 border-grey ">
                        <p class="padding-left-40">{{ 'RGPD_COMMUNICATION_PLACE' | trans  }}</p>
                    </div>
                    <div class="col-xs-1 switch-button">
                        <input
                                type="checkbox"
                                id="communicationPlaceRgpd"
                                checked data-toggle="toggle"
                                data-on=" "
                                data-off=" "
                                data-onstyle="success"
                                data-offstyle="danger"
                                data-style="communicationPlaceRgpd ios"
                                data-size="mini">
                    </div>
                </div>
               <div class="row margin-bottom-15 rgpd-entete-popup">
                   <div class="col-xs-10 border-grey">
                       <p class="padding-left-40">{{ 'RGPD_ENQUETE' | trans  }}</p>
                   </div>
                   <div class="col-xs-1 border-grey switch-button">
                       <input type="checkbox"
                              id="enqueteRgpd"
                              checked value="1"
                              data-toggle="toggle"
                              data-on=" "
                              data-off=" "
                              data-onstyle="success"
                              data-offstyle="danger"
                              data-style="communicationPlaceRgpd ios"
                              data-size="mini">
                   </div>
               </div>
               {% if withCommunication %}
                   <div class="row margin-bottom-15 rgpd-entete-popup">
                       <div class="col-xs-10 border-grey">
                           <p class="">{{ 'RGPD_COMMUNICATION' | trans  }}</p>
                       </div>
                       <div class="col-xs-1 border-grey switch-button-com">
                           <input type="checkbox"
                                  id="communicationRgpd"
                                  checked value="1"
                                  data-toggle="toggle"
                                  data-on=" " data-off=" "
                                  data-onstyle="success"
                                  data-offstyle="danger"
                                  data-style="ios"
                                  data-size="mini">
                       </div>
                   </div>
               {% endif %}
               <div class="row margin-bottom-15 padding-left-10 padding-right-10">
                   {{ 'RGPD_MODIFICATION_COMPTE' | trans  }}
               </div>
           </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-secondary float-left" onclick="rgpdDisableAllChoicesAndSave();" >{{ 'TOUT_REFUSER' | trans }}</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-info"  onclick="rgpdSaveChoice();">{{ 'ENREGISTRER_CHOIX' | trans }}</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/themes/js/bootstrap-toggle.min.js"></script>
