<ul>
    <li class="scrollable-container media-list w-100 ps">
        {% for notification in list %}
            <div data-id="{{ notification.idNotification}}"
                 data-url="{{ notification.urlNotification }}"
                 class="notification-item"
            >
                {{ notification.libelleNotifcation|doubleAtTrans }}
                {{ notification.description|doubleAtTrans }}
                <a href="#" class="notification-read" onclick="readNotification(event)">
                    {{ notification.referenceObjet }}
                </a>
                <br>
                {{ notification.dateCreation|iso2frnDateTime }}
                <div style="float: right">
                    <a href="#" class="notification-disable" onclick="disableNotification(event)">
                        <span class="fa fa-times"></span>
                    </a>
                </div>
            </div>
        {% else %}
            {{ 'AUCUNE_NOTIFICATION'|trans }}
        {% endfor %}
    </li>
</ul>
