<div id="exec-app">
    <router-outlet></router-outlet>
<ltexec-contrat-fiche *ngIf="loaded && !navigate" [idExterne]="idexterne" class="exec"></ltexec-contrat-fiche>
<ltexec-assistance *ngIf="loaded"></ltexec-assistance>
</div>
