<div id="exec-app">
    <router-outlet></router-outlet>
    <ltexec-supervision-donnees-essentielles *ngIf="loaded && !navigate" [habilitationRepublication]="habilitationRepublication"
                                             class="exec"></ltexec-supervision-donnees-essentielles>
</div>
