/**
 **
 ** Page statistique - Remove bloc top and bottom border .png
 **
 */
.form-bloc > .top, .form-bloc > .bottom, .layer > .top, .layer > .bottom, .layerBorder-moyen > .top, .layerBorder-moyen > .bottom, .bloc-arrondi > .top, .bloc-arrondi > .bottom, #edit-El-num .form-bloc .top, #edit-El-num .form-bloc .bottom {
  display: none !important;
}

/**
 **
 ** Page statistique - Replace bloc top and bottom border .png with css border
 **
 */
.form-bloc .content,  .popup-moyen .form-bloc .content, .form-saisie .form-bloc .content, .deliberation .form-saisie .form-bloc .content, .liste-lot-group .title, #canevasMap .content {
  border: 1px solid $atx-base-color !important;
  background-color: rgba(250, 250, 250, 1) !important;
  width: auto !important;
  border-radius: 5px;
}


/**
 **
 ** Page statistique - Add block padding
 **
 */
.form-bloc > .content, .layer > .content, .form-saisie .form-bloc .content, .page-erreur .main-part .form-bloc-message .content, .popup-small .form-bloc > .content, .popup-moyen .form-bloc > .content, .popup-moyen2 .form-saisie .form-bloc .content, .popup-moyen .form-saisie .form-bloc .content, .popup-moyen2 .form-bloc .content, .popup-WSSO .form-bloc > .content, .deliberation .form-saisie .form-bloc .content, .bloc-action .form-saisie .form-bloc .content {
  padding: $atx-base-padding-vertical !important;
}

/**
 **
 ** Abbr color surcharge
 **
 */
abbr[title], abbr[data-original-title] {
  color: $atx-base-color !important; // Dark Green
}

/**
 **
 ** Surcharge content layer bloc to take full screen width
 **
 */

.accueil #middle {
  width: initial !important;
}

#middle .layer {
  width: 100% !important;
}

.layer .content {
  width: 100% !important;
  border: 1px solid $atx-base-color !important;
  border-radius: $border-radius-base !important;
}

#liste-etapes .entete-grille {
  color: #fff !important;
}

/* navbar links */

.atx-header .atx-header_top .subnav_item,
.atx-header .atx-header_top .subnav_item .fa,
.atx-header .atx-header_top .subnav-user .dropdown-toggle .text {
  color: #fff;
}

.atx-header .atx-header_top .subnav_item .fa:hover,
.atx-header .atx-header_top .subnav-user .dropdown-toggle .text:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* navbar popover btn */

.atx-header .atx-header_top .user_content .btn-primary {
  background: #af1180;
  border-color: #af1180;
}

.atx-header .atx-header_top .user_content .btn-primary:hover {
  background: #af0075;
  border-color: #af1180;
}

/* affix header */

.affix-header .atx-header_top {
  background: #fff;
}