/**
 **
 ** Base
 **
 */

$atx-base-color: #af1180;
$atx-gradient: false;

$atx-header_top-height: 79px;
$atx-header-background-image: '../images/bandeau.jpg';
$atx-header-background-size: auto 79px;
$atx-header-background-position: left;
$atx-header-background-color: #af1180;