<div class="card-header font-weight-bolder p-0 header-field" *ngIf="itemGroup">
  <div class="header-forms">
    <div class="d-flex justify-content-center">
      <div>
        <button (click)="changeExpanded()" class="btn btn-primary primary-client-bg-border"
        ><i class="la {{extended?'la-chevron-up':'la-chevron-down'}}"></i>
        </button>
      </div>
      <div style="margin: auto; cursor: pointer; background: white" class="ml-1 bg-white" (click)="extended=!extended">
        <div class="font-weight-bold pl-1 pr-1">
          <span *ngIf="index>=0"> N° {{ index + 1 }} - </span>
          <span
          *ngIf="errors?.length>0" class="badge badge-danger truncate status-badge">
            <i class="la la-close"></i>
        </span>{{ itemGroup._label | translate }} <span *ngIf="!itemGroup._repeatable">{{ itemGroup.nodeId }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="itemGroup?._repeatable &&  !readOnly" class="float-md-right">
      <button *ngIf="!creation" (click)="onShowAddContent.emit(true)"
              class="btn btn-success mr-1"
      ><i class="la la-plus"></i>
      </button>
      <button (click)="deleteList()" *ngIf="!creation || nextIndex > 1"
              class="btn btn-danger"
      ><i class="la la-trash"></i>
      </button>
    </div>
  </div>
</div>
<p *ngIf="messageError" class="block-tag text-left ">
  <small class="badge badge-danger truncate" [title]="messageError"
  >{{messageError}}</small>
</p>
<p *ngIf="errors?.length> 0" class="block-tag text-left ">
  <small [id]="'GR-'+item.id" class="badge badge-danger truncate" *ngFor="let item of errors"
         [title]="item.text | translate"
  >{{item.text | translate}}</small>
</p>

<p *ngFor="let item of erreurMessages" class="block-tag text-left ">
  <small class="badge badge-danger truncate"
  >{{item | translate}}</small>
</p>

<div *ngIf="extended" class="mt-1">
  <atx-group-field-form
    [chemin]="chemin"
    [group]="itemGroup.content"
    [sdkVersion]="sdkVersion"
    [parentNode]="getNodeId(itemGroup)?getNodeId(itemGroup):parentNode"
    [reset]="refresh"
    [showOnlyRequired]="showOnlyRequired"
    [readOnly]="readOnly"
    [noticeId]="noticeId"
    [noticeType]="noticeType"
    [formulaire]="formulaire"
    [selectedError]="selectedError"
    [errors]="getFailedAssertFromElements(errors,itemGroup,null)"
    class="card-body row col-12 m-0 p-0"
    (onChangeGroupObject)="changeGroupObject($event, true)"
    (onModifyGroupList)="changeGroupObject($event, false)"
  ></atx-group-field-form>
</div>

