/***************************************************************REDEFINITION STYLES CLIENT***************************************************************/

body {
    margin: 0;
    padding: 0;
    background: #fff !important;
}

#layoutPopup, #containerPopup, #containerPopup #middle {
    background: #fff !important;
}

h1, h2, .previsu-doc .content h5 {
    color: #3D6BA6 !important;
}

#header {
    height: 175px;
    position: relative;
    width: 984px;
    padding-left: 0px;
    _padding-left: 4px;
    background: url(../images/bandeau.jpg) no-repeat right 35px #fff;
}

#header .top {
    height: 140px;
    color: #fff;
    padding-top: 3px;
    background: url(../images/logo.gif) no-repeat 4px 35px;
    _background-position: 4px 20px
}

#header .top .user-infos {
    padding-right: 13px;
}

#header .top .user-infos, #header .top .user-infos a {
    color: #0085BF;
}

#header .top .user-infos a:hover {
    color: #accdf4;
    text-decoration: none;
}

#header .middle {
    display: none;
}

#header .nav {
    background-image: none;
    background-color: #0085BF;
    height: 26px;
    width: 984px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    padding: 0;
    margin: 0 0 0 0;
    float: left;
    clear: left;
    _display: inline;
    _margin-left: 4px
}

#header .nav .accueil {
    padding-top: 4px;
    width: 50px;
}

#header .nav .links {
    height: 26px;
}

#header .nav .links a {
    height: 22px;
    padding-top: 5px;
}

#header .nav .links a:hover, #header .nav .links a.on {
    background: url(../images/nav-item-on.gif) no-repeat top center;
}

#header .nav .links a.on {
    cursor: default;
}

#header .nav .accueil a:hover, #header .nav .accueil a.on {
    color: #fff;
}

#header .top .date {
    position: absolute;
    top: 90px;
    color: #0085BF;
    right: 3px;
    text-align: left;
    width: 964px;
}

.login {
    padding-left: 160px;
}

.login-box {
    margin-left: auto;
    margin-top: 20px;
}

.login-box .top {
    padding: 0;
    overflow: hidden;
}

.login-box .content {
    width: 400px;
    height: auto;
    padding-top: 10px;
}

.login-box .bottom {
    display: block
}

.login-box .content input {
    margin-bottom: 0px
}

.login-box .form-bloc .content {
    width: 378px !important;
}

.login-box .form-bloc .intitule {
    clear: left !important;
}

.login-box .content .oubli-pass {
    clear: left;
    float: left;
    margin-top: 0;
    width: 150px;
    margin-left: 3px;
    _margin-left: 0px;
    text-align: left;
}

.login-box .content input.valider {
    margin-top: 10px;
    width: 84px;
    height: 18px;
    float: right;
    background-image: url(../images/bouton-short-bk.gif);
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: top;
    margin-right: 56px;
    display: inline;
}

.results-list table th, .results-list table th.top, .results-list table th a {
    background: #cdcdcd;
    color: #666666 !important;
}

.results-list table a, .results-list table i, .form-saisie .liste-pieces table th, .liste-publication table th, .liste-retraits table th, .questions-reponses table th, .questions-reponses table th a, .questions-reponses table td a, .liste-candidatures table th, .liste-candidatures table th a, .liste-lot-group .title, .results-list .liste-docs .title, .liste-docs-seance .title, .liste-docs-seance table th, .liste-docs-seance table th a, .liste-docs-seance table td a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-lot-group table.recap th a, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table th, table.actualites th, table.actualites td a, table.actualites th a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-membres table th, .liste-membres table th a, .validation-consultations table th, .validation-consultations table th a, .validation-consultations table td a, .tableau-deliberations table th, .tableau-deliberations table th a, .tableau-deliberations table td a, .tableau-deliberations .liste-attributaires .layer-attrib table th, .montant-tranche table th, .suivi-contrat .title, .suivi-contrat table th a, .suivi-contrat table td a, .suivi-contrat table tr.header-table, .bloc-action a:hover.action, .liste-lot-group table th, .liste-lot-group table td a, .liste-docs-seance table.generation-convocations th, .suivi-contrat table .actions-small, .suivi-contrat table th {
    color: #3D6BA6;
}

.liste-lot-group table th, .liste-docs-seance table th, .form-saisie .liste-pieces table th, .liste-retraits table th, .questions-reponses table th, .liste-candidatures table th, .liste-publication table th, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table, table.actualites th, .liste-membres table th, .validation-consultations table th, .tableau-deliberations table th, .tableau-deliberations .liste-attributaires .layer-attrib table, .montant-tranche table th, .form-saisie .liste-pieces table th, .boutons {
    border-color: #68a2d6;
}

.deliberation .form-saisie .form-bloc .content, .liste-lot-group .title, #canevasMap .content {
    border-color: #68a2d6 !important;
    background-color: #F5F9FB !important;
}

.form-envoi-pub .content, #organigramme .content {
    border-color: #68a2d6 !important;
    background-color: #F5F9FB !important;
}

.layer .content, .form-envoi-pub .gwt-TabPanelBottom, .form-bloc-message .content, .suivi-contrat table th {
    border-color: #68a2d6 !important;
}

.layer .content .lot-on {
    background: #e6f3fa;
}

.layer .content .lot {
    background: #F5F9FB;
}

.layer .content .lot-on .numero-lot, .layer .content .lot-on .intitule-lot, .layer .content .lot-on .description-lot, .layer .content .lot .numero-lot, .layer .content .lot .intitule-lot, .layer .content .lot .description-lot, .layer .content .lot-on .caracteristiques-lot .title, .layer .content .lot .caracteristiques-lot .title {
    color: #3D6BA6;
}

.nav-onglet .tab a {
    color: #76aada;
}

.nav-onglet .tab-on {
    background: #76AADA;
}

.nav-onglet .tab-inactive {
    background: #eeeced;
}

.nav-onglet .tab-inactive a {
    color: #b5b5b5;
}

#suiviMessagerieSecurisee .title {
    color: #76aada;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 5px;
}

.results-list table tr.doc-on-first, .results-list table tr.doc-on, .results-list tr .liste-docs .layer-docs table tr.on, .liste-candidatures table tr.on, .deliberation .liste-pieces table tr.on, table.tableau-forme-prix td, #organigramme .content, .validation-consultations table.contenus-envois tr.on, .liste-docs-seance table.generation-convocations tr.on, .tableau-deliberations tr.attrib-on, .tableau-deliberations tr.attrib-on-first, .tableau-deliberations tr .liste-attributaires .layer-attrib table tr.on, .tableau-deliberations table.details-delib .layer-attrib table tr.on td {
    background: #F6F4F4;
}

.bloc-arrondi .content, .bloc-arrondi .top, .bloc-arrondi .bottom {
    background-color: #d3e9f4 !important;
}

.form-saisie .form-bloc .content .bloc-arrondi .content, .form-saisie .form-bloc .content .bloc-arrondi .top, .form-saisie .form-bloc .content .bloc-arrondi .bottom {
    background-color: #d3e9f4 !important;
}

.suivi-contrat table tr.header-table {
    background: #d3e9f4;
}

.suivi-contrat table .colspan {
    background: #b7dbed;
    border: 1px solid #f5f9fb !important;
}

.suivi-contrat table th.total {
    border-bottom: 1px solid #68A2D6 !important
}

.suivi-contrat table tr td.total {
    background: #e1eff7;
}

.suivi-contrat table tr.on td.total {
    background: #eaf6fc;
}

.suivi-contrat table tr.total {
    background-color: #9ed3ed !important;
}

#liste-etapes .entete-grille {
    background: #4086C4;
}

.liste-taches table tr.on {
    background: #E9E7E8;
}

.liste-taches table {
    border-color: #E9E7E8;
}

.liste-taches table th {
    background: #4086C4;
}

.calendrier-gantt table th {
    background: #4086C4;
}

table.tableau-gantt {
    border-color: #68A2D6;
}

#footer {
    background: url(../images/footer-bg.gif) #fff no-repeat 360px 0px;
    background-color: #fff;
    height: 25px;
    padding-top: 84px;
    color: #B8B8B8;
    width: 984px;
    text-align: center;
    padding-left: 155px;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#footer a {
    color: #B8B8B8;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#footer a:hover {
    color: #B8B8B8;
    text-decoration: none;
}
