<?xml version="1.0" encoding="UTF-8"?>
<TED_ESENDERS xmlns="http://publications.europa.eu/resource/schema/ted/R2.0.9/reception"
              xmlns:n2016="http://publications.europa.eu/resource/schema/ted/2016/nuts"
              VERSION="R2.0.9.S04">
    <SENDER>
        <IDENTIFICATION>
            <ESENDER_LOGIN>{{ pfUid }}</ESENDER_LOGIN>
            <NO_DOC_EXT>{{ consultationUid }}</NO_DOC_EXT>
        </IDENTIFICATION>
        <CONTACT>
            <ORGANISATION>{{ organisme.denominationOrg }}</ORGANISATION>
            <COUNTRY VALUE="EU"/>
        {% if agentCreateur is defined %}
            {% if agentCreateur.numTel is not empty %}
                <PHONE>{{ agentCreateur.numTel }}</PHONE>
            {% endif %}
            {% if agentCreateur.email is not empty %}
                <E_MAIL>{{ agentCreateur.email }}</E_MAIL>
            {% endif %}
        {% endif %}
        </CONTACT>
    </SENDER>
    <FORM_SECTION>
        <F05_2014 CATEGORY="ORIGINAL" FORM="F05" LG="FR">
            <LEGAL_BASIS VALUE="32014L0025"/>
            <CONTRACTING_BODY>
                {% if infoComptePub is defined and infoComptePub is not empty %}
                <ADDRESS_CONTRACTING_BODY>
                {% set adresse = infoComptePub.organismeMarche %}
                {% include 'publicite/adresse.xml.twig' with {'nuts': true} %}
                </ADDRESS_CONTRACTING_BODY>
                <DOCUMENT_FULL/>
                <URL_DOCUMENT>{{ urlDetailConsultation }}</URL_DOCUMENT>
                <ADDRESS_FURTHER_INFO>
                {% set adresse = infoComptePub.organismeFacture %}
                {% include 'publicite/adresse.xml.twig' with {'nuts': true} %}
                </ADDRESS_FURTHER_INFO>
                {% endif %}
                <URL_PARTICIPATION>{{ urlDetailConsultation }}</URL_PARTICIPATION>
                <ADDRESS_PARTICIPATION_IDEM/>
                <CE_ACTIVITY VALUE="ELECTRICITY"/>
            </CONTRACTING_BODY>
            <OBJECT_CONTRACT>
                <TITLE>
                    <P>{{ consultation.intitule |raw }}</P>
                </TITLE>
                <REFERENCE_NUMBER>{{ consultation.referenceUtilisateur }}</REFERENCE_NUMBER>
                {% if consultation.groupement is not null  %}
                    {% if consultation.groupement == true %}
                        <GROUPEMENT/>
                    {% else %}
                        <NO_GROUPEMENT/>
                    {% endif %}
                {% endif %}
                <CPV_MAIN>
                    {% set data = consultation %}
                    {% include 'publicite/cpv.xml.twig' %}
                </CPV_MAIN>
                {% if lieuExecution is defined %}
                <LIEU_EXECUTION>{{ lieuExecution }}</LIEU_EXECUTION>
                {% endif %}
                {% if codeNatureMarche is not empty %}
                    <TYPE_CONTRACT CTYPE="{{ codeNatureMarche }}"/>
                {% endif %}
                {% if consultation.objet is not empty %}
                    <SHORT_DESCR>
                        <P>{{ consultation.objet | replace({"\n" : "</P><P>"}) | raw }}</P>
                    </SHORT_DESCR>
                {% endif %}
                {% if donneeComplCons is defined %}
                    <VAL_ESTIMATED_TOTAL
                            CURRENCY="EUR">{{ donneeComplCons.getMontantMarche() }}</VAL_ESTIMATED_TOTAL>
                {% endif %}
                {% if consultation.getAlloti() != 1 %}
                    <NO_LOT_DIVISION />
                    {% set data = consultation %}
                    {% if donneeComplCons is defined %}
                        {% set donnesCompl = donneeComplCons %}
                        {% set index = 1 %}
                        {% include 'publicite/duree_duration.xml.twig' %}
                        {% include 'publicite/object_descr.xml.twig' %}
                    {% endif %}
                {% else %}
                    <LOT_DIVISION>
                        <LOT_ALL/>
                    </LOT_DIVISION>
                    {% if hasTranche == true %}
                        <TRANCHE/>
                    {% else %}
                        <NO_TRANCHE/>
                    {% endif %}
                    {% if donneeComplCons is defined %}
                        {% set donnesCompl = donneeComplCons %}
                        {% include 'publicite/duree_duration.xml.twig' %}
                    {% endif %}
                    {% if lots is defined %}
                        {% for data in lots %}
                            {% if data is not null %}
                            {% set donnesCompl = data.getDonneeComplementaire() %}
                            {% set index =  loop.index %}
                            {% include 'publicite/object_descr.xml.twig' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </OBJECT_CONTRACT>

            {% if formeJuridique is defined %}
                <LEFTI>
                    <LEGAL_FORM>
                        <P>{{ formeJuridique }}</P>
                    </LEGAL_FORM>
                </LEFTI>
            {% endif %}
                <PROCEDURE>
                    {% if consultation.procedureOuverte is not null %}
                        {% if consultation.procedureOuverte == true %}
                            <PO/>
                        {% else %}
                            <PR/>
                        {% endif %}
                    {% endif %}

                    {{ procedure | raw }}

                    {% if donneeComplCons is defined %}
                        {% if donneeComplCons.procedureAccordMarchesPublicsOmc %}
                            <CONTRACT_COVERED_GPA/>
                        {% else %}
                            <NO_CONTRACT_COVERED_GPA/>
                        {% endif %}
                    {% endif %}

                    {% if techniqueAchat is not null %}
                        <TECHNIQUE_ACHAT>{{ techniqueAchat }}</TECHNIQUE_ACHAT>
                    {% endif %}
                    <DATE_RECEIPT_TENDERS>{{ consultation.dateFin.format("Y-m-d") == '-0001-11-30'? "" : consultation.dateFin.format("Y-m-d") }}</DATE_RECEIPT_TENDERS>
                    <TIME_RECEIPT_TENDERS>{{ consultation.dateFin.format("Y-m-d") == '-0001-11-30'? "" : consultation.dateFin.format("H:i") }}</TIME_RECEIPT_TENDERS>

                    {% if donneeComplCons is defined %}
                        {% if donneeComplCons.getNombreCandidatsMax() is not null %}
                            <NB_CANDIDATS_MAX>{{ donneeComplCons.getNombreCandidatsMax() }}</NB_CANDIDATS_MAX>
                        {% elseif donneeComplCons.getNombreCandidatsFixe() is not null %}
                            <NB_CANDIDATS_MAX>{{ donneeComplCons.getNombreCandidatsFixe() }}</NB_CANDIDATS_MAX>
                        {% endif %}
                    {% endif %}

                    <LANGUAGES>
                        <LANGUAGE VALUE="FR"/>
                    </LANGUAGES>
                    <CONDITIONS>
                        {% if donneeComplCons is defined %}
                            {% if donneeComplCons is defined and donneeComplCons.activiteProfessionel is not empty %}
                                <ACTIVITE_PROFESSIONEL>{{ donneeComplCons.activiteProfessionel }}</ACTIVITE_PROFESSIONEL>
                            {% endif %}
                            {% if donneeComplCons is defined and donneeComplCons.economiqueFinanciere is not empty %}
                                <ECONOMIQUE_FINANCIERE>{{ donneeComplCons.economiqueFinanciere }}</ECONOMIQUE_FINANCIERE>
                            {% endif %}
                            {% if donneeComplCons is defined and donneeComplCons.techniquesProfessionels is not empty %}
                                <TECHNIQUES_PROFESSIONELS>{{ donneeComplCons.techniquesProfessionels }}</TECHNIQUES_PROFESSIONELS>
                            {% endif %}
                        {% endif %}

                    </CONDITIONS>
                    {% if donneeComplCons is defined %}
                        <DURATION_TENDER_VALID TYPE="MONTH">{{ donneeComplCons.getDelaiValiditeOffres() }}</DURATION_TENDER_VALID>
                        {% if donneeComplCons.visiteObligatoire == true %}
                            {% if donneeComplCons.visiteDescription is not empty %}
                                <VISITE_OBLIGATOIRE>{{ donneeComplCons.visiteDescription }}</VISITE_OBLIGATOIRE>
                            {% else %}
                                <VISITE_OBLIGATOIRE/>
                            {% endif %}
                        {% else %}
                            <NO_VISITE_OBLIGATOIRE/>
                        {% endif %}

                        {% if donneeComplCons.attributionSansNegociation == true %}
                            <ATTRIB_SANS_NEGO />
                        {% else %}
                            <NO_ATTRIB_SANS_NEGO />
                        {% endif %}

                        {% if donneeComplCons.catalogueElectronique is not null %}
                            <CATALOGUE_ELECTRONIQUE>
                                {% set constElectroniCatalogValue = constant('App\\Service\\DonneeComplementaire\\DonneeComplementaireService::ELECTRONIC_CATALOG_VALUE') %}
                                {{ constElectroniCatalogValue[donneeComplCons.catalogueElectronique]|trans }}
                            </CATALOGUE_ELECTRONIQUE>
                        {% endif %}
                    {% endif %}
                </PROCEDURE>
            <COMPLEMENTARY_INFO>
                <NO_RECURRENT_PROCUREMENT/>
                {% include 'publicite/add_info.xml.twig' %}
                <ADDRESS_REVIEW_BODY>
                    {% if infoComptePub is defined and infoComptePub is not empty %}
                        {% set adresse = infoComptePub.organismeProcedure %}
                        {% include 'publicite/adresse.xml.twig' with {'nuts': false} %}
                    {% endif %}
                </ADDRESS_REVIEW_BODY>
                <DATE_DISPATCH_NOTICE>
                    {{ "now" | date("Y-m-d") }}
                </DATE_DISPATCH_NOTICE>
                {% if consultation.getDateMiseEnLigneSouhaitee() is not empty %}
                    <DATE_ONLINE_TENDERS>{{ consultation.getDateMiseEnLigneSouhaitee()| date("Y-m-d") }}</DATE_ONLINE_TENDERS>
                    <TIME_ONLINE_TENDERS>{{ consultation.getDateMiseEnLigneSouhaitee()| date("H:i") }}</TIME_ONLINE_TENDERS>
                {% endif %}
            </COMPLEMENTARY_INFO>
        </F05_2014>
    </FORM_SECTION>
</TED_ESENDERS>
