{% set critere = donneeComplService.getCriteresAttribution(donnesCompl, donneeComplCons) %}
{% if critere is not empty %}
<AC>
    {% if critere.procurementDoc is defined %}
        <AC_PROCUREMENT_DOC/>
    {% elseif critere.prix is defined %}
        <AC_PRICE/>
    {% elseif critere.cout is defined %}
        <AC_COST>
            <AC_CRITERION>coût</AC_CRITERION>
            <AC_WEIGHTING>100%</AC_WEIGHTING>
        </AC_COST>
    {% elseif critere.sansPonderation is defined %}
        {% set cQs = critere.sansPonderation %}
        {% if cQs is not empty %}
            {% for cQ in cQs %}
                <AC_QUALITY>
                    <AC_CRITERION>{{ cQ.name }}</AC_CRITERION>
                    <AC_WEIGHTING>100</AC_WEIGHTING>
                </AC_QUALITY>
            {% endfor %}
            <AC_PRICE/>
        {% endif %}
    {% elseif critere.avecPonderation is defined %}
        {% set cQs = critere.avecPonderation %}
        {% if cQs is not empty %}
            {% for cQ in cQs %}
                <AC_COST>
                    <AC_CRITERION>{{ cQ.name }}</AC_CRITERION>
                    <AC_WEIGHTING>{{ cQ.poid }}</AC_WEIGHTING>
                </AC_COST>
            {% endfor %}
        {% endif %}
    {% endif %}
</AC>
{% endif %}
