{% set duree = donneeComplService.getDureeMarche(donnesCompl) %}
{% if duree is not empty %}
    {% if duree.descriptionLibre is defined and duree.descriptionLibre != null %}
        <DURATION TYPE="MONTH">1</DURATION>
    {% else %}
        {% if duree.dureeValue is defined and duree.dureeType is defined %}
            <DURATION TYPE="{{ duree.dureeType }}">{{ duree.dureeValue }}</DURATION>
        {% endif %}
    {% endif %}
{% endif %}

