{% set duree = donneeComplService.getDureeMarche(donnesCompl) %}
{% if duree is not empty %}
{% if duree.descriptionLibre is defined %}
<OPTIONS/>
<OPTIONS_DESCR>
    <P>{{ duree.descriptionLibre | replace({"\n" : "</P><P>"}) | raw }}</P>
</OPTIONS_DESCR>
{%  else %}
<NO_OPTIONS/>
{% endif %}

{% endif %}

