<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=HTTP_ENCODING_MAIL" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ platformName }} - publication au BOAMP</title>
    <style type="text/css">
        /* Client-specific Styles */
        body, html { background:#efefef; text-align:center; }
        #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing. */
        #backgroundTable, .backgroundTable,{margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
        a img {border:none;}
        .image_fix {display:block;}
        p { margin: 0px 0px 10px !important;}
        table td {border-collapse: collapse;}
        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
        a {color: COULEUR_TITRE;text-decoration:underline!important; line-height:normal;}
        a:hover { text-decoration:none !important; }
        .lien  { display:inline-block; line-height:13px; }
        .header { max-width:400px; height:auto; margin:0; padding:0; }

        /*STYLES*/
        table[class=full] { width: 100%; clear: both; }
        /*IPAD STYLES*/
        @media only screen and (max-width: 640px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: COULEUR_TITRE; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: COULEUR_TITRE !important;
                pointer-events: auto;
                cursor: default;
            }
            table[class=devicewidth] {width: 440px!important;text-align:center!important;}
            table[class=devicewidthmob] {width: 420px!important;text-align:center!important;}
            table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
            img[class=banner] {width: 440px!important;height:157px!important;}
            /*img[class=col2img] {width: 440px!important;height:330px!important;}*/
            table[class="cols3inner"] {width: 100px!important;}
            table[class="col3img"] {width: 100%!important;}
            /*img[class="col3img"] {width: 131px!important;height: 82px!important;}*/
            table[class='removeMobile']{width:10px!important;}
            img[class="blog"] {width: 420px!important;height: 162px!important;}
            .center { text-align:center !important; padding:0 10px; }
            .col2img { margin-bottom:25px; }
            .devicewidth { height:0 !important; }
        }

        /*IPHONE STYLES*/
        @media only screen and (max-width: 480px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: COULEUR_TITRE; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: COULEUR_TITRE !important;
                pointer-events: auto;
                cursor: default;
            }
            table[class=devicewidth] {width: 280px!important;text-align:center!important;}
            table[class=devicewidthmob] {width: 260px!important;text-align:center!important;}
            table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
            img[class=banner] {width: 280px!important;height:100px!important;}
            /*img[class=col2img] {width: 280px!important;height:210px!important;}*/
            table[class="cols3inner"] {width: 260px!important;}
            /*img[class="col3img"] {width: 280px!important;height: 122px!important;}*/
            table[class="col3img"] {width: 280px!important;}
            img[class="blog"] {width: 260px!important;height: 100px!important;}
            td[class="padding-top-right15"]{padding:15px 15px 0 0 !important;}
            td[class="padding-right15"]{padding-right:15px !important;}
            .devicewidth { height:auto; }
            .puce { display:block; float:left; margin-bottom:20px !important; }
        }
    </style>
</head>
<body>
<!-- Start of header -->
<table width="100%" bgcolor="#efefef" cellpadding="0" cellspacing="0" border="0" class="backgroundTable" st-sortable="header">
    <tbody>
    <tr>
        <td>

            <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <!-- Spacing -->
                <tr>
                    <td height="20" bgcolor="#efefef" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
                </tr>
                <!-- Spacing -->
                <!-- HEADER -->
                <tr>
                    <td bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: COULEUR_TITRE;" align="center"><img src="{{ imageBandeau }}" alt="IMAGE_BANDEAU"/></td>
                </tr>
                <!-- end of HEADER -->
                <tr>
                    <td width="100%">
                        <table bgcolor="#ffffff" width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                            <!-- Spacing -->
                            <tr>
                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                            </tr>
                            <!-- /Spacing -->
                            <tr>
                                <td>
                                    <table width="530" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidthinner">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: COULEUR_TITRE; text-align:left; line-height: 20px;">
                                                <!-- Titre OBJET-->{% if isPublished %} {{ 'PUBLICATION_BOAMP_EFFECTIVE' | trans }} {% else %} {{ 'PUBLICATION_BOAMP_ECHEC' | trans }} {% endif %}<!-- /Titre OBJET-->
                                            </td>
                                        </tr>
                                        <!-- Spacing -->
                                        <tr>
                                            <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- /Spacing -->
                                        <!-- content -->
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                                                <!-- Texte CONTENU-->
                                                <p>{{ 'CORPS_DEBUT' | trans }} {{ agent.prenom}} {{ agent.nom }},</p>
                                                <p>{{ 'CORPS_PUBLICATION_BOAMP_EFFECTIVE' | trans }}</p>
                                                <!-- /Texte CONTENU-->
                                            </td>
                                        </tr>
                                        <!-- end of content -->
                                        <!-- content BLOC TABLEAU-->
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px; background:#edebeb;">
                                                <!-- Texte CONTENU-->
                                                <table cellpadding="5" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; line-height:normal;">
                                                    <tr>
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_TEXT_ENTITE_PUBLIC' | trans }}</strong></td>
                                                        <td valign="top">{% if is_module_enabled('AnnoncesMarches', null) %} {{ consultation.orgDenomination }} {% else %} {{ consultation.organisme.sigle ~ ' - ' ~ consultation.organisme.denominationOrg }} {% endif %}</td>
                                                    </tr>
                                                    <tr bgcolor="#ffffff">
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_ENTITE_ACHAT' | trans }}</strong> </td>
                                                        <td valign="top">VALEUR_ENTITE_ACHAT</td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_TEXT_REFERENCE' | trans }} | {{ 'DEFINE_INTITULE' | trans }}</strong></td>
                                                        <td valign="top">{{ consultation.referenceUtilisateur}} | {{ consultation.intitule }}</td>
                                                    </tr>
                                                    <tr bgcolor="#ffffff">
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_OBJET_CONSULTATION' | trans }}</strong></td>
                                                        <td valign="top">{{ consultation.objet }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="30%"><strong>{{ 'TEXT_TYPE_PROCEDURE' | trans }}</strong></td>
                                                        <td valign="top">{{ typePrcedure }}</td>
                                                    </tr>
                                                    <tr bgcolor="#ffffff">
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_DATE_MISE_LIGNE' | trans }}</strong></td>
                                                        <td valign="top">{% if is_module_enabled('PubliciteOpoce', null) %} {{ consultation.dateMiseEnLigneSouhaitee |date("d/m/Y H:i:s") }} {% else %} {{ consultation.dateMiseEnLigneCalcule  |date("d/m/Y H:i:s") }} {% endif %}</td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_DATE_LIMITE_REMISE_PLI' |trans }}</strong></td>
                                                        <td valign="top">{{ consultation.datefin  |date("d/m/Y H:i:s") }}</td>
                                                    </tr>
                                                    <!-- AGENT-->
                                                    <tr bgcolor="#ffffff">
                                                        <td valign="top" width="30%"><strong>{{ 'TEXT_LIEN_ACCES_DIRECT_CONSULTATION' | trans }}</strong></td>
                                                        <td valign="top"><a href="{{ get_parameter('PF_URL_REFERENCE')|trim('/') ~ path('consultation_search_index') ~ '?id=' ~  consultation.id  }}" >{{ get_parameter('PF_URL_REFERENCE')|trim('/') ~ path('consultation_search_index') ~ '?id=' ~  consultation.id  }}</a></td>
                                                    </tr>
                                                    <!--AGENT -->
                                                </table>
                                                <!-- /Texte CONTENU-->
                                            </td>
                                        </tr>
                                        <!-- end of content BLOC TABLEAU-->
                                        <!-- Spacing -->
                                        <tr>
                                            <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                                                <!-- Texte FOOTER-->
                                                <p style="padding-top:30px;">CORDIALEMENT,</p>
                                                <p><em>{{ platformName }}</em></p>
                                                <!-- /Texte FOOTER-->
                                            </td>
                                        </tr>
                                        <!-- end of content -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Spacing -->
                            <tr>
                                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                            </tr>
                            <!-- Spacing -->
                            <!-- Spacing -->
                            <tr>
                                <td height="5" bgcolor="#efefef" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                            </tr>
                            <!-- Spacing -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- Spacing -->
                <tr>
                    <td height="20" bgcolor="#efefef" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                </tr>
                <!-- Spacing -->
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of Header -->
</body>
</html>