{% if data.clauseSocialeAteliersProteges == '1'
    or data.clauseSocialeSiae == '1'
    or data.clauseSocialeEss == '1'
%}
    <MARCHE_RESERVE>
        {{ (data.clauseSocialeAteliersProteges == '1') ? '<EA_ESAT />' : '' }}
        {{ (data.clauseSocialeSiae == '1') ? '<SIAE />' : '' }}
        {{ (data.clauseSocialeEss == '1') ? '<EESS />' : '' }}
    </MARCHE_RESERVE>
{% endif %}
