<OBJECT_DESCR ITEM="{{ index }}">
    <TITLE>
        {% if data.intitule is defined %}
            <P>{{ data.intitule }}</P>
        {% elseif data.description is defined %}
            <P>{{ data.description }}</P>
        {% endif %}
    </TITLE>
    {% if data.lot is defined %}
        <LOT_NO>{{ data.lot }}</LOT_NO>
    {% endif %}
    <CPV_ADDITIONAL>
        {% include 'publicite/cpv.xml.twig' %}
    </CPV_ADDITIONAL>
    {% if codesNuts is defined %}
        {% for nut in codesNuts %}
            {% if nut is not empty %}
                <n2016:NUTS CODE="{{ nut }}"/>
            {% endif %}
        {% endfor %}
    {% endif %}
    <SHORT_DESCR>
        {% if data.descriptionDetail is defined %}
            <P>{{ data.descriptionDetail | replace({"\n" : "</P><P>"}) | raw }}</P>
        {% elseif data.objet is defined %}
            <P>{{ data.objet | replace({"\n" : "</P><P>"}) | raw }}</P>
        {% endif %}
    </SHORT_DESCR>
    {%
        if donnesCompl is not empty
        and donnesCompl.getPublicationMontantEstimation() != 0
        and donnesCompl.getPublicationMontantEstimation() != ''
    %}
        <VAL_OBJECT
                CURRENCY="EUR">{{ donnesCompl.getValeurMontantEstimationPubliee() }}</VAL_OBJECT>
    {% endif %}
    {% include 'publicite/critere.xml.twig' %}
    {% include 'publicite/marche_reserve.xml.twig' %}
    {% include 'publicite/duree_duration.xml.twig' %}
    {% include 'publicite/reconduction.xml.twig' %}
    {% if donneeComplService.hasVariante(data) %}
        <ACCEPTED_VARIANTS/>
    {% else %}
        <NO_ACCEPTED_VARIANTS/>
    {% endif %}
    {% include 'publicite/duree.xml.twig' %}
    {% if donnesCompl is not empty and donnesCompl.getProjetFinanceFondsUnionEuropeenne() == 1 %}
        <EU_PROGR_RELATED>
            <P>{{ donnesCompl.getIdentificationProjet()  | replace({"\n" : "</P><P>"}) | raw }}</P>
        </EU_PROGR_RELATED>
    {% else %}
        <NO_EU_PROGR_RELATED />
    {% endif %}
</OBJECT_DESCR>
