{% if donnesCompl is not null and donnesCompl.getReconductible() == 1 %}
<RENEWAL/>
<RENEWAL_DESCR>
{% if donnesCompl.getNombreReconductions() > 0 %}
    <P>{{ "DEFINE_MARCHE_RECONDUCTIBLE" | trans }} : {{ donnesCompl.getNombreReconductions() }} {{ "TEXT_FOIS" | trans }}.</P>
{% endif %}
{% if donnesCompl.getModalitesReconduction() is not empty %}
    <P>{{ "DEFINE_MODALITE_RECONDUCTIONS" | trans }} : {{ donnesCompl.getModalitesReconduction() | replace({"\n" : "</P><P>"}) | raw }}.</P>
{% endif %}
</RENEWAL_DESCR>
{% else %}
<NO_RENEWAL/>
{% endif %}