<div class="panel panel-default bloc-recap recap-fiche-contrat">
    <div class="panel-heading" id="headingRecap">
        <h3 class="panel-title">
            <i class="fa"></i>{{ formulaire?.type?.libelle }}
        </h3>
    </div>

    <form #contratForm="ngForm">
        <div class="panel-body">
            <div class="form-horizontal form-condensed">
                <p class="text-right">Les champs marqués d'un astérisque (<abbr class="required">*</abbr>) sont obligatoires.</p>

                <!-- Informations générales -->
                <fieldset>
                    <legend>Informations générales</legend>

                    <section class="flex-section flex-row">
                        <!-- numéro de l'acte -->
                        <div class="flex-section flex-column w-100">
                            <label>Numéro de l'acte<ltexec-asterisk></ltexec-asterisk></label>
                            <div class="flex-section w-80 mt-4">
                                {{formulaire?.numero}}
                            </div>
                        </div>

                        <!-- statut de l'acte -->
                        <div class="flex-section flex-column w-100">
                            <label>Statut de l'acte<ltexec-asterisk></ltexec-asterisk></label>
                            <div class="flex-section w-80 mt-4">
                                <span [tooltip]="getLibelleStatut()" >
                                    <i class="{{getStatut() | lowercase}}"></i>&nbsp;{{getLibelleStatut()}}
                                </span>
                            </div>
                        </div>

                        <!-- direction/service -->
                        <div class="flex-section flex-column w-100">
                            <label>Direction / Service</label>
                            <div class="flex-section w-80 mt-4">
                                {{contrat?.service?.nom}}
                            </div>
                        </div>

                        <!-- acheteur -->
                        <div class="flex-section flex-column w-100">
                            <label>Acheteur<ltexec-asterisk></ltexec-asterisk></label>
                            <div class="controls w-80 mt-4">
                                <ol class="list-0 p-0 flex-section flex-column">
                                    <li>{{ formulaire?.acheteur?.prenom }}&nbsp;{{ formulaire?.acheteur?.nom }}</li>
                                    <li *ngIf="formulaire?.acheteur?.telephone"><i class="fas fa-phone pr-4"></i>{{ formulaire?.acheteur?.telephone }}</li>
                                    <li *ngIf="formulaire?.acheteur?.email"><i class="fas fa-envelope pr-4"></i>{{ formulaire?.acheteur?.email }}</li>
                                </ol>
                            </div>
                        </div>
                    </section>

                    <!-- publication aux données essentielles -->
                    <section class="flex-section flex-column">
                        <label for="objet"><strong>Publication aux données essentielles </strong><ltexec-asterisk></ltexec-asterisk></label>

                        <ui-switch
                            [(ngModel)]="formulaire.publicationDonneesEssentielles"
                            class="checkbox-input"
                            id="publicationDonneesEssentielles"
                            name="publicationDonneesEssentielles"
                            [disabled]="verrouille"
                        ></ui-switch>
                    </section>

                    <!-- objet de l'acte -->
                    <section class="flex-section flex-column">
                        <label for="objet"><strong>Objet de l'acte </strong><ltexec-asterisk></ltexec-asterisk></label>
                        <div class="flex-section w-50">
                            <textarea
                                [(ngModel)]="formulaire.objet"
                                placeholder="Veuillez saisir l'objet de l'acte"
                                id="objet"
                                name="objet"
                                class="form-control"
                                maxlength="500"
                                required
                                [disabled]="verrouille"
                            ></textarea>
                        </div>
                    </section>
                </fieldset>

                <!-- Informations du titulaire -->
                <fieldset>
                    <legend>Titulaire</legend>

                    <section class="flex-section flex-row">
                        <div class="w-50 pr-1">
                            <label>Siren / siret ou raison sociale <ltexec-asterisk></ltexec-asterisk></label>
                            <div class="w-100">
                                <ltexec-recherche-fournisseur [etablissement]="formulaire.titulaire.etablissement" (onSelected)="modifierTitulaire($event)"></ltexec-recherche-fournisseur>
                            </div>
                        </div>

                        <!-- nom du titulaire -->
                        <div class="w-50 flex-section flex-column">
                            <label for="titulaire.nom">Nom</label>
                            <div class="w-100 flex-section flex-row">
                                <input
                                    class="form-control input-sm"
                                    id="titulaire.nom"
                                    name="titulaire.nom"
                                    type="text"
                                    placeholder="Veuillez saisir le nom du titulaire"
                                    [(ngModel)]="formulaire.titulaire.nom"
                                >
                            </div>
                        </div>
                    </section>

                    <section class="flex-section flex-row">
                        <!-- adresse postale -->
                        <div class="flex-section flex-column w-100 pr-1">
                            <label>Adresse postale</label>
                            <div class="input-group">
                                <input
                                    id="itulaire.adresse"
                                    name="itulaire.adresse"
                                    type="text"
                                    class="form-control"
                                    placeholder="Veuillez saisir l'adresse du titulaire"
                                    [(ngModel)]="formulaire.titulaire.adresse"
                                >
                                <span class="input-group-addon"><fa-icon icon="location-dot"></fa-icon></span>
                                <show-error control="montant" [errors]="['invalidMoney','required']"></show-error>
                            </div>
                        </div>

                        <!-- adresse email -->
                        <div class="flex-section flex-column w-100 pr-1">
                            <label>Adresse mail</label>
                            <div class="input-group">
                                <input
                                    id="itulaire.email"
                                    name="itulaire.email"
                                    type="email"
                                    class="form-control"
                                    placeholder="Veuillez saisir une adresse mail"
                                    [(ngModel)]="formulaire.titulaire.email"
                                >
                                <span class="input-group-addon"><fa-icon icon="at"></fa-icon></span>
                                <show-error control="montant" [errors]="['invalidMoney','required']"></show-error>
                            </div>
                        </div>

                        <!-- numéro de téléphone -->
                        <div class="flex-section flex-column w-100">
                            <label>Numéro de téléphone</label>
                            <div class="input-group">
                                <input
                                    id="itulaire.telephone"
                                    name="itulaire.telephone"
                                    type="text"
                                    class="form-control"
                                    placeholder="Veuillez saisir un numéro de téléphone"
                                    [(ngModel)]="formulaire.titulaire.telephone"
                                >
                                <span class="input-group-addon"><fa-icon icon="phone"></fa-icon></span>
                                <show-error control="montant" [errors]="['invalidMoney','required']"></show-error>
                            </div>
                        </div>
                    </section>
                </fieldset>

                <!-- Informations spécifiques -->
                <fieldset>
                    <legend>{{ formulaire?.type?.libelle }}</legend>

                    <section class="flex-section flex-row">
                        <!-- Type d’acte modificatif  -->
                        <div class="w-65">
                            <label>Type d’acte modificatif <ltexec-asterisk></ltexec-asterisk></label>

                            <ng-select
                                [(ngModel)]="formulaire.typeModification"
                                [closeOnSelect]="true"
                                [items]="TYPES_MODIFICATION"
                                bindValue="code"
                                bindLabel="label"
                                id="typeModification"
                                name="typeModification"
                                [searchable]="false"
                                [multiple]="false"
                                required="true"
                                placeholder="Sélectionnez"
                                [disabled]="verrouille"
                            >
                            </ng-select>
                        </div>
                    </section>

                    <ng-container *ngIf="formulaire?.typeModification == 'AVEC_INCIDENCE'">
                        <section class="flex-section flex-row">
                        <!-- Montant initial du contrat -->
                            <div>
                                <label>Montant initial du contrat</label>
                                <div class="controls w-80 mt-4">
                                <span>
                                    {{ contrat.montant }} {{ devise.symbole }}
                                </span>
                                </div>
                            </div>
                        </section>

                        <section class="flex-section flex-row">
                            <!-- Incidence financière cumulée -->
                            <div>
                                <label>
                                    <strong>
                                        Incidence financière cumulée&nbsp;
                                        <abbr tooltip="Pourcentage total des actes avec incidence financière passés par rapport au montant initial du contrat">
                                            <i class="fa fa-question-circle">
                                                <span class="sr-only">Aide</span>
                                            </i>
                                        </abbr>
                                    </strong>
                                </label>

                                <div class="controls w-80 mt-4" *ngIf="contrat?.listAvenantsNonRejete?.length > 0">
                                    <div *ngFor="let avenant of contrat.listAvenantsNonRejete">
                                        <ng-container *ngIf="avenant.avenantType">
                                            <div [ngSwitch]="avenant.avenantType.incidence">
                                                <ng-template [ngSwitchCase]="true">
                                                    <span>{{avenant.avenantType.value ? '+' : '-'}} {{avenant.avenantType.montant | currencyEuro}} {{ devise.value }} HT</span>
                                                </ng-template>
                                                <ng-template [ngSwitchCase]="false">
                                                    <span class="text-muted">Aucune incidence</span>
                                                </ng-template>
                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                                <div class="controls w-80 mt-4" *ngIf="contrat?.listAvenantsNonRejete?.length == 0">
                                    <span class="text-muted">Aucune incidence</span>
                                </div>
                            </div>
                        </section>


                        <section class="flex-section flex-row w-100">
                            <!-- Montant de l'acte modificatif HT chiffré -->
                            <div class="flex-section flex-column w-100 pr-1">
                                <label *ngIf="!contrat.concession">Montant de l'acte modificatif HT chiffré<ltexec-asterisk></ltexec-asterisk></label>
                                <label *ngIf="contrat.concession">Valeur globale HT chiffré<ltexec-asterisk></ltexec-asterisk></label>

                                <div class="input-group w-100">
                                    <input
                                        id="montantHT"
                                        name="montantHT"
                                        type="text"
                                        class="form-control"
                                        money
                                        required
                                        [(ngModel)]="formulaire.montantHTChiffre"
                                        (blur)="actualiserMontantsApresHTChiffre()"
                                        [disabled]="verrouille"
                                    >
                                    <span class="input-group-addon">{{ devise.symbole }}</span>
                                    <show-error control="montant" [errors]="['invalidMoney','required']"></show-error>
                                </div>
                            </div>

                            <!-- Montant de l'acte modificatif TTC chiffré -->
                            <div class="flex-section flex-column w-100 pr-1">
                                <label *ngIf="!contrat.concession">Montant de l’acte modificatif TTC chiffré </label>
                                <label *ngIf="contrat.concession">Valeur globale TTC chiffré </label>
                                <div class="input-group w-100">
                                    <input
                                        id="montantTTC"
                                        name="montantTTC"
                                        type="text"
                                        class="form-control"
                                        money
                                        [(ngModel)]="formulaire.montantTTCChiffre"
                                        (blur)="actualiserMontantsApresTTCChiffre()"
                                        [disabled]="verrouille"
                                    >
                                    <span class="input-group-addon">{{ devise.symbole }}</span>
                                    <show-error control="montantFacture" [errors]="['invalidMoney']"></show-error>
                                </div>
                            </div>

                            <!-- Taux de TVA (%) -->
                            <div class="flex-section flex-column w-100">
                                <label for="tauxTVA">Taux de TVA (%)</label>
                                <div class="input-group w-100">
                                    <input
                                        id="tauxTVA"
                                        name="tauxTVA"
                                        type="text"
                                        class="form-control"
                                        [max]="100"
                                        [(ngModel)]="formulaire.tauxTVA"
                                        (blur)="actualiserMontantsApresTauxTVA()"
                                        [disabled]="verrouille"
                                    >
                                    <span class="input-group-addon"><fa-icon
                                        icon="percent"></fa-icon></span>

                                </div>
                            </div>
                        </section>

                        <section class="flex-section flex-row">
                            <!-- Nouveau montant du contrat -->
                            <div>
                                <label>Nouveau montant du contrat </label>
                                <div class="controls w-80 mt-4">
                                <span [tooltip]="getLibelleStatut()" >
                                    {{ this.round(contrat.montant + this.formulaire.montantHTChiffre) }} {{ devise.symbole }}
                                </span>
                                </div>
                            </div>
                        </section>
                    </ng-container>

                    <section class="flex-section flex-row">

                        <!-- Clause de réexamen -->
                        <div class="flex-section flex-column w-100">
                            <label for="clauseReexamen">Clause de réexamen <ltexec-asterisk></ltexec-asterisk></label>

                            <ui-switch
                                [(ngModel)]="formulaire.clauseReexamen"
                                class="checkbox-input"
                                id="clauseReexamen"
                                name="clauseReexamen"
                                [disabled]="verrouille"
                            ></ui-switch>
                        </div>

                        <!-- Nouvelle date de fin de contrat  -->
                        <div class="flex-section flex-column w-100 pr-1">
                            <label>Nouvelle date de fin de contrat</label>
                            <div  class="controls w-100 pr-1">
                                <div class="input-group datepicker-group">
                                    <input
                                        [bsConfig]="formulaire.DATEPICKER_CONFIGURATION"
                                        [(ngModel)]="formulaire.nouvelleFinContrat"
                                        [maxDate]="getMaxDateFinContrat()"
                                        bsDatepicker
                                        (ngModelChange)="updateDureeAjoureeContrat($event)"
                                        class="form-control"
                                        id="nouvelleDateFinContrat"
                                        name="nouvelleDateFinContrat"
                                        [disabled]="verrouille"
                                    >
                                    <span class="input-group-addon"><fa-icon icon="calendar"></fa-icon></span>
                                </div>
                            </div>
                        </div>

                        <!-- Durée ajourée du contrat -->
                        <div class="flex-section flex-column w-100">
                            <label>Durée ajourée du contrat (jours)</label>
                            <div  class="controls w-100 pr-1">
                                <input
                                    class="form-control input-sm"
                                    id="dureeAjoureeContrat"
                                    name="dureeAjoureeContrat"
                                    type="number"
                                    [(ngModel)]="formulaire.dureeAjoureeContrat"
                                    (ngModelChange)="updateNouvelleFinContrat()"
                                    [disabled]="verrouille"
                                >

                            </div>
                        </div>
                    </section>
                </fieldset>

                <!-- notification de l'acte -->
                <fieldset>
                    <legend>Notification de l'acte</legend>

                    <section class="flex-section flex-row">
                        <!-- acte notifié -->
                        <div class="flex-section flex-column w-33 pr-1">
                            <label for="notification">Acte notifié</label>
                            <ui-switch
                                [(ngModel)]="formulaire.notification"
                                class="checkbox-input"
                                id="notification"
                                name="notification"
                                [disabled]="verrouille"
                            ></ui-switch>
                        </div>

                        <!-- date de notification -->
                        <div class="flex-section flex-column w-33 pr-1">
                            <ng-container *ngIf="formulaire.notification">
                                <label for="dateNotification" *ngIf="!contrat.concession">Date de notification
                                    <ltexec-asterisk></ltexec-asterisk>
                                </label>
                                <label for="dateNotification" *ngIf="contrat.concession">Date de signature de la modification
                                    <ltexec-asterisk></ltexec-asterisk>
                                </label>

                                <div class="controls w-100 pr-1">
                                    <div class="input-group datepicker-group">
                                        <input
                                            [bsConfig]="formulaire.DATEPICKER_CONFIGURATION"
                                            [(ngModel)]="formulaire.dateNotification"
                                            bsDatepicker
                                            class="form-control"
                                            id="dateNotification"
                                            name="dateNotification"
                                            required
                                            [disabled]="verrouille"
                                        >
                                        <span class="input-group-addon"><fa-icon icon="calendar"></fa-icon></span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                        <!-- données essentielles -->
                        <div class="flex-section flex-column w-33">
                            <ng-container *ngIf="formulaire.donneesEssentielles">
                                <label for="commentaire">
                                    Données essentielles&nbsp;
                                </label>
                                <div class="w-100 mt-8">
                                    <div [ngSwitch]="formulaire.donneesEssentielles?.statut">
                                        <div *ngSwitchCase="'PUBLIE'">
                                            <span class="m-r-10 text-success">Publié&nbsp;<i class="fas fa-check fa-lg txt-delivered"></i></span>
                                            <span class="m-r-10" *ngIf="formulaire.donneesEssentielles.datePublication">Date publication : {{ formulaire.donneesEssentielles?.datePublication | date: 'dd/MM/yyyy' }}</span>
                                        </div>
                                        <div *ngSwitchCase="'ERROR'">
                                            <span class="m-r-10 text-danger">Erreur de publication&nbsp;<i [tooltip]="formulaire.donneesEssentielles?.erreurPublication" class="m-l-1 fas fa-times-circle fa-lg txt-undelivered"></i></span>
                                            <span class="m-l-10">{{formulaire.donneesEssentielles?.erreurPublication}}</span>
                                        </div>
                                        <div *ngSwitchCase="'EN_COURS'">
                                            <span class="m-r-10 text-info">En cours de publication&nbsp;<i class="m-l-1 fas fa-clock fa-lg"></i></span>
                                        </div>
                                        <div *ngSwitchCase="'A_PUBLIER'">
                                            <span class="m-r-10 text-info">A publier&nbsp;<i class="m-l-1 fas fa-clock fa-lg"></i></span>
                                        </div>
                                        <div *ngSwitchCase="'NON_PUBLIE'">
                                            <span class="m-r-10 text-muted">Non publié&nbsp;<i class="m-l-1 far fa-bell-slash fa-lg"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </section>
                </fieldset>

                <!-- informations complémentaires -->
                <fieldset>
                    <legend>Informations complémentaires</legend>
                    <!-- commentaire -->
                    <div>
                        <label for="commentaire">
                            <strong>
                                Commentaire
                            </strong>
                        </label>

                        <div>
                            <textarea
                                [(ngModel)]="formulaire.commentaire"
                                id="commentaire"
                                name="commentaire"
                                class="form-control"
                                maxlength="255"
                                [disabled]="verrouille"
                            ></textarea>
                        </div>
                    </div>
                </fieldset>

                <!-- CHORUS -->
                <fieldset *ngIf="estEligibileCHORUS()">
                    <legend>CHORUS</legend>

                    <!-- envoi CHORUS -->
                    <section class="flex-section flex-row">
                        <div class="flex-section flex-column w-100">
                            <label for="envoiCHORUS">Envoi à CHORUS</label>

                            <ui-switch
                                [(ngModel)]="formulaire.chorus.actif"
                                class="checkbox-input"
                                id="envoiCHORUS"
                                name="envoiCHORUS"
                                [disabled]="verrouille"
                            ></ui-switch>
                        </div>
                    </section>

                    <section *ngIf="formulaire.chorus.actif">
                        <!-- Visa ACCF -->
                        <div class="flex-section flex-column w-100 pr-1">
                            <label for="visaACCF">Visa ACCF</label>

                            <ng-select
                                [(ngModel)]="formulaire.chorus.visaACCF"
                                [closeOnSelect]="true"
                                [items]="VISAS_ACCF"
                                bindValue="code"
                                bindLabel="label"
                                id="visaACCF"
                                name="visaACCF"
                                [searchable]="false"
                                [multiple]="false"
                                placeholder="Sélectionnez"
                                [disabled]="verrouille"
                            >
                            </ng-select>
                        </div>

                        <!-- Visa Préfet -->
                        <div class="flex-section flex-column w-100 pr-1">
                            <label for="visaPrefet">Visa Préfet</label>

                                <ng-select
                                    [(ngModel)]="formulaire.chorus.visaPrefet"
                                    [closeOnSelect]="true"
                                    [items]="VISAS_PREFET"
                                    bindValue="code"
                                    bindLabel="label"
                                    id="visaPrefet"
                                    name="visaPrefet"
                                    [searchable]="false"
                                    [multiple]="false"
                                    placeholder="Sélectionnez"
                                    [disabled]="verrouille"
                                >
                                </ng-select>
                        </div>

                        <!-- Type de fournisseur entreprise 1 -->
                        <div>
                            <label for="typeFournisseurEntreprise1">Type de fournisseur entreprise 1</label>

                            <ng-select
                                [(ngModel)]="formulaire.chorus.typeFournisseurEntreprise1"
                                [closeOnSelect]="true"
                                [items]="TYPES_FOURNISSEUR_ENTREPRISE"
                                bindValue="code"
                                bindLabel="label"
                                id="typeFournisseurEntreprise1"
                                name="typeFournisseurEntreprise1"
                                [searchable]="false"
                                [multiple]="false"
                                placeholder="Sélectionnez"
                                [disabled]="verrouille"
                            >
                            </ng-select>
                        </div>
                    </section>

                </fieldset>

                <!-- documents -->
                <fieldset>
                    <legend>Documents</legend>

                    <!-- documents -->
                    <div class="form-group form-group-sm">
                        <div class="col-md-12">
                            <ltexec-acte-document-upload
                                (sizeChange)="actualiser($event)"
                                [piecesJointes]="formulaire.piecesJointes"
                            ></ltexec-acte-document-upload>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="panel-footer form-group form-actions clearfix" *ngIf="!this.formulaire.id">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" value="Annuler" (click)="retour()">Annuler</button>
                <button type="button" class="btn btn-sm btn-success" [class.disabled]="!estValide(contratForm)" [disabled]="!estValide(contratForm)" value="Valider" (click)="creer()"><i class="fa fa-check"></i> Valider</button>
            </div>
        </div>

        <div class="panel-footer form-group form-actions clearfix" *ngIf="this.formulaire.id">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" value="Annuler" (click)="retour()">Annuler</button>
                <button [class.disabled]="!estValide(contratForm)" [disabled]="!estValide(contratForm)"
                        class="btn btn-danger btn-sm" data-target=".modal-acteSuppression" data-toggle="modal"
                        title="Supprimer" type="button">Supprimer
                </button>
                <button type="button" class="btn btn-sm btn-success" [class.disabled]="verrouille || !estValide(contratForm)" [disabled]="!estValide(contratForm)" value="Modifier" (click)="modifier()"><i class="fa fa-check"></i> Modifier</button>
            </div>
        </div>
    </form>
</div>


<!-- Debut Modal Suppression Acte -->
<div class="modal fade modal-acteSuppression" tabindex="-1" role="dialog"
     aria-labelledby="titreDialogue_acteSuppression" aria-hidden="true" id="myModal_contactSuppression">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_acteSuppression">Suppression de l'acte n°{{acte?.numero }} </h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer cet acte?</p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="supprimer(acte)" class="btn btn-default btn-primary" data-dismiss="modal">Poursuivre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
