body
  display: flex
  margin: 0
  padding: 0
  flex-direction: column
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px !important

.anchor
  cursor: pointer
  &:hover
    color: #333

.container
  .bg-danger
    .toast-header
      background-color: #930000
      color: #fff
    .close, .close:hover
      color: #fff

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

*:hover, *:focus
  outline: none !important

a, a:hover
  text-decoration: none
  font-weight: inherit
  color: inherit

pre, code
  font-size: 12px
  font-weight: 600
  border-radius: 5px
  font-family: monospace

body
  background: #f5f5f5

.toast
  min-width: 422px
  max-width: 422px
  &-body
    overflow-x: auto
    font-size: 12px

.dropdown
  outline: none
  &:hover
    outline: none
  &-menu
    width: 200px
  &-item
    font-size: 12px
    padding: 0.25rem 0.5rem
