.welcome
  display: flex
  align-items: center
  img
    width: 82px
    margin: 12px 24px 12px 12px
  &-title
    font-size: 1.6em
    display: inline-block
  &-disclaimer
    margin-top: 24px
    display: inline-block
