<div class="welcome">
  <img [src]="baseHref+'assets/images/logo.png'" alt="redaction">
  <section>
    <span class="welcome-title">
      Bienvenue sur REDAC, l'outil de rédaction des documents
    </span>
      <span class="welcome-disclaimer">
      Connectez-vous pour commencer, choisissez ensuite une entrée dans le menu
    </span>
  </section>
</div>
