<template>
  <v-app>
    <spinner-component v-if="loading"></spinner-component>
    <alert-dialog-component :show="alert.show"
                            :header="alert.header"
                            :type="alert.type"
                            :icon="alert.icon"
                            :message="alert.message"
                            :button="alert.button"
                            @close-alert="closeAlert"></alert-dialog-component>
    <v-snackbar
        v-model="message.snackbar"
        :color="message.color"
        :multi-line="true"
        timeout="10000"
        top
    >
      {{ $t(message.message) }}

      <template v-slot:action="{ attrs }">
        <v-btn
            dark
            text
            v-bind="attrs"
            @click="$store.dispatch('application/closeMessage')"
        >
          {{ $t('close') }}
        </v-btn>
      </template>
    </v-snackbar>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Vue from "vue";
import AlertDialogComponent from "@/components/alert/AlertDialogComponent"
import SpinnerComponent from "@/components/SpinnerComponent";

export default Vue.extend({
  name: "App",
  components: {SpinnerComponent, AlertDialogComponent},
  computed: {
    message() {
      return this.$store.state.application.message
    },
    alert() {
      return this.$store.state.application.alert
    }, loading() {
      return this.$store.state.application.loading
    }
  },
  mounted() {
    this.$store.dispatch('application/setToken', sessionStorage.getItem('token'));
  },
  methods: {
    closeAlert() {
      this.$store.dispatch('application/closeAlert');
      if (this.alert.closeWindow) {
        window.opener = self;
        window.close()
      }
      if (this.alert.reloadWindow) {
        window.location.reload();
      }
    }
  }
});
</script>
<style scoped>
@import "./assets/css/atx-app.css";
@import "./assets/css/styles.css";

</style>
