<section id="formulaire-page" *ngIf="param">
  <atx-breadcrumb class="col-12" [breadcrumb]="param" [export]="true"
                  [loadingExport]="loadingExport"
                  [loadingImport]="loadingImport"
                  [import]="true" (onClickImport)="importer($event)"
                  (onClickExport)="export()"></atx-breadcrumb>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div *ngIf="!loading" class="col-12 form-group">
    <label>Plateforme à configurer</label>
    <div class="controls">
      <fieldset class="form-group">
        <ng-select
          #sortField
          (blur)="sortField.close()"
          name="sortField"
          bindLabel="idPlateforme"
          [items]="plateformeConfigurations"
          [(ngModel)]="plateformeConfiguration"
          [notFoundText]="'aucun' | translate"
        >
        </ng-select>
      </fieldset>
    </div>

  </div>
  <div class="row" *ngIf="!loading && plateformeConfiguration">
    <div class="card card col-12">
      <div class="card-header font-weight-bolder p-0 header-field">
        <div class="header-forms">
          <div class="d-flex justify-content-center">
            <div>
              <button (click)="extended = !extended"
                      class="btn btn-primary primary-client-bg-border">
                <i class="la {{extended?'la-chevron-up':'la-chevron-down'}}"></i>
              </button>
            </div>
            <div style="margin: auto; cursor: pointer; background: white" class="ml-1 bg-white card-body"
                 (click)="extended=!extended">
              <div class="font-weight-bold pl-1 pr-1"> Informations générales
                de {{ plateformeConfiguration.idPlateforme }}
              </div>
            </div>

          </div>
        </div>
        <hr *ngIf="extended" class="mt-0"/>

      </div>


      <div *ngIf="extended" class="row mt-1">
        <div class=" col-sm-12 col-md-3 form-group">
          <label>Pays</label>
          <div class="controls">
            <input
              type="text" class="form-control"
              [(ngModel)]="plateformeConfiguration.pays"
              #modelForm="ngModel"
              id="pays" name="pays"
            >
          </div>

        </div>
        <div class=" col-sm-12 col-md-4 form-group">
          <label>Token Eforms</label>
          <div class="controls">
            <input
              type="text" class="form-control"
              [(ngModel)]="plateformeConfiguration.eformsToken"
              #modelForm="ngModel"
              id="eformsToken" name="eformsToken"
            >
          </div>

        </div>
        <div class=" col-sm-12 col-md-5 form-group">
          <label>Supports séléctionnés</label>
          <div class="controls">
            <fieldset class="form-group">
              <ng-select
                #sortField
                (blur)="sortField.close()"
                [clearable]="true"
                [multiple]="true"
                name="sortField"
                bindValue="code"
                bindLabel="libelle"
                [items]="supports"
                [(ngModel)]="plateformeConfiguration.supports"
                [notFoundText]="'aucun' | translate"
              >
                <ng-template
                  ng-label-tmp
                  let-item="item">
                  <atx-referentiel-select-item [item]="item"
                                               [delete]="true"
                                               (onDeleteItem)="deleteItem(item, plateformeConfiguration.supports)">

                  </atx-referentiel-select-item>
                </ng-template>
                <ng-template
                  ng-option-tmp
                  let-item="item">
                  <atx-referentiel-select-item [item]="item">
                  </atx-referentiel-select-item>
                </ng-template>
              </ng-select>
            </fieldset>
          </div>

        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="national">Filtre par supports national</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.national"
                     #modelForm="ngModel"
                     id="national" name="national"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="europeen">Filtre par supports Européens</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.europeen"
                     #modelForm="ngModel"
                     id="europeen" name="europeen"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="jal">Filtre par supports JAL</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.jal"
                     #modelForm="ngModel"
                     id="jal" name="jal"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="pqr">Filtre par supports PQR</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.pqr"
                     #modelForm="ngModel"
                     id="pqr" name="pqr"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="associationProcedure">Filtre par procédures</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.associationProcedure"
                     #modelForm="ngModel"
                     id="associationProcedure" name="associationProcedure"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="associationOrganisme">Filtre par organismes</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.associationOrganisme"
                     #modelForm="ngModel"
                     id="associationOrganisme" name="associationOrganisme"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="validationObligatoire">Validation obligatoire</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.validationObligatoire"
                     #modelForm="ngModel"
                     id="validationObligatoire" name="validationObligatoire"
              >
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="groupement">Affichage par regroupement</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="plateformeConfiguration.groupement"
                     #modelForm="ngModel"
                     id="groupement" name="groupement"
              >
            </fieldset>
          </div>
        </div>
      </div>
      <div *ngIf="extended" class="form-actions text-right pr-0 pl-0">
        <input (change)="importer($event)" id="fileInput" style="display:none;" type="file" accept=".csv"/>

        <button
          [disabled]="loadingSave"
          class="btn btn-primary primary-client-bg-border btn-sm pl-1"
          (click)="save()">
          <i *ngIf="!loadingSave" class="la la-save"></i>
          <i *ngIf="loadingSave" class="la la-spin la-spinner"></i>
          {{ 'save' | translate }}
        </button>

      </div>

    </div>
  </div>
  <div class="row" *ngIf="!loading && plateformeConfiguration">
    <div class="card card col-12">
      <div class="card-header font-weight-bolder p-0 header-field">
        <div class="header-forms">
          <div class="d-flex justify-content-center">
            <div>
              <button (click)="extendedFormulaireEuropeen = !extendedFormulaireEuropeen"
                      class="btn btn-primary primary-client-bg-border">
                <i class="la {{extendedFormulaireEuropeen?'la-chevron-up':'la-chevron-down'}}"></i>
              </button>
            </div>
            <div style="margin: auto; cursor: pointer; background: white" class="ml-1 bg-white card-body"
                 (click)="extendedFormulaireEuropeen=!extendedFormulaireEuropeen">
              <div class="font-weight-bold pl-1 pr-1"> Configuration des formulaires européens de
                de {{ plateformeConfiguration.idPlateforme }}
              </div>
            </div>

          </div>
        </div>
        <hr *ngIf="extendedFormulaireEuropeen" class="mt-0"/>

      </div>


      <div *ngIf="extendedFormulaireEuropeen" class="row mt-1">
        <div class="col-12 form-group">
          <label>Offre à configurer</label>
          <div class="controls">
            <fieldset class="form-group">
              <ng-select
                #sortField
                (blur)="sortField.close()"
                name="sortField"
                bindLabel="libelle"
                [items]="europeenOffres"
                [(ngModel)]="selectedOffre"
                [notFoundText]="'aucun' | translate"
                (ngModelChange)="chargerFormulaire($event)"
              >
                <ng-template
                  ng-label-tmp
                  let-item="item">
                  <atx-referentiel-select-item [item]="item">

                  </atx-referentiel-select-item>
                </ng-template>
                <ng-template
                  ng-option-tmp
                  let-item="item">
                  <atx-referentiel-select-item [item]="item">
                  </atx-referentiel-select-item>
                </ng-template>
              </ng-select>
            </fieldset>
          </div>
          <div *ngIf="structure && selectedOffre">
            <div>Metadata</div>
            <atx-content-treeview [metadata]="structure.metadata" [niveau]="0"
                                  [plateforme]="plateformeConfiguration.idPlateforme"
                                  [noticeId]="this.selectedOffre.code.replace('_ENOTICES', '')"
                                  [noticelibelle]="this.selectedOffre.libelle"
            ></atx-content-treeview>
            <div>Contents</div>
            <atx-content-treeview [metadata]="structure.content" [niveau]="0"
                                  [plateforme]="plateformeConfiguration.idPlateforme"
                                  [noticelibelle]="this.selectedOffre.libelle"
                                  [noticeId]="this.selectedOffre.code.replace('_ENOTICES', '')"></atx-content-treeview>
          </div>
        </div>
      </div>
      <div *ngIf="extendedFormulaireEuropeen" class="form-actions text-right pr-0 pl-0">
        <button
          [disabled]="loadingSave"
          class="btn btn-primary primary-client-bg-border btn-sm"
          (click)="save()">
          <i *ngIf="!loadingSave" class="la la-save"></i>
          <i *ngIf="loadingSave" class="la la-spin la-spinner"></i>
          {{ 'save' | translate }}
        </button>

      </div>

    </div>
  </div>
</section>
