<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
            integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"
            integrity="sha384-VoPFvGr9GxhDT3n8vqqZ46twP5lgex+raTCfICQy73NLhN7ZqSfCtfSn4mLA2EFA"
            crossorigin="anonymous"></script>
</head>
<body>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Fichier de log</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for log in  directoryLog %}
        <tr>
            <td>{{ log }}</td>
            <td>
                <span class="fa fa-download" data="{{ log }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.fa-download').on('click', function () {
            var file = $(this).attr('data');
            $.ajax({
                url: "{{ path('downloadLogger') }}",
                method: 'POST',
                data: 'file=' + file,
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = file;
                    a.click();
                    window.URL.revokeObjectURL(url);
                }
            });
        })
    });
</script>

</body>
</html>