<template>
  <div>
  <div id="home" class="page">
    <img src="../assets/atexo.png" alt="atexo_img"
         width="300">
    <h1>{{ msg }}</h1>
    <br/>

  </div>

  </div>
</template>

<script>



export default {
  name: "Home",
  data() {
    return {
      msg: 'Bienvenue sur le Serveur ADMIN'
    }
  }
}
</script>
<style>
#home {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2C3E50;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42B983;
}
</style>






