<template>
  <div class="page">
    <choix-project
        @envoiProjName="launchMelody($event)"></choix-project>
  </div>
</template>

<script>
    import ChoixProject from "@/components/ChoixProject";

    export default {
  name: "Javamelody",
  components: {ChoixProject},
  methods: {
    launchMelody(projectName){
      window.open(window.location.origin+"/" + projectName +"/monitoring",'_blank');
    }
  }
}
</script>

<style scoped>

</style>