<template>
  <div class="page">
    <atx-title titre="Simulateur KAFKA"
               description="Send evenement de consutaltion"></atx-title>
    <div class="p-grid group-box">
      <v-row>
        <div class="col-3">
          <v-text-field
              v-model="consultation.uuid"
              label="Id de l'evenement de la consultation MPE"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="consultation.idObjetSource"
              label="Id de la consultation MPE"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="consultation.idObjetDestination"
              label="Reference de la consultation TNCP"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="consultation.retry"
              label="La latence d'execution (en minutes)"
          ></v-text-field>
        </div>
        <div class="col-9">
          <v-text-field
              v-model="consultation.url"
              label="URL MPE"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="consultation.uuidPlateforme"
              label="Identifiant plateforme"
          ></v-text-field>
        </div>
        <div class="col-6">
          <v-text-field
              v-model="consultation.login"
              label="Le login de MPE"
          ></v-text-field>
        </div>
        <div class="col-6">
          <v-text-field
              v-model="consultation.password"
              label="Le password de MPE"
          ></v-text-field>
        </div>
        <div class="col-12">
          <v-text-field
              v-model="consultation.token"
              label="Le token de MPE"
          ></v-text-field>
        </div>

        <div class="col-6">
          <v-select
              v-model="consultation.flux"
              :items="listFlux"
              label="Flux globale"
              required
          ></v-select>
        </div>
        <div class="col-6">
          <v-select
              v-model="consultation.type"
              :items="listType"
              label="Type de l'evenement"
              required
          ></v-select>
        </div>
      </v-row>
      <v-btn
          id="btn"
          color="success"
          class="mr-4"
          @click="sendRandom"
      >
        Send random Message
      </v-btn>
    </div>

  </div>
</template>
<script>
import TitreComponent from "@/components/TitreComponent";

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      consultation: null,
      listFlux: ['TNCP_SORTANTE'],
      listType: ["PUBLICATION_CONSULTATION", "PUBLICATION_LOT", "PUBLICATION_DCE", "VALIDATION_CONSULTATION", "MODIFICATION_CONSULTATION", "MODIFICATION_DCE", "MODIFICATION_RC"]
    }
  },
  methods: {
    sendRandom() {
      this.$store.dispatch("sendConsultation", this.consultation)
          .then(() => {
            console.log('random started')
          })
    }, generateUUID() {
      var d = new Date().getTime();//Timestamp
      var d2 = (performance && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16;//random number between 0 and 16
        if (d > 0) {//Use timestamp until depleted
          r = (d + r) % 16 | 0;
          d = Math.floor(d / 16);
        } else {//Use microseconds since page-load if supported
          r = (d2 + r) % 16 | 0;
          d2 = Math.floor(d2 / 16);
        }
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
    }

  },
  created() {
    this.$store.dispatch('getConsultation').then(value => {
      this.consultation = value;
    }, () => {
      this.consultation = {
        uuid: null,
        flux: "TNCP_SORTANTE",
        type: "PUBLICATION_CONSULTATION",
        idObjetSource: "idMpe",
        idObjetDestination: "referenceTncp",
        url: "https://mpe-release.local-trust.com",
        token: "a remplir",
        uuidPlateforme: "mpe_release",
        retry: 0
      }
    })

  }
}
</script>
<style>
</style>
