<template>
  <div class="page">
    <atx-title titre="Simulateur de MPE"
               description="Send Random consutaltion"></atx-title>
    <div class="p-grid group-box">
      Suivi :
      <br/>


      <v-data-table
          :headers="headersSuivi"
          :items="getFromString(messages['Suivi'])"
          :items-per-page="5"
          class="elevation-1"
      >
      </v-data-table>

    </div>
    <div class="p-grid group-box">
      Waiting :
      <br/>
      <v-data-table
          :headers="headersWaitingEvenement"
          :items="getFromString(messages['Waiting'])"
          :items-per-page="5"
          class="elevation-1"
      ></v-data-table>
    </div>
    <div class="p-grid group-box">
      Erreur :
      <br/>
      <v-data-table
          :headers="headersEvenement"
          :items="getFromString(messages['Erreur'])"
          :items-per-page="5"
          class="elevation-1"
      ></v-data-table>
    </div>
    <div class="p-grid group-box">
      Abandon :
      <br/>
      <v-data-table
          :headers="headersEvenement"
          :items="getFromString(messages['Abandon'])"
          :items-per-page="5"
          class="elevation-1"
      ></v-data-table>
    </div>
    <div class="p-grid group-box">
      Succes :
      <br/>
      <v-data-table
          :headers="headersEvenement"
          :items="getFromString(messages['Succes'])"
          :items-per-page="5"
          class="elevation-1"
      ></v-data-table>
    </div>
    <div class="p-grid group-box">
      <v-btn
          id="btn"
          color="success"
          class="mr-4"
          @click="sendRandom"
      >
        Send random Message
      </v-btn>
      <v-btn
          id="btn"
          color="success"
          class="mr-4 ml-4"
          @click="submitJob"
      >
        SUBMIT JOB
      </v-btn> <v-btn
          id="btn"
          color="warning"
          class="mr-4 ml-4"
          @click="rerunAbandon"
      >
        Re-run Abandon
      </v-btn>
    </div>

    <div class="p-grid group-box" v-if="jobs.length> 0">
      <v-row>
        <div class="col-12" v-for="job in jobs" :key="job.jobId">
          <v-card v-bind:class="job.status">

            <v-card-title>
              <p>
                <v-icon class="mr-1" :color="getColor(job.jobStatus)">{{ getIcon(job.jobStatus) }}</v-icon>
                <strong>{{ job.name }}</strong>
              </p>
            </v-card-title>

            <v-card-text>
              <v-timeline
                  align-top
                  dense
              >
                <v-timeline-item v-for="item of  getKeys(job)" v-bind:key="item.status"
                                 :icon="getIcon(item.status)"
                                 :color="getColor(item.status)"
                                 small
                >
                  <div>
                    <div class="font-weight-normal">
                      {{ item.status }} | @{{ getMoment(item.timestamp) }}
                    </div>
                  </div>
                </v-timeline-item>
              </v-timeline>

            </v-card-text>

            <v-card-actions>

              <v-btn
                  color="orange lighten-2" @click="killJob(job)"
                  text
              >
                Tuer le job
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-row>
    </div>
  </div>
</template>
<script>
import TitreComponent from "@/components/TitreComponent";

import * as moment from 'moment';

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  filters: {
    pretty: function (value) {
      return JSON.stringify(value, null, 2);
    }
  },
  data() {
    return {
      jobs: [],
      messages: {},
      headersEvenement: [
        {
          text: 'uuid',
          align: 'start',
          sortable: false,
          value: 'uuid',
        },
        {text: 'type', value: 'type'},
        {text: 'Etape', value: 'etape'},
        {text: 'id Objet Source', value: 'idObjetSource'},
        {text: 'id Objet Destination', value: 'idObjetDestination'},
        {text: 'url', value: 'url'},
        {text: 'uuid Plateforme', value: 'uuidPlateforme'},
        {text: 'date Envoi', value: 'dateEnvoi'},
        {text: 'date Reception', value: 'dateReception'},
        {text: 'retry', value: 'retry'},
      ], headersWaitingEvenement: [
        {
          text: 'uuid',
          align: 'start',
          sortable: false,
          value: 'uuid',
        },
        {text: 'type', value: 'type'},
        {text: 'Etape', value: 'etape'},
        {text: 'id Objet Source', value: 'idObjetSource'},
        {text: 'id Objet Destination', value: 'idObjetDestination'},
        {text: 'url', value: 'url'},
        {text: 'uuid Plateforme', value: 'uuidPlateforme'},
        {text: 'date Envoi', value: 'dateEnvoi'},
      ], headersSuivi: [
        {
          text: 'uuid',
          align: 'start',
          sortable: false,
          value: 'uuid',
        },
        {text: 'type', value: 'type'},
        {text: 'Etape', value: 'etape'},
        {text: 'id Objet Source', value: 'idObjetSource'},
        {text: 'id Objet Destination', value: 'idObjetDestination'},
        {text: 'uuid Plateforme', value: 'uuidPlateforme'},
        {text: 'statut', value: 'statut'},
        {text: 'date Envoi', value: 'dateEnvoi'},
        {text: 'message', value: 'message'},
      ],
    }
  },
  methods: {
    getFromString(list) {
      return list != null && list !== undefined ? list
          .filter(item => !!item)
          .map(value => {
            try {
              let parse = JSON.parse(value);
              return parse && parse.body ? JSON.parse(parse.body) : null;
            } catch (e) {
              console.error(e, value);
              return null;
            }

          }).filter(item => !!item) : [];
    },
    getKeys(job) {
      return Object.keys(job.timestamps).filter(value => {
        return job.timestamps[value] !== 0
      }).map(value => {
        return {status: value, timestamp: job.timestamps[value]}
      }).sort((a, b) => a.timestamp - b.timestamp);
    },
    sendRandom() {
      this.$store.dispatch("sendRandomConsultation")
          .then(() => {
            console.log('random started')
          })
    },
    getMessages() {
      this.$store.dispatch("getMessages")
          .then((result) => {
            console.log('random started')
            this.messages = result;
          })
    }, submitJob() {
      this.$store.dispatch("submitJob")
          .then(() => {
            this.getJobs();
          })
    },  rerunAbandon() {
      this.$store.dispatch("rerunAbandon")
          .then(() => {
            this.getJobs();
          })
    }, killJob(job) {
      let parse = JSON.parse(job.jsonPlan);
      console.log(parse)
      this.$store.dispatch('killJob',
          parse)
          .then(() => {
            this.getJobs();
          })
    }, getJobs() {
      this.$store.dispatch("getJobs")
          .then((data) => {
            this.jobs = data.sort((a, b) => {
              return b.startTime - a.startTime
            });
          })
    }, getMoment(date) {
      if (!date)
        return 'En cours'
      return moment(date).local().format('DD-MM-YYYY [a] hh:mm a');
    }, getIcon(status) {
      switch (status) {
        case 'FINISHED':
          return 'thumb_up'
        case 'FAILED':
          return 'thumb_down';
        case 'SUSPENDED':
        case 'CANCELED':
          return 'cancel';
        default:
          return 'edit'
      }
    },
    getColor(status) {
      switch (status) {
        case 'FINISHED':
        case 'CREATED':
        case 'CANCELED':
        case 'FINI':
          return 'green'
        case 'FAILED':
        case 'ERREUR':
          return 'red';
        case 'CANCELLING':
        case 'FAILING':
        case 'EN_ATTENTE':
          return 'orange';
        default :
          return 'blue';
      }
    }, isRunning(job) {
      return job.jobStatus === 'RUNNING';
    },
  }
  ,
  created() {
    this.getJobs();
    this.getMessages();
    setInterval(() => this.getMessages(), 5000);
  }
}
</script>
<style>
</style>
