<template>
  <div class="page">
    <div>Bearer {{token}}</div>
    <div id="swagger-atexo" class="page"/>
  </div>
</template>

<script>
    import SwaggerUI, {presets} from 'swagger-ui'

    export default {
    name: "Swagger",
    data() {
      return {
        token: null
      }
    },
    mounted() {
      this.$store.dispatch("getToken").then(value => {
        this.token = value;
        this.buildSwagger(value);
      })
    },
    methods: {

      buildSwagger(token) {
        SwaggerUI({
          url: window.location.origin + "/v3/api-docs",
          dom_id: '#swagger-atexo',
          presets: [presets.apis],
          deepLinking: true,
          authAction: {
            JWT: {
              name: "JWT",
              schema: {type: "apiKey", in: "header", name: "Authorization", description: ""},
              value: "Bearer " + token
            }
          }
        })
      }
    }
  }
</script>

<style>
  @import "../assets/css/swagger.css";


</style>
