<div *ngIf="agent" [title]="agent.prenom + ' ' + agent?.nom?.toUpperCase() +' ('+agent.identifiant+')'"
     class="user-row">

    <span class="avatar">

                <img [src]="'assets/images/portrait/small/default.png' | imageUrl"
                     alt="avatar">
                <i></i>
              </span>
    <span
            class="ml-1 mr-1 user-name text-bold-700">{{agent.prenom + ' ' + agent?.nom?.toUpperCase()}}</span>
    <span (click)="onDeleteItem.emit(agent)"
          *ngIf="delete"
          class="ng-value-icon right ng-star-inserted ml-1">×</span>
</div>
