<atx-select-clauses-filter
  [filter]="filter"
  [editeur]="editeur"
  (onChangeFilter)="pageable.page = 0;searchPage($event,pageable)"
></atx-select-clauses-filter>

<atx-pagination [pageable]="pageable" [showTriList]="false"
                [total]="total"
                (onChangePagination)="searchPage(filter,$event)">

</atx-pagination>
<div *ngIf="selectedClauses?.length>0">
  {{selectedClauses.length}} Clauses sélectionnées :
</div>
<div *ngFor="let item of selectedClauses ; let index=index" [title]="item.context"
     class="badge badge-primary primary-client-bg-border margin-left-5px">
  {{item.referenceClause}}
  <i class="fa fa-eye cursor-pointer margin-left-5px" (click)="preview(item)"></i>
  <i class="fa fa-trash cursor-pointer margin-left-5px" (click)="deleteClause(item)"></i>
</div>
<div class="row">
  <!-- right content section -->
  <div class="col-md-12">
    <div class="table-responsive mt-1">
      <table class="table table-bordered">
        <tr class="font-size-xsmall">
          <th>
            <input type="checkbox" [checked]="checked" [ngModel]="checked" (ngModelChange)="selectAll($event)">
          </th>
          <th>{{"redaction.clause.reference" | translate}}
            <i class="cursor-pointer fa fa-fw fa-sort{{getEtat('reference')}}"
               (click)="changeSort('reference')"></i>
          </th>
          <th>{{"redaction.clause.theme" | translate}}
            <i class="cursor-pointer fa fa-fw fa-sort{{getEtat('epmTRefThemeClause.libelle')}}"
               (click)="changeSort('epmTRefThemeClause.libelle')"></i>
          </th>
          <th>{{"redaction.clause.contenu" | translate}}
            <i
              class="cursor-pointer fa fa-fw fa-sort{{getEtat('attributaire.etablissement.fournisseur.raisonSociale')}}"
              (click)="changeSort('attributaire.etablissement.fournisseur.raisonSociale')"></i>

          </th>
          <th>{{"rechercherCanevas.txt.maj" | translate}}
            <i class="cursor-pointer fa fa-fw fa-sort{{getEtat('dateModification')}}"
               (click)="changeSort('dateModification')"></i>
          </th>
          <th>
          </th>

        </tr>
        <tr *ngFor="let clause of clauseList" class="font-size-xsmall">
          <td class="column-min-width">
            <input type="checkbox" [ngModel]="clause.checked" (ngModelChange)="clause.checked = $event; updateAll(clause)">

          </td>
          <td class="column-min-width">
            {{clause.referenceClause}}
          </td>
          <td class="column-min-width">
            {{clause.labelThemeClause}}
          </td>

          <td [title]="clause.context">
            {{clause.context}}
          </td>
          <td class="column-min-width">
            {{clause.dateModification | date:'dd/MM/yyyy HH:mm' : 'fr-FR'}}
          </td>
          <td class="column-min-width">

            <button (click)="preview(clause)" type="button"
                    class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
              <i class="fa fa-eye"></i>
            </button>
          </td>

        </tr>
      </table>
    </div>

  </div>
</div>
