<li>
    <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
        {{ 'DEFINE_TEXT_AIDE_AGENT'|trans|e }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="container-fluid">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntreprisePremiereVisite">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'TEXT_PREMIERE_VISITE'|trans|e }}
                    </a>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseGuide&Aide">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_TEXT_ASSISTANCE_GUIDE_AGENT'|trans|e }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('aides_assistance_telephonique', {calledFrom: 'entreprise'}) }}">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans|e }}
                    </a>
                </li>
                <li style="display:{% if atexo_menu.isDocumentsReference() == true %}block{% else %}none{% endif %};">
                    <a href="{{ PF_URL }}?page=Entreprise.DocumentsDeReference&callFrom=entreprise"
                       title="Documents de référence (nouvelle fenêtre)">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_DOCUMENTS_REFERENCE'|trans|e }}
                    </a>
                </li>
                {# Note : Cette partie = isAutoFormation ne sert plus ? #}
                <li style="display:{% if atexo_menu.isAutoFormation() == true %}block{% else %}none{% endif %};"></li>
                <li style="display:{% if atexo_menu.isAnnoncesMarches() == false %}block{% else %}none{% endif %};">
                    <a href="{{ path('aides_outils_informatiques', {calledFrom: 'entreprise'}) }}">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'TEXT_OUTILS_INFORMATIQUES'|trans|e }}
                    </a>
                </li>

                {% if isEnabled('ModulesAutoformation') %}
                    <li>
                        <a href="{{ path('module_autoformation_rubrique_entreprise', {'_type': 'entreprise'}) }}">
                            <span class="fa fa-chevron-right"></span>
                            {{ 'TEXT_MODULE_AUTOFORMATION_ENTREPRISE'|trans|e }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
</li>
