<li class="{% if atexo_menu.isDossierVolumineux() == false %}hide{% endif %}">
    <a href="{{ path('dossier_volumineux_entreprise_gestion') }}">
        {{ 'DEFINE_DOSSIERS_VOLUMINEUX' | trans|e }}
    </a>
</li>
