<li style="display:{% if  atexo_menu.isEntiteAchat() ==true %}block{% else %}none{% endif %};">
    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseVisualiserEntitesAchatsRecherche">
        {{ 'TEXT_ENTITES_ACHAT' | trans|e }}
    </a>
</li>

{# TODO REMPLACER LE STYLE BLOCK HIDDEN AVEC UNE CONDITION AU NIVEAU DU SERVICE MENU #}
