<li>
    <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
        {{ 'TITRE_MENU_AGENT_PERSONNALISE'|trans|e }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span>
    </a>
    <ul class="dropdown-menu">
        {% if info is defined %}
            {% for menuLink in info['liens_menu_personnalise'] %}
                <li>
                    <a href="{{ menuLink.url }}" target="_blank">
                        <span class="fa fa-chevron-right"></span>
                        {{ menuLink.label|e }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</li>
