<li class="{% if atexo_menu.isPanier() == false %}hide{% endif %}">
    <a href="#" class="dropdown-toggle pull-left"
       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ 'DEFINE_MON_PANIER'|trans|e }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="container-fluid">
            <ul class="list-unstyled">
                <li class="dropdown-header">
                    <div class="h4">
                        {{ 'DEFINE_CONSULTATION_EN_COURS' | trans|e }}
                    </div>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'TEXT_TOUTES_CONSULTATION'  | trans|e }}
                    </a>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;retraits">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_AVEC'|trans|e }}
                    </a>
                    /
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;sansRetraits">
                        {{ 'DEFINE_SANS_RETRAIT' | trans|e }}
                    </a>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;questions">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_AVEC'|trans|e }}
                    </a>
                    /
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;sansQuestions">
                        {{ 'DEFINE_SANS_QUESTION_POSEE' | trans|e }}
                    </a>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;depots">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_AVEC'|trans|e }}
                    </a>
                    /
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;sansDepots">
                        {{ 'DEFINE_SANS_DEPOT' | trans|e }}
                    </a>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;echanges">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_AVEC'|trans|e }}
                    </a>

                    /
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;sansEchanges">
                        {{ 'DEFINE_SANS_MESSAGE_ECHANGE' | trans|e }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;panierEntreprise&amp;panierEntreprise&amp;dateFinEnd">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DEFINE_CONSULTATIONS_CLOTUREES' | trans|e }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons&amp;panierEntreprise">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'TEXT_RECHERCHE_AVANCEE' | trans|e }}
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</li>
