<li>
    <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
        {{ 'TEXT_SOCIETES_EXCLUES'|trans }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="container-fluid">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('download_societes_exclues') }}">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'DOWNLOAD_SOCIETES_EXCLUES'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
