{% extends 'administration.html.twig' %}
{% block title %}{{ 'LISTE_AGENT_TEC'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('interface-suivi') }}
{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-lg-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h2>
                        {{ 'FILTERS'|trans }}
                    </h2>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="form-body" id="formTNCP">
                                <div class="row">
                                    <div class="col-lg-4 col-4">
                                        <div class="form-group">
                                            <label for="uuid">
                                                {{ 'UUID'|trans }} :
                                            </label>
                                            {{ form_widget(form.uuid) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="interface">
                                                    {{ 'DEFINE_FLUX'|trans }} :
                                                </label>
                                                {{ form_widget(form.flux) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <fieldset class="form-group">
                                            <label for="dateRange">
                                                {{ 'TEXT_DATE_ENVOI'|trans }} :
                                            </label>
                                            <div class="input-group">
                                                {{ form_widget(form.dateEnvoi) }}
                                                <div class="input-group-addon rounded-right calendarTriggerEvent">
                                                    <span class="la la-calendar"></span>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-2">
                                        <div class="form-group">
                                            <label for="objet-local">
                                                {{ 'LOCAL_OBJECT'|trans }} :
                                            </label>
                                            {{ form_widget(form.consultation) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-2">
                                        <div class="form-group">
                                            <label for="objet-local">
                                                {{ 'DISTANT_OBJECT'|trans }} :
                                            </label>
                                            {{ form_widget(form.idObjetDestination) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="interface">
                                                    {{ 'DEFINE_ACTIONS'|trans }} :
                                                </label>
                                                {{ form_widget(form.action) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-2">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="interface">
                                                    {{ 'DEFINE_STATUS'|trans }} :
                                                </label>
                                                {{ form_widget(form.statut) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-2">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="interface">
                                                    {{ 'ETAPE'|trans }} :
                                                </label>
                                                {{ form_widget(form.etape) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-2">
                                        <div class="form-group">
                                            <div class="controls">
                                                <label for="interface">
                                                    {{ form_label(form.annonce) }} :
                                                </label>
                                                {{ form_widget(form.annonce) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions right">
                                <button type="submit" class="btn btn-blue btn-darken-3 bleu">
                                    {{ 'FILTER'|trans }}
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <form id="tncp-form" method="post" action="{{ path('superadmin_interface_suivi_republish') }}">
        <div class="col-lg-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h2>
                        {{ 'SUIVI_FLUX'|trans }}
                    </h2>
                </div>
                <div class="card-content">
                    <div class="card-body pb-1">
                        <div class="row">
                            <div class="col-10 col-lg-10">&nbsp;</div>
                            <div class="col-2 col-lg-2">
                                <div class="row pull-right">
                                    <div class="col-3 col-lg-3 paginator-text paginator-text--right">
                                        {{ 'PAGE'|trans }}
                                    </div>
                                    <div class="col-4 col-lg-4 paginator-input">
                                        <input class="goto-page form-control form-control" data-last-page="{{ paginator.last }}" data-link="{{ paginator.goto }}"  value="{{ paginator.current }}"/>
                                    </div>
                                    <div class="col-5 col-lg-5 paginator-text paginator-text--left">
                                        {{ 'TEXT_SUR'|trans }} {{ paginator.last }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="btn-group pull-right mb-1" role="group" aria-label="Basic example">
                                    {% if paginator.next is not defined and (paginator.current - 2) > 0 %} <a type="button" href="{{ paginator.goto ~ (paginator.current - 2) }}" class="btn btn-outline-blue">{{ paginator.current - 2 }}</a> {% endif %}
                                    {% if paginator.previous is defined %} <a type="button" href="{{ paginator.previous }}" class="btn btn-outline-blue">{{ paginator.current - 1 }}</a> {% endif %}
                                    <button type="button" class="btn btn-blue white">{{ paginator.current }}</button>
                                    {% if paginator.next is defined %}<a type="button"  href="{{ paginator.next }}" class="btn btn-outline-blue">{{ paginator.current + 1 }}</a> {% endif %}
                                    {% if paginator.previous is not defined and (paginator.current + 2) <=  paginator.last %} <a type="button" href="{{ paginator.goto ~ (paginator.current + 2) }}" class="btn btn-outline-blue">{{ paginator.current + 2 }}</a> {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-12 col-lg-12 ">
                                <table class="table table-striped table-bordered dataTable" id="TableTNCP">
                                    <thead>
                                    <tr role="row">
                                        <th class="select-content">
                                            <input type="checkbox" class="icheck checkAll">
                                        </th>
                                        <th>
                                            {{ 'UUID'|trans }}
                                        </th>
                                        <th>
                                            {{ 'DEFINE_FLUX'|trans }}
                                        </th>
                                        <th>
                                            {{ 'DEFINE_ACTIONS'|trans }}
                                        </th>
                                        <th>
                                            {{ 'DEFINE_STATUS'|trans }}
                                        </th>
                                        <th>
                                            {{ 'TEXT_DATE_ENVOI'|trans }}
                                        </th>
                                        <th>
                                            {{ 'LOCAL_OBJECT'|trans }}
                                        </th>
                                        <th>
                                            {{ 'DISTANT_OBJECT'|trans }}
                                        </th>
                                        <th>
                                            {{ 'ETAPE'|trans }}
                                        </th>
                                        <th>
                                            {{ 'DEFINE_ANNONCES'|trans }}
                                        </th>
                                        <th>
                                            {{ 'TEXT_MESSAGE'|trans }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for message in messages %}
                                    <tr role="row">
                                        <td class="select-content">
                                            <input type="checkbox" class="icheck" name="messages[]" value="{{ message.id }}">
                                        </td>
                                        <td>
                                            {{ message.uuid }}
                                        </td>
                                        <td>
                                            {{ message.flux }}
                                        </td>
                                        <td>
                                            {{ message.action }}
                                        </td>
                                        <td>
                                            {% if message.statut == constant('App\\Entity\\InterfaceSuivi::STATUS_EN_ATTENTE') %}
                                                {% set statutText = constant('App\\Entity\\InterfaceSuivi::STATUS_EN_ATTENTE_TEXT') %}
                                                {% set statutClass = 'bg-warning' %}
                                            {% elseif message.statut == constant('App\\Entity\\InterfaceSuivi::STATUS_EN_COURS') %}
                                                {% set statutText = constant('App\\Entity\\InterfaceSuivi::STATUS_EN_COURS_TEXT') %}
                                                {% set statutClass = 'bg-info' %}
                                            {% elseif message.statut == constant('App\\Entity\\InterfaceSuivi::STATUS_FINI') %}
                                                {% set statutText = constant('App\\Entity\\InterfaceSuivi::STATUS_FINI_TEXT') %}
                                                {% set statutClass = 'bg-success' %}
                                            {% elseif message.statut == constant('App\\Entity\\InterfaceSuivi::STATUS_ERREUR') %}
                                                {% set statutText = constant('App\\Entity\\InterfaceSuivi::STATUS_ERREUR_TEXT') %}
                                                {% set statutClass = 'bg-danger' %}
                                            {% else %}
                                                {% set statutText = '' %}
                                                {% set statutClass = '' %}
                                            {% endif %}
                                            <span class="badge badge-pill {{ statutClass }}">
                                            {{ statutText }}
                                          </span>
                                        </td>
                                        <td>
                                            {{ message.dateCreation|date('Y-m-d H:i:s') }}
                                        </td>
                                        <td>
                                            {% if message.consultation is not null %}
                                            {{ message.consultation|split('/consultations/')[1] }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ message.idObjetDestination }}
                                        </td>
                                        <td>
                                            {{ message.etape }}
                                        </td>
                                        <td>
                                            {% if message.annonce is not null %}
                                            {{ message.annonce|split('/annonce-boamps/')[1]}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="#">
                                                {{ message.message }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="btn-group pull-right mt-1" role="group" aria-label="Basic example">
                                    {% if paginator.next is not defined and (paginator.current - 2) > 0 %} <a type="button" href="{{ paginator.goto ~ (paginator.current - 2) }}" class="btn btn-outline-blue">{{ paginator.current - 2 }}</a> {% endif %}
                                    {% if paginator.previous is defined %} <a type="button" href="{{ paginator.previous }}" class="btn btn-outline-blue">{{ paginator.current - 1 }}</a> {% endif %}
                                    <button type="button" class="btn btn-blue white">{{ paginator.current }}</button>
                                    {% if paginator.next is defined %}<a type="button"  href="{{ paginator.next }}" class="btn btn-outline-blue">{{ paginator.current + 1 }}</a> {% endif %}
                                    {% if paginator.previous is not defined and (paginator.current + 2) <=  paginator.last %} <a type="button" href="{{ paginator.goto ~ (paginator.current + 2) }}" class="btn btn-outline-blue">{{ paginator.current + 2 }}</a> {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    {%
                        if app.user.hasHabilitationAdministrateur(
                        constant('App\\Entity\\HabilitationAdministrateur::ACCESS_INTERFACE_SUIVI_WRITE')
                    )
                    %}
                        <div class="form-actions right">
                            <input type="submit" value="{{ 'PUBLISH_MSG_AGAIN'|trans }}" class="btn btn-blue btn-darken-3 bleu mr-1"/>
                        </div>
                        <br />
                    {% endif %}

                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('interface-suivi') }}
{% endblock %}