<!-- Debut Modal Document pré-rempli-->
<div *ngIf="!documentsLibres" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)=" closeModal()" aria-label="Close" class="close"
                        type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" id="titreDialogue_documentAgentPrerempli">Ajouter un document
                    pré-rempli</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input_documentPrerempli_evenement">Événement</label>
                        <div class="controls col-sm-9">
                            <ng-select [(ngModel)]="creationDocumentGenereModel.evenement" [items]="evenements"
                                       [searchable]="true"
                                       name="input_documentPrerempli_evenement">
                                <ng-template let-item="item" ng-option-tmp>
                                <span class="ng-value-label">{{ item?.libelle }}
                                    - du <b>{{ item.dateDebut }}</b> au <b>{{ item.dateFin }}</b></span>
                                </ng-template>
                                <ng-template let-item="item" ng-label-tmp>
                                <span class="ng-value-label">{{ item?.libelle }}
                                    - du <b>{{ item.dateDebut }}</b> au <b>{{ item.dateFin }}</b></span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input_documentPrerempli_modele">Modèle<abbr
                            class="required">*</abbr></label>
                        <div class="controls col-sm-9">
                            <ng-select [(ngModel)]="creationDocumentGenereModel.modeleDocument"
                                       [items]="modelesDocuments"
                                       [bindLabel]="'libelle'" name="input_documentPrerempli_modele">
                                <ng-template let-item="item" ng-option-tmp>
                                    <span class="ng-value-label">{{ item?.code }} - {{ item?.libelle }}</span>
                                </ng-template>
                                <ng-template let-item="item" ng-label-tmp>
                                    <span class="ng-value-label">{{ item?.code }} - {{ item?.libelle }}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                               for="input_documentPrerempli_entreprise">Entreprise<abbr
                            class="required">*</abbr></label>
                        <div class="col-sm-9">
                            <ng-select [(ngModel)]="creationDocumentGenereModel.etablissement" [items]="etablissements"
                                       [searchable]="true" name="input_documentPrerempli_entreprise">
                                <ng-template let-item="item" ng-option-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                                </ng-template>
                                <ng-template let-item="item" ng-label-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input_documentPrerempli_nom">Nom du
                            document<abbr
                                class="required">*</abbr></label>
                        <div class="controls col-sm-9">
                            <input [(ngModel)]="creationDocumentGenereModel.objet" class="form-control input-sm"
                                   id="input_documentPrerempli_nom"
                                   name="objet"
                                   required
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)=" closeModal()" class="btn btn-sm btn-default pull-left" type="button">Annuler
                </button>
                <button (click)="createDocumentGenere()" [class.disabled]="!isCreationDocumentGenereModelValid()"
                        [disabled]="!isCreationDocumentGenereModelValid()"
                        class="btn btn-sm btn-default btn-primary pull-right"
                        type="button">Valider
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // Fin Modal Document Agent-->
<!-- Debut Modal Documents libres  -->
<div *ngIf="documentsLibres" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)=" closeModal()" aria-label="Close" class="close" type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" id="titreDialogue_documentAgent">Ajouter un document libre</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Événement</label>
                        <div class="col-sm-9">
                            <ng-select [(ngModel)]="creationDocumentLibreModel.evenement" [items]="evenements"
                                       [searchable]="true"
                                       name="input_documentLibre_creation">
                                <ng-template let-item="item" ng-option-tmp>
                                <span class="ng-value-label">{{ item?.libelle }}
                                    - du <b>{{ item.dateDebut }}</b> au <b>{{ item.dateFin }}</b></span>
                                </ng-template>
                                <ng-template let-item="item" ng-label-tmp>
                                <span class="ng-value-label">{{ item?.libelle }}
                                    - du <b>{{ item.dateDebut }}</b> au <b>{{ item.dateFin }}</b></span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Entreprise<abbr
                            class="required">*</abbr></label>
                        <div class="col-sm-9">
                            <ng-select [(ngModel)]="creationDocumentLibreModel.etablissement" [items]="etablissements"
                                       [searchable]="true"
                                       name="input_documentLibre_etablissement">
                                <ng-template let-item="item" ng-option-tmp>
                                <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                    - <b>{{ item.siret }}</b></span>
                                </ng-template>
                                <ng-template let-item="item" ng-label-tmp>
                                <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                    - <b>{{ item.siret }}</b></span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input_documentLibre_objet">Nom du
                            document<abbr
                                class="required">*</abbr></label>
                        <div class="controls col-sm-9">
                            <input [(ngModel)]="creationDocumentLibreModel.objet" class="form-control input-sm"
                                   id="input_documentLibre_objet"
                                   name="objet"
                                   type="text">
                        </div>
                    </div>
                    <ng-template [ngIf]="creationDocumentLibreModel.fichier !=null">
                        <div id="preview-template">
                            <table id="documentsLibres"
                                   class="table bordered-table table-suivi zebra-striped table-uploads table-hover check-list">
                                <caption class="sr-only">Pièces jointes</caption>
                                <thead>
                                <tr>
                                    <th class="col-check" colspan="6">Fichier</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td colspan="1">
                                        <div class="dz-filename"><span data-dz-name=""> <a
                                            (click)="downlaodFichier(creationDocumentLibreModel.fichier)"
                                            style="cursor: pointer;"
                                            title="Télécharger le document {{creationDocumentLibreModel.fichier.nom}} {{creationDocumentLibreModel.fichier.taille | fileSize }}"><i
                                            class="fa fa-download"></i> {{creationDocumentLibreModel.fichier.nom}}</a></span>
                                        </div>
                                    </td>
                                    <td class="col-size"><span class="sr-only">Poids</span>

                                        <div class="dz-size"><span
                                            data-dz-size=""><strong>{{creationDocumentLibreModel.fichier.taille | fileSize }}</strong></span>
                                        </div>

                                    </td>
                                    <td class="col-progress" colspan="3">
                                        <div
                                            [ngClass]="creationDocumentLibreModel.fichier.erreur?'bg:danger':'bg-success'"
                                            aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                                            class="progress active"
                                            role="progressbar">
                                            <div [style.width]="creationDocumentLibreModel.fichier.progress+'%'"
                                                 class="progress-bar progress-bar-success"
                                                 [ngClass]="creationDocumentLibreModel.fichier.erreur?' progress-bar-danger':' progress-bar-success'"
                                                 data-dz-uploadprogress="">
                                            </div>
                                        </div>
                                        <div class="dz-error-message error text-danger"><span
                                            data-dz-errormessage></span></div>
                                    </td>
                                    <td class="actions col-md-1">
                                        <button (click)="deleteFichier(creationDocumentLibreModel.fichier)"
                                                class="dz-remove btn btn-primary btn-xs btn-action"
                                                data-dz-remove="" title="Supprimer la pièce jointe"
                                                type="button">
                                            <fa-icon [icon]="['fas','trash']"></fa-icon>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="creationDocumentLibreModel.fichier.erreur" class="alert alert-danger"
                                 role="alert">
                                {{creationDocumentLibreModel.fichier.erreur}}
                            </div>
                        </div>
                    </ng-template>

                    <div #dropzone (addedFile)="onAddedFile($event)" (error)="onError($event)"
                         (queueComplete)="onQueuecomplete($event, dropzone)" (success)="onSuccess($event)"
                         (uploadProgress)="onUploadprogress($event)" *ngIf="options" [dropzone]="options"
                         class="dropzone">
                        <div class="dz-default dz-message">
                            <div>Déposer les fichiers ici pour les joindre</div>
                            <div> ou</div>
                            <input class="btn btn-secondary dz-clickable" id="dz-button"
                                   type="button" value="Importer un fichier depuis le poste local"
                                    onclick=" blur(); return false; ">

                        </div>
                    </div>

                    <div id="dummyPreviewsContainer"></div>

                </div>
            </div>
            <div class="modal-footer">
                <button (click)="cancelDocumentCreationLibre()" class="btn btn-sm btn-default pull-left"
                        type="button">Annuler
                </button>
                <button (click)="createDocumentLibre()" [class.disabled]="!isCreationDocumentLibreModelValid()"
                        [disabled]="!isCreationDocumentLibreModelValid()"
                        class="btn btn-sm btn-default btn-primary pull-right"
                        type="button">Valider
                </button>
            </div>
        </div>
    </div>
</div>

<!-- // Fin Modal Documents libres-->
