<div *ngIf="document" class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>Demande d'invalidation</h1>
        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <atexo-redacdocument-document-invalidation
            [document]="document"
            (annulation)="fermeture.emit($event)"
            (acceptation)="fermeture.emit($event)"
            (erreur)="erreur.emit($event)"
        >
        </atexo-redacdocument-document-invalidation>
    </div>
</div>
