<article>
    <alert type="warning">
        <i class="fas fa-exclamation-circle me-2"></i>Vous vous apprêtez à invalider ce document
    </alert>

    <p>Cette action a pour effet de rétablir les marques et commentaires dans le document et de le repasser au statut brouillon.</p>
    <p>Le document est à nouveau éditable.</p>

    <label for="comment">Associez un commentaire qui apparaîtra dans l’historique du document :<i class="fa-solid fa-asterisk asterisk"></i></label>
    <textarea
            [(ngModel)]="commentaire"
            required="required"
            id="comment"
            class="form-control"
    ></textarea>
</article>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
    <button [disabled]="!commentaire?.filled()" (click)="invalider()" class="btn btn-primary" data-dismiss="modal" type="button">Invalider</button>
</footer>
