/* CSS Document */

/**************************************Styles specifiques client***************************************/
body { background:#fff; }
h2, .form-envoi-pub legend { color:#0C5476; }
.form-envoi-pub .gwt-TabBarItem { color:#999; }
.form-envoi-pub table.rubrique fieldset, .form-envoi-pub table.rubrique fieldset fieldset { border-color:#CCCCCC  !important; }