
object {
  width: 100%;
  height: calc(100vh - 84px);
}

.viewer {
  max-height: calc(100vh - 84px);
  overflow: hidden;

  .loader-container {
    min-height: calc(100vh - 84px);
    display: flex;
    align-items: center;
  }

  .pdf {
    position: relative;
    top: calc(84px - 100vh);
    min-height: calc(100vh - 84px);
  }
}
