<div class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>{{document?.nom}}</h1>

        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <atexo-redacdocument-document-preview [document]="document"></atexo-redacdocument-document-preview>
    </div>
</div>
