<section id="viewer" class="viewer">
    <section id="loader" class="loader-container">
        <atexo-redacdocument-loader></atexo-redacdocument-loader>
    </section>
    <section id="pdf" class="pdf">
        <object type="application/pdf" [data]="view | async | safe" width="500" height="375"></object>
    </section>
</section>
