label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
#compatibiliteCheck {
  margin-left: 10px;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #777b8f !important;
}


.content {
  border: solid 1px;
  border-radius: 5px;
  padding: 3px;
  width: auto;
  border-color: #68a2d6 !important;
  background-color: #F5F9FB !important;
}

.ql-editor p {
  color: red!important;
}
