<div class="card mb-1">
  <div class="card-content">
    <div class="card-body">
      <div class="row mb-1">

        <div class="col-12">
          <atx-callouts class="mt-1" *ngIf="displayMessageVersion" [header]="'Information'" [message]="'Attention, vos modifications ne seront visibles qu\'à la création d\'une nouvelle version.'">
          </atx-callouts>
          <ng-template formulaire-clause></ng-template>
        </div>

      </div>
    </div>
  </div>
</div>

