<template >
  <div id="App">
    <h1>Composant bcrypt</h1>
    <bcrypt></bcrypt>
  </div>
</template>
<script>
    import bcrypt from "./components/bcrypt";

    export default {
    name: "App",
  components: {
      Bcrypt: bcrypt
  }
}

</script>
