<template>
    <div id="App">
        <h1>composant consultation-formulaire</h1>
        <consultation-formulaire
                traductions='{
            "SELECTIONNER_SUPPORT_PUBLICITE_CONSULTATION": "Sélectionnez",
            "STATUT_ANNONCE_PUBLIE": "Publié",
            "SELECTIONNEZ_TYPE_AVIS": "Sélectionnez votre avis",
            "MSG_ERREUR_UTILISATEUR": "Un problème technique est survenu."
        }'
                departements='["16","63","75","94","01","53","51"]'
                reference-utilisateur="TEST_REFERENCE_UTILISATEUR"
                access-token=""
                :xml-annonce="xmlAnnonce"
                :envoi="getBase64(envoi)"
                dmls="2025-01-01"
                urlApi=""
                plateforme="MPE_atexo_develop"
                basic-token="YWRtaW46cGFzc3dvcmQ="
                :config-pub="getPub()"
                id-consultation="504571"
                external-link="https://private.e-marchespublics.com/documents/tarifs_les_echos_leparisien-emp.html"
                montant="89000"
                :facturations="getBase64(this.facturations)"
                :jals="getBase64(this.jals)"

        ></consultation-formulaire>


    </div>
</template>
<script>
import ConsultationFormulaire from "./components/ConsultationFormulaire";
import base64xml from "./external/xmlAnnonce"
import {Base64} from 'js-base64';
import AnnonceSuivi from "@/components/AnnonceSuivi.vue";
import DashboardAnnonce from "@/components/DashboardAnnonce.vue";
import axios from "axios";

export default {
    name: "App",

    data: function () {
        return {
            mpeUrl: "https://mpe-develop.local-trust.com",
            login: 'adminORME',
            password: '@@ORME34',
            envoi: null,
            xmlAnnonce: base64xml,
            jals: [{'nom': 'Le Quotidien', 'email': 'test@test.com'},
                {'nom': 'TEST IAT', 'email': 'ismail.atitallah@atexo.com'}],
            facturations: [{
                "address": "9 rue de vintimilles",
                "sip": true,
                "email": "ismail.atitallah@atexo.com"
            }]
        }

    },
    created() {
        this.loadStyle(2, this.mpeUrl + "/themes//css/mpe-new-client.css");
        this.getToken();
    },
    components: {
        DashboardAnnonce,
        AnnonceSuivi,
        consultationFormulaire: ConsultationFormulaire
    },
    methods: {
        getPub() {
            let list = ["MOL", "JAL_FR"]
            return JSON.stringify(list)
        },
        loadStyle(id, url) {
            if (document.getElementById(id) === null) {
                let head = document.getElementsByTagName('head')[0];
                let link = document.createElement('link');
                link.id = id;
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = url;
                link.media = 'all';
                head.appendChild(link);
            }
        },
        getBase64(list) {
            return Base64.encode(list)
        }, getToken() {
            const url = this.mpeUrl + "/api/v2/token";

            axios.post(url, {login: this.login, password: this.password}).then((response) => {
                console.log(response);
                this.envoi = {
                    "envoi": {
                        "agent": {
                            "id": 11362,
                            "identifiant": "adminORME",
                            "nom": "Pierre",
                            "prenom": "DURANT",
                            "plateforme": "MPE_atexo_develop",
                            "acronymeOrganisme": "pmi-min-1",
                            "email": "11362@atexo.com",
                            "telephone": "0123456789",
                            "fax": "0123456789",
                            "sigleUrl": "",
                            "nomCourantAcheteurPublic": "Portail des march\u00e9s publics ( - )",
                            "api": {
                                "url": this.mpeUrl,
                                "token": response.data.token,
                                "refreshToken": response.data.refresh_token
                            },
                            "organisme": {
                                "id": 16,
                                "acronyme": "pmi-min-1",
                                "denominationOrganisme": "Organisme de démonstration ATEXO",
                                "siren": "216901231",
                                "complement": "03734"
                            },
                            "service": {"id": "", "libelle": "", "siren": "", "complement": ""}
                        }
                    }
                }
            }).catch((error) => {
                console.log(error)
            })

        }
    }
}
</script>

<style lang="scss" scoped>
@import '../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
</style>
