<template>
  <div id="App">

    <h1>Composant modal-validation</h1>
    <annonce-recap
        access-token=""
        is-mol-selected="isMolSelected"
        is-envoi-validation="isEnvoiValidation"
        :xml-annonce="xmlAnnonce"
        plateforme="MPE_atexo_develop"
        basic-token="YWRtaW46cGFzc3dvcmQ="
        id-consultation="5104365"
        url-boamp="page=agent.PubliciteConsultation&refConsultation=MzYzNTMy&justMol=1"
        msg-confirmation-validation-elaboration=""
        reference-utilisateur="TEST-IAT"
    ></annonce-recap>
  </div>
</template>
<script>


import AnnonceRecap from "./components/AnnonceRecap";
import base64xml from "./external/xmlAnnonce";

export default {
  name: "App",
  data: function () {
    return {
      xmlAnnonce: base64xml
    }

  },


  components: {
    AnnonceRecap: AnnonceRecap
  }
}

</script>
