<template>
  <div id="App">
    <h1>Composant publicite-liste-suivi</h1>
    <annonce-suivi v-if="envoi"
                   :xml-annonce="xmlAnnonce"
                   :envoi="getBase64(envoi)"
                   :plateforme="plateforme"
                   basic-token="YWRtaW46cGFzc3dvcmQ="
                   id-consultation="5104450"
                   contexte="e42a7581-b143-4a39-95a8-786f99a15a25"
                   dmls="2023-05-02"
                   :config-pub="getPub()"
                   urlApi=""
                   :facturations="getBase64(this.facturations)"
                   :jals="getBase64(this.jals)"
                   eu="true"
    ></annonce-suivi>
  </div>
</template>
<script>
import AnnonceSuivi from "./components/AnnonceSuivi";
import base64xml from "./external/xmlAnnonce"
import {Base64} from 'js-base64';
import axios from "axios";

export default {
  name: "App",
  data: function () {
    return {
      mpeUrl: "https://simap-mpe-int.local-trust.com",
      login: 'admin_t5y',
      password: 'admin_t5y',
      plateforme: 'MPE_atexo_develop',
      organisme: 't5y',
      xmlAnnonce: base64xml,
      envoi: null,
      jals: [{'nom': 'Le Quotidien', 'email': 'ismail.atitallah@atexo.com'},
        {'nom': 'Le Mathieu 2', 'email': 'mathieu.bronsard@atexo.com'},
        {'nom': 'Le Mathieu', 'email': 'mathieu.bronsard@atexo.com'}],
      facturations: [{
        "address": "9 rue de vintimilles",
        "sip": "true",
        "email": "ismail.atitallah@atexo.com"
      },{
        "address": "9 rue de vintimilles",
        "sip": "true",
        "email": "ismail.atitallah@atexo.com"
      }, {
        "address": "8 rue de vintimilles",
        "sip": "false",
        "email": "ismail.atitallah@atexo.com"
      }]
    }

  },
  created() {
    this.loadStyle(2, this.mpeUrl + "/themes//css/mpe-new-client.css");
    this.getToken();
  }
  ,
  components: {
    AnnonceSuivi: AnnonceSuivi,
  }
  ,
  methods: {
    getPub() {
      let list = ["TNCP", "JAL_FR", "MOL"]
      return JSON.stringify(list)
    }
    ,
    loadStyle(id, url) {
      if (document.getElementById(id) === null) {
        let head = document.getElementsByTagName('head')[0];
        let link = document.createElement('link');
        link.id = id;
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = url;
        link.media = 'all';
        head.appendChild(link);
      }
    }
    , getBase64(list) {
      return Base64.encode(JSON.stringify(list))
    }, getToken() {
      const url = this.mpeUrl + "/api/v2/token";

      axios.post(url, {login: this.login, password: this.password}).then((response) => {
        console.log(response);
        this.envoi = {
          "envoi": {
            "agent": {
              "id": 11362,
              "identifiant": "admin_t5y",
              "nom": "Pierre",
              "prenom": "DURANT",
              "plateforme": this.plateforme,
              "acronymeOrganisme": this.organisme,
              "email": "11362@atexo.com",
              "telephone": "0123456789",
              "fax": "0123456789",
              "sigleUrl": "",
              "nomCourantAcheteurPublic": "Portail des march\u00e9s publics ( - )",
              "api": {
                "url": this.mpeUrl,
                "token": response.data.token,
                "refreshToken": response.data.refresh_token
              },
              "organisme": {
                "id": 16,
                "acronyme": this.organisme,
                "denominationOrganisme": "Organisme de démonstration ATEXO",
                "siren": "216901231",
                "complement": "03734"
              },
              "service": {"id": "", "libelle": "", "siren": "", "complement": ""}
            }
          }
        }
      }).catch((error) => {
        console.log(error)
      })

    }
  }
}
</script>
