<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <div class="clearfix">
        <div class="float-left">
          <h4 class="h4">DUME List</h4>
        </div>
        <div class="float-right">
          <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalFake" (click)="initNewDume(template)">
            <i class="fa fa-plus"></i> Add Fake
          </button>
        </div>
      </div>

    </div>

    <div class="card-body" *ngIf="dumes">
      <table id="dumelist" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Numero Dume Acheteur</th>
          <th>Nom Officiel</th>
          <th>Pays</th>
          <th>Reference Consultation</th>
          <th>Type Procedure</th>
          <th>Intitule</th>
          <th>Objet</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dume of dumes">
          <td><a [routerLink]="['/acheteur/' + dume.idContext]">{{dume.idContext}}</a></td>
          <td>{{dume.nomOfficiel}}</td>
          <td>{{dume.pays}}</td>
          <td>{{dume.referenceConsultation}}</td>
          <td>{{dume.typeProcedure}}</td>
          <td>{{dume.intitule}}</td>
          <td>{{dume.objet}}</td>
          <td>
            <button class="btn btn-sm btn-success" (click)="createDumeOE(dume.idContext)">
              créer un Dume Operateur Ecomique
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body" *ngIf="!dumes">
      Aucun DUME acheteur a été crée
    </div>
  </div>
</div>


<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title" id="modalFakeLabel">Fake MPE</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="modalRef.hide()">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="form-group">
        <label for="nom_officiel">Nom officiel</label>
        <input type="text" class="form-control" id="nom_officiel" [(ngModel)]="newDume.nomOfficiel"
               aria-label="Text input with radio button"
               placeholder="Identité de l'acheteur" name="name">
      </div>
      <div class="form-group">
        <label for="pays">Pays</label>
        <input type="text" class="form-control" id="pays" aria-label="Text input with radio button"
               placeholder="Pays" name="pays" [(ngModel)]="newDume.pays">
      </div>
      <div class="form-group">
        <label for="typeProcedureDume">Type de procédure DUME</label>
        <input type="text" class="form-control" id="typeProcedureDume"
               aria-label="Text input with radio button"
               placeholder="Type de procédure DUME" name="typeProcedure" [(ngModel)]="newDume.typeProcedure">
      </div>
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" id="titre" aria-label="Text input with radio button"
               placeholder="Titre" [(ngModel)]="newDume.intitule">
      </div>

      <div class="form-group">
        <label for="objet">Brève description</label>
        <input type="text" class="form-control" id="objet"
               aria-label="Text input with radio button"
               placeholder="Brève description" [(ngModel)]="newDume.objet">
      </div>

      <div class="form-group">
        <label for="referenceConsultation">Numéro de référence</label>
        <input type="text" class="form-control" id="referenceConsultation"
               aria-label="Text input with radio button"
               placeholder="Numéro de référence" [(ngModel)]="newDume.referenceConsultation">
      </div>
    <div class="form-group">
      <label for="natureConsultation">Id nature</label>
      <input type="text" class="form-control" id="natureConsultation"
             aria-label="Text input with radio button"
             placeholder="ID Nature" [(ngModel)]="newDume.metadata.idNatureMarket">
    </div>
    <div class="form-group">
      <label for="simplifie">Simplifié</label>
      <input type="checkbox" class="m-r-1" id="simplifie"
             placeholder="simplifie" [(ngModel)]="newDume.metadata.simplifie">
    </div>
    <div class="form-group">
      <label for="allotissement" class="m-r-1">Allotissement</label>
      <input type="checkbox" id="allotissement"
             placeholder="Allotissement" [(ngModel)]="allotissement">
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    <!--<button type="submit" class="btn btn-primary float-left" id="btn-dumeU">Update</button>-->
    <button type="submit" class="btn btn-success float-left ml-2" id="btn-dumeS" (click)="addNewDume()">Enregister
    </button>
  </div>
</ng-template>
