/*Styles specifiques*/
#popup { background-image:none; }

h1, h3, .modal-form h2 { color:#0c5476; }
h4 { color:#666; }
a, a:hover {color:#0c5476; }

body { background: url(../images/bandeau-replace.png) no-repeat top center; }
#ctl0_ctl2 { background: url(../images/body-bk.png) repeat-x top center; }
#header { margin-top:0px; padding-top:0px; width:984px; position:relative; background: transparent; height: 4px; }
#header .logo { margin:0; position:absolute; left:20px; top:40px; }
#header .logo-right { margin:0; position:absolute; top:23px; right:0; }
#header .logo-right img { margin-right: 30px; margin-top: -6px; }
#header .top { height:134px; width:984px; position:relative; }
#header .top .user-infos { margin:0px; padding:5px 0 0; height:26px; background:url(../images/user-infos-bk.png) no-repeat; min-width:240px; text-align:center; }
#header .top .user-infos a, #user-infos .trigger, .panel-user-infos-login a, .panel-user-infos-login p.user-name { color:#0c5476; }
#header .top .user-infos a:hover { color:#0c5476; text-decoration:underline; }
#user-infos { background-repeat:no-repeat; margin:0 26px 0 0; background-image:url(../images/user-infos-bk-left.png); }
#user-infos .right { float:right; background-position:right top; width:27px; margin-right:-27px; }
#user-infos .trigger { margin-top:5px; }
#user-infos .panel-user-infos { top:22px; right:-25px; }
#user-infos input.login-top, #user-infos input.password-top { margin:1px 0 0; }
#user-infos input.ok { margin:5px 0 0 5px; }

#help-bar a, .help-bar a { top:260px !important; background-color: #5FC3F0; }

#header .date, #header .message-user { color:#0C5476; }
#header .nav .message-user { color:#0C5476; margin-right:5px; }
#header .date { color:#0c5476; padding-left:5px; width:160px; margin-top: -2px;}
#header .nav { border:0px !important; background:transparent; height:16px; padding:8px 5px 2px; }

#header .nav .accueil, #header .nav .lien-portail { padding-left:0; margin-top: -2px;}
#header .nav .accueil a, #header .nav .lien-portail a { background-position:0 3px !important; color:#0c5476; padding-left:16px; margin-right:10px; }
#header .nav .accueil a:hover, #header .nav .accueil-portail a:hover  { background:url(../images/picto-home.gif) no-repeat 0 3px; color:#0C5476 !important; text-decoration:underline; }

#middle { padding-top:5px; width:978px; padding-bottom:20px; border:0; background-position-y: -3px;}
#middle #middle { background:none; }
#middle .main-part { border-top:0; padding:8px 8px 0 12px; }

#middle .left-part { padding-top:4px; padding-left:1px; }
#middle .left-part #menu { background:#fff !important; border-bottom-color:#fff; }
#menu ul li.menu-open span, #menu ul li.menu-open span a, #menu ul li.menu-open span a:hover { color:#007885 !important; height:20px !important; line-height:normal !important; padding-top:1px; }
#menu ul li.menu-on { background-color:#008392; }
#menu ul li.menu-on .ss-menu-open { background-color:#fff; }
#menu ul li.menu-open ul.ss-menu-open { padding:3px 0; }
#menu ul li.menu-on span, #menu ul li.menu-on span a, #menu ul li.menu-on span a:hover { color:#fff !important; }
#menu ul li ul.ss-menu-open { margin:0; }
#menu ul li ul.ss-menu-open li a:hover { color:#007885 !important; }
#menu ul li .ss-menu-rub { color:#007885 !important; }
#menu ul li ul.ss-menu-open li a.inactive, #menu ul li ul.ss-menu-open li a:hover.inactive  { color:#c0c0c0 !important; text-decoration:none !important; }
#middle .menu-bottom { display:none; }

#menu ul li.menu-open span { line-height:22px; height:22px; }


#middle .main-part.accueil-avis { padding-top:20px !important; }
.bloc-accueil a, .bloc-accueil a:hover,.bloc-login .top-title .big, .bloc-fonctions strong, .accueil-avis #message-accueil .bloc-accueil h2 { color:#0c5476; }
.bloc-accueil ul { color:#666; }

.accueil-avis .bloc-recherche-rapide h2, .col-right .bloc h2 { background:#008392; box-sizing:border-box; width:100%; text-transform:uppercase; font-weight:normal; height:33px; line-height:normal; padding:6px 9px 0; }
.accueil-avis .bloc-recherche-rapide h2 {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; font-size:1rem; }
.accueil-avis .bloc { margin-bottom:14px; border:1px solid #d7d7d7; box-shadow:none !important; }
.accueil-avis .bloc-recherche-rapide { min-height: inherit; }
.accueil-avis .col-right .bloc { border:0; background-color:#f3f1f2; float:left; width:280px; }
.col-right .bloc { padding:0 !important; box-sizing:border-box; width:300px !important; }
.col-right .bloc-fonctions { padding:141px 0 10px !important; background-position:0 0; }
.col-right .bloc-fonctions .inscription { margin-right:10px; }
.col-right .bloc ul { padding:10px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.col-right .bloc h2 { background:url(../images/titre-bloc-bottom-bg.png) #008392 no-repeat 0 bottom; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; height:34px; padding:5px 9px 0; color:#fff; font-weight:normal; text-transform:uppercase; }
.map_indexDpts svg { margin-top:-35px; margin-left: -15px; width: 470px; }
.accueil-avis .bloc-recherche-rapide , .accueil-avis #paper{ height:530px; }
.accueil-avis .link {
	background: #0c648c; /* Old browsers */
	background: -moz-linear-gradient(top,  #0c648c 0%, #0c5a7e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0c648c 0%,#0c5a7e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0c648c 0%,#0c5a7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c648c', endColorstr='#0c5a7e',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.accueil-avis #paper, #blocMap #paper { background:url(../images/separator.png) repeat-x 0 379px; }
.lieux-execution #blocMap { height:430px; }
.bloc-form-recherche-rapide .liste-liens .lien-recherche-avancee { background-image:url(../images/accueil-msg-arrow.gif) !important; }
.accueil-avis .link.inscription { padding:0 10px 0 0; }
.accueil-avis .link.inscription .icon { background:url(../images/bouton-fonction-inscription-left.png); width:30px; height:20px; float:left; margin:0; }

.choix-langue { color:#0C5476; margin-right:0; margin-left:183px; padding-right:10px; float:left; padding-top:5px; }
.choix-langue a.on { border-color:#0C5476; }

.nav-onglet .tab-on { background:#767676; }
.nav-onglet .tab a { border-left:1px solid #afafaf; color:#6E6E6E; }
.nav-onglet .tab-on  a:hover { color:#fff; }

.form-field .top .title { color:#666; }
.form-bloc-conf .content  { border-color:#666; }
.form-bloc-conf .content .message{ color:#666 !important; }

.bloc-accueil a, .bloc-accueil ul, .bloc-login .top-title .big, span.ref, span.attributaire, .blue, .bloc-abreviation .intitule, .bloc-glossaire .intitule, .bloc-faq a, .ref-form-pub, a.ajout-el { color:#0c5476; }
.bloc-accueil .message-big, .bloc-accueil .message-bigger, .main-text .message-big { color:#0c5476; }
.infos-entites-line { color:#0c5476 !important; }

.toggle-panel .title { background:url(../images/recap-toggle-moins.gif) no-repeat; color:#666; }
.title-toggle { background:url(../images/recap-toggle-plus.gif) no-repeat; color:#666; }
.title-toggle-open { background:url(../images/recap-toggle-moins.gif) no-repeat; color:#666; }

.table-results th a, .table-results th, .table-statistique th { color:#454543 !important; }
.table-results .liste-destinataires .title { color:#666; }
.table-results .liste-destinataires table { border-top:1px solid #999; border-bottom:1px solid #ccc; }
.table-results .liste-destinataires table thead { color:#666; }
.table-results .liste-destinataires table th { color:#666 !important; }


.blue, a.suppr-lot, a.suppr-ref, input.suppr-entite,input.depl-entite , a.ajout-el, a.telecharger-el, a.suppr-el, a:hover.suppr-el, a.gerer-el, a:hover.gerer-el, a:hover.bouton-suivant, a:hover.bouton-retour, a:hover.bouton-retour-top, input.bouton-validation, input.bouton-enregistrer, input.bouton-validation-long, input.bouton-annulation, a.bouton-annulation, a.bouton-validation-moyen, a.bouton-validation-long, a.bouton-validation-190, a.bouton-validation-200, a.bouton-validation-250, a.bouton-enregistrer, input.bouton-imprimer , input.bouton-imprimer-small, input.bouton-repondre-message, .coordonnees a { color:#0c5476; }
#middle #main-part .form-field .gestion--achat-btns input.depl-entite { color:#0c5476; }
.bloc-faq a.bouton-retour-top, a.bouton-retour-top, a.retour-top, a.bouton-suivant, a.bouton-retour { color:#787676; }

a:hover.bouton-suivant { background:url(../images/arrow-suivant-on.png) no-repeat right; color:#0c5476; }
a:hover.bouton-retour { background:url(../images/arrow-retour-on.png) no-repeat left; color:#0c5476; }
a:hover.bouton-retour-top { background:url(../images/arrow-retour-top-on.png) no-repeat left; color:#0c5476; }

.info-bulle, .champ-cpv .libelle div { color:#fff; }
.info-bulle div, .champ-cpv .libelle div { background:#767676; border:0; }

.inactive-text { color:#ccc; }

*html .form-bloc-erreur .content a:hover { color:#FF0000; }

footer { width:984px; color:#fff; border:0; height:40px; padding:0; text-align:center; font-family: "Marianne", Arial, sans-serif; font-weight: 400; text-align: left; border-top: 1px solid #E6E6E6;}
footer.footer-agent { display: flex; width: 100%; margin: 0 auto; font-family: "Marianne", Arial; font-display: optional; font-weight: 400; text-align: left; }
#footer { width:984px; background:url(../images/footer-bk.png) repeat-x #fff top; color:#fff; border:0; height:40px; padding:0; text-align:center; width:100%; }
.footer-agent__content { width: 1170px; margin: 0 auto; display: flex; flex-direction: row; }
#footer .content { background:url(../images/footer-content-bk.png) no-repeat transparent 161px top; width:984px; padding-top:15px; margin:0 auto; }
#footer li { background:url(../images/footer-link-separator.gif) no-repeat left; padding:0 10px 0 12px; }
#footer li.first { background:none; }
#footer a { color:#666; font-size:0.9em; margin:0; text-decoration:underline !important; }
#footer .first a { background:none; }
#footer a:hover { color:#666; text-decoration:none !important; }
#footer .link-separateur { display:none; }

/* style spécifique couleur */
@import url("lagon.css");


/* BEGIN DES-683 */
#panel_rechercheCollaborateur #ctl0_CONTENU_PAGE_collaborateurSoustraitant,
#panel_rechercheCollaborateur label[for=collaborateurSoustraitant],
#ctl0_CONTENU_PAGE_blocSearchCotraitant #ctl0_CONTENU_PAGE_AtexoSearchCotraitant_collaborateurSoustraitant,
#ctl0_CONTENU_PAGE_blocSearchCotraitant label[for=collaborateurSoustraitant],
#filtreTypeGroupement #type_groupement_sous_traiatant {
	display: none;
}
#filtreTypeGroupement #type_groupement_cotraitant_solitaire {
	-moz-border-radius-bottomright: 4px/*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/;
	-khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/;
	border-bottom-right-radius: 4px/*{cornerRadius}*/;
	-moz-border-radius-topright: 4px/*{cornerRadius}*/;
	-webkit-border-top-right-radius: 4px/*{cornerRadius}*/;
	-khtml-border-top-right-radius: 4px/*{cornerRadius}*/;
	border-top-right-radius: 4px/*{cornerRadius}*/;
}

#ctl0_CONTENU_PAGE_panelSearch_ctl0 #blocRechercheCollaboration .content .content-bloc.bloc-570 .line:nth-of-type(4) {
	display: none;
}
.footer-img {
	display: block!important;
	width: 280px;
	float: left;
	margin-left: 15px !important;
	margin-top: 5px !important;
}
/* END DES-683 */

#menuAdminFonctLi #menuAdminFonct li:nth-child(5) #ssMenuArticles133 #ctl0_menuGaucheAgent_publicationMarches {
	display : none !important;
}

iframe#iframeRedac {
	height: 1100px;
}

#ctl0_bandeauAgent_panelNotification {
	margin-top: -4px;
}

#consultation .card-header .accordion-toggle[aria-expanded="false"],
#recap-consultation .row > div .panel .panel-heading h2 button[aria-expanded='false']{
	color: #ffffff !important;
	background-color: #2dafcf;
}


@media (min-width: 1601px) and (max-width: 2200px) {
    .nav {
        left: 23%;
    } }

@media (min-width: 1400px) and (max-width: 1501px) {
    .nav {
        left: 17%;
    } }

@media (min-width: 1500px) and (max-width: 1600px) {
    .nav {
        left: 18%;
    } }

@media (min-width: 1201px) and (max-width: 1399px) {
    .nav {
        left: 13%;
    } }

@media (min-width: 769px) and (max-width: 1200px) {
    .nav {
        left: 9%;
    } }

@media (max-width: 768px) {
    .nav {
        left: 24%; } }

.attributaire{
	display: flex; align-items: stretch;
}

.table-results.tableau-contrats a{
	color: #0C5476 !important;
}


/* Style spécifique propre au client pour la nouvelle nav. Inclure une variable par la suite. */

#MPE-nav .navbar-dark.navbar-horizontal,
#MPE-nav .dropdown.dropdown-user-link.nav-item .avatar-container .fa.fa-user,
#dashboardUserAgent .blocUserHome,
.primary-client-bg {
	background: #5FC3F0 !important;
}

#MPE-nav .btn.btn-sm.mr-1.mb-1.btn-primary.btn-block,
#MPE-nav .dropdown-custom .btn.btn-primary,
.btn.btn-primary.btn-block,
.primary-client-bg-border,
.primary-client-bg-border:hover {
	background-color: #5FC3F0 !important;
	border-color: #5FC3F0 !important;
}

.primary-client {
	color: #5FC3F0 !important;
}

.badge-primary.badge-glow.primary-client-bg {
	box-shadow: 0 0 10px #5FC3F0;
}

.popup-moyen a {
	color: #0c5476;
}

#MPE-nav.horizontal-menu .navbar-horizontal #main-menu-navigation .dropdown-custom a span,
#dashboardUserAgent #description h3.primary {
	color: #5FC3F0;
}

.btn-glow.primary-client-bg,
.btn-glow.primary-client-bg-border {
	box-shadow: 0 1px 20px 1px rgba(95,195,240,.6);
}

#multicriteres .fa.fa-question-circle.text-info.hide-agent {
	display: none;
}

.calendar input.heure {
	width: 100px;
	text-align: center;
}
#ctl0_CONTENU_PAGE_panelConfirmation_labelMessage {
	line-height: 1.5;
}

#ctl0_CONTENU_PAGE_bloc_etapeDonneesComplementaires_donneeOrmeOui_label,
#ctl0_CONTENU_PAGE_bloc_etapeDonneesComplementaires_donneeOrmeNon_label {
	position: relative;
	bottom: 3px;
	right: 4px;
}

.idEntiteClient-creationEntityPurchase {
	display: none;
}

div.etapes-5-process {
	width: 920px;
}

div.etapes-5-process span {
	width: 180px !important;
	text-align: center;
}

.column-action-140 {
	width: 170px;
}

#ctl0_CONTENU_PAGE_bloc_etapeIdentification_bloc_etapeIdentification .col-150 {
	width: 200px;
}

.creation-consultation.donnees-contrats .col-150,
.creation-consultation.donnees-contrats .col-170
.creation-consultation.donnees-contrats .intitule-150 {
	width: 180px;
}

#ctl0_CONTENU_PAGE_infoContrat_panelInfoContrat .intitule-150{
	width: 180px;
}

#ctl0_CONTENU_PAGE_choixInclusion {
	position: relative;
    left: 14px;
}

.footer-place .versionPart p {
	color: #000;
}

.protection-donnees-table td {
	border: solid 1px #464855;
	padding: 5px;
}

#ctl0_CONTENU_PAGE_infoContrat_referentielCPV_panelCpv .col-md-3.switch-toggle.switch-candy {
 	margin-left: 180px !important;
}

div.etapes-enchere span {
	width:185px;
}

div.etapes-enchere span:last-child {
	width:180px;
}
