$primaryColor: #5FC3F0;
$primaryColorRGBA: rgba(94,194,240,.6);
$cancelColor: #acacac;
$cancelColorHover: #868686;

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-Regular.woff2') format('woff2'),
       url('../fonts/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-Regular_Italic.woff2') format('woff2'),
       url('../fonts/Marianne-Regular_Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-Light.woff2') format('woff2'),
       url('../fonts/Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-Light_Italic.woff2') format('woff2'),
       url('../fonts/Marianne-Light_Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-Bold.woff2') format('woff2'),
       url('../fonts/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-Bold_Italic.woff2') format('woff2'),
       url('../fonts/Marianne-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-ExtraBold.woff2') format('woff2'),
       url('../fonts/Marianne-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url('../fonts/Marianne-ExtraBold_Italic.woff2') format('woff2'),
       url('../fonts/Marianne-ExtraBold_Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@import '../../../../../../mpe_sf/assets/css/mpe-new-client.scss';

html body a {
  color: #0c5476;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
label,
input,
select,
textarea,
.bloc-filtres .ui-widget {
    font-family: "Marianne", Arial, sans-serif;
}

.badge-primary.badge-glow.primary-client-bg,
.btn-glow.primary-client-bg-border,
.badge-danger.badge-glow,
.badge-secondary.badge-glow,
.badge-warning.badge-glow {
    box-shadow: none !important;
}

footer.footer-agent {
  display: flex;
  width: 100%;
  margin: 0 auto;
  font-family: "Marianne", Arial;
  font-display: optional;
  font-weight: 400;
  text-align: left;
}

footer {
  font-size: 11px;
  width:984px;
  color:#fff;
  border:0;
  height:40px;
  padding:0;
  text-align:center;
  font-family: "Marianne", Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  border-top: 1px solid #E6E6E6;
}

.footer-agent a {
  font-size: 1em;
  color: #000091;
  line-height: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}
.footer-agent h2 {
  font-size: 2em !important;
  color: #000091;
  line-height: 1.5rem;
  text-decoration: none;
  cursor: default;
}
.footer-agent a:hover {
  color: #000091;
  line-height: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.footer-agent a:visited { color: #40605B; }
.footer-agent .bloc-link h4 { padding-left: 0; }
.footer-agent .bloc-link { width: 80%; }
.footer-agent .bloc-link > div { width: calc(100% / 4); }
.footer-agent .bloc-link > div:first-child { width: calc(100% / 5); }

.footer-agent .footer-agent__left-part {
  padding-right: 4.4rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.footer-agent .footer-agent__versionBlock {
  text-align: left;
  color: #666;
  margin: 2rem 0 0 7.6rem;
}

.footer-agent li {
  line-height: 1.4;
}

#acces-utah.help-bar ul li a {
  top: 260px !important;
  background-color: $primaryColor !important;
}

.btn-info:active,
.btn-info:focus,
.btn-primary:active,
.btn-primary:focus {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.footer-place {
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 38%;
    flex-direction: row;
    font-family: "Marianne", Arial;
    font-display: optional;
    font-weight: 400;
    text-align: left;
    background: #FFF;
    border-top: 1px solid #E6E6E6;

    a {
        color: #000091 !important;
        font-size: 1em;
        cursor: pointer;
        text-decoration: underline;
        line-height: 1.5em !important;

        &:hover {
            color: #000091 !important;
            text-decoration: none;
        }

        &:visited {
            color: #40605B !important;
            text-decoration: underline;
        }
    }

    h2 {
        font-size: 2em !important;
        font-weight: 400 !important;
        color: #464855;
        margin-bottom: 7px;
    }

    .left-part {
        padding-right: 4.4rem;
        margin-right: 4.4rem;
    }

    &__menuContainer {
        margin: 0 auto;
        display: flex;
        width: 100%;
        padding-left: 2px;
    }
}
.footer-place {
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 20px;
  display: flex;
  width: 100%;
  height: 38%;
  flex-direction: row;
  font-family: "Marianne", Arial;
  font-display: optional;
  font-weight: 400;
  text-align: left;
  background: #FFF;
  border-top: 1px solid #E6E6E6;

  .versionPart {
    color: #000;
    margin: 2rem 0 0 4.5em;
    text-align: left;
  }  

  a {
      color: #000091 !important;
      font-size: 1em;
      cursor: pointer;
      text-decoration: underline;
      line-height: 1.5em !important;

      &:hover {
          color: #000091 !important;
          text-decoration: none;
      }

      &:visited {
          color: #40605B !important;
          text-decoration: underline;
      }
  }

  h2 {
      font-size: 2em !important;
      font-weight: 400 !important;
      color: #464855;
      margin-bottom: 7px;
  }

  .left-part {
      padding-right: 4.4rem;
      margin-right: 4.4rem;
  }

  &__menuContainer {
      margin: 0 auto;
      display: flex;
      width: 100%;
      padding-left: 2px;
  }
}


.showPlusCriterias,
.showMinusCriterias,
.hiddenDetails,
.collapsedDetails {
  color: #0c5476;
}


.protection-donnees-table td {
	border: solid 1px #464855;
	padding: 5px;
}

.btn {
  &.btn-light {
    border-color: $cancelColor!important;
    background-color: $cancelColor!important;

    &:hover {
      border-color: $cancelColorHover!important;
      background-color: $cancelColorHover!important;
    }
  }
}
