.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-68 {
    width: 68%;
}

.w-65 {
    width: 65%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-33 {
    width: 33%;
}

.w-20 {
    width: 20%;
}

.w-120px {
    width: 120px;
}

.mt-4 {
    margin-top: 4px;
}

.p-0 {
    padding: 0;
}

.list-0 {
    list-style-type: none;
}

.pr-4 {
    padding-right: 4px;
}

.mt-8 {
    margin: 0.8rem 0;
}

.mt-12 {
    margin-top: 12px;
}

.checkbox, .checkbox-input {
    cursor: pointer;
}

.checkbox label, .radio label {
    margin: 0;
    padding: 0 0 0 1rem;
}

legend {
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: auto;
    position: relative;
    top: 2rem;
}

fieldset {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding: 5rem 0 0 0;
}

.panel-informations {
    margin: 0 0 16px 0;
    display: block;
    background: #fff;
    color: #358dff;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #358dff;
    font-weight: bold;
}


.flex-section {
    margin-bottom: 1rem;
    display: flex;

    &.flex-row {
        flex-direction: row;
    }

    &.flex-stick {
        align-items: end;

        label {
            width: auto;
            margin-right: 2rem;
        }
    }

    &.flex-column {
        flex-direction: column;
    }

    ol {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            align-items: baseline;
        }
    }
}

ui-switch {
    @extend .mt-8;
}

textarea {
    padding: 1rem;
}

label {
    width: 100%;
    margin: 0;
}

.flex-adapt {
    flex-grow: 1;
}

.pr-1 {
    padding-right: 1rem;
}

.checkbox-inline {
    width: fit-content;
}

.datepicker-group {
    width: 100%;
}

input[type=text], input[type=number], input[type=email] {
    height: 34px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9f9f9
}

.form-control {
    box-shadow: none;
}
