<!-- --------------- -->
<!-- Template status -->
<!-- --------------- -->
<ng-template #template_revision_status let-type="type" let-libelle="libelle">
  <div class="form-group no-margin-bottom row">
    <label class="col-sm-4">Statut</label>
    <div class="col-sm-8">
      <span class="event-statut bg-{{ type }}"></span><span>{{ libelle }}</span>
    </div>
  </div>
</ng-template>

<!-- --------------- -->
<!-- Template action -->
<!-- --------------- -->
<ng-template #template_revision_action let-action="action">
  <div class="form-group no-margin-bottom row">
    <label class="col-sm-4">Action</label>
    <div class="col-sm-8">
      <span>{{ action }}</span>
    </div>
  </div>
</ng-template>

<!-- -------------------- -->
<!-- Template commentaire -->
<!-- -------------------- -->
<ng-template #template_revision_commentaire let-commentaire="commentaire">
  <div class="form-group no-margin-bottom row" *ngIf="commentaire">
    <label class="col-sm-4">Commentaire</label>
    <div class="col-sm-8">
      <blockquote class="event-commentaire"><i class="fas fa-comments"></i><span
        [innerHTML]="commentaire"></span></blockquote>
    </div>
  </div>
</ng-template>

<!-- --------------- -->
<!-- Template auteur -->
<!-- --------------- -->
<ng-template #template_revision_auteur let-audit="audit">
  <div class="form-group no-margin-bottom row">
    <label class="col-sm-4">Auteur</label>
    <div *ngIf="audit?.utilisateur" class="col-sm-8">
      <em
        class="fa fa-lg fa-address-card text-primary me-2 "></em><span>{{ audit?.utilisateur?.prenom }} {{ audit?.utilisateur?.nom }}</span>
    </div>
    <div *ngIf="!audit?.utilisateur" class="col-sm-8">
      -
    </div>
  </div>
</ng-template>

<!-- --------------------- -->
<!-- Template modification -->
<!-- --------------------- -->
<ng-template #template_revision_modification let-audit="audit">
  <div class="form-group no-margin-bottom row">
    <label class="col-sm-4">Date de modification</label>
    <div class="col-sm-8">
      <span>{{ audit?.date | fr_date }}</span>
    </div>
  </div>
</ng-template>

<!-- ----------------------- -->
<!-- Template téléchargement -->
<!-- ----------------------- -->
<ng-template #template_revision_telechargement let-revision="revision">
  <ng-container *ngIf="telechargeable(revision)">
    <div class="form-group no-margin-bottom row download-action">
      <div class="col-sm-12 text-right">
        <button (click)="telecharger(revision)" class="btn btn-primary"><em class="fa fa-download me-2"></em>Télécharger
        </button>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- -------------- -->
<!-- Template badge -->
<!-- -------------- -->
<ng-template #template_badge let-action="action" let-statut="statut">
  <span [ngClass]="action.color" class="discussion-thread-badge text-white">
    <em [ngClass]="action.icon" tooltip="{{ statut }}"></em>
  </span>
</ng-template>

<div class="discussion-header-custom">
  <div *ngFor="let revision of revisions | event_filter; let isFirst = first">
    <div>
      <ng-container *ngIf="isFirst">
        <div class="form-group no-margin-bottom row">
          <label class="col-sm-4">Nom du document</label>
          <div class="col-sm-8">
            <span>{{ revision?.nom  }}</span>
          </div>
        </div>
        <div class="form-group no-margin-bottom row">
          <label class="col-sm-4">Modèle</label>
          <div class="col-sm-8">
            <span class="badge me-1 badge-type"
                  tooltip="{{ revision?.modele?.libelle }}">{{ revision?.modele?.type?.code }}</span>{{ revision?.modele?.libelle }}
          </div>
        </div>
        <div *ngIf="revision?.canevas?.reference" class="form-group no-margin-bottom row">
          <label class="col-sm-4">Canevas</label>
          <div class="col-sm-8">
            {{ revision?.canevas?.reference }}
          </div>
        </div>
        <div *ngIf="revision.creation?.utilisateur" class="form-group no-margin-bottom row">
          <label class="col-sm-4">Créateur</label>
          <div class="col-sm-8">
            <em
              class="fa fa-lg fa-address-card text-primary me-2 "></em><span>{{ revision?.creation?.utilisateur?.prenom }} {{ revision?.creation?.utilisateur?.nom }}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="estDerniereVersion(revision)">
        <div class="form-group no-margin-bottom row download-action">
          <div class="col-sm-12 text-right">
            <button (click)="telecharger(revision)" class="btn btn-primary"><em class="fa fa-download me-2"></em>Télécharger
              la dernière version
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="discussion-thread-wrapper">
  <ul class="discussion-thread full-width">
    <li *ngFor="let revision of revisions | event_filter; let isLast = last"
        [class.discussion-thread-item-last]="isLast" class="discussion-thread-item">
      <ng-container
        [ngTemplateOutlet]="template_badge"
        [ngTemplateOutletContext]="{ action : documentActionIconeMapper.map(revision), statut: revision?.statut }"
      >
      </ng-container>
      <div class="discussion-thread-panel">
        <div class="discussion-thread-header">
          <!-- REVISION UUID : {{ revision?.uuid  }} -->
          <ng-container
            [ngTemplateOutlet]="template_revision_status"
            [ngTemplateOutletContext]="{ type : documentStatutTypeMapper.map(revision), libelle: documentStatutLibelleMapper.map(revision) }"
          >
          </ng-container>
          <ng-container
            [ngTemplateOutlet]="template_revision_action"
            [ngTemplateOutletContext]="{ action : documentActionLibelleMapper.map(revision) }"
          >
          </ng-container>
          <ng-container
            [ngTemplateOutlet]="template_revision_commentaire"
            [ngTemplateOutletContext]="{ commentaire : revision?.modification?.commentaire }"
          >
          </ng-container>
          <ng-container
            [ngTemplateOutlet]="template_revision_auteur"
            [ngTemplateOutletContext]="{ audit : isLast ? revision?.creation : revision?.modification }"
          >
          </ng-container>
          <ng-container
            [ngTemplateOutlet]="template_revision_modification"
            [ngTemplateOutletContext]="{ audit : isLast ? revision?.creation : revision?.modification }"
          >
          </ng-container>
          <ng-container
            [ngTemplateOutlet]="template_revision_telechargement"
            [ngTemplateOutletContext]="{ revision : revision }"
          >
          </ng-container>

        </div>
      </div>
    </li>
  </ul>
</div>
