.no-margin-bottom {
  margin-bottom: 0 !important;
}

.discussion-thread-item .discussion-thread-badge {
  font-size: 1.4rem;
}

.discussion-thread-badge {
  background-color: #9e9e9e !important;

  &.info {
    background-color: #55cffc !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #55cffc;
    }
  }

  &.error {
    background-color: #da2130 !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #da2130;
    }
  }

  &.saved {
    background-color: #ff9f4d !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #ff9f4d;
    }
  }

  &.created {
    background-color: #2760a4 !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #2760a4;
    }
  }

  &.validated {
    background-color: #5CB85C !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #5CB85C;
    }
  }

  &.submitted {
    background-color: #910052 !important;
    color: #fff !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #910052;
    }
  }

  &.unsubmitted {
    background-color: #fff !important;
    color: #ff7f4d !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #ff7f4d;
    }
  }

  & {
    background-color: #da2130 !important;

    & + .discussion-thread-panel .discussion-thread-title {
      color: #da2130;
    }
  }

}

.discussion-header-custom {
  padding: 12px;
  border-radius: 0.3rem;
  line-height: 1.8rem;
}

.event-statut {
  padding: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.event-commentaire {
  margin: 0;

  i {
    margin-right: 7px;
    font-size: 0.9rem;
    color: #2660a4 !important;
  }
}

.bg-danger, .bg-warning, .bg-success {
  background-image: linear-gradient(45deg, transparentize(#000, .85) 25%, transparent 25%, transparent 50%, transparentize(#000, .85) 50%, transparentize(#000, .85) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.discussion-thread-wrapper {
  padding: 0;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.3rem;
  min-height: 216px;
  max-height: 50vh;
}

.download-action {
  text-align: right;
}
