.no-margin-bottom {
  margin-bottom: 0 !important;
}

.discussion-thread-item .discussion-thread-badge {
  font-size: 1.4rem;
}

.discussion-thread-badge {
  background-color: #9e9e9e !important;
}

.discussion-thread-badge.info {
  background-color: #55cffc !important;
}

.discussion-thread-badge.info + .discussion-thread-panel .discussion-thread-title {
  color: #55cffc;
}

.discussion-thread-badge.error {
  background-color: #da2130 !important;
}

.discussion-thread-badge.error + .discussion-thread-panel .discussion-thread-title {
  color: #da2130;
}

.discussion-thread-badge.saved {
  background-color: #ff9f4d !important;
}

.discussion-thread-badge.saved + .discussion-thread-panel .discussion-thread-title {
  color: #ff9f4d;
}

.discussion-thread-badge.created {
  background-color: #2760a4 !important;
}

.discussion-thread-badge.created + .discussion-thread-panel .discussion-thread-title {
  color: #2760a4;
}

.discussion-thread-badge.validated {
  background-color: #5CB85C !important;
}

.discussion-thread-badge.validated + .discussion-thread-panel .discussion-thread-title {
  color: #5CB85C;
}

.discussion-thread-badge.submitted {
  background-color: #fff !important;
  color: #5CB85C !important;
}

.discussion-thread-badge.submitted + .discussion-thread-panel .discussion-thread-title {
  color: #5CB85C;
}

.discussion-thread-badge.unsubmitted {
  background-color: #fff !important;
  color: #ff7f4d !important;
}

.discussion-thread-badge.unsubmitted + .discussion-thread-panel .discussion-thread-title {
  color: #ff7f4d;
}

.discussion-thread-badge.unvalidated {
  background-color: #da2130 !important;
}

.discussion-thread-badge.unvalidated + .discussion-thread-panel .discussion-thread-title {
  color: #da2130;
}

.discussion-header-custom {
  padding: 12px;
  background: #f5f5f5;
  border-radius: 0.3rem;
  line-height: 1.8rem;
}

.event-statut {
  padding: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.event-commentaire {
  margin: 0;

  i {
    margin-right: 7px;
    font-size: 0.9rem;
    color: #2660a4 !important;
  }
}

.bg-danger, .bg-warning, .bg-success {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.discussion-thread-wrapper {
  padding: 0;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  margin: 0 auto;
  background: #f5f5f5;
  border-radius: 0.3rem;
  min-height: 216px;
}

.download-action {
  text-align: right;
}
