<template>
  <v-form
      style="margin : 50px"
      lazy-validation
  >
    <v-text-field
        style="color : black"
        v-model="projName"
        label="Entrez une API"
        :rules="[v => !!v || 'Veuillez remplir ce champ !']"
    ></v-text-field>
    <v-btn
        class="mr-4"
        @click="submit"
    >
      submit
    </v-btn>
    <v-btn @click="clear">
      clear
    </v-btn>
  </v-form>
</template>

<script>
export default {
  data() {
    return{
      projName: ''
    }
  },
  methods: {
    submit() {
      this.$emit("envoiProjName",this.projName);
    },
    clear() {
      this.projName = '';
    }
  }
}
</script>
<style></style>