<module-form inline-template :page="'{{ page }}'" :context="'{{ context|json_encode()|escape('js') }}'" :rubriques="'{{ rubriques|json_encode()|escape('js') }}'">
    {% include 'module_autoformation/module/_form.html.twig' %}
</module-form>
