<div class="module col-md-12">
    <div class="alert alert-danger alert-dismissable" v-if="errors.length > 0" role="alert">
        <button type="button" class="close" aria-hidden="true" v-on:click="closeModal">&times;</button>
        {{ 'ALERTE_ERREUR_MESSAGE_CHAMPS_OBLIGATOIRES'|trans }}
    </div>
    <form>
        <fieldset>
            <legend>{{ 'DESCRIPTION_VIDEO'|trans }}</legend>
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ 'RENSEIGNER_NOM_DESCRIPTION_VIDEO'|trans }}</h2>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <img src="{{ asset('app/img/id_lang_1.svg') }}" alt="{{ 'VERSION_FRANCAISE'|trans }}" width="50">
                        <span class="version">{{ 'VERSION_FRANCAISE'|trans }}</span>
                    </div>
                    <div class="form-group">
                        <label for="name-fr">{{ 'NOM_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name-fr" v-model="nameFr" :maxlength= "maxLengthName">
                        <label for="name-fr" class="text-danger" v-if="submited && nameFr.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                        <label for="name-fr" class="text-danger" v-if="nameFr.length > maxLengthName">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLengthName }} {% endverbatim %}.
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="desc-fr">{{ 'DESCRIPTION_CONTENU_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <textarea id="desc-fr"rows="5" cols="33" v-model="descriptionFr" :maxlength= "maxLengthDescription">
                        </textarea>
                        <label for="desc-fr" class="text-danger" v-if="submited && descriptionFr.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                        <label for="desc-fr" class="text-danger" v-if="descriptionFr.length > maxLengthDescription">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLengthDescription }} {% endverbatim %}.
                        </label>
                    </div>
                </div>
                <div class="col-md-6" v-if="page == 'entreprise'">
                    <div class="form-group">
                        <img src="{{ asset('app/img/id_lang_2.svg') }}" alt="{{ 'VERSION_ANGLAISE'|trans }}" width="50">
                        <span class="version">{{ 'VERSION_ANGLAISE'|trans }}</span>
                    </div>
                    <div class="form-group">
                        <label for="name-en">{{ 'NOM_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name-en" v-model="nameEn" :maxlength= "maxLengthName">
                        <label for="name-en" class="text-danger" v-if="submited && nameEn.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                        <label for="name-en" class="text-danger" v-if="nameEn.length > maxLengthName">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLengthName }} {% endverbatim %} .
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="desc-en">{{ 'DESCRIPTION_CONTENU_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <textarea id="desc-en" rows="5" cols="33" v-model="descriptionEn" :maxlength= "maxLengthDescription">
                        </textarea>
                        <label for="desc-fr" class="text-danger" v-if="submited && descriptionEn.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                        <label for="desc-en" class="text-danger" v-if="descriptionEn.length > maxLengthDescription">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLengthDescription }} {% endverbatim %}.
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{{ 'POSITION_FORMAT_VIDEO'|trans }} </legend>
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ 'RUBRIQUE_FORMAT_PUBLIER_VIDEO'|trans }}</h2>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="format">
                            {{ 'TYPE_FORMAT'|trans }}
                            <i class="fa fa-info-circle"  v-b-tooltip.hover title="{{ 'INFO_FORMAT'|trans }}"></i>
                        </label>
                        <select class="form-control" id="format" v-model="indexTypeFormat">
                            <option v-for="(format, index) in formats" :value="index"> {% verbatim %} {{ format }} {% endverbatim %}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="show-rubrique">{{ 'RUBRIQUE_AFFICHAGE_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <select id="show-rubrique" class="form-control" v-model="idRubrique" @change="onChange()">
                            <option value=""></option>
                            <option v-for="rubrique in getRubriques()" :value="rubrique.id">
                                {% verbatim %} {{ rubrique.name }} {% endverbatim %}
                            </option>
                        </select>
                        <label for="show-rubrique" class="text-danger" v-if="submited && idRubrique.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="order">{{ 'ORDRE_AFFICHAGE_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <select class="form-control" id="order" v-model="order">
                            <option></option>
                            <option v-for="number in numberOfModules" :value="number">{% verbatim %} {{ number }} {% endverbatim %}</option>
                        </select>
                        <label for="order" class="text-danger" v-if="submited && order.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="duration">{{ 'DUREE_APPROXIMATIVE_VIDEO'|trans }}</label>
                        <select class="form-control" id="duration" v-model="duration">
                            <option v-for="(data, key) in getDurations()" :value="key+1">{% verbatim %} {{ data }} {% endverbatim %}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12" v-if="indexTypeFormat > 0">
                    <div class="file-upload" id="video">
                        <label for="name-fr">{{ 'TITRE_FICHIER_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <a :href="urlVideo" target="_blank" v-if="urlVideo.length > 0">{{ 'ACCES_VIDEO'|trans }}
                            <svg style="width: 11px; margin-left: 4px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" viewBox="0 0 512 512" class="svg-inline--fa fa-external-link-alt fa-w-16 fa-2x"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg>
                        </a>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' v-on:change="readURL($event);" accept=".zip" />
                            <div class="drag-text">
                                <h3>{{ 'CHOISISSEZ_UN_FICHIER'|trans }}</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <div class="image-title-wrap">
                                <button type="button" v-on:click="removeUpload($event)" class="remove-image">Supprimer <span class="image-title">{{ 'FICHIER_VIDEO'|trans }}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" v-if="indexTypeFormat == 0">
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input type="url" class="form-control" id="url" v-model="urlExterne" :maxlength= "maxLengthDescription">
                        <label for="name-en" class="text-danger" v-if="submited && urlExterne.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                        <label for="desc-fr" class="text-danger" v-if="urlExterne.length > maxLengthDescription">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLengthDescription }} {% endverbatim %}.
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="file-upload" id="sticker">
                        <label for="name-fr">{{ 'VIGNETTE_VIDEO'|trans }} <span class="text-danger">*</span></label>
                        <a :href="urlImage" target="_blank">{% verbatim %} {{ urlImage }} {% endverbatim %}</a>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' @change="readURL($event);" accept="image/*">
                            <div class="drag-text">
                                <h3>{{ 'CHOISISSEZ_UN_FICHIER'|trans }}</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#"/>
                            <div class="image-title-wrap">
                                <button type="button" v-on:click="removeUpload($event)" class="remove-image">
                                    {{ 'DEFINE_SUPPRIMER'|trans }} <span class="image-title">{{ 'VIGNETTE_VIDEO'|trans }}</span></button>
                            </div>
                        </div>
                        <label for="order" class="text-danger" v-if="submited && videoThumbnail.length == 0">
                            {{ 'CHAMPS_OBLIGATOIRE'|trans }}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="btn-actions">
        <a href="{{ PF_URL }}?page=Agent.ModuleAutoformation&access={{ page }}" class="btn btn-default cancel">{{ 'TEXT_ANNULER'|trans }}</a>
        <button class="btn btn-primary add" type="button" v-on:click="postData" :title="'{{ 'VALIDER_AJOUT_MODULE'|trans }} ' + nameFr" >
            {{ 'AJOUT_MODULE'|trans }}
        </button>
    </div>
</div>