{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('app/css/messagerieSecurisee.css') }}">
{% endblock %}
{% block stylesheet_sf1 %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/atx-bloc-highlighted-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('app/css/dossierVolumineux.css') }}"/>
    <link rel="stylesheet" href="{{ asset('app/css/bootstrap-switch.min.css') }}"/>
{% endblock %}
{% block javascripts_header %}
	{{ parent() }}
	{% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}

{% block breadcrumbs %}


	{% if not isAgent %}
		<div class="container clearfix">
			{% if breadcrumb is defined %}
				<nav role="navigation">
				<ul class="breadcrumb">
					<li>
						<a href="/entreprise">
							Accueil
						</a>
					</li>
					{% for ele in breadcrumb %}
					<li>
						{{ ele|trans }}
					</li>
					{% endfor %}
				</ul>
				</nav>
			{% else %}
				<nav role="navigation">
				<ul class="breadcrumb">
					<li>
						<a href="/entreprise">
						<com:TTranslate>TEXT_ACCUEIL</com:TTranslate>
						</a>
					</li>
					<li>
						<a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">
							<com:TTranslate>DEFINE_TEXT_CONSULTATIONS</com:TTranslate>
						</a>
					</li>
					<li>
						<com:TTranslate>DEFINE_REPONDRE</com:TTranslate>
					</li>
				</ul>
				</nav>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
{% block content %}
<div class="repondre-consultation detailConsultaion">
    {% if tpl is defined %}
    {% include tpl %}
    {% endif %}
</div>
{% endblock %}

{% block javascripts_footer %}
	<script type="text/javascript" src="{{ asset('app/js/bootstrap-switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('app/js/dossierVolumineux.js') }}"></script>
{% endblock %}
