{% extends 'layout-agent.html.twig' %}
{% set url_concentrateur_annonces_eforms =  get_parameter('URL_CONCENTRATEUR_ANNONCE') %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/concentrateur-annonces/web-component-eforms/styles.css"/>
    {{ parent() }}
{% endblock %}

{% block content %}
        <div class="content-bloc-justificatif col-md-12 col-12 ">
            <atx-eforms token="{{token}}"
                        lang="{{ lang }}"
                        page="{{ page }}"
                        organisme="{{org}}"
                        plateforme="{{uidPfMpe}}">
            </atx-eforms>
        </div>


    <script src="/concentrateur-annonces/web-component-eforms/web-component-eforms.js"></script>

{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('validation-eco-sip') }}
{% endblock %}
