{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} {{'TITRE' | trans}} {% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="messageAccTab">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#show_authenticated_agent"
                   data-position="0"
                   data-destinataire= {{ agentConnected['destinataire'] }}
                   data-authentifier= {{ agentConnected['authentifier'] }}
                   >
                    {{'AGENTS_AUTHENTIFIES' | trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#show_unauthenticated_agent"
                   data-position="1"
                   data-destinataire= {{ agentNonConnected['destinataire'] }}
                   data-authentifier= {{ agentNonConnected['authentifier'] }}
                >
                    {{'AGENTS_NON_AUTHENTIFIES' | trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#show_companies"
                   data-position="2"
                   data-destinataire= {{ entreprise['destinataire'] }}
                   data-authentifier= {{ entreprise['authentifier'] }}
                >
                    {{'ENTREPRISES' | trans }}
                </a>
            </li>
            <input type="hidden" id="currentCkeditor" value="">
            <input type="hidden" id="currentMessageType" value="">
            <input type="hidden" id="destinataire" value="">
            <input type="hidden" id="authentifier" value="">
        </ul>

        <!-- Tab panes -->
        <div class="alert alert-success" role="alert" style="display: none">
            {{ 'TEXT_CONFIRMATION_ENREGISTREMENT_CONSULTATION'|trans }}
        </div>
        <form>
            <div class="tab-content">

                <div id="show_authenticated_agent" class="container tab-pane active">
                    {{ form_widget(formAgentConnecte.typeMessage) }}
                    <br>
                    <p>{{ form_widget(formAgentConnecte.agentAuthenticated) }}</p>

                </div>
                <div id="show_unauthenticated_agent" class="container tab-pane fade">
                    {{ form_widget(formAccueilAgent.typeMessage) }}
                    <br>
                    <p>{{ form_widget(formAccueilAgent.agentUnauthenticated) }}</p>
                </div>
                <div id="show_companies" class="container tab-pane fade">
                    {{ form_widget(formEntreprise.typeMessage) }}
                    <br>
                    <p>{{ form_widget(formEntreprise.companies) }}</p>
                </div>
            </div>

            <a href="#modal-dialog" type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#messageAccueilModal">
                {{ 'DEFINE_PUBLIER'|trans }}
            </a>

            <!-- Modal -->
            <a class="modal fade" id="messageAccueilModal" tabindex="-1" aria-labelledby="messageAccueilModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="messageAccueilModalLabel">{{ 'PUBLICATION_MESSAGE_ACCUEIL'|trans }}</h5>
                        </div>
                        <div class="modal-body">
                            <hr>
                            <p>{{ 'MESSAGE_CONFIRMATION_PUBLICATION'|trans }}</p>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'DEFINE_ANNULER'|trans }}</button>
                            <button id="validateButton" type="button" class="btn btn-primary float-left"  data-bs-dismiss="modal">{{ 'TEXT_VALIDER'|trans }}</button>
                        </div>
                    </div>
                </div>
            </a>
        </form>
    </div>
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-accueil') }}
    <script type="text/javascript" src="{{ asset('app/js/bootstrap.5.0.1.bundle.min.js') }}"></script>
{% endblock %}
