/* [1.2] Footer
------------------------------------
*/

// Variable
// --------------------------------------------------
$atx-footer-base-height: $atx-base-unit*4 !default;
$atx-footer-color: $atx-base-color !default;
$atx-footer-background-image: '' !default;
$atx-footer-background-repeat: no-repeat !default;
$atx-footer-background-position: 16px 50% !default;
$atx-footer-background-size: auto 40px !default;
$atx-footer-background-color: rgba(250, 250, 250, 1) !default;
$atx-footer-border-top: 1px solid rgba(245, 245, 245, 1) !default;
// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------

/* Page FooterEntreprise
------------------------------------
*/

.atx-footer {

  @if $atx-footer-border-top != false {
    border-top: $atx-footer-border-top;
  }

  .atx-footer-container {
    background-position: $atx-footer-background-position;
    background-repeat: $atx-footer-background-repeat;
    background-size: $atx-footer-background-size;
    background-color: $atx-footer-background-color;
    padding: $atx-base-unit;
    line-height: $atx-base-unit * 2;
    color: $atx-footer-color;
  }

  a,
  a.link {
    line-height: $atx-base-unit * 2;
    text-decoration: none;
    display: block;
    float: left;
    padding: 0 $atx-base-unit;
    position: relative;
    border-left: 1px solid $atx-footer-color;
    color: $atx-footer-color;
    &:first-child {
      border-left: 0;
    }
    &:hover,
    &.link:hover {
      text-decoration: underline;
    }
  }

}