/* [1.7] Secondary SideBar
------------------------------------
*/

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
#middle #left-part,
.atx-body .left-part{
  display: none !important;
}

.atx-body .main-part {
  padding: $atx-base-unit*2 0;
  display: block;
  @include box-sizing(border-box);
}

.administration:not(.hide-sidebar) #middle #left-part,
.administration:not(.hide-sidebar) .atx-body .left-part,
.statistiques #middle #left-part,
.statistiques .atx-body .left-part {
  display: block !important;
  position: absolute;
}