<div *ngIf="contrats.totalElements == 0" class="panel-table">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <h3 class="repeater-header-title">Aucun résultat trouvé.</h3>
        </div>
    </div>
</div>
<div *ngIf="contrats.totalElements != 0" class="panel-table">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <ltexec-table-elements-count [page]="contrats"></ltexec-table-elements-count>
        </div>
        <div class="repeater-header-right">
            <ltexec-export-contrats-button [findContratDTO]="filtres"></ltexec-export-contrats-button>
            <!--Debut Pagination top-->
            <ltexec-table-pagination [page]="contrats" [table]="self" (change)="changePageSize($event)"
                                     [sort]="sort"></ltexec-table-pagination>
            <!--Fin Pagination top-->
        </div>
    </div>

    <div class="repeater-viewport">
        <table class="table table-bordered table-striped table-suivi table-contrats table-hover">
            <thead>
            <tr>
                <th class="col-favori" id="header_1">&nbsp;</th>
                <th class="col-refs" id="header_2">

                    <ltexec-table-sort [label]="'N° contrat'" [page]="contrats" [property]="'referenceLibre'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'N° consultation'" [page]="contrats" [property]="'consultation.numero'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Numéro long/Numéro court'" [page]="contrats" [property]="'numeroLong'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Type de contrat'" [page]="contrats" [property]="'type.label'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    /
                    <ltexec-table-sort [label]="'Catégorie'" [page]="contrats" [property]="'categorie.label'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Statut'" [page]="contrats" [property]="'statut'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Agent gestionnaire'" [page]="contrats" [property]="'createur.nom'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                </th>
                <th id="header_3">

                    <ltexec-table-sort [label]="'Objet du contrat'" [page]="contrats" [property]="'objet'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>
                    <span>
                       <ltexec-table-sort [label]="'Direction/Service'" [page]="contrats" [property]="'service.nom'"
                                          (order)="trier($event)"
                                          [table]="self"></ltexec-table-sort>
                    </span>
                    <br/>
                    <ltexec-table-sort [label]="'contrat.attributaire' | surchargeLibelle :'Attributaire'"
                                       (order)="trier($event)"
                                       [page]="contrats"
                                       [property]="'attributaire.etablissement.fournisseur.raisonSociale'"
                                       [table]="self"></ltexec-table-sort>
                    <br/>
                </th>
                <th class="col-dates" id="header_4">
                    <strong>Dates :</strong>
                    <br/>

                    <ltexec-table-sort [label]="'Notification'" [page]="contrats"
                                       [property]="'dateNotification'" [table]="self"
                                       (order)="trier($event)"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Fin actuelle'" [page]="contrats"
                                       [property]="'dateFinContrat'" [table]="self"
                                       (order)="trier($event)"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Fin max. de contrat'" [page]="contrats"
                                       [property]="'dateMaxFinContrat'" [table]="self"
                                       (order)="trier($event)"></ltexec-table-sort>

                </th>
                <th class="col-montants" id="header_5">
                    <strong>Montants {{ devise.value }} HT :</strong>
                    <br/>

                    <ltexec-table-sort [label]="'Attribué'" [page]="contrats" [property]="'montant'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Facturé'" [page]="contrats" [property]="'montantFacture'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>

                    <ltexec-table-sort [label]="'Mandaté'" [page]="contrats" [property]="'montantMandate'"
                                       (order)="trier($event)"
                                       [table]="self"></ltexec-table-sort>
                    <br/>
                </th>
                <th class="actions col-md-1 text-center" id="header_6">
                    <div>Actions</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contrat of contrats.content">
                <td headers="header_1" style="text-align: center">
                    <div>
                        <label class="btn">
                            <span>
                                <fa-icon (click)="favContrat(contrat)" [icon]="[contrat.favori?'fas':'far', 'star']"
                                         [style.color]="contrat.favori?'#fbb045':''"></fa-icon>
                            </span>
                        </label>
                    </div>
                    <div>
                        <fa-icon *ngIf="contrat.chapeau" [icon]="['fas', 'sitemap']" [tooltip]="'Contrat chapeau'"
                                 class="text-success"></fa-icon>
                    </div>
                </td>

                <td class="col-refs" headers="header_2">
                    <ltexec-contrat-infos-references (onSelect)="onSelectContrat.emit($event);openFicheContrat($event)"
                                                     [contrat]="contrat"></ltexec-contrat-infos-references>
                </td>
                <td headers="header_3">
                    <ltexec-contrat-infos-description [attributaires]="!masquerNavigation"
                                                      [actes]="!masquerNavigation" [calendrier]="!masquerNavigation"
                                                      [contrat]="contrat"
                                                      [documents]="!masquerNavigation" [messages]="!masquerNavigation"
                                                      [updateMessagesStatus]="false"></ltexec-contrat-infos-description>
                </td>
                <td class="col-dates">
                    <ltexec-contrat-infos-dates [contrat]="contrat"></ltexec-contrat-infos-dates>
                </td>
                <td class="col-montants">
                    <ltexec-contrat-infos-montants [contrat]="contrat"></ltexec-contrat-infos-montants>
                </td>
                <td class="actions col-md-1 text-center">
                    <ng-template [ngIf]="contrat != null">
                        <div class="button-grid">
                            <button (click)="onSelectContrat.emit(contrat);router.navigate(['/tableauDeBord', contrat.id])" *ngIf="!masquerNavigation && !contrat.chapeau && isHabiliteExec"
                                    class="btn btn-primary btn-xs btn-chart"
                                    title="Tableau de bord">
                                <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
                            </button>
                            <button (click)="onSelectContrat.emit(contrat);openFicheContrat(contrat)" class="btn btn-primary btn-md"
                                    title="Fiche Contrat" type="button">
                                <fa-icon [icon]="['fas', 'file-signature']"></fa-icon>
                            </button>
                            <button (click)="notifierContrat(contrat,false, true)"
                                    *ngIf="!contrat.chapeau && contrat.notifiable && hasHabilitation('MODIF_DONNEES_CONTRAT')"
                                    class="btn btn-success btn-md"
                                    title="Publier le contrat" type="button">
                                <fa-icon [icon]="['fas', 'user-check']"></fa-icon>
                            </button>
                            <button (click)="verifierEchangeChorus(contrat)"
                                    *ngIf="isChorus(contrat)"
                                    class="btn btn-primary btn-md"
                                    title="Echanger avec chorus" type="button">
                                <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
                            </button>
                            <button (click)="notifierContrat(contrat,true, false)"
                                    *ngIf="!contrat.chapeau && contrat.notifiable && hasHabilitation('MODIF_DONNEES_CONTRAT')"
                                    class="btn btn-success btn-md"
                                    title="Notifier par messagerie" type="button">
                                <fa-icon [icon]="['fas','envelope-circle-check']"></fa-icon>
                            </button>
                            <button (click)="creerMarcheSubsequent(contrat)"
                                    *ngIf="!masquerNavigation && peutCreerMarcheSubsequent(contrat)"
                                    class="btn btn-primary btn-md"
                                    tooltip="Création d’un marché subséquent ou spécifique"
                                    type="button">
                                <fa-icon [icon]="['fas', 'external-link-square-alt']"></fa-icon>
                            </button>
                            <button (click)="ouvrirSuppressionContratModale(contrat)"
                                    *ngIf="canDelete(contrat)"
                                    class="btn btn-danger btn-md"
                                    title="Supprimer" type="button">
                                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                            </button>
                            <button (click)="redirigerVersSpaser(contrat)" *ngIf="spaserActif" class="btn btn-primary btn-md"
                                    title="Spaser" type="button">
                                <fa-icon [icon]="['fas', 's']"></fa-icon>
                            </button>
                        </div>

                    </ng-template>
                </td>
            </tr>

            </tbody>

        </table>
    </div>

    <div class="repeater-footer">
        <div class="repeater-footer-left">
        </div>
        <div class="repeater-footer-right">
            <ltexec-export-contrats-button [findContratDTO]="filtres"></ltexec-export-contrats-button>
            <!--Debut Pagnination bottom-->
            <ltexec-table-pagination [page]="contrats" [table]="self" (change)="changePageSize($event)"
                                     [sort]="sort"></ltexec-table-pagination>
            <!--Fin Pagnination bottom-->
        </div>
    </div>

</div>
<!-- Modales -->
<div #autoShownModal="bs-modal" *ngIf="currentContrat!=null && isModalFicheContratShown"
     [config]="{ show: true, backdrop: 'static'}"
     (onHidden)="fermerModaleFiche()" aria-hidden="true"
     aria-labelledby="titreDialogue_ficheContrats" bsModal class="modal" id="myModal_ficheContrats"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="fermerModaleFiche()" aria-label="Close" class="close"
                        data-dismiss="modal"
                        type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_ficheContrats">Fiche du
                    contrat {{ currentContrat.referenceLibre }}</h4>
            </div>
            <div class="modal-body">
                <ltexec-contrat-fiche (onSave)="onSaveFicheContrat($event)" [contratId]="currentContrat.id"
                                      [masquerNavigation]="masquerNavigation"></ltexec-contrat-fiche>
            </div>
        </div>
    </div>
</div>

<div #autoShownModal="bs-modal" *ngIf="currentContrat!=null && isModalSuppressionContratShown" [config]="{ show: true }"
     (onHidden)="fermerModaleSuppression()" aria-hidden="true"
     aria-labelledby="titreDialogue_ficheContrats" bsModal class="modal" id="myModal_suppressionContrats"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="fermerModaleSuppression()" class="close" type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_acteSuppression">Supprimer le contrat</h4>
            </div>
            <div class="modal-body">
                <p>La suppression du contrat est immédiate et irréversible. Êtes vous sûr de vouloir supprimer ce
                    contrat ?</p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            (click)="fermerModaleSuppression()">Annuler
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="supprimerContrat(currentContrat)" class="btn btn-default btn-primary"
                            data-dismiss="modal">Poursuivre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div #autoShownModal="bs-modal" *ngIf="currentContrat!=null && isModalMessecShown" [config]="{ show: true }"
     (onHidden)="isModalMessecShown=false;currentContrat=null" aria-hidden="true"
     aria-labelledby="titreDialogue_messec" bsModal class="modal" id="myModal_messec"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="isModalMessecShown=false;currentContrat=null" aria-label="Close" class="close"
                        data-dismiss="modal"
                        type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left modal-confirmation-txt" id="titreDialogue_notificationMessec">
                    Notification par messagerie sécurisée</h4>
            </div>
            <div class="modal-body">
                <ltexec-envoi-message [masquerNavigation]="masquerNavigation" [idContratInput]="currentContrat.id"
                                      [notificationInput]="true"
                                      (closeModal)="isModalMessecShown=false;"></ltexec-envoi-message>
            </div>
        </div>
    </div>
</div>

<div #autoShownModal="bs-modal" *ngIf="currentContrat!=null && isModalNotificationErrorContratShown"
     [config]="{ show: true }"
     (onHidden)="fermerModaleNotification()"
     aria-hidden="true"
     aria-labelledby="titreDialogue_notificationKOContrat" bsModal class="modal" id="myModal_notificationKOContrats"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    (click)="fermerModaleNotification()"
                    aria-label="Close" class="close" data-dismiss="modal"
                    type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_notificationKOContrat">Notification du
                    contrat</h4>
            </div>
            <div class="modal-body">
                <div class="vcenter"><span [innerHTML]="errorNotificationMessage"></span></div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            (click)="fermerModaleNotification()">
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div #autoShownModal="bs-modal" *ngIf="currentContrat!=null && isModalNotificationOKContratShown"
     [config]="{ show: true }"
     (onHidden)="fermerModaleModification()"
     aria-hidden="true"
     aria-labelledby="titreDialogue_notificationOKContrat" bsModal class="modal" id="myModal_notificationOKContrats"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="fermerModaleModification()"
                        aria-label="Close" class="close" data-dismiss="modal"
                        type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_notificationOKContrat">Notification du
                    contrat</h4>
            </div>
            <div class="modal-body">
                <div class="vcenter">
                    <div [innerHTML]="this.messageNotificationOK | safeHtml"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button
                        (click)="fermerModaleModification()"
                        class="btn btn-sm btn-default" data-dismiss="modal"
                        type="button">Non
                    </button>
                    <button (click)="confirmer()" class="btn btn-primary" data-dismiss="modal" type="button">
                        Oui
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fin modales -->

<!-- Debut modale vérification CHORUS  -->
<div (onHidden)="fermerModaleVerificationChorus()" *ngIf="modaleVerificationChorus" [config]="{ show: true }"
     aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content modal-confirmation">
            <div class="modal-header">
                <h4 class="modal-title pull-left modal-confirmation-txt">Echange CHORUS</h4>
                <button (click)="fermerModaleVerificationChorus()" aria-label="Close" class="close pull-right"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="errors">
                    <div>
                        <span>Le contrat ne permet pas l'échange CHORUS.</span>
                        <br/>
                        <span>
                            <ng-template #many_errors>Les champs suivants sont obligatoires :</ng-template>
                            <ng-template #one_error>Le champ suivant est obligatoire :</ng-template>
                            <ng-container *ngIf="modaleVerificationChorus.erreurs.length > 1;then many_errors else one_error"/>
                        </span>
                        <br/>
                        <ol class="m-t-1">
                            <ng-container *ngFor="let erreur of modaleVerificationChorus.erreurs">
                                <li>{{ erreur.message }}</li>
                            </ng-container>
                        </ol>
                    </div>
                </div>
                <div class="please">
                    <span>Merci de corriger avant de continuer.</span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button (click)="fermerModaleVerificationChorus()" class="btn btn-primary" data-dismiss="modal" type="button">Annuler</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Fin modale vérification CHORUS -->
