@import "variables";

.button-grid {
    display: grid;
    grid-template-rows: $action-button-height $action-button-height $action-button-height;
    grid-template-columns: $action-button-width $action-button-width;
    row-gap: $action-button-gap;
    column-gap: $action-button-gap;

    button {
        margin: 0;
        padding: 0;
    }
}
::ng-deep {
    .modal-notif-error {
        ol, ul {
            list-style-type: disc;
        }

        .errors, .please {
            margin-top: 1rem;
        }
    }
}
