<span class="font-italic font-small-3 font-weight-normal text-justify cursor-pointer text-decoration-underline" (click)="onClickInformation.emit(true)"> ({{'plus' | translate}}
  <i class="la la-info-circle"></i>)
</span>
