<div *ngIf="clauseDocument">
  <div [innerHTML]="clauseDocument?.texteFixeAvant | safeHtml">
  </div>
  <br *ngIf="clauseDocument.texteFixeAvantAlaLigne"/>
  <quill-editor [ngModel]="clauseDocument.texteVariable"
                [modules]="quillConfig"></quill-editor>
  <br *ngIf="clauseDocument.texteFixeApresAlaLigne"/>
  <div [innerHTML]="clauseDocument?.texteFixeApres | safeHtml">
  </div>
</div>

