<section id="formulaire-page" *ngIf="param">
  <atx-breadcrumb class="col-12" [breadcrumb]="param" [export]="true"
                  [loadingExport]="loadingExport"
                  [loadingImport]="loadingImport"
                  [import]="true" (onClickImport)="importer($event)"
                  (onClickExport)="export()"></atx-breadcrumb>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="row" *ngIf="!loading">
    <div class="card card col-12">
      <div class="card-header font-weight-bolder p-0 header-field">
        <div class="header-forms">
          <div class="d-flex justify-content-center">
            <div>
              <button (click)="extendedFormulaireEuropeen = !extendedFormulaireEuropeen"
                      class="btn btn-primary primary-client-bg-border">
                <i class="la {{extendedFormulaireEuropeen?'la-chevron-up':'la-chevron-down'}}"></i>
              </button>
            </div>
            <div style="margin: auto; cursor: pointer; background: white" class="ml-1 bg-white card-body"
                 (click)="extendedFormulaireEuropeen=!extendedFormulaireEuropeen">
              <div class="font-weight-bold pl-1 pr-1"> Configuration des formulaires européens de
                de ATEXO
              </div>
            </div>

          </div>
        </div>
        <hr *ngIf="extendedFormulaireEuropeen" class="mt-0"/>

      </div>


      <div *ngIf="extendedFormulaireEuropeen" class="row mt-1">
        <div class="col-12 form-group">
          <label>Offre à configurer</label>
          <div class="controls">
            <fieldset class="form-group">
              <ng-select
                #sortField
                (blur)="sortField.close()"
                name="sortField"
                bindLabel="libelle"
                [items]="europeenOffres"
                [(ngModel)]="selectedOffre"
                [notFoundText]="'aucun' | translate"
                (ngModelChange)="chargerFormulaire($event)"
              >
                <ng-template
                  ng-label-tmp
                  let-item="item">
                  <atx-referentiel-select-item [item]="item">

                  </atx-referentiel-select-item>
                </ng-template>
                <ng-template
                  ng-option-tmp
                  let-item="item">
                  <atx-referentiel-select-item [item]="item">
                  </atx-referentiel-select-item>
                </ng-template>
              </ng-select>
            </fieldset>
          </div>

        </div>
      </div>
      <div *ngIf="structure && selectedOffre">
        <div>Metadata</div>
        <atx-content-treeview [metadata]="structure.metadata" [niveau]="0"
                              [noticeId]="this.selectedOffre.code.replace('_ENOTICES', '')"
                              [noticelibelle]="this.selectedOffre.libelle"
        ></atx-content-treeview>
        <div>Contents</div>
        <atx-content-treeview [metadata]="structure.content" [niveau]="0"
                              [noticelibelle]="this.selectedOffre.libelle"
                              [noticeId]="this.selectedOffre.code.replace('_ENOTICES', '')"></atx-content-treeview>
      </div>

      <div *ngIf="extendedFormulaireEuropeen" class="form-actions text-right pr-0 pl-0">
        <button
          [disabled]="loadingSave"
          class="btn btn-primary primary-client-bg-border btn-sm"
          (click)="save()">
          <i *ngIf="!loadingSave" class="la la-save"></i>
          <i *ngIf="loadingSave" class="la la-spin la-spinner"></i>
          {{'save' | translate}}
        </button>

      </div>

    </div>
  </div>
</section>
