<ltexec-alertpanel *ngIf="selectionMode" [type]="'info'"
                   [title]="'Veuillez accéder à la fiche d\'un fournisseur et sélectionner un contact en cliquant sur la ligne correspondante.'">
</ltexec-alertpanel>


<!--Debut Main-content-->
<div class="content">

    <h2 *ngIf="mode !== 'update'" class="text-primary">Ajouter un acte</h2>
    <h2 *ngIf="mode === 'update'" class="text-primary">Modifier un acte</h2>


    <!--Debut Panel Contrat-->
    <ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>
    <!--Fin Panel Contrat-->

    <!--Debut panel Filtres-->
    <div aria-multiselectable="true" class="panel-group" id="accordion_entrepriseEtablie" role="tablist">
        <div class="panel panel-default bloc-toggle ">

            <div id="collapseOne" role="tabpanel">
                <div class="panel-body">
                    <form #creationForm="ngForm">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div style="display: flex">
                                    <div style="display: flex; width: 50%">
                                        <label class="control-label col-md-3 col-fixed-8" for="numero">Numéro de
                                            contrat</label>
                                        <div class="controls w-60">
                                            <input
                                                [(ngModel)]="contrat.numero"
                                                class="form-control input-sm"
                                                id="numero"
                                                name="numero"
                                                readonly="readonly"
                                                type="text"
                                            >
                                        </div>
                                    </div>
                                    <div *ngIf="contrat?.service?.echangesChorus"
                                         style="display: flex; width: 50%">
                                        <label class="control-label col-md-3 col-fixed-8"
                                               for="contrat_numero_ej_chorus">Numéro d'EJ Chorus</label>
                                        <div class="controls w-60">
                                            <input [(ngModel)]="contrat.numEj" class="form-control input-sm" id="contrat_numero_ej_chorus"
                                                   name="numEj"
                                                   readonly="readonly" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="display: flex">
                                    <label class="control-label col-md-3 col-fixed-8" for="contrat_numero_ej_chorus">Type
                                        d'acte
                                        <ltexec-asterisk></ltexec-asterisk>
                                    </label>
                                    <div class="controls w-80">

                                        <ng-select
                                            (change)="majTypeActe()"
                                            [(ngModel)]="type"
                                            [closeOnSelect]="true"
                                            [items]="typesActe"
                                            [readonly]="typesActe.length===1 || mode === 'update'"
                                            [searchable]="true"
                                            bindLabel="label"
                                            bindValue="value"
                                            id="acte_types"
                                            name="acte_types"
                                            placeholder="Veuillez choisir un type d'acte"
                                            required
                                        >
                                        </ng-select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <ng-template formulaire-acte></ng-template>
    <div *ngIf="mode !== 'update'" class="panel-footer form-group form-actions clearfix">
        <div class="pull-left">
            <button (click)="retour()" class="btn btn-default btn-sm" type="button">
                <fa-icon icon="angle-double-left"></fa-icon>
                Retour
            </button>
        </div>
    </div>
</div>
<!-- /.container -->

