<template>
  <div class="page">
    <edition-component @open="$store.dispatch('application/setLoading', false)">
    </edition-component>
  </div>

</template>

<script>

import EditionComponent from "@/components/EditionComponent";

export default {
  name: "EditionPage",
  components: {
    EditionComponent,
  }, mounted() {
    this.$store.dispatch('application/setLoading', true)
  }
}

</script>

<style>

</style>
