<template>
  <div class="page">
    <legende-component :dialog="dialogLegend"
                       @close-legende="dialogLegend=false;lastCloseDialog=new Date();"></legende-component>
    <alert-dialog-component :show="dialogAllClausesValidation" icon="fact_check"
                            type="info"
                            :persistent="true"
                            :header="$t('redac.validate-all-clauses.header')"
                            max-width="630">
      <template v-slot:message v-if="dialogAllClausesValidationStep1">
        <div style="text-align: center">
          {{ $t('redac.validate-all-clauses.message') + progressClausesNumber }}
        </div>
        <br/>
        <div class="validate-all-clauses-progress">
          <div style="text-align: center"
               v-bind:class="{'hidden':!selectedClause}">
            {{ $t('redac.validate-all-clauses.progress-message') }}
            <strong v-if="selectedClause">{{ selectedClause.ref }}</strong>
          </div>
          <v-progress-linear height="25"
                             :color="progressColor"
                             :background-color="progressBackgroundColor"
                             background-opacity="0.3"
                             :value="progress">
            <span style="color:black; font-weight: bold"><strong>{{
                progressPercent
              }}</strong></span>
          </v-progress-linear>

        </div>

      </template>
      <template v-slot:message v-else-if="dialogAllClausesValidationStep2">
        <div class="validate-all-clauses-progress">
          <div style="text-align: center">
            {{ $t('redac.validate-all-clauses.wait-message') }}
          </div>
          <v-progress-linear height="25"
                             indeterminate
                             color="#6286b6"
                             background-color="#6286b6"
                             background-opacity="0.3">
          </v-progress-linear>

        </div>
      </template>
    </alert-dialog-component>
    <clause-alert-component :dialog="showAlertClause"
                            @close="showAlertClause=false"></clause-alert-component>
    <validate-document-component v-if="!!config" :show="showValidation"
                                 :documentKey="config.document.key"
                                 :original-type="config.document.fileType"
                                 @cancel="showValidation=false;lastCloseDialog=new Date()"
                                 @validate="showValidation = false;document.outputFormat=$event;changeDocumentStatus('VALIDER', RedacActionEnum.VALIDATATION)">
    </validate-document-component>
    <invalidate-document-component v-if="!!config" :show="showInvalidation"
                                   :documentKey="config.document.key"
                                   @cancel="showInvalidation=false"
                                   @invalidate="invalidateDocument($event)">

    </invalidate-document-component>
    <edition-component @close-alert="lastCloseDialog=new Date();"
                       @document-modification="documentModifciation()"
                       @open="finishOnlyOffice($event)"
                       @config="config=$event;setDocumentFromConfig()">
      <template v-slot:plugin>
        <div v-if="open && !!config">

          <div class="text-center"
               v-if="!!userRoles.includes('modification')">
            <v-dialog scrollable
                      :persistent="true"
                      @click:outside="lastCloseDialog=new Date(); dialog=false"
                      v-model="dialog">
              <clause-modification-component v-if="!!selectedClause"
                                             :clause="selectedClause"
                                             @valid="lastCloseDialog=new Date();convertSignleClause(selectedClause,document,$event.valid, false);dialog=false"
                                             @close="lastCloseDialog=new Date();dialog=false"
              ></clause-modification-component>
            </v-dialog>
            <v-dialog scrollable
                      :persistent="true"
                      @click:outside="lastCloseDialog=new Date(); showDerogation=false"
                      v-model="showDerogation">
              <clause-derogation-component v-if="!!selectedClause"
                                           :clause="selectedClause"
                                           :derogation="getDerogation(selectedClause.derogation)"
                                           :chapitresList="chapitresList"
                                           @derogate="lastCloseDialog=new Date();setDerogation($event);showDerogation=false"
                                           @close="lastCloseDialog=new Date();showDerogation=false"
              ></clause-derogation-component>
            </v-dialog>
            <absolute-component :is-buttons-opened="isButtonsOpened"
                                :buttons="redacButtons"
                                @click="lastCloseDialog=new Date();"
                                @legend="lastCloseDialog=new Date();dialogLegend=true"
                                @validate-document="lastCloseDialog=new Date();openValidation()"
                                @request-validate-document="lastCloseDialog=new Date();changeDocumentStatus('A_VALIDER', RedacActionEnum.SUBMIT);modifyFromExternal = true;"
                                @invalidate-document="lastCloseDialog=new Date();showInvalidation=true"
                                @validate-all-clause="lastCloseDialog=new Date();validateAllClause();"
                                @validate-clause="lastCloseDialog=new Date();convertSignleClause(selectedClause, document, true,  true);modifyFromExternal = true;"
                                @reset-clause="lastCloseDialog=new Date();reinitialiserClause(selectedClause, document);modifyFromExternal = true;"
                                @invalidate-clause="lastCloseDialog=new Date();convertSignleClause(selectedClause, document, false,  true);modifyFromExternal = true;"
                                @save-version="lastCloseDialog=new Date();saveVersion()"
                                @derogate-clause="lastCloseDialog=new Date();showDerogation=true;"
                                @delete-derogate-clause="lastCloseDialog=new Date();deleteDerogation()"
            >
              <template v-slot:fixed>
                <v-btn @click="lastCloseDialog=new Date()"
                       :color="redactionActive?'success':'error'"
                       dark
                       fab
                >
                  <v-icon>
                    format_shapes
                  </v-icon>
                </v-btn>
                <div @click="lastCloseDialog=new Date()"
                     class="redaction-progress"
                     @mouseenter="isDivHover=true"
                     @mouseleave="isDivHover=false"
                     v-bind:title="$t('redac.plugin.message-prefix')"
                >
                  <v-progress-linear height="25"
                                     :color="progressColor"
                                     :background-color="progressBackgroundColor"
                                     background-opacity="0.3"
                                     :indeterminate="!isListNotEmpty(contentContainers)"
                                     :value="progress">
                <span style="color:black; font-weight: bold"><strong>{{
                    isDivHover ? progressClausesNumber : progressPercent
                  }}</strong></span>
                  </v-progress-linear>

                </div>
                <div v-if="!!selectedClause && !dialogAllClausesValidation"
                     @click="lastCloseDialog=new Date()">
                  <div v-bind:key="chapterInfoBulle.title"
                       v-for="chapterInfoBulle in selectedClause.chaptersInfoBulle"
                       class="redaction-progress infoBulle">
                    <div class="infoBulle__header"
                         @click="switchInfoBulle(chapterInfoBulle)">

                      <div v-bind:title="chapterInfoBulle.title"
                           class="truncate">
                        <v-icon color="white"
                                style="font-size: 22px;">
                          info
                        </v-icon>
                        {{
                          chapterInfoBulle.title
                        }}
                      </div>
                      <v-icon color="white"
                              style="font-size: 22px;float: right;">
                        {{
                          chapterInfoBulle.open ? 'expand_less' : 'expand_more'
                        }}
                      </v-icon>
                    </div>

                    <div class="infoBulle__message"
                         v-if="chapterInfoBulle.open">
                      {{ chapterInfoBulle.description }}
                    </div>
                  </div>
                </div>

              </template>

            </absolute-component>
          </div>
        </div>
      </template>

    </edition-component>
  </div>

</template>

<script>

import DocumentStatusEnum from "@/core/enum/document-status.enum";
import ClauseModificationComponent from "@/components/ClauseModificationComponent";
import {ClauseConvertRequestModel} from "@/core/models/clause-convert-request.model";
import LegendeComponent from "@/components/alert/LegendeComponent";
import AbsoluteComponent from "@/components/AbsoluteComponent";
import AlertDialogComponent from "@/components/alert/AlertDialogComponent";
import {ClauseUtils} from "@/core/utils/clause.utils";
import {isNullOrUndefined, sleep} from "@/core/utils/technical.utils";
import {ClauseStatusEnum} from "@/core/enum/clause-status.enum";
import EditionComponent from "@/components/EditionComponent";
import ValidateDocumentComponent from "@/components/ValidateDocumentComponent";
import InvalidateDocumentComponent from "@/components/InvalidateDocumentComponent";
import ClauseAlertComponent from "@/components/alert/ClauseAlertComponent";
import {RedacActionEnum} from "@/core/enum/redac-action.enum";
import ClauseDerogationComponent from "@/components/ClauseDerogationComponent";
import {DerogationModel} from "@/core/models/derogation.model";

export default {
  name: "RedacPage",
  components: {
    ClauseAlertComponent,
    InvalidateDocumentComponent,
    ValidateDocumentComponent,
    EditionComponent,
    AlertDialogComponent,
    AbsoluteComponent,
    LegendeComponent,
    ClauseModificationComponent,
    ClauseDerogationComponent
  },
  data() {
    return {
      RedacActionEnum: RedacActionEnum,
      dialogLegend: false,
      showDerogation: false,
      showValidation: false,
      showInvalidation: false,
      lastCloseDialog: new Date(),
      valid: false,
      config: null,
      open: false,
      dialogAllClausesValidation: false,
      convertOO: false,
      dialogAllClausesValidationStep1: false,
      dialogAllClausesValidationStep2: false,
      showAlertClause: false,
      redactionActive: false,
      mustSave: false,
      isButtonsOpened: false,
      isDivHover: false,
      dialog: false,
      contentContainers: [],
      clauses: [],
      emptyChapitresInfoBulle: [],
      initialClauses: [],
      inactiveClause: 0,
      document: null,
      initialDocument: null,
      selectedClause: null,
      modifyFromExternal: false
    }
  },
  mounted() {
    this.$store.dispatch('application/setLoading', true)
  },
  methods: {
    openValidation() {
      this.showValidation = true;
    },
    reinitialiserClause(clause, document) {
      this.lastCloseDialog = new Date();
      const initialClause = this.initialClauses.find(value => {
        return value.id === clause.id &&
            value.chapitreId === clause.chapitreId
      });
      if (!isNullOrUndefined(initialClause)) {
        clause.initialise = false;
        if (!isNullOrUndefined(initialClause.formulairesListeType)) {
          clause.formulairesListeType = JSON.parse(JSON.stringify(initialClause.formulairesListeType));
        }
        if (!isNullOrUndefined(initialClause.texte)) {
          clause.texte = JSON.parse(JSON.stringify(initialClause.texte));
        }
        if (!isNullOrUndefined(initialClause.value)) {
          clause.value = JSON.parse(JSON.stringify(initialClause.value));
        }
        this.convertSignleClause(clause, document, false, false);
      }
    },

    async validateAllClause() {
      this.modifyFromExternal = true;
      this.lastCloseDialog = new Date();
      this.dialogAllClausesValidationStep1 = true;
      this.dialogAllClausesValidation = true;
      const clauses = this.clauseModifiable.filter(clause => !isNullOrUndefined(clause) && !clause.clausevalide);
      for (const clause of clauses) {
        this.selectedClause = clause;
        if (ClauseUtils.canValidate(clause)) {
          const result = await this.convertClause(clause, this.document, true, true);
          if (!!result) {
            this.$store.dispatch("plugin/insertContentContainer", [result]);
            await sleep(2000)
          }
        }

      }

      this.dialogAllClausesValidationStep1 = false;
      this.dialogAllClausesValidationStep2 = false;
      this.dialogAllClausesValidation = false;

      const interval = setInterval(() => {
        if (!this.dialogAllClausesValidationStep2) {
          clearInterval(interval);
          let success = this.progress === 100;
          if (success) {
            this.$store.dispatch("application/setMessage", {
              message: "redac.validate-all-clauses.success-message",
              snackbar: true,
              color: 'success'
            });
            this.saveVersion()
          } else {
            this.showAlertClause = true;
          }
        }

      }, 500)
    },
    checkDifference(date1, date2) {
      return date1 - date2;
    },

    closeWindow() {
      window.opener = self;
      window.close();
      this.$router.push("/")
    },
    finishOnlyOffice(open) {
      this.$store.dispatch('application/setLoading', false)
      this.open = open;
      if (!isNullOrUndefined(this.userRoles.includes('modification'))) {
        this.initRedac();
      }
    },

    async documentModifciation() {
      setTimeout(async () => {
        if (this.redactionActive && !this.dialogAllClausesValidation) {
          await this.$store.dispatch("editor/forceUpdate", this.config.document.key).then((response) => {
            this.mustSave = !!response && response.data === 0;

          })
          if (this.mustSave) {
            setTimeout(() => {
              sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
              this.mustSave = false;
            }, 1000)
            sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
            if (!isNullOrUndefined(this.selectedClause) && !this.modifyFromExternal) {
              this.selectedClause.initialise = true;
            }
            this.modifyFromExternal = false;
          }
        }
      }, 1000);
    },
    initRedac() {
      const initComponent = JSON.parse(localStorage.getItem('initComponent'));
      if (!initComponent) {
        this.dialogLegend = true;
        localStorage.setItem('initComponent', JSON.stringify(new Date()));
      }
      sessionStorage.removeItem('plugin.GetAllContentControls');
      const interval = setInterval(() => {
        sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));

      }, 2000)
      window.addEventListener('storage', (event) => {
        let newValue = JSON.parse(event.newValue).value;
        switch (event.key) {
          case 'plugin.GetAllContentControls':
            this.contentContainers = newValue;
            if (!!this.contentContainers && this.contentContainers.length > 0 && !this.dialogAllClausesValidation) {
              this.redactionActive = true;
              clearInterval(interval);
              if (this.documentStatus < 2 && !this.mustSave) {
                const documentConfigurationChanged = this.getDocumentConfigurationStatus()
                if (documentConfigurationChanged) {
                  //this.document.status = DocumentStatusEnum.BROUILLON;
                  this.$store.dispatch("document/updateDocumentConfiguration", this.document)
                }
              }
              this.lastCloseDialog = new Date();
              // sessionStorage.setItem('docgen.GetCurrentContentControl', JSON.stringify(new Date()));
            }
            break;

          case 'plugin.undefined':
            if (this.dialogAllClausesValidation) {
              this.convertOO = false;
            }

            break;
          case 'plugin.onDoubleMouseClick':
            if (!this.dialog && !!this.selectedClause && !this.selectedClause.initialise
                && this.checkDifference(new Date(), this.lastCloseDialog) > 300 && this.redactionActive &&
                !!this.userRoles.includes('modification')
                && ClauseUtils.isClauseModifiable(this.selectedClause)
                && this.selectedClause.etat < 2
                && !this.selectedClause.clausevalide
                && ClauseUtils.isFormultation(this.selectedClause)) {
              this.dialog = true;
            }
            break;
          case 'plugin.GetCurrentContentControl':
            if (!this.contentContainers) {
              sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
            } else {
              this.getCurrentContentControl(newValue);
              this.isButtonsOpened = true;
            }
            break;

        }
      });
    },
    isClauseInvalide(clause) {
      return clause && !clause.clausevalide && ClauseUtils.isClauseModifiable(clause)
    },
    isClauseValide(clause) {
      return clause && clause.clausevalide && ClauseUtils.isClauseModifiable(clause)
    },
    invalidateDocument(commentaire) {
      this.showInvalidation = false;
      this.document.commentaire = commentaire;
      this.changeDocumentStatus('BROUILLON', RedacActionEnum.INVALIDATION);
    },
    changeDocumentStatus(status, lastAction) {
      this.$store.dispatch('application/setLoading', true);
      const action = this.document.lastAction;
      const lastStatus = this.document.status;
      this.document.status = DocumentStatusEnum[status]
      this.document.lastAction = lastAction;
      let i18nMessage = 'alert.validate-document-request'
      if (DocumentStatusEnum.VALIDER === this.document.status) {
        i18nMessage = 'alert.validate-document'
      } else if (DocumentStatusEnum.BROUILLON === this.document.status) {
        i18nMessage = 'alert.invalidate-document'
      }
      this.$store.dispatch("document/updateDocumentConfiguration", this.document).then((response) => {

        if (!isNullOrUndefined(response)) {
          this.$store.dispatch("application/setAlert", {
            type: 'success',
            header: i18nMessage + '.success-header',
            icon: 'info',
            show: true,
            button: 'Retour',
            message: i18nMessage + '.success-message',
            closeWindow: false,
            reloadWindow: i18nMessage !== 'alert.validate-document-request'
          })
        } else {
          this.$store.dispatch('application/setLoading', false);
          this.document.lastAction = action;
          this.document.status = lastStatus;
          this.$store.dispatch("application/setAlert", {
            type: 'error',
            header: i18nMessage + '.error-header',
            icon: 'error',
            show: true,
            button: 'Retour',
            message: i18nMessage + '.error-message',
            closeWindow: false

          })
        }
      })
    },
    saveVersion() {
      this.document.lastAction = RedacActionEnum.SAVE;
      this.$store.dispatch('document/saveVersion', this.document).then((reponse) => {
        let message = "redac.saved-withoud-editing";
        if (reponse) {
          message = 'redac.edited-and-saved';
        }
        this.$store.dispatch("application/setMessage", {
          message: message,
          snackbar: true,
          color: 'success'
        })
        this.$store.dispatch('editor/forceUpdate', this.config.document.key)
      }, () => {
        this.$store.dispatch("application/setMessage", {
          message: "redac.error-saving",
          snackbar: true,
          color: 'error'
        })
      });
    },
    deleteDerogation() {
      if (this.selectedClause.derogation) {
        let messageI18n = "redac.delete-derogate-clause";

        this.changeDerogation(this.selectedClause, this.document, null, messageI18n)
      }
    },
    setDerogation(derogation) {
      this.$store.dispatch("document/updateDocumentConfiguration", this.document);
      if (!derogation)
        return
      if (!this.selectedClause.derogation || this.selectedClause.derogation.article !== derogation.article || this.selectedClause.derogation.commentaire !== derogation.commentaire) {
        let messageI18n = "redac.derogate-clause";
        this.changeDerogation(this.selectedClause, this.document, derogation, messageI18n)
      }
    }, getDerogation(derogation) {
      if (derogation) {
        return new DerogationModel(derogation.article, derogation.commentaire);
      }
      return new DerogationModel();
    },
    changeDerogation(clause, document, derogation, messageI18n) {
      const derogationSummaryClause = this.clauses.find(value => {
        return !!value.derogationResume
      });
      if (!derogationSummaryClause) {
        return;
      }
      let cellules = derogationSummaryClause.tableauRedaction.documentXLS.onglet[0].cellule;
      let derogationChapitreRow = cellules.find(cellule => {
        return cellule.valeur === clause.chapitreNumero && cellule.coordonnee.colonne === 0;
      })
      if (derogation) {
        if (!derogationChapitreRow) {
          let ligne = cellules.length / 3
          cellules.push({coordonnee: {ligne: ligne, colonne: 0}, valeur: clause.chapitreNumero});
          cellules.push({coordonnee: {ligne: ligne, colonne: 1}, valeur: derogation.article});
          cellules.push({coordonnee: {ligne: ligne, colonne: 2}, valeur: derogation.commentaire});

        } else {
          const derogationArticleCellule = cellules.find(cellule => {
            return cellule.coordonnee.ligne === derogationChapitreRow.coordonnee.ligne && cellule.coordonnee.colonne === 1;
          });
          derogationArticleCellule.valeur = derogation.article;
          const derogationCommentaireCellule = cellules.find(cellule => {
            return cellule.coordonnee.ligne === derogationChapitreRow.coordonnee.ligne && cellule.coordonnee.colonne === 2;
          });
          derogationCommentaireCellule.valeur = derogation.commentaire;
        }
      } else if (!!derogationChapitreRow) {

        const derogationArticleCellule = cellules.find(cellule => {
          return cellule.coordonnee.ligne === derogationChapitreRow.coordonnee.ligne && cellule.coordonnee.colonne === 1;
        });
        cellules.splice(cellules.indexOf(derogationArticleCellule), 1)
        const derogationCommentaireCellule = cellules.find(cellule => {
          return cellule.coordonnee.ligne === derogationChapitreRow.coordonnee.ligne && cellule.coordonnee.colonne === 2;
        });
        cellules.splice(cellules.indexOf(derogationCommentaireCellule), 1);
        cellules.forEach(value => {
          if (value.coordonnee.ligne > derogationChapitreRow.coordonnee.ligne) {
            value.coordonnee.ligne--;
          }
        })
        cellules.splice(cellules.indexOf(derogationChapitreRow), 1)
      }
      derogationSummaryClause.tableauRedaction.documentXLS.onglet[0].cellule = [];
      cellules.forEach(value => {
        if (value.valeur) {
          derogationSummaryClause.tableauRedaction.documentXLS.onglet[0].cellule.push(value)
        }
      });

      this.clauses.forEach(item => {
        if (clause.chapitreNumero === item.chapitreNumero) {
          item.derogation = derogation;
        }
      })
      this.convertDerogationClause(derogationSummaryClause, document, messageI18n)

    },
    async convertDerogationClause(clause, document, messageI18n) {
      const timeOut = this.mustSave ? 1000 : 200;
      setTimeout(async () => {
        const clauseToConvert = await this.convertDerogation(clause, document);
        if (!!clauseToConvert) {

          await this.$store.dispatch("plugin/insertContentContainer", [clauseToConvert]);
          await this.$store.dispatch("application/setMessage", {
            message: messageI18n,
            color: 'success',
            snackbar: true,
          })
        } else {
          await this.$store.dispatch("application/showAlert");
        }
      }, timeOut)
    },
    async convertSignleClause(clause, document, valid, fromFile) {
      const timeOut = this.mustSave ? 1000 : 200;
      setTimeout(async () => {
        const clauseToConvert = await this.convertClause(clause, document, valid, fromFile);
        if (!!clauseToConvert) {
          let messageI18n = "redac.invalidate-clause";
          if (valid) {
            messageI18n = "redac.validate-clause"
          }
          await this.$store.dispatch("plugin/insertContentContainer", [clauseToConvert]);
          await this.$store.dispatch("application/setMessage", {
            message: messageI18n,
            color: 'success',
            snackbar: true,
          })
        } else {
          await this.$store.dispatch("application/showAlert");
        }
      }, timeOut)
    },
    async convertDerogation(clause, document) {
      if (!clause) {
        return false;
      }
      const request = new ClauseConvertRequestModel(clause, document, true, false);
      return await this.$store.dispatch("document/convertClause", request).then((reponse) => {
        this.lastCloseDialog = new Date();
        this.selectedClause = null;
        this.isButtonsOpened = false;
        return reponse;

      }, () => {
        this.selectedClause = null;
        this.isButtonsOpened = false;
        this.lastCloseDialog = new Date();
        return null;
      });
    },
    async convertClause(clause, document, valid, fromFile) {
      if (!clause) {
        return false;
      }
      const lastStatus = clause.clausevalide;
      clause.clausevalide = valid;
      const request = new ClauseConvertRequestModel(clause, document, valid, fromFile);
      return await this.$store.dispatch("document/convertClause", request).then((reponse) => {
        if (!fromFile)
          this.lastCloseDialog = new Date();
        this.selectedClause = null;
        this.isButtonsOpened = false;
        return reponse;

      }, () => {
        clause.clausevalide = lastStatus;
        this.selectedClause = null;
        this.isButtonsOpened = false;
        if (!fromFile)
          this.lastCloseDialog = new Date();
        return null;
      });
    },
    getCurrentContentControl(internalId) {
      this.selectedClause = this.clauses.find(value => value.contentParam
          && value.contentParam.InternalId === internalId);
      this.isButtonsOpened = true;
    },
    getSelectedChapter(chapitres, chapitreNumero) {
      let result = null;
      if (!isNullOrUndefined(chapitres)) {
        chapitres.forEach(chapitre => {
          if (!!result) {
            return result;
          }
          if (chapitre.id === chapitreNumero) {
            result = chapitre;
          } else if (chapitreNumero.startsWith(chapitre.id)) {
            result = this.getSelectedChapter(chapitre.children, chapitreNumero);

          }
        })
      }
      return result;
    },
    setDocumentFromConfig() {
      let updatedJson = this.config.document.updatedJson;
      let initialjson = this.config.document.json;
      this.document = JSON.parse(isNullOrUndefined(updatedJson) ? initialjson : updatedJson);
      if (!isNullOrUndefined(this.document) && !isNullOrUndefined(this.document.chapitre)) {
        this.inactiveClause = 0;
        this.clauses = [];
        this.document.chapitre.forEach((chapitre) => {
          let chaptersInfoBulle = [];
          if (!isNullOrUndefined(chapitre.infoBulle) && chapitre.infoBulle.actif) {
            chapitre.infoBulle.title = "Chapitre " + chapitre.titre;
            chaptersInfoBulle.push(chapitre.infoBulle)
          }
          this.inactiveClause += this.getDocumentClauses(chapitre, this.clauses, 0, false, chaptersInfoBulle);
        });
      }
      this.document.status = this.config.document.redacStatus

      this.initialDocument = JSON.parse(initialjson);
      if (!isNullOrUndefined((this.initialDocument) && !isNullOrUndefined(this.initialDocument.chapitre))) {
        this.initialClauses = [];
        this.initialDocument.chapitre.forEach(chapitre => {
          let chaptersInfoBulle = [];
          if (!isNullOrUndefined(chapitre.infoBulle) && chapitre.infoBulle.actif) {
            chapitre.infoBulle.title = "Chapitre " + chapitre.titre;
            chaptersInfoBulle.push(chapitre.infoBulle)
          }
          this.getDocumentClauses(chapitre, this.initialClauses, 0, true, chaptersInfoBulle);
        });
      }
      this.initialDocument.status = this.config.document.redacStatus

    },
    getDocumentClauses(chapitre, clauses, inactiveClause, newInstance, chaptersInfoBulle) {
      let filteredClause = []
      if (!!chapitre.clause) {
        inactiveClause += chapitre.clause.filter(clause => !ClauseUtils.isClauseModifiable(clause) && clause.etat < 2).length;
        filteredClause = chapitre.clause;
        filteredClause.forEach(clause => {
          clause.chapitreNumero = chapitre.numero;
          clause.chapitreTitre = chapitre.titre;
          clause.chapitreId = chapitre.id;
          let clauseInfoBulles = [];
          chaptersInfoBulle.forEach(item => clauseInfoBulles.push(item));
          if (!isNullOrUndefined(clause.infoBulle) && clause.infoBulle.actif) {
            clause.infoBulle.title = "Article " + clause.ref;
            clause.infoBulle.open = true;
            clauseInfoBulles.push(clause.infoBulle)
          }
          clause.chaptersInfoBulle = clauseInfoBulles;

          if (!!clause.texte && !this.isNotEmpty(clause.texte.value)) {
            clause.texte.value = "";
          }
          if (ClauseUtils.isFormultation(clause) && clause.formulairesListeType.exclusif) {
            clause.formulairesListeType.formulation.forEach((item, index) => {
              if (item.precoche) {
                clause.value = index;
              }
            })
          }
          if (newInstance) {
            clauses.push(JSON.parse(JSON.stringify(clause)));
          } else {
            clauses.push(clause);
          }
        })
        chapitre.clause.filter(clause => !ClauseUtils.isClauseModifiable(clause)).forEach(clause => {
          clause.clausevalide = true;
        })
      }
      if (!!chapitre.chapitre && chapitre.chapitre.length > 0) {
        chapitre.chapitre.forEach(subChapitre => {
          let subChapitresInfoBulle = chaptersInfoBulle;
          if (!isNullOrUndefined(subChapitre.infoBulle) && subChapitre.infoBulle.actif) {
            subChapitre.infoBulle.title = "Chapitre " + subChapitre.titre;
            subChapitresInfoBulle = [subChapitre.infoBulle];
          }
          inactiveClause = this.getDocumentClauses(subChapitre, clauses, inactiveClause, newInstance, subChapitresInfoBulle);
        })
      }

      return inactiveClause;
    }
    ,
    isNotEmpty(val) {
      return !!val && val.trim() !== ''
    }
    ,
    isListNotEmpty(val) {
      return !!val && val.filter(item => !!item).length > 0
    }
    ,
    switchInfoBulle(infoBulle) {
      infoBulle.open = !infoBulle.open
    },
    getDocumentConfigurationStatus() {
      let documentConfigurationChanged = false;
      this.clauses = this.clauses.filter(clause => !isNullOrUndefined(clause)).map((clause) => {
        const idContent = clause.chapitreId + '' + clause.id;
        let contentParam = this.contentContainers.find(value => value.Id + '' === idContent);
        if (!isNullOrUndefined(contentParam)) {
          clause.contentParam = contentParam;
          if (!isNullOrUndefined(contentParam.Tag)) {
            const tag = JSON.parse(contentParam.Tag);
            switch (tag.status) {
              case ClauseStatusEnum.INITIALE:
                if (clause.initialise || clause.clausevalide) {
                  documentConfigurationChanged = true;
                }
                clause.initialise = false;
                clause.clausevalide = false;
                break
              case ClauseStatusEnum.VALIDE:
                if (!clause.initialise || !clause.clausevalide) {
                  documentConfigurationChanged = true;
                }
                clause.initialise = true;
                clause.clausevalide = true;
                break
              case ClauseStatusEnum.INVALIDE:
                if (!clause.initialise || clause.clausevalide) {
                  documentConfigurationChanged = true;
                }
                clause.clausevalide = false;
                break
            }
          }
          clause.etat = 1;
        } else {
          clause.etat = 2;
          documentConfigurationChanged = true;
        }
        return clause;
      });
      return documentConfigurationChanged;
    }
  }
  ,
  computed: {
    clauseModifiable() {
      return isNullOrUndefined(this.clauses) ? [] : this.clauses.filter(clause => ClauseUtils.isClauseModifiable(clause));
    },
    canValidateClauses() {
      return isNullOrUndefined(this.clauseModifiable) ? [] : this.clauseModifiable.filter(clause => !isNullOrUndefined(clause) && ClauseUtils.canValidate(clause));
    }
    ,
    editionDetails() {
      return this.$store.state.application.editionDetails;
    },
    chapitresList() {
      let list = [];
      this.clauses.filter(value => !value.derogationResume).forEach(value => {
        const exist = list.find(value1 => value1.numero === value.chapitreNumero);
        if (!exist) {
          list.push({numero: value.chapitreNumero, titre: value.chapitreTitre})
        }
      })
      return list;
    }
    ,
    redacButtons() {
      const buttons = [];
      if (!this.redactionActive) {
        return buttons;
      }
      buttons.push({
        id: 'legend',
        buttons: [{
          label: 'redac.plugin.buttons-title.legend',
          id: 'legend',
          color: 'info',
          icon: 'info',
          disabled: false,
          clickChannel: 'legend'
        }]
      })


      if (this.documentStatus < 2) {
        buttons.push({
          id: 'save-version',
          buttons: [{
            label: 'redac.plugin.buttons-title.save-version',
            id: 'save-version',
            color: 'warning',
            icon: 'save',
            disabled: (this.documentStatus > 1),
            clickChannel: 'save-version'
          }]
        })
      }
      if (this.userRoles.includes('validation') &&
          this.documentStatus < 3 && this.progress === 100) {
        buttons.push({
          id: 'validate-document',
          buttons: [{
            label: 'redac.plugin.buttons-title.validate-document',
            id: 'validate-document',
            color: 'success',
            icon: 'done_all',
            disabled: this.progress !== 100 || (this.documentStatus > 2),
            clickChannel: 'validate-document'
          }]
        })
      }
      if (this.documentStatus === 3 && this.userRoles.includes('validation')) {
        buttons.push({
          id: 'invalidate-document',
          buttons: [{
            label: 'redac.plugin.buttons-title.invalidate-document',
            id: 'invalidate-document',
            color: 'error',
            icon: 'close',
            disabled: false,
            clickChannel: 'invalidate-document'
          }]
        })
      }
      if (this.documentStatus < 2 && this.progress === 100) {
        buttons.push({
          id: 'request-validate',
          buttons: [{
            label: 'redac.plugin.buttons-title.validate-request',
            id: 'validate-request',
            color: 'success',
            icon: 'how_to_reg',
            disabled: this.progress !== 100 || (this.documentStatus > 1),
            clickChannel: 'request-validate-document'
          }]
        })
      }
      if (this.progress !== 100 && this.documentStatus < 2 && this.canValidateClauses.length > 0) {
        buttons.push({
          id: 'validate-all-clause',
          buttons: [{
            label: 'redac.plugin.buttons-title.validate-all-clauses',
            id: 'validate-request',
            color: 'success',
            icon: 'playlist_add_check',
            disabled: this.progress === 100 || (this.documentStatus > 1) || this.canValidateClauses.length === 0,
            clickChannel: 'validate-all-clause'
          }]
        })
      }

      if (this.documentStatus < 2 && ClauseUtils.isClauseModifiable(this.selectedClause) && this.isClauseInvalide(this.selectedClause)) {
        let shownButtons = [];
        shownButtons.push({
          label: this.$t('redac.plugin.buttons-title.validate-clause') + this.selectedClause.ref,
          id: 'validate-clause',
          color: 'success',
          icon: 'check',
          disabled: !ClauseUtils.canValidate(this.selectedClause) || this.mustSave,
          clickChannel: 'validate-clause'
        }, {
          label: this.$t('redac.plugin.buttons-title.reset-clause') + this.selectedClause.ref,
          id: 'reset-clause',
          color: 'warning',
          icon: '360',
          disabled: !this.selectedClause.initialise,
          clickChannel: 'reset-clause'
        })
        buttons.push({
          id: 'validate-clause',
          buttons: shownButtons
        })
      }
      if (this.documentStatus < 2 && !!this.selectedClause && this.document.derogeable) {
        let derogationButtons = [];
        if (!this.selectedClause.derogationResume) {
          derogationButtons.push({
            label: this.$t('redac.plugin.buttons-title.derogate-clause') + this.selectedClause.chapitreTitre,
            id: 'derogate-clause',
            color: 'warning',
            icon: 'call_split',
            clickChannel: 'derogate-clause'
          });
        }
        if (this.selectedClause.derogation) {
          derogationButtons.push({
                label: this.$t('redac.plugin.buttons-title.delete-derogate-clause') + this.selectedClause.chapitreTitre,
                id: 'delete-derogate-clause',
                color: 'error',
                icon: 'call_split',
                clickChannel: 'delete-derogate-clause'
              }
          )
        }

        buttons.push({
          id: 'derogate-clause',
          buttons: derogationButtons
        })
      }
      if (this.documentStatus < 2 && ClauseUtils.isClauseModifiable(this.selectedClause) && this.isClauseValide(this.selectedClause)) {
        buttons.push({
          id: 'invalidate-clause',
          buttons: [{
            label: this.$t('redac.plugin.buttons-title.invalidate-clause') + this.selectedClause.ref,
            id: 'invalidate-clause',
            color: 'error',
            icon: 'unpublished',
            disabled: ClauseUtils.canValidate(this.selectedClause),
            clickChannel: 'invalidate-clause'
          }, {
            label: this.$t('redac.plugin.buttons-title.reset-clause') + this.selectedClause.ref,
            id: 'reset-clause',
            color: 'warning',
            icon: '360',
            disabled: false,
            clickChannel: 'reset-clause'
          }]
        })
      }

      return buttons;
    }
    ,
    documentStatus() {
      return isNullOrUndefined(this.document) || isNullOrUndefined(this.document.status) ? 1 : this.document.status;
    }
    ,
    userRoles() {
      return !this.editionDetails
      || !this.editionDetails.user.roles ? [] : this.editionDetails.user.roles
    }
    ,
    token() {
      return this.$store.state.application.token;
    }
    ,
    exp() {
      return this.$store.state.application.exp;
    }
    ,
    progressColor() {
      if (!this.isListNotEmpty(this.contentContainers))
        return '#6286b6';
      return '#4caf50';
    }
    ,
    progressBackgroundColor() {
      if (!this.isListNotEmpty(this.contentContainers))
        return '#6286b6';
      return '#ff0000';
    }
    ,
    progressClausesNumber() {
      return this.redactionActive ? '(' + this.current + '/' + this.total + ')' : '';
    }
    ,
    progressPercent() {
      return Math.round(this.progress) + " %"
    }
    ,
    current() {
      let filter = this.clauseModifiable.filter(clause => clause.clausevalide);
      return this.isListNotEmpty(filter) ? filter.length + this.inactiveClause : this.inactiveClause;
    }
    ,
    total() {
      return this.isListNotEmpty(this.clauseModifiable) ? this.clauseModifiable.length + this.inactiveClause : this.inactiveClause;
    }
    ,
    progress() {
      if (this.total === 0 && this.redactionActive) {
        return 100;
      }
      if (this.total !== 0 && this.redactionActive) {
        return this.current / this.total * 100;
      }
      return 0;
    }
  }
  ,
  watch: {
    isButtonsOpened(val) {
      this.lastCloseDialog = new Date();
    }
    ,
    progress(val) {
      if (!isNullOrUndefined(val)) {
        this.document.progress = val;
      }
    }
  }
}

</script>

<style lang="scss">
.hidden {
  visibility: hidden;
}

.infoBulle {
  padding: 2px;

  &__header {
    background: #6286b6;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    padding: 2px;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__message {
    text-align: justify;
    padding: 7px;
  }
}

</style>
<
