<template>
    <div class="page-slide-right">
        <div class="slide-right">
            <champs-fusion-component titre="template.variables.add-header"
                                     :search="true"
                                     :addEnabled="true"
                                     :loading="loading"
                                     :variables="variables"
                                     @add="addVariable($event)"
                                     @showComplexe="openShowComplexeModal($event)"
            ></champs-fusion-component>
            <champs-fusion-component titre="template.variables.list-header"
                                     :search="false"
                                     :deleteEnabled="true"
                                     :selectedChampFusion="champFusionSelected"
                                     :loading="loading"
                                     :variables="selectedVariables"
                                     @delete="openSuppressionModal($event)"
                                     @goTo="goToVariable($event)"
                                     @showComplexe="openShowComplexeModal($event)"
            ></champs-fusion-component>
        </div>

        <div class="page">
            <show-complexe-component v-if="showComplexe" @showComplexe="openShowComplexeModal($event)" :src-pdf="srcPdf" :loading="loading" :libelle="champComplexe.libelle"
                                     :show="showComplexe" @cancel="reInitSrc()"></show-complexe-component>
            <suppression-alert-component :dialog="showSuppressionAlert" @delete="deleteVariable"
                                    @cancel="showSuppressionAlert=false"></suppression-alert-component>
            <!--<variables-component v-if="jsonDialog" :show="jsonDialog"
                                 @cancel="jsonDialog=false"></variables-component>-->
            <test-rendu-component v-if="testRendu"
                                  :show="testRendu"
                                  :donneesTests="donneesTests"
                                  @config="config=$event;setDocumentFromConfig()"
                                 @cancel="testRendu=false"></test-rendu-component>
            <edition-component @config="config=$event;setDocumentFromConfig()"
                               @document-modification="updateVariables"
                               @open="initTemplate($event)">
                <template v-slot:plugin>
                    <div v-if="open && !!config">
                        <div class="text-center">
                            <absolute-component :is-buttons-opened="isButtonsOpened"
                                                :buttons="templateButtons"
                                                @show-rendu="testRendu=true"

                            >
                                <template v-slot:fixed>
                                    <v-btn
                                            color="success"
                                            dark
                                            fab
                                    >
                                        <v-icon>
                                            text_fields
                                        </v-icon>
                                    </v-btn>
                                </template>
                            </absolute-component>
                        </div>
                    </div>
                </template>

            </edition-component>
        </div>

    </div>

</template>

<script>
import ChampsFusionComponent from "@/components/ChampFusionComponent.vue";
import AbsoluteComponent from "@/components/AbsoluteComponent";

import EditionComponent from "@/components/EditionComponent";
import {isNullOrUndefined} from "@/core/utils/technical.utils";
import ClauseColorEnum from "@/core/enum/clause-color.enum";
import SuppressionAlertComponent from "@/components/alert/SuppressionAlertComponent.vue";
import TestRenduComponent from "@/components/TestRenduComponent.vue";
import ShowComplexeComponent from "@/components/ShowComplexeComponent.vue";
import TemplateService from "@/core/services/template.service";
import {InlineContentContainerModel} from "@/core/models/inline-content-container.model";


const {ContentContainerModel} = require("@/core/models/content-container.model");

export default {
    name: "TemplatePage",
    components: {
        ShowComplexeComponent,
        TestRenduComponent,
        SuppressionAlertComponent,
        ChampsFusionComponent,
        EditionComponent,
        AbsoluteComponent
    },
    data() {
        return {
            contentContainers: null,
            srcPdf: null,
            loading: false,
            idToDelete: null,
            showSuppressionAlert: false,
            showComplexe: false,
            champComplexe: null,
            config: null,
            variables: [],
            donneesTests: [],
            selectedVariables: [],
            toVariables: [],
            selectedBlocTemplate: null,
            open: false,
            isButtonsOpened: true,
            modifyBlocTemplateDialog: false,
            addBlocTemplateDialog: false,
            //jsonDialog: false,
            testRendu: false,
            champFusionSelected: null
        }
    }, mounted() {
        this.$store.dispatch('application/setLoading', true)
    },
    methods: {
        goToVariable(variable) {
            this.$store.dispatch('plugin/goToContentContainer', [variable.id])
        },
        reInitSrc() {
            this.showComplexe=false;
            this.loading = false;
            this.srcPdf = null
        },
        openSuppressionModal(variable) {
            this.showSuppressionAlert = true;
            console.log(variable.id);
            this.idToDelete = variable.id;
        },
        openShowComplexeModal(variable) {
            this.showComplexe = true;
            this.champComplexe = variable;
            this.loading = true;
            this.preview();
        },
        async preview() {
            if (!!this.champComplexe) {
                const toBase64 = buffer => new Promise((resolve, reject) => {
                    var blob = new Blob([buffer],{type:'application/octet-binary'})
                    const reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
                TemplateService.previewChampComplexe(this.champComplexe).then(
                    async response => {
                        const result = await toBase64(response.data).catch(e => Error(e));
                        if (result instanceof Error) {
                            console.log('Error: ', result.message);
                            return;
                        }
                        this.srcPdf = result;
                        this.loading = false;
                    });
            } else {
                console.log("Erreur: le champ complexe n'a pas d'url")
            }


        },
        deleteVariable() {
            let contentContainerModel = new ContentContainerModel();
            contentContainerModel.InternalId = this.idToDelete;
            this.$store.dispatch('plugin/removeContentContainer', [contentContainerModel])
            this.$store.dispatch("application/setMessage", {
                message: "template.champ-fusion.delete-success",
                snackbar: true,
                color: 'success'
            })
            this.idToDelete = null;
            this.showSuppressionAlert = false;

        },
        addVariable(variable) {

          let inlineContentContainerModel = new InlineContentContainerModel();
            let contentContainerModel = new ContentContainerModel();
          if (!variable.blocUrl) {
            inlineContentContainerModel.nContentControlType = 2;
            contentContainerModel.Lock = 3; //0 edition non autorisee, suppression autorisee, 3 pour tout autorise
            contentContainerModel.Tag = JSON.stringify({"type": "CHAMP_FUSION_SIMPLE", "value": variable})
              contentContainerModel.Alias = variable.champsFusion
            } else {
            inlineContentContainerModel.nContentControlType = 1;
            contentContainerModel.Lock = 0; //0 edition non autorisee, suppression autorisee, 3 pour tout autorise
            contentContainerModel.Tag = JSON.stringify({"type": "CHAMP_FUSION_COMPLEXE", "value": variable})
            }

          contentContainerModel.Color = ClauseColorEnum.BLACK
          contentContainerModel.PlaceHolderText = "[" + variable.libelle + "]";
          inlineContentContainerModel.content = contentContainerModel;

          this.$store.dispatch('plugin/addContentControl', inlineContentContainerModel);
        },
        setDocumentFromConfig() {
            let initialjson = this.config.document.json;
            if (!isNullOrUndefined(initialjson)) {
                let configuration = JSON.parse(initialjson);
              console.log(configuration);
              if (!isNullOrUndefined(configuration) && !isNullOrUndefined(configuration.champsFusions)) {
                this.variables = configuration.champsFusions.filter(item => {
                  return item.simple === true || item.blocUrl
                });
              }
              this.variables.push({
                libelle: "Date de génération du document",
                champsFusion: "dateGeneration",
                collection: false,
                simple: true,
                type: "DATE"
              });
              if (!isNullOrUndefined(configuration) && !isNullOrUndefined(configuration.donneesTests)) {
                this.donneesTests = configuration.donneesTests;
              }

            }
        },
        checkJSON(tag) {
            try {
                JSON.parse(tag);
                return true;
            } catch (error) {
                return false;
            }
        },

        updateVariables() {
          setTimeout(() => {
            this.$store.dispatch("editor/forceUpdate", this.config.document.key)
            sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
          }, 1000);
        },
        getCurrentContentControl(internalId) {
            this.champFusionSelected = internalId;
            console.log("getCurrentContentControl called with" + internalId + this.contentContainers.length)

        },
        initTemplate(open) {
            this.open = open;
            this.$store.dispatch('application/setLoading', false);
            if (!open) {
                return;
            }

            sessionStorage.removeItem('docgen.GetAllContentControls');
            const interval = setInterval(() => {
                sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));

            }, 2000)
            window.addEventListener('storage', (event) => {
                let newValue = JSON.parse(event.newValue).value;

                switch (event.key) {
                    case 'plugin.GetAllContentControls':
                        this.contentContainers = newValue;
                        if (!!this.contentContainers) {
                            this.selectedVariables = [];
                            this.contentContainers.forEach(val => {
                                if (!!val.Tag && this.checkJSON(val.Tag)) {
                                    const tag = JSON.parse(val.Tag);
                                    if (tag.type === 'CHAMP_FUSION_SIMPLE' || tag.type === 'CHAMP_FUSION_COMPLEXE') {
                                        let champ = tag.value;
                                        champ.id = val.InternalId;
                                        this.selectedVariables.push(champ);
                                    }
                                }
                            });


                            clearInterval(interval);
                            this.lastCloseDialog = new Date();
                            // sessionStorage.setItem('docgen.GetCurrentContentControl', JSON.stringify(new Date()));
                        }
                        break;

                    case 'plugin.undefined':
                        break;
                    case 'plugin.onDoubleMouseClick':
                        break;
                    case 'plugin.InsertAndReplaceContentControls':
                        sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
                        break;
                    case 'plugin.RemoveContentControls':
                        sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
                        break;
                    case 'plugin.GetCurrentContentControl':
                        if (!this.contentContainers) {
                            sessionStorage.setItem('docgen.GetAllContentControls', JSON.stringify(new Date()));
                        } else {
                            clearInterval(interval);
                            this.lastCloseDialog = new Date();
                            // sessionStorage.setItem('docgen.GetCurrentContentControl', JSON.stringify(new Date()));
                            this.getCurrentContentControl(newValue);
                        }
                        break;

                }
            });
            this.updateVariables()
        },

    },
    computed: {
        templateButtons() {
            return [
                {
                    id: 'show-rendu',
                    buttons: [{
                        label: 'Afficher le document modèle',
                        id: 'show',
                        color: 'info',
                        icon: 'remove_red_eye',
                        disabled: false,
                        clickChannel: 'show-rendu'
                    }]
                }];
        }
    }
}

</script>

<style>
.v-label {
    font-size: 0.8rem;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
    background: transparent;
    border-radius: 50px;
}
</style>
