<template>
  <div class="page">
    <validate-document-component v-if="!!config" :show="showValidation"
                                 :documentKey="config.document.key"
                                 :original-type="config.document.fileType"
                                 @cancel="showValidation=false"
                                 @validate="showValidation=false;document.outputFormat=$event;changeDocumentStatus('VALIDER',RedacActionEnum.VALIDATATION)">
    </validate-document-component>
    <invalidate-document-component v-if="!!config" :show="showInvalidation"
                                   :documentKey="config.document.key"
                                   @cancel="showInvalidation=false"
                                   @invalidate="invalidateDocument($event)">

    </invalidate-document-component>
    <edition-component
        @open="finishOnlyOffice($event)"
        @config="config=$event;setDocumentFromConfig()">
      <template v-slot:plugin>
        <div v-if="open && !!config">

          <div class="text-center">
            <absolute-component :is-buttons-opened="isButtonsOpened"
            >
              <template v-slot:fixed>
                <left-button-component v-bind:key="validationButton.id"
                                       v-if="documentStatus !== 3"
                                       @click="showValidation=true"
                                       :button="validationButton"></left-button-component>
                <left-button-component v-else v-bind:key="invalidationButton.id"
                                       @click="showInvalidation=true"
                                       :button="invalidationButton"></left-button-component>
              </template>
            </absolute-component>
          </div>
        </div>
      </template>
    </edition-component>
  </div>

</template>

<script>

import DocumentStatusEnum from "@/core/enum/document-status.enum";
import AbsoluteComponent from "@/components/AbsoluteComponent";
import {isNullOrUndefined} from "@/core/utils/technical.utils";
import EditionComponent from "@/components/EditionComponent";
import ValidateDocumentComponent from "@/components/ValidateDocumentComponent";
import InvalidateDocumentComponent from "@/components/InvalidateDocumentComponent";
import LeftButtonComponent from "@/components/LeftButtonComponent";
import {RedacActionEnum} from "@/core/enum/redac-action.enum";

export default {
  name: "ValidationPage",
  components: {
    LeftButtonComponent,
    InvalidateDocumentComponent,
    ValidateDocumentComponent,
    EditionComponent,
    AbsoluteComponent
  },
  data() {
    return {
      RedacActionEnum: RedacActionEnum,
      showValidation: false,
      showInvalidation: false,
      config: null,
      open: false,
      isButtonsOpened: false,
      dialog: false,
      document: null
    }
  },
  mounted() {
    this.$store.dispatch('application/setLoading', true)
  },
  methods: {
    closeWindow() {
      window.opener = self;
      window.close();
      this.$router.push("/")
    },
    finishOnlyOffice(open) {
      this.$store.dispatch('application/setLoading', false)
      this.open = open;
    },
    setDocumentFromConfig() {
      let updatedJson = this.config.document.updatedJson;
      let initialjson = this.config.document.json;
      this.document = JSON.parse(isNullOrUndefined(updatedJson) ? initialjson : updatedJson);
    },
    invalidateDocument(commentaire) {
      this.showInvalidation = false;
      this.document.commentaire = commentaire;
      this.changeDocumentStatus('BROUILLON', RedacActionEnum.INVALIDATION);
    },
    changeDocumentStatus(status, lastAction) {
      this.$store.dispatch('application/setLoading', true);
      const lastStatus = this.document.status;
      this.document.status = DocumentStatusEnum[status]
      this.document.lastAction = lastAction;
      let i18nMessage = 'alert.validate-document-request'
      if (DocumentStatusEnum.VALIDER === this.document.status) {
        i18nMessage = 'alert.validate-document'
      } else if (DocumentStatusEnum.BROUILLON === this.document.status) {
        i18nMessage = 'alert.invalidate-document'
      }
      this.$store.dispatch("document/updateDocumentConfiguration", this.document).then((response) => {
        this.$store.dispatch('application/setLoading', false);

        if (!isNullOrUndefined(response)) {
          this.$store.dispatch("application/setAlert", {
            type: 'success',
            header: i18nMessage + '.success-header',
            icon: 'info',
            show: true,
            button: 'Retour',
            message: i18nMessage + '.success-message',
            closeWindow: false,
            reloadWindow: true
          })
        } else {

          this.document.status = lastStatus;
          this.$store.dispatch("application/setAlert", {
            type: 'error',
            header: i18nMessage + '.error-header',
            icon: 'error',
            show: true,
            button: 'Retour',
            message: i18nMessage + '.error-message',
            closeWindow: false

          })
        }
      }, () => {

        this.document.status = lastStatus;
        this.$store.dispatch("application/setAlert", {
          type: 'error',
          header: i18nMessage + '.error-header',
          icon: 'error',
          show: true,
          button: 'Retour',
          message: i18nMessage + '.error-message',
          closeWindow: false

        })
      })
    },

    isNotEmpty(val) {
      return !!val && val.trim() !== ''
    },
    isListNotEmpty(val) {
      return !!val && val.filter(item => !!item).length > 0
    }
  },
  computed: {

    validationButton() {
      return {
        label: 'redac.plugin.buttons-title.validate-document',
        id: 'validate-document',
        color: 'success',
        icon: 'done_all',
        disabled: !this.userRoles.includes('validation'),
        clickChannel: 'validate-document'
      }
    },
    invalidationButton() {
      return {
        label: 'redac.plugin.buttons-title.invalidate-document',
        id: 'invalidate-document',
        color: 'error',
        icon: 'close',
        disabled: !this.userRoles.includes('validation'),
        clickChannel: 'invalidate-document'
      }
    },
    editionDetails() {
      return this.$store.state.application.editionDetails;
    },
    documentStatus() {
      return isNullOrUndefined(this.document) || isNullOrUndefined(this.document.status) ? 10 : this.document.status;
    },
    userRoles() {
      return !this.editionDetails
      || !this.editionDetails.user.roles ? [] : this.editionDetails.user.roles
    },
    token() {
      return this.$store.state.application.token;
    },
    exp() {
      return this.$store.state.application.exp;
    }
  }
}

</script>

<style>
.hidden {
  visibility: hidden;
}
</style>
