<template>
  <div class="page padding-10-px-20-px">
    <alert-dialog-component header="alert.invalid-token.header"
                            icon="error"
                            type="error"
                            button="alert.invalid-token.button"
                            message="alert.invalid-token.message"
                            :show="!!token && !editionDetails">

    </alert-dialog-component>
    <default-component/>
  </div>
</template>

<script>
import {isNullOrUndefined} from "@/core/utils/technical.utils";
import DefaultComponent from "@/components/DefaultComponent";
import AlertDialogComponent from "@/components/alert/AlertDialogComponent";

export default {
  name: "WelcomePage",
  components: {AlertDialogComponent, DefaultComponent},
  mounted() {
    this.$store.dispatch('application/setLoading', true)
    this.setToken();
  }, methods: {
    setToken() {
      let queryToken = this.$route.query.token;
      if (!isNullOrUndefined(queryToken)) {
        this.$store.dispatch("application/setToken", queryToken)
      } else {
        this.$store.dispatch("application/setToken", sessionStorage.getItem('token'))
        this.$store.dispatch('application/setLoading', false)
      }
    }
  },
  computed: {
    editionDetails() {
      return this.$store.state.application.editionDetails;
    },
    token() {
      return this.$store.state.application.token;
    }
  },
  watch: {
    editionDetails(val) {
      if (!isNullOrUndefined(val)) {
        this.$router.push({name: val.mode})
      }
    }
  }
}
</script>

<style scoped>

</style>
