{% block content %}
<div class="panel panel-default form-horizontal">
    <div class="panel-heading">
        <div class="panel-title">
            {{ 'DOSSIER_VOLUMINEUX_GESTION_TITLE'|trans }}
        </div>
    </div>
    <div class="panel-body">
        {% if connected is same as(true)   %}
            <div class="alert alert-info">{{ 'DOSSIER_VOLUMINEUX_GESTION_INFO'|trans }}</div>
            <div>{% include 'dossierVolumineux/gestion-table.html.twig' %}</div>
        {% else %}
            {% for message in app.flashes('error')|slice(0,1) %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
