{% block content %}
<div class="panel panel-default form-horizontal">
    <div class="panel-body">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div>
            {% if datas is empty %}
                <p>{{ 'DOSSIER_VOLUMINEUX_GESTION_TABLE_EMPTY'|trans }}</p>
            {% else %}
            <table class="table table-striped">
                <thead>
                    <th class="col-md-3">{{ 'DOSSIER_VOLUMINEUX_GESTION_TABLE_LIBELLE'|trans }}</th>
                    <th class="col-md-2">{{ 'DOSSIER_VOLUMINEUX_GESTION_TABLE_IDENTIFIANT'|trans }}</th>
                    <th class="col-md-2">{{ 'DOSSIER_VOLUMINEUX_GESTION_TABLE_TAILLE'|trans }}</th>
                    <th class="col-md-2">{{ 'DOSSIER_VOLUMINEUX_GESTION_TABLE_DATE'|trans }}</th>
                    <th class="col-md-2 text-right">{{ 'DOSSIER_VOLUMINEUX_GESTION_TABLE_ACTION'|trans|raw }} <i class="fa fa-info-circle blue text-info" data-toggle="tooltip" data-placement="bottom" title="{{ 'INFO_STATUT_DOSSIER_VOLUMINEUX'|trans }}" aria-hidden="true"></i></th>
                </thead>

                <tbody>
                {% for data in datas %}
                    {% set sessionId = data.callback %}
                    {% set appId = "DOSSIER_VOLUMINEUX_DOWNLOAD"%}
                    {% set urlEnvol =  app.request.server.get('ENVOL_URL') %}
                        {% set dataMampObjects = {
                        "sessionId": sessionId,
                        "appId":   appId,
                        "urlEnvol":urlEnvol
                    } %}

                <tr>
                    <td>{{ data.getNom() }}</td>
                    <td>{{ data.getUuidReference() }}</td>
                    <td>
                        <span class="label label-success">
                        {{ data.getTaille()|fileSize }}
                        </span>
                    </td>
                    <td>{{ data.getDateCreation()|date("d/m/Y H:i:s") }}</td>
                    <td class="clearfix text-right">
                        <div class="m-b-1">
                            <button type="button" class="btn m-l-1 btn-primary pull-right object-example-container"
                                    data-toggle="modal"
                                    data-body-mamp-objects="{{dataMampObjects|json_encode()}}"
                                    title="{{ 'TELECHARGER_DOSSIER_VOLUMINEUX'|trans }}">
                                <i class="fa fa-download"></i>
                            </button>

                            <a href="{{ URL_LT_MPE_SF }}/{{ controllerName }}/event/{{ data.getUuidReference() }}"
                               class="btn btn-primary {% if data.downloadable is same as (false)  %}disabled {% endif %}" {% if data.getBlobLogfile() is empty %} disabled="disabled" {% endif %}
                               data-toggle="tooltip" title="{{ 'TELECHARGER_JOURNAL_DE_LOGS_DOSSIER_VOLUMINEUX'|trans }}">
                                <i class="fa fa-file"></i>
                            </a>

                        </div>
                        <div class="clearfix">
                            <input type="checkbox"
                                    {% if data.isActif() == true  %} checked {% endif %}
                                   class="switch"
                                   id="switch{{ data.id }}"
                                   data-on-label="Enabled"
                                   data-off-label="Disabled"
                                   data-keyboard="false"
                                   data-backdrop="static"
                                   data-state="{% if data.isActif() == true  %}true{% else %}false{% endif %}"
                                   data-href = "{{ URL_LT_MPE_SF }}/{{ controllerName }}/toggle-statut/{{ data.getUuidReference() }}"
                            />
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <a href="{{ URL_LT_MPE_SF }}/{{ controllerName }}/upload/"
               class="btn btn-primary btn-sm pull-right"
               target="_blank"
            >
                <i class="fa fa-upload"></i>
                {{ 'DOSSIER_VOLUMINEUX_GESTION_LINK'|trans }}
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascriptAgent %}
        {{ encore_entry_script_tags('mamp') }}
{% endblock %}
