<section>
  <div class="row">
    <atx-breadcrumb class="col-12" [breadcrumb]="pageDescription" [export]="true" [loadingExport]="loadingExport"
                    (onClickExport)="export()"
    ></atx-breadcrumb>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="card mb-1">

    <div class="card-header pb-0">
      <h3>Avis nationaux</h3>
    </div>
    <div class="card-content">
      <div class="card-body pt-0">
        <div class="row">
          <!-- right content section -->
          <div class="col-md-12">
            <div class="table-responsive mt-1">
              <table class="table table-bordered">
                <tr>
                  <th>
                  </th>
                  <th class="column-min-width vertical-header"
                      *ngFor="let statut of statuts">{{'type-avis.statut.' + statut.label | translate}}
                  </th>


                </tr>
                <tr *ngFor="let annonceStatistique of getNational(offres)">
                  <td>
                    {{annonceStatistique.offre.libelle}}
                  </td>
                  <td class="column-min-width" *ngFor="let status of statuts;">
                                        <span
                                          class="cursor-pointer badge badge-primary badge-pill badge-glow primary-client-bg"
                                          (click)="goToValidation(annonceStatistique, status.value)">
                                            {{getTotalByStatus(annonceStatistique.statuts, status.value)}}
                                        </span>

                  </td>

                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-1">


    <div class="card-header pb-0">
      <h3>Avis européens</h3>
    </div>
    <div class="card-content">
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive mt-1">
              <table class="table table-bordered">
                <tr>
                  <th>
                  </th>
                  <th class="column-min-width vertical-header"
                      *ngFor="let statut of statuts">{{'type-avis.statut.' + statut.label | translate}}
                  </th>


                </tr>
                <tr *ngFor="let statistique of getEuropeen(offres)">
                  <td>
                    {{statistique.offre.libelle}}
                  </td>
                  <td class="column-min-width" *ngFor="let status of statuts;">
                                        <span
                                          class="cursor-pointer badge badge-primary badge-pill badge-glow primary-client-bg"
                                          (click)="goToValidation(statistique, status.value)">
                                            {{getTotalByStatus(statistique.statuts, status.value)}}
                                        </span>

                  </td>

                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
