<li>
    <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
        {{ 'DEFINE_TEXT_OUTILS_DE_SIGNATURE'|trans }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="container-fluid">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('entreprise_signer_document') }}">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'SIGNER_UN_DOCUMENT'|trans }}
                    </a>
                </li>
                <li>
                    <a href=" {{path('verification_signature_entreprise')}} ">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'VERIFIER_SIGNATURE'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
