<div class="container">
    <ul class="list-unstyled list-inline pull-left">
        <li class="clearfix">
            <div id="ctl0_bandeauEntrepriseWithoutMenuSf_panelDate">
                <span id="ctl0_bandeauEntrepriseWithoutMenuSf_dateAujourdhui"></span>
            </div>
        </li>
    </ul>
    <ul class="list-unstyled list-inline text-right">
        <li>
            <div class="accueil">
                {% if urlSocleVisible() == true %}
                    <a href="{{ urlSocle() }}">
                        <i class="fa fa-home m-r-1"></i>
                        {% if atexo_menu.isConnect() == true %}
                            {{ 'TEXT_MESSAGERIE_ACCUEIL' | trans }}
                        {% else %}
                            {{ 'TEXT_VOUS_ETES_PAS_CONNECTE' | trans }}
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </li>
        <li>
            <div class="lien-portail">
                {% if design and urlPortail() != null and atexo_menu.isConnect() == true %}
                    <a href="{{ urlPortail() }}">
                        <i class="fa fa-home m-r-1"></i>
                        {{ 'TEXT_PORTAIL'|trans }}
                    </a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>