<li class="{% if atexo_menu.isBourseCoTraitance() == false %}hide{% endif %}">
    <a href="{{ PF_URL }}?page=Entreprise.RechercheCollaborateur">
        {{ 'TEXT_RECHERCHE_COLLABORATION' | trans }}
    </a>
</li>