<li>
    <a href="#" class="dropdown-toggle pull-left"
       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ 'SE_PREPARER_A_REPONDRE'|trans }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="container-fluid">
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('ecrans_diagnostic_poste', {'calledFrom': 'entreprise'}) }}">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;AllCons&amp;orgTest">
                        <span class="fa fa-chevron-right"></span>
                        {{ 'TEXT_CONSULTATION_TEST'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>