<div class="pull-left relative header-left">
    <div class="pull-left">
        <a href="{{ PF_URL }}entreprise"
           class="btn btn-link">
            <img class="img-responsive header-img {% if specifiquePlace %}header--place{% endif %}"
                 src="{{ PF_URL }}themes/{{ design }}/images/img/logo-replace.png"
                 alt="{{ 'TEXT_MESSAGERIE_ACCUEIL' | trans }}">
        </a>
    </div>
</div>