<li style="display:{% if  atexo_menu.isEntiteAchat() ==true %}block{% else %}none{% endif %};">
    <a href="{{ PF_URL }}?page=Entreprise.EntrepriseVisualiserEntitesAchatsRecherche">
        {{ 'TEXT_ENTITES_ACHAT' | trans }}
    </a>
</li>