<div class="connexion-bottom">
    <div id="ctl0_bandeauEntrepriseWithoutMenuSf_blocLogin"
         class="form-group form-group-sm text-identifiant">
        <form action="{{ path('mpe_entreprise_auth') }}"
              name="loginForm"
              method="post">
            <div class="form-group form-group-sm  margin">
                <label for="ctl0_bandeauEntrepriseWithoutMenuSf_identifiantTop">
                    {{ 'DEFINE_TEXT_IDENTIFIANT'|trans }}
                </label>
                <input type="text"
                       id="ctl0_bandeauEntrepriseWithoutMenuSf_identifiantTop"
                       name="form[_username]"
                       class="form-control"
                       placeholder="{{ 'DEFINE_TEXT_IDENTIFIANT'|trans }}"
                       title="{{ 'DEFINE_TEXT_IDENTIFIANT'|trans }}"/>
            </div>
            <div class="form-group form-group-sm ">
                <label for="ctl0_bandeauEntrepriseWithoutMenuSf_passwordTop">
                    {{ 'TEXT_PASSWORD'|trans }}
                </label>
                <input type="password"
                       id="ctl0_bandeauEntrepriseWithoutMenuSf_passwordTop"
                       class="form-control"
                       name="form[_password]"
                       placeholder="{{ 'TEXT_PASSWORD'|trans }}"
                       title="{{ 'TEXT_PASSWORD'|trans }}"
                       autocomplete="off"/>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"/>
            <input type="submit"
                   value="{{ 'TEXT_CONNECTION'|trans }}"
                   id="ctl0_bandeauEntrepriseWithoutMenuSf_authentificationButton"
                   class="btn btn-primary btn-block m-b-1"/>
        </form>
    </div>

    <a class="btn-pass-oublie btn-block"
       href="{{ path('atexo_forgot_password_request',{'calledFrom': 'entreprise'}) }}">
        {{ 'TEXT_MOT_PASSE_OUBLIE'|trans }}
    </a>
    <a class="btn-block"
       href="{{ PF_URL }}index.php?page=Entreprise.EntrepriseHome&goto=%3Fpage%3DEntreprise.AccueilEntreprise">
        {{ 'DEFINE_M_INSCRIRE'|trans }}
    </a>
</div>
