<li>
    <a href="#" class="dropdown-toggle pull-left"
       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ 'DEFINE_ANNONCES' | trans }}
        <span class="fa fa-chevron-down pull-right arrow-position"></span></a>

    <ul class="dropdown-menu mega-dropdown-menu">
        <li class="container-fluid">
            <ul class="list-unstyled clearfix">
                <li class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="dropdown-header">
                            <div class="h4">
                                {{ 'DEFINE_CONSULTATION_EN_COURS' | trans }}
                            </div>
                        </li>
                        <li>
                            <div class="input-group form-group form-group-sm">
                                <form class="input-group form-group form-group-sm"
                                      action="{{ path('espace_entreprise_search') }}"
                                      method="post">
                                    <label class="sr-only"
                                           for="ctl0_bandeauEntrepriseWithoutMenuSf_quickSearch">
                                        {{ 'TEXT_RECHERCHE_RAPIDE' | trans }}
                                    </label>
                                    <input name="keyWord"
                                           type="text"
                                           aria-placeholder="{{ 'TEXT_RECHERCHE_RAPIDE' | trans }}"
                                           id="ctl0_bandeauEntrepriseWithoutMenuSf_quickSearch"
                                           class="form-control input-quickSearch"
                                           placeholder="{{ 'TEXT_RECHERCHE_RAPIDE' | trans }} ..."
                                           onfocus=""
                                           onblur=""
                                           title="{{ 'TEXT_RECHERCHE_RAPIDE' | trans }}"
                                    />
                                    <span class="input-group-btn align-right">
                                                                <button class="btn btn-sm btn-primary button-quickSearch"
                                                                        type="submit"
                                                                        id="btnGoToQuickResultSearch">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AllCons">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'TEXT_TOUTES_CONSULTATION' | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons&type=multicriteres">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'TEXT_RECHERCHE_AVANCEE' | trans }}
                            </a>
                        </li>
                        <li>
                            <a id="btnReview"
                               href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons&type=restreinte">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'TEXT_SEARCH_PROCEDURE_RESTREINTE' | trans }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="dropdown-header">
                            <div class="h4">
                                {{ 'TEXT_AUTRES_ANNONCES' | trans }}
                            </div>
                        </li>
                        <li>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AvisInformation">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'DEFINE_TOUTES_ANNONCES_INFORMATION' | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AvisAttribution">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'DEFINE_TOUTES_ANNONCES_ATTRIBUTION' | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AllAnn">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'TEXT_RECHERCHE_AVANCEE' | trans }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="dropdown-header"
                            style="display:{% if atexo_menu.isAnnoncesMarches() == false %}block{% else %}none{% endif %}">
                            <div class="h4">
                                {{ 'TEXT_LISTE_MARCHES_2' | trans }}
                            </div>
                        </li>
                        <li style="display:{% if atexo_menu.isAnnoncesMarches() == false %}block{% else %}none{% endif %}">
                            <div id="ctl0_bandeauEntrepriseWithoutMenuSf_panelArticle133">
                                {% if atexo_menu.isRechercheAvancee() == true %}
                                    <div>
                                        <a href="{{ PF_URL }}?page=Entreprise.EntrepriseRechercherListeMarches&search">
                                            <span class="fa fa-chevron-right"></span>
                                            {{ 'TEXT_RECHERCHE_AVANCEE' | trans }}
                                        </a>
                                    </div>
                                {% endif %}

                                {% if atexo_menu.isRechercheAvanceeExterne() == true %}
                                    <div>
                                        <a href="{{ PF_URL }}rechercheExterneListeMarches/#/donnees-essentielles/rechercher"
                                           target="_blank">
                                            <span class="fa fa-chevron-right"></span>
                                            {{ 'TEXT_RECHERCHE_AVANCEE' | trans }}
                                        </a>
                                    </div>
                                {% endif %}

                                {% if atexo_menu.isUpload() == true %}
                                    <div>
                                        <a href="{{ PF_URL }}?page=Entreprise.EntrepriseRechercherListeMarches&download">
                                            <span class="fa fa-chevron-right"></span>
                                            {{ 'DEFINE_TELECHARGER' | trans }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                        <li class="dropdown-header">
                            <div class="h4">
                                {{ 'DEFINE_TEXT_ENCHERES' | trans }}
                            </div>
                        </li>
                        <li>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseParticipationEnchere">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'DEFINE_PARTICIPATION' | trans }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="col-md-12">
                    <ul class="list-unstyled clearfix">
                        {% set listeAlertes = mes_alertes.listeAlertes() %}

                        <li class="dropdown-header clearfix">
                            <div class="h4 pull-left">
                                {{ 'TEXT_MES_ALERTES_RECHERCHES_SAUVEGARDEES' | trans }}
                            </div>
                            <a href="{{ PF_URL }}?page=Entreprise.EntrepriseGestionRecherches"
                               class="pull-right btn btn-link btn-sm">
                                <i class="fa fa-cog"></i>
                                {{ 'TEXT_GERER_MES_ALERTES_RECHERCHES_SAUVEGARDEES' | trans }}
                            </a>
                        </li>
                        {% if listeAlertes|length > 0 %}
                            {% for listeAlerte in listeAlertes %}
                                <li class="col-md-3 p-0">
                                    <a class=" lien-recherche"
                                       href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&searchAnnCons&idRecherche={{ listeAlerte.id }}">
                                        <span class="fa fa-chevron-right"></span>
                                        {{ listeAlerte.denomination|raw }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>