{% if ACTIVER_FC_AUTHENTIFICATION == 1 %}
    <div class="connexion-top flexit">
        <div class="text-center">
            <a href="{{ URL_FRANCECONNECT_CONCENTRATEUR_LOGIN }}"
               class="btn-connect btn-france-connect margin">
                <img class="margin sr-only"
                     src="/themes/images/fc_bouton_alt2_v2.png"
                     alt="FranceConnect">
            </a>
            <div class="margin">{{ 'PLUS_INFORMATION_SUR'|trans }}
                <a href="{{ URL_FRANCECONNECT_DETAIL }}">
                    FranceConnect
                </a>
            </div>
            <div class="line-separator">
                <span class="big line-separator-text">
                    <b>{{ 'DEFINE_OU' |trans }}</b>
                </span>
            </div>
        </div>
    </div>
{% endif %}