<div id="ctl0_bandeauEntrepriseWithoutMenuSf_panelDisconnected" class="bloc-user-login">
    <div class="bootstrap">
        <div class="kt-profile" data-widget="profile" data-status="online"
             data-json='{"profile":{"name":"", "lastname":"" } }'>
            <div class="atx-popover-markup-login-usr">
                <div class="trigger-btn selector btn-toggle-info_user kt-profile-dropdown-toggle"
                     {% if isActiveAuthentificationInscritByForm() %}data-toggle="dropdown" aria-haspopup="true" role="button"{% endif %}
                     aria-expanded="false" id="kt-profile-dropdown-Disconnected">
                    <a href="{{ isActiveAuthentificationInscritByForm() ? '#' : path('mpe_entreprise_auth') }}" data-placement="bottom" class="btn-block btn-login">
                        <span class="text">
                            <span class="hidden-xs">{{ 'TEXT_CONNECTION'|trans }}</span>
                            <span class="visible-xs pull-left">
                                <i class="fa fa-user-o"></i>
                            </span>
                            {% if isActiveAuthentificationInscritByForm() %}
                            <i class="fa fa-angle-down m-l-1"></i>
                            {% endif %}
                        </span>
                    </a>
                </div>

                {% if isActiveAuthentificationInscritByForm() %}
                <!-- AccueilEntreprise -->
                <div class="dropdown-menu kt-profile-dropdown kt-profile-dropdown-lg dropdown-menu-right"
                     role="menu" aria-labelledby="kt-profile-dropdown-Disconnected">
                    <div class="popover-content">
                        {# Gestion de la connexion France connect #}
                        {% include 'entreprise/menu/partial/block_connexion_fc.html.twig' %}
                        {# Gestion de la connexion standard #}
                        {% include 'entreprise/menu/partial/block_connexion_standard.html.twig' %}

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="ctl0_bandeauEntrepriseWithoutMenuSf_nonAuthentifie">
        <div class="panel-user-infos">
            <div class="panel-user-infos-arrow"></div>
            <div class="content"></div>
        </div>
    </div>
</div>