/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "scss/variables";
@import "scss/mixins";
@import "./bootstrap/scss/bootstrap";
@import "scss/application";
@import "dropzone/dist/min/dropzone.min.css";
@import "quill/dist/quill.core";
@import "quill/dist/quill.bubble";
@import "quill/dist/quill.snow";
@import 'ngx-ui-switch/ui-switch.component';
@import "scss/table";
@import "ngx-bootstrap/datepicker/bs-datepicker";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/core";
@import "@ng-select/ng-select/scss/default.theme";

* {
  font-size: 14px !important;
}

.nav-padding .nav > li > a {
  padding: 0;
}

.nav-padding .nav > ul {
  padding: 0 55px;
}

.nav-padding {
  padding: 0;
  padding-left: 10px;
}

.nav-padding .nav-tabs > li.active > a {
  color: #000;
  border: none;
}

.nav-padding .nav-item {
  background-color: #fafafa;

  a {
    color: #6c757d !important;
  }

  &.active {
    background-color: #FFF;
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0, 68, 148, 1);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(0, 68, 148, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 68, 148, 1);

    a {
      color: #000 !important;
    }
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.nav-padding .nav.nav-tabs {
  margin-top: 12px;
  border: 1px solid #ddd;

  li {
    padding: 12px;
    border-right: 1px solid #ddd;
    font-weight: bold;

    a {
      border: none;

      &:hover {
        border: none;
        background-color: transparent;
      }
    }
  }
}

.nav-padding .nav-tabs {
  display: flex;
  align-items: center;
}

.nav-padding .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  font-size: 1.2em;

}

#owl-dt-picker-1 {
  width: 20em;
  height: auto;
}

.owl-dt-calendar {
  width: 60em;
}

.owl-dt-calendar-main {
  padding: 1em 2em;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  font-size: 1em;
}

.newMessage {
  .nav-link {
    color: white;
  }

  background-color: #004494 !important;
}

.switch.switch-small {
  width: 40px !important;
}

.messec {
  width: 100% !important;
}

.nav {
  .badge {
    border-radius: 0 !important;
  }
}

.txt-nb-reponses {
  font-style: italic;
}

.fade {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-backdrop {
  opacity: 0.5 !important;
  background-color: #666666 !important;
}

.information {
  border: 1px solid $darker-blue;
  border-radius: 4px;
  margin-bottom: 10px;
}

.information-icon {
  background-color: $darker-blue;
  color: white;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

