@font-face {
  font-family: "feather";
  src: url('./fonts/feather.eot?t=1525787366991');
  /* IE9*/
  src: url('./fonts/feather.eot?t=1525787366991#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/feather.woff?9xfrq8') format('woff'),
    /* chrome, firefox */
    url('./fonts/feather.ttf?t=1525787366991') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./fonts/feather.svg?t=1525787366991#feather') format('svg');
  /* iOS 4.1- */
}

[class^="ft-"],
[class*=" ft-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ft-alert-octagon:before {
  content: "\e81b";
}

.ft-alert-circle:before {
  content: "\e81c";
}

.ft-activity:before {
  content: "\e81d";
}

.ft-alert-triangle:before {
  content: "\e81e";
}

.ft-align-center:before {
  content: "\e81f";
}

.ft-airplay:before {
  content: "\e820";
}

.ft-align-justify:before {
  content: "\e821";
}

.ft-align-left:before {
  content: "\e822";
}

.ft-align-right:before {
  content: "\e823";
}

.ft-arrow-down-left:before {
  content: "\e824";
}

.ft-arrow-down-right:before {
  content: "\e825";
}

.ft-anchor:before {
  content: "\e826";
}

.ft-aperture:before {
  content: "\e827";
}

.ft-arrow-left:before {
  content: "\e828";
}

.ft-arrow-right:before {
  content: "\e829";
}

.ft-arrow-down:before {
  content: "\e82a";
}

.ft-arrow-up-left:before {
  content: "\e82b";
}

.ft-arrow-up-right:before {
  content: "\e82c";
}

.ft-arrow-up:before {
  content: "\e82d";
}

.ft-award:before {
  content: "\e82e";
}

.ft-bar-chart:before {
  content: "\e82f";
}

.ft-at-sign:before {
  content: "\e830";
}

.ft-bar-chart-2:before {
  content: "\e831";
}

.ft-battery-charging:before {
  content: "\e832";
}

.ft-bell-off:before {
  content: "\e833";
}

.ft-battery:before {
  content: "\e834";
}

.ft-bluetooth:before {
  content: "\e835";
}

.ft-bell:before {
  content: "\e836";
}

.ft-book:before {
  content: "\e837";
}

.ft-briefcase:before {
  content: "\e838";
}

.ft-camera-off:before {
  content: "\e839";
}

.ft-calendar:before {
  content: "\e83a";
}

.ft-bookmark:before {
  content: "\e83b";
}

.ft-box:before {
  content: "\e83c";
}

.ft-camera:before {
  content: "\e83d";
}

.ft-check-circle:before {
  content: "\e83e";
}

.ft-check:before {
  content: "\e83f";
}

.ft-check-square:before {
  content: "\e840";
}

.ft-cast:before {
  content: "\e841";
}

.ft-chevron-down:before {
  content: "\e842";
}

.ft-chevron-left:before {
  content: "\e843";
}

.ft-chevron-right:before {
  content: "\e844";
}

.ft-chevron-up:before {
  content: "\e845";
}

.ft-chevrons-down:before {
  content: "\e846";
}

.ft-chevrons-right:before {
  content: "\e847";
}

.ft-chevrons-up:before {
  content: "\e848";
}

.ft-chevrons-left:before {
  content: "\e849";
}

.ft-circle:before {
  content: "\e84a";
}

.ft-clipboard:before {
  content: "\e84b";
}

.ft-chrome:before {
  content: "\e84c";
}

.ft-clock:before {
  content: "\e84d";
}

.ft-cloud-lightning:before {
  content: "\e84e";
}

.ft-cloud-drizzle:before {
  content: "\e84f";
}

.ft-cloud-rain:before {
  content: "\e850";
}

.ft-cloud-off:before {
  content: "\e851";
}

.ft-codepen:before {
  content: "\e852";
}

.ft-cloud-snow:before {
  content: "\e853";
}

.ft-compass:before {
  content: "\e854";
}

.ft-copy:before {
  content: "\e855";
}

.ft-corner-down-right:before {
  content: "\e856";
}

.ft-corner-down-left:before {
  content: "\e857";
}

.ft-corner-left-down:before {
  content: "\e858";
}

.ft-corner-left-up:before {
  content: "\e859";
}

.ft-corner-up-left:before {
  content: "\e85a";
}

.ft-corner-up-right:before {
  content: "\e85b";
}

.ft-corner-right-down:before {
  content: "\e85c";
}

.ft-corner-right-up:before {
  content: "\e85d";
}

.ft-cpu:before {
  content: "\e85e";
}

.ft-credit-card:before {
  content: "\e85f";
}

.ft-crosshair:before {
  content: "\e860";
}

.ft-disc:before {
  content: "\e861";
}

.ft-delete:before {
  content: "\e862";
}

.ft-download-cloud:before {
  content: "\e863";
}

.ft-download:before {
  content: "\e864";
}

.ft-droplet:before {
  content: "\e865";
}

.ft-edit-2:before {
  content: "\e866";
}

.ft-edit:before {
  content: "\e867";
}

.ft-edit-1:before {
  content: "\e868";
}

.ft-external-link:before {
  content: "\e869";
}

.ft-eye:before {
  content: "\e86a";
}

.ft-feather:before {
  content: "\e86b";
}

.ft-facebook:before {
  content: "\e86c";
}

.ft-file-minus:before {
  content: "\e86d";
}

.ft-eye-off:before {
  content: "\e86e";
}

.ft-fast-forward:before {
  content: "\e86f";
}

.ft-file-text:before {
  content: "\e870";
}

.ft-film:before {
  content: "\e871";
}

.ft-file:before {
  content: "\e872";
}

.ft-file-plus:before {
  content: "\e873";
}

.ft-folder:before {
  content: "\e874";
}

.ft-filter:before {
  content: "\e875";
}

.ft-flag:before {
  content: "\e876";
}

.ft-globe:before {
  content: "\e877";
}

.ft-grid:before {
  content: "\e878";
}

.ft-heart:before {
  content: "\e879";
}

.ft-home:before {
  content: "\e87a";
}

.ft-github:before {
  content: "\e87b";
}

.ft-image:before {
  content: "\e87c";
}

.ft-inbox:before {
  content: "\e87d";
}

.ft-layers:before {
  content: "\e87e";
}

.ft-info:before {
  content: "\e87f";
}

.ft-instagram:before {
  content: "\e880";
}

.ft-layout:before {
  content: "\e881";
}

.ft-link-2:before {
  content: "\e882";
}

.ft-life-buoy:before {
  content: "\e883";
}

.ft-link:before {
  content: "\e884";
}

.ft-log-in:before {
  content: "\e885";
}

.ft-list:before {
  content: "\e886";
}

.ft-lock:before {
  content: "\e887";
}

.ft-log-out:before {
  content: "\e888";
}

.ft-loader:before {
  content: "\e889";
}

.ft-mail:before {
  content: "\e88a";
}

.ft-maximize-2:before {
  content: "\e88b";
}

.ft-map:before {
  content: "\e88c";
}

.ft-map-pin:before {
  content: "\e88e";
}

.ft-menu:before {
  content: "\e88f";
}

.ft-message-circle:before {
  content: "\e890";
}

.ft-message-square:before {
  content: "\e891";
}

.ft-minimize-2:before {
  content: "\e892";
}

.ft-mic-off:before {
  content: "\e893";
}

.ft-minus-circle:before {
  content: "\e894";
}

.ft-mic:before {
  content: "\e895";
}

.ft-minus-square:before {
  content: "\e896";
}

.ft-minus:before {
  content: "\e897";
}

.ft-moon:before {
  content: "\e898";
}

.ft-monitor:before {
  content: "\e899";
}

.ft-more-vertical:before {
  content: "\e89a";
}

.ft-more-horizontal:before {
  content: "\e89b";
}

.ft-move:before {
  content: "\e89c";
}

.ft-music:before {
  content: "\e89d";
}

.ft-navigation-2:before {
  content: "\e89e";
}

.ft-navigation:before {
  content: "\e89f";
}

.ft-octagon:before {
  content: "\e8a0";
}

.ft-package:before {
  content: "\e8a1";
}

.ft-pause-circle:before {
  content: "\e8a2";
}

.ft-pause:before {
  content: "\e8a3";
}

.ft-percent:before {
  content: "\e8a4";
}

.ft-phone-call:before {
  content: "\e8a5";
}

.ft-phone-forwarded:before {
  content: "\e8a6";
}

.ft-phone-missed:before {
  content: "\e8a7";
}

.ft-phone-off:before {
  content: "\e8a8";
}

.ft-phone-incoming:before {
  content: "\e8a9";
}

.ft-phone:before {
  content: "\e8aa";
}

.ft-phone-outgoing:before {
  content: "\e8ab";
}

.ft-pie-chart:before {
  content: "\e8ac";
}

.ft-play-circle:before {
  content: "\e8ad";
}

.ft-play:before {
  content: "\e8ae";
}

.ft-plus-square:before {
  content: "\e8af";
}

.ft-plus-circle:before {
  content: "\e8b0";
}

.ft-plus:before {
  content: "\e8b1";
}

.ft-pocket:before {
  content: "\e8b2";
}

.ft-printer:before {
  content: "\e8b3";
}

.ft-power:before {
  content: "\e8b4";
}

.ft-radio:before {
  content: "\e8b5";
}

.ft-repeat:before {
  content: "\e8b6";
}

.ft-refresh-ccw:before {
  content: "\e8b7";
}

.ft-rewind:before {
  content: "\e8b8";
}

.ft-rotate-ccw:before {
  content: "\e8b9";
}

.ft-refresh-cw:before {
  content: "\e8ba";
}

.ft-rotate-cw:before {
  content: "\e8bb";
}

.ft-save:before {
  content: "\e8bc";
}

.ft-search:before {
  content: "\e8bd";
}

.ft-server:before {
  content: "\e8be";
}

.ft-scissors:before {
  content: "\e8bf";
}

.ft-share-2:before {
  content: "\e8c0";
}

.ft-share:before {
  content: "\e8c1";
}

.ft-shield:before {
  content: "\e8c2";
}

.ft-settings:before {
  content: "\e8c3";
}

.ft-skip-back:before {
  content: "\e8c4";
}

.ft-shuffle:before {
  content: "\e8c5";
}

.ft-sidebar:before {
  content: "\e8c6";
}

.ft-skip-forward:before {
  content: "\e8c7";
}

.ft-slack:before {
  content: "\e8c8";
}

.ft-slash:before {
  content: "\e8c9";
}

.ft-smartphone:before {
  content: "\e8ca";
}

.ft-square:before {
  content: "\e8cb";
}

.ft-speaker:before {
  content: "\e8cc";
}

.ft-star:before {
  content: "\e8cd";
}

.ft-stop-circle:before {
  content: "\e8ce";
}

.ft-sun:before {
  content: "\e8cf";
}

.ft-sunrise:before {
  content: "\e8d0";
}

.ft-tablet:before {
  content: "\e8d1";
}

.ft-tag:before {
  content: "\e8d2";
}

.ft-sunset:before {
  content: "\e8d3";
}

.ft-target:before {
  content: "\e8d4";
}

.ft-thermometer:before {
  content: "\e8d5";
}

.ft-thumbs-up:before {
  content: "\e8d6";
}

.ft-thumbs-down:before {
  content: "\e8d7";
}

.ft-toggle-left:before {
  content: "\e8d8";
}

.ft-toggle-right:before {
  content: "\e8d9";
}

.ft-trash-2:before {
  content: "\e8da";
}

.ft-trash:before {
  content: "\e8db";
}

.ft-trending-up:before {
  content: "\e8dc";
}

.ft-trending-down:before {
  content: "\e8dd";
}

.ft-triangle:before {
  content: "\e8de";
}

.ft-type:before {
  content: "\e8df";
}

.ft-twitter:before {
  content: "\e8e0";
}

.ft-upload:before {
  content: "\e8e1";
}

.ft-umbrella:before {
  content: "\e8e2";
}

.ft-upload-cloud:before {
  content: "\e8e3";
}

.ft-unlock:before {
  content: "\e8e4";
}

.ft-user-check:before {
  content: "\e8e5";
}

.ft-user-minus:before {
  content: "\e8e6";
}

.ft-user-plus:before {
  content: "\e8e7";
}

.ft-user-x:before {
  content: "\e8e8";
}

.ft-user:before {
  content: "\e8e9";
}

.ft-users:before {
  content: "\e8ea";
}

.ft-video-off:before {
  content: "\e8eb";
}

.ft-video:before {
  content: "\e8ec";
}

.ft-voicemail:before {
  content: "\e8ed";
}

.ft-volume-x:before {
  content: "\e8ee";
}

.ft-volume-2:before {
  content: "\e8ef";
}

.ft-volume-1:before {
  content: "\e8f0";
}

.ft-volume:before {
  content: "\e8f1";
}

.ft-watch:before {
  content: "\e8f2";
}

.ft-wifi:before {
  content: "\e8f3";
}

.ft-x-square:before {
  content: "\e8f4";
}

.ft-wind:before {
  content: "\e8f5";
}

.ft-x:before {
  content: "\e8f6";
}

.ft-x-circle:before {
  content: "\e8f7";
}

.ft-zap:before {
  content: "\e8f8";
}

.ft-zoom-in:before {
  content: "\e8f9";
}

.ft-zoom-out:before {
  content: "\e8fa";
}

.ft-command:before {
  content: "\e8fb";
}

.ft-cloud:before {
  content: "\e8fc";
}

.ft-hash:before {
  content: "\e8fd";
}

.ft-headphones:before {
  content: "\e8fe";
}

.ft-underline:before {
  content: "\e8ff";
}

.ft-italic:before {
  content: "\e900";
}

.ft-bold:before {
  content: "\e901";
}

.ft-crop:before {
  content: "\e902";
}

.ft-help-circle:before {
  content: "\e903";
}

.ft-paperclip:before {
  content: "\e904";
}

.ft-shopping-cart:before {
  content: "\e905";
}

.ft-tv:before {
  content: "\e906";
}

.ft-wifi-off:before {
  content: "\e907";
}

.ft-minimize:before {
  content: "\e88d";
}

.ft-maximize:before {
  content: "\e908";
}

.ft-gitlab:before {
  content: "\e909";
}

.ft-sliders:before {
  content: "\e90a";
}

.ft-star-on:before {
  content: "\e90b";
}

.ft-heart-on:before {
  content: "\e90c";
}

.ft-archive:before {
  content: "\e90d";
}

.ft-arrow-down-circle:before {
  content: "\e90e";
}

.ft-arrow-up-circle:before {
  content: "\e90f";
}

.ft-arrow-left-circle:before {
  content: "\e910";
}

.ft-arrow-right-circle:before {
  content: "\e911";
}

.ft-bar-chart-line-:before {
  content: "\e912";
}

.ft-bar-chart-line:before {
  content: "\e913";
}

.ft-book-open:before {
  content: "\e914";
}

.ft-code:before {
  content: "\e915";
}

.ft-database:before {
  content: "\e916";
}

.ft-dollar-sign:before {
  content: "\e917";
}

.ft-folder-plus:before {
  content: "\e918";
}

.ft-gift:before {
  content: "\e919";
}

.ft-folder-minus:before {
  content: "\e91a";
}

.ft-git-commit:before {
  content: "\e91b";
}

.ft-git-branch:before {
  content: "\e91c";
}

.ft-git-pull-request:before {
  content: "\e91d";
}

.ft-git-merge:before {
  content: "\e91e";
}

.ft-linkedin:before {
  content: "\e91f";
}

.ft-hard-drive:before {
  content: "\e920";
}

.ft-more-vertical-:before {
  content: "\e921";
}

.ft-more-horizontal-:before {
  content: "\e922";
}

.ft-rss:before {
  content: "\e923";
}

.ft-send:before {
  content: "\e924";
}

.ft-shield-off:before {
  content: "\e925";
}

.ft-shopping-bag:before {
  content: "\e926";
}

.ft-terminal:before {
  content: "\e927";
}

.ft-truck:before {
  content: "\e928";
}

.ft-zap-off:before {
  content: "\e929";
}

.ft-youtube:before {
  content: "\e92a";
}
