#MPE-nav {
  /*=========================================================================================
	File Name: horizontal-menu.scss
	Description: A classic horizontal menu for easy navingation & support all devices.
	It support light & dark version, filpped layout, right side icons, borders menu for
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
  /*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/;
}

#MPE-nav.horizontal-menu .navbar-horizontal .nav-item i {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

#MPE-nav.horizontal-menu .navbar-horizontal .nav-item a span {
  font-size: 1.1rem;
  position: relative;
  top: -2px;
}

#MPE-nav.horizontal-menu .navbar-horizontal.navbar-icon-right .nav-item i {
  top: -4px;
  position: relative;
}

#MPE-nav.horizontal-menu .navbar-horizontal ul#main-menu-navigation > li > a {
  padding: 1.8rem 1rem;
}

#MPE-nav.horizontal-menu #main-menu-navigation ul li a span {
  transition: all 0.2s ease;
  display: inline-block;
}

#MPE-nav.horizontal-menu #main-menu-navigation ul li a span:hover,
#MPE-nav.horizontal-menu #main-menu-navigation ul li a span .hover {
  transform: translateX(4px);
}

#MPE-nav.horizontal-menu.menu-collapsed #main-menu-navigation .nav-item > a > span {
  display: none;
}

#MPE-nav.horizontal-menu .navigation-header {
  font-family: inherit;
  color: #929292;
  padding: 8px 20px;
  font-size: 1rem;
}

#MPE-nav.horizontal-menu .navbar-flipped .navbar-nav .nav-item {
  float: right;
}

#MPE-nav.horizontal-menu .navbar-light ul#main-menu-navigation > li.active > a {
  border-bottom: 1px solid #1e9ff2;
  background: #fff;
}

#MPE-nav.horizontal-menu .navbar-light .active > a {
  background: whitesmoke;
  font-weight: 500;
}

#MPE-nav.horizontal-menu .navbar-dark .nav-item.active > a {
  background-color: rgba(255, 255, 255, 0.05);
}

#MPE-nav.horizontal-menu .navbar-dark .nav-item:hover,
#MPE-nav.horizontal-menu .navbar-dark .nav-item .hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#MPE-nav.horizontal-menu .navbar-dark .active > a {
  background: whitesmoke;
  font-weight: 500;
}

#MPE-nav.horizontal-menu[data-col="content-left-sidebar"] .sticky-wrapper {
  float: none;
}

#MPE-nav.horizontal-menu .dropdown-item:active {
  color: #2a2e30;
  background-color: #f4f5fa;
}

#MPE-nav.horizontal-menu .navbar-horizontal .dropdown .dropdown-menu {
  min-width: 15rem !important;
}

#MPE-nav.horizontal-layout .main-menu .navigation > li > ul > li > a i {
  margin-right: 0.5rem;
}

#MPE-nav.horizontal-layout .container {
  padding: 0;
}

#MPE-nav.horizontal-layout .search-input .input {
  padding: 1.9rem 2.7rem;
}

#MPE-nav.horizontal-layout.vertical-layout.vertical-overlay-menu .main-menu .navigation > li > a > span.badge {
  position: absolute;
  top: 11px;
  right: 40px;
}

#MPE-nav.horizontal-layout.vertical-layout.vertical-overlay-menu .main-menu .navigation li.nav-item.menu-collapsed-open > a {
  background: none;
  margin: 0;
  border-radius: 0;
}

#MPE-nav.horizontal-layout.vertical-layout.vertical-overlay-menu .main-menu .navigation li.nav-item.menu-collapsed-open > a ~ ul li.menu-collapsed-open > a ~ ul {
  margin-top: 4px;
}

#MPE-nav.horizontal-layout.vertical-layout.vertical-overlay-menu .main-menu .navigation li.nav-item.menu-collapsed-open > a ~ ul li.menu-collapsed-open > a ~ ul li.active a {
  background: none;
}

@media (max-width: 767px) {
  #MPE-nav.horizontal-layout.horizontal-menu-padding .header-navbar.navbar-with-menu .navbar-container {
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  #MPE-nav.horizontal-layout .container {
    padding: 0 1.25rem;
  }
}

#MPE-nav.vertical-overlay-menu .content {
  margin-left: 0;
}

#MPE-nav.vertical-overlay-menu .navbar .navbar-header {
  float: left;
  width: 280px;
}

#MPE-nav.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-left: auto;
}

#MPE-nav.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}

#MPE-nav.vertical-overlay-menu .main-menu, #MPE-nav .vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: width .25s, opacity .25s, transform .25s;
  width: 280px;
  left: -280px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation .navigation-header {
  padding-left: 34px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation .navigation-header .la-ellipsis-h,
#MPE-nav.vertical-overlay-menu .main-menu .navigation .navigation-header .nav-menu-icon {
  display: none;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li > a {
  padding-left: 32px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
  margin-right: 12px;
  float: left;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li > a > i:before {
  transition: 200ms ease all;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li.hover > a {
  padding-left: 36px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li ul li > a {
  padding-left: 68px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li .active > a {
  padding-left: 54px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li > a {
  padding-left: 74px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li:not(.active):hover > a {
  padding-left: 78px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover > a {
  padding-left: 72px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover.active > a {
  padding-left: 54px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: "\f112";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top: 11px;
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}

#MPE-nav.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  right: 34px;
}

#MPE-nav.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  transform: translate3d(280px, 0, 0);
  transition: width .25s, opacity .25s, transform .25s;
}

#MPE-nav.vertical-overlay-menu.menu-flipped .main-menu {
  right: -280px;
  left: inherit;
}

#MPE-nav.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 280px;
}

#MPE-nav.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: right;
}

#MPE-nav.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  transform: translate3d(-280px, 0, 0);
}

#MPE-nav.vertical-overlay-menu footer.footer.fixed-bottom {
  z-index: 999;
}

#MPE-nav.vertical-overlay-menu.boxed-layout {
  position: relative;
}

#MPE-nav.vertical-overlay-menu.boxed-layout .main-menu.menu-fixed {
  position: absolute;
}

@media (max-width: 768px) {
  #MPE-nav.vertical-overlay-menu .header-navbar .navbar-header .mobile-menu a.menu-toggle {
    padding-top: 1rem;
  }

  #MPE-nav.vertical-overlay-menu .header-navbar .navbar-header li.nav-item.d-md-none a.open-navbar-container {
    padding-top: 1rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}