<div>
  <label>{{"clauseTexteFixe.txt.texteFixe" | translate}}</label><span class="redStar">*</span>
  <quill-editor [disabled]="disabled"
                [style]="{'color': defaultTextColor}"
                placeholder="À completer"
                [modules]="disabled?quillConfigReadOnly:quillConfig"
                [(ngModel)]="clause.clauseTexteFixe.texteFixe"
  >

  </quill-editor>
  <p *ngIf="submitted && !clause.clauseTexteFixe.texteFixe"
     >
    <small class="badge badge-danger">{{"clauseTexteFixe.txt.obligatoire" | translate}}</small>
  </p>
</div>
