.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="10px"]::before {
  content: '10px'!important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="16px"]::before {
  content: '16px' !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="22px"]::before {
  content: '22px'!important;
}

.redStar {
  color: red;
  font-size: 18px;
  font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
}
label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
