<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <style>
        /* Body default value for font-family */
        body {
            font-family: Arial, serif;
        }

        /* Title for pdf file */
        .title-pdf {
            margin-bottom:12px;
            color: #ffffff;
            background-color: #0078ff;
            border-color: #0078ff;
            padding:10px 50px;
            width: 100%;
            text-align:center;
        }

        /* Table with file informations */
        .file-table {
            width: 100%;
            border-collapse:collapse;
            margin-bottom: 12px;
        }

        .file-td-title {
            border: 1px solid #b7b7b7;
            width: 30%;
            padding: 7px;
            background-color: #eaeaea;
            color: #31708f;
        }

        .file-td-content {
            border: 1px solid #b7b7b7;
            width: 70%;
            padding: 7px;
        }

        /* bloc signature */
        .info-border {
            border:1px solid #ddd;
            border-radius: 4px;
            padding: 0px 15px;
        }

        .info-title {
            margin: 10px;
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 7px;
        }

        /* table design in bloc signature */
        .table-info {
            margin-bottom: 10px;
            background-color: #fff;
            border: 1px solid #0078ff;
            border-radius: 4px;
        }

        .table-title {
            color: #ffffff;
            background-color: #0078ff;
            border-color: #0078ff;
            padding: 10px 15px;
        }

        /* Other */
        .padding-10-15 {
            padding: 10px 15px 0 15px;
        }

        .margin-top-0 {
            margin-top: 0;
        }

        .margin-left-10 {
            margin-left: 10px;
        }

        .flex {
            display: flex;
        }

        .width-100-percentage {
            width: 100%;
        }

        .width-50-percentage {
            width: 50%;
        }

        .float-right {
            float: right;
        }

        .font-size-11 {
            font-size: 11px;
        }

        /* Saut de page */
        .break-before {
            page-break-before: always;
        }
    </style>
    <title>{{ 'RAPPORT_VERIFICATION_SIGNATURE'|trans }}</title>
</head>
<body>
{% if certificates is not null and certificates != false  %}
    <table class="title-pdf">
        <caption></caption>
        <th></th>
        <tr>
            <td><strong>{{ 'RAPPORT_VERIFICATION_SIGNATURE'|trans }}</strong></td>
        </tr>
    </table>
    <table class="file-table font-size-11">
        <caption></caption>
        <th></th>
        <tr>
            <td class="file-td-title">{{ 'TEXT_NOM_FICHIER_PRINCIPAL'|trans }}</td>
            <td class="file-td-content">{{ certificates.0.fileName }}</td>
        </tr>
        <tr>
            <td class="file-td-title">{{ 'TEXT_NOM_FICHIER_SIGNATURE'|trans }}</td>
            <td class="file-td-content">{{ certificates.0.jetonName }}</td>
        </tr>
    </table>
    {% for key, certificate in certificates %}
        {% if key > 0 %}
        <div class="info-border break-before">
        {% else %}
        <div class="info-border">
        {% endif %}

        <div class="info-title">
            {{ 'DEFINE_TEXT_SIGNATURE'|trans }} {{ key + 1 }}
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'DEFINE_TEXT_SIGNATURE'|trans }}
                </div>
                <div class="padding-10-15">
                    <p class="margin-top-0"></p>
                    {% for info in certificate.certificateFor %}
                    <p>{{ info }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'EMETTEUR_SIGNATURE'|trans }}
                </div>
                <div class="padding-10-15">
                    <p class="margin-top-0"></p>
                    {% for info in certificate.certificateBy %}
                        <p>{{ info }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'DATE_VALIDITE_CERTIFICAT'|trans }}
                </div>
                <div class="padding-10-15">
                    <p class="margin-top-0">{{ 'TEXT_A_PARTIR_DU'|trans }} : {{ certificate.validFrom | date('d/m/Y h:i')}}</p>
                    <p>{{ 'TEXT_JUSQU_AU'|trans }} : {{ certificate.validTo | date('d/m/Y h:i')}}</p>
                </div>
            </div>
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'DEFINE_CONTROLE_VALIDITATION_CERTIF'|trans }}
                </div>
                <div class="padding-10-15">
                    <p class="margin-top-0">{{ 'DEFINE_CONTROLE_REALISES_LE'|trans }} {{ "now" | date('d/m/Y h:i') }}</p>
                    <p>{{ 'PERIODE_VALIDITE'|trans }} : <img alt="Période de validité" src="{% if certificate.isPeriodValid == true %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }} {% else %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }} {% endif %}"/></p>
                    <p>{{ 'DEFINE_NON_REVOCATION'|trans }} : <img alt="Non révocation" src="{% if certificate.isRevocation == false %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }} {% else %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }} {% endif %}"/></p>
                    <p>{{ 'CHAINE_CERTIFICATION'|trans }} : <img alt="Chaîne de certification" src="{% if certificate.isChainValid == true %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }} {% else %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }} {% endif %}"/></p>
                    <p> - {{ certificate.certificateReference }}</p>
                </div>
            </div>
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'DEFINE_INTERGRITE_FICHIER_SIGNE'|trans }}
                </div>
                <div class="padding-10-15">
                    <p class="margin-top-0">{{ 'DEFINE_CONTROLE_REALISES_LE'|trans }} {{ "now" | date('d/m/Y h:i') }}</p>
                    <p>{{ 'DEFINE_NON_REPUDIATION'|trans }} / {{ 'TEXT_INTEGRITE'|trans }} : <img alt="Non répudiation / Intégrité" src="{% if certificate.isRepudiation == true %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-ok-small.gif') }} {% else %} {{ url_mpe_reference ~ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }} {% endif %}"/></p>
                </div>
            </div>
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'DEFINE_RESULAT_CONTROLE_SIFNATURE'|trans }}
                </div>
                {% set nbCertificateKo = 0 %}
                {% if certificate.isValidCertificate == false %}
                        {% set nbCertificateKo = nbCertificateKo + 1 %}
                {% endif %}

                <div class="padding-10-15">
                    <p class="margin-top-0">
                        {% if nbCertificateKo == 0 %}
                            {{ 'DEFINE_FICHIER_SIGNE_SIGNATURE_VALIDE'|trans }}
                        {% else %}
                            {{ 'DEFINE_FICHIER_SIGNATURE_INVALIDE'|trans }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="width-100-percentage font-size-11">
            <div class="table-info">
                <div class="table-title">
                    {{ 'INFOROMATIONS_COMPLEMANTAIRES_SIGNATURE' | trans }}
                </div>
                <div class="padding-10-15">
                    <p class="margin-top-0">{{ 'CERTIFICAT_SIGNATURE' | trans }} : {% if certificate.eidas == 1 %} {{ 'CERTIFICAT_SIGNATURE_QUALIFIE' | trans }} {{ 'CERTIFICAT_SIGNATURE_QUALIFIE_INFO_BULLE' | trans }} {% else %} {{ 'CERTIFICAT_SIGNATURE_NON_QUALIFIE' | trans }} {% endif %}</p>
                    <p class="margin-top-0">{{ 'FORMAT_SIGNATURE' | trans }} : {{ certificate.certificateFormat }}</p>
                    <p class="margin-top-0">{{ 'DATE_INDICATIVE' | trans }} : {{ certificate.dateSignature | date('d/m/Y h:i:s') }}</p>
                    <p class="margin-top-0">{{ 'JETON_SIGNATURE_HORODATE' | trans }} : {% if certificate.isTimestamp == true %}Oui ({{ certificate.timestamp | date('d/m/Y h:i:s') }}) {% else %} Non{% endif %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    <footer>
        <p class="float-right font-size-11">{{ 'DOCUMENT_EDITE_LE'|trans }} {{ "now" | date('d/m/Y h:i:s') }}</p>
    </footer>
{% endif %}
</body>
</html>