<com:TContent ID="CONTENU_PAGE">
	<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs">
			<a href="#"><com:TTranslate>DEFINE_ADMINISTRATION</com:TTranslate></a>&gt; <com:TTranslate>DEFINE_GERER_COMMISSIONS</com:TTranslate>&gt;
			<com:TTranslate visible="<%=(isset($_GET['id']) ? true:false)%>">DEFINE_MODIFIER_COMMISSION</com:TTranslate>
			<com:TTranslate visible="<%=(!isset($_GET['id']) ? true:false)%>">DEFINE_CREER_COMMISSION</com:TTranslate>				
		</div>
		<!--Debut Bloc affichage messages d'erreur--> 
		<com:AtexoValidationSummary  ValidationGroup="infosCommission" /> 
		<!--Fin Bloc affichage messages d'erreur-->
		<!--Debut Bloc Identification-->
		<div class="form-field margin-0">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>DEFINE_IDENTIFICATION_COMMISSION</com:TTranslate></span></div>
			<div class="content">
                <div class="float-right margin-fix">
                    <com:TTranslate>DEFINE_SYMBOLE</com:TTranslate> <span class="champ-oblig">*</span> <com:TTranslate>TEXT_INDIQUE_CHAMPS_OBLIGATOIRES</com:TTranslate></div>                
                    <div class="spacer-small">
                </div>
				<!--Debut Ligne Sigle de la Commission-->
                <div class="line">
                    <div class="intitule-150">
                        <label for="sigleCommission"><com:TTranslate>DEFINE_SIGLE</com:TTranslate> <span class="champ-oblig">*</span></label> :
                    </div>
                    
                    <com:TTextBox id="sigleCommission" cssClass="input-40" Attributes.title="<%=prado::localize(DEFINE_SIGLE)%>" />
                    <!--
                    <com:TCustomValidator
        				ControlToValidate="sigleCommission"
        				ValidationGroup="infosCommission" 
        				Display="Dynamic"
        				ClientValidationFunction="validerSigleCommission"
        				ErrorMessage="<%=prado::localize('DEFINE_SIGLE')%>"
    					EnableClientScript="true"  						 					 
    					Text="<span title='<%=prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>"
    				>   
    					<prop:ClientSide.OnValidationError>
               				 document.getElementById('divValidationSummary').style.display='';
             			</prop:ClientSide.OnValidationError>
             		</com:TCustomValidator>
             		-->
                </div>
				<!--Fin Ligne Sigle de la Commission-->
				<!--Debut Ligne Intitule de la Commission-->
                <div class="line">
                    <div class="intitule-150">
                        <label for="intituleCommission"><com:TTranslate>DEFINE_INTITULE</com:TTranslate> <span class="champ-oblig">*</span></label> :
                    </div>
                    <com:TTextBox id="intituleCommission" cssClass="long" Attributes.title="<%=prado::localize(DEFINE_INTITULE)%>" />
                    <!--
                    <com:TCustomValidator
        				ControlToValidate="intituleCommission"
        				ValidationGroup="infosCommission" 
        				Display="Dynamic"
        				ClientValidationFunction="validerIntituleCommission"
        				ErrorMessage="<%=prado::localize('DEFINE_INTITULE')%>"
    					EnableClientScript="true"  						 					 
    					Text="<span title='<%=prado::localize('CHAMPS_OBLIGATOIRE')%>' class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='<%=prado::localize('CHAMPS_OBLIGATOIRE')%>' /></span>"
    				>   
    					<prop:ClientSide.OnValidationError>
               				 document.getElementById('divValidationSummary').style.display='';
             			</prop:ClientSide.OnValidationError>
             		</com:TCustomValidator>
             		-->
                </div>
				<!--Fin Ligne Lieu de la Commission-->
                <div class="spacer-small"></div>
                <div class="breaker"></div>
            </div>
            <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
        </div>
        <div class="spacer-mini"></div>		
        <!--Fin Bloc Identification-->
        
        <div class="spacer-mini"></div>		
		<!--Debut Bloc Selection Membres-->
		<com:TPanel visible="<%=(isset($_GET['creation']) ?false:true)%>">
			<div class="form-field margin-0" >
				<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>DEFINE_LISTE_MEMBRES</com:TTranslate></span></div>
				<div class="content">
	            	<div class="spacer-small"></div>
	                <div class="form-field margin-0">
	                    <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>DEFINE_AGENTS_ELUS_SELECTIONNES</com:TTranslate></span></div>
	                    <div class="content">
	                        <!--Debut Tableau agent-->
	                        <com:TActivePanel id="panelTableauListeAgents">
	                           	<com:CAOListeAgent id="listeAgents" typeAgent="1" typeRecherche="3" pictoTypeCompte="true" listeTypeVoix="true" serviceIntervenant="true" typeCompte="true" actionSupprimer="true"/>
	                       	 </com:TActivePanel>
	                        <!--Fin Tableau agent-->
	                        <div class="spacer-small"></div>
	                        <!--Debut Ajout Agent-->
	                        <div class="line">                        	
	        					<div class="intitule-120"><label for="addAgent"><com:TTranslate>AJOUTER_AGENT</com:TTranslate></label> :</div>
								<com:TJuiAutoComplete
								    ID="addAgent"
								    OnSuggest="suggestAgent"
								    Suggestions.DataKeyField="id"
								    ResultPanel.CssClass="acomplete"
								    cssClass="long-550"
								    MinChars="3"
								    OnSuggestionSelected="selectAgent"
								    Attributes.title="<%=prado::localize('AJOUTER_AGENT')%>"
								    >
								    <prop:Suggestions.ItemTemplate>
								    	<li><%#$this->Data['text']%></li>
								    </prop:Suggestions.ItemTemplate>
								</com:TJuiAutoComplete>
	                        	<com:TActiveLinkButton 
									visible="True"
									CssClass=""
									OnCommand="Page.addAgentToCommission"
									OnCallBack="Page.addAgentToCommissionCallback"							
									>
									<com:TImageButton
										ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-ajout-element.gif"
										AlternateText="<%=prado::localize('AJOUTER_AGENT')%>"
										Attributes.title="<%=prado::localize('AJOUTER_AGENT')%>"
										/>
								</com:TActiveLinkButton>
	                        </div>
	                        <!--Fin Ajout Agent-->
	                        <div class="breaker"></div>
	                    </div>
	                    <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	                </div>
	                <div class="spacer"></div>
	                <div class="form-field margin-0">
	                    <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span><span class="title"><com:TTranslate>DEFINE_INTERVENANTS_EXTERNES_SELECTIONNES</com:TTranslate></span></div>
	                    <div class="content">
	                        <!--Debut Tableau intervenant-->
	                        <com:TActivePanel id="panelTableauListeIntervenants">
	                        	<com:CAOListeIntervenant id="listeIntervenants" typeRecherche="1" typeIntervenant="1" typeVoixCommission="true" isIntervenant="true" organisation="true" fonction="true"  listeTypeVoix="true" actionSupprimer="true"/>
	                       </com:TActivePanel>
	                        <!--Fin Tableau intervenant-->
	                        <div class="spacer-small"></div>
	                        <!--Debut Ajout Intervenant Externe-->
	                         <div class="line">
	        					<div class="intitule-120"><label for="addIntExterne"><com:TTranslate>AJOUTER_INTERVENANT_EXTERNE</com:TTranslate></label> :</div>
								<com:TJuiAutoComplete
								    ID="addIntExterne"
								    OnSuggest="suggestIntExterne"
								    Suggestions.DataKeyField="id"
								    ResultPanel.CssClass="acomplete"
								    cssClass="long-550"
								    MinChars="3"
								    OnSuggestionSelected="selectIntExterne"
								    Attributes.title="<%=prado::localize('AJOUTER_INTERVENANT_EXTERNE')%>"
								    >
								    <prop:Suggestions.ItemTemplate>
								    	<li><%#$this->Data['text']%></li>									
								    </prop:Suggestions.ItemTemplate>
								</com:TJuiAutoComplete>
	                        	<com:TActiveLinkButton 
									visible="True"
									CssClass=""
									OnCallBack="Page.addIntervenantExterneToCommissionCallback" 
									OnCommand="Page.addIntervenantExterneToCommission"							
									>
									<com:TImageButton
										ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-ajout-element.gif"
										AlternateText="<%=prado::localize('AJOUTER_INTERVENANT_EXTERNE')%>"
										Attributes.title="<%=prado::localize('AJOUTER_INTERVENANT_EXTERNE')%>"
										/>
								</com:TActiveLinkButton>             
	                        </div>
	                        <!--Fin Ajout Intervenant Externe-->
	                        <div class="breaker"></div>
	                    </div>
	                    <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	                </div>
	                <div class="breaker"></div>
	            </div>
	            <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	        </div>
	        <div class="spacer-mini"></div>
        </com:TPanel>
        <!--Fin Bloc Selection-->
        <div class="boutons-line">
            <com:TButton cssClass="bouton-moyen float-left" Text="<%=prado::localize('DEFINE_ANNULER')%>" Attributes.title="<%=prado::localize('DEFINE_ANNULER')%>" onclick="goToPageListeCommissions" />
            <com:TButton 
	            cssClass="bouton-moyen float-right" 
	            ValidationGroup="infosCommission" 
	            Text="<%=(isset($_GET['id']))? prado::localize('TEXT_ENREGISTER'):prado::localize('DEFINE_TEXT_CREER')%>"
	            Attributes.title="<%=(isset($_GET['id']))? prado::localize('TEXT_ENREGISTER'):prado::localize('DEFINE_TEXT_CREER')%>"
	            onclick="save" 
            />
        </div>
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>