<com:TContent ID="CONTENU_PAGE">
	<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs"><a href="#"><com:TTranslate>DEFINE_GESTION_SEANCES</com:TTranslate></a>&gt; <com:TTranslate>DEFINE_GESTION_DOCUMENTS_SEANCE</com:TTranslate></div>
		<com:PanelMessageErreur  id="messageErreur"/>
		<!--Debut Bloc Recap Seance-->
        <com:CAOSeanceSummary id="seanceSummary" />
        <!--Fin Bloc Recap Consultation-->

        <div class="spacer-mini"></div>		
		<!--Debut Bloc Selection-->
		<div class="form-field margin-0">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
            	<div class="spacer-small"></div>
                <div class="line">
                    <com:TLinkButton Attributes.title="<%=prado::localize('DEFINE_TELECHARGER_ORDRE_DU_JOUR_SEANCE')%>" cssClass="telecharger-el" OnCommand ="telechargerOrdreDuJour"><com:TTranslate>DEFINE_TELECHARGER_ORDRE_DU_JOUR_SEANCE</com:TTranslate></com:TLinkButton>                
                </div>
                <div class="line">
                    <com:TLinkButton Attributes.title="<%=prado::localize('DEFINE_TELECHARGER_ENSEMBLE_CONVOCATION')%>" cssClass="telecharger-el" OnCommand ="telechargerConvocations"><com:TTranslate>DEFINE_TELECHARGER_ENSEMBLE_CONVOCATION</com:TTranslate></com:TLinkButton>               
                </div>
                <div class="line">
                    <com:THyperLink 
	                    Attributes.title="<%=prado::localize('DEFINE_ENVOYER_CONVOCATION')%>" 
	                    cssclass="envoyer-el" 
	                    NavigateUrl="?page=Commission.EnvoiCourrierConvocationCommission&id=<%=$_GET['id']%>"
	                ><com:TTranslate>DEFINE_ENVOYER_CONVOCATION</com:TTranslate>
                    </com:THyperLink> 
                </div>
                <div class="line">
                    <com:TLinkButton Attributes.title="<%=prado::localize('DEFINE_TELECHARGER_PV')%>" cssClass="telecharger-el" OnCommand ="telechargerPvCao"><com:TTranslate>DEFINE_TELECHARGER_PV</com:TTranslate></com:TLinkButton>               
                </div>
                <div class="line" style="display:none;">
                    <com:TImageButton id="entetePvCommission" ImageUrl="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/entetePvCommission.gif"></com:TImageButton>
                </div>
                <div class="breaker"></div>
            </div>
            <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
        </div>
        <div class="spacer-mini"></div>
        <!--Fin Bloc Selection-->
        <!--Debut Bloc Liste Echanges-->
        <div class="form-field">
            <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            <div class="content">
                <h2><com:TTranslate>DEFINE_LISTE_COURRIERS_ENVOYES</com:TTranslate></h2>
                <com:TPanel ID="panelNoElementFound">
					<h2><com:TTranslate>DEFINE_AUCUN_RESULTAT</com:TTranslate>&nbsp;</h2>
				</com:TPanel>	
				<com:TPanel ID="panelMoreThanOneElementFound">
				<div class="line-partitioner">
					<h2><com:TTranslate>DEFINE_NOMBRE_RESULTAT</com:TTranslate>&nbsp;<com:TLabel ID="nombreElement"/></h2>
				
					<div class="partitioner">
						<div class="intitule"><strong><label for="allCons_nbResultsTop"><com:TTranslate>DEFINE_TEXT_AFFICHER</com:TTranslate></label></strong></div> 
						<com:TDropDownList ID="nombreResultatAfficherTop" AutoPostBack="true" onSelectedIndexChanged="changePagerLenght" Attributes.title='<%=Prado::localize("NOMBRE_DE_RESULTAT_PAR_PAGE")%>'>
				  			<com:TListItem Text="10" Selected="10"/>
				  			<com:TListItem Text="20" Value="20"/>
				  			<com:TListItem Text="50" Value="50" />
				  			<com:TListItem Text="100" Value="100" />
				  			<com:TListItem Text="500" Value="500" />
				  		</com:TDropDownList>
						<div class="intitule"><com:TTranslate>DEFINE_RESULTATS_PAGE</com:TTranslate></div> 
							<label style="display:none;" for="allCons_pageNumberTop">Aller e la page</label>
							<com:TPanel ID="panelBouttonGotoPageTop" DefaultButton="DefaultButtonTop" CssClass="float-left">
								<com:TTextBox ID="numPageTop" Attributes.title='<%=Prado::localize("N_DE_LA_PAGE")%>' Text="1"/>
								<div class="nb-total ">/ <com:TLabel ID="nombrePageTop"/></div>
								<com:TButton ID="DefaultButtonTop"  OnClick="goToPage" Attributes.style="display:none"/>
							</com:TPanel>
						<div class="liens">
							<com:TPager ID="PagerTop"
				           			ControlToPaginate="tableauMessage"
					           		FirstPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-premier.gif' alt='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' />"
						            LastPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-dernier.gif' alt='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' />"
					     	        Mode="NextPrev"
					          		NextPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-suivant.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' />"
						            PrevPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-precedent.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' />"
				   	                OnPageIndexChanged="pageChanged"/>
						</div>
					</div>
				</div>
				<!--Debut Tableau intervenant-->
                <div class="spacer-5"></div>
                <table class="table-results" >
                    <com:TRepeater ID="tableauMessage"
					    AllowPaging="true"
					    PageSize="10"
					    EnableViewState="true"
					    AllowCustomPaging="true">
	      			   
					<prop:HeaderTemplate>
                    <thead>
                        <tr>
                           <th colspan="6" class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></th>
                        </tr>
                        <tr>
                            <th id="header_expediteur" class="col-170"><a class="gwt-Anchor" href="javascript:void(0);"><com:TTranslate>DEFINE_TEXT_DE</com:TTranslate> <img title="Trier" alt="Trier" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri.gif" /></a></th>
                            <th id="header_destinataire" class="col-170"><a class="gwt-Anchor" href="javascript:void(0);"><com:TTranslate>DEFINE_TEXT_A</com:TTranslate> <img title="Trier" alt="Trier" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri.gif" /></a></th>
                            <th id="header_objet" class="col-170"><a class="gwt-Anchor" href="javascript:void(0);"><com:TTranslate>TEXT_OBJET</com:TTranslate> <img title="Trier" alt="Trier" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri.gif" /></a></th>
                            <th id="header_dateEnvoi" class="col-120"><a class="gwt-Anchor" href="javascript:void(0);"><com:TTranslate>TEXT_DATE_ENVOI</com:TTranslate> <img title="Trier" alt="Trier" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri.gif" /></a></th>
                            <th id="header_dateAR" class="col-120"><a class="gwt-Anchor" href="javascript:void(0);"><com:TTranslate>DEFINE_TEXT_ACCUSE_RECEPTION</com:TTranslate> <img title="Trier" alt="Trier" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/arrow-tri.gif" /></a></th>
                            <th id="allCom_actions" class="actions-inline col-30"><com:TTranslate>DEFINE_ACTIONS</com:TTranslate></th>
    					</tr>
                    </thead>
                    </prop:HeaderTemplate>
			        <tbody>
			        <prop:ItemTemplate>
                        <tr class="<%#(($this->ItemIndex%2==0)? '':'on')%>">
                            <td headers="header_expediteur" class="col-170"><%#$this->Data['EXPEDITEUR']%></td>
                            <td headers="header_destinataire" class="col-170"><%#$this->Data['MAIL_DESTINATAIRE']%></td>
                            <td headers="header_objet" class="col-170"><%#$this->Data['OBJET']%></td>
                            <td headers="header_dateEnvoi" class="col-120"><%#Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data['DATE_MESSAGE'])%></td>
                            <td headers="header_dateAR" class="col-120"><%#(Application\Service\Atexo\Atexo_Util::iso2frnDateTime($this->Data['DATE_AR']))? Atexo_Util::iso2frnDateTime($this->Data['DATE_AR']):'<center>-</center>'%></td>
                            <td headers="allCom_actions" class="actions-inline col-30">
                                <!-- Debut Liens Type Consultation -->
                                <div>
                                    <com:TLinkButton 
                                    OnCommand ="Page.telechargerDocsDestinataire" 
                                    CommandParameter="<%#$this->Data['ID_ECHANGE']%>"
                                    cssClass="telecharger-el"
                                    Attributes.title="<%=prado::localize(DEFINE_TELECHARGER_DOCUMENTS_ENVOYES)%>" 
                                    Attributes.alt="<%=prado::localize(DEFINE_TELECHARGER_DOCUMENTS_ENVOYES)%>"
                                    >
                                    </com:TLinkButton>
                                </div>
                            </td>
                        </tr>
					</prop:ItemTemplate>
			     </tbody>
			     </com:TRepeater>
                </table>
                <div class="spacer-5"></div>
                  <!--Fin Tableau intervenant-->
  
				<div class="line-partitioner" >
					<div class="partitioner" >
						<div class="intitule"><strong><label for="allCons_nbResultsTop"><com:TTranslate>DEFINE_TEXT_AFFICHER</com:TTranslate></label></strong></div> 
						<com:TDropDownList ID="nombreResultatAfficherBottom" AutoPostBack="true" onSelectedIndexChanged="changePagerLenght" Attributes.title='<%=Prado::localize("NOMBRE_DE_RESULTAT_PAR_PAGE")%>'>
				  			<com:TListItem Text="10" Selected="10"/>
				  			<com:TListItem Text="20" Value="20"/>
				  			<com:TListItem Text="50" Value="50" />
				  			<com:TListItem Text="100" Value="100" />
				  			<com:TListItem Text="500" Value="500" />
				  		</com:TDropDownList>
						<div class="intitule"><com:TTranslate>DEFINE_RESULTATS_PAGE</com:TTranslate></div> 
						<label style="display:none;" for="allCons_pageNumberBottom">Aller e la page</label>
						
						<com:TPanel ID="panelBouttonGotoPageBottom" DefaultButton="DefaultButtonBottom" CssClass="float-left">
							<com:TTextBox ID="numPageBottom" Attributes.title='<%=Prado::localize("N_DE_LA_PAGE")%>' Text="1"/>
							<div class="nb-total ">/ <com:TLabel ID="nombrePageBottom"/></div>
							<com:TButton ID="DefaultButtonBottom"  OnClick="goToPage" Attributes.style="display:none"/>
						</com:TPanel>
						
						<div class="liens" >
							<com:TPager ID="PagerBottom"
				           			ControlToPaginate="tableauMessage"
					           		FirstPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-premier.gif' alt='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_PREMIERE_PAGE')%>' />"
						            LastPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-dernier.gif' alt='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' title='<%=Prado::localize('ALLER_A_LA_DERNIERE_PAGE')%>' />"
					     	        Mode="NextPrev"
					          		NextPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-suivant.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_SUIVANTE')%>' />"
						            PrevPageText="<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/fleche-precedent.gif' alt='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' title='<%=Prado::localize('ALLER_A_LA_PAGE_PRECEDENTE')%>' />"
				   	                OnPageIndexChanged="pageChanged"/>
											
						</div>
					</div>
				</div>
				<!--Fin partitionneur-->
				</com:TPanel>
                <div class="breaker"></div>
            </div>
            <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
        </div>
        <div class="link-line">
			<a href="?page=Commission.SuiviSeance"
    			class="bouton-retour" 
    			title="<%=prado::localize('TEXT_RETOUR')%>">
				<com:TTranslate>TEXT_RETOUR</com:TTranslate>
			</a>
        </div>
        <!--Fin Bloc Liste Echanges-->
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>