<com:TContent ID="CONTENU_PAGE">
<div class="popup-moyen" id="container">
	<h1>Selectionner les intervenants externes de la CAO</h1>
	<div class="form-field">
		<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	    <div class="content">
			<div class="spacer-small"></div>
                <!--Debut Tableau Intervenant-->
                <com:ListeIntervenant id="listeIntervenant" checkbox="true" typeRecherche="1" isIntervenant="true" organisation="true" fonction="true" listeTypeVoix="true" actions="false"/>
                <!--Fin Tableau Intervenant-->
		</div>
		<div class="breaker"></div>
		<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
	</div>
	<!--Debut line boutons-->
	<div class="boutons-line">
		<input type="button" class="bouton-moyen float-left" value="<%=prado::localize('TEXT_ANNULER')%>" title="<%=prado::localize('TEXT_ANNULER')%>" onclick="window.close();" />
		<com:TButton cssclass="bouton-moyen float-right" text="<%=prado::localize('TEXT_VALIDER')%>" Attributes.title="<%=prado::localize('TEXT_VALIDER')%>"  onclick="valider"/>
	</div>
	<!--Fin line boutons-->
</div>
<script type="text/javascript">popupResize();</script>
</com:TContent>