<section>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <atx-breadcrumb class="col-12" [breadcrumb]="pageDescription" [export]="true" [loadingExport]="loadingExport"
                  (onClickExport)="export()"></atx-breadcrumb>
  <atx-filtre-facturation [filtre]="filtre" [statuts]="statuts"
                          (onChangeFilter)="rechercher($event,pageable )"></atx-filtre-facturation>

  <div class="row">
    <div class="col-xl-4 col-12">
      <atx-statistique-recherche [total]="total"
                                 [showDetails]="showDetails"
                                 (onChangeExpanded)="showDetails=$event">

      </atx-statistique-recherche>
    </div>
    <div class="col-xl-8 col-12">
      <atx-pagination [pageable]="pageable" [total]="total" [sortFieldsList]="sortFieldsList"
                      (onChangePagination)="rechercher(filtre,$event)">

      </atx-pagination>
    </div>
  </div>
  <atx-type-avis-details *ngFor="let typeAvisAnnonce of typeAvisPubs" [model]="typeAvisAnnonce"
                         [typeValidation]="typeValidation"
                         [statuts]="statuts"
                         [showDetails]="expandedMap.get(typeAvisAnnonce.id)"
                         (onExpandTypeAvisAnnonce)="expandedMap.set(typeAvisAnnonce.id,!expandedMap.get(typeAvisAnnonce.id) )"
                         (onRefreshTypeAvisAnnonce)="pageable.page=0;rechercher(filtre,pageable);updateTypeAvisAnnonce.emit(typeAvisAnnonce)"
                         (updateTypeAvisAnnonce)="rechercher(filtre,pageable);updateTypeAvisAnnonce.emit($event)"
  ></atx-type-avis-details>
</section>

