.p-l-2 {
  padding-left: 18px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
  border-color: #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
  border-color: #a94442; /* red */
}


.preciser {
  position: relative;
  margin-left: 20px;
  margin-top: 0;
  padding-bottom: 0;
}
.preciser:before {
  content: "";
  display: block;
  border-top: solid 1px #d1d1d1;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.preciser  span{
  background: #fff;
  right: 37%;
  padding: 0 8px;
  position: relative;
  z-index: 5;
}

.border {
  border: 1px solid #d1d1d1;
  border-top: none;
  padding: 10px 14px 10px 0;
  margin-top: -19px;
  margin-left: 20px;
}

