<div class="center" [class.preciser]="precisez_enabled">
  <div *ngIf="precisez_enabled === true"><strong>Précisez :</strong></div>
  <br/>
</div>
<div [class.border]="precisez_enabled">
    <div class="p-l-2">
        <div class="form-group form-group-sm" *ngFor="let req of requirementGroup.requirementList;index as i"
             [ngSwitch]="req.responseType==='INFOS' || req.responseType==='INFO_TITLE'">
            <div class="clearfix" *ngIf="req.responseDTO">
                <ng-container *ngSwitchCase="true">
                    <div *ngIf="req.responseType==='INFOS'" class="alert alert-info m-t-1" role="alert">
                        {{req.description}}
                    </div>
                    <div *ngIf="req.responseType==='INFO_TITLE'">
                        {{req.description}}
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="false">
                    <div [class.row]="req.responseType === 'INDICATOR'">
                        <label class="pull-left" [class.col-md-7]="req.responseType === 'INDICATOR'" [attr.for]="req.id + '_' + mainIndex">
                            {{req.description}}
                        </label>

                        <!--RADIO BUTTON-->
                        <ng-container *ngIf="req.responseType === 'INDICATOR'">
                            <div class="col-md-5 pull-right">
                                <label class="radio-inline">
                                    <input type="radio" name="{{req.id}}_{{mainIndex}}" [attr.name]="req.id + '_' + mainIndex"
                                           [(ngModel)]="valeur.responseDTO.indicator" [value]="true">Oui
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="{{req.id}}_{{mainIndex}}" [attr.name]="req.id + '_' + mainIndex"
                                           [(ngModel)]="valeur.responseDTO.indicator" [value]="false">Non
                                </label>
                            </div>
                        </ng-container>
                        <!--RADIO BUTTON-->
                    </div>

                    <ng-container *ngIf="req.responseType === 'DATE'">
                        <input [(ngModel)]="req.responseDTO.date" name="{{req.id}}_{{mainIndex}}" class="form-control"
                               [ngModelOptions]="{updateOn: 'blur'}"
                               type="text" placeholder="jj/mm/aaaa" date>
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'DESCRIPTION'">
        <textarea [(ngModel)]="req.responseDTO.description" name="{{req.id}}_{{mainIndex}}"
                  class="form-control"></textarea>
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'PERIOD'">
                      <input [(ngModel)]="req.responseDTO.description" name="{{req.id}}_{{mainIndex}}"
                             class="form-control"
                             type="text">
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'EVIDENCE_URL'">
                        <input [(ngModel)]="req.responseDTO.evidenceUrl" name="{{req.id}}_{{mainIndex}}"
                               class="form-control"
                               type="url">

                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'CODE'">
                        <input class="form-control" name="{{req.id}}_{{mainIndex}}" type="text"
                               [(ngModel)]="req.responseDTO.code">
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'CODE_COUNTRY'">
                        <select class="form-control" [(ngModel)]="req.responseDTO.code"
                                name="{{req.id}}_{{mainIndex}}">
                            <option *ngFor="let pay of pays" [value]="pay.code">
                                {{pay.label}}
                            </option>
                        </select>
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'AMOUNT'">
                        <div class="clearfix">
                            <div class="form-group form-group-sm clearfix">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-7 p-0">
                                            <input class="form-control" type="text" [(ngModel)]="req.responseDTO.amount"
                                                   name="{{req.id}}_{{mainIndex}}" [pattern]="'[0-9]*(\\.[0-9][0-9]?)?'"
                                                   dumeNumberFormat="money">
                                        </div>
                                        <div class="col-md-5 p-0">
                                            <select class="form-control form-control-sm" name="sel_{{req.id}}_{{mainIndex}}"
                                                    [(ngModel)]="req.responseDTO.code">
                                                <option *ngFor="let cur of currency" [value]="cur.code">
                                                    {{cur.code}} - {{cur.label}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'QUANTITY_INTEGER'">
                        <input class="form-control input-sm" type="text" [(ngModel)]="req.responseDTO.quantity"
                               name="{{req.id}}_{{mainIndex}}" [pattern]="'[0-9]*'" dumeNumberFormat="integer">
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'QUANTITY_YEAR'">
                        <input class="form-control input-sm" type="text" [(ngModel)]="req.responseDTO.quantity"
                               name="{{req.id}}_{{mainIndex}}" maxlength="4" [pattern]="'[0-9]*'"
                               dumeNumberFormat="year">
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'QUANTITY'">
                        <input class="form-control input-sm" type="text" [(ngModel)]="req.responseDTO.quantity"
                               name="{{req.id}}_{{mainIndex}}" [pattern]="'[0-9]*(\\.[0-9][0-9]?)?'"
                               dumeNumberFormat="money">
                    </ng-container>
                    <ng-container *ngIf="req.responseType === 'PERCENTAGE'">
                        <input class="form-control input-sm" type="text" [(ngModel)]="req.responseDTO.percent"
                               name="{{req.id}}_{{mainIndex}}" [pattern]="'(100|[1-9]?[0-9]?(\\.[0-9][0-9]?)?)'"
                               dumeNumberFormat="percent">
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

    <ng-container [ngSwitch]="viewGroup === undefined">
        <ng-container *ngSwitchCase="true">
          <dume-requirement-group *ngFor="let reqG of requirementGroup.subGroups" [requirementGroup]="reqG"
                                  [mainIndex]="mainIndex"></dume-requirement-group>
        </ng-container>
        <ng-container *ngSwitchCase="false">
            <ng-container [ngSwitch]="valeur.responseDTO.indicator === viewGroup">
                <ng-container *ngSwitchCase="true">
                  <dume-requirement-group *ngFor="let reqG of subGroup2" [requirementGroup]="reqG"
                                          [mainIndex]="mainIndex" [precisez_enabled]="true"></dume-requirement-group>
                </ng-container>
                <ng-container *ngSwitchCase="false">
                  <dume-requirement-group *ngFor="let reqG of subGroup1" [requirementGroup]="reqG"
                                          [mainIndex]="mainIndex" [precisez_enabled]="true"></dume-requirement-group>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>




