/* You can add global styles to this file, and also import other style files */
@import "scss/variables";
@import "scss/mixins";
@import "scss/application";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/core";
@import "~@ng-select/ng-select/scss/default.theme";

* {
    box-shadow: none !important;
}

#component__container {
    background: #f4f5fa;
}

#component__content {
    background: #fff;
    min-width: 720px;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder, .form-control::placeholder {
    color: #8a8484;
    opacity: 0.8;
}

.form-control, .form-control:focus, .ng-select .ng-select-container, .ng-select.ng-select-opened > .ng-select-container, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background: #F5F5F5FF;
    border: none;
    box-shadow: none !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background: #F3F8FFFF;
}

.ng-select .ng-select-container:hover {
    box-shadow: none;
}

.ng-dropdown-panel {
    border: none;
}

.modal {
    h1 {
        font-size: 1.6rem;
        color: $blue;
        margin: 0;
    }

    &-header {
        background: #09213b;
        border: none;
    }

    &-footer {
        border: none;
    }

    &-wide {
        min-width: 100vw !important;
        min-height: 100vh !important;
        padding: 12px;
        margin: 0;

        .modal-content {
            height: calc(100vh - 24px);
        }

        .modal-extra-large .modal-body {
            max-height: calc(100% - 64px);
            padding: 0;
            border-radius: 0.3rem;
        }
    }
}

.modal-extra-large {
    width: 100% !important;
    max-width: 100% !important;

    .modal-body {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
}

.modal-middle {
    width: 100% !important;
    @media screen and (min-width: 1040px) {
        max-width: 960px !important;
    }
    @media screen and (max-width: 1040px) {
        max-width: 740px !important;
    }

}

.modal-dialog {
    max-width: calc( 100% - 48px );
}

.outline {
    color: $primary;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 3px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    font-size: 1rem;
    color: #495057;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    font-size: 1rem;
}

.ng-select.ng-select-single .ng-select-container {
    height: auto;
    min-height: 38px;
}

.progress-bar {
    font-size: 0.9rem !important;
    text-align: center;
    padding-right: 6px;
    border-radius: 0.25em;
}

.bg-info {
    background-color: $blue !important;
}

progressbar {
    &.progress {
        width: 100%;
        height: 23px;
        padding: 2px;
        background-color: $light-grey;

        @media screen and (min-width: 1040px) {
            height: 30px;
        }
    }

    bar.progress-bar {
        overflow: visible;
        padding: 0 4px;
    }
}

alert .alert::before {
    content: ""
}

.bg-brouillon {
    background-color: $document-brouillon !important;

    .step-erreur & {
        background-color: $bg-danger !important;
    }

    .step-done & {
        background-color: $light-grey !important;
    }
}

.bg-soumission {
    background-color: $document-soumis !important;
}

.bg-validation {
    background-color: $document-valide !important;
}


.badge-type {
    width: 60px;
    border: none;
    margin-right: 12px;
    color: $black;
    background: transparentize($dark-grey2, .90);

    &.document-type {
        background: transparentize($dark-grey2, .90);;
        color: $black;
    }
}

.badge {
    font-size: 75%;
    line-height: normal;
}

progressbar.progress {
    padding: 0;
}

@media screen and (min-width: 1040px) {
    progressbar.progress {
        height: 24px;
    }
}

@media screen and (max-width: 1040px) {
    html {
        font-size: 3.2mm;
    }

    .modal-backdrop {
        width: 100%;
        height: 100%;
        background-color: #e2e2e2;
    }
}

.toast-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    max-width: 50vw;
    min-width: 400px;

    .pop {
        margin-bottom: 12px;

        &.bg-info {
            background-color: #406eac !important;

            .card-header {
                background-color: darken(#406eac, 10%);
            }
        }

        &.bg-success {
            background-color: #2ca32c !important;

            .card-header {
                background-color: darken(#2ca32c, 10%);
            }
        }

        &.bg-danger {
            background-color: #c6003c !important;

            .card-header {
                background-color: darken(#c6003c, 10%);
            }
        }

        .card-header {
            border: none;
            font-weight: bold;

            button {
                span {
                    color: $white;
                }
            }
        }
    }
}

.ng-dropdown-panel {
    overflow-y: scroll !important;
    max-height: 72vh !important;
}

.table th, .table td {
    padding: 1rem;
}

@media screen and (max-width: 1040px) {
    #component__content  {
        padding: 36px 12px 12px 12px;
    }

}

@media screen and (min-width: 1040px) {
    #component__content {
        position: relative;
        margin: 0 auto;
        max-width: 1480px;
        padding: 12px !important;
        height: 100%;
        min-height: 100vh;
    }
}

.nav-tabs .nav-item:not(.active) {
    background: #f2f2f2;
    border-radius: 4px;
    $inactive-color: #939393e3;

    .tab-title {
        color: $inactive-color;
    }

    .badge {
        background: $inactive-color;
        border: $inactive-color;
    }
}

.btn, button, .btn:focus {
    box-shadow: none;
}


.swal-error-message {
    display: inline-block;
    margin: 0 0 24px 0;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: transparentize($blue, .85);
}

.modal-dialog:not(.modal-wide) .modal-content {
    max-height: calc(100vh - 48px);

}

.modal-content {
    border: none;
}

.modal-open .modal {
    max-height: 99vh !important;
    overflow: hidden;
}

.badge-primary {
    background: $blue;
}

.close {
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    color: #235b9d;

    &:hover {
        background: #0f3762;
        color: $white;
    }

}

i {
    margin-right: 4px;
    display: inline-block;
}

.ng-dropdown-panel {
    margin: 16px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
    cursor: default;
    background-color: #f4f4f4 !important;
    color: $blue;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: #666;
    background-color: #ebf5ff;
}

.row {
    margin: 12px 0;
}

.dropdown-menu {
    width: 100%;
    background: $black2;
}

atexo-redacdocument-loader {
    width: 100%;
}

.swal2-toast {
    display: flex !important;
}

body.swal2-toast-shown .swal2-container {
    width: 25% !important;
    min-width: 360px;
}

.ng-select.ng-select-disabled > .ng-select-container {
    background: whitesmoke;
}

.dark-popin {
    background: $black2 !important;
    color: $white !important;
}

.messages {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    align-items: baseline;
}

.component-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background: #fff;

    button {
        margin: 0.25rem;
    }
}

.swal2-popup.fatal {
    width: calc(100vw + .625em * 2);
    height: 100vh;
    padding: 25vh 25vw;
}
