@import "styles";
.nav-tabs > li.active > a, .nav-tabs > li.active {
  background-color: #004494;
}

.newMessageTab {
  color: white !important;
}

.efas fa-envelope {
  border: 0.5em #004494 solid;
  margin: -2em;
}

.nav-padding .nav > li > a {
  padding: 0;
}

.nav-padding {
  padding: 0;
}
