<div *ngIf="contexteFound()" [ngClass]="{ 'isVisibleMessageTab' :  canCreateMessage() === true  }" id="container">
  <tabset class="nav-padding">
    <tab id="tab1">
      <ng-template tabHeading>
        <span>Suivi des messages envoyés</span>
        <span class="badge badge-pill badge-info ml-1"
              style="color: white;background-color:#004494">{{ nbMessages }}</span>
      </ng-template>
      <boite-reception (nbItemsChange)="nbMessages = $event"
                       (onNouveauMessage)="onNouveauMessage.emit()"></boite-reception>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span class="m-r-1">Brouillons</span>
        <span class="badge badge-pill badge-warning ml-1" style="background-color:orange">{{ nbBrouillons }}</span>
      </ng-template>
      <brouillon-agent (nbItemsChange)="nbBrouillons = $event"
                       (onModifierMessage)="onModifierMessage.emit($event)"></brouillon-agent>
    </tab>
    <tab (click)="nouveauMessage()" (selectTab)="nouveauMessage()" *ngIf="canCreateMessage()" customClass="newMessage">
      <ng-template tabHeading>
        <span (click)="onNouveauMessage.emit();nouveauMessage()" class="newMessageTab m-r-1" title="Nouveau message"
              type="button">Nouveau message
        </span>
        <em class="fas fa-envelope" style="background-color:white; color:#004494;  border: 0.2em white solid;"></em>
      </ng-template>
    </tab>
  </tabset>
</div>
