<template>
    <input id="form_numero_sad" :value="modelValue" list="search-autocomplete" class="form-control" spellcheck="false" :class="cssClass" :placeholder="placeHolder"
           @input="onInput($event)" autocomplete="off" :disabled="disabled"
    >
    <datalist id="search-autocomplete">
        <option v-for="value in autocompleteValues" :value="value.value">{{ value.label }}</option>
    </datalist>
</template>
<script>
import _debounce from 'lodash/debounce';

import tokenService from "../../services/token.service";
import execService from "../../services/exec.service";
import contratService from "../../services/contrat.service";
import utilsService from "../../services/utils.service";

export default {
    props: ['modelValue', 'placeHolder', 'cssClass', 'typeCode', 'disabled', 'parameters', 'contratType'],
    emits: ['update:modelValue', 'trigger-load-data-contrat'],
    data() {
        return {
            size                    : 10,
            token                   : null,
            autocompleteValues      : [],
            abortController         : null
        }
    },
    methods: {
        onInput($event) {
            this.$emit('update:modelValue', $event.target.value);
            let found = false;
            this.autocompleteValues.forEach((element) => {
                if (element.value == $event.target.value) {
                    found = true;
                    if (this.parameters['execContratEnabled']) {
                        let uuid = element.uuid;
                        if (element['idChapeau']) {
                            uuid = element['idChapeau'];
                        }
                        this.$emit('trigger-load-data-contrat', {'contratUuid' : uuid});
                    } else {
                        this.$emit('trigger-load-data-contrat', {'contratId' : utilsService.getLastSplitFromIri(element['@id'])});
                    }
                }
            });
            if (!found) {
                this.getValues();
            }
        },
        getValues: _debounce(function() {
            if (this.modelValue.length < 3) {
                return;
            }
            this.autocompleteValues = [];

            if (this.abortController) {
                this.abortController.abort();
            }
            this.abortController = new AbortController();

            if (this.parameters['execContratEnabled']) {
                let options = {
                    signal: this.abortController.signal,
                    headers: {Authorization: `Bearer ${this.token}`},
                    params: { size : this.size, motsCles : this.modelValue}
                };

                if (this.contratType['marcheSubsequent'] === '1') {
                    options.params['codesExternesTypeContrat'] = ['amo', 'amu'];
                } else {
                    options.params['codesExternesTypeContrat'] = 'sad';
                    options.params['chapeau'] = true;
                }
                execService.getContrats(options).then((response) => {
                    this.abortController = null;
                    this.autocompleteValues = response.data['content'];
                    this.autocompleteValues.forEach((element) => {
                        element.value = element['numero'];
                        element.label = element['numero'] + ' - ' + element['objet'];
                    });
                }).catch(() => {});
            } else {
                const options = {
                    signal: this.abortController.signal,
                    headers: {Authorization: `Bearer ${this.token}`}, params: { itemsPerPage : this.size, objetContrat : this.modelValue, idTypeContrat : utilsService.getLastSplitFromIri(this.contratType['@id'])}
                };
                contratService.getContrats(options).then((response) => {
                    this.abortController = null;
                    this.autocompleteValues = response.data['hydra:member'];
                    this.autocompleteValues.forEach((element) => {
                        element.value = element['numero'];
                        element.label = element['numero'] + ' - ' + element['objet'];
                    });
                }).catch(() => {});
            }
        }, 600),
    },
    created() {
        if (this.parameters['execContratEnabled']) {
            tokenService.getExecToken().then((responseToken) => {
                this.token = responseToken.data;
            });
        } else {
            tokenService.getToken().then((responseToken) => {
                this.token = responseToken.data;
            });
        }
    }
};
</script>
