<template>
    <clause-n1 v-for="(value, index) in clausesN1"
                :clause-n1="value"
                :token="token"
                :selected-values="clauses"
                :key="index"
                @send-add-value-clause1="addN1"
                @send-remove-value-clause1="removeN1"
                @send-add-value-clause2="addN2"
                @send-remove-value-clause2="removeN2"
                @send-add-value-clause3="addN3"
                @send-remove-value-clause3="removeN3"
                @send-add-value-clause4="addN4"
                @send-remove-value-clause4="removeN4"
               :ref="'clauseN1' + index"
    ></clause-n1>
</template>
<script>
import tokenService from "../../services/token.service";
import ClauseN1 from "./ClauseN1";
import referentielClauseService from "../../services/referentielClause.service";

export default {
    components: {
        'clause-n1': ClauseN1
    },
    props: ['alreadySelectedClauses'],
    data() {
        return {
            token                   : null,
            clausesN1               : [],
            clauses                 : []
        }
    },
    methods: {
        getData() {
            const options = {
                headers: { Authorization: `Bearer ${this.token}` }, params: { actif : true }
            };

            return referentielClauseService.getReferentielsN1(options).then(response => {
                if (response.data['hydra:totalItems'] > 0) {
                    this.clausesN1 = response.data['hydra:member'];
                }
            });
        },
        addN1(payload) {
            if (!this.exists(payload.referentielClauseN1)) {
                this.clauses.push({
                    referentielClauseN1: payload.referentielClauseN1,
                    clausesN2: []
                });
            }
        },
        removeN1(payload) {
            this.clauses = this.clauses.filter(element => element.referentielClauseN1 !== payload.referentielClauseN1);
        },
        addN2(payload) {
            this.clauses.forEach((value, index) => {
                if (value.referentielClauseN1 === payload.referentielClauseN1) {
                    if (!this.clauses[index].clausesN2.find((element => element.referentielClauseN2 === payload.referentielClauseN2))) {
                        this.clauses[index].clausesN2.push({
                            referentielClauseN2: payload.referentielClauseN2,
                            clausesN3: []
                        });
                    }
                }
            });
        },
        removeN2(payload) {
            this.clauses.forEach((value, index) => {
                if (value.referentielClauseN1 === payload.referentielClauseN1) {
                    this.clauses[index].clausesN2 = this.clauses[index].clausesN2.filter(data => data.referentielClauseN2 !== payload.referentielClauseN2)
                }
            });
        },
        addN3(payload) {
            this.clauses.forEach((valueN1, indexN1) => {
                if (valueN1.referentielClauseN1 === payload.referentielClauseN1) {
                    valueN1.clausesN2.forEach((valueN2, indexN2) => {
                        if (valueN2.referentielClauseN2 === payload.referentielClauseN2) {
                            this.clauses[indexN1].clausesN2[indexN2].clausesN3.push({
                                referentielClauseN3: payload.referentielClauseN3,
                                clausesN4: []
                            });
                        }
                    });
                }
            });
        },
        removeN3(payload) {
            this.clauses.forEach((valueN1, indexN1) => {
                if (valueN1.referentielClauseN1 === payload.referentielClauseN1) {
                    valueN1.clausesN2.forEach((valueN2, indexN2) => {
                        if (valueN2.referentielClauseN2 === payload.referentielClauseN2) {
                            this.clauses[indexN1].clausesN2[indexN2].clausesN3 = this.clauses[indexN1].clausesN2[indexN2].clausesN3.filter(data => data.referentielClauseN3 !== payload.referentielClauseN3);
                        }
                    });
                }
            });
        },
        addN4(payload) {
            this.handleN4AddAndRemove(payload, true);
        },
        removeN4(payload) {
            this.handleN4AddAndRemove(payload);
        },
        handleN4AddAndRemove(payload, add=false)  {
            this.clauses.forEach((valueN1, indexN1) => {
                if (valueN1.referentielClauseN1 === payload.referentielClauseN1) {
                    valueN1.clausesN2.forEach((valueN2, indexN2) => {
                        if (valueN2.referentielClauseN2 === payload.referentielClauseN2) {
                            valueN2.clausesN3.forEach((valueN3, indexN3) => {
                                if (valueN3.referentielClauseN3 === payload.referentielClauseN3) {
                                    let cl4 = this.clauses[indexN1].clausesN2[indexN2].clausesN3[indexN3].clausesN4;
                                    cl4 = this.filterN4(cl4, payload.referentielClauseN4['id']);
                                    if (add) {
                                        cl4.push({
                                            referentielClauseN4: payload.referentielClauseN4
                                        })
                                    }
                                    this.clauses[indexN1].clausesN2[indexN2].clausesN3[indexN3].clausesN4 = cl4;
                                }
                            })
                        }
                    });
                }
            });
        },
        filterN4(cl4, id4) {
            return cl4.filter(element => element.referentielClauseN4['id'] !== id4);
        },
        exists(id) {
            return this.clauses.find((element => element.referentielClauseN1 === id)) instanceof Object;
        },
        loadSelectedClauses() {
            this.alreadySelectedClauses.forEach((valueN1, indexN1) => {
                this.clauses.push({
                    referentielClauseN1: valueN1['iri'],
                    clausesN2: [],
                });

                if (valueN1['clausesN2']) {
                    valueN1['clausesN2'].forEach((valueN2, indexN2) => {
                        this.clauses[indexN1]['clausesN2'].push({
                            referentielClauseN2: valueN2['iri'],
                            clausesN3: [],
                        });

                        if (valueN2['clausesN3']) {
                            valueN2['clausesN3'].forEach((valueN3, indexN3) => {
                                this.clauses[indexN1]['clausesN2'][indexN2]['clausesN3'].push({
                                    referentielClauseN3: valueN3['iri'],
                                    clausesN4: []
                                });

                                if (valueN3['clausesN4']) {
                                    valueN3['clausesN4'].forEach((valueN4) => {
                                        this.clauses[indexN1]['clausesN2'][indexN2]['clausesN3'][indexN3]['clausesN4'].push({
                                            referentielClauseN4: {
                                                id: valueN4['iri'],
                                                value: valueN4['value']
                                            }
                                        })
                                    })
                                }
                            });
                        }
                    });
                }
            });

            if (this.clausesN1.length > 0) {
                this.clausesN1.forEach((value, index) => {
                    this.$refs['clauseN1' + index][0].loadSelectedClauses();
                });
            }
        }
    },
    created() {
        tokenService.getToken().then((responseToken) => {
            this.token = responseToken.data;

            this.getData().then(() => {
                if (this.alreadySelectedClauses && this.alreadySelectedClauses.length > 0) {
                    this.loadSelectedClauses();
                }
            });
        });
    }
}
</script>
