<template>
    <div class="row">
        <div class="col-sm-12 ml-4">
            <input class="form-check-input" type="checkbox" :id="clauseN2.slug" v-model="checked">
            <label :for="clauseN2.slug" :title="clauseN2.tooltip">{{ clauseN2.label }}</label>
        </div>
        <div class="col-sm-12 clause-n3-margin">
            <clause-n3 :show="checked"
                       :clause-n2="clauseN2"
                       :token="token"
                       :selected-values="alreadySelectedClausesN3"
                       @send-add-value-clause3="addValueN3"
                       @send-remove-value-clause3="removeValueN3"
                       @send-add-value-clause4="addValueN4"
                       @send-remove-value-clause4="removeValueN4"
                       ref="clausesN3"
            ></clause-n3>
        </div>
    </div>
</template>
<script>
import ClauseN3 from "./ClauseN3";

export default {
    components: {
        'clause-n3': ClauseN3
    },
    props: ['clauseN2', 'token', 'selectedValues'],
    data() {
        return {
            checked                     : false,
            alreadySelectedClausesN3    : []
        }
    },
    methods: {
        addValueN3(payload) {
            this.$emit('send-add-value-clause3', {referentielClauseN2: this.clauseN2['@id'], referentielClauseN3: payload.referentielClauseN3});
        },
        removeValueN3(payload) {
            this.$emit('send-remove-value-clause3', {referentielClauseN2: this.clauseN2['@id'], referentielClauseN3: payload.referentielClauseN3});
        },
        addValueN4(payload) {
            this.$emit(
                'send-add-value-clause4',
                {
                    referentielClauseN2: this.clauseN2['@id'],
                    referentielClauseN3: payload.referentielClauseN3,
                    referentielClauseN4: payload.referentielClauseN4
                }
            );
        },
        removeValueN4(payload) {
            this.$emit(
                'send-remove-value-clause4',
                {
                    referentielClauseN2: this.clauseN2['@id'],
                    referentielClauseN3: payload.referentielClauseN3,
                    referentielClauseN4: payload.referentielClauseN4
                }
            );
        },
        loadSelectedClauses() {
            this.selectedValues.forEach((valueN2) => {
                if (this.clauseN2['@id'] === valueN2['referentielClauseN2']) {
                    this.alreadySelectedClausesN3 = valueN2['clausesN3'];
                    this.checked = true;
                    this.$refs.clausesN3.loadSelectedClauses();
                }
            });
        }
    },
    watch: {
        checked(value) {
            if (value) {
                this.$emit('send-add-value-clause2', {referentielClauseN2: this.clauseN2['@id']});
            } else {
                this.$emit('send-remove-value-clause2', {referentielClauseN2: this.clauseN2['@id']});
            }
        },
    }
}
</script>
<style>
    .clause-n3-margin {
        margin-left: 2.25rem;
    }
</style>
