<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->

<template>
    <div class="row">
        <div class="col-sm-6 clause-n-4-label">
            <label :for="clauseN4.slug" :title="clauseN4.tooltip">{{ clauseN4.label }}</label>
        </div>
        <div class="col-sm-2">
            <input :id="clauseN4.slug" class="form-check-input clause-n-4-checkbox" type="checkbox"  v-model="checked" v-if="clauseN4.typeChamp === 'checkbox'">
            <input :id="clauseN4.slug" type="number" :min="clauseN4.typeChamp === 'unsigned int' ? 0 : null" class="form-control" v-model="number" oninput="validity.valid||(value='');" v-if="clauseN4.typeChamp === 'unsigned int' || clauseN4.typeChamp === 'int'">
            <input :id="clauseN4.slug" type="text" class="form-control" v-model="text" v-if="clauseN4.typeChamp === 'text'">
        </div>
    </div>
</template>

<script>
export default {
    props: ['token', 'clauseN4', 'selectedValues'],
    data: function () {
        return {
            text     : null,
            number   : null,
            checked  : false,
        }
    },
    methods: {
        updateField(value) {
            if (value) {
                this.$emit('send-add-value-clause4', {referentielClauseN4: {id : this.clauseN4['@id'], 'value': value}});
            } else {
                this.$emit('send-remove-value-clause4', {referentielClauseN4: {id : this.clauseN4['@id']}});
            }
        }
    },
    created() {
        let selectedClause = this.selectedValues.filter(element => element.referentielClauseN4['id'] === this.clauseN4['@id']);
        if (selectedClause.length > 0) {
            let value = selectedClause[0]['referentielClauseN4']['value'];
            switch (this.clauseN4.typeChamp) {
                case 'int':
                    this.number = value;
                    break;
                case 'unsigned int':
                    this.number = value;
                    break;
                case 'text':
                    this.text = value;
                    break;
                case 'checkbox':
                    this.checked = true;
                    break;
            }
        }
    },
    watch: {
        number(value) {
            this.updateField(value);
        },
        text(value) {
            this.updateField(value);
        },
        checked(value) {
            this.updateField(value);
        },
    }
}
</script>

<style>
.clause-n-4 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px !important;
}

.col-sm-6.clause-n-4-label {
    max-width: 40%
}

.clause-n-4-label {
    display: flex;
}

.clause-n-4-label label, .clause-n-4-checkbox {
    margin: auto auto auto 0;
}
</style>