<template>
    <div class="container mb-1">
        <form>
            <div class="row">
                <div class="col-sm-4" :title="clauseN1.tooltip">
                    {{ clauseN1.label }}
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="radio" :value="true" v-model="checked"/>&nbsp;
                            <label>Oui</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" :value="false" v-model="checked"/>&nbsp;
                            <label>Non</label>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="checked">
                <clause-n2
                    v-for="(clauseN2, index) in clausesN2"
                    :clause-n2="clauseN2"
                    :key="index"
                    :token="token"
                    :selected-values="alreadySelectedClausesN2"
                    @send-add-value-clause2="addValueN2"
                    @send-remove-value-clause2="removeValueN2"
                    @send-add-value-clause3="addValueN3"
                    @send-remove-value-clause3="removeValueN3"
                    @send-add-value-clause4="addValueN4"
                    @send-remove-value-clause4="removeValueN4"
                    :ref="'clauseN2' + index"
                >
                </clause-n2>
            </div>
        </form>
    </div>
</template>
<script>
import ClauseN2 from "./ClauseN2";
import referentielClauseService from "../../services/referentielClause.service";

export default {
    components: {
        'clause-n2': ClauseN2
    },
    props: ['clauseN1', 'token', 'selectedValues'],
    data() {
        return {
            checked                     : false,
            dataPromise                 : null,
            clausesN2                   : [],
            alreadySelectedClausesN2    : []
        }
    },
    methods: {
        getData() {
            if (this.clausesN2.length === 0 && this.dataPromise === null) {
                const options = {
                    headers: {Authorization: `Bearer ${this.token}`}, params: { 'clauseN1' : this.getIdByUri(this.clauseN1['@id']), actif : true }
                };
                this.dataPromise = referentielClauseService.getReferentielsN2(options).then(response => {
                    if (response.data['hydra:totalItems'] > 0) {
                        this.clausesN2 = response.data['hydra:member'];
                    }
                });
            }
        },
        getIdByUri(uri) {
            return uri.split("/").pop();
        },
        addValueN2(payload) {
            this.$emit('send-add-value-clause2', {referentielClauseN1: this.clauseN1['@id'], referentielClauseN2: payload.referentielClauseN2});
        },
        removeValueN2(payload) {
            this.$emit('send-remove-value-clause2', {referentielClauseN1: this.clauseN1['@id'], referentielClauseN2: payload.referentielClauseN2});
        },
        addValueN3(payload) {
            this.$emit(
                'send-add-value-clause3',
                {
                    referentielClauseN1: this.clauseN1['@id'],
                    referentielClauseN2: payload.referentielClauseN2,
                    referentielClauseN3: payload.referentielClauseN3
                }
            );
        },
        addValueN4(payload) {
            this.$emit(
                'send-add-value-clause4',
                {
                    referentielClauseN1: this.clauseN1['@id'],
                    referentielClauseN2: payload.referentielClauseN2,
                    referentielClauseN3: payload.referentielClauseN3,
                    referentielClauseN4: payload.referentielClauseN4
                }
            );
        },
        removeValueN4(payload) {
            this.$emit(
                'send-remove-value-clause4',
                {
                    referentielClauseN1: this.clauseN1['@id'],
                    referentielClauseN2: payload.referentielClauseN2,
                    referentielClauseN3: payload.referentielClauseN3,
                    referentielClauseN4: payload.referentielClauseN4
                }
            );
        },
        removeValueN3(payload) {
            this.$emit(
                'send-remove-value-clause3',
                {
                    referentielClauseN1: this.clauseN1['@id'],
                    referentielClauseN2: payload.referentielClauseN2,
                    referentielClauseN3: payload.referentielClauseN3
                }
            );
        },
        loadSelectedClauses() {
            this.selectedValues.forEach((valueN1) => {
                if (this.clauseN1['@id'] === valueN1['referentielClauseN1']) {
                    this.alreadySelectedClausesN2 = valueN1['clausesN2'];
                    this.checked = true;
                    this.getData();
                }
            });
            if (this.alreadySelectedClausesN2.length > 0) {
                this.dataPromise.then(() => {
                    this.clausesN2.forEach((value, index) => {
                        this.$refs['clauseN2' + index][0].loadSelectedClauses();
                    });
                });
            }
        }
    },
    watch: {
        checked(value) {
            if (value) {
                this.getData();
                this.$emit('send-add-value-clause1', {referentielClauseN1: this.clauseN1['@id']});
            } else {
                this.$emit('send-remove-value-clause1', {referentielClauseN1: this.clauseN1['@id']});
            }
        },
    }
}
</script>
