<template>
    <div v-if="show && options.length > 0" class="mb-1">
        <multiselect
            v-model="value"
            :options="options"
            :max="clauseN2['limitation']"
            placeholder="Valeur"
            label="label"
            :multiple="true"
            :close-on-select="false"
            :clear-on-select="true"
            :preserve-search="true"
            :show-labels="false"
            track-by="label"
            @select="onSelect"
            @remove="onRemove"
            @open="onOpen"
            data-tnr="multiselectClauseN3"
        >
            <template #tag="prop">
                <span class="multiselect__tag">
                    <span :title="prop.option['tooltip']">{{ prop.option.label }}</span>
                    <i @click="prop.remove(prop.option)" aria-hidden="true" tabindex="1" class="multiselect__tag-icon"></i>
                </span>
            </template>
            <template #noResult>
                <span>Aucun éléments trouvés</span>
            </template>
            <template #maxElements>
                <span>Limite atteinte</span>
            </template>
        </multiselect>
        <div class="col-sm-12 ml-4 clause-n-4">
            <clause-n4
                v-for="(clauseN4, index) in clausesN4"
                :clause-n4="clauseN4"
                :key="index"
                :token="token"
                :selected-values="alreadySelectedClausesN4"
                @send-add-value-clause4="addValueN4"
                @send-remove-value-clause4="removeValueN4"
                :ref="'clauseN4' + index"
            >
            </clause-n4>
        </div>
    </div>
</template>
<script>
import Multiselect from 'vue-multiselect'
import referentielClauseService from "../../services/referentielClause.service";
import ClauseN4 from "./ClauseN4.vue";

export default {
    components: {
        Multiselect,
        ClauseN4,
    },
    props: ['show', 'clauseN2', 'token', 'selectedValues'],
    data() {
        return {
            value                       : [],
            options                     : [],
            clausesN4                   : [],
            dataPromise                 : null,
            allClausesN4                : [],
            refN4DataPromise            : null,
            selectedClauseN3            : null,
            alreadySelectedClausesN4    : []
        }
    },
    methods: {
        getData() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`}, params: { clausesN2 : this.getIdByUri(this.clauseN2['@id']), actif : true }
            };
            this.dataPromise = referentielClauseService.getReferentielsN3(options).then(response => {
                if (response.data['hydra:totalItems'] > 0) {
                    this.options = response.data['hydra:member'];
                }
                this.loadAllClauseN4();
            });
        },
        loadAllClauseN4() {
                const config = {
                     headers: {Authorization: `Bearer ${this.token}`}, params: { 'clauseN3[]' : this.getClauseN3Ids(), actif : true }
                };
                this.refN4DataPromise = referentielClauseService.getReferentielsN4(config).then(response => {
                    response.data['hydra:member'].forEach((data, index) => {
                        let cln3 = data['clauseN3'];
                        delete(data[index]);
                        this.allClausesN4[cln3] = {
                            'clausesN4': !!this.allClausesN4[cln3]?.clausesN4 ? this.allClausesN4[cln3].clausesN4.concat([data]) : [data]
                        }
                    });
                });
        },
        getClauseN3Ids() {
            let ids = [];
            this.options.forEach((clauseN3) => {
                ids.push(this.getIdByUri(clauseN3['@id']));
            })

            return ids;
        },
        addValueN4(payload) {
            let clauseN3 = this.findN3(payload.referentielClauseN4['id']);
            this.$emit('send-add-value-clause4', {referentielClauseN3: clauseN3, referentielClauseN4: payload.referentielClauseN4});
        },
        findN3(N4Id) {
            let clN3 = null;
            for (const [key, value] of Object.entries(this.allClausesN4)) {
                let clN4 = value.clausesN4.filter(element => element['@id'] === N4Id);
                if (clN4.length > 0) {
                    clN3 = key;
                }
            }

            return clN3;
        },
        removeValueN4(payload) {
            let clauseN3 = this.findN3(payload.referentielClauseN4['id']);
            this.$emit('send-remove-value-clause4', {referentielClauseN3: clauseN3, referentielClauseN4: payload.referentielClauseN4});
        },
        onSelect(option) {
            this.$emit('send-add-value-clause3', {referentielClauseN3: option['@id']});
            this.selectedClauseN3 = option['@id'];
            this.addClN4(option['@id']);
        },
        onRemove(option) {
            this.$emit('send-remove-value-clause3', {referentielClauseN3: option['@id']});
            this.removeClN4(option['@id']);
        },
        onOpen() {
            this.options.forEach((value, index) => {
                document.getElementById('null-' + index).setAttribute('title', value['tooltip']);
            })
        },
        getIdByUri(uri) {
            return uri.split("/").pop();
        },
        addClN4(clauseN3Id) {
            if (clauseN3Id in this.allClausesN4) {
                this.clausesN4 = this.clausesN4.concat(this.allClausesN4[clauseN3Id].clausesN4);
            }
        },
        removeClN4(clauseN3Id) {
            if (clauseN3Id in this.allClausesN4) {
                this.clausesN4 = this.clausesN4.filter( ( el ) => !this.allClausesN4[clauseN3Id].clausesN4.includes( el ) );
            }
        },
        loadSelectedClauses() {
            this.dataPromise.then(() => {
                this.selectedValues.forEach((valueN3) => {
                    this.options.forEach((value) => {
                        if (value['@id'] === valueN3['referentielClauseN3']) {
                            this.value.push(value);
                            this.refN4DataPromise.then(() => {
                                this.addClN4(value['@id']);
                                if (valueN3['clausesN4']) {
                                    this.alreadySelectedClausesN4 = this.alreadySelectedClausesN4.concat(valueN3['clausesN4']);
                                }
                            })
                        }
                    });
                });
            });
        }
    },
    created() {
        this.getData();
    }
}
</script>
<style>

</style>
