<template>
    <div class="form-group row">
        <div class="col-11 col-lg-11 col-md-11">
            <multiselect
                v-model="selectedReferentiels"
                label="name"
                track-by="code"
                :placeholder="placeholderLabel"
                open-direction="bottom"
                :max="maximumSelection"
                :options="listeReferentiels"
                :preserveSearch="true"
                :multiple="true"
                :searchable="true"
                :internal-search="false"
                :clear-on-select="true"
                :close-on-select="true"
                :options-limit="300"
                :max-height="600"
                :custom-label="customLabel"
                :hide-selected="false"
                :show-labels="false"
                :showNoOptions="false"
                @select="onSelect"
                @remove="onRemove"
                :disabled="isDisabled"
                @search-change="asyncFind"
                data-tnr="multiselectCPV"
                :class="{ 'border-error-message': !isValid }"
            >
                <template #option="props">
                    <span :style="props.option.style">{{ props.option.code }} - {{ props.option.label }}</span>
                </template>
                <template #noResult>
                    <span v-if="naturePrestation || !checkNature">Aucun éléments trouvés</span>
                    <span v-else>Veuillez choisir une catégorie</span>
                </template>
                <template #maxElements>
                    <span>4 codes CPV maximum</span>
                </template>
            </multiselect>
        </div>
        <div v-if="displayButton" class="col-1 col-lg-1 col-md-1 btn-group btn-group-toggle" style="max-height: 41px" data-toggle="buttons">
            <label class="btn btn-outline-primary active" style="cursor: pointer" title="Vue simple">
                <input type="radio" :value="true" v-model="simpleMode"><i class="fa fa-list"></i>
            </label>
            <label class="btn btn-outline-primary" style="cursor: pointer" title="Vue arborescence">
                <input type="radio" :value="false" v-model="simpleMode"><i class="fa fa-stream"></i>
            </label>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import 'vue-multiselect/dist/vue-multiselect.css'

export default {
    components: {
        Multiselect
    },
    props: [
        'configPath',
        'naturePrestation',
        'translations',
        'maximumSelection',
        'displayButton',
        'checkNature',
        'placeholderLabel',
        'alreadySelectedReferences',
        'isDisabled',
        'isValid'
    ],
    emits: ['dataLoaded'],
    data() {
        return {
            token                       : null,
            simpleMode                  : true,
            selectedReferentiels        : [],
            listeReferentiels           : []
        }
    },
    methods: {
        getToken() {
            if (this.token) {
                return Promise.resolve(true);
            } else {
                return axios.get('/referentiels/ws/bootstrapConfiguration?locale=fr&configPath=/resources/config/' + this.configPath).then((response) => {
                    this.token = response.data.token;
                });
            }
        },
        asyncFind(query) {
            if (this.checkNature && !this.naturePrestation) {
                return;
            }
            if (query.length > 2) {
                this.getToken().then(() => {
                    let urlPart = 'searchReferentiel';
                    if (!this.simpleMode) {
                        urlPart = 'searchReferentielTree';
                    }
                    let url = '/referentiels/ws/' + urlPart + '?token=' + this.token + '&userQuery=' + query + '&locale=fr';
                    axios.get(url).then((response) => {
                        this.listeReferentiels = [];
                        if (this.simpleMode) {
                            this.listeReferentiels = response.data['referentielList'];
                        } else if (response.data['referentielTree']['childs']) {
                            this.listeReferentiels = this.formatTreeList(response.data['referentielTree']['childs']);
                        }

                        this.handleNature();
                    });
                });
            }
        },
        customLabel(object) {
            return object.code + ' – ' + object.label;
        },
        formatTreeList(tree) {
            let formatedList = [];

            while (tree.length !== 0) {
                let node = tree.shift();

                if (!node.depth) {
                    node.depth = 0;
                }
                node.childs.forEach((value, index) => {
                    node.childs[index].depth = node.depth + 1;
                    tree.unshift(value);
                });

                if (node.depth) {
                    node.style = 'margin-left:' + node.depth + 'em';
                }

                formatedList.push(node);
            }

            return formatedList;
        },
        matchNatureSelected(code) {
            let splitIri = this.naturePrestation.split('/');
            const natureId = parseInt(splitIri[splitIri.length - 1]);

            let prefix = parseInt(code.substring(0, 2));

            let isTravaux = (natureId === 1 && prefix === 45);
            let isFournitures = (natureId === 2 && (prefix < 45 || prefix === 48));
            let isServices = (natureId === 3 && prefix >= 49);

            return (isTravaux || isFournitures || isServices);
        },
        loadSelectedReferentiels(alreadySelectedReferences) {
            this.getToken().then(() => {
                let promises = [];

                alreadySelectedReferences.forEach((value) => {
                    let url = '/referentiels/ws/searchReferentiel?token=' + this.token + '&userQuery=' + value + '&locale=fr';
                    promises.push(axios.get(url).then((response) => {
                        if (response.data['referentielList'][0]) {
                            this.selectedReferentiels.push(response.data['referentielList'][0]);
                        }
                    }));
                });
                Promise.all(promises).then(() => {
                    this.$emit('dataLoaded', {'stackName' : 'codeCpv'});
                });
            });
        },
        handleNature() {
            if (this.checkNature && this.selectedReferentiels.length === 0) {
                this.listeReferentiels.forEach((value, index) => {
                    this.listeReferentiels[index].$isDisabled = !this.matchNatureSelected(value.code);
                });
            }
        },
        onSelect() {
            if (this.selectedReferentiels.length > 0) {
                this.listeReferentiels.forEach((_value, index) => {
                    this.listeReferentiels[index].$isDisabled = false;
                });
            }
        },
        onRemove() {
            if (this.checkNature && this.selectedReferentiels.length > 0) {
                while (this.selectedReferentiels.length > 0 && !this.matchNatureSelected(this.selectedReferentiels[0].code)) {
                    this.selectedReferentiels.shift();
                }
            }
            this.handleNature();
        }
    },
    created() {
        if (this.alreadySelectedReferences && this.alreadySelectedReferences.length > 0) {
            this.loadSelectedReferentiels(this.alreadySelectedReferences);
        } else {
            this.$emit('dataLoaded', {'stackName' : 'codeCpv'});
        }
    }
};
</script>
<style>
div[data-tnr="multiselectCPV"] .multiselect__tag:not(:first-of-type) {
    background-color: #0a8cce
}
</style>
