<script>
export default {
    props : ['show', 'cancelLabel', 'validateLabel']
}
</script>

<template>
    <Transition name="dialog-component" v-if="show">
        <div class="dialog-component-mask">
            <div class="dialog-component-container">
                <slot name="header">
                </slot>
                <slot name="body">
                </slot>
                <div class="modal-footer" style="border-top: none;">
                    <button class="btn btn-light" @click="$emit('cancel')">{{ cancelLabel ? cancelLabel : 'Cancel' }}</button>
                    <button class="btn btn-primary" @click="$emit('validate')">{{ validateLabel ? validateLabel : 'Validate' }}</button>
                </div>
            </div>
        </div>
    </Transition>
</template>

<style>
    .dialog-component-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        transition: opacity 0.3s ease;
    }

    .dialog-component-container {
        width: 40%;
        margin: auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
    }

    .dialog-component-body {
        background-color: #f3f1f2;
        border-radius: 5px;
        margin-top: 1rem;
    }
    .dialog-component-enter-from {
        opacity: 0;
    }

    .dialog-component-leave-to {
        opacity: 0;
    }

    .dialog-component-enter-from .dialog-component-container,
    .dialog-component-leave-to .dialog-component-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>