<template>
    <div class="bs-stepper linear" id="StepperConsultation">
        <div class="bs-stepper-header" role="tablist">
            <div class="step" :class="{ 'active': step === 'identification' }" data-target="#test-l-1">
                <button aria-controls="test-l-1" :aria-selected="step === 'identification'" class="step-trigger" id="step1" role="tab" type="button" :disabled="isStepperDisabled" @click="goToStep('identification')">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">{{ translations['DEFINE_IDENTIFICATION'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-2">
                <button aria-controls="test-l-2" aria-selected="false" class="step-trigger" id="step2" role="tab" type="button" :disabled="isStep2Disabled || isStepperDisabled" @click="goToStep('etapeDonneesComplementaires')">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">{{ translations['DEFINE_DONNEES_COMPLEMENTAIRES'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-3">
                <button aria-controls="test-l-3" aria-selected="false" class="step-trigger" id="step3" role="tab" type="button" :disabled="isStep3Disabled || isStepperDisabled" @click="goToStep('etapeDetailsLots')">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">{{ translations['TEXT_LOTS'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-4">
                <button aria-controls="test-l-4" aria-selected="false" class="step-trigger" id="step4" role="tab" type="button" :disabled="isStep4Disabled || isStepperDisabled" @click="goToStep('etapeDumeAcheteur')">
                    <span class="bs-stepper-circle">4</span>
                    <span class="bs-stepper-label">{{ translations['TEXT_DUME_ACHETEUR'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-5">
                <button aria-controls="test-l-5" aria-selected="false" class="step-trigger" id="step5" role="tab" type="button" :disabled="isStepperDisabled" @click="goToStep('etapeCalendrier')">
                    <span class="bs-stepper-circle">5</span>
                    <span class="bs-stepper-label">{{ translations['DEFINE_CALENDRIER'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-6">
                <button aria-controls="test-l-6" aria-selected="false" class="step-trigger" id="step6" role="tab" type="button" :disabled="isStepperDisabled" @click="goToStep('etapeDocumentsJoints')">
                    <span class="bs-stepper-circle">6</span>
                    <span class="bs-stepper-label">{{ translations['DEFINE_PIECES'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-7">
                <button aria-controls="test-l-7" aria-selected="false" class="step-trigger" id="step7" role="tab" type="button" :disabled="isStepperDisabled" @click="goToStep('etapeModalitesReponse')">
                    <span class="bs-stepper-circle">7</span>
                    <span class="bs-stepper-label">{{ translations['DEFINE_TEXT_MODALITES'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-target="#test-l-8">
                <button aria-controls="test-l-8" aria-selected="false" class="step-trigger" id="step8" role="tab" type="button" :disabled="isStepperDisabled" @click="goToStep('etapeDroitsAcces')">
                    <span class="bs-stepper-circle">8</span>
                    <span class="bs-stepper-label">{{ translations['TEXT_ACCES'] }}</span>
                </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" :class="{ 'active': step === 'publicite' }" data-target="#test-l-9">
                <button aria-controls="test-l-9" aria-selected="false" class="step-trigger" id="step9" role="tab" type="button" :disabled="isStep8Disabled || isStepperDisabled" @click="goToStep('publicite')">
                    <span class="bs-stepper-circle">9</span>
                    <span class="bs-stepper-label">{{ translations['DEFINE_PUBLICITE'] }}</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import 'bs-stepper/dist/css/bs-stepper.min.css'
import consultationService from "../../services/consultation.service";
import tokenService from "../../services/token.service";

export default {
    emits: ['moveStep'],
    props: ['consultationId', 'step', 'translations'],
    data() {
        return {
            isStepperDisabled   : true,
            isStep2Disabled     : true,
            isStep3Disabled     : true,
            isStep4Disabled     : true,
            isStep8Disabled     : true,
            token               : null
        }
    },
    methods: {
        enableStep2() {
            this.isStep2Disabled = false;
        },
        disableStep2() {
            this.isStep2Disabled = true;
        },
        enableStep3() {
            this.isStep3Disabled = false;
        },
        disableStep3() {
            this.isStep3Disabled = true;
        },
        enableStep4() {
            this.isStep4Disabled = false;
        },
        disableStep4() {
            this.isStep4Disabled = true;
        },
        enableStep8() {
            this.isStep8Disabled = false;
        },
        disableStep8() {
            this.isStep8Disabled = true;
        },
        goToStep(step) {
            this.$emit('moveStep', {'step': step});
        },
        loadConsultation() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };

            consultationService.getConsultationById(this.consultationId, options).then((response) => {
                if (response.data.donneeComplementaireObligatoire) {
                    this.enableStep2();
                }
                if (response.data.donneePubliciteObligatoire) {
                    this.enableStep2();
                    this.enableStep8();
                }
                if (response.data.alloti) {
                    this.enableStep3();
                }
                if (response.data.dume) {
                    this.enableStep4();
                }
            });
        }
    },
    created() {
        if (this.consultationId) {
            tokenService.getToken().then((responseToken) => {
                this.token = responseToken.data;
                this.loadConsultation();
            });
        }
        if (this.step !== 'identification') {
            this.isStepperDisabled = false;
        }
    }
};
</script>
<style>
    .active .bs-stepper-label {
    color: #007bff;
    }

    @media (max-width: 1507px) {
        .step {
            min-width: 95px;
        }

        .bs-stepper-circle {
            width: 1.8em;
            height: 1.8em;
            line-height: 0.8em;
        }

        .step-trigger {
            max-width: 95px;
        }

        .bs-stepper-label {
            font-size: 10px;
            /*uncomment if you want to truncate the text with ellipsis */
            /*text-overflow: ellipsis;*/
            /*white-space: nowrap;*/
            /*overflow: hidden;*/

        }

        .bs-stepper-line {
            flex: 1 0 10px;
        }
    }

    @media (max-width: 995px) {
        .bs-stepper-line {
            flex: 1 0 3px;
        }

        .step {
            min-width: 65px;
        }
    }

    @media (max-width: 650px) {
        .bs-stepper-header {
            width: 90%;
        }
    }
</style>
