<template>
    <div class="content-body" v-if="loading">
        <div class="elaboration-text-align-center" title="Chargement">
            <i class="fa fa-spinner fa-spin fa-10x fa-fw"></i>
        </div>
    </div>
    <div class="content-body" v-else>
        <elaboration-stepper ref="elaborationStepper" :consultation-id="consultationId" :step="step" :translations="translations" @move-step="moveToStep"></elaboration-stepper>
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 v-if="!consultationId" class="content-header-title">
                    {{ translations['CREATION_CONSULTATION'] }}
                </h3>
                <h3 v-if="consultationId" class="content-header-title">
                    {{ translations['MODIFICATION_CONSULTATION_ALT'] }}
                </h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                {{ translations['TEXT_CONSULTATIONS'] }}
                            </li>
                            <li v-if="!consultationId" class="breadcrumb-item item-chevron active">
                                {{ translations['CREATION_CONSULTATION'] }}
                            </li>
                            <li v-if="consultationId" class="breadcrumb-item item-chevron active">
                                {{ translations['MODIFICATION_CONSULTATION_ALT'] }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <elaboration-identification
            v-if="step === 'identification'"
            :consultation-id="consultationId"
            :consultation-parent-id="consultationParentId"
            :contrat-id="contratId"
            :contrat-uuid="contratUuid"
            :organism-acronym="organismAcronym"
            :translations="translations"
            @trigger-stepper="triggerStepper"
            @redirect-step="redirectToStep"
            @loading-complete="loadingComplete"
            ref="elaborationIdentification"
        ></elaboration-identification>
    </div>
</template>
<script>
import ElaborationStepper from "./ElaborationStepper";
import ElaborationIdentification from "./ElaborationIdentification";
import translationService from "../../services/translation.service";
import Routing from 'fos-router';

export default {
    components: {
        'elaboration-stepper'           : ElaborationStepper,
        'elaboration-identification'    : ElaborationIdentification,
    },
    props: ['consultationId', 'consultationParentId', 'contratId', 'contratUuid', 'organismAcronym', 'step', 'consultationUuid'],
    data() {
        return {
            loading         : true,
            translations    : {},
        }
    },
    methods: {
        getAllTranslations() {
            translationService.getAll().then((response) => {
                this.translations = response.data;
                this.loading = false;
            });
        },
        triggerStepper(payload) {
            this.$refs.elaborationStepper[payload['method']]();
        },
        moveToStep(payload) {
            if (this.step === 'identification') {
                this.$refs.elaborationIdentification.wantedStep = payload['step'];
                if (this.consultationId) {
                    this.$refs.elaborationIdentification.triggerSubmit('moveStep');
                } else {
                    this.$refs.elaborationIdentification.displayConfirmModal = true;
                }
            } else {
                this.redirectToStep({'consultationId' : this.consultationId, 'consultationUuid': this.consultationUuid, 'wantedStep' : payload['step']});
            }
        },
        redirectToStep(payload) {
            if (payload['wantedStep'] === 'identification') {
                window.location.href = Routing.generate('agent_consultation_modification', { uuid: payload['consultationUuid'] });
            } else if (payload['wantedStep'] === 'publicite') {
                window.location.href = Routing.generate('agent_consultation_publicite', { uuid: payload['consultationUuid'] });
            } else {
                let encodedId = btoa(payload['consultationId']);
                window.location.href = '/index.php?page=Agent.FormulaireConsultation&fullWidth=true&id=' + encodedId + '&etape=' + payload['wantedStep'];
            }
        },
        loadingComplete() {
            this.$refs.elaborationStepper.isStepperDisabled = false;
        }
    },
    created() {
        this.getAllTranslations();
    }
};
</script>
<style>
.breadcrumb .breadcrumb-item+.item-chevron:before {
    content: ">";
}
</style>
