<template>
    <div class="form-group row">
        <div class="col-11 col-lg-11 col-md-11">
            <multiselect
                v-model="selectedLieux"
                label="denomination1"
                track-by="id"
                :placeholder="translations['DEFINE_LIEUX_EXECUTION']"
                id="js-zip-codes"
                open-direction="bottom"
                :options="listeLieux"
                :preserveSearch="true"
                :multiple="true"
                :searchable="true"
                :internal-search="false"
                :clear-on-select="true"
                :close-on-select="true"
                :options-limit="200"
                :max-height="1000"
                :show-no-results="false"
                :showNoOptions="false"
                :custom-label="customLabel"
                :hide-selected="false"
                :show-labels="false"
                :disabled="isDisabled"
                @search-change="asyncFind"
                @select="optionPlacesSelected"
                data-tnr="multiselectLieux"
                :class="{ 'border-error-message': !isValid }"
            >
            </multiselect>
        </div>
        <div v-if="displayButton" class="col-1 col-lg-1 col-md-1" style="max-height: 41px">
            <button type="button" class="btn btn-outline-primary" :title="translations['DEFINE_TEXT_EDITER']" @click="openModal" style="width: 100%">
                <i class="fa fa-map"></i>
            </button>
        </div>
        <Teleport to="body">
            <Transition name="map-modal" v-if="showMap">
                <div class="map-modal-mask">
                    <div class="map-modal-container" :class="{ 'map-modal-container-scale-down': scale }">
                        <div class="modal-header">
                            <h3>{{ translations['DEFINE_LIEUX_EXECUTION'] }}</h3>
                            <button class="btn" @click="closeModal"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="modal-body modal-body-description">
                            {{ translations['DEFINE_MSG_LIEUX_EXECUTION'] }}
                        </div>
                        <div class="modal-body form-group" v-if="loading">
                            <div class="elaboration-text-align-center" title="Chargement">
                                <i class="fa fa-spinner fa-spin fa-10x fa-fw"></i>
                            </div>
                        </div>
                        <div class="modal-body form-group row" v-else>
                            <div class="col-8 col-lg-8 col-md-8" style="text-align: center">
                                <map-departments v-if="mode === 'departmentCustom'" @click-department-add="addDepartments" @click-department-remove="removeDepartments" :map-data="mapData" :selected-departments="selectedLieux" :local-mode="true"></map-departments>
                                <map-departments v-if="mode === 'department'" @click-department-add="addDepartments" @click-department-remove="removeDepartments" :map-data="originalMapData" :selected-departments="selectedLieux" :local-mode="false"></map-departments>
                                <map-regions v-if="mode === 'region'" @click-region-add="addDepartments" @click-region-remove="removeDepartments" :map-data="originalMapData" :selected-departments="selectedLieux"></map-regions>
                            </div>
                            <div class="col-4 col-lg-4 col-md-4" style="text-align: center">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 2rem;margin-left: -15px;margin-right: -15px">
                                    <label class="btn btn-outline-primary active modal-button-mode" v-if="localMode">
                                        <input type="radio" value="departmentCustom" v-model="mode">{{ translations['DEPARTEMENTS_DE_REGION'] }}
                                    </label>
                                    <label v-if="!disableNationalMap" class="btn btn-outline-primary modal-button-mode" :class="{ 'active' : !localMode }">
                                        <input type="radio" value="department" v-model="mode">{{ translations['DEPARTEMENT'] }}
                                    </label>
                                    <label v-if="!disableNationalMap" class="btn btn-outline-primary modal-button-mode">
                                        <input type="radio" value="region" v-model="mode">{{ translations['REGIONS'] }}
                                    </label>
                                </div>
                                <div class="row map-modal-liste-selection">
                                    <div class="col-8 col-lg-8 col-md-8" style="text-align: left">
                                        {{ translations['DEFINE_MA_SELECTION_ACTUELLE'] }}
                                    </div>
                                    <div class="col-4 col-lg-4 col-md-4" style="text-align: right">
                                        <span class="elaboration-cursor-pointer" style="font-size: 18px" :title="translations['DEFINE_ENREGISTRER_SELECTION_PREFERENCES']">
                                            <i v-if="!loadingPreferences" class="ft ft-save" style="color: #2660a4;display: grid" @click="saveAgentPreferences"></i>
                                            <i v-else class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row map-modal-scroll">
                                    <ul style="text-align: left">
                                        <li v-for="lieu in selectedLieux">&nbsp;{{ lieu['denomination1'] }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top: none;">
                            <button class="btn btn-primary float-right" @click="closeModal">{{ translations['DEFINE_FERMER'] }}</button>
                        </div>
                    </div>
                </div>
            </Transition>
        </Teleport>
    </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import 'vue-multiselect/dist/vue-multiselect.css'
import MapDepartments from "./MapDepartments";
import MapRegions from "./MapRegions";
import tokenService from "../../services/token.service";
import consultationService from "../../services/consultation.service";
import agentService from "../../services/agent.service";
import {useJwt} from "@vueuse/integrations/useJwt";

export default {
    components: {
        Multiselect,
        'map-departments'   : MapDepartments,
        'map-regions'       : MapRegions,
    },
    props: [
        'alreadySelectedLieux',
        'translations',
        'localMode',
        'disableNationalMap',
        'displayButton',
        'isDisabled',
        'isValid'
    ],
    emits: ['dataLoaded'],
    data() {
        return {
            loading                 : true,
            loadingPreferences      : false,
            token                   : null,
            showMap                 : false,
            originalMapData         : null,
            mapData                 : null,
            mode                    : 'department',
            selectedLieux           : [],
            listeLieux              : [],
            scale                   : false
        }
    },
    methods: {
        getToken() {
            if (this.token) {
                return Promise.resolve(true);
            } else {
                return tokenService.getToken().then((responseToken) => {
                    this.token = responseToken.data;
                });
            }
        },
        getMapData() {
            consultationService.getLieuMap().then((response) => {
                this.mapData = response.data['map'];
                this.originalMapData = response.data['originalMap'];
                this.loading = false;
            }).catch(() => {
                this.$notify({text: this.translations['ERREUR_CHARGEMENT_CARTE'], type: "error"});
            });
        },
        asyncFind: function (query) {
            if (query.length >= 2) {
                this.getToken().then(() => {
                    const options = {
                        headers: {Authorization: `Bearer ${this.token}`}, params: { itemsPerPage : 200, denomination1 : query }
                    };

                    consultationService.getGeolocalisationN2(options).then((response) => {
                        if (response.data['hydra:totalItems'] > 0) {
                            this.listeLieux = response.data['hydra:member'];
                        }
                    });
                });
            }
        },
        customLabel: function (object) {
            return object.denomination1;
        },
        loadSelectedLieux(selectedLieux) {
            this.getToken().then(() => {
                const options = {
                    headers: {Authorization: `Bearer ${this.token}`}, params: { itemsPerPage : 200, denomination2 : selectedLieux }
                };

                consultationService.getGeolocalisationN2(options).then((response) => {
                    if (response.data['hydra:totalItems'] > 0) {
                        this.selectedLieux = this.selectedLieux.concat(response.data['hydra:member']);
                    }
                    this.$emit('dataLoaded', {'stackName' : 'lieuExecution'});
                });
            });
        },
        addDepartments(payload) {
            this.loadSelectedLieux(payload['departments']);
        },
        removeDepartments(payload) {
            this.selectedLieux = this.selectedLieux.filter((element) => !payload['departments'].includes(element['denomination2']));
        },
        optionPlacesSelected() {
            this.$emit('selected-places', this.selectedLieux);
        },
        setScale() {
            if (window.screen.height < 900) {
                this.scale = true;
            }
        },
        saveAgentPreferences() {
            let selectedLieuxFavoris = [];
            this.selectedLieux.forEach((element) => {
                selectedLieuxFavoris.push(element['denomination2']);
            });

            this.loadingPreferences = true;
            tokenService.getToken().then((responseToken) => {
                this.token = responseToken.data;
                const {payload} = useJwt(this.token);
                if (payload.value['id']) {
                    const options = {
                        headers: {Authorization: `Bearer ${this.token}`, 'Content-Type': 'application/merge-patch+json'}
                    };

                    agentService.patchAgent(payload.value['id'], {lieuExecution: selectedLieuxFavoris}, options).then(() => {
                        this.$notify({text: this.translations['DEFINE_TEXT_PREFERENCE_ENREGISTRE']});
                    }).catch(() => {
                        this.$notify({text: this.translations['DEFINE_TEXT_PREFERENCE_ENREGISTRE_ERROR'], type: "error"});
                    }).finally(() => {
                        this.loadingPreferences = false;
                    });
                }
            });
        },
        openModal() {
            this.showMap = true;
            this.mode = this.localMode ? 'departmentCustom' : 'department'
        },
        closeModal() {
            this.showMap = false;
        }
    },
    created() {
        this.getMapData();
        if (this.alreadySelectedLieux && this.alreadySelectedLieux.length > 0) {
            this.loadSelectedLieux(this.alreadySelectedLieux);
        } else {
            this.$emit('dataLoaded', {'stackName' : 'lieuExecution'});
        }
        this.setScale();
    }
};
</script>
<style>
    div[data-tnr="multiselectLieux"] .multiselect__tag {
        background-color: #747474
    }
    div[data-tnr="multiselectLieux"] .multiselect__tag-icon::after {
        color: #353232;
    }

    .map-modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        transition: opacity 0.3s ease;
    }

    .map-modal-container {
        width: 60%;
        max-height: 95%;
        margin: auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        overflow: scroll;
    }

    .map-modal-container-scale-down {
        width: 80%;
        transform: scale(0.9);
    }

    .modal-body-description {
        background-color: #e1f8ff;
        border-radius: 5px;
        margin-top: 1rem;
    }

    .map-modal-liste-selection {
        text-align: center;
        margin-top: 5rem;
        font-weight: bold;
        max-height: 20px;
    }
    .map-modal-scroll {
        background-color: #f0fafb;
        border-radius: 5px;
        height: 15rem;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
        margin-top: 1rem;
    }

    .modal-button-mode {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .map-modal-enter-from {
        opacity: 0;
    }
    .map-modal-leave-to {
        opacity: 0;
    }
    .map-modal-enter-from .map-modal-container,
    .map-modal-leave-to .map-modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
