<template>
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin"
         :height="mapHeight" :width="mapWidth" :viewBox="mapViewBox"
         style="overflow: hidden; position: relative;" @click="onClickDepartment($event)">
        <path v-for="item in allMapItems"
            :d="(localMode && item['local_path']) ? item['local_path'] : item['path']" :id="item['nuts']"
            :fill="(localMode && item['local_color']) ? item['local_color'] : item['color']" stroke="#ffffff" stroke-linejoin="round" stroke-width="1.1"
            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; cursor: pointer;"></path>
    </svg>
</template>
<script>

export default {
    props: ['mapData', 'selectedDepartments', 'localMode'],
    data() {
        return {
            allMapItems : [],
            mapHeight   : 450,
            mapWidth    : 450,
            mapViewBox  : "50 -25 800 100"
        }
    },
    methods: {
        setMapItems() {
            if (this.localMode && this.mapData.canvas_local_subitems) {
                this.mapHeight = this.mapData.canvas_local_subitems.paper_height;
                this.mapWidth = this.mapData.canvas_local_subitems.paper_width;
                this.mapViewBox = this.mapData.canvas_local_subitems.x + ' ' + this.mapData.canvas_local_subitems.y + ' ' + this.mapData.canvas_local_subitems.width + ' ' + this.mapData.canvas_local_subitems.height;
            }
            for (const item of this.mapData.items.tab) {
                if (!this.localMode) {
                    this.allMapItems = this.allMapItems.concat(item.subitems.tab);
                } else if (item['local']) {
                    for (const dep of item.subitems.tab) {
                        if (dep['local']) {
                            this.allMapItems.push(dep);
                        }
                    }
                }
            }
        },
        selectItemsOnMap() {
            const allSelected = [];
            this.selectedDepartments.forEach((element) => {
                allSelected.push(element['denomination2']);
            });
            this.allMapItems.forEach((element) => {
                const el = document.getElementById(element.nuts);
                if (el) {
                    if (allSelected.includes(element.code)) {
                        el.style.fill = (this.localMode && element.local_selcolor) ? element.local_selcolor : this.mapData.features.selcolor;
                    } else {
                        el.style.fill = (this.localMode && element.local_color) ? element.local_color : element.color;
                    }
                }
            });
        },
        onClickDepartment(event) {
            const id = event.target.id;
            const item = this.allMapItems.find(e => id === e.nuts);

            if (!item) {
                event.target.style.fill = 'black';
                return;
            }

            const selected = this.selectedDepartments.find(e => e['denomination2'] == item.code);
            if (!selected) {
                this.$emit('click-department-add', {'departments' : [item.code]});
                event.target.style.fill = (this.localMode && item.local_selcolor) ? item.local_selcolor : this.mapData.features.selcolor;
            } else {
                this.$emit('click-department-remove', {'departments' : [item.code]});
                event.target.style.fill = (this.localMode && item.local_color) ? item.local_color : item.color;
            }
        }
    },
    created() {
        this.setMapItems();
    },
    mounted() {
        this.selectItemsOnMap();
    }
};
</script>
