<template>
    <svg xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="xMinYMin"
         style="overflow: hidden; position: relative"
         :height="mapHeight" :width="mapWidth" :viewBox="mapViewBox"
         @click="onClickRegion($event)">
        <path v-for="item in regions"
              :d="item['path']" :id="item['nuts']"
              :fill="item['color']" stroke="#ffffff" stroke-linejoin="round" stroke-width="1.1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; cursor: pointer;"></path>
    </svg>
</template>
<script>

export default {
    props: ['mapData', 'selectedDepartments'],
    data() {
        return {
            regions : [],
            mapHeight   : 450,
            mapWidth    : 450,
            mapViewBox  : "-222 141 400 440"
        }
    },
    methods: {
        setMapItems() {
            for (let item of this.mapData.items.tab) {
                item['selected'] = false;
                this.regions.push(item);
            }
        },
        getSelectedDepartmentsDenomination() {
            const allSelected = [];
            this.selectedDepartments.forEach((element) => {
                allSelected.push(element['denomination2']);
            });

            return allSelected;
        },
        selectItemsOnMap() {
            const allSelected = this.getSelectedDepartmentsDenomination();
            this.regions.forEach((element, index) => {
                for (let [indexDep, dep] of element.subitems.tab.entries()) {
                    if (!allSelected.includes(dep.code)) {
                        break;
                    }
                    if ((element.subitems.tab.length - 1) === indexDep) {
                        const el = document.getElementById(element.nuts);
                        el.style.fill = this.mapData.features.selcolor;
                        this.regions[index].selected = true;
                    }
                }
            });
        },
        onClickRegion(event) {
            const id = event.target.id;
            const item = this.regions.find(e => id === e.nuts);

            if (!item) {
                event.target.style.fill = 'black';
                return;
            }

            if (!item.selected) {
                const allSelected = this.getSelectedDepartmentsDenomination();

                let departmentsToAdd = [];
                for (const dep of item.subitems.tab) {
                    if (!allSelected.includes(dep.code)) {
                        departmentsToAdd.push(dep.code);
                    }
                }
                if (departmentsToAdd.length > 0) {
                    this.$emit('click-region-add', {'departments' : departmentsToAdd});
                }

                event.target.style.fill = this.mapData.features.selcolor;
                item.selected = true;
            } else {
                let departmentsToRemove = [];
                for (const dep of item.subitems.tab) {
                    departmentsToRemove.push(dep.code);
                }
                this.$emit('click-region-remove', {'departments' : departmentsToRemove});

                event.target.style.fill = item.color;
                item.selected = false;
            }
        }
    },
    created() {
        this.setMapItems();
    },
    mounted() {
        this.selectItemsOnMap();
    }
};
</script>
