<template>
    <notifications width="20%" class="notifications-toaster"/>
    <div class="content-body">
        <div class="content-header row" v-if="!loading">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">
                    {{ translations['MODIFICATION_CONSULTATION_ALT'] }}
                </h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                {{ translations['TEXT_CONSULTATIONS'] }}
                            </li>
                            <li class="breadcrumb-item item-chevron active">
                                {{ translations['MODIFICATION_APRES_VALIDATION'] }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-26" v-if="loading">
            <div class="card-body">
                <div class="text-align-center" title="Chargement">
                    <i class="fa fa-spinner fa-spin fa-10x fa-fw"></i>
                </div>
            </div>
        </div>
        <form id="modificationConsultationEnLigne" name="modificationConsultationEnLigne" v-on:submit.prevent="onSubmit" v-if="!loading">
            <div class="card mb-26">
                <div class="card-body">
                    <div class="col-12 col-lg-12 col-md-12 row cursor-pointer" @click="panel.informations = !panel.informations">
                        <div class="col-10 col-lg-10 col-md-10">
                            <h4>Informations</h4>
                        </div>
                        <div class="col-2 col-lg-2 col-md-2 text-align-right">
                            <i v-if="panel.informations" class="ft ft-chevrons-up fa-2x"></i>
                            <i v-else class="ft ft-chevrons-down fa-2x"></i>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12 col-lg-12 col-md-12 row">
                        <div class="col-4 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="form_reference">
                                    {{ translations['DEFINE_TEXT_REFERENCE'] }}
                                </label>
                                <input id="form_reference" v-model="consultation.reference" type="text" class="form-control" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="form_objet">
                                    {{ translations['DEFINE_OBJET_CONSULTATION'] }}
                                </label>
                                <input id="form_objet" v-model="consultation.objet" type="text" class="form-control" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="form_dlro">
                                    {{ translations['DATE_REMISE_ALT'] }}
                                </label>
                                <input id="form_dlro" :value="consultation.dateLimiteRemisePlisFormat" type="text" class="form-control" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div v-show="panel.informations">
                        <div class="col-12 col-lg-12 col-md-12 row">
                            <div class="col-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="form_intitule">
                                        {{ translations['DEFINE_INTITULE_CONSULTATION'] }}
                                    </label>
                                    <input id="form_intitule" v-model="consultation.intitule" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="form_organisme">
                                        {{ translations['ENTITE_PUBLIQUE'] }}
                                    </label>
                                    <input id="form_organisme" v-model="consultation.organismeLabel" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="form_service">
                                        {{ translations['ENTITE'] }}
                                    </label>
                                    <input id="form_service" v-model="consultation.directionServiceLabel" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-md-12 row">
                            <div class="col-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="form_type_contrat">
                                        {{ translations['DEFINE_TYPE_CONTRAT'] }}
                                    </label>
                                    <input id="form_type_contrat" v-model="consultation.typeContratLabel" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="form_type_procedure">
                                        {{ translations['TEXT_TYPE_PROCEDURE'] }}
                                    </label>
                                    <input id="form_type_procedure" v-model="consultation.typeProcedureLabel" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="form_categorie">
                                        {{ translations['DEFINE_CATEGORIE_PRINCIPALE'] }}
                                    </label>
                                    <input id="form_categorie" v-model="consultation.naturePrestationLabel" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-md-12 row">
                            <template v-if="parametrageModules && parametrageModules['valeurEstimee']">
                                <div class="col-3 col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="form_type_contrat">
                                            {{ translations['DEFINE_MONTANT_ESTIMATIF_CONTRAT'] }}
                                        </label>
                                        <input id="form_type_contrat" v-model="consultation.valeurEstimee" type="text" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-1 col-lg-1 col-md-1 d-flex align-items-center">
                                    {{ translations['DEFINE_EURO_HT'] }}
                                </div>
                            </template>
                        </div>
                        <div class="col-12 col-lg-12 col-md-12 row" v-if="parametrageModules && parametrageModules['lieuxExecution']">
                            <div class="col-12 col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="form_lieuExecution">{{ translations['DEFINE_LIEUX_EXECUTION'] }}</label>
                                    <lieu-execution
                                        ref="lieuExecution"
                                        :already-selected-lieux="consultation.lieuxExecution"
                                        :translations="translations"
                                        :overload-map="false"
                                        :display-button="false"
                                        :is-disabled="true"
                                        :is-valid="true"
                                    ></lieu-execution>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12 col-md-12 row" v-if="parametrageProcedure && parametrageProcedure['cpv']">
                            <div class="col-12 col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="form_codeCpv">{{ translations['TEXT_CODE_CPV'] }}</label>
                                    <code-referentiel
                                        ref="codeCpv"
                                        config-path="cpv-config.xml"
                                        :check-nature="false"
                                        :nature-prestation="consultation.naturePrestation"
                                        :already-selected-references="alreadySelectedCpv"
                                        :display-button="false"
                                        :placeholder-label="translations['TEXT_CODE_CPV']"
                                        :translations="translations"
                                        :is-disabled="true"
                                        :is-valid="true"
                                    ></code-referentiel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-26">
                <div class="card-body">
                    <div class="col-12 col-lg-12 col-md-12 row cursor-pointer" @click="panel.calendar = !panel.calendar">
                        <div class="col-10 col-lg-10 col-md-10">
                            <h4>{{ translations['DEFINE_CALENDRIER'] }}</h4>
                        </div>
                        <div class="col-2 col-lg-2 col-md-2 text-align-right">
                            <i v-if="panel.calendar" class="ft ft-chevrons-up fa-2x"></i>
                            <i v-else class="ft ft-chevrons-down fa-2x"></i>
                        </div>
                    </div>
                    <hr>
                    <div v-show="panel.calendar">
                        <div class="row col-12 mb-2">
                            <div class="col-md-12">
                                <label for="form_datefinDate" class="required">
                                    {{ translations['DATE_REMISE_ALT'] }}
                                </label>
                            </div>
                            <div class="col-md-2">
                                <VueDatePicker
                                    v-model="consultation.dateLimiteRemisePlis"
                                    locale="fr"
                                    format="dd/MM/yyyy HH:mm"
                                    select-text="Valider"
                                    cancel-text="Fermer"
                                    auto-apply
                                    :close-on-auto-apply="false"
                                    @update:model-value="miseAJourDateLimiteRemisePlisLocale"
                                    :class="{ 'border-error-message': !formControl.dateLimiteRemisePlis.valid }">
                                </VueDatePicker>
                                <span v-if="!formControl.dateLimiteRemisePlis.valid" class="color-error-message">{{formControl.dateLimiteRemisePlis.message}}</span>
                            </div>
                        </div>
                        <template v-if="parameters && parameters['localTimeZoneEnabled']">
                            <div class="row col-12 mb-2">
                                <div class="col-md-12">
                                    <label for="form_datefinDate" class="required">
                                        {{ translations['TEXT_DATE_HEURE_LIMITE_REMISE_PLIS_LOCALE'] }}
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <VueDatePicker
                                        v-model="consultation.dateLimiteRemisePlisLocale"
                                        locale="fr" format="dd/MM/yyyy HH:mm"
                                        select-text="Valider"
                                        cancel-text="Fermer"
                                        auto-apply
                                        :close-on-auto-apply="false"
                                        :class="{ 'border-error-message': !formControl.dateLimiteRemisePlisLocale.valid }">
                                    </VueDatePicker>
                                    <span v-if="!formControl.dateLimiteRemisePlisLocale.valid"
                                          class="color-error-message">{{formControl.dateLimiteRemisePlisLocale.message}}
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 mb-2">
                                <div class="form-group col-4 col-lg-4 col-md-4">
                                    <label for="form_lieu_residence" class="required">
                                        {{ translations['DEFINE_LIEU_RESIDENCE'] }}
                                    </label>
                                    <input id="form_lieu_residence"
                                           v-model="consultation.lieuResidence"
                                           type="text" class="form-control"
                                           :class="{ 'border-error-message': !formControl.lieuResidence.valid }">
                                    <span v-if="!formControl.lieuResidence.valid"
                                          class="color-error-message">{{formControl.lieuResidence.message}}
                                    </span>
                                </div>
                            </div>
                        </template>
                        <div class="row col-12 mb-2" v-if="parametrageProcedure && parametrageProcedure['accesConsultationEntrepriseApresDate']['yes']['display']">
                            <div class="col-md-12">
                                <label for="form_poursuivreAffichage" class="required">
                                    {{ translations['DEFINE_AFFICHAGE_CONSULTATION_ENTREPRISES'] }}
                                </label>
                            </div>
                            <div class="col-md-12">
                                <input type="radio" :value="false" v-model="consultation.poursuivreAffichageToogle" id="form_poursuivreAffichageNon"/>&nbsp;
                                <label for="form_poursuivreAffichageNon">{{ translations['DEFINE_JUSQUA_DATE_LIMITE_REMISE_PLIS'] }}</label>
                            </div>
                            <div class="col-md-12">
                                <input type="radio" :value="true" v-model="consultation.poursuivreAffichageToogle" id="form_poursuivreAffichageOui"/>&nbsp;
                                <label for="form_poursuivreAffichageOui">
                                    {{ translations['DEFINE_POURSUIVRE_AFFICHAGE_ENTREPRISE'] }}
                                    <select v-model="consultation.poursuivreAffichageUniteSelect" v-if="parameters">
                                        <option v-for="option in parameters['poursuivreAffichageOptions']" :value="option[0] + '-' + option[1]">
                                            {{ option[0] + ' ' + translations[option[1] + (option[0] > 1 ? 'S' : '')] }}
                                        </option>
                                    </select>
                                    {{ translations['DEFINE_APRES_DATE_LIMITE_REMISE_PLIS'] }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-26" v-if="displayComplementaryPanel">
                <div class="card-body">
                    <div class="col-12 col-lg-12 col-md-12 row cursor-pointer" @click="panel.complementary = !panel.complementary">
                        <div class="col-10 col-lg-10 col-md-10">
                            <h4>{{ translations['INFOROMATIONS_COMPLEMANTAIRES_SIGNATURE'] }}</h4>
                        </div>
                        <div class="col-2 col-lg-2 col-md-2 text-align-right">
                            <i v-if="panel.complementary" class="ft ft-chevrons-up fa-2x"></i>
                            <i v-else class="ft ft-chevrons-down fa-2x"></i>
                        </div>
                    </div>
                    <hr>
                    <div v-show="panel.complementary">
                        <div class="row col-12 mb-2" v-if="parametrageModules && parametrageModules['adresseRetraisDossiers']">
                            <div class="form-group col-4 col-lg-4 col-md-4">
                                <label for="form_adresse_retrais_dossiers" class="required">
                                    {{ translations['MODALITES_RETRAIT_DOSSIER'] }}
                                </label>
                                <textarea id="form_adresse_retrais_dossiers" class="form-control" v-model="consultation.adresseRetraisDossiers" :class="{ 'border-error-message': !formControl.adresseRetraisDossiers.valid }"></textarea>
                                <span v-if="!formControl.adresseRetraisDossiers.valid" class="color-error-message">{{formControl.adresseRetraisDossiers.message}}</span>
                            </div>
                        </div>
                        <div class="row col-12 mb-2" v-if="parametrageModules && parametrageModules['adresseDepotOffres']">
                            <div class="form-group col-4 col-lg-4 col-md-4">
                                <label for="form_adresse_depot_offres" class="required">
                                    {{ translations['RECEPTION_OFFRES_CANDIDATURES'] }}
                                </label>
                                <textarea id="form_adresse_depot_offres" class="form-control" v-model="consultation.adresseDepotOffres" :class="{ 'border-error-message': !formControl.adresseDepotOffres.valid }"></textarea>
                                <span v-if="!formControl.adresseDepotOffres.valid" class="color-error-message">{{formControl.adresseDepotOffres.message}}</span>
                            </div>
                        </div>
                        <div class="row col-12 mb-2" v-if="parametrageModules && parametrageModules['lieuOuverturePlis']">
                            <div class="form-group col-4 col-lg-4 col-md-4">
                                <label for="form_lieu_ouverture_plis">
                                    {{ translations['LIEU_OUVERTURE_OFFRES_REMISE'] }}
                                </label>
                                <textarea id="form_lieu_ouverture_plis" class="form-control" v-model="consultation.lieuOuverturePlis"></textarea>
                            </div>
                        </div>
                        <lt-referentiel ref="LtReferentiel" :token="token" :consultation-id="consultationId" :parametrage-modules="parametrageModules"></lt-referentiel>
                    </div>
                </div>
            </div>
            <div class="card mb-26">
                <div class="card-body">
                    <div class="col-12 col-lg-12 col-md-12 row cursor-pointer" @click="panel.pieces = !panel.pieces">
                        <div class="col-10 col-lg-10 col-md-10">
                            <h4>{{ translations['TEXT_PIECES_CONSULTATION'] }}</h4>
                        </div>
                        <div class="col-2 col-lg-2 col-md-2 text-align-right">
                            <i v-if="panel.pieces" class="ft ft-chevrons-up fa-2x"></i>
                            <i v-else class="ft ft-chevrons-down fa-2x"></i>
                        </div>
                    </div>
                    <hr>
                    <div v-show="panel.pieces">
                        <div class="col-12 col-lg-12 col-md-12 row mb-1" v-if="parametrageProcedure && parametrageProcedure['dcePartialDownload']['yes']['display']">
                            <div class="col-12 col-lg-12 col-md-12">
                                <input type="checkbox" v-model="consultation.dcePartialDownload" :disabled="parametrageProcedure['dcePartialDownload']['yes']['fixed']" id="form_dce_partial_download" class="cursor-pointer">&nbsp;
                                <label for="form_dce_partial_download" class="cursor-pointer">{{ translations['DEFINE_TELECHARGEMENT_PARTIEL_DCE'] }}</label>
                            </div>
                        </div>
                        <upload-file
                            v-if="parametrageProcedure"
                            ref="uploadFile"
                            :token="token"
                            :consultation-id="consultationId"
                            :organismAcronym="getLastSplitFromIri(consultation.organisme)"
                            :base-dce-module="parameters && parameters['baseDceEnabled']"
                            :selected-places="{}"
                            :nature-prestation="consultation.naturePrestationLabel"
                            :display-redac="(parametrageProcedure['redac'] ? parametrageProcedure['redac']['yes']['display'] : null) && consultation.donneeComplementaireObligatoire"
                            :parametrage-procedure="parametrageProcedure"
                            :translations="translations"
                        ></upload-file>
                    </div>
                </div>
            </div>
            <div class="card mb-26">
                <div class="card-body">
                    <div class="col-12 col-lg-12 col-md-12 row">
                        <div class="col-12 col-lg-12 col-md-12">
                            <input type="checkbox" v-model="goToMessec" id="form_envoi_information" class="cursor-pointer">&nbsp;
                            <label for="form_envoi_information" class="cursor-pointer">{{ translations['TEXT_ENVOI_INFORMATION_MODIF_ENTREPRISE'] }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-lg-6 col-md-6 float-left">
                    <button type="button" class="btn btn-light" id="cancelButton" @click="goToDetails">
                        {{ translations['TEXT_ANNULER'] }}
                    </button>
                </div>
                <div class="col-6 col-lg-6 col-md-6 float-right">
                    <button type="submit" class="btn btn-primary primary-client-bg-border btnValidation" id="submitButton" :disabled="savingConsultation">
                        <span v-if="!savingConsultation">
                            {{ translations['TEXT_VALIDER'] }}
                        </span>
                        <span v-else>
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
import 'bs-stepper/dist/css/bs-stepper.min.css';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import dateFormat, { masks } from "dateformat";

import tokenService from "../../services/token.service";
import consultationService from "../../services/consultation.service";
import translationService from "../../services/translation.service";
import utilsService from "../../services/utils.service";
import LieuExecution from "./LieuExecution";
import CodeReferentiel from "./CodeReferentiel";
import elaborationIdentificationService from "../../services/elaborationIdentification.service";
import referentielService from "../../services/referentiel.service";
import UploadFile from "./UploadFile";
import LtReferentiel from "./LtReferentiel.vue";



export default {
    components: {
        VueDatePicker,
        'lieu-execution'        : LieuExecution,
        'code-referentiel'      : CodeReferentiel,
        'upload-file'           : UploadFile,
        'lt-referentiel'        : LtReferentiel
    },
    props: ['consultationId', 'encryptedConsultationId'],
    data() {
        return {
            loading                     : true,
            token                       : null,
            savingConsultation          : false,
            translations                : {},
            parameters                  : null,
            parametrageModules          : null,
            parametrageProcedure        : null,
            alreadySelectedCpv          : [],
            goToMessec                  : true,
            panel                       : {
                informations                    : false,
                calendar                        : true,
                pieces                          : true,
                complementary                   : false
            },
            promises                    : {
                parameters                      : null,
                parametrageProcedure            : null
            },
            consultation                : {
                organisme                       : null,
                organismeLabel                  : null,
                directionService                : null,
                directionServiceLabel           : null,
                typeContrat                     : null,
                typeContratLabel                : null,
                typeProcedure                   : null,
                typeProcedureLabel              : null,
                naturePrestation                : null,
                naturePrestationLabel           : null,
                reference                       : null,
                valeurEstimee                   : null,
                intitule                        : '',
                objet                           : '',
                lieuxExecution                  : [],
                codeCpvPrincipal                : null,
                codeCpvSecondaire1              : null,
                codeCpvSecondaire2              : null,
                codeCpvSecondaire3              : null,
                donneeComplementaireObligatoire : null,
                dateLimiteRemisePlis            : null,
                dateLimiteRemisePlisFormat      : null,
                dateLimiteRemisePlisLocale      : null,
                dateLimiteRemisePlisLocaleFormat: null,
                lieuResidence                   : null,
                poursuivreAffichage             : null,
                poursuivreAffichageUnite        : null,
                poursuivreAffichageToogle       : false,
                poursuivreAffichageUniteSelect  : null,
                adresseRetraisDossiers          : null,
                adresseDepotOffres              : null,
                lieuOuverturePlis               : null,
                dcePartialDownload              : null
            },
            formControl : {
                dateLimiteRemisePlis            : {type : 'required', valid : true, message : ''},
                dateLimiteRemisePlisLocale      : {type : 'custom', valid : true, message : ''},
                lieuResidence                   : {type : 'custom', valid : true, message : ''},
                adresseRetraisDossiers          : {type : 'custom', valid : true, message : ''},
                adresseDepotOffres              : {type : 'custom', valid : true, message : ''},
                dce                             : {type : 'custom', valid : true},
            }
        }
    },
    computed: {
        displayComplementaryPanel() {
            return this.parametrageModules &&
                (this.parametrageModules['adresseRetraisDossiers'] || this.parametrageModules['adresseDepotOffres']
                    || this.parametrageModules['lieuOuverturePlis'] || this.parametrageModules['autresInformations'] || this.parametrageModules['visiteLieuxReunion']);
        }
    },
    methods: {
        ...utilsService,
        getAllTranslations() {
            translationService.getAll().then((response) => {
                this.translations = response.data;
            });
        },
        getOrganisme() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };
            referentielService.getOrganismeById(utilsService.getLastSplitFromIri(this.consultation.organisme), options).then((response) => {
                this.consultation.organismeLabel = response.data['denomination'];
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_ORGANISMES'],
                    type:   "error"
                });
            });
        },
        getService() {
            if (!this.consultation.directionService) {
                return;
            }
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };
            referentielService.getServiceById(utilsService.getLastSplitFromIri(this.consultation.directionService), options).then((response) => {
                this.consultation.directionServiceLabel = response.data['libelle'];
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_SERVICES'],
                    type:   "error"
                });
            });
        },
        getTypeProcedure() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };
            referentielService.getTypeProcedureById(utilsService.getLastSplitFromIri(this.consultation.typeProcedure), options).then((response) => {
                this.consultation.typeProcedureLabel = response.data['libelle'];
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_PROCEDURES'],
                    type:   "error"
                });
            });
        },
        getCategorie() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };
            referentielService.getCategorieById(utilsService.getLastSplitFromIri(this.consultation.naturePrestation), options).then((response) => {
                this.consultation.naturePrestationLabel = response.data['libelle'];
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_CATEGORIES'],
                    type:   "error"
                });
            });
        },
        getTypeContrat() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };
            referentielService.getTypeContratById(utilsService.getLastSplitFromIri(this.consultation.typeContrat), options).then((response) => {
                this.consultation.typeContratLabel = response.data['libelle'];
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_TYPES_CONTRATS'],
                    type:   "error"
                });
            });
        },
        getParametrageModules() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}, params: { itemsPerPage : 100 }
            };
            consultationService.getParametrageModules(options).then((response) => {
                this.parametrageModules = response.data;
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_PARAMETRAGE_MODULES'],
                    type:   "error"
                });
            });
        },
        getParametrageProcedure() {
            let splitIri = this.consultation.typeProcedure.split('/');
            let typeProcedureId = splitIri[splitIri.length - 1];
            let indexEnd = typeProcedureId.indexOf(';organisme');
            let typeProcedureOnlyId = typeProcedureId.substring(16, indexEnd);

            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/json'}
            };
            this.promises.parametrageProcedure = consultationService.getParametrageProcedure(typeProcedureOnlyId, options).then((response) => {
                this.parametrageProcedure = response.data;
            }).catch(() => {
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_TYPES_PROCEDURES'],
                    type:   "error"
                });
            });
        },
        handleDataFromConsultation() {
            this.consultation.dateLimiteRemisePlisFormat = dateFormat(this.consultation.dateLimiteRemisePlis, 'dd/mm/yyyy HH:MM');
            this.alreadySelectedCpv = elaborationIdentificationService.getAlreadySelectedCpv(this.consultation);

            Promise.all([this.promises.parametrageProcedure, this.promises.parameters]).then(() => {
                if (this.parameters['localTimeZoneEnabled'] && this.consultation.dateLimiteRemisePlisLocale && this.consultation.dateLimiteRemisePlisLocale !== '0000-00-00 00:00:00') {
                    this.consultation.dateLimiteRemisePlisLocaleFormat = dateFormat(this.consultation.dateLimiteRemisePlisLocale, 'dd/mm/yyyy HH:MM');
                }
                if (this.parametrageProcedure['accesConsultationEntrepriseApresDate']['yes']['display']) {
                    this.consultation.poursuivreAffichageToogle = this.consultation.poursuivreAffichage > 0;

                    this.parameters['poursuivreAffichageOptions'].forEach((element) => {
                        if (
                            element[0] == this.consultation.poursuivreAffichage
                            && element[1] == this.consultation.poursuivreAffichageUnite
                        ) {
                            this.consultation.poursuivreAffichageUniteSelect = element[0] + '-' + element[1];
                        }
                    });
                    if (!this.consultation.poursuivreAffichageUniteSelect) {
                        this.parameters['poursuivreAffichageOptions'].forEach((element) => {
                            if (
                                element[0] == this.parametrageProcedure['accesConsultationEntrepriseApresDate']['yes']['parameters']['delai']
                                && element[1] == this.parametrageProcedure['accesConsultationEntrepriseApresDate']['yes']['parameters']['unit']
                            ) {
                                this.consultation.poursuivreAffichageUniteSelect = element[0] + '-' + element[1];
                            }
                        });

                    }
                }
            });
        },
        getDefaultParameters() {
            this.promises.parameters = consultationService.getDefaultParameters().then((response) => {
                this.parameters = response.data;
            });
        },
        loadConsultation() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Accept': 'application/ld+json'}
            };
            consultationService.getConsultationById(this.consultationId, options).then((response) => {
                this.consultation = response.data;
                this.getParametrageModules();
                this.getParametrageProcedure();
                this.getOrganisme();
                this.getService();
                this.getTypeContrat();
                this.getTypeProcedure();
                this.getCategorie();
                this.handleDataFromConsultation();
                this.loading = false;
            }).catch((error) => {
                console.log(error);
                this.$notify({
                    text:   this.translations['ERREUR_CHARGEMENT_CONSULTATION'],
                    type:   "error"
                });
            });
        },
        validateForm() {
            for (const property in this.formControl) {
                this.formControl[property].valid = true;
                if (this.formControl[property].type === 'required' && (!this.consultation[property])) {
                    this.formControl[property].valid = false;
                    this.formControl[property].message = this.translations['CHAMP_OBLIGATOIRE_ALT'];
                }
            }
            if (this.parameters && this.parameters['localTimeZoneEnabled']) {
                if (this.consultation.dateLimiteRemisePlisLocale === null) {
                    this.formControl.dateLimiteRemisePlisLocale.valid = false;
                    this.formControl.dateLimiteRemisePlisLocale.message = this.translations['CHAMP_OBLIGATOIRE_ALT'];
                }
                if (!this.consultation.lieuResidence) {
                    this.formControl.lieuResidence.valid = false;
                    this.formControl.lieuResidence.message = this.translations['CHAMP_OBLIGATOIRE_ALT'];
                }
            }
            if (this.parametrageModules && this.parametrageModules['adresseRetraisDossiers']) {
                if (!this.consultation.adresseRetraisDossiers) {
                    this.formControl.adresseRetraisDossiers.valid = false;
                    this.formControl.adresseRetraisDossiers.message = this.translations['CHAMP_OBLIGATOIRE_ALT'];
                }
            }
            if (this.parametrageModules && this.parametrageModules['adresseDepotOffres']) {
                if (!this.consultation.adresseDepotOffres) {
                    this.formControl.adresseDepotOffres.valid = false;
                    this.formControl.adresseDepotOffres.message = this.translations['CHAMP_OBLIGATOIRE_ALT'];
                }
            }

            this.formControl.dce.valid = this.$refs.uploadFile.validateForm();

            for (const property in this.formControl) {
                if (!this.formControl[property].valid) {
                    this.panel.calendar = true;
                    this.panel.complementary = true;
                    this.panel.pieces = true;
                    return false;
                }
            }

            return true;
        },
        prePatch(body) {
            if (this.parameters['localTimeZoneEnabled']) {
                body['dateLimiteRemisePlisLocale'] = this.consultation.dateLimiteRemisePlisLocale;
                body['lieuResidence'] = this.consultation.lieuResidence;
            }
            if (this.parametrageProcedure['accesConsultationEntrepriseApresDate']['yes']['display']) {
                if (this.consultation.poursuivreAffichageToogle) {
                    let split = this.consultation.poursuivreAffichageUniteSelect.split('-');
                    if (split) {
                        body['poursuivreAffichage'] = parseInt(split[0]);
                        body['poursuivreAffichageUnite'] = split[1];
                    }
                } else {
                    body['poursuivreAffichage'] = 0;
                }
            }
            if (this.parametrageModules['adresseRetraisDossiers']) {
                body['adresseRetraisDossiers'] = this.consultation.adresseRetraisDossiers;
            }
            if (this.parametrageModules['adresseDepotOffres']) {
                body['adresseDepotOffres'] = this.consultation.adresseDepotOffres;
            }
            if (this.parametrageModules['lieuOuverturePlis']) {
                body['lieuOuverturePlis'] = this.consultation.lieuOuverturePlis;
            }
            if (this.parametrageProcedure['dcePartialDownload']['yes']['display']) {
                body['dcePartialDownload'] = this.consultation.dcePartialDownload;
            }

            return body;
        },
        onSubmit() {
            if (!this.validateForm()) {
                this.$notify({text: this.translations['FORMULAIRE_INCORRECT'], type: "warn"});
                return;
            }

            this.savingConsultation = true;
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Content-Type': 'application/merge-patch+json'}
            };
            let body = {
                dateLimiteRemisePlis : this.consultation.dateLimiteRemisePlis
            };
            body = this.prePatch(body);
            consultationService.patchConsultation(this.consultationId, body, options).then(() => {
                this.triggerComponentsSave(this.consultationId).then(() => {
                    this.postFiles(this.consultationId).then(() => {
                        this.$notify({text: this.translations['MODIFICATIONS_ENREGISTREES']});
                        if (this.goToMessec) {
                            this.openMessec();
                        }
                        this.goToDetails();
                    }).catch((error) => {
                        this.$notify({text: this.translations['ERREUR_SAUVEGARDE_DCE'], type: "error"});
                        console.log(error);
                    }).finally(() => {
                        this.savingConsultation = false;
                    });
                });
            }).catch((error) => {
                this.$notify({text: this.translations['ERREUR_ENREGISTREMENT_ALT'], type: "error"});
                console.log(error);
                this.savingConsultation = false;
            });
        },
        triggerComponentsSave(consultationId) {
            let promises = [];

            if (this.parametrageModules && (this.parametrageModules['visiteLieuxReunion'] || this.parametrageModules['autresInformations'])) {
                promises.push(this.$refs.LtReferentiel.postReferentiel(consultationId));
            }

            return Promise.all(promises);
        },
        postFiles(consultationId) {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`, 'Content-Type': 'application/json'}
            };

            let promises = [];

            if (this.$refs.uploadFile.descriptor && this.$refs.uploadFile.dce.isUpdated) {
                promises.push(consultationService.postConsultationDCE(consultationId, this.$refs.uploadFile.descriptor, options));
            }
            if (this.$refs.uploadFile.rc.filePath && this.$refs.uploadFile.rc.isUpdated) {
                promises.push(consultationService.postConsultationRC(consultationId, {'path' : this.$refs.uploadFile.rc.filePath}, options));
            }
            if (this.$refs.uploadFile.autrePiece.filePath && this.$refs.uploadFile.autrePiece.isUpdated) {
                promises.push(consultationService.postConsultationAutrePiece(consultationId, {'path' : this.$refs.uploadFile.autrePiece.filePath}, options));
            }

            return Promise.all(promises);
        },
        goToDetails() {
            window.location.href = '/index.php?page=Agent.DetailConsultation&id=' + this.consultationId;
        },
        openMessec() {
            window.open('/agent/messagerie/redaction/modification-consultation/' + this.encryptedConsultationId, '_blank');
        },
        miseAJourDateLimiteRemisePlisLocale() {
            if (this.parameters['localTimeZoneEnabled'] && this.consultation.dateLimiteRemisePlis) {
                let date = new Date(this.consultation.dateLimiteRemisePlis);
                let dateLocale = new Date(date.getTime() + date.getTimezoneOffset() * 60000);
                this.consultation.dateLimiteRemisePlisLocale = dateLocale.toISOString().slice(0, 19).replace('T', ' ');
            }
        },
    },
    created() {
        this.getAllTranslations();
        tokenService.getToken().then((responseToken) => {
            this.token = responseToken.data;

            this.getDefaultParameters();
            this.loadConsultation();
        });
    }
};
</script>
<style>
    .btnValidation {
        position: absolute;
        right: 10px;
    }
    label.required:not(.form-check-label):after,
    legend.required:after {
        color: #ff0000;
        content: " *";
    }
    .vue-notification {
        font-size: 16px !important;
    }
    .text-align-center {
        text-align: center;
    }
    .text-align-right {
        text-align: right;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .border-error-message {
        border: solid #ee1e1e !important;
    }
    .notifications-toaster {
        margin-top: 50px;
        margin-right: 30px;
    }
    .color-error-message {
        color: #ee1e1e;
        font-size: 10px;
        font-weight: bold;
    }
    /* Surcharge Calendrier */
    .dp__theme_light {
        --dp-hover-icon-color: #1976d2;
    }
</style>

