<template>
    <div>
        <span @mouseover="displayIcon = true" @mouseleave="displayIcon = false">
            <span v-if="level === 0" class="node-font-icon">
                <i v-if="!display" class="ft ft-plus node-clickable-icon" @click="display = true"></i>
                <i v-if="display" class="ft ft-minus node-clickable-icon" @click="display = false"></i>
                <i v-if="!displayIcon" class="ft ft-package node-m-l-icons"></i>
                <span v-if="displayIcon" class="node-add node-m-l-icons" title="Ajouter un fichier au DCE" @click="addNode()"><i class="ft ft-file-plus"></i></span>
            </span>
            <span v-else class="node-font-icon">
                <span v-if="node.tree">
                    <i v-if="!display" class="ft ft-plus node-clickable-icon" @click="display = true"></i>
                    <i v-if="display" class="ft ft-minus node-clickable-icon" @click="display = false"></i>
                    <i v-if="!displayIcon" class="ft ft-folder node-m-l-icons"></i>
                    <span v-if="displayIcon" class="node-add node-m-l-icons" title="Ajouter un fichier au DCE" @click="addNode()"><i class="ft ft-file-plus"></i></span>
                </span>
                <span v-if="!node.tree">
                    <i class="ft ft-corner-down-right"></i>
                    <i v-if="!node.deleted && !displayIcon" class="ft ft-file-text node-m-l-icons"></i>
                    <i v-if="node.deleted && !displayIcon" class="ft ft-file-minus node-m-l-icons node-deleted"></i>
                    <span v-if="!node.deleted && displayIcon" class="node-trash node-m-l-icons" title="Supprimer le fichier du DCE" @click="removeNode()"><i class="ft ft-trash-2"></i></span>
                    <span v-if="node.deleted && displayIcon" class="node-rewind node-m-l-icons" title="Annuler la suppression du fichier" @click="rewindNode()"><i class="ft ft-rotate-ccw"></i></span>
                </span>
            </span>
            &nbsp;
            <span v-if="!node.deleted" :class="[ node.tree ? 'node-name-folder' : 'node-name-file' ]">{{ node.name }}</span>
            <del v-if="node.deleted">
                <span class="node-name-file node-deleted">{{ node.name }}</span>
            </del>
        </span>
        <div v-if="node.tree && display" class="node-margin-folder">
            <tree-file v-for="childNode in node.tree" :node="childNode" :path="level === 0 ? '' : this.rootPath" :level="level + 1" @click-node="clickNode"></tree-file>
        </div>
    </div>
</template>
<script>

export default {
    props: ['node', 'path', 'level'],
    data() {
        return {
            display         : true,
            displayIcon     : false
        }
    },
    methods: {
        clickNode(payload) {
            this.$emit('click-node', payload);
        },
        addNode() {
            this.$emit('click-node', {'action' : 'add', 'path' : this.level === 0 ? '' : this.rootPath, 'node' : this.node});
        },
        removeNode() {
            this.node.deleted = true;
            this.$emit('click-node', {'action' : 'remove', 'path' : this.rootPath});
        },
        rewindNode() {
            this.node.deleted = false;
            this.$emit('click-node', {'action' : 'rewind', 'path' : this.rootPath});
        },
    },
    computed: {
        rootPath() {
            return this.path ? (this.path + '/' + this.node.name) : this.node.name;
        }
    }
};
</script>
<style>
    .node-m-l-icons {
        margin-left: 15px;
    }
    .node-margin-folder {
        margin-left: 40px;
        margin-top: 10px;
    }
    .node-name-folder {
        font-weight: bold;
        font-size: 16px;
    }
    .node-name-file {
        font-size: 15px;
    }
    .node-clickable-icon {
        cursor: pointer;
    }
    .node-font-icon {
        font-weight: bolder;
        font-size: 18px;
    }
    .node-trash {
        color: #d31515;
        cursor: pointer;
    }
    .node-rewind {
        color: #0e95e6;
        cursor: pointer;
    }
    .node-deleted {
        color: #d31515;
    }
    .node-add {
        color: #0e95e6;
        cursor: pointer;
    }
</style>
