<template>
    <div class="col-3 col-lg-3 col-md-3" :title="translations['TYPAGE_JO_2024']">
        <label for="type_jo">{{ translations['JO_2024'] }}</label>
        &nbsp;
        <img alt="image JO" src="/app/img/logo-jo2024.png">
    </div>
    <div class="col-1 col-lg-1 col-md-1">
        <input type="radio" :value="true" v-model="checked" id="type_jo_oui"/>&nbsp;
        <label for="type_jo_oui">{{ translations['DEFINE_OUI'] }}</label>
    </div>
    <div class="col-1 col-lg-1 col-md-1">
        <input type="radio" :value="false" v-model="checked" id="type_jo_non"/>&nbsp;
        <label for="type_jo_non">{{ translations['DEFINE_NON'] }}</label>
    </div>
</template>

<script>
import consultationTagService from "../../services/consultationTag.service";

export default {
    props: ['token', 'consultationId', 'translations'],
    data() {
        return {
            checked : false,
            tagId   : null,
        }
    },
    methods: {
        getTag() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`}, params: { tagCode : 'typageJo', 'consultation.id' : this.consultationId }
            };

            consultationTagService.getConsultationTags(options).then((response) => {
                if (response.data['hydra:totalItems'] > 0) {
                    this.checked = true;
                    this.tagId = response.data['hydra:member'][0]['id'];
                }
            });
        },
        saveTag(consultationId) {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`}
            };

            if (this.checked && (!this.consultationId || !this.tagId)) {
                let body = {
                    'tagCode'           : 'typageJo',
                    'consultation'      : '/api/v2/consultations/' + consultationId
                };
                return consultationTagService.postConsultationTags(body, options);
            } else if (!this.checked && this.tagId) {
                return consultationTagService.deleteConsultationTags(this.tagId, options);
            }

            return Promise.resolve(true);
        }
    },
    created() {
        if (this.consultationId) {
            this.getTag();
        }
    }
};
</script>
