<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card" v-show="parametrageProcedure && parametrageProcedure['reglementConsultation']['yes']['display']">
                <div class="card-header bg-primary p-1" id="headingOne">
                    <h5 class="mb-0">
                        <span class="bs-stepper-circle" :class="[ rc.isUpdated ? 'file-number-circle-updated' : 'file-number-circle' ]" :title="translations['NOMBRE_FICHIERS']">
                            {{ rc.filesNumber }}
                        </span>
                        <span v-if="rc.downloadLink" @click="downloadFile(rc.downloadLink, rc.downloadName)" :title="translations['TELECHARGER_REGLEMENT_CONSULTATION']">
                            <i class="ft ft-download download-link-icon"></i>
                        </span>
                        <span class="text-white">{{ translations['REGLEMENT_CONSULTATION'] }}</span>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body js-file-upload-container bg-light-grey">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2">
                                <b class="text-black">RC :</b>
                            </div>
                            <div class="col-md-7 custom-file">
                                <input :type="displayRedac ? 'button' : 'file'" id="rc-file-upload" class="js-input-file-upload custom-file-input"
                                       name="rc-file" data-document-type="RC" @click="handleModalMode('RC')">
                                <label class="custom-file-label" :class="{ 'custom-file-label-updated': rc.filesNumber > 0 ,'custom-file-label-alt-rc': displayRedac }" for="rc-file-upload">
                                    {{ rc.fileName ? rc.fileName : (rc.downloadName ? rc.downloadName : translations['SELECTIONNER_FICHIER']) }}
                                </label>
                                <span class="js-input-file-error text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <span class="js-file-upload-progression-bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary p-1" id="headingTwo">
                    <h5 class="mb-0 d-flex align-items-center justify-content-between">
                        <span>
                            <span class="bs-stepper-circle" :class="[ dce.isUpdated ? 'file-number-circle-updated' : 'file-number-circle' ]"
                                  :title="translations['NOMBRE_FICHIERS']">{{ dce.filesNumber }}</span>
                            <span v-if="dce.downloadLink" @click="downloadFile(dce.downloadLink, dce.downloadName)" :title="translations['TELECHARGER_DCE_ALT']"><i
                                class="ft ft-download download-link-icon"></i></span>
                            <span class="text-white">{{ translations['DEFINE_DOSSIER_CONSULTATION_ENTREPRISES'] }}</span>
                        </span>
                        <span>
                            <span class="mr-2 text-white">{{ translations['BESOIN_EXEMPLE_DCE'] }}</span>
                            <input type="button" @click="clickBaseDceModule" class="btn btn-sm text-primary bg-white" :value="translations['OUVRIR_BASE_DCE']" :disabled="!baseDceModule">
                        </span>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body js-file-upload-container bg-light-grey">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2">
                                <b class="text-black">DCE :</b>
                            </div>
                            <div class="col-md-7 custom-file">
                                <input :type="displayRedac ? 'button' : 'file'" id="dce-file-upload" class="js-input-file-upload custom-file-input"
                                       name="dce-file" data-document-type="DCE" @click="handleModalMode('DCE')">
                                <label class="custom-file-label" :class="{ 'custom-file-label-updated' : dce.filesNumber > 0, 'custom-file-label-alt-dce': displayRedac }" for="dce-file-upload">
                                    {{ dce.fileName ? dce.fileName : (dce.downloadName ? dce.downloadName : translations['SELECTIONNER_FICHIER']) }}
                                </label>
                                <span class="js-input-file-error text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <span class="js-file-upload-progression-bar"></span>
                            </div>
                        </div>
                        <div class="row" v-if="fileDescriptor">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-md-7 div-dce-help">
                                <span>{{translations['IDENTIFICATION_DCE_HELP']}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-md-7 tree-file" :class="{ 'border-error-message': !formControl.dce.valid }" v-if="fileDescriptor || loadingFileDescriptor">
                                <div v-if="loadingFileDescriptor" class="upload-file-text-align-center" title="Chargement">
                                    <i class="fa fa-spinner fa-spin fa-10x fa-fw"></i>
                                </div>
                                <tree-file v-else :node="fileDescriptor" path="" :level="0" @click-node="handleClickNode"></tree-file>
                            </div>
                            <div class="col-md-3">&nbsp;</div>
                            <div class="col-md-2">&nbsp;</div>
                            <span v-if="!formControl.dce.valid" class="color-error-message">{{formControl.dce.message}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" v-show="parametrageProcedure && parametrageProcedure['autresPiecesConsultation']['yes']['display']">
                <div class="card-header bg-primary p-1" id="headingThree">
                    <h5 class="mb-0">
                        <span class="bs-stepper-circle" :class="[ autrePiece.isUpdated ? 'file-number-circle-updated' : 'file-number-circle' ]" :title="translations['NOMBRE_FICHIERS']">
                            {{ autrePiece.filesNumber }}
                        </span>
                        <span v-if="autrePiece.downloadLink" @click="downloadFile(autrePiece.downloadLink, autrePiece.downloadName)" :title="translations['TEXT_TELECHARGER_FICHIER']">
                            <i class="ft ft-download download-link-icon"></i>
                        </span>
                        <span class="text-white">{{ translations['DEFINE_AUTRES_PIECES_TELECHARGEABLES'] }}</span>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body js-file-upload-container bg-light-grey">
                        <div class="row d-flex align-items-center mb-2">
                            <div class="col-md-2">
                                <b class="text-black">{{ translations['DEFINE_AUTRE_PIECE'] }} :</b>
                            </div>
                            <div class="col-md-7 custom-file">
                                <input type="file" id="autre-file-upload" class="js-input-file-upload custom-file-input"
                                       name="autre-file" data-document-type="AUTRE">
                                <label class="custom-file-label" :class="{ 'custom-file-label-updated': autrePiece.filesNumber > 0 }" for="autre-file-upload">
                                    {{ autrePiece.fileName ? autrePiece.fileName : (autrePiece.downloadName ? autrePiece.downloadName : translations['SELECTIONNER_FICHIER']) }}
                                </label>
                                <span class="js-input-file-error text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <span class="js-file-upload-progression-bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Teleport to="body">
            <Transition name="additional-file-modal" v-if="showAdditionalFileModal">
                <div class="additional-file-modal-mask">
                    <div class="additional-file-modal-container">
                        <div class="modal-header d-flex justify-content-center">
                            <div class="d-flex justify-content-center flex-grow-1" style="transform: translateX(10px);">
                                <h3 v-if="additionalFileModalMode.mode === 'RC'" class="modal-title">{{ translations['AJOUT_RC'] }}</h3>
                                <h3 v-else-if="additionalFileModalMode.mode === 'DCE'" class="modal-title">{{ translations['CONSTRUCTION_DCE'] }}</h3>
                                <h3 v-else class="modal-title">{{ translations['AJOUT_FICHIERS'] }}</h3>
                            </div>
                            <button class="btn" @click="closeModal">
                                <i class="fa fa-times fa-icon"></i>
                            </button>
                        </div>
                        <div class="modal-body mt-3 js-file-upload-container-additional">
                            <div class="row">
                                <h5 class="modal-secondary-title">{{ translations['IMPORT_FICHIER_ORDINATEUR'] }}</h5>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6 custom-file mt-2">
                                    <template v-if="additionalFileModalMode.mode === 'RC'">
                                        <input type="file" id="modal-rc-file-upload" class="js-input-file-upload custom-file-input" name="modal-rc-file-upload"
                                               data-document-type="RC" @click="loadEventListener(true)">
                                        <label class="custom-file-label" for="modal-rc-file-upload">{{ translations['SELECTIONNER_FICHIER'] }}</label>
                                    </template>
                                    <template v-else-if="additionalFileModalMode.mode === 'DCE'">
                                        <input type="file" id="modal-dce-file-upload" class="js-input-file-upload custom-file-input" name="modal-dce-file-upload"
                                               data-document-type="DCE_FROM_FILE" @click="loadEventListener(true)" multiple>
                                        <label class="custom-file-label" for="modal-dce-file-upload">{{ translations['SELECTIONNER_UN_PLUSIEURS_FICHIER'] }}</label>
                                    </template>
                                    <template v-else>
                                        <input type="file" id="additional-dce-file-upload" class="js-input-file-upload custom-file-input" name="additional-dce-file"
                                               data-document-type="ADDITIONAL_FILE_DCE" @click="loadEventListener(true)" multiple>
                                        <label class="custom-file-label" for="additional-dce-file-upload">{{ translations['SELECTIONNER_UN_PLUSIEURS_FICHIER'] }}</label>
                                    </template>
                                    <span class="js-input-file-error text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="js-file-upload-progression-bar"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="background-color: #f4f5fa">
                                    <div v-for="fileInfo in additionalFilesInfo" style="margin-bottom: 1%">
                                        <span style="font-weight: bold">{{ fileInfo.name }}</span> ({{ getFormatedSize(fileInfo.size) }})
                                    </div>
                                </div>
                            </div>
                            <div v-if="this.displayRedac">
                                <div class="row mt-5">
                                    <h5 class="modal-secondary-title">{{ translations['IMPORT_FICHIERS_REDAC'] }}</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" id="js-redac-files-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top: none;">
                            <button class="btn btn-primary" @click="closeModal">{{ translations['DEFINE_FERMER'] }}</button>
                        </div>
                    </div>
                </div>
            </Transition>
        </Teleport>
    </div>
</template>

<script>

import Uppy from "@uppy/core";
import Tus from "@uppy/tus";
import French from "@uppy/locales/lib/fr_FR";
import StatusBar from "@uppy/status-bar";

import documentService from "../../services/document.service";
import consultationService from "../../services/consultation.service";
import redacService from "../../services/redac.service";
import utilsService from "../../services/utils.service";
import TreeFile from "./TreeFile";
import axios from "axios";

export default {
    components: {
        'tree-file': TreeFile
    },
    props: ['token', 'consultationId', 'organismAcronym', 'displayRedac', 'baseDceModule', 'selectedPlaces', 'naturePrestation', 'parametrageProcedure', 'translations'],
    data() {
        return {
            fileDescriptor              : null,
            descriptor                  : null,
            temporaryPayload            : null,
            showAdditionalFileModal     : false,
            additionalFilesQueue        : null,
            authRedacToken              : null,
            selectedPlacesArray         : [],
            additionalFilesInfo         : [],
            isUppySetForAdditionalFiles : false,
            loadingFileDescriptor       : false,
            defaultUploadOptions        : {},
            dce                         : {
                filesNumber                 : 0,
                isUpdated                   : false,
                filePath                    : null,
                fileName                    : null,
                downloadLink                : null,
                downloadName                : null
            },
            rc                          : {
                filesNumber                 : 0,
                isUpdated                   : false,
                filePath                    : null,
                fileName                    : null,
                downloadLink                : null,
                downloadName                : null
            },
            autrePiece                  : {
                filesNumber                 : 0,
                isUpdated                   : false,
                filePath                    : null,
                fileName                    : null,
                downloadLink                : null,
                downloadName                : null
            },
            additionalFileModalMode     : {
                mode                        : null,
                first                       : true
            },
            defaultUploadOptions        : {
                maxBytesFileSize            : 2147483648,
                maxTotalBytesFileSize       : 2147483648,
                maxNumberOfFiles            : 10
            },
            formControl                 : {
                dce                         : {valid : true, message : ''}
            },
            specialChars                : /^[a-zA-Z0-9\s\-_@(){}.+=,;°%!\[\]\^éèçàùäëÿüïöôâêîû«»~$]+$/
        }
    },
    methods: {
        ...utilsService,
        loadEventListener(additional = false) {
            if (additional && this.isUppySetForAdditionalFiles) {
                return;
            } else if (additional) {
                this.isUppySetForAdditionalFiles = true;
            }

            const inputFilesUploadContainers = document.querySelectorAll('.js-file-upload-container' + (additional ? '-additional' : ''));
            inputFilesUploadContainers.forEach((inputFilesUploadContainer) => {
                const inputFileUploadElement = inputFilesUploadContainer.querySelector('.js-input-file-upload');
                const progressionBarContainer = inputFilesUploadContainer.querySelector('.js-file-upload-progression-bar');
                const inputFileErrorContainer = inputFilesUploadContainer.querySelector('.js-input-file-error');
                const documentType = inputFileUploadElement.dataset.documentType;
                const uppy = this.initUppyFileUploader(this.loadUploadConfigByDocumentType());

                uppy
                    .use(Tus, {
                        endpoint: '/agent/document/upload',
                        removeFingerprintOnSuccess: true,
                        chunkSize: 1024 * 1024 * 20,
                    })
                    .use(StatusBar, {
                        target: progressionBarContainer,
                        showProgressDetails: true,
                        hideAfterFinish: false,
                        hideUploadButton: true,
                        hideRetryButton: true,
                        hidePauseResumeButton: true,
                        hideCancelButton: true,
                    })
                    .on('file-added', (file) => {
                        if (!this.specialChars.test(file.name)) {
                            inputFileErrorContainer.innerText = this.translations['CARACTERES_SPECIAUX_NON_ACCEPTES'];
                            uppy.cancelAll();
                        } else {
                            if (file.meta['documentType'] === 'RC') {
                                if (file.size > 1024 * 1024 * 1000) {
                                    inputFileErrorContainer.innerText = this.translations['LE_POIDS_DEPASSE_LE_MAXIMUM'];
                                    uppy.cancelAll();
                                }
                            }
                            if (this.defaultUploadOptions.disallowedMimeTypes.includes(file.type)) {
                                uppy.cancelAll();
                                console.error(`File type "${file.type}" is not allowed.`);
                                inputFileErrorContainer.innerText = this.translations['TYPE_FICHIER_NON_ACCEPTES'];
                            }
                            uppy.upload();
                        }
                    })
                    .on('upload', (data) => {
                        inputFileUploadElement.disabled = false;
                    })
                    .on('upload-error', (file, error) => {
                        if (!this.specialChars.test(file.name)) {
                            inputFileErrorContainer.innerText = this.translations['CARACTERES_SPECIAUX_NON_ACCEPTES'];
                        }
                        uppy.cancelAll();
                        console.error(`Error uploading file ${file.name}: ${error}`)
                        uppy.cancelUpload(file.id)
                        inputFileUploadElement.disabled = false;
                        inputFileUploadElement.value = null;
                    })
                    .on('error', (error) => {
                        uppy.cancelAll();
                        console.error(`Error uploading file ${inputFileUploadElement.value} ${error}`)
                        inputFileUploadElement.disabled = false;
                        inputFileUploadElement.value = null;
                        inputFileErrorContainer.innerText = this.translations['CHARGEMENT_FICHIER_INCIDENT'];
                    })
                    .on('upload-success', (file, response) => {
                        inputFileErrorContainer.innerText = '';
                        console.log(`File ${file.name} uploaded successfully`);
                        const uploadFileToken = response.uploadURL.split('/').pop();
                        const filePath = `${uploadFileToken}/${file.name}`;

                        if (file.meta['documentType'] === 'RC') {
                            this.rc.filePath = filePath;
                            this.rc.fileName = file.name;
                            this.rc.filesNumber = 1;
                            this.rc.isUpdated = true;
                            this.additionalFilesInfo = [{
                                'name'  : file.name,
                                'size'  : file.size
                            }];
                        } else if (file.meta['documentType'] === 'DCE') {
                            this.handleCreateDCEFromFile(file, filePath);
                        } else if (file.meta['documentType'] === 'DCE_FROM_FILE') {
                            if (this.additionalFileModalMode.first) {
                                this.handleCreateDCEFromFile(file, filePath);
                            } else {
                                if (Array.isArray(this.additionalFilesQueue)) {
                                    this.additionalFilesQueue.push({
                                        'fileName'  : file.name,
                                        'filePath'  : filePath,
                                    });
                                } else {
                                    this.temporaryPayload = {action: 'add', path: '', node: this.fileDescriptor};
                                    this.handleAdditionalFileDce(file.name, filePath);
                                }
                            }
                            this.additionalFileModalMode.first = false;
                            this.additionalFilesInfo.push({
                                'name'  : file.name,
                                'size'  : file.size
                            });
                        } else if (file.meta['documentType'] === 'ADDITIONAL_FILE_DCE') {
                            this.handleAdditionalFileDce(file.name, filePath);
                            this.additionalFilesInfo.push({
                                'name'  : file.name,
                                'size'  : file.size
                            });
                        } else if (file.meta['documentType'] === 'AUTRE') {
                            this.autrePiece.filePath = filePath;
                            this.autrePiece.fileName = file.name;
                            this.autrePiece.filesNumber = 1;
                            this.autrePiece.isUpdated = true;
                            this.additionalFilesInfo = [{
                                'name'  : file.name,
                                'size'  : file.size
                            }];
                        }
                        inputFileUploadElement.disabled = false;
                    })
                    .setMeta({
                        documentType: documentType,
                    })
                ;

                inputFileUploadElement.addEventListener('change', (event) => {
                    const files = Array.from(event.target.files);

                    files.forEach((file) => {
                        try {
                            uppy.addFile({
                                source: 'file input',
                                name: file.name,
                                type: file.type,
                                data: file,
                            });
                        } catch (error) {
                            inputFileErrorContainer.innerText = error.message;
                        }
                    });
                });
            });
        },
        clickBaseDceModule() {
            if (this.baseDceModule) {
                let countries = [];

                this.selectedPlacesArray.forEach((place) => {
                    countries.push(place.denomination2);
                });

                const urlParams = new URLSearchParams({
                    category: this.naturePrestation?.toUpperCase(),
                    countries: countries,
                });

                window.open('/agent/sourcing/base-dce?' + urlParams.toString())
            }
        },
        loadUploadConfigByDocumentType() {
            return {
                disallowedMimeTypes: [
                    'application/x-msdownload',
                    'application/x-dosexec',
                    'text/javascript',
                    'application/vbscript',
                    'application/sql',
                    'application/x-javascript',
                    'application/x-shockwave-flash',
                    'application/x-java-archive',
                ]
            };
        },
        initUppyFileUploader(fileOptions) {
            this.mergeOptions(fileOptions);

            return new Uppy({
                onBeforeFileAdded: () => true,
                restrictions: {
                    maxNumberOfFiles: this.defaultUploadOptions.maxNumberOfFiles,
                    maxFileSize: this.defaultUploadOptions.maxBytesFileSize,
                    maxTotalFileSize: this.defaultUploadOptions.maxTotalBytesFileSize
                },
                locale: French
            });
        },
        mergeOptions(fileOptions) {
            Object.entries(fileOptions).forEach(([fileOptionKey, fileOptionValue]) => {
                this.defaultUploadOptions[fileOptionKey] = fileOptionValue;
            });
        },
        getFileDescriptor() {
            this.loadingFileDescriptor = true;

            let params = {};
            if (this.dce.filePath) {
                params = {filePath: btoa(this.dce.filePath)};
            } else if (this.consultationId) {
                params = {consultationId: this.consultationId};
            }

            const options = {
                headers: {Authorization: `Bearer ${this.token}`}, 'params': params
            };
            this.additionalFilesQueue = [];
            documentService.getDCEFileDescriptor(options).then((response) => {
                this.fileDescriptor = response.data;
                this.descriptor = {
                    'path'      : this.dce.filePath,
                    'added'     : [],
                    'removed'   : []
                };
                this.dce.filesNumber = this.countFilesInFD(this.fileDescriptor, 0);
                if (this.dce.filePath !== null) {
                    this.dce.isUpdated = true;
                }

                if (this.additionalFilesQueue && Array.isArray(this.additionalFilesQueue)) {
                    this.additionalFilesQueue.forEach((element) => {
                        this.temporaryPayload = {action: 'add', path: '', node: this.fileDescriptor};
                        this.handleAdditionalFileDce(element.fileName, element.filePath);
                    });
                }
                this.additionalFilesQueue = null;
            }).catch(() => {
                this.additionalFilesQueue = null;
                this.$notify({
                    text: "Une erreur s'est produite lors du chargement du fichier DCE",
                    type: "error"
                });
            }).finally(() => {
                this.loadingFileDescriptor = false;
            });
        },
        getConsultationFiles() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`}
            };
            consultationService.getConsultationFilesById(this.consultationId, options).then((response) => {
                if (response.data['hydra:totalItems'] > 0) {
                    response.data['hydra:member'].forEach((element) => {
                        if (element['type'] === 'AUTRE_PIECE') {
                            this.dce.downloadLink = element['id'] + '/download';
                            this.dce.downloadName = element['fileName'];
                            this.dce.filesNumber = 1;
                            this.getFileDescriptor();
                        } else if (element['type'] === 'RC') {
                            this.rc.downloadLink = element['id'] + '/download';
                            this.rc.downloadName = element['fileName'];
                            this.rc.filesNumber = 1;
                        } else if (element['type'] === 'COMPLEMENT') {
                            this.autrePiece.downloadLink = element['id'] + '/download';
                            this.autrePiece.downloadName = element['fileName'];
                            this.autrePiece.filesNumber = 1;
                        }
                    });
                }
            }).catch(() => {
                this.$notify({
                    text: "Une erreur s'est produite lors du chargement des fichiers de la consultation",
                    type: "error"
                });
            });
        },
        handleClickNode(payload) {
            if (payload['action'] === 'add') {
                this.temporaryPayload = payload;
                this.additionalFilesInfo = [];
                this.showAdditionalFileModal = true;
            } else if (payload['action'] === 'remove') {
                this.descriptor['removed'].push({
                    'fileRealPath': payload['path']
                });
                this.dce.filesNumber -= 1;
                this.dce.isUpdated = true;
            } else if (payload['action'] === 'rewind') {
                const indexToRemove = this.descriptor['removed'].findIndex((element) => element['fileRealPath'] === payload['path']);
                this.descriptor['removed'].splice(indexToRemove, 1);
                this.dce.filesNumber += 1;
            }
        },
        handleAdditionalFileDce(fileName, filePath) {
            this.temporaryPayload['node'].tree.push({
                "name": fileName
            });
            this.descriptor['added'].push({
                'fileRealPath': this.temporaryPayload['path'],
                'fileTmpPath': filePath
            });
            this.dce.filesNumber += 1;
            this.dce.isUpdated = true;
        },
        countFilesInFD(node, count) {
            if (node['tree']) {
                for (const index in node['tree']) {
                    count = this.countFilesInFD(node['tree'][index], count);
                }
                return count;
            } else {
                return count + 1;
            }
        },
        downloadFile(url, fileName) {
            const config = {
                headers: {Authorization: `Bearer ${this.token}`},
                responseType: 'blob'
            };

            axios.get(url, config).then((response) => {
                    const downloadLink = document.createElement('a');
                    const blobFile = new Blob([response.data], {type: response.headers['content-type']});

                    downloadLink.href = window.URL.createObjectURL(blobFile);
                    downloadLink.download = fileName;
                    document.body.appendChild(downloadLink);

                    downloadLink.click();
                    setTimeout(() => {
                        window.URL.revokeObjectURL(url);
                        document.body.removeChild(downloadLink);
                    }, 0)
                }
            ).catch(() => {
                this.$notify({
                    text: "Une erreur s'est produite lors du téléchargement du fichier",
                    type: "error"
                });
            });
        },
        createRedacFileLine(files) {
            const redacFileContainerElement = document.querySelector('#js-redac-files-container');

            files.forEach((file) => {
                const fileLine = document.createElement('div');
                fileLine.classList.add('redac-file-line', 'mt-1', 'd-flex', 'justify-content-between', 'align-items-center');

                const fileLineName = document.createElement('span');
                fileLineName.innerText = file.nom;

                const downloadButton = document.createElement('button');
                downloadButton.classList.add('btn', 'btn-primary', 'btn-sm');
                downloadButton.dataset.fileId = file.identifiant;
                downloadButton.dataset.fileName = file.nom;

                const downloadIcon = document.createElement('i');
                downloadIcon.classList.add('ft', 'ft-download', 'download-link-icon', 'mr-0');

                downloadIcon.addEventListener('click', (event) => {
                    this.downloadRedacFile(
                        event.target.parentElement.dataset.fileId,
                        event.target.parentElement.dataset.fileName,
                        event
                    );
                });

                downloadButton.appendChild(downloadIcon);
                fileLine.appendChild(fileLineName);
                fileLine.appendChild(downloadButton);
                redacFileContainerElement.appendChild(fileLine);
            });
        },
        getRedacFiles() {
            const data = {
                consultationId: this.consultationId,
                consultationOrganism: this.organismAcronym,
                redacAuthToken: this.authRedacToken
            };

            redacService.getRedacListFiles(data).then((response) => {
                this.createRedacFileLine(response.data);
            }).catch(() => {
                this.$notify({
                    text: "Une erreur s'est produite lors du chargement des fichiers depuis Redac",
                    type: "error"
                });
            });
        },
        downloadRedacFile(fileId, fileName, downloadButtonEvent) {
            const data = {
                consultationId: this.consultationId,
                consultationOrganism: this.organismAcronym,
                redacAuthToken: this.authRedacToken,
                fileId: fileId,
                fileName: fileName
            };

            redacService.downloadRedacFile(data).then((response) => {
                if (this.additionalFileModalMode.mode === 'RC') {
                    this.rc.filePath = response.data.filepath;
                    this.rc.fileName = fileName;
                    this.rc.filesNumber = 1;
                    this.rc.isUpdated = true;
                } else if (this.additionalFileModalMode.mode === 'DCE') {
                    this.createFakeZipFromFile(fileName, response.data.filepath);
                } else {
                    this.handleAdditionalFileDce(fileName, response.data.filepath);
                }

                downloadButtonEvent.target.parentElement.classList.replace('btn-primary', 'btn-success');
                downloadButtonEvent.target.classList.remove('ft-download');
                downloadButtonEvent.target.classList.add('ft-check');
            }).catch(() => {
                downloadButtonEvent.target.parentElement.classList.replace('btn-primary', 'btn-danger');
                downloadButtonEvent.target.classList.remove('ft-download');
                downloadButtonEvent.target.classList.add('fa', 'fa-times');

                this.$notify({
                    text: "Une erreur s'est produite lors du téléchargement du fichier depuis Redac",
                    type: "error"
                });
            });
        },
        getRedacAuth() {
            redacService.getRedacAuthToken().then((response) => {
                if (response.data.token) {
                    this.authRedacToken = response.data.token;
                    this.getRedacFiles();
                }
            }).catch(() => {
                this.$notify({
                    text: "Une erreur s'est produite lors du chargement des fichiers depuis Redac",
                    type: "error"
                });
            });
        },
        handleModalMode(mode) {
            if (this.displayRedac) {
                this.showAdditionalFileModal = true;
                this.additionalFileModalMode.mode = mode;
                this.additionalFileModalMode.first = true;
                this.additionalFilesInfo = [];
            }
        },
        handleCreateDCEFromFile(file, filePath) {
            if (file.extension !== 'zip') {
                this.createFakeZipFromFile(file.name, filePath);
            } else {
                this.dce.filePath = filePath;
                this.dce.fileName = file.name;
                this.getFileDescriptor();
            }
        },
        createFakeZipFromFile(fileName, filePath) {
            this.dce.fileName = 'DCE.zip';
            this.dce.filePath = null;
            this.dce.filesNumber = 0;
            this.fileDescriptor = {
                'name'  : this.dce.fileName,
                'path'  : null,
                'tree'  : []
            };
            this.descriptor = {
                'name'      : this.dce.fileName,
                'path'      : null,
                'added'     : [],
                'removed'   : []
            };
            this.temporaryPayload = {action: 'add', path: '', node: this.fileDescriptor};
            this.handleAdditionalFileDce(fileName, filePath);
        },
        closeModal() {
            this.showAdditionalFileModal = false;
            this.additionalFileModalMode = {
                mode    : null,
                first   : true
            };
            this.isUppySetForAdditionalFiles = false;
        },
        validateForm() {
            for (const property in this.formControl) {
                this.formControl[property].valid = true;
            }

            if (this.dce.isUpdated && this.dce.filesNumber === 0) {
                this.formControl.dce.valid = false;
                this.formControl.dce.message = this.translations['DEFINE_DCE_LAST_FILE_MESSAGE'];
            }

            for (const property in this.formControl) {
                if (!this.formControl[property].valid) {
                    return false;
                }
            }

            return true;
        }
    },
    mounted() {
        this.loadEventListener();
    },
    created() {
        if (this.consultationId) {
            this.getConsultationFiles();
        }
    },
    watch: {
        showAdditionalFileModal(value) {
            if (value && this.consultationId && this.displayRedac) {
                this.getRedacAuth();
            }
        },
        selectedPlaces(selectedPlaces) {
            this.selectedPlacesArray = selectedPlaces;
        }
    }
}
</script>
<style>
@import '@uppy/core/dist/style.css';
@import '@uppy/status-bar/dist/style.min.css';

.tree-file {
    border-radius: 5px;
    max-height: 25rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-top: 1rem;
    background-color: #f4f5fa;
    font-size: 18px;
}

.additional-file-modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

.additional-file-modal-container {
    width: 60%;
    margin: auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.download-link-icon {
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

.file-number-circle {
    background-color: #61adf0;
    font-weight: bolder;
    margin-right: 30px;
}

.file-number-circle-updated {
    background-color: #f09761;
    font-weight: bolder;
    margin-right: 30px;
}

.custom-file-label::after {
    content: "Parcourir";
    width: 20%;
    text-align: center;
}
.custom-file-label-updated::after {
    content: "Remplacer";
}
.custom-file-label-alt-rc::after {
    content: "Choisir un fichier";
}
.custom-file-label-alt-dce::after {
    content: "Construire un DCE";
}

.additional-file-modal-enter-from {
    opacity: 0;
}

.additional-file-modal-leave-to {
    opacity: 0;
}

.additional-file-modal-enter-from .map-modal-container,
.additional-file-modal-leave-to .map-modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-title {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

.modal-secondary-title {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}

.btn-fa {
    background-color: #2660A4;
    color: #ffffff;
    padding: 6px;
}

.fa-icon {
    font-size: 25px;
}

.redac-file-line {
    background-color: #F0F2F5;
    color: #000000;
    padding: 15px;
}

.div-dce-help {
    text-align: center;
    font-size: 12px;
}
.upload-file-text-align-center {
    text-align: center;
}
</style>
