<div class="row">
    <div class="col-md-4 pull-left d-flex align-items-center">
        <label class="p-1"> Nombre de résultats : {{pagination.totalElements}}</label>
    </div>
    <div class="col-md-8 d-flex justify-content-end align-items-center pull-right">
        <label class="m-r-0 p-1">Afficher</label>
        <div><select (change)="currentPage=1;onPaginationChange()" [(ngModel)]="pageSize"
                     class="form-control resultsPerPage">
            <option *ngFor="let p of [5,10,20,50,100]" value="{{p}}">{{p}}</option>
        </select>
        </div>
        <div class="p-1"><label class="m-r-1">
            résultats / page
        </label></div>
        <input (change)="onPaginationChange()" [(ngModel)]="currentPage" [max]="pagination.totalPages" [min]="1"
               class="p-1 form-control col-sm-1 text-center pageNumber" type="number" value="1"><label
        class="p-1 m-r-2">/{{pagination.totalPages}}</label>
        <div class="pagination-section-arrows">
            <div class="form-group liens align-items-center">
                <label class="m-l-1">
                    <div class="d-flex justify-content-between">
                        <button (click)="currentPage=1;onPaginationChange()" [disabled]="pagination.first"
                                class="btn fa fa-angle-double-left" title="Aller à la première page"></button>
                        <button (click)="currentPage=currentPage-1;onPaginationChange()" [disabled]="pagination.first"
                                class="btn fa fa-angle-left " title="Aller à la page précédente"></button>
                        <button (click)="currentPage=currentPage+1;onPaginationChange()" [disabled]="pagination.last"
                                class="btn fa fa-angle-right" title="Aller à la page suivante"></button>
                        <button (click)="currentPage=pagination.totalPages;onPaginationChange()"
                                [disabled]="pagination.last"
                                class="btn fa fa-angle-double-right" title="Aller à la dernière page"></button>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
