<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- Basic layout-->
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_row(form.nom) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.login) }}
                        </div>

                        <div class="form-group">
                            {{  form_row(form.password) }}
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">{{ 'SAVE_AGENT_TEC'|trans }}</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /basic layout -->