{% extends 'administration.html.twig' %}

{% block title %}{{ 'UPDATE_AGENT_TEC'|trans }} {% endblock %}

{% block body %}
    <h1>{{ 'UPDATE_AGENT_TEC'|trans }}</h1>

    {{ include('superadmin/agents/_form.html.twig') }}

    <a href="{{ path('superadmin_agenttechnique_administration') }}" class="btn btn-dark">Retour</a>
{% endblock %}
