{% extends 'administration.html.twig' %}

{% block title %}Gestion des habilitations {% endblock %}

{% block body %}
    <br>
    <h1>Gestion des habilitations</h1>
    <br>
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#content-old"><h4>Anciens Webservices</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#content-new"><h4>Nouveaux Webservices (/api/v2)</h4></a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="content-old" role="tabpanel">
            <br>
            {{ include('superadmin/agents/_formHabilitation.html.twig') }}
        </div>
        <div class="tab-pane fade" id="content-new" role="tabpanel" style="margin-bottom: 3em">
            <br>
            <form method="post" action="{{ path('superadmin_agenttechnique_administration_update_habilitations', {'idAgent': agent.id, _csrf_token: csrf_token('superadmin_agenttechnique_administration_update_habilitations')}) }}">

                {% for habilitation in newHabilitations %}
                    <input type="checkbox" id="{{ habilitation.id }}" name="{{ habilitation.id }}" value="true" {% if habilitation.checked %}checked{% endif %} >
                    <label for="{{ habilitation.id }}">{{ habilitation.label }}</label>
                    <br>
                {% endfor %}
                <br>
                <input type="submit" class="btn btn-primary" value="Enregistrer">
            </form>
        </div>
    </div>

    <a href="{{ path('superadmin_agenttechnique_administration') }}" class="btn btn-dark">Retour</a>
{% endblock %}
