{% extends 'administration.html.twig' %}

{% block title %}{{ 'LISTE_AGENT_TEC'|trans }} {% endblock %}

{% block body %}
    <div id="body-association" class="content-wrapper">
        {% if message is not empty %}
            <div class="alert-danger">
                <h4>{{ message|trans }} </h4>
            </div>
        {% endif %}
        {{ include('superadmin/agents/_formAssociationAgentTech.html.twig') }}
        <div style="margin-top:20px;"> </div>
        <div class="content">
            <div class="row">
                {% if associations is empty %}
                    <h4>{{ 'AUCUN_AGENT_TEC_ASSOCIATION'|trans }}</h4>
                {% else %}
                    <table id="tableAsossiation" class="table table-striped table-bordered associations">
                        <thead>
                        <tr>
                            <th>organisme</th>
                            <th>service</th>
                            <th>{{ 'ACTION_AGENT_TEC_ASSOCIATION'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for association in associations %}
                            <tr>
                                <td>{{ association.organisme }}</td>
                                <td>
                                    {% if association.serviceId != 0 %}
                                        {{ association.service.libelle }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary" id="delete_association"
                                       onclick="deleteAssociation('{{ path('superadmin_agenttechnique_administration_association_delete') }}',{{ association.id }}, {{ association.idAgent }});"
                                       role="button">{{ 'DELETE_AGENT_TEC_ASSOCIATION'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">{{ knp_pagination_render(associations) }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <a href="{{ path('superadmin_agenttechnique_administration') }}" class="btn btn-dark">Retour</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('app/assets/js/configClient.js') }}"></script>
    <script>
        (function() {
            $('#agent_tech_association_organisme').change(function () {
                var organismeSelector = $(this);
                // Request the service of the selected organisme.
                $.ajax({
                    url: '{{ path("superadmin_agenttechnique_administration_liste_service") }}',
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        organisme: organismeSelector.val()
                    },
                    success: function (services) {
                        var servicesSelect = $("#agent_tech_association_service");
                        // Remove current options
                        servicesSelect.html('');
                        // Empty value ...
                        servicesSelect.append('<option value> Selectionner un service de l\'organisme : ' + organismeSelector.find("option:selected").text() + '</option>');
                        $.each(services, function (key, service) {
                            servicesSelect.append('<option value="' + service.id + '">' + service.name + '</option>');
                        });
                    },
                    error: function (err) {
                        alert("Problème de chargement des données ...");
                    }
                });
            });
        })();
    </script>
{% endblock %}
