{% extends 'administration.html.twig' %}
{% block title %}{{ 'LISTE_AGENT_TEC'|trans }} {% endblock %}

{% block body %}
    {% if agents is empty %}
        <h4>{{ 'AUCUN_AGENT_TEC'|trans }}</h4>
    {% else %}
        <table id="tableAgents" class="table table-striped table-bordered agents">
            <thead>
            <tr>
                <th>{{ 'NOM_AGENT_TEC'|trans }}</th>
                <th>{{ 'LOGIN_AGENT_TEC'|trans }}</th>
                <th>{{ 'MODIFIER_AGENT_TEC'|trans }}</th>
                <th>{{ 'ACTIVER_AGENT_TEC'|trans }}/{{ 'DESACTIVER_AGENT_TEC'|trans }}</th>
                <th>{{ 'HABILITATION_AGENT_TEC'|trans }}</th>
                <th>{{ 'GESTION_AGENT_TEC_ASSOCIATION'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for agent in agents %}
                <tr>
                    <td>{{ agent.nom }}</td>
                    <td>{{ agent.login }}</td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ path('superadmin_agenttechnique_administration_edit', { 'idAgent': agent.id }) }}"
                           role="button">{{ 'MODIFIER_AGENT_TEC'|trans }}</a>
                    </td>
                    <td>
                        {% if agent.actif == 1 %}
                            <a class="btn btn-primary changeAgentStatus"
                               href="{{ path('superadmin_agenttechnique_administration_change_agent_status',
                                   { 'idAgent': agent.id }) }}"
                               role="button">{{ 'DESACTIVER_AGENT_TEC'|trans }}</a>
                        {% else %}
                            <a class="btn btn-primary changeAgentStatus"
                               href="{{ path('superadmin_agenttechnique_administration_change_agent_status',
                                   { 'idAgent': agent.id }) }}"
                               role="button">{{ 'ACTIVER_AGENT_TEC'|trans }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ path('superadmin_agenttechnique_administration_habilitation_agent',
                               { 'idAgent': agent.id  }) }}"
                           role="button">{{ 'GERER_HABILITATION_AGENT_TEC'|trans }}</a>
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ path('superadmin_agenttechnique_administration_association',
                               { 'idAgent': agent.id  }) }}"
                           role="button">{{ 'GERER_AGENT_TEC_ASSOCIATION'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
    <div class="text-center">{{ knp_pagination_render(agents) }}</div>
    <a class="btn btn-primary pull" href="{{ path('superadmin_agenttechnique_administration_new') }}" role="button">
        {{ 'ADD_AGENT_TEC'|trans }}
    </a>
    <div class="clearfix"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.changeAgentStatus').click(function (event) {
                event.preventDefault();

                var btnClick = $(this);
                var href = $(this).attr('href');
                // Request the service of the selected organisme.
                $.ajax({
                    url: href,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        if (data.status == 1) {
                            btnClick.text('Désactiver');
                        } else {
                            btnClick.text('Activer');
                        }
                    },
                    error: function (err) {
                        alert("Problème de chargement des données ...");
                    }
                });
            });
        });
    </script>
{% endblock %}
