<template>
    <div id="cell-atexo">
        <div :class="cellClazz">
            <div class="font-size-9 color-53565a text-uppercase">
                {{ title }}
            </div>


            <div v-if="value instanceof Boolean">
                <Checkbox v-model="value" :binary="true" disabled/>
            </div>
            <div v-else
                 :id="id"
                 :class="'font-size-14 margin-right-10 truncate '+ cellClazz "

            >{{value}}
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        props: {
            cellClass: String,
            value: [String, Boolean, Number],
            cellTitle: String,
            cellId: String,
            contentClass: String
        },
        computed: {
            title() {
                return this.cellTitle ? this.cellTitle : '';
            },
            id() {
                return this.cellId ? this.cellId : '';

            },
            cellClazz() {
                return this.cellClass ? this.cellClass : 'ui-g-2';

            },
            contentClazz() {
                return this.contentClass ? this.contentClass : '';

            }

        }
    }
</script>

<style>
    @import "../../assets/css/swagger.css";

    #swagger-atexo {
        margin-top: -150px;
    }

</style>
