<template>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="card">
                <h5 style="color: #6286b6; font-weight: bold;">{{title}}</h5>
                <div class="p-grid margin-top-25 p-justify-center">
                    <div class="p-col container-border">
                        <div>
                            <h6>Fichier</h6>
                            <label class="file-select">
                                <div class="select-button">
                                    <span v-if="file && file.name.length > 0">Fichier sélectionné: {{file.name}}</span>
                                    <span v-else>Choisir un fichier</span>
                                </div>
                                <input type="file" @change="handleFileChange"/>
                            </label>
                        </div>
                    </div>
                    <div class="p-col container-border margin-left-30" v-if="showSignatureFile">
                        <div>
                            <h6>Signature</h6>
                            <label class="file-select">
                                <div class="select-button">
                                    <span v-if="signature&& signature.name.length > 0">Fichier sélectionné: {{signature.name}}</span>
                                    <span v-else>Choisir un fichier</span>
                                </div>
                                <input type="file"
                                       @change="handleSignatureFileChange"/>
                            </label>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            file: File,
            signature: File,
            title: String,
            showSignatureFile:Boolean
        },

        methods: {
            handleFileChange(e) {
                this.$emit('file-upload', e.target.files[0])
            },
            handleSignatureFileChange(e) {
                this.$emit('signature-upload', e.target.files[0])
            }
        }
    }
</script>

<style scoped>
    .file-select > .select-button {
        padding: 5px;

        color: white;
        background-color: #6286b6;

        border-radius: .3rem;

        text-align: center;
        font-weight: bold;
    }

    .file-select > input[type="file"] {
        display: none;
    }
</style>
