<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->

<template>
    <div id="assistance-status-checker">
        <div :class="'alert '+ alertType" role="alert">
            <p>
                <strong>{{ translations['etat_assistant'] }}
                    <span :class="'badge ' + badgeType"><span
                            style="color: white">{{ translations[status] }}</span></span>
                </strong>
            </p>
            <hr class="hide-agent">
            <p v-html="description"></p>
            <p v-html="translations['lance_assistant']"
               v-if="status === 'en_ligne'"></p>
            <p v-html="translations['non_lance_assistant']"
               v-if="status !== 'en_ligne'"></p>
        </div>
    </div>
</template>

<script>
    "use strict";
    import axios from 'axios';

    const intervals = 3000;
    const assistanceLocalhostPort = 11993;
    const pathAssistance = 'https://mon-assistant.local-trust.com:' + assistanceLocalhostPort + '/health';

    export default {
        name: "assistance-status-checker",
        data: function () {
            return {
                status: '',
                alertType: '',
                badgeType: '',
                interval$: null,
                title: 'Etat de Mon Assistant Marchés Publics : ',
                description: '',
                translations: {
                    "etat_assistant": "Etat de Mon Assistant Marchés Publics",
                    "non_lance_assistant": "Cette fonctionnalité nécessite l'installation et l'exécution sur votre poste de l'application Mon Assistant Marchés Publics.",
                    "lance_assistant": "L'application Mon Assistant Marchés Publics est lancée sur votre poste, et est prête à l'utilisation.",
                    "en_ligne": "En ligne",
                    "hors_ligne": "Hors ligne"
                }
            };
        },
        methods: {
            verifyConnection: function () {
                axios.defaults.headers['Pragma'] = 'no-cache';
                axios
                    .get(pathAssistance)
                    .then(() => {
                        this.alertType = 'alert-success msg-confirmation-light';
                        this.status = 'en_ligne';
                        this.badgeType = 'badge-success';
                    }).catch(
                    (error) => {
                        console.log('erreur requete', error)
                        this.alertType = 'alert-danger  msg-erreur-light bloc-message';
                        this.badgeType = 'badge-danger';
                        this.status = 'hors_ligne';
                    }
                );
            },
            retryConnection: function () {
                this.interval$ = setInterval(() => {
                    this.verifyConnection();
                }, intervals);
            }
        },
        mounted() {
            this.verifyConnection();
            this.retryConnection();
        },
        beforeDestroy: function () {
            clearInterval(this.interval$);
        }
    }
</script>
