<section>
  <div class="row">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <atx-breadcrumb class="col-12" [breadcrumb]="pageDescription" [openUrl]="this.openUrl" [isForOpenUrl]="true"
    ></atx-breadcrumb>
  </div>
  <iframe class="width-100-per" style="height: 75vh;" [src]="openUrl | safeHtml" *ngIf="!!openUrl"></iframe>
</section>
