<div class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>Duplication d'un document depuis une autre consultation</h1>
        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <atexo-redacdocument-document-duplicate
                [categorie]="categorie"
                (annulation)="fermeture.emit($event)"
                (acceptation)="fermeture.emit($event)"
                (duplication)="duplication.emit($event)"
                (erreur)="erreur.emit($event)"
        >
        </atexo-redacdocument-document-duplicate>
    </div>
</div>
