<!-- -------------------- -->
<!-- Template des erreurs -->
<!-- -------------------- -->
<ng-template #template_erreurs>
    <div class="messages form-group row" *ngIf="messages">
        <ng-container *ngFor="let message of messages">
            <alert type="{{message?.type}}">{{message?.value}}</alert>
        </ng-container>
    </div>
</ng-template>


<!-- ------------------ -->
<!-- Template principal -->
<!-- ------------------ -->
<div class="workflow-wrapper">
    <ul class="workflow full-width">
        <!-- -------------- -->
        <!-- STEP RECHERCHE -->
        <!-- -------------- -->
        <li class="workflow-item"
            [class.workflow-step-active]="step == Steps.RECHERCHE"
            [class.workflow-step-todo]="step < Steps.RECHERCHE"
            [class.workflow-step-done]="step > Steps.RECHERCHE"
        >
        <span class="workflow-badge text-white">
          <em class="workflow-badge-icon fa-solid fa-magnifying-glass"></em>
        </span>
            <div class="workflow-panel">
                <header class="titre">Recherche du document &agrave; dupliquer</header>
                <article>
                    <div class="form flex-div">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="filtre">Nom ou r&eacute;f&eacute;rence du document <i class="fa-solid fa-asterisk asterisk"></i></label>
                            <div class="col-sm-9">
                                <input
                                    [(ngModel)]="this.terms"
                                    class="form-control"
                                    id="filtre"
                                    placeholder="Saisissez ici le nom du document &agrave; dupliquer"
                                    type="text"
                                />
                            </div>
                        </div>
                        <button (click)="rechercher()" class="btn btn-primary btn-flex" type="button"><i class="fa fa-search"></i>rechercher</button>
                    </div>
                </article>
            </div>
        </li>
        <!-- -------------- -->
        <!-- STEP SELECTION -->
        <!-- -------------- -->
        <li class="workflow-item"
            [class.workflow-step-active]="step == Steps.SELECTION"
            [class.workflow-step-todo]="step < Steps.SELECTION"
            [class.workflow-step-done]="step > Steps.SELECTION"
            [class.workflow-step-error]="step == Steps.SELECTION && documents?.empty() && this.terms?.filled()"
        >
        <span class="workflow-badge text-white">
          <em class="workflow-badge-icon fa-solid fa-list"></em>
        </span>
            <div class="workflow-panel">
                <header class="titre">S&eacute;lection du document &agrave; dupliquer</header>
                <article>
                    <div class="form">
                        <ng-container *ngIf="documents?.filled()">
                            <div class="row documents">
                                <table class="table table-cards">
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Nom</th>
                                        <th>Date de cr&eacute;ation</th>
                                        <th>Consultation</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container *ngFor="let candidat of documents">
                                        <tr class="table-divider" [class.active]="document === candidat">
                                            <td (click)="selectionner(candidat)">
                                                <div>
                                                    <span class="badge me-1 badge-type document-type" tooltip="{{ candidat?.modele?.libelle }}">{{ candidat?.modele?.type?.code }}</span>
                                                </div>
                                            </td>
                                            <td (click)="selectionner(candidat)" class="nom"><span class="ellipse">{{ candidat?.nom }}</span></td>
                                            <td (click)="selectionner(candidat)">{{ candidat?.creation?.date | fr_date }}</td>
                                            <td (click)="selectionner(candidat)">{{ candidat?.contexte?.consultation?.intitule }}</td>
                                            <td>
                                                <button (click)="previsualiser(candidat)" tooltip="Voir le document" class="button-width btn btn-primary fa-solid fa-eye ms-2"></button>
                                            </td>
                                            <td (click)="selectionner(candidat)" class="canevas-column-action">
                                                <div class="ticker">
                                                    <i *ngIf="document === candidat" class="fa-solid fa-check"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="documents?.empty() && this.terms?.filled()" [ngTemplateOutlet]="template_erreurs"></ng-container>
                    </div>
                </article>
            </div>
        </li>
        <!-- ------------ -->
        <!-- STEP NOMMAGE -->
        <!-- ------------ -->
        <li class="workflow-item workflow-item-last"
            [class.workflow-step-active]="step == Steps.NOMMAGE"
            [class.workflow-step-todo]="step < Steps.NOMMAGE"
            [class.workflow-step-done]="step > Steps.NOMMAGE"
        >
        <span class="workflow-badge text-white info">
          <em class="workflow-badge-icon fa-solid fa-pen"></em>
        </span>
            <div class="workflow-panel">
                <header class="titre">Choix du nom du document</header>
                <article>
                    <ng-container *ngIf="document">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="nom">Nom du nouveau document <i class="fa-solid fa-asterisk asterisk"></i></label>
                            <div class="col-sm-9">
                                <input
                                        [(ngModel)]="nom"
                                        (keyup)="verifier()"
                                        class="form-control"
                                        id="nom"
                                        placeholder="Saisissez ici le nom du nouveau document &agrave; rechercher pour duplication"
                                        type="text"
                                />
                            </div>
                        </div>
                    </ng-container>
                </article>
            </div>
        </li>
    </ul>
</div>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" type="button">Annuler</button>
    <button (click)="dupliquer()" [disabled]="step != Steps.VALIDATION" class="btn btn-primary" type="button"><i class="fa fa-save me-2"></i>Enregistrer</button>
</footer>
