
.document-type {
  min-width: 60px;
}

.button-width {
  min-width: 44px;
}

.ticker {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  background: #f5f5f5;
  margin: 0.3rem auto 0;
  cursor: pointer;

  i {
    position: relative;
    top: -6px;
    font-size: 1.6rem;
    color: #44bd00;
  }
}

.active {
  background: #fffdef;
}

table {
  width: calc( 100% - 24px );
}

.documents {
  overflow-y: auto;
  max-height: 60vh;
}

.ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  overflow: hidden;
  display: inline-block;
}

.nom {
  max-width: 30vw;
}

.flex-div {
  display: flex;
  align-items: center;

  .row {
    width: 100%;
  }
}

.btn-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
