<div *ngFor="let group of metadata; let index=index;let last=last;let first=first">
  <div class="option">
    <a class="vertical-center ">
              <span (click)="showChildren(index)" class="font-weight-bold"
                    style="margin-left: {{chapitreMarginLeft}}px">
                <i *ngIf="hasChildren(group)" class="la"
                   [ngClass]="{'la-plus-square': !shouldShowChildren[index],'la-minus-square':shouldShowChildren[index]}"></i>
                {{ group.id }} {{ group._label | translate }}
              </span>

    </a>
    <div class="d-flex m-t-5px m-b-5px" *ngIf="group.contentType ==='field' || !!group.nodeId">
      <div ngbDropdown placement="top-right">

        <button type="button" class="btn btn-secondary btn--whiteBg dropdown-toggle btn-xs p-5px"
                ngbDropdownToggle><i class="la la-bars"></i>
        </button>
        <div ngbDropdownMenu
             class="dropdown-menu dropdown-menu-right"
             aria-labelledby="dropdownProfileMenu">
          <a class="dropdown-item" (click)="surcharger(group)">
            <i class="la la-edit"></i>
            Surcharger
          </a>
        </div>

      </div>

    </div>
  </div>
  <div *ngIf="shouldShowChildren[index] && group.surcharge" class="card">
    <hr/>
    <div class="row">
      <div class=" col-sm-12 col-md-3 form-group">
        <label [for]="'readonly-'+group.id">Lecture seule</label>
        <div class="controls">
          <fieldset class="form-group">
            <input type="checkbox"
                   [ngClass]="{ 'is-invalid': modelForm.invalid}"
                   [(ngModel)]="group.surcharge.readonly"
                   disabled
                   #modelForm="ngModel"
                   [id]="'readonly-'+group.id" [name]="'readonly-'+group.id">
          </fieldset>
        </div>
      </div>
      <div class=" col-sm-12 col-md-3 form-group">
        <label [for]="'hidden-'+group.id">Caché</label>
        <div class="controls">
          <fieldset class="form-group">
            <input type="checkbox"
                   [ngClass]="{ 'is-invalid': modelForm.invalid}"
                   [(ngModel)]="group.surcharge.hidden"
                   disabled
                   #modelForm="ngModel"
                   [id]="'hidden-'+group.id" [name]="'hidden-'+group.id">
          </fieldset>
        </div>
      </div>
      <div class=" col-sm-12 col-md-3 form-group">
        <label [for]="'obligatoire-'+group.id">Obligatoire</label>
        <div class="controls">
          <fieldset class="form-group">
            <input type="checkbox"
                   [ngClass]="{ 'is-invalid': modelForm.invalid}"
                   [(ngModel)]="group.surcharge.obligatoire"
                   disabled
                   #modelForm="ngModel"
                   [id]="'obligatoire-'+group.id" [name]="'obligatoire-'+group.id">
          </fieldset>
        </div>
      </div><div class=" col-sm-12 col-md-3 form-group">
        <label [for]="'ordre-'+group.id">Ordre</label>
        <div class="controls">
          <label>Ordre</label>
          <div class="controls">
            {{ group.surcharge.ordre }}
          </div>
        </div>
      </div>
      <div class=" col-sm-12 col-md-12 form-group" *ngIf="group.surcharge.defaultValue">
        <label>Valeur par défaut</label>
        <div class="controls">
          {{ group.surcharge.defaultValue }}
        </div>
      </div>
      <div class=" col-sm-12 col-md-6 form-group" *ngIf="group.surcharge.staticList">
        <label>Liste statiques</label>
        <div class="controls">
          {{ group.surcharge.staticList }}
        </div>
      </div>
      <div class=" col-sm-12 col-md-6 form-group" *ngIf="group.surcharge.dynamicListFrom">
        <label>Liste dynamiques</label>
        <div class="controls">
          {{ group.surcharge.dynamicListFrom }}
        </div>
      </div>

    </div>
    <hr/>
  </div>
  <div *ngIf="shouldShowChildren[index]">

    <div>
      <atx-content-treeview *ngIf="group.content?.length>0"
                            [niveau]="niveau+1"
                            [noticeId]="noticeId"
                            [plateforme]="plateforme"
                            [noticelibelle]="noticelibelle"
                            [metadata]="group.content"
      ></atx-content-treeview>
    </div>

  </div>

</div>
