<div class="modal" id="bloc-loader" data-backdrop="static" data-keyboard="false">
    <div class="loader">Chargement...</div>
</div>
<ltexec-header *ngIf="userContext.authentification.token != null"></ltexec-header>
<nav class="navbar navbar-inverse" id="exec-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn btn-primary" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a title="Retour à la page d'accueil" [routerLink]="['']" href="#" class="navbar-brand"><h1>Marchés publics
                électroniques</h1>
            </a>
        </div>
        <ltexec-assistance></ltexec-assistance>
        <ltexec-navigation></ltexec-navigation>

    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container-fluid">
    <ng-template [ngIf]="userContext.authentification.isOK()">

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
    <ng-template [ngIf]="userContext.authentification.isKO()">
        <div *ngIf="userContext.authentification.message" class="text-primary  text-center text-md">
            <span>
                <p class="text-danger ">
                    <i class="fas fa-exclamation-triangle txt-undelivered m-r-10"></i>{{userContext.authentification.message}}
                </p>
                <br/>
                <p>Merci de contacter le support ATEXO avec les informations suivantes :</p>
                <article class="support">
                    <table>
                        <tr *ngFor="let item of userContext.authentification.contexte | keyvalue">
                            <td class="key">{{item.key}}</td>
                            <td class="value">{{item.value}}</td>
                        </tr>
                        <tr>
                            <td class="key">date</td>
                            <td class="value">{{ userContext.authentification.date | date:  'dd/MM/YYY HH:mm:ss' }}</td>
                        </tr>
                        <tr>
                            <td class="key">lien</td>
                            <td class="value">{{ userContext.authentification.url }}</td>
                        </tr>
                    </table>
                </article>
                <span class="warning"> <i class="fas fa-exclamation-circle txt-undelivered m-r-10"></i>Ces informations sont confidentielles, merci de ne les partager qu'avec le support ATEXO</span>
            </span>
        </div>
    </ng-template>
</div>
<app-scroll></app-scroll>
<ltexec-footer *ngIf="userContext.authentification.isOK()"></ltexec-footer>

