<!--Debut Breadcrumb-->
<ol class="breadcrumb">

    <li><a href="#">Contrats</a></li>
    <!--li><a href="#">Contrats</a></li>
    <li class="active">Suivi des contrats</li-->
</ol>
<!--Fin Breadcrumb-->