<div class="modal fade modal-confirmation-retour" tabindex="-1" role="dialog"
     aria-labelledby="titreDialogue_confirmationSuppression"
     aria-hidden="true" id="myModal_confirmationSuppression">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="onAnnuler()" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_confirmationRetour">Message de confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir quitter cette page sans enregistrer ?</p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" (click)="onAnnuler()" class="btn btn-sm btn-default" data-dismiss="modal">
                        Annuler
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="onConfirm()" class="btn btn-sm btn-default btn-primary"
                            data-dismiss="modal">Poursuivre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>