     <!-- /.navbar-header -->
     <div *ngIf="userContext.utilisateur != null" class="collapse navbar-collapse" id="navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
             <li class="dropdown dropdown-search">
                 <a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                    href="#" id="searchPanel" role="button">
                     <fa-icon [icon]="['fas','search']"></fa-icon>
                 </a>
                 <ul aria-labelledby="searchPanel" role="menu" class="dropdown-menu dropdown-menu-right menu-search">
                     <li role="presentation">
                         <div class="input-group quick-search">
                             <input id="quickSearchContrats" type="text" [(ngModel)]="motsCles"  (keyup.enter)="findByMotsCles()"  class="form-control input-sm" placeholder="Recherche rapide">
                             <span (click)="findByMotsCles()" class="input-group-btn"><button
                                 [class.disabled]="!isMotsClesValid()" [disabled]="!isMotsClesValid()"
                                 class="btn btn-primary btn-sm" id="quickSearchContratsBtn" type="button"><fa-icon
                                 [icon]="['fas','search']"></fa-icon></button></span>
                         </div>
                     </li>
                 </ul>
             </li>
             <li class="dropdown">
                 <a aria-expanded="true" role="button" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle" href="#" id="contratsPanel"> Contrats <span class="caret"></span> </a>
                 <ul aria-labelledby="contratsPanel" role="menu" class="dropdown-menu dropdown-menu-right menu-contrats">
                     <!--li role="presentation"><a href="#" tabindex="-1" role="menuitem">Créer</a></li-->
                     <li role="presentation"><a [routerLink]="['/contrats']"
                                                [queryParams]="{'filter':'none', perimetre: tousContrats ? 'TOUT' : 'SERVICE_ET_SOUS_SERVICES'}"
                                                tabindex="-1" role="menuitem">Tous les contrats</a></li>
                     <li role="presentation"><a [routerLink]="['/contrats']" [queryParams]="{perimetre: 'MOI'}" tabindex="-1" role="menuitem">Mes contrats</a></li>
                     <li role="presentation"><a [routerLink]="['/contrats']" [queryParams]="{favoris: 'true' }" tabindex="-1" role="menuitem">Mes favoris</a></li>
                     <li *ngIf="creationContrat" role="presentation"><a [routerLink]="['/newContrat']" tabindex="-1"
                                                                        role="menuitem">Créer</a></li>

                 </ul>
             </li>
             <li *ngIf="modeFournisseur" class="dropdown">
                 <a aria-expanded="true" role="button" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle" href="#" id="fournisseursPanel"> Fournisseurs <span class="caret"></span> </a>
                 <ul aria-labelledby="fournisseursPanel" role="menu" class="dropdown-menu dropdown-menu-right menu-contrats">
                     <li role="presentation"><a [routerLink]="['/fournisseurs']" href="#" tabindex="-1" role="menuitem">Recherche avancée</a></li>
                     <li role="presentation"><a [routerLink]="['/creeFournisseur']" href="#" role="menuitem" tabindex="-1" >Créer</a></li>
                 </ul>
             </li>
             <li *ngIf="imports" class="dropdown">
                 <a aria-expanded="true" role="button" aria-haspopup="true" data-toggle="dropdown"
                    class="dropdown-toggle" href="#" id="AidePanel">Imports<span class="caret"></span> </a>
                 <ul aria-labelledby="AidePanel" role="menu" class="dropdown-menu dropdown-menu-right menu-aide">
                     <li role="presentation"><a [routerLink]="['/importContrat']" tabindex="-1" role="menuitem">Import
                         des contrats</a></li>
                     <li role="presentation"><a [routerLink]="['/importContractant']" tabindex="-1" role="menuitem">Import
                         des contractants</a></li>
                 </ul>
             </li>
             <li class="dropdown">
                 <a aria-expanded="true" role="button" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle" href="#" id="AidePanel">Aide<span class="caret"></span> </a>
                 <ul aria-labelledby="AidePanel" role="menu" class="dropdown-menu dropdown-menu-right menu-aide">
                     <li role="presentation"><a [routerLink]="['/guide']" tabindex="-1" role="menuitem">Guide d'utilisation</a></li>
                 </ul>
             </li>

             <li class="dropdown">
                 <a aria-expanded="true" role="button" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle" href="#" id="userPanel"><i class="fa fa-user"></i> <span class="caret"></span> </a>
                 <ul aria-labelledby="userPanel" role="menu" class="dropdown-menu dropdown-menu-right menu-user">
                     <li role="presentation">
                         <div class="user">{{userContext.utilisateur.prenom}}  {{userContext.utilisateur.nom | uppercase }} </div>
                         <!--a href="#" tabindex="-1" role="menuitem">Mon compte</a-->
                     </li>
                     <li class="divider" role="presentation"></li>
                     <li *ngIf="!profilRSEM" role="presentation"><a (click)="onAccueilClick()" role="menuitem"
                                                                    style="cursor: pointer;" tabindex="-1">Retour à la
                         passation</a></li>
                     <!--li role="presentation"><a style="cursor: pointer;" (click)="onLogoutClick()" tabindex="-1" role="menuitem">Déconnexion</a></li-->
                 </ul>
             </li>
         </ul>
     </div>
     <!-- /.navbar-collapse -->

