<script type="text/x-template" id="dce-template">
    <ul class="list-group">
            <span v-if="isDirectory" class="lineWithoutCheckbox" :style="getStyle">
                <span>{{ '{{ node.nom }}' }}</span>
            </span>
        <li v-else class="list-group-item">
                <span :style="getStyle" class="form-check">
                     <input :class="getClassNames()" type="checkbox" name="checkboxDCE"
                            v-if="step == 'jetonSelect'"
                            :id="getId(node)"
                            :disabled="getExtension(node) !== 'xml' && getExtension(node) !== 'p7s'"
                            :extension="getExtension(node)"
                            :value="getValue(node)"
                            :data-json="getJson(node, '{{ app.request.getSchemeAndHttpHost()~ app.request.getBaseURL()}}',

                                    '{{ consultation.id }}', '{{ encryptedAgentId }}', node.fichier, 'DCE')">
                     <input :class="getClassNames()" type="checkbox" name="checkboxDCE"
                           v-if="step != 'jetonSelect'"
                           :id="getId(node)"
                           :value="getValue(node)"
                           :data-json="getJson(node, '{{ app.request.getSchemeAndHttpHost()~ app.request.getBaseURL()}}',
                                   '{{ consultation.id }}', '{{ encryptedAgentId }}', node.fichier, 'DCE')">
                    <label class="form-check-label">
                        <a :href="getDownloadUrl('{{ app.request.getSchemeAndHttpHost()~ app.request.getBaseURL()}}', '{{ consultation.id }}', '{{ encryptedAgentId }}',node.fichier,'DCE')">
                        {{ "{{ node.nom | u.truncate(55, '...') }}" }}
                            ({{  '{{ getSize(node.poids) }}' }})
                        </a>
                    </label>
                </span>
        </li>
        <li class="list-group-item">
            <dce v-for="nodechild in node.noeuds" :node="nodechild" :depth="depth + 2" :master-id="masterId" :step="step"></dce>
        </li>
    </ul>
</script>