<div class="popup-moyen m-t-4" id="{{ id|default('consDefault') }}">
    <div class="accordion test" id="consultation{{ nomPage | default('') }}">
        {% if hide is not defined %}
            {{ include('messagerie/header-consultation.html.twig', {
                'consultation': consultation,
                'title': 'DETAIL_DE_LA_CONSULTATION'
            }) }}
            <div class="row my-3">
                <div class="col-12">
                    <button v-on:click="download('{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL() }}','{{ consultation.id }}')"
                            class="btn btn-outline-primary float-left btn-download">{{ 'TELECHARGEMENT_DOCUMENTS_SELECTIONNEES' | trans }}</button>
                </div>
            </div>
        {% endif %}
        <piece-dce v-bind:step="'{{ step }}'" v-bind:global-counter="'{{ (numberByBlock is defined) ? numberByBlock['pieces_dce'] : 0 }}'" :consultation-id="{{ consultation.id }}"
                   :lang="{{ lang }}" :encrypted-agent-id="'{{ encryptedAgentId }}'">
        </piece-dce>
        <piece-pub v-bind:step="'{{ step }}'" v-bind:global-counter="'{{ (numberByBlock is defined) ? numberByBlock['pieces_publicite'] : 0 }}'"
                   :consultation-id="{{ consultation.id }}" :lang="{{ lang }}" :encrypted-agent-id="'{{ encryptedAgentId }}'">
        </piece-pub>
        <piece-depot v-bind:step="'{{ step }}'" v-bind:global-counter="'{{ (numberByBlock is defined) ? numberByBlock['pieces_depot'] : 0 }}'"
                     :consultation-id="{{ consultation.id }}" :lang="{{ lang }}" :encrypted-agent-id="'{{ encryptedAgentId }}'">
        </piece-depot>
        <pli-attributaire v-bind:step="'{{ step }}'"
                          v-bind:global-counter="'{{ (numberByBlock is defined) ? numberByBlock['pieces_attributaire'] : 0 }}'"
                          :consultation-id="{{ consultation.id }}"
                          :lang="{{ lang }}"
                          :encrypted-agent-id="'{{ encryptedAgentId }}'"
                          :base-url="'{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL() }}'"
                          :base-dir="'{{ base_dir }}'"
        >
        </pli-attributaire>
        <piece-libre v-bind:step="'{{ step }}'" v-bind:global-counter="'{{ (numberByBlock is defined) ? numberByBlock['pieces_libre'] : 0 }}'" :consultation-id="{{ consultation.id }}" :lang="{{ lang }}" :encrypted-agent-id="'{{ encryptedAgentId }}'">
        </piece-libre>
        <piece-modele
                v-bind:step="'{{ step }}'"
                :urlupdatefile="'{{ path('agent_espace_documentaire_document_consultation_edition', {'idConsultation':  consultation.id, 'blobId': 'blod_index_replace'}) }}'"
                :urlopenfile="'{{ path('analyse_offre_open_file', {'id':  consultation.id}) }}'"
                :urldownload="'{{ path('agent_espace_documentaire_document_consultation_download_to_pdf', {'id':  consultation.id, 'blobId': 'blod_index_replace'}) }}'"
                :urldelete="'{{ path('agent_espace_documentaire_document_consultation_delete', {'idConsultation':  consultation.id, 'blobId': 'blod_index_replace'}) }}'"
                :urlgenerate="'{{ path('agent_espace_documentaire_document_generate', {'idConsultation':  consultation.id}) }}'"
                :urlload="'{{ path('agent_espace_documentaire_document_consultation', {'idConsultation':  consultation.id}) }}'"
                v-bind:url-get-models="'{{ path('agent_espace_documentaire_document_template') }}'"
                v-bind:global-counter="'{{ (numberByBlock is defined) ? numberByBlock['pieces_modele'] : 0 }}'"
                :consultation-id="{{ consultation.id }}"
                :lang="{{ lang }}"
                :encrypted-agent-id="'{{ encryptedAgentId }}'">
        </piece-modele>
        {% if hide is not defined %}
            <div class="row my-3">
                <div class="col-12">
                    <button v-on:click="download('{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL() }}','{{ consultation.id }}')"
                            class="btn btn-outline-primary float-left btn-download">{{ 'TELECHARGEMENT_DOCUMENTS_SELECTIONNEES' | trans }}</button>
                </div>
            </div>
            <div class="modal fade" id="modalInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ 'LANCEMENT_DU_TELECHARGEMENT' | trans }}</h5>
                            <button v-on:click="hideAlert()" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12">
                                <div v-if="downloadOK" class="alert alert-info">
                                    {{ 'SUCCESS_CREATE_DOWNLOAD'|trans | raw }} </button>
                                </div>
                                <div v-if="noFilesSelected" class="alert alert-danger">
                                    {{ 'NO_FILES_SELECTED'|trans }}</button>
                                </div>
                                <div v-if="errorCreateDownload" class="alert alert-danger">
                                    {{ 'ERROR_CREATE_DOWNLOAD'|trans }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="hideAlert()" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">{{ 'FERMER' | trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>