<div *ngIf="!parametrageAgent">
  <label>{{"clauseValeurHeritee.txt.texteFixeAvant" | translate}}</label>
    <quill-editor [readOnly]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig" [(ngModel)]="clause.clauseTextePrevalorise.textFixeAvant" (ngModelChange)="cleanTexteAvant()"></quill-editor>
  <div class="text-right">
    <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
    <fieldset class="form-group">
      <ui-switch size="small"
                 [disabled]="disabled"
                 class="switch-small"
                 [(ngModel)]="sautLigne1"
                 (ngModelChange)="updateSautLigne1()"
                 [switchColor]="sautLigne1?'green':'red'"
                 color="#dedede"
                 name="sautLigne1"
      >
      </ui-switch>
    </fieldset>
  </div>
</div>
<hr *ngIf="!parametrageAgent">
<div>
  <div style="margin-bottom: 10px">
    <label>{{"clauseTextePrevaloriser.txt.valeurParDefaut" | translate}} :</label><span class="redStar">*</span>
    <quill-editor [readOnly]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig" [(ngModel)]="clause.clauseTextePrevalorise.defaultValue"></quill-editor>
    <p *ngIf="submitted && !clause.clauseTextePrevalorise.defaultValue">
      <small class="badge badge-danger">{{"clauseListeChoixCumulatif.txt.valeurObligatoire" | translate}}</small>
    </p>
  </div>

  <div class="row" *ngIf="!parametrageAgent && !fromEcranSurcharge && editeur">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h5><label>{{"clauseTextePrevaloriser.txt.parametrableDirection" | translate}}</label></h5>
      <fieldset class="form-group">
        <ui-switch size="small"
                   class="switch-small"
                   color="#dedede"
                   [disabled]="disabled"
                   [(ngModel)]="paramDirection"
                   (ngModelChange)="updateParamDirection()"
                   [switchColor]="paramDirection?'green':'red'"
                   name="paramDirection"
        >
        </ui-switch>
      </fieldset>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="!parametrageAgent && editeur">
      <h5><label>{{"clauseTextePrevaloriser.txt.parametrableAgent" | translate}}</label></h5>
      <fieldset class="form-group">
        <ui-switch size="small"
                   class="switch-small"
                   color="#dedede"
                   [disabled]="disabled"
                   [(ngModel)]="paramAgent"
                   (ngModelChange)="updateParamAgent()"
                   [switchColor]="paramAgent?'green':'red'"
                   name="paramAgent"
        >
        </ui-switch>
      </fieldset>
    </div>
  </div>


  <div class="text-right" *ngIf="!parametrageAgent">
    <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
    <fieldset class="form-group">
      <ui-switch size="small"
                 class="switch-small"
                 [disabled]="disabled"
                 [(ngModel)]="sautLigne2"
                 (ngModelChange)="updateSautLigne2()"
                 [switchColor]="sautLigne2?'green':'red'"
                 color="#dedede"
                 name="sautLigne2"
      >
      </ui-switch>
    </fieldset>
  </div>
</div>
<hr *ngIf="!parametrageAgent">
<div *ngIf="!parametrageAgent">
  <label>{{"clauseValeurHeritee.txt.texteFixeApres" | translate}}</label>
    <quill-editor [readOnly]="disabled" [style]="{'color': defaultTextColor}" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig" [(ngModel)]="clause.clauseTextePrevalorise.textFixeApres" (ngModelChange)="cleanTexteApres()"></quill-editor>
</div>
