{% if groupement['membres'] is defined and groupement['membres'] is not empty %}
    {% set displayPanelAttributaires = 'block' %}
{% else %}
    {% set displayPanelAttributaires = 'none' %}
{% endif %}
<layer-groupement-sous-traitant inline-template
                           :display-membres="'{{ displayPanelAttributaires }}'"
                           v-on:send-response-view="viewResponse"
                           v-bind:display-attributaires="'{{ displayPanelAttributaires }}'"
                           v-bind:display-attributaires-save="displayCotraitant">
    <div>
        {% if groupement['membres'] is defined and groupement['membres'] is not empty %}
            <div id="layerRepeaterGrouepement">
                <!--Fin Bloc message-->
                <!--Debut Tableau Attributaires-->
                <div class="panel panel-default panel-attributaires m-t-3" v-bind:style="{display: displayDataSave}">
                    <table class="table table-hover table-striped treeview table-suivi table-attributaires groupement-solidaire"
                           style="border-collapse:collapse;" role="presentation">
                        <caption class="sr-only">{{ 'ATTRIBUTAIRES_ET_CONTRACTANTS'|trans }}</caption>
                        <tbody id="tBodyGroupement">
                        <tr class="row-attributaire">
                            <th>
                                <span class="icon icon-titulaire"><strong>{{ 'DEFINE_GROUPEMENT'|trans }}  : <span id="libelleTpeGroupement">{% if groupement['groupement'].idtypeGroupement %}{{ groupement['groupement'].idtypeGroupement.libelleTypeGroupement|trans }} {% endif %}</span></strong></span>
                            </th>
                            <th class="actions col-md-2">
                                <strong>{{ 'DEFINE_ACTIONS'|trans }}</strong>
                            </th>
                        </tr>
                        {% for membre in groupement['membres'] %}
                            <tr class="indent-n1 treegrid-{{ loop.index }} {% if loop.last %}last{% endif %} {% if membre['sousMembres'] is not empty %}treegrid-expanded{% endif %}" id="groupementBlocCoTraitant_{{ membre[0].idMembreGroupementEntreprise }}">
                                <td>
                                    <span class="icon icon-mandataire{% if membre[0].idRoleJuridique.idRoleJuridique == idRoleJuridiqueMandataire %} type_mandataire{% if groupement['groupement'].idtypeGroupement.idTypeGroupement == idTypeGroupementConjointSolidaire %} solidaire{% endif %}{% endif %}">
                                        <div class="col-md-8">
                                            <strong>
                                                <span id="labelTypeMembre">{{ membre[0].idRoleJuridique.libelleRoleJuridique|trans }}</span> :
                                                <a id="lienFicheFournisseur">
                                                    {% if membre[0].entreprise is defined%}{{ membre[0].entreprise.nom }}- {{ membre[0].adresse }} {% endif %}
                                                </a>
                                                <abbr tabindex="0" title="{{ 'VERIFIE'|trans }}" data-toggle="tooltip"
                                                      class="btn-link" data-original-title="{{ 'VERIFIE'|trans }}">
                                                    <i class="fa fa-check text-success">
                                                        {% if membre[0].entreprise.saisieManuelle %}<span
                                                                class="sr-only">{{ 'VERIFIE'|trans }}</span>{% endif %}
                                                    </i>
                                                </abbr>
                                            </strong>
                                        </div>
                                        {% if membre[0].idRoleJuridique.idRoleJuridique != idRoleJuridiqueMandataire %}
                                            <div class="col-md-4">
                                            {% if
                                                membre[0].numeroSN is empty and
                                                candidature.getTypeCandidature() == 'dume' and
                                                candidature.getTypeCandidatureDume() == 'online'
                                            %}
                                                <a href="#" class="btn btn-default btn-sm" title="{{ 'RENSEIGNER_NUM_DUME'|trans }}"
                                                   v-on:click.stop.prevent="renseignerDumeModal('{{ membre[0].idMembreGroupementEntreprise }}')">
                                                    <i class="fa fa-chevron-right m-r-1"></i> {{ 'RENSEIGNER_NUM_DUME'|trans }}
                                                </a>
                                            {% elseif membre[0].numeroSN is not null %}
                                                <div class="col-md-6"><strong>{{ membre[0].numeroSN }}</strong></div>
                                                <button class="btn btn-primary btn-sm" title="{{ 'RENSEIGNER_NUM_DUME'|trans }}"
                                                        v-on:click="renseignerDumeModal('{{ membre[0].idMembreGroupementEntreprise }}')">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </span>
                                </td>
                                <td class="actions col-md-1">
                                    <button class="btn btn-primary btn-sm add-ligne-sous-traitant"
                                            title="{{ 'AJOUTER_SOUS_TRAITANT'|trans }}"
                                            id="line-sous-traitant_{{ membre[0].idMembreGroupementEntreprise }}">
                                        <i class="fa fa-user-plus"></i>
                                    </button>
                                    {% if membre[0].idRoleJuridique.idRoleJuridique != idRoleJuridiqueMandataire %}
                                        <button title="{{ 'DEFINE_SUPPRIMER'|trans }}" class="btn btn-primary btn-sm delete"
                                                v-on:click="supprimerCoTraitant('{{ membre[0].idEntreprise }}')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    {% endif %}

                                </td>
                            </tr>
                            <tr class="child treegrid-parent-1 last add-sous-traitant line-sous-traitant_{{ membre[0].idMembreGroupementEntreprise }}" style="display: none">
                                <td>
                                    <span class="icon icon-sous-traitant">
                                        <div class="col-md-8">
                                            <strong class="intitule-auto">
                                                <span id="labelTypeSousMembre">{{ 'ROLE_JURIDIQUE_SOUS_TRAITANT'|trans}} :</span>
                                            </strong>
                                            <div class="content-bloc bloc-siret">
                                                <div class="col-md-4 p-0">
                                                     <input type="text" title="{{ 'TEXT_SIREN'|trans }}" placeholder="{{ 'TEXT_SIREN'|trans }}" class="siren form-control input-sm" maxlength="9" v-model="siren">
                                                </div>
                                                <div class="col-md-4 p-0">
                                                    <div class="input-group">
                                                         <input type="text" title="{{ 'TEXT_SIRET'|trans }}" placeholder="{{ 'TEXT_SIRET'|trans }}" class="siret form-control input-sm"  maxlength="5" v-model="siret">
                                                       <div class="input-group-btn">
                                                             <button class="btn btn-primary" title="Ajouter un sous-traitant" v-on:click="addSousTraitant('{{ membre[0].idEntreprise }}')">
                                                                <i class="fa fa-user-plus"></i>
                                                             </button>
                                                       </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 m-t-1">
                                                    <img src="/consultation_depot/assets/images/picto-check-not-ok.gif?k=5f8446711597c7.72871788" alt="{{ 'FORMAT_INCORRECTE'|trans }}" v-bind:style="{display: displayIcon}">
                                                    <span v-bind:style="{display: displayMsgRequired}" class="statut-erreur small text-danger">{{ 'CHAMPS_OBLIGATOIRE'|trans }}</span>
                                                    <span v-bind:style="{display: displayMsgInvalid}" class="statut-erreur small text-danger">{{ 'SIRET_INVALIDE'|trans }}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-8 m-t-2">
                                            <layer-groupement-siret-etranger inline-template
                                                   :display-membres="'{{ displayPanelAttributaires }}'"
                                                   v-on:send-response-view="viewResponse"
                                                   v-bind:display-attributaires="'{{ displayPanelAttributaires }}'"
                                                   v-bind:display-attributaires-save="displayCotraitant">
                                                {% include 'groupement/groupement-siret-etranger.html.twig' with membre %}
                                            </layer-groupement-siret-etranger>
                                        </div>

                                    </span>
                                </td>
                                <td class="actions col-md-1">
                                    <button title="Supprimer" class="btn btn-primary btn-sm del-ligne-sous-traitant">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                            {% for sousMembre in membre['sousMembres'] %}
                                <tr class="child treegrid-parent-1  {% if loop.last %}last{% endif %}" id="groupementBlocSousTraitant_{{ membre[0].idEntreprise }}">
                                    <td>
                                        <span class="icon icon-sous-traitant">
                                            <div class="col-md-8" id="divGroupementBlocSousTraitant_{{ membre[0].idEntreprise }}">
                                                <strong class="intitule-auto">
                                                    <span id="labelTypeSousMembre">{{ sousMembre.idRoleJuridique.libelleRoleJuridique|trans }} :</span>
                                                </strong>
                                                <div class="content-bloc bloc-siret" id="panelInfoSousTraitant">
                                                    <a id="lienFicheFournisseur">
                                                    {{ sousMembre.entreprise.nom }}- {{ sousMembre.adresse }}
                                                    </a>
                                                    <abbr tabindex="0" title="{{ 'VERIFIE'|trans }}" data-toggle="tooltip"
                                                          class="btn-link" data-original-title="{{ 'VERIFIE'|trans }}">
                                                        <i class="fa fa-check text-success">
                                                            {% if sousMembre.entreprise.saisieManuelle %}<span
                                                                    class="sr-only">{{ 'VERIFIE'|trans }}</span>{% endif %}
                                                        </i>
                                                    </abbr>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                {% if
                                                    sousMembre.numeroSN is empty and
                                                    candidature.getTypeCandidature() == 'dume' and
                                                    candidature.getTypeCandidatureDume() == 'online'
                                                %}
                                                    <a href="#" class="btn btn-default btn-sm" title="{{ 'RENSEIGNER_NUM_DUME'|trans }}"
                                                       v-on:click.stop.prevent="renseignerDumeModal('{{ membre[0].idMembreGroupementEntreprise }}')">
                                                        <i class="fa fa-chevron-right m-r-1"></i> {{ 'RENSEIGNER_NUM_DUME'|trans }}
                                                    </a>
                                                {% elseif membre[0].numeroSN is not null %}
                                                    <div class="col-md-6"><strong>{{ membre[0].numeroSN }}</strong></div>
                                                    <button class="btn btn-primary btn-sm" title="{{ 'RENSEIGNER_NUM_DUME'|trans }}" v-on:click="renseignerDumeModal('{{ membre[0].idMembreGroupementEntreprise }}')">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                {% endif %}
                                            </div>
                                        </span>
                                    </td>
                                    <td class="actions col-md-1">
                                        <button title="{{ 'DEFINE_SUPPRIMER'|trans }}" class="btn btn-primary btn-sm del-sous-traitant"
                                                v-on:click="delSousTraitant({{ sousMembre.idEntreprise }}, {{ membre[0].idEntreprise }})">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="breaker"></div>

                    <!--Debut Modal Renseigner n° DUME-->
                    <div v-bind:class="classModalDume" id="modal-renseigner-dume" tabindex="-1" role="dialog">
                        <div id="modal-renseigner-dume-position" class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">{{ 'RENSEIGNER_NUMERO_DUME'|trans }}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="alert alert-danger" id="erreur-cotraitant-dume" style="display:none;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="clearfix">
                                                <div class="col-md-8">
                                                    <input type="text" id="num_dume" maxlength="8" name="num_dume" v-model="numDume"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close" v-on:click="closeDumeModal">
                                        {{ 'DEFINE_ANNULER'|trans }}
                                    </button>
                                    <button type="button" class="btn btn-primary" v-on:click="validerRefDume">
                                        {{ 'TEXT_VALIDER'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin Modal Renseigner n° DUME-->
                </div>
            </div>
        {% endif %}
    </div>
</layer-groupement-sous-traitant>

