<div>
    {% if membre is defined and membre is not empty %}
        {% set idEntreprise = membre[0].idEntreprise %}
    {% else %}
        {% set idEntreprise = null %}
    {% endif %}
    {% if groupement['is_place'] is defined and groupement['is_place'] == false  %}
        <p class="m-b-2">
            <a href="{{ path('geolocalisation_n2_foreign_countries') }}" v-on:click.stop.prevent="setDisplayforeignCompany">
                {{ 'GROUPEMENT_ENTREPRISE_NON_ETABLIE'|trans }}
            </a>
        </p>
    {% endif %}

    <div class="form" v-bind:style="{display: displayforeignCompany}">
        <div class="form-group">
            <label for="id-national" class="col-md-3 col-form-label normal">{{ 'TEXT_IDENTIFIANT'|trans }}
                <span class="text-danger">*</span>
            </label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="id-national"
                       v-model="idNational"
                       placeholder="{{ 'TEXT_IDENTIFIANT_NATIONNAL'|trans }}">
            </div>
            <div class="col-md-3 m-t-2 text-danger" v-bind:style="{display: imgErrorIdNational}">
                <img
                     src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}"
                     alt="{{ 'CHAMPS_OBLIGATOIRE'|trans }}"/> {{ 'CHAMPS_OBLIGATOIRE'|trans }}
            </div>
            <div class="col-md-3 m-t-2 text-danger" v-bind:style="{display: imgErrorSiretNotExist}">
                <img
                     src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}"
                     alt="{{ 'CHAMPS_OBLIGATOIRE'|trans }}"/> {{ 'ENTREPRISE_N_EXISTE_PAS'|trans }}
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-md-3 col-form-label normal">{{ 'DEFINE_PAYS_TERRITOIRES'|trans }}
                <span class="text-danger">*</span>
            </label>
            <div class="col-md-4">
                <select class="form-control" id="country" v-model="country">
                    <option value="">{{ 'TEXT_SELECTIONNER'|trans }}</option>
                    <option v-for="country in countries" :key="country.id" v-bind:value="country.denomination">
                        {% verbatim %}{{ country.denomination }} - ({{ country.code }}){% endverbatim %}
                    </option>
                </select>
            </div>
            <div class="col-md-3 m-t-2 text-danger" v-bind:style="{display: imgErrorCountry}">
                <img
                        src="{{ asset('consultation_depot/assets/images/picto-check-not-ok.gif') }}"
                        alt="{{ 'CHAMPS_OBLIGATOIRE'|trans }}"/> {{ 'CHAMPS_OBLIGATOIRE'|trans }}
            </div>
            <button class="btn btn-primary col-md-1" title="{{ 'AJOUTER_CO_TRAITANT'|trans }}" v-on:click="addTraitant({{ idEntreprise }})"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>
