<div v-if="modalAlertDelete" class="modal show" tabindex="-1" role="dialog" id="modalSupprimerMembresGroupement">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">{{ 'NOTE_IMPORTANTE'|trans }}</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <i class="fa fa-warning" aria-hidden="true"></i>
                    {{ 'MSG_POPIN_SUPPRESSION_GROUPEMENT'|trans }}
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-default pull-left" id="modal-btn-membres-groupement-no"
                        v-on:click="closeModalAlertDelete"
                        data-dismiss="modal">{{ 'TEXT_ANNULER'|trans }}</button>
                <button type="button" class="btn btn-primary pull-right"
                        v-on:click="confirmDelete"
                        id="modal-btn-membres-groupement-yes">{{ 'TEXT_VALIDER'|trans }}</button>
            </div>
        </div>
    </div>
</div>