<script type="text/javascript" src="{{ asset('groupement/assets/js/groupement.js') }}"></script>
<form id="form-reponse">
    <input type="hidden" id="form_uid_response" name="reponse[uid_response]" value="{{ uid_response }}"/>
    <input type="hidden"
           value="
            {% if groupement['groupement'] is defined and groupement['groupement'] is not null %}
                {{ groupement['groupement'].idGroupementEntreprise }}
                {% else %}
                '0'
            {% endif %}"
           name="idGroupeEntreprise" id="id_groupe_entreprise" />
    {% if moduleGroupement is defined and  moduleGroupement == 1 %}
        <input type="hidden" id="form_groupement_id" name="reponse[groupement_id]"
               value="{{ inscrit.email|default('') }}"/>
    {% endif %}
</form>
<div id="groupement" class="panel panel-default m-t-3 {% if app.user == null %}opacity-bloc{% endif %}">
    <div class="panel-heading">
        <h2 class="h4 panel-title">
            {{ 'ETAPE'|trans }} {{ etape }} : {{ 'DEFINE_DECLARATION_GROUPEMENT'|trans }}
        </h2>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <i class="fa fa-info-circle m-r-1" aria-hidden="true"></i>
            {{ 'INFO_DECLARATION_GROUPEMENT'|trans }}
        </div>
        {% if candidature is defined and candidature.getTypeCandidature() == 'dume' and candidature.getTypeCandidatureDume() == 'online' %}
            <div class="alert alert-info">
                <i class="fa fa-info-circle m-r-1" aria-hidden="true"></i>
                {{ 'MSG_INFORMATION_GROUPEMENT_CANDIDATURE_DUME'|trans }}
            </div>
        {% endif %}

        <div class="alert alert-danger m-b-1" v-bind:style="{display: displayPanelMessage}">
            <span>
               {{ 'SIRET_INVALIDE'|trans }}
            </span>
        </div>

        <div id="groupement-erreur-dynamique">
            {% include 'groupement/groupement-erreur.html.twig' %}
        </div>

        <!--Bloc message-->
        <div class="form-bloc">
            <div class="form-group form-group-sm clearfix">
                <div class="col-md-4 m-t-2">
                    <strong>{{ 'REPONSE_EN_GROUPEMENT'|trans }}
                        <span class="m-l-1 text-danger">*</span>
                    </strong>
                </div>
                <div class="col-md-8">
                    <label class="radio-inline" for="input_groupement_yes">
                        <input {% if app.user == null %}disabled{% endif %} type="radio" value="1" id="input_groupement_yes" name="input_groupement"
                                   v-model="picked" v-on:change="createGroupement">
                            {{ 'DEFINE_OUI'|trans }}
                    </label>

                    <label class="radio-inline" for="input_groupement_no">
                        <input {% if app.user == null %}disabled{% endif %} type="radio" value="0" id="input_groupement_no" name="input_groupement"
                                   v-model="picked" v-on:change="showModalAlertDeleteGroupement">
                            {{ 'DEFINE_NON'|trans }}
                        </label>
                    </div>
                </div>
            </div>
        {% include 'groupement/groupement_type.html.twig' %}
                </div>
    {% include 'groupement/groupement-modal-alert.html.twig' %}
            </div>

{{ encore_entry_script_tags('declaration-group') }}
