{% set typeGroupement = 0 %}
<layer-groupement-type inline-template
                       v-bind:style="{ display: display }"
                       v-bind:uid="uid"
                       v-on:send-response-view="viewResponse"
                       v-on:send-value-display-co-traitant="showCoTraitant"
                       v-on:send-error-siret-invalid="showErrorInvalidSiret">
    <div id="layer_groupement">
        <div class="form-group form-group-sm clearfix">
            <div class="col-md-4 m-t-2">{{ 'DEFINE_TYPE_GROUPEMENT'|trans }}</div>
            <div class="col-md-8 type-groupement">
                <label class="radio-inline col-md-2" for="groupementSolidaire">
                    <input type="radio" id="groupementSolidaire" name="type_groupement"
                           value="{{ idTypeGroupementSolidaire }}"
                           v-on:click="changeTypeGroupement(1)"
                           {% if groupement['groupement'] is defined and (groupement['groupement'] is null or groupement['groupement'].idtypeGroupement.idTypeGroupement == idTypeGroupementSolidaire) %}
                               checked="checked"
                               {% set typeGroupement = idTypeGroupementSolidaire %}
                           {% endif %} />{{ 'TYPE_GROUPEMENT_SOLIDAIRE'|trans }}
                </label>
                <label class="radio-inline col-md-5" for="groupementConjointNonSolidaire">
                    <input type="radio" id="groupementConjointNonSolidaire"
                           value="{{ idTypeGroupementConjointNonSolidaire }}"
                           v-on:click="changeTypeGroupement(2)"
                           name="type_groupement"
                           {% if groupement['groupement'] is defined and groupement['groupement'] is not null and groupement['groupement'].idtypeGroupement.idTypeGroupement == idTypeGroupementConjointNonSolidaire %}
                               checked="checked"
                               {% set typeGroupement = idTypeGroupementConjointNonSolidaire %}
                           {% endif %} />{{ 'TYPE_GROUPEMENT_CONJOINT_NON_SOLIDAIRE'|trans }}
                </label>
                <label class="radio-inline col-md-4" for="groupementConjointSolidaire">
                    <input type="radio" id="groupementConjointSolidaire"
                           value="{{ idTypeGroupementConjointSolidaire }}"
                           v-on:click="changeTypeGroupement(3)"
                           name="type_groupement"
                           {% if groupement['groupement'] is defined and groupement['groupement'] is not null and groupement['groupement'].idtypeGroupement.idTypeGroupement == idTypeGroupementConjointSolidaire %}
                               checked="checked"
                               {% set typeGroupement = idTypeGroupementConjointSolidaire %}
                           {% endif %} />{{ 'TYPE_GROUPEMENT_CONJOINT_SOLIDAIRE'|trans }}
                </label>
            </div>
        </div>
        {% include 'groupement/groupement-cotraitant.html.twig' %}
    </div>
</layer-groupement-type>

<div id="infoGroupementPanel" style="display:none;">
    <div class="bloc-message form-bloc-conf msg-info">
        <div class="content">
            <div class="message bloc-700">
                <span><span id="labelMessage">{{ 'DEFINE_MESSAGE_SOUS_TRAITANCE'|trans }}</span></span>
            </div>
        </div>
    </div>
</div>
<div id="groupement-tableau-dynamique">
    {% include 'groupement/groupement-tableau.html.twig' %}
    <span id="groupement-event"></span>
</div>

