<div class="alert alert-danger m-b-1" style="display:{% if message is not defined %}none{% else %}'block'{% endif %}">
            <span>
              {% if message is defined %}{{ message }}{% endif %}
            </span>
</div>