{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
    <![endif]-->

    <script>
        J(document).ready(function () {
            J(".upload-link").click(function () {
                var elId = this.id;
                J("#input_" + elId).trigger('click');
            });
            /*           J('.bootstrap [data-toggle=collapse]').on('click', function () {

             if(J(this).hasClass('collapsed')) {
             J(this).find('.fa').removeClass('.fa-plus-circle').css('.fa-minus-circle');
             }
             });*/
        });
    </script>
{% endblock %}
{% block title %}
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{{ 'CG76_DEFINE_TEXT_ACCUEIL'|trans }}</a> /
        <a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a> / {{ 'DEFINE_REPONDRE'|trans }}</div>
    </div>
{% endblock %}
{% block content %}
    {% include 'groupement/groupement-depot.html.twig' %}
{% endblock %}