<template>
  <div class="redaction-plugin">
    <div id="create">
      <v-speed-dial
          v-model="opened"
          bottom
          right
          direction="top"
          open-on-hover
          transition="slide-y-reverse-transition"
      >
        <template v-slot:activator>
          <slot name="fixed"></slot>
        </template>

        <div v-bind:key="item.id" v-for="item of buttons">
          <left-button-component v-bind:key="button.id"
                                 v-for="button of item.buttons"
                                 @click="$emit(button.clickChannel, true);$emit('click', true)"
                                 :button="button"></left-button-component>
        </div>

      </v-speed-dial>
    </div>


  </div>


</template>

<script>
import LeftButtonComponent from "./LeftButtonComponent";

export default {
  name: "AbsoluteComponent",
  components: {LeftButtonComponent},
  props: {
    isButtonsOpened: Boolean,
    buttons: Array
  },
  data() {
    return {
      opened: false
    }
  },
  watch: {
    isButtonsOpened(val) {
      this.opened = val;
    }
  },


}

</script>

<style scoped>

</style>
