<template>
    <div>
        <v-pagination v-if="pageCount>1"
                      class="margin-auto"
                      v-model="currentPage"
                      :length="pageCount"
        ></v-pagination>
        <div :id="id">
            <pdf style="border: 1px black solid;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);"
                 :src="srcPdf"
                 @num-pages="getTotalPage($event)"
                 :page="currentPage"
            ></pdf>
        </div>
    </div>
</template>

<script>
import pdf from 'vue-pdf'
import Vue from "vue";
import {BootstrapVue, IconsPlugin} from "bootstrap-vue";

Vue.use(IconsPlugin)
Vue.use(BootstrapVue)
export default {
    name: "AtexoPdfViewer",
    components: {
        pdf
    },
    props: {
        srcPdf: String,
        id: String
    },
    data() {
        return {
            currentPage: 1,
            pageCount: 0,
        }
    },
    methods: {
        getTotalPage(pages) {
            this.pageCount = pages;
        }
    },
    watch: {
        currentPage(newVal) {
            this.$emit('page-changed', newVal)
        }
    }
}

</script>

<style scoped>

</style>
