<template>
  <v-card
      elevation="2"
      class="p-2"
      outlined
  >
    <v-card-title class="title-champs-de-fusion">{{ $t(titre) }}</v-card-title>
    <v-text-field v-if="search"
                  v-model="searchText"
                  outlinedFR
                  :label="$t('template.search')"
                  class="m-2 mt-0 pt-0"
                  prepend-inner-icon="search"
    ></v-text-field>
    <div v-if="variables.length === 0">
      <v-alert
          outlined
          type="warning"
          prominent
          border="left"
      >
        {{ $t('template.no-variable') }}
      </v-alert>
    </div>
    <div v-else class="conteneurChamps">
      <div v-for="variable in filteredVariables()">

        <div class="blocChamp">
          <span class="champ" v-if="addEnabled">{{ variable.libelle }}</span>
          <span class="champ lien-cliquable isActive"
                v-if="deleteEnabled && (selectedChampFusion === variable.id)"
                @click="$emit('goTo', variable)">{{ variable.libelle }}</span>
          <span class="champ lien-cliquable" v-if="deleteEnabled && (selectedChampFusion !== variable.id)"
                @click="$emit('goTo', variable)">{{ variable.libelle }}</span>
          <v-icon>

          </v-icon>

          <div>
            <v-tooltip v-model="variable.show" top max-width="300" v-if="hasInfoBulle(variable)"
                       color="warning">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    fab
                    x-small
                    v-bind="attrs"
                    v-on="on"
                    color="info"
                    @blur="variable.show = false"
                    @click="variable.show = !variable.show"
                    class="btnRight"
                >
                  <v-icon>info</v-icon>

                </v-btn>
              </template>
              <span v-html="getInfoBulle(variable)"></span>
            </v-tooltip>
            <v-tooltip top max-width="300" v-if="variable.blocUrl">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    :disabled="loading"
                    fab
                    x-small
                    v-bind="attrs"
                    v-on="on"
                    color="info"
                    class="btnRight"
                    @click="$emit('showComplexe', variable)">
                  <v-icon>remove_red_eye</v-icon>
                </v-btn>
              </template>
              <span v-html="$t('template.show-complexe')"></span>
            </v-tooltip>
            <v-tooltip top max-width="300" v-if="addEnabled">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    fab
                    x-small
                    v-bind="attrs"
                    v-on="on"
                    color="success"
                    class="btnRight"
                    @click="$emit('add', variable)">
                  <v-icon>add</v-icon>

                </v-btn>
              </template>
              <span v-html="$t('template.add-variable')"></span>
            </v-tooltip>
            <v-tooltip top max-width="300" v-if="deleteEnabled">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    fab
                    x-small
                    v-bind="attrs"
                    v-on="on"
                    color="error"
                    class="btnRight"
                    @click="$emit('delete', variable)">
                  <v-icon>delete</v-icon>

                </v-btn>
              </template>
              <span v-html="$t('template.delete-variable')"></span>
            </v-tooltip>
          </div>



        </div>

        <hr/>

      </div>
    </div>


  </v-card>

</template>

<script>

import {isNullOrUndefined} from "@/core/utils/technical.utils";

export default {
  name: 'ChampFusionComponent',
  data() {
    return {
      searchText: ''
    };
  },
  props: {
    titre: String,
    variables: Array,
    search: Boolean,
    deleteEnabled: Boolean,
    addEnabled: Boolean,
    loading: Boolean,
    selectedChampFusion: String
  },

  watch: {
    selectedChampFusion(newValue) {
      this.selectedChampFusion = newValue;
    }
  },

  methods: {
    hasInfoBulle(variable) {
      return !isNullOrUndefined(variable.infoBulle) &&
          (
              (!isNullOrUndefined(variable.infoBulle.lien) && !isNullOrUndefined(variable.infoBulle.lien.url))
              || !isNullOrUndefined(variable.infoBulle.descripton)
          )
    },
    getInfoBulle(variable) {
      if (isNullOrUndefined(variable.infoBulle)) {
        return "";
      }
      let div = "";
      if (!isNullOrUndefined(variable.infoBulle.description) && variable.infoBulle.description !== '') {
        div = div + "<div>" + variable.infoBulle.description + "</div>";
      }
      if (!isNullOrUndefined(variable.infoBulle.lien) && !isNullOrUndefined(variable.infoBulle.lien.url) && variable.infoBulle.lien.url !== '') {
        if (!isNullOrUndefined(variable.infoBulle.lien.description)) {
          div = div + "<a href='" + variable.infoBulle.lien.url + "'>" + variable.infoBulle.lien.description + "</a>";
        } else {
          div = div + "<a href='" + variable.infoBulle.lien.url + "'>" + variable.infoBulle.lien.url + "</a>";
        }
      }
      return div;
    },
    filteredVariables() {
      if (this.searchText.length > 0) {
        let filtered = this.variables.filter(variable => (variable.libelle.toLowerCase().indexOf(this.searchText.toLowerCase())) !== -1);
        return filtered;
      } else {
        return this.variables;
      }
    }

  }

}
</script>

<style lang="scss">
.conteneurChamps {
  max-height: 35vh;
  overflow: auto;
}

.blocChamp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnRight {
  margin-right: 5px !important;
}

.lien-cliquable {
  cursor: pointer;
  width: 70% !important;
}

.champ {
  width: 70% !important;
}

.isActive {
  border: dashed 2px #3078cd;
  padding: 2px;
}

</style>
