<template>
  <v-card v-if="!!clause">
    <v-card-title class="headline grey lighten-2">
      <h3 style="font-size: 19px;"
          v-html="title"></h3>
    </v-card-title>

    <v-card-text>
      <br/>
      <h3 v-html=" $t('redac.clause-derogation.reference')+clause.ref"></h3>
      <br/>
      <v-form v-if="derogation"
              ref="formDerogation"
              v-model="valid"
              lazy-validation
      >

        <div>Article du CCAG dérogé :</div>
        <v-text-field
            required
            :rules="rules"
            v-model="derogation.article"
            label="Article du CCAG dérogé"
            placeholder="Article du CCAG dérogé"
            single-line
            outlined
        ></v-text-field>
        <div>Commentaire :</div>
        <v-text-field
            required
            :rules="rules"
            v-model="derogation.commentaire"
            label="Commentaire"
            placeholder="Commentaire"
            single-line
            outlined
        ></v-text-field>

      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              text
              @click="close()"
              v-bind="attrs"
              v-on="on"
          >
            {{ $t('redac.clause-derogation.cancel') }}
          </v-btn>
        </template>
        <span>{{ $t('redac.clause-derogation.cancel-title') }}</span>

      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn @click="changeDerogation()"
                 :disabled="!valid"
                 tile
                 color="success"
                 v-bind="attrs"
                 v-on="on"
          >
            <v-icon left>
              check
            </v-icon>
            {{ $t('redac.clause-derogation.ok') }}
          </v-btn>
        </template>
        <span>{{ $t('redac.clause-derogation.ok-title') }}</span>
      </v-tooltip>
    </v-card-actions>
  </v-card>

</template>

<script>
import {isNullOrUndefined} from "@/core/utils/technical.utils";
import {DerogationModel} from "@/core/models/derogation.model";
import {ClauseModel} from "@/core/models/clause.model";


export default {
  name: "ClauseDerogationComponent",
  data() {
    return {
      valid: false,
      rules: [
        v => !!v || 'Champs obligatoire'
      ],
    }
  },
  props: {
    clause: ClauseModel,
    derogation: DerogationModel,
    chapitresList: Array
  },
  computed: {
    title() {
      if (isNullOrUndefined(this.clause)) {
        return '';
      }
      let titleSuffix = this.clause.chapitreNumero
      if (this.clause.chapitreNumero.length === 1) {
        titleSuffix = 'Article ' + titleSuffix + ' -';
      }
      return titleSuffix + ' ' + this.clause.chapitreTitre;
    },
    items() {
      if (!this.chapitresList) {
        return []
      }
      if (this.clause) {
        return this.chapitresList.filter(item => {
          return item.numero !== this.clause.chapitreNumero
        })
      }
      return this.chapitresList;
    }
  },
  mounted() {
    if (!this.derogation) {
      this.$emit('close', this.clause)
    }
    if (this.$refs.formDerogation)
      this.$refs.formDerogation.validate()
  },
  methods: {
    changeDerogation() {
      if (this.$refs.formDerogation)
        this.$refs.formDerogation.validate()
      if (this.derogation.article && this.derogation.commentaire)
        this.$emit('derogate', this.derogation)
    },
    close() {
      this.$emit('close', null)
    }
  }, watch: {
    derogation(val) {
      this.derogation = val;
      if (this.$refs.formDerogation)
        this.$refs.formDerogation.validate()

    }
  }
}
</script>

<style scoped lang="scss">

</style>
