<template>
    <v-card v-if="!!clause">
        <v-card-title class="headline grey lighten-2">
            <h3 style="font-size: 19px;"
                v-html="title"></h3>
        </v-card-title>

        <v-card-text>
            <br/>
            <h3 v-html=" $t('redac.clause-modification.reference')+clause.ref"></h3>
            <br/>
            <div v-if="isNotEmpty(clause.texteFixeAvant)"
                 v-html="clause.texteFixeAvant"></div>
            <v-card-text
                    v-if="isFormultation(clause)">
                <div v-if="clause.formulairesListeType.exclusif">
                    <v-radio-group
                            v-model="clause.value"
                    >
                        <v-radio class="margin-bottom-10"
                                 v-for="(formulation, index) in clause.formulairesListeType.formulation"
                                 color="#6286b6"
                                 :value="index"
                                 @click="validateFormulationMultiple(clause.formulairesListeType,index)"
                        >
                            <template v-slot:label>
                                <div style="padding-top:4px;    width: 95%;">
                                    <quill-editor
                                            v-model="formulation.value"
                                            :options="editorOption"
                                            v-if="clause.clauseformulationsmodifiable"></quill-editor>
                                    <div v-else-if="isNotEmpty(formulation.value)"
                                         v-html="formulation.value"></div>
                                </div>
                            </template>
                        </v-radio>
                    </v-radio-group>
                </div>
                <div v-else>
                    <v-row v-for="formulation in clause.formulairesListeType.formulation"
                           class="margin-bottom-10">
                        <v-checkbox
                                v-model="formulation.precoche"
                                color="#6286b6"
                                hide-details
                                class="shrink mr-2 mt-0"
                        ></v-checkbox>

                        <div style="padding-top:4px;    width: 95%;">
                            <quill-editor
                                    v-model="formulation.value"
                                    :options="editorOption"
                                    v-if="clause.clauseformulationsmodifiable"></quill-editor>
                            <div v-else-if="isNotEmpty(formulation.value)"
                                 v-html="formulation.value"></div>
                        </div>

                    </v-row>
                </div>
            </v-card-text>
            <div v-if="isNotEmpty(clause.texteFixeApres)"
                 v-html="clause.texteFixeApres"></div>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            color="primary"
                            text
                            @click="$emit('close', clause)"
                            v-bind="attrs"
                            v-on="on"
                    >
                        {{ $t('redac.clause-modification.cancel') }}
                    </v-btn>
                </template>
                <span>{{ $t('redac.clause-modification.cancel-title') }}</span>

            </v-tooltip>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn @click="validateClause(false)"
                           tile
                           color="success"
                           v-bind="attrs"
                           v-on="on"
                    >
                        <v-icon left>
                            check
                        </v-icon>
                        {{ $t('redac.clause-modification.ok') }}
                    </v-btn>
                </template>
                <span>{{ $t('redac.clause-modification.ok-title') }}</span>
            </v-tooltip>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn @click="validateClause(true)"
                           tile
                           color="success"
                           v-bind="attrs"
                           v-on="on"
                    >
                        <v-icon left>
                            done_all
                        </v-icon>
                        {{ $t('redac.clause-modification.ok-and-validate') }}
                    </v-btn>
                </template>
                <span>{{ $t('redac.clause-modification.ok-and-validate-title') }}</span>
            </v-tooltip>
        </v-card-actions>
    </v-card>

</template>

<script>
import {ClauseModel} from "@/core/models/clause.model";
import {quillEditor} from 'vue-quill-editor'
import {isNullOrUndefined} from "@/core/utils/technical.utils";


export default {
        name: "ClauseModificationComponent",
        components: {quillEditor},
        data() {
            return {
                editorOption: {
                    placeholder: 'À completer',
                    modules: {
                        toolbar: false
                    },
                    theme: 'snow'
                },
            }
        },
        props: {
            clause: ClauseModel
        },
        computed: {
            title() {
                if (isNullOrUndefined(this.clause)) {
                    return '';
                }
                let titleSuffix = this.clause.chapitreNumero
                if (this.clause.chapitreNumero.length === 1) {
                    titleSuffix = 'Article ' + titleSuffix + ' -';
                }
                return titleSuffix + ' ' + this.clause.chapitreTitre;
            }
        },
        mounted() {
            if (!this.clause || !this.isFormultation(this.clause)) {
                this.$emit('close', this.clause)
            }
        },
        methods: {
            validateClause(valid) {
                this.clause.initialise = true;
                this.$emit('valid', {valid, clause: this.clause})
            },
            validateFormulationMultiple(formulairesListeType, formulationIndex) {
                if (formulairesListeType.exclusif) {
                    formulairesListeType.formulation.forEach((item, index) => {
                        item.precoche = index === formulationIndex;
                    })
                }
            },
            isNotEmpty(val) {
                return !!val && val.trim() !== ''
            }, isListNotEmpty(val) {
                return !!val && val.filter(item => !!item).length > 0
            },
            isFormultation(clauseModel) {
                return !!clauseModel && !!clauseModel.formulairesListeType && !!clauseModel.formulairesListeType.formulation && clauseModel.formulairesListeType.formulation.length > 0;
            },

        }, watch: {
            clause(val) {
                if (!val || !this.isFormultation(val) || val.initialise) {
                    this.$emit('close', val)
                }
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
