<template>
  <div>
    <div class="float-right text-align-right margin-top-50-px">
      <div class="font-size-45-pt ">{{ $t('hello') }}</div>
      <div class="font-size-22-pt"> {{ $t('welcome') }}
        <strong>{{ $t('main-application.title') }}</strong></div>
    </div>
    <br/>
    <br/>

    <img src="../assets/img/background.png" class="background-image"
         width="500">
  </div>
</template>

<script>
export default {
  name: "DefaultComponent"
}
</script>

<style scoped>
.background-image {
  bottom: 20px;
  position: absolute;
  width: calc(29vw + 29vh);
  margin-left: 40px;
}

.v-application .float-right {
  float: right !important;
  position: fixed;
  right: 50px;
}
</style>
