<template>
  <div style="height: 100%">
    <session-expiree-component
        :dialog="dialogTokenInvalid"></session-expiree-component>
    <session-suspendue-component
        :dialog="suspendDialog"></session-suspendue-component>
    <session-alert-component :dialog="warningDialog"
                             @close-session-alerte="warningDialog=false;$emit('close-alert',true)"></session-alert-component>
    <div class="onlyoffice" v-if="open && !suspendDialog && !!token">
      <only-office-component :apis="apis" :config="config"
                             @session-suspendue="suspendDialog=$event"
                             @document-modification="$emit('document-modification', $event)"
                             @document-error="$forceUpdate()"
                             @open="finishOnlyOffice($event)"
      ></only-office-component>

      <slot name="plugin"></slot>
    </div>
    <default-component v-else/>
  </div>

</template>

<script>

import OnlyOfficeComponent from "@/components/OnlyOfficeComponent";
import SessionExpireeComponent from "@/components/alert/SessionExpireeComponent";
import SessionSuspendueComponent from "@/components/alert/SessionSuspendueComponent";
import SessionAlertComponent from "@/components/alert/SessionAlerteComponent";
import {JwtUtils} from "@/core/utils/jwt.utils";
import {isNullOrUndefined} from "@/core/utils/technical.utils";
import DefaultComponent from "@/components/DefaultComponent";

export default {
  components: {
    DefaultComponent,
    SessionAlertComponent,
    SessionSuspendueComponent,
    SessionExpireeComponent, OnlyOfficeComponent
  },
  data() {
    return {
      lastCloseDialog: new Date(),
      valid: false,
      docEditor: null,
      config: null,
      apis: null,
      open: false,
      launchDate: new Date(),
      startOnlyOffice: new Date(),
      documentReady: false,
      dialogTokenInvalid: false,
      dialogValidation: false,
      warningDialog: false,
      suspendDialog: false
    }
  }
  , mounted() {
    this.getDifference(this.launchDate, this.$store.state.application.start, 'Finish Step 1 : Loading App in ')
    this.start();
  },
  methods: {

    start() {
      this.suspendDialog = false;
      this.lastCloseDialog = new Date();
      if (!isNullOrUndefined(this.token)) {
        this.dialogTokenInvalid = !JwtUtils.checkTokenValidity(this.exp);
        this.warningDialog = JwtUtils.checkTokenWarning(this.exp);
        if (!this.dialogTokenInvalid) {
          this.openDocument();
          setInterval(() => {
            this.dialogTokenInvalid = !JwtUtils.checkTokenValidity(this.exp);
            this.warningDialog = JwtUtils.checkTokenWarning(this.exp);
            if (this.dialogTokenInvalid) {
              this.open = false;
            }
          }, 30 * 60 * 1000)
        }
      }
    },
    finishOnlyOffice(open) {
      this.documentReady = open;
      const now = new Date();
      this.getDifference(now, this.startOnlyOffice, 'Finish Step 3 : Loading OnlyOffice in ')
      this.$emit("open", open);
    },
    getDifference(date1, date2, message) {
      const seconds = (date1 - date2) / 1000
      console.log(message + seconds + ' seconds')
    },
    openDocument() {

      this.$store.dispatch("editor/getEditorConfiguration").then(value => {
        this.startOnlyOffice = new Date();
        this.getDifference(this.startOnlyOffice, this.launchDate, 'Finish Step 2 : Configuration App in ')
        value.config.document.url += '/request-to-open/' + value.config.document.id + "?token=" + sessionStorage.getItem('token');
        value.config.editorConfig.callbackUrl += "/api/v1/edition/callback/track?token=" + sessionStorage.getItem('token');
        let href = location.href;
        if (!href.endsWith('/edition')) {
          let origin = window.location.origin;
          console.log(window.location)
          value.config.editorConfig.plugins = {
            pluginsData: [
              origin + "/plugins/redac/config.json"
            ],
            autoStart: true
          };
        }
        value.config.token = this.token;
        this.config = value.config;
        this.$emit("config", this.config)
        this.apis = value.apis;
        this.open = true;
      }, () => {
        this.open = false;
        this.$store.dispatch("application/setAlert", {
          type: 'error',
          header: 'Erreur',
          icon: 'error',
          show: true,
          button: 'Fermer',
          message: 'Une erreur s\'est produite.',
          closeWindow: true

        });
      })
    }
  },
  computed: {
    exp() {
      return this.$store.state.application.exp;
    },
    token() {
      return this.$store.state.application.editionDetails;
    }

  }
}

</script>

<style>

</style>
