<template>
  <alert-dialog-component :show="show"
                          type="info" icon="info"
                          :header="$t('redac.invalidate-document.header')"
                          max-width="800"
                          @close-alert="$emit('cancel')"
  >
    <template v-slot:message>
      <div v-html="$t('redac.invalidate-document.message')"></div>
      <quill-editor
          v-model="commentaire"
          :options="editorOption"></quill-editor>
    </template>

    <template v-slot:button>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              text
              @click="$emit('cancel')"
              v-bind="attrs"
              v-on="on"
          >
            {{ $t('redac.invalidate-document.cancel') }}
          </v-btn>
        </template>
        <span>{{
            $t('redac.invalidate-document.cancel-title')
          }}</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              @click="invalidate"
              tile
              color="error"
              v-bind="attrs"
              v-on="on"
          >
            <v-icon left>
              unpublished
            </v-icon>
            {{ $t('redac.invalidate-document.invalidate') }}
          </v-btn>
        </template>
        <span>{{
            $t('redac.invalidate-document.invalidate-title')
          }}</span>
      </v-tooltip>
    </template>
  </alert-dialog-component>
</template>

<script>
import AlertDialogComponent from "@/components/alert/AlertDialogComponent";
import {quillEditor} from 'vue-quill-editor'

export default {
  name: "InvalidateDocumentComponent",
  components: {AlertDialogComponent, quillEditor},
  data() {
    return {
      commentaire: "",
      editorOption: {
        placeholder: this.$t('redac.invalidate-document.comment-placeholder'),
        modules: {
          toolbar: false
        },
        theme: 'snow'
      },
    }
  },
  props: {show: Boolean, documentKey: String},
  methods: {
    invalidate() {
      let args = this.commentaire;
      if (args.includes('<p>')) {
        args = args.replace('<p>', '').replace('</p>', '')
      }
      this.$emit('invalidate', args)
    }
  },
  watch: {
    show(val) {
      this.commentaire = '';
      val && this.$store.dispatch('editor/forceUpdate', this.documentKey)
    }
  }

}
</script>

<style scoped>

</style>
