<template>
  <v-tooltip left max-width="300">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          fab
          small
          v-bind="attrs"
          v-on="on"
          :color="button.color"
          :disabled="button.disabled"
          @click="$emit('click')">
        <v-icon>{{ button.icon }}</v-icon>

      </v-btn>
    </template>
    <span v-html="$t(button.label)"></span>
  </v-tooltip>
</template>

<script>

export default {
  name: "LeftButtonComponent",
  props: {
    button: Object
  }
}
</script>

<style scoped>

</style>
