<template>
    <div class="loader">
        <div class="spinner"></div>
    </div>
</template>

<script>
export default {

};
</script>

<style scoped>


.spinner {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>
