<template>
    <div style="height: 100%; overflow: hidden">
        <default-component
                v-if="!documentReady|| documentError"></default-component>
        <div style="height: 100%"
             v-bind:class="{'hidden':!documentReady || documentError}">
            <div id="iframeEditor"></div>

        </div>
    </div>


</template>

<script>
import DefaultComponent from "@/components/DefaultComponent";
import {loadLanguageAsync} from "@/i18n";

export default {
        name: "OnlyOffice",
        components: {DefaultComponent},
        props: {
            apis: String,
            config: Object,
            resume: Date
        },
        data() {
            return {
                lastModification: new Date(),
                intervalActif: null,
                documentReady: false,
                documentError: false
            }
        },
        mounted() {
            this.$store.dispatch("editor/forceUpdate", this.config.document.key).then(() => {
                this.openDocument(this.apis);
            }, () => this.openDocument(this.apis))

        },
        methods: {
            startModification() {
                this.$emit('session-suspendue', false)
                this.lastModification = new Date();
                this.intervalActif = setInterval(() => {
                    const lastModification = new Date();
                    if (lastModification - this.lastModification > 1000 * 60 * 60) {
                        this.$emit('session-suspendue', true)
                        clearInterval(this.intervalActif);
                    }
                }, 5000)
            }
            ,
            openDocument(apis) {
              this.$store.dispatch("editor/getSurchargeI18n",this.config.document.key).then(value => {
                loadLanguageAsync('fr',value);
              });

                this.startModification();
                this.$loadScript(apis)
                    .then(() => {
                        console.log('Start Init OnlyOffice Iframe')
                        this.initOnlyOffice();
                        this.docEditor = new DocsAPI.DocEditor("iframeEditor", this.config);
                    })
                    .catch((error) => {
                        this.$store.dispatch("application/setMessage", {
                            message: "onlyoffice.error",
                            snackbar: true,
                            color: 'error'
                        })
                        this.$emit("open", false);

                    });

            }
            ,
            initOnlyOffice() {
                this.config.width = "100%";
                this.config.height = "100%";

                this.config.events = {
                    "onAppReady": this.onAppReady,
                    "onDocumentReady": this.onDocumentReady,
                    "onDocumentStateChange": this.onDocumentStateChange,
                    'onRequestEditRights': this.onRequestEditRights,
                    "onError": this.onError,
                    "onOutdatedVersion": this.onOutdatedVersion,
                };

            }, showIframe() {
                if (!this.documentReady && !this.documentError) {
                    this.documentReady = true;
                    this.$store.dispatch("application/setMessage", {
                        message: "onlyoffice.success",
                        snackbar: true,
                        color: 'success'
                    })
                    this.$emit("open", true);
                }
            }
            ,
            onAppReady() {
                console.log("onAppReady")
                setTimeout(() => {
                    console.log("onDocumentReady")
                    this.showIframe();
                }, 5000)
            },
            onDocumentReady() {
                console.log("onDocumentReady")
                this.showIframe();
            }
            ,
            onDocumentStateChange(event) {
                console.log("onDocumentStateChange", event)
                this.lastModification = new Date();
                this.$emit("document-modification", new Date())
                var title = document.title.replace(/\*$/g, "");
                document.title = title + (event.data ? "*" : "");
            }
            ,
            onRequestEditRights() {
                location.href = location.href.replace(RegExp("mode=view\&?", "i"), "");
            }
            ,
            onError(event) {
                console.log("onError", event)
                this.documentError = true;
                let errorMessage = "Une erreur s'est produite."
                if (event && event.data && event.data.errorDescription) {
                    errorMessage = event.data.errorDescription
                }
                errorMessage += '\nVos modifications ont été enregistrées.'

                this.$store.dispatch("application/setAlert", {
                    type: 'error',
                    header: 'Erreur',
                    icon: 'error',
                    show: true,
                    button: 'Fermer',
                    message: errorMessage,
                    closeWindow: true
                });
                this.$emit('document-error')
                this.$emit("open", false);

            }
            ,
            onOutdatedVersion(event) {
                console.log("onOutdatedVersion", event);
                this.$store.dispatch("editor/forceUpdate", this.config.document.key).then(() => {
                    this.documentError = true;
                    this.$store.dispatch("application/setAlert", {
                        type: 'error',
                        header: 'Information',
                        icon: 'error',
                        show: true,
                        button: 'Recharger',
                        message: "La version du fichier a été changé",
                        reloadWindow: true
                    });
                  this.$store.dispatch('editor/forceUpdate', this.config.document.key)
                  this.$emit('document-error')
                    this.$emit("open", false);
                }, () => {
                    this.documentError = true;
                    this.$store.dispatch("application/setAlert", {
                        type: 'error',
                        header: 'Information',
                        icon: 'error',
                        show: true,
                        button: 'Recharger',
                        message: "La version du fichier a été changé",
                        reloadWindow: true
                    });
                    this.$emit('document-error')
                    this.$emit("open", false);
                })

            }
        }
    }

</script>

<style scoped>
    .hidden {
        visibility: hidden;
    }
</style>
