<template>
  <alert-dialog-component :show="show"
                          type="info" icon="info"
                          :header="getHeader()"
                          max-width="800"
                          @close-alert="$emit('cancel')"
  >
    <template v-slot:message>
        <div>
            <div v-if="loading">
                <loader-component></loader-component>
            </div>
            <div v-if="!!srcPdf && srcPdf.length > 0">
                <AtexoPdfViewer :srcPdf="srcPdf" id="pdfViewer"
                                @page-changed="onPageChange($event)"></AtexoPdfViewer>
            </div>

        </div>
    </template>

    <template v-slot:button>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              text
              @click="$emit('cancel')"
              v-bind="attrs"
              v-on="on"
          >
            {{ $t('template.variables.cancel') }}
          </v-btn>
        </template>
        <span>{{
            $t('template.variables.cancel-title')
          }}</span>
      </v-tooltip>


    </template>
  </alert-dialog-component>
</template>

<script>

import AlertDialogComponent from "@/components/alert/AlertDialogComponent";
import OnlyOfficeComponent from "@/components/OnlyOfficeComponent.vue";
import AtexoPdfViewer from "@/components/AtexoPdfViewer.vue";
import TemplateService from "@/core/services/template.service";
import SpinnerComponent from "@/components/SpinnerComponent.vue";
import LoaderComponent from "@/components/LoaderComponent.vue";

export default {
  name: 'ShowComplexeComponent',
  components: {LoaderComponent, SpinnerComponent, AtexoPdfViewer, OnlyOfficeComponent, AlertDialogComponent},
  props: {show: Boolean, srcPdf: String, loading: Boolean, libelle: String},
  data() {
    return {
      config: null

    }
  },
  methods: {

      onPageChange(event) {
          this.currentPage = event;
          console.log(this.currentPage)
      },
      getHeader() {
          return this.$t('template.show-complexe') + ": " + this.libelle;
      }
  }


}

</script>

<style lang="scss">


.parametre {
  margin: 10px;
  padding: 10px;
}

.group-box {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}
</style>
