<template>
  <div class="loader-overlay">
    <div class="lds-dual-ring"></div>
  </div>
</template>

<script>
export default {
  name: "SpinnerComponent"
}
</script>

<style scoped>


.loader-overlay {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
}

.lds-dual-ring {
  display: inline-block;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
