<template>
  <alert-dialog-component :show="show"
                          type="info" :icon="blocTemplate?
                           'edit' : 'add' "
                          :header="blocTemplate?
                          $t('template.modify-header'):$t('template.add-header')"
                          max-width="800"
                          @close-alert="$emit('close',null)"
  >
    <template v-slot:message>
      <v-row>
        <v-col class="pt-0 pb-0" cols="12" sm="6" md="6">
          <v-text-field
              :label="$t('template.name-label')"
              outlined
              @change="templateRequest.champsFusion = $event"
              :value="templateRequest.champsFusion"
          ></v-text-field>
        </v-col>
        <v-col class="pt-0 pb-0" cols="12" sm="6" md="6"
        >
          <v-text-field
              :label="$t('template.reference-label')"
              outlined
              @change="templateRequest.reference = $event"
              :value="templateRequest.reference"
          ></v-text-field>
        </v-col>
        <v-col class="pt-0 pb-0" cols="12">
          <v-checkbox
              v-model="checkbox"
              :label="$t('template.from-file')"
          ></v-checkbox>

          <v-file-input v-if="checkbox"
                        outlined
                        @change="templateRequest.bodyFile=$event"
                        :label="$t('template.choose-file')"
          ></v-file-input>
          <quill-editor v-else
                        v-model="templateRequest.body"
                        :disabled="checkbox"
                        :options="editorOption"></quill-editor>


        </v-col>
      </v-row>

    </template>

    <template v-slot:button>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              text
              @click="$emit('close',null)"
              v-bind="attrs"
              v-on="on"
          >
            {{ $t('template.close') }}
          </v-btn>
        </template>
        <span>{{
            $t('template.close-title')
          }}</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              @click="addBlocTemplate()"
              tile
              v-disabled="!templateRequest.reference || !templateRequest.champsFusion"
              color="success"
              v-bind="attrs"
              v-on="on"
          >
            <v-icon left>
              {{ blocTemplate ? 'edit' : 'add' }}
            </v-icon>
            {{
              blocTemplate ? $t('template.modify') : $t('template.add')
            }}
          </v-btn>
        </template>
        <span>{{
            blocTemplate ? $t('template.modify-title') : $t('template.add-title')
          }}</span>
      </v-tooltip>
    </template>
  </alert-dialog-component>
</template>

<script>
import {isNullOrUndefined} from "@/core/utils/technical.utils";
import {TemplateRequestModel} from "@/core/models/template-request.model";
import AlertDialogComponent from "@/components/alert/AlertDialogComponent";
import {quillEditor} from 'vue-quill-editor'


export default {
  name: "TemplateConfigurationComponent",
  components: {AlertDialogComponent, quillEditor},
  data() {
    return {
      file: null,
      checkbox: false,
      templateRequest: new TemplateRequestModel(),
      editorOption: {
        placeholder: this.$t('template.add-text'),
        modules: {
          toolbar: [
            ['bold', 'italic']
          ],
        },
        theme: 'snow'
      },
    }
  },
  props: {
    show: Boolean,
    blocTemplate: Object,
    parentBlocTemplate: Object,
  },
  mounted() {
    if (!isNullOrUndefined(this.blocTemplate) && !isNullOrUndefined(this.blocTemplate.Id)) {
      this.$store.dispatch('template/getBlocTemplate', this.blocTemplate.Id).then(value => {
        this.templateRequest.champsFusion = value.data.champsFusion;
        this.templateRequest.reference = value.data.templateReference;
        this.templateRequest.id = value.data.id;
      })
    }
  }
  , methods: {
    addBlocTemplate() {


      this.$store.dispatch('template/addBlocTemplate', this.templateRequest).then((response) => {
        this.$emit('close', response)
      }, () => {
        this.$emit('close', null)

      })

    }
  }
}
</script>

<style scoped lang="scss">


</style>
