<template>
  <alert-dialog-component :show="show"
                          type="info" icon="info"
                          :header="$t('template.display')"
                          max-width="800"
                          @close-alert="$emit('cancel')"
  >
    <template v-slot:message>
      <div>
        <v-select  v-if="!!donneesTests && donneesTests.length > 0"
            v-model="donneeSelected"
            return-object
            :items="donneesTests"
            label="Choisissez une donnée de test:"
            required
        ></v-select>
        <div v-if="!!srcPdf">
          <AtexoPdfViewer :srcPdf="srcPdf" id="pdfViewer"
                          @page-changed="onPageChange($event)"></AtexoPdfViewer>
        </div>
      </div>
    </template>

    <template v-slot:button>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              text
              @click="$emit('cancel')"
              v-bind="attrs"
              v-on="on"
          >
            {{ $t('template.variables.cancel') }}
          </v-btn>
        </template>
        <span>{{
            $t('template.variables.cancel-title')
          }}</span>
      </v-tooltip>
      <v-tooltip top v-if="!!donneesTests && donneesTests.length > 0">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              @click="generate"
              tile
              color="success"
              v-bind="attrs"
              v-on="on"
          >
            <v-icon left>
              check
            </v-icon>
            {{
              $t('template.variables.generate')
            }}
          </v-btn>
        </template>
        <span>{{
            $t('template.variables.generate-title')
          }}</span>
      </v-tooltip>
    </template>
  </alert-dialog-component>
</template>

<script>

import AlertDialogComponent from "@/components/alert/AlertDialogComponent";
import OnlyOfficeComponent from "@/components/OnlyOfficeComponent.vue";
import AtexoPdfViewer from "@/components/AtexoPdfViewer.vue";
import TemplateService from "@/core/services/template.service";

export default {
  name: 'TestRenduComponent',
  components: {AtexoPdfViewer, OnlyOfficeComponent, AlertDialogComponent},
  props: {
    donneesTests: [], show: Boolean
  },
  data() {
    return {
      donneeSelected: null,
      config: null,
      srcPdf: null,
    }
  },
  mounted() {
    if (!this.donneesTests || this.donneesTests.length === 0) {
      this.generate();
    }
  },
  methods: {
    async generate() {
      //this.$store.dispatch('template/generateTestRendu', this.donneeSelected.requests);
      const toBase64 = buffer => new Promise((resolve, reject) => {
        var blob = new Blob([buffer], {type: 'application/octet-binary'})
        const reader = new FileReader();
        reader.readAsDataURL(blob);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
      let keyValues = !!this.donneeSelected && !!this.donneeSelected.requests ? this.donneeSelected.requests : [];
      TemplateService.generateTestRendu(keyValues).then(
          async response => {
            console.log("here1 ", response)
            const result = await toBase64(response.data).catch(e => Error(e));
            if (result instanceof Error) {
              console.log('Error: ', result.message);
              return;
            }
            console.log("here2 ", result)
            this.srcPdf = result;
          });

    },
    onPageChange(event) {
      this.currentPage = event;
      console.log(this.currentPage)
    }
  }


}

</script>

<style lang="scss">


.parametre {
  margin: 10px;
  padding: 10px;
}

.group-box {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}
</style>
