<template>
  <alert-dialog-component :show="show"
                          type="info" icon="info"
                          :header="$t('template.variables.header')"
                          max-width="800"
                          @close-alert="$emit('cancel')"
  >
    <template v-slot:message>
      <v-jsoneditor class="variable"
                    v-model="json"
                    :height="'450px'"
                    :options="{mode:'code'}">

      </v-jsoneditor>
    </template>

    <template v-slot:button>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              text
              @click="$emit('cancel')"
              v-bind="attrs"
              v-on="on"
          >
            {{ $t('template.variables.cancel') }}
          </v-btn>
        </template>
        <span>{{
            $t('template.variables.cancel-title')
          }}</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              @click="generate"
              tile
              color="success"
              v-bind="attrs"
              v-on="on"
          >
            <v-icon left>
              check
            </v-icon>
            {{
              $t('template.variables.generate')
            }}
          </v-btn>
        </template>
        <span>{{
            $t('template.variables.generate-title')
          }}</span>
      </v-tooltip>
    </template>
  </alert-dialog-component>
</template>

<script>

import VJsoneditor from 'v-jsoneditor/src/index'
import AlertDialogComponent from "@/components/alert/AlertDialogComponent";
import * as _ from 'lodash';

export default {
  name: 'VariablesComponent',
  components: {VJsoneditor, AlertDialogComponent},
  props: {show: Boolean},
  data() {
    return {
      valid: false,
      json: {}
    }
  },
  mounted() {
    this.fetchVariables();
  },
  methods: {
    getElement(tab, json, child) {
      tab.forEach(item => {
        let split = item.split(".");
        let objectFromTable = this.getObjectFromTable(split, json, child);
        json = _.merge(json,
            objectFromTable);
      });
      return json
    },
    fetchVariables() {
      this.$store.dispatch('template/getDocVariable').then(
          (response) => {
            this.json = {};

            let data = JSON.parse(JSON.stringify(response.data));
            if (Object.keys(data).length > 0) {
              if (data['SIMPLE'].length > 0) {
                this.json = _.merge(this.json, this.getElement(data['SIMPLE'], {}, null))
              }
              Object.keys(data).filter((key) => key.startsWith('BLOC_TEMPLATE_')).forEach((key) => {
                const suffix = key.replaceAll('BLOC_TEMPLATE_', '');
                let split = suffix.split(".");
                let objectFromTable = this.getObjectFromTable(split, {}, [this.getElement(data[key], {}, null)]);
                let initObject = {...this.json};
                let objectFromTableElement = objectFromTable;
                split.forEach(value => {
                  if (initObject[value]) {
                    if (Array.isArray(initObject[value])) {
                      objectFromTableElement[value] = [objectFromTableElement[value]]
                    }
                    objectFromTableElement = objectFromTableElement[value]
                    initObject = initObject[value];
                  }
                })

                this.json = _.merge(this.json, objectFromTable)

              });
              let keyValues = [];
              Object.keys(this.json).forEach(key => keyValues.push({
                key: key,
                value: this.json[key]
              }))
              this.json = keyValues;
              this.valid = true;
            } else {
              this.$store.dispatch("application/setMessage", {
                message: "template.variables.empty",
                snackbar: true,
                color: 'info'
              })
            }
          },
          () => {
            this.$store.dispatch("application/setMessage", {
              message: "template.variables.error",
              snackbar: true,
              color: 'error'
            })
          }
      );
    },
    getObjectFromTable(tab, obj, child) {
      if (!tab || tab.length === 0) {
        return {};
      }
      if (tab.length === 1) {
        obj[tab[0]] = child;
      } else {
        let tab1 = tab.filter((value, index1) => index1 !== 0);
        let objectFromTable = this.getObjectFromTable(tab1, {}, child);
        obj[tab[0]] = _.merge(obj[tab[0]],
            objectFromTable
        )
      }
      return obj;

    },
    generate() {
      this.$store.dispatch('template/generateDoc', this.json)
    }
  }
}

</script>

<style lang="scss">
.variable {
  color: #FFFFFF;

  div {
    border-radius: 0 !important;
  }

  .jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #6286b6;
    border-bottom: 1px solid #6286b6;
  }

  .jsoneditor {
    color: #1a1a1a;
    border: thin solid #6286b6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    line-height: 100%;
  }

  .jsoneditor-poweredBy {
    display: none !important;
  }

  .div.jsoneditor-outer.has-main-menu-bar {
    height: 40vh;
    overflow: auto;
  }

}

.jsoneditor-container {
  div {
    border-radius: 0;
  }

  .jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #6286b6;
    border-bottom: 1px solid #6286b6;
  }
}

.parametre {
  margin: 10px;
  padding: 10px;
}

.group-box {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}
</style>
