<div *ngIf="alert" class="alert show alert-icon-left mb-2 alert-{{alert.type}} fade alert-dismissible">
  <span class="alert-icon" *ngIf="alert.icon">
    <i class="la {{alert.icon}}"></i>
  </span>
  <div *ngFor="let message of alert.messages">
    <div [innerHTML]="(message | translate)"></div>
  </div>
  <button type="button" aria-label="Close" class="btn-close" (click)="close()">
    <i class="la la-close"></i>
  </button>
</div>
