<template>
  <div class="sub-menu">
    <atx-title :titre="title"
               :description="description"></atx-title>
    <div id="liste">

      <v-list dense
              rounded>
        <v-list-item-group @change="navigate" v-model="activeTab">
          <v-list-item
              v-for="item in items"
              :key="item.router"
              link
          >
            <v-list-item-icon>
              <v-badge v-if="item.badgeIcon"
                       bordered
                       :icon="item.badgeIcon"
                       :color="item.badgeColor"
                       overlap
              >
                <v-icon>{{ item.icon }}</v-icon>
              </v-badge>
              <v-icon v-else>{{ item.icon }}</v-icon>

            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </div>
  </div>
</template>
<script>
import TitreComponent from "./TitreComponent";

export default {
  components: {'atx-title': TitreComponent},
  data() {
    return {
      model: -1
    }
  },
  props: {
    title: String,
    description: String,
    items: Array
  },
  computed: {
    activeTab: {
      get() {
        return this.model;
      },
      set(val) {
        this.model = val
      }

    }
  },
  watch: {
    $route(to, from) {
      this.activeTab = this.items.findIndex(item => item.router === this.$router.currentRoute.name);
    }
  },
  mounted() {
    this.activeTab = this.items.findIndex(item => item.router === this.$router.currentRoute.name);

  },
  methods: {
    navigate(event) {
      if (!this.items[event]) {
        return;
      }
      if (this.items[event].newTab) {
        window.open(this.items[event].router, '_blank');
      } else {
        this.$router.push(this.items[event].router)
      }
    }
  }
}
</script>
<style>

#sub-menu {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
  margin-right: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

</style>
