<template>
    <div id="titre">
        <div class="atexo-title">{{titre}}</div>
        <div class="atexo-description">{{description}}</div>

    </div>
</template>
<script>
    export default {
        props: {
            titre: String,
            description: String,
        },
    }
</script>
<style>
    #titre {
        background: #ffffff;
        border-bottom: #e0e0e0 solid 1px;
        padding: 8px 15px;
    }
    .atexo-title {
        font-weight: 500;
        font-size: 13pt;
    }

    .atexo-description {
        font-size: 9pt;
        color: #909090;
    }

</style>
