<template>
  <div style="background: #FFFFFF">

    <div class="p-grid group-box">
      <h2 style="color: #6286b6; font-weight: bold; padding: 20px"
          class="p-col-12 p-md-12 p-lg-12">
        Choisir un template</h2>
      <v-file-input show-size
                    label="Choisir un template" @change="setFile"
                    :rules="[v => !!v || 'Fichier est obligatoire']"
      ></v-file-input>
    </div>
    <div class="p-grid group-box"
         v-if="file && valid">
      <h2 style="color: #6286b6; font-weight: bold; padding: 20px"
          class="p-col-12 p-md-12 p-lg-12">
        Renseigner les valeurs correspondantes</h2>
      <div
          class="p-col-12 p-md-12 p-lg-12">
        <v-jsoneditor class="variable"
                      v-model="json"
                      :height="'500px'"
                      :options="{mode:'code'}">

        </v-jsoneditor>
      </div>
      <div style="display: flex; margin: auto auto 10px;">
        <v-btn small color="primary" v-if="valid"
               style="margin: 15px auto auto;"
               @click="upload">
          <v-icon dark left>check</v-icon>
          Générer
        </v-btn>
      </div>

    </div>
  </div>
</template>

<script>

import FileGeneratorModel from "../../core/models/file-generator-model";
import VJsoneditor from 'v-jsoneditor/src/index'
import * as _ from 'lodash';

export default {
  name: 'VariablesComponent',
  components: {VJsoneditor},
  data() {
    return {
      file: new FileGeneratorModel(),
      valid: false,
      json: {}
    }
  },
  methods: {
    getElement(tab, json, child) {
      tab.forEach(item => {
        let split = item.split(".");
        let objectFromTable = this.getObjectFromTable(split, json, child);
        json = _.merge(json,
            objectFromTable);
      });
      return json
    },
    setFile(event) {
      this.file.template = event;
      this.file.keyValues = [];
      if (!event) {
        this.valid = false;
        return;
      }
      this.$store.dispatch('mpeMock/getDocVariable', this.file).then(
          (response) => {
            this.json = {};

            let data = JSON.parse(JSON.stringify(response.data));
            if (Object.keys(data).length > 0) {
              if (data['SIMPLE'].length > 0) {
                this.json = _.merge(this.json, this.getElement(data['SIMPLE'], {}, null))
              }
              Object.keys(data).filter((key) => key.startsWith('BLOC_TEMPLATE_')).forEach((key) => {
                const suffix = key.replaceAll('BLOC_TEMPLATE_', '');
                let split = suffix.split(".");
                let objectFromTable = this.getObjectFromTable(split, {}, [this.getElement(data[key], {}, null)]);
                let initObject = {...this.json};
                let objectFromTableElement = objectFromTable;
                split.forEach(value => {
                  if (initObject[value]) {
                    if (Array.isArray(initObject[value])) {
                      objectFromTableElement[value] = [objectFromTableElement[value]]
                    }
                    objectFromTableElement = objectFromTableElement[value]
                    initObject = initObject[value];
                  }
                })

                this.json = _.merge(this.json, objectFromTable)

              });
              let keyValues = [];
              Object.keys(this.json).forEach(key => keyValues.push({
                key: key,
                value: this.json[key]
              }))
              this.json = keyValues;
              this.valid = true;
            } else {
              this.$store.dispatch("application/setMessage", {
                message: "template.variables.empty",
                snackbar: true,
                color: 'info'
              })
            }
          },
          () => {
            this.$store.dispatch("application/setMessage", {
              message: "template.variables.error",
              snackbar: true,
              color: 'error'
            })
            this.file.keyValues = [];
          }
      );
    },
    getObjectFromTable(tab, obj, child) {
      if (!tab || tab.length === 0) {
        return {};
      }
      if (tab.length === 1) {
        obj[tab[0]] = child;
      } else {
        let tab1 = tab.filter((value, index1) => index1 !== 0);
        let objectFromTable = this.getObjectFromTable(tab1, {}, child);
        obj[tab[0]] = _.merge(obj[tab[0]],
            objectFromTable
        )
      }
      return obj;

    },
    upload() {
      this.file.keyValues = this.json;
      this.$emit('generer', this.file)
    }
  }
}

</script>

<style lang="scss">
.variable {
  color: #FFFFFF;

  div {
    border-radius: 0 !important;
  }
}

.jsoneditor-container {
  div {
    border-radius: 0;
  }

  .jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #6286b6;
    border-bottom: 1px solid #6286b6;
  }
}

.parametre {
  margin: 10px;
  padding: 10px;
}

.group-box {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}
</style>
