<ltexec-alertpanel *ngIf="selectionMode" [type]="'info'"
                   [title]="'Veuillez accéder à la fiche d\'un fournisseur et sélectionner un contact en cliquant sur la ligne correspondante.'">
</ltexec-alertpanel>

<h2 class="text-primary">Ajouter un fournisseur</h2>
<!--Debut panel Filtres-->
<accordion [closeOthers]="openOnePanelAtATime" [isAnimated]="true">
    <accordion-group (click)="ajoutEtranger=false" [isOpen]="isFirstOpenEntrepriseFrance"
                     heading="Entreprise établie en France">
        <form #creationForm="ngForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1"
                           for="input_siren">SIREN</label>
                    <div class="controls col-md-3">
                        <input [(ngModel)]="siren" class="form-control input-md" id="input_siren"
                               maxlength="11" name="siren" required siren type="text">
                        <show-error [errors]="['invalidSiren', 'invalidSirenNbChiffres']" class="help-block with-errors"
                                    control="siren"></show-error>
                    </div>
                </div>
            </div>
        </form>
    </accordion-group>
    <accordion-group (click)="ajoutEtranger=true"
                     heading="Entreprise non établie en France ou ne disposant pas d'un SIREN/SIRET">
        <form #creationFormEtranger="ngForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" for="input_raisonSociale">Raison
                        Sociale</label>
                    <div class="controls col-md-8">
                        <input [(ngModel)]="fournisseur.raisonSociale" class="form-control input-md"
                               id="input_raisonSociale"
                               name="raisonSociale" required type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" for="input_raisonSociale">
                        Pays</label>
                    <div class="controls col-md-8">
                        <ng-select [(ngModel)]="fournisseur.pays"
                                   [items]="paysOptions"
                                   bindLabel="label"
                                   bindValue="value"
                                   id="input_etablissementPays" name="paysOptions"
                                   required>
                        </ng-select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" for="input_idNational">Identifiant
                        national</label>
                    <div class="controls col-md-8">
                        <input [(ngModel)]="fournisseur.siren" class="form-control input-md" id="input_idNational"
                               name="idNational" required type="text">
                        <span class="help-block">Ex : N° d'enregistrement national, DUNS Number, etc.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1"
                           for="input_idNational">Catégorie</label>
                    <div class="controls col-md-8">
                        <ng-select [(ngModel)]="fournisseur.categorie"
                                   [items]="categorieFournisseur"
                                   id="input_categorie" name="categorieFournisseur"
                                   required>
                        </ng-select>
                    </div>
                </div>
            </div>
        </form>
    </accordion-group>
</accordion>
<!--// Fin panel Filtres-->

<!-- Debut Form actions-->
<div class="form-group form-actions">
    <div *ngIf="!hideBackButton" class="pull-left">
        <button (click)="onBackClick()" class="btn btn-md btn-default btn-md" data-dismiss="modal"
                type="button"><i class="fa fa-angle-double-left"></i> Retour
        </button>
        <!-- // Fin Modal Confirmation Retour -->
    </div>

    <div class="pull-right">
        <ng-template [ngIf]="!ajoutEtranger">
            <input (click)="valider()" [class.disabled]="!isModelValid(creationForm)" [disabled]="!isModelValid(creationForm)"
                   class="btn btn-primary btn-md" id="submit_entrepriseEtablie" type="submit"
                   value="Valider">
        </ng-template>
        <ng-template [ngIf]="ajoutEtranger">
            <input (click)="validerEtranger()" [class.disabled]="!isModelValid(creationFormEtranger)"
                   [disabled]="!isModelValid(creationFormEtranger)"
                   class="btn btn-primary btn-md" id="submit_entrepriseEtablieEtranger"
                   type="submit" value="Valider la Fiche Etrangère">
        </ng-template>
    </div>
</div>
<!-- //Fin Form actions-->
