<ltexec-alertpanel *ngIf="selectionMode" [type]="'info'"
                   [title]="'Veuillez accéder à la fiche d\'un fournisseur et sélectionner un contact en cliquant sur la ligne correspondante.'">
</ltexec-alertpanel>

<h2 class="text-primary">Fiche Fournisseur</h2>

<div *ngIf="fournisseur != null" class="panel-group" aria-multiselectable="true" role="tablist">
    <!--Debut Panel Recap-->
    <div class="panel panel-default bloc-toggle bloc-recap recap-fournisseur">
        <div class="panel-heading" id="headingRecap">
            <h3 class="panel-title"><a data-toggle="collapse" href="#collapseRecap" aria-expanded="true"
                                       aria-controls="collapseRecap"><i class="fa"></i>
                {{fournisseur.raisonSociale}} {{fournisseur.prenom}} {{fournisseur.nom}}
                <span *ngIf="ficheEtrangere">({{ fournisseur.pays }} - {{ fournisseur.siren | formatSiren }})</span>
                <span *ngIf="!ficheEtrangere">(FR - {{ fournisseur.siren | formatSiren }})</span></a></h3>
            <div class="nav-tabs">
                <button *ngIf="!(editionFournisseur || editionEtranger)" (click)="editFournisseur()"
                        class="btn btn-default btn-sm">
                    <fa-icon [icon]="['fas','pencil-alt']"></fa-icon>
                    <span
                    class="sr-only">Modifier</span></button>
            </div>
        </div>
        <!-- FIN NON UTILISE POUR L INSTANT -->

        <div id="collapseRecap" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRecap">
            <form #fournisseurForm="ngForm">
                <div class="panel-body">
                    <div class="form-horizontal form-condensed">
                        <p *ngIf="editionFournisseur || editionEtranger" class="text-right">Les champs marqués d'un
                            astérisque (<abbr class="required">*</abbr>) sont obligatoires.</p>
                        <div *ngIf="editionEtranger" class="form-group form-group-sm">
                            <div for="input_raisonSociale1"
                                 class="control-label control-label col-xs-3 col-md-3 col-fixed-7"><strong>Raison
                                sociale <abbr class="required">*</abbr> </strong></div>
                            <div class="controls col-xs-8 col-md-8">
                                <input type="text" id="input_raisonSociale1" name="raisonSociale" class="form-control"
                                       [(ngModel)]="fournisseur.raisonSociale" required/>
                            </div>
                        </div>
                        <div *ngIf="ficheEtrangere" class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7">
                                <strong>Pays </strong></div>
                            <div class="controls col-xs-8 col-md-8">
                                <div *ngIf="pays" class="form-control-static"> {{ pays }} (<span
                                    class="flag-icon flag-icon-be"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="top"
                                    title="{{ pays }}"></span>{{
                                        pays
                                    }})
                                </div>

                                <div *ngIf="!pays" class="form-control-static">Non renseigné</div>
                            </div>
                        </div>
                        <div *ngIf="ficheEtrangere" class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7"><strong>Identifiant
                                national</strong></div>
                            <div class="controls col-xs-8 col-md-8">
                                <div class="form-control-static">{{fournisseur.siren}}</div>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7"><strong>Siège
                                social</strong></div>
                            <div class="controls col-xs-8 col-md-8">
                                <div class="form-control-static">
                                    <fa-icon [icon]="['fas','building']"></fa-icon>
                                    <span *ngFor="let etablissement of etablissements">
                                        <ng-template [ngIf]="etablissement.siege == true">
                                            <ltexec-inline-address [adresse]="etablissement.adresse"
                                                                   [ficheEtrangere]="ficheEtrangere"></ltexec-inline-address>
                                        </ng-template>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7"><strong>Code APE /
                                NAF / NACE </strong></div>
                            <div class="controls col-xs-8 col-md-8">
                                <ng-select *ngIf="editionFournisseur" [(ngModel)]="fournisseur.codeApeNafNace"
                                           [items]="codeApeNafOptions"
                                               name="codeApeNafOptions"
                                           [multiple]="false" [placeholder]="'Mots-clés ou code...'"
                                ></ng-select>
                                <div *ngIf="!editionFournisseur" class="box desc-naf form-control-static">
                                    {{fournisseur.codeApeNafNace}}
                                </div>
                            </div>
                        </div>

                        <div *ngIf="(fournisseur.trusted && fournisseur.formeJuridique != null) || !fournisseur.trusted"
                             class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7"><strong>Forme
                                juridique </strong></div>
                            <div [ngSwitch]="editionEtranger" class="controls col-xs-8 col-md-8">
                                <ng-template [ngSwitchCase]="true">
                                    <ng-select [(ngModel)]="fournisseur.formeJuridique" [items]="formeJuridiqueOptions"
                                               [multiple]="false"
                                               name="formeJuridiqueOptions"></ng-select>
                                </ng-template>
                                <ng-template [ngSwitchCase]="false">
                                    <div class="form-control-static">{{fournisseur.formeJuridique}}</div>
                                </ng-template>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <div for="input_capital" class="control-label control-label col-xs-3 col-md-3 col-fixed-7">
                                <strong>Capital</strong></div>
                            <div [ngSwitch]="editionEtranger" class="controls col-xs-8 col-md-8">
                                <div class="input-group col-fixed-6 form-montants">
                                    <ng-template [ngSwitchCase]="true">
                                        <input id="input_capital" type="text" class="form-control" name="capital"
                                               value="{{ fournisseur.capitalSocial }}"
                                               [(ngModel)]="fournisseur.capitalSocial" money>
                                        <span class="input-group-addon">EUR</span>
                                    </ng-template>
                                </div>
                                <ng-template [ngSwitchCase]="false">
                                    <div class="form-control-static">{{fournisseur.capitalSocial | currencyEuro }} EUR
                                    </div>
                                </ng-template>
                            </div>
                        </div>

                        <div class="form-group form-group-sm voffset3">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7">
                                <strong>Description</strong></div>
                            <div [ngSwitch]="editionFournisseur" class="controls col-xs-8 col-md-8">
                                <ng-template [ngSwitchCase]="true">

                                    <textarea [(ngModel)]="fournisseur.description" id="input_descActivite"
                                              name="descriptionActivites" class="form-control">{{fournisseur.description}}</textarea>
                                </ng-template>

                                <ng-template [ngSwitchCase]="false">
                                    <ltexec-show-hide [text]="fournisseur.description"></ltexec-show-hide>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7"><strong>Site
                                internet</strong></div>
                            <div [ngSwitch]="editionFournisseur" class="controls col-xs-8 col-md-8">
                                <ng-template [ngSwitchCase]="true">
                                    <input type="text" id="input_website" class="form-control"
                                           [(ngModel)]="fournisseur.siteInternet" name="siteInternet"
                                           value="{{fournisseur.siteInternet}}" siteInternet>
                                    <show-error class="help-block with-errors" control="siteInternet"
                                                [errors]="['invalidURL']"></show-error>
                                </ng-template>

                                <ng-template [ngSwitchCase]="false">
                                    <div class="form-control-static"><a href="http://{{fournisseur.siteInternet}}"
                                                                        target="_blank">{{fournisseur.siteInternet}}</a>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="control-label control-label col-xs-3 col-md-3 col-fixed-7">
                                <strong>Catégorie</strong></div>
                            <div class="controls col-xs-8 col-md-8">
                                <ng-select *ngIf="editionFournisseur" [(ngModel)]="fournisseur.categorie"
                                           [items]="categorieFournisseur"
                                           name="categorieFournisseur"
                                           [multiple]="false"
                                ></ng-select>
                                <div *ngIf="!editionFournisseur" class="box desc-naf form-control-static">
                                    {{ fournisseur?.categorie?.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div *ngIf="editionFournisseur || editionEtranger" class="panel-footer form-group form-actions clearfix">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" value="Annuler"
                            (click)="cancelEditFournisseur()"
                            [disabled]="fournisseur.raisonSociale == null && fournisseur.nom == null">Annuler
                    </button>
                    <button type="button" class="btn btn-sm btn-success"
                            [class.disabled]="!isModelValid(fournisseurForm)"
                            [disabled]="!isModelValid(fournisseurForm)"
                            value="Valider" (click)="valider()">
                        <fa-icon [icon]="['fas','check']"></fa-icon>
                        Valider
                    </button>
                </div>
            </div>
            <!--div class="panel-body">
                <h4>Mandataires légaux</h4>
                <table class="table bordered-table zebra-striped table-highlight table-contacts">
                    <caption class="sr-only">Liste des mandataires légaux</caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col-md-6">Prénom NOM</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-user"><div><i class="fa fa-user" data-toggle="tooltip" title="Contact"><span class="sr-only">Contact</span></i> Michel FERRA <i class="text-muted">Directeur associé</i></div></td>
                        <td class="col-contact col-break"><div><i class="fa fa-envelope" data-toggle="tooltip" title="Email"><span class="sr-only">Email</span></i> michel.ferra@societetest.com</div></td>
                        <td class="col-tel col-break"><div><i class="fa fa-phone" data-toggle="tooltip" title="Téléphone"><span class="sr-only">Téléphone</span></i> 06251800940</div></td>
                    </tr>
                    <tr>
                        <td class="col-user"><div><i class="fa fa-user" data-toggle="tooltip" title="Contact"><span class="sr-only">Contact</span></i> Luc VALMONT <i class="text-muted">Responsable logistique</i></div></td>
                        <td class="col-contact col-break"><div><i class="fa fa-envelope" data-toggle="tooltip" title="Email"><span class="sr-only">Email</span></i> luc.valmont@societetest.com</div></td>
                        <td class="col-tel col-break"><div><i class="fa fa-phone" data-toggle="tooltip" title="Téléphone"><span class="sr-only">Téléphone</span></i> 06251800940</div></td>
                    </tr>
                    </tbody>
                </table>
            </div-->

            <!-- Debut Panel Contacts-->

        </div>

    </div>
    <div class="panel panel-default bloc-toggle">
        <div class="panel-heading" role="tab" id="headingContacts">
            <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseContacts"
                                       aria-expanded="true" aria-controls="collapseContacts"><i class="fa"></i>Etablissements
                ({{ etablissements.length }})</a></h3>
        </div>
        <div id="collapseContacts" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingContacts">
            <div class="panel-body">
                <table class="table bordered-table table-striped treeview table-contacts table-hover"
                       [class.selection-contact]="selectionMode">
                    <caption>
                        <fa-icon [icon]="['fas','user']"></fa-icon>
                        Etablissements enregistrés <a role="button" *ngIf="displayAllContact"
                                                                                                    class="toggle"
                                                                                                    (click)="onAfficherTousContactsClick(false)">
                        (Voir tous les contacts)</a><a role="button" *ngIf="!displayAllContact"
                                                                                                    class="toggle"
                                                                                                    (click)="onAfficherTousContactsClick(true)">
                        (Masquer tous les contacts)</a>
                    </caption>
                    <thead>
                    <tr class="row-attributaire">
                        <th colspan="3" scope="col">Code - Adresse</th>
                        <th class="col-actions" scope="col">Contacts / Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <ng-template [ngForOf]="etablissements" let-etablissement let-j="index" ngFor>


                        <tr [class.last]="j+1 == etablissements.length" class="indent-n1"
                            [class.treegrid-expanded]="etablissement.contacts != null && etablissement.nbContacts > 0 && !!etablissement.collapsed"
                            [class.treegrid-collapsed]="etablissement.contacts != null && etablissement.nbContacts > 0 && !etablissement.collapsed">
                            <td colspan="3">
                                <ng-template [ngIf]="etablissement.contacts != null">
                                        <span *ngIf="etablissement.contacts != null && etablissement.nbContacts > 0"
                                              (click)=" etablissement.collapsed = !etablissement.collapsed"
                                              class="treegrid-expander"
                                              [class.treegrid-expander-expanded]="etablissement.contacts != null && etablissement.nbContacts >  0 && !etablissement.collapsed"
                                              [class.treegrid-expander-collapsed]="etablissement.contacts != null && etablissement.nbContacts >  0 && !!etablissement.collapsed"
                                              tabindex="0"></span>
                                </ng-template>
                                {{etablissement.siret}} <span *ngIf="etablissement.adresse != null"> - </span>
                                <ltexec-inline-address [adresse]="etablissement.adresse"
                                                       [ficheEtrangere]="ficheEtrangere"></ltexec-inline-address>

                                <fa-icon *ngIf="etablissement.siege == true" [icon]="['fas','building']" class="siege-social" tooltip="Siège social"><span class="sr-only">Siège social</span></fa-icon>
                            </td>

                            <td class="col-actions" (mouseleave)="dropdown.hide()">
                                <div class="col-fixed-2 pull-left">{{etablissement.nbContacts != null ? etablissement.nbContacts : 0}}</div>
                                <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                            (click)="dropdown.show()">
                                        <fa-icon [icon]="['fas','ellipsis-h']"></fa-icon>
                                    </button>
                                    <ul id="dropdown-triggers-manual" *dropdownMenu
                                        class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-triggers-manual">
                                        <li role="menuitem"><a class="dropdown-item"
                                                               (click)="onAjouterContactClick(etablissement)">
                                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                                            Ajouter un contact</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <ng-template
                                [ngIf]="etablissement.contacts != null && etablissement.nbContacts > 0 && !etablissement.collapsed">
                            <ng-template ngFor let-contact [ngForOf]="etablissement.contacts" let-k="index">
                                <tr *ngIf="selectionMode && contact.actif" role="button"
                                    class="child" [class.last]="k+1 == etablissement.nbContacts"
                                    style="display: table-row;">
                                    <td class="col-user" (click)="onSelectionnerContactClick(contact)">
                                        <span class="treegrid-indent"></span>
                                        <span class="treegrid-expander" tabindex="0"></span>
                                        <div>
                                            <fa-icon [icon]="['fas','user']" title="Contact" data-toggle="tooltip"></fa-icon>
                                            <span class="sr-only">Contact</span>
                                            {{contact.prenom}}{{contact.nom}} <i
                                                    class="text-muted">{{contact.fonction}}</i></div>
                                    </td>
                                    <td class="col-contact col-break" (click)="onSelectionnerContactClick(contact)">
                                        <div>
                                            <fa-icon [icon]="['fas','envelope']" data-toggle="tooltip" title="Email"></fa-icon>
                                            <span class="sr-only">Email</span>{{contact.email}}
                                        </div>
                                    </td>
                                    <td class="col-tel col-break" (click)="onSelectionnerContactClick(contact)">
                                        <div>
                                            <fa-icon [icon]="['fas','phone']" data-toggle="tooltip" title="Téléphone"></fa-icon>
                                            <span class="sr-only">Téléphone</span>{{contact.telephone}}
                                        </div>
                                    </td>
                                    <td class="col-actions">
                                        <div class="col-fixed-2 pull-left"></div>
                                        <div class="btn-group">
                                            <button type="button"
                                                    class="btn btn-primary btn-xs btn-action dropdown-toggle"
                                                    title="Actions" data-toggle="dropdown" aria-expanded="false"><fa-icon [icon]="['fas','ellipsis-h']"></fa-icon><span
                                                    class="sr-only">Autres actions</span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a data-target=".modal-contact" data-toggle="modal"
                                                       (click)="onModifierContactClick(etablissement, contact)"><span
                                                    class="fas fa-pencil-alt"></span> Modifier</a></li>
                                                <li><a (click)="onSupprimerContactClick(contact, etablissement , k)"
                                                       role="button"
                                                       data-toggle="modal"
                                                       data-target=".modal-suppression-contact">
                                                    <fa-icon [icon]="['fas','trash']"></fa-icon>
                                                    Supprimer</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                                <tr *ngIf="!selectionMode && contact.actif" class="child"
                                    [class.last]="k+1 == etablissement.nbContacts" style="display: table-row;">
                                    <td class="col-user">
                                        <span class="treegrid-indent"></span>
                                        <span class="treegrid-expander" tabindex="0"></span>
                                        <div>
                                            <fa-icon [icon]="['fas','user']" data-toggle="tooltip" title="Contact"></fa-icon>
                                            <span class="sr-only">Contact</span>
                                            {{contact.prenom}} {{contact.nom}} <i class="text-muted">{{contact.fonction}}</i>
                                        </div>
                                    </td>
                                    <td class="col-contact col-break">
                                        <div>
                                            <fa-icon [icon]="['fas','envelope']" data-toggle="tooltip" title="Email"></fa-icon>
                                            <span class="sr-only">Email</span>{{contact.email}}
                                        </div>
                                    </td>
                                    <td class="col-tel col-break">
                                        <div>
                                            <fa-icon [icon]="['fas','phone']" data-toggle="tooltip" title="Téléphone"></fa-icon>
                                            <span class="sr-only">Téléphone</span>{{contact.telephone}}
                                        </div>
                                    </td>
                                    <td class="col-actions">
                                        <div class="col-fixed-2 pull-left"></div>
                                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false"
                                             (mouseleave)="dropdown.hide()">
                                            <button dropdownToggle type="button"
                                                    class="btn btn-primary dropdown-toggle btn-xs"
                                                    (click)="dropdown.show()">
                                                <fa-icon [icon]="['fas','ellipsis-h']"></fa-icon>
                                                <span class="sr-only">Autres actions</span>
                                            </button>
                                            <ul id="dropdown-triggers-manual1" *dropdownMenu
                                                class="dropdown-menu dropdown-menu-right"
                                                role="menu" aria-labelledby="button-triggers-manual">
                                                <li><a data-target=".modal-contact" data-toggle="modal"
                                                       (click)="onModifierContactClick(etablissement, contact)">
                                                    <fa-icon [icon]="['fas','pencil-alt']"></fa-icon>
                                                    Modifier</a></li>
                                                <li><a role="button"
                                                       (click)="onSupprimerContactClick(contact , etablissement, k)"
                                                       data-toggle="modal"
                                                       data-target=".modal-suppression-contact">
                                                    <fa-icon [icon]="['fas','trash']"></fa-icon>
                                                    Supprimer</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </ng-template>

                    </ng-template>
                    </tbody>
                </table>
                <a class="btn btn-sm btn-primary"
                   (click)="onAjouterEtablissementClick(fournisseur)">
                    <fa-icon [icon]="['fas','plus']"></fa-icon>
                    Ajouter un établissement</a>

                <!-- Debut Modal CONTACT-->
                <div *ngIf="isModalModifierContactShown" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
                     class="modal fade modal-contrats" tabindex="-1" role="dialog"
                     aria-labelledby="titreDialogue_detailContrats"
                     aria-hidden="true" id="myModal_detailContrats">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="isModalModifierContactShown=false"><span
                                    aria-hidden="true">&times;</span></button>
                                <h4 *ngIf="editionContactModel.mode == editionMode.Modification" class="modal-title" id="titreDialogue_etablissement">Modifier ce contact</h4>
                                <h4 *ngIf="editionContactModel.mode == editionMode.Creation" class="modal-title" id="titreDialogue_etablissement">Ajouter un contact</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <form #contactForm="ngForm">
                                        <div *ngIf="editionContactModel.mode == editionMode.Modification"
                                             class="form-group">
                                            <label for="input_etablissement" class="col-sm-2 control-label">Etablissement
                                                <abbr class="required">*</abbr></label>
                                            <div class="controls col-sm-10">
                                                <ng-select [(ngModel)]="editionContactModel.etablissement"
                                                           [bindLabel]="'description'"
                                                           [items]="etablissementOptions"
                                                               name="etablissement"
                                                               id="input_etablissement"
                                                           class="ng-untouched ng-pristine ng-valid"></ng-select>
                                            </div>
                                        </div>
                                        <div *ngIf="!(editionContactModel.mode == editionMode.Modification)"
                                             class="form-group">
                                            <label for="input_etablissement" class="col-sm-2 control-label">Etablissement</label>
                                            <div class="controls col-sm-10">
                                                <ng-template ngFor let-etablissement
                                                             [ngForOf]="etablissements">
                                                    <input *ngIf="editionContactModel.etablissementComanditaire == etablissement"
                                                           id="input_contactEtablissement" type="text"
                                                           class="form-control input-sm"
                                                           value="{{etablissement.siret | truncateMinMax:etablissement.fournisseur.siren.length:etablissement.siret.length-etablissement.fournisseur.siren.length-1 }}  - {{etablissement.adresse.adresse}}, {{etablissement.adresse.codePostal}} {{etablissement.adresse.commune}}"
                                                           disabled="disabled">
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input_contactNOM" class="col-sm-2 control-label">NOM <abbr
                                                    class="required">*</abbr></label>
                                            <div class="controls col-sm-4">
                                                <input [(ngModel)]="editionContactModel.nom" name="nom" type="text"
                                                       class="form-control input-sm" id="input_contactNOM" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input_contactPrenom"
                                                   class="col-sm-2 control-label">Prénom</label>
                                            <div class="controls col-sm-4">
                                                <input [(ngModel)]="editionContactModel.prenom" name="prenom"
                                                       type="text"
                                                       class="form-control input-sm" id="input_contactPrenom">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input_contactQualite"
                                                   class="col-sm-2 control-label">Qualité</label>
                                            <div class="controls col-sm-4">
                                                <input [(ngModel)]="editionContactModel.fonction" name="fonction"
                                                       type="text"
                                                       class="form-control input-sm" id="input_contactQualite">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="input_contactEmail" class="col-sm-2 control-label">Email <abbr
                                                    class="required">*</abbr></label>
                                            <div class="controls col-sm-4">
                                                <input [(ngModel)]="editionContactModel.email" name="email"
                                                       type="email" class="form-control input-sm"
                                                       id="input_contactEmail" required email>
                                                <show-error class="help-block with-errors" control="email"
                                                            [errors]="['invalidEmail']"></show-error>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input_contactTel"
                                                   class="col-sm-2 control-label">Téléphone</label>
                                            <div class="controls col-sm-4">
                                                <input [(ngModel)]="editionContactModel.telephone" name="telephone"
                                                       type="tel" class="form-control input-sm" id="input_contactTel"
                                                       telephone>
                                                <show-error class="help-block with-errors" control="telephone"
                                                            [errors]="['invalidPhoneNumber']"></show-error>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-sm btn-default"
                                            (click)="isModalModifierContactShown=false">Annuler
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <ng-template [ngIf]="editionContactModel.mode == editionMode.Modification">
                                        <button type="button" class="btn btn-sm btn-default btn-primary"
                                                [class.disabled]="!validateEditionContactModelValid(contactForm)"
                                                [disabled]="!validateEditionContactModelValid(contactForm)"
                                                (click)="onValiderModifierContactClick()"
                                                data-dismiss="modal">Valider
                                        </button>
                                    </ng-template>
                                    <ng-template [ngIf]="editionContactModel.mode == editionMode.Creation">
                                        <button type="button" class="btn btn-sm btn-default btn-primary"
                                                [class.disabled]="!validateEditionContactModelValid(contactForm)"
                                                [disabled]="!validateEditionContactModelValid(contactForm)"
                                                (click)="onValiderAjouterContactClick()"
                                                data-dismiss="modal">Valider
                                        </button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Debut Modal Etablissement -->

                <div *ngIf="isModalAjouEtablissementShown" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
                     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="isModalAjouEtablissementShown=false"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 *ngIf="editionEtablissementModel.mode == editionMode.Modification"
                                    class="modal-title" id="titreDialogue_etablissement">Modifier un établissement</h4>
                                <h4 *ngIf="editionEtablissementModel.mode == editionMode.Creation" class="modal-title"
                                    id="titreDialogue_etablissement">Ajouter un établissement</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <form #etablissementForm="ngForm">
                                        <div class="form-group"
                                             *ngIf="editionEtablissementModel.mode == editionMode.Creation">
                                            <label
                                                   class="col-sm-2 control-label">Code<abbr
                                                    class="required">*</abbr></label>
                                            <div class="controls col-sm-4">
                                                <input *ngIf="!ficheEtrangere"
                                                       [(ngModel)]="editionEtablissementModel.etablissementCode"
                                                       name="etablissementCode" type="text"
                                                       class="form-control input-sm input-code-etab"
                                                       id="input_etablissementCode1"  maxlength="5" required
                                                       etablissementCode>
                                                <input *ngIf="ficheEtrangere"
                                                       [(ngModel)]="editionEtablissementModel.etablissementCode"
                                                       name="etablissementCode" type="text"
                                                       class="form-control input-sm"
                                                       id="input_etablissementCode2" maxlength="25" required>
                                                <show-error class="help-block with-errors" control="etablissementCode"
                                                            [errors]="['invalidCodeEtablissement']"></show-error>
                                            </div>
                                        </div>
                                        <div id="panel_coordonnees"
                                             *ngIf="editionEtablissementModel.mode == editionMode.Modification || (editionEtablissementModel.mode == editionMode.Creation && ficheEtrangere)">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Siège social
                                                    <fa-icon [icon]="['fas','building']"></fa-icon>
                                                    <i class="siege-social"><span class="sr-only">Siège social</span></i></label>
                                                <div class="controls col-sm-10">
                                                    <ui-switch
                                                        [(ngModel)]="editionEtablissementModel.siege"
                                                        id="input_etablissementSiegeSocial"
                                                        name="input_etablissementSiegeSocial"
                                                    ></ui-switch>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input_etablissementVoie"
                                                       class="col-sm-2 control-label">Voie</label>
                                                <div class="controls col-sm-9">
                                                    <input [(ngModel)]="editionEtablissementModel.voie" name="voie"
                                                           type="text" class="form-control input-sm"
                                                           id="input_etablissementVoie">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input_etablissementCP" class="col-sm-2 control-label">Code
                                                    postal</label>
                                                <div class="controls col-sm-2">
                                                    <input [(ngModel)]="editionEtablissementModel.codePostal"
                                                           name="codePostal" type="text"
                                                           class="form-control input-sm" id="input_etablissementCP">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input_etablissementVille" class="col-sm-2 control-label">Ville</label>
                                                <div class="controls col-sm-9">
                                                    <input [(ngModel)]="editionEtablissementModel.ville"
                                                           name="ville" type="text" class="form-control input-sm"
                                                           id="input_etablissementVille">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input_etablissementPays"
                                                       class="col-sm-2 control-label">Pays</label>
                                                <div class="controls col-sm-9">
                                                    <ng-select [items]="paysOptions"
                                                               [(ngModel)]="editionEtablissementModel.pays"
                                                                   id="input_etablissementPays" name="paysOptions"
                                                                   required>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <button *ngIf="editionEtablissementModel.mode == editionMode.Creation" type="button"
                                            class="btn btn-sm btn-default"
                                            (click)="isModalAjouEtablissementShown = false;">Annuler
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <ng-template [ngIf]="editionEtablissementModel.mode == editionMode.Modification">
                                        <button type="button" class="btn btn-sm btn-default btn-primary"
                                                [class.disabled]="!validateEditionEtablissementModelValid(etablissementForm)"
                                                [disabled]="!validateEditionEtablissementModelValid(etablissementForm)"
                                                (click)="onValiderModifierEtablissementClick()"
                                                data-dismiss="modal">Valider
                                        </button>
                                    </ng-template>
                                    <ng-template [ngIf]="editionEtablissementModel.mode == editionMode.Creation">
                                        <button type="button" class="btn btn-sm btn-default btn-primary"
                                                [class.disabled]="!validateEditionEtablissementModelValid(etablissementForm)"
                                                [disabled]="!validateEditionEtablissementModelValid(etablissementForm)"
                                                (click)="onValiderAjouterEtablissementClick()"
                                                data-dismiss="modal">Valider
                                        </button>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fin Modal Etablissement -->

                <!-- Debut Modal Confirmation Suppression -->
                <div *ngIf="isModalSupprimerContactShown" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
                     class="modal fade modal-suppression-contact" tabindex="-1" role="dialog"
                     aria-labelledby="titreDialogue_confirmationSuppression"
                     aria-hidden="true" id="myModal_confirmationSuppression">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true" (click)="isModalSupprimerContactShown=false;">&times;</span>
                                </button>
                                <h4 class="modal-title" id="titreDialogue_confirmationRetour">Message de
                                    confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Êtes-vous sûr de vouloir supprimer ce contact ?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <button type="button" class="btn  btn-sm btn-default" data-dismiss="modal"
                                            (click)="isModalSupprimerContactShown=false;">Annuler
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <button type="button" (click)="onValiderSuppressionContactClick()"
                                            class="btn  btn-sm btn-default btn-primary"
                                            data-dismiss="modal">Poursuivre
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Fin Modal Confirmation Suppression -->

            </div>
        </div>
    </div>
    <div class="panel panel-default bloc-toggle">
        <div class="panel-heading" role="tab" id="headingContratsConsutations">
            <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseContratsConsutations" aria-expanded="true"
                                       aria-controls="collapseContratsConsutations" class=""><i class="fa"></i>Contrats ({{fournisseur.nbrContratsCotraitants + fournisseur.nbrContratsMandataire + fournisseur.nbrContratsSousTraitants}})</a></h3>
        </div>
        <div class="panel-body" id="collapseContratsConsutations">
            <h4>En cours d'exécution</h4>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table bordered-table zebra-striped table-contrats table-hover">
                        <caption class="sr-only">Liste des contrats en cours d'exécution</caption>
                        <thead>
                        <tr>
                            <th scope="col"><a style="cursor: pointer" (click)="initModalSyntheseContrat(false)" ><span
                                class="text-xl" >{{fournisseur.nbrContratsCotraitants + fournisseur.nbrContratsMandataire + fournisseur.nbrContratsSousTraitants}}</span> contrat{{(fournisseur.nbrContratsCotraitants + fournisseur.nbrContratsMandataire + fournisseur.nbrContratsSousTraitants) > 1 ? 's' : ''}} en cours</a></th>
                            <th scope="col" class="col-montants"><span class="small">Montant des prestations</span><br>
                                {{fournisseur.montantContratsCotraitants + fournisseur.montantContratsSousTraitants + fournisseur.montantContratsMandataire | currencyEuro}} HT
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td scope="row" class="indent">
                                  <strong>{{fournisseur.nbrContratsMandataire}}</strong> en tant que mandataire
                              </td>
                              <td class="col-montants">{{fournisseur.montantContratsMandataire | currencyEuro}} HT</td>
                            </tr>
                            <tr>
                                <td scope="row" class="indent">
                                    <strong>{{fournisseur.nbrContratsCotraitants}}</strong>  en tant que co-traitant
                                </td>
                                <td class="col-montants">{{fournisseur.montantContratsCotraitants | currencyEuro}} HT</td>
                            </tr>
                            <tr>
                                <td scope="row" class="indent">
                                    <strong>{{fournisseur.nbrContratsSousTraitants}}</strong>  en tant que sous-traitant
                                </td>
                                <td class="col-montants">{{fournisseur.montantContratsSousTraitants | currencyEuro}} HT</td>
                            </tr>
                        </tbody>
                    </table>
                    <a style="cursor: pointer" class="btn btn-sm btn-primary" (click)="initModalSyntheseContrat(true);">
                        <fa-icon [icon]="['fas','search-plus']"></fa-icon>
                        Détail des contrats clos
                        ({{fournisseur.nbrContratsClos}})</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default bloc-toggle">
        <div class="panel-heading" role="tab" id="headingDocuments">
            <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseDocuments"
                                       aria-expanded="false" aria-controls="collapseDocuments"><i class="fa"></i>Documents
                {{nombreDocuments != null ? "(" + nombreDocuments + ")" : ""}}
            </a></h3>
        </div>
        <div id="collapseDocuments" class="panel-collapse collapse in" role="tabpanel"
             aria-labelledby="headingDocuments">
            <div class="panel-body">
                <!-- Debut Tableau Attestations SGMAP - Siège social -->
                <table class="table bordered-table zebra-striped table-documents table-hover">
                    <caption class="sr-only">
                        Liste des attestations SGMAP - Siège social
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">Attestations SGMAP - Siège social</th>
                        <th scope="col" class="col-md-2 col-dates">Mis à jour le</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let attestation of attestationsSiegeSocial">
                        <td *ngIf="!attestation.url">{{attestation.libelle}}
                            <span class="text-muted">- Non disponible</span>
                        </td>
                        <td *ngIf="attestation.url">{{attestation.libelle}} -
                            <a href="{{attestation.url}}" target="_blank" title="Télécharger le document">
                                <fa-icon [icon]="['fas','download']"></fa-icon>
                                Télécharger</a>
                        </td>
                        <td>{{attestation.date | date:"dd/mm/yyyy"}}</td>
                    </tr>
                    <tr *ngIf="attestationsSiegeSocial && attestationsSiegeSocial.length == 0">
                        <td colspan="2"><i>Aucun document disponible.</i></td>
                    </tr>
                    <tr *ngIf="!attestationsSiegeSocial && !errorAttestationsSiegeSocial">
                        <td colspan="2">Attestations en cours de récupération... <fa-icon [icon]="['fas','spinner']" aria-hidden="true"></fa-icon></td>
                    </tr>
                    <tr *ngIf="errorAttestationsSiegeSocial">
                        <td colspan="2"><i>Impossible de récupérer les attestations.</i></td>
                    </tr>
                    </tbody>
                </table>
                <a (click)="downloadAll(fournisseur?.siren,attestationsSiegeSocial)"
                   *ngIf="urlAttestationsSiegeSocialZip"
                   class="btn btn-sm btn-primary pull-right"> <fa-icon [icon]="['fas','download']"></fa-icon>Téléchargez tout (zip)</a>
            </div>
            <div class="panel-body">
                <!-- //Fin Tableau Attestations SGMAP - Siège social -->
                <!-- Debut Tableau Attestations SGMAP - Etablissements -->
                <table class="table bordered-table table-striped table-hover treeview table-attestations">
                    <caption class="sr-only">Attestations SGMAP - Etablissements</caption>
                    <thead>
                    <tr class="row-attributaire">
                        <th scope="col">Attestations SGMAP - Etablissements</th>
                        <th scope="col" class="col-md-2 col-dates">Mis à jour le</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-template ngFor let-etablissementAttestations [ngForOf]="attestationsEtablissements">
                        <tr class="indent-n1" [class.treegrid-expanded]="!etablissementAttestations.collapsed"
                            [class.treegrid-collapsed]="etablissementAttestations.collapsed">
                            <td colspan="2">
                                <span (click)="etablissementAttestations.collapsed = !etablissementAttestations.collapsed"
                                      class="treegrid-expander"
                                      [class.treegrid-expander-expanded]="!etablissementAttestations.collapsed"
                                      [class.treegrid-expander-collapsed]="etablissementAttestations.collapsed"
                                      tabindex="0"></span>
                                {{etablissementAttestations.etablissement.siret}} <span
                                    *ngIf="etablissementAttestations.etablissement.adresse != null"> - </span>
                                <ltexec-inline-address [adresse]="etablissementAttestations.etablissement.adresse"
                                                       [ficheEtrangere]="ficheEtrangere"></ltexec-inline-address>
                                <fa-icon [icon]="['fas','building']"></fa-icon>
                                <i *ngIf="etablissementAttestations.etablissement.siege == true"
                                class="siege-social"
                                   data-toggle="tooltip" data-original-title="Siège social"><span class="sr-only">Siège social</span></i>
                                <span *ngIf="etablissementAttestations.urlZip" >-<a
                                    (click)="downloadAll(etablissementAttestations?.etablissement?.siret,etablissementAttestations?.urlZip)"
                                    title="Télécharger le document">
                                    <fa-icon [icon]="['fas','download']"></fa-icon>
                                    Télécharger tout</a>
                                </span>
                            </td>
                        </tr>
                        <ng-template [ngIf]="!etablissementAttestations.collapsed">
                            <tr *ngFor="let attestation of etablissementAttestations.attestations" class="child">
                                <td *ngIf="!attestation.url">{{attestation.libelle}}
                                    <span class="text-muted">- Non disponible</span>
                                </td>
                                <td *ngIf="attestation.url">{{attestation.libelle}} -
                                    <a href="{{attestation.url}}" target="_blank" title="Télécharger le document">
                                        <fa-icon [icon]="['fas','download']"></fa-icon>
                                        Télécharger</a>
                                </td>
                                <td>{{attestation.date | date:"dd/mm/yyyy"}}</td>
                            </tr>
                            <tr *ngIf="etablissementAttestations.error"
                                class="child">
                                <td colspan="2"><i>Impossible de récupérer les attestations.</i></td>
                            </tr>
                            <tr *ngIf="etablissementAttestations.attestations && !etablissementAttestations.error && etablissementAttestations.attestations.length == 0"
                                class="child">
                                <td colspan="2"><i>Aucun document disponible.</i></td>
                            </tr>
                            <tr *ngIf="!etablissementAttestations.attestations && !etablissementAttestations.error"
                                class="child">
                                <td colspan="2">Attestations en cours de récupération... <i class="fa fa-spinner fa-pulse fa-1x fa-fw" aria-hidden="true"></i></td>
                            </tr>
                        </ng-template>
                    </ng-template>
                    </tbody>
                </table>
                <!-- //Fin Tableau Attestations SGMAP - Etablissements -->
            </div>
        </div>
    </div>

    <div class="form-group form-actions">
        <div *ngIf="!hideNavigation" class="pull-left">
            <button [disabled]="(fournisseur.raisonSociale == null && fournisseur.nom == null)"
                    type="button" (click)="onBackClick();" class="btn btn-default btn-sm"
                    value="Retour à la recherche" data-toggle="modal"
                    data-target=".modal-confirmationRetour">
                <fa-icon [icon]="['fas','angle-double-left']"></fa-icon>
                Retour à la recherche
            </button>
        </div>
    </div>
    <!--// Fin Panel Recap -->
    <div *ngIf="fournisseur">
        <ltexec-synthese-contrat [fournisseur]="fournisseur"></ltexec-synthese-contrat>
    </div>

</div>
