<ltexec-alertpanel *ngIf="selectionMode" [type]="'info'"
                   [title]="'Veuillez accéder à la fiche d\'un fournisseur et sélectionner un contact en cliquant sur la ligne correspondante.'">
</ltexec-alertpanel>
<!--Debut Main-content-->
<div class="content">

    <h2 class="text-primary">Rechercher un fournisseur</h2>

    <a [routerLink]="['/creeFournisseur']" class="btn btn-md btn-primary m-b-2" href="#"><i class="fa fa-plus"></i>
        Ajouter un fournisseur</a>

    <!--Debut panel Filtres-->
    <accordion [isAnimated]="true">
        <accordion-group heading="Filtrer par" [isOpen]="true">
            <form>
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input_keywords">Mots-clés <abbr class="icon"
                                                                                                   data-placement="top"
                                                                                                   data-toggle="tooltip"
                                                                                                   tabindex="0"
                                                                                                   title="Rechercher (3 caractères minimum) sur la raison sociale, le SIREN/Identifiant national ou la description de l'entreprise">
                            <i class="fa fa-question-circle"><span class="sr-only">Aide</span></i></abbr></label>
                        <div class="controls col-sm-10">
                            <input
                                (keyup)="updateSearchByMotsCles($event)"
                                [(ngModel)]="findFournisseursDTO.motsCles" class="form-control"
                                id="input_keywords" name="motsCles"
                                placeholder="Rechercher (3 caractères minimum) sur la raison sociale, le SIREN/Identifiant national ou la description de l'entreprise" replaceSpace type="text"></div>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
    <!--// Fin panel Filtres-->


    <div class="panel-table table-responsive" id="searchResults">

        <div class="repeater-header">
            <div class="repeater-header-left">
                <ltexec-table-elements-count [page]="fournisseurs"></ltexec-table-elements-count>
            </div>
            <div class="repeater-header-right">
                <!--Debut Pagnination top-->
                <ltexec-table-pagination [page]="fournisseurs" [table]="self"></ltexec-table-pagination>
                <!--Fin Pagnination top-->
            </div>
        </div>


        <table class="table table-hover bordered-table zebra-striped table-fournisseurs table-highlight table-checkall">
            <thead>
            <tr>
                <!--th class="col-check"><input type="checkbox" id="checkall"></th-->
                <th class="col-fournisseur" scope="col">
                    <ltexec-table-sort [label]="'Fournisseur'" [page]="fournisseurs" [property]="'raisonSociale'"
                                       [table]="self"></ltexec-table-sort>
                </th>
                <!--th scope="col" class="col-fixed-5"><a href="#">Notation <i class="fa fa-sort"></i></a></th>
                <th scope="col" class="col-size"><a href="#">Taille&nbsp;<i class="fa fa-sort"></i></a></th>
                <th scope="col" class="col-size text-center"><a href="#"><i class="fa fa-building" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-original-title="Nombre d'établissements"></i><span class="sr-only">établissements</span> <i class="fa fa-sort"></i></a></th-->
                <th class="col-size text-center" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fournisseur of fournisseurs.content">
                <!--td class="col-check"><input type="checkbox" class="checkthis"></td-->
                <td class="txt-truncate line-height">
                    <div class="box desc-fournisseur">
                            <span class="text-primary pull-left">
                                {{fournisseur.raisonSociale}}{{fournisseur.prenom}} {{fournisseur.nom}}
                            </span>
                        <span *ngIf="!fournisseur.trusted" class="desc">({{fournisseur.pays}} –
                            {{fournisseur.siren | formatSiren}}{{getSiegeSocialCodePostalCommune(fournisseur)}}
                            )</span>
                        <span *ngIf="fournisseur.trusted" class="desc">(FR –
                            {{fournisseur.siren | formatSiren}}{{getSiegeSocialCodePostalCommune(fournisseur)}}
                            )</span>
                        <span class="desc-activite">{{fournisseur.description}}</span>
                    </div>
                </td>
                <td class="col-md-2 col-actions text-center">
                    <a [routerLink]="['/ficheFournisseur' , fournisseur.id]"
                       class="btn btn-primary btn-xs btn-action" title="Fiche fournisseur">
                        <fa-icon [flip]="'horizontal'" [icon]="['fas','search-plus']"></fa-icon>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Debut Modal Message Fournisseur -->
        <div aria-hidden="true" aria-labelledby="titreDialogue_messageFournisseur" class="modal fade modal-messageFournisseur"
             id="myModal_messageFournisseur" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titreDialogue_messageFournisseur">Message aux fournisseurs
                            sélectionnés</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_messageFournisseur_destinataires">Destinataires </label>
                                <div class="controls col-sm-10">
                                    <input class="form-control input-sm input-tags" id="input_messageFournisseur_destinataires"
                                           type="text"
                                           value="j.dupont@societetest.com,l.valmont@societetest.com"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input_messageFournisseur_objet">Objet</label>
                                <div class="controls col-sm-10">
                                    <input class="form-control input-sm" id="input_messageFournisseur_objet"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_messageFournisseur_corps">Corps du
                                    message</label>
                                <div class="controls col-sm-10">
                                        <textarea class="form-control input-sm"
                                                  id="input_messageFournisseur_corps"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_messageFournisseur_PJ">Pièce
                                    jointe</label>
                                <div class="controls col-sm-10">
                                    <!-- Debut File input -->
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i
                                            class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                            class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span
                                            class="fileinput-new">Parcourir</span><span
                                            class="fileinput-exists">Modifier</span>
                                            <input id="input_messageFournisseur_PJ" type="file" name="...">
                                            </span>
                                        <a class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput"
                                           href="#">Supprimer</a>
                                    </div>
                                    <!-- //Fin File input -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls col-sm-10 col-sm-offset-2">
                                    <div class="checkbox">
                                        <label><input id="input_messageFournisseur_AR" type="checkbox">Message avec
                                            Accusé de Réception</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default pull-left" data-dismiss="modal" type="button">Annuler
                        </button>
                        <button class="btn btn-default btn-primary pull-right" data-dismiss="modal" type="button">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Fin Modal Message Fournisseur -->
        <!-- Debut Form actions-->
        <div class="form-group form-actions">
            <a [routerLink]="['/creeFournisseur']" class="btn btn-sm btn-primary" href="#"><i
                class="fa fa-plus"></i> Ajouter un fournisseur</a>

            <!--div class="pull-right">
                <button type="button" class="btn btn-primary btn-sm" value="Enregistrer" title="Envoyer un message groupé" data-toggle="modal" data-target=".modal-messageFournisseur"><i class="fa fa-envelope"></i> Envoyer un message aux fournisseurs sélectionnés</button>
            </div-->
        </div>
        <!-- //Fin Form actions-->
    </div>
</div>
<!-- /.container -->
