<form #contratForm="ngForm">
    <div id="panel" class="panel-group" aria-multiselectable="true" role="tablist">
        <!--Debut Panel Informations contrat-->
        <div class="panel panel-default recap-fiche-contrat">
            <div class="panel-heading">
                <h3 class="panel-title">Informations du contrat</h3>
                <div class="nav-tabs">
                    <button (click)="exporter()" *ngIf="!masquerNavigation && !isCreation && !editionMode && modifiable"
                            class="btn btn-default btn-sm"
                            title="Exporter la fiche contrat">
                        <fa-icon [icon]="['fas', 'download']"></fa-icon>
                        <span class="sr-only">Exporter la fiche contrat</span>
                    </button>
                    <button (click)="creerMarcheSubsequent()"
                            *ngIf="!masquerNavigation && !isCreation && peutCreerMarcheSubsequentOuOrganismes()"
                            class="btn btn-default btn-sm"
                            title="Création d’un marché subséquent ou spécifique">
                        <fa-icon [icon]="['fas', 'external-link-square-alt']"></fa-icon>
                        <span
                            class="sr-only">Créer</span></button>

                    <button (click)="favContrat(contrat)" *ngIf="!isCreation" [ngClass]="contrat.favori?'active':''"
                            class="btn btn-default btn-sm"
                            title="Ajouter aux favoris">
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    </button>
                    <button (click)="editContrat()"
                            *ngIf="!isCreation && !editionMode && modifiable"
                            class="btn btn-default btn-sm">
                        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
                        <span
                            class="sr-only">Modifier</span></button>
                </div>
            </div>
            <div class="panel-body flex-column">
                <!--affiché  voir ticketEXEC1104 condition parametrage-->
                <div *ngIf="!isCreation && !!contrat.consultation?.numeroProjetAchat && parametrageProjetAchat"
                     style="margin-bottom:15px">
                    <div class="col-lg-6 col-md-6 col-sm-12" style="display: flex; flex-direction: column">
                        <label style="margin-right: 10px">Numéro du projet d'achat</label>
                        <span>{{ contrat.consultation?.numeroProjetAchat }}</span>
                    </div>
                </div>

                <div *ngIf="!isCreation && !!contrat.consultation?.numeroProjetAchat && parametrageProjetAchat"
                     class="ligne-separatrice"></div>

                <div class="form-group flex-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Numéro du contrat
                            <ltexec-asterisk
                                *ngIf="(isCreation || (editionMode && contrat.statut === 'ANotifier' && (contrat.created || numContratModif)))"></ltexec-asterisk>
                        </label>
                        <input *ngIf="isCreation || (editionMode && contrat.statut === 'ANotifier')" id="numeroContrat"
                               [ngClass]="{ 'invalid': isSubmitted && contrat?.referenceLibre?.length < 1}"
                               class="form-control"
                               id="numeroContrat"
                               name="numerocontrat" type="text" [(ngModel)]="contrat.referenceLibre" required>
                        <p *ngIf="isSubmitted && contrat?.referenceLibre?.length < 1"
                           class="block-tag text-left">
                            <span class="badge badge-danger">Champ obligatoire</span>
                        </p>
                        <p *ngIf="(!isCreation && !editionMode) || (editionMode && !(contrat.statut === 'ANotifier'))">{{ contrat.referenceLibre }}</p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Intitulé du contrat
                            <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                        </label>

                        <input *ngIf="isCreation || editionMode"
                               [ngClass]="{ 'invalid': isSubmitted && !contrat.intitule}"
                               class="form-control" id="intituleContrat"
                               class="form-control" id="intituleContrat"
                               name="intituleContrat" type="text" [(ngModel)]="contrat.intitule" required>
                        <p *ngIf="isSubmitted && !contrat.intitule"
                           class="block-tag text-left">
                            <span class="badge badge-danger">Champ obligatoire</span>
                        </p>
                        <p *ngIf="!editionMode && !isCreation">{{ contrat.intitule }}</p>
                    </div>
                </div>
                <div class="form-group flex-column col-lg-4 col-md-6 col-sm-12">
                    <label>Objet du contrat
                        <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                    </label>
                    <div *ngIf="isCreation || (editionMode && contrat.statut === 'ANotifier')">
                        <textarea [(ngModel)]="contrat.objet" class="form-control" id="input_objetMarche"
                                  id="objetContrat"
                                  [ngClass]="{ 'invalid': isSubmitted && !contrat.objet}"
                                  name="objet" required></textarea>
                    </div>
                    <p *ngIf="isSubmitted && !contrat.objet"
                       class="block-tag text-left">
                        <span class="badge badge-danger">Champ obligatoire</span>
                    </p>
                    <p *ngIf="(!isCreation && !editionMode) || (editionMode && !(contrat.statut === 'ANotifier'))">{{ contrat.objet }}</p>
                </div>


                <div class="ligne-separatrice"></div>

                <div class="form-group flex-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Référence de la consultation</label>
                        <p *ngIf="!isCreation">{{ contrat?.consultation?.numero }}</p>
                        <input *ngIf="isCreation" class="form-control" id="referenceConsultation"
                               name="referenceConsultation" type="text" [(ngModel)]="contrat.consultation.numero">
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Procédure de passation
                            <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                        </label>
                        <div class="controls" *ngIf="isCreation || editionMode">
                            <ng-select [(ngModel)]="contrat.consultation.procedure"
                                       [items]="procedureOptionsFiltred" [multiple]="false"
                                       [ngClass]="{ 'invalid': isSubmitted && !contrat.consultation?.procedure}"
                                       bindLabel="label"
                                       [searchable]="true" name="procedure"
                                       placeholder="Sélectionner une procédure" required></ng-select>
                        </div>
                        <p *ngIf="isSubmitted && !contrat?.consultation?.procedure"
                           class="block-tag text-left">
                            <span class="badge badge-danger">Champ obligatoire</span>
                        </p>
                        <p *ngIf="!isCreation && !editionMode"> {{ contrat?.consultation?.procedure?.label }}</p>
                    </div>
                </div>

                <div class="form-group flex-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Nature contrat concession
                            <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                        </label>
                        <div class="controls" *ngIf="isCreation || editionMode">
                            <ng-select
                                [(ngModel)]="contrat.natureContratConcession"
                                [items]="natureContratConcessionOptions" [multiple]="false"
                                [ngClass]="{ 'invalid': isSubmitted && !contrat.natureContratConcession}"
                                name="natureContratConcession"
                                bindLabel="label"
                                placeholder="Sélectionner une nature"
                                required></ng-select>
                        </div>
                        <p *ngIf="isSubmitted && !contrat.natureContratConcession"
                           class="block-tag text-left">
                            <span class="badge badge-danger">Champ obligatoire</span>
                        </p>
                        <p *ngIf="!isCreation && !editionMode"> {{ contrat?.natureContratConcession?.label }}</p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Code CPV</label>
                        <div class="controls" *ngIf="isCreation || editionMode">
                            <ng-select (search)="searchCpv($event)"
                                       placeholder="Entrer au moins trois caractères du code CPV puis sélectionner"
                                       [(ngModel)]="contrat.codesCPV"
                                       (ngModelChange)="updateOrigines($event)"
                                       [items]="codesCpv"
                                       [multiple]="true"
                                       [bindLabel]="getBindLabelCpv()"
                                       [notFoundText]="'Aucun élément trouvé'" name="codesCpv">
                                <ng-template let-index="index" let-item="item" ng-option-tmp>
                                    <strong>{{ item.value }}</strong> - {{ item.label }}
                                </ng-template>
                                <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                                    <div [ngClass]="item?.principal ? 'cpv-principal' :''" style="display: flex">
                                        <fa-icon *ngIf="item?.principal" [icon]="['fas', 'star']"></fa-icon>
                                        <span [title]="item.label"
                                              class="truncate"><strong>{{ item.value }}</strong> - {{ item.label }}</span>
                                        <span (click)="clear(item)" aria-hidden="true"
                                              class="ng-value-icon right">X</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="!isCreation && !editionMode" [innerHTML]="contrat | cpv"
                             style="display: inline-block"></div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Lieu(x) d'exécution</label>
                        <div class="controls" *ngIf="isCreation || editionMode">
                            <ng-select
                                [searchFn]="searchReferentiel"
                                [(ngModel)]="contrat.lieuxExecution"
                                [groupBy]="'parentLabel'"
                                [items]="lieuxExecution" [multiple]="true"
                                [bindLabel]="getBindLabelLieu()"
                                [notFoundText]="'Aucun élément trouvé'" [selectableGroupAsModel]="false"
                                [selectableGroup]="true"
                                name="lieuxExecution">
                                <ng-template let-item="item" ng-optgroup-tmp>
                                    <strong
                                        style="font-size: 14px;font-weight: bold;color: #808080">{{ item.parentLabel || 'NA' }}</strong>
                                </ng-template>
                                <ng-template let-index="index" let-item="item" ng-option-tmp>
                                    <strong>{{ item.value }}</strong> - {{ item.label }}
                                </ng-template>
                                <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                                    {{ item.label }}
                                    <span (click)="clear(item)" aria-hidden="true"
                                          class="ng-value-icon right">X</span>
                                </ng-template>
                            </ng-select>
                        </div>
                        <p *ngIf="!isCreation && !editionMode">{{ getValeurMultiple('lieuxExecution', 'label') }}</p>
                    </div>
                </div>

                <div class="ligne-separatrice"></div>

                <div class="form-group flex-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Contractant public</label>
                        <div class="form-control-static">{{
                                contrat.service?.organisme != null ?
                                    contrat.service.organisme.nom : ''
                            }}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Direction / Service
                            <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                        </label>
                        <div class="controls" *ngIf="isCreation || editionMode">
                            <ng-select [(ngModel)]="contrat.service" (change)="getUtilisateurs($event.id)"
                                       [items]="services" [multiple]="false"
                                       [ngClass]="{ 'invalid': isSubmitted && !contrat.service?.nom}"
                                       [bindLabel]="'nom'"
                                       name="service"
                                       placeholder="Sélectionner un service" required></ng-select>
                        </div>
                        <p *ngIf="isSubmitted && !contrat.service?.nom"
                           class="block-tag text-left">
                            <span class="badge badge-danger">Champ obligatoire</span>
                        </p>
                        <p *ngIf="!isCreation && !editionMode">{{ contrat.service.nom }}</p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Agent gestionnaire
                            <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                        </label>
                        <div class="controls" *ngIf="isCreation || editionMode">
                            <ng-select [(ngModel)]="contrat.createur" [items]="utilisateurs" [searchable]="true"
                                       name="createur"
                                       placeholder="Sélectionner un agent"
                                       [ngClass]="{ 'invalid': isSubmitted && !contrat.createur}"
                                       [multiple]="false"
                                       required>
                                <ng-template let-item="item" ng-option-tmp>
                                    {{ item.nom | uppercase }} {{ item.prenom }}
                                </ng-template>
                                <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                                    {{ item.nom | uppercase }} {{ item.prenom }}
                                </ng-template>
                            </ng-select>
                        </div>
                        <p *ngIf="isSubmitted && !contrat.createur"
                           class="block-tag text-left">
                            <span class="badge badge-danger">Champ obligatoire</span>
                        </p>
                        <p *ngIf="!isCreation && !editionMode">{{ contrat.createur?.nom }} {{ contrat.createur?.prenom }}</p>
                    </div>
                </div>

                <div class="ligne-separatrice"></div>

                <div class="form-group flex-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Marché innovant</label>
                        <div>
                            <ui-switch
                                [(ngModel)]="contrat.marcheInnovant"
                                [disabled]="!editionMode && !isCreation"
                                name="marcheInnovant"></ui-switch>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Marché Défense ou Sécurité</label>
                        <div>
                            <ui-switch
                                [(ngModel)]="contrat.defenseOuSecurite"
                                (ngModelChange)="contrat.publicationDonneesEssentielles=!$event;disabledDE = $event"
                                [disabled]="!editionMode && !isCreation"
                                name="marcheDefense"></ui-switch>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Publication aux données essentielles</label>
                        <div>
                            <ui-switch
                                [(ngModel)]="contrat.publicationDonneesEssentielles"
                                [disabled]="disabledDE || (!editionMode && !isCreation)"
                                name="publicationDE"></ui-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Debut Panel Dates-->
        <div class="panel panel-default recap-fiche-contrat">
            <div class="panel-heading">
                <h3 class="panel-title">Dates</h3>
            </div>
            <div class="panel-body ">
                <div class="form-group flex-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 separator flex-column" *ngIf="isUtilisateurChorus">
                        <div style="margin-bottom: 20px">
                            <label>Date prévisionnelle de notification du contrat
                                <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                            </label>
                            <div *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.datePrevisionnelleNotification"
                                       (ngModelChange)="checkDateFinPrevisionnelle()"
                                       [ngClass]="{ 'invalid': isSubmitted && !contrat.datePrevisionnelleNotification}"
                                       bsDatepicker
                                       [attr.required]="isUtilisateurChorus"
                                       class="form-control"
                                       name="datePrevisionnelleNotification" placeholder="Choisissez une date ..."
                                       type="text">
                            </div>
                            <p *ngIf="isSubmitted && !contrat.datePrevisionnelleNotification"
                               class="block-tag text-left">
                                <span class="badge badge-danger">Champ obligatoire</span>
                            </p>
                            <p *ngIf="!isCreation && !editionMode && !!contrat.datePrevisionnelleNotification">{{ contrat.datePrevisionnelleNotification | formatDate: "DD/MM/YYYY" }}</p>
                        </div>

                        <div style="margin-bottom: 20px">
                            <label>Date prévisionnelle de fin du contrat
                                <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                            </label>
                            <div style="display: flex;flex-direction: column" *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.datePrevisionnelleFinMarche"
                                       (ngModelChange)="checkDateFinPrevisionnelle()"
                                       bsDatepicker
                                       [ngClass]="{'invalid': !dateFinPrevisionnelleOK || (isSubmitted && !contrat.datePrevisionnelleFinMarche)}"
                                       [attr.required]="isUtilisateurChorus"
                                       class="form-control"
                                       id="datePrevisionnelleFinContrat"
                                       name="datePrevisionnelleFinContrat"
                                       placeholder="Choisissez une date ..."
                                       type="text">
                                <span *ngIf="!dateFinPrevisionnelleOK" class="error-message">Cette date doit être ultérieure à la date prévisionnelle de notification.</span>

                            </div>
                            <p *ngIf="isSubmitted && !contrat.datePrevisionnelleFinMarche"
                               class="block-tag text-left">
                                <span class="badge badge-danger">Champ obligatoire</span>
                            </p>
                            <p *ngIf="!isCreation && !editionMode && !!contrat.datePrevisionnelleFinMarche">{{ contrat.datePrevisionnelleFinMarche | formatDate: "DD/MM/YYYY" }}</p>
                        </div>

                        <div>
                            <label>Date prévisionnelle de fin maximale du contrat
                                <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                            </label>
                            <div *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.datePrevisionnelleFinMaximaleMarche"
                                       (ngModelChange)="checkDateFinMaxPrevisionnelle()"
                                       bsDatepicker
                                       [ngClass]="{'invalid': !dateFinMaxPrevisionnelleOK || (isSubmitted && !contrat.datePrevisionnelleFinMaximaleMarche)}"
                                       [attr.required]="isUtilisateurChorus"
                                       class="form-control"
                                       id="datePrevisionnelleFinMaximale"
                                       name="datePrevisionnelleFinMaximale"
                                       placeholder="Choisissez une date ..."
                                       type="text">
                                <span *ngIf="!dateFinMaxPrevisionnelleOK" class="error-message">Cette date doit être ultérieure à la date prévisionnelle de fin de contrat.</span>
                            </div>
                            <p *ngIf="isSubmitted && !contrat.datePrevisionnelleFinMaximaleMarche"
                               class="block-tag text-left">
                                <span class="badge badge-danger">Champ obligatoire</span>
                            </p>
                            <p *ngIf="!isCreation && !editionMode && !!contrat.datePrevisionnelleFinMaximaleMarche">{{ contrat.datePrevisionnelleFinMaximaleMarche | formatDate: "DD/MM/YYYY" }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 separator flex-column">
                        <div style="margin-bottom: 20px">
                            <label [title]="'Date de signature du contrat'">Date
                                de signature du contrat</label>
                            <div *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.dateNotification"
                                       bsDatepicker
                                       class="form-control"
                                       name="dateReelleNotification" placeholder="Choisissez une date ..."
                                       type="text">
                            </div>
                            <p *ngIf="!isCreation && !editionMode && contrat.dateNotification">{{ contrat.dateNotification | formatDate: "DD/MM/YYYY" }}</p>
                        </div>
                        <div style="margin-bottom: 20px">
                            <label>Date de début d’exécution du contrat</label>
                            <div *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.dateDebutExecution"
                                       (ngModelChange)="checkDateExecutionContrat()"
                                       bsDatepicker
                                       class="form-control"
                                       name="dateExecution" placeholder="Choisissez une date ..."
                                       type="text">
                            </div>
                            <span *ngIf="!dateExecutionOk" class="error-message">Cette date doit être supérieure à la date réelle de signature du contrat.</span>
                            <p *ngIf="!isCreation && !editionMode && contrat.dateDebutExecution">{{ contrat.dateDebutExecution | formatDate: "DD/MM/YYYY" }}</p>
                        </div>

                        <div style="margin-bottom: 20px">
                            <label>Date réelle de fin du contrat</label>
                            <div *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.dateFinContrat"
                                       (ngModelChange)="checkDateReelleFinContrat()"
                                       bsDatepicker
                                       [ngClass]="{'invalid': !dateFinReelleOK}"
                                       class="form-control"
                                       id="dateReelleFinContrat"
                                       name="dateReelleFinContrat"
                                       placeholder="Choisissez une date ..."
                                       type="text">
                                <span *ngIf="!dateFinReelleOK" class="error-message">Cette date doit être ultérieure à la date réelle de notification.</span>
                            </div>
                            <p *ngIf="!isCreation && !editionMode && !!contrat.dateFinContrat">{{ contrat.dateFinContrat | formatDate: "DD/MM/YYYY" }}</p>
                        </div>

                        <div style="margin-bottom: 20px">
                            <label>Date réelle de fin maximale du contrat</label>
                            <div *ngIf="isCreation || editionMode">
                                <input [(ngModel)]="contrat.dateMaxFinContrat"
                                       (ngModelChange)="checkDateReelleFinMaxContrat();updateDureeMarche()"
                                       bsDatepicker
                                       [ngClass]="{'invalid': !dateFinMaxReelleOK}"
                                       class="form-control"
                                       id="dateReelleFinMaximale"
                                       name="dateReelleFinMaximale"
                                       placeholder="Choisissez une date ..."
                                       type="text">
                                <span *ngIf="!dateFinMaxReelleOK" class="error-message">Cette date doit être ultérieure à la date réelle de fin de contrat.</span>
                            </div>
                            <p *ngIf="!isCreation && !editionMode && !!contrat.dateMaxFinContrat">{{ contrat.dateMaxFinContrat | formatDate: "DD/MM/YYYY" }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label>Durée du marché (mois) </label>
                        <input *ngIf="isCreation || editionMode" [(ngModel)]="dureeMarche" class="form-control"
                               id="dureeMarche"
                               required
                               name="dureeMarche" type="number" min="0">
                        <p *ngIf="!isCreation && !editionMode">{{ dureeMarche }}</p>
                    </div>
                </div>

                <div class="ligne-separatrice"></div>

                <div class="form-group flex-row">

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <label [title]="'Information transmise au module de Recensement des besoins'">Contrat devant
                            faire l'objet d'un renouvellement à son terme</label>
                        <div>
                            <ui-switch
                                [(ngModel)]="contrat.aRenouveler"
                                (ngModelChange)="updateShowAlert()"
                                [disabled]="!editionMode && !isCreation"
                                name="aRenouveler"></ui-switch>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column" *ngIf="contrat.aRenouveler">
                        <label>Durée de la phase d'étude de renouvellement (mois)</label>
                        <div class="flex-row">
                            <div class="controls" style="width: 20%">
                                <input *ngIf="isCreation || editionMode"
                                       [(ngModel)]="contrat.dureePhaseEtudeRenouvellement"
                                       (ngModelChange)="updateShowAlert()"
                                       name="dureePhaseEtudeRenouvellement"
                                       class="form-control"
                                       type="number" min="0">
                                <p *ngIf="!isCreation && !editionMode">{{ contrat.dureePhaseEtudeRenouvellement }}</p>
                            </div>
                            <div
                                *ngIf="showAlerteDate && contrat.aRenouveler && !!contrat.dureePhaseEtudeRenouvellement && !!contrat.dateMaxFinContrat"
                                style="padding: 10px;width: 80%">L'alerte sera envoyée le
                                <i><b>{{ getDateEnvoiAlerte() | date:"dd MMMM yyyy" }}</b>.</i></div>
                            <div
                                *ngIf="contrat.aRenouveler && !!contrat.dureePhaseEtudeRenouvellement && !contrat.dateMaxFinContrat"
                                style="padding: 10px;width: 80%">Renseigner une date réelle de fin maximale.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column" *ngIf="contrat.aRenouveler">
                        <label [title]="'Information transmise au module de Recensement des besoins'">Contrat concernant
                            des besoins récurrents</label>
                        <div>
                            <ui-switch
                                [(ngModel)]="contrat.besoinReccurent"
                                [disabled]="!isCreation && !editionMode"
                                name="besoinRecurrent"></ui-switch>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--Debut Panel Montants-->
        <div class="panel panel-default recap-fiche-contrat">
            <div class="panel-heading">
                <h3 class="panel-title">Montants</h3>
            </div>
            <div class="panel-body ">
                <div class="form-group flex-row">
                    <!--ajouter le bloc montant forfaitaire + cumul avenant en mode non création-->
                    <div class="col-lg-4 col-md-6 col-sm-12 flex-column">
                        <div class="flex-column" style="margin-bottom: 20px">
                            <label>Valeur globale du contrat (€)
                                <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                            </label>
                            <div *ngIf="isCreation || editionMode">
                                <div class="input-group input-group-montant">
                                    <input id="input_valeurGlobale" type="text" class="form-control text-right"
                                           money
                                           [(ngModel)]="contrat.valeurGlobale"
                                           [ngClass]="{ 'invalid': isSubmitted && !contrat.valeurGlobale}"
                                           name="valeurGlobale" required>
                                    <span class="input-group-addon">EUR HT</span>
                                    <show-error control="valeurGlobale"
                                                [errors]="['invalidMoney']"></show-error>
                                    <p *ngIf="isSubmitted && !contrat.valeurGlobale"
                                       class="block-tag text-left">
                                        <span class="badge badge-danger">Champ obligatoire</span>
                                    </p>
                                </div>
                            </div>
                            <p *ngIf="!isCreation && !editionMode">{{ contrat.valeurGlobale | number }}</p>
                        </div>

                        <div style="margin-bottom: 20px" class="flex-column">
                            <label>Montant de la subvention publique (€)
                                <ltexec-asterisk *ngIf="isCreation || editionMode"></ltexec-asterisk>
                            </label>
                            <div class="controls" *ngIf="isCreation || editionMode">
                                <div class="input-group input-group-montant">
                                    <input [(ngModel)]="contrat.montantSubventionPublique"
                                           class="form-control text-right"
                                           id="montantSubventionPublique"
                                           money type="text"
                                           name="montantSubventionPublique"
                                           [ngClass]="{ 'invalid': isSubmitted && !contrat.montantSubventionPublique}">
                                    <span class="input-group-addon">EUR HT</span>
                                    <show-error control="montantSubventionPublique"
                                                [errors]="['invalidMoney']"></show-error>
                                    <p *ngIf="isSubmitted && !contrat.montantSubventionPublique"
                                       class="block-tag text-left">
                                        <span class="badge badge-danger">Champ obligatoire</span>
                                    </p>
                                </div>
                            </div>
                            <p *ngIf="!isCreation && !editionMode">{{ contrat.montantSubventionPublique | number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ltexec-creer-clause *ngIf="editionMode||isCreation" [isSubmitted]="isSubmitted" [editMode]="editionMode"
                             [clausesDto]="contrat.clausesDto"
                             [typeContrat]="contrat?.type?.value"></ltexec-creer-clause>

        <ltexec-affichage-clause *ngIf="!editionMode&&!isCreation"
                                 [clausesDto]="contrat.clausesDto"></ltexec-affichage-clause>
        <ltexec-contrat-entite-eligible [contrat]="contrat"
                                        [editionMode]="editionMode"
                                        [isCreation]="isCreation"
        ></ltexec-contrat-entite-eligible>
    </div>
</form>

<div class="panel-footer form-group form-actions clearfix" *ngIf="isCreation || editionMode">
    <div class="pull-right">
        <button (click)="isCreation?cancelClick():cancelEditContrat()" class="btn btn-default btn-sm" type="button"
                value="Annuler">Annuler
        </button>
        <button type="button" class="btn btn-sm btn-success"
                (click)="isCreation?validerAjoutContrat(contratForm):valider(contratForm)" value="Valider"><i
            class="fa fa-check"></i> Valider
        </button>
    </div>
</div>



