{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('modification-consultation') }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('modification-consultation') }}
{% endblock %}

{% block content %}
    <div id="modification-consultation">
        <modification-consultation
                consultation-id="{{ consultationId ?? null }}"
                encrypted-consultation-id="{{ encryptedConsultationId ?? null }}"
        ></modification-consultation>
    </div>
{% endblock %}
