<div id="af-file-{{ num_lot|default('0') }}-{{ type.acronyme }}">

</div>
<!-- The file upload form used as target for the file upload widget -->
<form id="form-af-fileupload-lot{{ num_lot|default('0') }}-{{ type.acronyme }}"
      action="#"
      method="POST"
      enctype="multipart/form-data"
      class="form-file-upload"
      data-type="afi"
      data-upload-template-id="template-upload-annexe-financier"
      data-download-template-id="template-download-annexe-financier"
      data-files-container="#af-file-{{ num_lot|default('0') }}-{{ type.acronyme }}"
      data-max-number-of-files="1"
      data-drop-zone="null"
      data-url="{{ path('atexo_consultation_depot_upload', {'id': consultation.id}) }}"
>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_enveloppe"
           name="type_enveloppe" value="{{ obscure_data_management.getObscureData(type.id, uid_response) }}"/>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_files_collections"
           name="files_collections" value="[]"/>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_info_index_enveloppe"
           name="info_index_enveloppe" value="{{ num_lot|default('0') }}_{{ type.id }}"/>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_uid_response" name="uid_response" value="{{ uid_response }}"/>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_enveloppe"
           name="enveloppe"
           value="env_lot-{{ obscure_data_management.getObscureData(num_lot|default('0'), uid_response) }}_{{ obscure_data_management.getObscureData(type.acronyme, uid_response) }}"/>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_offre_id"
           name="offre_id"
           value="{{ obscure_data_management.getObscureData(offre.id|default('0'), uid_response) }}"/>
    <input type="hidden" id="form_lot{{ num_lot|default('0') }}_{{ type.acronyme }}_type_piece"
           name="type_fichier"
           value="{{ obscure_data_management.getObscureData('AFI', uid_response) }}"/>
    <!-- Annexe financier bloc -->
    <div class="clearfix row-afi">
        <div class="col-md-11">
                                <span>
                                    <img src="{{ asset('consultation_depot/assets/images/picto-piece-typee-AF.png') }}"
                                           alt="{{ 'DEFINE_ANNEXE_FINANCIER'|trans }}"/>
                                </span>&nbsp;{{ 'DEFINE_ANNEXE_FINANCIER'|trans }}
            &nbsp;<span><img
                        src="{{ asset('consultation_depot/assets/images/picto-piece-non-renseignee.png') }}"
                        alt="{{ 'DEFINE_AUCUN_FICHIER_RENSEIGNE'|trans }}"></span>
        </div>
        <div class="col-md-1 row-file_actions text-right">
            <div class="actions center">
                <a class="btn btn-primary btn-sm fileinput-button" title="{{ 'ADD_ANNEXE_FINANCER' | trans }}">
                    <i class="fa fa-plus"></i>
                    <input class="fileupload"
                           type="file"
                           name="file_af_lot{{ num_lot|default('0') }}_{{ type.acronyme }}"
                    />
                </a>
            </div>
        </div>
    </div>
</form>