.viewport
  height: 1120px
  border: none
  width: calc(100vw - 210px)
  padding-top: 0

  label
    font-size: 1.2em
    display: inline-block
    width: 100%

  &-form
    padding: 4px 12px
    margin: 0 auto
    width: 954px
    display: block
    height: 152px

    &-plug
      cursor: pointer
      font-size: 0.8em
      margin-right: 8px

    &-item
      min-height: 600px
      max-height: 600px
      background: #eee
      border: none

    &-actions
      display: flex
      justify-content: flex-end
      align-items: flex-end
      margin: 0
      list-style-type: none
      padding: 0

      &-item
        display: flex
        flex-direction: row-reverse
        margin-left: 4px

        &-button
          padding: 4px 12px
          background: #676258
          border: none
          border-radius: 4px
          color: #fff
          cursor: pointer

          &.disable
            opacity: 0.4

    &-field
      line-height: 20px

      &-label
        font-weight: normal
        display: inline-block
        width: 100px
        margin-right: 4px
        color: #8a8479

      &-value
        font-weight: bold

        &-input
          width: 600px
          background: transparent
          border: 2px transparent
          font-weight: bold
          padding: 4px
          display: inline-block

          &-lock
            color: #666

          &:focus
            background: #fff
