<section class="viewport">
  <label for="payload">
    <ngb-alert type="primary" [dismissible]="false">Merci de saisir le payload de l'initialisation du context</ngb-alert>
  </label>

  <pre><code [contentEditable]="true" [languages]="['xml']" #content spellcheck="false" [lineNumbers]="true" [highlight]="payload" id="payload" class="viewport-form-item" [textContent]='payload' ngDefaultControl></code></pre>
  <ul class="viewport-form-actions">
    <li class="viewport-form-actions-item">
      <button class="viewport-form-actions-item-button" (click)="send(content)"><i class="viewport-form-plug fas fa-plug"></i><span>initialiser</span></button>
    </li>
  </ul>
</section>
