<div id="sticky-wrapper" class="sticky-wrapper">
    <div
            class="menu-header header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow primary-client-bg"
            role="navigation" data-menu="menu-wrapper"
            id="menu-header">
        <div class="navbar-container main-menu-content"
             data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation"
                data-menu="menu-navigation">
                <li *ngFor="let child of _menuSettingsConfig.items"
                    class="nav-item" [ngClass]="{
          'dropdown nav-item ':(child.title && child.submenu),
          'nav-item' : true,
          'open': child.isOpen,
        'active': child.isSelected }"
                    [attr.data-menu]="child.submenu? 'dropdown' : ''"
                    (mouseenter)="mouseEnter($event)"
                    (mouseleave)="mouseLeave($event)">
                    <!-- Top Menu -->
                    <a class="nav-link " *ngIf="!child.internalModule && !child.section"
                       [ngClass]="{'dropdown-item dropdown-toggle active': child.submenu}"
                       [attr.data-toggle]="child.submenu? 'dropdown' : ''"
                       (click)="toggleMenu($event, child, false)">
                        <i class="la"
                           [ngClass]="child.icon"></i><span>{{child.title}}</span>
                    </a>

                    <a class="nav-link " *ngIf="child.internalModule"
                       [ngClass]="{'dropdown-item dropdown-toggle active': child.submenu}"
                       [attr.data-toggle]="child.submenu? 'dropdown' : ''"
                       (click)="goInternalApi(child)">
                        <i class="la"
                           [ngClass]="child.icon"></i><span>{{child.title}}</span>
                    </a>

                    <ul class="dropdown-menu" *ngIf="child.submenu">
                        <li *ngFor="let subchild of child.submenu.items"
                            class=""
                            [ngClass]="{'dropdown dropdown-submenu':(subchild.submenu), 'dropdown-divider':(subchild.title =='horizontal-divider'), 'active': subchild.isSelected }"
                            (mouseenter)="mouseEnter($event)"
                            (mouseleave)="mouseLeave($event)"
                            [attr.data-menu]="subchild.submenu? 'dropdown-submenu' : ''">
                            <a class="dropdown-item"
                               (click)="toggleMenu($event, subchild, false)"
                               data-toggle="dropdown"
                               *ngIf="!subchild.isExternalLink && !subchild.internalModule">
                                <i class="la" [ngClass]="subchild.icon"></i>
                                <span>{{subchild.title}}</span>
                            </a>
                            <a class="dropdown-item"
                               (click)="goInternalApi(subchild)"
                               data-toggle="dropdown"
                               *ngIf="!subchild.isExternalLink && subchild.internalModule">
                                <i class="la" [ngClass]="subchild.icon"></i>
                                <span>{{subchild.title}}</span>
                            </a>

                            <a class="dropdown-item"
                               (click)="toggleMenu($event, subchild, false)"
                               target="_blank"
                               data-toggle="dropdown"
                               *ngIf="subchild.isExternalLink">
                                <i class="la" [ngClass]="subchild.icon"></i>
                                <span>{{subchild.title}}</span>
                            </a>
                            <ul class="dropdown-menu" *ngIf="subchild.submenu">
                                <li *ngFor="let subSubchild of subchild.submenu.items"
                                    [ngClass]="{'dropdown dropdown-submenu':(subSubchild.submenu), 'dropdown-divider':(subSubchild.title =='horizontal-divider'), 'active': subSubchild.isSelected }"
                                    (mouseenter)="mouseEnter($event)"
                                    (mouseleave)="mouseLeave($event)"
                                    [attr.data-menu]="subSubchild.submenu? 'dropdown-submenu' : ''">
                                    <a class="dropdown-item"
                                       (click)="toggleMenu($event, subSubchild, true)"
                                       data-toggle="dropdown"><span
                                    >{{subSubchild.title}}</span></a>
                                    <ul class="dropdown-menu"
                                        *ngIf="subSubchild.submenu">
                                        <li *ngFor="let subchild of subSubchild.submenu.items"
                                            [ngClass]="{'active': subchild.isSelected}"
                                            data-menu="">
                                            <a class="dropdown-item"
                                               (click)="toggleMenu($event, subchild,true)"
                                               data-toggle="dropdown"><span
                                            >{{subchild.title}}</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</div>
