<com:TRepeater ID="repeaterLangue">
	<prop:ItemTemplate>
		    <com:THiddenField id="langue" Value="<%#$this->Data['langue']%>" />
		    <com:THiddenField id="libelle" Value="<%#$this->Data['libelle']%>" />
	</prop:ItemTemplate>
</com:TRepeater>
