<!--[if !IE]>-->
	<object classid="java:com.atexo.mpe.applet.<%=$this->getMainClass()%>.class"
	  	name="<%=$this->getMainClass()%>"
	  	type="application/x-java-applet;version=1.6"
	  	height="1" width="1" >
	  	<%=$this->getParamJavaArguments()%>
		<param name="archive" value="AppletCrypto.jar" />
		<param name="code" value="<%=$this->getMainClass()%>" />
		<param name="codebase" value="ressources/applet" />
		<param name="MAYSCRIPT" VALUE="true">
		<param NAME="cache_version" VALUE="4.4.1.2, 4.4.1.2, 4.4.1.2, 4.4.1.2">
		<param name="cache_option" VALUE="Plugin">
	 	<param name="cache_archive" VALUE="AppletCrypto.jar,bc-mail-extension.jar,atexo.mpe-3.0.xml_fat.jar,jibx-run.jar,miglayout-3.5.5-swing.jar,bc-mail-jdk16-1.46.jar,bc-tsp-jdk16-1.46.jar,bc-prov-ext-jdk16-1.46.jar,itext-pdf-5.2.1.jar">

	</object>
<!--<![endif]-->
<!--[if IE]>
	<object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
		name="<%=$this->getMainClass()%>" height="1" width="1" >
		<%=$this->getParamJavaArguments()%>
		<param name="java_code" value="com.atexo.mpe.applet.<%=$this->getMainClass()%>.class" />
	  	<param name="code" value="<%=$this->getMainClass()%>" />
	  	<param name="archive" value="AppletCrypto.jar,atexo.mpe-3.0.xml_fat.jar,jibx-run.jar" />
	  	<param name="codebase" value="ressources/applet" />
	  	<param NAME="cache_version" VALUE="4.4.1.2, 4.4.1.2, 4.4.1.2, 4.4.1.2">
		<param name="cache_option" VALUE="Plugin">
	 	<param name="cache_archive" VALUE="AppletCrypto.jar,bc-mail-extension.jar,atexo.mpe-3.0.xml_fat.jar,jibx-run.jar,miglayout-3.5.5-swing.jar,bc-mail-jdk16-1.46.jar,bc-tsp-jdk16-1.46.jar,bc-prov-ext-jdk16-1.46.jar,itext-pdf-5.2.1.jar">
	</object>
<![endif]-->

