<div>
<com:TActiveTextBox id="code_cpv1" style="display:none" />
<com:TActiveTextBox id="code_cpv2" style="display:none" />
<com:TActiveTextBox id="code_cpv3" style="display:none" />
<com:TActiveTextBox id="code_cpv4" style="display:none" />
<com:TActiveTextBox id="code_cpv_libelle1" style="display:none" />
<com:TActiveTextBox id="code_cpv_libelle2" style="display:none" />
<com:TActiveTextBox id="code_cpv_libelle3" style="display:none" />
<com:TActiveTextBox id="code_cpv_libelle4" style="display:none" />
<com:TLabel id="scriptCPV" />
</div>
	