<%= $this->truncateCodesNuts() %>	
   <span 
    onmouseover="afficheBulle('<%=($this->getIdComposant())%>_infosLieuExecutionLtRef', this)" 
    onmouseout="cacheBulle('<%=($this->getIdComposant())%>_infosLieuExecutionLtRef')" 
    class="info-suite" 
    title="Info-bulle">
     <com:TLabel Display="<%=($this->isCodesNutsTruncated()) ? 'Dynamic':'None'%>" Text ="..."/>
     </span>
    <div 
    id="<%=($this->getIdComposant())%>_infosLieuExecutionLtRef" 
        class="info-bulle" 
        onmouseover="mouseOverBulle();" 
        onmouseout="mouseOutBulle();"
        >
        <div>
        <%=$this->getLibelleCodesNuts()%>
        </div>
    </div>