<com:THiddenField id="UrlRef" />
<com:THiddenField id="casRef" />
<com:THiddenField id="codeRefPrinc" />
<com:THiddenField id="codesRefSec" />
<com:THiddenField id="defineCodePrincipal" value="<%=Prado::localize('DEFINE_CODE_PRINCIPAL')%>"/>
<com:TLabel id="scriptRef" />
