<div id="loading">
	<img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/loader.gif' alt="<%=Prado::localize('CHARGEMENT_APPLET')%>" title="<%=Prado::localize('CHARGEMENT_APPLET')%>" /><br /><br />
	<strong><com:TTranslate>CHARGEMENT_APPLET</com:TTranslate></strong><br /><br />
</div>