<!--Debut Bloc Alertes-->
<com:TPanel id="panelAlertes" >
<span class="message-big gestion-alerte"><com:TTranslate>TEXT_MES_ALERTES</com:TTranslate></span>
<ul class="liste-actions">
<com:TRepeater ID="repeaterAlertes">
	<prop:ItemTemplate>
		<li> <%#$this->Data['libelle']%></li>
		
	</prop:ItemTemplate>
</com:TRepeater>		
</ul>
</com:TPanel>
<!--Fin Bloc Alertes-->