<!--[if !IE]>-->
	<object classid="java:com.atexo.mpe.applet.AppletJarInstaller.class"
	  	name="AppletJarInstaller"
	  	type="application/x-java-applet;version=1.6"
	  	height="1" width="1" >
		<param name="archive" value="AppletJarInstaller.jar" />
		<param name="code" value="AppletJarInstaller" />
		<param name="codebase" value="ressources/applet" /> 
		<param name="MAYSCRIPT" VALUE="true">
		<param name="cache_archive" VALUE="bcmail-jdk16-140.jar,bc-mail-extension.jar,bcprov-ext-jdk16-140.jar">
		
	</object>
<!--<![endif]-->
<!--[if IE]>
	<object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" 
		name="AppletJarInstaller" height="1" width="1" > 
		<param name="java_code" value="com.atexo.mpe.applet.AppletJarInstaller.class" /> 
	  	<param name="code" value="AppletJarInstaller%>" />
	  	<param name="archive" value="AppletJarInstaller.jar" />
	  	<param name="codebase" value="ressources/applet" />
	  	<param name="cache_archive" VALUE="bcmail-jdk16-140.jar,bc-mail-extension.jar,bcprov-ext-jdk16-140.jar">
	</object> 
<![endif]-->
