<!-- Début pop-in -->						
<div class="modal-ajout-offre_<%=$this->getIdModal()%>" style="display:none;">
	<com:AtexoDetailsSignature ID="blocDetailsSignature" fichier="<%=$this->getFichierVo()%>" type="fichierVo" titre ="<h2><%=Prado::localize('DEFINE_DETAIL_SIGNATURE')%></h2>" />
	<!--Debut line boutons-->
	<div class="boutons-line">
		<input class="bouton-moyen float-left" value="<%=Prado::localize('FERMER')%>" title="<%=Prado::localize('FERMER')%>" onclick="J('.modal-ajout-offre_<%=$this->getIdentifiantFichier()%>').remove();" type="button">
		<com:TActiveLabel id="scriptOpenFormulaireEnveloppe"  style="display:none;"/>
	</div>
	<!--Fin line boutons-->
</div>
<!-- Fin pop-in -->