<com:TLabel text="<%#trim($this->truncateLieuExec(),',')%>" ></com:TLabel>
<span style="<%#$this->isLieuExecTruncated()%>" data-toggle="popover" data-trigger="focus" data-placement="top" class="btn-link" role="button" tabindex="0" title=""
	  data-content="<%#trim($this->getLibelleLieuxExecution(),',')%>">
	...
</span>