<div class="top"></div>
				<div class="content">
				<h1><com:TLabel id="labledGestionDroitsAcces" Text="<%=Prado::localize('DEFINE_GESTION_DROITS_ACCES_CONSULTATION')%>" /></h1>
				<com:DroitsAcces   id="DroitsAcces" ParentPage="FormulaireConsultation" />
				<com:TActivePanel ID="invitePanel" Attributes.style="display:none"><com:THiddenField ID="invites"/></com:TActivePanel>
				</div>
			</div>