<com:TConditional Condition="$_GET['page']=='Agent.popUpGestionBicle'">
    <prop:TrueTemplate>
        <OBJECT id="classFactory" CLASSID="clsid:884e2049-217d-11da-b2a4-000e7bbb2b09"  STYLE="display:none"></OBJECT>
        <span ID="xenrollspan" style="display:none">
    <!-- replaced dynamically with object definition -->
    </span>
        <script language="JavaScript" type="text/JavaScript" src="<%=$this->themesPath()%>/js/vbs/init_xenroll.js"></script>
        <script language="vbscript" type="text/vbscript" src="<%=$this->themesPath()%>/js/vbs/init_xenroll.vbs"></script>
        <script language="JavaScript" type="text/JavaScript" src="<%=$this->themesPath()%>/js/vbs/gen_req.js"></script>
        <script language="vbscript" type="text/vbscript" src="<%=$this->themesPath()%>/js/vbs/gen_req2.vbs"></script>
        <script language="vbscript" type="text/vbscript" src="<%=$this->themesPath()%>/js/vbs/install_cert2.vbs"></script>
    </prop:TrueTemplate>
</com:TConditional>
