<div id="main-menu"
     class="main-menu menu-light menu-accordion menu-shadow eforms-vertical" data-scroll-to-active="true">
  <div class="p-1">
    <div>
      <!--div class="d-flex justify-content-between">
        <div style="color: #757575;" class="margin-center">{{'show-only-required' | translate}}</div>
        <div class="controls mr-1">
          <div class="input-group">

            <input type="checkbox" class="form-control"
                   id="show-only-required"
                   [(ngModel)]="showOnlyRequired"
                   (ngModelChange)="changeRequired($event)"
                   #modelForm="ngModel">
          </div>
        </div>
      </div-->
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                (click)="onPrecedentSection()">
          <i class="la la-chevron-left"></i> {{'section-precedent' | translate}}
        </button>
        <button type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                (click)="onNextSection()">
          {{'section-suivant' | translate}}<i class="la la-chevron-right"></i>
        </button>
      </div>

    </div>
  </div>

  <hr style="border-color: #bdbdbd" class="mb-0 pb-0"/>
  <div id="main-menu-content" class="main-menu-content ps-container ps-theme-light" style="overflow: auto" fxFlex="auto"
       [perfectScrollbar]="config">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <!-- Menu -->
      {{child ? (child.title | translate) : ''}}
      <li *ngFor="let child of items ;let index =index" class="" [ngClass]="{
            'has-sub': child.submenu,
            'open': child.isOpen && child.submenu,
            'nav-item': child.title | translate,
            'navigation-header':child.section,
            'active': child.isSelected && !child.submenu,
            'menu-collapsed-open': child.isSelected && child.submenu
          }" (mouseup)="selectSection(index)">

        <!-- Root Menu -->
        <a *ngIf="child.title" class="header-forms d-flex p-1">

          <span class="menu-title" style="white-space: break-spaces;display: inline-block"
                [title]="(child.title | translate)"><span
            *ngIf="child.errors.length>0" class="badge badge-danger truncate status-badge">
            <i class="la la-close"></i>
          </span> {{child.title | translate}}
            <!--span *ngIf="child.hasError" class="badge badge-danger truncate status-badge">
          <i class="la la-close"></i>
        </span-->
          </span>
          <!--div class="float-md-right d-flex">
            <a *ngIf="child.icon && !readOnly" (mouseup)="ajouterList(index);$event.stopPropagation()"
               class="btn btn-outline-success"
            ><i class="la la-plus"></i>
            </a> <a *ngIf="child.deletable && !readOnly" (mouseup)="deleteList(index,child.index);$event.stopPropagation()"
                    class="btn btn-outline-danger"
          ><i class="la la-trash"></i>
          </a>
          </div-->
        </a>
      </li>
    </ul>
  </div>
</div>
