<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="modal-content" >
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{titre | translate}} {{canevas?.referenceCanevas}} {{canevas?.titre}}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>

  <div class="modal-body">

    <div *ngIf="!loading" class="row">
      <div class="col-12">
        <atx-preview-chapitre-treeview [editeur]="editeur" *ngIf="!this.isCanevasVide"
                                       [chapitres]="chapitres"></atx-preview-chapitre-treeview>
        <atx-callouts class="mt-1" *ngIf="this.isCanevasVide" [header]="'Information'" [message]="'Ce canevas ne contient aucun chapitre. Aucun élément n\'a été ajouté dans la partie droite du formulaire de création de canevas. Les fonctionnalités d\'export et de prévisualisation en ligne ne sont pas accessibles dans ce cas.'">

        </atx-callouts>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="closeModal()"
            class="btn btn-warning btn-sm">
      <i class="fa fa-close"></i>
      {{"retour" | translate}}
    </button>
    <button *ngIf="!this.isCanevasVide && !isCanevasEnCoursCreation" type="button" (click)="export('docx')"
            class="btn btn-primary primary-client-bg-border btn-sm">
      <i class="fa fa-download" *ngIf="!loadingExport"></i>
      <i class="fa fa-spin fa-spinner" *ngIf="loadingExport"></i>
      {{"export.docx" | translate}}
    </button>
    <button *ngIf="!this.isCanevasVide && !isCanevasEnCoursCreation" type="button" (click)="export('pdf')"
            class="btn btn-primary primary-client-bg-border btn-sm">
      <i class="fa fa-file-pdf-o" *ngIf="!loadingExportPdf"></i>
      <i class="fa fa-spin fa-spinner" *ngIf="loadingExportPdf"></i>
      {{"export.pdf" | translate}}
    </button>
    <button *ngIf="!this.isCanevasVide && !isCanevasEnCoursCreation" type="button" (click)="open()"
            class="btn btn-primary primary-client-bg-border btn-sm">
      <i class="fa ft-external-link" *ngIf="!loadingPreview"></i>
      <i class="fa fa-spin fa-spinner" *ngIf="loadingPreview"></i>
      {{"open" | translate}}
    </button>
  </div>
</div>

