{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app/assets/css/datatables.min.css') }}" type="text/css"/>
{% endblock %}
{% block content %}
<div class="panel panel-default form-horizontal">
    <div class="panel-heading">
        <div class="panel-title">
            {{ 'TEXT_LISTE_EVENEMENTS_UTILISATEURS'|trans }}
        </div>
    </div>
    <div class="panel-body">
        {% if connected is same as(true)   %}
            <div>{% include 'Inscrit/evenement-utilisateurs-table.html.twig' %}</div>
        {% else %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('app/js/jquery.dataTables-fr.min.js') }}"></script>
    <script src="{{ asset('app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('app/assets/js/dataTables.bootstrap4.min.js') }}"></script>
    <script>
        table = $('#liste-evenement-utilisateur').DataTable( {
            paging: false,
            searching: false,
            scrollX: false,
            info: false
        } );
 </script>
{% endblock %}