{% block content %}
    <div>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div>
            {% if datas is empty %}
                <p>{{ 'DEFINE_LISTE_ALERTES_VIDE'|trans }}</p>
            {% else %}
                <table id="liste-evenement-utilisateur" class="table table-bordered">
                    <caption>{{ 'DESCRIPTION_LIST_EVENEMENT_UTILISATEURS' | trans|e }}</caption>
                    <thead>
                    <th class="col-md-3 list-group-item header"> {{ 'DEFINE_UTILISATEUR' | trans}} </th>
                    <th class="col-md-2 list-group-item header"> {{ 'TEXT_PROFIL' | trans}} </th>
                    <th class="col-md-2 list-group-item header"> {{ 'TEXT_DATE_HEURE' | trans}} </th>
                    <th class="col-md-2 list-group-item header"> {{ 'TEXT_ACTION_EFFECTUEE' | trans}} </th>
                    <th class="col-md-2 list-group-item header"> {{ 'TEXT_SUR_LE_COMPTE_DE' | trans}} </th>
                    </thead>

                    <tbody>
                    {% for data in datas %}
                        <tr>
                            <td><strong>{{ data.getInscrit1() }}</strong><div>{{ data.getMail1() }}</div></td>
                            <td>{{ data.getProfil1() | correspondanceIdProfilLibelle() | trans }}</td>
                            <td>{{ data.getDate()|date("d/m/Y H:i:s") }}</td>
                            <td>{{ data.getAction()|getActionTrans() | trans }}</td>
                            <td class="clearfix text-right">{{ data.getInscrit2() }}<div>{{ data.getMail2() }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="link-line">
            <a href="?page=Entreprise.EntrepriseAccueilAuthentifie"
               class="btn btn-sm btn-default" title="{{ 'TEXT_RETOUR_LISTE_INSCRITS'|trans }}">
                {{ 'TEXT_RETOUR'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
