body {
  font-size: 1em;
}

.alert {
  &.bg-info {
    background-color: #1e9ff2 !important;
  }

  &--userDashboard {
    a {
      color: #FFF;
      text-decoration: underline;
      font-style: italic;
    }
  }
}

.blocUserHome {
  .welcomeText,
  .userText,
  .mailText {
    display: block;
  }

  .welcomeText {
    font-size: 1.32rem;
  }
  .userText {
    font-size: 2rem;
  }
  .mailText {
    font-size: 1.51rem;
  }

  .fa {
    &-user {
      font-size: 10rem;
      opacity: 0.25;
    }
  }
}

.alert {
  &--userDashboard {
    a {
      color: #FFF;
      text-decoration: underline;

      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}

#accueilConsult {
  .ct-label {
    fill: #FFFFFF;
    color: #FFFFFF;
    font-size: 0.75rem;
    line-height: 1;
  }

  .ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #009688;
  }

  .ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
    fill: #009688;
  }

  .ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
    stroke: #00BCD4;
  }

  .ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
    fill: #00BCD4;
  }

  .ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
    stroke: #448AFF;
  }

  .ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
    fill: #448AFF;
  }

  .ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
    stroke: #1976D2;
  }

  .ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
    fill: #1976D2;
  }

  .ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
    stroke: #3F51B5;
  }

  .ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
    fill: #3F51B5;
  }

  .ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
    stroke: #673AB7;
  }

  .ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
    fill: #673AB7;
  }

  .ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
    stroke: #7B1FA2;
  }

  .ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
    fill: #7B1FA2;
  }
}


.alert {
  &--userDashboard {
    a {
      color: #FFF;
      text-decoration: underline;

      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}

.card-content {
  &__titleTextContent {
    min-height: 38px;
  }
}

#blocMessageAccueilAgent {
  a {
    color: #2660a4;
  }
}
