/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

#acces-utah  {
    &.help-bar {
        position: fixed;
        z-index: 1000;
        top: 304px;
        right: 0;
        ul {
            padding-left: 0;
            list-style: none;
            li {
                position: relative;
                height: 40px;
                line-height: 40px;
                margin-bottom: 8px;
                text-align: right;
                a {
                    top: 170px;
                    position: fixed;
                    right: 0px;
                    padding: 6px 0px 0px 40px;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    background-color: #666;
                    opacity: 0.7;
                    color: #fff;
                    text-decoration: none;
                    line-height: 20px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                    min-width: 40px;
                    height: 50px;
                    text-align: center;
                    font-size: 1em;
                    font-weight: bold;
                    .text {
                        padding-right: 8px;
                        display: none;
                        width: 130px;
                    }
                }
                a.faq, a.hotline, a.assistance {
                    background-image: url('../../legacy/protected/themes/images/icon-assistance.png');
                }
                a:hover {
                    opacity: 1;
                    color: #ffffff;
                }
                a:hover .text {
                    display: block;
                }
                a:focus .text {
                    display: block;
                }
            }
        }
    }

}

#acces-tel  {
    &.help-bar {
        position: fixed;
        z-index: 1000;
        top: 304px;
        right: 0;
        ul {
            padding-left: 0;
            list-style: none;
            li {
                position: relative;
                height: 40px;
                line-height: 40px;
                margin-bottom: 8px;
                text-align: right;
                a {
                    top: 220px;
                    position: fixed;
                    right: 0px;
                    padding: 6px 0px 0px 40px;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    background-color: #666;
                    opacity: 0.7;
                    color: #fff;
                    text-decoration: none;
                    line-height: 20px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                    min-width: 40px;
                    height: 50px;
                    text-align: center;
                    font-size: 1em;
                    font-weight: bold;
                    .text {
                        padding-right: 8px;
                        display: none;
                        width: 180px;
                    }
                }
                a.faq, a.hotline, a.assistance {
                    background-image: url('../../legacy/protected/themes/images/icon-hotline.png');
                }
                a:hover {
                    opacity: 1;
                    color: #ffffff;
                }
                a:hover .text {
                    display: block;
                }
                a:focus .text {
                    display: block;
                }
            }
        }
    }

}