/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

@import 'fonts.scss';

#modalCriteriaAttributionToDefine, #modalCriteriaAttributionDefined {
  .fa, .fas {
    font-size: 17px;
  }

  .modal-dialog {
    max-width: 860px;
  }

  .modal-header {
    padding: 14px;

    .close {
      font-size: 21px;
    }
  }

  .modal-title {
    font-size: 21px;
    font-weight: 400;
    color: #464855;
  }

  .modal-body {
    font-size: 15px;
    color: #6b6f82;
    padding: 14px;

    .text-primary {
      color: #666ee8 !important;
    }

    input {
      padding: 14px 10.5px;
      font-size: 15px;
      min-height: 40px;
    }


    .iradio_square {
      background: url('../../public/app/css/icheck/square/blue.png') no-repeat;
      background-position: -192px 0;

      &.checked {
        background-position: -168px 0;
      }
    }

    .fas.fa-check,
    .fa-trash{
      cursor: pointer;
    }

    .fa-check {
      position: relative;
      top: 8px;
    }
  }

  .modal-footer {
    button {
      font-size: 14px;
      padding: 10.5px 14px;
      border-color: #2660A4;
      background-color: #2660A4;
      cursor: pointer;
    }

    .fas.fa-save {
      margin-right: 4px;
    }
  }
  .badge {
    font-weight: 600;
    background-color: #666ee8 !important;
    padding-bottom: 0.42em;
  }
  #criteria {
    display: inline-block;
    width: 90%;
    margin-left: 2px;
  }

  .criteria-line {
    &:after {
      content: "";
      display: block;
      height: 1px;
      background-color: #dee2e6;
      width: 95%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 16px;
    }
  }

  #block-sub-criteria {
    .fa.fa-reply {
      margin-left: 12px;
    }

    .subcriteriaInput {
      display: inline-block;
      width: 80%;
      margin-left: 2px;
    }
  }

  .container-lot {
    background-color: #666ee8;
    display: block;
    color: #FFF;
    padding: 6px 0px;
    padding-top: 15px;
    padding-left: 14px;
    border-radius: 30px;
    position: relative;
    bottom: 6px;

    .badge {
      background-color: #6c757d !important;
      font-size: 12px;
    }

    .fas {
      color: #FFF !important;
    }
  }

  .fa.fa-check.btn.btn-success.btn-lg {
    padding: 4px 9px;
  }

  .radio {
    .iCheck-helper {
      position: absolute;
      top: -20%;
      left: -20%;
      display: block;
      width: 140%;
      height: 140%;
      margin: 0px;
      padding: 0px;
      background: rgb(255, 255, 255);
      border: 0px;
      opacity: 0;
    }
  }
}


