@import "~bootstrap3";
$base-color: #2660a4;

.stepwizard {
  display: table;
  width: 100%;
  position: relative;

  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #ffffff !important;
    background-color: #cccccc !important;
  }

  &-step {
    p {
      margin-top: 0px;
      color: $base-color;
    }

    button[disabled] {
      /*opacity: 1 !important;
      filter: alpha(opacity=100) !important;*/
    }
  }

  &-row {
    display: table-row;

    &:before {
      top: 21px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 98%;
      margin-left: 14px;
      height: 1px;
      background-color: #cccccc !important;
      z-index: 0;
    }
  }
}

@media (max-width: 1300px) {
  .stepwizard-row:before {
    width: 97%;
  }
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-primary {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  color: #ffffff !important;
  font-size: 1.5rem !important;

  &:hover {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    color: #ffffff !important;
  }
}

.btn-circle {
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 9px 0;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 23px;

}

.btn-default-pass {
  color: $base-color !important;
  background-color: #ffffff !important;
  border-color: $base-color !important;
}

.btn-default-pass:hover {
  color: $base-color !important;
  background-color: #ffffff !important;
  border-color: $base-color !important;
}

.phase {
  color: $base-color !important;
}

.custom-footer {
  padding: 0!important;
}

.custom-next-step-btn {
  margin-right: 0px!important;
}

.custom-fichier-principal {
  margin-top: 0!important;
}

#listFileEtape3 > tr > td:last-child {
  text-align: center;
}

.form-bloc {
  background-color: #ffffff !important;
}

.rollback {
  background-color: #F0F0F0 !important;
  border-radius: 5px;
  color: #212529 !important;
}

.custom-panel {
  border-color: #FFF !important;
  padding: 0px !important;
}

.callback {
  background-color: #F0F0F0 !important;
  border-radius: 5px;
}

.nextStep {
  background-color: $base-color !important;
  color: #ffffff  !important;
  border-radius: 5px;

  &:hover {
    background-color: $base-color !important;
    color: #ffffff  !important;
    border-radius: 5px;
  }
}

.card {
  background-color: #fafafa !important;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;

  &-danger-left {
    color: #ffffff;
    background-color: #dc3545 !important;
    border-color: #ebccd1;
    z-index: 2;
    border-radius: 6px 0 0 6px !important;
  }

  &-danger-right {
    color: #000000;
    border: 1px solid transparent ;
    border-color: #ebccd1 !important;
    margin-left: -5px;
    z-index: 1;
    width: 97%;
  }
}

#consultation {
  #collapseHeading {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  #collapseOne {
    padding: 6px 16px;
  }

  #headingOne {
    background-color: rgba(0, 0, 0, 0.03);
    color: #000;

    .btn {
      color: #000 !important;

      &:focus {
        box-shadow: none;
      }
    }

    .collapsed {
      &.btn {
        background-color: #007bfe;
        color: #FFF !important;
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }

  .card {
    position: relative;
    margin-bottom: 15px;
    border-radius: .50rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 12px;
    overflow: hidden;

    & .card, & .alert {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    &[id*="enveloppe"] {
      border-left: solid 4px;
    }
  }

  #headingOne {
    background-color: transparent;
  }

  .card-header .accordion-toggle, #recap-consultation .row>div .panel .panel-heading h2 button {
    color: #fff!important;
    background-color: #2660a4!important;
  }

  .card .card-header[id^="detailEnveloppe"] .accordion-toggle {
    background-color: #ffffff;
    height: 40px;
    padding-left: 1.2rem !important;
  }

  & > .card .card-header {
    padding: 0;
    border: none;
  }

  & > .card .card-header > h2 {
    position: relative;
    font-size: inherit;
    margin-top: 0;
  }

   & > .card .card-header > h2 > .picto {
    position: absolute;
    z-index: 1;
    left: 10px;
    height: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF !important;
  }


  .card-header .accordion-toggle {
    width: 100%;
    text-align: left;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    background-color: #007bff;
  }

  .card-header:not(#detailConsultation) .accordion-toggle {
    padding-left: 4.6rem;
  }

  #collapseDetailDepot .card-header [aria-controls^="collapseDetailDepot"] {
    padding-left: 1rem;
    background-color:#f7f7f7;
    color:#666;
  }

  #collapseDetailAttributaire .card-header [aria-controls^="collapseDetailAttributaire"] {
    padding-left: 1rem;
    background-color:#f7f7f7;
    color:#666;
  }

  .card-header .accordion-toggle:after {
    height: 11px !important;
    text-align: right;
    padding-right: 10px;
  }

  .card-header .accordion-toggle[aria-expanded='true'] {
    background-color: transparent;
  }

  .card-header .accordion-toggle[aria-expanded='false'] {
    color: #FFF;
  }

  .card-header .accordion-toggle[aria-expanded='false'] + .picto {
    color: #ffffff !important;
  }

  .card-body {
    background-color: #FFF;
    border-radius: 0 0 .25rem .25rem;
    padding: 0.5rem 1rem;
  }

  #detailConsultation + div .card-body {
    background-color: rgba(0, 0, 0, 0.03);
    text-align: left;
  }

  .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 5px;
    font-size: 1.4rem !important;
  }

  .btn-download {
    padding: 0.1rem 0.5rem;
    font-size: 0.875rem;
  }

  #modal_add_doc_footer {
    display: block;
  }

  .row>div .panel .panel-heading h2 button[aria-expanded=false] {
    color: #fff!important;
    background-color: #2660a4!important;
  }
}

#consultation .card-header .accordion-toggle,
#recap-consultation .row > div .panel .panel-heading h2 button {
  color: #ffffff !important;
  background-color: $base-color !important;
}

.recap-infos-consultation .recap-bloc {
  float: left;
  width: 1200px;
  margin-top: -4px;
  margin-left: -5px;
}

.green {
  color: #000000 !important;
}

.blue {
  color: #000000 !important;
}

.stepwizard-text-inactif {
  color: #cccccc !important;
}

a {
  color: #007bff !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

.classIconFile:before {
  content: "\f15b";
  font-family: "Font Awesome 5 Free";
  padding-right: 2px;
  color: $base-color !important;
}

.classIconStar:before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  padding-right: 2px;
  color: #F1D829 !important;
  font-size: 20px !important;
}

#modalEspaceDoc,
#modalSucces{
  background: rgba(0,0,0,0.5);
}

#modalEspaceDoc {
  .modal-body{
    height: 350px;
    overflow-y: auto;
  }
}

.style-echange {
  color: $base-color !important;
  &--title{
    font-size: 22px;
    color: #555555;
  }
}

.page-header .titre-souligne {
  display:inline-block;
  border-bottom: 1px solid #868686;
  width: 100%;
}

.no-underline {
  border-bottom: none !important;
}

.page-header h3 {
  color: black;
  display: inline-block;
  position:relative;
  top:15px;
  background-color: #fafafa;
  padding-right:5px
}

.style-echange-title {
  color: #3F3932 !important;
  position: relative;
  float: right;

  &-border {
    border-bottom: 1px solid;
    position: relative;
    float: left;
  }
}

.style-text {
  padding-left: 5px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.popup-moyen { width: 100% !important; }

.card-header {
  margin-left: -6px !important;
}

@media (min-width: 992px) {
  .modal-dialog {
    min-width: 80%;
  }
}

.bloc-detail-message-echange {
  background-color: #EFF0F1;
  padding: 10px;
}

.dropdown-menu {
  min-width: 53px !important;

  .bg-orange {
    font-size: 1.9rem;
  }

  .bg-orange:hover {
    background-color: #fd7e14;
  }
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: none !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  width: 200px;
}

.label-inherit {
  font-weight: inherit;
}

#modalEspaceDoc {
  background: rgba(0,0,0,0.5);

  .modal-body {
    height: 350px;
    overflow-y: auto;
  }
}

#modalEspaceDocJeton{
  background: rgba(0,0,0,0.5);

  .modal-body {
    height: 350px;
    overflow-y: auto;
  }
}

.fichiers-annexes-file:before{
  content: "\f0c6";
  font-family: "Font Awesome 5 Free";
  font-size: 20px!important;
  color: #616161;
  padding-left: 20px;
}

.fichiers-annexes-tree:before{
  content: "└";
  font-family: "Font Awesome 5 Free";
  font-size: 20px!important;
  color: #616161;
}

.fichiers-annexes-jeton:before{
  content: "\f0a3";
  font-family: "Font Awesome 5 Free";
  font-size: 20px!important;
  color: #616161;
  padding-left: 20px;
}

.badge-primary {
  color: #fff;
  background-color: $base-color !important;
  padding: 6px;
}

.category-jeton,
.category-fichier-annexe {
  color: #616161;
  padding-left: 30px;
}

.category-doc-principal {
  color: #F1D829;
}

table .fa-lg {
  font-size: 1.33333333em !important;
  line-height: 0.75em;
  vertical-align: -15% !important;
  color: #FFF;
}

.display-tree {
  content : " ";
  position: absolute;
  height: 20px;
  width: 15px;
  border-left: 1px dotted #757575;
  border-bottom: 1px dotted #757575;
}


.badge-info-jeton-fichier{
  border-color: #337AB7 !important;
  background-color: #337AB7 !important;
  color: #FFF;
  margin-left: 5px;
}

.custom-title-step {
  padding-left: 0px !important;
}

.space-font {
  padding-left: 10px !important;
}

.custom-fieldset {
  border-color: #FFF;
}

#tableDashboardEchange td {
  vertical-align: initial;
}

.table > thead > tr > th {
  vertical-align: middle;
}

#stepwizard-echange-doc {
  .stepwizard {
    i {
      font-size: 30px;
    }
  }
  .form-control-sm {
    font-size: 13px;
  }

  .custom-footer {
    button,
    a{
      font-size: 13px;
    }
  }
}

.modele_action {
  button.btn {
    margin-right: 2px;
  }
  i, em {
    font-size: 1.6rem;
  }
}

.action {
  i, em {
    font-size: 1.6rem;
  }
}

div.dropdown {
  button {
    min-height: 30px;
    font-size: 1.5rem;
  }
}

.btn-default {
  font-size: 1.5rem !important;
}
