/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~bootstrap";

body {
  padding-top: 6rem;
  margin: 0 auto !important;
  height: 100%;
  background-color: #f4f5fa;
}
.box-shadow-2 {
  box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}
.card {
  margin-bottom: 1.875rem;
  border: none;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  border-radius: .45rem;
}

h1, h3, h5 {
  margin-bottom: 0.5rem;
  font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.2;
  color: #464855;
}

h3 {
  font-size: 1.51rem;
}

h5 {
  font-size: 1.14rem;
}