
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/*!
    * Popin consultation_espace_documentaire
    */
#consultation-jeton .card {
  position: relative;
  margin-bottom: 15px;
  border-radius: .50rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 12px;
  overflow: hidden;
  & .card, & .alert {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

#consultation-jeton .card[id*="enveloppe"] {
  border-left: solid 4px;
}

#consultation-jeton #headingOne {
  background-color: transparent;
}

#consultation-jeton .card .card-header[id^="detailEnveloppe"] .accordion-toggle {
  background-color: #ffffff;
  height: 40px;
  padding-left: 1.2rem !important;
}


#consultation-jeton .card:nth-child(2) .card-header .accordion-toggle {
  padding: .375rem .75rem;
}

#consultation-jeton > .card .card-header {
  padding: 0;
  border: none;
}

#consultation-jeton > .card .card-header > h2 {
  position: relative;
  font-size: inherit;
  margin-top: 0;
}

#consultation-jeton > .card .card-header > h2 > .picto {
  position: absolute;
  z-index: 1;
  left: 10px;
  height: 20px;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#consultation-jeton .card-header .accordion-toggle {
  width: 100%;
  text-align: left;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  background-color: $primary;
}

#consultation-jeton .card-header:not(#detailConsultation) .accordion-toggle {
  padding-left: 4.6rem !important;
}

#consultation-jeton #collapseDetailDepot .card-header [aria-controls^="collapseDetailDepot"] {
  padding-left: 1rem;
  background-color:#f7f7f7;
  color:#666;
}

#consultation-jeton #collapseDetailAttributaire .card-header [aria-controls^="collapseDetailAttributaire"] {
  padding-left: 1rem;
  background-color:#f7f7f7;
  color:#666;
}

/* avoid radius for ie11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  #consultation-jeton .btn, #consultation-jeton .card, #consultation-jeton .alert, #consultation-jeton .tableEspaceDocumentaire{
    border-radius: 0px;
  }
}
#consultation-jeton .card-header .accordion-toggle:after {
  height: 11px !important;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}

#consultation-jeton .card-header .accordion-toggle[aria-expanded='true'] {
  background-color: transparent;
}

#consultation-jeton .card-header .accordion-toggle[aria-expanded='false'] {
  color: white;
}

#consultation-jeton .card[id*="enveloppe"] .card-header .accordion-toggle[aria-expanded='false'],
#consultation-jeton .card-header .accordion-toggle[aria-expanded='true'] {
  color: inherit;
}

#consultation-jeton .card[id*="enveloppe"] .card-header .accordion-toggle[aria-expanded='false'],
#consultation-jeton .card-header .accordion-toggle[aria-expanded='true'] {
  color: inherit !important;
}

#consultation-jeton .card-header .accordion-toggle[aria-expanded='false'] + .picto {
  color: #ffffff;
}

#consultation-jeton .card-body {
  background-color: white;
  border-radius: 0 0 .25rem .25rem;
  padding: 0.5rem 1rem;
}

#consultation-jeton #detailConsultation + div .card-body {
  background-color: rgba(0, 0, 0, 0.03);
  text-align: left;
}

#consultation-jeton .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 5px;
  font-size: .9rem;
}


/*Tableau*/

.tableEspaceDocumentaire .padding-pas1 {
  padding-left: 30px !important;
}

.tableEspaceDocumentaire .padding-pas2 {
  padding-left: 45px !important;
}

.tableEspaceDocumentaire .padding-pas3 {
  padding-left: 60px !important;
}

.tableEspaceDocumentaire {
  margin-bottom: 10px;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.tableEspaceDocumentaire .table-header {
  background-color: rgba(0, 0, 0, 0.03);
}

.tableEspaceDocumentaire .table-header .fa-check-square {
  position: absolute;
  left: 10px;
  top: 10px;
}

.tableEspaceDocumentaire .list-group {
  margin-bottom: 0;
}

.tableEspaceDocumentaire .list-group-item {
  border: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: left;
}

.tableEspaceDocumentaire span.col.form-check,
.tableEspaceDocumentaire .lineWithoutCheckbox {
  padding-left: 30px;
}

.tableEspaceDocumentaire .lineWithoutCheckbox {
  display: block;
}

.tableEspaceDocumentaire .table-header > span,
.tableEspaceDocumentaire .lineWithoutCheckbox > span {
  padding-left: 15px;
}

.tableEspaceDocumentaire .lineWithoutCheckbox,
.tableEspaceDocumentaire .table-header {
  position: relative;
  text-align: left;
  height: 30px;
  display: flex;
  align-items: center;
  color: #000;
}

.tableEspaceDocumentaire .table-header .col:first-child {
  padding-left: 45px;
}

.tableEspaceDocumentaire .form-check-input {
  transform: translate(8px, 4px);
  margin-left: 0;
}

.tableEspaceDocumentaire .form-check::after,
.tableEspaceDocumentaire .lineWithoutCheckbox::after,
.tableEspaceDocumentaire .table-header::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  top: 0;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.125);
}

.tableEspaceDocumentaire .form-check-label {
  position: relative;
  display: block;
  text-align: left;
  height: 100%;
  line-height: 28px;
  color: #3c83c3;
  padding-left: 15px;
  font-weight: normal;
  cursor: pointer;
}

.tableEspaceDocumentaire .lineWithoutCheckbox span::before {
  content: "\f07c";
  font-family: "Font Awesome 5 Free";
  padding-right: 2px;
}

.tableEspaceDocumentaire .form-check-label::before {
  content: "\f15b";
  font-family: "Font Awesome 5 Free";
  padding-right: 2px;
}

.tableEspaceDocumentaire .lineWithoutCheckbox + .list-group-item .form-check-label::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -6px;
  width: 10px;
  height: 30px;
  z-index: 1;
}

.tableEspaceDocumentaire span.col {
  border: none;
  margin: 0;
  padding-right: 0;
  float: left;
  line-height: 29px;
  height: 30px;
  border-radius: 0;
}

.tableEspaceDocumentaire span.col.action {
  padding: 0;
}

.tableEspaceDocumentaire span.col:not(:first-child) {
  border-left: solid 1px rgba(0, 0, 0, 0.125);
}

.tableEspaceDocumentaire .date {
  text-align: left;
  width: 25%;
}

.tableEspaceDocumentaire .action {
  text-align: center;
  width: 61px;
  flex-basis: auto;
  flex-grow: 0;
}

.tableEspaceDocumentaire .list-group-item .action button {
  position: relative;
  background-color: orangered;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  overflow: hidden;
  margin: 3px auto;
  display: block;
}

.tableEspaceDocumentaire .list-group-item .action .no-delete {
  background-color: #C0C0C0 !important;
  cursor: auto;
}

.tableEspaceDocumentaire .list-group-item .action button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.modal-dialog {
  padding-top: 115px;
}

#consultation-jeton .btn-download {
  padding: 0.1rem 0.5rem;
  font-size: 0.875rem;
}


//MPE-11034
#recap-consultation {
  background-color: transparent !important;
  .row > div {
    width: 100%;
    .panel {
      padding: 0;
      border-radius: .50rem;
      overflow: hidden;
      margin-bottom: 0;
      .panel-heading h2  {
        margin: 0;
        font-size: unset;

        button{
          line-height: 2.1rem;

          &[aria-expanded='true']{
            color: #FFF !important;
            background-color: rgba(0, 0, 0, 0.03);
          }
        }
      }
      .recap-bloc {
        width: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 0.75rem;
        .row {
          margin: 0;
        }
      }
    }
  }
}

#consultation-jeton .card-header:not(#detailConsultation) .accordion-toggle {
  padding-left: 4.6rem !important;
}

#consultation-jeton .card-header .accordion-toggle[aria-expanded="false"],
#recap-consultation .row > div .panel .panel-heading h2 button[aria-expanded='false'] {
  color: #ffffff !important;
  background-color: #2660a4 !important;
}

#consultation-jeton .title {
  font-size: 1.4rem !important;
}



.info {
  padding: 15px;
  margin-bottom: 20px;
}

.alert-info-left {
  color: #ffffff !important;
  background-color: #007bff !important;
  border-color: #007bff;
  z-index: 2;
  border-radius: 5px 0px 0px 5px;
}

.alert-info-right {
  color: #000000;
  border: 1px solid transparent ;
  border-color: #007bff !important;
  margin-left: -5px;
  z-index: 1;
  width: 97%;
}


#consultation-jeton .card-header .accordion-toggle[aria-expanded="false"]:not([data-url]) {
  background-color: #ffffff !important;
}


#consultationModal .card-header .accordion-toggle[aria-expanded=false] {
  color: #fff !important;
}


