@import 'fonts.scss';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "critere-attribution-analyse-offre";

/*!
    * Popin consultation_espace_documentaire
*/


#consEspaceDoc {
  #recap-consultation {
    padding-right: 0;
    padding-left: 0;
  }

  .card-header {
    h4 {
      position: relative;
      top: 2px;
    }
  }

  .card {
    .card-header[id^="detailEnveloppe"] {
      .accordion-toggle {
        color: #666 !important;
      }
    }
  }

  #consultation {
    #collapseHeading {
      border: 1px solid rgba(0, 0, 0, 0.125);
    }

    #collapseOne {
      padding: 6px 16px;
    }

    #headingOne {
      background-color: rgba(0, 0, 0, 0.03);
      color: #000;

      .btn {
        color: #000 !important;

        &:focus {
          box-shadow: none;
        }
      }

      .collapsed {
        &.btn {
          background-color: #007bfe;
          color: #FFF !important;
          border: 1px solid rgba(0, 0, 0, 0.125);
        }
      }
    }
  }

  #consultationModal {
    .card {
      position: relative;
      margin-bottom: 15px;
      border-radius: .50rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      font-size: 12px;
      overflow: hidden;

      .card-header {
        .accordion-toggle {
          width: 100%;
          text-align: left;
          outline: none;
          box-shadow: none;
          border-radius: 0;
          background-color: $primary;

          &:after {
            height: 11px !important;
            width: 100%;
            text-align: right;
            padding-right: 10px;
          }

          &[aria-expanded='true'] {
            background-color: transparent;
          }

          .accordion-toggle[aria-expanded='false'] {
            color: #FFF;

            & + .picto {
              color: #FFF !important;
            }
          }
        }

        &:not(#detailConsultation) .accordion-toggle {
          padding-left: 4.6rem !important;
        }

        &[id^="detailEnveloppe"] .accordion-toggle {
          background-color: #ffffff;
          height: 40px;
          padding-left: 1.2rem !important;
        }
      }

      .card-body {
        background-color: white;
        border-radius: 0 0 .25rem .25rem;
        padding: 0.5rem 1rem;
      }

      & .card, & .alert {
        margin-bottom: 5px;
        margin-top: 5px;
      }

      &[id*="enveloppe"] {
        border-left: solid 4px;
      }
    }

    & > .card .card-header {
      padding: 0;
      border: none;

      & > h2 {
        position: relative;
        font-size: inherit;
        margin-top: 0;

        & > .picto {
          position: absolute;
          z-index: 1;
          left: 10px;
          height: 20px;
          width: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    #headingOne {
      background-color: transparent;
    }

    #collapseDetailDepot .card-header [aria-controls^="collapseDetailDepot"] {
      padding-left: 1rem;
      background-color:#f7f7f7;
      color:#666;
    }

    #collapseDetailAttributaire .card-header [aria-controls^="collapseDetailAttributaire"] {
      padding-left: 1rem;
      background-color:#f7f7f7;
      color:#666;
    }

    .title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      padding-bottom: 5px;
      font-size: .9rem;
    }

    #detailConsultation + div .card-body {
      background-color: rgba(0, 0, 0, 0.03);
      text-align: left;
    }

    .card[id*="enveloppe"] .card-header .accordion-toggle[aria-expanded='false'],
    .card-header .accordion-toggle[aria-expanded='true'] {
      color: inherit !important;
    }
  }

  /* avoid radius for ie11 */
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    #consultationModal .btn, #consultationModal .card, #consultationModal .alert, #consultationModal .tableEspaceDocumentaire{
      border-radius: 0px;
    }
  }

  #collapseTwo .btn {
    font-size: 15px;
  }

  /*Tableau*/

  .tableEspaceDocumentaire {
    margin-bottom: 10px;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);

    .table-header {
      background-color: rgba(0, 0, 0, 0.03);
      .fa-check-square {
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }

    .padding-pas {
      &1 {
        padding-left: 30px !important;
      }
      &2 {
        padding-left: 45px !important;
      }
      &3 {
        padding-left: 60px !important;
      }
    }

    .list-group {
      margin-bottom: 0;

      &-item {
        border: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        text-align: left;
      }
    }

    span.col.form-check,
    .lineWithoutCheckbox {
      padding-left: 30px;
    }

    .lineWithoutCheckbox {
      display: block;
    }

    .table-header > span,
    .lineWithoutCheckbox > span {
      padding-left: 15px;
    }

    .lineWithoutCheckbox,
    .table-header {
      position: relative;
      text-align: left;
      height: 30px;
      display: flex;
      align-items: center;
      color: #000;
    }

    .table-header .col:first-child {
      padding-left: 45px;
    }

    .form-check-input {
      transform: translate(8px, 4px);
      margin-left: 0;
    }

    .form-check::after,
    .lineWithoutCheckbox::after,
    .table-header::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      top: 0;
      left: 30px;
      background-color: rgba(0, 0, 0, 0.125);
    }

    .form-check-label {
      position: relative;
      display: block;
      text-align: left;
      height: 100%;
      line-height: 28px;
      color: #3c83c3;
      padding-left: 15px;
      font-weight: normal;
      cursor: pointer;

      &::before {
        content: "\f15b";
        padding-right: 2px;
      }
    }

    .lineWithoutCheckbox span::before {
      content: "\f07c";
      font-family: "FontAwesome";
      padding-right: 2px;
    }

    span.col {
      border: none;
      margin: 0;
      padding-right: 0;
      float: left;
      line-height: 29px;
      height: 30px;
      border-radius: 0;

      &.action {
        padding: 0;
      }
    }

    .date {
      text-align: left;
      width: 25%;
    }

    .action {
      text-align: center;
      width: 61px;
      flex-basis: auto;
      flex-grow: 0;
    }

    .lineWithoutCheckbox + .list-group-item .form-check-label::after {
      content: '';
      position: absolute;
      top: -15px;
      left: -6px;
      width: 10px;
      height: 30px;
      z-index: 1;
    }

    span.col:not(:first-child) {
      border-left: solid 1px rgba(0, 0, 0, 0.125);
    }

    .list-group-item .action {
      button {
        position: relative;
        background-color: #FF4500;
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        overflow: hidden;
        margin: 3px auto;
        display: block;
      }

      .no-delete {
        background-color: #C0C0C0 !important;
        cursor: auto;
      }
    }

.tableEspaceDocumentaire .list-group-item .action .no-modification {
  background-color: #C0C0C0 !important;
  cursor: auto;
}

.tableEspaceDocumentaire .list-group-item .action button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.modal-dialog {
  padding-top: 115px;
}

#consultationModal .btn-download {
  padding: 0.1rem 0.5rem;
  font-size: 0.875rem;
}
    .list-group-item .action {
      .no-modification {
        background-color: #C0C0C0 !important;
        cursor: auto;
      }

      button i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }
  }

  #recap-consultation {
    background-color: transparent !important;
    .row > div {
      width: 100%;
      .panel {
        padding: 0;
        border-radius: .50rem;
        overflow: hidden;
        margin-bottom: 0;
        .panel-heading h2  {
          margin: 0;
          font-size: unset;

          button{
            padding: 8px 12.5px;
            font-size: 16px;
            line-height: 2.1rem;

            &[aria-expanded='true']{
              background-color: rgba(0, 0, 0, 0.03);
              &::after {
                color: #FFF !important;
              }
            }
          }
        }

        .recap-bloc {
          width: 100%;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.03);
          font-size: 0.75rem;
          .row {
            margin: 0;
          }
        }
      }
    }
  }

  .panel-heading .btn {
    padding: .375rem .75rem;
  }

  .fa, .fas {
    font-size: 17px;
  }

  .modal-dialog {
    padding-top: 115px;
  }

  #consultationModal .btn-download {
    padding: 0.1rem 0.5rem;
    font-size: 0.875rem;
  }
  /*!
    * Popin consultation_espace_documentaire
    */

  #consultation {
    .card {
      position: relative;
      margin-bottom: 15px;
      border-radius: .50rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      font-size: 12px;
      overflow: hidden;

      &[id*="enveloppe"] {
        border-left: solid 4px;
      }

      & .card, & .alert {
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }

    #headingOne {
      background-color: transparent;
    }

    .card-header[id^="detailEnveloppe"] .accordion-toggle {
      background-color: #ffffff;
      height: 40px;
      padding-left: 1.2rem !important;
    }

    & > .card .card-header {
      padding: 0;
      border: none;

      & > h2 {
        position: relative;
        font-size: inherit;
        margin-top: 0;

        & > .picto {
          position: absolute;
          z-index: 1;
          left: 10px;
          height: 20px;
          width: 20px;
          top: 50%;
          transform: translateY(-50%);
          color: #212529 !important;
        }
      }
    }
    .card-header .accordion-toggle {
      width: 100%;
      text-align: left;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      background-color: $primary;

      &:after {
        height: 11px !important;
        text-align: right;
        padding-right: 10px;
      }

      &[aria-expanded='true'] {
        background-color: transparent;
      }

      &[aria-expanded='false'] {
        color: #FFF;

        & + .picto {
          color: #FFF !important;
        }
      }
    }

    .card-header:not(#detailConsultation) .accordion-toggle {
      padding-left: 2.6rem;
    }

    #collapseDetailDepot .card-header [aria-controls^="collapseDetailDepot"] {
      padding-left: 1rem;
      background-color:#f7f7f7;
      color:#666;
    }

    #collapseDetailAttributaire .card-header [aria-controls^="collapseDetailAttributaire"] {
      padding-left: 1rem;
      background-color:#f7f7f7;
      color:#666;
    }

    .title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      padding-bottom: 5px;
      font-size: .9rem;
    }

    .card-body {
      background-color: #FFF;
      border-radius: 0 0 .25rem .25rem;
      padding: 0.5rem 1rem;
    }

    .btn-download {
      padding: 0.1rem 0.5rem;
      font-size: 0.875rem;
    }

    #modal_add_doc_footer {
      display: block;
    }
  }

  /* avoid radius for ie11 */
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    #consultation .btn, #consultation .card, #consultation .alert, #consultation .tableEspaceDocumentaire{
      border-radius: 0px;
    }
  }

  .tableEspaceDocumentaire .list-group-item .modele_action {
    button,
    a.btn {
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 3px;
      overflow: hidden;
      padding: 1px;
    }

    button {
      &.btn-danger {
        background-color: #ff4500;
      }
      &.btn-disabled {
        background-color: #C0C0C0 !important;
        color: #FFF;
        cursor: auto;
      }
    }
  }

  .tableEspaceDocumentaire .list-group-item .modele_action button.btn-disabled {
  background-color: #C0C0C0 !important;
  color: white;
  cursor: auto;
}


.panel-heading .accordion-toggle[aria-expanded=false]:after,
  #recap-consultation .row>div .panel .panel-heading h2 button[aria-expanded=false]:after
  {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    content: "\f063";
  }

  .panel-heading .accordion-toggle[aria-expanded=true]:after,
  #recap-consultation .row>div .panel .panel-heading h2 button[aria-expanded=true]:after
  {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    content: "\f062";
  }
  .btn span.counter {
    top: 3px;
    color: #212529;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  #dropdown-lots:after,
  #dropdown-entreprises:after
  {
    font-family: 'FontAwesome';
    float: right;
    content: "\f107";
    font-weight: bold;
  }

  #dropdown-lots,
  #dropdown-entreprises,
  #dropdown-modeles
  {
    min-height: 40px;
    padding-right: 18px;
    padding-left: 18px;
  }
  #menu-lots div {
    cursor: default;
  }

  .bg-orange:hover {
    background-color: #fd7e14;
  }
  .recap-infos-consultation{
    margin-bottom: 15px !important;
  }
  .container-fluid.msv2 {
    margin-bottom: 0px !important;
    padding-top: 0px !important;

  }
  label {
    margin-bottom: 0 !important;
  }
  .modal {
    background: rgba(0,0,0,0.6);
  }
  .container-fluid.msv2 {
    border: 0px;
  }
  .msv2 .accordion > .panel .panel-heading {
    padding: 0;
    background-color: #2660a4;
  }
  .msv2 .accordion > .panel .panel-heading .btn {
    position: relative;
    width: 100%;
    text-decoration: none;
    padding: .375rem .75rem;
    text-align: left;
    color: #ffffff !important;
    background-color: transparent;
  }
  .msv2 .accordion > .panel .panel-heading .btn:after {
    font-family: "fontawesome";
    content: "";
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    right: 1rem;
  }

  #espace-doc-modal {
    .modal {
      &-header {
        background-color: #DCDCDC;

        button {
          font-size: 30px;
          position: relative;
          right: 1.2rem;
        }
      }

      &-footer {
        display: block;
        width: 95%;
      }
    }

    h4 {
      color: #212529;
      margin-left: 0.6rem !important;
      margin-top: 4px;
    }

    p {
      margin-left: 1.2rem !important;
      font-size: 1.3rem !important;
    }

    .popup-moyen,
    #espace-doc-modal .modal-content {
      border: none;
    }

    button {
      padding: 8px;

      .badge {
        position: absolute;
        right: 42px;
        top: 9px;
        padding: 4px 5px;
        font-size: 11px;
      }
    }

    .card-header {
      .accordion-toggle:after {
        font-size: 14px !important;
      }

      &:not(#detailConsultation) .accordion-toggle {
        padding-left: 40px !important;
        font-size: 14px !important;
      }
    }

    #consultation >.card .card-header > h2 {
      & >.accordion-toggle + .picto {
        color: #007bff !important;
      }

      &.picto,
      .accordion-toggle.collapsed + .picto, #espace-doc-modal .btn {
        color: #FFF !important;
        font-size: 1.3rem;
      }
    }

    .accordion-toggle[aria-expanded=true] {
      color: #000 !important;
    }

    .modal-content {
      width: 821px;
    }

    .modal-footer .btn-default {
      background-color: #DCDCDC !important;
      margin-left: 3em;
      color: #000 !important;
    }

    #espace-doc-modal  #consultation  {
      #collapseDetailDepot .card-header [aria-controls^=collapseDetailDepot],
      .card .card-header[id^=detailEnveloppe] .accordion-toggle {
        color: #666 !important;
      }
    }
  }

  .form-bloc#recap-consultation .recap-bloc {
    margin-left: 26px !important;
  }
  .repondre-consultation.detailConsultaion .form-bloc#recap-consultation .recap-bloc {
    margin-left:0px !important;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 821px !important;
    }
  }

  #root_espace_doc .accordion > .panel .panel-heading {
    padding: 0;
    background-color: #f3f1f2;

    h2 button[aria-expanded=true],
    h2 button[aria-expanded=true]::after {
      color: #000!important;
    }
  }

  #consultation .row>div .panel .panel-heading h2 button[aria-expanded=false] {
    color: #fff!important;
    background-color: #2660a4!important;
  }

  .loader { background-color: #f7f7f7; color: #777777; padding: 30px 0; }

  #headingOne h2 { width:100%; margin-left:0; margin-bottom:0; }

  .fade {
    opacity: 1 !important;
  }
  #espace-doc-modal {
    overflow-y: auto;
  }

  #recap-consultation #collapseHeading {
    line-height: 1.5;
  }

  #modal-envol .modal-header {
    display: block;
  }

  #modal-envol .alert-info {
    background-color: rgba(105, 219, 255, 0.2) !important;
  }

  #modal-envol {
    z-index: 1052 !important;
  }

  h1.header-consultation { color: #000000; }

  .green { color:#21A121 }

  .bold { font-weight:bold; }
  .d-contents {
    display: contents;
  }
}

#select-lots {
  overflow: auto;
  height: 550px;
}

