@mixin fontface($name, $path, $weight: null, $style: null, $exts: eot woff2 woff svg) {
  $src: null;
  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );
    @each $ext in $exts {
      $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
      $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
      $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-Regular', 400, normal, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-Italic', 400, italic, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-Light', 300, normal, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-LightItalic', 300, italic, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-SemiBold', 600, normal, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-SemiBoldItalic', 600, italic, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-Bold', 700, normal, woff woff2);
@include fontface('Open Sans', 'scss/assets/fonts/OpenSans-BoldItalic', 700, italic, woff woff2);

@include fontface('Quicksand', 'scss/assets/fonts/Quicksand-Regular', 400, normal, woff woff2);
@include fontface('Quicksand', 'scss/assets/fonts/Quicksand-Light', 300, normal, woff woff2);
@include fontface('Quicksand', 'scss/assets/fonts/Quicksand-Medium', 600, normal, woff woff2);
@include fontface('Quicksand', 'scss/assets/fonts/Quicksand-Bold', 700, normal, woff woff2);

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Quicksand';
    src: url('scss/assets/fonts/Quicksand-VariableFont.woff') format('woff supports variations'),
    url('scss/assets/fonts/Quicksand-VariableFont.woff') format('woff-variations'),
    url('scss/assets/fonts/Quicksand-VariableFont.woff2') format('woff2 supports variations'),
    url('scss/assets/fonts/Quicksand-VariableFont.woff2') format('woff2-variations');
    font-weight: 300 700;
    font-stretch: 25% 151%;
  }
}

@import '~line-awesome/dist/font-awesome-line-awesome/css/all.css';
