/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

.footer {
  &__separatorContent {
    a {
      &:after {
        position: relative;
        top: 2px;
        content: " ";
        width: 1px;
        height: 10px;
        background-color: #cececc;
        margin: 0 8px;
        text-decoration: none;
        display: inline-block;
      }

      &:last-of-type {
        &:after {
          content: none;
        }
      }
    }
  }
}

//Surcharge du template Modern Admin

html body[data-col="1-column"].horizontal-layout .footer {
  margin-top: 38px !important;
}