/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */


.formLieuxExecution {
  white-space: normal;
  padding-top: 5px !important;
  padding-bottom: 5px !important;

  option {
    display: inline-block;
    padding: 5px 11px !important;
    padding-left: 14px !important;
    background-color: #747474 !important;
    color: #fff;
    margin-right: 8px !important;
    margin-bottom: 8px;
    border: transparent !important;
    border-radius: 4px;
    cursor: default;

    &:before {
      font-family: "Font Awesome 5 Free", serif;
      font-weight: 900;
      content: "\f041";
      font-size: 14px;
      color: #FFF;
      margin-right: 7px;
    }
  }
}

.form-group {
  &__selectLieuxBtnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
  }
}
