/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

$primaryColor: #2660a4 !default;
$primaryColorRGBA: rgba(1,79,170,.6) !default;

#MPE-nav .navbar-dark.navbar-horizontal,
#MPE-nav .dropdown.dropdown-user-link.nav-item .avatar-container .fa.fa-user,
#dashboardUserAgent .blocUserHome,
.primary-client-bg {
  background: $primaryColor !important;
}

#MPE-nav .btn.btn-sm.mr-1.mb-1.btn-primary.btn-block,
#MPE-nav .dropdown-custom .btn.btn-primary,
.btn.btn-primary.btn-block,
.primary-client-bg-border,
.primary-client-bg-border:hover {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.primary-client {
  color: $primaryColor !important;
}

.badge-primary.badge-glow.primary-client-bg {
  box-shadow: 0 0 10px $primaryColor;
}

html body a,
#MPE-nav.horizontal-menu .navbar-horizontal #main-menu-navigation .dropdown-custom a span,
#dashboardUserAgent #description h3.primary {
  color: $primaryColor;
}

.btn-glow.primary-client-bg,
.btn-glow.primary-client-bg-border {
  box-shadow: 0 1px 20px 1px $primaryColorRGBA;
}

.disable-bloc {
  display: none !important;
}
