/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/* Surcharge du thème Modern Admin */

body {
    background-image: none !important;

    &.agent {
        h4 {
            font-size: 18px;
            font-weight: 400;
            color: #464855;
        }

        form {
            label {
                color: #2b335e;
                font-size: 15px;
                margin-bottom: 12px;
            }
        }

        .btn {
            font-size: 15px;
            padding: 10px 14px;

            &.btn {
                &-success {
                    background-color: #28d094 !important;
                    border-color: #28d094 !important;
                }

                &-primary {
                    background-color: #2660A4 !important;
                    border-color: #2660A4 !important;
                }
            }
        }

        .form-group {
            margin-bottom: 21px;

            &--inline {
                .form-group {
                    display: inline-block;
                    width: 85%;
                }

                .btn.btn-primary {
                    display: inline-block;
                    position: relative;
                    bottom: 19px;
                    padding: 9px 16px;
                    margin-left: 28px;
                    font-size: 15px;
                }
            }
        }

        .form-control {
            font-size: 15px;
            color: #3b4781;
        }

        .card {
            box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
            border-radius: 6px;
            border: none;
        }
    }
}

#msgAccueilAgent {
    a {
        color:#2660a4;
    }

    .alert {
        padding: 15px;
    }
}

.form-main-login {
    .form-control-position {
        top: 25px;
    }
}


@keyframes slideFromTop {
    from {
        top: -60px;
    }
    to {
        top: 0;
    }
}

.main-text {
    .message-big {
        font-weight: 500 !important;
    }
}

body.agent {
    font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
    .alert.alert-icon-left {
        border-left-width: 56px;
    }
    .alert[class*=alert-icon-] {
        .alert-icon {
            width: auto;
            left: -38px;
        }
    }
}

#MPE-nav {
    font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
    .btn-primary {
        background-color: #f4f5fa;
    }
    .header-navbar {
        .navbar-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        min-height: 72px !important;
    }
    .dropdown-custom {
        input {
            font-size: 12px;
            height: 26px;
            border-radius: 2px 0 0 2px;
            border: 1px solid #6b6c71;
            padding-left: 12px;
            + {
                button {
                    height: 26px;
                    padding: 4px 8px;
                }
            }
        }
        .btn.btn-primary {
            background-color: #2660A4;
            .fa {
                left: 0 !important;
                margin-right: 0 !important;
                font-size: 18px !important;
                line-height: 15px !important;
            }
        }
    }
    .dropdown-menu {
        .fa {
            display: inline-block;
        }
    }
    .navbar {
        margin-bottom: 0;
        .nav-item {
            .dropdown-custom {
                display: none;
                margin-top: 1px;
                padding: 36px;
                li {
                    margin-bottom: 4px;
                    list-style: none;
                    h3 {
                        padding-left: 0;
                        margin-bottom: 8px;
                        font-size: 19px;
                        color: #6b6c71;
                    }
                }
                .dropdown-custom__item {
                    font-size: 14px;
                    color: #2660A4;
                }
                .input-group {
                    margin-bottom: 9px;
                }
                input {
                    padding-left: 12px;
                    height: 26px;
                    font-size: 12px;
                    + {
                        .btn.btn-primary.btn-sm {
                            height: 26px;
                            font-size: 12px;
                            i {
                                position: relative;
                                top: 0;
                                left: 4px;
                                bottom: 3px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            &.open {
                background-color: hsla(0,0%,100%,.05);
                .dropdown-custom {
                    display: block;
                    position: absolute;
                    text-align: left;
                    width: 100%;
                    left: 0;
                    background: #FFF;
                    z-index: 200;
                    box-shadow: 0 1px 12px -2px #808080;
                }
            }
        }
    }
    .navbar-dark.navbar-horizontal {
        border-radius: 0;
        min-width: 100% !important;
    }
    .header-navbar.navbar-static-top {
        width: 100%;
        padding: 20px;
    }
    .navbar-dark {
        .navbar-nav {
            li {
                line-height: auto !important;
            }
        }
    }
    ul {
        padding-inline-start: 0;
        li {
            list-style: none;
        }
    }
    .dropdown-notification {
        position: relative;
        top: 6px;
        right: 6px;
    }
    .dropdown.dropdown-user-link.nav-item {
        text-align: center;
        .user-name-dropdown {
            font-size: 13px;
            white-space: initial;
        }
        .organisme {
            font-size: 13px;
            white-space: initial;
        }
        .dropdown-menu.dropdown-menu-right.dropdown-user-widget {
            width: 330px;
        }
        &:hover {
            .dropdown-menu.dropdown-menu-right.dropdown-user-widget {
                display: block !important;
            }
        }
        .avatar-container {
            .fa.fa-user {
                background-color: #2660a3;
                color: #FFF;
                padding: 8px;
                font-size: 18px;
                border-radius: 20px;
            }
            .roundBadge {
                background-color: #28d094;
                position: absolute;
                right: -3px;
                bottom: -4px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                border: 1px solid #fff;
                z-index: 2;
            }
        }
    }
    .user-name {
        font-size: 16px;
    }
    .dropdown {
        i {
            margin-right: 4px !important;
        }
        .dropdown-menu.dropdown-user-widget {
            font-size: 14px;
            color: #6b6f82;
            transform: scale(1);
        }
    }
    .dropdown-toggle.nav-link.dropdown-user-link {
        .dropdown-menu.dropdown-menu-right.dropdown-user-widget {
            padding-bottom: 22px;
        }
        color: #6b6f82;
        .avatar-container {
            position: relative;
        }
    }
    .navbar-light {
        .navbar-nav {
            li {
                padding: 12px;
            }
        }
    }
    .logo-client {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        max-height: 130px;
        .logo {
            max-height: 130px;
            max-width: 400px;
        }
    }
    .logo-organisme {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        max-height: 75px;
        .logo {
            max-height: 75px;
            max-width: 350px;
        }
    }
    #notification_button {
        .fa.fa-bell {
            cursor: pointer;
            color: #6b6f82;
            font-size: 28px;
        }
        .badge-up {
            font-size: 13px;
            top: 12px;
            right: 16px;
        }
    }
    .dropdown.dropdown-notification.nav-item {
        .fa.fa-cog {
            cursor: pointer;
            color: #6b6f82;
            font-size: 24px;
        }
    }
    .btn.btn-sm {
        font-size: 13px;
        text-transform: initial;
    }
    .btn.btn-sm.mr-1.mb-1.btn-primary.btn-block {
        font-size: 14px;
        background-color: #2660A4;
        border-color: #2660A4;
    }
    #notification_list {
        position: absolute;
        right: 0;
        width: 334px;
        border: 1px solid #e4e5ec;
        transition: all .2s linear;
        background-color: #FFF;
        border-radius: 4px;
        font-size: 12px;
        max-height: 50vh;
        overflow: auto;
        .notification-item {
            padding: 12px;
            border: none;
            border-bottom: 1px solid #E4E5EC;
            text-align: left;
            line-height: 18px;
            cursor: pointer;
            a {
                color: #2660A4;
            }
        }
    }
    ul.menu_level_1 {
        text-align: center;
        >li {
            display: inline-block;
            width: 19%;
            vertical-align: top;
        }
    }
    .fa.fa-chart-bar {
        font-size: 21px;
    }
    .dropdown-menu-media {
        .dropdown-menu-header {
            border-bottom: 1px solid #E4E5EC;
        }
        .media-list {
            border-bottom: 1px solid #E4E5EC;
        }
        width: 24rem;
        margin-top: -12px;
        padding-bottom: 26px;
    }
    .dropdown-chartBI {
        .dropdown-menu {
            a {
                color: #2660A4;
            }
        }
    }
}

.global-container {
    h2.message-big {
        font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
        font-size: 22px;
        font-weight: 500 !important;
        letter-spacing: 1px;
        color: #464855 !important;
        margin-bottom: 20px;
    }
    padding: 28px;
    background-color: #f4f5fa;
}

.menu-administration {
    font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
    .card {
        font-family: 'Quicksand', Arial, sans-serif;
        height: 100%;
        margin-bottom: 1.875rem;
        border: none;
        box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
        border-radius: .45rem;
        font-style: normal;
        span {
            font-size: 15px;
            line-height: 18px;
            font-style: italic;
        }
        a {
            span {
                color: #2660A4;
                font-style: normal;
                color: #2660A4;
                font-style: normal;
            }
            font-size: 15px;
            line-height: 18px;
            font-style: italic;
        }
        h3 {
            font-size: 21px;
            color: #464855;
            font-weight: 400;
        }
        h4 {
            font-size: 19px;
            color: #464855 !important;
            font-weight: 400;
        }
    }
}

.mb-26 {
    margin-bottom: 26px;
}

.dropdown.nav-item.menu-agent-administration {
    margin-bottom: 1.875rem;
    border: none;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
    border-radius: .45rem;
}

#header {
    #MPE-nav {
        .nav {
            background-color: transparent;
        }
        .header-navbar {
            .navbar-container {
                ul.nav {
                    li {
                        >a.nav-link {
                            padding: 24px 20px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

#MPE-nav.horizontal-menu {
    .navbar-horizontal {
        ul#main-menu-navigation {
            >li {
                >a {
                    padding: 23px 14px !important;
                    display: inline-block;
                }
            }
        }
        .nav-item {
            i {
                margin-right: 8px !important;
                font-size: 22px !important;
            }
        }
        #main-menu-navigation {
            .nav-item {
                a {
                    span {
                        font-size: 15px;
                        margin-right: 8px;
                    }
                }
            }
            .nav-item.first {
                i {
                    margin-right: 0;
                    position: relative;
                    left: 7px;
                }
            }
            .dropdown-custom {
                a {
                    color: #2660A4;
                    margin-bottom: 3px;
                }
            }
        }
    }
    .navbar-dark {
        .nav-item {
            &:hover {
                position: initial;
            }
        }
    }
}

.navbar-container.main-menu-content.is_stuck {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1062;
    animation: 0.8s slideFromTop;
}

#footer {
    ul {
        padding-inline-start: 0;
        li {
            display: inline-block;
            font-size: 12px;
        }
    }
}

.custom-file-input.form-group {
    opacity: 1;
    input {
        display: none;
    }
}

.content-header-title {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    color: #464855;
    margin-bottom: 7px;
}

.breadcrumb {
    font-size: 14px;
    background-color: transparent;
    padding: 0 0 12px 0;
    margin-bottom: 10px;
}

.breadcrumb-item+.breadcrumb-item {
    &:before {
        content: "-";
    }
}

.form-control.is-invalid {
    background-image: none;
}

.alert {
    font-size: 14px;
    padding: 10px 49px 10px 14px;
    margin-bottom: 21px;
    .alert-icon {
        font-size: 17px;
        .fa.fa-times {
            font-size: 18px;
        }
    }
}

.badge-danger {
    font-weight: bold;
    font-size: 11px;
}

.fa.fa-arrow-right.fa-arrow-right--up {
    transform: rotate(-90deg);
}

.darkBlue {
    color: #2660A4 !important;
}

#statisticsReports {
    >div {
        height: 100vh;
        >iframe {
            border: none;
        }
    }
}
.bg-info {
    background-color: #1e9ff2 !important;
}

.breadcrumb .breadcrumb-item+.item-chevron:before {
    content: ">";
}

#verificationRgpdModal {
    display: flex !important;
    align-items: center;
}

.modal-dialog {
    &.rgpd {
        max-width: 1180px;
    }

    .modal-header {
        h5 {
            margin-bottom: 0;
        }
    }

    .modal-body {
        padding: 30px;

        .toggle {
            margin-left: 6px;
            cursor: pointer;
        }
    }

    .modal-footer {
        .btn {
            margin-right: 12px;
        }
    }
}

.uppy-StatusBar-progress {
    height: 15px;
    background-color: #008000;
    margin-bottom: 6px;
}

.spaser-item {
    padding-top: 9px;
}

.right-checkbox {
    display: flex;
    text-align: left;
    justify-content: space-between;

    label {
        flex-grow: 1;
    }
}

.habilitation-section {
    border: solid 1px #e4e5ec;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 4px 7px 1px rgba(49, 53, 72, 0.1);

    .right-checkbox {
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .right-checkbox:hover {
        background-color: #f4f5fa;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        cursor: pointer;
        padding: 5px;

        i {
            margin-right: 5px;
        }

        .ft-plus-circle {
            display: inline;
        }

        .ft-minus-circle {
            display: none;
        }
    }

    &__content {
        display: none;
        padding: 5px 5px 5px 3px;
    }

    &--expanded {
        > .habilitation-section__header {
            border-bottom: solid 1px #e4e5ec;

            .ft-plus-circle {
                display: none;
            }

            .ft-minus-circle {
                display: inline;
            }
        }

        > .habilitation-section__content {
            display: block;
        }
    }

    &--n1 {
        .habilitation-section__header {
            font-size: 14px;
            line-height: 18px;

            i {
                font-size: 18px;
            }
        }

        .right-checkbox {
            margin-bottom: 5px;
            border: solid 1px #e4e5ec;
            border-radius: 4px;
            padding: 3px 7px;

            label {
                margin: 0;
            }
        }
    }

    &--n2 {
        .habilitation-section__header {
            font-size: 13px;
            line-height: 16px;

            i {
                font-size: 16px;
            }
        }

        .habilitation-section__content {
            padding-left: 30px;
        }
    }

    &--n3 {
        .habilitation-section__header {
            font-size: 12px;
            line-height: 16px;

            i {
                font-size: 16px;
            }
        }
        .right-checkbox {
            border: none;
            padding: 0;
        }
    }
}

.services-tree {
    label,
    input[type="checkbox"] {
        margin: 0;
        vertical-align: middle;
    }

    .services-tree__container:not(:first-child) {
        margin-left: 20px;
    }

    .services-tree__item {
        position: relative;
        margin-bottom: 5px;

        .ft-plus,
        .ft-minus {
            font-weight: bold;
            text-align: center;
        }
        .ft-plus {
            display: inline;
        }
        .ft-minus {
            display: none;
        }
    }

    .services-tree__item__toggle {
        position: absolute;
        left: -25px;
        top: 0;
        border: 1px solid #2660A4;
        border-radius: 2px;
        width: 17px;
        height: 17px;
        line-height: 17px;
        background-color: #2660A4;
        color: #fff;
        cursor: pointer;
    }

    .services-tree__child {
        display: none;
        margin-top: 5px;
        margin-left: 20px;
    }
}
