/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

.badge-success{
    background-color: green;
}

.badge-danger {
    background-color: #d9534f;
}

.link-danger, .link-danger:hover{
    color: #d9534f;
    text-decoration: underline !important;
}


