.nav-vertical {

  ul {
    list-style: none;
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-vertical .nav-left.nav-tabs li.nav-item a.nav-link:hover:not(.active) {
    border-right: 0;
  }

  .nav-left.nav-tabs {
    border-right: 1px solid #DDD;

    li.nav-item a.nav-link {
      border-right: 0;
    }

    &.nav-border-left {
      li.nav-item a.nav-link,
      li.nav-item a.nav-link.active {
        width: 100%;
      }

      li.nav-item a.nav-link {
        color: #2660A4;

        &.active {
          border-left: 3px solid #2660A4;

          &.darkBlue {
            color: #555 !important;
          }
        }
      }
    }
  }
}

.nav.nav-tabs.nav-left.nav-border-left {
  min-height: 550px;
}

button {
  font-size: 15px;
}
