/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

#statut {
  .btn-secondary {
    color: #6b6f82;
    background-color: #FAFAFA !important;
    cursor: pointer;

    &:hover {
      color: #FFF;
      background-color: #777b8f !important;
    }

    &:not(:disabled):not(.disabled) {
      &.active {
        color: #FFF;
        background-color: #777b8f !important;
      }
    }
  }
}

#categorie {
  .btn-secondary {
    cursor: pointer;
    background-color: #FFF !important;
    color: #6b6f82 !important;

    &.active {
      background-color: #6b6f82 !important;
      color: #FFF !important;
    }
  }
}

#statutConsultation {
  h5 {
    margin-bottom: 2px;
    padding-bottom: 0;
  }

  legend {
    padding-top: 0;
  }
}

.badge-info {
  background-color: #1E9FF2;
}

.card {
  &.border-left-primary {
    border-left: 3px solid #2660a4;
  }
}

#forms-consulation-simplifiee {
  .form-group {
    &__selectLieuxBtnContainer {
      display: block;
      margin-top: 0;
    }
  }
}

#searchForm .select2 .select2-selection__choice {
  background-color: #747474!important;
}

.detailsFilter {
  .nav-link {
    &.active {
      &:hover {
        color: #FFF !important;
      }
    }
  }
}

.consultation-block {
  .btn-primary:disabled {
    border-color: #4a4a4a!important;
    background-color: #4a4a4a!important;
  }
}

#typeProcedureOrganisme {
  position: relative;
  background-image: none;
  appearance: none;
}
#typeAvis {
  position: relative;
  background-image: none;
  appearance: none;
}

.collapsedDetails {
  display: none;
}

.page-item {
  &--txt {
    position: relative;
    top: 2px;
  }
}

.arrow-down {
  transform: rotate(45deg);
  margin: 25px;
  display: inline-block;
  height: 12px;
  width: 12px;
  z-index: 1;
  position: absolute;
  right: 8px;
  bottom: 8px;

  &:after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
  }
}

.btn {
 &--whiteBg {
   background-color: #FFF !important;
   color: #6b6f82;
 }
}

.dropdown-item {
  &--noHabilitation {
    font-style: italic;
  }
}

.page-item:not(.active) .page-link {
  background-color: transparent !important;
}

.nav-link:not(.active) {
  background-color: transparent !important;
}

.breadcrumb .breadcrumb-item+.item-chevron:before {
  content: ">";
}

.star-fill {
  color:#FFCB00;
}

.select2-results__option:empty {
  height: 35px;
}

#search-agent-referent {
  .select2-selection__arrow {
    display: none;
  }
}

//Ajustements partie entreprise

#layout-entreprise {
  .arrow-down {
    bottom: 0;
  }
  .ft-search {
    position: relative;
    top: 4px;
  }
  .multiselect__single {
    font-size: 14px;
  }
}

#saveRecherche {
  .modal-footer {
    border-top: 1px solid #f3e4e4!important;
  }
  .modal-header {
    border-bottom: 1px solid #f3e4e4!important;
  }
}
