#VerificationSignature {
    h5 {
        font-weight: bold;
    }
    .card {
        .card {
            box-shadow: 0 2px 18px 1px rgba(49,53,72,.1) !important;
            border-radius: .45rem !important;

            &--noBorderShadow {
                box-shadow: none !important;
            }

            &--borderGreen {
                border: 1px solid #28d094;
            }
        }
    }

    .fa-file-pdf {
        cursor: pointer;
    }

    .btn {
        cursor: pointer;
        
        .ft-file {
            margin-right: 4px;
        }
    }
    .form-control {
        border: 0 !important;
        background-color: #FFF !important;
        font-style: italic;
        box-shadow:none !important;
    }

    .input-group-btn {
        width: auto !important;
    }

    .tooltip {
        display: none;
        background: #4a4a4a;
        color: #FFF;
        font-weight: bold;
        padding: 4px 8px;
        margin-left: 4px;
        font-size: 13px;
        border-radius: 4px;
        opacity: 1;
    }
}
