.badge-type {
  width: 100px;
  border: none;
  margin-right: 12px;
  background-color: #CDCACA;
}
.badge-violet{
  margin-left: 15px;
  color: #ebeef0;
  background-color: #BB74F3;
}

.badge-bleu {
  margin-left: 15px;
  color: #ebeef0;
  background-color: #74DAF3;
}

.badge-rose{
  margin-left: 15px;
  color: #ebeef0;
  background-color: #F374F1;
}
.element-select {
  font-size: 16px;
  margin-bottom: 20px;
}

.content-wrapper {
  min-height: 500px!important;
}
.margin-right-5px {
  margin-right: 5px;
}
