<!-- BEGIN: Content-->
<div class="app-content content">
  <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>-->
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row" *ngIf="param">
      <atx-breadcrumb class="col-12" [breadcrumb]="param"
      ></atx-breadcrumb>
    </div>
    <div class="content-body" style="margin: 5px">
      <!-- account setting page start -->
      <section id="page-account-settings">
        <div class="row">
          <div class="col-12">
            <h5><label>{{"doc-administrable.label" | translate}}</label></h5>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12" style="margin-bottom: 50px">
            <fieldset class="form-group">
              <ng-select
                class="element-select"
                [(ngModel)]="documentSelected"
                [clearable]="false"
                [groupBy]="grouper"
                appendTo="body"
                [items]="documents"
                [searchFn]="searchByCode"
                id="document"
                dropdownPosition="bottom"
                notFoundText="Aucun résultat"
              >
                <ng-template let-item="item" ng-label-tmp ng-option-tmp>
                  <span class="badge me-1 badge-type">{{ item.code }}</span> {{item.libelle}}<span class="badge {{getColor(item)}}" [innerHTML]="getBadge(item)"></span>
                </ng-template>
              </ng-select>
            </fieldset>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <button type="button"
                    *ngIf="documentSelected && documentSelected.extension ==='docx'"
                    [disabled]="!documentSelected || loadingEdit || isOpen()"
                    class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                    (click)="editer()"><i class="la la-edit" *ngIf="!loadingEdit && !isOpen()"></i><i
              class="fa fa-spin fa-spinner"
                                                                                         *ngIf="loadingEdit || isOpen()"></i>
              {{"doc-administrable.edit-button" | translate}}
            </button>

            <button type="button"
                    [disabled]="!documentSelected || loadingTelechargement"
                    class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                    (click)="telecharger()"><i *ngIf="!loadingTelechargement" class="la la-download"></i><i class="fa fa-spin fa-spinner" *ngIf="loadingTelechargement"></i>
            </button>
            <button type="button"
                    [disabled]="loadingReinialiser"
                    *ngIf="documentSelected && documentSelected.extension ==='docx' && documentSelected.plateformeUuid && documentSelected.documentParentId"
                    class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                    (click)="reinitialiser()"><i *ngIf="!loadingReinialiser" class="la la-undo"></i><i
              class="fa fa-spin fa-spinner" *ngIf="loadingReinialiser"></i>
            </button>
            <button type="button"
                    [disabled]="!documentSelected || loadingDesactivation"
                    class="btn btn-danger danger-client-bg-border btn-sm margin-right-5px"
                    (click)="desactiver()"><i *ngIf="!loadingDesactivation" class="la la-trash"></i><i class="fa fa-spin fa-spinner" *ngIf="loadingDesactivation"></i>
            </button>
          </div>
        </div>
        <div>
          <button type="button"
                  class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                  (click)="openAjoutDocumentModal()"><i class="ft-plus"></i>
            {{"doc-administrable.add-button" | translate}}
          </button>
        </div>
      </section>
      <!-- account setting page end -->
    </div>
  </div>
</div>
<!-- END: Content-->
