<div class="app-content content">
  <ngx-loading [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <atx-breadcrumb class="col-12" [breadcrumb]="param"
                      (onClickExport)="exporter()"></atx-breadcrumb>
    </div>

    <div class="content-body" style="margin: 5px">
      <form #formPublication="ngForm"
            (ngSubmit)="formPublication.valid && this.submitted">

        <div class="form-body">
          <section id="form-version">
            <div class="row">

              <div class="col-12">
                <div class="card height-97-per">
                  <div class="card-body mb-0">
                    <div>
                      <h5
                        class="font-weight-bold">{{"publicationClausier.editPublicationClausier.publication" | translate}}
                      </h5>
                    </div>
                    <hr>
                    <div class="col-lg-3  col-md-4 col-sm-12">
                      <div class="controls">
                        <h5
                          class="font-weight-bold">{{"publicationClausier.editPublicationClausier.numeroVersion" | translate}}
                          <span class="redStar"
                                >*</span></h5>
                        <div class="input-group">
                          <input [(ngModel)]="publication.version1" class="form-control col-4" type="text"
                                 name="version1"
                                 required
                                 #version1="ngModel"
                                 digitOnly
                                 [ngClass]="{ 'is-invalid': submitted && version1.invalid }">

                          <input [(ngModel)]="publication.version2" class="form-control col-4" type="text"
                                 name="version2"
                                 required
                                 digitOnly
                                 #version2="ngModel"
                                 [ngClass]="{ 'is-invalid': submitted && version2.invalid }"
                                 ngModel="version2">

                          <input [(ngModel)]="publication.version3" class="form-control col-4" type="text"
                                 name="version3"
                                 required
                                 digitOnly
                                 #version3="ngModel"
                                 [ngClass]="{ 'is-invalid': submitted && version3.invalid }"
                                 ngModel="version3">
                          <p *ngIf="submitted && (version1.invalid || version2.invalid || version3.invalid)">
                            <small class="badge badge-danger">{{"publicationClausier.editPublicationClausier.numeroObligatoire" | translate}}</small>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-1">
                      <div class="controls">
                        <h5
                          class="font-weight-bold">{{"publicationClausier.editPublicationClausier.commentaire" | translate}}
                          :
                          <span class="redStar">*</span></h5>
                        <div class="input-group">
                            <textarea name="commentaire"
                                      class="form-control"
                                      [(ngModel)]="publication.commentaire">
                          </textarea>
                        </div>
                        <p *ngIf="submitted && !publication.commentaire">
                          <small class="badge badge-danger">{{"publicationClausier.editPublicationClausier.commentaireObligatoire" | translate}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </section>

        </div>
        <div class="form-actions text-right">
          <button type="button" class="btn btn-warning btn-sm margin-right-5px"><i
            class="fa fa-close"></i> {{"creationCanevas.txt.annuler" | translate}}
          </button>
          <button [disabled]="loadingPublication || !canCreatePublication" type="button" class="btn btn-success btn-sm " (click)="createPublication()"
          >
            <i class="fa fa-spin fa-spinner" *ngIf="loadingPublication"></i>
            <i class="ft-check" *ngIf="!loadingPublication"></i>
            {{"publicationClausier.editPublicationClausier.publier" | translate}}
          </button>

        </div>
      </form>
    </div>
  </div>
</div>


