<a href="{{ URL_FRANCECONNECT_CONCENTRATEUR_LOGIN }}"
   class="btn-connect btn-france-connect margin">
    <img class="margin sr-only"
         src="/themes/images/fc_bouton_alt2_v2.png"
         alt="FranceConnect">
</a>
