/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */
.ui-dialog-titlebar{
    display:none;
}

#pageLoader{
    background: none;
    border: 0px solid ;
}

.ui-widget.ui-widget-content {
    border: 0px solid !important;
    background: none;
}

.ui-widget-content a {
    color: white !important;
}
