.atx-body {
  .atx-component_consultation-actions {
    @include clearfix;
    margin-top: $atx-base-unit;
    margin-bottom: $atx-base-unit;

    .actions-list {
      display: table;
      width: 100%;

      .action-item {
        display: table-cell;
        width: 33.3333%;
        height: 100%;

        + .action-item .atx-panel {
          border-left: 0;
        }

        .atx-panel {

          &.panel-actions-done {
            background: rgba(#000000, .03);
          }

          &.panel-actions-todo {
            //background: lighten($atx-panel-background-color, 5%);
          }

          &.panel-actions-up {
            background: rgba(#000000, .02);
          }
        }

        &.not-expanded {

          width: 1%;

          .atx-panel {

            position: relative;

            &.panel-actions-done {
              background: lighten($atx-panel-background-color, 0%);
            }

            &.panel-actions-todo {
              background: lighten($atx-panel-background-color, 5%);
            }

            &.panel-actions-up {
              background: lighten($atx-panel-background-color, 10%);
            }

            .panel-heading,
            .panel-body {
              display: none;
            }
            .panel-heading.horizontal {
              display: block;
              text-align: center;

              .text {
                text-align: left;
                position: absolute;
                top: 37px;
                -ms-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                -ms-transform-origin: left top 0;
                -moz-transform-origin: left top 0;
                -webkit-transform-origin: left top 0;
                transform-origin: left top 0;
                left: 50%;
                line-height: 20px;
                width: 800px;
                right: 0;
                margin-left: 10px;
              }
            }
          }

        }

        .atx-panel {
          display: table;
          width: 100%;
          height: 100%;
          min-height: 270px;

          &,
          .panel-heading {
            border-radius: 0;
            position: relative;
          }

          .panel-heading {
            border-bottom: 0;
          }

          .panel-heading.horizontal {
            display: none;
          }

          &.panel-actions-done .panel-heading {
            background: lighten($atx-panel-background-color, 0%);

            &:before {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 19px 0 19px 16px;
              border-color: transparent transparent transparent lighten($atx-panel-background-color, 5%);
              top: 0;
              z-index: 1;
              left: 100%;
            }

            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 19px 0 19px 8px;
              border-color: transparent transparent transparent lighten($atx-panel-background-color, 0%);
              top: 0;
              z-index: 2;
              left: 100%;
            }

          }

          &.panel-actions-todo .panel-heading {
            background: lighten($atx-panel-background-color, 5%);

            &:before {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 19px 0 19px 16px;
              border-color: transparent transparent transparent lighten($atx-panel-background-color, 10%);
              top: 0;
              z-index: 1;
              left: 100%;
            }

            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 19px 0 19px 8px;
              border-color: transparent transparent transparent lighten($atx-panel-background-color, 5%);
              top: 0;
              z-index: 2;
              left: 100%;
            }
          }

          &.panel-actions-up .panel-heading {
            background: lighten($atx-panel-background-color, 10%);
          }

        }
      }
    }

    .panel-heading,
    .panel-heading .fa {
      font-weight: 700;
    }

    .panel-body {

      .title {
        color: $atx-base-color;
        font-weight: 600;
        padding: $atx-base-unit 0;

        &:first-child {
          padding-top: 0;
        }
      }
      ul ul {
        padding: 0 0 0 $atx-base-unit*2;
        li,
        li a {
          display: block;
          line-height: $atx-base-unit*3;
        }
        li a:hover {
          text-decoration: none;
          font-weight: 700;
        }
      }
    }

  }
}