/*------------------------------------------------------------------
[7. Pages]
  [7.1 Scope Variable]
  [7.2 Pages Login]
*/

// [7.1.1 Scope Variable]
$atx-login-header-background-color: transparent !default;
$atx-login-form_top-background-color: $atx-base-color !default;
$atx-login-btn-submit-background-color: $atx-base-color !default;
$atx-login-btn-submit-background-color_hover: lighten($atx-base-color , $atx-base-darken) !default;
$atx-login-btn-reset-color: rgba(0, 0, 0, .2) !default;

// [7.2 Pages Login]
.atx-page-login {
  .atx-header_top {
    background-image: url($atx-header-background-image);
    background-position: $atx-header-background-position;
    background-repeat: no-repeat;
    background-size: $atx-header-background-size;
    background-color: $atx-login-header-background-color;
  }

  .login {

    display: table;
    width: 100%;
    height: 100%;

    .login-container {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }

    .form-bloc,
    .form-bloc .content {
      background: none;
    }
    .form-bloc {
      margin: 0 auto;
      width: $atx-base-unit * 42;
      .login-form_top {
        padding: $atx-base-unit;
        background-color: $atx-login-form_top-background-color;
        @include border-top-radius($atx-base-border-radius);
        position: relative;
        box-shadow: inset 0 4px 8px rgba(0,0,0,.2);

        @if $atx-gradient {
          @include gradient-directional($start-color: $atx-gradient_directional-start_color, $end-color: $atx-gradient_directional-end_color, $deg: $atx-gradient_directional-deg);
        }

        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: $atx-base-unit $atx-base-unit 0 $atx-base-unit;
          border-color: $atx-login-form_top-background-color transparent transparent transparent;
          position: absolute;
          bottom: -$atx-base-unit;
          left: 50%;
          margin-left: -($atx-base-unit / 2);
        }
        .title {
          color: #ffffff !important;
          margin: 0;
          padding: 0;
          font-weight: 500;
        }
      }
      .login-form_body {
        background: #e0e0e0;
        padding: $atx-base-unit * 2 $atx-base-unit * 6;
        @include border-bottom-radius($atx-base-border-radius);

      }
      .login-form {
        .line {
          margin-bottom: $atx-base-unit;
          position: relative;
          @include clearfix();

          .label,
          .input {
            display: block;
            float: left;
            line-height: $atx-base-unit * 4;
            height: $atx-base-unit * 4;
            margin: 0;
            padding: 0;
            @include box-sizing(border-box);
            font-size: 12px;
          }

          .label {
            width: $atx-base-unit * 30;
            text-align: left;
            float: none;
            font-size: 13px;
            font-weight: 600;
            line-height: $atx-base-unit * 4;
            color: #212121;
            //border-bottom: 1px solid #eeeeee;
          }

          .input {
            width: $atx-base-unit * 30;
            padding: ($atx-base-unit / 2) $atx-base-unit;
            background: rgba(255, 255, 255, 0.8);
            background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
            border: 1px solid rgba(255, 255, 255, 0.8);
            &:focus, &:active {
              border: 1px solid $atx-login-btn-reset-color;
              @include box-shadow(inset 1px 1px 4px rgba(0, 0, 0, 0.1));
            }
          }
        }

        .btn {
          display: inline-block;
          margin-bottom: 0; // For input.btn
          font-weight: 300;
          text-align: center;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          background-image: none;
          &.submit {
            border: 0;
            background: $atx-login-btn-submit-background-color;
            color: #ffffff;
            width: $atx-base-unit * 30;
            margin: $atx-base-unit auto;
            white-space: nowrap;
            @include button-size($atx-base-padding-vertical, $atx-base-padding-horizontal, $atx-base-font-size, $atx-base-line-height, $atx-base-border-radius);

            &:hover, &:focus, &:active {
              background: $atx-login-btn-submit-background-color_hover;
              @include box-shadow(0 1px 3px rgba(0, 0, 0, .4));
            }

          }
        }

        .link.reset {
          padding: $atx-base-unit;
          background: none;
          color: #d0d0d0;
          text-align: center;
          text-decoration: underline;
          border: 0;
          position: absolute;
          right: 0;
          bottom: 2px;
          outline: none;
          cursor: pointer;
          display: block;
          &:hover, &:focus, &:active {
            color: #b0b0b0;
          }

        }
      }

    }
  }
}