<div class="modal-content modal-lg modal-extra-large" xmlns="http://www.w3.org/1999/html">
    <div class="modal-header">
        <h1 class="modal-title pull-left">Notifier la soumission du document</h1>

        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <atexo-redacdocument-broadcast
                [document]="document"
                (annulation)="fermeture.emit($event)"
                (acceptation)="fermeture.emit($event)"
                (erreur)="erreur.emit($event)"
                (envoi)="envoi.emit($event)"
        >
        </atexo-redacdocument-broadcast>
    </div>
</div>
