<section id="recipients">
  <span class="recipients-warning" *ngIf="!clients.filled()" (search)="recherche($event)">
      <i class="fas fa-exclamation-circle"></i> Aucun destinataires n'a été trouvé, vous pouvez toutefois vous envoyer le mail
  </span>
    <ng-select
            *ngIf="clients.filled()"
            [(ngModel)]="destinataires"
            [clearSearchOnAdd]="true"
            (search)="requete.next($event.term)"
            [items]="filteredClients"
            [selectableGroupAsModel]="false"
            [selectableGroup]="true"
            clearAllText="Tout effacer"
            typeToSearchText="Il y a trop de résultats pour les afficher tous, merci de filtrer en tapant le nom du destinaire ou du service"
            appendTo="#recipients"
            dropdownPosition="bottom"
            bindLabel="email"
            groupBy="service"
            minTermLength="0"
            multiple="true"
            notFoundText="Aucun résultat"
            placeholder="Selectionnez les validateurs à prévenir"
            searchable="true"
    >
        <ng-template ng-optgroup-tmp let-item="item">
            <div class="service">
                {{item?.service}}
            </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
            <div class="user">
                <span class="user-name">{{item?.prenom}} {{item?.nom}}</span> <span class="user-email">{{item?.email}}</span>
            </div>
        </ng-template>
    </ng-select>
</section>

<section class="metadata">
    <section id="count" class="count">
        <span *ngIf="denombrer() == 1">Un seul destinataire sélectionné</span>
        <span *ngIf="denombrer() > 1">{{denombrer()}} destinataires choisis</span>
    </section>

    <section id="duplicata" class="duplicata">
        <label for="cc">Me faire parvenir une copie de ce message</label>
        <input type="checkbox" [(ngModel)]="copie" id="cc" [checked]="copie" [required]="true" name="cc">
    </section>
</section>

<section id="viewer" class="viewer">
    <section id="loader" class="loader-container">
        <atexo-redacdocument-loader message="Chargement du document en cours, merci de patienter"></atexo-redacdocument-loader>
    </section>
    <section id="pdf" class="pdf">
        <object type="application/pdf" [data]="view | async | safe" width="500" height="375"></object>
    </section>
</section>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" type="button">Annuler</button>
    <button (click)="envoyer()" [disabled]="!valide()" class="btn btn-primary" type="button"><i class="fa fa-save me-2"></i>Envoyer</button>
</footer>
