.document-slot {
  background: #eee;
  border-radius: 4px;
  margin: 12px;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  &-asset {
    text-align: center;
    color: #2660a4;

    &-icon {
      font-size: 2.4rem;
    }
  }

}

object {
  width: 100%;
  height: calc(100vh - 320px);
}

.viewer {
  max-height: calc(100vh - 320px);
  overflow: hidden;

  .loader-container {
    min-height: calc(100vh - 320px);
    display: flex;
    align-items: center;
  }

  .pdf {
    position: relative;
    top: calc(320px - 100vh);
    min-height: calc(100vh - 320px);
  }
}

.user {

  &-name {
    font-weight: bold;
    display: inline-block;
    margin-right: 12px;
  }

  &-email {
    color: #666;
  }
}

.service {
  color: #333;
  font-size: 1.2rem;
}

.metadata {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;

  .count {
    font-weight: normal;
    color: #e1002a;
  }

  .duplicata {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    label {
      margin: 0 8px 0 0;
      font-weight: normal;
    }

    input {
      cursor: pointer;
    }
  }

}

.recipients-warning {
  color: #e1002a;
}

#recipients {
  max-height: 300px;
  min-height: 38px;
  overflow-y: scroll;
}

#work-in-progress-loader {
  position: absolute;
  z-index: 1000000;
  background: #ebf1f7;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.modal-body {
  overflow: hidden;
}
