

.documents {

  .fa-times {
    font-size: 1.2rem;
  }
  /* colonnes du tableau */
  .documents-colonne {
    @media screen and (max-width: 1040px) {
      &-plus {
        width: 50px;
      }

      &-statut, &-actions {
        width: 220px;
      }
    }

    @media screen and (min-width: 1040px) {
      &-plus {
        width: 60px;
        max-width: 60px;
        min-width: 60px;
      }

      &-workflow {
        width: 20%;
        max-width: 20%;
        min-width: 20%;
      }

      &-statut {
        width: 20%;
        max-width: 20%;
        min-width: 20%;
      }

      &-actions {

        width: 240px;
        max-width: 240px;
        min-width: 240px;
      }
    }
  }

  .document {

    .btn-inline {

      font-size: 0.75rem;
      max-height: 23px;
      min-height: 23px;
      height: 23px;

    }

    &-action-bloque {
      cursor: not-allowed;

      &:focus {
        outline: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }

    &-action-editer {
      border-radius: 0.25rem 0 0 0.25rem;
      outline: none;
      box-shadow: none;

      &.disabled:not(.btn-danger) {
        border-color: #c3d9f4;
        color: #2760a4;
      }

      @media screen and (min-width: 1040px) {
        $line-size: 48px;

        min-height: $line-size;
        max-height: $line-size;
        height: $line-size;
      }

      @media screen and (max-width: 1040px) {
        $line-size: 42px;

        min-height: $line-size;
        max-height: $line-size;
        height: $line-size;
      }

      @media screen and (min-width: 1040px) {
        width: 226px;
      }

      @media screen and (max-width: 1040px) {
        width: 172px;
        max-width: 172px;
      }
    }

    &-type {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      @media screen and (min-width: 1040px) {
        $line-size: 48px;

        min-width: $line-size;
        max-width: $line-size;
        width: $line-size;
        min-height: $line-size;
        max-height: $line-size;
        height: $line-size;
      }

      @media screen and (max-width: 1040px) {
        $line-size: 42px;

        min-width: $line-size;
        max-width: $line-size;
        width: $line-size;
        min-height: $line-size;
        max-height: $line-size;
        height: $line-size;
      }

    }

    &-actions-plus {

      button {
        max-width: 42px;

        @media screen and (min-width: 1040px) {
          max-width: 42px;
          min-width: 42px;
          max-height: 30px;
          min-height: 30px;
          height: 30px;
        }

        @media screen and (max-width: 1040px) {
          max-width: 32px;
          min-width: 32px;
          max-height: 23px;
          min-height: 23px;
          height: 23px;
        }
      }
    }

    &-badge-statut {
      border-radius: 4px;
      margin-right: 8px;
      display: inline-flex;
      color: #212529;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: bold;

      img {
        vertical-align: baseline;
      }

      &.a_valider {
        color: #f89948;
      }

      &.brouillon {
        color: #f25165;
      }

      &.valide {
        color: #5CB85C;
      }
    }

    &-btn-action-direct {
      margin-bottom: 4px;
      width: 42px;
      max-width: 42px;

      @media screen and (max-width: 1040px) {
        width: 32px;
        max-width: 32px;
      }
    }

    &-titre {
      height: 28px;
      display: flex;
      min-height: 23px;
      line-height: 24px;
      max-width: 38vw;

      @media screen and (max-width: 1040px) {
        max-width: 25vw;
      }
    }

    &-nom {
      line-height: 1.8rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-metadonnees {
      display: flex;
      flex-direction: row;
      line-height: 20px;
      font-size: 0.9rem;
      justify-content: space-between;

      &-modification {
        line-height: 20px;
        font-size: 0.9rem;
      }
    }

    &-vues {

      @media screen and (max-width: 1040px) {
        width: 48px;
      }
    }
  }
}

button.btn-outline-secondary + .document-action-autre {
  border: 1px solid #c3d9f4;
  background: #c3d9f4;
  outline: none;
  box-shadow: none;
}

button.btn-danger + .document-action-autre {
  border: 1px solid #ce5d67;
  background: #ce5d67;
  outline: none;
  box-shadow: none;
}

button.btn-primary + .document-action-autre {
  border: 1px solid #1f4e85;
  background: #1f4e85;
  outline: none;
  box-shadow: none;
}

.alert-color-send {
  border-color: transparent;
  color: #000;
  background: #6262621c;
}

@media screen and (max-width: 1040px) {
  .header-embedded {
    display: none;
  }
}

@media screen and (min-width: 1040px) {
  .header-fullscreen {
    display: none;
  }
}

.document-list-header {
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0 0 16px 0;
  padding: 12px;
  line-height: 2rem;

  ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-info, &-info-more {
    th {
      white-space: nowrap;
      padding-right: 1rem;
      vertical-align: top;
    }

    &-switch {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      color: #2660a4;
    }
  }
}

a.dropdown-item{
  color: #63aaff !important;

  &.danger {
    color: #f25165 !important;
  }

  &.disabled {
    color: #777777 !important;
  }
}

.dropdown-item {

  i {
    width: 22px;
    display: inline-block;
    font-size: 0.8rem;
    padding: 4px;
    height: 22px;
    text-align: center;
  }
}



.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #222;
}

.error-disclaimer {
  color: #f25165;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  flex-direction: column;
  z-index: 100000;
}

.online-edition-picto {
  padding: 6px;
  font-size: 12px;
  color: #84bcff;
}

.tooltiper{
  position: relative;
}

.steps {
  display: flex;

  .delimiter {
    background: #ccc;
    height: 2px;
    position: relative;
    top: 22px;
    width: 8px;
    max-width: 8px;
    margin: 0 auto;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      background: #ccc;
      position: absolute;
      height: 2px;
      width: 10px;
    }

    &:before {
      right: -3px;
      bottom: -3px;
      transform: rotate(-45deg);
    }

    &:after {
      right: -3px;
      top: -3px;
      transform: rotate(45deg);
    }
  }


  .step {
    position: relative;
    width: 48px;
    height: 48px;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 2px;
    text-transform: uppercase;

    .workflow-tag {
      margin-left: 2px;
      display: block;
      font-weight: bold;
      padding: 15px;
    }

    &-done {
      background: #eee !important;
    }

    &-todo:not(.document-erreur) {
      opacity: 0.25;
    }

    &-creation {
      background: #ccc;
    }

    &-brouillon {
        border: none;
        background: transparent;

        progressbar {
          border-radius: 50px;
          height: 48px;

        }
    }

    &-soumission {
      background: #e78900;
    }

    &-validation {
      background: #28a745;
    }

    &.document-erreur {
      background: #eee !important;
    }
  }
}

.cartouche-etat-button {
  position: fixed;
  top: 10px;
  left: 12px;
  z-index: 1000000;
  color: #2660a4;
  cursor: pointer;
}
