<!-- ----------------------------------- -->
<!-- Template d'actions sur le documents -->
<!-- ----------------------------------- -->
<ng-template #actions let-document="document" let-index="index" let-total="total">
    <div class="btn-group" [dropup]="index >= Math.round(total / 2 )" dropdown placement="bottom right" [isOpen]="document?.menu" (isOpenChange)="document.menu = $event">
        <ng-container>
            <!-- Document KO -->
            <ng-container *ngIf="document?.statut == Statuts.ERREUR">
                <ng-template #tooltip_erreur_action_edition_document_erreur>
                    <i class="fa-solid fa-ban"></i> Le document est en erreur
                </ng-template>

                <button [tooltip]="tooltip_erreur_action_edition_document_erreur" class="document-action-editer disabled document-action-bloque btn btn-outline-secondary">
                    <i class="fas fa-lock me-2"></i>&nbsp;Non éditable
                </button>
            </ng-container>
            <!-- Document OK -->
            <ng-container *ngIf="document?.statut != Statuts.ERREUR">
                <!-- Document au statut VALIDE -->
                <ng-container *ngIf="document?.ouvert">
                    <button tooltip="En cours d'édition par agent" class="document-action-editer disabled document-action-bloque btn btn-danger">
                        <i class="fas fa-spinner fa-spin me-2"></i>&nbsp;En cours d'édition
                    </button>
                </ng-container>

                <ng-container *ngIf="!document?.ouvert">
                    <ng-container *ngIf="document?.statut === Statuts.VALIDE || (document?.statut === Statuts.DEMANDE_VALIDATION && !autorise('ROLE_ValidationDocumentsREDAC'))">
                        <ng-template #tooltip_erreur_action_edition_document_valide>
                            <i class="fa-solid fa-ban"></i> Merci de dévalider pour édition
                        </ng-template>

                        <button [tooltip]="tooltip_erreur_action_edition_document_valide" class="document-action-editer disabled document-action-bloque btn btn-outline-secondary">
                            <i class="fas fa-lock me-2"></i>&nbsp;Non éditable
                        </button>
                    </ng-container>
                    <!-- Document n'est pas au statut VALIDE -->
                    <ng-container *ngIf="document?.statut !== Statuts.VALIDE && (document?.statut !== Statuts.DEMANDE_VALIDATION || autorise('ROLE_ValidationDocumentsREDAC'))">
                        <button (click)="ouvrir(document)" [tooltip]="'Editer en ligne'" class="document-action-editer btn btn-primary">
                            <em class="fa-solid fa-pencil me-2 online-edition-picto"></em>&nbsp;Editer en ligne
                        </button>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>

        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle document-action-autre" aria-controls="dropdown-alignment">
            <span class="caret"></span>
        </button>
        <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-alignment">
            <!-- Document KO -->
            <ng-container *ngIf="document?.statut == Statuts.ERREUR">
                <!-- ---------------------------------- -->
                <!-- Validation / Demande de validation -->
                <!-- ---------------------------------- -->
                <ng-container>
                    <!-- Droits de validation -->
                    <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                        <ng-template #tooltip_erreur_action_validation_document_erreur>
                            <i class="fa-solid fa-ban"></i> Impossible de valider un document en erreur
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_erreur">
                            <a class="dropdown-item disabled"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                        </li>
                    </ng-container>
                    <!-- Pas de droits de validation -->
                    <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                        <ng-template #tooltip_erreur_action_soumission_document_erreur>
                            <i class="fa-solid fa-ban"></i> Impossible de soumettre un document en erreur
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_erreur">
                            <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                        </li>
                    </ng-container>
                </ng-container>

                <!-- ------------------------------------------------ -->
                <!-- Invalidation / Suppression demande de validation -->
                <!-- ------------------------------------------------ -->
                <ng-container>
                    <!-- Droits de validation -->
                    <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                        <ng-template #tooltip_erreur_action_invalidation_document_erreur>
                            <i class="fa-solid fa-exclamation-circle"></i> Impossible d'invalider un document en erreur
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_invalidation_document_erreur">
                            <a class="dropdown-item disabled"><i class="fa fa-times"></i>&nbsp;Invalider</a>
                        </li>
                    </ng-container>
                    <!-- Pas de droits de validation -->
                    <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                        <ng-template #tooltip_erreur_action_soumission_document_erreur>
                            <i class="fa-solid fa-exclamation-circle"></i> Impossible de ne plus soumettre un document en erreur
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_erreur">
                            <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                        </li>
                    </ng-container>
                </ng-container>

                <!-- ------------ -->
                <!-- notification -->
                <!-- ------------ -->
                <ng-container>

                    <ng-template #tooltip_erreur_action_notification_document_erreur>
                        <i class="fa-solid fa-exclamation-circle"></i> Impossible de notifier un document en erreur
                    </ng-template>

                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_notification_document_erreur">
                        <a class="dropdown-item disabled"><i class="fa fa-envelope"></i>&nbsp;Notifier par email</a>
                    </li>
                </ng-container>

                <!-- ---------- -->
                <!-- separateur -->
                <!-- ---------- -->
                <li class="divider dropdown-divider"></li>

                <!-- ---------------- -->
                <!-- previsualisation -->
                <!-- ---------------- -->
                <ng-container>
                    <ng-template #tooltip_erreur_action_previsualisation_document_erreur>
                        <i class="fa-solid fa-ban"></i> Impossible de prévisualiser un document en erreur
                    </ng-template>

                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_previsualisation_document_erreur">
                        <a class="dropdown-item disabled"><i class="fa-solid fa-eye"></i>&nbsp;Prévisualiser le document</a>
                    </li>
                </ng-container>
                <!-- -------------- -->
                <!-- téléchargement -->
                <!-- -------------- -->
                <ng-container>
                    <ng-template #tooltip_erreur_action_telechargement_document_erreur>
                        <i class="fa-solid fa-ban"></i> Impossible de télécharger un document en erreur
                    </ng-template>

                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_telechargement_document_erreur">
                        <span class="dropdown-item disabled"><i class="fa fa-file-download"></i>&nbsp;Télécharger</span>
                    </li>
                </ng-container>
                <!-- ------------------------- -->
                <!-- historique des événements -->
                <!-- ------------------------- -->
                <ng-container>
                    <li role="menuitem" tooltip="Historique des événements">
                        <a class="dropdown-item" (click)="inventorier(document)"><i class="fas fa-clock"></i>&nbsp;Historique des événements</a>
                    </li>
                </ng-container>

                <!-- ---------- -->
                <!-- separateur -->
                <!-- ---------- -->
                <li class="divider dropdown-divider"></li>

                <!-- --------- -->
                <!-- renommage -->
                <!-- --------- -->
                <ng-container>
                    <ng-template #tooltip_erreur_action_renommage_document_erreur>
                        <i class="fa-solid fa-ban"></i> Impossible de renommer un document en erreur
                    </ng-template>

                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_renommage_document_erreur">
                        <span class="dropdown-item disabled"><i class="fa fa-pen"></i>&nbsp;Renommer</span>
                    </li>
                </ng-container>

                <!-- ----------- -->
                <!-- duplication -->
                <!-- ----------- -->
                <ng-container>
                    <ng-template #tooltip_erreur_action_duplication_document_erreur>
                        <i class="fa-solid fa-exclamation-circle"></i> Impossible de dupliquer un document en erreur
                    </ng-template>

                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_duplication_document_erreur">
                        <a class="dropdown-item disabled"><i class="fa fa-copy"></i>&nbsp;Dupliquer</a>
                    </li>
                </ng-container>
                <!-- ----------- -->
                <!-- suppression -->
                <!-- ----------- -->
                <ng-container>
                    <!-- Document EN EDITION -->
                    <ng-container *ngIf="document?.ouvert">
                        <ng-template #tooltip_erreur_action_suppression_document_ouvert>
                            <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour pouvoir le supprimer
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_suppression_document_ouvert">
                            <a class="dropdown-item disabled"><i class="fa fa-trash"></i>&nbsp;Supprimer</a>
                        </li>
                    </ng-container>
                    <!-- Document FERME -->
                    <ng-container *ngIf="!document?.ouvert">
                        <li role="menuitem" tooltip="Supprimer">
                            <a class="dropdown-item danger" (click)="supprimer(document)"><i class="fa fa-trash"></i>&nbsp;Supprimer</a>
                        </li>
                    </ng-container>
                </ng-container>
            </ng-container>
            <!-- Document OK -->
            <ng-container *ngIf="document?.statut != Statuts.ERREUR">
                <!-- ---------------------------------- -->
                <!-- Validation / Demande de validation -->
                <!-- ---------------------------------- -->
                <ng-container>
                    <!-- Document OUVERT en édition -->
                    <ng-container *ngIf="document?.ouvert">
                        <!-- Document au statut BROUILLON -->
                        <ng-container *ngIf="document?.statut === Statuts.BROUILLON">
                            <!-- Validation bloquée jusqu'a la fermeture -->
                            <!-- Droits de validation -->
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_validation_document_brouillon_ouvert>
                                    <i class="fa-solid fa-ban"></i> Merci de fermer le document pour pouvoir le valider
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_brouillon_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                                </li>
                            </ng-container>
                            <!-- Pas de droits de validation -->
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumission_document_brouillon_ouvert>
                                    <i class="fa-solid fa-ban"></i> Merci de fermer le document pour pouvoir le soumettre
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_brouillon_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                                </li>
                            </ng-container>
                        </ng-container>

                        <!-- Document au statut DEMANDE_VALIDATION -->
                        <!-- L'utilisateur doit avoir les droits de validation -->
                        <!-- Normalement impossible d'ouvrir en édition un document en DEMANDE_VALIDATION -->
                        <ng-container *ngIf="document?.statut === Statuts.DEMANDE_VALIDATION">
                            <!-- Droits de validation -->
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_validation_document_soumis_ouvert>
                                    <i class="fa-solid fa-ban"></i> Merci de fermer le document pour pouvoir le valider
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_soumis_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                                </li>
                            </ng-container>
                            <!-- Pas de droits de validation -->
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumssion_document_soumis_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Le document est déjà soumis
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumssion_document_soumis_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                                </li>
                            </ng-container>
                        </ng-container>

                        <!-- Document au statut VALIDE -->
                        <!-- L'utilisateur ne doit pas avoir les droits de validation -->
                        <!-- Normalement impossible d'ouvrir en édition un document en VALIDE -->
                        <ng-container *ngIf="document?.statut === Statuts.VALIDE">
                            <!-- Droits de validation -->
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_validation_document_valide_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Le document est déjà validé
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_valide_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                                </li>
                            </ng-container>
                            <!-- Pas de droits de validation -->
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumission_document_valide_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Le document est validé, impossible de le soumettre
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_valide_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- Document FERME en édition -->
                    <ng-container *ngIf="!document?.ouvert">
                        <!-- Document au statut BROUILLON -->
                        <ng-container *ngIf="document?.statut === Statuts.BROUILLON">
                            <!-- Document <= 100% -->
                            <ng-container *ngIf="document?.progression < 100">
                                <!-- Droits de validation -->
                                <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                    <ng-template #tooltip_erreur_action_validation_document_encours_ferme>
                                        <i class="fa-solid fa-exclamation-circle"></i> Merci de terminer la validation des articles du document pour pouvoir le valider
                                    </ng-template>

                                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_encours_ferme">
                                        <a class="dropdown-item disabled"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                                    </li>
                                </ng-container>
                                <!-- Pas de droits de validation -->
                                <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                    <ng-template #tooltip_erreur_action_soumission_document_encours_ferme>
                                        <i class="fa-solid fa-exclamation-circle"></i> Merci de terminer la validation des articles du document pour pouvoir le soumettre
                                    </ng-template>

                                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_encours_ferme">
                                        <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                                    </li>
                                </ng-container>
                            </ng-container>
                            <!-- Document a 100% -->
                            <ng-container *ngIf="document?.progression == 100">
                                <!-- Droits de validation -->
                                <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                    <li role="menuitem" tooltip="Valider le document">
                                        <a class="dropdown-item" (click)="valider(document)"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                                    </li>
                                </ng-container>
                                <!-- Pas de droits de validation -->
                                <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                    <li role="menuitem" tooltip="Soumettre le document">
                                        <a class="dropdown-item" (click)="soumettre(document)"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ng-container>


                        <!-- Document au statut DEMANDE_VALIDATION -->
                        <!-- L'utilisateur doit avoir les droits de validation -->
                        <ng-container *ngIf="document?.statut === Statuts.DEMANDE_VALIDATION">
                            <!-- Document DEMANDE_VALIDATION donc forcément COMPLET -->
                            <!-- Droits de validation -->
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <li role="menuitem" tooltip="Valider le document">
                                    <a class="dropdown-item" (click)="valider(document)"><i class="fa fa-check"></i>&nbsp;Valider le document</a>
                                </li>
                            </ng-container>
                            <!-- Pas de droits de validation -->
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumission_document_soumis_ferme>
                                    <i class="fa-solid fa-exclamation-circle"></i> Document déjà soumis
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_soumis_ferme">
                                    <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                                </li>
                            </ng-container>
                        </ng-container>

                        <!-- Document au statut VALIDE -->
                        <!-- L'utilisateur ne doit pas avoir les droits de validation -->
                        <ng-container *ngIf="document?.statut === Statuts.VALIDE">
                            <!-- Document VALIDE donc forcément COMPLET -->
                            <!-- Quelque soit les droits de l'utilisateur -->
                            <ng-template #tooltip_erreur_action_soumission_document_valide_ferme>
                                <i class="fa-solid fa-exclamation-circle"></i> Le document est validé, impossible de le soumettre
                            </ng-template>

                            <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_valide_ferme">
                                <a class="dropdown-item disabled"><i class="fa fa-user-check"></i>&nbsp;Soumettre le document</a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <!-- ------------------------------------------------ -->
                <!-- Invalidation / Suppression demande de validation -->
                <!-- ------------------------------------------------ -->
                <ng-container>
                    <!-- Document OUVERT en édition -->
                    <ng-container *ngIf="document?.ouvert">
                        <!-- Document au statut BROUILLON -->
                        <ng-container *ngIf="document?.statut === Statuts.BROUILLON">
                            <!-- Validation bloquée jusqu'a la fermeture -->
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_invalidation_document_brouillon_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour pouvoir l'invalider
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_invalidation_document_brouillon_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-times"></i>&nbsp;Invalider</a>
                                </li>
                            </ng-container>
                            <!-- Soumission bloquée jusqu'a la fermeture -->
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumission_document_brouillon_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour ne plus le soumettre
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_brouillon_ouvert">
                                    <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                                </li>
                            </ng-container>
                        </ng-container>

                        <!-- Document au statut DEMANDE_VALIDATION -->
                        <!-- L'utilisateur doit avoir les droits de validation -->
                        <!-- Normalement impossible d'ouvrir en édition un document en DEMANDE_VALIDATION -->
                        <ng-container *ngIf="document?.statut === Statuts.DEMANDE_VALIDATION">
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_validation_document_soumis_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour pouvoir l'invalider
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_soumis_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-times"></i>&nbsp;Invalider</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumission_document_soumis_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour ne plus le soumettre
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_soumis_ouvert">
                                    <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                                </li>
                            </ng-container>
                        </ng-container>

                        <!-- Document au statut VALIDE -->
                        <!-- L'utilisateur ne doit pas avoir les droits de validation -->
                        <!-- Normalement impossible d'ouvrir en édition un document en VALIDE -->
                        <ng-container *ngIf="document?.statut === Statuts.VALIDE">
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_validation_document_valide_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour pouvoir l'invalider
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_valide_ouvert">
                                    <a class="dropdown-item disabled"><i class="fa fa-times"></i>&nbsp;Invalider</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_soumission_document_valide_ouvert>
                                    <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour ne plus le soumettre
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_valide_ouvert">
                                    <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- Document FERME en édition -->
                    <ng-container *ngIf="!document?.ouvert">
                        <!-- Document au statut BROUILLON -->
                        <ng-container *ngIf="document?.statut === Statuts.BROUILLON">
                            <!-- Document <= 100% -->
                            <ng-container *ngIf="document?.progression < 100">
                                <!-- Droits de validation -->
                                <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                    <ng-template #tooltip_erreur_action_validation_document_encours_ferme>
                                        <i class="fa-solid fa-exclamation-circle"></i> Merci de terminer la validation des articles du document pour pouvoir le valider
                                    </ng-template>

                                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_validation_document_encours_ferme">
                                        <a class="dropdown-item disabled"><i class="fa fa-times"></i>&nbsp;Invalider</a>
                                    </li>
                                </ng-container>
                                <!-- Pas les droits de validation -->
                                <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                    <ng-template #tooltip_erreur_action_soumission_document_encours_ferme>
                                        <i class="fa-solid fa-exclamation-circle"></i> Merci de terminer la validation des articles du document pour pouvoir le soumettre
                                    </ng-template>

                                    <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_soumission_document_encours_ferme">
                                        <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                                    </li>
                                </ng-container>

                            </ng-container>
                            <!-- Document a 100% -->
                            <ng-container *ngIf="document?.progression == 100">
                                <!-- Droits de validation ou non -->
                                <ng-template #tooltip_erreur_action_insoumission_document_encours_ferme>
                                    <i class="fa-solid fa-exclamation-circle"></i> Le document n'est pas encore soumis
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_insoumission_document_encours_ferme">
                                    <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                                </li>
                            </ng-container>
                        </ng-container>

                        <!-- Document au statut DEMANDE_VALIDATION -->
                        <!-- L'utilisateur doit avoir les droits de validation -->
                        <ng-container *ngIf="document?.statut === Statuts.DEMANDE_VALIDATION">
                            <!-- Document DEMANDE_VALIDATION donc forcément COMPLET -->
                            <!-- Droits de validation ou non -->
                            <li role="menuitem" tooltip="Ne plus soumettre le document / Permettre son édition">
                                <a class="dropdown-item" (click)="insoumettre(document)"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                            </li>
                        </ng-container>

                        <!-- Document au statut VALIDE -->
                        <!-- L'utilisateur ne doit pas avoir les droits de validation -->
                        <ng-container *ngIf="document?.statut === Statuts.VALIDE">
                            <!-- Document VALIDE donc forcément COMPLET -->
                            <!-- Droits de validation  -->
                            <ng-container *ngIf="autorise('ROLE_ValidationDocumentsREDAC')">
                                <li role="menuitem" tooltip="Invalider le document">
                                    <a class="dropdown-item" (click)="invalider(document)"><i class="fa fa-times"></i>&nbsp;Invalider</a>
                                </li>
                            </ng-container>
                            <!-- Pas les droits de validation -->
                            <ng-container *ngIf="!autorise('ROLE_ValidationDocumentsREDAC')">
                                <ng-template #tooltip_erreur_action_insoumission_document_valide_ferme>
                                    <i class="fa-solid fa-exclamation-circle"></i> Le document est déjà validé, impossible pour vous de ne plus le soumettre
                                </ng-template>

                                <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_insoumission_document_valide_ferme">
                                    <a class="dropdown-item disabled"><i class="fas fa-user-times"></i>&nbsp;Ne plus soumettre</a>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <!-- ------------ -->
                <!-- notification -->
                <!-- ------------ -->
                <ng-container>
                    <!-- Document au statut DEMANDE VALIDATION -->
                    <ng-container *ngIf="document?.statut === Statuts.DEMANDE_VALIDATION">
                        <li role="menuitem" tooltip="Notification du document">
                            <a class="dropdown-item" (click)="notifier(document)"><i class="fa fa-envelope"></i>&nbsp;Notifier par email</a>
                        </li>
                    </ng-container>
                    <!-- Document n'est pas au statut DEMANDE VALIDATION -->
                    <ng-container *ngIf="document?.statut !== Statuts.DEMANDE_VALIDATION">
                        <ng-template #tooltip_erreur_action_notification_document_insoumis>
                            <i class="fa-solid fa-exclamation-circle"></i> Le document n'est pas en demande de validation, impossible de le notifier
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_notification_document_insoumis">
                            <a class="dropdown-item disabled"><i class="fa fa-envelope"></i>&nbsp;Notifier par email</a>
                        </li>
                    </ng-container>
                </ng-container>

                <!-- ---------- -->
                <!-- separateur -->
                <!-- ---------- -->
                <li class="divider dropdown-divider"></li>

                <!-- ---------------- -->
                <!-- previsualisation -->
                <!-- ---------------- -->
                <ng-container>
                    <!-- Document au statut VALIDE -->
                    <ng-container *ngIf="document?.statut === Statuts.VALIDE">
                        <ng-template #tooltip_erreur_action_previsualiser_document_valide>
                            <i class="fa-solid fa-ban"></i> Impossible de prévisualiser un document validé
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_previsualiser_document_valide">
                            <a class="dropdown-item disabled"><i class="fa-solid fa-eye"></i>&nbsp;Prévisualiser le document</a>
                        </li>
                    </ng-container>
                    <!-- Document n'est pas au statut VALIDE -->
                    <ng-container *ngIf="document?.statut !== Statuts.VALIDE">
                        <li role="menuitem" tooltip="Prévisualiser le document">
                            <a class="dropdown-item" (click)="previsualiser(document)"><i class="fa-solid fa-eye"></i>&nbsp;Prévisualiser le document</a>
                        </li>
                    </ng-container>
                </ng-container>
                <!-- -------------- -->
                <!-- téléchargement -->
                <!-- -------------- -->
                <ng-container>
                    <li role="menuitem" tooltip="Télécharger">
                        <a class="dropdown-item" (click)="telecharger(document)"><i class="fa fa-file-download"></i>&nbsp;Télécharger</a>
                    </li>
                </ng-container>
                <!-- ------------------------- -->
                <!-- historique des événements -->
                <!-- ------------------------- -->
                <ng-container>
                    <li role="menuitem" tooltip="Historique des événements">
                        <a class="dropdown-item" (click)="inventorier(document)"><i class="fas fa-clock"></i>&nbsp;Historique des événements</a>
                    </li>
                </ng-container>

                <!-- ---------- -->
                <!-- separateur -->
                <!-- ---------- -->
                <li class="divider dropdown-divider"></li>

                <!-- --------- -->
                <!-- renommage -->
                <!-- --------- -->
                <ng-container>
                    <!-- Document EN EDITION -->
                    <ng-container *ngIf="document?.ouvert">
                        <ng-template #tooltip_erreur_action_renommage_document_ouvert>
                            <i class="fa-solid fa-ban"></i> Merci de fermer le document pour pouvoir modifier le nom du fichier
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_renommage_document_ouvert">
                            <span class="dropdown-item disabled"><i class="fa fa-pen"></i>&nbsp;Renommer</span>
                        </li>
                    </ng-container>
                    <!-- Document FERME -->
                    <ng-container *ngIf="!document?.ouvert">
                        <li role="menuitem" tooltip="Modifier le nom du document">
                            <a class="dropdown-item" (click)="editer(document)"><i class="fa fa-pen"></i>&nbsp;Renommer</a>
                        </li>
                    </ng-container>
                </ng-container>

                <!-- ----------- -->
                <!-- duplication -->
                <!-- ----------- -->
                <ng-container>
                    <li role="menuitem" tooltip="Dupliquer"><a class="dropdown-item" (click)="dupliquer(document)"><i class="fa fa-copy"></i>&nbsp;Dupliquer</a></li>
                </ng-container>
                <!-- ----------- -->
                <!-- suppression -->
                <!-- ----------- -->
                <ng-container>
                    <!-- Document EN EDITION -->
                    <ng-container *ngIf="document?.ouvert">
                        <ng-template #tooltip_erreur_action_suppression_document_ouvert>
                            <i class="fa-solid fa-exclamation-circle"></i> Merci de fermer le document pour pouvoir le supprimer
                        </ng-template>

                        <li role="menuitem" class="disabled" [tooltip]="tooltip_erreur_action_suppression_document_ouvert">
                            <a class="dropdown-item disabled"><i class="fa fa-trash"></i>&nbsp;Supprimer</a>
                        </li>
                    </ng-container>
                    <!-- Document FERME -->
                    <ng-container *ngIf="!document?.ouvert">
                        <li role="menuitem" tooltip="Supprimer">
                            <a class="dropdown-item danger" (click)="supprimer(document)"><i class="fa fa-trash"></i>&nbsp;Supprimer</a>
                        </li>
                    </ng-container>
                </ng-container>
                <!-- ---------------- -->
                <!-- fermeture forcée -->
                <!-- ---------------- -->
                <ng-container>
                  <!-- Document EN EDITION -->
                  <ng-container *ngIf="document?.ouvert && autorise('ROLE_ValidationDocumentsREDAC')">
                    <li role="menuitem" tooltip="Forcer la fermeture">
                      <a class="dropdown-item danger" (click)="fermeture(document)"><i class="fa fa-xmark"></i>&nbsp;Forcer la fermeture</a>
                    </li>
                  </ng-container>
                </ng-container>
            </ng-container>


        </ul>
    </div>
</ng-template>

<!-- ----------------------------- -->
<!-- Template de type de documents -->
<!-- ----------------------------- -->
<ng-template #type let-document="document">
    <div class="document-vues">
        <span class="badge me-1 badge-type document-type" tooltip="{{ document?.modele?.libelle }}">{{ document?.modele?.type?.code }}</span>
    </div>
</ng-template>

<!-- ------------------------------------ -->
<!-- Template de metadonnees de documents -->
<!-- ------------------------------------ -->
<ng-template #metadata let-document="document">
    <section class="document-titre">
        <span class="document-nom">{{ document.nom + '.' +  document.extension }}</span>
    </section>
    <aside class="document-metadonnees">
        <div class="document-metadonnees-auteur" *ngIf="document.creation?.utilisateur">
            <em class="fa fa-xm fa-address-card me-1 text-primary"></em><span>{{ document?.creation?.utilisateur?.prenom }} {{ document?.creation?.utilisateur?.nom }}</span>
        </div>
    </aside>
</ng-template>

<!-- ------------------------------ -->
<!-- Template du statut du document -->
<!-- ------------------------------ -->
<ng-template #status let-document="document">
    <ng-container *ngIf="document?.statut == Statuts.ERREUR">
        <div class="tooltiper">
            <div class="error-disclaimer" [tooltip]="'Une erreur s\'est produite lors de l\'édition de ce document. '+document?.modification?.commentaire">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>Document en erreur</strong>
                <span>Merci de contacter votre support</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="document?.statut != Statuts.ERREUR">
        <div class="tooltiper">
            <progressbar tooltip="Le taux de progression du document correspond au rapport entre le nombre total d’articles validés manuellement ou automatiquement ET le nombre total d’articles, exprimé en pourcentage" max="100" [value]="document.progression" [type]="documentStatutTypeMapper.map(document)" [striped]="true" [animate]="false">
                <span>{{ documentStatutLabelMapper.map(document) }} - {{ document.progression | number:'1.0-0' }}%</span>
            </progressbar>

            <div class="document-metadonnees-modification">
                <i class="fa-solid fa-xm fa-calendar me-1 text-primary"></i>{{ document?.modification?.date | fr_date }}
            </div>
        </div>
    </ng-container>
</ng-template>

<!-- --------------------------- -->
<!-- Template de la consultation -->
<!-- --------------------------- -->
<ng-template #template_consultation>
    <header class="document-list-header">
        <table class="document-list-header-info" *ngIf="panel.estResume() || panel.estComplet()">
          <tr>
            <th>Référence</th>
            <td>{{consultation?.numero}}<img *ngIf="consultation?.mps" [src]="contextualiser('dume.png')" alt="dume simplifié" class="ms-1"/></td>
          </tr>
          <tr>
            <th>Objet de la consultation</th>
            <td>{{consultation?.objet}}</td>
          </tr>
          <tr>
            <th>Date limite de remise des plis</th>
            <td>{{ consultation?.dateRemisePlis | fr_date }}</td>
          </tr>

          <ng-container class="document-list-header-info-more" *ngIf="panel.estComplet()">
            <tr>
              <th>Entité publique</th>
              <td>{{consultation?.organisme?.libelle}}</td>
            </tr>
            <tr>
              <th>Service</th>
              <td>{{consultation?.service?.libelle}}</td>
            </tr>
            <tr>
              <th>Type d'annonce</th>
              <td>Annonce de consultation</td>
            </tr>
            <tr>
              <th>Type de procédure</th>
              <td>{{consultation?.procedure?.libelle}}</td>
            </tr>
            <tr>
              <th>Intitulé de la consultation</th>
              <td>{{consultation?.intitule}}</td>
            </tr>
          </ng-container>
        </table>
        <span class="document-list-header-info-switch" *ngIf="panel.estResume()" (click)="this.panel.agrandir()">
          <span><i class="fa-solid fa-plus-circle"></i> Afficher toutes les informations</span>
        </span>
        <span class="document-list-header-info-switch" *ngIf="panel.estComplet()" (click)="this.panel.resumer()">
          <span><i class="fa-solid fa-eye-slash"></i> Masquer ces informations
        </span>
    </span>

    </header>
</ng-template>

<!-- ------------------ -->
<!-- Template principal -->
<!-- ------------------ -->
<ng-template #template_documents let-documents="documents">
    <div id="documents">
        <table class="table table-cards table-striped documents">
            <thead>
                <tr>
                    <th scope="col" class="documents-colonne-plus">Type</th>
                    <th scope="col" class="documents-colonne-nom">Nom du document</th>
                    <th scope="col" class="documents-colonne-statut">Statut / Date de création</th>
                    <th scope="col" class="documents-colonne-actions actions">Actions</th>
                </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let document of documents; let index = index; count as total">
                <tr class="table-divider document" [class.document-ko]="document?.statut == Statuts.ERREUR">
                    <td>
                        <ng-container [ngTemplateOutlet]="type" [ngTemplateOutletContext]="{ document: document }"></ng-container>
                    </td>
                    <td>
                        <ng-container [ngTemplateOutlet]="metadata" [ngTemplateOutletContext]="{ document: document }"></ng-container>
                    </td>
                    <td>
                        <ng-container [ngTemplateOutlet]="status" [ngTemplateOutletContext]="{ document: document }"></ng-container>
                    </td>
                    <td class="document-actions">
                        <ng-container [ngTemplateOutlet]="actions" [ngTemplateOutletContext]="{ document: document, index: index, total: total }"></ng-container>
                    </td>
                </tr>
            </ng-container>

            </tbody>
        </table>
    </div>
</ng-template>

<section class="header-embedded">
    <ng-container [ngTemplateOutlet]="template_consultation"></ng-container>
</section>

<section class="header-fullscreen">
    <span class="cartouche-etat-button" (click)="panel.inverser()" aria-controls="panel"><i class="fa-solid fa-circle-info"></i></span>
    <div id="panel" [collapse]="panel.estFerme()">
        <ng-container [ngTemplateOutlet]="template_consultation"></ng-container>
    </div>
</section>

<div>
    <tabset #tabset>
        <tab id="tab-documents-simple" (selectTab)="tab?.changer($event)" #tab_doc_simple [active]="tab?.actif(tab_doc_simple)">
            <ng-template tabHeading>
                <span class="tab-title">Documents éditables en ligne <span class="badge badge-primary">{{ documents | document_simple_counter }}</span></span>
            </ng-template>

            <div class="d-inline-block mb-3">
                <button *ngIf="this.modelePlateforme"
                        (click)="creer(Modeles.MODELE_PLATEFORME)"
                        class="btn btn-outline-primary m-2"
                        tooltip="Créer un document éditable en ligne"
                >
                    <i class="fas fa-plus me-2"></i>Modèles plateforme
                </button>
                <button *ngIf="this.modeleDaj"
                        (click)="creer(Modeles.MODELE_DAJ)"
                        class="btn btn-outline-primary m-2"
                        tooltip="Créer un document éditable en ligne sur la base d'un modèle DAJ OUV, NOTI, ATTRI ou DC"
                >
                    <i class="fas fa-plus me-2"></i>Modèles DAJ
                </button>
                <button
                        (click)="creer(Modeles.DOCUMENT_LIBRE)"
                        class="btn btn-outline-primary m-2"
                        tooltip="Télécharger et éditer un document depuis votre poste (formats tolérés : docx / xlsx)"
                >
                    <i class="fas fa-plus me-2"></i>Ajouter un document
                </button>
                <button
                        (click)="recopier('editable')"
                        class="btn btn-outline-primary m-2"
                        tooltip="Dupliquer un document éditable en ligne depuis une autre consultation"
                >
                    <i class="fas fa-clipboard me-2"></i>Dupliquer depuis une autre consultation
                </button>
            </div>
            <section id="loader1" class="loader-container" *ngIf="loading">
              <atexo-redacdocument-loader message="Chargement des documents en cours, merci de patienter"></atexo-redacdocument-loader>
            </section>
            <ng-container
                    *ngIf="(documents | document_simple_counter) > 0"
                    [ngTemplateOutlet]="template_documents"
                    [ngTemplateOutletContext]="{documents:documents | document_simple_filter}"
            ></ng-container>

        </tab>
        <tab id="tab-documents-complex" (selectTab)="tab?.changer($event)" #tab_doc_complex [active]="tab?.actif(tab_doc_complex)">
            <ng-template tabHeading>
                <span class="tab-title">Documents canevas <span class="badge badge-primary">{{ documents | document_complex_counter }}</span></span>
            </ng-template>
            <div class="d-inline-block mb-3">
                <button (click)="creer(Modeles.DOCUMENT_CANEVAS)" class="btn btn-outline-primary m-2" tooltip="Créer un document sur la base d'un canevas (CCAP, CCP, RC, CCP-AE)"><i class="fas fa-plus me-2"></i>Créer un document (CCAP, CCP, RC, CCP-AE)</button>
                <button (click)="recopier('canevas')" class="btn btn-outline-primary m-2" tooltip="Dupliquer un document canevas depuis une autre consultation"><i class="fas fa-clipboard me-2"></i>Dupliquer depuis une autre consultation</button>
            </div>
            <section id="loader2" class="loader-container" *ngIf="loading">
              <atexo-redacdocument-loader message="Chargement des documents en cours, merci de patienter"></atexo-redacdocument-loader>
            </section>
            <ng-container
                    *ngIf="(documents | document_complex_counter) > 0"
                    [ngTemplateOutlet]="template_documents"
                    [ngTemplateOutletContext]="{documents:documents | document_complex_filter}"
            ></ng-container>

        </tab>
    </tabset>
</div>
