<!-- --------------- -->
<!-- Template action -->
<!-- --------------- -->
<ng-template #template_gabarit let-surcharge="surcharge">
    <tr [class.active]="active(surcharge)">
        <td>
          <span class="surcharge-titre">
            <ng-container [ngSwitch]="surcharge?.niveau">
            <ng-container *ngSwitchCase="Niveaux.AGENT"><em class="fa fa-user"></em></ng-container>
            <ng-container *ngSwitchCase="Niveaux.ENTITE_ACHAT"><em class="fas fa-users"></em></ng-container>
            <ng-container *ngSwitchCase="Niveaux.ORGANISME"><em class="fa fa-university"></em></ng-container>
            <ng-container *ngSwitchCase="Niveaux.PLATEFORME"><em class="fas fa-globe"></em></ng-container>
            <ng-container *ngSwitchDefault></ng-container>
            </ng-container>
            <span class="template-icon">
              <i tooltip="Modèle actif" class="surcharge-tip text-success fas fa-long-arrow-alt-right me-1"></i>&nbsp;{{ surcharge?.libelle }}
            </span>
          </span>

        </td>
        <td>
            <ng-container *ngIf="surcharge?.gabarit">
                {{ surcharge?.gabarit?.modification?.date | fr_date }}
            </ng-container>
            <ng-container *ngIf="!surcharge?.gabarit">
                -
            </ng-container>
        </td>
        <td>
            <ng-container *ngIf="surcharge?.gabarit">
                <!-- ---------------- -->
                <!--    historique    -->
                <!-- ---------------- -->
                <button (click)="inventorier(surcharge?.gabarit)" tooltip="Historique des événements" class="btn btn-primary fas fa-clock me-1"></button>
                <!-- ---------------- -->
                <!--  téléchargement  -->
                <!-- ---------------- -->
                <button (click)="telecharger(surcharge?.gabarit)" tooltip="Télécharger" class="btn btn-primary fa fa-download me-1"></button>
                <!-- ---------------- -->
                <!-- previsualisation -->
                <!-- ---------------- -->
                <button (click)="previsualiser(surcharge?.gabarit)" tooltip="Prévisualiser la surcharge du gabarit" class="btn btn-primary fa-solid fa-eye me-1"></button>
                <!-- ---------------- -->
                <!--   suppression    -->
                <!-- ---------------- -->
                <button (click)="supprimer(surcharge?.gabarit)" *ngIf="surcharge?.niveau != Niveaux.PLATEFORME" tooltip="Supprimer la surcharge du gabarit" class="btn btn-primary fa fa-trash me-1"></button>
            </ng-container>
            <ng-container *ngIf="!surcharge?.gabarit">
                -
            </ng-container>
        </td>
    </tr>
</ng-template>

<!-- ------------------ -->
<!-- Template principal -->
<!-- ------------------ -->
<ng-container *ngIf="surcharges">
    <section>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="modele">Gabarit <i class="fa-solid fa-asterisk asterisk"></i></label>
                <div class="col-sm-10 me-0 pe-0">
                    <ng-select
                            (change)="charger()"
                            [(ngModel)]="selection"
                            [bindLabel]="'libelle'"
                            [clearable]="false"
                            [groupBy]="grouper"
                            [items]="modeles"
                            id="modele"
                            dropdownPosition="bottom"
                            notFoundText="Aucun résultat"
                    >
                        <ng-template let-item="item" ng-label-tmp ng-option-tmp>
                            <span class="badge me-1 badge-type">{{ item.type.code }}</span>{{item.libelle}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading">
          <atexo-redacdocument-loader></atexo-redacdocument-loader>
        </div>
    </section>

    <section *ngIf="selection">
        <div class="card-body">
            <table class="table table-templates">
                <thead>
                <tr>
                    <td>Modèle</td>
                    <td>Dernière version disponible</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let surcharge of surcharges">
                    <ng-container
                            [ngTemplateOutlet]="template_gabarit"
                            [ngTemplateOutletContext]="{ surcharge: surcharge }"
                    ></ng-container>
                </ng-container>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-right">
            <button (click)="creer()" class="btn btn-primary">Ajouter ou remplacer un gabarit</button>
        </div>
    </section>
    <div *ngIf="!selection" class="alert alert-warning">
        Aucun modèle sélectionné
    </div>
</ng-container>

<section *ngIf="surcharges.length === 0" id="loader" class="loader-container">
    <atexo-redacdocument-loader></atexo-redacdocument-loader>
</section>

