.text-right {
  text-align: right;
}

.surcharge-tip {
  display: none;
}

.surcharge-titre {
  display: flex;
  align-items: baseline;

  em {
    display: inline-block;
    margin-right: 12px;
    color: #ccc;
  }
}


tr.active {
  .surcharge-tip{
    display: flex;
  }
}

.table-templates {
  td {
    padding: 2rem 0;
  }

  .template-icon {
    display: flex;
    align-items: center;
  }
}

.ng-dropdown-panel {
  margin: 0 !important;
}

.loader-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
