<template nf-if [ngIf]="contact != null">


    <a *ngIf="contact.nomContactDestinataire != null && contact.nomContactDestinataire != ''" role="button" class="popover-detail" tabindex="0"
       data-toggle="popover" data-trigger="focus"
       [id]="'detail_contact_'+identifier">
        <span class="user">
            {{contact.nomContactDestinataire}}
        </span>
    </a>

    <a *ngIf="contact.nomContactDestinataire == null || contact.nomContactDestinataire ==''" role="button" class="popover-detail" tabindex="0"
       data-toggle="popover" data-trigger="focus"
       [id]="'detail_contact_'+identifier">
        email
        <span class="user">
            {{contact.mailContactDestinataire}}
        </span>
    </a>

    <!-- Content for Popover Agent -->
    <div [id]="'detail_contact_'+identifier+'_popover'" class="hidden">
        <div class="popover-heading">{{contact.nomContactDestinataire}}</div>
        <div class="popover-body">
            <div>
                {{contact.nomEntrepriseDestinataire}}
            </div>
            <div *ngIf="contact.mailContactDestinataire != null"><i class="fa fa-envelope" data-toggle="tooltip" data-original-title="Email"><span
                    class="sr-only">Email</span></i> <a href="mailto:{{contact.mailContactDestinataire}}">{{contact.mailContactDestinataire}}</a>
            </div>
        </div>
    </div>
    <!-- // Fin Content for Popover Agent -->
</template>