<template nf-if [ngIf]="utilisateur != null">

    <a role="button" class="popover-detail" tabindex="0" data-toggle="popover" data-trigger="focus" [id]="'detail_agent_'+identifier">
        <span class="user">{{utilisateur.prenom}} {{utilisateur.nom}}</span></a>

    <!-- Content for Popover Agent -->
    <div [id]="'detail_agent_'+identifier+'_popover'" class="hidden">
        <div class="popover-heading">{{utilisateur.prenom}} {{utilisateur.nom | uppercase }}</div>
        <div class="popover-body">
            <div *ngIf="utilisateur.service != null && utilisateur.service.nom != null"><i class="fa fa-sitemap" data-toggle="tooltip"
                                                                                           data-original-title="Direction/Service"><span class="sr-only">Direction/Service</span></i>
                {{utilisateur.service.nom }}
            </div>
            <div *ngIf="utilisateur.email != null"><i class="fa fa-envelope" data-toggle="tooltip" data-original-title="Email"><span
                    class="sr-only">Email</span></i> <a href="mailto:{{utilisateur.email}}">{{utilisateur.email}}</a></div>
            <div *ngIf="utilisateur.telephone != null"><i class="fa fa-phone" data-toggle="tooltip" data-original-title="Téléphone"><span
                    class="sr-only">Téléphone</span></i> {{utilisateur.telephone}}
            </div>
        </div>
    </div>
    <!-- // Fin Content for Popover Agent -->

</template>