{% block stylesheets %}
    <link href="{{ asset('app/css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock %}

<!-- Début modal signer doc HORS LIGNE -->
<div class="modal fade" id="modal-assistant-marche-public" tabindex="-1" role="dialog"
     aria-labelledby="{{ 'TEXT_INFORMATIONS_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"
                    id="myModalLabel">{{ 'TEXT_INFORMATIONS_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}</h4>
            </div>
            <div class="modal-body" id="content-assistant-marche-public">
                <div class="alert alert-info" role="alert">
                    {{ 'TEXT_MESSAGE_INFO_ASSISTANT_MARCHES_PUBLICS' |trans |raw }}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="button" data-toggle="collapse" href="#id-collapse-assistant-cas-1"
                         aria-expanded="false" aria-controls="id-collapse-assistant-cas-1">
                        <h2 class="h4 panel-title">
                            {{ 'TEXT_CAS_1_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}
                        </h2>
                    </div>
                    <div class="panel-body collapse" id="id-collapse-assistant-cas-1">
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-12">
                                    <p>{{ 'TEXT_CAS_1_TELECHARGER_APPLICATION'|trans| raw }}</p>
                                </div>
                                <div class="col-md-11">
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="{{ urls.url_central_referentiel }}{{ urls.windows }}">
                                                        <i class="fa fa-windows"></i>&nbsp;&nbsp;&nbsp;{{ 'TEXT_CAS_1_TELECHARGER_WINDOWS' |trans }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ urls.url_central_referentiel }}{{ urls.macos }}">
                                                        <i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;{{ 'TEXT_CAS_1_TELECHARGER_MACOS' |trans }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ urls.url_central_referentiel }}{{ urls.linux }}">
                                                        <i class="fa fa-linux"></i>&nbsp;&nbsp;&nbsp;{{ 'TEXT_CAS_1_TELECHARGER_LINUX' |trans }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p>{{ 'TEXT_CAS_1_RESUME'|trans| raw }} <span class="badge badge-success">{{ 'CONNECTE' |trans }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="button" data-toggle="collapse" href="#id-collapse-assistant-cas-2"
                         aria-expanded="false" aria-controls="id-collapse-assistant-cas-2">
                        <h2 class="h4 panel-title">
                            {{ 'TEXT_CAS_2_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}
                        </h2>
                    </div>
                    <div class="panel-body collapse" id="id-collapse-assistant-cas-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ 'TEXT_CAS_2_RESUME_1' |trans |raw }} <span class="badge badge-danger">{{ 'NON_CONNECTE' |trans }}</span>
                                            {{ 'TEXT_CAS_2_RESUME_2' |trans|raw }}
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ 'TEXT_CAS_2_RESUME_3' | trans| raw }} <span class="badge badge-success">{{ 'CONNECTE' |trans }}</span>
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ 'TEXT_CAS_2_RESUME_4' | trans |raw }} <span class="badge badge-danger">{{ 'NON_CONNECTE' |trans }}</span>
                                            {{ 'TEXT_CAS_2_RESUME_5' | trans | raw }}
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ 'FERMER'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal signer doc HORS LIGNE-->

