{% extends 'layout.html.twig' %}

{% block stylesheet_sf1 %}
    {{ parent() }}
    {{ encore_entry_link_tags('outilsSignatures') }}
{% endblock %}

{% block content %}
    <div class="sign-document">
        <div class="main-part" id="main-part">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li><a href="{{ PF_URL }}entreprise">
                            {{ 'TEXT_ACCUEIL'|trans }}
                        </a>
                    </li>
                    <li>{{ 'DEFINE_TEXT_OUTILS_DE_SIGNATURE'|trans }}</li>
                    <li> {{ 'SIGNER_UN_DOCUMENT'|trans }}</li>
                </ul>
            </div>
            <!--BEGIN SIGNER DOCUMENT-->
            {% if is_module_disabled_for_one_organisme('activerMonAssistantMarchesPublics') == false %}
                <div id="assistance-status-checker"
                     data-path_modal="javascript:showModalAssistance()"
                     data-translations="{{ translations }} "
                >
                    <atx-assistance-status-checker></atx-assistance-status-checker>
                </div>
            {% endif %}
            <div class="panel panel-default">

                {% for label, messages in app.flashes(['warning', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message |trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="panel-body">
                    <p>
                        <strong>
                            {{ 'TEXT_SIGNATURE_DOC' |trans |raw }}
                        </strong>
                    </p>

                    <ul class="diagnostic-liste sign-document-list">
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'APPLICATION_SIGNATURE_DOC' |trans }}
                        </li>
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'JETON_SIGNATURE_DOC' |trans }}
                        </li>
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'VERFIER_CERTIFICATS_POUR_SIGNATURE_DOC' |trans }}
                        </li>
                    </ul>

                </div>
                {% if is_module_disabled_for_one_organisme('activerMonAssistantMarchesPublics') == false %}
                    <div class="panel-footer clearfix" id="assistance-launch"
                         data-plateform="{{ plateform }}"
                         data-url-crypto="{{ urls.crypto }}">

                        <a href="#"
                           v-on:click.prevent="verifyConnection(0)"
                           class="btn btn-primary btn-sm btn-footer pull-right bouton"
                           style="border:0">{{ 'LANCER_OUTIL_SIGNATURE' | trans }}
                        </a>

                    </div>
                {% else %}
                    <div class="panel-footer clearfix">

                        <a href="{{ path('atexo_download_outil_signature') }}" target="_blank"
                           class="btn btn-primary btn-sm btn-footer pull-right bouton"
                           style="border:0">{{ 'LANCER_OUTIL_SIGNATURE' | trans }}
                        </a>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--END SIGNER DOCUMENT-->
    <!-- Début modal details signature -->
    {% include 'outils-signature/modal-assistant-marche-public.html.twig'  with {'urls': urls } %}
    <!-- Fin modal details signature -->
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('app/js/assistance-marche-public.js') }}"></script>
    {{ encore_entry_script_tags('assistance-status-checker') }}
    {{ encore_entry_script_tags('assistance-launch') }}
{% endblock %}
