{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('outilsSignatures') }}
{% endblock %}

{% block content %}
    <div class="sign-document">
        <div class="main-part" id="main-part">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        {{ 'TEXT_ACCUEIL'|trans }}
                    </li>
                    <li class="breadcrumb-item item-chevron active">
                        {{ 'DEFINE_TEXT_OUTILS_DE_SIGNATURE'|trans }}
                    </li>
                    <li class="breadcrumb-item item-chevron active">
                        {{ 'SIGNER_UN_DOCUMENT'|trans }}
                    </li>
                </ul>
            </div>
            <!--BEGIN SIGNER DOCUMENT-->
            {% if specifiquePlace == false and is_module_enabled('ActiverMonAssistantMarchesPublics', app.user.organisme, 'is') %}
                <div
                        id="assistance-status-checker"
                        data-toggle="modal"
                        data-target="#modal-assistant-marche-public"
                        data-translations="{{ translations }} "
                >
                    <atx-assistance-status-checker></atx-assistance-status-checker>
                </div>
            {% endif %}

            <div class="card mb-1">
                <div class="card-content">
                    <div class="card-body">
                    {% for label, messages in app.flashes(['warning', 'error']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message |trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                        <p>
                            <strong>
                                {{ 'TEXT_SIGNATURE_DOC' |trans |raw }}
                            </strong>
                        </p>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'APPLICATION_SIGNATURE_DOC' |trans }}
                            </li>
                            <li class="list-group-item">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'JETON_SIGNATURE_DOC' |trans }}
                            </li>
                            <li class="list-group-item">
                                <span class="fa fa-chevron-right"></span>
                                {{ 'VERFIER_CERTIFICATS_POUR_SIGNATURE_DOC' |trans }}
                            </li>
                        </ul>
                    </div>
                    <div class="row d-flex align-items-center p-6">
                        {% if specifiquePlace == false and is_module_enabled('ActiverMonAssistantMarchesPublics', app.user.organisme, 'is') %}
                            <div
                                    id="assistance-launch"
                                    data-plateform="{{ plateform }}"
                                    data-url-crypto="{{ urls.crypto }}"
                                    class="col"
                                    style="margin: 1.5rem;"
                            >
                                <a
                                        href="#"
                                        v-on:click.prevent="verifyConnection(0)"
                                        class="btn btn-primary pull-right"
                                        style="border:0">{{ 'LANCER_OUTIL_SIGNATURE' | trans }}
                                </a>
                            </div>
                        {% else %}
                            <div
                                class="col"
                                style="margin: 1.5rem;"
                            >
                                <div >
                                    <a
                                        href="{{ path('atexo_download_outil_signature') }}"
                                        target="_blank"
                                        class="btn btn-primary pull-right"
                                        style="border:0"
                                    >
                                        {{ 'LANCER_OUTIL_SIGNATURE' | trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END SIGNER DOCUMENT-->
    <!-- Début modal details signature -->
    {% include 'outils-signature/modal-assistant-marche-public-agent.html.twig'  with {'urls': urls } %}
    <!-- Fin modal details signature -->
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('themes/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('app/js/jquery-compatibility.js') }}"></script>
{% endblock %}

{% block javascriptsChecker %}
    <script src="{{ asset('app/js/assistance-marche-public.js') }}"></script>
    {{ encore_entry_script_tags('assistance-status-checker') }}
    {{ encore_entry_script_tags('assistance-launch') }}

    <script>
        J(document).find('#close').on('click', function () {
            J("#modal-assistant-marche-public").modal("hide");
        });

        J('#close-cross').on('click', function () {
            J("#modal-assistant-marche-public").modal("hide");
        });
    </script>
{% endblock %}
