{% extends 'layout.html.twig' %}

{% block content %}
    <!--Debut colonne droite-->
    <div class="main-part" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ PF_URL }}entreprise">
                        {{ 'TEXT_ACCUEIL'|trans|raw }}
                    </a>
                </li>
                <li>
                    {{ 'ACCESSIBILITE_TITLE'|trans |raw }}
                </li>
            </ul>
        </div>

        <h1 class="m-t-0 h2 m-b-2 title-blue">
            {{ 'ACCESSIBILITE_TITLE'|trans|raw  }}
        </h1>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    {{ info['PF_LONG_NAME']|trans|raw }}
                </h2>
            </div>
            <div class="panel-body">
                {{ 'TEXTE_HOMOLOGATION_RGAA_ENTREPRISE'|trans|raw  }}
            </div>
        </div>
        <!--Fin Texte InfoRGAA-->
    </div>

    <!--Fin colonne droite-->
{% endblock %}