{% extends 'layout.html.twig' %}

{% set display = 'display:bloc;' %}
{% if ('TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE'|trans != "TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE") %}
    {% set display = 'display:none;' %}
{% endif %}

{% block content %}
    <div class="main-part" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li><a href="/entreprise">
                        {{ 'TEXT_ACCUEIL'|trans }}
                    </a>
                </li>
                <li>{{ 'DEFINE_TEXT_AIDE'|trans }}</li>
                <li> {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</li>
            </ul>
        </div>
        <!--BEGIN ASSISTANCE-->
        <div class="form-fieldtext-justify">
            {% if info['utah'] == '0' %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="h3 panel-title">
                            {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</h1>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ 'TEXT_AIDE_ASSISTANCE_ENTREPRISE'|trans|raw }}
                        </p>
                        {{ 'TEXT_LOGO_ASSISTANCE_ENTREPRISE'|trans|raw }}
                        {{ 'TEXT_COURRIEL_ASSISTANCE_ENTREPRISE'|trans |raw}}
                        {% if info['hours'] == '1' %}
                            <div class="text-center">
                                <table class="table font-weight-bold">
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div>9H00</div>
                                            <div>10H00</div>
                                        </td>
                                        <td>
                                            <div>10H00</div>
                                            <div>11H00</div>
                                        </td>
                                        <td>
                                            <div>11H00</div>
                                            <div>12H00</div>
                                        </td>
                                        <td>
                                            <div>12H00</div>
                                            <div>13H00</div>
                                        </td>
                                        <td>
                                            <div>13H00</div>
                                            <div>14H00</div>
                                        </td>
                                        <td>
                                            <div>14H00</div>
                                            <div>15H00</div>
                                        </td>
                                        <td>
                                            <div>15H00</div>
                                            <div>16H00</div>
                                        </td>
                                        <td>
                                            <div>16H00</div>
                                            <div>17H00</div>
                                        </td>
                                        <td>
                                            <div>17H00</div>
                                            <div>18H00</div>
                                        </td>
                                        <td>
                                            <div>18H00</div>
                                            <div>19H00</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_LUNDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_MARDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_MERCREDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_JEUDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_VENDREDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="11" class="align-middle">
                                            {{ 'DEFINE_INDICES_FREQUENTATION'|trans |raw }}
                                            <span class="circle_vert"></span>  {{ 'DEFINE_FAIBLE'|trans |raw }}
                                            <span class="circle_orange"></span>  {{ 'DEFINE_MOYEN'|trans |raw }}
                                            <span class="circle_rouge"></span>  {{ 'DEFINE_FORT'|trans |raw }}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="h3 panel-title">{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans |raw}}</h1>
                    </div>
                    <div class="panel-body">
                        <p>{{ info['retour']|raw }}</p>
                        <span class="hide">{{ 'TEXT_LOGO_ASSISTANCE_ENTREPRISE'|trans|raw }}</span>

                        <div style="{{ display }}">
                            <p>
                                {{ 'TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE'|trans|raw }} :
                                <br/>
                                {{ 'POUR_WINDOWS'|trans }} <a
                                        href="{{ info['outils'] }}/PMAD-MPE.exe">{{ 'CLIQUER_ICI'|trans|raw }}</a>.
                                <br/>
                                {{ 'POUR_MAC'|trans }} <a
                                        href="{{ info['outils'] }}/PMAD-MPE.dmg">{{ 'CLIQUER_ICI'|trans|raw }}</a>.
                            </p>
                        </div>
                        {% if info['hours'] == '1' %}
                            <div class="section">
                                <div class="section-heading page-headerp-0">
                                    <h2 class="h5">{{ 'CRENEAUX_HORAIRES_CONSEILLES'|trans |raw }}</h2>
                                </div>
                            </div>
                            <div class="text-center">
                                <table class="table font-weight-bold">
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div>9H00</div>
                                            <div>10H00</div>
                                        </td>
                                        <td>
                                            <div>10H00</div>
                                                <div>11H00</div>
                                        </td>
                                        <td>
                                            <div>11H00</div>
                                                <div>12H00</div>
                                        </td>
                                        <td>
                                            <div>12H00</div>
                                            <div>13H00</div>
                                        </td>
                                        <td>
                                            <div>13H00</div>
                                            <div>14H00</div>
                                        </td>
                                        <td>
                                            <div>14H00</div>
                                            <div>15H00</div>
                                        </td>
                                        <td>
                                            <div>15H00</div>
                                            <div>16H00</div>
                                        </td>
                                        <td>
                                            <div>16H00</div>
                                            <div>17H00</div>
                                        </td>
                                        <td>
                                            <div>17H00</div>
                                            <div>18H00</div>
                                        </td>
                                        <td>
                                            <div>18H00</div>
                                            <div>19H00</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_LUNDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_MARDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_MERCREDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_JEUDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>{{ 'DEFINE_VENDREDI'|trans |raw }}</td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_rouge"></span>
                                        </td>
                                        <td>
                                            <span class="circle_orange"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                        <td>
                                            <span class="circle_vert"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="11" class="align-middle">
                                            {{ 'DEFINE_INDICES_FREQUENTATION'|trans |raw }}
                                            <span class="circle_vert"></span>  {{ 'DEFINE_FAIBLE'|trans |raw }}
                                            <span class="circle_orange"></span>  {{ 'DEFINE_MOYEN'|trans |raw }}
                                            <span class="circle_rouge"></span>  {{ 'DEFINE_FORT'|trans |raw }}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <!--END ASSISTANCE-->
    </div>
{% endblock %}