{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'TITRE_CONDITIONS_UTILISATION'|trans }}
{% endblock %}

{% block content %}
    <div class="main-part conditionUtilisation" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ PF_URL }}entreprise">
                        {{ 'TEXT_ACCUEIL'|trans }}
                    </a>
                </li>
                <li>
                    {{ 'CONDITION_UTILISATION'|trans }}
                </li>
            </ul>
        </div>
        <!--BEGIN CONDITION UTILISATION-->
        <div>
            <div class="form-field">
                <div class="alert alert-info">
                    <h1 class="h4 m-t-0">
                        {{ 'CONDITION_UTILISATION'|trans }}
                    </h1>
                    {{ 'TEXT_CONDITION_UTILISATION'|trans|raw }}
                </div>
                <div class="clearfix nav-condition">
                    <div data-example-id="togglable-tabs">
                        <div class="col-md-3 p-0">
                            <ul class="list-group list-unstyled tri-table m-b-0" id="tabCondition" role="tablist">
                                <li class="list-group-item kt-vertical-align active">
                                    <a class="p-2 col" href="#rubrique_1_paragraphe_1" id="rubrique_1_1" role="tab"
                                       data-toggle="tab" aria-expanded="true">
                                        {{ 'APPROBATION_APPLICATION'|trans }}
                                    </a>
                                </li>
                                <li class="list-group-item kt-vertical-align">
                                    <a class="p-2 col" href="#rubrique_1_paragraphe_2" id="rubrique_1_2" role="tab"
                                       data-toggle="tab">
                                        {{ 'AVERTISSEMENT_RECOMMANDATION'|trans}}
                                    </a>
                                </li>
                                <li class="list-group-item kt-vertical-align">
                                    <a class="p-2 col" id="rubrique_1_4" href="#rubrique_1_paragraphe_4" role="tab"
                                       data-toggle="tab">
                                        {{ 'UTILISATION_MESSAGERIE_SECURISEE'|trans }}
                                    </a>
                                </li>
                                <li class="list-group-item kt-vertical-align" style="display:">
                                    <a class="p-2 col" id="rubrique_1_3_0" href="#rubrique_1_paragraphe_3_0" role="tab"
                                       data-toggle="tab">
                                        {{ 'CERTIFICAT_ELECTRONIQUE'|trans }}
                                    </a>
                                </li>
                                <li class="list-group-item kt-vertical-align">
                                    <a class="p-2 col" id="rubrique_1_3_1" href="#rubrique_1_paragraphe_3_1" role="tab"
                                       data-toggle="tab">
                                        {{ 'PK_CERTIFICAT_ELECTRONIQUE'|trans }}
                                    </a>
                                </li>
                                <li class="list-group-item kt-vertical-align">
                                    <a class="p-2 col" id="rubrique_1_3_2" href="#rubrique_1_paragraphe_3_2" role="tab"
                                       data-toggle="tab">
                                        {{ 'DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans }}
                                    </a>
                                </li>

                                {% if not specifiquePlace %}
                                    <li class="list-group-item kt-vertical-align">
                                        <a class="p-2 col" id="rubrique_1_5" href="#rubrique_1_paragraphe_5" role="tab"
                                           data-toggle="tab">
                                            {{ 'PROTECTION_DONNES_PERSONNELLES'|trans }}
                                        </a>
                                    </li>
                                    <li class="list-group-item kt-vertical-align">
                                        <a class="p-2 col" id="rubrique_1_6" href="#rubrique_1_paragraphe_6" role="tab"
                                           data-toggle="tab">
                                            {{ 'TEMOINS_CONNEXION_COOKIES'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                        <div class="col-md-9 p-2">
                            <div class="tab-content text-justify" id="contentCondition">
                                <div class="tab-pane fade in active" role="tabpanel" id="rubrique_1_paragraphe_1">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'APPROBATION_APPLICATION'|trans }}
                                    </h2>
                                    <p>
                                        {{ 'TEXT_APPROBATION_APPLICATION'|trans|raw  }}
                                    </p>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_2">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'AVERTISSEMENT_RECOMMANDATION'|trans }}
                                    </h2>
                                    <p>
                                        {{ 'TEXT_AVERTISSEMENT_RECOMMANDATION'|trans|raw }}
                                    </p>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_4">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'UTILISATION_MESSAGERIE_SECURISEE'|trans }}
                                    </h2>
                                    <p>
                                        {{ 'TEXT_UTILISATION_MESSAGERIE_SECURISEE'|trans|raw }}
                                    </p>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_3_0">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'CERTIFICAT_ELECTRONIQUE'|trans }}
                                    </h2>
                                    <div style="display:">
                                        <p>
                                            {{ 'LISTE_DES_CERTIFICATS_RGS'|trans|raw }}
                                        </p>

                                    </div>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_3_1">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'PK_CERTIFICAT_ELECTRONIQUE'|trans }}
                                    </h2>
                                    <p>
                                        {{ 'CERTIFICAT_ELECTRONIQUE_PERMET'|trans }}
                                    </p>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_3_2">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans }}
                                    </h2>
                                    <p>
                                          {{ 'TEXT_DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans|raw }}
                                    </p>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_5">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL'|trans|raw }}
                                    </h2>
                                    <div>
                                        {{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL_TEXT'|trans|raw }}
                                    </div>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="rubrique_1_paragraphe_6">
                                    <h2 class="h4 page-header m-t-0">
                                        {{ 'CONNEXION_COOKIE'|trans|raw }}
                                    </h2>
                                    <div>
                                        {{ 'CONNEXION_COOKIE_TEXT'|trans|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin bloc Conditions utilisation-->
        </div>
    </div>
    <br><br><br>
{% endblock %}