{% extends 'layout.html.twig' %}

{% block stylesheet_sf1 %}
    {{ parent() }}
    {{ encore_entry_link_tags('outilsSignatures') }}
{% endblock %}

{% block content %}
    <!--Debut colonne droite-->
    <div class="configuration-poste">
        <div class="main-part" id="main-part">
            <div class="clearfix hide-agent">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ PF_URL }}entreprise">
                            {{ 'TEXT_ACCUEIL'|trans }}
                        </a>
                    </li>
                    <li>
                        {{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
                    </li>
                </ul>
            </div>
            {% if is_module_disabled_for_one_organisme('activerMonAssistantMarchesPublics') == false %}
            <div id="assistance-status-checker"
                 data-path_modal="javascript:showModalAssistance()"
                 data-translations="{{ translations }} "
            >
                <atx-assistance-status-checker></atx-assistance-status-checker>
            </div>
            {% endif %}
            <div class="breadcrumbs hide"><span
                        class="normal">{{ 'SE_PREPARER_A_REPONDRE'|trans }} &gt; </span>{{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
            </div>

            <!--Debut Entete -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="h4 panel-title">
                        {{ 'TEST_CONFIGURATION_POSTE'|trans }}
                    </h1>
                </div>
                <div class="panel-body">
                    <p>
                        <label>{{ called_from == 'agent'? 'TEXT_TEST_CONFIGURATION_AGENT_CRYPTO'|trans|raw : 'TEXT_TEST_CONFIGURATION_CRYPTO'|trans|raw }}</label>
                    </p>

                    <ul class="diagnostic-liste">
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'SYSTEME_EXPLOITATION'|trans }}
                        </li>
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'MON_ASSISTANCE_MARCHE_PUBLIC'|trans }}
                        </li>
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'ACCES_MAGASIN_CERTIFICATS'|trans }}
                        </li>
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'VERSION_NAVIGATEUR_WEB'|trans }}
                        </li>
                        <li>
                            <span class="fa fa-chevron-right"></span>
                            {{ 'COMMUNICATION_AVEC_SERVEUR'|trans }}
                        </li>
                    </ul>
                </div>
                {% if is_module_disabled_for_one_organisme('activerMonAssistantMarchesPublics') == false %}
                    <div class="panel-footer clearfix" id="assistance-launch"
                         data-plateform="{{ plateform }}"
                         data-url-crypto="{{ url_crypto }}">
                        <a class="btn btn-primary btn-sm btn-footer pull-right bouton"
                           href="#"
                           v-on:click.prevent="verifyConnection(true)"
                           title="{{ 'LANCER_TEST_CONFIG'|trans }}">
                            <i class="fa fa-cogs m-r-1 hide-agent"></i>
                            {{ 'LANCER_TEST_CONFIG'|trans }}
                        </a>
                        <a href="javascript:window.history.back();" class="btn btn-default btn-sm btn-footer bouton-retour"
                           title="{{ 'TEXT_RETOUR'|trans }}">
                            {{ 'TEXT_RETOUR'|trans }}
                        </a>
                    </div>
                {% else %}
                    <div class="panel-footer clearfix">

                        <a href="{{ path('ecrans_test_config', {'calledFrom': 'entreprise'}) }}" target="_blank"
                           class="btn btn-primary btn-sm btn-footer pull-right bouton"
                           style="border:0">{{ 'LANCER_TEST_CONFIG' | trans }}
                        </a>

                    </div>
                {% endif %}
            </div>
            <!--Fin Bloc Resultat de la configuration-->
        </div>
    </div>
    <!-- Début modal details signature -->
    {% include 'outils-signature/modal-assistant-marche-public.html.twig' %}
    <!-- Fin modal details signature -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app/js/assistance-marche-public.js') }}"></script>
    {{ encore_entry_script_tags('assistance-status-checker') }}
    {{ encore_entry_script_tags('assistance-launch') }}
{% endblock %}
