{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-part" id="main-part">
		<div class="clearfix">
			<ul class="breadcrumb">
				<li>
					<a href="{{ PF_URL }}entreprise">
						{{ 'TEXT_ACCUEIL'|trans|raw }}
                    </a>
				</li>
				<li>
					{{ 'INFO_RGS'|trans|raw }}
				</li>
			</ul>
		</div>
		<!--BEGIN INFO RGS-->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="panel-title">
					{{ 'MARCHES_PUBLICS_ELECTRONIQUES'|trans|raw }}
				</h1>
			</div>
			<div class="panel-body text-justify">
				{{ 'TEXTE_HOMOLOGATION_RGS'|trans|raw }}
			</div>
		</div>
		<!--END INFO RGS-->
	</div>
{% endblock %}