{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'TITRE_ACRGS'|trans }}
{% endblock %}

{% block content %}
    <!--Debut colonne droite-->
    <div class="main-part listeAc" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ PF_URL }}entreprise">
                        {{ 'TEXT_ACCUEIL'|trans }}
                    </a>
                </li>
                <li>
                    {{ 'LISTE_DES_CERTIFICATS_EUROPEEN'|trans }}
                </li>
            </ul>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {{ 'TITRE_LISTE_DES_CERTIFICATS_EUROPEEN'|trans }}
                </h1>
            </div>
            <div class="panel-body text-justify">
                <p>
                    {{ 'LIEN_LISTE_CERTIFICATS_CONFORMES_EUROPEEN'|trans|raw }}
                </p>
                <div class="clearfix">
                    <!--BEGIN TOUT AFFICHER / TOUT CACHER TOP-->
                    <div class="toggle-ac" style="display: none;">
                        <a class="collapse-all" href="#">
                            {{ 'DEFINE_TOUT_AFFICHER'|trans }}
                        </a> /
                        <a class="toggle-all" href="#">
                            {{ 'DEFINE_TOUT_CACHER'|trans }}
                        </a>
                    </div>
                    <!--END TOUT AFFICHER / TOUT CACHER TOP-->

                    <!--BEGIN TABLE RESULTS-->
                    <div class="table tableAc">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for ACRacine in data %}
                                <div class="panel panel-default">
                                    <!--BEGIN LINE RACINE-->
                                    <div class="panel-heading clearfix relative" role="tab"
                                         id="heading_panel_{{ ACRacine['Index'] }}')" colspan="6">
                                        <div class="panel-title">
                                            <a href="{{ ACRacine['InformationURI'] }}" target="_blank"
                                               class="informationUrl relative">
                                                {{ ACRacine['TSPName'] }}
                                            </a>
                                            <a href="#panel_{{ ACRacine['Index'] }}"
                                               role="button" data-toggle="collapse"
                                               aria-expanded="true" aria-controls="panel_{{ ACRacine['Index'] }}"
                                               class="racineInfo collapsed">
                                                <i class="more-less glyphicon glyphicon-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!--END LINE RACINE-->
                                    <!--BEGIN CHILD-->
                                    <div id="panel_{{ ACRacine['Index'] }}" class="panel-collapse clearfix collapse"
                                         role="tabpanel" aria-labelledby="heading_panel_{{ ACRacine['Index'] }}')">
                                        {% for ACFille in ACRacine['ACFilles'] %}
                                            <div class="panel-body">
                                                <div class="panel_{{ ACFille['IndexPere'] }} clearfix"
                                                     data-serial-number="{{ ACFille['SerialNumber'] }}">
                                                    <div class="col-md-5">
                                                        <label>
                                                            {{ 'AC_FILLE'|trans }}
                                                            :
                                                        </label>
                                                        <p>{{ ACFille['CN'] }}</p>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="intitule-auto">
                                                            <label>
                                                                {{ 'NOM_COMMERCIAL'|trans }}
                                                                :
                                                            </label>
                                                        </div>
                                                        <p>
                                                            {{ ACFille['ServiceName'] }}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="pull-right btn-group">
                                                            <a class="btn btn-default btn-sm"
                                                               onclick="togglePanelClass(this,'panel_detail_{{ ACFille['Index'] }}');"
                                                               href="javascript:void(0);">
                                                                {{ 'TEXT_VOIR_DETAIL'|trans }}
                                                            </a>
                                                            <button type="submit" class="btn btn-sm btn-primary btn--cyan" data-toggle="tooltip"
                                                                 title="{{ 'TELECHARGER_CLE_PIBLIQUE_AC_FILLE'|trans }}">
                                                                <a href="{{ path("ecrans_download_certificat", {'calledFrom' : 'entreprise', 'indexPere' : ACFille['IndexPere'], 'index' : ACFille['Index']}) }}">
                                                                    <i class="fa fa-download" style="color: #fff;"></i>
                                                                </a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel_detailAC_01 panel_detail_{{ ACFille['Index'] }}"
                                                     style="display:none;">
                                                    <div colspan="4" class="detail-fichier">
                                                        <!--Debut bloc detail-->
                                                        <div class="list-group-item listDetails m-t-2">
                                                            <div class="clearfix">
                                                                <label class="control-label col-md-4">
                                                                    {{ 'VALIDE_A_PARTIR'|trans }}
                                                                    :
                                                                </label>
                                                                <div class="col-md-8">
                                                                    {{ ACFille['ValidityNotBefore'] }}
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <label class="control-label col-md-4">
                                                                    {{ 'VALABLE_JUSQU_AU'|trans }}
                                                                    :
                                                                </label>
                                                                <div class="col-md-8">
                                                                    {{ ACFille['ValidityNotAfter'] }}
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <label class="control-label col-md-4">
                                                                    {{ 'LISTE_CERTIFICATS_REVOQUE'|trans }}
                                                                    :
                                                                </label>
                                                                <div class="col-md-8">
                                                                    <a href="{{ ACFille['CrlDistributionPoints'] ? ACFille['CrlDistributionPoints'][0] : '#' }}"
                                                                       class="{{ ACFille['CrlDistributionPoints'] ? ' lien-ext' : '' }}"
                                                                       target="_blank">{{ ACFille['CrlDistributionPoints'] ? ACFille['CrlDistributionPoints'][0]:' - ' }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <label class="control-label col-md-4">
                                                                    {{ 'POLITIQUE_DE_CERTIFICATION'|trans }}
                                                                    :
                                                                </label>
                                                                <div class="col-md-8">
                                                                    <a href="{{ ACFille['CertificatPolicies'] ? ACFille['CertificatPolicies']['URI'] : ' #' }}"
                                                                       class="{{ ACFille['CertificatPolicies'] ? 'lien-ext' : '' }}"
                                                                       target="_blank">
                                                                        {{ ACFille['CertificatPolicies'] ? ACFille['CertificatPolicies']['URI'] : ' - ' }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <label class="control-label col-md-4">
                                                                    {{ 'IDENTIFIANT_POLITIQUE_DE_CERTIFICATION'|trans }}
                                                                    :
                                                                </label>
                                                                <div class="col-md-8">
                                                                    {{ ACFille['CertificatPolicies'] }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Fin bloc detail-->
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!--END CHILD-->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--END TABLE RESULTS-->

                    <!--BEGIN TOUT AFFICHER / TOUT CACHER BOTTOM-->
                    <div class="toggle-ac" style="display: none;">
                        <a class="collapse-all" href="#">
                            {{ 'DEFINE_TOUT_AFFICHER'|trans }}
                        </a> /
                        <a class="toggle-all" href="#">
                            {{ 'DEFINE_TOUT_CACHER'|trans }}
                        </a>
                    </div>
                    <!--END TOUT AFFICHER / TOUT CACHER BOTTOM-->
                </div>
            </div>
        </div>

    </div>
    <!--Fin colonne droite-->
    <script>
        function togglePanelClass(myPosition,myPanel){
            $('.'+myPanel).toggle();
            $(myPosition).toggleClass('title-toggle-open').toggleClass('title-toggle');
        }
    </script>
{% endblock %}