{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'TEXT_NOS_PARTENAIRES'|trans }}
{% endblock %}

{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}">
{% endblock %}

{% block content %}
    <div class="partenaire">
        <div id="main-part" class="main-part" style="height: auto;">
            <div class="clearfix">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ PF_URL }}entreprise">
                            {{ 'TEXT_MESSAGERIE_ACCUEIL'|trans }}
                        </a>
                    </li>
                    <li>
                        {{ 'TEXT_NOS_PARTENAIRES'|trans }}
                    </li>
                </ul>
            </div>
            <!--Debut Bloc Partenaires-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        {{ 'TEXT_NOS_PARTENAIRES'|trans }}
                    </h1>
                </div>
                <div class="panel-body text-justify">
                    <!--Debut partenaire-->
                    <div class="clearfix">
                        <div class="col-md-4">
                            <div class="panel panel-default text-center">
                                <div class="panel-body">
                                    <img alt="" height="86px" src="/themes/images/UE.png"
                                         title=" {{ 'COFINANCE_EUROPE'|trans }} ">
                                </div>
                                <div class="panel-footer">
                                    <i>{{ 'COFINANCE_EUROPE'|trans }}</i>
                                </div>
                            </div>
                        </div>
                        {% for partenaire in partenaires %}
                            <!-- Begin Bloc Partners Bootstrap -->
                            <div class="col-md-4">
                                <div class="panel panel-default text-center">
                                    <div class="panel-body">
                                        <a target="_blank" href="{{ partenaire.lienExterne }}"
                                           title="{{ partenaire.title }}"><img alt=""
                                                                               src="/themes/images/{{ partenaire.lienImg }}"/></a>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="lien-ext" target="_blank" href="{{ partenaire.lienExterne }}"
                                           title="{{ partenaire.title }}">{{ partenaire.initials }}</a>
                                        - <i>{{ partenaire.descPartenaire }}</i>
                                    </div>
                                </div>
                            </div>
                            <!-- End Bloc Partners Bootstrap -->
                        {% endfor %}
                    </div>
                    <!--Fin partenaire-->
                </div>
            </div>
            <!--Fin Bloc Partenaires-->
        </div>
    </div>
{% endblock %}