{% extends 'layout.html.twig' %}

{% block content %}
   <ul>
      <li>{{ 'DEFINE_ANNONCES'|trans }}
         <ul type="disc">
            <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_CONSULTATION_EN_COURS'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AllAnn">{{ 'TEXT_AUTRES_ANNONCES'|trans }}</a></li>
            <li><a href="{{ PF_URL }}rechercheExterneListeMarches/#/donnees-essentielles/rechercher">{{ 'TEXT_LISTE_MARCHES_2'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseParticipationEnchere">{{ 'DEFINE_TEXT_ENCHERES'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseGestionRecherches">{{ 'TEXT_MES_ALERTES_RECHERCHES_SAUVEGARDEES'|trans }}</a></li>
         </ul>
      </li>
      <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseVisualiserEntitesAchatsRecherche">{{ 'TEXT_ENTITES_ACHAT'|trans }}</a></li>
      <li>{{ 'DEFINE_TEXT_OUTILS_DE_SIGNATURE'|trans }}
         <ul type="disc">
            <li><a href="{{ path('entreprise_signer_document') }}">{{ 'SIGNER_UN_DOCUMENT'|trans }}</a></li>
            <li><a href="{{ path('verification_signature_entreprise') }}">{{ 'VERIFIER_SIGNATURE'|trans }}</a></li>
         </ul>
      </li>
      <li>{{ 'DEFINE_TEXT_AIDE_AGENT'|trans }}
         <ul type="disc">
            <li><a href="{{ PF_URL }}?page=Entreprise.EntreprisePremiereVisite">{{ 'TEXT_PREMIERE_VISITE'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseGuide&Aide">{{ 'DEFINE_TEXT_ASSISTANCE_GUIDE'|trans }}</a></li>
            <li><a href="{{ path('aides_assistance_telephonique', {'calledFrom': called}) }}">{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=Entreprise.DocumentsDeReference">{{ 'DEFINE_DOCUMENTS_REFERENCE'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=entreprise.EntrepriseAutoformation">{{ 'TEXT_MODULE_AUTO_FORMATION'|trans }}</a></li>
            <li><a href="{{ path('aides_outils_informatiques', {'calledFrom': called}) }}">{{ 'TEXT_OUTILS_INFORMATIQUES'|trans }}</a></li>
         </ul>
      </li>
      <li>{{ 'SE_PREPARER_A_REPONDRE'|trans }}
         <ul type="disc">
            <li><a href="{{ path('ecrans_diagnostic_poste', {'calledFrom': 'entreprise'}) }}">{{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}</a></li>
            <li><a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&amp;AllCons&amp;orgTest">{{ 'TEXT_CONSULTATION_TEST'|trans }}</a></li>
         </ul>
      </li>
   </ul>
{% endblock %}
