{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'TITRE_PREREQUIS_TECHNIQUES'|trans }}
{% endblock %}

{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}">
{% endblock %}

{% block content %}

    <!--Debut colonne droite-->
    <div class="main-part testPrerequis" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ PF_URL }}entreprise">
                        {{ 'TEXT_ACCUEIL'|trans }}
                    </a>
                </li>
                <li>{{ 'PREREQUIS_TECHNIQUE'|trans }}</li>
            </ul>
        </div>
        <!--Debut Bloc Conditions utilisation-->
        <div class="form-field">
            <!--BEGIN BTN CONFIGURATION ET CONSULTATION-->
            <div class="row text-justify">
                <!--BEGIN CONFIGURATION-->
                <div class="col-md-6 ">
                    <div class="list-group-item clearfix">
                        <h1 class="h4 page-header m-t-0 m-b-1">
                            {{ 'CONFIG_POSTE'|trans }}
                        </h1>
                        <div>
                            <p>
                                {{ 'OUTIL_MIS_A_DISPOSITION_POUR_TESTER_CONFIGURATION'|trans }}
                            </p>

                            <a href="{{ URL_LT_MPE_SF }}/{{ called_from }}/footer/diagnostic-poste"
                               class="btn btn-primary btn-sm m-t-4 pull-right"
                               title="{{ 'TESTER_MA_CONFIGURATION'|trans }}">
                                <i class="fa fa-cogs p-r-1"></i>
                                {{ 'TESTER_MA_CONFIGURATION'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <!--END CONFIGURATION-->
                <!--BEGIN CONSULTATION DE TEST-->
                <div class="col-md-6">
                    <div class="list-group-item clearfix" visible="true">
                        <div class="content">
                            <h1 class="h4 page-header m-t-0 m-b-1">
                                {{ 'CONSULTATION_DE_TEST'|trans }}
                            </h1>
                            <div>
                                {{ 'CONSULTATION_DE_TEST_MISE_A_DISPOSITION'|trans }}
                                {{ 'TEST_CYCLE_ENTIER_REPONSE'|trans }}
                                <a href="{{ PF_URL }}?page=Entreprise.EntrepriseAdvancedSearch&AllCons&orgTest"
                                   class="btn btn-primary btn-sm m-t-3 pull-right"
                                   title="{{ 'CONSULTATION_DE_TEST'|trans }}">
                                    <i class="fa fa-arrow-right p-r-1" aria-hidden="true"></i>
                                    {{ 'CONSULTATION_DE_TEST'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONSULTATION DE TEST-->
            </div>
            <!--END BTN CONFIGURATION ET CONSULTATION-->
            <!--BEGIN NAV-->
            <div class="clearfix nav-prerequis">
                <div data-example-id="togglable-tabs">
                    <div class="col-md-3 p-0">
                        <ul class="list-group list-unstyled prerequis-tabs m-b-0" id="tabTest" role="tablist">
                            <li class="list-group-item kt-vertical-align p-0 active">
                                <a class="p-2 col" id="rubrique_2_1" href="#rubrique_2_paragraphe_1" role="tab"
                                   data-toggle="tab" aria-expanded="true">
                                    {{ 'CONNECTIQUE_CONFIGURATION_RESEAU'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item kt-vertical-align p-0">
                                <a class="p-2 col" id="rubrique_2_2" href="#rubrique_2_paragraphe_2" role="tab"
                                   data-toggle="tab">
                                    {{ 'CONFIGURATION_POSTE_TRAVAIL'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item kt-vertical-align p-0">
                                <a class="p-2 col" id="rubrique_2_4" href="#rubrique_2_paragraphe_3" role="tab"
                                   data-toggle="tab">
                                    {{ 'SYSTEM_EXPLOITATION_NAVIGATEUR'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item kt-vertical-align p-0">
                                <a class="p-2 col" id="rubrique_2_5" href="#rubrique_2_paragraphe_4" role="tab"
                                   data-toggle="tab">
                                    {{ 'FORMAT_CERTIFICAT_NUMERIQUE'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item kt-vertical-align p-0">
                                <a class="p-2 col" id="rubrique_2_7" href="#rubrique_2_paragraphe_6" role="tab"
                                   data-toggle="tab">
                                    {{ 'DEFINE_PROBLEME_INCOMPATIBILITES'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item kt-vertical-align p-0">
                                <a class="p-2 col" id="rubrique_2_8" href="#rubrique_2_paragraphe_7" role="tab"
                                   data-toggle="tab">
                                    {{ 'DEFINE_RECOMMANDATIONS_AUX_ENTREPRISES'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content p-2">
                            <div class="tab-pane fade in active text-justify" role="tabpanel" id="rubrique_2_paragraphe_1">
                                <h1 class="h4 page-header m-t-0">
                                    {{ 'CONNECTIQUE_CONFIGURATION_RESEAU'|trans }}
                                </h1>
                                <ul>
                                    <li>{{ 'ACCES_INTERNET_HAUT_DEBIT_REQUIS'|trans|raw }}</li>
                                    <li>{{ 'ENVIRONNEMENT_RESEAU'|trans|raw }}
                                        <ul class="p-t-1">
                                            <li>{{ 'ENVIRONNEMENT_RESEAU_AUTORISER_HTTPS'|trans|raw }}</li>
                                            <li>{{ 'ENVIRONNEMENT_RESEAU_AUTORISER_TELECHARGEMENT_FICHIER_JWS'|trans|raw }}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade text-justify" role="tabpanel" id="rubrique_2_paragraphe_2">
                                <h1 class="h4 page-header m-t-0">
                                    {{ 'CONFIGURATION_POSTE_TRAVAIL'|trans }}
                                </h1>
                                <ul class="liste-actions">
                                    <li>{{ 'GESTION_COOKIES_SESSION'|trans|raw }}</li>
                                    <li>{{ 'GESTION_FONCTION_CRYPTOGRAPHIQUE'|trans|raw }}
                                        <ul>
                                            <li>{{ 'GESTION_CERTIFICAT_NUMERIQUE_AUTORISEE'|trans }}</li>
                                            <li>{{ 'UTILISATION_NAVIGATEUR_STANDARD_JWS'|trans }}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade text-justify" role="tabpanel" id="rubrique_2_paragraphe_3">
                                <h1 class="h4 page-header m-t-0">
                                    {{ 'SYSTEM_EXPLOITATION_NAVIGATEUR'|trans }}
                                </h1>
                                <div>
                                    <p>{{ 'AVOIR_UN_DES_OS_SUIVANTS'|trans }}</p>
                                    <ul class="liste-actions">
                                        <li>{{ 'MICROSOFT_WINDOWS_SEVEN'|trans|raw }}</li>
                                        <li>{{ 'MICROSOFT_WINDOWS_8'|trans|raw }}</li>
                                        <li>{{ 'MICROSOFT_WINDOWS_10'|trans|raw }}</li>
                                        <li>{{ 'APPLE_MAC_OSX'|trans|raw }}</li>
                                        <li>{{ 'LINUX_UBUNTU'|trans|raw }}</li>
                                    </ul>

                                    <p>{{ 'POSTE_TRAVAIL_UTILISANT_NAVIGATEUR_SUIVANT'|trans }} :</p>
                                    <ul class="liste-actions">
                                        <li>{{ 'NAVIGATEUR_PRE_REQUIS'|trans|raw }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade text-justify" role="tabpanel" id="rubrique_2_paragraphe_4">
                                <h1 class="h4 page-header m-t-0">
                                    {{ 'FORMAT_CERTIFICAT_NUMERIQUE'|trans }}
                                </h1>
                                <p>{{ 'CERTIFICAT_UTILISITATEURS_ACCEESIBLES'|trans }}</p>
                                <ul class="liste-actions">
                                    <li>{{ 'CERTIFICAT_UTILISITATEURS_ACCEESIBLES_DANS_MAGASIN_CERTIFICAT'|trans }}</li>
                                    <li>{{ 'CERTIFICAT_UTILISITATEURS_ACCEESIBLES_AU_FORMAT_P12'|trans }}</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade text-justify" role="tabpanel" id="rubrique_2_paragraphe_6">
                                <h1 class="h4 page-header m-t-0">
                                    {{ 'DEFINE_PROBLEME_INCOMPATIBILITES'|trans }}
                                </h1>
                                <p>
                                    {{ 'DEFINE_PROBLEME_JAVA_CACHE'|trans }}
                                </p>
                                <p>
                                    {{ 'DEFINE_FICHIER_RAR_DECOMPRESSION'|trans }}
                                </p>
                            </div>
                            <div class="tab-pane fade text-justify" role="tabpanel" id="rubrique_2_paragraphe_7">
                                <h1 class="h4 page-header m-t-0">
                                    {{ 'DEFINE_RECOMMANDATIONS_AUX_ENTREPRISES'|trans }}
                                </h1>
                                <ul class="liste-actions">
                                    <li>{{ 'RECOMMANDATION_TESTER_CONFIG_POSTE'|trans }}</li>
                                    <li>{{ 'RECOMMANDATION_VERFIER_CERTIFICAT'|trans }}</li>
                                    <li>{{ 'RECOMMANDATION_POUR_SIGNATURE'|trans }}</li>
                                    <li>{{ 'RECOMMANDATION_NOMMAGE_FICHIERS'|trans }}</li>
                                    <li>{{ 'RECOMMANDATION_POUR_COMPRESSER_FICHIER'|trans }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END NAV-->
        </div>
        <!--Fin bloc Conditions utilisation-->
    </div>
    <!--Fin colonne droite-->

{% endblock %}