{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL'|trans }}
{% endblock %}

{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="/themes/css/ng-style.css?k={{ MEDIA_CACHE_KEY }}">
{% endblock %}

{% block content %}
<div id="main">
    <div class="main-part" id="main-part">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ PF_URL }}?page=Entreprise.AccueilEntreprise">
                        {{ 'TEXT_MESSAGERIE_ACCUEIL' |trans }}
                    </a>
                </li>
                <li>
                    {{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL'|trans }}
                </li>
            </ul>
        </div>
        <div>
            {{ 'TEXT_PROTECTION_DONNEES_A_CARACTERE_PERSONNEL' | trans|raw }}
        </div>
</div>


{% endblock %}