{% if isRegistered == false %}
<div class="alert alert-info">
    {% if isConnected == true %}
        <h4 class="h4">{{ 'TITLE_SOURCING_FRAGMENT' | trans }}</h4>
    {% else %}
        <h4 class="h4">{{ 'TITLE_SOURCING_FRAGMENT_REGISTERED' | trans }}</h4>
    {% endif %}
    <p>{{ 'DESCRIPTION_SOURCING_FRAGMENT' | trans }}</p>

    <p>{{ 'DETAIL_SOURCING_FRAGMENT' | trans }}</p>

    <br />
    <a target="_blank" class="btn btn-primary btn-sm bouton-moyen" href="{{ get_parameter('SOURCING_REGISTRY_LINK') }}" > > {{ 'LINK_SOURCING_FRAGMENT_TEXT' | trans }} </a>
    <br />
</div>
{% endif %}
