<div><p></p>
    <table class="tableau" border="0" cellpadding="0" cellspacing="1">
        <tbody>
        <tr class="on">
            <td width='10%'
                style="background-color: rgb(192,192,192); vertical-align:top;  font-style:normal;  font-weight:bold; ">
                Numéro de lot
            </td>
            <td width='90%'
                style="background-color: rgb(192,192,192); vertical-align:top;  font-style:normal;  font-weight:bold; ">
                Durée / délai du marché public
            </td>
        </tr>
        <tr>
            <td width='10%' style=" vertical-align:top; ">-</td>
            <td width='90%' style=" vertical-align:top; ">-</td>
        </tr>
        </tbody>
    </table>
    <br/></div><p>test text avant : <a href="https://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a>
</p>

<p>test text avant 2 : <a href="https://www.millet-wagons.com/" rel="noopener noreferrer" target="_blank">https://www.millet-wagons.com/</a>
</p>

<p>&nbsp;</p>

<p><a href="https://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a> test text
    apres</p>

<p><a href="https://www.millet-wagons.com/" rel="noopener noreferrer" target="_blank">https://www.millet-wagons.com/</a>
    test text apres 2</p>

<p>&nbsp;</p>

<p>test text entre avant <a href="https://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a>
    test text entre apres</p>

<p>test text entre avant <a href="https://www.millet-wagons.com/" rel="noopener noreferrer" target="_blank">https://www.millet-wagons.com/</a>
    test text entre apres 2</p>

<p>&nbsp;</p>

<p><a href="https://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a> <a
        href="https://www.millet-wagons.com/" rel="noopener noreferrer"
        target="_blank">https://www.millet-wagons.com/</a></p>

<p>&nbsp;</p>

<p><a href="https://www.millet-wagons.com/" rel="noopener noreferrer" target="_blank">https://www.millet-wagons.com/</a>
    <a href="https://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a> test text
    apres 2 liens</p>

<p>&nbsp;</p>

<p>test text entre avant 2 liens <a href="https://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a>
    <a href="https://www.millet-wagons.com/" rel="noopener noreferrer"
       target="_blank">https://www.millet-wagons.com/</a> test text apres 2 liens</p>

<p>&nbsp;</p>

<p>test 2 text avant saut de ligne</p>

<p>2eme text <a href="https://www.millet-wagons.com/" rel="noopener noreferrer" target="_blank">https://www.millet-wagons.com/</a>
</p>

<p>&nbsp;</p>

<p><a href="http://www.google.com/" rel="noopener noreferrer" target="_blank">https://www.google.com/</a></p>

<p>test text apres lien saut de ligne</p>

<p>&nbsp;</p>

<p>test pas de lien</p><img src="javascript:alert('XSS')"/> <img src="XXX"/>
<div style="background-image: url(javascript:alert('XSS'))"></div>

<img src="x" onerror="alert('XSS')">
<a href="javascript:alert('XSS')">XSS</a>
<a href="jAvAsCrIpT:alert('XSS')">XSS</a>
<a href="javascript:alert('XSS')" onmouseover="alert('XSS')">XSS</a>
<a href="javascript:alert('XSS')" onmouseover=alert('XSS')>XSS</a>
<a href=javascript:alert('XSS')>XSS</a>
<a href=javascript:alert(&quot;XSS&quot;)>XSS</a>
<div style="background-image: url(javascript:alert('XSS'))"></div>
<div style="background-image: url(&#1;javascript:alert('XSS'))"></div>
<script>
    alert('XSS 2');
</script>


<div data-embed="javascript:alert('XSS')"></div>
<svg onload=alert('XSS')/>