<div class="row">
  <div class="col-md-12 mb-md-0">
    <div class="card mb-1">
      <div class="card-content">
        <div class="card-body">
          <div class="row mb-1">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 critere">
              <h5><label>{{"redaction.clause.naturePrestation" | translate}}</label></h5>
              <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" role="group"
                   aria-label="Basic example">
                <label class="btn btn-secondary"
                       [ngClass]="{'active':filter.idNaturePrestation===0}"
                       (click)="changeNatureFilter(0)">
                  <i [ngClass]="getNatureIcon(0)" class="col-12"></i><span class="col-12">{{"redaction.toutes" | translate}}</span>
                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active':nature.id===filter.idNaturePrestation}"
                       *ngFor="let nature of refNature$ | async"
                       (click)="changeNatureFilter(nature.id)">
                  <i [ngClass]="getNatureIcon(nature.id)" class="col-12"></i><span class="col-12">{{nature.label}}</span>
                </label>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 critere">
              <h5><label>{{"redaction.clause.afficherActive" | translate}}</label></h5>
              <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" role="group"
                   aria-label="Basic example">
                <label class="btn btn-secondary"
                       [ngClass]="{'active':filter.actif===null}"
                       (click)="changeActivationFilter(0)">
                  <i class="fa fa-list-alt"></i> {{"redaction.toutes" | translate}}
                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active-success':filter.actif===true}"
                       (click)="changeActivationFilter(1)">
                  <i class="fa fa-toggle-on"></i> {{"redaction.actives" | translate}}
                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active-error':filter.actif===false}"
                       (click)="changeActivationFilter(2)">
                  <i class="fa fa-toggle-off"></i> {{"redaction.inactives" | translate}}
                </label>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12 critere" *ngIf="showMore">
              <h5><label>{{"redaction.canevas.referenceClause" | translate}}</label></h5>
              <input class="form-control" type="text" name="refClause" style="width: 100%"
                     [(ngModel)]="filter.referenceClause">
            </div>


            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12 critere" *ngIf="showMore">
              <h5><label>{{"redaction.clause.motsCles" | translate}}</label></h5>
              <input class="form-control" type="text" name="motsCles" style="width: 100%" [(ngModel)]="filter.motsCles">
            </div>


            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.clause.theme" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="themeSelect" [(ngModel)]="filter.idThemeClause">
                    <option *ngFor="let theme of refThemeClause$ | async" [value]="theme.id">{{theme.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.clause.typeDocument" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control" id="documentSelect" [(ngModel)]="filter.idTypeDocument">
                    <option *ngFor="let typeDoc of refTypeDocument$ | async"
                            [value]="typeDoc.id">{{typeDoc.externalCode}} - {{typeDoc.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.clause.typeContrat" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="contratSelect" [(ngModel)]="filter.idTypeContrat">
                    <option selected="" value="0">{{"redaction.tous" | translate}}</option>
                    <option *ngFor="let typeContrat of refTypeContrat$ | async"
                            [value]="typeContrat.id">{{typeContrat.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.clause.procedurePassation" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="procedureSelect" [(ngModel)]="filter.idProcedure">
                    <option selected="" value="0">{{"redaction.toutes" | translate}}</option>
                    <option *ngFor="let typeProcedure of refProcedure$ | async"
                            [value]="typeProcedure.id">{{typeProcedure.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>



          </div>
          <hr/>
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <a class="primary-client">
                              <span *ngIf="!showMore" (click)="showMore= true"><i class="la la-plus"></i>
                                {{"redaction.plusCriteres" | translate}}
            </span>
                <span *ngIf="showMore" (click)="showMore= false"><i class="la la-minus"></i>
                  {{"redaction.moinsCriteres" | translate}}
            </span>
              </a>
            </div>
            <div class="col-md-6">
              <div class="float-md-right">
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px" (click)="reInitFilter()">
                  <i class="fa fa-eraser"></i>
                  {{"rechercherCanevas.txt.initRecherche" | translate}}
                </button>
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm" (click)="rechercher()"><i
                  class="ft-search"></i>
                  {{"rechercherCanevas.txt.rechercherClause" | translate}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


