.critere {
  margin-bottom: 15px!important;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff !important;
  background-color: #777b8f !important;
}
.btn-secondary:not(:disabled):not(.disabled).active-error {
  color: #fff !important;
  background-color: #ff4961 !important;
}
.btn-secondary:not(:disabled):not(.disabled).active-success {
  color: #fff !important;
  background-color: #28D094 !important;
}
.btn-secondary {
  cursor: pointer;
  background-color: #fff !important;
  color: #6b6f82 !important;
}
h5 {
  margin-bottom: 0px!important;
}
