<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{titre | translate}}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>

  <div class="modal-body pr-0 pl-0 pb-0" style="padding: 10px!important;">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h5><label>{{"doc-administrable.sigle" | translate}}</label><i class="la la-info font-medium-5" style="color: #1e9ff2" [title]="'doc-administrable.title' | translate"></i> :<span class="redStar"
        >*</span></h5>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <fieldset class="form-group">
          <input class="form-control" type="text" name="sigle" style="width: 100%"
                 [(ngModel)]="documentAdministrable.code"
          >
          <p *ngIf="isSubmitted && !documentAdministrable.code"
             class="block-tag text-left">
            <small class="badge badge-danger">{{"doc-administrable.sigleObligatoire" | translate}}</small>
          </p>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h5><label>{{"doc-administrable.name" | translate}}</label><span class="redStar"
        >*</span></h5>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <fieldset class="form-group">
          <input class="form-control" type="text" name="libelle" style="width: 100%"
                 [(ngModel)]="documentAdministrable.libelle"
          >
          <p *ngIf="isSubmitted && !documentAdministrable.libelle"
             class="block-tag text-left">
            <small class="badge badge-danger">{{"doc-administrable.nameObligatoire" | translate}}</small>
          </p>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <h5><label>{{"doc-administrable.product" | translate}}</label><span class="redStar"
        >*</span></h5>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <fieldset class="form-group">
          <fieldset class="form-group">
            <ng-select
              #product
              name="product"
              [items]="products"
              [(ngModel)]="documentAdministrable.produit"
              [notFoundText]="'redaction.txt.aucun' | translate"
            >
            </ng-select>
          </fieldset>
          <p *ngIf="isSubmitted && !documentAdministrable.produit"
             class="block-tag text-left">
            <small class="badge badge-danger">{{"doc-administrable.productObligatoire" | translate}}</small>
          </p>
        </fieldset>
      </div>
    </div>

    <div>
      <ngx-dropzone class="_dropzone" (change)="selectSingleFile($event)" accept=".xlsx,.docx">
        <ngx-dropzone-label>
          <div class="dz-default dz-message">
            <div style="text-align: center">
              <i class="fa fa-cloud-upload"></i>
            </div>
            <div style="text-align: center" class = "dz-default">{{"doc-administrable.depot" | translate}}</div>
          </div>
        </ngx-dropzone-label>
        <ngx-dropzone-preview class="dropzone" *ngFor="let f of file" [removable]="true" (removed)="singlefileonRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-sm"
            (click)="closeModal()">
      <i class="fa fa-close"></i> {{"creationClause.btn.annuler" | translate}}
    </button>
    <button (click)="createDocAdministrable()"
            class="btn btn-primary primary-client-bg-border btn-sm ml-1">
      <i class="ft-save"></i>
      {{"creationClause.btn.enregistrer" | translate}}
    </button>
  </div>

</div>

