.errors-page {
  margin: auto;

  &-container {
    max-width: 815px;
    position: relative;

    .logo {
      position: absolute;
      top: -110px;
      left: calc(50% - 155px);
      cursor: pointer;
    }

    h1 {
      margin: 0;
      font-size: 40px;
      line-height: inherit;
      font-weight: 700;
      color: red;
    }

    a {
      color: #0269cc !important;
      text-decoration: underline;
      font-weight: 600;
    }

    button {
      position: absolute;
      left: 40%;
      bottom: -95px;
    }
  }

  &-illustration {
    float: left;
    height: 100px;
    width: 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  &-content {
    position: relative;
    text-align: center;
    overflow: hidden;
  }
}

.content-derogation {
  border: solid 1px;
  border-radius: 5px;
  padding: 3px;
  border-color: #68a2d6 !important;
  background-color: #F5F9FB !important;
  margin-bottom: 5px;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

:host ::ng-deep .dropzone {
  max-width: fit-content !important;
}
:host ::ng-deep .dropzone1 {
  position: unset !important;
  overflow-wrap: break-word;
}
:host ::ng-deep .dz-default  {
  font-size: 1rem;
  color: #666ee8 !important;
  text-align: center;
}

:host ::ng-deep ._dropzone{
  border: 2px dashed #666ee8;
}
:host ::ng-deep .custom-dropzone {
  height: 250px;
  background: #333;
  color: #fff;
  border: 5px dashed  #666ee8 !important;
}
.redStar {
  color: red;
  font-size: 18px;
  font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
}
