<com:TContent ID="CONTENU_PAGE">
	<div class="main-part" id="main-part">
		<com:PanelMessage ID="messageConfirmation" />
		<!--Debut line boutons-->
		<div class="link-line">
            <com:THyperLink id="linkRetourBas" NavigateUrl="index.php?page=Entreprise.EntrepriseHome" CssClass="bouton-retour" Attributes.title="<%=Prado::localize('DEFINE_TEXT_RETOUR_ACCUEIL')%>"><com:TTranslate>TEXT_RETOUR</com:TTranslate></com:THyperLink>
		</div>
		<!--Fin line boutons-->
		<div class="breaker"></div>
	</div>
	
</com:TContent>