<%@MasterClass="Application.layouts.MainLayoutSansBandeau"%>
<com:TContent ID="CONTENU_PAGE">
	<div id="CaptivateContent">&nbsp;
	</div>
	<script type="text/javascript">
	   var so = new SWFObject("<%= Application\Service\Atexo\Atexo_Config::getParameter('CHEMIN_fICHIER_GUIDES_MULTIMEDIA')%>/<%= Application\Service\Atexo\Atexo_Util::atexoHtmlEntities(base64_decode($_GET['file']))%>", "Captivate", "1013", "799", "10", "#CCCCCC");
		so.addParam("quality", "high");
		so.addParam("name", "Captivate");
		so.addParam("id", "Captivate");
		so.addParam("wmode", "window");
		so.addParam("bgcolor","#f5f4f1");
		so.addParam("menu", "false");
		so.addParam("AllowScriptAccess","always");
		so.addVariable("variable1", "value1");
		so.setAttribute("redirectUrl", "http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash");
		so.write("CaptivateContent");
	</script>
	<script type="text/javascript">
		document.getElementById('Captivate').focus();
		document.Captivate.focus();
	</script>
</com:TContent>
