<com:TContent ID="CONTENU_PAGE">
<!--Debut colonne droite-->
	<div class="main-part" id="main-part">
		<div class="breadcrumbs">&gt; <com:TTranslate>INFO_RGS</com:TTranslate></div>
		<!--Debut Texte InfoRGS-->
		<div class="main-text">
			<h2 class="message-big"><com:TTranslate>MARCHES_PUBLICS_ELECTRONIQUES</com:TTranslate></h2>
			<com:TTranslate>TEXTE_HOMOLOGATION_RGS</com:TTranslate>
			<div class="breaker"></div>
		</div>
		<!--Fin Texte InfoRGS-->		
		<div class="breaker"></div>
	</div>
	<!--Fin colonne droite-->
</com:TContent>
