<div class="modal-content" *ngIf="field && patch">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{
        modification ? ('Modification de la surchage de ' + this.field.id + ' : ' + (this.field._label | translate))
          : ('Création de la surchage de ' + this.field.id + ' : ' + (this.field._label | translate))
      }}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>
  <form>
    <div class="modal-body pb-0">
      <div class="row">
        <div class=" col-sm-12 col-md-12 form-group" *ngIf="plateforme">
          Plateforme : <i>{{ plateforme }}</i>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="readonly">Lecture seule</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.readonly"
                     #modelForm="ngModel"
                     id="readonly" name="readonly">
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="hidden">Caché</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.hidden"
                     #modelForm="ngModel"
                     id="hidden" name="hidden">
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="obligatoire">Obligatoire</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="checkbox"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.obligatoire"
                     #modelForm="ngModel"
                     id="obligatoire" name="obligatoire">
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-3 form-group">
          <label for="ordre">Ordre</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="number"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.ordre"
                     #modelForm="ngModel"
                     id="ordre" name="ordre">
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-12 form-group">
          <label>Valeur par défaut</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="text" class="form-control"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.defaultValue"
                     #modelForm="ngModel"
                     id="defaultValue" name="defaultValue">
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-6 form-group">
          <label>Liste statiques</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="text" class="form-control"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.staticList"
                     #modelForm="ngModel"
                     id="staticList" name="staticList">
            </fieldset>
          </div>
        </div>
        <div class=" col-sm-12 col-md-6 form-group">
          <label>Liste dynamiques</label>
          <div class="controls">
            <fieldset class="form-group">
              <input type="text" class="form-control"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="patch.dynamicListFrom"
                     #modelForm="ngModel"
                     id="dynamicListFrom" name="dynamicListFrom">
            </fieldset>
          </div>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning btn-sm"
              (click)="closeModal()">
        <i class="fa fa-close"></i> Fermer
      </button>


      <button type="button" (click)=" submit(true)"
              class="btn btn-success btn-sm ml-1">
        <i class="ft-save"></i> Enregistrer pour tous les avis européens
      </button>
      <button type="button" (click)=" submit(false)"
              class="btn btn-success btn-sm ml-1">
        <i class="ft-save"></i>
        Enregistrer pour l'avis "{{ this.noticelibelle }}"
      </button>
    </div>
  </form>
</div>

