{% set uri_mes_coordonnees = is_module_enabled('socleExternePpp', app.user.organisme) == true ?
    parameter('URL_PPP_MON_COMPTE_AGENT') : PF_URL ~ 'index.php?page=Agent.AgentModifierCompte'
%}
<!-- Bloc utilisateur -->
<div class="row">
    <!-- Ligne 1 - Card 2/2-->
    <div class="col-md-4 col-12 mb-2 ">
        <section class="card bg-primary h-100 blocUserHome">
            <div class="card-content h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 text-break">
                            <div class="media-body text-white text-left">
                                    <span class="welcomeText">
                                        {{ 'TEXT_BIENVENUE'|trans }},
                                    </span>
                                <span class="userText">
                                        {{ app.user.prenom }} {{ app.user.nom }}
                                    </span>
                                <span class="mailText">
                                        {{ app.user.email }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="align-self-center">
                                <i class="fa fa-user white float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Ligne 1 - Card 1/2-->
    <div class="col-md-8 col-12 mb-2">
        <section id="description" class="card h-100">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="primary primary-client">
                                {{ 'TEXT_MON_COMPTE_PERSONNEL_MIN'|trans }}
                            </h3>
                        </div>
                    </div>
                    <hr>
                    <h5>
                        {{ 'TEXT_ENTITE'|trans }} :
                        {{ app.user.organisme.sigle }} - {{ app.user.organisme.denominationOrg }}
                    </h5>
                    <h5>
                        {{ 'SERVICE_RECHERCHE_AVANCEE'|trans }} :
                        {{ labelService | raw }}
                    </h5>
                    <hr>
                    <nav class="navbar navbar-light navbar-profile align-self-end" style="padding:0px;">
                        <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"></button>
                        <nav class="navbar navbar-expand-lg" style="padding:0px;">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ uri_mes_coordonnees }}">
                                            <i class="la la-user"></i>
                                            {{ 'DEFINE_MES_COORDONNEES'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('agent_mes_alertes') }}"><i class="la la-bell-o"></i>
                                            {{ 'TEXT_ALERTES_ELECTRONIQUES'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ PF_URL }}index.php?page=Agent.ParametragesLieuxExecution"><i class="la la-map-marker"></i>
                                            {{ 'PREFERENCE_LIEUX_EXECUTION'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item {{ display_comptes_associes }}">
                                        <a class="nav-link" href="{{ PF_URL }}index.php?page=Agent.GererAssociationsComptes"><i class="la la-users"></i>
                                            {{ 'TEXT_MES_COMPTES_ASSOCIES'|trans }}
                                        </a>
                                    </li>
                                    {% if is_module_enabled('PubliciteOpoce', app.user.organisme) %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ PF_URL }}index.php?page=Agent.MonProfilJoue"><i class="la la-ellipsis-h"></i>
                                                {{ 'MON_PROFIL_JOUE'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Fin Bloc utilisateur -->