<!-- Ligne alerte infos -->
{% if messageAccueil %}
<div class="row">
    <div class="col-md-12 col-12 mb-2">
        {% set bgColor = 'bg-info' %}
        {% if messageAccueil.typeMessage == constant('TYPE_MESSAGE_WARNING', messageAccueil) %}
            {% set bgColor = 'bg-warning' %}
        {% elseif messageAccueil.typeMessage == constant('TYPE_MESSAGE_ERROR', messageAccueil) %}
            {% set bgColor = 'bg-danger' %}
        {% endif %}

        <div class="card text-white box-shadow-0 {{ bgColor }}">
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="messageAccueilAgent" id="blocMessageAccueilAgent">
                        <div class="collapse" id="collapseBlocMessageAccueilAgent" aria-expanded="false">
                            {{ messageAccueil.contenu|raw }}
                        </div>
                    </div>
                </div>
                <div class="card-footer {{ bgColor }} bg-darken-2 text-center pt-0 pb-1 footerMessageAccueilAgent">
                    <button style="margin-top: -21px" class="btn news-feed-btn btn-sm btn-round btn-float btn-secondary collapsed" data-toggle="collapse" href="#collapseBlocMessageAccueilAgent"
                            aria-expanded="false" aria-controls="collapseBlocMessageAccueilAgent" id="buttonCollapse"></button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
<!-- Fin Ligne alerte infos -->
