<div class="{{ class_list }}" id="stats-courriers">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ 'MESSEC_PASSATION'|trans }}</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
        </div>
        <div class="card-content collapse show">
            <div class="card-body overflow-hidden row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 ">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="p-2 text-center bg-info bg-darken-2 rounded-left">
                                            <i class="la la-inbox font-large-2 text-white"></i>
                                        </div>
                                        <div class="p-2 bg-info text-white media-body rounded-right" id="nombre-messages">
                                            <h3 class="text-white"></h3>
                                            <h5 class="text-white text-bold-400 card-content__titleTextContent">{{ 'COURRIERS_EMIS'|trans }}</h5>
                                            <span class="mt-3 text-white"><a class="text-white" href="{{ path('messagerie_suivi_transverse', {'type': 'message-emis'}) }}" target="_blank">{{ 'TEXT_VOIR'|trans }} <i class="la la-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 ">
                            <div class="card ">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="p-2 text-center bg-danger bg-darken-2 rounded-left">
                                            <i class="la la-times font-large-2 text-white"></i>
                                        </div>
                                        <div class="p-2 bg-danger text-white media-body rounded-right" id="nombre-message-non-delivre">
                                            <h3 class="text-white"></h3>
                                            <h5 class="text-white text-bold-400 card-content__titleTextContent">{{ 'COURRIERS_EMIS_NON_DELIVRES_AU_DESTINATAIRE'|trans }}</h5>
                                            <span class="mt-3 text-white"><a class="text-white" href="{{ path('messagerie_suivi_transverse', {'type': 'statut-non-delivre'}) }}" target="_blank">{{ 'TEXT_VOIR'|trans }} <i class="la la-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 ">
                            <div class="card ">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="p-2 text-center bg-warning bg-darken-2 rounded-left">
                                            <i class="la la-hourglass-half font-large-2 text-white"></i>
                                        </div>
                                        <div class="p-2 bg-warning text-white media-body rounded-right" id="nombre-message-en-attente-reponse">
                                            <h3 class="text-white"></h3>
                                            <h5 class="text-white text-bold-400 card-content__titleTextContent">{{ 'COURRIERS_EMIS_EN_ATTENTE_DE_REPONSE_DU_DESTINATAIRE'|trans }}</h5>
                                            <span class="mt-3 text-white"><a class="text-white" href="{{ path('messagerie_suivi_transverse', {'type': 'reponse-attendue'}) }}" target="_blank">{{ 'TEXT_VOIR'|trans }} <i class="la la-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media align-items-stretch">
                                        <div class="p-2 text-center bg-warning bg-darken-2 rounded-left">
                                            <i class="la la-mail-reply font-large-2 text-white"></i>
                                        </div>
                                        <div class="p-2 bg-warning text-white media-body rounded-right" id="nombre-message-non-lu">
                                            <h3 class="text-white"></h3>
                                            <h5 class="text-white text-bold-400 card-content__titleTextContent">{{ 'COURRIERS_EMIS_AYANT_REPONSE_RECUE_NON_LUE'|trans }}</h5>
                                            <span class="mt-3 text-white"><a class="text-white" href="{{ path('messagerie_suivi_transverse', {'type': 'reponse-non-lue'}) }}" target="_blank">{{ 'TEXT_VOIR'|trans }} <i class="la la-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>