<script>
    let labels = [];
    let data = [];
    let backgroundColor = [];
</script>
<!-- Ligne CONSULTATIONS -->
<div class="row">
    <div class="col-md-12 col-12 mb-2">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="p-2 text-center bg-primary rounded-left primary-client-bg">
                        <em class="fa fa-globe font-large-2 white"></em>
                    </div>
                    <div class="py-1 px-2 media-body">
                        <div class="row">
                            <div class="col-md-12 mb-2 mb-md-0">
                                <div class="row">
                                    <div class="col-md-4 mb-2 mb-md-0">
                                        <h3 class="primary primary-client">{{ stats.total_consultation|thousand_separator }}</h3>
                                        <span>{{ 'TEXT_CONSULTATIONS'|trans }}</span>
                                    </div>
                                    <div class="col-md-8 mb-2 mb-md-0 ">
                                        <div class="btn-group mr-1 mb-1 float-right">
                                            <button type="button" class="btn btn-icon btn-primary dropdown-toggle btn-glow primary-client-bg-border" data-toggle="dropdown" aria-label="dropdown-consultation" aria-haspopup="true" aria-expanded="false"><em class="ft-menu"></em></button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                                {% if createConsultationRight %}
                                                    <a class="dropdown-item" href="/?page=Agent.FormulaireConsultation"><em class="ft-plus"></em>
                                                        {{ 'TEXT_GUIDE_CREER_CONSULTATION'|trans }}
                                                    </a>

                                                     {% if (atexo_configuration.getConfigurationOrganisme(app.user.organisme).isConsultationSimplifiee() ) %}
                                                    <a class="dropdown-item" href="{{ path('atexo_consultation_simplifie_create') }}"><em class="ft-plus"></em>
                                                        {{ 'MENU_AGENT_PASSATION_CONSULTATIONS_SIMPLIFIEE_CREER'|trans }}
                                                    </a>
                                                     {% endif %}
                                                {% endif %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/agent/consultation/recherche?search=true"><em class="ft-search"></em>
                                                    {{ 'DEFINE_VOIR_TOUTES_CONSULTATIONS'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Ligne CONSULTATIONS -->
{% set class_list = "col-md-12 col-12 mb-2" %}
{% if has_habilitation_suivi_message %}
    {% set class_list = "col-md-6 col-12 mb-2" %}
{% endif %}
<!-- Ligne Résumé -->
{% if stats.names is defined %}
<div class="row">
    <div class="{{ class_list }}">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    {{ 'DEFINE_CONSULTATION_EN_COURS'|trans }}
                </h4>
                <a class="heading-elements-toggle">
                    <em class="la la-ellipsis-h font-medium-3"></em>
                </a>
            </div>
            <div class="card-content collapse show">
                <div class="card-body overflow-hidden row">
                    <div class="col-md-6 col-sm-12">
                        <ul class="list-group">
                            {% for key, value in stats.names %}
                                <li class="list-group-item py-1">
                                        <span class="badge badge-primary badge-pill float-right badge-glow primary-client-bg">
                                            {{ stats.totals[key]|thousand_separator }}
                                        </span>
                                    <a href="/agent/consultation/recherche?search=true&statut[]={{ getConsultationStatusIdsByCodes(stats.status_key_trad[key])|join('&statut[]=') }}">
                                            <span class="float-left">
                                                <em class="{{ getConsultationStatusIconByCode(stats.status_key_trad[key]) }} mr-1"></em>
                                            </span>
                                        {{ value }}
                                    </a>
                                </li>
                                <script>
                                    labels.push('{{ value }}');
                                    data.push('{{ stats.totals[key] }}');
                                    backgroundColor.push('{{ stats.colors[key] }}');
                                </script>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 border-right-grey border-right-lighten-2">
                        <canvas id="simple-doughnut-chart" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if has_habilitation_suivi_message %}
        {% include 'agent/accueil/_statistics_messec.html.twig' %}
    {% endif %}
</div>
{% endif %}
<!-- Fin Ligne Résumé -->
