{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-12 mb-2 mb-md-0">
            <div class="alert bg-info alert-icon-left alert-arrow-left alert-dismissible" role="alert">
                <span class="alert-icon"><i class="ft-info"></i></span>
                {{ 'TEXT_MES_ASSOCIATIONS_MESSAGE_ACCUEIl'|trans|raw }}
            </div>
            <div class="card">
                <div class="card-content collapse show">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td>
                                        <strong>{{ account['agent'].prenom|capitalize ~' '~ account['agent'].nom|upper }}</strong>
                                        <br/>
                                        {{ account['agent'].email }}
                                    </td>
                                    <td>
                                        <strong>{{ 'ORGANISME'|trans }} :</strong> {{ account['agent'].organisme.denominationOrg }}
                                        <br/>
                                        <strong>{{ 'TEXT_ENTITE_ACHAT'|trans }} :</strong> {{ account['sigleLibelleEntity'] }}
                                    </td>
                                    <td class="">
                                        {% set path = (app.user.login != account['agent'].login)
                                            ? path('atexo_agent_accueil_index')~'?_switch_user='~account['agent'].login
                                            : path('atexo_agent_accueil_index')
                                        %}
                                        <a type="button" class="btn btn-primary float-right" href="{{ path }}"><i class="fas fa-arrow-right"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}