{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accueil-agent') }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('accueil-agent') }}
    <link rel="stylesheet" href="{{ asset('app/css/home-agent.css') }}">
{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            {% if get_parameter('SPECIFIQUE_PLACE') != '1' %}
                <h1 class="content-header-title">
                    {{ clientName }}
                </h1>
            {% endif %}
        </div>
    </div>
    <div id="dashboardUserAgent">
        {{ render(controller('App\\Controller\\Agent\\AccueilController::agentBlock')) }}
        {{ render(controller('App\\Controller\\Agent\\AccueilController::informationsBlock')) }}
        {{ render(controller('App\\Controller\\Agent\\AccueilController::statisticsBlock')) }}
    </div>
{% endblock %}