{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/redac/web-component-clausier/styles.css"/>
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    <script src="/redac/web-component-clausier/web-component-clausier.js"></script>
{% endblock %}

{% block content %}
    <atx-clausier identifiant-saa-s="{{ identifiant }}" is-web-component="true" page="agent/preparation-redaction/clauses/dashboard"></atx-clausier>
{% endblock %}
