{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

{% extends 'layout.html.twig' %}
{% block stylesheet_sf1 %}
    {{ parent() }}
    <link href='{{ asset('themes/' ~ design ~ 'css/ng-style.css') }}?k={{ MEDIA_CACHE_KEY }}' rel='stylesheet'>
{% endblock %}

{% block content %}

    <div class="container central-section section-utils">
        {% if (info['truncatedHomeMessage'] != '') %}
        <div class="alert-msg-accueil alert-{{ info['lblMsgDesign'] }} m-t-3">
            <div class="alert-body clearfix text-justify">
                {% if info['lblMsgDesign'] == 'danger' %}
                    <span class="glyphicon glyphicon-exclamation-sign fa-2x pull-left"></span>
                {% else %}
                    <span class="fa fa-warning fa-2x pull-left"></span>
                {% endif %}
                <div class="alert-body-content clearfix m-l-3 pull-left">
                    {{ info['truncatedHomeMessage'] | raw }}
                </div>
            </div>
            <div class="alert-footer text-center p-t-1">
                <a href="#" class="btn-circle-toggle m-1 relative" data-toggle="tooltip" data-placement="top" title="" data-original-title="Basculer l'affichage"><span class="fa fa-angle-down"></span>
                </a>
            </div>
        </div>
        {% endif %}

        <div class="modal fade" id="modalAccueil" tabindex="-1" role="dialog" aria-labelledby="modalAccueil">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ info['homeMessage'] | raw }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal">{{ 'DEFINE_FERMER'|trans|e }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-block">
        <h1 class="h3 text-center">
            {{ 'TEXT_BIENVENU_SUR_SITE'|trans|e }}
            {{ 'TEXT_MARCHES_PUBLICS_ETAT'|trans|e }}
        </h1>
    </div>
    {% if info['langMessages']['TEXT_INFORMATION_SAE'] != 'TEXT_INFORMATION_SAE' %}
        <div>
            {{ info['langMessages']['TEXT_INFORMATION_SAE'] }}
        </div>
    {% endif %}
    {% if info['langMessages']['MSG_ENTREPRISE'] != 'MSG_ENTREPRISE' %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="section">
                        {{ info['langMessages']['MSG_ENTREPRISE'] | raw }}
                    </div>
                    <div class="section m-t-3">
                        <p>{{ 'TEXT_CETTE_PLACE_DE_MARCHE_INTERMINISTRERIELLE'|trans|e }}</p>
                        <ul>
                            <li>{{ 'TEXT_RECHERCHE_CONSULTER_ANNONCES'|trans|e }}</li>
                            <li>{{ 'TEXT_TELECHARGER_DOSSIER_CONSULTATION'|trans|e }}</li>
                            {% if info['langMessages']['TEXT_REMETTRE_SOUS_FORME_ELECTRONIQUE'] != 'TEXT_REMETTRE_SOUS_FORME_ELECTRONIQUE' %}
                                <li>{{ info['langMessages']['TEXT_REMETTRE_SOUS_FORME_ELECTRONIQUE']| raw  }}</li>
                            {% endif %}
                            {% if info['langMessages']['TEXT_ABONNER_FLUX_RSS_PUBLICATION_AVIS'] != 'TEXT_ABONNER_FLUX_RSS_PUBLICATION_AVIS' %}
                                <li>{{ info['langMessages']['TEXT_ABONNER_FLUX_RSS_PUBLICATION_AVIS']| raw  }}</li>
                            {% endif %}
                            {% if info['langMessages']['TEXT_CONSULTER_INFORMATIONS_MARCHE_PUBLIC'] != 'TEXT_CONSULTER_INFORMATIONS_MARCHE_PUBLIC' %}
                                <li>{{ info['langMessages']['TEXT_CONSULTER_INFORMATIONS_MARCHE_PUBLIC'] | raw }}</li>
                            {% endif %}
                            {% if info['langMessages']['TEXT_DISPOSER_ESPACE_ECHANGES_DOCUMENTS'] != 'TEXT_DISPOSER_ESPACE_ECHANGES_DOCUMENTS' %}
                                <li>{{ info['langMessages']['TEXT_DISPOSER_ESPACE_ECHANGES_DOCUMENTS'] }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if info['langMessages']['TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS'] != 'TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS' %}
                        <div class="section  m-t-3">
                            <p>{{ info['langMessages']['TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS'] }}</p>
                            <ul>
                                <li>{{ 'TEXT_FONCTION_SUPPLEMENTAIRE_1'|trans| raw }}</li>
                                <li>{{ 'TEXT_FONCTION_SUPPLEMENTAIRE_2'|trans| raw }}</li>
                                <li>{{ 'TEXT_FONCTION_SUPPLEMENTAIRE_3'|trans| raw }}</li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="section m-t-3 p-l-3">
                        <ul class="list-unstyled">
                            {% if is_module_enabled('MenuEntrepriseToutesLesConsultations', null) %}
                                <li>
                                    <a href="./?page=Entreprise.EntrepriseAdvancedSearch&amp;AllCons">
                                        <span class="fa fa-chevron-right m-r-1"></span>
                                        {{ 'TEXT_VOIR_TOUTES_CONSULTATIONS'|trans|e }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_module_enabled('MenuEntrepriseConsultationsEnCours', null) %}
                                <li>
                                    <a href="./?page=Entreprise.EntrepriseAdvancedSearch&amp;AllCons&amp;EnCours">
                                        <span class="fa fa-chevron-right m-r-1"></span>
                                        {{ 'TEXT_VOIR_CONSULTATIONS_COURS'|trans|e }}
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="./?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons">
                                    <span class="fa fa-chevron-right m-r-1"></span>
                                    {{ 'RECHERCHER_CONSULTATION'|trans|e }}
                                </a>
                            </li>
                            {% if is_module_enabled('AnnoncesMarches', null) %}
                                <li>
                                    <a href="./?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons#rechercheRes" >
                                        <span class="fa fa-chevron-right m-r-1"></span>
                                        {{ 'RECHERCHER_PROCEDURE_RESTREINTE'|trans|e }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if info['displayDematBlock'] %}
        <div class="container">
            <div class="row match-height-container m-b-8">
                <div class="col-md-12">
                    <div class="panel panel-default match-height">
                        <div class="panel-heading">
                            <a href="./?page=Entreprise.EntrepriseAccueilAuthentifie"
                               title="D&eacute;couvrez les derni&egrave;res fonctionnalit&eacute;s de la plate-forme en t&eacute;l&eacute;chargeant le Guide Utilisateur">
                                <span class="fa fa-feed m-r-1"></span>
                                {{ 'DEFINE_SERVICE_DEMATERIALISATION_MARCHES_PUBLICS'|trans|e }}
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="clearfix p-b-2">
                                <strong>{{ 'TEXT_INSCRIVEZ_VOUS_POUR_BENEFICIER_DE'|trans|e }}</strong>
                            </div>
                            <div class="liste-services-demat clearfix">
                                <ul class="liste-services-demat">
                                    <li>{{ 'TEXT_DISPOSER_SERVICE_ALERTE_GRATUIT'|trans|e }}</li>
                                    <li>{{ 'DEFINE_DISPOSER_ACTIONS_REALISES_CONSULTATIONS'|trans|e }}</li>
                                    <li>{{ 'DEFINE_SERVICE_GESTION_PANIER_ENTREPRISE_PERSONNALISE'|trans|e }}</li>
                                    <li>{{ 'DEFINE_SERVICE_ABONNEMENT_FLUX_RSS'|trans|e }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts_content %}
    {{ parent() }}
{% endblock javascripts_content %}