{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'entreprise/accueil/header.html.twig' %}
    {% if info['accueil_entreprise_personnalise'] %}
        {% include 'entreprise/accueil/search.html.twig' %}
        {% include 'entreprise/accueil/footer.html.twig' %}
    {% endif %}
{% endblock content %}

{% block javascripts_content %}
    {{ parent() }}
    {% if info['accueil_entreprise_personnalise'] %}
    <script src="{{ asset('themes/js/raphael.js') }}"></script>
    <script src="{{ asset('themes/js/jsmap.components.js') }}"></script>
    <script src="{{ asset('themes/map/vmap.js') }}"></script>
    <script src="{{ asset('themes/map/map_local.js') }}"></script>
    <script src="{{ asset('app/js/atexo.search.js') }}"></script>
    {% endif %}
{% endblock javascripts_content %}
