{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

{% extends 'layout.html.twig' %}

{% block content %}
    <div style="text-align: center">{{ message }}</div>
{% endblock content %}
