{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

<div class="container central-section section-utils">
    {% if info['lblMsgAccueil'] %}
    <div id="labelAccueilPonctuel" class="{{ info['lblMsgDesign'] }}">

        <div class="alert-msg-accueil m-t-3">
            <div class="alert-body clearfix text-justify">
                <i class="fa alert-ico-type fa-2x"></i>
                <div class="alert-body-content clearfix m-l-3">
                    {{ info['lblMsgAccueil']|raw }}
                </div>
            </div>
            <div class="alert-footer text-center p-t-1">
                <a href="#"
                   class="btn-circle-toggle m-1 relative"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'BASCULE_AFFICHAGE'|trans|e }}"><i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </div>
    {% endif %}


    {% if info['accueil_entreprise_personnalise'] %}
    <div class="text-block">
        <h1 class="h3 text-center">
            {{ 'DEFINE_BIENVENUE_SUR_PORTAIL_AVIS'|trans|e }}
        </h1>
        {% if info['accueil_entreprise_personnalise'] %}
            {{ 'DEFINE_ENTREPRISE_VENEZ_DECOUVRIR_PORTAIL_MARCHES_PUBLICS'|trans|e }}
        {% endif %}
    </div>
    {% else %}
    <div class="text-block">
        <h1 class="h3 text-center">
            {{ 'TEXT_BIENVENU_SUR_SITE'|trans|e }}
        </h1>
    </div>
        {% if isLibelleValide('MSG_ENTREPRISE') %}
        <div id="labelAccueil" class="panel panel-default">
            <div class="panel-body">
                <div class="section">
                    {{ 'MSG_ENTREPRISE'|trans|raw }}
                </div>

                <div class="section m-t-3">
                    <p>{{ 'TEXT_CETTE_PLACE_DE_MARCHE_INTERMINISTRERIELLE'|trans|raw }}</p>
                    <ul>
                        <li>
                            {{ 'TEXT_RECHERCHE_CONSULTER_ANNONCES'|trans|raw }}
                        </li>
                        <li>
                            {{ 'TEXT_TELECHARGER_DOSSIER_CONSULTATION'|trans|raw }}
                        </li>
                        {% if isLibelleValide('TEXT_REMETTRE_SOUS_FORME_ELECTRONIQUE') %}
                            <li>
                                {{ 'TEXT_REMETTRE_SOUS_FORME_ELECTRONIQUE'|trans|raw }}
                            </li>
                        {% endif %}
                        {% if isLibelleValide('TEXT_ABONNER_FLUX_RSS_PUBLICATION_AVIS') %}
                            <li>
                                {{ 'TEXT_ABONNER_FLUX_RSS_PUBLICATION_AVIS'|trans|raw }}
                            </li>
                        {% endif %}
                        {% if isLibelleValide('TEXT_CONSULTER_INFORMATIONS_MARCHE_PUBLIC') %}
                            <li>
                                {{ 'TEXT_CONSULTER_INFORMATIONS_MARCHE_PUBLIC'|trans|raw }}
                            </li>
                        {% endif %}
                        {% if isLibelleValide('TEXT_DISPOSER_ESPACE_ECHANGES_DOCUMENTS') %}
                            <li>
                                {{ 'TEXT_DISPOSER_ESPACE_ECHANGES_DOCUMENTS'|trans|raw }}
                            </li>
                        {% endif %}
                    </ul>
                </div>

            {% if isLibelleValide('TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS') %}
                <div class="section  m-t-3" style="display:<%= (Prado::localize('TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS') != 'TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS') ? '': 'none'%>">
                    <p>{{ 'TEXT_FONCTIONS_SUPPLEMENTAIRES_PLATEFORME_MARCHES_PUBLICS'|trans|raw }}</p>
                    <ul>
                        <li>{{ 'TEXT_FONCTION_SUPPLEMENTAIRE_1'|trans|raw }}</li>
                        <li>{{ 'TEXT_FONCTION_SUPPLEMENTAIRE_2'|trans|raw }}</li>
                        <li>{{ 'TEXT_FONCTION_SUPPLEMENTAIRE_3'|trans|raw }}</li>
                    </ul>
                </div>
            {% endif %}

                <div class="section m-t-3 p-l-3">
                    <ul class="list-unstyled">
                        {% if isEnabled('MenuEntrepriseToutesLesConsultations') %}
                        <li>
                            <a href="/?page=Entreprise.EntrepriseAdvancedSearch&amp;AllCons">
                                <span class="fa fa-chevron-right m-r-1"></span>
                                {{ 'TEXT_VOIR_TOUTES_CONSULTATIONS'|trans|raw }}
                            </a>
                        </li>
                        {% endif %}
                        {% if isEnabled('MenuEntrepriseConsultationsEnCours') %}
                        <li>
                            <a href="/?page=Entreprise.EntrepriseAdvancedSearch&amp;AllCons&amp;EnCours">
                                <span class="fa fa-chevron-right m-r-1"></span>
                                {{ 'TEXT_VOIR_CONSULTATIONS_COURS'|trans|raw }}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons" >
                                <span class="fa fa-chevron-right m-r-1"></span>
                                {{ 'RECHERCHER_CONSULTATION'|trans|raw }}</a>
                        </li>
                        {% if not isEnabled('AnnoncesMarches') %}
                        <li>
                            <a href="/?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons#rechercheRes" >
                                <span class="fa fa-chevron-right m-r-1"></span>
                                {{ 'RECHERCHER_PROCEDURE_RESTREINTE'|trans|raw }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
