{#  ~ Copyright (C) Atexo - All Rights Reserved#}
{#  ~ Unauthorized copying of this file, via any medium is strictly prohibited#}
{#  ~ Proprietary and confidential #}

<!-- Début bloc recherche rapide -->
<div id="rechercheRapideCons">
    <form action="{{ path('espace_entreprise_search') }}" method="POST" name="lancerRecherche">
        <input type="hidden" name="fromHomeSimpleSearch" value="1">
        <div class="search section-search">
            <div class="container main-section">
                <h2 class="search-head text-center" style="color: black">
                    {{ 'RECHERCHE_RAPIDE_ACCUEIL_ENTREPRISE'|trans|e }}
                </h2>
                <div class="txt-search">
                    <p class="introduction-search text-center col-md-8 col-md-offset-2">
                        {{ 'DEFINE_MSG_RECHERCHE_CONS_LIEUX_EXEC_MAP'|trans|e }}
                    </p>
                </div>
                <div class="row center-content">
                    <div class="col-md-6 col-xs-12 col-md-offset-1 col-xs-offset-0 hidden-xs">
                        <div id="blocMap">
                            <div id="canvas" >
                                <div id="paper" data-tite="{{ 'MESSAGE_CARTE_LIEUX_EXECUTION'|trans|e }}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 form-research form-group form-group-sm">
                        {% if (info['activer_option_carte_page_accueil']) %}
                        <div class="clearfix hidden-xs">
                            <fieldset class="control-label">
                                <!-- titre selection par lieu d'exécution -->
                                <legend class="control-label">{{ 'DEFINE_SELECTIONNER_LIEUX_EXECUTION'|trans|e }}</legend>
                                <div class="radio" id="subitemRadioGroup" onclick="displaySubitemMap();">
                                    <div class="radio">
                                        <label for="optionsRadios2">
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                                            {{ 'DEFINE_PAR_DEPARTEMENTS'|trans|e }}
                                        </label>
                                    </div>
                                </div>
                                <!-- radio par région-->
                                <div class="radio" id="itemRadioGroup" onclick="displayItemMap();">
                                    <div class="radio">
                                        <label for="optionsRadios1">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                            {{ 'DEFINE_PAR_REGIONS'|trans|e }}
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <div class="clearfix">
                            <div class="form-group">
                                <label for="ctl0_CONTENU_PAGE_rechercheRapideCons_categorie">{{ 'DEFINE_CATEGORIE_PRINCIPAL'|trans|e }}:</label>
                                <select id="categorie" name="categorie"
                                        class="form-control" title="{{ 'DEFINE_CATEGORIE_PRINCIPAL'|trans|e }}">
                                    <option value="0">--- {{ 'DEFAULT_CATEGORY_SELECTED'|trans|e }} ---</option>
                                    {% set iter = 1 %}
                                    {% for opt in info['categorie'] %}
                                        <option value="{{ iter }}">{{ opt|trans|e }}</option>
                                        {% set iter = iter + 1 %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="line">
                            <div class="form-group">
                                <label for="ctl0_CONTENU_PAGE_rechercheRapideCons_motsCle">{{ 'DEFINE_MOTS_CLES'|trans|e }}</label>:
                                <input id="keyword" name="keyWord" title="{{ 'DEFINE_MOTS_CLES'|trans|e }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button
                                id="lancerRecherche"
                                class="btn btn-primary btn-block"
                                onclick="selectAllLocalisationsItems('listeLocalisationsSelect');"
                                title="{{ 'DEFINE_LANCER_RECHERCHE'|trans|e }}"
                            >{{ 'DEFINE_LANCER_RECHERCHE'|trans|e }}</button>
                        </div>
                        <ul class="list-padding list-unstyled">
                            <li>
                                <a class="lien-recherche-avancee" href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseAdvancedSearch&amp;searchAnnCons">
                                    <span class="fa fa-chevron-right"></span>
                                    {{ 'TEXT_RECHERCHE_AVANCEE'|trans|e }}
                                </a>
                            </li>
                            <li>
                                <a class="lien-recherche-avancee" href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseAdvancedSearch&searchAnnCons&type=restreinte">
                                    <span class="fa fa-chevron-right"></span>
                                    {{ 'RECHERCHER_PROCEDURE_RESTREINTE'|trans|e }}
                                </a>
                            </li>
                            <li>
                                <a class="lien-recherche-avancee" href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseAdvancedSearch&AllCons">
                                    <span class="fa fa-chevron-right"></span>
                                    {{ 'DEFINE_VOIR_TOUTES_CONSULTATIONS'|trans|e }}
                                </a>
                            </li>
                            <li>
                                <a class="lien-recherche-avancee" href="{{ info['pf_url'] }}?page=Entreprise.EntrepriseAdvancedSearch&AllAnn">
                                    <span class="fa fa-chevron-right"></span>
                                    {{ 'TEXT_RECHERCHE_AVANCEE_AUTRES_ANNONCES'|trans|e }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Début bloc liste de Regions et Départements selectionnés -->
                <div class="bloc-selection-map" style="display:none;">
                    <div class="intitule-auto bold"><label for="listeLocalisationsSelect">{{ 'RECHERCHE_RAPIDE_MA_SELECTION_ACTUELLE'|trans|e }}</label></div>
                    <select class="selectpicker liste-region-selectionnes" multiple="multiple" id="listeLocalisationsSelect" name="localisations[]"></select>
                    <div class="vider-liste"><a href="#">{{ 'RECHERCHE_RAPIDE_VIDER_LISTE'|trans|e }}</a></div>
                    <div class="effacer-selection"><a href="#">{{ 'RECHERCHE_RAPIDE_CARTE_EFFACER'|trans|e }}</a></div>
                </div>
                <!-- Fin bloc liste de Regions et Departement selectionnés -->
            </div>
        </div>
    </form>
</div>
<!-- Fin bloc recherche rapide -->
