{% extends 'layout-agent.html.twig' %}

{% block content %}
    <!--remplacer par un layout agent-->
    <!--Debut colonne droite-->
    <div class="main-part" id="main-part">
        <div class="breadcrumbs">&gt; {{ 'INFO_RGAA'|trans|raw  }}</div>
        <!--Debut Texte InfoRGAA-->
        <div class="main-text margin-top-3">
            <h2 class="message-big">{{ info['PF_LONG_NAME']|trans|raw }}</h2>
            {{ 'TEXTE_HOMOLOGATION_RGAA_AGENT'|trans|raw  }}
            <div class="breaker"></div>
        </div>
        <!--Fin Texte InfoRGAA-->
        <div class="breaker"></div>
    </div>

{% endblock %}