{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="main-part" id="main-part">
        <div class="breadcrumbs"><a href="#">{{ 'DEFINE_TEXT_AIDE'|trans }}</a>&gt; {{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</div>
        <!--Debut Bloc Assistance-->
        <div class="form-field">
            <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            <div class="content" style="{% if info['utah'] == '1'%}display:none{% else %}display:block{% endif %}">
                <h3>{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</h3>
                <p>{{ 'TEXT_AIDE_ASSISTANCE_AGENT'|trans }}</p>
                {{ 'TEXT_LOGO_ASSISTANCE_AGENT'|trans }}
                {{ 'TEXT_COURRIEL_ASSISTANCE_AGENT'|trans }}
                <div visible="{{ 'TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE' != "TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE" ? true : false }}">
                    <p>
                        {{ 'TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE'|trans }}:
                        <br/>
                        {{ 'POUR_WINDOWS'|trans }} <a href="{{ info['outils'] }}/PMAD-MPE.exe">{{ 'CLIQUER_ICI'|trans }}</a>.
                        <br/>
                        {{ 'POUR_MAC'|trans }} <a href="{{ info['outils'] }}/PMAD-MPE.dmg">{{ 'CLIQUER_ICI'|trans }}</a>.
                    </p>
                </div>
                <div class="spacer-mini"></div>
                <div class="breaker"></div>
                <p>{{ 'CRENEAUX_HORAIRES_CONSEILLES'|trans }}</p>
                <div style=" padding-right: 20px; padding-left: 20px;">
                    <p></p>
                    <img class="img-responsive" src="/themes/images/calendrier_assistance.png" style="width: 100%;">
                </div>
            </div>
            <div class="content" style="{% if info['utah'] == '1'%}display:block{% else %}display:none{% endif %}">
                <h3>{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</h3>
                <p>{{ 'TEXT_ASSISTANCE_LIGNE'|trans }}</p>
                {{ 'TEXT_LOGO_ASSISTANCE_AGENT'|trans|raw }}
                <div visible="{{ 'TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE' != "TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE" ? true : false }}">
                    <p>
                        {{ 'TEXT_AIDE_TELECHARGEMENT_OUTILS_ASSISTANCE'|trans }}:
                        <br/>
                        {{ 'POUR_WINDOWS'|trans }} <a href="{{ info['outils'] }}/PMAD-MPE.exe">{{ 'CLIQUER_ICI'|trans }}</a>.
                        <br/>
                        {{ 'POUR_MAC'|trans }} <a href="{{ info['outils'] }}/PMAD-MPE.dmg">{{ 'CLIQUER_ICI'|trans }}</a>.
                    </p>
                </div>
                <div class="spacer-mini"></div>
                <div class="breaker"></div>
                <p>{{ 'CRENEAUX_HORAIRES_CONSEILLES'|trans }}</p>
                <div style=" padding-right: 20px; padding-left: 20px;">
                    <p></p>
                    <img class="img-responsive" src="/themes/images/calendrier_assistance.png" style="width: 100%;">
                </div>
            </div>
            <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
        </div>
        <!--Fin Bloc Assistance-->
        <div class="breaker"></div>
    </div>
{% endblock %}