{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h1 class="content-header-title">
                {{ 'CONDITION_UTILISATION'|trans }}
            </h1>
            <div class="row breadcrumbs-top" aria-label="breadcrumb">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ PF_URL }}agent">
                                {{ 'TEXT_ACCUEIL'|trans }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active"  aria-current="page">
                            {{ 'CONDITION_UTILISATION'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!--Debut Mentions Légales-->
    <section id="description" class="card">
        <div class="card-content">
            <div class="card-body">
                <h4>
                    {{ 'CONDITION_UTILISATION'|trans }}
                </h4>
                <hr>
                <div>
                    <p id="rubrique_1">
                        {{ 'TEXT_CONDITION_UTILISATION'|trans|raw }}
                    </p>
                    <div class="list-group">
                        <ul style="padding-inline-start: 0; font-size: 15px;">
                            <li class="list-group-item">
                                <a id="rubrique_1_1" href="#rubrique_1_paragraphe_1">
                                    <i class="far fa-star mr-1"></i>
                                    {{ 'APPROBATION_APPLICATION'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a id="rubrique_1_2" href="#rubrique_1_paragraphe_2">
                                    <i class="far fa-star mr-1"></i>
                                    {{ 'AVERTISSEMENT_RECOMMANDATION'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a id="rubrique_1_5" href="#rubrique_1_paragraphe_5">
                                    <i class="far fa-star mr-1"></i>
                                    {{ 'ACHETEURS_PUBLICS'|trans }}
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a id="rubrique_1_4" href="#rubrique_1_paragraphe_4">
                                    <i class="far fa-star mr-1"></i>
                                    {{ 'UTILISATION_MESSAGERIE_SECURISEE'|trans }}
                                </a>
                            </li>
                            <div>
                                {% if not specifiquePlace %}
                                    <li class="list-group-item">
                                        <a id="rubrique_1_3" href="#rubrique_1_paragraphe_3">
                                            <i class="far fa-star mr-1"></i>
                                            {{ 'CERTIFICAT_ELECTRONIQUE'|trans }}
                                        </a>
                                        <ul style="list-style: none;">
                                            <li><a id="rubrique_1_3_0" href="#rubrique_1_paragraphe_3_0">
                                                    <i class="fa fa-arrow-right"></i>
                                                    {{ 'LISTE_DES_CERTIFICATS_RGS'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a id="rubrique_1_3_1" href="#rubrique_1_paragraphe_3_1">
                                                    <i class="fa fa-arrow-right"></i>
                                                    {{ 'PK_CERTIFICAT_ELECTRONIQUE'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a id="rubrique_1_3_2" href="#rubrique_1_paragraphe_3_2">
                                                    <i class="fa fa-arrow-right"></i>
                                                    {{ 'OBTENIR_CERTIFICAT_ELECTRONIQUE'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a id="rubrique_1_3_3" href="#rubrique_1_paragraphe_3_3">
                                                    <i class="fa fa-arrow-right"></i>
                                                    {{ 'DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="list-group-item">
                                        <a id="rubrique_1_3" href="#rubrique_1_paragraphe_3">
                                            <i class="far fa-star mr-1"></i>
                                            {{ 'CERTIFICAT_ELECTRONIQUE'|trans }}
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a id="rubrique_1_3_1" href="#rubrique_1_paragraphe_3_1">
                                            <i class="far fa-star mr-1"></i>
                                            {{ 'PK_CERTIFICAT_ELECTRONIQUE'|trans }}
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a id="rubrique_1_3_2" href="#rubrique_1_paragraphe_3_2">
                                            <i class="far fa-star mr-1"></i>
                                            {{ 'OBTENIR_CERTIFICAT_ELECTRONIQUE'|trans }}
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a id="rubrique_1_3_3" href="#rubrique_1_paragraphe_3_3">
                                            <i class="far fa-star mr-1"></i>
                                            {{ 'DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                            </div>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
    <section class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="main-text">
                    <hr>
                    <h3 id="rubrique_1_paragraphe_1">
                        <i class="far fa-star"></i>
                        {{ 'APPROBATION_APPLICATION'|trans }}
                    </h3>
                    <hr>
                    <p>
                        {{ 'TEXT_APPROBATION_APPLICATION_AGENT'|trans |raw }}
                    </p>
                    <div class="mb-1">
                        <a href="#rubrique_1" title="{{ 'RETOUR_HAUT_RUBRIQUE'|trans }} - {{ 'CONDITION_UTILISATION'|trans }}">
                            <i class="fa fa-arrow-right fa-arrow-right--up"></i>
                            {{ 'HAUT_PAGE'|trans }}
                        </a>
                    </div>
                    <hr>

                    <h3 id="rubrique_1_paragraphe_2">
                        <i class="far fa-star"></i>
                        {{ 'AVERTISSEMENT_RECOMMANDATION'|trans }}
                    </h3>
                    <hr>
                    <p>
                        {{ 'TEXT_AVERTISSEMENT_RECOMMANDATION'|trans|raw }}
                    </p>
                    <div class="mb-1">
                        <a href="#rubrique_1" title="{{ 'RETOUR_HAUT_RUBRIQUE'|trans }} - {{ 'CONDITION_UTILISATION'|trans }}">
                            <i class="fa fa-arrow-right fa-arrow-right--up"></i>
                            {{ 'HAUT_PAGE'|trans }}
                        </a>
                    </div>
                    <hr>

                    <h3 id="rubrique_1_paragraphe_5">
                        <i class="far fa-star"></i>
                        {{ 'ACHETEURS_PUBLICS'|trans }}
                    </h3>
                    <hr>
                    <p>
                        {{ 'TEXT_ACHETEURS_PUBLICS'|trans|raw }}
                    </p>
                    <div class="mb-1">
                        <a href="#rubrique_1" title="{{ 'RETOUR_HAUT_RUBRIQUE'|trans }} - {{ 'CONDITION_UTILISATION'|trans }}">
                            <i class="fa fa-arrow-right fa-arrow-right--up"></i>
                            {{ 'HAUT_PAGE'|trans }}
                        </a>
                    </div>
                    <hr>

                    <h3 id="rubrique_1_paragraphe_4">
                        <i class="far fa-star"></i>
                        {{ 'UTILISATION_MESSAGERIE_SECURISEE'|trans }}
                    </h3>
                    <hr>
                    <p>
                        {{ 'TEXT_UTILISATION_MESSAGERIE_SECURISEE'|trans|raw }}
                    </p>
                    <div class="mb-1">
                        <a href="#rubrique_1" title="{{ 'RETOUR_HAUT_RUBRIQUE'|trans }} - {{ 'CONDITION_UTILISATION'|trans }}">
                            <i class="fa fa-arrow-right fa-arrow-right--up"></i>
                            {{ 'HAUT_PAGE'|trans }}
                        </a>
                    </div>

                    <div>
                        <hr>
                        <h3 id="rubrique_1_paragraphe_3">
                            <i class="far fa-star"></i>
                            {{ 'CERTIFICAT_ELECTRONIQUE'|trans }}
                        </h3>
                        <hr>
                        <div>
                            <p id="rubrique_1_paragraphe_3_0">
                                <strong>
                                    <i class="fa fa-arrow-right"></i>
                                    {{ 'LISTE_DES_CERTIFICATS_RGS'|trans|raw }}
                                </strong>
                                <br>
                                {{ 'TEXT_LISTE_AUTORITES_CERTIFICATIONS'|trans|raw }}
                            </p>
                        </div>
                        <!--Fin Ajout Rubrique Liste certificats RGS-->

                        {% if not specifiquePlace %}
                            <p id="rubrique_1_paragraphe_3_1">
                            <strong>
                                <i class="fa fa-arrow-right"></i>
                                {{ 'PK_CERTIFICAT_ELECTRONIQUE'|trans|raw }}
                            </strong>
                            <br>
                        {% else %}
                            <div class="mb-1">
                                <a href="#rubrique_1" title="{{ 'RETOUR_HAUT_RUBRIQUE'|trans }} - {{ 'CONDITION_UTILISATION'|trans }}">
                                    <i class="fa fa-arrow-right fa-arrow-right--up"></i>
                                    {{ 'HAUT_PAGE'|trans }}
                                </a>
                            </div>

                            <hr>
                            <h3 id="rubrique_1_paragraphe_3_1">
                                <i class="far fa-star"></i>
                                {{ 'PK_CERTIFICAT_ELECTRONIQUE'|trans }}
                            </h3>
                            <hr>
                        {% endif %}

                        <p>
                            {{ 'CERTIFICAT_ELECTRONIQUE_PERMET'|trans|raw }}
                        </p>
                        <ul style="list-style: none;">
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                {{ 'CERTIFICAT_ELECTRONIQUE_PERMET_DE_PROUVER_IDENTITE'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                {{ 'CERTIFICAT_ELECTRONIQUE_PERMET_DE_SIGNER_OFFRES'|trans }}
                            </li>
                        </ul>
                        <p id="rubrique_1_paragraphe_3_2">
                            <strong>
                                <i class="fa fa-arrow-right"></i>
                                {{ 'OBTENIR_CERTIFICAT_ELECTRONIQUE'|trans|raw }}
                            </strong>
                            <br>
                            {{ 'TEXT_OBTENIR_CERTIFICAT_ELECTRONIQUE'|trans|raw }}
                        </p>
                        <p id="rubrique_1_paragraphe_3_3">
                            <strong>
                                <i class="fa fa-arrow-right"></i>
                                {{ 'DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans|raw }}
                            </strong>
                            <br>
                            {{ 'TEXT_DIFFICULTE_CERTIFICAT_ELECTRONIQUE'|trans|raw }}
                        </p>
                        <div>
                            <a href="#rubrique_1" title="{{ 'RETOUR_HAUT_RUBRIQUE'|trans }} - {{ 'CONDITION_UTILISATION'|trans }}">
                                <i class="fa fa-arrow-right fa-arrow-right--up"></i>
                                {{ 'HAUT_PAGE'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fin Mentions Légales-->
{% endblock %}
