{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">
                {{ 'TEXT_DECHIFFREMENT_HORS_LIGNE'|trans }}
            </h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_ASSISTANCE'|trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'TEXT_DECHIFFREMENT_HORS_LIGNE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>
                {{ 'TEXT_DECHIFFREMENT_HORS_LIGNE'|trans }}
            </h4>
            <hr>
            <div class="alert alert-warning">
                {{ 'TEXT_LIEN_DECHIFFREMENT_HORS_LIGNE'|trans }}
                <a href="{{ get_parameter('URL_DOCS_OUTILS_HORS_LIGNE') }}/outil-dechiffrement-hors-ligne.zip">
                    {{ 'LIEN_DECHIFFREMENT_HORS_LIGNE'|trans }}
                </a>
            </div>
            <div>
                {{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_1'|trans }}
            </div>
            <div class="clearfix">&nbsp;</div>
            <div>
                {{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_2'|trans }}
            </div>
            <ul>
                <li><a href="https://apps.kde.org/fr/kleopatra/">Kleopatra (Gof4Win)</a>{{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_3'|trans }}</li>
                <li><a href="https://www.idopte.com/">Sign&Crypt (IDOPTE)</a>{{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_4'|trans }}</li>
                <li><a href="http://www.cryptigo.eu/p7mViewer/Download/">p7mViewer</a>{{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_5'|trans }}</li>
                <li><a href="https://gpgtools.org/">GPG Suite,</a>{{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_6'|trans }}</li>
            </ul>
            <div>
                {{ 'TEXT_DECHIFFREMENT_HORS_LIGNE_TEXT_7'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
