{% extends 'layout-agent.html.twig' %}

{% block content %}
    <!--Debut colonne droite-->
    <div class="configuration-poste">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h1 class="content-header-title">
                    {{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
                </h1>
                <div class="row breadcrumbs-top" aria-label="breadcrumb">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ PF_URL }}agent">
                                    {{ 'TEXT_ACCUEIL'|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item active"  aria-current="page">
                                {{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section id="description" class="card">
            <div class="card-content" style="line-height: 28px;">
            <!--Debut Entete -->
                <div class="card-body">
                    <div class="panel-body">
                        <p>
                            <label>{{ called_from == 'agent'? 'TEXT_TEST_CONFIGURATION_AGENT_CRYPTO'|trans|raw : 'TEXT_TEST_CONFIGURATION_CRYPTO'|trans|raw }}</label>
                        </p>

                        <ul class="diagnostic-liste">
                            <li>
                                <span class="fa fa-chevron-right"></span>
                                {{ 'SYSTEME_EXPLOITATION'|trans }}
                            </li>
                            <li>
                                <span class="fa fa-chevron-right"></span>
                                {{ 'PRESENCE_ENVIRONNEMENT_PRESENT'|trans }}
                            </li>
                            <li>
                                <span class="fa fa-chevron-right"></span>
                                {{ 'ACCES_MAGASIN_CERTIFICATS'|trans }}
                            </li>
                            <li>
                                <span class="fa fa-chevron-right"></span>
                                {{ 'COMMUNICATION_AVEC_SERVEUR'|trans }}
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-primary btn-sm btn-footer pull-right bouton"
                           href="{{ path("ecrans_test_config", {'calledFrom' : called_from }) }}"
                           title="{{ 'LANCER_TEST_CONFIG'|trans }}">
                            <i class="fa fa-cogs m-r-1 hide-agent"></i>
                            {{ 'LANCER_TEST_CONFIG'|trans }}
                        </a>
                        <a href="javascript:window.history.back();" class="btn btn-default btn-sm btn-footer bouton-retour"
                           title="{{ 'TEXT_RETOUR'|trans }}">
                            {{ 'TEXT_RETOUR'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            <!--Fin Bloc Resultat de la configuration-->
        </section>
    </div>
{% endblock %}
