{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h1 class="content-header-title">
                {{ 'INFOSITE'|trans }}
            </h1>
            <div class="row breadcrumbs-top" aria-label="breadcrumb">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ PF_URL }}agent">
                                {{ 'TEXT_ACCUEIL'|trans }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active"  aria-current="page">
                            {{ 'INFOSITE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section id="description" class="card">
        <div class="card-content" style="line-height: 28px;">
            <div class="card-body">
                <h4>
                    {{ info['PF_LONG_NAME_INFOSITE']|trans }}
                </h4>
                <hr>
                <strong>
                    {{ 'SITE_PROPRIETE'|trans }} :
                </strong>
                {{ info['INFOSITE']|trans|raw }}
                <br>
                <strong>
                    {{ 'REALISATION_EDITORIALE'|trans }}
                </strong>
                <a href="#">
                    {{ info['INFOSITE_REALISATION_EDITORIALE']|trans|raw }}
                </a>
                <br>
                <strong>
                    {{ 'DIRECTEUR_PUBLICATION'|trans }}
                </strong>
                {{ info['INFOSITE_DIRECTEUR_PUBLICATION']|trans|raw }}
                <br>
                <strong>
                    {{ 'NUMERO_VERSION_MPE'|trans }}
                </strong>
                {{ info['MPE_VERSION']|trans|raw }}
            </div>
        </div>
    </section>
{% endblock %}