{% extends 'layout-agent.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ PF_URL }}agent">{{ 'TEXT_ACCUEIL'|trans }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'INFO_RGS'|trans|raw }}</li>
        </ol>
    </nav>

    <div>
        <h2 class="message-big">{{ 'MARCHES_PUBLICS_ELECTRONIQUES'|trans }}</h2>
        {{ 'TEXTE_HOMOLOGATION_RGS'|trans|raw }}
    </div>
{% endblock %}