{% extends 'layout-agent.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ PF_URL }}?page=Entreprise.AccueilEntreprise">{{ 'TEXT_ACCUEIL'|trans }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'LISTE_DES_CERTIFICATS_EUROPEEN'|trans }}</li>
        </ol>
    </nav>

    <h2>{{ 'TITRE_LISTE_DES_CERTIFICATS_EUROPEEN'|trans }}</h2>
    <p>{{ 'LIEN_LISTE_CERTIFICATS_CONFORMES_EUROPEEN'|trans|raw }}</p>

    <div class="table-bloc table-bloc-detail">
        <div class="toggle-ac">
            <a class="collapse-all" href="#">{{ 'DEFINE_TOUT_AFFICHER'|trans }}</a> /
            <a class="toggle-all" href="#">{{ 'DEFINE_TOUT_CACHER'|trans }}</a>
        </div>

        <p><b>{{ 'LISTE_AUTORITE_DE_CERTIFICATION'|trans }} ({{ 'DEFINE_AC'|trans }}) :</b></p>
        <ul class="list-unstyled">
            {% for ACRacine in data %}
                <li class="line-racine">
                    <a class="title-toggle"
                       onclick="togglePanelAc(this,'panel_{{ ACRacine['Index'] }}');">{{ 'AC_RACINE'|trans }}
                        :</a>
                    <a href="{{ ACRacine['InformationURI'] }}" class="lien-ext"
                       target="_blank">{{ ACRacine['TSPName'] }}</a>
                    <ul>
                        {% for ACFille in ACRacine['ACFilles'] %}
                            <li class="panel-detail panel_{{ ACFille['IndexPere'] }} list-unstyled" style="display:none;">
                                <div class="row">
                                    <a class="title-toggle col-md-2"
                                       onclick="togglePanelClass(this,'panel_detail_{{ ACFille['Index'] }}');"
                                       href="javascript:void(0);">{{ 'TEXT_VOIR_DETAIL'|trans }}</a>
                                    <p class="col-md-4">{{ 'AC_FILLE'|trans }} : <strong>{{ ACFille['CN'] }}</strong></p>
                                    <p class="col-md-4">{{ 'NOM_COMMERCIAL'|trans }} : <strong>{{ ACFille['ServiceName'] }}</strong></p>
                                    <a class="col-md-2" href="{{ path("ecrans_download_certificat", {'calledFrom' : 'entreprise', 'indexPere' : ACFille['IndexPere'], 'index' : ACFille['Index']}) }}">
                                        <button>
                                            <img src="/themes/images/picto-dl-dossier.gif"
                                                 alt="{{ 'TELECHARGER_CLE_PIBLIQUE_AC_FILLE'|trans }}"
                                                 title="{{ 'TELECHARGER_CLE_PIBLIQUE_AC_FILLE'|trans }}">
                                        </button>
                                    </a>
                                </div>

                                <div class="panel_detailAC_01 panel_detail_{{ ACFille['Index'] }} panel panel-default" style="display:none;">
                                    <div class="bloc-detail p-2 panel-body">
                                        <div class="title">{{ 'DETAIL_AC_FILLE'|trans }}</div>
                                        <div class="line">
                                            <span class="intitule-auto">{{ 'VALIDE_A_PARTIR'|trans }} :</span>{{ ACFille['ValidityNotBefore'] }}
                                        </div>
                                        <div class="line">
                                            <span class="intitule-auto">{{ 'VALABLE_JUSQU_AU'|trans }} :</span>{{ ACFille['ValidityNotAfter'] }}
                                        </div>
                                        <div class="line">
                                            <span class="intitule-auto">{{ 'LISTE_CERTIFICATS_REVOQUE'|trans }} :</span><a
                                                    href="{{ ACFille['CrlDistributionPoints'] ? ACFille['CrlDistributionPoints'][0] : "#" }}"
                                                    class="{{ ACFille['CrlDistributionPoints'] ? "lien-ext" : "" }}"
                                                    target="_blank">{{ ACFille['CrlDistributionPoints'] ? ACFille['CrlDistributionPoints'][0] : " - " }}</a>
                                        </div>
                                        <div class="line">
                                            <span class="intitule-auto">{{ 'POLITIQUE_DE_CERTIFICATION'|trans }} :</span><a
                                                    href="{{ ACFille['CertificatPolicies']['URI'] is defined ? ACFille['CertificatPolicies']['URI'] : "#" }}"
                                                    class="{{ ACFille['CertificatPolicies']['URI'] is defined ? "lien-ext" : "" }}"
                                                    target="_blank">{{ ACFille['CertificatPolicies']['URI'] is defined ? ACFille['CertificatPolicies']['URI'] : " - " }}</a>
                                        </div>
                                        {% if ACFille['CertificatPolicies']['PolicyIdentifier'] is defined %}
                                            <div class="line">
                                                <span class="intitule-auto">{{ 'IDENTIFIANT_POLITIQUE_DE_CERTIFICATION'|trans }} :</span>{{ ACFille['CertificatPolicies']['PolicyIdentifier'] }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </li>
            {% endfor %}
        </ul>

        <div class="toggle-ac">
            <a class="collapse-all" href="#">{{ 'DEFINE_TOUT_AFFICHER'|trans }}</a> /
            <a class="toggle-all" href="#">{{ 'DEFINE_TOUT_CACHER'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/jquery.min-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/jquery-compatibility.js') }}"></script>
    <script type="text/javascript" src="{{ asset('consultation_depot/assets/js/scripts.js') }}"></script>
{% endblock %}