{% extends 'layout-agent.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ PF_URL }}agent">{{ 'TEXT_ACCUEIL'|trans }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'TEXT_NOS_PARTENAIRES'|trans|raw }}</li>
        </ol>
    </nav>

    <div class="row mb-2">
        <div class="col-12">
            <div class="row align-items-center">
                <figure class="figure col-2">
                    <img class="figure-img img-fluid rounded" alt=""  width="100%" src="/themes/images/UE.png">
                </figure>
                <div class="col-10"><i>{{ 'COFINANCEMENT_EUROPE'|trans }}</i></div>
            </div>
        </div>
        {% for partenaire in partenaires %}
            <div class="col-12">
                <div class="row align-items-center">
                    <figure class="figure col-2">
                        <img alt=""
                               class="figure-img img-fluid rounded"
                               width="100%"
                               src="/themes/images/{{ partenaire.lienImg }}"/>
                    </figure>
                    <div class="col-10">
                        <a class="lien-ext" target="_blank" href="{{ partenaire.lienExterne }}"
                           title="{{ partenaire.title }}">{{ partenaire.initials }}</a> -
                        <i>{{ partenaire.descPartenaire }}</i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}