{% extends 'layout-agent.html.twig' %}

{% block content %}
        <!--Debut colonne droite-->
        <div class="main-part" id="main-part">
            <div class="breadcrumbs"><a href="#">{{ 'DEFINE_TEXT_AIDE'|trans }}</a>&gt; {{ 'TEXT_OUTILS_INFORMATIQUES'|trans }}</div>
            <!--Debut Bloc logiciels Chiffrement et Signature-->
            <div class="form-field">
                <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
                <div class="content">
                    {% if info['horodatage'] == '1' %}
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer"></div><a href="{{ info['outils'] }}/ATEXO-Verification-horodatage.zip" target="_blank">Utilitaire de vérification de l'horodatage</a> </div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="{{ info['outils'] }}/ATEXO-Verification-horodatage.zip" target="_blank"><img src="/themes/images/picto-signature-big.gif" alt="logo ATEXO Verfication horodatage" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    {% endif %}
                    <div class="breaker"></div>
                </div>
                <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            </div>
            <!--Fin Bloc logiciels Chiffrement et Signature-->
            <!--Debut Bloc Utilitaire telechargement des dossiers volumineux-->
            {% if info['dossier'] == '1' %}
            <div class="form-field">
                <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
                <div class="content">
                    <div class="line">
                        <div class="content-bloc bloc-450 blue bold">{{ 'UTILITAIRE_DOWNLOAD_DV'|trans }}</div>
                        <div class="content-bloc bloc-300 blue bold center">{{ 'TELECHARGEMENT'|trans }}</div>
                    </div>
                    <div class="spacer-small"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer"></div><a href="{{ info['windows'] }}" target="_blank">{{ 'UTILITAIRE_DOWNLOAD_DV_WINDOWS'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="{{ info['windows'] }}" target="_blank"><img src="/themes/images/java.gif" alt="{{ 'UTILITAIRE_DOWNLOAD_DV_WINDOWS'|trans }}" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer"></div><a href="{{ info['mac'] }}" target="_blank">{{ 'UTILITAIRE_DOWNLOAD_DV_MAC'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="{{ info['mac'] }}" target="_blank"><img src="/themes/images/java.gif" alt="{{ 'UTILITAIRE_DOWNLOAD_DV_MAC'|trans }}" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer"></div><a href="{{ info['linux'] }}" target="_blank">{{ 'UTILITAIRE_DOWNLOAD_DV_LINUX'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="{{ info['linux'] }}" target="_blank"><img src="/themes/images/java.gif" alt="{{ 'UTILITAIRE_DOWNLOAD_DV_LINUX'|trans }}" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="breaker"></div>
                </div>
                <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            </div>
            {% endif %}
            <!--Fin Bloc  Utilitaire telechargement des dossiers volumineux-->
            <!--Debut Bloc Outils bureautique-->
            <div class="form-field">
                <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
                <div class="content">
                    <div class="line">
                        <div class="content-bloc bloc-450 blue bold">{{ 'TEXT_OUTILS_BUREAUTIQUE'|trans }}</div>
                        <div class="content-bloc bloc-300 blue bold center">{{ 'TELECHARGEMENT'|trans }}</div>
                    </div>
                    <div class="spacer-small"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450">
                            <div class="spacer-small"></div>
                            <a href="http://www.7-zip.org/download.html" target="_blank">{{ 'FILE_COMPRESSION_DECOMPRESSION_ZIP'|trans }}</a>
                        </div>
                        <div class="content-bloc bloc-300 center outil-col">
                            <a href="http://www.7-zip.org/download.html" target="_blank">
                                <img src="/themes/images/logo-7zip.png" alt="Logo 7-zip" title="{{ 'TELECHARGEMENT'|trans }}" />
                            </a>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer-small"></div><a href="http://www.adobe.com/fr/" target="_blank">{{ 'FILE_LECTURE_DOCUMENT_PDF'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="http://www.adobe.com/fr/" target="_blank"><img src="/themes/images/doc-pdf.gif" alt="Logo PDF" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer-small"></div><a href="http://www.pdfforge.org/products/pdfcreator/download" target="_blank">{{ 'FILE_GENERATION_DOCUMENT_PDF'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="http://www.pdfforge.org/products/pdfcreator/download" target="_blank"><img src="/themes/images/doc-pdf.gif" alt="Logo PDF" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer"></div><a href="http://fr.libreoffice.org/" target="_blank">{{ 'SUITE_OPEN_OFFICE'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="http://fr.libreoffice.org/" target="_blank"><img src="/themes/images/logo-libre-office.png" alt="Logo LibreOffice" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="line">
                        <div class="content-bloc bloc-450"><div class="spacer-small"></div><a href="http://www.autodesk.com/designreview-download" target="_blank">{{ 'TEXT_LECTURE_DOC_DWF'|trans }}</a></div>
                        <div class="content-bloc bloc-300 center outil-col"><a href="http://www.autodesk.com/designreview-download" target="_blank"><img src="/themes/images/picto-dwf.gif" alt="Logo DWF" title="{{ 'TELECHARGEMENT'|trans }}" /></a></div>
                    </div>
                    <div class="breaker"></div>
                </div>
                <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
            </div>
            <!--Fin Bloc Outils bureautique-->
            <div class="breaker"></div>
        </div>
{%  endblock %}