{% extends 'layout-agent.html.twig' %}

{% block content %}
    <ul>
        <li>{{ 'TEXT_CONSULTATIONS'|trans }}
            <ul type="disc">
                <li><a href="{{ PF_URL }}?page=Agent.FormulaireConsultation">{{ 'DEFINE_TEXT_CREER'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.TableauDeBord&amp;AS=0">{{ 'TEXT_TOUTES_CONSULTATION'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.TableauDeBord&amp;AS=1&amp;searchAnnCons">{{ 'TEXT_RECHERCHE_AVANCEE'|trans }}</a></li>
            </ul>
        </li>
        <li>{{ 'CONTRATS'|trans }}
            <ul type="disc">
                <li><a href="{{ PF_URL }}?page=Agent.FormulaireContrat">{{ 'SAISIR_UN_CONTRAT'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.ResultatRechercheContrat">{{ 'TOUTES_LES_CONTRATS'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.ResultatRechercheContrat&amp;advanceSearch">{{ 'TEXT_RECHERCHE_AVANCEE'|trans }}</a></li>
            </ul>
        </li>
        <li>{{ 'TEXT_ANNUAIRE'|trans }}
            <ul type="disc">
                <li><a href="{{ PF_URL }}?page=Agent.SearchCompany">{{ 'FOURNISSEURS'|trans }}</a></li>
            </ul>
        </li>
        <li>{{ 'TEXT_ARCHIVES'|trans }}
            <ul type="disc">
                <li><a href="{{ path('agent_signer_document') }}">{{ 'SIGNER_UN_DOCUMENT'|trans }}</a></li>
                <li><a href="{{ path('verification_signature') }}">{{ 'VERIFIER_SIGNATURE'|trans }}</a></li>
            </ul>
        </li>
        <li>{{ 'DEFINE_TEXT_OUTILS_DE_SIGNATURE'|trans }}
            <ul type="disc">
                <li><a href="{{ path('agent_signer_document') }}">{{ 'SIGNER_UN_DOCUMENT'|trans }}</a></li>
                <li><a href="{{path('verification_signature')}}">{{ 'VERIFIER_SIGNATURE'|trans }}</a></li>
            </ul>
        </li>
        <li>{{ 'DEFINE_TEXT_AIDE_AGENT'|trans }}
            <ul type="disc">
                <li><a href="{{ PF_URL }}?page=Agent.AgentGuide">{{ 'DEFINE_TEXT_ASSISTANCE_GUIDE_AGENT'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.AgentAide">{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.AgentAutoformation">{{ 'TEXT_MODULE_AUTO_FORMATION'|trans }}</a></li>
                <li><a href="{{ PF_URL }}?page=Agent.OutilsFormation">{{ 'TEXT_OUTILS_INFORMATIQUES'|trans }}</a></li>
            </ul>
        </li>
        <li>{{ 'SE_PREPARER_A_DEPOUILLER'|trans }}
            <ul type="disc">
                <li><a href="{{ PF_URL }}?page=Agent.DiagnosticPoste&amp;callFrom=agent">{{ 'TESTER_CONFIGURATION_MON_POSTE'|trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
