{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('prerequis-techniques') }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('prerequis-techniques') }}
{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h1 class="content-header-title">
                {{ 'PREREQUIS_TECHNIQUE'|trans }}
            </h1>
            <div class="row breadcrumbs-top" aria-label="breadcrumb">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ PF_URL }}agent">
                                {{ 'TEXT_ACCUEIL'|trans }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active"  aria-current="page">
                            {{ 'PREREQUIS_TECHNIQUE'|trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="card">
        <div class="card-content">
            <div class="card-body">
                <h4>
                    {{ 'CONFIG_POSTE'|trans }}
                </h4>
                <hr>
                <p>
                    {{ 'OUTIL_MIS_A_DISPOSITION_POUR_TESTER_CONFIGURATION'|trans }}
                </p>

                <a href="{{ path('dignostic_poste_index', {'calledFrom': 'agent'})}}">
                    <button type="button" class="btn btn-info btn-min-width mr-1 mb-1 pull-right" title="{{ 'TESTER_MA_CONFIGURATION'|trans }}">
                        <i class="fa fa-cog"></i>
                        {{ 'TESTER_MA_CONFIGURATION'|trans }}
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="nav-vertical">
                    <ul class="nav nav-tabs nav-left nav-border-left">
                        <li class="nav-item">
                            <a class="nav-link active darkBlue" id="baseVerticalLeft1-tab1" data-toggle="tab" aria-controls="tabVerticalLeft11" href="#tabVerticalLeft11" aria-expanded="true">
                                {{ 'CONNECTIQUE_CONFIGURATION_RESEAU'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link darkBlue" id="baseVerticalLeft1-tab2" data-toggle="tab" aria-controls="tabVerticalLeft12" href="#tabVerticalLeft12" aria-expanded="false">
                                {{ 'CONFIGURATION_POSTE_TRAVAIL'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link darkBlue" id="baseVerticalLeft1-tab3" data-toggle="tab" aria-controls="tabVerticalLeft13" href="#tabVerticalLeft13" aria-expanded="false">
                                {{ 'SYSTEM_EXPLOITATION_NAVIGATEUR'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link darkBlue" id="baseVerticalLeft1-tab4" data-toggle="tab" aria-controls="tabVerticalLeft13" href="#tabVerticalLeft14" aria-expanded="false">
                                {{ 'FORMAT_CERTIFICAT_NUMERIQUE'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link darkBlue" id="baseVerticalLeft1-tab6" data-toggle="tab" aria-controls="tabVerticalLeft16" href="#tabVerticalLeft16" aria-expanded="false">
                                {{ 'DEFINE_PROBLEME_INCOMPATIBILITES'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link darkBlue" id="baseVerticalLeft1-tab7" data-toggle="tab" aria-controls="tabVerticalLeft17" href="#tabVerticalLeft17" aria-expanded="false">
                                {{ 'DEFINE_RECOMMANDATIONS_AUX_AGENT'|trans }}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content px-1">
                        <div role="tabpanel" class="tab-pane active" id="tabVerticalLeft11" aria-expanded="true" aria-labelledby="baseVerticalLeft1-tab1">
                            <ul>
                                <li>{{ 'ACCES_INTERNET_HAUT_DEBIT_REQUIS'|trans|raw }}</li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'ENVIRONNEMENT_RESEAU'|trans|raw }}
                                    <ul class="p-t-1">
                                        <li>
                                            <i class="la la-arrow-right"></i>
                                            {{ 'ENVIRONNEMENT_RESEAU_AUTORISER_HTTPS'|trans|raw }}
                                        </li>
                                        <li>
                                            <i class="la la-arrow-right"></i>
                                            {% if mode_serveur_crypto %}
                                                {{ 'ENVIRONNEMENT_RESEAU_AUTORISER_TELECHARGEMENT_FICHIER_JWS'|trans|raw }}
                                            {% else %}
                                                {{ 'ENVIRONNEMENT_RESEAU_AUTORISER_TELECHARGEMENT_FICHIER'|trans|raw }}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="tabVerticalLeft12" aria-labelledby="baseVerticalLeft1-tab2">
                            <ul>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'GESTION_COOKIES_SESSION'|trans|raw }}
                                </li>
                                <li>
                                    <i class="la la-arrow-right"></i>
                                    {{ 'GESTION_FONCTION_CRYPTOGRAPHIQUE'|trans|raw }}
                                    <ul>
                                        <li>
                                            <i class="la la-arrow-right"></i>
                                            {{ 'GESTION_CERTIFICAT_NUMERIQUE_AUTORISEE'|trans|raw }}
                                        </li>
                                        <li>
                                            <i class="la la-arrow-right"></i>
                                            {{ 'UTILISATION_NAVIGATEUR_STANDARD'|trans|raw }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="tabVerticalLeft13" aria-labelledby="baseVerticalLeft1-tab3">
                            <p>
                                {{ 'AVOIR_UN_DES_OS_SUIVANTS'|trans }}
                            </p>
                            <ul>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'MICROSOFT_WINDOWS_SEVEN'|trans|raw }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'MICROSOFT_WINDOWS_8'|trans|raw }}
                               </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'MICROSOFT_WINDOWS_10'|trans|raw }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'APPLE_MAX_OSX'|trans|raw }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'LINUX_UBUNTU'|trans|raw }}
                                </li>
                            </ul>

                            <p>
                                {{ 'POSTE_TRAVAIL_UTILISANT_NAVIGATEUR_SUIVANT'|trans }}
                            </p>
                            <ul>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'NAVIGATEUR_PRE_REQUIS_EDGE'|trans|raw }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'NAVIGATEUR_PRE_REQUIS_FIREFOX'|trans|raw }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'NAVIGATEUR_PRE_REQUIS_FIREFOX_ESR'|trans|raw }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'NAVIGATEUR_PRE_REQUIS_CHROME'|trans|raw }}
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="tabVerticalLeft14" aria-labelledby="baseVerticalLeft1-tab4">
                            <p>
                                {{ 'CERTIFICAT_UTILISITATEURS_ACCEESIBLES'|trans }}
                            </p>
                            <ul>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'CERTIFICAT_UTILISITATEURS_ACCEESIBLES_DANS_MAGASIN_CERTIFICAT'|trans }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'CERTIFICAT_UTILISITATEURS_ACCEESIBLES_AU_FORMAT_P12'|trans }}
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="tabVerticalLeft16" aria-labelledby="baseVerticalLeft1-tab6">
                            <p>
                                {{ 'INFO_VIDE_CACHE_JAVA'|trans }}
                            </p>
                            <p>
                                {{ 'DEFINE_FICHIER_RAR_DECOMPRESSION'|trans }}
                            </p>
                        </div>
                        <div class="tab-pane" id="tabVerticalLeft17" aria-labelledby="baseVerticalLeft1-tab7">
                            <ul>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'RECOMMANDATION_TESTER_CONFIG_POSTE'|trans }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'RECOMMANDATION_VERFIER_CERTIFICAT'|trans }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'RECOMMANDATION_POUR_SIGNATURE'|trans }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'RECOMMANDATION_NOMMAGE_FICHIERS'|trans }}
                                </li>
                                <li class="mb-1">
                                    <i class="la la-arrow-right"></i>
                                    {{ 'RECOMMANDATION_POUR_COMPRESSER_FICHIER'|trans }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}