{% extends 'layout-agent.html.twig' %}

{% block content %}
<div id="main">
    <div class="main-part" id="main-part">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <div class="row breadcrumbs-top" aria-label="breadcrumb">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ PF_URL }}agent">
                                    {{ 'TEXT_ACCUEIL'|trans }}
                                </a>
                            </li>
                            <li class="breadcrumb-item active"  aria-current="page">
                                {{ 'PROTECTION_DONNEES_A_CARACTERE_PERSONNEL'|trans }}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{ 'TEXT_PROTECTION_DONNEES_A_CARACTERE_PERSONNEL' | trans|raw }}
        </div>
    </div>
</div>

{% endblock %}