{% extends 'layout-agent.html.twig' %}

{% block javascriptAgent %}
    {{ parent() }}
    <script src="{{ apiUrl }}/runtime.js"></script>
    <script src="{{ apiUrl }}/polyfills.js"></script>
    <script src="{{ apiUrl }}/main.js"></script>
{% endblock %}

{% block content %}
    <h2>{{ 'STATISTICS_REPORTS'|trans }} - {{ reportName }}</h2>
    <atexo-statistiques-rapport id="statisticsReports" reportType="report" accessToken="{{ accessToken }}" context="{{ context }}" uuid="{{ reportId }}"></atexo-statistiques-rapport>
{% endblock %}
