.assistance {
    position: fixed;
    z-index: 1000;
    top: 304px;
    right: 0;
    min-height: 35px;
    min-width: 35px;
    background-image: url('/execution/assets/img/icon-assistance.png');
    background-size: 35px;
    background-color: #5FC3F0;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    text-decoration: none;
    line-height: 40px;

    & span {
        display: none;
        font-weight: bold;
        color: white;
    }

    &:hover span {
        display: block;
        margin-left: 40px;
    }
}
