{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('themes/css/css/styles.css?k=')~ MEDIA_CACHE_KEY }}" media="all" rel="stylesheet" type="text/css">
    {{ encore_entry_link_tags('espace-documentaire') }}
{% endblock %}

{% block javascripts_header %}
    <script src="{{ asset('app/js/filesize.min.js') }}"></script>
    <script src="{{ asset('themes/js/atexoScript.fr.js?k=')~ MEDIA_CACHE_KEY }}"></script>
{% endblock %}

{% block title %}
    {{ 'TITRE' | trans }}
{% endblock %}

{% block body %}
    {% if auth == false %}
        <div class="col-lg-12">
            {{ 'PAS_AUTHORISER'|trans }}
        </div>
    {% else %}
        <div id="root_espace_doc" data-locale="{{ app.request.locale }}">
            {% if app.request.get('hide') is not null %}
                {{ include('EspaceDocumentaire/bloc/structures.html.twig', {
                    'id'              : 'consEspaceDoc',
                    'hide'            : true,
                    'step'            : app.request.get('etape')|default(null),
                    'base_dir'        : base_dir,
                    'numberByBlock'   : number_of_files_by_block})}}
            {% else %}
                {{ include('EspaceDocumentaire/bloc/structures.html.twig', {
                    'id'              : 'consEspaceDoc',
                    'step'            : null,
                    'base_dir'        : base_dir,
                    'numberByBlock'   : number_of_files_by_block})}}
            {% endif %}

        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        const elVues = ['#consultation'];
        function closeModal() {
            let element = document.getElementById("espace-doc-modal");
            element.classList.remove("show");
        }
        function saveInStorage() {
            let inputsChecked = document.querySelectorAll('input:checked');
            const data = [];
            for(let i=0; i < inputsChecked.length; i++) {
                let element = inputsChecked[i];
                let dataJson = element.getAttribute("data-json");
                element.checked = false;
                if(dataJson != null) {
                    data.push(JSON.parse(dataJson));
                }
                if(data.length > 0) {
                    localStorage.setItem('espace-documentaire-documents-selectionnes', JSON.stringify(data));
                }
            }
            closeModal();
        }
    </script>
    {{ include('EspaceDocumentaire/bloc/dce-script.html.twig', {'consultation': consultation, 'encryptedAgentId': encryptedAgentId, 'loadJs': true, 'step': app.request.get('etape')|default(null) }) }}
    {{ encore_entry_script_tags('espace-documentaire') }}
{% endblock %}