.border-left-primary {
  border-left-width: 2px;
}

i {
  margin-right: 2px;
}

.margin-horizontal-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.obligatoire {
  color: red;
  font-size: 18px;
}

.column-min-width {
  width: 70px;
  vertical-align: middle;
}


.scrollable {
  max-height: 50vh;
  overflow: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

label {
  width: 10%;
}
