<div class="eforms modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <strong>Edition du message</strong>
    </h4>
  </div>
  <div class="modal-body pr-1 pl-1" style="background: #efefef;">

    <div *ngIf="!!this.avis">
      <label>Destinataires :
      </label>
      <span>{{mails}}</span>
    </div>

    <div *ngIf="!!this.avis && !!this.avis.facturation">
      <label>Adresse de facturation :
      </label>
      <span style="width: 90%">{{avis.facturation.email}}
      </span>
    </div>

    <div class="form-group" *ngIf="!!this.avis && this.annoncesNationales.length> 0">
      <div class="controls flex-row">
        <label>Objet :
          <span class="required"
                style="color:red;"> *</span></label>
        <div style="width: 90%">

          <input
            [(ngModel)]=avis.mailObjet
            class="form-control"
            maxlength="255"
            id="mailObjet"
            name="mailObjet"
            [readOnly]="readOnly"
            required
            type="text">
          <p *ngIf="submitted && !avis.mailObjet" class="block-tag text-left">
            <small class="badge badge-danger truncate">{{"form.required" | translate}}</small>
          </p>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="!!this.avis && this.annoncesNationales.length> 0">
      <div class="controls flex-row">
        <label>Texte :
          <span class="required"
                style="color:red;"> *</span></label>
        <div style="width: 90%">
            <textarea
              [(ngModel)]=avis.mailContenu
              class="form-control border-primary"
              id="mailContenu"
              name="mailContenu"
              [readOnly]="readOnly"
              required
              rows="3"></textarea>

          <p *ngIf="submitted && !avis.mailContenu"
             class="block-tag text-left">
            <small class="badge badge-danger truncate">{{"form.required" | translate}}</small>
          </p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls flex-row">
        <label>Pièce(s) jointe(s) :</label>


        <div class="flex-column">
          <div *ngIf="this.annoncesNationales.length> 0 && !this.annoncesNationales[0].avisFichier">
            <i class="la la-file"></i>
            <span style="margin-right: 5px">{{this.annoncesNationales[0].offre.libelle}}.docx</span>
            <i *ngIf="!downloadingPdfParDefaut" class="la la-cloud-download"
               style="color: #042e58; cursor: pointer"
               (click)="downloadPdfParDefaut(this.annoncesNationales[0])"></i>
            <i *ngIf="downloadingPdfParDefaut" class="la la-spin la-spinner"></i>
          </div>
          <div *ngIf="this.annoncesNationales.length> 0 && this.annoncesNationales[0].avisFichier">
            <i class="la la-file"></i>
            <span style="margin-right: 5px">{{this.annoncesNationales[0].avisFichier.name}}</span>
            <i *ngIf="!downloadingPdfParDefaut" class="la la-cloud-download"
               style="color: #042e58; cursor: pointer"
               (click)="downloadPdfParDefaut(this.annoncesNationales[0])"></i>
            <i *ngIf="downloadingPdfParDefaut" class="la la-spin la-spinner"></i>
          </div>

          <div *ngIf="!!documents && documents.length > 0" class="file">
            <div *ngFor="let item of documents;let index = index">
              <i class="la la-file"></i>
              <i class="la la-trash" *ngIf="!readOnly"
                 style="float: right; color: red; cursor: pointer"
                 (click)="delete(item)"></i>
              <i class="la la-cloud-download"
                 style="float: right ;margin-right: 3px; color: #042e58; cursor: pointer"
                 (click)="downlaodFile(item.pieceJointe)"></i>
              <span style="margin-right: 5px"
              >{{item.pieceJointe.name}}</span>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer form-actions">
    <div class="float-right">
      <button type="button" (click)="closeModal()"
              class="btn btn-outline-warning btn-sm mr-1">
        <i class="la la-close"></i>
        {{"close" | translate}}
      </button>
      <button *ngIf="!readOnly" type="button" class="btn btn-primary primary-client-bg-border btn-sm mr-1"

              (click)="enregistrer()">
        <i class="la la-save"></i>
        Enregistrer
      </button>
      <button *ngIf="!readOnly" (click)="openDialog()"
              type="button"
              class="btn btn-primary primary-client-bg-border btn-sm mr-1">
        <i *ngIf="!loadingImport" class="la la-cloud-upload"></i>
        <i *ngIf="loadingImport" class="la la-spinner la-spin"> </i> Ajouter une pièce jointe
      </button>
      <input *ngIf="!readOnly" (change)="addFile($event)" id="pieceJointe" style="display:none;" type="file"
             class="form-control-file"/>
    </div>
  </div>

</div>
