<h2>Calendrier d'exécution</h2>
<!--Debut Panel Contrat-->
<ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>
<!--Fin Panel Contrat-->
<!--Debut panel Filtres-->
<div class="panel panel-default">

    <div class="panel-heading" id="headingFiltres">
        <h3 class="panel-title no-toggle">Filtrer par </h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="input_keywords" class="col-sm-2 control-label">Mots-clés <abbr class="icon"
                                                                                               tabindex="0"
                                                                                               data-toggle="tooltip"
                                                                                               data-placement="top"
                                                                                               title="Rechercher (3 caractères minimum) sur le nom de l'évènement">
                        <fa-icon [icon]="['fas','question-circle']" size="1x" tooltip="Aide"></fa-icon>
                    </abbr></label>
                    <div class="controls col-sm-10">
                        <input placeholder="Rechercher (3 caractères minimum) sur le nom de l'évènement"
                               name="motsCles" (keyup)="updateSearchByMotsCles($event)" type="text"
                               class="form-control" id="input_keywords" replaceSpace></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">État</label>

                    <div class="col-sm-10">
                        <div class="btn-group btn-statut" data-toggle="">
                            <label class="btn btn-default" [class.active]="findEvenementsDTO.etatNonSuivi"
                                   (click)="statutNonSuiviClick()">
                                Non suivi
                            </label>
                            <label class="btn btn-default" [class.active]="findEvenementsDTO.etatEnAttente"
                                   (click)="statutEnAttenteClick()">
                                <fa-icon [icon]="['fas','question']"></fa-icon>
                                En attente
                            </label>
                            <label class="btn btn-default" [class.active]="findEvenementsDTO.etatAVenir"
                                   (click)="statutAVenirClick()">
                                <fa-icon [icon]="['fas','hourglass-half']"></fa-icon>
                                A venir
                            </label>
                            <label class="btn btn-default" [class.active]="findEvenementsDTO.etatValide"
                                   (click)="statutValideClick()">
                                <fa-icon [icon]="['fas','check']"></fa-icon>
                                Validé
                            </label>
                            <label class="btn btn-default" [class.active]="findEvenementsDTO.etatRejete"
                                   (click)="statutRejeteClick()">
                                <fa-icon [icon]="['fas','ban']"></fa-icon>
                                Rejeté
                            </label>
                        </div>
                    </div>
                </div>
                <accordion [isAnimated]="true" class="panel-collapse collapse panel-indent" id="collapseFiltresPlus"
                           role="tabpanel"
                     aria-labelledby="headingFiltresPlus">
                    <accordion-group [heading]="'Plus de critères'">
                    <div class="form-group">

                        <label class="col-sm-2 control-label">Contractants</label>
                        <div class="col-sm-10">
                            <ng-select (change)="contratantSelectionChanges($event)" [groupBy]="'type'"
                                       [items]="etablissements"
                                       [multiple]="true" [searchable]="true"
                                       name="filtre_etablissements">
                                <ng-template let-item="item" ng-option-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                                </ng-template>
                                <ng-template let-item="item" ng-label-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type d'événement</label>
                        <div class="col-sm-10">
                            <ng-select (change)="evenementTypeSelectionChanges($event)" [bindLabel]="'label'"
                                       [bindValue]="'value'" [groupBy]="'parentLabel'" [items]="typesEvenements"
                                       [multiple]="true" [searchable]="true"
                                       name="filtre_etablissements">
                            </ng-select>
                        </div>

                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="messageDateEvenement">Dates</label>
                        <div class="col-sm-10">
                            <input (bsValueChange)="onChangeDate($event)" [bsConfig]="{ isAnimated: true, containerClass:'theme-dark-blue'}"
                                   id="messageDateEvenement"
                                   bsDaterangepicker
                                   class="form-control"
                                   name="messageDateEvenement" placeholder="Choisissez une date ..."
                                   type="text">

                        </div>
                    </div>
                    </accordion-group>
                </accordion>
            </div>
        </form>
    </div>
</div>
<!--// Fin panel Filtres-->
<div class="panel panel-default">
    <div class="panel-heading" style="display: flex;vertical-align: middle">
        <h3 class="panel-title" style="margin-top: 6px"><i class="fa fa fa-calendar"></i> Liste des événements</h3>
        <a [routerLink]="['/calendrier-execution', contratId, 'ajouterEvenement']" [queryParams]="{ from: currentUrl() }"
           class="btn btn-xs btn-primary">Ajouter un
            événement</a>
    </div>
<!--Debut Panel Evenements-->
<div *ngIf="evenementPage.totalElements === 0" class="panel-table">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <h3 class="repeater-header-title">Aucun résultat trouvé.</h3>
        </div>
    </div>
</div>
<div *ngIf="evenementPage.totalElements !== 0" class="panel-table">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <ltexec-table-elements-count [page]="evenementPage"></ltexec-table-elements-count>
        </div>
        <div class="repeater-header-right">
            <!--Debut Pagnination top-->
            <ltexec-table-pagination [page]="evenementPage" [table]="evenementTable"></ltexec-table-pagination>
            <!--Fin Pagnination top-->
        </div>
    </div>
    <div class="repeater-viewport">
        <table class="table table-bordered table-striped table-suivi table-contrats table-hover">
            <thead>
            <tr>
                <th id="header_1">
                    <ltexec-table-sort [label]="'Date'" [property]="'dateDebut'" [table]="self"
                                       [page]="evenementPage"></ltexec-table-sort>
                </th>
                <th scope="col"></th>
                <th id="header_2" scope="col">
                    <ltexec-table-sort [label]="'Type d\'événement'" [page]="evenementPage" [property]="'typeEvenement.label'"
                                       [table]="self"></ltexec-table-sort>
                    <br>

                    <ltexec-table-sort [label]="'Contractant'" [page]="evenementPage"
                                       [property]="'contractant.fournisseur.raisonSociale'"
                                       [table]="self"></ltexec-table-sort>
                </th>
                <th id="header_3" scope="col">
                    <ltexec-table-sort [label]="'Événement'" [page]="evenementPage" [property]="'libelle'"
                                       [table]="self"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-fixed-2 nowrap">Détail</th>
                <th scope="col" class="col-actions text-left col-fixed-7">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let evenement of evenements">

                <td>
                    <div *ngIf="evenement.etatDateEvenement != etatDateEvenement.VALIDE">{{evenement.dateDebut
                        | formatDate: "DD/MM/YYYY" }}
                        <span *ngIf="!evenement.ponctuel">
                            au {{evenement.dateFin  | formatDate: "DD/MM/YYYY" }}
                        </span>
                    </div>

                    <div *ngIf="evenement.etatDateEvenement == etatDateEvenement.VALIDE">{{evenement.dateDebutReel
                        | formatDate: "DD/MM/YYYY" }}
                        <span *ngIf="!evenement.ponctuel">
                            au {{evenement.dateFinReel  | formatDate: "DD/MM/YYYY" }}
                        </span>
                    </div>

                    <div class="preavis" *ngIf="evenement.alerte">
                        <fa-icon [icon]="['fas','bell']" title="Délai de préavis"></fa-icon>
                        <span class="sr-only">Délai de préavis</span> {{evenement.delaiPreavis}} jours avant
                    </div>
                </td>
                <td>
                    <div [ngSwitch]="evenement.etatDateEvenement" class="state-list">
                        <div *ngSwitchCase="etatDateEvenement.EN_ATTENTE"
                             class="pull-left">
                            <fa-icon icon="question" size="2x" class="state-en_attente">
                                <span class="sr-only">En attente de validation ou de rejet</span>
                            </fa-icon>
                        </div>
                        <div *ngSwitchCase="etatDateEvenement.A_VENIR"
                             class="pull-left">
                            <fa-icon icon="hourglass-half" size="2x" class="state-a_venir">
                                <span class="sr-only">A venir</span>
                            </fa-icon>
                        </div>
                        <div *ngSwitchCase="etatDateEvenement.VALIDE"
                             class="pull-left"
                             data-toggle="tooltip"
                             data-placement="top"
                             title="{{evenement.commentaireEtat ? evenement.commentaireEtat : 'Aucun commentaire de validation'}}">
                            <fa-icon icon="check" size="2x" class="state-valide">
                                <span class="sr-only">{{evenement.commentaireEtat}}</span>
                            </fa-icon>
                        </div>
                        <div *ngSwitchCase="etatDateEvenement.REJETE"
                             class="pull-left"
                             data-toggle="tooltip"
                             data-placement="top"
                             title="Rejeté le {{evenement.dateRejet  | formatDate: 'DD/MM/YYYY'}}
                                {{evenement.commentaireEtat ? ': ' + evenement.commentaireEtat : ''}}">
                            <fa-icon icon="ban" size="2x" class="state-rejete">
                                  <span class="sr-only">Le {{evenement.dateRejet  | formatDate: 'DD/MM/YYYY'}}
                                      : {{evenement.commentaireEtat}}</span>
                            </fa-icon>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="evenement.typeEvenement!=null"><strong>{{afficheLabelEvenement(evenement)}}</strong>
                    </div>
                    <ltexec-etablissement-link *ngIf="evenement.contractant!=null"
                                               [etablissement]="evenement.contractant"></ltexec-etablissement-link>
                </td>
                <td>
                    <strong>{{evenement.libelle}}</strong><br>
                </td>
                <td class="nowrap">
                    <div class="commentaire-link" title="{{evenement.commentaire}}" data-toggle="tooltip">
                        <a [class.off]="!evenement.commentaire">
                            <fa-icon [icon]="['fas','comment']"></fa-icon>
                            <span class="sr-only">Voir le commentaire</span>
                        </a>
                    </div>
                </td>
                <td class="col-actions text-left" (mouseleave)="dropdown.hide()">
                    <div class="btn-group">
                        <a *ngIf="evenement.etatDateEvenement == etatDateEvenement.VALIDE || evenement.etatDateEvenement == etatDateEvenement.REJETE"
                           class="btn btn-primary btn-xs btn-action" href="#" title="Consulter"
                           [routerLink]="['/calendrier-execution', contratId, 'evenement', evenement.id]">
                            <fa-icon icon="search-plus" [rotate]=90></fa-icon>
                        </a>

                    <a *ngIf="evenement.etatDateEvenement != etatDateEvenement.VALIDE && evenement.etatDateEvenement != etatDateEvenement.REJETE"
                       class="btn btn-primary btn-xs btn-action" href="#" title="Modifier"
                       [routerLink]="['/calendrier-execution', contratId, 'evenement', evenement.id]">
                        <fa-icon [icon]="['fas','pencil-alt']"></fa-icon>
                    </a>

                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                            <button type="button" class="btn btn-primary btn-xs btn-action dropdown-toggle"
                                    title="Actions" data-toggle="dropdown" aria-expanded="false" dropdownToggle
                                    (click)="dropdown.show()">
                                <fa-icon icon="ellipsis-h"></fa-icon>
                                <span class="sr-only">Autres actions</span>
                            </button>
                            <ul id="dropdown-triggers-manual" *dropdownMenu [ngSwitch]="evenement.etatDateEvenement"
                                class="dropdown-menu dropdown-menu-right"
                                role="menu" aria-labelledby="button-triggers-manual">
                                <ng-container *ngIf="evenement.etatDateEvenement == etatDateEvenement.A_VENIR
                                  || evenement.etatDateEvenement == etatDateEvenement.EN_ATTENTE">
                                    <li>
                                        <a (click)="setEvenementValidation(evenement)"
                                           href="#" data-toggle="modal" data-target="#modal_validationEvenement"
                                           title="Valider">
                                            <fa-icon icon="check"></fa-icon>
                                            Valider</a>
                                    </li>
                                    <li>
                                        <a (click)="setEvenementRejet(evenement)"
                                           href="#" data-toggle="modal" data-target="#modal_rejetEvenement"
                                           title="Rejeter">
                                            <fa-icon icon="ban"></fa-icon>
                                            Rejeter</a>
                                    </li>
                                </ng-container>
                                <li *ngSwitchCase="etatDateEvenement.VALIDE">
                                    <a (click)="setEvenementAnnulation(evenement)"
                                       href="#" data-toggle="modal" data-target="#modal_annulationEvenement"
                                       title="Annuler">
                                        <fa-icon icon="undo"></fa-icon>
                                        Annuler la validation</a>
                                </li>
                                <li *ngSwitchCase="etatDateEvenement.REJETE">
                                    <a (click)="setEvenementAnnulation(evenement)"
                                       href="#" data-toggle="modal" data-target="#modal_annulationEvenement"
                                       title="Annuler">
                                        <fa-icon icon="undo"></fa-icon>
                                        Annuler le rejet</a>
                                </li>
                                <li>
                                    <a (click)="setEvenementSuppression(evenement)"
                                       href="#" data-toggle="modal" data-target="#myModal_suppressionEvenement"
                                       title="Supprimer">
                                        <fa-icon icon="trash"></fa-icon>
                                        Supprimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-notif">
                        <a class="btn btn-primary btn-xs btn-action"
                           [routerLink]="['/evenement/documents',contratId, evenement.id]"
                           title="Documents d'exécution">
                            <fa-icon [icon]="['fas','file-alt']"></fa-icon>
                            <div class="labels">
                      <span *ngIf="evenement.documentsCount > 0" class="badge badge-success" data-toggle="tooltip"
                            title=""
                            data-original-title="documents">{{evenement.documentsCount}}
                          <div
                              class="sr-only">documents
                      </div></span>
                            </div>
                        </a>
                    </div>

                </td>


            </tr>
            </tbody>
        </table>

        <!-- Modales -->
        <div *ngIf="evenementSuppression != null && showEvenementSuppressionModale" [config]="{ show: true }"
             (onHidden)="showEvenementSuppressionModale=false" bsModal #autoShownModal="bs-modal"
             class="modal fade modal-evenement" tabindex="-1" role="dialog"
             aria-labelledby="titreDialogue_suppressionEvenement" aria-hidden="true" id="myModal_suppressionEvenement">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="closeModalSuppression()"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titreDialogue_suppressionEvenement">Suppression de l'événement</h4>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="evenementSuppression.avenantType != null && evenementSuppression.avenantType.dateModifiable && evenementSuppression.etatDateEvenement == etatDateEvenement.VALIDE"
                             class="alert alert-info" role="alert">
                            <fa-icon [icon]="['fas','info-circle']" size="2x"></fa-icon>
                            <p>Les dates du contrat ne seront pas modifiées.
                            </p>
                        </div>
                        <p>
                            Vous allez supprimer l'événement
                            <strong>"{{evenementSuppression.libelle}}"</strong>
                            du {{evenementSuppression.dateDebut  | formatDate: "DD/MM/YYYY" }}
                            <span *ngIf="!evenementSuppression.ponctuel">
                                                                    au {{evenementSuppression.dateFin  | formatDate: "DD/MM/YYYY" }}
                                                                </span>.
                        </p>

                        <p>Êtes-vous sûr de vouloir poursuivre ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default pull-left" (click)="closeModalSuppression()"
                                data-dismiss="modal">Annuler
                        </button>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-default btn-primary"
                                    (click)="onConfirmSuppression(evenementSuppression)" data-dismiss="modal">Valider
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modale annuler validation/rejet -->
        <div *ngIf="evenementAnnulation != null && showEvenementAnnulationModal" [config]="{ show: true }"
             (onHidden)="showEvenementRejetModale=false" bsModal #autoShownModal="bs-modal"
             class="modal fade modal-evenement" tabindex="-1" role="dialog"
             aria-labelledby="titreDialogue_annulationEvenement" aria-hidden="true" id="modal_annulationEvenement">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="showEvenementAnnulationModal=false"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titreDialogue_annulationEvenement">Annulation
                            {{evenementAnnulation.etatDateEvenement == etatDateEvenement.VALIDE ? "de la validation" :
                            "du rejet"}}</h4>
                    </div>

                    <div class="modal-body">
                        <div *ngIf="evenementAnnulation.avenantType && evenementAnnulation.avenantType.dateModifiable && evenementAnnulation.etatDateEvenement == etatDateEvenement.VALIDE"
                             class="alert alert-info" role="alert">
                            <fa-icon [icon]="['fas','info-circle']" size="2x"></fa-icon>
                            <p>Les dates du contrat ne seront pas modifiées.
                            </p>
                        </div>
                        <p>
                            Vous allez annuler {{evenementAnnulation.etatDateEvenement == etatDateEvenement.VALIDE ?
                            "la validation" : "le rejet"}}
                            de l'événement <strong>"{{evenementAnnulation.libelle}}"</strong>.
                        </p>

                        <p>Êtes-vous sûr de vouloir poursuivre ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal"
                                (click)="showEvenementAnnulationModal=false">Annuler
                        </button>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-default btn-primary"
                                    (click)="onConfirmAnnulation(evenementAnnulation)" data-dismiss="modal">Valider
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modale valider l'événement -->
        <ltexec-evenement-validation-modale *ngIf="evenementValidation != null"
                                            [evenementValidation]="evenementValidation"
                                            [showEvenementValidationModale]="showEvenementValidationModale"
                                            (onSubmit)="onConfirmValidation(evenementValidation)"
                                            (onCancel)="onCloseEvenementValidationModal()"></ltexec-evenement-validation-modale>

        <!-- Modale rejet l'événement -->
        <ltexec-evenement-rejet-modale *ngIf="evenementRejet != null"
                                       [evenementRejet]="evenementRejet"
                                       [showEvenementRejetModale]="showEvenementRejetModale"
                                       (onSubmit)="onConfirmRejet(evenementRejet)"
                                       (onCancel)="onCloseRejet()"></ltexec-evenement-rejet-modale>

        <!-- Debut Modal Commentaire -->
        <div *ngIf="commentaireEdition != null" class="modal fade modal-commentaire" tabindex="-1" role="dialog"
             aria-labelledby="titreDialogue_commentaire_Ajouter" aria-hidden="true" id="myModal_commentaire">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titreDialogue_commentaire_Ajouter">Commentaire</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="controls col-sm-12">
                                    <textarea class="form-control input-sm" [(ngModel)]="commentaireEdition.commentaire"
                                              id="input_documentPrerempli_commentaire_Ajouter"
                                              title="Commentaire"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="closeModalCommentaire()" class="btn btn-sm btn-default pull-left"
                                data-dismiss="modal">Annuler
                        </button>
                        <button type="button" (click)="onValidCommentaire(commentaireEdition)"
                                class="btn btn-sm btn-default btn-primary pull-right" data-dismiss="modal">Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Fin Modal Commentaire -->

    </div>
    <div class="panel-footer">
        <div class="repeater-header-right">
            <!--Debut Pagnination top-->
            <ltexec-table-pagination [page]="evenementPage" [table]="evenementTable"></ltexec-table-pagination>
            <!--Fin Pagnination top-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<!--Fin Panel Evenements-->

<!-- Debut Form actions-->
<div class="form-group form-actions">
    <div class="pull-left">
        <button type="button" class="btn btn-default btn-sm" value="Retour à la recherche" (click)="onBackClick()"><i
            class="fa fa-angle-double-left"></i> Retour
        </button>
    </div>
</div>

<ltexec-repartition-montants-modale *ngIf="contrat?.groupement" [contrat]="contrat"
                                    [attributaire]="attributaire"></ltexec-repartition-montants-modale>
<!-- //Fin Form actions-->



