<div class="modal fade modal-evenement" tabindex="-1" role="dialog"
     aria-labelledby="titreDialogue_rejetEvenement" aria-hidden="true" id="modal_rejetEvenement"
     *ngIf="showEvenementRejetModale" [config]="{ show: true }" (onHidden)="showEvenementRejetModale=false" bsModal
     #autoShownModal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_rejetEvenement">Rejet de l'événement</h4>
            </div>
            <div class="modal-body">
                <form #rejeterEvenementForm="ngForm">
                    <div class="form-horizontal">
                        <!-- DATE PREVUE -->
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-xs-12">Date</label>
                            <div class="controls col-sm-1 col-fixed-6">
                                <div class="form-control-static">{{evenementRejet.dateDebut  |
                                    formatDate: "DD/MM/YYYY" }}
                                </div>
                            </div>
                            <div *ngIf="!evenementRejet.ponctuel">
                                <span class="control-label col-sm-1 col-fixed-2">au </span>
                                <div class="form-control-static">
                                    {{evenementRejet.dateFin  | formatDate: "DD/MM/YYYY" }}
                                </div>
                            </div>
                        </div>
                        <!-- DATE DE REJET -->
                        <div class="form-group">
                            <label for="input_date_rejet" class="control-label col-sm-2  col-xs-12">Date de rejet<abbr
                                    class="required">*</abbr></label>
                            <div class="controls col-sm-1 col-fixed-6">
                                <ltexec-datetimepicker id="input_date_rejet" [(ngModel)]="evenementRejet.dateRejet"
                                                       [format]="'DD/MM/YYYY'" [pickTime]="false" name="dateRejet"
                                                       isoDate
                                                       required></ltexec-datetimepicker>
                                <show-error control="dateRejet" [errors]="['invalidIsoDate, required']"></show-error>
                            </div>
                        </div>
                        <!-- COMMENTAIRE -->
                        <div class="form-group">
                            <label for="input_evenementCommentaireRejet"
                                   class="control-label col-sm-2 col-xs-12">Commentaire</label>
                            <div class="controls col-sm-8 col-xs-9">
                                        <textarea class="form-control input-sm" id="input_evenementCommentaireRejet"
                                                  [(ngModel)]="evenementRejet.commentaireEtat"
                                                  name="commentaireRejet"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal" (click)="onClose()">
                    Annuler
                </button>
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default btn-primary"
                            (click)="onConfirmRejet()" data-dismiss="modal"
                            [disabled]="!rejeterEvenementForm.form.valid"
                            [class.disabled]="!rejeterEvenementForm.form.valid">Poursuivre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
