<div class="modal fade modal-evenement" tabindex="-1" role="dialog"
     aria-labelledby="titreDialogue_validationEvenement" aria-hidden="true" id="modal_validationEvenement"
     *ngIf="showEvenementValidationModale" [config]="{ show: true }" (onHidden)="showEvenementValidationModale=false"
     bsModal #autoShownModal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_validationEvenement">Validation de l'événement</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="evenementValidation.avenantType != null && evenementValidation.avenantType.dateModifiable"
                     class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-triangle fa-2x"></i>
                    <p>A la validation, les dates du contrat vont être mises à jour avec les nouvelles dates renseignées sur l'avenant.
                    </p>
                </div>
                <form #validerEvenementForm="ngForm">
                    <div class="form-horizontal">
                        <!-- DATE PREVUE -->
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-xs-12">Date</label>
                            <div class="controls col-sm-1 col-fixed-6">
                                <div class="form-control-static">{{evenementValidation.dateDebut  |
                                    formatDate: "DD/MM/YYYY" }}
                                </div>
                            </div>
                            <div *ngIf="!evenementValidation.ponctuel">
                                <span class="control-label col-sm-1 col-fixed-2">au </span>
                                <div class="form-control-static">
                                    {{evenementValidation.dateFin  | formatDate: "DD/MM/YYYY" }}
                                </div>
                            </div>
                        </div>
                        <!-- DATE REELLE -->
                        <div class="form-group">
                            <label for="input_date_debut_reel" class="control-label col-sm-2  col-xs-12">Date réelle
                                <abbr class="required">*</abbr></label>
                            <div class="controls col-sm-1 col-fixed-6">
                                <ltexec-datetimepicker id="input_date_debut_reel"
                                                       [(ngModel)]="evenementValidation.dateDebutReel"
                                                       [format]="'DD/MM/YYYY'" [pickTime]="false" name="dateDebutReel"
                                                       isoDate
                                                       required></ltexec-datetimepicker>
                                <show-error control="dateDebutReel"
                                            [errors]="['invalidIsoDate, required']"></show-error>
                            </div>
                            <div *ngIf="!evenementValidation.ponctuel">
                                <label for="input_date_fin_reel" class="control-label col-sm-1 col-fixed-2">au <abbr
                                        class="required">*</abbr></label>
                                <ltexec-datetimepicker id="input_date_fin_reel"
                                                       [(ngModel)]="evenementValidation.dateFinReel"
                                                       [format]="'DD/MM/YYYY'" [pickTime]="false" name="dateFinReel"
                                                       isoDate
                                                       required></ltexec-datetimepicker>
                                <show-error control="dateFinReel" [errors]="['invalidIsoDate, required']"></show-error>
                            </div>
                        </div>
                        <!-- COMMENTAIRE -->
                        <div class="form-group">
                            <label for="input_evenementCommentaireValidation"
                                   class="control-label col-sm-2 col-xs-12">Commentaire</label>
                            <div class="controls col-sm-8 col-xs-9">
                                <textarea class="form-control input-sm" id="input_evenementCommentaireValidation"
                                          [(ngModel)]="evenementValidation.commentaireEtat"
                                          name="commentaireValidation"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal" (click)="onClose()">
                    Annuler
                </button>
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default btn-primary"
                            (click)="onConfirmValidation()" data-dismiss="modal"
                            [disabled]="!validerEvenementForm.form.valid"
                            [class.disabled]="!validerEvenementForm.form.valid">Poursuivre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
