<div id="exec-app">
<router-outlet></router-outlet>
    <ltexec-contrats *ngIf="loaded && !navigate" [rechercheavanceeouverte]="rechercheavanceeouverte" [filtres]="_filtres" class="exec"></ltexec-contrats>
    <ltexec-assistance *ngIf="loaded"></ltexec-assistance>
</div>
