<div>
  <label>{{"clauseValeurHeritee.txt.texteFixeAvant" | translate}}</label>
  <quill-editor [readOnly]="disabled" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig"
                [style]="{'color': defaultTextColor}" [(ngModel)]="clause.clauseTexteLibre.textFixeAvant" (ngModelChange)="cleanTexteAvant()"></quill-editor>
  <div class="text-right">
    <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
    <fieldset class="form-group">
      <ui-switch size="small"
                 class="switch-small"
                 [(ngModel)]="sautLigne1"
                 (ngModelChange)="updateSautLigne1()"
                 [switchColor]="sautLigne1?'green':'red'"
                 color="#dedede"
                 [disabled]="disabled"
                 name="sautLigne1"
      >
      </ui-switch>
    </fieldset>
  </div>
</div>
<hr>
<div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h5><label>{{"clauseTexteLibre.txt.tailleChamp" | translate}}</label></h5>
      <fieldset class="form-group">
        <ng-select
          #taille
          [disabled]="disabled"
          (blur)="taille.close()"
          name="taille"
          [items]="tailles"
          [(ngModel)]="tailleChamp"
          (ngModelChange)="updateTaille()"
          [notFoundText]="'redaction.txt.aucun' | translate"
        >
        </ng-select>
      </fieldset>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h5><label>{{"clauseTexteLibre.txt.champLibreObligatoire" | translate}}</label></h5>
      <fieldset class="form-group">
        <ui-switch size="small"
                   class="switch-small"
                   color="#dedede"
                   [disabled]="disabled"
                   [(ngModel)]="clause.clauseTexteLibre.obligatoire"
                   (ngModelChange)="updateChampObligatoire()"
                   [switchColor]="clause.clauseTexteLibre.obligatoire?'green':'red'"
                   name="champObligatoire"
        >
        </ui-switch>
      </fieldset>
    </div>
  </div>

  <div class="text-right">
    <h5><label>{{"redaction.txt.sautLigne" | translate}}</label></h5>
    <fieldset class="form-group">
      <ui-switch size="small"
                 class="switch-small"
                 color="#dedede"
                 [disabled]="disabled"
                 [(ngModel)]="sautLigne2"
                 (ngModelChange)="updateSautLigne2()"
                 [switchColor]="sautLigne2?'green':'red'"
                 name="sautLigne2"
      >
      </ui-switch>
    </fieldset>
  </div>
</div>
<hr>
<div>
  <label>{{"clauseValeurHeritee.txt.texteFixeApres" | translate}} </label>

  <quill-editor [readOnly]="disabled" placeholder="À completer" [modules]="disabled?quillConfigReadOnly:quillConfig"
                [style]="{'color': defaultTextColor}"
                [(ngModel)]="clause.clauseTexteLibre.textFixeApres" (ngModelChange)="cleanTexteApres()"></quill-editor>
</div>
