{% extends 'layout.html.twig' %}
{% set design = null %}
{% block stylesheet_sf1 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
{% endblock %}
{% block stylesheet_sf2 %}
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/chosen.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/ng-styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/print.css') }}" type="text/css" media="print"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/font-awesome/css/font-awesome.css') }}"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/modules/jquery-file-upload/css/jquery.fileupload-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/atx-bloc-highlighted-popup.css') }}"/>
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    {% include 'consultation/consultation-header-js.html.twig' %}
{% endblock %}
{% block javascripts_footer %}
    <!-- JS ?? -->
    {#{% include 'consultation/consultation-depot-template-upload.html.twig' %}#}
    <script type="text/javascript">
        J(document).ready(function () {
            J('[data-toggle="tooltip"]').tooltip();

            {% if inscrit.getId() is defined %}
            J("#addPanierRedirect").click(function(){
                event.preventDefault();

                J.ajax({
                    method: "GET",
                    url: "{{path('atexo_consultation_ajout_panier')}}",
                    data: 'id_consultation={{ consultation.getId() }}&id_entreprise={{ inscrit.getEntrepriseId() }}',
                    success: function(data){
                        J('#modal-panier').children('.modal-dialog').children('.modal-content').children('.modal-body').html(data);
                    }
                });
            });
            {% endif %}
        });

        //use for page : consultation-phase-tab.html.twig
        var lotsNumParam = "";

        var journeeDeLAnnee = {{ getJourneeDeLAnnee() }}
        var time = {{ getTime() }}
        var jetonForm = null;
        //dateBandeau({#{{ getDateFoisMille()  }}#},{#{{ getDateZ() }}#});
        jetonForm = '';
    </script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/tmpl.js') }}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/load-image.all.min.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/modules/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/modules/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/modules/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
    <!-- The File Upload validation plugin -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/modules/jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
    <!-- The File Upload user interface plugin -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/modules/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <!-- The main application script -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/atexo.events.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/atexo.jquery.upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/atexo.jquery.upload.jeton.js') }}"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/modules/jquery-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
    <![endif]-->
    <!-- Chosen Module -->
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/atexo.scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/atx-bloc-highlighted-popup.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/atexoconsultationdepot/assets/js/ServerDate.js') }}"></script>
{% endblock %}
{% block title %}
   Page d'erreur
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{{ 'CG76_DEFINE_TEXT_ACCUEIL'|trans }}</a> /
        <a href="/?page=Entreprise.EntrepriseAdvancedSearch&AllCons">{{ 'DEFINE_TEXT_CONSULTATIONS'|trans }}</a> / {{ 'DEFINE_REPONDRE'|trans }}</div>
{% endblock %}
{% block content %}
    <div Class="form-bloc-erreur">
    <div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
    <div class="content">

        <div class="message bloc-700">
            <!--Debut Message type d'erreur general-->
            <img src="{{ url_mpe }}themes/images/picto-erreur.gif" class="picto-erreur" alt="Erreur" />
            <span ID="labelMessage" style="color:red"> {{ message|trans }}</span>
            <!--Fin Message type d'erreur general-->
        </div>
        <div class="breaker"></div>
    </div>
    <div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
    </div>
{% endblock %}