<div class="modal-content modal-confirmation">
    <div class="modal-header">
        <h4 class="modal-title pull-left modal-confirmation-txt">Annulation / rejet de l'acte</h4>
        <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group form-group-sm p-15">
            <div class="form-group form-group-sm">
                <label class="control-label col-xs-3 col-md-3 col-fixed-10" for="rejet.motif">Raison de l'annulation / rejet de l'acte <ltexec-asterisk></ltexec-asterisk> :</label>
                <div class="controls col-fixed-24">
                    <ng-select
                        [(ngModel)]="this.rejet.motif"
                        [closeOnSelect]="true"
                        [items]="MOTIFS_REJET"
                        bindValue="code"
                        bindLabel="label"
                        id="rejet.motif"
                        name="rejet.motif"
                        [searchable]="false"
                        [multiple]="false"
                        placeholder="Sélectionnez..."
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm p-15">
            <div class="form-group form-group-sm">
                <div class="form-group form-group-sm" *ngIf="rejet.motif === 'AUTRE'">
                    <label class="control-label col-xs-3 col-md-3 col-fixed-10" for="rejet.commentaire">Détail de la raison de l'annulation / rejet <ltexec-asterisk></ltexec-asterisk> :</label>
                    <div class="controls col-fixed-24">
                        <textarea
                            [(ngModel)]="this.rejet.commentaire"
                            placeholder=""
                            id="rejet.commentaire"
                            name="rejet.commentaire"
                            class="form-control"
                            maxlength="500"
                            [required]="rejet.motif === 'AUTRE'"
                        ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button (click)="annuler()" class="btn btn-primary" data-dismiss="modal" type="button">Annuler</button>
            <button (click)="valider()" [disabled]="!estValide()" class="btn btn-primary" data-dismiss="modal" type="button">Valider</button>
        </div>
    </div>
</div>
