<template>
  <v-app>
    <v-navigation-drawer permanent>
      <sub-menu-component title="Serveur Document Generator"
                          description="ATEXO - Vesrion 00.01.00-SNAPSHOT"
                          :items="itemsTop"/>
      <sub-menu-component title="Outils" v-if="isLoggedIn"
                          description="Applications et outils d'administration"
                          :items="itemsApplication"/>
      <sub-menu-component title="Liens externes" v-if="isLoggedIn"
                          description="Applications et outils externes d'administration"
                          :items="itemsExternApplication"/>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import SubMenuComponent from "./shared/components/SubMenuComponent.vue";

export default {
  name: "App",

  components: {
    SubMenuComponent
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.auth.token;
    },
    itemsTop() {
      if (this.isLoggedIn) {
        return [{title: 'Dashboard', icon: 'home', router: 'dashboard'},
          {title: 'Se déconnecter', icon: 'logout', router: 'login'}];
      } else {
        return [{title: 'Se connecter', icon: 'login', router: 'login'}];
      }
    }
  },
  data: () => {
    return {

      itemsApplication: [
        {
          title: 'Génération des documents',
          icon: 'attach_file',
          router: 'generator'
        }, {
          title: 'Edition en ligne',
          icon: 'format_shapes',
          router: 'editor'
        },
        {
          title: 'Conversion et rédaction en ligne',
          icon: 'published_with_changes',
          router: 'convertor'
        },
        {
          title: 'Analyse Consultation',
          icon: 'analytics',
          router: 'analyse'
        }, {
          title: 'Comparaison des fichiers Excels',
          icon: 'dynamic_feed',
          router: 'extractor'
        }, {
          title: 'Référentiel des templates',
          icon: 'attach_file',
          router: 'template'
        },
        {
          title: 'Validation des documents',
          icon: 'check',
          router: 'validation'
        }
      ],
      itemsExternApplication: [
        {
          title: 'Swagger',
          icon: 'fingerprint',
          router: 'swagger'
        }, {
          title: 'JavaMelody',
          icon: 'trending_up',
          router: window.location.origin + '/docgen/monitoring',
          newTab: true
        }, {
          title: 'Sonar',
          icon: 'bar_chart',
          router: 'http://qualimetrie.pcc37/sonarqube/dashboard?id=com.atexo.docgen%3Adocgen',
          newTab: true
        }
      ],
    }
  },
  created() {
    this.$http.interceptors.response.use(undefined, (err) => {
      return new Promise((resolve, reject) => {
        if (err.status === 401) {
          this.$store.dispatch('auth/logout')
        }
        throw err;
      });
    });
  }
};
</script>
<style scoped>
@import "./assets/css/atx-app.css";
@import "./assets/css/styles.css";

</style>
