<h2>
    Documents d'exécution

    <ng-template [ngIf]="contrat != null">
        <span> ({{ documentsGeneresPage.totalElements + documentsLibresPage.totalElements }})</span>
    </ng-template>

</h2>


<!--Debut Panel Contrat-->
<ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>
<!--Fin Panel Contrat-->

<div class="panel panel-default bloc-toggle panel-filtres">
    <div class="panel-heading" id="headingFiltres">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapseFiltres" aria-expanded="false"
               aria-controls="collapseOne" class="collapsed">
                <i class="fa"></i>
                Filtrer par
            </a>
        </h3>
    </div>
    <div id="collapseFiltres" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFiltres">
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group form-group-sm">
                    <label for="input_keywords" class="col-sm-2 control-label">Mots-clés <abbr class="icon"
                                                                                               tabindex="0"
                                                                                               data-toggle="tooltip"
                                                                                               data-placement="top"
                                                                                               title="Rechercher (3 caractères minimum) sur le nom ou l'objet du document et le contractant associé">
                        <i class="fa fa-question-circle"><span class="sr-only">Aide</span></i></abbr></label>
                    <div class="col-sm-10">
                        <input id="input_keywords"
                               placeholder="Rechercher (3 caractères minimum) sur le nom ou l'objet du document et le contractant associé"
                               name="motsCles"
                               (keyup)="updateSearchByMotsCles($event)" type="text"
                               class="form-control" id="inputKeyword">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<accordion [isAnimated]="true">
    <accordion-group [heading]="'Plus de critères'">
        <div class="form-group">

            <label class="col-sm-2 control-label">Contractants</label>
            <div class="col-sm-10">
                <ng-select (change)="contratantSelectionChanges($event)" [groupBy]="'type'" [items]="etablissements"
                           [multiple]="true" [searchable]="true"
                           name="filtre_etablissements">
                    <ng-template let-item="item" ng-option-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                    </ng-template>
                    <ng-template let-item="item" ng-label-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div *ngIf="evenement == null" class="form-group">
            <label class="col-sm-2 control-label">Événement</label>
            <div class="col-sm-10">
                <ng-select (change)="evenementsSelectionChanges($event)" [items]="evenements" [multiple]="true"
                           [searchable]="true" name="filtre_etablissements_evenements">
                    <ng-template let-item="item" ng-option-tmp>
                        <span class="ng-value-label">{{ item?.libelle }}
                            - du <b>{{ item.dateDebut }}</b> au <b>{{ item.dateFin }}</b></span>
                    </ng-template>
                    <ng-template let-item="item" ng-label-tmp>
                        <span class="ng-value-label">{{ item?.libelle }}
                            - du <b>{{ item.dateDebut }}</b> au <b>{{ item.dateFin }}</b></span>
                    </ng-template>
                </ng-select>
            </div>

        </div>
    </accordion-group>
</accordion>

<!-- Debut Tableau Documents pré-remplis-->
<div class="panel-table" *ngIf="documentsGeneresPage && documentsGeneresPage.totalElements == 0">
    <div class="repeater-header">
        <div class="repeater-footer-left">
            <a class="btn btn-sm btn-primary" (click)="onAjouterDocumentGenereClick()" data-toggle="modal"
               data-target=".modal-documentAgentPrerempli"><i class="fa fa-plus"></i> Ajouter un document pré-rempli</a>
        </div>
        <div class="repeater-header-right">
            <h3 class="repeater-header-title">Aucun résultat trouvé.</h3>
        </div>
    </div>
</div>

<div class="panel-table" *ngIf="documentsGeneresPage && documentsGeneresPage.totalElements != 0">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <ltexec-table-elements-count [page]="documentsGeneresPage"></ltexec-table-elements-count>
        </div>
        <div class="repeater-header-right">
            <ltexec-table-pagination [table]="documentsGeneresTable"
                                     [page]="documentsGeneresPage"></ltexec-table-pagination>
        </div>
    </div>
    <div class="repeater-viewport">
        <table class="table bordered-table table-hover zebra-striped table-documents table-hover">
            <caption class="sr-only">Documents pré-remplis depuis un modèle</caption>
            <thead>
            <tr>
                <th scope="col">
                    <ltexec-table-sort [label]="'Documents pré-remplis depuis un modèle'" [property]="'objet'"
                                       [table]="documentsGeneresTable"
                                       [page]="documentsGeneresPage"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-md-3">
                    <ltexec-table-sort [label]="'Contractant'" [property]="'etablissement.fournisseur.raisonSociale'"
                                       [table]="documentsGeneresTable"
                                       [page]="documentsGeneresPage"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-md-3">
                    <ltexec-table-sort [label]="'Créé le'" [property]="'dateCreation'"
                                       [table]="documentsGeneresTable"
                                       [page]="documentsGeneresPage"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-md-2 col-actions">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let document of documentsGeneres">

                <td>{{document.objet}} - <a style="cursor: pointer;" (click)="onDownloadDocumentClick(document.id)"
                                            title="Télécharger le document {{document.fichier.nom}} - {{document.fichier.taille | fileSize }}"><i
                    class="fa fa-download"></i> {{document.fichier.nom}} </a>

                    <span *ngIf="document.commentaire == null" class="commentaire-link">
                            <a (click)="setCurrentDocument(document);editerCommentaire()" data-toggle="modal"
                               data-target="#myModal_commentaire_ajout" class="btn-link off"
                               title="Laisser un commentaire"><i
                                class="fa fa-comment"></i></a>
                        </span>

                    <span *ngIf="document.commentaire != null" class="commentaire-link" title="{{document.commentaire}}"
                          data-toggle="tooltip" [attr.data-original-title]="document.commentaire">
                            <a (click)="setCurrentDocument(document);editerCommentaire()" data-toggle="modal"
                               data-target="#myModal_commentaire_ajout" class="btn-link"><i
                                class="fa fa-comment"></i></a>
                        </span>
                    <br/>

                    <span *ngFor="let evenement of document.evenements">
                            <div *ngIf="evenement.dateFin != null"
                                 style="background-color: rgb(81, 183, 73); word-wrap: break-word; white-space: normal;"
                                 class=" box label desc-evenement">{{evenement.libelle}}
                                - {{evenement.dateDebut | formatDate: "DD/MM/YYYY"}}
                                au {{evenement.dateFin | formatDate: "DD/MM/YYYY"}} ({{evenement.typeEvenement.label}}
                                ) </div>
                            <div *ngIf="evenement.dateFin == null"
                                 style="background-color: rgb(81, 183, 73); word-wrap: break-word; white-space: normal;"
                                 class=" box label desc-evenement">{{evenement.libelle}}
                                - {{evenement.dateDebut | formatDate: "DD/MM/YYYY"}} ({{evenement.typeEvenement.label}}
                                ) </div>
                    </span>
                </td>
                <td>
                    <ltexec-etablissement-link *ngIf="document.etablissement != null"
                                               [etablissement]="document.etablissement"></ltexec-etablissement-link>
                </td>

                <td> {{document.dateCreation | formatDate: "DD/MM/YYYY" }} par
                    <ltexec-utilisateur-link [utilisateur]="document.utilisateur"></ltexec-utilisateur-link>

                </td>

                <td class="col-actions">
                        <span *ngIf="editionEnLigneActivee">
                            <button (click)="onEditionEnLigneClick(document.id)"
                                    *ngIf="document.utilisateursEnLigne?.length === 0" type="button"
                                    [title]="getTitle(document)"
                                    class="btn btn-primary btn-sm btn-action">
                                <fa-icon [icon]="['fas', 'pencil-alt']"><span class="sr-only">Modifier</span></fa-icon>
                            </button>
                            <button *ngIf="document.utilisateursEnLigne?.length > 0" [title]="getTitle(document)"
                                    class="btn btn-primary btn-sm btn-action"
                                    type="button">
                                <fa-icon [icon]="['fas', 'spinner']" style="margin-left: 5px"><span class="sr-only">En cours d'édition</span></fa-icon>
                            </button>
                        </span>
                    <button type="button" (click)="documentToDelete = document;showConfirmationSuppressionModal=true"
                            class="btn btn-primary btn-sm btn-action"
                            title="Supprimer"
                            data-target=".modal-confirmationSuppression" data-toggle="modal">
                        <fa-icon [icon]="['fas','trash']"></fa-icon>
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
        <div class="repeater-footer">
            <div class="repeater-footer-left">
                <a class="btn btn-sm btn-primary" (click)="onAjouterDocumentGenereClick()" data-toggle="modal"
                   data-target=".modal-documentAgentPrerempli"><i class="fa fa-plus"></i> Ajouter un document pré-rempli</a>
            </div>
            <div class="repeater-footer-right">
                <ltexec-table-pagination [table]="documentsGeneresTable"
                                         [page]="documentsGeneresPage"></ltexec-table-pagination>
            </div>
        </div>
    </div>
</div>

<!-- // Fin Tableau Documents -->

<!-- Debut Modal Commentaire -->
<div #autoShownModal="bs-modal" *ngIf="isModalCommentaireShown && currentDocument != null" [config]="{ show: true }"
     aria-hidden="true"
     aria-labelledby="titreDialogue_commentaire_Ajouter"
     bsModal class="modal fade modal-commentaire"
     id="myModal_commentaire_ajout" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="isModalCommentaireShown=false" aria-label="Close" class="close" data-dismiss="modal"
                        type="button"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_commentaire">Commentaire</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="controls col-sm-12">
                                <textarea rows="6" maxlength="255" [(ngModel)]="commentaireModel.commentaire"
                                          name="commentaire"
                                          class="form-control input-sm"
                                          id="input_documentPrerempli_commentaire"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button (click)="isModalCommentaireShown=false" class="btn btn-sm btn-default pull-left" data-dismiss="modal"
                        type="button">Annuler
                </button>
                <button type="button" (click)="saveCommentaire()"
                        [class.disabled]="commentaireModel && commentaireModel.commentaire && commentaireModel.commentaire.length == 0"
                        [disabled]="commentaireModel && commentaireModel.commentaire &&  commentaireModel.commentaire.length == 0"
                        class="btn btn-sm btn-default btn-primary pull-right"
                        data-dismiss="modal">Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // Fin Modal Commentaire -->


<!-- //Fin Tableau Documents pré-remplis-->


<!-- Debut Tableau Documents libres -->
<div class="panel-table voffset4" *ngIf="documentsLibresPage && documentsLibresPage.totalElements == 0">
    <div class="repeater-header">
        <div class="repeater-footer-left">
            <a class="btn btn-sm btn-primary" href="#" (click)="onAjouterDocumentLibreClick()" data-toggle="modal"
               data-target=".modal-documentAgent"><i class="fa fa-plus"></i> Ajouter un document</a>
        </div>
        <div class="repeater-header-right">
            <h3 class="repeater-header-title">Aucun résultat trouvé.</h3>
        </div>
    </div>
</div>

<div class="panel-table voffset4" id="documentsLibresTable"
     *ngIf="documentsLibresPage && documentsLibresPage.totalElements != 0">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <ltexec-table-elements-count [page]="documentsLibresPage"></ltexec-table-elements-count>
        </div>
        <div class="repeater-header-right">
            <ltexec-table-pagination [table]="documentsLibresTable"
                                     [page]="documentsLibresPage"></ltexec-table-pagination>
        </div>
    </div>
    <div class="repeater-viewport">
        <table *ngIf="documentsLibres != null" class="table bordered-table zebra-striped table-documents table-hover">
            <caption class="sr-only">Documents libres</caption>
            <thead>
            <tr>
                <th scope="col">
                    <ltexec-table-sort [label]="'Documents libres'" [property]="'objet'"
                                       [table]="documentsLibresTable"
                                       [page]="documentsLibresPage"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-md-3">
                    <ltexec-table-sort [label]="'Contractant'" [property]="'etablissement.fournisseur.raisonSociale'"
                                       [table]="documentsLibresTable"
                                       [page]="documentsLibresPage"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-md-3">
                    <ltexec-table-sort [label]="'Créé le'" [property]="'dateCreation'"
                                       [table]="documentsLibresTable"
                                       [page]="documentsLibresPage"></ltexec-table-sort>
                </th>
                <th scope="col" class="col-md-2 col-actions">Actions</th>
            </tr>
            </thead>

            <tbody *ngIf="documentsLibres != null">
            <tr *ngFor="let document of documentsLibres">
                <td>{{document.objet}} - <a style="cursor: pointer;" (click)="onDownloadDocumentClick(document.id)"
                                            title="Télécharger le document {{document.fichier.nom}} - {{document.fichier.taille | fileSize }}"><i
                    class="fa fa-download"></i> {{document.fichier.nom}} </a>

                    <span *ngIf="document.commentaire == null" class="commentaire-link">
                            <a (click)="setCurrentDocument(document);editerCommentaire()" data-toggle="modal"
                               data-target="#myModal_commentaire_ajout" class="btn-link off"
                               title="Laisser un commentaire"><i
                                class="fa fa-comment"></i></a>
                        </span>

                    <span *ngIf="document.commentaire != null" class="commentaire-link"
                          title="{{document.commentaire }}" [id]="'com_'+document.id" data-toggle="tooltip"
                          [attr.data-original-title]="document.commentaire">
                            <a (click)="setCurrentDocument(document);editerCommentaire()" data-toggle="modal"
                               data-target="#myModal_commentaire_ajout" class="btn-link"><i
                                class="fa fa-comment"></i></a>
                        </span>

                    <br/>

                    <span *ngFor="let evenement of document.evenements">
                                <div *ngIf="evenement.dateFin != null"
                                     style="background-color: rgb(81, 183, 73); word-wrap: break-word; white-space: normal;"
                                     class="box label desc-evenement">{{evenement.libelle}}
                                    - {{evenement.dateDebut | formatDate: "DD/MM/YYYY"}}
                                    au {{evenement.dateFin | formatDate: "DD/MM/YYYY"}}
                                    ({{evenement.typeEvenement.label}}) </div>
                                <div *ngIf="evenement.dateFin == null"
                                     style="background-color: rgb(81, 183, 73); word-wrap: break-word; white-space: normal;"
                                     class="box label desc-evenement">{{evenement.libelle}}
                                    - {{evenement.dateDebut | formatDate: "DD/MM/YYYY"}}
                                    ({{evenement.typeEvenement.label}}) </div>
                        </span>

                </td>
                <td>
                    <ltexec-etablissement-link *ngIf="document.etablissement != null"
                                               [etablissement]="document.etablissement"></ltexec-etablissement-link>
                </td>

                <td>{{document.dateCreation | formatDate: "DD/MM/YYYY HH:mm"}} par
                    <ltexec-utilisateur-link [utilisateur]="document.utilisateur"></ltexec-utilisateur-link>

                </td>
                <td class="col-actions">
                    <button type="button" (click)="documentToDelete = document;showConfirmationSuppressionModal = true;"
                            class="btn btn-primary btn-sm btn-action"
                            title="Supprimer"
                            data-target=".modal-confirmationSuppression" data-toggle="modal">
                        <span><fa-icon [icon]="['fas','trash']"></fa-icon> </span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="repeater-footer">
            <div class="repeater-footer-left">
                <a class="btn btn-sm btn-primary" href="#" (click)="onAjouterDocumentLibreClick()" data-toggle="modal"
                   data-target=".modal-documentAgent"><i class="fa fa-plus"></i> Ajouter un document</a>
            </div>
            <div class="repeater-footer-right">
                <ltexec-table-pagination [table]="documentsLibresTable"
                                         [page]="documentsLibresPage"></ltexec-table-pagination>
            </div>
        </div>
    </div>
</div>

<!-- // Fin Tableau Documents libres -->


<!-- //Fin Tableau Documents -->

<!-- Debut Modal Confirmation Suppression -->
<div *ngIf="showConfirmationSuppressionModal" class="modal fade modal-confirmationSuppression" tabindex="-1"
     role="dialog"
     aria-labelledby="titreDialogue_confirmationSuppression"
     aria-hidden="true" id="myModal_confirmationSuppression"
     [config]="{ show: true }" bsModal #autoShownModal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_confirmationRetour">Message de confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer ce document ?</p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn  btn-sm btn-default" data-dismiss="modal"
                            (click)="showConfirmationSuppressionModal=false">Annuler
                    </button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="supprimerDocument(documentToDelete)"
                            class="btn  btn-sm btn-default btn-primary" data-dismiss="modal">Poursuivre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // Fin Modal Confirmation Suppression -->
<!-- Debut Form actions-->
<div class="form-group form-actions">
    <div class="pull-left">
        <button class="btn btn-default btn-sm" (click)="goBack()" type="button">
            <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
            Retour
        </button>
    </div>
</div>
<!-- //Fin Form actions-->


<ltexec-creation-document *ngIf="isModalCreationDocumentShown"
                          [contratId]="contrat.id"
                          [evenements]="evenements"
                          [etablissements]="etablissements"
                          [documentsLibres]="flag"
                          (hideModal)="onHidden()"
>
</ltexec-creation-document>

