/* CSS Document */

/***************************************************************REDEFINITION STYLES CLIENT***************************************************************/
body { margin:0; padding:0; background:#fff; height:100% }
img { border:0px; margin-right:4px; }
#layoutPopup, #containerPopup, #containerPopup #middle, .page-erreur #middle { background:#fff !important; }
h1, h2, .previsu-doc .content h5 { color:#641566 !important; }
#header { height:190px; position:relative; width:990px; padding:0; background: url(../images/bandeau.jpg) no-repeat right 0 #fff; text-align:center; }
#header .top { height:137px; color:#fff; padding-top:0px;}
#header .top .user-infos { height:25px; right:0; box-sizing:border-box; padding:6px 8px 0; margin:0; text-align:right; position:absolute; background:none; }
#header .top .user-infos span { margin:0; padding:5px; margin-left:-5px; }
#header .top .user-infos, #header .top .user-infos a  { color:#641566; font-family:Arial, Helvetica, sans-serif; }
#header .top .user-infos a:hover { text-decoration:underline; }

#header .middle { display:none; }

#header .nav { background:transparent; height:41px; font-family:arial,verdana,sans-serif; padding:0; margin:0 auto; clear:left; width:984px; position:relative; overflow:visible; }
#header .nav a { color:#641566; }
#header .nav .accueil { padding:0; font-size:1em; height:49px; position:absolute; width:295px; top:-115px; left:12px; }
#header .nav .accueil a { text-transform:none; font-size:1.1em; height:49px; background:url(../images/logo.gif) no-repeat 0 0 !important;  }
#header .nav .links { height:41px; width:100%; display:table;table-layout: fixed; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#header .nav .links a { height:25px; padding:0 10px; font-size:1em; text-transform:none; display:table-cell; float:none; vertical-align:middle; font-family:Verdana,Geneva,sans-serif; text-transform:uppercase; border-left:1px solid #cacaca; }
#header .nav .links a:first-child { border:0; }
#header .nav .links a.on, #header .nav .links a:hover { background:#641566; color:#fff; text-decoration:none; }
#header .nav .links a:hover.on { cursor:default; }
#header .nav .accueil a:hover { text-decoration:underline; }
#header .nav .accueil a, #header .nav .accueil a:hover, #header .nav .accueil a.on { color:#333; background:none; text-indent:-99999px; }

#header .top .date { position:absolute; right:12px; top:102px; width:auto; margin:0; padding:0; color:#641566; }

.breadcrumbs { color:#676767 !important; background:none; padding-left:0; }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#641566+0,943996+100 */
background: #641566; /* Old browsers */
background: -moz-linear-gradient(top,  #641566 0%, #943996 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #641566 0%,#943996 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #641566 0%,#943996 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#641566', endColorstr='#943996',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 0 0 0 8px;
-moz-border-radius: 0 0 0 8px;
border-radius: 0 0 0 8px; }
#middle .left-part ul li.menu-open ul li, #middle .left-part ul li.menu-top-open ul li { border:0; clear:both; background:#fff; }
#middle .left-part ul li.menu-open ul li a, #middle .left-part ul li.menu-closed ul li a, #middle .left-part ul li.menu-top-closed ul li a, #middle .left-part ul li.menu-top-open ul li a { background-position:4px 6px !important; padding-left:10px; color:#3a3a3a; }
#middle .left-part ul li.menu-open ul li a:hover, #middle .left-part ul li.menu-closed ul li a:hover, #middle .left-part ul li.menu-top-closed ul li a:hover, #middle .left-part ul li.menu-top-open ul li a:hover { color:#641566; }
#middle .left-part ul li.menu-top-open ul li.on a, #middle .left-part ul li.menu-open ul li.on a { background-image:url(../images/ss-menu-puce-off.gif); }
#middle .left-part ul.ss-lien { padding-left:7px; width:158px !important; }
#middle .left-part ul.ss-lien li { width:157px; }
#middle .left-part ul li ul.ss-menu-open li.on ul.ss-lien li a { background:#fff !important;}
#middle .left-part ul li ul.ss-menu-closed li.on ul.ss-lien li a, #middle .left-part ul li ul.ss-menu-open li.on ul.ss-lien li a { width:150px; }
#middle .left-part ul li ul.ss-menu-closed li.on ul.ss-lien li.on a { background:none; }

*html #middle .left-part ul li input.rechercher { margin-left:1px }
#middle .left-part ul li input.rechercher { margin-left:3px; }

#middle .left-part ul li.menu-top, #middle .left-part ul li.menu, #middle .left-part ul li.menu-closed, #middle .left-part ul li.menu-open, #middle .left-part ul li.menu-top-closed, #middle .left-part ul li.menu-top-open { margin:0 0 1px 0; background:none; }
#menuList li:last-child { border:0 !important; }

.page-erreur #middle { background:#fff; width:970px !important; }
.page-erreur #footer { background:#fff; }

.login { padding-left:226px; background:#fff; }
.login-box { margin-left:auto; margin-top:20px; }
.login-box .top { padding:0; overflow:hidden; }
.login-box .content { width:400px; height:auto; padding-top:10px; }
.login-box .bottom { display:block }
.login-box .content input { margin-bottom:0px }

.login-box .form-bloc .content { width:378px !important; }
.login-box .form-bloc .intitule { clear:left !important; }
.login-box .content .oubli-pass { clear:left; float:left; margin-top:0; width:150px; margin-left:3px;_margin-left:0px; text-align:left; }
.login-box .content input.valider { margin-top:10px; width:84px; height:18px; float:right; background-image:url(../images/bouton-short-bk.gif); background-repeat:no-repeat; padding:0; border:0; color:#fff; font-size:11px; font-weight:bold; cursor:pointer; vertical-align:top; margin-right:56px; display:inline; }

.results-list table th, .results-list table th.top, .results-list table th a { background:#cdcdcd; color:#666666 !important; }

.results-list table a, .results-list table i, .form-saisie .liste-pieces table th, .liste-publication table th, .liste-retraits table th, .questions-reponses table th, .questions-reponses table th a, .questions-reponses table td a, .liste-candidatures table th, .liste-candidatures table th a, .liste-lot-group .title, .results-list .liste-docs .title, .liste-docs-seance .title, .liste-docs-seance table th, .liste-docs-seance table th a, .liste-docs-seance table td a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-lot-group table.recap th a, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table th, table.actualites th, table.actualites td a, table.actualites th a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-membres table th, .liste-membres table th a, .validation-consultations table th, .validation-consultations table th a, .validation-consultations table td a, .tableau-deliberations table th, .tableau-deliberations table th a, .tableau-deliberations table td a, .tableau-deliberations .liste-attributaires .layer-attrib table th, .montant-tranche table th, .suivi-contrat .title, .suivi-contrat table th a, .suivi-contrat table td a, .suivi-contrat table tr.header-table, .bloc-action a:hover.action, .liste-lot-group table th, .liste-lot-group table td a, .liste-docs-seance table.generation-convocations th,.suivi-contrat table .actions-small, .suivi-contrat table th { color:#666666; }

.liste-lot-group table th, .liste-docs-seance table th, .form-saisie .liste-pieces table th, .liste-retraits table th, .questions-reponses table th, .liste-candidatures table th, .liste-publication table th, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table, table.actualites th, .liste-membres table th, .validation-consultations table th, .tableau-deliberations table th , .tableau-deliberations .liste-attributaires .layer-attrib table, .montant-tranche table th, .form-saisie .liste-pieces table th, .boutons { border-color:#999; }
 
.form-saisie .form-bloc .content, .deliberation .form-saisie .form-bloc .content, .liste-lot-group .title, #canevasMap .content { border-color:#717171 !important; background-color:#f5f4f4 !important; }
.form-envoi-pub .content, #organigramme .content { border-color:#999 !important; background-color:#f5f4f4 !important; }

.layer .content, .form-envoi-pub .gwt-TabPanelBottom, .suivi-contrat table th { border-color:#999 !important; }
.layer .content .lot-on { background:#EDEBEB; }
.layer .content .lot { background:#f7f5f5; }
.layer .content .lot-on .numero-lot, .layer .content .lot-on .intitule-lot, .layer .content .lot-on .description-lot, .layer .content .lot .numero-lot, .layer .content .lot .intitule-lot, .layer .content .lot .description-lot, .layer .content .lot-on .caracteristiques-lot .title, .layer .content .lot .caracteristiques-lot .title, .formulaire-amont .label-desc-lot, .formulaire-amont .lot .title-lot { color:#666; }

.nav-onglet .tab a { color:#999; }
.nav-onglet .tab-on { background:#999; }
.nav-onglet .tab-inactive  { background:#eeeced; }
.nav-onglet .tab-inactive a { color:#b5b5b5; }

#suiviMessagerieSecurisee .title { color: #999; font-weight:bold; line-height:normal; margin-bottom:5px; }

a.lien_ext, a.lien_ext:after, .title1, a.link, h2, h3, h3 a, h4, .login p.center a, .message-accueil .titre, .message-accueil a, .breadcrumbs, .breadcrumbs a, .form-saisie .form-bloc .content .intitule-strong, .form-saisie .form-bloc .content .intitule-strong2, .form-saisie .form-bloc .content .intitule-strong-auto, .form-bloc-message .content .message, .form-bloc .content .intitule-left-auto strong, .layer .content .intitule-auto-bold, .champ-cpv table a:hover, .layer .content .caracteristiques-tranche a:hover.ajout-tranche, .layer .content .caracteristiques-lots-techniques a:hover.ajout-lot-techniques, a.acceder, .infos-modifs, .form-envoi-pub legend, .form-envoi-pub .gwt-TabBarItem, .form-envoi-pub .gwt-TabPanelBottom, .compositionGroupement .title, .form-bloc .content .numerus-clausus strong, #envoiCourrier .title, .pre-visu .top a:hover.fermer, .clause-choix-list a:hover.ajout-choix, #canevasMap .content a:hover.ajout-el-num, .toggle-all, .toggle-all a, .previsu-doc .content h5, .commissions-details .title, a:hover.ajout-consultation-pressentie, .action-inline .empty-action, #envoiCourrier .pj a, .popup-small ul.liste-docs-generes, .popup-small ul.liste-docs-generes li a, .popup-small ul.liste-docs-generes li a:hover, a.info-link , a:hover.ajout-el, a:hover.consulter-doc, a:hover.modif-link, .text-bloc a.download, .text-bloc a:hover.download, .partitioner a:hover, .classification .intitule-long, .toggle .title, .tableau-deliberations .liste-attributaires .title, .liste-lot-group .note-totale .intitule, .liste-pieces table td a, .tableau-default .title, .tableau-default table th, .tableau-default table th a, h2 a, .montant-tranche .title, .formulaire-amont .bloc-consultation .caracteristiques-tranche .title, .formulaire-amont .bloc-consultation .caracteristiques-lots-techniques .title, .toggle-consultation { color:#641566; }

.results-list table tr.doc-on-first, .results-list table tr.doc-on, .results-list tr .liste-docs .layer-docs table tr.on, .liste-candidatures table tr.on, .deliberation .liste-pieces table tr.on, table.tableau-forme-prix td, #organigramme .content, .validation-consultations table.contenus-envois tr.on, .liste-docs-seance table.generation-convocations tr.on, .tableau-deliberations tr.attrib-on, .tableau-deliberations tr.attrib-on-first, .tableau-deliberations tr .liste-attributaires .layer-attrib table tr.on, .tableau-deliberations table.details-delib .layer-attrib table tr.on td { background:#F6F4F4; }

.bloc-arrondi .content, .bloc-arrondi .top, .bloc-arrondi .bottom { background-color:#f5f4f4 !important; }
.form-saisie .form-bloc .content .bloc-arrondi .content, .form-saisie .form-bloc .content .bloc-arrondi .top, .form-saisie .form-bloc .content .bloc-arrondi .bottom { background-color:#cdcdcd !important; }
.form-saisie .form-bloc .top .left, .form-saisie .form-bloc .top .right, .form-saisie .form-bloc .bottom .left, .form-saisie .form-bloc .bottom .right { background-color:#f5f4f4 !important; }

.suivi-contrat table th { color:#454543; border-bottom: 1px solid #CDCDCD; }
.suivi-contrat table th a { color:#666666; }
.suivi-contrat table td a { color:#454543; }
.suivi-contrat table tr.header-table { background: none repeat scroll 0 0 #CDCDCD; }
.suivi-contrat table .colspan { background:#D6D6D6; border: 1px solid #F5F4F4 !important; }
.suivi-contrat table tr td.total { background:#ECECEC; }
.suivi-contrat table th.total { border-color:#FFFFFF #FFFFFF #c2c2c2 !important; }
.suivi-contrat table tr.total { background-color:#CCCCCC; }
.suivi-contrat table tr.on td.total { background:#F5F5F5; }

#liste-etapes .entete-grille { background:#999; }
.liste-taches table tr.on { background:#E9E7E8; }
.liste-taches table { border-color:#E9E7E8; }
.liste-taches table th { background:#666; }
.calendrier-gantt table th { background:#999; }
table.tableau-gantt { border-color:#999; }

.champ-cpv table a:hover, a:hover.ajout-el, a:hover.ajout-tranche, a:hover.ajout-lot-techniques, a:hover.ajout-pub, a:hover.ajout-question { background-image:url(../images/picto-arrow-small-grey.gif) !important; }

#footer { background:url(../images/footer-bg.png) no-repeat #fff; height:66px; color:#fff; width:990px; box-sizing:border-box; text-align:right; padding:22px 25px 0; margin:30px auto 5px; border:0; }
#footer a { color:#641566; font-size:11px; font-family:Verdana,Geneva,sans-serif; padding:0 10px; }
#footer a:hover { color:#641566; text-decoration:underline; }

.mon-bloc .panel-body { height:500px; overflow:auto; }
