<div class="habilitation-section habilitation-section--n2 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'DEFINE_CREER_SUITE' | trans}}
        </div>
        <input type="checkbox" class="js-habilitation-section-checkbox" {% if mode is defined and mode == 2  %}disabled {% endif %}>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.gerer_mapa_inferieur_montant_suite is defined %}
                <div class="habilitation-section habilitation-section--n3 js-habilitation-section">
                    <div class="habilitation-section__header js-habilitation-section-header">
                        <div class="habilitation-section__header__title">
                            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
                            {{form.gerer_mapa_inferieur_montant_suite.vars.label}}
                        </div>
                        <input type="checkbox" class="js-habilitation-section-checkbox" {% if mode is defined and mode == 2  %}disabled {% endif %}>
                    </div>
                    <div class="habilitation-section__content">
                        <div class="habilitation-section__body">
                            {% for field in form.gerer_mapa_inferieur_montant_suite %}
                                {{ form_widget(field) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if form.gerer_mapa_superieur_montant_suite is defined %}
                <div class="habilitation-section habilitation-section--n3 js-habilitation-section">
                    <div class="habilitation-section__header js-habilitation-section-header">
                        <div class="habilitation-section__header__title">
                            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
                            {{form.gerer_mapa_superieur_montant_suite.vars.label}}
                        </div>
                        <input type="checkbox" class="js-habilitation-section-checkbox" {% if mode is defined and mode == 2  %}disabled {% endif %}>
                    </div>
                    <div class="habilitation-section__content">
                        <div class="habilitation-section__body">
                            {% for field in form.gerer_mapa_superieur_montant_suite %}
                                {{ form_widget(field) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if form.administrer_procedures_formalisees_suite is defined %}
                <div class="habilitation-section habilitation-section--n3 js-habilitation-section">
                    <div class="habilitation-section__header js-habilitation-section-header">
                        <div class="habilitation-section__header__title">
                            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
                            {{form.administrer_procedures_formalisees_suite.vars.label}}
                        </div>
                        <input type="checkbox" class="js-habilitation-section-checkbox" {% if mode is defined and mode == 2  %}disabled {% endif %}>
                    </div>
                    <div class="habilitation-section__content">
                        <div class="habilitation-section__body">
                            {% for field in form.administrer_procedures_formalisees_suite %}
                                {{ form_widget(field) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
