<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_GESTION_PERIMETRE_INTERVENTION' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.invite_permanent_mon_entite is defined %}
                {{ form_widget(form.invite_permanent_mon_entite) }}
            {% endif %}
            {% if form.invite_permanent_entite_dependante is defined %}
                {{ form_widget(form.invite_permanent_entite_dependante) }}
            {% endif %}
            {% if form.invite_permanent_transverse is defined %}
                <div class="habilitation-section habilitation-section--n2 js-habilitation-section">
                    <div class="habilitation-section__header js-habilitation-section-header">
                        <div class="habilitation-section__header__title">
                            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
                            {{form.invite_permanent_transverse.vars.label}}
                        </div>
                        <input type="checkbox" class="js-habilitation-section-checkbox" {% if mode is defined and mode == 2  %}disabled {% endif %}>
                    </div>
                    <div class="habilitation-section__content">
                        <div class="habilitation-section__body">
                            <div class="services-tree js-service-tree">
                                {{ _self.render_service_tree(serviceTree) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% macro render_service_tree(services) %}
    <div class="services-tree__container">
        {% for service in services %}
            <div class="services-tree__item {% if service.children is not empty %} services-tree__item--parent js-services-tree-parent{% endif %}">
                {% if service.children is not empty %}
                    <span class="services-tree__item__toggle js-services-tree-toggle">
                        <i class="ft-plus"></i> <i class="ft-minus"></i>
                    </span>
                {% endif %}
                <input
                    type="checkbox"
                    id="service_{{ service.id }}"
                    class="js-service-tree-checkbox"
                    name="habilitation_gestion_perimetre_new[invite_permanent_transverse][services][]"
                    value="{{ service.id }}"
                    {% if service.inviteTransverseId is not null %}
                        checked
                    {% endif %}
                    {% if mode is defined and mode == 2  %} disabled {% endif %}
                >
                <label for="service_{{ service.id }}">{{ service.libelle }}</label>
                {% if service.children is not empty %}
                    <div class="services-tree__child">
                        {{ _self.render_service_tree(service.children) }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
