<div class="card border-left-primary"
     *ngIf="model">
  <div class="card-content">
    <div class="card-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="account-vertical-general"
             aria-labelledby="account-pill-general" aria-expanded="true">
          <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
              <h5><span class="font-weight-bold"> {{model.reference}}
                | {{model.titre}}</span></h5>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
              <div class="float-md-right">
                <div *ngFor="let statut of getStatuts(model)"
                     [title]="'type-avis.statut.'+statut.label | translate"
                     [ngClass]="{'badge-warning':isActive(model,statut),'badge-secondary':model.statut!==statut.value}"
                     class="badge badge-pill badge-glow badge-square">{{statut.key}}
                </div>
                <br/>
                <div class="float-md-right">
                  <div class="badge badge-pill badge-glow badge-square badge-secondary"
                       [ngClass]="{'badge-success':model.validerEco === true, 'badge-danger':model.validerEco === false}">
                    ECO
                  </div>
                  <div class="badge badge-pill badge-glow badge-secondary badge-square"
                       *ngIf="model?.facturation?.sip"
                       [ngClass]="{'badge-success':model.validerSip === true, 'badge-danger':model.validerSip === false}">
                    SIP
                  </div>
                </div>


              </div>
            </div>


          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <atx-horizontal-timeline [events]="events"></atx-horizontal-timeline>

            </div>
          </div>
          <div *ngIf="showDetails">

            <div class="row">
              <div class="col-12">
                <div>
                  <h6><strong>{{'type-avis.details.objet' | translate }}</strong> {{model.objet}}
                  </h6>
                </div>
              </div>
              <div class="col-12" *ngIf="model.procedure">
                <div>
                  <h6><strong>{{'type-avis.details.procedure' | translate }}</strong> {{model.procedure.code}}
                    - {{model.procedure.libelle}}
                  </h6>
                </div>
              </div>
              <div class="col-12" *ngIf="model.organisme">
                <div>
                  <h6>
                    <strong>{{'type-avis.details.organisme' | translate }}</strong> {{model.organisme.sigleOrganisme}}
                    - {{model.organisme.libelleOrganisme}}
                  </h6>
                </div>
              </div>
              <div class="col-12" *ngIf="model.service">
                <div>
                  <h6><strong>{{'type-avis.details.service' | translate }}</strong> {{model.service.code}}
                    - {{model.service.libelle}}
                  </h6>
                </div>
              </div>
              <div class="col-12" *ngIf="model.delaiSoumission">
                <div>
                  <h6><strong>{{'type-avis.details.delaiSoumission' | translate }}</strong>
                    {{model?.delaiSoumission | numberFormat}} {{'jour'|labelFromNumber:model.delaiSoumission}}
                  </h6>
                </div>
              </div>

              <div class="col-md-12">
                <div *ngIf="model.facturation">
                  <h6>
                    <strong>{{'type-avis.details.mail' | translate }}</strong> {{model.facturation.email}}
                  </h6>
                </div>
                <div *ngIf="model.facturation">
                  <h6>
                    <strong>{{'type-avis.details.addresse' | translate }}</strong> {{ model.facturation.address }}
                  </h6>
                </div>
                <div *ngIf="model.raisonRefus">
                  <h6>
                    <strong>{{'type-avis.details.motif-refus' | translate }}</strong> {{ model.raisonRefus }}
                  </h6>
                </div>

              </div>
              <div class="col-12" *ngIf="model.creerPar">
                <hr/>
                <h6>
                  <div class="badge status-badge badge-border color-464855"
                  >

                    <strong>{{'type-avis.details.creer-par' | translate }}</strong> {{model.creerPar.prenom}} {{model.creerPar.nom}}
                  </div>
                  |
                  <div class="badge status-badge badge-border color-464855"
                  >
                    <i class="la la-envelope"></i>
                    {{model.creerPar.email}}
                  </div>
                  |
                  <div class="badge status-badge badge-border color-464855"
                  >
                    <i class="la la-phone"></i>
                    {{model.creerPar.telephone}}
                  </div>
                </h6>

              </div>
              <div class="col-12" *ngIf="model.validateurEco">
                <h6>
                  <div class="badge status-badge badge-border color-464855"
                  >

                    <strong>{{'type-avis.details.validateur-eco' | translate }}</strong> {{model.validateurEco.prenom}} {{model.validateurEco.nom}}
                  </div>
                  |
                  <div class="badge status-badge badge-border color-464855"
                  >
                    <i class="la la-envelope"></i>
                    {{model.validateurEco.email}}
                  </div>
                  |
                  <div class="badge status-badge badge-border color-464855"
                  >
                    <i class="la la-phone"></i>
                    {{model.validateurEco.telephone}}
                  </div>
                </h6>

              </div>
              <div class="col-12" *ngIf="model.validateurSip">
                <h6>
                  <div class="badge status-badge badge-border color-464855"
                  >

                    <strong>{{'type-avis.details.validateur-sip' | translate }}</strong> {{model.validateurSip.prenom}} {{model.validateurSip.nom}}
                  </div>
                  |
                  <div class="badge status-badge badge-border color-464855"
                  >
                    <i class="la la-envelope"></i>
                    {{model.validateurSip.email}}
                  </div>
                  |
                  <div class="badge status-badge badge-border color-464855"
                  >
                    <i class="la la-phone"></i>
                    {{model.validateurSip.telephone}}
                  </div>
                </h6>

              </div>

              <div class="col-md-12">
                <hr/>
                <div>
                  <h6><strong>{{'type-avis.details.liste-avis' | translate }}</strong></h6>
                </div>

                <div class="d-flex justify-content-between" *ngFor="let annonce of model.annonces"
                     [ngClass]="{'green':(annonce.validerSip === true&& typeValidation==='EN_ATTENTE_VALIDATION_SIP' && annonce.statut==='EN_ATTENTE_VALIDATION_SIP') || (annonce.validerEco === true && typeValidation==='EN_ATTENTE_VALIDATION_ECO' && annonce.statut==='EN_ATTENTE_VALIDATION_ECO'),
                            'red':annonce.validerSip === false || annonce.validerEco === false || annonce.statut==='REJETER_SUPPORT' || annonce.statut==='REJETER_CONCENTRATEUR' }">
                  <h6 class="margin-vertical-center">
                    <i class="gray" [ngClass]="{'ft-check-circle green':(annonce.validerSip === true&& typeValidation==='EN_ATTENTE_VALIDATION_SIP'&& annonce.statut==='EN_ATTENTE_VALIDATION_SIP')
                     || (annonce.validerEco === true && typeValidation==='EN_ATTENTE_VALIDATION_ECO'&& annonce.statut==='EN_ATTENTE_VALIDATION_ECO'),
                            'la la-ban red':annonce.validerSip === false || annonce.validerEco === false || annonce.statut==='REJETER_SUPPORT' || annonce.statut==='REJETER_CONCENTRATEUR'}"></i>
                    <label>{{annonce.offre?.libelle}}</label> <span
                    [title]="annonce.support.code"> ({{annonce.support.libelle}})</span>
                  </h6>
                  <div>
                    <label type="button"
                           class="btn btn-secondary btn-sm"
                           *ngIf="annonce.idEForms && 'esentool' !== annonce.tedVersion"
                           (click)="openModal(annonce)"><i class="ft-eye"></i>
                      {{'type-avis.actions.eforms-formulaire' | translate }}
                    </label>
                    <label type="button"
                           class="btn btn-secondary btn-sm"
                           *ngIf="canResent(annonce)"
                           (click)="modifyAnnonce(annonce, 'EN_ATTENTE')"><i class="ft-send"></i>
                      {{'type-avis.actions.retry' | translate }}
                    </label>
                    <label type="button"
                           class="btn btn-secondary btn-sm"
                           *ngIf="annonce?.avisFichier || ('esentool' !== annonce.tedVersion && annonce.idEForms)"
                           (click)="downloadPdf(annonce)"><i
                      [ngClass]="{'ft-download':!downloadingAnnonce.get(annonce.id),'fa fa-spin fa-spinner':downloadingAnnonce.get(annonce.id)}"></i>
                      {{'type-avis.actions.exporter-pdf' | translate }}
                    </label>
                    <label type="button"
                           class="btn btn-secondary btn-sm"
                           *ngIf="annonce?.lienPublication"
                           (click)="openUrl(annonce)"><i class="ft-eye"></i>
                      {{'type-avis.actions.lien-publication' | translate }}
                    </label>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <a>
              <span (click)="changeExpanded()" *ngIf="!showDetails">
                <i class="ft-plus"></i> {{'plus-info' | translate}}
              </span>
                  <span (click)="changeExpanded()" *ngIf="showDetails">
                <i class="ft-minus"></i>  {{'moins-info' | translate}}
              </span>

                </a>
                <div class="float-md-right">
                  <label type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                         (click)="getHistorique()"><i
                    class="ft-eye"></i>
                    {{'type-avis.actions.show-historique' | translate }}
                  </label>

                  <label
                    *ngIf="annoncesNationales.length !== 0"
                    type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                    (click)="openEditDocument(model.statut!=='EN_ATTENTE_VALIDATION_SIP' || typeValidation !== 'EN_ATTENTE_VALIDATION_SIP')"><i
                    class="{{model.statut !== 'EN_ATTENTE_VALIDATION_SIP' || typeValidation !== 'EN_ATTENTE_VALIDATION_SIP' ? 'ft-eye' : 'ft-edit'}}"></i>
                    {{model.statut !== 'EN_ATTENTE_VALIDATION_SIP' || typeValidation !== 'EN_ATTENTE_VALIDATION_SIP' ? 'Visualiser le message' : 'Editer le message'}}
                  </label>
                  <label
                    *ngIf="annoncesNationales.length !== 0 && model.statut==='EN_ATTENTE_VALIDATION_SIP' && typeValidation === 'EN_ATTENTE_VALIDATION_SIP'"
                    type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                    (click)="openTypeAvis(model)"><i class="ft-edit"></i>
                    Modifier les organes de presse
                  </label>
                  <label type="button" class="btn btn-danger btn-sm"
                         *ngIf="canReject(model)"
                         (click)="validate(false)"><i
                    class="ft-alert-triangle"></i>
                    {{'type-avis.actions.rejeter' | translate }}
                  </label>

                  <label type="button" class="btn btn-success btn-sm"
                         *ngIf="model.statut===typeValidation"
                         (click)="validate(true)"><i class="ft-check-circle"></i>
                    {{'type-avis.actions.valider' | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

