@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.ng-dropdown-panel {
  box-sizing: border-box;
  position: absolute;
  opacity: 1 !important;
  width: 100%;
  z-index: 2000;
  -webkit-overflow-scrolling: touch;
}


.bs-datepicker-container {
  padding: 0;
}

.theme-green .bs-datepicker-head {
  background-color: #1d4b86;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #1d4b86 !important;
}

.bs-datepicker-body table.months td span {
  padding: 6px 0;
  border-radius: 15px;
}

.bs-datepicker-body table td span {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  border-radius: 50%;
  /* z-index: 1; */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.margin-auto {
  margin: auto;
}

.width-100-per {
  width: 100% !important;
}

.width-100-per {
  width: 100% !important;
}

.height-97-per {
  height: 97% !important;
}

.height-100-per {
  height: 100% !important;
}

.d-flexy-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flexy {
  display: flex;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-decoration-underline {
  text-decoration: underline;
}

ng-select.is-invalid .ng-select-container {
  border-color: #ff4961 !important;
}

.modal-exclude {
  horizontal-align: center;
  min-width: 50vw;
  height: 45vh;
  width: 60vw !important;
  margin-top: 20px;
}

.modal-validation {
  horizontal-align: center;
  min-width: 70vw;
  max-height: 85vh;
  width: 80vw !important;
}


.text-align-center {
  text-align: center;
}

.card-item {
  border: 1px solid #757575;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.bleu-italic {
  color: #2660a4;
  font-style: italic;
  display: inline;
}

html body .content {
  padding: 0;
  position: relative;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 100% !important;
}

.secondary-title {
  text-align: center;
  color: #ffffff !important;
  background: #4386d3;
  padding: 0.5rem;
  font-weight: bold;
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.secondary-title > .legende {
  font-style: italic;
  color: #ffffff !important;

}

.width-180 {
  width: 180px;
}

.br-units {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.text-align-left {
  text-align: left;
}

.color-black {
  color: black;
}

.color-464855 {
  color: #464855;
}

.flex-direction-column {
  flex-direction: column;
}

.text-align-right {
  text-align: right;
}

.color-white {
  color: white;
}

.br-square .br-unit.br-active, .br-square .br-unit.br-selected {
  border: 2px solid #2660a4 ;
  color: white !important;
  background: #2660a4;
  font-weight: bold;
}

.header-forms {
  display: flex;
  justify-content: space-between;
}

.margin-left-5px {
  margin-left: 5px;
}

.margin-right-5px {
  margin-right: 5px;
}


/* You can add global styles to this file, and also import other style files */

@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~ngx-toastr/toastr.css';

.ng-dropdown-panel {
  box-sizing: border-box;
  position: absolute;
  opacity: 1 !important;
  width: 100%;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
}


.bs-datepicker-container {
  padding: 0;
}

.theme-green .bs-datepicker-head {
  background-color: #1d4b86;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #1d4b86 !important;
}

.bs-datepicker-body table.months td span {
  padding: 6px 0;
  border-radius: 15px;
}

.bs-datepicker-body table td span {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  border-radius: 50%;
  /* z-index: 1; */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.margin-auto {
  margin: auto;
}

.card {
  box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%);
  border: 1px solid #e3e6f0;
}

.width-100-per {
  width: 100% !important;
}

.height-97-per {
  height: 97% !important;
}

.height-100-per {
  height: 100% !important;
}

.modal-full-width {
  horizontal-align: center;
  min-width: 70vw;
  max-height: 85vh;
  width: 80vw !important;
}

.d-flexy-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flexy {
  display: flex;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-decoration-underline {
  text-decoration: underline;
}

ng-select.is-invalid .ng-select-container {
  border-color: #ff4961 !important;
}

.modal-exclude {
  horizontal-align: center;
  min-width: 50vw;
  height: 45vh;
  width: 60vw !important;
  margin-top: 20px;
}

.modal-validation {
  horizontal-align: center;
  min-width: 70vw;
  max-height: 85vh;
  width: 80vw !important;
}


.text-align-center {
  text-align: center;
}

.card-item {
  border: 1px solid #e3e6f0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card {
  border: 1px solid #e3e6f0;
  box-shadow: 0 1px 15px 1px rgb(62 57 107 / 7%);
}

.card .card {
  border: 1px solid #e3e6f0;
  box-shadow: none !important;
}

.nav.nav-tabs.nav-underline .nav-item a.nav-link.active {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #55595c !important;
}

.bleu-italic {
  color: #2660a4;
  font-style: italic;
  display: inline;
}

html body .content {
  padding: 0;
  position: relative;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 100% !important;
}

.secondary-title {
  text-align: center;
  color: #ffffff !important;
  background: #4386d3;
  padding: 0.5rem;
  font-weight: bold;
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.secondary-title > .legende {
  font-style: italic;
  color: #ffffff !important;

}

.width-180 {
  width: 180px;
}

.br-units {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.text-align-left {
  text-align: left;
}

.text-align-justify {
  text-align: justify;
}

.color-black {
  color: black;
}

.color-464855 {
  color: #464855;
}

.flex-direction-column {
  flex-direction: column;
}

.text-align-right {
  text-align: right;
}

.color-white {
  color: white;
}

.br-square .br-unit.br-active, .br-square .br-unit.br-selected {
  border: 2px solid #2660a4 ;
  color: white !important;
  background: #2660a4;
  font-weight: bold;
}

.evaluation-note-7 {
  background-color: #a33a33;
  color: white;
}

.evaluation-note-6 {
  background-color: #d96d65;
  color: black;
}

.evaluation-note-5 {
  background-color: #e8a7a2;
  color: black;
}

.evaluation-note-4 {
  background-color: #84aefa;
  color: black;
}

.evaluation-note-3 {
  background-color: #cdf7d9;
  color: black;
}

.evaluation-note-2 {
  background-color: #62cd2f;
  color: black;
}

.evaluation-note-1 {
  background-color: #448f21;
  color: white;
}

:host ::ng-deep .gantt-schedule-timeline-calendar__chart-calendar-date-content--day {
  border-right: 1px solid rgba(177, 184, 189, .5);
  font-size: 11px;
  line-height: 2em;
  overflow: visible;
}

#swot {
  background-image: url("assets/images/svg/swot.svg");
  background-repeat: round;
}

#positionnement {
  background-image: url("assets/images/svg/positionnement.svg");
  background-repeat: round;
}

#recommendation {
  background-image: url("assets/images/svg/recommendation.svg");
  background-repeat: round;
}

#soleil {
  background-image: url("assets/images/svg/soleil.svg");
  background-repeat: round;
}

#magnifier {
  background-image: url("assets/images/svg/magnifier.svg");
  background-repeat: round;
}

#cd-arrow {
  background-image: url("assets/images/svg/cd-arrow.svg");
  background-repeat: round;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  max-width: 100% !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  max-width: calc(100% - 25px) !important;
}

.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-5px {
  margin: 5px;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.spinner-three-bounce {
  margin-top: 50px !important;
}

.border-raduis {
  border-radius: 5px;
}

.border-raduis-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.border-raduis-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.width-fit-content {
  width: fit-content;
}

.padding-5px {
  padding: 5px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.margin-5px {
  margin: 5px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.border-left-primary {
  border-left: 1px solid #2660a4;
}

.border-left-3 {
  border-left-width: 3px !important;
}

.card-inactif {
  border-left: 1px solid #6b6f82;
}


.tableau {
  width: 99%;
  background-color: #999999;
  font-size: 11px;
  color: #666666;
  margin-bottom: 10px
}

.tableau td {
  background-color: #F6F5F5;
  border: #dedede solid 1px;
  padding: 2px;
}

.tableau tr.entete td {
  background-color: #cccccc;
  font-weight: bold
}

.tableau tr.on td {
  background-color: #EDEDED;
  border: #dedede solid 1px;
}

.tableau caption {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 5px
}

.tableau td.intitule-prix {
  width: 50%
}

.tableau td.montant {
  width: 50%;
  text-align: right
}

.table th, .table td {
  padding: 0.75rem;
}

.table-fit {
  width: 1px;
}

.to-replace {
  background: #dedede;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px dotted;
}

.is-dragging{
  margin: 1rem;
}
.tooltip-inner {
  max-width: 400px;
  /* If max-width does not work, try using width instead */
  width: 400px;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  color: inherit;
  border: 1px solid;
  border-radius: 10px;
}
