{% extends 'layout-agent.html.twig' %}

{% block content %}
    <div class="main-part" id="main-part">
        <div class="main-text margin-top-3">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h2 class="message-big">
                        {{ 'ADMINISTRATION_AGENT'|trans }}
                    </h2>
                </div>
            </div>
            <div class="menu-administration navbar-container main-menu-content" data-menu="menu-container">
                {{ knp_menu_render('admin', {'template': 'menuAgent/knp/bootstrap-cards.html.twig'}) }}
            </div>
        </div>
    </div>
{% endblock %}
