/* CSS Document */
/***************************************************************REDEFINITION STYLES CLIENT***************************************************************/

body { margin:0; padding:0; background:#fff; }
h1, .previsu-doc .content h5 { color:#4C7A97; }

#header { height:160px; position:relative; width:984px; background:url(../images/bandeau-right.jpg) #fff no-repeat right 57px; }
#header .top { height:30px; width:984px; color:#fff; padding-top:4px; }
#header .top .user-infos { padding-right:13px; }
#header .top .user-infos, #header .top .user-infos a  { color:#999; font-weight:bold; }
#header .top .user-infos a:hover { color:#999 !important; }
#header .top .date { color:#999; float:left; width:auto; margin-top:4px; padding-left:5px; }

#header .nav { background:url(../images/hori-nav-back.gif) repeat-x; width:984px; height:23px; padding-top:0; }
#header .nav a { color:#4C7A97; }
#header .nav .links { height:29px; }
#header .nav .links a { height:24px; }
#header .nav .links a:hover, #header .nav .links a.on { background-color:#4C7A97; }
#header .nav .accueil { padding-top:5px; }
#header .nav .accueil a:hover { background-image:url(../images/picto-accueil.gif) !important; color:#4C7A97 !important; text-decoration:underline; }

#header .middle { height:100px; }
#header .middle img { display:block; margin-left:10px; /float:left; _margin-left:5px; }

.login { padding-left:160px; }
.login-box { margin-left:auto; margin-top:20px; }
.login-box .top { padding:0; overflow:hidden; }
.login-box .content { width:400px; height:auto; padding-top:10px; }
.login-box .bottom { display:block }
.login-box .content input { margin-bottom:0px }
.login-box .form-bloc .content { width:378px !important; }
.login-box .form-bloc .intitule { clear:left !important; }
.login-box .content .oubli-pass { clear:left; float:left; margin-top:0; width:150px; margin-left:3px;_margin-left:0px; text-align:left; }
.login-box .content input.valider { margin-top:10px; width:84px; height:18px; float:right; background-image:url(../images/bouton-short-bk.gif); background-repeat:no-repeat; padding:0; border:0; color:#fff; font-size:11px; font-weight:bold; cursor:pointer; vertical-align:top; margin-right:56px; display:inline; }

.results-list table th, .results-list table th.top, .results-list table th a { background:#cdcdcd; color:#666666; }

.results-list table a, .results-list table i, .form-saisie .liste-pieces table th, .liste-publication table th, .liste-retraits table th, .questions-reponses table th, .questions-reponses table th a, .questions-reponses table td a, .liste-candidatures table th, .liste-candidatures table th a, .liste-lot-group .title, .results-list .liste-docs .title, .liste-docs-seance .title, .liste-docs-seance table th, .liste-docs-seance table th a, .liste-docs-seance table td a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-lot-group table.recap th a, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table th, table.actualites th, table.actualites td a, table.actualites th a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-membres table th, .liste-membres table th a, .validation-consultations table th, .validation-consultations table th a, .validation-consultations table td a, .tableau-deliberations table th, .tableau-deliberations table th a, .tableau-deliberations table td a, .tableau-deliberations .liste-attributaires .layer-attrib table th, .montant-tranche table th { color:#4C7A97; }

.liste-lot-group table th, .liste-docs-seance table th, .form-saisie .liste-pieces table th, .liste-retraits table th, .questions-reponses table th, .liste-candidatures table th, .liste-publication table th, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table, table.actualites th, .liste-membres table th, .validation-consultations table th, .tableau-deliberations table th , .tableau-deliberations .liste-attributaires .layer-attrib table, .montant-tranche table th, .form-saisie .liste-pieces table th, .boutons { border-color:#aaaaaa; }
 
.form-saisie .form-bloc .content, .deliberation .form-saisie .form-bloc .content, .liste-lot-group .title, #canevasMap .content { border-color:#3d6ba6 !important; background-color:#f5f9fb !important; }
.form-envoi-pub .content, #organigramme .content { border-color:#3d6ba6 !important; background-color:#f5f4f4 !important; }

.layer .content, .form-envoi-pub .gwt-TabPanelBottom, .form-bloc-message .content { border-color:#3d6ba6 !important; }

.layer .content .lot-on { background:#EDEBEB; }
.layer .content .lot { background:#f7f5f5; }
.layer .content .lot-on .numero-lot, .layer .content .lot-on .intitule-lot, .layer .content .lot-on .description-lot, .layer .content .lot .numero-lot, .layer .content .lot .intitule-lot, .layer .content .lot .description-lot, .layer .content .lot-on .caracteristiques-lot .title, .layer .content .lot .caracteristiques-lot .title { color:#3D6BA6; }

.nav-onglet .tab a { color:#999999; }
.nav-onglet .tab-on { background:#999999; }
.nav-onglet .tab-inactive  { background:#eeeced; }
.nav-onglet .tab-inactive a { color:#b5b5b5; }

#suiviMessagerieSecurisee .title { color: #999999; font-weight: bold; line-height: normal; margin-bottom: 5px; }

a.lien_ext, a.lien_ext:after, .title1, a.link, h2, h3, h3 a, h4, .login p.center a, .message-accueil .titre, .message-accueil a, .breadcrumbs, .breadcrumbs a, .form-saisie .form-bloc .content .intitule-strong, .form-saisie .form-bloc .content .intitule-strong2, .form-saisie .form-bloc .content .intitule-strong-auto, .form-bloc-message .content .message, .form-bloc .content .intitule-left-auto strong, .layer .content .intitule-auto-bold, .champ-cpv table a:hover, .layer .content .caracteristiques-tranche a:hover.ajout-tranche, .layer .content .caracteristiques-lots-techniques a:hover.ajout-lot-techniques, a.acceder, .infos-modifs, .form-envoi-pub legend, .form-envoi-pub .gwt-TabBarItem, .form-envoi-pub .gwt-TabPanelBottom, .compositionGroupement .title, .form-bloc .content .numerus-clausus strong, #envoiCourrier .title, .pre-visu .top a:hover.fermer, .clause-choix-list a:hover.ajout-choix, #canevasMap .content a:hover.ajout-el-num, .toggle-all, .toggle-all a, .previsu-doc .content h5, .commissions-details .title, a:hover.ajout-consultation-pressentie, .action-inline .empty-action, #envoiCourrier .pj a, .popup-small ul.liste-docs-generes, .popup-small ul.liste-docs-generes li a, .popup-small ul.liste-docs-generes li a:hover, a.info-link , a:hover.ajout-el, a:hover.consulter-doc, a:hover.modif-link, .text-bloc a.download, .text-bloc a:hover.download, .partitioner a:hover, .classification .intitule-long, .toggle .title, .tableau-deliberations .liste-attributaires .title, .liste-lot-group .note-totale .intitule, .tableau-default .title { color:#4C7A97; }

.results-list table tr.doc-on-first, .results-list table tr.doc-on, .results-list tr .liste-docs .layer-docs table tr.on, .liste-candidatures table tr.on, .deliberation .liste-pieces table tr.on, table.tableau-forme-prix td, #organigramme .content, .validation-consultations table.contenus-envois tr.on, .liste-docs-seance table.generation-convocations tr.on, .tableau-deliberations tr.attrib-on, .tableau-deliberations tr.attrib-on-first, .tableau-deliberations tr .liste-attributaires .layer-attrib table tr.on, .tableau-deliberations table.details-delib .layer-attrib table tr.on td  { background:#F6F4F4; }

.liste-publication table .line-type-avis { background:#e9e7e8; }

.liste-taches table tr.on { background:#E9E7E8; }
.liste-taches table, .suivi-contrat table th { border-color:#E9E7E8;}
.liste-taches table th, #liste-etapes .entete-grille, .suivi-contrat table th { background:#CDCDCD; color:#666666; }
.calendrier-gantt table th { background:#4C7A97; }
table.tableau-gantt { border-color:#4C7A97; }
.form-envoi-pub .orange-bk { background:#CDCDCD; }

.popup-small, .popup-small2, .popup-moyen, .popup-moyen2, .popup-post-it, .popup-comment-it, .popup-diagramme, #container.previsu-doc { margin-top:15px; }

#footer { background:url(../images/footer-bk.gif) repeat-x top; text-align:center; color:#666666; height:20px; padding-top:9px; }
#footer a { color:#666666; font-weight:normal; font-size:0.9em; }
#footer a:hover { text-decoration:underline; }
