<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{titre | translate}}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>

  <div class="modal-body pr-0 pl-0 pb-0">
    <div class="form-group form-group-sm">
      <label class=" col-md-4 col-sm-4 col-xs-12 control-label">
        {{"publicationClausier.importPublicationClausier.selectionnez" | translate}}

      </label>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <input (change)="handleFileInput($event)" type="file" name="fileImport" accept=".zip"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-sm"
            (click)="closeModal()">
      <i class="fa fa-close"></i> {{"annuler" | translate}}
    </button>
    <button (click)="submit()"
            class="btn btn-success btn-sm ml-1">
      <i class="ft-check"></i>
      {{"valider" | translate}}
    </button>
  </div>
</div>

