/* CSS Document */
@import '../fonts/open_sans/open-sans.css';
@import 'ng-style.css';

/*
    Utilities
*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-overflow {
    overflow: hidden;
}

/*
    Hover.css
*/
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #2098d1;
    color: white;
}

/**********main layout + form-bloc***********/

/*header*/
#header {
    margin: 0 auto;
    width: 984px;
    background-color: #fff;
    background-image: url(../images/bandeau.jpg);
    background-repeat: no-repeat;
}

#header .top {
    width: 100%;
    height: 53px;
    background-image: none);
    background-repeat: repeat-x;
    color: #1E82BE;
    line-height: 14px;
}

#header .top .date {
    float: left;
    padding: 0px 10px;
    color: #1E82BE;
    width: 964px;
    text-align: right;
    font-size: 9px;
    line-height: normal;
    margin-top: 23px
}

#header .top .user-infos {
    float: right;
    padding: 2px 10px
}

#header .top .user-infos span {
    margin-left: 5px
}

#header .top .user-infos a {
    color: #1E82BE;
    text-decoration: none
}

#header .top .user-infos a:hover {
    text-decoration: underline
}

#header .top .user-infos img {
    margin-left: 5px;
    vertical-align: top;
}

#header .middle {
    width: 984px;
    background-image: none;
    background-repeat: repeat-x;
    padding: 0px;
    overflow: hidden
}

#header .middle img {
    margin: 0px;
    display: none
}

#header .nav {
    width: 984px;
    height: 23px;
    background-image: url(../images/nav-bk.gif);
    background-repeat: repeat-x;
    padding: 0px;
}

#header .nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold
}

#header .nav a:hover {
    color: #ff913a;
    text-transform: uppercase;
    text-decoration: none
}

#header .nav a.on {
    color: #ff913a;
    text-transform: uppercase
}

#header .nav .accueil {
    float: left;
    height: 23px;
    padding-top: 5px;
    padding-left: 7px
}

#header .nav .accueil a {
    display: block;
    background-image: url(../images/picto-accueil.gif);
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 14px;
    line-height: 18px
}

#header .nav .accueil a.on {
    background-image: url(../images/picto-accueil-on.gif)
}

#header .nav .accueil a:hover {
    background-image: url(../images/picto-accueil-on.gif)
}

#header .nav .links {
    float: right;
    height: 23px;
}

#header .nav .links a {
    display: block;
    float: left;
    height: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 7px
}

#header .nav .links a:hover {
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #46adea;
    color: #fff
}

#header .nav .links a.on {
    background-image: url(../images/nav-link-on-bk.gif);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #46adea;
    color: #fff
}

#header .top .top-right {
    float: right;
}

#header .top .top-right .user-infos {
    float: none;
}

#header .top .top-right .user-infos .link {
    display: inline-block;
    line-height: 32px;
    margin-left: 10px;
    font-size: 14px;
}

#header .top .top-right .user-infos .link > .fa {
    line-height: 32px;
}

#header .top .top-right .user-infos .link-user {
    float: right;
    position: relative
}

#header .user-infos .sub-link-user {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    z-index: 10;
    width: 290px;
    padding: 15px;
    border: 1px solid #ccc;
}

#header .user-infos .link-user:hover .sub-link-user {
    display: block;
}

#header .user-infos .sub-link-user:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #ccc transparent;
    position: absolute;
    z-index: 10;
    top: -6px;
    right: 10px;
}

#header .user-infos .sub-link-user:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    z-index: 11;
    top: -5px;
    right: 11px;
}

#header .user-infos .sub-link-user .clearfixe {
    overflow: hidden;
}

#header .user-infos .sub-link-user .img .login {
    border-radius: 50%;
    background: #365f92;
    color: #ffffff;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0 10px 0 0;
}

#header .user-infos .sub-link-user .info-nom-prenom {
    text-align: left;
}

#header .user-infos .sub-link-user .info-other {
    text-align: left;
}

#header .user-infos .sub-link-user .pull-overflow {
    overflow: hidden;
}

#header .user-infos .sub-link-user .info-nom-prenom {
    margin-top: 10px;
}

#header .user-infos .sub-link-user .info-nom-prenom .nom,
#header .user-infos .sub-link-user .info-nom-prenom .prenom {
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}

#header .user-infos .sub-link-user .info-nom-prenom .prenom {
    margin: 0;
}

#header .user-infos .sub-link-user .info-other {
    color: #212121;
    margin-top: 5px;
}

#header .user-infos .sub-link-user .info-options {
    overflow: hidden;
    margin-top: 10px;
}

#header .user-infos .sub-link-user .info-options .compte {
    float: left;
}

#header .user-infos .sub-link-user .info-options .abtn {
    line-height: 28px;
    padding: 0 12px;
    background: rgba(47, 91, 183, .7);
    border-color: #3079ed;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
}

#header .user-infos .sub-link-user .info-options .abtn.deconnexion {
    background: rgba(235, 233, 233, .5);
    border: 1px solid #c6c6c6;
    color: #666;
    float: right;
}

#header .user-infos .sub-link-user .info-options .abtn.compte:hover {
    background: rgba(47, 91, 183, 1);
}

#header .user-infos .sub-link-user .info-options .abtn.deconnexion:hover {
    background: rgba(235, 233, 233, 1);
}

#header .nav .navmenu > li {
    float: left;
    position: relative;
}

#header .nav .navmenu .dropdown-menu {
    position: absolute;
    top: 100%;
    background: rgba(46, 91, 151, .9);
    padding: 10px;
    right: 0;
}

.ui-widget-content {
    /*max-height: 160px;*/
    overflow: hidden;
}

.ui-widget-content .ui-state-focus {
    border: 0;
}

.spacer {
    clear: both;
    overflow: hidden;
    height: 20px
}

/*Menu left*/
#middle .left-part {
    float: left;
    width: 181px;
    text-align: center
}

#middle .left-part #menu {
    margin: 0 auto;
    width: 180px;
    padding-bottom: 10px;
    background-color: #fff;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: left
}

#middle .left-part ul {
    margin: 0 auto;
    padding: 0px;
    width: 165px
}


#middle .left-part ul li {
    /*height: 20px;*/
    line-height: 20px;
    width: 165px
}

#middle .left-part ul li.menu-top {
    background-image: url(../images/menu-top-left-bk.gif);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    height: auto
}

#middle .left-part ul li.menu-top span, #middle .left-part ul li.menu span {
    display: block;
    height: 20px;
    border-bottom: 2px solid #fff;
    width: 152px;
    cursor: pointer;
    padding-left: 7px
}

#middle .left-part ul li.menu-top span a, #middle .left-part ul li.menu span a {
    color: #fff;
    text-decoration: none
}

#middle .left-part ul li.menu {
    background-image: url(../images/menu-left-bk.gif);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    height: auto
}

#middle .left-part ul li.menu-top-open {
    background-image: url(../images/menu-top-open-bk.gif);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    height: auto
}

#middle .left-part ul li.menu-top-open span {
    display: block;
    height: 20px;
    border-bottom: 2px solid #fff;
    width: 154px;
    cursor: pointer;
    padding-left: 5px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

#middle .left-part ul li.menu-top-open ul li {
    color: #676566;
    font-weight: normal;
    background-color: #eeeced;
    border-bottom: 1px solid #fff;
    margin-left: 0px
}

#middle .left-part ul li.menu-top-open ul li.on {
    background-color: #cccccc
}

#middle .left-part ul li.menu-top-open ul li a {
    color: #676566;
    text-decoration: none;
    display: block;
    width: 150px;
    padding-left: 15px;
    background-image: url(../images/ss-menu-puce-off.gif);
    background-repeat: no-repeat;
    background-position: 4px 6px
}

#middle .left-part ul li.menu-top-open ul li.on a {
    font-weight: normal;
    background-image: url(../images/ss-menu-puce-on.gif);
    background-repeat: no-repeat;
    background-position: 4px 6px;
    width: 150px
}

#middle .left-part ul li.menu-top-closed {
    background-image: url(../images/menu-top-closed-bk.gif);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    height: auto
}

#middle .left-part ul li.menu-top-closed span, #middle .left-part ul li.menu-closed span, #middle .left-part ul li.menu-open span {
    display: block;
    height: 20px;
    border-bottom: 2px solid #fff;
    width: 152px;
    cursor: pointer;
    padding-left: 5px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

#middle .left-part ul li.menu-open {
    background-image: url(../images/menu-open-bk.gif);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    height: auto
}

#middle .left-part ul li.menu-open ul li {
    color: #676566;
    font-weight: normal;
    background-color: #eeeced;
    border-bottom: 1px solid #fff;
    margin-left: 0px
}

#middle .left-part ul li.menu-open ul li.on {
    background-color: #cccccc
}

#middle .left-part ul li.menu-open ul li a {
    color: #676566;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 20px;
    padding-left: 15px;
    background-image: url(../images/ss-menu-puce-off.gif);
    background-repeat: no-repeat;
    background-position: 4px 6px
}

#middle .left-part ul li.menu-open ul li.on a {
    font-weight: normal;
    background-image: url(../images/ss-menu-puce-on.gif);
    background-repeat: no-repeat;
    background-position: 4px 6px
}

#middle .left-part ul li.menu-closed {
    background-image: url(../images/menu-closed-bk.gif);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    height: auto
}

#middle .left-part ul li.menu-top-open ul.ss-menu-open, #middle .left-part ul li.menu-open ul.ss-menu-open {
    display: block
}

#middle .left-part ul li.menu-top-closed ul.ss-menu-closed, #middle .left-part ul li.menu-closed ul.ss-menu-closed {
    display: none
}

#middle .left-part ul li ul.ss-menu-open li.on, #middle .left-part ul li ul.ss-menu-closed li.on {
    display: block;
    height: auto
}

#middle .left-part ul li ul.ss-menu-open li.on ul.ss-lien li, #middle .left-part ul li ul.ss-menu-closed li.on ul.ss-lien li {
    border-bottom: 0;
}

#middle .left-part ul li ul.ss-menu-open li.on ul.ss-lien li a {
    width: 157px;
    background-image: none;
    line-height: normal;
    padding: 3px 0 3px 8px;
}

#middle .left-part ul li ul.ss-menu-open li.on ul.ss-lien li.on a, #middle .left-part ul li ul.ss-menu-closed li.off ul.ss-lien li.on a {
    background-color: #EEECED;
    font-weight: bold
}

#middle .left-part ul li ul.ss-menu-open li.on ul.ss-lien li.off a, #middle .left-part ul li ul.ss-menu-closed li.off ul.ss-lien li.off a {
    background-color: #EEECED;
    font-weight: normal
}

#middle .left-part ul li ul.ss-menu-open li.off, #middle .left-part ul li ul.ss-menu-closed li.off {
    display: block;
    height: auto;
    overflow: hidden
}

#middle .left-part ul li ul.ss-menu-open li.off ul.ss-lien, #middle .left-part ul li ul.ss-menu-closed li.off ul.ss-lien {
    display: none
}

#middle .left-part ul li ul.ss-menu-closed li.on ul.ss-lien li a {
    width: 157px;
    background-image: none;
    padding-left: 8px
}

#middle .left-part ul li ul.ss-menu-closed li.on ul.ss-lien li.on a {
    background-color: #EEECED;
    font-weight: bold
}

#middle .left-part ul li input.rechercher {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0px;
    margin-left: 7px;
    margin-top: 2px;
    width: 122px
}

* html #middle .left-part ul li input.rechercher {
    margin-left: 3px
}

#middle .left-part ul li input.ok {
    margin: 0px;
    margin-left: 3px
}

.accueil #middle .left-part {
    display: none;
}

#middle .main-part:after {
    content: '';
    display: table;
    clear: both;
}

.page-erreur #middle {
    padding: 10px;
    width: 968px !important;
    background: #fff;
}

.page-erreur #middle .main-part {
    float: none !important;
    width: 964px !important;
}

.page-erreur .main-part .form-bloc-message {
    border: 1px solid #3D6BA6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.page-erreur .main-part .form-bloc-message .content {
    border: 0;
    width: 924px;
}

.page-erreur .main-part .form-bloc-message strong {
    font-size: 1.2em;
}

a.fiche-pratique {
    color: #666;
    font-weight: normal;
    text-decoration: underline;
    float: right;
    background-image: url(../images/picto-fiche-pratique.gif);
    background-repeat: no-repeat;
    padding-left: 17px;
    margin-right: 2px
}

/*Loader*/
#pageLoader {
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: #fff;
    text-align: center;
    color: #666666;
    width: 165px;
    height: 80px;
    border: 1px solid #ccc;
}

#pageLoader img {
    margin: 5px;
}

#pageLoader #loaderIframe {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: #fff;
    width: 165px;
    height: 80px;
    margin: 0px
}

#pageLoader div {
    background-color: #fff;
    width: 155px;
    height: 70px
}

/**************************************COMMON***************************************/
.intitule{
    display: block;
    float: left;
    text-align: right;
    font-size: 11px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.layer{
    font-family: Arial, Helvetica, sans-serif;
}
.intitule label,
.layer label{
    margin-bottom: 0;
    font-weight: normal;
    display: initial;
    font-size: 11px;
}
/*bloc formulaire orange*/
.form-saisie {
    clear: both;
}

.form-saisie .form-bloc {
    background: #fdf4ed;
    margin-bottom: 20px
}

.form-saisie .form-bloc .top {
    background: url(../images/orange-box-top-bk.png) repeat-x
}

.form-saisie .form-bloc .top .left {
    background: url(../images/orange-box-top-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-saisie .form-bloc .top .right {
    background: url(../images/orange-box-top-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-saisie .form-bloc .bottom {
    background: url(../images/orange-box-bottom-bk.png) repeat-x
}

.form-saisie .form-bloc .bottom .left {
    background: url(../images/orange-box-bottom-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-saisie .form-bloc .bottom .right {
    background: url(../images/orange-box-bottom-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-saisie .form-bloc .top span, .form-saisie .form-bloc .top, .form-saisie .form-bloc .bottom span, .form-saisie .form-bloc .bottom {
    height: 10px;
    font-size: 1px;
}

.form-saisie .form-bloc .content {
    padding: 0 10px;
    width: 770px;
    text-align: left;
    border-left: 1px solid #f7bc87;
    border-right: 1px solid #f7bc87;
}

.form-saisie .form-bloc .content-bloc {
    display: block;
    float: left;
    width: 180px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 10px;
    margin-bottom: 3px
}

.form-saisie .form-bloc .content .intitule-strong {
    display: block;
    float: left;
    width: 145px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px;
    font-weight: bold;
    color: #FF7200
}

.form-saisie .form-bloc .content .intitule-strong2 {
    display: block;
    float: left;
    width: 175px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px;
    font-weight: bold;
    color: #FF7200
}

.form-saisie .form-bloc .content .intitule-strong-auto {
    display: block;
    float: left;
    width: auto;
    text-align: right;
    padding-right: 5px;
    line-height: 22px;
    font-weight: bold;
    color: #FF7200
}

.form-saisie .form-bloc .content span.check-choice {
    display: block;
    margin-left: 0px;
    float: left
}

.form-saisie .form-bloc .content span.check-choice input {
    width: auto;
    display: block;
    float: left;
    margin-left: 0;
    padding-left: 0;
/ margin-left: - 5 px;
    -margin-left: -4px;
    -margin-right: -3px;
}

.form-saisie .form-bloc .content span.select-choice {
    display: block;
    float: left;
    margin-left: 10px
}

.form-saisie .form-bloc .content span.select-choice input {
    width: auto;
    display: block;
    float: left;
    margin-left: -2px
}

.form-saisie .form-bloc .content span.check-choice-arrondissement {
    display: block;
    float: left;
    margin-right: 2px;
    width: 55px;
    line-height: 20px;
    margin-left: 0px
}

.form-saisie .form-bloc .content span.check-choice-arrondissement input {
    width: auto
}

.form-saisie .form-bloc .content span.preavis {
    margin-left: 3px;
    position: relative;
    cursor: default;
    top: 3px;
    font-size: 9px;
    font-style: italic;
}

.form-saisie .form-bloc h3 {
    color: #666;
    clear: both;
    font-weight: bold;
}

/*bloc message*/
.form-bloc-message {
    background: #fff;
    margin-bottom: 20px
}

.form-bloc-message .top {
    background: url(../images/message-box-top-bk.png) no-repeat;
    background-repeat: repeat-x
}

.form-bloc-message .top .left {
    background: url(../images/message-box-top-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-bloc-message .top .right {
    background: url(../images/message-box-top-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-bloc-message .bottom {
    background: url(../images/message-box-bottom-bk.png) repeat-x
}

.form-bloc-message .bottom .left {
    background: url(../images/message-box-bottom-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-bloc-message .bottom .right {
    background: url(../images/message-box-bottom-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-bloc-message .top span, .form-bloc-message .top, .form-bloc-message .bottom span, .form-bloc-message .bottom {
    height: 10px;
    font-size: 1px
}

.form-bloc-message .content {
    padding: 10px;
    /*width: 770px;*/
    text-align: left;
    border: 1px solid #f7bc87;
}

.form-bloc-message .content .erreur {
    color: #FF0000;
    text-align: center
}

.form-bloc-message .content .message {
    color: #FF7200;
    text-align: center
}

.form-bloc-message .content .message ul {
    margin-bottom: 10px;
}

.form-bloc-message .content .message ul li {
    list-style-type: disc !important;
    list-style-position: inside;
    padding-left: 0px
}

.form-bloc-recherche {
    width: 778px !important;
}

.form-bloc-recherche .top-link .title {
    color: #666;
    padding-left: 20px;
}

.form-bloc-recherche .top {
    background: url(../images/grey-box-top-bk.png) repeat-x !important;
    width: 778px !important;
    height: 10px !important;
}

.form-bloc-recherche .top .left {
    background: url(../images/grey-box-top-left.png) no-repeat !important;
}

.form-bloc-recherche .top .right {
    background: url(../images/grey-box-top-right.png) no-repeat !important;
}

.form-bloc-recherche .content {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    width: 756px !important;
    padding: 0 10px !important;
}

.form-bloc-recherche .bottom {
    background: url(../images/grey-box-bottom-bk.png) repeat-x !important;
    width: 778px !important;
    height: 10px !important;
}

.form-bloc-recherche .bottom .left {
    background: url(../images/grey-box-bottom-left.png) no-repeat !important;
}

.form-bloc-recherche .bottom .right {
    background: url(../images/grey-box-bottom-right.png) no-repeat !important;
}

/*bloc infos complementaires gris*/
.form-bloc {
    background: #e9e7e8
}

.form-bloc .top {
    background: url(../images/grey-box-top-bk.png) repeat-x
}

.form-bloc .top .left {
    background: url(../images/grey-box-top-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-bloc .top .right {
    background: url(../images/grey-box-top-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-bloc .bottom .left {
    background: url(../images/grey-box-bottom-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-bloc .bottom .right {
    background: url(../images/grey-box-bottom-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-bloc .top span, .form-bloc .top, .form-bloc .bottom span {
    width: 100%;
    height: 10px;
    font-size: 1px
}

.form-bloc .content {
    padding: 0 10px;
    width: 770px;
    text-align: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    zoom: 1;
    margin: 0;
    box-sizing: content-box;
}

.form-bloc .content:after {
    content: '';
    display: table;
    clear: both;
}

.form-bloc .content .column {
    width: 320px;
    float: left;
    line-height: 22px;
    padding: 0;
}

.form-bloc .content .column-small {
    width: 180px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-small2 {
    width: 230px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-small3 {
    width: 215px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-240 {
    width: 240px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-250 {
    width: 250px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-280 {
    width: 280px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-moyen {
    width: 340px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-long {
    width: 385px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-long2 {
    width: 400px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-auto {
    width: auto;
    float: left;
    line-height: 22px;
    padding-right: 10px
}

.form-bloc .content .column-indent {
    width: auto;
    float: left;
    line-height: 22px;
    padding-right: 10px;
    margin-left: 24px
}

.form-bloc .content .column-small, .form-bloc .content .column-auto, .form-bloc .content .column {
    margin-bottom: 3px;
}

.form-bloc .content .column textarea.mots-cles-small {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 155px
}

.form-bloc .content textarea.lieu {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 155px
}

.form-bloc .content .column-long {
    width: 385px;
    float: left;
    line-height: 22px
}

.form-bloc .content .column-long input {
    display: block;
    float: left;
    width: 200px
}

.form-bloc .content .column-long select {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 205px
}

.form-bloc .content .column-long2 select {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 240px
}

.form-bloc .content .column-long2 textarea {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 235px
}

.form-bloc .content .column-long2 input {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 235px
}

.form-bloc .content .column-moyen select {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 190px
}

.form-bloc .content .column-moyen textarea.titre-canevas {
    width: 184px
}

.form-bloc .content .line {
    width: auto;
    clear: left;
    line-height: 22px;
    margin-bottom: 3px;
}

.form-bloc .content .line::after {
    content: '';
    display: table;
    clear: both;
}

.form-bloc .content .line input[type="radio"] {
    margin: 0 4px 0 4px;
}

.form-bloc .content .line-indent {
    width: auto;
    clear: left;
    line-height: 22px;
    padding-left: 14px
}

.form-bloc .content .intitule{
    display: block;
    float: left;
    width: 145px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}
.form-bloc .content .intitule label {
    margin-bottom: 0;
    font-weight: normal;
    display: initial;
    font-size: 11px;
}


.form-bloc .content .intituleBis {
    display: block;
    float: left;
    width: 145px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-mini {
    display: block;
    float: left;
    width: 35px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-mini2 {
    display: block;
    float: left;
    width: 50px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-short {
    display: block;
    float: left;
    width: 118px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-short2 {
    display: block;
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-short3 {
    display: block;
    float: left;
    width: 60px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-left {
    display: block;
    float: left;
    width: 134px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-left2 {
    display: block;
    float: left;
    width: 145px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-left-auto {
    display: block;
    float: left;
    width: auto;
    text-align: left;
    padding-right: 10px;
    line-height: 22px
}

.form-bloc .content .intitule-left-auto strong {
    color: #FF7200;
    font-weight: bold
}

.form-bloc .content .intitule-long {
    display: block;
    float: left;
    width: 160px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-long2 {
    display: block;
    float: left;
    width: 210px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-long3 {
    display: block;
    float: left;
    width: 210px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-long4 {
    display: block;
    float: left;
    width: 240px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-long5 {
    display: block;
    float: left;
    width: 350px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-long6 {
    display: block;
    float: left;
    width: 280px;
    text-align: right;
    padding-right: 15px;
    line-height: 22px
}

.form-bloc .content .intitule-long7 {
    display: block;
    float: left;
    width: 175px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-long8 {
    display: block;
    float: left;
    width: 220px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-80 {
    display: block;
    float: left;
    width: 80px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-100 {
    display: block;
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-120 {
    display: block;
    float: left;
    width: 120px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-165 {
    display: block;
    float: left;
    width: 165px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px;
	box-sizing : unset;
}

.form-bloc .content .intitule-175 {
    display: block;
    float: left;
    width: 175px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-220 {
    display: block;
    float: left;
    width: 220px;
    text-align: right;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .intitule-auto {
    display: block;
    float: left;
    width: auto;
    text-align: right;
    padding-right: 5px
}

.form-bloc .content .content-bloc {
    display: block;
    float: left;
    width: 180px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

* html .form-bloc .content-bloc {
    padding-left: 2px
}

.form-bloc .content .content-bloc-long {
    display: block;
    float: left;
    width: 600px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .content-bloc-moyen {
    display: block;
    float: left;
    width: 350px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px;
}

* html .form-bloc .content .content-bloc-moyen {
    display: inline;
}

.form-bloc .content .content-bloc-moyen2 {
    display: block;
    float: left;
    width: 460px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .content-bloc-moyen3 {
    display: block;
    float: left;
    width: 255px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .content-bloc-moyen4 {
    display: block;
    float: left;
    width: 400px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .content-bloc-auto {
    display: block;
    float: left;
    width: auto;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .content-bloc-high-long {
    display: block;
    float: left;
    width: 600px;
    text-align: left;
    padding-right: 5px;
    line-height: 22px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .content-bloc-long-75percent {
    display: block;
    float: left;
    width: 75%;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .intitule-bloc {
    display: block;
    float: left;
    width: 145px;
    text-align: right;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .intitule-bloc-long {
    display: block;
    float: left;
    width: 160px;
    text-align: right;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .intitule-bloc-long2 {
    display: block;
    float: left;
    width: 175px;
    text-align: right;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .intitule-bloc-left {
    display: block;
    float: left;
    width: 135px;
    text-align: left;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .intitule-auto-bloc {
    display: block;
    float: left;
    width: auto;
    text-align: right;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 5px;
    margin-bottom: 3px
}

.form-bloc .content .intitule-bloc3 {
    display: block;
    float: left;
    width: 210px;
    text-align: right;
    padding-right: 5px;
    line-height: 12px;
    padding-top: 2px;
    margin-bottom: 3px
}

.form-bloc .content input[type="text"], .form-bloc .content input[type="password"], input[class^="file-modif"] {
    display: block;
    float: left;
    width: 155px;
    margin: 0 3px 2px 0;
    line-height: normal;
}
input[class^="file-modif"] {
    height: 22px;
}

.form-bloc .content input.reception-des-alertes {
    display: block;
    float: left;
    width: auto;
    margin-left: 0px;
}

.form-bloc .content select {
    display: block;
    float: left;
    margin-bottom: auto;
    width: 160px
}

.form-bloc .content select.champ-auto {
    width: auto
}

.form-bloc .content textarea.adresse-postale {
    width: 155px;
    height: 50px;
    display: block;
    float: left;
    margin-left: 0px;
    margin-bottom: 3px
}

.form-bloc .content textarea.objet-consultation {
    width: 585px;
    display: block;
    float: left;
    margin-bottom: 3px;
    margin-right: 3px;
	box-sizing: content-box;
}

@-moz-document url-prefix() {
    .form-bloc .content textarea.objet-consultation {
        width: 585px;
    }
}

.form-bloc .content input.mots-cles-consultation {
    width: 585px
}

.form-bloc .content textarea.mots-cles-clause {
    width: 575px;
    display: block;
    float: left;
    margin-bottom: 3px
}

.form-bloc .content textarea.mots-cles {
    width: 155px;
    display: block;
    float: left
}

.form-bloc .content textarea.mots-cles-long {
    width: 184px;
    display: inline;
    margin-right: 0px !important
}

* html .form-bloc .content textarea.mots-cles-long {
    margin-left: -3px
}

.form-bloc .content select.procedure {
    width: 590px;
    display: block;
    float: left
}

.form-bloc .content select.suivi-consultation {
    margin-right: 10px;
    width: 160px
}

.form-bloc .content select.dir-service {
    width: 260px
}

.form-bloc .content select.dir-service-long {
    width: 590px
}

.form-bloc .content select.statut-consultation {
    width: 224px
}

.form-bloc .content input.nom {
    width: 120px;
    margin-right: 5px
}

.form-bloc .content input.num-marche-go {
    width: 218px;
}

.form-bloc .content input.profil {
    width: auto;
    margin-right: 5px
}

.form-bloc .content input.intitule-consultation {
    width: 585px;
    display: block;
    float: left;
    margin-bottom: 5px;
	box-sizing: content-box;
}

.form-bloc .content input.intitule-dir-service {
    width: 480px;
    display: block;
    float: left
}

.form-bloc .content input.intitule-dir-service-small {
    width: 380px;
    display: block;
    float: left
}

.form-bloc .content .radio-choice {
    display: block;
    float: left;
    width: auto;
    padding-right: 20px;
    line-height: 22px;
}

.form-bloc .content .radio-choice-clear {
    display: block;
    clear: left;
    float: left;
    width: auto;
    padding-right: 20px;
    line-height: 22px;
}

.form-bloc .content .radio-choice .info-bulle {
    display: inline;
    float: none;
    margin-top: -2px
}

.form-bloc .content .radio-choice-center {
    text-align: center;
}

.form-bloc .content .radio-choice-center input {
    display: inline;
    width: auto;
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
/ vertical-align: middle
}

/*Formulaire nouvelle DSP*/
.form-bloc .content select.select-moyen {
    width: 210px;
    display: block;
    float: left;
    margin-left: 0px
}

.form-bloc .content input.input-moyen {
    width: 205px;
    display: block;
    float: left;
    margin-bottom: auto
}

.form-bloc .content input.input-moyen-montant {
    width: 205px;
    display: block;
    float: left;
    margin-bottom: auto;
    text-align: right
}

/*Formulaire nouvel avenant*/
.form-bloc .content input.input-avenant {
    width: 20px;
    display: inline;
    float: left;
    margin-top: 2px
}

/*.form-bloc .content .radio-choice img.picto-info-bulle { margin-top:0px !important; margin-left:3px; vertical-align:top !important }*/
.form-bloc .content .radio-choice img.picto-info-bulle {
    margin-top: 3px;
    margin-left: 3px
}

* + html .form-bloc .content .radio-choice img.picto-info-bulle {
    margin-top: 0px;
    margin-left: 3px
}

* html .form-bloc .content .radio-choice img.picto-info-bulle {
    margin-top: 0px;
    margin-left: 3px
}

/*+html .form-bloc .content .radio-choice img.picto-info-bulle { margin-top:-5px; margin-left:3px }*/

.form-bloc .content .radio-choice input {
    width: auto;
	margin : -2px 4px 0 0 !important;
}

.form-bloc .content .radio-choice-clear input {
    width: auto
}

.form-bloc .content .radio-choice-clear label {
    text-align: left !important;
}

.form-bloc .content .radio-choice-mini {
    display: block;
    float: left;
    width: 25px;
    padding-right: 3px;
    line-height: 22px
}

.form-bloc .content .radio-choice-mini input {
    width: auto !important
}

.form-bloc .content .radio-choice-small {
    display: block;
    float: left;
    width: 70px;
    padding-right: 20px;
    line-height: 22px;
}

.form-bloc .content .radio-choice-small input {
    width: auto !important;
	margin : -2px 4px 0 0 !important;
}

.form-bloc .content .radio-choice-small2 {
    display: block;
    float: left;
    width: 50px;
    padding-right: 20px;
    line-height: 22px;
}

.form-bloc .content .radio-choice-small2 input {
    width: auto !important
}

.form-bloc .content .radio-choice-auto {
    display: block;
    float: left;
    width: auto;
    padding-right: 5px;
    line-height: 22px
}

.form-bloc .content .radio-choice-auto input {
    width: auto;
    float: left;
}

/*[class^="content-bloc"] [class^="radio-choice-"] { margin-left:0 !important; }*/

.input-col {
    float: left;
    padding-left: 3px;
}

.form-bloc .content .calendar {
    padding-top: 1px;
    text-align: left;
    width: 95px;
    float: left;
    margin-right: 2px
}

.form-bloc .content .calendar input {
    width: 66px;
    margin: 0;
    float: left
}

* html .form-bloc .content .calendar input {
    width: 60px
}

.form-bloc .content .calendar img {
    margin: 0;
    cursor: pointer
}

.form-bloc .content a.rechercher {
    display: block;
    float: right;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: right;
    width: 95px;
    height: 18px;
    background-image: url(../images/bouton-rechercher.gif);
    margin-right: 0px;
    margin-top: 20px;
    text-align: center;
    padding-left: 7px
}

.form-bloc .content a.rechercher-long {
    display: block;
    clear: both;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: right;
    width: 153px;
    height: 18px;
    background-image: url(../images/bouton-rechercher-long.gif);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    text-align: center;
    padding-left: 8px
}

.form-bloc .content a.valider {
    display: block;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: right;
    width: 84px;
    height: 18px;
    background-image: url(../images/bouton-short-bk.gif);
    margin-right: 0px;
    margin-top: 20px;
    text-align: center
}

.form-bloc .content a.annuler {
    display: block;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: left;
    width: 84px;
    height: 18px;
    background-image: url(../images/bouton-short-bk.gif);
    margin-right: 0px;
    margin-top: 20px;
    text-align: center
}

.form-bloc .content a.valider-modif {
    float: right;
    width: 150px;
    height: 18px;
    background-image: url(../images/bouton-long.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px
}

.form-bloc .content a.init-recherche {
    clear: left;
    float: left;
    width: 200px;
    height: 18px;
    background-image: url(../images/bouton-long8.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
}

.form-bloc .content a.init-recherche {
    clear: left;
    float: left;
    width: 200px;
    height: 18px;
    background-image: url(../images/bouton-long8.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
}

.form-bloc .content a.init-criteres {
    clear: left;
    float: left;
    width: 130px;
    height: 18px;
    background-image: url(../images/bouton-moyen3.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
}

.form-bloc .content a.afficher-consult {
    float: right;
    width: 165px;
    height: 18px;
    background-image: url(../images/bouton-long5.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
}

.form-bloc .content a.init-requete {
    clear: left;
    float: left;
    width: 130px;
    height: 18px;
    background-image: url(../images/bouton-moyen3.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
}

.form-bloc .content a.lancer-requete {
    float: right;
    width: 130px;
    height: 18px;
    background-image: url(../images/bouton-moyen3.gif);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
}

.form-bloc .content a.modifier {
    display: block;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: left;
    width: 150px;
    height: 18px;
    background-image: url(../images/bouton-short-bk.gif);
    text-align: center;
    margin-left: 3px
}

.form-bloc .content a.exporter {
    display: block;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: right;
    width: 84px;
    height: 18px;
    background-image: url(../images/bouton-short-bk.gif);
    text-align: center;
    margin-left: 3px
}

.form-bloc .content a.generer-calendrier {
    display: block;
    float: right;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    float: right;
    width: 150px;
    height: 18px;
    background-image: url(../images/bouton-long.gif);
    margin-right: 0px;
    margin-top: 20px;
    text-align: center
}

.form-bloc a.ok img {
    display: block;
    float: left;
    margin-left: 3px;
    margin-top: 2px
}

.text-bloc {
    text-align: left;
    margin-top: 10px;
}

.text-bloc h1 {
    text-align: left;
    color: #666;
    font-size: 11px;
}

.text-bloc p {
    margin-bottom: 10px
}

.text-bloc a.download {
    color: #F18202;
    background: url(../images/picto-download.gif) no-repeat 0 2px;
    padding-left: 12px
}

.text-bloc a:hover.download {
    text-decoration: none;
    color: #F18202;
}

.panel-recherche .top-link .title {
    float: left;
    margin-left: 5px;
    font-weight: bold;
}

.panel-recherche #recap-details {
    padding-top: 10px;
}

/*top link bloc recap consultation */
.top-link {
    clear: both;
    margin-right: 10px;
}

.top-link a {
    display: block;
    float: right;
    text-decoration: underline;
    font-weight: normal;
    background-repeat: no-repeat;
    margin-left: 10px;
    color: #666;
    height: 16px;
    margin-bottom: 5px;
    line-height: 18px
}

.top-link a.planification {
    background-image: url(../images/picto-planification.gif);
    padding-left: 17px;
}

.top-link a.details {
    background-image: url(../images/picto-details.gif);
    padding-left: 17px;
}

.top-link a.postit {
    float: right
}

.top-link a.postit img, .options a.postit img {
    margin-top :6px;
}


.top-link a.edit {
    margin-left: 0;
}

.top-link a.toggle-recap {
    float: left;
    margin-left: 0px;
    background-image: url(../images/picto-close-panel-grey.gif);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    margin-top: 2px;
}

.top-link a.toggle-recap-closed {
    float: left;
    margin-left: 0px;
    background-image: url(../images/picto-open-panel-grey.gif);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    margin-top: 2px;
}

.top-link .consultation-line {
    float: left;
    width: 580px
}

.top-link .consultation-line .intitule {
    display: block;
    float: left;
    width: 132px;
    text-align: right;
    padding-right: 5px;
    line-height: 18px
}

.top-link .consultation-line .content-bloc-long {
    width: 430px;
    padding-top: 3px
}

table .row-detail {
    display:none;
}
table .row-visible {
    display:table-row;
}


/*Info Bulles et Postit*/
.info-bulle {
    text-align: left;
    display: inline;
    position: absolute;
    width: 180px;
    line-height: 11px;
    color: #fff;
    font-size: 11px;
    display: none
}

.info-bulle div {
    background-color: #767676;
    padding: 3px 5px;
    z-index: 1;
    text-align: left !important;
    width: 180px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.info-bulle div a {
    color: #fff !important;
}

.info-bulle-Iframe {
    position: absolute;
    z-index: -1;
    background-color: #767676
}

.info-bulle-popup {
    text-align: left;
    display: inline;
    position: absolute;
    width: 180px;
    line-height: 11px;
    color: #979797;
    font-size: 11px;
}

.info-bulle-popup > div {
    background-color: #767676;
    padding: 3px 5px;
    z-index: 1;
    text-align: left !important;
    width: 180px !important;
}

.info-postit {
    text-align: left;
    display: inline;
    position: absolute;
    width: 106px;
    line-height: 11px;
    color: #979797;
    font-size: 11px;
    display: none
}

.info-postit div {
    background-color: #F5F97A;
    padding: 3px 5px;
    z-index: 1;
    border: 1px solid #999;
}

.info-postit-Iframe {
    position: absolute;
    z-index: -1;
    background-color: #fff
}

.info-alerte {
    text-align: left;
    display: inline;
    position: absolute;
    width: 180px;
    line-height: 11px;
    color: #ff0000;
    font-size: 11px;
    display: none
}

.info-alerte div {
    background-color: #fff;
    padding: 3px 5px;
    z-index: 1;
    border: 1px solid #ff0000;
}

.info-alerte-Iframe {
    position: absolute;
    z-index: -1;
    background-color: #fff
}

* html .info-bulle-Iframe {
    display: block
}

* html .info-postit-Iframe {
    display: block
}

* html .info-alerte-Iframe {
    display: block
}

img.picto-info-bulle {
    vertical-align: top;
    margin-top: 2px;
    position: relative;
}

img.picto-info-alerte {
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px
}

* html img.picto-info-bulle-date {
    margin-left: -10px
}

.infos-lot img.picto-info-bulle {
    margin-left: -3px
}

* html .infos-lot img.picto-info-bulle {
    margin-left: 0px
}

/*IE6 Fix*/
h3 .picto-info-bulle {
    margin: 4px 0 0 3px;
}

.col-info-bulle {
    width: 14px !important;
    height: 14px;
    display: inline-block;
}

.results-list table th a .col-info-bulle {
    margin-left: 3px;
}

.results-list table th a .col-info-bulle img {
    margin-top: 2px !important;
}

.infos-form-prix img.picto-info-bulle {
    margin-top: -2px;
    margin-left: 3px
}

.infos-tranches img.picto-info-bulle, .infos-lot-tech img.picto-info-bulle {
    margin-left: -1px;
    margin-top: 2px
}

.message-info {
    background: url(../images/picto-infos.gif) no-repeat;
    clear: both;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

/*bloc erreur*/
.form-bloc-erreur {
    background: #fff;
    margin-bottom: 20px
}

.form-bloc-erreur .top {
    background: url(../images/erreur-box-top-bk.png) no-repeat;
    background-repeat: repeat-x
}

.form-bloc-erreur .top .left {
    background: url(../images/erreur-box-top-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-bloc-erreur .top .right {
    background: url(../images/erreur-box-top-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-bloc-erreur .bottom {
    background: url(../images/erreur-box-bottom-bk.png) no-repeat;
    background-repeat: repeat-x
}

.form-bloc-erreur .bottom .left {
    background: url(../images/erreur-box-bottom-left.png) no-repeat;
    display: block;
    width: 10px;
    float: left
}

.form-bloc-erreur .bottom .right {
    background: url(../images/erreur-box-bottom-right.png) no-repeat;
    display: block;
    width: 10px;
    float: right
}

.form-bloc-erreur .top span, .form-bloc-erreur .top, .form-bloc-erreur .bottom span, .form-bloc-erreur .bottom {
    height: 10px;
    font-size: 1px
}

.form-bloc-erreur .content {
    background: #FFE6E6;
    width: auto;
    text-align: left;
    border: 1px solid #F42222;
    color: #D40B0B !important;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 50px;
    overflow: hidden;
}

.form-bloc-erreur .content .erreur {
    color: #D40B0B;
    text-align: center
}

.form-bloc-erreur .content .message {
    color: #D40B0B;
    text-align: center
}

.form-bloc-erreur .content .message-left {
    color: #D40B0B;
    text-align: left
}

.form-bloc-erreur .content ul {
    color: #D40B0B;
    text-align: left
}

.form-bloc-erreur .content ul li {
    list-style-type: disc !important;
    list-style-position: inside;
    padding-left: 0px
}

/*nouveau style erreur*/
.form-bloc-erreur .top, .form-bloc-erreur .top .left, .form-bloc-erreur .top .right, .form-bloc-erreur .bottom, .form-bloc-erreur .bottom .left, .form-bloc-erreur .bottom .right {
    display: none;
}

.form-bloc-message .top, .form-bloc-message .top .left, .form-bloc-message .top .right, .form-bloc-message .bottom, .form-bloc-message .bottom .left, .form-bloc-message .bottom .right {
    display: none;
}

.msg-erreur .content {
    background: url(../images/picto-error-big.png) 10px 5px no-repeat #FFE6E6;
    width: auto !important;
    border: 1px solid #F42222;
    color: #D40B0B !important;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 10px 10px 50px;
}

.msg-erreur .content .title {
    color: #D40B0B;
    text-align: left;
    margin-bottom: 10px;
}

.msg-conf .content .title {
    color: #3D83C1;
    margin-bottom: 10px;
}

.msg-conf .content {
    background: url(../images/picto-check-ok-big.png) 10px 5px no-repeat #E4FFD2;
    width: auto !important;
    border: 1px solid #58B918 !important;
    color: #3D8011 !important;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 10px 15px 50px !important;
}

.msg-conf .message {
    text-align: left !important;
}

.msg-info .content {
    color: #3D6BA6 !important;
    background: url(../images/picto-info-big.png) 10px 5px no-repeat #E6EFEE !important;
    border-color: #3d6ba6 !important;
}

.content.no-bg {
    background-image: none !important;
    padding: 10px 15px;
}

.msg-alerte .content {
    background: url(../images/picto-averstissement-big.png) 10px 5px no-repeat #FFF2E6;
    width: auto !important;
    overflow: hidden;
    text-align: left;
    border: 1px solid #FF8000 !important;
    color: #FF8000 !important;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 10px 15px 50px !important;
}

.msg-alerte .content .message-left {
    color: #FF8000;
    margin-bottom: 0px;
    text-align: left;
}

.info-bulle {
    text-align: left;
    display: inline;
    position: absolute;
    width: 180px;
    line-height: 11px;
    color: #fff;
    font-size: 10px;
    display: none
}

.info-bulle div {
    background-color: #767676;
    padding: 3px 5px;
    z-index: 1;
}

.info-bulle div a {
    color: #fff !important;
    text-decoration: underline !important;
}

.info-bulle-Iframe {
    position: absolute;
    z-index: -1;
    background-color: #767676
}

/*Validation erreur*/
.error-border {
    background-color: #ff6d6d
}

.error-border-auto {
    background-color: #ff6d6d;
    width: auto !important
}

/*Post-it*/
.popup-post-it {
    margin: 0 auto;
    width: 340px;
    background-color: #fff;
    padding: 10px;
}

.popup-post-it .post-it-form {
    background-color: #F5F97A;
    width: 720px;
    height: 230px;
    padding-top: 20px
}

.popup-post-it .post-it-form textarea {
    width: 690px;
    height: 200px;
}

/*Commentaires bulles*/
.popup-comment-it {
    margin: 0 auto;
    width: 340px;
    background-color: #fff;
    padding: 10px;
}

.popup-comment-it .comment-it-form {
    background-color: #fff;
    width: 340px;
    height: 200px;
    padding-top: 20px;
    text-align: left
}

.popup-comment-it .comment-it-form textarea {
    width: 330px
}

.comment-it-form-long {
    width: 340px;
    padding-top: 20px;
    text-align: left
}

.comment-it-form-long textarea {
    width: 330px
}

/*Floating div*/
* html #overlay #container, * html #overlayBlocNotes #containerBlocNotes {
    position: absolute !important;
    left: 0px;
    top: 0px;
}

/*IE6 Fix */
* + html #overlay #container, * + html #overlayBlocNotes #containerBlocNotes {
    position: fixed !important
}

#overlay #container, #overlayBlocNotes #containerBlocNotes {
    position: absolute;
}

.containerFix {
    position: absolute !important
}

/*Firefox Fix */

#overlay, #overlayBlocNotes {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-image: url(../images/overlay.gif)
}

#overlay .popup-moyen {
    padding: 0px !important;
    border: 0px;
    width: 586px
}

#overlay .popup-moyen2 {
    margin: 0 auto
}

#overlay .popup-post-it {
    padding: 0px !important;
    border: 0px;
    width: 740px;
}

#overlayBlocNotes .popup-post-it {
    padding: 0px !important;
    border: 0px;
    width: 740px;
}

#overlay .popup-comment-it {
    padding: 0px !important;
    border: 0px;
    width: 370px
}

#overlay .popup-small {
    padding: 0px !important;
    border: 0px;
    width: 386px
}

#overlay .popup-small2 {
    padding: 0px !important;
    border: 0px;
    width: 450px
}

#overlay .popup-mini {
    padding: 0px !important;
    border: 0px;
    width: 150px
}

#overlay h4 {
    color: #666
}

#overlay .handle, .ui-dialog .ui-dialog-titlebar {
    height: 25px;
    width: 100%;
    background: transparent;
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar {
    position: absolute;
    z-index: 9999;
}

.ui-widget {
    font-size: 0.7rem;
}

.ui-dialog {
    padding: 0 0 5px 0 !important;
    box-sizing: border-box;
    z-index: 9999;
    border-radius: 0;
    border: 0 !important;
    min-width: 400px;
    font-size: 11px;
}

.ui-dialog .ui-dialog-titlebar {
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar .ui-button,
.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-titlebar-close{
    display: none;
}

.ui-dialog .form-saisie .form-bloc {
    background: #fff;
    margin: 0 0 10px;
}

.ui-dialog .form-bloc .content {
    width: auto !important;
}

.ui-dialog .ui-dialog-content.ui-widget-content {
    padding: 10px 10px 0;
}

.ui-dialog .ui-dialog-content > .title {
    text-align: center;
    float: inherit;
    font-size: 0.8rem;
    padding: 0 0 10px;
}

/* Overlays */
.ui-widget-overlay, .gwt-PopupPanelGlass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaaaaa /*{bgColorOverlay}*/ url(../images/ui-bg_flat_0_aaaaaa_40x100.png) /*{bgImgUrlOverlay}*/ 100% /*{bgOverlayXPos}*/ 100% /*{bgOverlayYPos}*/ repeat-x /*{bgOverlayRepeat}*/;
    opacity: .3;
    filter: Alpha(Opacity=30) /*{opacityOverlay}*/;
}

.ui-widget-shadow {
    margin: -8px /*{offsetTopShadow}*/ 0 0 -8px /*{offsetLeftShadow}*/;
    padding: 8px /*{thicknessShadow}*/;
    background: #aaaaaa /*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png) /*{bgImgUrlShadow}*/ 50% /*{bgShadowXPos}*/ 50% /*{bgShadowYPos}*/ repeat-x /*{bgShadowRepeat}*/;
    opacity: .3;
    filter: Alpha(Opacity=30) /*{opacityShadow}*/;
    -moz-border-radius: 8px /*{cornerRadiusShadow}*/;
    -khtml-border-radius: 8px /*{cornerRadiusShadow}*/;
}

.dialogTop {
    background: #fff !important;
}

.gwt-DialogBox .containerClass {
    border: 0;
}

#floatingIframe {
    position: absolute;
    height: 264px;
    left: 0px;
    top: 0px;
    display: none;
    z-index: -1;
    background-color: #fff
}

* html #floatingIframe {
    display: block
}

/*IE6 Fix*/

#floatingIframeBlocNotes {
    position: absolute;
    height: 264px;
    left: 0px;
    top: 0px;
    display: none;
    z-index: -1;
    background-color: #fff
}

* html #floatingIframeBlocNotes {
    display: block
}

/*IE6 Fix*/

.layerBorder-mini {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    color: #666666
}

.layerBorder-small {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px
}

.layerBorder-small2 {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px
}

.layerBorder-moyen {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px
}

.layerBorder-moyen .form-bloc .content {
    width: 534px !important;
    overflow: hidden;
    margin-right: 0px
}

.layerBorder-moyen2 {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px
}

.layerBorder-moyen2 .form-bloc .content {
    width: 740px !important;
    overflow: hidden;
    margin-right: 0px
}

* html .layerBorder-small .form-bloc .content {
    width: 334px !important;
    overflow: hidden;
    margin-right: 0px
}

.layerBorder-post-it {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px
}

.layerBorder-comment-it {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 10px
}

/*End Floating div*/

.boutons {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #fb8523;
    padding-top: 10px;
    clear: both;
    padding-bottom: 20px
}

.boutons a {
    display: block;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    font-size: 11px;
}

.boutons a.annuler {
    float: left;
    width: 84px;
    height: 18px;
    background-image: url(../images/bouton-short-bk.gif)
}

.boutons a.valider {
    float: right;
    width: 84px;
    height: 18px;
    background-image: url(../images/bouton-short-bk.gif)
}

.liste-lot-group a{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}


/*
* GWT switch toggle
*/
.gwt-switch-toggle > a.btn{
    display:none;
}
.gwt-switch-toggle .gwt_tree_item {
    display:block;
    float:left;
    width: 50%;
}
.gwt-switch-toggle .gwt_tree_item{
    cursor: pointer;
}
.gwt-switch-toggle .gwt_tree_item label{
    display: block;
    width:100%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: url(../images/bouton-small.png);
    background-position:0 0;
    background-repeat: no-repeat;
    overflow:hidden;
}
.gwt-switch-toggle .gwt_tree_item.tree_off label{
    background-position: -200% 0;
}
.gwt-switch-toggle .gwt_tree_item.tree_on label{
    background-position:200% 0
}
.gwt-switch-toggle .gwt_tree_item.tree_off input:checked ~ label{
    background-position:0 0;
}
.gwt-switch-toggle .gwt_tree_item.tree_on input:checked ~ label{
    background-position:0 0;
}

/*
* Plus icon toggle table
*/
.passation .results-list .toggle .title img {
    padding-right: 5px;
}
