/* CSS Document - Print modal only */
body { background:none !important; }
#mainContent, .gwt-DialogBox .boutons, .dialogTop, #header, #middle, #footer { display:none; }
.gwt-DialogBox { left:0 !important; top:0 !important; }
