#tinymce li, #apercuDynamique .liste-clause li { list-style-type:none !important; }
#tinymce ul li:before, #apercuDynamique .liste-clause ul li:before { content: "\25CF"; left: -5px; position:relative; top:-2px; }
#tinymce ul li, #apercuDynamique .liste-clause ul li { text-indent:5px; }
#tinymce ul ul li:before, #apercuDynamique .liste-clause ul ul li:before { content:"\2012"; left:-5px; position:relative; }
#tinymce ul ul li, #tinymce ul ul ul li, #tinymce ul ul ul ul li, #apercuDynamique .liste-clause ul ul li, #apercuDynamique .liste-clause ul ul ul li, #apercuDynamique .liste-clause ul ul ul ul li { text-indent:-5px; }
#tinymce ul ul ul li:before, #apercuDynamique .liste-clause ul ul ul li:before { content:"\25A0"; font-size:60%; left:-5px; position:relative; top:-2px; }
#tinymce ul ul ul ul li:before, #apercuDynamique .liste-clause ul ul ul ul li:before { content:"\25A1"; font-size:60%; left:-5px; position:relative; top:-2px; }
#tinymce ul ul ul ul ul li, #apercuDynamique .liste-clause ul ul ul ul ul li { list-style-type:disc; }

/*Fix IE7 - Puces Editeur */
#apercuDynamique li, #apercuDynamique .previsu-doc .content li strong { /color:#000 !important; }
#tinymce ul li, #apercuDynamique #chapitres .liste-clause ul li { /list-style-type:disc !important; list-style-position:inherit; }
#tinymce ul ul li, #apercuDynamique #chapitres .liste-clause ul ul li { /list-style-type:none !important; /background:url(../images/clause-hyphen.gif) no-repeat 0 6px; /margin-left:-6px; /padding-left:20px; }
#tinymce ul ul ul li ,#apercuDynamique #chapitres .liste-clause ul ul ul li { /list-style-type:square !important; /background:none; /margin-left:-3px; /padding-left:0; }
#tinymce ul ul ul ul li, #apercuDynamique #chapitres .liste-clause ul ul ul ul li { /list-style-type:none !important; /background:url(../images/clause-empty-square.gif) no-repeat 0 4px; /margin-left:-12px; /padding-left:16px; }

