@charset "utf-8";
/* CSS Document */

/*https://proto.io/freebies/onoff/*/
.onoffswitch-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
   position:absolute;
   z-index:-1;
}
.onoffswitch-checkbox:active,
.onoffswitch-checkbox:focus {
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.onoffswitch {
	position: relative; width: 45px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #dddddd; border-radius: 20px;
    background-color: #dddddd;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 28px;
    border: 2px solid #dddddd; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #8ce196;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #8ce196;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}