<div class="app-content content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <atx-breadcrumb class="col-12" [breadcrumb]="param"></atx-breadcrumb>
    </div>

    <div class="content-body" *ngIf="!loading && clauseParametree && clauseSurcharge">
      <form #parametrageAgentForm="ngForm">
        <div class="form-body">
          <section id="form-canevas">
            <div class="row">
              <div class="col-12" *ngIf="clauseSurcharge">
                <atx-clauses-details [editeur]="editeur" [readOnly]="true"
                                     [model]="clauseSurcharge"></atx-clauses-details>
              </div>

              <div class="col-12" style="margin-bottom: 10px">
                <div class="card height-97-per">
                  <div class="card-body mb-0">
                    <div class="row">
                      <h5 class="font-weight-bold">Texte fixe avant : </h5><span style="margin-left: 10px"
                                                                                 [innerHTML]="getTexteAvant()"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold">Par défaut
                      <div class="float-right">
                        <ui-switch size="small" *ngIf="clauseParametree"
                                   class="switch-small"
                                   [switchColor]="!clauseParametree.parametreActif?'green':'red'"
                                   color="#dedede"
                                   name="actif"
                                   [checked]="!clauseParametree.parametreActif"
                                   (change)="clauseParametree.parametreActif=!$event">
                        </ui-switch>
                      </div>
                    </h5>
                    <hr>
                    <atx-form-clause-contenu *ngIf="clauseSurcharge"
                                             [editeur]="editeur"
                                             [clause]="clauseSurcharge"
                                             [parametrage]="true"
                                             [idTypeClause]="clauseSurcharge.idTypeClause"
                                             [disabled]="true">

                    </atx-form-clause-contenu>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold">
                      <span *ngIf="isParametrableAgent">Agent</span>
                      <span *ngIf="isParametrableDirection">Direction</span>
                      <div class="float-right">
                        <ui-switch size="small" *ngIf="clauseParametree"
                                   class="switch-small"
                                   [switchColor]="clauseParametree.parametreActif?'green':'red'"
                                   color="#dedede"
                                   name="actif"
                                   (ngModelChange)="clauseParametree.parametreActif=$event"
                                   [(ngModel)]="clauseParametree.parametreActif">
                        </ui-switch>
                      </div>
                    </h5>
                    <hr>
                    <atx-form-clause-contenu *ngIf="clauseParametree"
                                             [editeur]="editeur"
                                             [clause]="clauseParametree"
                                             [parametrage]="isParametrableAgent || isParametrableDirection"
                                             [idTypeClause]="clauseParametree.idTypeClause"
                                             [disabled]="false">
                    </atx-form-clause-contenu>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="card height-97-per">
                  <div class="card-body">
                    <div class="row">
                      <h5 class="font-weight-bold">Texte fixe après : </h5><span style="margin-left: 10px"
                                                                                 [innerHTML]="getTexteApres()"></span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>

        <div class="form-actions text-right">
          <button type="button" class="btn btn-warning btn-sm margin-right-5px" (click)="back()"><i
            class="fa fa-close"></i> {{"creationCanevas.txt.annuler" | translate}}
          </button>

          <button type="button" class="btn btn-success btn-sm "
                  (click)="surcharge()"><i class="ft-check"></i>
            {{"creationCanevas.btn.valider" | translate}}
          </button>

        </div>
      </form>
    </div>
  </div>
</div>


