/**
 **
 ** Base
 **
 */
$atx-base-color: rgb(61, 130, 189); // Dark Blue
$body-bg: #fff !important;
$atx-footer-border-top: true;
$atx-header-background-image: '../images/bandeau.jpg';
$atx-header-background-size: auto 65px;
