<section class="view-document-breadcrumbs">
  <span>Consultations <span class="view-document-breadcrumbs-leaf">> Gérer les documents</span></span>
</section>
<section class="view-document-context">
  <ul class="view-document-context-informations">
    <li><span class="view-document-context-informations-label">Référence :</span><span>{{(this.consultation | async)?.numeroConsultation}}</span></li>
    <li><span class="view-document-context-informations-label">Objet de la consultation :</span><span>{{(this.consultation | async)?.objet}}</span></li>
    <li><span class="view-document-context-informations-label">Date et heure limite de remise des plis :</span><span>{{(this.consultation | async)?.dateRemisePlis}}</span></li>
  </ul>
</section>
<section class="view-document-navigation">
  <span><i class="fas fa-long-arrow-alt-left"></i> Retour</span>
</section>
<iframe [src]="endpoint | async | safe" title="redaction" class="redaction"></iframe>
