.redaction
  height: 1120px
  border: none
  width: calc(100vw - 210px)

.view-document
  &-breadcrumbs
    height: 12px
    margin-bottom: 20px
    font-size: 11.2px
    color: #666
    &-leaf
      font-weight: bold
  &-context
    width: 797px
    height: 90px
    margin-bottom: 15px
    background: #eaeaea
    border-radius: 5px
    &-informations
      list-style-type: none
      padding: 0
      margin: 12px
      display: inline-block
      font-weight: bold
      line-height: 21px
      &-label
        width: 280px
        display: inline-block
        color: #666
  &-navigation
    color: #666
    font-weight: bold
    height: 23px
    margin-bottom: 5px

