<?xml version="1.0" encoding="UTF-8"?>
<mpe xmlns="http://www.atexo.com/epm/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.atexo.com/epm/xml/ATEXO%20-%20LOCAL%20TRUST%20MPE%20-%20WebServices.xsd">
    <reponse statutReponse="OK">
        <tableauBord>
            <consultationsEnCours>
                <elaboration>{{ mpe.reponse.tableauBord.consultationsEnCours.elaboration }}</elaboration>
                <attenteValidation>{{ mpe.reponse.tableauBord.consultationsEnCours.attenteValidation }}</attenteValidation>
                <consultation>{{ mpe.reponse.tableauBord.consultationsEnCours.consultation }}</consultation>
                <ouvertureAnalyse>{{ mpe.reponse.tableauBord.consultationsEnCours.ouvertureAnalyse }}</ouvertureAnalyse>
                <decision>{{ mpe.reponse.tableauBord.consultationsEnCours.decision }}</decision>
                <urlElaboration> {{ mpe.reponse.tableauBord.consultationsEnCours.urlElaboration }}</urlElaboration>
                <urlAttenteValidation> {{ mpe.reponse.tableauBord.consultationsEnCours.urlAttenteValidation }}</urlAttenteValidation>
                <urlOuvertureAnalyse> {{ mpe.reponse.tableauBord.consultationsEnCours.urlOuvertureAnalyse }}</urlOuvertureAnalyse>
                <urlConsultation> {{ mpe.reponse.tableauBord.consultationsEnCours.urlConsultation }}</urlConsultation>
                <urlDecision> {{ mpe.reponse.tableauBord.consultationsEnCours.urlDecision }}</urlDecision>
            </consultationsEnCours>
        </tableauBord>
    </reponse>
</mpe>