<?xml version="1.0" encoding="UTF-8"?>
<mpe xmlns="http://www.atexo.com/epm/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.atexo.com/epm/xml/ATEXO%20-%20LOCAL%20TRUST%20MPE%20-%20WebServices.xsd">
    <reponse statutReponse="KO">
        <status>{{ error.status }}</status>
        <type>{{ error.type }}</type>
        <messageErreur>{{ error.title }}</messageErreur>
        {% if(error.errors is defined) %}
        <errors>
            {% apply spaceless %}
                {% for error in error.errors %}
                    {% if error is iterable %}
                        {% for err in error %}
                            <error>{{ err }}</error>
                        {% endfor %}
                    {% else %}
                        <error>{{ error }}</error>
                    {% endif %}
                {% endfor %}
            {% endapply %}
        </errors>
    {% endif %}
    </reponse>
</mpe>