<?xml version="1.0" encoding="UTF-8"?>
<mpe xmlns="http://www.atexo.com/epm/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.atexo.com/epm/xml ATEXO%20-%20LOCAL%20TRUST%20MPE%20-%20WebServices.xsd">
    <reponse statutReponse="OK">
        <tableauBord>
            <questions>
                <questionsAttenteReponses>{{ mpe.reponse.tableauBord.questions.questionsAttenteReponses }}</questionsAttenteReponses>
                <url> {{ mpe.reponse.tableauBord.questions.url }}</url>
            </questions>
        </tableauBord>
    </reponse>
</mpe>