<?xml version="1.0" encoding="UTF-8"?>
<mpe xmlns="http://www.atexo.com/epm/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.atexo.com/epm/xml/ATEXO%20-%20LOCAL%20TRUST%20MPE%20-%20WebServices.xsd">
    <reponse statutReponse="OK">
        <service>
            <id>{{ service.id }}</id>
            <idParent>{{ service.idParent }}</idParent>
            <idExterne>{{ service.idExterne }}</idExterne>
            <idExterneParent>{{ service.idExterneParent }}</idExterneParent>
            <libelle>{{ service.libelle }}</libelle>
            <acronymeOrganisme>{{ service.organisme }}</acronymeOrganisme>
            <sigle>{{ service.sigle }}</sigle>
            <email>{{ service.email }}</email>
            <siren>{{ service.siren }}</siren>
            <complement>{{ service.complement }}</complement>
            <dateCreation>{{ service.dateCreation }}</dateCreation>
            <dateModification>{{ service.dateModification }}</dateModification>
            <formeJuridique>{{ service.formeJuridique }}</formeJuridique>
            <formeJuridiqueCode>{{ service.formeJuridiqueCode }}</formeJuridiqueCode>
        </service>
    </reponse>
</mpe>