<!-- fixed-top-->
<nav
  class="MPE-nav header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center"
  id="MPE-nav" [ngClass]="selectedHeaderNavBarClass">
  <div class="navbar-wrapper">
    <div id="navbar-header" class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a
          class="nav-link nav-menu-main menu-toggle hidden-xs11"
          (click)="toggleNavigation($event)"><i
          class="feather ft-menu font-large-1"></i></a></li>
        <li class="nav-item mobile-menu d-md-none mr-auto"><a
          [routerLink]="[_themeSettingsConfig.brand.router]">
          <img height="70px"
               src="{{_themeSettingsConfig.brand.logo.value}}"
               alt="branding logo">
        </a></li>
        <li class="nav-item d-md-none"><a
          class="nav-link open-navbar-container"
          data-toggle="collapse"
          data-target="#navbar-mobile"
          (click)="toggleNavbar($event)"><i
          class="la la-ellipsis-v"></i></a></li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div class="collapse navbar-collapse show" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item"><a
            [routerLink]="[_themeSettingsConfig.brand.router]"
            class="navbar-brand">
            <img height="70px"
                 src="{{_themeSettingsConfig.brand.logo.value}}"
                 alt="branding logo">
          </a></li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown-notification nav-item dropdown"
              ngbDropdown *ngIf="notification === 'on'">
            <a class="nav-link nav-link-label" ngbDropdownToggle>
              <i class="ficon feather ft-bell"></i>
            </a>
          </li>
          <li class="dropdown-notification nav-item" ngbDropdown
              *ngIf="email === 'on'">
            <a class="nav-link nav-link-label" ngbDropdownToggle><i
              class="ficon feather ft-mail"></i></a>
          </li>

          <li class="dropdown-user nav-item" ngbDropdown>
            <a class="nav-link dropdown-user-link"
               ngbDropdownToggle>
              <atx-agent-informations
                [agent]="currentUser"></atx-agent-informations>
            </a>
            <div ngbDropdownMenu
                 class="dropdown-menu dropdown-menu-right"
                 aria-labelledby="dropdownProfileMenu">
              <a class="dropdown-item"
                 [routerLink]="['/agent/accueil']"><i
                class="feather ft-user"></i>
                {{"account" | translate}}
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]=""
                 (click)="logout()"><i
                class="feather ft-power"></i>
                {{"login.logout" | translate}}
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
