@media (max-width: 767.98px) {
    .header-navbar .navbar-header {
        width: 100% !important;
        top: 3px;
    }
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  top: auto;
}

.clausier-flag{
  border: 0px  solid #dedede;
  border-radius: 0px;
}
