{% extends '@KnpMenu/menu.html.twig' %}

{% block linkElement %}{% import _self as knp_menu %}
    {%- if item.getExtra('form', false) -%}
        {{ block('formElement') }}
    {%- else -%}
        <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>{{ block('iconElement') }}<span>{{ block('label') }}</span></a>
    {%- endif -%}
{% endblock %}

{% block spanElement %}{% import _self as knp_menu %}<{{ item.getExtra('tag', 'span') }}{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</{{ item.getExtra('tag', 'span') }}>{% endblock %}

{% block iconElement %}{% import _self as knp_menu %}
    {%- if item.getExtra('icon', false) -%}
        <i class="fa fa-{{ item.getExtra('icon') }}"></i>
    {%- endif -%}
{% endblock %}

{% block formElement %}{% import _self as knp_menu %}
    <form action="{{ item.uri }}" method="get"{{ knp_menu.attributes(item.getExtra('formAttributes')) }}>
        <fieldset{{ knp_menu.attributes(item.getExtra('fieldsetAttributes')) }}>
            {% for hiddenInputName, hiddenInputValue in item.getExtra('formHiddenInputs') %}
                <input type="hidden" name="{{ hiddenInputName }}" value="{{ hiddenInputValue }}">
            {% endfor %}
            <input type="text" name="{{ item.getExtra('formInputName', 'q') }}" placeholder="{{ item.getExtra('formPlaceHolder', '')|trans }}">
            <input type="submit" name="" value="{{ item.getExtra('formSubmitLabel', 'OK')|trans }}">
        </fieldset>
    </form>
{% endblock %}
