{% extends '@KnpMenu/menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
{#        <div{{ knp_menu.attributes(listAttributes) }}>#}
            {{ block('children') }}
{#        </div>#}
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        {% import _self as knp_menu %}
        {%- if item.hasChildren -%}
            <div{{ knp_menu.attributes(attributes) }}>
        {%- endif %}
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {% if item.level != 1 %}{{ block('spanElement') }}{% endif %}
            {%- endif %}
            {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
            {{ block('list') }}
        {% if item.hasChildren -%}
            </div>
        {%- endif %}
    {% endif %}
{% endblock %}

{% block linkElement %}{% import _self as knp_menu %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>{{ block('iconElement') }}<span>{{ block('label') }}</span></a><br>
{% endblock %}

{% block spanElement %}{% import _self as knp_menu %}
    {%- if item.getExtra('hr', false) -%}
        <hr>
    {%- elseif item.label is not empty -%}
        <{{ item.getExtra('tag', 'span') }}{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</{{ item.getExtra('tag', 'span') }}>
        {%- if item.getExtra('tag', 'span') == 'h3' -%}
            <hr>
        {%- elseif item.getExtra('tag', 'span') == 'span' -%}
            <br>
        {%- endif -%}
    {%- endif -%}
{% endblock %}

{% block iconElement %}{% import _self as knp_menu %}
    {%- if item.getExtra('icon', false) -%}
        <i class="fa fa-{{ item.getExtra('icon') }}"></i>
    {%- endif -%}
{% endblock %}
