{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {{ block('list') -}}
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        {% import _self as knp_menu %}
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}

            {% if item.getExtra('separator') %}
                |
            {% endif %}
            {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}

    {% endif %}
    {{ block('list') }}
{% endblock %}

{% block linkElement %}
    {% import _self as knp_menu %}
    <button type="button" class="btn btn-primary primary-client-bg-border btn-sm" onclick="location.href='{{ item.uri }}'"><i class="{{ item.getExtra('icon') }}"></i> {{ block('label') }}</button>
{% endblock %}

{% block spanElement %}
    {% import _self as knp_menu %}

    {% if item.getExtra('regleMiseEnLigne') in [
        get_parameter('MISE_EN_LIGNE_APRES_VALIDATION_ET_DATE'),
        get_parameter('MISE_EN_LIGNE_APRES_VALIDATION_ET_ENVOI_BOAMP'),
        get_parameter('MISE_EN_LIGNE_APRES_VALIDATION_ET_PUBLICATION_BOAMP'),
    ] %}
        {%- set titleValidButton =  'TEXT_MISE_EN_LIGNE_SELON_VOTRE_PARAMETRAGE' |trans %}
    {% else %}
        {%- set titleValidButton =  'MENU_ACTION_HABILITATION' |trans %}
    {% endif %}

    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"  title="{{ titleValidButton }}" data-placement="left" data-original-title="{{ titleValidButton }}">
      <button class=" btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>
          <i class="ft-lock"></i> {{ block('label') }}
      </button>
    </span>
   {% endblock %}
