<!--Debut MESSEC V2-->
{% if paramMessecV2.url_front is defined %}
    {% include 'messagerie/entreprise/header.html.twig' with {'url_front': paramMessecV2.url_front} %}
    <script>
            var ms_contexte = {
                "token": "{{ paramMessecV2.token }}",
                "url_visualisation_message": "{{ paramMessecV2.url_visualisation_message }}",
                "access_token": "{{ messec_access_token() }}"
            }
    </script>

    <div class="section bloc-rmc messagerieSecurisee--m">
        <div class="bloc m-b-0">
            <div class="table-bloc">
                <div class="atx-body">
                    <messagerie-suivi-entreprise>{% include 'messagerie/loader.html.twig' %}</messagerie-suivi-entreprise>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning h5">
        {{ 'DEFINE_AUCUN_RESULTAT'|trans }}
    </div>
{% endif %}
<!--Fin MESSEC-->
