{% if url_front is defined %}
    <link rel="stylesheet" href="{{ url_front }}front/styles.css">
    <script src="{{ url_front }}front/runtime-es2015.js" type="module"></script>
    <script src="{{ url_front }}front/runtime-es5.js" nomodule defer></script>
    <script src="{{ url_front }}front/polyfills-es5.js" nomodule defer></script>
    <script src="{{ url_front }}front/polyfills-es2015.js" type="module"></script>
    <script src="{{ url_front }}front/scripts.js" defer></script>
    <script src="{{ url_front }}front/main-es2015.js" type="module"></script>
    <script src="{{ url_front }}front/main-es5.js" nomodule defer></script>
{% endif %}
