{% extends 'layout.html.twig' %}

{% block stylesheet_sf1 %}
    {% include 'messagerie/entreprise/header.html.twig' with {'url_front': url_front} %}
    <script>
        var ms_contexte = {
            "token": "{{ token }}",
            "access_token": "{{ messec_access_token() }}"
        }
    </script>
{% endblock %}

{% block content %}
    <!--Debut MESSEC V2-->
    {% if url_front is defined %}
        <div class="atx-body">
            <messagerie-visualisation-entreprise>{% include 'messagerie/loader.html.twig' %}</messagerie-visualisation-entreprise>
        </div>
        <div class="row mx-md-n5">
            <div class="col px-md-5">
                <div class="p-4">&nbsp;</div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning h5">
            {{ 'DEFINE_AUCUN_RESULTAT'|trans }}
        </div>
    {% endif %}
    <!--Fin MESSEC-->
{% endblock %}
