<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <title>
    </title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>
    <!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
        .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->
    <style type="text/css">
        @media only screen and (min-width:480px) {
            .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }
    </style>
    <style media="screen and (min-width:480px)">
        .moz-text-html .mj-column-per-100 {
            width: 100% !important;
            max-width: 100%;
        }
    </style>
    <style type="text/css">
    </style>
    <style type="text/css">
        .table-striped td {
            vertical-align: top;
            padding: 5px 10px;
            line-height: 18px;
        }

        .table-striped td:first-child {
            width: 30%;
        }

        .table-striped tr:nth-of-type(odd) {
            background-color: #edebeb;
        }

        .statut img {
            vertical-align: middle;
        }

        img.logo {
            display: inline-block;
            max-width: 400px;
            height: auto;
            width: auto;
        }

        .infos-signature {
            font-size: 10px;
        }
    </style>
</head>

<body style="background-color:#efefef;">
<div style="background-color:#efefef;">
    <!--[if mso | IE]>
    <table
            align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
    >
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
    <div style="margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                        <tr>
                            <td
                                    class="" width="600px"
                            >

                                <table
                                        align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                                >
                                    <tr>
                                        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
                            <tbody>
                            <tr>
                                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:left;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                                        <tr>

                                            <td
                                                    class="" style="vertical-align:top;width:600px;"
                                            >
                                    <![endif]-->
                                    <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                            <tr>
                                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:center;color:#767676;"><img src="" alt="Plate-forme Integration Roadmap" title="Plate-forme Integration Roadmap" class="logo" /></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0px;word-break:break-word;">
                                                    <!--[if mso | IE]>

                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="20" style="height:20px;">

                                                    <![endif]-->
                                                    <div style="height:20px;"> &nbsp; </div>
                                                    <!--[if mso | IE]>

                                                    </td></tr></table>

                                                    <![endif]-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:18px;line-height:normal;text-align:left;color:#2473B7;">ACCUSE_RECEPTION_REPONSE_ELECTRONIQUE</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:14px;line-height:normal;text-align:left;color:#767676;">CORPS_DEBUT Potin Michèle,</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;">REPONSE_ELECTRONIQUE_POUR_CONSULTATION_CI_DESSOUS</div>
                                                </td>
                                            </tr>  <tr>
                                                <td align="left" class="table-striped" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <table cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#767676;font-family:sans-serif;font-size:12px;line-height:normal;table-layout:auto;width:100%;border:none;">
                                                        <tr>
                                                            <td>
                                                                <strong>DEFINE_TEXT_ENTITE_PUBLIC</strong>
                                                            </td>  <td>Ministère de la santé</td>                                   </tr>  <tr>
                                                            <td>
                                                                <strong>DEFINE_TEXT_REFERENCES | DEFINE_INTITULE</strong>
                                                            </td>
                                                            <td>BY21-3 | Fournitures de chaises de cantine</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>DEFINE_OBJET_CONSULTATION</strong>
                                                            </td>
                                                            <td> Un super test</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>TEXT_TYPE_PROCEDURE</strong>
                                                            </td>
                                                            <td>Appel d&#039;offres ouvert</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>DEFINE_DATE_MISE_LIGNE</strong>
                                                            </td>  <td>iso2frnDateTime</td>                                   </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>TEXT_DATE_HEURE_LIMITE_REMISE_PLIS</strong>
                                                            </td>
                                                            <td>iso2frnDateTime</td>
                                                        </tr>                                 </table>
                                                </td>
                                            </tr>  <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;"><strong>CARACTERISTIQUE_DEPOT :</strong></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="table-striped" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <table cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#767676;font-family:sans-serif;font-size:12px;line-height:normal;table-layout:auto;width:100%;border:none;">
                                                        <tr>
                                                            <td>
                                                                <strong>TEXT_ENTREPRISE</strong>
                                                            </td>
                                                            <td>Les pros du BTP SARL</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>DEFINE_NOM</strong>
                                                            </td>
                                                            <td>Michèle</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>DEFINE_PRENOM</strong>
                                                            </td>
                                                            <td>Potin</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>TEXT_ADRESSE_ELECTRONIQUE</strong>
                                                            </td>
                                                            <td>michele.potin@atexo.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>HORODATAGE_DEPOT</strong>
                                                            </td>
                                                            <td>date</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    </tr>

                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>
                    </tr>
                    </table>

                    </td>
                    </tr>

                    <tr>
                        <td
                                class="" width="600px"
                        >

                            <table
                                    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
                            >
                                <tr>
                                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
                            <tbody>
                            <tr>
                                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:left;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                                        <tr>

                                            <td
                                                    class="" style="vertical-align:top;width:600px;"
                                            >
                                    <![endif]-->
                                    <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;"><strong>CONTENU_REPONSE :</strong></div>
                                                </td>
                                            </tr>  <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;">FICHIER_CANDIDATURE_MPS : DEFINE_CANDIDATURE_MPS - 1</div>
                                                </td>
                                            </tr>   <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;">CORDIALEMENT,</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                    <div style="font-family:sans-serif;font-size:16px;font-weight:bold;line-height:normal;text-align:left;color:#767676;">Plate-forme Integration Roadmap</div>
                                                </td>
                                            </tr>                           </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    </tr>

                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>
                    </tr>
                    </table>

                    </td>
                    </tr>

                    </table>
                    <![endif]-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
    </td>
    </tr>
    </table>
    <![endif]-->
</div>
</body>

</html>