{# MESSAGE ERREUR ACCUEIL ENTREPRISE #}
<div id="infoErrone" class="m-t-7">
    {% set messages =  app.flashes('error') %}

    {% for message in messages %}
        <div class="panel-user-infos alert alert-danger container">
            <i class="fa fa-exclamation-triangle fa-lg m-r-1"></i>
            {{ message | raw}}
        </div>
    {% endfor %}
</div>

{# MESSAGE SUCCESS ACCUEIL ENTREPRISE #}
<div class="m-t-7">
{% set messages =  app.flashes('success') %}

    {% for message in messages %}
        <div class="panel-user-infos alert alert-success container">
            <i class="fa fa-check fa-lg m-r-1"></i>
            {{ message |trans}}
        </div>
    {% endfor %}
</div>