<!-- verification.html.twig -->
{% if isSirenVisible is defined %}
    <div class="modal fade" id="verificationSiretModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5><b>{{ 'ENTREPRISE_VERIFICATION_SIRET_TITRE' | trans|e }}</b></h5>
                </div>
                <div class="modal-body">
                {% include 'entreprise/verification-infos.html.twig' %}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'FERMER' | trans|e }}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
