<!-- verification-info.html.twig -->
<link rel="stylesheet" href="{{ asset('app/assets/css/entreprise.css') }}" type="text/css"/>
{% if etape is defined %}
<div class="panel panel-default panel-step" id="role_inscrit">
    {% endif %}

    {% if etape is defined %}
        <div class="panel-heading">
            <h2 class="h4 panel-title">
                {{ 'ETAPE'|trans|e }} {{ etape }} : {{ 'VERIFICATION_INFORMATION_ENTREPRISE'|trans|e }}
            </h2>
        </div>
    {% endif %}
    {% if etape is defined %}
    <div class="clearfix phase-bloc panel-body p-t-0" id="select_phase">
{%  else %}
        <div>
            {% endif %}

        <div class="modal-body">
            {% if is_module_enabled('compteEntrepriseIdentifiantUnique', null) %}
                <div class="alert alert-{{ typeAlert }}" role="{{ typeAlert }}">
                    {{ msg | trans | format('/?page=Entreprise.FormulaireCompteEntreprise&action=ChangingUser')|raw }}
                </div>
            {% endif %}
            <span class="fa fa-bank verif"></span>
            <caption class="label-verif">
                {{ 'TEXT_MY_ENTREPRISE' | trans|e }}
            </caption>
            <hr class="line-verif">

            <table width="80%">
                {% if isSirenVisible %}
                    <tr  class="alignerLabels">
                        <th width="30%"><label>{{ 'TEXT_SIREN' | trans|e }}:</label></th>
                        <th>{{ siren }}</th>
                    </tr>
                    {% if etape is defined %}
                        <tr>
                            <th colspan="2"> &nbsp;</th>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr  class="alignerLabels">
                    <th width="30%"><label>{{ 'TEXT_RAISON_SOCIAL' | trans|e }}:</label></th>
                    <th>{{ raisonSocial }}</th>
                </tr>
            </table>
            <div>&nbsp;</div>

            <span class="fa fa-building verif"></span>
            <caption class="label-verif">
                {{ 'TEXT_MON_ETABLISSEMENT'| trans|e }}
            </caption>
            <hr class="line-verif">
            <table width="80%">
                {% if isSirenVisible %}
                    <tr class="alignerLabels">
                        <th width="30%"><label>{{ 'TEXT_SIRET' | trans|e }}:</label></th>
                        <th>{{ siret }}</th>
                    </tr>
                    {% if etape is defined %}
                        <tr>
                            <th colspan="2"> &nbsp;</th>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr class="alignerLabels">
                    <th width="30%"><label>{{ 'TEXT_ADRESSE' | trans|e }}:</label></th>
                    <th>{{ adresse }}</th>
                </tr>
                {% if etape is defined %}
                    <tr>
                        <th colspan="2"> &nbsp;</th>
                    </tr>
                {% endif %}
                <tr class="alignerLabels">
                    <th width="30%"><label>{{ 'TEXT_CP' | trans|e }} - {{ 'TEXT_VILLE' | trans|e }}:</label>
                    </th>
                    <th>{{ codePostalVille }}</th>
                </tr>
            </table>
            {% if etape is defined %}
                <div>&nbsp;</div>
            {% endif %}
        </div>
    </div>
{% if etape is defined %}
</div>
{% endif %}
