/* masquer les 2 alertes validationNoteOpportunite et refusNoteOpportunite */
.administration .gestion-habilitations h5:last-of-type {
  display: none; }

/* correction dans le menu administration Comptes BOMAP */
.administration #middle .left-part ul li.menu-open ul li a {
  height: auto; }
