/**
 **
 ** Base
 **
 */

$atx-base-color: #00b6f2;
$atx-gradient: false;

$atx-header_top-height: 120px;
$atx-header-background-image: '../images/Logo-SDEA.png';
$atx-header-background-size: auto 120px;