<h2 class="text-primary">Guide d'utilisation</h2>
<p>Avant de contacter le support, veuillez vous assurez d'avoir téléchargé et consulté les guides mis à votre
    disposition :</p>
<ul class="list-unstyled voffset3">
    <li ><button type="button" class="btn btn-link" (click)="downloadGuide()" target="_blank" > EXEC - Guide
        Utilisateur Général - Agent</button></li>
</ul>
