<div class="col-12">
  <h5><label>{{"blocRecapClause.txt.infoBulle" | translate}}</label></h5>
  <ui-switch size="small"
             class="switch-small"
             [switchColor]="infoBulle.actif?'green':'red'"
             color="#dedede"
             name="actif"
             (ngModelChange)="onChangeActif($event)"
             [(ngModel)]="infoBulle.actif">
  </ui-switch>
</div>

<div class="col-12 margin-bottom-10" *ngIf="infoBulle?.actif">
  <h5><label>{{"creationClause.txt.valeur" | translate}}</label></h5>
  <textarea name="valeur"
            class="form-control"
            [required]="!isNotEmpty(infoBulle)"
            #valeur="ngModel"
            [ngClass]="{ 'is-invalid': form.submitted && valeur.invalid }"
            [(ngModel)]="infoBulle.description">
    </textarea>
  <p *ngIf="form.submitted && valeur.errors" class="block-tag text-left">
    <small class="badge badge-danger">{{"form.required" | translate}}</small>
  </p>
</div>
<div class="col-12" *ngIf="infoBulle?.actif">
  <h5><label>{{"creationClause.txt.lienHyperTexte" | translate}}</label></h5>
  <input type="url"
         name="lien"
         class="form-control"
         [required]="!isNotEmpty(infoBulle)"
         #lien="ngModel"
         [ngClass]="{ 'is-invalid': form.submitted && lien.invalid }"
         [(ngModel)]="infoBulle.lien">
  <p *ngIf="form.submitted && lien.errors" class="block-tag text-left">
    <small class="badge badge-danger">{{"form.required" | translate}}</small>
  </p>
</div>

