body { font-family:Arial, Helvetica, sans-serif; font-size:0.7em; text-align:center }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

div, img { margin:0; padding:0}
h1 { font-size:14px; color:#2DAFCF }
h2 { font-size:12px; color:#000; margin:0px; margin-bottom:10px; padding:0px }

.breaker { clear:both; overflow:hidden; height:0px; font-size:1px }
.spacer { clear:both; height:20px; }
.spacer-small { clear:both; height:10px; }
.hori-spacer { padding-right:3px; }
.capitalize { text-transform:capitalize; }

iframe#tree { border:0px; border:1px solid #999; padding:10px; }
fieldset {border:1px solid #2DAFCF; padding:5px; clear:both; text-align:left; margin-bottom:20px; padding-bottom:10px; }
legend { color:#2DAFCF; font-weight:bold; }

#tree html { width:100%}
.page { width:764px; margin:0 auto; border:1px solid #2DAFCF; padding:10px; }
.date { background:yellow }

.reference { margin:10px; font-size:1.2em; }

.tableau { width:100%; }
.tableau td { vertical-align:top; background:#eef6fc; border:1px solid #c4e3fb; padding:10px; width:340px; text-align:left; height:auto; }
.contacts { margin-bottom:20px; }

.emetteur h3, .recepteur h3 { margin:5px 0 0; padding:0; font-size:1em; }

.line { clear:both; overflow:hidden; margin:5px 2px; }
.intitule-200 { display:block; width:200px; font-weight:bold; float:left; clear:left; }
.intitule { display:block; width:80px; font-weight:bold; float:left; clear:left; }
.content { display:block; width:500px; float:left; }

.red { color:red; }
#arbo { margin:10px; margin-bottom:20px }
#arbo a { color:#000; }

.root {  font-weight:bold; }

.trigger { /*cursor: pointer;*/ cursor: hand; display: block; padding-bottom:2px; clear:left; float:left }
.trigger img { vertical-align:top; margin-right:5px; display:block; float:left; clear:left; cursor:pointer; }
.branch { display: block; padding-left: 	; padding-bottom:0px; background:#fff;  }
.branch .branch { display: block; padding-left: 20px; padding-bottom:0px; }
.folder { display: block; padding-left: 0px; padding-bottom:0px; }
.folder .branch { font-weight:normal; }
.docs-externes { padding-left: 20px; }

.nom-fichier { float:left; padding-top:2px; cursor:pointer; }

.doc { /*cursor: pointer;*/ cursor: hand; display: block; padding-bottom:0px; clear:left; float:left; padding-top:3px;}
.doc img { vertical-align:top; margin-right:5px; display:block; float:left; clear:left; cursor:pointer; margin-top:-2px; }
