<div class="dropzone">
    <div id="uploadContainer"></div>
    <form class="uploader dropzone dz-clickable" enctype="multipart/form-data" id="file-upload-form" method="POST">
        <div class="dz-default dz-message needsclick file-drag">
            <section>
                <i class="text-primary fas fa-3x infoBlue fa-cloud-upload-alt"></i>
                <div>déposez votre fichier ici</div>
            </section>

            <div class="or"><strong> ou</strong></div>
            <section>
                <button class="btn dz-clickable" id="dz-button">
                    <i class="text-primary fas fa-3x infoBlue fa-solid fa-folder-open"></i>
                    <br>
                    choisir un fichier
                </button>
            </section>
            <div *ngIf="erreur" class="messages form-group row">
                <alert type="error">
                    <span [innerHTML]="erreur"></span>
                </alert>
            </div>
        </div>
    </form>
    <br/>
    <ul *ngIf="telechargements.filled()" class="list-group">
        <li *ngFor="let telechargement of telechargements" class="list-group-item">
            <div class="row align-middle pr-2">
                <ng-container *ngIf="telechargement?.erreur">
                    <div *ngIf="telechargement?.erreur" class="dz-error-message error text-danger col-md-3">
                        <span>{{ telechargement?.erreur }}</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="!telechargement?.erreur">
                    <section class="upload-document">
                        <a (click)="telecharger(telechargement)" class="upload-document-nom" title="Télécharger le document {{ telechargement?.nom }}">{{ telechargement?.nom }}</a>

                        <progressbar class="upload-document-bar" max="100" [value]="telechargement?.progression" type="success" [striped]="true" [animate]="false">
                            <span>{{ telechargement?.taille | fileSize }} | {{ telechargement?.progression }}%</span>
                        </progressbar>

                        <button
                                (click)="supprimer(telechargement)"
                                class="dz-remove btn btn-primary btn-xs btn-action"
                                title="Supprimer la pièce jointe"
                                type="button"
                        >
                            <span class="fa fa-trash"></span>
                        </button>
                    </section>
                </ng-container>
            </div>
        </li>
    </ul>
</div>
