.file-drag {
  border: dashed 2px #1d4b86;
  background-color: white;
  text-align: center;
  padding: 48px;
}

.progress {
  height: 30px;
}

.or {
  margin: 12px;
}

.upload-document {
  display: flex;
  justify-content: space-between;

  &-nom {
    min-width: 30%;
    width: 30%;
    display: flex;
    align-items: center;
  }

  &-bar {
    height: 30px;
    margin-right: 12px;
    width: 100%;
  }
}
