<div class="panel panel-default recap-fiche-contrat" *ngFor="let clause of listeN1">
    <div class="panel-heading">
        <h3 class="panel-title">{{clause.label}}</h3>
    </div>
    <div id="collapseClause" class="panel-collapse collapse in" role="tabpanel"
         aria-labelledby="headingcollapseMontantContrat">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let clauseN2 of clauseN2ModelMap.get(clause.value)">
                <span>{{clauseN2.label}}</span>
                <ul>
                    <li  *ngFor="let clauseN3 of getClauseN3FromN2(clauseN2.value)">
                        <span> {{clauseN3.label}}</span>
                        <ul
                            *ngFor="let clauseN4 of getClauseN4FromN2(clauseN2.value,clauseN3.value)">
                            <li class="list-group-item"><span>{{clauseN4.label}}: {{clauseN4.valeur}} </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
