<div id="collapseClause" class="panel-collapse collapse in" role="tabpanel"
     aria-labelledby="headingcollapseCreerClause">
    <!--Debut Panel Clause-->
    <div class="panel panel-default recap-fiche-contrat" *ngFor="let clause of clausesN1">
        <div class="panel-heading">
            <h3 class="panel-title">{{clause.label}}</h3>
        </div>
        <div class="panel-body ">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label>
                            {{clause.label}}
                        </label>
                    </div>
                    <div class="form-check col-md-2">
                        <div>
                            <ui-switch [ngModel]="clauseN1ModelMap.get(clause.value)"
                                       (ngModelChange)="clauseN1ModelMap.set(clause.value, $event)"
                                       id="clauseN1{{clause.value}}"
                                       name="clauseN1{{clause.value}}"
                            ></ui-switch>
                        </div>
                    </div>
                </div>
                <div *ngIf="clauseN1ModelMap.get(clause.value);">
                    <div *ngFor="let clauseN2 of  getClauseN2FromN1(clause.value) let i = index;">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-8">
                                <input class="form-check-input" type="checkbox"
                                       [ngModel]="clauseN2ModelMap.get(clause.value+'/'+clauseN2.value)"
                                       (ngModelChange)="clauseN2ModelMap.set(clause.value+'/'+clauseN2.value, $event)"
                                       name="clauseN2{{i}}"
                                       (change)="getClauseN3FromN2(clauseN2.value)"
                                       id="clauseN2{{i}}">
                                <span [title]="clauseN2.toolTip?clauseN2.toolTip:clauseN2.label"
                                      id="clauseN2{{clauseN2.value}}">  {{ clauseN2.label }}</span>
                            </div>
                        </div>
                        <div class="row"
                             *ngIf="clauseN2ModelMap.get(clause.value+'/'+clauseN2.value) && checkIfN3ExistForN2(clauseN2.value)">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <ng-select
                                    [ngModel]="clauseN3ModelMap.get(clause.value+'/'+clauseN2.value)"
                                    (ngModelChange)="clauseN3ModelMap.set(clause.value+'/'+clauseN2.value, $event)"
                                    [items]="clauseOption.get(clauseN2.value)"
                                    bindLabel="label"
                                    bindValue="value"
                                    [multiple]="true"
                                    [hideSelected]="false"
                                    [searchable]="true" id="clauseN3{{clauseN2.value}}"
                                    name="clauseN3{{clauseN2.value}}"
                                    [maxSelectedItems]="clauseN2.limitation?clauseN2.limitation:clauseOption.get(clauseN2.value).length">
                                    <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                                        <span [title]="item.toolTip?item.toolTip:item.label">{{ item.label }}</span>
                                        <span (click)="clear(item)" aria-hidden="true"
                                              class="ng-value-icon right">X</span>
                                    </ng-template>
                                </ng-select>
                                <span class="badge badge-danger"
                                      *ngIf="clauseN2.limitation && clauseN3ModelMap.get(clause.value+'/'+clauseN2.value)?.length === clauseN2?.limitation">
                                La limite des clauses à sélectionner est atteinte.
                            </span>
                            </div>
                        </div>
                        <div
                            *ngIf="clauseN2ModelMap.get(clause.value+'/'+clauseN2.value) && checkIfN3HasN4(clauseN3ModelMap.get(clause.value+'/'+clauseN2.value),'insertionActiviteEconomique')">
                                <div class="col-xs-4"></div>
                                <form class="form-inline">
                                    <div
                                         *ngFor="let clauseN4 of  getClauseN4FromN3('insertionActiviteEconomique', clauseN2.value)">
                                <span class="m-r-10"
                                      [title]="clauseN4.toolTip?clauseN4.toolTip:clauseN4.label">{{ clauseN4.label }}</span>
                                        <input
                                            [ngModel]="clauseN4ModelMap.get(clause.value+'/'+clauseN2.value+'/'+clauseN4.value)"
                                            (ngModelChange)="clauseN4ModelMap.set(clause.value+'/'+clauseN2.value+'/'+clauseN4.value, $event)"
                                            type="number" min="0" name="nbHeure{{clauseN2.value}}"
                                            class="form-control input-sm">
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

