<div class="form" id="form">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="nom">Nom du document <i class="fa-solid fa-asterisk asterisk"></i></label>
        <div class="col-sm-9">
            <input
                    [(ngModel)]="document.nom"
                    [required]="true"
                    class="form-control"
                    id="nom"
                    placeholder="Nom du fichier"
                    type="text"
            >
        </div>
    </div>
</div>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
    <button (click)="sauvegarder()" [disabled]="!valide()" class="btn btn-primary" type="button"><i class="fa fa-save me-2"></i>Enregistrer</button>
</footer>
