<div *ngIf="document" class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>Modification du document</h1>

        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <atexo-redacdocument-document-preview [document]="document" class="modal-body-include"></atexo-redacdocument-document-preview>

        <atexo-redacdocument-document-update
            [document]="document"
            (erreur)="erreur.emit()"
            (annulation)="fermeture.emit($event)"
            (acceptation)="fermeture.emit($event)"
            (sauvegarde)="sauvegarde.emit($event)"
        ></atexo-redacdocument-document-update>
    </div>
</div>
