.canevas-badge {
  &-resultat {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
    font-size: 1.1rem;
    align-items: baseline;
  }

  &-colour-0 {
    background: #aaa;
    border: none;
  }

  &-colour-1 {
    background: #b5c400;
    border: none;
  }

  &-colour-2 {
    background: #ae1544;
    border: none;
  }

  &-colour-3 {
     background: #0d4eb3;
     border: none;
   }
}

.canevas-titre {
  max-width: 30vw;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.canevas-filter {
  margin-bottom: 12px
}

.canevas-procedures {
  list-style-type: none;
  padding: 0;
  display: inline;

  li {
    display: inline;
  }
}

.canevas-procedures::before {
  content: '';
}

.canevas-procedures::after {
  content: ',';
}

.canevas-agent {
  white-space: nowrap;

  .fa-address-card {
    font-size: 1rem;
  }
}

.table thead th {
  vertical-align: top;
}

.information {
  margin: 0 0 16px 0;
  display: inline-block;
}

.cpv-label {
  color: #aaa;
}


.canevas-titre {
  text-overflow: ellipsis;
  width: 100%;
}

@media screen and (min-width: 1040px) {
  .canevas-titre {
    max-width: 520px;
  }

  .canevas-column-action {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
  }

  .canevas-column-reference {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
  }

  .canevas-column-titre {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
  }

  .canevas-column-types {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
  }

  .canevas-column-dates {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
  }
}

.loader-container {
  min-height: 40vh;
  display: flex;
  align-items: center;
}

.modal-body-include {
  overflow: hidden;
}
