label {
  margin-top: 5px;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff !important;
  background-color: #777b8f !important;
}
.btn-secondary {
  cursor: pointer;
  background-color: #fff !important;
  color: #6b6f82 !important;
}
