<div class="row">
  <div class="col-md-12 mb-md-0">
    <div class="card mb-1">
      <div class="card-content">
        <div class="card-body">
          <div class="row mb-1">

            <div class="col-xl-6 col-lg-6 col- col-md-12 col-sm-12">
              <h6><label>{{"redaction.clause.naturePrestation" | translate}}</label></h6>
              <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary"
                       [ngClass]="{'active':filter.idNaturePrestation===0}"
                       (click)="changeNatureFilter(0)">
                  {{"redaction.toutes" | translate}}
                </button>
                <button type="button" class="btn btn-secondary"
                       [ngClass]="{'active':nature.id===filter.idNaturePrestation}"
                       *ngFor="let nature of refNature$ | async"
                       (click)="changeNatureFilter(nature.id)">
                  <i [ngClass]="getNatureIcon(nature.id)"></i> {{nature.label}}
                </button>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-12 col-sm-12">
              <h6><label>{{"redaction.clause.referenceClause" | translate}}</label></h6>
              <input class="form-control" type="text" name="refClause" style="width: 100%"
                     [(ngModel)]="filter.referenceClause">
            </div>
            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <h6><label>{{"redaction.clause.motsCles" | translate}}</label></h6>
              <input class="form-control" type="text" name="motsCles" style="width: 100%" [(ngModel)]="filter.motsCles">
            </div>
            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{"redaction.clause.typeClause" | translate}}</label></h5>
                <fieldset class="form-group">
                  <select class="form-control " id="typeClauseSelect" [(ngModel)]="filter.idTypeClause">
                    <option selected="" value="0">{{"redaction.tous" | translate}}</option>
                    <option *ngFor="let typeClause of refTypeClause$ | async"
                            [value]="typeClause.id">{{typeClause.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h6><label>{{"redaction.clause.theme" | translate}}</label></h6>
                <fieldset class="form-group">
                  <select class="form-control " id="themeSelect" [(ngModel)]="filter.idThemeClause">
                    <option *ngFor="let theme of refThemeClause$ | async" [value]="theme.id">{{theme.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h6><label>{{"redaction.clause.typeDocument" | translate}}</label></h6>
                <fieldset class="form-group">
                  <select class="form-control" id="documentSelect" [(ngModel)]="filter.idTypeDocument">
                    <option *ngFor="let typeDoc of refTypeDocument$ | async"
                            [value]="typeDoc.id">{{typeDoc.externalCode}} - {{typeDoc.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h6><label>{{"redaction.clause.typeContrat" | translate}}</label></h6>
                <fieldset class="form-group">
                  <select class="form-control " id="contratSelect" [(ngModel)]="filter.idTypeContrat">
                    <option selected="">{{"redaction.tous" | translate}}</option>
                    <option *ngFor="let typeContrat of refTypeContrat$ | async"
                            [value]="typeContrat.id">{{typeContrat.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h6><label>{{"redaction.clause.procedurePassation" | translate}}</label></h6>
                <fieldset class="form-group">
                  <select class="form-control " id="procedureSelect" [(ngModel)]="filter.idProcedure">
                    <option selected="">{{"redaction.toutes" | translate}}</option>
                    <option *ngFor="let typeProcedure of refProcedure$ | async"
                            [value]="typeProcedure.id">{{typeProcedure.label}}</option>
                  </select>
                </fieldset>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <a class="primary-client">
                              <span *ngIf="!showMore"  (click)="showMore= true"><i class="la la-plus"></i>
                                {{"redaction.plusCriteres" | translate}}
            </span>
                <span *ngIf="showMore" (click)="showMore= false"><i class="la la-minus"></i>
                  {{"redaction.moinsCriteres" | translate}}
            </span>
              </a>
            </div>
            <div class="col-md-6">
              <div class="float-md-right">
                <button type="button" class="btn btn-primary primary-client-bg-border btn-sm" (click)="rechercher()"><i class="ft-search"></i>
                  {{"redaction.header.rechercher" | translate}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


