<div class="modal-content modal-confirmation">
    <div class="modal-header">
        <h4 class="modal-title pull-left modal-confirmation-txt">Notification d'un acte</h4>
        <button (click)="onClose.emit()" aria-label="Close" class="close pull-right"
                type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="acte" class="modal-body">
        <div *ngIf="!isValid()" class="alert alert-danger">
            Vous ne pouvez pas notifier l'acte car certains champs obligatoires du formulaire ne sont pas remplis.
        </div>
        <div *ngIf="isValid()" class="alert alert-warning">
            Les informations du contrat seront mises à jour une fois l’acte notifié
        </div>
        <span *ngIf="isChorus()" class="form-inline">
            Avez-vous bien reçu la validation CHORUS ?
            <abbr class="m-r-10"
                  tooltip="Pour pouvoir passer à la notification, il faut vous assurer que CHORUS a bien pris en compte votre envoi">
                <fa-icon icon="question-circle"></fa-icon>
            </abbr>
            <span class="form-inline">
                <ui-switch
                    [(ngModel)]="acte.validationChorus"
                    id="validationChorus"
                    name="validationChorus"
                ></ui-switch>
            </span>
        </span>
        <br>
        <div class="form-check">
            <label class="radio-inline" for="messec">
                <input [(ngModel)]="acte.typeNotification" [disabled]="isChorus() && !acte.validationChorus"
                       id="messec"
                       name="typeNotification" type="radio" value="MESSAGERIE_SECURISEE">Notification via Messagerie
                Sécurisée
            </label>
            <div *ngIf="acte?.typeNotification === 'MESSAGERIE_SECURISEE'" class="alert alert-info">
                La date d’ouverture du message par l’entreprise sera utilisée comme date de notification
            </div>
        </div>
        <div class="form-check" disabled="">
            <input [(ngModel)]="acte.typeNotification" [disabled]="isChorus() && !acte.validationChorus"
                   class="form-check-input m-r-1" id="dejaNotifie"
                   name="typeNotification" type="radio" value="MANUELLE">
            <label class="form-check-label" for="dejaNotifie">
                L'acte a déjà été notifié
            </label>
            <div *ngIf="acte?.typeNotification !== 'MESSAGERIE_SECURISEE'"
                 class="form-group form-group-sm">
                <label class="control-label col-md-4">
                    Date de notification
                    <ltexec-asterisk></ltexec-asterisk>
                </label>
                <div class="input-group datepicker-group">
                    <input
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',  displayOneMonthRange: true,containerClass: 'theme-dark-blue' }"
                        [(ngModel)]="dateNotification"
                        bsDatepicker
                        class="form-control"
                        id="dateNotification"
                        name="dateNotification"
                        required>
                    <span class="input-group-addon"><fa-icon icon="calendar"></fa-icon></span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="acte" class="modal-footer">
        <div class="pull-left">
            <button (click)="onClose.emit()"
                    class="btn btn-primary" data-dismiss="modal"
                    type="button">Annuler
            </button>
        </div>
        <div class="pull-right">
            <button (click)="suivant()" *ngIf="isValid()"
                    class="btn btn-primary" data-dismiss="modal"
                    type="button">Suivant
            </button>
        </div>
    </div>
</div>
