<div class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>Historique du gabarit {{ gabarit?.nom }}</h1>
        <button (click)="fermeture.emit()" aria-label="Fermer" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="discussion-thread-wrapper">
            <atexo-redacdocument-gabarit-history
                    [gabarit]="gabarit"
                    (erreur)="erreur.emit($event)"
            >
            </atexo-redacdocument-gabarit-history>
        </div>
    </div>
</div>
