.no-margin-bottom {
  margin-bottom: 0 !important;
}

.download-button {
  width: 200px;

  &-container {
    text-align: right;
  }
}

.modal-body {
  overflow: scroll;
}

.discussion-thread-badge {
  font-size: 1.4rem;

  &.last {
    background-color: #ff9f4d !important;
  }

  &.first {
    background-color: #0c8100 !important;
  }
}
