<div class="discussion-thread-wrapper">
  <ul class="discussion-thread full-width">
    <li *ngFor="let evenement of evenements;let index = index; let last = last; let first = first"
        [class.discussion-thread-item-last]="last" class="discussion-thread-item">
      <span *ngIf="last" class="discussion-thread-badge last text-white">
          <em class="fa fa-plus"></em>
        </span>
      <span *ngIf="first" class="discussion-thread-badge first text-white">
          <em class="fa fa-check"></em>
        </span>
        <span *ngIf="!first && !last" class="discussion-thread-badge uploaded text-white">
          <em class="fa fa-cloud-arrow-up"></em>
        </span>
      <div class="discussion-thread-panel">
        <div class="discussion-thread-header">
          <div class="form-group no-margin-bottom row">
            <label class="col-sm-4">Version</label>
            <div class="col-sm-8">
              <span>{{ last ? 'Initiale' : 'Révision n°' + (evenements.length - index - 1) }} {{first ? '(version actuelle)' : ''}}</span>
            </div>
          </div>
          <div class="form-group no-margin-bottom row">
            <label class="col-sm-4">Nom du document</label>
            <div class="col-sm-8">
              <span>{{ evenement.nom }}</span>
            </div>
          </div>
          <div class="form-group no-margin-bottom row">
            <label class="col-sm-4">Modèle</label>
            <span class="col-sm-8">
                <span class="badge me-1 badge-type"
                      tooltip="{{ evenement?.modele?.libelle }}">{{ evenement?.modele?.type?.code }}</span>
                <span>{{ evenement?.modele?.libelle }}</span>
            </span>
          </div>
          <div class="form-group no-margin-bottom row">
            <label class="col-sm-4">Ajouté par</label>
            <div class="col-sm-8">
              <div *ngIf="evenement?.creation?.utilisateur" class="col-sm-8">
                <em
                  class="fa fa-lg fa-address-card text-primary me-2 "></em><span>{{ evenement?.creation?.utilisateur?.prenom }} {{ evenement?.creation?.utilisateur?.nom }}</span>
              </div>
              <div *ngIf="!evenement?.creation?.utilisateur" class="col-sm-8">
                -
              </div>
            </div>
          </div>
          <div class="form-group no-margin-bottom row">
            <label class="col-sm-4">Ajouté le</label>
            <div class="col-sm-8">
              <span>{{ evenement?.modification?.date | fr_date }}</span>
            </div>
          </div>
          <div class="form-group no-margin-bottom row">
            <span class="col-sm-12 text-right download-button-container">
              <button (click)="telecharger(evenement)" class="btn btn-primary download-button">
              <em
                class="fa fa-download me-2"></em>Télécharger</button>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
