<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{ "creationCanevas.txt.gestionDerogationCcag" | translate }}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>
  <form #formDerogation="ngForm"
        (ngSubmit)="formDerogation.valid && submit()">
    <div class="modal-body pr-0 pl-0 pb-0">
      <div class="col-12">
        <h5><label>{{ "creationCanevas.txt.derogation" | translate }}</label></h5>
        <ui-switch size="small"
                   class="switch-small"
                   [switchColor]="chapitre?.derogation?.active?'green':'red'"
                   color="#dedede"
                   name="actif"
                   [(ngModel)]="chapitre?.derogation.active">
        </ui-switch>
      </div>

      <div class="col-6">
        <h5><label>{{ "creationClause.txt.article" | translate }}</label></h5>
        <input name="article"
               class="form-control"
               [required]="true"
               #article="ngModel"
               [ngClass]="{ 'is-invalid': formDerogation.submitted && article.invalid }"
               [(ngModel)]="chapitre?.derogation.articleDerogationCCAG">
        <p *ngIf="formDerogation.submitted && article.errors" class="block-tag text-left">
          <small class="badge badge-danger">{{ "form.required" | translate }}</small>
        </p>
      </div>
      <div class="col-12">
        <h5><label>{{ "creationClause.txt.commentaires" | translate }}</label></h5>
        <textarea name="commentaire"
                  class="form-control"
                  [(ngModel)]="chapitre?.derogation.commentairesDerogationCCAG">
        </textarea>

      </div>
      <hr/>
      <div class="col-12" *ngIf="!!chapitre && !!chapitre.derogation && chapitre.derogation.articleDerogationCCAG?.length>0">
        <span class="content-derogation">
        {{ "creationClause.txt.derogeArticle" | translate }} {{ chapitre.derogation.articleDerogationCCAG }}
        </span>
      </div>
      <!-- Afficher fin article
      <div class="col-12" *ngIf="!!chapitre && !!chapitre.derogation && chapitre.derogation.articleDerogationCCAG?.length>0">
        <h5><label>{{ "creationClause.txt.afficherFinArticle" | translate }} </label></h5>
        <fieldset class="form-group">
          <ui-switch size="small"
                     class="switch-small"
                     [switchColor]="chapitre.afficherMessageDerogation?'green':'red'"
                     color="#dedede"
                     name="compatibiliteCheck"
                     [(ngModel)]="chapitre.afficherMessageDerogation">
          </ui-switch>
        </fieldset>
      </div>
      -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning btn-sm"
              (click)="closeModal()">
        <i class="fa fa-close"></i> {{ "creationClause.btn.annuler" | translate }}
      </button>
      <button type="submit"
              class="btn btn-success btn-sm ml-1">
        <i class="ft-plus"></i>
        {{ "creationClause.btn.ajouter" | translate }}
      </button>
    </div>
  </form>
</div>

