<div class="container-fluid msv2">
  <div class="row">
    <div class="col-md-12">
      <messagerie-filtres (filterChange)="onFilterChange($event)" [objetsMetier]="objetsMetier"
                          [afficherFiltreEntreprise]="afficherFiltreEntreprise" [filtresAppliques]="filtresAppliques"
                          [templates]="templates"></messagerie-filtres>
      <div class="card">
        <table class="card-body table table-bordered" id="tableDashboardEchange">
        <thead>
        <tr>
          <th colspan="4">
            <messagerie-pagination (paginationChange)="paginationChange($event)" [currentPage]="currentPage"
                                   [pageSize]="pageSize"
                                   [pagination]="emails" class="pager"></messagerie-pagination>
          </th>
        </tr>
        <tr>
          <th class="tableDashboardEchange_col_1" scope="col"></th>
          <th class="tableDashboardEchange_col_2" scope="col"><span>Statut</span><br/><span>Evénements</span></th>
          <th class="tableDashboardEchange_col_3" scope="col">
            <span>Type de message | Objet</span><br/><span>Destinataire</span></th>
          <th class="tableDashboardEchange_col_4" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr (onRelancer)="relancer($event,i)" (onShowDetails)="showDetails($event)"
            (onChangerStatut)="changerStatut($event)" (onSupprimer)="supprimerEmail($event)" (onToggleFavori)="toggleFavori($event)"
            *ngFor="let email of emails.content; let i = index" [email]="email"
            [objetsMetier]="objetsMetier" [visionTransverse]="visionTransverse"
            app-ligne-email-agent>
        </tr>

        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <messagerie-pagination (paginationChange)="paginationChange($event)" [currentPage]="currentPage"
                                   [pageSize]="pageSize"
                                   [pagination]="emails" class="pager"></messagerie-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
        <div class="card-footer">
          <button (click)="nouveauMessage()" *ngIf="canCreateMessage()" class="btn btn-md btn-primary float-left"
                  title="Nouveau message" type="button">Nouveau
            message
          </button>
          <button (click)="exporter()" [disabled]="exportEnCours" class="btn  btn-md btn-secondary float-right"
                  type="button">
            <i
              class="fas fa-file-excel mr-1"></i>Exporter les résultats
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div #autoShownModal="bs-modal" (onHidden)="isModalShown=false" *ngIf="isModalShown" [config]="{ show: true}"
     aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-xl modal-large">
    <messagerie-detail (onClose)="isModalShown=false" [email]="selectedEmail"
                       [historique]="historique"></messagerie-detail>
  </div>
</div>
