.cartouche-transverse {
  margin-bottom: 15px;
  line-height: 25px;
  border: solid 1px;
  border-color: #616161;
  border-radius: 3px;
  width: auto;
  display: inline-block;
}

.reference-transverse {
  background-color: #616161;
  color: white;
  font-weight: bold;
}

.child-transverse {
  float: left;
  padding: 4px;
}
