<template>
    <div id="depot">
        <div class="ui-g-12 margin-bottom-10 padding-0 margin-top-20 container-border">
            <div class="padding-left-10 padding-right-10">
                <div class="p-grid" style="margin-top: 0 !important;">
                    <div v-for="col of columns"
                         class="p-col">
                        <cell-component
                                :value="signature[col.field]"
                                :cell-title="col.header"></cell-component>
                    </div>
                    <div class="p-col-fixed" style="margin-right: 8px">
                        <Button type="button"
                                :icon="expanded?'pi pi-angle-up':'pi pi-angle-down'"
                                @click="expanded = !expanded"
                                style="background: #6286b6; border: none; border-radius: 25%"></Button>
                    </div>
                </div>
            </div>
            <div class="padding-left-10 padding-right-10 grey-style">
                <div class="p-grid" style="margin-top: 0 !important;">
                    <div v-for="col of columnsSecond"
                         class="p-col">
                        <cell-component
                                :value="signature[col.field]"
                                :cell-title="col.header"></cell-component>
                    </div>
                </div>
            </div>
            <div v-if="expanded" class="padding-10">
                <div
                        class="ui-g-12 margin-bottom-10 padding-0 margin-top-20 container-border ">
                    <div class="p-grid" style="margin-top: 0 !important;">
                        <div class="p-col">
                            <div class="title-container float-left padding-left-10 padding-right-10">
                                <div>
                                    <h5>Certificat émis à :</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="padding-left-10 padding-right-10 grey-style ">
                        <div class="p-grid"
                             style="margin-top: 0 !important;">
                            <div v-for="col of columnsCertificatEmis"
                                 v-if="signature.signataireDetails[col.field]"
                                 class="p-col">
                                <cell-component
                                        :value="signature.signataireDetails[col.field]"
                                        :cell-title="col.header"></cell-component>
                            </div>
                        </div>
                    </div>


                </div>
                <div
                        class="ui-g-12 margin-bottom-10 padding-0 margin-top-20 container-border  margin-bottom-10">
                    <div class="p-grid" style="margin-top: 0 !important;">
                        <div class="p-col">
                            <div class="title-container float-left padding-left-10 ">
                                <div
                                >
                                    <h5>Certificat émis par :</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="padding-left-10 padding-right-10 grey-style">
                        <div class="p-grid"
                             style="margin-top: 0 !important;">
                            <div v-for="col of columnsCertificatEmis"
                                 v-if="signature.emetteurDetails[col.field]"
                                 class="p-col">
                                <cell-component
                                        :value="signature.emetteurDetails[col.field]"
                                        :cell-title="col.header"></cell-component>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</template>

<script>

    import CellComponent from "../../shared/components/CellComponent";
    import SignatureDetailsModel
        from "../../core/models/signature-details-model";

    export default {
        props: {
            signature: SignatureDetailsModel,
            index: Number
        },
        components: {CellComponent},
        data() {
            return {
                expanded: false,
                columnsCertificatEmis: [
                    {field: 'c', header: 'C (Country)'},
                    {field: 'cn', header: 'CN (Common Name)'},
                    {field: 'e', header: 'E'},
                    {field: 'o', header: 'O (Organization)'},
                    {field: 'ou', header: 'OU (Organization Unit)'},
                    {field: 't', header: 'T'}
                ],
                columns: [
                    {field: 'etat', header: 'etat'},
                    {
                        field: 'dateSignatureValide',
                        header: 'date Signature Valide'
                    },
                    {field: 'dateValiditeDu', header: 'Du'},
                    {field: 'dateIndicative', header: 'date Indicative '},
                    {field: 'dateValiditeAu', header: 'À '},

                ],
                columnsSecond: [
                    {field: 'absenceRevocationCRL', header: 'absence Revocation CRL'},
                    {field: 'repertoiresRevocation', header: 'repertoires Revocation'},
                    {field: 'periodiciteValide', header: 'periodicite Valide'},
                    {field: 'qualifieEIDAS', header: 'qualifie EIDAS'},
                    {field: 'signatureValide', header: 'signature Valide '},
                    {
                        field: 'signatureXadesServeurEnBase64',
                        header: 'signature Xades Serveur En Base64'
                    },
                    {
                        field: 'chaineDeCertificationValide',
                        header: 'chaine De Certification Valide'
                    },
                    {field: 'dateHorodatage', header: 'date Horodatage'},
                    {field: 'jetonHorodatage', header: 'jeton Horodatage'},
                    {field: 'dateHorodatage', header: 'date Horodatage'},
                ]
            }
        }
    }

</script>

<style>
    #depot {
        padding: 20px;
    }

    .p-message-close.p-link {
        margin-left: auto !important;
        overflow: hidden;
        position: relative;
    }
</style>
