{% extends 'base.html.twig' %}
{% block title %}Administrer les Sous-catégories{% endblock %}
{% block head_stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

    <style>
        #recherche .form-group {
            margin-bottom: 10px;
        }

        #recherche .form-inline .form-group:not(:last-child) {
            margin-right: 10px;
        }
    </style>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        $(document).ready(function () {
            $('select[data-filter]').each(function () {
                let filtername = $(this).attr('data-filter');
                if (getParameterByName(filtername) !== null) {
                    let selected_ids = getParameterByName(filtername).split(',');

                    $(this).val(selected_ids).trigger('change');
                }
            });

            // Mettre à jour l'URL avec les filtres sélectionnés
            $('select[data-filter]').change(function () {
                let filters = {};
                $('select[data-filter]').each(function () {
                    $(this).prop('disabled', true);
                    let filter_name = $(this).data('filter');
                    let filter_val = $(this).children('option:selected').map(function () {
                        return this.value;
                    }).get().join(',');
                    filters[filter_name] = filter_val;
                });
                window.location.href = Routing.generate('administration_faq', filters);
            });

            // Initialiser les popovers
            $('i[data-toggle="popover"]').popover();
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('.chosen-select', this).chosen('destroy').chosen();
        });
        $(function() {
            $('.chosen-select').chosen();
        });

        function setIdArticleFaqToDelete (articleFaq_id_to_delete)
        {
            $("#articleFaq_id_to_delete").val(articleFaq_id_to_delete);
        }

        function supprimerArticleFaq ()
        {
            var id_articleFaq =   $('#articleFaq_id_to_delete').val();

            var formData = new FormData();
            formData.append("articleFaq_id", id_articleFaq);

            $.ajax(Routing.generate('ajax_supprimer_faq_process'), {
                type: "POST",
                data: formData,
                processData: false,
                contentType: false
            }).done(function (result) {
                if (result.hasOwnProperty('errors')) {
                    console.log('Erreurs dans le formulaire');
                    $('#errors_delete_tips').html("<div class='alert alert-warning'><p><strong>Des erreurs sont présentes dans le formulaire :</strong></p><ul id='errors_list'></ul></div>");
                    $.each(result['errors'], function (field, error) {
                        var message = error[1];
                        console.log(field + ': ' + message);
                        $('#errors_list').append('<li>' + message + '</li>');
                    });
                } else if (result.hasOwnProperty('redirect')) {
                    console.log('articleFaq: ' + result['articleFaq_title']);
                    $('#closeModalDelete').trigger('click');
                    window.location.replace(result['redirect']);
                } else {
                    console.error('Erreur inconnue :');
                    console.error(result);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Erreur AJAX : ' + textStatus);
                console.error(errorThrown);
            });
            return false;
        }

        function setValuesArticleFaq (articleFaq_id, values_categories, actif)
        {
            viderChampsModal();
            $("#select_categorie").val(values_categories).trigger('change');

            var value_question = $(".question_"+articleFaq_id).text();
            var values_reponse = $(".reponse_"+articleFaq_id).text();
            $("#question").val(value_question);
            $("#reponse").val(values_reponse);

            if(actif == "1") {
                $("#actif").prop( "checked", true );
            }else{
                $("#actif").prop( "checked", false );
            }

            $("#articleFaq_id").val(articleFaq_id);
        }

        function viderChampsModal(){
            $("#select_categorie").val(null).trigger('change');
            $("#question").val("");
            $("#reponse").val("");
            $("#actif").prop( "checked", false );
            $("#articleFaq_id").val("");
        }

        function majArticleFaq (){

            var id_articleFaq =   $('#articleFaq_id').val();
            var categories = $('#select_categorie').val();
            var question =   $('#question').val();
            var reponse = $('#reponse').val();
            var actif_val = $("#actif").prop( "checked" );

            var formData = new FormData();
            formData.append("articleFaq_id", id_articleFaq);
            formData.append("categories", categories);
            formData.append("question", question);
            formData.append("reponse", reponse);
            formData.append("actif", actif_val);

            $.ajax(Routing.generate('ajax_faq_process'), {
                type: "POST",
                data: formData,
                processData: false,
                contentType: false
            }).done(function (result) {
                if (result.hasOwnProperty('errors')) {
                    console.log('Erreurs dans le formulaire');
                    $('#errors_tips').html("<div class='alert alert-warning'><p><strong>Des erreurs sont présentes dans le formulaire :</strong></p><ul id='errors_list'></ul></div>");
                    $.each(result['errors'], function (field, error) {
                        var message = error[1];
                        console.log(field + ': ' + message);
                        $('#errors_list').append('<li>' + message + '</li>');
                    });
                } else if (result.hasOwnProperty('redirect')) {
                    console.log('articleFaq: ' + result['articleFaq_title']);
                    $('#closeModal').trigger('click');
                    window.location.replace(result['redirect']);
                } else {
                    console.error('Erreur inconnue :');
                    console.error(result);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Erreur AJAX : ' + textStatus);
                console.error(errorThrown);
            });

            return false;
        }
    </script>
{% endblock %}
{% block main_content %}
    {% include 'nav.html.twig' %}
<main id="main" class="container" role="main">
    <!--Debut Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Administration</li>
        <li class="breadcrumb-item active" aria-current="page">Question/Réponse - FAQ</li>
    </ol>
    <!--//Fin Breadcrumbs-->

    <!-- Moteur de recherche -->
    <div id="recherche" class="card mt-3">
        <div class="card-body">
            <form class="row row-cols-md-auto align-items-center justify-content-between">
                <!-- Filtres -->
                <div class="col-md-3" data-group="filtres">
                    <div class="col-auto d-flex align-items-center">
                        <label for="categorie" class="col-md-4">Catégorie</label>
                        <div class="col-md-8">
                            <select class="form-select js-select2" multiple data-filter="categorie" data-size="5" data-live-search="true">
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-auto d-flex align-items-center">
                        <label for="actif" class="col-md-4">Actif</label>
                        <div class="col-md-8">
                            <select class="form-select js-select2" multiple data-filter="actif" data-size="5">
                                <option value="1">Actif</option>
                                <option value="0">Non actif</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 ms-3">
                        <span title="Retirer les filtres" class="fa-stack d-flex align-items-center justify-content-center" onclick="window.location.href = Routing.generate('administration_faq');" style="cursor: pointer;">
                            <i class="fa fa-filter fa-stack-1x"></i>
                            <i class="fa fa-ban fa-stack-2x text-danger"></i>
                        </span>
                </div>
                <!-- /Filtres -->
            </form>
        </div>
    </div>
    <!-- /Moteur de recherche -->

    <!-- Faqs filtrés -->
    {% if pagination is empty %}
        <h4>Aucune question-réponse correspondant à ces filtres.</h4>
    {% else %}
        <h4>{% if nbr_criteres > 0 %}<i class="fa fa-filter" aria-hidden="true"></i> {% endif %}{{ pagination.getTotalItemCount }} Question{{ pagination.getTotalItemCount != 1 ? 's' }}-Réponse{{ pagination.getTotalItemCount != 1 ? 's' }} {% if nbr_criteres > 0 %}filtrée{{ pagination.getTotalItemCount != 1 ? 's' }}{% endif %}</h4>
        <div class="alert alert-success" role="alert" style="display: {{  (message_confirm == '')? 'none':'' }}">
            {{ message_confirm }}
        </div>
        <table class="table table-hover table-responsive table-striped table-condensed">
            <thead>
            <tr>
                <th class="col-md-3">Catégorie <small>[Acteurs] (Progiciels)</small></th>
                <th class="col-md-3">Question</th>
                <th class="col-md-4">Réponse</th>
                <th class="col-md-1">Actif</th>
                <th class="col-md-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            <script>
                var values_categorie = new Array();
                var values_actif = new Array();
            </script>
            {% for articleFaq in pagination %}
                <tr>
                    <td>
                        <script> values_categorie[{{ articleFaq.id }}] = "";</script>
                        {% for key, categorie in articleFaq.categories %}
                            <script> values_categorie[{{ articleFaq.id }}] += "{{( (key!=0)? ',':'' ) ~ categorie.id }}"; </script>
                            {% if key %}
                            <div class="clearfix">
                                <hr style="margin-top:5px; margin-bottom:5px; border-style: dashed;" class="col-md-9">
                            </div>
                            {% endif %}
                            <div>
                                <strong>{{ categorie.nom }} : </strong>
                                <small>
                                    [
                                    {% for key, acteur in categorie.acteurs %}
                                        {% if key %} , {% endif %}
                                        {{ acteur.libelle }}
                                    {% endfor %}
                                    ]
                                </small>
                            </div>
                            <div>
                                <small>
                                    (
                                    {% for key, progiciel in categorie.progiciels %}
                                        {% if key %} , {% endif %}
                                        {{ progiciel.nom }}
                                    {% endfor %}
                                    )
                                </small>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <span class="question_{{ articleFaq.id }}">{{ articleFaq.title }}</span>
                    </td>
                    <td>
                        <span class="reponse_{{ articleFaq.id }}">{{ articleFaq.content }}</span>
                    </td>
                    <td>
                        <script> values_actif[{{ articleFaq.id }}] = "{{ articleFaq.locked }}";</script>
                        <i class="fa {{ articleFaq.locked  ? 'fa-check text-success' :'fa-times text-danger' }}"
                           aria-hidden="true"></i>
                    </td>
                    <td>
                        <button title="Modifier" class="btn btn-primary btn-sm text-white me-2"
                                data-bs-toggle="modal"
                                data-bs-target="#myModal"
                                onclick="setValuesArticleFaq({{ articleFaq.id }}, values_categorie[{{ articleFaq.id }}], values_actif[{{ articleFaq.id }}]);">
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                        </button>
                        <button title="Supprimer" class="btn btn-danger btn-sm text-white"
                                data-bs-toggle="modal"
                                data-bs-target="#myModalDelete"
                                onclick="setIdArticleFaqToDelete({{ articleFaq.id }})">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </nav>
            </div>
        </div>
    {% endif %}
    <!-- /Faqs filtrés -->
    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-center">
            <a class="btn btn-primary text-white ms-2 rounded-pill px-4 py-2" id="js-add-category-modal"
               data-bs-toggle="modal" data-bs-target="#myModal" onclick="viderChampsModal()">
                Ajouter une question
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</main>

<div class="modal modal-lg fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajouter/Modifier la question-réponse</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="errors_tips"></div>
                <form class="form-horizontal" role="form">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="select_categorie">
                            <b>Catégorie <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <select id="select_categorie" class="form-select form-select-sm js-select2" multiple data-placeholder="Sélectionnez...">
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}">{{ categorie.nom }} {{ (categorie.locked) ? '(Actif)' : '(Non actif)' }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="question">
                            <b>Question <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <textarea name="question" id="question" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="reponse">
                            <b>Réponse <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <textarea name="reponse" id="reponse" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3 d-flex align-items-center">
                        <label class="col-md-3 col-form-label" for="actif">Actif :</label>
                        <div class="col-md-9">
                            <input class="form-check-label" type="checkbox" name="actif" id="actif"/>
                        </div>
                    </div>
                    <input type="hidden" name="articleFaq_id" id="articleFaq_id" value="">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary text-white" onclick="majArticleFaq()">Valider</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer la question-réponse</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="errors_delete_tips"></div>
                    <p>Etes vous sûr de vouloir supprimer la question-réponse?</p>
                    <input type="hidden" name="articleFaq_id_to_delete" id="articleFaq_id_to_delete" value="">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="closeModalDelete">Fermer</button>
                    <button type="button" class="btn btn-primary text-white" onclick="supprimerArticleFaq()">Valider</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
