{% extends 'base.html.twig' %}
{% block title %}Administrer les catégories{% endblock %}
{% block head_stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

    <style>
        #recherche .form-group {
            margin-bottom: 10px;
        }

        #recherche .form-inline .form-group:not(:last-child) {
            margin-right: 10px;
        }
    </style>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        $(document).ready(function () {
            document.querySelector('#js-add-category-modal').addEventListener('click', () => {
                viderChampsModal();
            });

            $('select[data-filter]').each(function () {
                let filtername = $(this).attr('data-filter');
                if (getParameterByName(filtername) !== null) {
                    let selected_ids = getParameterByName(filtername).split(',');

                    $(this).val(selected_ids).trigger('change');
                }
            });

            // Mettre à jour l'URL avec les filtres sélectionnés
            $('select[data-filter]').change(function () {
                let filters = {};
                $('select[data-filter]').each(function () {
                    $(this).prop('disabled', true);
                    let filter_name = $(this).data('filter');
                    let filter_val = $(this).children('option:selected').map(function () {
                        return this.value;
                    }).get().join(',');
                    filters[filter_name] = filter_val;
                });
                window.location.href = Routing.generate('administration_categorie', filters);
            });

            // Initialiser les popovers
            $('i[data-toggle="popover"]').popover();
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('.chosen-select', this).chosen('destroy').chosen();
        });
        $(function() {
            $('.chosen-select').chosen();
        });

        function setIdCategorieToDelete (categorie_id_to_delete)
        {
            $("#categorie_id_to_delete").val(categorie_id_to_delete);
        }

        function supprimerCategorie ()
        {
            var id_categorie =   $('#categorie_id_to_delete').val();

            var formData = new FormData();
            formData.append("categorie_id", id_categorie);

            $.ajax(Routing.generate('ajax_supprimer_categorie_process'), {
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.hasOwnProperty('errors')) {
                        $('#errors_delete_tips').html("<div class='alert alert-warning'><p><strong>Des erreurs sont présentes dans le formulaire :</strong></p><ul id='errors_list'></ul></div>");
                        $.each(result['errors'], function (field, error) {
                            var message = error[1];
                            $('#errors_list').append('<li>' + message + '</li>');
                        })
                    } else if (result.hasOwnProperty('redirect')) {
                        $('#closeModalDelete').trigger('click');
                        window.location.replace(result['redirect']);
                    } else {
                        console.error('Erreur inconnue :');
                        console.error(result);
                    }
                }
            });
            return false;
        }

        function setValuesCategorie (categorie_id, values_progiciels, values_acteurs, actif, code)
        {
            viderChampsModal();
            $("#select_progiciel").val(values_progiciels).trigger('change');

            let value_categorie = $(".categorie_"+categorie_id).text();
            $("#categorie").val(value_categorie);

            $("#code").val(code);

            $("#select_acteur").val(values_acteurs.split(',')).trigger('change');

            if(actif == "1") {
                $("#actif").prop( "checked", true );
            }else{
                $("#actif").prop( "checked", false );
            }

            $("#categorie_id").val(categorie_id);
        }

        function viderChampsModal(){
            $("#select_progiciel").val(null).trigger('change');
            $("#categorie").val("");
            $("#select_acteur").val(null).trigger('change');
            $("#actif").prop( "checked", false );
            $("#categorie_id").val("");
            $("#code").val("");
        }

        function majCategorie (){

            let categorie_nom =   $('#categorie').val();
            let id_categorie =   $('#categorie_id').val();
            let progiciels = $('#select_progiciel').val();
            let acteurs = $('#select_acteur').val();
            let code = $('#code').val();
            let actif_val = $("#actif").prop( "checked" );

            let formData = new FormData();
            formData.append("categorie_nom", categorie_nom);
            formData.append("categorie_id", id_categorie);
            formData.append("progiciels", progiciels);
            formData.append("acteurs", acteurs);
            formData.append("actif", actif_val);
            formData.append("code", code);

            $.ajax(Routing.generate('ajax_categorie_process'), {
                type: "POST",
                data: formData,
                processData: false,
                contentType: false
            }).done(function (result) {
                if (result.hasOwnProperty('errors')) {
                    console.error('Erreurs dans le formulaire');

                    $('#errors_tips').html("<div class='alert alert-warning'><p><strong>Des erreurs sont présentes dans le formulaire :</strong></p><ul id='errors_list'></ul></div>");
                    $.each(result['errors'], function (field, error) {
                        var message = error[1];
                        $('#errors_list').append('<li>' + message + '</li>');
                    });
                } else if (result.hasOwnProperty('redirect')) {
                    console.log('catégorie: ' + result['categorie_nom']);
                    $('#closeModal').trigger('click');
                    window.location.replace(result['redirect']);
                } else {
                    console.error('Erreur inconnue :');
                    console.error(result);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Erreur AJAX : ' + textStatus);
                console.error(errorThrown);
            });

            return false;

        }
    </script>
{% endblock %}
{% block main_content %}
    {% include 'nav.html.twig' %}
    <main id="main" class="container" role="main">
        <!--Debut Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Administration</li>
            <li class="breadcrumb-item active" aria-current="page">Catégories</li>
        </ol>

        <!--//Fin Breadcrumbs-->

        <!-- Moteur de recherche -->
        <div class="row">
            <div class="col-md-12">
                <div class="card  mt-3">
                    <div id="recherche" class="card-body">
                        <form class="row row-cols-md-auto align-items-center justify-content-between">
                            <!-- Filtres -->
                            <div class="col-md-3" data-group="filtres">
                                <div class="col-auto d-flex align-items-center">
                                    <label for="progiciel" class="col-md-4">Progiciel</label>

                                    <div class="col-md-8">
                                        <select class="form-select js-select2" multiple data-filter="progiciel" data-size="5" data-live-search="true">
                                            {% for progiciel in progiciels %}
                                                <option value="{{ progiciel.id }}">{{ progiciel.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-auto d-flex align-items-center">
                                    <label for="categorie" class="col-md-4">Catégorie</label>

                                    <div class="col-md-8">
                                        <select class="form-select js-select2" multiple data-filter="categorie" data-size="5" data-live-search="true">
                                            {% for categorie in categories %}
                                                <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-auto d-flex align-items-center">
                                    <label for="categorie" class="col-md-4">Acteur</label>

                                    <div class="col-md-6">
                                        <select class="form-select js-select2" multiple data-filter="acteur" data-size="5" data-live-search="true">
                                            {% for acteur in acteurs %}
                                                <option value="{{ acteur.id }}">{{ acteur.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-auto d-flex align-items-center">
                                    <label for="actif" class="col-md-4">Actif</label>

                                    <div class="col-md-6">
                                        <select class="form-select js-select2" multiple data-filter="actif" data-size="5">
                                            <option value="1">Actif</option>
                                            <option value="0">Non actif</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 ms-3"> <!-- Set margin to 0 to bring them even closer -->
                                        <span title="Retirer les filtres" class="fa-stack d-flex align-items-center justify-content-center" onclick="window.location.href = Routing.generate('administration_categorie');" style="cursor: pointer;">
                                                <i class="fa fa-filter fa-stack-1x"></i>
                                                <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Filtres -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Moteur de recherche -->

        <!-- Faqs filtrés -->
        {% if pagination is empty %}
            <h4>Aucune catégorie de demande correspondant à ces filtres.</h4>
        {% else %}
            <h5  class="h5"><strong>{% if nbr_criteres > 0 %}<i class="fa fa-filter" aria-hidden="true"></i> {% endif %}{{ pagination.getTotalItemCount }}  catégorie{{ pagination.getTotalItemCount != 1 ? 's' }} de demande {% if nbr_criteres > 0 %}filtrée{{ pagination.getTotalItemCount != 1 ? 's' }}{% endif %}</strong></h5>
            <div class="alert alert-success" role="alert" style="display: {{  (message_confirm == '')? 'none':'' }}">
                {{ message_confirm }}
            </div>
            <table class="table table-hover table-responsive table-striped table-condensed">
                <thead>
                <tr>
                    <th class="col-md-3">Progiciel</th>
                    <th class="col-md-4">Catégorie de demande</th>
                    <th class="col-md-3">Acteur</th>
                    <th class="col-md-1">Code</th>
                    <th class="col-md-1">Actif</th>
                    <th class="col-md-1 text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <script>
                    var values_progiciel = new Array();
                    var values_acteur = new Array();
                    var values_actif = new Array();
                </script>
                {% for  categorie in pagination %}

                    <tr>
                        <td>
                            <ul class="list-unstyled">
                                {% set valuesProgiciels = '' %}
                                {% for key, progiciel in categorie.progiciels  %}
                                    {% set valuesProgiciels = valuesProgiciels ~ ( (key!=0)? ',':'' ) ~ progiciel.id %}
                                    <li class="progiciel">{{ progiciel.nom }}</li>
                                {% endfor %}
                            </ul>
                            <script> values_progiciel[{{ categorie.id }}] = "{{ valuesProgiciels }}";</script>
                        </td>
                        <td>
                            <span class="categorie_{{ categorie.id }}">{{ categorie.nom }}</span>
                        </td>
                        <td>
                            <ul class="list-unstyled list-inline">
                                {% set valuesActeurs = '' %}
                                {% for key ,acteur in categorie.acteurs   %}
                                    {% set valuesActeurs = valuesActeurs ~ ( (key!=0)? ',':'' ) ~ acteur.id %}
                                    {{  (key!=0)? '<li>,</li>':'' }}
                                    <li>{{ acteur.libelle  }}</li>
                                {% endfor %}
                            </ul>
                            <script> values_acteur[{{ categorie.id }}] = "{{ valuesActeurs }}";</script>
                        </td>
                        <td>
                            <ul class="list-unstyled list-inline">
                                <li>{{ categorie.code  }}</li>
                            </ul>
                        </td>
                        <td>
                            <script> values_actif[{{ categorie.id }}] = "{{ categorie.locked}}";</script>
                            <span class="text-white">
                                            <i class="fa {{ categorie.locked  ? 'fa-check text-success' :'fa-times text-danger' }}"
                                               aria-hidden="true"></i>
                                        </span>
                        </td>
                        <td class="d-flex justify-content-center align-items-center p-4">
                            <button title="Modifier" class="btn btn-primary btn-sm text-white me-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModal"
                                    onclick="setValuesCategorie(
                                    {{ categorie.id }},
                                            values_progiciel[{{ categorie.id }}],
                                            values_acteur[{{ categorie.id }}],
                                            values_actif[{{ categorie.id }}],
                                            '{{ categorie.code }}'
                                            );">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </button>
                            <button title="Supprimer" class="btn btn-danger btn-sm text-white"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModalDelete"
                                    onclick="setIdCategorieToDelete({{ categorie.id }})">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </nav>
                </div>
            </div>
        {% endif %}

        <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-center">
                <a class="btn btn-primary text-white ms-2 rounded-pill px-4 py-2" id="js-add-category-modal"
                   data-bs-toggle="modal" data-bs-target="#myModal" onclick="viderChampsModal()">
                    Ajouter une catégorie
                </a>
            </div>
        </div>
        <!-- /Faqs filtrés -->
    </main>
    <<div class="modal modal-lg fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajouter/Modifier la catégorie de demande</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="errors_tips"></div>
                <form class="form-horizontal" role="form">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="select_progiciel">
                            <b>Progiciel <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <select id="select_progiciel" class="form-select form-select-sm js-select2"
                                    data-placeholder="Sélectionnez...">
                                {% for progiciel in progiciels %}
                                    <option value="{{ progiciel.id }}">{{ progiciel.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="js-category-code">
                            <b>Code <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <input name="code" id="code" class="form-control" maxlength="8">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="categorie">
                            <b>Catégorie <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <textarea name="categorie" id="categorie" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label" for="select_acteur">
                            <b>Acteur <abbr title="Champ obligatoire" class="required">*</abbr>:</b>
                        </label>
                        <div class="col-md-9">
                            <select id="select_acteur" class="form-select form-select-sm js-select2"
                                    data-placeholder="Sélectionnez...">
                                {% for acteur in acteurs %}
                                    <option value="{{ acteur.id }}">{{ acteur.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3 d-flex align-items-center">
                        <label class="col-md-3 col-form-label" for="js-category-actif">Actif :</label>
                        <div class="col-md-9">
                            <input class="form-check-label" type="checkbox" name="actif" id="actif"/>
                        </div>
                    </div>
                    <input type="hidden" name="categorie_id" id="categorie_id" value="">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary text-white" onclick="majCategorie()">Valider</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer la catégorie de demande</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="errors_delete_tips"></div>
                    <p>Etes vous sûr de vouloir supprimer la catégorie de demande?</p>
                    <input type="hidden" name="categorie_id_to_delete" id="categorie_id_to_delete" value="">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary text-white" onclick="supprimerCategorie()">Valider</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}