<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left font-weight-bold">
            {{titre | translate}} {{clauseBean?.referenceClause}}
        </h4>
        <i class="la la-times"
           style="margin-top: auto;margin-bottom: auto; cursor: pointer"
           (click)="closeModal()"></i>
    </div>

    <div class="modal-body pr-0 pl-0 pb-0">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
        <div class="col-12" *ngIf="clauseBean || clauseDocument">
            <atx-preview-clause [editeur]="editeur"
                                [agent]="agent"
                                [direction]="direction"
                                [surcharge]="surcharge"
                                [clauseBean]="clauseBean"
                                [clauseDocument]="clauseDocument"></atx-preview-clause>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="closeModal()"
                class="btn btn-warning btn-sm ml-1">
            <i class="fa fa-close"></i>
            {{"retour" | translate}}
        </button>
    </div>
</div>

