<div class="rubrique">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <img src="{{ asset('app/img/id_lang_1.svg') }}" alt="Version française" width="50">
                        <span class="version">{{ 'VERSION_FRANCAISE'|trans }}</span>
                    </div>
                    <div class="form-group">
                        <label for="name-fr">{{ 'NOM_RUBRIQUE'|trans }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name-fr" v-model="nameFr" :maxlength="maxLength">
                        <label for="name-fr" class="text-danger" v-if="isEmptyNameFr"> {{ 'CHAMPS_OBLIGATOIRE'|trans }}</label>
                        <label for="name-fr" class="text-danger" v-if="nameFr.length > maxLength">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLength }} {% endverbatim %}.
                        </label>
                    </div>
                </div>
                <div class="col-md-6" v-if="page == 'entreprise'">
                    <div class="form-group">
                        <img src="{{ asset('app/img/id_lang_2.svg') }}" alt="Version anglaise" width="50">
                        <span class="version">{{ 'VERSION_ANGLAISE'|trans }}</span>
                    </div>
                    <div class="form-group">
                        <label for="name-en">{{ 'NOM_RUBRIQUE'|trans }} <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name-en" v-model="nameEn" :maxlength= "maxLength">
                        <label for="name-en" class="text-danger" v-if="isEmptyNameEn">{{ 'CHAMPS_OBLIGATOIRE'|trans }}</label>
                        <label for="name-en" class="text-danger" v-if="nameEn.length > maxLength">
                            {{ 'LONGUEUR_MAXIMALE_EST_DE'|trans }} {% verbatim %} {{ maxLength }} {% endverbatim %} .
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-actions">
        <a href="{{ PF_URL }}?page=Agent.ModuleAutoformation&access={{ page }}" class="btn btn-default cancel">{{ 'TEXT_ANNULER'|trans }}</a>
        <button class="btn btn-primary add" v-on:click="postData" type="button">
            {% if context['id'] is defined %} {{ 'ENREGISTRER_RUBRIQUE'|trans }} {% else %}  {{ 'AJOUT_RUBRIQUE'|trans }} {% endif %}
        </button>
    </div>

</div>
