<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm-4" :title="data.tooltip">
                    {{ data.label }}
                    <span class="text-danger">*</span>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <input :disabled="disabled" type="radio" :value="data['@id']" v-model="checked" :id="yesLabel.toLowerCase() + getIdByUri(data['@id'])"/>
                            <label :for="yesLabel.toLowerCase() + getIdByUri(data['@id'])">{{ yesLabel }}</label>
                        </div>
                        <div class="col-sm-3">
                            <input :disabled="disabled" type="radio" value="0" v-model="checked" :id="noLabel.toLowerCase() + getIdByUri(data['@id'])" ref="delete"
                                   :data-uri="data['@id']"/>
                            <label :for="noLabel.toLowerCase() + getIdByUri(data['@id'])">{{ noLabel }}</label>
                            <img src="/themes/images/picto-check-not-ok.gif" :alt="requiredField" v-if="!isValid && isSubmit">
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="checked.length > 1">
                <clauses-n2
                    v-for="(clauseN2, index) in values"
                    :clause-n2="clauseN2"
                    :key="index"
                    :index-n2="(indexN2ValueSave != null) ? indexN2ValueSave : index"
                    :token="token"
                    :values-save="valuesSaveClauseN2"
                    :search-criteria="searchCriteria"
                    :tiny-emitter="tinyEmitter"
                    ref="clause2"
                    @send-validate-clause-n1="validate"
                    @send-add-value-clause2="addValueN2"
                    @send-remove-value-clause2="removeValueN2"
                    @send-add-value-clause3="addValueN3"
                    @send-remove-value-clause3="removeValueN3"
                    @send-add-value-clause4="addValueN4"
                    @send-remove-value-clause4="removeValueN4"
                >
                </clauses-n2>
            </div>
        </form>
    </div>
</template>
<script>
import ClausesN2 from "./ClausesN2.vue";
import axios from "axios";
import referentielClauseService from "../../services/referentielClause.service";

export default {
    components: {
        'clauses-n2': ClausesN2
    },
    props: ['data', 'token', 'uri', 'yesLabel', 'noLabel', 'searchCriteria', 'requiredField', 'tinyEmitter'],
    data() {
        return {
            disabled: false,
            checked: '',
            values: [],
            valuesSaveClauseN2: [],
            valuesSave: [],
            clause: {
                referentielClauseN1: null,
                clausesN2: [],
                isValid: false,
            },
            isSubmit: false,
            isValid: false,
            indexN2ValueSave: null
        }
    },
    methods: {
        initData() {
            if (typeof this.valuesSave.clauses != 'undefined') {
                this.updateMode(this.valuesSave.clauses);
            } else {
                this.createMode();
            }
        },
        createMode() {
            this.clause.referentielClauseN1 = this.data['@id'];
            this.$emit('send-add-value-clause1', {data: this.clause});
        },
        updateMode(clauses) {
            this.checked = '0'
            clauses.forEach((clause, index) => {
                if (clause.label === this.data.label) {
                    this.indexN2ValueSave = this.getIdByUri(this.data['@id']) - 1;
                    this.checked = this.data['@id'];
                    this.valuesSaveClauseN2 = clause['clausesN2'];
                } else {
                    this.removeValueN1(this.data['@id']);
                }
            });
        },
        getData() {
            const options = {
                headers: {Authorization: `Bearer ${this.token}`}, params: { clauseN1 : this.getIdByUri(this.checked), actif : true }
            };
            referentielClauseService.getReferentielsN2(options).then(response => {
                if (response.data['hydra:totalItems'] > 0) {
                    this.values = response.data['hydra:member'];
                }
            });
        },
        getDataSave() {
            if (typeof this.uri != 'undefined' && this.uri != '') {
                const options = {
                    headers: {Authorization: `Bearer ${this.token}`}
                };
                axios.get(this.uri, options).then(response => {
                    this.valuesSave = response.data;
                    this.initData();
                });
            } else {
                this.initData();
            }
        },
        getIdByUri(uri) {
            return uri.split("/").pop();
        },
        addValueN2(payload) {
            const obj = {
                referentielClauseN2: payload.id,
                clausesN3: []
            };
            this.clause.clausesN2.push(obj);
        },
        removeValueN1(referentielClauseN1) {
            this.clause = {
                referentielClauseN1: null,
                clausesN2: [],
            };
            this.$emit('send-remove-value-clause1', {referentielClauseN1: referentielClauseN1});
        },
        removeValueN2(payload) {
            this.clause.clausesN2 = this.clause.clausesN2.filter(data => data.referentielClauseN2 !== payload.id);
        },
        addValueN3(payload) {
            const obj = {
                referentielClauseN3: payload.id,
                clausesN4: [],
            };

            const index = this.clause.clausesN2.findIndex(object => {
                return object.referentielClauseN2 == payload.referentielClauseN2;
            });

            if (index >= 0) {
                this.clause.clausesN2[index].clausesN3.push(obj);
            }
        },
        removeValueN3(payload) {
            const index = this.clause.clausesN2.findIndex(object => {
                return object.referentielClauseN2 == payload.referentielClauseN2;
            });

            if (index >= 0) {
                this.clause.clausesN2[index].clausesN3 = this.clause.clausesN2[index].clausesN3.filter(data => data.referentielClauseN3 !== payload.id);
            }
        },
        addValueN4(payload) {
            const obj = {
                referentielClauseN4: {'id' : payload.referentielClauseN4['id'], 'value': payload.referentielClauseN4['value']},
            };
            const indexN2 = this.clause.clausesN2.findIndex(object => {
                return object.referentielClauseN2 == payload.referentielClauseN2;
            });

            const indexN3 = this.clause.clausesN2[indexN2].clausesN3.findIndex(object => {
                return object.referentielClauseN3 == payload.referentielClauseN3
            })

            const indexN4 = this.clause.clausesN2[indexN2].clausesN3[indexN3].clausesN4.findIndex(object => {
                return object.referentielClauseN4.id == payload.referentielClauseN4['id']
            })

            if (indexN4 >= 0) {
                this.clause.clausesN2[indexN2].
                    clausesN3[indexN3].
                    clausesN4[indexN4].referentielClauseN4['value'] = payload.referentielClauseN4['value'];
            } else {
                this.clause.clausesN2[indexN2].clausesN3[indexN3].clausesN4.push(obj);
            }
        },
        removeValueN4(payload) {
            const indexN2 = this.clause.clausesN2.findIndex(object => {
                return object.referentielClauseN2 == payload.referentielClauseN2;
            });

            const indexN3 = this.clause.clausesN2[indexN2].clausesN3.findIndex(object => {
                return object.referentielClauseN3 == payload.referentielClauseN3
            })

            const indexN4 = this.clause.clausesN2[indexN2].clausesN3[indexN3].clausesN4.findIndex(object => {
                return object.referentielClauseN4.id === payload.referentielClauseN4['id']
            })

            if (indexN4 >= 0) {
                this.clause.clausesN2[indexN2].clausesN3[indexN3].clausesN4 = this.clause.clausesN2[indexN2].clausesN3[indexN3].clausesN4.
                filter(object => object.referentielClauseN4.id !== payload.referentielClauseN4['id']);
            }
        },
        validate() {
            this.isSubmit = true;
            this.clause.isValid = false;
            this.isValidN2();
            if (this.checked != '' && this.checked == '0') {
                this.clause.isValid = true;
            } else if (this.clause.clausesN2.length > 0 && this.isValidN2()) {
                this.clause.isValid = true;
            }
            this.isValid = this.clause.isValid;
            this.tinyEmitter.emit('send-validate-clauses', this.clause.isValid);
        },
        isValidN2() {
            // if (typeof this.$refs.clause2 != 'undefined') {
            //     let values = this.$refs.clause2.filter(data => data.isValid == false && data.isChecked == true);
            //     return values.length == 0;
            // } else {
                return true
            // }
        },
        disable() {

            let queryString = window.location.search;
            let urlParams = new URLSearchParams(queryString);
            let locationFilter = '';
            if (urlParams.has('page')) {
                locationFilter = urlParams.get('page');
                if (locationFilter === 'Agent.PopupDetailLot') {
                    this.disabled = true;
                }
            }
        },
    },
    watch: {
        checked(value, oldValue) {
            this.disable();
            if (this.checked != '0') {
                this.getData();
                this.clause.referentielClauseN1 = value;
                this.$emit('send-add-value-clause1', {data: this.clause});
            } else {
                this.removeValueN1(this.$refs.delete.dataset.uri);
            }
        },
    },
    created() {
        this.tinyEmitter.on('send-validate-clause-n2', () => {
          this.validate();
        });
        this.getDataSave();
    },
}
</script>
