<!--
  - Copyright (C) Atexo - All Rights Reserved
  - Unauthorized copying of this file, via any medium is strictly prohibited
  - Proprietary and confidential
  -->
<template>
    <div class="row">
        <div class="col-sm-12 ml-4">
            <input :disabled="disabled" class="form-check-input" type="checkbox"
                   :id="clauseN2.slug"
                   v-model="checkedNames"
                   @click="oncheck(clauseN2['@id'])"
            >
            <label :for="clauseN2.slug" :title="clauseN2.tooltip">{{ clauseN2.label }}</label>
        </div>
        <div class="col-sm-12 ml-4">
            <clauses-n3 ref="critereselect"
                        :show="isChecked"
                        :clause-n2="clauseN2"
                        :index-clause2="indexN2"
                        :token="token"
                        :values-save="valuesSaveClauseN3"
                        :search-criteria="searchCriteria"
                        @send-add-value-clause3="addValueN3"
                        @send-remove-value-clause3="removeValueN3"
                        @send-is-not-empty-clauses-n3="setHasValuesN3"
                        @send-add-value-clause4="addValueN4"
                        @send-remove-value-clause4="removeValueN4"
            ></clauses-n3>
        </div>
    </div>
</template>
<script>
import ClausesN3 from "./ClausesN3";

export default {
    components: {
        'clauses-n3': ClausesN3
    },
    props: ['clauseN2', 'indexN2', 'token', 'valuesSave', 'searchCriteria', 'tinyEmitter'],
    data() {
        return {
            disabled: false,
            checkedNames: false,
            isChecked: false,
            isValid: false,
            hasValueN3: false,
            valuesSaveClauseN3: [],
        }
    },
    methods: {
        initData() {
            this.valuesSave.forEach((clause) => {
                if (clause.label === this.clauseN2.label) {
                    this.checkedNames = true;
                    this.valuesSaveClauseN3 = clause.clausesN3;
                    this.oncheck(this.clauseN2['@id'])
                }
            });
        },
        oncheck(id) {
            this.isChecked = !this.isChecked;
            if (this.isChecked) {
                this.$emit('send-add-value-clause2', {id: id});
            } else {
                this.$emit('send-remove-value-clause2', {id: id});
            }
        },
        addValueN3(payload) {
            this.$emit('send-add-value-clause3', payload);
        },
        removeValueN3(payload) {
            this.$emit('send-remove-value-clause3', {id: payload.id, referentielClauseN2: this.clauseN2['@id']});
        },
        addValueN4(payload) {
            this.$emit(
                'send-add-value-clause4',
                {
                    referentielClauseN2: this.clauseN2['@id'],
                    referentielClauseN3: payload.referentielClauseN3,
                    referentielClauseN4: payload.referentielClauseN4
                }
            );
        },
        removeValueN4(payload) {
            this.$emit(
                'send-remove-value-clause4',
                {
                    referentielClauseN2: this.clauseN2['@id'],
                    referentielClauseN3: payload.referentielClauseN3,
                    referentielClauseN4: payload.referentielClauseN4
                }
            );
        },
        setHasValuesN3(payload) {
            this.hasValueN3 = payload;
        },
        validate() {
            this.isValid = true;
            if (
                (this.isChecked && this.hasValueN3)
                && (typeof this.$refs.critereselect === 'undefined' || this.$refs.critereselect.value.length == 0)
            ) {
                this.isValid = false;
            }
            this.$emit('send-validate-clause-n1');
        },
        disable() {

            let queryString = window.location.search;
            let urlParams = new URLSearchParams(queryString);
            let locationFilter = '';
            if (urlParams.has('page')) {
                locationFilter = urlParams.get('page');
                if (locationFilter === 'Agent.PopupDetailLot') {
                    this.disabled = true;
                }
            }
        },
    },
    created() {
        this.disable();
        this.tinyEmitter.on('send-validate-clause-n2', () => {
            this.validate();
        });
        this.initData();
    },
}
</script>
