<div *ngIf="isModalSyntheseContratShown" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
     class="modal" tabindex="-1" role="dialog" aria-labelledby="titreDialogue_detailContrats"
     aria-hidden="true" id="myModal_detailContrats">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="isModalSyntheseContratShown=false"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_detailContrats">Synthèse des contrats</h4>
            </div>
            <div class="modal-body panel-table" style="max-height: 500px;overflow-y: scroll">
                <!--Debut Panel Filtres-->
                <accordion [isAnimated]="true">
                    <accordion-group [heading]="'Filtrer par'" [isOpen]="true">
                        <form class="form-horizontal" role="form">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label" for="inputKeyword">Mots-clés
                                    <abbr class="icon"
                                          tabindex="0"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="Rechercher (3 caractères minimum) sur l'objet, le numéro ou l'agent responsable du contrat">
                                        <i class="fa fa-question-circle"><span
                                            class="sr-only">Aide</span></i></abbr></label>
                                <div class="col-sm-10">
                                    <input
                                        placeholder="Rechercher (3 caractères minimum) sur l'objet, le numéro ou l'agent responsable du contrat"
                                        name="motsCles" (keyup)="onSearchKeyUp($event)"
                                        [(ngModel)]="falseMotsCle"
                                        type="text"
                                        class="form-control" id="inputKeyword">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">Statut</label>

                                <div class="col-sm-10">
                                    <div class="btn-group btn-statut" data-toggle="">
                                        <label class="btn btn-default"
                                               [class.active]="criteria?.statutProvisoire"
                                               (click)="checkStatutsProvisoire()">
                                            Provisoire
                                        </label>
                                        <label class="btn btn-default" [class.active]="criteria?.statutEnCours"
                                               (click)="checkStatutsEnCours()">
                                            En cours
                                        </label>
                                        <label class="btn btn-default" [class.active]="criteria?.statutClos"
                                               (click)="checkStatutsEnCLos()">
                                            Clos
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label" for="inputKeyword">Etablissement</label>
                                <div class="col-sm-10">
                                    <ng-select name="etablissements" [multiple]="true"
                                               [items]="fournisseur.etablissements"
                                               (change)="selectSiretByType($event)"
                                    >
                                        <ng-template let-item="item" ng-option-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                                        </ng-template>
                                        <ng-template let-item="item" ng-label-tmp>
                                    <span class="ng-value-label">{{ item?.fournisseur?.raisonSociale }}
                                        - <b>{{ item.siret }}</b></span>
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
                <!--Fin Panel Filtres-->
                <div class="panel-table" *ngIf="contratEtablissemnts?.totalElements == 0">
                    <div class="repeater-header">
                        <div class="repeater-header-left">
                            <h3 class="repeater-header-title">Aucun résultat trouvé.</h3>
                        </div>
                    </div>
                </div>
                <div *ngIf="contratEtablissemnts?.totalElements != 0">
                    <div class="repeater-header" >
                        <div class="repeater-header-left">
                            <ltexec-table-elements-count [page]="contratEtablissemnts"></ltexec-table-elements-count>
                        </div>
                        <div class="repeater-header-right">

                            <!--Debut Pagnination top-->
                            <ltexec-table-pagination [table]="this" [page]="contratEtablissemnts"></ltexec-table-pagination>
                            <!--Fin Pagnination top-->

                        </div>
                    </div>
                    <table class="table bordered-table zebra-striped table-consultations table-hover">
                        <caption class="sr-only">Liste des contrats clos</caption>
                        <thead>
                        <tr>
                            <th scope="col">Contrat </th>
                            <th scope="col" class="col-dates">Notification</th>
                            <th scope="col" class="col-md-3">Prestations fournisseur EUR&nbsp;HT </th>
                            <th scope="col" class="col-md-1 col-actions">Détail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let contratEtablissement of contratEtablissemnts.content">
                            <td>
                                <div><span class="ref">{{contratEtablissement.contrat.referenceLibre}}</span> - Consultation {{contratEtablissement.contrat.consultation.numero}}</div>
                                <div class="box">
                                    <ltexec-show-hide [text]="contratEtablissement.contrat.consultation.objet" [taille]="100"></ltexec-show-hide></div>
                                <div class="auteur">{{contratEtablissement.contrat.service.nom}}</div></td>
                            <td>
                                <div>{{contratEtablissement.dateNotification | formatDate: "DD/MM/YYYY"}}</div>
                            </td>
                            <td [ngSwitch] = "isGroupement(contratEtablissement)">
                                <ng-template [ngSwitchCase]="false">
                                    <div [ngSwitch]="contratEtablissement.id === contratEtablissement.contrat.attributaire.id">
                                        <ng-template [ngSwitchCase]="true">
                                            <div class="role">Mandataire</div>
                                            <div class="line-prestation">
                                                <div>Montant attribué</div>
                                                <div class="montant">{{contratEtablissement.contrat.montant | currencyEuro}}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="false">
                                            <div class="role">Sous-traitant de  <ltexec-etablissement-link                                                                                                     [etablissement]="contratEtablissement.commanditaire"></ltexec-etablissement-link></div>
                                            <div class="line-prestation">
                                                <div>Montant attribué</div>
                                                <div class="montant">Max {{contratEtablissement.montant | currencyEuro}}</div>
                                            </div>
                                            <div class="line-total">
                                                <div>Sur un total de :</div>
                                                <div class="montant">{{contratEtablissement.contrat.montant | currencyEuro}}</div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </ng-template>
                                <ng-template [ngSwitchCase]="true">
                                    <div [ngSwitch]="contratEtablissement.mandataire">
                                        <ng-template [ngSwitchCase]="true">
                                            <div class="role">Mandataire (Groupement)</div>
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="false">
                                            <div class="role">Co-traitant de  <ltexec-etablissement-link                                                                                                     [etablissement]="contratEtablissement.contrat.attributaire.etablissement"></ltexec-etablissement-link></div>
                                        </ng-template>
                                        <div class="line-prestation">
                                            <div>Montant attribué</div>
                                            <div class="montant">{{contratEtablissement.montant | currencyEuro}}</div>
                                        </div>
                                        <div class="line-total">
                                            <div>Sur un total de :</div>
                                            <div class="montant">{{contratEtablissement.contrat.montant | currencyEuro}}</div>
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                            <td class="col-actions"><a
                                (click)="closeandredirect(contratEtablissement.contrat.id,'ficheContrat')"
                                class="btn btn-primary btn-sm btn-action"
                                title="Accéder au contrat n°{{contratEtablissement.contrat.referenceLibre}}"><fa-icon [icon]="['fas', 'external-link-alt']"
                                ><span class="sr-only">Détail</span></fa-icon></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default pull-left"
                        (click)="isModalSyntheseContratShown=false">Fermer
                </button>
            </div>
        </div>
    </div>
</div>

