<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>atexo-icone.png">

    <link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/chosen.css" type="text/css" />
    <link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/nav-modules.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://www.marches-publics.gouv.fr/themes/css/jquery.treeTable.css"  media="all" />
    <link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/loader.css" type="text/css" />
    <link rel="stylesheet" href="https://www.marches-publics.gouv.fr/themes/css/print.css" type="text/css" media="print" />

    <script src="../consultation-formulaire/consultationFormulaire.umd.min.js"></script>
    <link rel="stylesheet" href="../consultation-formulaire/consultationFormulaire.css">

    <script src="../annonce-recap/annonceRecap.umd.min.js"></script>
    <link rel="stylesheet" href="../annonce-recap/annonceRecap.css">

    <script src="../annonce-suivi/annonceSuivi.umd.min.js"></script>
    <link rel="stylesheet" href="../annonce-suivi/annonceSuivi.css">

    <script src="../web-component-eforms/web-component-eforms.js"></script>
    <link rel="stylesheet" href="../web-component-eforms/styles.css">

    <title>Serveur Admin</title>
</head>
<body>


<div id="app">
</div>
</body>
</html>
