/*bloc erreur*/
.error-border {background-color: #ff6d6d}
.form-bloc-erreur { background:#fff; margin-bottom:20px }
.form-bloc-erreur .top { background:url(../images/erreur-box-top-bk.png) no-repeat; background-repeat:repeat-x }
.form-bloc-erreur .top .left { background:url(../images/erreur-box-top-left.png) no-repeat; display:block; width:10px; float:left }
.form-bloc-erreur .top .right { background:url(../images/erreur-box-top-right.png) no-repeat; display:block; width:10px; float:right }
.form-bloc-erreur .bottom { background:url(../images/erreur-box-bottom-bk.png) no-repeat; background-repeat:repeat-x }
.form-bloc-erreur .bottom .left { background:url(../images/erreur-box-bottom-left.png) no-repeat; display:block; width:10px; float:left }
.form-bloc-erreur .bottom .right { background:url(../images/erreur-box-bottom-right.png) no-repeat; display:block; width:10px; float:right }
.form-bloc-erreur .top span, .form-bloc-erreur .top, .form-bloc-erreur .bottom span, .form-bloc-erreur .bottom { height:10px; font-size:1px }
.form-bloc-erreur .content { padding:0 10px; width:auto; text-align:left; border-left:1px solid #ff0000; border-right:1px solid #ff0000 }
.form-bloc-erreur .content .erreur { color:#FF0000; text-align:center }
.form-bloc-erreur .content .message { color:#ff0000; text-align:center }
.form-bloc-erreur .content .message-left { color:#ff0000; text-align:left }
.form-bloc-erreur .content ul { color:#ff0000; text-align:left }
.form-bloc-erreur .content ul li { list-style-type:disc !important; list-style-position:inside; padding-left:0px }