.rich-modalpanel { text-align:left}
.rich-modalpanel table { border:0; border-collapse:collapse; height:auto; }
.rich-modalpanel table td { border:0;}
.rich-mpnl-body, .rich-mpnl-header, rich-mpnl-header-cell { border:0;}
.rich-mpnl-header-cell  { height:20px  !important }
.rich-mpnl-body { padding-top:20px; height:auto !important; }
.rich-mpnl-header { background-color:#1C5C78; color:#fff; height:15px; padding-left:8px; font-weight:bold; }
.rich-mpnl-header-cell {  background-color:#1C5C78; padding:0px}
.dr-mpnl-pnl-b {padding: 0px; !important}
.dr-mpnl-pnl, .dr-mpnl-shadow  { border:1px solid #BABABA; background-color:#fff; width:852px !important; height:auto !important}
.dr-mpnl-pnl table { margin-top:0px}
.rich-mpnl-body { padding:0px !important; }