/** Override rich faces */

.dr-table-subheadercell

{
border-right-width: 0px;
border-right-style: solid;
border-bottom-width: 0px;
border-bottom-style: solid;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
text-align: left;
}