/* CSS Document */

/*****************************************************DEBUT STYLES COMMUNS*****************************************************************/
body { font-family:Arial, Helvetica, sans-serif;font-size:11px; color:#1c5b76; text-align:center; margin:0px; padding:0px; background:#EEEEEE; }
div, p, ul, li, a, img, fieldset, legend, form  { margin:0px; padding:0px }
img { border:0px}
a {color:#1c5b76}
ul li { list-style-type:none }
/*:focus { -moz-outline-style: none }*/
input, textarea { font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; margin:0px; padding:2px 1px 2px 0; margin-bottom:5px; }
select { font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; margin-bottom:5px; }

/*input { padding-right:0px; }*/
select { display:block; float:left;margin-right:3px; -margin-right:0px; }/*Alignement IE6*/
*html select { display:block; float:left; margin-left:3px }/*Alignement IE6*/
.breaker { clear:both; overflow:hidden; height:0px }
.breaker-small { clear:both; height:30px }
.breaker-moyen { clear:both; height:100px }
.breaker-high { clear:both;  height:200px }
.spacer { clear:both; height:20px }
fieldset { border:1px solid #c0c0c0; padding:5px; width:auto; text-align:left; margin-bottom:10px; }
fieldset.embedded { width:752px; }
legend { color:#666; font-weight:bold; margin:0px; padding:0;  color:#1C5B76; font-weight:bold; margin-left:4px !important; /margin-left:-2px !important; }
legend.toggle-panel-title, legend.toggle-panel-title-closed { margin-left:0px !important; /margin-left:-8px !important; }
abbr { cursor: help; background:url(../images/abbr.gif) bottom repeat-x; border:0 !important; }

.bold {font-weight:bold}
.no-bold { font-weight:normal}
.selected { font-weight:bold !important; }

h1 { margin:0 auto; font-size:11px; font-weight:bold; width:auto; text-align:left; color:#E68F27; margin-left:3px; background:url(../images/arrow-orange.gif) no-repeat 0 4px; padding-left:10px; display:block; clear:both; margin-bottom:10px }
h3 { margin:0 auto; font-size:11px; font-weight:normal; width:auto; text-align:left; display:block; margin-left:0px; padding-left:20px; margin-bottom:5px }

.title-arrow { background:url(../images/arrow-orange.gif) no-repeat 0 4px; padding-left:10px; }

.spacer-small { clear:both; overflow:hidden; height:10px }
.mini-spacer { clear:both; overflow:hidden; height:5px }
.mini-spacer2 { clear:both; overflow:hidden; height:8px }
.mini-spacer3 { clear:both; overflow:hidden; height:4px }
.red { color:red }
.green { color:green }
.text-align-center {text-align:center;}
.fright { float: right !important;}
.fleft { float: left !important;}
.fnone { float: none !important; margin: 0 auto !important; }
.block { display:block !important; }
.auto {width:auto !important;}
.bloc-loader { padding:50px 0; }

.mr-10 { margin-right:10px !important}
.mr-20 { margin-right:20px; }
.mr-25 { margin-right:25px; }
.mr-35 { margin-right:35px; }

.indent-10 { padding-left:10px; }
.indent-20 { padding-left:20px; }

/***LARGEUR EXTENSIBLE***/

.header-ext { width:100% !important; border-collapse:collapse; margin:0; border:0; background:transparent; }
.header-ext td { vertical-align:top; padding:0 !important; border:0; }
.header-ext td.right { display:none; vertical-align:top; }
.header-ext .header-rule { width:984px; overflow:hidden; height:0px; }

.middle-ext { width:100% !important; border-collapse:collapse; margin:0; border:0; background:transparent; }
.middle-ext td { border:0; padding:0 !important; }
.middle-ext td.left { width:168px; padding:0; vertical-align:top; }
.middle-ext td.right { padding-right:10px !important; vertical-align:top; max-width:799px; }
.middle-ext .main-rule { width:800px; overflow:hidden; height:0px; }

#accueil-layout .middle-ext .main-rule { width:490px; }
#accueil-layout .middle-ext td.left { padding-right:10px !important; width:230px; }
#accueil-layout .middle-ext td.center {}
#accueil-layout .middle-ext td.right { width:230px; }

.footer-ext { width:100% !important; border-collapse:collapse; margin:0; border:0; background:transparent; clear:both; }
.footer-ext td { vertical-align:top; padding:0 !important; border:0; text-align: center; }
.footer-ext td.right { vertical-align:top; background:url(../images/footer-back-right.gif) top right no-repeat; height:51px; width:51px; }
.footer-ext .footer-rule { width:984px; overflow:hidden; height:0px; }

/*Header*/
#header { margin:0 auto; min-width:984px; background:url(../images/header-bk.gif) no-repeat #fff top right; height:134px; }
#header .top-infos { width:auto; height:20px; padding:3px 0 0 10px; margin-right:10px; color:#3E6AA7;  }
#header .top-infos .date { float:left }
#header .top-infos .ajax-loading { float:left; padding-left:10px; }
#header .top-infos .user-infos { float:right; }
#header .top-infos .user-infos .user {  background:url(../images/user-picto.gif) no-repeat 2px 1px; padding-left:15px; float:left; }
#header .top-infos .user-infos a.deconexion { margin-left:5px; background:url(../images/picto-deconnexion.gif) no-repeat 0 1px; padding-left:13px; display:block; float:left; height:25px; margin-left:20px; color:#3E6AA7; }
#header .top-infos .user-infos a:hover.deconexion { text-decoration:none; }
#header .bandeau { height:76px; text-align:left; overflow:hidden; }

/*Naivigation horizontale*/
#header .hori-nav {  height:30px; background:url(../images/hori-nav-bk.gif) no-repeat; padding-left:10px; padding-right:0px; margin:0 11px 0 7px; }
#header .hori-nav a.accueil { display:block; float:left; background:url(../images/picto-accueil.gif) 0 9px no-repeat; padding-left:13px; line-height:30px; color:#fff; text-decoration:none; font-weight:bold; }
#header .hori-nav a:hover.accueil { text-decoration:underline }
#header .hori-nav ul  { display:block; float:right; }
#header .hori-nav li { color:#fff; font-weight:bold; font-size:12px; display:inline; float:left; height:30px; line-height:28px  }
#header .hori-nav li a { color:#fff; font-weight:bold; text-decoration:none; font-size:11px; margin-left:5px; margin-right:5px; padding-left:5px; padding-right:5px; display:block; height:30px; line-height:28px; display:block; float:left; }
#header .hori-nav li a:hover { text-decoration:underline }
#header .hori-nav li a.on {  background:url(../images/nav-item-on.gif) no-repeat top; color:#fff; font-weight:bold; height:30px;line-height:28px; }
#header .hori-nav li a:hover.on { text-decoration:none; }
#header .hori-nav li.acceuil { width:176px; text-align:left; background-color:#B6C1CD; padding-left:5px }
#header .hori-nav li img { display:block; float:left; margin-top:4px; margin-right:3px }
#header .hori-nav .right { display:block; float:right; background:url(../images/hori-nav-bk-right.gif) no-repeat right; height:30px; width:7px; }

/*Menu left*/
.left-part { float:left; width:160px;background:url(../images/left-part-bottom.gif) #f9f9f9 no-repeat left bottom; padding-top:5px; padding-bottom:10px; }
.left-part .menu  { width:160px; background-color:#fff; margin-bottom:0px; text-align:left; overflow:hidden; }
.left-part .menu ul { margin:0 auto; padding:0px; width:160px }
.left-part .menu ul li.menu-open { background:url(../images/menu-left-open.gif) no-repeat; color:#fff; font-weight:bold; height:auto }
.left-part .menu ul li.menu-open span { display:block; height:16px; border-bottom:2px solid #fff; width:auto; cursor:pointer; padding-left:8px; padding-top:2px; }
.left-part .menu ul li.menu-open ul li { color:#1c5b76; font-weight:normal; border-bottom:1px solid #fff; margin-left:0px }
.left-part .menu ul li.menu-open ul li a { color:#1c5b76; text-decoration:none; display:block; width:138px; padding-left:8px; line-height:12px; margin-bottom:3px }
.left-part .menu ul li.menu-open ul li.on a { font-weight:bold; background:url(../images/menu-left-arrow.gif) no-repeat 0px 3px }
.left-part .menu ul li.menu-closed { background:url(../images/menu-left-closed.gif) no-repeat; color:#fff; font-weight:bold; height:auto }
.left-part .menu ul li.menu-closed span { display:block; border-bottom:2px solid #fff; width:auto; cursor:pointer; padding-left:8px; height:16px; padding-top:2px; }
.left-part .menu ul li.menu-open ul.ss-menu-open { display:block }
.left-part .menu ul li.menu-closed ul.ss-menu-closed { display:none }
.left-part .menu ul li.menu-closed ul.ss-menu-open { display:none }
.left-part .menu .bottom { background-image:url(../images/menu-left-bottom.gif) !important ; background-repeat:no-repeat; height:3px !important; width:161px !important; overflow:hidden !important; display:block !important; }

/*Partie centrale*/
#main-content { margin:0 auto; width:100%; height:auto; overflow:visible; min-width:984px; background:url(../images/main-content-bk.gif) repeat-y #fff right; clear:both;}
#main-content .bottom { height:8px; overflow:hidden; display:none; }
.accueil-box .bottom, .links-box .bottom, .message-box .bottom, .message-box-right .bottom, .login-box .bottom, .login-box-2 .bottom { display:block !important; }

.middle { text-align:center; height:auto; padding:7px; padding-top:0; }
.main-part { text-align:left; float:left; padding:5px 10px; width:98%; /height:1%; }
.breadcrumb {  margin:0 auto; text-align:left; width:100%; margin-bottom:30px; font-size:11px }
.login-intro   { margin:0 auto; border:1px solid #e3e3e3; width:auto; color:#1c5b76; font-size:11px; padding:10px 5px; margin-top:10px; text-align:left; margin-right:10px; /height: 1%; }
.login-intro-2 { margin:0 auto; border:1px solid #e3e3e3; width:850px; color:#1c5b76; font-size:11px; font-weight:bold; padding:10px 5px; margin-top:10px }
.login-intro a { background:url(../images/picto-arrow.gif) no-repeat; padding-left:15px; font-weight:normal;}

.titre { color:#ECA855; font-weight:bold; font-style:normal; font-size:14px; background: url(../images/picto-cercle.gif) no-repeat 0 5px; text-align:left; padding-left:30px; margin-left:5px; margin-bottom:10px; clear:both; }


.accueil-intro { margin:0 auto; width:auto; color:#1c5b76; font-size:11px; font-weight:bold; margin-top:10px; margin-right:10px; /height: 1%; }
.accueil-intro .top { background:url(../images/accueil-intro-top.gif) no-repeat; height:10px; color:#fff; text-align:left; font-weight:bold; font-size:11px; width:auto; overflow:hidden }
.accueil-intro .top .border-right { display:block; float:right; background:url(../images/accueil-intro-top-right.gif) right no-repeat; width:10px; height:10px; }
.accueil-intro .content { background-color:#F4F4F4; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; padding:0 5px;  }
.accueil-intro .content .line { text-align:center; }
.accueil-intro .bottom { background:url(../images/accueil-intro-bottom.gif) no-repeat !important; height:10px !important; color:#fff; text-align:left; font-weight:bold; font-size:11px; display:block !important; }
.accueil-intro .bottom .border-right { display:block; float:right; background:url(../images/accueil-intro-bottom-right.gif) right no-repeat; width:10px; height:10px; }

.accueil-intro .liens-directs { margin:0 auto; width:450px; padding-left:5px; }
.accueil-intro .liens-directs a { color:#fff; font-size:15px !important; width:187px; height:54px; padding-left:35px; float:left; text-align:left; margin-bottom:5px; }
.accueil-intro .liens-directs a table { background:none; border:0px; margin:0px; padding:0px; width:175px; display:block; margin-top:10px !important; /margin-top:8px !important }
.accueil-intro .liens-directs a table td { vertical-align:middle !important; background:none; border:0px; cursor:pointer; padding:3px !important; font-size:15px !important; line-height:12px; height:25px; }
.accueil-intro .liens-directs a:hover { text-decoration:none; }
.accueil-intro .liens-directs a.demande { display:block; background:url(../images/bouton-demande-aide.gif) no-repeat; margin-right:5px }
.accueil-intro .liens-directs a.dossiers-en-cours { display:block; background:url(../images/bouton-dossiers-en-cours.gif) no-repeat }
.accueil-intro .liens-directs a.modif-fiche-tiers { display:block; background:url(../images/bouton-modif-fiche-tiers.gif) no-repeat; margin-right:5px }
.accueil-intro .liens-directs a.acces-base-doc { display:block; background:url(../images/bouton-acces-BD.gif) no-repeat }
.accueil-intro .liens-directs a:hover.demande { display:block; background:url(../images/bouton-demande-aide-on.gif) no-repeat }
.accueil-intro .liens-directs a:hover.dossiers-en-cours { display:block; background:url(../images/bouton-dossiers-en-cours-on.gif) no-repeat }
.accueil-intro .liens-directs a:hover.modif-fiche-tiers { display:block; background:url(../images/bouton-modif-fiche-tiers-on.gif) no-repeat }
.accueil-intro .liens-directs a:hover.acces-base-doc { display:block; background:url(../images/bouton-acces-BD-on.gif) no-repeat }

.actualites { margin:0 auto; border:1px solid #e3e3e3; width:auto; color:#1c5b76; font-size:11px; padding:10px 5px; margin-top:10px; text-align:left; margin-right:10px; }
.actualites p { margin-bottom:10px }
.actualites .title { font-weight:bold; font-size:13px; color:#0393CF; display:block; margin-bottom:10px; background:url(../images/picto-cercle-bleu.gif) no-repeat 0 5px; padding-left:30px; }

.links-box { margin:0 auto; width:230px; margin-top:10px; float:right }
.links-box .top { background:url(../images/login-box-top.gif) no-repeat; height:20px; color:#fff; text-align:left; font-weight:bold; font-size:11px; padding-left:10px; line-height:22px; overflow:hidden; }
.links-box .content { width:208px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; height:auto; text-align:left; padding:5px 10px ; overflow:hidden; padding-top:10px; padding-bottom:10px }
.links-box .column { padding-bottom:0; }
.links-box .content .intitule { display:block; clear:left; float:none; font-weight:bold; margin-right:10px }
.links-box .content select {display:block; width:180px; clear:left; float:left; margin-right:5px }
html .links-box .content input.acceder { width:19px; height:17px; margin:0px; float:left; }
*html .links-box .content select {display:block; width:180px; clear:left; float:left; margin-right:5px; margin-left:0px }
.links-box .content img.acceder { width:19px; height:17px; margin:0px; float:left }
.links-box .bottom { background:url(../images/login-box-bottom.gif) no-repeat !important; height:3px !important; width:230px !important }

.message-box { margin:0 auto; width:230px; margin-top:10px; float:left; margin-right:0px }
.message-box .top { background:url(../images/login-box-top.gif) no-repeat; height:20px; color:#fff; text-align:left; font-weight:bold; font-size:11px; padding-left:10px; line-height:22px; overflow:hidden; }
.message-box .content { width:208px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; height:auto; text-align:left; padding:5px 10px ; overflow:hidden; padding-top:10px; padding-bottom:10px }
.message-box p { margin-bottom:10px }
.message-box li { margin:0px; padding:0px; margin-left:-20px }
.message-box .bottom { background:url(../images/login-box-bottom.gif) no-repeat !important; height:3px !important; width:230px !important }

.message-box-right { margin:0 auto; width:230px; margin-top:10px; float:right; }
.message-box-right .top { background:url(../images/login-box-top.gif) no-repeat; height:20px; color:#fff; text-align:left; font-weight:bold; font-size:11px; padding-left:10px; line-height:22px; overflow:hidden; }
.message-box-right .content { width:208px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; height:auto; text-align:left; padding:5px 10px ; overflow:hidden; padding-top:10px; padding-bottom:10px }
.message-box-right p { margin-bottom:10px }
.message-box-right .bottom { background:url(../images/login-box-bottom.gif) no-repeat !important; height:3px !important; width:230px !important }

.middle a { text-decoration:none; font-size:11px }
.middle a:hover { text-decoration:underline }

/*cartouche*/
fieldset.cartouche { padding-bottom:5px; }
fieldset.cartouche span { display:block; float:left; width:100px; }

/*Ouverture-Fermeture Bloc Legende*/
.toggle-panel-title { background:url(../images/toggle-plus.gif) transparent no-repeat; padding-left:16px; font-weight:bold; text-align:left; margin:0; /margin-left:-6px; cursor:pointer; float:left; line-height:14px; }
.toggle-panel-title-closed { background:url(../images/toggle-moins.gif) transparent no-repeat; padding-left:16px; font-weight:bold; text-align:left; margin:0; /margin-left:-6px; cursor:pointer; float:left; line-height:14px; }

/* fieldset generation de documents */
fieldset.documentGeneration { margin: 0px !important; }
fieldset.documentGeneration .toggle-bloc-content { margin-top:10px; padding-left:5px; _display:inline }

.toggle-bloc { margin-left:0px; }
.toggle-bloc .toggle-panel-title, .toggle-bloc .toggle-panel-title-closed { background-image:url(../images/picto-arrow.gif) !important; margin-left:0px; }
.toggle-bloc-content { width:auto !important; border:0; padding-bottom:0; margin:0; padding-left:10px; margin-left:5px; margin-right:10px; clear:both; }
.toggle-bloc-content fieldset { margin:0 10px; width:auto !important }
.toggle-bloc-content fieldset.bloc-edition { margin-left:5px; margin-bottom:10px; }
.toggle-bloc-content fieldset.bloc-edition legend { margin-left:0 !important; /margin-left:-6px !important; }
fieldset.toggle-bloc-content { margin:0 10px; width:99% !important }

/*login*/
.login-box { margin:0 auto; width:230px; margin-top:10px; padding-bottom:40px; margin-right:0px }
.login-box .top { background:url(../images/login-box-top.gif) no-repeat; height:20px; color:#fff; text-align:left; font-weight:bold; font-size:11px; padding-left:10px; line-height:22px; overflow:hidden; }
.login-box .content { width:208px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; height:auto; text-align:left; padding:5px 10px ; overflow:hidden; padding-top:10px }
.login-box .content .intitule { width:85px; clear:left; float:left; font-weight:bold; margin-right:5px }
.login-box .content .login-link { display:block; clear:both; margin-right:10px; font-size:9px; width:auto; text-align:center; }
.login-box .content .login-link a { text-decoration:none; margin:0 auto; }
.login-box .content .login-link a:hover { text-decoration:underline }
.login-box .content input { display:block; float:left; width:110px }
.login-box .content .valider { margin-top:5px; margin-bottom:10px; width:auto; height:auto; float:right; margin-right:3px }
.login-box .content a.creation-compte { color:#fff; font-size:15px !important; width:157px; height:39px; padding-left:35px; float:left; text-align:left; padding-bottom:5px; background:url(../images/bouton-nouveau-compte.gif) no-repeat; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; line-height:12px; padding-top:10px; margin-top:30px; margin-left:5px; padding-right:10px; display:inline; }
.login-box .content a:hover.creation-compte { background-image:url(../images/bouton-nouveau-compte-on.gif); text-decoration:none; }
.login-box .bottom { background:url(../images/login-box-bottom.gif) no-repeat !important; height:3px !important; width:230px  !important}

.login-box-2 { margin:0 auto; width:230px; margin-top:50px; padding-bottom:40px }
.login-box-2 .top { background:url(../images/login-box-top.gif) no-repeat; height:20px; color:#fff; text-align:left; font-weight:bold; font-size:11px; padding-left:10px; line-height:22px; overflow:hidden; }
.login-box-2 .content { width:208px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; height:auto; text-align:left; padding:5px 10px ; overflow:hidden; padding-top:10px }
.login-box-2 .content .intitule { width:80px; clear:left; float:left; font-weight:bold; margin-right:5px }
.login-box-2 .content .login-link { display:block; clear:both; margin-right:10px; font-size:9px; width:auto; text-align:center; }
.login-box-2 .content .login-link a { text-decoration:none; margin:0 auto; }
.login-box-2 .content .login-link a:hover { text-decoration:underline }
.login-box-2 .content input { display:block; float:left; width:110px }
.login-box-2 .content .valider { margin-top:5px; margin-bottom:10px; width:auto; height:auto; float:right; margin-right:3px }
.login-box-2 .bottom { background:url(../images/login-box-bottom.gif) no-repeat !important; height:3px !important; width:230px !important }


/*Bloc coin arrondi*/
.bloc-arrondi { width:100%; clear:both; margin-bottom:10px; text-align:left; }
.bloc-arrondi .top { height:13px; background:url(../images/box-round-border.gif) repeat-x 0 7px; overflow:hidden }
.bloc-arrondi .top .left { display:block; float:left; background:url(../images/box-round-top-left.gif) no-repeat 0 7px; height:13px; width:7px }
.bloc-arrondi .top .right { display:block; float:right; background:url(../images/box-round-top-right.gif) no-repeat 0 7px; height:13px; width:7px; }
.bloc-arrondi .content { width:auto; clear:both; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; padding:1px 6px 0 6px; overflow:hidden; _zoom:1}
.bloc-arrondi .bottom { height:7px; background:url(../images/box-round-border.gif) repeat-x 0 6px; clear:both; display:block !important; }
.bloc-arrondi .bottom .left { display:block; float:left; background:url(../images/box-round-bottom-left.gif) no-repeat; height:7px; width:7px; }
.bloc-arrondi .bottom .right { display:block; float:right; background:url(../images/box-round-bottom-right.gif) no-repeat; height:7px; width:7px; }


/* Tableaux paiements */
.table-paiement { width:758px; overflow:scroll; margin-top:10px; margin-bottom:10px; }
.table-paiement table { margin:0 auto; clear:both; border-collapse:collapse; border:0px; border:1px solid #e3e3e3; width:auto; text-align:left }
.table-paiement table th { font-weight:bold; background-color:#e3e3e3; padding-left:5px; padding-right:10px; border-bottom:1px solid #e3e3e3; color:#1C5B76; white-space:nowrap; }
.table-paiement table th.col-num-action { padding-right:60px; }

/* Tableaux pagination */
.pagination { display:block; float:left; border-collapse:collapse; margin-top:0px; border:0px; margin-left:10px; padding:0px;}
.pagination table { border:0px; width:auto; clear:none; display:inline; margin:0px; margin:0px !important}
.pagination table td { border:0px; vertical-align:top; height:20px !important; padding-top:0px !important; padding-bottom:0px !important;line-height:20px ;}


/* Tableaux radioset */
table.radioset td input.radioset { width:512px !important; }
.checkbox {width:13px;}

/*Styles communs a tous les tableaux*/
table { clear:both; border-collapse:collapse; margin-top:0px !important; border:0px; margin-bottom:10px; border:1px solid #e3e3e3; width:auto; text-align:left; background-color:#fff;font-family:Arial, Helvetica, sans-serif; font-size:11px; }
table th  { font-weight:bold; background-color:#e3e3e3; border-bottom:1px solid #e3e3e3; color:#1C5B76; padding:3px !important}
table th a { color:#1C5B76; text-decoration:none}
table th a img { vertical-align:middle; margin-left:2px }
table th a:hover { text-decoration:none !important; }
table td { vertical-align:top; border-bottom:1px solid #e3e3e3; padding:3px !important; }
table tr.on { background-color:#f6f6f9 }
table tr.alerte { background-color:#feebe8 }
table tr td.red { background-color:#ff954f }
table tr td.red, table tr td.red a { color:#fff }
a.dossiers-link { background:url(../images/picto-arrow-acceder.gif) no-repeat 0 3px; padding-left:12px}
a.export-link { background:url(../images/picto-export-excel.gif) no-repeat 0 0px; padding-left:23px; height:25px; display:block; overflow:hidden; float:left; padding-top:3px; font-weight: bold }
table .montant { text-align:right !important; }

table.liste-docs { width:98% !important; border:1px solid #e3e3e3 !important; margin-left:5px; }
table.liste-docs td { padding:3px !important; }
table.liste-docs .montant { padding-right:10px !important; }
table.liste-docs input.montant_propose { margin-bottom:0px !important; float:left; }
table.liste-docs .actions-big { width:60px; text-align:center; }
table.liste-docs .actions-big a { margin-right:5px; }
table.liste-docs .actions-big a.last { margin-right:0px !important; }

table.liste-destinataires { width:500px !important; border:1px solid #e3e3e3 !important; float:left; clear:none; }
table.liste-destinataires td { padding:3px !important; }


table .statut-col { width:90px; text-align:center }
table .actions { width:90px; text-align:left }
table .actions a { text-decoration:none }
table .actions img { margin-right:3px; vertical-align:top }
table .actions-moyen { width:70px; text-align:center }
table .actions-moyen img  { margin-right:3px; }
table .actions-small { width:50px; text-align:center }
table .actions-small img { margin-right:3px; vertical-align:middle; }

table .actions-long { width:100px; text-align:center }
table .actions-long img { margin-right:3px; vertical-align:middle }
table .actions-mini { width:40px; text-align:center }
table .actions-mini img { margin-right:3px; vertical-align:middle; }

table .actions-dossier-small { width:45px; text-align:center }
table .actions-dossier-small img { margin-right:5px !important; vertical-align:middle; }
table .actions-dossier-small .last img { margin-right:0px !important; }

table .check-col { width:30px; text-align:center; }
table .check-col input { margin:0 auto; width:auto; }
table .center { text-align:center }

table .col-30 { width:30px }
table .col-40 { width:40px }
table .col-50 { width:50px }
table .col-60 { width:60px }
table .col-70 { width:70px }
table .col-80 { width:80px }
table .col-90 { width:90px }
table .col-100 { width:100px }
table .col-110 { width:110px }
table .col-120 { width:120px }
table .col-130 { width:130px }
table .col-140 { width:140px }
table .col-150 { width:150px }
table .col-160 { width:160px }
table .col-170 { width:170px }
table .col-180 { width:180px }
table .col-190 { width:190px }
table .col-200 { width:200px }
table .col-210 { width:210px }
table .col-230 { width:230px }
table .col-240 { width:240px }
table .col-260 { width:260px }
table .col-280 { width:280px }
table .col-300 { width:300px }
table .col-400 { width:400px }
table .col-430 { width:430px }
table .col-500 { width:500px }
table .col-630 { width:630px }
table .col-700 { width:700px }

.col-20percent { width:20%; }

a.details-link { margin-left:3px}
a.details-link img { margin-right:2px}

.activate-statut a img { text-decoration:none; margin-right:3px }
.activate-statut a:hover { text-decoration:none !important }

/*Bloc de synthese dossiers*/
.accueil-box { margin:0 auto; width:auto; text-align:left; margin-bottom:20px }
.accueil-box .top { background-image:url(../images/accueil-box-top.gif); width:100%; height:20px; color:#fff; font-weight:bold; line-height:20px; overflow:hidden; }
.accueil-box .top .border-right { display:block; float:right; background:url(../images/accueil-box-top-right.gif) right no-repeat; width:10px; height:20px; }

.accueil-box .top .derniers-dossiers { background:url(../images/picto-derniers-dossiers.gif) 3px 2px no-repeat; padding-left:22px; float:left;width:660px; }
.accueil-box .top .en-alerte { background:url(../images/picto-dossiers-alerte.gif) 3px 2px no-repeat; padding-left:22px; float:left;  }
.accueil-box .top .exception { background:url(../images/alert-icon.png) 3px 2px no-repeat; padding-left:22px; float:left;  }
.accueil-box .top .messages { background:url(../images/picto-messages.gif) 3px 2px no-repeat; padding-left:22px; float:left;  }
.accueil-box .top .recherche { background:url(../images/picto-rechercher.gif) 3px 2px no-repeat; padding-left:22px; float:left; }
.accueil-box .top .creation-compte { background:url(../images/picto-nouveau-compte.gif) 6px 3px no-repeat; padding-left:22px; float:left; }
.accueil-box .top .simulation { background:url(../images/picto-simulation.gif) 8px 2px no-repeat; padding-left:24px; float:left; }
.accueil-box .top .title { padding-left:22px; float:left; }
.accueil-box .content { background-color:#F8F8FF; width:auto; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; padding: 10px 20px; /height: 1%; }
.accueil-box .bottom { background:url(../images/accueil-box-bottom.gif) no-repeat !important; width:100% !important; height:3px !important; }
.accueil-box .bottom .border-right { background:url(../images/accueil-box-bottom-right.gif) no-repeat top right; height:3px; width:4px; overflow:hidden; float:right; padding:0 !important; }
.accueil-box p { margin-bottom:10px }
.accueil-box p.red { color:#ff0000 }
.accueil-box a.link { background:url(../images/arrow-orange.gif) no-repeat 0 4px; padding-left:8px; margin-left:5px; color:#E68F27}


.bloc-content { margin:0 auto; width:auto; color:#1c5b76; font-size:11px; margin-top:10px; margin-bottom:20px; /height: 1%; }
.bloc-content .top { background:url(../images/bloc-content-top.gif) no-repeat; height:8px; color:#fff; text-align:left; font-weight:bold; font-size:11px; width:auto; overflow:hidden }
.bloc-content .top .border-right { display:block; float:right; background:url(../images/bloc-content-top-right.gif) right top no-repeat; width:10px; height:8px; }
.bloc-content .content { background-color:#fff; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; padding:0 5px; clear:both; }
.bloc-content .content .line { text-align:center; }
.bloc-content .bottom { background:url(../images/bloc-content-bottom.gif) no-repeat !important; height:8px !important; color:#fff; text-align:left; font-weight:bold; font-size:11px; display:block !important; }
.bloc-content .bottom .border-right { display:block; float:right; background:url(../images/bloc-content-bottom-right.gif) right top no-repeat; width:10px; height:8px; }
.bloc-content fieldset#legendBlockId { border:0; margin:0; padding:0; }
.bloc-content fieldset#legendBlockId .toggle-content { padding:8px 12px 0; }
.bloc-content fieldset#legendBlockId .column h3 { font-weight:bold; padding:3px 0 0; }
.bloc-content fieldset#legendBlockId .column ul li { margin-bottom:5px; display:block; overflow:hidden }
.bloc-content fieldset#legendBlockId .column ul li .definition { padding-top:3px; display:block; float:left; }
.bloc-content fieldset#legendBlockId .column ul li .definition-comp { padding-top:7px; display:block; float:left; }
.bloc-content fieldset#legendBlockId .column ul li .intitule-65 { padding-top:3px; width:65px; float:left; font-weight:bold; }
.bloc-content fieldset#legendBlockId .column ul li .intitule-auto { padding-top:3px; }
.bloc-content fieldset#legendBlockId .column ul li .intitule-picto { padding-top:0; padding-right:5px; float:left;}
.bloc-content fieldset#legendBlockId .column ul li .intitule-etape { width:65px !important; float:left; }
.bloc-content fieldset#legendBlockId .column ul li .etape span { border:1px solid red ; margin-top:0; }

.conditions-utilisation h1 { margin-left:1px; }
.conditions-utilisation h2 { font-size:1.1em; margin:0; margin-bottom:10px; }
.conditions-utilisation h3 { font-size:1em; font-weight:bold; padding-left:0; margin-bottom:0; }
.conditions-utilisation ul  { margin-left:20px; margin-bottom:20px; }
.conditions-utilisation ul li { list-style-type:disc; }

/*Derniers dossiers*/
.accueil-box .content table.liste-dossiers { width:100%; float:left }
/*.accueil-box .content table.liste-dossiers .etat-dossier { width:70px }*/
.accueil-box .content table.liste-dossiers .small-col { width:80px }

.accueil-box .content table.liste-dossiers .moyen-col { width:150px }
.accueil-box .content table.liste-dossiers .long-col { width:500px }
.accueil-box .content table.liste-dossiers .actions-moyen { width:70px; text-align:center }
.accueil-box .content table.liste-dossiers .actions-moyen img { margin-right:3px; }
.accueil-box .content table.liste-dossiers .actions-small { width:50px; text-align:center }

table.liste-dossiers td { padding:3px !important; }

/*Dossiers a traiter*/
table td.etat-dossier { width:60px }

/*Derniers dossiers Bloc long*/
/*.box-long .accueil-box { width:100% !important; }
.box-long .accueil-box .top { background-image:url(../images/accueil-box-long-top.gif); width:780px; overflow:hidden; }
.box-long .accueil-box .content { background-color:#eee; width:758px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; padding: 10px; }
.box-long .accueil-box .bottom { background-image:url(../images/accueil-box-long-bottom.gif) !important; width:780px !important; height:3px !important; background-repeat:no-repeat }*/


/*Etat dossiers 2 etapes*/
.etape-1sur2 { display:block; width:21px; height:10px; background:url(../images/2etapes.gif) no-repeat; margin-top:5px; overflow:hidden }
.etape-2sur2 { display:block; width:21px; height:10px; background:url(../images/2etapes.gif) no-repeat; margin-top:5px; background-position:0 -10px; overflow:hidden }
.etape-cloture { display:block; width:10px; height:10px; background:url(../images/etape-cloture.gif) no-repeat; margin-top:5px; overflow:hidden }
.etape-en-cours { display:block; width:10px; height:10px; background:url(../images/etape-en-cours.gif) no-repeat; margin-top:5px; overflow:hidden }

/*Etat dossiers 3 etapes*/
.etape-1sur3 { display:block; width:32px; height:10px; background:url(../images/3etapes.gif) no-repeat; margin-top:5px; overflow:hidden }
.etape-2sur3 { display:block; width:32px; height:10px; background:url(../images/3etapes.gif) 0 -10px no-repeat; margin-top:5px; overflow:hidden }
.etape-3sur3 { display:block; width:32px; height:10px; background:url(../images/3etapes.gif) 0 -20px no-repeat; margin-top:5px; overflow:hidden }


/*Etat dossiers 4 etapes*/
.etape-1sur4 { display:block; width:43px; height:10px; background:url(../images/4etapes.gif) no-repeat; margin-top:5px; overflow:hidden }
.etape-2sur4 { display:block; width:43px; height:10px; background:url(../images/4etapes.gif) 0 -10px no-repeat; margin-top:5px; overflow:hidden }
.etape-3sur4 { display:block; width:43px; height:10px; background:url(../images/4etapes.gif) 0 -20px no-repeat; margin-top:5px; overflow:hidden }
.etape-4sur4 { display:block; width:43px; height:10px; background:url(../images/4etapes.gif) 0 -30px no-repeat; margin-top:5px; overflow:hidden }

/*Etat dossiers 5 etapes*/
.etape-1sur5 { display:block; width:54px; height:10px; background:url(../images/5etapes.gif) no-repeat; margin-top:5px; overflow:hidden }
.etape-2sur5 { display:block; width:54px; height:10px; background:url(../images/5etapes.gif) 0 -10px no-repeat; margin-top:5px; overflow:hidden  }
.etape-3sur5 { display:block; width:54px; height:10px; background:url(../images/5etapes.gif) 0 -20px no-repeat; margin-top:5px; overflow:hidden  }
.etape-4sur5 { display:block; width:54px; height:10px; background:url(../images/5etapes.gif) 0 -30px no-repeat; margin-top:5px; overflow:hidden  }
.etape-5sur5 { display:block; width:54px; height:10px; background:url(../images/5etapes.gif) 0 -40px no-repeat; margin-top:5px; overflow:hidden  }

/*Etat echeancier 5 etapes*/
.echeancier-etape-1sur5 { display:block; width:25px; height:10px; background:url(../images/5etapes-echeancier.gif) no-repeat; margin-top:5px; overflow:hidden }
.echeancier-etape-2sur5 { display:block; width:25px; height:14px; background:url(../images/5etapes-echeancier.gif) 0 -10px no-repeat; margin-top:5px; overflow:hidden  }
.echeancier-etape-3sur5 { display:block; width:25px; height:14px; background:url(../images/5etapes-echeancier.gif) 0 -24px no-repeat; margin-top:5px; overflow:hidden  }
.echeancier-etape-4sur5 { display:block; width:25px; height:14px; background:url(../images/5etapes-echeancier.gif) 0 -38px no-repeat; margin-top:5px; overflow:hidden  }
.echeancier-etape-5sur5 { display:block; width:25px; height:14px; background:url(../images/5etapes-echeancier.gif) 0 -52px no-repeat; margin-top:5px; overflow:hidden  }


/*Etat dossiers 5 etapes*/
.etape-1sur2-comp { display:block; width:54px; height:16px; background:url(../images/5etapes-complement.gif) no-repeat; margin-top:3px; overflow:hidden }
.etape-2sur2-comp { display:block; width:54px; height:16px; background:url(../images/5etapes-complement.gif) 0 -16px no-repeat; margin-top:3px; overflow:hidden }

/*Etat dossiers 3 etapes */
.etape-1sur3-comp { display:block; width:32px; height:16px; background:url(../images/5etapes-complement.gif) no-repeat 0 -32px; margin-top:3px; overflow:hidden }

.accueil-box .column { width:50%; float:left; margin-bottom:5px }
.accueil-box .line { width:auto; float:left; text-align:left; margin-bottom:5px }
.accueil-box fieldset { width:100%; margin-left:-5px; clear:both; }
*html .accueil-box fieldset { margin-left:-3px; margin-right:0px }

/*2 colonnes*/
.accueil-box input { width:143px; display:inline }
.accueil-box select { width:147px; display:inline }

.accueil-box select.auto { width:auto;display:inline }

/*1 colonne*/
.accueil-box input.moyen { width:240px }
.accueil-box select.moyen { width:244px }
.accueil-box select.select-600 { width:600px }


.accueil-box .intitule-mini { font-weight:bold; width:60px; float:left; margin-bottom:5px }
.accueil-box .intitule-short { font-weight:bold; width:80px; float:left; margin-bottom:5px }
.accueil-box .intitule { font-weight:bold; width:120px !important; float:left; margin-bottom:5px }

/*Tableau de resultats*/
div.bloc-scroll { width: 98%; overflow: scroll; border: 1px solid #C0C0C0; clear: both; margin-bottom: 3px; padding-right: 3px; padding-left: 3px; }
div.bloc-scroll .resultats-recherche { margin-top:Opx }
table.resultats-recherche { width:100%; margin-left:0px; margin-top:10px !important; border:1px solid #E3E3E3 !important; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; }
table.resultats-recherche th a { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;  }
table.resultats-recherche td { padding:3px !important; padding-bottom:10px !important; }
table.resultats-recherche .dr-table-subheadercell { font-weight:bold; background-color:#e3e3e3; padding-left:3px !important; border-bottom:1px solid #e3e3e3; color:#1C5B76; padding-right:3px; padding-top:3px }
table.resultats-recherche .actions { width:90px; text-align:center; }
table.resultats-recherche .actions img { margin-right:3px; }
table.resultats-recherche .actions-moyen { width:75px; text-align:center; }
table.resultats-recherche .actions-moyen img { margin-right:3px; }
table.resultats-recherche .actions-small { width:60px; text-align:center; }
table.resultats-recherche .actions-small img { margin-right:3px; }
table.resultats-recherche .actions-long { width:120px; text-align:center; }
table.resultats-recherche .actions-long .checkbox {width:13px; text-align:center; }
table.resultats-recherche .actions-right { width:auto; text-align:right !important; }
table.resultats-recherche .actions-big { width:60px; text-align:center; }
table.resultats-recherche .actions-big a { margin-right:5px; }
table.resultats-recherche .actions-big a.last { margin-right:0px !important; }
table.resultats-recherche .actions-big .action-empty { margin-right:15px; }

table.resultats-recherche .alert { text-align:center; width:16px; padding:0px }
table.resultats-recherche .alert img { margin:0px }

table.multipleHeader th, table.multipleHeader td { border:1px solid #ccc }

.actions-line { padding-top:14px; }
.actions-line img { margin-right:5px }
table.resultats-recherche .line-last td { padding:0 3px !important; }

.action-empty { margin:0px; text-align:center; margin-right:1px; padding-left:5px; padding-right:5px;}

div.legende-alerte { border:1px solid #E3E3E3; padding:0 5px; width:auto; float:left; margin-right:3px; }
div.legende-alerte img { vertical-align:middle; padding-right:5px; }

/*Partitioner*/
.line-partitionner { /*width:99%;*/ overflow:hidden; clear:both }
.nb-resultat { font-size:11px; font-weight:bold; margin:0px; padding:0px; display:block; float:left; line-height:20px; color:#E68F27 }

.partitioner { float:right; width:auto; text-align:right; height:21px; }
.partitioner .intitule { float:left; line-height:20px; width:40px; padding-right:5px }
.partitioner .intitule2  {float:left; line-height:20px; width:auto; margin-right:20px }
.partitioner select { display:block; float:left; margin-left:3px; margin-right:3px; width:auto !important}
.partitioner input.num-page { width:30px; vertical-align:top; float:left; display:block; margin-top:1px; height:auto !important; margin-right:1px }
.partitioner .premier, .partitioner .precedent, .partitioner .suivant, .partitioner .dernier { float:left; padding-top:5px; height:15px;}
.partitioner .page-num { margin:0 5px; float:left; display:block; }
.partitioner .total-page { display:block; float:left; margin-top:2px}
.partitioner a { text-decoration:none; color:#1C5B76; font-weight:normal; margin:0px; margin-right:3px; margin-left:3px; }
.partitioner a img { width:6px; height:8px; margin:0px; vertical-align:top; }
.precedent a img, .suivant a img { width:4px; }

/*calendrier*/
.calendar { padding-top:0px; *padding-top:1px; text-align:left; width:118px !important; float:left; margin-right:2px; margin-bottom:3px; }
.calendar div { margin:0px; padding:0px }
.calendar input { width:80px !important; margin-top:0px; float:left }
.calendar img.calendrier { margin:0px; margin-left:2px; cursor:pointer; float:left; margin-top:-1px; width:18px; height:18px; }
.calendar-entre { display:block; float:left; padding-right:3px }
*html .calendar { padding-left:2pt }
*html .calendar table { clear:none;margin:0px !important}
*html .calendar table table { margin-left:0px !important}
*html .calendar iframe { padding:1px}

table.liste-dossiers .calendar { width:98px !important; display:inline }
table.liste-dossiers .calendar input { width:70px !important;}

.planning { overflow:scroll; }

/*Lien champ modifie*/
a.lien-modif { display:inline; vertical-align:top; margin:0px; padding:0px; }
a.lien-modif img { vertical-align:top; margin:0px !important; display:inline; display:inline-block; margin-top:3px !important; margin-right:2px !important; }
a:focus.lien-modif { -moz-outline-style: inherit}

/*Boutons*/
.bouton { width:100% !important; clear:both; float:left; margin-top:20px; }
.bouton input { width:auto !important; height:auto; margin:0 auto; float:none; zoom:1; }
.bouton .left { float:left }
.bouton .right { float:right; margin-left:10px; }
.bouton input.bouton-long2	{ width:240px !important; height:23px; padding-bottom:3px; background:url(../images/bouton-long.gif) no-repeat top; color:#fff; font-weight:bold; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px !important; margin-bottom:10px }
.bouton input.bouton-long	{ width:200px !important; height:23px; padding-bottom:3px; background:url(../images/bouton-long.gif) no-repeat top; color:#fff; font-weight:bold; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px !important; margin-bottom:10px }
.bouton input.bouton-moyen  { width:150px !important; height:23px; padding-bottom:3px; background:url(../images/bouton-moyen.gif) no-repeat top; color:#fff; font-weight:bold; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px !important; margin-bottom:10px }
.bouton input.bouton-small button.bouton-small { width:103px !important; height:23px; padding-bottom:3px; background:url(../images/bouton-small.gif) no-repeat top; color:#fff; font-weight:bold; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px !important; margin-bottom:10px }
.bouton input.bouton-valider-big  { width:103px !important; height:23px; padding-bottom:3px; background:url(../images/bouton-valider-big.gif) no-repeat top; color:#fff; font-weight:bold; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px !important; margin-bottom:10px }

.bouton_rechercher {width:103px !important; height:23px !important;}

.bouton_planifier { width:103px !important; height:17px; padding-bottom:3px; background:url(../images/bouton-small.gif) no-repeat top; color:#fff; font-weight:bold; border:0px; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:0px !important; margin-bottom:10px; vertical-align:top; }

.bouton input#retour-left { float:left }
.bouton input#rejet-tiers { float:right; margin-top:0px }

.column .bouton { width:auto; margin-top:0px }

input#valider-tiers { width:103px !important; height:23px !important; vertical-align:bottom; margin-bottom:0px; margin-left:5px }
*html input#valider-tiers { vertical-align:top; margin-bottom:2px }
*+html input#valider-tiers { vertical-align:top; margin-bottom:2px }


/*Ligne boutons*/
.line-boutons .left { float:left; }
.line-boutons .right { float:right; text-align:right; }
.line-boutons a { display:block; float:left; }
.line-boutons .left a { margin-right:5px; }
.line-boutons .right a { margin-left:5px; }
.line-boutons input { display:block; float:left; }
.line-boutons .left input { margin-right:5px; }
.line-boutons .right input { margin-left:5px; }

.pictos-actions-line input { width:auto; margin-bottom:0; }


/*Champs formulaire*/
input.cp { width:60px !important;}
input.secu1 { width:114px !important;}
input.secu2 { width:20px !important;}
input.file-upload { width:300px !important}
input.file-upload-500 { width:508px !important}
input.file-modif { width:176px; margin-right:5px }
input.rib { width:100px !important}
input.rib-small { width:30px !important}
input.champ-50 { width:50px !important}
select.auto { width:auto !important}

select.select-300 { width:300px }

/*Upload file*/
.uploadedFile a:hover { text-decoration:none }
.uploadedFile a img { vertical-align:middle; margin-left:3px; margin-right:5px }
.uploadedFile a strong { text-decoration:underline; font-style:none !important; color:#1C5B76; font-weight:normal }
.uploadedFileModif input.file-upload { width:242px !important; float:left; margin-right:-10px }
*html .uploadedFileModif input.file-upload { margin-right:0px }
*+html .uploadedFileModif input.file-upload { margin-right:3px }

.num-dossier { float:left; }
.recap-links { margin-left:5px; float:left; }
.recap-links a { display:inline; margin:0; margin-right:3px; }
.recap-links a img { margin:0; vertical-align:top;}

/*Navigation par onglet*/
.form-bloc { margin:0 auto; width:auto; text-align:left; /height:1%; }
.form-bloc .nav { min-width:790px; overflow:hidden; clear:both; float:left; padding-left:2px; }
.form-bloc .nav a { text-align:center; }
.form-bloc .nav .tab { display:block; float:left; background-color:#f6d6af; heigh:16px; color:#e68f27; font-weight:bold; }
.form-bloc .nav .tab a { color:#e68f27; font-weight:bold; text-decoration:none; display:block; float:left; padding-left:4px; padding-right:0px; height:16px; }

.form-bloc .layer { clear:both; border:1px solid #C0C0C0; width:auto; height:auto; text-align:left; padding:10px 0 5px 5px; /height: 1%; }
.form-bloc .layer fieldset { width:100%; margin-left:5px; }
.form-bloc .layer fieldset fieldset { width:95% }
.form-bloc .layer fieldset .bouton { width:99% !important; }
.form-bloc .layer  table.resultats-recherche { width:98%; margin-left:5px; _margin-left:3px; margin-top:0 !important; }
.form-bloc .layer .line,.form-bloc .layer .column { margin-left:5px; _margin-left:3px;}
.liste-docs .line { margin-left:0 !important; }

fieldset .line, fieldset .column { margin-left:5px; _margin-left:3px;}
.toggle-bloc-content .line { margin-left:0; }

/*tabs demande*/
.form-bloc .nav a.tab1 { width:248px }
.form-bloc .nav a.tab2 { width:248px }
.form-bloc .nav a.tab3 { width:248px }
.form-bloc .nav a.tab4 { width:141px }

.form-bloc .nav .tab img { display:block; float:left; margin-top:2px }
.form-bloc .nav .tab span.border-left {display:block; float:left; background:url(../images/onglet-off-left-border.gif) no-repeat; width:5px; height:16px}
.form-bloc .nav .tab span.border-right { display:block; float:left; background:url(../images/onglet-off-right-border.gif) no-repeat; width:5px; height:16px; }


.form-bloc .nav .tab-on { display:block; float:left; background-color:#e68f27; heigh:16px; width:auto; color:#fff; font-weight:bold }
.form-bloc .nav .tab-on a { color:#fff; font-weight:bold; text-decoration:none; display:block; float:left; padding-left:4px; }
.form-bloc .nav .tab-on img { display:block; float:left; margin-top:2px }

.form-bloc .nav .tab-on span.border-left { display:block; float:left; background:url(../images/onglet-on-left-border.gif) no-repeat; width:5px; height:16px}
.form-bloc .nav .tab-on span.border-right { display:block; float:left; background:url(../images/onglet-on-right-border.gif) no-repeat; width:5px; height:16px}


.form-bloc .nav-high { height: 30px !important }
.form-bloc .nav-high .tab, .form-bloc .nav-high .tab-on { height: 30px !important }
.form-bloc .nav-high a { font-size:90% !important}

.nav-tab { overflow:hidden; padding:10px 5px 0 0; clear:both; }
a.next-tab { float:right; background:url(../images/fleche-suivant.gif) no-repeat right; padding-right:8px; margin-right:5px; }
a.previous-tab { float:left; background:url(../images/fleche-precedent.gif) no-repeat left 3px; padding-left:8px; margin-left:5px; }

/* fieldset d'informations */
.form-bloc fieldset p { margin-bottom:10px }
.form-bloc fieldset p.red { color:#ff0000 }

/* image dans les fieldset pour la generation etape decision*/
.form-bloc fieldset img.picture { vertical-align:middle; margin:5px }

/*Styles communs aux formulaires*/
fieldset.no-border { border:0px }
fieldset .column { width:49%; float:left; /*padding-left:5px;*/ margin-bottom:5px }
fieldset.bloc { border:0px; background:#f8f8f8; padding-top:10px; margin-bottom:5px; }
fieldset.bloc legend { display:none; }

fieldset.bloc-border { background:#f8f8f8; padding-top:10px; margin-bottom:5px; }
fieldset.bloc-border legend { display:none; }


.line { width:99% !important; /*padding-left:5px;*/ clear:left; float:left; margin-bottom:5px; text-align:left; padding-bottom:5px; }
.column { padding-bottom:5px; }
.column-auto { padding-bottom:5px; width:auto; float:left; padding-right:5px; }
.content-bloc { float:left; }

/* Dans le cas d'un bloc commune */
.commune { width:49%; float:left; padding-left:5px; margin-bottom:5px; position : relative; }
.commune input { width:142px !important; margin-top:0px; float:left; margin-right:3px }
*html .commune input { left:0px; margin-left:2pt }
.commune img { margin:0px; margin-left:2px; cursor:pointer; float:left; margin-top:0px; width:auto; height:auto  }


input { width:142px }
input.small { width:40px }
input.small-80 { width:80px }
input.moyen { width:160px }
input.long { width:200px }
input.long1 { width:250px }
input.long2 { width:500px }
input.long3 { width:670px }
input.long4 { width:550px }
input.long5 { width:435px }

input.elapsedTime { width:20px; float:left; }

table.multi-aides { background:transparent; border:0; margin:0; }

.table-line { overflow:hidden; height:auto; margin-bottom:1px; width:135px; padding-right:5px; }
.table-line-montant { overflow:hidden; height:auto; clear:both; float:right; width:135px; padding-right:5px }
.table-line-small { overflow:hidden; height:auto; margin-bottom:1px; width:110px; }
.table-line-mini { overflow:hidden; height:auto; margin-bottom:1px; width:80px; }
.table-line a { font-size:10px !important; text-decoration:underline; }

.libelle-montant { display:block; width:20px; float:left; }
.montant-content { display:block; width:110px !important; text-align:right; float:left; margin-bottom:0px; padding:0; display:block; padding-right:5px }
.montant-content a { font-size:10px !important; text-decoration:underline; }

.montant-content-small { display:block; width:90px !important; text-align:right; float:left; margin-bottom:0px; padding:0; display:block; }
.montant-content-small a { font-size:10px !important; text-decoration:underline; }

input.montant_propose { width:56px !important; text-align:right; padding:0 !important; margin-bottom:1px !important; }
input.montant_propose-long { width:90px !important; text-align:right; padding:0 !important; margin-bottom:1px !important; }

table.resultats-recherche input.montant_propose { margin-bottom:0px !important; float:left; }

.unite { float:left; padding:2px; }

/*Tableau de synthese dossiers - infos ccomplementaires*/
.line-dossiers-tri { padding-bottom:10px; overflow:hidden; clear:both; }
.line-dossiers-tri .export-link { margin-top:-3px; }
.line-dossiers-tri .nb-resultat { line-height:normal; }

.toggle-details-line { float:left; padding-top:2px; }
.toggle-details-line a { text-decoration:underline; }

.afficher-details { margin-top:10px; overflow:hidden; float:left; clear:both; }
.afficher-details input { height:14px; /margin-left:-3px; /margin-right:0!important; }

.tri-line { text-align:right; overflow:hidden; float:right; }
.tri-line .intitule { float:left; padding-right:5px; }
.tri-line select { float:left; margin:0; margin-right:10px; width:auto; }
.tri-line .ordre-tri { float:left; }
.tri-line .ordre-tri .separateur { font-size:15px; padding:0 3px; }
.line-bottom { padding-top:10px; }

.details-dossier { overflow:hidden; clear:both; padding-left:16px; padding:5px 0 5px 13px; }
.details-dossier .line { padding:0; margin:0; padding-bottom:3px; }
.details-dossier .col { margin-bottom:5px; float:left; width:49%; padding-right:10px; }
.details-dossier .intitule { font-weight:bold; width:120px; display:block; float:left; padding-right:2px }
.details-dossier .intitule-indent { background:url(../images/hyphen-grey.gif) no-repeat transparent 3px; clear:left; float:left; width:110px; padding-left:10px; font-weight:normal !important; overflow:hidden; padding-right:2px; }
.details-dossier .intitule-auto { font-weight:bold; width:auto; }
.details-dossier .col-right { padding-right:0; float:right; }
.details-dossier .col-wide { padding-right:10px; }
.details-dossier .col-wide .intitule { width:120px !important; }
.details-dossier .col-wide .infos-content { width:80% !important; }

.details-dossier .infos-content { float:left; width:60%; }
.details-dossier .montant-content { float:left; width:auto !important; float:right; }

.details-dossier .spacer-small { height:15px; } 

.line-montant { background:url(../images/montant-dot.gif) repeat-x bottom; }
.line-montant .intitule-indent {  width:auto; }

tr.on .intitule-indent, tr.on .montant-content { background-color:#F6F6F9; }
tr.off .intitule-indent, tr.off .montant-content { background-color:#fff; }


.lien-details-dossier { float:left; margin:2px 5px 0 0; }




select { width:145px }
select.mini { width:43px }
select.small { width:70px }
select.moyen { width:164px }
select.long { width:203px }
select.long1 { width:253px }
select.long2 { width:350px }
select.long3 { width:550px }
select.long4 { width:590px }
select.long5 { width:300px }
select.long6 { width:460px }
select.long7 { width:440px }
select.long-400 { width:400px }
select.long-500 { width:503px }
select.long-480 { width:483px }

*html select.long3 { width:545px; }


textarea.large {width: 98% !important; height: 80px !important; }
textarea.large2 { width:500px !important; height: 80px !important; }
textarea.large3 { width:546px !important; height: 80px !important; }
textarea.large4 { width:542px !important; height: 80px !important; }
textarea.large5 { width:750px !important; height: 80px !important; display: block !important; }
textarea.extra-large {width: 99% !important; }
textarea.long1 { width:250px !important; height: 80px !important; display: block !important; }

.champ-500 { width:500px; }
.champ-610 { width:610px; }
select.champ-610 { width:613px; }

textarea.height-200 { height: 200px !important; }

.bloc-450 { width:450px  !important; }

i { color:#ff0000; font-weight:bold }

.intitule-small { width:70px !important; float:left; font-weight:bold }
.intitule-small1 { width:80px !important; float:left; font-weight:bold }
.intitule-small2 { width:120px !important; float:left; font-weight:bold }
.intitule { width:150px; float:left; font-weight:bold }
.intitule-moyen { width:180px !important; float:left; font-weight:bold }
.intitule-moyen1 { width:200px !important; float:left; font-weight:bold }
.intitule-moyen2 { width:220px !important; float:left; font-weight:bold }
.intitule-moyen3 { width:350px !important; float:left; font-weight:bold }
.intitule-auto { width:auto !important; float:left; font-weight:bold; padding-right:5px }
.intitule-auto-no-border { width:auto !important; float:left; font-weight:normal; padding-right:5px }

.intitule-150 { width:150px !important; float:left; font-weight:bold }
.intitule-170 { width:170px !important; float:left; font-weight:bold }
.intitule-180 { width:180px !important; float:left; font-weight:bold }

.bloc-500 { width:500px; }

.radio-choice { display:block; float:left; padding-right:40px; }
.radio-choice input { display:block; float:left; width:auto; margin-right:3px; height:16px; }

.radio-choice-colonne { display:block; padding-right:40px; float:left; }
.radio-choice-colonne input { display:block; clear:left; float:left; width:auto; margin-right:3px; height:14px; /margin-left:-2px; *margin-right:-5px; }
.radio-choice-colonne span { display:block; float:left; width:auto; }

table.radio-choice-line { border:0px; clear:none; margin:0px; margin-bottom:5px; width:auto !important; background-color:transparent !important; }
table.radio-choice-line input { display:block; float:left; width:auto; margin-right:0px; height:14px; /margin-left:-2px; *margin-right:-5px; }
table.radio-choice-line td { background-color:transparent; border:0px; padding:0px; padding-right:40px !important; }
*html table.radio-choice-line td img { padding-left:4px; }
*+html table.radio-choice-line td img { padding-left:4px; }
table.radio-choice-line label { margin-left:3px;}

table.radio-choice-page { border:0px; clear:none; margin:0px; margin-bottom:5px; width:auto !important; background-color:transparent !important  }
table.radio-choice-page input { display:block; float:left; width:auto; margin-right:0px; height:14px; /margin-left:-2px; *margin-right:-5px; }
table.radio-choice-page td { border:0px; padding:0px; height:18px }
table.radio-choice-page label { margin-left:3px;}

img.margin-right-small { margin-right:3px }

/*Formulaires generes*/
.form-bloc .intitule { width:190px; float:left; font-weight:bold }
.form-bloc .intitule-130 { width:130px !important; float:left; }
.form-bloc .intitule-small { width:150px; float:left; font-weight:bold }
.form-bloc .intitule-moyen { width:300px; float:left; font-weight:bold }
.form-bloc .intitule-long { width:400px; float:left; font-weight:bold }
.form-bloc .intitule-auto { width:auto; float:left; font-weight:bold; padding-right:5px }
.form-bloc textarea.clear-left {display:block;clear:left !important;}


/*Bloc transfert entre selectbox*/
.bloc-transfert-liste { width:auto; overflow:hidden; margin-top:10px; margin-bottom:10px; margin-left:5px; padding-left:85px; }
.bloc-transfert-liste .bloc-liste { width:auto; float:left }
.bloc-transfert-liste .bloc-liste .titre { color:#1C5B76; font-weight:bold; background-image:none; font-size:11px ; padding-left:0px; margin-left:0px; margin-bottom:0px; margin-bottom:5px; padding:0px !important; height:auto; }
.bloc-transfert-liste .actions { float:left; text-align:center; width:100px; padding-top:22px  }
.bloc-transfert-liste .actions input, .bloc-transfert-liste .actions button { display:block; clear:left; margin:0 auto; width:42px !important; border:0px; height:16px; margin-bottom:3px; cursor:pointer }

.bloc-transfert-liste input.move-right, .bloc-transfert-liste button.move-right { background:url(../images/picto-move-right.gif) no-repeat; }
.bloc-transfert-liste input.move-right-all, .bloc-transfert-liste button.move-right-all { background:url(../images/picto-move-right-all.gif) no-repeat; }
.bloc-transfert-liste input.move-left, .bloc-transfert-liste button.move-left { background:url(../images/picto-move-left.gif) no-repeat; }
.bloc-transfert-liste input.move-left-all, .bloc-transfert-liste button.move-left-all { background:url(../images/picto-move-left-all.gif) no-repeat; }

.bloc-transfert-liste select {display:block; float:left; margin:0px; padding:0px }
.bloc-transfert-liste select.small { width:150px; }
.bloc-transfert-liste select.moyen { width:250px !important; }


.bloc-transfert-liste-long { width:auto; overflow:hidden; margin-top:10px; margin-bottom:10px; margin-left:5px; padding-left:0px; }
.bloc-transfert-liste-long .bloc-liste { width:auto; float:left }
.bloc-transfert-liste-long .bloc-liste .titre { color:#666; font-weight:bold; background-image:none; font-size:11px ; padding-left:0px; margin-left:0px; margin-bottom:0px; margin-bottom:5px; padding:0px !important; height:auto; }
.bloc-transfert-liste-long .actions { float:left; text-align:center; width:80px; padding-top:22px  }
.bloc-transfert-liste-long .actions input { display:block; clear:left; margin:0 auto; width:42px !important; border:0px; height:16px; margin-bottom:3px; cursor:pointer }

.bloc-transfert-liste-long input.move-right { background:url(../images/picto-move-right.gif) no-repeat; }
.bloc-transfert-liste-long input.move-right-all { background:url(../images/picto-move-right-all.gif) no-repeat; }
.bloc-transfert-liste-long input.move-left { background:url(../images/picto-move-left.gif) no-repeat; }
.bloc-transfert-liste-long input.move-left-all { background:url(../images/picto-move-left-all.gif) no-repeat; }

.bloc-transfert-liste-long select {display:block; float:left; margin:0px; padding:0px }
.bloc-transfert-liste-long select.small { width:150px; }
.bloc-transfert-liste-long select.moyen { width:340px !important; }

/*Etape workflow*/
.workflow {  margin:0 auto; width:100% font-size:11px; font-weight:bold; clear:both; overflow:hidden; height:56px; letter-spacing:0,5px; cursor:default; text-align:center; }
.workflow a { display:inline-block; width:120px; float:left; }


.workflow .etape-on1 { width:120px; height:56px; float:left; color:#fff; background:url(../images/etape-workflow-on.gif) no-repeat; padding-top:23px; line-height:10px }
.workflow .etape-off1 { width:120px; height:56px; float:left; color:#72b0e0; background:url(../images/etape-workflow-off.gif) no-repeat 0 10px; padding-top:23px; line-height:10px }
.workflow .etape-on2 { width:120px; height:56px; float:left; color:#fff; background:url(../images/etape-workflow-on.gif) no-repeat 0 10px; padding-top:18px; line-height:10px }
.workflow .etape-off2 { width:120px; height:56px; float:left; color:#72b0e0; background:url(../images/etape-workflow-off.gif) no-repeat 0 10px; padding-top:18px; line-height:10px }
.workflow .etape-on3 { width:120px; height:56px; float:left; color:#fff; background:url(../images/etape-workflow-on.gif) no-repeat; padding-top:15px; line-height:10px }
.workflow .etape-off3 { width:120px; height:56px; float:left; color:#72b0e0; background:url(../images/etape-workflow-off.gif) no-repeat 0 10px; padding-top:15px; line-height:10px }
.workflow .arrow { width:14px; height:56px; float:left; background:url(../images/workflow-arrow.gif) 0px 22px no-repeat; }

.workflow .etape-on1 a { color:#fff; text-decoration:none; padding-top:23px; height:23px; }
.workflow .etape-off1 a { color:#72b0e0; text-decoration:none; padding-top:23px; height:23px ; }
.workflow .etape-on2 a { color:#fff; text-decoration:none; padding-top:18px; height:28px; }
.workflow .etape-off2 a { color:#72b0e0; text-decoration:none; padding-top:18px; height:28px; }
.workflow .etape-on3 a { color:#fff; text-decoration:none; padding-top:15px; height:31px; }
.workflow .etape-off3 a { color:#72b0e0; text-decoration:none; padding-top:15px; height:31px; }

.workflow .consultation { background-image:url(../images/etape-workflow-off-consultation.gif); background-position:0 0; padding-top:0; }
.workflow .consultation-on { background-image:url(../images/etape-workflow-on-consultation.gif); background-position:0 0; color:#72B0E0 }
.workflow .edition { background-image:url(../images/etape-workflow-off-edition.gif); background-position:0 0; padding-top:0; }
.workflow .edition-on { background-image:url(../images/etape-workflow-on-edition.gif); background-position:0 0; color:#fff }


.date-reception { margin:0 auto; text-align:left; width:auto; font-size:12px; clear:both; margin-bottom:15px; margin-top:10px; padding-left:10px;color:#e68f27 }


/*pop flottant*/
.form-bloc .layer fieldset { width:auto; margin-right:10px; clear:both; float:none }
.form-bloc .layer fieldset fieldset { width:98% !important; clear:both; float:none }

/*Bloc aide*/
.aide { background-color:#eef1f4; padding:5px; margin-bottom:10px }
.form-bloc .aide { width:97% !important; margin-right:10px !important; }

a.modif-file-path { display:block; float:left; margin-top:-4px }

div.atexo-links, div.ad-links { width:auto; text-align:left; padding-left:5px; margin-bottom:10px }
div.atexo-links img, div.ad-links img { margin-right:3px; vertical-align:top; margin-top:1px }
div.atexo-links a, div.ad-links a { text-decoration:none !important; cursor:pointer !important  }
div.atexo-links a:hover, div.ad-links a:hover { text-decoration:underline !important }

a.ajout-pj { background:url(../images/ajouter.gif) no-repeat; padding-left:16px; }
a.suppr-pj { vertical-align:top; display:inline-block; top:2px; position:relative; left:3px; }

a.recherche-link img { vertical-align:top; }

.ajout-el { margin-bottom:5px; margin-left:5px; clear:both; }
.ajout-el a { background:url(../images/picto-arrow.gif) no-repeat; padding-left:16px; }
.ajout-el a.inactive { color:#afafaf; background-image:url(../images/picto-arrow-inactive.gif); cursor:default; text-decoration:none; }


/*message d'erreur*/
.errors { text-align:center; color:#ff0000; margin-bottom:20px }
.error { text-align:center; color:#ff0000; margin-bottom:20px }
.error ul { margin:auto; padding-left:15px }
.error ul li { margin:auto; list-style-type:disc }

/*message*/
fieldset.erreur { border:1px solid #ff0000; padding:5px; width:auto; text-align:left; display:block; margin-bottom:10px; padding-bottom:20px; color:#ff0000 }
*html fieldset.erreur { margin-left:2px }
fieldset.erreur ul { margin:auto; padding-left:15px }
fieldset.erreur ul li { margin:auto; list-style-type:disc }
.fieldset-850 {width:850px !important;}

fieldset.message-conf { border:1px solid #0393d0; padding:5px; width:775px; text-align:left; display:block; float:left; margin-left:5px; margin-bottom:10px; padding-bottom:20px; color:#0393d0 }
*html fieldset.message-conf { margin-left:2px }
fieldset.message-conf ul { margin:auto; padding-left:15px }
fieldset.message-conf ul li { margin:auto; list-style-type:disc }

fieldset.messages { margin-left:2px }
fieldset.messages ul { margin:auto; padding-left:15px }
fieldset.messages ul li { margin:auto; list-style-type:disc }
.infoClass { color:#000000;}
.warnClass { color:#1C5B76; }
.errorClass { color:#ff0000; }
.fatalClass { color:#ff0000; }

.check-invalide { display:inline; }
.check-invalide img { vertical-align:top; margin-top:2px }

/*Ajax loader*/
.ajax-loading { float:left; text-align:center; padding-top: }
.ajax-loading img { width:11px; height:11px; }

/* fieldset generation de documents */

/*popup*/
#popup-large { margin:0 auto; width:600px }
#popup-large .top { background:url(../images/popup-large-border-top.gif) no-repeat; height:8px; width:600px; overflow:hidden }

#popup-large .content { width:578px; border-left:1px solid #b2adad; border-right:1px solid #b2adad; background-color:#fff; padding:10px; overflow:hidden }
#popup-large .content h1 { margin:0 auto; font-size:11px; font-weight:bold; width:578px; text-align:center; margin-bottom:20px; c1c5b76 }
#popup-large .content p { text-align:left; width:558px; padding: 3px 5px }
#popup-large .content p.on { background-color:#f6f4f4 }
#popup-large .content p.indent { padding-left:32px }
#popup-large .content p.indent textarea { width:500px }
#popup-large .content p.indent span { width:170px; display:block; clear:left; float:left }
#popup-large .content p.center { text-align:center; width:558px; padding: 3px 5px }

#popup-large .content input.fermer { float:right; margin-top:40px }
#popup-large .content input.annuler { float:left; margin-top:40px }
#popup-large .content input.enregistrer { float:right; margin-top:40px }
#popup-large .bottom { background:url(../images/popup-large-border-bottom.gif) no-repeat !important; height:8px !important; width:600px !important; overflow:hidden }

#popup-small { margin:0 auto; width:400px }
#popup-small .top { background:url(../images/popup-border-top.gif) no-repeat; height:10px; width:400px; overflow:hidden }

#popup-small .content { width:378px; border-left:1px solid #005576; border-right:1px solid #005576; background-color:#fff; padding:10px; overflow:hidden }
#popup-small .content h1 { margin:0 auto; font-size:11px; font-weight:bold; width:378px; text-align:center; margin-bottom:20px }
#popup-small .content p { text-align:left }
#popup-small .content p.center { text-align:center; width:auto; padding: 3px 5px }
#popup-small .content input.fermer { float:right; margin-top:40px }
#popup-small .content input.annuler { float:left; margin-top:40px }
#popup-small .content input.enregistrer { float:right; margin-top:40px }

#popup-small .bottom { background:url(../images/popup-border-bottom.gif) no-repeat !important; height:10px !important; width:400px !important; overflow:hidden }


/*footer*/
#footer { margin:0 auto; height:25px; color:#666666; background:url(../images/footer-back.gif) no-repeat; padding-top:26px;}
#footer a { color:#666666; margin-left:5px; margin-right:5px; margin-top:0px; text-decoration:none }
#footer a:hover { text-decoration:underline }



.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active,textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active { background-color: #f6d6af; }
.LV_valid {display: none;}
.LV_invalid { color: red; background:url(../images/picto-check-not-ok.gif) no-repeat; }
.calendar .LV_invalid { float: right; margin-top: 3px !important;}
.commune .LV_invalid { float: right; margin-top: 3px !important;}
.LV_mandatory {}

/* Override rich faces */
.dr-table-subheadercell { border-right-width: 0px; border-right-style: solid; border-bottom-width: 0px; border-bottom-style: solid; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: left; }

/*Styles rajoutes pour le popup flottant*/
.popup-form .bouton { padding-left:5px}
.popup-form .bouton .right { margin-right:10px; }
.popup-form .popup-middle-100 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:100px !important; overflow:auto; padding-top:20px}
.popup-form .popup-middle-200 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:200px !important; overflow:auto; padding-top:20px}
.popup-form .popup-middle-300 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:300px !important; overflow:auto; padding-top:20px}
.popup-form .popup-middle-400 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:400px !important; overflow:auto; padding-top:20px}
.popup-form .popup-middle-500 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:500px !important; overflow:auto; padding-top:20px}
.popup-form .popup-middle-540 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:540px !important; overflow:auto; padding-top:20px}
.popup-form .popup-middle-600 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:600px !important; overflow:auto; padding-top:20px}
.popup-form .popup-content { width:810px !important; }
.popup-form .popup-content .bouton { padding-left:0; }
/*.popup-form .popup-content fieldset { width:99%; }*/

.dr-mpnl-pnl-b {padding: 0px; !important}

/*Styles rajoutes pour l'arborescence des etapes*/
.treePanel { height:auto; width:760px; overflow:auto; height:auto; overflow-y:visible}
.rich-tree { width:750px; height:auto }
.rich-tree table { border-collapse:collapse !important; margin:0px; border:0px; }
.rich-tree table td { border:0px }
.rich-tree table td a:hover { text-decoration:none; background-color:#E9E7E8  }
.rich-tree table td a.on { text-decoration:none; background-color:#E9E7E8  }
.rich-tree table td a.off { background-color:#fff  }


/* Menu click droit */
#contextMenuBox { position:absolute; left:-395px; top:-395px }
.menuBox { text-align:left; width:210px; background-color:#ffffff; border:1px solid #ccc; border-bottom:0px; filter:progid:DXImageTransform.Microsoft.Shadow(strength=3, Direction=120) }
.menuBox ul { margin:0px; padding:0px }
.menuBox ul li { font-weight:normal; border-bottom:1px solid #ccc }
.menuBox ul li a { cursor:default; text-decoration:none; display:block; height:22px; line-height:22px; border-left:3px solid #ccc; padding-left:6px; padding-right:6px; padding-left:15px  }
.menuBox ul li a:hover { background-color:#E9E7E8; text-decoration:none }
.menuBox ul li a.activated { background:url(../images/contextual-on.gif) no-repeat 4px 6px; padding-left:15px }
.menuBox ul li a:hover.activated { background:url(../images/contextual-on.gif) #E9E7E8 no-repeat 4px 6px; padding-left:15px; }

/*numero d'arrete*/
.no_arrete {display: block;float: left; margin-right: 3px;}
.no_arrete_suite {display: block;float: left; width: 42px; margin-top:-2px;}
*html .no_arrete_suite {margin-top:0px;}

.check-invalide { display:inline; }
.check-invalide img { vertical-align:top; margin-top:2px }
.input-note { font-size:10px; display:block; clear:both; }

/*Nouveaux styles*/
.rich-mpnl_panel { width:810px !important; }
.rich-modalpanel table td { border:0; padding:1 !important; }
.dr-mpnl-pnl { border:1px solid #c0c0c0 !important; padding:1px !important; }
.rich-mp-content { overflow:visible !important; }
.rich-mpnl-header-cell { height:20px !important; padding:0 !important; }
.dr-mpnl-shadow { display:none; }
.rich-mp-container, .rich-mpnl-content { width:852px !important; height:auto !important; background:#fff; }
.rich-table-subheadercell { text-align:left; }

/*Redefinition styles arbo*/
.dr-tree-h-ic-div { margin-left:10px !important; padding-left:12px !important;}
.dr-tree-h-ic-div *{ text-decoration:none !important }
.rich-tree table td { padding:2px 1px !important; height:auto !important  }
.dr-tree-h-ic-line-node { padding-top:3px !important; padding-bottom:3px  !important  }
.dr-tree-pointer-cursor a:hover { background-color:#fff }

/*Special piece jointe */
table.radio-pj td { width:40px !important; }

/*Liste suggestion*/
.dr-sb-ext-decor-2 table .rich-sb-int-decor-table { margin:0px !important; width:100%; border:0px solid #E3E3E3 !important; border-bottom:1px solid #E3E3E3 !important; border-collapse:collapse }
.dr-sb-ext-decor-2 table .rich-sb-int-decor-table tr td { border:0px !important; padding:5px !important; border-bottom:1px solid #E3E3E3 !important;  }
.rich-sb-overflow { padding:0px !important; margin:0px !important; }
.rich-sb-ext-decor-3 td { padding:0px !important; margin:0px !important; padding-bottom:10px; border:0px !important; }
.rich-sb-ext-decor-3 { margin:0px; padding:0px; margin-top:2px; /margin-top:0px; border:0px !important; }
.rich-sb-ext-decor-3 table.rich-sb-int-decor-table { border:0px !important; }
.dr-sb-shadow, .dr-sb-ext-decor-2 { border:0px !important; }
.rich-sb-common-container .rich-sb-shadow { display:none !important;}
.rich-sb-common-container .rich-sb-overflow { padding:2px !important; }
.rich-sb-common-container .rich-sb-int-sel .richfaces_suggestionSelectValue { background:#3399ff; color:#fff; }

/*Choix demande*/
.choix-demande select { display:inline; margin-left:0px !important }
.choix-demande .input-550 { width:545px; }
.choix-demande .intitule { width:150px;}
.choix-demande .content-bloc { width:570px; float:left; }
.note { clear:both; font-size:10px; background:url(../images/picto-info-utile.gif) no-repeat; padding-left:18px; height:20px; display:inline-block; padding-top:2px; }
.note-block { clear:both; font-size:10px; background:url(../images/picto-info-utile.gif) no-repeat; padding-left:18px; min-height:20px; }

/*style champ adresse*/
input.numVoie { width:60px; float:left; }
input.nomVoie { width:410px; float:left; }
select.type-voie { float:left; }
.voie-space { width:25px; float:left; padding-left:3px; height:16px; }
.aide-numVoie { float:left; margin-right:35px; width:56px; font-style:italic; font-size:10px; }
.aide-typeVoie { float:left; font-style:italic; margin-right:180px; font-size:10px; }
.aide-nomVoie  { float:left; font-style:italic; font-size:10px; }
.disabled { background-color:#F2F2ED; }
.note-nomVoie { float:left; font-size:10px; background:url(../images/picto-info-utile.gif) no-repeat; padding-left:18px; height:15px;}

/*styles designer formulaire*/
.table-width { width: 700px !important; }
.table-th-width { width:130px !important }
.table-td-width { width:130px; !important }
.table-tr-width { width: 700px !important; }
.table-texte-width { width:100px !important; }
.table-input-width { width:100px !important; }


table.table-rib { margin-bottom:20px; }
table.table-rib .intitule { width:180px; }

img.autocompletion { display:inline-block; vertical-align:top; /margin-top:1px; } 

.compte-identifiant a img { vertical-align:middle; }

.imgBloc { border:1px solid #ccc; width:250px; padding:10px; float:right; text-align:center }
.imgId { width:120px; height:auto; text-align:center; padding:10px; margin:0 auto; margin-bottom:10px; background-color:#ebebeb; }
.imgId a { font-size:9px;}
.imgId a img { font-size:10px; vertical-align:middle; }
.uploadedImgModif { }
.uploadedImgModif input { width:230px !important; float:left  }



/*****************************************************FIN STYLES COMMUNS*****************************************************************/