/*****************************************************DEBUT STYLES SPECIFIQUES*****************************************************************/
body { color:#666666; background:#fff; }
legend { color:#666666; }
a { color:#5C768F; }
h1 { color:#004F96; }

.header-ext {  background:url(../images/barre-modules-right.jpg) no-repeat right 1px;  }
.header-ext .header-rule { _width:985px; height:1px; }
.footer-ext .footer-rule { _width:985px; }
#accueil-layout .middle-ext .main-rule { _width:489px; }
.message-box, #accueil-layout .middle-ext td.left { padding-left:7px; }
#accueil-layout .middle-ext td.left { width:237px; }

#header { height:150px; background:transparent; }
#header .top-infos { height:45px; color:#6f6f6f; padding-top:5px; background:url(../images/barre-modules.jpg) no-repeat left top; margin:0; padding-right:10px; overflow:hidden; }
#header .top-infos .user-infos { height:15px; padding-top:7px; }
#header .top-infos .right { display:none; }
#header .top-infos .user-infos a.deconexion { background-position:0 1px; color:#6f6f6f; }
#header .top-infos .date { position:absolute; top:134px; color:#fff; left:5px; }
#header .top-infos .ajax-loading { padding-left:0; }
#header .bandeau { clear:both; height:80px; overflow:hidden; background:url(../images/header-bk.gif) no-repeat top right }
#header .bandeau img { position:absolute; top:52px; left:40px; width:377px !important; height:64px !important; }

#header .hori-nav { height:20px; background:#004F96; color:#3A84C3; overflow:hidden; padding-right:5px; margin:0; padding-left:183px; }
#accueil-layout #header .hori-nav  { padding-left:248px;}
#header .hori-nav a.accueil { background-position:0 4px; color:#fff; line-height:normal; padding-top:3px; }
#header .hori-nav li { color:#3A84C3; height:20px; line-height:normal; }
#header .hori-nav li a { color:#fff; line-height:normal; padding-top:3px; }
#header .hori-nav li a.on { color:#fff; height:20px; line-height:normal; background-position:center 0px; cursor:default; }
#header .hori-nav .right { display:none; }

.left-part { background:#fff; padding-right:14px; padding-top:0; width:160px; margin-right:4px; }
.left-part .menu ul.ss-menu-open, .left-part .menu ul.ss-menu-closed { padding-top:5px; border-bottom:1px solid #fff; margin-left:4px; }
.left-part .menu ul li.menu-open span { background:#3270A7; height:19px; color:#fff; line-height:normal; padding-top:3px; padding-left:5px; }
.left-part .menu ul li.menu-closed span { background:#3270A7; height:19px; color:#fff; line-height:normal; padding-top:3px;padding-left:5px; }
.left-part .menu ul li.menu-open ul li { margin-bottom:5px; }
.left-part .menu ul li.menu-open ul li a { color:#666; }
.left-part .menu ul li.menu-open ul li a:hover { color:#666; text-decoration:underline; }
.left-part .menu ul li.menu-open ul li.on a { background:url(../images/menu-left-arrow-on.gif) no-repeat 1px 3px; }
.left-part .menu ul li.menu-open ul li a { background:url(../images/menu-left-arrow.gif) no-repeat 1px 3px; }
.left-part .menu .bottom { display:none !important; } 

.main-part  { padding-left:5px; /padding-left:3px; padding-top:3px; }
.middle { background-color:#fff; padding-top:10px; padding-bottom:10px; padding-left:0; }

.breadcrumb { color:#666666; font-size:1em; }
.breadcrumb a { color:#666666; }
.login-intro { color:#004F96; }
.intro { color:#004F96 }
.nb-resultat { color:#004F96; }
.date-reception { color:#004F96; }


.workflow, .workflow a { font-size:0.9em !important;  }
.workflow .etape-off1, .workflow .etape-off1 a, .workflow .etape-off2, .workflow .etape-off2 a, .workflow .etape-off3, .workflow .etape-off3 a, .workflow .consultation-on { color:#5C768F;font-size:1em !important; }

.bouton input.bouton-small, .bouton input.bouton-moyen { height:17px; font-size:1em; }

.intitule-small, .intitule-small1, .intitule-small2, .intitule, .intitule-moyen, .intitule-moyen1, .intitule-moyen2, .intitule-moyen3, .intitule-auto , .form-bloc .intitule, .form-bloc .intitule-130, .form-bloc .intitule-small, .form-bloc .intitule-moyen, .form-bloc .intitule-long { font-weight:normal; }

.form-bloc .nav .tab span.border-left, .form-bloc .nav .tab-on span.border-left { display:none; }
.form-bloc .nav span.border-right { height:20px; }
.form-bloc .nav .tab-on, .form-bloc .nav .tab { height:20px; margin-right:1px; }
.form-bloc .nav .tab a, .form-bloc .nav .tab-on a { padding-top:3px; height:17px; }
.form-bloc .nav .tab { background:#dfe0e2; }
.form-bloc .nav .tab a { color:#626364; }
.form-bloc .nav .tab-on { background:#466aab; }
.form-bloc .nav .tab-on a { color:#fff; }

.accueil-box a.link, h1 { background-image:url(../images/arrow.gif); }
.titre { color:#004F96; background-image:url(../images/picto-cercle-bleu.gif);}
.actualites .title { color:#004F96; }

.table-line { width:115px; }
.table-line .montant-content { width:90px !important; }
.table-line-montant { width:115px; }
.table-line-montant .montant-content { width:90px !important; }
input.montant_propose-long { width:70px !important; }

#footer { background:#004F96; color:#fff; height:18px; padding-top:5px; }
#footer a { color:#fff; font-weight:bold; }
.footer-ext td.right { display:none; background:none; }

/*****************************************************FIN STYLES SPECIFIQUES*****************************************************************/
