<h2>Actes liés à l'exécution</h2>
<!--Debut Panel Contrat-->
<ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>
<!--Fin Panel Contrat-->

<!--Debut panel Filtres-->
<div class="panel panel-default bloc-toggle panel-filtres">

    <div class="panel-heading" id="headingFiltres">
        <h3 class="panel-title no-toggle">Filtrer par </h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="input_keywords" class="col-sm-2 control-label">Mots-clés
                        <abbr
                                class="icon"
                                tabindex="0"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Rechercher (3 caractères minimum) sur l'objet, le numero, l'acheteur ou le titulaire de l'acte"
                        >
                            <fa-icon icon="question-circle"><span class="sr-only">Aide</span></fa-icon>
                        </abbr></label>
                    <div class="controls col-sm-10">
                        <input placeholder="Rechercher (3 caractères minimum) sur l'objet, le numero, l'acheteur ou le titulaire de l'acte"
                               [(ngModel)]="criteria.motsCles" name="motsCles"
                               (keyup)="updateSearchByMotsCles($event)" type="text"
                               class="form-control" id="input_keywords" replaceSpace></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--// Fin panel Filtres-->
<!--Debut Tableau resultats-->
<div class="panel-table" *ngIf="actes.totalElements == 0">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <h3 class="repeater-header-title">Aucun résultat trouvé.</h3>
        </div>
    </div>
</div>

<div class="panel-table" *ngIf="actes.totalElements != 0 ">
    <div class="repeater-header">
        <div class="repeater-header-left">
            <ltexec-table-elements-count [page]="actes"></ltexec-table-elements-count>
        </div>
        <div class="repeater-header-right">
            <!--Debut Pagnination top-->
            <ltexec-table-pagination [table]="self" [page]="actes"></ltexec-table-pagination>
            <!--Fin Pagnination top-->
        </div>
    </div>

    <div class="repeater-viewport">
        <table class="table table-bordered table-striped table-suivi table-contrats table-hover">
            <thead>
            <tr>
                <th id="header_1" class="col-refs">
                    <ltexec-table-sort [label]="'Objet'" [property]="'objet'" [table]="self"
                                       [page]="actes"></ltexec-table-sort>
                    <br/>
                    <ltexec-table-sort [label]="'Numéro de l\'acte'" [property]="'numero'" [table]="self"
                                       [page]="actes"></ltexec-table-sort>
                    <br/>
                    <ltexec-table-sort [label]="'Type d\'acte'" [page]="actes" [property]="'typeActe.label'"
                                       [table]="self"></ltexec-table-sort>
                    <br/>
                    <ltexec-table-sort [label]="'Acheteur'" [property]="'acheteur'" [table]="self"
                                       [page]="actes"></ltexec-table-sort>
                </th>
                <th id="header_2">
                    <ltexec-table-sort [label]="'Titulaire(s)'" [property]="'titulaire'" [table]="self"
                                       [page]="actes"></ltexec-table-sort>
                </th>
                <th id="header_3">
                    <ltexec-table-sort [label]="'Statut'" [property]="'statut'" [table]="self"
                                       [page]="actes"></ltexec-table-sort>
                </th>
                <th id="header_message_chorus">
                    Message
                </th>
                <th id="header_4">
                    <ltexec-table-sort [label]="'Documents'" [page]="actes" [property]="'documents.fichier.nom'"
                                       [table]="self"></ltexec-table-sort>
                </th>
                <th id="header_5" class="col-dates">
                    <ltexec-table-sort [label]="'Date de notification'" [property]="'dateNotification'" [table]="self"
                                       [page]="actes"></ltexec-table-sort>
                </th>
                <th id="header_6" class="actions col-md-1 text-center">
                    <div>Actions</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acte of actes.content">
                <td class="col-refs">
                    <strong><a href="#">{{acte.objet}}</a></strong>
                    <br/>
                    Acte n°{{acte.numero}}
                    <br/>
                    {{acte?.type?.label}}
                    <br/>
                    <span class="auteur">{{acte?.acheteur?.prenom}} {{acte?.acheteur?.nom}}</span>
                </td>
                <td>
                    {{acte?.titulaire?.etablissement?.fournisseur?.raisonSociale}}
                </td>
                <td>
                    <span [tooltip]="getInfobulleStatut(acte)"><i class="{{acte.statut.toString() | lowercase}}"></i>&nbsp;{{getLibelleStatut(acte)}}</span>
                </td>
                <td class="td-truncate">
                    <span class="truncate"
                        [tooltip]="acte?.echangeChorus?.erreurPublication">{{ acte?.echangeChorus?.erreurPublication }}</span>
                </td>
                <td>
                    <ol style="list-style-type: none; padding: 0">
                        <li *ngFor="let document of acte.documents">
                            <a (click)="download(document)" style="cursor: pointer;"
                               title="Télécharger le document {{document?.fichier?.nom}}">
                                <fa-icon icon="download"></fa-icon>
                                {{document?.fichier?.nom}}</a>
                        </li>
                    </ol>
                </td>
                <td class="col-dates" style="vertical-align: middle">
                    {{acte.dateNotification}}
                </td>
                <td class="actions col-md-1 text-center">
                    <ng-container [ngSwitch]="acte.statut">
                        <ng-container *ngSwitchCase="'BROUILLON'">
                            <!-- BROUILLON -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { display: !isChorus(), acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: isChorus() || existeEchangeChorusOK(acte), acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { display: false, contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { display: isChorus(), acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { display: false, acte: acte, disabled: !contrat.peutEchangerAvecChorus  }"></ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'EN_ATTENTE_VALIDATION'">
                            <!-- EN_ATTENTE_VALIDATION -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { display: false, contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { display: false, acte: acte, disabled: !contrat.peutEchangerAvecChorus }"></ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'EN_ATTENTE_ACCUSE'">
                            <!-- EN_ATTENTE_ACCUSE -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { display: false, contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { display: false, acte: acte, disabled: !contrat.peutEchangerAvecChorus  }"></ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'VALIDE'">
                            <!-- EN_ERREUR -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { display: false, contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { display: false, acte: acte, disabled: !contrat.peutEchangerAvecChorus  }"></ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'EN_ERREUR'">
                            <!-- EN_ERREUR -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { contrat: criteria.contrat, acte: acte, display: false }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { acte: acte, disabled: !contrat.peutEchangerAvecChorus  }"></ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'NOTIFIE'">
                            <!-- NOTIFIE -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { display: false, contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { display: false, acte: acte }"></ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'ANNULE'">
                            <!-- ANNULE -->
                            <div class="buttons-grid">
                                <ng-container *ngTemplateOutlet="action_modifier; context: { contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_notifier; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_echanger_chorus; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_supprimer; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_voir; context: { display: false, contrat: criteria.contrat, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_rejeter; context: { display: false, acte: acte }"></ng-container>
                                <ng-container *ngTemplateOutlet="action_renvoyer; context: { display: false, acte: acte }"></ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </td>
            </tr>

            </tbody>

        </table>

    </div>

    <div class="repeater-footer">
        <div class="repeater-footer-left">
        </div>
        <div class="repeater-footer-right">
            <!--Debut Pagnination bottom-->
            <ltexec-table-pagination [table]="self" [page]="actes"></ltexec-table-pagination>
            <!--Fin Pagnination bottom-->
        </div>
    </div>

</div>

<!--Fin Tableau resultats-->

<section class="form-group form-actions">
    <button (click)="goBack()" class="btn btn-default btn-sm m-r-10" type="button"
            value="Retour">
        <fa-icon icon="angle-double-left"></fa-icon>
        Retour
    </button>
    <ng-container *ngIf="avecEtablissement()">
        <a [routerLink]="['/actes/ajouter', criteria.contrat.id]" class="btn btn-sm btn-primary" href="#">
            <fa-icon icon="plus"></fa-icon>
            Ajouter un acte</a>
    </ng-container>

    <ng-container *ngIf="!avecEtablissement()">
        <span tooltip="Ce contrat n'a pas de titulaire, merci de contacter l'équipe support">
            <span class="btn btn-sm btn-primary disabled">
                <fa-icon icon="plus"></fa-icon>
                Ajouter un acte</span>
        </span>
    </ng-container>
</section>

<!-- Debut Modal Notifications -->
<div (onHidden)="isNotificationModalShown=false"
     *ngIf="isNotificationModalShown && selectedActe" [config]="{ show: true }" aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <ltexec-acte-notification-creation (onClose)="isNotificationModalShown=false" (onUpdate)="updateActe($event)" [idActe]="selectedActe.id"></ltexec-acte-notification-creation>
    </div>
</div>
<!-- Fin Modal Notifications -->
<!-- Debut Modal Echange CHORUS -->
<div (onHidden)="isEnvoiChorusShown=false" *ngIf="isEnvoiChorusShown && selectedActe" [config]="{ show: true }"
     aria-labelledby="dialog-auto-name"
     bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md">
        <ltexec-creation-echange-chorus (onClose)="isEnvoiChorusShown=false;fetchPage(actes.number,actes.size,sort)" (soumission)="updateEchangeChorus($event)"
                                        [acte]="selectedActe"
                                        [echangeChorus]="echnageChorus"></ltexec-creation-echange-chorus>
    </div>
</div>
<!-- Fin Modal Echange CHORUS -->

<ng-template #action_modifier let-display="display" let-disabled="disabled" let-contrat="contrat" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="null == disabled ? false : disabled" type="button" [routerLink]="['/actes/modifier', contrat.id, acte.id]" class="btn btn-primary btn-xs btn-action" title="Modifier">
        <fa-icon icon="pencil-alt"></fa-icon>
    </button>
</ng-template>

<ng-template #action_notifier let-display="display" let-disabled="disabled" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="null == disabled ? false : disabled" (click)="notifier(acte)" class="btn btn-success btn-xs btn-action" title="Notifier l'acte" type="button">
        <fa-icon icon="bell"></fa-icon>
    </button>
</ng-template>

<ng-template #action_echanger_chorus let-display="display" let-disabled="disabled" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="!isChorus() || existeEchangeChorusOK(acte) || !contrat.peutEchangerAvecChorus" (click)="echangerChorus(acte)" class="btn btn-primary btn-xs btn-action" [title]="!contrat.peutEchangerAvecChorus ? 'Un échange avec Chorus est déjà en cours': 'Echanger avec chorus'"
            type="button">
        <fa-icon icon="exchange-alt"></fa-icon>
    </button>
</ng-template>

<ng-template #action_supprimer let-display="display" let-disabled="disabled" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="null == disabled ? false : disabled" type="button" data-target=".modal-acteSuppression" (click)="afficherModaleSuppressionActe(acte)" data-toggle="modal" class="btn btn-danger btn-xs btn-action" title="Supprimer">
        <fa-icon icon="trash"></fa-icon>
    </button>
</ng-template>

<ng-template #action_voir let-display="display" let-disabled="disabled" let-contrat="contrat" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="null == disabled ? false : disabled" type="button" [routerLink]="['/actes/afficher', contrat.id, acte.id]" class="btn btn-secondary btn-xs btn-action" title="Voir">
        <fa-icon icon="search-plus" flip="horizontal"></fa-icon>
    </button>
</ng-template>

<ng-template #action_rejeter let-display="display" let-disabled="disabled" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="null == disabled ? false : disabled" (click)="rejeter(acte)" type="button" class="btn btn-warning btn-xs btn-action" title="Annuler/rejeter">
        <fa-icon icon="ban"></fa-icon>
    </button>
</ng-template>

<ng-template #action_renvoyer let-display="display" let-disabled="disabled" let-acte="acte">
    <button *ngIf="null == display ? true : display" [disabled]="null == disabled ? false : disabled" [routerLink]="['/actes/modifier', contrat.id, acte.id]" type="button" class="btn btn-primary btn-xs btn-action" title="Valider et envoyer vers CHORUS">
        <fa-icon icon="rotate-right"></fa-icon>
    </button>
</ng-template>
