@import "variables";

.td-truncate {
    max-width: 120px;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttons-grid {
    display: grid;
    grid-template-rows: $action-button-height $action-button-height;
    grid-template-columns: $action-button-width $action-button-width;
    row-gap: $action-button-gap;
    column-gap: $action-button-gap;

    .btn {
        width: 100%;
        height: 100%;
    }
}
