
body {
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    color: #000000;
    background-color: #6286b6;
    font-size: 13px;
}

html {
    overflow: hidden;
}

.v-navigation-drawer {
    width: 20% !important;
    bottom: 0;
    height: calc(100%) !important;
    position: absolute;
    border: none;
}

.v-main {
    width: 80% !important;
    bottom: 0;
    top: 0;
    right: 0;
    height: 100% !important;
    position: absolute;
    border: none;
    background-color: #6286b6;
}

.v-application--wrap {
    background: #6286b6 !important;

}

.v-list-item__title {
    align-self: center;
    font-size: 0.9em !important;
}

.theme--light.v-navigation-drawer {
    background: #6286b6 !important;
}

.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
    width: 0 !important;
}

div {
    border-radius: 5px;
}

.v-application--is-ltr .v-stepper__label {
    text-align: center;
}

.v-btn:not(.v-btn--outlined).primary, .theme--light.v-stepper .v-stepper__step__step {
    background-color: #6286b6 !important;
    border-color: #6286b6 !important;
}


.v-stepper__header {
    box-shadow: none;
}

.v-stepper {
    box-shadow: none;
}

.v-stepper__step {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 24px 0 !important;
    position: relative;
}

.theme--light.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step {
    background: rgba(0, 0, 0, 0.38) !important;
}

.v-badge__badge .v-icon {
    color: inherit;
    font-size: 11px !important;
    margin: 0 -2px;
}

.v-badge--icon .v-badge__badge {
    padding: 4px 6px;
    bottom: calc(100% - 8px) !important;
    left: calc(100% - 8px) !important;
    right: auto;
    top: auto;
}

.page {
    border-radius: 5px;
    min-height: calc(100% - 40px) !important;
    max-height: calc(100% - 40px) !important;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
    margin: 20px;
    overflow: auto;
}

#step {
    margin: 15px;
}

.titre {
    background: #ffffff;
    border-bottom: #e0e0e0 solid 1px;
    padding: 8px 15px;
}

.atexo-title {
    font-weight: 500;
    font-size: 13pt;
}

.atexo-description {
    font-size: 9pt;
    color: #909090;
}

.sub-menu {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
    margin-right: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.p-toast.p-toast-topright {
    z-index: 1000;
    top: 70px;
}

.layout-sidebar {
    background: #4c6990 !important;
}

li > a {
    color: white !important;
}

.pi {
    font-size: 1.5rem !important;
    color: white;
}

.layout-menu > li:last-child > a {
    border-bottom: none !important;
}

.p-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    margin-top: 0.6rem;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-button {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

.v-application code {
    color: #FFFFFF;
    background: rgb(51, 51, 51);
}

.jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #6286b6;
    border-bottom: 1px solid #6286b6;
}

.jsoneditor {
    color: #1a1a1a;
    border: thin solid #6286b6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    line-height: 100%;
}

.jsoneditor-poweredBy {
    display: none;
}
