<div class="row"
     [style.display]="state.value === 'inactive' ? 'none' : ''">
    <div class="col-12">
        <div *ngIf="title" [class]="options.titleClass"
             [attr.aria-label]="title | translate">
            {{ title  | translate}}
        </div>
        <div *ngIf="message && options.enableHtml" role="alert"
             aria-live="polite"
             [class]="options.messageClass" [innerHTML]="message  | translate">
        </div>
        <div *ngIf="message && !options.enableHtml" role="alert"
             aria-live="polite"
             [class]="options.messageClass" [attr.aria-label]="message  | translate">
            {{ message  | translate }}
        </div>
    </div>

</div>
<div *ngIf="options.progressBar">
    <div class="toast-progress" [style.width]="width + '%'"></div>
</div>
