<template>
  <div>
    <h2>{{ labelNumberOfResults }} <span>{{ entreprises.length }}</span></h2>
    <table class="table table-bordered">
      <thead style="background-color: #cdcdcd">
      <tr class="text-white">
        <th scope="col" class="text-center">
          {{ labelLotsAttributes }}
        </th>
        <th scope="col" class="text-center">{{ labelStatus }}</th>
        <th scope="col" class="text-center">
         {{ labelDateOfNotification }}
        </th>
        <th scope="col" class="text-center">{{ labelLinkToTheContract }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(idEntreprise, index) in entreprises.slice(start, end)" :style="getStyle(index)">
        <td>
          <div v-for="contrat in contrats[idEntreprise]">
            <span v-if="contrat.lot > 0"><b>Lot {{ contrat.lot }} - {{ contrat.description }}</b></span>
            <span v-else><b>{{ contrat.intitule }}</b></span>
          </div>
          <div>
            {{ getContrat(contrats[idEntreprise]).entreprise }} - {{ getContrat(contrats[idEntreprise]).codepostal }} {{ getContrat(contrats[idEntreprise]).villeadresse }}
          </div>
        </td>
        <td>
          <div :style="styleNotification">
            <div>
              <abbr :title="labelStepNotificationPerformed" class="contrat-etape contrat-etape3bsur3" v-if="getContrat(contrats[idEntreprise]).statutContrat == 4">
                <span class="sr-only">{{ labelStepNotificationPerformed }}</span>
              </abbr>

              <abbr :title="labelNotificationStep" class="contrat-etape contrat-etape3asur3" v-if="getContrat(contrats[idEntreprise]).statutContrat == 3">
                <span class="sr-only">{{ labelNotificationStep }}</span>
              </abbr>

              <abbr :title="labelContractDataToBeEntered" class="contrat-etape contrat-etape2sur3" v-if="getContrat(contrats[idEntreprise]).statutContrat == 1">
                <span class="sr-only">{{ labelContractDataToBeEntered }}</span>
              </abbr>
            </div>
            <div>
              <abbr :title="labelDateOfNotification" v-if="getContrat(contrats[idEntreprise]).statutContrat == 4">
                <img src="/themes/images/picto-calendar-ok.gif" alt=""></abbr>
              <abbr :title="labelDatePrevisionnelleNotification" v-else>
                <img src="/themes/images/picto-date-previsionelle.png" alt=""></abbr>
            </div>
          </div>

        </td>
        <td class="text-center">
          <span v-if="getContrat(contrats[idEntreprise]).statutContrat == 4">
            {{ getFormatDate(getContrat(contrats[idEntreprise]).dateNotification) }}
          </span>
        </td>
        <td class="text-center">
          {{ labelNumeroContrat }} : <a :href="getLink(contrats[idEntreprise])">{{ getContrat(contrats[idEntreprise]).referenceLibre }}</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="line-partitioner">
      <div class="partitioner">
        <div class="intitule">
          <strong>
            <label>
              <span>{{ labelDisplay }}</span>
            </label>
          </strong>
        </div>
        <select :title="labelNumberOfResultsPerPage" v-model="limit" @change="onChange($event)">
          <option selected="selected" value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
        <div class="intitule"><span>{{ labelResultsPerPage }}</span></div>
        <div class="float-left">
          <input type="text" v-model="page" :title="labelPageNumber" v-on:keyup.enter="onSubmit">
          <div class="nb-total ">
            <span>/</span>
            <span>{{ getNumberOfPages() }}</span>
          </div>
        </div>
        <div class="liens" v-if="getNumberOfPages() > 1">
          <span>
            <a v-on:click.stop.prevent="goFirstPage" class="" href><img src="/themes/images/fleche-premier.gif" :alt="labelGoToTheFirstPage" :title="labelGoToTheFirstPage"></a>
            <a v-on:click.stop.prevent="goPrevPage"  class="" href><img src="/themes/images/fleche-precedent.gif" :alt="labelGoToPreviousPage" :title="labelGoToPreviousPage"></a>
            <a v-on:click.stop.prevent="goNextPage"  class="" href><img src="/themes/images/fleche-suivant.gif" :alt="labelGoToNextPage" :title="labelGoToNextPage"></a>
            <a v-on:click.stop.prevent="goLastPage"  class="" href><img src="/themes/images/fleche-dernier.gif" :alt="labelGoToTheLastPage" :title="labelGoToTheLastPage"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./decision-consultation.js" type="script" lang="js"></script>