<h2 class="text-primary">Contacts référents du contrat</h2>

<!-- ============== -->
<!-- encart contrat -->
<!-- ============== -->
<ltexec-contrat-recap [contrat]="contrat"></ltexec-contrat-recap>


<div class="panel panel-default bloc-toggle">
    <div class="panel-heading" role="tab" id="headingContacts">
        <h3 class="panel-title">
            <a *ngIf="etablissement && attributaire" data-toggle="collapse" data-parent="#accordion" href="#collapseContacts" aria-expanded="true" aria-controls="collapseContacts">
                <i class="fa"></i>
                {{recupererTypeEtablissement()}} {{etablissement.fournisseur?.raisonSociale}} - {{etablissement.adresse?.codePostal}} {{etablissement.adresse?.commune}}
            </a>
        </h3>
    </div>
    <div id="collapseContacts" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingContacts">
        <div class="panel-body">
            <!-- ================== -->
            <!-- referent principal -->
            <!-- ================== -->
            <table [class.bordered-table]="contactPrincipal" class="table zebra-striped table-highlight table-contacts">
                <caption *ngIf="!contactPrincipal" class="noResult">Aucun contact référent principal n'est renseigné</caption>
                <caption *ngIf="contactPrincipal">1 contact référent principal</caption>
                <thead *ngIf="contactPrincipal">
                <tr>
                    <th scope="col">Prénom NOM</th>
                    <th scope="col" class="col">Rôle sur le contrat</th>
                    <th scope="col" class="col-md-3">Email</th>
                    <th scope="col" class="col-md-2">Téléphone</th>
                    <th scope="col" class="col-md-2 col-actions">Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="contactPrincipal">
                    <tr *ngIf="contactPrincipal.contact.actif">
                        <td class="col-user">
                            <div>
                                <i class="fa fa-user" data-toggle="tooltip" title="Contact">
                                    <span class="sr-only">Contact</span>
                                </i> {{contactPrincipal.contact.prenom}} {{contactPrincipal.contact.nom | uppercase}}
                                <i class="text-muted">{{contactPrincipal.contact.fonction}}</i></div>
                        </td>
                        <td>Soumissionaire</td>
                        <td class="col-contact col-break">
                            <div><i class="fa fa-envelope" data-toggle="tooltip" title="Email">
                                <span class="sr-only">Email</span>
                            </i>{{contactPrincipal.contact.email}}
                            </div>
                        </td>
                        <td class="col-tel col-break">
                            <div *ngIf="contactPrincipal.contact.telephone">
                                <i class="fa fa-phone" data-toggle="tooltip" title="Téléphone">
                                <span class="sr-only">Téléphone</span></i> {{contactPrincipal.contact.telephone}}
                            </div>
                        </td>
                        <td class="col-actions">
                            <a data-target=".modal-contactModification" (click)="demanderModificationContactPrincipal(contactPrincipal)" data-toggle="modal" href="#" class="btn btn-primary btn-sm btn-action" title="Modifier">
                                <i class="fas fa-pencil-alt">
                                    <span class="sr-only">Modifier</span>
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ng-container *ngIf="contactPrincipal">
                <!-- ========= -->
                <!-- referents -->
                <!-- ========= -->
                <table [class.bordered-table]="contactsReferents.length > 0"  class="table zebra-striped table-highlight table-contacts table-contacts-referents">
                    <caption *ngIf="contactsReferents.length == 0" class="noResult">Aucun contact référent renseigné
                    </caption>
                    <caption *ngIf="contactsReferents.length > 0">
                        {{contactsReferents.length}}
                        {{contactsReferents.length == 1 ? 'contact référent' : 'contacts référents'}}
                    </caption>
                    <thead *ngIf=" contactsReferents.length > 0">
                    <tr>
                        <th scope="col">Prénom NOM</th>
                        <th scope="col" class="col">Rôle sur le contrat</th>
                        <th scope="col" class="col-md-3">Email</th>
                        <th scope="col" class="col-md-2">Téléphone</th>
                        <th scope="col" class="col-md-2 col-actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="contactsReferents.length > 0">
                    <ng-template ngFor let-contactReferentSecondaire [ngForOf]="contactsReferents" let-i="index">
                        <tr *ngIf="contactReferentSecondaire.contact.actif">
                            <td class="col-user">
                                <div>
                                    <i class="fa fa-user" data-toggle="tooltip" title="Contact">
                                        <span class="sr-only">Contact</span>
                                    </i> {{contactReferentSecondaire.contact.prenom}} {{contactReferentSecondaire.contact.nom | uppercase}}
                                    <i class="text-muted">{{contactReferentSecondaire.contact.fonction}}</i></div>
                            </td>
                            <td>{{contactReferentSecondaire.roleContrat}}</td>
                            <td class="col-contact col-break">
                                <div><i class="fa fa-envelope" data-toggle="tooltip" title="Email">
                                    <span class="sr-only">Email</span>
                                </i>{{contactReferentSecondaire.contact.email}}
                                </div>
                            </td>
                            <td class="col-tel col-break">
                                <div *ngIf="contactReferentSecondaire.contact.telephone">
                                    <i class="fa fa-phone" data-toggle="tooltip" title="Téléphone">
                                        <span class="sr-only">Téléphone</span>
                                    </i> {{contactReferentSecondaire.contact.telephone}}
                                </div>
                            </td>
                            <td class="col-actions">
                                <a data-target=".modal-contactModification" (click)="demanderModificationContactReferent(contactReferentSecondaire)" data-toggle="modal" href="#" class="btn btn-primary btn-sm btn-action" title="Modifier">
                                    <i class="fas fa-pencil-alt">
                                        <span class="sr-only">Modifier</span>
                                    </i>
                                </a>
                                <a data-target=".modal-contactSuppression" (click)="demanderSuppression(contactReferentSecondaire)" data-toggle="modal" href="#" class="btn btn-primary btn-sm btn-action" title="Supprimer">
                                    <i class="fa fa-trash">
                                        <span class="sr-only">Supprimer</span>
                                    </i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>

                    </tbody>
                </table>
            </ng-container>

            <div class="m-t-1">
                <a class="btn btn-sm btn-primary m-t-1" (click)="demanderAjout()"><i class="fa fa-plus"></i> Ajouter un contact référent<ng-container *ngIf="!contactPrincipal"> principal</ng-container></a>
            </div>
        </div>
    </div>
</div>

<!-- ======================== -->
<!-- popin d'ajout de contact -->
<!-- ======================== -->
<div *ngIf="ajoutModale" class="modal fade" (onHidden)="ajoutModale=undefined" [config]="{ show: true }" bsModal tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="ajoutModale=undefined">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titreDialogue_contact">Ajouter un contact</h4>
            </div>
            <form #contactForm="ngForm">
                <div class="modal-body">
                    <div class="form-horizontal form-condensed">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="normal">
                                    <input type="radio" id="optionContact_01" name="optionContact" [checked]="ajoutModale.type == TypeContact.Existant" [value]="TypeContact.Existant" (click)="changeTypeContact(TypeContact.Existant)">&nbsp;Contact existant
                                </label>
                            </div>
                            <div class="col-xs-10 col-md-8 col-md-offset-0">
                                <select title="Contacts" id="listeContacts" class="form-control" (change)="selectionContactExistant($event.target)" [disabled]="!contactsExistants || contactsExistants.length === 0">
                                    <option [selected]="ajoutModale.type === TypeContact.Existant">
                                        Sélectionnez un contact
                                    </option>
                                    <option *ngFor="let contactEtablissement of contactsExistants" [disabled]="existe(contactEtablissement)" value="{{contactEtablissement.id}}">
                                        {{contactEtablissement.prenom}} {{contactEtablissement.nom}} - {{contactEtablissement.fonction}} - {{contactEtablissement.email}}
                                    </option>
                                </select>
                            </div>
                            <div id="panel_detailContact" class="col-md-12 p-2" *ngIf="ajoutModale.type == TypeContact.Existant && ajoutModale.id">
                                <div class="form-row">
                                    <div class="form-label">
                                        <label>NOM</label>
                                    </div>
                                    <div class="form-field">
                                        <div class="form-control-static">{{ajoutModale.nom}}</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label>Prénom</label>
                                    </div>
                                    <div class="form-field">
                                        <div class="form-control-static">{{ajoutModale.prenom}}</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label>Email</label>
                                    </div>
                                    <div class="form-field">
                                        <div class="form-control-static">{{ajoutModale.email}}</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label>Téléphone</label>
                                    </div>
                                    <div class="form-field">
                                        <div class="form-control-static">{{ajoutModale.telephone}}</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label>Qualité</label>
                                    </div>
                                    <div class="form-field">
                                        <div class="form-control-static">{{ajoutModale.fonction}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_nouveauContactRole">Rôle sur le contrat</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_nouveauContactRole" name="role" [(ngModel)]="ajoutModale.role"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal" *ngIf="etablissement?.fournisseur">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="normal">
                                    <input type="radio" id="optionContact_021" name="optionContact" [value]="TypeContact.Nouveau" (click)="changeTypeContact(TypeContact.Nouveau)">&nbsp;Nouveau contact de {{etablissement?.fournisseur?.raisonSociale}}
                                </label>
                            </div>
                            <div id="panel_nouveauContact" class="col-md-12 p-2" *ngIf="ajoutModale.type == TypeContact.Nouveau">
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_nouveau_contactNOM" >Nom<ltexec-asterisk></ltexec-asterisk></label>
                                        <show-error class="help-block with-errors" control="nom" [errors]="['required']"></show-error>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_nouveau_contactNOM" required name="nom" [(ngModel)]="ajoutModale.nom">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_nouveau_contactPrenom">Prénom</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_nouveau_contactPrenom" name="prenom" [(ngModel)]="ajoutModale.prenom">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_nouveau_contactEmail">Email<ltexec-asterisk></ltexec-asterisk></label>
                                        <show-error class="help-block with-errors" control="email" [errors]="['required','invalidEmail']"></show-error>
                                    </div>
                                    <div class="form-field">
                                        <input [(ngModel)]="ajoutModale.email" name="email" type="email" class="form-control input-xl" id="input_nouveau_contactEmail" required email>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_nouveau_contactTel">Téléphone</label>
                                        <show-error class="help-block with-errors" control="telephone" [errors]="['invalidPhoneNumber']"></show-error>
                                    </div>
                                    <div class="form-field">
                                        <input type="tel" class="form-control input-xl" id="input_nouveau_contactTel" name="telephone" [(ngModel)]="ajoutModale.telephone" telephone>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_contactQualite">Qualité</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_contactQualite" name="fonction" [(ngModel)]="ajoutModale.fonction">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_nouveau_contactRole">Rôle sur le contrat</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_nouveau_contactRole" name="role" [(ngModel)]="ajoutModale.role">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="contactExterneActif" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="normal">
                                    <input type="radio" id="optionContact_022" [value]="TypeContact.Libre"  name="optionContact" (click)="changeTypeContact(TypeContact.Libre)">&nbsp;Nouveau contact externe
                                </label>
                            </div>
                            <div id="panel_nouveauContactExterne" class="col-md-12 p-2" *ngIf="ajoutModale.type == TypeContact.Libre">
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_contactNOM">Nom<ltexec-asterisk></ltexec-asterisk></label>
                                        <show-error class="help-block with-errors" control="nom" [errors]="['required']"></show-error>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_contactNOM" required name="nom" [(ngModel)]="ajoutModale.nom">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_contactPrenom">Prénom</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_contactPrenom" name="prenom" [(ngModel)]="ajoutModale.prenom">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_contactEmail">Email<ltexec-asterisk></ltexec-asterisk></label>
                                        <show-error class="help-block with-errors" control="email" [errors]="['required','invalidEmail']"></show-error>
                                    </div>
                                    <div class="form-field">
                                        <input [(ngModel)]="ajoutModale.email" name="email" type="email" class="form-control input-xl" id="input_contactEmail" required email>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_contactTel">Téléphone</label>
                                        <show-error class="help-block with-errors" control="telephone" [errors]="['invalidPhoneNumber']"></show-error>
                                    </div>
                                    <div class="form-field">
                                        <input type="tel" class="form-control input-xl" id="input_contactTel" name="telephone" [(ngModel)]="ajoutModale.telephone" telephone>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">
                                        <label for="input_contactRole">Rôle sur le contrat</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-xl" id="input_contactRole" name="role" [(ngModel)]="ajoutModale.role">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn btn-sm btn-default" (click)="ajoutModale=undefined">Annuler</button>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-default btn-primary" data-dismiss="modal" (click)="ajouter()" [class.disabled]="!formulaireAjoutEstOK(contactForm)" [disabled]="!formulaireAjoutEstOK(contactForm)">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- =============================== -->
<!-- popin de suppression de contact -->
<!-- =============================== -->
<div *ngIf="suppressionModale" class="modal fade" (onHidden)="suppressionModale=undefined" [config]="{ show: true }" bsModal tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="suppressionModale=undefined" class="close" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_acteSuppression">Supprimer le contact {{this.suppressionModale.contactReferent.contact.prenom}} {{this.suppressionModale.contactReferent.contact.nom}}</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer ce contact ?</p>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="suppressionModale=undefined">Non</button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="supprimer()" class="btn btn-default btn-primary" data-dismiss="modal">Oui</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================ -->
<!-- popin de modification de contact -->
<!-- ================================ -->
<div *ngIf="modificationModale" class="modal fade" (onHidden)="modificationModale=undefined" [config]="{ show: true }" bsModal tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modificationModale=undefined">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titreDialogue_contactModification">Modifier un contact</h4>
            </div>
            <div class="modal-body">
                <form #modificationForm="ngForm">
                    <div class="form-horizontal form-condensed">
                        <div class="form-row">
                            <div class="form-label">
                                <label>Nom<ltexec-asterisk></ltexec-asterisk></label>
                                <show-error class="help-block with-errors" control="nom" [errors]="['required']"></show-error>
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-control input-xl" id="input_modif_contactNOM" required name="nom" [(ngModel)]="modificationModale.nom">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">
                                <label>Prénom</label>
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-control input-xl" id="input_modif_contactPrenom" name="prenom" [(ngModel)]="modificationModale.prenom">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">
                                <label>Email<ltexec-asterisk></ltexec-asterisk></label>
                                <show-error class="help-block with-errors" control="email" [errors]="['required','invalidEmail']"></show-error>
                            </div>
                            <div class="form-field">
                                <input [(ngModel)]="modificationModale.email" name="email" type="email" class="form-control input-xl" id="input_modif_contactEmail" required email>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">
                                <label>Téléphone</label>
                                <show-error class="help-block with-errors" control="telephone" [errors]="['invalidPhoneNumber']"></show-error>
                            </div>
                            <div class="form-field">
                                <input type="tel" class="form-control input-xl" id="input_modif_contactTel" name="telephone" [(ngModel)]="modificationModale.telephone" telephone>
                            </div>
                        </div>
                        <div class="form-row" *ngIf="modificationModale?.contactReferent?.contact?.etablissement">
                            <div class="form-label">
                                <label>Qualité</label>
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-control input-xl" id="input_modif_contactFonction" name="fonction" [(ngModel)]="modificationModale.fonction" fonction>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">
                                <label for="input_modif_nouveauContactRole">Rôle sur le contrat</label>
                            </div>
                            <div class="form-field">
                                <ng-container *ngIf="modificationModale.contactPrincipal">
                                    {{ modificationModale.role }}
                                </ng-container>
                                <ng-container *ngIf="modificationModale.contactReferent">
                                    <input type="text" class="form-control input-xl" id="input_modif_nouveauContactRole" name="role" [(ngModel)]="modificationModale.role">
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-sm btn-default" (click)="modificationModale=undefined">Annuler</button>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-default btn-primary" (click)="modifier()" data-dismiss="modal" [class.disabled]="!formulaireModificationEstOK(modificationForm)"  [disabled]="!formulaireModificationEstOK(modificationForm)">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= -->
<!-- actions -->
<!-- ======= -->
<div class="form-group form-actions">
    <div class="pull-left">
        <button type="button" class="btn btn-default btn-sm" (click)="retour()">
            <i class="fa fa-angle-double-left"></i> Retour
        </button>
    </div>
</div>
