.table-contacts-referents {
    width: 98%;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.form-label {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form-field {
    display: flex;
    width: 70%;
}

::ng-deep {
    .help-block {
        margin: 0;
    }

    label {
        margin-bottom: 0;
    }


}
