<ng-template nf-if [ngIf]="contact != null">

    <a role="button" class="popover-detail" tabindex="0" data-toggle="popover" data-trigger="focus"
       [id]="'detail_contact_'+identifier">
        <span class="user">{{contact.prenom}} {{contact.nom}}</span></a>

    <!-- Content for Popover Agent -->
    <div [id]="'detail_contact_'+identifier+'_popover'" class="hidden">
        <div class="popover-heading">{{contact.prenom}} {{contact.nom | uppercase }}</div>
        <div class="popover-body">

            <div *ngIf="contact.email != null"><i class="fa fa-envelope" data-toggle="tooltip"
                                                  data-original-title="Email"><span class="sr-only">Email</span></i> <a
                    href="mailto:{{contact.email}}">{{contact.email}}</a></div>
            <div *ngIf="contact.telephone != null"><i class="fa fa-phone" data-toggle="tooltip"
                                                      data-original-title="Téléphone"><span
                    class="sr-only">Téléphone</span></i> {{contact.telephone}}
            </div>
        </div>
    </div>
    <!-- // Fin Content for Popover Agent -->

</ng-template>
