.errors-page {
  margin: auto;

  &-container {
    max-width: 815px;
    position: relative;

    .logo {
      position: absolute;
      top: -110px;
      left: calc(50% - 155px);
      cursor: pointer;
    }

    h1 {
      margin: 0;
      font-size: 40px;
      line-height: inherit;
      font-weight: 700;
      color: red;
    }

    a {
      color: #0269cc !important;
      text-decoration: underline;
      font-weight: 600;
    }

    button {
      position: absolute;
      left: 40%;
      bottom: -95px;
    }
  }

  &-illustration {
    float: left;
    height: 100px;
    width: 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  &-content {
    position: relative;
    text-align: center;
    overflow: hidden;
  }
}

.badge-item {
  display: flex;
  flex-direction: row;
  align-items: center
}
