<div id="exec-app">
    <router-outlet></router-outlet>
    <ltexec-fournisseurs *ngIf="loaded && !navigate" class="exec"></ltexec-fournisseurs>
    <ltexec-assistance *ngIf="loaded"></ltexec-assistance>
</div>

