<div (window:resize)="onResize($event)" *ngIf="!isWebComponent">
  <app-header></app-header>
  <!--ng-container *ngIf="layout === 'horizontal' && !isMobile ">
    <app-horizontalnav></app-horizontalnav>
  </ng-container-->
</div>
