<div [title]="item | referentiel:true" style="display: flex">
    <div [innerHTML]="item | referentiel:withCode:true" class="text-truncate"></div>
    <span *ngIf="delete"
          class="ng-value-icon right ng-star-inserted ml-1"
          (click)="onDeleteItem.emit(item)">×</span>
</div>
