<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Indicateur Metier{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('consultation_depot/assets/css/bootstrap.css') }}" type="text/css"/>
</head>
<body class="bootstrap">
    <div class="container-fluid">
        <h1>Indicateur Métier ({{ j1['datemin'] }} - {{ j8['datemin'] }})</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Date relative</td>
                {% for i in 1..8 %}
                    <td>J-{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Date absolue</th>
                <th>{{ j1['datemin'] }}</th>
                <th>{{ j2['datemin'] }}</th>
                <th>{{ j3['datemin'] }}</th>
                <th>{{ j4['datemin'] }}</th>
                <th>{{ j5['datemin'] }}</th>
                <th>{{ j6['datemin'] }}</th>
                <th>{{ j7['datemin'] }}</th>
                <th>{{ j8['datemin'] }}</th>
            </tr>
            <tr>
                <td>Consultations publiées</td>
                <td class="text-right">{{ j1['publish_consultation'] }}</td>
                <td class="text-right">{{ j2['publish_consultation'] }}</td>
                <td class="text-right">{{ j3['publish_consultation'] }}</td>
                <td class="text-right">{{ j4['publish_consultation'] }}</td>
                <td class="text-right">{{ j5['publish_consultation'] }}</td>
                <td class="text-right">{{ j6['publish_consultation'] }}</td>
                <td class="text-right">{{ j7['publish_consultation'] }}</td>
                <td class="text-right">{{ j8['publish_consultation'] }}</td>
            </tr>
            <tr>
                <td>Lots publiés</td>
                <td class="text-right">{{ j1['publish_lot'] }}</td>
                <td class="text-right">{{ j2['publish_lot'] }}</td>
                <td class="text-right">{{ j3['publish_lot'] }}</td>
                <td class="text-right">{{ j4['publish_lot'] }}</td>
                <td class="text-right">{{ j5['publish_lot'] }}</td>
                <td class="text-right">{{ j6['publish_lot'] }}</td>
                <td class="text-right">{{ j7['publish_lot'] }}</td>
                <td class="text-right">{{ j8['publish_lot'] }}</td>
            </tr>
            <tr>
                <td>Consultations publiques en ligne</td>
                <td class="text-right">{{ j1['public_consultations_online'] }}</td>
                <td class="text-right">{{ j2['public_consultations_online'] }}</td>
                <td class="text-right">{{ j3['public_consultations_online'] }}</td>
                <td class="text-right">{{ j4['public_consultations_online'] }}</td>
                <td class="text-right">{{ j5['public_consultations_online'] }}</td>
                <td class="text-right">{{ j6['public_consultations_online'] }}</td>
                <td class="text-right">{{ j7['public_consultations_online'] }}</td>
                <td class="text-right">{{ j8['public_consultations_online'] }}</td>
            </tr>
            <tr>
                <td>Consultations restreintes en ligne</td>
                <td class="text-right">{{ j1['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j2['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j3['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j4['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j5['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j6['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j7['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ j8['restraint_consultations_online'] }}</td>
            </tr>
            <tr>
                <td>Consultations clôturées</td>
                <td class="text-right">{{ j1['close_consultations'] }}</td>
                <td class="text-right">{{ j2['close_consultations'] }}</td>
                <td class="text-right">{{ j3['close_consultations'] }}</td>
                <td class="text-right">{{ j4['close_consultations'] }}</td>
                <td class="text-right">{{ j5['close_consultations'] }}</td>
                <td class="text-right">{{ j6['close_consultations'] }}</td>
                <td class="text-right">{{ j7['close_consultations'] }}</td>
                <td class="text-right">{{ j8['close_consultations'] }}</td>
            </tr>
            <tr>
                <td>Retrait DCE authentifiés</td>
                <td class="text-right">{{ j1['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j2['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j3['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j4['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j5['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j6['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j7['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ j8['download_dce_authentificated'] }}</td>
            </tr>
            <tr>
                <td>Poids des retraits authentifiés (en Mo)</td>
                <td class="text-right">{{ j1['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j2['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j3['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j4['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j5['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j6['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j7['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ j8['weight_download_authentificated'] }}</td>
            </tr>
            <tr>
                <td>Retrait DCE anonymes</td>
                <td class="text-right">{{ j1['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j2['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j3['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j4['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j5['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j6['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j7['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ j8['download_dce_anonymous'] }}</td>
            </tr>
            <tr>
                <td>Poids des retraits anonymes (en Mo)</td>
                <td class="text-right">{{ j1['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j2['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j3['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j4['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j5['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j6['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j7['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ j8['weight_download_anonymous'] }}</td>
            </tr>
            <tr>
                <td>Réponses (élec.)</td>
                <td class="text-right">{{ j1['reply_elec'] }}</td>
                <td class="text-right">{{ j2['reply_elec'] }}</td>
                <td class="text-right">{{ j3['reply_elec'] }}</td>
                <td class="text-right">{{ j4['reply_elec'] }}</td>
                <td class="text-right">{{ j5['reply_elec'] }}</td>
                <td class="text-right">{{ j6['reply_elec'] }}</td>
                <td class="text-right">{{ j7['reply_elec'] }}</td>
                <td class="text-right">{{ j8['reply_elec'] }}</td>
            </tr>
            <tr>
                <td>Poids des réponses (en Mo)</td>
                <td class="text-right">{{ j1['weight_reply'] }}</td>
                <td class="text-right">{{ j2['weight_reply'] }}</td>
                <td class="text-right">{{ j3['weight_reply'] }}</td>
                <td class="text-right">{{ j4['weight_reply'] }}</td>
                <td class="text-right">{{ j5['weight_reply'] }}</td>
                <td class="text-right">{{ j6['weight_reply'] }}</td>
                <td class="text-right">{{ j7['weight_reply'] }}</td>
                <td class="text-right">{{ j8['weight_reply'] }}</td>
            </tr>
            <tr>
                <td>Appels présentés</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Appels répondus</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Tickets UTAH créés</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Tickets UTAH clôturés</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Tickets ouverts (fin de période)</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
        </table>

        <br />

        <h1>Indicateur Métier (Suite)</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Date relative</td>
                <td>Mois E-C</td>
                {% for i in 1..3 %}
                    <td>M-{{ i }}</td>
                {% endfor %}
                <td>M-12</td>
                <td>Année E-C</td>
                {% for i in 1..2 %}
                    <td>A-{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Date absolue</th>
                <th>{{ mec['monthmin'] }}</th>
                <th>{{ m1['monthmin'] }}</th>
                <th>{{ m2['monthmin'] }}</th>
                <th>{{ m3['monthmin'] }}</th>
                <th>{{ m12['monthmin'] }}</th>
                <th>{{ aec['yearmin'] }}</th>
                <th>{{ a1['yearmin'] }}</th>
                <th>{{ a2['yearmin'] }}</th>
            </tr>
            <tr>
                <td>Borne inf</td>
                <td>{{ mec['dateminInfo'] }}</td>
                <td>{{ m1['dateminInfo'] }}</td>
                <td>{{ m2['dateminInfo'] }}</td>
                <td>{{ m3['dateminInfo'] }}</td>
                <td>{{ m12['dateminInfo'] }}</td>
                <td>{{ aec['dateminInfo'] }}</td>
                <td>{{ a1['dateminInfo'] }}</td>
                <td>{{ a2['dateminInfo'] }}</td>
            </tr>
            <tr>
                <td>Borne sup</td>
                <td>{{ mec['datemaxInfo'] }}</td>
                <td>{{ m1['datemaxInfo'] }}</td>
                <td>{{ m2['datemaxInfo'] }}</td>
                <td>{{ m3['datemaxInfo'] }}</td>
                <td>{{ m12['datemaxInfo'] }}</td>
                <td>{{ aec['datemaxInfo'] }}</td>
                <td>{{ a1['datemaxInfo'] }}</td>
                <td>{{ a2['datemaxInfo'] }}</td>
            </tr>
            <tr>
                <td>Consultations publiées</td>
                <td class="text-right">{{ mec['publish_consultation'] }}</td>
                <td class="text-right">{{ m1['publish_consultation'] }}</td>
                <td class="text-right">{{ m2['publish_consultation'] }}</td>
                <td class="text-right">{{ m3['publish_consultation'] }}</td>
                <td class="text-right">{{ m12['publish_consultation'] }}</td>
                <td class="text-right">{{ aec['publish_consultation'] }}</td>
                <td class="text-right">{{ a1['publish_consultation'] }}</td>
                <td class="text-right">{{ a2['publish_consultation'] }}</td>
            </tr>
            <tr>
                <td>Lots publiés</td>
                <td class="text-right">{{ mec['publish_lot'] }}</td>
                <td class="text-right">{{ m1['publish_lot'] }}</td>
                <td class="text-right">{{ m2['publish_lot'] }}</td>
                <td class="text-right">{{ m3['publish_lot'] }}</td>
                <td class="text-right">{{ m12['publish_lot'] }}</td>
                <td class="text-right">{{ aec['publish_lot'] }}</td>
                <td class="text-right">{{ a1['publish_lot'] }}</td>
                <td class="text-right">{{ a2['publish_lot'] }}</td>
            </tr>
            <tr>
                <td>Consultations publiques en ligne</td>
                <td class="text-right">{{ mec['public_consultations_online'] }}</td>
                <td class="text-right">{{ m1['public_consultations_online'] }}</td>
                <td class="text-right">{{ m2['public_consultations_online'] }}</td>
                <td class="text-right">{{ m3['public_consultations_online'] }}</td>
                <td class="text-right">{{ m12['public_consultations_online'] }}</td>
                <td class="text-right">{{ aec['public_consultations_online'] }}</td>
                <td class="text-right">{{ a1['public_consultations_online'] }}</td>
                <td class="text-right">{{ a2['public_consultations_online'] }}</td>
            </tr>
            <tr>
                <td>Consultations restreintes en ligne</td>
                <td class="text-right">{{ mec['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ m1['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ m2['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ m3['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ m12['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ aec['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ a1['restraint_consultations_online'] }}</td>
                <td class="text-right">{{ a2['restraint_consultations_online'] }}</td>
            </tr>
            <tr>
                <td>Consultations clôturées</td>
                <td class="text-right">{{ mec['close_consultations'] }}</td>
                <td class="text-right">{{ m1['close_consultations'] }}</td>
                <td class="text-right">{{ m2['close_consultations'] }}</td>
                <td class="text-right">{{ m3['close_consultations'] }}</td>
                <td class="text-right">{{ m12['close_consultations'] }}</td>
                <td class="text-right">{{ aec['close_consultations'] }}</td>
                <td class="text-right">{{ a1['close_consultations'] }}</td>
                <td class="text-right">{{ a2['close_consultations'] }}</td>
            </tr>
            <tr>
                <td>Retrait DCE authentifiés</td>
                <td class="text-right">{{ mec['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ m1['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ m2['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ m3['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ m12['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ aec['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ a1['download_dce_authentificated'] }}</td>
                <td class="text-right">{{ a2['download_dce_authentificated'] }}</td>
            </tr>
            <tr>
                <td>Poids des retraits authentifiés (en Mo)</td>
                <td class="text-right">{{ mec['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ m1['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ m2['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ m3['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ m12['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ aec['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ a1['weight_download_authentificated'] }}</td>
                <td class="text-right">{{ a2['weight_download_authentificated'] }}</td>
            </tr>
            <tr>
                <td>Retrait DCE anonymes</td>
                <td class="text-right">{{ mec['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ m1['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ m2['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ m3['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ m12['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ aec['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ a1['download_dce_anonymous'] }}</td>
                <td class="text-right">{{ a2['download_dce_anonymous'] }}</td>
            </tr>
            <tr>
                <td>Poids des retraits anonymes (en Mo)</td>
                <td class="text-right">{{ mec['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ m1['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ m2['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ m3['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ m12['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ aec['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ a1['weight_download_anonymous'] }}</td>
                <td class="text-right">{{ a2['weight_download_anonymous'] }}</td>
            </tr>
            <tr>
                <td>Réponses (élec.)</td>
                <td class="text-right">{{ mec['reply_elec'] }}</td>
                <td class="text-right">{{ m1['reply_elec'] }}</td>
                <td class="text-right">{{ m2['reply_elec'] }}</td>
                <td class="text-right">{{ m3['reply_elec'] }}</td>
                <td class="text-right">{{ m12['reply_elec'] }}</td>
                <td class="text-right">{{ aec['reply_elec'] }}</td>
                <td class="text-right">{{ a1['reply_elec'] }}</td>
                <td class="text-right">{{ a2['reply_elec'] }}</td>
            </tr>
            <tr>
                <td>Poids des réponses (en Mo)</td>
                <td class="text-right">{{ mec['weight_reply'] }}</td>
                <td class="text-right">{{ m1['weight_reply'] }}</td>
                <td class="text-right">{{ m2['weight_reply'] }}</td>
                <td class="text-right">{{ m3['weight_reply'] }}</td>
                <td class="text-right">{{ m12['weight_reply'] }}</td>
                <td class="text-right">{{ aec['weight_reply'] }}</td>
                <td class="text-right">{{ a1['weight_reply'] }}</td>
                <td class="text-right">{{ a2['weight_reply'] }}</td>
            </tr>
            <tr>
                <td>Appels présentés</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Appels répondus</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Tickets UTAH créés</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Tickets UTAH clôturés</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Tickets ouverts (fin de période)</td>
                {% for i in 1..8 %}
                    <td></td>
                {% endfor %}
            </tr>
        </table>
    </div>
</body>
</html>
