<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Indicateur Metier{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/jmsjobqueue/css/bootstrap.css') }}" type="text/css"/>
</head>
<body>
    <div class="container-fluid">
        <p class="alert alert-danger">Unauthorized access !</p>
    </div>
</body>