<div id="exec-app">
    <router-outlet></router-outlet>
    <ltexec-fournisseur-fiche *ngIf="loaded && !navigate" [uuid]="uuid" class="exec"></ltexec-fournisseur-fiche>
    <ltexec-assistance *ngIf="loaded"></ltexec-assistance>
</div>
