<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, mainContent)">
<head>
    <meta charset="UTF-8">
    <title>Messagerie Administration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../static/main.css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!--  juste en mode DEV -->
    <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
    <script th:each="script : ${session.scriptsJS}" th:src="${ session.frontUrl }+${ script }"></script>
    <link rel="stylesheet" th:href="${ session.frontUrl}+'assets/css/font-awesome.css'" type="text/css">
    <link rel="stylesheet" th:href="${ session.frontUrl}+'assets/css/bs-datepicker.css'" type="text/css">
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-light bg-light d-block">
    <a class="navbar-brand col-sm-3 col-md-2 mr-auto" th:href="@{/}"><img class="d-inline" style="width: 100px;"
                                                                               th:src="@{/img/logo.png}"><span>Messec Administration</span></a>
    <ul class="nav navbar-nav float-right" th:if="${session.entreprise}">
        <li th:if="${session.entreprise.email}"><a class="nav-link" th:href="@{/entreprise/connexion}"><i
                class="txt-primary fas fa-industry"></i> <span title="compte entreprise"
                                                               th:text="${session.entreprise.email}"></span> </a></li>
        <li th:unless="${session.entreprise.email}"><a class="nav-link" th:href="@{/entreprise/connexion}"><i
                class="fas fa-sign-in-alt mr-2"></i>Se connecter côté entreprise</a></li>
        <li th:if="${session.entreprise.email}"><a class="nav-link" th:href="@{/entreprise/deconnexion}"><i
                title="déconnexion" class="fas fa-sign-out-alt"></i></a></li>
        <span class="mr-3"></span>
        <li><a class="nav-link" href="#"><i class="fas fa-chalkboard-teacher mr-2"></i><span
                th:text="${session.entreprise.email}" title="compte agent"></span></a></li>
        <li><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt" title="déconnexion"></i></a></li>
    </ul>
</nav>
</div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div th:each="bloc,iter: ${session.blocs}" th:class="${iter.index != 0 ? 'card mt-3':'card'}">
                <div class="card-header">
                    <i th:class="${bloc.icone}"></i>
                    <span th:text="${bloc.libelle}"></span>
                </div>
            <ul class="card-body nav flex-column">
                <li class="nav-item" th:each="lien: ${bloc.liens}"><a th:href="@{${lien.lien}}"
                                                                      th:target="${lien.target}"
                                                                      th:text="${lien.libelle}"></a></li>
            </ul>
            </div>
        </nav>
        <div class="col-md-10" th:insert="${mainContent}">
            <h1>Page 1</h1>
            <p>Main content of Page 1</p>
        </div>
    </div>
</div>
<footer>
    <p class="footer p-2"> &copy; atexo.com Module d'administration pour la messagerie sécurisée</p>
</footer>
</body>
</html>
