.badge, .btn {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 7px;
}

.gray {
  color: grey;
}

.green {
  color: green;
}

.red {
  color: red;
}

.margin-vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff !important;
  background-color: #777b8f !important;
}
.btn-secondary {
  cursor: pointer;
  background-color: #fff !important;
  color: #6b6f82 !important;
}
.column-min-width {
  width: 140px;
  vertical-align: middle;
}
i {
  margin-right: 2px;
}

td{
  text-align: left;
}
