<div class="card border-left-primary"
     *ngIf="model">
  <div class="card-content">
    <div class="card-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="account-vertical-general"
             aria-labelledby="account-pill-general" aria-expanded="true">
          <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12 cursor-pointer" (click)="changeExpanded()">
              <h5 class="primary-client"><span class="font-weight-bold">  <span
                *ngIf="!showDetails">
                <i class="la la-plus"></i>
              </span>
                                    <span class="cursor-pointer" *ngIf="showDetails">
                <i class="la la-minus"></i>
              </span> {{model.offreRacine?.libelle}}</span> <span
                *ngIf="previousTedIdentifiant"> (Avis de changement de {{previousTedIdentifiant}})</span></h5>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
              <div class="float-md-right">
                <div
                  class="badge badge-pill {{getBadgeColor(model.statut)}}">
                  <span>{{('type-avis.statut.' + getStatut(model)) | translate}}</span>
                  <span
                          *ngIf="model.statut !== 'BROUILLON'&& model.statut !== 'ENVOI_PLANIFIER'">{{ model.dateModificationStatut | date :'le dd/MM/yyyy - HH:mm' }}</span>
                  <span
                          *ngIf="model.statut === 'ENVOI_PLANIFIER'"><span
                          *ngIf="model.dateEnvoiEuropeenPrevisionnel"> EU {{ model.dateEnvoiEuropeenPrevisionnel | date :'le dd/MM/yyyy - HH:mm' }}</span>
                  <span *ngIf="model.dateEnvoiNationalPrevisionnel"> National{{ model.dateEnvoiNationalPrevisionnel | date :'le dd/MM/yyyy - HH:mm' }}</span></span>
                </div>


              </div>
            </div>
          </div>
          <div *ngIf="showDetails" class="row">
            <div class="col-12">
              <div class="p-1 color-bl" style="background: #ededed; border-radius: 5px;text-align: left">
                <div><span
                  class="font-weight-bold">Créé le : </span> {{model.dateCreation | date:'dd/MM/yyyy - HH:mm' }}
                  par {{model.creerPar?.prenom}} {{model.creerPar?.nom}} </div>
                <div *ngIf="annoncesNationales && annoncesNationales.length>0"><span
                  class="font-weight-bold">Adresse de facturation :</span>
                  <span
                    *ngIf="model.statut === 'BROUILLON'"
                    class="cursor-pointer primary-client" (click)="edit()">- <i
                    class="la la-edit"></i> Modifier </span>
                </div>
                <div *ngIf="model.facturation"><i
                  class="la la-envelope"></i>{{model.facturation?.address}}</div>
                <div *ngIf="model.facturation">@ {{model.facturation?.email}} <span>|</span> <i
                  class="la la-check-circle"></i> Validation
                  SIP:{{ model.facturation?.sip ? 'Oui' : 'Non' }} </div>
                <div class="font-weight-bold"
                     *ngIf="model.raisonRefus && (model.statut ==='REJETE'|| model.statut ==='REJETE_SIP' ||model.statut ==='REJETE_ECO' )">
                  Motif de rejet :
                </div>
                <div *ngIf="model.raisonRefus">{{model.raisonRefus}}</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="table-responsive mt-1">
                <table class="table table-bordered">
                  <tr class="text-center">
                    <th>Support
                    </th>
                    <th>Etat
                    </th>
                    <th>Modifié le

                    </th>
                    <th>Envoyé le
                    </th>
                    <th>Publié le
                    </th>
                    <th>
                      Action
                    </th>
                  </tr>
                  <tr *ngIf="annonceEuropeenne">
                    <td [title]="getTedIdentifiant()">
                      <i class="la la-globe"></i> {{annonceEuropeenne.support.libelle}}
                      <br>
                      <u class="cursor-pointer" *ngIf="!!tedIdentifiant" (click)="openJoue()">
                        {{tedIdentifiant}}
                      </u>
                      <div *ngIf="!!this.annonceEuropeenne.avisFichier && !this.annonceEuropeenne.lienPublication"><i
                        class="la la-file"></i> {{this.annonceEuropeenne.avisFichier.name}}
                      </div>
                    </td>
                    <td>

                      <div
                        class="badge badge-pill {{getbadgeFromStatut(annonceEuropeenne)}}">{{getLibelleFromStatut(annonceEuropeenne)}}
                      </div>

                    </td>
                    <td>
                      {{annonceEuropeenne.dateModification | date:'dd/MM/yyyy - HH:mm' : 'fr-FR'}}
                    </td>
                    <td>
                      {{model.dateEnvoiEuropeen | date:'dd/MM/yyyy - HH:mm' : 'fr-FR'}}
                    </td>
                    <td>
                      {{annonceEuropeenne.datePublication | date:'dd/MM/yyyy - HH:mm' : 'fr-FR'}}
                    </td>
                    <td class="column-min-width">

                      <button (click)="openJoue()"
                              *ngIf="annonceEuropeenne.lienPublication"
                              title="Lien de publication"
                              type="button"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i class="la la-eye"></i>
                      </button>
                      <button (click)="downloadPdf(annonceEuropeenne,'downloadingPdfEuropeen')"
                              *ngIf="!annonceEuropeenne.lienPublication && annonceEuropeenne.avisFichier || (annonceEuropeenne.idEForms && 'esentool' !== annonceEuropeenne.tedVersion)"
                              title="Télécharger l'avis"
                              type="button"
                              [disabled]="downloadingPdfEuropeen"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i *ngIf="downloadingPdfEuropeen" class="la la-spin la-spinner"></i>
                        <i *ngIf="!downloadingPdfEuropeen" class="la la-cloud-download"></i>
                      </button>
                      <button
                        *ngIf="!this.model.procedure.avisExterne && !annonceEuropeenne.avisFichier && annonceEuropeenne.idEForms && 'esentool' !== annonceEuropeenne.tedVersion"
                        (click)="openAnnonce(annonceEuropeenne)" type="button"
                        title="Remplir le formulaire européen"
                        class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i class="la la-external-link"></i>
                      </button>
                      <button *ngIf="model.procedure.avisExterne && model.statut==='BROUILLON'"
                              (click)="openDialog()"
                              title="Ajouter ou remplacer un formulaire saisi hors plateforme"
                              type="button"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i *ngIf="!loadingImport" class="la la-cloud-upload"></i>
                        <i *ngIf="loadingImport" class="la la-spinner la-spin"> </i>
                      </button>
                      <input (change)="addAvisExterne($event)" id="fileInput"
                             style="display:none;" type="file" accept="application/pdf"/>

                      <button *ngIf="!!annonceEuropeenne.avisFichier && model.statut==='BROUILLON'"
                              (click)="deleteAvisExterne()"
                              title="Supprimer le formulaire saisi hors plateforme"
                              type="button"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i class="la la-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="annoncesNationales?.length > 0">
                    <td>
                      <div *ngFor="let annonceNationale of annoncesNationales">
                        <i class="la la-flag"></i>{{annonceNationale.support.libelle}}
                      </div>
                    </td>
                    <td>
                      <div
                        class="badge badge-pill {{getbadgeFromStatut(annoncesNationales[0])}}">{{getLibelleFromStatut(annoncesNationales[0])}}
                      </div>
                    </td>
                    <td>
                      {{annoncesNationales[0].dateModification | date:'dd/MM/yyyy - HH:mm' : 'fr-FR'}}
                    </td>
                    <td>
                      {{model.dateEnvoiNational | date:'dd/MM/yyyy - HH:mm' : 'fr-FR'}}
                    </td>
                    <td>
                      {{annoncesNationales[0].datePublication | date:'dd/MM/yyyy - HH:mm' : 'fr-FR'}}
                    </td>
                    <td class="column-min-width">

                      <button (click)="downloadPdf(annoncesNationales[0],'downloadingPdfNational')"
                              type="button"
                              title="Télécharger l'avis"
                              [disabled]="downloadingPdfNational"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i *ngIf="downloadingPdfNational" class="la la-spin la-spinner"></i>
                        <i *ngIf="!downloadingPdfNational" class="la la-cloud-download"></i>
                      </button>
                      <button (click)="editAnnonce()" type="button"
                              title="Modifier l'avis"
                              *ngIf="model.statut === 'BROUILLON'"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i *ngIf="isEditionOpen()" class="la la-spin la-spinner"></i>
                        <i *ngIf="!isEditionOpen()" class="la la-external-link"></i>
                      </button>
                      <button type="button" [title]="'type-avis.actions.retry' | translate "
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px"
                              title="Envoyer l'avis"
                              *ngIf="canResentNationales()"
                              (click)="modifyAnnonceNationales('EN_ATTENTE')"><i
                        class="la la-send"></i>
                      </button>
                    </td>

                  </tr>
                  <tr>

                    <td>
                      <i class="la la-desktop"></i>Portail des marchés publics
                    </td>
                    <td>
                      <div class="badge badge-pill badge-success">Complet
                      </div>
                    </td>

                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td class="column-min-width">

                      <button (click)="downloadPdfPortail()"
                              type="button"
                              title="Télécharger l'avis"
                              [disabled]="downloadingPdfPortail"
                              class="btn btn-primary primary-client-bg-border btn-sm margin-right-5px">
                        <i *ngIf="!downloadingPdfPortail" class="la la-cloud-download"></i>
                        <i *ngIf="downloadingPdfPortail" class="la la-spin la-spinner"></i>
                      </button>
                    </td>

                  </tr>

                </table>
              </div>

            </div>

          </div>

          <hr *ngIf="hasAction()"/>
          <div class="row" *ngIf="hasAction()">
            <div class="col-md-12">
              <div>
                <div class="float-md-right">
                  <button type="button" class="btn btn-danger btn-sm"
                          *ngIf="model.statut==='BROUILLON'"
                          [disabled]="loadingSupprimer"
                          (click)="supprimer()">
                    <i *ngIf="loadingSupprimer" class="la la-spin la-spinner"></i>
                    <i *ngIf="!loadingSupprimer" class="la la-trash"></i>
                    {{'Supprimer' | translate }}
                  </button>
                  <button type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                          *ngIf="model.statut==='BROUILLON'"
                          [disabled]="!isCompleted() || loadingValidation"
                          (click)="demanderValidation()">
                    <i *ngIf="loadingValidation" class="la la-spin la-spinner"></i>
                    <i *ngIf="!loadingValidation" class="la la-send"></i>
                    Transmettre
                  </button>
                  <button type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                          *ngIf="canReprendre()"
                          [disabled]="loadingRenew"
                          (click)="reprendre()">
                    <i *ngIf="loadingRenew" class="la la-spin la-spinner"></i>
                    <i *ngIf="!loadingRenew" class="la la-refresh"></i>
                    Reprendre
                  </button>
                  <button type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                          *ngIf="annonceEuropeenne && annonceEuropeenne.datePublication"
                          [disabled]="loadingChangement"
                          (click)="change()">
                    <i *ngIf="loadingChangement" class="la la-spin la-spinner"></i>
                    <i *ngIf="!loadingChangement" class="la la-refresh"></i>
                    Modifier l'avis publié
                  </button>
                  <button
                    *ngIf="annoncesNationales.length !== 0 && model.statut==='BROUILLON'"
                    type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                    (click)="openModal(false)"><i class="la la-edit"></i>
                    Editer le message
                  </button>
                  <button
                    *ngIf="annoncesNationales.length !== 0 && model.statut!=='BROUILLON'"
                    type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                    (click)="openModal(true)"><i class="la la-eye"></i>
                    Visualiser le message
                  </button>
                  <button
                    *ngIf="previousTedUrl "
                    type="button" class="btn btn-primary primary-client-bg-border btn-sm"
                    (click)="window.open(previousTedUrl,'_blank')"><i class="la la-eye"></i>
                    Consulter l'avis publié
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

