<div class="card" *ngIf="pageable">
  <div class="card-content height-100-per">
    <div class="media align-items-stretch height-100-per">
      <div class="media-body pr-1">
        <div class="row height-100-per">
          <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
            <div class="media align-items-stretch height-100-per" *ngIf="!showTriList">
              <div class="p-2 text-center bg-primary primary-client-bg rounded-left d-flex">
                <i class="ft-search font-large-1 text-white margin-auto"></i>
              </div>
              <div class="py-1 px-2 media-body">
                <h3 class="primary primary-client">{{ total}}</h3>
                <span>{{"resultatRecherche" | translate}}</span>
              </div>
            </div>

            <div class="media align-items-stretch height-100-per" *ngIf="showTriList">
              <div class="p-2 text-center bg-primary primary-client-bg rounded-left cursor-pointer d-flex"
                   [title]="(pageable.asc? 'asc':'desc') | translate"
                   (click)="changeAsc()">
                <i class="font-large-1 text-white margin-auto la"
                   [ngClass]="{'la-sort-amount-asc':pageable.asc,'la-sort-amount-desc':!pageable.asc}"></i>
              </div>
              <div class="py-1 px-2 media-body">
                <div class="margin-auto">{{"trier-par" | translate}}</div>

                <ng-select
                  #sortField
                  (blur)="sortField.close()"
                  [clearable]="false"
                  name="sortField"

                  [items]="sortFieldsList"
                  [(ngModel)]="pageable.sortField"
                  (ngModelChange)="changeSortField($event)"
                  [notFoundText]="'aucun' | translate"
                >
                  <ng-template
                    ng-label-tmp
                    let-item="item">
                    {{item | translate}}
                  </ng-template>
                  <ng-template
                    ng-option-tmp
                    let-item="item">
                    {{item | translate}}
                  </ng-template>
                </ng-select>
              </div>

            </div>

            <div class="">
              <div class="margin-auto">{{"taille" | translate}}</div>
              <ng-select
                #sizesSelect
                (blur)="sizesSelect.close()"
                [clearable]="false"
                name="sizesSelect"
                [items]="sizes"
                [(ngModel)]="pageable.size"
                (ngModelChange)="changeSize($event)"
                [notFoundText]="'aucun' | translate"
              >
              </ng-select>
            </div>


            <div *ngIf="!!pageable && total>0">
              <div class="margin-auto">{{"numeroPage" | translate}} :</div>
              <ul class="nav nav-pills justify-content-center">
                <li class="margin-auto">
                  <ngb-pagination
                    class="primary-client-bg-border primary-client-bg"
                    [maxSize]="3"
                    [collectionSize]="total"
                    (pageChange)="changePage($event)"
                    [page]="pageable.page + 1"
                    [pageSize]="pageable.size">
                    <ng-template ngbPaginationNumber let-page>
                      <div [ngClass]="{'page-active primary-client-bg-border': page === (pageable.page +1),
                      'primary-client': page !== (pageable.page +1)}">{{ page }}</div>
                    </ng-template>
                  </ngb-pagination>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

