<script id="template-upload-acte-engagement" type="text/x-tmpl">
 {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %} {% else %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %} {% endif %}
    {% set templateUploadActeEngagement = scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="templ-fileupload template-upload acte-engagement">
        <div class="container-fluid">
            <div class="row row-acte">
                <div class="col-md-'~ sizeRowFileName ~' row-file_name ">
                    <div class="pull-left options">
                        <span class="pull-left m-r-1"><img src="'~ asset('consultation_depot/assets/images/picto-piece-typee.png') ~'"
                                           alt="'~ 'DEFINE_DC3_ACTE_ENGAGEMENT'|trans  ~'"/></span>
                        <span class="type-piece">'~ 'DEFINE_DC3_ACTE_ENGAGEMENT'|trans ~' : </span>
                    </div>
                    <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                    <strong class="error text-danger"></strong>
                    {% if (file.doublon) { %}
                        <div class="error-area"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                {% } %}
                </div>
                <div class="col-md-'~ sizeRowFileProgress ~' row-file_progress">
                    <div class="progress progress-striped {% if (file.doublon) { %}{% }else{ %}active{% } %}" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar {% if (file.error || file.errorDoublon || file.doublon) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}"
                        style="width:{% if (file.doublon) { %}100{% }else{ %}0{% } %}%;"></div>
                    </div>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                ' ~ columnSignature ~ '
                <div class="col-md-1  row-file_actions text-right">
                    <div class="actions center">
                        {% if (!i) { %}
                            <a href="#" title="Annuler le téléchargement" class="btn atx-text-warning atx-btn-icon atx-btn-circle cancel">
                                <i class="fa fa-ban atx-text-warning"></i>
                            </a>
                        {% } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% } %}
' %}
{{ templateUploadActeEngagement|raw }}
</script>
<!-- The template to display files available for download -->

<!--FIN PIECE AVEC BOUTON AJOUTER UN JETON DE SIGNATURE-->
<script id="template-download-acte-engagement" type="text/x-tmpl">
 {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %} {% else %} {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %} {% endif %}
    {% set templateDownloadActeEngagement = scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div data-lot="lot-{%=file.lot%}" class="templ-fileupload acte-engagement template-download template-download-acte"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}>
        <div class="container-fluid">
            <div class="row row-acte"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}" data-is-acte="true"{% } %}>
                <div class="list-group-item clearfix">
                <div class="col-md-'~ sizeRowFileName ~' row-file_name"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}>
                    <div class="pull-left options">
                        <span class="pull-left m-r-1"><img src="'~ asset('consultation_depot/assets/images/picto-piece-typee.png') ~'"
                                           alt="'~ 'DEFINE_DC3_ACTE_ENGAGEMENT'|trans  ~'"/></span>
                        <span class="type-piece">'~ 'DEFINE_DC3_ACTE_ENGAGEMENT'|trans ~' : </span>
                    </div>
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" class="name name-link" download="{%=file.name%}" {%=file.thumbnailUrl?"data-gallery":""%}>{%=file.name%}</a>
                    {% } else { %}
                        <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                    {% } %}
                    {% if (file.error) { %}
                        <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'RELANCER_CHARGEMENT'|trans ~ '</div>
                    {% } %}
                    {% if (file.errorDoublon || file.doublon) { %}
                        <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                    {% } %}
                </div>
                <div class="col-md-'~ sizeRowFileProgress ~' row-file_progress">
                    <div class="progress progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">
                        <div class="progress-bar {% if (file.error || file.errorDoublon) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}" style="width:100%;"></div>
                    </div>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                ' ~ columnSignature ~ '
                <div class="col-md-1  row-file_actions text-right">
                    <div class="actions center">
                        {% if (file.deleteUrl) { %}
                            <a href="#" title="' ~ 'TEXT_SUPPRIMER_PIECE'|trans ~ '" class="btn btn-primary btn-sm delete" data-type-fichier="ACE" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields="{"withCredentials":true}"{% } %}>
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% } else { %}
                            <a href="#" title="annuler le téléchargement" class="cancel">
                                <i class="fa fa-ban atx-text-warning"></i>
                            </a>
                        {% } %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% } %}
' %}
{{ templateDownloadActeEngagement|raw }}
</script>