<script id="template-upload-annexe-financier" type="text/x-tmpl">

 {% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %}
    {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %}
{% else %}
    {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %}
{% endif %}
    {% set templateUploadAnnexeFinancier = scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="templ-fileupload template-upload annexe-financier">
        <div class="container-fluid">
            <div class="row row-afi">
                <div class="col-md-'~ sizeRowFileName ~' row-file_name ">
                    <div class="pull-left options">
                        <span class="pull-left m-r-1"><img src="'~ asset('consultation_depot/assets/images/picto-piece-typee.png') ~'"
                                           alt="'~ 'DEFINE_ANNEXE_FINANCIER'|trans  ~'"/></span>
                        <span class="type-piece">'~ 'DEFINE_ANNEXE_FINANCIER'|trans ~' : </span>
                    </div>
                    <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                    <strong class="error text-danger"></strong>
                    {% if (file.doublon) { %}
                        <div class="error-area"><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                {% } %}
                </div>
                <div class="col-md-'~ sizeRowFileProgress ~' row-file_progress">
                    <div class="progress progress-striped {% if (file.doublon) { %}{% }else{ %}active{% } %}" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar {% if (file.error || file.errorDoublon || file.doublon) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}"
                        style="width:{% if (file.doublon) { %}100{% }else{ %}0{% } %}%;"></div>
                    </div>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                ' ~ columnSignature ~ '
                <div class="col-md-1  row-file_actions text-right">
                    <div class="actions center">
                        {% if (!i) { %}
                            <!-- Annuler le téléchargement -->
                            <a href="#" title="' ~ 'ANNULER_TELECHARGEMENT' | trans ~'" class="btn atx-text-warning atx-btn-icon atx-btn-circle cancel">
                                <i class="fa fa-ban atx-text-warning"></i>
                            </a>
                        {% } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% } %}
' %}
{{ templateUploadAnnexeFinancier|raw }}
</script>

<!--FIN PIECE AVEC BOUTON AJOUTER UN JETON DE SIGNATURE-->
<script id="template-download-annexe-financier" type="text/x-tmpl">
{% if atexo_configuration.getConfigurationPlateforme().surchargeReferentiels %}
    {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = true; %}' %}
{% else %}
    {% set  scriptConfigurationStateChecker = '{% var surchargeReferentiels = false; %}' %}
{% endif %}
{% set templateDownloadAnnexeFinancier = scriptConfigurationStateChecker ~ '
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div data-lot="lot-{%=file.lot%}" class="templ-fileupload afi-engagement template-download template-download-afi"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}>
        <div class="container-fluid">
            <div class="row row-afi"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}" data-is-afi="true"{% } %}>
                <div class="list-group-item clearfix">
                <div class="col-md-'~ sizeRowFileName ~' row-file_name"{% if (file.fichier) { %} data-fichier="{%=file.fichier%}"{% } %}>
                    <div class="pull-left options">
                        <span class="pull-left m-r-1"><img src="'~ asset('consultation_depot/assets/images/picto-piece-typee.png') ~'"
                                           alt="'~ 'DEFINE_ANNEXE_FINANCIER'|trans  ~'"/></span>
                        <span class="type-piece">'~ 'DEFINE_ANNEXE_FINANCIER'|trans ~' : </span>
                    </div>
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}"
                         class="name name-link"
                         download="{%=file.name%}" {%=file.thumbnailUrl?"data-gallery":""%}>{%=file.name%}</a>
                    {% } else { %}
                        <span title="{%=file.name%}" class="name name-link">{%=file.name%}</span>
                    {% } %}
                    {% if (file.error) { %}
                        <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'RELANCER_CHARGEMENT'|trans ~ '</div>
                    {% } %}
                    {% if (file.errorDoublon || file.doublon) { %}
                        <div><span class="label label-danger">' ~ 'TEXT_ERREUR'|trans ~ '</span> ' ~ 'FICHIER_EN_DOUBLE'|trans ~ '</div>
                    {% } %}
                </div>
                <div class="col-md-'~ sizeRowFileProgress ~' row-file_progress">
                    <div class="progress progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">
                        <div class="progress-bar
                        {% if (file.error || file.errorDoublon) { %}progress-bar-danger {% }else{ %} progress-bar-success {% } %}"
                        style="width:100%;"></div>
                    </div>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </div>
                ' ~ columnSignature ~ '
                <div class="col-md-1  row-file_actions text-right">
                    <div class="actions center">
                        {% if (file.deleteUrl) { %}
                            <a href="#" title="' ~ 'TEXT_SUPPRIMER_PIECE'|trans ~ '"
                             class="btn btn-primary btn-sm delete"
                             data-type-fichier="AFI"
                             data-type="{%=file.deleteType%}"
                             data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields="{"withCredentials":true}"{% } %}>
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% } else { %}
                            <a href="#" title="' ~ 'ANNULER_TELECHARGEMENT' | trans ~'" class="cancel">
                                <i class="fa fa-ban atx-text-warning"></i>
                            </a>
                        {% } %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% } %}
' %}
{{ templateDownloadAnnexeFinancier|raw }}
</script>