<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{"creationClause.txt.infoBulle2" | translate}}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>
  <form #formInfoBulle="ngForm"
        (ngSubmit)="formInfoBulle.valid && submit()">
    <div class="modal-body pr-0 pl-0 pb-0">
      <atx-form-info-bulle
        [form]="formInfoBulle"
        [infoBulle]="infoBulle"
      ></atx-form-info-bulle>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning btn-sm"
              (click)="closeModal()">
        <i class="fa fa-close"></i> {{"creationClause.btn.annuler" | translate}}
      </button>
      <button type="submit"
              class="btn btn-primary primary-client-bg-border btn-sm ml-1">
        <i class="ft-save"></i>
        {{"creationClause.btn.enregistrer" | translate}}
      </button>
    </div>
  </form>
</div>

