<template>
    <div class="page">
        <atx-title titre="Simulateur de connexion MPE"
                   description="Formulaire consultation"></atx-title>
        <div class="p-grid group-box" v-if="token">
            <atx-annonce-recap
                    access-token=""
                    v-bind:xml-annonce="xmlAnnonce"
                    v-bind:basic-token="token"
                    v-bind:plateforme="plateforme"
                    v-bind:id-consultation="idConsultation"
                    v-bind:reference-utilisateur="referenceUtilisateur"
                    v-bind:is-envoi-validation="isEnvoiValidation"
                    v-bind:is-mol-selected="isMolSelected"
                    url-api=""
            ></atx-annonce-recap>
        </div>
        <div v-else class="p-grid group-box">
            <v-row>
                <div class="col-6">
                    <v-text-field
                            v-model="login"
                            label="Client Id"
                    ></v-text-field>
                </div>
                <div class="col-6">
                    <v-text-field
                            v-model="password"
                            label="Secret Id"
                    ></v-text-field>
                </div>
                <div class="col-12">
                    <v-text-field
                            v-model="xml"
                            label="Xml annonce"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="plateforme"
                            label="Plateforme"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="idConsultation"
                            label="Id consultation"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="referenceUtilisateur"
                            label="Référence Utilisateur"
                    ></v-text-field>
                </div>
            </v-row>
            <v-btn
                    id="btn"
                    color="success"
                    class="mr-4"
                    @click="connecteAgent"
            >
                Connexion Publicité
            </v-btn>
        </div>
    </div>
</template>
<script>
    import TitreComponent from "@/components/TitreComponent";
    import base64xml from "../external/xmlAnnonce"
    import {Base64} from 'js-base64';

    export default {
        components: {
            'atx-title': TitreComponent,
            'atx-annonce-recap': annonceRecap
        },
        data() {
            return {
                departements: ["63", "75", "94", "01", "53", "51"],
                token: null,
                login: 'admin',
                isMolSelected: 'Oui',
                isEnvoiValidation: 'Oui',
                idConsultation: 504571,
                password: 'password',
                plateforme: "MPE_atexo_develop",
                xmlAnnonce: null,
                xml: base64xml,
                referenceUtilisateur: "TEST_REFERENCE_UTILISATEUR",
            }
        },
        methods: {
            connecteAgent() {
                this.xmlAnnonce = Base64.encode(this.xml);
                this.token = Base64.encode(this.login + ":" + this.password)
            }
        },
        created() {
            this.$store.dispatch("getToken").then(value => {
                this.login = value.login;
                this.password = value.password;
                this.plateforme = value.plateforme;
            })
        }
    }
</script>
<style>
    @import url('../assets/css/vue-multiselect.min.css');
    @import url('../assets/css/chosen-gwt.css');
    @import url('../assets/css/chosen.css');
</style>
