<template>
    <div class="page">
        <atx-title titre="Simulateur de connexion MPE"
                   description="Formulaire consultation"></atx-title>
        <div class="p-grid group-box" v-if="token">
            <atx-annonce-suivi
                    v-bind:access-token="getTokenAgent"
                    v-bind:xml-annonce="xmlAnnonce"
                    v-bind:basic-token="token"
                    v-bind:departements='departements'
                    v-bind:plateforme="plateforme"
                    v-bind:reference-utilisateur="referenceUtilisateur"
                    v-bind:id-consultation="idConsultation"
                    v-bind:token-mpe="getAgent.tokenMpe"
                    v-bind:mpe-url="getAgent.mpeUrl"
                    v-bind:facturations="getFormulaire()"
                    v-bind:eu="eu"
                    dmls="2025-01-01"
                    url-api=""
            ></atx-annonce-suivi>
        </div>
        <div v-else class="p-grid group-box">
            <v-row>
                <div class="col-6">
                    <v-text-field
                            v-model="login"
                            label="Client Id"
                    ></v-text-field>
                </div>
                <div class="col-6">
                    <v-text-field
                            v-model="password"
                            label="Secret Id"
                    ></v-text-field>
                </div>
                <div class="col-12">
                    <v-text-field
                            v-model="xml"
                            label="Xml annonce"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="plateforme"
                            label="Plateforme"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="idConsultation"
                            label="Id consultation"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="referenceUtilisateur"
                            label="Référence Utilisateur"
                    ></v-text-field>
                </div>
                <div class="col-4">
                    <v-text-field
                            v-model="eu"
                            label="Europeen"
                    ></v-text-field>
                </div>
            </v-row>
            <v-btn
                    id="btn"
                    color="success"
                    class="mr-4"
                    @click="connecteAgent"
            >
                Connexion Publicité
            </v-btn>
        </div>
    </div>
</template>
<script>
import TitreComponent from "@/components/TitreComponent";
import base64xml from "../external/xmlAnnonce"
import {Base64} from 'js-base64';
import {mapGetters} from "vuex";

export default {
    components: {
        'atx-title': TitreComponent,
        'atx-annonce-suivi': annonceSuivi
    },
    data() {
        return {
            token: null,
            login: null,
            idConsultation: 508127,
            departements: ["71", "13"],
            eu: null,
            facturations: [{
                "address": "9 rue de vintimilles",
                "sip": true,
                "email": "ismail.atitallah@atexo.com"
            }, {
                "address": "147 Rue oberkamph",
                "sip": false,
                "email": "quentin.bagot@atexo.com"
            }],
            password: null,
            plateforme: "MPE_atexo_develop",
            xmlAnnonce: null,
            xml: base64xml,
            referenceUtilisateur: "TEST_REFERENCE_UTILISATEUR",
        }
    },
    methods: {
        getFormulaire() {
            return Base64.encode(JSON.stringify(this.facturations))
        },
        connecteAgent() {
            this.xmlAnnonce = Base64.encode(this.xml);
            this.token = Base64.encode(this.login + ":" + this.password)
        }
    },
    created() {
        this.$store.dispatch("getToken").then(value => {
            this.login = value.login;
            this.password = value.password;
            this.plateforme = value.plateforme;
        })
        this.$store.dispatch("getInfosAgent")

    },
    computed: {
        ...mapGetters(['getAgent', 'getUrlAgent', 'getTokenAgent', 'getIdContexte'])
    },
}
</script>
<style>
@import url('../assets/css/vue-multiselect.min.css');
@import url('../assets/css/chosen-gwt.css');
@import url('../assets/css/chosen.css');
</style>
