<template>
    <div class="page">
        <atx-title titre="Mot de passe"
                   description="Utilitaire pour hasher un mot de passe en bcrypt "></atx-title>
        <div id="app" style="text-align: left; padding: 30px " class="ml-3">

            <v-text-field
                    v-model="password"
                    label="Password"
            ></v-text-field>


            <br>
            <v-btn
                    id="btn"
                    color="success"
                    class="mr-4"
                    @click="addUser"
            >
                Encrypt password
            </v-btn>

            <br>
            <br>
            <h1>Encrypted password: {{passwordEncrypted}}</h1>
        </div>
    </div>

</template>

<script>


    import bcrypt from 'bcryptjs';
    import TitreComponent from "@/components/TitreComponent";

    export default {
        components: {
            'atx-title': TitreComponent
        },
        directives: {
            translate: {
                inserted: function (el, binding, vnode) {
                    el.innerHTML = vnode.context.translator.get(binding.arg)
                }
            }
        },
        name: "App",
        config: {
            productionTip: false,
            devtools: false
        },
        props: {},
        data: function () {
            return {

                password: null,
                passwordEncrypted: null,
            };
        },
        mounted() {


        },
        methods: {

            addUser() {
                this.passwordEncrypted = this.encryptPassword(this.password)
            },
            encryptPassword(password) {
                const salt = bcrypt.genSaltSync(10)
                return bcrypt.hashSync(password, salt)
            },
        }
    }
</script>

<style type="scss" scoped>

</style>
