<template>
  <div class="page">
    <atx-title titre="Configuration Plateforme"
               description="Modification"></atx-title>
    <div class="p-grid group-box">
      <v-row>
        <div class="col-5">
          <v-text-field
              v-model="configuration.idPlateforme"
              label="Plateforme"
          ></v-text-field>
        </div>
        <div class="col-5">
          <v-text-field
              v-model="configuration.eformsToken"
              label="Token Eforms"
          ></v-text-field>
        </div>

        <div class="col-2">
          <v-text-field
              v-model="configuration.pays"
              label="Pays"
          ></v-text-field>
        </div>
        <div class="col-5">
          <v-select
              v-model="configuration.supports"
              :items="modeItems"
              item-text="libelle"
              item-value="code"
              label="Liste des supports"
              :multiple="true"
          ></v-select>
        </div>
        <div class="col-3">
          <v-checkbox
              v-model="configuration.national"
              label="National"
          ></v-checkbox>
        </div>

        <div class="col-3">
          <v-checkbox
              v-model="configuration.europeen"
              label="Européen"
          ></v-checkbox>
        </div>

        <div class="col-3">
          <v-checkbox
              v-model="configuration.jal"
              label="JAL"
          ></v-checkbox>
        </div>

        <div class="col-3">
          <v-checkbox
              v-model="configuration.pqr"
              label="PQR"
          ></v-checkbox>
        </div>
        <div class="col-3">
          <v-checkbox
              v-model="configuration.eformsModal"
              label="Afficher les formulaures TED en popup"
          ></v-checkbox>
        </div>
        <div class="col-3">
          <v-checkbox
              v-model="configuration.groupement"
              label="Affichage par regroupement"
          ></v-checkbox>
        </div>
        <div class="col-3">
          <v-checkbox
              v-model="configuration.validationObligatoire"
              label="Validation obligatoire"
          ></v-checkbox>
        </div>
        <div class="col-3">
          <v-checkbox
              v-model="configuration.associationProcedure"
              label="Association de procédure"
          ></v-checkbox>
        </div>
        <div class="col-3">
          <v-checkbox
              v-model="configuration.associationOrganisme"
              label="Association d'organisme"
          ></v-checkbox>
        </div>

      </v-row>
      <v-btn
          id="btn"
          color="success"
          class="mr-4"
          @click="addOrUpdate"
      >
        Enregistrer
      </v-btn>
      <v-btn v-if="configuration.id"
             outlined
             color="error"
             rounded
             @click="deleteConfiguration"
             text
      >
        Supprimer
      </v-btn>
    </div>
  </div>
</template>
<script>
import TitreComponent from "@/components/TitreComponent";

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      token: null,
      login: null,
      idConsultation: 508127,
      password: null,
      plateforme: "MPE_atexo_develop",
      modeItems: [],
      configuration: {
        id: null, idPlateforme: null, supports: [], europeen: false, national: true, pays: 'FRA',
        pqr: true, jal: true, eformsModal: false
      }
    }
  },
  mounted() {

    if (this.$route.params.id) {
      this.$store.dispatch("configuration/getById", this.$route.params.id).then(value => {
        this.configuration = value.data;
      })

    }
    this.$store.dispatch("configuration/getAllSupports").then(value => {
      this.modeItems = value.data;
    })
  },
  methods: {
    addOrUpdate() {
      this.$store.dispatch("configuration/addOrUpdate", this.configuration)
          .then(() => {
            this.$router.push('/dashboard-configuration')
          })
    }, deleteConfiguration() {
      this.$store.dispatch("configuration/delete", this.configuration.id)
          .then(() => {
            this.$router.push('/dashboard-configuration')
          })
    }
  }
}
</script>
<style>
</style>
