<template>
  <div class="page">
    <atx-title titre="Configuration Plateforme"
               description="Dashboard"></atx-title>
    <div class="p-grid group-box">
      <v-btn
          outlined
          rounded
          color="primary"
          @click="add()"
          text
          class="mb-2"
      >
        Ajouter une configuration
      </v-btn>
      <v-card v-for="card of list" v-bind:key="card.id"
              elevation="2"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <div class="text-overline mb-4">
             Plateforme : {{ card.idPlateforme }} {{card.pays}}
            </div>
            <div class="font-weight-bold">Supports : <span>{{ card.supports }}</span></div>

            <div class="font-weight-bold">National : <span>{{ card.national }}</span></div>

            <div class="font-weight-bold">Europeen : <span>{{ card.europeen }}</span></div>

            <div class="font-weight-bold">JAL :<span>{{ card.jal }}</span></div>

            <div class="font-weight-bold">PQR :<span>{{ card.pqr }}</span></div>

            <div class="font-weight-bold">Afficher les formulaures TED en popup :  <span>{{ card.eformsModal }}</span></div>

          </v-list-item-content>
        </v-list-item>

        <v-card-actions>
          <v-btn
              outlined
              rounded
              color="success"
              @click="edit(card.id)"
              text
          >
            Modifier
          </v-btn>
          <v-btn
              outlined
              rounded
              color="error"
              @click="deleteConfiguration(card.id)"
              text
          >
            Supprimer
          </v-btn>

        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>
<script>
import TitreComponent from "@/components/TitreComponent";
import {Base64} from "js-base64";

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      list: [],
      token: null,
      login: null,
      password: null,
      plateforme: "MPE_atexo_develop",
    }
  },
  methods: {
    deleteConfiguration(id) {
      this.$store.dispatch("configuration/delete", id)
          .then(() => {
            this.$store.dispatch("configuration/getAllConfiguration").then(value => {
              this.list = value.data;
            })
          })
    }
    , edit(id) {
      this.$router.push({name: 'modify-configuration', params: {id: id}})

    }, add() {
      this.$router.push('/add-configuration')

    }
  },

  created() {
    this.$store.dispatch("getToken").then(value => {
      this.login = value.login;
      this.password = value.password;
      this.plateforme = value.plateforme;
    })
  }, watch: {
    login(newVal) {
      if (newVal) {
        this.$store.dispatch("configuration/getToken", {
          idPlateform: this.plateforme,
          basicToken: Base64.encode(this.login + ":" + this.password)
        }).then(value => {
          this.token = value;
        })
      }

    },
    token(newVal) {
      if (newVal)
        this.$store.dispatch("configuration/getAllConfiguration").then(value => {
          this.list = value.data;
        })
    }
  }
}
</script>
<style>
</style>
