<template>
  <div id="login" class="page">
    <atx-title titre="Se connecter"
               description="Connectez-vous à la plateforme d'administration"></atx-title>

    <div class="col-md-12">
      <div class="card card-container">
        <img
            id="profile-img"
            src="../assets/avatar_2x.png"
            class="profile-img-card"
        />

        <v-form v-model="valid" ref="form" lazy-validation>

          <v-text-field
              :rules="rulesUser"
              v-model="user.username"
              label="Username"
              v-on:keyup.enter="handleLogin"
              required
          ></v-text-field>
          <v-text-field
              v-model="user.password"
              :rules="rulesPwd"
              label="Mot de passe"
              required
              v-on:keyup.enter="handleLogin"
              type="password"
          ></v-text-field>
          <div class="col-md-12"
               style="display: flex;justify-content: center;">
            <v-btn
                :disabled="!valid || loading"
                color="success"
                class="mr-4"
                @click="handleLogin"
            >
              Se connecter
            </v-btn>
          </div>
          <div class="col-md-12">{{ message }}</div>
        </v-form>
      </div>
    </div>
  </div>
</template>

<script>

    import TitreComponent from "../components/TitreComponent";
    import UserModel from "../models/user-model";


    export default {
  name: "Login",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      rulesUser: [value => !!value || 'Username est obligatoire!.'],
      rulesPwd: [value => !!value || 'Mot de passe est obligatoire!.'],
      user: new UserModel('', '', ''),
      valid: false,
      loading: false,
      message: '',
      errors: {}
    }
  },
  computed: {
    loggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  created() {
    this.$store.dispatch('auth/logout');
  },
  methods: {
    async handleLogin() {
      this.$refs.form.validate()
      this.loading = true;
      if (this.valid) {
        this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$store.dispatch('auth/whoami', this.user).then(
                  setTimeout(() => {
                    this.$router.push(this.$route.query.redirectUrl ? this.$route.query.redirectUrl : '/')
                  }, 200)
              );
            },
            () => {
              this.loading = false;
              this.message = "Erreur d'authentification"
              this.$refs.form.resetValidation()
            }
        );
      } else {
        this.loading = false;
      }
    }
  }
}
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>
