<template>
  <div class="page">


    <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Ecrivez ici votre recherche"
        single-line
        hide-details
    ></v-text-field>



    <v-data-table
        :search="search"
        :headers="headers"
        :items="listeLogs"
        :items-per-page="8"
        class="elevation-1"
    >
      <template v-slot:[`item.tele`]="{item}">
        <v-icon @click="downloadFile(item.nom)">file_download</v-icon>
      </template>
    </v-data-table>
  </div>

</template>

<script>



export default {
  name: "Logs",

  data() {
    return {
      search: '',
      listeLogs: [],
      headers: [
        {
          text: 'NOM',
          align: 'start',
          value: 'nom',
        },
        {text: 'Date de création', value: 'dateCreation'},
        {text: 'Dernier accès', value: 'dernierAccess'},
        {text: 'Date de mofification', value: 'dateModification'},
        {text: 'Taille', value: 'taille'},
        {text: 'Téléchargement', value: 'tele'}

      ]
    }
  },
  methods: {

    getLogs(){
      this.$store.dispatch('monitoring/getAllLogs')
          .then(value => this.listeLogs = value.data)
    },
    downloadFile(file){
      this.$store.dispatch('monitoring/downloadLog',file)
    }
  },
  created() {
    this.getLogs();
  }
}
</script>

<style>
.title-container {
  font-family: read-regular, serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 13px;
  letter-spacing: normal;
  color: #000000;
  padding-top: 16px;
}

</style>