<template>
  <div class="page">
    <atx-title titre="Simulateur de connexion MPE"
               description="Formulaire consultation"></atx-title>
    <div v-if="token">
      <atx-eforms v-bind:token="token"
                  v-bind:lang="'fr'"
                  v-bind:organisme="'pmi-min-1'"
                  v-bind:plateforme="plateforme"
                  v-bind:page="'agent/plateformes/configuration'"

      ></atx-eforms>
    </div>
  </div>
</template>
<script>
import TitreComponent from "@/components/TitreComponent";

export default {
  components: {
    'atx-title': TitreComponent,
  },
  data() {
    return {
      token: null,
      plateforme: "MPE_atexo_develop",
    }
  },
  created() {
    this.$store.dispatch("getToken").then(value => {
      this.login = value.login;
      this.password = value.password;
      this.plateforme = value.plateforme;
      this.token = value.token
    })
  }
}
</script>
<style>
@import url('../assets/css/vue-multiselect.min.css');
@import url('../assets/css/chosen-gwt.css');
@import url('../assets/css/chosen.css');
</style>
