<template>
  <div class="page">
    <atx-title titre="Simulateur de connexion MPE"
               description="Informations sur l'agent à connecter"></atx-title>
    <div class="p-grid group-box">
      <v-row>
        <div class="col-2">
          <v-text-field
              v-model="getAgent.organisme"
              label="Organisme agent"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="getAgent.plateforme"
              label="Plateforme agent"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-select
              v-model="getAgent.idNotice"
              :items="modeItems"
              label="Liste des notices"
              required
          ></v-select>
        </div>
        <div class="col-2">
          <v-text-field
              v-model="getAgent.idConsultation"
              label="Id consultation"
          ></v-text-field>
        </div>
        <div class="col-2">
          <v-text-field
              v-model="getAgent.lang"
              label="Langue"
          ></v-text-field>
        </div>
        <div class="col-6">
          <v-text-field
              v-model="getAgent.auteurEmail"
              label="Email Agent"
          ></v-text-field>
        </div>
        <div class="col-6">
          <v-text-field
              v-model="getAgent.mpeUrl"
              label="Url MPE"
          ></v-text-field>
        </div>

        <div class="col-12">
          <v-text-field
              v-model="getAgent.tokenMpe"
              label="Token MPE"
          ></v-text-field>
        </div>
      </v-row>
      <v-btn
          id="btn"
          color="success"
          class="mr-4"
          @click="connecteAgent"
      >
        Connexion Notice
      </v-btn>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import TitreComponent from "@/components/TitreComponent";
import base64xml from "@/external/xmlAnnonce";
import {Base64} from "js-base64";

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      xml: base64xml,
      xmlAnnonce: null,
      referenceUtilisateur: "TEST_REFERENCE_UTILISATEUR",
      idConsultation: 508127,
      agent: {},
      selectedNotice: "16",
      modeItems: ["X01", "X02", "1", "2", "3", "4", "5", "6", "T01", "7", "8", "9", "10", "11", "CEI", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "T02", "33", "34", "35", "36", "37", "38", "39", "40"]

    }
  },
  methods: {
    connecteAgent() {
      this.$store.dispatch("createConnexionContexte", this.getAgent)
          .then(() => {
            let page = "agent/avis/" + this.getAgent.idConsultation + "/" + this.getAgent.idNotice +
                "/" + this.getAgent.lang;
            let url = this.getUrlAgent + this.getAgent.plateforme + "/"
                + this.getAgent.organisme + "/" + this.getTokenAgent + "?redirect=" + page;
            window.open(url, '_blank')
          })
    }
  },
  computed: {
    ...mapGetters(['getAgent', 'getUrlAgent', 'getTokenAgent', 'getIdContexte'])
  },
  created() {
    this.xmlAnnonce = Base64.encode(this.xml);
    this.$store.dispatch("getToken").then(value => {
      this.login = value.login;
      this.password = value.password;
      this.plateforme = value.plateforme;
    })
    this.$store.dispatch("getInfosAgent")
  }
}
</script>
<style>
</style>
