<template>
  <div class="page">
    <atx-title titre="Simulateur de connexion MPE"
               description="Informations sur l'agent à connecter"></atx-title>
    <div class="p-grid group-box">
      <v-row>
        <div class="col-4">
          <v-text-field
              v-model="organisme"
              label="Organisme agent"
          ></v-text-field>
        </div>
        <div class="col-4">
          <v-text-field
              v-model="plateforme"
              label="Plateforme agent"
          ></v-text-field>
        </div>
        <div class="col-4">
          <v-text-field
              v-model="page"
              label="Page Concentrateur"
          ></v-text-field>
        </div>
        <div class="col-6">
          <v-text-field
              v-model="mpeUrl"
              label="Url MPE"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="login"
              label="Login MPE"
          ></v-text-field>
        </div>
        <div class="col-3">
          <v-text-field
              v-model="password"
              label="Password MPE"
          ></v-text-field>
        </div>
      </v-row>
      <v-btn
          id="btn"
          color="success"
          class="mr-4"
          @click="connecteAgent"
      >
        Connexion Notice
      </v-btn>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import TitreComponent from "@/components/TitreComponent";
import axios from "axios";

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      page: "agent/annonces/validation-eco",
      mpeUrl: "https://simap-mpe-int.local-trust.com",
      login: 'admin_t5y',
      password: 'admin_t5y',
      organisme: 't5y',
      plateforme: 'MPE_atexo_develop',
      agent: null
    }
  },
  methods: {
    connecteAgent() {
      this.$store.dispatch("createConnexionContexte", this.agent).then((response) => {
        console.log(response);
        let url = this.getUrlAgent + this.plateforme + "/"
            + this.organisme + "/" + this.getTokenAgent + "?redirect=" + this.page;
        window.open(url, '_blank')
      }).catch((error) => {
        console.log(error)
      })


    },
    getToken() {
      const url = this.mpeUrl + "/api/v2/token";
      axios.post(url, {login: this.login, password: this.password}).then((response) => {
        this.agent = {
          "envoi": {
            "agent": {
              "id": 11362,
              "identifiant": this.login,
              "nom": "Pierre",
              "prenom": "DURANT",
              "plateforme": this.plateforme,
              "acronymeOrganisme": this.organisme,
              "email": "11362@atexo.com",
              "telephone": "0123456789",
              "fax": "0123456789",
              "sigleUrl": "",
              "nomCourantAcheteurPublic": "Portail des march\u00e9s publics ( - )",
              "api": {
                "url": this.mpeUrl,
                "token": response.data.token,
                "refreshToken": response.data.refresh_token
              },
              "organisme": {
                "id": 16,
                "acronyme": this.organisme,
                "denominationOrganisme": "Organisme de démonstration ATEXO",
                "siren": "216901231",
                "complement": "03734"
              },
              "service": {"id": "", "libelle": "", "siren": "", "complement": ""}
            }
          }
        }
      }).catch((error) => {
        console.log(error)
      })

    }
  },
  computed: {
    ...mapGetters(['getAgent', 'getUrlAgent', 'getTokenAgent', 'getIdContexte'])
  },
  created() {
    this.$store.dispatch("getInfosAgent").then(() => {
      this.getToken();
    })
  }
}
</script>
<style>
</style>
