<template>
  <div class="page">
    <atx-title titre="Simulateur de connexion MPE"
               description="Informations sur l'agent à connecter"></atx-title>
    <div class="p-grid group-box" v-if="!showWc">
      <v-row>
        <div class="col-4">
          <v-text-field
              v-model="getAgent.organisme"
              label="Organisme agent"
          ></v-text-field>
        </div>
        <div class="col-4">
          <v-text-field
              v-model="getAgent.plateforme"
              label="Plateforme agent"
          ></v-text-field>
        </div>
        <div class="col-4">
          <v-text-field
              v-model="page"
              label="Page Concentrateur"
          ></v-text-field>
        </div>
      </v-row>
      <v-btn
          id="btn"
          color="success"
          class="mr-4"
          @click="connecteAgent"
      >
        Connexion Notice
      </v-btn>
    </div>
    <div v-else>
      <atx-eforms v-bind:token="getTokenAgent"
                  v-bind:lang="getAgent.lang"
                  v-bind:page="page"
                  v-bind:organisme="getAgent.organisme"
                  v-bind:plateforme="getAgent.plateforme"
                  v-bind:token-mpe="getAgent.tokenMpe"
                  v-bind:mpe-url="getAgent.mpeUrl"
      ></atx-eforms>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import TitreComponent from "@/components/TitreComponent";

export default {
  name: "Simulateur",
  components: {
    'atx-title': TitreComponent
  },
  data() {
    return {
      showWc: false,
      page: "agent/annonces/validation-eco"
    }
  },
  methods: {
    connecteAgent() {
      this.showWc = true;
    }
  },
  computed: {
    ...mapGetters(['getAgent', 'getUrlAgent', 'getTokenAgent', 'getIdContexte'])
  },
  created() {
    this.$store.dispatch("getInfosAgent").then(() => {
      this.$store.dispatch("createConnexionContexte", this.getAgent)
    })
  }
}
</script>
<style>
</style>
