<template>
  <div class="page">
    <div id="swagger-atexo" class="page"/>
  </div>
</template>

<script>
  import SwaggerUI, {presets} from 'swagger-ui'

  export default {
    name: "Swagger",
    data() {
      return {
        token: null
      }
    },
    mounted() {
      this.buildSwagger();
    },
    methods: {

      buildSwagger() {
        SwaggerUI({
          url: window.location.origin + "/concentrateur-annonces/v3/api-docs",
          dom_id: '#swagger-atexo',
          presets: [presets.apis],
          deepLinking: true
        })
      }
    }
  }
</script>

<style>
  @import "../assets/css/swagger.css";


</style>
