<div>
  <hr/>
  <table *ngIf="piecesJointes != null && piecesJointes.length > 0 " class="table table-bordered table-hover">
    <caption class="sr-only">Pièces jointes</caption>
    <thead>
    <tr>
      <th>Fichiers joints</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pieceJointe of piecesJointes">
      <td>
        <a (click)="downlaodPieceJointe(pieceJointe)" style="cursor: pointer;"
           title="Télécharger le document {{pieceJointe.nom}}"><i
          class="fa fa-download"></i> {{pieceJointe.nom}}</a>
      </td>
    </tr>
    </tbody>
  </table>

  <br>
  <!-- dossier volumineux -->
  <table *ngIf="message.dossierVolumineux;let item" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Dossier volumineux joint</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a (click)="downloadDossierVolumineux(item)" style="cursor: pointer;"
           title="Télécharger le dossier volumineux {{ item.uuidReference }}"><i
          class="fa fa-download"></i> {{ item.nom }} (Identifiant: {{ item.uuidReference }} -
          Taille: {{ item.taille | fileSize }} )</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
