<div class="row">
  <div class="col-md-12 mb-md-0">
    <div class="card mb-1">
      <div class="card-content">
        <div class="card-body">
          <div class="row mb-1">
            <div class="col-md-9">
              <h5><label>{{'type-avis.filtre.statut' | translate }}</label></h5>
              <div class="btn-group btn-block" role="group" aria-label="Basic example">

                <label class="btn "
                       [ngClass]="{'btn-primary primary-client-bg-border':filtre.statuts.includes(statut.value),
                       'btn-secondary':!filtre.statuts.includes(statut.value)}"
                       *ngFor="let statut of statuts"
                       (click)="changeStatus(statut.value)">

                  <i class="{{statut.icon}}"></i> {{('type-avis.statut.' + statut.label) | translate }}

                </label>
              </div>
            </div>
            <div class="col-md-3">
              <h5><label>{{'type-avis.filtre.typeAvis' | translate }}</label></h5>
              <div class="btn-group btn-block" role="group" aria-label="Basic example">

                <label class="btn btn-secondary"
                       [ngClass]="{'btn-primary primary-client-bg-border':type.value===filtre.europeen,
                       'btn-secondary':type.value!==filtre.europeen}"
                       *ngFor="let type of europeens"
                       (click)="changeFilter('europeen',type.value)">

                  <i class="{{type.icon}}"></i> {{'type-avis.europeen.' + type.label | translate }}

                </label>
              </div>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-md-4 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{'type-avis.filtre.typeProcedure' | translate }}</label></h5>
                <fieldset class="form-group">
                  <ng-select
                    #sortField
                    (blur)="sortField.close()"
                    [clearable]="true"
                    [multiple]="true"
                    name="sortField"
                    bindValue="code"
                    bindLabel="libelle"
                    [items]="procedures"
                    [(ngModel)]="filtre.procedures"
                    (ngModelChange)="rechercher()"
                    [notFoundText]="'aucun' | translate"
                  >
                    <ng-template
                      ng-label-tmp
                      let-item="item">
                      <atx-referentiel-select-item [item]="item"
                                                   [delete]="true"
                                                   (onDeleteItem)="deleteItem(item, 'procedures')">

                      </atx-referentiel-select-item>
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item">
                      <atx-referentiel-select-item [item]="item">
                      </atx-referentiel-select-item>
                    </ng-template>
                  </ng-select>

                </fieldset>
              </div>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{'type-avis.filtre.typeSupport' | translate }}</label></h5>
                <fieldset class="form-group">
                  <ng-select
                    #sortField
                    (blur)="sortField.close()"
                    [clearable]="true"
                    [multiple]="true"
                    name="sortField"
                    bindValue="code"
                    bindLabel="libelle"
                    [items]="supports"
                    [(ngModel)]="filtre.supports"
                    (ngModelChange)="rechercher()"
                    [notFoundText]="'aucun' | translate"
                  >
                    <ng-template
                      ng-label-tmp
                      let-item="item">
                      <atx-referentiel-select-item [item]="item"
                                                   [delete]="true"
                                                   (onDeleteItem)="deleteItem(item, 'supports')">

                      </atx-referentiel-select-item>
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item">
                      <atx-referentiel-select-item [item]="item">
                      </atx-referentiel-select-item>
                    </ng-template>
                  </ng-select>
                </fieldset>
              </div>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="showMore">
              <div class="controls">
                <h5><label>{{'type-avis.filtre.typeOffre' | translate }}</label></h5>
                <fieldset class="form-group">
                  <ng-select
                    #sortField
                    (blur)="sortField.close()"
                    [multiple]="true"
                    [clearable]="true"
                    name="sortField"
                    bindValue="code"
                    [searchFn]="searchByCode"
                    bindLabel="libelle"
                    [items]="offres"
                    [(ngModel)]="filtre.offres"
                    (ngModelChange)="rechercher()"
                    [notFoundText]="'aucun' | translate"
                  >
                    <ng-template
                      ng-label-tmp
                      let-item="item">
                      <atx-referentiel-select-item [item]="item"
                                                   [delete]="true"
                                                   [withCode]="true"
                                                   (onDeleteItem)="deleteItem(item, 'offres')">

                      </atx-referentiel-select-item>
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item">
                      <atx-referentiel-select-item [item]="item" [withCode]="true"
                      >
                      </atx-referentiel-select-item>
                    </ng-template>
                  </ng-select>

                </fieldset>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 " *ngIf="showMore">
              <h5><label>{{'type-avis.filtre.references' | translate }}</label></h5>
              <fieldset class="form-group">
                <ng-select
                  #references
                  (blur)="references.close()"
                  [clearable]="true"
                  [multiple]="true"
                  [addTag]="true"
                  bindValue="label"
                  bindLabel="label"
                  [addTagText]="'type-avis.filtre.references-add' | translate"
                  name="references"
                  [(ngModel)]="filtre.references"
                  (ngModelChange)="rechercher()"
                  [notFoundText]="'aucun' | translate"
                >
                </ng-select>
              </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 " *ngIf="showMore">
              <h5><label>{{'type-avis.filtre.services' | translate }}</label></h5>
              <fieldset class="form-group">
                <ng-select
                  #services
                  (blur)="services.close()"
                  [clearable]="true"
                  [multiple]="true"
                  name="services"
                  [searchFn]="searchByCode"
                  [items]="servicesOrganismes"
                  [(ngModel)]="selectedServicesOrganismes"
                  (ngModelChange)="rechercher()"
                  [notFoundText]="'aucun' | translate"
                >
                  <ng-template
                    ng-label-tmp
                    let-item="item">
                    <atx-referentiel-select-item [item]="item"
                                                 [delete]="true"
                                                 (onDeleteItem)="deleteItemServices(item)">

                    </atx-referentiel-select-item>
                  </ng-template>
                  <ng-template
                    ng-option-tmp
                    let-item="item">
                    <atx-referentiel-select-item [item]="item">
                    </atx-referentiel-select-item>
                  </ng-template>
                </ng-select>
              </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 " *ngIf="showMore">
              <h5><label>{{'type-avis.filtre.validateurs' | translate }}</label></h5>
              <fieldset class="form-group">
                <ng-select
                  #validateurs
                  (blur)="validateurs.close()"
                  [clearable]="true"
                  [multiple]="true"
                  name="validateurs"
                  bindValue="identifiant"
                  bindLabel="libelle"
                  [searchFn]="searchByNom"
                  [items]="agents"
                  [(ngModel)]="filtre.identifiantValidateurs"
                  (ngModelChange)="rechercher()"
                  [notFoundText]="'aucun' | translate"
                >
                  <ng-template
                    let-item="item"
                    ng-label-tmp>
                    <atx-user-informations-row (onDeleteItem)="deleteValidateur($event)" [agent]="item"
                                               [delete]="true">
                    </atx-user-informations-row>
                  </ng-template>
                  <ng-template
                    let-item="item"
                    ng-option-tmp>
                    <atx-user-informations-row [agent]="item">
                    </atx-user-informations-row>
                  </ng-template>
                </ng-select>
              </fieldset>
            </div>
            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore"
                 style="padding-left: 0px!important;">
              <div class="controls">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-12">
                      <h5><label>{{'type-avis.filtre.reception' | translate }}</label></h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              Après le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filtre.dateValidationMin"
                          (ngModelChange)="rechercher()"
                          type="date"
                          class="form-control"
                          name="dateValidationMin"
                          id="dateValidationMin"

                          ngModel
                          style="display:inline;">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              Avant le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filtre.dateValidationMax"
                          type="date"
                          class="form-control"
                          name="dateValidationMax"
                          id="dateValidationMax"
                          (ngModelChange)="rechercher()"
                          style="display:inline;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col- col-md-6 col-sm-12" *ngIf="showMore"
                 style="padding-left: 0px!important;">
              <div class="controls">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-12">
                      <h5><label>{{'type-avis.filtre.dlro' | translate }}</label></h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              Après le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filtre.dateDlroMin"
                          type="date"
                          class="form-control"
                          name="dateDlroMin"
                          id="dateDlroMin"
                          (ngModelChange)="rechercher()"

                          ngModel
                          style="display:inline;">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              Avant le
                          </span>
                        </div>
                        <input
                          [(ngModel)]="filtre.dateDlroMax"
                          type="date"
                          class="form-control"
                          name="dateDlroMax"
                          id="dateDlroMax"
                          (ngModelChange)="rechercher()"

                          style="display:inline;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <hr/>
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <a class="primary-client">
                              <span *ngIf="!showMore" (click)="showMore= true"><i class="la la-plus"></i>
                                {{"plusCriteres" | translate}}
            </span>
                <span *ngIf="showMore" (click)="showMore= false"><i class="la la-minus"></i>
                  {{"moinsCriteres" | translate}}
            </span>
              </a>
            </div>
            <div class="col-md-6">
              <div class="float-md-right">
                <label type="button" class="btn btn-primary primary-client-bg-border mr-sm-1" (click)="reInitFilter()">
                  <i class="fa fa-eraser"></i>
                  {{"initRecherche" | translate}}
                </label>
                <label type="button" class="btn btn-primary primary-client-bg-border" (click)="rechercher()"><i
                  class="ft-search"></i>
                  {{"recherche" | translate}}
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


