<div *ngIf="email && contexteFound()" class="msv2">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-default mb-4">
        <div class="card-header">
          Informations
        </div>
        <div class="card-body form">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Emetteur :</label>
            <div class="col-md-10 col-form-label">{{ email.message.nomCompletExpediteur }}</div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Destinataire :</label>
            <label class="col-md-10 col-form-label">{{ email.email }}</label>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label">Objet :</label>
            <div class="col-md-10 col-form-label">{{ email.message.objet }}</div>
          </div>
        </div>
      </div>
      <div class="card card-default mb-4">
        <div class="card-header">
          Echanges
        </div>
        <div class="card-body">
          <div class="discussion-thread-wrapper">
            <ul class="discussion-thread full-width">
              <li class="discussion-thread-item">
                <span class="discussion-thread-badge info"><i class="fas fa-envelope"></i></span>
                <span class="discussion-thread-card">
                                                 <span class="discussion-thread-header">
                                                    <span
                                                      class="discussion-thread-title">Envoi du message par {{ email?.message?.nomCompletExpediteur }}</span>
                                                    <span
                                                      class="discussion-thread-time">{{email.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss'}}</span>
                                                 </span>
                                                <hr/>
                                                <div [innerHTML]="email.message.contenu | safeHtml"></div>
                                                <div [innerHTML]="email.message.cartouche | safeHtml"></div>
                                                <messagerie-pieces-jointes [message]="email.message"
                                                                           [piecesJointes]="email.message.piecesJointes"></messagerie-pieces-jointes>
                                              </span>
              </li>
              <!-- Courrier lu -->
              <li *ngIf="email?.lu" class="discussion-thread-item">
                <span class="discussion-thread-badge readed"><i class="fas fa-envelope-open"></i></span>
                <span class="discussion-thread-card">
                                                               <span class="discussion-thread-header">
                                                                  <span
                                                                    class="discussion-thread-title">Message lu par {{ email?.email }}</span>
                                                                  <span
                                                                    class="discussion-thread-time">{{email.dateARAsDate | date:'dd/MM/yyyy - HH:mm:ss'}}</span>
                                                               </span>
                                                            </span>
              </li>
              <li *ngFor="let rp of email.toutesLesReponses"
                  class="discussion-thread-item">
                <span *ngIf="rp?.message?.initialisateur != 'AGENT'" class="discussion-thread-badge info"><em
                  class="fas fa-reply"></em></span>
                <span *ngIf="rp?.message?.initialisateur === 'AGENT'" class="discussion-thread-badge delivered"><em
                  class="fas fa-check"></em></span>
                <span class="discussion-thread-card">
                                                     <span class="discussion-thread-header">
                                                        <span *ngIf="rp?.message?.initialisateur != 'AGENT'"
                                                              class="discussion-thread-title">Réponse de {{ rp?.email }}</span>
                                                       <span *ngIf="rp?.message?.initialisateur === 'AGENT'"
                                                             class="discussion-thread-title">Acquittement de l'agent</span>
                                                        <span *ngIf="email.connecte"
                                                              class="discussion-thread-time">{{rp.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss'}}</span>
                                                     </span>
                                                     <hr/>
                  <!-- si l'utilisateur n'est pas connecté -->
                                <div *ngIf="email.message.dateLimiteReponseAttendue"
                                     class="alert alert-color-warning alert-color-warning-expired">
                <p>Votre réponse est attendue avant le <strong>{{email.message.dateLimiteReponseAsDate | date: 'dd/MM/yyyy  HH:mm'}}
                  .</strong></p>
              </div>
                                                     <span *ngIf="!email.connecte" class="discussion-thread-body">
                                                       <div class="alert alert-color-warning" role="alert">
                  Pour répondre à ce message, merci de vous connecter à la plateforme.
                </div>


                                                     </span>
                  <!-- si l'utilisateur n'est pas connecté et réponse présente alors réponse en read only -->

                                                    <div *ngIf="email.connecte"
                                                         class="alert alert-color-warning alert-color-warning-expired"
                                                         class="discussion-thread-body">
                                                        <div [innerHTML]="rp?.message?.contenu | safeHtml"></div>
                                                        <messagerie-pieces-jointes [message]="rp?.message"
                                                                                   [piecesJointes]="rp?.message?.piecesJointes"></messagerie-pieces-jointes>
                                                     </div>


                </span>
              </li>
              <li
                *ngIf="email.message.reponseAttendue && !email.emailEntreprise && email.message.typeMessage !== 'TypeMessage1' && !reponseAgent"
                class="discussion-thread-item">
                <!-- réponse -->
                <span class="discussion-thread-badge info"><i class="fas fa-reply"></i></span>
                <span class="discussion-thread-card">
                                                     <span class="discussion-thread-header">
                                                        <span
                                                          class="discussion-thread-title">Réponse de {{ email?.emailConnecte }}</span>
                                                     </span>
                                                     <hr/>
                 <div *ngIf="email.message.dateLimiteReponseAttendue"
                      class="alert alert-color-warning alert-color-warning-expired">
                <p>Votre réponse est attendue avant le <strong>{{email.message.dateLimiteReponseAsDate | date: 'dd/MM/yyyy  HH:mm'}}
                  .</strong></p>
              </div>
                  <span *ngIf="!email.connecte && !email.emailEntreprise" class="discussion-thread-body">
                                                       <div class="alert alert-color-warning" role="alert">
                  Pour répondre à ce message, merci de vous connecter à la plateforme.
                </div>
                  </span>

                  <!-- formulaire reponse -->
                   <div *ngIf="email.connecte"
                        class="discussion-thread-body">
                                                      <div class="form-group row">
            <label class="col-form-label col-md-3 pt-0">Corps de la réponse :</label>
            <div class="col-md-9">
              <messagerie-editeur-html [hasErrors]="hasErrors()" [message]="reponse"
                                       [placeHolder]="'Renseignez ici le corps de votre message'"></messagerie-editeur-html>
            <div *ngIf="hasErrors()" class="text-danger">Champ obligatoire</div>
            </div>

          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3 pt-0">Pièces jointes :</label>
            <div class="col-md-9">
              <messagerie-document-upload [message]="reponse"
                                          [piecesJointes]="reponse.piecesJointes"></messagerie-document-upload>
            </div>
          </div>
          <div *ngIf="email.message?.dossiersVolumineux?.length > 0" class="form-group row">
            <label class="col-form-label col-md-3 pt-0">Dossier volumineux à joindre à la réponse :</label>
            <div class="col-md-9">
              <ng-select [(ngModel)]="reponse.dossierVolumineux" [clearAllText]="'Tout effacer'"
                         [items]="email.message.dossiersVolumineux">
                <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                  <span class="ng-value-label">{{ item.nom }} (Identifiant: {{ item.uuidReference }}
                    - Taille: {{ item.taille | fileSize }}
                    - Ajouté le: {{ item.dateCreationAsDate | date:'dd/MM/yyyy - HH:mm' }})</span>
                  <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">X</span>
                </ng-template>
                <ng-template let-item="item" ng-option-tmp>
                  {{item.disabled}}
                  <span class="ng-value-label">{{ item.nom }} (Identifiant: {{ item.uuidReference }}
                    - Taille: {{ item.taille | fileSize }}
                    - Ajouté le: {{ item.dateCreationAsDate | date:'dd/MM/yyyy - HH:mm' }})</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
                     <hr/>
          <div class="d-flex">
            <button (click)="answer()" class="btn btn-md btn-primary ml-auto p-2"><i class="fas fa-reply mr-1"></i>Répondre</button>
          </div>
        </div>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
