<!--[if !IE]>-->
		<object classid="java:com.atexo.mpe.applet.AppletMPE.class"
		  	name="AppletMPE"
		  	type="application/x-java-applet;version=1.6"
		  	height="1" width="1" >
			<param name="archive" value="AppletMpe.jar,miglayout-3.5.5-swing.jar,bc-mail-jdk16-140.jar,bcprov-jdk16-140.jar,atexo.mpe-3.0.xml_fat.jar,jibx-run.jar,iText-5.0.5.jar" />
			<param name="code" value="AppletMPE" />
			<param name="codebase" value="ressources/applet" /> 
			<param name="MAYSCRIPT" VALUE="true">
		</object>
	<!--<![endif]-->
	<!--[if IE]>
		<object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" 
			name="AppletMPE" height="1" width="1" > 
			<param name="java_code" value="com.atexo.mpe.applet.AppletMPE.class" /> 
		  	<param name="code" value="AppletMPE" />
		  	<param name="archive" value="AppletMpe.jar,miglayout-3.5.5-swing.jar,bc-mail-jdk16-140.jar,bcprov-jdk16-140.jar,atexo.mpe-3.0.xml_fat.jar,jibx-run.jar,iText-5.0.5.jar" />
		  	<param name="codebase" value="ressources/applet" />
		</object> 
	<![endif]-->
