<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ 'TITRE'|trans }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {% include 'menuAgent/css-javascript-layout-agent/css-agent.html.twig' %}
    {% endblock %}
</head>

<body class="horizontal-layout horizontal-menu 1-column" data-open="hover" data-menu="horizontal-menu" data-col="1-column">

<!--Debut partie centrale-->
<div class="app-content content {% if isFullWidth is not defined or isFullWidth == false %}container{% endif %} center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!--Fin partie centrale-->



    {% block javascriptAgent %}
        {{ encore_entry_script_tags('vendor') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('modern-admin') }}

        {% if atexo_menu.getPartagerConsultation() == true %}
        <script type="text/javascript" src="/themes/js/sdk.js?k={{ MEDIA_CACHE_KEY }}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>
