// Import Palette
@import "../../import/palette";

// extend font-awesome
$fa-font-path: "../fonts/awesome";

//** Background color for `<body>`.
$body-bg: #fff !default;
$footer-bg: #1e616c !default;
$container-width: 755px;
$sidebar-right-width: 190px;

$atx-base-color--50: $palette-light-blue-50;
$atx-base-color--100: $palette-light-blue-100;
$atx-base-color--200: $palette-light-blue-200;
$atx-base-color--300: $palette-light-blue-300;
$atx-base-color--400: $palette-light-blue-400;
$atx-base-color--500: $palette-light-blue-500;
$atx-base-color--600: $palette-light-blue-600;
$atx-base-color--700: $palette-light-blue-700;
$atx-base-color--800: $palette-light-blue-800;
$atx-base-color--900: $palette-light-blue-900;
$atx-base-color--A100: $palette-light-blue-A100;
$atx-base-color--A200: $palette-light-blue-A200;
$atx-base-color--A400: $palette-light-blue-A400;
$atx-base-color--A700: $palette-light-blue-A700;

$atx-base-unit: 8px;
$atx-base-color: $atx-base-color--800;
$atx-base-padding-vertical: 8px;
$atx-base-padding-horizontal: 8px;
$atx-base-font-size: 12px;
$atx-base-line-height: 20px;
$atx-base-border-radius: 3px;
$atx-base-btn-background-color: $atx-base-color--800;
$atx-base-btn-background-color_hover: $atx-base-color--900;

$atx-border-radius-base: $atx-base-border-radius;
$atx-btn-border-radius-base: $atx-border-radius-base;
/**
 **
 ** Header
 **
 */
$atx-header-base-height: $atx-base-unit*15;
$atx-header-base-height-affix: $atx-base-unit*6;
$atx-header-color: rgba(0, 90, 161, 1); // #005aa1
$atx-header-color_hover: rgba(1, 158, 234, 1); //#019eea
$atx-header-background-image: '../images/header-bg.png';
$atx-header-background-repeat: no-repeat;
$atx-header-background-position: 0 -15px;
$atx-header-background-size: auto 90px;
$atx-header-background-color: rgb(246, 246, 246);
$atx-header-width-lg-dropdown-navmenu: 753px;
$atx-header-width-md-dropdown-navmenu: 753px;
// Header -- Nav
$atx-header_nav-color: rgba(255, 255, 255, 1);
$atx-header_nav-color_hover: rgba(255, 255, 255, 1);
$atx-header_nav-background-color: rgba(0, 90, 161, 1);
$atx-header_nav-background-color_hover: rgba(1, 158, 234, 1);
$atx-header_sub_navmenu_link-color: rgba(255, 255, 255, 1);
$atx-header_sub_navmenu_link-color_hover: rgba(0, 0, 0, .8);
$atx-header_sub_navmenu_link-background-color_hover: rgba(255, 255, 255, .8);
$atx-header_sub_navmenu_link-border-color: rgba(1, 158, 234, 1);
// Header -- Avatar
$atx-header-avatar-color: $atx-header-color;

/**
 **
 ** Breadcrumbs
 **
 */
$atx-breadcrumbs-color: rgba(25, 118, 210, 1);
$atx-breadcrumbs-link-color: rgba(102, 102, 102, 1);

/**
 **
 ** Table
 **
 */

$atx-table_header-background-color: rgba(236, 240, 241, 0.35);
$atx-table_header-background-color_odd: rgba(236, 240, 241, .5);
$atx-table_header-border-bottom: 0px solid rgb(149, 165, 166);
$atx-table_row-background-color_hover: rgba(255, 253, 231, .5);
$atx-table_row-border: 1px solid rgba(221, 221, 221, 1);
$atx-table_row__open-border: 1px solid rgba(238, 238, 238, 1);
$atx-table_row_icon-color: rgba(25, 118, 210, 1);
$atx-table_row_actions_btn-color: rgba(158, 158, 158, 1);
$atx-table_row_actions_btn-color_hover: rgba(255, 255, 255, 1);
$atx-table_row_actions_btn-background-color_hover: rgba(2, 119, 189, 1);
$atx-table_row_header-background-color: rgba(245, 245, 245, 1);
$atx-table_row_header-border-bottom: 1px solid rgba(224, 224, 224, 1);
$atx-table_row__open-border-bottom: 1px solid rgba(224, 224, 224, 1);

// Table :: sub_table
$atx-sub_table_header-background-color: rgba(25, 118, 210, 1);
$atx-sub_table_header-background-color_odd: rgba(25, 118, 210, .8);
$atx-sub_table_header-color: rgba(255, 255, 255, 1);
$atx-sub_table_row-border: 1px solid rgba(221, 221, 221, 1);

/**
 **
 ** Step
 **
 */
$atx-step-indicator-color: rgba(66, 66, 66, 1);
$atx-step-indicator-background-color: rgba(237, 239, 240, 1);
$atx-step-indicator-on-color: rgba(255, 255, 255, 1);
$atx-step-indicator-on-background-color: rgba(0, 90, 161, 1);

/**
 **
 ** Footer
 **
 */
$atx-footer-base-height: $atx-base-unit*4;
$atx-footer-color: $atx-base-color;
$atx-footer-background-image: '';
$atx-footer-background-repeat: no-repeat;
$atx-footer-background-position: 16px 50%;
$atx-footer-background-size: auto 40px;
$atx-footer-background-color: rgba(250, 250, 250, 1);

/**
 **
 ** Page
 **
 */
// Login
$atx-login-header-background-color: rgba(246, 246, 246, 1);
$atx-login-form_top-background-color: rgba(25, 118, 210, 1);
$atx-login-btn-submit-background-color: rgba(30, 136, 229, 1);
$atx-login-btn-submit-background-color_hover: rgba(33, 150, 243, 1);
$atx-login-btn-reset-color: rgba(0, 0, 0, .2);
