<div class="col-12">
  <div class="connected-steps">
    <button type="button"
            class="btn btn-primary primary-client-bg-border btn-sm"
            [disabled]="selectedIndex === 0"
            (click)="selectVersion(selectedIndex-1)">
      <i class="la la-chevron-left"></i>
    </button>
    <div class="connector"></div>
    <ng-container *ngFor="let historique of historiques;let last=last;let first=first;let index=index">
      <div class="cursor-pointer"
           [title]="historique.version +'('+(historique.datePublication | date: 'dd/MM/yyyy' )+')'"
           [ngClass]="{'selected-step primary-client-bg-border':historique.id === selectedVersion.id,
      'step':historique.id !== selectedVersion.id}" (click)="selectVersion(index)"></div>
      <div class="connector"></div>
    </ng-container>
    <button type="button"
            class="btn btn-primary primary-client-bg-border btn-sm"
            [disabled]="selectedIndex === (historiques.length - 1)"
            (click)="selectVersion(selectedIndex+1)">
      <i class="la la-chevron-right"></i>
    </button>
  </div>
  <div *ngIf="historiques?.length && historiques?.length>0" class="mt-1">
    <div class="d-flex">
      <h3 class="font-weight-bold margin-auto">Version {{historiques[selectedIndex].version}}
        <span> du {{historiques[selectedIndex].datePublication | date: 'dd/MM/yyyy'}}</span></h3>
    </div>
  </div>
  <div *ngIf="selectedVersion" class="card p-1">
    <atx-preview-clause [editeur]="true" [clauseBean]="clause"></atx-preview-clause>
  </div>
</div>
