<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_ADMINISTRATION_METIER' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.supprimerEnveloppe is defined %}
                {{ form_widget(form.supprimerEnveloppe) }}
            {% endif %}
            {% if form.publicationMarches is defined %}
                {{ form_widget(form.publicationMarches) }}
            {% endif %}
            {% if form.listeMarchesNotifies is defined %}
                {{ form_widget(form.listeMarchesNotifies) }}
            {% endif %}
            {% if form.gererStatistiquesMetier is defined %}
                {{ form_widget(form.gererStatistiquesMetier) }}
            {% endif %}
            {% if form.suiviFluxChorusTransversal is defined %}
                {{ form_widget(form.suiviFluxChorusTransversal) }}
            {% endif %}
        </div>
    </div>
</div>
