
<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'GESTION_BASE_DONNEES_FOURNISSEURS' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.suiviEntreprise is defined %}
                {{ form_widget(form.suiviEntreprise) }}
            {% endif %}
            {% if form.gererLesEntreprises is defined %}
                {{ form_widget(form.gererLesEntreprises) }}
            {% endif %}
            {% if form.annuaireAcheteur is defined %}
                {{ form_widget(form.annuaireAcheteur) }}
            {% endif %}
        </div>
    </div>
</div>
