
<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_ARCHIVES' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.gererArchives is defined %}
                {{ form_widget(form.gererArchives) }}
            {% endif %}
            {% if form.downloadArchives is defined %}
                {{ form_widget(form.downloadArchives) }}
            {% endif %}
            {% if form.accederTousTelechargements is defined %}
                {{ form_widget(form.accederTousTelechargements) }}
            {% endif %}
        </div>
    </div>
</div>
