<div class="habilitation-section habilitation-section--n2 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'DEFINE_CREER_CONSULTATION' | trans}}
        </div>
        <input type="checkbox" class="js-habilitation-section-checkbox" {% if mode is defined and mode == 2 %} disabled {% endif %}>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.gererMapaInferieurMontant is defined %}
                {{ form_widget(form.gererMapaInferieurMontant) }}
            {% endif %}
            {% if form.gererMapaSuperieurMontant is defined %}
                {{ form_widget(form.gererMapaSuperieurMontant) }}
            {% endif %}
            {% if form.administrerProceduresFormalisees is defined %}
                {{ form_widget(form.administrerProceduresFormalisees) }}
            {% endif %}
            {% if form.creerConsultationTransverse is defined %}
                {{ form_widget(form.creerConsultationTransverse) }}
            {% endif %}
        </div>
    </div>
</div>
