

<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_GESTION_AUTRES_ANNONCES' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.creerAnnonceInformation is defined %}
                {{ form_widget(form.creerAnnonceInformation) }}
            {% endif %}
            {% if form.creerAnnonceAttribution is defined %}
                {{ form_widget(form.creerAnnonceAttribution) }}
            {% endif %}
            {% if form.creerAnnonceExtraitPv is defined %}
                {{ form_widget(form.creerAnnonceExtraitPv) }}
            {% endif %}
            {% if form.creerAnnonceRapportAchevement is defined %}
                {{ form_widget(form.creerAnnonceRapportAchevement) }}
            {% endif %}
            {% if form.creerAnnonceDecisionResiliation is defined %}
                {{ form_widget(form.creerAnnonceDecisionResiliation) }}
            {% endif %}
            {% if form.creerAvisProgrammePrevisionnel is defined %}
                {{ form_widget(form.creerAvisProgrammePrevisionnel) }}
            {% endif %}
            {% if form.creerAnnonceSyntheseRapportAudit is defined %}
                {{ form_widget(form.creerAnnonceSyntheseRapportAudit) }}
            {% endif %}
        </div>
    </div>
</div>
