<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_GESTION_CONTRATS' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.creerContrat is defined %}
                {{ form_widget(form.creerContrat) }}
            {% endif %}
            {% if form.modifierContrat is defined %}
                {{ form_widget(form.modifierContrat) }}
            {% endif %}
            {% if form.supprimerContrat is defined %}
                {{ form_widget(form.supprimerContrat) }}
            {% endif %}
            {% if form.consulterContrat is defined %}
                {{ form_widget(form.consulterContrat) }}
            {% endif %}
            {% if form.execVoirContratsEa is defined %}
                {{ form_widget(form.execVoirContratsEa) }}
            {% endif %}
            {% if form.execVoirContratsEaDependantes is defined %}
                {{ form_widget(form.execVoirContratsEaDependantes) }}
            {% endif %}
            {% if form.execVoirContratsOrganisme is defined %}
                {{ form_widget(form.execVoirContratsOrganisme) }}
            {% endif %}
        </div>
    </div>
</div>
