
<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_GESTION_NEWSLETTER' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.gererNewsletter is defined %}
                {{ form_widget(form.gererNewsletter) }}
            {% endif %}
            {% if form.gererNewsletterRedac is defined %}
                {{ form_widget(form.gererNewsletterRedac) }}
            {% endif %}
        </div>
    </div>
</div>
