<div class="habilitation-section habilitation-section--n1 js-habilitation-section habilitation-section--expanded">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_GESTION_CONSULTATIONS' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            <div class="js-section-creer-consultation"></div>
            <div class="js-section-creer-suite-consultation"></div>
            {% if form.duplicationConsultations is defined %}
                {{ form_widget(form.duplicationConsultations) }}
            {% endif %}
            {% if form.publierConsultation is defined %}
                {{ form_widget(form.publierConsultation) }}
            {% endif %}
            {% if form.envoyerPublicite is defined %}
                {{ form_widget(form.envoyerPublicite) }}
            {% endif %}
            {% if form.modifierConsultationAvantValidation is defined %}
                {{ form_widget(form.modifierConsultationAvantValidation) }}
            {% endif %}
            {% if form.validationSimple is defined %}
                {{ form_widget(form.validationSimple) }}
            {% endif %}
            {% if form.validationIntermediaire is defined %}
                {{ form_widget(form.validationIntermediaire) }}
            {% endif %}
            {% if form.validationFinale is defined %}
                {{ form_widget(form.validationFinale) }}
            {% endif %}
            {% if form.modifierConsultationApresValidation is defined %}
                {{ form_widget(form.modifierConsultationApresValidation) }}
            {% endif %}
            {% if form.modifierConsultationMapaInferieurMontantApresValidation is defined %}
                {{ form_widget(form.modifierConsultationMapaInferieurMontantApresValidation) }}
            {% endif %}
            {% if form.modifierConsultationMapaSuperieurMontantApresValidation is defined %}
                {{ form_widget(form.modifierConsultationMapaSuperieurMontantApresValidation) }}
            {% endif %}
            {% if form.modifierConsultationProceduresFormaliseesApresValidation is defined %}
                {{ form_widget(form.modifierConsultationProceduresFormaliseesApresValidation) }}
            {% endif %}
            {% if form.espaceDocumentaireConsultation is defined %}
                {{ form_widget(form.espaceDocumentaireConsultation) }}
            {% endif %}
            {% if form.accesEchangeDocumentaire is defined %}
                {{ form_widget(form.accesEchangeDocumentaire) }}
            {% endif %}
            {% if form.accesRegistreRetraitsPapier is defined %}
                {{ form_widget(form.accesRegistreRetraitsPapier) }}
            {% endif %}
            {% if form.accesRegistreQuestionsPapier is defined %}
                {{ form_widget(form.accesRegistreQuestionsPapier) }}
            {% endif %}
            {% if form.accesRegistreDepotsPapier is defined %}
                {{ form_widget(form.accesRegistreDepotsPapier) }}
            {% endif %}
            {% if form.suiviSeulRegistreRetraitsPapier is defined %}
                {{ form_widget(form.suiviSeulRegistreRetraitsPapier) }}
            {% endif %}
            {% if form.suiviSeulRegistreQuestionsPapier is defined %}
                {{ form_widget(form.suiviSeulRegistreQuestionsPapier) }}
            {% endif %}
            {% if form.suiviSeulRegistreDepotsPapier is defined %}
                {{ form_widget(form.suiviSeulRegistreDepotsPapier) }}
            {% endif %}
            {% if form.accesReponses is defined %}
                {{ form_widget(form.accesReponses) }}
            {% endif %}
            {% if form.telechargementGroupeAnticipePlisChiffres is defined %}
                {{ form_widget(form.telechargementGroupeAnticipePlisChiffres) }}
            {% endif %}
            {% if form.telechargementUnitairePlisChiffres is defined %}
                {{ form_widget(form.telechargementUnitairePlisChiffres) }}
            {% endif %}
            {% if form.ouvrirCandidatureEnLigne is defined %}
                {{ form_widget(form.ouvrirCandidatureEnLigne) }}
            {% endif %}
            {% if form.ouvrirCandidatureADistance is defined %}
                {{ form_widget(form.ouvrirCandidatureADistance) }}
            {% endif %}
            {% if form.ouvrirCandidatureHorsLigne is defined %}
                {{ form_widget(form.ouvrirCandidatureHorsLigne) }}
            {% endif %}
            {% if form.ouvrirOffreTechniqueEnLigne is defined %}
                {{ form_widget(form.ouvrirOffreTechniqueEnLigne) }}
            {% endif %}
            {% if form.ouvrirOffreTechniqueADistance is defined %}
                {{ form_widget(form.ouvrirOffreTechniqueADistance) }}
            {% endif %}
            {% if form.ouvrirOffreTechniqueHorsLigne is defined %}
                {{ form_widget(form.ouvrirOffreTechniqueHorsLigne) }}
            {% endif %}
            {% if form.ouvrirOffreEnLigne is defined %}
                {{ form_widget(form.ouvrirOffreEnLigne) }}
            {% endif %}
            {% if form.ouvrirOffreADistance is defined %}
                {{ form_widget(form.ouvrirOffreADistance) }}
            {% endif %}
            {% if form.ouvrirOffreHorsLigne is defined %}
                {{ form_widget(form.ouvrirOffreHorsLigne) }}
            {% endif %}
            {% if form.ouvrirAnonymatEnLigne is defined %}
                {{ form_widget(form.ouvrirAnonymatEnLigne) }}
            {% endif %}
            {% if form.ouvrirAnonymatADistance is defined %}
                {{ form_widget(form.ouvrirAnonymatADistance) }}
            {% endif %}
            {% if form.ouvrirAnonymatHorsLigne is defined %}
                {{ form_widget(form.ouvrirAnonymatHorsLigne) }}
            {% endif %}
            {% if form.refuserEnveloppe is defined %}
                {{ form_widget(form.refuserEnveloppe) }}
            {% endif %}
            {% if form.restaurerEnveloppe is defined %}
                {{ form_widget(form.restaurerEnveloppe) }}
            {% endif %}
            {% if form.gererAdmissibilite is defined %}
                {{ form_widget(form.gererAdmissibilite) }}
            {% endif %}
            {% if form.gererEncheres is defined %}
                {{ form_widget(form.gererEncheres) }}
            {% endif %}
            {% if form.suivreEncheres is defined %}
                {{ form_widget(form.suivreEncheres) }}
            {% endif %}
            {% if form.gererReouverturesModification is defined %}
                {{ form_widget(form.gererReouverturesModification) }}
            {% endif %}
            {% if form.attributionMarche is defined %}
                {{ form_widget(form.attributionMarche) }}
            {% endif %}
            {% if form.decisionSuiviSeul is defined %}
                {{ form_widget(form.decisionSuiviSeul) }}
            {% endif %}
            {% if form.resultatAnalyse is defined %}
                {{ form_widget(form.resultatAnalyse) }}
            {% endif %}
            {% if form.annulerConsultation is defined %}
                {{ form_widget(form.annulerConsultation) }}
            {% endif %}
            {% if form.importerEnveloppe is defined %}
                {{ form_widget(form.importerEnveloppe) }}
            {% endif %}
            {% if form.envoyerMessage is defined %}
                {{ form_widget(form.envoyerMessage) }}
            {% endif %}
            {% if form.suivreMessage is defined %}
                {{ form_widget(form.suivreMessage) }}
            {% endif %}
            {% if form.gestionMiseDispositionPiecesMarche is defined %}
                {{ form_widget(form.gestionMiseDispositionPiecesMarche) }}
            {% endif %}
            {% if form.historiqueNavigationInscrits is defined %}
                {{ form_widget(form.historiqueNavigationInscrits) }}
            {% endif %}
        </div>
    </div>
</div>
