<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_GESTION_PERIMETRE_INTERVENTION' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.invitePermanentMonEntite is defined %}
                {{ form_widget(form.invitePermanentMonEntite) }}
            {% endif %}
            {% if form.invitePermanentEntiteDependante is defined %}
                {{ form_widget(form.invitePermanentEntiteDependante) }}
            {% endif %}
            {% if form.invitePermanentTransverse is defined %}
                {{ form_widget(form.invitePermanentTransverse) }}
            {% endif %}
        </div>
    </div>
</div>
