
<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_ADMINISTRATION_PMI_ENTITE_ACHAT' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.gererMonService is defined %}
                {{ form_widget(form.gererMonService) }}
            {% endif %}
            {% if form.gestionAgentPole is defined %}
                {{ form_widget(form.gestionAgentPole) }}
            {% endif %}
            {% if form.gestionAgents is defined %}
                {{ form_widget(form.gestionAgents) }}
            {% endif %}
            {% if form.gestionHabilitations is defined %}
                {{ form_widget(form.gestionHabilitations) }}
            {% endif %}
            {% if form.gestionCompteBoamp is defined %}
                {{ form_widget(form.gestionCompteBoamp) }}
            {% endif %}
            {% if form.gestionCompteJal is defined %}
                {{ form_widget(form.gestionCompteJal) }}
            {% endif %}
            {% if form.gestionAdressesFacturationJal is defined %}
                {{ form_widget(form.gestionAdressesFacturationJal) }}
            {% endif %}
            {% if form.gestionBiCles is defined %}
                {{ form_widget(form.gestionBiCles) }}
            {% endif %}
            {% if form.gestionFournisseursEnvoisPostaux is defined %}
                {{ form_widget(form.gestionFournisseursEnvoisPostaux) }}
            {% endif %}
            {% if form.statistiquesSite is defined %}
                {{ form_widget(form.statistiquesSite) }}
            {% endif %}
            {% if form.statistiquesQos is defined %}
                {{ form_widget(form.statistiquesQos) }}
            {% endif %}
            {% if form.gestionCentralePub is defined %}
                {{ form_widget(form.gestionCentralePub) }}
            {% endif %}
            {% if form.gestionCompteGroupeMoniteur is defined %}
                {{ form_widget(form.gestionCompteGroupeMoniteur) }}
            {% endif %}
            {% if form.gererAdressesService is defined %}
                {{ form_widget(form.gererAdressesService) }}
            {% endif %}
            {% if form.gestionCertificatsAgent is defined %}
                {{ form_widget(form.gestionCertificatsAgent) }}
            {% endif %}
            {% if form.gestionMandataire is defined %}
                {{ form_widget(form.gestionMandataire) }}
            {% endif %}
        </div>
    </div>
</div>
