<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'GESTION_RECEMENT_PROGRAMMATION_STRATEGIE' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.besoinUnitaireConsultation is defined %}
                {{ form_widget(form.besoinUnitaireConsultation) }}
            {% endif %}
            {% if form.besoinUnitaireCreationModification is defined %}
                {{ form_widget(form.besoinUnitaireCreationModification) }}
            {% endif %}
            {% if form.demandeAchatConsultation is defined %}
                {{ form_widget(form.demandeAchatConsultation) }}
            {% endif %}
            {% if form.demandeAchatCreationModification is defined %}
                {{ form_widget(form.demandeAchatCreationModification) }}
            {% endif %}
            {% if form.projetAchatConsultation is defined %}
                {{ form_widget(form.projetAchatConsultation) }}
            {% endif %}
            {% if form.projetAchatCreationModification is defined %}
                {{ form_widget(form.projetAchatCreationModification) }}
            {% endif %}
            {% if form.validationOpportunite is defined %}
                {{ form_widget(form.validationOpportunite) }}
            {% endif %}
            {% if form.validationAchat is defined %}
                {{ form_widget(form.validationAchat) }}
            {% endif %}
            {% if form.validationBudget is defined %}
                {{ form_widget(form.validationBudget) }}
            {% endif %}
            {% if form.validerProjetAchat is defined %}
                {{ form_widget(form.validerProjetAchat) }}
            {% endif %}
            {% if form.strategieAchatGestion is defined %}
                {{ form_widget(form.strategieAchatGestion) }}
            {% endif %}
            {% if form.recensementProgrammationAdministration is defined %}
                {{ form_widget(form.recensementProgrammationAdministration) }}
            {% endif %}
        </div>
    </div>
</div>