<div class="habilitation-section habilitation-section--n1 js-habilitation-section">
    <div class="habilitation-section__header js-habilitation-section-header">
        <div class="habilitation-section__header__title">
            <i class="ft-plus-circle"></i> <i class="ft-minus-circle"></i>
            {{'TEXT_SOCIETES_EXCLUES' | trans}}
        </div>
    </div>
    <div class="habilitation-section__content">
        <div class="habilitation-section__body">
            {% if form.porteeSocietesExclues is defined %}
                {{ form_widget(form.porteeSocietesExclues) }}
            {% endif %}
            {% if form.modifierSocietesExclues is defined %}
                {{ form_widget(form.modifierSocietesExclues) }}
            {% endif %}
            {% if form.supprimerSocietesExclues is defined %}
                {{ form_widget(form.supprimerSocietesExclues) }}
            {% endif %}
            {% if form.porteeSocietesExcluesTousOrganismes is defined %}
                {{ form_widget(form.porteeSocietesExcluesTousOrganismes) }}
            {% endif %}
        </div>
    </div>
</div>
