.option {
  display: flex;
  justify-content: space-between;
}

.p-5px {
  padding: 5px;
}

.m-t-5px {
  margin-top: 5px;
}

.m-b-5px {
  margin-botton: 5px;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.to-replace {
  background: #dedede;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px dotted;
}


.is-dragging {
  opacity: .5;
  background: black;
}
