/* CSS Document */

/**************************************Styles specifiques client***************************************/
body { background:#fff; }
h2 { color:#0085BF; }
.form-envoi-pub legend { color:#0085BF; }
.form-envoi-pub .gwt-TabBarItem { color:#0085BF; }
.form-envoi-pub .gwt-TabBarItem-selected { color:#fff; }
.form-envoi-pub table.rubrique fieldset { border:1px solid #68A2D6 !important; }
.boutons { border-color:#d7d7d7; _width:770px }
.form-envoi-pub .content { background:#fff !important; }