<header class="header">
  <div>

    <div class="header-logon-form-field" [hidden]="baseHref !=='/'">
      <span class="header-logon-form-field-label"><label for="environment"><i class="fas fa-search-location"></i> environnement</label></span><span class="header-logon-form-field-value">
         <img [style.visibility]="environment ? '' : 'hidden'"
              [src]="baseHref+'assets/images/'+(environment?.icon ? environment?.icon : 'localhost.png')"
              class="mr-1 domain-logo" alt="logo">
        <input id="environment" type="text" class="form-control custom-dropdown"
               [(ngModel)]="environment"
               (ngModelChange)="update(environment?.target.host)"
               [ngbTypeahead]="search"
               [resultTemplate]="rt"
               [defaultValue]="environment"
               [inputFormatter]="formatter"
               [editable]='false'
               [focusFirst]="true"
               (focus)="focus$.next($any($event).target.value)"
               (click)="click$.next($any($event).target.value)"
               #instance="ngbTypeahead"
        />
      </span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="domain"><i
        class="fas fa-map-pin"></i> domaine</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="domain" type="text" [(ngModel)]="environment.account.host"
      (ngModelChange)="environment.account.host=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="uuid"><i
        class="fas fa-map-pin"></i> MPE uuid</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="uuid" type="text" [(ngModel)]="environment.account.plateformUuid"
      (ngModelChange)="environment.account.plateformUuid=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="mpe"><i
        class="fas fa-map-pin"></i> MPE</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="mpe" type="text" [(ngModel)]="environment.account.mpeUrl"
      (ngModelChange)="environment.account.mpeUrl=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="login"><i
        class="fas fa-user"></i> identifiant</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="login" type="text" [(ngModel)]="environment.account.login"
      (ngModelChange)="environment.account.login=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="lastname"><i
        class="fas fa-user"></i> Nom</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="lastname" type="text" [(ngModel)]="environment.account.lastname"
      (ngModelChange)="environment.account.lastname=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="firstname"><i
        class="fas fa-user"></i> Prénom</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="firstname" type="text" [(ngModel)]="environment.account.firstname"
      (ngModelChange)="environment.account.firstname=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="organization"><i
        class="fas fa-user"></i> organisme</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="organization" type="text"
      [(ngModel)]="environment.account.organization"
      (ngModelChange)="environment.account.organization=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="service"><i
        class="fas fa-user"></i> Service</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="service" type="text" [(ngModel)]="environment.account.service"
      (ngModelChange)="environment.account.service=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field">
      <span class="header-logon-form-field-label"><label for="procedure"><i
        class="fas fa-user"></i> Procedure</label></span><span class="header-logon-form-field-value"><input
      class="header-logon-form-field-value-input" id="procedure" type="text" [(ngModel)]="environment.account.procedure"
      (ngModelChange)="environment.account.procedure=$event; saveContext()"/></span>
    </div>
    <div class="header-logon-form-field-multiple">
      <span class="header-logon-form-field-multiple-label">
        <label><i class="fas fa-lock"></i> mot de passe</label></span>
        <span class="header-logon-form-field-multiple-value">
          <span class="header-logon-form-field-multiple-value-item">
            <label for="password">value</label>
            <input [spellcheck]="false" class="header-logon-form-field-multiple-value-input" id="password"
                   type="text" [(ngModel)]="environment.account.password"
                   (ngModelChange)="environment.account.password = $event; saveContext()"/>
          </span>
          <span class="header-logon-form-field-multiple-value-item"
                [style.visibility]="environment.account.encrypted ? '' : 'hidden'">
            <label for="salt">avec sel</label>
            <input class="header-logon-form-field-multiple-value-input" id="salt" type="text"
                   [disabled]="!environment.account.encrypted"
                   [value]="environment.account.salt ? environment.account.salt : ''">
          </span>
      </span>
    </div>
    <ul class="header-logon-form-actions">
      <li class="header-logon-form-actions-item">
        <button class="header-logon-form-actions-item-button" [class.enable]="!this.isLogin()" [class.disable]="this.isLogin()"  (click)="logon()" ><i class="header-logon-form-sync fas fa-sync" [class.rotating]="this.connecting()" ></i><span>se connecter</span></button>
      </li>
      <li class="header-logon-form-actions-item">
        <button [disabled]="!this.isLogin()" [class.enable]="this.isLogin()" [class.disable]="!this.isLogin()" class="header-logon-form-actions-item-button header-logon-form-actions-item-button-logout" (click)="logout()" ><i class="header-logon-form-logout fas fa-sign-out-alt" ></i><span>se déconnecter</span></button>
      </li>
    </ul>

  </div>
</header>
<section class="container mt-5">
  <section  class="container-inner">
    <aside class="container-menu">
      <ol class="container-menu-domains">
        <li class="container-menu-domains-item">
          <span class="container-menu-domains-item-title">Consultations</span>
          <ul class="container-menu-domains-item-subdomains">
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Documents</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'full', forward: '/document/view' }" class="anchor">Ouvrir</a></li>
              </ol>
            </li>
          </ul>
        </li>
        <li class="container-menu-domains-item">
          <span class="container-menu-domains-item-title">Clausier interministériel</span>
          <ul class="container-menu-domains-item-subdomains">
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Clauses</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/search', editor: true }" class="anchor">Rechercher</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/create', editor: true }" class="anchor">Créer</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/export', editor: true }" class="anchor">Exporter</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Canevas</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/canevas/search', editor: true }" class="anchor">Rechercher</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/canevas/create', editor: true }" class="anchor">Créer</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Version de clausier</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/publication/create', editor: true }" class="anchor">Créer une version</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/publication/history', editor: true }" class="anchor">Historique des versions</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Gabarits de rédaction</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/template/update', editor: true }" class="anchor">Modifier</a></li>
              </ol>
            </li>
          </ul>
        </li>
        <li class="container-menu-domains-item">
          <span class="container-menu-domains-item-title">Clausier ministériel</span>
          <ul class="container-menu-domains-item-subdomains">
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Clauses</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/search', editor: false }" class="anchor">Rechercher</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/create', editor: false }" class="anchor">Créer</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/export', editor: false }" class="anchor">Exporter</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Canevas</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/canevas/search', editor: false }" class="anchor">Rechercher</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/canevas/create', editor: false }" class="anchor">Créer</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Gabarits de rédaction</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/template/update', editor: false }" class="anchor">Modifier</a></li>
              </ol>
            </li>
          </ul>

        </li>

        <li class="container-menu-domains-item">
          <span class="container-menu-domains-item-title">Clauses personnalisées</span>
          <ul class="container-menu-domains-item-subdomains">
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Entité d'agent</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/settings', preferences: 'direction' }" class="anchor">Clauses</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/template/settings', preferences: 'direction' }" class="anchor">Gabarits</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Agent</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/clause/settings', preferences: 'agent' }" class="anchor">Clause</a></li>
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']" [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/template/settings', preferences: 'agent' }" class="anchor">Gabarit</a></li>
              </ol>
            </li>
          </ul>
        </li>
        <li class="container-menu-domains-item">
          <span class="container-menu-domains-item-title">Administration</span>
          <ul class="container-menu-domains-item-subdomains">
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Documents modeles</span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']"
                                                         [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/administration/document-modele' }"
                                                         class="anchor">Dashboard</a></li>
              </ol>
            </li>
            <li class="container-menu-domains-item-subdomains-item">
              <span class="container-menu-domains-item-subdomains-item-title">Champs de fusion complexes </span>
              <ol class="container-menu-links">
                <li class="container-menu-links-item"><a [routerLink]="['/context/initialize']"
                                                         [queryParams]="{ ticket: ticket, proxy: environment?.target?.host, payload: 'light', forward: '/administration/champ-fusion-complexe' }"
                                                         class="anchor">Dashboard</a></li>
              </ol>
            </li>
          </ul>
        </li>
      </ol>

    </aside>
    <section class="container-main">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </section>
  </section>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</section>

<ng-template #rt let-r="result" let-t="term">
  <img [src]="baseHref+'assets/images/' + r['icon']" class="mr-1" style="width: 16px" alt="logo">
  <ngb-highlight [result]="r.id" [term]="t"></ngb-highlight>
</ng-template>
