.fa, .fas
  display: inline-block
  width: 16px
  text-align: center

label
  margin-bottom: 0

.domain
  &-logo
    width: 16px
    position: relative
    top: -2px

.container
  margin: 0 auto
  max-width: 100vw
  &-inner
    background: #fff
    height: 1268px
    display: flex
    margin: 0 auto
  &-menu
    padding: 8px
    width: 160px
    height: 1268px
    background: #eaeaea
    font-weight: 700
    &-links
      list-style-type: none
      padding-left: 0
      line-height: 14px
      margin: 4px 0
      &-item
        font-size: 0.96em
        color: #968d7d
        &::before
          content: "\25BA \0020"
          color: #ccc
          font-size: 9px
    &-domains
      list-style-type: none
      padding: 0
      margin: 0
      &-item
        &-subdomains
          list-style-type: none
          padding: 0
          margin: 0
          &-item
            &-title
              color: #615c53
        &-title
          color: #fff
          background: #8a847a
          line-height: 12px
          display: inline-block
          width: 100%
          padding: 4px
          border-radius: 4px
          margin-bottom: 4px
          margin-top: 4px
  &-main
    padding: 12px
    background: #fbfbfb
    width: calc( 100% - 160px )

.header
  padding-top: 0
  width: 100%
  background: #eee

  &-logon-form
    padding: 4px 12px
    margin: 0 auto
    background: #dedede
    display: block

    &-output
      display: flex
      background: #ccc9c3
      padding: 4px 8px
      border-radius: 4px
      margin-top: 6px

      &-field
        width: 50%
        line-height: 20px
        display: flex
        flex-direction: row

        &-label
          font-weight: normal
          display: inline-block
          width: auto
          margin-right: 8px
          color: #8a8479

        &-value
          font-weight: bold

          &-input
            background: transparent
            border: 2px transparent
            font-weight: bold
            display: inline-block

            &-lock
              color: #666

            &:focus
              background: #fff

    &-sync, &-logout
      cursor: pointer
      font-size: 0.8em
      margin-right: 2px

    &-actions
      display: flex
      justify-content: flex-end
      align-items: flex-end
      margin: 4px 0

      &-item
        display: flex
        flex-direction: row-reverse
        margin-left: 4px

        &-button
          padding: 4px 8px 6px 4px
          background: #676258
          border: none
          border-radius: 4px
          color: #fff
          cursor: pointer

          &.disable
            opacity: 0.4

          &-logout
            background: #968d7d

    &-field
      line-height: 28px

      &-label
        font-weight: normal
        display: inline-block
        width: 100px
        margin-right: 4px
        color: #8a8479

      &-value
        font-weight: bold
        height: 30px
        display: inline-block
        background: #ffffff57
        border: 1px solid #ddd
        border-radius: 5px
        padding: 0 8px
        width: calc(100% - 104px)

        &-input
          width: 90%
          background: transparent
          border: none
          font-weight: bold
          display: inline-block
          color: #495057

          &-lock
            color: #666

    &-field-multiple
      line-height: 28px
      display: flex

      &-label
        font-weight: normal
        display: inline-block
        width: 100px
        margin-right: 4px
        color: #8a8479

      &-value
        font-weight: bold
        height: 30px
        background: #ffffff57
        border: 1px solid #ddd
        border-radius: 5px
        padding: 0 8px
        display: flex
        flex-direction: row
        justify-content: space-between
        width: calc( 100% - 104px )
        align-items: center

        &-item
          display: flex
          align-items: center

        label
          margin-right: 8px
          &[for=password]
            display: none
          &[for=encryption]
            margin-right: 0
            margin-left: 8px

        &-input
          background: transparent
          border: none
          font-weight: bold
          display: inline-block
          color: #495057
          &[type=checkbox]
            cursor: pointer
          &#password
            width: 440px
          &#salt
            width: 228px

.algorithm
  color: #ae1544
  font-size: 9px
  position: relative
  top: -4px

@-webkit-keyframes rotating
  from
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)


@keyframes rotating
  from
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)

  to
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)

.rotating
  -webkit-animation: rotating 2s linear infinite
  -moz-animation: rotating 2s linear infinite
  -o-animation: rotating 2s linear infinite
  animation: rotating 2s linear infinite

.custom-dropdown
  width: 200px
  font-weight: bold
  font-size: 12px
  outline: none
  line-height: 12px
  height: 30px
  display: inline-block
  border: none
  background: none
  &:focus
    outline: none
    box-shadow: none
    border: none
