.scrolltop-button {
    color: #fff;
    background-color: #074472;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    width: 53px;
    height: 53px;
    right: 80px;
    bottom: 30px;
    cursor: pointer;
    border: none;
    transition: opacity .1s linear;
    z-index: 10000;
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

