<!-- BEGIN: Content-->
<div class="app-content content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row" *ngIf="param">
            <atx-breadcrumb class="col-12" [breadcrumb]="param" [create]="true" createLabel="creerClause"
                            [creationLink]="linkCreation" [export]="true" [loadingExport]="loadingExport"
                            [creationRoles]="administrationRoles" (onClickExport)="exporter()"></atx-breadcrumb>
        </div>
        <div class="content-body" style="margin: 5px" *ngIf="!!filter">
            <!-- account setting page start -->
            <section id="page-account-settings">
                <atx-clauses-filter
                        [filter]="filter"
                        [editeur]="editeur"
                        (reinitFilter)="initFilter()"
                        (onChangeFilter)="pageable.page = 0;searchPage($event,pageable)"
                ></atx-clauses-filter>

                <div class="row">
                    <div class="col-xl-4 col-12">
                        <atx-statistique-recherche [total]="total"
                                                   [showDetails]="showDetails"
                                                   (onChangeExpanded)="showDetails=$event">

                        </atx-statistique-recherche>
                    </div>
                    <div class="col-xl-8 col-12">

                        <atx-pagination [pageable]="pageable" [total]="total" [sortFieldsList]="sortFieldsList"
                                        (onChangePagination)="searchPage(filter,$event)">

                        </atx-pagination>
                    </div>
                </div>

                <div class="row">
                    <!-- right content section -->
                    <div class="col-md-12">
                        <atx-clauses-details *ngFor="let clause of list"
                                             [model]="clause"
                                             [editeur]="editeur"
                                             [surcharge]="clause.typeAuteur ===3"
                                             [validationRoles]="validationRoles"
                                             [administrationRoles]="administrationRoles"
                                             [showDetails]="showDetails"
                                             (isDeleted)="updateTotal()"
                        ></atx-clauses-details>
                    </div>
                </div>
            </section>
            <!-- account setting page end -->
        </div>
    </div>
</div>
<!-- END: Content-->




