{% extends 'layout-agent.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
{% endblock %}
{% block javascriptAgent %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div class="content-header row">
		<div class="content-header-left col-md-6 col-12 mb-2">
			<h1 class="content-header-title">
				{{ 'SIGNER_UN_DOCUMENT'|trans }}
			</h1>
		</div>
	</div>
	<div id="OutilSignature">
        <div class="alert bg-danger alert-icon-left alert-arrow-left mb-2" role="alert">
            <span class="alert-icon">
                <span class="fa fa-times"></span>
            </span>
            <p class="mb-2">
                {{ 'ETAT_ASSISTANT_MARCHES_PUBLICS'|trans }} <span class="badge-pill badge-light bg-white danger">{{ 'NON_CONNECTE'|trans}}</span><br>
                {{ 'ASSISTANT_MARCHES_PUBLICS_NON_LANCE'|trans|raw }}<br>
            </p>
            <p class="font-weight-bold mt-1 mb-0" role="button" data-toggle="modal" data-target="#signaturemodale">
                <span class="ft-corner-down-right"></span> {{ 'AFFICHER_PLUS_INFORMATIONS'|trans }}
            </p>
        </div>
        <div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<section class="card">
					<div class="card-content">
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <strong>
									    {{ 'TEXT_SIGNATURE_DOC'|trans|raw }}
                                    </strong>
                                    <ul class="mt-1">
                                        <li>
                                            {{ 'APPLICATION_SIGNATURE_DOC'|trans }}
                                        </li>
                                        <li>
                                            {{ 'JETON_SIGNATURE_DOC'|trans }}
                                        </li>
                                        <li>
                                            {{ 'VERFIER_CERTIFICATS_POUR_SIGNATURE_DOC'|trans }}
                                        </li>
                                    </ul>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12 d-flex justify-content-center">
									<button class="btn btn-primary" data-toggle="modal" data-target="#signaturemodale">
										<span class="ft-arrow-right-circle"></span> {{ 'LANCER_OUTIL_SIGNATURE'|trans }}
									</button>

                                    <div class="modal fade text-left" id="signaturemodale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title font-weight-bold">
                                                        {{ 'INFOS_MARCHE_PUBLICS'|trans }}
                                                    </h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body">
                                                    <div class="alert alert-icon-left alert-arrow-left alert-primary mb-2" role="alert">
                                                        <span class="alert-icon"><span class="ft-info"></span></span>
                                                        <p class="text-white mb-0">
                                                            {{ 'TEXT_MESSAGE_INFO_ASSISTANT_MARCHES_PUBLICS'|trans|raw }}
                                                        </p>
                                                    </div>
													<h5 class="font-weight-bold mb-1">
                                                        <span class="ft-chevron-down"></span>
                                                        {{ 'TEXT_CAS_1_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}
                                                    </h5>
                                                    <p class="ml-2">
                                                        {{ 'TEXT_CAS_1_TELECHARGER_APPLICATION'|trans|raw }}
                                                    </p>
                                                        <ul class="ml-2">
                                                            <li>
                                                                <a class="primary" href="https://ressources-release.local-trust.com/telechargements-int/mon-assistant-marche-public-int.exe">
                                                                    <span class="la la-windows"></span> {{ 'TEXT_CAS_1_TELECHARGER_WINDOWS'|trans}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="primary" href="https://ressources-release.local-trust.com/telechargements-int/mon-assistant-marche-public-int.dmg">
                                                                    <span class="la la-apple"></span> {{ 'TEXT_CAS_1_TELECHARGER_MACOS'|trans}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="primary" href="https://ressources-release.local-trust.com/telechargements-int/mon-assistant-marche-public-int.AppImage">
                                                                    <span class="la la-linux"></span> {{ 'TEXT_CAS_1_TELECHARGER_LINUX'|trans}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    <p class="ml-2">
                                                        {{ 'TEXT_CAS_1_RESUME'|trans|raw}} <span class="badge badge-pill badge-success">{{ 'CONNECTE'|trans|raw}}</span>
                                                    </p>
													<hr>
													<h5 class="font-weight-bold mb-1">
                                                        <span class="ft-chevron-down"></span>
                                                        {{ 'TEXT_CAS_2_MON_ASSISTANT_MARCHES_PUBLICS'|trans }}
                                                    </h5>
													<p class="ml-2 mb-2">
                                                        {{ 'TEXT_CAS_2_RESUME_1'|trans|raw}} <span class="badge badge-pill badge-danger">{{ 'NON_CONNECTE'|trans}}</span>
                                                        {{ 'TEXT_CAS_2_RESUME_2'|trans}}
                                                    </p>
                                                    <p class="ml-2 mb-2">
                                                        {{ 'TEXT_CAS_2_RESUME_3'|trans|raw}} <span class="badge badge-pill badge-success">{{ 'CONNECTE'|trans}}</span>
                                                    </p>
                                                    <p class="ml-2">
                                                        {{ 'TEXT_CAS_2_RESUME_4'|trans}} <span class="badge badge-pill badge-danger">{{ 'NON_CONNECTE'|trans}}</span>
                                                        {{ 'TEXT_CAS_2_RESUME_5'|trans|raw}}
                                                    </p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        {{ 'FERMER'|trans }}
                                                    </button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
