<div class="ql-editor">
  <div style="margin-bottom: 20px">
    <atx-callouts *ngIf="!isCanevasPreview && !!clauseDocument && !!clauseDocument.texteConditions && clauseDocument.conditionee" class="mt-1"  [header]="'Information'" [message]="getMessage()">

    </atx-callouts>
  </div>

  <ng-template preview-clause></ng-template>
</div>


