<div *ngIf="configuration && field && !isHiddenField()">
  <div class="form-group">
    <label class="truncate wrap-label"
           [ngClass]="{'italic':estForbiddenConditonne(configuration) || estObligatoireConditonne(configuration)}"
           [title]="(field._label | translate)+' ('+field.id+') '+getTitleCondition()">{{ field._label | translate}}
      ({{ field.id }})<span class="required"
                           *ngIf="isRequired"
                            style="color:red;">*</span>
      <span class="required" style="cursor:help;"
            *ngIf="('field|description|'+field.id) !== (('field|description|'+field.id) | translate) || ('field|hint|'+field.id) !== (('field|hint|'+field.id) | translate)">
        <i class="la la-info-circle "
           [title]="(('field|description|'+field.id) !== (('field|description|'+field.id) | translate)?(('field|description|'+field.id) | translate) :' ')
           + (('field|hint|'+field.id) !== (('field|hint|'+field.id) | translate)?(('field|hint|'+field.id) | translate) :'')"></i></span></label>
    <div class="controls">
      <div class="input-group"
           *ngIf="(configuration.type==='date-time'||configuration.type==='date') && object[field.id]">
        <input
          class="form-control"
          bsDatepicker
          [placement]="'top'"
          [bsConfig]="{ containerClass: 'theme-blue',dateInputFormat: 'DD/MM/YYYY' }"
          [readOnly]="isReadOnlyField()"
          [required]="isRequired"
          [ngClass]="{ 'is-invalid': date.invalid}"
          [(ngModel)]="object[field.id]['value']"

          #date="ngModel"
          (ngModelChange)="changeDateField($event)"
          [id]="id +'-'+ configuration.id"
          [name]="id +'-'+ configuration.id">
        <div class="input-group-append">
                <span class="input-group-text p-0">
                                   <i class="la la-calendar mr-1"></i>
         <ng-select
           [clearable]="!isReadOnlyField()"
           [disabled]="isReadOnlyField()"
           [items]="optionList"
           [required]="true"
           [ngClass]="{ 'is-invalid': modelForm.invalid}"
           [(ngModel)]="object[field.id]['type']"
           #modelForm="ngModel"
           [id]="id +'-'+ configuration.id"
           [name]="id +'-'+ configuration.id"
           [loading]="optionListLoading"
           (change)="changeField()"
           (open)="getList('optionList')"
           (search)="getList('optionList',$event)"
           ngDefaultControl>

            <ng-template
              ng-label-tmp
              let-item="item">
              <div class="ng-value">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
                <span class="ng-value-label"
                      [title]="(item) | translate">{{   item | translate }}</span>
              </div>
            </ng-template>
            <ng-template
              ng-option-tmp
              let-item="item">
              <span
                [title]="(item)| translate">{{   item | translate }}</span>
            </ng-template>

          </ng-select>
                </span>

        </div>

      </div>
      <div class="input-group"
           *ngIf="(configuration.type==='zoned-time'||configuration.type==='time') && object[field.id]">
        <input
          class="form-control"
          type="time"
          [readOnly]="isReadOnlyField()"
          [required]="isRequired"
          [ngClass]="{ 'is-invalid': date.invalid}"
          [(ngModel)]="object[field.id]['value']"
          #date="ngModel"
          (ngModelChange)="changeField()"
          [id]="id +'-'+ configuration.id"
          [name]="id +'-'+ configuration.id">
        <div class="input-group-append">
                <span class="input-group-text p-0">
                                   <i class="la la-clock-o mr-1"></i>
         <ng-select
           [clearable]=" !isReadOnlyField()"
           [disabled]="isReadOnlyField()"
           [items]="optionList"
           [required]="true"
           [ngClass]="{ 'is-invalid': modelForm.invalid}"
           [(ngModel)]="object[field.id]['type']"
           #modelForm="ngModel"
           [id]="id +'-'+ configuration.id"
           [name]="id +'-'+ configuration.id"
           [loading]="optionListLoading"
           (change)="changeField()"
           (open)="getList('optionList')"
           (search)="getList('optionList',$event)"
           ngDefaultControl>

            <ng-template
              ng-label-tmp
              let-item="item">
              <div class="ng-value">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
                <span class="ng-value-label"
                      [title]="(item) | translate">{{   item | translate }}</span>
              </div>
            </ng-template>
            <ng-template
              ng-option-tmp
              let-item="item">
              <span
                [title]="(item)| translate">{{   item | translate }}</span>
            </ng-template>

          </ng-select>
                </span>

        </div>

      </div>
      <div class="d-flex" *ngIf="configuration.type==='checkbox' || configuration.type==='indicator'">
        <div class="d-flex">
          <input type="radio"
                 class="form-control"
                 [required]="isRequired"
                 [readOnly]="isReadOnlyField()"
                 [disabled]="isReadOnlyField()"
                 [ngClass]="{ 'is-invalid': modelForm.invalid}"
                 [(ngModel)]="object[field.id]"
                 [value]="true"
                 #modelForm="ngModel"
                 [id]="configuration.id+'-oui'"
                 [name]="id +'-'+ configuration.id"
                 (ngModelChange)="changeField()"
          >
          <label [for]="id +'-'+ configuration.id+'-oui'"
                 class="ml-1 margin-auto cursor-pointer"> {{'code|name|applicability.yes' | translate}}</label>

        </div>
        <div class="d-flex ml-2">
          <input type="radio"
                 class="form-control"
                 [required]="isRequired"
                 [readOnly]="isReadOnlyField()"
                 [disabled]="isReadOnlyField()"
                 [ngClass]="{ 'is-invalid': modelForm.invalid}"
                 [(ngModel)]="object[field.id]"
                 [value]="false"
                 #modelForm="ngModel"
                 [id]="configuration.id+'-non'"
                 [name]="id +'-'+ configuration.id"
                 (ngModelChange)="changeField()"
          >
          <label [for]="id +'-'+ configuration.id+'-non'"
                 class="ml-1 margin-auto cursor-pointer"> {{'code|name|applicability.no' | translate}}</label>
        </div>
        <span *ngIf="!isReadOnlyField() && object[field.id] !== null" type="button"
              class="btn btn-primary primary-client-bg-border btn-xs btn-clear"
              (click)="object[field.id]=null;changeField()"><i class="la la-refresh"></i>{{'reset' | translate}}</span>

      </div>

      <div class="input-group" *ngIf="(configuration.type==='number' || configuration.type === 'integer')">
        <input type="number"
               class="form-control"
               [readOnly]="isReadOnlyField()"
               [required]="isRequired"
               [ngClass]="{ 'is-invalid': modelForm.invalid}"
               [(ngModel)]="object[field.id]"
               #modelForm="ngModel"
               [id]="id +'-'+ configuration.id"
               [name]="id +'-'+ configuration.id"
               (ngModelChange)="changeField()"
        >
        <div class="input-group-append">
                <span class="input-group-text">
                  <i class="la la-tachometer"></i>
                </span>
        </div>
      </div>
      <div class="input-group" *ngIf="configuration.type==='amount' && object[field.id]">
        <input
          type="text" min="0" class="form-control" digitOnly decimal="true"
          [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
          [readOnly]="isReadOnlyField()"
          [required]="isRequired"
          [ngClass]="{ 'is-invalid': modelForm.invalid}"
          [(ngModel)]="object[field.id]['value']"
          (ngModelChange)="changeField()"
          #modelForm="ngModel"
          [id]="id +'-'+ configuration.id"
          [name]="id +'-'+ configuration.id"
        >

        <div class="input-group-append">
                <span class="input-group-text p-0">
                                   <i class="la la-money mr-1"></i>
         <ng-select
           [clearable]=" !isReadOnlyField()"
           [disabled]="isReadOnlyField()"
           [items]="optionList"
           [required]="true"
           [ngClass]="{ 'is-invalid': modelForm.invalid}"

           [(ngModel)]="object[field.id]['type']"
           #modelForm="ngModel"
           [id]="id +'-'+ configuration.id"
           [name]="id +'-'+ configuration.id"
           [loading]="optionListLoading"
           (change)="changeField()"
           (open)="getList('optionList')"
           (search)="getList('optionList',$event)"
           ngDefaultControl>

            <ng-template
              ng-label-tmp
              let-item="item">
              <div class="ng-value">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
                <span class="ng-value-label"
                      [title]="('code|name|currency.'+item) | translate">{{  'code|name|currency.' + item | translate }}</span>
              </div>
            </ng-template>
            <ng-template
              ng-option-tmp
              let-item="item">
              <span
                [title]="('code|name|currency.'+item)| translate">{{  'code|name|currency.' + item | translate }}</span>
            </ng-template>

          </ng-select>
                </span>

        </div>
      </div>
      <div class="input-group" *ngIf="configuration.type==='measure' && object[field.id]">
        <input
          type="text" min="0" class="form-control" digitOnly
          [readOnly]="isReadOnlyField()"
          [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
          [required]="isRequired"
          [ngClass]="{ 'is-invalid': modelForm.invalid}"
          [(ngModel)]="object[field.id]['value']"
          (ngModelChange)="changeField()"
          #modelForm="ngModel"
          [id]="id +'-'+ configuration.id"
          [name]="id +'-'+ configuration.id"
        >

        <div class="input-group-append">
                <span class="input-group-text p-0">
                                 <i class="la la-hourglass mr-1"></i>
                   <ng-select
                     [clearable]=" !isReadOnlyField()"
                     [disabled]="isReadOnlyField()"
                     [items]="optionList"
                     [required]="true"
                     [ngClass]="{ 'is-invalid': modelForm.invalid}"
                     [(ngModel)]="object[field.id]['type']"
                     #modelForm="ngModel"
                     [id]="id +'-'+ configuration.id"
                     [name]="id +'-'+ configuration.id"
                     [loading]="optionListLoading"
                     (change)="changeField()"
                     (open)="getList('optionList')"
                     (search)="getList('optionList',$event)"
                     ngDefaultControl>

            <ng-template
              ng-label-tmp
              let-item="item">
              <div class="ng-value">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
                <span class="ng-value-label"
                      [title]="'code|name|timeperiod.'+item | translate">{{  'code|name|timeperiod.' + item | translate }}</span>
              </div>
            </ng-template>
            <ng-template
              ng-option-tmp
              let-item="item">
              <span
                [title]="'code|name|timeperiod.'+item | translate">{{  'code|name|timeperiod.' + item | translate }}</span>
            </ng-template>

          </ng-select>
                </span>

        </div>
      </div>


      <ng-select *ngIf="configuration.type==='code'||configuration.type==='internal-code'"
                 [multiple]="field._repeatable"
                 [virtualScroll]="true"
                 [items]="refList"
                 [id]="id +'-'+ configuration.id"
                 [required]="isRequired"
                 [ngClass]="{ 'is-invalid': modelForm.invalid}"
                 [(ngModel)]="object[field.id]"
                 [clearable]=" !isReadOnlyField()"
                 [disabled]="isReadOnlyField()"
                 #modelForm="ngModel"
                 [name]="id +'-'+ configuration.id"
                 [loading]="refListLoading"
                 (change)="changeField()"
                 (open)="getList('refList')"
                 (search)="getList('refList',$event)"
                 [searchFn]="search"
                 ngDefaultControl>

        <ng-template
          ng-label-tmp
          let-item="item">
          <div class="ng-value"
               [title]="(!isNumber(item) ? 'code|name|' + configuration.codeList.value.id + '.' + item : item) | translate">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
            <span class="ng-value-label">
          {{ (!isNumber(item) ? 'code|name|' + configuration.codeList.value.id + '.' + item : item) | translate }}
                  </span>
          </div>

        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item">
          <span
            [title]="(!isNumber(item) ? 'code|name|' + configuration.codeList.value.id + '.' + item : item) | translate">{{ (!isNumber(item) ? 'code|name|' + configuration.codeList.value.id + '.' + item : item) | translate }}</span>
        </ng-template>

      </ng-select>
      <textarea *ngIf="configuration.type==='text-multilingual' && !field?._repeatable"
                class="form-control full-width"
                [readOnly]="isReadOnlyField()"
                rows="1"
                [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
                [required]="isRequired"
                [ngClass]="{ 'is-invalid': modelForm.invalid}"
                [(ngModel)]="object[field.id]"
                #modelForm="ngModel"
                (ngModelChange)="changeField()"
      ></textarea>
      <ng-select
        *ngIf="configuration.type==='id-ref'"
        [multiple]="field?._repeatable"
        [clearable]=" !isReadOnlyField()"
        [disabled]="isReadOnlyField()"
        [required]="isRequired"
        [items]="refList"
        [ngClass]="{ 'is-invalid': modelForm.invalid}"
        [(ngModel)]="object[field.id]"
        #modelForm="ngModel"
        [addTagText]="'Ajouter' | translate "
        [placeholder]="getPlaceholder()"
        [addTag]="onAddFreeText"
        [id]="id +'-'+ configuration.id"
        [name]="id +'-'+ configuration.id"
        [loading]="refListLoading"
        (change)="changeField()"
        ngDefaultControl>

        <ng-template
          ng-label-tmp
          let-item="item">
          <div class="ng-value">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
            <span class="ng-value-label" [title]="item">{{  item | translate }}</span>
          </div>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item">
          <span [title]="item">{{  item | translate }}</span>
        </ng-template>

      </ng-select>
      <ng-select
        *ngIf="(configuration.type==='id' || configuration.type==='text-multilingual' || configuration.type==='text') && (refList?.length> 0 || field?._repeatable)"
        [multiple]="field?._repeatable"
        [clearable]=" !isReadOnlyField()"
        [disabled]="isReadOnlyField()"
        [required]="isRequired"
        [items]="refList"
        [ngClass]="{ 'is-invalid': modelForm.invalid}"
        [(ngModel)]="object[field.id]"
        #modelForm="ngModel"
        [addTagText]="'Ajouter' | translate "
        [placeholder]="getPlaceholder()"
        [addTag]="onAddFreeText"
        [id]="id +'-'+ configuration.id"
        [name]="id +'-'+ configuration.id"
        [loading]="refListLoading"
        (change)="changeField()"
        ngDefaultControl>

        <ng-template
          ng-label-tmp
          let-item="item">
          <div class="ng-value">
                  <span *ngIf="!isReadOnlyField()"
                        (click)="object[field.id]=deleteElement(item,object[field.id])"
                        class="ng-value-icon left">×</span>
            <span class="ng-value-label" [title]="item">{{  item | translate }}</span>
          </div>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item">
          <span [title]="item">{{  item | translate }}</span>
        </ng-template>

      </ng-select>

      <input type="text"
             *ngIf="(configuration.type==='id' || configuration.type==='text') && !field?._repeatable && (refList?.length=== 0 || !refList)"
             class="form-control full-width" [id]="id +'-'+ configuration.id"
             [name]="id +'-'+ configuration.id"
             [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
             [required]="isRequired"
             [readOnly]="isReadOnlyField()"
             [ngClass]="{ 'is-invalid': modelForm.invalid}"
             [(ngModel)]="object[field.id]"
             #modelForm="ngModel"
             (ngModelChange)="changeField()"
      >
      <div class="input-group" *ngIf="configuration.type==='phone'">
        <input type="tel"
               class="form-control" [id]="id +'-'+ configuration.id"
               [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
               [name]="id +'-'+ configuration.id"
               [readOnly]="isReadOnlyField()"
               [required]="isRequired"
               [ngClass]="{ 'is-invalid': modelForm.invalid}"
               [(ngModel)]="object[field.id]"
               #modelForm="ngModel"
               (ngModelChange)="changeField()"
        >
        <div class="input-group-append">
                <span class="input-group-text">
                  <i class="la la-phone"></i>
                </span>
        </div>
      </div>
      <div class="input-group" *ngIf="configuration.type==='url'">
        <input type="url" [id]="id +'-'+ configuration.id"
               [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
               [name]="id +'-'+ configuration.id"
               [readOnly]="isReadOnlyField()"
               class="form-control"
               [required]="isRequired"
               [ngClass]="{ 'is-invalid': modelForm.invalid}"
               [(ngModel)]="object[field.id]"
               #modelForm="ngModel"
               (ngModelChange)="changeField()"
        >
        <div class="input-group-append">
                <span class="input-group-text">
                  <i class="la la-internet-explorer"></i>
                </span>
        </div>
      </div>
      <div class="input-group" *ngIf="configuration.type==='email'">
        <input type="email" *ngIf="configuration.type==='email'"
               [maxlength]="configuration.maxLength?configuration.maxLength: 6000"
               class="form-control" [id]="id +'-'+ configuration.id"
               [readOnly]="isReadOnlyField()"
               [name]="id +'-'+ configuration.id"
               [required]="isRequired"
               [ngClass]="{ 'is-invalid': modelForm.invalid}"
               [(ngModel)]="object[field.id]"
               #modelForm="ngModel"
               (ngModelChange)="changeField()"
        >
        <div class="input-group-append">
                <span class="input-group-text">
                  <i class="la la-envelope"></i>
                </span>
        </div>
      </div>
    </div>

    <small *ngIf=" configuration.maxLength && !isReadOnlyField()"
           class="text-left badge badge-primary primary-client-bg-border badge-length"
    >{{getLength()}}</small>
    <p *ngFor="let item of erreurMessages" class="block-tag text-left ">
      <small [id]="'BT-'+item.id" class="badge badge-danger truncate"
      >{{item.text | translate}}</small>
    </p>
  </div>

</div>
