.wrap-label {
  text-wrap: wrap;
  text-align: justify;
}

.italic {
  font-style: italic;
}

.ng-select.auto-grow {
  display: flex;

  .ng-select-container {
    min-width: 100px;
    width: auto;
  }

  .ng-dropdown-panel {
    width: auto;
  }
}

.badge-length {
}

virtual-scroller {
  width: 100%;
  height: 3rem;
}


.ng-select.auto-grow {
  max-width: inherit;

  .ng-dropdown-panel {
    width: auto;
  }
}

.btn-clear {
  margin-top: auto;
  padding: 2px;
  margin-bottom: auto;
  margin-left: 10px;
}
