/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

/***************************************Debut Charte commune*************************************************/
html, body { height:100%; }  
body { padding:0; color:#767676; font-size:0.8em; }
a { color:#3D6BA6; }
a:hover { color:#3D6BA6; }
legend { border:0; display:none; }

.carousel { line-height:normal; }

.btn:hover { background-position: 0 -30px;  }
.navbar-fixed-top { margin:0 !important; position:fixed; }
.navbar-fixed-top .container { margin:0 !important; }
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding:0 !important; }

#bloc-loader { height:100%; width:100%; position:fixed; z-index:9999999; text-align:center; opacity:0.7; }
#bloc-loader .loader { background:url(../images/ajax-loader.gif) #767676 no-repeat center 10px; width:120px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; opacity:1; position:relative; top:30%; color:#fff; left:50%; margin-left:-60px; padding:50px 0 10px; }

.container { display:table; width:100% !important; }
.container .col { display:table-cell; width:33%; vertical-align:top; }
.container .left-col, .container .right-col { width:20%; }
.container .middle-col { text-align:center; width:60%; }
.container .middle-col h1 { float:none; padding-top:15px; }
#homepage .left-col { width:0%; }
#homepage .middle-col { width:80%; text-align:left; }

.btn-retour, .btn-validation, .btn-deconnexion, .navbar-inverse .btn-navbar, .pager a, .pager span, .datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover, .datepicker td.active[disabled], .datepicker td.active[disabled]:hover, .bloc-resultats ul.liste-resultats li a.btn, .modal .btn, .retour-recherche .btn, .main-bloc-nav .btn, .dwbg .dwb { 
	color: #ffffff;
	background-color: #3D6BA6;
	*background-color: #3D6BA6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7797C1), to(#3D6BA6));
	background-image: -webkit-linear-gradient(top, #7797C1, #3D6BA6);
	background-image: -o-linear-gradient(top, #7797C1, #3D6BA6);
	background-image: linear-gradient(to bottom, #7797C1, #3D6BA6);
	background-image: -moz-linear-gradient(top, #7797C1, #3D6BA6);
	border-color: #3D6BA6 #3D6BA6 #3D6BA6;
	border-color: rgba(100, 21, 102, 0.1) rgba(100, 21, 102, 0.1)) rgba(128, 33, 130, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff7797C1', endColorstr='#ff3D6BA6', GradientType=0);
	text-shadow:none;
}

.btn-retour:hover, .btn-validation:hover, .btn-deconnexion:hover, .navbar-inverse .btn-navbar:hover, .pager a:hover, .pager span:hover, .btn-add-basket:hover, .btn-suppr-basket:hover, .dwbg .dwb:hover { color: #fff; text-decoration: none; background: #3D6BA6; }
.btn-retour { margin-top:8px !important; margin-left:10px; float:left; }

/*Boutons fontawsome*/
.btn-retour i, .btn-deconnexion i, .btn-navigation i { background-image:none; text-align:left !important; line-height:1em !important; }
.btn-right i { text-align:right !important; }

.bloc-resultats .barre-top { height: 28px !important; }

.navbar .btn-navbar { padding: 11px 14px; }
.navbar .btn-navbar .icon-bar { height: 3px; width: 25px; }
.navbar-inner { min-height:50px; }

.navbar-inverse .navbar-inner, .navbar-inverse .nav-collapse, #bloc-accueil, .bloc-identification { 
  background-color: #fefefe;
  background-image: -moz-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: -o-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffe8e8e8', GradientType=0);
  border-color: #e3e3e3; 
  }

.navbar-inverse .brand,.navbar-inverse .nav > li > a, .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus, .navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover { color: #767676; text-shadow: none; }
.navbar-inverse .brand:hover,.navbar-inverse .nav > li > a:hover { color: #3D6BA6; }
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus { background-color:#3D6BA6; color:#fff; }	
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width:auto; }
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle { background-color:#3D6BA6; }

#homepage .navbar .brand { float:left; }
#moteur-recherche .navbar .brand { margin:5px auto 0; float:none; }
.navbar .brand { padding: 5px 0 5px 10px; background: url(../images/icon-logo-big.png) no-repeat; text-indent:-99999px; margin:0; line-height:0; font-size:0; height:20px; margin:9px 0 0 5px; width:240px; }
.navbar .brand h1 { margin:0; padding:0; line-height:0; font-size:0; }
.navbar h1 { display:block; float:left; font-size:1.3em; margin:0; text-align:center; text-shadow:0 1px 0 #fff; font-family:Arial, Helvetica, sans-serif; color:#777; font-weight:normal; line-height:normal; }
.navbar .dropdown-menu a { color:#999; }

.pager a, .pager span, .retour-recherche a { padding: 2px 6px; border: 1px solid #3D6BA6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.detail-bloc .pager { padding:5px; border:1px solid #d0d0d0; border-top:0; background-color:#efefef; margin-top:0; box-shadow:inset 0 0 5px #dedede; }
.detail-bloc .pager .previous a, .detail-bloc .pager .next a { width:10px; height:21px; line-height:21px; }
.detail-alerte .pager .next a { width:auto !important; }
.detail-bloc .nouvelle-recherche { width:auto !important; height:auto !important; padding:2px 6px !important; }

.detail-bloc .pager .next .btn-right i { text-align:center !important; }

.bloc-resultats .pager .pager-top > span, .bloc-resultats .pager .pager-bottom > span { background:none !important; border:0; }
.bloc-resultats .pager .pager-top > span a, .bloc-resultats .pager .pager-top > span span, .bloc-resultats .pager .pager-bottom > span a, .bloc-resultats .pager .pager-bottom > span span { padding:2px 12px; }
.bloc-resultats .pager .pager-top > span span, .bloc-resultats .pager .pager-bottom > span span { background:#d5d4d4; border-color:#c7c5c5; }
.pager .pager-nb { margin:0 10px; }
.pager .pager-nb input { width:25px; float:left; margin-right:2px; text-align:right; border:0; text-shadow: none; box-shadow:none; padding-top:3px; font-size:13px; }
.pager .pager-nb { height:1.6em; }
.pager .nb-total span { background:none; color:#555; border:0 !important; line-height:1.8em; }

.pager .pager-top, .pager .pager-bottom, .pager .pager-nb, .nb-total  { display:inline-block; }
.pager .pager-top span > :nth-child(3), .pager .pager-top span > :nth-child(4), .pager .pager-bottom  span > :nth-child(1), .pager .pager-bottom  span > :nth-child(2) { display:none; }

.pager img { width:6px; height:8px; }

.bloc-identification { padding-right:5px; text-align:left; }
.bloc-identification ul { list-style-type:none; list-style-position:outside; margin:0; padding:0; }
.bloc-identification ul li { }

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color: #ffffff;
	background: #3D6BA6;
}
.navbar-inverse .nav-collapse { position:absolute; left:0; width:100%; top:50px; }
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	background-color: #767676;
	color:#fff;
}
.navbar-inverse .nav-collapse .nav > li > a:hover .caret,
.navbar-inverse .nav-collapse .dropdown-menu a:hover .caret { border-bottom-color:#fff; border-top-color:#fff; }

.bloc-identification .input-identifiant, .bloc-identification .input-password { width:126px !important; display:inline; }

#main-accueil { text-align:center; padding-top:80px; }
#main-part { padding-top:80px; margin:0 auto; width:70%; }
#main-accueil h2, #main-part h2 { /*height:65px; width:300px; background: url(../images/logo-maximilien.png) no-repeat; text-indent:-99999px; margin:0 auto;*/ font-size:1.4em; }

#main-accueil .bloc-identification { margin-bottom:20px; width:70%; margin:0 auto; }
#main-accueil .bloc-identification h2, #main-part h2 { color:#3D6BA6; }
#main-accueil .bloc-identification p { text-align:left; }
.bloc-identification .input-identifiant, .bloc-identification .input-password { width:200px !important; display:inline; }
#main-accueil .bloc-identification .controls { text-align:left; }
#main-accueil .bloc-identification .control-label { padding-top:10px; }
#main-accueil .bloc-identification .control-group { margin-bottom:10px; }
#main-accueil .bloc-identification .form-horizontal { margin-top:30px; overflow:hidden; }
#main-accueil .bloc-identification .btn-validation { margin-right:10px; }

.main-bloc-nav  { margin:10px auto; }
.main-bloc-nav .btn { margin: 0 auto; color: #fff; }
.main-bloc-nav .btn:hover { background-position:0 -75px; }
.main-bloc-nav .btn { margin-bottom:10px; font-size: 12px; font-weight: bold; }

.bloc-recherche-rapide { margin-bottom:50px; }   
.bloc-recherche-rapide h2 { font-size: 1.4em; color:#3D6BA6; }
.bloc-recherche-rapide #recherche-rapide, .navbar .bloc-recherche-rapide .search-query, #main-accueil .bloc-recherche-rapide .search-query { width:350px; }
.bloc-recherche-rapide .icon-search { background-image: url("../images/glyphicons-halflings.png"); background-position:-49px 0; content:"\0" !important; }
.bloc-recherche-rapide input.icon-search { line-height:20px; display:inline-block; background-position:-40px 6px; padding:14px 16px; }
#main-accueil .bloc-recherche-rapide input.icon-search { margin-top:0; }

.navbar .bloc-recherche-rapide { text-align:left; margin-bottom:20px; }
.navbar .bloc-recherche-rapide { padding-left:10px; }
.navbar .bloc-recherche-rapide h2 { width:auto; line-height:1em; padding-right:5px; color:#767676; font-size:1em; font-weight:bold; text-shadow:none; float:left; }

.calendrier { float:left; display:block !important; }
.calendrier .control-label { width:auto !important; padding-right:10px; }
.calendrier .controls { margin-left:0; }
.calendrier-left { margin-right:10px; width:200px; }

.datepicker td.day:hover, .datepicker td span:hover, .datepicker thead tr:first-child th:hover { background: #767676; color:#fff; }

.moteur-recherche-avancee { padding:70px 10px 0; }
.moteur-recherche-avancee h2, .moteur-recherche-avancee legend, .detail-alerte h2 { color:#3D6BA6; font-size:1.5em; text-align:center; line-height:normal; padding-bottom:20px; margin-top:0; }
.moteur-recherche-avancee legend { padding:0; }
.moteur-recherche-avancee .input-reference { width:266px; }
.moteur-recherche-avancee .control-label { font-size:14px; }
.moteur-recherche-avancee .info-saisie { font-style:italic; font-size:0.9em; color:#a3a3a3; display:block; }

.detail-alerte h2 { padding:0; text-align:left; }
.detail-alerte .ref { padding:0 0 20px 0; }

/*Resultats recherche*/
#resultats-recherche { padding:40px 0 0; background:#f3f3f3; }
.row-fluid { background:url(../images/divider.gif) #f1f1f1 repeat-y 300px top; }
#resultats-recherche .span3 { width:30%; background:#fff;/* border-right:1px solid #e3e3e3; */}
#resultats-recherche .span9 { position:fixed; margin-left:30%; width: 70%; height:100%; overflow:auto; background-color:#f3f3f3; border-left:1px solid #999999; }
/*.container-fluid, .row-fluid, .liste-resultats*/ .bloc-resultats, .container-fluid, .panel-resultats, .main-form { height:100% !important; }
.bloc-resultats ul.liste-resultats { list-style-type:none; margin:0; padding:0; }
.bloc-resultats ul.liste-resultats li { border-bottom:1px solid #e3e3e3; background-color:#fff; display:block; overflow:hidden; position:relative; }
.bloc-resultats ul.liste-resultats li .lien-detail { color:inherit; width:100%; overflow:hidden; display:block; float:left; text-decoration:none !important; }
.bloc-resultats ul.liste-resultats li.active, .chargement-resultats:hover { 
 background-color: #d6d6d6;
 /*background: url(images/linear_bg_2.png);
 background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */ 
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6d6d6), to(#ffffff)); /* Safari 5.1, Chrome 10+ */ 
 background: -webkit-linear-gradient(top, #ffffff, #d6d6d6); /* Firefox 3.6+ */ 
 background: -moz-linear-gradient(top, #ffffff, #d6d6d6); /* IE 10 */ 
 background: -ms-linear-gradient(top, #ffffff, #d6d6d6); /* Opera 11.10+ */ 
 background: -o-linear-gradient(top, #ffffff, #d6d6d6);  
 }
.chargement-resultats:active { background: #d6d6d6; }

.bloc-resultats ul.liste-resultats .actions { float:left; position:absolute; right:0; width:43px; }
.bloc-resultats ul.liste-resultats li a.btn { width:15px; height:20px; display:block; margin:3px; }


.bloc-resultats ul.liste-resultats li a.btn i {content:"\0" !important; background:none; line-height:1.4em; color:#fff; }
.bloc-resultats ul.liste-resultats li a.btn-add-basket span, .bloc-resultats ul.liste-resultats li a.btn-suppr-basket span, .btn-lancer-alerte span,  .detail-bloc li.actions span, .bloc-resultats ul.liste-resultats .actions a span { display:none; }
.bloc-resultats ul.liste-resultats li a.btn-add-basket:hover, .bloc-resultats ul.liste-resultats li a.btn-suppr-basket:hover, .btn-lancer-alerte:hover { color: #fff; text-decoration: none; background: #3D6BA6 !important; *background-color: #3D6BA6; }
.bloc-resultats ul.liste-resultats li a.btn, .detail-bloc li.actions a.btn { padding:0; width:35px; height:25px; display:inline-block; margin-right:3px; }
.detail-bloc li.actions div { display:inline-block; vertical-align:top; height:27px; }

.bloc-resultats ul.liste-resultats li a.btn-add-basket .icon-shopping-cart, .modal a.btn-add-basket .icon-shopping-cart, .detail-bloc li.actions a.btn-add-basket .icon-shopping-cart { background-image: url(../images/icon-add-panier-white.png) !important; background-position:center 2px; background-repeat:no-repeat; vertical-align:top; width:30px; height:20px; }
.bloc-resultats ul.liste-resultats li a.btn-suppr-basket .icon-shopping-cart, .modal a.btn-suppr-basket .icon-shopping-cart, .detail-bloc li.actions a.btn-suppr-basket .icon-shopping-cart { background-image: url(../images/icon-suppr-panier-white.png) !important; background-position:center 2px; background-repeat:no-repeat; vertical-align:top; width:30px; height:20px; }

.bloc-resultats ul.liste-resultats li a.btn-acces-externe .icon-acces-externe, .modal a.btn-acces-externe .icon-acces-externe, .detail-bloc li.actions a.btn-acces-externe .icon-acces-externe { background-image: url(../images/icon-acces-externe.png) !important; background-position:6px 1px; background-repeat:no-repeat; vertical-align:top; width:30px; height:20px; }

.modal a.btn-suppr-basket { padding:2px 6px 0 0; }
.modal a.btn-add-basket .icon-shopping-cart, .modal a.btn-suppr-basket .icon-shopping-cart { background-position:left top; width:25px; }

.bloc-resultats ul.liste-resultats li a.btn-lancer-alerte .icon-share-alt { font-size:16px; line-height:1em; }
.bloc-resultats .resultat img { width:50px; height:50px; display:block; float:left; }
.bloc-resultats .detail-item  { float:left; width:70%; padding:5px 10px 0 5px; font-size:1em; }
.bloc-resultats .resultat-item { padding:5px; line-height:1.2em; overflow:hidden; }

.bloc-resultats .detail-item .ref { font-weight:bold; color:#666; padding-bottom:5px; width:100%; }
.bloc-resultats .detail-item div { margin-bottom:5px; }
.bloc-resultats .date { padding:5px; background:url(../images/alert-time.png) no-repeat left 5px; padding-left:18px; }

.bloc-resultats .barre-top { padding:5px 0; overflow:visible; background:#d6d6d6; border-bottom:1px solid #e3e3e3; width:100%; height:25px; }
.bloc-resultats .barre-top h2 { margin:0; padding:6px 0 0 5px; font-size:0.9em; line-height:normal; text-align:center; float:left; font-family:Arial, Helvetica, sans-serif; }
.bloc-resultats .barre-top h2.no-result { text-align:center; float:none; }
.bloc-resultats .barre-top .nb-resultats { text-shadow:none; background-color:#767676; }
.bloc-resultats .barre-top .control-label { text-align:left; width:auto; }
.bloc-resultats .barre-top .controls { margin-left:0; }
.bloc-resultats .barre-top .liste-tri { margin:0 auto; float:right; padding-right:5px; }
.bloc-resultats .barre-top .liste-tri .btn .caret { margin-left:3px; }
.bloc-resultats .barre-top .liste-tri .btn-mini { padding: 5px 6px; }

.bloc-resultats .barre-top .dropdown-menu  { font-size:12px; min-width:210px; }
.bloc-resultats .barre-top .dropdown-menu a:hover, .bloc-resultats .barre-top .dropdown-menu li:hover { background:#767676; }
.bloc-resultats .barre-top .dropdown-menu input { background:none; color:#333; border:0; font-size:1em; width:100%; text-align:left; }
.bloc-resultats .barre-top .dropdown-menu li { padding:5px 0; }
.bloc-resultats .barre-top .dropdown-menu li:hover { background:767676; }
.bloc-resultats .barre-top .dropdown-menu li:hover input { color:#fff; }
.stick { position: fixed; top: 50px; z-index:1; width:30% !important; }
.fixed { position:fixed; }

.detail-selected-item { padding:5px; margin:0; width:98%; display:table-cell; }
.detail-selected-item h2.no-result { color:#3D6BA6; font-size:1.5em; text-align:center !important; line-height:normal; padding-top:20px; }
.detail-selected-item h3, .modal h3 { color:#3D6BA6; font-size:1.3em; line-height:normal; margin-bottom:0; font-weight:normal; }
.detail-selected-item .ref { font-size:1.6em; padding-top:5px; }
.detail-selected-item .logo-organisme, .resultat-item .logo-organisme { border:1px solid #E3E3E3; float:left; margin-right:10px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; width:50px; height:50px; }
.resultat-item .logo-organisme { margin-right:0; }

.main-bloc-nav i { text-shadow:0 1px 0 #467abd; color:#fff; }
.main-bloc-nav .lien-panier { background: url(../images/icon-panier-white.png) no-repeat left center; }
.main-bloc-nav .lien-alerte { background: url(../images/icon-alerte-white.png) no-repeat left center; }
.main-bloc-nav .lien-recherche  { background: url(../images/icon-recherche-white.png) no-repeat left center; }
.main-bloc-nav .lien-consultation  { background: url(../images/icon-consultation-white.png) no-repeat left center; }

.detail-selected-item .detail-bloc { display:none; padding-bottom:35px; }
.detail-selected-item .detail-content { padding:10px; background-color:#fff; border:1px solid #d0d0d0; }
.detail-selected-item .active { display:block; }

.chargement-resultats { width:100%; padding:5px 0; display:block; text-align:center; text-decoration:none !important; color:#767676 !important; }

.calendrier .input-date { width:90px !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }	
.datepicker:after { left: 7px; }	

.champ-cpv { position:relative; font-size:1.1em; }
.champ-cpv .libelle { display:block !important; }
.champ-cpv td { display:block !important; }
.champ-cpv .code i { position:absolute; top:0; left:5em; }
.champ-cpv .code span { display:none; }

.retour-recherche { padding-top:100px; text-align:center; }
.retour-recherche { margin:0 auto; }
.detail-bloc .retour-recherche { padding-top:20px; }
.detail-bloc p { font-size:1.1em !important; }

.detail-only  .detail-bloc { padding-bottom:0 !important; padding-top:40px; }

/*@media (max-width: 979px)  {
*/	
.nav-collapse .nav { margin:2px; }
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    background-position: 7px center;
    padding: 9px 38px;
}
.nav-collapse .nav > li > a.liens-utiles { padding:9px 8px; } 
.nav-collapse .dropdown-menu { margin:0 0 0 28px; }
.nav-collapse .dropdown-menu a { padding:9px 10px; } 
 
.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
  border-color: #e1e1e1;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding:0; }

.lien-accueil { background: url(../images/icon-home.png) no-repeat left center; }
.lien-panier { background: url(../images/icon-panier.png) no-repeat left center; }
.lien-alerte  { background: url(../images/icon-alerte.png) no-repeat left center; }
.lien-recherche  { background: url(../images/icon-recherche.png) no-repeat left center; }
.lien-consultation  { background: url(../images/icon-consultation.png) no-repeat left center; }

.btn-large { padding: 9px 14px; }

.btn-authentification { font-size:14px !important; margin-top:30px !important; padding-top:12px; height:22px; }
.icon-user { color:#666666; background:none; width:1.5em !important; padding:0 !important; margin:-3px 0 0 0 !important; font-size:2em !important; }

.navbar .icon-user { color:#fff; background:none; width:1em !important; padding:0 !important; margin:-3px 0 0 0 !important; font-size:1.5em !important; }

.navbar .lien-accueil:hover { background-image: url(../images/icon-home-white.png); }
.navbar .lien-panier:hover { background-image: url(../images/icon-panier-white.png); }
.navbar .lien-alerte:hover { background-image: url(../images/icon-alerte-white.png); }
.navbar .lien-recherche:hover  { background-image: url(../images/icon-recherche-white.png); }
.navbar .lien-consultation:hover  { background-image: url(../images/icon-consultation-white.png); }

.navbar .active .lien-accueil { background-image: url(../images/icon-home-white.png); }
.navbar .active .lien-panier { background-image: url(../images/icon-panier-white.png); }
.navbar .active .lien-alerte { background-image: url(../images/icon-alerte-white.png); }
.navbar .active .lien-recherche { background-image: url(../images/icon-recherche-white.png); }
.navbar .active .lien-consultation { background-image: url(../images/icon-consultation-white.png); }

.moteur-recherche-avancee input.input-xxlarge { width:516px; }

.page-erreur { padding:10px; height:auto; text-align:center; }
.page-erreur .container { border:1px solid #b3b3b3; border-radius:4px; margin:10px auto; box-shadow:0 1px 10px #a7a7a7, inset 0 1px 0 #fff; background:#fcfcfc; text-align:center; height:auto; }
.page-erreur h1 { font-size:2em; }
img.picto-erreur { display:inline; vertical-align:middle; margin-bottom:2px; display:block; float:left }


/*Auto complete*/
.acomplete { position:relative; z-index:5; background-color:#fff; border:1px solid #ccc; overflow:auto; }
.acomplete ul { height:300px; }
.acomplete ul, .acomplete li { margin:0px; padding:0px; list-style:none; }
.acomplete li { padding:5px; line-height:normal; }
.acomplete .selected { background-color:#767676; color:#fff; }
.form-bloc-erreur .top, .form-bloc-erreur .bottom { display:none; }

#bloc-accueil, .bloc-identification { padding:20px; background-color:#fff; width:70% !important; height:auto; -webkit-border-radius: 8px; border-radius: 8px; margin:0 auto 20px; -webkit-box-shadow: 0px 0px 8px 2px #cccccc; box-shadow: 0px 0px 8px 2px #ebebeb; border: 1px solid #ccc; }

.navbar .bloc-identification  { border:0; background:none; }

.btn-retour { float: left; font-size: 12px; font-weight: bold; margin: 5px 0 0 5px !important; padding: 10px; }


.main-text h3 { font-size:1.1em; margin-bottom:0; line-height:normal; }

/* Large desktop */
@media (min-width: 1200px) { 
	/*.navbar .btn-navbar { display: block; }*/
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 481px) {
	.main-bloc-nav  { width:310px; }
	.main-bloc-nav .btn { width:250px; clear:both; display:block; text-align:left; }
	.main-bloc-nav i { width:195px; clear:both; display:block; font-size: 14px; font-style:normal; padding:5px 30px 5px 40px; filter: dropshadow(color=#ffffff, offx=0, offy=1); }
	
	.form-horizontal { margin:0 auto; }
	.form-horizontal .control-label { width: 160px !important; }
	
	.moteur-recherche-avancee { width:auto; }
	.moteur-recherche-avancee .long { width:500px; }
	.moteur-recherche-avancee .input-reference { width:486px; }
	
	.calendrier .control-label { width: auto !important; }
	.calendrier .input-date { display:inline; }	
	
	#resultats-recherche { padding:50px 0 0; background:#fff;  }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#resultats-recherche .detail-item { width:85%; }
	#main-accueil .bloc-identification, #main-part { width:90%; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.navbar .btn-navbar { padding: 7px 10px; }
	.navbar .btn-navbar .icon-bar { height: 2px; width: 18px; }
	.navbar-inner { min-height:40px; }
	.navbar-inverse .nav-collapse { top:40px; }
	.navbar .brand { margin:5px 0 0 5px; }

	
	.main-bloc-nav { width:244px; }
	.main-bloc-nav .btn i { font-style:normal; padding-left:40px; display:block; padding:5px 0 5px 40px; }
	.main-bloc-nav .btn { width:194px !important; padding:12px 14px 9px 14px !important; text-align:left; font-size:1em !important; }
	.main-bloc-nav .btn .icon-user { padding:0 !important; margin:-3px 0 0 0 !important; display:inline-block; float:left; }
	
	#main-accueil { text-align:center; padding-top:60px; }
	#main-accueil h2, #main-part h2 { font-size: 1.3em; line-height:normal; }
	#bloc-accueil, .bloc-identification { width:80% !important; }

	.bloc-recherche-rapide #recherche-rapide, .navbar .bloc-recherche-rapide .search-query, #main-accueil .bloc-recherche-rapide .search-query { width:250px; }
	.bloc-recherche-rapide h3 { font-size:1.2em; }
	.moteur-recherche-avancee { width:auto; }
	.detail-alerte { padding-top:20px !important; }

	.form-horizontal { margin:0 auto; }
	.row-fluid { background:none; }
	
	#resultats-recherche { padding-top:0; background:none; }
	#resultats-recherche .bloc-resultats { width:100%; }
	
	.stick { width:100% !important; }

	#resultats-recherche .detail-selected-item { display:none; }
	#resultats-recherche .liste-resultats li { width:100%; }
	.bloc-resultats ul.liste-resultats li a.lien-detail { width:100%; }
	#resultats-recherche .detail-item { width:70%; }
	.bloc-resultats .detail-item .ref { width:auto; }
	
	.liste-resultats .resultat-item { width:96%; }
	
    .bloc-resultats .barre-top { margin-top:40px; top:0; }
	.bloc-resultats ul.liste-resultats { clear:both; }
	
	.calendrier .control-label { float:left; padding-top:5px; }
	.calendrier .input-date { display:inline; float:left; }
    .moteur-recherche-avancee input.input-xxlarge { width:100%; }
		
	.btn-retour { float:left; margin:5px 0 0 5px !important; width:10px; padding:6px; line-height:15px; }
	.btn-retour span { display:none; }
	.container .left-col { width:10%; }
	.container .middle-col { width:90%; }
	.container .middle-col h1 { float:none; padding-top:10px; }


}
@media (max-width: 320px) {
	.navbar .btn-navbar { padding: 7px 10px; }
	.navbar .btn-navbar .icon-bar { height: 2px; width: 18px; }
	.navbar-inner { min-height:40px; }
	.navbar-inverse .nav-collapse { top:40px; }
	.navbar .brand { float:right; width:186px; display:none; margin:5px 0 0 5px; }

	#main-accueil h2, #main-part h2 { font-size: 1.3em; }
	
	#homepage .navbar .brand { display:block; }
	
	.bloc-resultats ul.liste-resultats li a.lien-detail { width:260px; }
	#resultats-recherche .detail-item { width:70%; }
	.btn-add-basket { margin-bottom:10px; }
	.modal .btn-add-basket.pull-right { float:left; }
	.container .middle-col h1 { float:none; padding-top:10px; }

	.bloc-recherche-rapide #recherche-rapide, .navbar .bloc-recherche-rapide .search-query, #main-accueil .bloc-recherche-rapide .search-query { width:220px; }
}

@media (min-width: 980px)  {
	.moteur-recherche-avancee { width:754px; }
	.navbar .brand { margin-right:0; }
	
}

 
@media screen and (orientation:landscape) {/*landscape mode*/}
@media screen and (device-width: 768px) {/*iPad*/}
@media screen and (min-width: 768px) and (orientation:portrait){
	#resultats-recherche .detail-item { width:60%; }
}
@media screen and (min-width: 768px) and (orientation:landscape){
	#resultats-recherche .detail-item { width:70%; }
}

@media (min-width: 481px) and (max-width: 768px) {
	.bloc-resultats { display:none !important; }
	#resultats-recherche, .row-fluid { background:#f3f3f3 !important;  }
	#resultats-recherche .span9 { width:100% !important; }
	#resultats-recherche .detail-selected-item { margin-left:0 !important; overflow:auto; position:static; border:0; }
}

/********** For Retina / HD screen **********/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.bloc-resultats ul.liste-resultats li a.btn-add-basket .icon-shopping-cart, .modal a.btn-add-basket .icon-shopping-cart, .detail-bloc li.actions a.btn-add-basket .icon-shopping-cart { background-image: url(../images/icon-add-panier-white@2x.png) !important; background-position:center 2px; background-repeat:no-repeat; vertical-align:top; width:30px; height:20px; background-size:22px 19px; }
	.bloc-resultats ul.liste-resultats li a.btn-suppr-basket .icon-shopping-cart, .modal a.btn-suppr-basket .icon-shopping-cart, .detail-bloc li.actions a.btn-suppr-basket .icon-shopping-cart { background-image: url(../images/icon-suppr-panier-white@2x.png) !important; background-position:center 2px; background-repeat:no-repeat; vertical-align:top; width:30px; height:20px; background-size:22px 18px; }

	.bloc-resultats ul.liste-resultats li a.btn-acces-externe .icon-acces-externe, .modal a.btn-acces-externe .icon-acces-externe, .detail-bloc li.actions a.btn-acces-externe .icon-acces-externe { background-image: url(../images/icon-acces-externe@2x.png) !important; background-position:6px 1px; background-repeat:no-repeat; vertical-align:top; width:30px; height:22px; background-size:22px 24px; }
	.bloc-resultats .date { padding:5px; background:url(../images/alert-time@2x.png) no-repeat left 5px; padding-left:18px; background-size:15px 15px; }

	.main-bloc-nav .lien-panier { background: url(../images/icon-panier-white@2x.png) no-repeat left center; background-size:25px 25px; }
	.main-bloc-nav .lien-alerte { background: url(../images/icon-alerte-white@2x.png) no-repeat left center; background-size:24px 24px; }
	.main-bloc-nav .lien-recherche  { background: url(../images/icon-recherche-white@2x.png) no-repeat left center; background-size:26px 26px; }
	.main-bloc-nav .lien-consultation  { background: url(../images/icon-consultation-white@2x.png) no-repeat left center; background-size:25px 25px; }

	.lien-accueil { background: url(../images/icon-home@2x.png) no-repeat left center; background-size:24px 25px; }
	.lien-panier { background: url(../images/icon-panier@2x.png) no-repeat left center; background-size:28px 28px; }
	.lien-alerte  { background: url(../images/icon-alerte@2x.png) no-repeat left center; background-size:24px 24px; }
	.lien-recherche  { background: url(../images/icon-recherche@2x.png) no-repeat left center; background-size:26px 26px; }
	.lien-consultation  { background: url(../images/icon-consultation@2x.png) no-repeat left center; background-size:25px 25px; }

	.navbar .lien-accueil:hover { background-image: url(../images/icon-home-white@2x.png); background-size:24px 25px;  }
	.navbar .lien-panier:hover { background-image: url(../images/icon-panier-white@2x.png); background-size:28px 28px; }
	.navbar .lien-alerte:hover { background-image: url(../images/icon-alerte-white@2x.png); background-size:24px 24px; }
	.navbar .lien-recherche:hover  { background-image: url(../images/icon-recherche-white@2x.png); background-size:26px 26px; }
	.navbar .lien-consultation:hover  { background-image: url(../images/icon-consultation-white@2x.png); background-size:25px 25px; }

	.navbar .active .lien-accueil { background-image: url(../images/icon-home-white@2x.png); background-size:24px 25px; }
	.navbar .active .lien-panier { background-image: url(../images/icon-panier-white@2x.png); background-size:28px 28px; }
	.navbar .active .lien-alerte { background-image: url(../images/icon-alerte-white@2x.png); background-size:24px 24px; }
	.navbar .active .lien-recherche { background-image: url(../images/icon-recherche-white@2x.png); background-size:26px 26px; }
	.navbar .active .lien-consultation { background-image: url(../images/icon-consultation-white@2x.png); background-size:25px 25px; }

	#bloc-accueil h2, .bloc-identification h2 { background:url(../images/logo-bloc-accueil@2x.png) no-repeat 0 10px !important; background-size:760px 74px !important; }

}

/***************************************Fin Charte commune*************************************************/
