<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
    {{ 'TEXT_NOUVELLE_CONSULTATION' | trans }} : VALEUR_NOM_ALERTE
  </title>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }

  </style>
  <!--[if mso]>
    <noscript>
    <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    </noscript>
    <![endif]-->
  <!--[if lte mso 11]>
    <style type="text/css">
      .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }
    }

  </style>
  <style media="screen and (min-width:480px)">
    .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
    }

  </style>
  <style type="text/css">
    @media only screen and (max-width:480px) {
      table.mj-full-width-mobile {
        width: 100% !important;
      }

      td.mj-full-width-mobile {
        width: auto !important;
      }
    }

  </style>
  <style type="text/css">
  </style>
</head>

<body style="word-spacing:normal;">
  <div style="">
    <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                          <tbody>
                            <tr>
                              <td style="width:50px;">
                                <img alt="" height="auto" src="{{ urlImageBandeau }}" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="50" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <table cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#000000;font-family:sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;border:none;">
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ titleColor }}; text-align:left; line-height: 20px;">
                              <!-- Titre OBJET-->{{ 'TEXT_NOUVELLE_CONSULTATION' | trans }} : {{ alertName}} <!-- /Titre OBJET-->
                            </td>
                          </tr>
                          <tr>
                            <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <!-- Texte CONTENU-->
                              <p>{{ 'DEFINE_TEXT_BONJOUR' | trans }}</p>
                              <p>{{ 'TEXT_ENTETE_NOUVELLE_CONSULTATION' | trans }} :</p>
                              <!-- /Texte CONTENU-->
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px; background:#edebeb;">
                              <table cellpadding="5" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; line-height:normal;">
                                <tr bgcolor="#cdcdcd">
                                  <td valign="top" width="15%"><strong>{{ 'DEFINE_PROCEDURE' | trans }}<br />{{ 'TEXT_CATEGORIE' | trans }}<br />{{ 'DEFINE_PUBLIEE_LE' | trans }}</strong></td>
                                  <td valign="top" width="60%"><strong>{{ 'DEFINE_TEXT_REFERENCE' | trans }} | {{ 'DEFINE_INTITULE' | trans }}<br />{{ 'TEXT_OBJET' | trans }}<br />{{ 'Organisme' | trans }}</strong></td>
                                  <td valign="top" width="15%"><strong>{{ 'TEXT_DATE_LIMITE_BR_REMISE_PLIS' | trans |raw  }}</strong></td>
                                  <td valign="top" width="10%"></td>
                                </tr> {% for key,consultation in consultations %} <tr bgcolor="{% if key is odd %}#EDEBEB {% else %}ffffff{% endif%}">
                                  <td valign="top"> {% if consultation.typeProcedure.abreviation is defined %} <p style="padding:2px 0; margin:0;">
                                      <font style="color:#666666;">
                                        {{ consultation.typeProcedure.abreviation }}
                                      </font>
                                    </p> {% endif %} <p style="padding:2px 0; margin:0;">
                                      <font style="color:#666666;">{{ consultation.naturePrestation }}</font>
                                    </p>
                                    <p style="padding:2px 0; margin:0 0 6px;">
                                      <font style="color:#666666;">{{ consultation.dateMiseEnLigneCalcule | date('d/m/Y') }}</font>
                                    </p>
                                  </td>
                                  <td valign="top">
                                    <p style="padding:2px 0; margin:0;">
                                      <font style="color:#3D6BA6;font-weight:bold;">{{ consultation.referenceUtilisateur }}</font> - {{ consultation.intitule }}
                                    </p>
                                    <p style="padding:2px 0; margin:0;">
                                      <font style="font-weight:bold;">{{ 'TEXT_OBJET' | trans }} : </font>{{ consultation.objet }}
                                    </p> {% if consultation.organisme.denominationOrg is defined %} <p style="padding:2px 0; margin:0 0 6px;">
                                      <font style="font-weight:bold;">{{ 'ORGANISME' | trans }} : </font>{{ consultation.organisme.denominationOrg }}
                                    </p> {% endif %}
                                  </td>
                                  <td valign="top">
                                    <p style="padding:2px 0 0 0; margin:0;">{{ consultation.datefin | date('d/m/Y') }}</p>
                                    <p style="padding:0; margin:0;">{{ consultation.datefin | date('H:i') }}</p>
                                  <td valign="top" align="right">
                                    <p style="padding:2px 0; margin:0;"><a href="{{ pfUrlReference ~ '?page=entreprise.EntrepriseAdvancedSearch&AllCons&id=' ~ consultation.id ~ '&orgAcronyme=' ~ consultation.organisme.acronyme}}" title="Accéder à la consultation" style="color:#3D6BA6; text-decoration:none;">{{ 'TEXT_ACCES' | trans }}>></a></p>
                                  </td>
                                </tr> {% endfor %}
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #767676; text-align:left; line-height: 20px;">
                              <!-- Texte CONTENU-->
                              <p><strong>{{ 'TEXT_RAPPEL_CRITERES' | trans }} :</strong></p>
                              <!-- /Texte CONTENU-->
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px; background:#edebeb;">
                              <!-- Texte CONTENU-->
                              <table cellpadding="5" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; line-height:normal;">
                                <tr>
                                  <td valign="top" width="30%"><strong>{{ 'DEFINE_TEXT_ENTITE_ACHAT' | trans }}</strong> </td>
                                  <td valign="top">{% if criteria.organisme is defined %} {{ criteria.organisme }} {% else %} {{ 'TEXT_TOUTES_EA' | trans }} {% endif %}</td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td valign="top" width="30%"><strong>{{ 'TEXT_TYPE_PROCEDURE' | trans }}</strong> </td>
                                  <td valign="top">{% if criteria.typeProcedure is defined %} {{ criteria.typeProcedure }} {% else %} {{ 'TEXT_RECHERCHE_AVANCEE_TOUS_TYPES_PROCEDURES' | trans }} {% endif %}</td>
                                </tr>
                                <tr>
                                  <td valign="top" width="30%"><strong>{{ 'DEFINE_CATEGORIE_PRINCIPAL' | trans }}</strong> </td>
                                  <td valign="top">{% if criteria.categorie is defined  %} {{ criteria.categorie }} {% else %} {{ 'TEXT_INDIFFERENT' | trans }} {% endif %}</td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td valign="top" width="30%"><strong>{{ 'TEXT_LIEU_EXECUTION' | trans }}</strong> </td>
                                  <td valign="top">{% if criteria.lieuExecution is defined %} {{ criteria.lieuExecution }} {% else %} {{ 'TEXT_NON_PRECISE' | trans }} {% endif %}</td>
                                </tr>
                                <tr>
                                  <td valign="top" width="30%"><strong>{{ 'DEFINE_CODE_CPV' | trans }}</strong> </td>
                                  <td valign="top">{% if criteria.codesCPV is defined %} {{ criteria.codesCPV }} {% else %} {{ 'TEXT_NON_PRECISE' | trans }} {% endif %}</td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td valign="top" width="30%"><strong>{{ 'TEXT_MOTS_CLES' | trans }}</strong> </td>
                                  <td valign="top">{% if criteria.keywords is defined %} {{ criteria.keywords }} {% else %} {{ 'TEXT_NON_PRECISE' | trans }} {% endif %}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <p style="font-size:12px;">{{ 'TEXT_IMPRIMER_MESSAGE_PDF' | trans }}, <a href="{{ printPdfUrl }}" style="color:{{ titleColor }}; text-decoration:underline;">{{ 'DEFINE_CLIQUEZ_ICI_MIN' | trans }}</a>.</p>
                              <p style="font-size:12px;">{{ 'TEXT_ABONNEMENT_ALERTES' | trans }}</p>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <p style="padding-top:30px;">{{ 'CORDIALEMENT' | trans }},</p>
                              <p><em>{{ pfLongName }}</em></p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]-->
  </div>
</body>

</html>
