<mjml>
    <mj-head>
        <mj-attributes>
            <mj-all font-size="13px" font-family="sans-serif" color="#000000" line-height="22px"/>
        </mj-attributes>
        <mj-title>{{ 'TEXT_NOUVELLE_CONSULTATION' | trans }} : VALEUR_NOM_ALERTE</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-image src="{{ urlImageBandeau }}"
                          width="50px"
                          alt=""></mj-image>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-table>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ titleColor }}; text-align:left; line-height: 20px;">
                            <!-- Titre OBJET-->{{ 'TEXT_NOUVELLE_CONSULTATION' | trans }} : {{ alertName}} <!-- /Titre OBJET-->
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte CONTENU-->
                            <p>{{ 'DEFINE_TEXT_BONJOUR' | trans }}</p>
                            <p>{{ 'TEXT_ENTETE_NOUVELLE_CONSULTATION' | trans }} :</p>
                            <!-- /Texte CONTENU-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px; background:#edebeb;">
                            <table cellpadding="5" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; line-height:normal;">
                                <tr bgcolor="#cdcdcd">
                                    <td valign="top" width="15%"><strong>{{ 'DEFINE_PROCEDURE' | trans }}<br />{{ 'TEXT_CATEGORIE' | trans }}<br />{{ 'DEFINE_PUBLIEE_LE' | trans }}</strong></td>
                                    <td valign="top" width="60%"><strong>{{ 'DEFINE_TEXT_REFERENCE' | trans }} | {{ 'DEFINE_INTITULE' | trans }}<br />{{ 'TEXT_OBJET' | trans }}<br />{{ 'Organisme' | trans }}</strong></td>
                                    <td valign="top" width="15%"><strong>{{ 'TEXT_DATE_LIMITE_BR_REMISE_PLIS' | trans |raw  }}</strong></td>
                                    <td valign="top" width="10%"></td>
                                </tr>
                                {% for key,consultation in consultations %}
                                <tr bgcolor="{% if key is odd %}#EDEBEB {% else %}ffffff{% endif%}"  >
                                    <td valign="top">
                                        {% if consultation.typeProcedure.abreviation is defined %}
                                        <p style="padding:2px 0; margin:0;"><font style="color:#666666;">
                                                {{ consultation.typeProcedure.abreviation }}
                                            </font>
                                        </p>
                                        {% endif %}
                                        <p style="padding:2px 0; margin:0;"><font style="color:#666666;">{{ consultation.naturePrestation }}</font></p>
                                        <p style="padding:2px 0; margin:0 0 6px;"><font style="color:#666666;">{{ consultation.dateMiseEnLigneCalcule | date('d/m/Y') }}</font></p>
                                    </td>
                                    <td valign="top">
                                        <p style="padding:2px 0; margin:0;"><font style="color:#3D6BA6;font-weight:bold;">{{ consultation.referenceUtilisateur }}</font> - {{ consultation.intitule }}</p>
                                        <p style="padding:2px 0; margin:0;"><font style="font-weight:bold;">{{ 'TEXT_OBJET' | trans }} : </font>{{ consultation.objet }}</p>
                                        {% if consultation.organisme.denomination is defined %}
                                        <p style="padding:2px 0; margin:0 0 6px;"><font style="font-weight:bold;">{{ 'ORGANISME' | trans }} : </font>{{ consultation.organisme.denomination }}</p>
                                        {% endif %}
                                    </td>

                                    <td valign="top">
                                        <p style="padding:2px 0 0 0; margin:0;">{{ consultation.datefin | date('d/m/Y') }}</p>
                                        <p style="padding:0; margin:0;">{{ consultation.datefin | date('H:i') }}</p>
                                    <td valign="top"  align="right">
                                        <p style="padding:2px 0; margin:0;"><a href="{{ pfUrlReference ~ '?page=entreprise.EntrepriseAdvancedSearch&AllCons&id=' ~ consultation.id ~ '&orgAcronyme=' ~ consultation.organisme.acronyme}}"
                                                                               title="Accéder à la consultation" style="color:#3D6BA6; text-decoration:none;">{{ 'TEXT_ACCES' | trans }}>></a></p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte CONTENU-->
                            <p><strong>{{ 'TEXT_RAPPEL_CRITERES' | trans }} :</strong></p>
                            <!-- /Texte CONTENU-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px; background:#edebeb;">
                            <!-- Texte CONTENU-->
                            <table cellpadding="5" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; line-height:normal;">
                                <tr>
                                    <td valign="top" width="30%"><strong>{{ 'DEFINE_TEXT_ENTITE_ACHAT' | trans }}</strong> </td>
                                    <td valign="top">{% if criteria.organisme is defined %} {{ criteria.organisme }} {% else %} {{ 'TEXT_TOUTES_EA' | trans }} {% endif %}</td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                    <td valign="top" width="30%"><strong>{{ 'TEXT_TYPE_PROCEDURE' | trans }}</strong> </td>
                                    <td valign="top">{% if criteria.typeProcedure is defined %} {{ criteria.typeProcedure }} {% else %} {{ 'TEXT_RECHERCHE_AVANCEE_TOUS_TYPES_PROCEDURES' | trans }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td valign="top" width="30%"><strong>{{ 'DEFINE_CATEGORIE_PRINCIPAL' | trans }}</strong> </td>
                                    <td valign="top">{% if criteria.categorie is defined  %} {{ criteria.categorie }} {% else %} {{ 'TEXT_INDIFFERENT' | trans }} {% endif %}</td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                    <td valign="top" width="30%"><strong>{{ 'TEXT_LIEU_EXECUTION' | trans }}</strong> </td>
                                    <td valign="top">{% if criteria.lieuExecution is defined %} {{ criteria.lieuExecution }} {% else %} {{ 'TEXT_NON_PRECISE' | trans }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td valign="top" width="30%"><strong>{{ 'DEFINE_CODE_CPV' | trans }}</strong> </td>
                                    <td valign="top">{% if criteria.codesCPV is defined %} {{ criteria.codesCPV }} {% else %} {{ 'TEXT_NON_PRECISE' | trans }} {% endif %}</td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                    <td valign="top" width="30%"><strong>{{ 'TEXT_MOTS_CLES' | trans }}</strong> </td>
                                    <td valign="top">{% if criteria.keywords is defined %} {{ criteria.keywords }} {% else %} {{ 'TEXT_NON_PRECISE' | trans }} {% endif %}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <p style="font-size:12px;">{{ 'TEXT_IMPRIMER_MESSAGE_PDF' | trans }}, <a href="{{ printPdfUrl }}" style="color:{{ titleColor }}; text-decoration:underline;">{{ 'DEFINE_CLIQUEZ_ICI_MIN' | trans }}</a>.</p>
                            <p style="font-size:12px;">{{ 'TEXT_ABONNEMENT_ALERTES' | trans }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <p style="padding-top:30px;">{{ 'CORDIALEMENT' | trans }},</p>
                            <p><em>{{ pfLongName }}</em></p>
                        </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
