{{ 'TEXT_ENTETE_NOUVELLE_CONSULTATION' | trans }}

{% for consultation in consultations %}
{{ 'DEFINE_TEXT_ENTITE_PUBLIC' | trans }} : {{ consultation.organisme.sigle ~ '-' ~  consultation.organisme.denominationOrg}}
{{ 'DEFINE_INTITULE_CONSULTATION' | trans }} : {{ consultation.intitule }}
{{ 'DEFINE_OBJET_CONSULTATION' | trans }} : {{ consultation.objet }}
{{ 'REFERENCE_CONSULTATION' | trans }} : {{ consultation.referenceUtilisateur }}
{{ 'TEXT_TYPE_PROCEDURE' | trans }} : {{ consultation.typeProcedure.libelleTypeProcedure }}
{{ 'DEFINE_DATE_MISE_EN_LIGNE' | trans }} : {{ consultation.dateMiseEnLigneCalcule | date('d/m/Y H:i') }}
{{ 'DEFINE_DATE_LIMITE_REMISE_PLI' | trans }} : {{ consultation.datefin | date('d/m/Y H:i') }}
{{ 'TEXT_LIEN_ACCES_DIRECT' | trans }} : {{ pfUrlReference ~ '?page=entreprise.EntrepriseAdvancedSearch&AllCons&id=' ~ consultation.id ~ '&orgAcronyme=' ~ consultation.organisme.acronyme }}

{% endfor %}

{{ 'TEXT_ABONNEMENT_ALERTES' | trans }}
