<mjml>
    <mj-include path="./mjml-parts/mj-head.mjml"/>
    <mj-body mj-class="default">
        <mj-wrapper>
            <mj-section>
                <mj-column>
                    <mj-include path="./mjml-parts/mj-logo.mjml"/>
                    <mj-text mj-class="title-1">
                        {{ 'ACCUSE_RECEPTION_REPONSE_ELECTRONIQUE' | trans({}, "messages", agent_locale) }}
                    </mj-text>
                    <mj-text mj-class="title-2">
                        {{ 'CORPS_DEBUT' | trans }} {{ inscrit.prenom }}  {{ inscrit.nom }},
                    </mj-text>
                    <mj-text>{{ 'REPONSE_ELECTRONIQUE_POUR_CONSULTATION_CI_DESSOUS' | trans({}, "messages", agent_locale) }}</mj-text>
                    <mj-raw>{% if not isPdf %}</mj-raw>
                    <mj-text>{{ 'PDF_CARACTERISTIQUE_CI_JOINT' | trans }}</mj-text>
                    <mj-raw>{% endif %}</mj-raw>

                    <mj-include path="./mjml-parts/mj-consultation-details.mjml"/>

                    <mj-raw>{% if isPdf %}</mj-raw>
                    <mj-text><strong>{{ 'CARACTERISTIQUE_DEPOT' | trans }} :</strong></mj-text>
                    <mj-table>
                        <tr>
                            <td>
                                <strong>{{ 'TEXT_ENTREPRISE' | trans }}</strong></td>
                            <td>{{ inscrit.entreprise.nom }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'DEFINE_NOM' | trans }}</strong></td>
                            <td>{{ inscrit.nom }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'DEFINE_PRENOM' | trans }}</strong></td>
                            <td>{{ inscrit.prenom }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'TEXT_ADRESSE_ELECTRONIQUE' | trans }}</strong>
                            </td>
                            <td>{{ inscrit.email }}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ 'HORODATAGE_DEPOT' | trans }}</strong></td>

                            <td>{{ response.untrusteddate | date("d/m/Y H:i:s") }}</td>
                        </tr>
                    </mj-table>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column>
                    <mj-text><strong>{{ 'CONTENU_REPONSE' | trans }} :</strong></mj-text>

                    <mj-include path="./mjml-parts/mj-consultation-candidature.mjml"/>

                    <mj-include path="./mjml-parts/mj-consultation-fichiers.mjml"/>

                    <mj-include path="./mjml-parts/mj-signature.mjml"/>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
