<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
  </title>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }

  </style>
  <!--[if mso]>
    <noscript>
    <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    </noscript>
    <![endif]-->
  <!--[if lte mso 11]>
    <style type="text/css">
      .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }
    }

  </style>
  <style media="screen and (min-width:480px)">
    .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
    }

  </style>
  <style type="text/css">
  </style>
  <style type="text/css">
    .table-striped td {
      vertical-align: top;
      padding: 5px 10px;
      line-height: 18px;
    }

    .table-striped td:first-child {
      width: 30%;
    }

    .table-striped tr:nth-of-type(odd) {
      background-color: #edebeb;
    }

    .statut img {
      vertical-align: middle;
    }

    img.logo {
      display: inline-block;
      max-width: 400px;
      height: auto;
      width: auto;
    }

    .infos-signature {
      font-size: 10px;
    }

  </style>
</head>

<body style="word-spacing:normal;background-color:#efefef;">
  <div style="background-color:#efefef;">
    <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" width="600px" ><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" bgcolor="#ffffff" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
              <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
                  <tbody>
                    <tr>
                      <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:left;">
                        <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]-->
                        <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                            <tbody>
                              <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:center;color:#767676;">{% if file_asset_exists(absolute_url(urlBandeauImage)) %} <img src="{{ urlBandeauImage }}" alt="{{ plateforme }}" title="{{ plateforme }}" class="logo" style="max-width:400px;height:auto;" /> {% endif %}</div>
                                </td>
                              </tr>
                              <tr>
                                <td style="font-size:0px;word-break:break-word;">
                                  <div style="height:20px;line-height:20px;">&#8202;</div>
                                </td>
                              </tr>
                              <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:sans-serif;font-size:18px;line-height:normal;text-align:left;color:#2473B7;">{{ 'ACCUSE_RECEPTION_REPONSE_ELECTRONIQUE' | trans({}, "messages", agent_locale) }}</div>
                                </td>
                              </tr>
                              <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:sans-serif;font-size:14px;line-height:normal;text-align:left;color:#767676;">{{ 'CORPS_DEBUT' | trans({}, "messages", agent_locale) }} {{ agent.prenom }} {{ agent.nom }},</div>
                                </td>
                              </tr>
                              <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;">{{ 'REPONSE_DEPOSE_POUR_CONSULTATION' | trans({}, "messages", agent_locale) }}</div>
                                </td>
                              </tr>
                              <tr>
                                <td align="left" class="table-striped" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <table cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#767676;font-family:sans-serif;font-size:12px;line-height:normal;table-layout:auto;width:100%;border:none;">
                                    <tr>
                                      <td>
                                        <strong>{{ 'DEFINE_TEXT_ENTITE_PUBLIC' | trans({}, "messages", agent_locale) }}</strong>
                                      </td> {% if isAnnoncesMarchesEnabled %} <td>{{ consultation.orgDenomination }}</td> {% elseif consultation.organisme is not null %} <td>{{ consultation.organisme.sigle }} - {{ consultation.organisme.denominationOrg }}</td> {% endif %}
                                    </tr> {% if not isAnnoncesMarchesEnabled %} <tr>
                                      <td>
                                        <strong>{{ 'DEFINE_ENTITE_ACHAT' | trans({}, "messages", agent_locale) }}</strong>
                                      </td> {% if consultation.service is not null %} <td>{{ consultation.service.sigle ~ ' - ' ~ consultation.service.libelle }}</td> {% elseif consultation.organisme is not null %} <td>{{ consultation.organisme.sigle ~ ' - ' ~ consultation.organisme.denominationOrg }}</td> {% endif %}
                                    </tr> {% endif %} <tr>
                                      <td>
                                        <strong>{{ 'DEFINE_TEXT_REFERENCES' | trans({}, "messages", agent_locale) }} | {{ 'DEFINE_INTITULE' | trans({}, "messages", agent_locale) }}</strong>
                                      </td>
                                      <td>{{ consultation.referenceUtilisateur }} | {{ consultation.intitule | raw }}</td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>{{ 'DEFINE_OBJET_CONSULTATION' | trans({}, "messages", agent_locale) }}</strong>
                                      </td>
                                      <td> {{ consultation.objet | raw }}</td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>{{ 'TEXT_TYPE_PROCEDURE' | trans({}, "messages", agent_locale) }}</strong>
                                      </td>
                                      <td>{{ typeProcedureOrganisme.procedurePortailType.libelleTypeProcedure }}</td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>{{ 'DEFINE_DATE_MISE_LIGNE' | trans({}, "messages", agent_locale) }}</strong>
                                      </td> {% if isPubliciteOpoceEnabled and consultation.datemiseenligne.format('Y-m-d') > 0 %} <td>{{ consultation.datemiseenligne | iso2frnDateTime }}</td> {% else %} <td>{{ consultation.dateMiseEnLigneCalcule | iso2frnDateTime }}</td> {% endif %}
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong>{{ 'TEXT_DATE_HEURE_LIMITE_REMISE_PLIS' | trans({}, "messages", agent_locale) }}</strong>
                                      </td>
                                      <td>{{ consultation.datefin | iso2frnDateTime }}</td>
                                    </tr> {% if fromAgent %} <tr>
                                      <td><strong>{{ 'TEXT_LIEN_ACCES_DIRECT_CONSULTATION' | trans({}, "messages", agent_locale) }}</strong></td>
                                      <td><a href="{{ urlConsultation }}">{{ urlConsultation }}</a></td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{ 'HORODATAGE_DEPOT' | trans({}, "messages", agent_locale) }}</strong></td>
                                      <td>{{ response.untrusteddate | date("d/m/Y H:i:s") }}</td>
                                    </tr> {% endif %}
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:sans-serif;font-size:12px;line-height:normal;text-align:left;color:#767676;">{{ 'CORDIALEMENT' | trans({}, "messages", agent_locale) }},</div>
                                </td>
                              </tr>
                              <tr>
                                <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:sans-serif;font-size:16px;font-weight:bold;line-height:normal;text-align:left;color:#767676;">{{ plateforme }}</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--[if mso | IE]></td></tr></table><![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]-->
  </div>
</body>

</html>
