<mjml>
    <mj-head>
        <mj-title>{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-table>
                    <tr>
                        <td>
                            <image src="{{ absolute_url(asset('themes/images/bandeau-email.jpg')) }}" alt='{{ plateforme }}' class='header' style='display: block; border: none;'></image>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ couleur_titre }}; text-align:left; line-height: 20px;">
                            <!-- Titre OBJET-->{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}<!-- /Titre OBJET-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte CONTENU-->
                            <p>{{ 'DEFINE_BONJOUR'|trans }} {{ firstname }} {{ lastname }},</p>
                            <p>{{ 'DEFINE_TEXT_HEADER_MESSAGE_CONFIRMATION_INSCRIT'|trans }}</p>
                            <p>{{ 'DEFINE_PRENOM'|trans }} : {{ firstname }}</p>
                            <p>{{ 'TEXT_NOM'|trans }} : {{ lastname }}</p>
                            <p>{{ 'TEXT_ADRESSE_ELECTRONIQUE'|trans }} : {{ email }}</p>
                            <p>{{ 'TEXT_IDENTIFIANT'|trans }} : {{ login }}</p>
                            <p>{{ 'DEFINE_TEXT_CORPS1_MESSAGE_CONFIRMATION_INSCRIT'|trans }} : {{ entrepriseName }}</p>
                            {% if validationRequired %}
                            <p>{{ 'MESSAGE_VALIDATION_COMPTE_INSCRIT_ENTREPRISE'|trans }}
                                <a style="color:{{ couleur_titre }};font-size:14px; font-family:Arial, Helvetica, sans-serif;" href="{{ absolute_url(path('entreprise_activate_inscrit', {'uid': uid })) }}" class="lien" target="_blank">ici</a>
                            </p>
                            {% endif %}
                            <p>{{ 'DEFINE_TEXT_CORPS2_MESSAGE_CONFIRMATION_INSCRIT'|trans }}</p>
                            <!-- /Texte CONTENU-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte FOOTER-->
                            <p style="padding-top:30px;">{{ 'CORDIALEMENT'|trans }},</p>
                            <p><em>{{ 'BAS_PAGE_MAIL'|trans }}</em></p>
                            <!-- /Texte FOOTER-->
                        </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
