<mjml>
    <mj-head>
        <mj-title>{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-table>
                    <tr>
                        <td>
                            <image src="{{ absolute_url(asset('themes/images/bandeau-email.jpg')) }}" alt='{{ plateforme }}' class='header' style='display: block; border: none;'></image>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ couleur_titre }}; text-align:left; line-height: 20px;">
                            <!-- Titre OBJET-->{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}<!-- /Titre OBJET-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte CONTENU-->
                            <p>{{ 'DEFINE_BONJOUR'|trans }} {{ firstname }} {{ lastname }},</p>
                            <p>{{ message }}</p>
                            <!-- /Texte CONTENU-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte FOOTER-->
                            <p style="padding-top:30px;">{{ 'CORDIALEMENT'|trans }},</p>
                            <p><em>{{ 'BAS_PAGE_MAIL'|trans }}</em></p>
                            <!-- /Texte FOOTER-->
                        </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
