<mjml>
    <mj-head>
        <mj-title>{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-table>
                    <tr>
                        <td>
                            <image src="{{ absolute_url(asset('themes/images/bandeau-email.jpg')) }}" alt='{{ plateforme }}' class='header' style='display: block; border: none;'></image>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ couleur_titre }}; text-align:left; line-height: 20px;">
                            <!-- Titre OBJET-->{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}<!-- /Titre OBJET-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte CONTENU-->
                            <p>{{ 'TEXT_ENTREPRISE'|trans }}:</p>
                            <p>{{ 'DEFINE_TEXT_CORPS1_MESSAGE_CONFIRMATION_INSCRIT'|trans }} : {{ entrepriseName }}</p>
                            <p>{{ 'TEXT_ADRESSE'|trans }} : {{ entrepriseAddress }}</p>
                            <p>{{ 'TEXT_VILLE'|trans }} : {{ entrepriseCity }}</p>
                            {% if entreprisePhone %}
                            <p>{{ 'TEXT_TEL'|trans }} : {{ entreprisePhone }}</p>
                            {% endif %}
                            {% if entrepriseCnss %}
                            <p>{{ 'TEXT_CNSS'|trans }} : {{ entrepriseCnss }}</p>
                            {% endif %}

                            <p>{{ 'DEFINE_UTILISATEUR_ADMINISTRATEUR'|trans }} :</p>
                            <p>{{ 'DEFINE_PRENOM'|trans }} : {{ firstname }}</p>
                            <p>{{ 'TEXT_NOM'|trans }} : {{ lastname }}</p>
                            <p>{{ 'TEXT_ADRESSE_ELECTRONIQUE'|trans }} : {{ email }}</p>
                            <p>{{ 'TEXT_IDENTIFIANT'|trans }} : {{ login }}</p>
                            {% if validationRequired %}
                            <p>{{ 'MESSAGE_VALIDATION_COMPTE_INSCRIT_ENTREPRISE'|trans }}
                                <a style="color:{{ couleur_titre }};font-size:14px; font-family:Arial, Helvetica, sans-serif;" href="{{ absolute_url(path('entreprise_activate_inscrit', {'uid': uid })) }}" class="lien" target="_blank">ici</a>
                            </p>
                            {% endif %}
                            <p>{{ 'TEXT_BAS_MAIL_COINFIRMATION_INSCRIT_01'|trans }}</p>
                            <p>{{ 'TEXT_BAS_MAIL_COINFIRMATION_INSCRIT_02'|trans }}</p>
                            <p>{{ 'DEFINE_NOM_PRENOM_DIRIGENT'|trans }}</p>
                            <p>{{ 'DEFINE_SIGNATURE_CACHET'|trans }}</p>
                            <!-- /Texte CONTENU-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte FOOTER-->
                            <p style="padding-top:30px;">{{ 'CORDIALEMENT'|trans }},</p>
                            <p><em>{{ 'BAS_PAGE_MAIL'|trans }}</em></p>
                            <!-- /Texte FOOTER-->
                        </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
