<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
    {{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}
  </title>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }
  </style>
  <!--[if mso]>
        <noscript>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        </noscript>
        <![endif]-->
  <!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
  </style>
  <!--<![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }
    }
  </style>
  <style media="screen and (min-width:480px)">
    .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
    }
  </style>
  <style type="text/css">
  </style>
</head>

<body style="word-spacing:normal;">
  <div style="">
    <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <table cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;border:none;">
                          <tr>
                            <td>
                              <image src="{{ absolute_url(asset('themes/images/bandeau-email.jpg')) }}" alt='{{ plateforme }}' class='header' style='display: block; border: none;'></image>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ couleur_titre }}; text-align:left; line-height: 20px;">
                              <!-- Titre OBJET-->{{ 'DEFINE_TITRE_MAIL_CREATION_COMPTE_UTILISATEUR'|trans }}<!-- /Titre OBJET-->
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <!-- Texte CONTENU-->
                              <p>{{ 'TEXT_ENTREPRISE'|trans }}:</p>
                              <p>{{ 'DEFINE_TEXT_CORPS1_MESSAGE_CONFIRMATION_INSCRIT'|trans }} : {{ entrepriseName }}</p>
                              <p>{{ 'TEXT_ADRESSE'|trans }} : {{ entrepriseAddress }}</p>
                              <p>{{ 'TEXT_VILLE'|trans }} : {{ entrepriseCity }}</p> {% if entreprisePhone %} <p>{{ 'TEXT_TEL'|trans }} : {{ entreprisePhone }}</p> {% endif %} {% if entrepriseCnss %} <p>{{ 'TEXT_CNSS'|trans }} : {{ entrepriseCnss }}</p> {% endif %} <p>{{ 'DEFINE_UTILISATEUR_ADMINISTRATEUR'|trans }} :</p>
                              <p>{{ 'DEFINE_PRENOM'|trans }} : {{ firstname }}</p>
                              <p>{{ 'TEXT_NOM'|trans }} : {{ lastname }}</p>
                              <p>{{ 'TEXT_ADRESSE_ELECTRONIQUE'|trans }} : {{ email }}</p>
                              <p>{{ 'TEXT_IDENTIFIANT'|trans }} : {{ login }}</p> {% if validationRequired %} <p>{{ 'MESSAGE_VALIDATION_COMPTE_INSCRIT_ENTREPRISE'|trans }}
                                <a style="color:{{ couleur_titre }};font-size:14px; font-family:Arial, Helvetica, sans-serif;" href="{{ absolute_url(path('entreprise_activate_inscrit', {'uid': uid })) }}" class="lien" target="_blank">ici</a>
                              </p> {% endif %} <p>{{ 'TEXT_BAS_MAIL_COINFIRMATION_INSCRIT_01'|trans }}</p>
                              <p>{{ 'TEXT_BAS_MAIL_COINFIRMATION_INSCRIT_02'|trans }}</p>
                              <p>{{ 'DEFINE_NOM_PRENOM_DIRIGENT'|trans }}</p>
                              <p>{{ 'DEFINE_SIGNATURE_CACHET'|trans }}</p>
                              <!-- /Texte CONTENU-->
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <!-- Texte FOOTER-->
                              <p style="padding-top:30px;">{{ 'CORDIALEMENT'|trans }},</p>
                              <p><em>{{ 'BAS_PAGE_MAIL'|trans }}</em></p>
                              <!-- /Texte FOOTER-->
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]-->
  </div>
</body>

</html>