<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ plateforme_achat_etat }} - {{ titre }}</title>
    <style type="text/css">
        /* Client-specific Styles */
        body, html { background:#efefef; text-align:center; }
        #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing. */
        #backgroundTable, .backgroundTable,{margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
        a img {border:none;}
        .image_fix {display:block;}
        p { margin: 0px 0px 10px !important;}
        table td {border-collapse: collapse;}
        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
        a {color: #2473B7;text-decoration:underline!important; line-height:normal;}
        a:hover { text-decoration:none !important; }
        .lien  { display:inline-block; line-height:13px; }
        .header { width:100%; margin:0; padding:0; }

        /*STYLES*/
        table[class=full] { width: 100%; clear: both; }
        /*IPAD STYLES*/
        @media only screen and (max-width: 640px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #0a8cce; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #0a8cce !important;
                pointer-events: auto;
                cursor: default;
            }
            table[class=devicewidth] {width: 440px!important;text-align:center!important;}
            table[class=devicewidthmob] {width: 420px!important;text-align:center!important;}
            table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
            img[class=banner] {width: 440px!important;height:157px!important;}
            /*img[class=col2img] {width: 440px!important;height:330px!important;}*/
            table[class="cols3inner"] {width: 100px!important;}
            table[class="col3img"] {width: 100%!important;}
            /*img[class="col3img"] {width: 131px!important;height: 82px!important;}*/
            table[class='removeMobile']{width:10px!important;}
            img[class="blog"] {width: 420px!important;height: 162px!important;}
            .center { text-align:center !important; padding:0 10px; }
            .col2img { margin-bottom:25px; }
            .devicewidth { height:0 !important; }
        }

        /*IPHONE STYLES*/
        @media only screen and (max-width: 480px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #0a8cce; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #0a8cce !important;
                pointer-events: auto;
                cursor: default;
            }
            table[class=devicewidth] {width: 280px!important;text-align:center!important;}
            table[class=devicewidthmob] {width: 260px!important;text-align:center!important;}
            table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
            img[class=banner] {width: 280px!important;height:100px!important;}
            /*img[class=col2img] {width: 280px!important;height:210px!important;}*/
            table[class="cols3inner"] {width: 260px!important;}
            /*img[class="col3img"] {width: 280px!important;height: 122px!important;}*/
            table[class="col3img"] {width: 280px!important;}
            img[class="blog"] {width: 260px!important;height: 100px!important;}
            td[class="padding-top-right15"]{padding:15px 15px 0 0 !important;}
            td[class="padding-right15"]{padding-right:15px !important;}
            .devicewidth { height:auto; }
            .puce { display:block; float:left; margin-bottom:20px !important; }
        }
    </style>
</head>
<body>
<!-- Start of header -->
<table width="100%" bgcolor="#efefef" cellpadding="0" cellspacing="0" border="0" class="backgroundTable" st-sortable="header">
    <tbody>
    <tr>
        <td>

            <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <!-- Spacing -->
                <tr>
                    <td height="20" bgcolor="#efefef" style="line-height:1px; mso-line-height-rule: exactly;"></td>
                </tr>
                <!-- Spacing -->
                <!-- HEADER -->
                <tr>
                    <td bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #2473B7;" align="center">{{ urlBandeauImage }}</td>
                </tr>
                <!-- end of HEADER -->
                <tr>
                    <td width="100%">
                        <table bgcolor="#ffffff" width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                            <!-- Spacing -->
                            <tr>
                                <td height="20" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                            </tr>
                            <!-- /Spacing -->
                            <tr>
                                <td>
                                    <table width="530" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidthinner">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: #2473B7; text-align:left; line-height: 20px;">
                                                <!-- Titre OBJET-->{{ titre }}<!-- /Titre OBJET-->
                                            </td>
                                        </tr>
                                        <!-- Spacing -->
                                        <tr>
                                            <td width="100%" height="20" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- /Spacing -->
                                        <!-- content -->
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px;">
                                                <!-- Texte CONTENU-->
                                                <p>{{ 'DEFINE_BONJOUR' | trans }},</p>
                                                <p>{{ corps_mail | raw }}</p>
                                                <!-- /Texte CONTENU-->
                                            </td>
                                        </tr>
                                        <!-- end of content -->
                                        <!-- content BLOC TABLEAU-->
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px; background:#edebeb;">
                                                <!-- Texte CONTENU-->
                                                <table cellpadding="5" cellspacing="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; line-height:normal;">
                                                    <tr>
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_TEXT_REFERENCE' | trans }} | {{ 'DEFINE_INTITULE' | trans }} :</strong></td>
                                                        <td valign="top">{{ consultation.getReferenceUtilisateur()|default('-') }} | {{ consultation.getIntitule()|default('-') }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="30%"><strong>{{ 'DEFINE_VOTRE_MOT_PASSE' | trans }} :</strong></td>
                                                        <td valign="top">{{ consultation.getPinApiSgmapMps()|default('-') }}</td>
                                                    </tr>
                                                    <tr bgcolor="#ffffff">
                                                        <td valign="top" width="30%"><strong>{{ 'MESSAGE_ACCES_LIEN_CONSULTATION_MPE' | trans }} :</strong></td>
                                                        <td valign="top"><a target=_blank href="{{ urlConsultation }}">{{ urlConsultation }}</a></td>
                                                    </tr>
                                                </table>
                                                <!-- /Texte CONTENU-->
                                            </td>
                                        </tr>
                                        <!-- end of content BLOC TABLEAU-->
                                        <!-- Spacing -->
                                        <tr>
                                            <td width="100%" height="20" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- content -->
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px;">
                                                <!-- Texte FOOTER-->
                                                <p style="font-size:11px;">{{ 'MESSAGE_FOOTER_MAIL_AGENT_PIN_SGMAP_MPS' | trans }}</p>
                                                <!-- /Texte FOOTER-->
                                            </td>
                                        </tr>
                                        <!-- end of content -->
                                        <!-- Spacing -->
                                        <tr>
                                            <td width="100%" height="20" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- content -->
                                        <tr>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #767676; text-align:left; line-height: 20px;">
                                                <!-- Texte FOOTER-->
                                                <p style="padding-top:30px;">{{ 'CORDIALEMENT' | trans  }},</p>
                                                <p><em>{{ signature_plateforme }}</em></p>
                                                <!-- /Texte FOOTER-->
                                            </td>
                                        </tr>
                                        <!-- end of content -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Spacing -->
                            <tr>
                                <td height="20" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                            </tr>
                            <!-- Spacing -->
                            <!-- Spacing -->
                            <tr>
                                <td height="5" bgcolor="#efefef" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                            </tr>
                            <!-- Spacing -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- Spacing -->
                <tr>
                    <td height="20" bgcolor="#efefef" style="line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                </tr>
                <!-- Spacing -->
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of Header -->
</body>
</html>