<mjml>
    <mj-include path="./mjml-parts/mj-head-simplifiee.mjml"/>
    <mj-body mj-class="default">
        <mj-wrapper>
            <mj-section>
                <mj-column>
                    <mj-include path="./mjml-parts/mj-logo.mjml"/>

                    <mj-text>
                        {{ 'DEFINE_TEXT_BONJOUR' | trans({}, "messages", local) }}
                    </mj-text>

                    <mj-text>
                        {{ 'DEFINE_TEXT_CONSULTATION_ATTENTE_VALIDATION' | trans({}, "messages", local) }}
                    </mj-text>

                    <mj-include path="./mjml-parts/mj-consultation-details-simplifiee.mjml"/>

                    <mj-include path="./mjml-parts/mj-signature-simplifiee.mjml"/>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
