<mjml>
    <mj-head>
        <mj-title>{{ 'RECOVER_FORGOTEN_PASSWORD'|trans }}</mj-title>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-table>
                    <tr>
                        <td>
                            <image src="{{ absolute_url(asset('themes/images/bandeau-email.jpg')) }}" alt='{{ plateforme }}' class='header' style='display: block; border: none;'></image>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ couleur_titre }}; text-align:left; line-height: 20px;">
                            <!-- Titre OBJET-->{{ 'DEMANDE_RE_INITIALISER_MOT_PASSE'|trans }}<!-- /Titre OBJET-->
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte CONTENU-->
                            <p>{{ 'DEFINE_TEXT_BONJOUR'|trans }}</p>
                            <p>{{ 'DEMANDE_MODIFICATION_PSW_FAITE'|trans }}</p>
                            <p>{{ 'LIEN_CI_DESSOUS_POUR_RENSEIGNER_PSW'|trans }}</p>
                            <!-- /Texte CONTENU-->
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <a style="color:{{ couleur_titre }};font-size:14px; font-family:Arial, Helvetica, sans-serif;" href="{{ absolute_url(path('atexo_reset_password', {'token': jeton, 'calledFrom': user})) }}" class="lien" target="_blank" title="{{ 'RE_INITIALISER_MON_PSW'|trans }}">
                                {{ 'RE_INITIALISER_MON_PSW'|trans }}<span style="color:{{ couleur_titre }}">&nbsp;&nbsp; > </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                            <!-- Texte FOOTER-->
                            <p class="small" style="font-size:12px;">{{ 'VALIDITE_DU_LIEN'|trans }} {{ validateToken }}{{ 'ABBR_HEURE_MAJUSCULE'|trans }}.</p>
                            <p style="padding-top:30px;">{{ 'RAPPEL_IDENTIFIANT'|trans }}{{ login }}</p>
                            <p style="padding-top:30px;">{{ 'CORDIALEMENT'|trans }},</p>
                            <p><em>{{ 'BAS_PAGE_MAIL'|trans }}</em></p>
                            <!-- /Texte FOOTER-->
                        </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
