<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>
    {{ 'RECOVER_FORGOTEN_PASSWORD'|trans }}
  </title>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }

  </style>
  <!--[if mso]>
    <noscript>
    <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    </noscript>
    <![endif]-->
  <!--[if lte mso 11]>
    <style type="text/css">
      .mj-outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

  </style>
  <!--<![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }
    }

  </style>
  <style media="screen and (min-width:480px)">
    .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
    }

  </style>
  <style type="text/css">
  </style>
  <style type="text/css">
  </style>
</head>

<body style="word-spacing:normal;">
  <div style="">
    <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" role="presentation" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="margin:0px auto;max-width:600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <table cellpadding="0" cellspacing="0" width="100%" border="0" style="color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;border:none;">
                          <tr>
                            <td>
                              <image src="{{ absolute_url(asset('themes/images/bandeau-email.jpg')) }}" alt='{{ plateforme }}' class='header' style='display: block; border: none;'></image>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 18px; color: {{ couleur_titre }}; text-align:left; line-height: 20px;">
                              <!-- Titre OBJET-->{{ 'DEMANDE_RE_INITIALISER_MOT_PASSE'|trans }}<!-- /Titre OBJET-->
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <!-- Texte CONTENU-->
                              <p>{{ 'DEFINE_TEXT_BONJOUR'|trans }}</p>
                              <p>{{ 'DEMANDE_MODIFICATION_PSW_FAITE'|trans }}</p>
                              <p>{{ 'LIEN_CI_DESSOUS_POUR_RENSEIGNER_PSW'|trans }}</p>
                              <!-- /Texte CONTENU-->
                            </td>
                          </tr>
                          <tr>
                            <td valign="top">
                              <a style="color:{{ couleur_titre }};font-size:14px; font-family:Arial, Helvetica, sans-serif;" href="{{ absolute_url(path('atexo_reset_password', {'token': jeton, 'calledFrom': user})) }}" class="lien" target="_blank" title="{{ 'RE_INITIALISER_MON_PSW'|trans }}">
                                {{ 'RE_INITIALISER_MON_PSW'|trans }}<span style="color:{{ couleur_titre }}">&nbsp;&nbsp; > </span>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-size: 14px; color: #767676; text-align:left; line-height: 20px;">
                              <!-- Texte FOOTER-->
                              <p class="small" style="font-size:12px;">{{ 'VALIDITE_DU_LIEN'|trans }} {{ validateToken }}{{ 'ABBR_HEURE_MAJUSCULE'|trans }}.</p>
                              <p style="padding-top:30px;">{{ 'RAPPEL_IDENTIFIANT'|trans }}{{ login }}</p>
                              <p style="padding-top:30px;">{{ 'CORDIALEMENT'|trans }},</p>
                              <p><em>{{ 'BAS_PAGE_MAIL'|trans }}</em></p>
                              <!-- /Texte FOOTER-->
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]-->
  </div>
</body>

</html>
