#bloc-loader {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 9999999;
    text-align: center;
    opacity: 0.7;
    display: none;
}

#bloc-loader .loader {
    background: #767676 no-repeat center 10px;
    width: 120px;
    opacity: 1;
    position: relative;
    top: 30%;
    color: #fff;
    left: 50%;
    margin-left: -60px;
    padding: 50px 0 10px;
}

#bloc-loader i {
    font-size: 2.5em;
    display: block;
    margin-bottom: 20px;
}
