<template>
  <div id="app" style="text-align: left;">
    <div class="panel panel-default" v-if="selectedSupports.length > 0">

      <div class="bloc-message form-bloc-conf msg-info" role="alert"
           v-if="(translator.get('NOUS_VOUS_RAPPELONS_QUE').length > 0)&&(selectedSupports.length > 0)&&
         (translator.get('NOUS_VOUS_RAPPELONS_QUE')!= 'NOUS_VOUS_RAPPELONS_QUE')">
        <b v-translate:NOUS_VOUS_RAPPELONS_QUE></b>
        <span v-translate:RAPPEL_LES_ECHOS></span>
      </div>

      <loader v-if="loaded === false"></loader>

      <div v-if="selectedSupports.length > 0">
        <br>
        <b style="margin-top: 20px" v-translate:NOM_COMPTE_PUB></b>
        <div style="width: 100%; text-align: center">
          <div class="spinner-border text-warning" role="status"
               v-if="!(supportsFiltered.length > 0)"></div>
        </div>
        <br>
        <table class="table">
          <tbody>
          <tr :key="idx" v-for="(annonce, idx) in selectedSupports">
            <td :class="{'noBorder': 0 === idx}"><img alt=""
                                                      :src="'/concentrateur-annonces/' + image.get(annonce.support.code)">
            </td>
            <td :class="{'noBorder': 0 === idx}" class="middle"><b>Type d'avis: </b>
              <span>
                  <span> {{ annonce.offre.libelle }}</span>

                </span>
            </td>
            <td>
              <div style="text-align: right" id="buttonDlrecap">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        @click="downloadPdf('buttonDlrecap', annonce)">
                  <font-awesome-icon :icon="faBookOpen"/>
                  <span v-translate:PREVISUALISEZ_AVIS_PUB></span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <div class="panel panel-default with-bg top-panel" v-if="(displayEnvoiValidation.length === 0)">
          <br>
          <div v-translate:AUCUN_SUPPORT_SELECTIONNE class="panel-body"></div>
          <br>
        </div>
      </div>

      <div v-if="(displayEnvoiValidation.length > 0)&&(selectedSupports.length > 0)">
        <span v-translate:EXPLICATION_PUBLICITE_AVIS_BOAMP_VALIDER_CONSULTATION></span>

        <div class="checkbox">
          <label>
            <input @change="changeEnvoiValidation()" type="checkbox" style="margin-right: 10px" checked>
            <b v-translate:ENVOI_PUBLICITE_SIMPLIFIER_APRES_VALIDATION_CONSULTATION></b>
          </label>
        </div>
        <br>
        <span v-translate:EXPLICATION_PUBLICITE_SIMPLIFIER_VALIDER_CONSULTATION></span>
        <br>

      </div>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
import {faBookOpen} from '@fortawesome/free-solid-svg-icons/faBookOpen'

import WebserviceConcentrateur from "../utils/WebserviceConcentrateurV1"
import Translate from "../utils/Translate"
import Image from "../utils/Image"
import Download from "../utils/Download"
import loader from "./loader"

export default {
  directives: {
    translate: {
      inserted: function (el, binding, vnode) {
        el.innerHTML = vnode.context.translator.get(binding.arg)
      }
    }
  },
  name: "App",
  config: {
    productionTip: false,
    devtools: false
  },
  components: {
    FontAwesomeIcon,
    loader
  },
  props: {
    accessToken: String,
    idConsultation: {
      type: String,
      default: ""
    },
    xmlAnnonce: String,
    plateforme: {
      type: String,
      default: "mpe"
    },
    urlApi: {
      type: String,
      default: "/concentrateur-annonces"
    },
    endpointAnnonces: {
      type: String,
      default: "/rest/v2/annonces"
    },
    endpointSupports: {
      type: String,
      default: "/rest/v2/supports"
    },
    endpointToken: {
      type: String,
      default: "/rest/v2/oauth/token"
    },
    basicToken: {
      type: String,
      default: ""
    },
    traductions: {
      type: String,
      default: "{}"
    },
    isEnvoiValidation: {
      type: String,
      default: ''
    },
    isMolSelected: {
      type: String,
      default: ''
    },
    referenceUtilisateur: {
      type: String,
      default: "{}"
    }
  },
  data: function () {
    return {
      refConsultation: this.reference,
      publicites: [],
      supports: [],
      selectedSupports: [],
      supportsFiltered: [],
      supportsMerged: [],
      selectionnezSupport: null,
      optionsMerged: [],
      checked: [],
      checkedSupport: [],
      annonces: [],
      selectedOffres: [],
      faBookOpen: faBookOpen,
      webservice: null,
      trad: JSON.parse(this.traductions.replace(/liste-actions/g, "")),
      translator: new Translate(this.traductions),
      image: new Image(),
      displayEnvoiValidation: this.isEnvoiValidation,
      envoiValidation: true,
      loaded: false,
      isMol: false,
      download: new Download(),
      idPlateform: this.plateforme
    };
  },
  mounted() {
    var self = this;

    this.setEnvoiValidation();


    this.webservice = new WebserviceConcentrateur(
        this.idConsultation,
        this.urlApi,
        this.accessToken,
        this.endpointSupports,
        this.endpointAnnonces,
        this.endpointToken,
        this.basicToken,
        this.plateforme
    );
    this.webservice.init(null, true, true, true).then(
        data => {
          data.supports.forEach(function (support) {

            if (data.annonces) {
              data.annonces.forEach(function (annonce) {
                support.offres.forEach(function (offre, index) {
                  if (offre.code === annonce.offre.code) {
                    support.offres[index].checked = true;
                    if (true === support.external) {
                      self.isMol = true;
                    }
                    if (window.document.getElementById(self.isMolSelected)) {
                      window.document.getElementById(self.isMolSelected).value = self.isMol;
                    }
                    if (support.codeGroupe === 'BOAMPJOUE') {
                      self.supportsMerged.push(annonce)
                    } else {
                      self.supportsFiltered.push(annonce)
                    }
                    support.checkedOffre = annonce.offre.code
                  }
                })
              });
              self.selectedSupports = self.supportsMerged.concat(self.supportsFiltered);
              self.loaded = true
            }
          })
        }
    )
  },
  methods: {
    changeEnvoiValidation() {
      this.envoiValidation = !this.envoiValidation;
      this.setEnvoiValidation()
    },
    setEnvoiValidation() {
      if (window.document.getElementById(this.displayEnvoiValidation)) {
        window.document.getElementById(this.displayEnvoiValidation).value = this.envoiValidation + '';
      }
    },
    downloadPdf(target, annonce) {
      console.log(annonce)
      this.download.pdf(this.idConsultation, this.xmlAnnonce, this.webservice, this.referenceUtilisateur, false, target, annonce);
    }
  }
}
</script>

<style type="scss" scoped>
table {
  border-spacing: 0;
}

.noBorder {
  border-top: 0 solid;
}

td {
  height: 45px
}

.container {
  width: 100%;
  text-align: right;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin: 0px;
}
</style>
