<template>
  <div id="app" class="w-100">
    <div class="basket p-3 mb-2 row-field primary-client-bg">
      <div @click="changeExtended()" class="d-flex justify-content-between cursor-pointer">
        <div class="mr-3 select-container text-left w-100">
          <h5 class="text-white font-weight-bold">{{ titre }} </h5>
        </div>
        <font-awesome-icon v-if="annoncesBasket.length > 0" class=" basket-trash mb-1 ml-1 text-white"
                           :icon="expanded?faChevronUp:faChevronDown"/>
      </div>
      <div v-if="annoncesBasket.length === 0" class="no-support">
        <font-awesome-icon class=" basket-trash mr-2 text-white"
                           :icon="faInfo"/>
        Aucun support n'a été choisi. <span v-if="!demandeValidation" class="cursor-pointer filtre-annonce"
                                            @click="goToFiltre()">Choix des supports ci-dessous.</span>
      </div>
      <div v-if="expanded && annoncesBasket.length > 0">
        <div :key="id" v-for="(annonce, id) in annoncesBasket">
          <annonce :annonce="annonce" :id-mpe-bloc-mol="idMpeBlocMol"
                   :loading-annonce="loadingAnnonce"
                   :loading-edit-annonce="loadingEditAnnonce"
                   :loading-init-annonce="loadingInitAnnonce"
                   :show-label-external="showLabelExternal" :statut="statut"
                   :token="token"
                   :demandeValidation="demandeValidation"
                   :configuration="configuration"
                   :translator="translator"
                   @reprendre-annonce="$emit('reprendre-annonce',$event)"
                   @changer-annonce="$emit('changer-annonce',$event)"
                   @stop-annonce="$emit('stop-annonce',$event)"
                   @envoi-annonce="$emit('envoi-annonce',$event)"
                   @download-annonce-pdf="$emit('download-annonce-pdf',$event)"
                   @edit-annonce-document="$emit('edit-annonce-document',$event)"
                   @reinit-annonce-document="$emit('reinit-annonce-document',$event)"
                   @ajout-acheteur="$emit('ajout-acheteur',$event)"
                   @update-offre="$emit('update-offre',$event)"
                   @open-iframe="$emit('open-iframe',$event)"
                   @change-simplife="$emit('change-simplife',$event)"
                   @delete-offre="$emit('delete-offre',$event)"></annonce>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
"use strict";
import 'es6-promise/auto'
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
import {faTrashAlt} from '@fortawesome/free-solid-svg-icons/faTrashAlt'
import {faSpinner} from '@fortawesome/free-solid-svg-icons/faSpinner'
import {faChevronDown} from '@fortawesome/free-solid-svg-icons/faChevronDown'
import {faChevronUp} from '@fortawesome/free-solid-svg-icons/faChevronUp'
import {faInfo} from '@fortawesome/free-solid-svg-icons/faInfo'
import Image from "@/utils/Image";
import Statut from "@/utils/Statut";
import {faClock} from "@fortawesome/free-solid-svg-icons/faClock";
import {faPaperPlane} from "@fortawesome/free-solid-svg-icons/faPaperPlane";
import {faDownload} from "@fortawesome/free-solid-svg-icons/faDownload";
import Annonce from "../components/Annonce.vue"

export default {
  filters: {
    currency(value) {
      if (typeof value !== "number") {
        return value;
      }
      var formatter = new Intl.NumberFormat('fr-FR', {
        style: 'currency',
        currency: 'EUR'
      });
      return formatter.format(value);
    }
  },
  directives: {
    translate: {
      inserted: function (el, binding, vnode) {
        let translator = vnode.context.translator;
        el.innerHTML = translator ? translator.get(binding.arg) : binding.arg;
      }
    }
  },
  name: "BucketAnnonces",
  components: {
    FontAwesomeIcon,
    Annonce
  },
  props: {
    showLabelExternal: {type: Boolean, default: true},
    token: String,
    annoncesBasket: Array,
    titre: String,
    idMpeBlocMol: {
      type: String,
      default: "ctl0_CONTENU_PAGE_blocPubliciteMol"
    },
    demandeValidation: {
      type: Boolean,
      default: false
    },
    loadingAnnonce: Map,
    loadingEditAnnonce: Map,
    loadingInitAnnonce: Map,
    configuration: Object,
    translator: Object,
    statut: Object,
  },
  data: function () {
    return {
      image: new Image(),
      expanded: true,
      faTrashAlt: faTrashAlt,
      faChevronUp: faChevronUp,
      faInfo: faInfo,
      faChevronDown: faChevronDown,
      faClock: faClock,
      faPaperPlane: faPaperPlane,
      faSpinner: faSpinner,
      faDownload: faDownload,
      St: Statut,

    };
  },
  methods: {
    goToFiltre() {
      const element = document.getElementById("concentrateur-formulaire-id");
      element.scrollIntoView({
        behavior: 'smooth',
        block: "start"
      });
    },
    changeExtended() {
      if (this.annoncesBasket.length > 0) {
        this.expanded = !this.expanded
      }
    },
    changeSimplifie(annonce) {
      this.$emit('update-offre', annonce)
    }, updateOffre(annonce) {
      this.$emit('update-offre', annonce)
    },
    removeFromBasket(e, annonce) {
      e.preventDefault();
      this.$emit('delete-offre', annonce)
    },
    prev: function (event) {
      // now we have access to the native event
      if (event) {
        event.preventDefault()
      }
    },
    openMOL(e) {
      e.preventDefault();
      let request = {compte: this.annonce.acheteur, configuration: this.configuration};
      this.$emit('open-iframe', request);
    },
    goToMolIframe() {
      let element = document.getElementById(this.idMpeBlocMol)
      if (element) element.scrollIntoView({behavior: 'smooth', block: 'start'})
      else {
        element = document.getElementById("concentrateur-formulaire-id")
        element.scrollIntoView({behavior: 'smooth', block: "end"})
      }
    },


  }
}
</script>

<style lang="scss" scoped>
@import '~bootstrap/scss/bootstrap';
@import '../assets/main';


.custom-select {
  width: 100%;
  color: $brand-primary;
}

.custom-switch {
  padding: 4px 0 0 52px;
}

.form-control {
  width: 390px;
}

.btn-sm {
  width: 30px;
  margin: 4px
}

.basket {
  background: linear-gradient(lighten($brand-primary, 14%), $brand-primary);
  border-radius: 7px;

  &-trash {
    color: $brand-primary;
    font-size: 1.4em;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}


h5 {
  font-size: large;
  font-weight: 600;
}

.card {
  box-shadow: 0 2px 2px #d7d7d7, 0 2px 2px #e7e7e7;
}

img {
  margin-right: 10px;
}

.chosen-container .chosen-results li.highlighted {
  background-color: $brand-primary;
  border-color: $brand-primary;
  background-image: linear-gradient($brand-primary 80%, $brand-primary 80%);
  color: #fff;
}

.custom-control-label {
  font-size: medium;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $brand-primary;
}

label {
  padding-top: 5px;
}

// PDF Img Section
.pdf-img {
  max-width: 25px;
  transition: box-shadow 200ms;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 1px 1px 4px;
  }
}

.text-pdf-title {
  font-size: medium;
  opacity: 0.6;
  color: lighten($brand-primary, 8%);
}

.web-parent .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #6286b6;
  background-color: #6286b6;
}

a {
  color: #666666
}

h5 {
  padding-left: 0px;
  color: #3e3e3e
}

.journal-description, .journal-description > span > a {
  font-size: small;
  color: #9a9a9a;
}

.lbl {
  position: relative;
  display: block;
  height: 14px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -6px;
  top: -4px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: #e4e4e4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
}

.cbx:checked ~ label {
  background: lightgrey
}

.cbx:checked ~ label:after {
  left: 24px;
  background: $brand-primary;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after {
  background: #bcbdbc;
}

.hidden {
  display: none;
}

input[type=checkbox]:focus + label::before,
input[type=radio]:focus + label::before {
  outline: none;
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: darkgrey;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: darkgrey;
}

.chosen-results {
  height: 200px;
}

.select-container {
  text-align: left !important;
}

.select-container {
  ::v-deep .chosen-container .chosen-results li.highlighted {
    background-color: $brand-primary;
    background-image: linear-gradient($brand-primary 20%, $brand-primary 90%);
    color: #fff;
  }

  ::v-deep .chosen-container-multi .chosen-choices li.search-choice {
    background-image: linear-gradient($brand-primary 20%, $brand-primary 50%, $brand-primary 52%, $brand-primary 100%);
    border: none;
    border-radius: 8px;
    color: white;
  }

  .chosen-container-multi {
    margin-top: 0px !important;
  }

  ::v-deep .multiselect__tag {
    border-radius: 12px;
    background-color: $brand-primary;

    &-icon:hover {
      background-color: darken($brand-primary, 6%);
    }
  }

  ::v-deep .multiselect__tag-icon:after {
    color: white;
  }

  ::v-deep .multiselect__option--highlight,
  ::v-deep .multiselect__option--highlight:after {
    background: $brand-primary;
  }

  ::v-deep .multiselect__tags .multiselect__tag:first-child {
    border: none;
  }

  ::v-deep .multiselect__tags .multiselect__tag:first-child::before {
    content: '';
    width: 0px;
  }

  ::v-deep .multiselect__tag {
    border: none;
    color: white;
    font-size: small;
    margin: 0 3px 2px 0;
  }

  ::v-deep .multiselect__option:after {
    line-height: 25px;
    background: $brand-primary;
    font-size: 12px;
  }
}

.lds-spinner {
  color: white;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: white;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.grey-light {
  color: #918e8e;
  font-size: 1rem;
}

.row-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $brand-primary;
}

.no-support {
  background: transparent;
  padding: 1rem;
  text-align: left;
  font-style: italic;
  font-size: medium;
  border-top: 1px white solid;
  color: white;
}

.filtre-annonce {
  text-decoration: underline;
  font-style: italic;
}
</style>
