<template>
  <dashboard-annonce
      :xml-annonce="xmlAnnonce"
      :envoi="envoi"
      :plateforme="plateforme"
      :basic-token="basicToken"
      :id-consultation="idConsultation"
      :urlApi="urlApi"
      :montant="montant"
      :contexte="contexte"
      :eu="europeen"
      :dmls="dmls"
      :departements="departements"
      :id-mpe-bloc-mol="idMpeBlocMol"
      :access-token="accessToken"
      :endpoint-annonces="endpointAnnonces"
      :endpoint-supports="endpointSupports"
      :endpoint-token="endpointToken"
      :endpoint-agents="endpointAgents"
      :endpoint-contextes="endpointContextes"
      :endpoint-suivis="endpointSuivis"
      :reference-utilisateur="referenceUtilisateur"
      :translator="translator"
      :facturationList="facturationList"
      :jalList="jalList"
      :blocList="blocList"
      :url-api="urlApi"
      :show-label-external="false"
      :expanded-filtre="true"
  ></dashboard-annonce>
</template>

<script>
"use strict";
import 'es6-promise/auto'
import DashboardAnnonce from "../components/DashboardAnnonce.vue"
import Translate from "@/utils/Translate";
import {Base64} from 'js-base64';

export default {
  name: "App",
  components: {
    DashboardAnnonce
  },
  props: {
    idMpeBlocMol: {
      type: String,
      default: "ctl0_CONTENU_PAGE_blocPubliciteMol"
    },
    accessToken: String,
    idConsultation: {
      type: String,
      default: ""
    },
    contexte: String,
    xmlAnnonce: String,
    envoi: String,
    plateforme: {
      type: String,
      default: ""
    },
    urlApi: {
      type: String,
      default: "/concentrateur-annonces"
    },
    endpointAnnonces: {
      type: String,
      default: "/rest/v2/annonces"
    },
    endpointSupports: {
      type: String,
      default: "/rest/v2/supports"
    },
    endpointToken: {
      type: String,
      default: "/rest/v2/oauth/token"
    },
    endpointContextes: {
      type: String,
      default: "/rest/v2/contextes"
    }, endpointAgents: {
      type: String,
      default: "/rest/v2/agents"
    },
    endpointSuivis: {
      type: String,
      default: "/rest/v2/suivis"
    },
    basicToken: {
      type: String,
      default: ""
    }, configPub: {
      type: String,
      default: null
    },
    externalLink: {
      type: String,
      default: ""
    },
    traductions: {
      type: String,
      default: "{}"
    },
    facturations: {
      type: String,
      default: "W10="
    }, jals: {
      type: String,
      default: "W10="
    },
    departements: {
      type: String,
      default: "[]"
    },
    referenceUtilisateur: {
      type: String,
      default: "{}"
    },
    montant: {
      type: String,
      default: "0"
    },
    eu: {
      type: String,
      default: null
    },
    dmls: {
      type: String,
      default: null
    }
  },
  data: function () {
    return {
      europeen: undefined,
      translator: new Translate(this.traductions),
      facturationList: [],
      blocList: null,
      jalList: []
    };
  },
  created() {
    if (this.eu !== undefined && this.eu !== null) {
      this.europeen = this.eu === '1' || this.eu === 'true';
    }
    if (this.configPub) {
      let config = JSON.parse(this.configPub);
      if (config) {
        this.blocList = config;
      }
    }
    if (this.facturations) {
      console.log("facturations", this.facturations)
      let text = Base64.decode(this.facturations);
      let facturationList = JSON.parse(text);
      if (facturationList) {
        this.facturationList = facturationList.map(item => {
          return {
            "address": item.address,
            "sip": item.sip === "true",
            "email": item.email
          }
        })
      } else {
        this.facturationList = [];
        console.error("Parsing non valide pour facturations", this.facturations)
      }

    }
    if (this.jals) {
      console.log("jals", this.jals)
      let text = Base64.decode(this.jals);
      let list = JSON.parse(text);
      if (list) {
        this.jalList = list;
      } else {
        this.jalList = [];
        console.error("Parsing non valide pour jals", this.jalList)
      }
    }
  }
}
</script>


<style>
</style>
