<template>
  <div id="app" class="w-100" v-if="!initialized">
    <div class="lds-dual-ring"></div>
  </div>
  <div id="app" class="w-100" v-else>
    <div v-if="errorMsg && tokenValid" class="alert-token-expire">
      {{ errorMsg }}
    </div>
    <div v-if="!tokenValid" class="alert-token-expire">
      <font-awesome-icon class=" basket-trash primary-client mr-2"
                         :icon="faBan"/>
      Votre session a expiré. Pour rafraîchir votre token, <a class="font-italic cursor-pointer"
                                                              @click="reload()">veuillez
      rafraîchir la page</a>.
    </div>
    <div v-if="tokenWarning && tokenValid" class="alert-token-warning">
      <font-awesome-icon class=" basket-trash primary-client mr-2"
                         :icon="faInfo"/>
      Il vous reste {{ minutes }} minutes avant l'expiration de votre session. Pour rafraîchir votre token, <a
        class="font-italic cursor-pointer" @click="reload()">veuillez rafraîchir la page</a>.
    </div>
    <br/>
    <div v-if="configuration && tokenValid && !configuration.groupement" id="concentrateur-formulaire-id">
      <div v-for="(codeGroupe, index) in groupedBuckets" :key="index">
        <bucket-annonces
            :annoncesBasket="getList(codeGroupe)" :statut="statut"
            :demandeValidation="demandeValidation"
            :translator="translator"
            :facturationList="facturationList"
            :id-mpe-bloc-mol="idMpeBlocMol"
            :titre="getTitre(codeGroupe)"
            :show-label-external="showLabelExternal"
            :configuration="configuration"
            :loading-annonce="loadingAnnonce"
            :loading-edit-annonce="loadingEditAnnonce"
            :loading-init-annonce="loadingInitAnnonce"
            :token="tokenWc"
            @update-offre="updateOffre($event)"
            @download-annonce-pdf="dlAnnoncePdf($event)"
            @edit-annonce-document="editAnnonceDocument($event)"
            @reinit-annonce-document="reinitAnnonceDocument($event)"
            @envoi-annonce="envoyerAnnonce($event)"
            @delete-offre="removeFromBasket($event)"
            @ajout-acheteur="ajoutAcheteur($event)"
            @open-iframe="openCompte($event)"
            @change-simplife="updateSimplifie($event)"
            @reprendre-annonce="reprendre($event)"
            @changer-annonce="change($event)"
            @stop-annonce="stop($event)"
        ></bucket-annonces>
      </div>

      <filtre-support v-if="!demandeValidation && showSupportsFilter"
                      :translator="translator" :checked-filter="checkedFilterAS" :image="image"
                      :value="value"
                      :supports="supportsFiltered"
                      :options="options"
                      :loading="loading"
                      :id-mpe-bloc-mol="idMpeBlocMol"
                      :plateforme="plateforme"
                      :configuration="configuration"
                      :eu="eu"
                      :expanded="expandedFiltre"
                      :show-label-external="showLabelExternal"
                      @add-support="checkPubSelect($event.support,$event.offre, $event.compte)"
                      @download-pdf="dlPdf($event)"
                      @filtre-support="checkedFilterAS=$event;filter()"
                      @dispatch-action="dispatchAction($event)"
                      @remove-action="removeAction($event)"
      ></filtre-support>
    </div>
    <div v-else-if="tokenValid && wcInitialized">
      <atx-eforms v-bind:token="tokenWc"
                  v-bind:lang="'fr'"
                  v-bind:organisme="configuration && configuration.contexte && configuration.contexte.organismeAgent && configuration.contexte.organismeAgent.acronyme ?configuration.contexte.organismeAgent.acronyme : 'none'"
                  v-bind:plateforme="idPlateform"
                  v-bind:page="'agent/annonces/'+idConsultation+'/gestion'"

      ></atx-eforms>
    </div>
  </div>
</template>

<script>
import 'es6-promise/auto'
import WebserviceConcentrateur from "../utils/WebserviceConcentrateur"
import Image from "../utils/Image"
import date from 'date-and-time';
import Download from "../utils/Download"
import JwtUtils from "../utils/jwt.utils"
import Statut from "../utils/Statut"
import Departements from "@/utils/Departements";
import BucketAnnonces from "@/components/BucketAnnonce";
import FiltreSupport from "@/components/FiltreSupport";
import {faBan} from "@fortawesome/free-solid-svg-icons/faBan";
import {faInfo} from "@fortawesome/free-solid-svg-icons/faInfo";
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {faCheck} from '@fortawesome/free-solid-svg-icons/faCheck';
import {faSpinner} from '@fortawesome/free-solid-svg-icons/faSpinner';
import {faExclamationCircle} from "@fortawesome/free-solid-svg-icons/faExclamationCircle";

export default {
  directives: {
    translate: {
      inserted: function (el, binding, vnode) {
        el.innerHTML = vnode.context.translator.get(binding.arg)
      }
    }
  },
  name: "DashboardAnnonce",
  components: {
    BucketAnnonces,
    FiltreSupport,
    FontAwesomeIcon
  },
  props: {
    expandedFiltre: {type: Boolean, default: true},
    showLabelExternal: {type: Boolean, default: true},
    idMpeBlocMol: {
      type: String,
      default: "ctl0_CONTENU_PAGE_blocPubliciteMol"
    },
    accessToken: String,
    idConsultation: String,
    contexte: String,
    xmlAnnonce: String,
    envoi: String,
    plateforme: {
      type: String,
      default: "mpe"
    },
    urlApi: {
      type: String,
      default: "/concentrateur-annonces"
    },
    endpointAnnonces: {
      type: String,
      default: "/rest/v2/annonces"
    },
    endpointSupports: {
      type: String,
      default: "/rest/v2/supports"
    },
    endpointToken: {
      type: String,
      default: "/rest/v2/oauth/token"
    },
    basicToken: {
      type: String,
      default: ""
    },
    endpointContextes: {
      type: String,
      default: "/rest/v2/contextes"
    }, endpointAgents: {
      type: String,
      default: "/rest/v2/agents"
    },
    endpointSuivis: {
      type: String,
      default: "/rest/v2/suivis"
    },

    departements: {
      type: String,
      default: "{}"
    },
    urlHistorique: {
      type: String,
      default: ""
    },
    referenceUtilisateur: {
      type: String,
      default: "suivi"
    },
    montant: {
      type: String,
      default: "0"
    }, facturationList: {
      type: Array,
      default: () => []
    },
    jalList: {
      type: Array,
      default: () => []
    },
    blocList: {
      type: Array,
      default: () => []
    },
    eu: {
      type: Boolean,
      default: null
    },
    dmls: {
      type: String,
      default: null
    },
    statut: Object,
    translator: Object

  },
  data: function () {
    return {
      faBan: faBan,
      faInfo: faInfo,
      tokenWc: null,
      tokenValid: true,
      initialized: false,
      tokenWarning: false,
      wcInitialized: false,
      minutes: 0,
      loadingAnnonce: new Map(),
      loadingEditAnnonce: new Map(),
      loadingInitAnnonce: new Map(),
      expanded: true,
      expandedBOAMP: true,
      expandedCHOIX: false,
      loading: false,
      value: [],
      interval: null,
      intervalToken: null,
      styleElement: null,
      jsElement: null,
      showFacturation: false,
      showSupportsFilter: false,
      demandeValidation: false,
      loadingValidation: false,
      dateMiseEnLigne: null,
      faCheck: faCheck,
      faSpinner: faSpinner,
      options: [],
      checkedFilterAS: ["JAL", "PQR", 'NATIONAL'],
      departementsList: new Departements(),
      supportsFiltered: [],
      allSupport: [],
      departementsChosen: [],
      groupedBuckets: [],
      webservice: null,
      client: null,
      configuration: {europeen: false, national: true, jal: true, pqr: true, departements: []},
      image: new Image(),
      download: new Download(),
      St: Statut,
      idPlateform: this.plateforme,
      show: true,
      selectedOffres: [],
      error: '',
      errorMsg: '',
      heartbeat: null,
      annonces: []
    };
  },
  watch: {
    configuration(newVal) {
      if (newVal != null && ((newVal.europeen && newVal.eformsModal) || newVal.groupement)) {
        this.initEforms()
      }
    }
  },
  created() {
    this.webservice = new WebserviceConcentrateur(
        this.idConsultation,
        this.urlApi,
        this.accessToken,
        this.endpointSupports,
        this.endpointAnnonces,
        this.endpointContextes,
        this.endpointSuivis,
        this.endpointToken,
        this.basicToken,
        this.plateforme,
        this.dmls,
        this.eu,
        this.jalList,
        this.blocList,
        this.envoi,
        this.facturationList,
        this.endpointAgents
    );
    this.webservice.getFiltre(this.xmlAnnonce).then((self) => {
      this.initialized = true;
      this.tokenWc = self.token;
      this.intervalToken = setInterval(() => {
        const decodedToken = JwtUtils.parseJwt(this.tokenWc);
        if (decodedToken) {
          const exp = decodedToken.exp;
          this.tokenValid = JwtUtils.checkTokenValidity(exp)
          this.tokenWarning = JwtUtils.checkTokenWarning(exp)
          if (!this.tokenValid) {
            clearInterval(this.intervalToken);
            this.intervalToken = null;

            clearInterval(this.interval);
            this.interval = null;
          }
          if (this.tokenWarning) {
            this.minutes = JwtUtils.getDateRestant(exp).getMinutes();
          }
        }
      }, 60000)
      const filter = self.filtre;

      this.configuration = self.configuration;
      this.webservice.getSupportsCodeGroup().then(codeGroup => {
        this.groupedBuckets = codeGroup;
      });

      this.webservice.getAllSupports().then(codeGroup => {
        this.allSupport = codeGroup;
      });
      if (!this.configuration.groupement) {
        this.checkedFilterAS = [];
        this.interval = setInterval(() => {
          this.filter()
        }, 10000)
        if (filter) {
          let codeDepartements = filter.codeDepartements ? filter.codeDepartements : [];
          this.initDepartementList(codeDepartements)

          this.checkedFilterAS = [];
          if (filter.pqr === true) {
            this.checkedFilterAS.push('PQR')
          }
          if (filter.jal === true) {
            this.checkedFilterAS.push('JAL')
          }
          if (filter.national === true) {
            this.checkedFilterAS.push('NATIONAL')
          }
          if ((filter.europeen === true && this.eu !== false) || this.eu === true) {
            this.checkedFilterAS.push('EUROPEEN')
          }
          this.filter();

        } else {
          let list = this.departements instanceof Array ? this.departements : JSON.parse(this.departements);
          if (list.length === 0 && this.configuration.departements && this.departementsChosen.length === 0) {
            list = this.configuration.departements;
          }
          this.initDepartementList(list);
          this.checkedFilterAS = [];
          if (this.configuration.pqr === true) {
            this.checkedFilterAS.push('PQR')
          }
          if (this.configuration.jal === true) {
            this.checkedFilterAS.push('JAL')
          }
          if (this.configuration.national === true) {
            this.checkedFilterAS.push('NATIONAL')
          }
          if ((this.configuration.europeen === true && this.eu !== false) || this.eu === true) {
            this.checkedFilterAS.push('EUROPEEN')
          }
          this.start();
        }
      }
    }, () => {
      this.initialized = true;
      this.error = true;
      this.errorMsg = 'Erreur lors de la récupération des données'
    })

  },
  mounted() {

  },
  beforeDestroy() {
    if (this.interval !== null) {
      clearInterval(this.interval);
    }
    if (this.intervalToken !== null) {
      clearInterval(this.intervalToken);
    }
    if (this.styleElement) {
      document.head.removeChild(this.styleElement);
    }
    if (this.jsElement) {
      document.head.removeChild(this.jsElement);
    }
  },
  methods: {
    async initEforms() {
      console.log('initialisation du WC E-NOTICES')
      let url = this.urlApi;
      if (!this.urlApi.startsWith('http')) {
        url = location.origin + this.urlApi;
      }

      await this.applyRemoteJavascript(url + '/web-component-eforms/web-component-eforms.js')
      await this.applyRemoteCss(url + '/web-component-eforms/styles.css')
      this.wcInitialized = true;

    },
    async applyRemoteCss(url) {
      try {
        const cssContent = await this.webservice.getRemoteRessourceText(url);
        console.log(cssContent);

        this.styleElement = document.getElementById('concentrateur-wc-style');
        if (!this.styleElement)
          this.styleElement = document.createElement('style');
        this.styleElement.id = 'concentrateur-wc-style'
        this.styleElement.innerHTML = cssContent.data;
        //  var headElement = document.getElementsByTagName('head')[0];
        //  headElement.insertBefore(this.styleElement, headElement.firstChild);
        document.head.appendChild(this.styleElement);
      } catch (error) {
        console.error('Error fetching remote CSS:', error);
      }
    }, async applyRemoteJavascript(url) {
      try {
        const jsContent = await this.webservice.getRemoteRessourceText(url);
        this.jsElement = document.getElementById('concentrateur-wc-script');
        if (!this.jsElement)
          this.jsElement = document.createElement('script');
        this.jsElement.id = 'concentrateur-wc-script'
        this.jsElement.innerHTML = jsContent.data;
        document.head.appendChild(this.jsElement);
      } catch (error) {
        console.error('Error fetching remote CSS:', error);
      }
    },
    faExclamationCircle() {
      return faExclamationCircle
    },
    initDepartementList(list) {
      this.departementsChosen = []
      this.options = []
      this.departementsList.get().forEach(departement => {
        var dep = {
          name: departement['num_dep'] + " - " + departement['dep_name'],
          code: departement['num_dep']
        };
        if (list.includes(departement['num_dep'])) {
          this.value.push(dep)
          this.departementsChosen.push(dep);
        }
        this.options.push(dep);

      });
    },
    start() {
      if (this.value.length > 0) {
        this.filter()
      } else {
        this.webserviceInit(this.montant);
      }
    },
    webserviceInit(montant = null, jal = null, pqr = null, national = null, departements = null, europeen = null) {
      const supportsFiltered = [];

      this.errorMsg = null;
      this.webservice.init(montant, jal, pqr, national, departements, europeen)
          .then(
              data => {
                if (data.annonces) {
                  //récupération des offres à mettre dans les recaps
                  this.annonces = data.annonces
                      .filter(value => value.support)
                      .map((annonce) => {
                        if (annonce.support.codeGroupe === undefined) {
                          annonce.support.codeGroupe = annonce.support.europeen ? 'EUROPEEN' : 'NATIONAL';
                        }
                        var dateStatusIsoJAL = null;
                        if (annonce.datePublication != null) {
                          dateStatusIsoJAL = annonce.datePublication
                        } else if (annonce.dateEnvoi != null) {
                          dateStatusIsoJAL = annonce.dateEnvoi
                        } else if (annonce.dateDebutEnvoi != null) {
                          dateStatusIsoJAL = annonce.dateDebutEnvoi
                        } else if (annonce.dateDemandeEnvoi != null) {
                          dateStatusIsoJAL = annonce.dateDemandeEnvoi
                        }
                        annonce.derniereDate = this.getDate(dateStatusIsoJAL);
                        return annonce;
                      });
                }
                //récupération des supports éligibles
                this.allSupport.forEach(support => {
                  support.visible = true;
                  //suppression des supports présents dans les récaps
                  if (data.annonces) {
                    data.annonces
                        .filter(value => value.support)
                        .forEach((annonce) => {
                          if (support.code === annonce.support.code) {
                            if (support.choixUnique)
                              support.visible = false;
                            else if (annonce.offre) {
                              support.offres = support.offres.filter(item => annonce.offre.code !== item.code)
                              support.visible = support.offres.length > 0;
                            }
                          }
                        })
                  }

                })
                data.supports.forEach((support) => {
                  support.visible = true;
                  if (support.codeGroupe === undefined || support.codeGroupe === null) {
                    if (support.external) {
                      support.codeGroupe = 'EXTERNAL'
                    } else {
                      support.codeGroupe = support.europeen ? 'EUROPEEN' : 'NATIONAL';
                    }
                  }
                  //suppression des supports présents dans les récaps
                  if (data.annonces) {
                    data.annonces
                        .filter(value => value.support)
                        .forEach((annonce) => {
                          support.offres.forEach((offre, index) => {
                            if (annonce.offre && (offre.code === annonce.offre.code)) {
                              support.offres[index].checked = true;
                              support.checkedOffre = annonce.offre.code;
                            }
                          })
                          if (support.code === annonce.support.code) {
                            if (support.choixUnique)
                              support.visible = false;
                            else if (annonce.offre) {
                              support.offres = support.offres.filter(item => annonce.offre.code !== item.code)
                              support.visible = support.offres.length > 0;
                            }
                          }
                        })
                  }
                  support.offres = support.offres.sort((a, b) => {
                    if (a.code < b.code)
                      return -1;
                    if (a.code > b.code)
                      return 1;
                    return 0;
                  });
                  supportsFiltered.push(support);
                })
                this.supportsFiltered = supportsFiltered;

                this.showSupportsFilter = this.allSupport.findIndex(support => support.visible === true) > -1;

                this.supportsFiltered.filter(support => support.selectionneParDefaut === true)
                    .filter(value => {
                      return this.annonces.findIndex(annonce => annonce.support.code === value.code) === -1;
                    })
                    .forEach(support => {
                      if (support.compteObligatoire) {
                        this.checkPubSelect(support, null, null);
                      } else if (support.offres > 0) {
                        this.checkPubSelect(support, support.offres[0], null);
                      }
                    })
              }
          )
          .catch(error => {
            this.error = error;
            this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
          })
    },
    groupBy(xs, key) {
      return xs.reduce(function (rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
    },

    getDate(dateStatusIso, withTime = false) {
      if (dateStatusIso) {
        let format = 'DD/MM/YYYY';
        if (withTime) {
          format = 'DD/MM/YYYY H:mm:ss'
        }
        const dateStatus = (new Date(dateStatusIso));
        if (dateStatus != null) {
          return date.format(dateStatus, format);
        }
      }
      return null;
    },
    envoyerAnnonce(annonce) {
      this.webservice.putAnnonce(
          this.idConsultation,
          annonce,
          this.xmlAnnonce,
          Statut.EN_ATTENTE
      ).then(
          res => {
            this.msg = res;
            const today = new Date();
            annonce.datePublication = date.format(today, 'DD/MM/YYYY');
            annonce.statut = Statut.EN_ATTENTE;
            this.filter();
          }
      )
          .catch(error => {
            this.error = error
          });
    }, reprendre(annonce) {
      this.webservice.reprendre(annonce.id).then(
          res => {
            this.msg = res;
            annonce.datePublication = null;
            annonce.statut = Statut.BROUILLON;
            this.filter();
          })
          .catch(error => {
            this.error = error
          });
    },
    change(annonce) {
      this.webservice.change(annonce.id).then(
          res => {
            this.msg = res;
            annonce.datePublication = null;
            annonce.statut = Statut.BROUILLON;
            this.filter();
          }
      )
          .catch(error => {
            this.error = error
          });
    }, stop(annonce) {
      this.webservice.putAnnonce(
          this.idConsultation,
          annonce,
          this.xmlAnnonce,
          Statut.EN_COURS_D_ARRET
      ).then(
          res => {
            this.msg = res;
            annonce.datePublication = null;
            annonce.statut = Statut.EN_COURS_D_ARRET;
            this.filter();
          }
      )
          .catch(error => {
            this.error = error
          });
    },
    //creation ou update d'un suivi annonce
    checkPubSelect(support, offre, compte) {
      let annonce = {
        support: support,
        simplifie: this.configuration.montant < 90000,
        suivi: {}

      }
      if (offre) {
        annonce.offre = {code: offre.code, libelle: offre.libelle};
      }

      var statutAnnonce = true === annonce.support.external ? Statut.EXTERNAL : Statut.BROUILLON;
      var suiviAnnonceDTO = {
        idConsultation: this.idConsultation,
        support: annonce.support,
        statut: statutAnnonce,
        simplifie: annonce.simplifie,
        offre: annonce.offre,
        offres: [annonce.offre]
      };

      this.addBeforeUpdateToBasket(suiviAnnonceDTO);
      this.errorMsg = null;

      this.webservice.putAnnonce(this.idConsultation, annonce, this.xmlAnnonce).then(value => {
        if (compte) {
          value.data.acheteur = compte;
          this.ajoutAcheteur(value.data)
        }
        this.addToBasket(value.data);

      }).catch(error => {
        this.filter();
        this.error = error;
        this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
      });


    },
    addToBasket(annonce) {
      this.annonces.push(annonce)
      this.filter();
    },
    //
    addBeforeUpdateToBasket(annonce) {
      this.annonces.push(annonce)

    },
    reload() {
      window.location.reload();
    },
    //supprimer du récap et mettre à jour les supports éligibles
    removeFromBasket(annonce) {
      this.removeAnnonce(annonce, this.annonces);
      setTimeout(() => this.filter(), 1000)


    },
    dispatchAction(actionName) {
      this.departementsChosen.push(actionName);
      this.filter();
    },
    removeAction(actionName) {
      this.arrayDelete(this.departementsChosen, actionName);
      this.filter();
    },
    //supprimer le suivi annonce de la BDD
    removeAnnonce(annonce, arr) {
      this.arrayDelete(arr, annonce);
      this.webservice.deleteAnnonce(annonce.id)
          .catch(error => {
            this.error = error;
          })
      if (this.heartbeat) {
        clearInterval(this.heartbeat);
      }
    },
    // ajout de l'acheteur TNCP
    ajoutAcheteur(annonce) {
      console.log(`Acheteur selectionné = ${JSON.stringify(annonce.acheteur)}`);
      this.errorMsg = null;
      this.webservice.suivre({'annonce': annonce.id, 'acheteur': annonce.acheteur})
          .then(value => {
            annonce.acheteur = value.data.acheteur;
            this.filter();
          })
          .catch(error => {
            this.error = error;
            this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
          });
    },
    openCompte(request) {
      this.loadingAnnonce.set(request.annonce.support.code, true);
      this.loadingAnnonce = new Map(this.loadingAnnonce)

      this.errorMsg = null;
      this.webservice.openCompte(request, window.location.host.includes('rie')).then((value) => {
        let redirection = value.data.redirection;
        this.filter()
        if (redirection && value.data.statut !== 'ERREUR') {
          if (request.annonce.support.iframe) {
            let page = "agent/avis-publie/" + request.annonce.id;
            let url = location.origin + '/publicite-annonces/login/' + request.annonce.idPlatform + "/"
                + request.annonce.organismeMpe.acronymeOrganisme + "/" + this.tokenWc + "?isWebComponent=true&redirect=" + page;
            window.open(url, '_blank')
          } else {
            window.open(redirection, '_blank')
          }

        } else {
          this.error = "Erreur lors de l'ouverture de l'iframe";
          this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
        }
        this.loadingAnnonce.set(request.annonce.support.code, false);
        this.loadingAnnonce = new Map(this.loadingAnnonce)
      }).catch(error => {
        this.loadingAnnonce.set(request.annonce.support.code, false);
        this.loadingAnnonce = new Map(this.loadingAnnonce)
        this.error = error;
        this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
      });
    },
    updateSimplifie(request) {
      this.errorMsg = null;
      this.webservice.updateSimplifie(request).catch(error => {
        this.error = error;
        this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
      });
    },
    //changer le type d'avis depuis un récap
    updateOffre(annonce) {
      this.addAnnonce(this.idConsultation, annonce)
    },
    getList(codeGroupe) {
      return this.annonces.filter(annonce => {
        return annonce.support.codeGroupe === codeGroupe;
      });

    }, getTitre(codeGroupe) {
      //'Ma sélection de support(s) pour l\'avis de publicité ( '+ checkedJAL.length +' support(s) séléctionné(s)) Avis standard(PDF)'
      let key = 'TITRE_BLOC_' + codeGroupe;
      let titre = this.translator.get(key);
      return titre !== key ? titre : 'Ma sélection de support(s) "' + codeGroupe + '" pour l\'avis de publicité ( ' + this.getList(codeGroupe).length + ' support(s) séléctionné(s)) Avis standard(PDF)';
    },
    //ajouter un suivi annonce en BDD
    addAnnonce(idConsultation, annonce) {
      this.errorMsg = null;
      this.webservice.putAnnonce(idConsultation, annonce, this.xmlAnnonce)
          .catch(error => {
            this.error = error;
            this.errorMsg = this.translator.get('MSG_ERREUR_UTILISATEUR');
          });
    },
    filter() {
      var jal = this.checkedFilterAS.includes("JAL");
      var pqr = this.checkedFilterAS.includes("PQR");
      var national = this.checkedFilterAS.includes("NATIONAL");
      var europeen = this.checkedFilterAS.includes("EUROPEEN");
      this.webserviceInit(this.montant, jal, pqr, national, this.departementsChosen, europeen);
    },
    arrayDelete(arr, ele) {
      arr.splice(arr.indexOf(ele), 1);
    },
    async dlPdf(target) {
      this.loading = true;
      try {
        await this.download.pdf(this.idConsultation, this.xmlAnnonce, this.webservice,
            this.referenceUtilisateur, this.configuration.montant < 90000, target);

      } catch (e) {
        console.error('Erreur lors du téléchargement', e)
      }
      this.loading = false;
    }, async dlAnnoncePdf(event) {
      this.loadingAnnonce.set(event.annonce.id, true);
      this.loadingAnnonce = new Map(this.loadingAnnonce)
      try {
        await this.download.pdfAnnonce(this.webservice, event.annonce, this.xmlAnnonce, event.id);

      } catch (e) {
        console.error('Erreur lors du téléchargement', e)
      }
      this.loadingAnnonce.set(event.annonce.id, false);
      this.loadingAnnonce = new Map(this.loadingAnnonce)
    }, editAnnonceDocument(event) {
      this.loadingEditAnnonce.set(event.id, true);
      this.loadingEditAnnonce = new Map(this.loadingEditAnnonce)
      try {
        this.webservice.editAnnonceDocument(event.id, event.simplifie).then(value => {
          window.open(value.data.url, '_blank')
          this.loadingEditAnnonce.set(event.id, false);
          this.loadingEditAnnonce = new Map(this.loadingEditAnnonce);
          event.statutEdition = 'REQUEST_TO_OPEN'
        }, () => {
          this.loadingEditAnnonce.set(event.id, false);
          this.loadingEditAnnonce = new Map(this.loadingEditAnnonce)
        });

      } catch (e) {
        console.error('Erreur lors de l\'édition', e);
      }

    }, reinitAnnonceDocument(event) {
      this.loadingInitAnnonce.set(event.id, true);
      this.loadingInitAnnonce = new Map(this.loadingInitAnnonce)
      try {
        this.webservice.reinitAnnonceDocument(event.id, event.simplifie).then(() => {
          this.loadingInitAnnonce.set(event.id, false);
          this.loadingInitAnnonce = new Map(this.loadingInitAnnonce);
          if (event.simplifie === true) {
            event.avisFichierSimplifie = null;
          } else {
            event.avisFichier = null;
          }
        }, () => {
          this.loadingInitAnnonce.set(event.id, false);
          this.loadingInitAnnonce = new Map(this.loadingInitAnnonce)
        });

      } catch (e) {
        console.error('Erreur lors de l\'édition', e);
      }

    }
  },

}
</script>


<style lang="scss" scoped>
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '../assets/main';

.alert-token-warning {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #f3dfd6;
  padding: 0.5rem;
  border: 1px solid #f3b88d;
  border-radius: 5px;
  color: #dc6828;
}

.alert-token-expire {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #f3d6d6;
  padding: 0.5rem;
  border: 1px solid #f38d8d;
  border-radius: 5px;
  color: #e02222;
}

.basket {
  background: linear-gradient(lighten($brand-primary, 14%), $brand-primary);
  border-radius: 7px;

  &-trash {
    color: $brand-primary;
    font-size: 1.4em;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}


h5 {
  font-size: 1rem;
  font-weight: 600;
}

.card {
  box-shadow: 0 2px 2px #d7d7d7, 0 2px 2px #e7e7e7;
}

img {
  margin-right: 10px;
}

.btn-sm {
  margin: 4px;
  color: white;
}

.btn-default {
  color: green;
  background: white;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3D6BA6;
  border-color: #3D6BA6 transparent #3D6BA6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>
