<template>
  <div>


    <div class=" p-3 mb-2" style="background-color: #f3f3f3">
      <div>
        <h5 class="mb-2"><b>Liste des supports éligibles pour les départements choisis:</b></h5>
        <div class="d-flex justify-content-between">
          <div class="w-100">
            <div v-if="configuration.national" class="custom-control custom-checkbox mr-2"
                 style="text-align: left">
              <input type="checkbox"
                     class="custom-control-input "
                     checked
                     @change="$emit('filtre-support', selectedFilter)"
                     v-model="selectedFilter"
                     id="customControlAutosizing"
                     value="NATIONAL">
              <label class="mr-5 custom-control-label " for="customControlAutosizing">
                Supports Nationaux</label>
            </div>
            <div v-if="(configuration.europeen && eu !== false) || eu === true"
                 class="custom-control custom-checkbox mr-2" style="text-align: left">
              <input type="checkbox"
                     class="custom-control-input "
                     @change="$emit('filtre-support', selectedFilter)"
                     v-model="selectedFilter"
                     id="customControlEuropeen"
                     value="EUROPEEN">
              <label class="mr-5 custom-control-label " for="customControlEuropeen">
                Supports Européens</label>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex">

                <div v-if="configuration.jal" class="custom-control custom-checkbox  mr-2">
                  <input type="checkbox"
                         class="custom-control-input "
                         checked
                         @change="$emit('filtre-support', selectedFilter)"
                         v-model="selectedFilter"
                         id="JAL"
                         value="JAL">
                  <label class="mr-5 custom-control-label" for="JAL">JAL</label>
                </div>
                <div v-if="configuration.pqr" class="custom-control custom-checkbox mr-2">
                  <input type="checkbox"
                         class="custom-control-input"
                         checked
                         @change="$emit('filtre-support', selectedFilter)"
                         v-model="selectedFilter"
                         id="PQR"
                         value="PQR">
                  <label class="mr-5 custom-control-label mr-5" for="PQR">PQR</label>
                </div>
              </div>
            </div>
            <div class="select-container" v-if="configuration.pqr || configuration.jal">
              <multiselect v-model="selected"
                           tag-placeholder="Ajoutez des départements"
                           :value="selected"
                           placeholder="Ajoutez des départements"
                           label="name" track-by="code"
                           :options="options"
                           :multiple="true"
                           class="primary-client-bg"
                           deselect-label=""
                           selected-label=""
                           select-label=""
                           :taggable="true"
                           @select="$emit('dispatch-action', $event)"
                           @remove="$emit('remove-action', $event)"
              >

              </multiselect>
            </div>

          </div>

        </div>
        <div>

          <div>

            <div :key="idxsupports" v-for="(support, idxsupports) in supports">
              <div
                  v-if="!excludedSupport.includes(support)  && support.visible===true"
                  class=" card p-2 mb-2 mt-1"
              >
                <p style="color: orange; font-size: x-small; text-align: center" class="cursor-pointer"
                   v-if="support.europeen && showLabelExternal"
                   v-translate:REMPLIR_EUROPEEN_FORMULAIRE></p>
                <div class="d-flex justify-content-between">
                  <section style="width: 200px" v-if="support.afficherLogo">
                    <img class="mr-3" style="min-width: 100px;max-width: 200px; max-height: 100px"
                         :src="getSupportImg(support)">
                  </section>
                  <div class="w-100">
                    <select v-if="!support.compteObligatoire"
                            @change="checkPubSelect(support, $event.target.selectedIndex)"
                            :id="'selectAvisAS' + support.code"
                            class="custom-select">
                      <option selected v-translate:SELECTIONNEZ_TYPE_AVIS></option>
                      <option
                          :key="index"
                          :value="offre.code"
                          v-for="(offre, index) in support['offres']"
                      > {{ offre.libelle }}
                      </option>
                    </select>
                    <div
                        v-if="support.compteObligatoire && support.compteObligatoire && configuration.contexte && configuration.contexte.comptes && configuration.contexte.comptes.length">
                      <select
                          v-model="acheteur"
                          @change="checkPubSelectIFrame(support, acheteur)"
                          :id="'selectAvisAS' + support.code"
                          class="custom-select"
                      >
                        <option :value="undefined" selected>Sélectionnez votre compte PIAMP</option>
                        <option :key="indexBasket" :value="acheteur"
                                v-for="(acheteur, indexBasket) in configuration.contexte.comptes">
                          {{ acheteur.login + ' ( ' + acheteur.email + ' )' }}
                        </option>
                      </select></div>
                    <div v-else-if="support.compteObligatoire">
                      <span class="text-danger font-weight-bold"><font-awesome-icon :icon="faExclamationCircle"/>&nbsp;Aucun compte acheteur fourni, merci de contacter votre administrateur</span>
                    </div>
                  </div>
                </div>
                <div class="mb-1 ml-0 mt-2 mr-2 text-left journal-description">
                  <div v-html="support.description"></div>
                  <br>
                  <span>En savoir plus sur: <a :href="support.url" target="_blank">{{
                      support.url
                    }}</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import 'es6-promise/auto'
import {faDownload} from '@fortawesome/free-solid-svg-icons/faDownload'
import {faPaperPlane} from '@fortawesome/free-solid-svg-icons/faPaperPlane'
import {faSpinner} from '@fortawesome/free-solid-svg-icons/faSpinner'
import {faClock} from '@fortawesome/free-solid-svg-icons/faClock'
import Multiselect from 'vue-multiselect'
import 'vue-popperjs/dist/vue-popper.css';
import {faTrashAlt} from "@fortawesome/free-solid-svg-icons/faTrashAlt";
import {faChevronUp} from "@fortawesome/free-solid-svg-icons/faChevronUp";
import {faChevronDown} from "@fortawesome/free-solid-svg-icons/faChevronDown";

export default {
  directives: {
    translate: {
      inserted: function (el, binding, vnode) {
        el.innerHTML = vnode.context.translator.get(binding.arg)
      }
    }
  },
  name: "FiltreSupport",
  components: {
    Multiselect,
  },
  props: {
    image: Object,
    acheteur: String,
    translator: Object,
    checkedFilter: Array,
    value: Array,
    supports: Array,
    options: Array,
    excludedSupport: {type: Array, default: () => []},
    showLabelExternal: {type: Boolean, default: true},
    loading: {type: Boolean, default: false},
    configuration: Object,
    eu: {
      type: Boolean,
      default: null
    },
    plateforme: {
      type: String,
      default: "mpe"
    },
    idMpeBlocMol: {
      type: String,
      default: "ctl0_CONTENU_PAGE_blocPubliciteMol"
    },
  },
  data: function () {
    return {
      codeGroupes: ['NATIONAUX'],
      selected: [],
      selectedFilter: [],
      expandedCHOIX: false,
      faClock: faClock,
      faPaperPlane: faPaperPlane,
      faChevronUp: faChevronUp,
      faChevronDown: faChevronDown,
      faSpinner: faSpinner,
      faDownload: faDownload,
      faTrashAlt: faTrashAlt
    };
  },
  watch: {
    value(newVal) {
      if (newVal) {
        this.selected = newVal;
      }
    }, checkedFilter(newVal) {
      if (newVal) {
        this.selectedFilter = newVal;
      }
    }
  },
  mounted() {
    if (this.checkedFilter) {
      this.selectedFilter = this.checkedFilter;
    }

    if (this.value) {
      this.selected = this.value;
    }

  },
  methods: {
    getSupportImg(support) {
      let img = this.image.get(support.code);
      if (img)
        return img;
      return support.logoUrl ? support.logoUrl : this.image.get(support.pays)
    },
    goToMolIframe() {
      let element = document.getElementById("ctl0_CONTENU_PAGE_blocPubliciteMol")
      if (element) element.scrollIntoView({behavior: 'smooth', block: 'start'})
      else {
        element = document.getElementById("concentrateur-formulaire-id")
        element.scrollIntoView({behavior: 'smooth', block: "end"})
      }
    },

    checkPubSelect(support, index) {
      if (0 !== index) {
        let offre = support.offres[index - 1];
        this.$emit('add-support', {support, offre})
      }
    },


    checkPubSelectIFrame(support, compte) {
      this.$emit('add-support', {support, compte})
    }
  }

}
</script>


<style lang="scss" scoped>
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '../assets/main';

.row-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $brand-primary;
}

.basket {
  background: linear-gradient(lighten(#7E7E7EFF, 14%), #cdc9c9);
  border-radius: 7px;

  &-trash {
    color: $brand-primary;
    font-size: 1.4em;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}


.primary-brand {
  color: $brand-primary;
}

.custom-select {
  width: 100%;
  color: $brand-primary;
}

.form-control {
  width: 410px;
}

.btn-sm {
  margin: 4px;
  color: white;
}

.btn-default {
  background: $brand-primary;
}

.select-container {
  text-align: left !important;
}

.select-container {
  ::v-deep .chosen-container .chosen-results li.highlighted {
    background-color: $brand-primary;
    background-image: linear-gradient($brand-primary 20%, $brand-primary 90%);
    color: #fff;
  }

  ::v-deep .chosen-container-multi .chosen-choices li.search-choice {
    background-image: linear-gradient($brand-primary 20%, $brand-primary 50%, $brand-primary 52%, $brand-primary 100%);
    border: none;
    border-radius: 8px;
    color: white;
  }

  .chosen-container-multi {
    margin-top: 0px !important;
  }

  ::v-deep .multiselect__tag {
    border-radius: 12px;
    background-color: $brand-primary;

    &-icon:hover {
      background-color: darken($brand-primary, 6%);
    }
  }

  ::v-deep .multiselect__tag-icon:after {
    color: white;
  }

  ::v-deep .multiselect__option--highlight,
  ::v-deep .multiselect__option--highlight:after {
    background: $brand-primary;
  }

  ::v-deep .multiselect__tags .multiselect__tag:first-child {
    border: none;
  }

  ::v-deep .multiselect__tags .multiselect__tag:first-child::before {
    content: '';
    width: 0px;
  }

  ::v-deep .multiselect__tag {
    border: none;
    color: white;
    font-size: small;
    margin: 0 3px 2px 0;
  }

  ::v-deep .multiselect__option:after {
    line-height: 25px;
    background: $brand-primary;
    font-size: 12px;
  }
}

.grey-light {
  color: #918e8e;
  font-size: 1rem;
}

.lds-spinner {
  color: $brand-primary;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: $brand-primary;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// PDF Img Section
.pdf-img {
  float: right;
  max-width: 100%;
  transition: box-shadow 200ms;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 1px 1px 4px;
  }
}

.journal-description, .journal-description > span > a {
  font-size: small;
  color: #9a9a9a;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

.custom-control-label {
  font-size: medium;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $brand-primary;
}

.text-pdf-title {
  font-size: medium;
  opacity: 0.6;
  color: lighten($brand-primary, 8%);
}
</style>
