<template>
    <div id="app-filtre-support" class="w-100">

        <div class="basket-filtre p-3 mb-2">
            <div @click="expandedCHOIX = !expandedCHOIX" class="d-flex justify-content-between cursor-pointer">
                <div class="w-75 mr-3 select-container text-left">
                    <h5 class="text-white font-weight-bold">Choisir d'autres supports de
                        publicité</h5>
                </div>
                <font-awesome-icon class="basket-trash primary-client mb-1 ml-1 text-white"
                                   :icon="expandedCHOIX?faChevronUp:faChevronDown"/>
            </div>
            <div v-if="expandedCHOIX">
                <filtre :checked-filter="checkedFilterLocal"
                        :translator="translator"
                        :supports="supports"
                        :image="image"
                        :options="options"
                        :show-label-external="showLabelExternal"
                        :id-mpe-bloc-mol="idMpeBlocMol"
                        :value="value"
                        :loading="loading"
                        :plateforme="plateforme"
                        :configuration="configuration"
                        :eu="eu"
                        @download-pdf="$emit('download-pdf',$event)"
                        @download-annonce-pdf="$emit('download-annonce-pdf',$event)"
                        @edit-annonce-document="$emit('edit-annonce-document',$event)"
                        @reinit-annonce-document="$emit('reinit-annonce-document',$event)"
                        @add-support="$emit('add-support',$event)"
                        @filtre-support="checkedFilterLocal=$event;$emit('filtre-support',$event)"
                        @dispatch-action="$emit('dispatch-action',$event)"
                        @remove-action="$emit('remove-action',$event)"
                ></filtre>
            </div>
        </div>
    </div>
</template>

<script>
import 'es6-promise/auto'
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
import {faDownload} from '@fortawesome/free-solid-svg-icons/faDownload'
import {faPaperPlane} from '@fortawesome/free-solid-svg-icons/faPaperPlane'
import {faSpinner} from '@fortawesome/free-solid-svg-icons/faSpinner'
import {faClock} from '@fortawesome/free-solid-svg-icons/faClock'
import 'vue-popperjs/dist/vue-popper.css';
import {faChevronUp} from "@fortawesome/free-solid-svg-icons/faChevronUp";
import {faChevronDown} from "@fortawesome/free-solid-svg-icons/faChevronDown";
import Filtre from "../components/FiltreSupportWithoutCard"
import {faTrashAlt} from "@fortawesome/free-solid-svg-icons/faTrashAlt";

export default {
    directives: {
        translate: {
            inserted: function (el, binding, vnode) {
                el.innerHTML = vnode.context.translator.get(binding.arg)
            }
        }
    },
    name: "FiltreSupport",
    components: {
        FontAwesomeIcon,
        Filtre
    },
    props: {
        loading: {type: Boolean, default: false},
        showLabelExternal: {type: Boolean, default: true},
        expanded: {type: Boolean, default: true},
        idMpeBlocMol: {
            type: String,
            default: "ctl0_CONTENU_PAGE_blocPubliciteMol"
        }, plateforme: {
            type: String,
            default: "mpe"
        }, image: Object,
        translator: Object,
        configuration: Object,
        eu: {
            type: Boolean,
            default: null
        },
        checkedFilter: Array,
        value: Array,
        supports: Array,
        options: Array,
        excludedSupport: {type: Array, default: () => []},
    },
    data: function () {
        return {
            checkedFilterLocal: this.checkedFilter,
            codeGroupes: ['NATIONAUX'],
            expandedCHOIX: this.expanded,
            faClock: faClock,
            faPaperPlane: faPaperPlane,
            faChevronUp: faChevronUp,
            faChevronDown: faChevronDown,
            faSpinner: faSpinner,
            faDownload: faDownload,
            faTrashAlt: faTrashAlt
        };
    },
    watch: {
        checkedFilter(newVal) {
            this.checkedFilterLocal = newVal;
        }
    }

}
</script>


<style lang="scss" scoped>
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '../assets/main';

.row-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $brand-primary;
}

.basket {
  &-filtre {
    background: linear-gradient(lighten(#7E7E7EFF, 14%), #cdc9c9);
    border-radius: 7px;
  }

  &-trash {
    color: $brand-primary;
    font-size: 1.4em;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}


.primary-brand {
  color: $brand-primary;
}

.custom-select {
  width: 100%;
  color: $brand-primary;
}

.form-control {
  width: 410px;
}

.btn-sm {
  margin: 4px;
  color: white;
}

.btn-default {
  background: $brand-primary;
}

.select-container {
  text-align: left !important;
}

.select-container {
  ::v-deep .chosen-container .chosen-results li.highlighted {
    background-color: $brand-primary;
    background-image: linear-gradient($brand-primary 20%, $brand-primary 90%);
    color: #fff;
  }

  ::v-deep .chosen-container-multi .chosen-choices li.search-choice {
    background-image: linear-gradient($brand-primary 20%, $brand-primary 50%, $brand-primary 52%, $brand-primary 100%);
    border: none;
    border-radius: 8px;
    color: white;
  }

  .chosen-container-multi {
    margin-top: 0px !important;
  }

  ::v-deep .multiselect__tag {
    border-radius: 12px;
    background-color: $brand-primary;

    &-icon:hover {
      background-color: darken($brand-primary, 6%);
    }
  }

  ::v-deep .multiselect__tag-icon:after {
    color: white;
  }

  ::v-deep .multiselect__option--highlight,
  ::v-deep .multiselect__option--highlight:after {
    background: $brand-primary;
  }

  ::v-deep .multiselect__tags .multiselect__tag:first-child {
    border: none;
  }

  ::v-deep .multiselect__tags .multiselect__tag:first-child::before {
    content: '';
    width: 0px;
  }

  ::v-deep .multiselect__tag {
    border: none;
    color: white;
    font-size: small;
    margin: 0 3px 2px 0;
  }

  ::v-deep .multiselect__option:after {
    line-height: 25px;
    background: $brand-primary;
    font-size: 12px;
  }
}

.grey-light {
  color: #918e8e;
  font-size: 1rem;
}

.lds-spinner {
  color: white;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: white;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// PDF Img Section
.pdf-img {
  max-height: 50px;
  float: right;
  max-width: 100%;
  transition: box-shadow 200ms;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 1px 1px 4px;
  }
}

.journal-description, .journal-description > span > a {
  font-size: small;
  color: #9a9a9a;
}
</style>
