<template>
  <div id="app" style="text-align: left; padding: 30px " class="ml-3">

    <input type="text" class="form-control"
           id="password" placeholder="Password"
           v-model.lazy="password"
           style=width:150px
    >

    <br>
    <button type="submit" class="btn btn-primary primary-client-bg-border"
            @click.prevent="addUser">Encrypt password
    </button>

    <br> <br>
    <h1>{{ passwordEncrypted }}</h1>
  </div>


</template>

<script>


import bcrypt from 'bcryptjs';

export default {
  directives: {
    translate: {
      inserted: function (el, binding, vnode) {
        el.innerHTML = vnode.context.translator.get(binding.arg)
      }
    }
  },
  name: "App",
  config: {
    productionTip: false,
    devtools: false
  },
  components: {},
  props: {
    uidPFDouble: String,
    organismAcronym: String,
    currentServiceId: String,
    userId: String,

  },
  data: function () {
    return {

      password: null,
      passwordEncrypted: null,
    };
  },
  mounted() {


  },
  methods: {

    addUser() {
      this.passwordEncrypted = this.encryptPassword(this.password)
    },
    encryptPassword(password) {
      const salt = bcrypt.genSaltSync(10)
      return bcrypt.hashSync(password, salt)
    },
  }
}
</script>

<style type="scss" scoped>

</style>
