<template>
  <div id="app" class="w-100">

    <div class="card p-2 mb-2">
      <p style="color: orange; font-size: x-small; text-align: center" v-if="support.external"
         v-translate:REMPLIR_BOAMP_FORMULAIRE></p>
      <div class="d-flex justify-content-between">
        <img class="mr-3" :src="image.get(support.code)">
        <select :id="'selectAvisBasket' + support.code"
                :disabled="support.external"
                @change="updateOffre(support, $event)" style="width: 80%"
                class="custom-select">
          <option>{{ support.checkedOffre.libelle }}</option>
          <option :key="indexBasket"
                  :value="offre.code"
                  v-for="(offre, indexBasket) in support.offres"
          > {{ offre.libelle }}
          </option>
        </select>
        <div class="pt-2 ml-2">
          <font-awesome-icon class=" basket-trash primary-client mb-1" @click="removeFromBasket($event, support)"
                             :icon="faTrashAlt"/>
        </div>

      </div>
      <p class="mb-1 ml-0 mt-2 mr-2 text-left journal-description">
        {{ support.description }}<br>
        <span>En savoir plus sur: <a :href="support.url"
                                     target="_blank">{{ support.url }}</a></span>
      </p>
      <div class="row" v-if="statut">
        <div class="col-4 text-left">
          <div class="label grey-light" v-translate:DATES></div>
          <span v-if="support.datePublication">
                    {{ statut.get(support.statut).date }}: {{ support.datePublication }}
                </span>
          <span v-else>
                  <b>--</b>
                </span>
        </div>
        <div class="col-5 text-left">
          <div class="label grey-light" v-translate:STATUT_PUBLICATION></div>
          <span :class="'btn-sm btn-' + statut.get(support.statut).type">
                    <font-awesome-icon :icon='statut.get(support.statut).fa'/>
                    &nbsp;<span v-html='statut.get(support.statut).libelle'></span>

                </span>
        </div>
        <div class="col-3 text-left">
          <div class="label grey-light" v-translate:ACTIONS_PUBLICATION></div>
          <popper trigger="clickToOpen"
                  :options="{
                              placement: 'left',
                              modifiers: { offset: { offset: '0,10px' } }
                        }">
            <div class="popper">
              <b>Historique</b>
              <table class="table table-bordered" v-if="support.historique">
                <thead>
                <tr>
                  <th scope="col">Date/Heure</th>
                  <th scope="col">Statut</th>
                </tr>
                </thead>
                <tbody>
                <tr :key="idHistorique"
                    v-for="(historique, idHistorique) in support.historique">
                  <td>{{ historique.date }}</td>
                  <td>{{ statut.get(historique.statut).libelle }}</td>

                </tr>

                <tr>
                  <td colspan=2
                      style="text-align: left;width:100px;font-size: xx-small;"
                      v-if="(support.statut === St.REJETER_CONCENTRATEUR)||(support.statut === St.REJETER_SUPPORT)"
                  >
                    <span>Message:</span> {{ support.annonce.messageStatut }}
                  </td>

                </tr>
                </tbody>
              </table>
              <div v-else><b> -- </b></div>
            </div>
            <font-awesome-icon style="cursor:pointer;" slot="reference"
                               v-on:click="prev($event)"
                               :icon="faClock" class="primary-brand m-1"/>
          </popper>

          <font-awesome-icon style="cursor:pointer;"
                             v-if="St.BROUILLON === support.statut || St.REJETER_CONCENTRATEUR === support.statut|| St.REJETER_SUPPORT === support.statut"
                             :icon="faPaperPlane" class="primary-brand m-1"
                             @click="envoi(support)"
                             title="Envoyer au journal" tag="Envoyer au journal"/>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
"use strict";
import 'es6-promise/auto'
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
import {faTrashAlt} from '@fortawesome/free-solid-svg-icons/faTrashAlt'
import {faChevronDown} from '@fortawesome/free-solid-svg-icons/faChevronDown'
import {faChevronUp} from '@fortawesome/free-solid-svg-icons/faChevronUp'
import Image from "@/utils/Image";
import Statut from "@/utils/Statut";
import Popper from 'vue-popperjs';
import {faClock} from "@fortawesome/free-solid-svg-icons/faClock";
import {faPaperPlane} from "@fortawesome/free-solid-svg-icons/faPaperPlane";
import {faSpinner} from "@fortawesome/free-solid-svg-icons/faSpinner";
import {faDownload} from "@fortawesome/free-solid-svg-icons/faDownload";
import 'vue-popperjs/dist/vue-popper.css';

export default {
  directives: {
    translate: {
      inserted: function (el, binding, vnode) {
        el.innerHTML = vnode.context.translator.get(binding.arg)
      }
    }
  },
  name: "BucketAnnonces",
  components: {
    'popper': Popper,
    FontAwesomeIcon
  },
  props: {
    support: Object,
    translator: Object,
    statut: Object
  },
  data: function () {
    return {
      image: new Image(),
      faTrashAlt: faTrashAlt,
      faChevronUp: faChevronUp,
      faChevronDown: faChevronDown,
      faClock: faClock,
      faPaperPlane: faPaperPlane,
      faSpinner: faSpinner,
      faDownload: faDownload,
      St: Statut,

    };
  },
  methods: {
    updateOffre(support, event) {
      if (0 !== event.target.selectedIndex) {
        this.$emit('update-offre', {support, value: event.target.value})
      }
    },
    removeFromBasket(e, support) {
      e.preventDefault();
      this.$emit('delete-offre', support)
    },
  }
}
</script>

<style lang="scss">

</style>
