<form method="post" action="{{ path('superadmin_traduction_delete', {'id': traduction.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ traduction.source) }}">

    <a href="{{ path('superadmin_traduction_index') }}" class="btn btn-dark">Retour</a>
    <button class="btn btn-danger">Supprimer</button>
</form>
