<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- Basic layout-->
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_row(form.source) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.target) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.langue) }}
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /basic layout -->
