{% extends 'administration.html.twig' %}
{% block title %}Modifier Traduction{% endblock %}

{% block body %}
    <h1>Modifier traduction</h1>

    {{ include('superadmin/traduction/_form.html.twig') }}

    {{ include('superadmin/traduction/_delete_form.html.twig') }}
{% endblock %}
