{% extends 'administration.html.twig' %}

{% block title %}Nouvelle traduction{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle traduction</h1>

    {{ include('superadmin/traduction/_form.html.twig') }}

    <a href="{{ path('superadmin_traduction_index') }}" class="btn btn-dark">Retour</a>
{% endblock %}
