<div class="panel panel-default mb-4">
    <div class="panel-heading">
        Filtres
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <div class="row mb-4">
                <div class="col-md-3 form-label-vertical-align">Statut</div>
                <div class="col-md-9">
                    <div id="filter-buttons">
                        <div aria-label="Large button group" class="btn-group btn-group-lg" role="group">
                            <label (click)="onCriteresChanges()" [(ngModel)]="statutEnCourEnvoi" btnCheckbox
                                   class="btn btn-outline-secondary" role="button">En cours d'envoi</label>
                            <label (click)="onCriteresChanges()" [(ngModel)]="statutNonDelivre" btnCheckbox
                                   class="btn btn-outline-secondary" role="button">Non délivré</label>
                            <label (click)="onCriteresChanges()" [(ngModel)]="statutDelivre" btnCheckbox
                                   class="btn btn-outline-secondary" role="button">Délivré</label>
                            <label (click)="onCriteresChanges()" [(ngModel)]="statutAcquitte" btnCheckbox
                                   class="btn btn-outline-secondary" role="button">Lu par le destinataire</label>
                            <label (click)="onCriteresChanges()" [(ngModel)]="emailCriteriaDTO.reponseNonLue"
                                   btnCheckbox
                                   class="btn btn-outline-secondary" role="button">Réponse non lue</label>
                            <label (click)="onCriteresChanges()" [(ngModel)]="emailCriteriaDTO.reponseLue" btnCheckbox
                                   class="btn btn-outline-secondary" role="button">Réponse lue</label>
                        </div>
                        <label (click)="onCriteresChanges()" [(ngModel)]="emailCriteriaDTO.favoris"
                               [ngClass]="emailCriteriaDTO.favoris?'on':''"
                               btnCheckbox class="btn btn-outline-secondary m-l-4" role="button">
                            <fa-icon icon="star"></fa-icon>
                        </label>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="motsCles">Mots clés <span class="fas fa-info-circle"
                                                                                          style="color:blue; margin-left: 1em;"
                                                                                          tooltip="La recherche se fait sur l'objet et sur le corps du courrier initialement envoyé."></span></label>
                    <div class="col-md-9">
                        <input (keyup)="onKeyWordChange($event)" [(ngModel)]="emailCriteriaDTO.motsCles"
                               class="form-control objet-msg" id="motsCles"
                               id="messageObjet" name="motsCles"
                               ng-control="motsCles" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="templateCritere">Type de message</label>
                    <div class="col-md-9">
                        <ng-select (change)="onCriteresChanges()" [(ngModel)]="selectedTemplate" [closeOnSelect]="true"
                                   [items]="templates" bindLabel="objet" id="templateCritere" name="templateCritere"
                                   placeholder="Sélectionnez">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="contactsOptions">Destinataires</label>
                    <div class="col-md-9">
                        <ng-select (change)="onCriteresChanges()" [(ngModel)]="selectedDestinataires"
                                   [addTagText]="'Appuyez sur la touche Entrée pour ajouter'" [addTag]="onAddFreeText"
                                   [hideSelected]="true"
                                   [items]="destinataires" [multiple]="true"
                                   [notFoundText]="'Aucun resultat. Appuyez sur la touche Entrée pour ajouter.'"
                                   bindLabel="mailContactDestinataire" id="contactsOptions"
                                   name="contactsOptions" placeholder="Sélectionnez">
                            <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                                <span class="ng-value-label">{{item | destinataireLabel }}</span>
                                <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">X</span>
                            </ng-template>
                            <ng-template let-item="item" ng-option-tmp>
                                <span class="ng-value-label">{{ item | destinataireLabel }}</span>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="messageDateEnvoi">Dates d'envoi</label>
                    <div class="col-md-9">
                        <input (bsValueChange)="dateRange=$event;onCriteresChanges()" [(ngModel)]="dateRange"
                               [bsConfig]="bsConfig"
                               bsDaterangepicker
                               class="form-control input-sm daterange" id="messageDateEnvoi" name="messageDateEnvoi"
                               placeholder="Sélectionnez"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="messageDateEnvoi">Afficher uniquement les courriers pour
                        lesquels
                        une réponse du destinataire est attendue</label>
                    <div class="col-md-9">
                        <ui-switch (change)="onStatutChange($event)" [color]="'#004494'" [size]="'small'"
                                   id="switch"></ui-switch>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
