<div class="modal-content modal-lg modal-extra-large">
    <div class="modal-header">
        <h1>Cr&eacute;ation d'un gabarit</h1>
        <span class="modal-title pull-left">
      Nouvelle surcharge pour le modèle de document: {{ gabarit?.modele?.libelle }} ({{ gabarit?.modele?.type?.code }})
    </span>
        <button (click)="fermeture.emit()" aria-label="Fermer la fen&ecirc;tre" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <atexo-redacdocument-gabarit-edit
                [gabarit]="gabarit"
                (sauvegarde)="sauvegarde.emit($event)"
                (annulation)="fermeture.emit($event)"
                (erreur)="erreur.emit($event)"
        >
        </atexo-redacdocument-gabarit-edit>
    </div>
</div>

