<!-- ------------------ -->
<!-- Template principal -->
<!-- ------------------ -->
<div class="workflow-wrapper">
    <ul class="workflow full-width">
        <!-- ----------- -->
        <!-- STEP NIVEAU -->
        <!-- ----------- -->
        <li class="workflow-item"
            [class.workflow-step-active]="step == Steps.NIVEAU"
            [class.workflow-step-todo]="step < Steps.NIVEAU"
            [class.workflow-step-done]="step > Steps.NIVEAU"
        >
        <span class="workflow-badge text-white">
          <em class="workflow-badge-icon fa-solid fa-magnifying-glass"></em>
        </span>
            <div class="workflow-panel">
                <header class="titre">Niveau du gabarit</header>
                <article>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Niveau <i class="fa-solid fa-asterisk asterisk"></i></label>
                        <div class="col-sm-9">
                            <div [(ngModel)]="niveau" btnRadioGroup class="btn-group">
                                <label
                                        btnRadio='AGENT'
                                        [class.active]="niveau == Niveaux.AGENT"
                                        class="btn btn-primary"
                                        tooltip="Moi"
                                >
                                    <span><em class="fa fa-user"></em></span>
                                </label>
                                <label
                                        btnRadio='ENTITE_ACHAT'
                                        [class.active]="niveau == Niveaux.ENTITE_ACHAT"
                                        class="btn btn-primary"
                                        tooltip="Mon service"
                                >
                                    <span><em class="fas fa-users"></em></span>
                                </label>
                                <label
                                        btnRadio='ORGANISME'
                                        [class.active]="niveau == Niveaux.ORGANISME"
                                        class="btn btn-primary"
                                        tooltip="Toute l'entité publique"
                                >
                                    <span><em class="fa fa-university"></em></span>
                                </label>
                                <label
                                        btnRadio='PLATEFORME'
                                        [class.active]="niveau == Niveaux.PLATEFORME"
                                        class="btn btn-primary"
                                        tooltip="Toute la plateforme"
                                >
                                    <span><em class="fas fa-globe"></em></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </li>
        <!-- ------------ -->
        <!-- STEP FICHIER -->
        <!-- ------------ -->
        <li class="workflow-item"
            [class.workflow-step-active]="step == Steps.FICHIER"
            [class.workflow-step-todo]="step < Steps.FICHIER"
            [class.workflow-step-done]="step > Steps.FICHIER"
        >
        <span class="workflow-badge text-white">
          <em class="workflow-badge-icon fa-solid fa-list"></em>
        </span>
            <div class="workflow-panel">
                <header class="titre">Choix du gabarit</header>
                <article>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="fichier">Fichier <i class="fa-solid fa-asterisk asterisk"></i></label>
                        <div class="col-sm-9">
                            <atexo-redacdocument-file-upload *ngIf="!!gabarit?.modele?.type?.code"
                                    (ajout)="ajouter($event)"
                                    [mimetypes]="gabarit?.modele?.type?.code === 'PF' ? ['xlsx'] : ['docx']"
                                    (suppression)="gabarit.uuid=null"
                                    id="fichier"
                            >
                            </atexo-redacdocument-file-upload>
                        </div>
                    </div>
                </article>
            </div>
        </li>
        <!-- ------------ -->
        <!-- STEP NOMMAGE -->
        <!-- ------------ -->
        <li class="workflow-item workflow-item-last"
            [class.workflow-step-active]="step == Steps.NOMMAGE"
            [class.workflow-step-todo]="step < Steps.NOMMAGE"
            [class.workflow-step-done]="step > Steps.NOMMAGE"
        >
        <span class="workflow-badge text-white info">
          <em class="workflow-badge-icon fa-solid fa-pen"></em>
        </span>
            <div class="workflow-panel">
                <header class="titre">Choix du nom du gabarit</header>
                <article>
                    <ng-container *ngIf="step >= Steps.NOMMAGE">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="nomFichier">Nom du fichier <i class="fa-solid fa-asterisk asterisk"></i></label>
                            <div class="col-sm-9">
                                <input
                                        [(ngModel)]="gabarit.nom"
                                        [required]="true"
                                        class="form-control"
                                        id="nomFichier"
                                        placeholder="Nom du fichier"
                                        type="text"
                                >
                            </div>
                        </div>
                    </ng-container>
                </article>
            </div>
        </li>
    </ul>
</div>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
    <button (click)="sauvegarder()" [disabled]="!valide()" class="btn btn-primary" type="button"><i class="fa fa-save me-2"></i>Enregistrer</button>
</footer>
