<ng-container *ngIf="!email.emailEntreprise">
  <td>
    <ul class="list-time">
      <li class="on"><span class="tag send"><span tooltip="{{'statut.envoi.titre'|surchargeLibelle:'Envoi'}}">{{'statut.envoi.code'|surchargeLibelle:'E'}}</span></span>
        <time class="txt-send">{{ email.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email.message.typeMessage==='TypeMessage4'" class="on"><span
        class="tag acknowledgment"><span tooltip="{{'statut.accuse-reception.titre'|surchargeLibelle:'Accusé de réception'}}">{{'statut.accuse-reception.code'|surchargeLibelle:'AR'}}</span></span>
        <time *ngIf="email.dateARAsDate!=null"
              class="txt-acknowledgment">{{ email.dateARAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
        <time *ngIf="email.dateARAsDate==null" class="txt-acknowledgment">En attente de lecture</time>
      </li>
      <li *ngIf="email.message.reponseAttendue && !email.message.dateLimiteReponseAttendue"
          class="on"><span
        [ngClass]="email?.reponse != null?'delivered':'response-awaited'" class="tag"><span
        tooltip="{{'statut.reponse.titre'|surchargeLibelle:'Réponse'}}">{{'statut.reponse.code'|surchargeLibelle:'R'}}</span></span>
        <time *ngIf="email?.reponse != null"
              class="txt-delivered">{{ email.reponse.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
        <time *ngIf="email?.reponse == null" class="txt-response-awaited">Réponse attendue</time>
      </li>
      <li *ngIf="email.message.reponseAttendue && email.message.dateLimiteReponseAttendue == true"
          class="on"><span
        [ngClass]="email?.reponse != null?'delivered':'response-awaited'" class="tag"><span
        tooltip="Réponse attendue avant le {{ email.message.dateLimiteReponseAsDate | date:'dd/MM/yyyy - HH:mm' }}">R</span></span>
        <time *ngIf="email?.reponse != null"
              class="txt-delivered">{{ email.reponse.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
        <time *ngIf="email?.reponse == null" class="txt-response-awaited">Réponse attendue avant
          le {{email.message.dateLimiteReponseAsDate | date: 'dd/MM/yyyy - HH:mm'}}</time>
      </li>
    </ul>
  </td>
  <td>
    <strong class="txt-blue">{{email.message.objet}}</strong>
    <div class="mt-2">
      <div class="float-left m-r-2 recipient"><em class="fas fa-address-card"></em><span
        class="m-l-1">{{email | emailLabel}}</span></div>
      <ul class="message mt-2">
        <li class="truncate">{{email.message.contenu | newlineToBreakline | stripHtml}}</li>
        <li *ngIf="email.reponse"
            class="reponse truncate"><span *ngIf="email?.toutesLesReponses?.length > 1">
                        <span class="txt-nb-reponses">{{ email?.toutesLesReponses?.length }}
                          réponses</span> | </span>{{email.reponse.message.contenu | newlineToBreakline | stripHtml}}
        </li>
      </ul>
    </div>
  </td>
  <th class="text-center">
    <a (click)="visualiserMessage()" class="btn  btn-md btn-primary "
       title="Visualiser le message" type="button"><em
      class="fas fa-sign-in-alt"></em></a>
    <a (click)="visualiserMessageLegacy()" *ngIf="modeLegacy"
       class="btn btn-md btn-secondary mt-1" title="Visualiser le message" type="button">RSEM</a>
  </th>
</ng-container>
<ng-container *ngIf="email.emailEntreprise">
  <td>
    <ul class="list-time">
      <li class="on"><span class="tag send"><span tooltip="{{'statut.envoi.titre'|surchargeLibelle:'Envoi'}}">{{'statut.envoi.code'|surchargeLibelle:'E'}}</span></span>
        <time class="txt-send">{{ email.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email.reponse" class="on"><span class="tag delivered"><span
        tooltip="{{'statut.reponse.titre'|surchargeLibelle:'Réponse'}}">{{'statut.reponse.code'|surchargeLibelle:'R'}}</span></span>
        <time class="txt-delivered">{{ email.reponse.dateEnvoiAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
      </li>
      <li *ngIf="email.reponse"
          class="on"><span [ngClass]="email.reponse.lu?'delivered':'response-awaited'" class="tag"><span
        tooltip="{{'statut.lecture-reponse.titre'|surchargeLibelle:'Réponse'}}">{{'statut.lecture-reponse.code'|surchargeLibelle:'LR'}}</span></span>
        <time *ngIf="email.reponse.lu"
              class="txt-delivered">{{ email.reponse.dateARAsDate | date:'dd/MM/yyyy - HH:mm:ss' }}</time>
        <time *ngIf="!email.reponse.lu" class="txt-response-awaited">En attente de lecture</time>
      </li>
    </ul>
  </td>
  <td>
    <strong class="txt-blue">{{email.message.objet}}</strong>
    <div class="mt-2">
      <div class="float-left m-r-2 recipient"><em class="fas fa-address-card"></em><span
        class="m-l-1">{{email | emailLabel}}</span></div>
      <ul class="message mt-2">
        <li class="truncate">{{email.message.contenu | newlineToBreakline | stripHtml}}</li>
        <li *ngIf="email.reponse"
            class="reponse truncate"><span *ngIf="email?.toutesLesReponses?.length > 1">
                        <span class="txt-nb-reponses">{{ email?.toutesLesReponses?.length }}
                          réponses</span> | </span>{{email.reponse.message.contenu | newlineToBreakline | stripHtml}}
        </li>
      </ul>
    </div>
  </td>
  <th class="text-center">
    <a (click)="visualiserMessage()" class="btn btn-md btn-primary "
       title="Visualiser le message" type="button"><em
      class="fas fa-sign-in-alt"></em></a>
    <a (click)="visualiserMessageLegacy()" *ngIf="modeLegacy"
       class="btn btn-md btn-secondary mt-1" title="Visualiser le message" type="button">RSEM</a>
  </th>
</ng-container>

