<template>
    <div id="configuration-atexo">

        <h4>Configuration des paramètres</h4>

        <div class="p-grid">
            <div v-for="parametre in listParametre"
                 class="p-col-12 p-md-12 p-lg-6">
                <div class="box">
                    <div
                            class=" p-grid  p-justify-between parametre">
                        <div class="p-col-5 margin-top-auto margin-bottom-auto">
                            <div class="box">{{parametre.description}}</div>
                        </div>
                        <div class="p-col-7">
                            <div class="p-col-12">
                                <div class="p-inputgroup"
                                >
                                    <input v-model="parametre.newValeur"
                                           style="width: 90%;"/>
                                    <Button :disabled="parametre.newValeur === parametre.valeur"
                                            icon="pi pi-check"
                                            class="p-button-success"
                                            @click="modifier(parametre)"/>
                                    <Button :disabled="parametre.newValeur === parametre.valeur"
                                            icon="pi pi-times"
                                            class="p-button-danger"
                                            @click="cancel(parametre)"/>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>


    </div>
</template>

<script>

    export default {
        methods: {
            getParametres() {
                this.$store.dispatch('configuration/getAll')
            },
            modifier(params) {
                this.$store.dispatch('configuration/editParametre', params)
            },
            cancel(params) {
                params.newValeur = params.valeur;
            }
        },
        computed: {
            listParametre() {
                return this.$store.state.configuration.parametres;
            }
        },
        mounted() {
            this.getParametres();
        }

    }
</script>

<style>
    @import "../assets/css/swagger.css";

    .parametre {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 10px;
    }
</style>
