<template>
  <div>
    <div id="home">
      <img v-if="!currentUser" src="../assets/atexo.png" alt="atexo_img"
           width="300">
      <h1>{{ msg }}</h1>
      <br/>

    </div>
    <div style="margin-bottom: 15px">
      <last-version></last-version>
    </div>
    <signature-outils v-if="isAdmin || isDev"></signature-outils>
    <signature-validation v-if="isAdmin || isDev"></signature-validation>

  </div>
</template>

<script>

import SignatureOutils from "@/pages/SignatureOutils";
import SignatureValidation from "@/pages/SignatureValidation";
import LastVersion
  from "@/feature/version-desktop-application/LastVersionFeature";

export default {
  name: 'Serveur Signature',
  components: {LastVersion, SignatureValidation, SignatureOutils},
  data() {
    return {
      msg: 'Bienvenue sur le Serveur Signature'
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isAdmin() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    isDev() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_DEV');
      }

      return false;
    }
  }
}
</script>

<style>
#home {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.poc-button {
  margin: 10px !important;
}

</style>
