<template>
    <div id="logs-atexo">
        <div class="p-grid margin-top-25 p-justify-center">
            <div class="p-col"> <span class="p-float-label">
                <InputText id="filtre" type="text" v-model="filtre"
                           v-on:keyup="getSignedFilesMonitoring"/>

             <label for="filtre">Filtre</label>
            </span></div>
            <div class="p-col">
                <SelectButton v-model="type" :options="typeOptions"
                              @input="getSignedFilesMonitoring"/>
            </div>
        </div>

        <div v-if="signedFiles.length > 0">
            <div v-for="log in signedFiles"
                 class="ui-g-12 margin-bottom-10 padding-0 margin-top-20 container-border">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="title-container float-left padding-left-10 padding-right-10">
                            <div id="service_short_name"
                                 @click="downloadSignedFile(log.nom)"
                                 style="box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); cursor: pointer">
                                {{
                                log.nom }}
                            </div>
                        </div>
                    </div>
                    <div class="p-col-fixed" style="margin-right: 8px">
                        <Button type="button" icon="pi pi-download"
                                style="background: #6286b6; border: none; border-radius: 25%"
                                @click="downloadSignedFile(log.nom)"
                                class="p-button-secondary"></Button>
                    </div>
                </div>

                <div class="padding-left-10 padding-right-10">
                    <div class="p-grid">
                        <div v-for="col of columns" v-bind:key="col.field" class="p-col">
                            <Cell :value="log[col.field]"
                                  :cell-title="col.header"></Cell>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div v-else>
            Aucun fichier trouvé
        </div>

    </div>
</template>

<script>

    import Cell from "../shared/components/CellComponent";

    export default {
        components: {Cell},
        data() {
            return {
                filtre: null,
                type: 'DECROISSANT',
                typeOptions: ['CROISSANT', 'DECROISSANT'],
                columns: null,
            }
        },
        computed: {
            signedFiles() {
                return this.$store.state.monitoring.signedFiles;
            }
        },
        methods: {
            getSignedFilesMonitoring(event) {
                this.$store.dispatch('monitoring/getSignedFilesMonitoring', {
                    filtre: this.filtre,
                    type: this.type
                })
            },
            downloadSignedFile(nom) {
                this.$store.dispatch('monitoring/downloadSignedFile', nom)
            }
        },
        created() {
            this.columns = [
                {field: 'dateCreation', header: 'Date de Creation'},
                {field: 'dateModification', header: 'Date de Modification'},
                {field: 'dernierAccess', header: 'Dernier Access'},
                {field: 'taille', header: 'Taille'}
            ];
        },
        mounted() {
            this.getSignedFilesMonitoring();
        }
    }
</script>

<style>
    .title-container {
        font-family: read-regular, serif;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 13px;
        letter-spacing: normal;
        color: #000000;
        padding-top: 16px;
    }

</style>
