<template>
  <div id="depot">
    <h1 style="color: #6286b6; font-weight: bold;margin-bottom: 50px">
      Génération de signature
    </h1>
    <div class="container-border padding-20 margin-bottom-20">
      <h2 style="color: #6286b6;margin-bottom: 50px"> Outils Test
        Configuration</h2>
      <Button @click="testConfiguration()"
              class="atexo-style">Lancer
      </Button>
    </div>

    <div class="container-border padding-20 margin-bottom-20">
      <h2 style="color: #6286b6; margin-bottom: 50px"> Outils Application
        Signature</h2>
      <Button @click="launchLocalApplication()"
              class="atexo-style">Lancer
      </Button>
    </div>
    <div class="container-border padding-20 margin-bottom-20">
      <h2 style="color: #6286b6; margin-bottom: 50px"> Signature en ligne</h2>

      <file-with-signature-component :title="'Document à signer :'"
                                     :file="file"
                                     @file-upload="setFileCandidature($event);"/>
      <Button @click="upload()"
              class="atexo-style">Lancer
      </Button>
    </div>

  </div>

</template>

<script>

import FileWithSignatureComponent
  from "@/shared/components/FileWithSignatureComponent";
import SignatureDetailsFeature
  from "@/feature/signatureDetails/SignatureDetailsFeature";

export default {
  name: 'SignatureOutils',
  data() {
    return {
      file: new File([], ""),
      messages: []
    }
  },
  components: {FileWithSignatureComponent, SignatureDetailsFeature},
  methods: {
    setFileCandidature(event) {
      this.file = event;
    },
    upload() {
      this.$store.dispatch('mpeMock/signFile', this.file).then(
          (response) => {
            this.messages.push({
              severity: 'success',
              content: response.data
            });
            this.file = new File([], "");
            this.$store.dispatch('localServer/runLocalApplication', response.data)
          },
          (error) => {
            this.messages.push({
              severity: 'error',
              content: error
            })
          }
      );
    }, testConfiguration() {
      this.$store.dispatch('localServer/runLocalApplication', {
        appId: 'APPLICATION_TEST_CONFIGURATION',
        urlPubliqueServeurCrypto: window.location.origin,
        useragent: navigator.userAgent
      }).then(() => {


      }, () => {
        this.genererSignatureJnlp('outilTest')
      })
    }, launchLocalApplication() {
      this.$store.dispatch('localServer/runLocalApplication', {
        appId: 'APPLICATION_SIGNATURE',
        urlPubliqueServeurCrypto: window.location.origin + '/signature/',
        plateforme: 'PLACE'
      }).then(() => {
        console.log('success')
      }, () => {
        this.genererSignatureJnlp('generateSignatureJNLP')
      })
    },
    genererSignatureJnlp(typeJnlp) {
      this.$store.dispatch('mpeMock/genererSignatureJnlp', typeJnlp).then(
          (response) => {
            this.messages.push({
              severity: 'success',
              content: "Téléchargement est fini avec succès"
            });
            window.scrollTo(0, 0);
          },
          (error) => {
            this.messages.push({
              severity: 'error',
              content: error
            })
            window.scrollTo(0, 0);

          }
      );
    }
  }
}

</script>

<style>
#depot {
  padding: 20px;
}

.p-message-close.p-link {
  margin-left: auto !important;
  overflow: hidden;
  position: relative;
}
</style>
