<template>
    <div id="depot">
        <transition-group name="p-messages" tag="div">
            <Message v-for="msg of messages" :severity="msg.severity"
                     :key="msg.content">
                <div class="margin-left-30"
                     v-html="msg.content">
                </div>
            </Message>
        </transition-group>

        <div class="container-border padding-20">
            <h1 style="color: #6286b6; font-weight: bold; margin-bottom: 30px">
                Vérifier la signature</h1>

            <file-with-signature-component :title="'Document à vérifier :'"
                                           :file="file.fileCandidature"
                                           :signature="file.signatureCandidature"
                                           :show-signature-file="showSignature"
                                           @file-upload="setFileCandidature($event);upload()"
                                           @signature-upload="setSignatureFileCandidature($event);upload()"/>


        </div>
        <div class="container-border padding-20 margin-top-10"
             v-if="showResult">
            <h3 style="color: #6286b6; font-weight: bold"> Résultat du contrôle
                de signature du fichier :
                {{signatureResponse.signatures.length}} signature(s) détectée(s)
                / état signature {{signatureResponse.etat}} / Type signature {{signatureResponse.typeSignature}}
            </h3>

            <signature-details-feature
                    v-for="(signature,index) in signatureResponse.signatures"
                    :signature="signature" :index="index"/>
            <br/>
        </div>
    </div>

</template>

<script>
    import FileModel from "../core/models/file-model";
    import FileWithSignatureComponent
        from "../shared/components/FileWithSignatureComponent";
    import SignatureResponseModel
        from "../core/models/signature-response-model";

    import SignatureDetailsFeature
        from "../feature/signatureDetails/SignatureDetailsFeature";

    export default {
        components: {FileWithSignatureComponent, SignatureDetailsFeature},
        data() {
            return {
                file: new FileModel(),
                messages: [],
                showSignature: false,
                showResult: false,
                signatureResponse: new SignatureResponseModel(),
            }
        },
        methods: {
            setFileCandidature(event) {
                this.file.fileCandidature = event;
            },
            setSignatureFileCandidature(event) {
                this.file.signatureCandidature = event;
            },
            upload() {
                this.messages = [];
                this.$store.dispatch('mpeMock/signatureValidationUpload', this.file).then(
                    (response) => {
                        if (response.data.signatures === null || response.data.signatures === undefined
                            || response.data.signatures.length === 0) {
                            this.showSignature = true;
                            this.messages.push({
                                severity: 'info',
                                content: "Le fichier n'est pas signé. Veuillez joindre le fichier de signature"
                            });
                            this.showResult = false;
                        } else {
                            this.signatureResponse = response.data;
                            this.showResult = true;
                            this.file = new FileModel();
                            window.scrollTo(0, 0);
                        }
                    },
                    (error) => {
                        this.messages.push({
                            severity: 'error',
                            content: error
                        })
                        window.scrollTo(0, 0);
                    }
                );
            }
        }
    }

</script>

<style>
    #depot {
        padding: 20px;
    }

    .p-message-close.p-link {
        margin-left: auto !important;
        overflow: hidden;
        position: relative;
    }
</style>
