<template>
    <div id="swagger-atexo"/>
</template>

<script>
    import SwaggerUI, {presets} from 'swagger-ui'
    import {config} from '../../config/env.config'

    export default {
        watch: {
            $route() {
                this.buildSwagger();
            }
        },
        mounted() {
            this.buildSwagger();
        }
        , methods: {
            buildSwagger() {
                SwaggerUI({
                    url: config.ROOT_API_PREFIX +"/" + this.$route.params.id + "/v2/api-docs?group=REST",
                    dom_id: '#swagger-atexo',
                    presets: [presets.apis],
                    deepLinking: true
                })
            }
        }
    }
</script>

<style>
    @import "../assets/css/swagger.css";

    #swagger-atexo {
        margin-top: -150px;
    }

</style>
