.dume-renseigne {
  &.panel.panel-default {
    .panel-heading {
      .panel-title {
        font-weight: 500;
      }
    }
    .dropdown-toggle {
      font-weight: 500;
    }
  }
}

.tooltip-dume {
  display: inline-block;
  position: relative;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
  border-color: #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
  border-color: #a94442; /* red */
}

.panel-bloc .panel-heading {
  border-bottom: none;
}

pagination ul.pagination {
  padding-left: 8px !important;
  margin: 0 !important;
}

input#dumeNumber {
  width: 100%;
}

.m-t-d-1 {
  margin-top: 2px;
}
