<alert *ngIf="alert" [type]="alert.type">{{ alert.message }}</alert>
<ng-container *ngIf="dumeOE">
    <div class="panel panel-primary dume-renseigne">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <div class="panel-title m-t-2">
                  DUME à renseigner
                </div>
            </div>
            <div class="pull-right btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
                    <i class="fa fa-align-justify m-r-1"></i>
                    Options avancées <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="searchDumeOE(templateSearch)">
                            <i class="fa fa-search "></i>&nbsp;Rechercher et repartir du DUME d'une réponse précédente
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="updateAndDownload()">
                            <i class="fa fa-file-pdf-o"></i>&nbsp;Télécharger mon DUME au format PDF
                        </a>
                    </li>
                  <li role="menuitem">
                    <a class="dropdown-item" (click)="downloadXML()">
                      <i class="fa fa-file-code-o"></i>&nbsp;Télécharger mon DUME au format XML
                    </a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="alert atx-alert"
                 [ngClass]="{'alert-warning' : !dumeOEConfirmed , 'alert-success' : dumeOEConfirmed}"
                 [ngSwitch]="dumeOEConfirmed">
                <ng-container *ngSwitchCase="true">
                    <strong> <i class="fa fa-lg fa-check-circle m-r-1"></i></strong> Vous avez confirmé ce DUME : celui-ci sera
                    automatiquement intégré dans votre
                    réponse.
                </ng-container>
                <ng-container *ngSwitchCase="false">
                  <strong><i class="fa fa-lg fa-exclamation-triangle m-r-1"></i></strong> Attention : une fois
                  complété, afin de confirmer que ce DUME peut être enregistré comme une pièce dans votre réponse,
                  veuillez le valider en cochant la case ci-dessous.
                </ng-container>

                <div class="panel panel-default m-b-0 m-t-3">
                    <div class="panel-heading">
                        <div class="checkbox m-t-0 m-b-0">
                            <label><input type="checkbox" [checked]="dumeOEConfirmed"
                                          (click)="affichModalConfirmation($event)">
                              <div class="m-t-d-1">
                                Les informations renseignées dans ce DUME sont exactes, et
                                peuvent être utilisées dans le cadre de ma réponse
                              </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              Informations générales
            </div>
            <div class="panel-body">
              <p *ngIf="dumeOE.numeroSN">
                Référence de votre DUME : <span class="label label-success">{{dumeOE.numeroSN}}</span>
              </p>
              <p *ngIf="dumeOE.numDumeAcheteurSN">
                Référence du modèle de DUME défini par l'acheteur : <span class="label label-primary">{{dumeOE.numDumeAcheteurSN}}</span>
              </p>
            </div>
          </div>
            <form #dumeOEForm="ngForm">
                <tabset *ngIf="dumeOE">
                    <tab class="panel panel-default">
                        <ng-template tabHeading>
            <span>
              <i class="fa fa-info-circle m-r-1"></i>
              I-II : Informations
            </span>
                        </ng-template>
                        <div class="panel-body text-justify m-b-0">
                            <fieldset>
                                <h2 class="h5 text-primary">
                                  Partie I: Informations concernant la procédure de passation et de marché et le
                                  pouvoir adjudicateur ou
                                    l’entité adjudicatrice
                                </h2>
                              <accordion>
                                <accordion-group heading="Identité de l'acheteur">
                                  <div class="row">
                                    <div class="form-group form-group-sm clearfix">
                                      <label class="col-sm-2 col-md-3">Nom officiel : </label>
                                      <div class="col-sm-10 col-md-9">
                                        {{dumeOE.nomOfficiel}}
                                      </div>
                                    </div>
                                    <div class="form-group form-group-sm clearfix">
                                      <label class="col-sm-2 col-md-3">Pays :</label>
                                      <div class="col-sm-10 col-md-9">
                                        {{dumeOE.pays}}
                                      </div>
                                    </div>
                                  </div>
                                </accordion-group>
                                <accordion-group heading="Informations relatives à la procédure de passation de marché">
                                  <div class="row">
                                    <div class="form-group form-group-sm clearfix">
                                      <label class="col-sm-2 col-md-3">Référence :</label>
                                      <div class="col-sm-10 col-md-9">
                                        {{dumeOE.referenceConsultation}}
                                      </div>
                                    </div>
                                    <div class="form-group form-group-sm clearfix">
                                      <label class="col-sm-2 col-md-3 ">Type de procédure :</label>
                                      <div class="col-sm-10 col-md-9">
                                        {{dumeOE.typeProcedure}}
                                      </div>
                                    </div>
                                    <div class="form-group form-group-sm clearfix">
                                      <label class="col-sm-2 col-md-3">Intitulé de la consultation :</label>
                                      <div class="col-sm-10 col-md-9">
                                        {{dumeOE.intitule}}
                                      </div>
                                    </div>
                                    <div class="form-group form-group-sm clearfix">
                                      <label class="col-sm-2 col-md-3">Objet de la consultation :</label>
                                      <div class="col-sm-10 col-md-9">
                                        {{dumeOE.objet}}
                                      </div>
                                    </div>
                                  </div>
                                </accordion-group>
                              </accordion>
                            </fieldset>
                            <fieldset>
                                <h2 class="h5 text-primary">
                                  Partie II : Informations concernant l’opérateur économique
                                </h2>
                                <accordion>
                                    <accordion-group *ngIf="categorieOtherA" heading="{{categorieOtherA?.titre}}" [isOpen]="true">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--DEBUT NOM-->
                                                <div class="form-group form-group-sm clearfix">
                                                    <label for="nomOperation">Nom</label>
                                                    <input id="nomOperation" name="nomOperation" class="form-control "
                                                           [(ngModel)]="dumeOE.economicPartyInfo.nom">
                                                </div>
                                                <!--FIN NOM-->
                                                <!--DEBUT RUE ET NUMERO-->
                                                <div class="form-group form-group-sm clearfix">
                                                    <label for="rueOperateur">Rue et numéro</label>
                                                    <input id="rueOperateur" name="rueOperateur" [(ngModel)]="dumeOE.economicPartyInfo.rue"
                                                           class="form-control ">
                                                </div>
                                                <!--FIN  RUE ET NUMERO-->
                                                <!--DEBUT CODE POSTALE-->
                                                <div class="form-group form-group-sm clearfix">
                                                    <label for="codepostalOperateur">Code postal</label>
                                                    <input [(ngModel)]="dumeOE.economicPartyInfo.codePostal" id="codepostalOperateur"
                                                           name="codepostalOperateur"
                                                           class="form-control ">
                                                </div>
                                                <!--END CODE POSTALE-->
                                                <!--DEBUT VILLE-->
                                                <div class="form-group form-group-sm clearfix">
                                                    <label for="villeOperateur">Ville</label>
                                                    <input id="villeOperateur" name="villeOperateur" [(ngModel)]="dumeOE.economicPartyInfo.ville"
                                                           class="form-control ">
                                                </div>
                                                <!--FIN VILLE-->
                                                <!--DEBUT PAYS-->
                                                <div class="form-group form-group-sm clearfix">
                                                    <label for="paysOperateur">Pays</label>
                                                    <select [compareWith]="customCompareCountry" [(ngModel)]="dumeOE.economicPartyInfo.pays"
                                                            id="paysOperateur" name="paysOperateur"
                                                            class="form-control ">
                                                        <option *ngFor="let pay of pays" [ngValue]="pay">
                                                            {{pay.label}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <!--FIN PAYS-->
                                            </div>
                                            <div class="col-md-6">
                                                <!--DEBUT NUMERO TVA-->
                                                <div class="form-group form-group-sm clearfix">
                                                  <div class="row">
                                                    <label class="col-md-12" for="numeroTva">
                                                      Numéro de TVA
                                                      <span class="small">(le cas échéant)</span>
                                                    </label>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-11">
                                                          <input [(ngModel)]="dumeOE.economicPartyInfo.numTVA" id="numeroTva" name="numeroTva"
                                                                 class="form-control ">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--FIN NUMERO TVA-->
                                              <!--DEBUT PERSONNE DE CONTACT-->
                                                <div class="form-group form-group-sm clearfix">
                                                  <div class="row">
                                                    <label class="col-md-12" for="contactOperateur">Personne à contacter</label>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-11">
                                                          <input [(ngModel)]="dumeOE.economicPartyInfo.contact" id="contactOperateur"
                                                                 name="contactOperateur"
                                                                 class="form-control ">
                                                        </div>
                                                        <div class="col-md-1">
                                                          <i data-toggle="tooltip" title="Ce champ a été pré-rempli à partir des informations de votre compte."
                                                             class="fa fa-lg fa-info-circle"></i>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--FIN PERSONNE DE CONTACTE-->
                                                <!--DEBUT TELEPHONE-->
                                                <div class="form-group form-group-sm clearfix">
                                                  <div class="row">
                                                    <label class="col-md-11" for="telOperateur">Téléphone du contact</label>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-11">
                                                          <input [(ngModel)]="dumeOE.economicPartyInfo.telephone" id="telOperateur" name="telOperateur"
                                                                 class="form-control ">
                                                        </div>
                                                        <div class="col-md-1">
                                                          <i data-toggle="tooltip" title="Ce champ a été pré-rempli à partir des informations de votre compte."
                                                             class="fa fa-lg fa-info-circle"></i>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--FIN TELEPHONE-->
                                                <!--DEBUT ADRESSE ELECTRONIQUE-->
                                                <div class="form-group form-group-sm clearfix">
                                                  <div class="row">
                                                    <label class="col-md-12" for="mailOperateur">Adresse électronique du contact</label>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-11">
                                                          <input [(ngModel)]="dumeOE.economicPartyInfo.email" id="mailOperateur" name="mailOperateur"
                                                                 class="form-control ">
                                                        </div>
                                                        <div class="col-md-1">
                                                          <i data-toggle="tooltip" title="Ce champ a été pré-rempli à partir des informations de votre compte."
                                                             class="fa fa-lg fa-info-circle"></i>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--FIN ADRESSE ELECTRONIQUE-->
                                                <!--DEBUT ADRESSE WEB-->
                                                <div class="form-group form-group-sm clearfix">
                                                  <div class="row">
                                                    <label class="col-md-12" for="adresseWeb">
                                                      Adresse internet (adresse web)
                                                      <span class="small">(le cas échéant)</span>
                                                    </label>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-11">
                                                          <input [(ngModel)]="dumeOE.economicPartyInfo.siteInternet" id="adresseWeb" name="adresseWeb"
                                                                 class="form-control ">
                                                        </div>
                                                      </div>

                                                    </div>
                                                  </div>


                                                </div>
                                                <!--FIN ADRESSE WEB-->
                                            </div>
                                            <!--DEBUT ABSENCE NUMERO TVA-->
                                            <div class="col-md-12">
                                                <div class="form-group form-group-sm clearfix">
                                                    <label for="noTva">En l’absence de numéro de TVA, veuillez indiquer un autre numéro
                                                        d’identification national, le
                                                        cas échéant et s’il y a lieu</label>
                                                    <input [(ngModel)]="dumeOE.economicPartyInfo.numEtrange" id="noTva" name="noTva"
                                                           class="form-control ">
                                                </div>
                                            </div>
                                            <!--FIN ABSENCE NUMERO TVA-->
                                        </div>
                                        <div class="form-group form-group-sm clearfix">
                                            <label id="microEntreprise" class="pull-left">
                                                L'opérateur économique est-il une micro, une petite ou une moyenne entreprise ?
                                            </label>
                                            <div class="pull-left m-l-1">
                                                <label class="radio-inline">
                                                    <input type="radio" name="microTrue" [(ngModel)]="dumeOE.micro" [value]="true">
                                                    Oui
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="microFalse" [(ngModel)]="dumeOE.micro" [value]="false">
                                                    Non
                                                </label>
                                            </div>
                                        </div>

                                      <dume-criteria-response *ngFor="let criteria of categorieOtherA?.criterias"
                                                              [criteria]="criteria" (eCertisSelected)="showECertis($event)"></dume-criteria-response>
                                        <div class="form-group form-group-sm clearfix">
                                            <label for="lots">Lot(s) pour lesquel(s) la candidature est présentée</label>
                                          <input id="lots" name="lots" class="form-control " disabled
                                                 [ngModel]="dumeOE.lots">
                                        </div>
                                    </accordion-group>
                                    <accordion-group heading="B: Informations relatives aux représentants de l’opérateur économique"
                                                     [isOpen]="true">
                                        <div class="alert alert-info" role="alert">
                                            <i class="fa fa-info-circle"></i>
                                            Le cas échéant, veuillez indiquer le nom et adresse de la personne habilitée à représenter
                                            l’opérateur économique aux fins de la présente procédure de passation de marché.
                                        </div>
                                        <div class="row" *ngFor="let representant of dumeOE.representantLegals">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-sm ">
                                                    <label for="prenomRepresentant">Prénom</label>
                                                    <input [(ngModel)]="representant.prenom" id="prenomRepresentant" name="prenomRepresentant"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm ">
                                                    <label for="nomRepresentant">Nom</label>
                                                    <input [(ngModel)]="representant.nom" id="nomRepresentant" name="nomRepresentant"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="dateRepresentant">Date de naissance</label>
                                                    <input [(ngModel)]="representant.dateNaissance" id="dateRepresentant" name="dateRepresentant"
                                                           [ngModelOptions]="{updateOn: 'blur'}"
                                                           class="form-control " type="text" placeholder="jj/mm/aaaa" date>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="lieuRepresentant">Lieu de naissance</label>
                                                    <input [(ngModel)]="representant.lieuNaissance" id="lieuRepresentant" name="lieuRepresentant"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="telRepresentant">Téléphone</label>
                                                    <input [(ngModel)]="representant.telephone" id="telRepresentant" name="telRepresentant"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="mailRepresentant">Adresse électronique</label>
                                                    <input [(ngModel)]="representant.email" id="mailRepresentant" name="mailRepresentant"
                                                           class="form-control " type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-sm">
                                                    <label for="rueRepresentant">Rue et numéro</label>
                                                    <input [(ngModel)]="representant.rue" id="rueRepresentant" name="rueRepresentant"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="codepostalRepresentant">Code postal</label>
                                                    <input [(ngModel)]="representant.codePostal" id="codepostalRepresentant"
                                                           name="codepostalRepresentant"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="idVille">Ville</label>
                                                    <input [(ngModel)]="representant.ville" id="idVille" name="idVille"
                                                           class="form-control ">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="paysRepresentatnt">Pays</label>
                                                    <select [compareWith]="customCompareCountry" [(ngModel)]="representant.pays"
                                                            id="paysRepresentatnt" name="paysRepresentatnt"
                                                            class="form-control ">
                                                        <option *ngFor="let pay of pays" [ngValue]="pay">
                                                            {{pay.label}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label for="fonctionRepresentatnt">Fonction/agissant en qualité de</label>
                                                    <input [(ngModel)]="representant.fonction" id="fonctionRepresentatnt"
                                                           name="fonctionRepresentatnt"
                                                           class="form-control ">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group form-group-sm">
                                                    <label for="detailRepresentant">
                                                        Le cas échéant, veuillez fournir des informations détaillées sur la représentation (forme,
                                                        étendue,
                                                        finalité, etc.)
                                                    </label>
                                                    <textarea [(ngModel)]="representant.details" id="detailRepresentant" name="detailRepresentant"
                                                              class="form-control "></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                    <accordion-group *ngIf="categorieOtherC" heading="{{categorieOtherC?.titre}}" [isOpen]="true">
                                      <dume-criteria-response *ngFor="let criteria of categorieOtherC?.criterias"
                                                              [criteria]="criteria" (eCertisSelected)="showECertis($event)"></dume-criteria-response>
                                    </accordion-group>
                                    <accordion-group *ngIf="categorieOtherD" heading="{{categorieOtherD?.titre}}" [isOpen]="true">
                                        <div class="alert alert-info" role="alert">
                                            <i class="fa fa-info-circle"></i>
                                            Section à remplir uniquement si ces informations sont explicitement demandées par le pouvoir
                                            adjudicateur ou par l’entité adjudicatrice.
                                        </div>
                                      <dume-criteria-response *ngFor="let criteria of categorieOtherD?.criterias"
                                                              [criteria]="criteria" (eCertisSelected)="showECertis($event)"></dume-criteria-response>
                                        <div class="alert alert-info" role="alert">
                                            <i class="fa fa-info-circle"></i>
                                            Si le pouvoir adjudicateur ou l’entité adjudicatrice demande explicitement ces informations en plus
                                            de celles visées à la partie I, veuillez communiquer les informations demandées dans les sections A
                                            et B de cette partie et de la partie III pour chacun des (catégories de) sous-traitants concernés.
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </fieldset>
                        </div>
                    </tab>
                    <tab class="panel panel-default">
                        <ng-template tabHeading>
            <span>
              <i class="fa fa-warning m-r-1"></i>
              III : Motifs d'exclusion
            </span>
                        </ng-template>
                        <div class="panel-body text-justify">
                            <h2 class="h5 text-primary">
                                Partie III : Motifs d’exclusion
                            </h2>
                            <accordion *ngIf="categoriesExculsion?.length > 0">
                                <accordion-group *ngFor="let categorie of categoriesExculsion"
                                                 [(isOpen)]="categorie.open">
                                    <div accordion-heading class="clearfix">
                                        {{categorie.titre}}
                                        <div class="pull-right">
                                            <div [ngSwitch]="checkValid(categorie)" class="tooltip-dume">
                                                <ng-container *ngSwitchCase="true">
                                                    <i class="fa fa-lg text-success fa-check"
                                                       tooltip="Vous n'êtes concerné par aucun motif d'exclusion de cette catégorie."
                                                    ></i>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="false">
                                                    <i class="fa fa-lg fa-exclamation-triangle text-warning"
                                                       tooltip="Vous êtes concerné par au moins un motif d'exclusion de cette catégorie."></i>
                                                </ng-container>
                                            </div>
                                            &nbsp;
                                            <span class="badge badge-pill badge-primary">{{categorie.criterias.length}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="categorie.description && categorie.description.length > 0" class="alert alert-info">
                                        <i class="fa fa-book"></i>
                                        {{categorie.description}}
                                    </div>
                                  <dume-criteria-response *ngFor="let criteria of categorie.criterias"
                                                          [criteria]="criteria" (eCertisSelected)="showECertis($event)"
                                  ></dume-criteria-response>
                                </accordion-group>
                            </accordion>
                        </div>
                    </tab>
                    <tab class="panel panel-default">
                        <ng-template tabHeading>
            <span>
              <i class="fa fa-check-square m-r-1"></i>
              IV : Critères de sélection de la candidature
            </span>
                        </ng-template>
                        <div class="panel-body text-justify">
                            <h2 class="h5 text-primary">
                                Partie IV : Critères de sélection de la candidature
                            </h2>
                            <accordion *ngIf="categoriesSelection?.length > 0">
                                <accordion-group *ngFor="let categorie of categoriesSelection"
                                                 [isOpen]="true">
                                    <div accordion-heading [innerHtml]="categorie.titre">
                                    </div>
                                    <ng-container *ngIf="categorie.criterias.length > 0">
                                        <div *ngIf="categorie.description && categorie.description.length > 0" class="alert alert-info">
                                            <i class="fa fa-book"></i>
                                            {{categorie.description}}
                                        </div>
                                      <dume-criteria-response *ngFor="let criteria of categorie.criterias"
                                                              [criteria]="criteria" (eCertisSelected)="showECertis($event)"></dume-criteria-response>
                                    </ng-container>
                                    <div *ngIf="categorie.criterias.length === 0" class="alert alert-info">
                                        <i class="fa fa-info-circle m-r-1"></i>
                                        L'acheteur n'a pas défini de critère de sélection dans cette catégorie.
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </tab>
                    <tab class="panel panel-default">
                        <ng-template tabHeading>
            <span>
              <i class="fa fa-flag m-r-1"></i>
              V-VI : Finalisation
            </span>
                        </ng-template>
                        <div class="panel-body text-justify">
                            <accordion>
                                <accordion-group *ngIf="categorieFinal" heading="{{categorieFinal?.titre}}" [isOpen]="true">
                                  <dume-criteria-response *ngFor="let criteria of categorieFinal?.criterias"
                                                          [criteria]="criteria" (eCertisSelected)="showECertis($event)"></dume-criteria-response>
                                </accordion-group>
                              <accordion-group heading="Partie VI : Déclarations finales" [isOpen]="true">
                                    <div class="clearfix">
                                        Les opérateurs économiques déclarent sur l’honneur que les informations fournies dans les parties II à
                                        V ci-dessus sont exactes et correctes et qu’elles ont été établies en parfaite connaissance des
                                        conséquences de toute fausse déclaration.
                                        <p>Les opérateurs économiques déclarent formellement être en mesure, sur demande et sans tarder, de
                                            fournir les certificats et autres formes de pièces justificatives visés, sauf si:</p>
                                        <ol type="a">
                                            <li>
                                                le pouvoir adjudicateur ou l’entité adjudicatrice a la possibilité d’obtenir directement les
                                                documents justificatifs concernés en consultant une base de données nationale dans un État membre
                                                qui est accessible gratuitement, à condition que l’opérateur économique ait fourni les
                                                informations nécessaires (adresse du site web, autorité ou organisme de délivrance, référence
                                                précise des documents) permettant au pouvoir adjudicateur ou à l’entité adjudicatrice de les
                                                obtenir, avec l’autorisation d’accès correspondante; ou
                                            </li>
                                            <li>
                                                à partir du 18 octobre 2018 au plus tard (en fonction de la transposition en droit national de
                                                l’article 59, paragraphe 5, deuxième alinéa, de la directive 2014/24/UE), le pouvoir adjudicateur
                                                ou l’entité adjudicatrice est déjà en possession des documents concernés.
                                            </li>
                                        </ol>
                                        Les opérateurs économiques consentent formellement à ce que le pouvoir adjudicateur ou l’entité
                                        adjudicatrice, figurant à la partie I, section A, ait accès aux documents justificatifs étayant les
                                        informations fournies dans le présent document unique de marché européen.
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </tab>
                </tabset>

                <button type="button" [disabled]="dumeOEForm.invalid" id="saveDume" style="display: none"
                        class="btn btn-sm btn-success btn-reload pull-right"
                        (click)="updateDumeOE(dumeOEConfirmed)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Mise à jour
                </button>

            </form>
        </div>
    </div>

    <div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left" id="modalConfirmation">Note importante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="modal.hide()">&times;</span>
                    </button>
                </div>
                <ng-container [ngSwitch]="dumeOEForm.invalid">
                    <ng-container *ngSwitchCase="false">
                        <div class="modal-body">
                            <div class="alert alert-warning">
                              <strong><i class="fa fa-lg fa-exclamation-triangle"></i></strong> Cette validation ne sera
                              prise en compte qu’après enregistrement du DUME
                            </div>
                        </div>
                        <div class="modal-footer clearfix">
                            <button type="button" class="btn btn-sm btn-default pull-left" data-dismiss="modal"
                                    (click)=" modal.hide()">Ne pas
                                enregistrer
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary pull-right" data-dismiss="modal"
                                    (click)="updateDumeOE(true); modal.hide();">Enregistrer
                            </button>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="true">
                        <div class="modal-body">
                            <div class="alert alert-danger">
                                <strong><i class="fa fa-lg fa-ban"></i></strong> Votre DUME ne peut pas être confirmé car ce dernier contient
                                au moins une erreur.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    (click)="dumeOE.confirmed = false;modal.hide()">Fermer
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Modale Rechherche -->
    <div bsModal #templateSearch="bs-modal" class="modal fade form-horizontal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left text-primary">
                        <strong>Recherche d'un DUME existant dans le service DUME national</strong>
                    </h5>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="templateSearch.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- form -->
                    <div class="panel panel-default panel-bloc">
                        <div class="panel-heading">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group clearfix">
                                        <div class="col-md-12">
                                            <div class="pull-left h4 m-0">Rechercher un DUME existant</div>
                                            <div class="small pull-right">
                                                Le symbole
                                                <span class="text-danger">*</span>
                                                indique les champs obligatoires
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group form-group-sm clearfix form-inline">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label for="dumeNumber" class="col-md-3 control-label">
                                                    Référence du DUME <span class="text-danger">*</span>: <i class="fa fa-info-circle" data-toggle="tooltip"
                                                                                                             title="Référence exacte du DUME"></i>
                                                </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" [(ngModel)]="dumeNumber" id="dumeNumber" placeholder="Référence exacte du DUME">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <button type="button" [disabled]="dumeNumber===null || dumeNumber===undefined||dumeNumber.trim()==''" class="btn btn-sm pull-right btn-primary"
                                    (click)="searchDumeOEFromSN()">Lancer la recherche
                            </button>
                        </div>
                    </div>
                    <!-- Result -->
                    <div *ngIf="searchResult.length==0" class="clearfix">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="alert alert-warning text-center">Aucun résultat</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="searchResult.length>0" class="clearfix">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="clearfix">
                                    <!--  Fake pagination -->
                                    <div class="pull-left">
                                        <strong>Nombre de résultats : {{searchResult.length}}</strong>
                                    </div>
                                    <div class="pull-right form-group from-group-sm">
                                        <ul class="list-unstyled list-inline">
                                            <li class="m-top">
                                                <select class="form-control input-sm">
                                                    <option *ngFor="let nbItems of [10,20,50]">{{nbItems}}</option>
                                                </select>
                                            </li>
                                            <li class="m-top"> résultats par page</li>
                                            <li>
                                                <pagination [boundaryLinks]="true" [totalItems]="10"
                                                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

                                                </pagination>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <table class="table panel panel-default">
                                    <thead class="panel-heading">
                                    <tr>
                                        <th class="text-primary">
                                            <strong>DUME <i class="fa fa-sort m-l-1"></i></strong>
                                        </th>
                                        <th class="text-primary">
                                            <strong>Référence consultation<i class="fa fa-sort m-l-1"></i></strong>
                                        </th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let r of searchResult">
                                      <td>{{r.numeroSN}}</td>
                                      <td>{{r.referenceConsultation}}</td>
                                      <td class="text-right">
                                            <button class="btn btn-sm btn-success" (click)="openConfirmationModal(r)"><i class="fa fa-arrow-right"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-sm btn-default pull-left" aria-label="Close" (click)="templateSearch.hide()">
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modale Confirmation-->
    <div bsModal #templateConfirmation="bs-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Note importante</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="templateConfirmation.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-warning">
                      Attention : les informations saisies jusqu'à présent dans le DUME actuel seront remplacées par les informations contenues dans le DUME N°<b>{{selectedDTO?.numeroSN}}</b>.
                        <br>Souhaitez-vous continuer ?
                    </p>
                </div>
                <div class="modal-footer clearfix">
                    <button (click)="templateConfirmation.hide()" class="btn btn-sm btn-default pull-left">Annuler</button>
                    <button (click)="saveFromSelectedDTO()" class="btn btn-sm btn-primary">Continuer</button>
                </div>
            </div>
        </div>
    </div>
  <!-- Modale Post Save-->
  <div bsModal #templatePostSave="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Note importante</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="templatePostSave.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="alert alert-info">
            <i class="fa fa-info-circle m-r-1 fa-lg"></i>
            Les éléments de réponse précédemment saisis dans le DUME sélectionné ont été chargés.
          </p>
          <p class="alert alert-warning">
            <i class="fa fa-exclamation-triangle m-r-1 fa-lg"></i>
            Merci de vous assurer que tous les éléments de réponse sont correctement saisis (critères de sélection et
            motifs d'exclusion)
          </p>
        </div>
        <div class="modal-footer clearfix">
          <button (click)="templatePostSave.hide()" class="btn btn-sm btn-primary">J'ai compris</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modale e-certis-->
  <div bsModal #templateECertis="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Références réglementaires et preuves liées</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="templateECertis.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group form-group-sm clearfix form-horizontal">
            <div class="col-md-12">
              <div class="row">
                <label class="col-md-3 control-label">
                  Votre pays :
                </label>
                <div class="col-md-7">
                  <select class="form-control" [(ngModel)]="selectedECertisCountryCode">
                    <option *ngFor="let p of pays" [ngValue]="p.code">{{p.label}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-sm btn-primary" (click)="getProof()">Valider</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">{{selectedECertisCriteria?.shortName}}</div>
            <div *ngIf="eCertisProof" class="panel-body">
              <div *ngFor="let pr of eCertisProof">
              <!-- Références réglementaires locales -->
              <div class="panel panel-default">
                <div class="panel-heading">Références réglementaires locales</div>
                <div class="panel-body">
                  <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                      <label class="col-sm-4 control-label">Acte législatif</label>
                      <div class="col-sm-8 p-t-1">
                        {{pr?.criterion.titreDeLaLegislationReference}}
                      </div>
                    </div>
                    <div class="form-group form-group-sm">
                      <label class="col-sm-4 control-label">Article</label>
                      <div class="col-sm-8 p-t-1">
                        {{pr?.criterion.articleDeLegislationReference}}
                      </div>
                    </div>
                    <div class="form-group form-group-sm">
                      <label class="col-sm-4 control-label">Description</label>
                      <div class="col-sm-8 p-t-1">
                        {{pr?.criterion.descriptionDuSubCriterion}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- preuves liées -->
              <table class="table">
                <thead>
                <tr>
                  <th>Preuves liées</th>
                  <th>Emetteur, le cas échéant</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let evidence of pr.evidences">
                  <td>{{evidence.texte}}</td>
                  <td>{{evidence.publiPar}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer clearfix">
          <button (click)="templateECertis.hide()" class="btn btn-sm btn-primary">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
