{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ERROR_MESSAGE'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts_header %}
{% endblock %}

{% block body %}
    {#
    @todo : revoir le designe de la page d'erreur !
    #}
    <div class="danger">
        {{ error }}
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}