{% if isAssistanceButtonDisplayed(app.user) %}
    {% set userType =
        (app.request.attributes.get('_firewall_context') == 'security.firewall.map.context.agents')
        ? 'agent'
        : 'entreprise'
    %}
    <div id="acces-utah" class="help-bar">
        <!-- Debut recuperation java version -->
        <input type="hidden" name="ctl0$atexoUtah$javaVersion" id="ctl0_atexoUtah_javaVersion" />
        <script type="text/javascript" src="{{ PF_URL }}ressources/java/deployJava.js"></script>
        <script type="text/javascript">
            document.getElementById("ctl0_atexoUtah_javaVersion").value = deployJava.getJREs();
            function goToUtah(){
                var jv = deployJava.getJREs();
                var url = "{{ PF_URL }}{{ app.request.pathInfo | trim('/', 'left') }}?Utah=OK&calledFrom={{ userType }}&javaVersion="+jv;
                window.open(url, '_blank');
                return false;
            }
        </script>
        <!-- Fin recuperation java version -->
        <!-- Debut message erreur acces UTAH -->

        <!-- Fin message erreur acces UTAH -->

        <!-- Debut acces UTAH -->
        <ul>
            <li>
                <a href="#" onclick="goToUtah()" Class="assistance" data-tnr="accesFaq" aria-label="Assistance">
                <span class="text">
					{{ 'DEFINE_ASSISTANCE'|trans }}
			    </span>

                </a>
            </li>
        </ul>
        <!-- Fin acces UTAH -->
    </div>
{% else %}
    <div id="acces-tel" class="help-bar">
        <ul>
            <li>
                <a href="{{ getUrlAssistanceTelephonique(calledFrom) }}" target="_blank" class="assistance" data-tnr="accesFaq">
                <span class="text">
					{{ 'DEFINE_TEXT_ASSISTANCE_TELEPHONIQUE'|trans }}
                    <span>{{  getNumeroAssistanceTelephonique(calledFrom) }}</span>
			    </span>

                </a>
            </li>
        </ul>
        <!-- Fin acces UTAH -->
    </div>
{% endif %}
