
<script type="text/javascript" src="fr.paris.epm.redaction.document.nocache.js"></script>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/tiny_mce/tiny_mce_src.js"></script>
<script type="text/javascript" src="js/recap.js"></script>
<script type="text/javascript" src="js/apercuDynamique.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            textChanged()
        }, 200);
    });
</script>

<iframe id="__gwt_historyFrame" style="width: 0; height: 0; border: 0"></iframe>
<div class="main-part">
    <div class='breadcrumbs'>Administration > Document > Gestion</div>
    <a href='#' class='fiche-pratique'>Fiche pratique</a>
    <div class='breaker'></div>
    <div id="main-part"></div>
</div>

