//panel

.panel {
  @include border-radius(0.30);
  @include box-shadow(#{ 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) });

  .panel-heading {
    font-weight: bold;
    background-color: $light-grey;
    @include quicksand-bold;
    @include font-size(1.6);

    .btn {
      @include quicksand-bold;
      @include font-size(1.6);
    }

    &.big {
      height: 50px;
      line-height: 3rem;
    }
  }

  .panel-body {
    background-color: $lightest-grey;
  }

  .row {
    margin-bottom: 1rem;

    & > [class*="col"]:first-child {
      @include quicksand-bold;
    }
  }
}

