//collapse

.accordion > .card {
  .card-header {
    padding: 0;
    background-color: $blue;

    .btn {
      position: relative;
      width: 100%;
      text-decoration: none;
      padding: .65rem 1.25rem;
      text-align: left;
      color: $white;
      background-color: transparent;

      &:after {
        font-family: "Font Awesome 5 Free";
        content: '\f068';
        @include vertical-align;
        color: $white;
        right: 1%;
      }

      &.collapsed:after {
        content: '\f067';
      }
    }

  }

  &:last-of-type {
    @include border-radius(0.30);
  }
}

