.entete-echange {
  width: 100%;
  min-width: 1100px;
  .badge-info {
    margin-left: 0px !important;
  }
}

.panel-body {
  background-color: $panel-body;
  border-radius: $border-echange-radius;
  border: $border-echange;
}

.objet-echange {
  color: $objet-echange;
  height: 25px;
  font-size: $objet-echange-size;
}

.description-echange {
  color: $description-echange;
}

.files-echange {
  color: $objet-echange;
}

.label-info-custom {
  color: $label-info-custom;
}
