//modals
.modal-title {
  font-size: 1.75rem;
  overflow: hidden;
  @include quicksand-bold;
  font-style: normal;
  border-bottom: none;
  color: $black2;
}

.modal-header {
  padding: 1rem 1.55rem;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  &:before,
  &:after {
    display: none;
  }

  .close {
    box-shadow: none;
    color: $dark-grey2;
    font-size: 2.4rem;
    @include quicksand-light;
    font-style: normal;
    opacity: 1;
    height: 20px;
  }
}

.modal-header-background {
  background: $modal-header-background;
}

.modal-body {
  padding: 1.55rem;
}

.modal-footer {
  background-color: $lightest-grey2;
  border-top: 1px solid $light-grey;
  padding: 1.55rem;
}

.modal-large {
  .modal-dialog {
    height: auto;
    max-width: 55%;
    margin: 3% auto;
  }
}