//variables
$fa-font-path: "../webfonts";

//colors
$white: #ffffff;
$black: #000000;
$black2: #333333;
$darker-blue: #004494;
$darker-blue_hover: #2660a4;
$dark-blue: #006fb4;
$blue: #2660a4;
$darker-grey: #212121;
$dark-grey2: #616161;
$dark-grey: #757575;
$grey: rgba(0, 0, 0, .125);
$grey2: #D2D2D2;
$light-grey: #eeeeee;
$lighter-grey: #ececec;
$lightest-grey: #fafafa;
$lightest-grey2: #f5f5f5;
$darker-orange: #ee821d;
$orange: #f4a547;
$yellow: #FFCB00;

//alert colors
$alert-info: #2685bf;
$alert-info-border: #4d9acb;
$alert-success: #628e57;
$alert-success-border: #7ea274;
$alert-warning: #f4a547;
$alert-warning-border: #f6b568;
$alert-danger: #e0424f;
$alert-danger-border: #e5646e;
$tag-alert-info-border: #038387;
$tag-alert-info: #FFFFFF;
$tag-primary: #2660AD;

$bg-danger: #da2130;
$bg-danger--hover: #e0424f;
$bg-light-grey: #eeeeee;
$border-danger: #da2130;


//discussion thread colors
$delivered: #5CB85C;
$readed: #5BC0DE;
$info: #056D9F;
$error: #da2130;


$panel-body: #FAFAFA;
$border-echange: 1px solid rgba(0, 0, 0, 0.125);
$border-echange-radius: 5px;

$objet-echange: #2660A4;
$objet-echange-size: 14px;

$description-echange: #757575;

$alert-primary: #337AB7;
$tag-primary: #337AB7;
$tag-danger: #D43F3A;
$tag-success: #5CB85C;
$tag-progress: #F4A547;
$relance: #056D9F;
$alert-progress : #F4A547;


$border-color: #dee2e6;
$hover-bg: rgba(0,0,0,.075);
$background: #fff;
$color: #212529;
$dark-border-color: #32383e;

$modal-header-background: #EEEEEE;
$label-info-custom: #858585;

$echange-color: #FFFFFF;
$echange-color-over: #FFFFFF;

$echange-background-color: #2660a4;
$echange-background-color-hover: #2660a4;
