//common
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  @include quicksand-regular;
  @include font-size(1.4);
}

*[class*="mark"]:after {
  margin-left: 3px;
}

//titres
h1,
.h1 {
  @include quicksand-light;
  font-weight: normal;
  @include font-size(2.4);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h5,
.h5 {
  @include quicksand-regular;
  font-weight: normal;
  @include font-size(1.575);
  color: $darker-blue;
}


a, a:not([href]):not([tabindex]) {
  color: $darker-blue !important;
  cursor: pointer !important;
}

b, optgroup, strong {
  @include quicksand-bold;
}

.txt-black {
  color: $black2;
}

.txt-blue {
  color: $darker-blue;
}

.txt-delivered {
  color: $delivered;
}

.txt-undelivered {
  color: $alert-danger;
}

.txt-draft {
  color: $alert-warning;
}

.txt-send {
  color: $darker-blue;
}

.txt-response-awaited {
  color: $darker-orange;
}

.txt-acknowledgment {
  color: $dark-blue;
}

hr {
  margin: 1.5rem 0;
}

.fsize-12 {
  font-size: 1.2rem;
}

.fsize-16 {
  font-size: 1.6rem;
}

// Page rédaction message
//#redactionMessage {
//  .card:nth-child(2) .card-body {
//    background-color: $light-grey;
//  }
//}

// Page dashboard échange
#tableDashboardEchange {
  .tableDashboardEchange_col-1 {
    position: relative;
    width: 35px;
  }

  .tableDashboardEchange_col-2 {
    width: 210px;
  }

  .tableDashboardEchange_col-4 {
    width: 70px;
  }

}

#tableDashboardEntreprise {
  .tableDashboardEntreprise_col-1 {
    width: 210px;
  }

  .tableDashboardEntreprise_col-3 {
    width: 70px;
  }
}

.hidden {
  display: none;
}

.truncate {
  width: auto !important;
  text-overflow: unset !important;
  white-space: normal !important;
}

.ng-optgroup {
  font-weight: bold;
  font-size: 1.6rem;
}

.ql-snow {
  background-color: #ffffff !important;
}

.tooltip {
  font-size: 1.4rem;
}

// downgrade to bootstrap 3
.row {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  width: 25% !important;
}

.col-md-9 {
  width: 75% !important;
}

.checkbox {
  margin: 0px;
}

.d-flex {
  display: -webkit-box !important;
  display: flex !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.progress-bar {
  font-size: 1.25rem;
  font-weight: bold;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}


.create-echange {
  background-color: $echange-background-color !important;
  color: $echange-color  !important;
  border-radius: 5px;
}

.create-echange :hover {
  background-color: $echange-background-color-hover !important;
  color: $echange-color-over  !important;
  border-radius: 5px;
}


