/*!
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

#forms-organisme {
  #entitePublique {
    h5 {
      margin-bottom: 14px;
    }
  }
}

.card.navigator, .card.results {
  height: 75%
}

#organismes-table {
  thead {
    background-color: white;
    .action-col {
      width: 8%;
    }
  }
  .button-link
  {
    background-color: #0E3A5A !important; //!important pour surcharger la couleur du bouton car le plugin modern-admin set la couleur avec la propriété !important
    &.update {
      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}