<div class="card">
    <div class="card-content height-100-per">
        <div class="media align-items-stretch height-100-per">
            <div class="media-body pr-1">
                <div class="row height-100-per">
                    <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
                        <div class="media align-items-stretch height-100-per">
                            <div class="p-2 text-center bg-primary primary-client-bg rounded-left d-flex">
                                <i class="ft-search font-large-1 text-white margin-auto"></i>
                            </div>
                            <div class="py-1 px-2 media-body">
                                <h3 class="primary">{{ total }}</h3>
                                <span>{{"redaction.resultatRecherche" | translate}}</span>
                            </div>
                        </div>

                        <div *ngIf="cardView">
                            <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'primary-client-bg active':showDetails===false}"
                                       id="base-pill1"
                                       data-toggle="collapse" (click)="onChangeExpanded.emit(false)"
                                       aria-expanded="true">{{"redaction.vueListe" | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'primary-client-bg active':showDetails===true}"
                                       id="base-pill2"
                                       data-toggle="collapse"
                                       (click)="onChangeExpanded.emit(true)"
                                       aria-expanded="false">{{"redaction.vueDetaillee" | translate}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
