{% extends 'layout/popup/layout-popup-agent.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('enchere') }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    {{ encore_entry_script_tags('enchere') }}
{% endblock %}


{% block content %}
    <script>
        let labels = [];
        let series = [];
        let value = [];
        let legend = [];

        {% for key, entreprise in encheres %}
        var enchere = {};
        enchere.name = '{{ key }}'
        legend.push('{{ key }}')
        enchere.data = []
        enchere.className = '{{ key }}'
        {% for x, y in entreprise %}
        var point = {}
        point.x = new Date('{{ x }}')
        point.y = {{ y }}
            enchere.data.push(point)
        {% endfor %}
        series.push(enchere)
        {% endfor %}
    </script>

    <style>
        {% set color =  'd70206'%}
        {% set P =  25 %}

        {% set index =  0%}
        {% for key, entreprise in encheres %}

        {% set R =   random(0, 255)%}
        {% set G =   random(0, 255) %}
        {% set B =   random(0, 255) %}


        .ct-legend .ct-series-{{ index }}:before {
            background-color: rgb({{ R }}, {{ G }}, {{ B }});
            border-color: rgb({{ R }}, {{ G }}, {{ B }});
        }

        .{{ key }} .ct-line,  .{{ key }} .ct-point {
            stroke: rgb({{ R }}, {{ G }}, {{ B }});
        }

        {% set index =  index + 1%}

        {% endfor %}
    </style>

    <div class="">
        <h1 class="text-center">
            {{ TYPE | trans }}
        </h1>
    </div>
    <div class="graph">
        <div id="enchere" class="height-300"></div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="">
        <div>
            <input type="button"
                   class="bouton-moyen float-right"
                   value="{{ 'RAFRAICHIR' | trans  }}"
                   title="{{ 'RAFRAICHIR' | trans  }}"
                   onclick="document.location.reload();return(false)" />
            <input type="button"
                   class="bouton-moyen-120 float-left"
                   value="{{ 'FERMER_FENETRE' | trans  }}"
                   title="{{ 'FERMER_FENETRE' | trans  }}"
                   onclick="window.close();" />
        </div>
    </div>
{% endblock %}
