<div class="content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <img height="70px"
                                         src="{{'assets/images/logo/atexo.png' | imageUrl}}"
                                         alt="branding logo">
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>
                    {{((connecting$ | async) ? 'login.connecting' : 'login.not-connected') | translate }}
                                </span>
                                </h6>

                            </div>
                            <div class="card-content" style="display: list-item"
                                 *ngIf="connecting$ | async">
                                <div class="loader-wrapper">
                                    <div class="loader-container">
                                        <div class="ball-spin-fade-loader loader-blue">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
