{% extends 'layout/popup/layout-popup-agent.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <style>
        .container {
            position: relative;
        }

        .loader {
            position: absolute;
            top: calc(50vh);
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .habilitations {
            transition: opacity .3s ease-in-out;

            .habilitations__actions {
                margin-top: 20px;
                text-align: right;
            }
        }

        .habilitations.habilitations--loading {
            pointer-events: none;
            opacity: .4;
        }

        .services-tree__item--expanded {
            > .services-tree__item__toggle {
                .ft-plus {
                    display: none;
                }

                .ft-minus {
                    display: inline;
                }
            }

            > .services-tree__child {
                display: block !important;
            }
        }
    </style>
{% endblock %}

{% block javascriptAgent %}
    <script type="application/javascript">
        var agentId = {{ agent.id }};
        var mode = {{ mode }};
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('habilitations') }}
    {% if close %}  }}
    <script type="application/javascript">
        window.close();
    </script>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="text-center loader js-loader">
            <i class="fa fa-spinner fa-spin fa-10x fa-fw"></i>
        </div>
        <div class="card habilitations habilitations--loading">
            <div class="card-header">
                <h3>{{ 'TEXT_VISUALISER_HABILITATIONS_AGENT' | trans }} : {{ agent.prenom }} {{ agent.nom }}</h3>
            </div>

            <div class="card-content">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="js-sections"></div>
                        <div class="habilitations__actions">
                            {% if mode != 2 %}
                                <button type="submit" class="btn btn-outline-primary js-close-window">
                                    <i class="fa fa-close"></i>
                                    {{ 'DEFINE_ANNULER'|trans }}
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    {{ 'DEFINE_ENREGISTRER'|trans }}
                                </button>
                                <button type="submit" class="btn btn-primary" name="close" value="close">
                                    {{ 'TEXT_VALIDER'|trans }}
                                </button>
                            {% endif %}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
