<%@ MasterClass="Application.layouts.PopUpLayout" %>
<com:TContent ID="CONTENU_PAGE">

<div class="popup-moyen" id="container">
	<com:TPanel CssClass="main-part" ID="errorPart">
		<com:PanelMessageErreur ID="panelMessageErreur"/>
	</com:TPanel>
	<com:TPanel id="panelRejet">
		<com:AtexoValidationSummary  ValidationGroup="validateurMotifRejet" />
		<h1><com:TTranslate>TEXT_DETAIL_REJET</com:TTranslate></h1>
		<!--Debut Bloc Commentaire-->
		<div class="form-field">
			<div class="top"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
			<div class="content">
				<div class="line">
					<div class="intitule-100"><label for="motifRejet"><com:TTranslate>TEXT_MOTIF_REJET</com:TTranslate></label> :</div>
					<com:TCustomValidator
						ClientValidationFunction="validateMotifRejet"
						ID="validatorMotifRejet" 
						ControlToValidate="motifRejet"
						ValidationGroup="validateurMotifRejet" 
						Display="Dynamic"
						ErrorMessage="<%=Prado::localize('TEXT_MOTIF_REJET')%>"
						EnableClientScript="true"  						 					 
			 			Text="<span class='check-invalide'><img src='<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/images/picto-check-not-ok.gif' alt='Champ obligatoire' /></span>">
						<prop:ClientSide.OnValidationError>
	 				 				document.getElementById('divValidationSummary').style.display='';
							</prop:ClientSide.OnValidationError>
	   				</com:TCustomValidator>
					<com:TTextBox cssClass="long-580" TextMode="MultiLine" Rows="6" Columns="60" ID="motifRejet" />
				</div>
				<div class="breaker"></div>
			</div>
			<div class="breaker"></div>
			<div class="bottom"><span class="left">&nbsp;</span><span class="right">&nbsp;</span></div>
		</div>
		<!--Fin Bloc Commentaire-->
		<!--Debut line boutons-->
		<div class="boutons-line">
		<com:TPanel id="buttonsChoixCompteBoamp" CssClass="boutons-line">
			<com:TButton cssClass="bouton-annulation float-left"  
        			Text="<%=Prado::localize('DEFINE_ANNULER')%>"
        			ID="buttonAnnuler"
        			Attributes.title="<%=Prado::localize('DEFINE_ANNULER')%>"
        			Attributes.onclick="window.close();" />
    		<com:TButton
	    			ValidationGroup="validateurMotifRejet"
	    			CssClass="bouton-validation float-right" 
	    			Attributes.value="<%=Prado::localize('TEXT_VALIDER')%>"
	    		 	Attributes.title="<%=Prado::localize('TEXT_VALIDER')%>"
	    		 	onClick="rejeterAvisPub" /> 
		</com:TPanel>
		</div>
		<!--Fin line boutons-->
	</com:TPanel>
	</div>
	<script type="text/javascript">popupResize();</script>
</com:TContent>