<%@ MasterClass="Application.layouts.PopUpLayout" %>
<com:TContent ID="CONTENU_PAGE">
<script language="JavaScript" type="text/JavaScript" src="<%=Application\Service\Atexo\Controller\Atexo_Controller_Front::t()%>/js/AtexoBoampScript.js?k=<%= Application\Service\Atexo\Atexo_Config::getParameter('MEDIA_CACHE_KEY')%>"></script>
		<!--Debut Bloc Choix Acheteur Public-->
			<span style="display:none;">
            		<com:TTextBox ID="resourceFormulaire" Attributes.name="resourceFormulaire" />
					<com:TTextBox ID="isFluxBase64" Attributes.name="isFluxBase64" />
					<com:TTextBox ID="isFluxInit" Attributes.name="isFluxInit" />
					<com:TTextBox ID="resourceLang" Attributes.name="resourceLang" />
					<com:TTextBox ID="jetonSession" Attributes.name="jetonSession" />
					<com:TTextBox ID="fluxXmlBase64" Attributes.name="fluxXmlBase64" />
					<com:TTextBox ID="isConsultation" Attributes.name="isConsultation" />
            		
            		<com:TButton ID="buttonSend"  Attributes.OnClick="javascript:OpocePostInfo(); return false;"> </com:TButton>
				</span>
			<com:TLabel ID="script" />
</com:TContent>