<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messagerie sécurisée (page de réponse)</title>
    <link rel="stylesheet" th:each="css: ${styleSheets}" th:href="${css}" type="text/css"/>
    <script th:each="script : ${scriptsJS}" th:src="${ script }"></script>
</head>
<body onload="resize()">
<messagerie-visualisation-entreprise th:attr="contexte=${contexte}"
                                     th:if="contexte"></messagerie-visualisation-entreprise>

<script>
    function resize() {
        setTimeout(function () {
            console.log("resize depuis la JSP");
            window.parent.resizeFrameGeneral('iframeMessage');
        }, 3000);
    }
</script>

</body>
</html>
