<template>
    <div id="assistance-status-checker">
        <div :class="'alert ' + alertType" role="alert">
            <p>
                <strong>{{ translations['etat_assistant'] }}
                    <span :class="'badge ' + badgeType" style="color: white">{{ translations[status] }}</span>
                </strong>
            </p>
            <hr class="hide-agent">
            <p v-html="description"></p>
            <p v-html="translations['lance_assistant']" v-if="status == 'en_ligne'"></p>
            <p v-html="translations['non_lance_assistant']" v-if="status != 'en_ligne'"></p>
            <a :href="modal" class="link-danger" v-if="status != 'en_ligne'">{{ translations['afficher_plus_informations'] }}</a>
        </div>
    </div>
</template>

<script>
import 'es6-promise/auto';
import axios from 'axios';
import {Base64} from 'js-base64';

export default {
    name: "assistance-status-checker",
    data() {
        return {
            status: '',
            alertType: '',
            badgeType: '',
            title: '',
            description: '',
            ping: false,
            modal: '',
            translations: '',
        };
    },
    methods: {
        verifyConnection() {
            let config = {
                headers: {
                    "Accept": "*/*",
                    "Content-Type": "application/json",
                    "Cache-Control": "no-cache",
                    "Pragma": "no-cache",
                    'Access-Control-Allow-Credentials': true,
                }
            };
            axios.get('http://localhost:11992/health', config).then((response) => {
                this.alertType = 'alert-success msg-confirmation-light';
                this.ping = true;
                this.status = 'en_ligne';
                this.badgeType = 'badge-success';
            }, (error) => {
                console.log('error connection MAMP');
                this.alertType = 'alert-danger  msg-erreur-light bloc-message';
                this.badgeType = 'badge-danger';
                this.ping = true;
                this.status = 'hors_ligne';
            });
        },
        retryConnection() {
            setInterval(() => {
                this.verifyConnection();
            }, 3000);
        },
    },
    mounted() {
        this.verifyConnection();
        this.retryConnection();
    },
    beforeMount() {
        const elem = document.getElementById('assistance-status-checker');
        if (elem != null) {
            this.modal = elem.getAttribute('data-path_modal');
            this.translations = JSON.parse(
                Base64.decode(elem.getAttribute('data-translations'))
            );
        }
    },
};
</script>
