<!-- BEGIN: Content-->
<div class="app-content content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row" *ngIf="param">
      <atx-breadcrumb class="col-12" [breadcrumb]="param"
      ></atx-breadcrumb>
    </div>
    <div class="content-body" style="margin: 5px" *ngIf="!!filter">
      <!-- account setting page start -->
      <section id="page-account-settings">
        <atx-clauses-filter-parametre-agent
          [filter]="filter"
          (onChangeFilter)="pageable.page = 0;searchPage($event,pageable)"
        ></atx-clauses-filter-parametre-agent>
        <div class="row">
          <div class="col-xl-4 col-12">
            <atx-statistique-recherche [total]="total"
                                       [showDetails]="showDetails"
                                       (onChangeExpanded)="showDetails=$event">

            </atx-statistique-recherche>
          </div>
          <div class="col-xl-8 col-12">

            <atx-pagination [pageable]="pageable" [total]="total" [sortFieldsList]="sortFieldsList"
                            (onChangePagination)="searchPage(filter,$event)">

            </atx-pagination>
          </div>
        </div>

        <div class="row">
          <!-- right content section -->
          <div class="col-md-12">
            <atx-clauses-details *ngFor="let clause of clauseList"
                                 [model]="clause"
                                 [showDetails]="showDetails"
                                 [surcharge]="clause.typeAuteur ===3"
                                 [parametrableDirection]="true"
            ></atx-clauses-details>
          </div>
        </div>

      </section>
      <!-- account setting page end -->
    </div>
  </div>
</div>
<!-- END: Content-->




