.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-style: dashed !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-left: none;
    border-right: none;
}

.dz-filename {
    display: flex;
    align-items: center;
    height: 25px;
}

.progress {
    margin-bottom: 0;
}
