<!--Debut Panel Pieces jointes-->

<ng-template [ngIf]="piecesJointes != null && piecesJointes.length > 0 ">
    <div id="preview-template">
        <table class="table table-bordered table-hover">
            <caption class="sr-only">Pièces jointes</caption>
            <thead>
            <tr>
                <th class="col-check" colspan="4">Fichiers</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pieceJointe of piecesJointes">

                <td style="width: 40%">
                    <div class="dz-filename"><span data-dz-name="">
                                <a (click)="download(pieceJointe)" style="cursor: pointer;"
                                   title="Télécharger le document {{pieceJointe.nom}}"><i
                                    class="fa fa-download"></i> {{pieceJointe.nom}}</a></span></div>
                </td>
                <td style="width: 50%">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress"
                         [class.active]="!pieceJointe.idExterne"
                         role="progressbar"
                         style="width: 100%;height: 20px">
                        <div [ngClass]="pieceJointe.erreur?'bg-danger':'bg-success'"
                             [style.width]="pieceJointe.progress+'%'"
                             class="progress-bar progress-bar-striped"
                             data-dz-uploadprogress="">
                  <span>
                  <strong *ngIf="!pieceJointe.erreur">{{pieceJointe.taille |  fileSize}}
                      | {{pieceJointe.progress + '%'}}</strong></span>
                            <span *ngIf="pieceJointe.erreur">{{pieceJointe.erreur}}</span>
                        </div>
                    </div>
                    <div class="dz-error-message error text-danger"><span data-dz-errormessage></span></div>
                </td>
                <td style="width: 3%">
                    <button (click)="deletePieceJointe(pieceJointe)" class="dz-remove btn btn-primary btn-xs btn-action"
                            data-dz-remove=""
                            title="Supprimer la pièce jointe" type="button">
                        <fa-icon [icon]="['fas','trash']"></fa-icon>
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</ng-template>

<div id="dummyPreviewsContainer"></div>

<div #dropzone (addedFile)="onAddedFile($event)" (error)="onError($event)"
     (queueComplete)="onQueuecomplete($event, dropzone)" (success)="onSuccess($event)"
     (uploadProgress)="onUploadprogress($event)" *ngIf="options" [dropzone]="options"
     class="dropzone">
    <div class="dz-default dz-message">
        <div>Déposer les fichiers ici pour les joindre</div>
        <div> ou</div>
        <button class="btn btn-secondary dz-clickable" id="dz-button"
                onclick=" blur(); return false; ">
            <em class="fas fa-tv m-r-1"></em>Importer un fichier depuis le poste local
        </button>
    </div>
</div>

<!--Fin Panel Pieces jointes-->
