<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
</head>
<body>


<!-- Default Navigator -->

<ul th:fragment = "nav-default">
    <li><a th:href="@{/agent/redaction}">Agent : Rédaction d'un message</a></li>
    <li><a th:href="@{/agent/suivi}">Agent : Suivi des messages</a></li>
    <li><a th:href="@{/entrprise/redaction}">Entrprise : Suivi des messages</a></li>
    <li><a th:href="@{/entrprise/visualisation}">Entrprise : visualisation et réponse à un message</a></li>
</ul>

<div th:fragment="copyright">
    &copy; atexo.com
</div>



</body>
</html>
