/* CSS Document */

/**************************************Styles specifiques client***************************************/
body { background:#BFC0BB; }
h2, .form-envoi-pub legend { color:#4C7A97; }
.form-envoi-pub .gwt-TabBarItem { color:#999; }
.form-envoi-pub table.rubrique fieldset, .form-envoi-pub table.rubrique fieldset fieldset { border-color:#CCCCCC  !important; }