<template>
  <div style="border: 1px solid rgba(0,0,0,.125); border-radius: 3px;">
    <div style="    font-size: 2.5rem;font-weight: bold;text-align: center;color: #0d5aa7">Gestion de mon assistant marchés publics</div>

    <div style="border: 1px solid rgba(0,0,0,.125); border-radius: 3px;">
      <div style="    font-size: 1.5rem;font-weight: bold;text-align: center;">INTEGRATION</div>
      <div class="p-grid">
        <system-version env="int" system="win"></system-version>
        <system-version env="int" system="mac"></system-version>
        <system-version env="int" system="linux"></system-version>

      </div>
    </div>
    <div style="border: 1px solid rgba(0,0,0,.125); border-radius: 3px;">

      <div style="    font-size: 1.5rem;font-weight: bold;text-align: center;">RECETTE</div>
      <div class="p-grid">
        <system-version env="rec" system="win"></system-version>
        <system-version env="rec" system="mac"></system-version>
        <system-version env="rec" system="linux"></system-version>

      </div>
    </div>
    <div style="border: 1px solid rgba(0,0,0,.125); border-radius: 3px;">


      <div style="    font-size: 1.5rem;font-weight: bold;text-align: center;">PRODUCTION</div>
      <div class="p-grid">
        <system-version env="prod" system="win"></system-version>
        <system-version env="prod" system="mac"></system-version>
        <system-version env="prod" system="linux"></system-version>
      </div>
    </div>
  </div>

</template>

<script>

import SystemVersion
  from "@/feature/version-desktop-application/components/SystemVersion";

export default {
  name: 'LastVersion',
  components: {SystemVersion},
  computed: {
    threadStatus() {
      return this.$store.state.monitoring.threadStatus;
    }
  },
  methods: {
    getThreadMonitoring() {
      this.$store.dispatch('monitoring/getThreadMonitoringStat');
    }, restartThreadMonitoring() {
      this.$store.dispatch('monitoring/restartThreadMonitoring').then(() => {
        this.getThreadMonitoring();
      });
    }
  },
  mounted() {
    this.getThreadMonitoring();
  }, created() {
    this.interval = setInterval(() => this.getThreadMonitoring(), 15000);
  }, beforeDestroy: function () {
    clearInterval(this.interval);
  }

}
</script>

<style>
#home {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.danger {
  background-color: #f9c851;
}

.disponible {
  background-color: #20d077;
}

.info {
  background-color: #007be5;
}

.summary .count {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  padding: 7px 14px;
  border-radius: 3px;
}

.summary .title {
  font-size: 20px;
  text-align: left;
  text-transform: capitalize !important;
}

.summary .detail {
  color: #707070;
  display: block;
  margin-top: 10px;
  text-align: left;
}

.card {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 0 !important;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
  border-color: transparent;
}

</style>
