<div id="exec-app">
    <router-outlet></router-outlet>
    <ltexec-tableau-contrats *ngIf="loaded && !navigate" [filtres]="_filtres" [masquerNavigation]="true"
                             [sort]="sort"
                             [standalone]="true" (onDeleteContrat)="onDeleteContrat.emit($event)"
                             class="exec"></ltexec-tableau-contrats>
</div>
