<div *ngIf="contexteFound()" class="container-fluid msv2">
  <div class="row">
    <div class="col-md-12">
      <div class="dataTables_wrapper">
        <h3>
          Liste des messages
        </h3>
        <hr/>
        <div class="row">
          <div class="col-md-12 no-padding">
            <div *ngIf="emails.content?.length == 0 || emails?.content == null" class="no-content rounded">
              Aucun message à afficher
            </div>
            <table class="table" id="tableDashboardEntreprise"
                   *ngIf="emails.content?.length != 0 && emails.content != null">
              <thead>
              <tr>
                <th colspan="3">
                  <messagerie-pagination (paginationChange)="paginationChange($event)" [currentPage]="currentPage"
                                         [pageSize]="pageSize"
                                         [pagination]="emails" class="pager"></messagerie-pagination>
                </th>
              </tr>
              <tr>
                <th class="tableDashboardEntreprise_col-1" scope="col"><span>Dates et événements</span></th>
                <th class="tableDashboardEntreprise_col-2" scope="col"><span>Objet</span></th>
                <th class="tableDashboardEntreprise_col-3" scope="col">Actions</th>
              </tr>
              </thead>

              <tbody>

              <tr (onVisualiserMessage)="visualiserMessage($event)"
                  (onVisualiserMessageLegacy)="visualiserMessageLegacy($event)"
                  *ngFor="let email of emails.content; let i = index" [email]="email" [modeLegacy]="modeLegacy"
                  app-ligne-email-entreprise>

              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th colspan="3" scope="row">
                  <messagerie-pagination (paginationChange)="paginationChange($event)" [currentPage]="currentPage"
                                         [pageSize]="pageSize"
                                         [pagination]="emails" class="pager"></messagerie-pagination>
                </th>
              </tr>
              <tr>
                <td colspan="3" style="border-right: 0px">
                  <button (click)="nouveauMessage()" *ngIf="canCreateMessage()" class="btn btn-md btn-primary"
                          title="Nouveau message" type="button">Nouveau message
                  </button>
                </td>
              </tr>
              </tfoot>
            </table>
            <div *ngIf="emails.content?.length == 0 && canCreateMessage()" class="m-t-1">
              <button (click)="nouveauMessage()" class="btn btn-md btn-primary"
                      title="Nouveau message" type="button">Nouveau message
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
