@import "styles";
.no-content {
  background-color: rgba(255, 185, 82, 0.21);
  border: 1px solid rgba(255, 142, 57, 0.21);
  border-radius: 5px;
  color: #f0ad4e;
  padding: 15px;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
