<article>
    <alert type="warning">
        <i class="fas fa-exclamation-circle me-2"></i>Vous vous apprêtez à refuser la demande de validation de ce document
    </alert>

    <p>Cette action a pour effet de repasser au statut brouillon.</p>
    <p>Le document peut être édité pour être à nouveau soumis à la validation.</p>

    <label for="comment">Associez un commentaire qui apparaitra dans l’historique du document :<i class="fa-solid fa-asterisk asterisk"></i></label>
    <textarea
        [(ngModel)]="commentaire"
        required="required"
        id="comment"
        class="form-control"
    ></textarea>
</article>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
    <button [disabled]="!commentaire?.filled()" (click)="insoumettre()" class="btn btn-primary" data-dismiss="modal" type="button">Invalider</button>
</footer>
