/*------------------------------------------------------------------
[1. Layouts]
  [1.1 Header]
  [1.2 SideBarNav]
  [1.3 Footer]
  [1.4 Body]
*/

/*html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: $atx-base-font-size;
  color: #666666;
  background: $body-bg;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}*/

/* Header
------------------------------------
*/
// 1.1 Header
//@import "sub_modules/layout_header";

/* SideBarNav
------------------------------------
*/
// 1.2 Side Bar Nav
//@import "sub_modules/layout_sidebarnav";

/* Footer
------------------------------------
*/
// 1.3 Footer
//@import "sub_modules/_layout_footer";

/* Body
------------------------------------
*/
// 1.2 Body
//@import "sub_modules/layout_body";
