//
// List Group Item
// --------------------------------------------------

.list-group-item.header,
.list-group-item.header:hover,
.list-group-item.header:focus {
  background-color: #eeeeee;
  color: #777777;
}