/*------------------------------------------------------------------
[10. Panel]
  // [10.1 Scope Variable]
*/

// [10.1 Scope Variable]

$atx-panel-color: rgba(255, 255, 255, 1) !default;
$atx-panel-background-color: $atx-base-color !default;

// Contextual variations
.panel-default.panel-default-outline {
  @include panel-variant($panel-default-border, $gray-dark, #fff, $panel-default-border);
}
.panel-primary.panel-primary-outline {
  @include panel-variant($panel-primary-border, $panel-primary-border, #fff, $panel-primary-border);
}
.panel-success.panel-success-outline {
  @include panel-variant($panel-success-border, $panel-success-border, #fff, $panel-success-border);
}
.panel-info.panel-info-outline {
  @include panel-variant($panel-info-border, $panel-info-border, #fff, $panel-info-border);
}
.panel-warning.panel-warning-outline {
  @include panel-variant($panel-warning-border, $panel-warning-border, #fff, $panel-warning-border);
}
.panel-danger.panel-danger-outline {
  @include panel-variant($panel-danger-border, $panel-danger-border, #fff, $panel-danger-border);
}


.panel-heading {
  &[aria-expanded] {
    position: relative;
    padding-right: $atx-base-unit * 5;

    .panel-heading-content,
    .title{
      position: relative;

    }

    &:after {
      content: "";
      position: absolute;
      right: $atx-base-unit * 1.5;
      top: 50%;
      width: $atx-base-unit * 2;
      height: $atx-base-unit * 1.5;
      text-align: center;
      line-height: $atx-base-unit * 1.5;
      margin-top: -(($atx-base-unit * 1.5) / 2);
      font-family: $CONST-FONT-ICONS;
    }

  }

  &[aria-expanded=false]:after {
    content: "\f067";
  }
  &[aria-expanded=true]:after {
    content: "\f068";
  }
}

.atx-panel.panel {
  .panel-heading {

    line-height: $atx-base-unit*2;
    position: relative;
    padding: $atx-base-unit*1.5;

    .status {
      position: absolute;
      width: $atx-base-unit*2;
      height: $atx-base-unit*2;
      top: $atx-base-unit*1.5;
      left: $atx-base-unit*1.5;
      & + .title {
        padding-left: $atx-base-unit*3;
      }
    }

    .title {
      width: 100%;
    }

    .fa {
      line-height: $atx-base-unit*2;
    }

    .atx-icon-plus {
      display: none;
    }

    &.collapsed,
    .collapsed {
      .atx-icon-plus {
        display: inline-block;
      }
      .atx-icon-minus {
        display: none;
      }

    }

    &.collapsed {
      border-color: transparent;
    }

    .options {
      position: absolute;
      top: 0;
      right: 0;
      padding: $atx-base-unit;

      & + [data-toggle="collapse"] {
        padding-right: 200px;
      }

      a {
        display: block;
        float: left;
        margin-left: $atx-base-unit;
        line-height: $atx-base-unit*3;
        height: $atx-base-unit*3;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }

        .fa,
        .text {
          display: block;
          float: left;
        }

        .fa {
          margin-right: $atx-base-unit*0.5;
          line-height: $atx-base-unit*3;
          height: $atx-base-unit*3;
        }
      }

    }

  }

  &.panel-custom {
    border-color: $atx-panel-background-color;
    .panel-heading {
      background-color: $atx-panel-background-color;
      color: $atx-panel-color;
    }
  }
}
