/*------------------------------------------------------------------
[5. Step Indicator]
*/

// [5.1 Scope Variable]

$atx-step-indicator-color: rgba(66, 66, 66, 1) !default;
$atx-step-indicator-background-color: rgba(255, 255, 255, 1) !default;
$atx-step-indicator-border: 1px solid #DEDEDE !default;
$atx-step-indicator-on-color: rgba(255, 255, 255, 1) !default;
$atx-step-indicator-on-background-color: $atx-base-color !default;

@mixin step-indicator() {
  width: 100%;
  padding: 0;
  margin: 0 0 $atx-base-unit*2 0;
  background-color: $atx-step-indicator-background-color;
  border: $atx-step-indicator-border;
  border-radius: $border-radius-base;
  font-size: 13px;
  @include clearfix();

  &.affix {
    left: 0;
    right: 0;
    top: $atx-header-base-height-affix;
    border-radius: 0;
    border-width: 1px 0 1px 0;
    z-index: 9;
    box-shadow: 0 2px $atx-base-unit*2 0 rgba(0, 0, 0, 0.26);

    .affix-header.affix-etapes-process.affix-table_options-top &,
    .affix-header.affix-etapes-process.affix-table_options-top{
      &,
      &.affix {
        box-shadow: none;
      }

    }
  }

  li {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    font-weight: 500;
    line-height: $atx-base-unit*6;
    height: $atx-base-unit*6;
    padding: 0 $atx-base-unit*3;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: ($atx-base-unit*3) 0 ($atx-base-unit*3) ($atx-base-unit*2);
      border-color: transparent transparent transparent $atx-step-indicator-on-background-color;
      top: 0;
      z-index: 1;
      left: 100%;

    }
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: ($atx-base-unit*3) 0 ($atx-base-unit*3) $atx-base-unit;
      border-color: transparent transparent transparent $atx-step-indicator-background-color;
      top: 0;
      z-index: 2;
      left: 100%;
    }

    &:last-child {
      &:before,
      &:after {
        display: none;
      }
    }

    &.on {
      background-color: $atx-step-indicator-on-background-color;
      color: $atx-step-indicator-on-color;
      &:after {
        border-color: transparent transparent transparent $atx-step-indicator-on-background-color;
      }
    }
  }

}

.etapes-process {
  @include step-indicator();
}

.etapes-process-avenant {
  @include step-indicator();
}
