<div *ngIf="clauseDocument">
  <div [innerHTML]="clauseDocument.texteFixeAvant | safeHtml" *ngIf="!!clauseDocument.texteFixeAvant">
  </div>
  <br *ngIf="clauseDocument.texteFixeAvantAlaLigne"/>
  <div [innerHTML]="clauseDocument.texteVariable" *ngIf="!!clauseDocument.texteVariable"></div>
  <br *ngIf="clauseDocument.texteFixeApresAlaLigne"/>
  <div [innerHTML]="clauseDocument.texteFixeApres | safeHtml" *ngIf="!!clauseDocument.texteFixeApres">
  </div>
</div>

