<div *ngIf="_filtresAppliques" class="card card-default mb-4">
  <div class="card-header">
    Filtres
  </div>
  <div class="card-body">
    <div class="card-body">
      <div *ngIf="afficherFiltreEntreprise" class="row mb-4">
        <div class="col-md-3 form-label-vertical-align">Expéditeur</div>
        <div class="col-md-9">
          <div class="form-check form-check-inline filter-buttons">
            <div [(ngModel)]="emailCriteriaDTO.initialisateur" aria-label="Large button group" btnRadioGroup
                 class="btn-group btn-group-md">
              <label (click)="onCriteresChanges()" [btnRadio]="null"
                     class="btn  btn-md btn-outline-secondary">Tous</label>
              <label (click)="onCriteresChanges()" btnRadio="AGENT"
                     class="btn  btn-md btn-outline-secondary">Agents</label>
              <label (click)="onCriteresChanges()" btnRadio="ENTREPRISE" class="btn  btn-md btn-outline-secondary">Non
                agents</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div
          class="col-md-3 form-label-vertical-align">{{ afficherFiltreEntreprise ? 'Statut des messages à l\'initiative d\'un Agent' : 'Statut' }}</div>
        <div class="col-md-9">
          <div class="filter-buttons">
            <div aria-label="Large button group" class="btn-group btn-group-md" role="group">
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutEnCourEnvoi" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.en-cours-envoi.titre'|surchargeLibelle:'En cours d\'envoi'}}</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutNonDelivre" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.non-delivre.titre'|surchargeLibelle:'Non Délivré'}}</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutTraite" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.traite.titre'|surchargeLibelle:'Traité dans un autre envoi'}}</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutDelivre" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.delivre.titre'|surchargeLibelle:'Délivré'}}</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutAcquitte" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.lu-destinataire.titre'|surchargeLibelle:'Lu par le destinataire'}}</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.reponseNonLue" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.reponse-non-lue.titre'|surchargeLibelle:'Réponse non lue'}}</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.reponseLue" btnCheckbox
                     class="btn  btn-md btn-outline-secondary"
                     role="button">{{'statut.reponse-lue.titre'|surchargeLibelle:'Réponse lue'}}</label>
            </div>
            <label (click)="onCriteresChanges()" [(ngModel)]="emailCriteriaDTO.favoris" btnCheckbox
                   [ngClass]="emailCriteriaDTO.favoris?'on':''" class="btn btn-md btn-outline-secondary m-l-4"
                   role="button"><i
              class="fa fa-star star"></i></label>
          </div>
        </div>
      </div>
      <div *ngIf="afficherFiltreEntreprise" class="row mb-4">
        <div class="col-md-3 form-label-vertical-align">Statut des messages à l'initiative d'un Tiers externe</div>
        <div class="col-md-9">
          <div class="filter-buttons">
            <div aria-label="Large button group" class="btn-group btn-group-md" role="group">
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutDelivreEntreprise" btnCheckbox
                     class="btn  btn-md btn-outline-secondary" role="button">Message à lire</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.statutAcquitteEntreprise" btnCheckbox
                     class="btn  btn-md btn-outline-secondary" role="button">Message lu</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.reponseNonLueEntreprise" btnCheckbox
                     class="btn  btn-md btn-outline-secondary" role="button">Réponse non lue par le destinataire</label>
              <label (click)="onCriteresChanges()" [(ngModel)]="_filtresAppliques.reponseLueEntreprise" btnCheckbox
                     class="btn  btn-md btn-outline-secondary" role="button">Réponse lue par le destinataire</label>
            </div>
          </div>
        </div>
      </div>
      <form>
        <div *ngIf="objetsMetier?.length > 0" class="form-group row">
          <label class="col-md-3 col-form-label" for="consultation">Consultation</label>
          <div class="col-md-9">
            <ng-select (change)="onCriteresChanges()" [(ngModel)]="selectedObjetMetier" [closeOnSelect]="true"
                       [items]="objetsMetier" bindLabel="reference" id="consultation" name="consultation"
                       placeholder="Sélectionnez"></ng-select>
          </div>

        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="motsCles">Mots clés <span
            tooltip="La recherche se fait sur l'objet et sur le corps du courrier initialement envoyé."
            class="fas fa-info-circle" style="color:blue; margin-left: 1em;"></span></label>
          <div class="col-md-9">
            <input (keyup)="onKeyWordChange($event)" [(ngModel)]="emailCriteriaDTO.motsCles"
                   class="form-control form-control-md objet-msg" id="motsCles"
                   id="messageObjet" name="motsCles"
                   ng-control="motsCles" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="templateCritere">Type de message</label>
          <div class="col-md-9">
            <ng-select (change)="onCriteresChanges()" [(ngModel)]="selectedTemplate" [closeOnSelect]="true"
                       [items]="templates" bindLabel="mailType.label" id="templateCritere" name="templateCritere"
                       [clearAllText]="'Tout effacer'"
                       placeholder="Sélectionnez">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="contactsOptions">Destinataires</label>
          <div class="col-md-9">
            <ng-select (change)="onCriteresChanges()" [(ngModel)]="selectedDestinataires"
                       [addTagText]="'Appuyez sur la touche Entrée pour ajouter'" [addTag]="onAddFreeText"
                       [hideSelected]="true"
                       [items]="destinataires$ | async" [loading]="loading"
                       [clearAllText]="'Tout effacer'"
                       [notFoundText]="'Aucun resultat. Appuyez sur la touche Entrée pour ajouter.'"
                       bindLabel="mailContactDestinataire" id="contactsOptions"
                       [minTermLength]="3"
                       [multiple]="true"
                       [typeahead]="destinatairesInput$"
                       typeToSearchText="Veuillez saisir au moins 3 caractères"
                       name="contactsOptions" placeholder="Sélectionnez">
              <ng-template let-clear="clear" let-item="item" ng-label-tmp>
                <span class="ng-value-label">{{item | destinataireLabel }}</span>
                <span (click)="clear(item)" aria-hidden="true" class="ng-value-icon right">X</span>
              </ng-template>
              <ng-template let-item="item" ng-option-tmp>
                <span class="ng-value-label">{{ item | destinataireLabel }}</span>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="messageDateEnvoi">Dates d'envoi</label>
          <div class="col-md-9">
            <input (bsValueChange)="dateRange=$event;onCriteresChanges()" [(ngModel)]="dateRange"
                   [bsConfig]="bsConfig"
                   bsDaterangepicker
                   class="form-control form-control-lg input-sm daterange" id="messageDateEnvoi" name="messageDateEnvoi"
                   placeholder="Sélectionnez"
                   type="text"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="messageDateEnvoi">Afficher uniquement les messages pour lesquels
            une réponse du destinataire est attendue</label>
          <div class="col-md-9">
            <ui-switch (change)="onStatutChange($event)" [(ngModel)]="_filtresAppliques.reponseAttendue"
                       [checked]="_filtresAppliques?.reponseAttendue === true" [color]="'#004494'" [size]="'small'"
                       id="switch"></ui-switch>
          </div>
        </div>
        <div *ngIf="objetsMetier?.length > 0" class="form-group row">
          <label class="col-md-3 col-form-label" for="perimetre">Périmètre des consultations visualisées</label>
          <div class="col-md-9">
            <div class="filter-buttons">
              <div aria-label="Large button group" btnRadioGroup class="btn-group btn-group-md" id="perimetre"
                   role="group">
                <label (click)="emailCriteriaDTO.mesConsultations=null;onCriteresChanges()"
                       btnCheckbox btnRadio="false" class="btn  btn-md btn-outline-secondary"
                       name="toutesLesConsultations" role="button">Toutes les consultations</label>
                <label (click)="emailCriteriaDTO.mesConsultations=true;onCriteresChanges()" btnCheckbox
                       btnRadio="true" class="btn  btn-md btn-outline-secondary"
                       name="mesConsultations" role="button">Mes consultations</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
