<template>
  <div class="p-col-12 p-md-12 p-lg-4 ">
    <div class="card summary">
      <span class="title">Version {{ system }}</span>
      <span class="detail" v-if="result">{{
          result.version
        }} ({{ getDate(result.releaseDate) }})</span>
      <span class="detail" v-else>Non disponible</span>
      <span class="count">
        <Button type="button"
                icon="pi pi-fw pi-cloud-download"
                @click="download"
                style="background: #6286b6; border: none; border-radius: 25%"
                title="Ouverture hors ligne"></Button></span>
    </div>
  </div>
</template>

<script>
import * as moment from 'moment';

export default {
  name: "SystemVersion",
  data() {
    return {
      result: null
    }
  },
  props: {
    env: String,
    system: String
  },
  mounted() {
    this.$store.dispatch("resources/getVersion", {
      env: this.env,
      system: this.system
    })
        .then(value => {
          const yaml = require('js-yaml');

          this.result = yaml.load(value)
          console.log(this.result)
        })

  }, methods: {
    getDate(value) {

      var stillUtc = moment.utc(value).toDate();
      return moment(stillUtc).local().format('DD-MM-YYYY [à] hh:mm');
    },
    download() {
      this.$store.dispatch('resources/download', {
        env: this.env,
        system: this.system
      })
    }
  }
}
</script>

<style scoped>

</style>
