<div class="m-checkbox-list" *ngIf="services?.length>0">
    <div *ngFor="let service of services" for="services_{{service.id}}"
         class="m-checkbox">

    <span class="m-r-1 cursor-pointer">
        <i *ngIf="service.services?.length>0 && !service.expanded" class="fa fa-plus-square"
           (click)="service.expanded = !service.expanded"></i>
        <i *ngIf="service.services?.length>0 && service.expanded" class="fa fa-minus-square"
           (click)="service.expanded = !service.expanded"></i>
    </span>

        <input id="services_{{service.id}}" type="checkbox"
               name="services_{{service.id}}" [(ngModel)]="service.selected"
               (ngModelChange)="onServiceChange(service)"
        >
        {{ service.nomCourt }} - {{ service.nom }}
        <div class="m-l-4" *ngIf="service.expanded && service.services?.length>0">
            <ltexec-service-arbre [services]="service.services"
                           (onServiceSelected)="onServiceChange($event)"
            ></ltexec-service-arbre>
        </div>
    </div>
    <br/>
</div>
