<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{titre | translate}}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>

  <div class="modal-body pr-0 pl-0 pb-0">
    <div class="col-12">
      <textarea *ngIf="!!publication"
                name="commentaire"
                class="form-control"
                [(ngModel)]="publication.commentaire">
          </textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-sm"
            (click)="closeModal()">
      <i class="fa fa-close"></i> {{"annuler" | translate}}
    </button>
    <button (click)="submit()"
            class="btn btn-success btn-sm ml-1">
      <i class="ft-check"></i>
      {{"valider" | translate}}
    </button>
  </div>
</div>

