<div class="app-content content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <atx-breadcrumb class="col-12" [breadcrumb]="param"></atx-breadcrumb>
    </div>

    <div class="content-body" *ngIf="!loading">
      <form #clauseForm="ngForm">
        <div class="form-body">
          <section id="form-canevas">
            <div class="row">

              <div class="col-12" *ngIf="clauseInitiale">
                <atx-clauses-details [editeur]="editeur" [readOnly]="true" [surcharge]="false"
                                     [model]="clauseInitiale"></atx-clauses-details>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card height-97-per">
                  <div class="card-body mb-0">
                    <div>
                      <h5 class="font-weight-bold">Clause initiale
                        <div class="float-right">
                          <ui-switch size="small" *ngIf="clauseSurcharge"
                                     class="switch-small"
                                     [switchColor]="!clauseSurcharge.surchargeActif?'green':'red'"
                                     color="#dedede"
                                     name="actif"
                                     [checked]="!clauseSurcharge.surchargeActif"
                                     (change)="clauseSurcharge.surchargeActif=!$event">
                          </ui-switch>
                        </div>
                      </h5>

                    </div>
                    <hr>
                    <atx-form-clause-contenu *ngIf="clauseInitiale"
                                             [editeur]="editeur"
                                             [clause]="clauseInitiale"
                                             [fromEcranSurcharge]="false"
                                             [idTypeClause]="clauseInitiale.idTypeClause"
                                             [disabled]="true">

                    </atx-form-clause-contenu>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card height-97-per">
                  <div class="card-body mb-0">
                    <div>
                      <h5 class="font-weight-bold"> Clause surchargée
                        <div class="float-right">
                          <ui-switch size="small" *ngIf="clauseSurcharge"
                                     class="switch-small"
                                     [switchColor]="clauseSurcharge.surchargeActif?'green':'red'"
                                     color="#dedede"
                                     name="actif"
                                     (ngModelChange)="clauseSurcharge.surchargeActif=$event"
                                     [(ngModel)]="clauseSurcharge.surchargeActif">
                          </ui-switch>
                        </div>
                      </h5>

                    </div>
                    <hr>
                    <atx-form-clause-contenu *ngIf="clauseSurcharge "
                                             [editeur]="editeur"
                                             [fromEcranSurcharge]="true"
                                             [clause]="clauseSurcharge"
                                             [idTypeClause]="clauseSurcharge.idTypeClause"
                    >
                    </atx-form-clause-contenu>
                  </div>
                </div>
              </div>

            </div>
          </section>
          <hr>
        </div>
        <div class="form-actions text-right">
          <button type="button" class="btn btn-warning btn-sm margin-right-5px" (click)="back()"><i
            class="fa fa-close"></i> {{"creationCanevas.txt.annuler" | translate}}
          </button>

          <button type="button" class="btn btn-success btn-sm "
                  (click)="surcharge()"><i class="ft-check"></i>
            {{"creationCanevas.btn.valider" | translate}}
          </button>

        </div>
      </form>
    </div>
  </div>
</div>


