.p-toast.p-toast-topright {
  z-index: 1000;
  top: 70px;
}

.layout-sidebar {
  background: #4c6990 !important;
}

li > a {
  color: white !important;
}

.pi {
  font-size: 1.5rem !important;
  color: white;
}

.layout-menu > li:last-child > a {
  border-bottom: none !important;
}
