<template>
    <div id="app" :class="containerClass" @click="onWrapperClick">
        <AppTopBar @menu-toggle="onMenuToggle"/>

        <transition name="layout-sidebar">
            <div :class="sidebarClass" @click="onSidebarClick"
                 v-show="isSidebarVisible()">
                <AppProfile v-if="currentUser"/>
                <AppMenu v-if="currentUser" :model="menu"
                         @menuitem-click="onMenuItemClick"/>
            </div>
        </transition>

        <div class="layout-main">
            <serveur-local-alert-component></serveur-local-alert-component>
            <router-view/>
        </div>
    </div>
</template>

<script>
    import AppTopBar from './AppTopbar.vue';
    import AppProfile from './AppProfile.vue';
    import AppMenu from './AppMenu.vue';
    import ServeurLocalAlertComponent
        from "./shared/components/ServeurLocalAlertComponent";

    export default {
        data() {
            return {
                layoutMode: 'static',
                staticMenuInactive: false,
                overlayMenuActive: false,
                mobileMenuActive: false,
                menu: [
                    {
                        label: 'Dashboard',
                        icon: 'pi pi-fw pi-home',
                        to: '/dashboard-signature'
                    },

                    {
                        label: 'Swagger',
                        icon: 'pi pi-fw pi-sitemap',
                        to: '/swagger-ui/signature'
                    },
                    {
                        label: 'Validation de dossiers ',
                        icon: 'pi pi-fw pi-folder-open',
                        to: '/validation'
                    },
                    {
                        label: 'Liste des fichiers signés',
                        icon: 'pi pi-fw pi-check-circle',
                        to: '/signed-files'
                    },
                    {
                        label: 'Outils Signature ',
                        icon: 'pi pi-fw pi-cog',
                        to: '/outils'
                    }
                    ,
                    {
                        label: 'Configuration des parametres',
                        icon: 'pi pi-fw pi-cog',
                        to: '/configuration'
                    },
                    {
                        label: 'À propos',
                        icon: 'pi pi-fw pi-info-circle',
                        to: '/information'
                    }

                ]
            }
        },
        watch: {
            $route() {
                this.menuActive = false;
                this.$toast.removeAllGroups();
            }
        },
        methods: {

            onWrapperClick() {
                if (!this.menuClick) {
                    this.mobileMenuActive = false;
                }

                this.menuClick = false;
            },
            onMenuToggle() {
                this.menuClick = true;

                if (this.isDesktop()) {
                    this.staticMenuInactive = !this.staticMenuInactive;
                } else {
                    this.mobileMenuActive = !this.mobileMenuActive;
                }

                event.preventDefault();
            },
            onSidebarClick() {
                this.menuClick = true;
            },
            onMenuItemClick(event) {
                if (event.item && !event.item.items) {
                    this.mobileMenuActive = false;
                }
            },
            addClass(element, className) {
                if (element.classList)
                    element.classList.add(className);
                else
                    element.className += ' ' + className;
            },
            removeClass(element, className) {
                if (element.classList)
                    element.classList.remove(className);
                else
                    element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            },
            isDesktop() {
                return window.innerWidth > 1024;
            },
            isSidebarVisible() {
                if (this.isDesktop()) {
                    return !this.staticMenuInactive;
                } else {
                    return true;
                }
            },
        },
        computed: {
            containerClass() {
                return ['layout-wrapper', {
                    'layout-overlay': this.layoutMode === 'overlay',
                    'layout-static': this.layoutMode === 'static',
                    'layout-static-sidebar-inactive': this.staticMenuInactive && this.layoutMode === 'static',
                    'layout-overlay-sidebar-active': false,
                    'layout-mobile-sidebar-active': this.mobileMenuActive || !this.currentUser,
                    'p-input-filled': this.$appState.inputStyle === 'filled',
                    'p-ripple-disabled': this.$primevue.ripple === false
                }];
            },
            sidebarClass() {
                return ['layout-sidebar', {
                    'layout-sidebar-dark': true,
                }];
            },
            currentUser() {
                return this.$store.state.auth.user;
            }

        },
        beforeUpdate() {
            if (this.mobileMenuActive || !this.currentUser)
                this.addClass(document.body, 'body-overflow-hidden');
            else
                this.removeClass(document.body, 'body-overflow-hidden');
        },
        components: {
            'AppTopBar': AppTopBar,
            'AppProfile': AppProfile,
            'AppMenu': AppMenu,
            ServeurLocalAlertComponent
        }
    }
</script>

<style lang="scss">
    @import './App.scss';
    @import "./assets/css/styles.css";

    .container-border {
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
    }

    .p-selectbutton .p-button.p-highlight {
        background: #6286b6 !important;
        border-color: #6286b6 !important;
        color: #ffffff !important;
    }

    .atexo-style {
        color: #fff;
        background-color: #6286b6 !important;
        border-color: #6286b6 !important;
    }

    .grey-style {
        color: #000000;
        background-color: rgba(0, 0, 0, .1) !important;
        border-color: rgba(0, 0, 0, .1) !important;
    }


    #app {
        background: white !important;
    }
</style>
