<template>
    <div class="layout-profile">
        <div>
            <img class="profile-img-card" src="./assets/user.png" alt=""/>
        </div>
        <button class="p-link layout-profile-link" @click="onClick">
            <span class="username">{{currentUser.username}}</span>
            <i class="pi pi-fw pi-cog"></i>
        </button>
        <transition name="layout-submenu-wrapper">
            <ul v-show="expanded">
                <li>
                    <router-link to="/profile">
                        <button class="p-link"><i
                                class="pi pi-fw pi-user"
                        ></i><span style="color: white">Profile</span>
                        </button>
                    </router-link>

                </li>
            </ul>
        </transition>

    </div>
</template>

<script>
    export default {
        computed: {
            currentUser() {
                return this.$store.state.auth.user;
            }
        },
        data() {
            return {
                expanded: false
            }
        },
        methods: {
            onClick(event) {
                this.expanded = !this.expanded;
                event.preventDefault();
            },
            logOut() {
                this.$store.dispatch('auth/logout');
                this.$router.push('/');
            }
        }
    }
</script>

<style scoped>

    .profile-img-card {
        width: 70px;
        height: 70px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .layout-profile {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }

    .layout-profile .layout-profile-link {
        color: white !important;
    }
</style>
