<template>
    <div class="layout-topbar">

        <nav class="navbar navbar-expand navbar-light atexo-background">
            <button v-if="currentUser" class="p-link " @click="onMenuToggle">
                <span class="pi pi-bars"></span>
            </button>

            <router-link to="/">

                <img src="../src/assets/atexo-circle.jpg" width="40"
                     style="cursor: pointer"/>
            </router-link>
            <div v-if="!currentUser" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link to="/login" class="nav-link">
                        <font-awesome-icon icon="sign-in-alt"/>
                        Se connecter
                    </router-link>
                </li>
            </div>

            <div v-if="currentUser" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <router-link to="/profile" class="nav-link">
                        <font-awesome-icon icon="user"/>
                        {{ currentUser.username }}
                    </router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href @click.prevent="logOut">
                        <font-awesome-icon icon="sign-out-alt"/>
                        Se déconnecter
                    </a>
                </li>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        computed: {
            currentUser() {
                return this.$store.state.auth.user;
            }
        },
        methods: {
            onMenuToggle(event) {
                this.$emit('menu-toggle', event);
            },
            logOut() {
                this.$store.dispatch('auth/logout');
                this.$router.push('/');
            }
        }
    }
</script>
<style>
    .navbar-light .navbar-nav .nav-link {
        color: white !important;
    }

    .atexo-background {
        background-color: #6286b6 !important;
    }

    .layout-topbar {
        padding: 0 !important;
    }

    .p-link {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

</style>
