@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.eforms {

  /* You can add global styles to this file, and also import other style files */

  .ng-dropdown-panel {
    box-sizing: border-box;
    position: absolute;
    opacity: 1 !important;
    width: 100%;
    z-index: 2000;
    -webkit-overflow-scrolling: touch;
  }


  .bs-datepicker-container {
    padding: 0;
  }

  .theme-green .bs-datepicker-head {
    background-color: #1d4b86;
  }

  .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #1d4b86 !important;
  }

  .bs-datepicker-body table.months td span {
    padding: 6px 0;
    border-radius: 15px;
  }

  .bs-datepicker-body table td span {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    border-radius: 50%;
    /* z-index: 1; */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .margin-auto {
    margin: auto;
  }

  .eforms-card {
    box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%);
    border: 1px solid #757575;
  }

  .width-100-per {
    width: 100% !important;
  }

  .width-100-per {
    width: 100% !important;
  }

  .height-97-per {
    height: 97% !important;
  }

  .height-100-per {
    height: 100% !important;
  }

  .d-flexy-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .d-flexy {
    display: flex;
  }

  .justify-content-space-around {
    justify-content: space-around;
  }

  .justify-content-space-between {
    justify-content: space-between;
  }

  .text-decoration-underline {
    text-decoration: underline;
  }

  ng-select.is-invalid .ng-select-container {
    border-color: #ff4961 !important;
  }

  .modal-exclude {
    horizontal-align: center;
    min-width: 50vw;
    height: 45vh;
    width: 60vw !important;
    margin-top: 20px;
  }

  .modal-validation {
    horizontal-align: center;
    min-width: 70vw;
    height: 85vh;
    width: 80vw !important;
  }


  .text-align-center {
    text-align: center;
  }

  .eforms-card-item {
    border: 1px solid #757575;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }

  .eforms-card {
    border: 1px solid #757575;
    box-shadow: 0 1px 15px 1px rgb(62 57 107 / 7%);
  }

  .eforms-card .eforms-card {
    border: 1px solid #757575;
    box-shadow: none !important;
  }

  .nav.nav-tabs.nav-underline .nav-item a.nav-link.active {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #55595c !important;
  }

  .bleu-italic {
    color: #2660a4;
    font-style: italic;
    display: inline;
  }

  html body .content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 100% !important;
  }

  .secondary-title {
    text-align: center;
    color: #ffffff !important;
    background: #4386d3;
    padding: 0.5rem;
    font-weight: bold;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }

  .secondary-title > .legende {
    font-style: italic;
    color: #ffffff !important;

  }

  .width-180 {
    width: 180px;
  }

  .br-units {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .text-align-left {
    text-align: left;
  }

  .color-black {
    color: black;
  }

  .color-464855 {
    color: #464855;
  }

  .flex-direction-column {
    flex-direction: column;
  }

  .text-align-right {
    text-align: right;
  }

  .color-white {
    color: white;
  }

  .br-square .br-unit.br-active, .br-square .br-unit.br-selected {
    border: 2px solid #2660a4;
    color: white !important;
    background: #2660a4;
    font-weight: bold;
  }

  .header-forms {
    display: flex;
    justify-content: space-between;
  }

  .truncate {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
