<div class="clearfix">&nbsp;</div>
<footer class="footer" role="contentinfo">
    <div class="content footer_content text-center">
        <div class="list-unstyled clearfix container">
            <div class="footer-menu">
                <ul class="list-unstyled">
                    {% if visibleLink('INFOSITE') == true %}
                        <li>
                            <a class="link-footer" href="{{ path('ecrans_info_site', {'calledFrom': 'entreprise'}) }}">
                                {{ 'INFOSITE'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}

                    {% if visibleLink('CONDITION_UTILISATION') == true %}
                        <li>
                            <a class="link-footer"
                               href="{{ path('ecrans_condition_generales_utilisation', {'calledFrom': 'entreprise'}) }}">
                                {{ 'CONDITION_UTILISATION'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a class="link-footer"
                           href="{{ path('ecrans_prerequis_techniques', {'calledFrom': 'entreprise'}) }}">
                            {{ 'PREREQUIS_TECHNIQUE'|trans|raw }}
                        </a>
                    </li>

                    {% if visibleLink('INFO_RGS') == true %}
                        <li>
                            <a class="link-footer" href="{{ path('ecrans_info_rgs', {'calledFrom': 'entreprise'}) }}">
                                {{ 'INFO_RGS'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a class="link-footer"
                           href="{{ path('ecrans_accessibilite', {'calledFrom': 'entreprise'}) }}">
                            {{ 'ACCESSIBILITE_TITLE'|trans|raw }}
                        </a>
                    </li>

                    {% if visibleLinkListeAcRGS()  == true %}
                        <li>
                            <a class="link-footer"
                               href="{{ path('ecrans_info_acrgs', {'calledFrom': 'entreprise'}) }}">
                                {{ 'LISTE_DES_CERTIFICATS_EUROPEEN'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}

                    {% if visibleLink('NOS_PARTENAIRES') == true %}
                        <li>
                            <a class="link-footer"
                               href="{{ path('ecrans_nos_partenaires', {'calledFrom': 'entreprise'}) }}">
                                {{ 'TEXT_NOS_PARTENAIRES'|trans|raw }}
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>

            <div>


            </div>
            {% if showLanguage() %}
                <div id="ctl0_ctl4_panelNaviguationMulilingue" class="footer-multilingual">
                    {% for langue in langues() %}
                        <div class="item-lang on lang-switcher"
                             data-lang="{{ langue.langue }}">
                            <a href="{{ path('switcher-language', {'_locale': langue.langue}) }}">
                                <input type="button" name="ctl0$ctl4$langages$ctl{{ langue.id }}$flagImg"
                                       value="{{ langue.langue }}"
                                       id="ctl0_ctl4_langages_ctl{{ langue.id }}_flagImg"
                                       class="language-choice flage-{{ langue.langue|upper }}"
                                />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
</footer>
<div class="footer_go_top out" id="js-footer_go_top">
    <a href="#" class="btn btn-primary btn-go-to-top animated" id="js-btn-go_to_top" 
       title="{{ "Retour en haut" | trans }}">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

{% for message in app.flashes('alertSiret') %}
    <script language="JavaScript"  type="text/JavaScript" src="{{ asset('/themes/js/entreprise.js') }}"></script>
{% endfor %}

{%  if displayRgpd() %}
    <script src="{{ asset('consultation_depot/assets/js/bootstrap.js') }}" type="text/javascript"></script>
{% endif %}