{% if not isAgent %}
    {% set prenom = "" %}
    {% set nom = "" %}

    {% if  app.user.prenom is defined %}
        {% set prenom =  app.user.prenom %}
    {% endif %}

    {% if  app.user.nom is defined %}
        {% set nom =  app.user.nom %}
    {% endif %}

    {% set menuItems = menu.getMenu() %}
    {% set menuConnect = menu.getConnectButtons() %}

    <header class="header" role="banner">
        <div class="navbar-default navbar-section">
            <div class="container {% if specifiquePlace %} container-header--place {% endif %} header-top">
                {% include 'entreprise/menu/partial/block_logo.html.twig' %}
                {% include 'entreprise/menu/partial/block_boamp.html.twig' %}
            </div>
        </div>
    </header>

    <div class="" id="skippy">
        <a href="#horizonatal-menu"
           class="sr-only sr-only-focusable clearfix btn-lg btn-block btn-xs">
            {{ 'ALLER_MENU' | trans|e }}
        </a>
        <a href="#middle"
           class="sr-only sr-only-focusable clearfix btn-lg btn-block btn-xs">
            {{ 'ALLER_CONTENU' | trans|e }}
        </a>
    </div>

    <div class="nav-wrapper d-block">
        <nav class="navbar horizonatal-menu" role="navigation" data-spy="affix" data-offset-top="20" id="horizonatal-menu">
            <div class="container d-block">
                <div class="top top-user-profile pull-right {% if specifiquePlace %}top-user--rightPlacement{% endif %}" id="ctl0_bandeauEntrepriseWithoutMenuSf_ctl0">
                    <div id="user-infos" class="user-toogle-infos">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% include 'entreprise/menu/partial/block_menu_connecter.html.twig' %}
                        {% else %}
                            {% include 'entreprise/menu/partial/block_menu_non_connecter.html.twig' %}
                        {% endif %}
                    </div>
                </div>
                <div class="navbar-header">
                    <div class="wrapper pull-right">
                        <a class="mobile-help m-r-4" onclick="goToUtah()" aria-label="Contact"><i class="fa fa-phone"></i></a>
                        <a class="mobile-search atx-popover-markup-login-usr m-r-2" href="{{ isActiveAuthentificationInscritByForm() ? '#' : path('mpe_entreprise_auth') }}" aria-label="entreprise-auth"><i class="fa fa-user"></i></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                    </div>
                    <a class="navbar-brand"
                       href="{{ PF_URL }}entreprise">
                        <img src="/themes/{{ design }}/images/img/logo_mobile.png"/>
                    </a>
                </div>
                {% if menuItems is not empty %}
                    <div class="collapse navbar-collapse p-0" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% for item in menuItems %}
                                {% include item %}
                            {% endfor %}
                            {% if specifiquePlace %}
                                <li class="APProchLink">
                                    <a href="https://projets-achats.marches-publics.gouv.fr" target="_blank">
                                        {{ 'APPROCH' | trans }} <span class="fa fa-external-link" aria-hidden="true"></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% elseif menuConnect is not empty %}
                    <div class="flexit text-center">
                        {% for connect in menuConnect %}
                            {% include connect %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </nav>
    </div>
    {% include 'entreprise/error.html.twig' %}
{% endif %}
