<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{modification ? 'Modification d\'un élément numéroté' : 'Création d\'un nouvel élément numéroté'}}
    </h4>
    <i class="la la-times"
       style="margin-top: auto;margin-bottom: auto; cursor: pointer"
       (click)="closeModal()"></i>
  </div>
  <form #nouveauChapitreForm="ngForm">
    <div class="modal-body pr-0 pl-0 pb-0">
      <div class="col-12">
        <h5><label>{{"creationCanevas.txt.titreChapitre" | translate}} </label></h5>
        <input type="text"
               name="intitule"
               class="form-control"
               required
               maxlength="255"
               #intitule="ngModel"
               [ngClass]="{ 'is-invalid': nouveauChapitreForm.submitted && intitule.invalid }"
               [(ngModel)]="chapitre.titre">
        <p *ngIf="nouveauChapitreForm.submitted && intitule.errors" class="block-tag text-left">
          <small class="badge badge-danger">{{"form.required" | translate}}</small>
        </p>
      </div>
      <hr/>

      <atx-form-info-bulle
        [form]="nouveauChapitreForm"
        [infoBulle]="chapitre.infoBulle"
      ></atx-form-info-bulle>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning btn-sm"
              (click)="closeModal()">
        <i class="fa fa-close"></i> {{"creationClause.btn.annuler" | translate}}
      </button>

      <button *ngIf="!modification" type="button" (click)="nouveauChapitreForm.valid && submit(false)"
              class="btn btn-success btn-sm ml-1">
        <i class="ft-plus"></i>
        {{"creationClause.btn.ajouter" | translate}}
      </button>
      <button *ngIf="!modification" type="button" (click)="nouveauChapitreForm.valid && submit(true)"
              class="btn btn-success btn-sm ml-1">
        <i class="ft-plus"></i>
        {{"creationClause.btn.ajouterFermer" | translate}}
      </button>
      <button *ngIf="modification" type="button" (click)="nouveauChapitreForm.valid && submit(true)"
              class="btn btn-primary primary-client-bg-border btn-sm ml-1">
        <i class="ft-save"></i>
        {{"creationClause.btn.enregistrer" | translate}}
      </button>
    </div>
  </form>
</div>

