/*==========================================================================
 DES-271
==========================================================================*/

/* Page overlay */
.custom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1021;
}

/* Highlighted section style */
.bootstrap .bloc.atx-is-highlighted {
    position: relative;
    z-index: 900;
    background: #fff;
}

/* Modal scroll block */
body.modal-open {
    overflow: hidden;
}

/* Add return buttton to highlighted section when it's uploading */
.bootstrap .atx-highlight-bloc .form-group.atx-is-uploading-return-btn {
    display: none;
    padding-left: 15px; }

#user-infos {
    z-index: 100;
}