/*
 * Copyright (C) Atexo - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

#code-dce_restreint-modal .modal-title {
    display: inline-block;
}
div.in {
    display: block;
}