/**
    // Global
    // ---------------------------------------------------------------------------
*/
.bootstrap {
    text-align: left;
}

.bootstrap .fa-2x {
    font-size: 2em;
}

.bootstrap .atx-mb {
    margin-bottom: 10px !important;
}

.bootstrap .atx-mr {
    margin-right: 10px !important;
}

.bootstrap .atx-ml {
    margin-left: 10px !important;
}

.bootstrap .atx-mt {
    margin-top: 10px !important;
}

.bootstrap .remove-spacing > :last-child {
    margin-bottom: 0;
}

.bootstrap .atx-text-default {
    color: #ccc;
}

.bootstrap .btn.atx-text-default:hover {
    color: #333;
}

.bootstrap .atx-text-primary {
    color: #337ab7;
}

.bootstrap .btn.atx-text-primary:hover {
    color: #2e6da4;
}

.bootstrap .atx-text-success {
    color: #5cb85c;
}

.bootstrap .btn.atx-text-success:hover {
    color: #4cae4c;
}

.bootstrap .atx-text-info {
    color: #5bc0de;
}

.bootstrap .btn.atx-text-info:hover {
    color: #46b8da;
}

.bootstrap .atx-text-warning {
    color: #f0ad4e;
}

.bootstrap .btn.atx-text-warning:hover {
    color: #eea236;
}

.bootstrap .atx-text-danger {
    color: #d9534f;
}

.bootstrap .btn.atx-text-danger:hover {
    color: #d43f3a;
}

.bootstrap .upload-piece-label{
    line-height: 28px;
}

/**
    // Font Awesome
    // ---------------------------------------------------------------------------
*/

.fa {
    position: relative;
}

.fa .fa {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70%;
    margin-top: -30%;
    margin-right: -30%;
}
.bootstrap .fa {
    font-size: 14px;
}

.bootstrap .fa.fa-tag {
    font-size: 12px;
}
.bootstrap .fa.fa-tag > .fa.fa-plus {
    font-size: 8px;
}

.bootstrap .fa.fa-file-o {
    font-size: 12px;
    font-weight: normal;
}
.bootstrap .fa.fa-file-o > .fa.fa-plus {
    font-size: 8px;
    top:4px;
}

.bootstrap .collapsed .fa-minus-circle {
    display: inline-block;
}

.bootstrap .collapsed .fa-plus-circle {
    display: inline-block;
}

.bootstrap i.pull-left.fa.fa-file-text-o.atx-text-success.icon {
    /*padding-left: 15px;*/
}

/**
    // Override _Type
    // ---------------------------------------------------------------------------
    //
    // Typography
    // --------------------------------------------------
    // Headings
    // -------------------------
*/
.bootstrap h3, .bootstrap .h3 {
    font-size: 0.75rem;
    margin: 0 0 5px 0;
    line-height: 22px;
    color: #0c5476;
    font-weight: 700;
}

/**
    //
    // Override _Buttons
    // --------------------------------------------------
*/
.bootstrap .btn {
    font-weight: 700;
    font-size: 1em;
}

.bootstrap .btn-primary {
    background: #3d6ba6;
    text-shadow: none;
    border-color: #3d6ba6;
    padding: 3px 10px;
    font-weight: normal;
}
.bootstrap .btn-primary:hover {
    color: #fff;
    background-color: #6892c8;
    border-color: #6892c8;
}

.bootstrap .row {
    line-height: 22px;
}

.bootstrap .form-group {
    margin-bottom: 5px;
}

.bootstrap .atx-btn--blue {
    border: 1px solid #0c5476;
    color: #0c5476;
}

.bootstrap .btn > .fa {
    /*margin-right: 5px;
    font-weight: 700;
    display:inline-block;*/
}
.bootstrap .btn > .fa.fa-plus {
    /*display: inline-block;*/
}

.bootstrap .btn.atx-btn-icon,
.bootstrap .btn.atx-btn-icon:hover,
.bootstrap .btn.atx-btn-icon:active,
.bootstrap .btn.atx-btn-icon:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap .btn.atx-btn-icon.atx-btn-circle {
    border-radius: 50%;
}

.bootstrap .btn.atx-btn-icon > .fa {
    margin-right: 0;
}

.bootstrap .btn > .text + .fa, .bootstrap .btn > .fa + .text  {
    margin-right: 0;
    margin-left: 5px;
}

/*.bootstrap .btn > .fa + text {
    margin-right: 5px;
    margin-left: 0;
}*/

.bootstrap .btn.btn-default.fileinput-button.upload-btn-piece {
  background-color: #f5f5f5;
  border: 1px solid #cdcdcd;
  color: #7c7c7c;
}
/**

    //
    // Override _Inputs
    // --------------------------------------------------
*/

.bootstrap .checkbox .check-box input[type="checkbox"],
.bootstrap .checkbox-inline input[type="checkbox"],
.bootstrap .check-box input[type="checkbox"] {
    margin-left: 0px;
    margin: 0px;
}

/**
    //
    // Bloc
    // --------------------------------------------------
*/
.bootstrap .bloc {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 0 15px;
}

.bootstrap .bloc.not-radius {
    border-radius: 0;
}

.bootstrap .bloc.not-border {
    border: 0;
}

.bootstrap .bloc.grey {
    border: 0;
    background: rgb(243, 241, 242);
}

.bootstrap .bloc,
.bootstrap .bloc .bloc-header,
.bootstrap .bloc .bloc-body {
    position: relative;
}

.bootstrap .bg-warning {
    color: #c09853;
    padding: 10px;
    border-radius: 5px;
}

.bootstrap .bloc .bloc-header .atx-btn-toggle {
    padding-left: 0;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.bootstrap .bloc .bloc-header .atx-btn-toggle .fa.fa-plus-circle,
.bootstrap .bloc .bloc-header .atx-btn-toggle .fa.fa-minus-circle{
    margin-right: 2px;
}

.bootstrap .bloc .bloc-header .atx-btn-toggle[aria-expanded="false"]:last-child {
    margin-bottom: 0;
}

/*.bootstrap .bloc .bloc-header .atx-btn-toggle .fa-minus-circle {
    display: none;
}*/

.bootstrap .bloc .bloc-header .atx-btn-toggle:hover,
.bootstrap .bloc .bloc-header .atx-btn-toggle:active,
.bootstrap .bloc .bloc-header .atx-btn-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap .bloc-blue {
    padding: 10px;
    border: 1px solid #0c5476;
    border-radius: 5px;
    margin: 0 0 15px;
}

.bootstrap .upload-piece-bloc {
    margin-right: -23px;
}

.bootstrap a.en-savoir-plus {
    padding-left:10px;
    float: right;
}

/** hack IE 11 **/
*::-ms-backdrop, .bootstrap a.en-savoir-plus {
    padding-left:0;
}

*::-ms-backdrop, .bloc-formulaires-reponse .bloc-siret input, #inputEmail {
    height: 22px;
}

/**
    //
    // File Upload Component
    // --------------------------------------------------
*/
.bootstrap .files.container-fluid {
    padding: 0;
}

.bootstrap .files .templ-fileupload:nth-of-type(odd) {
    background: #f5f5f5;
}
.bootstrap .files .templ-fileupload .templ-fileupload{
    background: transparent;
}

.bootstrap .row-acte .fa.fa-file-o {
    font-weight: normal;
    margin-right: 0px;
}

.bootstrap .templ-fileupload .row {
    line-height: 22px;
    padding: 5px 0;
}
.bootstrap .templ-fileupload .row .row{
    padding: 0px;
}

.bootstrap .templ-fileupload .atx-btn-icon {
    padding: 0;
    margin: 0;
    border: 0;
}

.bootstrap .templ-fileupload .row-file_progress .size {
    position: absolute;
    left: 20px;
    line-height: 22px;
    font-size: 9px;
    color: #fff;
}

.bootstrap .templ-fileupload .row-file_name .toggle,
.bootstrap .templ-fileupload .row-file_name .icon,
.bootstrap .templ-fileupload .row-file_name .type-piece,
.bootstrap .templ-fileupload .row-file_name .name,
.bootstrap .templ-fileupload .row-file_name .name .name-link,
.bootstrap .templ-fileupload .row-file_signature .statut,
.bootstrap .templ-fileupload .row-file_name .delete,
.bootstrap .templ-fileupload .row-file_name .delete .fa{
    display: block;
    line-height: 22px;
    float: left;
    margin-right: 5px;
}
.bootstrap .templ-fileupload .row-file_signature .statut>span>img{
    margin-top: -6px;
}
.bootstrap .row-jeton .templ-fileupload .row-file_name .delete .fa.fa-trash-o.fa-lg {
    margin-right: 0px;
}
.bootstrap .templ-fileupload .row-file_name .options{
    width: 81px; /*125px; 95px;*/
    min-height: 22px;
}

.bootstrap .templ-fileupload .row-acte .row-file_name .options{
    width: 127px;
}

/*.bootstrap .templ-fileupload .row-file_actions * {
    line-height: 22px;
}*/

.bootstrap .templ-fileupload .row-file_actions .btn {

}

.bootstrap .templ-fileupload .row-file_name .name,
.bootstrap .templ-fileupload .row-file_signature .name{
    overflow: hidden;
    float: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bootstrap .templ-fileupload .row-file_name .toggle {
    margin: 5px 5px 0 0;
    padding: 0 5px;
}

.bootstrap .templ-fileupload .progress {
    width: 100%;
    height: 14px;
    margin: 3px 0;
}
.bootstrap .templ-fileupload .progress.active .progress-bar{
    background-color: #ccc;
}

.bootstrap .fileupload-table {
    margin: 0;
}

.bootstrap .fileupload-buttonbar {
    margin-top: 5px;
}

.bootstrap .fileupload-buttonbar .progress {
    width: 0%;
    margin: 4px 0;
}

.bootstrap .fileupload-buttonbar .progress-extended {
    position: absolute;
    display: block;
    line-height: 28px;
    font-size: 10px;
    padding: 0 5px;
}

.bootstrap .row-jeton .fileupload-buttonbar,
.bootstrap .row-jeton .fileupload-buttonbar .btn,
.bootstrap .row-jeton .fileupload-buttonbar .toggle {
    margin: 0;
}

.bootstrap .row-piece + .row-jeton,
.bootstrap .row-piece + .row-jeton .row,
.bootstrap .row-acte + .row-jeton,
.bootstrap .row-acte + .row-jeton .row{
    padding-top: 0;
}

.bootstrap .row.loader{
    /*background : url('../images/loader-small.gif') 50% 50% no-repeat;*/
    opacity: 0.5;
    cursor : wait;
}

/*.bootstrap .component-file-upload .drag-zone {
    margin:5px;
    padding-top: 5px;
    border: 2px dashed #dfdfdf;
}

.bootstrap .component-file-upload .drag-zone.drag-over {
    border: 2px dashed #0e90d2;
}*/

/**
    //
    //Static Forms
    //
*/

.bootstrap .atx-static-label {
    font-weight: 700;
}

/*
-------------------------------------------------------------------------------------
*/

.bootstrap .component-file-upload {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0;
}

.bootstrap .row-jeton .component-file-upload {
    border: 0;
    margin-bottom: 0;
    padding: 0;
}

.bootstrap .component-file-upload .fileupload-header {
    background: #ccc;
    padding: 8px 0;
}

.bootstrap .component-file-upload .formulaire-header {
    background: #ededed;
    padding: 8px 0;
}

/*

*/

/**
    //
    //Filter field
    //
*/

.col-md-12.filter-field {
    margin-bottom: 15px;
}
.chzn-select-active .col-md-12.filter-field{
    position: relative;
    z-index: 900;
}
.col-md-12.filter-field::before{
  content: "";
  background: rgba(0,0,0,0);
}
.chzn-select-active .col-md-12.filter-field::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    transition: background-color ease 0.5s;
}
.chzn-select-active .col-md-12.filter-field .chosen-container{
  position: relative;
  z-index: 900;
}

.col-md-4.upload-piece-bloc {
    text-align: right;
    padding-right: 0px;
}

/*
//
// File Upload Component
// --------------------------------------------------
*/


.bootstrap .pull-left.fa.fa-file-text-o.atx-text-success.icon {
    padding-left: 15px;
}

/*
-------------------------------------------------------------------------------------
*/

/**
    //
    //Acte engagement
    //
*/

.bootstrap .row.row-acte {
    /*padding: 10px 0px 10px 15px;*/
    /*border-bottom: 1px solid #d7d7d7;*/
    padding: 5px 0px;
}

/*
-------------------------------------------------------------------------------------
*/

/**
    //
    //Acte engagement
    //
*/

.filter-field {
    margin-left: -45px;
}

/*
-------------------------------------------------------------------------------------
*/
.bloc-radio input[type="radio"] {
    display: inline!important;
    margin: 0!important;
    margin-right: 5px!important;
}

.bloc-radio label {
    font-weight:normal!important;
}

/** Modal Detail signature **/
.bootstrap .modal-body .bloc {
    background: #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 0 5px 5px;
    margin-bottom: 5px;
}

.bootstrap .modal-body .bloc .title{
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
}

.bootstrap .modal-body .bloc .column .title{
    padding-left: 0px;
    padding-right: 5px;
    line-height: 20px;
}

.bootstrap .modal-body .bloc .column {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    margin-right: 5px;
    line-height: 20px;
    width: 17%;
}
.bootstrap .modal-body .bloc .column-xlarge {
    width: 41%;
}
.bootstrap .modal-body .bloc .column-large {
    width: 35%;
}
/*****/

.bloc-formulaires-reponse .bloc-siret input {
    line-height: 16px;
}
#accepter-conditions-utilisation {
    margin-left: 5px;
    vertical-align: sub;
}

#accepter-conditions-utilisation + label {
    padding-left: 0px;
    margin-left: 0px;
}


.bootstrap .component-file-upload .drag-zone {
    margin:5px;
    padding-top: 5px;
    border: 2px dashed #dfdfdf;
}
.bootstrap .component-file-upload .drag-zone.in {

}
.bootstrap .component-file-upload .drag-zone.hover {
    border: 2px dashed #0e90d2;
}
.bootstrap .component-file-upload .drag-zone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#bloc-loader { height:100%; width:100%; position:fixed; z-index:9999999; text-align:center; opacity:0.7; display:none; }
#bloc-loader .loader { background:url(../images/loader-ajax.gif) #767676 no-repeat center 10px; width:120px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; opacity:1; position:relative; top:30%; color:#fff; left:50%; margin-left:-60px; padding:50px 0 10px; }

.bootstrap i.pull-left.fa.fa-file-text-o.atx-text-success.icon {
    margin-top: 4px;
}
.p-0 {
    padding: 0 !important;
}
.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0!important;
}
.m-t-1 {
    margin-top: 4px !important;
}
.m-t-3 {
    margin-top: 15px !important;
}

.m-r-1 {
    margin-right: 4px !important;
}

.m-r-2 {
    margin-right: 8px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-1 {
    margin-bottom: 4px !important;
}

.m-l-1 {
    margin-left: 4px !important;
}

.m-t-2 {
    margin-top: 6px !important;
}
.m-t-3 {
    margin-top: 15px !important;
}

.panel.panel-default.tab-pane {
    border-top: none;
    border-radius: 0;
}

.nav-tabs > li.active > a {
    background: #f5f5f5 !important;
}

hr {
    margin-top: 12px !important;
    margin-bottom:  12px !important;
}

.bloc-depot .tableau-reponse {
    width: 100% !important;
}

.phase-bloc {
    padding-left: 20px;
}

#tab-consultation li a {
    display: block !important;
}

.checkbox.m-0 > label > input {
    margin-left: 0 !important;
}

a.nav-link > span {
    font-size: 14px;
}

.panel.panel-default .panel-heading {
    font-size: 13px;
}

.panel.card.panel-default .panel-heading.card-header .panel-title .accordion-toggle {
    font-size: 13px;
    padding-left: 26px;
}

.alert .panel.panel-default {
    margin-bottom: 0;
    margin-top: 10px;
}

.alert .panel.panel-default .panel-heading {
    background: #fff;
    padding: 6px 15px;
}

.panel-heading[aria-expanded] {
    position: relative;
    padding-right: 40px; }
.panel-heading[aria-expanded] .panel-heading-content,
.panel-heading[aria-expanded] .title {
    font-family: "Lato", sans-serif;
    position: relative; }
.panel-heading[aria-expanded]:after {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    width: 16px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    margin-top: -6px;
    font-family: "FontAwesome"; }

.panel-heading[aria-expanded=false]:after {
    content: "\f067"; }

.panel-heading[aria-expanded=true]:after {
    content: "\f068"; }

.panel-heading .accordion-toggle[aria-expanded] {
    position: relative;
    padding-right: 15px;
    margin-right: -15px;
}
.panel-heading .accordion-toggle[aria-expanded]:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    line-height: 12px;
    margin-top: -6px;
    font-family: "FontAwesome";}

.panel-heading .accordion-toggle[aria-expanded=false]:after {
    content: "\f067";
}


.panel-heading .accordion-toggle[aria-expanded=true]:after {
    content: "\f068";
}

h2.h5.text-primary {
    font-weight: 600;
}

.btn-save {
    font-weight: 700 !important;
    padding: 6px 12px !important;
}

.dume-valide {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.dume-valide .header {
    background: #ccc;
    padding: 8px;
}

.dume-valide .body {
    padding: 6px;
}

.alert.alert-info.info-dume {
    padding: 7px;
    margin-bottom: 6px;
    margin-top: 5px;
}

#modal-information-importantes-position {
    top: 35%;
    margin: 10px auto;
    left: 5%;
}

.heading-1{
    position:relative;
    text-align: center
}
.heading-1:before {
    content: "";
    display: block;
    border-top: solid 1px #eceaea;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}
.heading-1 span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}
.content-detailConsult {
    margin-bottom: 80px;
}
