.bootstrap .form-upload-lots > .modal{
    display: block;
    overflow: auto;
}
.fileupload-component-label{
    font-weight: lighter;
    font-size: 12px;
    color: #666666;
}

.fileupload-component-zone{
    margin: 5px;
    border: 2px dashed #dfdfdf;
    color: #666666;
    position: relative;
    height: 220px;
    text-align: center;
    padding: 70px 20px;
}
.fileupload-component-text{
    margin-bottom: 16px;
}
.fileupload-component-input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
    height: 100%;
}