<div class="row">
    <div class="modal fade" id="saveRechercheModal" tabindex="-1" aria-labelledby="saveRechercheLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveRechercheLabel">{{ 'TEXT_DEFINE_NOM_RECHERCHE' | trans }}</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="alertEmptySearchName" style="display: none">
                        <span class="text-white">
                            <i class="fa fa-exclamation-circle"></i>
                            {{ 'TEXT_DEFINE_NOM_RECHERCHE_MESSAGE' | trans }}
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="search-name">{{ 'TEXT_DEFINE_NOM_SAUVEGARDE_RECHERCHE' | trans }}</label>
                        <input type="text" class="form-control" id="search-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary primary-client-bg-border" data-dismiss="modal">{{ 'TEXT_ANNULER' | trans }}</button>
                    <span class="alerteValidation">
                        <button type="button" class="btn btn-success btn btn-primary primary-client-bg-border-client-bg-border" data-dismiss="modal" id="saveAlertSearch"><i class="fa fa-save"></i> {{ 'TEXT_ENREGISTER' | trans }}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-md-0">
        <div class="card mb-1">
            <div class="card-content">
                {{ form_start(form, { 'attr': { 'id': 'forms-consulation-simplifiee'}}) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="controls">
                                <h5>
                                    <label>{{ form_label(form.keyWord) }}</label>
                                    <i
                                        class="ft-info"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        data-original-title="{{ 'TEXT_TEXT_RECHERCHE_MOT_CLE' | trans }}"
                                    >
                                    </i>
                                </h5>
                                {{ form_widget(form.keyWord) }}
                            </div>
                        </div>
                        <div class="col-md-9" id="statutConsultation">
                            <h5>
                                <label>
                                    {{ form_label(form.statut) }}
                                </label>
                            </h5>
                            {{ form_widget(form.statut) }}
                        </div>
                    </div>

                    <div id="accordionWrap2" role="tablist" class="mt-2" aria-multiselectable="true">
                        <div class=" accordion">
                            <hr>
                            <div id="accordion21" role="tabpanel" data-parent="#accordionWrap2" aria-labelledby="heading21" class="collapse {% if displayCriteria %} show {% endif %}">
                                <div class="">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="controls">
                                                    <h5><label>{{ 'DEFINE_CATEGORIE_PRINCIPAL' | trans }}</label></h5>
                                                    {{ form_widget(form.categorie) }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="controls">
                                                    <h5>
                                                        <label>
                                                            {{ 'TEXT_TYPE_PROCEDURE' | trans }}
                                                        </label>
                                                    </h5>
                                                    <fieldset class="form-group">
                                                        <span class="arrow-down"></span>
                                                        {{ form_widget(form.typeProcedureOrganisme) }}
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>
                                                            <label>
                                                                {{ 'DEFINE_DATE_LIMITE_REMIS_PLIS' | trans }}
                                                            </label>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">
                                                                    {{ 'TEXT_APRES_LE' | trans }}
                                                                </span>
                                                            </div>
                                                            {{ form_widget(form.dlroApres) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">
                                                                    {{ 'TEXT_AVANT_LE' | trans }}
                                                                </span>
                                                            </div>
                                                            {{ form_widget(form.dlroAvant) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-7">
                                                {% if isEnabled('LieuxExecutionCarte') == "1" %}
                                                <div class="controls">
                                                    <h5><label>{{ form_label(form.form_lieuxExecutionSelect) }}</label></h5>
                                                    <div class="row">
                                                        <div class="col-md-10 col-12 mb-2">
                                                            {{ form_widget(form.form_lieuxExecutionSelect) }}
                                                        </div>
                                                        <div class="col-2 form-group__selectLieuxBtnContainer">
                                                            <button type="button" class="btn btn-primary primary-client-bg-border" id="selectLieuxExecution">
                                                                {{ 'DEFINE_TEXT_EDITER' | trans }}
                                                            </button>
                                                        </div>
                                                        {{ form_widget(form.form_lieuxExecution) }}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>



                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>
                                                            <label>
                                                                {{ 'DEFINE_DATE_MISE_LIGNE' | trans }}
                                                            </label>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon1">
                                                                            {{ 'TEXT_APRES_LE' | trans }}
                                                                        </span>
                                                            </div>
                                                            {{ form_widget(form.miseEnLigneApres) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon1">
                                                                            {{ 'TEXT_AVANT_LE' | trans }}
                                                                        </span>
                                                            </div>
                                                            {{ form_widget(form.miseEnLigneAvant) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                {% if get_parameter('ACTIVER_LISTE_AGENTS_TABLEAU_BORD') == true %}
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="controls" id="search-agent-referent">
                                                                <h5>
                                                                    <label>
                                                                        {{ 'ACHETEUR_REFERENT' | trans }}
                                                                    </label>
                                                                </h5>
                                                                <fieldset class="form-group">
                                                                    <span class="arrow-down"></span>
                                                                    {{ form_widget(form.idCreateur) }}
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <a id="heading21" class="primary-client" data-toggle="collapse" href="#accordion21" aria-expanded="true" aria-controls="accordion21">
                                <span class="showPlusCriterias" style="{% if displayCriteria %}display:none;{% endif %}">
                                    <i class="ft-plus"></i> {{ 'TEXT_AFFICHER_PLUS_CRITERES_RECHERCHE' | trans }}
                                </span>
                                <span class="showMinusCriterias" style="{% if displayCriteria %}display:block;{% else %}display:none;{% endif %}">
                                    <i class="ft-minus"></i> {{ 'TEXT_AFFICHER_MOINS_CRITERES_RECHERCHE' | trans }}
                                </span>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="float-md-right">

                                <button type="button" class="btn btn-success saveRecherche success-client-bg-border" data-toggle="modal" data-target="#saveRechercheModal" style="display: none">
                                    <i class="fa fa-save"></i> {{ 'TEXT_ENREGISTER' | trans }}
                                </button>
                                {{ form_widget(form.search, { 'attr': {'class': 'btn btn-primary primary-client-bg-border'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
