{% extends 'layout-agent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/themes/lib/select2/select2.min.css" >
    {{ encore_entry_link_tags('recherche-avancee-consultation') }}
{% endblock %}

{% block javascriptAgent %}
    {{ parent() }}
    <script type="text/javascript">
        const notFoundMessage = '{{ 'DEFINE_NO_RESULTS'|trans }}';
        const searchingMessage = '{{ 'DEFINE_RECHERCHE'|trans }}';
        const searchAgentReferentPath = '{{ path('consultation_search_agents_referent') }}';
    </script>
    {{ encore_entry_script_tags('recherche-avancee-consultation') }}
{% endblock %}

{# This block is setting the flash message handling empty from the layout to use a customed one for Dashboard #}
{% block flashMessageBlock %}{% endblock %}

{% block content %}
    <div class="content-header row">
        <div class="content-header-left col-md-12 col-12 mb-2">
            <h3 class="content-header-title">{{ 'RECHERCHE_AVANCE_CONS'|trans }}</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            {{ 'DEFINE_TEXT_CONSULTATIONS' | trans }}
                        </li>
                        <li class="breadcrumb-item item-chevron active">
                            {{ 'TEXT_RECHERCHE_AVANCEE' | trans }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div id="consultation-recherche-flashbag">
        <div class="row">
            <div class="col-md-12 mb-md-0">
                {# Success #}
                {% for message in app.flashes('success') %}
                    <div class="alert bg-success alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                        <span class="alert-icon"><i class="la la-check"></i></span>
                        {{ message | raw }}
                    </div>
                {% endfor %}

                {# Warning #}
                {% set warningMessages = app.flashes('warning') %}
                {% if warningMessages %}
                    <div class="alert bg-warning alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                        <span class="alert-icon"><i class="la la-exclamation"></i></span>
                        {% for message in warningMessages %}
                            {{ message | raw }}<br>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Error #}
                {% set errorMessages = app.flashes('error') %}
                {% for message in errorMessages %}
                    <div class="alert bg-danger alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
                        <span class="alert-icon"><i class="la la-exclamation"></i></span>
                        {{ message | raw | nl2br }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- account setting page start -->
    <section id="page-account-settings">
        {{ include('consultation/Agent/search/form.html.twig') }}
        {% if consultations is empty and searchLaunched %}
            <div class="row" id="no-result-message">
                <div class="col-md-12 col-12 mb-2">
                    <div class="alert bg-warning alert-dismissible mb-2 text-center pt-2 pb-2" role="alert">
                        {{ 'DEFINE_NO_RESULTS' | trans }}
                    </div>
                </div>
            </div>
        {% elseif consultations is not empty %}
            <div class="row mt-2">
                <div class="col-md-3 mb-2 mb-md-0">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="p-2 text-center bg-primary primary-client-bg rounded-left">
                                    <i class="ft-search font-large-2 text-white"></i>
                                </div>
                                <div class="py-1 px-2 media-body">
                                    <div class="row">
                                        <div class="col-md-10 mb-2 mb-md-0">
                                            <h3 class="primary primary-client">
                                                {{ paginator.total|thousand_separator }}
                                            </h3>
                                            <span>
                                             {{ 'RESULTATS_DE_RECHERCHE' | trans }}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mb-2 mb-md-0">
                    <div class="card">
                        <div class="card-content">
                            <div class="media align-items-stretch">
                                <div class="py-1 px-2 media-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
                                            <div class="">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                        <li class="mr-1">
                                                            {{ 'RESULTATS_PAR_PAGE' | trans }} :
                                                        </li>
                                                        <li class="page-item {% if not paginator.itemsPerPage20isActive %}active{% endif %}">
                                                            <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage10 }}">
                                                                10
                                                            </a>
                                                        </li>
                                                        <li class="page-item {% if paginator.itemsPerPage20isActive %}active{% endif %}">
                                                            <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage20 }}">
                                                                20
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="detailsFilter">
                                                <ul class="nav nav-pills justify-content-center">
                                                    <li class="nav-item">
                                                        <a class="nav-link primary-client-bg active hideDetails">
                                                            {{ 'VUE_LISTE' | trans }}
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link primary-client-bg showDetails">
                                                            {{ 'VUE_DETAILLEE' | trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                        <li class="page-item">
                                                            {% if paginator.previous is defined %}
                                                            <a class="page-link" href="{{ paginator.previous }}" aria-label="{{ 'DEFINE_PRECEDENT' | trans }}">
                                                                <span aria-hidden="true">«</span>
                                                                <span class="sr-only">{{ 'DEFINE_PRECEDENT' | trans }}</span>
                                                            </a>
                                                            {% endif %}
                                                        </li>
                                                        <li class="page-item">{{ 'PAGE' | trans }} </li>
                                                        <li class="page-item ml-1 mr-1"><input type="text" style="width:50px;" class="form-control input-sm" value="{{ paginator.current }}" data-link="{{ paginator.goto }}" data-last-page="{{ paginator.last }}"></li>
                                                        <li class="page-item active">{{ 'TEXT_SUR' | trans }} {{ paginator.last }}</li>
                                                        <li class="page-item">
                                                            {% if paginator.next is defined %}
                                                            <a class="page-link" href="{{ paginator.next }}" aria-label="{{ 'DEFINE_SUIVANT' | trans }}">
                                                                <span aria-hidden="true">»</span>
                                                                <span class="sr-only">{{ 'DEFINE_SUIVANT' | trans }}</span>
                                                            </a>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- left menu section -->
                <div class="col-md-3 mb-2 mb-md-0">
                    <div class="card card--chart">
                        <div class="card-content collapse show">
                            <div class="card-header">
                                <h5>
                                    {{ 'TEXT_STATUS' | trans }}
                                </h5>
                            </div>
                            <div class="card-body">
                                <canvas id="simple-doughnut-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card card--chart">
                        <div class="card-header">
                            <h5>
                                {{ 'DEFINE_CATEGORIE_PRINCIPALE' | trans }}
                            </h5>
                        </div>
                        <div class="card-body">
                            <div id="column-basic-chart"></div>
                        </div>
                    </div>
                    <div class="card card--chart">
                        <div class="card-header">
                            <h5>
                                {{ 'TEXT_TYPES_PROCEDURES' | trans }}
                            </h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-basic-chart"></div>
                        </div>
                    </div>
                </div>

                <!-- right content section -->
                <div class="col-md-9">

                    {% for consultation in consultations %}

                        <div class="card border-left-primary border-left-3">
                            <div class="card-content">
                                <div class="card-body consultation-block">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h5>
                                                        <span>
                                                            <a data-consultation-id="{{ consultation.id }}" style="display: {{ consultation.isFavori ? "inline-block" : "none" }}" class="consultation-suivie" data-toggle="tooltip" data-placement="left" title="{{ 'CONSULTATION_SUIVI_MESSAGE' | trans }}" data-original-title="{{ 'CONSULTATION_SUIVI_MESSAGE' | trans }}">
                                                                <i class="fas fa-star star-fill"></i>
                                                            </a>
                                                            <a data-consultation-id="{{ consultation.id }}" style="display: {{ consultation.isFavori ? "none" : "inline-block" }}" class="consultation-non-suivie" data-toggle="tooltip" data-placement="left" title="{{ 'CONSULTATION_SUIVI_MESSAGE' | trans }}" data-original-title="{{ 'CONSULTATION_SUIVI_MESSAGE' | trans }}">
                                                                <i class="far fa-star"></i>
                                                            </a>
                                                        </span>
                                                        <span style="font-weight: 600;">
                                                            {{ consultation.referenceUtilisateur }} | {{ consultation.intitule|raw }}
                                                        </span>
                                                    </h5>
                                                    <a id="heading21" class="primary-client details-info" data-toggle="collapse" href="#detailConsultationResultat_{{ loop.index }}" aria-expanded="true" aria-controls="accordion21">
                                                        <span class="collapsedDetails">
                                                            <i class="ft-minus"></i> {{ 'TEXT_MOINS_INFORMATION' | trans }}
                                                        </span>
                                                        <span class="hiddenDetails">
                                                            <i class="ft-plus"></i> {{ 'TEXT_PLUS_INFORMATION' | trans }}
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="float-md-right">
                                                                <div class="badge badge-pill badge-glow {% if '0' in consultation.statutCalcule %} badge-warning {% else %} badge-secondary {% endif %} badge-square" title="{{ 'STATUS_LABEL_ELABORATION' | trans }}">E</div>
                                                                <div class="badge badge-pill badge-glow {% if '1' in consultation.statutCalcule %} badge-warning {% else %} badge-secondary {% endif %} badge-square" title="{{ 'STATUS_LABEL_PREPARATION' | trans }}">EV</div>
                                                                <div class="badge badge-pill badge-glow {% if '2' in consultation.statutCalcule %} badge-warning {% else %} badge-secondary {% endif %} badge-square" title="{{ 'STATUS_LABEL_CONSULTATION' | trans }}">C</div>
                                                                <div class="badge badge-pill badge-glow {% if '3' in consultation.statutCalcule %} badge-warning {% else %} badge-secondary {% endif %} badge-square" title="{{ 'STATUS_LABEL_OUVERTURE_ANALYSE' | trans }}">OA</div>
                                                                <div class="badge badge-pill badge-glow {% if '4' in consultation.statutCalcule %} badge-warning {% else %} badge-secondary {% endif %} badge-square" title="{{ 'STATUS_LABEL_DECISION' | trans }}">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-md-12">
                                                            <div class="float-md-right" data-toggle="tooltip" data-placement="left" title="Date limite de remise des plis" data-original-title="Date limite de remise des plis">
                                                                <i class="ft-calendar"></i>
                                                                {% if (consultation.datefin | date("Y")) < 1000 %}
                                                                    -
                                                                {% else %}
                                                                    {{ consultation.datefin | date("d/m/Y H:i") }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row detailConsultationResultat collapse" id="detailConsultationResultat_{{ loop.index }}">
                                                <div class="col-md-12">
                                                    <div>
                                                        <h6>
                                                            <strong>{{ 'OBJET'|trans }} :</strong> {{ consultation.objet|raw }}
                                                        </h6>
                                                    </div>
                                                    {% if consultation.champSuppInvisible %}
                                                        <div>
                                                            <h6>
                                                                <strong>{{ 'DEFINE_COMMENTAIRE'|trans }} :</strong> {{ consultation.champSuppInvisible|raw }}
                                                            </h6>
                                                        </div>
                                                    {% endif %}
                                                    <div>
                                                        {% if consultation.referenceConsultationParent is not null
                                                            and consultation.referenceConsultationParent.id is not empty
                                                            and consultation.referenceConsultationParent.id != 0
                                                        %}
                                                            <h6>
                                                                <strong>{{ 'DEFINE_PROCEDURE_AMONT' | trans }} :</strong> <a href="?id={{ consultation.referenceConsultationParent.id }}">{{ consultation.referenceConsultationParent.referenceUtilisateur }}</a>
                                                            </h6>
                                                        {% endif %}
                                                        {% if consultation.referenceConsultationsChildren is not empty %}
                                                            <h6>
                                                                <strong>{{ 'DEFINE_PROCEDURE_AVAL' | trans }} :</strong>
                                                                {% for consultationAval in consultation.referenceConsultationsChildren %}
                                                                    {% if loop.index0 > 0 %}
                                                                        ,
                                                                    {% endif %}
                                                                    <a href="?id={{ consultationAval.id }}">{{ consultationAval.referenceUtilisateur }}</a>
                                                                {% endfor %}
                                                            </h6>
                                                        {% endif %}
                                                    </div>
                                                    <div>
                                                        <h6>
                                                            <i class="ft-tag"></i>
                                                            {% if consultation.typeProcedureOrg is not null %}
                                                                {{ consultation.typeProcedureOrg.libelleTypeProcedure|raw }}
                                                            {% endif%} |
                                                            {% if consultation.categorieConsultation.id == 1 %}
                                                                <i class="la la-wrench"></i>
                                                            {% elseif consultation.categorieConsultation.id == 2 %}
                                                                <i class="ft-shopping-cart"></i>
                                                            {% elseif consultation.categorieConsultation.id == 3 %}
                                                                <i class="ft-briefcase"></i>
                                                            {% endif %}
                                                            {{ consultation.categorieConsultation.libelle }} |
                                                            <i class="ft-grid"></i> {% if consultation.alloti == 1 %} {{ 'TEXT_ALLOTIE' | trans }} {% else %} {{ 'TEXT_NON_ALLOTIE_MAJ' | trans }} {% endif %} |
                                                            <i class="ft-user"></i> {{ consultation.prenomCreateur }} {{ consultation.nomCreateur }} |
                                                            {% if consultation.dumeDemande == 1 %}
                                                                <img src="/themes/images/logo-dume.png" data-toggle="tooltip" data-placement="top" title="{{ 'CANDIDATURE_DUME' | trans }}" data-original-title="{{ 'CANDIDATURE_DUME' | trans }}"> |
                                                            {% endif %}

                                                            {# Clauses Sociales et Environnementale #}
                                                            {% if consultation.pictograms|length > 0 %}
                                                                {% for picto in consultation.pictograms %}
                                                                    <img src="{{ picto.image }}" data-toggle="tooltip" data-placement="top" title="{{ picto.translation | trans }}" data-original-title="{{ picto.translation | trans }}"> |
                                                                {% endfor %}
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="">
                                                        {% set menuItem = knp_menu_get('registre', [],
                                                            {
                                                                'idConsulation': consultation.id,
                                                                'retraitCount': consultation.getCountRetrait,
                                                                'questionCount': consultation.getCountQuestion,
                                                                'depotCount': consultation.getCountOffre
                                                            }) %}
                                                        {{ knp_menu_render(menuItem, {'template': 'menuAgent/knp/registre-menu.html.twig'}) }}
                                                        <div class="float-md-right">
                                                            {% set menuItem = knp_menu_get('actions', [], {
                                                                'idConsulation': consultation.id,
                                                                'redactionActive': consultation.donneeComplementaireObligatoire,
                                                                'consultation': consultation
                                                                }
                                                            )
                                                            %}
                                                            {{ knp_menu_render(menuItem, {'template': 'menuAgent/knp/actions-menu.html.twig'}) }}
                                                            {% set menuItem = knp_menu_get('buttons', [], {'consultation': consultation}) %}

                                                            {{ knp_menu_render(menuItem, {'template': 'menuAgent/knp/button-menu.html.twig'}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="card align-items-margin">
                        <div class="card-content">
                            <div class="media align-items-stretch ">
                                <div class="py-1 py-20 px-2 media-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-2 mb-md-0 d-flex justify-content-between align-items-center">
                                            <div class="">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                        <li class="mr-1">Résultats par page : </li>
                                                        <li class="page-item {% if not paginator.itemsPerPage20isActive %}active {% endif %}">
                                                            <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage10 }}">10</a>
                                                        </li>
                                                        <li class="page-item {% if paginator.itemsPerPage20isActive %} active {% endif %}">
                                                            <a class="page-link primary-client-bg" href="{{ paginator.itemsPerPage20 }}">20</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="detailsFilter">
                                                <ul class="nav nav-pills justify-content-center">
                                                    <li class="nav-item">
                                                        <a class="nav-link primary-client-bg active hideDetails">
                                                            {{ 'VUE_LISTE' | trans }}
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link primary-client-bg showDetails">
                                                            {{ 'VUE_DETAILLEE' | trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center pagination-separate pagination-curved pagination-flat">
                                                        <li class="page-item">
                                                            {% if paginator.previous is defined %}
                                                                <a class="page-link" href="{{ paginator.previous }}" aria-label="{{ 'DEFINE_PRECEDENT' | trans }}">
                                                                    <span aria-hidden="true">«</span>
                                                                    <span class="sr-only">{{ 'DEFINE_PRECEDENT' | trans }}</span>
                                                                </a>
                                                            {% endif %}
                                                        </li>
                                                        <li class="page-item page-item--txt">Page </li>
                                                        <li class="page-item ml-1 mr-1"><input type="text" style="width:50px;" class="form-control input-sm" value="{{ paginator.current }}" data-link="{{ paginator.goto }}" data-last-page="{{ paginator.last }}"></li>
                                                        <li class="page-item page-item--txt active">{{ 'TEXT_SUR' | trans }} {{ paginator.last }}</li>
                                                        <li class="page-item">
                                                            {% if paginator.next is defined %}
                                                                <a class="page-link" href="{{ paginator.next }}" aria-label="{{ 'DEFINE_SUIVANT' | trans }}">
                                                                    <span aria-hidden="true">»</span>
                                                                    <span class="sr-only">{{ 'DEFINE_SUIVANT' | trans }}</span>
                                                                </a>
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    <!-- account setting page end -->
{% endblock %}
