@import './../shared';

.flex-section {
    margin-bottom: 1rem;
    display: flex;

    &.flex-row {
        flex-direction: row;
    }

    &.flex-column {
        flex-direction: column;
    }

    ol {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            align-items: baseline;
        }
    }
}

label {
    width: 100%;
    margin: 0;
}

.flex-adapt {
    flex-grow: 1;
}

.pr-1 {
    padding-right: 1rem;
}

.checkbox-inline {
    width: fit-content;
}

.datepicker-group {
    width: 100%;
}

input[type=text], input[type=number], input[type=email] {
    height: 34px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9f9f9
}

.form-control {
    box-shadow: none;
}
