<article>
    <alert type="warning">
        <i class="fas fa-exclamation-circle me-2"></i>Vous vous apprêtez à valider ce document
    </alert>

    <p>Cette action a pour effet de supprimer l'ensemble des marques et commentaires associés au document et de le rendre éligible au DCE.</p>
    <p>Vous pouvez opter pour le format de sortie de la version validée du document selon votre besoin :</p>

    <ol>
        <li>en choisissant <strong>valider</strong> : le document conserve son format {{document?.extension}} pour ajout au DCE</li>
        <li>en choisissant <strong><i class="fa-solid fa-file-pdf"></i> valider et transformer en pdf </strong> : le document est transformé en pdf pour ajout au DCE.</li>
    </ol>
</article>

<footer class="component-footer">
    <button (click)="annulation.emit()" class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
    <button (click)="valider(document?.extension)" class="btn btn-primary" data-dismiss="modal" type="button">Valider</button>
    <button (click)="valider('pdf')" class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa-solid fa-file-pdf"></i> Valider et transformer en PDF</button>
</footer>
