<div *ngIf="clauseDocument">
  <div [innerHTML]="clauseDocument?.texteFixeAvant | safeHtml">
  </div>
  <br *ngIf="clauseDocument.texteFixeAvantAlaLigne"/>
  <fieldset>
    <div class="formulaire" *ngFor="let formulaire of clauseDocument.formulations">
      <input type="checkbox" [id]="formulaire.numFormulation" [name]="formulaire.numFormulation"
             disabled
             [value]="formulaire.numFormulation"
             [checked]="formulaire.precochee">
      <label [for]="formulaire.numFormulation" class="encadre"
             [innerHTML]="formulaire.libelle | safeHtml"></label>
    </div>
  </fieldset>
  <br *ngIf="clauseDocument.texteFixeApresAlaLigne"/>
  <div [innerHTML]="clauseDocument?.texteFixeApres | safeHtml">
  </div>
</div>

