<div class="clearfix">
    <div class="form-horizontal">
      <div class="input-group no-checked-dume" [class.checked-dume]="criteria.value">
          <span class="input-group-addon" [ngSwitch]="desactive" [class.disabled]="desactive">
            <input id="{{criteria.code}}" type="checkbox" class="form-check-input" [(ngModel)]="criteria.value"
                   (click)="criteriaClicked()"
                   *ngSwitchCase="false" [disabled]="desactive"
                   tooltip="{{!criteria.value || lots.length === 0 ? '' : criteria.allLot ? 'Ce critère s’applique à tous les lots': 'Ce critère s’applique à certains lots uniquement'}}"
                   placement="left" (change)="checkAll(criteria.value ? true : false)">

              <i class="fa fa-check-square text-white" *ngSwitchCase="true"></i>
          </span>
            <label for="{{criteria.code}}" class="clearfix box-label" [class.disabled]="desactive">
                {{criteria.titre}}
            </label>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default pull-right" [class.btn-primary]="criteria.value" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="description" tooltip="Plus d'informations">
                    <i class="fa fa-info"></i>
                </button>
            </span>
        </div>
      <div id="description" class="m-t-1" [collapse]="isCollapsed" [innerHtml]="criteria.description">
        </div>

      <ng-container *ngIf="showLot && criteria.value">
        <div class="m-b-1">Ce critère s’applique à :

            <label class="radio-inline m-l-1"><input type="radio" name="allLot_{{criteria.code}}" [attr.name]="'allLot_' + criteria.code"
                          [(ngModel)]="criteria.allLot" [value]="true" (click)="resetAllLot()">Tous les lots</label>


            <label class="radio-inline"><input type="radio" name="allLot_{{criteria.code}}" [attr.name]="'allLot_' + criteria.code"
                          [(ngModel)]="criteria.allLot" [value]="false">Certains lots uniquement</label>

        </div>
        <ng-select *ngIf="!criteria.allLot" [closeOnSelect]="true"
                   placeholder="Sélectionnez les lots pour lesquels ce critère s’applique"
                   [hideSelected]="true" bindLabel="intituleLot" [items]="lots" [multiple]="true"
                   [(ngModel)]="criteria.lots">
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label">Lot {{item.numeroLot}} | {{item.intituleLot}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            Lot {{item.numeroLot}} | {{item.intituleLot}}
          </ng-template>
        </ng-select>
      </ng-container>

    </div>

</div>
