.card-info {
  padding-top: 0;
}

.checked-dume > span {
  background-color: #007bff;
  border-color: #007bff !important;
  border-left: 1px solid #007bff;
}
.checked-dume > span > button.btn-primary{
  border: none;
  border-left: 1px solid #007bff;
}

span > button.btn-default{
  border: none;
  border-left: 1px solid #ccc;
}

.checked-dume {
  border: 1px solid #007bff !important;
  .box-label {
    display : block;
    border-left : none;
    font-weight: 400 !important;
    padding: 6px 12px;
    margin:0;
    cursor : pointer;
  }

  .input-group-addon {
    border-radius: 0;
  }

  .input-group-btn {
    background: #fff;
  }
}

.no-checked-dume {
  border: 1px solid #ccc;
  .box-label {
    display : block;
    border-left : none;
    font-weight: 400 !important;
    padding: 6px 12px;
    margin:0;
    cursor : pointer;
  }

  .input-group-addon {
    border: none;
    border-radius: 0;
  }

  .input-group-btn {
    background: #fff;
  }

  & > span {
    border: none;
    border-left: 1px solid #ccc;
  }

}



.text-white {
  color: #fff;
}

.input-group {
  .input-group-btn{
    .btn-primary {
      color: #0078ff !important;
      background-color: #fff !important;
      border-color: #0078ff !important;
    }
  }
}

.disabled {
  cursor: not-allowed !important;
}
