<div (window:resize)="onResize()"></div>
<!--app-navigation></app-navigation-->
<router-outlet></router-outlet>
<div class="sidenav-overlay d-none" id="sidenav-overlay" (click)="rightbar($event)"></div>
