<div *ngIf="attributaire != null && contrat != null" class="panel panel-default panel-attributaires">

    <table class="table table-hover table-striped treeview table-suivi table-attributaires groupement-solidaire"
           style="border-collapse:collapse;">
        <caption class="sr-only">Attributaires et contractants</caption>

        <tbody>

        <!-- Groupement -->
        <ng-template [ngIf]="isAttributaireGroupement(attributaire)">

            <!-- attributaire / infos contrat -->
            <tr class="row-attributaire">
                <th>
                        <span class="icon icon-titulaire">
                            <strong>
                                Titulaire mandataire : <ltexec-etablissement-link
                                [etablissement]="attributaire.mandataire.etablissement"></ltexec-etablissement-link>
                            </strong>
                            <ng-template [ngIf]="attributaire.groupement.type != null">
                                <div>
                                    <strong>{{attributaire.groupement.type.label}}
                                        : {{attributaire.groupement.nom}}</strong>
                                </div>
                            </ng-template>
                        </span>
                </th>
                <th class="col-montants">Montant attribué
                    <div class="voffset1">
                        <strong
                            *ngIf="contrat != null">{{contrat.montant + contrat.montantTotalAvenants | currencyEuro}}
                            HT</strong>
                    </div>
                    <div class=" text-muted">
                        Notifié le {{contrat.dateNotification | formatDate: 'DD/MM/YYYY'}}
                    </div>
                </th>
                <th *ngIf="!visualisation" class="col-actions col-fixed-3"></th>
                <th *ngIf="!visualisation" class="col-actions text-right col-fixed-5" (mouseleave)="dropdown.hide()">
                    <div #dropdown="bs-dropdown" [autoClose]="false" [ngClass]="(contrat.statut === 'Clos' || contrat.statut === 'Archive')?'hidden':''"
                         class="btn-group" dropdown>
                        <button
                            (click)="dropdown.show()"
                            dropdownToggle type="button"
                            class="btn btn-primary btn-xs btn-action dropdown-toggle btn-notif"
                            title="Actions"
                            data-toggle="dropdown" aria-expanded="false">
                            <fa-icon icon="ellipsis-h"></fa-icon>
                            <span
                                class="sr-only">Autres actions</span>
                            <div class="labels"
                                 *ngIf="contrat?.montant + contrat?.montantTotalAvenants != contrat?.montantTotalAttributaires">
                                <span class="badge badge-danger"><fa-icon icon="exclamation"></fa-icon></span>
                            </div>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                            <li role="menuitem">
                                <a class="dropdown-item"
                                   (click)="onAjouterCoTraitantClick()"
                                   title="Ajouter un co-traitant">
                                    <fa-icon icon="plus"></fa-icon>
                                    Ajouter un co-traitant
                                </a>
                            </li>
                            <li role="menuitem">
                                <a (click)="onModifierGroupementClick()" data-toggle="modal"
                                   data-target=".modal-edition-groupement" title="Modifier">
                                    <fa-icon icon="pencil"></fa-icon>
                                    Modifier
                                </a>
                            </li>
                            <li role="menuitem">
                                <a (click)="onModifierRepartitionClick()" data-toggle="modal"
                                   data-target=".modal-edition-repartition" title="Modifier la répartition">
                                    <span class="fa fa-sliders"></span> Modifier la répartition
                                    <i class="dropdown-item fa fa-exclamation-circle text-danger"
                                       *ngIf="contrat?.montant + contrat?.montantTotalAvenants != contrat?.montantTotalAttributaires"></i>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a (click)="onDegrouperGroupementClick()" class="dropdown-item"
                                   title="Supprimer le groupement">
                                    <span class="fa fa-group"></span> Supprimer le groupement
                                </a>
                            </li>
                            <li role="menuitem">
                                <a (click)="onModifierAttributaireClick()" class="dropdown-item"
                                   title="Supprimer le groupement">
                                    <fa-icon [icon]="['fas','people-arrows']"></fa-icon>
                                    Changer d'attributaire
                                </a>
                            </li>
                        </ul>
                    </div>

                </th>
            </tr>

            <!-- mandataire -->
            <tr class="indent-n1 treegrid-mandataire" [class.last]="attributaire.coTraitants.length == 0"
                [class.treegrid-expanded]="attributaire.mandataire.sousTraitants.length >  0 && !attributaire.mandataire.collapsed"
                [class.treegrid-collapsed]="attributaire.mandataire.sousTraitants.length >  0 && !!attributaire.mandataire.collapsed">
                <td>
                        <span (click)=" attributaire.mandataire.collapsed = !attributaire.mandataire.collapsed"
                              class="treegrid-expander treegrid-expander-expanded"
                              [class.treegrid-expander-expanded]="attributaire.mandataire.sousTraitants.length >  0 && !attributaire.mandataire.collapsed"
                              [class.treegrid-expander-collapsed]="attributaire.mandataire.sousTraitants.length >  0 && !!attributaire.mandataire.collapsed"
                              tabindex="0"></span>

                    <div>
                        <fa-icon icon="user-tie"></fa-icon>
                        <strong>Mandataire :
                            <ltexec-etablissement-link
                                [etablissement]="attributaire.mandataire.etablissement"></ltexec-etablissement-link>

                        </strong>
                        <div>
                            <ng-template
                                [ngIf]="contrat != null && contrat.categorie != null">
                                <ltexec-categorie-consultation
                                    [categorie-consultation]="contrat.categorie"></ltexec-categorie-consultation>
                            </ng-template>
                        </div>

                    </div>
                </td>

                <td class="col-montants">
                    {{attributaire.mandataire.montant | currencyEuro}} HT
                    <div class=" text-muted">Notifié le {{attributaire.mandataire.dateNotification | formatDate:
                        'DD/MM/YYYY'}}
                    </div>
                </td>
                <td *ngIf="!visualisation" class="col-actions col-fixed-3">
                    <div class="btn-notif btn-contact">
                        <a
                           [routerLink]="['/contactsReferants', contratId,attributaire?.mandataire?.id]"
                           class="btn btn-default btn-xs btn-action" title="Contacts référents">
                            <fa-icon icon="address-book"></fa-icon>
                            <div class="labels" *ngIf="attributaire.mandataire.nombreDeContactReferants > 0">
                                <span class="badge badge-info" title=""
                                      data-toggle="tooltip">{{attributaire.mandataire.nombreDeContactReferants}}
                                    <div
                                        class="sr-only">contact</div></span>
                            </div>
                        </a>
                    </div>
                </td>
                <td *ngIf="!visualisation" class="col-actions text-right col-fixed-5" (mouseleave)="dropdown.hide()">
                    <div [ngClass]="(contrat.statut === 'Clos' || contrat.statut === 'Archive')?'hidden':''" class="btn-group">
                        <a class="btn btn-primary btn-xs btn-action btn-action"
                           (click)="onAjouterSousTraitantClick(attributaire.mandataire)"
                           data-toggle="modal"
                           title="Ajouter un sous-traitant">
                            <fa-icon icon="plus"></fa-icon>
                        </a>
                        <div dropdown class="btn-group" #dropdown="bs-dropdown" [autoClose]="false">
                            <button dropdownToggle type="button"
                                    class="btn btn-primary btn-xs btn-action dropdown-toggle dropdown-toggle-split"
                                    title="Actions"
                                    data-toggle="dropdown" aria-expanded="false" (click)="dropdown.show()">
                                <fa-icon icon="ellipsis-h"></fa-icon>
                                <span
                                    class="sr-only">Autres actions</span></button>
                            <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                <li>
                                    <a (click)="onModifierAttributaireClick()" title="Modifier">
                                        <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                                        Modifier
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- sous traitants du mandataire -->

            <ng-template ngFor let-soustraitant [ngForOf]="attributaire?.mandataire?.sousTraitants" let-j="index">
                <tr class="child " [class.last]="j+1 == attributaire.mandataire.sousTraitants.length">
                    <td>
                        <span class="treegrid-indent"></span>
                        <span class="treegrid-expander" tabindex="0"></span>
                        <div class="icon icon-sous-traitant">
                            <strong>Sous-traitant :
                                <ltexec-etablissement-link
                                    [etablissement]="soustraitant.etablissement"></ltexec-etablissement-link>
                            </strong>

                            <div>
                                <ltexec-categorie-consultation
                                    [categorie-consultation]="soustraitant.categorieConsultation"></ltexec-categorie-consultation>
                            </div>
                        </div>

                    </td>
                    <td class="col-montants"><span class="label-prefix">Max</span> {{soustraitant.montant |
                        currencyEuro}} HT
                        <div class="text-muted">
                            Notifié le {{soustraitant.dateNotification  | formatDate:
                            'DD/MM/YYYY'}}
                        </div>
                    </td>
                    <td *ngIf="!visualisation" class="col-actions col-fixed-3">
                        <div class="btn-notif btn-contact">
                            <a
                               [routerLink]="['/contactsReferants', contratId,soustraitant.id]"
                               class="btn btn-default btn-xs btn-action" title="Contacts référents">
                                <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
                                <div class="labels" *ngIf="soustraitant.nombreDeContactReferants > 0">
                                    <span class="badge badge-info" title=""
                                          data-toggle="tooltip">{{soustraitant.nombreDeContactReferants}}
                                        <div
                                            class="sr-only">contact</div></span>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td *ngIf="!visualisation" class="col-actions text-right col-fixed-5" (mouseleave)="dropdown.hide()">
                        <div class="btn-group">
                        <div #dropdown="bs-dropdown" [autoClose]="false" [ngClass]="(contrat.statut === 'Clos' || contrat.statut === 'Archive')?'hidden':''"
                             dropdown>
                            <button dropdownToggle type="button"
                                    class="btn btn-primary btn-xs btn-action dropdown-toggle dropdown-toggle-split"
                                    title="Actions" data-toggle="dropdown" aria-expanded="false"
                                    (click)="dropdown.show()">
                                <fa-icon icon="ellipsis-h">Autres actions</fa-icon>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a (click)="onModifierSousTraitantClick(attributaire.mandataire, soustraitant , j)"
                                       data-toggle="modal" data-target=".modal-edition-attributaire"
                                       title="Modifier">
                                        <fa-icon icon="pencil-alt"></fa-icon>
                                        Modifier
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onSupprimerSousTraitantClick(attributaire.mandataire, soustraitant , j)"
                                       data-toggle="modal" data-target=".modal-suppression-sous-tritant"
                                       title="Supprimer">
                                        <fa-icon icon="trash"></fa-icon>
                                        Supprimer</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <!-- co-traitants  -->
            <ng-template ngFor let-cotraitant [ngForOf]="attributaire.coTraitants" let-j="index">

                <!-- co traitant -->
                <tr class="indent-n1" [class.last]="j+1 == attributaire.coTraitants.length"
                    [class.treegrid-expanded]="cotraitant.sousTraitants.length > 0 && !cotraitant.collapsed"
                    [class.treegrid-collapsed]="cotraitant.sousTraitants.length > 0 && !!cotraitant.collapsed">
                    <td>
                            <span (click)="cotraitant.collapsed  = !cotraitant.collapsed" class="treegrid-expander"
                                  [class.treegrid-expander-expanded]="cotraitant.sousTraitants.length > 0 && !cotraitant.collapsed"
                                  [class.treegrid-expander-collapsed]="cotraitant.sousTraitants.length > 0 && !!cotraitant.collapsed"
                                  tabindex="0"></span>
                        <div class="icon icon-co-traitant">
                            <strong>Co-traitant :

                                <ltexec-etablissement-link
                                    [etablissement]="cotraitant.etablissement"></ltexec-etablissement-link>

                            </strong>
                            <div>
                                <ltexec-categorie-consultation
                                    [categorie-consultation]="cotraitant.categorieConsultation"></ltexec-categorie-consultation>
                            </div>
                        </div>

                    </td>

                    <td class="col-montants">{{cotraitant.montant | currencyEuro}} HT
                        <div class="text-muted">Notifié le {{cotraitant.dateNotification  |
                            formatDate: 'DD/MM/YYYY'}}
                        </div>
                    </td>
                    <td *ngIf="!visualisation" class="col-actions col-fixed-3">
                        <div class="btn-notif btn-contact">
                            <a
                               [routerLink]="['/contactsReferants', contratId,cotraitant.id]"
                               href="contrat-contacts.htm" class="btn btn-default btn-xs btn-action"
                               title="Contacts référents">
                                <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
                                <div class="labels" *ngIf="cotraitant.nombreDeContactReferants > 0">
                                    <span class="badge badge-info" title=""
                                          data-toggle="tooltip">{{cotraitant.nombreDeContactReferants}}
                                        <div
                                            class="sr-only">contact</div></span>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td *ngIf="!visualisation" class="col-actions text-right col-fixed-5" (mouseleave)="dropdown.hide()">
                        <div class="btn-group" [ngClass]="(contrat.statut === 'Clos' || contrat.statut === 'Archive')?'hidden':''">
                        <a class="btn btn-primary btn-xs btn-action btn-action"
                           (click)="onAjouterSousTraitantClick(cotraitant)" data-toggle="modal"
                           title="Ajouter un sous-traitant">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </a>
                        <div dropdown class="btn-group" #dropdown="bs-dropdown" [autoClose]="false">
                            <button dropdownToggle type="button"
                                    class="btn btn-primary btn-xs btn-action dropdown-toggle dropdown-toggle-split"
                                    title="Actions" data-toggle="dropdown" aria-expanded="false"
                                    (click)="dropdown.show()">
                                <fa-icon icon="ellipsis-h"></fa-icon>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a (click)="onModifierCoTraitantClick(cotraitant, j)" data-toggle="modal"
                                       title="Modifier">
                                        <fa-icon icon="pencil-alt"></fa-icon>
                                        Modifier
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onSupprimerCoTraitantClick(cotraitant , j)" href="#"
                                       data-toggle="modal"
                                       data-target=".modal-suppression-co-tritant" title="Supprimer">
                                        <fa-icon icon="trash"></fa-icon>
                                        Supprimer</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </td>
                </tr>

                <!-- sous-traitants du cotraitant -->
                <ng-template [ngIf]="cotraitant.sousTraitants.length > 0 && !cotraitant.collapsed">
                    <ng-template ngFor let-soustraitant [ngForOf]="cotraitant.sousTraitants" let-k="index">
                        <tr class="child" [class.last]="k+1 == cotraitant.sousTraitants.length">
                            <td>
                                <span class="treegrid-indent"></span>
                                <span class="treegrid-expander" tabindex="0"></span>
                                <div class="icon icon-sous-traitant">
                                    <strong>Sous-traitant :
                                        <ltexec-etablissement-link
                                            [etablissement]="soustraitant.etablissement"></ltexec-etablissement-link>
                                    </strong>
                                    <div>
                                        <ltexec-categorie-consultation
                                            [categorie-consultation]="soustraitant.categorieConsultation"></ltexec-categorie-consultation>
                                    </div>
                                </div>
                            </td>
                            <td class="col-montants">
                                <span class="label-prefix">Max</span> {{soustraitant.montant | currencyEuro}} HT
                                <div class="text-muted">Notifié le {{soustraitant.dateNotification
                                    | formatDate: 'DD/MM/YYYY'}}
                                </div>
                            </td>
                            <td *ngIf="!visualisation" class="col-actions col-fixed-3">
                                <div class="btn-notif btn-contact">
                                    <a
                                       [routerLink]="['/contactsReferants', contratId,soustraitant.id]"
                                       class="btn btn-default btn-xs btn-action" title="Contacts référents">
                                        <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
                                        <div class="labels" *ngIf="soustraitant.nombreDeContactReferants > 0">
                                            <span class="badge badge-info" title=""
                                                  data-toggle="tooltip">{{soustraitant.nombreDeContactReferants}}
                                                <div
                                                    class="sr-only">contact</div></span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td *ngIf="!visualisation" class="col-actions text-right col-fixed-5" (mouseleave)="dropdown.hide()">
                                <div dropdown class="btn-group" #dropdown="bs-dropdown" [autoClose]="false"
                                     [ngClass]="(contrat.statut === 'Clos' || contrat.statut === 'Archive')?'hidden':''">
                                    <button dropdownToggle type="button"
                                            class="btn btn-primary btn-xs btn-action dropdown-toggle dropdown-toggle-split"
                                            title="Actions" data-toggle="dropdown" aria-expanded="false"
                                            (click)="dropdown.show()">
                                        <fa-icon icon="ellipsis-h">Autres actions</fa-icon>
                                    </button>
                                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a (click)="onModifierSousTraitantClick(cotraitant, soustraitant , k)"
                                               href="#"
                                               data-toggle="modal" data-target=".modal-edition-attributaire"
                                               title="Modifier">
                                                <fa-icon icon="pencil-alt"></fa-icon>
                                                Modifier
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="onSupprimerSousTraitantClick(cotraitant, soustraitant , k)"
                                               data-toggle="modal"
                                               data-target=".modal-suppression-sous-tritant" title="Supprimer">
                                                <fa-icon icon="trash"></fa-icon>
                                                Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </ng-template>

            </ng-template>

        </ng-template>

        <!-- Entreprise -->
        <ng-template [ngIf]="!isAttributaireGroupement(attributaire)">

            <!-- Attributaire / infos contrat -->
            <tr [class.last]="attributaire?.contratEtablissement?.sousTraitants?.length == 0" class="row-attributaire">
                <th>
                    <div class="icon icon-mandataire">
                        <strong>Titulaire du contrat :
                            <ltexec-etablissement-link
                                [etablissement]="attributaire?.contratEtablissement?.etablissement"></ltexec-etablissement-link>
                        </strong>
                        <div>Entreprise générale</div>
                    </div>
                </th>
                <th class="col-montants">Montant attribué
                    <div class="voffset1">
                        <strong>{{contrat.montant + contrat.montantTotalAvenants | currencyEuro}} HT</strong>
                    </div>
                    <div *ngIf="contrat.dateNotification" class="text-muted">Notifié le
                        {{contrat.dateNotification  | formatDate:
                            'DD/MM/YYYY'}}
                    </div>
                </th>
                <th *ngIf="!visualisation" class="col-actions col-fixed-3">
                    <div class="btn-notif btn-contact">
                        <a
                           routerLink="/contactsReferants/{{contratId}}/{{attributaire?.contratEtablissement?.id}}"
                           class="btn btn-default btn-xs btn-action" title="Contacts référents">
                            <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
                            <div *ngIf="attributaire?.contratEtablissement?.nombreDeContactReferants > 0"
                                 class="labels">
                                <span class="badge badge-info" data-toggle="tooltip"
                                      title="">{{attributaire.contratEtablissement.nombreDeContactReferants}}
                                    <div
                                        class="sr-only">contact</div></span>
                            </div>
                        </a>
                    </div>
                </th>
                <th *ngIf="!visualisation" class="col-actions text-right col-fixed-5">
                    <div class="d-flex justify-content-end" *ngIf="contrat.statut !== 'Clos' && contrat.statut !== 'Archive'">
                        <a class="btn btn-primary btn-xs btn-action btn-action"
                           (click)="onAjouterSousTraitantClick(attributaire.contratEtablissement)"
                           data-toggle="modal" data-target=".modal-edition-attributaire"
                           title="Ajouter un sous-traitant">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </a>

                        <a class="btn btn-primary btn-xs btn-action btn-action"
                           (click)="onTransformerEnGroupementClick(attributaire.contratEtablissement)"
                           data-toggle="modal" data-target=".modal-edition-groupement"
                           title="Transformer en groupement">
                            <fa-icon [icon]="['fas', 'users-line']"></fa-icon>
                        </a>
                        <a (click)="onModifierAttributaireClick()"
                           class="btn btn-primary btn-xs btn-action btn-action"
                           title="Changer d'attributaire">
                            <fa-icon [icon]="['fas', 'people-arrows']"></fa-icon>
                        </a>
                    </div>
                </th>
            </tr>

            <!-- Sous traitants -->
            <ng-template [ngForOf]="attributaire?.contratEtablissement?.sousTraitants" let-j="index" let-soustraitant
                         ngFor>

                <tr [class.last]="j+1 == attributaire.contratEtablissement.sousTraitants.length" class="child treegrid">
                    <td>
                        <div class="icon icon-sous-traitant">
                            <strong>Sous-traitant :
                                <ltexec-etablissement-link
                                    [etablissement]="soustraitant.etablissement"></ltexec-etablissement-link>
                            </strong>
                            <div>
                                <ltexec-categorie-consultation
                                    [categorie-consultation]="soustraitant.categorieConsultation"></ltexec-categorie-consultation>
                            </div>
                        </div>
                    </td>
                    <td class="col-montants">
                        <span class="label-prefix">Max</span> {{soustraitant.montant | currencyEuro}} HT
                        <div class="text-muted">Notifié le {{soustraitant.dateNotification  |
                            formatDate: 'DD/MM/YYYY'}}
                        </div>
                    </td>
                    <td *ngIf="!visualisation" class="col-actions col-fixed-3">
                        <div class="btn-notif btn-contact">
                            <a
                               routerLink="/contactsReferants/{{contratId}}/{{soustraitant.id}}"
                               class="btn btn-default btn-xs btn-action" title="Contacts référents">
                                <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
                                <div class="labels" *ngIf="soustraitant.nombreDeContactReferants">
                                    <span class="badge badge-info" title=""
                                          data-toggle="tooltip">{{soustraitant.nombreDeContactReferants}}
                                        <div
                                            class="sr-only">contact</div></span>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td *ngIf="!visualisation" class="col-actions text-right col-fixed-5" (mouseleave)="dropdown.hide()">
                        <div class="btn-group">
                            <div dropdown #dropdown="bs-dropdown" [autoClose]="false"
                                 [ngClass]="(contrat.statut === 'Clos' || contrat.statut === 'Archive')?'hidden':''">
                            <button dropdownToggle type="button"
                                    class="btn btn-primary btn-xs btn-action dropdown-toggle dropdown-toggle-split"
                                    title="Actions" data-toggle="dropdown" aria-expanded="false"
                                    (click)="dropdown.show()">
                                <fa-icon icon="ellipsis-h"></fa-icon>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a (click)="onModifierSousTraitantClick(attributaire.contratEtablissement, soustraitant , j)"
                                       data-toggle="modal" data-target=".modal-edition-attributaire"
                                       title="Modifier">
                                        <fa-icon icon="pencil-alt"></fa-icon>
                                        Modifier
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onSupprimerSousTraitantClick(attributaire.contratEtablissement, soustraitant , j)"
                                       data-toggle="modal" data-target=".modal-suppression-sous-tritant"
                                       title="Supprimer">
                                        <fa-icon icon="trash"></fa-icon>
                                        Supprimer</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
        </tbody>
    </table>
</div>

<ng-template [ngIf]="!visualisation">
    <!-- Debut Modal Ajout contractant modal-edition-attributaire -->
    <div *ngIf="isModalModifierAttributaireShown" class="modal fade" tabindex="-1" role="dialog"
         [config]="{ show: true }" (onHidden)="isModalModifierAttributaireShown=false" bsModal
         #autoShownModal="bs-modal"
         aria-labelledby="titreDialogue_contractant" aria-hidden="true" id="myModal_contractant">
        <div class="modal-dialog modal-lg" *ngIf="editionContratEtablissementModel != null">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            (click)="isModalModifierAttributaireShown=false"
                            aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                    <ng-template [ngIf]="editionContratEtablissementModel.mode == editionMode.Creation">
                        <h4 *ngIf="editionContratEtablissementModel.scope == editionScope.SousTraitant"
                            class="modal-title" id="titreDialogue_contractant">
                            Ajouter un sous-traitant (montant
                            max {{ getMontantMax(editionContratEtablissementModel.contratEtablissementCommanditaire) }}
                            )</h4>
                        <h4 *ngIf="editionContratEtablissementModel.scope == editionScope.CoTraitant"
                            class="modal-title" id="titreDialogue_contractant">Ajouter
                            un co-traitant</h4>
                    </ng-template>

                    <ng-template [ngIf]="editionContratEtablissementModel.mode == editionMode.Modification">
                        <h4 *ngIf="editionContratEtablissementModel.scope == editionScope.SousTraitant"
                            class="modal-title" id="titreDialogue_contractant">
                            Modification du sous-traitant</h4>
                        <h4 *ngIf="editionContratEtablissementModel.scope == editionScope.CoTraitant"
                            class="modal-title" id="titreDialogue_contractant">
                            Modification du co-traitant</h4>
                        <h4 *ngIf="editionContratEtablissementModel.scope == editionScope.Attributaire"
                            class="modal-title" id="titreDialogue_contractant">
                            Modification du mandataire</h4>
                    </ng-template>

                </div>
                <div class="modal-body" style="height: 600px;">
                    <form #attributaireForm="ngForm">
                        <fieldset class="m-b-10">

                            <legend>Établissement</legend>
                            <div class="form-horizontal form-condensed">
                                <div class="form-group">
                                    <div class="col-md-3 ">
                                        <label class="normal">Etablissement</label>
                                    </div>
                                    <div class="col-xs-10 col-md-8  col-md-offset-0">
                                        <ltexec-recherche-fournisseur
                                            (onSelected)="editionContratEtablissementModel.etablissement=$event"
                                            [etablissement]="editionContratEtablissementModel.etablissement"
                                                                      [navigateOnNewEtablissement]="true"></ltexec-recherche-fournisseur>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend *ngIf="editionContratEtablissementModel.scope != editionScope.Attributaire">Caractéristiques</legend>
                            <div class="form-horizontal">
                                <ng-template
                                    [ngIf]="editionContratEtablissementModel.scope != editionScope.Attributaire">
                                    <div class="form-group">
                                        <label for="input_groupement_naturePrestations" class="col-sm-3 control-label">Catégorie</label>
                                        <div class="controls col-sm-8">

                                            <ng-select [(ngModel)]="editionContratEtablissementModel.categorieConsultation"
                                                       [items]="categorieConsultationOptions"
                                                       [multiple]="false"
                                                       name="categorieConsultationCode"></ng-select>

                                        </div>
                                    </div>
                                </ng-template>
                                <div class="form-group"
                                     *ngIf="editionContratEtablissementModel.scope == editionScope.SousTraitant">
                                    <label class="col-sm-3 control-label" for="input_roleMandataireMontantPrestations">Montant
                                        des prestations </label>
                                    <div class="controls col-sm-8">

                                        <div class="input-group input-group-montant">
                                            <input name="montant" [(ngModel)]="editionContratEtablissementModel.montant"
                                                   type="number"
                                                   [max]="getMontantMax(editionContratEtablissementModel.contratEtablissementCommanditaire)"
                                                   [required]="true"
                                                   class="form-control input-sm text-right"
                                                   id="input_roleMandataireMontantPrestations">
                                            <span class="input-group-addon">EUR HT</span>
                                            <show-error control="montant"
                                                        [errors]="['invalidMoney','max']"></show-error>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="editionContratEtablissementModel.scope != editionScope.Attributaire" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="input_dureeMois"
                                               class="col-sm-3 control-label">Durée (mois) :
                                        </label>

                                        <div class="controls col-sm-8">
                                            <input name="role" type="number" [min]="0"
                                                   [(ngModel)]="editionContratEtablissementModel.dureeMois"
                                                   class="form-control input-sm"
                                                   id="input_dureeMois">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input_variationPrix"
                                               class="col-sm-3 control-label">Variation de prix :
                                        </label>
                                        <div class="controls col-sm-8">
                                            <ng-select name="input_variationPrix" [items]="revisionPrixOptions" [(ngModel)]="editionContratEtablissementModel.revisionPrix"/>
                                        </div>
                                    </div>
                                </div>

                                <ng-template
                                    [ngIf]="editionContratEtablissementModel.scope != editionScope.Attributaire">
                                    <div class="form-group" id="panel_dateNotification">
                                        <label class="col-sm-3 control-label" for="input_dateNotification">Notification
                                            d'acceptation</label>

                                        <div class="controls col-sm-8">
                                            <input [(ngModel)]="editionContratEtablissementModel.dateNotification"
                                                   bsDatepicker
                                                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                   class="form-control"
                                                   name="dateNotification"
                                                   placeholder="Date de notification d'acceptation"
                                                   type="text">
                                            <show-error control="dateNotification"
                                                        [errors]="['invalidIsoDate']"></show-error>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-sm btn-default pull-left"
                                    (click)="isModalModifierAttributaireShown=false">
                                Annuler
                            </button>
                        </div>

                        <div class="col-sm-6">

                            <ng-template [ngIf]="editionContratEtablissementModel.mode == editionMode.Creation">
                                <button *ngIf="editionContratEtablissementModel.scope == editionScope.SousTraitant"
                                        (click)="onValiderAjouterSousTraitantClick()"
                                        type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                        [disabled]="!isEditionContratEtablissementModelValid(attributaireForm)"
                                        [class.disabled]="!isEditionContratEtablissementModelValid(attributaireForm)">
                                    Valider
                                </button>
                                <button *ngIf="editionContratEtablissementModel.scope == editionScope.CoTraitant"
                                        (click)="onValiderAjoutCoTraitantClick()"
                                        type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                        [disabled]="!isEditionContratEtablissementModelValid(attributaireForm)"
                                        [class.disabled]="!isEditionContratEtablissementModelValid(attributaireForm)">
                                    Valider
                                </button>
                            </ng-template>

                            <ng-template [ngIf]="editionContratEtablissementModel.mode == editionMode.Modification">
                                <button *ngIf="editionContratEtablissementModel.scope == editionScope.SousTraitant"
                                        (click)="onValiderModifierSousTraitantClick(attributaireForm)"
                                        type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                        [disabled]="!isEditionContratEtablissementModelValid(attributaireForm)"
                                        [class.disabled]="!isEditionContratEtablissementModelValid(attributaireForm)">
                                    Valider
                                </button>
                                <button *ngIf="editionContratEtablissementModel.scope == editionScope.CoTraitant"
                                        (click)="onValiderModifierCoTraitantClick()"
                                        type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                        [disabled]="!isEditionContratEtablissementModelValid(attributaireForm)"
                                        [class.disabled]="!isEditionContratEtablissementModelValid(attributaireForm)">
                                    Valider
                                </button>
                                <button *ngIf="editionContratEtablissementModel.scope == editionScope.Attributaire"
                                        (click)="onValiderModifierAttributaireClick()"
                                        type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                        [disabled]="!isEditionContratEtablissementModelValid(attributaireForm)"
                                        [class.disabled]="!isEditionContratEtablissementModelValid(attributaireForm)">
                                    Valider
                                </button>

                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Fin Modal Ajout contractant -->

    <!-- Debut Modal Confirmation Suppression -->
    <div class="modal fade modal-suppression-sous-tritant" tabindex="-1" role="dialog"
         aria-labelledby="titreDialogue_confirmationSuppression"
         aria-hidden="true" id="myModal_confirmationSuppression"
         *ngIf="showSuppressionSousTraitant" [config]="{ show: true }" (onHidden)="showSuppressionSousTraitant=false"
         bsModal
         #autoShownModal="bs-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titreDialogue_confirmationRetour">Message de confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer ce sous-traitant ?</p>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn  btn-sm btn-default"
                                (click)="showSuppressionSousTraitant=false">Annuler
                        </button>
                    </div>
                    <div class="pull-right">
                        <button type="button" (click)="onValiderSuppressionSousTraitantClick()"
                                class="btn  btn-sm btn-default btn-primary"
                                data-dismiss="modal">Poursuivre
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Fin Modal Confirmation Suppression -->

    <!-- Debut Modal Confirmation Suppression -->
    <div class="modal fade modal-suppression-co-tritant" tabindex="-1" role="dialog"
         aria-labelledby="titreDialogue_confirmationSuppression"
         aria-hidden="true" id="myModal_confirmationSuppression"
         *ngIf="showSuppressionCoTraitant" [config]="{ show: true }" (onHidden)="showSuppressionCoTraitant=false"
         bsModal
         #autoShownModal="bs-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titreDialogue_confirmationRetour">Message de confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer ce co-traitant et ses sous-traitants ?</p>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn  btn-sm btn-default" (click)="showSuppressionCoTraitant=false">
                            Annuler
                        </button>
                    </div>
                    <div class="pull-right">
                        <button type="button" (click)="onValiderSuppressionCoTraitantClick()"
                                class="btn  btn-sm btn-default btn-primary" data-dismiss="modal">
                            Poursuivre
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Fin Modal Confirmation Suppression -->


    <!-- Debut Modal Confirmation Suppression -->
    <div class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="titreDialogue_confirmationSuppression"
         aria-hidden="true" id="myModal_confirmationSuppression"
         *ngIf="isModifierGroupementShown" [config]="{ show: true }" (onHidden)="isModifierGroupementShown=false"
         bsModal
         #autoShownModal="bs-modal">
        <div class="modal-dialog" *ngIf="editionGroupementModel != null">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="isModifierGroupementShown=false"><span
                        aria-hidden="true">&times;</span></button>

                    <ng-template [ngIf]="editionGroupementModel.mode == editionMode.Creation">
                        <h4 class="modal-title" id="titreDialogue_contractant">Définition du groupement</h4>
                    </ng-template>

                    <ng-template [ngIf]="editionGroupementModel.mode == editionMode.Modification">
                        <h4 class="modal-title" id="titreDialogue_contractant">Modification du groupement</h4>
                    </ng-template>

                </div>

                <div class="modal-body">
                    <div class="form-horizontal">

                        <form #groupForm="ngForm">

                            <div class="form-group">
                                <label for="input_roleMandataireRoleOperationnel" class="col-sm-4 control-label">Nom du
                                    groupement
                                    <ltexec-asterisk></ltexec-asterisk>
                                </label>
                                <div class="controls col-sm-8">
                                    <input name="nomGroupement" [(ngModel)]="editionGroupementModel.nomGroupement"
                                           type="text" required
                                           class="form-control input-sm"
                                           id="input_roleMandataireRoleOperationnel">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input_groupement_naturePrestations" class="col-sm-4 control-label">Type de
                                    groupement</label>
                                <div class="controls col-sm-8">
                                    <ng-select name="typeGroupementCode"
                                               [items]="typeGroupementOptions"
                                               bindValue="value"
                                               bindLabel="label"
                                               [(ngModel)]="editionGroupementModel.typeGroupementCode"
                                               [searchable]="true">
                                    </ng-select>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn  btn-sm btn-default" (click)="isModifierGroupementShown=false">
                            Annuler
                        </button>
                    </div>
                    <div class="pull-right">

                        <ng-template [ngIf]="editionGroupementModel.mode == editionMode.Creation">
                            <button (click)="onValiderTransformerEnGroupementClick()"
                                    [class.disabled]="!isEditionGroupementModelValid()"
                                    [disabled]="!isEditionGroupementModelValid()"
                                    type="button"
                                    class="btn  btn-sm btn-default btn-primary"
                                    data-dismiss="modal">Valider
                            </button>
                        </ng-template>

                        <ng-template [ngIf]="editionGroupementModel.mode == editionMode.Modification">
                            <button (click)="onValiderModifierGroupementClick(groupForm)"
                                    [disabled]="!isEditionGroupementModelValid()"
                                    [class.disabled]="!isEditionGroupementModelValid()"
                                    class="btn  btn-sm btn-default btn-primary" data-dismiss="modal">Valider
                            </button>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Fin Modal Confirmation Suppression -->
    <div class="modal fade modal-degrouper-groupement" tabindex="-1" role="dialog"
         aria-labelledby="titreDialogue_confirmationSuppression"
         aria-hidden="true" id="myModal_confirmationSuppression">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titreDialogue_confirmationRetour">Message de confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer le groupement ?</p>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn  btn-sm btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                    <div class="pull-right">
                        <button type="button" (click)="onValiderDegrouperGroupementClick()"
                                class="btn  btn-sm btn-default btn-primary" data-dismiss="modal">
                            Poursuivre
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- // Fin Modal Confirmation Suppression -->
    <ltexec-repartition-montants-modale #repartitionMontantsModaleComponent
                                        *ngIf="attributaire != null && isAttributaireGroupement(attributaire)"
                                        [contrat]="contrat" [isModalShown]="isModalEditionRepartitionShown"
                                        (onHidden)="isModalEditionRepartitionShown=false"
                                        [attributaire]="attributaire"></ltexec-repartition-montants-modale>

</ng-template>
