<div class="modal fade" *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden.emit()" bsModal #autoShownModal="bs-modal"
     role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="onHidden.emit()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titreDialogue_confirmationRetour">Décomposition du montant du marché</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <form #repartitionForm="ngForm">

                        <ltexec-alertpanel [type]="'info'"
                                           [title]="'Le montant total du contrat doit être réparti sur les différents cotraitants.'"></ltexec-alertpanel>

                        <div class="form-group amount-total">
                            <div class="col-sm-6 control-label ">
                                Montant total du contrat
                            </div>
                            <div class="controls col-sm-5">
                                <div class="input-group input-group-montant">
                                    <div class="form-control input-sm text-right">{{contrat?.montantTotalAvenants + contrat?.montant | currencyEuro}}</div>
                                    <span class="input-group-addon">EUR HT</span>
                                </div>
                            </div>
                        </div>


                        <div *ngFor="let contractant of editionRepartitionContratEtablissement; let i = index"
                             class="form-group">
                            <div class="col-sm-6 control-label">
                                <label for="input_montantCoTraitant{{i}}">
                                    {{contractant.scope == editionScope.Attributaire ? "Mandataire" :
                                    "Cotraitant"}}&nbsp;:&nbsp;</label>
                                <ltexec-etablissement-link
                                        [etablissement]="contractant.etablissement"></ltexec-etablissement-link>
                            </div>
                            <div class="controls col-sm-5">
                                <div class="input-group input-group-montant">
                                    <input name="montantCoTraitant{{i}}" [(ngModel)]="contractant.montant"
                                           type="text"
                                           class="form-control input-sm text-right"
                                           id="input_montantCoTraitant{{i}}" money (change)="updateMontantRestant()">
                                    <span class="input-group-addon">EUR HT</span>
                                    <show-error control="montant" [errors]="['invalidMoney']"></show-error>
                                </div>
                            </div>
                        </div>

                        <div class="form-group amount-todo">
                            <div class="col-sm-6 control-label text-right">
                                Reste à affecter&nbsp;:&nbsp;
                            </div>
                            <div class="controls col-sm-5">
                                <div class="input-group input-group-montant">
                                    <div class="form-control input-sm text-right" [ngClass]="{'text-danger': montantRestant != 0 }">{{montantRestant | currencyEuro}}</div>
                                    <span class="input-group-addon"  [ngClass]="{'text-danger': montantRestant != 0 }">EUR HT</span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn  btn-sm btn-default" (click)="onHidden.emit()">Annuler</button>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="onValiderRepartitionClick()"
                            [class.disabled]="!isRepartitionValid(repartitionForm)"
                            [disabled]="!isRepartitionValid(repartitionForm)"
                            class="btn  btn-sm btn-default btn-primary"
                            data-dismiss="modal">Valider
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
