// ------
// alerts
// ------
@import "variables";

.alert {
  background-color: $white;
  background-position: .75rem;
  background-repeat: no-repeat;
  border-color: $alert-info;
  border-left: 4.9rem solid $alert-info-border;
  color: $black2;
  padding: 1.25rem;
  position: relative;

  &.alert-color-success {
    border-right-color: $alert-success;

    &::before {
      content: '\f00c';
    }
  }

  &.alert-color-warning {
    border-right-color: $alert-warning;

    &::before {
      content: '\f071';
    }
  }

  &.alert-color-danger {
    border-right-color: $alert-danger;

    &::before {
      content: '\f00d';
    }
  }

  &.alert-color-confirmation {
    border-right-color: $alert-info;

    &::before {
      content: '\f128';
    }
  }

  & a, & a:focus, & a:hover {
    text-decoration: underline;

  }
}

.badge {
  position: relative;
  display: block;
  border: 1px solid $tag-alert-info-border;
  font-size: 1.4rem;
  text-align: center;
  padding: .7rem;
  border-radius: 3px;
  background-color: transparent;

  &.question-mark-picto::before {
    position: absolute;
    color: $white;
    background-color: $orange;
    content: '\f12a';
    font-family: $font-awesome;
    font-size: 0.8rem;
    top: -7px;
    left: unset;
    right: -8px;
    line-height: 1.4rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    padding-left: 1px;
  }

  &.alert-color-success {
    color: $alert-success;
  }

  &.alert-color-warning {
    color: $alert-warning;
  }

  &.alert-color-danger {
    color: $alert-danger;
  }

  &.alert-color-draft {
    color: $alert-warning;
  }

}

.alert-color-success {
  border-color: $alert-success-border;
}

.alert-color-confirmation {
  border-color: $alert-info-border;
  color: $alert-info-border;
}

.alert-color-readed {
  border-color: $readed;
  color: $readed;
}

.alert-color-send {
  border-color: $darker-blue;
  color: $darker-blue;
}

.alert-color-warning {
  border-color: $alert-warning-border;
}

.alert-color-draft {
  border-color: $alert-warning;
}


.alert-color-danger {
  border-color: $alert-danger-border;
}

.badge-pill {
  display: inline-block;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge-info {
  border-color: $tag-alert-info;
  color: $tag-alert-info-border;
}

alert {
  width: 100%;

  .alert-info {
    background: none;
    border: none;
    padding: 0;
    margin: 12px 0;
  }

  .alert-error, .alert-warn {
    background: none;
    border: none;
    padding: 0;
    margin: 12px 0;
    color: $bg-danger;
    font-weight: bold;
  }
}
