// -------
// buttons
// -------
@import "mixins";
@import "variables";

.btn, button {
  @include font-size(1.4);
  @include box-shadow(#{ 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) });
}

.btn-primary {
  background-color: $darker-blue;
  border-color: $darker-blue;
  color: $white !important;
}

.btn-xs {
  font-size: 10px !important;
}

.btn-secondary {
  background-color: $white;
  border-color: $white;
  color: $dark-grey;

  &:hover {
    border: 1px solid $dark-grey;
    color: $darker-grey;
    background-color: $lighter-grey;
  }
}

.btn-outline-secondary {
  background-color: $white;
  border-color: $grey;
  color: $dark-grey;

  &:hover {
    border-color: $white;
    color: $dark-grey;
    background-color: $grey;
  }
}

.btn-group-lg > .btn,
.btn-lg {
  padding: .60rem 1.2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 3px;
}

#filter-buttons .btn {
  box-shadow: none;

  &:hover {
    border-color: $grey;
  }
}

button.close {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  @include box-shadow(none);
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.btn-danger {
  color: $white !important;
  background-color: $bg-danger;
  border-color: $border-danger;
}

.btn-danger:focus, .btn-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:hover {
  background-color: $bg-danger--hover;
}

.btn-outline-primary {
  color: $darker-blue;
  background-color: transparent;
  background-image: none;
  border-color: $darker-blue;
}

.btn-thick-outline {
  border-width: 2px;
}

.btn-add {
  box-shadow: none;
  padding: 0.2rem 0.3rem;
  line-height: 1.3rem;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
}

.active .star::after {
  color: $yellow;
}
