// ------------------
// discussions thread
// ------------------
@import "mixins";
@import "variables";

.discussion-thread {
  list-style: none;
  padding: 20px 16px 20px 40px;
  position: relative;

  &-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
  }

  &.full-width {
    &::before {
      left: 40px;
    }

    .discussion-thread-item {
      padding-left: 50px;

      .discussion-thread-badge {
        left: 0;
      }

      .discussion-thread-panel {
        width: 100%;
        float: right;

        &::before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -14px;
          right: auto;
        }

        &::after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -13px;
          right: auto
        }
      }
    }
  }

  &::before {
    background-color: $grey2;
    bottom: 0;
    content: " ";
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
    top: 50px;
    width: 2px;
  }
}

.discussion-thread-item {
  margin-bottom: 2rem;
  position: relative;

  &-last {
    .discussion-thread-badge {
      &:before {
        display: none;
      }
    }
  }

  &::after,
  &::before {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }

  &:last-child {
    position: relative;

    &::after {
      content: "";
      position: absolute;
    }
  }

  &:first-child .discussion-thread-badge:after {
    display: none;
  }

  .discussion-thread-panel {
    display: block;
    background-color: #f0f7ff;
    border-radius: .5rem;
    @include box-shadow(0 1px 6px rgba(0, 0, 0, .175));
    float: left;
    padding: 1.3rem;
    position: relative;
    width: 44%;
    min-height: 80px;

    &:last-child {
      margin-bottom: 24px;
    }

    &::before {
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;
      content: " ";
      display: inline-block;
      position: absolute;
      right: -14px;
      top: 27px;
    }

    &::after {
      border-bottom: 14px solid transparent;
      border-left: 14px solid #f0f7ff;
      border-right: 0 solid #f0f7ff;
      border-top: 14px solid transparent;
      content: " ";
      display: inline-block;
      position: absolute;
      right: -13px;
      top: 27px;
    }

    .btn-add {
      position: absolute;
      right: 15px;
      color: $blue !important;
    }
  }

  .discussion-thread-badge {
    border-radius: 100%;
    @include box-shadow(#{ 0 1px 3px transparentize($black, .88), 0 1px 2px rgba(0, 0, 0, .24) });
    color: $white;
    font-size: 2rem;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 50px;
    z-index: 100;

    &:before {
      font-size: 2.25rem;
      color: $grey2;
      font-family: "Font Awesome 6 Free", sans-serif;
      position: absolute;
      content: '\f0d8';
      width: 0;
      height: 0;
      top: 34px;
      left: 14px;
    }
  }

  .discussion-thread-badge--small {
    height: 1.5rem;
    left: 51.75%;
    top: 2.5rem;
    width: 1.5rem
  }

  &.discussion-thread-inverted .discussion-thread-panel {
    float: right;

    &::before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -14px;
      right: auto;
    }

    &::after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -13px;
      right: auto
    }
  }
}


.discussion-thread-badge {
  background-color: #9e9e9e !important;
}

.discussion-thread-badge.info {
  background-color: $info !important;

  & + .discussion-thread-panel .discussion-thread-title {
    color: $info;
  }
}

.discussion-thread-badge.error {
  background-color: $error !important;

  & + .discussion-thread-panel .discussion-thread-title {
    color: $error;
  }
}

.discussion-thread-badge.delivered {
  background-color: $delivered !important;

  & + .discussion-thread-panel .discussion-thread-title {
    color: $delivered;
  }
}

.discussion-thread-badge.readed {
  background-color: $readed !important;

  & + .discussion-thread-panel .discussion-thread-title {
    color: $readed;
  }
}

.discussion-thread-header {
  .discussion-thread-heading {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    align-items: center !important;
  }

  .discussion-thread-title {
    color: #004494;
    font-size: 1.6rem;
    @include roboto-bold;
  }

  .discussion-thread-time {
    display: block;
    margin: .5rem 0;
    font-size: 1.4rem;
  }
}

