// -----
// fonts
// -----

@font-face {
  font-family: 'robotolight';
  src: url('~assets/fonts/roboto-light-webfont.eot');
  src: url('~assets/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/roboto-light-webfont.woff2') format('woff2'),
  url('~assets/fonts/roboto-light-webfont.woff') format('woff'),
  url('~assets/fonts/roboto-light-webfont.ttf') format('truetype'),
  url('~assets/fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('~assets/fonts/roboto-regular-webfont.eot');
  src: url('~assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('~assets/fonts/roboto-regular-webfont.woff') format('woff'),
  url('~assets/fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('~assets/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url('~assets/fonts/roboto-italic-webfont.eot');
  src: url('~assets/fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
  url('~assets/fonts/roboto-italic-webfont.woff') format('woff'),
  url('~assets/fonts/roboto-italic-webfont.ttf') format('truetype'),
  url('~assets/fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotobold';
  src: url('~assets/fonts/roboto-bold-webfont.eot');
  src: url('~assets/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
  url('~assets/fonts/roboto-bold-webfont.woff') format('woff'),
  url('~assets/fonts/roboto-bold-webfont.ttf') format('truetype'),
  url('~assets/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url('~assets/fonts/roboto-bolditalic-webfont.eot');
  src: url('~assets/fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
  url('~assets/fonts/roboto-bolditalic-webfont.woff') format('woff'),
  url('~assets/fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
  url('~assets/fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
