// ----
// form
// ----
@import "mixins";
@import "variables";

.form-control {
  @include font-size(1.4);
}

.form-check {
  padding-left: 0;
}

select option {
  display: block;
  min-height: 1.2rem;
  padding: 0 2px 1px;
  white-space: pre;
}

.mark-questionMark:after {
  font-family: $font-awesome;
  content: '\f059';
  @include vertical-align;
  width: 20px;
  height: 20px;
  color: $black;
}

.form-label-vertical-align {
  height: 20px;
  align-self: center;
}

.pager {
  label {
    margin-bottom: 0;
  }

  select.resultsPerPage {
    padding: 0 1.2rem 0 0.5rem;
  }

  .pageNumber {
    max-width: 70px;
  }

  .pagination-section-arrows {
    & > div {
      margin-bottom: 0;

      & > label > div {
        width: 160px;

        a span i {
          color: $dark-grey;
        }
      }
    }
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  pointer-events: none;
}

.ng-dropdown-panel-items {
  max-height: unset !important;
}

.is-invalid {
  border: 2px solid $alert-danger;
}

#quill-editor.is-invalid .ql-editor {
  border: 2px solid $alert-danger;
}

.required {
  color: $required;
}

label {
  font-weight: bold;
}

.form-control .ng-invalid {
  border: 1px solid $error !important;
}

.form-control-plaintext {
  outline: none;
}

.asterisk {
  color: $required;
  font-size: 10px;
  position: relative;
  top: -8px;
}
