// ------
// pictos
// ------
@import "mixins";
@import "variables";

.star {
  position: relative;
  display: block;

  i:before {
    display: none;
  }

  &::after {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: $font-awesome;
    content: '\f005';
    color: $grey2;
  }

  &.on {
    color: $grey;

    &::after {
      color: $yellow;
    }

    i:before {
      display: block;
      color: $dark-grey;
    }
  }
}

.recipient {
  color: $blue;
  display: inline-block;
  padding: 5px 5px 5px 0px;
}

.far {
  font-family: $font-awesome;
}
