// -----
// table
// -----
@import "mixins";
@import "variables";

.table th,
.table td {
  padding: 1rem;
}


.table-bordered,
.table-bordered td,
.table-bordered th {
  border: 1px solid $grey;
  padding: 1rem;
}

thead {
  background-color: $lightest-grey2;
}

table tbody th {
  font-weight: 400;
}

table {
  .h-25 {
    padding: 0;

    div.fa {
      display: block;
      width: 13px;
      margin: 10px auto;
    }

    div.fas {
      display: block;
      width: 13px;
      margin: 10px auto;
    }

    div.fab {
      display: block;
      width: 13px;
      margin: 10px auto;
    }
  }

  .list-time {
    list-style: none;
    padding-left: 40px;

    li {
      position: relative;
      font-size: 1.4rem;
      color: $dark-grey;

      .tag {
        position: absolute;
        top: 1px;
        left: -40px;
      }
    }
  }

  .message {
    color: $dark-grey;
    border-left: 3px solid $dark-grey;
    padding-left: 10px;

    li {
      list-style-type: none;
      box-sizing: content-box;

      &.truncate {
        @include multiLineEllipsis($lineHeight: 2rem, $lineCount: 1, $bgColor: white);
        margin-right: 0;
      }
    }

    li.reponse {
      position: relative;
      display: block;
      padding-left: 2.5rem;
      padding-top: 0.8rem;

      &::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        height: 10px;
        width: 15px;
        border-left: 1px dotted $dark-grey;
        border-bottom: 1px dotted $dark-grey;
      }
    }
  }

}


#tableDashboardEchange thead tr:first-child {
  background-color: $white;
}

#tableDashboardEntreprise {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.fa-sign-in-alt:before {
  color: #ffffff;
}

.events {
  color: #777777;
}
