// ----
// tags
// ----
@import "mixins";
@import "variables";

.tag {
  position: relative;
  display: inline-block;
  background: $grey2;
  color: $white;
  font-size: 1.4rem;
  padding: 0.05rem 0.5rem;
  height: 18px;
  width: 25px;
  line-height: 1.7rem;
  text-align: center;

  > span {
    display: inline-block;
    border-bottom: dotted 1px $white;
    height: 1.6rem;

  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: -0.9rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 9px;
    border-color: transparent transparent transparent $grey2;
  }

  &.delivered {
    background-color: $delivered;

    &:after {
      border-color: transparent transparent transparent $delivered;
    }
  }

  &.undelivered {
    background-color: $alert-danger;

    &:after {
      border-color: transparent transparent transparent $alert-danger;
    }

    & ~ time {
      color: $alert-danger;
      font-weight: bold;
    }
  }

  &.draft {
    background-color: $alert-warning;

    &:after {
      border-color: transparent transparent transparent $alert-warning;
    }

    & ~ time {
      color: $alert-warning;
      font-weight: bold;
    }
  }

  &.send {
    background-color: $darker-blue;

    &:after {
      border-color: transparent transparent transparent $darker-blue;
    }

    & ~ time {
      color: $darker-blue;
      font-weight: bold;
    }
  }

  &.response-awaited {
    background-color: $darker-orange;

    &:after {
      border-color: transparent transparent transparent $darker-orange;
    }
  }

  &.response-available {
    background-color: $delivered;

    &:after {
      border-color: transparent transparent transparent $delivered;
    }

    & ~ time {
      color: $delivered;
      font-weight: bold;
    }
  }

  &.acknowledgment {
    background-color: $dark-blue;

    &:after {
      border-color: transparent transparent transparent $dark-blue;
    }
  }

  &.readed {
    background-color: $readed;

    &:after {
      border-color: transparent transparent transparent $readed;
    }

    & ~ time {
      color: $readed;
      font-weight: bold;
    }
  }
}

.star {
  position: relative;
  display: block;

  i:before {
    display: none;
  }

  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    font-family: $font-awesome;
    content: '\f005';
    color: $grey2;
  }

  &.on {
    color: $grey;

    &::after {
      color: $yellow;
    }

    i:before {
      display: block;
      color: $dark-grey;
    }
  }
}
