// --------
// workflow
// --------
@import "mixins";
@import "variables";

.workflow-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
}

.workflow {
    list-style: none;
    padding: 0 8px 0 32px;
    position: relative;

    &.full-width {
        &::before {
            left: 40px;
        }

        .workflow-item {

            .workflow-badge {
                left: 0;
            }

            .workflow-panel {
                width: 100%;
                display: flex;
                align-items: center;

                &::after {
                    border-left-width: 0;
                    border-right-width: 14px;
                    left: -13px;
                    right: auto
                }
            }
        }
    }

    &-item::before {
        background-color: $grey2;
        content: " ";
        margin-left: 0;
        position: absolute;
        top: 65px;
        width: 1px;
        height: 100%;
    }

    &-item.workflow-step-active::before {
        background-color: $blue;
    }

    &-item.workflow-step-done::before {
        background-color: $green;
    }

    &-item.workflow-step-error::before {
        background-color: $grey2;
    }
}

.workflow-item {
    position: relative;

    &-last {
        .workflow-badge {
            &:before {
                display: none;
            }
        }
    }

    &::after,
    &::before {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }

    &:last-child {
        position: relative;

        &::after {
            content: "";
            position: absolute;
        }
    }

    &:first-child .workflow-badge:after {
        display: none;
    }

    .workflow-panel {
        display: block;
        float: left;
        padding: 1.6rem 0 0 1rem;
        position: relative;
        width: 44%;
        min-height: 80px;

        .btn-add {
            position: absolute;
            right: 15px;
            color: $blue !important;
        }
    }

    .workflow-badge {
        border-radius: 100%;
        @include box-shadow(#{ 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) });
        color: $white;
        font-size: 2rem;
        height: 50px;
        left: 50%;
        line-height: 50px;
        margin-left: -25px;
        position: absolute;
        text-align: center;
        top: 16px;
        width: 50px;
        z-index: 100;
    }

    .workflow-badge--small {
        height: 1.5rem;
        left: 51.75%;
        top: 2.5rem;
        width: 1.5rem
    }

    &.workflow-inverted .workflow-panel {
        float: right;

        &::before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -14px;
            right: auto;
        }

        &::after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -13px;
            right: auto
        }
    }
}

.workflow-badge {
    background-color: $info;

    & + .workflow-panel .workflow-title {
        color: $info;
    }
}

.workflow-header {
    .workflow-heading {
        display: -webkit-box !important;
        display: flex !important;
        -webkit-box-pack: justify !important;
        justify-content: space-between !important;
        -webkit-box-align: center !important;
        align-items: center !important;
    }

    .workflow-title {
        color: #004494;
        font-size: 1.6rem;
        @include roboto-bold;
    }

    .workflow-time {
        display: block;
        margin: .5rem 0;
        font-size: 1.4rem;
    }
}

@mixin reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.workflow-wrapper {
    padding: 0;
    width: 100%;

    .workflow-panel {
        padding: 0;

        article {
            margin-left: 2.4rem;
            background: #f2f2f24a;
            border-radius: 0.25rem;
            display: flex;
            width: 100%;
            flex-direction: column;
        }
    }

    .workflow-item {
        .workflow-badge {
            font-size: 1.4rem;

            .workflow-badge-icon {
                color: #ffffff;
                font-size: 1rem;
                top: -2px;
                position: relative;
            }
        }

        .titre {
            border-radius: 0 50px 50px 0;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 0 48px 0 48px;
            white-space: nowrap;
        }

        &.workflow-step-active {
            .workflow-badge {
                background-color: #2660a4;
            }

            .titre {
                background: #ddedff;
                color: #09213b;
                display: none;
            }
        }

        &.workflow-step-todo {
            .workflow-badge {
                background-color: #cccccc;
            }

            .titre {
                color: #949495;
            }
        }

        &.workflow-step-done {
            .workflow-badge {
                background-color: #0c8100;
            }

            .titre {
                background: #0c81003d;
                color: #0c8100;
                display: none;
            }
        }

        &.workflow-step-error {
            .workflow-badge {
                background-color: #bf0a1b;
            }

            .titre {
                background: #ddedff;
                color: #09213b;
                display: none;
            }
        }
    }
}

