// ------
// common
// ------
@import "mixins";
@import "variables";

body {
  margin: 0;
  @include robotoregular;
  font-size: 1rem;
}

*[class*="mark"]:after {
  margin-left: 3px;
}

//titres
h1,
.h1 {
  @include roboto-light;
  font-weight: normal;
  @include font-size(2.4);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h5,
.h5 {
  @include robotoregular;
  font-weight: normal;
  @include font-size(1.575);
  color: $darker-blue;
}


a, a:not([href]):not([tabindex]) {
  color: $darker-blue !important;
  cursor: pointer !important;
}

b, optgroup, strong {
  font-family: 'robotobold', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

.txt-black {
  color: $black2;
}

.txt-blue {
  color: $darker-blue;
}

.txt-delivered {
  color: $delivered;
}

.txt-undelivered {
  color: $alert-danger;
}

.txt-draft {
  color: $alert-warning;
}

.txt-send {
  color: $darker-blue;
}

.txt-response-awaited {
  color: $darker-orange;
}

.txt-acknowledgment {
  color: $dark-blue;
}

hr {
  margin: 1.5rem 0;
}

.fsize-12 {
  font-size: 1.2rem;
}

.fsize-16 {
  font-size: 1.6rem;
}

// Page rédaction message
//#redactionMessage {
//  .card:nth-child(2) .card-body {
//    background-color: $light-grey;
//  }
//}

// Page dashboard échange
#tableDashboardEchange {
  .tableDashboardEchange_col-1 {
    position: relative;
    width: 35px;
  }

  .tableDashboardEchange_col-2 {
    width: 210px;
  }

  .tableDashboardEchange_col-4 {
    width: 70px;
  }

}

#tableDashboardEntreprise {
  th {
    background-color: #ffffff !important;
  }

  .tableDashboardEntreprise_col-1 {
    width: 210px;
  }

  .tableDashboardEntreprise_col-3 {
    width: 70px;
  }
}

.hidden {
  display: none;
}

.truncate {
  width: auto !important;
  text-overflow: unset !important;
  white-space: normal !important;
}

.ng-optgroup {
  font-weight: bold;
  font-size: 1.6rem;
}

.ql-snow {
  background-color: #ffffff !important;
}

.tooltip {
  font-size: 1.4rem;
}

// downgrade to bootstrap 3
.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  width: 25% !important;
}

.col-md-9 {
  width: 75% !important;
}

.checkbox {
  margin: 0;
}

.d-flex {
  display: -webkit-box !important;
  display: flex !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.progress-bar {
  font-weight: bold;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}

.vcenter {
  display: flex;
  align-items: center;
  padding: 0;
}


