<!-- BEGIN: Content-->
<div class="app-content content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <atx-breadcrumb class="col-12" [breadcrumb]="param" [create]="true" createLabel="creerCanevas" [creationLink]="linkCreation"
                      [creationRoles]="administrationRoles"
      ></atx-breadcrumb>
    </div>
    <div class="content-body" style="margin: 5px" *ngIf="!!filter">
      <!-- account setting page start -->
      <section id="page-account-settings">
        <atx-canevas-filter
          [editeur]="editeur"
          [filter]="filter"
          (reinitFilter)="initFilter()"
          (onChangeFilter)="pageable.page = 0;searchPage($event,pageable)"
        ></atx-canevas-filter>
        <div class="row">
          <div class="col-xl-4 col-12">
            <atx-statistique-recherche [total]="total"
                                       [showDetails]="showDetails"
                                       (onChangeExpanded)="showDetails=$event">

            </atx-statistique-recherche>
          </div>
          <div class="col-xl-8 col-12">
            <atx-pagination [pageable]="pageable" [total]="total" [sortFieldsList]="sortFieldsList"
                            (onChangePagination)="searchPage(filter,$event)">

            </atx-pagination>
          </div>
        </div>
        <div class="row">
          <!-- right content section -->
          <div class="col-md-12">
            <atx-canevas-details *ngFor="let canevas of list"
                                 [model]="canevas"
                                 [editeur]="editeur"
                                 [administrationRoles]="administrationRoles"
                                 [validationRoles]="validationRoles"
                                 [showDetails]="showDetails"
                                 (isDeleted)="updateTotal()"
            ></atx-canevas-details>
          </div>
        </div>
      </section>
      <!-- account setting page end -->
    </div>
  </div>
</div>
<!-- END: Content-->




