<template>
  <div id="doc-convertor" class="page">
    <atx-title titre="Analyse des offres"
               description="Suivre les étapes 3"></atx-title>
    <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="true"
        :timeout="timeout"
        :top="true"
    >
      {{ message }}

      <template v-slot:action="{ attrs }">
        <v-btn
            dark
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Fermer
        </v-btn>
      </template>
    </v-snackbar>
    <div class="p-grid group-box padding-10">
      <v-expansion-panels v-model="panel" :multiple="false">
        <v-expansion-panel>
          <v-expansion-panel-header>
            <h2 style="color: #6286b6; font-weight: bold; "
                class="p-col-12 p-md-12 p-lg-12">
              Etape 1 : Conversion de la consultation en Xlsx pour
              l'analyse</h2>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form
                ref="form"
                v-model="validConversion"
                lazy-validation
            >
              <div class="p-col-12 p-md-12 p-lg-12">
                Meta-Données
                <v-jsoneditor class="variable"
                              v-model="convertRequest.meta"
                              :height="'300px'"
                              :options="{mode:'code'}">

                </v-jsoneditor>
              </div>
              <div class="p-col-12 p-md-12 p-lg-12">
                <v-file-input show-size
                              label="Choisir un Template de document"
                              @change="uploadConvertFile('template', $event)"
                ></v-file-input>
              </div>
              <div>
                <v-btn
                    :disabled="!validConversion"
                    color="success"
                    class="mr-4"
                    @click="generer"
                >
                  Générer
                </v-btn>

                <v-btn
                    color="error"
                    class="mr-4"
                    @click="reset('form')"
                >
                  Réinitialiser
                </v-btn>
              </div>

            </v-form>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <h2 style="color: #6286b6; font-weight: bold"
                class="p-col-12 p-md-12 p-lg-12">Etape 2 : Ouvrir le document
              d'analyse des offres en ligne</h2>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form
                ref="formRedac"
                v-model="valid"
                lazy-validation
            >
              <div class="p-col-12 p-md-12 p-lg-12">
                <v-file-input show-size
                              label="Choisir le document XLSX généré dans l'étape 1"
                              @change="uploadFile($event)"
                ></v-file-input>

                <v-text-field
                    v-model="fileRequest.editorRequest.documentTitle"
                    label="Titre du document (par défault le nom du fichier)"
                ></v-text-field>
                <v-text-field
                    v-model="fileRequest.editorRequest.documentId"
                    label="Id du document"
                    :rules="[v => !!v || 'Id du document est obligatore']"

                ></v-text-field>
                <v-text-field
                    v-model="fileRequest.editorRequest.user.name"
                    :counter="10"
                    :rules="[v => !!v || 'Nom utilisateur est obligatoire']"
                    label="Nom utilisateur"
                    required
                ></v-text-field>
                <v-select
                    v-model="fileRequest.editorRequest.user.roles"
                    :items="modeItems"
                    label="Roles"
                    multiple
                    chips
                ></v-select>
              </div>

              <div v-if="!token">
                <v-btn
                    :disabled="!valid"
                    color="success"
                    class="mr-4"
                    @click="validate"
                >
                  Ouvrir
                </v-btn>

                <v-btn
                    color="error"
                    class="mr-4"
                    @click="reset('formRedac')"
                >
                  Réinitialiser
                </v-btn>
              </div>
              <v-btn small v-else color="error"
                     style="margin: auto; margin-top: 15px"
                     disabled>
                <v-icon dark left>cancel</v-icon>
                Votre document est ouvert en ligne
              </v-btn>

            </v-form>

          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <h2 style="color: #6286b6; font-weight: bold; "
                class="p-col-12 p-md-12 p-lg-12">
              Etape 3 : Génération du rapport analyse</h2>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-form
                ref="finalizeForm"

                v-model="validFinalize"
                lazy-validation
            >
              <div class="p-col-12 p-md-12 p-lg-12">
                <v-file-input show-size
                              label="Choisir un document"
                              @change="fileFinalize.document=$event"
                              :rules="[v => !!v || 'Document est obligatore']"
                ></v-file-input>
                <div class="p-col-12 p-md-12 p-lg-12">
                  Configuration généré après la conversion
                  <v-jsoneditor class="variable"
                                v-model="fileFinalize.configuration"
                                :height="'300px'"
                                :options="{mode:'code'}">

                  </v-jsoneditor>
                </div>
                <v-text-field hide-details="auto"
                              label="Nom de fichier de sortie (Optionnel)"
                              :value="fileFinalize.outputFileName"
                              @change="fileFinalize.outputFileName=$event"
                ></v-text-field>
              </div>
              <div>
                <v-btn
                    :disabled="!validFinalize"
                    color="success"
                    class="mr-4"
                    @click="finalize"
                >
                  Finir
                </v-btn>

                <v-btn
                    color="error"
                    class="mr-4"
                    @click="reset('finalizeForm')"
                >
                  Réinitialiser
                </v-btn>
              </div>

            </v-form>

          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>

</template>

<script>
import TitreComponent from "../shared/components/TitreComponent";
import EditorConvertModel from "../core/models/editor-convert.model";
import EditorRedacRequestModel from "../core/models/editor-redac-request.model";
import EditorConvertAnalyseModel from "@/core/models/editor-convert-analyse.model";
import VJsoneditor from 'v-jsoneditor/src/index'
import EditorRequestModel from "@/core/models/editor-request.model";
import AnalyseRequestModel from "../core/models/analyse-request.model";
import downloadJson from "@/core/utils/download-json.util";

export default {
  components: {'atx-title': TitreComponent, VJsoneditor},
  data() {
    return {
      panel: [1],
      fileFinalize: new AnalyseRequestModel(),
      convertRequest: new EditorConvertAnalyseModel(),
      fileRequest: new EditorRequestModel(),
      timeout: 10000,
      snackbar: false,
      color: '',
      interval: null,
      token: null,
      message: '',
      valid: false,
      validConversion: false,
      validFinalize: false,
      modeItems: [
        'validation',
        'invalidation',
        'modification',
        'reprendre'
      ]
    }
  },
  methods: {
    changeParameter(parameter, value) {
      parameter.showedValue = value;
      const keyList = parameter.key.split(".");
      let object = value;
      if (keyList.length > 1) {
        parameter.key = keyList[0];
        object = JSON.parse(value)
      }
      parameter.value = object;
    },
    generer() {
      this.$refs.form.validate()
      if (this.validConversion) {
        this.$store.dispatch('mpeMock/convertXlsx', this.convertRequest).then(() => {
          this.$refs.form.reset();
          this.validConversion = false;
          this.fileRequest.consultation = this.convertRequest.meta;
          this.convertRequest = new EditorConvertModel();
        })
      }
    },
    validate() {
      this.$refs.formRedac.validate()
      if (this.valid) {
        this.openFile();
      }
    },
    reset(form) {
      this.$refs[form].reset();
      this.convertRequest = new EditorConvertModel();
      this.fileRequest = new EditorRedacRequestModel();
    },
    uploadConvertFile(key, event) {
      this.convertRequest[key] = event;
    },
    getJsonString(key) {
      const object = this.getObject(key);
      return object ? JSON.stringify(object) : null;
    }, getObject(key) {
      const keyList = key.split(".");
      let object = null;
      if (keyList.length > 1) {
        object = {};
        for (let i = keyList.length - 1; i > 0; i--) {
          let keyListElement = keyList[i];
          let field = keyListElement;
          if (i === keyList.length - 1) {
            object[field] = null;
          } else {
            let index = -1;
            const previousObject = object
            if (keyListElement.includes("(") && keyListElement.endsWith(")")) {
              const attr = keyListElement.split("(");
              field = attr[0];
              index = attr[1].split(")");
            }
            object = {};
            object[field] = index !== -1 ? [previousObject] : previousObject;
          }
        }
      }
      return object;
    },
    uploadFile(event) {
      this.token = null;
      this.fileRequest.file = event;
    },
    hashCod(s) {
      return s.split("").reduce(function (a, b) {
        a = ((a << 5) - a) + b.charCodeAt(0);
        return a & a
      }, 0);
    },
    finalize() {
      this.$refs.finalizeForm.validate();
      if (this.validFinalize)
        this.$store.dispatch('mpeMock/analyseReport', this.fileFinalize).then((response) => {
          if (response && response.data) {
            downloadJson(response.data, this.fileFinalize.outputFileName);
            this.color = 'success'
            this.message = 'La réponse est téléchatgée';
            this.snackbar = true;
          } else {
            this.color = 'error'
            this.message = 'La réponse est vide';
            this.snackbar = true;
          }
        }, () => {
          this.color = 'error'
          this.message = 'Une erreur s\'est produite';
          this.snackbar = true;
        });
    },
    openFile() {
      this.fileRequest.editorRequest.user.id = this.hashCod(this.fileRequest.editorRequest.user.name)
      this.$store.dispatch('mpeMock/getEditorToken', this.fileRequest).then(
          (response) => {
            this.color = 'success'
            this.message = 'La demande est terminée avec succès. Ouverture en Ligne';
            this.snackbar = true;
            this.token = response.data;
            if (this.token) {
              window.open(window.location.origin + '/edition-en-ligne?token=' + this.token, '_blank');
              this.interval = setInterval(() => {
                    this.getPlateformeFilesStatus(this.fileRequest.editorRequest.plateformeId)
                  }, 1000
              );

            }
          },
          () => {
            this.color = 'error'
            this.message = 'Erreur lors de la demande d\'édition'
            this.snackbar = true;
            this.token = null;
          }
      );


    },
    showSignature(file) {
      return file !== null && file !== undefined && file.name !== undefined && file.name !== null && file.name.length > 0
    },
    checkStatus(value) {
      if (value && value === 'SAVED_AND_CLOSED') {
        this.initDocEditor();
        this.color = 'success'
        this.message = 'Le document en édition est téléchargé';
        this.snackbar = true;
      } else if (value && value === 'CORRUPTED') {
        this.initDocEditor();
        this.color = 'error'
        this.message = 'Le document en corrompu';
        this.snackbar = true;
      } else if (value && value === 'CLOSED_WITHOUT_EDITING') {
        this.initDocEditor();
        this.color = 'info'
        this.message = 'Le document en fermé sans modification';
        this.snackbar = true;
      } else {
        this.color = 'info'
        this.message = 'Le document en toujours en édition';
        this.snackbar = true;
      }
    },
    initDocEditor() {
      clearInterval(this.interval);
      this.$refs.formRedac.reset();
      this.valid = false;
      this.token = null;
      this.fileRequest = new EditorRedacRequestModel();
      //window.location.reload();
    }, getFileStatus(token) {
      this.$store.dispatch("mpeMock/getFileStatus", token).then(
          (value) => {
            this.checkStatus(value);
          },
          (error) => {
            this.initDocEditor();
            this.color = 'error'
            this.message = error;
            this.snackbar = true;
          }
      )
    }, getPlateformeFilesStatus(plateforme) {
      this.$store.dispatch("mpeMock/getPlateformeFilesStatus", plateforme).then(
          (files) => {
            files.forEach((file) => {
                  if (file.documentId === this.fileRequest.editorRequest.documentId) {
                    if (file.status === 'SAVED_AND_CLOSED') {
                      this.getFileStatus(this.token);
                    } else
                      this.checkStatus(file.status);

                  }

                },
                (error) => {
                  this.initDocEditor();
                  this.color = 'error'
                  this.message = error;
                  this.snackbar = true;
                }
            )
          })
    },
    beforeDestroy: function () {
      clearInterval(this.interval);
    }
  }
}

</script>


<style lang="scss">
.variable {
  color: #FFFFFF;

  div {
    border-radius: 0 !important;
  }
}

.jsoneditor-container {
  div {
    border-radius: 0;
  }

  .jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #6286b6;
    border-bottom: 1px solid #6286b6;
  }
}

.parametre {
  margin: 10px;
  padding: 10px;
}

.group-box {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}
</style>
