<template>
    <div id="doc-generator" class="page">
        <atx-title titre="Comparaison des fichiers Excel"
                   description="Choisir un template de document et générer un tableau comparatif en se basant sur un template défini"></atx-title>
        <v-snackbar
                v-model="snackbar"
                :color="color"
                :multi-line="true"
                :timeout="timeout"
                :top="true"
        >
            {{ message }}

            <template v-slot:action="{ attrs }">
                <v-btn
                        dark
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                >
                    Fermer
                </v-btn>
            </template>
        </v-snackbar>
        <div class="p-grid group-box">
            <h2 style="color: #6286b6; font-weight: bold; padding: 20px"
                class="p-col-12 p-md-12 p-lg-12">
                Renseigner la liste des fichiers de soumissionaires</h2>
            <div class="p-col-12 p-md-12 p-lg-12">
                <v-file-input show-size small-chips
                              multiple
                              label="Choisir la liste des fichiers de comparaison fichier"
                              @change="addToList"></v-file-input>
            </div>

        </div>
        <div class="p-grid group-box">
            <h2 style="color: #6286b6; font-weight: bold; padding: 20px"
                class="p-col-12 p-md-12 p-lg-12">
                Fichier Template de sortie (Tableau de comparaison)</h2>
            <div class="p-col-12 p-md-12 p-lg-12">
                <v-file-input show-size small-chips
                              label="Choisir la liste des fichiers de comparaison fichier"
                              @change="setFile"></v-file-input>
            </div>
        </div>
        <div class="p-grid group-box"
             v-if="file && file.configuration.keyValues && file.configuration.keyValues.length > 0">
            <h2 style="color: #6286b6; font-weight: bold; padding: 20px"
                class="p-col-12 p-md-12 p-lg-12">
                Renseigner les champs
                de fusion</h2>
            <div v-for="parametre in file.configuration.keyValues"
                 v-bind:key="parametre.key"
                 class="p-col-12 p-md-12 p-lg-6">
                <div class="box">
                    <div
                            class=" p-grid  p-justify-between parametre">

                        <v-text-field :label="parametre.key" hide-details="auto"
                                      :value="parametre.value"
                                      @change="parametre.value= $event"></v-text-field>


                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex">
            <v-btn small color="primary" v-if="valid"
                   style="margin: auto; margin-top: 15px"
                   @click="upload">
                <v-icon dark left>check</v-icon>
                Générer
            </v-btn>
        </div>
    </div>

</template>

<script>
import TitreComponent from "../shared/components/TitreComponent";
import FileExtractorModel from "../core/models/file-extractor-model";
import * as moment from 'moment';


export default {
        components: {'atx-title': TitreComponent},
        data() {
            return {
                file: new FileExtractorModel(),
                selectedFile: null,
                timeout: 10000,
                valid: false,
                snackbar: false,
                color: '',
                message: '',
                rules: [
                    value => !!value || 'Obligatoire.'
                ]
            }
        },
        methods: {
            addToList(files) {
                const stillUtc = moment.utc(new Date()).toDate();
                const date = moment(stillUtc).local().format('DD-MM-YYYY HH:mm:ss');
                this.file.fichiers = files;
                this.file.configuration.staticData = [];
                this.file.fichiers.forEach(() => {
                    const dates = []
                    dates.push(date)
                    this.file.configuration.staticData.push({
                        data: dates,
                        startTargetPosition: {column: "C", row: 8}
                    })
                })

            },
            setFile(event) {
                this.file.template = event;
                this.file.configuration.keyValues = [];
                if (!event) {
                    this.valid = false;
                    return;
                }
                this.$store.dispatch('mpeMock/getDocVariable', this.file).then(
                    (response) => {
                        if (response.data['SIMPLE'].length > 0) {
                            response.data['SIMPLE'].forEach(items => {
                                this.file.configuration.keyValues.push({
                                    key: items,
                                    value: null
                                });

                            });
                            this.valid = true;
                        } else {
                            this.color = 'info'
                            this.message = 'La liste des variables est vide'
                            this.snackbar = true;

                        }
                    },
                    () => {
                        this.color = 'error'
                        this.message = 'Erreur lors de la récupération de la liste des variables'
                        this.snackbar = true;

                        this.file.configuration.keyValues = [];
                    }
                );
            },

            upload() {
                this.$store.dispatch('mpeMock/extractXlsx', this.file).then(
                    () => {
                        this.color = 'success'
                        this.message = 'Le document est généré avec succès'
                        this.snackbar = true;
                        this.init();
                    },
                    () => {
                        this.color = 'error'
                        this.message = 'Erreur lors de la génération du document'
                        this.snackbar = true;
                        this.init();
                    }
                );
            },
            validFile(file) {
                return file !== null && file !== undefined && file.name !== undefined && file.name !== null && file.name.length > 0
            },
            init() {
                this.interval = setInterval(() => {
                    this.file = new FileExtractorModel();
                    this.valid = false;
                    window.location.reload();
                    clearInterval(this.interval);
                }, 5000);
            }

        }
    }

</script>

<style>
    #depot {
        padding: 20px;
    }

    .p-message-close.p-link {
        margin-left: auto !important;
        overflow: hidden;
        position: relative;
    }

    .parametre {
        margin: 10px;
        padding: 10px;
    }

    .group-box {
        -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
    }
</style>
