<template>
    <div id="doc-generator" class="page">
        <atx-title titre="Génération de documents"
                   description="Choisir un template de document et générer le avec des paramètres définis"></atx-title>
        <v-snackbar
                v-model="snackbar"
                :color="color"
                :multi-line="true"
                :timeout="timeout"
                :top="true"
        >
            {{ message }}

            <template v-slot:action="{ attrs }">
                <v-btn
                        dark
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                >
                    Fermer
                </v-btn>
            </template>
        </v-snackbar>
        <v-checkbox
                v-model="convertToPdf"
                label="Convertir en PDF"
        ></v-checkbox>
        <variables @generer="upload"></variables>
    </div>

</template>

<script>

import FileGeneratorModel from "@/core/models/file-generator-model";
import TitreComponent from "@/shared/components/TitreComponent";
import VariablesComponent from "@/shared/components/VariablesComponent";

export default {
        components: {'atx-title': TitreComponent, 'variables': VariablesComponent},
        data() {
            return {
                file: new FileGeneratorModel(),
                timeout: 10000,
                valid: false,
                snackbar: false,
                color: '',
                message: '',
                rules: [
                    value => !!value || 'Obligatoire.'
                ]
            }
        },
        methods: {
            upload(event) {
                this.file.template = event.template;
                this.file.keyValues = event.keyValues;
                this.file.convertToPdf = this.convertToPdf;
                this.$store.dispatch('mpeMock/generateDoc', this.file).then(
                    () => {
                        this.color = 'success'
                        this.message = 'Le document est généré avec succès'
                        this.snackbar = true;
                        this.file = new FileGeneratorModel();
                        this.valid = false;
                    },
                    () => {
                        this.color = 'error'
                        this.message = 'Erreur lors de la génération du document'
                        this.snackbar = true;

                    }
                );
            },
            showSignature(file) {
                return file !== null && file !== undefined && file.name !== undefined && file.name !== null && file.name.length > 0
            }
        }
    }

</script>

<style>
    #depot {
        padding: 20px;
    }

    .p-message-close.p-link {
        margin-left: auto !important;
        overflow: hidden;
        position: relative;
    }

    .parametre {
        margin: 10px;
        padding: 10px;
    }

    .group-box {
        -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
    }
</style>
