<template>
  <div id="home" class="page">
    <img src="../assets/atexo.png" alt="atexo_img"
         width="300">
    <h1>{{ msg }}</h1>
    <br/>
    <div v-if="!!filesStatus">

      <div v-for="plateforme  in Object.keys(filesStatus)"
           style="padding: 10px;margin: 10px; box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);border: 1px solid hsla(0, 0%, 0%, 0.2)">
        <h2 style="text-align: left">
          <v-icon large
                  left>
            list
          </v-icon>
          Liste des documents ouverts par {{ plateforme }}
          <v-btn
              class="mx-2" style="float: right"
              fab
              dark small @click="getDocumentStatus"
              color="cyan"
          >
            <v-icon dark>
              refresh
            </v-icon>
          </v-btn>
        </h2>
        <br>
        <v-data-table
            :headers="headers"
            :items="filesStatus[plateforme]"
            :items-per-page="5"
            class="elevation-1"
        >
          <template v-slot:item.title="{ item }">
            <div>{{ item.title }} ({{ item.id }})</div>
          </template>
          <template v-slot:item.status="{ item }">
            <v-chip
                class="ma-2"
                :color="getColor(item.status)"
                label outlined
            >
              <v-icon left>
                {{ getIcon(item.status) }}
              </v-icon>
              {{ getTitle(item.status) }}
            </v-chip>
          </template>

          <template v-slot:item.creationDate="{ item }">
            {{ getDate(item.creationDate) }}
          </template>

          <template v-slot:item.saved="{ item }">
            <v-checkbox
                :input-value="item.saved"
                disabled
                value
            ></v-checkbox>
          </template>
          <template v-slot:item.download="{ item }">
            <v-btn class="mx-2"
                   fab
                   dark
                   small
                   color="primary"
                   @click="downloadFile(item.id, item.fileType)"
            >
              <v-icon dark>
                font_download
              </v-icon>
            </v-btn>
            <v-btn v-if="item.mode === 'redac'"
                   class="mx-2"
                   fab
                   dark
                   small
                   color="primary"
                   @click="downloadXml(item.updatedJson)"
            >
              <v-icon dark>
                save_alt
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </div>
    </div>

  </div>


</template>

<script>
import * as moment from 'moment';

const {DocumentStatusEnum} = require("@/core/enum/document-status.enum");

export default {
  name: 'Serveur DocGen',
  data() {
    return {
      redacStatus: DocumentStatusEnum,
      msg: 'Bienvenue sur le Serveur DOC-GEN',
      headers: [
        {
          text: 'Nom du fichier',
          align: 'start',
          sortable: false,
          value: 'title',
        },
        {text: 'Action Redac', value: 'redacAction'},
        {text: 'Statut de rédaction', value: 'redacStatus'},
        {text: 'Date d\'ouverture', value: 'creationDate'},
        {text: 'Mode', value: 'mode'},
        {text: 'Statut', value: 'status'},
        {text: 'Télécharger les fichiers', value: 'download'}
      ],
    }
  },
  methods: {
    downloadXml(json) {
      this.$store.dispatch('mpeMock/getXml', JSON.parse(json))
    },
    downloadFile(id, format) {
      this.$store.dispatch('mpeMock/getFile', {id, format})
    },
    getDocumentStatus() {
      this.$store.dispatch('mpeMock/getAllFilesStatus')
    },
    getDate(value) {

      var stillUtc = moment.utc(value).toDate();
      return moment(stillUtc).local().format('DD-MM-YYYY [à] HH:mm');
    },
    getIcon(status) {
      switch (status) {
        case 'REQUEST_TO_OPEN':
          return 'add';
        case 'OPENED':
          return 'create';
        case 'SAVED_AND_CLOSED':
          return 'how_to_reg';
        case 'CORRUPTED':
          return 'report';
        case 'CLOSED_WITHOUT_EDITING':
          return 'forward';
        case 'EDITED_AND_SAVED':
          return 'save';
        case 'ERROR_WHILE_SAVING':
          return 'clear';
        case 'NOT_FOUND':
          return 'clear';
        case 'DOWNLOADED':
          return 'check';
      }
    },

    getTitle(status) {
      switch (status) {
        case 'REQUEST_TO_OPEN':
          return 'Demande d\'ouverture';
        case 'OPENED':
          return 'Ouvert';
        case 'SAVED_AND_CLOSED':
          return 'Sauvegardé et fermé';
        case 'CORRUPTED':
          return 'Corrompu';
        case 'CLOSED_WITHOUT_EDITING':
          return 'Fermé sans modification';
        case 'EDITED_AND_SAVED':
          return 'Modifié et sauvegardé';
        case 'ERROR_WHILE_SAVING':
          return 'Error de sauvegarde';
        case 'NOT_FOUND':
          return 'Doucument non trouvé';
        case 'DOWNLOADED':
          return 'Téléchargé';
      }
    },

    getColor(status) {
      switch (status) {
        case 'REQUEST_TO_OPEN':
          return 'primary';
        case 'OPENED':
          return 'primary';
        case 'SAVED_AND_CLOSED':
          return 'success';
        case 'CORRUPTED':
          return 'error';
        case 'CLOSED_WITHOUT_EDITING':
          return 'info';
        case 'EDITED_AND_SAVED':
          return 'info';
        case 'ERROR_WHILE_SAVING':
          return 'error';
        case 'NOT_FOUND':
          return 'error';
        case 'DOWNLOADED':
          return 'success';
      }
    }
  },
  created() {
    this.interval = setInterval(() => this.getDocumentStatus(), 15000);
  }, mounted() {
    this.getDocumentStatus();
  },
  beforeDestroy: function () {
    clearInterval(this.interval);
  },
  computed: {
    filesStatus() {
      return this.$store.state.mpeMock.filesStatus;
    }
  }
}
</script>

<style>
#home {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}


</style>
