<template>
    <div id="swagger-atexo" class="page"/>
</template>

<script>
import SwaggerUI, {presets} from 'swagger-ui'

export default {
        watch: {
            $route() {
                this.buildSwagger();
            }
        },
        mounted() {
            this.buildSwagger();
        }
        , methods: {
            buildSwagger() {
                SwaggerUI({
                    url: window.location.origin+ "/docgen/v3/api-docs?group=REST",
                    dom_id: '#swagger-atexo',
                    presets: [presets.apis],
                    deepLinking: true
                })
            }
        }
    }
</script>

<style>
    @import "../assets/css/swagger.css";


</style>
