<template>
  <div id="doc-generator" class="page">
    <atx-title titre="Edition de documents"
               description="Choisir un template à éditer en ligne"></atx-title>
    <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="true"
        :timeout="timeout"
        :top="true"
    >
      {{ message }}

      <template v-slot:action="{ attrs }">
        <v-btn
            dark
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Fermer
        </v-btn>
      </template>
    </v-snackbar>

    <v-form
        ref="form"
        style="margin: 20px; margin-top: 0"
        v-model="valid"
        lazy-validation
    >
      <v-file-input show-size
                    label="Choisir un template" @change="uploadFile"
      ></v-file-input>
      <v-text-field
          v-model="fileRequest.editorRequest.documentTitle"
          label="Titre du document (par défault le nom du fichier)"
      ></v-text-field>
      <v-text-field
          v-model="fileRequest.editorRequest.documentId"
          label="Id du document"
          :rules="[v => !!v || 'Id du document est obligatoire']"

      ></v-text-field>
      <v-text-field
          v-model="fileRequest.editorRequest.user.name"
          :counter="10"
          :rules="[v => !!v || 'Nom utilisateur est obligatoire']"
          label="Nom utilisateur"
          required
      ></v-text-field>

      <h2 style="color: #6286b6; font-weight: bold; padding: 20px"
          class="p-col-12 p-md-12 p-lg-12">
        Renseigner la liste des variables</h2>
      <div
          class="p-col-12 p-md-12 p-lg-12">
        <v-jsoneditor class="variable" v-if="fileRequest"
                      v-model="fileRequest.editorRequest.documentAdministrableConfiguration.champsFusions"
                      :height="'500px'"
                      :options="{mode:'code'}">

        </v-jsoneditor>
      </div>

      <div v-if="!token">
        <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="validate"
        >
          Ouvrir
        </v-btn>

        <v-btn
            color="error"
            class="mr-4"
            @click="reset"
        >
          Réinitialiser
        </v-btn>
      </div>
      <v-btn small v-else color="error"
             style="margin: auto; margin-top: 15px" disabled>
        <v-icon dark left>cancel</v-icon>
        Votre document est ouvert en ligne
      </v-btn>

    </v-form>


  </div>

</template>

<script>
import TitreComponent from "../shared/components/TitreComponent";
import EditorTemplateRequestModel from "@/core/models/editor-template-request.model";
import variables from "@/shared/components/VariablesComponent.vue";
import VJsoneditor from "v-jsoneditor/src";

export default {
  components: {variables, 'atx-title': TitreComponent, VJsoneditor},
  data() {
    return {
      fileRequest: new EditorTemplateRequestModel(),
      timeout: 10000,
      snackbar: false,
      openOnline: false,
      color: '',
      token: null,
      message: '',
      valid: true,
      interval: null
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate()
      if (this.valid) {
        this.openFile();
      }
    },
    reset() {
      this.$refs.form.reset();
      this.fileRequest = new EditorTemplateRequestModel();
    },
    uploadFile(event) {
      this.token = null;
      this.fileRequest.template = event;
    },
    hashCod(s) {
      return s.split("").reduce(function (a, b) {
        a = ((a << 5) - a) + b.charCodeAt(0);
        return a & a
      }, 0);
    },
    openFile() {
      this.fileRequest.editorRequest.user.id = this.hashCod(this.fileRequest.editorRequest.user.name)
      this.$store.dispatch('mpeMock/getEditorTemplateToken', this.fileRequest).then(
          (response) => {
            this.color = 'success'
            this.message = 'La demande est terminée avec succès. Ouverture en Ligne';
            this.snackbar = true;
            this.token = response.data;
            if (this.token) {
              this.openOnline = true;
              window.open(window.location.origin + '/edition-en-ligne?token=' + this.token, '_blank');
              this.interval = setInterval(() => {
                    this.getPlateformeFilesStatus(this.fileRequest.editorRequest.plateformeId)
                  }, 1000
              );

            }
          },
          () => {
            this.color = 'error'
            this.message = 'Erreur lors de la demande d\'édition'
            this.snackbar = true;
            this.token = null;
          }
      );


    },
    checkStatus(value) {
      if (value && value === 'SAVED_AND_CLOSED') {
        this.initDocEditor();
        this.color = 'success'
        this.message = 'Le document en édition est téléchargé';
        this.snackbar = true;
      } else if (value && value === 'CORRUPTED') {
        this.initDocEditor();
        this.color = 'error'
        this.message = 'Le document en corrompu';
        this.snackbar = true;
      } else if (value && value === 'CLOSED_WITHOUT_EDITING') {
        this.initDocEditor();
        this.color = 'info'
        this.message = 'Le document en fermé sans modification';
        this.snackbar = true;
      } else {
        this.color = 'info'
        this.message = 'Le document en toujours en édition';
        this.snackbar = true;
      }
    },
    initDocEditor() {
      clearInterval(this.interval);
      this.$refs.form.reset();
      this.valid = false;
      this.openOnline = false;
      this.token = null;
      this.fileRequest = new EditorTemplateRequestModel();
    },
    getFileStatus(token) {
      this.$store.dispatch("mpeMock/getFileStatus", token).then(
          (value) => {
            this.checkStatus(value);
          },
          (error) => {
            this.initDocEditor();
            this.color = 'error'
            this.message = error;
            this.snackbar = true;
          }
      )
    }, getPlateformeFilesStatus(plateforme) {
      this.$store.dispatch("mpeMock/getPlateformeFilesStatus", plateforme).then(
          (files) => {
            files.forEach((file) => {
                  if (file.documentId === this.fileRequest.editorRequest.documentId) {
                    if (file.status === 'SAVED_AND_CLOSED') {
                      this.getFileStatus(this.token);
                    } else
                      this.checkStatus(file.status);

                  }

                },
                (error) => {
                  this.initDocEditor();
                  this.color = 'error'
                  this.message = error;
                  this.snackbar = true;
                }
            )
          })
    },
    beforeDestroy: function () {
      clearInterval(this.interval);
    }
  }
}

</script>

<style>
#depot {
  padding: 20px;
}

.p-message-close.p-link {
  margin-left: auto !important;
  overflow: hidden;
  position: relative;
}

.parametre {
  margin: 10px;
  padding: 10px;
}

.group-box {
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}
</style>
