@charset "utf-8";
/* CSS Document */

/* Override rich faces */
.dr-mpnl-mask-div { background-color: #d0d0d0; border: 0; border-style: none; filter: alpha(opacity=50); height: 100%; left: 0; margin: 0; opacity: .5; padding: 0; position: fixed; top: 0; width: 100%; }
.dr-mpnl-panel { background-color: inherit; height: 1px; margin: 0; padding: 0; position: fixed; width: 1px; z-index: 9; }
.dr-mpnl-resizer { font-size: 1px; line-height: 1px; position: absolute; }
.dr-mpnl-header { height: 20px; vertical-align: middle; width: 100%; z-index: 5; }
.dr-mpnl-pnl-a { left: -32000px; outline-style: none; position: absolute; }
.dr-mpnl-pnl { background-color: inherit; border-style: solid; border-width: 1px; padding: 1px; }
.dr-mpnl-pnl-h { background-position: top left; background-repeat: repeat-x; border-style: solid; border-width: 1px; padding: 2px; }
.dr-mpnl-pnl-b { padding: 10px; }
.dr-mpnl-shadow { border: 1px solid; height: 100%; position: absolute; width: 100%; z-index: 1; }

.rich-modalpanel { text-align:left}
.rich-modalpanel table { border:0; border-collapse:collapse; height:auto; }
.rich-modalpanel table td { border:0; padding:0 !important; }
.rich-mpnl-body, .rich-mpnl-header, rich-mpnl-header-cell { border:0;}
.rich-mpnl-header-cell  { height:20px  !important }
.rich-mpnl-body { padding-top:20px; height:auto !important; }
.rich-mpnl-header { background-color:#E3E3E3; color:#666666; height:15px; padding-left:8px; font-weight:bold; cursor:inherit !important; }
.rich-mpnl-header-cell {  background-color:#E3E3E3; padding:0px}
.dr-mpnl-pnl-b {padding: 0px; !important}
.dr-mpnl-pnl, .dr-mpnl-shadow  { border:1px solid #BABABA; background-color:#fff; width:852px !important; height:auto !important}
.dr-mpnl-pnl table { margin-top:0px}
.rich-mpnl-body { padding:0px !important; }

#admin-bloc .form-bloc { background:#fff; }
#admin-bloc .form-bloc-erreur table { border:0; }
#admin-bloc .form-bloc-erreur { display:inherit !important; }
#admin-bloc .form-bloc-erreur .bottom  { height:10px; }

#admin-bloc i, #admin-popup i { color:#ff0000; font-weight:bold }

#admin-bloc .spacer-small { clear:both; overflow:hidden; height:10px }
#admin-bloc .fleft { float: left !important;}

#admin-bloc fieldset, #admin-bloc legend { margin:0px; padding:0px }
#admin-bloc fieldset { border:1px solid #c0c0c0; padding:5px; width:auto; text-align:left; margin-bottom:10px; }
#admin-bloc legend { font-weight:bold; margin:0px; padding:0; font-weight:bold; margin-left:4px !important; /margin-left:-2px !important; }

#admin-bloc .bloc-transfert-liste { width:auto; overflow:hidden; margin-top:10px; margin-bottom:10px; margin-left:5px; padding-left:85px; }
#admin-bloc .bloc-transfert-liste .bloc-liste { width:auto; float:left }
#admin-bloc .bloc-transfert-liste .bloc-liste .titre { font-weight:bold; background-image:none; font-size:11px ; padding-left:0px; margin-left:0px; margin-bottom:0px; margin-bottom:5px; padding:0px !important; height:auto; }
#admin-bloc .bloc-transfert-liste .actions { float:left; text-align:center; width:100px; padding-top:22px  }
#admin-bloc .bloc-transfert-liste .actions input, .bloc-transfert-liste .actions button { display:block; clear:left; margin:0 auto; width:42px !important; border:0px; height:16px; margin-bottom:3px; cursor:pointer }
#admin-bloc .bloc-transfert-liste input.move-right, .bloc-transfert-liste button.move-right { background:url(../images/picto-move-right.gif) no-repeat; }
#admin-bloc .bloc-transfert-liste input.move-right-all, .bloc-transfert-liste button.move-right-all { background:url(../images/picto-move-right-all.gif) no-repeat; }
#admin-bloc .bloc-transfert-liste input.move-left, .bloc-transfert-liste button.move-left { background:url(../images/picto-move-left.gif) no-repeat; }
#admin-bloc .bloc-transfert-liste input.move-left-all, .bloc-transfert-liste button.move-left-all { background:url(../images/picto-move-left-all.gif) no-repeat; }

#admin-bloc .bloc-transfert-liste select {display:block; float:left; margin:0px; padding:0px }
#admin-bloc .bloc-transfert-liste select.small { width:150px; }
#admin-bloc .bloc-transfert-liste select.moyen { width:250px !important; }

#admin-bloc .bouton, #admin-popup .bouton { width:100% !important; clear:both; float:left; margin-top:20px; }
#admin-popup .bouton { width:840px !important; padding:0 5px; }
#admin-bloc .bouton a, #admin-popup .bouton a { text-decoration:none; font-size:11px; background:url(../images/bouton-short-bk.gif) no-repeat; width:84px; height:18px; color:#fff; text-align:center; font-weight:bold; padding-top:2px; cursor:pointer; }
#admin-bloc .bouton .left, #admin-popup .bouton .left { float:left }
#admin-bloc .bouton .right, #admin-popup .bouton .right { float:right; margin-left:10px; }

#admin-bloc .line, #admin-popup .line { width:99% !important; _width:95% !important; /*padding-left:5px;*/ clear:left; float:left; margin-bottom:5px; text-align:left; padding-bottom:5px; margin-left:5px;  }
#admin-bloc .intitule, #admin-popup .intitule, #admin-popup .intitule-small2 { float:left; width:130px; }

#admin-bloc .GWTUpld { border:0; }
#admin-bloc input.gwt-FileUpload { width:508px !important; }
#admin-bloc .uploadedFileModif { float:left; }

#admin-bloc table.liste-docs { clear:both; text-align:left; border-collapse:collapse; background-color:#fff; width:98% !important; border:1px solid #e3e3e3 !important; margin-left:5px; margin-bottom:15px; }
#admin-bloc table.liste-docs td { padding:3px !important; }
#admin-bloc table.liste-docs th  { font-weight:bold; background-color:#e3e3e3; border-bottom:1px solid #e3e3e3; color:#666666; padding:3px !important; text-align:left; }
#admin-bloc table.liste-docs .actions { width:80px; text-align:left; }
#admin-bloc table.liste-docs .actions a, #admin-bloc table.liste-docs .actions button { cursor:pointer; width:21px; height:20px; display:block; float:left; margin-right:3px; border:0; }
#admin-bloc table.liste-docs .actions img { margin-right:3px; }

#admin-bloc table.liste-docs .actions-small { width:50px; text-align:left; }
#admin-bloc table.liste-docs .actions-small a, #admin-bloc table.liste-docs .actions-small button { cursor:pointer; width:21px; height:20px; display:block; float:left; margin-right:3px; border:0; }
#admin-bloc table.liste-docs .actions-small img { margin-right:3px; }
#admin-bloc table.liste-docs tr.on  { background:#F6F6F9; }
#admin-bloc table.liste-docs .lien-deplacer { margin-left:30px; }
#admin-bloc table.liste-docs .lien-deplacer button { width:20px !important; height:20px !important; float:left; background-position:0 top; }
#admin-bloc table.liste-docs .lien-deplacer .monter-off { background:url(../images/picto-monter-off.gif) no-repeat !important; cursor:default; }
#admin-bloc table.liste-docs .lien-deplacer .monter { background:url(../images/picto-monter.gif) no-repeat !important; }
#admin-bloc table.liste-docs .lien-deplacer .descendre-off { background:url(../images/picto-descendre-off.gif) no-repeat !important; cursor:default; }
#admin-bloc table.liste-docs .lien-deplacer .descendre { background:url(../images/picto-descendre.gif) no-repeat !important; }


#admin-bloc table.liste-docs .modifier { background:url(../images/picto-editer.gif) no-repeat; text-indent:-20000px; }
#admin-bloc table.liste-docs .supprimer { background:url(../images/picto-supprimer.gif) no-repeat; text-indent:-20000px; }

#admin-bloc div.atexo-links { width:auto; text-align:left; margin-left:5px; margin-bottom:10px; background:url(../images/picto-arrow-small-grey.gif) no-repeat 0 2px; padding-left:12px; }
#admin-bloc div.atexo-links img { display:none; }
#admin-bloc div.atexo-links a { text-decoration:none !important; cursor:pointer !important; }
#admin-bloc div.atexo-links a:hover { text-decoration:underline !important }

#admin-bloc div.atexo-links a:hover { text-decoration:underline !important }

#admin-bloc select.long3 { width:550px }
#admin-bloc input.long2 { width:500px }
#admin-bloc select.moyen { width:164px }
#admin-bloc textarea.champ-760 { width:760px; }
#admin-popup .champ-610 { width:610px; }

#admin-bloc table.radio-choice-line { border-collapse:collapse; border:0px; clear:none; margin:0px; margin-bottom:5px; width:auto !important; background-color:transparent !important; }
#admin-bloc table.radio-choice-line input { margin:0; padding:0; display:block; float:left; width:auto; margin-right:0px; height:14px; /margin-left:-2px; *margin-right:-5px; }
#admin-bloc table.radio-choice-line td { background-color:transparent; border:0px; padding:0px; padding-right:40px !important; }
*html #admin-bloc table.radio-choice-line td img { padding-left:4px; }
*+html #admin-bloc table.radio-choice-line td img { padding-left:4px; }
#admin-bloc  table.radio-choice-line label { margin-left:3px;}

#admin-popup .popup-form .popup-middle-300 {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; height:300px !important; overflow:auto; padding-top:20px}
#admin-popup .popup-form .popup-middle-auto {width:830px !important; border:1px solid #BABABA  !important; padding:10px; padding-bottom:0px; overflow:auto; padding-top:20px}


/*Editeur Texte*/
#admin-bloc .gwt-RichTextToolbar table { background:none !important; border:0 !important; }

#admin-bloc .hasRichTextToolbar { background:none !important; border:0 !important; }
#admin-bloc .gwt-RichTextToolbar { background: #e3e8f3 url(../images/hborder.png) repeat-x 0px -2003px !important; border-bottom: 1px solid #BBBBBB; margin: 0px; padding: 3px; border-top:0 !important; }
#admin-bloc .gwt-RichTextToolbar .gwt-PushButton-up { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 1px 0px 0px; }
#admin-bloc .gwt-RichTextToolbar .gwt-PushButton-up-hovering { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 1px 0px 0px; }
#admin-bloc .gwt-RichTextToolbar .gwt-PushButton-down { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 0px 0px 1px; }
#admin-bloc .gwt-RichTextToolbar .gwt-PushButton-down-hovering { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 0px 0px 1px; }
#admin-bloc .gwt-RichTextToolbar .gwt-ToggleButton-up { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 1px 0px 0px; }
#admin-bloc .gwt-RichTextToolbar .gwt-ToggleButton-up-hovering { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 1px 0px 0px; }
#admin-bloc .gwt-RichTextToolbar .gwt-ToggleButton-down { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 0px 0px 1px; }

#admin-bloc .gwt-RichTextToolbar .gwt-ToggleButton-down-hovering { border-width: 1px; margin-bottom: 4px; margin-right: 4px; padding: 0px 0px 0px 1px; }
#admin-bloc .cw-RichText { border: 1px solid #BBBBBB; border-spacing: 0px; }


#admin-bloc .GWTUpld .upld-status { display:none !important; }