/* CSS Document */

/*********************************Largeur 100%**********************************/

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, .calendar input, .calendar-heure input, .liste-taches table .echeance input, .liste-taches table .ss-echeance input, .liste-taches table .duree input, input[class^="file-modif"] {
    padding: 3px !important;
    color: #555555;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 1px;
    font-size: 11px;
    margin-bottom: 3px;
}

select, .liste-taches table .duree select, .liste-taches table .ss-duree select {
    padding: 2px 2px 2px 0 !important;
    box-sizing: content-box;
}

.form-bloc .content .column-moyen select {
    box-sizing: border-box;
}

.liste-taches table .duree input {
    margin: -3px 1px 3px 0 !important;
}

fieldset {
    border-color: #d7d7d7;
    width: 100%;
}

.layer .content select {
    height: auto !important;
}

input:focus, select:focus, textarea:focus {
    border-color: #767676;
    outline: none;
}

#footer, .formulaire-amont .lot, .page-erreur #middle {
    width: 100% !important;
    min-width: 989px;
}

.page-erreur #middle, .layer {
    width: 100% !important;
}

#header .nav, .layer > .content, .form-bloc > .content, .layer > .content, .formulaire-amont .lot, .page-erreur #middle, fieldset, #canevasMap {
    box-sizing: border-box;
}

#header .nav .links {
    float: right;
}

.page-erreur #middle .main-part {
    margin-left: 0;
    padding-right: 0;
}

.form-bloc > .top, .form-bloc > .bottom, .layer > .top, .layer > .bottom, .layerBorder-moyen > .top, .layerBorder-moyen > .bottom, .bloc-arrondi > .top, .bloc-arrondi > .bottom, #edit-El-num .form-bloc .top, #edit-El-num .form-bloc .bottom {
    display: none !important;
}

#nav-code .form-bloc > .top {
    display: block !important;
}

.form-bloc > .content, .layer > .content, .form-saisie .form-bloc .content, .page-erreur .main-part .form-bloc-message .content, .popup-small .form-bloc > .content, .popup-moyen .form-bloc > .content, .popup-moyen2 .form-saisie .form-bloc .content, .popup-moyen .form-saisie .form-bloc .content, .popup-moyen2 .form-bloc .content, .popup-WSSO .form-bloc > .content, .deliberation .form-saisie .form-bloc .content, .bloc-action .form-saisie .form-bloc .content {
    border: 0;
    padding: 10px;
    width: 100% !important;
}

.form-bloc .content .content-bloc-long {
    display: inline-block;
}

.form-saisie .form-bloc > .content, .deliberation .form-saisie .form-bloc > .content, .liste-lot-group .title, #canevasMap > .content, .form-envoi-pub > .content, #organigramme > .content, .popup-moyen2 .form-saisie .form-bloc .content, .layerBorder-moyen > .content, .form-saisie-large .form-bloc > .content, #canevasMap, .bloc-action .form-saisie .form-bloc .content {
    border: 1px solid #d7d7d7 !important;
}

.login .form-bloc .content, .popup-moyen2 .form-bloc .content, .deliberation .form-saisie .form-bloc {
    width: auto !important;
}

.layer > .content {
    min-width: inherit;
    border: 1px solid #999 !important;
}

.bloc-consultation > .content {
    padding: 5px;
}

.bloc-identification-consultation .line-consultation.stick {
    left: 8px;
    right: 8px;
    width: auto;
    top: 48px;
    z-index: 1;
}

.panel-recherche #recap-details {
    padding-top: 0;
}

.panel-recherche #recap-details div:first-child {
    padding-top: 10px;
}

.toggle .title {
    margin-bottom: 0;
}

.calendar {
    width: 105px !important;
}

.calendar img {
    margin: 0 !important;
}

.calendar input {
    width: 62px;
}

.calendar-heure {
    width: 125px;
}

.calendar input, .calendar-heure input, .top-link {
    margin-right: 0 !important;
}

.form-bloc .content .line, .form-bloc .content .column-auto, .form-bloc .content .column {
    margin-bottom: 5px;
}

#blocUniteFonctionnelle .bloc-arrondi .content, #blocReferentielAchat .bloc-arrondi .content, #blocImputationBudgetaire .bloc-arrondi .content {
    width: auto !important;
}

/*Redac*/
#canevasMap .top, #canevasMap .bottom {
    display: none;
}

#canevasMap {
    width: 100%;
}

/*Tableaux*/
.liste-lot-group > table, .liste-lot-group .avenants table, .liste-docs-seance table, .tableau-default table, .results-list table {
    width: 100% !important;
}

.liste-docs-seance .documents-geres .transmission-pieces, .liste-docs-seance .ajout-el {
    margin-left: 0;
}

.results-list table th.top {
    display: none;
    border: 0 !important;
}

.liste-header, .criteres-attrib table th {
    border-bottom-width: 1px !important;
}

.results-list table tr.title-line, .results-list table tr.title-line td, .results-list table tr.title-line th {
    font-weight: inherit !important;
}

.results-list table td, .suivi-contrat table td, .liste-lot-group table td, .liste-lot-group table th, .liste-candidatures table td, .liste-taches table td, .liste-pieces table td, .tableau-default table td, .liste-taches table td, .montant-tranche table tr td, .liste-docs-seance table td, .liste-publication table td, .liste-retraits td {
    padding: 5px 3px;
}

.results-list table tr:hover, .liste-taches table tr:not(.entete-grille):hover, .liste-pieces table tr:hover, .montant-tranche table tr:hover, .montant-tranche table tr:hover td, .liste-docs-seance table tr:hover, .liste-retraits tr:hover, table.documents tr:hover:not(.on), .validation-consultations table tr:hover, .liste-membres table tr:hover, .liste-attributaires table tr:hover {
    background: #fefaea !important;
}

.liste-docs-seance tr strong {
    font-weight: normal;
}

.liste-publication table .line-type-avis, .line-derogation, .suivi-contrat table .colspan {
    background: #e5e5e5;
}

.suivi-contrat table tr.total {
    background: #e5e5e5 !important;
}

.suivi-contrat table tr td.total, .suivi-contrat table tr.on td.total {
    background: #e5e5e5;
    background: rgba(222, 220, 215, .4);
}

.suivi-contrat table .empty {
    border: 0 !important;
    background: none !important;
}

.suivi-contrat table th.total, .suivi-contrat table tr td.total, .suivi-contrat table tr.on td.total, .suivi-contrat tr.total td, .suivi-contrat table .colspan {
    border-color: #f5f4f4 !important;
    border-bottom: 1px solid #ddd !important;
}

.results-list .liste-docs .layer-docs table, .liste-attributaires table {
    border: 0 !important;
}

.results-list .liste-docs .layer-docs table th {
    height: auto;
}

.results-list table .doc-on-first:hover, .results-list table .doc-on:hover {
    background: #f6f4f4 !important;
}

.results-list table .doc-off-first:hover, .results-list table .doc:hover {
    background: #fff !important;
}

.tableau-deliberations .select-col {
    max-width: 14px !important;
    padding: 5px 3px !important;
}

.nav-onglet {
    width: 100%;
    height: auto;
}

.nav-onglet .tab, .nav-onglet .tab-on, .nav-onglet .tab-inactive {
    background: #999;
    border: 1px solid #999;
    border-bottom: 0;
    height: auto;
}

.nav-onglet .tab-inactive {
    background: #eeeced;
    border-color: #eeeced;
}

.nav-onglet .tab {
    background: none;
}

.nav-onglet .tab a, .nav-onglet .tab-on a, .nav-onglet .tab-inactive a {
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    line-height: normal;
}

.nav-onglet .border-left, .nav-onglet .border-right {
    display: none !important;
}

.pagination .partitioner select {
    margin-top: 0;
    padding-bottom: 0;
}

.pagination .partitioner input {
    top: 2px;
}

.pagination .partitioner {
    height: 25px;
}

.pagination .partitioner select {
    height: auto;
}

.envoi-message .iframe-messagerie {
    width: 100% !important;
}

/*Redaction*/
.line-derogation {
    margin-right: 15px;
}

.liste-clause {
    padding-right: 15px !important;
}

.form-bloc .content ul.edit-doc li ul.liste-clause .clause, .bloc-edition, .bloc-edition table {
    width: 100%;
    box-sizing: border-box;
    margin-right: 5px;
}

.form-bloc .content ul.edit-doc li ul.liste-clause img.picto-info-bulle {
    position: absolute;
}

#canevasMap > .content {
    border: 0 !important;
    background: none !important;
}

#canevasMap {
    background: #f5f4f4;
}

.surcharge-clause .form-saisie {
    width: 50%;
}

.surcharge-clause textarea.texte-long {
}

.surcharge-clause .form-saisie.float-right {
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.surcharge-clause textarea.texte-long, .clause-choix-list table {
    width: 100% !important;
}

.surcharge-clause .line {
    padding-right: 10px;
}

.clause-choix-list table .actions {
    width: 30px;
}

/*reset taille cellule tableaux*/
.results-list table .objet-long-420 div, .tableau-deliberations .consult-col {
    width: auto;
}

.form-bloc, .layer > .content, .form-saisie .form-bloc > .content, .form-saisie-large .form-bloc > .content, .popup-small .form-bloc .content, .popup-moyen .form-bloc .content, #canevasMap .content, .bloc-arrondi > .content, #canevasMap, .form-bloc-message .content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-onglet .tab, .nav-onglet .tab-on, .nav-onglet .tab-inactive {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.statistiques .atx-body > .main-part {
    padding: 10px;
}


@media screen and (min-width: 1824px) {
    .span-left, .span-right {
        width: 50%;
        float: left;
    }

    .span-right {
        padding-left: 5px;
        box-sizing: border-box;
    }
}

/***************************************************************REDEFINITION STYLES DEMO***************************************************************/

#layoutPopup, #containerPopup, #containerPopup #middle {
    background: #fff !important;
}

#middle .left-part { width:178px; padding-left:2px; }
#middle .left-part #menu { padding-top:8px; }
#middle .left-part ul { margin-left:0; }
#middle .left-part ul li { line-height:normal; }
#middle .left-part ul li.menu-top-open ul li, #middle .left-part ul li.menu-open span, #middle .left-part ul li.menu-open ul li { border:0; }
#middle .left-part ul li.menu-top-open ul li a, #middle .left-part ul li.menu-top-open ul li.on a, #middle .left-part ul li.menu-open ul li a { padding: 3px 0 2px 15px; line-height:normal; }
#middle .left-part ul li.menu-top span, #middle .left-part ul li.menu-top-open span, #middle .left-part ul li.menu-closed span, #middle .left-part ul li.menu span, #middle .left-part ul li.menu-open span, #middle .left-part ul li.menu-top-closed span  { width:160px; height:24px; padding-top:2px; font-size:1.1em;  }
#middle .left-part ul li.menu-top-closed { background-image:url(../images/menu-closed-bk.gif); }
#middle .left-part ul li.menu-top-open { background-image:url(../images/menu-open-bk.gif); }
#middle .left-part ul li.menu-top, #middle .left-part ul li.menu  { background-image:url(../images/menu-bk.gif); }

#middle .left-part ul li ul li a:hover { color:#077bad; }

#middle .left-part #menu { padding-top: 8px; }

.results-list table th, .results-list table th.top, .results-list table th a { background:#cdcdcd; color:#666666; }

.results-list table a, .results-list table i, .form-saisie .liste-pieces table th, .liste-publication table th, .liste-retraits table th, .questions-reponses table th, .questions-reponses table th a, .questions-reponses table td a, .liste-candidatures table th, .liste-candidatures table th a, .liste-lot-group .title, .results-list .liste-docs .title, .liste-docs-seance .title, .liste-docs-seance table th, .liste-docs-seance table th a, .liste-docs-seance table td a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-lot-group table.recap th a, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table th, table.actualites th, table.actualites td a, table.actualites th a, .liste-lot-group table th, .liste-lot-group table td a, .liste-lot-group table th a, .liste-membres table th, .liste-membres table th a, .validation-consultations table th, .validation-consultations table th a, .validation-consultations table td a, .tableau-deliberations table th, .tableau-deliberations table th a, .tableau-deliberations table td a, .tableau-deliberations .liste-attributaires .layer-attrib table th, .montant-tranche table th { color:#243964; }

.liste-lot-group table th, .liste-docs-seance table th, .form-saisie .liste-pieces table th, .liste-retraits table th, .questions-reponses table th, .liste-candidatures table th, .liste-publication table th, .deliberation .liste-pieces table th, .results-list .liste-docs .layer-docs table, table.actualites th, .liste-membres table th, .validation-consultations table th, .tableau-deliberations table th , .tableau-deliberations .liste-attributaires .layer-attrib table, .montant-tranche table th, .form-saisie .liste-pieces table th, .boutons { border-color:#aaaaaa; }
 
.form-saisie .form-bloc .content, .deliberation .form-saisie .form-bloc .content, .liste-lot-group .title, #canevasMap .content { border-color:#3D6BA6 !important; background-color:#f5f4f4 !important; }
.form-envoi-pub .content, #organigramme .content { border-color:#488ecd !important; background-color:#f5f4f4 !important; }

.layer .content, .form-envoi-pub .gwt-TabPanelBottom, .form-bloc-message .content { border-color:#999999 !important; }

.layer .content .lot-on { background:#EDEBEB; }
.layer .content .lot { background:#f7f5f5; }
.layer .content .lot-on .numero-lot, .layer .content .lot-on .intitule-lot, .layer .content .lot-on .description-lot, .layer .content .lot .numero-lot, .layer .content .lot .intitule-lot, .layer .content .lot .description-lot, .layer .content .lot-on .caracteristiques-lot .title, .layer .content .lot .caracteristiques-lot .title { color:#3D6BA6; }

.nav-onglet .tab a { color:#999999; }
.nav-onglet .tab-on { background:#999999; }
.nav-onglet .tab-inactive  { background:#eeeced; }
.nav-onglet .tab-inactive a { color:#b5b5b5; }

#suiviMessagerieSecurisee .title { color: #999999; }

a.lien_ext, a.lien_ext:after, .title1, a.link, h2, h3, h3 a, h4, .login p.center a, .message-accueil .titre, .message-accueil a, .breadcrumbs, .breadcrumbs a, .form-saisie .form-bloc .content .intitule-strong, .form-saisie .form-bloc .content .intitule-strong2, .form-saisie .form-bloc .content .intitule-strong-auto, .form-bloc-message .content .message, .form-bloc .content .intitule-left-auto strong, .layer .content .intitule-auto-bold, .champ-cpv table a:hover, .layer .content .caracteristiques-tranche a:hover.ajout-tranche, .layer .content .caracteristiques-lots-techniques a:hover.ajout-lot-techniques, a.acceder, .infos-modifs, .form-envoi-pub legend, .form-envoi-pub .gwt-TabBarItem, .form-envoi-pub .gwt-TabPanelBottom, .compositionGroupement .title, .form-bloc .content .numerus-clausus strong, #envoiCourrier .title, .pre-visu .top a:hover.fermer, .clause-choix-list a:hover.ajout-choix, #canevasMap .content a:hover.ajout-el-num, .toggle-all, .toggle-all a, .previsu-doc .content h5, .commissions-details .title, a:hover.ajout-consultation-pressentie, .action-inline .empty-action, #envoiCourrier .pj a, .popup-small ul.liste-docs-generes, .popup-small ul.liste-docs-generes li a, .popup-small ul.liste-docs-generes li a:hover, a.info-link , a:hover.ajout-el, a:hover.consulter-doc, a:hover.modif-link, .text-bloc a.download, .text-bloc a:hover.download, .partitioner a:hover, .classification .intitule-long, .toggle .title, .tableau-deliberations .liste-attributaires .title, .liste-lot-group .note-totale .intitule, .tableau-default .title { color:#243964; }

.results-list table tr.doc-on-first, .results-list table tr.doc-on, .results-list tr .liste-docs .layer-docs table tr.on, .liste-candidatures table tr.on, .deliberation .liste-pieces table tr.on, table.tableau-forme-prix td, #organigramme .content, .validation-consultations table.contenus-envois tr.on, .liste-docs-seance table.generation-convocations tr.on, .tableau-deliberations tr.attrib-on, .tableau-deliberations tr.attrib-on-first, .tableau-deliberations tr .liste-attributaires .layer-attrib table tr.on, .tableau-deliberations table.details-delib .layer-attrib table tr.on td  { background:#F6F4F4; }

.liste-taches table tr.on { background:#E9E7E8; }
.liste-taches table { border-color:#E9E7E8;}
.liste-taches table th, #liste-etapes .entete-grille { background:#CDCDCD; color:#666666; }
.calendrier-gantt table th { background:#243964; }
table.tableau-gantt { border-color:#243964; }
.form-envoi-pub .orange-bk { background:#CDCDCD; }

#footer a {
    color: #666666;
}
#footer { 
	height: auto;
	padding: 10px;
	background: #fff;
}

#footer a:hover {
    color: #999999;
    text-decoration: none;
}

/***************************************************************FIN REDEFINITION STYLES DEMO***************************************************************/

/***************************************************************Correction pour bootstrap et passage en 100%***************************************************************/

form[name="recommandationAttributairesPressentisForm"] .column-auto .intitule-120 {
    width: 130px;
}

form[name="recommandationAttributairesPressentisForm"] .content-estimation div.intitule-prix {
    width: 50px;
}

.gwt-DialogBox label,
.form-saisie label {
    font-weight: normal;
}

.gwt-DialogBox textarea, .gwt-DialogBox input[type="text"],
.gwt-DialogBox input[type="password"], .gwt-DialogBox input[type="datetime"], .gwt-DialogBox input[type="datetime-local"], .gwt-DialogBox input[type="date"], .gwt-DialogBox input[type="month"], .gwt-DialogBox input[type="time"], .gwt-DialogBox input[type="week"], .gwt-DialogBox input[type="number"], .gwt-DialogBox input[type="email"], .gwt-DialogBox input[type="url"], .gwt-DialogBox input[type="search"], .gwt-DialogBox input[type="tel"], .gwt-DialogBox input[type="color"], .gwt-DialogBox .uneditable-input, .gwt-DialogBox select, .gwt-DialogBox .calendar input, .gwt-DialogBox .calendar-heure input, .gwt-DialogBox .liste-taches table .echeance input, .gwt-DialogBox .liste-taches table .ss-echeance input, .gwt-DialogBox .liste-taches table .duree input {
    padding: 2px !important;
}

#courrier- .line .intitule-short2 {
    width: 20%;
}

#courrier- .line input[type="text"], #courrier- .line textarea {
    width: 70%;
}

.form-saisie .form-bloc .content .intitule-long,
.form-saisie .form-bloc .content .intitule-bloc-long {
    width: 230px;
}

.etablir-planning {
    clear: left;
}

.layer .content #deliberations {
    width: 50%;
}

.layer .content input#notification {
    margin-right: 0;
    height: 22px;
    line-height: 22px;
}

.form-bloc .bottom.tooltip,
.form-saisie .form-bloc .bottom.tooltip {
    height: inherit;
    font-size: inherit;
    width: auto;
}

.form-bloc .content form[name="attributionMarcheForm"] input {
    height: 22px;
    line-height: 22px;
}

.form-bloc .content form[name="attributionMarcheForm"] .column-auto,
.form-bloc .content form[name="attributionMarcheForm"] .column {
    width: 90%;
}

.form-bloc .content form[name="attributionMarcheForm"] .column-auto .intitule-long4,
.form-bloc .content form[name="attributionMarcheForm"] .column .intitule-long4 {
    width: 340px;
    text-align: left;
}

.form-bloc .content form[name="attributionMarcheForm"] .column-auto .intitule-left-auto {
    width: auto;
}

.form-bloc .content form[name="attributionMarcheForm"] .column-auto .intitule-left-auto,
.form-bloc .content form[name="attributionMarcheForm"] .column .intitule-left-auto,
.form-bloc .content form[name="attributionMarcheForm"] .column-auto .intitule-auto,
.form-bloc .content form[name="attributionMarcheForm"] .column .intitule-auto,
.form-bloc .content form[name="attributionMarcheForm"] .column-auto .intitule-short,
.form-bloc .content form[name="attributionMarcheForm"] .column .intitule-short {
    width: 340px;
    text-align: left;
}

.form-bloc .content form[name="attributionMarcheForm"] .column .calendar,
.form-bloc .content form[name="attributionMarcheForm"] .column-auto .calendar {

    width: auto !important;
}

.form-bloc .content form[name="attributionMarcheForm"] .column .calendar input,
.form-bloc .content form[name="attributionMarcheForm"] .column-auto .calendar input {
    width: 140px;
}

.form-bloc .content form[name="attributionMarcheForm"] .column input,
.form-bloc .content form[name="attributionMarcheForm"] .column-auto input {
    width: 165px;
}

.form-bloc .content form[name="recommandationAttributairesPressentisForm"] > .column-auto {
    clear: left;
}

.form-saisie .form-bloc .content span.check-choice,
.form-bloc .content .intitule-auto .gwt-CheckBox,
.form-bloc .content .intitule-auto .gwt-RadioButton {
    margin: 4px 0 0;
    float: left;
}

.form-bloc .content .intitule-auto .gwt-CheckBox,
.form-bloc .content .intitule-auto .gwt-RadioButton {
    margin: 0 4px 0 0;
}

.column .intitule-auto .gwt-CheckBox input[type="checkbox"], .column .intitule-auto .gwt-RadioButton input[type="radio"], .column-auto .intitule-auto .gwt-CheckBox input[type="checkbox"], .column-auto .intitule-auto .gwt-RadioButton input[type="radio"] {
	margin: 4px 0 0 0;
}

.form-saisie .form-bloc .content span.check-choice + .content-bloc-auto,
.form-bloc .content .intitule-auto .gwt-CheckBox + .gwt-InlineLabel,
.form-bloc .content .intitule-auto .gwt-RadioButton + label {
    line-height: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    float: left;
}

.main-part.canevas table {
    width: 100%;
}

.main-part.canevas .gwt-Tree table{
    width: 300px;
}
	
a[name="ancre-idite-doc"]:hover { 
    text-decoration: none;
}
.form-bloc form[name="ajoutEchangeForm"] .content .intitule-short2{
    width: 110px;
}

form[name="nouvelleConsultationForm"] .form-bloc .content .chzn-container,
form[name="nouvelleConsultationForm"] .form-bloc .content textarea.objet-consultation,
form[name="nouvelleConsultationForm"] .form-bloc .content select.procedure,
form[name="nouvelleConsultationForm"] .form-bloc .content input.intitule-consultation,
form[name="nouvelleConsultationForm"] .form-bloc .content select
{
    width: 40% !important;
    min-width: 400px !important;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

form[name="nouvelleConsultationForm"] .form-saisie .form-bloc .content .intitule-long, 
form[name="nouvelleConsultationForm"] .form-saisie .form-bloc .content .intitule-bloc-long{
    width: 25%;
    min-width: 320px;
}
form[name="nouvelleConsultationForm"] .form-bloc .content > .float-right{
    float: none !important;
    text-align: right;
    padding-bottom: 8px;
}
form[name="nouvelleConsultationForm"] .form-bloc .content img.picto-info-bulle{
    margin-left: 8px;
}

.popup-moyen .form-bloc .form-bloc form[name="ajoutDocumentPrerempliForm"] .content intitule-short{
}



.layer .content .intitule-short input[type="checkbox"],
.layer .content .intitule-short2 input[type="checkbox"] ,
.layer .content .intitule input[type="checkbox"],
.layer .content .intitule2 input[type="checkbox"],
.layer .content .intitule-moyen input[type="checkbox"],
.layer .content .intitule-moyen80 input[type="checkbox"],
.layer .content .intitule-moyen100 input[type="checkbox"],
.layer .content .intitule-moyen2 input[type="checkbox"],
.layer .content .intitule-moyen3 input[type="checkbox"],
.layer .content .intitule-moyen4 input[type="checkbox"],
.layer .content .intitule-100 input[type="checkbox"],
.layer .content .intitule-150 input[type="checkbox"],

.layer .content .intitule-short input[type="radio"],
.layer .content .intitule-short2 input[type="radio"],
.layer .content .intitule input[type="radio"],
.layer .content .intitule2 input[type="radio"],
.layer .content .intitule-moyen input[type="radio"],
.layer .content .intitule-moyen80 input[type="radio"],
.layer .content .intitule-moyen100 input[type="radio"],
.layer .content .intitule-moyen2 input[type="radio"],
.layer .content .intitule-moyen3 input[type="radio"],
.layer .content .intitule-moyen4 input[type="radio"],
.layer .content .intitule-100 input[type="radio"],
.layer .content .intitule-150 input[type="radio"]{
    float: left;
    height: 22px;
    line-height: 22px;
}

.layer .content .intitule-short label,
.layer .content .intitule-short2 label,
.layer .content .intitule label,
.layer .content .intitule2 label,
.layer .content .intitule-moyen label,
.layer .content .intitule-moyen80 label,
.layer .content .intitule-moyen100 label,
.layer .content .intitule-moyen2 label,
.layer .content .intitule-moyen3 label,
.layer .content .intitule-moyen4 label,
.layer .content .intitule-100 label,
.layer .content .intitule-150 label,

.layer .content .intitule-short label,
.layer .content .intitule-short2 label,
.layer .content .intitule label,
.layer .content .intitule2 label,
.layer .content .intitule-moyen label,
.layer .content .intitule-moyen80 label,
.layer .content .intitule-moyen100 label,
.layer .content .intitule-moyen2 label,
.layer .content .intitule-moyen3 label,
.layer .content .intitule-moyen4 label,
.layer .content .intitule-100 label,
.layer .content .intitule-150 label{
    float: left;
}

.form-horizontal .radio label input[type="radio"], 
.form-horizontal .checkbox input[type="checkbox"]{
    height: 20px;
}
.popup-moyen .form-bloc .content input[type="radio"],
.popup-moyen .form-bloc .content input[type="checkbox"]{
    height: 22px;
}

.form-saisie .form-bloc .content .line #chosen_container__1_chzn { padding-top: 20px; }
.form-saisie .form-bloc  .line .intitule-long label { display: inline; }