label {
  margin-top: 10px;
}

.border-left-primary {
  border-left: 1px solid #2660a4;
}

.border-left-3 {
  border-left-width: 3px!important;
}
.date-statut {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

badge-top {
  margin-top: 5px;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
