<!--Debut Panel Pieces jointes-->

<ng-template [ngIf]="piecesJointes != null && piecesJointes.length > 0 ">
  <div id="preview-template">
    <table class="table table-bordered table-hover">
      <caption class="sr-only">Pièces jointes</caption>
      <thead>
      <tr>
        <th class="col-check" colspan="4">Fichiers</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pieceJointe of piecesJointes">

        <td style="width: 40%">
          <div *ngIf="!pieceJointe.pending && !pieceJointe.erreur" class="dz-filename"><span data-dz-name="">
                                <a (click)="downlaodPieceJointe(pieceJointe)" style="cursor: pointer;"
                                   title="Télécharger le document {{pieceJointe.nom}}"><i
                                  class="fa fa-download"></i> {{pieceJointe.nom}}</a></span></div>
          <div *ngIf="pieceJointe.pending || pieceJointe.erreur" class="dz-filename"><span data-dz-name="">
                                 {{pieceJointe.nom}}</span></div>
        </td>
        <td style="width: 50%">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress active" role="progressbar"
               style="width: 100%;height: 20px">
            <div [ngClass]="pieceJointe.pending?'bg:primary':(pieceJointe.erreur?'bg-danger':'bg-success')"
                 [style.width]="pieceJointe.progress+'%'"
                 class="progress-bar progress-bar-animated progress-bar-striped"
                 data-dz-uploadprogress="">
                  <span>
                    <strong *ngIf="pieceJointe.progress < 100">{{pieceJointe.taille |  fileSize}} | {{pieceJointe.progress | number:'1.0-0' }} %</strong>
                    <strong *ngIf="!pieceJointe.erreur && !pieceJointe.pending && isAntivirusActivated">Fichier vérifié par un antivirus ({{pieceJointe.taille |  fileSize}})</strong>
                    <strong *ngIf="!pieceJointe.erreur && !pieceJointe.pending && !isAntivirusActivated">{{pieceJointe.taille |  fileSize}} | {{pieceJointe.progress | number:'1.0-0' }} %</strong>
                    <strong *ngIf="!pieceJointe.erreur && pieceJointe.progress === 100 && pieceJointe.pending && isAntivirusActivated">En cours d'analyse antivirus</strong>
                    <strong *ngIf="!pieceJointe.erreur && pieceJointe.progress === 100 && pieceJointe.pending && !isAntivirusActivated">Enregistrement du fichier</strong>
              </span>
              <span *ngIf="pieceJointe.erreur">{{pieceJointe.erreur}}</span>
            </div>
          </div>
          <div class="dz-error-message error text-danger"><span data-dz-errormessage></span></div>
        </td>
        <td style="width: 10%">
          <button (click)="deletePieceJointe(pieceJointe)" class="dz-remove btn  btn-md btn-primary btn-xs btn-action"
                  data-dz-remove=""
                  title="Supprimer la pièce jointe" type="button"><span
            class="fa fa-trash"></span></button>
        </td>

      </tr>

      </tbody>
    </table>
  </div>
</ng-template>
<div *ngIf="isAntivirusActivated" class="information d-inline-block w-100">
  <em class="information-icon fas fa-exclamation fa-2x txt-blue p-4 mr-2"></em>
  <span class="txt-blue">Les fichiers seront analysés avec un antivirus</span>
</div>
<div id="dummyPreviewsContainer"></div>
<div #dropzone (addedFile)="onAddedFile($event)" (error)="onError($event)" (queueComplete)="onQueuecomplete($event, dropzone)" (success)="onSuccess($event)"
     (uploadProgress)="onUploadprogress($event)" *ngIf="options" [dropzone]="options"
     class="dropzone mb-2">
  <div class="dz-default dz-message">
    <div>Déposer les fichiers ici pour les joindre</div>
    <div> ou</div>
    <button class="btn btn-secondary dz-clickable" id="dz-button" onclick=" blur(); return false; ">
      <em class="fas fa-tv m-r-1"></em>Importer un fichier depuis le poste local
    </button>
    <div *ngIf="showEspaceDocumentaire"> ou</div>
    <button (click)="$event.stopPropagation();openEspaceDocumentaire()" *ngIf="showEspaceDocumentaire"
            class="btn  btn-md btn-secondary">
      <em class="fas fa-folder-open m-r-1"></em>Importer un fichier depuis l'espace documentaire
    </button>
  </div>
</div>

<!--Fin Panel Pieces jointes-->
